USE [W005]
GO
/****** Object:  View [dbo].[vDTSMRSummary]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDTSMRSummary]
AS
SELECT        MR.Id, MR.LotNumber, MR.RollNumber, MR.StatedGrossLengthMeters, MR.StatedUseableLengthMeters, MR.StatedTotalDefectLengthMeters, SUM(MRD.ActualDefectLengthMeters) AS SumActualDefectLengthMeters, 
                         SUM(MRD.ActualDefectLengthFeet) AS SumActualDefectLengthFeet, SUM(MRD.ProximityLossMeters) AS SumProximityLossMeters, SUM(MRD.ProximityLossFeet) AS SumProximityLossFeet, 
                         SUM(MRD.ActualDefectLengthMeters) + SUM(MRD.ProximityLossMeters) - MR.StatedTotalDefectLengthMeters AS AddlLossPerRoll, (SUM(MRD.ActualDefectLengthMeters) + SUM(MRD.ProximityLossMeters) 
                         - MR.StatedTotalDefectLengthMeters) / MR.StatedUseableLengthMeters AS PCTAddlLossPerRoll
FROM            dbo.DTSMasterRoll AS MR INNER JOIN
                         dbo.DTSMasterRollDefect AS MRD ON MR.Id = MRD.MasterRollId
GROUP BY MR.Id, MR.LotNumber, MR.RollNumber, MR.StatedGrossLengthMeters, MR.StatedUseableLengthMeters, MR.StatedTotalDefectLengthMeters
GO
