USE [W005]
GO
/****** Object:  View [dbo].[vMRPRawMaterialInventory]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--View which returns current raw material inventory by lot
CREATE VIEW [dbo].[vMRPRawMaterialInventory]
AS
SELECT * FROM
(SELECT
	onhand.ItemId,
	onhand.LocId,
	onhand.LotNum,
	SUM(onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) AS [Balance],
	MAX(item.UomDflt) AS [Units],
	MAX(onhand.EntryDate) AS [EntryDate],
	MAX(onhand.Source) AS [Source],
	MAX(CASE WHEN onhand.Source = 10 THEN onhand.LinkId ELSE '' END) AS [PO Number],
	MAX(CASE WHEN onhand.Source = 10 THEN onhand.LinkIDSub ELSE '' END) AS [PO Line Number],
	MAX(vendor.Name) AS [VendorName],
	MAX(employee.FirstName + ' ' + employee.MiddleInit + ' ' + employee.LastName) AS [OrderedByName],
	MAX(lotView.ExpDate) AS [ExpirationDate],
	MAX(onhand.Cost) AS [UnitCost],
	SUM((onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) * onhand.Cost) AS [LotCost],
	DATEDIFF(DAY, GETDATE(), MAX(lotView.ExpDate)) AS [DaysTillExpires],
	DATEDIFF(DAY, MAX(onhand.EntryDate), GETDATE()) AS [DaysHere]
FROM [005].dbo.tblInQtyOnHand onhand
LEFT JOIN [005].dbo.tblPoTransHeader poHeader ON poHeader.TransId = onhand.LinkID
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = onhand.ItemId
LEFT JOIN [005].dbo.tblApVendor vendor ON vendor.VendorID = poHeader.VendorId
LEFT JOIN [005].dbo.tblSmEmployee employee ON employee.EmployeeId = poHeader.OrderedBy
LEFT JOIN [005].dbo.trav_tblInItemLocLot_View lotView ON lotView.ItemId = onhand.ItemId AND lotView.LocId = onhand.LocId AND lotView.LotNum = onhand.LotNum
WHERE onhand.DeletedYn = 0 AND lotView.ExpDate IS NOT NULL
GROUP BY onhand.ItemId, onhand.LocId, onhand.LotNum HAVING SUM(onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) > 0)A
GO
