USE [W005]
GO
/****** Object:  View [dbo].[vCCIMachineGroupsWithKitting]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*  This sp is used by CCIProduction.  It returns Kitting Machine Groups in addition to actual Machine Groups in Traverse. 
	Ref TFS 1137.
*/

CREATE VIEW [dbo].[vCCIMachineGroupsWithKitting]
AS
SELECT DISTINCT mg.MachineGroupId AS MachineGroupId, mg.ScheduleId AS Location
FROM [005].[dbo].[tblMrMachineGroups] mg
		INNER JOIN [005].[dbo].[tblMrOperations] o ON o.MachineGroupId=mg.MachineGroupId

GO
