USE [W005]
GO
/****** Object:  View [dbo].[vsmSignatureInformation]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Script for SelectTopNRows command from SSMS  ******/

CREATE VIEW [dbo].[vsmSignatureInformation]
AS 
	SELECT 
			SI.UserId, 
			FORM.FormName,
			SI.Enabled,
			SI.Location,
			U.FullName,
			SI.LastUpdatedBy,
			SI.LastUpdated,
			SI.ProfessionalTitle,
			SignatureType = iif(SI.SignatureOrder = 0,'Secondary','Primary'),
			SS.Signature,
			FormType = NULL,
			SignInfoId = SI.Id,
			FormId = form.Id,
			ReportDescription  
	FROM dbo.smSignatureInfo as SI 
		INNER JOIN dbo.smSignature as SS on ss.UserId = SI.UserId
		INNER JOIN dbo.smForms as FORM on FORM.Id = SI.FormId
		INNER JOIN dbo.TravActiveUsers U ON U.UserName=SS.UserId
		--INNER JOIN dbo.vtblSMEmployee as EMP on EMP.LastName = SUBSTRING(U.UserName, CHARINDEX('.', U.UserName)+1, LEN(U.UserName))
		--										AND SUBSTRING(EMP.FirstName, 1, 1) = SUBSTRING(U.UserName, 1, 1)

GO
