USE [W005]
GO
/****** Object:  View [dbo].[vCCIInProcessLabor]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vCCIInProcessLabor]  
AS

--	SELECT L.OrderNo as ParentOrderNo
--       , Substring(E.MachineGroupId,1,3) as Site
--       , E.Machine as Machine
--       , L.Operation
--	   , Status = IIF(C.MfgCompleted = 1,'Completed','InProcess')
--       , L.EmployeeId
--       , S.FirstName+' '+S.LastName AS EmpName
--       , CAST(L.ClockIn as Date) AS LaborDate
--       , L.ClockIn
--       , L.ClockOut
--       , L.ClockInDurationMin
--       , FGKits = (SELECT ItemId+'/'+ RevisionNo +CHAR(10) AS [text()] FROM [W005].[dbo].[CCIOrderReleaseInfo] WHERE ParentOrderNo = L.OrderNo FOR XML PATH(''))
--FROM OrderReleaseEventLabor L 
--INNER JOIN OrderReleaseEvent E ON E.Id = L.OrderReleaseEventId
--INNER JOIN [005].dbo.tblSmEmployee S ON S.EmployeeId = L.EmployeeId
--INNER JOIN (SELECT DISTINCT ParentOrderNo, MfgCompleted FROM CCIOrderReleaseInfo) C ON C.ParentOrderNo = L.OrderNo


--Declare @FromDate as Date = '1/1/2019'
--Declare @ToDate as Date = '4/1/2019'

With CTE (OrderNo,ParentOrderNo,MfgCompleted) as (SELECT DISTINCT OrderNo,ParentOrderNo, MfgCompleted FROM [W005].dbo.CCIOrderReleaseInfo 
												  UNION ALL 
											      SELECT DISTINCT OrderNo, ParentOrderNo, MfgComplete
													FROM 
													(
													SELECT DISTINCT B.OrderNo, ParentOrderNo = B.OrderNo, MfgComplete = 0
													FROM [005].dbo.trav_tblMpOrderReleases_view B
													LEFT JOIN [005].dbo.trav_tblMpHistoryOrderReleases_view C ON C.OrderNo = B.OrderNo
													WHERE B.[cf_Parent Order] IS NULL AND C.OrderNo is null
													UNION ALL
													SELECT DISTINCT OrderNo, ParentOrderNo = B.OrderNo, MfgComplete = IIF ((Select DISTINCT OrderNO from [005].dbo.trav_tblMpOrderReleases_view where OrderNo = B.OrderNo) IS NULL, 1, 0)
													FROM [005].dbo.trav_tblMpHistoryOrderReleases_view B
													WHERE [cf_Parent Order] is null 
													) A),

CustCTE (OrderNo, CustId,  CustName) as 
(SELECT OrderNo, O.CustId as CustId, CustName FROM [005].[dbo].[tblMpOrderReleases] O LEFT JOIN [005].[dbo].[tblArCust] C On C.CustId = O.CustId where O.CustId is not null
	UNION 
	SELECT OrderNo, O.CustId as CustId ,CustName FROM [005].[dbo].[tblMpHistoryOrderReleases] O LEFT JOIN [005].[dbo].[tblArCust] C On C.CustId = O.CustId	),

CustCTE2(OrderNo, CustId,  CustName)  as
(SELECT OrderNo, O.CustId as CustId, CustName FROM [005].[dbo].[tblMpOrderReleases] O LEFT JOIN [005].[dbo].[tblArCust] C On C.CustId = O.CustId where OrderNo  not in (select OrderNo from CustCTE)
	UNION 
	SELECT OrderNo, CustId ,CustName FROM CustCTE)

	SELECT 
	distinct
		L.OrderNo as ParentOrderNo
		,SO.CustId as CustID
		,SO.CustName as CustName
       , Substring(E.MachineGroupId,1,3) as Site
       , E.Machine as Machine
       , L.Operation
	   , Status = IIF(C.MfgCompleted = 1,'Completed','InProcess')
       , L.EmployeeId
       , S.FirstName+' '+S.LastName AS EmpName
       , CAST(L.ClockIn as Date) AS LaborDate
       , L.ClockIn
       , L.ClockOut
       , L.ClockInDurationMin
       , FGKits = ISNULL((SELECT ItemId+'/'+ RevisionNo +CHAR(10) AS [text()] FROM [W005].[dbo].[CCIOrderReleaseInfo] WHERE ParentOrderNo = L.OrderNo FOR XML PATH('')),
						(SELECT TOP 1 *
						 FROM 
						 (
							SELECT AssemblyId+'/'+ RevisionNo +CHAR(10) AS [text()] FROM [005].[dbo].[tblMpOrder] WHERE OrderNo = L.OrderNo
							UNION ALL
							SELECT Top 1 AssemblyId+'/'+ RevisionNo +CHAR(10) AS [text()] FROM [005].[dbo].[tblMpHistoryOrderReleases] WHERE OrderNo = L.OrderNo
						 ) A))
FROM [W005].dbo.OrderReleaseEventLabor L 
INNER JOIN [W005].dbo.OrderReleaseEvent E ON E.Id = L.OrderReleaseEventId
INNER JOIN [005].dbo.tblSmEmployee S ON S.EmployeeId = L.EmployeeId
inner JOIN CTE as C ON C.ParentOrderNo = L.OrderNo 
left join CustCTE2 as SO ON C.OrderNo = SO.OrderNo
WHERE CAST(L.ClockIn as Date) > DateAdd(dd, -730, GetDate())

--where CAST(L.ClockIn as Date) between @FromDate and @ToDate

GO
