USE [W005]
GO
/****** Object:  View [dbo].[vYieldRpt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vYieldRpt]
AS
SELECT		ORE.OrderNo
		   ,ORE.ReleaseNo
		   ,OREI.ItemId
		   ,OREI.SerialNo
		   ,OREI.LotNo
			 ,OREI.TravLotNum
		   ,OREI.IsAssembly
		   ,OREI.EventDateTime 
		   ,ORE.MachineGroupId
		   ,OREI.Qty
		   ,OREI.TotalQty
		   ,OREI.TotalQtyConsumed
		   ,OREI.TotalQtyRemaining
		   ,OREI.TotalWaste
		   ,WasteAmount = IIF(OREI.TotalWaste = 0, 0, OREW.WasteAmount)
		   ,OREW.UOM

FROM		[W005].[dbo].[OrderReleaseEvent] AS ORE
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId
			LEFT JOIN [W005].[dbo].[OrderReleaseEventWaste] AS OREW ON ORE.Id=OREW.OrderReleaseEventId OR OREI.Id=OREW.OrderReleaseEventItemId

--ORDER BY	OrderNo, ReleaseNo, SerialNo, ItemId



GO
