USE [W005]
GO
/****** Object:  View [dbo].[vPFMTestData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vPFMTestData]
AS

SELECT h.Id AS TestHdrId, h.ProdOrder, h.RelNo,h.ItemId,h.ItemDesc
	,t.SerialNo,t.LotNo,t.PadNo,t.Id AS TestId,t.[Rewind],t.Retest,t.Complete,t.Pass
	,t.TestDate,t.UserId,t.GageId,t.Pos1,t.pos2,t.pos3,t.pos4,t.UOM
	,c.[Date] AS CalibrationDate,c.UserId AS CalibratedBy, c.CalValue, c.[Target] AS CalTarget, c.[Min] AS CalMin, c.[Max] AS CalMax,c.Id AS CalId
FROM [W005].[dbo].[ProfilometerTestHdr] h
	INNER JOIN [W005].[dbo].[ProfilometerTest] t ON t.TestHdrId=h.Id
	INNER JOIN [W005].[dbo].[ProfilometerCalibration] c ON c.TestHdrId=h.Id





GO
