USE [W005]
GO
/****** Object:  View [dbo].[vMachineConfig]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMachineConfig]
AS
SELECT        C.Id AS MachineConfigId, C.MachineId, C.SlitWidthInches, C.NumberOfCuts, M.MachineGroupId, M.Name, M.Description, M.HourlyCostFactor, M.HourlyCostFactorModified, M.HourlyCostFactorVariable, M.Inactive
FROM            dbo.MachineConfig AS C INNER JOIN
                         dbo.Machine AS M ON M.Id = C.MachineId
GO
