USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseEventItemOutTimeStatus]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOrderReleaseEventItemOutTimeStatus]
AS
	SELECT        OREIOT.OrderReleaseEventId, OREIOT.OrderReleaseEventItemId, OREI.ItemId, OREI.SerialNo, OREI.LotNo, OREIOT.ThawCompletedDT, OREIOT.MaxRoomDTReached, 
							ExpectedOTShipDate = DATEADD(HOUR, OTIS.MinRemainingOTHoursAtShipment * - 1, OREIOT.MaxRoomDTReached), 
							OTIS.ProgramId, L.ExpDate, 
							RemainingOTHours = CASE
												WHEN OREI.LocId LIKE '%DTN' THEN (OTIS.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,[LastScanDateTime],DATEADD(HOUR, -1, GETDATE()))AS FLOAT) + (CAST([TotalRoomMinutes] AS FLOAT)))/60))
												ELSE (OTIS.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,[LastScanDateTime],GETDATE())AS FLOAT) + (CAST([TotalRoomMinutes] AS FLOAT)))/60))
											   END
						  
	FROM					 [W005].dbo.OrderReleaseEventItem AS OREI INNER JOIN
							 [W005].dbo.OrderReleaseEventItemOutTime AS OREIOT ON OREI.Id = OREIOT.OrderReleaseEventItemId INNER JOIN
							 [W005].dbo.OutTimeItemSpecs AS OTIS ON OREI.ItemId = OTIS.ItemId AND (OTIS.ProgramId = OREIOT.ProgramId OR OTIS.ProgramId = 0) INNER JOIN
							 [005].[dbo].[tblInItemLocLot] AS L ON L.ItemId = OREI.ItemId AND (L.LotNum = OREI.TravLotNum) AND L.LocId = OREI.LocId
	WHERE        (OREI.IsAssembly = 0)
GO
