USE [W005]
GO
/****** Object:  View [dbo].[vSolvayContainerXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vSolvayContainerXRef]
AS
SELECT       Id,ContainerNo,SolvayLotNo,SeqNo,TraverseProdOrdNo, TraverseCtnNo,PolarisWorkOrder,PolarisCtnNo
FROM           [w005].[dbo].[SolvayContainerXRef]



GO
