USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseRawItemId]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIOrderReleaseRawItemId]
AS
SELECT DISTINCT OrderNo, ReleaseNo, ItemId
FROM            dbo.vCCIOrderReleaseEventItems
WHERE        (IsAssembly = 0)
GO
