USE [W005]
GO
/****** Object:  View [dbo].[vPoTransRcpt]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vPoTransRcpt]
AS
SELECT TOP (100) PERCENT P.TransId, P.ItemId, R.LotNum, P.LocId, P.ReceiptNum, P.ReceiptDate, P.Name, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS IsMultiUOM, ISNULL(COUNT(R.LotNum), 0) AS LotCnt
FROM            [005].dbo.trav_PoReceiptVendorItem_view AS P INNER JOIN
                         [005].dbo.trav_tblPoTransLotRcpt_View AS R ON P.TransId = R.TransId AND P.ReceiptId = R.ReceiptID INNER JOIN
                         [005].dbo.trav_tblInItem_view AS I ON P.ItemId = I.ItemId
GROUP BY P.TransId, P.ItemId, R.LotNum, P.LocId, P.ReceiptNum, P.ReceiptDate, P.Name, I.[cf_Multi-UOM Serial Item], R.LotNum


GO
