USE [W005]
GO
/****** Object:  View [dbo].[vBOMOperations]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vBOMOperations]
AS
SELECT        DISTINCT O.OrderNo, O.AssemblyId, O.RevisionNo, MrOp.OperationId, R.Step, MrOp.Descr, IIF(RIGHT(ISNULL(MrOp.[cf_Operation Method], ''), 5) ='(N/A)', '', ISNULL(MrOp.[cf_Operation Method], '')) AS OperationMethod, LEN(IIF(RIGHT(ISNULL(MrOp.[cf_Operation Method], ''), 5) ='(N/A)', '', ISNULL(MrOp.[cf_Operation Method], ''))) AS OperationMethodLen, R.MachineGroupId
FROM            [005].dbo.tblMpOrder AS O INNER JOIN
                         [005].dbo.tblMbAssemblyHeader AS H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo INNER JOIN
                         [005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id INNER JOIN
                         [005].dbo.trav_tblMrOperations_view AS MrOp ON MrOp.OperationId = R.OperationId
GO
