USE [W005]
GO
/****** Object:  View [dbo].[vDTSPORcptItemDetail]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vDTSPORcptItemDetail]
AS
SELECT DISTINCT H.TransId, R.ReceiptNum, D.ItemId, D.Descr, LL.[cf_Lot No.] AS LotNo, LL.[cf_Serial No.] AS SerialNo, L.QtyFilled*D.ConversionFactor AS Qty, D.UnitsBase, H.VendorID, V.Name AS VendorName
FROM            [005].dbo.tblPoTransHeader AS H INNER JOIN
                         [005].dbo.tblPoTransReceipt AS R ON R.TransID = H.TransId INNER JOIN
                         [005].dbo.tblPoTransLotRcpt AS L ON L.TransId = R.TransID AND L.RcptNum = R.ReceiptNum INNER JOIN
                         [005].dbo.tblPoTransDetail AS D ON D.TransID = L.TransId AND D.EntryNum = L.EntryNum INNER JOIN
                         [005].dbo.tblApVendor AS V ON V.VendorID = H.VendorId INNER JOIN
                         [005].dbo.tblInItemLoc AS IL ON IL.ItemId = D.ItemId AND IL.LocId = D.LocId AND SUBSTRING(IL.GLAcctCode, 1, 1) IN ('1', '2', '3') INNER JOIN
                         [005].dbo.trav_tblInItemLocLot_View AS LL ON LL.ItemId = D.ItemId AND LL.LocId = D.LocId AND LL.LotNum = L.LotNum
GO
