USE [W005]
GO
/****** Object:  View [dbo].[vMaterialStatusForFreezer]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vMaterialStatusForFreezer]
AS

/*	NOTE: W008 and W005 views use different tables for FGItems. */

/* RM Items */
(
SELECT DISTINCT
		O.ItemId,
		W.LocID,
		O.SerialNo,
		--O.LotNo,
		LotNo  = ISNULL(IIF(C.Characteristic = 'InheritRawMaterialLotNo.', 
						(SELECT LotNo FROM [W005].[dbo].[OrderReleaseEventItem] WHERE SerialNo=O.SerialNo AND IsAssembly = 1), 
						O.LotNo), O.LotNo), --ISNULL is needed, for some reason LotNo returns NULL w/o it.
		O.TravSerNum,
		I.QtyOnHand, 
		I.UomDflt,
		ProgramName = (SELECT ProgramName FROM [W005].[dbo].[Program] WHERE Id=O.ProgramId),
		W.ExtLocID AS CurrentBin,
		O.BinType,
		W.[cf_Physical Location],
		O.LastScanDateTime,
		O.ThawCompletedDT,
		O.TotalRoomMinutes,
		S.MaxRoomTimeHrs,
        [TotalRemainingRoomHours] = (S.MaxRoomTimeHrs - (CAST(O.TotalRoomMinutes AS FLOAT)/60)),
		ExpDate  
FROM	[W005].[dbo].[OutTimeItemStatus] O
		INNER JOIN [W005].[dbo].[OutTimeItemSpecs] AS S ON S.ItemId = O.ItemId AND (S.ProgramId = O.ProgramId)
		INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] AS W ON W.Id = O.CurrentWmBinId
		INNER JOIN (SELECT DISTINCT
							I.ItemId,
							II.LocId,
							II.LotNum,
							QtyOnHand = Cast(II.QtyOnHand as float) / Cast(U.ConvFactor as float),
							I.UomDflt,
							IL.ExpDate 

						FROM [005].dbo.tblInItem AS I
							 INNER JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
							 INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] II ON II.ItemId=I.ItemId
							 INNER JOIN [005].[dbo].[tblInItemLocLot] IL ON IL.ItemId=I.ItemId AND IL.LocId = II.LocID AND IL.LotNum=II.LotNum
						WHERE QtyOnHand > 0
						) I ON I.ItemId = O.ItemId AND I.LocId = W.LocID AND I.LotNum = O.SerialNo 
		LEFT JOIN [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'InheritRawMaterialLotNo.'
		LEFT JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = O.ItemId AND P.CharId = C.Id
WHERE BinType IN ('FREEZER') AND O.InTransitOTStopped = 0
UNION ALL
/* FG Items */
SELECT DISTINCT  
		OREI.ItemId,
		IIS.LocId,
		OREI.SerialNo,
		OREI.LotNo,
		OREI.TravSerNum,
		OREI.TotalQty AS QtyOnHand,
		OREI.UOM,
		ProgramName = (SELECT ProgramName FROM [W005].[dbo].[Program] WHERE Id=OTIS.ProgramId),
		W.ExtLocID AS CurrentBin,
		OTIS.BinType,
		W.[cf_Physical Location],
		OTIS.LastScanDateTime,
		OTIS.ThawCompletedDT,
		OTIS.TotalRoomMinutes,
		S.MaxRoomTimeHrs,

		TotalRemainingRoomHours = (SELECT MIN(IIF(O.TotalRoomMinutes > 0, (OS.MaxRoomTimeHrs - (CAST(O.TotalRoomMinutes AS FLOAT)/60)), 0)) AS TotalRmHrs
									FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] O
											INNER JOIN [W005].[dbo].[OutTimeItemSpecs] AS OS ON OS.ItemId=O.RMItemId
									WHERE O.FGTravSerNum=OREI.TravSerNum AND (OS.ProgramId = OTIS.ProgramId OR OS.ProgramId=0)),

		ExpDate = (SELECT MIN(ExpDate) 
					 FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
						  INNER JOIN [005].[dbo].[tblInItemLocLot] IL ON ItemId=ORK.RMItemId AND (LotNum=ORK.RMSerialNo)
					WHERE ORK.OrderReleaseEventItemId=OREI.Id AND LocID=OREI.LocId)
FROM	[W005].[dbo].[OrderReleaseEvent] AS ORE
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND IsAssembly=1 AND OREI.TotalQty > 0
		INNER JOIN [005].[dbo].[tblInItemSer] IIS ON IIS.ItemId=OREI.ItemId AND IIS.SerNum=OREI.TravSerNum AND IIS.SerNumStatus IN (1,2,5)
		INNER JOIN [W005].[dbo].[OutTimeItemStatus] AS OTIS ON OTIS.ItemId=OREI.ItemId AND OTIS.TravSerNum=OREI.TravSerNum
		INNER JOIN [W005].[dbo].[OutTimeItemSpecs] AS S ON S.ItemId = OTIS.ItemId AND (S.ProgramId = OTIS.ProgramId)
		INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] AS W ON W.Id = OTIS.CurrentWmBinId		
		--LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK ON ORK.OrderReleaseEventItemId=OREI.Id
		--INNER JOIN [W005].[dbo].[vCCIKitExpDate] K ON K.OrderRelEvntItemId=OREI.Id
WHERE BinType IN ('FREEZER') AND OTIS.InTransitOTStopped = 0
)








GO
