USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseCustPOInfo]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseCustPOInfo]
AS
				SELECT OrderNo, ReleaseNo, O.CustId, PurchaseOrder, CustName, O.Status FROM [005].[dbo].[tblMpOrderReleases] O LEFT JOIN [005].[dbo].[tblArCust] C On C.CustId = O.CustId
				UNION ALL
				SELECT OrderNo, ReleaseNo, O.CustId, PurchaseOrder, CustName, O.Status  FROM [005].[dbo].[tblMpHistoryOrderReleases] O LEFT JOIN [005].[dbo].[tblArCust] C On C.CustId = O.CustId

GO
