USE [W005]
GO
/****** Object:  View [dbo].[vMRPFinishedGoodsInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vMRPFinishedGoodsInventory]
AS
SELECT TOP(100000)
	itemLoc.ItemId AS [FinishedGoodsID],
	item.Descr AS [FinishedGoodsDescription],
	itemLoc.LocId AS [FinishedGoodsLocation],
	serial.SerNum AS [FinishedGoodsSerialNum],
	releaseEvent.Id AS [ReleaseEventID],
	program.ProgramName AS [ProgramName],
	OTS.MinDaysUntilExpirAtShipment,
	OTS.MinRemainingOTHoursAtShipment,
	OTS.MaxRoomTimeHrs,
	CAST(kitRMOutTime.TotalRoomMinutes AS decimal(10,2)) / 60 AS [TotalRoomHrs],
	kitRmOutTime.RMItemId AS [RawMaterialID],
	kitRmOutTime.RMLotNo AS [RawMaterialLotNo],

	CASE
		WHEN EXISTS(SELECT 1 FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId) 
			THEN (SELECT MinDaysUntilExpirAtShipment FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId)
		ELSE  (SELECT MinDaysUntilExpirAtShipment FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = 0)
	END AS [RMMinDaysUntilExpirAtShipment],

	CASE
		WHEN EXISTS(SELECT 1 FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId) 
			THEN (SELECT MinRemainingOTHoursAtShipment FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId)
		ELSE  (SELECT MinRemainingOTHoursAtShipment FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = 0)
	END AS  [RMMinRemainingOTHoursAtShipment],

	CASE
		WHEN EXISTS(SELECT 1 FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId) 
			THEN (SELECT MaxRoomTimeHrs FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = OTS.ProgramId)
		ELSE  (SELECT MaxRoomTimeHrs FROM [W005].dbo.OutTimeItemSpecs WHERE ItemId = kitRMOutTime.RMItemId AND ProgramId = 0)
	END AS [RMMaxRommTimeHrs],

	lotView.ExpDate AS [RawMaterialExpirationDate],
	releaseEvent.MfgDate AS [MfgDate],

	assemblyAlias.AliasID AS [AssemblyAliasID],
	(SELECT AliasID FROM [005].dbo.trav_tblInItemAlias_View WHERE ItemId = kitRMOutTime.RMItemId AND RefID = program.CustId AND 
			[cf_FG Program] = program.ProgramName  AND AliasType = 1) AS [RMAliasID]

FROM [005].dbo.tblInItemLoc itemLoc
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = itemLoc.ItemId
LEFT JOIN [005].dbo.tblInItemSer serial ON serial.ItemId = itemLoc.ItemId AND serial.LocId = itemLoc.LocId
LEFT JOIN [W005].dbo.OrderReleaseEventItem releaseEvent ON releaseEvent.ItemId = itemLoc.ItemId AND releaseEvent.LocId = itemLoc.LocId 
		AND releaseEvent.TravSerNum = serial.SerNum
LEFT JOIN [W005].dbo.OutTimeItemSpecs OTS ON OTS.ItemId = itemLoc.ItemId
LEFT JOIN [W005].dbo.Program program ON program.Id = OTS.ProgramId
LEFT JOIN [005].dbo.trav_tblInItemAlias_View assemblyAlias ON assemblyAlias.ItemID = itemLoc.ItemId AND assemblyAlias.RefID = program.CustId 
		AND assemblyAlias.[cf_FG Program] = program.ProgramName AND assemblyAlias.AliasType = 1
LEFT JOIN [W005].dbo.OrderReleaseKitRawMatlOutTime kitRMOutTime ON kitRMOutTime.FGItemId = itemLoc.ItemId AND kitRMOutTime.FGTravSerNum = serial.SerNum
LEFT JOIN [005].dbo.trav_tblInItemLocLot_View lotView ON lotView.ItemId = kitRmOutTime.RMItemId AND lotView.LotNum = kitRmOutTime.RMSerialNo AND lotView.LocId = itemLoc.LocId
--LEFT JOIN [W005].dbo.OutTimeItemSpecs RmOTS ON RmOTS.ItemId = kitRMOutTime.RMItemId
	WHERE itemLoc.GLAcctCode LIKE '7%' AND itemLoc.LocId LIKE 'INV%' AND item.ItemType = 2 AND serial.SerNumStatus = 1 AND releaseEvent.Id IS NOT NULL
ORDER BY FinishedGoodsID, FinishedGoodsLocation, FinishedGoodsSerialNum, RawMaterialID;
GO
