USE [W005]
GO
/****** Object:  View [dbo].[vMachineWithSpecsRequired]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMachineWithSpecsRequired]
AS
	SELECT M.*
	FROM Machine M INNER JOIN [005].dbo.trav_tblMrMachineGroups_view G ON G.MachineGroupId = M.MachineGroupId
	WHERE G.[cf_Machine Spec not Required] IS NULL OR G.[cf_Machine Spec not Required] = 0
GO
