USE [W005]
GO
/****** Object:  View [dbo].[vOrdersRunOnMachine]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOrdersRunOnMachine]
AS
SELECT *
FROM
	(
		SELECT DISTINCT O.OrderNo, R.ReleaseNo, O.AssemblyId, O.RevisionNo, E.MachineGroupId, O.OrderNo+'/'+CAST(R.ReleaseNo AS varchar(4)) AS OrderRelease, Min(E.EventStart) As RunDate
		FROM            [005].dbo.trav_tblMpOrder_View AS O INNER JOIN
								 [005].dbo.tblMpOrderReleases AS R ON R.OrderNo = O.OrderNo INNER JOIN
								 dbo.OrderReleaseEvent AS E ON E.OrderNo = O.OrderNo AND E.ReleaseNo = R.ReleaseNo
		WHERE        (E.MachineGroupId <> 'NO MACHINE')
		GROUP BY O.OrderNo, R.ReleaseNo, O.AssemblyId, O.RevisionNo, E.MachineGroupId
		UNION
		SELECT DISTINCT R.OrderNo, R.ReleaseNo, R.AssemblyId, R.RevisionNo, E.MachineGroupId, R.OrderNo+'/'+CAST(R.ReleaseNo AS varchar(4)) AS OrderRelease, Min(E.EventStart) As RunDate
		FROM            [005].dbo.trav_tblMpHistoryOrderReleases_view AS R INNER JOIN
								 dbo.OrderReleaseEvent AS E ON E.OrderNo = R.OrderNo AND E.ReleaseNo = R.ReleaseNo
		WHERE        (E.MachineGroupId <> 'NO MACHINE')
		GROUP BY R.OrderNo, R.ReleaseNo, R.AssemblyId, R.RevisionNo, E.MachineGroupId
	) A
GO
