USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventItemWithCost]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vCCIOrderReleaseEventItemWithCost]
AS
SELECT        E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, L.GLAcctCode, I.IsAssembly, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.FGExpDate, I.UOM, C.Qty As TravQty, C.Cost, SUM(I.TotalWaste) AS TotalWaste, SUM(I.TotalQtyConsumed) AS TotalQtyConsumed
FROM            dbo.OrderReleaseEvent AS E 
				INNER JOIN dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id 
				INNER JOIN dbo.vCCIParentOrderRawMaterialCost AS C ON C.ParentOrderNo = E.OrderNo AND C.ComponentId = I.ItemId AND (C.LotNum is null or Len(C.LotNum) = 0 or C.LotNum = I.SerialNo or C.LotNum = I.LotNo)  
				INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = I.ItemId and L.LocId = I.LocId
WHERE I.IsAssembly = 0 and E.Operation LIKE 'CUT%'
GROUP BY E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, L.GLAcctCode, I.IsAssembly, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.FGExpDate, I.UOM, C.Qty, C.Cost
UNION ALL
SELECT        E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, L.GLAcctCode, I.IsAssembly, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.FGExpDate, I.UOM, C.Qty As TravQty, C.Cost, SUM(I.TotalWaste) AS TotalWaste, SUM(I.TotalQtyConsumed)+SUM(I.TotalWaste) AS TotalQtyConsumed
FROM            dbo.OrderReleaseEvent AS E 
				INNER JOIN dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id 
				INNER JOIN dbo.vCCIParentOrderRawMaterialCost AS C ON C.ParentOrderNo = E.OrderNo AND C.ComponentId = I.ItemId AND (C.LotNum is null or Len(C.LotNum) = 0 or C.LotNum = I.SerialNo or C.LotNum = I.LotNo)  
				INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = I.ItemId and L.LocId = I.LocId
WHERE I.IsAssembly = 0 and E.Operation NOT LIKE 'CUT%'
GROUP BY E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, L.GLAcctCode, I.IsAssembly, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.FGExpDate, I.UOM, C.Qty, C.Cost

GO
