USE [W005]
GO
/****** Object:  View [dbo].[vCCIProgramKitRevList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vCCIProgramKitRevList]
AS
SELECT DISTINCT P.Name AS Program, H.Id, H.AssemblyId, H.RevisionNo, H.[cf_Customer Revision No], CAST(0 AS bit) AS IsUsedOnMfgGrp
FROM            (SELECT DISTINCT I1.ItemId
                          FROM            [005].dbo.trav_tblInItem_view AS I1 INNER JOIN
                                                    [005].dbo.tblInItemLoc AS L1 ON L1.ItemId = I1.ItemId AND SUBSTRING(L1.GLAcctCode, 1,1) IN ('7','8')) AS I INNER JOIN
                         [005].dbo.trav_tblInItem_view AS II ON II.ItemId = I.ItemId INNER JOIN
                         [005].dbo.WEBProgram AS P ON P.Name = II.[cf_FG Program] INNER JOIN
                         [005].dbo.trav_tblMbAssemblyHeader_view AS H ON H.AssemblyId = II.ItemId AND H.Uom = 'EA'
						 WHERE [cf_Kitted (WI)] = 1 AND (II.ItemType = 2 OR II.[cf_Multi-UOM Serial Item] = 1)
GO
