USE [W005]
GO
/****** Object:  View [dbo].[vInventoryCleanup]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vInventoryCleanup]
AS

/*	Outer query groups materials by the same lot number if Multi-UOM
 *	and returns the SUM of their Qty On Hand
 */
SELECT 
	OH.ItemId, 
	OH.LocId,
	OH.IsSerial,
	OH.IsLotted,
	OH.SerialNo,
	IIF(OH.IsMultiUOM=1, LT.[cf_Lot No.], IIF(OH.IsLotted=1, OH.LotNo, NULL)) AS LotNo,
	OH.UOM,
	CAST(SUM([QtyOnHand]) as Decimal(20,10)) AS [QtyOnHand]
FROM (
	/*  SUBQRY 2: Gets the SUM of Qty On Hand
	 *			  and returns those with a SUM > -1, < 1, and != 0 
	 */
	SELECT 
		OH.ItemId, 
		OH.LocId,
		OH.IsSerial,
		OH.IsLotted,
		OH.IsMultiUOM,
		OH.SerialNo,
		OH.LotNo,
		OH.UOM,
		CAST(SUM([QtyOnHand]) as Decimal(20,10)) AS [QtyOnHand]
	FROM (
		/* SUBQRY 1: Gets Qty On Hand 
		 *			(modeled after vInItemOnHandDetail which once served as the base query for this)
		 */
		SELECT DISTINCT
					OH.SeqNum,
					RTRIM(OH.ItemId) AS ItemId,
					IsNull(I.[cf_Multi-UOM Serial Item], 0) AS IsSerial, 
					I.LottedYN AS IsLotted,
					IsNull(I.[cf_Multi-UOM Serial Item], 0) AS IsMultiUOM,
					IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, OH.LotNum, Null) AS SerialNo,
					OH.LotNum AS LotNo,
					OH.LocId,
					I.UomBase as UOM,
					QtyOnHand = OH.Qty - OH.InvoicedQty - OH.RemoveQty
			FROM [005].dbo.tblInQtyOnHand OH
					INNER JOIN [005].dbo.trav_tblInItem_view I ON I.ItemId = OH.ItemId 
					INNER JOIN [W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
			WHERE (OH.Source = 18 AND OH.EntryDate > G.EntryDate AND OH.RcptLink > 0) ----> Gets Qty on Hand for Mfg'd Items
					OR (OH.Source <> 18 AND OH.EntryDate > G.EntryDate)				  ----> Gets Qty on Hand for Non Mfg'd Items (Inv Adj's, Receipts, etc) after the Go Live Conversion
					OR (OH.EntryDate <= G.EntryDate)								  ----> Gets Qty on Hand for Converted Polaris Items based on the Conversion DATE

	) OH
	GROUP BY OH.ItemId, OH.LocId, OH.IsSerial, OH.IsLotted, OH.IsMultiUOM, OH.SerialNo, OH.LotNo, OH.UOM
	HAVING	(SUM(QtyOnHand) > -1 AND SUM(QtyOnHand) < 1 AND SUM([QtyOnHand]) <> 0)	  ----> only return values > -1 AND < 1, but != 0.

) OH
LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] LT ON LT.ItemId = OH.ItemId AND LT.LocId = OH.LocId AND LT.LotNum = OH.LotNo ----> including this JOIN in the subquery within increases load time for W08
GROUP BY OH.ItemId, OH.LocId, OH.IsSerial, OH.IsLotted, OH.SerialNo, OH.IsMultiUOM, LT.[cf_Lot No.], OH.LotNo, OH.UOM
HAVING	(SUM(QtyOnHand) > -1 AND SUM(QtyOnHand) < 1 AND SUM([QtyOnHand]) <> 0)	  ----> only return values > -1 AND < 1, but != 0.




/* --Original Query
SELECT        ItemId, LocId, IsSerial, IsLotted, SerialNo, LotNo, UOM, QtyOnHand, TravUnitCost, TravExtCost, LaborSetupUnitCost, LaborSetupCost, LaborUnitCost, LaborCost, MachineSetupUnitCost, MachineSetupCost, 
                         MachineUnitCost, MachineCost, MaterialDirectUnitCost, MaterialDirectCost, MaterialIndirectUnitCost, MaterialIndirectCost, SubcontractUnitCost, SubcontractCost, WebExtCost
FROM            [W005].dbo.vInItemOnHandSummary
WHERE        (ABS(QtyOnHand) < 1)<---ABS function increasing load time to several minutes in W08
*/


GO
