USE [W005]
GO
/****** Object:  View [dbo].[vCCIOnTimeReleases]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCIOnTimeReleases]
AS


SELECT DISTINCT *
FROM (
	SELECT DISTINCT
			 M.SalesOrder
			,A.CustName AS CustomerName
			,H.CustPONum AS CustPO
			,H.PODate
			,D.EntryNum AS LineItemNo
			,D.ItemId
			,M.Qty AS OrderQty
			,M.UOM
			,D.ReqShipDate
			,D.ActShipDate
			,C.MfgStartDate AS ReadyToSchedDate
			,DATEDIFF(day, D.ReqShipDate,C.MfgStartDate ) AS VarianceDays


	FROM [005].[dbo].[tblMpOrder] O
		 INNER JOIN [005].[dbo].[tblMpOrderReleases] M ON M.OrderNo=O.OrderNo
		 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] C ON C.OrderNo=M.OrderNo AND C.ReleaseNo=M.ReleaseNo
		 INNER JOIN [005].[dbo].[tblSoTransHeader] H ON H.TransId=M.SalesOrder
		 INNER JOIN [005].[dbo].[tblSoTransDetail] D ON D.TransID=H.TransId
		 INNER JOIN [005].[dbo].[tblArCust] A ON A.CustId=H.CustId
	WHERE D.ReqShipDate < GETDATE() AND D.InItemYN = 1 AND D.QtyOrdSell > 0 
UNION ALL
	SELECT DISTINCT
			 M.SalesOrder
			,A.CustName AS CustomerName
			,H.CustPONum AS CustPO
			,H.PODate
			,D.EntryNum AS LineItemNo
			,D.PartId AS ItemId
			,M.Qty AS OrderQty
			,M.UOM
			,D.ReqShipDate
			,D.ActShipDate
			,C.MfgStartDate AS ReadyToSchedDate
			,DATEDIFF(day, D.ReqShipDate,C.MfgStartDate ) AS VarianceDays

	FROM [005].[dbo].[tblMpHistoryOrderReleases] M
		 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] C ON C.OrderNo=M.OrderNo AND C.ReleaseNo=M.ReleaseNo
		 INNER JOIN [005].[dbo].[trav_tblArHistHeader_view] H ON H.TransId=M.SalesOrder
		 INNER JOIN [005].[dbo].[trav_tblArHistDetail_view] D ON D.TransID=H.TransId AND D.PostRun=H.PostRun
		 INNER JOIN [005].[dbo].[tblArCust] A ON A.CustId=H.CustId
	WHERE D.ReqShipDate < GETDATE() AND D.InItemYN = 1 AND D.QtyOrdSell > 0 AND H.ShipToName IS NOT NULL AND H.ShipToName IS NOT NULL 
) A
--WHERE A.CustPO IS NOT NULL
--ORDER BY SalesOrder, LineItemNo





GO
