USE [W005]
GO
/****** Object:  View [dbo].[vQtyOnHandWithNunezCosts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vQtyOnHandWithNunezCosts]
AS
SELECT        Q.ItemId, Q.LocId, Q.LotNum, SUM(Q.Qty - Q.InvoicedQty - Q.RemoveQty) AS QtyOnHand, Q.Cost AS UnitCost, N.WIMaterialDirectUnitCost, N.WIMaterialIndirectUnitCost, N.WILaborSetupUnitCost, 
                         N.WILaborUnitCost, N.WIMachineSetupUnitCost, N.WIMachineUnitCost, N.WIMachineUnitCostModified, N.WIMachineUnitCostVariable, N.WISubcontractUnitCost
FROM            [005].dbo.tblInQtyOnHand AS Q LEFT OUTER JOIN
                         [W005].dbo.tblInQtyOnHandNunezCost AS N ON N.SeqNum = Q.SeqNum
GROUP BY Q.ItemId, Q.LocId, Q.LotNum, Q.Cost, N.WIMaterialDirectUnitCost, N.WIMaterialIndirectUnitCost, N.WILaborSetupUnitCost, N.WILaborUnitCost, N.WIMachineSetupUnitCost, N.WIMachineUnitCost, 
                         N.WIMachineUnitCostModified, N.WIMachineUnitCostVariable, N.WISubcontractUnitCost
HAVING        (SUM(Q.Qty - Q.InvoicedQty - Q.RemoveQty) <> 0)



GO
