USE [W005]
GO
/****** Object:  View [dbo].[vCCICutListBase]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCICutListBase]
AS
SELECT DISTINCT 
                         dbo.CCIOrderReleaseInfo.ParentOrderNo, dbo.CCIOrderReleaseInfo.InProcess, dbo.CCIManufacturingGroup.ProgramId, dbo.vCCIProgramList.Program, dbo.CCIOrderReleaseInfo.CCIManufacturingGroupId, 
                         dbo.CCIManufacturingGroup.Name, dbo.CCIManufacturingGroup.MFGMethod, dbo.CCIManufacturingGroup.DefaultMFGGroup, dbo.CCIManufacturingGroup.ConveyorTablesOnly, dbo.CCIManufacturingGroup.CutFileReleasePath, 
                         dbo.CCIManufacturingGroup.DimSheetReleasePath, dbo.CCIManufacturingGroup.AllowVariableKitList, dbo.CCIManufacturingGroupCutFileXRef.CutFileGrouping, dbo.CCIManufacturingGroupCutFileXRef.CCICutFileId, 
                         dbo.CCICutFile.MFGMethod AS CFMFGMethod, dbo.CCICutFile.CutFile, dbo.CCICutFile.DimSheet, dbo.CCICutFile.CutFileKitQty, dbo.CCICutFile.FixedNumTables, dbo.CCICutFile.FixedQty, dbo.CCICutFile.MaterialLength, 
                         dbo.CCICutFile.UOM, dbo.CCICutFile.Efficiency, dbo.CCICutFile.RawMaterialDelimited, dbo.CCICutFile.Notes, dbo.CCICutFile.IsOptional, dbo.CCICutFile.CutSeqNo, RAWMaterial =
                             (SELECT        ItemId + ' (' + Cast(R1.Layers AS varchar(10)) + ')' + char(9) AS [text()]
                               FROM            [W005].[dbo].[CCICutFileRawMaterial] AS R1
                               WHERE        R1.CCICutFileId = dbo.CCICutFile.Id
                               ORDER BY ItemId FOR XML PATH('')), Kits =
                             (SELECT        ItemId + ' (' + Cast(K1.PctOfCutFile AS varchar(10)) + '%)' + char(9) AS [text()]
                               FROM            [W005].[dbo].[vCCICutFileKits] AS K1
                               WHERE        K1.CCICutFileId = dbo.CCICutFile.Id
                               ORDER BY ItemId FOR XML PATH(''))
FROM            dbo.CCIOrderReleaseInfo INNER JOIN
                         dbo.CCIManufacturingGroup ON dbo.CCIOrderReleaseInfo.CCIManufacturingGroupId = dbo.CCIManufacturingGroup.Id INNER JOIN
                         dbo.CCIManufacturingGroupCutFileXRef ON dbo.CCIManufacturingGroup.Id = dbo.CCIManufacturingGroupCutFileXRef.CCIManufacturingGroupId INNER JOIN
                         dbo.CCICutFile ON dbo.CCIManufacturingGroupCutFileXRef.CCICutFileId = dbo.CCICutFile.Id INNER JOIN
                         dbo.vCCIProgramList ON dbo.CCIManufacturingGroup.ProgramId = dbo.vCCIProgramList.Id
GO
