USE [W005]
GO
/****** Object:  View [dbo].[vLabelSenderItemTypeCount]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLabelSenderItemTypeCount]
AS
SELECT        dbo.LabelSender.Sender, dbo.LabelXItem.ItemId, COUNT(DISTINCT dbo.LabelXItem.LabelTypeId) AS ReportIdCount
FROM            dbo.LabelSender INNER JOIN
                         dbo.LabelSenderType ON dbo.LabelSender.Id = dbo.LabelSenderType.SenderId INNER JOIN
                         dbo.LabelType ON dbo.LabelSenderType.LabelTypeId = dbo.LabelType.Id INNER JOIN
                         dbo.LabelXItem ON dbo.LabelType.Id = dbo.LabelXItem.LabelTypeId
GROUP BY dbo.LabelSender.Sender, dbo.LabelXItem.ItemId


GO
