USE [W005]
GO
/****** Object:  View [dbo].[vCCIManufacturingGroupKitRevision]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIManufacturingGroupKitRevision]
AS
SELECT        MK.Id AS MfgGrpId, MK.ProgramName, H.Id AS AssemblyHeaderId, H.AssemblyId, H.RevisionNo AS Revision, H.[cf_Customer Revision No] AS CustomerRevision
FROM            dbo.vCCIManufacturingGroupKit AS MK INNER JOIN
                         [005].dbo.trav_tblMbAssemblyHeader_view AS H ON H.AssemblyId = MK.ItemId
GO
