USE [W005]
GO
/****** Object:  View [dbo].[vRawIntermediateInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vRawIntermediateInventory]
AS


SELECT DISTINCT Q.ItemID, Q.LocId
				,IIF(ISNULL(I.[cf_Multi-UOM Serial Item], 0)=1, L.LotNum, NULL) AS SerialNo
				,IIF(ISNULL(I.[cf_Multi-UOM Serial Item], 0)=1, IsNull(L.[cf_Lot No.],L.LotNum), L.LotNum) AS LotNo
				, Q.QtyOnHand AS Qty, I.UomBase
				,L.[cf_Width(IN)] AS 'Width(IN)'
				,TravLotNum = L.LotNum
				,CAST(0 as bit) as IsSerialized
				,(SELECT TOP 1 ExtLocA
					FROM [005].[dbo].[tblWmHistDetail]
					WHERE ItemId=Q.ItemId AND LocId=ISNULL(Q.LocId,'NONE') AND (Lotnum=L.LotNum) 
					ORDER BY ExtHistSeqNum DESC)
				AS BinId
				,(SELECT TOP 1 ExtLocAID
					FROM [005].[dbo].[tblWmHistDetail]
					WHERE ItemId=Q.ItemId AND LocId=ISNULL(Q.LocId,'NONE') AND (Lotnum=L.LotNum) 
					ORDER BY ExtHistSeqNum DESC)
				AS Bin
				,(SELECT [cf_Bin Type]
					FROM [005].[dbo].[trav_tblWmExtLoc_view]
					WHERE Id = (SELECT TOP 1 ExtLocA
									FROM [005].[dbo].[tblWmHistDetail]
									WHERE ItemId=Q.ItemId AND LocId=ISNULL(Q.LocId,'NONE') AND (Lotnum=L.LotNum) 
									ORDER BY ExtHistSeqNum DESC))
				AS BinType
				, L.ExpDate
				, L.[cf_Use By Date] AS UseByDate
FROM [005].dbo.trav_InItemOnHandLot_view Q INNER JOIN 
     [005].dbo.trav_tblInItem_view I ON I.ItemId = Q.ItemId INNER JOIN
     [005].dbo.tblInItemLoc LL ON LL.ItemId = Q.ItemId AND LL.LocId = Q.LocId AND SUBSTRING(LL.GLAcctCode, 1,1) <> '7' LEFT JOIN
	 [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = Q.ItemId AND L.LocId = Q.LocId AND L.LotNum = Q.LotNum
WHERE Q.QtyOnHand > 0 

UNION ALL

SELECT ISer.ItemId, ISer.LocId
		,ISer.SerNum As SerialNo
		,ISer.LotNum As LotNo
		,1 As Qty
		,I.UomBase
		,0 AS 'Width(IN)'
		,ISer.LotNum As TravLotNum 
		,CAST(1 as bit) as IsSerialized
		,(SELECT TOP 1 ExtLocA
			FROM [005].[dbo].[tblWmHistDetail]
			WHERE ItemId=ISer.ItemId AND LocId=ISNULL(ISer.LocId,'NONE') AND (Sernum=ISer.SerNum) 
			ORDER BY ExtHistSeqNum DESC)
		AS BinId
		,(SELECT TOP 1 ExtLocAID
			FROM [005].[dbo].[tblWmHistDetail]
			WHERE ItemId=ISer.ItemId AND LocId=ISNULL(ISer.LocId,'NONE') AND (Sernum=ISer.SerNum) 
			ORDER BY ExtHistSeqNum DESC)
		AS Bin
		,(SELECT [cf_Bin Type]
			FROM [005].[dbo].[trav_tblWmExtLoc_view]
			WHERE Id = (SELECT TOP 1 ExtLocA
							FROM [005].[dbo].[tblWmHistDetail]
							WHERE ItemId=ISer.ItemId AND LocId=ISNULL(ISer.LocId,'NONE') AND (Sernum=ISer.SerNum)
							ORDER BY ExtHistSeqNum DESC))
		AS BinType
		, OREI.FGExpDate
		, NULL as Datetime
FROM [005].[dbo].[tblInItemSer] ISer INNER JOIN 
     [005].dbo.trav_tblInItem_view I ON I.ItemId = ISer.ItemId INNER JOIN
     [005].dbo.tblInItemLoc LL ON LL.ItemId = ISer.ItemId AND LL.LocId = ISer.LocId AND SUBSTRING(LL.GLAcctCode,1,1) <> '7' INNER JOIN
	 [W005].dbo.OrderReleaseEventItem OREI on OREI.ItemId = ISer.ItemId AND OREI.TravSerNum = ISer.SerNum







GO
