USE [W005]
GO
/****** Object:  View [dbo].[vCCIProgramKitPlyList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIProgramKitPlyList]
AS
SELECT DISTINCT PL.Name AS Program, P.Id, P.ItemId, P.PlyName, P.PlyBarcode, P.PlyArea, P.UOM, P.Qty, P.PlyMaterialColor, P.MasterBagNum, P.BagNum, P.StackSeq, P.LastUpdate
FROM            (SELECT DISTINCT I1.ItemId
                          FROM            [005].dbo.tblInItem AS I1 INNER JOIN
                                                    [005].dbo.tblInItemLoc AS L1 ON L1.ItemId = I1.ItemId AND SUBSTRING(L1.GLAcctCode, 1,1) = '7') AS I INNER JOIN
                         [005].dbo.trav_tblInItem_view AS II ON II.ItemId = I.ItemId INNER JOIN
                         [005].dbo.WEBProgram AS PL ON PL.Name = II.[cf_FG Program] INNER JOIN
                         dbo.CCIPly AS P ON P.ItemId = II.ItemId

GO
