USE [W005]
GO
/****** Object:  View [dbo].[vRussView1]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vRussView1]
AS
SELECT 
	header.TransId AS [TransactionID],
	header.TransType AS [Type],
	cust.CustName AS [Customer],
	detail.EntryNum AS [Line #],
	detail.ItemId AS [ItemID],
	item.Descr AS [Description],
	detail.LocId AS [Location ID],
	CONVERT(decimal(10,3), detail.QtyOrdSell) AS [Qty Ordered],
	CONVERT(decimal(10,3), detail.QtyShipSell) AS [Qty Shipped],
	CONVERT(decimal(10,3),detail.QtyOrdSell - detail.QtyShipSell) AS [Qty Needed],
	asmDetail.Sequence AS [Material No],
	asmDetail.Description AS [Material Description],
	CONVERT(decimal(12,3), asmDetail.Qty) AS [Material Qty],
	asmDetail.Uom AS [Material UOM],
	asmDetail.DetailType AS [Material Type],
	CONVERT(date, header.ReqShipDate) AS [Requested Ship Date]
FROM [005].dbo.tblSoTransHeader header
LEFT JOIN[005].dbo.tblArCust cust ON cust.CustId = header.CustId
LEFT JOIN [005].dbo.tblSoTransDetail detail ON detail.TransID = header.TransId
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = detail.ItemId
LEFT JOIN[005].dbo.tblInItemLoc loc ON loc.ItemId = detail.ItemId AND loc.LocId = detail.LocId
LEFT JOIN [005].dbo.tblMbAssemblyHeader asmbly ON asmbly.AssemblyId = detail.ItemId
LEFT Join [005].dbo.tblMbAssemblyDetail asmDetail ON asmDetail.HeaderId = asmbly.Id AND asmDetail.LocId = detail.LocId;
GO
