USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventItems]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIOrderReleaseEventItems]
AS
SELECT        dbo.OrderReleaseEvent.OrderNo, dbo.OrderReleaseEvent.ReleaseNo, dbo.OrderReleaseEvent.CCIParentOrderCutListId, dbo.OrderReleaseEventItem.Id, dbo.OrderReleaseEventItem.OrderReleaseEventId, dbo.OrderReleaseEventItem.ItemId, dbo.OrderReleaseEventItem.LocId, 
                         dbo.OrderReleaseEventItem.IsAssembly, dbo.OrderReleaseEventItem.SerialNo, dbo.OrderReleaseEventItem.LotNo, dbo.OrderReleaseEventItem.TravLotNum, dbo.OrderReleaseEventItem.MfgDate, 
                         dbo.OrderReleaseEventItem.FGExpDate, dbo.OrderReleaseEventItem.MpOrderMatIssuedId, dbo.OrderReleaseEventItem.Qty, dbo.OrderReleaseEventItem.UOM, dbo.OrderReleaseEventItem.MRLengthCounter, 
                         dbo.OrderReleaseEventItem.PLCLengthCounter, dbo.OrderReleaseEventItem.HeadPos, dbo.OrderReleaseEventItem.CutPos, dbo.OrderReleaseEventItem.Slitter2SpoolOffset, 
                         dbo.OrderReleaseEventItem.PrevOrderReleaseEventItemId, dbo.OrderReleaseEventItem.TotalQty, dbo.OrderReleaseEventItem.TotalWaste, dbo.OrderReleaseEventItem.TotalQtyConsumed, 
                         dbo.OrderReleaseEventItem.TotalQtyRemaining, dbo.OrderReleaseEventItem.ReturnedLocId, dbo.OrderReleaseEventItem.EventDateTime, dbo.OrderReleaseEventItem.ByProductItemId, 
                         dbo.OrderReleaseEventItem.TravMatDtlSaved, dbo.OrderReleaseEventItem.Layers, dbo.OrderReleaseEventItem.TravSerNum, dbo.OrderReleaseEventItem.CutFileQtyConsumed, dbo.OrderReleaseEventItem.CutFileWaste, 
                         dbo.OrderReleaseEventItem.NonCutFileWaste, dbo.OrderReleaseEventItem.ScanMaterialWarnings, dbo.OrderReleaseEventItem.SupervisorOverride, dbo.OrderReleaseEventItem.FGCompleted, 
                         dbo.OrderReleaseEventItem.CustRFIDTag, dbo.OrderReleaseEventItem.FGInspectedBy, dbo.OrderReleaseEventItem.IsInPartialKit
FROM            dbo.OrderReleaseEvent INNER JOIN
                         dbo.OrderReleaseEventItem ON dbo.OrderReleaseEvent.Id = dbo.OrderReleaseEventItem.OrderReleaseEventId

GO
