USE [W005]
GO
/****** Object:  View [dbo].[vtblInHistDetailNunezCostLoadFixedCostsUpdate]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vtblInHistDetailNunezCostLoadFixedCostsUpdate]
AS
SELECT        AppId, BatchId, ConvFactor, CostExt, CostExt_Invc, CostStd, CostUnit, DropShipYn, EntryDate, GLPeriod, HistSeqNum, HistSeqNum_Rcpt, ItemId, ItemType, LocId, LotNum, LottedYN, PriceExt, PriceUnit, Qty, 
                         Qty_Invc, RefId, Source, SrceID, SumPeriod, SumYear, TransDate, TransId, TransType, Uom, UomBase, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, 
                         cf_WIMachineUnitCostModified, cf_WIMachineUnitCostVariable, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
FROM            (SELECT        AppId, BatchId, ConvFactor, CostExt, CostExt_Invc, CostStd, CostUnit, DropShipYn, EntryDate, GLPeriod, HistSeqNum, HistSeqNum_Rcpt, ItemId, ItemType, LocId, LotNum, LottedYN, PriceExt, 
                                                    PriceUnit, Qty, Qty_Invc, RefId, Source, SrceID, SumPeriod, SumYear, TransDate, TransId, TransType, Uom, UomBase, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, 
                                                    cf_WIMachineUnitCost, cf_WIMachineUnitCostModified, cf_WIMachineUnitCostVariable, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
                          FROM            [005].dbo.trav_tblInHistDetail_View
                          WHERE        (HistSeqNum IN
                                                        (SELECT        HistSeqNum
                                                          FROM            [W005].dbo.vtblInHistDetailNunezCostIssues))) AS A
WHERE        (ABS(Qty * CostUnit - Qty * (cf_WIMaterialDirectUnitCost + cf_WIMaterialIndirectUnitCost + cf_WILaborSetupUnitCost + cf_WILaborUnitCost + cf_WIMachineSetupUnitCost + cf_WIMachineUnitCost + cf_WISubcontractUnitCost)
                          * ConvFactor) < 1)


GO
