USE [W005]
GO
/****** Object:  View [dbo].[vMpOrderReleaseInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMpOrderReleaseInfo]
AS

	SELECT DISTINCT 
						M.ParentOrderNo, 
						M.OrderNo, 
						M.ReleaseNo, 
						M.PurchaseOrder,
						M.RevisionNo, 
						SP.SalesOrder, 
						SP.CustRev ,
						M.AssemblyId, 
						M.LocId,
						M.Qty,
						M.UOM, 
						M.EstStartDate AS MfgStartDate,
						M.EstCompletionDate AS MfgEndDate,
						SP.ReqShipDate AS RequiredShipDate,
						M.Scheduled,
						M.InProcess,	
						M.MfgCompleted,
						SP.PLNo,
						SP.ShipDate
	FROM            vMpOrderReleases M
					LEFT JOIN vShipPackingListOrderDetails SP ON SP.OrderNo=M.OrderNo AND SP.ReleaseNo=M.ReleaseNo
GO
