USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitRawMatlOutTimePlyScan]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIKitRawMatlOutTimePlyScan]
AS
SELECT        T.OrderReleaseEventItemId, T.ItemId AS KitItemId, T.TravSerNum, T.TravLotNum, OREI.ItemId AS RMItemId, OREI.SerialNo, OREI.LotNo, OT.ProgramId, OT.LastScanDateTime, OT.ThawCompletedDT, OT.TotalRoomMinutes, 
                         OT.TotalFreezerMinutes, OT.TotalReeferMinutes, OT.MaxRoomDTReached, OT.MaxFreezerDTReached, OT.MaxReeferDTReached
FROM            dbo.vCCIKitInfo AS T INNER JOIN
                         dbo.CCIPlyStackHeader AS H ON H.OrderReleaseEventItemId = T.OrderReleaseEventItemId INNER JOIN
                         dbo.CCIPlyStackDetail AS D ON D.CCIPlyStackHeaderId = H.Id INNER JOIN
                         dbo.CCIParentOrderCutList AS CL ON CL.ParentOrderNo = T.OrderNo AND CL.TableId = D.CCITableId INNER JOIN
                         dbo.OrderReleaseEvent AS ORE ON ORE.CCIParentOrderCutListId = CL.Id INNER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0 INNER JOIN
                         [005].dbo.trav_tblInItem_view AS V ON V.ItemId = OREI.ItemId INNER JOIN
                         dbo.OrderReleaseEventItemOutTime AS OT ON OT.OrderReleaseEventItemId = OREI.Id
GO
