USE [W005]
GO
/****** Object:  View [dbo].[vCCIParentOrderCutFilesRemaining]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIParentOrderCutFilesRemaining]
AS
SELECT        ParentOrderNo, COUNT(ParentOrderNo) AS RemainingCutFileCount
FROM            dbo.CCIParentOrderCutList
WHERE        (IsInProcess = 0)
GROUP BY ParentOrderNo
GO
