USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventItemKitBagDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIOrderReleaseEventItemKitBagDetail]
AS

SELECT 
	   [CCIKitBagId]
      ,[OrderReleaseEventItemId]
      ,[ItemId]
      ,[LocId]
      ,[TravSerNum]
      ,[TravLotNum]
      ,[SerialNo]
      ,[LotNo]
      ,[IsAssembly]
  FROM [W005].[dbo].[CCIKitBagDetail] KB
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.Id=KB.OrderReleaseEventItemId

GO
