USE [W005]
GO
/****** Object:  View [dbo].[vDTSPORcptItem]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDTSPORcptItem]
AS
SELECT DISTINCT H.TransId, R.ReceiptNum, R.ReceiptDate, H.VendorId, V.Name, D.ItemId, D.Descr, I.GLAcctCode
FROM            [005].dbo.tblPoTransHeader AS H INNER JOIN
                         [005].dbo.tblPoTransReceipt AS R ON R.TransID = H.TransId INNER JOIN
                         [005].dbo.tblPoTransLotRcpt AS L ON L.TransId = R.TransID AND L.RcptNum = R.ReceiptNum INNER JOIN
                         [005].dbo.tblPoTransDetail AS D ON D.TransID = L.TransId AND D.EntryNum = L.EntryNum INNER JOIN
                         [005].dbo.tblApVendor AS V ON V.VendorID = H.VendorId INNER JOIN
                         [005].dbo.tblInItemLoc AS I ON I.ItemId = D.ItemId AND I.LocId = D.LocId AND SUBSTRING(I.GLAcctCode, 1, 1) IN ('1', '2', '3')
GO
