USE [W005]
GO
/****** Object:  View [dbo].[vCheckListGrid]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCheckListGrid]
AS
SELECT        dbo.OrderReleaseEvent.OrderNo, dbo.OrderReleaseEvent.ReleaseNo, dbo.OrderReleaseEvent.Event AS Event1, dbo.OrderReleaseEvent.EventEnd AS DateSignOff, dbo.OrderReleaseEventCheckList.UserId AS UserSignoff, 
                         dbo.OrderReleaseEventCheckList.CheckListHeaderId, dbo.CheckListHeader.Name AS CheckListName, dbo.CheckListHeader.Description, dbo.CheckListHeader.Frequency, dbo.CheckListHeader.Event AS CheckListEvent, 
                         dbo.CheckListDetail.Sequence, dbo.CheckListItem.CheckListItemGroup, dbo.CheckListItem.CheckListItem, dbo.OrderReleaseEventCheckListDetail.CheckListItemId
FROM            dbo.CheckListDetail INNER JOIN
                         dbo.CheckListItem ON dbo.CheckListDetail.CheckListItemId = dbo.CheckListItem.Id INNER JOIN
                         dbo.CheckListHeader ON dbo.CheckListDetail.CheckListHeaderId = dbo.CheckListHeader.Id INNER JOIN
                         dbo.OrderReleaseEventCheckListDetail ON dbo.CheckListItem.Id = dbo.OrderReleaseEventCheckListDetail.CheckListItemId INNER JOIN
                         dbo.OrderReleaseEventCheckList ON dbo.OrderReleaseEventCheckListDetail.OrderReleaseEventCheckListId = dbo.OrderReleaseEventCheckList.Id INNER JOIN
                         dbo.OrderReleaseEvent ON dbo.OrderReleaseEventCheckList.OrderReleaseEventId = dbo.OrderReleaseEvent.Id
GO
