USE [W005]
GO
/****** Object:  View [dbo].[vSiemensOrderCloseRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vSiemensOrderCloseRawMaterial]
AS
SELECT DISTINCT E.OrderNo, E.ReleaseNo, I.ItemId, I1.Descr, I.LocId, I.SerialNo, I.LotNo, I.TotalQtyConsumed, I.UOM
FROM            dbo.OrderReleaseEvent AS E INNER JOIN
                         dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id INNER JOIN
                         [005].dbo.tblInItem AS I1 ON I1.ItemId = I.ItemId INNER JOIN
                         [005].dbo.tblInItemLoc AS L ON L.ItemId = I.ItemId AND L.LocId LIKE 'INV%'
WHERE        (I.IsAssembly = 0) AND (SUBSTRING(L.GLAcctCode, 1, 1) IN ('1', '2', '3')) AND (I.TotalQtyConsumed <> 0)
GO
