USE [W005]
GO
/****** Object:  View [dbo].[vListOfRawIntermediateMaterials]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vListOfRawIntermediateMaterials]
AS

-- Raw/Intermediate Materials
SELECT DISTINCT 
		I.ItemId, 
		I.Descr, 
		FGProgram = I.[cf_FG Program],
		ItemType = CASE
					WHEN ItemType=2 THEN 'Serialized'
					WHEN ISNULL([cf_Multi-UOM Serial Item], 0)=1 THEN 'Multi-UOM'
					WHEN LottedYN=1 AND ISNULL([cf_Multi-UOM Serial Item], 0)=0 THEN 'Lotted'
					ELSE 'NonLotNonSer'
				   END,
		I.ItemStatus, 
		KittedWI = ISNULL(I.[cf_Kitted (WI)], 0), 
		OutTimeTracked = ISNULL(I.[cf_Out-Time Tracked], 0)
FROM [005].[dbo].[trav_tblInItem_view] I
	 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=I.ItemId
WHERE L.GLAcctCode IN ('10', '11', '12', '20', '21', '22', '30', '31', '32', '80', '81', '82')	
--ORDER BY I.ItemId

GO
