USE [W005]
GO
/****** Object:  View [dbo].[vMasterRollDefectsPLC]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMasterRollDefectsPLC]
AS
SELECT     dbo.DTSMasterRoll.Id, dbo.DTSMasterRoll.LotNumber, dbo.DTSMasterRoll.RollNumber, CAST(dbo.DTSMasterRoll.EndTagValidated AS Integer) AS EndTagValidated, 
                      dbo.DTSMasterRollDefect.DefectDocumented, dbo.DTSMasterRollDefect.EndTag, 
                      dbo.DTSMasterRollDefect.DefectStartMeters - dbo.DTSMasterRollDefect.MROffsetMeters AS DefectStartMeters, 
                      dbo.DTSMasterRollDefect.DefectEndMeters - dbo.DTSMasterRollDefect.MROffsetMeters AS DefectEndMeters, dbo.DTSMasterRollDefect.MRDefectStartMeters
FROM         dbo.DTSMasterRoll INNER JOIN
                      dbo.DTSMasterRollDefect ON dbo.DTSMasterRoll.Id = dbo.DTSMasterRollDefect.MasterRollId
GO
