USE [W005]
GO
/****** Object:  View [dbo].[vOutTimeItemInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOutTimeItemInfo]
AS
SELECT        ST.ItemId, ST.SerialNo, ST.LotNo, ST.ThawCompletedDT, ST.MaxRoomDTReached, DATEADD(hh, OTIS.MinRemainingOTHoursAtShipment * - 1, ST.MaxRoomDTReached) AS ExpectedOTShipDate, OTIS.ProgramId, 
                         L.ExpDate, P.ProgramName
FROM            dbo.vOutTimeItemStatus AS ST INNER JOIN
                         dbo.OutTimeItemSpecs AS OTIS ON ST.ItemId = OTIS.ItemId AND OTIS.ProgramId = ST.ProgramId INNER JOIN
                         [005].dbo.tblInItemLocLot AS L ON L.ItemId = ST.ItemId AND L.LotNum = ST.SerialNo AND L.LocId = ST.LocID INNER JOIN
                         [W005].dbo.Program AS P ON P.Id = OTIS.ProgramId
GO
