USE [W005]
GO
/****** Object:  View [dbo].[vShipmentData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vShipmentData]
AS
SELECT        TOP (100) PERCENT dbo.ShipPackingList.OrderNo, dbo.ShipPackingListDetail.ItemId, dbo.ShipPackingListDetail.ItemDescr, dbo.ShipPackingList.ShipDate, dbo.ShipPackingListDetail.UOM, 
                         dbo.ShipPackingList.CustName, SUM(dbo.ShipPackingListDetail.Qty) AS QTY, COUNT(DISTINCT dbo.ShipPackingListDetail.ItemId) AS ItemCount
FROM            dbo.ShipPackingList INNER JOIN
                         dbo.ShipPackingListDetail ON dbo.ShipPackingList.PLNo = dbo.ShipPackingListDetail.PLNo
WHERE        (dbo.ShipPackingList.Complete = 1)
GROUP BY dbo.ShipPackingList.OrderNo, dbo.ShipPackingListDetail.ItemId, dbo.ShipPackingListDetail.ItemDescr, dbo.ShipPackingList.ShipDate, dbo.ShipPackingListDetail.UOM, dbo.ShipPackingList.CustName


GO
