USE [W005]
GO
/****** Object:  View [dbo].[vSWIncompleteTestGroupHdr]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	





/*  Used by WEBCQA
	Returns ALL incomplete TGHdr (any WO, any Machine, any OPId)
*/

CREATE VIEW [dbo].[vSWIncompleteTestGroupHdr]
AS
SELECT      th.ID AS TestHdrId, th.ProdOrderNo, th.ParentOrderNo,th.ReleaseNo,th.ReleaseId, th.OperationID, th.WorkOrder, th.Machine, th.PolarisMachineNum, tgh.Id AS TestGroupHdrId, tgh.TestGroupName,tgh.TestTypeName
			,th.SetID, th.SetNum, th.Batch,th.Trial, th.Rework,th.ReworkOrigId, th.Operator, th.NumCuts
			, NoOfPolarisMachines = (SELECT COUNT(DISTINCT PolarisMachineNum) FROM [W005].dbo.SW_TestHdr WHERE WorkOrder=th.WorkOrder)
			,NoOfMachines = (SELECT COUNT(DISTINCT Machine) FROM [W005].dbo.SW_TestHdr WHERE ProdOrderNo=th.ProdOrderNo)
FROM            [W005].dbo.SW_TestHdr AS th INNER JOIN
                         [W005].dbo.SW_TestGroupHdr AS tgh ON tgh.TestHdrId = th.ID
WHERE        (tgh.TestGroupComplete = 0)












GO
