USE [W005]
GO
/****** Object:  View [dbo].[vConvertingProdOrders]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vConvertingProdOrders]
AS
SELECT DISTINCT 
                         R1.OrderNo, R1.AssemblyId, R1.RevisionNo, C.CustId, C.CustName, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS IsSerial, ISNULL(I.LottedYN, 0) AS IsLotted, ISNULL(I.[cf_Multi-Item Mfg], 0) AS IsMultiItem, 
                         ISNULL(I.[cf_Out-Time Tracked], 0) AS IsOutTimeTracked,
                         OpenRelCnt = (SELECT COUNT(Id) FROM [005].dbo.tblMpOrderReleases WHERE (OrderNo = R1.OrderNo) AND Status != 6), CAST(A.AddlDescr AS varchar(MAX)) AS AddlDescr
FROM                     (SELECT DISTINCT OrderNo, AssemblyID, RevisionNo, CustId 
							 FROM 
							   (
								 SELECT O.OrderNo, AssemblyID, RevisionNo, CustId 
								 FROM [005].dbo.tblMpOrder O INNER JOIN [005].dbo.tblMpOrderReleases R On R.OrderNo = O.OrderNo
								 UNION ALL 
								 SELECT OrderNo, AssemblyID, RevisionNo, CustId 
								 FROM [005].dbo.tblMpHistoryOrderReleases
								) R
						  ) R1  INNER JOIN
                         [005].dbo.trav_tblMbAssemblyHeader_view AS H ON R1.AssemblyId = H.AssemblyId AND R1.RevisionNo = H.RevisionNo INNER JOIN
                         [005].dbo.tblMbAssemblyRouting AS R ON H.Id = R.HeaderId INNER JOIN
                         [005].dbo.trav_tblInItem_view AS I ON I.ItemId = R1.AssemblyId LEFT OUTER JOIN
                         [005].dbo.tblInItemAddlDescr AS A ON A.ItemId = I.ItemId LEFT OUTER JOIN
                         [005].dbo.trav_tblArCust_view AS C ON R1.CustId = C.CustId
WHERE        (R.OperationId NOT LIKE 'EXT%')
GROUP BY R1.OrderNo, R1.OrderNo, R1.AssemblyId, R1.RevisionNo, C.CustId, C.CustName, I.[cf_Multi-UOM Serial Item], I.LottedYN, I.[cf_Multi-Item Mfg], I.[cf_Out-Time Tracked], CAST(A.AddlDescr AS varchar(MAX))
GO
