USE [W005]
GO
/****** Object:  View [dbo].[vFGOnHand]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vFGOnHand]
AS
	SELECT E.OrderNo, E.ReleaseNo, I.Id AS OREIId,SI.OREIId as ShipItemOREIId, H.ItemId, H.LocId, I.SerialNo, I.LotNo, I.UOM, ISNULL(H.QtyOnHand, I.TotalQty) as QtyOnHand , I.Rewind
	FROM OrderReleaseEvent E
	INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 1
	INNER JOIN ShipItem SI ON SI.OREIId = I.Id
	LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] H ON H.ItemId = I.ItemId AND H.LotNum = I.TravLotNum AND H.QtyOnHand != 0
GO
