USE [W005]
GO
/****** Object:  View [dbo].[vCCICompletedParentOrders]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCICompletedParentOrders]
AS
  SELECT DISTINCT   ORI.ParentOrderNo, ORI.OrderStatus, ISNULL(R.CustId, H.CustId) AS CustId, ORI.LocId, I.[cf_FG Program] AS Program
				  , MG.Name AS MFGGroup, MG.Revision AS MFGRevision, MG.MFGMethod, ORI.MfgStartDate, ORI.MfgEndDate
				  , ORI.ReadytoSchedule, ORI.Scheduled, ORI.ScheduledOnMachines, ORI.InProcess, ORI.MfgCompleted, ORI.IsPostedToTraverse
				  , ORI.RequiredShipDate, C.Characteristic AS PrintCardstockLabel, ARC.CustName
  FROM CCIOrderReleaseInfo ORI
		INNER JOIN dbo.CCIManufacturingGroup AS MG ON ORI.CCIManufacturingGroupId = MG.Id 
		INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId=ORI.ItemId
		LEFT JOIN [005].dbo.trav_tblMpOrderReleases_view AS R ON R.OrderNo = ORI.OrderNo AND R.ReleaseNo = ORI.ReleaseNo 
		LEFT JOIN [005].dbo.trav_tblMpHistoryOrderReleases_View H ON H.OrderNo = ORI.OrderNo AND H.ReleaseNo = ORI.ReleaseNo 
		LEFT JOIN dbo.vCustomerCharacteristics C ON C.CustId = ISNULL(R.CustId, H.CustId) AND Characteristic = 'PrintCardstockLabel'
		INNER JOIN [005].dbo.tblArCust ARC ON ARC.Custid = ISNULL(R.CustId, H.CustId) 
  WHERE ORI.IsPostedToTraverse=1 
  --ORDER BY ORI.ParentOrderNo
GO
