USE [W005]
GO
/****** Object:  View [dbo].[vOnHandInventoryNonLotted]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vOnHandInventoryNonLotted]
AS

WITH Bins AS (
SELECT DISTINCT
	    OH.[ItemId]
	   ,OH.LocId
	   ,H.ExtLocAID
	   ,ExtHistSeqNum
FROM [005].[dbo].[trav_InItemOnHand_view] OH 
	 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = OH.ItemId
	 LEFT JOIN [005].[dbo].[tblWmHistDetail] H ON H.ItemId=OH.ItemId AND H.LocId=OH.LocId AND H.Source IN (10,19,77)
WHERE OH.QtyOnHand > 0 AND LottedYN = 0 AND I.Itemtype=1
)

-- NonLotted Only Items
SELECT DISTINCT
	   [ItemId] = RTRIM(OH.[ItemId])
	  ,[MfgDate] = LT.[cf_Vendor Mfg Date]
	  ,[ExpDate] = LT.ExpDate
	  ,M.[OrderNo]
	  ,M.[ReleaseNo]
	  ,MP.[AssemblyId]
	  ,MPR.[SalesOrder]
	  ,MPR.[PurchaseOrder]
      ,RTRIM(OH.[LocId]) AS LocId
	  ,[IsSerial] = ISNULL(I.[cf_Multi-UOM Serial Item], 0)
	  ,[IsLotted] = I.[LottedYN]
	  ,[SerialNo] = NULL
      ,[LotNo] = OH.[LotNum]
	  ,[TravLotNum] = OH.[LotNum]
	  ,[UOM] = I.[UomBase]
	  ,Bin = (SELECT TOP 1 B.ExtLocAID 
					FROM Bins AS B 
					WHERE B.ItemId=OH.ItemId AND B.LocId=OH.LocId
					ORDER BY ExtHistSeqNum DESC)
      ,OH.[QtyOnHand]
      ,[TravUnitCost] = IIF(OH.[QtyOnHand] = 0, 0, Cost/QtyOnHand)
	  ,[TravExtCost] = OH.[Cost]
	  ,LT.[cf_Use By Date] AS UseByDate
  FROM [005].[dbo].[trav_InItemOnHandLot_view] OH
	   INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = OH.ItemId
	   LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] LT ON LT.ItemId = OH.ItemId AND LT.LocId = OH.LocId 
	   LEFT JOIN [W005].dbo.MpOrderMatIssued M ON M.ItemId = OH.ItemId AND M.LotNo=OH.LotNum	
	   LEFT JOIN [005].dbo.trav_tblMpOrder_View MP ON M.OrderNo = MP.OrderNo --AND M.ReleaseNo	
	   LEFT JOIN [005].dbo.trav_tblMpOrderReleases_view MPR ON M.OrderNo = MPR.OrderNo			
  WHERE OH.QtyOnHand > 0 AND ISNULL(I.[cf_Multi-UOM Serial Item], 0)=0 AND I.[LottedYN]=0 AND I.Itemtype=1
GO
