USE [W005]
GO
/****** Object:  View [dbo].[vCCICustomerProgram]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCICustomerProgram]
AS
SELECT        Distinct Id, CustId, ProgramName as Program
FROM            dbo.vProgramCustomer

GO
