USE [W005]
GO
/****** Object:  View [dbo].[vCCIDistinctDimSheetsByMfgGrpId]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIDistinctDimSheetsByMfgGrpId] 
AS

	SELECT DISTINCT
			 MG.DimSheetReleasePath
			,CF.DIMSheet
			,CF.Id AS CutFileId
			,MG.Id AS CCIManufacturingGroupId

	FROM [W005].[dbo].[CCIManufacturingGroup] MG 
		 INNER JOIN [W005].[dbo].[CCIManufacturingGroupCutFileXRef] MGRef ON MGRef.CCIManufacturingGroupId=MG.Id
		 INNER JOIN [W005].[dbo].[CCICutFile] CF ON CF.Id=MGRef.CCICutFileId
		 INNER JOIN [W005].[dbo].[CCICutFileRawMaterial] CFRM ON CFRM.CCICutFileId=CF.Id

GO
