USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseRawMatlUsage]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vOrderReleaseRawMatlUsage]
AS
SELECT        E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, I.SerialNo as SerialNo, TotalOverage,
                             (SELECT        TOP (1) TotalQty
                               FROM            dbo.OrderReleaseEventItem AS II
                               WHERE        (ItemId = I.ItemId) AND II.SerialNo = I.SerialNo
                               ORDER BY Id) AS TotalQty, SUM(I.TotalQtyConsumed) AS TotalQtyConsumed, SUM(I.TotalWaste) AS TotalWaste
FROM            dbo.OrderReleaseEventItem AS I INNER JOIN
                         dbo.OrderReleaseEvent AS E ON E.Id = I.OrderReleaseEventId
WHERE        (I.IsAssembly = 0) AND I.SerialNo IS NOT NULL AND LEN(I.SerialNo) > 0
GROUP BY E.OrderNo, E.ReleaseNo, I.ItemId, I.LocId, I.SerialNo, I.LotNo, I.TotalOverage
GO
