USE [W005]
GO
/****** Object:  View [dbo].[vShippableUnitInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [dbo].[vShippableUnitInventory]
AS
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Id
	  , [ShipPalletNo] AS PackageNo
	  ,'PALLET' as Type
	  , PalletItemId as ItemId
	  , ISNULL(I.Location,'NONE') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipPallet] P LEFT JOIN 
     (SELECT ShipPalletId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipPalletId, ItemId, Location, UOM) I ON I.ShipPalletId = P.Id
WHERE Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and PhantomAdjOut = 0
UNION ALL
SELECT Id
      , [ShipCartonNo] AS PackageNo
	  ,'CARTON' as Type
	  , CartonItemId as ItemId
	  , ISNULL(I.Location,'NONE') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipCarton] C LEFT JOIN 
     (SELECT ShipCartonId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipCartonId, ItemId, Location, UOM) I ON I.ShipCartonId = C.Id
WHERE Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and PhantomAdjOut = 0 and ShipPalletId Is Null 
UNION ALL
SELECT Id
      , [ShipBoxNo] AS PackageNo
	  ,'BOX' as Type
	  , BoxItemId as ItemId
	  , ISNULL(I.Location,'NONE') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipBox] B LEFT JOIN 
     (SELECT ShipBoxId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipBoxId, ItemId, Location, UOM) I ON I.ShipBoxId = B.Id
WHERE Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and PhantomAdjOut = 0 AND ShipPalletId Is Null and ShipCartonId Is Null 














GO
