USE [W005]
GO
/****** Object:  View [dbo].[vCustCarrierAccount]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vCustCarrierAccount]
AS

SELECT  Id, CustId, CustName
		, CustNameAndId = CustName + ' - ' + CustId
		, CustAcct, ShipMethodId, ShipMethodDesc
FROM            [W005].[dbo].[CustomerCarrierAccount]


GO
