USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIKitInfo]
AS
SELECT        E.OrderNo, E.ReleaseNo, I.Id AS OrderReleaseEventItemId, I.ItemId, I.TravSerNum, I.TravLotNum
FROM            dbo.OrderReleaseEventItem AS I INNER JOIN
                         dbo.OrderReleaseEvent AS E ON E.Id = I.OrderReleaseEventId
WHERE        (I.IsAssembly = 1)
GO
