USE [W005]
GO
/****** Object:  View [dbo].[vMRPProductionOrders]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vMRPProductionOrders]
AS
		SELECT TOP(100000)
			ord.AssemblyId,
			ord.LocId,
			ord.OrderNo AS [ProductionOrderNo],
			released.Routing,
			released.SalesOrder,
			released.Status,
			released.qty,
			released.UOM,
			released.Priority,
			released.EstStartDate,
			released.EstCompletionDate,
			released.ReleaseNo,
			item.Descr AS [AssemblyDescription],
			(SELECT [W005].dbo.ItemOnHandBalance(ord.AssemblyId, item.ItemType, ord.LocId)) AS [OnHandBalance],
			released.[cf_SO Line No] AS [SalesOrderLineNo]
		FROM [005].dbo.trav_tblMpOrderReleases_view released
		LEFT JOIN [005].dbo.tblMpOrder ord ON ord.OrderNo = released.OrderNo
		LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = ord.AssemblyId
		WHERE released.Status != 6 AND released.Status != 7
		ORDER BY AssemblyId, LocId, ProductionOrderNo, ReleaseNo;
GO
