USE [W005]
GO
/****** Object:  View [dbo].[vCCIBOMValidation]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIBOMValidation]
AS
SELECT        H.Id, H.AssemblyId, H.RevisionNo, D.DetailType, R.Descr, R.OperationId, R.WorkCenterId, R.MachineGroupId, D.ComponentId, D.LocId, D.UOM
FROM            [005].dbo.tblMbAssemblyHeader AS H LEFT OUTER JOIN
                         [005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id LEFT OUTER JOIN
                         [005].dbo.tblMbAssemblyDetail AS D ON D.RoutingId = R.Id
GO
