USE [W005]
GO
/****** Object:  View [dbo].[vScheduledShipmentsRequiringCertsPLNODtl]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vScheduledShipmentsRequiringCertsPLNODtl]
AS
SELECT  SP.OrderNo, SP.PLNo, SP.ShipDate, Dtl.ItemId, SP.Complete, sum(Dtl.Qty) as TotalSummary, Dtl.UOM
						from [W005].[dbo].[ShipPackingList] as SP 
						inner join [W005].[dbo].Shippackinglistdetail as Dtl ON [Dtl].[PLNo] = SP.PLNo
						group by SP.OrderNo, SP.PLNo, SP.ShipDate, Dtl.ItemId, SP.Complete, Dtl.UOM
						
GO
