USE [W005]
GO
/****** Object:  View [dbo].[vtblInHistDetailNunezCostIssues]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vtblInHistDetailNunezCostIssues]
AS
SELECT        HistSeqNum, HistSeqNum_Rcpt, ItemId, LocId, LotNum, AppId, TransId, RefId, SrceID, EntryDate, TransDate, Uom, UomBase, ConvFactor, Qty, CostUnit, Source, CostUnitPrior, WIMaterialDirectUnitCost, 
                         WIMaterialIndirectUnitCost, WILaborSetupUnitCost, WILaborUnitCost, WIMachineSetupUnitCost, WIMachineUnitCost, WIMachineUnitCostModified, WIMachineUnitCostVariable, WISubcontractUnitCost, 
                         InsertUpdate
FROM            [W005].dbo.tblInHistDetailNunezCost
WHERE        (ABS(Qty * CostUnit) - Qty * (WIMaterialDirectUnitCost + WIMaterialIndirectUnitCost + WILaborSetupUnitCost + WILaborUnitCost + WIMachineSetupUnitCost + WIMachineUnitCost + WISubcontractUnitCost) 
                         * ConvFactor > 0.99)


GO
