USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitNonPlyScanRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vCCIKitNonPlyScanRawMaterial]
AS
SELECT DISTINCT 
                         M.OrderNo, M.ReleaseNo, M.FGOrderReleaseEventItemId AS FGItemID, OREI.ItemId AS RMItemId, OREI.SerialNo AS RMSerialNo, OREI.LotNo AS RMLotNo, IIF(I.Itemtype=2, 'SERIAL', IIF(I.[cf_Multi-UOM Serial Item]=1, 'MULTI-UOM', IIF(I.LottedYN=1, 'LOTTED', 'NON LOTTED'))) AS ItemType, L.ExpDate, I.[cf_Out-Time Tracked] AS OTTracked, OT.LastScanDateTime, OT.WmBinId, OT.ThawCompletedDT, OT.TotalRoomMinutes, OT.TotalFreezerMinutes, 
                         OT.TotalReeferMinutes, OT.MaxRoomDTReached, OT.MaxFreezerDTReached, OT.MaxReeferDTReached
FROM					 dbo.CCIKitCutFileRawMatl M INNER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.Id = M.RMOrderReleaseEventItemId LEFT JOIN
                         dbo.OrderReleaseEventItemOutTime AS OT ON OT.OrderReleaseEventItemId = OREI.Id INNER JOIN
                         [005].dbo.trav_tblInItem_view AS I ON I.ItemId = OREI.ItemId INNER JOIN
						 [005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = OREI.ItemId AND (L.LotNum = IIF(OREI.SerialNo is Null, OREI.LotNo, OREI.SerialNo))
GO
