USE [W005]
GO
/****** Object:  View [dbo].[vGetTraverseUniqueId]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vGetTraverseUniqueId]
AS
SELECT        DATEDIFF_BIG(microsecond, '00010101', SYSDATETIME()) * 10 + DATEPART(NANOSECOND, SYSDATETIME()) % 1000 / 100 AS Id
GO
