USE [W005]
GO
/****** Object:  View [dbo].[vDTSOrderReleaseIssuedRoll]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDTSOrderReleaseIssuedRoll]
AS
SELECT        OrderNo, ReleaseNo, Completed, ItemId, SerialNo, LotNo, Qty, UOM
FROM          dbo.MpOrderMatIssued
GO
