USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitCutFileRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIKitCutFileRawMaterial]
AS
SELECT DISTINCT MFGGRP.Id, MFGGRP.Revision, CFK.ItemId AS Kit, CFRM.[ItemId] AS RM
  FROM CCIManufacturingGroup MFGGRP
  INNER JOIN CCIManufacturingGroupCutFileXRef MFGGRPXREF ON MFGGRPXREF.CCIManufacturingGroupId = MFGGRP.Id
  INNER JOIN [W005].[dbo].[CCICutFileKit] CFK  ON CFK.CCICutFileId = MFGGRPXREF.CCICutFileId
  INNER JOIN [W005].[dbo].[CCICutFile] CF ON CF.Id = CFK.CCICutFileId
  INNER JOIN [W005].[dbo].[CCICutFileRawMaterial] CFRM ON CFRM.CCICutFileId = CFK.CCICutFileId
GO
