USE [W005]
GO
/****** Object:  View [dbo].[vtblMpMatlDtlTransIdSumQty]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vtblMpMatlDtlTransIdSumQty]
AS
SELECT        TransId, SUM(Qty) AS Qty
FROM            [005].dbo.tblMpMatlDtl
GROUP BY TransId
GO
