USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitConsolidatePackData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIKitConsolidatePackData]
AS
SELECT     sb.Id AS SBId,sb.ShipBoxNo,sb.Complete AS SBComplete, sb.DateCreated AS SBDateCreated
			,sb.Shipped AS SBShipped, sb.Deleted AS SBDeleted,sb.UsedByProduction AS SBUsedByProduction, sb.PhantomAdjOut AS SBPhantomAdjOut
			,si.Id AS SIID, si.ItemId,si.TravSerNum,si.TravLotNum,si.LotNo,si.SerNo, si.OREIId,si.Quantity AS SIQty
			,si.UOM,si.DateCreated AS SIDateCreated,si.[Location] AS SILocId,si.ShipPalletId,si.ShipCartonId,si.ShipBoxId
			,si.ProdOrderNo,si.ProdOrderRelNo,si.Comments AS SIComment,si.Complete AS SIComplete
			,si.PostedToTraverse AS SIPostedToTraverse,si.Shipped AS SIShipped,si.Deleted AS SIDeleted,si.Issued AS SIIssued,si.PhantomAdjOut AS SIPhantomAdjOut
FROM       [W005].[dbo].[ShipItem] si 
		 INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id = si.ShipBoxId
			
GO
