USE [W005]
GO
/****** Object:  View [dbo].[vORIWithDupFGItems]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vORIWithDupFGItems]
AS
SELECT        TOP (100) PERCENT ParentOrderNo, ItemId, SUM(Qty) AS Qty
FROM            dbo.CCIOrderReleaseInfo
GROUP BY ParentOrderNo, ItemId
HAVING        (COUNT(ItemId) > 1)
GO
