USE [W005]
GO
/****** Object:  View [dbo].[vSWTorayCustRptEndofSet]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/*  Used by WEBSlitWidth
	Returns data for rTorayForCustomerEoS and rTorayForCustomerRework reports 
*/

CREATE VIEW [dbo].[vSWTorayCustRptEndofSet]
AS


SELECT      th.WorkOrder
		, th.CustomerPO
		, th.Batch
		, th.InvDescription
		, th.SetID
		, CAST(th.SetNum as varchar(4)) + '-' + CAST(th.SetID as varchar(8)) AS EoSSetNum
		,th.CustomerShipToName
		, th.SWTolerance_Target
		,th.ReworkOrigId
		,tgh.Id AS TGHId
		,tgh.TestTypeName
		, tgh.TransBy
		, tgh.TransFromOrderNo
		,tgdd.*
FROM            [W005].dbo.SW_TestHdr AS th INNER JOIN
                         [W005].dbo.SW_TestGroupHdr AS tgh ON tgh.TestHdrId = th.ID
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
WHERE tgh.TestGroupName IN ('END of SET') AND  tgdd.TestLevel=1  AND tgdd.DataComplete = 1						 












GO
