USE [W005]
GO
/****** Object:  View [dbo].[vCCIOutTimeTrackedKitOrdRelInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIOutTimeTrackedKitOrdRelInfo]
AS 

	SELECT DISTINCT
			ORI.ParentOrderNo, 
			ORI.OrderNo, 
			ORI.ReleaseNo,
			ORK.OrderReleaseEventItemId,
			ORK.FGItemId, 
			ORK.FGTravSerNum, 
			ORK.RMItemId, 
			ORK.RMSerialNo, 
			ORK.RMLotNo
	FROM CCIOrderReleaseInfo ORI
		INNER JOIN OrderReleaseEvent E ON E.OrderNo=ORI.ParentOrderNo
		INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.ItemId=ORI.ItemId
		INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.OrderReleaseEventItemId=I.Id
	--WHERE ORI.OrderNo = '00026544' --ORI.MfgCompleted=1

GO
