USE [W005]
GO
/****** Object:  View [dbo].[vSiteForOffSiteTransfer]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vSiteForOffSiteTransfer]
AS

SELECT LocId AS WorkCenterId
FROM  [005].[dbo].[tblInLoc]
WHERE (LEFT(LocId,3) != 'QRN') AND  (LEFT(LocId,3) != 'QAH')







GO
