USE [W005]
GO
/****** Object:  View [dbo].[vLabelItemType]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLabelItemType]
AS
SELECT        dbo.LabelXItem.ItemId, dbo.LabelXItem.LabelTypeId, dbo.LabelType.LabelType
FROM            dbo.LabelXItem INNER JOIN
                         dbo.LabelType ON dbo.LabelXItem.LabelTypeId = dbo.LabelType.Id


GO
