USE [W005]
GO
/****** Object:  View [dbo].[vTravSO]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vTravSO]
AS


SELECT  DISTINCT A.OrderNo, A.CustId,A.CustName,A.CCHoldReq,A.SpecialDocsReq,A.QAHold,A.CustPO,a.ShipFromLocId,A.ReqShipDate,A.ShipDate,A.FreightCharge,A.ShipMethodId,
				A.ShipMethod,A.ShipTerms,A.Notes,A.RemoteWarehouse,
				A.ShipToID,A.ShipToName,A.ShipToAddr1, A.ShipToAddr2,A.ShipToCity,A.ShipToRegion,A.ShipToCountry,A.ShipToPostalCode, A.ShipToCustomerPO
FROM
	(SELECT  DISTINCT soth.TransId As OrderNo, soth.CustId,cust.CustName, 
			CAST(IsNULL(cust.[cf_Customer Care Hold Req.],0) As bit) AS CCHoldReq, 
			CAST(IsNULL(cust.[cf_Shipments Require Special Documents],0) As bit) AS SpecialDocsReq,
			CAST(IsNULL(cust.[cf_Shipments Require QA Release],0) As bit) AS QAHold,
			soth.CustPONum As CustPO, 
			soth.LocId As ShipFromLocId,
			soth.ReqShipDate,
			soth.ActShipDate As ShipDate,
			soth.Freight As FreightCharge,
			ShipMethodId=(SELECT sm.ShipMethodID FROM [005].[dbo].[tblArShipMethod] As sm WHERE sm.[Desc]=soth.ShipVia), 
			soth.ShipVia As ShipMethod,
			soth.[cf_Shipping Terms] As ShipTerms, 
			shipto.[cf_Packing List Note] As Notes, 
			IsNull(shipto.[cf_Remote Warehouse],'NO') As RemoteWarehouse,
			soth.ShipToID,soth.ShipToName,
			soth.ShipToAddr1, 
			soth.ShipToAddr2,
			soth.ShipToCity,
			soth.ShipToRegion,
			soth.ShipToCountry,
			soth.ShipToPostalCode,
			soth.ShipNum AS ShipToCustomerPO
	FROM ([005].[dbo].[trav_tblSoTransHeader_view] As soth INNER JOIN [005].[dbo].[trav_tblArCust_view] As cust ON soth.CustId=cust.CustId) 
		LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON cust.CustId=shipto.CustId AND shipto.ShipToID=soth.ShipToID
	WHERE soth.VoidYn=0 AND soth.TransType IN  (3,4, 5, 9) --SO BackOrder,Verified, SO Picked or SO New [Added Verified 7/27/16, Ticket 7683]

	UNION ALL
	 
	SELECT  DISTINCT arHdr.[TransID] As OrderNo, arHdr.CustId,cust.CustName,
			CAST(IsNULL(cust.[cf_Customer Care Hold Req.],0) As bit) AS CCHoldReq, 
			CAST(IsNULL(cust.[cf_Shipments Require Special Documents],0) As bit) AS SpecialDocsReq,
			CAST(IsNULL(cust.[cf_Shipments Require QA Release],0) As bit) AS QAHold,
			arHdr.CustPONum As CustPO,
			'' As ShipFromLocId,
			arHdr.ReqShipDate,
			arHdr.ShipDate  As ShipDate,
			arHdr.Freight As FreightCharge,
			ShipMethodId=(SELECT sm.ShipMethodID FROM [005].[dbo].[tblArShipMethod] As sm WHERE sm.[Desc]=arHdr.ShipVia), 
			arHdr.ShipVia As ShipMethod,
			arHdr.[cf_Shipping Terms] As ShipTerms, 
			shipto.[cf_Packing List Note] As Notes, 
			IsNull(shipto.[cf_Remote Warehouse],'NO') As RemoteWarehouse,
			arHdr.ShipToID,
			arHdr.ShipToName,
			arHdr.ShipToAddr1, 
			arHdr.ShipToAddr2,
			arHdr.ShipToCity,
			arHdr.ShipToRegion,
			arHdr.ShipToCountry,
			arHdr.ShipToPostalCode,
			arHdr.ShipNum AS ShipToCustomerPO
	FROM [005].[dbo].[trav_tblArHistHeader_View] AS arHdr 
			INNER JOIN [005].[dbo].[trav_tblArCust_view] As cust ON arHdr.CustId=cust.CustId
			LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON cust.CustId=shipto.CustId AND shipto.ShipToID=arHdr.ShipToID
	WHERE arHdr.ShipToName Is Not Null AND arHdr.VoidYn=0 AND arHdr.TransID NOT IN (SELECT TransId FROM [005].[dbo].[tblSoTransHeader])
	) A

















GO
