USE [W005]
GO
/****** Object:  View [dbo].[vPLSOLineSummary]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPLSOLineSummary]
AS

SELECT [PLNo], [SO], ItemId, COUNT(SOLine) AS SOLineCount, SUM(QtyOrdSell) AS TotalQtyOrdSell
  FROM [W005].[dbo].[ShipPackingListSOLine]
  GROUP BY [PLNo], [SO], ItemId 



GO
