USE [W005]
GO
/****** Object:  View [dbo].[vCCICutFileList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCICutFileList]
AS
SELECT        dbo.CCIManufacturingGroup.ProgramId, dbo.Program.ProgramName AS Program, dbo.CCIManufacturingGroupCutFileXRef.CCIManufacturingGroupId, dbo.CCIManufacturingGroupCutFileXRef.CCICutFileId, 
                         dbo.CCIManufacturingGroupCutFileXRef.SeqNbr, dbo.CCIManufacturingGroupCutFileXRef.CutFileGrouping, dbo.CCICutFile.CutFile, dbo.CCICutFile.CutFileKitQty, dbo.CCICutFile.FixedNumTables, dbo.CCICutFile.MaterialLength, 
                         dbo.CCICutFile.UOM, dbo.CCICutFile.Efficiency, dbo.CCICutFile.RawMaterialDelimited, dbo.CCICutFile.Notes, dbo.CCIManufacturingGroup.CutFileReleasePath, dbo.CCIManufacturingGroup.DimSheetReleasePath, 
                         dbo.CCIManufacturingGroup.AllowVariableKitList, dbo.CCICutFile.RevisionValidationRequired, dbo.CCICutFile.IsOptional, dbo.CCICutFile.CutSeqNo, dbo.CCICutFile.DIMSheet
FROM            dbo.CCICutFile INNER JOIN
                         dbo.CCIManufacturingGroupCutFileXRef ON dbo.CCICutFile.Id = dbo.CCIManufacturingGroupCutFileXRef.CCICutFileId INNER JOIN
                         dbo.CCIManufacturingGroup ON dbo.CCIManufacturingGroup.Id = dbo.CCIManufacturingGroupCutFileXRef.CCIManufacturingGroupId INNER JOIN
                         dbo.Program ON dbo.CCIManufacturingGroup.ProgramId = dbo.Program.Id
GO
