USE [W005]
GO
/****** Object:  View [dbo].[vDTSVendorParentCompany]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDTSVendorParentCompany]
AS
SELECT DISTINCT [cf_Parent Company Name] AS ParentCompany
FROM            [005].dbo.trav_tblApVendor_view
GO
