USE [W005]
GO
/****** Object:  View [dbo].[vCCIValidateAllowVariableKitQty]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIValidateAllowVariableKitQty]
AS
SELECT        G.Id AS MfgGrpId, G.Name AS MFGGroupName, G.AllowVariableKitList, C.CCICutFileId, COUNT(C.ItemId) AS KitCnt
FROM            dbo.CCIManufacturingGroupCutFileXRef AS M INNER JOIN
                         dbo.CCICutFileKit AS C ON C.CCICutFileId = M.CCICutFileId INNER JOIN
                         dbo.CCIManufacturingGroup AS G ON G.Id = M.CCIManufacturingGroupId
WHERE        (C.PctOfCutFile <> 100) 
GROUP BY G.Id, G.Name, G.AllowVariableKitList, C.CCICutFileId
GO
