USE [W005]
GO
/****** Object:  View [dbo].[vABCMFGOrderReleaseCompare]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vABCMFGOrderReleaseCompare]
AS
SELECT        A.ReleaseId, A.OrderNo, A.ReleaseNo, ItemId, A.Qty, A.Uom, UomBase, ConvFactor, UnitCostBase, A.Qty * UnitCostBase AS TotalCost, WIMaterialDirectCost, WIMaterialDirectCostPct, WIMaterialInDirectCost, WIMaterialInDirectCostPct, 
                         WILaborSetupCost, WILaborSetupCostPct, WILaborCost, WILaborCostPct, WIMachineSetupCost, WIMachineSetupCostPct, WIMachineCost, WIMachineCostPct, WIMachineCostModified, WIMachineCostModifiedPct, 
                         WIMachineCostVariable, WIMachineCostVariablePct, WISubcontractCost, WISubcontractCostPct, WILaborSetupHours, WILaborpHours, WIMachineSetupHours, WIMachineHours, QtyABC, UnitCostABC, 
                         TotalCost AS TotalCostABC, ABCRunDate, DuplicateReleaseIdFound, ROUND(ABS((A.Qty * UnitCostBase) - TotalCost), 3) AS TotalCostDiff, O.LocId
FROM            dbo.ABCReleaseId A
LEFT JOIN [005].[dbo].tblMpHistoryOrderReleases O ON O.OrderNo = A.OrderNo AND O.ReleaseNo = A.ReleaseNo
GO
