USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventItemStackedBag]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIOrderReleaseEventItemStackedBag]
AS
SELECT        dbo.OrderReleaseEvent.OrderNo AS ParentOrderNo, dbo.OrderReleaseEvent.ReleaseNo AS ParentOrderReleaseNo, dbo.OrderReleaseEventItem.Id AS OrderReleaseEventItemId, 
                         dbo.OrderReleaseEventItem.OrderReleaseEventId, dbo.CCIOrderReleaseInfo.OrderNo, dbo.CCIOrderReleaseInfo.ReleaseNo, dbo.OrderReleaseEventItem.ItemId, dbo.vCCIPlyStackBag.BagNum, 
                         dbo.CCIPlyStackHeader.BagNum AS StackedBagNum, dbo.OrderReleaseEventItem.LocId, dbo.OrderReleaseEventItem.TravSerNum
FROM            dbo.OrderReleaseEvent INNER JOIN
                         dbo.OrderReleaseEventItem ON dbo.OrderReleaseEvent.Id = dbo.OrderReleaseEventItem.OrderReleaseEventId INNER JOIN
                         dbo.CCIOrderReleaseInfo ON dbo.OrderReleaseEventItem.ItemId = dbo.CCIOrderReleaseInfo.ItemId AND dbo.OrderReleaseEvent.OrderNo = dbo.CCIOrderReleaseInfo.ParentOrderNo INNER JOIN
                         dbo.vCCIPlyStackBag ON dbo.vCCIPlyStackBag.ItemId = dbo.OrderReleaseEventItem.ItemId LEFT OUTER JOIN
                         dbo.CCIPlyStackHeader ON dbo.CCIPlyStackHeader.OrderReleaseEventItemId = dbo.OrderReleaseEventItem.Id AND dbo.CCIPlyStackHeader.BagNum = dbo.vCCIPlyStackBag.BagNum
WHERE        (dbo.OrderReleaseEventItem.IsAssembly = 1) AND (dbo.CCIPlyStackHeader.BagNum IS NULL)
GO
