USE [W005]
GO
/****** Object:  View [dbo].[vCCIBomRawPlyMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIBomRawPlyMaterial]
AS
--TFS 589 BUG - 590 DEV 
--TFS 589 BUG - 590 DEV 
--TFS 589 BUG - 590 DEV 
SELECT DISTINCT OrderNo, ItemId, OperationId
FROM
(
	SELECT        O.OrderNo, I.ItemId, R.OperationId
	FROM            [005].dbo.tblMpOrder AS O INNER JOIN
							 [005].dbo.trav_tblMbAssemblyHeader_view AS H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo INNER JOIN
							 [005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id INNER JOIN
							 [005].dbo.trav_tblMbAssemblyDetail_View AS D ON D.RoutingId = R.Id INNER JOIN
							 [005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentId
	WHERE        (D.DetailType <> 5) AND (I.ItemType <> 2) AND (I.[cf_Multi-UOM Serial Item] = 1)
	UNION ALL
	SELECT        O.OrderNo, I.ItemId, R.OperationId
	FROM            [005].dbo.tblMpHistoryOrderReleases AS O INNER JOIN
							 [005].dbo.trav_tblMbAssemblyHeader_view AS H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo INNER JOIN
							 [005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id INNER JOIN
							 [005].dbo.trav_tblMbAssemblyDetail_View AS D ON D.RoutingId = R.Id INNER JOIN
							 [005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentId
	WHERE        (D.DetailType <> 5) AND (I.ItemType <> 2) AND (I.[cf_Multi-UOM Serial Item] = 1)
) A
GO
