USE [W005]
GO
/****** Object:  View [dbo].[vMachineHourlyCostFactor]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMachineHourlyCostFactor]
AS
SELECT        MachineGroupId, Name, HourlyCostFactor, HourlyCostFactorModified, HourlyCostFactorVariable
FROM            dbo.Machine
GO
