USE [W005]
GO
/****** Object:  View [dbo].[vSubcontractOrders]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vSubcontractOrders]
AS
  SELECT DISTINCT 
			M.OrderNo, 
			M.ReleaseNo, 
			M.PurchaseOrder, 
			O.AssemblyId,
			MS.OperationId, 
			MS.Description,
			MS.EstQtyRequired,
			M.Qty, 
			M.UOM,
			ISNULL(PO.DropShipYN, POHist.DropShipYN) AS DropShipYN, 			
			MS.DefaultVendorId,
			IIF(ISNULL(MS.LinkSeqNum, 0) > 0, 1, 0) AS IsLinked,
			MS.LinkSeqNum,  
			MS.Status,
			MS.Notes, 
			M.[cf_Parent Order] AS ParentOrder
  FROM [005].[dbo].[trav_tblMpOrderReleases_view] M
	   INNER JOIN [005].[dbo].[trav_tblMpOrder_View] O ON O.OrderNo=M.OrderNo
	   INNER JOIN [005].[dbo].[tblMpRequirements] MR ON MR.ReleaseId=M.Id AND Type = 6 --Subcontract
	   INNER JOIN [005].[dbo].[tblMpSubContractSum] MS ON MS.TransId=MR.TransId
	   LEFT JOIN [005].[dbo].[tblPoTransHeader] PO ON PO.TransId=M.PurchaseOrder
	   LEFT JOIN [005].[dbo].[tblPoHistHeader] POHist ON POHist.TransId=M.PurchaseOrder
/*
--UNION ALL
  SELECT DISTINCT 
			M.OrderNo, 
			M.ReleaseNo, 
			M.PurchaseOrder,
			M.AssemblyId, 
			MS.OperationId, 
			MS.Description,
			MS.EstQtyRequired,
			M.Qty, 
			M.UOM, 
			ISNULL(PO.DropShipYN,POHist.DropShipYN) AS DropShipYN, 
			MS.DefaultVendorId,
			LinkSeqNum = NULL,
			IsLinked = NULL,
			MS.Status, 
			MS.Notes, 
			M.[cf_Parent Order] AS ParentOrder
  FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] M
	   INNER JOIN [005].[dbo].[tblMpHistoryRequirements] MR ON MR.ReleaseId=M.ReleaseId AND Type = 6 --Subcontract
	   INNER JOIN [005].[dbo].[tblMpHistorySubContractSum] MS ON MS.TransId=MR.TransId
	   INNER JOIN [005].[dbo].[tblMpHistorySubContractDtl] MD ON MD.TransId=MS.TransId
	   LEFT JOIN [005].[dbo].[tblPoTransHeader] PO ON PO.TransId=M.PurchaseOrder
	   LEFT JOIN [005].[dbo].[tblPoHistHeader] POHist ON POHist.TransId=M.PurchaseOrder
*/

GO
