USE [W005]
GO
/****** Object:  View [dbo].[vCCIMRASProductionOrderNo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vCCIMRASProductionOrderNo]
AS

SELECT DISTINCT OrderNo AS ProdOrdNo, ReleaseNo, ItemId,LocId
FROM [W005].[dbo].[CCIOrderReleaseInfo] 
WHERE ParentOrderNo IN (SELECT ParentOrderNo
						FROM [W005].[dbo].[CCIParentOrderCutList] 
						WHERE ProgramId IN (SELECT Id
											FROM [W005].[dbo].[Program]
											WHERE CustId IN ( SELECT CustId
																FROM [005].[dbo].[tblArCust]
																WHERE CustName LIKE ('%Middle%River%'))))




GO
