USE [W005]
GO
/****** Object:  View [dbo].[vDTSDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDTSDetail]
AS
SELECT     V.[cf_Parent Company Name] AS ParentCompanyName, V.Name as ManufacturerName, R.RollNumber, 
                      R.LotNumber as BatchNumber, R.StatedGrossLengthMeters as MRGrossLengthMeters, R.StatedUseableLengthMeters as MRUseableLengthMeters, 
                      R.StatedTotalDefectLengthMeters as MRTotalDefectLengthMeters, R.EndTagLocationMeters, R.StatedGrossLengthFeet as MRGrossLengthFeet, 
                      R.StatedUseableLengthFeet as MRUseableLengthFeet, R.StatedTotalDefectLengthFeet as MRTotalDefectLengthFeet, R.EndTagLocationFeet, 
                      D.DefectDocumented as Documented, D.DefectStartMeters, D.DefectEndMeters, 
                      D.DefectLengthMeters, D.DefectStartFeet, D.DefectEndFeet, D.DefectLengthFeet, 
                      D.EstSpliceStartMeters, D.EstSpliceEndMeters, D.EstSpliceStartFeet, 
                      D.EstSpliceEndFeet, D.MRDefectStartMeters, D.MRDefectEndMeters, D.MRDefectLengthMeters, 
                      D.ActualDefectStartMeters, D.ActualDefectEndMeters, D.ActualDefectLengthMeters, 
                      D.ActualDefectStartFeet, D.ActualDefectEndFeet, D.ActualDefectLengthFeet, 
                      D.SlitterCounterMeters, D.SlitterCounterFeet, 
                      R.ItemId, D.OrderNo, D.ReleaseNo, D.ReleaseNo as SetId, Cast (Null as int) as OSMRId, 
                      S.EmployeeId as UserId, 
                      D.TimeStamp, DATEPART(year, D.TimeStamp) as Year, DATEPART(month, D.TimeStamp) as Month, DATEPART(DAY, D.TimeStamp) as Day, DATEPART(HOUR, D.TimeStamp) as Hour, DATEPART(MINUTE, D.TimeStamp) as minute, 
                      MD.DefectCode, MD.DefectDescription, WD.WebDefect,
                      MultipleDefectArea = Case When D.MfgDefectId2 IS NULL then Cast(0 AS bit) else Cast(1 as Bit) end, D.Comment
FROM         dbo.DTSMasterRollDefect D INNER JOIN
                      dbo.DTSMasterRoll R ON D.MasterRollId = R.Id INNER JOIN
                      [005].dbo.Trav_tblApVendor_View V ON R.VendorId = V.VendorId INNER JOIN
                      dbo.DTSMfgDefect MD ON D.MfgDefectId1 = MD.Id INNER JOIN
                      dbo.DTSWebDefect WD ON MD.DTSWebDefectId = WD.Id INNER JOIN
                      [005].dbo.trav_tblSmEmployee_view S ON D.SecurityId = S.EmployeeId
UNION ALL
SELECT     V.[cf_Parent Company Name] AS ParentCompanyName, V.Name as ManufacturerName, R.RollNumber, 
                      R.LotNumber as BatchNumber, R.StatedGrossLengthMeters as MRGrossLengthMeters, R.StatedUseableLengthMeters as MRUseableLengthMeters, 
                      R.StatedTotalDefectLengthMeters as MRTotalDefectLengthMeters, R.EndTagLocationMeters, R.StatedGrossLengthFeet as MRGrossLengthFeet, 
                      R.StatedUseableLengthFeet as MRUseableLengthFeet, R.StatedTotalDefectLengthFeet as MRTotalDefectLengthFeet, R.EndTagLocationFeet, 
                      D.DefectDocumented as Documented, D.DefectStartMeters, D.DefectEndMeters, 
                      D.DefectLengthMeters, D.DefectStartFeet, D.DefectEndFeet, D.DefectLengthFeet, 
                      D.EstSpliceStartMeters, D.EstSpliceEndMeters, D.EstSpliceStartFeet, 
                      D.EstSpliceEndFeet, D.MRDefectStartMeters, D.MRDefectEndMeters, D.MRDefectLengthMeters, 
                      D.ActualDefectStartMeters, D.ActualDefectEndMeters, D.ActualDefectLengthMeters, 
                      D.ActualDefectStartFeet, D.ActualDefectEndFeet, D.ActualDefectLengthFeet, 
                      D.SlitterCounterMeters, D.SlitterCounterFeet, 
                      R.ItemId, D.OrderNo, D.ReleaseNo, D.ReleaseNo as SetId, Cast (Null as int) as OSMRId, 
                      S.EmployeeId as UserId, 
                      D.TimeStamp, DATEPART(year, D.TimeStamp) as Year, DATEPART(month, D.TimeStamp) as Month, DATEPART(DAY, D.TimeStamp) as Day, DATEPART(HOUR, D.TimeStamp) as Hour, DATEPART(MINUTE, D.TimeStamp) as minute, 
                      MD.DefectCode, MD.DefectDescription, WD.WebDefect,
                      MultipleDefectArea = Case When D.MfgDefectId2 IS NULL then Cast(0 AS bit) else Cast(1 as Bit) end, D.Comment 
FROM         dbo.DTSMasterRollDefect D INNER JOIN
                      dbo.DTSMasterRoll R ON D.MasterRollId = R.Id INNER JOIN
                      [005].dbo.Trav_tblApVendor_View V ON R.VendorId = V.VendorId INNER JOIN
                      dbo.DTSMfgDefect MD ON D.MfgDefectId2 = MD.Id INNER JOIN
                      dbo.DTSWebDefect WD ON MD.DTSWebDefectId = WD.Id INNER JOIN
                      [005].dbo.trav_tblSmEmployee_view S ON D.SecurityId = S.EmployeeId
GO
