USE [W005]
GO
/****** Object:  View [dbo].[vCCIParentOrder]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIParentOrder]
AS
SELECT DISTINCT ParentOrder, LocId, ParentOrderNo, ParentOrderDuration, SalesOrder, PurchaseOrder, ProdOrders, Kits, RAWMaterial, Program
				, MfgStartDate, MfgEndDate, InProcess, Scheduled, MfgCompleted, IsPostedToTraverse, RequiredShipDate, CustId, Qty
				, UOM, MFGGroup, MFGRevision, MFGMethod, FixedQty, RevisionValidated, OrderDuration, ScheduledOnMachines, OrderStatus
				, ReadytoSchedule, ApprovedBy, ApprovedByFullName,IsMultiUOM
FROM
(SELECT ORI.ParentOrderNo AS ParentOrder, ORI.LocId, ORI.ParentOrderNo, Round(ORI.OrderDuration / 60, 1) AS ParentOrderDuration
                , SalesOrder =
							 (SELECT R.SalesOrder + ' ' AS [text()]
							  FROM [005].dbo.tblMpOrderReleases R
							  WHERE R.OrderNo+Cast(R.ReleaseNo as varchar(10)) IN 
															(SELECT        E2.OrderNo+Cast(E2.ReleaseNo as varchar(10))
                                                             FROM            dbo.CCIOrderReleaseInfo AS E2
                                                             WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
                , PurchaseOrder =
							 (SELECT R.PurchaseOrder + '|' AS [text()]
							  FROM [005].dbo.tblMpOrderReleases R
							  WHERE R.OrderNo+Cast(R.ReleaseNo as varchar(10)) IN 
															(SELECT        E2.OrderNo+Cast(E2.ReleaseNo as varchar(10))
                                                             FROM            dbo.CCIOrderReleaseInfo AS E2
                                                             WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
				, ProdOrders =
                             (SELECT        E1.OrderNo + '-' + RIGHT('000' + CAST(ReleaseNo AS VARCHAR(3)), 3) + ' ' AS [text()]
                               FROM            dbo.CCIOrderReleaseInfo AS E1
                               WHERE        E1.ParentOrderNo = ORI.ParentOrderNo FOR XML PATH(''))
				, Kits =
                             (SELECT        E1.AssemblyId + ' ' AS [text()]
                               FROM            [005].dbo.tblMpOrder AS E1
                               WHERE        E1.OrderNo IN
                                                             (SELECT        E2.OrderNo
                                                               FROM            dbo.CCIOrderReleaseInfo AS E2
                                                               WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
				, RAWMaterial =
                             (SELECT DISTINCT ItemId + char(9) AS [text()]
                               FROM            [W005].[dbo].[CCICutFileRawMaterial] AS R1
                               WHERE        R1.CCICutFileId IN
                                                             (SELECT DISTINCT CCICutFileId
                                                               FROM            dbo.CCIManufacturingGroupCutFileXRef E2
                                                               WHERE        E2.CCIManufacturingGroupId = MG.Id) FOR XML PATH('')), I.[cf_FG Program] AS Program
				, ORI.MfgStartDate, ORI.MfgEndDate, ORI.InProcess, ORI.Scheduled, ORI.MfgCompleted, ORI.IsPostedToTraverse
				, ORI.RequiredShipDate, R.CustId, IIF(MG.AllowVariableKitList = 0, R.Qty, NULL) AS Qty, R.UOM, MG.Name AS MFGGroup
				, MG.Revision AS MFGRevision, MG.MFGMethod, MG.FixedQty, MG.RevisionValidated, ORI.OrderDuration, ORI.ScheduledOnMachines
				, ORI.OrderStatus, ORI.ReadytoSchedule, ORI.ApprovedBy, E.FirstName + ' ' + E.LastName AS ApprovedByFullName, MG.IsMultiUOM
FROM            dbo.CCIOrderReleaseInfo AS ORI 
			    INNER JOIN dbo.CCIManufacturingGroup AS MG ON ORI.CCIManufacturingGroupId = MG.Id 
				INNER JOIN [005].dbo.trav_tblMpOrderReleases_view AS R ON R.OrderNo = ORI.OrderNo AND R.ReleaseNo = ORI.ReleaseNo 
				INNER JOIN [005].dbo.tblMpOrder AS O ON O.OrderNo = R.OrderNo 
				INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = O.AssemblyId
				LEFT JOIN [005].dbo.tblSmEmployee E ON E.EmployeeId = ORI.ApprovedBy OR E.SocialSecurityNo = ORI.ApprovedBy
UNION ALL
SELECT ORI.ParentOrderNo AS ParentOrder, ORI.LocId, ORI.ParentOrderNo, Round(ORI.OrderDuration / 60, 1) AS ParentOrderDuration
                , SalesOrder =
							 (SELECT R.SalesOrder + ' ' AS [text()]
							  FROM [005].dbo.tblMpOrderReleases R
							  WHERE R.OrderNo+Cast(R.ReleaseNo as varchar(10)) IN 
															(SELECT        E2.OrderNo+Cast(E2.ReleaseNo as varchar(10))
                                                             FROM            dbo.CCIOrderReleaseInfo AS E2
                                                             WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
                , PurchaseOrder =
							 (SELECT R.PurchaseOrder + '|' AS [text()]
							  FROM [005].dbo.tblMpOrderReleases R
							  WHERE R.OrderNo+Cast(R.ReleaseNo as varchar(10)) IN 
															(SELECT        E2.OrderNo+Cast(E2.ReleaseNo as varchar(10))
                                                             FROM            dbo.CCIOrderReleaseInfo AS E2
                                                             WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
				, ProdOrders =
								(SELECT        E1.OrderNo + '-' + RIGHT('000' + CAST(ReleaseNo AS VARCHAR(3)), 3) + ' ' AS [text()]
								FROM            dbo.CCIOrderReleaseInfo AS E1
								WHERE        E1.ParentOrderNo = ORI.ParentOrderNo FOR XML PATH(''))
				, Kits =
								(SELECT        E1.AssemblyId + ' ' AS [text()]
								FROM            [005].dbo.tblMpHistoryOrderReleases AS E1
								WHERE        E1.OrderNo IN
																(SELECT        E2.OrderNo
																FROM            dbo.CCIOrderReleaseInfo AS E2
																WHERE        E2.ParentOrderNo = ORI.ParentOrderNo) FOR XML PATH(''))
				, RAWMaterial =
								(SELECT DISTINCT ItemId + char(9) AS [text()]
								FROM            [W005].[dbo].[CCICutFileRawMaterial] AS R1
								WHERE        R1.CCICutFileId IN
																(SELECT DISTINCT CCICutFileId
																FROM            dbo.CCIManufacturingGroupCutFileXRef E2
																WHERE        E2.CCIManufacturingGroupId = MG.Id) FOR XML PATH(''))
				, I.[cf_FG Program] AS Program, ORI.MfgStartDate, ORI.MfgEndDate, ORI.InProcess, ORI.Scheduled, ORI.MfgCompleted, ORI.IsPostedToTraverse
				, ORI.RequiredShipDate, R.CustId, IIF(MG.AllowVariableKitList = 0, R.Qty, NULL) AS Qty, R.UOM, MG.Name AS MFGGroup, MG.Revision AS MFGRevision
				, MG.MFGMethod, MG.FixedQty, MG.RevisionValidated, ORI.OrderDuration, ORI.ScheduledOnMachines, ORI.OrderStatus, ORI.ReadytoSchedule, ORI.ApprovedBy
				, E.FirstName + ' ' + E.LastName AS ApprovedByFullName, MG.IsMultiUOM
FROM        dbo.CCIRecutClosedOrder C
			INNER JOIN dbo.CCIOrderReleaseInfo AS ORI ON ORI.ParentOrderNo = C.ParentOrderNo
			INNER JOIN dbo.CCIManufacturingGroup AS MG ON ORI.CCIManufacturingGroupId = MG.Id 
			INNER JOIN [005].dbo.trav_tblMpHistoryOrderReleases_View AS R ON R.OrderNo = ORI.OrderNo AND R.ReleaseNo = ORI.ReleaseNo 
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = R.AssemblyId
			LEFT JOIN [005].dbo.tblSmEmployee E ON E.EmployeeId = ORI.ApprovedBy OR E.SocialSecurityNo = ORI.ApprovedBy
) A

GO
