USE [W005]
GO
/****** Object:  View [dbo].[vtblInItem]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtblInItem]
AS
SELECT        AutoReorderYN, CostMethodOverride, Descr, HMRef, ItemId, ItemStatus, ItemType, KittedYN, LottedYN, PictId, PriceId, ProductLine, ResaleYN, SalesCat, SuperId, TaxClass, UomBase, UomDflt, UsrFld1, UsrFld2, 
                         UsrFld3, UsrFld4, cf_Customer, [cf_Customer Owned], [cf_Multi-UOM Serial Item], [cf_Out-Time Tracked], [cf_FG Program], [cf_Kitted (WI)], [cf_Multi Program Out Time Specs], [cf_Multi-Item Mfg]
FROM            [005].dbo.trav_tblInItem_view
GO
