USE [W005]
GO
/****** Object:  View [dbo].[vCCIOnTimeDeliveryActShipDT]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vCCIOnTimeDeliveryActShipDT]
AS
SELECT DISTINCT *
FROM 
	(
		SELECT DISTINCT
				H.TransId AS SalesOrder,
				C.CustName AS CustomerName,
				D.EntryNum AS LineItemNo,
				D.ItemId,
				D.OrigOrderQty AS OrderQty,
				--D.QtyOrdSell,
				ReqShipDate = ISNULL(D.ReqShipDate, H.ReqShipDate),
				D.ActShipDate,
				IIF(QtyShipSell = 0, NULL, DATEDIFF(day, ISNULL(D.ReqShipDate, H.ReqShipDate), S.ShipDate)) AS VarianceDays,
				IIF(QtyShipSell = 0, 0, S.Qty) AS ShippedQty,
				IIF(QtyShipSell = 0, NULL, S.PLNo) AS PLNo

		FROM [005].[dbo].[tblSoTransHeader] H
			 INNER JOIN [005].[dbo].[tblSoTransDetail] D ON D.TransID=H.TransId
			 INNER JOIN [005].[dbo].[tblArCust] C ON C.CustId=H.CustId		 
			 INNER JOIN (SELECT DISTINCT 
									SPLD.PLNo, 
									SPL.OrderNo AS SalesOrder, 
									SPLSO.SOLine, 
									SPLD.ItemId, 
									SUM(SPLD.Qty) AS Qty,
									SPL.ShipDate
								FROM [W005].[dbo].[ShipPackingList] SPL
									 INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo
									 LEFT JOIN [W005].[dbo].[ShipPackingListSOLine] SPLSO ON SPLSO.PLNo=SPLD.PLNo AND SPLSO.ItemId=SPLD.ItemId
								GROUP BY SPLD.PLNo, SPL.OrderNo, SPLSO.SOLine, SPLD.ItemId, SPL.ShipDate
								) S ON S.SalesOrder=H.TransId AND (SOLine is null or SOLine = D.EntryNum) --AND S.ShipDate=D.ActShipDate --AND S.PLNo=H.[cf_Packing List No]
		WHERE D.ActShipDate < GETDATE() AND D.QtyShipSell != 0 AND D.[Status] = 0 AND D.InItemYN = 1 AND D.QtyOrdSell > 0 --AND D.TransID = '00000157' --AND EntryNum = 66
		--ORDER BY EntryNum ASC, D.QtyOrdSell DESC
	UNION ALL 
		SELECT DISTINCT
				H.TransId AS SalesOrder,
				C.CustName AS CustomerName,
				D.EntryNum AS LineItemNo,
				D.PartId AS ItemId,
				D.OrigOrderQty AS OrderQty,
				--D.QtyOrdSell,
				ReqShipDate = ISNULL(D.ReqShipDate, H.ReqShipDate),
				D.ActShipDate,
				IIF(QtyShipSell = 0, NULL, DATEDIFF(day, ISNULL(D.ReqShipDate, H.ReqShipDate), S.ShipDate)) AS VarianceDays,
				IIF(QtyShipSell = 0, 0, S.Qty) AS ShippedQty,
				IIF(QtyShipSell = 0, NULL, S.PLNo) AS PLNo
		FROM [005].[dbo].[trav_tblArHistHeader_view] H
			 INNER JOIN [005].[dbo].[trav_tblArHistDetail_view] D ON D.TransID=H.TransId AND D.PostRun=H.PostRun
			 INNER JOIN [005].[dbo].[tblArCust] C ON C.CustId=H.CustId
			 INNER JOIN (SELECT DISTINCT 
									SPLD.PLNo, 
									SPL.OrderNo AS SalesOrder, 
									SPLSO.SOLine, 
									SPLD.ItemId, 
									SUM(SPLD.Qty) AS Qty,
									SPL.ShipDate
								FROM [W005].[dbo].[ShipPackingList] SPL
									 INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo
									 LEFT JOIN [W005].[dbo].[ShipPackingListSOLine] SPLSO ON SPLSO.PLNo=SPLD.PLNo AND SPLSO.ItemId=SPLD.ItemId
								GROUP BY SPLD.PLNo, SPL.OrderNo, SPLSO.SOLine, SPLD.ItemId, SPL.ShipDate
							) S ON S.SalesOrder=H.TransId AND (SOLine is null or SOLine = D.EntryNum) 
		WHERE D.ActShipDate < GETDATE() AND D.QtyShipSell != 0 AND D.[Status] = 0 AND D.InItemYN = 1 AND D.QtyOrdSell > 0  
) A
GO
