USE [W005]
GO
/****** Object:  View [dbo].[vFrozenVsScannedInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vFrozenVsScannedInventory]
AS
SELECT TOP (100) PERCENT P.ItemId AS FrozenItemId, P.LocId AS FrozenLocId, P.LotNum, P.QtyFrozen AS FrozenQty, U.ItemId AS ScannedItemId, U.Location AS ScannedLocId, U.Qty AS ScannedQty, U.ICTNum AS CountTicketNum
FROM     [005].dbo.tblInPhysCount AS P LEFT OUTER JOIN
                  dbo.InventoryCountTicketUnit AS U ON U.ItemId = P.ItemId AND U.TravLotNum = P.LotNum
WHERE  (P.QtyFrozen > 0) AND (P.TotalQtyCounted = 0)
GO
