USE [W005]
GO
/****** Object:  View [dbo].[vInventoryCountTicket]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vInventoryCountTicket]
AS
SELECT        dbo.InventoryCountTicket.ICTNum, dbo.InventoryCountTicketUnit.ICTUnitId, dbo.InventoryCountTicket.InventoryisFG, dbo.InventoryCountTicketUnit.PkgFoundInSystem, dbo.InventoryCountTicketUnit.ShipItemId, 
                         dbo.InventoryCountTicketUnit.ShipBoxId, dbo.InventoryCountTicketUnit.ShipCartonId, dbo.InventoryCountTicketUnit.ShipPalletId, dbo.InventoryCountTicketUnit.Complete, dbo.InventoryCountTicketUnit.ItemId, 
                         dbo.InventoryCountTicketUnit.ItemDescr, dbo.InventoryCountTicketUnit.LotNumList, dbo.InventoryCountTicketUnit.SerNumList, dbo.InventoryCountTicketUnit.Qty, dbo.InventoryCountTicketUnit.UOM, dbo.InventoryCountTicketUnit.NoRolls, 
                         dbo.InventoryCountTicketUnit.Location, dbo.InventoryCountTicketUnit.TOPS, dbo.InventoryCountTicketUnit.MfgDate, dbo.InventoryCountTicketUnit.ErrorMsg, dbo.InventoryCountTicketUnit.PkgIdMRNum, 
                         dbo.InventoryCountTicket.TicketDate, dbo.InventoryCountTicket.Posted
FROM            dbo.InventoryCountTicket INNER JOIN
                         dbo.InventoryCountTicketUnit ON dbo.InventoryCountTicket.ICTNum = dbo.InventoryCountTicketUnit.ICTNum




GO
