USE [W005]
GO
/****** Object:  View [dbo].[vOutTimeItemStatus]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOutTimeItemStatus]
AS

/*RMs and IMs*/
SELECT DISTINCT
	   OTIS.[Id]
      ,OTIS.[ItemId]
	  ,LOC.LocID
	  ,LOC.[cf_Physical Location]
      ,OTIS.[SerialNo]
      ,OTIS.[LotNo]
      ,'' AS TravSerNum
      ,OTIS.[LastScanDateTime]
      ,OTIS.[CurrentWmBinId]
      ,OTIS.[BinType]
      ,OTIS.[BinTypeDT]
      ,OTIS.[PriorWmBinId]
      ,OTIS.[TotalRoomMinutes]
      ,OTIS.[TotalFreezerMinutes]
      ,OTIS.[TotalReeferMinutes]
      ,OTIS.[IsPartialKit]
      ,OTIS.[DryIceDateTime]
      ,OTIS.[OutTimeRecvdId]
      ,OTIS.[UserId]
	  ,OTIS.[ParentOrder]
      ,OTIS.[ThawCompletedDT]
      ,OTIS.[MaxRoomDTReached]
      ,OTIS.[MaxFreezerDTReached]
      ,OTIS.[MaxReeferDTReached]
      ,OTIS.[InTransitOTStopped]
      ,OTIS.[ProgramId]
  FROM [W005].[dbo].[OutTimeItemStatus] OTIS
	   INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTIS.CurrentWmBinId
	   INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTIS.ItemId AND L.LocId=LOC.LocID
   WHERE L.GLAcctCode NOT LIKE '7%'
UNION 
/*Kitted FGs*/
SELECT DISTINCT
	   OTIS.[Id]
      ,OTIS.[ItemId]
	  ,LOC.LocID
	  ,LOC.[cf_Physical Location]
      ,'' AS SerialNo
      ,'' AS LotNo
      ,OTIS.[TravSerNum]
      ,OTIS.[LastScanDateTime]
      ,OTIS.[CurrentWmBinId]
      ,OTIS.[BinType]
      ,OTIS.[BinTypeDT]
      ,OTIS.[PriorWmBinId]
      ,OTIS.[TotalRoomMinutes]
      ,OTIS.[TotalFreezerMinutes]
      ,OTIS.[TotalReeferMinutes]
      ,OTIS.[IsPartialKit]
      ,OTIS.[DryIceDateTime]
      ,OTIS.[OutTimeRecvdId]
      ,OTIS.[UserId]
	  ,OTIS.ParentOrder
	  --,SI.ProdOrderNo AS ParentOrder
      ,OTIS.[ThawCompletedDT]
      ,OTIS.[MaxRoomDTReached]
      ,OTIS.[MaxFreezerDTReached]
      ,OTIS.[MaxReeferDTReached]
      ,OTIS.[InTransitOTStopped]
      ,OTIS.[ProgramId]
  FROM [W005].[dbo].[OutTimeItemStatus] OTIS
	   INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTIS.CurrentWmBinId
	   INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTIS.ItemId AND L.LocId=LOC.LocID
	   INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=OTIS.ItemId AND ISNULL([cf_Kitted (WI)],0)=1
   WHERE L.GLAcctCode LIKE '7%'
UNION 
/*Non-Kitted FGs*/
SELECT DISTINCT
	   OTIS.[Id]
      ,OTIS.[ItemId]
	  ,LOC.LocID
	  ,LOC.[cf_Physical Location]
      ,OTIS.[SerialNo]
      ,OTIS.[LotNo]
      ,'' AS TravSerNum
      ,OTIS.[LastScanDateTime]
      ,OTIS.[CurrentWmBinId]
      ,OTIS.[BinType]
      ,OTIS.[BinTypeDT]
      ,OTIS.[PriorWmBinId]
      ,OTIS.[TotalRoomMinutes]
      ,OTIS.[TotalFreezerMinutes]
      ,OTIS.[TotalReeferMinutes]
      ,OTIS.[IsPartialKit]
      ,OTIS.[DryIceDateTime]
      ,OTIS.[OutTimeRecvdId]
      ,OTIS.[UserId]
	  ,OTIS.[ParentOrder]
      ,OTIS.[ThawCompletedDT]
      ,OTIS.[MaxRoomDTReached]
      ,OTIS.[MaxFreezerDTReached]
      ,OTIS.[MaxReeferDTReached]
      ,OTIS.[InTransitOTStopped]
      ,OTIS.[ProgramId]
  FROM [W005].[dbo].[OutTimeItemStatus] OTIS
	   INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTIS.CurrentWmBinId
	   INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTIS.ItemId AND L.LocId=LOC.LocID
	   INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=OTIS.ItemId AND ISNULL([cf_Kitted (WI)],0)=0
   WHERE L.GLAcctCode LIKE '7%'

GO
