USE [W005]
GO
/****** Object:  View [dbo].[vInventoryCountTicketNums]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vInventoryCountTicketNums]
AS

SELECT dbo.InventoryCountTicket.ICTNum,dbo.InventoryCountTicket.ICEId, dbo.InventoryCountTicket.[Site],dbo.InventoryCountTicket.Bin, dbo.InventoryCountTicket.TicketDate, dbo.InventoryCountTicket.InventoryisFG, 
       dbo.InventoryCountTicket.LocId, dbo.InventoryCountTicket.Posted,dbo.InventoryCountTicket.NumScans
FROM   dbo.InventoryCountTicket 








GO
