USE [W005]
GO
/****** Object:  View [dbo].[vUnitsForOST]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vUnitsForOST]
AS


SELECT DISTINCT lot.ItemId, '' As TravSerNum, lot.LotNum As TravLotNum, lot.LocId
	, Qty =	CAST(lot.QtyOnHand / (SELECT iu.ConvFactor 
										FROM [005].dbo.trav_tblInItem_View i INNER JOIN [005].[dbo].[tblInItemUom] iu ON i.ItemId=iu.ItemId AND i.UomDflt=iu.Uom
										WHERE i.Itemid = lot.ItemId)
			AS decimal(20,10))
	,UOM = (SELECT UomDflt FROM [005].dbo.trav_tblInItem_View WHERE ItemId=lot.ItemId)
	, '' As PkgId, Barcode = '1|' + RTRIM(lot.ItemId) + '|' + RTRIM(lot.LotNum) + '|' + RTRIM(lot.LotNum)
FROM [005].[dbo].[trav_InItemOnHandLot_view] lot 
	LEFT JOIN [W005].[dbo].[OffSiteTransferDetail] od ON lot.ItemId=od.ItemId and lot.LotNum=od.TravLotNum
WHERE lot.QtyOnHand>0  AND od.Id is null

UNION ALL

SELECT ser.ItemId,ser.SerNum As TravSerNum, '' As TravLotNum, ser.LocId
	, CAST(1 as decimal) As Qty
	,UOM = (SELECT UomDflt FROM [005].dbo.trav_tblInItem_View WHERE ItemId=ser.ItemId)
	, '' As PkgId, Barcode = '1|' + RTRIM(ser.ItemId) + '|' + RTRIM(ser.SerNum) + '|' 
FROM [005].[dbo].[tblInItemSer] ser 
	LEFT JOIN [W005].[dbo].[OffSiteTransferDetail] od ON ser.ItemId=od.ItemId and ser.SerNum=od.TravSerNum
WHERE ser.SerNumStatus IN (1,2,5) AND ser.SerNum NOT IN (SELECT TravSerNum FROM [W005].[dbo].[ShipItem]) AND od.Id is null

UNION ALL

SELECT DISTINCT '' As ItemId, '' As TravSerNum, '' As TravLotNum, si.Location As LocId
	,  CAST(0 as decimal) As Qty
	,UOM = ''
	, sp.ShipPalletNo As PkgId, Barcode = RTRIM(sp.ShipPalletNo)
FROM [W005].[dbo].[ShipPallet] sp 
	INNER JOIN [W005].[dbo].[ShipItem] si ON sp.Id=si.ShipPalletId
	LEFT JOIN [W005].[dbo].[OffSiteTransferDetail] od ON si.ItemId=od.ItemId and sp.ShipPalletNo=od.PkgId
WHERE sp.Shipped = 0 and sp.Deleted = 0 and sp.UsedByProduction = 0 and sp.PhantomAdjOut = 0 AND od.Id is null     

UNION ALL

SELECT DISTINCT '' As ItemId, '' As TravSerNum, '' As TravLotNum, si.Location As LocId
	,  CAST(0 as decimal) As Qty
	,UOM = ''
	, sc.ShipCartonNo As PkgId, Barcode = RTRIM(sc.ShipCartonNo)
FROM [W005].[dbo].[ShipCarton] sc
	INNER JOIN [W005].[dbo].[ShipItem] si ON sc.Id=si.ShipCartonId
	LEFT JOIN [W005].[dbo].[OffSiteTransferDetail] od ON si.ItemId=od.ItemId and sc.ShipCartonNo=od.PkgId
WHERE sc.Shipped = 0 and sc.Deleted = 0 and sc.UsedByProduction = 0 and sc.PhantomAdjOut = 0 AND od.Id is null       

UNION ALL

SELECT DISTINCT '' As ItemId, '' As TravSerNum, '' As TravLotNum, si.Location As LocId
	,  CAST(0 as decimal) As Qty
	,UOM = ''
	, sb.ShipBoxNo As PkgId, Barcode = RTRIM(sb.ShipBoxNo)
FROM [W005].[dbo].[ShipBox] sb
	INNER JOIN [W005].[dbo].[ShipItem] si ON sb.Id=si.ShipBoxId
	LEFT JOIN [W005].[dbo].[OffSiteTransferDetail] od ON si.ItemId=od.ItemId and sb.ShipBoxNo=od.PkgId
WHERE sb.Shipped = 0 and sb.Deleted = 0 and sb.UsedByProduction = 0 and sb.PhantomAdjOut = 0 AND od.Id is null       





GO
