USE [W005]
GO
/****** Object:  View [dbo].[vCCItblMbAssemblyHeader]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCItblMbAssemblyHeader]
AS
SELECT        H.AssemblyId, H.RevisionNo, H.Description, H.EffectiveDateFrom, H.EffectiveDateThru
FROM            [005].dbo.tblMbAssemblyHeader AS H INNER JOIN
                         [005].dbo.trav_tblInItem_view AS I ON I.ItemId = H.AssemblyId
WHERE        (I.[cf_Kitted (WI)] = 1) AND (I.ItemStatus <> '4')
GO
