USE [W005]
GO
/****** Object:  View [dbo].[vCCITravMpMatDtlExists]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCITravMpMatDtlExists]
AS
SELECT        R.ReleaseId, O.OrderNo, O.ReleaseNo, D.ComponentId AS ItemId, D.LocId, M.LotNum, D.TransDate, D.Qty, D.Notes
FROM            [005].dbo.tblMpMatlDtl AS D INNER JOIN
                         [005].dbo.tblMpRequirements AS R ON R.TransId = D.TransId INNER JOIN
                         [005].dbo.tblMpOrderReleases AS O ON O.Id = R.ReleaseId INNER JOIN
                         [005].dbo.tblMpMatlDtlExt AS M ON M.TransId = D.TransId AND M.EntryNum = D.SeqNo
GO
