USE [W005]
GO
/****** Object:  View [dbo].[vCCIMRASItemId]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIMRASItemId]
AS

SELECT ItemId,Descr,[cf_FG Program] AS Program,ProductLine
FROM [005].dbo.trav_tblInItem_View
WHERE [cf_FG Program] IN (SELECT ProgramName
							FROM [W005].[dbo].[Program]
							WHERE CustId IN ( SELECT CustId
								FROM [005].[dbo].[tblArCust]
								WHERE CustName LIKE ('%Middle%River%')))
	AND ItemId LIKE ('FG%')


GO
