USE [W005]
GO
/****** Object:  View [dbo].[vMpOrderAssembly]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vMpOrderAssembly]
AS
SELECT DISTINCT	M.OrderNo, M.ReleaseNo, I.ItemId AS AssemblyId, I.Descr, OREI.IsAssembly

FROM			[W005].dbo.OrderReleaseEvent AS ORE 
				INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id = OREI.OrderReleaseEventId
				INNER JOIN [005].[dbo].[tblInItem] AS I ON OREI.ItemId = I.ItemId 
				LEFT JOIN [005].dbo.tblMpOrder AS O ON ORE.OrderNo = O.OrderNo AND I.ItemId = O.AssemblyId
				LEFT JOIN [005].dbo.tblMpHistoryOrderReleases AS MH ON ORE.OrderNo = MH.OrderNo AND I.ItemId = MH.AssemblyId
				INNER JOIN (SELECT DISTINCT OrderNo, ReleaseNo
							FROM            [005].dbo.tblMpOrderReleases AS O
							UNION ALL
							SELECT DISTINCT OrderNo, ReleaseNo
							FROM            [005].dbo.tblMpHistoryOrderReleases AS R) AS M ON ORE.OrderNo = M.OrderNo AND ORE.ReleaseNo = M.ReleaseNo
WHERE OREI.IsAssembly = 1




GO
