USE [W005]
GO
/****** Object:  View [dbo].[vShippableUnitandUnpackedItemsInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vShippableUnitandUnpackedItemsInventory]
AS
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Id
	  , [ShipPalletNo] AS PackageNo
	  ,'PALLET' as Type
	  , I.ItemId
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipPallet] P INNER JOIN 
     (SELECT ShipPalletId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipPalletId, ItemId, Location, UOM) I ON I.ShipPalletId = P.Id
WHERE Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and PhantomAdjOut = 0
UNION ALL
SELECT Id
      , [ShipCartonNo] AS PackageNo
	  ,'CARTON' as Type
	  , I.ItemId
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipCarton] C INNER JOIN 
     (SELECT ShipCartonId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipCartonId, ItemId, Location, UOM) I ON I.ShipCartonId = C.Id
WHERE ShipPalletId Is Null and Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and PhantomAdjOut = 0
UNION ALL
SELECT Id
      , [ShipBoxNo] AS PackageNo
	  ,'BOX' as Type
	  , I.ItemId
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipBox] B INNER JOIN 
     (SELECT ShipBoxId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipBoxId, ItemId, Location, UOM) I ON I.ShipBoxId = B.Id
WHERE ShipPalletId Is Null and ShipCartonId Is Null and Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and PhantomAdjOut = 0
UNION ALL
SELECT Id
      , 'I0000000' AS PackageNo
	  ,'ITEM' as Type
	  , I.ItemId
	  , I.Location
	  , I.Quantity as Qty 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipItem] I 
WHERE ShipPalletId Is Null and ShipCartonId Is Null and ShipBoxId Is Null



GO
