USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseRequirements]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseRequirements]
AS
SELECT O.OrderNo, O.ReleaseNo, O.ReleaseId, R.ReqId, A.AssemblyId, R.IndLevel, R.Step, A.Id, R.Description, R.TransId, R.PostRun
FROM [005].dbo.tblMpHistoryOrderReleases O 
INNER JOIN [005].dbo.tblMpHistoryRequirements R on R.PostRun = O.PostRun AND R.ReleaseId = O.ReleaseId
INNER JOIN [005].dbo.tblMbAssemblyHeader A on A.AssemblyId = O.AssemblyId and A.RevisionNo = O.RevisionNo
--LEFT JOIN [005].dbo.tblMpHistoryMatlSum S ON S.PostRun = R.PostRun AND S.TransId = R.TransId 
UNION ALL
SELECT O.OrderNo, R.ReleaseNo, R.Id as ReleaseId, RQ.ReqId, A1.AssemblyId, RQ.IndLevel, RQ.Step, A1.Id, RQ.Description, RQ.TransId, Null as PostRun
FROM [005].dbo.tblMpOrder O 
INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = O.OrderNo
INNER JOIN [005].dbo.tblMpRequirements RQ on RQ.ReleaseId = R.Id
INNER JOIN [005].dbo.tblMbAssemblyHeader A1 on A1.AssemblyId = O.AssemblyId and A1.RevisionNo = O.RevisionNo	  
--LEFT JOIN [005].dbo.tblMpMatlSum S ON S.TransId = RQ.TransId
GO
