USE [W005]
GO
/****** Object:  View [dbo].[vCCIPlyScanRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIPlyScanRawMaterial]
AS
SELECT DISTINCT PCL.ParentOrderNo, PCL.TableId, PCL.IsInProcess, PCL.CutOnTable, OREI.ItemId
FROM            dbo.CCIParentOrderCutList AS PCL LEFT OUTER JOIN
                         dbo.OrderReleaseEvent AS ORE ON ORE.CCIParentOrderCutListId = PCL.Id LEFT OUTER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id
WHERE        (OREI.IsAssembly = 0)
GO
