USE [W005]
GO
/****** Object:  View [dbo].[vtblInItemLocLot]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtblInItemLocLot]
AS
SELECT        ItemId, LocId, UPPER(LotNum) AS LotNum, LotStatus, InitialDate, ExpDate, VendID, Cmnt, ts, CF
FROM            [005].dbo.tblInItemLocLot
GO
