USE [W005]
GO
/****** Object:  View [dbo].[vLabelItemTypeCount]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLabelItemTypeCount]
AS
SELECT        dbo.LabelXItem.ItemId, COUNT(DISTINCT dbo.LabelXItem.LabelTypeId) AS LabelIdCount
FROM            dbo.LabelXItem INNER JOIN
                         dbo.LabelType ON dbo.LabelXItem.LabelTypeId = dbo.LabelType.Id
GROUP BY dbo.LabelXItem.ItemId


GO
