USE [W005]
GO
/****** Object:  View [dbo].[vInItemOnHandDetail_Original]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vInItemOnHandDetail_Original]
AS
--**********************************************************************
--Get Qty on Hand for Mfg'd Items - Get Nunez Costs from MpHistoryMatDtl
--**********************************************************************
SELECT  RTRIM(OH.ItemId) AS ItemId, 
		OH.LocId,
		IsNull(I.[cf_Multi-UOM Serial Item], 0) AS IsSerial,
		I.LottedYN AS IsLotted,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, OH.LotNum, Null) AS SerialNo,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, LT.[cf_Lot No.], IIF(I.LottedYN=1, OH.LotNum, NULL)) AS LotNo,
		M.UOM,
		QtyOnHand = OH.Qty - OH.InvoicedQty - OH.RemoveQty,
		OH.Cost AS TravUnitCost,
		TravExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost,
		Cast(M.cf_WILaborSetupUnitCost as decimal(20,10)) AS LaborSetupUnitCost, 
		LaborSetupCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WILaborSetupUnitCost as decimal(20,10)), 
		Cast(M.cf_WILaborUnitCost as decimal(20,10)) AS LaborUnitCost,  
		LaborCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WILaborUnitCost as decimal(20,10)),  
		Cast(M.cf_WIMachineSetupUnitCost as decimal(20,10)) AS MachineSetupUnitCost,  
		MachineSetupCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMachineSetupUnitCost as decimal(20,10)),  
		Cast(M.cf_WIMachineUnitCost as decimal(20,10)) AS MachineUnitCost,  
		MachineCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMachineUnitCost as decimal(20,10)),  
		Cast(M.cf_WIMaterialDirectUnitCost as decimal(20,10)) AS MaterialDirectUnitCost,  
		MaterialDirectCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMaterialDirectUnitCost as decimal(20,10)),  
		Cast(M.cf_WIMaterialIndirectUnitCost as decimal(20,10)) AS MaterialIndirectUnitCost,  
		MaterialIndirectCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMaterialIndirectUnitCost as decimal(20,10)),  
		Cast(M.cf_WISubcontractUnitCost as decimal(20,10)) AS SubcontractUnitCost,
		SubcontractCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WISubcontractUnitCost as decimal(20,10)),
		WebExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WILaborSetupUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WILaborUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMachineSetupUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMachineUnitCost as decimal(20,10))+
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMaterialDirectUnitCost as decimal(20,10)) +
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WIMaterialIndirectUnitCost as decimal(20,10)) +
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(M.cf_WISubcontractUnitCost as decimal(20,10))
FROM    [005].dbo.tblInQtyOnHand OH INNER JOIN
		[005].dbo.trav_tblInItem_view I ON I.ItemId = OH.ItemId INNER JOIN
		[005].[dbo].[tblInItemLoc] L ON L.ItemId = OH.ItemId AND L.LocId = OH.LocId LEFT JOIN
		[005].[dbo].[trav_tblInItemLocLot_View] LT ON LT.ItemId = OH.ItemId AND LT.LocId = OH.LocId AND LT.LotNum = OH.LotNum LEFT JOIN
		[005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId = OH.LinkId AND E.Lotnum = OH.Lotnum INNER JOIN
		[005].dbo.trav_tblMpHistoryMatlDtl_View M  ON M.TransId = OH.LinkID AND (E.EntryNum is Null or M.SeqNo = E.EntryNum) INNER JOIN
		[W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
WHERE OH.Source = 18 and OH.EntryDate > G.EntryDate AND RcptLink > 0 
UNION ALL
--*******************************************************************************************
--Get Qty on Hand for Non Mfg'd Items (Inv Adj's, Receipts, etc) after the Go Live Conversion
--These will not have any Nunez costs associated with them - only material
--*******************************************************************************************
SELECT  RTRIM(OH.ItemId) AS ItemId, 
		OH.LocId, 
		IsNull(I.[cf_Multi-UOM Serial Item], 0) AS IsSerial,
		I.LottedYN AS IsLotted,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, OH.LotNum, Null) AS SerialNo,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, LT.[cf_Lot No.], IIF(I.LottedYN=1, OH.LotNum, NULL)) AS LotNo,
		I.UomBase as UOM,
		QtyOnHand = OH.Qty - OH.InvoicedQty - OH.RemoveQty,
		OH.Cost AS TravUnitCost,
		TravExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost,
		Cast(0 as decimal(20,10)) AS LaborSetupUnitCost, 
		LaborSetupCost = 0, 
		Cast(0 as decimal(20,10)) AS LaborUnitCost, 
		LaborCost = 0,
		Cast(0 as decimal(20,10)) AS MachineSetupUnitCost,  
		MachineSetupCost = 0,
		Cast(0 as decimal(20,10)) AS MachineUnitCost,  
		MachineCost = 0,
		Cast(OH.Cost as decimal(20,10)) AS MaterialDirectUnitCost,  
		MaterialDirectCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost,
		Cast(0 as decimal(20,10)) AS MaterialIndirectUnitCost,  
		MaterialIndirectCost = 0,
		Cast(0 as decimal(20,10)) AS SubcontractUnitCost,
		SubcontractCost = 0,
		WebExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost
FROM    [005].dbo.tblInQtyOnHand OH INNER JOIN 
		[005].dbo.trav_tblInItem_view I ON I.ItemId = OH.ItemId INNER JOIN
		[005].[dbo].[tblInItemLoc] L ON L.ItemId = OH.ItemId AND L.LocId = OH.LocId LEFT JOIN
		[005].[dbo].[trav_tblInItemLocLot_View] LT ON LT.ItemId = OH.ItemId AND LT.LocId = OH.LocId AND LT.LotNum = OH.LotNum INNER JOIN
		[W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
WHERE OH.Source <> 18 and OH.EntryDate > G.EntryDate 
UNION ALL
--*******************************************************************************************
--Get Qty on Hand for Converted Polaris Items based on the Conversion DATE
--*******************************************************************************************
SELECT  RTRIM(OH.ItemId) AS ItemId, 
		OH.LocId, 
		IsNull(I.[cf_Multi-UOM Serial Item], 0) AS IsSerial,
		I.LottedYN AS IsLotted,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, OH.LotNum, Null) AS SerialNo,
		IIF(IsNull(I.[cf_Multi-UOM Serial Item], 0)=1, LT.[cf_Lot No.], IIF(I.LottedYN=1, OH.LotNum, NULL)) AS LotNo,
		I.UomBase as UOM,
		QtyOnHand = OH.Qty - OH.InvoicedQty - OH.RemoveQty,
		OH.Cost AS TravUnitCost,
		TravExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost,
		Cast(H.cf_WILaborSetupUnitCost as decimal(20,10)) AS LaborSetupUnitCost, 
		LaborSetupCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WILaborSetupUnitCost as decimal(20,10)), 
		Cast(H.cf_WILaborUnitCost as decimal(20,10)) AS LaborUnitCost,  
		LaborCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WILaborUnitCost as decimal(20,10)),  
		Cast(H.cf_WIMachineSetupUnitCost as decimal(20,10)) AS MachineSetupUnitCost,  
		MachineSetupCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMachineSetupUnitCost as decimal(20,10)),  
		Cast(H.cf_WIMachineUnitCost as decimal(20,10)) AS MachineUnitCost,  
		MachineCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMachineUnitCost as decimal(20,10)),  
		Cast(H.cf_WIMaterialDirectUnitCost as decimal(20,10)) AS MaterialDirectUnitCost,  
		MaterialDirectCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMaterialDirectUnitCost as decimal(20,10)),  
		Cast(H.cf_WIMaterialIndirectUnitCost as decimal(20,10)) AS MaterialIndirectUnitCost,  
		MaterialIndirectCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMaterialIndirectUnitCost as decimal(20,10)),  
		Cast(H.cf_WISubcontractUnitCost as decimal(20,10)) AS SubcontractUnitCost,
		SubcontractCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WISubcontractUnitCost as decimal(20,10)),
		WebExtCost = (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WILaborSetupUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WILaborUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMachineSetupUnitCost as decimal(20,10)) + 
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMachineUnitCost as decimal(20,10))+
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMaterialDirectUnitCost as decimal(20,10)) +
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WIMaterialIndirectUnitCost as decimal(20,10)) +
					 (OH.Qty - OH.InvoicedQty - OH.RemoveQty) * Cast(H.cf_WISubcontractUnitCost as decimal(20,10))
FROM    [005].dbo.tblInQtyOnHand OH INNER JOIN 
		[005].dbo.trav_tblInItem_view I ON I.ItemId = OH.ItemId INNER JOIN
		[005].[dbo].[tblInItemLoc] L ON L.ItemId = OH.ItemId AND L.LocId = OH.LocId LEFT JOIN
		[005].[dbo].[trav_tblInItemLocLot_View] LT ON LT.ItemId = OH.ItemId AND LT.LocId = OH.LocId AND LT.LotNum = OH.LotNum INNER JOIN
		[005].dbo.trav_tblInHistDetail_View H ON H.TransId = OH.LinkID  AND H.TransDate = OH.EntryDate INNER JOIN
		[W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
WHERE OH.EntryDate <= G.EntryDate 




GO
