USE [W005]
GO
/****** Object:  View [dbo].[vCCIDimInspectionLog]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/

CREATE VIEW [dbo].[vCCIDimInspectionLog]
AS 
	SELECT DISTINCT 
		   D.Id
		  ,D.OrderReleaseEventId
		  ,E.OrderNo AS ParentOrderNo
		  ,C.OrderNo
		  ,C.ReleaseNo
		  ,CFK.ItemId
		  ,D.[CuttingTechUserId]
		  ,PC.CutFileActual
		  ,CF.DIMSheet
		  ,D.[DimA]
		  ,D.[DimAToolId]
		  ,DS.DimAUpperLimit
		  ,DS.DimALowerLimit
		  ,D.[DimB]
		  ,D.[DimBToolId]
		  ,DS.DimBUpperLimit
		  ,DS.DimBLowerLimit
		  ,D.[DimC]
		  ,D.[DimCToolId]
		  ,DS.DimCUpperLimit
		  ,DS.DimCLowerLimit
		  ,D.[DimD]
		  ,D.[DimDToolId]
		  ,DS.DimDUpperLimit
		  ,DS.DimDLowerLimit
		  ,D.[DimE]
		  ,D.[DimEToolId]
		  ,DS.DimEUpperLimit
		  ,DS.DimELowerLimit
		  ,D.[IsFirstPiece]
		  ,D.[ApprovedBy]
		  ,D.[IsLayUpVerified]
		  ,D.[OKtoMylar]
		  ,D.[DimAGoNoGo]
		  ,D.[DimBGoNoGo]
		  ,D.[DimCGoNoGo]
		  ,D.[DimDGoNoGo]
		  ,D.[DimEGoNoGo]
		  ,D.[SupervisorOverride]
		  ,D.[Supervisor]
	  FROM [W005].[dbo].[OrderReleaseEvent] E
		   INNER JOIN [W005].[dbo].[CCIDimInspectionLog] D ON D.OrderReleaseEventId=E.Id
		   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly = 0
		   INNER JOIN [W005].[dbo].[CCIParentOrderCutList] PC ON PC.Id=E.CCIParentOrderCutListId
		   INNER JOIN [W005].[dbo].[CCICutFile] CF ON CF.Id=PC.CCICutFileId
		   INNER JOIN [W005].[dbo].[CCICutFileKit] CFK ON CFK.CCICutFileId=CF.Id
		   INNER JOIN [W005].[dbo].[CCICutFileDimSheetSpecs] DS ON DS.CCICutFileId=CF.Id
		   INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] C ON C.ParentOrderNo=E.OrderNo AND C.ItemId=CFK.ItemId


GO
