USE [W005]
GO
/****** Object:  View [dbo].[vCCIKittingRawMaterialConsumed]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIKittingRawMaterialConsumed]
AS
SELECT        E.OrderNo, I.ItemId, I.SerialNo, I.LotNo, I.TotalQtyConsumed
FROM            dbo.OrderReleaseEventItem AS I INNER JOIN
                         dbo.OrderReleaseEvent AS E ON E.Id = I.OrderReleaseEventId
WHERE        (E.Operation LIKE 'KIT%') OR (E.Operation LIKE 'SETUP%')
GO
