USE [W005]
GO
/****** Object:  View [dbo].[vTravCompany]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vTravCompany]
AS
SELECT        CompId, CompName, Description
FROM            TSM.dbo.Company
GO
