USE [W005]
GO
/****** Object:  View [dbo].[vBillingDetailLocId]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vBillingDetailLocId]
AS
SELECT DISTINCT BLNo, Location
FROM            dbo.BillingListDetail
GO
