USE [W005]
GO
/****** Object:  View [dbo].[vPackedUnitInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vPackedUnitInventory]
AS
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Id
	  , [ShipPalletNo] AS PackageNo
	  ,'PALLET' as Type
	  , I.ItemId
	  , I.ProdOrderNo
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipPallet] P INNER JOIN 
     (SELECT ShipPalletId, ItemId, ProdOrderNo, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipPalletId, ItemId, ProdOrderNo, Location, UOM) I ON I.ShipPalletId = P.Id
UNION ALL
SELECT Id
      , [ShipCartonNo] AS PackageNo
	  ,'CARTON' as Type
	  , I.ItemId
	  , I.ProdOrderNo
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipCarton] C INNER JOIN 
     (SELECT ShipCartonId, ItemId, ProdOrderNo, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipCartonId, ItemId, ProdOrderNo, Location, UOM) I ON I.ShipCartonId = C.Id
UNION ALL
SELECT Id
      , [ShipBoxNo] AS PackageNo
	  ,'BOX' as Type
	  , I.ItemId
	  , I.ProdOrderNo
	  , I.Location
	  , I.QTY 
	  , I.UOM
	  , Shipped
FROM [W005].[dbo].[ShipBox] B INNER JOIN 
     (SELECT ShipBoxId, ItemId, ProdOrderNo, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipBoxId, ItemId, ProdOrderNo, Location, UOM) I ON I.ShipBoxId = B.Id








GO
