USE [W005]
GO
/****** Object:  View [dbo].[vCCICompletedKitSerNoInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCICompletedKitSerNoInfo]
AS
SELECT        OrderNo, ReleaseNo, OrderReleaseEventItemId, TravSerNum, TravLotNum, MfgDate, FGExpDate, CutPos
FROM            dbo.vCCIOrderReleaseEventKits
WHERE        (FGCompleted = 1) AND (LocId NOT IN ('WASTE', 'NOT CUT'))
GO
