USE [W005]
GO
/****** Object:  View [dbo].[vDTSMRDetailRpt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vDTSMRDetailRpt]
AS
SELECT        OREI.ItemId, OREI.SerialNo, OREI.LotNo, V.VendorID, V.Name AS VendorName, V.[cf_DTS Default UOM] AS DefaultUOM, MD1.DefectCode AS DefectCode1, MD1.DefectDescription AS DefectDescr1,
                          MD2.DefectCode AS DefectCode2, MD2.DefectDescription AS DefectDescr2, MR.EndTagLocationFeet, MR.EndTagLocationMeters, MR.Id AS DTSMasterRollId, MR.StatedGrossLengthFeet, MR.StatedGrossLengthMeters, 
                         MR.StatedTotalDefectLengthFeet, MR.StatedTotalDefectLengthMeters, MR.StatedUseableLengthFeet, MR.StatedUseableLengthMeters, MRD.ActualDefectStartFeet, MRD.ActualDefectStartMeters, MRD.ActualDefectLengthFeet, 
                         MRD.ActualDefectLengthMeters, MRD.ActualDefectEndFeet, MRD.ActualDefectEndMeters, MRD.ActualProximityDefectEndFeet, MRD.ActualProximityDefectEndMeters, MRD.DefectDocumented, MRD.DefectStartFeet, 
                         MRD.DefectStartMeters, MRD.DefectLengthFeet, MRD.DefectLengthMeters, MRD.DefectFoundAt, MRD.DefectFoundAtFeet, MRD.DefectEndFeet, MRD.DefectEndMeters, MRD.Id AS MasterRollDefectId, MRD.MRDefectStartFeet, 
                         MRD.MRDefectStartMeters, MRD.MRDefectLengthFeet, MRD.MRDefectLengthMeters, MRD.MRDefectEndFeet, MRD.MRDefectEndMeters, MRD.NoDefectFound, MRD.ProximityDefect, MRD.ProximityDefectEndFeet, 
                         MRD.ProximityDefectEndMeters, MRD.ProximityLossFeet, MRD.ProximityLossMeters, MRD.TimeStamp, MRD.UnDocNotRemoved, WD1.WebDefect AS WebDefect1, WD2.WebDefect AS WebDefect2, CAST(MRD.Comment as VARCHAR(MAX)) as Comment
FROM            dbo.DTSMasterRoll AS MR INNER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.ItemId = MR.ItemId AND OREI.SerialNo = MR.RollNumber AND OREI.LotNo = MR.LotNumber INNER JOIN
                         dbo.OrderReleaseEvent AS ORE ON ORE.Id = OREI.OrderReleaseEventId INNER JOIN
                         [005].dbo.trav_tblApVendor_view AS V ON V.VendorID = MR.VendorId LEFT OUTER JOIN
                         dbo.DTSMasterRollDefect AS MRD ON MRD.MasterRollId = MR.Id LEFT OUTER JOIN
                         dbo.DTSMfgDefect AS MD1 ON MD1.VendorId = MR.VendorId AND MD1.Id = MRD.MfgDefectId1 LEFT OUTER JOIN
                         dbo.DTSMfgDefect AS MD2 ON MD2.VendorId = MR.VendorId AND MD2.Id = MRD.MfgDefectId2 LEFT OUTER JOIN
                         dbo.DTSWebDefect AS WD1 ON WD1.Id = MD1.DTSWebDefectId LEFT OUTER JOIN
                         dbo.DTSWebDefect AS WD2 ON WD2.Id = MD2.DTSWebDefectId
GO
