USE [W005]
GO
/****** Object:  View [dbo].[vLaborEmployee]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLaborEmployee]
AS
SELECT        O.Id, O.OrderReleaseEventId, O.OrderNo, O.ReleaseNo, O.Operation, O.ClockInEvent, O.ClockOutEvent, O.UserId, O.EmployeeId, O.ClockIn, O.ClockOut, 
                         O.ClockInDurationMin, E.LastName + ', ' + E.FirstName AS EmpName
FROM            dbo.OrderReleaseEventLabor AS O INNER JOIN
                         [005].dbo.tblSmEmployee AS E ON O.EmployeeId = E.EmployeeId
GO
