USE [W005]
GO
/****** Object:  View [dbo].[vMpOrderReleasesInProcess]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vMpOrderReleasesInProcess]
AS


SELECT DISTINCT OrderNo, ReleaseNo, ParentOrder, LocId, AssemblyId, RevisionNo, CustId, SalesOrder, Qty, UOM, 
				DATEADD(MINUTE, -DurationMinutes, MfgEndDate) AS MfgStartDate, MfgEndDate, DurationMinutes, DurationMinutes/60 AS DurationHours, PurchaseOrder, ReqShipDate, 
				ReleaseId, FGProgram, RAWMaterial
FROM (
	SELECT DISTINCT
					  R.OrderNo
					, R.ReleaseNo
					, R.[cf_Parent Order] AS ParentOrder
					, R.Id AS ReleaseId
					, O.LocId
					, O.AssemblyId
					, O.RevisionNo
					, R.CustId
					, R.SalesOrder
					, R.Qty
					, R.UOM
					--, MfgStartDate = R.EstStartDate
					, MfgEndDate = R.EstCompletionDate
					, DurationMinutes = R.Qty * IIF(BOMR.MachRunTimeIn = 3600, BOMR.MachRunTime/60, IIF(BOMR.MachRunTimeIn = 60, BOMR.MachRunTime, BOMR.MachRunTime*60)) --MachRunTimeIn: 3600 = Seconds, 60 = Minutes, 1 = Hours
					--, DurationHours = BOMR.MachRunTime/BOMR.MachRunTimeIn
					, R.PurchaseOrder
					, ReqShipDate = ISNULL(SO.ReqShipDate, AR.ReqShipDate)
					, FGProgram = I.[cf_FG Program]
					, RAWMaterial =
						STUFF((SELECT DISTINCT D.ComponentID + char(9) AS [text()]
									FROM [005].[dbo].[tblMbAssemblyHeader] H 
										 INNER JOIN [005].[dbo].[tblMbAssemblyDetail] D ON D.HeaderId=H.Id
										INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=D.ComponentID AND L.GLAcctCode IN (SELECT GLAcctCode 
																																FROM [005].[dbo].[tblInGLAcct] 
																																WHERE Descr LIKE 'Materials Direct%' 
																																   OR Descr LIKE 'Materials Indirect%'
																																   OR Descr LIKE 'Materials Intermediate%')
									WHERE H.AssemblyId=O.AssemblyId
						 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,0,'')
	FROM [005].dbo.trav_tblMpOrderReleases_view AS R 
			INNER JOIN [005].dbo.tblMpOrder AS O ON O.OrderNo = R.OrderNo 
			INNER JOIN [005].[dbo].[tblMbAssemblyHeader] AS BOM ON BOM.AssemblyId=O.AssemblyId AND BOM.RevisionNo=O.RevisionNo
			INNER JOIN [005].[dbo].[tblMbAssemblyDetail] AS BOMD ON BOMD.HeaderId=BOM.Id 
			INNER JOIN [005].[dbo].[tblMbAssemblyRouting] BOMR ON BOMR.Id=BOMD.RoutingId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = O.AssemblyId
			LEFT JOIN [005].dbo.tblSoTransHeader SO ON SO.TransId=R.SalesOrder
			LEFT JOIN [005].dbo.tblArHistHeader AR ON AR.TransId=R.SalesOrder
	WHERE R.[Status] = 4 

-- Status 0:New	
-- Status 1:Planned	
-- Status 2:Firm Planned
-- Status 3:Released	
-- Status 4:In Process	
-- Status 5:Production Hold	
-- Status 6:Completed

) M

GO
