USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventKits]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCIOrderReleaseEventKits]
AS
SELECT        dbo.OrderReleaseEvent.OrderNo AS ParentOrderNo, dbo.OrderReleaseEvent.ReleaseNo AS ParentOrderReleaseNo, dbo.CCIOrderReleaseInfo.OrderNo, dbo.CCIOrderReleaseInfo.ReleaseNo, 
                         dbo.CCIOrderReleaseInfo.RevisionNo, dbo.OrderReleaseEventItem.Id AS OrderReleaseEventItemId, dbo.OrderReleaseEventItem.OrderReleaseEventId, dbo.OrderReleaseEventItem.ItemId, dbo.OrderReleaseEventItem.LocId, 
                         dbo.OrderReleaseEventItem.IsAssembly, dbo.OrderReleaseEventItem.TravSerNum, dbo.OrderReleaseEventItem.TravLotNum, dbo.OrderReleaseEventItem.MfgDate, dbo.OrderReleaseEventItem.FGExpDate, 
                         dbo.OrderReleaseEventItem.TotalQty, dbo.OrderReleaseEventItem.UOM, dbo.OrderReleaseEventItem.ReturnedLocId, dbo.OrderReleaseEventItem.EventDateTime, dbo.OrderReleaseEventItem.FGCompleted, 
                         dbo.OrderReleaseEventItem.FGInspectedBy, dbo.OrderReleaseEventItem.SupervisorOverride, dbo.OrderReleaseEventItem.ScanMaterialWarnings, dbo.OrderReleaseEventItem.MultiKitPerBagNum, dbo.OrderReleaseEventItem.CustRFIDTag, 
						 dbo.OrderReleaseEventItem.CutPos, Cast(0 as bit) AS FGAlreadyBagged,
						 Cast(ISNULL(dbo.OrderReleasePartialKit.IsPartialKit, 0) as bit) AS IsPartialKit, dbo.OrderReleaseEventItem.CrossPlyNetLength, dbo.OrderReleaseEventItem.CrossPlyGrossLength, dbo.OrderReleaseEventItem.CrossPlyNetWT, 
						 dbo.OrderReleaseEventItem.CrossPlyGrossWT, dbo.OrderReleaseEventItem.KitRM,dbo.OrderReleaseEventItem.FGOREIId, sh.ShipBoxNo, OrderReleaseEventItem.SerialNo, OrderReleaseEventItem.LotNo
FROM            dbo.OrderReleaseEvent 
				INNER JOIN dbo.OrderReleaseEventItem ON dbo.OrderReleaseEvent.Id = dbo.OrderReleaseEventItem.OrderReleaseEventId 
				LEFT JOIN dbo.CCIOrderReleaseInfo ON dbo.OrderReleaseEventItem.ItemId = dbo.CCIOrderReleaseInfo.ItemId AND dbo.OrderReleaseEvent.OrderNo = dbo.CCIOrderReleaseInfo.ParentOrderNo 
				LEFT JOIN dbo.OrderReleasePartialKit ON dbo.OrderReleasePartialKit.OrderReleaseEventItemId = dbo.OrderReleaseEventItem.Id
   			    LEFT JOIN (SELECT ShipBoxNo, ShipItem.ItemId,ShipItem.OREIId FROM ShipBox INNER JOIN ShipItem ON ShipBox.Id=ShipItem.ShipBoxId) Sh ON Sh.ItemId = dbo.OrderReleaseEventItem.ItemId AND Sh.OREIId = dbo.OrderReleaseEventItem.Id
WHERE        (dbo.OrderReleaseEventItem.IsAssembly = 1)






GO
