USE [W005]
GO
/****** Object:  View [dbo].[vtblInHistDetailNunezCosts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vtblInHistDetailNunezCosts]
AS
SELECT        D.HistSeqNum, D.HistSeqNum_Rcpt, D.ItemId, D.LocId, D.ItemType, D.LottedYN, D.TransType, D.SumYear, D.SumPeriod, D.GLPeriod, D.AppId, D.BatchId, D.TransId, D.RefId, D.SrceID, D.TransDate, D.Uom, 
                         D.UomBase, N.ConvFactor, D.Qty, D.CostExt, D.CostStd, D.PriceExt, D.CostUnit, D.PriceUnit, D.Source, D.Qty_Invc, D.CostExt_Invc, D.DropShipYn, D.LotNum, D.EntryDate, N.WIMaterialDirectUnitCost, 
                         N.WIMaterialIndirectUnitCost, N.WILaborSetupUnitCost, N.WILaborUnitCost, N.WIMachineSetupUnitCost, N.WIMachineUnitCost, N.WIMachineUnitCostModified, N.WIMachineUnitCostVariable, 
                         N.WISubcontractUnitCost
FROM            [005].dbo.tblInHistDetail AS D 
				INNER JOIN [W005].dbo.tblInHistDetailNunezCost AS N ON N.HistSeqNum = D.HistSeqNum 
				--INNER JOIN [005].dbo.tblInItemUom U ON U.ItemId = D.ItemId and U.Uom = D.Uom


GO
