USE [W005]
GO
/****** Object:  View [dbo].[vArHistSoTransDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vArHistSoTransDetail]
AS

SELECT DISTINCT 
		TransID, 
		EntryNum, 
		Status = IIF(Status = 0, 'Open', IIF(Status = 1, 'Completed', CAST(Status AS VARCHAR(25)))), 
		TransType = IIF(TransType = -2, 'RMA', IIF(TransType = -1, 'Credit Memo', IIF(TransType = 1, 'Invoice', IIF(TransType = 2, 'Price Quote', IIF(TransType = 3, 'Backordered', IIF(TransType = 4, 'Verified', IIF(TransType = 5, 'Picked', IIF(TransType = 9, 'New', CAST(TransType AS VARCHAR(25)))))))))),
		LocId, 
		ItemId, 
		Descr, 
		AddnlDescr, 
		GLAcctCode,
		CustRevNo,
		CustPO,
		CustPOLine,
		[cf_Revision No],  
		OrigOrderQty,
		QtyShipBase,
		UnitsBase,
		QtyOrdSell,
		QtyShipSell, 
		QtyBackordSell,  
		TotQtyOrdSell,
		TotQtyShipSell, 
		UnitsSell, 
		ReqShipDate, 
		ActShipDate
FROM (
	SELECT DISTINCT
		D.TransID, 
		EntryNum,  
		Status, 
		TransType,
		D.LocId,
		D.ItemId, 
		Descr, 
		CAST(AddnlDescr AS varchar(MAX)) AS AddnlDescr, 
		L.GLAcctCode,
		[cf_Customer Revision No] AS CustRevNo,
		H.CustPONum AS CustPO,
		[cf_Customer PO Line] AS CustPOLine,
		[cf_Revision No],
		OrigOrderQty, 
		QtyShipBase, 
		UnitsBase, 
		QtyOrdSell,
		QtyShipSell, 
		QtyBackordSell,
		TotQtyOrdSell,
		TotQtyShipSell,
		UnitsSell,  
		H.ReqShipDate,
		--ISNULL(D.ReqShipDate, H.ReqShipDate) AS ReqShipDate, 
		D.ActShipDate	
	FROM [005].[dbo].[tblSoTransHeader] H
		 INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] D ON D.TransID=H.TransId
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=D.ItemId AND L.LocId=D.LocId
UNION ALL
	SELECT DISTINCT
		D.TransID, 
		EntryNum, 
		Status, 
		TransType,
		D.WhseId AS LocId, 
		PartId AS ItemId, 
		[Desc] AS Descr,
		CAST(AddnlDesc AS varchar(MAX)) AS AddnlDescr,  
		L.GLAcctCode,
		[cf_Customer Revision No] AS CustRevNo,
		H.CustPONum AS CustPO,
		[cf_Customer PO Line] AS CustPOLine,
		[cf_Revision No], 
		OrigOrderQty, 
		QtyShipBase, 
		UnitsBase, 
		QtyOrdSell,
		QtyShipSell, 
		QtyBackordSell,
		TotQtyOrdSell,
		TotQtyShipSell,
		UnitsSell,  
		H.ReqShipDate,
		--ISNULL(D.ReqShipDate, H.ReqShipDate) AS ReqShipDate, 
		D.ActShipDate
	FROM [005].[dbo].[tblArHistHeader] H
		 INNER JOIN [005].[dbo].[trav_tblArHistDetail_view] D ON D.TransID=H.TransId AND H.PostRun=D.PostRun
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=D.PartId AND L.LocId=D.WhseId
) A
--ORDER BY TransID, EntryNum

GO
