USE [W005]
GO
/****** Object:  View [dbo].[vCCISupervisorOverrideDTRpt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

CREATE VIEW [dbo].[vCCISupervisorOverrideDTRpt]
AS
SELECT DISTINCT
	   S.[Id]
      ,S.[TimeStamp]
      ,S.[UserId]
      ,S.[LocId]
      ,S.[ReasonForOverride]
      ,S.[Other]
      ,S.[DateTimeSelected]
      ,S.[MoveToType]
      ,S.[MoveToBin]
      ,S.[MoveToBinId]
      ,S.[CCIMaterialMovementLogID]
	  ,M.ItemId
	  ,ISNULL(M.SerialNo, M.TravSerNum) AS SerNum
	  ,ISNULL(M.LotNo, M.TravLotNum) AS LotNum
  FROM [W005].[dbo].[CCISupervisorOverrideDTLog] S
	   INNER JOIN [W005].[dbo].[CCIMaterialMovementLog] M ON M.Id=S.CCIMaterialMovementLogID


GO
