USE [W005]
GO
/****** Object:  View [dbo].[vExplodedBOMOperations]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vExplodedBOMOperations]
AS
SELECT        DISTINCT OR1.OrderNo, OR1.ReleaseNo, O.AssemblyId, O.RevisionNo, T.OperationId, MrOp.Descr, R1.Step, R1.TransId, T.Status, MrOp.MachineGroupID, ISNULL(MrOp.[cf_Operation Method], '') AS OperationMethod, LEN(ISNULL(MrOp.[cf_Operation Method], '')) 
                         AS OperationMethodLen
FROM            [005].dbo.tblMpOrder AS O INNER JOIN
                         [005].dbo.tblMpOrderReleases AS OR1 ON OR1.OrderNo = O.OrderNo INNER JOIN
                         [005].dbo.tblMpRequirements AS R1 ON R1.ReleaseId = OR1.Id AND R1.Type = 1 INNER JOIN
						 [005].[dbo].[tblMpTimeSum] T ON T.TransId = R1.TransId INNER JOIN 
                         [005].dbo.trav_tblMrOperations_view AS MrOp ON MrOp.OperationId = T.OperationId
GO
