USE [W005]
GO
/****** Object:  View [dbo].[vOrderRawMaterialUsed]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vOrderRawMaterialUsed] 

AS
SELECT        EI.Id, EI.OrderReleaseEventId, E.OrderNo, E.ReleaseNo, EI.ItemId, EI.LocId, 
                         EI.IsAssembly, EI.SerialNo, EI.LotNo, EI.TravLotNum, E.MachineGroupId,
                         EI.MpOrderMatIssuedId, EI.Qty, EI.MRLengthCounter, 
                         EI.PLCLengthCounter, EI.HeadPos, EI.CutPos, 
                         EI.Slitter2SpoolOffset, EI.TotalQty, EI.TotalWaste, 
                         EI.TotalQtyConsumed, EI.TotalQtyRemaining, EI.ReturnedLocId, 
                         EI.EventDateTime, I.[cf_Multi-UOM Serial Item] AS IsSerial, I.[LottedYN] AS IsLotted, I.[cf_Out-Time Tracked] AS IsOutTimeTracked, I.UOMBase AS UOM, CAST(0 AS BIT) AS ReturnToInvLabelPrinted
FROM          [W005].dbo.OrderReleaseEventItem AS EI INNER JOIN
              [W005].dbo.OrderReleaseEvent AS E ON EI.OrderReleaseEventId = E.Id INNER JOIN
			  --dbo.MpOrderMatIssued AS MI ON MI.Id = EI.MpOrderMatIssuedId INNER JOIN
			  [005].[dbo].[trav_tblInItem_view] AS I ON EI.ItemId = I.ItemId INNER JOIN
			  [005].[dbo].[trav_InItemOnHandLot_view] AS OH ON OH.ItemId = EI.ItemId AND OH.LocId = EI.LocId AND OH.LotNum = IIF(I.[cf_Multi-UOM Serial Item]=1, EI.SerialNo, EI.LotNo)
WHERE		   /*E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND*/ EI.IsAssembly = 0 AND EI.TotalQtyRemaining > 0 AND EI.TotalQtyRemaining = OH.QtyOnHand




GO
