USE [W005]
GO
/****** Object:  View [dbo].[vShipPackingListOrderDetails]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vShipPackingListOrderDetails]
AS

SELECT DISTINCT ParentOrderNo, OrderNo, ReleaseNo, SalesOrder, PLNo, AssemblyId, CustRev, CustPO, ReqShipDate, ShipDate
FROM (
		SELECT DISTINCT MP.ParentOrderNo, MP.OrderNo, MP.ReleaseNo, SPLD.SalesOrder, SPLD.PLNo, MP.AssemblyId, SPLD.CustRev, SPLD.ShipDate
		FROM vShipPackingListDetails SPLD
			INNER JOIN vMpOrderReleases MP ON MP.OrderNo=SPLD.OrderNo AND MP.ReleaseNo=SPLD.ReleaseNo
		UNION ALL
		SELECT DISTINCT MP.ParentOrderNo, MP.OrderNo, MP.ReleaseNo, SPLD.SalesOrder, SPLD.PLNo, MP.AssemblyId, SPLD.CustRev, SPLD.ShipDate
		FROM vShipPackingListDetails SPLD
			INNER JOIN vMpOrderReleases MP ON MP.ParentOrderNo=SPLD.OrderNo AND MP.AssemblyId=SPLD.ItemId
) A
	INNER JOIN vArHistSoTransDetail SO ON SO.TransID=A.SalesOrder AND SO.ItemId=A.AssemblyId
--GROUP BY ParentOrderNo, OrderNo, ReleaseNo, SalesOrder, AssemblyId, CustRev, CustPO, PLNo, ReqShipDate, ShipDate
--ORDER BY ParentOrderNo, OrderNo, ReleaseNo, SalesOrder, AssemblyId, CustRev, CustPO, PLNo, ReqShipDate, ShipDate

GO
