USE [W005]
GO
/****** Object:  View [dbo].[vItemsWithChangeableExpDate]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vItemsWithChangeableExpDate]
AS

SELECT DISTINCT 
			 P.ItemId
			,O.LocId
			,O.LotNum AS RollNo
			,L.[cf_Lot No.] as LotNo
			,L.ExpDate 
FROM [W005].[dbo].[Characteristic] C 
	 INNER JOIN [W005].[dbo].[ProductChar] P ON P.CharId = C.Id AND C.Characteristic = 'ChangeableExpDate'  
	 INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] O ON O.ItemId = P.ItemId 
	 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId = P.ItemId AND L.LocId=O.LocId AND O.LotNum=L.LotNum 
GROUP BY P.ItemId, O.LocId, O.LotNum, L.ExpDate,L.[cf_Lot No.]
HAVING Sum(O.QtyOnHand) > 0


GO
