USE [W005]
GO
/****** Object:  View [dbo].[vBillAtMfgInvIncrease]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vBillAtMfgInvIncrease]
AS
SELECT        D .TransId, D .EntryNum, D .ItemId, D .LocId, SeqNum, E.LotNum, E.LotNum AS SerNum, ExtLocA, QtyFilled * ConversionFactor AS QtyFilled, UnitsBase, L.InitialDate, L.ExpDate, L.cf_Width, L.[cf_Core ID], L.[cf_Roll OD], L.[cf_Vendor Ship Date], L.[cf_Vendor Mfg Date]
FROM            [005].dbo.tblsoTransDetailExt E INNER JOIN
                         [005].dbo.tblSoTransDetail D ON D .TransID = E.TransId AND D .EntryNum = E.EntryNum INNER JOIN
						 [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = D.ItemId AND L.LocId = D.LocId AND L.LotNum = E.LotNum
UNION ALL
SELECT        D .TransId, D .EntryNum, D .ItemId, D .LocId, SeqNum, S.LotNum, S.SerNum, S.ExtLocA, 1 AS QtyFilled, UnitsBase, L.InitialDate, NULL, NULL, NULL, NULL, NULL, NULL
FROM            [005].dbo.tblsoTransSer S INNER JOIN
                         [005].dbo.tblSoTransDetail D ON D .TransID = S.TransId AND D .EntryNum = S.EntryNum INNER JOIN
						 [005].dbo.trav_tblInItemSer_View L ON L.ItemId = D.ItemId AND L.LocId = D.LocId AND L.SerNum = S.SerNum
GO
