USE [W005]
GO
/****** Object:  View [dbo].[vOutTimeItemStatusHistory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOutTimeItemStatusHistory]
AS

/*RMs and IMs*/
SELECT DISTINCT
	   OTISH.[Id]
      ,OTISH.[OutTimeItemStatusId]
      ,OTISH.[ItemId]
	  ,LOC.LocID
      ,OTISH.[SerialNo]
      ,OTISH.[LotNo]
      ,'' AS [TravSerNum]
      ,OTISH.[CurrentWmBinId]
      ,OTISH.[BinType]
      ,LOC.ExtLocID AS ExtLocID
	  ,LOC.[cf_Physical Location]
      ,OTISH.[LastScanDateTime]
      ,OTISH.[PriorWmBinId]
      ,OTISH.[TotalRoomMinutes]
      ,OTISH.[TotalFreezerMinutes]
      ,OTISH.[TotalReeferMinutes]
      ,OTISH.[IsPartialKit]
      ,OTISH.[DryIceDateTime]
      ,OTISH.[OutTimeRecvdId]
      ,UserId = ISNULL(OTISH.[UserId], (SELECT DISTINCT TOP 1 [UID] 
														FROM [005].[dbo].[tblWmHistDetail] WM 
														WHERE WM.ItemId=OTISH.ItemId AND (WM.Sernum=OTISH.SerialNo OR WM.Lotnum=OTISH.SerialNo OR WM.Lotnum=OTISH.LotNo) 
															  AND WM.ExtLocA=OTISH.CurrentWmBinId AND CAST(WM.TransDate AS smalldatetime)=CAST(OTISH.LastScanDateTime as smalldatetime)))
      ,OTISH.[ParentOrder]
      ,OTISH.[ThawCompletedDT]
      ,OTISH.[MaxRoomDTReached]
      ,OTISH.[MaxFreezerDTReached]
      ,OTISH.[MaxReeferDTReached]
      ,OTISH.[InTransitOTStopped]
      ,OTISH.[ProgramId]
	  ,TotalRemainingRoomHours = OTIS.MaxRoomTimeHrs - ROUND(CAST(OTISH.TotalRoomMinutes AS FLOAT)/60, 2)

FROM OutTimeItemStatusHistory OTISH
	 INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTISH.CurrentWmBinId
	 INNER JOIN OutTimeItemSpecs OTIS ON OTIS.ItemId=OTISH.ItemId AND OTIS.ProgramId=OTISH.ProgramId
	 INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTISH.ItemId AND L.LocId=LOC.LocID
WHERE L.GLAcctCode NOT LIKE '7%'
GROUP BY OTISH.Id ,OTISH.OutTimeItemStatusId ,OTISH.ItemId ,LOC.LocID ,OTISH.SerialNo ,OTISH.LotNo ,OTISH.TravSerNum ,OTISH.CurrentWmBinId ,OTISH.BinType
		,LOC.ExtLocID ,LOC.[cf_Physical Location] ,OTISH.LastScanDateTime ,OTISH.PriorWmBinId ,OTISH.[TotalRoomMinutes] ,OTISH.[TotalFreezerMinutes]
		,OTISH.[TotalReeferMinutes] ,OTISH.IsPartialKit ,OTISH.DryIceDateTime ,OTISH.OutTimeRecvdId ,OTISH.UserId ,OTISH.ParentOrder ,OTISH.ThawCompletedDT 
		,OTISH.[MaxRoomDTReached] ,OTISH.[MaxFreezerDTReached] ,OTISH.[MaxReeferDTReached] ,OTISH.InTransitOTStopped ,OTISH.ProgramId ,OTIS.MaxRoomTimeHrs 
UNION 
/*Kitted FGs*/
SELECT DISTINCT 
	   OTISH.[Id]
      ,OTISH.[OutTimeItemStatusId]
      ,OTISH.[ItemId]
	  ,LOC.LocID
      ,'' AS [SerialNo]
      ,'' AS [LotNo]
      ,OTISH.[TravSerNum]
      ,OTISH.[CurrentWmBinId]
      ,OTISH.[BinType]
      ,LOC.ExtLocID AS ExtLocID
	  ,LOC.[cf_Physical Location]
      ,ORKH.[LastScanDateTime]
      ,OTISH.[PriorWmBinId]
      ,MAX(ORKH.[TotalRoomMinutes]) AS TotalRoomMinutes
      ,MAX(ORKH.[TotalFreezerMinutes]) AS TotalFreezerMinutes
      ,MAX(ORKH.[TotalReeferMinutes]) AS TotalReeferMinutes
      ,OTISH.[IsPartialKit]
      ,OTISH.[DryIceDateTime]
      ,OTISH.[OutTimeRecvdId]
      ,UserId = ISNULL(OTISH.[UserId], (SELECT DISTINCT TOP 1 [UID] 
														FROM [005].[dbo].[tblWmHistDetail] WM 
														WHERE WM.ItemId=OTISH.ItemId AND (WM.Sernum=OTISH.TravSerNum OR WM.Lotnum=OTISH.TravSerNum OR WM.Lotnum=OTISH.LotNo) 
															  AND WM.ExtLocA=OTISH.CurrentWmBinId AND CAST(WM.TransDate AS smalldatetime)=CAST(OTISH.LastScanDateTime as smalldatetime)))
      ,ParentOrder = (SELECT DISTINCT TOP 1 OrderNo FROM OrderReleaseEventItem I INNER JOIN OrderReleaseEvent E ON E.Id=I.OrderReleaseEventId WHERE I.TravSerNum=OTISH.TravSerNum)
      ,OTISH.[ThawCompletedDT]
      ,MIN(ORKH.[MaxRoomDTReached]) AS MaxRoomDTReached
      ,MIN(ORKH.[MaxFreezerDTReached]) AS MaxFreezerDTReached
      ,MIN(ORKH.[MaxReeferDTReached]) AS MaxReeferDTReached
      ,OTISH.[InTransitOTStopped]
      ,OTIS.[ProgramId]
	  ,TotalRemainingRoomHours = --(SELECT IIF(MAX(O.TotalRoomMinutes) > 0, MIN(ROUND(OS.MaxRoomTimeHrs - (CAST(O.TotalRoomMinutes AS FLOAT)/60), 2)), 0)
								   (SELECT MIN(ROUND(OS.MaxRoomTimeHrs - (CAST(O.TotalRoomMinutes AS FLOAT)/60), 2))
											FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] O
												 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] AS OS ON OS.ItemId=O.RMItemId AND (OS.ProgramId = OTIS.ProgramId OR OS.ProgramId=0)
											WHERE O.FGItemId=OTISH.ItemId AND O.FGTravSerNum=OTISH.TravSerNum AND O.LastScanDateTime=OTISH.LastScanDateTime 
										 GROUP BY O.FGItemId, O.FGTravSerNum)

FROM OutTimeItemStatusHistory OTISH
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.FGItemId=OTISH.ItemId AND ORKH.FGTravSerNum=OTISH.TravSerNum AND ORKH.LastScanDateTime=OTISH.LastScanDateTime
	 INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTISH.CurrentWmBinId
	 INNER JOIN OutTimeItemSpecs OTIS ON OTIS.ItemId=OTISH.ItemId AND OTIS.ProgramId=OTISH.ProgramId
	 INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTISH.ItemId AND L.LocId=LOC.LocID
	 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=OTISH.ItemId AND ISNULL([cf_Kitted (WI)],0)=1
WHERE L.GLAcctCode LIKE '7%' 
GROUP BY OTISH.Id ,OTISH.OutTimeItemStatusId ,OTISH.ItemId ,LOC.LocID ,OTISH.SerialNo ,OTISH.LotNo ,OTISH.TravSerNum ,OTISH.CurrentWmBinId ,OTISH.BinType
		,LOC.ExtLocID ,LOC.[cf_Physical Location] ,ORKH.LastScanDateTime ,OTISH.PriorWmBinId ,OTISH.IsPartialKit ,OTISH.DryIceDateTime ,OTISH.OutTimeRecvdId
		,OTISH.UserId ,OTISH.ParentOrder ,OTISH.LastScanDateTime ,OTISH.ThawCompletedDT ,OTISH.InTransitOTStopped ,OTIS.ProgramId ,OTIS.MaxRoomTimeHrs ,OTISH.TotalRoomMinutes
UNION 
/*Non-Kitted FGs*/
SELECT DISTINCT
	   OTISH.[Id]
      ,OTISH.[OutTimeItemStatusId]
      ,OTISH.[ItemId]
	  ,LOC.LocID
      ,OTISH.[SerialNo]
      ,OTISH.[LotNo]
      ,'' AS [TravSerNum]
      ,OTISH.[CurrentWmBinId]
      ,OTISH.[BinType]
      ,LOC.ExtLocID AS ExtLocID
	  ,LOC.[cf_Physical Location]
      ,OTISH.[LastScanDateTime]
      ,OTISH.[PriorWmBinId]
      ,OTISH.[TotalRoomMinutes]
      ,OTISH.[TotalFreezerMinutes]
      ,OTISH.[TotalReeferMinutes]
      ,OTISH.[IsPartialKit]
      ,OTISH.[DryIceDateTime]
      ,OTISH.[OutTimeRecvdId]
      ,UserId = ISNULL(OTISH.[UserId], (SELECT DISTINCT TOP 1 [UID] 
														FROM [005].[dbo].[tblWmHistDetail] WM 
														WHERE WM.ItemId=OTISH.ItemId AND (WM.Sernum=OTISH.SerialNo OR WM.Lotnum=OTISH.SerialNo OR WM.Lotnum=OTISH.LotNo) 
															  AND WM.ExtLocA=OTISH.CurrentWmBinId AND CAST(WM.TransDate AS smalldatetime)=CAST(OTISH.LastScanDateTime as smalldatetime)))
      ,OTISH.[ParentOrder]
      ,OTISH.[ThawCompletedDT]
      ,OTISH.[MaxRoomDTReached]
      ,OTISH.[MaxFreezerDTReached]
      ,OTISH.[MaxReeferDTReached]
      ,OTISH.[InTransitOTStopped]
      ,OTISH.[ProgramId]
	  ,TotalRemainingRoomHours = OTIS.MaxRoomTimeHrs - ROUND(CAST(OTISH.TotalRoomMinutes AS FLOAT)/60, 2)

FROM OutTimeItemStatusHistory OTISH
	 INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTISH.CurrentWmBinId
	 INNER JOIN OutTimeItemSpecs OTIS ON OTIS.ItemId=OTISH.ItemId AND OTIS.ProgramId=OTISH.ProgramId
	 INNER JOIN [005].[dbo].tblInItemLoc L ON L.ItemId=OTISH.ItemId AND L.LocId=LOC.LocID
	 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=OTISH.ItemId AND ISNULL([cf_Kitted (WI)],0)=0
WHERE L.GLAcctCode LIKE '7%' 
GROUP BY OTISH.Id ,OTISH.OutTimeItemStatusId ,OTISH.ItemId ,LOC.LocID ,OTISH.SerialNo ,OTISH.LotNo ,OTISH.TravSerNum ,OTISH.CurrentWmBinId ,OTISH.BinType
		,LOC.ExtLocID ,LOC.[cf_Physical Location] ,OTISH.LastScanDateTime ,OTISH.PriorWmBinId ,OTISH.[TotalRoomMinutes] ,OTISH.[TotalFreezerMinutes]
		,OTISH.[TotalReeferMinutes] ,OTISH.IsPartialKit ,OTISH.DryIceDateTime ,OTISH.OutTimeRecvdId ,OTISH.UserId ,OTISH.ParentOrder ,OTISH.ThawCompletedDT 
		,OTISH.[MaxRoomDTReached] ,OTISH.[MaxFreezerDTReached] ,OTISH.[MaxReeferDTReached] ,OTISH.InTransitOTStopped ,OTISH.ProgramId ,OTIS.MaxRoomTimeHrs 

GO
