USE [W005]
GO
/****** Object:  View [dbo].[vOrderEndMfg]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderEndMfg]
AS
select DISTINCT OrderNo from OrderReleaseEvent where Event = 'End Manufacturing' AND EventEnd is not null
GO
