USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderReleaseEventLaborActiveOnly]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIOrderReleaseEventLaborActiveOnly]
AS
SELECT        dbo.OrderReleaseEventLabor.EmployeeId, dbo.vtblSMEmployee.FullName, dbo.OrderReleaseEventLabor.OrderReleaseEventId, dbo.OrderReleaseEventLabor.OrderNo, dbo.OrderReleaseEventLabor.ReleaseNo
FROM            dbo.OrderReleaseEventLabor INNER JOIN
                         dbo.vtblSMEmployee ON dbo.OrderReleaseEventLabor.EmployeeId = dbo.vtblSMEmployee.EmployeeId
WHERE        (dbo.OrderReleaseEventLabor.ClockOut IS NULL)
GO
