USE [W005]
GO
/****** Object:  View [dbo].[vSWProdOrder]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/* Used by WebCQA to obtain distinct ProdOrderNo/ParentOrderNo */

CREATE VIEW [dbo].[vSWProdOrder]
AS


SELECT DISTINCT OrderNo, AssemblyId, ParentOrderNo,PurchaseOrder
FROM [dbo].[vMpOrderReleases]
WHERE (InProcess=1) OR (MfgCompleted=1)


GO
