USE [W005]
GO
/****** Object:  View [dbo].[vInItemOnHandSummary]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vInItemOnHandSummary]
AS
	SELECT	 [ItemId]
			,[MfgDate]
			,[ExpDate]
			,[OrderNo]
			,[ReleaseNo]
			,[AssemblyId]
			,[SalesOrder]
			,[PurchaseOrder]
			,[LocId]
			,[IsSerial]
			,[IsLotted]
			,[SerialNo]
			,[LotNo]
			,[TravLotNum]
			,[UOM]
			,[QtyOnHand]
			,[TravUnitCost] = [TravExtCost] / [QtyOnHand]
			,[TravExtCost]
			,[LaborSetupUnitCost] = [LaborSetupCost] / [QtyOnHand] 
			,[LaborSetupCost]
			,[LaborUnitCost] = [LaborCost] / [QtyOnHand] 
			,[LaborCost]
			,[MachineSetupUnitCost] =[MachineSetupCost] / [QtyOnHand]
			,[MachineSetupCost]
			,[MachineUnitCost] = [MachineCost] / [QtyOnHand]
			,[MachineCost]
			,[MaterialDirectUnitCost] = [MaterialDirectCost] / [QtyOnHand]
			,[MaterialDirectCost]
			,[MaterialIndirectUnitCost] = [MaterialIndirectCost] / [QtyOnHand]
			,[MaterialIndirectCost]
			,[SubcontractUnitCost] = [SubcontractCost] / [QtyOnHand]
			,[SubcontractCost]
			,[WebExtCost]
	FROM
		(SELECT [ItemId]
			   ,[MfgDate]
			   ,[ExpDate]
			   ,[OrderNo]
			   ,[ReleaseNo]
			   ,[AssemblyId]
			   ,[SalesOrder]
			   ,[PurchaseOrder]
			  ,[LocId]
			  ,[IsSerial]
			  ,[IsLotted]
			  ,[SerialNo]
			  ,[LotNo]
				,[TravLotNum]
			  ,[UOM]
			  ,CAST(SUM([QtyOnHand]) as Decimal(20,10)) AS [QtyOnHand] 
			  ,CAST(SUM([TravExtCost]) as Decimal(20,10)) AS [TravExtCost]
			  ,CAST(SUM([LaborSetupCost]) as Decimal(20,10)) AS [LaborSetupCost]
			  ,CAST(SUM([LaborCost]) as Decimal(20,10)) AS [LaborCost]
			  ,CAST(SUM([MachineSetupCost]) as Decimal(20,10)) AS [MachineSetupCost]
			  ,CAST(SUM([MachineCost]) as Decimal(20,10)) AS [MachineCost]
			  ,CAST(SUM([MaterialDirectCost]) as Decimal(20,10)) AS [MaterialDirectCost]
			  ,CAST(SUM([MaterialIndirectCost]) as Decimal(20,10)) AS [MaterialIndirectCost]
			  ,CAST(SUM([SubcontractCost]) as Decimal(20,10)) AS [SubcontractCost]
			  ,CAST(SUM([WebExtCost]) as Decimal(20,10)) AS [WebExtCost]
		FROM [W005].[dbo].[vInItemOnHandDetail]
		GROUP BY ItemId, LocId, IsSerial, IsLotted, UOM, SerialNo, LotNo, TravLotNum,ExpDate,MfgDate,OrderNo,ReleaseNo,AssemblyId,SalesOrder,PurchaseOrder
		HAVING SUM([QtyOnHand]) <> 0
		) AS A

GO
