USE [W005]
GO
/****** Object:  View [dbo].[vtblSmPeriodConversion]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtblSmPeriodConversion]
AS
SELECT        ID, GlYear, GlPeriod, CAST(GlYear AS VARCHAR(4)) + '-' + CAST(GlPeriod AS VARCHAR(2)) AS Combo, BegDate, EndDate
FROM            [005].dbo.tblSmPeriodConversion
GO
