USE [W005]
GO
/****** Object:  View [dbo].[vtblInHistDetailNunezCostInitialLoadInsert]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vtblInHistDetailNunezCostInitialLoadInsert]
AS
SELECT        AppId, BatchId, ConvFactor, CostExt, CostExt_Invc, CostStd, CostUnit, DropShipYn, EntryDate, GLPeriod, HistSeqNum, HistSeqNum_Rcpt, ItemId, ItemType, LocId, LotNum, LottedYN, PriceExt, PriceUnit, Qty, 
                         Qty_Invc, RefId, Source, SrceID, SumPeriod, SumYear, TransDate, TransId, TransType, Uom, UomBase, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, 
                         cf_WIMachineUnitCostModified, cf_WIMachineUnitCostVariable, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
FROM            [005].dbo.trav_tblInHistDetail_View
WHERE        (HistSeqNum IN
                             (SELECT        H.HistSeqNum
                               FROM            [005].dbo.tblInHistDetail AS H LEFT OUTER JOIN
                                                         dbo.tblInHistDetailNunezCost AS N ON H.HistSeqNum = N.HistSeqNum
                               WHERE        (N.HistSeqNum IS NULL)))
GO
