USE [W005]
GO
/****** Object:  View [dbo].[vCCITableMfgPctComplete]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCITableMfgPctComplete]
AS
SELECT OrderNo, CompletedTables, TotalTables, (CompletedTables/IIF(TotalTables=0, 0.01, TotalTables))*100 AS TablePctComplete
FROM
(
	SELECT        E.OrderNo, COUNT(DISTINCT E.Id) AS CompletedTables, COUNT(DISTINCT L.TableId) AS TotalTables
	FROM            dbo.OrderReleaseEvent AS E INNER JOIN
							 dbo.CCIParentOrderCutList AS L ON L.ParentOrderNo = E.OrderNo
	WHERE        (E.Event = 'Table Manufacturing') AND (E.EventEnd IS NOT NULL)
	GROUP BY E.OrderNo
) A
GO
