USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseEventItemSpliceDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseEventItemSpliceDetail]
AS
SELECT        CAST(0 AS bit) AS ItemAffectedBySplice, EI.Id AS OrderReleaseEventItemId, EI.OrderReleaseEventId, SD.OrderReleaseEventSpliceId, ES.Description AS SpliceType, EA.Description AS SpliceAddlInfo, EI.ItemId, EI.LocId, 
                         EI.IsAssembly, EI.SerialNo, EI.LotNo, EI.TravLotNum, EI.MpOrderMatIssuedId, EI.Qty, EI.MRLengthCounter, EI.PLCLengthCounter, EI.HeadPos, EI.CutPos, EI.Slitter2SpoolOffset, EI.TotalWaste, EI.TotalQty, 
                         SD.Slitter2FESpliceCutPos, SD.SplicePosition, SD.SplicePositionPrev, SD.SegmentLength, W.WasteReasonId, W.WasteAmount, W.UOM, RM.ItemId AS RMItemId, RM.SerialNo AS RMSerialNo, SD.FESpliceLocation, 
                         SD.Reworked, SD.ReworkedOrderReleaseEventId, Cast(null as varchar(250)) AS RemoveOrderReleaseEventSpliceIds, SD.Id AS OrderReleaseEventSpliceDetailId, SD.IsShortSegment, S.SplicePerformedBy as SpliceOwner
FROM            dbo.OrderReleaseEventItem AS EI INNER JOIN
                         dbo.OrderReleaseEventSpliceDetail AS SD ON EI.Id = SD.OrderReleaseEventItemId INNER JOIN
                         dbo.OrderReleaseEventSplice AS S ON ((SD.ReworkedOrderReleaseEventId IS NULL AND S.Id = SD.OrderReleaseEventSpliceId) OR (SD.ReworkedOrderReleaseEventId IS NOT NULL AND S.Id = SD.ReworkedOrderReleaseEventId)) INNER JOIN
						 dbo.OrderReleaseEventItem AS RM ON RM.Id = SD.PrevRMOREIId INNER JOIN
                         dbo.SpliceLookupEditCode AS ES ON ES.Id = S.SpliceType LEFT OUTER JOIN
                         dbo.SpliceLookupEditCode AS EA ON EA.Id = SD.SpliceAddlInfo LEFT OUTER JOIN
                         dbo.OrderReleaseEventWaste AS W ON W.Id = SD.OrderReleaseEventWasteId
WHERE SD.Reworked = 0
GO
