USE [W005]
GO
/****** Object:  View [dbo].[vCCIFGNotPackedInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vCCIFGNotPackedInventory]
AS
/*SERIALIZED*/
WITH CTE (ItemId,LocId,[cf_Physical Location],TravSerNum,TravLotNum,TotalQty,UOM,LastScanDateTime,CurrentWmBinId,BinType,TotalRoomMinutes,TotalFreezerMinutes,
		  TotalReeferMinutes,IsPartialKit,DryIceDateTime,UserId,ParentOrder,ThawCompletedDT,MaxRoomDTReached,MaxFreezerDTReached,MaxReeferDTReached,
		  InTransitOTStopped,ProgramId) AS 
		  (SELECT 
       S.[ItemId]
	  ,S.LocId
	  ,LOC.[cf_Physical Location]
      ,S.SerNum AS TravSerNum
	  ,'' AS TravLotNum	  
	  ,'1' AS TotalQty
	  ,'EA' AS UOM
      ,OTIS.[LastScanDateTime]
      ,OTIS.[CurrentWmBinId]
      ,OTIS.[BinType]
      ,ORK.[TotalRoomMinutes]
      ,ORK.[TotalFreezerMinutes]
      ,ORK.[TotalReeferMinutes]
      ,OTIS.[IsPartialKit]
      ,OTIS.[DryIceDateTime]
      ,OTIS.[UserId]
	  ,ORE.OrderNo AS ParentOrder
      ,ORK.[ThawCompletedDT]
      ,ORK.[MaxRoomDTReached]
      ,ORK.[MaxFreezerDTReached]
      ,ORK.[MaxReeferDTReached]
      ,OTIS.[InTransitOTStopped]
      ,OTIS.[ProgramId]
  FROM [005].[dbo].[tblInItemSer] S
	   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.ItemId=S.ItemId AND OREI.TravSerNum=S.SerNum  
	   INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.Id=OREI.OrderReleaseEventId
	   LEFT JOIN [W005].[dbo].[OutTimeItemStatus] OTIS ON OTIS.ItemId=S.ItemId AND (OTIS.TravSerNum=S.SerNum) AND InTransitOTStopped=0
	   LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTIS.CurrentWmBinId
	   LEFT JOIN (SELECT DISTINCT FGItemId, 
								  FGTravSerNum, 
								  MAX(TotalRoomMinutes) AS TotalRoomMinutes,
								  MAX(TotalFreezerMinutes) AS TotalFreezerMinutes,
								  MAX(TotalReeferMinutes) AS TotalReeferMinutes,
								  MAX(ThawCompletedDT) AS ThawCompletedDT,
								  MAX(MaxRoomDTReached) AS MaxRoomDTReached,
								  MAX(MaxFreezerDTReached) AS MaxFreezerDTReached,
								  MAX(MaxReeferDTReached) AS MaxReeferDTReached
				  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] 
				  GROUP BY FGItemId, FGTravSerNum) AS ORK ON ORK.FGItemId=S.ItemId AND ORK.FGTravSerNum=S.SerNum
	   LEFT JOIN [W005].[dbo].[ShipItem] SI ON SI.ItemId=OREI.ItemId AND SI.TravSerNum=S.SerNum AND SI.Id IS NULL
   WHERE OREI.ItemId LIKE 'FG%' AND S.SerNumStatus IN (1,2,5)
UNION ALL
/*LOTTED OR MULTI-UOM*/
SELECT 
       RTRIM(L.[ItemId]) AS ItemId
	  ,L.LocId
	  ,LOC.[cf_Physical Location]
      ,'' AS [TravSerNum]
	  ,L.LotNum AS TravLotNum	  
	  ,L.QtyOnHand AS TotalQty
	  ,OREI.UOM
      ,OTIS.[LastScanDateTime]
      ,OTIS.[CurrentWmBinId]
      ,OTIS.[BinType]
      ,ORK.[TotalRoomMinutes]
      ,ORK.[TotalFreezerMinutes]
      ,ORK.[TotalReeferMinutes]
      ,OTIS.[IsPartialKit]
      ,OTIS.[DryIceDateTime]
      ,OTIS.[UserId]
	  ,ORE.OrderNo AS ParentOrder
      ,ORK.[ThawCompletedDT]
      ,ORK.[MaxRoomDTReached]
      ,ORK.[MaxFreezerDTReached]
      ,ORK.[MaxReeferDTReached]
      ,OTIS.[InTransitOTStopped]
      ,OTIS.[ProgramId]
  FROM [005].[dbo].[trav_InItemOnHandLot_view] L
	   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.ItemId=L.ItemId AND OREI.TravLotNum=L.LotNum
	   INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.Id=OREI.OrderReleaseEventId
	   LEFT JOIN [W005].[dbo].[OutTimeItemStatus] OTIS ON OTIS.ItemId=L.ItemId AND OTIS.LotNo=L.LotNum AND InTransitOTStopped=0
	   LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTIS.CurrentWmBinId
	   LEFT JOIN (SELECT DISTINCT FGItemId, 
								  FGTravLotNum,
								  MAX(TotalRoomMinutes) AS TotalRoomMinutes,
								  MAX(TotalFreezerMinutes) AS TotalFreezerMinutes,
								  MAX(TotalReeferMinutes) AS TotalReeferMinutes,
								  MAX(ThawCompletedDT) AS ThawCompletedDT,
								  MAX(MaxRoomDTReached) AS MaxRoomDTReached,
								  MAX(MaxFreezerDTReached) AS MaxFreezerDTReached,
								  MAX(MaxReeferDTReached) AS MaxReeferDTReached
				  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] 
				  GROUP BY FGItemId, FGTravLotNum) AS ORK ON ORK.FGItemId=L.ItemId AND ORK.FGTravLotNum=L.LotNum
	   LEFT JOIN [W005].[dbo].[ShipItem] SI ON SI.ItemId=OREI.ItemId AND SI.TravLotNum=L.LotNum AND SI.Id IS NULL
   WHERE OREI.ItemId LIKE 'FG%' AND L.QtyOnHand > 0),
   --ORDER BY TravLotNum

  CTE2 (PLNo,ItemId,LocId,[cf_Physical Location],TravSerNum,TravLotNum,TotalQty,UOM,[LastScanDateTime],[CurrentWmBinId],BinType,[TotalRoomMinutes],[TotalFreezerMinutes],
		  [TotalReeferMinutes],[IsPartialKit],[DryIceDateTime],[UserId],ParentOrder,[ThawCompletedDT],[MaxRoomDTReached],[MaxFreezerDTReached],[MaxReeferDTReached],
		  [InTransitOTStopped],[ProgramId]) AS
  (Select Dtl.PLNo,CTE.* from CTE
				 inner join  [W005].dbo.ShipPackingListDetail as Dtl ON CTE.TravSerNum = Dtl.SerialNo and CTE.TravSerNum != '' 
				 inner join  [W005].dbo.ShipPackingList as sp ON Dtl.PLNo = sp.PLNo --Do not Show PLNo, if TravSerNum has SO Credit.
	where sp.Complete = 0
	UNION
   Select Dtl.PLNo,CTE.* from CTE 
				inner join  [W005].dbo.ShipPackingListDetail as Dtl ON CTE.TravLotNum = Dtl.TravLotNum and CTE.TravLotNum != ''
				inner join  [W005].dbo.ShipPackingList as sp ON Dtl.PLNo = sp.PLNo
	where sp.Complete = 0) 


 select Notes = 'On PL' +' ' + CAST(CTE2.PLNo as varchar),CTE.* from CTE 
				left join CTE2 on CTE.TravSerNum = CTE2.TravSerNum 



GO
