USE [W005]
GO
/****** Object:  View [dbo].[vOnHandInventorySerialized]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vOnHandInventorySerialized]
AS 

/*

SerNumStatus 
  1 - Available
  2 - InUse?
  3 - Sold
  4 - Lost
  5 - ReturnedSale?

*/


-- Get item bins
WITH Bins AS (
SELECT DISTINCT
	   [ItemId] = RTRIM(S.[ItemId])
	   ,S.LocId
	  ,[SerialNo] = S.SerNum
	  ,S.LotNum
	  ,H.ExtLocAID
	  ,ExtHistSeqNum
FROM [005].[dbo].[trav_tblInItemSer_View] S 
		INNER JOIN [005].[dbo].[tblWmHistDetail] H ON H.ItemId=S.ItemId AND H.Sernum=S.SerNum AND H.LocId=S.LocId  AND H.Source IN (10,19,77)
WHERE SerNumStatus = 1 --AND H.ExtLocAID IS NOT NULL
)

-- Serialized Items
SELECT DISTINCT
	   [ItemId] = RTRIM(S.[ItemId])
	  ,[MfgDate] = S.[cf_MFG Date]
	  ,[ExpDate] = S.[cf_Exp Date]
	  ,M.[OrderNo]
	  ,M.[ReleaseNo]
	  ,MP.[AssemblyId]
	  ,MPR.[SalesOrder]
	  ,MPR.[PurchaseOrder]
      ,RTRIM(S.[LocId]) AS LocId
	  ,[IsSerial] = 1
	  ,[IsLotted] = I.[LottedYN]
	  ,[SerialNo] = S.[SerNum]
      ,[LotNo] = S.[LotNum]
	  ,[TravLotNum] = S.[LotNum]
	  ,[UOM] = I.[UomBase]
	  ,Bin = (SELECT TOP 1 B.ExtLocAID 
					FROM Bins AS B 
					WHERE B.ItemId=S.ItemId AND B.SerialNo=S.SerNum AND B.LocId=S.LocId
					ORDER BY ExtHistSeqNum DESC)
      ,[QtyOnHand] = 1
      ,[TravUnitCost] = S.CostUnit
	  ,[TravExtCost] = OH.[Cost]
	  ,S.[cf_Exp Date] AS UseByDate
  FROM [005].[dbo].[trav_tblInItemSer_View] S 
	   INNER JOIN  [005].[dbo].[trav_InItemOnHandSer_view] OH ON OH.ItemId=S.ItemId AND OH.LocId=S.LocId
	   INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = S.ItemId AND I.ItemType = 2 --Serialized
	   LEFT JOIN [W005].dbo.MpOrderMatIssued M ON M.ItemId = S.ItemId AND M.SerialNo=S.SerNum
	   LEFT JOIN [005].dbo.trav_tblMpOrder_View MP ON M.OrderNo = MP.OrderNo --AND M.ReleaseNo	
	   LEFT JOIN [005].dbo.trav_tblMpOrderReleases_view MPR ON M.OrderNo = MPR.OrderNo			 
 WHERE  SerNumStatus = 1 --Available AND 




GO
