USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitRawMaterialExpDt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCIKitRawMaterialExpDt]
AS
SELECT DISTINCT 
                         ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId AS RMItemId, OREI.SerialNo AS RMSerialNo, OREI.LotNo AS RMLotNo, IIF(I.Itemtype=2, 'SERIAL', IIF(I.[cf_Multi-UOM Serial Item]=1, 'MULTI-UOM', IIF(I.LottedYN=1, 'LOTTED', 'NON LOTTED'))) AS ItemType, L.ExpDate
FROM            dbo.OrderReleaseEvent AS ORE INNER JOIN
                         dbo.CCIParentOrderCutList AS PCL ON PCL.Id = ORE.CCIParentOrderCutListId INNER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0 INNER JOIN
                         [005].dbo.trav_tblInItem_view AS I ON I.ItemId = OREI.ItemId INNER JOIN
						 [005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = OREI.ItemId AND (L.LotNum = IIF(OREI.SerialNo is Null, OREI.LotNo, OREI.SerialNo))
WHERE        (ORE.Operation Like 'CUT%')




GO
