USE [W005]
GO
/****** Object:  View [dbo].[vSOShipItemPLNo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vSOShipItemPLNo]
AS
SELECT DISTINCT P.PLNo, P.OrderNo as SalesOrderNo
FROM [005].[dbo].[tblSoTransDetailExt] S
INNER JOIN [W005].[dbo].[ShipPackingList] P ON P.OrderNo = S.TransId
INNER JOIN [W005].[dbo].[ShipPackingListDetail] D ON D.PLNo = P.PLNo AND D.SerialNo = S.LotNum
UNION ALL
SELECT DISTINCT P.PLNo, P.OrderNo as SalesOrder
FROM [005].[dbo].[tblSoTransSer] S
INNER JOIN [W005].[dbo].[ShipPackingList] P ON P.OrderNo = S.TransId
INNER JOIN [W005].[dbo].[ShipPackingListDetail] D ON D.PLNo = P.PLNo AND D.SerialNo = S.SerNum
GO
