USE [W005]
GO
/****** Object:  View [dbo].[vOrderRelease]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderRelease]
AS
SELECT DISTINCT OrderNo, ReleaseNo
FROM            dbo.OrderReleaseEvent
GO
