USE [W005]
GO
/****** Object:  View [dbo].[vMRPSerializedFinishedGoodsInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMRPSerializedFinishedGoodsInventory]
AS
SELECT TOP(100000)
	itemLoc.ItemId AS [FinishedGoodsID],
	item.Descr AS [FinishedGoodsDescription],
	itemLoc.LocId AS [FinishedGoodsLocation],
	serial.SerNum AS [FinishedGoodsSerialNum],
	releaseEvent.Id AS [ReleaseEventID],

	(SELECT MIN(lotView.ExpDate) FROM [W005].dbo.OrderReleaseKitRawMatlOutTime kitRmOutTime
		LEFT JOIN [005].dbo.trav_tblInItemLocLot_View lotView ON lotView.ItemId = kitRMOutTime.RMItemId AND lotView.[cf_Serial No.] = kitRmOutTime.RMSerialNo
			WHERE kitRmOutTime.OrderReleaseEventItemId = releaseEvent.Id AND kitRMOutTime.FGTravSerNum = serial.SerNum AND lotView.ExpDate IS NOT NULL) AS [ExpirationDate]

FROM [005].dbo.tblInItemLoc itemLoc
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = itemLoc.ItemId
LEFT JOIN [005].dbo.tblInItemSer serial ON serial.ItemId = itemLoc.ItemId AND serial.LocId = itemLoc.LocId
LEFT JOIN [W005].dbo.OrderReleaseEventItem releaseEvent ON releaseEvent.ItemId = itemLoc.ItemId AND releaseEvent.LocId = itemLoc.LocId 
		AND releaseEvent.TravSerNum = serial.SerNum
	--Serialized Finished Goods kept in Inventory
	WHERE itemLoc.GLAcctCode IN ('15','70','75') AND itemLoc.LocId LIKE 'INV%' AND item.ItemType = 2 AND serial.SerNumStatus = 1 AND releaseEvent.Id IS NOT NULL
ORDER BY FinishedGoodsID, FinishedGoodsLocation, FinishedGoodsSerialNum;
GO
