USE [W005]
GO
/****** Object:  View [dbo].[vShipPackingListDetails]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vShipPackingListDetails]
AS

SELECT DISTINCT SPLD.PLNo, SPLD.ShipDate, SPLD.SalesOrder, SPLD.CustName, SPLD.CustPO, SPLD.CustRev, SPLD.PkgId, SPLD.ItemId, SPLD.SerialNo, SPLD.LotNo, SPLD.TravSerNum, SPLD.TravLotNum, SPLD.OrderNo, SPLD.ReleaseNo
FROM (
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, SPL.OrderNo AS SalesOrder, SPL.PLNo, SPL.ShipDate, SPLD.PkgId, SPL.CustName, SPL.CustPO, SPLD.CustRev, OREI.ItemId, OREI.SerialNo, OREI.LotNo, OREI.TravSerNum, OREI.TravLotNum
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipPallet SP ON SP.Id=SPLD.ShipPalletId
				INNER JOIN ShipItem SI ON SI.ShipPalletId=SP.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, SPL.OrderNo AS SalesOrder, SPL.PLNo, SPL.ShipDate, SPLD.PkgId, SPL.CustName, SPL.CustPO, SPLD.CustRev, OREI.ItemId, OREI.SerialNo, OREI.LotNo, OREI.TravSerNum, OREI.TravLotNum
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipCarton SC ON SC.Id=SPLD.ShipCartonId
				INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, SPL.OrderNo AS SalesOrder, SPL.PLNo, SPL.ShipDate, SPLD.PkgId, SPL.CustName, SPL.CustPO, SPLD.CustRev, OREI.ItemId, OREI.SerialNo, OREI.LotNo, OREI.TravSerNum, OREI.TravLotNum
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipBox SB ON SB.Id=SPLD.ShipBoxId
				INNER JOIN ShipItem SI ON SI.ShipBoxId=SB.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, SPL.OrderNo AS SalesOrder, SPL.PLNo, SPL.ShipDate, SPLD.PkgId, SPL.CustName, SPL.CustPO, SPLD.CustRev, OREI.ItemId, OREI.SerialNo, OREI.LotNo, OREI.TravSerNum, OREI.TravLotNum
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipItem SI ON SI.Id=SPLD.ShipItemId AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
) SPLD

--GROUP BY SPLD.OrderNo, SPLD.ReleaseNo, SPLD.SalesOrder, SPLD.CustName, SPLD.CustPO, SPLD.CustRev, SO.ReqShipDate, SPLD.PLNo, SPLD.PkgId, SPLD.ItemId, SPLD.SerialNo, SPLD.LotNo, SPLD.TravSerNum, SPLD.TravLotNum
--ORDER BY SPLD.OrderNo, SPLD.ReleaseNo, SPLD.SalesOrder, SO.ReqShipDate, SPLD.PLNo, SPLD.PkgId, SPLD.CustName, SPLD.CustPO, SPLD.CustRev, SPLD.ItemId, SPLD.SerialNo, SPLD.LotNo, SPLD.TravLotNum

GO
