USE [W005]
GO
/****** Object:  View [dbo].[InItemOnHandLot]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[InItemOnHandLot]
AS
SELECT	OH.ItemId, 
		OH.LocId, 
		OH.LotNum, 
		OH.Cost as UnitCost, 
		Cast(H.cf_WILaborSetupUnitCost as decimal(20,10)) as LaborSetupUnitCost, 
		Cast(H.cf_WILaborUnitCost as decimal(20,10)) as LaborUnitCost, 
		Cast(H.cf_WIMachineSetupUnitCost as decimal(20,10)) as MachineSetupUnitCost, 
		Cast(H.cf_WIMachineUnitCost as decimal(20,10)) as MachineUnitCost, 
		Cast(H.cf_WIMaterialDirectUnitCost as decimal(20,10)) as MaterialDirectUnitCost, 
		Cast(H.cf_WIMaterialIndirectUnitCost as decimal(20,10)) as MaterialIndirectUnitCost, 
		Cast(H.cf_WISubcontractUnitCost as decimal(20,10)) as SubcontractUnitCost, 
		Sum(OH.Qty - OH.InvoicedQty - OH.RemoveQty) AS QtyOnHand, 
		Sum((OH.Qty - OH.InvoicedQty - OH.RemoveQty) * OH.Cost) AS Cost
FROM [005].dbo.tblInQtyOnHand OH INNER JOIN
     [005].dbo.trav_tblInHistDetail_View H ON OH.Source = H.Source AND OH.LinkID = H.TransId INNER JOIN
     [005].dbo.trav_tblInItem_view I ON OH.ItemId =I.ItemId
WHERE I.LottedYN = 1 AND I.[cf_Multi-UOM Serial Item] = 0
GROUP BY OH.ItemId, OH.LocId, OH.LotNum, OH.Cost, H.cf_WILaborSetupUnitCost, H.cf_WILaborUnitCost, H.cf_WIMachineSetupUnitCost, H.cf_WIMachineUnitCost, H.cf_WIMaterialDirectUnitCost, H.cf_WIMaterialIndirectUnitCost, H.cf_WISubcontractUnitCost

GO
