USE [W005]
GO
/****** Object:  View [dbo].[vUnitsOnShipPackingList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vUnitsOnShipPackingList]
AS
SELECT        spld.Id AS SPLDId, spld.PLNo, spld.ShipItemId, spld.ShipBoxId, 
                         spld.ShipCartonId, spld.ShipPalletId, spld.ItemId, spld.ItemDescr, 
                         spld.SerialNo, spld.LotNo, spld.TravLotNum, spld.Qty, spld.UOM, 
                         spld.NoRolls, spld.GrossWt, spld.Location, spld.TOPS, 
                         spld.MfgDate, sple.Id AS SPLEId, sple.OnQAHold, sple.ItemNotOnOrder, 
                         sple.InvalidQty, sple.DuplicateUnitNo, sple.InQuarantine, sple.OtherError, 
                         spld.CustomerPN, spld.PkgId, sple.OnCCHold
FROM            [W005].dbo.ShipPackingListDetail spld LEFT OUTER JOIN
                         [W005].dbo.ShipPackingListError sple ON spld.Id = sple.PLDetailId


GO
