USE [W005]
GO
/****** Object:  View [dbo].[vSWTorayCustRptStartUpOptiRetest]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*  Used by WEBSlitWidth
	Returns START UP OptiRetest data 
*/

CREATE VIEW [dbo].[vSWTorayCustRptStartUpOptiRetest]
AS
SELECT  tgdd.*,th.WorkOrder,tgh.Id AS TGHId
FROM   [W005].dbo.SW_TestHdr AS th INNER JOIN
                         [W005].dbo.SW_TestGroupHdr AS tgh ON tgh.TestHdrId = th.ID
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
WHERE tgh.TestGroupName IN ('START UP') AND  tgdd.TestLevel=2 

				


GO
