USE [W005]
GO
/****** Object:  View [dbo].[vCCICheckForInProcessOrders]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCICheckForInProcessOrders]
AS
SELECT DISTINCT I.CCIManufacturingGroupId, I.ParentOrderNo
FROM            dbo.CCIParentOrderCutList AS L INNER JOIN
                         dbo.CCIOrderReleaseInfo AS I ON I.ParentOrderNo = L.ParentOrderNo
WHERE        (I.MfgCompleted = 0) AND (I.InProcess = 1)
GO
