USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitConsolidateParentOrderItem]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIKitConsolidateParentOrderItem]
AS
SELECT   DISTINCT  sb.Id AS SBId,sb.ShipBoxNo, si.ItemId,c.ParentOrderNo, sb.Complete AS SBComplete
FROM       [W005].[dbo].[ShipItem] si 
		 INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id = si.ShipBoxId
		 INNER JOIN [w005].[dbo].CCIOrderReleaseInfo c ON c.OrderNo = si.ProdOrderNo AND c.ReleaseNo = si.ProdOrderRelNo
			
GO
