USE [W005]
GO
/****** Object:  View [dbo].[TravActiveUsers]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [dbo].[TravActiveUsers]
AS

SELECT DISTINCT 
			UPPER([UserName]) AS UserName, 
			FullName = (SELECT FullName
						FROM dbo.vtblSMEmployee EMP
						WHERE U.UserName = EMP.SocialSecurityNo)
		FROM [TSM].[dbo].[User] U
		WHERE IsActive = 1

GO
