USE [W005]
GO
/****** Object:  View [dbo].[vCCIPlyStackBag]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIPlyStackBag]
AS
SELECT DISTINCT ItemId, Revision, MasterBagNum, BagNum, LabelStockColor, BagNum + '(' + ISNULL(LabelStockColor, 'NO COLOR') + ')' AS BagNumLabelColor
FROM            dbo.CCIPly
GO
