USE [W005]
GO
/****** Object:  View [dbo].[vCCIRecutInspectionLog]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

CREATE VIEW [dbo].[vCCIRecutInspectionLog]
AS

SELECT DISTINCT 
	   R.[OrderReleaseEventId]
      ,R.[OrderReleaseEventIdPrior]
	  ,E.OrderNo AS ParentOrderNo
	  ,I.ItemId
	  ,I.SerialNo
	  ,I.LotNo
      ,R.[CuttingTechUserId]
      ,R.[RejectErrorCode]
      ,R.[ReasonForReCut]
      ,R.[ListOfPliesRecut]
      ,R.[DispositionCode]
      ,R.[QualityInspector]
  FROM [W005].[dbo].[CCIRecutInspectionLog] R
	   INNER JOIN [W005].[dbo].[OrderReleaseEvent] E ON E.Id=R.OrderReleaseEventId
	   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] I ON I.OrderReleaseEventId=R.OrderReleaseEventId AND IsAssembly = 0
GO
