USE [W005]
GO
/****** Object:  View [dbo].[vCCIParentOrderCutListNeeded]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIParentOrderCutListNeeded]
AS
SELECT DISTINCT I.ParentOrderNo, CL.ParentOrderNo AS CLParentOrderNo
FROM            dbo.CCIOrderReleaseInfo AS I LEFT OUTER JOIN
                         dbo.CCIParentOrderCutList AS CL ON CL.ParentOrderNo = I.ParentOrderNo
WHERE        (CL.ParentOrderNo IS NULL)
GO
