USE [W005]
GO
/****** Object:  View [dbo].[vConfirmedPOReceipts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vConfirmedPOReceipts]
AS
SELECT DISTINCT PR.TransID, PR.ReceiptNum, WR.TransDate as ReceiptDate
FROM            [005].dbo.tblWmRcpt AS WR INNER JOIN
                         [005].dbo.tblPoTransReceipt AS PR ON PR.TransID = WR.TransId AND PR.ReceiptNum=WR.ReceiptNum
WHERE        (WR.Status IN (1,2,3)) 
GO
