USE [W005]
GO
/****** Object:  View [dbo].[vIssuedMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vIssuedMaterial]
AS
SELECT        M.Id, M.OrderNo, M.ReleaseNo, M.Completed, M.ItemId, M.LocId, M.SerialNo, M.LotNo, M.ExpDate, M.Qty, M.UOM, M.InUse, M.ShipPalletNo, M.OrigNoRolls, M.NoRollsUsed, M.AdditionalLotNo, M.ItemIdToInheritLotNoFrom, 
                         M.MfgSequence, M.UseByDate, I.Descr
FROM            dbo.MpOrderMatIssued AS M INNER JOIN
                         [005].dbo.tblInItem AS I ON I.ItemId = M.ItemId
GO
