USE [W005]
GO
/****** Object:  View [dbo].[vOffSiteTransferDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vOffSiteTransferDetail]
AS


SELECT 
	 [dbo].[OffSiteTransferDetail].Id
	,[dbo].[OffSiteTransferDetail].OffSiteTransId
	,[dbo].[OffSiteTransferDetail].ItemId
	,[dbo].[OffSiteTransferDetail].PkgId
	,[dbo].[OffSiteTransferDetail].Quantity
	,[dbo].[OffSiteTransferDetail].UOM
	,[dbo].[OffSiteTransferDetail].TravSerNum
	,[dbo].[OffSiteTransferDetail].TravLotNum
	,[dbo].[OffSiteTransferDetail].WISerNum
	,[dbo].[OffSiteTransferDetail].WILotNum
	,[dbo].[OffSiteTransferDetail].ShipItemId
	,[dbo].[OffSiteTransferDetail].ShipBoxId
	,[dbo].[OffSiteTransferDetail].ShipCartonId
	,[dbo].[OffSiteTransferDetail].ShipPalletId
	,[dbo].[OffSiteTransferDetail].Error
	,[dbo].[OffSiteTransferDetail].ErrMsg
	,[dbo].[OffSiteTransferDetail].UnitReceived

FROM [dbo].[OffSiteTransferDetail]










GO
