USE [W005]
GO
/****** Object:  View [dbo].[vPolyPartDescription]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPolyPartDescription]
AS
SELECT DISTINCT PolyLinerPartDescription
FROM            dbo.PolyLinerUsage
GO
