USE [W005]
GO
/****** Object:  View [dbo].[vPLItemIdSOItemIdCheck]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPLItemIdSOItemIdCheck]
AS
SELECT DISTINCT L.PLNo, PL.OrderNo, L.ItemId, D.ItemId AS SOItemId
FROM            dbo.ShipPackingListDetail AS L INNER JOIN 
				dbo.ShipPackingList AS PL ON PL.PLNo = L.PLNo LEFT OUTER JOIN
                [005].dbo.tblSoTransDetail AS D ON D.TransID = PL.OrderNo AND D.ItemId = L.ItemId AND D.Status = 0
WHERE        (D.ItemId IS NULL) 
GO
