USE [W005]
GO
/****** Object:  View [dbo].[vCCIFGKitStackedBag]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIFGKitStackedBag]
AS
SELECT DISTINCT E.OrderNo, I.Id AS OREIId, I.ItemId, I.TravSerNum, I.CustRFIDTag, P.Id AS CCIPlyStackHeaderId, P.BagNum
FROM            dbo.OrderReleaseEventItem AS I INNER JOIN
                         dbo.OrderReleaseEvent AS E ON E.Id = I.OrderReleaseEventId LEFT OUTER JOIN
                         dbo.CCIPlyStackHeader AS P ON P.OrderReleaseEventItemId = I.Id
WHERE        (I.IsAssembly = 1)
GO
