USE [W005]
GO
/****** Object:  View [dbo].[vRawIntermediateItems]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vRawIntermediateItems]
AS
SELECT DISTINCT 
                         I.AutoReorderYN, I.CostMethodOverride, I.Descr, I.HMRef, I.ItemId, I.ItemStatus, I.ItemType, I.KittedYN, I.LottedYN, I.PictId, I.PriceId, I.ProductLine, I.ResaleYN, I.SalesCat, I.SuperId, I.TaxClass, I.UomBase, 
                         I.UomDflt, I.UsrFld1, I.UsrFld2, I.UsrFld3, I.UsrFld4, I.cf_Customer, I.[cf_Customer Owned], I.[cf_Multi-Item Mfg], I.[cf_Multi-UOM Serial Item], I.[cf_Out-Time Tracked]
FROM            [005].dbo.trav_tblInItem_view AS I INNER JOIN
                         [005].dbo.tblInItemLoc AS L ON L.ItemId = I.ItemId
WHERE        (SUBSTRING(L.GLAcctCode,1,1) <> '7')


GO
