USE [W005]
GO
/****** Object:  View [dbo].[vSWTorayCustRptStartUp]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*  Used by WEBSlitWidth
	Returns data for rTorayForCustomerInitial report
*/

CREATE VIEW [dbo].[vSWTorayCustRptStartUp]
AS


SELECT      th.WorkOrder
		, th.CustomerPO
		, th.Batch
		, th.InvDescription
		, 'Initial-' + CAST(th.SetID as varchar(8)) AS InitSetNum
		, th.SetID 
		,th.CustomerShipToName
		, th.SWTolerance_Target
		,th.ReworkOrigId
		,tgh.Id AS TGHId
		,tgh.TestTypeName
		, tgh.TransBy
		, tgh.TransFromOrderNo
		,tgdd.*
FROM            [W005].dbo.SW_TestHdr AS th INNER JOIN
                         [W005].dbo.SW_TestGroupHdr AS tgh ON tgh.TestHdrId = th.ID
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
WHERE tgh.TestGroupName = 'START UP' AND  tgdd.TestLevel=1 AND tgdd.DataComplete = 1				 











GO
