USE [W005]
GO
/****** Object:  View [dbo].[vCQATravUserGroup]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCQATravUserGroup]
AS


SELECT        U.UserName AS EmployeeName, U.UserId AS EmployeeId, CONVERT(VARCHAR(3), C.CompName) AS Comp, G.GroupName
FROM            TSM.dbo.UserCompanyGroup AS UCG INNER JOIN
                         TSM.dbo.[User] AS U INNER JOIN
                         TSM.dbo.UserCompany AS UC ON U.UserId = UC.UserId INNER JOIN
                         TSM.dbo.Company AS C ON UC.CompId = C.CompId ON UCG.UserCompId = UC.UserCompId INNER JOIN
                         TSM.dbo.[Group] AS G ON UCG.GroupId = G.GroupId
GROUP BY U.UserName, U.UserId, CONVERT(VARCHAR(3), C.CompName), G.GroupName







GO
