USE [W005]
GO
/****** Object:  View [dbo].[vInventoryCountEvent]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vInventoryCountEvent]
AS
SELECT       e.ICEId, e.ICESite,e.ICEName,e.ICEStartDT,e.ICEEndDT,e.UserIdStart,e.UserIdEnd
			,NumICTickets  = CAST(ISNULL((SELECT COUNT(ICTNum) FROM [W005].[dbo].[InventoryCountTicket] WHERE ICEId=e.ICEId),0) as int)
			,NumICTicketsPosted = CAST(ISNULL((SELECT COUNT(ICTNum) FROM [W005].[dbo].[InventoryCountTicket] WHERE Posted = 1 AND ICEId=e.ICEId),0) as int)
FROM           [W005].[dbo].[InventoryCountEvent] e 




GO
