USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitExpDate]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIKitExpDate]
AS

SELECT DISTINCT
		Id AS OrderRelEvntItemId,
		ItemId AS FGItemId,
		TravSerNum AS FGTravSerNum,
		ExpDate = (SELECT MIN(ExpDate) 
					 FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
						  INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] IL ON ItemId=ORK.RMItemId AND ([cf_Serial No.]=ORK.RMSerialNo OR LotNum=ORK.RMSerialNo)
					WHERE ORK.OrderReleaseEventItemId=OREI.Id AND IL.LocId=OREI.LocId)

FROM	[W005].[dbo].[OrderReleaseEventItem] AS OREI
WHERE OREI.IsAssembly=1 --AND TravSerNum = '00029061-001-106'


GO
