USE [W005]
GO
/****** Object:  View [dbo].[vCartonLabelDataFTW]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCartonLabelDataFTW]
AS

SELECT Distinct
	SC.Id AS CtnId,
	SC.ShipCartonNo,
	SP.ShipPalletNo,
	GrossWt = SC.GrossWt,
	ProdOrders =
	STUFF(
	(
		SELECT DISTINCT '/' + SI2.ProdOrderNo
		FROM W005.dbo.ShipItem SI2
		WHERE SI2.ShipCartonId = SC.Id
		FOR XML PATH('')
	),1,1,''),

	ReleaseNos =
	STUFF(
	(
		SELECT DISTINCT '/' + CAST(SI2.ProdOrderRelNo AS varchar(10))
		FROM W005.dbo.ShipItem SI2
		WHERE SI2.ShipCartonId = SC.Id
		FOR XML PATH('')
	),1,1,''),

	RunStartDate = RS.RunStartDate,
	Operation = OP.Operation,
	Machine = OP.Machine,
	I.ItemId,
	I.Descr,

	CustomerName = ISNULL(C.CustName,''),

	PurchaseOrder = ISNULL(R.PurchaseOrder,RH.PurchaseOrder),

	AliasID = IA.AliasID,

	WidthIN = PIN.nTarget,
	WidthMM = PMM.nTarget,

	RollCount = (
		SELECT COUNT(*)
		FROM W005.dbo.ShipItem S
		WHERE S.ShipCartonId = SC.Id
	),

	TotalLength = (
		SELECT SUM(S.Quantity)
		FROM W005.dbo.ShipItem S
		WHERE S.ShipCartonId = SC.Id
	),

	TotalWeight =
		(
			SELECT SUM(S.Quantity)
			FROM W005.dbo.ShipItem S
			WHERE S.ShipCartonId = SC.Id
		) /
		NULLIF(ULB.ConvFactor,0),

	MfgDate = (
		SELECT MIN(OREI.MfgDate)
		FROM W005.dbo.OrderReleaseEventItem OREI
		WHERE OREI.Id IN
		(
			SELECT OREIID
			FROM W005.dbo.ShipItem
			WHERE ShipCartonId = SC.Id
		)
	),

	WidthLabelUOM = PLL.sTarget

FROM W005.dbo.ShipCarton SC
OUTER APPLY
(
    SELECT TOP 1 *
    FROM W005.dbo.ShipItem SI
    WHERE SI.ShipCartonId = SC.Id
    ORDER BY SI.Id
) SI
LEFT JOIN W005.dbo.ShipPallet SP ON SP.Id = SC.ShipPalletId
INNER JOIN [005].dbo.trav_tblInItem_view I ON I.ItemId = SI.ItemId
LEFT JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
LEFT JOIN [005].dbo.tblMpHistoryOrderReleases RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
LEFT JOIN [005].dbo.trav_tblArCust_view C ON C.CustId = ISNULL(R.CustId,RH.CustId)
LEFT JOIN [005].dbo.tblInItemAlias IA ON IA.ItemId = I.ItemId AND IA.RefId = ISNULL(R.CustId,RH.CustId)
LEFT JOIN [005].dbo.tblInItemUom ULB ON ULB.ItemId = I.ItemId AND ULB.Uom = 'LB'
LEFT JOIN W005.dbo.ProductChar PIN ON PIN.ItemId = I.ItemId AND PIN.CharId = (SELECT Id FROM W005.dbo.Characteristic WHERE Characteristic = 'Width(IN)')
LEFT JOIN W005.dbo.ProductChar PMM ON PMM.ItemId = I.ItemId AND PMM.CharId = (SELECT Id FROM W005.dbo.Characteristic WHERE Characteristic = 'Width(MM)')
LEFT JOIN W005.dbo.ProductChar PLL ON PLL.ItemId = I.ItemId AND PLL.CharId = (SELECT Id FROM W005.dbo.Characteristic WHERE Characteristic = 'LabelLengthUOM')
OUTER APPLY
(
	SELECT MIN(ORE.EventStart) AS RunStartDate
	FROM W005.dbo.OrderReleaseEvent ORE
	WHERE ORE.OrderNo = SI.ProdOrderNo
	AND ORE.ReleaseNo = SI.ProdOrderRelNo
	AND ORE.EventStart IS NOT NULL
) RS

OUTER APPLY
(
	SELECT TOP 1
		ORE.Operation,
		ORE.Machine
	FROM W005.dbo.OrderReleaseEvent ORE
	WHERE ORE.OrderNo = SI.ProdOrderNo
	AND ORE.ReleaseNo = SI.ProdOrderRelNo
	AND ORE.EventStart IS NOT NULL
	ORDER BY ORE.EventStart
) OP;
GO
