USE [W005]
GO
/****** Object:  View [dbo].[vSFDCMappedItems]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vSFDCMappedItems]
AS
SELECT        X.Id, X.CustomerId, X.ItemId, X.SFDCOppRecId, O.AccountRecId, O.TopLevelAccountRecId, O.Account, O.Site, O.TopLevelAccountName, O.OppRecId, O.Opportunity, 
                         O.Market, O.Plant, O.OppOwner
FROM            dbo.SFDCOppXRefCustomerItem AS X INNER JOIN
                         dbo.vSFDCAccountOpportunity AS O ON X.SFDCOppRecId = O.OppRecId

GO
