USE [W005]
GO
/****** Object:  View [dbo].[vProductionOrderReleases]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View

CREATE VIEW [dbo].[vProductionOrderReleases]
AS

SELECT DISTINCT ProductionOrder, ProdOrderReleases, LocId, AssemblyId, RevisionNo, CustId, SalesOrders, Qty, UOM, 
				MfgStartDate, MfgEndDate, DurationMinutes, DurationHours, PurchaseOrder, ReqShipDate, 
				FGProgram, RAWMaterial, ReadyToSchedule, Scheduled, InProcess, MfgCompleted
FROM (
	SELECT DISTINCT
					 ProductionOrder = ORI.OrderNo
					,ProdOrderReleases = 
                             (SELECT	 O.OrderNo + '-' + RIGHT('000' + CAST(O.ReleaseNo AS VARCHAR(3)), 3) + ' ' AS [text()]
                               FROM      dbo.OrderReleaseInfo AS O
                               WHERE     O.OrderNo = ORI.OrderNo FOR XML PATH(''))
					, ORI.LocId
					, ORI.ItemId AS AssemblyId
					, ORI.RevisionNo
					, MP.CustId
					, SalesOrders = 
                             (SELECT DISTINCT  M.SalesOrder + ' ' AS [text()]
                               FROM            dbo.vMpOrderReleasesInProcess AS M
                               WHERE        M.OrderNo = ORI.OrderNo FOR XML PATH(''))
					, Qty = SUM(ORI.Qty)
					, MP.UOM
					, ORI.MfgStartDate
					, ORI.MfgEndDate
					, DurationMinutes = SUM(ORI.OrderDuration)
					, DurationHours = SUM(ORI.OrderDuration) / 60
					, MP.PurchaseOrder
					, ORI.RequiredShipDate AS ReqShipDate
					, MP.FGProgram 
					, MP.RAWMaterial						
					, ORI.ReadyToSchedule
					, ORI.Scheduled
					, ORI.InProcess
					, ORI.MfgCompleted
	FROM OrderReleaseInfo ORI
		INNER JOIN vMpOrderReleasesInProcess MP ON MP.OrderNo=ORI.OrderNo AND MP.ReleaseNo=ORI.ReleaseNo
	GROUP BY ORI.OrderNo, ORI.LocId, ORI.ItemId, ORI.RevisionNo, MP.CustId, MP.UOM, ORI.MfgStartDate, ORI.MfgEndDate, 
			 MP.PurchaseOrder, ORI.RequiredShipDate, MP.FGProgram, MP.RAWMaterial, ORI.ReadyToSchedule, ORI.Scheduled, 
			 ORI.InProcess, ORI.MfgCompleted
) M

GO
