USE [W005]
GO
/****** Object:  View [dbo].[vShipPackList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vShipPackList]
AS
SELECT        dbo.ShipPackingList.OrderNo, dbo.ShipPackingListDetail.PLNo, dbo.ShipPackingListDetail.ShipItemId, dbo.ShipPackingListDetail.ShipBoxId, dbo.ShipPackingListDetail.ShipCartonId, 
                         dbo.ShipPackingListDetail.ShipPalletId
FROM            dbo.ShipPackingList INNER JOIN
                         dbo.ShipPackingListDetail ON dbo.ShipPackingList.PLNo = dbo.ShipPackingListDetail.PLNo

GO
