USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseOperationLaborMinMax]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseOperationLaborMinMax]
AS
SELECT        OrderNo, ReleaseNo, Operation, MIN(ClockIn) AS MinDt, MAX(ClockOut) AS MaxDt
FROM            dbo.OrderReleaseEventLabor
GROUP BY OrderNo, ReleaseNo, Operation
GO
