USE [W005]
GO
/****** Object:  View [dbo].[vMachineThreading]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMachineThreading]
AS
SELECT DISTINCT CAST(M.Name AS varchar(20)) + ' / ' + CAST(NumberOfCuts AS varchar(20)) + ' / ' + CAST(SlitWidthInches AS varchar(20)) AS Threading, MachineNum = M.Name, SlitWidthInches, NumberOfCuts
FROM            dbo.MachineConfig C
INNER JOIN dbo.Machine M ON M.Id = C.MachineId
GO
