USE [W005]
GO
/****** Object:  View [dbo].[vPLProdOrderRel]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPLProdOrderRel]
AS
SELECT DISTINCT I.ProdOrderNo, I.ProdOrderRelNo
FROM            dbo.ShipPackingListDetail AS D INNER JOIN
                         dbo.ShipItem AS I ON I.ShipPalletId = D.ShipPalletId
GO
