USE [W005]
GO
/****** Object:  View [dbo].[vCCIProductCharacteristics]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIProductCharacteristics]
AS
SELECT        PC.Id AS ProdCharId, PC.ItemId, PC.nTarget, PC.nMin, PC.nMax, PC.bTarget, PC.sTarget, PC.MinNA, PC.MaxNA, PC.Enforce, PC.LastUpdateBy AS ProdCharLastUpdateBy, PC.LastUpdateDate AS ProdCharLastUpdateDate, PC.BomItemIds,
                         C.Id AS CharId, C.Characteristic, C.CharDescr, C.DataType, C.tblSmCustomFieldId, C.UsedByERP, C.LastUpdateBy AS CharLastUpdateBy, C.LastUpdateDate AS CharLastUpdateDate
FROM            dbo.ProductChar AS PC INNER JOIN
                         dbo.Characteristic AS C ON C.Id = PC.CharId
GO
