USE [W005]
GO
/****** Object:  View [dbo].[vFabricOptimizerJobs]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vFabricOptimizerJobs]
AS
SELECT DISTINCT ParentOrderNo, LocId
FROM            dbo.CCIOrderReleaseInfo
WHERE        (Scheduled = 0) AND (ReadytoSchedule = 0) AND (InFabricOptimizerQueue = 1) AND (SentToFabricOptimizer = 1) AND (BuildingFOCutList = 1)
GO
