USE [W005]
GO
/****** Object:  View [dbo].[vAssemblyItem]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vAssemblyItem]
AS
SELECT DISTINCT I.ItemId
FROM            [005].dbo.tblInItem AS I INNER JOIN
                         [005].dbo.tblInItemLoc AS L ON L.ItemId = I.ItemId
WHERE        (SUBSTRING(L.GLAcctCode, 1,1) IN ('7', '8'))


GO
