USE [W005]
GO
/****** Object:  View [dbo].[vMRPCompletedProductionOrders]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vMRPCompletedProductionOrders]
AS
		SELECT TOP(100000)
			AssemblyId,
			LocId,
			OrderNo AS [ProductionOrderNo],
			Routing,
			SalesOrder,
			Status,
			Qty,
			UOM,
			Priority,
			EstStartDate,
			EstCompletionDate,
			ReleaseNo
		FROM [005].dbo.tblMpHistoryOrderReleases
			WHERE SalesOrder IS NOT NULL
		ORDER BY AssemblyId, LocId, ProductionOrderNo, ReleaseNo;
		
GO
