USE [W005]
GO
/****** Object:  View [dbo].[vCQAEmployee]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* Used by WebCQA as active employees; created 7/22/2020 */

CREATE VIEW [dbo].[vCQAEmployee]
AS



SELECT        EmployeeId, IIF(MiddleInit is Null OR LEN(MiddleInit) = 0, TRIM(FirstName) + ' ' + TRIM(LastName),TRIM(FirstName) + ' ' + TRIM(MiddleInit) + ' ' + TRIM(LastName))  as EmployeeName
		,[Status] 
FROM            [005].dbo.tblSmEmployee
WHERE [Status]=0 




GO
