USE [W005]
GO
/****** Object:  View [dbo].[vtblInHistDetailNunezCostInitialLoadUpdate]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vtblInHistDetailNunezCostInitialLoadUpdate]
AS
SELECT        AppId, BatchId, ConvFactor, CostExt, CostExt_Invc, CostStd, CostUnit, DropShipYn, EntryDate, GLPeriod, HistSeqNum, HistSeqNum_Rcpt, ItemId, ItemType, LocId, LotNum, LottedYN, PriceExt, PriceUnit, Qty, 
                         Qty_Invc, RefId, Source, SrceID, SumPeriod, SumYear, TransDate, TransId, TransType, Uom, UomBase, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, 
                         cf_WIMachineUnitCostModified, cf_WIMachineUnitCostVariable, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
FROM            [005].dbo.trav_tblInHistDetail_View
WHERE        (HistSeqNum IN
                             (SELECT        H.HistSeqNum
                               FROM            [005].dbo.tblInHistDetail AS H INNER JOIN
                                                         [W005].dbo.tblInHistDetailNunezCost AS N ON H.HistSeqNum = N.HistSeqNum
                               WHERE        (H.HistSeqNum_Rcpt <> N.HistSeqNum_Rcpt) OR
                                                         (H.ItemId <> N.ItemId) OR
                                                         (H.LocId <> N.LocId) OR
                                                         (H.LotNum <> N.LotNum) OR
                                                         (H.AppId <> N.AppId) OR
                                                         (H.TransId <> N.TransId) OR
                                                         (H.RefId <> N.RefId) OR
                                                         (H.SrceID <> N.SrceID) OR
                                                         (H.EntryDate <> N.EntryDate) OR
                                                         (H.TransDate <> N.TransDate) OR
                                                         (H.Uom <> N.Uom) OR
                                                         (H.UomBase <> N.UomBase) OR
                                                         (H.ConvFactor <> N.ConvFactor) OR
                                                         (H.Qty <> N.Qty) OR
                                                         (H.CostUnit <> N.CostUnit) OR
                                                         (H.Source <> N.Source)))


GO
