USE [W005]
GO
/****** Object:  View [dbo].[vQuickMoveData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vQuickMoveData]
AS
SELECT        otr.Id, otr.DoorOpenDt, otr.ScanStation, w.[cf_Bin Type] AS BinType, w.ExtLocID, w.Descr, otr.QuickMoveToBinId, otr.EndTimeDt, 
			  otr.TravReceivingCompleted, otr.Rec1OutTime, otr.Rec2OutTime, otr.Rec1AddReeferTime, otr.Rec2AddReeferTime, RIGHT(w.LocID, 3) AS Site
FROM            dbo.OutTimeReceiving AS otr 
				LEFT OUTER JOIN [005].dbo.trav_tblWmExtLoc_view AS w ON w.Id = otr.QuickMoveToBinId
GO
