USE [W005]
GO
/****** Object:  View [dbo].[vMoveMaterialDistinctPlant]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMoveMaterialDistinctPlant]
AS
SELECT DISTINCT SUBSTRING(LocID, LEN(LocID) - 2, 3) AS LocId
FROM            [005].dbo.trav_tblWmExtLoc_view
WHERE        ([cf_Bin Type] IN ('FREEZER', 'REEFER'))
GO
