USE [W005]
GO
/****** Object:  View [dbo].[vSWTorayCustRpt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*  Used by WEBCQA
	Returns data for rTorayForCustomer report
*/

CREATE VIEW [dbo].[vSWTorayCustRpt]               
AS


SELECT    th.ProdOrderNo
		,th.ParentOrderNo
		,th.ReleaseNo
		,IIF(th.ProdOrderNo is null OR LEN(th.ProdOrderNo) = 0, th.WorkOrder,th.ProdOrderNo) As WorkOrder
		,th.CustomerPO
		,InitialReadingYN = IIF(tgh.TestGroupName = 'START UP','Yes','No')
		,th.SetNum AS BaseSetNum
		, th.Batch
		, th.InvDescription
		,Tolerance = '+/-' + Convert(varchar, CAST(
								(IIF(tgh.TestGroupName = 'START UP',(SELECT [SetUpMeanPlus] FROM [W005].[dbo].[SW_Spec] WHERE (PolarisProdSpecId=th.ProdSpecID OR Id=th.ProdSpecId))
									,(SELECT [MfgMeanPlus] FROM [W005].[dbo].[SW_Spec] WHERE (PolarisProdSpecId=th.ProdSpecID OR Id=th.ProdSpecId))))
								 as decimal(10,3)),4)
		,tgh.TestGroupName
		,SetNum = IIF(th.ProdOrderNo is null OR LEN(th.ProdOrderNo) = 0, 
			(IIF(tgh.TestGroupName = 'START UP','Initial-' + CAST(th.SetID as varchar(8)),CAST(th.SetNum as varchar(4)) + '-' + CAST(th.SetID as varchar(8)))),
			(IIF(tgh.TestGroupName = 'START UP','Initial-' + CAST(th.ReleaseNo as varchar(8)),CAST(th.ReleaseNo as varchar(4)) + '-' + CAST(th.ReleaseNo as varchar(8)))))
		, th.SetID 
		,th.CustomerShipToName
		,SWToleranceTarget = Convert(varchar, CAST(th.SWTolerance_Target as decimal(10,3)),4)        
		,th.ReworkOrigId
		,tgh.Id AS TGHId
		,tgd.Id AS TGDId
		,tgh.TestTypeName
		, tgh.TransBy
		, tgh.TransFromOrderNo
		,tgdd.*
FROM            [W005].dbo.SW_TestHdr AS th INNER JOIN
                         [W005].dbo.SW_TestGroupHdr AS tgh ON tgh.TestHdrId = th.ID
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
						 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
WHERE tgh.TestGroupName IN ('START UP','END of SET') AND tgdd.TestLevel = 1 AND tgdd.DataComplete=1	 






GO
