USE [W005]
GO
/****** Object:  View [dbo].[vMRPMaterialShortage]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vMRPMaterialShortage]
AS
SELECT 
	itemLoc.ItemId,
	item.Descr,
	itemLoc.LocId,

	CASE 
		WHEN EXISTS(SELECT 1 FROM [005].dbo.tblInQtyOnHand WHERE ItemId = itemLoc.ItemId AND LocId = itemLoc.LocId) THEN
			CONVERT(decimal(20,3),(SELECT SUM(Qty - InvoicedQty - RemoveQty) FROM [005].dbo.tblInQtyOnHand WHERE ItemId = itemLoc.ItemId AND LocId = itemLoc.LocId))
		ELSE 0.0 END AS [Available],

	item.UomBase AS [BaseUOM],
	CONVERT(decimal(20,3), itemLoc.QtySafetyStock) AS [Safety Stock],
	CONVERT(decimal(20,3), itemLoc.QtyOrderPoint) AS [Order Point],
	item.UomDflt AS [DefaultUOM],
	CONVERT(decimal(20,3), itemUom.ConvFactor) AS [ConversionFactor],
	itemLoc.QtySafetyStock AS [safetyStock],
	itemLoc.QtyOnHandMax AS [onHandmax],
	itemLoc.QtyOrderMin AS [minOrderQty],
	itemloc.DfltLeadTime AS [defaultLeadTime],
	itemloc.OrderQtyUom AS [orderQtyUOM],
	itemLoc.QtyOrderPoint AS [orderPoint],
	(SELECT FirstName + ' '+ LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = itemView.cf_Buyer) AS [Buyer]
FROM [005].dbo.tblInItemLoc itemLoc 
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = itemLoc.ItemId
LEFT JOIN [005].dbo.tblInItemUom itemUom ON itemUom.ItemId = itemLoc.ItemId AND itemUom.Uom = item.UomDflt
LEFT JOIN [005].dbo.trav_tblInItem_view itemView ON itemView.ItemId = itemLoc.ItemId
	WHERE itemLoc.ItemId LIKE 'RM-%' AND itemLoc.LocId LIKE 'INV%' AND (itemLoc.QtySafetyStock > 0 OR itemLoc.QtyOrderPoint > 0)
		AND (SELECT SUM(Qty) FROM [005].dbo.tblInQtyOnHand WHERE ItemId = itemLoc.ItemId AND LocId = itemLoc.LocId) / itemUom.ConvFactor 
			< (CASE WHEN itemLoc.QtySafetyStock > 0.0 THEN itemLoc.QtySafetyStock ELSE 0.0 END);
GO
