USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseEventItemSpliceDetailRework]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseEventItemSpliceDetailRework]
AS
SELECT        CAST(0 AS bit) AS ItemAffectedBySplice, EI.Id AS OrderReleaseEventItemId, EI.OrderReleaseEventId, SD.OrderReleaseEventSpliceId, ES.Description AS SpliceType, EA.Description AS SpliceAddlInfo, EI.ItemId, EI.LocId, 
                         EI.IsAssembly, EI.SerialNo, EI.LotNo, EI.TravLotNum, EI.MpOrderMatIssuedId, EI.Qty, EI.MRLengthCounter, EI.PLCLengthCounter, EI.HeadPos, EI.CutPos, EI.Slitter2SpoolOffset, EI.TotalWaste, EI.TotalQty, 
                         SD.Slitter2FESpliceCutPos, SD.SplicePosition, SD.SplicePositionPrev, SD.SegmentLength, W.WasteReasonId, W.WasteAmount, W.UOM, S.ItemId AS RMItemId, S.SerialNo AS RMSerialNo, SD.FESpliceLocation, 
                         SD.Reworked, SD.ReworkedOrderReleaseEventId, Cast(null as varchar(250)) AS RemoveOrderReleaseEventSpliceIds, SD.Id AS OrderReleaseEventSpliceDetailId, SD.IsShortSegment, SD.SpliceOwner
FROM            dbo.OrderReleaseEventItem AS EI INNER JOIN
                         dbo.OrderReleaseEventSpliceDetail AS SD ON EI.Id = SD.OrderReleaseEventItemId INNER JOIN
                         dbo.OrderReleaseEventSplice AS S ON S.Id = SD.ReworkedOrderReleaseEventId INNER JOIN
                         dbo.SpliceLookupEditCode AS ES ON ES.Id = S.SpliceType LEFT OUTER JOIN
                         dbo.SpliceLookupEditCode AS EA ON EA.Id = SD.SpliceAddlInfo LEFT OUTER JOIN
                         dbo.OrderReleaseEventWaste AS W ON W.Id = SD.OrderReleaseEventWasteId
WHERE SD.Reworked = 0
GO
