USE [W005]
GO
/****** Object:  View [dbo].[vCompanyInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCompanyInfo]
AS
	SELECT [CompID]
		  ,[Name]
		  ,[Addr1]
		  ,[Addr2]
		  ,[Country]
		  ,[City]
		  ,[Region]
		  ,[PostalCode]
		  ,[Phone]
		  ,[Fax]
		  ,[SiteNum]
		  ,[CostingMethod]
		  ,[LangDflt]
		  ,[LangAdmin]
		  ,[BaseCurrency]
		  ,[UserLogUpdate]
		  ,[AuditLog]
		  ,[Security]
		  ,[UseLogo]
		  ,[GlAcctMask]
		  ,[CustIdMask]
		  ,[VendIDMask]
		  ,[ItemIdMask]
		  ,[EmployeeIdMask]
		  ,[ColorSetId]
		  ,[TinFed]
		  ,[TinState]
		  ,[Logo]
		  ,[Email]
		  ,[Internet]
		  ,[MaxRecords]
		  ,[ProtectInfo]
		  ,[WorkWeekMask]
		  ,[FirstDayOfTheWeek]
		  ,[CompressWeekendDays]
		  ,[ShowTimeAsClocks]
		  ,[ShowEndTime]
		  ,[TimeScale]
		  ,[WorkDayStartTime]
		  ,[WorkDayEndTime]
		  ,[WeeksCount]
		  ,[DftlView]
		  ,[ts]
	  FROM [SYS].[dbo].[tblSmCompInfo]
GO
