USE [W005]
GO
/****** Object:  View [dbo].[vCCIPlyStackDetailTables]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIPlyStackDetailTables]
AS
SELECT DISTINCT CCIPlyStackHeaderId, CCITableId
FROM            dbo.CCIPlyStackDetail
GO
