USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseEventAssemblyItems]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vOrderReleaseEventAssemblyItems]
AS

SELECT DISTINCT
		ISNULL(M.ParentOrderNo, E.OrderNo) AS ParentOrderNo,
		E.ReleaseNo AS ParentOrderReleaseNo,
		E.OrderNo,
		E.ReleaseNo,
		M.RevisionNo,
		I.Id AS OrderReleaseEventItemId,
		E.Id AS OrderReleaseEventId, 
		I.ItemId,
		I.LocId,
		I.IsAssembly,
		I.TravSerNum,
		I.TravLotNum,
		I.MfgDate,
		FGExpDate = ISNULL(I.FGExpDate, 
							ISNULL((SELECT MIN(L.ExpDate)
									  FROM  OrderReleaseKitRawMatlOutTime ORK 
											INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
									 WHERE ORK.OrderReleaseEventItemId=I.Id), 
								ISNULL((SELECT MIN(L.ExpDate)
										  FROM  OrderReleaseKitRawMatlNonOT ORK 
												INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
										 WHERE ORK.OrderReleaseEventItemId=I.Id), (SELECT MIN(L.ExpDate)
																					 FROM  OrderReleaseIntermediateRawMatl ORK 
																						   INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
																					 WHERE ORK.OrderReleaseEventItemId=I.Id)))),
		I.TotalQty,
		I.UOM,
		I.ReturnedLocId,
		I.EventDateTime,
		I.FGCompleted,
        I.FGInspectedBy, 
		I.SupervisorOverride, 
		I.ScanMaterialWarnings, 
		I.MultiKitPerBagNum, 
		I.CustRFIDTag,
		I.HeadPos, 
		I.CutPos,
		I.IsInPartialKit,
		Cast(0 as bit) AS FGAlreadyBagged
FROM OrderReleaseEvent E
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1
	 INNER JOIN vMpOrderReleases M ON (M.OrderNo=E.OrderNo AND M.ReleaseNo=E.ReleaseNo) AND M.AssemblyId=I.ItemId
--WHERE E.OrderNo = '00033645' AND E.ReleaseNo = 64
UNION ALL
SELECT DISTINCT
		ISNULL(M.ParentOrderNo, E.OrderNo) AS ParentOrderNo,
		E.ReleaseNo AS ParentOrderReleaseNo,
		E.OrderNo,
		E.ReleaseNo,
		M.RevisionNo,
		I.Id AS OrderReleaseEventItemId,
		E.Id AS OrderReleaseEventId, 
		I.ItemId,
		I.LocId,
		I.IsAssembly,
		I.TravSerNum,
		I.TravLotNum,
		I.MfgDate,
		FGExpDate = ISNULL(I.FGExpDate, 
							ISNULL((SELECT MIN(L.ExpDate)
									  FROM  OrderReleaseKitRawMatlOutTime ORK 
											INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
									 WHERE ORK.OrderReleaseEventItemId=I.Id), 
								ISNULL((SELECT MIN(L.ExpDate)
										  FROM  OrderReleaseKitRawMatlNonOT ORK 
												INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
										 WHERE ORK.OrderReleaseEventItemId=I.Id), (SELECT MIN(L.ExpDate)
																					 FROM  OrderReleaseIntermediateRawMatl ORK 
																						   INNER JOIN [005].[dbo].[tblInItemLocLot] AS L ON ORK.RMItemId=L.ItemId AND ORK.RMSerialNo=L.LotNum
																					 WHERE ORK.OrderReleaseEventItemId=I.Id)))),
		I.TotalQty,
		I.UOM,
		I.ReturnedLocId,
		I.EventDateTime,
		I.FGCompleted,
        I.FGInspectedBy, 
		I.SupervisorOverride, 
		I.ScanMaterialWarnings, 
		I.MultiKitPerBagNum, 
		I.CustRFIDTag,
		I.HeadPos, 
		I.CutPos,
		I.IsInPartialKit,
		Cast(0 as bit) AS FGAlreadyBagged
FROM OrderReleaseEvent E
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1
	 INNER JOIN vMpOrderReleases M ON  M.ParentOrderNo=E.OrderNo AND M.AssemblyId=I.ItemId
--WHERE E.OrderNo = '00033645' AND E.ReleaseNo = 64
--ORDER BY ISNULL(M.ParentOrderNo, E.OrderNo), E.ReleaseNo, I.ItemId, I.SerialNo, I.LotNo, I.TravSerNum, I.TravLotNum

GO
