USE [W005]
GO
/****** Object:  View [dbo].[vDtsMasterRollsUsed]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDtsMasterRollsUsed]
AS
SELECT        M.Id AS MasterRollId, M.LotNumber, M.RollNumber, U.Id, 
                         U.OrderNo, U.ReleaseNo
FROM            dbo.DtsMasterRollUsed U RIGHT OUTER JOIN
                         dbo.DtsMasterRoll M ON U.RollNumber = M.RollNumber AND 
                         U.LotNumber = M.LotNumber
GO
