USE [W005]
GO
/****** Object:  View [dbo].[vItemTotalWaste]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vItemTotalWaste]
AS
SELECT        OrderReleaseEventItemId, SUM(WasteAmount) AS Waste
FROM            dbo.OrderReleaseEventWaste
GROUP BY OrderReleaseEventItemId
GO
