USE [W005]
GO
/****** Object:  View [dbo].[vCCIPlyWithCutFileCount]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIPlyWithCutFileCount]
AS
SELECT        dbo.CCIPly.Id, dbo.CCIPly.ItemId, dbo.CCIPly.Revision, dbo.CCIPly.PlyName, dbo.CCIPly.PlyBarcode, dbo.CCIPly.PlyArea, dbo.CCIPly.UOM, dbo.CCIPly.Qty, dbo.CCIPly.PlyMaterialColor, dbo.CCIPly.MasterBagNum, 
                         dbo.CCIPly.BagNum, dbo.CCIPly.StackSeq, dbo.CCIPly.LastUpdate, COUNT(dbo.CCIPlyCutFileXRef.CCICutFileId) AS CutFileCount, dbo.CCIPly.LabelStockColor,dbo.CCIPly.PlyLayers,
						 dbo.CCIPly.RightLeft,dbo.CCIPly.MaterialType,dbo.CCIPly.KitDesignation
FROM            dbo.CCIPly LEFT OUTER JOIN
                         dbo.CCIPlyCutFileXRef ON dbo.CCIPly.Id = dbo.CCIPlyCutFileXRef.CCIPlyId
GROUP BY dbo.CCIPly.Id, dbo.CCIPly.ItemId, dbo.CCIPly.PlyName, dbo.CCIPly.PlyBarcode, dbo.CCIPly.PlyArea, dbo.CCIPly.UOM, dbo.CCIPly.Qty, dbo.CCIPly.PlyMaterialColor, dbo.CCIPly.MasterBagNum, dbo.CCIPly.BagNum, 
                         dbo.CCIPly.StackSeq, dbo.CCIPly.LastUpdate, dbo.CCIPly.Revision, dbo.CCIPly.LabelStockColor,dbo.CCIPly.PlyLayers,
						 dbo.CCIPly.RightLeft,dbo.CCIPly.MaterialType,dbo.CCIPly.KitDesignation
GO
