USE [W005]
GO
/****** Object:  View [dbo].[vPLLineSOLineCheck]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPLLineSOLineCheck]
AS
SELECT        L.PLNo, L.SO, L.SOLine, D.EntryNum
FROM            dbo.ShipPackingListSOLine AS L LEFT OUTER JOIN
                         [005].dbo.tblSoTransDetail AS D ON D.TransID = L.SO AND D.EntryNum = L.SOLine AND D.Status = 0
WHERE        (D.EntryNum IS NULL)
GO
