USE [W005]
GO
/****** Object:  View [dbo].[vMRPDemandAndSupply]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMRPDemandAndSupply]
AS
SELECT TOP(100000)
	soHeader.TransId AS [TransactionID],
	soHeader.TransType AS [Type],
	cust.CustName AS [Customer],
	soDetail.EntryNum AS [Line #],
	soDetail.ItemId AS [ItemID],
	soDetail.Descr AS [Description],
	soDetail.LocId AS [LocationID],
	CAST(soDetail.QtyOrdSell AS decimal(20,3)) AS [Qty Ordered],
	CAST(soDetail.QtyShipSell AS decimal(20,3)) AS [Qty Shipped],
	soDetail.UnitsSell AS [Sell UOM],

	CAST(CASE 
		WHEN item.ItemType IS NOT NULL 
			THEN (SELECT [W005].dbo.ItemOnHandBalance(soDetail.ItemId, item.ItemType, soDetail.LocId))
		ELSE 0.0
	END AS decimal(20,3)) AS [On Hand Balance],

	soDetail.UnitsBase AS [Base UOM],
	itemUom.ConvFactor,

	--Production Order info
	p.orderNumber AS [Production Order #],
	p.orderStatus AS [Production Order Status],
	CAST(p.qty AS decimal(20,3)) AS [Production Order Qty],
	p.uom AS [Production Order UOM],
	p.orderPriority AS [Production Order Priority],
	p.estStartDate AS [Production Order Est Start Date],
	p.estCompletionDate AS [Production Order Est Completion Date],

	--BOM Info
	p.OperationStep,
	p.OperationID,
	p.OperationDescription,
	p.BOMSequence,
	p.ComponentID,
	p.ComponentDescription,
	p.DetailType,
	p.ComponentQty,
	p.BOMUom,
	p.OnHandBalance,
	p.UomDefault,
	p.toDefaultConvFactor,
	p.SafetyStock,
	p.OnHandMax,
	p.MinOrderQty,
	p.DefaultLeadTime,
	p.OrderQtyUOM,
	p.OrderPoint,
	p.Buyer,
	p.BOMLevel,
	p.Sort,

	soHeader.ReqShipDate AS [Requested Ship Date],
	p.SOLineNo,
	soDetail.ReqShipDate AS [SOLineReqShipDate],
	p.ReleaseNum
--Sales Order header provides the Sales Order number, transaction type, customer ID and requested ship date.
FROM [005].dbo.tblSoTransHeader soHeader
--Sales Order detail provides the items ordered & in what quantities
LEFT JOIN [005].dbo.tblSoTransDetail soDetail ON soDetail.TransID = soHeader.TransId
--Customer supplies the customer's name.
LEFT JOIN [005].dbo.tblArCust cust ON cust.CustId  = soHeader.CustId
LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = soDetail.ItemId
LEFT JOIN [005].dbo.tblInItemUom itemUom ON itemUom.ItemId = soDetail.ItemId AND itemUom.Uom = soDetail.UnitsSell
CROSS APPLY [W005].dbo.GetProductionOrders(soHeader.TransId, soDetail.ItemId, SoDetail.LocId, SoDetail.ReqShipDate)p
--Do not include cedited or verified sales orders, Verified orders are considered complete. Only open line items are included
	WHERE  soHeader.VoidYn = 0 AND soHeader.TransType > 0 AND soDetail.Status = 0
ORDER BY TransactionID, [Line #], orderNumber, Sort
GO
