USE [W005]
GO
/****** Object:  View [dbo].[vPickList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vPickList]
AS

SELECT H.Id AS HeaderId, H.StartDT, H.EndDT, H.LocId, D.Id AS DtlId, D.ItemId, D.LotNum, D.SerNum, D.ExpDate, D.Qty, D.DfltUOM, D.WmBinId, D.WmBinLoc, D.BinType
	--,IIF(Wm.TransDate > H.EndDT,1,0) AS MovedSincePLMade
--, Wm.TransDate As LastScanDT, Wel.[cf_Bin Type] AS CurrBinType, Wm.ExtLocAID As CurrBin,Wm.ExtHistSeqNum
FROM          dbo.PickListHeader AS H INNER JOIN
                         dbo.PickListDetail AS D ON H.Id = D.PLHeaderId
			LEFT JOIN [005].[dbo].[tblWmHistDetail] Wm ON Wm.ItemId=D.ItemId AND (Wm.Lotnum=D.LotNum OR Wm.Sernum=D.SerNum)
			INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] Wel ON Wel.Id = Wm.ExtLocA
WHERE Wm.ExtHistSeqNum = (SELECT MAX(ExtHistSeqNum) FROM [005].[dbo].[tblWmHistDetail] WHERE ItemId=D.ItemId AND (Lotnum=D.LotNum OR Sernum=D.SerNum))
	AND (Wm.TransDate < H.EndDT) 



GO
