USE [W005]
GO
/****** Object:  View [dbo].[vPackingListCartons]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vPackingListCartons]
AS


SELECT DISTINCT
	 SPL.PLNo
	,SPL.[OrderNo] AS SalesOrder 
	,SPL.[CustName]
	,SPL.[CustPO]	
	,SO.CustPONum AS ReferenceNo
  FROM [dbo].[ShipPackingList] SPL
		INNER JOIN [dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo = SPL.PLNo
		INNER JOIN [dbo].[ShipCarton] SC ON SC.Id = SPLD.ShipCartonId
		INNER JOIN [005].[dbo].[trav_tblSoTransHeader_view] SO ON SO.TransID=SPL.OrderNo
  WHERE  SC.Deleted = 0
  --ORDER BY PLNo

GO
