USE [W005]
GO
/****** Object:  View [dbo].[vPOItemReceipt]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vPOItemReceipt]
AS
SELECT D.TransId, D.EntryNum, D.ItemId, L.LotNum, D.UnitsBase, D.ConversionFactor, L.QtyFilled * D.ConversionFactor as QtyBase   
FROM [005].[dbo].[tblPoHistLotRcpt] L
   INNER JOIN [005].[dbo].[tblPoHistDetail] D ON D.TransID = L.TransId AND D.EntryNum = L.EntryNum
UNION ALL
SELECT D.TransId, D.EntryNum, D.ItemId, L.LotNum, D.UnitsBase, D.ConversionFactor, L.QtyFilled * D.ConversionFactor as QtyBase   
FROM [005].[dbo].[tblPoTransLotRcpt] L
   INNER JOIN [005].[dbo].[tblPoTransDetail] D ON D.TransID = L.TransId AND D.EntryNum = L.EntryNum
GO
