USE [W005]
GO
/****** Object:  View [dbo].[MRPBillOfMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MRPBillOfMaterial]
AS
		SELECT	 TOP(100000)
			header.AssemblyId,	
			detail.LocId,
			anchorRouting.Step,										
			anchorRouting.OperationId,
			anchorRouting.Descr,
			detail.Sequence,
			CAST(detail.ComponentID AS varchar(100)) AS [ComponentID],
			detail.Description,
			detail.DetailType,
			detail.Qty,
			detail.UOM,
			(SELECT [W005].dbo.ItemOnHandBalance(detail.ComponentID, itemView.ItemType, detail.LocId)) AS [OnhandBalance],
			itemView.UomDflt,
			itemUom.ConvFactor,
			itemLoc.QtySafetyStock,
			itemLoc.QtyOnHandMax,
			itemLoc.QtyOrderMin,
			itemLoc.DfltLeadTime,
			itemLoc.OrderQtyUom,
			itemLoc.QtyOrderPoint,
			(SELECT FirstName + ' ' + LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = itemView.cf_Buyer) AS [Buyer],
			1 AS [BOMLevel],

			CASE
				WHEN detail.Sequence IS NULL OR anchorRouting.Step IS NULL THEN ''
				WHEN detail.Sequence < 10 THEN
					CAST( CONVERT(varchar(4), anchorRouting.Step) + '\' + CONVERT(varchar(4), detail.Sequence) AS varchar(100))
				ELSE
					CAST( CONVERT(varchar(4), anchorRouting.Step) + '\' + CONVERT(varchar(4), detail.Sequence) AS varchar(100))
			END AS [Sort]

		FROM [005].dbo.tblMbAssemblyHeader header
		LEFT JOIN [005].dbo.tblMbAssemblyDetail detail ON detail.HeaderId = header.Id
		LEFT JOIN [005].dbo.tblMbAssemblyRouting anchorRouting ON anchorRouting.Id = detail.RoutingId
		LEFT JOIN [005].dbo.trav_tblInItem_view itemView ON itemView.ItemId = detail.ComponentId
		LEFT JOIN [005].dbo.tblInItemUom itemUom ON itemUom.ItemId = detail.ComponentId AND itemUom.Uom = itemView.UomDflt
		LEFT JOIN [005].dbo.tblInItemLoc itemLoc ON itemLoc.ItemId = detail.ComponentID AND itemLoc.LocId = detail.LocId
		WHERE detail.LocId IS NOT NULL
		ORDER BY header.AssemblyId, detail.LocId, anchorRouting.Step, detail.Sequence;
GO
