USE [W005]
GO
/****** Object:  View [dbo].[vSite]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vSite]
AS
SELECT DISTINCT WorkCenterId
FROM            [005].dbo.tblMrOperations
WHERE WorkCenterId Is Not NULL AND WorkCenterId != ''

GO
