USE [W005]
GO
/****** Object:  View [dbo].[vCCICutFileMfgGroupFOInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vCCICutFileMfgGroupFOInfo]
AS

SELECT     g.Id AS MfgGroupID,g.Name AS MfgGroupName, g.Revision,g.CutFileReleasePath, g.DimSheetReleasePath,c.Id AS CutFileID, c.CutFile, c.DIMSheet, x.CutFileGrouping
FROM       [W005].dbo.CCICutFile c INNER JOIN
            [W005].dbo.CCIManufacturingGroupCutFileXRef x ON c.Id = x.CCICutFileId INNER JOIN
            [W005].[dbo].[CCIManufacturingGroup] g ON g.Id = x.CCIManufacturingGroupId 


GO
