USE [W005]
GO
/****** Object:  View [dbo].[vSFDCTraverseOrdersReplicate]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vSFDCTraverseOrdersReplicate]
AS
	select OrderStatus = IIF(H.TransType = 2, 'Projected', 'Open') --TransType = 2 = 'Price Quote'
	     --, 'CCV' AS PlatnId
		 , Substring(ISNULL(D.LocId, H.LocId),4,3) AS PlatnId
		 , IIF( D.[cf_Customer PO#] is null, CustPONum, IIF(LEN(D.[cf_Customer PO#]) = 0, CustPONum,  D.[cf_Customer PO#])) AS CustPO
		 , Cast(H.TransId as Int) AS InvoiceNumber
		 , ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate)) AS InvoiceDate
		 , EntryNum AS InvoiceLineNum
		 , null AS InvoiceDetailID
		 , null AS WorkOrderId
		 , null AS ProdSpecId
		 , null AS DateFinalized
		 , null AS PolarisCustomerID
		 , H.CustId AS PolarisCustomerCode
		 , C.CustName AS PolarisCustomerName
		 , null AS PartID
		 , D.ItemId AS PartNumber
		 , Substring(Descr,1,254) AS PartDescription
		 , QtyOrdSell AS QtyOrdered
		 , 0 AS QtySold
		 , UnitsSell AS UOM
		 , UnitPriceSell AS UnitPrice
		 , PriceExt AS Total
		 , 0 AS SFDCUnitPrice
		 , 0 AS SFDCTotal
		 , ShipToName AS ShipToName
		 , ShipToAddr1 AS ShipToAddress
		 , X.SFDCOppRecId AS SalesOrder_SFDC_Oportunity
		 , X.SFDCOppRecId AS Current_SFDC_Opportunity
		 , Year(DateAdd(month, 3, ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate)))) AS Fiscal_Year
		 , DatePart(QUARTER, DateAdd(month, 3, ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate)))) AS Fiscal_Qtr
		 , Month(DateAdd(month, 3, ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate)))) AS Fiscal_Month
		 , Month(ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate))) AS Month
		 , GLAcctSales AS GL
		 , 'Sales' AS GLGroup
		 , 0 AS StdMachineCost
		 , 0 AS StdMachineCostModified
		 , 0 AS StdMachineCostVariable
		 , 0 AS StdMaterialCost
		 , 0 AS StdSuppliesCost
		 , 0 AS StdLaborCost
		 , PriceExt AS StdMargin
		 , 1 AS StdMarginPct
		 , 0 AS ModMargin
		 , 0 AS ModMarginPct
		 , 0 AS VarMargin
		 , 0 AS VarMarginPct
		 , 1 AS IsBillable
		 , 1 AS IsShipment
	from [005].dbo.trav_tblSoTransHeader_view H
	inner join [005].dbo.trav_tblSoTransDetail_view D ON D.TransId = H.TransId
	inner join [005].dbo.tblArCust C ON C.CustId = H.CustId
	left join [W005].[dbo].[SFDCOppXRefCustomerItem] X ON X.CustomerId = H.CustId AND X.ItemId = D.ItemId
	where ISNULL(d.[cf_Due to Ship],ISNULL(d.reqshipdate, h.ReqShipDate)) >= '10/1/2023' and VoidYn = 0 and QtyOrdSell != 0
	UNION ALL
	select 'Open' AS OrderStatus
	     --, 'CCV' AS PlatnId
		 , Substring(ISNULL(D.LocId, B.LocId),4,3) AS PlatnId
		 , CustPONum AS CustPO
		 , Cast(BlanketId as Int) AS InvoiceNumber
		 , ReleaseDate AS InvoiceDate
		 , LineSeq AS InvoiceLineNum
		 , null AS InvoiceDetailID
		 , null AS WorkOrderId
		 , null AS ProdSpecId
		 , null AS DateFinalized
		 , null AS PolarisCustomerID
		 , B.CustId AS PolarisCustomerCode
		 , C.CustName AS PolarisCustomerName
		 , null AS PartID
		 , D.ItemId AS PartNumber
		 , Substring(Descr,1,254) AS PartDescription
		 , S.QtyOrdered AS QtyOrdered
		 , 0 AS QtySold
		 , Units AS UOM
		 , UnitPrice AS UnitPrice
		 , PriceExt AS Total
		 , 0 AS SFDCUnitPrice
		 , 0 AS SFDCTotal
		 , ShipToName AS ShipToName
		 , ShipToAddr1 AS ShipToAddress
		 , X.SFDCOppRecId AS SalesOrder_SFDC_Oportunity
		 , X.SFDCOppRecId AS Current_SFDC_Opportunity
		 , Year(DateAdd(month, 3, ReleaseDate)) AS Fiscal_Year
		 , DatePart(QUARTER, DateAdd(month, 3, ReleaseDate)) AS Fiscal_Qtr
		 , Month(DateAdd(month, 3, ReleaseDate)) AS Fiscal_Month
		 , Month(ReleaseDate) AS Month
		 , GLAcctSales AS GL
		 , 'Sales' AS GLGroup
		 , 0 AS StdMachineCost
		 , 0 AS StdMachineCostModified
		 , 0 AS StdMachineCostVariable
		 , 0 AS StdMaterialCost
		 , 0 AS StdSuppliesCost
		 , 0 AS StdLaborCost
		 , PriceExt AS StdMargin
		 , 1 AS StdMarginPct
		 , 0 AS ModMargin
		 , 0 AS ModMarginPct
		 , 0 AS VarMargin
		 , 0 AS VarMarginPct
		 , 1 AS IsBillable
		 , 1 AS IsShipment
	FROM [005].[dbo].[tblSoSaleBlanket] B
	INNER JOIN [005].[dbo].[tblSoSaleBlanketDetail] D ON D.BlanketRef = B.BlanketRef
	INNER JOIN [005].[dbo].[trav_tblSoSaleBlanketDetailSch_View] S ON S.BlanketDtlRef = D.BlanketDtlRef
	INNER JOIN [005].[dbo].[tblArCust] C ON C.CustId = B.CustId
	LEFT JOIN [W005].[dbo].SFDCOppXRefCustomerItem X ON X.CustomerId = B.CustId AND X.ItemId = D.ItemId
	WHERE B.BlanketType = 2 AND S.Status = 0 
GO
