USE [W005]
GO
/****** Object:  View [dbo].[vCCIManufacturingGroupKit]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vCCIManufacturingGroupKit]
AS
SELECT DISTINCT 
                         dbo.CCIManufacturingGroup.Id, dbo.CCIManufacturingGroup.ProgramId, dbo.CCIManufacturingGroup.Name, dbo.CCIManufacturingGroup.Revision AS MFGGrpRevision, dbo.CCIManufacturingGroupKit.TravAssemblyHeaderRevisionNo AS Revision, 
                         dbo.CCIManufacturingGroupKit.TravAssemblyHeaderCustRevisionNo AS CustomerRevision, dbo.CCIManufacturingGroup.DefaultMFGGroup, dbo.CCIManufacturingGroup.ConveyorTablesOnly, 
                         dbo.CCIManufacturingGroup.MFGMethod, dbo.CCIManufacturingGroup.FixedQty, dbo.CCIManufacturingGroup.SetRunTimeMinutes, dbo.CCIManufacturingGroup.CutFileReleasePath, 
                         dbo.CCIManufacturingGroup.DimSheetReleasePath, dbo.CCIManufacturingGroup.AllowVariableKitList, dbo.CCIManufacturingGroupKit.TravAssemblyHeaderAssemblyId AS ItemId, 
                         dbo.CCIManufacturingGroupKit.TravAssemblyHeaderId AS AssemblyHeaderId, dbo.Program.ProgramName
FROM            dbo.CCIManufacturingGroup INNER JOIN
                         dbo.Program ON dbo.Program.Id = dbo.CCIManufacturingGroup.ProgramId INNER JOIN
                         dbo.CCIManufacturingGroupKit ON dbo.CCIManufacturingGroup.Id = dbo.CCIManufacturingGroupKit.CCIManufacturingGroupId
GO
