USE [W005]
GO
/****** Object:  View [dbo].[vCCIMRASParentOrderNo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCIMRASParentOrderNo]
AS

SELECT DISTINCT cl.ParentOrderNo, cl.Program, cl.Name
	,ori.LocId
FROM [W005].[dbo].[CCIParentOrderCutList] cl
	INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] ori ON cl.ParentOrderNo=ori.ParentOrderNo
WHERE ProgramId IN (SELECT Id
					FROM [W005].[dbo].[Program]
					WHERE CustId IN ( SELECT CustId
						FROM [005].[dbo].[tblArCust]
						WHERE CustName LIKE ('%Middle%River%')))



GO
