USE [W005]
GO
/****** Object:  View [dbo].[vInvTransferToLocations]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vInvTransferToLocations]
AS
SELECT        il.LocId, el.Id AS BinId, el.ExtLocID AS Bin, el.Descr AS BinDescr, el.[cf_Bin Type] AS BinType, el.[cf_Physical Location] AS BinPhysicalLocation
FROM            [005].dbo.tblInLoc AS il LEFT OUTER JOIN
                         [005].dbo.trav_tblWmExtLoc_view AS el ON il.LocId = el.LocID

GO
