USE [W005]
GO
/****** Object:  View [dbo].[vPolyLinerFG]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vPolyLinerFG]
AS
SELECT        I.ItemId, I.Descr,
                             (SELECT DISTINCT P.nTarget
                               FROM            dbo.ProductChar AS P INNER JOIN
                                                         dbo.Characteristic AS C ON P.CharId = C.Id AND C.Characteristic = 'Width(IN)'
                               WHERE        (P.ItemId = I.ItemId)) AS Width, I.UomBase, A.AliasId as Thickness, A.RefID As Vendor
FROM            [005].dbo.trav_tblInItem_view AS I LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] A ON A.ItemID = I.ItemId AND A.AliasType = 2
WHERE        (I.ProductLine = 'PolyLiner')  AND (I.ItemStatus = 1) AND
                             ((SELECT        COUNT(*) AS Expr1
                                 FROM            [005].dbo.tblMbAssemblyHeader
                                 WHERE        (AssemblyId = I.ItemId)) > 0)
GO
