USE [W005]
GO
/****** Object:  View [dbo].[vSolvayRMOTReportData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vSolvayRMOTReportData]
AS
SELECT       [ID],[RollSet],[OTStmt],[TotalOT]
FROM           [w005].[dbo].[SolvayRMOTReportData]


GO
