USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseEventSpliceDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vOrderReleaseEventSpliceDetail]
AS
SELECT        S.OrderReleaseEventId, S.SpliceType, ES.Description AS SpliceTypeDesc, D.SpliceAddlInfo, EA.Description AS SpliceAddlInfoDesc, S.MRLengthCounter, S.PLCLengthCounter, S.SpliceTbl2SlitterOffset, S.ItemId AS RMItemId, 
                         S.SerialNo AS RMSerialNo, S.SplicePerformedBy, S.TopVisualSpliceInspectionPerformedBy, S.BottomVisualSpliceInspectionPerformedBy, S.SpliceWithinTolerance, S.SplicedFailedTolerance1, S.SplicedFailedTolerance2, 
                         S.SplicedFailedTolerance3, S.SpliceOwner, D.OrderReleaseEventSpliceId, D.OrderReleaseEventItemId, D.OrderReleaseEventWasteId, D.Slitter2FESpliceCutPos, D.SplicePosition, D.SplicePositionPrev, D.SegmentLength, D.Reworked, 
                         D.FESpliceLocation, D.IsShortSegment, OREI.ItemId AS FGItemId, OREI.SerialNo AS FGSerialNo, OREI.LotNo AS FGLotNo, OREI.HeadPos, OREI.CutPos, W.WasteReasonId, W.WasteAmount, W.UOM, W.OtherReason, Cast(null as varchar(250)) AS RemoveOrderReleaseEventSpliceIds
FROM            dbo.OrderReleaseEventSplice AS S INNER JOIN
                         dbo.OrderReleaseEventSpliceDetail AS D ON D.OrderReleaseEventSpliceId = S.Id INNER JOIN
                         dbo.OrderReleaseEventItem AS OREI ON OREI.Id = D.OrderReleaseEventItemId INNER JOIN
                         dbo.SpliceLookupEditCode AS ES ON ES.Id = S.SpliceType LEFT OUTER JOIN
                         dbo.SpliceLookupEditCode AS EA ON EA.Id = D.SpliceAddlInfo LEFT OUTER JOIN
                         dbo.OrderReleaseEventWaste AS W ON W.Id = D.OrderReleaseEventWasteId
GO
