USE [W005]
GO
/****** Object:  View [dbo].[vCCIOrderSummaryHeader]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIOrderSummaryHeader]
AS
SELECT DISTINCT 
                         ORI.ParentOrderNo, ORI.OrderNo, ORI.ReleaseNo, M.SalesOrder, ORI.ItemId AS Kit, ORI.Qty, ORI.RequiredShipDate, ORI.MfgStartDate, ORI.MfgEndDate, ORI.Scheduled, ORI.InProcess, ORI.MfgCompleted, SPLD.PLNo, 
                         SPL.ShipDate
FROM            dbo.CCIOrderReleaseInfo AS ORI INNER JOIN
                         [005].dbo.trav_tblMpOrderReleases_view AS M ON M.OrderNo = ORI.OrderNo AND M.ReleaseNo = ORI.ReleaseNo LEFT OUTER JOIN
                         dbo.ShipItem AS SI ON SI.ProdOrderNo = ORI.ParentOrderNo LEFT OUTER JOIN
                         dbo.ShipPackingListDetail AS SPLD ON SPLD.ShipItemId = SI.Id LEFT OUTER JOIN
                         dbo.ShipPackingList AS SPL ON SPL.PLNo = SPLD.PLNo
GO
