USE [W005]
GO
/****** Object:  View [dbo].[vAdjustableUnitInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vAdjustableUnitInventory]
AS
/****** Script for SelectTopNRows command from SSMS  ******/

SELECT P.Id
	  , [ShipPalletNo] AS PackageNo
	  ,'PALLET' as Type
	  , I.ItemId
	  , ISNULL(I.Location,'INVENTORY') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
	  ,PLNo = D.PLNo
FROM [W005].[dbo].[ShipPallet] P LEFT JOIN 
	 [W005].[dbo].[ExtrAdjustmentsNeeded] E ON E.PalletId = P.Id LEFT JOIN
	 [W005].[dbo].[ShipPackingListDetail] D ON D.PkgId = P.ShipPalletNo LEFT JOIN
     (SELECT ShipPalletId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipPalletId, ItemId, Location, UOM) I ON I.ShipPalletId = P.Id LEFT JOIN
		 [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId AND L.LocId = I.Location
WHERE SUBSTRING(L.GLAcctCode, 1,1) <> '8' and Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and (PhantomAdjOut = 0 OR (PhantomAdjOut = 1 and E.AdjDone = 0)) AND I.Qty > 0
UNION ALL
SELECT C.Id
      , [ShipCartonNo] AS PackageNo
	  ,'CARTON' as Type
	  , I.ItemId
	  , ISNULL(I.Location,'INVENTORY') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
	  ,PLNo = D.PLNo
FROM [W005].[dbo].[ShipCarton] C LEFT JOIN 
	 [W005].[dbo].[ShipPackingListDetail] D ON D.PkgId = C.ShipCartonNo LEFT JOIN
     (SELECT ShipCartonId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipCartonId, ItemId, Location, UOM) I ON I.ShipCartonId = C.Id LEFT JOIN
		 [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId AND L.LocId = I.Location
WHERE SUBSTRING(L.GLAcctCode, 1,1) <> '8' and Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and C.ShipPalletId Is Null AND I.Qty > 0
UNION ALL
SELECT B.Id
      , [ShipBoxNo] AS PackageNo
	  ,'BOX' as Type
	  , I.ItemId
	  , ISNULL(I.Location,'INVENTORY') as Location
	  , ISNULL(I.Qty, 0) as Qty
	  , I.UOM
	  , Shipped
	  ,PLNo = D.PLNo
FROM [W005].[dbo].[ShipBox] B LEFT JOIN 
	 [W005].[dbo].[ShipPackingListDetail] D ON D.PkgId = B.ShipBoxNo LEFT JOIN
     (SELECT ShipBoxId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipBoxId, ItemId, Location, UOM) I ON I.ShipBoxId = B.Id LEFT JOIN
		 [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId AND L.LocId = I.Location
WHERE SUBSTRING(L.GLAcctCode, 1,1) <> '8' and Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and B.ShipPalletId Is Null and B.ShipCartonId Is Null AND I.Qty > 0





GO
