USE [W005]
GO
/****** Object:  View [dbo].[vMfgRecordProdOrderRelease]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vMfgRecordProdOrderRelease]
AS
SELECT        TOP (200) OrderNo, ReleaseNo
FROM            (SELECT        OrderNo, ReleaseNo
                          FROM            [005].dbo.tblMpOrderReleases
                          WHERE        (Status = 6)
                          UNION ALL
                          SELECT        OrderNo, ReleaseNo
                          FROM            [005].dbo.tblMpHistoryOrderReleases
                          WHERE        (Status = 6)) AS A
GROUP BY OrderNo, ReleaseNo
GO
