USE [W005]
GO
/****** Object:  View [dbo].[vMachineConfigItem]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vMachineConfigItem]
AS
SELECT        dbo.MachineConfigItemXRef.Id, dbo.MachineConfigItemXRef.MachineConfigId, dbo.Machine.MachineGroupId, dbo.MachineConfigItemXRef.ItemId, 
                         dbo.MachineConfig.SlitWidthInches, dbo.MachineConfig.NumberOfCuts, 
                         dbo.MachineConfigItemXRef.ItemId + '/' + CAST(dbo.MachineConfig.SlitWidthInches AS varchar(10)) + '/' + CAST(dbo.MachineConfig.NumberOfCuts AS Varchar(4)) 
                         AS MachineConfigDescr, dbo.Machine.Id as MachineId
FROM            dbo.MachineConfigItemXRef 
                INNER JOIN dbo.MachineConfig ON dbo.MachineConfigItemXRef.MachineConfigId = dbo.MachineConfig.Id
				INNER JOIN dbo.Machine ON dbo.Machine.Id = dbo.MachineConfig.MachineId

GO
