USE [W005]
GO
/****** Object:  View [dbo].[vSFDCAccountOpportunity]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vSFDCAccountOpportunity]
AS
SELECT        A.RecId AS AccountRecId, A1.RecId as TopLevelAccountRecId, A.Name AS Account, A.Site, A1.Name AS TopLevelAccountName, O.RecId AS OppRecId, O.Name AS Opportunity, O.Market, O.Site AS Plant, U.Name as OppOwner
FROM            WIENTQA.WebEnterprise.dbo.Account AS A INNER JOIN
                WIENTQA.WebEnterprise.dbo.Opportunity AS O ON A.Id = O.AccountId INNER JOIN
                WIENTQA.WebEnterprise.dbo.Account AS A1 ON A.TopLevelParentId = A1.Id INNER JOIN
				WIENTQA.WebEnterprise.dbo.[User] AS U ON U.Id = O.OwnerId

GO
