USE [W005]
GO
/****** Object:  View [dbo].[vCCIKitMasterBagNumBagNumList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIKitMasterBagNumBagNumList]
AS
SELECT DISTINCT ItemId, MasterBagNum, BagNum
FROM            dbo.CCIPly
GO
