USE [W005]
GO
/****** Object:  View [dbo].[vCCICutFilePlyList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCICutFilePlyList]
AS
SELECT        dbo.CCIPlyCutFileXRef.CCICutFileId, dbo.CCIPlyCutFileXRef.CCIPlyId, dbo.CCIPly.ItemId, dbo.CCIPly.PlyName, dbo.CCIPly.PlyBarcode, dbo.CCIPly.PlyArea, dbo.CCIPly.UOM, dbo.CCIPly.PlyMaterialColor, 
                         dbo.CCIPly.MasterBagNum, dbo.CCIPly.BagNum, dbo.CCIPly.StackSeq, dbo.CCIPly.LastUpdate, dbo.CCIPly.Qty, dbo.CCIPlyCutFileXRef.Qty AS CCIPlyCutFileXRefQty, dbo.CCICutFile.MFGMethod, dbo.CCICutFile.CutFile, 
                         dbo.CCICutFile.DIMSheet, dbo.CCICutFile.CutFileKitQty, dbo.CCICutFile.FixedQty, dbo.CCICutFile.FixedNumTables, dbo.CCICutFile.MaterialLength, dbo.CCICutFile.UOM AS CutFile_UOM, dbo.CCICutFile.Efficiency, dbo.CCICutFile.IsOptional,
                         dbo.CCICutFile.RawMaterialDelimited
FROM            dbo.CCIPly INNER JOIN
                         dbo.CCIPlyCutFileXRef ON dbo.CCIPly.Id = dbo.CCIPlyCutFileXRef.CCIPlyId INNER JOIN
                         dbo.CCICutFile ON dbo.CCIPlyCutFileXRef.CCICutFileId = dbo.CCICutFile.Id
GO
