USE [W005]
GO
/****** Object:  View [dbo].[vOrderStatusGrid]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vOrderStatusGrid]  
AS


	SELECT DISTINCT 
			FGItemId = MpO.AssemblyId
			,Rev = MpO.RevisionNo
			,MpOR.OrderNo
			,MpOR.ReleaseNo
			,ProdOrderRelease = MpOR.OrderNo + '-' + RIGHT('000'+Cast(MpOR.ReleaseNo as varchar(3)),3)
			,RequiredShipDate = MpOR.EstCompletionDate
			,OrderStatus = CASE
							WHEN IsNULL(ORE.Event,'') = '' THEN 'Not Started'
							WHEN ORE.Event LIKE '%Start%'  THEN 'Start'
							WHEN ORE.Event LIKE 'Load%' THEN 'Load'
							WHEN ORE.Event LIKE 'End%' THEN 'End Mfg'
							WHEN ORE.Event LIKE 'Pack%' THEN 'Pack'
							ELSE IIF(EXISTS (SELECT DISTINCT I.ItemId FROM [005].[dbo].tblMpOrderReleases O
											INNER JOIN [005].[dbo].tblMpRequirements R1 ON R1.ReleaseId = O.Id AND IndLevel != 0
											INNER JOIN [005].[dbo].tblMpMatlSum D ON D.TransId = R1.TransId
											INNER JOIN [005].[dbo].tblInItem AS I ON I.ItemId = D.ComponentID
										WHERE O.OrderNo = MpOR.OrderNo AND O.ReleaseNo = MpOR.ReleaseNo AND D.ComponentType <> 5
										AND I.ItemId NOT IN (SELECT ItemId FROM [W005].[dbo].[MpOrderMatIssued] WHERE OrderNo = O.OrderNo AND LocId = MpO.LocId))
										, 'Not Started','Issued'
										)
							END
			,ActQty = CASE	
						WHEN (SELECT IsNULL(g.GLAcctCode,0) FROM [005].[dbo].[tblInGLAcct] g INNER JOIN [005].[dbo].[tblInItemLoc] i ON g.GLAcctCode=i.GlAcctCode
								WHERE i.ItemId = MpO.AssemblyId AND i.LocId = MpO.LocId AND g.Descr LIKE '%Intermediate%') > 0 
							AND 'End Manufacturing' IN (SELECT [Event] FROM [W005].[dbo].OrderReleaseEvent 
														WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo))
						THEN (SELECT SUM(TotalQty) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE ItemID = MpO.AssemblyId AND IsAssembly = 1
															AND OrderReleaseEventId  IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo)))						
						WHEN (SELECT IsNULL(g.GLAcctCode,0) FROM [005].[dbo].[tblInGLAcct] g INNER JOIN [005].[dbo].[tblInItemLoc] i ON g.GLAcctCode=i.GlAcctCode
								WHERE i.ItemId = MpO.AssemblyId AND i.LocId = MpO.LocId AND g.Descr LIKE '%Finished%') > 0 
							AND (SELECT TOP 1 r.OperationId FROM [005].[dbo].[tblMbAssemblyRouting] r INNER JOIN [005].[dbo].tblMbAssemblyHeader h ON r.HeaderId=h.Id 
									WHERE h.AssemblyId = MpO.AssemblyId AND ((r.OperationId LIKE '%PKG%') OR (r.OperationId LIKE '%Pack%'))  GROUP BY h.AssemblyId,r.OperationId) 
									IN (SELECT [Event] FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo))
						THEN (SELECT SUM(TotalQty) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE ItemID = MpO.AssemblyId AND IsAssembly = 1
															AND OrderReleaseEventId  IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo)))
						WHEN (SELECT TOP 1 LEN(IsNull(r.OperationId,'')) FROM [005].[dbo].[tblMbAssemblyRouting] r INNER JOIN [005].[dbo].tblMbAssemblyHeader h ON r.HeaderId=h.Id 
									WHERE h.AssemblyId = MpO.AssemblyId  AND (r.OperationId LIKE '%KIT%') GROUP BY h.AssemblyId,r.OperationId) > 0
							AND 'ORDERCLOSE' IN (SELECT Operation FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo))
						THEN  (SELECT SUM(TotalQty) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE ItemID = MpO.AssemblyId AND IsAssembly = 1
															AND OrderReleaseEventId  IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo)))
						ELSE 0
						END
			,EstQty = MpOR.Qty
			,MpOR.UOM
			,MpOR.SalesOrder
			,CustomerPO = MpOR.PurchaseOrder
			,RawMaterial = STUFF
						(
							(
								SELECT DISTINCT ',' + ad.ComponentId
								FROM [005].[dbo].tblMbAssemblyDetail as ad
									LEFT JOIN  [005].[dbo].[tblInItemLoc] as L ON ad.ComponentId = L.ItemId
								WHERE ad.HeaderId IN (SELECT Id FROM [005].[dbo].tblMbAssemblyHeader WHERE AssemblyId = MpO.AssemblyId)
									AND L.LocId=MpO.LocId
									AND L.GLAcctCode IN (SELECT GLAcctCode 
														FROM [005].[dbo].[tblInGLAcct] 
														WHERE Descr LIKE 'Materials Direct%')
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),
							1,1,'')
			,MfgStart = MpOR.EstStartDate
			,MfgEnd = (SELECT EventEnd 
						FROM [W005].[dbo].OrderReleaseEvent 
						WHERE Id IN (SELECT MAX(Id) 
									FROM [W005].[dbo].OrderReleaseEvent
									WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo)
										AND OperationStep IN (SELECT MAX(OperationStep) 
																FROM [W005].[dbo].OrderReleaseEvent 
																WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo))))
			,OREM.Machine
			,ActLaborHrs = ((SELECT CAST(ISNULL(SUM(ClockInDurationMin), 0) AS float) FROM [W005].[dbo].[OrderReleaseEventLabor]
								where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo) AND ClockInDurationMin > 0) 
								+
								(SELECT CAST(ISNULL(SUM(DATEDIFF(minute,ClockIn,GetDate())), 0) AS float) FROM [W005].[dbo].[OrderReleaseEventLabor]
								where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo) AND ClockInDurationMin = 0)
							) / 60
			,EstLaborHrs = (MpOR.Qty /  IIF(AH.LotSize = null OR AH.LotSize = 0,1,AH.LotSize)) * SUM(MpT.LaborEst) 
			,ActMachineHrs = ((SELECT CAST(ISNULL(SUM(ClockInDurationMin), 0) AS float) FROM [W005].[dbo].[OrderReleaseEventMachine]
								where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo) AND ClockInDurationMin > 0) 
								+
								(SELECT CAST(ISNULL(SUM(DATEDIFF(minute,ClockIn,GetDate())), 0) AS float) FROM [W005].[dbo].[OrderReleaseEventMachine]
								where OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo) AND ClockInDurationMin = 0)
							) / 60
			,EstMachineHrs = (MpOR.Qty / IIF(AH.LotSize = null OR AH.LotSize = 0,1,AH.LotSize)) *  SUM(MpT.MachineRunEst)
			,Program = I.[cf_FG Program]
			,Customer = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = MpOR.CustId)
	FROM [005].[dbo].[tblMpOrder] MpO
		INNER JOIN [005].[dbo].[tblMpOrderReleases] MpOR ON MpO.OrderNo=MpOR.OrderNo
		INNER JOIN [005].[dbo].[tblMpRequirements] MpR ON MpR.ReleaseId = MpOR.Id
		INNER JOIN [005].[dbo].[tblMpTimeSum] MpT ON MpT.TransId = MpR.TransId
		INNER JOIN [005].[dbo].[tblMbAssemblyHeader] AH ON AH.AssemblyId = MpO.AssemblyId
		INNER JOIN [005].[dbo].[tblMbAssemblyRouting] AR ON AR.HeaderId = AH.Id 
		INNER JOIN [005].[dbo].[trav_tblInItem_View] I ON I.ItemId = MpO.AssemblyId 
		LEFT JOIN  [W005].[dbo].OrderReleaseEvent ORE ON ORE.OrderNo = MpOR.OrderNo  AND ORE.ReleaseNo = MpOR.ReleaseNo
		LEFT JOIN [W005].[dbo].OrderReleaseEventMachine OREM ON OREM.OrderNo = ORE.OrderNo AND OREM.ReleaseNo = ORE.ReleaseNo
	WHERE ORE.Id IN (SELECT MAX(Id) FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo = MpOR.OrderNo AND ReleaseNo = IIF(ORE.OrderNo LIKE 'P%', 1, MpOR.ReleaseNo))

	GROUP BY MpO.AssemblyId,MpO.RevisionNo,MpOR.OrderNo,MpOR.ReleaseNo, MpOR.Id,MpO.LocId,MpOR.EstCompletionDate,MpOR.Qty,ORE.Event,MpOR.UOM
	,MpOR.SalesOrder,MpOR.PurchaseOrder,MpOR.EstStartDate,OREM.Machine,I.[cf_FG Program],MpOR.CustId,AH.LotSize,ORE.OrderNo
	

GO
