USE [W005]
GO
/****** Object:  View [dbo].[vExtrShipItemsToBePosted]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vExtrShipItemsToBePosted]
AS

SELECT sp.Id AS ShipId, sp.ShipPalletNo AS PkgId, sp.Complete AS PkgComplete, si.*
FROM [W005].[dbo].[ShipItem] si 
		LEFT JOIN [W005].[dbo].[ShipPallet] sp ON si.ShipPalletId=sp.Id
WHERE si.PostedToTraverse=0 AND si.Deleted=0 AND sp.Deleted=0 AND 
		si.ItemId IN (SELECT H.AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader] As H INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId 
						WHERE R.MachineGroupId LIKE 'EXT%')

UNION ALL

SELECT sc.Id AS ShipId, sc.ShipCartonNo AS PkgId, sc.Complete AS PkgComplete, si.*
FROM [W005].[dbo].[ShipItem] si 
		LEFT JOIN [W005].[dbo].[ShipCarton] sc ON si.ShipCartonId=sc.Id
WHERE si.PostedToTraverse=0 AND si.Deleted=0 AND sc.Deleted=0 AND sc.ShipPalletId is null AND 
		si.ItemId IN (SELECT H.AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader] As H INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId 
						WHERE R.MachineGroupId LIKE 'EXT%')

UNION ALL

SELECT sb.Id AS ShipId, sb.ShipBoxNo AS PkgId, sb.Complete AS PkgComplete, si.*
FROM [W005].[dbo].[ShipItem] si 
		LEFT JOIN [W005].[dbo].[ShipBox] sb ON si.ShipBoxId=sb.Id
WHERE si.PostedToTraverse=0 AND si.Deleted=0 AND sb.Deleted=0 AND sb.ShipPalletId is null AND sb.ShipCartonId is null AND 
		si.ItemId IN (SELECT H.AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader] As H INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId 
						WHERE R.MachineGroupId LIKE 'EXT%')







GO
