USE [W005]
GO
/****** Object:  View [dbo].[vMRPBuildToStockProductionOrders]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--Retreive any production orders without an associated sales order
CREATE VIEW [dbo].[vMRPBuildToStockProductionOrders]
AS	
SELECT TOP(20000)
	a.AssemblyId,
	a.Description,
	a.Location, 
	a.OrderNo,
	a.Status,
	a.Qty,
	a.UOM,
	a.Priority,
	a.EstStartDate,
	a.EstCompletionDate,
	(SELECT [W005].dbo.ItemOnHandBalance(a.AssemblyId, a.ItemType, a.Location)) AS [OnHandBalance]
FROM
	(SELECT TOP(10000)
		ord.AssemblyId,
		MAX(item.ItemType) AS ItemType,
		MAX(item.Descr) AS Description,
		MAX(ord.LocId) AS Location,
		ord.OrderNo,
		MAX(released.ReleaseNo) AS MaxReleaseNo,
		MAX(released.Status) AS Status,
		MAX(released.qty) AS Qty,
		MAX(released.UOM) AS UOM,
		MAX(released.Priority) AS Priority,
		MAX(released.EstStartDate) AS EstStartDate,
		MAX(released.EstCompletionDate) AS EstCompletionDate
	FROM [005].dbo.tblMpOrder ord
	LEFT JOIN [005].dbo.tblMpOrderReleases released ON released.OrderNo = ord.OrderNo
	LEFT JOIN [005].dbo.tblSoTransHeader soHeader ON soHeader.TransId = released.SalesOrder
	LEFT JOIN [005].dbo.tblInItem item ON item.ItemId = ord.AssemblyId
		WHERE soHeader.TransType IS NULL AND (released.SalesOrder IS NULL OR released.SalesOrder = '' AND released.Status != 6 AND released.Status != 7)
	GROUP BY ord.AssemblyId, ord.OrderNo) a
ORDER BY AssemblyId
GO
