USE [W005]
GO
/****** Object:  View [dbo].[vCCIParentOrderRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIParentOrderRawMaterial]
AS
SELECT DISTINCT 
                         E.OrderNo, E.ReleaseNo, I.ItemId, I.SerialNo, I.LotNo, O.LastScanDateTime, O.ThawCompletedDT, O.TotalRoomMinutes, O.TotalFreezerMinutes, O.TotalReeferMinutes, O.MaxRoomDTReached, O.MaxFreezerDTReached, 
                         O.MaxReeferDTReached
FROM            dbo.OrderReleaseEvent AS E INNER JOIN
                         dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id INNER JOIN
                         dbo.OrderReleaseEventItemOutTime AS O ON O.OrderReleaseEventItemId = I.Id
GO
