USE [W005]
GO
/****** Object:  View [dbo].[vCCIParentOrderRawMaterialCost]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vCCIParentOrderRawMaterialCost]
AS
SELECT I.ParentOrderNo, M.ComponentId, E.LotNum, SUM(M.Qty) as Qty, SUM(M.Qty * M.UnitCost) AS Cost
FROM            dbo.CCIOrderReleaseInfo AS I INNER JOIN
                         --[005].dbo.tblMbAssemblyHeader AS H ON H.AssemblyId = I.ItemId AND H.RevisionNo = I.RevisionNo INNER JOIN
                         --[005].dbo.tblMbAssemblyDetail AS D ON D.HeaderId = H.Id INNER JOIN
                         [005].dbo.tblMpRequirements AS R ON R.ReleaseId = I.ReleaseId INNER JOIN
                         [005].dbo.tblMpMatlDtl AS M ON M.TransId = R.TransId INNER JOIN
                         [005].dbo.tblMpMatlDtlExt AS E ON E.EntryNum = M.SeqNo
GROUP BY I.ParentOrderNo, M.ComponentId, E.LotNum
GO
