USE [W005]
GO
/****** Object:  View [dbo].[vCustomerCharacteristics]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCustomerCharacteristics]
AS
SELECT        PC.Id AS ProdCharId, PC.CustId, PC.nTarget, PC.nMin, PC.nMax, PC.bTarget, PC.sTarget, PC.MinNA, PC.MaxNA, PC.Enforce, PC.LastUpdateBy AS ProdCharLastUpdateBy, PC.LastUpdateDate AS ProdCharLastUpdateDate, 
                         C.Id AS CharId, C.Characteristic, C.CharDescr, C.DataType, C.tblSmCustomFieldId, C.UsedByERP, C.LastUpdateBy AS CharLastUpdateBy, C.LastUpdateDate AS CharLastUpdateDate
FROM            dbo.CustomerChar AS PC INNER JOIN
                         dbo.CustomerCharacteristic AS C ON C.Id = PC.CharId
GO
