USE [W005]
GO
/****** Object:  View [dbo].[vCCIKittingEventRawMatlUsage]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIKittingEventRawMatlUsage]
AS
SELECT        I.OrderReleaseEventId, I.ByProductItemId AS KitItemId, R.OrderNo AS KitOrderNo, R.ReleaseNo AS KitReleaseNo, I.ItemId, I.LocId, I.SerialNo, I.LotNo, I.TravSerNum, SUM(I.TotalQtyConsumed + I.TotalWaste) 
                         AS TotalQtyConsumed, SUM(I.TotalWaste) AS TotalWaste
FROM            dbo.OrderReleaseEventItem AS I INNER JOIN
                         dbo.OrderReleaseEvent AS E ON E.Id = I.OrderReleaseEventId AND E.Event LIKE 'KIT%' INNER JOIN
                         dbo.CCIOrderReleaseInfo AS R ON R.ParentOrderNo = E.OrderNo AND (I.ByProductItemId IS NULL OR
                         R.ItemId = I.ByProductItemId)
WHERE        (I.IsAssembly = 0) AND (I.TravMatDtlSaved = 0)
GROUP BY I.OrderReleaseEventId, I.ByProductItemId, R.OrderNo, R.ReleaseNo, I.ItemId, I.LocId, I.SerialNo, I.LotNo, I.TravSerNum
GO
