USE [W005]
GO
/****** Object:  View [dbo].[vReturnToInvSummary]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vReturnToInvSummary]
AS
SELECT DISTINCT	D.ReturnInDtlId, 
				D.WebReturnNum, 
				D.TraverseOrderNum, 
				D.PkgId, 
				D.ItemId, 
				D.ItemDescr, 
				SPLD.SerialNo, 
				SPLD.LotNo, 
				SPLD.TravLotNum, 
				SPLD.Qty,
				SPLD.UOM, 
				D.CustomerPN

FROM            dbo.ReturnedInDetail AS D 
				INNER JOIN dbo.ReturnedInDetailExt AS E ON E.ReturnInDtlId = D.ReturnInDtlId
				INNER JOIN dbo.ShipPackingListDetail AS SPLD ON SPLD.PkgId = D.PkgId

GO
