USE [W005]
GO
/****** Object:  View [dbo].[vDTSOrderReleaseCurrentMasterRoll]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vDTSOrderReleaseCurrentMasterRoll]
AS
SELECT        OrderNo, ReleaseNo, MachineGroupId, OrderRel, OREIdEndMfg, OREIId
FROM            (SELECT        E.OrderNo, E.ReleaseNo, E.MachineGroupId, E.OrderNo + '/' + CAST(E.ReleaseNo AS Varchar(4)) AS OrderRel, E1.Id AS OREIdEndMfg, MAX(I.Id) AS OREIId
                          FROM            dbo.OrderReleaseEvent AS E INNER JOIN
                                                    dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0 LEFT OUTER JOIN
                                                    dbo.OrderReleaseEvent AS E1 ON E1.OrderNo = E.OrderNo AND E1.ReleaseNo = E.ReleaseNo AND E1.Event = 'End Manufacturing'
                          GROUP BY E.OrderNo, E.ReleaseNo, E.MachineGroupId, E1.Id) AS A
WHERE        (OREIdEndMfg IS NULL)
GO
