USE [W005]
GO
/****** Object:  View [dbo].[vSetScannedCuts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vSetScannedCuts]
AS
SELECT OrderNo, ReleaseNo, COUNT(DISTINCT MachineCutNo) AS ScannedCuts
FROM            dbo.PolyLinerUsage
Group By OrderNo, ReleaseNo
GO
