USE [W005]
GO
/****** Object:  View [dbo].[vCCIRoutingForFG]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCCIRoutingForFG]
AS
SELECT        H.AssemblyId, R.Id, R.HeaderId, R.RtgType, R.Step, R.Descr, R.SubContractorId, R.SubUnitCost, R.OperationType, R.OperationId, R.WorkCenterId, R.LaborTypeId, R.SetupLaborTypeId, R.MachineGroupId, R.OverlapYn, R.Media,
                          R.QueueTime, R.QueueTimeIn, R.MachSetup, R.MachSetupIn, R.LaborSetup, R.LaborSetupIn, R.MachRunTime, R.MachRunTimeIn, R.LaborRunTime, R.LaborRunTimeIn, R.WaitTime, R.WaitTimeIn, R.MoveTime, R.MoveTimeIn, 
                         R.CostGroupId, R.MaxQuantity, R.YieldPct, R.Notes, R.CF, R.ts
FROM            [005].dbo.tblMbAssemblyHeader AS H INNER JOIN
                         [005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id
WHERE        (R.MachineGroupId <> 'NO MACHINE')
GO
