USE [W005]
GO
/****** Object:  View [dbo].[vSiteForRemoteWarehouseShipment]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Used by fSelectSite 
-- This view is not used by 008

CREATE VIEW [dbo].[vSiteForRemoteWarehouseShipment]
AS

	SELECT DISTINCT WorkCenterId
	FROM [005].dbo.tblMrOperations
	WHERE WorkCenterId Is Not NULL AND WorkCenterId != ''
UNION ALL
	SELECT LocId AS WorkCenterId
	FROM  [005].[dbo].[tblInLoc]
	WHERE (LEFT(LocId,3) = 'RWH') 






GO
