USE [W005]
GO
/****** Object:  View [dbo].[vMfgRecordProdOrder]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vMfgRecordProdOrder]
AS
SELECT        TOP (200) OrderNo, CustId, SalesOrder, PurchaseOrder, MAX(ts) AS TS
FROM            (SELECT        OrderNo, CustId, SalesOrder, PurchaseOrder, ts
                          FROM            [005].dbo.tblMpOrderReleases
                          WHERE        (Status = 6)
                          UNION ALL
                          SELECT        OrderNo, CustId, SalesOrder, PurchaseOrder, ts
                          FROM            [005].dbo.tblMpHistoryOrderReleases
                          WHERE        (Status = 6)) AS A
GROUP BY OrderNo, CustId, SalesOrder, PurchaseOrder
GO
