USE [W005]
GO
/****** Object:  View [dbo].[vItemMoveInfoByLot]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vItemMoveInfoByLot]
AS

  SELECT   [ItemId]
		  ,[LotNum]
		  ,I.[LocId]
		  ,E.Descr AS LocDescr
		  ,[ExtLocA]
		  ,[ExtLocB]
		  ,[QtyOnHand] AS BaseQtyInches
		  ,TotalQtyLY = (SELECT IIF(ConvFactor is Null, Null, [QtyOnHand] / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LY')
		  ,UOM = 'LY'
  FROM [005].[dbo].[trav_InItemOnHandLotExt_view] AS I 
  INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] AS E ON I.ExtLocA=E.Id
GO
