USE [W005]
GO
/****** Object:  View [dbo].[vOrderReleaseRawMaterials]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vOrderReleaseRawMaterials]
AS

SELECT DISTINCT
	   [OrderNo]
	  ,[ReleaseNo]
      ,OREI.[ItemId]
      ,OREI.[LocId]
      ,[SerialNo]
      ,[LotNo]
      ,[TravSerNum]
      ,[TravLotNum]
	  ,[IsAssembly]
      ,[MfgDate]
      ,[MpOrderMatIssuedId]
      ,[Qty]
      ,[UOM]
      ,OREI.[MRLengthCounter]
      ,OREI.[PLCLengthCounter]
      ,[HeadPos]
      ,[CutPos]
      ,[Slitter2SpoolOffset]
      ,[PrevOrderReleaseEventItemId]
      ,[TotalQty]
      ,[TotalWaste]
      ,[TotalQtyConsumed]
      ,[TotalQtyRemaining]
      ,[ReturnedLocId]
      ,[EventDateTime]
      ,[ByProductItemId]
      ,[TravMatDtlSaved]
      ,[Layers]
      ,[ScanMaterialWarnings]
      ,[SupervisorOverride]
      ,[CutFileQtyConsumed]
      ,[CutFileWaste]
      ,[NonCutFileWaste]
      ,[FGCompleted]
      ,[CustRFIDTag]
      ,[FGInspectedBy]
      ,[IsInPartialKit]
      ,[MultiKitPerBagNum]
      ,[KitSet]
  FROM [W005].[dbo].[OrderReleaseEventItem] OREI
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.Id=OREI.OrderReleaseEventId
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId 
												AND L.GLAcctCode IN (SELECT DISTINCT GLAcctCode FROM [005].[dbo].[tblInGLAcct] GL WHERE GL.Descr LIKE '%Materials Direct%' OR GL.Descr LIKE '%Materials Intermediate%')
WHERE OREI.IsAssembly=0 --AND ORE.OrderNo = '00030077' AND ORE.ReleaseNo = 1

GO
