USE [W005]
GO
/****** Object:  View [dbo].[vLocationTransferableInventory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vLocationTransferableInventory]
AS
/****** Script for SelectTopNRows command from SSMS  ******/

With CTE (Id,PackageNo,Type,ItemId,Location,BinId,Bin,BinType,Qty,UOM,Shipped) AS 
	(SELECT Id
		  , [ShipPalletNo] AS PackageNo
		  ,'PALLET' as Type
		  , PalletItemId as ItemId
		  , ISNULL(I.Location,'NONE') as Location
			, (SELECT TOP 1 ExtLocA
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=PalletItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id))
				ORDER BY ExtHistSeqNum DESC)
				 AS BinId
			, (SELECT TOP 1 ExtLocAID
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=PalletItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id))
				ORDER BY ExtHistSeqNum DESC)
				AS Bin
			, (SELECT [cf_Bin Type]
				FROM [005].[dbo].[trav_tblWmExtLoc_view]
				WHERE Id = (SELECT TOP 1 ExtLocA
								FROM [005].[dbo].[tblWmHistDetail]
								WHERE ItemId=PalletItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=Id))
								ORDER BY ExtHistSeqNum DESC))
				AS BinType
		  , ISNULL(I.Qty, 0) as Qty
		  , I.UOM
		  , Shipped
	FROM [W005].[dbo].[ShipPallet] P LEFT JOIN 
		 (SELECT ShipPalletId, ItemId, Location, UOM, SUM(Quantity) AS QTY 
		 FROM [W005].[dbo].[ShipItem] SI 
		 WHERE TravLotNum IN (SELECT LotNum 
								FROM [005].dbo.trav_InItemOnHandLot_view AS O 
								WHERE O.ItemId = SI.ItemId AND O.LotNum = SI.TravLotNum) 
		GROUP BY ShipPalletId, ItemId, Location, UOM) I ON I.ShipPalletId = P.Id
	WHERE Shipped = 0 and Deleted = 0 and UsedByProduction = 0 and PhantomAdjOut = 0
	UNION ALL
	SELECT Id
		  , [ShipCartonNo] AS PackageNo
		  ,'CARTON' as Type
		  , CartonItemId as ItemId
		  , ISNULL(I.Location,'NONE') as Location
			, (SELECT TOP 1 ExtLocA
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=CartonItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id))
				ORDER BY ExtHistSeqNum DESC)
				AS BinId
			, (SELECT TOP 1 ExtLocAID
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=CartonItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id))
				ORDER BY ExtHistSeqNum DESC)
				AS Bin
			, (SELECT [cf_Bin Type]
				FROM [005].[dbo].[trav_tblWmExtLoc_view]
				WHERE Id = (SELECT TOP 1 ExtLocA
								FROM [005].[dbo].[tblWmHistDetail]
								WHERE ItemId=CartonItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=Id))
								ORDER BY ExtHistSeqNum DESC))
				AS BinType
		  , ISNULL(I.Qty, 0) as Qty
		  , I.UOM
		  , Shipped
	FROM [W005].[dbo].[ShipCarton] C LEFT JOIN 
		 (SELECT ShipCartonId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] SI WHERE TravLotNum IN (SELECT LotNum FROM [005].dbo.trav_InItemOnHandLot_view AS O WHERE O.ItemId = SI.ItemId AND O.LotNum = SI.TravLotNum) GROUP BY ShipCartonId, ItemId, Location, UOM) I ON I.ShipCartonId = C.Id
	WHERE Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and PhantomAdjOut = 0 and ShipPalletId Is Null 
	UNION ALL
	SELECT Id
		  , [ShipBoxNo] AS PackageNo
		  ,'BOX' as Type
		  , BoxItemId as ItemId
		  , ISNULL(I.Location,'NONE') as Location
			, (SELECT TOP 1 ExtLocA
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=BoxItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id))
				ORDER BY ExtHistSeqNum DESC)
				 AS BinId
			, (SELECT TOP 1 ExtLocAID
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=BoxItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id))
				ORDER BY ExtHistSeqNum DESC)
				AS Bin
			, (SELECT [cf_Bin Type]
				FROM [005].[dbo].[trav_tblWmExtLoc_view]
				WHERE Id = (SELECT TOP 1 ExtLocA
								FROM [005].[dbo].[tblWmHistDetail]
								WHERE ItemId=BoxItemId AND LocId=ISNULL(I.Location,'NONE') AND (Sernum=(SELECT SerNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id) 
																				OR Lotnum=(SELECT LotNo FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=Id))
								ORDER BY ExtHistSeqNum DESC))
				AS BinType
		  , ISNULL(I.Qty, 0) as Qty
		  , I.UOM
		  , Shipped
	FROM [W005].[dbo].[ShipBox] B LEFT JOIN 
		 (SELECT ShipBoxId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] SI WHERE TravLotNum IN (SELECT LotNum FROM [005].dbo.trav_InItemOnHandLot_view AS O WHERE O.ItemId = SI.ItemId AND O.LotNum = SI.TravLotNum) GROUP BY ShipBoxId, ItemId, Location, UOM) I ON I.ShipBoxId = B.Id
	WHERE Shipped = 0 and Deleted = 0 AND UsedByProduction = 0 and PhantomAdjOut = 0 AND ShipPalletId Is Null and ShipCartonId Is Null 

	UNION ALL
	SELECT OREI.Id
			, IsNull(OREI.TravSerNum,OREI.SerialNo) AS PackageNo
			, 'ITEM'  as Type
			, OREI.ItemId as ItemId
			, OREI.LocId as Location
			, (SELECT TOP 1 ExtLocA
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=OREI.ItemId AND LocId=OREI.LocId AND (Sernum=OREI.TravSerNum OR Lotnum=OREI.LotNo)
				ORDER BY ExtHistSeqNum DESC) AS BinId
			, (SELECT TOP 1 ExtLocAID
				FROM [005].[dbo].[tblWmHistDetail]
				WHERE ItemId=OREI.ItemId AND LocId=OREI.LocId AND (Sernum=OREI.TravSerNum OR Lotnum=OREI.LotNo)
				ORDER BY ExtHistSeqNum DESC) AS Bin
			, (SELECT [cf_Bin Type]
				FROM [005].[dbo].[trav_tblWmExtLoc_view]
				WHERE Id = (SELECT TOP 1 ExtLocA
								FROM [005].[dbo].[tblWmHistDetail]
								WHERE ItemId=OREI.ItemId AND LocId=OREI.LocId AND (Sernum=OREI.TravSerNum OR Lotnum=OREI.LotNo)
								ORDER BY ExtHistSeqNum DESC))
				AS BinType
			, OREI.TotalQty as Qty
			, OREI.UOM 
			, CAST(0 as bit) as Shipped
	FROM [W005].[dbo].[OrderReleaseEventItem] OREI
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON OREI.OrderReleaseEventId=ORE.Id

	WHERE OREI.IsAssembly=1 AND OREI.FGCompleted=1 
		AND OREI.SerialNo NOT IN (SELECT SerNo FROM [W005].[dbo].[ShipItem])
		AND OREI.TravSerNum NOT IN (SELECT TravSerNum FROM [W005].[dbo].[ShipItem])
	),

CTE2 (PLNo,Id,PackageNo,Type,ItemId,Location,BinId,Bin,BinType,Qty,UOM,Shipped) AS
		(select SpDtl.PLNo,CTE.* from CTE 
				left join [W005].dbo.ShipPackingListDetail as SpDtl on CTE.PackageNo = SpDtl.PkgId
				INNER JOIN [W005].dbo.ShipPackingList as sp on sp.PLNo = SpDtl.PLNo AND sp.Complete=0
		),

CTE3(PLNo,Id,PackageNo,Type,ItemId,Location,BinId,Bin,BinType,Qty,UOM,Shipped) AS
	(select PLNo = ISNULL(CAST(CTE2.PLNo as varchar),CAST(tmp.PLNo as varchar)),CTE.* from CTE 
		left join CTE2 on CTE.PackageNo = CTE2.PackageNo
		LEFT JOIN  [W005].dbo.tmpShipPackingList as tmp on CTE.PackageNo = tmp.PkgId
	) 
 
select distinct Notes = 'On PL' +' ' + STUFF((SELECT distinct ', ' + CT.PLNo  FROM CTE3 as CT where CTE3.PackageNo = CT.PackageNo  FOR XML PATH('')), 1, 1, ''),
Id,PackageNo,Type,ItemId,Location,BinId,Bin,BinType,Qty,UOM,Shipped from CTE3
--select Notes = 'On PL' +' ' +  ISNULL(CAST(CTE2.PLNo as varchar),CAST(tmp.PLNo as varchar)),CTE.* from CTE 
--				left join CTE2 on CTE.PackageNo = CTE2.PackageNo
--				LEFT JOIN  [W005].dbo.tmpShipPackingList as tmp on CTE.PackageNo = tmp.PkgId 


GO
