USE [005]
GO
/****** Object:  View [dbo].[pvtInPhysicalCount]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInPhysicalCount]
AS

SELECT c.BatchId, c.ProductLine, c.ItemId, i.Descr, c.LocId, NULL AS BinNum, c.QtyFrozen, c.QtyCounted
FROM dbo.tblInPhysCount c INNER JOIN  dbo.tblInItem i ON c.ItemId = i.ItemId 
WHERE i.ItemType = 1
UNION ALL 
SELECT c.BatchId, c.ProductLine, c.ItemId, i.Descr, c.LocId, ExtLocAId AS BinNum, d.QtyFrozen, d.QtyCounted
FROM dbo.tblInPhysCount c INNER JOIN  dbo.tblInItem i ON c.ItemId = i.ItemId 
	INNER JOIN dbo.tblInPhysCountDetail d ON c.SeqNum = d.SeqNum 
WHERE i.ItemType = 1
UNION ALL
SELECT c.BatchId, c.ProductLine, c.ItemId, i.Descr, c.LocId, ExtLocAId AS BinNum, ISNULL(d.QtyFrozen,0), ISNULL(d.QtyCounted,0)
FROM dbo.tblInPhysCount c INNER JOIN  dbo.tblInItem i ON c.ItemId = i.ItemId 
	LEFT JOIN dbo.tblInPhysCountDetail d ON c.SeqNum = d.SeqNum 
WHERE i.ItemType = 2

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInPhysicalCount'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInPhysicalCount'
GO
