USE [005]
GO
/****** Object:  View [dbo].[trav_tblArHistDetail_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblArHistDetail_view]
AS
SELECT t.[AcctCode]
, t.[ActivityType]
, t.[ActShipDate]
, t.[AddnlDesc]
, t.[BinNum]
, t.[BlanketDtlRef]
, t.[BOLNum]
, t.[CatId]
, t.[ConversionFactor]
, t.[CostExt]
, t.[CostExtFgn]
, t.[CustomerPartNumber]
, t.[Desc]
, t.[DropShipYn]
, t.[EffectiveRate]
, t.[EntryNum]
, t.[ExtCost]
, t.[ExtFinalInc]
, t.[ExtFinalIncFgn]
, t.[ExtLocAID]
, t.[ExtLocBID]
, t.[ExtOrigInc]
, t.[GLAcctCOGS]
, t.[GLAcctInv]
, t.[GLAcctSales]
, t.[GrpId]
, t.[HistoryID]
, t.[HistSeqNum]
, t.[InItemYN]
, t.[ItemJob]
, t.[JobCompleteYN]
, t.[JobId]
, t.[Kit]
, t.[KitQty]
, t.[LineSeq]
, t.[LottedYN]
, t.[OriCompQty]
, t.[OrigOrderQty]
, t.[PartId]
, t.[PartType]
, t.[PhaseId]
, t.[PhaseName]
, t.[PostRun]
, t.[PriceAdjAmt]
, t.[PriceAdjAmtFgn]
, t.[PriceAdjPct]
, t.[PriceAdjType]
, t.[PriceExt]
, t.[PriceExtFgn]
, t.[PriceID]
, t.[ProjName]
, t.[PromoID]
, t.[QtyBackordSell]
, t.[QtyOrdSell]
, t.[QtySeqNum_Ext]
, t.[QtyShipBase]
, t.[QtyShipSell]
, t.[QtyStatus]
, t.[QuantityExtID]
, t.[QuantityID]
, t.[Rep1CommRate]
, t.[Rep1Id]
, t.[Rep1Pct]
, t.[Rep2CommRate]
, t.[Rep2Id]
, t.[Rep2Pct]
, t.[ReqShipDate]
, t.[ResCode]
, t.[Status]
, t.[TaskId]
, t.[TaskName]
, t.[TaxClass]
, t.[TotQtyOrdSell]
, t.[TotQtyShipSell]
, t.[TransHistId]
, t.[TransID]
, t.[UnitCommBasis]
, t.[UnitCommBasisFgn]
, t.[UnitCostSell]
, t.[UnitCostSellFgn]
, t.[UnitPriceSell]
, t.[UnitPriceSellBasis]
, t.[UnitPriceSellBasisFgn]
, t.[UnitPriceSellFgn]
, t.[UnitsBase]
, t.[UnitsSell]
, t.[WhseId]
, t.[ZeroPrint]
, e.[cf_Customer PO Line]
, e.[cf_Customer PO#]
, e.[cf_Customer Revision No]
, e.[cf_Revision No]
 FROM dbo.[tblArHistDetail] t
 LEFT JOIN
 ( SELECT pvt.[EntryNum]
	, pvt.[PostRun]
	, pvt.[TransID]
	, Cast(pvt.[Customer PO Line] As nvarchar(max)) AS [cf_Customer PO Line]
	, Cast(pvt.[Customer PO#] As nvarchar(75)) AS [cf_Customer PO#]
	, Cast(pvt.[Customer Revision No] As nvarchar(11)) AS [cf_Customer Revision No]
	, Cast(pvt.[Revision No] As nvarchar(3)) AS [cf_Revision No]
	 FROM
		 ( SELECT t.[EntryNum], t.[PostRun], t.[TransID], [Name], [Value]
		 FROM
			 ( SELECT t.[EntryNum], t.[PostRun], t.[TransID]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblArHistDetail] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Customer PO Line], [Customer PO#], [Customer Revision No], [Revision No])) AS pvt
) e on  t.[EntryNum] = e.[EntryNum] AND t.[PostRun] = e.[PostRun] AND t.[TransID] = e.[TransID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArHistDetail_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArHistDetail_view'
GO
