USE [005]
GO
/****** Object:  View [dbo].[trav_ArOpenInvoiceSummary_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[trav_ArOpenInvoiceSummary_view]
AS
	SELECT ISNULL(inv.[Counter], adj.[Counter]) AS [Counter]
	 , ISNULL(inv.CustId,adj.CustId) AS CustomerId
	 , ISNULL(inv.InvcNum,adj.InvcNum)AS InvoiceNumber
	 , ISNULL(inv.[Status],adj.[Status]) AS [Status]
	 , ISNULL(inv.CurrencyId,adj.CurrencyId) AS CurrencyId 
	 , MIN(ISNULL(inv.TransDate,adj.TransDate)) AS InvoiceDate
	 , MIN(ISNULL(inv.DiscDueDate,adj.DiscDueDate)) AS DiscountDueDate  
	 --Amount due in base currency
	, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[Amt] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[Amt] - adj.GainLossAmount
				ELSE -(adj.[Amt] - adj.GainLossAmount)
			END
		END) AS AmountDue
	--Amount due in invoice currency
	, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[AmtFgn] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[AppliedAmount] 
				ELSE -adj.[AppliedAmount] 
			END
		END) AS AmountDueFgn
	--Discount amount allowed in base currency
	, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
	THEN adj.[DiscAmt] 
	ELSE 
		CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
			THEN adj.[DiscAmt] 
			ELSE -adj.[DiscAmt] 
		END
	END) AS DiscountAllowed
	--Discount amount allowed in invoice currency
	, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[DiscAmtFgn] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[AppliedDiscount] 
				ELSE -adj.[AppliedDiscount] 
			END
		END) AS DiscountAllowedFgn
	FROM dbo.tblArOpenInvoice adj
	LEFT JOIN dbo.tblArOpenInvoice inv ON adj.[InvoiceID] = inv.[Counter]	
    WHERE adj.[Status] <> 4 AND adj.RecType <> 5 --Exclude Paid and Pro Forma 
	GROUP BY ISNULL(inv.[Counter], adj.[Counter]),ISNULL(inv.CustId,adj.CustId),
			 ISNULL(inv.InvcNum,adj.InvcNum),ISNULL(inv.[Status],adj.[Status]), 
			 ISNULL(inv.CurrencyId,adj.CurrencyId)   
			 
			 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArOpenInvoiceSummary_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArOpenInvoiceSummary_view'
GO
