USE [005]
GO
/****** Object:  View [dbo].[genai_purchase_order_receipt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_purchase_order_receipt]
AS
SELECT * FROM (
	SELECT r.TransId [purchase_order_id]
		,r.EntryNum [purchase_order_line_number]
		,'' [order_link_id]
		,'Active' [purchase_order_status]
		,r.RcptNum [receipt_number]
		,t.ReceiptDate [receipt_date]
		,r.UnitCost [unit_cost]
		,r.UnitCostFgn [unit_cost_in_foreign_currency]
		,r.QtyFilled [quantity_received]
		,r.ExtCost [extended_cost]
		,r.ExtCostFgn [extended_cost_in_foreign_currency]
		,r.LotNum [lot_number]
	FROM dbo.tblPoTransReceipt t
	INNER JOIN (
		SELECT ds.TransId
			,ds.EntryNum
			,ds.RcptNum
			,ds.UnitCost
			,SUM(ds.QtyFilled) QtyFilled
			,SUM(ds.ExtCost) ExtCost
			,SUM(ds.ExtCostFgn) ExtCostFgn
			,ds.LotNum
			,ds.UnitCostFgn
		FROM (
			SELECT r.TransId
				,r.EntryNum
				,r.RcptNum
				,r.UnitCost
				,r.QtyFilled
				,r.ExtCost
				,r.ExtCostFgn
				,r.LotNum
				,r.UnitCostFgn
			FROM dbo.tblPoTransLotRcpt r
		
			UNION ALL
		
			SELECT r.TransId
				,r.EntryNum
				,R.ReceiptNum AS RcptNum
				,d.UnitCost
				,r.Qty AS QtyFilled
				,(r.Qty * d.UnitCost) AS ExtCost
				,(r.Qty * d.UnitCostFgn) ExtCostFgn
				,NULL LotNum
				,d.UnitCostFgn
			FROM dbo.tblWmRcpt R
			INNER JOIN dbo.tblPoTransDetail d ON r.TransId = d.TransId
				AND r.EntryNum = d.EntryNum
			WHERE R.[Status] = 1
				AND R.[Source] = 0
			) DS
		GROUP BY ds.TransId
			,ds.EntryNum
			,ds.RcptNum
			,ds.UnitCost
			,ds.LotNum
			,ds.UnitCostFgn
		) r ON r.TransId = t.TransId
		AND r.RcptNum = t.ReceiptNum

	UNION ALL

	SELECT r.TransId [purchase_order_id]
		,r.EntryNum [purchase_order_line_number]
		,r.PostRun [order_link_id]
		, 'History' [purchase_order_status]
		,r.RcptNum [receipt_number]
		,t.ReceiptDate [receipt_date]
		,r.UnitCost [unit_cost]
		,r.UnitCostFgn [unit_cost_in_foreign_currency]
		,r.QtyFilled [quantity_received]
		,r.ExtCost [extended_cost]
		,r.ExtCostFgn [extended_cost_in_foreign_currency]
		,r.LotNum [lot_number]
	FROM dbo.tblPoHistLotRcpt r  
	INNER JOIN dbo.tblPoHistReceipt t ON r.PostRun = t.PostRun AND r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
) purchaseReceipt
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_receipt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_receipt'
GO
