USE [005]
GO
/****** Object:  View [dbo].[trav_ArSalesRepCommInvc_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[trav_ArSalesRepCommInvc_view]
AS

SELECT s.SalesRepID, s.[Name], s.Addr1, s.Addr2, s.City, s.Region, s.Country, s.PostalCode, s.Phone, s.Fax, s.EmplId, 
	s.RunCode, s.EarnCode, s.VendorId, s.Email, s.Internet, c.CustId, c.InvcNum, c.InvcDate, c.Counter, c.CompletedDate,
	c.HoldYn, m.CustName, m.ClassId, m.GroupCode, m.AcctType, m.PriceCode, m.DistCode, m.TerrId, m.CustLevel, m.Status
FROM dbo.tblArSalesRep s INNER JOIN dbo.tblArCommInvc c ON s.SalesRepID = c.SalesRepID 
	LEFT JOIN dbo.tblArCust m ON c.CustId = m.CustId
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArSalesRepCommInvc_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArSalesRepCommInvc_view'
GO
