USE [005]
GO
/****** Object:  View [dbo].[trav_EcOutboundPurchaseOrderAknl_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW  [dbo].[trav_EcOutboundPurchaseOrderAknl_view]
AS
SELECT ph.PostRun, psh.SOTransId AS DocKey, pd.PartnerID, 
	   CASE WHEN ISNULL(c.Id,0) = 0 THEN 0 ELSE 1 END IsInQueuYN, 
	   ISNULL(c.OnHoldYn,0) OnHoldYn,'855-O' DocID
FROM dbo.tblSoTransHeader h
INNER JOIN dbo.tblEcPoSoTransHeader psh ON h.TransId = psh.SoTransId
INNER JOIN dbo.tblEcPoHistHeader ph ON psh.POHeaderID = ph.ID
INNER JOIN 
(
	SELECT p.ID, p.PartnerID 
	FROM dbo.tblEcPartnerDoc pd
	INNER JOIN dbo.tblEcDocument d ON d.ID = pd.DocID
	INNER JOIN dbo.tblEcPartner p ON p.ID = pd.PartnerID
	WHERE d.DocID = '855-O' 
)pd ON pd.ID = ph.PartnerID
LEFT JOIN dbo.tblEcComm c ON ph.PostRun = c.PostRun AND psh.SOTransId = c.DocKey
LEFT JOIN dbo.tblEcDocument d ON d.ID = c.DocID
WHERE d.DocID = '855-O' OR c.ID IS NULL
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundPurchaseOrderAknl_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundPurchaseOrderAknl_view'
GO
