USE [005]
GO
/****** Object:  View [dbo].[pvtApPaymentHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApPaymentHist]
AS

SELECT v.VendorID, hd.InvoiceNum,h.PmtType,h.PaymentDate CheckDate, h.PaymentNum CheckNum,hd.DiscTakenBase DiscTaken, hd.GrossAmtDueBase GrossAmtDue,
hd.InvoiceDate, 
case when h.PmtType = 0 then 'Check' when h.PmtType = 3 then 'Prepaid' else 'Void' end as [CheckType$]
FROM dbo.tblApPaymentHistHeader h
INNER JOIN tblApPaymentHistDetail hd on hd.HeaderID = h.ID
INNER JOIN  dbo.tblApOpenInvoice o on o.Counter = hd.InvoiceCounter 
INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApPaymentHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApPaymentHist'
GO
