USE [005]
GO
/****** Object:  View [dbo].[pvtApSumHistItem]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApSumHistItem]
AS

SELECT h.VendorId, d.PartId, h.FiscalYear AS [Year], h.GLPeriod AS Period, CAST(COUNT(h.TransType) AS int) AS NumOfPurch, 
	MIN(d.UnitsBase) AS BaseUnit, SUM(SIGN(h.TransType) * d.QtyBase) AS Qty, SUM(SIGN(h.TransType) * d.ExtCost) AS CostOfGoods
FROM dbo.tblApHistHeader h INNER JOIN dbo.tblApHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum
WHERE d.PartId IS NOT NULL AND d.PartId <> ''
GROUP BY h.VendorId, d.PartId, h.FiscalYear, h.GLPeriod



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApSumHistItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApSumHistItem'
GO
