USE [005]
GO
/****** Object:  View [dbo].[genai_accounts_receivable_invoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_accounts_receivable_invoice]
AS
SELECT o.InvcNum [sales_order_invoice_id]
, c.City [bill_to_city]
, c.Contact [bill_to_contact_name]
, c.Country [bill_to_country]
, c.Fax [bill_to_fax]
, c.Addr1 [bill_to_address_line_1]
, c.Addr2 [bill_to_address_line_2]
, c.CustName [bill_to_customer_name]
, c.PostalCode [bill_to_postal_code]
, c.Region [bill_to_state_or_province]
, c.Phone [bill_to_telephone]
, o.CustId [bill_to_customer_id]
, CASE c.AcctType WHEN 0 THEN 'Open Invoice' WHEN 1 THEN 'Balance Forward' END [business_type]
, h.ShipDate [fulfilled_date]
, h.Notes [description]
, o.DiscAmtFgn [discount_amount_in_foreign_currency]
, o.CurrencyId [transaction_currency_code]
, o.ExchRate [exchange_rate]
, o.DiscAmt [discount_amount]
, o.NetDueDate [due_date]
, h.FreightFgn [freight_amount_in_foreign_currency]
, h.Freight [freight_amount]
, o.InvcNum [invoice_number]
, o.TermsCode [payment_terms]
, o.TransId [sales_order_id]
, h.ShipMethod [shipping_method_code]
, h.ShipToID [ship_to_customer_id]
, h.ShipToCity [ship_to_city]
, h.ShipToAttn [ship_to_contact_name]
, h.ShipToCountry [ship_to_country]
, h.ShipToFax [ship_to_fax]
, f.[Description] [ship_to_freight_terms]
, h.ShipToAddr1 [ship_to_address_line_1]
, h.ShipToAddr2 [ship_to_address_line_2]
, h.ShipToName [ship_to_customer_name]
, h.ShipToPostalCode [ship_to_postal_code]
, h.ShipToRegion [ship_to_state_or_province]
, h.ShipToPhone [ship_to_telephone]
, CASE o.RecType WHEN 1 THEN 'Invoice' WHEN 4 THEN 'Finance Charge' WHEN 5 THEN 'Pro Forma' WHEN -1 THEN 'Credit' WHEN -2 THEN 'Payment' WHEN -3 THEN 'Gain/Loss' END [invoice_record_type]
, CASE o.Status WHEN 0 THEN 'Released' WHEN 1 THEN 'Hold' WHEN 4 THEN 'Paid' END [erp_invoice_type]
, CASE WHEN o.Status IN (0,1) THEN 'Open' ELSE 'Paid' END [invoice_status]
, o.AmtFgn [total_amount_in_foreign_currency]
, o.Amt [total_amount]
, ISNULL(h.SalesTaxFgn,0) [total_tax_in_foreign_currency]
, ISNULL(h.SalesTax,0) [total_tax]
, o.CustId [sold_to_customer_id]
, ISNULL(b.BalAmtFgn,0) [total_balance_amount_in_foreign_currency]
, ISNULL(b.BalAmt,0) [total_balance_amount]
, o.TransDate as [invoice_date]
, p.PaidDate as [paid_date]
FROM dbo.tblArOpenInvoice o 
INNER JOIN dbo.tblArCust c ON o.CustId = c.CustId
LEFT JOIN dbo.tblArHistHeader h ON o.PostRun = h.PostRun AND o.TransId = h.TransId
LEFT JOIN dbo.tblSmFreightTerm f ON h.FreightTermID = f.ID
LEFT JOIN (
	SELECT CustId, InvcNum, SUM(SIGN(RecType) * Amt) AS BalAmt, SUM(SIGN(RecType) * Amt) AS BalAmtFgn,
		MIN(TransDate) as PaidDate
	FROM tblArOpenInvoice
	WHERE Status <> 4
	GROUP BY CustId, InvcNum
) b ON b.CustId = o.CustId AND b.InvcNum = o.InvcNum
LEFT JOIN (
	SELECT CustId, InvcNum, MIN(TransDate) as PaidDate
	FROM tblArOpenInvoice
	WHERE RecType = -2
	GROUP BY CustId, InvcNum
) p ON p.CustId = o.CustId AND p.InvcNum = o.InvcNum
WHERE o.RecType <> -2
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_accounts_receivable_invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_accounts_receivable_invoice'
GO
