USE [005]
GO
/****** Object:  View [dbo].[pvtPoInvoiceDet]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPoInvoiceDet]
AS

SELECT i.TransID, i.EntryNum, i.InvoiceNum, CASE WHEN i.Status = 0 THEN 'Open' ELSE 'Completed' END AS status, 
	h.VendorId, t.InvcDate AS InvoiceDate, t.GlPeriod, t.FiscalYear, i.Qty, i.UnitCost, i.ExtCost
FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId
	INNER JOIN dbo.tblPoTransInvoice i ON t.TransId = i.TransId AND t.InvcNum = i.InvoiceNum



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoInvoiceDet'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoInvoiceDet'
GO
