USE [005]
GO
/****** Object:  View [dbo].[genai_purchase_order]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_purchase_order]
AS
SELECT TransId [purchase_order_id]
	,'' [order_link_id]
	,'Active' as [purchase_order_status]
	,BatchId [batch_code]
	,CASE TransType WHEN 0 THEN 'Request' WHEN 1 THEN 'Goods Received' WHEN 2 THEN 'Invoice Received' WHEN 9 THEN 'New Order' WHEN -1 THEN 'New Return' WHEN -2 THEN 'Debit Memo' END [purchase_order_type]
	,VendorId [vendor_id]
	,LocId [warehouse_id]
	,Notes [notes]
	,DistCode [distribution_code]
	,TermsCode [payment_terms]
	,TransDate [transaction_date]
	,TaxGrpID [tax_group]
	,TaxableYN [is_taxable]
	,ReqShipDate [requested_ship_date]
	,ISNULL(ExpReceiptDate,ReqShipDate) [expected_receipt_date]
	,OrderedBy [ordered_by]
	,ReceivedBy [received_by]
	,CurrencyID [transaction_currency_code]
	,ExchRate [exchange_rate]
	,ShipToID [ship_to_vendor_id]
	,ShipToName [ship_to_name]
	,ShipToAddr1 [ship_to_address_1]
	,ShipToAddr2 [ship_to_address_2]
	,ShipToCity [ship_to_city]
	,ShipToRegion [ship_to_state_or_province]
	,ShipToCountry [ship_to_country]
	,ShipToPostalCode [ship_to_postal_code]
	,ShipVia [ship_via]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * (MemoTaxable + MemoFreight + MemoNonTaxable + MemoSalesTax + MemoMisc - MemoPrepaid) [total_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * (MemoTaxableFgn + MemoFreightFgn + MemoNonTaxableFgn + MemoSalesTaxFgn + MemoMiscFgn - MemoPrepaidFgn) [total_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoTaxable [taxable_total_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoTaxableFgn [taxable_total_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoNonTaxable [nontaxable_total_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoNonTaxableFgn [nontaxable_total_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoSalesTax [sales_tax_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoSalesTaxFgn [sales_tax_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoFreight [freight_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoFreightFgn [freight_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoMisc [miscellaneous_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoMisc [miscellaneous_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoDisc [discount_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoDiscFgn [discount_amount_in_foreign_currency]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPrepaid [prepaid_amount]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPrepaidFgn [prepaid_amount_in_foreign_currency]
	,MemoDueDate1 [due_date_1]
	,MemoDueDate2 [due_date_2]
	,MemoDueDate3 [due_date_3]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt1 [payment_amount_due_1_base]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt1Fgn [payment_amount_due_1]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt2 [payment_amount_due_2_base]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt2Fgn [payment_amount_due_2]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt3 [payment_amount_due_3_base]
	,SIGN(CASE TransType WHEN 0 THEN 1 ELSE SIGN(TransType) END) * MemoPmtAmt3Fgn [payment_amount_due_3]
	,MemoTaxClassFreight [tax_class_freight]
	,MemoTaxClassMisc [tax_class_miscellaneous]
	,MemoTaxLocID1 [tax_location_1]
	,MemoTaxLocID2 [tax_location_2]
	,MemoTaxLocID3 [tax_location_3]
	,MemoTaxLocID4 [tax_location_4]
	,MemoTaxLocID5 [tax_location_5]
	,DropShipYn [is_drop_ship]
	,CASE ShippingType WHEN 0 Then 'Ship To' WHEN 1 THEN 'Pickup' WHEN 2 THEN 'Routed' END [shipping_type]
FROM tblPoTransHeader

UNION ALL

SELECT TransId [purchase_order_id]
	,PostRun [order_link_id]
	,'History' as [purchase_order_status]
	,BatchId [batch_code]
	,CASE TransType WHEN 0 THEN 'Request' WHEN 1 THEN 'Goods Received' WHEN 2 THEN 'Invoice Received' WHEN 9 THEN 'New Order' WHEN -1 THEN 'New Return' WHEN -2 THEN 'Debit Memo' END [purchase_order_type]
	,VendorId [vendor_id]
	,LocId [warehouse_id]
	,Notes [notes]
	,DistCode [distribution_code]
	,TermsCode [payment_terms]
	,TransDate [transaction_date]
	,TaxGrpID [tax_group]
	,TaxableYN [is_taxable]
	,ReqShipDate [requested_ship_date]
	,ISNULL(ExpReceiptDate,ReqShipDate) [expected_receipt_date]
	,OrderedBy [ordered_by]
	,ReceivedBy [received_by]
	,CurrencyID [transaction_currency_code]
	,ExchRate [exchange_rate]
	,ShipToID [ship_to_vendor_id]
	,ShipToName [ship_to_name]
	,ShipToAddr1 [ship_to_address_1]
	,ShipToAddr2 [ship_to_address_2]
	,ShipToCity [ship_to_city]
	,ShipToRegion [ship_to_state_or_province]
	,ShipToCountry [ship_to_country]
	,ShipToPostalCode [ship_to_postal_code]
	,ShipVia [ship_via]
	,SIGN(TransType) * (MemoTaxable + MemoFreight + MemoNonTaxable + MemoSalesTax + MemoMisc - MemoPrepaid) [total_amount]
	,SIGN(TransType) * (MemoTaxableFgn + MemoFreightFgn + MemoNonTaxableFgn + MemoSalesTaxFgn + MemoMiscFgn - MemoPrepaidFgn) [total_amount_in_foreign_currency]
	,SIGN(TransType) * MemoTaxable [taxable_total_amount]
	,SIGN(TransType) * MemoTaxableFgn [taxable_total_amount_in_foreign_currency]
	,SIGN(TransType) * MemoNonTaxable [nontaxable_total_amount]
	,SIGN(TransType) * MemoNonTaxableFgn [nontaxable_total_amount_in_foreign_currency]
	,SIGN(TransType) * MemoSalesTax [sales_tax_amount]
	,SIGN(TransType) * MemoSalesTaxFgn [sales_tax_amount_in_foreign_currency]
	,SIGN(TransType) * MemoFreight [freight_amount]
	,SIGN(TransType) * MemoFreightFgn [freight_amount_in_foreign_currency]
	,SIGN(TransType) * MemoMisc [miscellaneous_amount]
	,SIGN(TransType) * MemoMisc [miscellaneous_amount_in_foreign_currency]
	,SIGN(TransType) * MemoDisc [discount_amount]
	,SIGN(TransType) * MemoDiscFgn [discount_amount_in_foreign_currency]
	,SIGN(TransType) * MemoPrepaid [prepaid_amount]
	,SIGN(TransType) * MemoPrepaidFgn [prepaid_amount_in_foreign_currency]
	,MemoDueDate1 [due_date_1]
	,MemoDueDate2 [due_date_2]
	,MemoDueDate3 [due_date_3]
	,SIGN(TransType) * MemoPmtAmt1 [payment_amount_due_1_base]
	,SIGN(TransType) * MemoPmtAmt1Fgn [payment_amount_due_1]
	,SIGN(TransType) * MemoPmtAmt2 [payment_amount_due_2_base]
	,SIGN(TransType) * MemoPmtAmt2Fgn [payment_amount_due_2]
	,SIGN(TransType) * MemoPmtAmt3 [payment_amount_due_3_base]
	,SIGN(TransType) * MemoPmtAmt3Fgn [payment_amount_due_3]
	,MemoTaxClassFreight [tax_class_freight]
	,MemoTaxClassMisc [tax_class_miscellaneous]
	,MemoTaxLocID1 [tax_location_1]
	,MemoTaxLocID2 [tax_location_2]
	,MemoTaxLocID3 [tax_location_3]
	,MemoTaxLocID4 [tax_location_4]
	,MemoTaxLocID5 [tax_location_5]
	,DropShipYn [is_drop_ship]
	,CASE ShippingType WHEN 0 Then 'Ship To' WHEN 1 THEN 'Pickup' WHEN 2 THEN 'Routed' END [shipping_type]
FROM tblPoHistHeader
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order'
GO
