USE [005]
GO
/****** Object:  View [dbo].[pvtInUnitPricing]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInUnitPricing]
AS

SELECT u.ItemId, i.Descr, u.Uom, u.LocId, u.BrkId, p.BrkQty, p.BrkAdj, 
	CASE WHEN p.BrkAdjType = 0 THEN 'Amount' WHEN p.BrkAdjType = 1 THEN 'Percent' ELSE '' END AS [BrkAdjType], 
	u.PriceAvg, u.PriceMin, u.PriceList, u.PriceBase
FROM dbo.tblInItemLocUomPrice u INNER JOIN dbo.tblInItem i ON u.ItemId = i.ItemId 
	LEFT JOIN dbo.tblInPriceBreaks p ON u.BrkId = p.BrkId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInUnitPricing'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInUnitPricing'
GO
