USE [005]
GO
/****** Object:  View [dbo].[trav_SmTaxLocationDetailAmounts_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_SmTaxLocationDetailAmounts_view] AS

         SELECT         detail.TaxLocId           AS TaxLocationId       ,
                        detail.TaxClassCode                              ,
                (ISNULL(detail.TaxSales    , 0) ) AS TaxableSales        ,
                (ISNULL(detail.NonTaxSales , 0) ) AS NontaxableSales     ,
                (ISNULL(detail.TaxPurch    , 0) ) AS TaxablePurchases    ,
                (ISNULL(detail.NonTaxPurch , 0) ) AS NontaxablePurchases ,
                (ISNULL(detail.TaxRefund   , 0) ) AS RefundableTax       ,
                (ISNULL(detail.TaxCollect  , 0) ) AS CollectedTax        ,
                (ISNULL(detail.TaxPaid     , 0) ) AS PaidTax             ,
                (ISNULL(detail.TaxCalcPurch, 0) ) AS TaxCalcPurchases    ,
                (ISNULL(detail.TaxCalcSales, 0) ) AS TaxCalcSales        ,
                        detail.TransDate          AS TransactionDate     ,
                        detail.GLPeriod           AS FiscalPeriod        ,
                        detail.FiscalYear
           FROM dbo.tblSmTaxLocTrans detail
     INNER JOIN dbo.tblSmTaxLoc taxLocationHeader -- only return detail for current tax locations
             ON detail.TaxLocId = taxLocationHeader.TaxLocId
     INNER JOIN dbo.tblSmTaxClass taxClassHeader -- only return detail for current tax classes
             ON detail.TaxClassCode = taxClassHeader.TaxClassCode

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTaxLocationDetailAmounts_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTaxLocationDetailAmounts_view'
GO
