USE [005]
GO
/****** Object:  View [dbo].[pvtInQtyDetails]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInQtyDetails]
AS

SELECT q.ItemId, q.LocId, i.Descr, q.EntryDate, q.Cost, q.LotNum, 
	(q.Qty - q.InvoicedQty - q.RemoveQty) AS QtyOnHand, 
	(q.Qty - q.InvoicedQty - q.RemoveQty) * q.Cost AS ExtCost
FROM dbo.tblInQtyOnHand q INNER JOIN dbo.tblInItem i ON q.ItemId = i.ItemId
WHERE q.Qty - q.InvoicedQty - q.RemoveQty > 0

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInQtyDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInQtyDetails'
GO
