USE [005]
GO
/****** Object:  View [dbo].[trav_ArHistHeaderDetail_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArHistHeaderDetail_view]
AS
	SELECT h.PostRun,h.BatchId,h.SoldToID, h.ShipToID, h.InvcNum, h.InvcDate, h.TransId, h.CustId, 
		h.Rep1Id, h.Rep2Id, h.GLPeriod, h.FiscalYear, h.CustPONum, h.DistCode, h.CurrencyID,  
		d.EntryNum, d.WhseId, d.PartId, d.ItemJob, d.PartType, d.CatId, d.JobId, d.GLAcctSales,
		c.CustName, c.ClassId, c.GroupCode, c.AcctType, c.PriceCode, c.DistCode AS CustDistCode, c.TerrId, 
		c.CustLevel, c.Status
	FROM dbo.tblArHistHeader h INNER JOIN dbo.tblArHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransId
		LEFT JOIN dbo.tblArCust c ON h.CustId = c.CustId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArHistHeaderDetail_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArHistHeaderDetail_view'
GO
