USE [005]
GO
/****** Object:  View [dbo].[genai_purchase_order_line]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_purchase_order_line]
AS
SELECT * FROM (
	SELECT h.TransId [purchase_order_id]
		,'' [order_link_id]
		,d.EntryNum [purchase_order_line_number]
		,h.VendorId [vendor_id]
		,v.[Name] [vendor_name]
		,CASE h.TransType WHEN 0 THEN 'Request' WHEN 1 THEN 'Goods Received' WHEN 2 THEN 'Invoice Received' WHEN 9 THEN 'New Order' WHEN -1 THEN 'New Return' WHEN -2 THEN 'Debit Memo' END [purchase_order_type]
		,h.BatchId [batch_code]
		,h.CurrencyId [transaction_currency_code]
		,'Active' [purchase_order_status]
		,d.ItemId [product_id]
		,d.LocId [warehouse_id]
		,CASE 
			WHEN h.TransType = 0
				THEN d.QtyOrd
			ELSE SIGN(h.TransType) * d.QtyOrd
			END [quantity_ordered]
		,d.Units [unit_of_measure]
		,ISNULL(d.ReqShipDate, h.ReqShipDate) [requested_ship_date]
		,COALESCE(d.ExpReceiptDate, h.ExpReceiptDate, d.ReqShipDate, h.ReqShipDate, h.TransDate) [expected_receipt_date]
		,ISNULL(d.ProjID, j.ProjectName) [project_id]
		,ISNULL(d.ProjName, j.[Description]) [project_name]
		,ISNULL(d.TaskID, tk.TaskId) [task_id]
		,ISNULL(d.TaskName, tk.[Description]) [task_name]
		,ISNULL(d.PhaseID, jd.PhaseId) [phase_id]
		,ISNULL(d.PhaseName, ph.[Description]) [phase_name]
		,CASE d.ItemType WHEN 0 THEN 'Non-Inventory' WHEN 1 THEN 'Nonserialized' WHEN 2 THEN 'Serialized' WHEN 3 THEN 'Service' END [product_type]
		,d.GLAcct [gl_account]
		,d.GLDesc [gl_description]
		,d.Descr [description]
		,CASE d.LineStatus WHEN 0 THEN 'Open' WHEN 1 THEN 'Completed' END [line_status]
		,d.UnitCost [unit_cost]
		,CASE 
			WHEN h.TransType = 0
				THEN d.ExtCost
			ELSE SIGN(h.TransType) * d.ExtCost
			END AS [extended_cost]
		,d.UnitCostFgn [unit_cost_in_foreign_currency]
		,CASE 
			WHEN h.TransType = 0
				THEN d.ExtCostFgn
			ELSE SIGN(h.TransType) * d.ExtCostFgn
			END AS [extended_cost_in_foreign_currency]
		,d.GLAcctAccrual [gl_account_accrual]
		,d.VendorPartNumber [vendor_part_number]
	FROM dbo.tblPoTransHeader h
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
	LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId
	LEFT JOIN dbo.tblPcProjectDetail jd ON jd.Id = d.ProjectDetailId
	LEFT JOIN dbo.trav_PcProject_view j ON j.Id = jd.ProjectId
	LEFT JOIN dbo.tblPcPhase ph ON ph.PhaseId = jd.PhaseId
	LEFT JOIN dbo.tblPcTask tk ON tk.TaskId = jd.TaskId

	UNION ALL

	SELECT h.TransId [purchase_order_id]
		,d.PostRun [order_link_id]
		,d.EntryNum [purchase_order_line_number]
		,h.VendorId [vendor_id]
		,v.[Name] [vendor_name]
		,CASE h.TransType WHEN 0 THEN 'Request' WHEN 1 THEN 'Goods Received' WHEN 2 THEN 'Invoice Received' WHEN 9 THEN 'New Order' WHEN -1 THEN 'New Return' WHEN -2 THEN 'Debit Memo' END [purchase_order_type]
		,h.BatchId [batch_code]
		,h.CurrencyId [transaction_currency_code]
		,'History' [purchase_order_status]
		,d.ItemId [product_id]
		,d.LocId [warehouse_id]
		,CASE 
			WHEN h.TransType = 0
				THEN d.QtyOrd
			ELSE SIGN(h.TransType) * d.QtyOrd
			END [quantity_ordered]
		,d.Units [unit_of_measure]
		,ISNULL(d.ReqShipDate, h.ReqShipDate) [requested_ship_date]
		,COALESCE(d.ExpReceiptDate, h.ExpReceiptDate, d.ReqShipDate, h.ReqShipDate, h.TransDate) [expected_receipt_date]
		,ISNULL(d.ProjID, j.ProjectName) [project_id]
		,ISNULL(d.ProjName, j.[Description]) [project_name]
		,ISNULL(d.TaskID, tk.TaskId) [task_id]
		,ISNULL(d.TaskName, tk.[Description]) [task_name]
		,ISNULL(d.PhaseID, jd.PhaseId) [phase_id]
		,ISNULL(d.PhaseName, ph.[Description]) [phase_name]
		,CASE d.ItemType WHEN 0 THEN 'Non-Inventory' WHEN 1 THEN 'Nonserialized' WHEN 2 THEN 'Serialized' WHEN 3 THEN 'Service' END [product_type]
		,d.GLAcct [gl_account]
		,d.GLDesc [gl_description]
		,d.Descr [description]
		,CASE d.LineStatus WHEN 0 THEN 'Open' WHEN 1 THEN 'Completed' END [line_status]
		,d.UnitCost [unit_cost]
		,CASE 
			WHEN h.TransType = 0
				THEN d.ExtCost
			ELSE SIGN(h.TransType) * d.ExtCost
			END AS [extended_cost]
		,d.UnitCostFgn [unit_cost_in_foreign_currency]
		,CASE 
			WHEN h.TransType = 0
				THEN d.ExtCostFgn
			ELSE SIGN(h.TransType) * d.ExtCostFgn
			END AS [extended_cost_in_foreign_currency]
		,d.GLAcctAccrual [gl_account_accrual]
		,d.VendorPartNumber [vendor_part_number]
	FROM dbo.tblPoHistHeader h
	INNER JOIN dbo.tblPoHistDetail d ON h.PostRun = d.PostRun
		AND h.TransId = d.TransId
	LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId
	LEFT JOIN dbo.tblPcProjectDetail jd ON jd.Id = d.ProjectDetailId
	LEFT JOIN dbo.trav_PcProject_view j ON j.Id = jd.ProjectId
	LEFT JOIN dbo.tblPcPhase ph ON ph.PhaseId = jd.PhaseId
	LEFT JOIN dbo.tblPcTask tk ON tk.TaskId = jd.TaskId
) purchaseOrderProduct
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_line'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_line'
GO
