USE [005]
GO
/****** Object:  View [dbo].[trav_ApRecurrEntry_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApRecurrEntry_view]
AS

	SELECT  v.VendorID, Name, PriorityCode, VendorHoldYN, VendorClass, DivisionCode, v.DistCode, [Status],
			RecurID, RunCode, EndingDate
	FROM  dbo.tblApVendor v INNER JOIN dbo.tblApRecurHeader  r ON v.VendorID = r.VendorID 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApRecurrEntry_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApRecurrEntry_view'
GO
