USE [005]
GO
/****** Object:  View [dbo].[trav_InItemLocation_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemLocation_view]
AS
SELECT i.ItemId, i.Descr, i.SuperId, i.ItemType, i.ItemStatus, i.ProductLine, i.SalesCat, COALESCE(l.DfltPriceId,i.PriceId) AS PriceId, i.TaxClass, 
	i.UomBase, i.UomDflt, i.LottedYN, i.AutoReorderYN, i.KittedYN, i.ResaleYN, i.CostMethodOverride, l.LocId,
	l.ItemLocStatus, l.GLAcctCode, l.ForecastId, l.ABCClass, i.HMRef,l.CurrencyIDACV,l.DfltVendId ,l.BuyerPlanner,l.ProcurMethod
FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemLocation_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemLocation_view'
GO
