USE [005]
GO
/****** Object:  View [dbo].[pvtPoTranSummary]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PET:http://webfront:801/view.php?id=244631

CREATE VIEW [dbo].[pvtPoTranSummary]
AS

SELECT TransId, CASE TransType WHEN 1 THEN 'Goods Received' WHEN -1 THEN 'New Return'
	WHEN 2 THEN 'Invoice Received' WHEN -2 THEN 'Debit Memo' WHEN 9 THEN 'New Order' END AS TransType,
	TransDate, MemoNonTaxable, MemoTaxable, MemoSalesTax, MemoFreight, MemoMisc, MemoDisc, MemoPrepaid
FROM dbo.tblPoTransHeader 
WHERE TransType <> 0



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoTranSummary'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoTranSummary'
GO
