USE [005]
GO
/****** Object:  View [dbo].[trav_PoReceiptVendorItem_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PoReceiptVendorItem_view]
AS
SELECT h.TransId, h.VendorId, h.OrderedBy, h.TransDate, h.DistCode, h.BatchId, 
	r.ReceiptNum, r.ReceiptDate, l.ReceiptId, v.Name, v.PriorityCode, v.VendorHoldYN, v.VendorClass,
	v.DivisionCode, v.Status, i.Descr, i.ProductLine, 
	i.SalesCat, i.PriceID, i.TaxClass, d.ItemId, d.LocId, d.InItemYn, d.ReqShipDate, d.GLAcct, d.SourceType, d.ProjId,  ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate
FROM dbo.tblPoTransReceipt r INNER JOIN dbo.tblPoTransLotRcpt l ON r.TransId = l.TransId AND r.ReceiptNum = l.RcptNum 
	INNER JOIN dbo.tblPoTransHeader h ON r.TransId = h.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON l.TransId = d.TransId AND l.EntryNum = d.EntryNum
	INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
	LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoReceiptVendorItem_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoReceiptVendorItem_view'
GO
