USE [005]
GO
/****** Object:  View [dbo].[trav_tblPoHistDetail_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblPoHistDetail_View]
AS
SELECT t.[ActivityId]
, t.[AddnlDescr]
, t.[BinNum]
, t.[ConversionFactor]
, t.[CustID]
, t.[Descr]
, t.[EntryNum]
, t.[ExpReceiptDate]
, t.[ExtCost]
, t.[ExtCostFgn]
, t.[ExtInc]
, t.[GLAcct]
, t.[GLAcctAccrual]
, t.[GLAcctSales]
, t.[GLAcctWIP]
, t.[GLDesc]
, t.[InItemYN]
, t.[ItemId]
, t.[ItemType]
, t.[LandedCostID]
, t.[LineNum]
, t.[LineSeq]
, t.[LineStatus]
, t.[LinkSeqNum]
, t.[LinkTransId]
, t.[LocId]
, t.[LottedYN]
, t.[PhaseId]
, t.[PhaseName]
, t.[PostRun]
, t.[ProjectDetailId]
, t.[ProjID]
, t.[ProjItemYn]
, t.[ProjName]
, t.[QtyOrd]
, t.[QtySeqNum]
, t.[QuantityID]
, t.[ReleaseNum]
, t.[ReqId]
, t.[ReqShipDate]
, t.[Seq]
, t.[SourceType]
, t.[TaskID]
, t.[TaskName]
, t.[TaxClass]
, t.[TransHistID]
, t.[TransHistIDLandedCost]
, t.[TransID]
, t.[Type]
, t.[UnitCost]
, t.[UnitCostFgn]
, t.[UnitInc]
, t.[Units]
, t.[UnitsBase]
, t.[VendorPartNumber]
, e.[cf_Contract Verification]
, e.[cf_Vendor Ship Date]
 FROM dbo.[tblPoHistDetail] t
 LEFT JOIN
 ( SELECT pvt.[EntryNum]
	, pvt.[PostRun]
	, pvt.[TransID]
	, Cast(pvt.[Contract Verification] As bit) AS [cf_Contract Verification]
	, Cast(pvt.[Vendor Ship Date] As datetime) AS [cf_Vendor Ship Date]
	 FROM
		 ( SELECT t.[EntryNum], t.[PostRun], t.[TransID], [Name], [Value]
		 FROM
			 ( SELECT t.[EntryNum], t.[PostRun], t.[TransID]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblPoHistDetail] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Contract Verification], [Vendor Ship Date])) AS pvt
) e on  t.[EntryNum] = e.[EntryNum] AND t.[PostRun] = e.[PostRun] AND t.[TransID] = e.[TransID]
GO
