USE [005]
GO
/****** Object:  View [dbo].[pvtFaRetiredAssetsList]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtFaRetiredAssetsList]
AS

SELECT RetirementID AS 'Retirement ID', AssetId AS 'Asset ID', SerialNo AS 'Serial No', TagNo AS 'Tag No'
	, RetireCredits, RetireExpense, RetireProceeds, RetireAcqCosts, RetireQty
	, RetireDate AS 'Retire Date', RetireAmt, BonusDeprPct AS 'Special Allowance Percent' 
FROM dbo.tblFaRetire
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaRetiredAssetsList'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaRetiredAssetsList'
GO
