USE [005]
GO
/****** Object:  View [dbo].[trav_ArRecurrEntry_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArRecurrEntry_view]
AS

	SELECT  c.CustId, CustName, ClassId, GroupCode, AcctType, PriceCode, c.DistCode, TerrId, c.CustLevel, [Status],
			RecurID, RunCode, EndingDate,r.CurrencyID
	FROM  dbo.tblArCust c INNER JOIN dbo.tblArRecurHeader   r ON c.CustId = r.CustId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArRecurrEntry_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArRecurrEntry_view'
GO
