USE [005]
GO
/****** Object:  View [dbo].[trav_WmHistDetailView_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_WmHistDetailView_view]
AS    

SELECT grpd.ItemId, item.Descr AS ItemDescr, grpd.LocId, grpd.LotNum, grpd.SerNum, locA.ExtLocID AS ExtLocAID, locB.ExtLocID AS ExtLocBID, TransType, 
	grpd.TransDate, grpd.Qty, item.UomBase AS Unit, grpd.UID, Source,Deleted,EntryDate
FROM (SELECT ItemId, LocId, TransType, TransDate, SUM(Qty) AS Qty, LotNum, SerNum, UID, Source, ExtLocA, ExtLocB,Deleted,Cast(EntryDate as Date) [EntryDate]
      FROM (SELECT NULL AS ExtHistSeqNum, inhd.HistSeqNum, inhd.ItemId, inhd.LocId, inhd.TransType, inhd.TransDate, CASE WHEN ItemType = 2 THEN 1 * DltSign ELSE inhd.Qty * inhd.ConvFactor * DltSign END AS Qty, 
						   ISNULL(inhs.LotNum, inhd.LotNum) AS [LotNum], inhs.SerNum, inhd.EnteredBy UID, Source, NULL AS ExtLocA, NULL AS ExtLocB
						   ,CAST(CASE WHEN inhd.DeleteDate IS NULL THEN 0 ELSE 1 END AS BIT) Deleted, DltSign
						   ,inhd.EntryDate
			   FROM dbo.tblInHistDetail AS inhd 
					 INNER JOIN (SELECT HistSeqNum, 1 DltSign FROM dbo.tblInHistDetail 
                          UNION ALL
                         SELECT HistSeqNum, -1 FROM dbo.tblInHistDetail 
						 WHERE DeleteDate IS NOT NULL) h ON h.HistSeqNum = inhd.HistSeqNum
					LEFT OUTER JOIN dbo.tblInHistSer AS inhs ON inhs.HistSeqNum = inhd.HistSeqNum
			   WHERE (inhd.Qty <> 0)

			   UNION ALL --reverse invoiced/completed quantities (PO/MP)
			   SELECT NULL AS ExtHistSeqNum, inhd.HistSeqNum, inhd.ItemId, inhd.LocId, rcpt.TransType, inhd.TransDate, CASE WHEN inhd.ItemType = 2 THEN -1 * DltSign ELSE -(inhd.Qty * inhd.ConvFactor) * DltSign END AS Qty, 
						  ISNULL(inhs.LotNum, inhd.LotNum) AS [LotNum], inhs.SerNum, inhd.EnteredBy AS UID, rcpt.Source, NULL AS ExtLocA, NULL AS ExtLocB
						  ,CAST(CASE WHEN inhd.DeleteDate IS NULL THEN 0 ELSE 1 END AS BIT) Deleted, DltSign
						  ,inhd.EntryDate
			   FROM dbo.tblInHistDetail AS inhd 
					 INNER JOIN (SELECT HistSeqNum, 1 DltSign FROM dbo.tblInHistDetail 
                          UNION ALL
                         SELECT HistSeqNum, -1 FROM dbo.tblInHistDetail 
						 WHERE DeleteDate IS NOT NULL) h ON h.HistSeqNum = inhd.HistSeqNum
					INNER JOIN dbo.tblInHistDetail rcpt ON inhd.HistSeqNum_Rcpt = rcpt.HistSeqNum
				    LEFT OUTER JOIN dbo.tblInHistSer AS inhs ON inhs.HistSeqNum = inhd.HistSeqNum
			   WHERE (inhd.Qty <> 0)

			   UNION ALL

			   SELECT NULL AS ExtHistSeqNum, HistSeqNum, ItemId, LocId, TransType, TransDate, -QtyBase AS Qty, Lotnum, Sernum
						, UID, Source, NULL AS ExtLocA,  NULL AS ExtLocB,CAST(0 AS BIT) Deleted , 1
						, EntryDate
			   FROM dbo.trav_WmHistDetail_view
			   WHERE QtyBase <> 0 And (DeleteDate is null) AND (HistSeqNum IS NOT NULL)
			   
			   UNION ALL
			   SELECT ExtHistSeqNum, HistSeqNum, ItemId, LocId, TransType, TransDate, QtyBase [Qty], Lotnum, Sernum
						, UID, Source, ExtLocA, ExtLocB,CAST(0 AS BIT) Deleted, 1
						, EntryDate
			   FROM dbo.trav_WmHistDetail_view
			   WHERE (QtyBase <> 0) And (DeleteDate is null)) AS temp
			   
        GROUP BY ExtHistSeqNum, HistSeqNum, ItemId, LocId, TransType, TransDate, Source, LotNum, SerNum, UID, ExtLocA, ExtLocB,Deleted,DltSign,Cast(EntryDate as Date) ) AS grpd 
        LEFT OUTER JOIN dbo.tblInItem AS item ON item.ItemId = grpd.ItemId 
        LEFT OUTER JOIN dbo.tblWmExtLoc AS locA ON locA.Id = grpd.ExtLocA AND locA.Type = 0 
        LEFT OUTER JOIN dbo.tblWmExtLoc AS locB ON locB.Id = grpd.ExtLocB AND locB.Type = 1
WHERE (grpd.Qty <> 0)
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmHistDetailView_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmHistDetailView_view'
GO
