USE [005]
GO
/****** Object:  View [dbo].[trav_GlJournalHistorySummary_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[trav_GlJournalHistorySummary_view]
AS
	SELECT j.[Year] AS FiscalYear, j.Period AS FiscalPeriod
		, Count(j.EntryNum) AS JournalEntries
		, SUM(j.DebitAmt) AS TotalDebitAmount, Sum(j.CreditAmt) AS TotalCreditAmount
		FROM dbo.tblGlJrnlHist j
		GROUP BY j.[Year], j.Period
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlJournalHistorySummary_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlJournalHistorySummary_view'
GO
