USE [005]
GO
/****** Object:  View [dbo].[trav_tblMpHistoryMatlDtl_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMpHistoryMatlDtl_View]
AS
SELECT t.[ActualScrap]
, t.[AssembledYn]
, t.[ComponentId]
, t.[ConvFactor]
, t.[FiscalYear]
, t.[GlPeriod]
, t.[HistoryID]
, t.[HistSeqNum]
, t.[LocId]
, t.[Notes]
, t.[PostRun]
, t.[Qty]
, t.[QtySeqNum]
, t.[QuantityID]
, t.[SeqNo]
, t.[SubAssemblyTranType]
, t.[TransDate]
, t.[TransId]
, t.[UnitCost]
, t.[UOM]
, t.[UOMBase]
, t.[VarianceCode]
, e.[cf_WILaborSetupUnitCost]
, e.[cf_WILaborUnitCost]
, e.[cf_WIMachineSetupUnitCost]
, e.[cf_WIMachineUnitCost]
, e.[cf_WIMachineUnitCostModified]
, e.[cf_WIMachineUnitCostVariable]
, e.[cf_WIMaterialDirectUnitCost]
, e.[cf_WIMaterialIndirectUnitCost]
, e.[cf_WISubcontractUnitCost]
 FROM dbo.[tblMpHistoryMatlDtl] t
 LEFT JOIN
 ( SELECT pvt.[PostRun]
	, pvt.[SeqNo]
	, pvt.[TransId]
	, Cast(pvt.[WILaborSetupUnitCost] As float) AS [cf_WILaborSetupUnitCost]
	, Cast(pvt.[WILaborUnitCost] As float) AS [cf_WILaborUnitCost]
	, Cast(pvt.[WIMachineSetupUnitCost] As float) AS [cf_WIMachineSetupUnitCost]
	, Cast(pvt.[WIMachineUnitCost] As float) AS [cf_WIMachineUnitCost]
	, Cast(pvt.[WIMachineUnitCostModified] As float) AS [cf_WIMachineUnitCostModified]
	, Cast(pvt.[WIMachineUnitCostVariable] As float) AS [cf_WIMachineUnitCostVariable]
	, Cast(pvt.[WIMaterialDirectUnitCost] As float) AS [cf_WIMaterialDirectUnitCost]
	, Cast(pvt.[WIMaterialIndirectUnitCost] As float) AS [cf_WIMaterialIndirectUnitCost]
	, Cast(pvt.[WISubcontractUnitCost] As float) AS [cf_WISubcontractUnitCost]
	 FROM
		 ( SELECT t.[PostRun], t.[SeqNo], t.[TransId], [Name], [Value]
		 FROM
			 ( SELECT t.[PostRun], t.[SeqNo], t.[TransId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMpHistoryMatlDtl] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([WILaborSetupUnitCost], [WILaborUnitCost], [WIMachineSetupUnitCost], [WIMachineUnitCost], [WIMachineUnitCostModified], [WIMachineUnitCostVariable], [WIMaterialDirectUnitCost], [WIMaterialIndirectUnitCost], [WISubcontractUnitCost])) AS pvt
) e on  t.[PostRun] = e.[PostRun] AND t.[SeqNo] = e.[SeqNo] AND t.[TransId] = e.[TransId]
GO
