USE [005]
GO
/****** Object:  View [dbo].[pvtPaDepartments]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaDepartments]
AS

SELECT h.Id AS 'Department ID', d.Code, d.GLAcct AS 'GL Account', a.Amount, a.PaYear, a.PaMonth 
FROM dbo.tblPaDept h 
	INNER JOIN dbo.tblPaDeptDtl d ON h.Id = d.DepartmentId 
	INNER JOIN dbo.tblPaDeptDtlAmount a ON d.Id = a.DeptDtlId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaDepartments'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaDepartments'
GO
