USE [005]
GO
/****** Object:  View [dbo].[trav_WmReceiveGoodsDocument_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_WmReceiveGoodsDocument_view]
AS
	SELECT TransId, 0 AS [Source], VendorId AS [ContactId] FROM dbo.tblPoTransHeader WHERE TransType > 0 
	UNION 
	SELECT ISNULL(PackNum, BatchId), 1, NULL FROM dbo.tblWmTransfer WHERE [Status] IN (0, 1) GROUP BY ISNULL(PackNum, BatchId)
	UNION 
	SELECT ReqNum, 8, ReqstdBy FROM dbo.tblWmMatReq WHERE ReqType = -1 GROUP BY ReqNum, ReqstdBy
	UNION
	SELECT ISNULL(InvcNum, TransId), 16, NULL FROM dbo.tblSoTransHeader WHERE TransType = -2 AND [VoidYn] = 0 GROUP BY ISNULL(InvcNum, TransId)
	UNION
	SELECT p.ProjectName, 32, p.CustId
		FROM dbo.tblPcTrans t 
		INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
		INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
		WHERE t.TransType = 1 --Material Return
		GROUP BY p.ProjectName, p.CustId
	UNION
		SELECT w.WorkOrderNo,64 as [Source],CustID  AS [ContactId]
		FROM dbo.tblSvWorkOrderDispatch d
		INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
		INNER JOIN dbo.tblSvWorkOrderTrans t ON w.ID = t.WorkOrderID
		WHERE (d.Status <> 2 OR d.Status <> 3 ) AND t.Status <> 1 AND t.TransType = 5
		GROUP BY WorkOrderNo,CustID
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmReceiveGoodsDocument_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmReceiveGoodsDocument_view'
GO
