USE [005]
GO
/****** Object:  View [dbo].[pvtArOpenInvoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtArOpenInvoice]
AS

--http://webfront:801/view.php?id=227310
SELECT dbo.tblArOpenInvoice.CustId, dbo.tblArCust.CustName, dbo.tblArOpenInvoice.RecType
	, dbo.tblArOpenInvoice.InvcNum, dbo.tblArOpenInvoice.TransDate
	, dbo.tblArOpenInvoice.Amt, dbo.tblArOpenInvoice.DiscDueDate
	, dbo.tblArCust.SalesRepId1
	, CASE dbo.tblArOpenInvoice.[Status] 
		WHEN 0 THEN 'Rel' WHEN 1 THEN 'Hold' WHEN 4 THEN 'Paid' ELSE '' END AS [Status]
	, dbo.tblArOpenInvoice.DiscAmt, dbo.tblArOpenInvoice.CheckNum
FROM dbo.tblArOpenInvoice 
INNER JOIN dbo.tblArCust ON dbo.tblArOpenInvoice.CustId = dbo.tblArCust.CustId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArOpenInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArOpenInvoice'
GO
