USE [005]
GO
/****** Object:  View [dbo].[trav_DrPlannedDemand_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[trav_DrPlannedDemand_View]
AS  
Select l.BuyerPlanner, isnull(l.ABCClass, '') ABCClass,i.Descr, i.ItemId, l.LocId, l.ItemLocStatus, isnull(i.ProductLine, '') ProductLine,
	  i.SalesCat,i.TaxClass,l.ProcurMethod,
	   isnull(r.QtyOnHand, 0) QtyOnHand, i.UomDflt , Case When isnull(u.ConvFactor, 0) = 0 Then 1 Else u.ConvFactor End ConvFactor ,r.RunId
	  , l.DfltLeadTime AS [LeadTime]
	FROM dbo.tblInItem i
	INNER JOIN dbo.tblInItemLoc l 	ON i.ItemId = l.ItemId 
	INNER JOIN dbo.tblDRRunItemLoc r  ON l.ItemId = r.ItemId AND l.LocId = r.LocId 
	LEFT JOIN dbo.tblInItemUom u  ON i.ItemId = u.ItemId AND i.UomDflt = u.UOM 
	

	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrPlannedDemand_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrPlannedDemand_View'
GO
