USE [005]
GO
/****** Object:  View [dbo].[pvtPaRecurringEarnings]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaRecurringEarnings]
AS

SELECT e.Id AS TransID, e.EmployeeId, e.EarningCode, e.DepartmentId, e.Pieces, e.Hours, e.Amount, c.Description 
FROM dbo.tblPaRecurEarn e 
	INNER JOIN dbo.tblPaEarnCode c ON e.EarningCode = c.Id

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaRecurringEarnings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaRecurringEarnings'
GO
