USE [005]
GO
/****** Object:  View [dbo].[trav_PoTransHistHeaderDetail_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PoTransHistHeaderDetail_view]
AS
	SELECT h.BatchId, h.TransId, h.VendorId, h.OrderedBy, h.TransDate, h.DistCode, h.TransType, 
		CASE h.PrintStatus WHEN 0 THEN 0 ELSE 1 END AS PrintStatus,
		v.Name, v.PriorityCode, v.VendorHoldYN, v.VendorClass, v.DivisionCode, v.DistCode AS VendorDistCode, 
		v.Status, d.EntryNum, d.LocId, d.ItemId, ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate, d.GLAcct,  
		d.SourceType, d.ProjId, d.InItemYn, d.LineStatus, i.Descr, i.ProductLine, i.SalesCat, i.PriceID, i.TaxClass, ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate,CONCAT(h.TransId,d.EntryNum) AS PostRun,0 As Source	
	FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
		INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
			LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
	UNION ALL

	SELECT h.BatchId, h.TransId, h.VendorId, h.OrderedBy, h.TransDate, h.DistCode, h.TransType, 
		CASE h.PrintStatus WHEN 0 THEN 0 ELSE 1 END AS PrintStatus,
		v.Name, v.PriorityCode, v.VendorHoldYN, v.VendorClass, v.DivisionCode, v.DistCode AS VendorDistCode, 
		v.Status, d.EntryNum, d.LocId, d.ItemId, ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate, d.GLAcct, 
		d.SourceType, d.ProjId, d.InItemYn, d.LineStatus, i.Descr, i.ProductLine, i.SalesCat, i.PriceID, i.TaxClass, ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate,d.PostRun,1 As Source
	FROM dbo.tblPoHistHeader h INNER JOIN dbo.tblPoHistDetail d ON h.TransId = d.TransId AND h.PostRun=d.PostRun
		INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
			LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoTransHistHeaderDetail_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoTransHistHeaderDetail_view'
GO
