USE [005]
GO
/****** Object:  View [dbo].[trav_PcTimeTicket_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PcTimeTicket_view]
AS

SELECT t.Id, p.ProjectName, d.[Description], c.CustId, d.ProjectManager, d.TaskId, d.PhaseId,
	t.EmployeeId, t.TransDate, t.BatchId, e.LastName, e.FirstName, r.DepartmentId, r.EmployeeStatus, 
	r.StartDate, r.TerminationDate, e.BirthDate, e.[Status]
FROM dbo.tblPcTimeTicket t INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblSmEmployee e ON t.EmployeeId = e.EmployeeId 
	LEFT JOIN dbo.tblPaEmployee r ON e.EmployeeId = r.EmployeeId
	LEFT JOIN dbo.tblArCust c ON p.CustId = c.CustId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PcTimeTicket_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PcTimeTicket_view'
GO
