USE [005]
GO
/****** Object:  View [dbo].[trav_ApPaymentHistory_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApPaymentHistory_view]
AS
	SELECT d.ID, v.VendorID, v.[Name], VendorHoldYN, VendorClass, v.DistCode, v.DivisionCode, 
		PriorityCode, v.[Status], v.CurrencyID, v.BankAcctNum, 
		d.GrossAmtDueBase, c.PostRun, d.InvoiceNum, d.InvoiceDate, c.PaymentNum, c.PaymentDate as checkdate, 
		c.FiscalYear, c.FiscalPeriod, d.DiscDueDate, d.NetDueDate, b.BankId, b.[Desc], CONVERT(date, c.VoidDate) [VoidDate]
	FROM   dbo.tblApVendor AS v INNER JOIN dbo.tblApPaymentHistHeader AS c ON v.VendorID = c.VendorId
	INNER JOIN dbo.tblApPaymentHistDetail as d on c.ID = d.HeaderID
			LEFT JOIN dbo.tblSmBankAcct b ON c.BankId = b.BankId


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApPaymentHistory_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApPaymentHistory_view'
GO
