USE [005]
GO
/****** Object:  View [dbo].[WEBProgram]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[WEBProgram]
AS
SELECT        ProgramName AS Name
FROM          W005.dbo.Program




GO
