USE [005]
GO
/****** Object:  View [dbo].[pvtFaAssetsList]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtFaAssetsList]
AS

SELECT AssetId AS 'Asset ID', AssetDescr AS 'Description', SerialNo AS 'Serial No', TagNo AS 'Tag No'
	, AcquisitionCost, AcquisitionDate AS 'Acquisition Date', RetirementDate AS 'Retirement Date'
	, Qty, InsuredValue, InsuredValueDate AS 'Insured Effective Date'
	, AssessedValue, AssessedValueDate AS 'Assessment Date'
	, ReplaceCost, PlacedInServDate AS 'Date Placed In Service', AdjustedCost
	, AccumNonDeprcCost, TotalCredits, BonusDeprPct AS 'Special Allowance Percent' 
FROM dbo.tblFaAsset
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaAssetsList'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaAssetsList'
GO
