USE [005]
GO
/****** Object:  View [dbo].[trav_SmCountryISO_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_SmCountryISO_view]
AS
SELECT 'AFG' AS Country, 'AF' AS CountryISO2 
UNION ALL 
SELECT 'ALB' AS Country, 'AL' AS CountryISO2
UNION ALL 
SELECT 'DZA' AS Country, 'DZ' AS CountryISO2
UNION ALL 
SELECT 'ASM' AS Country, 'AS' AS CountryISO2
UNION ALL 
SELECT 'AND' AS Country, 'AN' AS CountryISO2
UNION ALL 
SELECT 'AGO' AS Country, 'AO' AS CountryISO2
UNION ALL 
SELECT 'AIA' AS Country, 'AI' AS CountryISO2
UNION ALL 
SELECT 'ATA' AS Country, 'AQ' AS CountryISO2
UNION ALL 
SELECT 'ATG' AS Country, 'AT' AS CountryISO2
UNION ALL 
SELECT 'ARG' AS Country, 'AR' AS CountryISO2
UNION ALL 
SELECT 'ARM' AS Country, 'AM' AS CountryISO2
UNION ALL 
SELECT 'ABW' AS Country, 'AW' AS CountryISO2
UNION ALL 
SELECT 'AUS' AS Country, 'AU' AS CountryISO2
UNION ALL 
SELECT 'AUT' AS Country, 'AT' AS CountryISO2
UNION ALL 
SELECT 'AZE' AS Country, 'AZ' AS CountryISO2
UNION ALL 
SELECT 'BHS' AS Country, 'BS' AS CountryISO2
UNION ALL 
SELECT 'BHR' AS Country, 'BH' AS CountryISO2
UNION ALL 
SELECT 'BGD' AS Country, 'BD' AS CountryISO2
UNION ALL 
SELECT 'BRB' AS Country, 'BB' AS CountryISO2
UNION ALL 
SELECT 'BLR' AS Country, 'BY' AS CountryISO2
UNION ALL 
SELECT 'BEL' AS Country, 'BE' AS CountryISO2
UNION ALL 
SELECT 'BLZ' AS Country, 'BZ' AS CountryISO2
UNION ALL 
SELECT 'BEN' AS Country, 'BJ' AS CountryISO2
UNION ALL 
SELECT 'BMU' AS Country, 'BM' AS CountryISO2
UNION ALL 
SELECT 'BTN' AS Country, 'BT' AS CountryISO2
UNION ALL 
SELECT 'BOL' AS Country, 'BO' AS CountryISO2
UNION ALL 
SELECT 'BIH' AS Country, 'BA' AS CountryISO2
UNION ALL 
SELECT 'BWA' AS Country, 'BW' AS CountryISO2
UNION ALL 
SELECT 'BVT' AS Country, 'BV' AS CountryISO2
UNION ALL 
SELECT 'BRA' AS Country, 'BR' AS CountryISO2
UNION ALL 
SELECT 'IOT' AS Country, 'IO' AS CountryISO2
UNION ALL 
SELECT 'BRN' AS Country, 'BN' AS CountryISO2
UNION ALL 
SELECT 'BGR' AS Country, 'BG' AS CountryISO2
UNION ALL 
SELECT 'BFA' AS Country, 'BF' AS CountryISO2
UNION ALL 
SELECT 'BDI' AS Country, 'BI' AS CountryISO2
UNION ALL 
SELECT 'KHM' AS Country, 'KH' AS CountryISO2
UNION ALL 
SELECT 'CMR' AS Country, 'CM' AS CountryISO2
UNION ALL 
SELECT 'CAN' AS Country, 'CA' AS CountryISO2
UNION ALL 
SELECT 'CPV' AS Country, 'CV' AS CountryISO2
UNION ALL 
SELECT 'CYM' AS Country, 'KY' AS CountryISO2
UNION ALL 
SELECT 'CAF' AS Country, 'CF' AS CountryISO2
UNION ALL 
SELECT 'TCD' AS Country, 'TD' AS CountryISO2
UNION ALL 
SELECT 'CHL' AS Country, 'CL' AS CountryISO2
UNION ALL 
SELECT 'CHN' AS Country, 'CN' AS CountryISO2
UNION ALL 
SELECT 'CXR' AS Country, 'CX' AS CountryISO2
UNION ALL 
SELECT 'CCK' AS Country, 'CC' AS CountryISO2
UNION ALL 
SELECT 'COL' AS Country, 'CO' AS CountryISO2
UNION ALL 
SELECT 'COM' AS Country, 'KM' AS CountryISO2
UNION ALL 
SELECT 'COG' AS Country, 'CG' AS CountryISO2
UNION ALL 
SELECT 'COD' AS Country, 'CD' AS CountryISO2
UNION ALL 
SELECT 'COK' AS Country, 'CK' AS CountryISO2
UNION ALL 
SELECT 'CRI' AS Country, 'CR' AS CountryISO2
UNION ALL 
SELECT 'CIV' AS Country, 'CI' AS CountryISO2
UNION ALL 
SELECT 'HRV' AS Country, 'HR' AS CountryISO2
UNION ALL 
SELECT 'CUB' AS Country, 'CU' AS CountryISO2
UNION ALL 
SELECT 'CYP' AS Country, 'CY' AS CountryISO2
UNION ALL 
SELECT 'CZE' AS Country, 'CZ' AS CountryISO2
UNION ALL 
SELECT 'DNK' AS Country, 'DK' AS CountryISO2
UNION ALL 
SELECT 'DJI' AS Country, 'DJ' AS CountryISO2
UNION ALL 
SELECT 'DMA' AS Country, 'DM' AS CountryISO2
UNION ALL 
SELECT 'DOM' AS Country, 'DO' AS CountryISO2
UNION ALL 
SELECT 'TLS' AS Country, 'TL' AS CountryISO2
UNION ALL 
SELECT 'ECU' AS Country, 'EC' AS CountryISO2
UNION ALL 
SELECT 'EGY' AS Country, 'EG' AS CountryISO2
UNION ALL 
SELECT 'SLV' AS Country, 'SV' AS CountryISO2
UNION ALL 
SELECT 'GNQ' AS Country, 'GQ' AS CountryISO2
UNION ALL 
SELECT 'ERI' AS Country, 'ER' AS CountryISO2
UNION ALL 
SELECT 'EST' AS Country, 'EE' AS CountryISO2
UNION ALL 
SELECT 'ETH' AS Country, 'ET' AS CountryISO2
UNION ALL 
SELECT 'FLK' AS Country, 'FK' AS CountryISO2
UNION ALL 
SELECT 'FRO' AS Country, 'FO' AS CountryISO2
UNION ALL 
SELECT 'FJI' AS Country, 'FJ' AS CountryISO2
UNION ALL 
SELECT 'FIN' AS Country, 'FI' AS CountryISO2
UNION ALL 
SELECT 'FRA' AS Country, 'FR' AS CountryISO2
UNION ALL 
SELECT 'FXX' AS Country, 'FX' AS CountryISO2
UNION ALL 
SELECT 'GUF' AS Country, 'GF' AS CountryISO2
UNION ALL 
SELECT 'PYF' AS Country, 'PF' AS CountryISO2
UNION ALL 
SELECT 'ATF' AS Country, 'TF' AS CountryISO2
UNION ALL 
SELECT 'GAB' AS Country, 'GA' AS CountryISO2
UNION ALL 
SELECT 'GMB' AS Country, 'GM' AS CountryISO2
UNION ALL 
SELECT 'GEO' AS Country, 'GE' AS CountryISO2
UNION ALL 
SELECT 'DEU' AS Country, 'DE' AS CountryISO2
UNION ALL 
SELECT 'GHA' AS Country, 'GH' AS CountryISO2
UNION ALL 
SELECT 'GIB' AS Country, 'GI' AS CountryISO2
UNION ALL 
SELECT 'GRC' AS Country, 'GR' AS CountryISO2
UNION ALL 
SELECT 'GRL' AS Country, 'GL' AS CountryISO2
UNION ALL 
SELECT 'GRD' AS Country, 'GD' AS CountryISO2
UNION ALL 
SELECT 'GLP' AS Country, 'GP' AS CountryISO2
UNION ALL 
SELECT 'GUM' AS Country, 'GU' AS CountryISO2
UNION ALL 
SELECT 'GTM' AS Country, 'GT' AS CountryISO2
UNION ALL 
SELECT 'GGY' AS Country, 'GG' AS CountryISO2
UNION ALL 
SELECT 'GIN' AS Country, 'GN' AS CountryISO2
UNION ALL 
SELECT 'GNB' AS Country, 'GW' AS CountryISO2
UNION ALL 
SELECT 'GUY' AS Country, 'GY' AS CountryISO2
UNION ALL 
SELECT 'HTI' AS Country, 'HT' AS CountryISO2
UNION ALL 
SELECT 'HMD' AS Country, 'HM' AS CountryISO2
UNION ALL 
SELECT 'HND' AS Country, 'HN' AS CountryISO2
UNION ALL 
SELECT 'HUN' AS Country, 'HU' AS CountryISO2
UNION ALL 
SELECT 'ISL' AS Country, 'IS' AS CountryISO2
UNION ALL 
SELECT 'IND' AS Country, 'IN' AS CountryISO2
UNION ALL 
SELECT 'IDN' AS Country, 'ID' AS CountryISO2
UNION ALL 
SELECT 'IRN' AS Country, 'IR' AS CountryISO2
UNION ALL 
SELECT 'IRQ' AS Country, 'IQ' AS CountryISO2
UNION ALL 
SELECT 'IRL' AS Country, 'IE' AS CountryISO2
UNION ALL 
SELECT 'ISR' AS Country, 'IL' AS CountryISO2
UNION ALL 
SELECT 'ITA' AS Country, 'IT' AS CountryISO2
UNION ALL 
SELECT 'JAM' AS Country, 'JM' AS CountryISO2
UNION ALL 
SELECT 'JPN' AS Country, 'JP' AS CountryISO2
UNION ALL 
SELECT 'JOR' AS Country, 'JO' AS CountryISO2
UNION ALL 
SELECT 'KAZ' AS Country, 'KZ' AS CountryISO2
UNION ALL 
SELECT 'KEN' AS Country, 'KE' AS CountryISO2
UNION ALL 
SELECT 'KIR' AS Country, 'KI' AS CountryISO2
UNION ALL 
SELECT 'PRK' AS Country, 'KP' AS CountryISO2
UNION ALL 
SELECT 'KOR' AS Country, 'KR' AS CountryISO2
UNION ALL 
SELECT 'KWT' AS Country, 'KW' AS CountryISO2
UNION ALL 
SELECT 'KGZ' AS Country, 'KG' AS CountryISO2
UNION ALL 
SELECT 'LAO' AS Country, 'LA' AS CountryISO2
UNION ALL 
SELECT 'LVA' AS Country, 'LV' AS CountryISO2
UNION ALL 
SELECT 'LBN' AS Country, 'LB' AS CountryISO2
UNION ALL 
SELECT 'LSO' AS Country, 'LS' AS CountryISO2
UNION ALL 
SELECT 'LBR' AS Country, 'LR' AS CountryISO2
UNION ALL 
SELECT 'LBY' AS Country, 'LY' AS CountryISO2
UNION ALL 
SELECT 'LIE' AS Country, 'LI' AS CountryISO2
UNION ALL 
SELECT 'LTU' AS Country, 'LT' AS CountryISO2
UNION ALL 
SELECT 'LUX' AS Country, 'LU' AS CountryISO2
UNION ALL 
SELECT 'MAC' AS Country, 'MO' AS CountryISO2
UNION ALL 
SELECT 'MKD' AS Country, 'MK' AS CountryISO2
UNION ALL 
SELECT 'MDG' AS Country, 'MG' AS CountryISO2
UNION ALL 
SELECT 'MWI' AS Country, 'MW' AS CountryISO2
UNION ALL 
SELECT 'MYS' AS Country, 'MY' AS CountryISO2
UNION ALL 
SELECT 'MDV' AS Country, 'MV' AS CountryISO2
UNION ALL 
SELECT 'MLI' AS Country, 'ML' AS CountryISO2
UNION ALL 
SELECT 'MLT' AS Country, 'MT' AS CountryISO2
UNION ALL 
SELECT 'MHL' AS Country, 'MH' AS CountryISO2
UNION ALL 
SELECT 'MTQ' AS Country, 'MQ' AS CountryISO2
UNION ALL 
SELECT 'MRT' AS Country, 'MR' AS CountryISO2
UNION ALL 
SELECT 'MUS' AS Country, 'MU' AS CountryISO2
UNION ALL 
SELECT 'MYT' AS Country, 'YT' AS CountryISO2
UNION ALL 
SELECT 'MEX' AS Country, 'MX' AS CountryISO2
UNION ALL 
SELECT 'FSM' AS Country, 'FM' AS CountryISO2
UNION ALL 
SELECT 'MDA' AS Country, 'MD' AS CountryISO2
UNION ALL 
SELECT 'MCO' AS Country, 'MC' AS CountryISO2
UNION ALL 
SELECT 'MNG' AS Country, 'MN' AS CountryISO2
UNION ALL 
SELECT 'MNE' AS Country, 'ME' AS CountryISO2
UNION ALL 
SELECT 'MSR' AS Country, 'MS' AS CountryISO2
UNION ALL 
SELECT 'MAR' AS Country, 'MA' AS CountryISO2
UNION ALL 
SELECT 'MOZ' AS Country, 'MZ' AS CountryISO2
UNION ALL 
SELECT 'MMR' AS Country, 'MM' AS CountryISO2
UNION ALL 
SELECT 'NAM' AS Country, 'NA' AS CountryISO2
UNION ALL 
SELECT 'NRU' AS Country, 'NR' AS CountryISO2
UNION ALL 
SELECT 'NPL' AS Country, 'NP' AS CountryISO2
UNION ALL 
SELECT 'NLD' AS Country, 'NL' AS CountryISO2
UNION ALL 
SELECT 'ANT' AS Country, 'AN' AS CountryISO2
UNION ALL 
SELECT 'NCL' AS Country, 'NC' AS CountryISO2
UNION ALL 
SELECT 'NZL' AS Country, 'NZ' AS CountryISO2
UNION ALL 
SELECT 'NIC' AS Country, 'NI' AS CountryISO2
UNION ALL 
SELECT 'NER' AS Country, 'NE' AS CountryISO2
UNION ALL 
SELECT 'NGA' AS Country, 'NG' AS CountryISO2
UNION ALL 
SELECT 'NIU' AS Country, 'NU' AS CountryISO2
UNION ALL 
SELECT 'NFK' AS Country, 'NF' AS CountryISO2
UNION ALL 
SELECT 'MNP' AS Country, 'MP' AS CountryISO2
UNION ALL 
SELECT 'NOR' AS Country, 'NO' AS CountryISO2
UNION ALL 
SELECT 'OMN' AS Country, 'OM' AS CountryISO2
UNION ALL 
SELECT 'PAK' AS Country, 'PK' AS CountryISO2
UNION ALL 
SELECT 'PLW' AS Country, 'PW' AS CountryISO2
UNION ALL 
SELECT 'PSE' AS Country, 'PS' AS CountryISO2
UNION ALL 
SELECT 'PAN' AS Country, 'PA' AS CountryISO2
UNION ALL 
SELECT 'PNG' AS Country, 'PG' AS CountryISO2
UNION ALL 
SELECT 'PRY' AS Country, 'PY' AS CountryISO2
UNION ALL 
SELECT 'PER' AS Country, 'PE' AS CountryISO2
UNION ALL 
SELECT 'PHL' AS Country, 'PH' AS CountryISO2
UNION ALL 
SELECT 'PCN' AS Country, 'PN' AS CountryISO2
UNION ALL 
SELECT 'POL' AS Country, 'PL' AS CountryISO2
UNION ALL 
SELECT 'PRT' AS Country, 'PT' AS CountryISO2
UNION ALL 
SELECT 'PRI' AS Country, 'PR' AS CountryISO2
UNION ALL 
SELECT 'QAT' AS Country, 'QA' AS CountryISO2
UNION ALL 
SELECT 'REU' AS Country, 'RE' AS CountryISO2
UNION ALL 
SELECT 'ROU' AS Country, 'RO' AS CountryISO2
UNION ALL 
SELECT 'RUS' AS Country, 'RU' AS CountryISO2
UNION ALL 
SELECT 'RWA' AS Country, 'RW' AS CountryISO2
UNION ALL 
SELECT 'BLM' AS Country, 'BL' AS CountryISO2
UNION ALL 
SELECT 'SHN' AS Country, 'SH' AS CountryISO2
UNION ALL 
SELECT 'KNA' AS Country, 'KN' AS CountryISO2
UNION ALL 
SELECT 'LCA' AS Country, 'LC' AS CountryISO2
UNION ALL 
SELECT 'MAF' AS Country, 'MF' AS CountryISO2
UNION ALL 
SELECT 'SPM' AS Country, 'PM' AS CountryISO2
UNION ALL 
SELECT 'VCT' AS Country, 'VC' AS CountryISO2
UNION ALL 
SELECT 'WSM' AS Country, 'WS' AS CountryISO2
UNION ALL 
SELECT 'SMR' AS Country, 'SM' AS CountryISO2
UNION ALL 
SELECT 'STP' AS Country, 'ST' AS CountryISO2
UNION ALL 
SELECT 'SAU' AS Country, 'SA' AS CountryISO2
UNION ALL 
SELECT 'SEN' AS Country, 'SN' AS CountryISO2
UNION ALL 
SELECT 'SRB' AS Country, 'RS' AS CountryISO2
UNION ALL 
SELECT 'SYC' AS Country, 'SC' AS CountryISO2
UNION ALL 
SELECT 'SLE' AS Country, 'SL' AS CountryISO2
UNION ALL 
SELECT 'SGP' AS Country, 'SG' AS CountryISO2
UNION ALL 
SELECT 'SVK' AS Country, 'SK' AS CountryISO2
UNION ALL 
SELECT 'SVN' AS Country, 'SI' AS CountryISO2
UNION ALL 
SELECT 'SLB' AS Country, 'SB' AS CountryISO2
UNION ALL 
SELECT 'SOM' AS Country, 'SO' AS CountryISO2
UNION ALL 
SELECT 'ZAF' AS Country, 'ZA' AS CountryISO2
UNION ALL 
SELECT 'SGS' AS Country, 'GS' AS CountryISO2
UNION ALL 
SELECT 'SSD' AS Country, 'SS' AS CountryISO2
UNION ALL 
SELECT 'ESP' AS Country, 'ES' AS CountryISO2
UNION ALL 
SELECT 'LKA' AS Country, 'LK' AS CountryISO2
UNION ALL 
SELECT 'SDN' AS Country, 'SD' AS CountryISO2
UNION ALL 
SELECT 'SUR' AS Country, 'SR' AS CountryISO2
UNION ALL 
SELECT 'SJM' AS Country, 'SJ' AS CountryISO2
UNION ALL 
SELECT 'SWZ' AS Country, 'SZ' AS CountryISO2
UNION ALL 
SELECT 'SWE' AS Country, 'SE' AS CountryISO2
UNION ALL 
SELECT 'CHE' AS Country, 'CH' AS CountryISO2
UNION ALL 
SELECT 'SYR' AS Country, 'SY' AS CountryISO2
UNION ALL 
SELECT 'TWN' AS Country, 'TW' AS CountryISO2
UNION ALL 
SELECT 'TJK' AS Country, 'TJ' AS CountryISO2
UNION ALL 
SELECT 'TZA' AS Country, 'TZ' AS CountryISO2
UNION ALL 
SELECT 'THA' AS Country, 'TH' AS CountryISO2
UNION ALL 
SELECT 'TGO' AS Country, 'TG' AS CountryISO2
UNION ALL 
SELECT 'TKL' AS Country, 'TK' AS CountryISO2
UNION ALL 
SELECT 'TON' AS Country, 'TO' AS CountryISO2
UNION ALL 
SELECT 'TTO' AS Country, 'TT' AS CountryISO2
UNION ALL 
SELECT 'TUN' AS Country, 'TN' AS CountryISO2
UNION ALL 
SELECT 'TUR' AS Country, 'TR' AS CountryISO2
UNION ALL 
SELECT 'TKM' AS Country, 'TM' AS CountryISO2
UNION ALL 
SELECT 'TCA' AS Country, 'TC' AS CountryISO2
UNION ALL 
SELECT 'TUV' AS Country, 'TV' AS CountryISO2
UNION ALL 
SELECT 'UGA' AS Country, 'UG' AS CountryISO2
UNION ALL 
SELECT 'UKR' AS Country, 'UA' AS CountryISO2
UNION ALL 
SELECT 'ARE' AS Country, 'AE' AS CountryISO2
UNION ALL 
SELECT 'GBR' AS Country, 'GB' AS CountryISO2
UNION ALL 
SELECT 'USA' AS Country, 'US' AS CountryISO2
UNION ALL 
SELECT 'UMI' AS Country, 'UM' AS CountryISO2
UNION ALL 
SELECT 'URY' AS Country, 'UY' AS CountryISO2
UNION ALL 
SELECT 'UZB' AS Country, 'UZ' AS CountryISO2
UNION ALL 
SELECT 'VUT' AS Country, 'VU' AS CountryISO2
UNION ALL 
SELECT 'VAT' AS Country, 'VA' AS CountryISO2
UNION ALL 
SELECT 'VEN' AS Country, 'VE' AS CountryISO2
UNION ALL 
SELECT 'VNM' AS Country, 'VN' AS CountryISO2
UNION ALL 
SELECT 'VGB' AS Country, 'VG' AS CountryISO2
UNION ALL 
SELECT 'VIR' AS Country, 'VI' AS CountryISO2
UNION ALL 
SELECT 'WLF' AS Country, 'WF' AS CountryISO2
UNION ALL 
SELECT 'ESH' AS Country, 'EH' AS CountryISO2
UNION ALL 
SELECT 'YEM' AS Country, 'YE' AS CountryISO2
UNION ALL 
SELECT 'YUG' AS Country, 'YU' AS CountryISO2
UNION ALL 
SELECT 'ZMB' AS Country, 'ZM' AS CountryISO2
UNION ALL 
SELECT 'ZWE' AS Country, 'ZW' AS CountryISO2


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmCountryISO_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmCountryISO_view'
GO
