USE [005]
GO
/****** Object:  View [dbo].[trav_ArShipToAddress_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArShipToAddress_view]
AS
	SELECT c.CustId, c.CustName, c.ClassId, c.GroupCode, c.AcctType, c.PriceCode, c.SalesRepId1, c.SalesRepId2, c.Phone, c.City, c.CurrencyId, c.CustLevel, c.[Status], 
		s.ShiptoId, s.ShiptoName, s.DistCode, s.TerrId, s.Region, s.Country, s.PostalCode
	FROM dbo.tblArCust c INNER JOIN dbo.tblArShipTo s ON c.CustId = s.CustId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArShipToAddress_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArShipToAddress_view'
GO
