USE [005]
GO
/****** Object:  View [dbo].[trav_ArOpenInvoiceBalance_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArOpenInvoiceBalance_view]
AS

--Evaluates the current balance of open invoice records in invoice currency
--	processes any applied adjustments to invoices to determine the invoice currency balances
--	identifies disconnected adjustment entries via a left join to the applied invoice 
--	modifies the sign of the applied amount when the type of the adjusted invoice is different than the adjustment
--	aggregates the invoice/applied amounts using the applied invoice key (when it exists)
--	Includes the realized gain/loss in the functional currency balance to adjust for exchange rate variances
--
--*Does NOT include records for invoice records with a paid status
--
--*Note: Using this view could have a significant performance impact.  

SELECT ISNULL(inv.[Counter], adj.[Counter]) AS [Counter]
	, SUM(CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[AmtFgn] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[AppliedAmount] 
				ELSE -adj.[AppliedAmount] 
			END
		END) AS [Balance]
	, SUM(CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[DiscAmtFgn]
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[AppliedDiscount] 
				ELSE -adj.[AppliedDiscount] 
			END
		END) AS [DiscountBalance]
	, SUM(CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[Amt] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[Amt] - adj.[GainLossAmount]
				ELSE -(adj.[Amt] - adj.[GainLossAmount])
			END
		END) AS [BalanceBase]
	, SUM(CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[DiscAmt]
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[DiscAmt] 
				ELSE -adj.[DiscAmt] 
			END
		END) AS [DiscountBalanceBase]
		
	FROM dbo.tblArOpenInvoice adj
	LEFT JOIN dbo.tblArOpenInvoice inv ON adj.[InvoiceID] = inv.[Counter]
	WHERE adj.[Status] <> 4 --Exclude Paid invoice records
	GROUP BY ISNULL(inv.[Counter], adj.[Counter])
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArOpenInvoiceBalance_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArOpenInvoiceBalance_view'
GO
