USE [005]
GO
/****** Object:  View [dbo].[pvtPaTransactionDeductions]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaTransactionDeductions]
AS

SELECT d.EmployeeId, d.DeductCode, c.Description, d.TransDate, d.Hours, d.Amount 
FROM dbo.tblPaTransDeduct d 
	INNER JOIN dbo.tblPaDeductCode c ON d.DeductCode = c.DeductionCode

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaTransactionDeductions'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaTransactionDeductions'
GO
