USE [005]
GO
/****** Object:  View [dbo].[_vwtblApVendor]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[_vwtblApVendor]
AS
SELECT     VendorID, Name, Contact, Addr1, Addr2, City, Region, Country, PostalCode, IntlPrefix, Phone, FAX, OurAcctNum, PayToName, PayToAttention, PayToAddr1, 
                      PayToAddr2, PayToCity, PayToRegion, PayToCountry, PayToPostalCode, PayToIntlPrefix, PayToPhone, Ten99FormCode, Ten99RecipientID, Ten99FieldIndicator, 
                      Ten99ForeignAddrYN, SecondTINNotYN, GLAcct, PriorityCode, VendorHoldYN, TempYN, VendorClass, TermsCode, DivisionCode, DistCode, TaxableYN, Memo, 
                      CurrencyId, TaxGrpID, Email, Internet, LastPurchDate, LastPurchNum, LastPmtDate, LastCheckNum, LastPurchAmt, LastPmtAmt, GrossDue, Prepaid, 
					  DfltTransAllocId, Status, DeliveryType, BankAcctNum, MaskValue, RoutingCode, DefaultPayBankId, ts, ChkOpt
FROM         dbo.tblApVendor


GO
