USE [005]
GO
/****** Object:  View [dbo].[pvtBmMasterHdr]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtBmMasterHdr]
AS

SELECT BmItemID AS 'Assembly ID', BmLocID AS 'Assembly Loc ID', 
	Descr AS 'Description', Uom AS UOM, LaborCost AS 'Labor Cost'
FROM dbo.tblBmBom



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMasterHdr'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMasterHdr'
GO
