USE [005]
GO
/****** Object:  View [dbo].[trav_InItemOnHand_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemOnHand_view]
AS
SELECT ItemId, LocId, Sum(Qty - InvoicedQty - RemoveQty) AS QtyOnHand,
	Sum((Qty - InvoicedQty - RemoveQty) * Cost) AS Cost,
	Sum((Qty - InvoicedQty - RemoveQty) * CostACV) AS CostACV
FROM dbo.tblInQtyOnHand
GROUP BY ItemId, LocId 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHand_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHand_view'
GO
