USE [005]
GO
/****** Object:  View [dbo].[genai_sales_order]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_sales_order]
AS
SELECT * FROM (
	SELECT h.TransId [sales_order_id]
	, '' [order_link_id]
	, h.CustId [bill_to_customer_id]
	, c.City [bill_to_city]
	, c.Contact [bill_to_contact_name]
	, c.Country [bill_to_country]
	, c.Fax [bill_to_fax]
	, c.Addr1 [bill_to_address_line_1]
	, c.Addr2 [bill_to_address_line_2]
	, c.CustName [bill_to_customer_name]
	, c.PostalCode [bill_to_postal_code]
	, c.Region [bill_to_state_or_province]
	, c.Phone [bill_to_telephone]
	, h.SoldToId [sold_to_customer_id]
	, h.ActShipDate [fulfilled_date]
	, h.Notes [description]
	, SIGN(h.TransType) * h.DiscAmtFgn [discount_amount_in_foreign_currency]
	, h.CurrencyID [transaction_currency_code]
	, h.ExchRate [exchange_rate]
	, SIGN(h.TransType) * h.DiscAmt [discount_amount]
	, SIGN(h.TransType) * h.FreightFgn [freight_amount_in_foreign_currency]
	, SIGN(h.TransType) * h.Freight [freight_amount]
	, f.[Description] [freight_terms]
	, h.TermsCode [payment_terms]
	, h.ReqDeliveryDate [requested_delivery_date]
	, h.ShipMethod [shipping_method]
	, h.ShipToID [ship_to_customer_id]
	, h.ShipToCity [ship_to_city]
	, h.ShipToAttn [ship_to_contact_name]
	, h.ShipToCountry [ship_to_country]
	, h.ShipToFax [ship_to_fax]
	, f.[Description] [ship_to_freight_terms]
	, h.ShipToAddr1 [ship_to_address_line_1]
	, h.ShipToAddr2 [ship_to_address_line_2]
	, h.ShipToName [ship_to_customer_name]
	, h.ShipToPostalCode [ship_to_postal_code]
	, h.ShipToRegion [ship_to_state_or_province]
	, h.ShipToPhone [ship_to_telephone]
	, 'Active' [sales_order_status]
	, h.TransDate [sales_order_date]
	, CASE h.TransType WHEN 1 THEN 'Invoice' WHEN 2 THEN 'Price Quote' WHEN 3 THEN 'Backordered' WHEN 4 THEN 'Verified' WHEN 5 THEN 'Picked' WHEN 8 THEN 'Void Sales' WHEN 9 THEN 'New' WHEN -1 THEN 'Credit Memo' WHEN -2 THEN 'RMA' WHEN -8 THEN 'Void Returns' END [sales_order_type]
	, SIGN(h.TransType) * (h.NonTaxableSalesFgn + h.TaxableSalesFgn + SalesTaxFgn + FreightFgn + MiscFgn + TaxAmtAdjFgn) [total_amount_in_foreign_currency]
	, SIGN(h.TransType) * (h.NonTaxableSales + h.TaxableSales + SalesTax + Freight + Misc + TaxAmtAdj) [total_amount]
	, SIGN(h.TransType) * h.SalesTaxFgn [total_tax_in_foreign_currency]
	, SIGN(h.TransType) * h.SalesTax [total_tax]
	, h.InvcNum [sales_order_invoice_id]
	, CASE WHEN h.InvcNum IS NULL THEN NULL ELSE h.InvcDate END [sales_order_invoice_date]
	, h.ReqShipDate [requested_ship_date]
	, h.Rep1Id [sales_representative_1_id]
	, h.Rep2Id [sales_representative_2_id]
	, 'SO' [source_application]
	FROM dbo.tblSoTransHeader h
	INNER JOIN dbo.tblArCust c ON h.CustId = c.CustId
	LEFT JOIN dbo.tblSmFreightTerm f ON h.FreightTermID = f.ID
	WHERE h.VoidYn = 0

UNION ALL

	SELECT h.TransId [sales_order_id]
	, h.PostRun  [order_link_id]
	, h.CustId [bill_to_customer_id]
	, c.City [bill_to_city]
	, c.Contact [bill_to_contact_name]
	, c.Country [bill_to_country]
	, c.Fax [bill_to_fax]
	, c.Addr1 [bill_to_address_line_1]
	, c.Addr2 [bill_to_address_line_2]
	, c.CustName [bill_to_customer_name]
	, c.PostalCode [bill_to_postal_code]
	, c.Region [bill_to_state_or_province]
	, c.Phone [bill_to_telephone]
	, h.SoldToId [sold_to_customer_id]
	, h.ShipDate [fulfilled_date]
	, h.Notes [description]
	, SIGN(h.TransType) * h.DiscAmtFgn [discount_amount_in_foreign_currency]
	, h.CurrencyID [transaction_currency_code]
	, h.ExchRate [exchange_rate]
	, SIGN(h.TransType) * h.DiscAmt [discount_amount]
	, SIGN(h.TransType) * h.FreightFgn [freight_amount_in_foreign_currency]
	, SIGN(h.TransType) * h.Freight [freight_amount]
	, f.[Description] [freight_terms]
	, h.TermsCode [payment_terms]
	, h.ReqDeliveryDate [requested_delivery_date]
	, h.ShipMethod [shipping_method]
	, h.ShipToID [ship_to_customer_id]
	, h.ShipToCity [ship_to_city]
	, h.ShipToAttn [ship_to_contact_name]
	, h.ShipToCountry [ship_to_country]
	, h.ShipToFax [ship_to_fax]
	, f.[Description] [ship_to_freight_terms]
	, h.ShipToAddr1 [ship_to_address_line_1]
	, h.ShipToAddr2 [ship_to_address_line_2]
	, h.ShipToName [ship_to_customer_name]
	, h.ShipToPostalCode [ship_to_postal_code]
	, h.ShipToRegion [ship_to_state_or_province]
	, h.ShipToPhone [ship_to_telephone]
	, 'History' [sales_order_status]
	, h.OrderDate [sales_order_date]
	, CASE h.TransType WHEN 1 THEN 'Invoice' WHEN -1 THEN 'Credit Memo' END [sales_order_type]
	, SIGN(h.TransType) * (h.NonTaxSubtotalFgn + h.TaxSubtotalFgn + SalesTaxFgn + FreightFgn + MiscFgn + TaxAmtAdjFgn) [total_amount_in_foreign_currency]
	, SIGN(h.TransType) * (h.NonTaxSubtotal + h.TaxSubtotal + SalesTax + Freight + Misc + TaxAmtAdj) [total_amount]
	, SIGN(h.TransType) * h.SalesTaxFgn [total_tax_in_foreign_currency]
	, SIGN(h.TransType) * h.SalesTax [total_tax]
	, h.InvcNum [sales_order_invoice_id]
	, h.InvcDate [sales_order_invoice_date]
	, h.ReqShipDate [requested_ship_date]
	, h.Rep1Id [sales_representative_1_id]
	, h.Rep2Id [sales_representative_2_id]
	, CASE h.Source WHEN 0 THEN 'AR' WHEN 1 THEN 'SO' WHEN 2 THEN 'SD' WHEN 3 THEN 'PC' WHEN 4 THEN 'PS' END [source_application]
	FROM dbo.tblArHistHeader h
	LEFT JOIN dbo.tblArCust c ON h.CustId = c.CustId
	LEFT JOIN dbo.tblSmFreightTerm f ON h.FreightTermID = f.ID
	WHERE h.VoidYn = 0
) OrderResults
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_sales_order'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_sales_order'
GO
