USE [005]
GO
/****** Object:  View [dbo].[pvtInSumHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInSumHist]
AS

SELECT h.SumYear, h.SumPeriod, h.ItemId, i.Descr, h.LocId, h.QtyPurch, h.QtyRetPurch, h.QtySold, 
	h.QtyRetSold, h.QtyAdj, h.CostPurch, h.CostRetPurch, h.CostSold, h.CostRetSold, h.CostAdj, 
	h.TotSold, h.TotRetSold
FROM dbo.trav_InHistoryByYearPeriodItemLocation_view h INNER JOIN dbo.tblInItem i ON h.ItemId = i.ItemId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInSumHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInSumHist'
GO
