USE [005]
GO
/****** Object:  View [dbo].[trav_PaEmpHistMisc_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PaEmpHistMisc_view]
AS


SELECT h.Id, 1 as [Type], h.EntryDate, h.PaYear, 
h.PaMonth, h.EmployeeId, h.MiscCodeId as Code, h.Amount 
FROM dbo.tblPaEmpHistMisc h  
Inner Join tblPaMiscCode c On h.MiscCodeId = c.Id


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PaEmpHistMisc_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PaEmpHistMisc_view'
GO
