USE [005]
GO
/****** Object:  View [dbo].[trav_tblMpMatlSum_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMpMatlSum_View]
AS
SELECT t.[ComponentId]
, t.[ComponentType]
, t.[CostGroupId]
, t.[EstQtyRequired]
, t.[EstScrap]
, t.[LeadTime]
, t.[LinkSeqNum]
, t.[LocId]
, t.[Notes]
, t.[QtySeqNum]
, t.[QuantityID]
, t.[RequiredDate]
, t.[Status]
, t.[TransId]
, t.[UnitCost]
, t.[UOM]
, e.[cf_Max Lots Allowed]
, e.[cf_Only Issue to Production Order]
 FROM dbo.[tblMpMatlSum] t
 LEFT JOIN
 ( SELECT pvt.[TransId]
	, Cast(pvt.[Max Lots Allowed] As nvarchar(max)) AS [cf_Max Lots Allowed]
	, Cast(pvt.[Only Issue to Production Order] As bit) AS [cf_Only Issue to Production Order]
	 FROM
		 ( SELECT t.[TransId], [Name], [Value]
		 FROM
			 ( SELECT t.[TransId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMpMatlSum] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Max Lots Allowed], [Only Issue to Production Order])) AS pvt
) e on  t.[TransId] = e.[TransId]
GO
