USE [005]
GO
/****** Object:  View [dbo].[trav_ApHistoryCheckSummary_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApHistoryCheckSummary_view]
AS
	SELECT MAX([Counter]) [Counter], h.PaymentRun CheckRun, v.VendorID, h.CurrencyID,h.PaymentDate CheckDate, h.PaymentNum CheckNum,
		Sum(hd.GrossAmtDueBase-hd.DiscTakenBase) AS CheckAmt, Sum(hd.GrossAmtDue-hd.DiscTaken) AS CheckAmFgn, 
		Sum(hd.GrossAmtDueBase) AS SumOfGrossAmtDue, Sum(hd.GrossAmtDue) AS SumOfGrossAmtDueFgn,
		MIN(v.DistCode) DistCode, h.PmtType
	FROM dbo.tblApPaymentHistHeader h
INNER JOIN tblApPaymentHistDetail hd on hd.HeaderID = h.ID
INNER JOIN  dbo.tblApOpenInvoice o on o.Counter = hd.InvoiceCounter 
INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID
	WHERE VoidDate IS NULL AND h.PaymentNum <> ''
	GROUP BY h.PaymentRun ,v.VendorID, h.CurrencyID,h.PaymentDate , h.PaymentNum,PmtType 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApHistoryCheckSummary_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApHistoryCheckSummary_view'
GO
