USE [005]
GO
/****** Object:  View [dbo].[genai_purchase_order_invoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_purchase_order_invoice]
AS
SELECT h.TransId [purchase_order_id]
	,d.EntryNum [purchase_order_line_number]
	,'' AS [order_link_id]
	,'Active' [purchase_order_status]
	,t.InvcNum [invoice_number]
	,t.InvcDate [invoice_date]
	,i.UnitCost [unit_cost]
	,i.UnitCostFgn [unit_cost_in_foreign_currency]
	,CASE 
		WHEN h.TransType = 0
			THEN i.Qty
		ELSE SIGN(h.TransType) * i.Qty
		END AS [quantity_invoiced]
	,CASE 
		WHEN h.TransType = 0
			THEN i.ExtCost
		ELSE SIGN(h.TransType) * i.ExtCost
		END AS [extended_cost]
		,CASE 
		WHEN h.TransType = 0
			THEN i.ExtCostFgn
		ELSE SIGN(h.TransType) * i.ExtCostFgn
		END AS [extended_cost_in_foreign_currency]
FROM dbo.tblPoTransHeader h
INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
INNER JOIN dbo.tblPoTransInvoice i ON h.TransId = i.TransId
	AND d.EntryNum = i.EntryNum
INNER JOIN dbo.tblPoTransInvoiceTot t ON i.TransId = t.TransId
	AND i.InvoiceNum = t.InvcNum

UNION ALL

SELECT h.TransId [purchase_order_id]
	,d.EntryNum [purchase_order_line_number]
	,d.PostRun [order_link_id]
	,'History' as [purchase_order_status]
	,t.InvcNum AS [invoice_number]
	,t.InvcDate AS [invoice_date]
	,i.UnitCost [unit_cost]
	,i.UnitCostFgn [unit_cost_in_foreign_currency]
	,CASE 
		WHEN h.TransType = 0
			THEN i.Qty
		ELSE SIGN(h.TransType) * i.Qty
		END AS [quantity_invoiced]
	,CASE 
		WHEN h.TransType = 0
			THEN i.ExtCost
		ELSE SIGN(h.TransType) * i.ExtCost
		END AS [extended_cost]
	,CASE 
		WHEN h.TransType = 0
			THEN i.ExtCostFgn
		ELSE SIGN(h.TransType) * i.ExtCostFgn
		END AS [extended_cost_in_foreign_currency]
FROM dbo.tblPoHistHeader h
INNER JOIN dbo.tblPoHistDetail d ON h.PostRun = d.PostRun
	AND h.TransId = d.TransId
INNER JOIN dbo.tblPoHistInvoice i ON h.PostRun = i.PostRun
	AND h.TransId = i.TransId
	AND d.EntryNum = i.EntryNum
INNER JOIN dbo.tblPoHistInvoiceTot t ON i.PostRun = t.PostRun
	AND i.TransId = t.TransId
	AND i.InvoiceNum = t.InvcNum
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_purchase_order_invoice'
GO
