USE [005]
GO
/****** Object:  View [dbo].[pvtBmMatTran]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtBmMatTran]
AS

SELECT h.ItemID AS 'Assembly ID', h.LocID AS 'Assembly Loc ID', h.TransID AS 'Trans ID', h.WorkType AS 'Work Type',
	h.TransDate AS 'Trans Date', d.ItemID AS 'Item ID', d.LocID AS 'Loc ID', d.Uom AS 'UOM', 
	d.UnitCost AS 'Unit Cost', d.ActQty AS 'Actual Qty', d.UnitCost * D.ActQty AS 'Ext Cost',
	d.OriCompQty, h.LaborCost AS 'Labor Cost', l.QtyBkord AS 'Qty Backordered'
FROM dbo.tblBmWorkOrder h INNER JOIN dbo.tblBmWorkOrderDetail d ON h.TransID = d.TransID
	LEFT JOIN dbo.tblBmWorkOrderLot l ON d.TransID = l.TransID



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMatTran'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMatTran'
GO
