USE [005]
GO
/****** Object:  View [dbo].[genai_vendor]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_vendor]
AS
SELECT VendorID [vendor_id],
	CASE Status WHEN 0 THEN 'Active' ELSE 'Inactive' END [vendor_status],
	[Name] [vendor_name], 
	Contact [contact_name], 
	Addr1 [address_line_1], 
	Addr2 [address_line_2],
	City [city], 
	Region [state_or_province], 
	PostalCode [postal_code], 
	Country [country], 
	Phone [primary_phone], 
	FAX [primary_fax], 
	OurAcctNum [our_account_number], 
	PayToName [pay_to_name], 
	PayToAttention [pay_to_attention], 
	PayToAddr1 [pay_to_address_line_1], 
	PayToAddr2 [pay_to_address_line_2], 
	PayToCity [pay_to_address_city], 
	PayToRegion [pay_to_state_or_province], 
	PayToPostalCode [pay_to_postal_code],
	PayToCountry [pay_to_country], 
	PayToPhone [pay_to_phone], 
	Ten99FormCode [tax1099_type], 
	GLAcct [default_offset_ledger_account], 
	PriorityCode [priority_code], 
	VendorHoldYN [on_hold_status], 
	TempYN [is_one_time_vendor], 
	VendorClass [vendor_class], 
	TermsCode [payment_terms], 
	DivisionCode [vendor_division], 
	DistCode [vendor_distribution_code], 
	TaxableYN [is_taxable], 
	Memo [notes], 
	CurrencyId [transaction_currency_code], 
	TaxGrpID [sales_tax_group_code], 
	Internet [website_url], 
	Email [email_address], 
	DefaultPayBankId [bank_account_id]
FROM dbo.tblApVendor
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_vendor'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_vendor'
GO
