USE [005]
GO
/****** Object:  View [dbo].[pvtFaRetiredAssetsDetails]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[pvtFaRetiredAssetsDetails]
AS

SELECT r.RetirementID AS 'Retirement ID', r.AssetID AS 'Asset ID', r.SerialNo AS 'Serial No'
	, r.TagNo AS 'Tag No', d.DeprcType AS 'Depreciation Type', d.Method
	, d.BeginYr AS 'Begin Year', d.BeginPd AS 'Begin Period', d.EndYr AS 'End Year', d.EndPd AS 'End Period'
	, d.BaseCost, d.AnnualDepr, d.TotDeprTaken, d.YTDDepr, r.BonusDeprPct AS 'Special Allowance Percent' 
FROM dbo.tblFaRetire r INNER JOIN dbo.tblFaretireDepr d ON r.RetirementID = d.RetirementID
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaRetiredAssetsDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtFaRetiredAssetsDetails'
GO
