USE [005]
GO
/****** Object:  View [dbo].[trav_WmItemSerial_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_WmItemSerial_view]
AS
SELECT s.ItemId, s.SerNum, s.LocId, s.LotNum
	, Case When p.SerNum is null Or p.[Status] = 2 Then s.SerNumStatus Else 9 End SerNumStatus --use 9 as Picked / ignore completed (2) pick entries
	, s.CostUnit, s.PriceUnit, s.InitialDate, s.Cmnt
	, s.[Source], s.ExtLocA, s.ExtLocB
FROM dbo.tblInItemSer s 
	OUTER APPLY
	(
		SELECT TOP 1 * FROM dbo.tblWmPick p 
		WHERE s.ItemId = p.ItemId and s.LocId = p.LocId and s.SerNum = p.SerNum
	) p
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmItemSerial_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmItemSerial_view'
GO
