USE [005]
GO
/****** Object:  View [dbo].[trav_GlSegment_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[trav_GlSegment_view] 
As

SELECT s.Number, s.Id, s.[Description], m.Description SegmentDescription,
	m.Abbreviation
FROM dbo.tblGlSegment s INNER JOIN dbo.tblGlAcctMaskSegment m 
ON s.Number = m.Number
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlSegment_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlSegment_view'
GO
