USE [005]
GO
/****** Object:  View [dbo].[trav_InItemPriceChange_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_InItemPriceChange_view]  
AS  
SELECT p.ItemId,p.LocId,p.Uom ,p.BrkId,p.PriceAvg,p.PriceMin ,p.PriceList ,p.PriceBase,p.CurrencyID,i.ProductLine  
FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLocUomPrice p  ON  i.ItemId = p.ItemId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemPriceChange_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemPriceChange_view'
GO
