USE [005]
GO
/****** Object:  View [dbo].[pvtApCheckHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApCheckHist]
AS

SELECT v.VendorID, v.Name, h.PaymentNum CheckNum, h.PaymentDate CheckDate, hd.GrossAmtDueBase GrossAmtDue, hd.DiscTakenBase DiscTaken, 
	CASE WHEN h.VoidDate IS NULL THEN 'Not Voided' ELSE 'Voided' END AS [VoidStat$]
FROM dbo.tblApPaymentHistHeader h 
INNER JOIN tblApPaymentHistDetail hd on hd.HeaderID = h.ID
INNER JOIN  dbo.tblApOpenInvoice o on o.Counter = hd.InvoiceCounter 
INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApCheckHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApCheckHist'
GO
