USE [005]
GO
/****** Object:  View [dbo].[trav_InItemOnHandSerLot_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemOnHandSerLot_view]
AS
----Status InUse and ReturnedSale are included, 
--but Traverse does not use status InUse and ReturnedSale.
SELECT ItemId, LocId, LotNum, SUM(CASE SerNumStatus WHEN 5 THEN 0 ELSE 1 END) AS QtyOnHand,
	SUM(CASE SerNumStatus WHEN 2 THEN 1  WHEN 5 THEN -1 ELSE 0 END) AS QtyInUse,
	SUM(CASE SerNumStatus WHEN 5 THEN 0 ELSE CostUnit END) AS Cost
FROM dbo.tblInItemSer
WHERE SerNumStatus IN (1,2,5)
GROUP BY ItemId, LocId, LotNum 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandSerLot_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandSerLot_view'
GO
