USE [005]
GO
/****** Object:  View [dbo].[pvtBmJrnl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtBmJrnl]
AS

SELECT ActualQty AS 'Actual Qty', UnitCost AS 'Unit Cost', GLAcctCode AS 'GL Acct Code', 
	ItemID AS 'Item ID', LocID AS 'Location ID', ItemType AS 'Item Type', GlYear AS 'Year', 
	GlPeriod AS 'Period', TransID AS 'Trans ID', TransDate AS 'Trans Date',  
	CASE WorkType WHEN 1 THEN 'Build' WHEN 2 THEN 'Unbuild' ELSE 'NA' END AS 'Work Type',
	(ActualQty * UnitCost) AS 'Entry Amount'
FROM dbo.tblBmWorkOrderHist



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmJrnl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmJrnl'
GO
