USE [005]
GO
/****** Object:  View [dbo].[pvtPaCheckWithholdings]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaCheckWithholdings]
AS

SELECT w.WithholdingCode, w.Description, w.WithholdingEarnings, w.WithholdingPayments
	, c.EmployeeId, e.LastName, c.CheckNumber, c.CheckDate 
FROM dbo.tblPaCheck c 
	INNER JOIN dbo.tblSmEmployee e ON c.EmployeeId = e.EmployeeId 
	INNER JOIN dbo.tblPaCheckWithhold w ON c.Id = w.CheckId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckWithholdings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckWithholdings'
GO
