USE [005]
GO
/****** Object:  View [dbo].[pvtApDetHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApDetHist]
AS

SELECT h.VendorId, v.Name, d.InvoiceNum, d.PartId, d.WhseId, d.[Desc], d.ExtCost * SIGN(h.TransType) AS ExtCost, 
	CASE WHEN h.TransType > 0 THEN 'Invoice' ELSE 'Debit' END AS [TransType$], h.InvoiceDate, h.PONum
FROM dbo.tblApVendor v INNER JOIN dbo.tblApHistHeader h ON v.VendorID = h.VendorId 
	INNER JOIN dbo.tblApHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransID
WHERE d.EntryNum > 0



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApDetHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApDetHist'
GO
