USE [005]
GO
/****** Object:  View [dbo].[trav_tblArCust_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblArCust_view]
AS
SELECT t.[AcctType]
, t.[Addr1]
, t.[Addr2]
, t.[AllowCharge]
, t.[Attn]
, t.[AutoCreditHold]
, t.[BalAge1]
, t.[BalAge2]
, t.[BalAge3]
, t.[BalAge4]
, t.[BillToId]
, t.[CalcFinch]
, t.[CcCompYn]
, t.[City]
, t.[ClassId]
, t.[Contact]
, t.[Country]
, t.[CreditHold]
, t.[CreditLimit]
, t.[CreditStatus]
, t.[CurAmtDue]
, t.[CurAmtDueFgn]
, t.[CurrencyId]
, t.[CustId]
, t.[CustLevel]
, t.[CustName]
, t.[DistCode]
, t.[DUNSNumber]
, t.[Email]
, t.[Fax]
, t.[FirstSaleDate]
, t.[GroupCode]
, t.[HighBal]
, t.[Internet]
, t.[IntlPrefix]
, t.[LastPayAmt]
, t.[LastPayCheckNum]
, t.[LastPayDate]
, t.[LastSaleAmt]
, t.[LastSaleDate]
, t.[LastSaleInvc]
, t.[NewFinch]
, t.[PartialShip]
, t.[Phone]
, t.[Phone1]
, t.[Phone2]
, t.[PmtMethod]
, t.[PONumberRequiredYn]
, t.[PostalCode]
, t.[PriceCode]
, t.[Region]
, t.[Rep1PctInvc]
, t.[Rep2PctInvc]
, t.[SalesRepId1]
, t.[SalesRepId2]
, t.[ShiptoId]
, t.[ShipZone]
, t.[Status]
, t.[StmtInvcCode]
, t.[Taxable]
, t.[TaxCertExpDate]
, t.[TaxExemptId]
, t.[TaxGrpId2]
, t.[TaxID1]
, t.[TaxID2]
, t.[TaxLocId]
, t.[TaxPayerType1]
, t.[TaxPayerType2]
, t.[TermsCode]
, t.[TerrId]
, t.[TSCustomerEntityCode]
, t.[UnapplCredit]
, t.[UnpaidFinch]
, t.[ValidAddress]
, t.[WebDisplInQtyYn]
, e.[cf_Backorder Threshold]
, e.[cf_CCS Email]
, e.[cf_Cert Statement]
, e.[cf_COA_Required]
, e.[cf_Customer Care Hold Req.]
, e.[cf_SFDC RecID]
, e.[cf_Shipments Require QA Release]
, e.[cf_Shipments Require Special Documents]
 FROM dbo.[tblArCust] t
 LEFT JOIN
 ( SELECT pvt.[CustId]
	, Cast(pvt.[Backorder Threshold] As nvarchar(max)) AS [cf_Backorder Threshold]
	, Cast(pvt.[CCS Email] As nvarchar(max)) AS [cf_CCS Email]
	, Cast(pvt.[Cert Statement] As nvarchar(max)) AS [cf_Cert Statement]
	, Cast(pvt.[COA_Required] As bit) AS [cf_COA_Required]
	, Cast(pvt.[Customer Care Hold Req.] As bit) AS [cf_Customer Care Hold Req.]
	, Cast(pvt.[SFDC RecID] As nvarchar(6)) AS [cf_SFDC RecID]
	, Cast(pvt.[Shipments Require QA Release] As bit) AS [cf_Shipments Require QA Release]
	, Cast(pvt.[Shipments Require Special Documents] As bit) AS [cf_Shipments Require Special Documents]
	 FROM
		 ( SELECT t.[CustId], [Name], [Value]
		 FROM
			 ( SELECT t.[CustId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblArCust] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Backorder Threshold], [CCS Email], [Cert Statement], [COA_Required], [Customer Care Hold Req.], [SFDC RecID], [Shipments Require QA Release], [Shipments Require Special Documents])) AS pvt
) e on  t.[CustId] = e.[CustId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArCust_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArCust_view'
GO
