USE [005]
GO
/****** Object:  View [dbo].[trav_InTransactionItemLocation_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InTransactionItemLocation_view]
AS
SELECT h.TransId, h.TransType, h.BatchId, h.TransDate, h.SumYear, h.GLPeriod, h.ItemId, h.LocId, i.Descr, i.ProductLine, i.SalesCat, i.PriceId, i.TaxClass, l.ABCClass
FROM dbo.tblInTrans h LEFT JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 
	LEFT JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InTransactionItemLocation_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InTransactionItemLocation_view'
GO
