USE [005]
GO
/****** Object:  View [dbo].[trav_tblPoHistHeader_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblPoHistHeader_View]
AS
SELECT t.[ApprovedBy]
, t.[ApprovedDate]
, t.[BatchId]
, t.[CheckDate]
, t.[CurrencyID]
, t.[DistCode]
, t.[DropShipYn]
, t.[ExchRate]
, t.[ExpReceiptDate]
, t.[FOB]
, t.[GroupId]
, t.[HdrRef]
, t.[LocId]
, t.[MemoCheckNo]
, t.[MemoDisc]
, t.[MemoDiscFgn]
, t.[MemoDueDate1]
, t.[MemoDueDate2]
, t.[MemoDueDate3]
, t.[MemoFreight]
, t.[MemoFreightFgn]
, t.[MemoMisc]
, t.[MemoMiscFgn]
, t.[MemoNonTaxable]
, t.[MemoNonTaxableFgn]
, t.[MemoPmtAmt1]
, t.[MemoPmtAmt1Fgn]
, t.[MemoPmtAmt2]
, t.[MemoPmtAmt2Fgn]
, t.[MemoPmtAmt3]
, t.[MemoPmtAmt3Fgn]
, t.[MemoPrepaid]
, t.[MemoPrepaidFgn]
, t.[MemoSalesTax]
, t.[MemoSalesTaxFgn]
, t.[MemoTaxable]
, t.[MemoTaxableFgn]
, t.[MemoTaxAmt1]
, t.[MemoTaxAmt1Fgn]
, t.[MemoTaxAmt2]
, t.[MemoTaxAmt2Fgn]
, t.[MemoTaxAmt3]
, t.[MemoTaxAmt3Fgn]
, t.[MemoTaxAmt4]
, t.[MemoTaxAmt4Fgn]
, t.[MemoTaxAmt5]
, t.[MemoTaxAmt5Fgn]
, t.[MemoTaxClassFreight]
, t.[MemoTaxClassMisc]
, t.[MemoTaxLocID1]
, t.[MemoTaxLocID2]
, t.[MemoTaxLocID3]
, t.[MemoTaxLocID4]
, t.[MemoTaxLocID5]
, t.[Notes]
, t.[OrderedBy]
, t.[PostRun]
, t.[PrintDate]
, t.[PrintStatus]
, t.[ReceivedBy]
, t.[ReqShipDate]
, t.[RequestedBy]
, t.[RequestedDate]
, t.[RequestStatus]
, t.[ShippingType]
, t.[ShipToAddr1]
, t.[ShipToAddr2]
, t.[ShipToAttn]
, t.[ShipToCity]
, t.[ShipToCountry]
, t.[ShipToID]
, t.[ShipToName]
, t.[ShipToPostalCode]
, t.[ShipToRegion]
, t.[ShipVia]
, t.[TaxableYn]
, t.[TaxGrpID]
, t.[TaxGrpID2]
, t.[TermsCode]
, t.[TransDate]
, t.[TransId]
, t.[TransType]
, t.[VendorId]
, e.[cf_Revised Date]
 FROM dbo.[tblPoHistHeader] t
 LEFT JOIN
 ( SELECT pvt.[PostRun]
	, pvt.[TransId]
	, Cast(pvt.[Revised Date] As datetime) AS [cf_Revised Date]
	 FROM
		 ( SELECT t.[PostRun], t.[TransId], [Name], [Value]
		 FROM
			 ( SELECT t.[PostRun], t.[TransId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblPoHistHeader] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Revised Date])) AS pvt
) e on  t.[PostRun] = e.[PostRun] AND t.[TransId] = e.[TransId]
GO
