USE [005]
GO
/****** Object:  View [dbo].[trav_tblWmHistDetail_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblWmHistDetail_View]
AS
SELECT t.[ActivityType]
, t.[AppID]
, t.[BOLNum]
, t.[DeleteDate]
, t.[DeletedYn]
, t.[EntryDate]
, t.[EntryNum]
, t.[ExtHistSeqNum]
, t.[ExtLocA]
, t.[ExtLocAID]
, t.[ExtLocB]
, t.[ExtLocBID]
, t.[HistoryID]
, t.[HistorySerID]
, t.[HistSeqNum]
, t.[HistSeqNumSer]
, t.[HostId]
, t.[ItemId]
, t.[LocId]
, t.[Lotnum]
, t.[Notes]
, t.[Qty]
, t.[QtyBase]
, t.[ReferenceId]
, t.[Sernum]
, t.[Source]
, t.[Status]
, t.[TransDate]
, t.[TransId]
, t.[UID]
, t.[Unit]
, t.[UnitBase]
, t.[ZoneID]
, e.[cf_Production Order]
 FROM dbo.[tblWmHistDetail] t
 LEFT JOIN
 ( SELECT pvt.[ExtHistSeqNum]
	, Cast(pvt.[Production Order] As nvarchar(8)) AS [cf_Production Order]
	 FROM
		 ( SELECT t.[ExtHistSeqNum], [Name], [Value]
		 FROM
			 ( SELECT t.[ExtHistSeqNum]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblWmHistDetail] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Production Order])) AS pvt
) e on  t.[ExtHistSeqNum] = e.[ExtHistSeqNum]
GO
