USE [005]
GO
/****** Object:  View [dbo].[pvtPoOrderDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PET:http://webfront:801/view.php?id=244631

CREATE VIEW [dbo].[pvtPoOrderDetail]
AS

SELECT h.TransId, h.VendorId, h.TransDate, d.QtyOrd, d.ExtCost, d.UnitCost, d.ItemId, d.LocId,
	d.Descr, d.Units, v.Name,
	CASE h.TransType WHEN 1 THEN 'Goods Received' WHEN -1 THEN 'New Return'
		WHEN 2 THEN 'Invoice Received' WHEN -2 THEN 'Debit Memo' WHEN 9 THEN 'New Order' END AS [TransType], 
	CASE WHEN d.LineStatus = 0 THEN 'Open' ELSE 'Completed' END AS [LineStatus]
FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
	INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorID 
WHERE h.TransType <> 0



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoOrderDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoOrderDetail'
GO
