USE [005]
GO
/****** Object:  View [dbo].[trav_EcOutboundInvoiceHist_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_EcOutboundInvoiceHist_view]
AS
SELECT h.[PostRun], h.TransId, h.InvcNum, h.CustPONum, cp.PartnerID
FROM dbo.tblArHistHeader h 
LEFT JOIN 
(
	SELECT p.ID, p.PartnerID, p.DfltCustId AS [CustId]
	FROM dbo.tblEcPartner p
	WHERE ISNULL(p.ActiveYN,0) = 1
	UNION
	SELECT pp.ID, pp.PartnerID, o.CustId
	FROM dbo.tblEcPartnerDocOverride o
	INNER JOIN dbo.tblEcPartner pp ON o.PartnerId = pp.ID
	INNER JOIN dbo.tblEcDocument d ON d.ID = o.DocID
	WHERE (d.DocID='810-O' OR d.DocID='850-I') AND ISNULL(pp.ActiveYN,0) = 1
)cp ON h.CustId = cp.CustID 
LEFT JOIN  
(	SELECT ContextId AS ID, DefaultValue AS OptSendCreditMemoYN
	FROM dbo.tblSmUserDefaultValue 
	WHERE DefaultId = 'BB38EF40-97F2-4A4A-8EE4-7EBB099CC9C3' AND ContextType = 7
) cm ON cp.PartnerID = cm.ID
WHERE ISNULL(h.VoidYn,0) = 0 AND ((h.TransType = -1 AND ISNULL(cm.OptSendCreditMemoYN,'0') = '1') OR h.TransType > 0)
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundInvoiceHist_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundInvoiceHist_view'
GO
