USE [005]
GO
/****** Object:  View [dbo].[trav_tblArTransHeader_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblArTransHeader_view]
AS
SELECT t.[BatchId]
, t.[CurrencyID]
, t.[CustId]
, t.[CustPONum]
, t.[DiscAmt]
, t.[DiscAmtFgn]
, t.[DiscDueDate]
, t.[DistCode]
, t.[ExchRate]
, t.[FiscalYear]
, t.[Freight]
, t.[FreightFgn]
, t.[GeneralDelivery]
, t.[GLPeriod]
, t.[Hold]
, t.[InvcDate]
, t.[InvcNum]
, t.[LatitudeCoordinates]
, t.[LongitudeCoordinates]
, t.[Misc]
, t.[MiscFgn]
, t.[NetDueDate]
, t.[NonTaxSubtotal]
, t.[NonTaxSubtotalFgn]
, t.[OrderDate]
, t.[OrgInvcNum]
, t.[OrgInvoiceID]
, t.[PostDate]
, t.[PrintStatus]
, t.[Rep1CommRate]
, t.[Rep1Id]
, t.[Rep1Pct]
, t.[Rep2CommRate]
, t.[Rep2Id]
, t.[Rep2Pct]
, t.[SalesTax]
, t.[SalesTaxFgn]
, t.[ShipDate]
, t.[ShipMethod]
, t.[ShipNum]
, t.[ShipToAddr1]
, t.[ShipToAddr2]
, t.[ShipToAttn]
, t.[ShipToCity]
, t.[ShipToCountry]
, t.[ShipToID]
, t.[ShipToName]
, t.[ShipToPostalCode]
, t.[ShipToRegion]
, t.[ShipVia]
, t.[SourceId]
, t.[TaxableYN]
, t.[TaxAdj]
, t.[TaxAmtAdj]
, t.[TaxAmtAdjFgn]
, t.[TaxClassAdj]
, t.[TaxClassFreight]
, t.[TaxClassMisc]
, t.[TaxGrpID]
, t.[TaxGrpID2]
, t.[TaxLocAdj]
, t.[TaxOnFreight]
, t.[TaxSubtotal]
, t.[TaxSubtotalFgn]
, t.[TermsCode]
, t.[TotCost]
, t.[TotCostFgn]
, t.[TransId]
, t.[TransType]
, t.[ValidAddress]
, t.[VoidYn]
, t.[WhseId]
, e.[cf_Notes]
 FROM dbo.[tblArTransHeader] t
 LEFT JOIN
 ( SELECT pvt.[TransId]
	, Cast(pvt.[Notes] As nvarchar(max)) AS [cf_Notes]
	 FROM
		 ( SELECT t.[TransId], [Name], [Value]
		 FROM
			 ( SELECT t.[TransId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblArTransHeader] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Notes])) AS pvt
) e on  t.[TransId] = e.[TransId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArTransHeader_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblArTransHeader_view'
GO
