USE [005]
GO
/****** Object:  View [dbo].[trav_InHistoryItemLocation_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InHistoryItemLocation_view]
AS
SELECT h.HistSeqNum, h.ItemId, h.LocId, h.TransType, h.TransDate, h.GLPeriod, 
	h.SumYear, h.AppId, h.RefId, h.SrceID, h.Source, i.Descr, i.ProductLine, 
	i.SalesCat, i.PriceId, i.TaxClass, l.ABCClass, h.LotNum,
	CAST(CASE WHEN h.DeleteDate IS NULL THEN 0 ELSE 1 END AS BIT) Deleted
FROM dbo.tblInHistDetail h LEFT JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 
	LEFT JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId

	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InHistoryItemLocation_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InHistoryItemLocation_view'
GO
