USE [005]
GO
/****** Object:  View [dbo].[trav_PcActivity_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PcActivity_view]
AS
SELECT a.Id, a.[Status], a.Source, a.[Type], a.FiscalPeriod, a.FiscalYear, d.ProjectManager, d.[Status] AS ProjectStatus,
	a.ActivityDate, a.ResourceId, a.LocId, d.ProjectName, d.TaskId, d.PhaseId, d.[Description] AS ProjectDescription,
	a.[Description], d.CustId, d.Billable
FROM dbo.tblPcActivity a INNER JOIN dbo.trav_PcProjectTask_view d ON a.ProjectDetailId = d.Id

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PcActivity_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PcActivity_view'
GO
