USE [005]
GO
/****** Object:  View [dbo].[trav_BmBomItemLocation_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_BmBomItemLocation_view]
AS
SELECT b.BmBomId, i.ItemId, l.LocId, b.Descr, b.Uom, i.Descr AS ItemDescr, i.ProductLine, 
	i.SalesCat, i.PriceId, i.TaxClass, l.ABCClass, i.ItemType, i.ItemStatus, i.LottedYN,
	i.KittedYN, i.ResaleYN, HMRef, l.ItemLocStatus
FROM dbo.tblBmBom b INNER JOIN dbo.tblInItem i ON b.BmItemId = i.ItemId 
	INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId AND b.BmLocId = l.LocId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BmBomItemLocation_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BmBomItemLocation_view'
GO
