USE [005]
GO
/****** Object:  View [dbo].[pvtPoInvoiceTotals]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPoInvoiceTotals]
AS

SELECT InvcDate, InvcNum, TransId, GLPeriod, FiscalYear, CurrTaxable + PostTaxable AS Taxable, 
	CurrNonTaxable + PostNonTaxable AS NonTaxable, CurrSalesTax + PostSalesTax AS SalesTax, 
	CurrFreight + PostFreight AS Freight, CurrDisc + PostDisc AS Disc, CurrPrepaid + PostPrepaid AS Prepaid
FROM dbo.tblPoTransInvoiceTot



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoInvoiceTotals'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoInvoiceTotals'
GO
