USE [005]
GO
/****** Object:  View [dbo].[trav_SoBlanket_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[trav_SoBlanket_View]
AS
	SELECT  h.BlanketId,h.Rep1Id,h.Rep2Id,c.Status,i.TaxClass,c.TerrId,h.SoldToId,h.ShipToId,d.CatId,d.GLAcctSales,
	i.ProductLine,h.CustPONum,h.LocId,d.ItemId,c.GroupCode,h.DistCode,d.Descr,c.CustName,c.CustLevel,
	h.CurrencyId,h.ContractDate,c.ClassId,h.BlanketType,h.BlanketStatus,h.CustId,c.AcctType,c.PriceCode as CustPriceId, i.PriceId as ItemPriceId FROM dbo.tblSoSaleBlanket h  inner join dbo.tblSoSaleBlanketDetail d on d.BlanketRef = h.BlanketRef
			INNER JOIN dbo.tblArCust c ON h.CustId = c.CustId 
		LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		 





GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SoBlanket_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SoBlanket_View'
GO
