USE [005]
GO
/****** Object:  View [dbo].[trav_tblMpHistoryOrderReleases_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMpHistoryOrderReleases_View]
AS
SELECT t.[AssemblyId]
, t.[CustId]
, t.[EstCompletionDate]
, t.[EstStartDate]
, t.[LocId]
, t.[Notes]
, t.[OrderCode]
, t.[OrderNo]
, t.[OrderSource]
, t.[Planner]
, t.[PostRun]
, t.[Priority]
, t.[PurchaseOrder]
, t.[Qty]
, t.[ReleaseId]
, t.[ReleaseNo]
, t.[RevisionNo]
, t.[Routing]
, t.[SalesOrder]
, t.[Status]
, t.[UOM]
, e.[cf_Parent Order]
, e.[cf_SO Line No]
 FROM dbo.[tblMpHistoryOrderReleases] t
 LEFT JOIN
 ( SELECT pvt.[PostRun]
	, pvt.[ReleaseId]
	, Cast(pvt.[Parent Order] As nvarchar(8)) AS [cf_Parent Order]
	, Cast(pvt.[SO Line No] As nvarchar(max)) AS [cf_SO Line No]
	 FROM
		 ( SELECT t.[PostRun], t.[ReleaseId], [Name], [Value]
		 FROM
			 ( SELECT t.[PostRun], t.[ReleaseId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMpHistoryOrderReleases] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Parent Order], [SO Line No])) AS pvt
) e on  t.[PostRun] = e.[PostRun] AND t.[ReleaseId] = e.[ReleaseId]
GO
