USE [005]
GO
/****** Object:  View [dbo].[trav_ApManage1099Invoices_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[trav_ApManage1099Invoices_view] AS	
	SELECT [v].[VendorID],	    
	           [v].[Name],
	           [v].[PriorityCode],
	           [v].[VendorHoldYN],
	           [v].[VendorClass],
               [v].[DivisionCode],
               [v].[Ten99FormCode],
               [v].[Ten99FieldIndicator],		           
	           [h].[PostRun],
	           [hd].[InvoiceNum],
			   [hd].[ID],	       
	           [h].[PmtType],
	           [hd].[GrossAmtDueBase] GrossAmtDue,
	           [hd].[InvoiceDate],
	           [h].[PaymentDate] CheckDate,
	           [h].[PaymentNum] CheckNum,	       
	           [h].[GLCashAcct],
	           [h].[GLDiscAcct],	       
	           [hd].[GrossAmtDue] GrossAmtDueFgn,	           
	           [h].[CurrencyID],
	           [hd].[Ten99InvoiceYN],
	           [hd].[DistCode],	           
	           [h].[BankId],	
	           [h].[PaymentRun] CheckRun,
	           [hd].[DiscTakenBase] DiscTaken,
	           [hd].[DiscTaken] DiscTakenFgn,	       
	           [h].[FiscalPeriod] GlPeriod,
	           [h].[FiscalYear],
	           [h].[PayToName],
	           [h].[PayToAttn],
	           [h].[PayToAddr1],
	           [h].[PayToAddr2],
	           [h].[PayToCity],
	           [h].[PayToRegion],
	           [h].[PayToCountry],
	           [h].[PayToPostalCode],
	           [h].[CurrencyID] PmtCurrencyID,
	           ([hd].[GrossAmtDueBase] - hd.[DiscTakenBase] + hd.[GLGainLossAmtBase]) NetPaidCalc,
	           [h].[DeliveryType],
	           [h].[BankAcctNum],
	           [h].[RoutingCode],
	           [hd].[PaymentAmtBase] [PaymentAmount],
	           ([hd].[GrossAmtDueBase] - [hd].[DiscTakenBase] - ([hd].[GrossAmtDueBase] - hd.[DiscTakenBase] + hd.[GLGainLossAmtBase])) AS [GainLoss],
	           [hd].[PaymentAmt] AS [PaymentAmountFgn],
	           CAST(CASE WHEN ([t].[Ten99Amt] <> 0)
	                       OR ( ([t].[Ten99Amt] IS NULL) 
	                        AND ([hd].[Ten99InvoiceYN] = 1) )
	                     THEN 1
	                     ELSE 0 END AS BIT) AS [Current1099Invoice],
	           CASE WHEN ([t].[Ten99Amt] IS NOT NULL)
	                THEN [t].[Ten99Amt]
	                WHEN ([hd].[Ten99InvoiceYN] = 1)
	                THEN ([hd].[PaymentAmtBase])
		            ELSE 0 END AS [Ten99Amt],
			  CASE [h].[PaymentAmtBase] WHEN 0 THEN 1 ELSE CAST([h].[PaymentAmt]/[h].[PaymentAmtBase] AS decimal(28,10)) END AS PmtExchRate
FROM [dbo].tblApPaymentHistHeader h 
	INNER JOIN tblApPaymentHistDetail hd on hd.HeaderID = h.ID
--INNER JOIN  dbo.tblApOpenInvoice o on o.Counter = hd.InvoiceCounter 
INNER JOIN dbo.tblApVendor v ON h.VendorID = v.VendorID
	 LEFT JOIN [dbo].[tblApPaymentHistDetailTen99] [t]
	        ON ([t].[ID] = hd.ID) 
         WHERE ([v].[Ten99FormCode] <> '0')
           AND (h.VoidDate IS NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApManage1099Invoices_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApManage1099Invoices_view'
GO
