USE [005]
GO
/****** Object:  View [dbo].[genai_product]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_product]
AS
SELECT i.ItemId [product_id]
, i.Descr [description]
, a.AddlDescr [extended_description]
, i.UomBase [base_unit_of_measure]
, i.UomDflt [default_unit_of_measure]
, CASE i.KittedYN WHEN 0 THEN 'False' ELSE 'True' END [is_kit]
, CASE i.LottedYN WHEN 0 THEN 'False' ELSE 'True' END [is_lotted]
, i.PriceId [default_price_list]
, CASE i.ItemType WHEN 1 THEN 'Nonserialized' WHEN 2 THEN 'Serialized' WHEN 3 THEN 'Service' END [product_type]
, CASE i.ItemStatus WHEN 1 THEN 'Active' WHEN 2 THEN 'Discontinued' WHEN 3 THEN 'Superseded' WHEN 4 THEN 'Obsolete' END [item_status]
, i.SuperId [superseded_product_id]
, i.ProductLine [product_line]
, i.SalesCat [sales_category]
, h.HMCode [hazmat_code]
, i.CommodityCode [commodity_code]
FROM dbo.tblInItem i
LEFT JOIN dbo.tblInHazMat h ON i.HMRef = h.HMRef
LEFT JOIN dbo.tblInItemAddlDescr a ON i.ItemId = a.ItemId
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_product'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_product'
GO
