USE [005]
GO
/****** Object:  View [dbo].[trav_DrAssemblyInformation_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_DrAssemblyInformation_View]
AS
Select 0 AS [Type], a.[Id], a.[AssemblyId], a.[RevisionNo], a.[Description]
	, a.[MrpCode], a.[Engineer], a.[DfltRevYn]
	From [dbo].[tblMbAssemblyHeader] a
Union All
Select 1 AS [Type], b.[BmBomId] AS [Id], b.[BmItemId] AS [AssemblyId], NULL AS [RevisionNo], b.[Descr] AS [Description]
	, NULL AS [MrpCode], NULL AS [Engineer], 1 AS [DfltRevYn]
	From [dbo].[tblBmBom] b 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrAssemblyInformation_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrAssemblyInformation_View'
GO
