USE [005]
GO
/****** Object:  View [dbo].[pvtArCashReceipt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtArCashReceipt]
AS
SELECT dbo.tblArCashRcptHeader.BankID, dbo.tblArCashRcptHeader.DepositID, dbo.tblArCashRcptHeader.CheckNum, dbo.tblArCust.CustName
	, dbo.tblArCashRcptDetail.InvcNum, dbo.tblArCashRcptDetail.PmtAmt, dbo.tblArCashRcptHeader.PmtDate, dbo.tblArPmtMethod.[Desc]
	, dbo.tblArCashRcptHeader.RcptHeaderID
FROM dbo.tblArCashRcptHeader 
INNER JOIN dbo.tblArCashRcptDetail ON dbo.tblArCashRcptHeader.RcptHeaderID = dbo.tblArCashRcptDetail.RcptHeaderID 
INNER JOIN dbo.tblArCust ON dbo.tblArCashRcptHeader.CustId = dbo.tblArCust.CustId 
INNER JOIN dbo.tblArPmtMethod ON dbo.tblArCashRcptHeader.PmtMethodId = dbo.tblArPmtMethod.PmtMethodID

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArCashReceipt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArCashReceipt'
GO
