USE [005]
GO
/****** Object:  View [dbo].[trav_InItemOnHandLot_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemOnHandLot_view]
AS
SELECT ItemId, LocId, LotNum, Sum(Qty - InvoicedQty - RemoveQty) AS QtyOnHand, 
    Sum((Qty - InvoicedQty - RemoveQty) * Cost) AS Cost
FROM dbo.tblInQtyOnHand
GROUP BY ItemId, LocId, LotNum


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandLot_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandLot_view'
GO
