USE [005]
GO
/****** Object:  View [dbo].[trav_InItemOnHandLotExt_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemOnHandLotExt_view]
AS
SELECT  ItemId,LocId,LotNum,ExtLocA,ExtLocB,SUM(QtyOnHand) AS QtyOnHand
FROM 
(
SELECT ItemId,LocId,LotNum,NULL AS ExtLocA, NULL AS ExtLocB,
	SUM(Qty - InvoicedQty - RemoveQty) AS QtyOnHand
FROM dbo.tblInQtyOnHand 
GROUP BY ItemId,LocId,LotNum
UNION ALL
SELECT ItemId,LocId,LotNum,ExtLocA,ExtLocB,SUM(Qty) AS QtyOnHand
FROM dbo.tblInQtyOnHand_Ext
GROUP BY ItemId,LocId,LotNum,ExtLocA,ExtLocB 
UNION ALL
SELECT ItemId,LocId,LotNum,NULL AS ExtLocA,NULL AS ExtLocB,-SUM(Qty) AS QtyOnHand
FROM dbo.tblInQtyOnHand_Ext
GROUP BY ItemId,LocId,LotNum,ExtLocA,ExtLocB 
) q
GROUP BY ItemId,LocId,LotNum,ExtLocA,ExtLocB 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandLotExt_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemOnHandLotExt_view'
GO
