USE [005]
GO
/****** Object:  View [dbo].[trav_tblSoTransHeader_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblSoTransHeader_view]
AS
SELECT t.[ActShipDate]
, t.[ActualWeight]
, t.[BatchId]
, t.[BlanketRef]
, t.[CurrencyID]
, t.[CustId]
, t.[CustLevel]
, t.[CustPONum]
, t.[DeliverySurcharge]
, t.[DiscAmt]
, t.[DiscAmtFgn]
, t.[DiscDueDate]
, t.[DistCode]
, t.[ExchRate]
, t.[FiscalYear]
, t.[Freight]
, t.[FreightAccountNumber]
, t.[FreightFgn]
, t.[FreightTermID]
, t.[GeneralDelivery]
, t.[GlobalLocationNumber]
, t.[GLPeriod]
, t.[Hold]
, t.[InvcDate]
, t.[InvcNum]
, t.[LatitudeCoordinates]
, t.[Layaway]
, t.[LocId]
, t.[LongitudeCoordinates]
, t.[Misc]
, t.[MiscFgn]
, t.[NetDueDate]
, t.[NonTaxableSales]
, t.[NonTaxableSalesFgn]
, t.[Notes]
, t.[NumberOfPackage]
, t.[OrderState]
, t.[OrgInvcNum]
, t.[OrgInvoiceID]
, t.[PackNum]
, t.[PickNum]
, t.[PODate]
, t.[PostDate]
, t.[PrintAcknowStatus]
, t.[PrintInvcStatus]
, t.[PrintPackStatus]
, t.[PrintPickStatus]
, t.[Rep1CommRate]
, t.[Rep1Id]
, t.[Rep1Pct]
, t.[Rep2CommRate]
, t.[Rep2Id]
, t.[Rep2Pct]
, t.[ReqDeliveryDate]
, t.[ReqShipDate]
, t.[ResidentialYN]
, t.[SalesTax]
, t.[SalesTaxFgn]
, t.[ShipMethod]
, t.[ShipNum]
, t.[ShipToAddr1]
, t.[ShipToAddr2]
, t.[ShipToAttn]
, t.[ShipToCity]
, t.[ShipToCountry]
, t.[ShipToEmail]
, t.[ShipToFax]
, t.[ShipToID]
, t.[ShipToName]
, t.[ShipToPhone]
, t.[ShipToPostalCode]
, t.[ShipToRegion]
, t.[ShipVia]
, t.[SoldToId]
, t.[SourceId]
, t.[TaxableSales]
, t.[TaxableSalesFgn]
, t.[TaxableYN]
, t.[TaxAdj]
, t.[TaxAmtAdj]
, t.[TaxAmtAdjFgn]
, t.[TaxClassAdj]
, t.[TaxClassFreight]
, t.[TaxClassMisc]
, t.[TaxGrpID]
, t.[TaxGrpID2]
, t.[TaxLocAdj]
, t.[TaxOnFreight]
, t.[TermsCode]
, t.[TotalCharges]
, t.[TotCost]
, t.[TotCostFgn]
, t.[TransDate]
, t.[TransId]
, t.[TransType]
, t.[ValidAddress]
, t.[VoidYn]
, e.[cf_Packing List No]
, e.[cf_Shipping Terms]
 FROM dbo.[tblSoTransHeader] t
 LEFT JOIN
 ( SELECT pvt.[TransId]
	, Cast(pvt.[Packing List No] As nvarchar(max)) AS [cf_Packing List No]
	, Cast(pvt.[Shipping Terms] As nvarchar(8)) AS [cf_Shipping Terms]
	 FROM
		 ( SELECT t.[TransId], [Name], [Value]
		 FROM
			 ( SELECT t.[TransId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblSoTransHeader] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Packing List No], [Shipping Terms])) AS pvt
) e on  t.[TransId] = e.[TransId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblSoTransHeader_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblSoTransHeader_view'
GO
