USE [005]
GO
/****** Object:  View [dbo].[trav_tblSoSaleBlanketDetailSch_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblSoSaleBlanketDetailSch_View]
AS
SELECT t.[BlanketDtlRef]
, t.[BlanketDtlSchRef]
, t.[QtyOrdered]
, t.[ReleaseDate]
, t.[Status]
, e.[cf_Customer PO Line]
 FROM dbo.[tblSoSaleBlanketDetailSch] t
 LEFT JOIN
 ( SELECT pvt.[BlanketDtlRef]
	, pvt.[BlanketDtlSchRef]
	, Cast(pvt.[Customer PO Line] As nvarchar(max)) AS [cf_Customer PO Line]
	 FROM
		 ( SELECT t.[BlanketDtlRef], t.[BlanketDtlSchRef], [Name], [Value]
		 FROM
			 ( SELECT t.[BlanketDtlRef], t.[BlanketDtlSchRef]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblSoSaleBlanketDetailSch] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Customer PO Line])) AS pvt
) e on  t.[BlanketDtlRef] = e.[BlanketDtlRef] AND t.[BlanketDtlSchRef] = e.[BlanketDtlSchRef]
GO
