USE [005]
GO
/****** Object:  View [dbo].[trav_tblMpOrderReleases_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMpOrderReleases_view]
AS
SELECT t.[CustId]
, t.[EstCompletionDate]
, t.[EstStartDate]
, t.[Id]
, t.[Notes]
, t.[OrderCode]
, t.[OrderNo]
, t.[OrderSource]
, t.[Priority]
, t.[PurchaseOrder]
, t.[Qty]
, t.[ReleaseNo]
, t.[Routing]
, t.[SalesOrder]
, t.[Status]
, t.[UOM]
, e.[cf_Parent Order]
, e.[cf_Ready to Post]
, e.[cf_SO Line No]
 FROM dbo.[tblMpOrderReleases] t
 LEFT JOIN
 ( SELECT pvt.[Id]
	, Cast(pvt.[Parent Order] As nvarchar(8)) AS [cf_Parent Order]
	, Cast(pvt.[Ready to Post] As bit) AS [cf_Ready to Post]
	, Cast(pvt.[SO Line No] As nvarchar(max)) AS [cf_SO Line No]
	 FROM
		 ( SELECT t.[Id], [Name], [Value]
		 FROM
			 ( SELECT t.[Id]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMpOrderReleases] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Parent Order], [Ready to Post], [SO Line No])) AS pvt
) e on  t.[Id] = e.[Id]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblMpOrderReleases_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblMpOrderReleases_view'
GO
