USE [005]
GO
/****** Object:  View [dbo].[trav_EcInboundDocument_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_EcInboundDocument_view]
AS

SELECT m.ID, m.ImportBatchId, m.KeyLevelSeq1,
	   p.PartnerID, p.PartnerName, d.DocId, d.EdiDocNum, d.DocDescr, m.DocKey, m.DocAddnlRef1,
	   m.SenderID, m.SenderIDGS, m.ReceiverID, m.ReceiverIDGS,
	   m.ISAControlNum, m.GSControlNum, m.STControlNum, m.SendDate, m.SendTime
FROM  dbo.tblEcMailControl m
INNER JOIN dbo.tblEcDocument d ON m.DocId = d.ID
LEFT JOIN dbo.tblEcPartner p ON m.PartnerId = p.ID
WHERE ISNULL(d.DocDirection, 0) = 0 AND ISNULL(d.ActiveYn,0) = 1 AND (p.ID IS NULL OR ISNULL(p.ActiveYn,0) = 1 )
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcInboundDocument_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcInboundDocument_view'
GO
