USE [005]
GO
/****** Object:  View [dbo].[trav_tblMrOperations_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMrOperations_view]
AS
SELECT t.[Descr]
, t.[DfltTo]
, t.[LaborRunTime]
, t.[LaborRunTimeIn]
, t.[LaborSetup]
, t.[LaborSetupIn]
, t.[LaborTypeId]
, t.[MachineGroupId]
, t.[MachRunTime]
, t.[MachRunTimeIn]
, t.[MachSetup]
, t.[MachSetupIn]
, t.[MaxQuantity]
, t.[MGID]
, t.[MoveTime]
, t.[MoveTimeIn]
, t.[Notes]
, t.[OperationId]
, t.[QueueTime]
, t.[QueueTimeIn]
, t.[ReqEmployees]
, t.[SetupLaborTypeId]
, t.[Type]
, t.[WaitTime]
, t.[WaitTimeIn]
, t.[WorkCenterId]
, t.[YieldPct]
, e.[cf_Conditional Supporting Operation]
, e.[cf_Issue Material to Operation]
, e.[cf_Operation Method]
, e.[cf_Require No. of Cuts on Production Order]
 FROM dbo.[tblMrOperations] t
 LEFT JOIN
 ( SELECT pvt.[OperationId]
	, Cast(pvt.[Conditional Supporting Operation] As bit) AS [cf_Conditional Supporting Operation]
	, Cast(pvt.[Issue Material to Operation] As bit) AS [cf_Issue Material to Operation]
	, Cast(pvt.[Operation Method] As nvarchar(max)) AS [cf_Operation Method]
	, Cast(pvt.[Require No. of Cuts on Production Order] As bit) AS [cf_Require No. of Cuts on Production Order]
	 FROM
		 ( SELECT t.[OperationId], [Name], [Value]
		 FROM
			 ( SELECT t.[OperationId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMrOperations] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Conditional Supporting Operation], [Issue Material to Operation], [Operation Method], [Require No. of Cuts on Production Order])) AS pvt
) e on  t.[OperationId] = e.[OperationId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblMrOperations_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblMrOperations_view'
GO
