USE [005]
GO
/****** Object:  View [dbo].[trav_ArPaymentMethodDetail_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArPaymentMethodDetail_view] AS

         SELECT detail.PmtMethodId AS PaymentMethodId,
                detail.FiscalYear,
                detail.GLPeriod AS FiscalPeriod,
                SUM(ISNULL(detail.PmtAmt, 0) ) AS TotalPayments
           FROM dbo.tblArHistPmt detail
     INNER JOIN dbo.tblArPmtMethod header -- only return detail for current payment methods
             ON detail.PmtMethodId = header.PmtMethodID
		  WHERE detail.VoidYn = 0
       GROUP BY detail.PmtMethodId, detail.FiscalYear, detail.GlPeriod

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArPaymentMethodDetail_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArPaymentMethodDetail_view'
GO
