USE [005]
GO
/****** Object:  View [dbo].[pvtSoSalesJournal]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[pvtSoSalesJournal]
AS
SELECT dbo.tblSoTransHeader.TransId, dbo.tblSoTransHeader.BatchId
	, CASE dbo.tblSoTransHeader.TransType 
		WHEN 1 THEN (CASE WHEN dbo.tblSoTransHeader.Layaway = 1 THEN 'Layaway' ELSE 'Invoice' END) 
		WHEN 2 THEN 'Price Quote' 
		WHEN 3 THEN 'Backordered' 
		WHEN 4 THEN 'Verified' 
		WHEN 9 THEN 'New' 
		WHEN 5 THEN 'Picked' 
		WHEN -1 THEN 'Credit Memo' 
		WHEN -2 THEN 'RMA'
		END AS [TransType]
	, dbo.tblSoTransHeader.CustId, dbo.tblSoTransHeader.SoldToId, dbo.tblSoTransDetail.EntryNum
	, CASE WHEN dbo.tblSoTransDetail.ItemJob = 0 THEN dbo.tblSoTransDetail.ItemId ELSE dbo.tblSoTransDetail.JobId END AS [Item$]
	, dbo.tblSoTransDetail.Descr, dbo.tblSoTransDetail.UnitsSell, dbo.tblSoTransDetail.QtyOrdSell, dbo.tblSoTransDetail.QtyShipSell
	, dbo.tblSoTransDetail.QtyBackordSell, dbo.tblSoTransDetail.UnitCostSell, dbo.tblSoTransDetail.UnitPriceSell 
FROM dbo.tblSoTransHeader INNER JOIN dbo.tblSoTransDetail ON dbo.tblSoTransHeader.TransId = dbo.tblSoTransDetail.TransID 
WHERE dbo.tblSoTransDetail.[Status] = 0 AND VoidYn = 0
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtSoSalesJournal'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtSoSalesJournal'
GO
