USE [005]
GO
/****** Object:  View [dbo].[trav_ArCustomerHistoryOffset_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ArCustomerHistoryOffset_view]
AS

	--Offset entries for history where the Sold To and Bill To are not the same
	SELECT h.CustId, h.SoldToId, h.FiscalYear, h.GlPeriod
		, SUM(SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn)) AS Sales
		, SUM(SIGN(h.TransType) * h.TotCostFgn) AS COGS
		, SUM(SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn - h.TotCostFgn)) AS Profit
		, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) AS NumInvc
		, h.CurrencyID 
	FROM dbo.tblArHistHeader h 
	WHERE h.SoldToId <> h.CustId AND VoidYn = 0
	GROUP BY h.CustId, h.SoldToId, h.FiscalYear, h.GlPeriod, h.CurrencyID
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArCustomerHistoryOffset_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ArCustomerHistoryOffset_view'
GO
