USE [005]
GO
/****** Object:  View [dbo].[trav_tblMbAssemblyDetail_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblMbAssemblyDetail_View]
AS
SELECT t.[Backflushed]
, t.[ComponentId]
, t.[CompRevisionNo]
, t.[CostGroupId]
, t.[Description]
, t.[DetailType]
, t.[HeaderId]
, t.[Id]
, t.[LocId]
, t.[MGID]
, t.[Notes]
, t.[Qty]
, t.[RoutingId]
, t.[ScrapPct]
, t.[Sequence]
, t.[UnitCost]
, t.[UOM]
, t.[UsageType]
, e.[cf_Do not show on MES Issue-Load Forms]
, e.[cf_Max Lots Allowed]
, e.[cf_Only Issue to Production Order]
 FROM dbo.[tblMbAssemblyDetail] t
 LEFT JOIN
 ( SELECT pvt.[Id]
	, Cast(pvt.[Do not show on MES Issue-Load Forms] As bit) AS [cf_Do not show on MES Issue-Load Forms]
	, Cast(pvt.[Max Lots Allowed] As nvarchar(max)) AS [cf_Max Lots Allowed]
	, Cast(pvt.[Only Issue to Production Order] As bit) AS [cf_Only Issue to Production Order]
	 FROM
		 ( SELECT t.[Id], [Name], [Value]
		 FROM
			 ( SELECT t.[Id]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblMbAssemblyDetail] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Do not show on MES Issue-Load Forms], [Max Lots Allowed], [Only Issue to Production Order])) AS pvt
) e on  t.[Id] = e.[Id]
GO
