USE [005]
GO
/****** Object:  View [dbo].[pvtSoRecurring]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtSoRecurring]
AS
SELECT dbo.tblArRecurHeader.RecurID, dbo.tblArRecurHeader.StartingDate, dbo.tblArRecurHeader.EndingDate
	, dbo.tblArRecurHeader.CustId, dbo.tblArRecurDetail.EntryNum
	, dbo.tblArRecurDetail.ItemId as [Item$]
	, dbo.tblArRecurDetail.Units AS [UnitsSell], dbo.tblArRecurDetail.Quantity AS [QtyOrdSell]
	, dbo.tblArRecurDetail.UnitPrice AS [UnitPriceSell], dbo.tblArRecurDetail.UnitCost AS [UnitCostSell]
	, dbo.tblArCust.CustName
FROM dbo.tblArRecurHeader 
INNER JOIN dbo.tblArRecurDetail ON dbo.tblArRecurHeader.RecurID = dbo.tblArRecurDetail.RecurID 
INNER JOIN dbo.tblArCust ON dbo.tblArRecurHeader.CustId = dbo.tblArCust.CustId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtSoRecurring'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtSoRecurring'
GO
