USE [005]
GO
/****** Object:  View [dbo].[trav_tblWmExtLoc_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblWmExtLoc_view]
AS
SELECT t.[Descr]
, t.[ExtLocARef]
, t.[ExtLocID]
, t.[ExtLocTypeID]
, t.[Id]
, t.[LocID]
, t.[Type]
, t.[ZoneID]
, e.[cf_Bin Type]
, e.[cf_Physical Location]
 FROM dbo.[tblWmExtLoc] t
 LEFT JOIN
 ( SELECT pvt.[Id]
	, Cast(pvt.[Bin Type] As nvarchar(max)) AS [cf_Bin Type]
	, Cast(pvt.[Physical Location] As nvarchar(10)) AS [cf_Physical Location]
	 FROM
		 ( SELECT t.[Id], [Name], [Value]
		 FROM
			 ( SELECT t.[Id]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblWmExtLoc] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Bin Type], [Physical Location])) AS pvt
) e on  t.[Id] = e.[Id]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblWmExtLoc_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblWmExtLoc_view'
GO
