USE [005]
GO
/****** Object:  View [dbo].[_RCG_trav_AssignCashReceipt_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[_RCG_trav_AssignCashReceipt_View]
AS

select 
	i.[Id]
      ,i.[FileType]
      ,i.[AcctOrEnvNum1]
      ,i.[AcctOrEnvNum2]
      ,i.[CompName]
      ,i.[CurrencyType]
      ,i.[TransNo]
      ,i.[TransDate]
      ,i.[BankCode]
      ,i.[Amt1]
      ,i.[Amt2]
      ,i.[Amt3]
      ,i.[Amt4]
      ,i.[CustRefNo1]
      ,i.[CustRefNo2]
      ,i.[Note]
      ,i.[LockBox]
      ,i.[Batch]
      ,i.[BatchItem]
      ,i.[CheckNum]
      ,i.[TransType]
      ,d.TotalAssigned
      ,d.TransCount

from _RCG_tblRcBankFileImport i 
	left join (select BankFileImportId,sum(amt) as TotalAssigned,count(isnull(BankFileImportId,0)) as TransCount from _RCG_tblRcBankTransDetail group by BankFileImportId) as  d on d.BankFileImportId=i.id



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'_RCG_trav_AssignCashReceipt_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'_RCG_trav_AssignCashReceipt_View'
GO
