USE [005]
GO
/****** Object:  View [dbo].[trav_WMSReceiveDocument_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_WMSReceiveDocument_view]
AS
	SELECT p.TransId AS OrderNo, 0 AS [Source], p.VendorId AS ReferenceId, v.[Name] AS ReferenceName, p.TransDate, p.ReqShipDate, p.OrderedBy[UserID]
	FROM dbo.tblPoTransHeader p 
	LEFT JOIN dbo.tblApVendor v ON p.VendorId = v.VendorID
	WHERE TransType > 0 AND p.TransId IN
	(
		SELECT d .TransId
		FROM dbo.tblPoTransHeader h (NOLOCK) 
		INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON h.TransId = d.TransID 
		LEFT JOIN 
		(
			SELECT t.TransID, r.EntryNum, SUM(r.QtyFilled) QtyRcptTot
			FROM dbo.tblPoTransLotRcpt r (NOLOCK) 
			INNER JOIN dbo.tblPoTransReceipt t (NOLOCK) ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
			GROUP BY t.TransID, r.EntryNum
		) r ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
		LEFT JOIN dbo.tblInItem i (NOLOCK) ON d.ItemId = i.ItemId 
		LEFT JOIN dbo.tblSmTransLink l (NOLOCK) ON d.LinkSeqNum = l.SeqNum
		WHERE h.TransType > 0 AND d.ItemType IN (0, 1, 2) AND d.LineStatus = 0 AND d.QtyOrd > ISNULL(r.QtyRcptTot, 0) 
		AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR (l.TransLinkType = 0 AND l.DropShipYn = 0))
	) --Purchase, Regular/Serialized, Open, (link is broken or (transaction linked and not DropShipped))

	UNION 

	SELECT ISNULL(PackNum, BatchId) AS OrderNo, 1 AS [Source], w.LocId AS ReferenceId,l.Descr as ReferenceName, MIN(w.TransDate) AS TransDate, MIN(w.TransDate) ReqShipDate, NULL [UserID]
	FROM dbo.tblWmTransfer w
	INNER JOIN dbo.tblWmTransferPick d (NOLOCK) ON w.TranKey = d.Trankey 
	LEFT JOIN 
	(
		SELECT p.TranPickKey, SUM(r.Qty * ru.Convfactor / pu.Convfactor) QtyRcptTot,p.LotNum 
		FROM dbo.tblWmTransferPick p (NOLOCK)
		INNER JOIN dbo.tblWmTransferRcpt r (NOLOCK) ON p.TranPickKey = r.TranPickKey 
		INNER JOIN dbo.tblInItemUom pu (NOLOCK) ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom 
		INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom  
		GROUP BY p.TranPickKey,p.LotNum
	) pr ON d.TranPickKey = pr.TranPickKey 
	LEFT JOIN dbo.tblInLoc l ON l.LocId = w.LocId
	WHERE w.[Status] IN (0, 1) AND d.Qty > ISNULL(pr.QtyRcptTot, 0)
	GROUP BY ISNULL(PackNum, BatchId), w.LocId,l.Descr

	UNION 

	SELECT h.ReqNum AS OrderNo, 8 AS [Source], h.ReqstdBy AS ReferenceId, NULL as ReferenceName, h.DatePlaced TransDate, h.DateNeeded ReqShipDate, NULL [UserID]
	FROM dbo.tblWmMatReq h
	INNER JOIN dbo.tblWmMatReqRequest d (NOLOCK) ON h.TranKey = d.TranKey
	LEFT JOIN 
	(
		SELECT p.TranKey,p.LineNum, SUM(r.Qty * ru.Convfactor / pu.Convfactor) QtyRcptTot 
		FROM dbo.tblWmMatReqRequest p (NOLOCK) 
		INNER JOIN dbo.tblWmMatReqFilled r (NOLOCK) ON p.TranKey = r.TranKey AND p.LineNum = r.LineNum
		INNER JOIN dbo.tblInItemUom pu (NOLOCK) ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom
		INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom
		GROUP BY p.TranKey,p.LineNum
	) pr ON d.TranKey = pr.TranKey and pr.LineNum = d.LineNum
	WHERE ReqType = -1 AND d.Qty > ISNULL(pr.QtyRcptTot, 0)
	GROUP BY ReqNum, ReqstdBy,DatePlaced,DateNeeded

	UNION

	SELECT ISNULL(so.InvcNum, so.TransId) AS OrderNo, 16 AS [Source], so.CustId AS ReferenceId,MAX(c.CustName) ReferenceName, so.TransDate, so.ReqShipDate, MAX(so.Rep1Id) [UserID]
	FROM dbo.tblSoTransHeader so
	INNER JOIN dbo.tblSoTransDetail dt ON so.TransId = dt.TransID
	LEFT JOIN dbo.tblArCust c ON so.CustId = c.CustId
	WHERE so.TransType = -2 AND so.[VoidYn] = 0 AND dt.QtyOrdSell > isnull(dt.QtyShipSell, 0)
	GROUP BY ISNULL(so.InvcNum, so.TransId), so.CustId, so.TransDate, so.ReqShipDate

	UNION

	SELECT p.ProjectName AS OrderNo, 32 AS [Source], p.CustId AS ReferenceId,c.CustName AS ReferenceName,TransDate, TransDate ReqShipDate, NULL [UserID]
	FROM dbo.tblPcTrans t 
	INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	LEFT JOIN dbo.tblArCust c ON p.CustId = c.CustId
	WHERE t.TransType = 1 --Material Return
	AND t.QtyNeed > t.QtyFilled
	GROUP BY p.ProjectName, p.CustId, c.CustName, TransDate

	UNION

	SELECT w.WorkOrderNo AS OrderNo,64 as [Source],w.CustID  AS ReferenceId,c.CustName AS ReferenceName,t.TransDate, TransDate ReqShipDate, NULL [UserID]
	FROM dbo.tblSvWorkOrderDispatch d
	INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
	INNER JOIN dbo.tblSvWorkOrderTrans t ON w.ID = t.WorkOrderID
	LEFT JOIN dbo.tblArCust c ON w.CustID = c.CustId
	WHERE (d.[Status] <> 2 OR d.[Status] <> 3 ) AND t.[Status] <> 1 AND t.TransType = 5 AND t.QtyEstimated > t.QtyUsed
	GROUP BY WorkOrderNo,w.CustID, c.CustName,t.TransDate

	UNION

	SELECT ds.OrderNo AS OrderNo, 2 as [Source],ds.CustId AS ReferenceId,ds.CustName AS ReferenceName,NULL AS TransDate, NULL AS ReqShipDate,  NULL [UserID]
	FROM 
	(
		SELECT rel.OrderNo, rel.ReleaseNo,rel.CustId,c.CustName
		FROM dbo.tblMpOrderReleases rel 
		INNER JOIN  dbo.tblMpRequirements req ON rel.Id=req.ReleaseId 
		INNER JOIN dbo.tblMpMatlSum s ON req.TransId =s.TransId
		LEFT JOIN 
		(
			SELECT s.TransId, SUM(d.Qty * du.Convfactor / su.Convfactor) QtyRcptTot 
			FROM dbo.tblMpMatlSum s
			INNER JOIN dbo.tblMpMatlDtl d (NOLOCK) ON s.TransId = d.TransId 
			LEFT Join tblInItemUom su ON (s.ComponentId =su.ItemId AND s.UOM =su.Uom) 
			LEFT Join tblInItemUom du ON (d.ComponentId =du.ItemId AND d.UOM =du.Uom) 
			GROUP BY s.TransID
		)r ON s.TransId = r.TransId  
		LEFT JOIN dbo.tblArCust c ON rel.CustID = c.CustId
		WHERE rel.[Status] <> 6 AND ((s.ComponentType = 5 AND s.[Status] <> 6) OR s.ComponentType = 0) AND s.EstQtyRequired > isnull(r.QtyRcptTot, 0)
		GROUP BY rel.OrderNo, rel.ReleaseNo,rel.CustId,c.CustName
	) ds
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WMSReceiveDocument_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WMSReceiveDocument_view'
GO
