USE [005]
GO
/****** Object:  View [dbo].[pvtArItemHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtArItemHist]
AS
SELECT td.PartId, th.FiscalYear AS [Year], th.SumHistPeriod AS Period
	, MAX(td.UnitsBase) BaseUnit
	, ISNULL(SUM(QtyShipBase * SIGN(TransType)), 0) Qty
	, ISNULL(SUM(PriceExt * SIGN(TransType)), 0) TotSales
	, ISNULL(SUM(CostExt * SIGN(TransType)), 0) TotCogs
	, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) NumInvc 
	FROM dbo.tblArHistHeader th 
	INNER JOIN dbo.tblArHistDetail td ON th.PostRun = td.PostRun AND th.TransId = td.TransId 
	WHERE th.VoidYn = 0
	GROUP BY td.PartId, td.JobID, th.FiscalYear, th.SumHistPeriod
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArItemHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArItemHist'
GO
