USE [005]
GO
/****** Object:  View [dbo].[pvtInBinAnalysis]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInBinAnalysis]
AS

SELECT b.BinNum, b.ItemId, i.Descr, b.LocId, b.LastCountTagNum, b.LastCountUom, b.LastCountDate, b.LastCountQty
FROM dbo.tblInItemLocBin b INNER JOIN dbo.tblInItem i ON b.ItemId = i.ItemId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInBinAnalysis'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInBinAnalysis'
GO
