USE [005]
GO
/****** Object:  View [dbo].[trav_InItemLocCostBracket_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemLocCostBracket_view]
AS
select ItemId,LocId,LotNum,Max(Entrydate) AS InitialDate,Cost,cast(SUM(Qty - InvoicedQty - RemoveQty) as float) AS Qty,
	cast(SUM(Qty - InvoicedQty - RemoveQty)*Cost as float) AS CostExt
FROM dbo.tblinqtyonhand
WHERE (Qty - InvoicedQty - RemoveQty) <> 0
GROUP BY ItemId,LocId,LotNum,EntryID,Cost


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemLocCostBracket_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemLocCostBracket_view'
GO
