USE [005]
GO
/****** Object:  View [dbo].[_RCG_trav_OpenInvoice_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[_RCG_trav_OpenInvoice_view] AS

--This is the invoice drop down view in Assign Cash Receipts - this view is needed in all companies that will be paying invoices

select [Counter]
		,InvcNum
		,InvcType
		,TransDate
		,NetDueDate
		,Amt
		,CustPONum
		,CustId
		,DiscAmt
		,DiscDueDate

from
(

select [Counter], InvcNum, 
	case when RecType=1 then 'Invoice'
		when RecType=4 then 'Finance Charge'
		when RecType=5 then 'Pro Forma'
		when RecType=-1 then 'Credit'
		when RecType=-2 then 'Payment'
		when RecType=-3 then 'Gain/Loss'
	end as InvcType

	, TransDate
	, NetDueDate
	, Amt
	, CustPONum
	, CustId
	, DiscAmt
	,DiscDueDate

	from tblaropeninvoice where [status]<>4-- and invcnum='177734';

) as dv
-- only pull in invoices with totals that don't equal 0
where dv.InvcNum in 
	(select InvcNum 
		from tblArOpenInvoice group by custId,invcNum having sum(sign(rectype)*amt)<>0)

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'_RCG_trav_OpenInvoice_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'_RCG_trav_OpenInvoice_view'
GO
