USE [005]
GO
/****** Object:  View [dbo].[_vwtblApCheckHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[_vwtblApCheckHist]
AS
SELECT        H.ID, H.PostRun, H.PaymentID, H.BatchId, H.VendorID, H.PmtType, H.PaymentDate, H.PaymentRun, H.PaymentNum, H.PaymentAmt, H.PaymentAmtBase, H.CurrencyID, H.BankId, H.BankAcctNum, H.RoutingCode, 
                         H.FiscalPeriod, H.FiscalYear, H.PayToName, H.PayToAttn, H.PayToAddr1, H.PayToAddr2, H.PayToCity, H.PayToRegion, H.PayToCountry, H.PayToPostalCode, H.DeliveryType, H.GLCashAcct, H.GLDiscAcct, H.VoidDate, 
                         H.VoidFiscalPeriod, H.VoidFiscalYear, H.BankAccountType, D.HeaderID, D.InvoiceCounter, D.InvoiceDate, D.InvoiceNum, D.DistCode, D.TermsCode, D.CurrencyID AS Expr2, D.NetDueDate, D.DiscDueDate, D.GrossAmtDue, 
                         D.GrossAmtDueBase, D.DiscLost, D.DiscLostBase, D.DiscTaken, D.DiscTakenBase, D.PaymentAmt AS Expr3, D.PaymentAmtBase AS Expr4, D.GLAcctAP, D.GLPayableAmt, D.GLPayableAmtBase, D.GLDiscAmt, 
                         D.GLDiscAmtBase, D.GLAcctGainLoss, D.GLGainLossAmt, D.GLGainLossAmtBase, D.Ten99InvoiceYN, D.BaseGrossAmtDue, D.APGrossAmtDue, D.AdjAmt, D.AdjAmtFgn
FROM            dbo.tblApPaymentHistHeader AS H INNER JOIN
                         dbo.tblApPaymentHistDetail AS D ON D.HeaderID = H.ID
GO
