USE [005]
GO
/****** Object:  View [dbo].[pvtPoTaxReport]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPoTaxReport]
AS

SELECT t.TaxLocID, t.InvcNum, t.TaxClass, t.CurrTaxable, t.CurrNonTaxable, t.CurrTaxAmt, 
	t.CurrRefundable, h.VendorId, t.TransId, t.ExpAcct, c.[Desc]
FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblPoTransInvoiceTax t ON h.TransId = t.TransId 
	INNER JOIN dbo.tblSmTaxClass c ON t.TaxClass = c.TaxClassCode



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoTaxReport'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPoTaxReport'
GO
