USE [005]
GO
/****** Object:  View [dbo].[trav_tblSoSaleBlanketDetail_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblSoSaleBlanketDetail_View]
AS
SELECT t.[AcctCode]
, t.[AddnlDescr]
, t.[BlanketDtlRef]
, t.[BlanketRef]
, t.[CatId]
, t.[CostExt]
, t.[CustomerPartNumber]
, t.[Descr]
, t.[GLAcctCOGS]
, t.[GLAcctInv]
, t.[GLAcctSales]
, t.[GrpId]
, t.[ItemId]
, t.[LineSeq]
, t.[LocId]
, t.[LotNum]
, t.[PriceExt]
, t.[PriceId]
, t.[PromoId]
, t.[QtyOrdered]
, t.[QtyReleased]
, t.[Rep1CommRate]
, t.[Rep1Id]
, t.[Rep1Pct]
, t.[Rep2CommRate]
, t.[Rep2Id]
, t.[Rep2Pct]
, t.[TaxClass]
, t.[UnitCommBasis]
, t.[UnitCost]
, t.[UnitPrice]
, t.[Units]
, e.[cf_Customer PO Line]
, e.[cf_Customer PO#]
, e.[cf_Customer Revision No]
, e.[cf_Revision No]
 FROM dbo.[tblSoSaleBlanketDetail] t
 LEFT JOIN
 ( SELECT pvt.[BlanketDtlRef]
	, pvt.[BlanketRef]
	, Cast(pvt.[Customer PO Line] As nvarchar(max)) AS [cf_Customer PO Line]
	, Cast(pvt.[Customer PO#] As nvarchar(75)) AS [cf_Customer PO#]
	, Cast(pvt.[Customer Revision No] As nvarchar(11)) AS [cf_Customer Revision No]
	, Cast(pvt.[Revision No] As nvarchar(3)) AS [cf_Revision No]
	 FROM
		 ( SELECT t.[BlanketDtlRef], t.[BlanketRef], [Name], [Value]
		 FROM
			 ( SELECT t.[BlanketDtlRef], t.[BlanketRef]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblSoSaleBlanketDetail] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Customer PO Line], [Customer PO#], [Customer Revision No], [Revision No])) AS pvt
) e on  t.[BlanketDtlRef] = e.[BlanketDtlRef] AND t.[BlanketRef] = e.[BlanketRef]
GO
