USE [005]
GO
/****** Object:  View [dbo].[trav_ApVendorDetail_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApVendorDetail_View]
AS
	SELECT v.VendorID, [Name], v.[Status], VendorClass, v.DistCode, v.DivisionCode, PriorityCode, VendorHoldYN, 
		h.PostRun, h.TransId, h.InvoiceNum, InvoiceDate, PONum, d.EntryNum, d.GLAcct,d.WhseId, d.PartId, d.PartType, JobId
	FROM dbo.tblApVendor AS v 
		INNER JOIN dbo.tblApHistHeader AS h ON v.VendorID = h.VendorId
		INNER JOIN dbo.tblApHistDetail AS d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum
	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApVendorDetail_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApVendorDetail_View'
GO
