USE [005]
GO
/****** Object:  View [dbo].[pvtArPmtHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtArPmtHist]
AS
SELECT BankID, FiscalYear, GLPeriod, PmtMethodId, InvcNum, CustId, PmtDate, CheckNum, PmtAmt
FROM dbo.tblArHistPmt
WHERE VoidYn = 0
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArPmtHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArPmtHist'
GO
