USE [005]
GO
/****** Object:  View [dbo].[trav_tblSoSaleBlanket_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblSoSaleBlanket_View]
AS
SELECT t.[BatchId]
, t.[BlanketId]
, t.[BlanketRef]
, t.[BlanketStatus]
, t.[BlanketType]
, t.[CloseDate]
, t.[ContractAmount]
, t.[ContractDate]
, t.[CurrencyId]
, t.[CustId]
, t.[CustLevel]
, t.[CustPONum]
, t.[DeliverySurcharge]
, t.[DistCode]
, t.[ExpireDate]
, t.[Freight]
, t.[FreightAccountNumber]
, t.[FreightTermID]
, t.[GlobalLocationNumber]
, t.[LocId]
, t.[Misc]
, t.[Notes]
, t.[PODate]
, t.[Rep1CommRate]
, t.[Rep1Id]
, t.[Rep1Pct]
, t.[Rep2CommRate]
, t.[Rep2Id]
, t.[Rep2Pct]
, t.[ResidentialYN]
, t.[ShipMethod]
, t.[ShipToAddr1]
, t.[ShipToAddr2]
, t.[ShipToAttn]
, t.[ShipToCity]
, t.[ShipToCountry]
, t.[ShipToId]
, t.[ShipToName]
, t.[ShipToPhone]
, t.[ShipToPostalCode]
, t.[ShipToRegion]
, t.[ShipVia]
, t.[SoldToId]
, t.[Subtotal]
, t.[TaxableYN]
, t.[TaxClassFreight]
, t.[TaxClassMisc]
, t.[TaxGrpId]
, t.[TaxGrpID2]
, t.[TaxOnFreight]
, t.[TermsCode]
, e.[cf_Revised Date]
, e.[cf_Ship Number]
, e.[cf_Shipping Terms]
 FROM dbo.[tblSoSaleBlanket] t
 LEFT JOIN
 ( SELECT pvt.[BlanketRef]
	, Cast(pvt.[Revised Date] As datetime) AS [cf_Revised Date]
	, Cast(pvt.[Ship Number] As nvarchar(30)) AS [cf_Ship Number]
	, Cast(pvt.[Shipping Terms] As nvarchar(8)) AS [cf_Shipping Terms]
	 FROM
		 ( SELECT t.[BlanketRef], [Name], [Value]
		 FROM
			 ( SELECT t.[BlanketRef]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblSoSaleBlanket] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Revised Date], [Ship Number], [Shipping Terms])) AS pvt
) e on  t.[BlanketRef] = e.[BlanketRef]
GO
