USE [005]
GO
/****** Object:  View [dbo].[trav_tblPoTransReceipt_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblPoTransReceipt_View]
AS
SELECT t.[BOLNum]
, t.[ExchRate]
, t.[FiscalYear]
, t.[GlPeriod]
, t.[ID]
, t.[Notes]
, t.[ReceiptDate]
, t.[ReceiptNum]
, t.[ShipmentID]
, t.[TransID]
, e.[cf_Vendor Mfg Date]
 FROM dbo.[tblPoTransReceipt] t
 LEFT JOIN
 ( SELECT pvt.[ID]
	, Cast(pvt.[Vendor Mfg Date] As datetime) AS [cf_Vendor Mfg Date]
	 FROM
		 ( SELECT t.[ID], [Name], [Value]
		 FROM
			 ( SELECT t.[ID]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblPoTransReceipt] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Vendor Mfg Date])) AS pvt
) e on  t.[ID] = e.[ID]
GO
