USE [005]
GO
/****** Object:  View [dbo].[trav_BmKitHistoryItemLocation_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_BmKitHistoryItemLocation_view]
AS
SELECT h.HistSeqNum, h.TransId, h.ItemId, h.LocId, h.TransDate, i.Descr, i.ProductLine, i.SalesCat, 
	i.PriceId, i.TaxClass, h.SumYear, h.GLPeriod
FROM dbo.tblBmKitHistSumm h	LEFT JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BmKitHistoryItemLocation_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BmKitHistoryItemLocation_view'
GO
