USE [005]
GO
/****** Object:  View [dbo].[pvtPaCheckDeductions]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaCheckDeductions]
AS

SELECT d.DeductionCode, d.DeductionHours, d.DeductionAmount, d.DeductionBalance
	, c.EmployeeId, e.LastName, c.CheckNumber, c.CheckDate 
FROM dbo.tblPaCheck c 
	INNER JOIN dbo.tblSmEmployee e ON c.EmployeeId = e.EmployeeId 
	INNER JOIN dbo.tblPaCheckDeduct d ON c.Id = d.CheckId 
	LEFT JOIN dbo.tblPaDeductCode o ON d.DeductionCode = o.DeductionCode

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckDeductions'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckDeductions'
GO
