USE [005]
GO
/****** Object:  View [dbo].[pvtGlJournal]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtGlJournal]
AS
SELECT dbo.tblGlJrnl.EntryNum, dbo.tblGlJrnl.TransDate, dbo.tblGlJrnl.SourceCode
	, dbo.tblGlJrnl.DebitAmt, dbo.tblGlJrnl.CreditAmt, dbo.tblGlJrnl.Period
	, dbo.tblGlJrnl.[Year], dbo.trav_GlAccountHeader_view.AcctIdMasked, dbo.trav_GlAccountHeader_view.[Desc]
FROM dbo.tblGlJrnl 
INNER JOIN dbo.trav_GlAccountHeader_view ON dbo.tblGlJrnl.AcctId = dbo.trav_GlAccountHeader_view.AcctId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtGlJournal'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtGlJournal'
GO
