USE [005]
GO
/****** Object:  View [dbo].[trav_SoReturnedItem_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_SoReturnedItem_view]
AS
	SELECT r.Counter, r.Status, r.ResCode, r.RMANumber, r.CustID, r.TransId, r.ItemId, 
		r.LocId, r.ExtLocAID, r.ExtLocBID, r.EntryDate, r.TransDate, r.Units, 
		r.LotNum, r.SerNum, r.GLAcctCOGS, r.GLAcctInv, r.Notes, i.Descr, 
		i.ProductLine, i.SalesCat, i.PriceID, i.TaxClass
	FROM dbo.tblSoReturnedItem r LEFT JOIN dbo.tblInItem i ON r.ItemId = i.ItemId 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SoReturnedItem_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SoReturnedItem_view'
GO
