USE [005]
GO
/****** Object:  View [dbo].[trav_tblInHistSer_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInHistSer_View]
AS
SELECT t.[Cmnt]
, t.[CostUnit]
, t.[CostUnitACV]
, t.[DateInvc]
, t.[DateOrder]
, t.[DateRcpt]
, t.[DateShip]
, t.[GLPeriod]
, t.[HistSeqNum]
, t.[ID]
, t.[InvcNum]
, t.[LotNum]
, t.[PriceUnit]
, t.[SeqNum]
, t.[SerNum]
, t.[SumPeriod]
, t.[SumYear]
, e.[cf_Exp Date]
 FROM dbo.[tblInHistSer] t
 LEFT JOIN
 ( SELECT pvt.[SeqNum]
	, Cast(pvt.[Exp Date] As datetime) AS [cf_Exp Date]
	 FROM
		 ( SELECT t.[SeqNum], [Name], [Value]
		 FROM
			 ( SELECT t.[SeqNum]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInHistSer] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Exp Date])) AS pvt
) e on  t.[SeqNum] = e.[SeqNum]
GO
