USE [005]
GO
/****** Object:  View [dbo].[genai_accounts_payable_invoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_accounts_payable_invoice]
AS
SELECT 
	p.[Counter] [account_payable_invoice_id]
	,p.[VendorID] [vendor_id]
	,p.[InvoiceNum] [invoice_number]
	,CASE WHEN p.[Status]  IN (0,1,2) THEN 'Open' ELSE 'Paid' END [invoice_status]
	,CASE p.[Status] WHEN 0 THEN 'Released' WHEN 1 THEN 'Hold' WHEN 2 THEN 'Temp Hold' WHEN 3 THEN 'Prepaid' WHEN 4 THEN 'Paid' END [erp_invoice_type]
	,CASE p.[Ten99InvoiceYN] WHEN 0 THEN 'False' ELSE 'True' END [is_ten99_invoice]
	,p.[InvoiceDate] [invoice_date]
	,p.[DiscDueDate] [discount_due_date]
	,p.[NetDueDate] [net_due_date]
	,p.[DistCode] [distribution_code]
	,p.[TermsCode] [payment_terms_code]
	,p.[CurrencyID] [transaction_currency_code]
	,p.[ExchRate] [exchange_rate]
	,p.[GrossAmtDue] [gross_amount_due]
	,p.[GrossAmtDueFgn] [gross_amount_due_in_foreign_currency]
	,p.[DiscAmt] [discount_amount_available]
	,p.[DiscAmtFgn] [discount_amount_available_in_foreign_currency]
	,CASE p.Status WHEN 3 THEN p.[GrossAmtDue] ELSE ISNULL(d.[PaymentAmtBase],0) END [paid_amount]
	,CASE p.Status WHEN 3 THEN p.[GrossAmtDueFgn] ELSE ISNULL(d.[PaymentAmt],0) END [paid_amount_in_foreign_currency]
	,ISNULL(d.DiscLostBase,0) [discount_amount_lost]
	,ISNULL(d.DiscLostFgn,0) [discount_amount_lost_in_foreign_currency]
	,CASE p.Status WHEN 3 THEN p.[DiscAmt] ELSE ISNULL(d.DiscTakenBase,0) END [discount_amount_taken]
	,CASE p.Status WHEN 3 THEN p.[DiscAmtFgn] ELSE ISNULL(d.DiscTakenFgn,0) END [discount_amount_taken_in_foreign_currency]
	,p.[CheckNum] [payment_number]
	,p.[CheckDate] [payment_date]
	,p.[BankId] [bank_id]
	,p.[PmtCurrencyId] [payment_currency_code]
	,p.[PmtExchRate] [payment_exchange_rate]
	,p.VoidCreatedDate [void_date]
	,p.[Notes] [notes]
	,p.[GlPeriod] [invoice_gl_period]
	,p.FiscalYear [invoice_gl_year]
	,p.[CheckPeriod] [payment_gl_period]
	,p.[CheckYear] [payment_gl_year]
	,ISNULL(h.Freight,0) [freight_amount]
	,ISNULL(h.FreightFgn,0) [freight_amount_in_foreign_currency]
	,ISNULL(h.Misc,0) [miscellaneous_amount]
	,ISNULL(h.MiscFgn,0) [miscellaneous_amount_in_foreign_currency]
FROM dbo.tblApOpenInvoice p
LEFT JOIN (
	SELECT d.InvoiceCounter
		,SUM(d.[PaymentAmtBase]) PaymentAmtBase
		,SUM(d.[PaymentAmt]) [PaymentAmt]
		,SUM(d.[DiscTakenBase]) DiscTakenBase
		,SUM(d.DiscTaken) DiscTakenFgn
		,SUM(d.[DiscLostBase]) DiscLostBase
		,SUM(d.DiscLost) DiscLostFgn
	FROM dbo.tblApPaymentHistDetail d
	INNER JOIN dbo.tblApPaymentHistHeader h ON h.ID = d.HeaderID
	GROUP BY InvoiceCounter
) d ON p.Counter = d.InvoiceCounter
LEFT JOIN (
	SELECT h.TransId
		,h.PostRun
		,h.VendorId
		,h.InvoiceNum
		,h.InvoiceDate
		,h.Freight 
		,h.FreightFgn 
		,h.Misc 
		,h.MiscFgn 
	FROM tblApHistHeader h 
) h ON p.TransId = h.TransId AND p.PostRun = h.PostRun 
	AND p.VendorID = h.VendorId 
	AND p.InvoiceNum = h.InvoiceNum AND p.InvoiceDate = h.InvoiceDate
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_accounts_payable_invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_accounts_payable_invoice'
GO
