USE [005]
GO
/****** Object:  View [dbo].[trav_ApVendorActivity_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApVendorActivity_View]
AS
	SELECT v.VendorID, h.PostRun, h.TransId, h.InvoiceNum, EntryNum, [Name], VendorHoldYN, VendorClass, v.DistCode, 
		v.DivisionCode, PriorityCode, v.Status, v.CurrencyID, InvoiceDate, PONum, FiscalYear, 
		GLPeriod, h.WhseId, PartId, PartType, JobId, d.GLAcct
	FROM dbo.tblApHistHeader AS h 
		INNER JOIN dbo.tblApHistDetail AS d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum
		INNER JOIN dbo.tblApVendor AS v ON v.VendorID = h.VendorId
	 --WHERE ISNULL(d.EntryNum, 0) >= 0 -- Exclude SalesTax/Freight/Misc detail records





GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApVendorActivity_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApVendorActivity_View'
GO
