USE [005]
GO
/****** Object:  View [dbo].[trav_DrMasterSchedule_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[trav_DrMasterSchedule_View]
As
Select  H.id,D.ProdDate,H.AssemblyId,H.LocId  from dbo.tblDrMstrSched H inner join dbo.tblDrMstrSchedDTl D on H.Id= D.MstrSchedId 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrMasterSchedule_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrMasterSchedule_View'
GO
