USE [005]
GO
/****** Object:  View [dbo].[trav_SmTransLinkSource_PC]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_SmTransLinkSource_PC]
AS
SELECT t.Id, p.CustId, p.ProjectName AS ProjectId, d.TaskId, d.PhaseId, ISNULL(t.ItemId,'') ItemId, t.[Description], ISNULL(t.LocId,'') LocId, ISNULL(l.SeqNum,0) AS LinkSeqNum
	, CASE WHEN t.QtyFilled = 0 AND (l.SeqNum IS NULL OR l.DestStatus = 2) THEN 0 ELSE 1 END SourceStatus,
	CASE WHEN (l.SeqNum > 0 AND l.DestStatus <> 2) THEN 1 ELSE 0 END Linked
FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id
	LEFT JOIN dbo.tblSmTransLink l ON t.LinkSeqNum = l.SeqNum 
WHERE t.TransType = 0
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTransLinkSource_PC'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTransLinkSource_PC'
GO
