USE [005]
GO
/****** Object:  View [dbo].[genai_customer]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_customer]
AS
SELECT CustId [customer_id]
,GroupCode [customer_type]
,TerrId [territory]
,ClassId [classification_code]
,CASE AcctType WHEN 0 THEN 'Open Invoice' WHEN 1 THEN 'Balance Forward' END [business_type]
,TermsCode [payment_terms]
,CustName [name]
,Internet [website_url]
,Email [email_address]
,Phone [telephone]
,Fax [fax]
,CreditLimit [credit_limit]
,CreditHold [credit_on_hold]
,BillToId [bill_to_customer_id]
,CASE [Status] WHEN 0 THEN 'Active' ELSE 'Inactive' END [customer_status]
,Attn [attention_name]
,Contact [contact_name]
,Addr1 [address_line_1]
,Addr2 [address_line_2]
,City [city]
,Region [state_or_province]
,Country [country]
,PostalCode [postal_code]
,CurrencyId [transaction_currency_code]
FROM tblArCust
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_customer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_customer'
GO
