USE [005]
GO
/****** Object:  View [dbo].[trav_ApHistHeaderSUMbyVendor_view]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_ApHistHeaderSUMbyVendor_view]
AS
	SELECT VendorId,FiscalYear, GlPeriod, CurrencyID, COUNT(TransType) NumOfPurch,
		SUM(SIGN(TransType)*(Subtotal+SalesTax+Freight+Misc+TaxAdjAmt)) TotPurch,
		SUM(SIGN(TransType)*(Subtotalfgn+SalesTaxfgn+Freightfgn+Miscfgn+TaxAdjAmtfgn))  TotPurchfgn,
		SUM(PrepaidAmt) PrepaidAmt, SUM(PrepaidAmtfgn)  PrepaidAmtfgn
	FROM dbo.tblApHistHeader
	GROUP BY VendorId, FiscalYear, GlPeriod, CurrencyID

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApHistHeaderSUMbyVendor_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_ApHistHeaderSUMbyVendor_view'
GO
