USE [005]
GO
/****** Object:  View [dbo].[trav_BrJrnlHeaderBank_view]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[trav_BrJrnlHeaderBank_view] 
As

SELECT h.TransID, h.BankID, h.TransType, h.SourceID, h.Descr, h.TransDate, h.GLPeriod, h.FiscalYear, 
	h.Reference, h.CurrencyId, h.VoidYn, h.VoidReinstateStat, h.Ten99Yr, h.CreateTransaction, 
	h.CreateManualCheck, h.PayrollMonth, b.[Desc], b.Name, b.OurAcctNum, b.GlCashAcct, b.AcctType
FROM dbo.tblBrJrnlHeader h INNER JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BrJrnlHeaderBank_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_BrJrnlHeaderBank_view'
GO
