USE [005]
GO
/****** Object:  View [dbo].[genai_warehouse_product_inventory]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[genai_warehouse_product_inventory]
AS
SELECT *
FROM (
	SELECT i.ItemId [product_id]
		,l.LocId [warehouse_id]
		,u.Uom [base_unit]
		,CASE l.ItemLocStatus WHEN 1 THEN 'Active' WHEN 2 THEN 'Discontinued' WHEN 3 THEN 'Superseded' WHEN 4 THEN 'Obsolete' END [item_status]
		,ISNULL(p.PriceList,0) [list_price]
		,ISNULL(p.PriceAvg,0) [average_price] 
		,ISNULL(p.PriceMin,0) [minimum_price]
		,ISNULL(p.PriceBase,0) [base_price]
		,u.[Weight] [weight]
		,l.CostStd [standard_cost]
		,l.CostAvg [average_cost]
		,l.CostBase [base_cost]
		,l.CostLast [last_cost]
		,ISNULL(o.QtyOnHand, 0) [quantity_on_hand]
		,ISNULL(t.QtyCmtd, 0) [quantity_committed]
		,ISNULL(t.QtyOnOrder, 0) [quantity_on_order]
		,ISNULL(o.QtyOnHand, 0) - ISNULL(t.QtyCmtd, 0) - ISNULL(e.QtyOnHold, 0) [quantity_available]
		,ISNULL(e.QtyOnHold, 0) AS [quantity_on_hold]
		,l.GLAcctCode [gl_account_code]
		,l.QtySafetyStock [quantity_safety_stock]
		,l.QtyOrderPoint [quantity_order_point]
		,l.QtyOnHandMax [quantity_on_hand_max]
		,l.QtyOrderMin [quantity_order_minimum]
		,l.Eoq [quantity_eoq]
		,l.ForecastId [forecast_id]
		,CASE l.EoqType WHEN 0 THEN 'Manual' WHEN 1 THEN 'Calculated' WHEN 2 THEN 'Frozen' END [eoq_type]
		,CASE l.SafetyStockType WHEN 0 THEN 'Manual' WHEN 1 THEN 'Calculated' WHEN 2 THEN 'Frozen' END [safety_stock_type]
		,CASE l.OrderPointType WHEN 0 THEN 'Manual' WHEN 1 THEN 'Calculated' WHEN 2 THEN 'Frozen' END [order_point_type]
		,l.OrderQtyUom [order_quantity_unit]
		,x.ConvFactor [order_quantity_conversion_factor]
		,l.DateLastSale [date_last_sale]
		,l.DateLastPurch [date_last_purchase]
		,l.DateLastSaleRet [date_last_sale_return]
		,l.DateLastPurchRet [date_last_purchase_return]
		,l.DateLastXfer [date_last_transfer]
		,l.DateLastAdj [date_last_adjustment]
		,l.DateLastBuild [date_last_build]
		,l.DateLastMatReq [date_last_material_requisition]
		,l.DfltLeadTime [lead_time]
		,l.DfltBinNum [bin_number]
		,l.DfltVendId [default_vendor_id]
		,v.[Name] [default_vendor_name]
		,l.DfltPriceId [default_price_id]
		,l.ABCClass [abc_class]
		,l.PrepLeadTime [prep_lead_time]
		,CASE l.ProcurMethod WHEN 0 THEN 'NA' WHEN 1 THEN 'Make' WHEN 2 THEN 'Buy' END [procurement_method]
		,l.BuyerPlanner [buyer_planner]
		,CASE 
			WHEN c.ConfigValue IN (0,1) THEN ISNULL(o.Cost,0) 
			WHEN c.ConfigValue = 2 THEN 
				CASE WHEN i.CostMethodOverride = 1 AND i.ItemType = 2
					THEN ISNULL(o.Cost,0) 
					ELSE ISNULL(o.QtyOnHand * l.CostAvg, 0) 
				END
			WHEN c.ConfigValue = 3 THEN 
				CASE WHEN i.CostMethodOverride = 1 AND i.ItemType = 2
					THEN ISNULL(o.Cost,0) 
					ELSE ISNULL(o.QtyOnHand * l.CostStd, 0) 
				END
		END [inventory_value]
	FROM dbo.tblInItem i
	LEFT JOIN dbo.tblInItemAddlDescr ad ON ad.ItemId = i.ItemId
	LEFT JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	LEFT JOIN dbo.tblInItemUom u ON u.ItemId = i.ItemId
		AND u.ItemId = l.ItemId
		AND u.Uom = i.UomBase
	LEFT JOIN dbo.tblInItemUom x ON x.ItemId = i.ItemId
		AND x.ItemId = l.ItemId
		AND x.Uom = l.OrderQtyUom
	LEFT JOIN dbo.tblInItemLocUomPrice p ON p.ItemId = l.ItemId
		AND p.LocId = l.LocId
		AND p.Uom = u.Uom
		AND p.ItemId = u.ItemId
	LEFT JOIN dbo.tblApVendor v ON l.DfltVendId = v.VendorID
	LEFT JOIN (
		SELECT ItemId
			,LocId
			,SUM(CASE SerNumStatus WHEN 5 THEN 0 ELSE 1 END) AS QtyOnHand
			,SUM(CASE SerNumStatus WHEN 5 THEN 0 ELSE CostUnit END) 
                  AS Cost
		FROM dbo.tblInItemSer
		WHERE SerNumStatus = 1
		GROUP BY ItemId
			,LocId
			,LotNum
		
		UNION ALL
		
		SELECT ItemId
			,LocId
			,SUM(Qty - InvoicedQty - RemoveQty) AS QtyOnHand
			,SUM((Qty - InvoicedQty - RemoveQty) * Cost) AS Cost
		FROM dbo.tblInQtyOnHand
		GROUP BY ItemId
			,LocId
		) o ON i.ItemId = o.ItemId
		AND l.LocId = o.LocId
	LEFT JOIN (
		SELECT ItemId
			,LocId
			,SUM(CASE 
					WHEN TransType = 0
						THEN Qty
					ELSE 0
					END) AS QtyCmtd
			,SUM(CASE 
					WHEN TransType = 2
						THEN Qty
					ELSE 0
					END) AS QtyOnOrder
		FROM dbo.tblInQty
		GROUP BY ItemId, LocId
		) t ON i.ItemId = t.ItemId
		AND l.LocId = t.LocId
	LEFT JOIN (
		SELECT o.ItemId
			,o.LocId
			,SUM(CASE 
					WHEN o.SerNumStatus IN (1,2)
						AND t.QtyOnHoldYN = 1
						THEN 1
					ELSE 0
					END) [QtyOnHold]
		FROM dbo.tblInItemSer o
		LEFT JOIN dbo.tblWmExtLoc e ON e.Id = o.ExtLocA
		LEFT JOIN dbo.tblWmExtLocType t ON t.ID = e.ExtLocTypeID
		WHERE o.ExtLocA IS NOT NULL
		GROUP BY o.ItemId, o.LocId
		
		UNION ALL
		
		SELECT o.ItemId
			,o.LocId
			,SUM(CASE 
					WHEN t.QtyOnHoldYN = 1
						THEN o.Qty
					ELSE 0
					END) [QtyOnHold]
		FROM dbo.tblInQtyOnHand_Ext o
		LEFT JOIN dbo.tblWmExtLoc e ON e.Id = o.ExtLocA
		LEFT JOIN dbo.tblWmExtLocType t ON t.ID = e.ExtLocTypeID
		GROUP BY o.ItemId
			,o.LocId
		) e ON l.ItemId = e.ItemId
		AND l.LocId = e.LocId
		LEFT JOIN dbo.tblSmConfigValue c ON ConfigRef = 471
	) ItemInquiry
 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_warehouse_product_inventory'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'genai_warehouse_product_inventory'
GO
