USE [005]
GO
/****** Object:  View [dbo].[pvtPaCheckEarnings]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaCheckEarnings]
AS

SELECT ce.EarningCode, t.State AS StateCode, ce.DepartmentId, ce.HoursWorked, ce.EarningAmount
	, c.EmployeeId, c.CheckNumber, c.CheckDate, e.LastName 
FROM dbo.tblPaCheck c 
	INNER JOIN dbo.tblSmEmployee e ON c.EmployeeId = e.EmployeeId 
	INNER JOIN dbo.tblPaCheckEarn ce ON c.Id = ce.CheckId 
	INNER JOIN dbo.tblPaEarnCode ec ON ce.EarningCode = ec.Id 
	INNER JOIN dbo.tblPaTaxAuthorityHeader t ON ce.StateTaxAuthorityId = t.Id

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckEarnings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaCheckEarnings'
GO
