USE [005]
GO
/****** Object:  View [dbo].[trav_GlAccountSegment_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[trav_GlAccountSegment_view] 
As

Select h.AcctId, p.Number, Substring(h.AcctId, p.Start, p.[Length]) Segment
From dbo.tblGlAcctHdr h (NOLOCK)
CROSS JOIN 
(	Select Number, [Length], [Description]
		, isnull((Select Sum([Length]) 
		From dbo.tblGlAcctMaskSegment s (NOLOCK)
		Where s.Number < t.Number), 0) + 1 Start
	From dbo.tblGlAcctMaskSegment t (NOLOCK)
) p
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlAccountSegment_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlAccountSegment_view'
GO
