USE [005]
GO
/****** Object:  View [dbo].[trav_PaEmpHistEarn_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PaEmpHistEarn_view]
AS
---PET:http://webfront:801/view.php?id=228828
SELECT Id, 1 as [Type], EntryDate, PaYear, PaMonth,
EmployeeId, EarningCode as Code,  Amount 
From dbo.tblPaEmpHistEarn
union all
SELECT Id, 2 as [Type], EntryDate, PaYear, PaMonth,
EmployeeId, EarningCode as Code,  Hours  
From dbo.tblPaEmpHistEarn

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PaEmpHistEarn_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PaEmpHistEarn_view'
GO
