USE [005]
GO
/****** Object:  View [dbo].[pvtInLocDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInLocDetail]
AS

SELECT CASE ItemLocStatus WHEN 1 THEN 'Active' WHEN 2 THEN 'Discontinued' WHEN 3 THEN 'Superceded'
		WHEN 4 THEN 'Obsolete'	END AS [Status$],
	ItemId, LocId, DateLastSale, DateLastPurch, CostStd, CostAvg, CostBase, CostLast, CostLast + CostLandedLast AS CostLandedLast 
FROM dbo.tblInItemLoc

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInLocDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInLocDetail'
GO
