USE [005]
GO
/****** Object:  View [dbo].[trav_EcPartnerOptionValue_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_EcPartnerOptionValue_view]
AS
SELECT p.ID, p.PartnerID, o.OptCode,
	   CASE WHEN v.OptValue IS NOT NULL THEN v.OptValue ELSE o.DefaultValue END OptValue, e.EnumeratedValue
FROM dbo.tblEcPartner p
CROSS JOIN dbo.tblEcPartnerOption o
LEFT JOIN dbo.tblEcPartnerOptionValue v ON p.ID = v.PartnerId AND o.ID = v.PartnerOptId
LEFT JOIN dbo.tblEcPartnerOptionEnumerated e ON o.ID = e.OptCodeId AND CASE WHEN v.OptValue IS NOT NULL THEN v.OptValue ELSE o.DefaultValue END = e.OptValue 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcPartnerOptionValue_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcPartnerOptionValue_view'
GO
