USE [005]
GO
/****** Object:  View [dbo].[trav_GlUnPostedTransactionsView]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_GlUnPostedTransactionsView]
AS	
	SELECT 'IN' [ApplicationID], 'INTRANS' [SourceID], GLPeriod AS FiscalPeriod, SumYear AS FiscalYear, CONVERT(varchar(510),TransId)  AS [Reference], TransDate AS TransactionDate, CONVERT(varchar(510),TransId) AS TransactionID, TransType AS TransactionType
	, CASE WHEN TransType IN (15,23,24,32) THEN -1 ELSE 1  END *(CostUnitTrans*Qty) [Amount]
	, CASE WHEN TransType IN (15,23,24,32) THEN -1 ELSE 1  END *(CostUnitTrans*Qty) [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'INTransaction' as SourceIDType
	FROM tblInTrans
	WHERE TransType IN (12,14,15,31,32)

	UNION ALL
	--IN Transaction
	SELECT 'IN' [ApplicationID], 'INTRANS' [SourceID], GLPeriod, SumYear, CONVERT(varchar(510),TransId) AS [Reference], TransDate, CONVERT(varchar(510),TransId), TransType
	, CASE WHEN TransType IN (15,23,24,32) THEN -1 ELSE 1  END *PriceUnit * Qty [Amount]
	, CASE WHEN TransType IN (15,23,24,32) THEN -1 ELSE 1  END *PriceUnit * Qty [AmountFgn],NULL, 1 ,'INTransaction'
	FROM tblInTrans
	WHERE TransType IN (23,24,25)

	UNION ALL
	--IN Transfer 
	SELECT 'IN' [ApplicationID], 'INXFERFROM' [SourceID], GLPeriod, SumYear, CONVERT(varchar(510),TransId) AS [Reference], XferDate, CONVERT(varchar(510),TransId), 
	74 as TransType, -1*CostUnit*Qty [Amount],  -1*CostUnit*Qty [AmountFgn],NULL, 1 ,'INTransfer'
	FROM tblInXfers

	UNION ALL
	--IN Transfer 
	SELECT 'IN' [ApplicationID], 'INXFERTO' [SourceID], GLPeriod, SumYear, CONVERT(varchar(510),TransId) AS [Reference], XferDate, CONVERT(varchar(510),TransId), 
	16 as TransType, (CostUnitXfer + CostUnit) * Qty [Amount],  (CostUnitXfer + CostUnit)*Qty [AmountFgn],NULL, 1 ,'INTransfer'
	FROM tblInXfers

	UNION ALL
	--IN MaterialRequsition
	SELECT 'IN' [ApplicationID],  CASE WHEN ReqType=1 THEN  'MATREQ' ELSE 'MATREQRET' END, GLPeriod, SumYear, CONVERT(varchar(510),h.TransId) AS [Reference], DatePlaced, CONVERT(varchar(510),h.TransId), 
	CASE WHEN ReqType=1 THEN 75 ELSE 17 END, reqtype *QtyFilled * CostUnitStd [Amount], reqtype *QtyFilled * CostUnitStd [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'INMaterialRequest'
	FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId 
	
	UNION ALL
	SELECT 
	'MP' [ApplicationID],  'MP Production' [SourceID], GlPeriod, FiscalYear, a.OrderNo AS [Reference], TransDate, CONVERT(varchar(510),TransId), 
	Source, Amount [Amount], Amount [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate ,'MPProduction'
	from tblMpGLTrans a
	Where PostedYN = 0   
			 
	UNION ALL
	--PO
	SELECT 'PO' as [ApplicationID],Case when TransType=2 then 'PO Invoice' when TransType=-2 then 'PO Debit Memo' END [Source],i.GLPeriod,i.FiscalYear,i.InvcNum as [Reference],i.InvcDate, CONVERT(varchar(510),i.TransId)
	, CASE WHEN h.TransType=2 THEN 331 ELSE 324 END,
	SIGN(h.TransType) * (i.CurrTaxable+i.CurrNonTaxable+CurrFreight+CurrMisc+CurrSalesTax) [Amount],
	SIGN(h.TransType) * (i.CurrTaxableFgn+i.CurrNonTaxableFgn+CurrFreightFgn+CurrMiscFgn+CurrSalesTaxFgn) [AmountFgn],h.CurrencyID,h.ExchRate,'POTransaction'
	FROM dbo.tblPoTransHeader h
	INNER JOIN dbo.tblPoTransInvoiceTot i ON h.TransID = i.TransId
	WHERE (i.CurrTaxable+i.CurrNonTaxable+CurrFreight+CurrMisc+CurrSalesTax) <> 0

	UNION ALL

	SELECT 'PO' as [ApplicationID],'Goods Received' [Source],t.GLPeriod,t.FiscalYear,t.ReceiptNum as [Reference],t.ReceiptDate AS TransactionDate, CONVERT(varchar(510),h.TransId)
	,337 as TransType,
	SUM(SIGN(h.TransType) * r.ExtCost )[Amount],
	SUM(SIGN(h.TransType) * (r.ExtCostFgn)) [AmountFgn],h.CurrencyID,h.ExchRate,'POTransaction'
	FROM dbo.tblPoTransHeader h
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID
	INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
	WHERE r.Status = 0
	GROUP BY t.FiscalYear, t.GlPeriod, h.CurrencyID,t.ReceiptNum,t.ReceiptDate, h.TransId, h.CurrencyID,h.ExchRate

	UNION ALL

	SELECT 'SO' as [ApplicationID],Case when TransType=1 then 'SO Invoice' when TransType=4 then 'SO Verify' when TransType=-1 then 'SO Credit Memo' END [Source],GLPeriod,FiscalYear
	,CustPONum as [Reference],TransDate, TransId
	,CASE WHEN TransType=1 THEN  82 WHEN TransType=4 then 81 WHEN  TransType=-1 then 100 END AS TransType,
	(TaxableSales+NonTaxableSales+Freight+Misc+SalesTax) [Amount],
	(TaxableSalesFgn+NonTaxableSalesFgn+FreightFgn+MiscFgn+SalesTaxFgn) [AmountFgn],CurrencyID,ExchRate,'SOTransaction'
	FROM
	dbo.tblSoTransHeader
	WHERE TransType IN (-1,1,4) AND Layaway = 0 AND VoidYn = 0 AND (OrderState = 0 OR OrderState & 4 = 4 )

	UNION ALL
	SELECT 'SO' as [ApplicationID],'SO Returned Item' [Source],NULL,NULL
	,RMANumber as [Reference],TransDate, TransId, 101 as TransTrype, CostExt [Amount],CostExt [AmountFgn],NULL,1 As ExchRate,'SOReturnedItem'
	FROM dbo.tblSoReturnedItem WHERE [Status]=0

	UNION ALL

	SELECT 'AP' [ApplicationID], VendorId [SourceID], GLPeriod, FiscalYear, InvoiceNum [Reference], InvoiceDate, TransId
	, CASE WHEN TransType=1 THEN 332 ELSE 325 END
	, SIGN(TransType) * (Taxable + NonTaxable + SalesTax + Freight + Misc + TaxAdjAmt) [Amount] --- CashDisc - PrepaidAmt
	, SIGN(TransType) * (TaxableFgn + NonTaxableFgn + SalesTaxFgn + FreightFgn + MiscFgn + TaxAdjAmtFgn) [AmountFgn] --- CashDiscFgn - PrepaidAmtFgn
	, CurrencyId, ExchRate,'APTransaction'
	FROM tblApTransHeader

	UNION ALL

	--AP Payments
	SELECT 'AP' [ApplicationID], i.VendorID [SourceID], p.FiscalPeriod, p.FiscalYear, p.PaymentNum [Reference], p.PaymentDate, CONVERT(varchar(510),p.ID)
	, CASE WHEN PmtType=0 THEN 329 ELSE 330 END
	, SUM(d.PaymentAmtBase) [Amount], SUM(d.PaymentAmt) [AmountFgn], pc.CurrencyID, d.PaymentAmtBase/d.PaymentAmt [ExchRate]
	, 'APPayments' [SourceIDType]
	FROM tblApPaymentControl pc
	INNER JOIN tblApPayment p on pc.ID = p.ControlID
	INNER JOIN tblApPaymentDetail d on p.ID = d.PaymentID
	INNER JOIN tblApOpenInvoice i ON d.InvoiceCounter = i.[Counter]
	GROUP BY
	i.VendorID, p.FiscalPeriod, p.FiscalYear, p.PaymentNum, p.PaymentDate, p.ID, PmtType
	, pc.CurrencyID, d.PaymentAmtBase/d.PaymentAmt

	UNION ALL

	--AR Transaction
	SELECT 'AR' [ApplicationID], CONVERT(varchar(510),CustId) [SourceID], h.GLPeriod, h.FiscalYear, CONVERT(varchar(510),InvcNum) [Reference], InvcDate, CONVERT(varchar(510),h.TransId)
	, CASE WHEN TransType=1 THEN 333 ELSE 326 END
	, SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc) [Amount]
	, SIGN(TransType) * (TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn + TaxAmtAdjFgn + FreightFgn + MiscFgn) [AmountFgn]
	, h.CurrencyID, h.ExchRate,'ARTransaction'
	FROM tblArTransHeader h
	WHERE VoidYn = 0

	UNION ALL

	--AR Cash Receipt
	SELECT 'AR' [ApplicationID], h.CustId [SourceID], h.GLPeriod, h.FiscalYear, h.BankID [Reference], h.PmtDate, CONVERT(varchar(510),h.RcptHeaderID)
	, CASE WHEN ISNULL(h.InvcTransID, '') = '' THEN 327 ELSE 328 END [TransType] --0=Payment/3=Prepayment
	, SUM(d.PmtAmt + d.[Difference]) [Amount], SUM(d.PmtAmtFgn + d.[DifferenceFgn]) [AmountFgn], h.CurrencyID, h.ExchRate, 'ARCashReceipt' [SourceIDType]
	FROM tblArCashRcptHeader h
	INNER JOIN tblArCashRcptDetail d on h.RcptHeaderID = d.RcptHeaderID
	WHERE (OrderState = 0 OR OrderState & 4 = 4) --StateManagement: Internal = 0, Offline = 1, Online = 2, Completed = 4
	GROUP BY
	h.CustId, h.GLPeriod, h.FiscalYear, h.BankID, h.PmtDate, h.RcptHeaderID, h.InvcTransID, h.CurrencyID, h.ExchRate

	UNION ALL

	--BM Work Orders
	SELECT 'BM' [ApplicationID], BmItemId [SourceID], GLPeriod, GlYear, ItemId [Reference], TransDate, TransId
	,CASE WHEN WorkType = 1 THEN 335 ELSE 336 END  [TransType]
	, ActualQty*UnitCost [Amount], ActualQty*UnitCost [AmountFgn], NULL [CurrencyID], ConvFactor, 'BMWorkOrders' [SourceIDType]
	FROM tblBmWorkOrder w
	LEFT JOIN tblBmBom b on w.BmBomId = b.BmBomId
	WHERE [Status] = 1

	UNION ALL

	SELECT 'BM' [ApplicationID], BmItemId [SourceID], GLPeriod, GlYear, 'Labor' [Reference], TransDate, TransId
	,CASE WHEN WorkType = 1 THEN 335 ELSE 336 END  [TransType]
	, w.ActualQty*w.LaborCost [Amount], w.ActualQty*w.LaborCost [AmountFgn], NULL [CurrencyID], ConvFactor, 'BMWorkOrders' [SourceIDType]
	FROM tblBmWorkOrder w
	LEFT JOIN tblBmBom b on w.BmBomId = b.BmBomId
	WHERE [Status] = 1 and w.LaborCost <> 0

	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC TimeTicket', FiscalPeriod, FiscalYear, CONVERT(varchar(510),p.ProjectName) AS [Reference], TransDate, CONVERT(varchar(510),m.id), 
	338, SUM(Qty *UnitCost) [Amount], SUM(Qty *UnitCost) [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'PCTimeTicket'
	FROM tblPcTimeTicket m
	INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id
	GROUP BY FiscalPeriod, FiscalYear, CONVERT(varchar(510),p.ProjectName),TransDate, CONVERT(varchar(510),m.id)

	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC Trans', FiscalPeriod, FiscalYear, CONVERT(varchar(510),p.ProjectName) AS [Reference], TransDate, CONVERT(varchar(510),m.id), 
		CASE WHEN TransType= 0 THEN 339 WHEN  TransType= 1 THEN 340 WHEN  TransType= 2 THEN 341 WHEN  TransType= 3 THEN 342 END  
		, SUM(CASE TransType WHEN 1 THEN -1 ELSE 1 END * (QtyFilled * UnitCost)) AS [Amount]
		, SUM(CASE TransType WHEN 1 THEN -1 ELSE 1 END * (QtyFilled * UnitCost)) [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'PCTransaction'
	FROM tblPcTrans m
	INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id  
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id   
	GROUP BY FiscalPeriod, FiscalYear, CONVERT(varchar(510),p.ProjectName),TransDate, CONVERT(varchar(510),m.id),TransType

	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC Overhead Alloc', ph.FiscalPeriod, ph.FiscalYear, CONVERT(varchar(510),p.ProjectName) AS [Reference], TransDate, CONVERT(varchar(510),ph.Id), 
	343, SUM(CurrOH) [Amount], SUM(CurrOH) [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'PCOverheadAlloc'
	FROM tblPcPrepareOverhead  ph
	INNER jOIN  tblPcActivity a ON ph.ActivityId = a.Id
	LEFT JOIN dbo.tblPcProjectDetail d ON a.ProjectDetailId = d.Id
	LEFT JOIN dbo.tblPcProject p ON d.ProjectId = p.Id   
	GROUP BY ph.FiscalPeriod, ph.FiscalYear,CONVERT(varchar(510),p.ProjectName),TransDate, CONVERT(varchar(510),ph.Id)

	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC Billing', h.FiscalPeriod, h.FiscalYear, CONVERT(varchar(510),p.ProjectName) AS [Reference], InvcDate, CONVERT(varchar(510),h.TransId), 
	344, TaxSubtotal+SalesTax+TaxAmtAdj+NonTaxSubtotal [Amount], TaxSubtotalFgn+SalesTaxFgn+TaxAmtAdjFgn+NonTaxSubtotalFgn [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate,'PCBilling'--amount is extcost?
	FROM tblPcInvoiceHeader h
	INNER JOIN
	(  
		select distinct  p.ProjectName,h.TransId 
		FROM dbo.tblPcInvoiceHeader h
		INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransID   
		LEFT JOIN dbo.tblPcProjectDetail l ON d.ProjectDetailId = l.Id   
		LEFT JOIN dbo.tblPcProject p ON l.ProjectId = p.Id   
	) p ON h.TransId = p.TransId  


	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC Adjustment', FiscalPeriod, FiscalYear, CONVERT(varchar(510),pj.ProjectName) AS [Reference], TransDate, CONVERT(varchar(510),p.Id), 
		CASE WHEN p.Type =0 THEN 345
			 WHEN p.Type =1 THEN 346
			 WHEN p.Type =2 THEN 347
			 WHEN p.Type =3 THEN 348
			 WHEN p.Type =4 THEN 349
			 WHEN p.Type =5 THEN 350
			 WHEN p.Type =6 THEN 351
			 END
		, CASE p.IncDec WHEN 0 THEN 1 ELSE -1 END *ExtCost [Amount], CASE p.IncDec WHEN 0 THEN 1 ELSE -1 END *ExtCost [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate ,'PCAdjustment'
		FROM tblPcAdjustment p
		INNER JOIN dbo.tblPcProjectDetail d ON p.ProjectDetailId = d.Id  
		INNER JOIN dbo.tblPcProject pj ON d.ProjectId = pj.Id 

	UNION ALL

	SELECT 'PC' [ApplicationID],  'PC Percentage Of Completion' [SourceID], FiscalPeriod, FiscalYear, CONVERT(varchar(510),a.id) AS [Reference], ActivityDate, CONVERT(varchar(510),a.id), 
		352 TransactionType, ExtCost [Amount], ExtCost [AmountFgn],null AS CurrencyID, 1 AS ExchRate,'PCPercentageOfCompletion' 
	FROM dbo.trav_PcProjectTask_view t INNER JOIN dbo.tblPcProjectDetail d ON t.Id = d.Id  
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcActivity a ON d.Id = a.ProjectDetailId	
	WHERE a.[Type] BETWEEN 0 AND 3 AND a.[Status] = 4 AND a.ExtCost <> 0 AND t.CustId IS NOT NULL AND t.[Type] = 1 AND t.[Status] < 2 AND t.Speculative = 0 

	UNION ALL
	--SD
	
	SELECT 'SD' [ApplicationID], 'Work Order', FiscalPeriod, FiscalYear, CONVERT(varchar(510),h.CustID) AS [Reference], h.InvoiceDate, CONVERT(varchar(510),h.TransId),
	CASE WHEN h.TransType =0 THEN 353
	WHEN h.TransType =1 THEN 359
	WHEN h.TransType =-1 THEN 360
	END
	,TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj [Amount], TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn + TaxAmtAdjFgn [AmountFgn],h.CurrencyID AS CurrencyID,h.ExchRate ExchRate,'SDWorkOrder'
	FROM tblSvInvoiceHeader h
	WHERE h.VoidYN = 0 AND h.HoldYN = 0 AND (TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj) <>0

	UNION ALL

	SELECT 'SD' [ApplicationID],  'Service Order', FiscalPeriod, FiscalYear, CONVERT(varchar(510),o.SiteID) AS [Reference], o.OrderDate, CONVERT(varchar(510),o.WorkOrderNo), 
	CASE WHEN tr.TransType =0 THEN 353
			 WHEN tr.TransType =1 THEN 354
			 WHEN tr.TransType =2 THEN 355
			 WHEN tr.TransType =3 THEN 356
			 WHEN tr.TransType =4 THEN 357
			 WHEN tr.TransType =5 THEN 358
			 END
	, CASE WHEN tr.TransType = 5 THEN (-1)*CostExt ELSE CostExt END AS [Amount], CASE WHEN tr.TransType = 5 THEN (-1)*CostExt ELSE CostExt END AS [AmountFgn],null AS CurrencyID,1 ExchRate,'SDServiceOrder'
	FROM dbo.tblSvWorkOrderTrans tr 		
		INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID
		LEFT JOIN dbo.tblSvWorkOrderDispatch d ON tr.DispatchID = d.ID
	WHERE ((d.[Status] = 1) OR (d.[Status] = 0 AND d.CancelledYN <> 0)) AND tr.[Status] = 0 AND CostExt<>0  AND o.CustID IS NULL

	UNION ALL
	--WM Adjustments
	SELECT 'WM' as [ApplicationID], CASE WHEN t.TransType=31  THEN 'WM Adj Increase'  WHEN t.[TransType]=32 THEN 'WM Adj Decrease' END, t.GLPeriod [FiscalPeriod],t.GlYear [FiscalYear],t.ItemId as [Reference],
			t.TransDate AS TransactionDate,CONVERT(varchar(510),t.TransId),CASE WHEN t.TransType=31  THEN 361 WHEN t.[TransType]=32 THEN 362 END TransactionType, (t.UnitCost * t.Qty) [Amount],(t.UnitCost * t.Qty) [AmountFgn]
			,null AS CurrencyID, 1 As ExchRate, 'WMAdjustments' as SourceIDType
	FROM dbo.tblWmTrans t	
	WHERE t.UnitCost * t.Qty <> 0
	UNION ALL
-- WM Transfer
-- 0: WM Picks
	SELECT 'WM' as [ApplicationID], 'WM Transfer', p.GLPeriod,p.GlYear,t.ItemId as [Reference],
				p.TransDate AS TransactionDate,CONVERT(varchar(510),p.TranPickKey),363 as TransactionType, (p.UnitCost * p.Qty) [Amount],(p.UnitCost * p.Qty) [AmountFgn],null AS CurrencyID, 1 As ExchRate,'WMTransfer' as SourceIDType
	From  dbo.tblWmTransfer t 
	Inner Join dbo.tblWmTransferPick p on t.TranKey = p.TranKey
	WHERE (p.UnitCost * p.Qty) <>0

	UNION ALL

-- 1 WM Reciepts
	SELECT 'WM' as [ApplicationID], 'WM Transfer' AS [Source], r.GLPeriod,r.GlYear,t.ItemId as [Reference],
				r.TransDate AS TransactionDate,CONVERT(varchar(510),p.TranPickKey) AS TransactionID,364 AS TransactionType, (r.UnitCost * r.Qty) [Amount],(r.UnitCost * r.Qty) [AmountFgn],null AS CurrencyID, 1 As ExchRate,'WMTransfer' as SourceIDType
	From  dbo.tblWmTransfer t 
	Inner Join dbo.tblWmTransferPick p on t.TranKey = p.TranKey
	Inner Join dbo.tblWmTransferRcpt r on p.TranPickKey = r.TranPickKey
	WHERE (r.UnitCost * r.Qty) <>0

	UNION ALL

-- WM MatReq
	SELECT 'WM' as [ApplicationID], CASE WHEN ReqType=1 THEN 'MatReq' WHEN ReqType=-1 THEN 'MatReq Return' END AS [Source], f.GLPeriod,f.GlYear,r.ItemId as [Reference],
				f.TransDate AS TransactionDate,CONVERT(varchar(510),h.TranKey) AS TransactionID, CASE WHEN ReqType=1 THEN 365 WHEN ReqType=-1 THEN 366 END AS TransactionType, SUM(f.UnitCost * f.Qty) [Amount],SUM(f.UnitCost * f.Qty) [AmountFgn],null AS CurrencyID, 1 As ExchRate,'WMMatReq' as SourceIDType
	FROM  tblWmMatReq h   
	INNER JOIN  tblWmMatReqRequest r ON h.TranKey = r.TranKey  
	INNER JOIN  tblWmMatReqFilled f ON r.TranKey = f.TranKey and r.LineNum = f.LineNum AND f.[Status]=0  
	GROUP BY h.TranKey,f.GLPeriod,f.GlYear,r.ItemId,f.TransDate,ReqType
	HAVING  SUM(f.UnitCost * f.Qty) <>0

	UNION ALL

	-- MFG Bill of material 
	SELECT 'MB' [ApplicationID],  'Standard Cost Adjustment', FiscalPeriod, FiscalYear, a.ItemId AS [Reference], TransDate, CONVERT(varchar(510),TransId), 
	367
	, (a.UnitCost -i.CostStd)*ISNULL(v.QtyOnHand,0) [Amount], (a.UnitCost -i.CostStd)*ISNULL(v.QtyOnHand,0) [AmountFgn]
	,NULL AS CurrencyID, 1 AS ExchRate ,'MBBillOfMaterial'
	FROM [dbo].[tblInStandardCostAdjust] a   
	LEFT JOIN [dbo].[tblInItemLoc] i ON a.ItemId = i.ItemId AND a.LocId = i.LocId  
	LEFT JOIN trav_InItemOnHand_view v ON v.ItemId = i.ItemId AND v.LocId = i.LocId	
	WHERE  
	a.[UnitCost] <> i.[CostStd]  

	UNION ALL
	--BR

	SELECT 'BR'  as [ApplicationID], CASE WHEN TransType=2 THEN 'BR Deposit' WHEN TransType=4 THEN 'BR Adjustment' WHEN TransType =-3 THEN 'BR Transfer' WHEN TransType=-1 THEN 'BR Disbursement' END [Source]
			, [GLPeriod] as FiscalPeriod,[FiscalYear],[BankID] as [Reference],[TransDate] AS TransactionDate, [TransID] AS TransactionID, CASE WHEN TransType=2 THEN 370 WHEN TransType=4 THEN 371 WHEN TransType =-3 THEN 372 WHEN TransType=-1 THEN 373 END TransactionType,
			(SIGN(TransType) * [Amount]) [Amount], (SIGN(TransType) * [AmountFgn]) [AmountFgn],[CurrencyId],[ExchRate], 'BRTransaction' as SourceIDType
	FROM [dbo].[tblBrJrnlHeader]
	WHERE (VoidYn = 0 OR (VoidYn = 1 AND VoidReinstateStat IS NULL)) AND Amount <>0

	UNION ALL

	--GL
	SELECT 'GL '[ApplicationID],'GL Realized GainLoss' [SourceID],g.FiscalPeriod [FiscalPeriod],g.FiscalYear [FiscalYear],g.FunctionID [Reference],g.TransDate [TransactionDate]
	,CONVERT(varchar(510),g.LinkPostRun )[TransactionID],375 as [TransType],SUM(g.Amountbase) [Amount],SUM(g.Amountbase) [AmountFgn] ,NULL AS CurrencyID, 1 as [ExchRate] ,'GLGainLoss'[SourceIDType]
	FROM tblGlGainLoss g
	where PostRun is null
	GROUP BY g.FiscalPeriod,g.FiscalYear,g.FunctionID,g.TransDate,g.LinkPostRun

	UNION ALL
	--SR Billings
	SELECT 'SR' as [ApplicationID],Case when TransType=1 then 'SR Invoice' ELSE 'SR CreditMemo' END [Source],FiscalPeriod, FiscalYear,JobId as [Reference],
				InvcDate AS TransactionDate,CONVERT(varchar(510),TransId) AS TransactionID,Case when TransType=1 then 376 ELSE 377 END TransactionType, SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc) [Amount]
				,SIGN(TransType) * (TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn + TaxAmtAdjFgn + FreightFgn + MiscFgn) [AmountFgn],CurrencyId,ExchRate, 'SRBillings' as SourceIDType
	FROM dbo.tblSrInvoiceHeader 
	WHERE VoidYn=0 AND HoldYn=0 AND (TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc) <>0

	UNION ALL

	SELECT 'SR' as [ApplicationID], Case when TransType=2 then 'Estimate Job' ELSE 'Approved Job' END [Source],td.FiscalPeriod, td.FiscalYear, CONVERT(varchar(510),th.InvcNum) as [Reference],
	th.TransDate,CONVERT(varchar(510),th.TransId),Case when TransType=2 then 378 ELSE 379 END TransactionType,ExtCost [Amount],ExtCostFgn [AmountFgn] ,th.CurrencyID, th.ExchRate, 'SRTransactions' as SourceIDType
	FROM dbo.tblSrTransHeader th
	INNER JOIN dbo.tblSrTransDetail td ON td.TransId = th.TransId
	WHERE th.TransType <>1 AND td.LineType IN (1,-1,3,0)AND td.LineStatus = 0 AND td.Id IS NOT NULL AND ExtCost <>0



	UNION ALL

	SELECT 'SR' as [ApplicationID], Case when TransType=2 then 'Estimate Job' ELSE 'Approved Job' END [Source],t.FiscalPeriod, t.FiscalYear, th.InvcNum as [Reference],
	th.TransDate,CONVERT(varchar(510),th.TransId),Case when TransType=2 then 378 ELSE 379 END TransactionType,ExtCost [Amount],ExtCostFgn [AmountFgn] ,th.CurrencyID, th.ExchRate, 'SRTransactions' as SourceIDType
	FROM dbo.tblSrTransHeader th
	INNER JOIN dbo.tblSrTimeCardTrans t ON t.TransId = th.TransId
	WHERE t.LineStatus=0 and ExtCost <>0


	

	UNION ALL
	--FA Depreciation
	SELECT	'FA' [ApplicationID], o.DeprType [Source]
			, GLPd, FiscalYear, d.AssetID [Reference], GETDATE() [TransactionDate], CONVERT(varchar(510), d.ID) AS TransactionID, 381 [TransactionType]
			, d.[CurrDepr] [Amount], d.[CurrDepr] [AmountFgn], CurrencyID, 1 AS ExchRate, 'FADepreciation' AS SourceIDType
	FROM	tblFaOptionDepr o
			INNER JOIN tblFaAssetDepr d on o.DeprType=d.DeprcType
			INNER JOIN tblFaAsset a on d.AssetID=a.AssetID
	WHERE	FiscalYear IS NOT NULL AND PdProcessed <> PdInYr
			AND o.[Process] = 1 AND o.[Type] = 1	--Book Type only  
			AND (a.[AssetStatus] = 1 OR (a.[AssetStatus] = 2 AND d.CurrDepr <> 0))  
			AND d.CurrDepr <> 0

	UNION ALL

	SELECT 'PA' [ApplicationID], 'Earning',null,t.PaYear, CONVERT(varchar(510),t.EmployeeId) AS [Reference], t.TransDate, CONVERT(varchar(510),t.ID),
		382,Amount [Amount], Amount [AmountFgn],NULL AS CurrencyID,1 ExchRate,'PATransaction'
	FROM dbo.tblPaTransEarn t
	INNER JOIN dbo.tblPaEarnCode e ON t.EarningCode= e.Id 
	WHERE t.PostedYn = 0 AND t.PaYear in(select payear from tblPaYear_Common where CurrentYn=1) AND  e.IncludeInNet =1 AND t.Amount <>0

	UNION ALL

	SELECT 'PA' [ApplicationID],'PA Checks',null,c.PaYear,CONVERT(varchar(510),c.EmployeeId) AS [Reference], c.CheckDate, CONVERT(varchar(510),c.ID),
	383,SUM(c.GrossPay) Amount,SUM(c.GrossPay) AmountFgn, NULL AS CurrencyID,1 ExchRate,'PAPayment'
	FROM dbo.tblPaCheck c  
	WHERE  c.PaYear in(select payear from tblPaYear_Common where CurrentYn=1) AND (c.GrossPay) <> 0
	group by c.ID,c.CheckDate,c.EmployeeId,c.PaYear


	UNION ALL

	-- PS
	SELECT	'PS' [ApplicationID],  CASE WHEN TransType=1 THEN 'PS Invoice' WHEN  TransType=-1 THEN 'PS Return'  WHEN TransType=10 THEN 'PS Layaway' END [SourceID]
			,NULL AS FiscalPeriod, null as FiscalYear, h.BillToID AS [Reference], TransDate AS TransactionDate,	 h.TransIDPrefix + RIGHT(CAST(100000000 + h.TransID AS varchar),8) as [Transaction ID]
			, CASE WHEN TransType=1 THEN 385 WHEN  TransType=-1 THEN 386  WHEN TransType=10 THEN 387 END TransactionType, Amount [Amount], Amount [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate ,'PSTransaction'  as SourceIDType
	FROM  dbo.tblPsTransHeader h 
	INNER JOIN 
		(SELECT HeaderID, SUM(CASE WHEN LineType = -1 OR LineType = -4 THEN 0 ELSE SIGN(LineType) * ExtPrice END) AS Amount
			FROM dbo.tblPsTransDetail GROUP BY HeaderID) d 	ON h.ID = d.HeaderID 
	WHERE ((h.TransType IN (1, -1) AND Synched = 1) OR (h.TransType = 10 AND h.CompletedDate IS NOT NULL))
	AND h.ID NOT IN (SELECT HeaderID FROM dbo.tblPsPayment WHERE HeaderID IS NOT NULL AND Synched = 0) AND d.Amount <>0 AND h.VoidDate IS NULL

	

	UNION ALL

	SELECT	'PS' [ApplicationID],'PS Payment' [SourceID],NULL AS FiscalPeriod, null as FiscalYear,p.PmtMethodID AS [Reference], PmtDate AS TransactionDate, ISNULL(h.TransIDPrefix + RIGHT(CAST(100000000 + h.TransID AS varchar),8),p.HostID)  as [Transaction ID]
			, 388 as TransactionType, p.AmountBase [Amount], p.AmountBase [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate ,'PSPayment'  as SourceIDType
	FROM  dbo.tblPsPayment p
	LEFT JOIN tblPsTransHeader h ON p.HeaderID = h.ID
	WHERE p.PostedYN = 0  AND (p.Synched=1 OR  h.CompletedDate IS NOT NULL) AND p.AmountBase<>0 AND p.VoidDate IS NULL

	UNION ALL
	
	SELECT	'PS' [ApplicationID],'PS Reward Activity' [SourceID],NULL AS FiscalPeriod, null as FiscalYear,p.[Description] AS [Reference], a.TransDate AS TransactionDate, CAST(a.[ID] AS nvarchar(255)) [Transaction ID]
			, 389 as TransactionType,  (a.[PointValue] * p.[RedemptionRate] / 100.0) [Amount], (a.[PointValue] * p.[RedemptionRate] / 100.0) [AmountFgn],NULL AS CurrencyID, 1 AS ExchRate ,'PSRewardActivity'  as SourceIDType
	FROM  dbo.tblPsRewardActivity a 
	LEFT JOIN dbo.tblPsRewardProgram p on a.[ProgramID] = p.[ID]
	WHERE (a.[Type] = 0 AND a.[PostRun] IS NULL ) AND (a.[PointValue] * p.[RedemptionRate] <>0 ) AND p.ID IS NOT NULL
	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlUnPostedTransactionsView'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_GlUnPostedTransactionsView'
GO
