USE [005]
GO
/****** Object:  View [dbo].[trav_tblInItemLocLot_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInItemLocLot_View]
AS
SELECT t.[Cmnt]
, t.[ExpDate]
, t.[InitialDate]
, t.[ItemId]
, t.[LocId]
, t.[LotNum]
, t.[LotStatus]
, t.[VendID]
, e.[cf_3rd Party Alias]
, e.[cf_Core ID]
, e.[cf_ItemNotes]
, e.[cf_Lot No.]
, e.[cf_PDF417]
, e.[cf_Roll OD]
, e.[cf_Serial No.]
, e.[cf_Supplier Pallet No]
, e.[cf_Use By Date]
, e.[cf_Vendor Mfg Date]
, e.[cf_Vendor Ship Date]
, e.[cf_Width]
, e.[cf_Width(IN)]
, e.[cf_Width(MM)]
, e.[cf_Winding Type]
 FROM dbo.[tblInItemLocLot] t
 LEFT JOIN
 ( SELECT pvt.[ItemId]
	, pvt.[LocId]
	, pvt.[LotNum]
	, Cast(pvt.[3rd Party Alias] As nvarchar(50)) AS [cf_3rd Party Alias]
	, Cast(pvt.[Core ID] As float) AS [cf_Core ID]
	, Cast(pvt.[ItemNotes] As nvarchar(100)) AS [cf_ItemNotes]
	, Cast(pvt.[Lot No.] As nvarchar(16)) AS [cf_Lot No.]
	, Cast(pvt.[PDF417] As nvarchar(max)) AS [cf_PDF417]
	, Cast(pvt.[Roll OD] As float) AS [cf_Roll OD]
	, Cast(pvt.[Serial No.] As nvarchar(20)) AS [cf_Serial No.]
	, Cast(pvt.[Supplier Pallet No] As nvarchar(max)) AS [cf_Supplier Pallet No]
	, Cast(pvt.[Use By Date] As datetime) AS [cf_Use By Date]
	, Cast(pvt.[Vendor Mfg Date] As datetime) AS [cf_Vendor Mfg Date]
	, Cast(pvt.[Vendor Ship Date] As datetime) AS [cf_Vendor Ship Date]
	, Cast(pvt.[Width] As float) AS [cf_Width]
	, Cast(pvt.[Width(IN)] As float) AS [cf_Width(IN)]
	, Cast(pvt.[Width(MM)] As float) AS [cf_Width(MM)]
	, Cast(pvt.[Winding Type] As nvarchar(max)) AS [cf_Winding Type]
	 FROM
		 ( SELECT t.[ItemId], t.[LocId], t.[LotNum], [Name], [Value]
		 FROM
			 ( SELECT t.[ItemId], t.[LocId], t.[LotNum]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInItemLocLot] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([3rd Party Alias], [Core ID], [ItemNotes], [Lot No.], [PDF417], [Roll OD], [Serial No.], [Supplier Pallet No], [Use By Date], [Vendor Mfg Date], [Vendor Ship Date], [Width], [Width(IN)], [Width(MM)], [Winding Type])) AS pvt
) e on  t.[ItemId] = e.[ItemId] AND t.[LocId] = e.[LocId] AND t.[LotNum] = e.[LotNum]
GO
