USE [005]
GO
/****** Object:  View [dbo].[pvtInSerialHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtInSerialHist]
AS

SELECT d.ItemId, i.Descr, s.SerNum, d.SumYear, d.GlPeriod AS SumPeriod, 
	CASE d.TransType WHEN 1 THEN 'Purchase' WHEN 2 THEN 'Purchase Return'	WHEN 3 THEN 'Sales'
	WHEN 4 THEN 'Sales Return' WHEN 5 THEN 'Material Requisition' WHEN 6 THEN 'Transfer In'
	WHEN 7 THEN 'Transfer Out' WHEN 8 THEN 'Build' WHEN 9 THEN 'Adjustment Increase'
	WHEN 10 THEN 'Adjustment Decrease' WHEN 15 THEN 'Material Requisition Return'
	WHEN 16 THEN 'Consumed'	WHEN 17 THEN 'Move In' WHEN 18 THEN 'Move Out'
	WHEN 19 THEN 'COGS Adjustment' WHEN 20 THEN 'Purchase Price Variance' END AS [TransType],
	d.RefId, s.CostUnit, s.PriceUnit, d.LocId
FROM dbo.tblInHistSer s INNER JOIN dbo.tblInHistDetail d ON s.HistSeqNum = d.HistSeqNum 
	INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInSerialHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtInSerialHist'
GO
