USE [005]
GO
/****** Object:  View [dbo].[trav_EcPoHistInfo_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  view [dbo].[trav_EcPoHistInfo_view]    
AS    
SELECT poh.PostRun, poh.Id as POHeaderID, p.PartnerID, poh.SenderID, poh.ImportBatchId, poh.ImportDate    
	   , poh.KeyLevelSeq1, pod.KeyLevelSeq2, poh.CustID
	   , poh.CustPoNum, ISNULL(pod.SplitSeq,0) BreakID
	   , CASE WHEN ISNULL(poh.PODate,'') = '' THEN NULL ELSE CAST(poh.PODate AS datetime) END PoDate
	   , poh.ReqShipDate, poh.ReqDeliveryDate
	   , poh.OrderRef, pod.EDIBillToCode, pod.EDIShipToCode, poh.ARShipToID
	   , poh.ShipToName                                                        
	   , pod.SOShipToID
	   , poh.SOShipVia, pod.SOShipToName
	   , pod.SOShipToAddr1, pod.SOShipToAddr2, pod.SOShipToCity, pod.SOShipToRegion
	   , pod.SOShipToCountry, pod.SOShipToPostalCode, pod.RequestedDate AS [DetailReqShipDate]
	   , pod.ItemUir, pod.ItemBuyerCode, pod.ItemVendorCode, pod.ItemUPC
	   , pod.ItemId
	   , pod.SOItemDescr
	   , pod.ItemDescr
	   , pod.SOUnitsSell
	   , pod.POUnitsSell AS [EDIUnits]
	   , pod.UnitPrice
	   , pod.SOQtyOrdSell AS [QtyOrdered]
	   , pod.LocId, pod.PoLineNum
	   , pod.PackQty, pod.InnerPackQty
	   , poh.OrderNotes, poh.MarkFor, poh.EDIDepartment
	   , poh.EDIVendorNumber
	   , ISNULL(poh.TotalPoAmt,0) AS [POTotalAmt]
	   , ISNULL(hdisc.DiscCode1,'') AS [HeaderDiscCode1]
	   , ISNULL(hdisc.DiscAmount1,0) AS [HeaderDiscAmt1]
	   , ISNULL(hdisc.DiscCode2,'') AS [HeaderDiscCode2]
	   , ISNULL(hdisc.DiscAmount2,0) AS [HeaderDiscAmt2]
	   , ISNULL(hdisc.DiscCode3,'') AS [HeaderDiscCode3]
	   , ISNULL(hdisc.DiscAmount3,0) AS [HeaderDiscAmt3]
	   , ISNULL(ddisc.DiscCode1,'') AS [LineDiscCode1]
	   , ISNULL(ddisc.DiscAmount1,0) AS [LineDiscAmt1]
	   , ISNULL(ddisc.DiscCode2,'') AS [LineDiscCode2]
	   , ISNULL(ddisc.DiscAmount2,0) AS [LineDiscAmt2]
	   , ISNULL(ddisc.DiscCode3,'') AS [LineDiscCode3]
	   , ISNULL(ddisc.DiscAmount3,0) AS [LineDiscAmt3]
	   , poh.CarrierName
	   , poh.SOShipMethodCode
	   , poh.DeleteDate
FROM dbo.tblEcPoHistHeader poh
INNER JOIN dbo.tblEcPoHistDetail pod ON poh.PostRun = pod.PostRun AND poh.Id = pod.PoHistHeaderID
LEFT JOIN dbo.tblEcPartner p ON p.ID = poh.PartnerId
LEFT JOIN
(
	SELECT s.PostRun, s.POHeaderID,
		   MAX(CASE WHEN s.SACSeq = 1 THEN s.SACCode ELSE '' END) AS DiscCode1,
		   SUM(CASE WHEN s.SACSeq = 1 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END) AS DiscAmount1,
		   MAX(CASE WHEN s.SACSeq = 2 THEN s.SACCode ELSE '' END ) AS DiscCode2,
		   SUM(CASE WHEN s.SACSeq = 2 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END )as DiscAmount2,
		   MAX(CASE WHEN s.SACSeq = 3 THEN s.SACCode else '' END)  AS DiscCode3,
		   SUM(CASE WHEN s.SACSeq = 3 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END) AS DiscAmount3
	FROM dbo.tblEcPoHistSAC s
	WHERE s.PODetailID IS NULL
	GROUP BY s.PostRun, s.POHeaderID
) hdisc ON poh.PostRun = hdisc.PostRun AND poh.ID = hdisc.POHeaderID
LEFT JOIN
(
	SELECT s.PostRun, s.PODetailID,
		   MAX(CASE WHEN s.SACSeq = 1 THEN s.SACCode ELSE '' END) AS DiscCode1,
		   SUM(CASE WHEN s.SACSeq = 1 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END) AS DiscAmount1,
		   MAX(CASE WHEN s.SACSeq = 2 THEN s.SACCode ELSE '' END ) AS DiscCode2,
		   SUM(CASE WHEN s.SACSeq = 2 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END )as DiscAmount2,
		   MAX(CASE WHEN s.SACSeq = 3 THEN s.SACCode else '' END)  AS DiscCode3,
		   SUM(CASE WHEN s.SACSeq = 3 THEN SIGN(ISNULL(s.SACAdjType,0)) * ISNULL(s.SACAmount,0) ELSE 0 END) AS DiscAmount3
	FROM dbo.tblEcPoHistSAC s
	WHERE s.PODetailID IS NOT NULL
	GROUP BY s.PostRun, s.PODetailID
) ddisc ON pod.PostRun = ddisc.PostRun AND pod.ID = ddisc.PODetailID
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcPoHistInfo_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcPoHistInfo_view'
GO
