USE [005]
GO
/****** Object:  View [dbo].[trav_PoHistoryHeaderDetailVendorItem_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PoHistoryHeaderDetailVendorItem_view]
AS
SELECT h.PostRun, h.TransId, h.VendorId, h.DistCode, v.Name, v.PriorityCode, v.VendorHoldYN, 
	v.VendorClass, v.DivisionCode, v.DistCode AS VendorDistCode, v.Status, 
	d.EntryNum, d.LocId, d.ItemId, d.InItemYn, d.ReqShipDate, d.GLAcct, d.SourceType, d.ProjId, 
	r.ReceiptDate, i.Descr, i.ProductLine, i.SalesCat, i.PriceID, i.TaxClass
FROM dbo.tblPoHistHeader h INNER JOIN dbo.tblPoHistDetail d  ON h.PostRun = d.PostRun AND h.TransId = d.TransID 
	LEFT JOIN 
	(SELECT h.PostRun,h.TransID,d.EntryNum,MIN(h.ReceiptDate) ReceiptDate
	 FROM dbo.tblPoHistReceipt h INNER JOIN dbo.tblPoHistLotRcpt d  

	 ON h.PostRun = d.PostRun AND h.TransId = d.TransId AND h.ReceiptNum = d.RcptNum
	 GROUP BY h.PostRun,h.TransID,d.EntryNum) r 
		ON d.PostRun = r.PostRun AND d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
	LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
	LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoHistoryHeaderDetailVendorItem_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoHistoryHeaderDetailVendorItem_view'
GO
