USE [005]
GO
/****** Object:  View [dbo].[pvtApCheckDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApCheckDetail]
AS

SELECT v.VendorID, v.Name, o.InvoiceNum, o.InvoiceDate, pd.GrossAmtDueBase GrossAmtDue, pd.DiscTakenBase DiscTaken
FROM dbo.tblApPaymentDetail pd 
INNER JOIN  dbo.tblApOpenInvoice o on o.Counter = pd.InvoiceCounter 
INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApCheckDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApCheckDetail'
GO
