USE [005]
GO
/****** Object:  View [dbo].[trav_PoTransHeaderDetailInvoice_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_PoTransHeaderDetailInvoice_view]
AS
SELECT h.TransId, h.VendorId, d.EntryNum, d.LocId, d.ItemId, d.ReqShipDate, r.InvoiceId,
	r.InvoiceNum, p.InvcDate, p.GlPeriod, p.FiscalYear
FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblPoTransDetail d  ON h.TransId = d.TransID 
	INNER JOIN dbo.tblPoTransInvoice r ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
	INNER JOIN dbo.tblPoTransInvoiceTot p ON r.TransID = p.TransId AND r.InvoiceNum = p.InvcNum 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoTransHeaderDetailInvoice_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_PoTransHeaderDetailInvoice_view'
GO
