USE [005]
GO
/****** Object:  View [dbo].[vWEB_SisenseFinancial]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vWEB_SisenseFinancial]
AS
SELECT        'FtWayne' AS PlantID, p.AcctId, p.[Desc], p.AcctTypeId, p.BalType, p.ClearToAcct, p.ClearToStep, p.ConsolToAcct, p.ConsolToStep, p.Status, p.CurrencyID, p.Segment1, p.Segment2, p.Segment3, p.Segment4, 
                         p.Segment5, p.Segment6, p.Segment7, t.[Desc] AS TypeDescription, t.AcctClassId, cl.[Desc] AS ClassDescr, t.AcctCode, dtl.Year, dtl.Period, dtl.AmountType, dtl.AmountDescription, dtl.Amount, dtl.BFRef, 
                         dtl.ActualBase, dtl.Balance, dtl.BFAcctDtlRef
FROM            dbo.trav_GlAccountHeader_view AS p LEFT OUTER JOIN
                         dbo.tblGlAcctType AS t ON p.AcctTypeId = t.AcctTypeId LEFT OUTER JOIN
                         dbo.tblGlAcctClass AS cl ON t.AcctClassId = cl.AcctClassId LEFT OUTER JOIN
                             (SELECT        0 AS AmountType, 'Actual' AS AmountDescription, NULL AS BFRef, AcctId, Year, Period, Actual AS Amount, ActualBase, Balance, NULL AS BFAcctDtlRef
                               FROM            dbo.tblGlAcctDtl AS d
                               UNION ALL
                               SELECT        1 AS AmountType, s.Descr AS AmountDescription, b.BFRef, b.AcctID, b.GlYear AS Year, b.GlPeriod AS Period, b.Amount, NULL AS ActualBase, NULL AS Balance, b.BFAcctDtlRef
                               FROM            dbo.tblGlAcctDtlBudFrcst AS b LEFT OUTER JOIN
                                                        SYS.dbo.tblGLBudFrcstDescr AS s ON b.BFRef = s.BFRef) AS dtl ON p.AcctId = dtl.AcctId


GO
