USE [005]
GO
/****** Object:  View [dbo].[_vwTblGlAcctHdr]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[_vwTblGlAcctHdr]
AS
SELECT [AcctId]
		,SUBSTRING([AcctId],1,4) + '-' + 	SUBSTRING([AcctId],5,7) AS AcctIDMasked
	   ,[Desc]
      ,[AcctTypeId]
      ,[BalType]
      ,[ClearToAcct]
      ,[ClearToStep]
      ,[ConsolToAcct]
      ,[ConsolToStep]
      ,[Status]
      ,[CurrencyID]
      ,[ts]
      ,[CF]
  FROM [tblGlAcctHdr]



GO
