USE [005]
GO
/****** Object:  View [dbo].[trav_InItemQtys_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_InItemQtys_view]
AS
SELECT ItemId,LocId,Sum(CASE WHEN TransType=0 THEN Qty ELSE 0 END ) AS QtyCmtd,
	Sum(CASE WHEN TransType=2 THEN Qty ELSE 0 END ) AS QtyOnOrder,
	Sum(CASE WHEN TransType=1 THEN Qty ELSE 0 END ) AS QtyInUse
FROM dbo.tblInQty
GROUP BY ItemId,LocId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemQtys_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_InItemQtys_view'
GO
