USE [005]
GO
/****** Object:  View [dbo].[trav_WmHistDetail_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_WmHistDetail_view] AS

SELECT [hist].*,
       CASE WHEN [hist].[Source] IN (10,11,12,13,14) THEN 1
            WHEN [hist].[Source] IN (70,71,72,88)    THEN 2 
            WHEN [hist].[Source] IN (80,81,82,83,84) THEN 3
            WHEN [hist].[Source] IN (30,31,32)       THEN 4
            WHEN [hist].[Source] IN (75,87)          THEN 5
            WHEN [hist].[Source] IN (16,21)          THEN 6
            WHEN [hist].[Source] IN (74,79)          THEN 7
            WHEN [hist].[Source] IN (18,33,34)       THEN 8
            WHEN [hist].[Source] IN (15,20)          THEN 9
            WHEN [hist].[Source] IN (73,78)          THEN 10
            WHEN [hist].[Source] IN (17,22)          THEN 15
            WHEN [hist].[Source] IN (76,85,86)       THEN 16
            WHEN [hist].[Source] IN (19)             THEN 17
            WHEN [hist].[Source] IN (77)             THEN 18 END AS [TransType]
  FROM [dbo].[tblWmHistDetail] [hist]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmHistDetail_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_WmHistDetail_view'
GO
