USE [005]
GO
/****** Object:  View [dbo].[pvtPaEmployeeDeductions]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaEmployeeDeductions]
AS

SELECT d.PaYear, d.PaMonth, d.EmployeeId, d.DeductionCode, c.Description
	, CASE WHEN PaMonth = 1 THEN d.Amount ELSE 0 END AS DedAmtJanuary
	, CASE WHEN PaMonth = 2 THEN d.Amount ELSE 0 END AS DedAmtFebruary
	, CASE WHEN PaMonth = 3 THEN d.Amount ELSE 0 END AS DedAmtMarch
	, CASE WHEN PaMonth = 4 THEN d.Amount ELSE 0 END AS DedAmtApril
	, CASE WHEN PaMonth = 5 THEN d.Amount ELSE 0 END AS DedAmtMay
	, CASE WHEN PaMonth = 6 THEN d.Amount ELSE 0 END AS DedAmtJune
	, CASE WHEN PaMonth = 7 THEN d.Amount ELSE 0 END AS DedAmtJuly
	, CASE WHEN PaMonth = 8 THEN d.Amount ELSE 0 END AS DedAmtAugust
	, CASE WHEN PaMonth = 9 THEN d.Amount ELSE 0 END AS DedAmtSeptember
	, CASE WHEN PaMonth = 10 THEN d.Amount ELSE 0 END AS DedAmtOctober
	, CASE WHEN PaMonth = 11 THEN d.Amount ELSE 0 END AS DedAmtNovember
	, CASE WHEN PaMonth = 12 THEN d.Amount ELSE 0 END AS DedAmtDecember 
FROM dbo.tblPaEmpHistDeduct d 
	INNER JOIN dbo.tblPaDeductCode c ON d.DeductionCode = c.DeductionCode 

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaEmployeeDeductions'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaEmployeeDeductions'
GO
