USE [005]
GO
/****** Object:  View [dbo].[pvtApChecks]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtApChecks]
AS

SELECT v.VendorID,  pd.DiscLostBase DiscLost, pd.DiscTakenBase DiscTaken, pd.PaymentAmtBase CheckAmt, p.PaymentDate CheckDate, p.ID [Counter], v.Name
FROM dbo.tblApPayment p 
INNER JOIN dbo.tblApPaymentDetail pd on pd.PaymentID = p.ID
INNER JOIN dbo.tblApOpenInvoice o ON pd.InvoiceCounter= o.Counter
INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID




GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApChecks'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtApChecks'
GO
