USE [005]
GO
/****** Object:  View [dbo].[trav_SmTransLinkSource_SO]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PET:http://problemtrackingsystem.osas.com/view.php?id=254204
--PET:http://problemtrackingsystem.osas.com/view.php?id=263947
CREATE VIEW [dbo].[trav_SmTransLinkSource_SO]
AS
SELECT d.TransId, d.EntryNum, ISNULL(d.ItemId,'') ItemId, d.Descr, ISNULL(d.LocId,'') LocId, ISNULL(l.SeqNum,0) AS LinkSeqNum
	, CASE WHEN h.TransType IN (3, 5, 9) AND ISNULL(d.Status, 0) = 0 
		AND d.QtyShipSell = 0 AND (l.SeqNum IS NULL OR l.DestStatus = 2)  THEN 0 ELSE 1 END SourceStatus,
	CASE WHEN (l.SeqNum > 0 AND l.DestStatus <> 2) THEN 1 ELSE 0 END Linked
FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransId
	LEFT JOIN dbo.tblSmTransLink l ON d.LinkSeqNum = l.SeqNum 
WHERE h.VoidYn = 0 AND d.Kit = 0 AND d.TotQtyShipSell = 0

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTransLinkSource_SO'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmTransLinkSource_SO'
GO
