USE [005]
GO
/****** Object:  View [dbo].[trav_tblInItem_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInItem_view]
AS
SELECT t.[AutoReorderYN]
, t.[CommodityCode]
, t.[CostMethodOverride]
, t.[Descr]
, t.[HMRef]
, t.[ItemId]
, t.[ItemStatus]
, t.[ItemType]
, t.[KittedYN]
, t.[LottedYN]
, t.[PictId]
, t.[PriceId]
, t.[ProductLine]
, t.[ResaleYN]
, t.[SalesCat]
, t.[SuperId]
, t.[TaxClass]
, t.[UomBase]
, t.[UomDflt]
, t.[UsrFld1]
, t.[UsrFld2]
, t.[UsrFld3]
, t.[UsrFld4]
, e.[cf_Buyer]
, e.[cf_Contract Verification]
, e.[cf_Customer]
, e.[cf_Customer Owned]
, e.[cf_FG Program]
, e.[cf_Kitted (WI)]
, e.[cf_Multi Program Out Time Specs]
, e.[cf_Multi-Item Mfg]
, e.[cf_Multi-UOM Serial Item]
, e.[cf_Out-Time Tracked]
 FROM dbo.[tblInItem] t
 LEFT JOIN
 ( SELECT pvt.[ItemId]
	, Cast(pvt.[Buyer] As nvarchar(5)) AS [cf_Buyer]
	, Cast(pvt.[Contract Verification] As bit) AS [cf_Contract Verification]
	, Cast(pvt.[Customer] As nvarchar(max)) AS [cf_Customer]
	, Cast(pvt.[Customer Owned] As bit) AS [cf_Customer Owned]
	, Cast(pvt.[FG Program] As nvarchar(100)) AS [cf_FG Program]
	, Cast(pvt.[Kitted (WI)] As bit) AS [cf_Kitted (WI)]
	, Cast(pvt.[Multi Program Out Time Specs] As bit) AS [cf_Multi Program Out Time Specs]
	, Cast(pvt.[Multi-Item Mfg] As bit) AS [cf_Multi-Item Mfg]
	, Cast(pvt.[Multi-UOM Serial Item] As bit) AS [cf_Multi-UOM Serial Item]
	, Cast(pvt.[Out-Time Tracked] As bit) AS [cf_Out-Time Tracked]
	 FROM
		 ( SELECT t.[ItemId], [Name], [Value]
		 FROM
			 ( SELECT t.[ItemId]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInItem] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Buyer], [Contract Verification], [Customer], [Customer Owned], [FG Program], [Kitted (WI)], [Multi Program Out Time Specs], [Multi-Item Mfg], [Multi-UOM Serial Item], [Out-Time Tracked])) AS pvt
) e on  t.[ItemId] = e.[ItemId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblInItem_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_tblInItem_view'
GO
