USE [005]
GO
/****** Object:  View [dbo].[pvtArMethodPmt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[pvtArMethodPmt]
AS
SELECT dbo.tblArPmtMethod.PmtMethodID, dbo.tblArPmtMethod.[Desc]
	, case dbo.tblArPmtMethod.PmtType
		when 1 then 'Cash'
		when 2 then 'Check'
		when 3 then 'Credit'
		when 4 then 'Write-off'
		when 5 then 'Other'
		when 7 then 'Credit'
	end as [pmttype$]
	, dbo.tblArPmtMethod.GLAcctDebit, v.FiscalYear
	, v.FiscalPeriod GLPeriod, v.TotalPayments Pmt
FROM dbo.tblArPmtMethod 
INNER JOIN dbo.trav_ArPaymentMethodDetail_view v ON dbo.tblArPmtMethod.PmtMethodID = v.PaymentMethodId
 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArMethodPmt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtArMethodPmt'
GO
