USE [005]
GO
/****** Object:  View [dbo].[trav_DrMasterScheduleReport_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View [dbo].[trav_DrMasterScheduleReport_View]
As

SELECT DISTINCT i.itemID,i.ProductLine, m.LocId  
 FROM dbo.tblDrFrcstDetail  m  
 INNER JOIN dbo.tblInItem i ON m.ItemId = i.ItemId     
 INNER JOIN  (SELECT  BmItemId AssemblyID FROM dbo.tblBmBom GROUP BY BmItemId   
     UNION  
     SELECT AssemblyId FROM dbo.tblMbAssemblyHeader GROUP BY AssemblyId  
    ) t ON i.ItemId=t.AssemblyID 

 
					
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrMasterScheduleReport_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_DrMasterScheduleReport_View'
GO
