USE [005]
GO
/****** Object:  View [dbo].[trav_tblInUom_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInUom_View]
AS
SELECT t.[ID]
, t.[Uom]
, e.[cf_International Unit]
 FROM dbo.[tblInUom] t
 LEFT JOIN
 ( SELECT pvt.[ID]
	, Cast(pvt.[International Unit] As nvarchar(5)) AS [cf_International Unit]
	 FROM
		 ( SELECT t.[ID], [Name], [Value]
		 FROM
			 ( SELECT t.[ID]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInUom] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([International Unit])) AS pvt
) e on  t.[ID] = e.[ID]
GO
