USE [005]
GO
/****** Object:  View [dbo].[trav_EcOutboundASNHistory_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_EcOutboundASNHistory_view]
AS
SELECT DISTINCT h.PostRun, ph.TransId, h.InvcNum, ps.CustPONum, cp.PartnerID, ps.ID ShipmentId,
ph.ASNNumber, ps.BillofLading, ps.ContainersInShipment
FROM dbo.tblEcPackHistShipment ps 
INNER JOIN 
(
	SELECT h.PostRun, h.ShipmentID, h.TransID, h.ASNNumber 
	FROM dbo.tblEcPackHistHeader h
	GROUP BY h.PostRun, h.ShipmentID, h.TransID, h.ASNNumber 
) ph ON ps.ID = ph.ShipmentId AND ps.PostRun = ph.PostRun
INNER JOIN dbo.tblArHistHeader h ON ph.TransID = h.TransId AND ps.PostRun = h.PostRun
INNER JOIN 
(
	SELECT p.ID, p.PartnerID, p.DfltCustId AS [CustId]
	FROM dbo.tblEcPartner p
	WHERE ISNULL(p.ActiveYN,0) = 1
	UNION
	SELECT pp.ID, pp.PartnerID, o.CustId
	FROM dbo.tblEcPartnerDocOverride o
	INNER JOIN dbo.tblEcPartner pp ON o.PartnerId = pp.ID
	INNER JOIN dbo.tblEcDocument d ON d.ID = o.DocID
	WHERE d.DocID = '856-O' AND ISNULL(pp.ActiveYN,0) = 1
) cp ON ps.CustId = cp.CustID 
WHERE ISNULL(h.VoidYn,0) = 0 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundASNHistory_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOutboundASNHistory_view'
GO
