USE [005]
GO
/****** Object:  View [dbo].[trav_SmShipList_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_SmShipList_view]
	AS
	SELECT * 
	FROM 
		(
		SELECT h.TransId [TransId], h.CustId, h.ShipToName, h.ShipToAttn,	h.ShipToAddr1, 
		h.ShipToAddr2, h.ShipToCity, h.ShipToRegion, h.ShipToPostalCode,
		h.ShipToCountry, h.ShipToPhone, h.ShipToFax, h.ShipVia, h.ShipToEmail,
		h.ResidentialYN, h.FreightAccountNumber, h.CustPONum,
		CASE f.FreightPaidBy WHEN 0 THEN 'Shipper' WHEN 1 THEN 'Receiver' WHEN 2 THEN 'Third Party' END AS FreightPaidBy,
		f.FreightPaidBy AS FreightPaidByEnum,
		CASE h.TransType WHEN 1 THEN 'Invoice' WHEN 4 THEN 'Verified' WHEN 5 THEN 'Picked' END AS TransType,
		h.NumberOfPackage, h.ReqDeliveryDate, 
		h.TaxableSales + h.NonTaxableSales [SubTotal],
		s.ServiceCode, iso.CountryISO2
		FROM tblSoTransHeader h
		LEFT JOIN tblSmFreightTerm f ON h.FreightTermID = f.ID
		LEFT JOIN tblArShipMethod s ON h.ShipMethod = s.ShipMethodID
		LEFT JOIN trav_SmCountryISO_view iso ON h.ShipToCountry = iso.Country
		WHERE h.TransType IN (1, 4, 5)
		) ds
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmShipList_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_SmShipList_view'
GO
