USE [005]
GO
/****** Object:  View [dbo].[pvtBmMatDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtBmMatDetail]
AS

SELECT b.BmItemID AS 'Assembly ID', b.BmLocID AS 'Assembly Loc ID', d.BmBomID AS 'Bom ID', 
	d.ItemID AS 'Item ID', d.LocID AS 'Loc ID', 
	CASE d.BmDetailType WHEN 1 THEN 'Item' WHEN 2 THEN 'Sub' ELSE 'NA' END AS Type,
	d.Uom AS 'UOM', d.Quantity AS 'Qty', b.LaborCost AS 'Labor Cost'
FROM dbo.tblBmBom b INNER JOIN dbo.tblBmBomDetail d ON b.BmBomID = d.BmBomID



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMatDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtBmMatDetail'
GO
