USE [005]
GO
/****** Object:  View [dbo].[trav_tblInItemAlias_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInItemAlias_View]
AS
SELECT t.[AliasID]
, t.[AliasType]
, t.[Id]
, t.[ItemID]
, t.[RefID]
, e.[cf_Alias Description]
, e.[cf_FG Program]
, e.[cf_Product Lot Designation]
, e.[cf_Spec]
 FROM dbo.[tblInItemAlias] t
 LEFT JOIN
 ( SELECT pvt.[Id]
	, Cast(pvt.[Alias Description] As nvarchar(50)) AS [cf_Alias Description]
	, Cast(pvt.[FG Program] As nvarchar(100)) AS [cf_FG Program]
	, Cast(pvt.[Product Lot Designation] As nvarchar(10)) AS [cf_Product Lot Designation]
	, Cast(pvt.[Spec] As nvarchar(35)) AS [cf_Spec]
	 FROM
		 ( SELECT t.[Id], [Name], [Value]
		 FROM
			 ( SELECT t.[Id]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInItemAlias] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Alias Description], [FG Program], [Product Lot Designation], [Spec])) AS pvt
) e on  t.[Id] = e.[Id]
GO
