USE [005]
GO
/****** Object:  View [dbo].[trav_tblInItemSer_View]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblInItemSer_View]
AS
SELECT t.[Cmnt]
, t.[CostAdjPosted]
, t.[CostAdjPostedACV]
, t.[CostSell]
, t.[CostSellACV]
, t.[CostUnit]
, t.[CostUnitACV]
, t.[ExtLocA]
, t.[ExtLocB]
, t.[InitialDate]
, t.[ItemId]
, t.[LocId]
, t.[LotNum]
, t.[PriceUnit]
, t.[SerNum]
, t.[SerNumStatus]
, t.[Source]
, t.[Status]
, e.[cf_Exp Date]
, e.[cf_MFG Date]
 FROM dbo.[tblInItemSer] t
 LEFT JOIN
 ( SELECT pvt.[ItemId]
	, pvt.[SerNum]
	, Cast(pvt.[Exp Date] As datetime) AS [cf_Exp Date]
	, Cast(pvt.[MFG Date] As datetime) AS [cf_MFG Date]
	 FROM
		 ( SELECT t.[ItemId], t.[SerNum], [Name], [Value]
		 FROM
			 ( SELECT t.[ItemId], t.[SerNum]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblInItemSer] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Exp Date], [MFG Date])) AS pvt
) e on  t.[ItemId] = e.[ItemId] AND t.[SerNum] = e.[SerNum]
GO
