USE [005]
GO
/****** Object:  View [dbo].[trav_tblPoTransLotRcpt_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[trav_tblPoTransLotRcpt_View]
AS
SELECT t.[AccAdjCost]
, t.[AccAdjCostFgn]
, t.[ActivityId]
, t.[EntryNum]
, t.[ExtCost]
, t.[ExtCostFgn]
, t.[ExtLocA]
, t.[ExtLocB]
, t.[HistoryID]
, t.[HistSeqNum]
, t.[LotCmnt]
, t.[LotNum]
, t.[QtyAccRev]
, t.[QtyFilled]
, t.[QtyOrder]
, t.[QtySeqNum]
, t.[QtySeqNum_Ext]
, t.[QtyStatus]
, t.[QuantityExtID]
, t.[QuantityID]
, t.[RcptHeaderID]
, t.[RcptNum]
, t.[ReceiptID]
, t.[Status]
, t.[TransId]
, t.[UnitCost]
, t.[UnitCostFgn]
, e.[cf_Lot No.]
, e.[cf_PDF417]
, e.[cf_Serial No.]
, e.[cf_Vendor Mfg Date]
, e.[cf_Vendor Ship Date]
 FROM dbo.[tblPoTransLotRcpt] t
 LEFT JOIN
 ( SELECT pvt.[ReceiptID]
	, Cast(pvt.[Lot No.] As nvarchar(16)) AS [cf_Lot No.]
	, Cast(pvt.[PDF417] As nvarchar(max)) AS [cf_PDF417]
	, Cast(pvt.[Serial No.] As nvarchar(20)) AS [cf_Serial No.]
	, Cast(pvt.[Vendor Mfg Date] As datetime) AS [cf_Vendor Mfg Date]
	, Cast(pvt.[Vendor Ship Date] As datetime) AS [cf_Vendor Ship Date]
	 FROM
		 ( SELECT t.[ReceiptID], [Name], [Value]
		 FROM
			 ( SELECT t.[ReceiptID]
			 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
			 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
			 FROM dbo.[tblPoTransLotRcpt] t
			 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
			 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
		 ) t
	 ) tmp
	 PIVOT (Max([Value]) FOR [Name] IN ([Lot No.], [PDF417], [Serial No.], [Vendor Mfg Date], [Vendor Ship Date])) AS pvt
) e on  t.[ReceiptID] = e.[ReceiptID]
GO
