USE [005]
GO
/****** Object:  View [dbo].[pvtPaChecks]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pvtPaChecks]
AS

SELECT c.EmployeeId, c.CheckNumber, c.CheckDate, c.GrossPay, c.NetPay, c.TotalHoursWorked, e.LastName 
FROM dbo.tblPaCheck c INNER JOIN dbo.tblSmEmployee e ON c.EmployeeId = e.EmployeeId

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaChecks'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'pvtPaChecks'
GO
