USE [005]
GO
/****** Object:  View [dbo].[trav_CmContactLabels_View]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_CmContactLabels_View] AS
   SELECT  [c].[ID],	   
           [c].[ContactName],
           [c].[Title],
           [c].[FName],
           [c].[MName],
           [c].[LName],	
           [c].[Type],
           [c].[LinkType],
           [c].[Status],
           [c].[StatusID],
           [c].[LinkID],
           [c].[ReportToID],
           [c].[ID] AS [ContactID],  
          [ca].[ID] AS [AddressID],
          [ca].[Descr] AS [Description],         
          [ca].[Addr1],
          [ca].[Addr2],
          [ca].[City],
          [ca].[Region],
          [ca].[Country],
          [ca].[PostalCode],          
          [ca].[Sequence],
          [ca].[Status] AS [AddressStatus],          
          [rt].[ContactName] AS [ReportTo]
     FROM [dbo].[tblCmContact] [c]
LEFT JOIN [dbo].[tblCmContactAddress] [ca]
       ON ([ca].[ContactID] = [c].[ID]) 
LEFT JOIN [dbo].[tblCmContact] [rt]
       ON ([rt].[ID] =[c].[ReportToID])       
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_CmContactLabels_View'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_CmContactLabels_View'
GO
