USE [005]
GO
/****** Object:  View [dbo].[trav_EcOuboundDocument_view]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[trav_EcOuboundDocument_view]

AS

SELECT p.PartnerId, p.PartnerName, d.DocId, m.KeyLevelSeq1,
	   d.DocDescr, m.DocKey, m.SenderID, m.ReceiverID, 
	   m.SendDate, m.SendTime, m.ISAControlNum, m.GSControlNum, 
	   m.STControlNum, m.FAISAControlNum, 
	   m.FAGSControlNum, m.FASTControlNum, 
	   m.FADate, m.FATime,
	   CASE ISNULL(FAReturnCode,'') WHEN 'R' THEN 'Rejected' WHEN 'A' THEN 'Accepted' WHEN 'E' THEN 'Error' ELSE CASE WHEN d.FaYN = 1 THEN 'Unacknowledged' ELSE 'Sent' END END [ReturnCode],
	   m.ImportBatchId, CASE WHEN d.DocID IN ('810-O','855-O','856-O') THEN m.DocAddnlRef1 ELSE '' END [PONumber],
	   m.DocAddnlRef1 AS [AddnlReference]
FROM dbo.tblEcMailControl m 
INNER JOIN dbo.tblEcpartner p ON m.PartnerId = p.ID 
INNER JOIN dbo.tblEcDocument d ON d.ID = m.DocId
WHERE ISNULL(d.DocDirection,0) = 1
UNION 
SELECT p.PartnerId, p.PartnerName, d.DocId, 0 AS [KeyLevelSeq1],
	   d.DocDescr, h.InvcNum AS [DocKey], NULL AS [SenderID], pd.MailID AS [ReceiverID],
	   NULL AS [SendDate], NULL AS [SendTime], NULL AS [ISAControlNum], NULL AS [GSControlNum],
	   NULL AS [STControlNum], NULL AS [FAISAControlNum],
	   NULL AS [FAGSControlNum], NULL AS [FASTControlNum], 
	   NULL AS [FADate], NULL AS [FATime],
	   'Unsent' AS [ReturnCode],
	   h.PostRun AS [ImportBatchId], h.CustPONum [PONumber], h.TransId AS [AddnlReference]
FROM dbo.tblEcComm c
INNER JOIN dbo.tblArHistHeader h On c.PostRun = h.PostRun AND c.DocKey = h.TransId
INNER JOIN dbo.tblEcDocument d ON c.DocID = d.ID
LEFT JOIN dbo.trav_EcPartnerCustomer_view po ON h.CustId = po.CustID
LEFT JOIN dbo.tblEcPartner p ON po.ID = p.ID
LEFT JOIN dbo.tblEcPartnerDoc pd ON p.ID = pd.PartnerID AND c.DocID = pd.DocID
WHERE d.DocID IN('810-O','855-O','856-O')
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOuboundDocument_view'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'trav_EcOuboundDocument_view'
GO
