USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPick_History_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPick_History_proc]
@QtyPrec tinyint
AS
BEGIN TRY		

	DECLARE @MaxExtHistSeqNum int
	--IF OBJECT_ID('tempdb.dbo.#tmpWmHistDetail', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpWmHistDetail (ExtHistSeqNum int NOT NULL, PickKey int NOT NULL)
	--END
	CREATE TABLE #tmpWmHistDetail (ExtHistSeqNum int NOT NULL, PickKey int NOT NULL)

	SELECT @MaxExtHistSeqNum = MAX(ExtHistSeqNum) FROM dbo.tblWmHistDetail
	SET @MaxExtHistSeqNum = ISNULL(@MaxExtHistSeqNum,0)

	INSERT INTO #tmpWmHistDetail (ExtHistSeqNum, PickKey)
	SELECT ROW_NUMBER() OVER(ORDER BY p.PickKey) + @MaxExtHistSeqNum AS ExtHistSeqNum,p.PickKey
	FROM dbo.tblWmPick p INNER JOIN #PickStatus t ON p.PickKey = t.PickKey
		INNER JOIN dbo.tblInItem i ON p.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemUom u ON p.ItemId = u.ItemId AND p.UOM = u.Uom
	WHERE p.[Type] = 2 AND p.[Status] <> 2 AND p.ExtHistSeqNum IS NULL --Pack,Not completed,No WM ExtHistSeqNum

	SET IDENTITY_INSERT dbo.tblWmHistDetail ON
	INSERT INTO dbo.tblWmHistDetail(ExtHistSeqNum, HistSeqNum, HistSeqNumSer, ItemId, LocId, Lotnum, Sernum, ExtLocA, ExtLocAID, ExtLocB, ExtLocBID, [Source], TransId, 
		EntryNum, ReferenceId, EntryDate, TransDate, Qty, DeletedYn, [UID], HostId, [Status], DeleteDate, ZoneID, QtyBase, Unit, UnitBase, BOLNum, Notes, ActivityType, AppID)
	SELECT ROW_NUMBER() OVER(ORDER BY p.PickKey) + @MaxExtHistSeqNum AS ExtHistSeqNum,NULL AS HistSeqNum,NULL AS HistSeqNum,p.ItemId,p.LocId,p.LotNum,p.SerNum,
		p.ExtLocA,b.ExtLocID AS ExtLocAID,p.ExtLocB,c.ExtLocID AS ExtLocBID,
		CASE p.SourceId WHEN 0 THEN 81 WHEN 1 THEN 76 WHEN 2 THEN 80 WHEN 4 THEN 79 WHEN 8 THEN 87 WHEN 32 THEN 75 WHEN 64 THEN 71 WHEN 128 THEN 80 END AS [Source], --0,SO;1,MP;2,SD;4,WMTransfer;8,WMMatReq;32,PCMatReq;64,PurchaseReturn;128,ServiceRepair
		CASE WHEN p.[SourceId] IN (0,64,128) THEN p.TransId WHEN p.[SourceId] IN (1,2,4,8,32) THEN CAST(p.EntryNum AS nvarchar) ELSE NULL END AS TransId,  
		CASE WHEN p.[SourceId] IN (0,64,128) THEN p.EntryNum WHEN p.[SourceId] IN (1,2,4,8,32) THEN p.SeqNum ELSE NULL END AS EntryNum,
		CASE WHEN p.[SourceId] IN (0,2,4,8,32,64,128) THEN p.PackNumber WHEN p.[SourceId] IN (1) THEN g.Ref1 ELSE NULL END AS ReferenceId,
		GETDATE() AS EntryDate,p.TransDate,p.QtyPicked AS Qty,0 AS DeletedYn,p.[UID],p.HostId,p.QtyStatus AS [Status],
		NULL AS DeleteDate,b.ZoneID,ROUND(CAST(p.QtyPicked AS decimal(23,10)) * CAST(u.ConvFactor AS decimal(23,10)),@QtyPrec) AS QtyBase,p.UOM AS Unit,i.UomBase AS UnitBase,NULL AS BOLNum, NULL AS Notes, CASE WHEN p.[Type] = 1 THEN 0 WHEN p.[Type] = 0 THEN 3 ELSE 4 END,
		CASE p.SourceId WHEN 0 THEN 'SO' WHEN 1 THEN 'MP' WHEN 2 THEN 'SD' WHEN 4 THEN 'WM' WHEN 8 THEN 'WM' WHEN 32 THEN 'JC' WHEN 64 THEN 'PO' WHEN 128 THEN 'SR' END AS [AppID]
	FROM dbo.tblWmPick p INNER JOIN #PickStatus t ON p.PickKey = t.PickKey
		INNER JOIN dbo.tblInItem i ON p.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemUom u ON p.ItemId = u.ItemId AND p.UOM = u.Uom
		LEFT JOIN dbo.tblWmExtLoc b ON p.ExtLocA = b.Id
		LEFT JOIN dbo.tblWmExtLoc c ON p.ExtLocB = c.Id
		LEFT JOIN tblWmPick_Gen G ON G.TransId = P.TransId AND G.EntryNum = P.EntryNum AND G.SeqNum = P.SeqNum AND G.SourceId = P.SourceId
	WHERE p.[Type] = 2 AND p.[Status] <> 2 AND p.ExtHistSeqNum IS NULL --Pack,Not completed,No WM ExtHistSeqNum,SO
	SET IDENTITY_INSERT dbo.tblWmHistDetail OFF

	UPDATE dbo.tblWmPick SET ExtHistSeqNum = w.ExtHistSeqNum
	FROM dbo.tblWmPick p INNER JOIN #tmpWmHistDetail w ON p.PickKey = w.PickKey

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPick_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPick_History_proc'
GO
