USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPhysicalCount_AutoGen_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPhysicalCount_AutoGen_proc]
@BatchID [pBatchID],
@WorkStationID [pWrkStnID],
@UserID [pUserID],
@PrecQty tinyint,
@DefaultFrozenQty bit
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @NewEntryID AS bigint
	SET @NewEntryID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
	INSERT INTO dbo.tblWmPhysicalCountEntry ([ID], [BatchID], [DetailID], [ItemID], [LotNum], [SerNum], [ExtLocAID], [ExtLocBID], [QtyCounted], [CountUom], [TagNum], [Status], [EntryDate], [UID], [HostID], [ErrorFlag])
	SELECT @NewEntryID + ROW_NUMBER() OVER (ORDER BY d.[ID]) AS [ID], b.BatchID, d.ID, h.ItemID, d.LotNum, d.SerNum, d.ExtLocAID, d.ExtLocBID, 
		CASE @DefaultFrozenQty WHEN 1 THEN ROUND(d.QtyFrozen/h.CountUomConvFactor,@PrecQty) ELSE 0 END AS QtyCounted , h.CountUom, d.TagNum,
		0 AS [Status], GETDATE() AS EntryDate, @UserID AS UID,@WorkStationID AS HostID, 255 AS ErrorFlag
	FROM dbo.tblWmPhysicalCountBatch b INNER JOIN dbo.tblWmPhysicalCountHeader h ON b.BatchID = h.BatchID
		INNER JOIN dbo.tblWmPhysicalCountDetail d ON h.ID = d.HeaderID
		LEFT JOIN (SELECT DISTINCT DetailID FROM dbo.tblWmPhysicalCountEntry WHERE BatchID = @BatchID) e ON d.ID = e.DetailID
	WHERE b.BatchID = @BatchID AND e.DetailID IS NULL AND (d.QtyFrozen != 0
		OR (b.ReqCountEntryForZeroQtyYN = 1 AND d.QtyFrozen = 0))

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCount_AutoGen_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCount_AutoGen_proc'
GO
