USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMoveQuantityPost_AppendMovement_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMoveQuantityPost_AppendMovement_proc]
@TransId int
AS
BEGIN TRY
	DECLARE @PrecQty tinyint
		
	
	--Retrieve global values
	SELECT @PrecQty = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecQty'

	IF @PrecQty IS NULL OR @TransId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Tracks the processed transactions in #TransList
	--CREATE TABLE #TransList
	--(
	--	[TransId] [int], 
	--	PRIMARY KEY ([TransId])
	--)

	--Appends entries into the following work table 
	--CREATE TABLE #MoveQuantity
	--(
	--	[Id] [int] NOT NULL IDENTITY(1, 1),
	--	[TransId] [int], 
	--	[ItemType] [tinyint], 
	--	[ItemId] [nvarchar](24) NULL, 
	--	[LocId] [nvarchar](10) NOT NULL, 
	--	[LotNum] [nvarchar](16) NULL, 
	--	[SerNum] [nvarchar](35) NULL,
	--	[ExtLocAFrom] [int] Null, 
	--	[ExtLocATo] [int] Null, 
	--	[ExtLocBFrom] [int] Null, 
	--	[ExtLocBTo] [int] Null, 
	--	[Qty] [decimal](28,10) NOT NULL,
	--	[TransDate] [datetime] not null,
	--	[UserId] [nvarchar](20) NOT NULL,
	--	[HostId] [nvarchar](20) NOT NULL,
	--	[FunctionID] [uniqueidentifier] NOT NULL,
	--	[PutawayReqID] [bigInt] NULL,
	--	PRIMARY KEY ([TransId], [Id])
	--)

	DECLARE @MoveBy tinyint
	DECLARE @MoveById [nvarchar](24)
	DECLARE @LocId [nvarchar](10)
	DECLARE @ExtLocAFrom int
	DECLARE @ExtLocATo int
	DECLARE @UserId [nvarchar](20)
	DECLARE @HostId [nvarchar](20)
	DECLARE @TransDate datetime
	DECLARE @FunctionId uniqueIdentifier
	DECLARE @PutawayReqID bigInt
	DECLARE @PutawayStatus tinyint
	

	--lookup transaciton values 
	SELECT @MoveBy = m.[MoveBy]
		, @MoveById = m.[MoveById]
		, @LocId = m.[LocId]
		, @ExtLocAFrom = m.[ExtLocAFrom]
		, @ExtLocATo = m.[ExtLocATo]
		, @UserId = m.[UID]
		, @HostId = m.[HostId]
		, @TransDate = m.[TransDate]
		, @FunctionId = m.[FunctionID]
		, @PutawayReqID = m.[PutawayReqID]
		, @PutawayStatus = m.PutawayStatus
		FROM dbo.tblWmMoveQuantity m 
		WHERE m.[Id] = @TransId
			
	--capture the processed transaction id
	Insert into #TransList ([TransId]) Values (@TransId)
	

	--if move by ItemId
	IF @MoveBy = 0
	BEGIN
		--capture the detail for regular items
		Insert into #MoveQuantity([TransId], [ItemType], [ItemId], [LocId], [LotNum], [SerNum]
			, [ExtLocAFrom], [ExtLocATo], [ExtLocBFrom], [ExtLocBTo], [Qty]
			, [TransDate], [UserId], [HostId],[QtyStatus], [Unit],[UnitBase],[QtyBase], [FunctionID], [PutawayReqID],PutawayStatus)
		Select d.[Id], i.[ItemType], d.[MoveById], d.[LocId], d.[LotNum], NULL
			, d.[ExtLocAFrom], d.[ExtLocATo], d.[ExtLocBFrom], d.[ExtLocBTo]
			, d.[Qty]
			, @TransDate, @UserId, @HostId, d.[QtyStatus],d.UOM, i.UomBase ,ROUND(CAST(d.[Qty] AS decimal(23,10)) * CAST(u.[ConvFactor] AS decimal(23,10)), @PrecQty)
			, @FunctionId
			, @PutawayReqID
			, @PutawayStatus
		FROM dbo.tblWmMoveQuantity d
		INNER JOIN dbo.tblInItem i ON d.[MoveById] = i.[ItemId]
		INNER JOIN dbo.tblInItemUom u ON d.[MoveById] = u.[ItemId] AND d.[Uom] = u.[Uom]
		WHERE d.[Id] = @TransId
			AND i.[ItemType] = 1 AND i.[KittedYN] = 0 --regular/non-kitted


		--capture the detail for serialized items (1 base unit each)
		Insert into #MoveQuantity([TransId], [ItemType], [ItemId], [LocId], [LotNum], [SerNum]
			, [ExtLocAFrom], [ExtLocATo], [ExtLocBFrom], [ExtLocBTo], [Qty]
			, [TransDate], [UserId], [HostId], [QtyStatus], [Unit],[UnitBase],[QtyBase], [FunctionID], [PutawayReqID],PutawayStatus)
		Select @TransId, i.[ItemType], d.[MoveById], d.[LocId], s.[LotNum], d.[SerNum]
			, d.[ExtLocAFrom], d.[ExtLocATo], d.[ExtLocBFrom], d.[ExtLocBTo], 1.0
			, @TransDate, @UserId, @HostId, d.[QtyStatus],d.UOM,i.UomBase,1.0
			, @FunctionId
			, @PutawayReqID
			, @PutawayStatus
		FROM dbo.tblWmMoveQuantity d
		INNER JOIN dbo.tblInItem i ON d.[MoveById] = i.[ItemId]
		INNER JOIN dbo.tblInItemSer s ON d.[MoveById] = s.[ItemId] and d.[SerNum] = s.[SerNum]
		WHERE (d.[ParentId] = @TransId OR (d.SerNum IS NOT NULL AND d.Id = @TransId))
			AND i.[ItemType] = 2 --serialized
			AND ISNULL(s.[ExtLocA], -1) = ISNULL(d.[ExtLocAFrom], -1)
			AND ISNULL(s.[ExtLocB], -1) = ISNULL(d.[ExtLocBFrom], -1)
	END
	ELSE --if moving by ext loc b
	BEGIN
		--capture the MoveBy ExtLocB Id value
		DECLARE @MoveByKey int
		SELECT @MoveByKey = [Id] FROM dbo.tblWmExtLoc WHERE [Type] = 1 AND [ExtLocID] = @MoveById

		--capture the quantity to move for each item in the given extlocb container
		INSERT INTO #MoveQuantity([TransId], [ItemType], [ItemId], [LocId], [LotNum], [SerNum]
			, [ExtLocAFrom], [ExtLocATo], [ExtLocBFrom], [ExtLocBTo], [Qty]
			, [TransDate], [UserId], [HostId], [QtyStatus],QtyBase, [FunctionID], [PutawayReqID], PutawayStatus)
		SELECT @TransId, i.[ItemType], RTRIM(qt.[ItemId]), qt.[LocId], qt.[LotNum], qt.[SerNum]
			, @ExtLocAFrom, @ExtLocATo, @MoveByKey, @MoveByKey, SUM(qt.[QtyOnHand])
			, @TransDate, @UserId, @HostId, qt.[QtyStatus],SUM(qt.[QtyOnHand])
			, @FunctionId
			, @PutawayReqID
			, @PutawayStatus
			FROM (
				SELECT q.[ItemId], q.[LocId], q.[LotNum], Null AS [SerNum], SUM([QtyOnHand]) AS [QtyOnHand],q.[QtyStatus]
					FROM (SELECT d.[ItemId], d.[LocId], RTRIM(d.[LotNum]) as LotNum
						, (d.[Qty] - d.[InvoicedQty] - d.[RemoveQty]) AS [QtyOnHand],Null As QtyStatus
							FROM dbo.tblInQtyOnHand d 
							WHERE @MoveByKey IS NULL 
								AND @ExtLocAFrom IS NULL 
								AND d.[LocId] = @LocId
						UNION ALL --reduce the Null ExtLoc Qtys by the total from tblInQtyOnHand_Ext
						SELECT d.[ItemId], d.[LocId], RTRIM(d.[LotNum]) as LotNum, -d.[Qty],d.[Status] As QtyStatus
							FROM dbo.tblInQtyOnHand_Ext d
							WHERE @MoveByKey IS NULL 
								AND @ExtLocAFrom IS NULL 
								AND d.[LocId] = @LocId
						UNION ALL --Add in the detail for ExtLoc from tblInQtyOnHand_Ext
						SELECT d.[ItemId], d.[LocId], RTRIM(d.[LotNum]) as  LotNum, d.[Qty],d.[Status] As QtyStatus
							FROM dbo.tblInQtyOnHand_Ext d
							WHERE ISNULL(d.[ExtLocB], -1) = ISNULL(@MoveByKey, -1)
								AND ISNULL(d.[ExtLocA], -1) = ISNULL(@ExtLocAFrom, -1) 
								AND d.[LocId] = @LocId
						)  q
					GROUP BY q.[ItemId], q.[LocId], q.[LotNum],q.[QtyStatus]
				UNION ALL
				SELECT q.[ItemId], q.[LocId], q.[LotNum], q.[SerNum], 1.0  AS [QtyOnHand],q.[Status] As QtyStatus
					FROM dbo.tblInItemSer q
					WHERE ISNULL(q.[ExtLocB], -1) = ISNULL(@MoveByKey, -1)
						AND ISNULL(q.[ExtLocA], -1) = ISNULL(@ExtLocAFrom, -1)
						AND q.[LocId] = @LocId
				) qt
			INNER JOIN dbo.tblInItem i 
				ON qt.[ItemId] = i.[ItemId]
			WHERE (i.[ItemType] = 1 OR i.[ItemType] = 2) AND i.[KittedYn] = 0
			GROUP BY qt.[ItemId], qt.[LocId], qt.[LotNum], qt.[SerNum], i.[ItemType],qt.[QtyStatus]
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_AppendMovement_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_AppendMovement_proc'
GO
