USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvServiceOrderPost_GetCompletedServiceOrder_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvServiceOrderPost_GetCompletedServiceOrder_proc]
AS
BEGIN TRY	

	CREATE TABLE #Temp1
	(
		WorkOrderID bigint
	)
		
	-- Service order that is not completed 
	INSERT INTO #Temp1(WorkOrderID)
	SELECT t.WorkOrderID 
	FROM #ServiceOrderList t
	INNER JOIN dbo.tblSvWorkOrder t1 ON t.WorkOrderID = t1.ID
	INNER JOIN dbo.tblSvWorkOrderDispatch t2 ON t2.WorkOrderID = t1.id
	WHERE t2.Status = 0  AND CancelledYN = 0		
	
	INSERT INTO #CompletedServiceOrdertable(WorkOrderID)
	SELECT t.WorkOrderID FROM #TransactionListToProcessTable t	
	WHERE t.WorkOrderID not in(SELECT WorkOrderID FROM #Temp1)

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_GetCompletedServiceOrder_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_GetCompletedServiceOrder_proc'
GO
