USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoBackOrderAllocationReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoBackOrderAllocationReport_proc]
@BaseCurrency [nvarchar](6) = 'USD',
@SortBy tinyint = 0 --0, Order Date; 1, Customer ID; 2, Sales Rep; 3, Transaction Number

																					
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpSoBackAllocRpt
	(
		TransId [nvarchar](8) NOT NULL,
		BatchId [nvarchar](6) NULL,
		CustId [nvarchar](10) NULL, 
		Rep1Id [nvarchar](3) NULL, 
		Rep2Id [nvarchar](3) NULL, 
		TransDate datetime NULL, 
		LocId [nvarchar](10) NULL, 
		ItemId [nvarchar](24) NULL, 
		ItemType tinyint NULL DEFAULT (0),
		INItemYN bit NOT NULL DEFAULT (0), 
		BinNum nvarchar(10) NULL, 
		UnitsBase [nvarchar](5) NULL, 
		QtyBackOrder [decimal](28,10) NOT NULL DEFAULT (0), 
		UnitPrice [decimal](28,10) NOT NULL DEFAULT (0)
	)

	CREATE TABLE #tmpItemLoc
	(
		LocId [nvarchar](10) NULL, 
		LocDescr nvarchar(35) NULL, 
		ItemId [nvarchar](24) NULL, 
		ItemDescr nvarchar(35) NULL, 
		ItemType tinyint NULL, 
		PriceBase [decimal](28,10) NOT NULL DEFAULT (0), 
		QtyOnHand [decimal](28,10) NOT NULL DEFAULT (0), 
		QtyAvail [decimal](28,10) NOT NULL DEFAULT (0)
	)


	--insert all non-kit inventory items with backordered quantities (kit item doesn't have quantities)
	--	AND any kit components that are inventory items
	INSERT INTO #tmpSoBackAllocRpt (TransId, BatchId, CustId, Rep1Id, Rep2Id, TransDate
	, LocId, ItemId, ItemType, InItemYn, BinNum, UnitsBase, QtyBackOrder, UnitPrice)
	SELECT h.TransId, h.BatchId, h.CustId, h.Rep1Id, h.Rep2Id
		, CASE WHEN CustPONum IS Null THEN TransDate ELSE PODate END
		, d.LocId, d.ItemId, d.ItemType, d.INItemYN, d.BinNum, UnitsBase
		, CASE WHEN TransType = 3 THEN QtyOrdSell * ConversionFactor ELSE QtyBackordSell * ConversionFactor END
		, UnitPriceSell / ConversionFactor 
	FROM dbo.tblSoTransHeader h	INNER JOIN dbo.tblSoTransDetail d ON h.TransID = d.TransID 
		INNER JOIN #tmpTransDetailList l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum
	WHERE h.VoidYn = 0 AND 
		((h.TransType = 3 AND d.QtyOrdSell <> 0) OR (h.TransType <> 3 AND d.QtyBackordSell <> 0))
		AND d.ItemType <> 0 AND ISNULL(d.Kit, 0) = 0 AND d.Status = 0

	--populate the item info table
	INSERT INTO #tmpItemLoc (LocID, ItemID, ItemType)
	SELECT LocID, ItemID, ItemType 
	FROM #tmpSoBackAllocRpt
	GROUP BY LocID, ItemID, ItemType

	--Item Description
	UPDATE #tmpItemLoc SET ItemDescr = i.Descr 
	FROM dbo.tblInItem i (NOLOCK) INNER JOIN #tmpItemLoc
	ON i.ItemID = #tmpItemLoc.ItemID

	--Location Description
	UPDATE #tmpItemLoc SET LocDescr = l.Descr 
	FROM dbo.tblInLoc l (NOLOCK) INNER JOIN #tmpItemLoc	ON l.LocID = #tmpItemLoc.LocID

	--PriceBase
	UPDATE #tmpItemLoc 
	SET PriceBase = p.PriceBase 
								   
	FROM (#tmpItemLoc t INNER JOIN dbo.tblInItem i (NOLOCK) ON t.ItemID = i.ItemID) 
		INNER JOIN dbo.tblInItemLocUomPrice p (NOLOCK) ON t.ItemID = p.ItemID AND t.LocID = p.LocID 
		AND i.UomBase = p.Uom 
		where p.CurrencyID = @BaseCurrency
		
	--QtyOnHand
	UPDATE #tmpItemLoc SET QtyOnHand = q.QtyOnHand
	FROM #tmpItemLoc INNER JOIN dbo.trav_InItemOnHand_view q ON #tmpItemLoc.ItemId = q.ItemId AND #tmpItemLoc.LocId = q.LocId

	UPDATE #tmpItemLoc SET QtyOnHand = q.QtyOnHand
	FROM #tmpItemLoc INNER JOIN dbo.trav_InItemOnHandSer_view q ON #tmpItemLoc.ItemId = q.ItemId AND #tmpItemLoc.LocId = q.LocId

	--QtyAvail
	UPDATE #tmpItemLoc SET QtyAvail = QtyOnHand
	WHERE QtyOnHand > 0

	--return resultset
	SELECT *, (ds.QtyAvail - SUM(QtyAlloc)OVER(PARTITION by ds.CurrencyId, ds.LocId, ds.ItemId)) AS SumQtyAvail FROM(SELECT CASE @SortBy WHEN 0 THEN CONVERT(NVARCHAR(8), t.TransDate,112) 
		WHEN 1 THEN t.CustId WHEN 2 THEN t.Rep1Id WHEN 3 THEN t.TransId END SortBy
		, t.TransId, t.BatchId, t.CustId, c.CustName, t.Rep1Id, t.Rep2Id
		, t.TransDate, t.LocId, t.ItemId, t.ItemType, t.INItemYN
		, t.BinNum, t.UnitsBase, t.QtyBackOrder, t.UnitPrice
		, i.LocDescr, i.ItemDescr, i.PriceBase, i.QtyAvail,@BaseCurrency as CurrencyId
		,CASE WHEN i.QtyAvail > t.QtyBackOrder THEN t.QtyBackOrder ELSE i.QtyAvail END AS QtyAlloc
		,(CASE WHEN i.QtyAvail > t.QtyBackOrder THEN t.QtyBackOrder ELSE i.QtyAvail END) * t.UnitPrice AS ExtPrice

	FROM #tmpSoBackAllocRpt t LEFT JOIN #tmpItemLoc i ON t.ItemId = i.ItemId AND t.LocId = i.LocId
		LEFT JOIN dbo.tblArCust c ON t.CustId = c.CustId
	WHERE QtyAvail > 0)ds

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoBackOrderAllocationReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoBackOrderAllocationReport_proc'
GO
