USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_Prepare_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_Prepare_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE	@WrkStnDate datetime, @InvoicePrefix nvarchar(4)

	--Retrieve global values
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

	IF @WrkStnDate IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Note: Set the default invoice numbers with Date & TransId combination for use when the transaction value is null
	SELECT @InvoicePrefix = RIGHT(CONVERT(nvarchar(8), @WrkStnDate, 112), 4)	

	--remove any invalid transactions from the list of transactions to process
	--	(voided, layaways or non-shipped/postable transaction types)
	DELETE #PostTransList 
	WHERE TransId IN (SELECT b.TransId 
		FROM #PostTransList b INNER JOIN dbo.tblSoTransHeader h on b.TransId = h.TransId 
		WHERE h.VoidYn = 1 OR h.Layaway = 1 OR h.TransType NOT IN (-1, 1, 4))

	--set the default invoice numbers
	UPDATE #PostTransList SET DefaultInvoiceNumber = CASE WHEN ISNULL(h.InvcNum,'') = '' THEN @InvoicePrefix + h.TransId ELSE h.InvcNum END
	FROM #PostTransList t INNER JOIN dbo.tblSoTransHeader h ON t.TransId = h.TransId

	--remove any active transactions from the list of voided transactions to process
	DELETE #VoidTransList
	WHERE TransId IN (SELECT b.TransId FROM #PostTransList b INNER JOIN dbo.tblSoTransHeader h on b.TransId = h.TransId Where h.VoidYn = 0)

	--set the default invoice numbers
	UPDATE #VoidTransList SET DefaultInvoiceNumber = @InvoicePrefix + TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_Prepare_proc'
GO
