USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsRewardActivityPrepare_Generate_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsRewardActivityPrepare_Generate_proc] 
AS
SET NOCOUNT ON
BEGIN TRY

	--Retrieve global values
	DECLARE	@WrkStnDate datetime
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

	DECLARE @MaxActivityID bigint
	SELECT @MaxActivityID = MAX([ID]) FROM dbo.tblPsRewardActivity
	SELECT @MaxActivityID = ISNULL(@MaxActivityID, 0)

	--generate activity records for the accruals
	INSERT INTO dbo.tblPsRewardActivity ([ID], [ProgramID], [AccountID], [Type]
		, [TransDate], [EntryDate], [PointQty], [PointValue], [ActivityGroup]
		, [FiscalYear], [FiscalPeriod], [LiabilityAccount], [GLAccount], [Synched])
	SELECT MIN(a.[ID]) + @MaxActivityID, a.[ProgramID], a.[AccountID], 0
		, @WrkStnDate, GetDate(), SUM(a.[PointQty]), SUM(a.[PointValue]), a.[ActivityGroup]
		, 0, 0, p.[LiabilityAccount], p.[ExpenseAccount], 0
	FROM #AccrualActivity a
	INNER JOIN dbo.tblPsRewardProgram p on a.[ProgramID] = p.[ID]
	GROUP BY a.[ProgramID], a.[AccountID], a.[ActivityGroup], p.[LiabilityAccount], p.[ExpenseAccount]
	HAVING SUM(a.[PointQty]) <> 0 OR SUM(a.[PointValue]) <> 0


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPrepare_Generate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPrepare_Generate_proc'
GO
