USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_PS_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_PS_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtSeqNum int
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*PS Transactions*/
	IF NOT EXISTS(SELECT * FROM dbo.tblSysUpdateActivity WHERE ActivityId = '05836fd1-ee95-4d55-8927-6571d1fab259')
	BEGIN
		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create new records in tblQty_Ext for committed quantity
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,d.ItemId,d.LocId,d.LotNum,b.ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY d.ID) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblPsTransHeader h INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID
			INNER JOIN dbo.tblPsTransDetailIN x ON d.ID = x.DetailID
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			INNER JOIN dbo.tblInQty q ON x.QtySeqNum_Cmtd = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON q.SeqNum = e.SeqNum
		WHERE h.Synched = 1 AND h.TransType = 10 AND e.SeqNum IS NULL  --Layaway, no qty extended detail

		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		--Create Quantity On Hand Extended
		INSERT INTO dbo.tblInQtyOnHand_Ext(ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT d.ItemId,d.LocId,d.LotNum,b.ExtLocA,NULL AS ExtLocB,-q.Qty AS Qty,NULL AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.ID) + @MaxExtQtyOnHandID AS [ID] 
		FROM dbo.tblPsTransHeader h INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID
			INNER JOIN dbo.tblPsTransDetailIN x ON d.ID = x.DetailID
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON x.QtySeqNum = q.SeqNum 
		WHERE h.Synched = 1 AND h.TransType > 0 AND i.ItemType = 1 --Synched, Sales, regular

		INSERT INTO dbo.tblInQtyOnHand_Ext(ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT d.ItemId,d.LocId,d.LotNum,b.ExtLocA,NULL AS ExtLocB,q.Qty,NULL AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.ID) + @MaxExtQtyOnHandID AS [ID] 
		FROM dbo.tblPsTransHeader h INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID
			INNER JOIN dbo.tblPsTransDetailIN x ON d.ID = x.DetailID
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
		WHERE h.Synched = 1 AND h.TransType < 0 AND i.ItemType = 1 --Synched, Return, regular

		--log that the migration for PS has been run
		INSERT INTO dbo.tblSysUpdateActivity([ActivityId], [Description])
		VALUES ('05836fd1-ee95-4d55-8927-6571d1fab259', 'WMS migration for PS.')
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_PS_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_PS_Transactions_proc'
GO
