USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoReturnedItemPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoReturnedItemPost_InHistory_proc]
AS
SET NOCOUNT ON

BEGIN TRY

	DECLARE	@FiscalPeriod smallint, @FiscalYear smallint

	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'

	IF @FiscalPeriod IS NULL OR @FiscalYear IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT r.HistoryID, @FiscalYear, @FiscalPeriod, r.TransDate, h.BatchId
	FROM dbo.tblSoReturnedItem r INNER JOIN #PostTransList l on r.[Counter] = l.[TransId]
		LEFT JOIN dbo.tblSoTransHeader h ON r.TransId = h.TransId
	WHERE r.HistoryID > 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_InHistory_proc'
GO
