USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_Prerequisite_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_Prerequisite_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	DECLARE @CompleteInCount tinyInt = 0,
			@CompleteInTrans tinyInt = 1,
			@CompleteWmPickRcv tinyInt = 2
	
	IF OBJECT_ID('tempdb..#tmpRecords') IS NOT NULL 
		DROP TABLE #tmpRecords

	CREATE TABLE #tmpRecords
	(
		SourceId tinyInt Not Null
	)

	--0: Complete all physical inventory counts
	INSERT INTO #tmpRecords
	SELECT TOP 1 @CompleteInCount FROM tblInPhysCountBatch
	WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteInCount)

	IF EXISTS (SELECT 1 FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[tblWmPhysCountAWMS]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
		INSERT INTO #tmpRecords
		SELECT TOP 1 @CompleteInCount [SourceId] FROM tblWmPhysCountAWMS
		WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteInCount)

	--1: Post all inventory transactions
	INSERT INTO #tmpRecords
	SELECT TOP 1 @CompleteInTrans FROM tblInTrans 
	WHERE TransType NOT IN (31,32) AND NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteInTrans)

	--2: Complete all picking and receiving
	INSERT INTO #tmpRecords
	SELECT * FROM
	(
		SELECT TOP 1 @CompleteWmPickRcv [SourceId] FROM tblWmPick WHERE [Status] < 2
		UNION
		SELECT TOP 1 @CompleteWmPickRcv [SourceId] FROM tblWmRcpt WHERE [Status] < 2
	)ds WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteWmPickRcv)

	IF EXISTS (SELECT 1 FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[tblWmMoveQtyHeader]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
		INSERT INTO #tmpRecords
		SELECT TOP 1 @CompleteWmPickRcv [SourceId] FROM tblWmMoveQtyHeader
		WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteWmPickRcv)

	IF EXISTS (SELECT 1 FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[tblWmPickingHeader]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
		INSERT INTO #tmpRecords
		SELECT TOP 1 @CompleteWmPickRcv [SourceId] FROM tblWmPickingHeader
		WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteWmPickRcv)

	IF EXISTS (SELECT 1 FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[tblWmPutawayHeader]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
		INSERT INTO #tmpRecords
		SELECT TOP 1 @CompleteWmPickRcv [SourceId] FROM tblWmPutawayHeader
		WHERE NOT EXISTS (SELECT * FROM #tmpRecords WHERE SourceId = @CompleteWmPickRcv)

	SELECT * FROM #tmpRecords
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_Prerequisite_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_Prerequisite_proc'
GO
