USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SmSalesHistorySync_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SmSalesHistorySync_proc]
@RetentionRange	int=0,
@SessionDate datetime
AS
BEGIN TRY
	SET NOCOUNT ON
	--SO Transaction
	SELECT	CONVERT(bit, 0) [Selected], 'SO-' + h.TransId [IntegrationKey], h.TransId, h.SoldToId, c.Addr1, c.Addr2, c.City, c.Region
			, c.PostalCode, c.Country, h.Notes, h.TransDate, NULL [OrderDate],  h.CustPONum, h.ReqShipDate
			, CASE h.TransType 
				WHEN 9 THEN 'New' 
				WHEN 1 THEN 'Invoice' 
				WHEN -1 THEN 'Credit Memo' 
				WHEN -2 THEN 'RMA' 
				WHEN 3 THEN 'Backordered' 
				WHEN 4 THEN 'Verified' 
				WHEN 5 THEN 'Picked' 
				WHEN 2 THEN 'PriceQuote' 
			END [TransType]
			, SIGN(h.TransType) * (h.TaxableSales + h.NonTaxableSales + h.Freight+ h.Misc + h.SalesTax + h.TaxAmtAdj) [InvoiceTotal]
			, SIGN(h.TransType) * (h.TaxableSalesFgn + h.NonTaxableSalesFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) [InvoiceTotalFgn]
			, h.ShipToName, ShipVia, ShipToPhone, ShipToEmail, c.CustName, h.TermsCode, h.CurrencyID, h.Rep1Id, h.Rep2Id
			, h.InvcNum, NULL [TotPmtAmt], NULL [TotPmtAmtFgn], h.CustId, h.InvcDate, NULL [TaxSubtotal], NULL [TaxSubtotalFgn]
			, 'SO' [AppId], CASE WHEN h.TransType = -1 OR h.TransType = -2 THEN 2 ELSE 0 END [SalesHistoryType]	--SalesHistoryType : byte { Order = 0, Invoice, RMA }			
			, CASE WHEN s.DataKey IS NULL THEN CONVERT(bit,0) ELSE CONVERT(bit,1) END AS InCRM, h.ts[ts], NULL [PostRun], CONVERT(bit, 0) [Posted] 
			, NULL [PostDate]
	FROM	tblSoTransHeader h
			INNER JOIN #tmpCustomer tc ON h.SoldToId = tc.CustId
			INNER JOIN tblArCust c ON tc.CustId = c.CustId
			INNER JOIN tblSmSynchSnapshot s ON 'SO-' + h.TransId = s.DataKey
	WHERE	h.VoidYn = 0 AND h.ts != s.DataTs --AND h.TransType NOT IN (2)
			AND h.TransDate >= (@SessionDate - (@RetentionRange -1)) AND h.TransDate <= @SessionDate

	UNION ALL

	SELECT	CONVERT(bit, 0) [Selected], 'SO-' + h.TransId [IntegrationKey], h.TransId, h.SoldToId, c.Addr1, c.Addr2, c.City, c.Region
			, c.PostalCode, c.Country, h.Notes, h.TransDate, NULL [OrderDate], h.CustPONum, h.ReqShipDate
			, CASE h.TransType 
				WHEN 9 THEN 'New' 
				WHEN 1 THEN 'Invoice' 
				WHEN -1 THEN 'Credit Memo' 
				WHEN -2 THEN 'RMA' 
				WHEN 3 THEN 'Backordered' 
				WHEN 4 THEN 'Verified' 
				WHEN 5 THEN 'Picked' 
				WHEN 2 THEN 'PriceQuote'
			END [TransType]
			, SIGN(h.TransType) * (h.TaxableSales + h.NonTaxableSales + h.Freight+ h.Misc + h.SalesTax + h.TaxAmtAdj) [InvoiceTotal]
			, SIGN(h.TransType) * (h.TaxableSalesFgn + h.NonTaxableSalesFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) [InvoiceTotalFgn]
			, h.ShipToName, ShipVia, ShipToPhone, ShipToEmail, c.CustName, h.TermsCode, h.CurrencyID, h.Rep1Id, h.Rep2Id
			, h.InvcNum, NULL [TotPmtAmt], NULL [TotPmtAmtFgn], h.CustId, h.InvcDate, NULL [TaxSubtotal], NULL [TaxSubtotalFgn]
			, 'SO' [AppId], CASE WHEN h.TransType = -1 OR h.TransType = -2 THEN 2 ELSE 0 END [SalesHistoryType]
			, CASE WHEN s.DataKey IS NULL THEN CONVERT(bit, 0) ELSE CONVERT(bit, 1) END AS InCRM, h.ts, NULL [PostRun], CONVERT(bit, 0) [Posted] 
			, NULL [PostDate]
	FROM	tblSoTransHeader h
			INNER JOIN #tmpCustomer tc ON h.SoldToId = tc.CustId
			INNER JOIN tblArCust c ON tc.CustId = c.CustId
			LEFT JOIN tblSmSynchSnapshot s ON 'SO-' + h.TransId = s.DataKey
	WHERE	h.VoidYn = 0 AND s.DataKey IS NULL --AND h.TransType NOT IN (2)
			AND h.TransDate >= (@SessionDate - (@RetentionRange -1)) AND h.TransDate <= @SessionDate

	UNION ALL
	--AR Transaction
	SELECT	CONVERT(bit, 0) [Selected], 'AR-' + h.TransId [IntegrationKey], h.TransId, h.CustId, c.Addr1, c.Addr2, c.City, c.Region
			, c.PostalCode, c.Country, '' [Notes], h.OrderDate [TransDate], h.OrderDate, h.CustPONum, NULL [ReqShipDate]
			, CASE h.TransType 
				WHEN 1 THEN 'Invoice' 
				WHEN -1 THEN 'Credit Memo' 
			END [TransType]
			, SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.Freight+ h.Misc + h.SalesTax + h.TaxAmtAdj) [InvoiceTotal]
			, SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) [InvoiceTotalFgn]
			, h.ShipToName, ShipVia, NULL [ShipToPhone], NULL [ShipToEmail], c.CustName, h.TermsCode, h.CurrencyID, h.Rep1Id, h.Rep2Id
			, h.InvcNum, NULL [TotPmtAmt], NULL [TotPmtAmtFgn], h.CustId, h.InvcDate, h.TaxSubtotal, h.TaxSubtotalFgn
			, 'AR' [AppId], CASE WHEN h.TransType = -1 THEN 2 ELSE 0 END [SalesHistoryType]	--SalesHistoryType : byte { Order = 0, Invoice, RMA }			
			, CASE WHEN s.DataKey IS NULL THEN CONVERT(bit,0) ELSE CONVERT(bit,1) END AS InCRM, h.ts, NULL [PostRun], CONVERT(bit, 0) [Posted] 				
			, NULL [PostDate]
	FROM	tblArTransHeader h
			INNER JOIN #tmpCustomer tc ON h.CustId = tc.CustId
			INNER JOIN tblArCust c ON tc.CustId = c.CustId
			INNER JOIN tblSmSynchSnapshot s ON 'AR-' + h.TransId = s.DataKey
	WHERE	h.VoidYn = 0 AND h.ts != s.DataTs 
			AND h.OrderDate >= (@SessionDate - (@RetentionRange -1)) AND h.OrderDate <= @SessionDate

	UNION ALL

	SELECT	CONVERT(bit, 0) [Selected], 'AR-' + h.TransId [IntegrationKey], h.TransId, h.CustId, c.Addr1, c.Addr2, c.City, c.Region
			, c.PostalCode, c.Country, '' [Notes], h.OrderDate [TransDate], h.OrderDate, h.CustPONum, NULL [ReqShipDate]
			, CASE h.TransType 
				WHEN 1 THEN 'Invoice' 
				WHEN -1 THEN 'Credit Memo' 
			END [TransType]
			, SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.Freight+ h.Misc + h.SalesTax + h.TaxAmtAdj) [InvoiceTotal]
			, SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) [InvoiceTotalFgn]
			, h.ShipToName, ShipVia, NULL [ShipToPhone], NULL [ShipToEmail], c.CustName, h.TermsCode, h.CurrencyID, h.Rep1Id, h.Rep2Id
			, h.InvcNum, NULL [TotPmtAmt], NULL [TotPmtAmtFgn], h.CustId, h.InvcDate, h.TaxSubtotal, h.TaxSubtotalFgn			
			, 'AR' [AppId], CASE WHEN h.TransType = -1 THEN 2 ELSE 0 END [SalesHistoryType]
			, CASE WHEN s.DataKey IS NULL THEN CONVERT(bit, 0) ELSE CONVERT(bit, 1) END AS InCRM, h.ts, NULL [PostRun], CONVERT(bit, 0) [Posted] 
			, NULL [PostDate]
	FROM	tblArTransHeader h
			INNER JOIN #tmpCustomer tc ON h.CustId = tc.CustId
			INNER JOIN tblArCust c ON tc.CustId = c.CustId
			LEFT JOIN tblSmSynchSnapshot s ON 'AR-' + h.TransId = s.DataKey
	WHERE	h.VoidYn = 0 AND s.DataKey IS NULL 
			AND h.OrderDate >= (@SessionDate - (@RetentionRange -1)) AND h.OrderDate <= @SessionDate
	
	UNION ALL	--History Data

	SELECT	CONVERT(bit, 0) [Selected], h.PostRun + '-' + h.TransId [IntegrationKey], h.TransId, h.SoldToId, a.Address1, a.Address2, a.City, a.Region
			, a.PostalCode, a.Country, NULL [Notes], h.OrderDate [TransDate], h.OrderDate, h.CustPONum, h.ReqShipDate
			, CASE h.TransType 
			WHEN 1 THEN 'Invoice' 
			WHEN -1 THEN 'Credit Memo' 
			WHEN -2 THEN 'RMA' 
			WHEN 4 THEN 'Verified' 
			END [TransType]
			, SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.Freight+ h.Misc + h.SalesTax) [InvoiceTotal]
			, SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn) [InvoiceTotalFgn]
			, h.ShipToName, h.ShipVia, ShipToPhone, ShipToEmail, CASE WHEN (h.SoldToId = h.CustId) THEN a.[Name] ELSE NULL END [CustName], h.TermsCode, h.CurrencyID, h.Rep1Id, h.Rep2Id
			, h.InvcNum, h.TotPmtAmt, h.TotPmtAmtFgn, a.[Name] [BillToName], h.InvcDate, h.TaxSubtotal, h.TaxSubtotalFgn
			, CASE h.Source WHEN 0 THEN 'AR' WHEN 1 THEN 'SO' WHEN 2 THEN 'SD' WHEN 3 THEN 'JC' WHEN 4 THEN 'PS' WHEN 99 THEN 'SD*' END [AppId]	--Source:0;AR;1;SO;2;SD;3;JC;4;PS;99;SD*
			, 1 [SalesHistoryType]
			, CASE WHEN s.DataKey IS NULL THEN CONVERT(bit,0) ELSE CONVERT(bit,1) END AS InCRM, NULL [ts], h.PostRun, CONVERT(bit, 1) [Posted]	
			, h.PostDate [PostDate]
	FROM	tblArHistHeader h
			INNER JOIN #tmpCustomer tc ON h.SoldToId = tc.CustId
			INNER JOIN tblArHistAddress a ON h.PostRun = a.PostRun AND h.CustId = a.CustId
			--LEFT JOIN tblArHistAddress ba ON h.CustId = ba.CustId
			LEFT JOIN tblSmSynchSnapshot s ON h.PostRun + '-' + h.TransId = s.DataKey
	WHERE	h.VoidYn = 0 AND h.PostRun + '-' + h.TransId NOT IN (SELECT DataKey FROM tblSmSynchSnapshot) 
			AND h.PostDate >= (@SessionDate - (@RetentionRange -1)) AND h.PostDate <= @SessionDate

	--Detail data
	SELECT	'SO-' + h.TransId + '-' + CONVERT(nvarchar(10), d.EntryNum) [IntegrationKey], h.TransId, d.QtyBackordSell , d.Descr
			, d.PriceExt, d.PriceExtFgn, d.ItemId, d.LocId, d.UnitPriceSell, d.UnitPriceSellFgn, d.QtyShipSell, d.UnitsSell
			, d.UnitPriceSellBasis, d.UnitPriceSellBasisFgn, d.QtyOrdSell, c.Descr [ProdCategory]
			, ISNULL(d.ReqShipDate, h.ReqShipDate) [ReqShipDate], d.LineSeq, h.InvcNum, d.ts
			, CASE WHEN h.TransType = -1 OR h.TransType = -2 THEN 2 ELSE 0 END [SalesHistoryType], 'SO' [AppId]
			, d.EntryNum, NULL [PostRun]
	FROM	tblSoTransHeader h
			INNER JOIN #tmpCustomer tc ON h.SoldToId = tc.CustId
			INNER JOIN tblSoTransDetail d ON h.TransId = d.TransID
			LEFT JOIN tblInSalesCat c ON d.CatId = c.SalesCat
	WHERE	h.VoidYn = 0  AND d.[Status] = 0
			AND h.TransDate >= (@SessionDate - (@RetentionRange -1)) AND h.TransDate <= @SessionDate

	UNION ALL

	SELECT	'AR-' + h.TransId + '-' + CONVERT(nvarchar(10), d.EntryNum) [IntegrationKey], h.TransId, d.QtyBackordSell , d.[Desc] 
			, d.PriceExt, d.PriceExtFgn, d.PartId, d.WhseId, d.UnitPriceSell, d.UnitPriceSellFgn, d.QtyShipSell, d.UnitsSell
			, d.UnitPriceSellBasis, d.UnitPriceSellBasisFgn, d.QtyOrdSell, c.Descr [ProdCategory]
			, d.ReqShipDate [ReqShipDate], d.LineSeq, h.InvcNum, d.ts
			, CASE WHEN h.TransType = -1 THEN 2 ELSE 0 END [SalesHistoryType], 'AR' [AppId]
			, d.EntryNum, NULL [PostRun]
	FROM	tblArTransHeader h
			INNER JOIN #tmpCustomer tc ON h.CustId = tc.CustId
			INNER JOIN tblArTransDetail d ON h.TransId = d.TransID
			LEFT JOIN tblInSalesCat c ON d.CatId = c.SalesCat
	WHERE	h.VoidYn = 0 AND h.OrderDate >= (@SessionDate - (@RetentionRange -1)) AND h.OrderDate <= @SessionDate

	UNION ALL	--History Detail

	SELECT	d.PostRun + '-' + h.TransId + '-' + CONVERT(nvarchar(10), d.EntryNum) [IntegrationKey], h.TransId, d.QtyBackordSell , d.[Desc] 
			, d.PriceExt, d.PriceExtFgn, d.PartId, d.WhseId, d.UnitPriceSell, d.UnitPriceSellFgn, d.QtyShipSell, d.UnitsSell
			, d.UnitPriceSellBasis, d.UnitPriceSellBasisFgn, d.QtyOrdSell, c.Descr [ProdCategory]
			, ISNULL(d.ReqShipDate, h.ShipDate) [ReqShipDate], d.LineSeq, h.InvcNum, NULL [ts]
			, CASE WHEN h.TransType = -1 OR h.TransType = -2 THEN 2 ELSE 1 END [SalesHistoryType]
			, CASE h.Source WHEN 0 THEN 'AR' WHEN 1 THEN 'SO' WHEN 2 THEN 'SD' WHEN 3 THEN 'JC' WHEN 4 THEN 'PS' WHEN 99 THEN 'SD*' END [AppId]
			, d.EntryNum, h.PostRun
	FROM	tblArHistHeader h
			INNER JOIN #tmpCustomer tc ON h.SoldToId = tc.CustId
			INNER JOIN tblArHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransID
			LEFT JOIN tblInSalesCat c ON d.CatId = c.SalesCat
	WHERE	h.VoidYn = 0 AND d.EntryNum > 0 AND d.[Status] = 0 AND h.PostDate >= (@SessionDate - (@RetentionRange -1)) AND h.PostDate <= @SessionDate

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmSalesHistorySync_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmSalesHistorySync_proc'
GO
