USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SmEmployeeReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SmEmployeeReport_proc]
@SortBy SMALLINT

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT 
	CASE 
	WHEN @SortBy = 0 THEN e.EmployeeId
	WHEN @SortBy = 1 THEN LastName
	WHEN @SortBy = 2 THEN SocialSecurityNo END AS GrpId1,
	e.EmployeeId, LastName, AddressLine1, AddressLine2, ResidentCity, ResidentState, ZipCode, CountryCode
		, SocialSecurityNo, PhoneNumber, WorkPhoneNo, WorkExtension, BirthDate, EmergrncyContact AS EmergencyContact
		, ContactWorkPhone, ContactHomePhone, ContactRelation, WorkEmail, HomeEmail, Internet
		, COALESCE (LastName, '') + ', ' + COALESCE (FirstName, '') + ' ' + COALESCE (MiddleInit, '') AS EmployeeName 
	FROM dbo.tblSmEmployee e INNER JOIN #tmpEmployeeList t ON e.EmployeeId = t.EmployeeId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmEmployeeReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmEmployeeReport_proc'
GO
