USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderWorksheet_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderWorksheet_proc]
@ScheduledTechnicianFrom pEmpID = NULL, 
@ScheduledTechnicianThru pEmpID = NULL, 
@ScheduledDateFrom datetime = NULL, 
@ScheduledDateThru datetime = NULL, 
@ViewDetail int = 0, -- 0 = Summary, 1 = Detail
@IncludeWorkToDoDetail bit = 0, 
@IncludeServiceContractDetail bit = 0, 
@IncludeActivityDetail bit = 0, 
@IncludeSerializedLottedDetail bit = 0,
@IsMyTechnician bit = 0
AS
BEGIN TRY
	SET NOCOUNT ON
-- creating temp table for testing (will remove once testing is completed)
--CREATE TABLE #tmpWorkOrderDispatchList(DispatchID bigint NOT NULL PRIMARY KEY CLUSTERED (DispatchID))
--INSERT INTO #tmpWorkOrderDispatchList (DispatchID) 
--SELECT DispatchID 
--FROM 
--(
--	 SELECT o.WorkOrderNo, o.OrderDate, o.CustID, o.SiteID, o.Region, o.Country, o.PostalCode, o.TerrId, o.Phone1
--	  , o.Email, o.Rep1Id, o.Rep2Id, o.BillingType, o.CustomerPoNumber, o.PODate, o.OriginalWorkOrder
--	  , p.ProjectName, a.PhaseId, a.TaskId, d.ID AS DispatchID, d.DispatchNo, d.[Description]
--	  , d.EquipmentDescription, d.BillingType AS DispatchBillingType, d.BillToID, d.RequestedDate
--	  , d.RequestedTechID, d.HoldYN, d.EntryDate, d.[Counter], d.LocID 
--	 FROM dbo.tblSvWorkOrder o 
--		INNER JOIN dbo.tblSvWorkOrderDispatch d ON o.ID = d.WorkOrderID 
--		LEFT JOIN dbo.tblPcProjectDetail a ON o.ProjectDetailID = a.Id 
--		LEFT JOIN dbo.tblPcProject p ON a.ProjectId = p.Id 
--	 WHERE o.CustID IS NOT NULL AND d.[Status] = 0 AND d.CancelledYN = 0
--) tmp --{0}

	CREATE TABLE #Temp
	(
		DispatchID bigint NOT NULL
	)
	IF(@IsMyTechnician  =0)
	BEGIN
		IF (@ScheduledDateFrom IS NULL AND @ScheduledDateThru IS NULL 
			AND @ScheduledTechnicianFrom IS NULL AND @ScheduledTechnicianThru IS NULL)
		BEGIN
			INSERT INTO #Temp(DispatchID) 
			SELECT DispatchID 
			FROM #tmpWorkOrderDispatchList
		END
		ELSE
		BEGIN
		INSERT INTO #Temp(DispatchID) 
			SELECT tmp.DispatchID 
			FROM #tmpWorkOrderDispatchList tmp 
				INNER JOIN 
					(
						SELECT DispatchID FROM dbo.tblSvWorkOrderActivity a 
						WHERE ActivityType = 1 
							AND (@ScheduledDateFrom IS NULL OR a.ActivityDateTime >= @ScheduledDateFrom) 
							AND (@ScheduledDateThru IS NULL OR a.ActivityDateTime < DATEADD(DAY, 1, @ScheduledDateThru)) 
							AND (@ScheduledTechnicianFrom IS NULL OR a.TechID >= @ScheduledTechnicianFrom) 
							AND (@ScheduledTechnicianThru IS NULL OR a.TechID <= @ScheduledTechnicianThru) 
						GROUP BY DispatchID
					) a  ON tmp.DispatchID = a.DispatchID 
		END
	END
	ELSE
	BEGIN
		INSERT INTO #Temp(DispatchID) 
			SELECT tmp.DispatchID 
			FROM #tmpWorkOrderDispatchList tmp 
				INNER JOIN 
					(
						SELECT DispatchID FROM dbo.tblSvWorkOrderActivity a 
						INNER JOIN #tmpTechnicianList t ON a.TechID = t.TechId
						WHERE ActivityType = 1 
							AND (@ScheduledDateFrom IS NULL OR a.ActivityDateTime >= @ScheduledDateFrom) 
							AND (@ScheduledDateThru IS NULL OR a.ActivityDateTime < DATEADD(DAY, 1, @ScheduledDateThru)) 							
						GROUP BY DispatchID
					) a  ON tmp.DispatchID = a.DispatchID 
	END
	-- main report resultset (Table)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT d.ID AS DispatchID
			, WorkOrderNo, w.CustID, w.SiteID, w.Address1, w.Address2
			, w.City, w.Region, w.Country, w.PostalCode, w.Attention AS Contact, w.Phone1 AS Phone
			, DispatchNo, d.EquipmentID
			, e.EquipmentNo, EquipmentDescription, e.ItemID, e.SerialNumber, e.TagNumber
			, CASE WHEN b.Description IS NULL THEN  d.BillingType 
				   WHEN len(b.Description)=0 THEN d.BillingType 
				   ELSE b.Description END AS DispatchBillingType
			, ISNULL(EstTravel, 0) / 3600.00 AS EstTravel
			, (ISNULL(EstimatedTime, 0) + ISNULL(EstTravel, 0)) / 3600.00 AS TotalEst
			, a.ActivityDateTime AS ReceivedDateTime, d.[Priority] ,d.StatusID,ats.Description as ActivityDispatchStatus, z.ZoneCode , c.CategoryCode
		FROM #Temp tmp 
			INNER JOIN dbo.tblSvWorkOrderDispatch d ON tmp.DispatchID = d.ID 
			INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
			LEFT JOIN dbo.tblSvEquipment e ON d.EquipmentID = e.ID 
			LEFT JOIN 
				(
					SELECT w.DispatchID, SUM(EstimatedTime) AS EstimatedTime 
					FROM #Temp tmp 
						INNER JOIN dbo.tblSvWorkOrderDispatchWorkToDo w ON tmp.DispatchID = w.DispatchID 
					GROUP BY w.DispatchID
				) r ON d.ID = r.DispatchID 
			LEFT JOIN 
				(
					SELECT DispatchID, MAX(ID) AS ActivityID FROM dbo.tblSvWorkOrderActivity 
					WHERE ActivityType = 0 GROUP BY DispatchID
				) t ON d.ID = t.DispatchID 
			LEFT JOIN dbo.tblSvWorkOrderActivity a ON t.ActivityID = a.ID
			LEFT JOIN dbo.tblSvActivityStatus ats ON d.StatusID = ats.ID
			INNER JOIN dbo.tblSvBillingType b ON d.BillingType = b.BillingType
			LEFT JOIN dbo.tblsmZone z ON w.ZoneID = z.ID
			LEFT JOIN dbo.tblSvWorkOrderCategory c ON c.ID  = w.CategoryID
	END
	ELSE
	BEGIN
		SELECT d.ID AS DispatchID, WorkOrderNo, DispatchNo, w.CustID + ' - ' + c.CustName AS CustIDName
		, w.SiteID, w.Phone1 AS Phone, w.Country, w.Attention AS Contact
		, a.ActivityDateTime AS ScheduledDateTime, a.TechID AS ScheduledTechID 
	FROM #Temp tmp 
		INNER JOIN dbo.tblSvWorkOrderDispatch d ON tmp.DispatchID = d.ID 
		INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
		LEFT JOIN dbo.tblArCust c ON w.CustID = c.CustId 
		LEFT JOIN 
			(
				SELECT DispatchID, MAX(ID) AS ActivityID 
				FROM dbo.tblSvWorkOrderActivity WHERE ActivityType = 1 
				GROUP BY DispatchID
			) g ON tmp.DispatchID = g.DispatchID 
		LEFT JOIN dbo.tblSvWorkOrderActivity a ON g.ActivityID = a.ID
	END 

	-- Work To Do resultset (Table1)
	SELECT w.DispatchID, WorkToDoID, w.[Description], SkillLevel
		, EstimatedTime / 3600.00 AS EstimatedTime 
	FROM dbo.tblSvWorkOrderDispatchWorkToDo w 
		INNER JOIN #Temp tmp ON w.DispatchID = tmp.DispatchID 
	WHERE @IncludeWorkToDoDetail <> 0
	ORDER BY w.DispatchID, w.WorkToDoID, w.[Description]

	-- Service Contract resultset (Table2)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT s.EquipmentID, s.CoverageType, h.ContractNo, h.EndDate 
		FROM 
			(
				SELECT d.EquipmentID FROM dbo.tblSvWorkOrderDispatch d 
					INNER JOIN #Temp tmp ON d.ID = tmp.DispatchID 
				WHERE d.EquipmentID IS NOT NULL GROUP BY d.EquipmentID
			) tmp 
			INNER JOIN dbo.tblSvServiceContractDetail s ON tmp.EquipmentID = s.EquipmentID 
			INNER JOIN dbo.tblSvServiceContractHeader h ON s.ContractID = h.ID 
		WHERE @IncludeServiceContractDetail <> 0
	END

	-- Activity resultset (Table3)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT a.DispatchID, ActivityType, ActivityDateTime
			, TechID, EntryDate, EnteredBy 
		FROM dbo.tblSvWorkOrderActivity a 
			INNER JOIN #Temp tmp ON a.DispatchID = tmp.DispatchID 
		WHERE @IncludeActivityDetail <> 0 AND a.ActivityType = 1
	END

	-- Transaction resultset (Table4)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT t.ID AS TransID, t.DispatchID, t.TransType, ResourceID, t.TransDate
			, CASE WHEN t.TransType = 5 THEN (-1)*QtyEstimated ELSE QtyEstimated END AS QtyEstimated
			, CASE WHEN t.TransType = 5 THEN (-1)*QtyUsed ELSE QtyUsed END AS QtyUsed
			, Unit, t.[Description] 
		FROM dbo.tblSvWorkOrderDispatch d 
			INNER JOIN #Temp tmp ON d.ID = tmp.DispatchID 
			INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
			LEFT JOIN dbo.tblSvWorkOrderTrans t ON d.ID = t.DispatchID 
		WHERE (t.TransType = 0 OR t.TransType = 1 OR t.TransType = 4 OR t.TransType = 5) -- exclude freight & misc records
	END

	-- Transaction Lotted Detail resultset (Table5)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT TransID, LotNum, CASE WHEN t.TransType = 5 THEN (-1)*e.QtyUsed ELSE e.QtyUsed END AS QtyUsed
		, e.UnitCost 
		FROM dbo.tblSvWorkOrderDispatch d 
			INNER JOIN #Temp tmp ON d.ID = tmp.DispatchID 
			INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
			INNER JOIN dbo.tblSvWorkOrderTrans t ON d.ID = t.DispatchID 
			INNER JOIN dbo.tblSvWorkOrderTransExt e ON t.ID = e.TransID 
		WHERE @IncludeSerializedLottedDetail <> 0 AND (TransType = 0 OR TransType = 1 OR t.TransType = 4 OR t.TransType = 5) -- exclude freight & misc records
	END

	-- Transaction Serialized Detail resultset (Table6)
	IF (@ViewDetail <> 0)
	BEGIN
		SELECT TransID, LotNum, SerNum, s.UnitCost 
		FROM dbo.tblSvWorkOrderDispatch d 
			INNER JOIN #Temp tmp ON d.ID = tmp.DispatchID 
			INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.ID 
			INNER JOIN dbo.tblSvWorkOrderTrans t ON d.ID = t.DispatchID 
			INNER JOIN dbo.tblSvWorkOrderTransSer s ON t.ID = s.TransID 
		WHERE @IncludeSerializedLottedDetail <> 0 AND (TransType = 0 OR TransType = 1 OR t.TransType = 4  OR t.TransType = 5) -- exclude freight & misc records
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderWorksheet_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderWorksheet_proc'
GO
