USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SrLaborCodesUnitCost_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SrLaborCodesUnitCost_proc]
@LaborCode NVARCHAR
AS
SET NOCOUNT ON
BEGIN TRY
	IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSrLaborCodes]'))
	BEGIN
		SELECT 
			CASE WHEN l.StdLaborCostRate = 0 AND l.WorkType IS NOT NULL  THEN  wt.StdLaborCostRate 
			ELSE l.StdLaborCostRate
			END as UnitCost
		FROM tblSrLaborCodes l
		LEFT JOIN tblSrWorkTypes wt ON l.WorkType = wt.WorkType
		WHERE l.LaborCode = @LaborCode
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SrLaborCodesUnitCost_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SrLaborCodesUnitCost_proc'
GO
