USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvDispatches_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvDispatches_proc]
@UserServiceZoneId bigint = NULL
AS
BEGIN TRY
	SET NOCOUNT ON

SELECT	s.StatusColor, w.WorkOrderNo + '/' + CAST(d.DispatchNo AS nvarchar(10)) [OrderDispNo], d.RequestedDate, e.EquipmentNo, wtd.WorkToDoID, d.[Priority], 
		CAST(CASE WHEN w.ZoneID = @UserServiceZoneId THEN 1 ELSE 0 END AS bit)	[MyServiceZone], d.[Status], d.StatusID, 
		CAST(CASE WHEN (d.RequestedDate < GETDATE() AND d.[Status] = 0 AND d.CancelledYN = 0 AND ISNULL(a.ActivityType, 0) = 0) THEN 1 ELSE 0 END AS bit) [Overdue], 
		d.BillingType, d.[Counter], w.CustID, c.CustName, w.SiteID, z.ZoneCode, wc.CategoryCode, d.[Description], w.Attention, w.Address1, w.Address2, w.City, w.Region, 
		w.Country, w.PostalCode, w.Phone1, w.Email, w.Internet, w.Rep1Id, w.Rep2Id, w.TerrId, w.CustomerPoNumber, w.PODate, d.EquipmentDescription, 
		CAST(d.EstTravel AS decimal)/3600 [EstTravel], CAST((d.EstTravel + t.EstimatedTime) AS decimal)/3600 [TotalEstHrs], d.LocID, d.EntryDate, d.HoldYN, d.RequestedAMPM, d.RequestedTechID, d.CancelledYN, 
		w.ID [WorkOrderID], d.ID [DispatchID], wtd.ID [WrkToDoID], d.EquipmentID, c.CreditHold, c.[Status] as CustomerStatus, w.BillByWorkOrder, d.BillToID, 
		CAST(CASE WHEN  wTrans.DispatchID IS NULL THEN 0 ELSE 1 END AS bit) [FrieghtMisc] 
FROM	dbo.tblSvWorkOrder w
		INNER JOIN dbo.tblSvWorkOrderDispatch d ON w.ID = d.WorkOrderID
		LEFT JOIN dbo.tblSvActivityStatus s ON d.StatusID = s.ID
		LEFT JOIN dbo.tblSvEquipment e ON d.EquipmentID = e.ID
		LEFT JOIN dbo.tblArCust c ON w.CustID = c.CustId
		LEFT JOIN dbo.tblSmZone z ON w.ZoneID = z.ID 
		LEFT JOIN dbo.tblSvWorkOrderCategory wc ON w.CategoryID = wc.ID
		LEFT JOIN (SELECT DispatchID FROM dbo.tblSvWorkOrderTrans WHERE TransType IN (2, 3) GROUP BY DispatchID) wTrans ON d.ID = wTrans.DispatchID
		LEFT JOIN (SELECT DispatchID, SUM(EstimatedTime) [EstimatedTime] FROM	dbo.tblSvWorkOrderDispatchWorkToDo GROUP BY DispatchID) t ON d.ID = t.DispatchID
		LEFT JOIN (SELECT	ID, DispatchID, WorkOrderID, WorkToDoID 
					FROM	(SELECT	ID, DispatchID, WorkOrderID, WorkToDoID, RANK() OVER (PARTITION BY DispatchID ORDER BY WorkOrderID, ID) [RankWToDo] 
							FROM	dbo.tblSvWorkOrderDispatchWorkToDo) ds
					WHERE	RankWToDo = 1) wtd ON d.ID = wtd.DispatchID AND d.WorkOrderID = wtd.WorkOrderID
		LEFT JOIN (SELECT	ID, DispatchID, WorkOrderID, ActivityType 
					FROM	(SELECT	ID, DispatchID, WorkOrderID, ActivityType, ROW_NUMBER() OVER (PARTITION BY DispatchID, WorkOrderID ORDER BY WorkOrderID, DispatchID, ID) [RowNum]
							FROM	 dbo.tblSvWorkOrderActivity 
							WHERE	ActivityType = 1) rn 
					WHERE	RowNum = 1) a ON d.ID = a.DispatchID AND d.WorkOrderID = a.WorkOrderID
ORDER BY MyServiceZone DESC, [Status], CancelledYN, RequestedDate

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvDispatches_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvDispatches_proc'
GO
