USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderPost_BuildLog_proc]
AS
BEGIN TRY
	
SET NOCOUNT ON
DECLARE	@PostRun [nvarchar](14)
	, @MCYn bit
	, @GlYn bit
	, @PostDtlYn bit
	, @CurrBase [nvarchar](6)
	, @CompId nvarchar(3)      
	, @WrkStnDate datetime
	, @SourceCode nvarchar(2)
	, @TransTypeSDBILLTRAN nvarchar(10)

	--Retrieve global values
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @MCYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @GlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'GlYn'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'	
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @SourceCode = Cast([Value] AS nvarchar(2)) FROM #GlobalValues WHERE [Key] = 'SourceCode'
	SELECT @TransTypeSDBILLTRAN = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'BillTransType' -- 'SDBILLTRAN'

	IF @PostRun IS NULL OR @MCYn IS NULL OR @GlYn IS NULL   OR @PostDtlYn IS NULL OR @TransTypeSDBILLTRAN IS NULL
		 OR @CurrBase IS NULL OR @WrkStnDate IS NULL OR @SourceCode IS NULL OR @CompId IS NULL	
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	CREATE TABLE #TransPostLog 
	(
		[Counter] int Not Null Identity(1, 1), 
		[PostRun] [nvarchar](14) NOT NULL, 
		[TransId] [nvarchar](8) NULL, 
		[EntryNum] int Null, 
		[Grouping] smallint Null, 
		[TransDate] datetime Null, 
		[PostDate] datetime Null, 
		[Descr] nvarchar(30) Null, 
		[SourceCode] nvarchar(2) Null, 
		[Reference] nvarchar(15) Null, 
		[DistCode] [nvarchar](6) NULL,
		[GlAcct] [nvarchar](255) NULL, 
		[CreditAmount] [decimal](28,10) NULL, 
		[DebitAmount] [decimal](28,10) NULL, 
		[FiscalPeriod] smallint Null, 
		[FiscalYear] smallint Null, 
		[LinkID] nvarchar(255) Null, 
		[LinkIDSub] nvarchar(255) Null, 		
		[CurrencyId] [nvarchar](6) NULL, 		
		[DebitAmtFgn] [decimal](28,10) NULL Default(0), 
		[CreditAmtFgn] [decimal](28,10) NULL Default(0),
		[TransType] nvarchar(10) NOT NULL,
		[TransKey]  nvarchar(255) NOT NULL
	)


	SELECT h.FiscalYear , h.FiscalPeriod , h.DistCode, h.TransId, h.TransType	,h.BillToID CustID, h.InvoiceNumber,h.WorkOrderID
		, h.CurrencyId AS CurrencyId
		, CASE WHEN dbo.tblGlAcctHdr.CurrencyId <> @CurrBase THEN h.ExchRate ELSE 1 END ExchRate
		, h.InvoiceDate,h.TaxSubtotal,h.NonTaxSubtotal, h.SalesTax 	,h.TaxAmtAdj,h.TotCost, h.TaxSubtotalFgn,h.NonTaxSubtotalFgn
		,h.SalesTaxFgn,h.TaxAmtAdjFgn, d.GLAcctCredit,d.GLAcctDebit,d.GLAcctSales, d.CostExt, d.CostExtFgn,d.PriceExt, d.PriceExtFgn, d.EntryNum 
		, d.[Description] , d.WorkOrderTransID,d.WorkOrderTransType, wt.FiscalPeriod [TransFiscalYear],wt.FiscalPeriod [TransFiscalPeriod], wt.TransDate
		,dbo.tblArDistCode.GLAcctReceivables, dbo.tblArDistCode.GLAcctFreight, dbo.tblArDistCode.GLAcctMisc, ISNULL(k.DropShipYn,0) AS DropShipYn,dis.DispatchNo
	INTO #Temp1 
	FROM (dbo.tblSvInvoiceHeader h
		 INNER JOIN #PostTransList l ON h.TransId = l.TransId
		 INNER JOIN dbo.tblSvInvoiceDetail d ON h.TransId = d.TransID 
		 LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON d.DispatchID = dis.ID
		 LEFT JOIN tblSvWorkOrderTrans	Wt on  d.WorkOrderTransID = wt.ID
		 INNER JOIN dbo.tblArDistCode  ON  h.DistCode = dbo.tblArDistCode.DistCode)
		 LEFT JOIN dbo.tblGlAcctHdr ON  dbo.tblArDistCode.GLAcctReceivables =  dbo.tblGlAcctHdr.AcctId 
		 LEFT JOIN dbo.tblSmTransLink k ON Wt.LinkSeqNum = k.SeqNum
	WHERE h.VoidYN =0 AND h.PrintStatus<>3
	ORDER BY h.FiscalYear,h.FiscalPeriod,h.TransId


	--Freight/Misc
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId, CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, TransID,  InvoiceDate, @WrkStnDate, EntryNum 
		,CASE WHEN WorkOrderTransType=2 THEN 30
			 WHEN WorkOrderTransType=3 THEN 40 END
		,substring(ISNULL(InvoiceNumber + ' / ','') + ISNULL( [Description],''), 1, 30)
		,'SD',CustID,DistCode
		,CASE WHEN WorkOrderTransType=2 THEN GLAcctFreight
			 WHEN WorkOrderTransType=3 THEN GLAcctMisc END
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN 0  ELSE ABS(PriceExt) END
		,WorkOrderID,CurrencyId
		,CASE WHEN  SIGN(TransType) * PriceExtFgn > 0 THEN ABS(PriceExtFgn)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExtFgn > 0 THEN 0  ELSE ABS(PriceExtFgn) END
		,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #Temp1
	WHERE WorkOrderTransType =2 OR  WorkOrderTransType =3

	--Part/Labor/Manual 

	--Inventory/Payroll
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, TransID, TransDate, @WrkStnDate, EntryNum 
		,CASE WHEN WorkOrderTransType=0 THEN 10
			 WHEN WorkOrderTransType=1 THEN 20 
			 WHEN WorkOrderTransType=5 THEN 20 
			 WHEN WorkOrderTransType IS NULL THEN 40 END
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30)
		,'SD', CustID, DistCode, GLAcctCredit
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN 0  ELSE ABS(CostExt) END
		,WorkOrderID,CurrencyId
		,CASE WHEN  SIGN(TransType) * CostExtFgn > 0 THEN ABS(CostExtFgn)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExtFgn > 0 THEN 0  ELSE ABS(CostExtFgn) END
		,@TransTypeSDBILLTRAN,TransID,DispatchNo
		FROM #Temp1
	WHERE (WorkOrderTransType =0 OR  WorkOrderTransType =1 OR WorkOrderTransType =5 OR WorkOrderTransType IS NULL) AND DropShipYn = 0 -- skip for drop shipped

    --Cost of Sales
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey, LinkIDSub)   
	SELECT @PostRun,FiscalPeriod,FiscalYear, TransID, InvoiceDate, @WrkStnDate, EntryNum ,50
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30),'SD', CustID, DistCode, GLAcctDebit
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN 0  ELSE ABS(CostExt) END
		,WorkOrderID,CurrencyId
		,CASE WHEN  SIGN(TransType) * CostExtFgn < 0 THEN ABS(CostExtFgn)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExtFgn < 0 THEN 0  ELSE ABS(CostExtFgn) END
		,@TransTypeSDBILLTRAN,TransID, DispatchNo
		FROM #Temp1
	WHERE (WorkOrderTransType =0 OR  WorkOrderTransType =1 OR WorkOrderTransType =5 OR WorkOrderTransType IS NULL) AND DropShipYn = 0 -- skip for drop shipped

		--Line Item Sales:
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, TransID, InvoiceDate, @WrkStnDate, EntryNum 
		,60
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30)
		,'SD',CustID,DistCode
		,GLAcctSales
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN 0  ELSE ABS(PriceExt) END
		,WorkOrderID,CurrencyId
		,CASE WHEN  SIGN(TransType) * PriceExtFgn > 0 THEN ABS(PriceExtFgn)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExtFgn > 0 THEN 0  ELSE ABS(PriceExtFgn) END
		,@TransTypeSDBILLTRAN,TransID, DispatchNo
		FROM #Temp1
		WHERE WorkOrderTransType =0 OR  WorkOrderTransType =1 OR WorkOrderTransType =5 OR WorkOrderTransType IS NULL

--  Travel
--Inventory/Payroll
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, TransID, TransDate, @WrkStnDate, EntryNum 
		,25
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30)
		,'SD', CustID, DistCode, GLAcctCredit
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN 0  ELSE ABS(CostExt) END
		,WorkOrderID, @CurrBase
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt > 0 THEN 0  ELSE ABS(CostExt) END
		,@TransTypeSDBILLTRAN,TransID,DispatchNo
	FROM #Temp1
	WHERE WorkOrderTransType =4

    --Cost of Sales
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey, LinkIDSub)   
	SELECT @PostRun,FiscalPeriod,FiscalYear, TransID, InvoiceDate, @WrkStnDate, EntryNum ,50
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30),'SD', CustID, DistCode, GLAcctDebit
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN 0  ELSE ABS(CostExt) END
		,WorkOrderID,@CurrBase
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN ABS(CostExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * CostExt < 0 THEN 0  ELSE ABS(CostExt) END
		,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #Temp1
	WHERE WorkOrderTransType =4

		--Line Item Sales:
	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, TransID, InvoiceDate, @WrkStnDate, EntryNum 
		,60
		,substring(ISNULL(InvoiceNumber + ' / ','') +ISNULL( [Description],''), 1, 30)
		,'SD',CustID,DistCode
		,GLAcctSales
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN 0  ELSE ABS(PriceExt) END
		,WorkOrderID,@CurrBase
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
		,CASE WHEN  SIGN(TransType) * PriceExt > 0 THEN 0  ELSE ABS(PriceExt) END
		,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #Temp1
	WHERE WorkOrderTransType =4

	--Tax Locations
	Create Table #zzTax
	(
		TransId [nvarchar](8) NOT NULL, 
		WorkOrderID bigint, 
		FiscalYear smallint, 
		FiscalPeriod smallint, 
		TaxAmount [decimal](28,10) NULL,
		InvcDate datetime,
		TaxLocID [nvarchar](10) NULL,
		CustID [nvarchar](10) NULL, 
		DistCode [nvarchar](6) NULL, 
		LiabilityAcct [nvarchar](255) NULL,
		TransType int null,
		CurrencyId [nvarchar](6) NULL,
		TaxAmountFgn [decimal](28,10) NULL,
		InvoiceNumber [nvarchar](15) NULL
	)
                        
	--tax detail                                         
	INSERT INTO #zzTax (TransId, WorkOrderID, FiscalYear, FiscalPeriod, TaxAmount
		, InvcDate, TaxLocID, CustID, DistCode, LiabilityAcct, TransType,CurrencyId,TaxAmountFgn,InvoiceNumber)
		SELECT h.TransId, WorkOrderID, h.FiscalYear, h.FiscalPeriod
			,  t.TaxAmt
			, h.InvoiceDate, t.TaxLocID, h.BillToID , h.DistCode, t.LiabilityAcct,h.TransType,h.CurrencyID,t.TaxAmtFgn,h.InvoiceNumber
		FROM dbo.tblSvInvoiceHeader h 
		INNER JOIN dbo.tblSvInvoiceTax t ON h.TransId = t.TransId
		INNER JOIN #PostTransList l ON h.TransId = l.TransId
		WHERE VoidYN=0 AND t.TaxAmt <> 0 AND h.PrintStatus<>3
			
	--tax adjustments
	INSERT INTO #zzTax (TransId, WorkOrderID, FiscalYear, FiscalPeriod, TaxAmount
		, InvcDate, TaxLocID, CustID, DistCode, LiabilityAcct, TransType,CurrencyId,TaxAmountFgn,InvoiceNumber)
		SELECT h.TransId,WorkOrderID, h.FiscalYear, h.FiscalPeriod
			,  h.TaxAmtAdj
			, h.InvoiceDate, h.TaxLocAdj, h.BillToID , h.DistCode, t.GlAcct,h.TransType,h.CurrencyID,h.TaxAmtAdjFgn,h.InvoiceNumber
		FROM dbo.tblSvInvoiceHeader h
		LEFT JOIN dbo.tblSmTaxLoc t on h.TaxLocAdj = t.TaxLocId
		INNER JOIN #PostTransList l ON h.TransId = l.TransId
		WHERE  VoidYN=0 AND TaxAmtAdj <> 0 AND h.PrintStatus<>3

	INSERT INTO #TransPostLog    
		(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		 Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
		CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey)   

		SELECT @PostRun, FiscalPeriod,FiscalYear, TransID, InvcDate, @WrkStnDate, 0,70
		, substring(ISNULL(InvoiceNumber + ' / ','') + 'Sales Tax' + ' / ' + TaxLocID, 1, 30)
		,'SD',CustID,DistCode
		,LiabilityAcct
		,CASE WHEN SUM(SIGN(TransType) * TaxAmount) > 0 THEN SUM(SIGN(TransType) * TaxAmount) ELSE 0 END
		,CASE WHEN SUM(SIGN(TransType) *TaxAmount) > 0 THEN 0 ELSE ABS(SUM(SIGN(TransType) *TaxAmount)) END
		,WorkOrderID, CurrencyId
		,CASE WHEN SUM(SIGN(TransType) * TaxAmountFgn) > 0 THEN SUM(SIGN(TransType) * TaxAmountFgn) ELSE 0 END
		,CASE WHEN SUM(SIGN(TransType) * TaxAmountFgn) > 0 THEN 0  ELSE ABS(SUM(SIGN(TransType) * TaxAmountFgn)) END
		,@TransTypeSDBILLTRAN,TransID

		FROM #zzTax 
		GROUP BY TransId, CustID, DistCode, InvcDate, WorkOrderID, FiscalYear, FiscalPeriod, TaxLocID, LiabilityAcct,TransType,CurrencyId,InvoiceNumber
		HAVING SUM(TaxAmount) <> 0 OR SUM(TaxAmountFgn) <> 0

	--AR entry    
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey)  
		 
	SELECT @PostRun, FiscalPeriod,FiscalYear, h.TransID, InvoiceDate, @WrkStnDate, 0
	,80
	,h.InvoiceNumber + ' / ' + 'A/R'
	,@SourceCode,h.BillToID,h.DistCode
	,dc.GLAcctReceivables
	,CASE WHEN  SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal + SalesTax+ TaxAmtAdj) < 0 THEN ABS(TaxSubtotal + NonTaxSubtotal + SalesTax+ TaxAmtAdj)  ELSE 0 END
	,CASE WHEN  SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal + SalesTax+ TaxAmtAdj) < 0 THEN  0 ELSE ABS(TaxSubtotal + NonTaxSubtotal + SalesTax+ TaxAmtAdj)   END
	,WorkOrderID
	,h.CurrencyId 			
	,CASE WHEN  SIGN(TransType) * (TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn+ TaxAmtAdjFgn) < 0 THEN ABS(TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn+ TaxAmtAdjFgn)  ELSE 0 END
	,CASE WHEN  SIGN(TransType) * (TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn+ TaxAmtAdjFgn) < 0 THEN  0 ELSE ABS(TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn+ TaxAmtAdjFgn)   END
	,@TransTypeSDBILLTRAN,h.TransID
	FROM (dbo.tblSvInvoiceHeader h
		INNER JOIN #PostTransList l ON h.TransId = l.TransId
		INNER JOIN dbo.tblArDistCode dc ON  h.DistCode = dc.DistCode)
		LEFT JOIN dbo.tblGlAcctHdr g ON  dc.GLAcctReceivables =  g.AcctId 
		WHERE VoidYN=0 AND h.PrintStatus<>3
	 

	--SD to PC Link  -- Billing through PC
	 
	SELECT  w.CustID, wt.FiscalYear ,wt.FiscalPeriod ,
			 substring((ISNULL(h.InvoiceNumber + ' / ','') +ISNULL(d.Description,'')),1,30) Description,
			 wt.TransDate,@CurrBase CurrencyId,w.ID WorkOrderId, h.TransType
				,dc.GLAcctWIP, dc.GLAcctAccruedIncome, wt.GLAcctDebit,wt.GLAcctCredit, wt.PriceExt,wt.CostExt, wt.TransType WorkOrderTransType
				, p.Type ProjectType, pd.Billable, pd.FixedFee, h.TransID ,dis.DispatchNo
	INTO #tmpPCBilling
	FROM (dbo.tblSvInvoiceHeader h
	INNER JOIN #PostTransList l ON h.TransId = l.TransId
	INNER JOIN dbo.tblSvWorkOrder w ON w.ID = h.WorkOrderID
	INNER JOIN dbo.tblPcProjectDetail pd ON w.ProjectDetailID = pd.Id
	INNER JOIN dbo.tblPcProject p ON p.Id= pd.ProjectId
	INNER JOIN dbo.tblSvInvoiceDetail d ON h.TransId = d.TransID 
	INNER JOIN tblSvWorkOrderTrans	Wt on  d.WorkOrderTransID = wt.ID
	INNER JOIN dbo.tblPcDistCode dc ON  pd.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON d.DispatchID = dis.ID)		 
	WHERE h.VoidYN =0 AND h.PrintStatus=3 AND w.BillVia =1 
		

	 
	-- WIP
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId, CreditAmtFgn, DebitAmtFgn, TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,100
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctWIP
	
	,CASE WHEN  PriceExt > 0 THEN 0 ELSE ABS(PriceExt)  END
	,CASE WHEN   PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  PriceExt > 0 THEN  0 ELSE ABS(PriceExt)   END
	,CASE WHEN   PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE (WorkOrderTransType =0 OR  WorkOrderTransType =1 OR  WorkOrderTransType =4) AND ProjectType =0 AND Billable =1 AND FixedFee =0
	
	--Part Return WIP
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId, CreditAmtFgn, DebitAmtFgn, TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,100
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctWIP	
	,CASE WHEN  PriceExt > 0 THEN PriceExt ELSE 0  END
	,CASE WHEN  PriceExt > 0THEN 0  ELSE PriceExt  END
	,WorkOrderID, CurrencyID
	,CASE WHEN  PriceExt > 0 THEN PriceExt ELSE 0  END
	,CASE WHEN  PriceExt > 0THEN 0  ELSE PriceExt  END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling b
	WHERE  WorkOrderTransType =5 AND ProjectType =0 AND Billable =1 AND FixedFee =0

		
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,100
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctWIP
	
	,CASE WHEN  CostExt > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  CostExt > 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE (WorkOrderTransType <> 0 AND WorkOrderTransType <> 1 AND WorkOrderTransType <> 4 AND WorkOrderTransType <> 5) AND ProjectType =0 AND Billable =1 AND FixedFee =0
	

	-- Accrued Income
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,110
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctAccruedIncome
		
	,CASE WHEN  -1 * PriceExt > 0 THEN 0 ELSE ABS(PriceExt)  END
	,CASE WHEN   -1 * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  -1 * PriceExt > 0 THEN  0 ELSE ABS(PriceExt)   END
	,CASE WHEN   -1 * PriceExt > 0 THEN ABS(PriceExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE (WorkOrderTransType =0 OR  WorkOrderTransType =1 OR  WorkOrderTransType =4)  AND ProjectType =0 AND Billable =1 AND FixedFee =0

	-- Accrued Income Part Return
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,110
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctAccruedIncome
		
	,CASE WHEN  PriceExt > 0 THEN 0 ELSE ABS(PriceExt)  END
	,CASE WHEN   PriceExt > 0 THEN PriceExt  ELSE 0 END
	,WorkOrderID,g.CurrencyID
	,CASE WHEN PriceExt > 0 THEN  0 ELSE ABS(ROUND(PriceExt * et.Rate,et.CurrDecPlaces))   END
	,CASE WHEN PriceExt > 0 THEN ROUND(PriceExt * et.Rate,et.CurrDecPlaces)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling b
	LEFT JOIN [dbo].tblGlAcctHdr g ON b.GLAcctWIP = g.AcctId  
	LEFT JOIN( SELECT e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e  
			  INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypeSDBILLTRAN Where e.[Source]=@CurrBase ) et 
				ON  et.Destination= g.CurrencyID AND et.TransKey=TransId    
	WHERE (WorkOrderTransType =5)  AND ProjectType =0 AND Billable =1 AND FixedFee =0

		
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,110
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null, GLAcctAccruedIncome	
	,CASE WHEN  -1 * CostExt > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN   -1 * CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  -1 * CostExt > 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   -1 *  CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE (WorkOrderTransType <> 0 AND WorkOrderTransType <> 1 AND WorkOrderTransType <> 4 AND WorkOrderTransType <> 5 ) AND ProjectType =0 AND Billable =1 AND FixedFee =0
	
-- Cost of Sales
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId, CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   

	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,CASE WHEN ProjectType=1 THEN 100 ELSE 50 END
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null
	, CASE WHEN ProjectType=1 THEN GLAcctWIP ELSE GLAcctDebit END
	,CASE WHEN  CostExt > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  CostExt > 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE (WorkOrderTransType =0 OR  WorkOrderTransType =4)

	-- Cost of Sales -Part
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,CASE WHEN ProjectType=1 THEN 100 ELSE 50 END
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null
	, GLAcctDebit
	,CASE WHEN  CostExt > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  CostExt > 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE WorkOrderTransType =1

	-- Cost of Sales -Part Return
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId,  CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,CASE WHEN ProjectType=1 THEN 100 ELSE 50 END
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null
	, GLAcctDebit
	,CASE WHEN  CostExt < 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN   CostExt < 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN  CostExt < 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   CostExt < 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE WorkOrderTransType =5
	
	
-- Inventory/Payroll
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId, CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,CASE WHEN WorkOrderTransType =0 THEN 10
		 WHEN WorkOrderTransType =1 THEN 20 
		 WHEN WorkOrderTransType =4 THEN 25 END
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null
	, GLAcctCredit	
	,CASE WHEN  (-1 *CostExt) > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN  (-1 *CostExt) > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN (-1 *CostExt)> 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   (-1 *CostExt) > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE WorkOrderTransType =0 OR  WorkOrderTransType =1 OR  WorkOrderTransType =4

	-- Inventory/Payroll -Part Return
	INSERT INTO #TransPostLog    
	(PostRun, FiscalPeriod, FiscalYear, TransId, Transdate,PostDate, EntryNum, [Grouping], 
		Descr, SourceCode, Reference, DistCode, GlAcct, CreditAmount, DebitAmount, LinkID,
	CurrencyId, CreditAmtFgn, DebitAmtFgn,TransType,TransKey,LinkIDSub)   
	SELECT @PostRun, FiscalPeriod,FiscalYear, null, TransDate, @WrkStnDate, 0
	,20
	,substring(ISNULL( [Description],''), 1, 30)
	,'SD', CustID, Null
	, GLAcctCredit	
	,CASE WHEN  CostExt > 0 THEN 0 ELSE ABS(CostExt)  END
	,CASE WHEN  CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,WorkOrderID,CurrencyID
	,CASE WHEN CostExt > 0 THEN  0 ELSE ABS(CostExt)   END
	,CASE WHEN   CostExt > 0 THEN ABS(CostExt)  ELSE 0 END
	,@TransTypeSDBILLTRAN,TransID, DispatchNo
	FROM #tmpPCBilling
	WHERE WorkOrderTransType =5 


	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],[Description],Reference,
		SourceCode, CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSub,LinkIdSubLine)
	SELECT @PostRun, TransType, TransKey, @PostRun, @CompId, GlAcct, FiscalYear, FiscalPeriod, [Grouping], 
		CASE @PostDtlYn WHEN 0 THEN CASE WHEN [Grouping] = 10 THEN 'Labor'
			WHEN [Grouping] = 20 THEN 'Part'
			WHEN [Grouping] = 25 THEN 'Travel'
			WHEN [Grouping] = 30 THEN 'Freight'
			WHEN [Grouping] = 40 THEN 'Misc Charges'
			WHEN [Grouping] = 50 THEN 'Cost of Sales'
			WHEN [Grouping] = 60 THEN 'Sales'
			WHEN [Grouping] = 70 THEN 'Sales Tax'
			WHEN [Grouping] = 80 THEN 'A/R'		
			WHEN [Grouping] = 100 THEN 'WIP'
			WHEN [Grouping] = 110 THEN 'Accrued Income'	
			END ELSE [Descr] END, 
		CASE @PostDtlYn WHEN 0 THEN @SourceCode ELSE Reference END, 
		@SourceCode, CreditAmtFgn, DebitAmtFgn, CreditAmount, DebitAmount, CurrencyId,
		CASE @PostDtlYn WHEN 0 THEN @WrkStnDate ELSE TransDate END, @WrkStnDate,
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkId END, 
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkIdSub END,
		NULL
	FROM #TransPostLog		


	--update the transaction summary log table
	INSERT INTO #TransactionSummary ([FiscalYear], [FiscalPeriod]
		, [TransAmt], [RcptAmtApplied], [RcptAmtUnapplied]
		, [CurrencyId], [TransAmtFgn], [RcptAmtAppliedFgn], [RcptAmtUnappliedFgn])
	SELECT FiscalYear, FiscalPeriod
		, SUM(SIGN(TransType)*(TaxSubtotal+NonTaxSubtotal+SalesTax+TaxAmtAdj))
		, 0, 0
		, CurrencyId
		, SUM(SIGN(TransType)*(TaxSubtotalFgn+NonTaxSubtotalFgn+SalesTaxFgn+TaxAmtAdjFgn))
		, 0, 0
	FROM dbo.tblSvInvoiceHeader h
	INNER JOIN #PostTransList l ON h.TransId = l.TransId
	WHERE VoidYN=0 AND h.PrintStatus<>3
	GROUP BY FiscalYear, FiscalPeriod, CurrencyId


	IF NOT EXISTS ( SELECT FiscalYear FROM  #TransactionSummary)
	BEGIN
		INSERT INTO #TransactionSummary ([FiscalYear], [FiscalPeriod], [TransAmt], [RcptAmtApplied], [RcptAmtUnapplied]
			, [CurrencyId], [TransAmtFgn], [RcptAmtAppliedFgn], [RcptAmtUnappliedFgn])

		SELECT FiscalYear, FiscalPeriod	, 0	, 0, 0
			, CurrencyId, 0	, 0, 0
		FROM dbo.tblSvInvoiceHeader h
		INNER JOIN #PostTransList l ON h.TransId = l.TransId
		INNER JOIN dbo.tblSvWorkOrder w ON h.WorkOrderID = w.ID
		WHERE VoidYN=0 AND w.BillVia =1
		GROUP BY FiscalYear, FiscalPeriod, CurrencyId
	END
	
 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_BuildLog_proc'
GO
