USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TpOpenInvoiceForPayment_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TpOpenInvoiceForPayment_proc]
	@CustId pCustID
AS
SET NOCOUNT ON
BEGIN TRY

SELECT I.CustId, I.InvoiceNumber, I.InvoiceDate, I.DiscountDueDate, I.NetDue, I.NetDueFgn, I.ActualAmountDue, I.ActualAmountDueFgn, I.DiscountAllowed, I.DiscountAllowedFgn, I.[Status], I.PONumber
 FROM (SELECT  O.CustId AS CustID
				, O.InvcNum AS InvoiceNumber
				, MIN(O.TransDate) AS InvoiceDate
				, MIN(DiscDueDate) AS DiscountDueDate				
				, (SUM(SIGN(O.RecType) *O.Amt) - (ISNULL((T.PmtAmt),0) + ISNULL((T.Disc),0))) AS ActualAmountDue
				, (SUM(SIGN(O.RecType) *O.AmtFgn) -  (ISNULL((T.PmtAmtFgn),0) + ISNULL((T.Disc),0))) AS ActualAmountDueFgn
				, SUM(SIGN(O.RecType) * O.Amt) AS  NetDue
				, SUM(SIGN(O.RecType) * O.AmtFgn) AS NetDueFgn
				, (SUM(SIGN(O.RecType) * O.DiscAmt) -  ISNULL(T.Disc,0)) AS DiscountAllowed
				, (SUM(SIGN(O.RecType) * O.DiscAmtFgn) -  ISNULL(T.DiscFgn,0)) AS DiscountAllowedFgn
				--, ISNULL(SUM(T.PmtAmt), 0) AS PaymentAmount
				, O.[Status]
				, MAX(O.CustPONum) AS PONumber
		FROM dbo.[tblArOpenInvoice] O

		LEFT JOIN (	SELECT H.CustId, SUM(D.PmtAmt) AS PmtAmt, SUM(D.PmtAmtFgn) AS PmtAmtFgn, SUM(D.[Difference]) AS Disc, SUM(D.[DifferenceFgn]) AS DiscFgn, D.InvcNum
					FROM dbo.[tblArCashRcptHeader] H
					INNER JOIN dbo.[tblArCashRcptDetail] D ON H.RcptHeaderID = D.RcptHeaderID AND D.InvcType = 1
					GROUP BY D.InvcNum, H.CustId) T

		ON O.CustId = T.CustId AND O.InvcNum = T.InvcNum
		WHERE O.CustId = @CustId AND O.[Status] <> 4 AND O.RecType <> 5
		GROUP BY O.InvcNum, O.CustId,  O.[Status], T.PmtAmt, T.PmtAmtFgn, T.Disc, T.DiscFgn) I
		WHERE I.ActualAmountDueFgn != 0
		ORDER BY I.InvoiceDate ASC

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpOpenInvoiceForPayment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpOpenInvoiceForPayment_proc'
GO
