USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoVerifyOrderBatchUpdate_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoVerifyOrderBatchUpdate_proc]
@TransId pTransID,
@FiscalPeriod smallint,
@FiscalYear smallint,
@InvoiceDate datetime,
@ShipAll bit,
@PrecQty tinyint,
@PrecTransCurrency tinyint, 
@PrecBaseCurrency tinyint
AS
BEGIN TRY

	UPDATE dbo.tblSoTransHeader SET TransType = 4, GLPeriod = @FiscalPeriod, FiscalYear = @FiscalYear, InvcDate = @InvoiceDate
	WHERE TransId = @TransId 

	IF (@ShipAll = 1)
	BEGIN
		--shipped qty
		UPDATE dbo.tblSoTransDetailExt SET QtyFilled = QtyOrder
		FROM dbo.tblSoTransDetail d INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN dbo.tblSoTransDetailExt e ON d.TransID = e.TransId AND d.EntryNum = e.EntryNum
		WHERE d.TransID = @TransId AND d.QtyShipSell = 0 AND ISNULL(d.LinkSeqNum,0) = 0 AND (i.LottedYN != 1 AND i.ItemType <> 2) --No ship qty and not transaction link and not lotted and not serialized

		UPDATE dbo.tblSoTransDetail SET QtyShipSell = QtyOrdSell, QtyShipBase = ROUND(QtyOrdSell * Conversionfactor, @PrecQty)
		FROM dbo.tblSoTransDetail d LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
		WHERE d.TransID = @TransId AND d.QtyShipSell = 0 AND ISNULL(d.LinkSeqNum,0) = 0 AND (i.ItemId IS NULL OR (i.LottedYN != 1 AND i.ItemType <> 2)) --No ship qty and not transaction link and (non-inventory item or (not lotted and not serialized))

	END

	--backordered qty
	UPDATE dbo.tblSoTransDetail SET QtyBackordSell = CASE WHEN QtyOrdSell > QtyShipSell THEN QtyOrdSell - QtyShipSell ELSE 0 END 
	,PriceExt = ROUND(ROUND((QtyShipSell * UnitPriceSellFgn), @PrecTransCurrency)/e.ExchRate, @PrecBaseCurrency)
	, PriceExtFgn = ROUND((QtyShipSell * UnitPriceSellFgn), @PrecTransCurrency)
	,CostExt = ROUND((QtyShipSell * UnitCostSell), @PrecBaseCurrency)
	, CostExtFgn = ROUND((QtyShipSell * UnitCostSellFgn), @PrecTransCurrency)
	From dbo.tblSoTransDetail d 
		   Inner Join  dbo.tblSoTransHeader e On e.TransId = d.TransID
	WHERE d.TransID = @TransId

	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoVerifyOrderBatchUpdate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoVerifyOrderBatchUpdate_proc'
GO
