USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPackOrders_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPackOrders_proc]
@Filter NVARCHAR(MAX) = NULL
AS
SET NOCOUNT ON
BEGIN TRY

DECLARE @SQL NVARCHAR(MAX) =
'SELECT
	P.PickKey, P.SourceId, P.TransId, P.EntryNum, P.ItemId, I.Descr [ItemDescr], P.UOM, P.LocId, B.ExtLocID [ExtLocA], C.ExtLocID [ExtLocB],
	P.SerNum, P.LotNum, P.QtyPicked, P.PackNumber, ISNULL(G.QtyReq,0) - P.QtyPicked [QtyRemaining], ISNULL(G.QtyReq,0) [QtyRequired], G.Ref2 [RelNo],
	P.TransDate [ReqDate], I.LottedYN [LottedYn], CAST(CASE I.ItemType WHEN 2 THEN 1 ELSE 0 END AS BIT) [SerialYn], P.[Status]
FROM tblWmPick P
INNER JOIN tblInItem I ON I.ItemId = P.ItemId
INNER JOIN tblWmExtLoc B ON B.Id = P.ExtLocA
LEFT JOIN tblWmExtLoc C ON C.Id = P.ExtLocB
LEFT JOIN tblWmPick_Gen G ON G.TransId = P.TransId AND G.EntryNum = P.EntryNum AND G.SeqNum = P.SeqNum AND G.SourceId = P.SourceId'

--conditionally apply filter criteria to the dataset
Select @Filter = NULLIF(LTRIM(RTRIM(@Filter)), '')
If @Filter is not null
Begin
	Select @SQL = 'Select * From (' + @SQL + ') t Where (' + @Filter + ')'
End

--return the results
EXEC sp_executesql @SQL

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPackOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPackOrders_proc'
GO
