USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderPost_CreatePCActivity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderPost_CreatePCActivity_proc]
AS
BEGIN TRY

	DECLARE @TransTypePCBILL nvarchar(10), @ExchRateId bigint

	SELECT @TransTypePCBILL = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'PCBILLTransType' -- 'PCBILL'
	SELECT @ExchRateId = Cast([Value] AS bigint) FROM #GlobalValues WHERE [Key] = 'ExchRateId'

	INSERT INTO dbo.tblPcActivity(ProjectDetailId, RcptId, Source, Type	, Qty, QtyInvoiced, ExtCost	, ExtIncome
	, QtyBilled, ExtIncomeBilled, Description, AddnlDesc, ActivityDate, SourceReference, BillingReference, ResourceId, LocId, Reference
	, DistCode, GLAcctWIP
	, GLAcctPayrollClearing
	, GLAcctIncome 
	, GLAcctCost
	, GLAcctAdjustments, GLAcctFixedFeeBilling
	, GLAcctOverheadContra, GLAcctAccruedIncome, TaxClass, FiscalPeriod, FiscalYear
	, OverheadPosted , RateId, Uom, Status, BillOnHold, SourceId, LinkSeqNum, CF, LinkId,GroupID)

	SELECT w.ProjectDetailID, NULL
	, CASE WHEN w.BillVia = 0 THEN 13   WHEN w.BillVia= 1 THEN 14 END 
	,CASE WHEN tr.TransType = 2 THEN 3 
	       WHEN tr.TransType = 4 THEN 0
		   WHEN tr.TransType = 5 THEN 1
		   WHEN tr.TransType = 0 THEN 0 
		   WHEN tr.TransType = 1  THEN 1
		   WHEN tr.TransType = 3  THEN 3
		END 
	, CASE WHEN (tr.TransType =0  OR tr.TransType = 1  OR tr.TransType = 4) THEN
		CASE WHEN w.FixedPrice=1 THEN tr.QtyEstimated ELSE tr.QtyUsed END 
	  ELSE CASE WHEN (tr.TransType = 5) THEN CASE WHEN w.FixedPrice=1 THEN -1 * tr.QtyEstimated ELSE -1 * tr.QtyUsed END ELSE 0 END END  Qty
	, 0
	, CASE WHEN tr.TransType =0  OR tr.TransType = 1 OR tr.TransType = 4 THEN tr.CostExt
		 ELSE CASE WHEN tr.TransType =5 THEN -1 *  tr.CostExt ELSE  0 END END ExtCost
	, CASE WHEN tr.TransType =0  OR tr.TransType = 1 OR tr.TransType = 4 THEN tr.PriceExt 
		ELSE CASE WHEN tr.TransType =5 THEN -1 * tr.PriceExt  ELSE  tr.CostExt END END ExtIncome
	, CASE WHEN w.BillVia = 0  AND ((bd.BillingType IS NULL AND b.BillableYN =1) OR bd.BillableYN =1) AND wd.CancelledYN =0  THEN
		CASE WHEN (tr.TransType =0  OR tr.TransType = 1 OR tr.TransType = 4) THEN
			CASE WHEN w.FixedPrice=1 THEN tr.QtyEstimated ELSE tr.QtyUsed END 
		ELSE CASE WHEN tr.TransType =5 THEN
			CASE WHEN w.FixedPrice=1 THEN -1 * tr.QtyEstimated ELSE -1 * tr.QtyUsed END ELSE 0 END  END 
	  ELSE 0 END QtyBilled
	 , CASE WHEN w.BillVia = 0 THEN
			CASE WHEN tr.TransType =2  OR tr.TransType = 3 THEN tr.CostExt 
			ELSE CASE WHEN ((bd.BillingType IS NULL AND b.BillableYN =1) OR bd.BillableYN =1) AND wd.CancelledYN =0 
						THEN  CASE WHEN tr.TransType =5 THEN -1* tr.PriceExt ELSE tr.PriceExt END ELSE 0 END
		    END
		ELSE 0 END ExtIncomeBilled
	 , tr.Description, tr.AdditionalDescription, tr.TransDate, tr.ID 
	 , CASE WHEN w.BillVia = 0 THEN d.TransID ELSE NULL END  BillingReference
	 , tr.ResourceID, tr.LocID
	 , CASE WHEN tr.TransType = 0 THEN 'Labor' 
	       WHEN tr.TransType = 1 THEN 'Part' 
		   WHEN tr.TransType = 2 THEN 'Freight' 
		   WHEN tr.TransType = 3 THEN 'Misc' 
		   WHEN tr.TransType = 4  THEN 'Travel'
		   WHEN tr.TransType = 5  THEN 'Part Return'
		END Reference
	, pd.DistCode, CASE WHEN (tr.TransType = 1 OR tr.TransType = 5) AND w.BillVia = 1 AND pr.Type = 1 THEN tr.GLAcctDebit ELSE dc.GLAcctWIP END
	, CASE WHEN tr.TransType = 0 OR tr.TransType = 4  THEN tr.GLAcctCredit ELSE dc.GLAcctPayrollClearing END
	, CASE WHEN w.BillVia =0 AND ((bd.BillingType IS NULL AND b.BillableYN =1) OR bd.BillableYN =1) AND wd.CancelledYN =0 AND (tr.TransType = 0 OR tr.TransType= 1 OR tr.TransType= 4 OR tr.TransType= 5) THEN tr.GLAcctSales ELSE dc.GLAcctIncome END
	, CASE WHEN (tr.TransType = 0 OR tr.TransType= 1 OR tr.TransType =4 OR tr.TransType =5) AND( w.BillVia = 0 OR pr.Type <> 1) THEN tr.GLAcctDebit ELSE dc.GLAcctCost END 
	, dc.GLAcctAdjustments,dc.GLAcctFixedFeeBilling
	, dc.GLAcctOverheadContra, dc.GLAcctAccruedIncome, tr.TaxClass, tr.FiscalPeriod, tr.FiscalYear
	, 0	, NULL	, tr.Unit
	, CASE WHEN w.BillVia = 0 THEN CASE WHEN pr.Type = 1 THEN 5 ELSE 4  END ELSE 2 END 
	, 0
	, CASE WHEN w.BillVia = 0 THEN h.SourceId END
	, tr.LinkSeqNum, NULL, NULL, 1
	FROM #PostTransList p
	INNER JOIN dbo.tblSvInvoiceHeader h ON p.TransId = h.TransID
	INNER JOIN dbo.tblSvInvoiceDetail d ON  p.TransId = d.TransID	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON d.WorkOrderTransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder w ON tr.WorkOrderID = w.ID 
	INNER JOIN dbo.tblPcProjectDetail pd ON w.ProjectDetailID=  pd.Id
	INNER JOIN dbo.tblPcDistCode dc ON pd.DistCode = dc.DistCode
	INNER JOIN dbo.tblPcProject pr ON pd.ProjectId = pr.Id
	INNER JOIN dbo.tblSvWorkOrderDispatch wd ON wd.ID = d.DispatchID
	LEFT JOIN dbo.tblSvBillingType b ON b.BillingType = wd.BillingType
	LEFT JOIN  dbo.tblSvBillingTypeDetail bd ON bd.BillingType =b.BillingType AND bd.TransType = tr.TransType
	WHERE h.VoidYN =0


	
	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypePCBILL,h.SourceId, d.[Source],d.Destination,d.Rate
	FROM #PostTransList p
	INNER JOIN dbo.tblSvInvoiceHeader h ON p.TransId = h.TransID
	INNER JOIN tblSvWorkOrder w ON h.WorkOrderID = w.ID
	INNER JOIN tblPcProjectDetail pd ON w.ProjectDetailID =pd.Id
	INNER JOIN dbo.tblSmExchangeRateDetail d  ON d.ExchangeRateID =@ExchRateId
	WHERE w.BillVia =0


	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_CreatePCActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_CreatePCActivity_proc'
GO
