USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoReturnedItemPost_Prepare_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoReturnedItemPost_Prepare_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	--remove any invalid entries from the list to process
	DELETE #PostTransList 
	WHERE [TransId] IN (SELECT b.[TransId]
		FROM #PostTransList b INNER JOIN dbo.tblSoReturnedItem h on b.[TransId] = h.[Counter] 
		WHERE h.[Status] <> 0) --approved items only
		
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_Prepare_proc'
GO
