USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvMyZoneEquipmentList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvMyZoneEquipmentList_proc]
@LocationType int=0,
@ZoneId bigInt=0,
@OrderType int

AS
BEGIN TRY	
	if(@OrderType =0)
		BEGIN
		INSERT INTO  #MyZoneEquipmentList (EquipmentID)
		select ID from tblSvEquipment s 
		INNER JOIN
		(
			SELECT c.CustId, NULL ShiptoId FROM tblArCust c
			WHERE  (@LocationType = 0 AND c.PostalCode IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 1 AND c.City IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 2 AND c.Region IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 3 AND c.Country IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) 
			UNION
			SELECT s.CustId, s.ShiptoId FROM tblArShipTo s
			WHERE  (@LocationType = 0 AND s.PostalCode IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 1 AND s.City IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 2 AND s.Region IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
				   (@LocationType = 3 AND s.Country IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) 

		) z
		ON s.CustID =z.CustId
		where SiteYN = 1 AND ((s.SiteID = z.ShiptoId) OR (s.SiteID IS NULL AND z.ShiptoId IS NULL))
		GROUP BY ID

		END
	ELSE
		BEGIN
			INSERT INTO  #MyZoneEquipmentList (EquipmentId)
			select ID from tblSvEquipment s 
			INNER JOIN
			(
				SELECT LocId FROM tblInLoc l
				WHERE  (@LocationType = 0 AND l.PostalCode IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
					   (@LocationType = 1 AND l.City IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
					   (@LocationType = 2 AND l.Region IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) OR
					   (@LocationType = 3 AND l.Country IN (SELECT Location FROM tblSmZoneGeographicLocation WHERE ZoneID =@ZoneId)) 			
			) z
			ON s.SiteID = z.LocId
			where SiteYN = 1

		END


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvMyZoneEquipmentList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvMyZoneEquipmentList_proc'
GO
