USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TpPOApprovalVendorSearch_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TpPOApprovalVendorSearch_proc]
@SearchText nvarchar(500),
@MaxCount int
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT [VendorID], [Name], [Contact], [City], [Region], [PostalCode], [Status] FROM (
		SELECT TOP (@MaxCount) * FROM [dbo].[tblApVendor]
			WHERE [Status] = 0 AND ([VendorID] LIKE @SearchText+'%' OR [Name] LIKE '%'+@SearchText+'%' OR [Contact] LIKE '%'+@SearchText+'%'
			OR [City] LIKE @SearchText+'%' OR [Region] LIKE @SearchText+'%' OR [PostalCode] LIKE @SearchText+'%')
			) c
		ORDER BY VendorID
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpPOApprovalVendorSearch_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpPOApprovalVendorSearch_proc'
GO
