USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMMatReqTransPost_Clear_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMMatReqTransPost_Clear_proc]        
AS        
BEGIN TRY    
SET NOCOUNT ON  
--Only material requisition with completed status and its related information should be deleted.    
  
-- Remove the processed filled records    
DELETE dbo.tblWmMatReqFilled        
FROM #MatReqPostLog l    
INNER JOIN dbo.tblWmMatReq h ON h.TranKey=l.TranKey  and h.[Status]=1       
WHERE dbo.tblWmMatReqFilled.TranKey = l.TranKey             

--Remove processed Entries in tblInQty_Ext
Delete e
	From dbo.tblInQty_Ext e
	Inner Join tblWmMatReqRequest t On t.QuantityExtID = e.ID
	Inner Join dbo.tblWmMatReq h ON h.TranKey = t.TranKey And h.[Status] = 1
	Inner Join #MatReqPostLog l On l.TranKey = t.TranKey

--Remove processed Entries in tblInQty
Delete e
	From dbo.tblInQty e
	Inner Join tblWmMatReqRequest t On t.QuantityID = e.ID
	Inner Join dbo.tblWmMatReq h ON h.TranKey = t.TranKey And h.[Status] = 1  
	Inner Join #MatReqPostLog l On l.TranKey = t.TranKey
  
-- Remove the processed request records         
DELETE dbo.tblWmMatReqRequest        
FROM #MatReqPostLog l   
INNER JOIN dbo.tblWmMatReq h ON h.TranKey=l.TranKey  and h.[Status]=1         
WHERE dbo.tblWmMatReqRequest.TranKey = l.TranKey      
    
-- Remove any headers that have no remaining detail        
DELETE dbo.tblWmMatReq         
WHERE TranKey NOT IN (SELECT TranKey FROM dbo.tblWmMatReqRequest)        

--Remove all Pick Gen entries that no longer tie to a source transaction
DELETE dbo.tblWmPick_Gen
WHERE [SourceId] = 8 AND [EntryNum] NOT IN (SELECT [TranKey] FROM tblWmMatReq)
  
--Remove all Pick entries that no longer tie to a source transaction 
DELETE dbo.tblWmPick
WHERE [SourceId] = 8 AND [EntryNum] NOT IN (SELECT [TranKey] FROM tblWmMatReq)

-- Delete exchange rate, those that have been posted and removed from the material request table  
DELETE  dbo.tblSmExchangeRateTrans   
FROM tblSmExchangeRateTrans t   
LEFT OUTER JOIN dbo.tblWmMatReq r ON r.TranKey = t.TransKey   
WHERE TransType = 'WMMATREQ' AND r.Status IS NULL  
  
END TRY        
BEGIN CATCH        
 EXEC dbo.trav_RaiseError_proc        
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqTransPost_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqTransPost_Clear_proc'
GO
