USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TpOpenInvoiceView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TpOpenInvoiceView_proc]
@CustId pCustId -- =NULL
,@InvcNum pInvoiceNum 

AS
BEGIN TRY
	SET NOCOUNT ON
SELECT * FROM (SELECT p.[CustId], p.[InvcNum], p.[RecType], p.[Status], p.[TransDate], p.[NetDueDate], p.[DiscDueDate], SIGN(p.[RecType]) * p.[AmtFgn] AS [AmtFgn], SIGN(p.[RecType]) * p.[DiscAmtFgn] AS [DiscAmtFgn],
 p.[CheckNum], p.[CustPONum]	FROM dbo.trav_tblArOpenInvoice_view p WHERE p.[Status] <> 4) ds
 where CustId = ISNULL(@CustId, CustId) and InvcNum = @InvcNum
                              ORDER BY CustId Desc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpOpenInvoiceView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpOpenInvoiceView_proc'
GO
