USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_WM_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_WM_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtSeqNum int
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint
	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID [nvarchar](24) NOT NULL, LocID [nvarchar](10) NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*WM Move Quantities*/
	BEGIN
		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblWmMoveQuantity SET ExtLocAFrom = b.ExtLocA
		FROM dbo.tblWmMoveQuantity m INNER JOIN #tmpItemLocDefaultBin b ON m.MoveById = b.ItemID AND m.LocId = b.LocID 
		WHERE m.MoveBy = 0 AND ExtLocAFrom IS NULL --Move by Item, missing bin

		UPDATE dbo.tblWmMoveQuantity SET ExtLocATo = b.ExtLocA
		FROM dbo.tblWmMoveQuantity m INNER JOIN #tmpItemLocDefaultBin b ON m.MoveById = b.ItemID AND m.LocId = b.LocID 
		WHERE m.MoveBy = 0 AND ExtLocATo IS NULL --Move by Item, missing bin

		--Update tblWmMoveQuantity.ExtLocAFrom with location default bin if tblWmMoveQuantity.ExtLocAFrom is null
		UPDATE dbo.tblWmMoveQuantity SET ExtLocAFrom = b.Id
		FROM dbo.tblWmMoveQuantity m INNER JOIN (SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
				ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
			WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
				AND e.[Type] = 0 ) b ON m.LocId = b.ContextId 
		WHERE m.MoveBy = 1 AND ExtLocAFrom IS NULL --Move by Container, missing bin

		--Update tblWmMoveQuantity.ExtLocATo with location default bin if tblWmMoveQuantity.ExtLocATo is null
		UPDATE dbo.tblWmMoveQuantity SET ExtLocATo = b.Id
		FROM dbo.tblWmMoveQuantity m INNER JOIN (SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
				ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
			WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
				AND e.[Type] = 0 ) b ON m.LocId = b.ContextId 
		WHERE m.MoveBy = 1 AND ExtLocATo IS NULL --Move by Container, missing bin
	END

	/*WM Adjustment*/
	BEGIN
		CREATE TABLE #tmpWmTransQtyExt (ExtSeqNum int NOT NULL, TransId int NOT NULL, [ID] bigint NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblWmTrans SET ExtLocA = b.ExtLocA
		FROM dbo.tblWmTrans t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
		WHERE t.ExtLocA IS NULL --Missing bin

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmTransQtyExt (ExtSeqNum, TransId, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtSeqNum AS ExtSeqNum,TransId,
			ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTrans t INNER JOIN dbo.tblInQtyOnHand q ON t.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 31 AND e.ExtSeqNum IS NULL --Adjustment increase, no link to tblQtyOnHand_Ext record

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,t.LotNum,t.ExtLocA,t.ExtLocB,q.Qty,t.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTrans t INNER JOIN dbo.tblInQtyOnHand q ON t.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 31 AND e.ExtSeqNum IS NULL --Adjustment increase, no link to tblQtyOnHand_Ext record

		--Update tblWmTrans.QtySeqNumExt, tblWmTrans.QuantityExtID to link tblWmTrans records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmTrans SET QtySeqNumExt = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmTrans t INNER JOIN #tmpWmTransQtyExt q ON t.TransId = q.TransId
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 31 AND e.ExtSeqNum IS NULL --Adjustment increase, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmTransQtyExt (ExtSeqNum, TransId, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtSeqNum AS ExtSeqNum,TransId,
			ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTrans t INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON t.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 32 AND e.ExtSeqNum IS NULL --Adjustment decrease, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,t.LotNum,t.ExtLocA,t.ExtLocB,-q.Qty,t.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY t.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTrans t INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON t.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 32 AND e.ExtSeqNum IS NULL --Adjustment decrease, no link to tblQtyOnHand_Ext record

		--Update tblWmTrans.QtySeqNumExt, tblWmTrans.QuantityExtID to link tblWmTrans records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmTrans SET QtySeqNumExt = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmTrans t INNER JOIN #tmpWmTransQtyExt q ON t.TransId = q.TransId 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QtySeqNumExt = e.ExtSeqNum
		WHERE t.TransType = 32 AND e.ExtSeqNum IS NULL --Adjustment decrease, no link to tblQtyOnHand_Ext record
	END

	/*WM Transfer*/
	BEGIN
		CREATE TABLE #tmpWmTransferQtyExt (ExtSeqNum int NOT NULL, TranPickRcptKey bigint NOT NULL, [ID] bigint NOT NULL)

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create Committed Quantity
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,q.ItemId,q.LocId,q.LotNum,b.ExtLocA AS ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY t.TranKey) + @MaxExtQtyID AS [ID]
		FROM dbo.tblWmTransfer t INNER JOIN dbo.tblInQty q ON t.QtySeqNum_Cmtd = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON q.SeqNum = e.SeqNum 
			INNER JOIN #tmpItemLocDefaultBin b ON q.ItemId = b.ItemID AND q.LocId = b.LocID
		WHERE e.ExtSeqNum IS NULL --No link to tblInQty_Ext

		UPDATE dbo.tblWmTransfer SET QuantityExtID = e.ID
		FROM dbo.tblWmTransfer t INNER JOIN dbo.tblInQty q ON t.QtySeqNum_Cmtd = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON q.SeqNum = e.SeqNum 
		WHERE e.ExtSeqNum IS NULL --No link to tblInQty_Ext

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblWmTransferPick SET ExtLocA = b.ExtLocA
		FROM dbo.tblWmTransferPick t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
		WHERE t.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblWmTransferRcpt SET ExtLocA = b.ExtLocA
		FROM dbo.tblWmTransferRcpt t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
		WHERE t.ExtLocA IS NULL --Missing bin

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmTransferQtyExt (ExtSeqNum, TranPickRcptKey, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TranPickKey) + @MaxExtSeqNum AS ExtSeqNum,t.TranPickKey,
			ROW_NUMBER() OVER(ORDER BY t.TranPickKey) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTransferPick t INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON t.QOHSeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TranPickKey) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,t.LotNum,t.ExtLocA,t.ExtLocB,-q.Qty,t.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY t.TranPickKey) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTransferPick t INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON t.QOHSeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --no link to tblQtyOnHand_Ext record

		--Update tblWmTransferPick.QOHSeqNumExt to link tblWmTransferPick records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmTransferPick SET QOHSeqNumExt = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmTransferPick t INNER JOIN #tmpWmTransferQtyExt q ON t.TranPickKey = q.TranPickRcptKey
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --no link to tblQtyOnHand_Ext record

		DELETE #tmpWmTransferQtyExt

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmTransferQtyExt (ExtSeqNum, TranPickRcptKey, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TranRcptKey) + @MaxExtSeqNum AS ExtSeqNum,t.TranRcptKey,
			ROW_NUMBER() OVER(ORDER BY t.TranRcptKey) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTransferRcpt t INNER JOIN dbo.tblInQtyOnHand q ON t.QOHSeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --No link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY t.TranRcptKey) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,t.LotNum,t.ExtLocA,t.ExtLocB,q.Qty,t.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY t.TranRcptKey) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmTransferRcpt t INNER JOIN dbo.tblInQtyOnHand q ON t.QOHSeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --No link to tblQtyOnHand_Ext record

		--Update tblWmTransferRcpt.QOHSeqNumExt to link tblWmTransferRcpt records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmTransferRcpt SET QOHSeqNumExt = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmTransferRcpt t INNER JOIN #tmpWmTransferQtyExt q ON t.TranRcptKey = q.TranPickRcptKey
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON t.QOHSeqNumExt = e.ExtSeqNum
		WHERE e.ExtSeqNum IS NULL --No link to tblQtyOnHand_Ext record
	END

	/*WM Material Requisitions*/
	BEGIN
		CREATE TABLE #tmpWmMatReqQtyExt (ExtSeqNum int NOT NULL, SeqNum int NOT NULL, [ID] bigint NOT NULL)

		--Set tblWmMatReqRequest.QtySeqNum_Ext to 0 for On Order Quantity
		UPDATE dbo.tblWmMatReqRequest SET QtySeqNum_Ext = 0
		FROM dbo.tblWmMatReq m INNER JOIN dbo.tblWmMatReqRequest r ON m.TranKey = r.TranKey
		WHERE m.ReqType = -1 AND r.QtySeqNum_Ext <> 0 --Material Requisitions Return

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblWmMatReqRequest SET ExtLocA = b.ExtLocA
		FROM dbo.tblWmMatReqRequest r INNER JOIN #tmpItemLocDefaultBin b ON r.ItemId = b.ItemID AND r.LocId = b.LocID
		WHERE r.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblWmMatReqFilled SET ExtLocA = b.ExtLocA
		FROM dbo.tblWmMatReqFilled f INNER JOIN #tmpItemLocDefaultBin b ON f.ItemId = b.ItemID AND f.LocId = b.LocID
		WHERE f.ExtLocA IS NULL --Missing bin

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create Committed Quantity Extended
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,q.ItemId,q.LocId,q.LotNum,b.ExtLocA AS ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY r.LineNum) + @MaxExtQtyID AS [ID]
		FROM dbo.tblWmMatReqRequest r INNER JOIN dbo.tblWmMatReq m ON r.TranKey = m.TranKey 
			INNER JOIN dbo.tblInQty q ON r.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON r.QtySeqNum_Ext = e.ExtSeqNum 
			INNER JOIN #tmpItemLocDefaultBin b ON q.ItemId = b.ItemID AND q.LocId = b.LocID
		WHERE m.ReqType = 1 AND e.ExtSeqNum IS NULL --Material Requisitions, no link to tblInQty_Ext

		--Update tblWmMatReqRequest.QtySeqNum_Ext to link tblWmMatReqRequest records to tblInQty_Ext records generated above
		UPDATE dbo.tblWmMatReqRequest SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmMatReqRequest r INNER JOIN dbo.tblWmMatReq m ON r.TranKey = m.TranKey 
			INNER JOIN tblInQty_Ext q ON r.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON r.QtySeqNum_Ext = e.ExtSeqNum 
		WHERE m.ReqType = 1 AND e.ExtSeqNum IS NULL --Material Requisitions, no link to tblInQty_Ext

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmMatReqQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,f.SeqNum,
			ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON f.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = 1 AND e.ExtSeqNum IS NULL --Material requisition, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,f.ItemId,f.LocId,f.LotNum,f.ExtLocA,f.ExtLocB,-q.Qty,f.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON f.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = 1 AND e.ExtSeqNum IS NULL --Material requisition, no link to tblQtyOnHand_Ext record

		--Update tblWmMatReqFilled.QtySeqNum_Ext to link tblWmMatReqFilled records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmMatReqFilled SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN #tmpWmMatReqQtyExt q ON f.SeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = 1 AND e.ExtSeqNum IS NULL --Material requisition, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpWmMatReqQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,f.SeqNum,
			ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN dbo.tblInQtyOnHand q ON f.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = -1 AND e.ExtSeqNum IS NULL --Material requisition return, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,f.ItemId,f.LocId,f.LotNum,f.ExtLocA,f.ExtLocB,q.Qty,f.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY f.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN dbo.tblInQtyOnHand q ON f.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = -1 AND e.ExtSeqNum IS NULL --Material requisition return, no link to tblQtyOnHand_Ext record
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF

		--Update tblWmMatReqFilled.QtySeqNum_Ext to link tblWmMatReqFilled records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblWmMatReqFilled SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblWmMatReqFilled f INNER JOIN dbo.tblWmMatReq m ON f.TranKey = m.TranKey 
			INNER JOIN #tmpWmMatReqQtyExt q ON f.SeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON f.QtySeqNum_Ext = e.ExtSeqNum
		WHERE m.ReqType = -1 AND e.ExtSeqNum IS NULL --Material requisition return, no link to tblQtyOnHand_Ext record
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_WM_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_WM_Transactions_proc'
GO
