USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMMatReqTransPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[trav_WMMatReqTransPost_GlLog_proc]                      
AS                      
BEGIN TRY      

	SET NOCOUNT ON                     
 
	DECLARE @PrecCurr tinyint,                      
	@gWMPostDtlGlYn bit,@WrkStnDate datetime,  @PostRun [nvarchar](14),                      
	@CurrBase [nvarchar](6),@CompId nvarchar(3), @TransType nvarchar(10)                
    
	CREATE TABLE #tmpGlAcctInv 
	(  
		TranKey int,  
		LineNum int,  
		GLAcctInv [nvarchar](255) NULL  
	)  
                  
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'                      
	SELECT @gWMPostDtlGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlGlYn'                      
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'                    
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'                      
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'                      
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'                      
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'    
                  
	IF @gWMPostDtlGlYn IS NULL OR @PrecCurr IS NULL                       
		OR @WrkStnDate IS NULL OR @PostRun IS NULL OR @CurrBase IS NULL OR @CompId IS NULL OR @TransType IS NULL                    
	BEGIN                      
		THROW 90025, N'Missing global value.', 1                      
	END                    
   
   
	INSERT INTO #tmpGLAcctInv (TranKey, LineNum, GlAcctInv)  
	SELECT h.TranKey, d.LineNum, g.GLAcctInv  
	FROM  tblWmMatReq h         
	INNER JOIN #PostTransList t  ON h.TranKey  = t.TransId     
	INNER JOIN tblWmMatReqRequest d  ON h.TranKey = d.TranKey  
	INNER JOIN tblWmMatReqFilled f  ON d.TranKey = f.TranKey and d.LineNum = f.LineNum AND f.[Status]=0 --limit to trans with filled quantities  
	INNER JOIN tblInItemLoc l   ON d.ItemId = l.ItemId AND d.LocId = l.LocId   
	LEFT JOIN  tblInGLAcct g   ON l.GLAcctCode = g.GLAcctCode 
	--GL log entries for filled quantity should be generated only if its status is un-posted.        
	GROUP BY h.TranKey, d.LineNum, g.GlAcctInv  
   
  
	INSERT INTO  #MatReqPostLog (ReqType, TranKey, LineNum, GlPeriod, GLYear, GlAcct, ReqNum  
		  , Descr, SumDescr, DRAmt, CRAmt, TransDate, PostDate, SourceCode, GroupRef)  
	SELECT h.ReqType, h.TranKey, r.LineNum  
		  , f.GLPeriod, f.GlYear, r.GLAcctNum, h.ReqNum  
		  , SUBSTRING(CASE WHEN GLDescr IS NULL THEN  (r.ItemId + ' ' + isnull(i.Descr, '')) ELSE GLDescr END, 1,30)  
		  , GLDescr  
		  , CASE WHEN ReqType > 0 THEN ROUND(f.Qty * f.UnitCost, @PrecCurr) ELSE 0 END  
		  , CASE WHEN ReqType < 0 THEN ROUND(f.Qty * f.UnitCost, @PrecCurr) ELSE 0 END  
		  , f.TransDate, @WrkStnDate, 'WM', 100  
	FROM  tblWmMatReq h   
	INNER JOIN  tblWmMatReqRequest r ON h.TranKey = r.TranKey  
	INNER JOIN  tblWmMatReqFilled f ON r.TranKey = f.TranKey and r.LineNum = f.LineNum AND f.[Status]=0  
	INNER JOIN #tmpGLAcctInv l  ON r.TranKey = l.TranKey and r.LineNum = l.LineNum --limit to selected records   
	LEFT JOIN  tblInItem i  ON r.ItemId = i.ItemId               
  
	INSERT INTO  #MatReqPostLog (ReqType, TranKey, LineNum, GlPeriod, GLYear, GlAcct, ReqNum  
		  , Descr, SumDescr, DRAmt, CRAmt, TransDate, PostDate, SourceCode, GroupRef)  
	SELECT  a.ReqType, a.TranKey, a.LineNum, a.GLPeriod, a.GlYear, b.GLAcctInv, 'Mtrl Inv'  
		, CASE WHEN a.ReqType > 0 THEN 'Amount from Material Inventory' ELSE 'Amount to Material Inventory' END  
		, CASE WHEN a.ReqType > 0 THEN 'Amount from Material Inventory' ELSE 'Amount to Material Inventory' END  
		, CASE WHEN CRAmt - DRAmt > 0 THEN CRAmt - DRAmt ELSE 0 END  
		, CASE WHEN DRAmt - CRAmt > 0 THEN DRAmt - CRAmt ELSE 0 END  
		, TransDate, PostDate, SourceCode, 200  
	FROM  #MatReqPostLog a   
	INNER JOIN #tmpGLAcctInv b ON a.TranKey = b.TranKey AND a.LineNum = b.LineNum    
			   
	--Generate the GL log entries            
	INSERT #DetailPostLog(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, [Description]
		, Reference
		, SourceCode, CreditAmount, DebitAmount, CreditAmountBase, DebitAmountBase, CurrencyId
		, TransDate
		, PostDate, [Grouping])
	SELECT @PostRun, @TransType, TranKey, ReqType, @CompId, GlAcct, GlYear, GlPeriod 
		, CASE WHEN @gWMPostDtlGlYn = 1  THEN Descr ELSE 'Summary Post' END				
		, CASE WHEN @gWMPostDtlGlYn = 1 THEN ReqNum ELSE 'Mat Req' END
		, SourceCode, CRAmt, DRAmt, CRAmt, DRAmt, @CurrBase
		, CASE WHEN @gWMPostDtlGlYn = 1 THEN TransDate ELSE @WrkStnDate END
		, PostDate
		, GroupRef
	FROM #MatReqPostLog  
	                   
END TRY                      
BEGIN CATCH                      
 EXEC  trav_RaiseError_proc                      
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqTransPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqTransPost_GlLog_proc'
GO
