USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_PC_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_PC_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint
	--Get quantity precision
	DECLARE @QtyPrec tinyint, @MaxExtSeqNum int
	SELECT @QtyPrec = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'QtyPrec'  

	IF @QtyPrec IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END 

	--SELECT @QtyPrec = ConfigValue FROM tblSmConfigValue WHERE ConfigRef = 267

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*PC Transactions*/
	BEGIN
		CREATE TABLE #tmpPcTransQtyExt (ExtSeqNum int NOT NULL, ID int NOT NULL, [QuantityID] bigint NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblPcTransExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt e ON t.Id = e.TransId 
			INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
		WHERE t.TransType IN (0,1) AND e.ExtLocA IS NULL --Material Req/Return, missing bin

		UPDATE dbo.tblPcTransSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransSer s ON t.Id = s.TransId 
			INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
		WHERE t.TransType IN (0,1) AND s.ExtLocA IS NULL --Material Req/Return, missing bin

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create missing Committed Quantity Extended
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,t.ItemId,t.LocId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY t.ID) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblPcTrans t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID
			INNER JOIN dbo.tblInQty q ON t.QtySeqNum_Cmtd = q.SeqNum
			LEFT JOIN dbo.tblPcTransExt e ON t.Id = e.TransId 
		WHERE t.TransType = 0 AND e.Id IS NULL  --Material req, , no extended detail

		--Create missing tblPcTransExt record
		INSERT INTO dbo.tblPcTransExt (TransId, LotNum, ExtLocA, ExtLocB, QtyNeed, QtyFilled, UnitCost, HistSeqNum, QtySeqNum, QtySeqNum_Cmtd, QtySeqNum_Ext, Cmnt, CF, QtyStatus,QuantityCmtdID)
		SELECT t.Id AS TransId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,t.QtyNeed,CASE i.ItemType WHEN 2 THEN 0 ELSE t.QtyFilled END AS QtyFilled, --0 if serialized item
			t.UnitCost,NULL AS HistSeqNum,NULL AS QtySeqNum,x.ExtSeqNum AS QtySeqNum_Cmtd,NULL AS QtySeqNum_Ext,NULL AS CF,NULL AS Cmnt,NULL AS QtyStatus, x.ID
		FROM dbo.tblPcTrans t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId	
			INNER JOIN dbo.tblInQty q ON t.QtySeqNum_Cmtd = q.SeqNum
			INNER JOIN dbo.tblInQty_Ext x ON q.SeqNum = x.SeqNum
			LEFT JOIN dbo.tblPcTransExt e ON t.Id = e.TransId 
		WHERE t.TransType = 0 AND e.Id IS NULL  --Material req, no extended detail

		INSERT INTO dbo.tblPcTransExt (TransId, LotNum, ExtLocA, ExtLocB, QtyNeed, QtyFilled, UnitCost, HistSeqNum, QtySeqNum, QtySeqNum_Cmtd, QtySeqNum_Ext, Cmnt, CF, QtyStatus, QuantityCmtdID)
		SELECT t.Id AS TransId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,t.QtyNeed,CASE i.ItemType WHEN 2 THEN 0 ELSE t.QtyFilled END AS QtyFilled, --0 if serialized item
			t.UnitCost,NULL AS HistSeqNum,NULL AS QtySeqNum,NULL AS QtySeqNum_Cmtd,NULL AS QtySeqNum_Ext,NULL AS CF,NULL AS Cmnt,NULL AS QtyStatus, NULL AS QuantityCmtdID
		FROM dbo.tblPcTrans t INNER JOIN #tmpItemLocDefaultBin b ON t.ItemId = b.ItemID AND t.LocId = b.LocID 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId	
			LEFT JOIN dbo.tblPcTransExt e ON t.Id = e.TransId 
		WHERE t.TransType = 1 AND e.Id IS NULL  --Material req return, no extended detail

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpPcTransQtyExt (ExtSeqNum, ID, QuantityID)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id,
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS QuantityID
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON t.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Material req, regular non-lotted, no link to tblQtyOnHand_Ext record

		--Create new records in tblQtyOnHand_Ext for regular, non-lotted item
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,-ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec) AS Qty,x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON t.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Material req, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpPcTransQtyExt (ExtSeqNum, ID, QuantityID)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id,
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS QuantityID
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON t.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 1 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Material req return, regular non-lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec) AS Qty,x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON t.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 1 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Material req return, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpPcTransQtyExt (ExtSeqNum, ID, QuantityID)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id,
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS QuantityID
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Material req, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,-ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			 ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Material req, regular lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpPcTransQtyExt (ExtSeqNum, ID, QuantityID)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id,
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS QuantityID
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 1 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Material req return, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,t.ItemId,t.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblPcTrans t INNER JOIN dbo.tblPcTransExt x ON t.Id = x.TransId 
			INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE t.TransType = 1 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Material req return, regular lotted, no link to tblQtyOnHand_Ext record
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF

		--Update tblPcTransExt.QtySeqNum_Ext to link tblSvWorkOrderTransExt records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblPcTransExt SET QtySeqNum_Ext = t.ExtSeqNum, QuantityExtID = t.QuantityID
		FROM dbo.tblPcTransExt x INNER JOIN #tmpPcTransQtyExt t ON x.ID = t.ID

		DECLARE @NewID bigint
		SET @NewID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		SET @NewID = @NewID + 200000000 --To make sure that no duplicate ID values between migration of different application

		UPDATE dbo.tblPcTransExt SET QuantityID = QtyIDNew
		FROM dbo.tblPcTransExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY [Id]) AS QtyIDNew, [Id]
			FROM dbo.tblPcTransExt 
			WHERE QuantityID IS NULL) n ON e.[Id] = n.[Id]
		WHERE QuantityID IS NULL

		UPDATE dbo.tblPcTransExt SET HistoryID  = QtyIDNew
		FROM dbo.tblPcTransExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY [Id]) AS QtyIDNew, [Id]
			FROM dbo.tblPcTransExt 
			WHERE HistoryID  IS NULL) n ON e.[Id] = n.[Id]
		WHERE HistoryID  IS NULL

		UPDATE dbo.tblPcTransExt SET QuantityExtID  = QtyIDNew
		FROM dbo.tblPcTransExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY [Id]) AS QtyIDNew, [Id]
			FROM dbo.tblPcTransExt 
			WHERE QuantityExtID  IS NULL) n ON e.[Id] = n.[Id]
		WHERE QuantityExtID IS NULL

END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_PC_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_PC_Transactions_proc'
GO
