USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkToDoDescriptionsList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkToDoDescriptionsList_proc]

AS
BEGIN TRY
	SET NOCOUNT ON

-- creating temp table for testing (will remove once testing is completed)
--DROP TABLE #tmpWorkToDoList
--CREATE TABLE #tmpWorkToDoList(WorkToDoID nvarchar(11) NOT NULL PRIMARY KEY CLUSTERED (WorkToDoID))
--INSERT INTO #tmpWorkToDoList (WorkToDoID) SELECT WorkToDoID FROM dbo.tblSvWorkToDo --{0}

	-- Work To Do resultset
	SELECT w.WorkToDoID, [Description], LaborCode, EstimatedTime / 3600.00 AS EstimatedTime, RequiredSkillLevel 
	FROM #tmpWorkToDoList tmp 
		INNER JOIN dbo.tblSvWorkToDo w ON w.WorkToDoID = tmp.WorkToDoID

	-- Members resultset
	SELECT r.WorkToDoID, r.RelationID AS MemberID, wr.[Description] AS MemberName
		, wr.LaborCode AS LaborCodeMember, wr.EstimatedTime / 3600.00 AS EstimatedTimeMember
		, wr.RequiredSkillLevel AS RequiredSkillLevelMember 
	FROM #tmpWorkToDoList tmp 
		INNER JOIN dbo.tblSvWorkToDo w ON w.WorkToDoID = tmp.WorkToDoID 
		INNER JOIN dbo.tblSvWorkToDoRelation r ON w.WorkToDoID = r.WorkToDoID 
		LEFT JOIN dbo.tblSvWorkToDo wr ON wr.WorkToDoID = r.RelationID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkToDoDescriptionsList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkToDoDescriptionsList_proc'
GO
