USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoReturnedItemPost_Update_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoReturnedItemPost_Update_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE	@WrkStnDate datetime

	--Retrieve global values
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

	IF @WrkStnDate IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	DECLARE @RMAPrefix nvarchar(4)
	SELECT @RMAPrefix = Right(Convert(nvarchar, @WrkStnDate, 12), 4)

	--reset/update values for posted records
	Update dbo.tblSoReturnedItem 
		Set dbo.tblSoReturnedItem.[Status] = 9
			, dbo.tblSoReturnedItem.RMANumber = ISNULL(dbo.tblSoReturnedItem.RMANumber, @RMAPrefix + dbo.tblSoReturnedItem.TransID)
			, dbo.tblSoReturnedItem.QuantityID = 0
			, dbo.tblSoReturnedItem.QuantityExtID = 0
		From #PostTransList l
		Where dbo.tblSoReturnedItem.[Counter] = l.TransId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_Update_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoReturnedItemPost_Update_proc'
GO
