USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsTransPost_RemoveCount_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsTransPost_RemoveCount_proc]
AS
BEGIN TRY
	DELETE dbo.tblPsCountDetail
	FROM dbo.tblPsCountDetail INNER JOIN dbo.tblPsCountHeader h ON dbo.tblPsCountDetail.CountID = h.ID 
		INNER JOIN #PsHostList t ON h.HostID = t.HostID
	WHERE h.ClosingDate IS NOT NULL AND h.Synched = 1

	DELETE dbo.tblPsCountExchangeRate
	FROM dbo.tblPsCountExchangeRate INNER JOIN dbo.tblPsCountHeader h ON dbo.tblPsCountExchangeRate.CountID = h.ID 
		INNER JOIN #PsHostList t ON h.HostID = t.HostID
	WHERE h.ClosingDate IS NOT NULL AND h.Synched = 1

	DELETE dbo.tblPsCountHeader
	FROM dbo.tblPsCountHeader INNER JOIN #PsHostList t ON tblPsCountHeader.HostID = t.HostID
	WHERE dbo.tblPsCountHeader.ClosingDate IS NOT NULL AND dbo.tblPsCountHeader.Synched = 1

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_RemoveCount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_RemoveCount_proc'
GO
