USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmItemRcptList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmItemRcptList_proc] 
@ItemID pItemid = NULL ,
@DocNo pInvoiceNum = NULL,
@PrecQty Tinyint = NULL,
@WmPoYn Bit = NULL,
@WmSoYn Bit = NULL,
@WmJcYn Bit = NULL,
@WmMpYn Bit = NULL,
@WmXfer Bit = NULL,  
@WmMatReq Bit = NULL,
@WmSdYn Bit = NULL, 
@ShipmentID bigint = NULL

AS
BEGIN TRY
SET NOCOUNT ON

DECLARE @DocNumber int

Select @DocNumber = Case When isNumeric(@DocNo) = 1 Then Cast(@DocNo as int) Else 0 End

/* PO */
-- By IN item id
SELECT d.ItemID,d.LocID,h.TransId AS DocNo,h.TransID,cast(null AS nvarchar(24)) AS AltItemId,d.Units,d.QtyOrd AS QtyOrdered,
ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDate,d.EntryNum AS EntryNum,u.Upccode,0 AS Source,ISNULL(r.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
, NULL as LotNumber,ISNULL( d.ExpReceiptDate,h.ExpReceiptDate) as RequiredDate,d.VendorPartNumber, 	
CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SeqNum ELSE NULL END as LinkSeqNum, 
CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SourceId ELSE NULL END as LinkTransId
, r.BOLNum, r.Notes, d.ExtLocA AS ReqExtLocA
FROM dbo.tblPoTransHeader h (NOLOCK) 
INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
	AND (d.EntryNum NOT IN (SELECT EntryNum FROM dbo.tblPoShipmentDetail WHERE TransId = @DocNo)) 
LEFT JOIN 
	(
		 SELECT t.TransID,r.EntryNum, SUM(r.QtyFilled) QtyRcptTot, MIN(BOLNum) as BOLNum, MIN(Notes) as Notes
		 FROM dbo.tblPoTransLotRcpt r (NOLOCK) 
		  INNER JOIN dbo.tblPoTransReceipt t (NOLOCK) ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
			GROUP BY t.TransID,r.EntryNum 
	) r 
ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
LEFT JOIN dbo.tblInItem i (NOLOCK) ON d.ItemId = i.ItemId 
LEFT JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Units = u.Uom 
LEFT JOIN dbo.tblSmTransLink l (NOLOCK) ON d.LinkSeqNum = l.SeqNum  --link for query filtering purpuses
WHERE @WmPoYn = 1 AND (d.ItemID = @ItemID OR @ItemID IS NULL) AND (h.TransID = @DocNo OR @DocNo IS NULL) 
AND h.TransType > 0 AND d.LineStatus = 0 AND d.ItemType IN (0,1,2) 
AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR (l.TransLinkType = 0 AND l.DropShipYn=0)) --Regular/Serialized,(link is broken or (transaction linked and not DropShipped))
AND @ShipmentID IS NULL

UNION
-- By vendor item id
SELECT d.ItemID,d.LocID,h.TransId AS DocNo,h.TransID,a.AliasID AS AltItemId,d.Units,d.QtyOrd AS QtyOrdered,
ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDate,d.EntryNum AS EntryNum,u.Upccode,0 AS Source,ISNULL(r.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber ,ISNULL( d.ExpReceiptDate,h.ExpReceiptDate) as RequiredDate,d.VendorPartNumber, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SeqNum ELSE NULL END as LinkSeqNum, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SourceId ELSE NULL END as LinkTransId
, r.BOLNum, r.Notes, d.ExtLocA AS ReqExtLocA
FROM dbo.tblPoTransHeader h (NOLOCK) 
	INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
	LEFT JOIN (
		SELECT t.TransID,r.EntryNum, SUM(r.QtyFilled) QtyRcptTot, MIN(t.BOLNum) as BOLNum, MIN(t.Notes) as Notes
		FROM dbo.tblPoTransLotRcpt r (NOLOCK) 
		INNER JOIN dbo.tblPoTransReceipt t (NOLOCK) ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
		GROUP BY t.TransID,r.EntryNum 
			) r 
ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
INNER JOIN dbo.tblInItem i (NOLOCK) ON d.ItemId = i.ItemId
 INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Units = u.Uom
 LEFT JOIN (SELECT itemid, aliasid, refid FROM dbo.tblInItemAlias WHERE aliastype=2) a 
ON d.ItemId = a.ItemId AND h.VendorId = a.RefID 
LEFT JOIN dbo.tblSmTransLink l (NOLOCK) ON d.LinkSeqNum = l.SeqNum  --link for query filtering purpuses
WHERE @WmPoYn = 1 AND (a.AliasId = @ItemID) AND (@DocNo IS NULL)
AND h.TransType > 0 AND d.LineStatus = 0 
AND d.ItemType IN (1,2) AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR (l.TransLinkType = 0 AND l.DropShipYn=0)) --Regular/Serialized,(link is broken or (transaction linked and not DropShipped))
AND @ShipmentID IS NULL

UNION
-- By UPC code
SELECT d.ItemID,d.LocID,h.TransId AS DocNo,h.TransID,null AS AltItemId,d.Units,d.QtyOrd AS QtyOrdered,
ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDate,d.EntryNum AS EntryNum,u.Upccode,0 AS Source,ISNULL(r.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber ,ISNULL( d.ExpReceiptDate,h.ExpReceiptDate) as RequiredDate,d.VendorPartNumber, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SeqNum ELSE NULL END as LinkSeqNum, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SourceId ELSE NULL END as LinkTransId
, r.BOLNum, r.Notes, d.ExtLocA AS ReqExtLocA
FROM dbo.tblPoTransHeader h (NOLOCK) 
INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
LEFT JOIN (
	SELECT t.TransID,r.EntryNum, SUM(r.QtyFilled) QtyRcptTot, MIN(t.BOLNum) as BOLNum, MIN(t.Notes) as Notes
	FROM dbo.tblPoTransLotRcpt r (NOLOCK) 
	INNER JOIN dbo.tblPoTransReceipt t (NOLOCK) ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
   GROUP BY t.TransID,r.EntryNum
         ) r 
ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum
INNER JOIN dbo.tblInItem i (NOLOCK) ON d.ItemId = i.ItemId
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Units = u.Uom 
LEFT JOIN dbo.tblSmTransLink l (NOLOCK) ON d.LinkSeqNum = l.SeqNum  --link for query filtering purpuses
WHERE @WmPoYn = 1 AND  (u.Upccode = @ItemID) AND (@DocNo IS NULL) AND h.TransType > 0 AND d.LineStatus = 0  
AND d.ItemType IN (1,2) AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR (l.TransLinkType = 0 AND l.DropShipYn=0)) --Regular/Serialized,(link is broken or (transaction linked and not DropShipped))
AND @ShipmentID IS NULL

UNION
/* PO */
-- by Shipment No
SELECT sd.ItemID, sd.LocID, sd.TransID AS DocNo, sd.TransID, CAST(NULL AS nvarchar(24)) AS AltItemId, sd.Unit AS Units, sd.ShipmentQty AS QtyOrdered
	, ISNULL(sh.ActShipDate, sh.EstShipDate) AS ReqShipDate, sd.EntryNum, u.UPCcode, 0 AS Source, sd.RcvdQty AS QtyReceived, NULL AS MPTransID
	, NULL AS LotNumber, ISNULL(sh.ActRcptDate, sh.EstRcptDate) AS RequiredDate, d.VendorPartNumber
	, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SeqNum ELSE NULL END AS LinkSeqNum
	, CASE WHEN l.TransLinkType = 0 AND l.DestStatus < 2 THEN l.SourceId ELSE NULL END AS LinkTransId
	, sh.ShipNum AS BOLNum, sh.Notes, d.ExtLocA AS ReqExtLocA 
FROM dbo.tblPoTransHeader h (NOLOCK) 
	INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
	INNER JOIN dbo.tblPoShipmentDetail sd (NOLOCK) ON sd.TransID = d.TransID AND sd.EntryNum = d.EntryNum 
	INNER JOIN dbo.tblPoShipmentHeader sh (NOLOCK) ON sd.HeaderID = sh.ID 
	LEFT JOIN dbo.tblInItem i (NOLOCK) ON d.ItemId = i.ItemId 
	LEFT JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Units = u.Uom 
	LEFT JOIN dbo.tblSmTransLink l (NOLOCK) ON d.LinkSeqNum = l.SeqNum --link for query filtering purposes
WHERE @WmPoYn = 1 AND (d.ItemID = @ItemID OR @ItemID IS NULL) AND (h.TransID = @DocNo OR @DocNo IS NULL) 
	AND h.TransType > 0 AND d.LineStatus = 0 AND d.ItemType IN (0, 1, 2) 
	AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR (l.TransLinkType = 0 AND l.DropShipYn = 0)) --Regular/Serialized,(link is broken or (transaction linked and not DropShipped))
	AND sh.ID = @ShipmentID AND (sd.ShipmentQty - sd.RcvdQty > 0)

UNION
/* Transfer */
-- By IN item id
SELECT d.ItemID,h.LocIDto LocID,ISNULL(h.PackNum, h.BatchId) AS DocNo,Cast(h.Trankey as nvarchar),NULL AS AltItemId,d.Uom AS Units,d.Qty AS QtyOrdered,
h.TransDate AS ReqShipDate,d.TranPickKey AS EntryNum,u.Upccode,1 AS Source,ISNULL(pr.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
 , d.LotNum  as LotNumber ,d.TransDate as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
 , NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblWmTransfer h (NOLOCK) 
INNER JOIN dbo.tblWmTransferPick d (NOLOCK) ON h.TranKey = d.Trankey 
LEFT JOIN (
		SELECT p.TranPickKey, SUM(ROUND(cast((CAST(r.Qty AS decimal(23,10)) * CAST(ru.Convfactor AS decimal(23,10))) AS decimal(23,10)) / pu.Convfactor,@PrecQty))  QtyRcptTot,p.LotNum FROM dbo.tblWmTransferPick p (NOLOCK)
		INNER JOIN dbo.tblWmTransferRcpt r (NOLOCK) ON p.TranPickKey = r.TranPickKey INNER JOIN dbo.tblInItemUom pu (NOLOCK)
		 ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom 
	     INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom  
		GROUP BY p.TranPickKey,p.LotNum
		) pr ON d.TranPickKey = pr.TranPickKey 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Uom = u.Uom
WHERE @WmXfer=1 AND (d.ItemID = @ItemID OR @ItemID IS NULL) AND (ISNULL(h.PackNum, h.BatchId) = @DocNo OR @DocNo IS NULL) AND h.[Status] IN (0, 1)
UNION
-- By UPC code
SELECT d.ItemID,h.LocIDTo LocID,ISNULL(h.PackNum, h.BatchId) AS DocNo,Cast(h.Trankey as nvarchar),NULL AS AltItemId,d.Uom AS Units,d.Qty AS QtyOrdered,
h.TransDate AS ReqShipDate,d.TranPickKey AS EntryNum,u.Upccode,1 AS Source,ISNULL(pr.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID 
 , d.LotNum  as LotNumber ,d.TransDate as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
 , NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblWmTransfer h (NOLOCK) 
INNER JOIN dbo.tblWmTransferPick d (NOLOCK) ON h.TranKey = d.Trankey 
LEFT JOIN (
		SELECT p.TranPickKey, SUM(ROUND(cast((CAST(r.Qty AS decimal(23,10)) * CAST(ru.Convfactor AS decimal(23,10))) AS decimal(23,10)) / pu.Convfactor,@PrecQty))  QtyRcptTot,p.LotNum FROM dbo.tblWmTransferPick p (NOLOCK)
		INNER JOIN dbo.tblWmTransferRcpt r (NOLOCK) ON p.TranPickKey = r.TranPickKey 
		INNER JOIN dbo.tblInItemUom pu (NOLOCK) ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom 
		INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom  
		GROUP BY p.TranPickKey,p.LotNum
		) pr ON d.TranPickKey = pr.TranPickKey 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.Uom = u.Uom
WHERE @WmXfer=1 AND (u.Upccode = @ItemID) AND (@DocNo IS NULL) AND h.[Status] = 1  
UNION
/* Material Req */
-- By IN item id
SELECT d.ItemId,d.LocId,h.ReqNum AS DocNo, Cast(h.TranKey as nvarchar), NULL AS AltItemId,d.Uom AS Units,d.Qty AS QtyOrdered,
h.DatePlaced AS ReqShipDate,d.LineNum AS EntryNum,u.UpcCode,8 AS Source,ISNULL(pr.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber  ,h.DateNeeded as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblWmMatReq h (NOLOCK)
 INNER JOIN dbo.tblWmMatReqRequest d (NOLOCK) ON h.TranKey = d.TranKey
LEFT JOIN (
		SELECT p.TranKey,p.LineNum, SUM(ROUND(cast((CAST(r.Qty AS decimal(23,10)) * CAST(ru.Convfactor AS decimal(23,10))) AS decimal(23,10)) / pu.Convfactor,@PrecQty))  QtyRcptTot 
		FROM dbo.tblWmMatReqRequest p (NOLOCK) 
		INNER JOIN dbo.tblWmMatReqFilled r (NOLOCK) ON p.TranKey = r.TranKey AND p.LineNum = r.LineNum
		INNER JOIN dbo.tblInItemUom pu (NOLOCK) ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom
		INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom
		GROUP BY p.TranKey,p.LineNum
		) pr ON d.TranKey = pr.TranKey and pr.LineNum = d.LineNum 
INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Uom = u.Uom
WHERE @WmMatReq=1 AND (d.ItemId = @ItemID OR @ItemId is NULL) AND (h.ReqNum = @DocNo OR @DocNo is NULL)AND h.ReqType = -1
UNION
-- By UPC code
SELECT d.ItemId,d.LocId,h.ReqNum AS DocNo, Cast(h.TranKey as nvarchar), NULL AS AltItemId,d.Uom AS Units,d.Qty AS QtyOrdered,
h.DatePlaced AS ReqShipDate,d.LineNum AS EntryNum,u.UpcCode,8 AS Source,ISNULL(pr.QtyRcptTot,0) AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber  ,h.DateNeeded as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblWmMatReq h (NOLOCK) 
INNER JOIN dbo.tblWmMatReqRequest d (NOLOCK) ON h.TranKey = d.TranKey
LEFT JOIN (
		SELECT p.TranKey,p.LineNum, SUM(ROUND(cast((CAST(r.Qty AS decimal(23,10)) * CAST(ru.Convfactor AS decimal(23,10))) AS decimal(23,10)) / pu.Convfactor,@PrecQty))  QtyRcptTot 
		FROM dbo.tblWmMatReqRequest p (NOLOCK) 
		INNER JOIN dbo.tblWmMatReqFilled r (NOLOCK) ON p.TranKey = r.TranKey AND p.LineNum = r.LineNum
		INNER JOIN dbo.tblInItemUom pu (NOLOCK) ON p.ItemId = pu.ItemId AND p.Uom = pu.Uom
		INNER JOIN dbo.tblInItemUom ru (NOLOCK) ON r.ItemId = ru.ItemId AND r.Uom = ru.Uom
		GROUP BY p.TranKey,p.LineNum
		) pr ON d.TranKey = pr.TranKey and pr.LineNum = d.LineNum  
INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Uom = u.Uom
WHERE @WmMatReq=1 AND (u.UPCCode = @ItemID) AND (@DocNo is NULL) AND h.ReqType = -1  
UNION 
/* SO RMA */
-- By IN item id
SELECT d.ItemID,d.LocID,ISNULL(h.InvcNum, h.TransId) AS DocNo,h.TransId,NULL AS AltItemId,d.UnitsSell AS Units,d.QtyOrdSell AS QtyOrdered,
ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate,d.EntryNum AS EntryNum,u.Upccode,16 AS Source,d.QtyShipSell AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber, ISNULL(d.ReqShipDate, h.ReqShipDate) as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblSoTransHeader h (NOLOCK) 
INNER JOIN dbo.tblSoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
LEFT JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
WHERE @WmSoYn = 1 AND (d.ItemID = @ItemID OR @ItemID IS NULL) AND (ISNULL(h.InvcNum, h.TransId) = @DocNo OR @DocNo IS NULL)
	AND h.TransType = -2 AND d.[Status] = 0
UNION
-- By customer item id
SELECT d.ItemID,d.LocID,ISNULL(h.InvcNum, h.TransId) AS DocNo,h.TransId,a.AliasID AS AltItemId,d.UnitsSell AS Units,d.QtyOrdSell AS QtyOrdered,
ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate, d.EntryNum AS EntryNum,u.Upccode,16 AS Source,d.QtyShipSell AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber , ISNULL(d.ReqShipDate, h.ReqShipDate) as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblSoTransHeader h (NOLOCK) 
INNER JOIN dbo.tblSoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
 LEFT JOIN (
		SELECT itemid, aliasid, refid FROM dbo.tblInItemAlias WHERE aliastype=1
		) a
ON d.ItemId = a.ItemId AND h.SoldToId = a.RefID 
WHERE @WmSoYn = 1 AND (a.AliasId = @ItemID) AND (@DocNo IS NULL)  
 And h.TransType = -2 AND d.[Status] = 0
UNION
-- By UPC code
SELECT d.ItemID,d.LocID,h.InvcNum AS DocNo,h.TransId,NULL AS AltItemId,d.UnitsSell AS Units,d.QtyOrdSell AS QtyOrdered,
ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate,d.EntryNum AS EntryNum,u.Upccode,16 AS Source,d.QtyShipSell AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber , ISNULL(d.ReqShipDate, h.ReqShipDate) as RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblSoTransHeader h (NOLOCK) 
INNER JOIN dbo.tblSoTransDetail d (NOLOCK) ON h.TransID = d.TransID 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
WHERE @WmSoYn = 1 AND  (u.Upccode = @ItemID) AND (@DocNo IS NULL)  
 And h.TransType = -2 AND d.[Status] = 0
/* PC Material Req Return */
-- By IN item id
UNION
SELECT t.ItemID,t.LocID,h.ProjectName AS DocNo,Cast(t.Id AS NVARCHAR),NULL AS AltItemId,t.Uom AS Units,t.QtyNeed AS QtyOrdered,
t.TransDate AS ReqShipDate,t.Id AS EntryNum,u.Upccode,32 AS Source,t.QtyFilled AS QtyReceived,NULL AS MPTransID
, NULL AS LotNumber, t.TransDate AS RequiredDate,NULL AS VendorPartNumber, NULL AS LinkSeqNum, NULL AS LinkTransId
, NULL AS BOLNum, NULL AS Notes, NULL AS ReqExtLocA
FROM dbo.tblPcProject h (NOLOCK)
INNER JOIN dbo.tblPcProjectDetail d (NOLOCK) ON h.Id = d.ProjectId 
INNER JOIN dbo.tblPcTrans t (NOLOCK) ON t.ProjectDetailId = d.Id 
LEFT JOIN dbo.tblInItemUom u (NOLOCK) ON u.ItemId= t.ItemId AND t.Uom=u.Uom
WHERE @WmJcYn = 1 AND (t.ItemID = @ItemID OR @ItemId is NULL ) AND (h.ProjectName = @DocNo OR @DocNo IS NULL)
	AND t.TransType = 1
UNION
-- By customer item id
SELECT t.ItemID,t.LocID,h.ProjectName AS DocNo,Cast(t.Id as nvarchar),a.AliasID AS AltItemId,t.Uom AS Units,t.QtyNeed AS QtyOrdered,
t.TransDate AS ReqShipDate,t.Id AS EntryNum,u.Upccode,32 AS Source,t.QtyFilled AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber ,  t.TransDate AS  RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblPcProject h (NOLOCK) 
INNER JOIN dbo.tblPcProjectDetail d (NOLOCK) ON h.Id = d.ProjectId 
INNER JOIN dbo.tblPcTrans t (NOLOCK) ON t.ProjectDetailId = d.Id 
INNER JOIN dbo.tblInItemUom u ON u.ItemId= t.ItemId and t.Uom=u.Uom
LEFT JOIN (
		SELECT itemid, aliasid, refid FROM dbo.tblInItemAlias WHERE aliastype=1
		) a
ON t.ItemId = a.ItemId AND h.CustId = a.RefID 
WHERE @WmJcYn = 1 AND (a.AliasId = @ItemID ) AND (@DocNo IS NULL)
	AND t.TransType = 1
UNION
-- By UPC code
SELECT t.ItemID,t.LocID,h.ProjectName AS DocNo,Cast(t.Id as nvarchar),NULL AS AltItemId,t.Uom AS Units,t.QtyNeed AS QtyOrdered,
t.TransDate AS ReqShipDate,t.Id AS EntryNum,u.Upccode,32 AS Source,t.QtyFilled AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber , t.TransDate AS  RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblPcProject h (NOLOCK) 
INNER JOIN dbo.tblPcProjectDetail d (NOLOCK) ON h.Id = d.ProjectId 
INNER JOIN dbo.tblPcTrans t (NOLOCK) ON t.ProjectDetailId = d.Id 
INNER JOIN dbo.tblInItemUom u ON u.ItemId= t.ItemId and t.Uom=u.Uom
WHERE @WmJcYn = 1 AND  (u.Upccode = @ItemID ) AND (@DocNo IS NULL)
	AND t.TransType = 1

UNION
/* MP Manufacturing Production */   
-- By IN item id  
SELECT d.ComponentID,d.LocID,h.OrderNo AS DocNo,cast(h.ReleaseNo as nvarchar),NULL AS AltItemId,d.Uom AS Units ,d.EstQtyRequired  AS QtyOrdered,
req.EstStartDate AS ReqShipDate ,req.ReqId AS EntryNum,u.Upccode,2 AS Source,ISNULL(r.QtyRcptTot,0) AS QtyReceived ,d.TransId as  MPTransID
, NULL  as LotNumber, req.EstStartDate AS RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblMpOrderReleases h (NOLOCK) 
INNER JOIN dbo.tblMpRequirements req (NOLOCK) on  h.Id=req.ReleaseId  
INNER JOIN dbo.tblMpMatlSum d (NOLOCK)  ON req.TransId =d.TransId 
LEFT JOIN 
(
SELECT s.TransId, SUM(ROUND(cast((CAST(d.Qty AS decimal(23,10)) * CAST(du.Convfactor AS decimal(23,10))) AS decimal(23,10)) / su.Convfactor,@PrecQty) )  QtyRcptTot 
FROM dbo.tblMpMatlSum s
INNER JOIN dbo.tblMpMatlDtl d (NOLOCK) ON s.TransId = d.TransId 
LEFT Join tblInItemUom su ON (s.ComponentId =su.ItemId AND s.UOM =su.Uom) 
LEFT Join tblInItemUom du ON (d.ComponentId =du.ItemId AND d.UOM =du.Uom) GROUP BY s.TransID
)r ON d.TransId = r.TransId  
INNER JOIN dbo.tblInItemUom u ON d.ComponentID = u.ItemId AND d.Uom = u.Uom  
WHERE h.Status <> 6 AND ((d.ComponentType = 5 AND d.Status <> 6) OR d.ComponentType = 0) 
AND @WmMpYn = 1 AND (d.ComponentID = @ItemID OR @ItemID IS NULL) AND (h.OrderNo = @DocNo OR @DocNo IS NULL)  
  
UNION  
-- By UPC code  
SELECT d.ComponentID,d.LocID,h.OrderNo AS DocNo,CAST(h.ReleaseNo as nvarchar),NULL AS AltItemId,d.Uom AS Units,d.EstQtyRequired AS QtyOrdered,
req.EstStartDate AS ReqShipDate ,req.ReqId AS EntryNum ,u.Upccode,2 AS Source,
ISNULL(r.QtyRcptTot,0) AS QtyReceived  ,d.TransId as  MPTransID 
, NULL  as LotNumber, req.EstStartDate AS RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblMpOrderReleases h (NOLOCK) 
INNER JOIN dbo.tblMpRequirements req (NOLOCK) on  h.Id=req.ReleaseId  
INNER JOIN dbo.tblMpMatlSum d (NOLOCK)  ON req.TransId =d.TransId   
LEFT JOIN 
(
SELECT s.TransId, SUM(ROUND(cast((CAST(d.Qty AS decimal(23,10)) * CAST(du.Convfactor AS decimal(23,10)))  AS decimal(23,10)) / su.Convfactor,@PrecQty) )  QtyRcptTot 
FROM dbo.tblMpMatlSum s INNER JOIN dbo.tblMpMatlDtl d (NOLOCK)   
ON s.TransId = d.TransId 
LEFT Join tblInItemUom su ON (s.ComponentId =su.ItemId AND s.UOM =su.Uom) 
LEFT Join tblInItemUom du ON (d.ComponentId =du.ItemId AND d.UOM =du.Uom) GROUP BY s.TransID
)r ON d.TransId = r.TransId  
INNER JOIN dbo.tblInItemUom u ON d.ComponentID = u.ItemId AND d.Uom = u.Uom  
WHERE h.Status <> 6 AND ((d.ComponentType = 5 AND d.Status <> 6) OR d.ComponentType = 0) 
AND @WmMpYn = 1 AND (u.Upccode = @ItemID OR @ItemID IS NULL) AND (h.OrderNo = @DocNo OR @DocNo IS NULL) 

UNION
/* SD Part Return transaction*/
-- By IN item id
SELECT t.ResourceID,t.LocID,w.WorkOrderNo AS DocNo,Cast(t.Id as nvarchar(MAX)),NULL AS AltItemId,t.Unit AS Units,t.QtyEstimated AS QtyOrdered,
t.TransDate AS ReqShipDate,t.ID AS EntryNum,u.Upccode,64 AS Source,t.QtyUsed AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber, t.TransDate AS RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblSvWorkOrderDispatch d 
INNER JOIN dbo.tblSvWorkOrder w (NOLOCK) ON d.WorkOrderID = w.ID
INNER JOIN dbo.tblSvWorkOrderTrans t(NOLOCK) ON w.ID = t.WorkOrderID 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON t.ResourceID = u.ItemId AND t.Unit = u.Uom
WHERE @WmSdYn = 1 AND (t.ResourceID = @ItemID OR @ItemID IS NULL) AND (w.WorkOrderNo = @DocNo OR @DocNo IS NULL)
	AND t.TransType = 5 AND (d.Status <> 2 OR d.Status <>3) AND t.Status <>1
UNION
-- By UPC code
SELECT t.ResourceID,t.LocID,w.WorkOrderNo AS DocNo,Cast(t.Id as nvarchar(MAX)),NULL AS AltItemId,t.Unit AS Units,t.QtyEstimated AS QtyOrdered,
t.TransDate AS ReqShipDate,t.ID AS EntryNum,u.Upccode,64 AS Source,t.QtyUsed AS QtyReceived,NULL  as MPTransID
, NULL  as LotNumber, t.TransDate AS RequiredDate,null as VendorPartNumber, NULL as LinkSeqNum, NULL as LinkTransId
, NULL as BOLNum, NULL as Notes, NULL AS ReqExtLocA
FROM dbo.tblSvWorkOrderDispatch d 
INNER JOIN dbo.tblSvWorkOrder w (NOLOCK) ON d.WorkOrderID = w.ID
INNER JOIN dbo.tblSvWorkOrderTrans t(NOLOCK) ON w.ID = t.WorkOrderID 
INNER JOIN dbo.tblInItemUom u (NOLOCK) ON t.ResourceID = u.ItemId AND t.Unit = u.Uom
WHERE @WmSdYn = 1  AND  (u.Upccode = @ItemID) AND (@DocNo IS NULL)  
	AND t.TransType = 5 AND (d.Status <> 2 OR d.Status <>3) AND t.Status <>1
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc 
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmItemRcptList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmItemRcptList_proc'
GO
