USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsTransPost_Tax_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsTransPost_Tax_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @PostRun [nvarchar](14) , @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @TransType nvarchar(10)
	DECLARE @BaseCurrency [nvarchar](6)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PSTRANS'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @PostRun IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #TaxLocTrans
	(
	TaxLocId [nvarchar](10) NULL, TaxClassCode tinyint NULL, PostRun nvarchar(14) NULL
	, SourceCode NVarchar(2) NULL, LinkID NVarchar (255) NULL, LinkIDSub NVarChar (255)NULL
	, LinkIDSubLine INT NULL, TransDate DATETIME NULL, GLPeriod SMALLINT NULL
	, FiscalYear SMALLINT NULL,  TaxSales [decimal](28,10) NULL, NonTaxSales [decimal](28,10) NULL
	, TaxCollect [decimal](28,10) NULL, TaxPurch [decimal](28,10) NULL, NonTaxPurch [decimal](28,10) NULL
	, TaxCalcSales [decimal](28,10) NULL, TaxPaid [decimal](28,10) NULL, TaxRefund [decimal](28,10) NULL,CurrencyID [nvarchar](6) NULL
	)

	--Insert Tax Amounts
	INSERT #TaxLocTrans (TaxLocId, TaxClassCode
		, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine
		, TransDate, GLPeriod, FiscalYear
		, TaxSales
		, NonTaxSales
		, TaxCollect
		, TaxPurch, NonTaxPurch
		, TaxCalcSales
		, TaxPaid, TaxRefund,CurrencyID)

	SELECT x.TaxLocID, x.TaxClass
		, @PostRun, 'PS', t.TransID, NULL, NULL
		, h.TransDate, @FiscalPeriod, @FiscalYear 		
		, SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=@BaseCurrency THEN x.Taxable									  
									  ELSE  ROUND(x.Taxable*et.Rate,et.CurrDecPlaces)
									  END )
		, SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=@BaseCurrency THEN x.NonTaxable									  
									  ELSE  ROUND(x.NonTaxable*et.Rate,et.CurrDecPlaces)
									  END )
		, SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=@BaseCurrency THEN x.TaxAmt									  
									  ELSE  ROUND(x.TaxAmt*et.Rate,et.CurrDecPlaces)
									  END )			
		, 0, 0
		, SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=@BaseCurrency THEN x.TaxAmt									  
									  ELSE  ROUND(x.TaxAmt*et.Rate,et.CurrDecPlaces)
									  END )			
		, 0, 0,tl.CurrencyID
	FROM #PsTransList t 
	INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
	INNER JOIN dbo.tblPsTransTax x ON h.ID = x.HeaderID
	LEFT JOIN tblSmTaxLoc tl ON x.TaxLocID = tl.TaxLocId
	LEFT JOIN
	(	SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey 
		FROM tblSmExchangeRateTrans e
		INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType = @TransType
	) et
	ON  et.[Source] = @BaseCurrency  AND et.Destination= tl.CurrencyID AND et.TransKey=@PostRun
	WHERE h.VoidDate IS NULL
	GROUP BY t.TransID, x.TaxLocID, x.TaxClass, h.TransDate, tl.CurrencyID


	IF  EXISTS (SELECT * FROM #TaxLocTrans t WHERE  t.TaxCollect IS NULL OR t.TaxSales IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	
	
	--Insert Tax Amounts
	INSERT dbo.tblSmTaxLocTrans (TaxLocId, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine, TransDate, 
		GLPeriod, FiscalYear, TaxSales, NonTaxSales, TaxCollect, TaxPurch, NonTaxPurch, TaxCalcSales, TaxPaid, TaxRefund, CurrencyID)

	SELECT TaxLocID, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine,TransDate
		, GLPeriod, FiscalYear,TaxSales, NonTaxSales, TaxCollect, 0, 0, TaxCollect, 0, 0, CurrencyID
	FROM #TaxLocTrans

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_Tax_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_Tax_proc'
GO
