USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_MP_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_MP_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint
	--Get quantity precision
	DECLARE @QtyPrec tinyint, @MaxExtSeqNum int
	SELECT @QtyPrec = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'QtyPrec'  

	IF @QtyPrec IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END 

	--SELECT @QtyPrec = ConfigValue FROM tblSmConfigValue WHERE ConfigRef = 267

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*MP Production Order*/
	BEGIN
		CREATE TABLE #tmpMpMatlDtllQtyExt (ExtSeqNum int NOT NULL, SeqNum int NOT NULL, [ID] bigint NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblMpMatlSumExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlSumExt x ON m.TransId = x.TransId 
			INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
		WHERE x.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblMpMatlDtlExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblMpMatlDtl m INNER JOIN dbo.tblMpMatlDtlExt x ON m.SeqNo = x.EntryNum 
			INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
		WHERE x.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblMpMatlSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblMpMatlDtl m INNER JOIN dbo.tblMpMatlSer s ON m.SeqNo = s.EntryNum 
			INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
		WHERE s.ExtLocA IS NULL

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create missing Committed Quantity Extended
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,m.ComponentId AS ItemId,m.LocId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY m.TransId) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblMpMatlSum m INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
			INNER JOIN dbo.tblInQty q ON m.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblMpMatlSumExt x ON m.TransId = x.TransId 
		WHERE m.ComponentType IN (3,4) AND x.SeqNum IS NULL  --StockedSubassembly/Material

		--Create missing tblMpMatlSumExt record
		INSERT INTO dbo.tblMpMatlSumExt (TransId, LotNum, ExtLocA, ExtLocB, QtyRequired, QtyFilled, QtySeqNumExt, Cmnt, CF, QuantityExtID)
		SELECT m.TransId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,m.EstQtyRequired AS QtyRequired,
			CASE WHEN m.EstQtyRequired >= q.Qty THEN m.EstQtyRequired - q.Qty ELSE 0 END AS QtyFilled,e.ExtSeqNum AS QtySeqNumExt,NULL AS Cmnt, NULL AS CF,	e.ID
		FROM dbo.tblMpMatlSum m INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
			INNER JOIN dbo.tblInQty q ON m.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInQty_Ext e ON q.SeqNum = e.SeqNum
			LEFT JOIN dbo.tblMpMatlSumExt x ON m.TransId = x.TransId 
		WHERE m.ComponentType IN (3,4) AND x.SeqNum IS NULL  --StockedSubassembly/Material

		INSERT INTO dbo.tblMpMatlSumExt (TransId, LotNum, ExtLocA, ExtLocB, QtyRequired, QtyFilled, QtySeqNumExt, Cmnt, CF, [QuantityExtID])
		SELECT m.TransId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,m.EstQtyRequired AS QtyRequired,
			CASE WHEN m.EstQtyRequired >= q.Qty THEN m.EstQtyRequired - q.Qty ELSE 0 END AS QtyFilled,NULL AS QtySeqNumExt,NULL AS Cmnt, NULL AS CF, NULL AS [QuantityExtID]
		FROM dbo.tblMpMatlSum m INNER JOIN #tmpItemLocDefaultBin b ON m.ComponentId = b.ItemID AND m.LocId = b.LocID
			INNER JOIN dbo.tblInQty q ON m.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblMpMatlSumExt x ON m.TransId = x.TransId 
		WHERE m.ComponentType IN (0,5) AND x.SeqNum IS NULL  --Assembly/ByProduct

		--Create missing tblMpMatlDtlExt record
		INSERT INTO dbo.tblMpMatlDtlExt (TransId, EntryNum, LotNum, ExtLocA, ExtLocB, QtyFilled, CostUnit, HistSeqNum, HistSeqNumExt, QtySeqNum, QtySeqNumExt, Cmnt, CF, QtyStatus, QuantityID, HistoryID, QuantityExtID)
		SELEcT d.TransId,d.SeqNo AS EntryNum,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,CASE i.ItemType WHEN 2 THEN 0 ELSE d.Qty END AS QtyFilled,
			d.UnitCost AS CostUnit,NULL AS HistSeqNum,NULL AS HistSeqNumExt,NULL AS QtySeqNum,NULL AS QtySeqNumExt,NULL AS Cmnt,NULL AS CF,NULL AS QtyStatus, NULL AS QuantityID, NULL AS HistoryID, NULL AS QuantityExtID
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN #tmpItemLocDefaultBin b ON d.ComponentId = b.ItemID AND d.LocId = b.LocID
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			LEFT JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
		WHERE m.ComponentType IN (0,3,4,5) AND i.ItemType = 1 AND i.LottedYN = 0 AND x.SeqNum IS NULL --Assembly/StockedSubassembly/Material/ByProduct, regular non-lotted, no qty extended detail

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpMpMatlDtllQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (3,4) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --StockedSubassembly/Material, regular non-lotted, no link to tblQtyOnHand_Ext record

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ComponentId AS ItemId,d.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(-(x.QtyFilled * u.ConvFactor), @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (3,4) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --StockedSubassembly/Material, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpMpMatlDtllQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (0,5) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Assembly,ByProduct, regular non-lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ComponentId AS ItemId,d.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (0,5) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Assembly,ByProduct, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpMpMatlDtllQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (3,4) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --StockedSubassembly/Material, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ComponentId AS ItemId,d.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,ROUND(-(x.QtyFilled * u.ConvFactor), @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (3,4) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --StockedSubassembly/Material, regular lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpMpMatlDtllQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (0,5) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Assembly,ByProduct, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ComponentId AS ItemId,d.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER (ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblMpMatlSum m INNER JOIN dbo.tblMpMatlDtl d ON m.TransId = d.TransId 
			INNER JOIN dbo.tblMpMatlDtlExt x ON d.SeqNo = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ComponentId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.Uom = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNumExt = e.ExtSeqNum
		WHERE m.ComponentType IN (0,5) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Assembly,ByProduct, regular lotted, no link to tblQtyOnHand_Ext record
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF

		--Update tblMpMatlDtlExt.QtySeqNumExt to link tblMpMatlDtlExt records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblMpMatlDtlExt SET QtySeqNumExt = t.ExtSeqNum, QuantityExtID = t.ID
		FROM dbo.tblMpMatlDtlExt x INNER JOIN #tmpMpMatlDtllQtyExt t ON x.SeqNum = t.SeqNum

		DECLARE @NewID bigint
		SET @NewID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		SET @NewID = @NewID + 100000000 --To make sure that no duplicate ID values between migration of different application

		UPDATE dbo.tblMpMatlDtlExt SET QuantityID = QtyIDNew
		FROM dbo.tblMpMatlDtlExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblMpMatlDtlExt 
			WHERE QuantityID IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE QuantityID IS NULL

		UPDATE dbo.tblMpMatlDtlExt SET HistoryID  = QtyIDNew
		FROM dbo.tblMpMatlDtlExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblMpMatlDtlExt 
			WHERE HistoryID  IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE HistoryID  IS NULL

		UPDATE dbo.tblMpMatlDtlExt SET QuantityExtID  = QtyIDNew
		FROM dbo.tblMpMatlDtlExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblMpMatlDtlExt 
			WHERE QuantityExtID  IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE QuantityExtID  IS NULL

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_MP_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_MP_Transactions_proc'
GO
