USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmBinInquiry_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmBinInquiry_proc]
@ItemId NVARCHAR(24),  
@BinNumber NVARCHAR(10),  
@LocId NVARCHAR(10),
@QtyPrecision tinyint
AS  
SET NOCOUNT ON  
BEGIN TRY  
  
SELECT RTRIM(c.ItemId) AS ItemID, RTRIM(c.LocId) AS LocId, RTRIM(c.LotNum) AS LotNum , c.SerNum, c.ExtLocAId AS Bin, c.ExtLocBId AS Container, i.Descr AS ItemDescription,
	ISNULL(ud.Uom, i.UomDflt) AS Uom, CAST(ROUND(cast(SUM(c.Qty) as decimal(23,10))/ISNULL(u.ConvFactor,1), @QtyPrecision) AS decimal(23,10)) AS QtyOnHand,
	CAST(CASE i.ItemType WHEN 2 THEN 1 ELSE 0 END AS bit) AS SerialYN, ISNULL(i.LottedYN,0) AS LottedYN
FROM
(SELECT q.ItemId, q.LocId, q.LotNum, NULL AS SerNum, q.ExtLocA, c.ExtLocID AS ExtLocAId,
	q.ExtLocB, b.ExtLocID AS ExtLocBId, Qty
FROM dbo.tblInQtyOnHand_Ext q (NOLOCK) INNER JOIN dbo.tblWmExtLoc c (NOLOCK) ON q.ExtLocA = c.Id AND c.[Type] = 0
	LEFT JOIN dbo.tblWmExtLoc b (NOLOCK) ON q.ExtLocB = b.Id AND b.[Type] = 1
WHERE q.LocId = @LocId AND c.ExtLocID = @BinNumber
UNION ALL
SELECT s.ItemId, s.LocId, s.LotNum, s.SerNum AS SerNum, s.ExtLocA, c.ExtLocID AS ExtLocAId,
	s.ExtLocB, b.ExtLocID AS ExtLocBId, 1 AS Qty
FROM dbo.tblInItemSer s (NOLOCK) INNER JOIN dbo.tblWmExtLoc c (NOLOCK) ON s.ExtLocA = c.Id AND c.[Type] = 0
	LEFT JOIN dbo.tblWmExtLoc b (NOLOCK) ON s.ExtLocB = b.Id AND b.[Type] = 1
WHERE s.LocId = @LocId AND s.SerNumStatus IN (1,2,5) AND c.ExtLocID = @BinNumber) c 
	INNER JOIN dbo.tblInItem i (NOLOCK) ON c.ItemId = i.ItemId
	LEFT JOIN dbo.tblInItemUomDflt ud (NOLOCK) ON ud.ItemId = i.itemId AND ud.DfltType = 1  
	LEFT JOIN dbo.tblInitemUom u (NOLOCK) ON i.ItemId = u.ItemId AND ISNULL(ud.Uom, i.UomDflt) = u.UOM    
GROUP BY c.ItemId, i.Descr, i.ItemType, i.LottedYN, c.LocId, c.LotNum, c.SerNum, c.ExtLocAId, c.ExtLocBId, ud.Uom, i.UomDflt, u.ConvFactor
HAVING ROUND(SUM(c.Qty)/ISNULL(u.ConvFactor,1), @QtyPrecision) <> 0
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmBinInquiry_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmBinInquiry_proc'
GO
