USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmInternaMoveQuantityPost_Remove_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmInternaMoveQuantityPost_Remove_proc]
AS
BEGIN TRY

	--Swap Bin/Container To with From Values to validation issues since Serial Number will exists now in Bin/Container To values	
	UPDATE m
	SET m.ExtLocAFrom = q.ExtLocATo,
		m.ExtLocATo = q.ExtLocAFrom,
		m.ExtLocBFrom = q.ExtLocBTo,
		m.ExtLocBTo = q.ExtLocBFrom
	FROM dbo.tblWmMoveQuantity m
	INNER JOIN #TransList t ON (t.TransId = m.Id OR t.TransId = m.ParentId)
	INNER JOIN #MoveQuantity q ON q.TransId = t.TransId
	WHERE m.MoveBy = 0

	--Avoid deleting records Picked
	DELETE t FROM #TransList t
	INNER JOIN dbo.tblWmMoveQuantity m ON (t.TransId = m.Id OR t.TransId = m.ParentId)
	INNER JOIN #MoveQuantity q ON q.TransId = t.TransId
	WHERE m.MoveBy = 0

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmInternaMoveQuantityPost_Remove_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmInternaMoveQuantityPost_Remove_proc'
GO
