USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderJournal_proc]
@SortBy tinyint = 0, -- 0 = Batch Code, 1 = Customer ID, 2 = Work Order Number, 3 = Invoice Number
@ViewAdditionalDescription bit = 0, 
@ViewSummary tinyint = 0,
@ReportCurrency [nvarchar](6) = NULL,
@TransType nvarchar(10),
@BaseCurrency [nvarchar](6) = 'USD'

AS
BEGIN TRY

	SET NOCOUNT ON


	CREATE TABLE #Temp
	(
		TransID [nvarchar](8) NOT NULL
	)

	INSERT INTO #Temp (TransID) 
	SELECT h.TransId 
	FROM #tmpTransactionList t 
	INNER JOIN dbo.tblSvInvoiceHeader h ON t.TransID = h.TransID 
	INNER JOIN dbo.tblArCust c ON c.CustId = h.CustID 
	WHERE h.VoidYN = 0 AND h.HoldYN = 0


	CREATE TABLE #tmp   
	(  		 
		GrpId1 nvarchar (4000) null,		  
		BatchID [nvarchar](6) NULL,  
		TransID [nvarchar](8) NOT NULL,  
		TransType smallint not NULL,  
		CustID [nvarchar](10) NULL,  
		CustName nvarchar (255) null,  		
		TermsCode [nvarchar](6) NULL,  
		InvoiceNumber [nvarchar](15) NULL,  		
		CustomerPoNumber nvarchar(25) null,  
		OrderDate datetime null,  		
		InvoiceDate datetime null,  
		CompletedDate datetime null,  
		Rep1Id [nvarchar](3) NULL,  
		Rep1Pct [decimal](28,10) NULL,  
		Rep2Id [nvarchar](3) NULL,  
		Rep2Pct [decimal](28,10) NULL,  		
		FiscalPeriod smallint not null,  
		FiscalYear smallint not null,  
		TaxGrpID [nvarchar](10) NOT NULL,  
		ExchRate [decimal](28,10) NOT NULL,  
		Taxable [decimal](28,10) NULL,  
		Nontaxable [decimal](28,10) NULL,  
		SalesTax [decimal](28,10) NULL,  
		InvTotal [decimal](28,10) NULL,  
		ExtPrice [decimal](28,10) NULL,  
		ExtCost [decimal](28,10) NULL,  		
		WorkOrderNo [nvarchar](8) NULL, 
		SiteID [nvarchar](10) NULL,
		CurrencyID [nvarchar](6) NULL
	)  


	-- main report resultset (Table)
	INSERT INTO #tmp (GrpId1
		, BatchID, TransID ,TransType, CustID, CustName, TermsCode, InvoiceNumber  
		, CustomerPoNumber, OrderDate, InvoiceDate, CompletedDate, Rep1Id, Rep1Pct
		, Rep2Id, Rep2Pct, FiscalPeriod, FiscalYear,  TaxGrpID, ExchRate  
		, Taxable
		, Nontaxable
		, SalesTax
		, InvTotal 
		, ExtPrice, ExtCost, WorkOrderNo, SiteID,CurrencyID)   
	SELECT CASE @SortBy 
			WHEN 0 THEN CAST(h.BatchID AS nvarchar) 
			WHEN 1 THEN CAST(h.CustID AS nvarchar) 
			WHEN 2 THEN CAST(w.WorkOrderNo AS nvarchar) 
			WHEN 3 THEN CAST(h.InvoiceNumber AS nvarchar) END AS GrpID1
		, h.BatchID, h.TransID, h.TransType, h.CustID, c.CustName, h.TermsCode, h.InvoiceNumber
		, h.CustomerPoNumber, h.OrderDate, h.InvoiceDate, h.CompletedDate, h.Rep1Id, h.Rep1Pct
		, h.Rep2Id, h.Rep2Pct, h.FiscalPeriod, h.FiscalYear, h.TaxGrpID, h.ExchRate

		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TaxSubtotalFgn  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TaxSubtotal  
				ELSE ROUND(TaxSubtotalFgn * et.Rate, et.CurrDecPlaces) END  AS TaxSubtotal   
		
		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  NonTaxSubtotalFgn  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN NonTaxSubtotal  
				ELSE ROUND(NonTaxSubtotalFgn * et.Rate, et.CurrDecPlaces) END  AS NonTaxSubtotal  

		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  SalesTaxFgn + TaxAmtAdjFgn  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN SalesTax + TaxAmtAdj  
				ELSE ROUND((SalesTaxFgn + TaxAmtAdjFgn) * et.Rate, et.CurrDecPlaces) END  AS SalesTax  

		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn + TaxAmtAdjFgn  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj  
				ELSE ROUND((TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn + TaxAmtAdjFgn) * et.Rate, et.CurrDecPlaces) END  AS InvTotal  
		
		, 0,0, w.WorkOrderNo, w.SiteID,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID] 
	FROM dbo.tblSvInvoiceHeader h 
	INNER JOIN #Temp t ON h.TransID = t.TransID 
	LEFT JOIN dbo.tblArCust c ON h.CustID = c.CustId 
	LEFT JOIN dbo.tblSvWorkOrder w ON h.WorkOrderID = w.ID 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination
				FROM [dbo].[tblSmExchangeRateTrans] e  
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
				WHERE e.[TransType] = @TransType 
	) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)
	
	
	UPDATE #tmp SET 	
			ExtPrice = A.ExtPrice
			, ExtCost = A.ExtCost
	FROM
	(
		SELECT
			h.TransId,
			SUM(CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(d.PriceExtFgn,0)  
								WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(d.PriceExt,0)  
								ELSE ROUND(d.PriceExtFgn * et.Rate, et.CurrDecPlaces) End  ) AS ExtPrice,
			 SUM(CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(d.CostExtFgn,0)  
								 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(d.CostExt,0)  
								 ELSE ROUND(d.CostExtFgn * et.Rate, et.CurrDecPlaces) End ) AS ExtCost
	
		FROM #tmp t
		INNER JOIN dbo.tblSvInvoiceHeader h ON t.TransId = h.TransID
		INNER JOIN dbo.tblSvInvoiceDetail d ON h.TransID = d.TransID
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination
			FROM [dbo].[tblSmExchangeRateTrans] e  
			INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
			WHERE e.[TransType] = @TransType 
		) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)
		GROUP by h.TransId
	)AS A
	WHERE #tmp.TransId = A.TransId


	select t.*, c.CustName from #tmp t
	inner join dbo.tblArCust c ON t.CustID = c.CustId

	-- detail report resultset (Table1)
	SELECT d.TransID, d.WorkOrderTransID, d.EntryNum, d.ResourceID
		, d.LocID, d.[Description]
		, CASE	WHEN @ViewAdditionalDescription <> 0 
				THEN d.AdditionalDescription ELSE NULL END AS AdditionalDescription
		, d.TaxClass, ISNULL(d.WorkOrderTransType, 99) AS WorkOrderTransType, d.QtyEstimated, d.QtyUsed
		, d.GLAcctSales, d.GLAcctDebit, d.GLAcctCredit, d.Unit

		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitPriceFgn,0)  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitPrice,0)  
				ELSE ROUND(UnitPriceFgn * et.Rate, et.CurrDecPlaces) End  AS UnitPrice   
		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(PriceExtFgn,0)  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(PriceExt,0)  
				ELSE ROUND(PriceExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtPrice   
		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitCostFgn,0)  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitCost,0)  
				ELSE ROUND(UnitCostFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCost   
		, CASE	WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(CostExtFgn,0)  
				WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(CostExt,0)  
				ELSE ROUND(CostExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost   	
		, d.LineSeq 
	FROM dbo.tblSvInvoiceDetail d
	INNER JOIN #Temp t ON d.TransID = t.TransID
	INNER JOIN dbo.tblSvInvoiceHeader h ON t.TransId = h.TransID
	LEFT JOIN 
	(
		SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination
		FROM [dbo].[tblSmExchangeRateTrans] e  
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
		WHERE e.[TransType] = @TransType 
	) et ON et.[TransKey] = t.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)

	WHERE @ViewSummary = 0

	-- lot detail resultset (Table2)
	SELECT l.TransID,l.LotNum AS LotNo,  CASE WHEN t.TransType = 5 THEN (-1)*l.QtyUsed ELSE l.QtyUsed END AS Qty,
	    CASE WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN l.UnitCost
			 ELSE ROUND(l.UnitCost * et.Rate,et.CurrDecPlaces)  
			 End  AS UnitCost
	FROM #Temp tmp 
	INNER JOIN dbo.tblSvInvoiceHeader h ON tmp.TransID = h.TransID 
	INNER JOIN dbo.tblSvInvoiceDetail d ON tmp.TransID = d.TransID 
	INNER JOIN dbo.tblSvWorkOrderDispatch w ON d.DispatchID = w.ID 
	INNER JOIN dbo.tblSvWorkOrderTransExt l ON d.WorkOrderTransID = l.TransID 
	INNER JOIN dbo.tblSvWorkOrderTrans t ON l.TransID = t.ID
	LEFT JOIN 
	(
		SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination
		FROM [dbo].[tblSmExchangeRateTrans] e  
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
		WHERE e.[TransType] = @TransType 
	) et ON et.[TransKey] = tmp.TransId AND et.[Source] = @BaseCurrency AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)
	WHERE @ViewSummary = 0 AND w.CancelledYN = 0  AND l.LotNum IS NOT NULL
	ORDER BY l.LotNum

	-- serial detail resultset (Table3)
	SELECT s.TransID, s.LotNum AS LotNo, s.SerNum AS SerNo,		 
		 CASE WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN s.UnitCost
			  ELSE ROUND( s.UnitCost * et.Rate,et.CurrDecPlaces) 
			  End  AS UnitCost
	FROM #Temp tmp 
	INNER JOIN dbo.tblSvInvoiceHeader h ON tmp.TransID = h.TransID 
	INNER JOIN dbo.tblSvInvoiceDetail d ON tmp.TransID = d.TransID 
	INNER JOIN dbo.tblSvWorkOrderDispatch w ON d.DispatchID = w.ID 
	INNER JOIN dbo.tblSvWorkOrderTransSer s ON d.WorkOrderTransID = s.TransID 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination
		FROM [dbo].[tblSmExchangeRateTrans] e  
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
		WHERE e.[TransType] = @TransType 
	) et ON et.[TransKey] = tmp.TransId AND et.[Source] = @BaseCurrency AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)
	WHERE @ViewSummary = 0 AND w.CancelledYN = 0 
	ORDER BY s.LotNum, s.SerNum

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderJournal_proc'
GO
