USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_tblSmCustomField_Update]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_tblSmCustomField_Update] 
	@id int,
	@name nvarchar(50),
	@def xml
AS
	SET NOCOUNT ON
	
	update dbo.tblSmCustomField set FieldName = @name, Definition=@def
	where Id=@id
	
	RETURN



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_tblSmCustomField_Update'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_tblSmCustomField_Update'
GO
