USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_RemoveTrans_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_RemoveTrans_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @TransType nvarchar(10)
	DECLARE @TransTypePrePay nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	SELECT @TransTypePrePay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePREPAY'
	
	CREATE TABLE #RemoveTransList( TransId nvarchar(10) NOT NULL PRIMARY KEY  CLUSTERED ([TransId]))
	
	INSERT INTO #RemoveTransList (TransId)
	SELECT h.TransId
		FROM dbo.tblSoTransHeader h
		INNER JOIN #PostTransList l ON h.TransId = l.TransId
		WHERE h.TransType <> 3 --don't remove trans that have been converted to backorders

	DELETE dbo.tblInQty_Ext
	FROM dbo.tblInQty_Ext INNER JOIN dbo.tblSoTransDetailExt s ON dbo.tblInQty_Ext.ID = s.QuantityCmtdID
		INNER JOIN #RemoveTransList t ON s.TransId = t.TransId

	DELETE dbo.tblInQty
	FROM dbo.tblInQty INNER JOIN dbo.tblSoTransDetail d ON dbo.tblInQty.ID = d.QuantityCmtdID
		INNER JOIN #RemoveTransList t ON d.TransId = t.TransId

	UPDATE dbo.tblSmTransLink SET SourceStatus = 1
	WHERE SeqNum IN (SELECT d.LinkSeqNum FROM #RemoveTransList t INNER JOIN  dbo.tblSoTransDetail d ON t.TransId = d.TransId
			WHERE d.LinkSeqNum IS NOT NULL)
		AND SourceType = 4

	DELETE dbo.tblSoTransHeader
		FROM dbo.tblSoTransHeader
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransHeader.TransId = l.TransId

	DELETE dbo.tblSoTransDetail
		FROM dbo.tblSoTransDetail
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransDetail.TransId = l.TransId

	DELETE dbo.tblSoTransDetailExt
		FROM dbo.tblSoTransDetailExt
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransDetailExt.TransId = l.TransId

	DELETE dbo.tblSoTransSer
		FROM dbo.tblSoTransSer
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransSer.TransId = l.TransId
	
   DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e 
	  INNER JOIN tblSoTransPmt p ON  e.TransKey = p.PmtNum AND e.TransType=@TransTypePrePay
	  INNER JOIN #RemoveTransList t ON p.TransId = t.TransId 


	DELETE dbo.tblSoTransPmt
		FROM dbo.tblSoTransPmt
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransPmt.TransId = l.TransId

	DELETE dbo.tblSoTransTax
		FROM dbo.tblSoTransTax
		INNER JOIN #RemoveTransList l ON dbo.tblSoTransTax.TransId = l.TransId
		
	DELETE dbo.tblSmTransTaxDetail
		FROM dbo.tblSmTransTaxDetail d
		INNER JOIN #RemoveTransList l ON d.TransId = l.TransId AND d.SourceCode = 'SO'
		
	 DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e  INNER JOIN #RemoveTransList  t ON e.TransKey = t.TransId 
     WHERE TransType=@TransType
     
  

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_RemoveTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_RemoveTrans_proc'
GO
