USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_PCMatReq_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_PCMatReq_proc]
@LocId pLocId
AS
BEGIN TRY
	--PET:http://webfront:801/view.php?id=235736
	--PET:http://webfront:801/view.php?id=245343	
	--PET:http://problemtrackingsystem.osas.com/view.php?id=263947
	--PET:http://problemtrackingsystem.osas.com/view.php?id=268828
	SET NOCOUNT ON

	DECLARE @POReqPickingYn BIT = 0
	SELECT @POReqPickingYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'POReqPickingYn'

	--identify any WM Material Requisitions that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq
		, ReqDate, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, BatchId, ZoneId, ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, ItemDescription)
	SELECT 32, 'MATREQ', h.[Id], ISNULL(e.[Id], 0), P.CustId as CustId, C.CustName as CustName, Null as PickNum
		, h.ItemId, h.LocId, e.LotNum, e.ExtLocA, e.ExtLocB, h.UOM
		, ISNULL((e.QtyNeed - e.QtyFilled), (h.QtyNeed - h.QtyFilled))
		, Cast(h.TransDate AS Date), Null, 0, ISNULL(e.QtyNeed, h.QtyNeed) as QtyOrdered, h.BatchId, Null, Null, h.BatchId, elb.ZoneID, elb.ExtLocID, elc.ExtLocID
		, P.CustId as ReferenceId, C.CustName as ReferenceName, h.[Description] AS ItemDescription
	FROM dbo.tblPcTrans h
	INNER JOIN dbo.tblInItem i ON h.[ItemId] = i.[ItemId]
	LEFT JOIN dbo.tblPcTransExt e ON h.[Id] = e.TransId
	LEFT JOIN dbo.tblWmExtLoc elb ON elb.Id = e.ExtLocA AND elb.[Type] = 0 --bins
	LEFT JOIN dbo.tblWmExtLoc elc ON elc.Id = e.ExtLocB AND elc.[Type] = 1 --containers
	LEFT JOIN dbo.tblSmTransLink l ON h.[LinkSeqNum] = l.[SeqNum]
	INNER JOIN tblPcProjectDetail D ON H.ProjectDetailId = D.Id
	INNER JOIN tblPcProject P ON P.Id = D.ProjectId
	LEFT JOIN tblArCust C ON C.CustId = P.CustId

	WHERE h.TransType = 0 --is a regular MatReq
		AND (h.QtyNeed - h.QtyFilled) > 0 --has quantity to process at the line item
		AND (l.SeqNum IS NULL OR l.TransLinkType = 1  OR l.SourceStatus = 2 OR l.DestStatus = 2 OR ((l.TransLinkType = 0 AND l.DropShipYn=0) AND NOT (l.TransLinkType = 0 AND l.DropShipYn = 0 AND l.DestType IN  (1,2) AND @POReqPickingYn = 0))) --((transaction linked and not DropShipped) or link is broken)
		AND i.[ItemType] <> 3 AND i.[KittedYN] = 0 --must be an IN items - but not Service Items or Kit
		AND h.LocId = ISNULL(@LocId, h.LocId)
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_PCMatReq_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_PCMatReq_proc'
GO
