USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMoveQuantityPost_Inventory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMoveQuantityPost_Inventory_proc]
@TransId int
AS
BEGIN TRY
	
	DECLARE @QuantityID bigInt, @TryCounter tinyint, @MaxTry int
	SELECT @TryCounter = 1, @MaxTry = 10 --Set to try maximum 10 times, may be a parameter in future

	--Retrieve global values
	SELECT @QuantityID = Cast([Value] AS bigInt) FROM #GlobalValues WHERE [Key] = 'QuantityID'

	IF @TransId IS NULL OR @QuantityID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Update tblInItemSer for any items in #MoveQuantity with an ItemType = 2
	UPDATE dbo.tblInItemSer 
		SET [ExtLocA] = t.[ExtLocATo], [ExtLocB] = t.[ExtLocBTo]
		FROM #MoveQuantity t
		WHERE t.[TransId] = @TransId
			AND t.[ItemType] = 2
			AND dbo.tblInItemSer.[ItemId] = t.[ItemId] AND dbo.tblInItemSer.[SerNum] = t.[SerNum]
	
/**************************************Update Container's Bin***********************************************/
	DECLARE @MoveById pItemId --Container
	DECLARE @ExtLocATo int -- Bin To (tblWmExtLoc.ExtLocARef)
	DECLARE @ExtLocB int --Container Id
		
	--Lookup transaciton values 
	SELECT @MoveById = m.[MoveById]
		, @ExtLocATo = m.[ExtLocATo]
		FROM dbo.tblWmMoveQuantity m 
	WHERE m.[Id] = @TransId AND m.MoveBy = 1
	
	--Get Container Id
	SELECT @ExtLocB = [Id]
		FROM dbo.tblWmExtLoc 
	WHERE [Type] = 1 AND [ExtLocID] = @MoveById
	
	UPDATE c
		SET c.ExtLocARef = @ExtLocATo
		FROM dbo.tblWmExtLoc c
	WHERE c.Id = @ExtLocB AND @ExtLocATo IS NOT NULL AND c.ExtLocARef <> @ExtLocATo
/*****************************************************************************************************************/

	--Create In/Out records in tblInQtyOnHand_Ext for any item in #MoveQuantity with an ItemType <> 2 and Qty <> 0
	--move out
	WHILE (@TryCounter > 0 AND @TryCounter <= @MaxTry) 
	BEGIN
		BEGIN TRY
			INSERT INTO dbo.tblInQtyOnHand_Ext ([ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB], [Qty],[Status], [ID])
			SELECT [ItemId], [LocId], [LotNum], [ExtLocAFrom], [ExtLocBFrom], -[QtyBase],[QtyStatus], @QuantityID + ROW_NUMBER() OVER (ORDER BY t.ItemId, t.LocId)
			FROM #MoveQuantity t
			WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0 AND t.[ItemType] <> 2 

			-- IN --
			--New item/location/bin
			INSERT INTO dbo.tblInItemLocBin ( ItemId, LocId, BinNum )
			SELECT t.[ItemId], t.[LocId], e.ExtLocID
			FROM #MoveQuantity t 
			JOIN dbo.tblWmExtLoc e on t.ExtLocAFrom = e.Id
			LEFT JOIN dbo.tblInItemLocBin b ON t.ItemId = b.ItemId AND t.LocId = b.LocId AND e.ExtLocID = b.BinNum
			WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0  AND b.LocId IS NULL AND b.BinNum IS NULL

			SET @TryCounter = 0 --Sucess
		END TRY
		BEGIN CATCH
			IF ((@@ERROR = 2601 OR @@ERROR = 2627)) AND @TryCounter < @MaxTry --Unique index/constraint violation and counter is less than max try
			BEGIN
				SET @QuantityID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
				SET @TryCounter = @TryCounter + 1
			END
			ELSE
			BEGIN
				THROW 
			END
		END CATCH
	END 
	--Update Global History ID with Last ID used
	SET @QuantityID = @QuantityID + (SELECT COUNT(1) FROM #MoveQuantity t WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0 AND t.[ItemType] <> 2)
	
	--move in
	SET @TryCounter = 1

	WHILE (@TryCounter > 0 AND @TryCounter <= @MaxTry) 
	BEGIN
		BEGIN TRY
			INSERT INTO dbo.tblInQtyOnHand_Ext ([ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB], [Qty],[Status], [ID])
			SELECT [ItemId], [LocId], [LotNum], [ExtLocATo], [ExtLocBTo], [QtyBase],[QtyStatus], @QuantityID + ROW_NUMBER() OVER (ORDER BY t.ItemId, t.LocId)
			FROM #MoveQuantity t
			WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0 And t.[ItemType] <> 2

			-- IN --
			--New item/location/bin
			INSERT INTO dbo.tblInItemLocBin ( ItemId, LocId, BinNum )
			SELECT t.[ItemId], t.[LocId], e.ExtLocID
			FROM #MoveQuantity t 
			JOIN dbo.tblWmExtLoc e on t.ExtLocATo = e.Id
			LEFT JOIN dbo.tblInItemLocBin b ON t.ItemId = b.ItemId AND t.LocId = b.LocId AND e.ExtLocID = b.BinNum
			WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0 AND b.LocId IS NULL AND b.BinNum IS NULL

			SET @TryCounter = 0 --Sucess
		END TRY
		BEGIN CATCH
			IF ((@@ERROR = 2601 OR @@ERROR = 2627)) AND @TryCounter < @MaxTry --Unique index/constraint violation and counter is less than max try
			BEGIN
				SET @QuantityID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
				SET @TryCounter = @TryCounter + 1
			END
			ELSE
			BEGIN
				THROW 
			END
		END CATCH
	END
	
	--Update Global History ID with Last ID used
	SET @QuantityID = @QuantityID + (SELECT COUNT(1) FROM #MoveQuantity t WHERE t.[TransId] = @TransId AND t.[QtyBase] <> 0.0 AND t.[ItemType] <> 2)
	UPDATE g
	SET g.[Value] = CAST(@QuantityID as nVarchar)
	FROM #GlobalValues g
	WHERE g.[Key] = 'QuantityID'

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_Inventory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_Inventory_proc'
GO
