USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_InHistory_proc]
AS
BEGIN TRY
	--PET:http://webfront:801/view.php?id=236036
	--PET:http://webfront:801/view.php?id=236509
	--PET:http://webfront:801/view.php?id=236978
	--PET:http://webfront:801/view.php?id=236845
	--PET:http://webfront:801/view.php?id=242886
	DECLARE @ReturnDirectToStock bit
	DECLARE @PrecCurr smallint

	SELECT @ReturnDirectToStock = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ReturnDirectToStock'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'

	IF @ReturnDirectToStock IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	--Update location last info
	UPDATE dbo.tblInItemLoc SET DateLastSale = h.InvcDate
	FROM dbo.tblInItemLoc INNER JOIN dbo.tblSoTransDetail d ON dbo.tblInItemLoc.ItemId = d.ItemId AND dbo.tblInItemLoc.LocId = d.LocId 
		INNER JOIN dbo.tblSoTransHeader h ON d.TransID = h.TransId INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	WHERE d.[Status] = 0 AND d.QtyShipSell <> 0  --open line items with shipped quantities 
		AND (h.TransType > 0 AND (DateLastSale IS NULL OR h.InvcDate > DateLastSale))

	IF @ReturnDirectToStock = 1
	BEGIN
		UPDATE dbo.tblInItemLoc SET DateLastSaleRet = h.InvcDate
		FROM dbo.tblInItemLoc INNER JOIN dbo.tblSoTransDetail d ON dbo.tblInItemLoc.ItemId = d.ItemId AND dbo.tblInItemLoc.LocId = d.LocId 
			INNER JOIN dbo.tblSoTransHeader h ON d.TransID = h.TransId INNER JOIN #PostTransList l ON h.TransId = l.TransId 
		WHERE d.[Status] = 0 AND d.QtyShipSell <> 0  --open line items with shipped quantities 
			AND (h.TransType < 0 AND (DateLastSaleRet IS NULL OR h.InvcDate > DateLastSaleRet))
	END
	
	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId)
	SELECT d.HistoryID, h.FiscalYear, h.GLPeriod, h.InvcDate, h.BatchId, l.DefaultInvoiceNumber
	FROM dbo.tblSoTransHeader h 
	INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransId
	WHERE d.[Status] = 0 AND d.HistoryID > 0  --open line items

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId, PriceUnit, PriceExt)
	SELECT e.HistoryID, h.FiscalYear, h.GLPeriod, h.InvcDate, h.BatchId, l.DefaultInvoiceNumber, d.UnitPriceSell, ROUND(d.UnitPriceSell * e.QtyFilled, @PrecCurr)
	FROM dbo.tblSoTransHeader h 
	INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransId
	INNER JOIN dbo.tblSoTransDetailExt e ON d.TransId = e.TransId and d.EntryNum = e.EntryNum
	WHERE d.LottedYN = 1 AND e.LotNum IS NOT NULL AND e.QtyFilled <> 0 AND d.[Status] = 0 AND e.HistoryID > 0 --open line items, lotted

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_InHistory_proc'
GO
