USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoDailySalesTaxJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoDailySalesTaxJournal_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpSoDailyTax
	(
		TaxLocId [nvarchar](10) NOT NULL, 
		TaxClass tinyint NOT NULL DEFAULT (0), 
		TaxableAmt [decimal](28,10) NULL DEFAULT (0), 
		NontaxableAmt [decimal](28,10) NULL DEFAULT (0), 
		TaxCollected [decimal](28,10) NULL DEFAULT (0), 
		TaxCalculated [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpSoDailyTax (TaxLocId, TaxClass, TaxableAmt, NontaxableAmt, TaxCollected, TaxCalculated) 
	SELECT t.TaxLocID, t.TaxClass
		, SUM(SIGN(TransType) * Taxable) AS TaxableAmt
		, SUM(SIGN(TransType) * NonTaxable) AS NontaxableAmt
		, SUM(SIGN(TransType) * TaxAmt) AS TaxCollected
		, SUM(SIGN(TransType) * TaxAmt) AS TaxCalculated 
	FROM #tmpTransactionList m INNER JOIN dbo.tblSoTransHeader h ON m.TransId = h.TransId
			INNER JOIN dbo.tblSoTransTax t ON h.TransId = t.TransId
			INNER JOIN #tmpTaxLocactionList l ON t.TaxLocID = l.TaxLocID
	WHERE (h.TransType = 1 OR h.TransType = -1 OR h.TransType = 4) AND h.VoidYn = 0 
		AND (t.Taxable <> 0 OR t.NonTaxable <> 0) 
		AND (h.OrderState = 0 OR h.OrderState & 4 = 4 )
	GROUP BY t.TaxLocID, t.TaxClass

	INSERT INTO #tmpSoDailyTax (TaxLocId, TaxClass, TaxableAmt, NontaxableAmt, TaxCollected, TaxCalculated) 
	SELECT h.TaxLocAdj, h.TaxClassAdj, 0 AS TaxableAmt, 0 AS NontaxableAmt
		, SIGN(TransType) * TaxAmtAdj AS TaxCollected, 0 AS TaxCalculated 
	FROM #tmpTransactionList m INNER JOIN dbo.tblSoTransHeader h ON m.TransId = h.TransId
		INNER JOIN #tmpTaxLocactionList l ON h.TaxLocAdj = l.TaxLocID
	WHERE h.TaxLocAdj IS NOT NULL AND (h.TransType = 1 OR h.TransType = -1 OR h.TransType = 4) AND h.VoidYn = 0 
		AND h.TaxAmtAdj <> 0 AND (h.OrderState = 0 OR h.OrderState & 4 = 4 ) 

	SELECT t.TaxLocId, t.[Name], t.TaxAuthority, t.TaxId, t.GLAcct
		, CAST(t.TaxOnFreight AS tinyint) AS TaxOnFreight, CAST(t.TaxOnMisc AS tinyint) AS TaxOnMisc
		, c.TaxClassCode, c.[Desc], d.SalesTaxPct
		, SUM(x.TaxableAmt) AS TaxableAmt
		, SUM(x.NontaxableAmt) AS NontaxableAmt
		, SUM(x.TaxCollected) AS TaxCollected
		, SUM(x.TaxCalculated) AS TaxCalculated 
		, SUM(x.TaxCollected) - SUM(x.TaxCalculated) AS OverShort
	FROM dbo.tblSmTaxLoc t INNER JOIN dbo.tblSmTaxLocDetail d ON t.TaxLocId = d.TaxLocId 
		INNER JOIN #tmpSoDailyTax x ON d.TaxLocId = x.TaxLocID AND d.TaxClassCode = x.TaxClass
		INNER JOIN dbo.tblSmTaxClass c ON d.TaxClassCode = c.TaxClassCode
	GROUP BY t.TaxLocId, t.[Name], t.TaxAuthority, t.TaxId, t.GLAcct, CAST(t.TaxOnFreight AS tinyint)
		, CAST(t.TaxOnMisc AS tinyint), c.TaxClassCode, c.[Desc], d.SalesTaxPct 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoDailySalesTaxJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoDailySalesTaxJournal_proc'
GO
