USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SMUpdateEmployeeDefault_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SMUpdateEmployeeDefault_proc]
@SysDB sysname
AS
BEGIN TRY

CREATE TABLE #tmpUserDefaultID(ID uniqueidentifier NOT NULL, ContextId nvarchar(510), DefaultValue nvarchar(510))

INSERT INTO #tmpUserDefaultID(ID,ContextId, DefaultValue)
SELECT u.ID , l.ContextId,l.DefaultValue FROM  #tblSmUserDefault u
INNER JOIN #tmpUserDefaultList l ON u.AppId = l.AppId AND u.ValueId = l.ValueId

--For newly created insert into the table
INSERT INTO tblSmUserDefaultValue(DefaultId,ContextType,ContextId,DefaultValue)
SELECT t.ID,6,t.ContextId,t.DefaultValue
FROM #tmpUserDefaultID t
LEFT JOIN tblSmUserDefaultValue v ON t.ID = v.DefaultId AND t.ContextId= v.ContextId
WHERE v.ID IS NULL

UPDATE tblSmUserDefaultValue set DefaultValue = d.DefaultValue
FROM tblSmUserDefaultValue df
INNER JOIN #tmpUserDefaultID d ON df.DefaultId = d.ID AND df.ContextId = d.ContextId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SMUpdateEmployeeDefault_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SMUpdateEmployeeDefault_proc'
GO
