USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_SR_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_SR_Transactions_proc]
AS
BEGIN TRY
	--Get quantity precision
	DECLARE @QtyPrec tinyint, @MaxExtSeqNum int
	SELECT @QtyPrec = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'QtyPrec'  

	IF @QtyPrec IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END 

	/*SR Transactions*/
	BEGIN
		CREATE TABLE #tmpSrTransQtyExt (ExtSeqNum int NOT NULL, extId int NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE tblSrTransDetailExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE x.ExtLocA IS NULL --Missing bin
		AND d.LineType IN (1,-1)

		UPDATE tblSrMaterialChargeExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrMaterialCharge d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSrMaterialChargeExt x ON d.Id = x.MatlChargeId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE x.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblSrTransDetailSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSrTransDetailSer r ON d.TransID = r.TransId AND d.Id = r.LineDetailId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE  r.ExtLocA IS NULL --Missing bin
		AND d.LineType IN (1,-1)

		UPDATE dbo.tblSrMaterialChargeSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrMaterialCharge d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSrMaterialChargeSer r ON d.Id = r.MatlChargeId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE  r.ExtLocA IS NULL --Missing bin

		--Create missing tblSrTransDetailExt record
		INSERT INTO dbo.tblSrTransDetailExt (TransId, LineDetailId, LotNum, ExtLocA, ExtLocB, Quantity, UnitCost, UnitCostFgn, 
			HistSeqNum, QtySeqNum, QtySeqNum_Ext, Comment, CreditId)
		SELECT d.TransId,d.Id,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,d.Qty AS Quantity,d.UnitCost,d.UnitCostFgn,
			0 AS HistSeqNum,0 AS QtySeqNum, 0 AS QtySeqNum_Ext,NULL AS Comment,NULL AS CreditId
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			LEFT JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
		WHERE h.TransType > 1 AND x.Id IS NULL  --Sales, no extended detail
		AND d.LineType IN (1,-1)

		INSERT INTO dbo.tblSrMaterialChargeExt(MatlChargeId, LotNum, ExtLocA, ExtLocB, Qty, UnitCost, Comment, CreditId)
		SELECT d.Id, NULL AS LotNum, b.ExtLocA, NULL AS ExtLocB, d.Qty, d.UnitCost, NULL AS Comment, NULL AS CreditId
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrMaterialCharge d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
			LEFT JOIN dbo.tblSrMaterialChargeExt x ON d.Id = x.MatlChargeId
		WHERE x.Id IS NULL  --Charges, no extended detail

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)

		INSERT INTO #tmpSrTransQtyExt (ExtSeqNum, extId)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Unit = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --No closed, regular and non-lotted, no link to tblQtyOnHand_Ext record

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(-(x.Quantity * u.ConvFactor), @QtyPrec)
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Unit = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --No closed, regular non-lotted, no link to tblQtyOnHand_Ext record

		--Update tblSrTransDetailExt.QtySeqNum_Ext to link tblSrTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE tblSrTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSrTransQtyExt q ON x.Id = q.extId
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --No closed, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)

		INSERT INTO #tmpSrTransQtyExt (ExtSeqNum, extId)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,x.Id
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Unit = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty)
		SELECT ROW_NUMBER() OVER(ORDER BY x.Id) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,
		ROUND(-((SIGN(d.LineType)*(x.Quantity)) * u.ConvFactor), @QtyPrec)
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.Unit = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

		--Update tblSrTransDetailExt.QtySeqNum_Ext to link tblSrTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE tblSrTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum
		FROM dbo.tblSrTransHeader h INNER JOIN dbo.tblSrTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSrTransDetailExt x ON d.TransID = x.TransId AND d.Id = x.LineDetailId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSrTransQtyExt q ON x.Id = q.extId 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (2,3) AND h.TransStatus <> 1 AND d.LineType IN (1,-1)
		AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_SR_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_SR_Transactions_proc'
GO
