USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SdOrderAuditView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SdOrderAuditView_proc]  
  
AS  
BEGIN TRY  
 SET NOCOUNT ON  

SELECT t.WorkOrderNo,t.DispatchNo AS DispatchNo ,a.AuditType,a.EventTime ,a.ObjectId ,a.KeyValue,a.UserId,a.SessionId,
t.ActivityType AS [ObjectType] ,t.wId,a.SeqNo from dbo.tblSysAudit a 

INNER JOIN dbo.#tmpWorkOrders t ON t.SeqNo=a.SeqNo


END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  

  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SdOrderAuditView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SdOrderAuditView_proc'
GO
