USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TpAccountInformationView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TpAccountInformationView_proc]
@CustId pCustId -- =NULL

AS
BEGIN TRY
	SET NOCOUNT ON

SELECT p.[LastSaleInvc], p.[LastSaleDate], p.[CreditLimit], p.[TermsCode], p.[CurAmtDue], p.[NewFinch], p.[UnpaidFinch],
  p.[BalAge1], p.[BalAge2], p.[BalAge3], p.[BalAge4], p.[UnapplCredit],
  (p.[CurAmtDue] + p.[NewFinch] + p.[UnpaidFinch] + p.[BalAge1] + p.[BalAge2] + p.[BalAge3] + p.[BalAge4] - p.[UnapplCredit]) AS TotalDue
    FROM dbo.trav_tblArCust_view p
    where CustId = ISNULL(@CustId, CustId)
                              ORDER BY CustId Desc


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpAccountInformationView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TpAccountInformationView_proc'
GO
