USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SmTaxLocGroupList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SmTaxLocGroupList_proc]

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT g.TaxGrpID, g.[Desc], g.ReportMethod,g.TaxGroupType, d.LevelNo,	
			CASE WHEN d.LevelNo = 1 THEN LevelOne WHEN d.LevelNo = 2 THEN LevelTwo 	WHEN d.LevelNo = 3 THEN LevelThree
				WHEN d.LevelNo = 4 THEN LevelFour WHEN d.LevelNo = 5 THEN LevelFive END AS  TaxLocID,	
		   CASE WHEN d .Tax1 = 1 THEN 'X' ELSE '' END AS Tax1, 
           CASE WHEN d.Tax2 = 1 THEN 'X' ELSE '' END AS Tax2, CASE WHEN d.Tax3 = 1 THEN 'X' ELSE '' END AS Tax3, 
           CASE WHEN d.Tax4 = 1 THEN 'X' ELSE '' END AS Tax4
	FROM  dbo.tblSmTaxGroup AS g LEFT JOIN dbo.tblSmTaxGroupDetail AS d ON g.TaxGrpID = d.TaxGrpID
		  INNER JOIN #tmpTaxGroup t ON g.TaxGrpID = t.TaxGrpID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmTaxLocGroupList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmTaxLocGroupList_proc'
GO
