USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderPost_InHistory_proc]
AS
BEGIN TRY

	--Update location last info sale
    UPDATE dbo.tblInItemLoc SET DateLastSale = w.TransDate
	FROM dbo.tblInItemLoc l 
	INNER JOIN (
								SELECT MAX(w.TransDate) TransDate,w.ResourceID,w.LocID 
    							FROM #PostTransList t 
									INNER JOIN dbo.tblSvInvoiceHeader h ON t.TransID =h.TransID
									INNER JOIN dbo.tblSvInvoiceDetail d ON h.TransID =d.TransID
									INNER JOIN dbo.tblSvWorkOrderTrans w ON  d.WorkOrderTransID = w.ID 
								WHERE w.QtyUsed <> 0  -- Quantity
									AND w.TransType = 1 -- Part
									AND h.TransType > 0 -- Invoice
								GROUP BY w.ResourceID,w.LocID 
					)w ON l.ItemId = w.ResourceID AND l.LocId = w.LocID 
	WHERE  (l.DateLastSale IS NULL OR w.TransDate > l.DateLastSale)

	--Update location last info Sale Return
    UPDATE dbo.tblInItemLoc SET DateLastSaleRet = w.TransDate
	FROM dbo.tblInItemLoc l 
	INNER JOIN (
								SELECT MAX(w.TransDate) TransDate,w.ResourceID,w.LocID 
    							FROM #PostTransList t 
									INNER JOIN dbo.tblSvInvoiceHeader h ON t.TransID =h.TransID
									INNER JOIN dbo.tblSvInvoiceDetail d ON h.TransID =d.TransID
									INNER JOIN dbo.tblSvWorkOrderTrans w ON  d.WorkOrderTransID = w.ID 
								WHERE w.QtyUsed <> 0  -- Quantity
									AND w.TransType = 5 -- Part Return
									AND h.TransType > 0 -- Invoice
								GROUP BY w.ResourceID,w.LocID 
					)w ON l.ItemId = w.ResourceID AND l.LocId = w.LocID 
	WHERE  (l.DateLastSaleRet IS NULL OR w.TransDate > l.DateLastSaleRet)


	UPDATE dbo.tblInQty SET Qty = 0
	FROM #PostTransList t 
	INNER JOIN tblSvInvoiceHeader h ON t.TransID =h.TransID
	INNER JOIN tblSvInvoiceDetail d ON h.TransID =d.TransID
	INNER JOIN dbo.tblSvWorkOrderTrans w ON  d.WorkOrderTransID = w.ID
	INNER JOIN dbo.tblInQty  ON dbo.tblInQty.ID = W.QuantityCmtdID
	
		
	UPDATE dbo.tblInQty_Ext SET Qty = 0
	FROM #PostTransList t 
	INNER JOIN tblSvInvoiceHeader h ON t.TransID =h.TransID
	INNER JOIN tblSvInvoiceDetail d ON h.TransID =d.TransID
	--INNER JOIN dbo.tblSvWorkOrderTransExt w ON  d.WorkOrderTransID = w.ID
	INNER JOIN dbo.tblSvWorkOrderTrans dd ON  d.WorkOrderTransID = dd.ID
	INNER JOIN dbo.tblSvWorkOrderTransExt w ON dd.Id = w.Transid
	INNER JOIN dbo.tblInQty_Ext  ON dbo.tblInQty_Ext.ID = W.QuantityCmtdID
		

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT w.HistoryID, h.FiscalYear, h.FiscalPeriod, h.InvoiceDate, h.BatchId
	FROM #PostTransList t 
	INNER JOIN tblSvInvoiceHeader h ON t.TransID =h.TransID
	INNER JOIN tblSvInvoiceDetail d ON h.TransID =d.TransID
	INNER JOIN dbo.tblSvWorkOrderTrans w ON  d.WorkOrderTransID = w.ID
	WHERE ISNULL(w.HistoryID,0) > 0 AND w.QtyUsed <> 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT e.HistoryID, h.FiscalYear, h.FiscalPeriod, h.InvoiceDate, h.BatchId
	FROM #PostTransList t
		INNER JOIN tblSvInvoiceHeader h ON t.TransID =h.TransID
		INNER JOIN tblSvInvoiceDetail d ON h.TransID =d.TransID
		INNER JOIN dbo.tblSvWorkOrderTrans w ON  d.WorkOrderTransID = w.ID
		--INNER JOIN dbo.tblSvWorkOrderTransExt e ON w.Id = e.ID
		INNER JOIN dbo.tblSvWorkOrderTransExt e ON w.Id = e.TransID
		INNER JOIN dbo.tblInItem i ON w.ResourceID = i.ItemId 
	WHERE i.LottedYN = 1 AND e.LotNum IS NOT NULL AND e.QtyUsed <> 0 AND ISNULL(e.HistoryID,0) > 0 --Lotted

	EXEC dbo.trav_InUpdateHistory_proc
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_InHistory_proc'
GO
