USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SMGetEmployeeDefault_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SMGetEmployeeDefault_proc]
@SysDB sysname,
@ContextId nvarchar(510)
AS
BEGIN TRY
 
	CREATE TABLE #tmpUserDefaultList([Application] nvarchar(120) NOT NULL ,[Default] nvarchar(100) ,[Value] nvarchar(510), ValueId nvarchar (100) NOT NULL,AppId nvarchar(510) PRIMARY KEY CLUSTERED (AppId,ValueId))
	CREATE TABLE #tmpUserDefaultList1([Application] nvarchar(120) NOT NULL ,[Default] nvarchar(100) ,[Value] nvarchar(510), ValueId nvarchar (100) NOT NULL,AppId nvarchar(510) PRIMARY KEY CLUSTERED (AppId,ValueId))
	
	-- User Default value set  (Assigned ones)
	INSERT INTO #tmpUserDefaultList([Application],[Default],[Value],ValueId,AppId)
	SELECT  u.AppId +' - '+i.[Description] as [Application] ,u.CaptionId as [Default], v.DefaultValue as [Value],u.ValueId ,u.AppId
	FROM  #tblSmUserDefault u
	LEFT JOIN  dbo.tblSmUserDefaultValue v ON u.id  = v.DefaultId
	INNER JOIN  dbo.tblSmApp_Installed ai ON u.AppId = ai.AppID
	INNER JOIN  #tblSmApp i ON u.AppId = i.AppID
	WHERE v.ContextType = 6 AND v.ContextId = @ContextId 
	
	-- No user default value set (unassigned list)
	INSERT INTO #tmpUserDefaultList1([Application],[Default],[Value],ValueId,AppId)
	SELECT	u.AppId +' - '+i.[Description] as [Application] ,u.CaptionId as [Default], '' as [Value],u.ValueId ,u.AppId
	FROM	#tblSmUserDefault u
	INNER JOIN  dbo.tblSmApp_Installed ai ON u.AppId = ai.AppID
	INNER JOIN  #tblSmApp i ON u.AppId = i.AppID
	WHERE	u.ContextTypeList = '6'

	-- Remove Assigned ones from unassigned list
	DELETE FROM #tmpUserDefaultList1
	WHERE ValueId IN(SELECT ValueId FROM #tmpUserDefaultList)
	
	SELECT CASE WHEN [Application] IS NULL THEN NULL ELSE [Application] END AS [Application]
		 , CASE WHEN [Default] IS NULL THEN NULL ELSE [Default] END AS [Default]
		 , CASE WHEN [Value] IS NULL THEN NULL ELSE [Value] END AS [Value]
		 , CASE WHEN ValueId IS NULL THEN NULL ELSE ValueId END AS ValueId
		 , CASE WHEN AppId IS NULL THEN NULL ELSE AppId END AS AppId FROM #tmpUserDefaultList
	UNION
	SELECT  CASE WHEN [Application] IS NULL THEN NULL ELSE [Application] END AS [Application]
		 , CASE WHEN [Default] IS NULL THEN NULL ELSE [Default] END AS [Default]
		 , CASE WHEN [Value] IS NULL THEN NULL ELSE [Value] END AS [Value]
		 , CASE WHEN ValueId IS NULL THEN NULL ELSE ValueId END AS ValueId
		 , CASE WHEN AppId IS NULL THEN NULL ELSE AppId END AS AppId FROM #tmpUserDefaultList1	

 END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SMGetEmployeeDefault_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SMGetEmployeeDefault_proc'
GO
