USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoOpenOrderReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoOpenOrderReport_proc] 
@PrintNew bit = 1,
@PrintPicked bit = 0,
@PrintVerified bit = 0,
@PrintCredited bit = 0,
@PrintBackordered bit = 0,
@PrintQuoted bit = 0,
@PrintRMA bit = 0,
@PrintKitDetail bit = 0,
@SortBy tinyint = 0 --0, Customer ID; 1, Invoice Number; 2, Item ID; 3, Trans Type; 4, Req Ship Date
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #Tmp
	(
		TransId [nvarchar](8) NOT NULL, 
		TransType smallint NOT NULL, 
		BatchId [nvarchar](6) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		EntryNum smallint NOT NULL, 
		CustId [nvarchar](10) NULL, 
		Rep1Id [nvarchar](3) NULL, 
		Rep2Id [nvarchar](3) NULL, 
		TransDate datetime NULL, 
		ReqShipDate datetime NULL, 
		ActShipDate datetime NULL, 
		ItemJob tinyint NULL, 
		LocId [nvarchar](10) NULL, 
		ItemId [nvarchar](24) NULL, 
		Descr nvarchar (255) NULL, 
		UnitsSell [nvarchar](5) NULL, 
		GrpId int NULL, 
		Kit bit NULL, 
		KitComponent bit NULL, 
		UnitPriceSell [decimal](28,10) NULL, 
		OrigOrderQty [decimal](28,10) NULL, 
		QtyOrdSell [decimal](28,10) NULL, 
		QtyShipSell [decimal](28,10) NULL, 
		QtyBackordSell [decimal](28,10) NULL, 
		CurrencyId [nvarchar](6) NULL, 
		CurrMask nvarchar (50) NULL, 
		InItemYn bit NULL, 
		ConversionFactor [decimal](28,10) NULL, 
		ItemType tinyint NULL, 
		LottedYn bit NULL,
		LineSeq INT NULL
	)

	CREATE TABLE #tmpInQtyOnHand
	(
		ItemId [nvarchar](24) NOT NULL,
		LocId [nvarchar](10) NOT NULL,
		QtyOnHand [decimal](28,10) NOT NULL
	)

	CREATE TABLE #tmpInQtyCmtd
	(
		ItemId [nvarchar](24) NOT NULL,
		LocId [nvarchar](10) NOT NULL,
		QtyCmtd [decimal](28,10) NOT NULL
	)
	
	--Serial OnHand
	INSERT INTO #tmpInQtyOnHand(ItemId, LocId, QtyOnHand)
	SELECT DISTINCT q.ItemId, q.LocId, q.QtyOnHand
	FROM #tmpTransDetailList t INNER JOIN dbo.tblSoTransDetail d ON t.TransId = d.TransId AND t.EntryNum = d.EntryNum 
		INNER JOIN dbo.trav_InItemOnHandSer_view q ON d.ItemId = q.ItemId AND d.LocId = q.LocId 

	-- Regular OnHand
	INSERT INTO #tmpInQtyOnHand(ItemId, LocId, QtyOnHand)
	SELECT DISTINCT q.ItemId, q.LocId, q.QtyOnHand
	FROM #tmpTransDetailList t INNER JOIN dbo.tblSoTransDetail d ON t.TransId = d.TransId AND t.EntryNum = d.EntryNum 
		INNER JOIN dbo.trav_InItemOnHand_view q ON d.ItemId = q.ItemId AND d.LocId = q.LocId 

	-- Cmtd
	INSERT INTO #tmpInQtyCmtd(ItemId, LocId, QtyCmtd)
	SELECT DISTINCT q.ItemId, q.LocId, q.QtyCmtd
	FROM #tmpTransDetailList t INNER JOIN dbo.tblSoTransDetail d ON t.TransId = d.TransId AND t.EntryNum = d.EntryNum  
		INNER JOIN dbo.trav_InItemQtys_view q ON d.ItemId = q.ItemId AND d.LocId = q.LocId 

	-- capture all non-kit component records
	INSERT INTO #tmp (TransId, TransType, BatchId, InvcNum, EntryNum, CustId, Rep1Id, Rep2Id
	, TransDate, ReqShipDate, ActShipDate, ItemJob, LocId, ItemId, Descr, UnitsSell
	, GrpId, Kit, KitComponent, UnitPriceSell, OrigOrderQty, QtyOrdSell, QtyShipSell, QtyBackordSell
	, CurrencyId, CurrMask, InItemYn, ConversionFactor, ItemType, LottedYn, LineSeq) 
	SELECT h.TransId, h.TransType, h.BatchId, h.InvcNum, d.EntryNum, h.CustId AS CustId, h.Rep1Id, h.Rep2Id
		, h.TransDate, CASE WHEN d.ReqShipDate IS NULL THEN h.ReqShipDate ELSE d.ReqShipDate END
		, CASE WHEN d.QtyShipSell > 0 THEN ISNULL(d.ActShipDate, h.ActShipDate) ELSE NULL END as ActShipDate
		, d.ItemJob, d.LocId, d.ItemId, d.Descr, d.UnitsSell
		, d.GrpId, d.Kit, 0, UnitPriceSellFgn , d.OrigOrderQty, d.QtyOrdSell, d.QtyShipSell, d.QtyBackordSell, h.CurrencyID, '', d.InItemYn, d.ConversionFactor, d.ItemType, d.LottedYn 
		, d.LineSeq
	FROM dbo.tblSoTransHeader h INNER JOIN #tmpTransDetailList l ON h.TransId = l.TransId
		LEFT JOIN dbo.tblSoTransDetail d ON l.TransID = d.TransId AND l.EntryNum = d.EntryNum 
	WHERE 	((h.TransType = CASE WHEN @PrintNew = 1 THEN 9 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintPicked = 1 THEN 5 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintVerified = 1 THEN 4 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintVerified = 1 THEN 1 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintCredited = 1 THEN -1 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintBackOrdered = 1 THEN 3 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintQuoted = 1 THEN 2 ELSE 0 END) 
			OR (h.TransType = CASE WHEN @PrintRMA = 1 THEN -2 ELSE 0 END) )
		AND h.VoidYn = 0 AND d.GrpId IS NULL AND d.Status = 0

	-- add kit components for any detail records that were included
	IF @PrintKitDetail = 1
	BEGIN
		INSERT INTO #tmp (TransId, TransType, BatchId, InvcNum, EntryNum, CustId, Rep1Id, Rep2Id
			, TransDate, ReqShipDate, ActShipDate, ItemJob, LocId, ItemId, Descr, UnitsSell
			, GrpId, Kit, KitComponent, UnitPriceSell, OrigOrderQty, QtyOrdSell, QtyShipSell, QtyBackordSell
			, CurrencyId, CurrMask, InItemYn, ConversionFactor, ItemType, LottedYn, LineSeq) 
		SELECT h.TransId, h.TransType, h.BatchId, h.InvcNum, d.EntryNum, h.CustId AS CustId, h.Rep1Id, h.Rep2Id
			, h.TransDate, CASE WHEN d.ReqShipDate IS NULL THEN h.ReqShipDate ELSE d.ReqShipDate END
			, CASE WHEN d.QtyShipSell > 0 THEN ISNULL(d.ActShipDate, h.ActShipDate) ELSE NULL END as ActShipDate
			, d.ItemJob, d.LocId, d.ItemId, d.Descr, d.UnitsSell, d.GrpId, d.Kit, 1, 0
			, d.OrigOrderQty, d.QtyOrdSell, d.QtyShipSell, d.QtyBackordSell, h.CurrencyId, h.CurrMask, d.InItemYn
			, d.ConversionFactor, d.ItemType, d.LottedYn 
			, d.LineSeq
		FROM #tmp h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID AND h.EntryNum = d.GrpId 
		WHERE h.Kit = 1 AND NOT(d.GrpId IS NULL) AND d.Status = 0
	END

	-- return the resultset
	SELECT CASE @SortBy WHEN 0 THEN t.CustId WHEN 1 THEN t.InvcNum WHEN 2 THEN t.ItemId WHEN 3 THEN CAST(t.TransType AS nvarchar)
		WHEN 4 THEN CONVERT(nvarchar(8), t.ReqShipDate,112) END SortBy,
		t.TransId, t.TransType, t.BatchId, t.InvcNum, t.EntryNum, t.CustId, t.Rep1Id, t.Rep2Id,
		t.TransDate, t.ReqShipDate, t.ActShipDate, t.ItemJob, t.LocId, t.ItemId, t.Descr,
		(ISNULL(o.QtyOnHand,0) - ISNULL(q.QtyCmtd,0))/t.ConversionFactor AS QtyAvail, t.UnitsSell, t.GrpId, 
		t.KitComponent, t.UnitPriceSell, t.OrigOrderQty * SIGN(t.TransType) OrigOrderQty,
		t.QtyOrdSell * SIGN(t.TransType) QtyOrdSell, t.QtyShipSell * SIGN(t.TransType) QtyShipSell,
		t.QtyBackordSell * SIGN(t.TransType) QtyBackordSell,
		t.OrigOrderQty * t.UnitPriceSell * SIGN(t.TransType) AS OrigOrderAmt1,
		t.QtyOrdSell * t.UnitPriceSell * SIGN(t.TransType) AS AmtOrdSell1,
		t.QtyShipSell * t.UnitPriceSell * SIGN(t.TransType) AS AmtShipSell1,
		t.QtyBackordSell * t.UnitPriceSell * SIGN(t.TransType) AS AmtBackOrdSell1,
		t.OrigOrderQty * t.UnitPriceSell * SIGN(t.TransType) AS SubOrigOrderAmt1,
		t.QtyOrdSell * t.UnitPriceSell * SIGN(t.TransType) AS SubAmtOrdSell1,
		t.QtyShipSell * t.UnitPriceSell * SIGN(t.TransType) AS SubAmtShipSell1,
		t.QtyBackordSell * t.UnitPriceSell * SIGN(t.TransType) AS SubAmtBackordSell1,
		t.OrigOrderQty * t.UnitPriceSell * SIGN(t.TransType) AS GrandOrigOrderAmt1,
		t.QtyOrdSell * t.UnitPriceSell * SIGN(t.TransType) AS GrandAmtOrdSell1,
		t.QtyShipSell * t.UnitPriceSell * SIGN(t.TransType) AS GrandAmtShipSell1,
		t.QtyBackordSell * t.UnitPriceSell * SIGN(t.TransType) AS GrandAmtBackordSell1,
		t.InItemYn, t.ConversionFactor, t.ItemType, t.LottedYn, t.LineSeq, t.CurrencyId
	FROM  #tmp t LEFT JOIN #tmpInQtyOnHand o ON t.ItemId = o.ItemId AND t.LocId = o.LocId
		LEFT JOIN #tmpInQtyCmtd q ON t.ItemId = q.ItemId AND t.LocId = q.LocId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoOpenOrderReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoOpenOrderReport_proc'
GO
