USE [005]
GO
/****** Object:  Table [dbo].[tblBmWorkOrder]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmWorkOrder](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[TransDate] [datetime] NULL,
	[WorkType] [tinyint] NULL,
	[Status] [tinyint] NOT NULL,
	[PrintedYn] [bit] NOT NULL,
	[BmBomId] [int] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemType] [tinyint] NULL,
	[BuildUOM] [dbo].[pUom] NULL,
	[BuildQty] [dbo].[pDecimal] NULL,
	[ActualQty] [dbo].[pDecimal] NULL,
	[LaborCost] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[GLPeriod] [smallint] NULL,
	[GlYear] [smallint] NULL,
	[SumHistPeriod] [smallint] NULL,
	[QtySeqNum] [int] NULL,
	[HistSeqNum] [int] NULL,
	[WorkUser] [dbo].[pUserID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblBmWorkOrder] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlTransIdEntryNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlTransIdEntryNum] ON [dbo].[tblBmWorkOrder]
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_EntryNum]  DEFAULT ((-1)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_WorkType]  DEFAULT ((1)) FOR [WorkType]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_PrintedYn]  DEFAULT ((0)) FOR [PrintedYn]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_BuildQty]  DEFAULT ((0)) FOR [BuildQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_ActualQty]  DEFAULT ((0)) FOR [ActualQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_LaborCost]  DEFAULT ((0)) FOR [LaborCost]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_GlYear]  DEFAULT ((0)) FOR [GlYear]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_SumHistPeriod]  DEFAULT ((0)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrder] ADD  CONSTRAINT [DF_tblBmWorkOrder_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrder'
GO
