USE [005]
GO
/****** Object:  Table [dbo].[tblPsHistDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsHistDetail](
	[ID] [bigint] NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[ParentID] [bigint] NULL,
	[EntryNum] [int] NOT NULL,
	[LineSeq] [int] NOT NULL,
	[LineType] [smallint] NOT NULL,
	[ItemID] [dbo].[pItemID] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Unit] [dbo].[pUom] NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[TaxAmount] [dbo].[pDecimal] NOT NULL,
	[PromoID] [nvarchar](10) NULL,
	[SalesRepID] [dbo].[pSalesRep] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ResCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblPsHistDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPsHistDetail_ParentID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsHistDetail_ParentID] ON [dbo].[tblPsHistDetail]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblPsHistDetail_HeaderIDEntryNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPsHistDetail_HeaderIDEntryNum] ON [dbo].[tblPsHistDetail]
(
	[HeaderID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistDetail'
GO
