USE [005]
GO
/****** Object:  Table [dbo].[tblBrJrnlHeader]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrJrnlHeader](
	[TransID] [dbo].[pTransID] NOT NULL,
	[BankID] [dbo].[pBankID] NULL,
	[TransType] [smallint] NULL,
	[SourceID] [nvarchar](10) NULL,
	[Descr] [dbo].[pDescription] NULL,
	[TransDate] [datetime] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[Reference] [nvarchar](15) NULL,
	[Amount] [dbo].[pDecimal] NULL,
	[AmountFgn] [dbo].[pDecimal] NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[VoidYn] [bit] NULL,
	[VoidReinstateStat] [tinyint] NULL,
	[Ten99Yr] [tinyint] NULL,
	[CreateTransaction] [bit] NOT NULL,
	[CreateManualCheck] [bit] NOT NULL,
	[PayrollMonth] [smallint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBrJrnlHeader] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_TransType]  DEFAULT ((0)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_GLPeriod]  DEFAULT ((1)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_AmountFgn]  DEFAULT ((0)) FOR [AmountFgn]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_Ten99Yr]  DEFAULT ((1)) FOR [Ten99Yr]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_CreateTransaction]  DEFAULT ((1)) FOR [CreateTransaction]
GO
ALTER TABLE [dbo].[tblBrJrnlHeader] ADD  CONSTRAINT [DF_tblBrJrnlHeader_CreateManualCheck]  DEFAULT ((1)) FOR [CreateManualCheck]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrJrnlHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrJrnlHeader'
GO
