USE [005]
GO
/****** Object:  Table [dbo].[tblArHistDeposit]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistDeposit](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[CustId] [dbo].[pCustID] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NOT NULL,
	[CredMemNum] [dbo].[pInvoiceNum] NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[Description] [dbo].[pDescription] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[RecType] [tinyint] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[GLAcctReceivablesDeposit] [dbo].[pGlAcct] NOT NULL,
	[GLAcctReceivablesDepositContra] [dbo].[pGlAcct] NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[SourceId] [nvarchar](255) NULL,
	[ProjectName] [nvarchar](10) NULL,
	[ProjectDescription] [nvarchar](30) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[PhaseDescription] [nvarchar](30) NULL,
	[TaskId] [nvarchar](10) NULL,
	[TaskDescription] [nvarchar](30) NULL,
	[PrintOption] [nvarchar](255) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblArHistDeposit] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistDeposit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistDeposit'
GO
