USE [005]
GO
/****** Object:  Table [dbo].[_RCG_tblRcBankTransDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_RCG_tblRcBankTransDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankFileImportId] [int] NULL,
	[WebCompId] [nchar](3) NULL,
	[CustId] [nvarchar](10) NULL,
	[InvcNum] [nvarchar](15) NULL,
	[Amt] [decimal](28, 10) NULL,
	[InvcCounter] [int] NULL,
	[DiscAmt] [decimal](28, 10) NULL,
 CONSTRAINT [PK__RCG_tblRcBankTransDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcBankTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcBankTransDetail'
GO
