USE [005]
GO
/****** Object:  Table [dbo].[tblWMBOLHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWMBOLHeader](
	[BOLRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BOLNum] [nvarchar](17) NOT NULL,
	[ShipDate] [datetime] NULL,
	[ShipFromId] [dbo].[pLocID] NULL,
	[ShipFromName] [nvarchar](35) NULL,
	[ShipFromAddr1] [nvarchar](30) NULL,
	[ShipFromAddr2] [nvarchar](60) NULL,
	[ShipFromCity] [nvarchar](30) NULL,
	[ShipFromRegion] [nvarchar](10) NULL,
	[ShipFromCountry] [dbo].[pCountry] NULL,
	[ShipFromPostalCode] [nvarchar](10) NULL,
	[ShipFromFOBYn] [bit] NOT NULL,
	[SIDNumber] [dbo].[pInvoiceNum] NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipToFOBYn] [bit] NOT NULL,
	[ShipToLocNo] [nvarchar](10) NULL,
	[CIDNumber] [dbo].[pInvoiceNum] NULL,
	[BillToId] [dbo].[pCustID] NULL,
	[BillToName] [nvarchar](30) NULL,
	[BillToAddr1] [nvarchar](30) NULL,
	[BillToAddr2] [nvarchar](60) NULL,
	[BillToCity] [nvarchar](30) NULL,
	[BillToRegion] [nvarchar](10) NULL,
	[BillToCountry] [dbo].[pCountry] NULL,
	[BillToPostalCode] [nvarchar](10) NULL,
	[CarrierName] [nvarchar](30) NULL,
	[CarrierSCAC] [nvarchar](4) NULL,
	[CarrierPRO] [nvarchar](20) NULL,
	[VehicleNumber] [nvarchar](16) NULL,
	[SealNumber] [nvarchar](16) NULL,
	[CODFeeType] [tinyint] NOT NULL,
	[CODAmount] [dbo].[pDecimal] NOT NULL,
	[FreightFeeType] [tinyint] NOT NULL,
	[EmergencyPhone] [nvarchar](20) NULL,
	[EmergencyEXT] [nvarchar](6) NULL,
	[DeclaredValue] [dbo].[pDecimal] NOT NULL,
	[DeclaredValueUnit] [nvarchar](8) NULL,
	[CustId] [dbo].[pCustID] NULL,
	[SpecialInst] [nvarchar](max) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblWMBOLHeader] PRIMARY KEY CLUSTERED 
(
	[BOLRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblWMBOLHeader_BOLNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblWMBOLHeader_BOLNum] ON [dbo].[tblWMBOLHeader]
(
	[BOLNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_ShipDate]  DEFAULT (getdate()) FOR [ShipDate]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_ShipFromFOBYn]  DEFAULT ((0)) FOR [ShipFromFOBYn]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_ShipToFOBYn]  DEFAULT ((0)) FOR [ShipToFOBYn]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_CODFeeType]  DEFAULT ((0)) FOR [CODFeeType]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_CODAmount]  DEFAULT ((0)) FOR [CODAmount]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_FreightFeeType]  DEFAULT ((0)) FOR [FreightFeeType]
GO
ALTER TABLE [dbo].[tblWMBOLHeader] ADD  CONSTRAINT [DF_tblWMBOLHeader_DeclaredValue]  DEFAULT ((0)) FOR [DeclaredValue]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLHeader'
GO
