USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransEquipTestDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransEquipTestDetail](
	[Id] [bigint] NOT NULL,
	[EquipTestHdrID] [bigint] NOT NULL,
	[TestElementID] [nvarchar](2) NOT NULL,
	[TestElementValue] [dbo].[pDecimal] NOT NULL,
	[TestDate] [datetime] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrTransEquipTestDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransEquipTestDetail] ADD  CONSTRAINT [DF_tblSrTransEquipTestDetail_TestElementValue]  DEFAULT ((0)) FOR [TestElementValue]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransEquipTestDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransEquipTestDetail'
GO
