USE [005]
GO
/****** Object:  Table [dbo].[tblSmPeriodConversion]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmPeriodConversion](
	[GlYear] [smallint] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[BegDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ClosedGL] [bit] NULL,
	[ClosedAP] [bit] NULL,
	[ClosedAR] [bit] NULL,
	[ClosedIN] [bit] NULL,
	[ClosedSO] [bit] NULL,
	[ClosedPO] [bit] NULL,
	[ClosedBR] [bit] NULL,
	[ClosedPA] [bit] NULL,
	[ClosedFA] [bit] NULL,
	[ClosedBM] [bit] NULL,
	[ClosedPC] [bit] NULL,
	[ClosedJC] [bit] NULL,
	[ClosedMR] [bit] NULL,
	[ClosedMP] [bit] NULL,
	[ClosedMB] [bit] NULL,
	[ClosedMF] [bit] NULL,
	[ClosedF4] [bit] NULL,
	[ClosedF5] [bit] NULL,
	[Notes] [nvarchar](255) NULL,
	[ts] [timestamp] NULL,
	[ClosedSD] [bit] NOT NULL,
	[ClosedPS] [bit] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_tblSmPeriodConversion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblSmPeriodConversion]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSmPeriodConversion] ON [dbo].[tblSmPeriodConversion]
(
	[GlYear] ASC,
	[GlPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedGL]  DEFAULT ((0)) FOR [ClosedGL]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedAP]  DEFAULT ((0)) FOR [ClosedAP]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedAR]  DEFAULT ((0)) FOR [ClosedAR]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedIN]  DEFAULT ((0)) FOR [ClosedIN]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedSO]  DEFAULT ((0)) FOR [ClosedSO]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedPO]  DEFAULT ((0)) FOR [ClosedPO]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedBR]  DEFAULT ((0)) FOR [ClosedBR]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedPA]  DEFAULT ((0)) FOR [ClosedPA]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedFA]  DEFAULT ((0)) FOR [ClosedFA]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedBM]  DEFAULT ((0)) FOR [ClosedBM]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedPC]  DEFAULT ((0)) FOR [ClosedPC]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedJC]  DEFAULT ((0)) FOR [ClosedJC]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedMR]  DEFAULT ((0)) FOR [ClosedMR]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedMP]  DEFAULT ((0)) FOR [ClosedMP]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedMB]  DEFAULT ((0)) FOR [ClosedMB]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedMF]  DEFAULT ((0)) FOR [ClosedMF]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedF4]  DEFAULT ((0)) FOR [ClosedF4]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedF5]  DEFAULT ((0)) FOR [ClosedF5]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedSD]  DEFAULT ((0)) FOR [ClosedSD]
GO
ALTER TABLE [dbo].[tblSmPeriodConversion] ADD  CONSTRAINT [DF_tblSmPeriodConversion_ClosedPS]  DEFAULT ((0)) FOR [ClosedPS]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmPeriodConversion'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmPeriodConversion'
GO
