USE [005]
GO
/****** Object:  Table [dbo].[tblEcPackShipment]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPackShipment](
	[ID] [bigint] NOT NULL,
	[CustId] [dbo].[pCustID] NOT NULL,
	[CustPoNum] [nvarchar](75) NULL,
	[ShiptoId] [dbo].[pCustID] NOT NULL,
	[PartnerID] [bigint] NULL,
	[ShipViaCode] [nvarchar](6) NULL,
	[BillofLading] [nvarchar](50) NULL,
	[VICSBillofLading] [nvarchar](50) NULL,
	[MasterBillofLading] [nvarchar](50) NULL,
	[ProNumber] [nvarchar](25) NULL,
	[ShipRequestID] [nvarchar](50) NULL,
	[Weight] [dbo].[pDecimal] NOT NULL,
	[ShipDate] [datetime] NULL,
	[ShipCost] [dbo].[pDecimal] NOT NULL,
	[ExpDeliveryDate] [datetime] NULL,
	[LoadId] [nvarchar](20) NULL,
	[ShipmentStatus] [int] NULL,
	[ContainersInShipment] [int] NULL,
	[ContainerUOM] [dbo].[pUom] NULL,
	[WeightUOM] [nvarchar](10) NULL,
	[SCAC] [nvarchar](4) NULL,
	[ShipToCode] [nvarchar](4) NULL,
	[MethodOfPay] [nvarchar](10) NULL,
	[TransMethodCode] [nvarchar](1) NULL,
	[ShipFromLocation] [nvarchar](25) NULL,
	[ShipFromCompany] [nvarchar](25) NULL,
	[HLCount] [int] NULL,
	[TransSetPurposeCode] [nvarchar](2) NULL,
	[IsEdiYN] [bit] NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[WrkStnID] [dbo].[pWrkStnID] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[ShipVia] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblEcPackShipment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPackShipment] ADD  CONSTRAINT [DF_tblEcPackShipment_ShipmentStatus]  DEFAULT ((0)) FOR [ShipmentStatus]
GO
ALTER TABLE [dbo].[tblEcPackShipment] ADD  CONSTRAINT [DF_tblEcPackShipment_IsEdiYN]  DEFAULT ((0)) FOR [IsEdiYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackShipment'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackShipment'
GO
