USE [005]
GO
/****** Object:  Table [dbo].[tblWmPutAwayRequest]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmPutAwayRequest](
	[ID] [bigint] NOT NULL,
	[ParentID] [bigint] NULL,
	[TransKey] [int] NULL,
	[TransType] [tinyint] NOT NULL,
	[TransId] [nvarchar](20) NULL,
	[EntryNum] [bigint] NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[Source] [tinyint] NOT NULL,
	[QtyReq] [dbo].[pDecimal] NOT NULL,
	[QtyFilled] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_tblWmPutAwayRequest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmPutAwayRequest] ADD  CONSTRAINT [DF_tblWmPutAwayRequest_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPutAwayRequest'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPutAwayRequest'
GO
