USE [005]
GO
/****** Object:  Table [dbo].[tblPsQtyInfo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsQtyInfo](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[QtyOnHand] [dbo].[pDecimal] NOT NULL,
	[QtyCmtd] [dbo].[pDecimal] NOT NULL,
	[QtyOnOrder] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPsQtyInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPsQtyInfo_ItemIdLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsQtyInfo_ItemIdLocId] ON [dbo].[tblPsQtyInfo]
(
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsQtyInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsQtyInfo'
GO
