USE [005]
GO
/****** Object:  Table [dbo].[X_Aliases]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_Aliases](
	[AliasID] [nvarchar](255) NULL,
	[AliasType] [nvarchar](255) NULL,
	[RefID] [nvarchar](255) NULL,
	[TravItemId] [nvarchar](255) NULL,
	[FG Program] [nvarchar](255) NULL,
	[ProductLotDesignation] [nvarchar](255) NULL,
	[Alias Description] [nvarchar](255) NULL,
	[Spec] [nvarchar](255) NULL
) ON [PRIMARY]
GO
