USE [005]
GO
/****** Object:  Table [dbo].[tblSmSMTPSettings]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmSMTPSettings](
	[ID] [bigint] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Server] [nvarchar](255) NULL,
	[Port] [int] NOT NULL,
	[EnableSSL] [bit] NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](max) NULL,
	[Certificate] [nvarchar](255) NULL,
	[SenderName] [nvarchar](255) NULL,
	[SenderEmail] [dbo].[pEmail] NOT NULL,
	[ReplyTo] [dbo].[pEmail] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[MailType] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSmSMTPSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Description]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Description] ON [dbo].[tblSmSMTPSettings]
(
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmSMTPSettings] ADD  CONSTRAINT [DF_tblSmSMTPSettings_EnableSSL]  DEFAULT ((0)) FOR [EnableSSL]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmSMTPSettings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmSMTPSettings'
GO
