USE [005]
GO
/****** Object:  Table [dbo].[tblSrTimeCardTrans]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTimeCardTrans](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[LineStatus] [int] NOT NULL,
	[LaborCode] [nvarchar](6) NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[RateType] [tinyint] NOT NULL,
	[EarningCode] [dbo].[pCode] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCostFgn] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCost] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtCostFgn] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NOT NULL,
	[Reference] [nvarchar](35) NULL,
	[TransDate] [datetime] NOT NULL,
	[PaYear] [smallint] NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctBurdenCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctPayrollClearingLabor] [dbo].[pGlAcct] NULL,
	[GLAcctLaborWIP] [dbo].[pGlAcct] NULL,
	[GLAcctPayrollClearingLaborBurden] [dbo].[pGlAcct] NULL,
	[GLAcctLaborBurdenWIP] [dbo].[pGlAcct] NULL,
	[BillingTransId] [dbo].[pTransID] NULL,
	[BillingEntryNum] [int] NULL,
	[BillingPostRun] [dbo].[pPostRun] NULL,
	[EntryDate] [datetime] NOT NULL,
	[UserId] [dbo].[pUserID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrTimeCardTrans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_LineStatus]  DEFAULT ((0)) FOR [LineStatus]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_RateType]  DEFAULT ((1)) FOR [RateType]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_BurdenCost]  DEFAULT ((0)) FOR [BurdenCost]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_BurdenCostFgn]  DEFAULT ((0)) FOR [BurdenCostFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_CombinedUnitCost]  DEFAULT ((0)) FOR [CombinedUnitCost]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_CombinedUnitCostFgn]  DEFAULT ((0)) FOR [CombinedUnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_UnitPriceFgn]  DEFAULT ((0)) FOR [UnitPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_ExtPriceFgn]  DEFAULT ((0)) FOR [ExtPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblSrTimeCardTrans] ADD  CONSTRAINT [DF_tblSrTimeCardTrans_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTimeCardTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTimeCardTrans'
GO
