USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransInvoiceTot]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransInvoiceTot](
	[ID] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NOT NULL,
	[Status] [tinyint] NULL,
	[InvcDate] [datetime] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[Ten99InvoiceYN] [bit] NULL,
	[CurrTaxable] [dbo].[pDecimal] NULL,
	[CurrNonTaxable] [dbo].[pDecimal] NULL,
	[CurrSalesTax] [dbo].[pDecimal] NULL,
	[CurrFreight] [dbo].[pDecimal] NULL,
	[CurrMisc] [dbo].[pDecimal] NULL,
	[CurrDisc] [dbo].[pDecimal] NULL,
	[CurrPrepaid] [dbo].[pDecimal] NULL,
	[CurrTaxableFgn] [dbo].[pDecimal] NULL,
	[CurrNonTaxableFgn] [dbo].[pDecimal] NULL,
	[CurrSalesTaxFgn] [dbo].[pDecimal] NULL,
	[CurrFreightFgn] [dbo].[pDecimal] NULL,
	[CurrMiscFgn] [dbo].[pDecimal] NULL,
	[CurrDiscFgn] [dbo].[pDecimal] NULL,
	[CurrPrepaidFgn] [dbo].[pDecimal] NULL,
	[PostTaxable] [dbo].[pDecimal] NULL,
	[PostNonTaxable] [dbo].[pDecimal] NULL,
	[PostSalesTax] [dbo].[pDecimal] NULL,
	[PostFreight] [dbo].[pDecimal] NULL,
	[PostMisc] [dbo].[pDecimal] NULL,
	[PostDisc] [dbo].[pDecimal] NULL,
	[PostPrepaid] [dbo].[pDecimal] NULL,
	[PostTaxableFgn] [dbo].[pDecimal] NULL,
	[PostNonTaxableFgn] [dbo].[pDecimal] NULL,
	[PostSalesTaxFgn] [dbo].[pDecimal] NULL,
	[PostFreightFgn] [dbo].[pDecimal] NULL,
	[PostMiscFgn] [dbo].[pDecimal] NULL,
	[PostDiscFgn] [dbo].[pDecimal] NULL,
	[PostPrepaidFgn] [dbo].[pDecimal] NULL,
	[CurrCheckNo] [dbo].[pCheckNum] NULL,
	[CurrCheckDate] [datetime] NULL,
	[CurrBankID] [dbo].[pBankID] NULL,
	[CurrChkGlPeriod] [smallint] NULL,
	[CurrChkFiscalYear] [smallint] NULL,
	[CurrDueDate1] [datetime] NULL,
	[CurrDueDate2] [datetime] NULL,
	[CurrDueDate3] [datetime] NULL,
	[CurrPmtAmt1] [dbo].[pDecimal] NULL,
	[CurrPmtAmt2] [dbo].[pDecimal] NULL,
	[CurrPmtAmt3] [dbo].[pDecimal] NULL,
	[CurrPmtAmt1Fgn] [dbo].[pDecimal] NULL,
	[CurrPmtAmt2Fgn] [dbo].[pDecimal] NULL,
	[CurrPmtAmt3Fgn] [dbo].[pDecimal] NULL,
	[CurrTaxClassFreight] [tinyint] NULL,
	[CurrTaxClassMisc] [tinyint] NULL,
	[CurrTaxAdjClass] [tinyint] NULL,
	[CurrTaxAdjLocID] [dbo].[pTaxLoc] NULL,
	[CurrTaxAdjAmt] [dbo].[pDecimal] NULL,
	[CurrTaxAdjAmtFgn] [dbo].[pDecimal] NULL,
	[InvoiceExchRate] [dbo].[pDecimal] NOT NULL,
	[PmtCurrencyId] [dbo].[pCurrency] NULL,
	[PmtExchRate] [dbo].[pDecimal] NOT NULL,
	[DiscDueDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoTransInvoiceTot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPoTransInvoiceTot]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPoTransInvoiceTot] ON [dbo].[tblPoTransInvoiceTot]
(
	[TransId] ASC,
	[InvcNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_InvcDate]  DEFAULT (getdate()) FOR [InvcDate]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_Ten99InvoiceYN]  DEFAULT ((0)) FOR [Ten99InvoiceYN]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxable]  DEFAULT ((0)) FOR [CurrTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrNonTaxable]  DEFAULT ((0)) FOR [CurrNonTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrSalesTax]  DEFAULT ((0)) FOR [CurrSalesTax]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrFreight]  DEFAULT ((0)) FOR [CurrFreight]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrMisc]  DEFAULT ((0)) FOR [CurrMisc]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrDisc]  DEFAULT ((0)) FOR [CurrDisc]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPrepaid]  DEFAULT ((0)) FOR [CurrPrepaid]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxableFgn]  DEFAULT ((0)) FOR [CurrTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrNonTaxableFgn]  DEFAULT ((0)) FOR [CurrNonTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrSalesTaxFgn]  DEFAULT ((0)) FOR [CurrSalesTaxFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrFreightFgn]  DEFAULT ((0)) FOR [CurrFreightFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrMiscFgn]  DEFAULT ((0)) FOR [CurrMiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrDiscFgn]  DEFAULT ((0)) FOR [CurrDiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPrepaidFgn]  DEFAULT ((0)) FOR [CurrPrepaidFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostTaxable]  DEFAULT ((0)) FOR [PostTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostNonTaxable]  DEFAULT ((0)) FOR [PostNonTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostSalesTax]  DEFAULT ((0)) FOR [PostSalesTax]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostFreight]  DEFAULT ((0)) FOR [PostFreight]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostMisc]  DEFAULT ((0)) FOR [PostMisc]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostDisc]  DEFAULT ((0)) FOR [PostDisc]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostPrepaid]  DEFAULT ((0)) FOR [PostPrepaid]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostTaxableFgn]  DEFAULT ((0)) FOR [PostTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostNonTaxableFgn]  DEFAULT ((0)) FOR [PostNonTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostSalesTaxFgn]  DEFAULT ((0)) FOR [PostSalesTaxFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostFreightFgn]  DEFAULT ((0)) FOR [PostFreightFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostMiscFgn]  DEFAULT ((0)) FOR [PostMiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostDiscFgn]  DEFAULT ((0)) FOR [PostDiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PostPrepaidFgn]  DEFAULT ((0)) FOR [PostPrepaidFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt1]  DEFAULT ((0)) FOR [CurrPmtAmt1]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt2]  DEFAULT ((0)) FOR [CurrPmtAmt2]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt3]  DEFAULT ((0)) FOR [CurrPmtAmt3]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt1Fgn]  DEFAULT ((0)) FOR [CurrPmtAmt1Fgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt2Fgn]  DEFAULT ((0)) FOR [CurrPmtAmt2Fgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrPmtAmt3Fgn]  DEFAULT ((0)) FOR [CurrPmtAmt3Fgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxClassFreight]  DEFAULT ((0)) FOR [CurrTaxClassFreight]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxClassMisc]  DEFAULT ((0)) FOR [CurrTaxClassMisc]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxAdjClass]  DEFAULT ((0)) FOR [CurrTaxAdjClass]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxAdjAmt]  DEFAULT ((0)) FOR [CurrTaxAdjAmt]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_CurrTaxAdjAmtFgn]  DEFAULT ((0)) FOR [CurrTaxAdjAmtFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_InvoiceExchRate]  DEFAULT ((1)) FOR [InvoiceExchRate]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTot] ADD  CONSTRAINT [DF_tblPoTransInvoiceTot_PmtExchRate]  DEFAULT ((1)) FOR [PmtExchRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoiceTot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoiceTot'
GO
