USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLocLot]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLocLot](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NOT NULL,
	[LotStatus] [tinyint] NULL,
	[InitialDate] [datetime] NULL,
	[ExpDate] [datetime] NULL,
	[VendID] [dbo].[pVendorID] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemLocLot] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC,
	[LotNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLocLot] ADD  CONSTRAINT [DF_tblInItemLocLot_LotStatus]  DEFAULT ((1)) FOR [LotStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocLot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocLot'
GO
