USE [005]
GO
/****** Object:  Table [dbo].[tblPaInfoUnempRep]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaInfoUnempRep](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[State] [nchar](2) NOT NULL,
	[FieldNumberOfSsn] [tinyint] NOT NULL,
	[FieldNumberOfName] [tinyint] NOT NULL,
	[FieldNumberOfTotalWages] [tinyint] NOT NULL,
	[FieldNumberOfExcessWage] [tinyint] NOT NULL,
	[FieldNumberOfTaxWages] [tinyint] NOT NULL,
	[FieldNumberOfWksWorked] [tinyint] NOT NULL,
	[FieldNumberOfHrsWorked] [tinyint] NOT NULL,
	[SuiMonth] [tinyint] NOT NULL,
	[PrinZeroEarnFlag] [bit] NOT NULL,
	[SortByFlag] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaInfoUnempRep] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPaInfoUnempRep_PaYearState]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPaInfoUnempRep_PaYearState] ON [dbo].[tblPaInfoUnempRep]
(
	[PaYear] ASC,
	[State] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaInfoUnempRep] ADD  CONSTRAINT [DF_tblPaInfoUnempRep_PrinZeroEarnFlag]  DEFAULT ((0)) FOR [PrinZeroEarnFlag]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaInfoUnempRep'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaInfoUnempRep'
GO
