USE [005]
GO
/****** Object:  Table [dbo].[tblSvHistoryWorkOrderDispatchCoverage]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvHistoryWorkOrderDispatchCoverage](
	[ID] [bigint] NOT NULL,
	[DispatchID] [bigint] NOT NULL,
	[CoveredByType] [tinyint] NOT NULL,
	[CoveredById] [bigint] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[CoverageType] [tinyint] NOT NULL,
	[BillingType] [nvarchar](10) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ContractNo] [nvarchar](8) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblSvHistoryWorkOrderDispatchCoverage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvHistoryWorkOrderDispatchCoverage] ADD  CONSTRAINT [DF_tblSvHistoryWorkOrderDispatchCoverage_CoverageType]  DEFAULT ((0)) FOR [CoverageType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderDispatchCoverage'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderDispatchCoverage'
GO
