USE [005]
GO
/****** Object:  Table [dbo].[tblInItemUom]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemUom](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[PenaltyType] [tinyint] NULL,
	[PenaltyAmt] [dbo].[pDecimal] NULL,
	[UPCcode] [nvarchar](24) NULL,
	[MinSaleQty] [dbo].[pDecimal] NULL,
	[Weight] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemUom] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[Uom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [sqlConvFactor]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlConvFactor] ON [dbo].[tblInItemUom]
(
	[ConvFactor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemUom] ADD  CONSTRAINT [DF_tblInItemUom_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblInItemUom] ADD  CONSTRAINT [DF_tblInItemUom_PenaltyType]  DEFAULT ((0)) FOR [PenaltyType]
GO
ALTER TABLE [dbo].[tblInItemUom] ADD  CONSTRAINT [DF_tblInItemUom_PenaltyAmt]  DEFAULT ((0)) FOR [PenaltyAmt]
GO
ALTER TABLE [dbo].[tblInItemUom] ADD  CONSTRAINT [DF_tblInItemUom_MinSaleQty]  DEFAULT ((0)) FOR [MinSaleQty]
GO
ALTER TABLE [dbo].[tblInItemUom] ADD  CONSTRAINT [DF_tblInItemUom_Weight]  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[tblInItemUom]  WITH NOCHECK ADD  CONSTRAINT [CK_tblInItemUom] CHECK  (([ConvFactor]<>(0)))
GO
ALTER TABLE [dbo].[tblInItemUom] CHECK CONSTRAINT [CK_tblInItemUom]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemUom'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemUom'
GO
