USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndSalary]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndSalary](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Salary] [dbo].[pDecimal] NOT NULL,
	[HourlyRate] [dbo].[pDecimal] NOT NULL,
	[PayType] [tinyint] NOT NULL,
	[ExemptFromOvertime] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndSalary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndSalary_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndSalary_IndId] ON [dbo].[tblHrIndSalary]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndSalary] ADD  CONSTRAINT [DF_tblHrIndSalary_Salary]  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[tblHrIndSalary] ADD  CONSTRAINT [DF_tblHrIndSalary_HourlyRate]  DEFAULT ((0)) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[tblHrIndSalary] ADD  CONSTRAINT [DF_tblHrIndSalary_PayType]  DEFAULT ((0)) FOR [PayType]
GO
ALTER TABLE [dbo].[tblHrIndSalary] ADD  CONSTRAINT [DF_tblHrIndSalary_ExemptFromOvertime]  DEFAULT ((0)) FOR [ExemptFromOvertime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndSalary'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndSalary'
GO
