USE [005]
GO
/****** Object:  Table [dbo].[tblArHistRecur]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistRecur](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Source] [tinyint] NOT NULL,
	[RecurId] [nvarchar](8) NOT NULL,
	[CopyDate] [datetime] NOT NULL,
	[BillDate] [datetime] NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[UserId] [dbo].[pUserID] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblArHistRecur] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblArHistRecur_PostRunSourceTransIDBillDate]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArHistRecur_PostRunSourceTransIDBillDate] ON [dbo].[tblArHistRecur]
(
	[PostRun] ASC,
	[Source] ASC,
	[TransId] ASC,
	[BillDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArHistRecur] ADD  CONSTRAINT [DF_tblArHistRecur_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblArHistRecur] ADD  CONSTRAINT [DF_tblArHistRecur_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistRecur'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistRecur'
GO
