USE [005]
GO
/****** Object:  Table [dbo].[tblWmPick]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmPick](
	[PickKey] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Status] [tinyint] NOT NULL,
	[SourceId] [tinyint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [bigint] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[PickNum] [dbo].[pInvoiceNum] NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[QtyPicked] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[GrpId] [int] NULL,
	[UID] [dbo].[pUserID] NULL,
	[HostId] [dbo].[pWrkStnID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[Type] [tinyint] NOT NULL,
	[ExtLocATo] [int] NULL,
	[ExtLocBTo] [int] NULL,
	[PackNumber] [dbo].[pInvoiceNum] NULL,
	[ExtHistSeqNum] [int] NULL,
 CONSTRAINT [PK_tblWmPick] PRIMARY KEY CLUSTERED 
(
	[PickKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmPick_SourceIdTransIdEntryNumSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmPick_SourceIdTransIdEntryNumSeqNum] ON [dbo].[tblWmPick]
(
	[SourceId] ASC,
	[TransId] ASC,
	[EntryNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmPick_UserIdWrkStnId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmPick_UserIdWrkStnId] ON [dbo].[tblWmPick]
(
	[UID] ASC,
	[HostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmPick] ADD  CONSTRAINT [DF_tblWmPick_QtyPicked]  DEFAULT ((0)) FOR [QtyPicked]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPick'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPick'
GO
