USE [005]
GO
/****** Object:  Table [dbo].[tblArCashRcptDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArCashRcptDetail](
	[RcptDetailID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RcptHeaderID] [int] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NOT NULL,
	[InvcType] [smallint] NOT NULL,
	[OrgInvoiceID] [int] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[PmtAmt] [dbo].[pDecimal] NULL,
	[Difference] [dbo].[pDecimal] NULL,
	[PmtAmtFgn] [dbo].[pDecimal] NULL,
	[DifferenceFgn] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[AdjAmt] [dbo].[pDecimal] NOT NULL,
	[AdjAmtFgn] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblArCashRcptDetail] PRIMARY KEY CLUSTERED 
(
	[RcptDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArCashRcptDetail_RcptHeaderID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArCashRcptDetail_RcptHeaderID] ON [dbo].[tblArCashRcptDetail]
(
	[RcptHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_RcptHeaderID]  DEFAULT ((0)) FOR [RcptHeaderID]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_InvcType]  DEFAULT ((1)) FOR [InvcType]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_PmtAmt]  DEFAULT ((0)) FOR [PmtAmt]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_Difference]  DEFAULT ((0)) FOR [Difference]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_PmtAmtFgn]  DEFAULT ((0)) FOR [PmtAmtFgn]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_DifferenceFgn]  DEFAULT ((0)) FOR [DifferenceFgn]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_AdjAmt]  DEFAULT ((0)) FOR [AdjAmt]
GO
ALTER TABLE [dbo].[tblArCashRcptDetail] ADD  CONSTRAINT [DF_tblArCashRcptDetail_AdjAmtFgn]  DEFAULT ((0)) FOR [AdjAmtFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCashRcptDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCashRcptDetail'
GO
