USE [005]
GO
/****** Object:  Table [dbo].[tblPcInvoiceDeposit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcInvoiceDeposit](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[ProjectDetailId] [int] NOT NULL,
	[DepositAmtAvail] [dbo].[pDecimal] NOT NULL,
	[DepositAmtApply] [dbo].[pDecimal] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcInvoiceDeposit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlTransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTransId] ON [dbo].[tblPcInvoiceDeposit]
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcInvoiceDeposit] ADD  CONSTRAINT [DF_tblPcInvoiceDeposit_DepositAmtAvail]  DEFAULT ((0)) FOR [DepositAmtAvail]
GO
ALTER TABLE [dbo].[tblPcInvoiceDeposit] ADD  CONSTRAINT [DF_tblPcInvoiceDeposit_DepositAmtApply]  DEFAULT ((0)) FOR [DepositAmtApply]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcInvoiceDeposit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcInvoiceDeposit'
GO
