USE [005]
GO
/****** Object:  Table [dbo].[tblWmHistDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmHistDetail](
	[ExtHistSeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HistSeqNum] [int] NULL,
	[HistSeqNumSer] [int] NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[Lotnum] [dbo].[pLotNum] NULL,
	[Sernum] [dbo].[pSerNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocB] [int] NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[Source] [tinyint] NOT NULL,
	[TransId] [nvarchar](255) NULL,
	[EntryNum] [int] NULL,
	[ReferenceId] [dbo].[pInvoiceNum] NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[DeletedYn] [bit] NOT NULL,
	[UID] [dbo].[pUserID] NOT NULL,
	[HostId] [dbo].[pWrkStnID] NOT NULL,
	[CF] [xml] NULL,
	[Status] [smallint] NULL,
	[DeleteDate] [datetime] NULL,
	[ZoneID] [nvarchar](10) NULL,
	[QtyBase] [dbo].[pDecimal] NOT NULL,
	[Unit] [dbo].[pUom] NULL,
	[UnitBase] [dbo].[pUom] NULL,
	[BOLNum] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[ActivityType] [tinyint] NOT NULL,
	[AppID] [nvarchar](10) NULL,
	[HistoryID] [bigint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblWmHistDetail] PRIMARY KEY CLUSTERED 
(
	[ExtHistSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmHistDetail_HistSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmHistDetail_HistSeqNum] ON [dbo].[tblWmHistDetail]
(
	[HistSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmHistDetail_HistSeqNumSer]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmHistDetail_HistSeqNumSer] ON [dbo].[tblWmHistDetail]
(
	[HistSeqNumSer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmHistDetail_ItemId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmHistDetail_ItemId] ON [dbo].[tblWmHistDetail]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmHistDetail_LocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmHistDetail_LocId] ON [dbo].[tblWmHistDetail]
(
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmHistDetail] ADD  CONSTRAINT [DF_tblWmHistDetail_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblWmHistDetail] ADD  CONSTRAINT [DF_tblWmHistDetail_ActivityType]  DEFAULT ((0)) FOR [ActivityType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistDetail'
GO
