USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistContact]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistContact](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[ID] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[JobType] [nvarchar](6) NULL,
	[DocumentType] [smallint] NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[ContactType] [smallint] NOT NULL,
	[ContactDescr] [nvarchar](255) NULL,
	[Value] [nvarchar](255) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistContact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[PostRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistContact'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistContact'
GO
