USE [005]
GO
/****** Object:  Table [dbo].[tblSoPriceStructHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoPriceStructHeader](
	[PriceId] [nvarchar](10) NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[DfltAdjBase] [tinyint] NULL,
	[DfltAdjType] [tinyint] NULL,
	[DfltAdjAmt] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoPriceStructHeader] PRIMARY KEY CLUSTERED 
(
	[PriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlPriceId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [sqlPriceId] ON [dbo].[tblSoPriceStructHeader]
(
	[PriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoPriceStructHeader] ADD  CONSTRAINT [DF_tblSoPriceStructHeader_DfltAdjBase]  DEFAULT ((0)) FOR [DfltAdjBase]
GO
ALTER TABLE [dbo].[tblSoPriceStructHeader] ADD  CONSTRAINT [DF_tblSoPriceStructHeader_DfltAdjType]  DEFAULT ((0)) FOR [DfltAdjType]
GO
ALTER TABLE [dbo].[tblSoPriceStructHeader] ADD  CONSTRAINT [DF_tblSoPriceStructHeader_DfltAdjAmt]  DEFAULT ((0)) FOR [DfltAdjAmt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceStructHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceStructHeader'
GO
