USE [005]
GO
/****** Object:  Table [dbo].[tblSysCustomLayout]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysCustomLayout](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LayoutId] [nvarchar](255) NOT NULL,
	[UserId] [dbo].[pUserID] NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Layout] [varbinary](max) NULL,
	[LayoutType] [tinyint] NOT NULL,
	[LayoutName] [nvarchar](255) NULL,
	[ReportName] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSysCustomLayout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uitblSysCustomLayout]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uitblSysCustomLayout] ON [dbo].[tblSysCustomLayout]
(
	[LayoutId] ASC,
	[UserId] ASC,
	[LayoutType] ASC,
	[LayoutName] ASC,
	[ReportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysCustomLayout] ADD  CONSTRAINT [DF_tblSysCustomLayout_LayoutType]  DEFAULT ((2)) FOR [LayoutType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomLayout'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomLayout'
GO
