USE [005]
GO
/****** Object:  Table [dbo].[tblInItemCustDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemCustDetail](
	[Id] [bigint] NOT NULL,
	[ItemCustId] [bigint] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[MinOrderQty] [dbo].[pDecimal] NOT NULL,
	[OrderIncrement] [dbo].[pDecimal] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemCustDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInItemCustDetailID_ItemCustIdUom]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblInItemCustDetailID_ItemCustIdUom] ON [dbo].[tblInItemCustDetail]
(
	[ItemCustId] ASC,
	[Uom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemCustDetail] ADD  CONSTRAINT [DF_tblInItemCustDetail_MinOrderQty]  DEFAULT ((0)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[tblInItemCustDetail] ADD  CONSTRAINT [DF_tblInItemCustDetail_OrderIncrement]  DEFAULT ((0)) FOR [OrderIncrement]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemCustDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemCustDetail'
GO
