USE [005]
GO
/****** Object:  Table [dbo].[tblGlAcctHdr]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlAcctHdr](
	[AcctId] [dbo].[pGlAcct] NOT NULL,
	[Desc] [nvarchar](30) NULL,
	[AcctTypeId] [smallint] NULL,
	[BalType] [smallint] NULL,
	[ClearToAcct] [dbo].[pGlAcct] NULL,
	[ClearToStep] [tinyint] NULL,
	[ConsolToAcct] [dbo].[pGlAcct] NULL,
	[ConsolToStep] [tinyint] NULL,
	[Status] [tinyint] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlAcctHdr] PRIMARY KEY CLUSTERED 
(
	[AcctId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [sqlAcctTypeId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlAcctTypeId] ON [dbo].[tblGlAcctHdr]
(
	[AcctTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlStatus]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlStatus] ON [dbo].[tblGlAcctHdr]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGlAcctHdr] ADD  CONSTRAINT [DF_tblGlAcctHdr_BalType]  DEFAULT ((1)) FOR [BalType]
GO
ALTER TABLE [dbo].[tblGlAcctHdr] ADD  CONSTRAINT [DF_tblGlAcctHdr_ClearToStep]  DEFAULT ((0)) FOR [ClearToStep]
GO
ALTER TABLE [dbo].[tblGlAcctHdr] ADD  CONSTRAINT [DF_tblGlAcctHdr_ConsolToStep]  DEFAULT ((0)) FOR [ConsolToStep]
GO
ALTER TABLE [dbo].[tblGlAcctHdr] ADD  CONSTRAINT [DF_tblGlAcctHdr_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctHdr'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctHdr'
GO
