USE [005]
GO
/****** Object:  Table [dbo].[tblEcPaymentRemitHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPaymentRemitHeader](
	[ID] [bigint] NOT NULL,
	[ImportBatchId] [nvarchar](14) NOT NULL,
	[KeyLevelSeq1] [int] NOT NULL,
	[DocKey] [nvarchar](50) NULL,
	[SenderID] [nvarchar](50) NULL,
	[ReceiverID] [nvarchar](50) NULL,
	[ISAControlNum] [nvarchar](50) NULL,
	[GSControlNum] [nvarchar](50) NULL,
	[STControlNum] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentAmt] [decimal](28, 10) NULL,
	[CreditDebitFlag] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[ReferenceNum] [nvarchar](50) NULL,
	[PayerName] [nvarchar](100) NULL,
	[GLNCode] [nvarchar](50) NULL,
	[PayeeName] [nvarchar](100) NULL,
	[InternalVendorNum] [nvarchar](50) NULL,
	[PartnerID] [nvarchar](50) NULL,
	[CustID] [nvarchar](10) NULL,
	[TravRcptHeaderID] [int] NULL,
	[ImportDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcPaymentRemitHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPaymentRemitHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPaymentRemitHeader'
GO
