USE [005]
GO
/****** Object:  Table [dbo].[tblEcPackHistHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPackHistHeader](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[ID] [bigint] NOT NULL,
	[ShipmentID] [bigint] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[ShipToId] [dbo].[pCustID] NOT NULL,
	[TrackingNum] [nvarchar](510) NULL,
	[UCC128] [nvarchar](20) NULL,
	[Weight] [dbo].[pDecimal] NOT NULL,
	[DateAdded] [datetime] NULL,
	[TotShipToContainers] [int] NULL,
	[TotShipToContainersSeqNum] [int] NOT NULL,
	[ASNNumber] [int] NULL,
	[PrintYn] [bit] NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[WrkStnID] [dbo].[pWrkStnID] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPackHistHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPackHistHeader_PostRunShipmentIDEntryNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPackHistHeader_PostRunShipmentIDEntryNum] ON [dbo].[tblEcPackHistHeader]
(
	[PostRun] ASC,
	[ShipmentID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPackHistHeader] ADD  CONSTRAINT [DF_tblEcPackHistHeader_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblEcPackHistHeader] ADD  CONSTRAINT [DF_tblEcPackHistHeader_TotShipToContainers]  DEFAULT ((0)) FOR [TotShipToContainers]
GO
ALTER TABLE [dbo].[tblEcPackHistHeader] ADD  CONSTRAINT [DF_tblEcPackHistHeader_TotShipToContainersSeqNum]  DEFAULT ((0)) FOR [TotShipToContainersSeqNum]
GO
ALTER TABLE [dbo].[tblEcPackHistHeader] ADD  CONSTRAINT [DF_tblEcPackHistHeader_PrintYn]  DEFAULT ((0)) FOR [PrintYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackHistHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackHistHeader'
GO
