USE [005]
GO
/****** Object:  Table [dbo].[tblMbAssemblyHeader]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMbAssemblyHeader](
	[Id] [int] NOT NULL,
	[AssemblyId] [dbo].[pItemID] NOT NULL,
	[RevisionNo] [nvarchar](3) NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[EffectiveDateFrom] [datetime] NULL,
	[EffectiveDateThru] [datetime] NULL,
	[DrawingNumber] [nvarchar](15) NULL,
	[LotSize] [int] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[MrpCode] [nvarchar](10) NULL,
	[Engineer] [nvarchar](20) NULL,
	[StockingLevel] [bit] NOT NULL,
	[PlanningBill] [bit] NOT NULL,
	[Backflushed] [bit] NOT NULL,
	[DfltRevYn] [bit] NOT NULL,
	[LastUpdated] [datetime] NULL,
	[MGID] [nvarchar](10) NULL,
	[Instructions] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMbAssemblyHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblMbAssemblyHeader_AssemblyIdRevisionNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblMbAssemblyHeader_AssemblyIdRevisionNo] ON [dbo].[tblMbAssemblyHeader]
(
	[AssemblyId] ASC,
	[RevisionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMbAssemblyHeader] ADD  CONSTRAINT [DF_tblMbAssemblyHeader_LotSize]  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[tblMbAssemblyHeader] ADD  CONSTRAINT [DF_tblMbAssemblyHeader_StockingLevel]  DEFAULT ((0)) FOR [StockingLevel]
GO
ALTER TABLE [dbo].[tblMbAssemblyHeader] ADD  CONSTRAINT [DF_tblMbAssemblyHeader_PlanningBill]  DEFAULT ((0)) FOR [PlanningBill]
GO
ALTER TABLE [dbo].[tblMbAssemblyHeader] ADD  CONSTRAINT [DF_tblMbAssemblyHeader_Backflushed]  DEFAULT ((0)) FOR [Backflushed]
GO
ALTER TABLE [dbo].[tblMbAssemblyHeader] ADD  CONSTRAINT [DF_tblMbAssemblyHeader_DfltRevYn]  DEFAULT ((0)) FOR [DfltRevYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyHeader'
GO
