USE [005]
GO
/****** Object:  Table [dbo].[tblWmMatReqRequest]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmMatReqRequest](
	[TranKey] [int] NOT NULL,
	[LineNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[QtyFilled] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[GLAcctNum] [dbo].[pGlAcct] NULL,
	[GLDescr] [dbo].[pGLDesc] NULL,
	[QtySeqNum] [int] NOT NULL,
	[QtySeqNum_Ext] [int] NOT NULL,
	[LineSeq] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
 CONSTRAINT [PK_tblWmMatReqRequest] PRIMARY KEY CLUSTERED 
(
	[LineNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmMatReqRequest_TranKeyLineNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmMatReqRequest_TranKeyLineNum] ON [dbo].[tblWmMatReqRequest]
(
	[TranKey] ASC,
	[LineNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmMatReqRequest] ADD  CONSTRAINT [DF_tblWmMatReqRequest_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblWmMatReqRequest] ADD  CONSTRAINT [DF_tblWmMatReqRequest_QtyFilled]  DEFAULT ((0)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblWmMatReqRequest] ADD  CONSTRAINT [DF_tblWmMatReqRequest_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReqRequest'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReqRequest'
GO
