USE [005]
GO
/****** Object:  Table [dbo].[tblSvHistoryWorkOrderActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvHistoryWorkOrderActivity](
	[DispatchID] [bigint] NOT NULL,
	[WorkOrderID] [bigint] NOT NULL,
	[ActivityType] [tinyint] NOT NULL,
	[ActivityDateTime] [datetime] NULL,
	[TechID] [dbo].[pEmpID] NULL,
	[Duration] [bigint] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[EnteredBy] [dbo].[pUserID] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[StatusDescription] [dbo].[pDescription] NULL,
	[ReasonCode] [nvarchar](10) NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblSvHistoryWorkOrderActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DispatchID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DispatchID] ON [dbo].[tblSvHistoryWorkOrderActivity]
(
	[DispatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrderID] ON [dbo].[tblSvHistoryWorkOrderActivity]
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderActivity'
GO
