USE [005]
GO
/****** Object:  Table [dbo].[tblInItem]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItem](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[SuperId] [dbo].[pItemID] NULL,
	[ItemType] [tinyint] NULL,
	[ItemStatus] [tinyint] NULL,
	[ProductLine] [nvarchar](12) NULL,
	[SalesCat] [nvarchar](2) NULL,
	[PriceId] [nvarchar](10) NULL,
	[TaxClass] [tinyint] NULL,
	[UomBase] [dbo].[pUom] NULL,
	[UomDflt] [dbo].[pUom] NULL,
	[LottedYN] [bit] NULL,
	[AutoReorderYN] [bit] NULL,
	[KittedYN] [smallint] NULL,
	[ResaleYN] [bit] NULL,
	[PictId] [nvarchar](10) NULL,
	[UsrFld1] [nvarchar](12) NULL,
	[UsrFld2] [nvarchar](12) NULL,
	[UsrFld3] [nvarchar](12) NULL,
	[UsrFld4] [nvarchar](12) NULL,
	[HMRef] [int] NULL,
	[CostMethodOverride] [tinyint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CommodityCode] [nvarchar](25) NULL,
 CONSTRAINT [PK_tblInItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_ItemType]  DEFAULT ((1)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_ItemStatus]  DEFAULT ((1)) FOR [ItemStatus]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_AutoReorderYN]  DEFAULT ((0)) FOR [AutoReorderYN]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_KittedYN]  DEFAULT ((0)) FOR [KittedYN]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_ResaleYN]  DEFAULT ((1)) FOR [ResaleYN]
GO
ALTER TABLE [dbo].[tblInItem] ADD  CONSTRAINT [DF_tblInItem_CostMethodOverride]  DEFAULT ((0)) FOR [CostMethodOverride]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItem'
GO
