USE [005]
GO
/****** Object:  Table [dbo].[tblSrJobType]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrJobType](
	[JobType] [nvarchar](6) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[PromiseDays] [int] NULL,
	[AutoScheduleYn] [bit] NOT NULL,
	[SchDaysWorkType1] [int] NULL,
	[SchDaysWorkType2] [int] NULL,
	[SchDaysWorkType3] [int] NULL,
	[AutoESTWorkType] [nvarchar](6) NULL,
	[AutoPOWorkType] [nvarchar](6) NULL,
	[EstimateDays] [int] NULL,
	[UseDuringEstimateYn] [bit] NOT NULL,
	[POGraceDays] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrJobType] PRIMARY KEY CLUSTERED 
(
	[JobType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrJobType] ADD  CONSTRAINT [DF_tblSrJobType_AutoScheduleYn]  DEFAULT ((1)) FOR [AutoScheduleYn]
GO
ALTER TABLE [dbo].[tblSrJobType] ADD  CONSTRAINT [DF_tblSrJobType_UseDuringEstimateYn]  DEFAULT ((0)) FOR [UseDuringEstimateYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobType'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobType'
GO
