USE [005]
GO
/****** Object:  Table [dbo].[tblFaOptionDepr]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaOptionDepr](
	[DeprType] [nvarchar](6) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[PdInYr] [smallint] NOT NULL,
	[PdProcessed] [smallint] NOT NULL,
	[BeginPd] [smallint] NOT NULL,
	[EndPd] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[GLPd] [smallint] NOT NULL,
	[Process] [tinyint] NOT NULL,
	[SortOrder] [smallint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblFaOptionDepr] PRIMARY KEY CLUSTERED 
(
	[DeprType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaOptionDepr'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaOptionDepr'
GO
