USE [005]
GO
/****** Object:  Table [dbo].[tblInItemAlias]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemAlias](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AliasID] [nvarchar](24) NOT NULL,
	[AliasType] [tinyint] NOT NULL,
	[RefID] [nvarchar](20) NOT NULL,
	[ItemID] [nvarchar](24) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemAlias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInItemAlias]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInItemAlias] ON [dbo].[tblInItemAlias]
(
	[AliasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInItemAlias_1]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInItemAlias_1] ON [dbo].[tblInItemAlias]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemAlias] ADD  CONSTRAINT [DF_tblInItemAlias_AliasType]  DEFAULT ((0)) FOR [AliasType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemAlias'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemAlias'
GO
