USE [005]
GO
/****** Object:  Table [dbo].[tblPcHistoryRevenueAdjust]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcHistoryRevenueAdjust](
	[ID] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ProjectName] [nvarchar](10) NOT NULL,
	[CustID] [dbo].[pCustID] NOT NULL,
	[CustName] [nvarchar](30) NULL,
	[ProjectDescription] [nvarchar](30) NULL,
	[DistCode] [nvarchar](6) NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[ProjectManager] [dbo].[pEmpID] NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[AdjustDate] [datetime] NOT NULL,
	[FixedFeeAmount] [dbo].[pDecimal] NOT NULL,
	[BilledAmount] [dbo].[pDecimal] NOT NULL,
	[EstimatedCost] [dbo].[pDecimal] NOT NULL,
	[EstimatedHour] [dbo].[pDecimal] NOT NULL,
	[PostedCost] [dbo].[pDecimal] NOT NULL,
	[PostedHour] [dbo].[pDecimal] NOT NULL,
	[PercentCostCompletion] [dbo].[pDecimal] NULL,
	[PercentHourCompletion] [dbo].[pDecimal] NULL,
	[OverridePercent] [dbo].[pDecimal] NOT NULL,
	[EarnedIncome] [dbo].[pDecimal] NOT NULL,
	[PostedAdjustAmount] [dbo].[pDecimal] NOT NULL,
	[NetAdjustAmount] [dbo].[pDecimal] NOT NULL,
	[GLAcctIncome] [dbo].[pGlAcct] NOT NULL,
	[GLAcctOffset] [dbo].[pGlAcct] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPcHistoryRevenueAdjust] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectID] ON [dbo].[tblPcHistoryRevenueAdjust]
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcHistoryRevenueAdjust'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcHistoryRevenueAdjust'
GO
