USE [005]
GO
/****** Object:  Table [dbo].[tblHrPosition]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrPosition](
	[ID] [bigint] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[JobTypeCodeID] [bigint] NULL,
	[Department] [dbo].[pDeptID] NULL,
	[MinEdLevelTypeCodeID] [bigint] NULL,
	[CountyDirectCareStatusTypeCodeID] [bigint] NULL,
	[PositionHoursBudgeted] [dbo].[pDecimal] NOT NULL,
	[SalaryBudgeted] [dbo].[pDecimal] NOT NULL,
	[SupervisorPositionID] [bigint] NULL,
	[WageHourExemptStatusTypeCodeID] [bigint] NULL,
	[WorkersCompensationTypeCodeID] [bigint] NULL,
	[DriversLicenseRequired] [bit] NOT NULL,
	[ProfessionalLicenseRequired] [bit] NOT NULL,
	[EducationalTranscriptRequired] [bit] NOT NULL,
	[PositionTypeCodeID] [bigint] NULL,
	[PositionCaseTypeCodeID] [bigint] NULL,
	[PositionActiveDate] [datetime] NULL,
	[PositionInactiveDate] [datetime] NULL,
	[DivisionTypeCodeID] [bigint] NULL,
	[ProgramTypeCodeID] [bigint] NULL,
	[LocationTypeCodeID] [bigint] NULL,
	[SpecialStatus] [bit] NOT NULL,
	[CheckSort] [nvarchar](10) NULL,
	[AdjustToMinimum] [bit] NOT NULL,
	[PayPeriodsPerYear] [smallint] NOT NULL,
	[GroupCode] [tinyint] NOT NULL,
	[DefaultEarningCode] [dbo].[pCode] NULL,
	[LeavePlanID] [bigint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrPosition] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblHrPosition_Description]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblHrPosition_Description] ON [dbo].[tblHrPosition]
(
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_PositionHoursBudgeted]  DEFAULT ((0)) FOR [PositionHoursBudgeted]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_SalaryBudgeted]  DEFAULT ((0)) FOR [SalaryBudgeted]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_DriversLicenseRequired]  DEFAULT ((0)) FOR [DriversLicenseRequired]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_ProfessionalLicenseRequired]  DEFAULT ((0)) FOR [ProfessionalLicenseRequired]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_EducationalTranscriptRequired]  DEFAULT ((0)) FOR [EducationalTranscriptRequired]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_SpecialStatus]  DEFAULT ((0)) FOR [SpecialStatus]
GO
ALTER TABLE [dbo].[tblHrPosition] ADD  CONSTRAINT [DF_tblHrPosition_AdjustToMinimum]  DEFAULT ((0)) FOR [AdjustToMinimum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrPosition'
GO
