USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmpDeduct]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmpDeduct](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[DeductionCodeId] [int] NOT NULL,
	[SeqNum] [nchar](2) NOT NULL,
	[PeriodCode1] [tinyint] NOT NULL,
	[PeriodCode2] [tinyint] NOT NULL,
	[PeriodCode3] [tinyint] NOT NULL,
	[PeriodCode4] [tinyint] NOT NULL,
	[PeriodCode5] [tinyint] NOT NULL,
	[ScheduledAmount] [dbo].[pDecimal] NOT NULL,
	[Balance] [dbo].[pDecimal] NOT NULL,
	[UseFactorFlag] [bit] NOT NULL,
	[OverrideFactor1] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor2] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor3] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor4] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor5] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor6] [dbo].[pDecimal] NOT NULL,
	[CalcOnGross] [bit] NOT NULL,
	[FormulaId] [nvarchar](12) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[OverrideFactor7] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor8] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor9] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor10] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor11] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor12] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor13] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor14] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor15] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor16] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor17] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor18] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor19] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor20] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblPaEmpDeduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPaEmpDeduct_EmployeeIdPaYearDeductionCodeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPaEmpDeduct_EmployeeIdPaYearDeductionCodeId] ON [dbo].[tblPaEmpDeduct]
(
	[EmployeeId] ASC,
	[PaYear] ASC,
	[DeductionCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_SeqNum]  DEFAULT ('1') FOR [SeqNum]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_PeriodCode1]  DEFAULT ((1)) FOR [PeriodCode1]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_PeriodCode2]  DEFAULT ((1)) FOR [PeriodCode2]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_PeriodCode3]  DEFAULT ((1)) FOR [PeriodCode3]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_PeriodCode4]  DEFAULT ((1)) FOR [PeriodCode4]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_PeriodCode5]  DEFAULT ((1)) FOR [PeriodCode5]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_ScheduledAmount]  DEFAULT ((0)) FOR [ScheduledAmount]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_Balance]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_UseFactorFlag]  DEFAULT ((0)) FOR [UseFactorFlag]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor1]  DEFAULT ((0)) FOR [OverrideFactor1]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor2]  DEFAULT ((0)) FOR [OverrideFactor2]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor3]  DEFAULT ((0)) FOR [OverrideFactor3]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor4]  DEFAULT ((0)) FOR [OverrideFactor4]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor5]  DEFAULT ((0)) FOR [OverrideFactor5]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor6]  DEFAULT ((0)) FOR [OverrideFactor6]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_CalcOnGross]  DEFAULT ((1)) FOR [CalcOnGross]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor7]  DEFAULT ((0)) FOR [OverrideFactor7]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor8]  DEFAULT ((0)) FOR [OverrideFactor8]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor9]  DEFAULT ((0)) FOR [OverrideFactor9]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor10]  DEFAULT ((0)) FOR [OverrideFactor10]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor11]  DEFAULT ((0)) FOR [OverrideFactor11]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor12]  DEFAULT ((0)) FOR [OverrideFactor12]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor13]  DEFAULT ((0)) FOR [OverrideFactor13]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor14]  DEFAULT ((0)) FOR [OverrideFactor14]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor15]  DEFAULT ((0)) FOR [OverrideFactor15]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor16]  DEFAULT ((0)) FOR [OverrideFactor16]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor17]  DEFAULT ((0)) FOR [OverrideFactor17]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor18]  DEFAULT ((0)) FOR [OverrideFactor18]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor19]  DEFAULT ((0)) FOR [OverrideFactor19]
GO
ALTER TABLE [dbo].[tblPaEmpDeduct] ADD  CONSTRAINT [DF_tblPaEmpDeduct_OverrideFactor20]  DEFAULT ((0)) FOR [OverrideFactor20]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpDeduct'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpDeduct'
GO
