USE [005]
GO
/****** Object:  Table [dbo].[tblPoShipmentLandedCostDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoShipmentLandedCostDetail](
	[ID] [bigint] NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[CostType] [tinyint] NOT NULL,
	[Level] [tinyint] NOT NULL,
	[CostTypeAmount] [dbo].[pDecimal] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoShipmentLandedCostDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoShipmentLandedCostDetail] ADD  CONSTRAINT [DF_tblPoShipmentLandedCostDetail_CostTypeAmount]  DEFAULT ((0)) FOR [CostTypeAmount]
GO
ALTER TABLE [dbo].[tblPoShipmentLandedCostDetail] ADD  CONSTRAINT [DF_tblPoShipmentLandedCostDetail_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblPoShipmentLandedCostDetail] ADD  CONSTRAINT [DF_tblPoShipmentLandedCostDetail_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipmentLandedCostDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipmentLandedCostDetail'
GO
