USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxGroup]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxGroup](
	[TaxGrpID] [dbo].[pTaxLoc] NOT NULL,
	[Desc] [nvarchar](30) NULL,
	[ReportMethod] [tinyint] NULL,
	[LevelOne] [dbo].[pTaxLoc] NULL,
	[LevelTwo] [dbo].[pTaxLoc] NULL,
	[LevelThree] [dbo].[pTaxLoc] NULL,
	[LevelFour] [dbo].[pTaxLoc] NULL,
	[LevelFive] [dbo].[pTaxLoc] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
	[TaxLocationAcct] [dbo].[pGlAcct] NULL,
	[UseWithTaxService] [bit] NOT NULL,
 CONSTRAINT [PK_tblSmTaxGroup] PRIMARY KEY CLUSTERED 
(
	[TaxGrpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxGroup] ADD  CONSTRAINT [DF_tblSmTaxGroup_ReportMethod]  DEFAULT ((0)) FOR [ReportMethod]
GO
ALTER TABLE [dbo].[tblSmTaxGroup] ADD  CONSTRAINT [DF_tblSmTaxGroup_TaxGroupType]  DEFAULT ((0)) FOR [TaxGroupType]
GO
ALTER TABLE [dbo].[tblSmTaxGroup] ADD  CONSTRAINT [DF_tblSmTaxGroup_UseWithTaxService]  DEFAULT ((0)) FOR [UseWithTaxService]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxGroup'
GO
