USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransHeader](
	[TransId] [dbo].[pTransID] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[TransType] [smallint] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[Notes] [nvarchar](max) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[TransDate] [datetime] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TaxableYn] [bit] NULL,
	[PrintStatus] [tinyint] NULL,
	[PrintDate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[OrderedBy] [dbo].[pUserID] NULL,
	[ReceivedBy] [dbo].[pUserID] NULL,
	[FOB] [nvarchar](35) NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[MemoTaxable] [dbo].[pDecimal] NULL,
	[MemoNonTaxable] [dbo].[pDecimal] NULL,
	[MemoSalesTax] [dbo].[pDecimal] NULL,
	[MemoFreight] [dbo].[pDecimal] NULL,
	[MemoMisc] [dbo].[pDecimal] NULL,
	[MemoDisc] [dbo].[pDecimal] NULL,
	[MemoPrepaid] [dbo].[pDecimal] NULL,
	[CheckDate] [datetime] NULL,
	[MemoTaxableFgn] [dbo].[pDecimal] NULL,
	[MemoNonTaxableFgn] [dbo].[pDecimal] NULL,
	[MemoSalesTaxFgn] [dbo].[pDecimal] NULL,
	[MemoFreightFgn] [dbo].[pDecimal] NULL,
	[MemoMiscFgn] [dbo].[pDecimal] NULL,
	[MemoDiscFgn] [dbo].[pDecimal] NULL,
	[MemoPrepaidFgn] [dbo].[pDecimal] NULL,
	[MemoCheckNo] [dbo].[pCheckNum] NULL,
	[MemoDueDate1] [datetime] NULL,
	[MemoDueDate2] [datetime] NULL,
	[MemoDueDate3] [datetime] NULL,
	[MemoPmtAmt1] [dbo].[pDecimal] NULL,
	[MemoPmtAmt2] [dbo].[pDecimal] NULL,
	[MemoPmtAmt3] [dbo].[pDecimal] NULL,
	[MemoPmtAmt1Fgn] [dbo].[pDecimal] NULL,
	[MemoPmtAmt2Fgn] [dbo].[pDecimal] NULL,
	[MemoPmtAmt3Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxClassFreight] [tinyint] NULL,
	[MemoTaxClassMisc] [tinyint] NULL,
	[MemoTaxLocID1] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt1] [dbo].[pDecimal] NULL,
	[MemoTaxAmt1Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID2] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt2] [dbo].[pDecimal] NULL,
	[MemoTaxAmt2Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID3] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt3] [dbo].[pDecimal] NULL,
	[MemoTaxAmt3Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID4] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt4] [dbo].[pDecimal] NULL,
	[MemoTaxAmt4Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID5] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt5] [dbo].[pDecimal] NULL,
	[MemoTaxAmt5Fgn] [dbo].[pDecimal] NULL,
	[DropShipYn] [bit] NOT NULL,
	[HdrRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExpReceiptDate] [datetime] NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[ShippingType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblPoTransHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlBatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlBatchId] ON [dbo].[tblPoTransHeader]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_TransType]  DEFAULT ((9)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_TaxableYn]  DEFAULT ((1)) FOR [TaxableYn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_PrintStatus]  DEFAULT ((0)) FOR [PrintStatus]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_ReqShipDate]  DEFAULT (getdate()) FOR [ReqShipDate]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxable]  DEFAULT ((0)) FOR [MemoTaxable]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoNonTaxable]  DEFAULT ((0)) FOR [MemoNonTaxable]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoSalesTax]  DEFAULT ((0)) FOR [MemoSalesTax]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoFreight]  DEFAULT ((0)) FOR [MemoFreight]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoMisc]  DEFAULT ((0)) FOR [MemoMisc]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoDisc]  DEFAULT ((0)) FOR [MemoDisc]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPrepaid]  DEFAULT ((0)) FOR [MemoPrepaid]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxableFgn]  DEFAULT ((0)) FOR [MemoTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoNonTaxableFgn]  DEFAULT ((0)) FOR [MemoNonTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoSalesTaxFgn]  DEFAULT ((0)) FOR [MemoSalesTaxFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoFreightFgn]  DEFAULT ((0)) FOR [MemoFreightFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoMiscFgn]  DEFAULT ((0)) FOR [MemoMiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoDiscFgn]  DEFAULT ((0)) FOR [MemoDiscFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPrepaidFgn]  DEFAULT ((0)) FOR [MemoPrepaidFgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt1]  DEFAULT ((0)) FOR [MemoPmtAmt1]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt2]  DEFAULT ((0)) FOR [MemoPmtAmt2]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt3]  DEFAULT ((0)) FOR [MemoPmtAmt3]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt1Fgn]  DEFAULT ((0)) FOR [MemoPmtAmt1Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt2Fgn]  DEFAULT ((0)) FOR [MemoPmtAmt2Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoPmtAmt3Fgn]  DEFAULT ((0)) FOR [MemoPmtAmt3Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxClassFreight]  DEFAULT ((0)) FOR [MemoTaxClassFreight]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxClassMisc]  DEFAULT ((0)) FOR [MemoTaxClassMisc]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt1]  DEFAULT ((0)) FOR [MemoTaxAmt1]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt1Fgn]  DEFAULT ((0)) FOR [MemoTaxAmt1Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt2]  DEFAULT ((0)) FOR [MemoTaxAmt2]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt2Fgn]  DEFAULT ((0)) FOR [MemoTaxAmt2Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt3]  DEFAULT ((0)) FOR [MemoTaxAmt3]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt3Fgn]  DEFAULT ((0)) FOR [MemoTaxAmt3Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt4]  DEFAULT ((0)) FOR [MemoTaxAmt4]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt4Fgn]  DEFAULT ((0)) FOR [MemoTaxAmt4Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt5]  DEFAULT ((0)) FOR [MemoTaxAmt5]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_MemoTaxAmt5Fgn]  DEFAULT ((0)) FOR [MemoTaxAmt5Fgn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_DropShipYn]  DEFAULT ((0)) FOR [DropShipYn]
GO
ALTER TABLE [dbo].[tblPoTransHeader] ADD  CONSTRAINT [DF_tblPoTransHeader_ShippingType]  DEFAULT ((0)) FOR [ShippingType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransHeader'
GO
