USE [005]
GO
/****** Object:  Table [dbo].[X_OTSpecs]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_OTSpecs](
	[ItemId] [nvarchar](255) NULL,
	[ProgramId] [nvarchar](255) NULL,
	[ThawType] [nvarchar](255) NULL,
	[MaxFreezerTimeHrs] [nvarchar](255) NULL,
	[MaxReeferTimeHrs] [nvarchar](255) NULL,
	[MaxRoomTimeHrs] [nvarchar](255) NULL,
	[MinThawTimeHrs] [nvarchar](255) NULL,
	[MinDaysUntilExpirAtShipment] [nvarchar](255) NULL,
	[MinRemainingOTHoursAtShipment] [nvarchar](255) NULL,
	[PartialKitMinThawTimeHrs] [nvarchar](255) NULL,
	[FreezerAlarmHrs] [nvarchar](255) NULL,
	[ReeferAlarmHrs] [nvarchar](255) NULL,
	[RoomAlarmHrs] [nvarchar](255) NULL,
	[ReeferComboThawHrs] [nvarchar](255) NULL,
	[RoomComboThawHrs] [nvarchar](255) NULL,
	[ReeferPercentOfRoomOT] [nvarchar](255) NULL,
	[PullTimePlus] [nvarchar](255) NULL,
	[PullTimeMinus] [nvarchar](255) NULL
) ON [PRIMARY]
GO
