USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigFieldAction]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigFieldAction](
	[ActionId] [bigint] NOT NULL,
	[FieldId] [bigint] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[ActionEvent] [tinyint] NOT NULL,
	[FieldValue] [nvarchar](50) NULL,
	[ActionType] [tinyint] NOT NULL,
	[Action] [nvarchar](50) NULL,
	[MessageText] [nvarchar](200) NULL,
	[VariableId] [bigint] NULL,
	[VariableSetTo] [nvarchar](200) NULL,
	[FreightCharge] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCfConfigFieldAction] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCfConfigFieldAction_FieldIdSeqNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCfConfigFieldAction_FieldIdSeqNum] ON [dbo].[tblCfConfigFieldAction]
(
	[FieldId] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigFieldAction] ADD  CONSTRAINT [DF_tblCfConfigFieldAction_ActionEvent]  DEFAULT ((0)) FOR [ActionEvent]
GO
ALTER TABLE [dbo].[tblCfConfigFieldAction] ADD  CONSTRAINT [DF_tblCfConfigFieldAction_ActionType]  DEFAULT ((0)) FOR [ActionType]
GO
ALTER TABLE [dbo].[tblCfConfigFieldAction] ADD  CONSTRAINT [DF_tblCfConfigFieldAction_FreightCharge]  DEFAULT ((0)) FOR [FreightCharge]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldAction'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldAction'
GO
