USE [005]
GO
/****** Object:  Table [dbo].[tblWmHistPhysicalCountBatch]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmHistPhysicalCountBatch](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[CountDate] [datetime] NOT NULL,
	[AssignedTo] [dbo].[pEmpID] NULL,
	[PreparedDateTime] [datetime] NOT NULL,
	[PreparedBy] [dbo].[pUserID] NOT NULL,
	[FrozenDateTime] [datetime] NULL,
	[FrozenBy] [dbo].[pUserID] NULL,
	[LocID] [dbo].[pLocID] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[DisplayFilter] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ReqCountEntryForZeroQtyYN] [bit] NOT NULL,
 CONSTRAINT [PK_tblWmHistPhysicalCountBatch] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistPhysicalCountBatch'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistPhysicalCountBatch'
GO
