USE [005]
GO
/****** Object:  Table [dbo].[tblPcDistCode]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcDistCode](
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[Description] [nvarchar](25) NULL,
	[GLAcctWIP] [dbo].[pGlAcct] NOT NULL,
	[GLAcctPayrollClearing] [dbo].[pGlAcct] NOT NULL,
	[GLAcctIncome] [dbo].[pGlAcct] NOT NULL,
	[GLAcctCost] [dbo].[pGlAcct] NOT NULL,
	[GLAcctAdjustments] [dbo].[pGlAcct] NOT NULL,
	[GLAcctFixedFeeBilling] [dbo].[pGlAcct] NOT NULL,
	[GLAcctOverheadContra] [dbo].[pGlAcct] NOT NULL,
	[GLAcctAccruedIncome] [dbo].[pGlAcct] NOT NULL,
	[GLAcctAccrual] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[GLAcctBillingExcess] [dbo].[pGlAcct] NULL,
	[GLAcctEarningExcess] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblPcDistCode] PRIMARY KEY CLUSTERED 
(
	[DistCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcDistCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcDistCode'
GO
