USE [005]
GO
/****** Object:  Table [dbo].[tblFaRetireDepr]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaRetireDepr](
	[RetirementID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[AssetID] [dbo].[pAssetID] NOT NULL,
	[DeprcType] [nvarchar](6) NOT NULL,
	[Method] [nvarchar](6) NOT NULL,
	[AppyBusinessUse] [tinyint] NOT NULL,
	[SwitchMethod] [nvarchar](6) NOT NULL,
	[BeginYr] [int] NOT NULL,
	[BeginPd] [smallint] NOT NULL,
	[EndYr] [int] NOT NULL,
	[EndPd] [smallint] NOT NULL,
	[Life] [dbo].[pDecimal] NOT NULL,
	[Recovery] [int] NOT NULL,
	[ActLife] [int] NOT NULL,
	[BaseCost] [dbo].[pDecimal] NOT NULL,
	[SalvageValue] [dbo].[pDecimal] NOT NULL,
	[BonusDepr] [dbo].[pDecimal] NOT NULL,
	[Expense179] [dbo].[pDecimal] NOT NULL,
	[Credits] [dbo].[pDecimal] NOT NULL,
	[TotDeprTaken] [dbo].[pDecimal] NOT NULL,
	[TotDeprElig] [dbo].[pDecimal] NOT NULL,
	[YTDDepr] [dbo].[pDecimal] NOT NULL,
	[AnnualDepr] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblFaRetireDepr] PRIMARY KEY CLUSTERED 
(
	[RetirementID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblFaRetireDepr_Method]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblFaRetireDepr_Method] ON [dbo].[tblFaRetireDepr]
(
	[Method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblFaRetireDepr_RetirementIDAssetIDDeprcType]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblFaRetireDepr_RetirementIDAssetIDDeprcType] ON [dbo].[tblFaRetireDepr]
(
	[RetirementID] ASC,
	[AssetID] ASC,
	[DeprcType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFaRetireDepr] ADD  CONSTRAINT [DF_tblFaRetireDepr_AppyBusinessUse]  DEFAULT ((100)) FOR [AppyBusinessUse]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaRetireDepr'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaRetireDepr'
GO
