USE [005]
GO
/****** Object:  Table [dbo].[tblSrInspectionGroup]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrInspectionGroup](
	[GroupId] [bigint] NOT NULL,
	[InspectionId] [bigint] NOT NULL,
	[ConfigGroupId] [bigint] NOT NULL,
	[AssignedTo] [dbo].[pEmpID] NULL,
	[AssignToType] [smallint] NULL,
	[AssignedDate] [datetime] NULL,
	[DownloadDate] [datetime] NULL,
	[DownloadBy] [dbo].[pEmpID] NULL,
	[CheckedInDate] [datetime] NULL,
	[Status] [smallint] NOT NULL,
	[DefaultOrder] [int] NULL,
	[Priority] [int] NULL,
	[Exclusive] [bit] NOT NULL,
	[LaborCode] [nvarchar](6) NULL,
	[WorkType] [nvarchar](6) NULL,
	[EstimatedHours] [dbo].[pDecimal] NOT NULL,
	[Sequence] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrInspectionGroup] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrInspectionGroup] ADD  CONSTRAINT [DF_tblSrInspectionGroup_ConfigGroupId]  DEFAULT ((0)) FOR [ConfigGroupId]
GO
ALTER TABLE [dbo].[tblSrInspectionGroup] ADD  CONSTRAINT [DF_tblSrInspectionGroup_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSrInspectionGroup] ADD  CONSTRAINT [DF_tblSrInspectionGroup_Exclusive]  DEFAULT ((0)) FOR [Exclusive]
GO
ALTER TABLE [dbo].[tblSrInspectionGroup] ADD  CONSTRAINT [DF_tblSrInspectionGroup_EstimatedHours]  DEFAULT ((0)) FOR [EstimatedHours]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInspectionGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInspectionGroup'
GO
