USE [005]
GO
/****** Object:  Table [dbo].[tblSmActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmActivity](
	[ActivityId] [uniqueidentifier] NOT NULL,
	[FunctionId] [uniqueidentifier] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[RunTime] [datetime] NULL,
	[Description] [nvarchar](50) NULL,
	[Comments] [nvarchar](50) NULL,
	[UserId] [dbo].[pUserID] NULL,
	[WrkStnId] [dbo].[pWrkStnID] NULL,
	[ts] [timestamp] NULL,
	[WorkstationDate] [datetime] NULL,
 CONSTRAINT [PK_tblSmActivity] PRIMARY KEY NONCLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmActivity'
GO
