USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransLotRcpt]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransLotRcpt](
	[ReceiptID] [uniqueidentifier] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[RcptNum] [dbo].[pInvoiceNum] NOT NULL,
	[RcptHeaderID] [bigint] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[QtyOrder] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[LotCmnt] [nvarchar](35) NULL,
	[Status] [tinyint] NULL,
	[QtySeqNum] [int] NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyAccRev] [dbo].[pDecimal] NULL,
	[AccAdjCostFgn] [dbo].[pDecimal] NULL,
	[AccAdjCost] [dbo].[pDecimal] NULL,
	[ActivityId] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
 CONSTRAINT [PK_tblPoTransLotRcpt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPoTransLotRcpt_RcptHeaderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransLotRcpt_RcptHeaderID] ON [dbo].[tblPoTransLotRcpt]
(
	[RcptHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPoTransLotRcpt_TransIdRcptNumEntryNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransLotRcpt_TransIdRcptNumEntryNum] ON [dbo].[tblPoTransLotRcpt]
(
	[TransId] ASC,
	[RcptNum] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_ReceiptID]  DEFAULT (newid()) FOR [ReceiptID]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_QtyOrder]  DEFAULT ((0)) FOR [QtyOrder]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_QtyFilled]  DEFAULT ((0)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_QtySeqNum_Ext]  DEFAULT ((0)) FOR [QtySeqNum_Ext]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_QtyAccRev]  DEFAULT ((0)) FOR [QtyAccRev]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_AccAdjCostFgn]  DEFAULT ((0)) FOR [AccAdjCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransLotRcpt] ADD  CONSTRAINT [DF_tblPoTransLotRcpt_AccAdjCost]  DEFAULT ((0)) FOR [AccAdjCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransLotRcpt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransLotRcpt'
GO
