USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransInvoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransInvoice](
	[InvoiceID] [uniqueidentifier] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NOT NULL,
	[InvcHeaderID] [bigint] NOT NULL,
	[Status] [tinyint] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[AvgRcptCost] [dbo].[pDecimal] NULL,
	[TransHistID] [nvarchar](10) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoTransInvoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPoTransInvoice_InvcHeaderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransInvoice_InvcHeaderID] ON [dbo].[tblPoTransInvoice]
(
	[InvcHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPoTransInvoice_TransHistID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransInvoice_TransHistID] ON [dbo].[tblPoTransInvoice]
(
	[TransHistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPoTransInvoice]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPoTransInvoice] ON [dbo].[tblPoTransInvoice]
(
	[TransID] ASC,
	[InvoiceNum] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  DEFAULT (newid()) FOR [InvoiceID]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_AvgRcptCost]  DEFAULT ((0)) FOR [AvgRcptCost]
GO
ALTER TABLE [dbo].[tblPoTransInvoice] ADD  CONSTRAINT [DF_tblPoTransInvoice_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoice'
GO
