USE [005]
GO
/****** Object:  Table [dbo].[tblPaEarnCode]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEarnCode](
	[Id] [dbo].[pCode] NOT NULL,
	[Description] [nvarchar](40) NULL,
	[IncludeInNet] [bit] NOT NULL,
	[FixedWithholding] [bit] NOT NULL,
	[EarningTypeId] [nchar](1) NULL,
	[GLHoldingAccount] [dbo].[pGlAcct] NULL,
	[Multiplier] [dbo].[pDecimal] NOT NULL,
	[AddToBase] [dbo].[pDecimal] NOT NULL,
	[W2Box] [nvarchar](3) NULL,
	[W2Code] [nvarchar](8) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaEarnCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEarnCode] ADD  CONSTRAINT [DF_tblPaEarnCode_IncludeInNet]  DEFAULT ((1)) FOR [IncludeInNet]
GO
ALTER TABLE [dbo].[tblPaEarnCode] ADD  CONSTRAINT [DF_tblPaEarnCode_FixedWithholding]  DEFAULT ((0)) FOR [FixedWithholding]
GO
ALTER TABLE [dbo].[tblPaEarnCode] ADD  CONSTRAINT [DF_tblPaEarnCode_Multiplier]  DEFAULT ((0)) FOR [Multiplier]
GO
ALTER TABLE [dbo].[tblPaEarnCode] ADD  CONSTRAINT [DF_tblPaEarnCode_AddToBase]  DEFAULT ((0)) FOR [AddToBase]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEarnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEarnCode'
GO
