USE [005]
GO
/****** Object:  Table [dbo].[tblPcActivity]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcActivity](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ProjectDetailId] [int] NOT NULL,
	[RcptId] [int] NULL,
	[Source] [tinyint] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[QtyInvoiced] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtIncome] [dbo].[pDecimal] NOT NULL,
	[QtyBilled] [dbo].[pDecimal] NOT NULL,
	[ExtIncomeBilled] [dbo].[pDecimal] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[ActivityDate] [datetime] NOT NULL,
	[SourceReference] [nvarchar](max) NULL,
	[BillingReference] [nvarchar](max) NULL,
	[ResourceId] [nvarchar](24) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Reference] [nvarchar](24) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[GLAcctWIP] [dbo].[pGlAcct] NULL,
	[GLAcctPayrollClearing] [dbo].[pGlAcct] NULL,
	[GLAcctIncome] [dbo].[pGlAcct] NULL,
	[GLAcctCost] [dbo].[pGlAcct] NULL,
	[GLAcctAdjustments] [dbo].[pGlAcct] NULL,
	[GLAcctFixedFeeBilling] [dbo].[pGlAcct] NULL,
	[GLAcctOverheadContra] [dbo].[pGlAcct] NULL,
	[GLAcctAccruedIncome] [dbo].[pGlAcct] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[TaxClass] [tinyint] NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[OverheadPosted] [dbo].[pDecimal] NOT NULL,
	[RateId] [nvarchar](10) NULL,
	[Uom] [dbo].[pUom] NULL,
	[Status] [tinyint] NOT NULL,
	[BillOnHold] [bit] NOT NULL,
	[SourceId] [uniqueidentifier] NULL,
	[LinkSeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[LinkId] [int] NULL,
	[ExchRateID] [bigint] NULL,
	[GroupID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblPcActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPcActivity_LinkId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPcActivity_LinkId] ON [dbo].[tblPcActivity]
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPcActivity_Type]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPcActivity_Type] ON [dbo].[tblPcActivity]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlProjectDetailId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlProjectDetailId] ON [dbo].[tblPcActivity]
(
	[ProjectDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_QtyInvoiced]  DEFAULT ((0)) FOR [QtyInvoiced]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_ExtIncome]  DEFAULT ((0)) FOR [ExtIncome]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_QtyBilled]  DEFAULT ((0)) FOR [QtyBilled]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_ExtIncomeBilled]  DEFAULT ((0)) FOR [ExtIncomeBilled]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_OverheadPosted]  DEFAULT ((0)) FOR [OverheadPosted]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_BillOnHold]  DEFAULT ((0)) FOR [BillOnHold]
GO
ALTER TABLE [dbo].[tblPcActivity] ADD  CONSTRAINT [DF_tblPcActivity_GroupID]  DEFAULT ((-1)) FOR [GroupID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcActivity'
GO
