USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransInvc_Rcpt]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransInvc_Rcpt](
	[Qty] [dbo].[pDecimal] NOT NULL,
	[QtySeqNum] [int] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[ReceiptID] [uniqueidentifier] NOT NULL,
	[InvoiceID] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblPoTransInvc_Rcpt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC,
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransInvc_Rcpt] ADD  CONSTRAINT [DF_tblPoTransInvc_Rcpt_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPoTransInvc_Rcpt] ADD  CONSTRAINT [DF_tblPoTransInvc_Rcpt_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblPoTransInvc_Rcpt] ADD  CONSTRAINT [DF_tblPoTransInvc_Rcpt_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblPoTransInvc_Rcpt] ADD  CONSTRAINT [DF_tblPoTransInvc_Rcpt_ReceiptID]  DEFAULT (newid()) FOR [ReceiptID]
GO
ALTER TABLE [dbo].[tblPoTransInvc_Rcpt] ADD  CONSTRAINT [DF_tblPoTransInvc_Rcpt_InvoiceID]  DEFAULT (newid()) FOR [InvoiceID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvc_Rcpt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvc_Rcpt'
GO
