USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartnerItemXRef]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartnerItemXRef](
	[ID] [bigint] NOT NULL,
	[PartnerID] [bigint] NOT NULL,
	[UIR] [nvarchar](50) NOT NULL,
	[EDIUOM] [nvarchar](12) NOT NULL,
	[TRAVItemID] [dbo].[pItemID] NOT NULL,
	[TRAVUOM] [dbo].[pUom] NOT NULL,
	[EAN] [nvarchar](50) NULL,
	[UPC] [nvarchar](50) NULL,
	[GTIN] [nvarchar](50) NULL,
	[SKU] [nvarchar](50) NULL,
	[BuyerCode] [nvarchar](50) NULL,
	[VendorCode] [nvarchar](50) NULL,
	[InternalCode] [nvarchar](50) NULL,
	[ItemSizeDescr] [nvarchar](75) NULL,
	[ItemColor] [nvarchar](50) NULL,
	[ItemDescr] [nvarchar](75) NULL,
	[AddnlDescr] [dbo].[pDescription] NULL,
	[ItemPattern] [nvarchar](50) NULL,
	[ItemCaseCode] [nvarchar](50) NULL,
	[PackQty] [dbo].[pDecimal] NULL,
	[InnerPackQty] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcPartnerItemXRef] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPartnerItemXRef_PartnerIDUIREDIUOMTRAVItemIDTRAVUOM]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPartnerItemXRef_PartnerIDUIREDIUOMTRAVItemIDTRAVUOM] ON [dbo].[tblEcPartnerItemXRef]
(
	[PartnerID] ASC,
	[UIR] ASC,
	[EDIUOM] ASC,
	[TRAVItemID] ASC,
	[TRAVUOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPartnerItemXRef] ADD  CONSTRAINT [DF_tblEcPartnerItemXRef_PackQty]  DEFAULT ((1)) FOR [PackQty]
GO
ALTER TABLE [dbo].[tblEcPartnerItemXRef] ADD  CONSTRAINT [DF_tblEcPartnerItemXRef_InnerPackQty]  DEFAULT ((1)) FOR [InnerPackQty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerItemXRef'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerItemXRef'
GO
