USE [005]
GO
/****** Object:  Table [dbo].[tblSrDepartments]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrDepartments](
	[DeptCode] [dbo].[pDeptID] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[PrintLaborPrice] [tinyint] NOT NULL,
	[PrintMatlPrice] [tinyint] NOT NULL,
	[PrintOtherPrice] [tinyint] NOT NULL,
	[PrintTextPrice] [tinyint] NOT NULL,
	[PrintEstLaborPrice] [tinyint] NOT NULL,
	[PrintEstMatlPrice] [tinyint] NOT NULL,
	[PrintEstOtherPrice] [tinyint] NOT NULL,
	[PrintEstTextPrice] [tinyint] NOT NULL,
	[PrintEstSubtotals] [tinyint] NOT NULL,
	[PrintEstTotals] [tinyint] NOT NULL,
	[PrintSubtotals] [tinyint] NOT NULL,
	[PrintTotals] [tinyint] NOT NULL,
	[InvcFrom] [tinyint] NOT NULL,
	[PrintSpecInstr] [bit] NOT NULL,
	[PrintCustomerInstr] [bit] NOT NULL,
	[PrintNameplate] [bit] NOT NULL,
	[MatlMultiplier] [dbo].[pDecimal] NOT NULL,
	[LaborMultiplier] [dbo].[pDecimal] NOT NULL,
	[StdLaborCostRate] [dbo].[pDecimal] NOT NULL,
	[BillingRateReg] [dbo].[pDecimal] NOT NULL,
	[BillingRateOT] [dbo].[pDecimal] NOT NULL,
	[BillingRateDT] [dbo].[pDecimal] NOT NULL,
	[LaborCostFlag] [tinyint] NOT NULL,
	[LaborBurdenType] [tinyint] NOT NULL,
	[LaborBurdenAmount] [dbo].[pDecimal] NOT NULL,
	[MatlBurdenPct] [dbo].[pDecimal] NOT NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrDepartments] PRIMARY KEY CLUSTERED 
(
	[DeptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintOtherPrice]  DEFAULT ((0)) FOR [PrintOtherPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintTextPrice]  DEFAULT ((0)) FOR [PrintTextPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstLaborPrice]  DEFAULT ((0)) FOR [PrintEstLaborPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstMatlPrice]  DEFAULT ((0)) FOR [PrintEstMatlPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstOtherPrice]  DEFAULT ((0)) FOR [PrintEstOtherPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstTextPrice]  DEFAULT ((0)) FOR [PrintEstTextPrice]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstSubtotals]  DEFAULT ((1)) FOR [PrintEstSubtotals]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintEstTotals]  DEFAULT ((1)) FOR [PrintEstTotals]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintSubtotals]  DEFAULT ((1)) FOR [PrintSubtotals]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintTotals]  DEFAULT ((1)) FOR [PrintTotals]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintSpecInstr]  DEFAULT ((1)) FOR [PrintSpecInstr]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_PrintNameplate]  DEFAULT ((1)) FOR [PrintNameplate]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_MatlMultiplier]  DEFAULT ((0)) FOR [MatlMultiplier]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_LaborMultiplier]  DEFAULT ((0)) FOR [LaborMultiplier]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_StdLaborCostRate]  DEFAULT ((0)) FOR [StdLaborCostRate]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_BillingRateReg]  DEFAULT ((0)) FOR [BillingRateReg]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_BillingRateOT]  DEFAULT ((0)) FOR [BillingRateOT]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_BillingRateDT]  DEFAULT ((0)) FOR [BillingRateDT]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_LaborCostFlag]  DEFAULT ((0)) FOR [LaborCostFlag]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_LaborBurdenType]  DEFAULT ((0)) FOR [LaborBurdenType]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_LaborBurdenAmount]  DEFAULT ((0)) FOR [LaborBurdenAmount]
GO
ALTER TABLE [dbo].[tblSrDepartments] ADD  CONSTRAINT [DF_tblSrDepartments_MatlBurdenPct]  DEFAULT ((0)) FOR [MatlBurdenPct]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrDepartments'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrDepartments'
GO
