USE [005]
GO
/****** Object:  Table [dbo].[tblSmBankAcct]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmBankAcct](
	[BankId] [dbo].[pBankID] NOT NULL,
	[Desc] [nvarchar](35) NULL,
	[Name] [nvarchar](40) NULL,
	[Contact] [nvarchar](30) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[IntlPrefix] [nvarchar](6) NULL,
	[Phone] [nvarchar](15) NULL,
	[FAX] [nvarchar](15) NULL,
	[OurAcctNum] [dbo].[pGlAcct] NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[GlCashAcct] [dbo].[pGlAcct] NULL,
	[Email] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[CheckLayout] [tinyint] NOT NULL,
	[CheckFormat] [tinyint] NOT NULL,
	[GLAcctBal] [dbo].[pDecimal] NOT NULL,
	[LastStmtBal] [dbo].[pDecimal] NOT NULL,
	[LastStmtDate] [datetime] NULL,
	[ReconsImpId] [dbo].[pItemID] NULL,
	[AcctType] [tinyint] NOT NULL,
	[RoutingCode] [nvarchar](9) NULL,
	[MICR] [bit] NOT NULL,
	[NextCheckNo] [dbo].[pCheckNum] NULL,
	[APPosPay] [nvarchar](24) NULL,
	[PAPosPay] [nvarchar](24) NULL,
	[CcExpire] [datetime] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[RoutingFraction] [nvarchar](13) NULL,
	[NextVoucherNo] [dbo].[pCheckNum] NULL,
	[FilingCode] [nvarchar](1) NULL,
	[FRBRoutingCode] [nvarchar](9) NULL,
	[SecurityCode] [nvarchar](94) NULL,
	[SecurityCodePadLength] [tinyint] NULL,
	[ACHExcludeOffset] [bit] NULL,
	[ACHNextBatchNumber] [int] NULL,
	[ACHLastPayDate] [datetime] NULL,
	[ACHFilePath] [nvarchar](255) NULL,
	[ACHFileName] [nvarchar](255) NULL,
	[ACHExecute] [nvarchar](255) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[APFileFormat] [nvarchar](10) NULL,
	[PAFileFormat] [nvarchar](10) NULL,
	[ARFileFormat] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblSmBankAcct] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_CheckLayout]  DEFAULT ((0)) FOR [CheckLayout]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_CheckFormat]  DEFAULT ((0)) FOR [CheckFormat]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_GLAcctBal]  DEFAULT ((0)) FOR [GLAcctBal]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_LastStmtBal]  DEFAULT ((0)) FOR [LastStmtBal]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_AcctType]  DEFAULT ((0)) FOR [AcctType]
GO
ALTER TABLE [dbo].[tblSmBankAcct] ADD  CONSTRAINT [DF_tblSmBankAcct_MICR]  DEFAULT ((0)) FOR [MICR]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmBankAcct'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmBankAcct'
GO
