USE [005]
GO
/****** Object:  Table [dbo].[tblSysCustomViews]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysCustomViews](
	[Id] [nvarchar](30) NOT NULL,
	[ReplaceId] [nvarchar](30) NULL,
	[Description] [nvarchar](100) NULL,
	[FilterId] [nvarchar](30) NOT NULL,
	[DataSource] [nvarchar](max) NOT NULL,
	[Available] [nvarchar](max) NULL,
	[Defaults] [nvarchar](max) NULL,
	[Enums] [nvarchar](max) NULL,
	[Formats] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSysCustomViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSysCustomViews_ReplaceId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [UX_tblSysCustomViews_ReplaceId] ON [dbo].[tblSysCustomViews]
(
	[ReplaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomViews'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomViews'
GO
