USE [005]
GO
/****** Object:  Table [dbo].[tblSoSaleBlanketDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoSaleBlanketDetail](
	[BlanketRef] [int] NOT NULL,
	[BlanketDtlRef] [int] NOT NULL,
	[LineSeq] [int] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[CatId] [nvarchar](2) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[AcctCode] [dbo].[pGLAcctCode] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[PriceId] [nvarchar](10) NULL,
	[PromoId] [nvarchar](10) NULL,
	[QtyOrdered] [dbo].[pDecimal] NOT NULL,
	[QtyReleased] [dbo].[pDecimal] NOT NULL,
	[Units] [dbo].[pUom] NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[PriceExt] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[CostExt] [dbo].[pDecimal] NOT NULL,
	[GrpId] [int] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CustomerPartNumber] [dbo].[pDescription] NULL,
 CONSTRAINT [PK_tblSoSaleBlanketDetail] PRIMARY KEY CLUSTERED 
(
	[BlanketRef] ASC,
	[BlanketDtlRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_QtyOrdered]  DEFAULT ((0)) FOR [QtyOrdered]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_QtyReleased]  DEFAULT ((0)) FOR [QtyReleased]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketDetail] ADD  CONSTRAINT [DF_tblSoSaleBlanketDetail_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanketDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanketDetail'
GO
