USE [005]
GO
/****** Object:  Table [dbo].[tblInGLAcct]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInGLAcct](
	[GLAcctCode] [dbo].[pGLAcctCode] NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCogs] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[GLAcctWip] [dbo].[pGlAcct] NULL,
	[GLAcctInvAdj] [dbo].[pGlAcct] NULL,
	[GLAcctCogsAdj] [dbo].[pGlAcct] NULL,
	[GLAcctPurchPriceVar] [dbo].[pGlAcct] NULL,
	[GLAcctStandCostVar] [dbo].[pGlAcct] NULL,
	[GLAcctPhyCountAdj] [dbo].[pGlAcct] NULL,
	[GLAcctXferCost] [dbo].[pGlAcct] NULL,
	[GLAcctInTransit] [dbo].[pGlAcct] NULL,
	[GLAcctAccrual] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInGLAcct] PRIMARY KEY CLUSTERED 
(
	[GLAcctCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInGLAcct'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInGLAcct'
GO
