USE [005]
GO
/****** Object:  Table [dbo].[tblEcMapHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcMapHeader](
	[Id] [bigint] NOT NULL,
	[MapId] [nvarchar](20) NOT NULL,
	[LayoutID] [int] NULL,
	[MapDescr] [dbo].[pDescription] NULL,
	[MapType] [smallint] NULL,
	[FileDirection] [smallint] NULL,
	[MapDirectToTableYN] [bit] NULL,
	[CaptionsIncludedYN] [bit] NULL,
	[FieldDelimiter] [nvarchar](10) NULL,
	[TextQualifier] [nvarchar](10) NULL,
	[RecordDelimiter] [nvarchar](10) NULL,
	[ProcessCommand] [nvarchar](255) NULL,
	[ExportNumOfCols] [smallint] NULL,
	[ExportSplitFilesOnFld] [nvarchar](50) NULL,
	[ExportSplitFilesOnFldDescr] [nvarchar](50) NULL,
	[ExportOutputFileMode] [smallint] NULL,
	[FilePath] [nvarchar](500) NULL,
	[ArchiveDirPath] [nvarchar](500) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcMapHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcMapHeader_MapId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcMapHeader_MapId] ON [dbo].[tblEcMapHeader]
(
	[MapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcMapHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcMapHeader'
GO
