USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndExclude]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndExclude](
	[IndId] [dbo].[pEmpID] NOT NULL,
	[WithholdId] [bigint] NOT NULL,
	[Code] [dbo].[pCode] NOT NULL,
	[EmployerPaid] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndExclude] PRIMARY KEY CLUSTERED 
(
	[IndId] ASC,
	[WithholdId] ASC,
	[Code] ASC,
	[EmployerPaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndExclude] ADD  CONSTRAINT [DF_tblHrIndExclude_EmployerPaid]  DEFAULT ((0)) FOR [EmployerPaid]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndExclude'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndExclude'
GO
