USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistPmt]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistPmt](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[PmtNum] [int] NOT NULL,
	[PmtDate] [datetime] NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[DepositId] [dbo].[pBatchID] NOT NULL,
	[LinkId] [int] NOT NULL,
	[InvoiceLink] [dbo].[pTransID] NULL,
	[PmtMethodId] [varchar](10) NOT NULL,
	[CcNum] [nvarchar](255) NULL,
	[CcHolder] [varchar](30) NULL,
	[CcExpire] [datetime] NULL,
	[CcAuth] [nvarchar](255) NULL,
	[CheckNum] [dbo].[pCheckNum] NULL,
	[Note] [varchar](25) NULL,
	[PmtAmt] [dbo].[pDecimal] NULL,
	[PmtAmtFgn] [dbo].[pDecimal] NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[PostedYn] [bit] NULL,
	[PreparedYn] [bit] NULL,
	[CcSecCode] [varchar](6) NULL,
	[BankName] [varchar](30) NULL,
	[BankRoutingCode] [varchar](9) NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[GlAcctReceivables] [dbo].[pGlAcct] NULL,
	[ExtPmtActivityID] [bigint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistPmt] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[PmtNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_PmtAmt]  DEFAULT ((0)) FOR [PmtAmt]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_PmtAmtFgn]  DEFAULT ((0)) FOR [PmtAmtFgn]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_PreparedYn]  DEFAULT ((0)) FOR [PreparedYn]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_GlPeriod]  DEFAULT ((1)) FOR [GlPeriod]
GO
ALTER TABLE [dbo].[tblSrHistPmt] ADD  CONSTRAINT [DF_tblSrHistPmt_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistPmt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistPmt'
GO
