USE [005]
GO
/****** Object:  Table [dbo].[tblSvWorkOrderDispatch]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvWorkOrderDispatch](
	[ID] [bigint] NOT NULL,
	[WorkOrderID] [bigint] NOT NULL,
	[DispatchNo] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[Status] [tinyint] NOT NULL,
	[EquipmentID] [bigint] NULL,
	[EquipmentDescription] [dbo].[pDescription] NULL,
	[BillingType] [nvarchar](10) NULL,
	[BillToID] [dbo].[pCustID] NULL,
	[RequestedDate] [datetime] NULL,
	[RequestedAMPM] [tinyint] NOT NULL,
	[RequestedTechID] [dbo].[pEmpID] NULL,
	[CancelledYN] [bit] NOT NULL,
	[HoldYN] [bit] NOT NULL,
	[EstTravel] [bigint] NOT NULL,
	[SchedApproved] [bit] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Counter] [int] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[SourceId] [uniqueidentifier] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Priority] [tinyint] NOT NULL,
	[StatusID] [tinyint] NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSvWorkOrderDispatch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Status]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Status] ON [dbo].[tblSvWorkOrderDispatch]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_WorkOrderIDDispatchNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_WorkOrderIDDispatchNo] ON [dbo].[tblSvWorkOrderDispatch]
(
	[WorkOrderID] ASC,
	[DispatchNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_RequestedAMPM]  DEFAULT ((0)) FOR [RequestedAMPM]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_CancelledYN]  DEFAULT ((0)) FOR [CancelledYN]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_HoldYN]  DEFAULT ((0)) FOR [HoldYN]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_EstTime]  DEFAULT ((0)) FOR [EstTravel]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_SchedApproved]  DEFAULT ((0)) FOR [SchedApproved]
GO
ALTER TABLE [dbo].[tblSvWorkOrderDispatch] ADD  CONSTRAINT [DF_tblSvWorkOrderDispatch_Priority]  DEFAULT ((0)) FOR [Priority]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderDispatch'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderDispatch'
GO
