USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigField]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigField](
	[FieldId] [bigint] NOT NULL,
	[ConfigId] [bigint] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[FieldCode] [nvarchar](50) NOT NULL,
	[Label] [nvarchar](75) NOT NULL,
	[TabOrder] [int] NOT NULL,
	[LineType] [tinyint] NOT NULL,
	[DataType] [tinyint] NOT NULL,
	[TextLength] [int] NULL,
	[AllowQty] [bit] NOT NULL,
	[MultipleSelect] [bit] NOT NULL,
	[LimitToList] [bit] NOT NULL,
	[DisplayWhen] [nvarchar](200) NULL,
	[HelpText] [nvarchar](200) NULL,
	[Precision] [int] NOT NULL,
	[NumMinValue] [dbo].[pDecimal] NOT NULL,
	[NumMaxValue] [dbo].[pDecimal] NOT NULL,
	[NumIncrement] [dbo].[pDecimal] NULL,
	[PrintGroup] [nvarchar](2) NULL,
	[NumWarnYn] [bit] NOT NULL,
	[DefaultValue] [nvarchar](50) NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[PriceOption] [tinyint] NOT NULL,
	[RequiredYn] [bit] NOT NULL,
	[LongDescr] [nvarchar](max) NULL,
	[SmartIdLen] [int] NULL,
	[SmartIdValue] [nvarchar](24) NULL,
	[PictureId] [varbinary](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Linked] [bigint] NULL,
	[MultipleValuesYn] [bit] NOT NULL,
 CONSTRAINT [PK_tblCfConfigField] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblCfConfigField_ConfigIdFieldCode]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCfConfigField_ConfigIdFieldCode] ON [dbo].[tblCfConfigField]
(
	[ConfigId] ASC,
	[FieldCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_LineType]  DEFAULT ((0)) FOR [LineType]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_DataType]  DEFAULT ((0)) FOR [DataType]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_AllowQty]  DEFAULT ((0)) FOR [AllowQty]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_MultipleSelect]  DEFAULT ((0)) FOR [MultipleSelect]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_LimitToList]  DEFAULT ((0)) FOR [LimitToList]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_Precision]  DEFAULT ((0)) FOR [Precision]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_NumMinValue]  DEFAULT ((0)) FOR [NumMinValue]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_NumMaxValue]  DEFAULT ((0)) FOR [NumMaxValue]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_NumWarnYn]  DEFAULT ((0)) FOR [NumWarnYn]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_PriceOption]  DEFAULT ((0)) FOR [PriceOption]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_RequiredYn]  DEFAULT ((0)) FOR [RequiredYn]
GO
ALTER TABLE [dbo].[tblCfConfigField] ADD  CONSTRAINT [DF_tblCfConfigField_MultipleValuesYn]  DEFAULT ((0)) FOR [MultipleValuesYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigField'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigField'
GO
