USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndLifeIns]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndLifeIns](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[LifeInsID] [bigint] NOT NULL,
	[PolicyNumber] [nvarchar](20) NULL,
	[BenefitStartDate] [datetime] NOT NULL,
	[BenefitEndDate] [datetime] NULL,
	[CoverageSelf] [int] NOT NULL,
	[CoverageSpouse] [int] NOT NULL,
	[CoverageChild] [int] NOT NULL,
	[Smoker] [bit] NOT NULL,
	[Beneficiary1] [nvarchar](35) NULL,
	[Beneficiary2] [nvarchar](35) NULL,
	[BeneficiaryRelation1] [nvarchar](35) NULL,
	[BeneficiaryRelation2] [nvarchar](35) NULL,
	[BeneficiaryPct1] [dbo].[pDecimal] NULL,
	[BeneficiaryPct2] [dbo].[pDecimal] NULL,
	[Contingency1] [nvarchar](35) NULL,
	[Contingency2] [nvarchar](35) NULL,
	[ContingencyRelation1] [nvarchar](35) NULL,
	[ContingencyRelation2] [nvarchar](35) NULL,
	[ContingencyPct1] [dbo].[pDecimal] NULL,
	[ContingencyPct2] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndLifeIns] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndLifeIns_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndLifeIns_IndId] ON [dbo].[tblHrIndLifeIns]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndLifeIns] ADD  CONSTRAINT [DF_tblHrIndLifeIns_CoverageSelf]  DEFAULT ((0)) FOR [CoverageSelf]
GO
ALTER TABLE [dbo].[tblHrIndLifeIns] ADD  CONSTRAINT [DF_tblHrIndLifeIns_CoverageSpouse]  DEFAULT ((0)) FOR [CoverageSpouse]
GO
ALTER TABLE [dbo].[tblHrIndLifeIns] ADD  CONSTRAINT [DF_tblHrIndLifeIns_CoverageChild]  DEFAULT ((0)) FOR [CoverageChild]
GO
ALTER TABLE [dbo].[tblHrIndLifeIns] ADD  CONSTRAINT [DF_tblHrIndLifeIns_Smoker]  DEFAULT ((0)) FOR [Smoker]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndLifeIns'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndLifeIns'
GO
