USE [005]
GO
/****** Object:  Table [dbo].[tblEcPoSoTransDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPoSoTransDetail](
	[Id] [bigint] NOT NULL,
	[PoSoHeaderID] [bigint] NOT NULL,
	[SoTransId] [dbo].[pTransID] NOT NULL,
	[SOEntryNum] [int] NOT NULL,
	[PoDetailID] [bigint] NOT NULL,
	[SplitSeq] [int] NULL,
	[PoLineNum] [nvarchar](50) NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPoSoTransDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEcPoSoTransDetail_PoDetailID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPoSoTransDetail_PoDetailID] ON [dbo].[tblEcPoSoTransDetail]
(
	[PoDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoSoTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoSoTransDetail'
GO
