USE [005]
GO
/****** Object:  Table [dbo].[tblSoReturnedItem]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoReturnedItem](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Status] [tinyint] NULL,
	[ResCode] [nvarchar](10) NULL,
	[RMANumber] [dbo].[pInvoiceNum] NULL,
	[CustID] [dbo].[pCustID] NULL,
	[TransId] [dbo].[pTransID] NULL,
	[EntryNum] [int] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocB] [int] NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[Units] [dbo].[pUom] NULL,
	[QtyReturn] [dbo].[pDecimal] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[CostExt] [dbo].[pDecimal] NULL,
	[UnitPrice] [dbo].[pDecimal] NULL,
	[PriceExt] [dbo].[pDecimal] NULL,
	[QtySeqNum] [int] NOT NULL,
	[QtySeqNumExt] [int] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[HistSeqNumSer] [int] NOT NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblSoReturnedItem] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSoReturnedItem_Status]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoReturnedItem_Status] ON [dbo].[tblSoReturnedItem]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSoReturnedItem_TransIdEntryNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoReturnedItem_TransIdEntryNum] ON [dbo].[tblSoReturnedItem]
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_QtyReturn]  DEFAULT ((0)) FOR [QtyReturn]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_QtySeqNumExt]  DEFAULT ((0)) FOR [QtySeqNumExt]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblSoReturnedItem] ADD  CONSTRAINT [DF_tblSoReturnedItem_HistSeqNumSer]  DEFAULT ((0)) FOR [HistSeqNumSer]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoReturnedItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoReturnedItem'
GO
