USE [005]
GO
/****** Object:  Table [dbo].[tblSoTransDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoTransDetail](
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[ItemJob] [tinyint] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[JobId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[JobCompleteYN] [bit] NULL,
	[ItemType] [tinyint] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[CatId] [nvarchar](2) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[AcctCode] [dbo].[pGLAcctCode] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[QtyOrdSell] [dbo].[pDecimal] NULL,
	[UnitsSell] [dbo].[pUom] NULL,
	[UnitsBase] [dbo].[pUom] NULL,
	[QtyShipSell] [dbo].[pDecimal] NULL,
	[QtyShipBase] [dbo].[pDecimal] NULL,
	[QtyBackordSell] [dbo].[pDecimal] NULL,
	[PriceID] [nvarchar](10) NULL,
	[UnitPriceSell] [dbo].[pDecimal] NULL,
	[UnitPriceSellFgn] [dbo].[pDecimal] NULL,
	[UnitCostSell] [dbo].[pDecimal] NULL,
	[UnitCostSellFgn] [dbo].[pDecimal] NULL,
	[PriceExt] [dbo].[pDecimal] NULL,
	[PriceExtFgn] [dbo].[pDecimal] NULL,
	[CostExtFgn] [dbo].[pDecimal] NULL,
	[CostExt] [dbo].[pDecimal] NULL,
	[PromoID] [nvarchar](10) NULL,
	[ReqShipDate] [datetime] NULL,
	[ActShipDate] [datetime] NULL,
	[EffectiveRate] [dbo].[pDecimal] NULL,
	[OrigOrderQty] [dbo].[pDecimal] NULL,
	[BinNum] [nvarchar](10) NULL,
	[ConversionFactor] [dbo].[pDecimal] NULL,
	[LottedYN] [bit] NULL,
	[InItemYN] [bit] NULL,
	[HistSeqNum] [int] NULL,
	[GrpId] [int] NULL,
	[Kit] [bit] NULL,
	[KitQty] [dbo].[pDecimal] NULL,
	[KitQtyBackOrdered] [dbo].[pDecimal] NULL,
	[OriCompQty] [dbo].[pDecimal] NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[QtySeqNum] [int] NULL,
	[LineSeq] [int] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[PriceAdjType] [tinyint] NULL,
	[PriceAdjPct] [dbo].[pDecimal] NULL,
	[PriceAdjAmt] [dbo].[pDecimal] NULL,
	[PriceAdjAmtFgn] [dbo].[pDecimal] NULL,
	[Status] [tinyint] NULL,
	[TotQtyOrdSell] [dbo].[pDecimal] NULL,
	[TotQtyShipSell] [dbo].[pDecimal] NULL,
	[ResCode] [nvarchar](10) NULL,
	[UnitPriceSellBasis] [dbo].[pDecimal] NULL,
	[UnitPriceSellBasisFgn] [dbo].[pDecimal] NULL,
	[BlanketDtlRef] [int] NULL,
	[BOLNum] [nvarchar](17) NULL,
	[LinkSeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TotCostShipSell] [dbo].[pDecimal] NOT NULL,
	[CustomerPartNumber] [dbo].[pDescription] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityCmtdID] [bigint] NULL,
 CONSTRAINT [PK_tblSoTransDetail] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_ItemJob]  DEFAULT ((0)) FOR [ItemJob]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_JobCompleteYN]  DEFAULT ((0)) FOR [JobCompleteYN]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_ItemType]  DEFAULT ((0)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtyOrdSell]  DEFAULT ((0)) FOR [QtyOrdSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtyShipSell]  DEFAULT ((0)) FOR [QtyShipSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtyShipBase]  DEFAULT ((0)) FOR [QtyShipBase]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtyBackordSell]  DEFAULT ((0)) FOR [QtyBackordSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitPriceSell]  DEFAULT ((0)) FOR [UnitPriceSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitPriceSellFgn]  DEFAULT ((0)) FOR [UnitPriceSellFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitCostSell]  DEFAULT ((0)) FOR [UnitCostSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitCostSellFgn]  DEFAULT ((0)) FOR [UnitCostSellFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceExtFgn]  DEFAULT ((0)) FOR [PriceExtFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_CostExtFgn]  DEFAULT ((0)) FOR [CostExtFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_EffectiveRate]  DEFAULT ((0)) FOR [EffectiveRate]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_OrigOrderQty]  DEFAULT ((0)) FOR [OrigOrderQty]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_ConversionFactor]  DEFAULT ((1)) FOR [ConversionFactor]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_InItemYN]  DEFAULT ((1)) FOR [InItemYN]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Kit]  DEFAULT ((0)) FOR [Kit]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_KitQty]  DEFAULT ((1)) FOR [KitQty]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_KitQtyBackOrdered]  DEFAULT ((0)) FOR [KitQtyBackOrdered]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_OriCompQty]  DEFAULT ((0)) FOR [OriCompQty]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtySeqNum_Cmtd]  DEFAULT ((0)) FOR [QtySeqNum_Cmtd]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitCommBasisFgn]  DEFAULT ((0)) FOR [UnitCommBasisFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceAdjType]  DEFAULT ((0)) FOR [PriceAdjType]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceAdjPct]  DEFAULT ((0)) FOR [PriceAdjPct]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceAdjAmt]  DEFAULT ((0)) FOR [PriceAdjAmt]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_PriceAdjAmtFgn]  DEFAULT ((0)) FOR [PriceAdjAmtFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_TotQtyOrdSell]  DEFAULT ((0)) FOR [TotQtyOrdSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_TotQtyShipSell]  DEFAULT ((0)) FOR [TotQtyShipSell]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitPriceSellBasis]  DEFAULT ((0)) FOR [UnitPriceSellBasis]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_UnitPriceSellBasisFgn]  DEFAULT ((0)) FOR [UnitPriceSellBasisFgn]
GO
ALTER TABLE [dbo].[tblSoTransDetail] ADD  CONSTRAINT [DF_tblSoTransDetail_TotCostShipSell]  DEFAULT ((0)) FOR [TotCostShipSell]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoTransDetail'
GO
