USE [005]
GO
/****** Object:  Table [dbo].[tblWmPick_Gen]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmPick_Gen](
	[PickGenKey] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SourceId] [tinyint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [bigint] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[PickNum] [dbo].[pInvoiceNum] NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[QtyReq] [dbo].[pDecimal] NOT NULL,
	[ReqDate] [datetime] NOT NULL,
	[Ref1] [dbo].[pTransID] NULL,
	[Ref2] [dbo].[pTransID] NULL,
	[Ref3] [dbo].[pTransID] NULL,
	[GrpId] [int] NULL,
	[OriCompQty] [dbo].[pDecimal] NOT NULL,
	[PickID] [nvarchar](20) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[KitId] [dbo].[pItemID] NULL,
 CONSTRAINT [PK_tblWmPick_Gen] PRIMARY KEY CLUSTERED 
(
	[PickGenKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmPick_Gen_PickID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmPick_Gen_PickID] ON [dbo].[tblWmPick_Gen]
(
	[PickID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblWmPick_Gen_SourceIdTransIdEntryNumSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblWmPick_Gen_SourceIdTransIdEntryNumSeqNum] ON [dbo].[tblWmPick_Gen]
(
	[SourceId] ASC,
	[TransId] ASC,
	[EntryNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmPick_Gen] ADD  CONSTRAINT [DF_tblWmPick_Gen_QtyReq]  DEFAULT ((0)) FOR [QtyReq]
GO
ALTER TABLE [dbo].[tblWmPick_Gen] ADD  CONSTRAINT [DF_tblWmPick_Gen_OriCompQty]  DEFAULT ((0)) FOR [OriCompQty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPick_Gen'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPick_Gen'
GO
