USE [005]
GO
/****** Object:  Table [dbo].[tblInHistSer]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInHistSer](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[SumYear] [smallint] NULL,
	[SumPeriod] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[DateOrder] [datetime] NULL,
	[DateInvc] [datetime] NULL,
	[DateRcpt] [datetime] NULL,
	[DateShip] [datetime] NULL,
	[CostUnit] [dbo].[pDecimal] NOT NULL,
	[PriceUnit] [dbo].[pDecimal] NOT NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[CostUnitACV] [dbo].[pDecimal] NOT NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblInHistSer] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblInHistSer_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInHistSer_ID] ON [dbo].[tblInHistSer]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_SumYear]  DEFAULT ((0)) FOR [SumYear]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_SumPeriod]  DEFAULT ((0)) FOR [SumPeriod]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblInHistSer] ADD  CONSTRAINT [DF_tblInHistSer_CostUnitACV]  DEFAULT ((0)) FOR [CostUnitACV]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInHistSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInHistSer'
GO
