USE [005]
GO
/****** Object:  Table [dbo].[tblWmPhysicalCountDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmPhysicalCountDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[ExtLocAID] [nvarchar](10) NOT NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[QtyFrozen] [dbo].[pDecimal] NULL,
	[QtyCounted] [dbo].[pDecimal] NULL,
	[TagNum] [int] NULL,
	[NewExtLocAID] [nvarchar](10) NULL,
	[NewExtLocBID] [nvarchar](10) NULL,
	[QtyStatus] [smallint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[DetailType] [tinyint] NULL,
 CONSTRAINT [PK_tblWmPhysicalCountDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmPhysicalCountDetail_BatchID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmPhysicalCountDetail_BatchID] ON [dbo].[tblWmPhysicalCountDetail]
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmPhysicalCountDetail_HeaderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmPhysicalCountDetail_HeaderID] ON [dbo].[tblWmPhysicalCountDetail]
(
	[HeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPhysicalCountDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPhysicalCountDetail'
GO
