USE [005]
GO
/****** Object:  Table [dbo].[tblArPmtMethod]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArPmtMethod](
	[PmtMethodID] [nvarchar](10) NOT NULL,
	[Desc] [nvarchar](30) NULL,
	[PmtType] [smallint] NULL,
	[GLAcctDebit] [dbo].[pGlAcct] NULL,
	[BankId] [dbo].[pBankID] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[OpenDrawer] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[Status] [tinyint] NOT NULL,
	[MobileEnabled] [bit] NOT NULL,
	[MobileDescription] [dbo].[pDescription] NULL,
	[MobileImage] [varbinary](max) NULL,
 CONSTRAINT [PK_tblArPmtMethod] PRIMARY KEY CLUSTERED 
(
	[PmtMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlBankId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlBankId] ON [dbo].[tblArPmtMethod]
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustId] ON [dbo].[tblArPmtMethod]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlPmtType]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlPmtType] ON [dbo].[tblArPmtMethod]
(
	[PmtType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArPmtMethod] ADD  CONSTRAINT [DF_tblArPmtMethod_PmtType]  DEFAULT ((1)) FOR [PmtType]
GO
ALTER TABLE [dbo].[tblArPmtMethod] ADD  CONSTRAINT [DF_tblArPmtMethod_OpenDrawer]  DEFAULT ((0)) FOR [OpenDrawer]
GO
ALTER TABLE [dbo].[tblArPmtMethod] ADD  CONSTRAINT [DF_tblArPmtMethod_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblArPmtMethod] ADD  CONSTRAINT [DF_tblArPmtMethod_MobileEnabled]  DEFAULT ((0)) FOR [MobileEnabled]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArPmtMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArPmtMethod'
GO
