USE [005]
GO
/****** Object:  Table [dbo].[tblInXferLot]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInXferLot](
	[HistSeqNumTo] [int] NULL,
	[TransId] [int] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[LotNumFrom] [dbo].[pLotNum] NULL,
	[LotNumTo] [dbo].[pLotNum] NULL,
	[QtyOrder] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[QtyBkord] [dbo].[pDecimal] NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[CostXfer] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNumFrom] [int] NULL,
	[QtySeqNumTo] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityIDFrom] [bigint] NULL,
	[HistoryIDFrom] [bigint] NULL,
	[QuantityIDTo] [bigint] NULL,
	[HistoryIDTo] [bigint] NULL,
 CONSTRAINT [PK_tblInXferLot] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_QtyOrder]  DEFAULT ((0)) FOR [QtyOrder]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_QtyFilled]  DEFAULT ((0)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_QtyBkord]  DEFAULT ((0)) FOR [QtyBkord]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_CostXfer]  DEFAULT ((0)) FOR [CostXfer]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_QtySeqNumFrom]  DEFAULT ((0)) FOR [QtySeqNumFrom]
GO
ALTER TABLE [dbo].[tblInXferLot] ADD  CONSTRAINT [DF_tblInXferLot_QtySeqNumTo]  DEFAULT ((0)) FOR [QtySeqNumTo]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInXferLot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInXferLot'
GO
