USE [005]
GO
/****** Object:  Table [dbo].[tblArRecurDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArRecurDetail](
	[RecurId] [nvarchar](8) NOT NULL,
	[EntryNum] [int] NOT NULL,
	[LineSeq] [int] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[CatId] [nvarchar](2) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[PriceId] [nvarchar](10) NULL,
	[PromoId] [nvarchar](10) NULL,
	[AcctCode] [dbo].[pGLAcctCode] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[Quantity] [dbo].[pDecimal] NOT NULL,
	[Units] [dbo].[pUom] NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CustomerPartNumber] [dbo].[pDescription] NULL,
 CONSTRAINT [PK_tblArRecurDetail] PRIMARY KEY CLUSTERED 
(
	[RecurId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblArRecurDetail] ADD  CONSTRAINT [DF_tblArRecurDetail_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArRecurDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArRecurDetail'
GO
