USE [005]
GO
/****** Object:  Table [dbo].[tblSmDocumentQueue]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmDocumentQueue](
	[ID] [bigint] NOT NULL,
	[FormID] [nvarchar](10) NOT NULL,
	[FunctionID] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[DeliveryDestination] [dbo].[pEmail] NULL,
	[DeliveryType] [tinyint] NOT NULL,
	[DeliveryName] [nvarchar](30) NULL,
	[EmailBody] [nvarchar](max) NULL,
	[EmailAttachment] [varbinary](max) NULL,
	[RunTime] [datetime] NOT NULL,
	[SentTime] [datetime] NULL,
	[ActivityID] [uniqueidentifier] NULL,
	[ContactID] [nvarchar](20) NOT NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[HostID] [dbo].[pWrkStnID] NOT NULL,
	[DocumentNo] [nvarchar](255) NULL,
	[KeyFieldName] [nvarchar](255) NULL,
	[KeyFieldValue] [nvarchar](255) NULL,
	[SourceID] [nvarchar](255) NULL,
	[ModifiedBy] [dbo].[pUserID] NULL,
	[ModifiedTime] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[DocumentData] [nvarchar](max) NULL,
	[AdditionalEmailAttachment] [varbinary](max) NULL,
 CONSTRAINT [PK_tblSmDocumentQueue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentQueue'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentQueue'
GO
