USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckHistWithhold]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckHistWithhold](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[Id] [int] NOT NULL,
	[CheckId] [int] NOT NULL,
	[TaxAuthorityType] [tinyint] NOT NULL,
	[State] [nvarchar](2) NULL,
	[Local] [nvarchar](2) NULL,
	[WithholdingCode] [nvarchar](3) NULL,
	[Description] [nvarchar](30) NULL,
	[WithholdingAmount] [dbo].[pDecimal] NOT NULL,
	[WithholdingEarnings] [dbo].[pDecimal] NOT NULL,
	[GrossEarnings] [dbo].[pDecimal] NOT NULL,
	[GLAcctLiability] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckHistWithhold] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheckHistWithhold_PostRunCheckid]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckHistWithhold_PostRunCheckid] ON [dbo].[tblPaCheckHistWithhold]
(
	[PostRun] ASC,
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistWithhold'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistWithhold'
GO
