USE [005]
GO
/****** Object:  Table [dbo].[tblHrLifeInsSub]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrLifeInsSub](
	[ID] [bigint] NOT NULL,
	[LifeInsID] [bigint] NOT NULL,
	[MaxAge] [int] NOT NULL,
	[SelfSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[SelfSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[SelfNSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[SelfNSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[SpouseSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[SpouseSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[SpouseNSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[SpouseNSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[ChildSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[ChildSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[ChildNSEmployerAmount] [dbo].[pDecimal] NOT NULL,
	[ChildNSEmployeeAmount] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrLifeInsSub] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblHrLifeInsSub_LifeInsIDMaxAge]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblHrLifeInsSub_LifeInsIDMaxAge] ON [dbo].[tblHrLifeInsSub]
(
	[LifeInsID] ASC,
	[MaxAge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_MaxAge]  DEFAULT ((0)) FOR [MaxAge]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SelfSEmployerAmount]  DEFAULT ((0)) FOR [SelfSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SelfSEmployeeAmount]  DEFAULT ((0)) FOR [SelfSEmployeeAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SelfNSEmployerAmount]  DEFAULT ((0)) FOR [SelfNSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SelfNSEmployeeAmount]  DEFAULT ((0)) FOR [SelfNSEmployeeAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SpoueSEmployerAmount]  DEFAULT ((0)) FOR [SpouseSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SpouseSEmployeeAmount]  DEFAULT ((0)) FOR [SpouseSEmployeeAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SpouseNSEmployerAmount]  DEFAULT ((0)) FOR [SpouseNSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_SpouseNSEmployeeAmount]  DEFAULT ((0)) FOR [SpouseNSEmployeeAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_ChildSEmployerAmount]  DEFAULT ((0)) FOR [ChildSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_ChildSEmployeeAmount]  DEFAULT ((0)) FOR [ChildSEmployeeAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_ChildNSEmployerAmount]  DEFAULT ((0)) FOR [ChildNSEmployerAmount]
GO
ALTER TABLE [dbo].[tblHrLifeInsSub] ADD  CONSTRAINT [DF_tblHrLifeInsSub_ChildNSEmployeeAmount]  DEFAULT ((0)) FOR [ChildNSEmployeeAmount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrLifeInsSub'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrLifeInsSub'
GO
