USE [005]
GO
/****** Object:  Table [dbo].[tblMrMachineGroups]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrMachineGroups](
	[MachineGroupId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[MaintCycle] [smallint] NOT NULL,
	[MaintDate] [datetime] NULL,
	[QtyAvail] [smallint] NOT NULL,
	[HrlyCostFactor] [dbo].[pDecimal] NOT NULL,
	[SetupTime] [dbo].[pDecimal] NOT NULL,
	[ScheduleId] [nvarchar](10) NULL,
	[PurchaseDate] [datetime] NULL,
	[GLAcct1] [dbo].[pGlAcct] NULL,
	[MGID] [nvarchar](10) NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrMachineGroups] PRIMARY KEY CLUSTERED 
(
	[MachineGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMrMachineGroups_CostGroupID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMrMachineGroups_CostGroupID] ON [dbo].[tblMrMachineGroups]
(
	[CostGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrMachineGroups] ADD  CONSTRAINT [DF_tblMrMachineGroups_MaintCycle]  DEFAULT ((0)) FOR [MaintCycle]
GO
ALTER TABLE [dbo].[tblMrMachineGroups] ADD  CONSTRAINT [DF_tblMrMachineGroups_QtyAvail]  DEFAULT ((0)) FOR [QtyAvail]
GO
ALTER TABLE [dbo].[tblMrMachineGroups] ADD  CONSTRAINT [DF_tblMrMachineGroups_HrlyCostFactor]  DEFAULT ((0)) FOR [HrlyCostFactor]
GO
ALTER TABLE [dbo].[tblMrMachineGroups] ADD  CONSTRAINT [DF_tblMrMachineGroups_SetupTime]  DEFAULT ((0)) FOR [SetupTime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrMachineGroups'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrMachineGroups'
GO
