USE [005]
GO
/****** Object:  Table [dbo].[tblSrJobTypeNameplate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrJobTypeNameplate](
	[JobType] [nvarchar](6) NOT NULL,
	[NameplateId] [int] NOT NULL,
	[JobDescriptionYN] [bit] NOT NULL,
	[Priority] [int] NULL,
	[LimitToListYN] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrJobTypeNameplate] PRIMARY KEY CLUSTERED 
(
	[JobType] ASC,
	[NameplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrJobTypeNameplate] ADD  CONSTRAINT [DF_tblSrJobTypeNameplate_JobDescriptionYN]  DEFAULT ((1)) FOR [JobDescriptionYN]
GO
ALTER TABLE [dbo].[tblSrJobTypeNameplate] ADD  CONSTRAINT [DF_tblSrJobTypeNameplate_LimitToListYN]  DEFAULT ((0)) FOR [LimitToListYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobTypeNameplate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobTypeNameplate'
GO
