USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistSer](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[RcptNum] [dbo].[pInvoiceNum] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[SerCmnt] [nvarchar](35) NULL,
	[RcptUnitCost] [dbo].[pDecimal] NULL,
	[RcptUnitCostFgn] [dbo].[pDecimal] NULL,
	[RcptCostUnitACV] [dbo].[pDecimal] NOT NULL,
	[RcptStatus] [tinyint] NULL,
	[InvcUnitCost] [dbo].[pDecimal] NULL,
	[InvcUnitCostFgn] [dbo].[pDecimal] NULL,
	[InvcCostUnitACV] [dbo].[pDecimal] NOT NULL,
	[InvcStatus] [tinyint] NULL,
	[SerHistSeqNum] [int] NULL,
	[ExchRateSRec] [dbo].[pDecimal] NULL,
	[ExchRateSInv] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[QtyStatus] [smallint] NULL,
	[HistorySerID] [bigint] NULL,
	[HistorySerInvoiceID] [bigint] NULL,
 CONSTRAINT [PK_tblPoHistSer] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[EntryNum] ASC,
	[RcptNum] ASC,
	[SerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistSer'
GO
