USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxLocDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxLocDetail](
	[TaxLocId] [dbo].[pTaxLoc] NOT NULL,
	[TaxClassCode] [tinyint] NOT NULL,
	[TaxableYn] [bit] NULL,
	[SalesTaxPct] [dbo].[pDecimal] NULL,
	[PurchTaxPct] [dbo].[pDecimal] NULL,
	[RefundPct] [dbo].[pDecimal] NULL,
	[TaxSales] [dbo].[pDecimal] NULL,
	[NonTaxSales] [dbo].[pDecimal] NULL,
	[TaxCollect] [dbo].[pDecimal] NULL,
	[TaxPurch] [dbo].[pDecimal] NULL,
	[NonTaxPurch] [dbo].[pDecimal] NULL,
	[TaxCalc] [dbo].[pDecimal] NULL,
	[TaxPaid] [dbo].[pDecimal] NULL,
	[TaxRefund] [dbo].[pDecimal] NULL,
	[ExpenseAcct] [dbo].[pGlAcct] NULL,
	[CalcMethod] [tinyint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmTaxLocDetail] PRIMARY KEY CLUSTERED 
(
	[TaxLocId] ASC,
	[TaxClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [sqlSecondaryKey]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlSecondaryKey] ON [dbo].[tblSmTaxLocDetail]
(
	[TaxClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxClassCode]  DEFAULT ((0)) FOR [TaxClassCode]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxableYn]  DEFAULT ((1)) FOR [TaxableYn]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_SalesTaxPct]  DEFAULT ((0)) FOR [SalesTaxPct]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_PurchTaxPct]  DEFAULT ((0)) FOR [PurchTaxPct]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_RefundPct]  DEFAULT ((0)) FOR [RefundPct]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxSales]  DEFAULT ((0)) FOR [TaxSales]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_NonTaxSales]  DEFAULT ((0)) FOR [NonTaxSales]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxCollect]  DEFAULT ((0)) FOR [TaxCollect]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxPurch]  DEFAULT ((0)) FOR [TaxPurch]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_NonTaxPurch]  DEFAULT ((0)) FOR [NonTaxPurch]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxCalc]  DEFAULT ((0)) FOR [TaxCalc]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxPaid]  DEFAULT ((0)) FOR [TaxPaid]
GO
ALTER TABLE [dbo].[tblSmTaxLocDetail] ADD  CONSTRAINT [DF_tblSmTaxLocDetail_TaxRefund]  DEFAULT ((0)) FOR [TaxRefund]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxLocDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxLocDetail'
GO
