USE [005]
GO
/****** Object:  Table [dbo].[_RCG_tblRcBankCashReceiptArchive]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_RCG_tblRcBankCashReceiptArchive](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankFileImportId] [int] NULL,
	[FileType] [nvarchar](20) NULL,
	[AcctOrEnvNum1] [nvarchar](50) NULL,
	[AcctOrEnvNum2] [nvarchar](50) NULL,
	[CompName] [nvarchar](255) NULL,
	[CurrencyType] [nvarchar](10) NULL,
	[TransNo] [nvarchar](50) NULL,
	[TransDate] [datetime] NULL,
	[BankCode] [nvarchar](10) NULL,
	[Amt1] [decimal](28, 10) NULL,
	[Amt2] [decimal](28, 10) NULL,
	[Amt3] [decimal](28, 10) NULL,
	[Amt4] [decimal](28, 10) NULL,
	[CustRefNo1] [nvarchar](50) NULL,
	[CustRefNo2] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[LockBox] [nvarchar](50) NULL,
	[Batch] [nvarchar](50) NULL,
	[BatchItem] [nvarchar](50) NULL,
	[CheckNum] [nvarchar](50) NULL,
	[TransType] [nvarchar](255) NULL,
	[UserImported] [nvarchar](100) NULL,
	[DateImported] [datetime] NULL,
	[BankTransDetailId] [int] NULL,
	[WebCompId] [nchar](3) NULL,
	[CustId] [nvarchar](10) NULL,
	[InvcNum] [nvarchar](15) NULL,
	[Amt] [decimal](28, 10) NULL,
	[InvcCounter] [int] NULL,
	[DiscAmt] [decimal](28, 10) NULL,
	[ShortName] [nchar](3) NULL,
	[BankId] [nvarchar](10) NULL,
	[DistCode] [nvarchar](6) NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CashReceiptBatch] [nvarchar](6) NULL,
	[AlertEmailAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK__RCG_tblRcBankCashReceiptArchive] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcBankCashReceiptArchive'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcBankCashReceiptArchive'
GO
