USE [005]
GO
/****** Object:  Table [dbo].[tblSmTransLink]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTransLink](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SourceType] [smallint] NOT NULL,
	[SourceId] [nvarchar](255) NOT NULL,
	[DestType] [smallint] NOT NULL,
	[DestId] [nvarchar](255) NOT NULL,
	[DropShipYn] [bit] NOT NULL,
	[ts] [timestamp] NULL,
	[SourceStatus] [tinyint] NOT NULL,
	[DestStatus] [tinyint] NOT NULL,
	[TransLinkType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblSmTransLink] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTransLink] ADD  CONSTRAINT [DF_tblSmTransLink_DropShipYn]  DEFAULT ((0)) FOR [DropShipYn]
GO
ALTER TABLE [dbo].[tblSmTransLink] ADD  CONSTRAINT [DF_tblSmTransLink_SourceStatus]  DEFAULT ((0)) FOR [SourceStatus]
GO
ALTER TABLE [dbo].[tblSmTransLink] ADD  CONSTRAINT [DF_tblSmTransLink_DestStatus]  DEFAULT ((0)) FOR [DestStatus]
GO
ALTER TABLE [dbo].[tblSmTransLink] ADD  CONSTRAINT [DF_tblSmTransLink_TransLinkType]  DEFAULT ((0)) FOR [TransLinkType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTransLink'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTransLink'
GO
