USE [005]
GO
/****** Object:  Table [dbo].[tblWmMoveQuantity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmMoveQuantity](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentId] [int] NULL,
	[MoveBy] [tinyint] NOT NULL,
	[MoveById] [dbo].[pItemID] NOT NULL,
	[LocID] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[ExtLocAFrom] [int] NULL,
	[ExtLocBFrom] [int] NULL,
	[ExtLocATo] [int] NULL,
	[ExtLocBTo] [int] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[UID] [dbo].[pUserID] NOT NULL,
	[HostId] [dbo].[pWrkStnID] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[FunctionID] [uniqueidentifier] NOT NULL,
	[PutawayReqID] [bigint] NULL,
	[PutawayStatus] [tinyint] NULL,
 CONSTRAINT [PK_tblWmMoveQuantity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmMoveQuantity_ParentId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmMoveQuantity_ParentId] ON [dbo].[tblWmMoveQuantity]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmMoveQuantity_UserIdWrkStnId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmMoveQuantity_UserIdWrkStnId] ON [dbo].[tblWmMoveQuantity]
(
	[UID] ASC,
	[HostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmMoveQuantity] ADD  CONSTRAINT [DF_tblWmMoveQuantity_MoveBy]  DEFAULT ((0)) FOR [MoveBy]
GO
ALTER TABLE [dbo].[tblWmMoveQuantity] ADD  CONSTRAINT [DF_tblWmMoveQuantity_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblWmMoveQuantity] ADD  CONSTRAINT [DF_tblWmMoveQuantity_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblWmMoveQuantity] ADD  CONSTRAINT [DF_tblWmMoveQuantity_PutawayStatus]  DEFAULT ((0)) FOR [PutawayStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMoveQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMoveQuantity'
GO
