USE [005]
GO
/****** Object:  Table [dbo].[tblPaDeptDtlAmount]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaDeptDtlAmount](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DeptDtlId] [int] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[PaMonth] [tinyint] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaDeptDtlAmount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPaDeptDtlAmount_PaYearPaMonthDeptDtlId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaDeptDtlAmount_PaYearPaMonthDeptDtlId] ON [dbo].[tblPaDeptDtlAmount]
(
	[PaYear] ASC,
	[PaMonth] ASC,
	[DeptDtlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaDeptDtlAmount] ADD  CONSTRAINT [DF_tblPaDeptDtlAmount_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaDeptDtlAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaDeptDtlAmount'
GO
