USE [005]
GO
/****** Object:  Table [dbo].[tblPaW2Audit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaW2Audit](
	[RecNo] [smallint] NOT NULL,
	[RecType] [nvarchar](3) NULL,
	[RecPosition] [smallint] NOT NULL,
	[RecLength] [smallint] NULL,
	[RecTitle] [nvarchar](50) NULL,
	[RecValue] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tblPaW2Audit] PRIMARY KEY CLUSTERED 
(
	[RecNo] ASC,
	[RecPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaW2Audit] ADD  CONSTRAINT [DF_tblPaW2Audit_RecLength]  DEFAULT ((0)) FOR [RecLength]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2Audit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2Audit'
GO
