USE [005]
GO
/****** Object:  Table [dbo].[X_MachineConfig]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_MachineConfig](
	[Machine] [nvarchar](255) NULL,
	[ItemID] [nvarchar](255) NULL,
	[Width(IN)] [float] NULL,
	[# Cuts] [float] NULL
) ON [PRIMARY]
GO
