USE [005]
GO
/****** Object:  Table [dbo].[tblSoSaleBlanketActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoSaleBlanketActivity](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BlanketRef] [int] NOT NULL,
	[BlanketDtlRef] [int] NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[RecType] [smallint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[PriceExt] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoSaleBlanketActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSoSaleBlanketActivity_BlanketDtlRef]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoSaleBlanketActivity_BlanketDtlRef] ON [dbo].[tblSoSaleBlanketActivity]
(
	[BlanketDtlRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSoSaleBlanketActivity_BlanketRef]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoSaleBlanketActivity_BlanketRef] ON [dbo].[tblSoSaleBlanketActivity]
(
	[BlanketRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketActivity] ADD  CONSTRAINT [DF_tblSoSaleBlanketActivity_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketActivity] ADD  CONSTRAINT [DF_tblSoSaleBlanketActivity_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketActivity] ADD  CONSTRAINT [DF_tblSoSaleBlanketActivity_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblSoSaleBlanketActivity] ADD  CONSTRAINT [DF_tblSoSaleBlanketActivity_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanketActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanketActivity'
GO
