USE [005]
GO
/****** Object:  Table [dbo].[tblApTermsCode]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApTermsCode](
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[Desc] [nvarchar](15) NULL,
	[DiscPct] [dbo].[pDecimal] NULL,
	[DiscDayOfMonth] [bit] NULL,
	[DiscDays] [smallint] NULL,
	[DiscMinDays] [smallint] NULL,
	[NetDueDays] [smallint] NULL,
	[NetDueDayOfMonth] [bit] NULL,
	[NetDueMinDays] [smallint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblApTermsCode] PRIMARY KEY CLUSTERED 
(
	[TermsCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_DiscPct]  DEFAULT ((0)) FOR [DiscPct]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_DiscDayOfMonth]  DEFAULT ((0)) FOR [DiscDayOfMonth]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_DiscDays]  DEFAULT ((0)) FOR [DiscDays]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_DiscMinDays]  DEFAULT ((0)) FOR [DiscMinDays]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_NetDueDays]  DEFAULT ((0)) FOR [NetDueDays]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_NetDueDayOfMonth]  DEFAULT ((0)) FOR [NetDueDayOfMonth]
GO
ALTER TABLE [dbo].[tblApTermsCode] ADD  CONSTRAINT [DF_tblApTermsCode_NetDueMinDays]  DEFAULT ((0)) FOR [NetDueMinDays]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTermsCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTermsCode'
GO
