USE [005]
GO
/****** Object:  Table [dbo].[tblApHistSer]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApHistSer](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[SeqNum] [nvarchar](15) NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[PriceUnit] [dbo].[pDecimal] NULL,
	[CostUnitFgn] [dbo].[pDecimal] NULL,
	[PriceUnitFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[QtyStatus] [int] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblApHistSer] PRIMARY KEY NONCLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[InvoiceNum] ASC,
	[EntryNum] ASC,
	[SeqNum] ASC,
	[SerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApHistSer] ADD  CONSTRAINT [DF_tblApHistSer_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblApHistSer] ADD  CONSTRAINT [DF_tblApHistSer_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblApHistSer] ADD  CONSTRAINT [DF_tblApHistSer_CostUnitFgn]  DEFAULT ((0)) FOR [CostUnitFgn]
GO
ALTER TABLE [dbo].[tblApHistSer] ADD  CONSTRAINT [DF_tblApHistSer_PriceUnitFgn]  DEFAULT ((0)) FOR [PriceUnitFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistSer'
GO
