USE [005]
GO
/****** Object:  Table [dbo].[tblSrMaterialCharge]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrMaterialCharge](
	[Id] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[LineType] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Unit] [dbo].[pUom] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCost] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[Reference] [nvarchar](35) NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctBurdenCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctMatlWIP] [dbo].[pGlAcct] NULL,
	[GLAcctMatlBurden] [dbo].[pGlAcct] NULL,
	[GLAcctMatlBurdenWIP] [dbo].[pGlAcct] NULL,
	[EntryDate] [datetime] NOT NULL,
	[UserId] [dbo].[pUserID] NULL,
	[CreditId] [bigint] NULL,
	[LeftOnSiteYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrMaterialCharge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_LineType]  DEFAULT ((1)) FOR [LineType]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_BurdenCost]  DEFAULT ((0)) FOR [BurdenCost]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_CombinedUnitCost]  DEFAULT ((0)) FOR [CombinedUnitCost]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblSrMaterialCharge] ADD  CONSTRAINT [DF_tblSrMaterialCharge_LeftOnSiteYn]  DEFAULT ((0)) FOR [LeftOnSiteYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrMaterialCharge'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrMaterialCharge'
GO
