USE [005]
GO
/****** Object:  Table [dbo].[tblPaW2MMAudit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaW2MMAudit](
	[RecordType] [nchar](2) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Position] [smallint] NOT NULL,
	[Length] [smallint] NULL,
	[Note] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblPaW2MMAudit] PRIMARY KEY CLUSTERED 
(
	[RecordType] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaW2MMAudit] ADD  CONSTRAINT [DF_tblPaW2MMAudit_Length]  DEFAULT ((0)) FOR [Length]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2MMAudit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2MMAudit'
GO
