USE [005]
GO
/****** Object:  Table [dbo].[tblMrTooling]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrTooling](
	[ToolingId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[Cost] [dbo].[pDecimal] NOT NULL,
	[StorageLocation] [nvarchar](10) NULL,
	[Consumable] [bit] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrTooling] PRIMARY KEY CLUSTERED 
(
	[ToolingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrTooling] ADD  CONSTRAINT [DF_tblMrTooling_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblMrTooling] ADD  CONSTRAINT [DF_tblMrTooling_Cost]  DEFAULT ((0)) FOR [Cost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrTooling'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrTooling'
GO
