USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistLotRcpt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistLotRcpt](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[RcptNum] [dbo].[pInvoiceNum] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[QtyOrder] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[LotCmnt] [nvarchar](35) NULL,
	[Status] [tinyint] NULL,
	[QtySeqNum] [int] NULL,
	[QtySeqNum_Ext] [int] NULL,
	[ReceiptID] [uniqueidentifier] NOT NULL,
	[QtyAccRev] [dbo].[pDecimal] NULL,
	[AccAdjCostFgn] [dbo].[pDecimal] NULL,
	[AccAdjCost] [dbo].[pDecimal] NULL,
	[ActivityId] [int] NULL,
	[CF] [xml] NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
 CONSTRAINT [PK_tblPoHistLotRcpt] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistLotRcpt] ADD  CONSTRAINT [DF_tblPoHistLotRcpt_ReceiptID]  DEFAULT (newid()) FOR [ReceiptID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistLotRcpt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistLotRcpt'
GO
