USE [005]
GO
/****** Object:  Table [dbo].[tblCmActivity]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmActivity](
	[ID] [bigint] NOT NULL,
	[ActTypeID] [bigint] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[EntryDate] [datetime] NULL,
	[Duration] [dbo].[pDecimal] NOT NULL,
	[Value] [dbo].[pDecimal] NOT NULL,
	[ContactID] [bigint] NULL,
	[CampaignID] [bigint] NULL,
	[OpportunityID] [bigint] NULL,
	[TaskID] [bigint] NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExternalReference] [nvarchar](255) NULL,
	[ExternalFilter] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCmActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCmActivity_ContactID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblCmActivity_ContactID] ON [dbo].[tblCmActivity]
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCmActivity_EntryDate]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblCmActivity_EntryDate] ON [dbo].[tblCmActivity]
(
	[EntryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmActivity] ADD  CONSTRAINT [DF_tblCmActivity_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[tblCmActivity] ADD  CONSTRAINT [DF_tblCmActivity_Value]  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[tblCmActivity] ADD  CONSTRAINT [DF_tblCmActivity_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblCmActivity] ADD  CONSTRAINT [DF_tblCmActivity_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmActivity'
GO
