USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigFieldActionSo]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigFieldActionSo](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ActionId] [bigint] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[OverridePriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[PriceFormula] [nvarchar](300) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCfConfigFieldActionSo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCfConfigFieldActionSo_ActionId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCfConfigFieldActionSo_ActionId] ON [dbo].[tblCfConfigFieldActionSo]
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionSo] ADD  CONSTRAINT [DF_tblCfConfigFieldActionSo_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionSo] ADD  CONSTRAINT [DF_tblCfConfigFieldActionSo_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionSo] ADD  CONSTRAINT [DF_tblCfConfigFieldActionSo_OverridePriceYn]  DEFAULT ((0)) FOR [OverridePriceYn]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionSo] ADD  CONSTRAINT [DF_tblCfConfigFieldActionSo_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionSo] ADD  CONSTRAINT [DF_tblCfConfigFieldActionSo_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldActionSo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldActionSo'
GO
