USE [005]
GO
/****** Object:  Table [dbo].[tblPsSynchInfo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsSynchInfo](
	[SynchID] [bigint] NOT NULL,
	[HostID] [dbo].[pWrkStnID] NOT NULL,
	[ProcessType] [smallint] NOT NULL,
	[Status] [smallint] NOT NULL,
	[ts] [timestamp] NULL,
	[EntryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblPsSynchInfo] PRIMARY KEY CLUSTERED 
(
	[SynchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPsSynchInfo_HostIDProcessType]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsSynchInfo_HostIDProcessType] ON [dbo].[tblPsSynchInfo]
(
	[HostID] ASC,
	[ProcessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsSynchInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsSynchInfo'
GO
