USE [005]
GO
/****** Object:  Table [dbo].[tblApHistDetail]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApHistDetail](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[LineSeq] [int] NULL,
	[PartId] [dbo].[pItemID] NULL,
	[PartType] [tinyint] NULL,
	[WhseId] [dbo].[pLocID] NULL,
	[Desc] [dbo].[pDescription] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[QtyBase] [dbo].[pDecimal] NULL,
	[Units] [dbo].[pUom] NULL,
	[UnitsBase] [dbo].[pUom] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[GLDesc] [dbo].[pGLDesc] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[HistSeqNum] [int] NULL,
	[TaxClass] [tinyint] NULL,
	[BinNum] [nvarchar](10) NULL,
	[ConversionFactor] [dbo].[pDecimal] NULL,
	[LottedYN] [bit] NULL,
	[InItemYN] [bit] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[GLAcctWIP] [dbo].[pGlAcct] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[TransHistId] [nvarchar](10) NULL,
	[CustomerID] [dbo].[pCustID] NULL,
	[JobId] [nvarchar](10) NULL,
	[ProjName] [nvarchar](30) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[PhaseName] [nvarchar](30) NULL,
	[TaskId] [nvarchar](10) NULL,
	[TaskName] [nvarchar](30) NULL,
	[UnitInc] [dbo].[pDecimal] NULL,
	[ExtInc] [dbo].[pDecimal] NULL,
	[ProjItemYn] [bit] NULL,
	[CostType] [nvarchar](6) NULL,
	[CF] [xml] NULL,
	[VendorPartNumber] [dbo].[pDescription] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblApHistDetail] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransID] ASC,
	[InvoiceNum] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_PartType]  DEFAULT ((0)) FOR [PartType]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_QtyBase]  DEFAULT ((0)) FOR [QtyBase]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_ConversionFactor]  DEFAULT ((1)) FOR [ConversionFactor]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_InItemYN]  DEFAULT ((0)) FOR [InItemYN]
GO
ALTER TABLE [dbo].[tblApHistDetail] ADD  CONSTRAINT [DF_tblApHistDetail_ProjItemYn]  DEFAULT ((0)) FOR [ProjItemYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistDetail'
GO
