USE [005]
GO
/****** Object:  Table [dbo].[tblPoShipTo]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoShipTo](
	[ShiptoId] [dbo].[pCustID] NOT NULL,
	[ShiptoName] [nvarchar](30) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NOT NULL,
	[PostalCode] [nvarchar](10) NULL,
	[IntlPrefix] [nvarchar](6) NULL,
	[Phone] [nvarchar](15) NULL,
	[Fax] [nvarchar](15) NULL,
	[Attn] [nvarchar](30) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TaxLocID] [dbo].[pTaxLoc] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[Email] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Latitude] [dbo].[pDecimal] NULL,
	[Longitude] [dbo].[pDecimal] NULL,
 CONSTRAINT [PK_tblPoShipTo] PRIMARY KEY CLUSTERED 
(
	[ShiptoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipTo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipTo'
GO
