USE [005]
GO
/****** Object:  Table [dbo].[tblPaSubmitter]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaSubmitter](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FedEIN] [nvarchar](10) NULL,
	[CompName] [nvarchar](57) NULL,
	[Addr1] [nvarchar](22) NULL,
	[Addr2] [nvarchar](22) NULL,
	[City] [nvarchar](30) NULL,
	[State] [nvarchar](23) NULL,
	[Zip] [nvarchar](15) NULL,
	[CountryCode] [nvarchar](4) NULL,
	[PinNumber] [nvarchar](17) NULL,
	[chkResubFlag] [bit] NOT NULL,
	[WFID] [nvarchar](6) NULL,
	[PreparerCode] [nvarchar](1) NULL,
	[SoftwareCode] [nvarchar](2) NULL,
	[chkForeign] [bit] NOT NULL,
	[SubCompName] [nvarchar](57) NULL,
	[SubAddr1] [nvarchar](22) NULL,
	[SubAddr2] [nvarchar](22) NULL,
	[SubCity] [nvarchar](30) NULL,
	[SubState] [nvarchar](23) NULL,
	[SubZip] [nvarchar](15) NULL,
	[SubCountryCode] [nvarchar](4) NULL,
	[EMail] [nvarchar](40) NULL,
	[Notification] [nvarchar](1) NULL,
	[AgentIndCode] [nvarchar](1) NULL,
	[EmplAgentEIN] [nvarchar](10) NULL,
	[AgentForEIN] [nvarchar](9) NULL,
	[ERCompName] [nvarchar](57) NULL,
	[ERAddr1] [nvarchar](22) NULL,
	[ERAddr2] [nvarchar](22) NULL,
	[ERCity] [nvarchar](30) NULL,
	[ERState] [nvarchar](23) NULL,
	[ERZip] [nvarchar](15) NULL,
	[ERCountryCode] [nvarchar](4) NULL,
	[TaxJurisCode] [nvarchar](1) NULL,
	[PRU] [nvarchar](4) NULL,
	[OtherEIN] [nvarchar](9) NULL,
	[Type] [nvarchar](1) NULL,
	[chkTerminBusin] [bit] NOT NULL,
	[chkThirdPartySP] [bit] NOT NULL,
	[ThirdPartyWithheld] [dbo].[pDecimal] NOT NULL,
	[ReportPeriod] [nvarchar](6) NULL,
	[ContactName] [nvarchar](27) NULL,
	[ContacPhone] [nvarchar](15) NULL,
	[Extension] [nvarchar](5) NULL,
	[fax] [nvarchar](10) NULL,
	[EmployerType] [tinyint] NOT NULL,
	[ERContactName] [nvarchar](27) NULL,
	[ERContacPhone] [nvarchar](15) NULL,
	[ERExtension] [nvarchar](5) NULL,
	[ERFax] [nvarchar](10) NULL,
	[EREMail] [nvarchar](40) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaSubmitter] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_chkResubFlag]  DEFAULT ((0)) FOR [chkResubFlag]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_chkForeign]  DEFAULT ((0)) FOR [chkForeign]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_chkTerminBusin]  DEFAULT ((0)) FOR [chkTerminBusin]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_chkThirdPartySP]  DEFAULT ((0)) FOR [chkThirdPartySP]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_ThirdPartyWithheld]  DEFAULT ((0)) FOR [ThirdPartyWithheld]
GO
ALTER TABLE [dbo].[tblPaSubmitter] ADD  CONSTRAINT [DF_tblPaSubmitter_EmployerType]  DEFAULT ((0)) FOR [EmployerType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaSubmitter'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaSubmitter'
GO
