USE [005]
GO
/****** Object:  Table [dbo].[tblCfTransDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfTransDetail](
	[DetailId] [bigint] NOT NULL,
	[GroupId] [bigint] NOT NULL,
	[FieldId] [bigint] NOT NULL,
	[FieldCode] [nvarchar](50) NOT NULL,
	[Question] [nvarchar](75) NULL,
	[TabOrder] [int] NOT NULL,
	[LineType] [tinyint] NOT NULL,
	[DataType] [tinyint] NOT NULL,
	[TextLength] [int] NULL,
	[AllowQty] [bit] NOT NULL,
	[MultipleSelect] [bit] NOT NULL,
	[LimitToList] [bit] NOT NULL,
	[DisplayWhen] [nvarchar](200) NULL,
	[HelpText] [nvarchar](200) NULL,
	[Precision] [int] NOT NULL,
	[NumMinValue] [dbo].[pDecimal] NOT NULL,
	[NumMaxValue] [dbo].[pDecimal] NOT NULL,
	[NumIncrement] [dbo].[pDecimal] NULL,
	[PrintGroup] [nvarchar](2) NULL,
	[NumWarnYn] [bit] NOT NULL,
	[DefaultValue] [nvarchar](50) NULL,
	[Answer] [nvarchar](max) NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[PriceOption] [tinyint] NOT NULL,
	[Quantity] [dbo].[pDecimal] NULL,
	[UnitPrice] [dbo].[pDecimal] NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NULL,
	[ExtPrice] [dbo].[pDecimal] NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[AdjUnitCost] [dbo].[pDecimal] NOT NULL,
	[AdjUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[RequiredYn] [bit] NOT NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[SmartIdLen] [int] NULL,
	[SmartIdValue] [nvarchar](24) NULL,
	[SelectedYn] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Linked] [bigint] NULL,
	[MultipleValuesYn] [bit] NOT NULL,
	[PictItem] [varbinary](max) NULL,
 CONSTRAINT [PK_tblCfTransDetail] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_LineType]  DEFAULT ((0)) FOR [LineType]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_DataType]  DEFAULT ((0)) FOR [DataType]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_AllowQty]  DEFAULT ((0)) FOR [AllowQty]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_MultipleSelect]  DEFAULT ((0)) FOR [MultipleSelect]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_LimitToList]  DEFAULT ((0)) FOR [LimitToList]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_Precision]  DEFAULT ((0)) FOR [Precision]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_NumMinValue]  DEFAULT ((0)) FOR [NumMinValue]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_NumMaxValue]  DEFAULT ((0)) FOR [NumMaxValue]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_NumWarnYn]  DEFAULT ((0)) FOR [NumWarnYn]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_PriceOption]  DEFAULT ((0)) FOR [PriceOption]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_AdjUnitCost]  DEFAULT ((0)) FOR [AdjUnitCost]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_AdjUnitCostFgn]  DEFAULT ((0)) FOR [AdjUnitCostFgn]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_RequiredYn]  DEFAULT ((0)) FOR [RequiredYn]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_SelectedYn]  DEFAULT ((0)) FOR [SelectedYn]
GO
ALTER TABLE [dbo].[tblCfTransDetail] ADD  CONSTRAINT [DF_tblCfTransDetail_MultipleValuesYn]  DEFAULT ((0)) FOR [MultipleValuesYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransDetail'
GO
