USE [005]
GO
/****** Object:  Table [dbo].[tblApTen99Edit]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApTen99Edit](
	[VendorID] [dbo].[pVendorID] NOT NULL,
	[AcctNo] [nvarchar](10) NULL,
	[Name] [nvarchar](30) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Ten99FormCode] [nvarchar](1) NULL,
	[Ten99RecipientID] [nvarchar](255) NULL,
	[Ten99FieldIndicator] [nvarchar](1) NULL,
	[Ten99ForeignAddrYN] [bit] NULL,
	[SecondTINNotYN] [bit] NULL,
	[Amount] [dbo].[pDecimal] NULL,
	[NameControl] [nvarchar](4) NULL,
	[PayToName] [nvarchar](30) NULL,
	[FATCAFilingYN] [bit] NULL,
 CONSTRAINT [PK_tblApTen99Edit] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTen99Edit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTen99Edit'
GO
