USE [005]
GO
/****** Object:  Table [dbo].[tblMrSubContracted]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrSubContracted](
	[OperationId] [nvarchar](10) NOT NULL,
	[VendorId] [dbo].[pVendorID] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[LeadTime] [int] NOT NULL,
	[MinQty] [int] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[DfltVendorId] [bit] NOT NULL,
	[GLAcct1] [dbo].[pGlAcct] NULL,
	[CostGroupId] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrSubContracted] PRIMARY KEY CLUSTERED 
(
	[OperationId] ASC,
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrSubContracted] ADD  CONSTRAINT [DF_tblMrSubContracted_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblMrSubContracted] ADD  CONSTRAINT [DF_tblMrSubContracted_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblMrSubContracted] ADD  CONSTRAINT [DF_tblMrSubContracted_MinQty]  DEFAULT ((0)) FOR [MinQty]
GO
ALTER TABLE [dbo].[tblMrSubContracted] ADD  CONSTRAINT [DF_tblMrSubContracted_DfltVendorId]  DEFAULT ((1)) FOR [DfltVendorId]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrSubContracted'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrSubContracted'
GO
