USE [005]
GO
/****** Object:  Table [dbo].[tblCmOpportunity]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmOpportunity](
	[ID] [bigint] NOT NULL,
	[ContactID] [bigint] NOT NULL,
	[StatusID] [bigint] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[OpenDate] [datetime] NULL,
	[CampaignID] [bigint] NULL,
	[ReferBy] [dbo].[pDescription] NULL,
	[ReferDate] [datetime] NULL,
	[ReferID] [bigint] NULL,
	[Value] [dbo].[pDecimal] NOT NULL,
	[ProbCodeID] [bigint] NULL,
	[ResCodeID] [bigint] NULL,
	[TargetDate] [datetime] NULL,
	[CloseDate] [datetime] NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[LastUpdatedBy] [dbo].[pUserID] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCmOpportunity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCmOpportunity_ContactID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblCmOpportunity_ContactID] ON [dbo].[tblCmOpportunity]
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmOpportunity] ADD  CONSTRAINT [DF_tblCmOpportunity_Value]  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[tblCmOpportunity] ADD  CONSTRAINT [DF_tblCmOpportunity_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmOpportunity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmOpportunity'
GO
