USE [005]
GO
/****** Object:  Table [dbo].[tblSmDocumentDelivery]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmDocumentDelivery](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ContactId] [nvarchar](20) NOT NULL,
	[FormId] [nvarchar](10) NOT NULL,
	[ContactType] [tinyint] NOT NULL,
	[DeliveryType] [tinyint] NOT NULL,
	[DeliveryName] [nvarchar](30) NULL,
	[DeliveryDestination] [dbo].[pEmail] NULL,
	[DeliveryNote] [nvarchar](255) NULL,
	[EmailAttachmentFormat] [tinyint] NULL,
	[IncludePaperCopy] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ServiceID] [int] NULL,
 CONSTRAINT [PK_tblSmDocumentDelivery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmDocumentDelivery] ADD  CONSTRAINT [DF_tblSmDocumentDelivery_DeliveryType]  DEFAULT ((0)) FOR [DeliveryType]
GO
ALTER TABLE [dbo].[tblSmDocumentDelivery] ADD  CONSTRAINT [DF_tblSmDocumentDelivery_IncludePaperCopy]  DEFAULT ((0)) FOR [IncludePaperCopy]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentDelivery'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentDelivery'
GO
