USE [005]
GO
/****** Object:  Table [dbo].[tblSvWorkOrderTransSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvWorkOrderTransSer](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransID] [bigint] NOT NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostACV] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblSvWorkOrderTransSer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_TransID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_TransID] ON [dbo].[tblSvWorkOrderTransSer]
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTransSer] ADD  CONSTRAINT [DF_tblSvWorkOrderTransSer_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTransSer] ADD  CONSTRAINT [DF_tblSvWorkOrderTransSer_UnitCostACV]  DEFAULT ((0)) FOR [UnitCostACV]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTransSer] ADD  CONSTRAINT [DF_tblSvWorkOrderTransSer_Price]  DEFAULT ((0)) FOR [UnitPrice]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderTransSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderTransSer'
GO
