USE [005]
GO
/****** Object:  Table [dbo].[tblPsHistPayment]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsHistPayment](
	[ID] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[HeaderID] [bigint] NULL,
	[PmtDate] [datetime] NOT NULL,
	[CustID] [dbo].[pCustID] NULL,
	[PmtType] [tinyint] NOT NULL,
	[PmtMethodID] [nvarchar](10) NULL,
	[CcNum] [nvarchar](255) NULL,
	[CcHolder] [nvarchar](30) NULL,
	[CcExpire] [datetime] NULL,
	[CcAuth] [nvarchar](255) NULL,
	[CcRef] [nvarchar](255) NULL,
	[CheckNum] [dbo].[pCheckNum] NULL,
	[BankName] [nvarchar](30) NULL,
	[BankRoutingCode] [nvarchar](9) NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[AmountBase] [dbo].[pDecimal] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[VoidDate] [datetime] NULL,
	[UserID] [bigint] NOT NULL,
	[HostID] [dbo].[pWrkStnID] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[LocID] [dbo].[pLocID] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[GLAcctCash] [dbo].[pGlAcct] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[Response] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[iCap] [varbinary](max) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPsHistPayment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPsHistPayment_HeaderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsHistPayment_HeaderID] ON [dbo].[tblPsHistPayment]
(
	[HeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistPayment'
GO
