USE [005]
GO
/****** Object:  Table [dbo].[tblMpRequirements]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpRequirements](
	[TransId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[ReqId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[IndLevel] [int] NOT NULL,
	[Step] [int] NULL,
	[Description] [dbo].[pDescription] NULL,
	[Type] [tinyint] NOT NULL,
	[BLT] [int] NOT NULL,
	[QTY] [dbo].[pDecimal] NOT NULL,
	[ReqSeq] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[EstProcessTime] [bigint] NOT NULL,
	[EstStartDate] [datetime] NULL,
	[EstCompletionDate] [datetime] NULL,
 CONSTRAINT [PK_tblMpRequirements] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMpRequirements_ParentId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpRequirements_ParentId] ON [dbo].[tblMpRequirements]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblMpRequirements_ReleaseIdReqId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblMpRequirements_ReleaseIdReqId] ON [dbo].[tblMpRequirements]
(
	[ReleaseId] ASC,
	[ReqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpRequirements] ADD  CONSTRAINT [DF_tblMpRequirements_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[tblMpRequirements] ADD  CONSTRAINT [DF_tblMpRequirements_BLT]  DEFAULT ((0)) FOR [BLT]
GO
ALTER TABLE [dbo].[tblMpRequirements] ADD  CONSTRAINT [DF_tblMpRequirements_QTY]  DEFAULT ((1)) FOR [QTY]
GO
ALTER TABLE [dbo].[tblMpRequirements] ADD  CONSTRAINT [DF_tblMpRequirements_ReqSeq]  DEFAULT ((0)) FOR [ReqSeq]
GO
ALTER TABLE [dbo].[tblMpRequirements] ADD  CONSTRAINT [DF_tblMpRequirements_EstProcessTime]  DEFAULT ((0)) FOR [EstProcessTime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpRequirements'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpRequirements'
GO
