USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxClassRate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxClassRate](
	[TaxClassRateID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TaxLocId] [dbo].[pTaxLoc] NOT NULL,
	[TaxClassCode] [tinyint] NOT NULL,
	[RangeThru] [dbo].[pDecimal] NOT NULL,
	[TaxSales] [dbo].[pDecimal] NOT NULL,
	[TaxPurch] [dbo].[pDecimal] NOT NULL,
	[TaxRefund] [dbo].[pDecimal] NOT NULL,
	[TaxType] [tinyint] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblSmTaxClassRate] PRIMARY KEY CLUSTERED 
(
	[TaxClassRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmTaxClassRate]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmTaxClassRate] ON [dbo].[tblSmTaxClassRate]
(
	[TaxLocId] ASC,
	[TaxClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxClassRate] ADD  CONSTRAINT [DF_tblSmTaxClassRate_TaxSales]  DEFAULT ((0)) FOR [TaxSales]
GO
ALTER TABLE [dbo].[tblSmTaxClassRate] ADD  CONSTRAINT [DF_tblSmTaxClassRate_TaxPurch]  DEFAULT ((0)) FOR [TaxPurch]
GO
ALTER TABLE [dbo].[tblSmTaxClassRate] ADD  CONSTRAINT [DF_tblSmTaxClassRate_TaxRefund]  DEFAULT ((0)) FOR [TaxRefund]
GO
ALTER TABLE [dbo].[tblSmTaxClassRate] ADD  CONSTRAINT [DF_tblSmTaxClassRate_TaxType]  DEFAULT ((0)) FOR [TaxType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxClassRate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxClassRate'
GO
