USE [005]
GO
/****** Object:  Table [dbo].[tblSoPriceContractHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoPriceContractHeader](
	[Id] [bigint] NOT NULL,
	[ContractPriceId] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](35) NULL,
	[PriceBreakType] [smallint] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CustomerFilter] [nvarchar](max) NULL,
	[ItemFilter] [nvarchar](max) NULL,
	[PerItemPricingYN] [bit] NULL,
	[CustomerFilterSql] [nvarchar](max) NULL,
	[ItemFilterSql] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoPriceContractHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSoPriceContractHeader_ContractPriceId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSoPriceContractHeader_ContractPriceId] ON [dbo].[tblSoPriceContractHeader]
(
	[ContractPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoPriceContractHeader] ADD  CONSTRAINT [DF_tblSoPriceContractHeader_PerItemPricingYN]  DEFAULT ((0)) FOR [PerItemPricingYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceContractHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceContractHeader'
GO
