USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckHistEarn]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckHistEarn](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[Id] [int] NOT NULL,
	[CheckId] [int] NOT NULL,
	[EarningCode] [dbo].[pCode] NULL,
	[LeaveCodeId] [dbo].[pCode] NULL,
	[StateCode] [nvarchar](2) NULL,
	[SUIState] [nvarchar](2) NULL,
	[LocalCode] [nvarchar](4) NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[LaborClass] [nvarchar](3) NULL,
	[HoursWorked] [dbo].[pDecimal] NOT NULL,
	[HourlyRate] [dbo].[pDecimal] NOT NULL,
	[EarningsAmount] [dbo].[pDecimal] NOT NULL,
	[Pieces] [dbo].[pDecimal] NOT NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ProjId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[GLAcctDept] [dbo].[pGlAcct] NULL,
	[DeptAllocId] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroup] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblPaCheckHistEarn] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheckHistEarn_PostRunCheckid]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckHistEarn_PostRunCheckid] ON [dbo].[tblPaCheckHistEarn]
(
	[PostRun] ASC,
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistEarn'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistEarn'
GO
