USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndFMLA]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndFMLA](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[NotifyDate] [datetime] NOT NULL,
	[ERResponseDate] [datetime] NULL,
	[DesigNoticeDate] [datetime] NULL,
	[LeaveBegDate] [datetime] NULL,
	[ExpReturnDate] [datetime] NULL,
	[LeaveReasonTypeCodeID] [bigint] NULL,
	[LeaveTypeCodeID] [bigint] NULL,
	[LocationTypeCodeID] [bigint] NULL,
	[MedCertDueDate] [datetime] NULL,
	[MedCertRecDate] [datetime] NULL,
	[MedReCertDate] [datetime] NULL,
	[ExpDate] [datetime] NULL,
	[Intermittent] [bit] NOT NULL,
	[MedCertReq] [bit] NOT NULL,
	[WorkRelated] [bit] NOT NULL,
	[FMLAStatusTypeCodeID] [bigint] NULL,
	[DeliveryMethodTypeCodeID] [bigint] NULL,
	[DeliveryCmnt] [nvarchar](50) NULL,
	[FMLANote] [nvarchar](max) NULL,
	[FMLAHrsPerWeek] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndFMLA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndFMLA_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndFMLA_IndId] ON [dbo].[tblHrIndFMLA]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndFMLA] ADD  CONSTRAINT [DF_tblHrIndFMLA_Intermittent]  DEFAULT ((0)) FOR [Intermittent]
GO
ALTER TABLE [dbo].[tblHrIndFMLA] ADD  CONSTRAINT [DF_tblHrIndFMLA_MedCertReq]  DEFAULT ((0)) FOR [MedCertReq]
GO
ALTER TABLE [dbo].[tblHrIndFMLA] ADD  CONSTRAINT [DF_tblHrIndFMLA_WorkRelated]  DEFAULT ((0)) FOR [WorkRelated]
GO
ALTER TABLE [dbo].[tblHrIndFMLA] ADD  CONSTRAINT [DF_tblHrIndFMLA_FMLAHrsPerWeek]  DEFAULT ((0)) FOR [FMLAHrsPerWeek]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndFMLA'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndFMLA'
GO
