USE [005]
GO
/****** Object:  Table [dbo].[tblPcProjectDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcProjectDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ProjectId] [int] NOT NULL,
	[PhaseId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[Description] [nvarchar](30) NULL,
	[Status] [tinyint] NOT NULL,
	[BillOnHold] [bit] NOT NULL,
	[Speculative] [bit] NOT NULL,
	[Billable] [bit] NOT NULL,
	[FixedFee] [bit] NOT NULL,
	[FixedFeeAmt] [dbo].[pDecimal] NOT NULL,
	[EstStartDate] [datetime] NULL,
	[EstEndDate] [datetime] NULL,
	[ActStartDate] [datetime] NULL,
	[ActEndDate] [datetime] NULL,
	[DistCode] [nvarchar](6) NOT NULL,
	[OhAllCode] [nvarchar](6) NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[MaterialMarkup] [dbo].[pDecimal] NOT NULL,
	[ExpenseMarkup] [dbo].[pDecimal] NOT NULL,
	[OtherMarkup] [dbo].[pDecimal] NOT NULL,
	[OverrideRate] [dbo].[pDecimal] NOT NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[LastDateBilled] [datetime] NULL,
	[RateId] [nvarchar](10) NULL,
	[ProjectManager] [dbo].[pEmpID] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[CustPONum] [nvarchar](25) NULL,
	[OrderDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcProjectDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uiProjectDetail]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uiProjectDetail] ON [dbo].[tblPcProjectDetail]
(
	[ProjectId] ASC,
	[TaskId] ASC,
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_BillOnHold]  DEFAULT ((0)) FOR [BillOnHold]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Speculative]  DEFAULT ((0)) FOR [Speculative]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Billable]  DEFAULT ((1)) FOR [Billable]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_FixedFee]  DEFAULT ((0)) FOR [FixedFee]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_FixedFeeAmt]  DEFAULT ((0)) FOR [FixedFeeAmt]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_MaterialMarkup]  DEFAULT ((0)) FOR [MaterialMarkup]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_ExpenseMarkup]  DEFAULT ((0)) FOR [ExpenseMarkup]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_OtherMarkup]  DEFAULT ((0)) FOR [OtherMarkup]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_OverrideRate]  DEFAULT ((0)) FOR [OverrideRate]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblPcProjectDetail] ADD  CONSTRAINT [DF_tblPcProjectDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcProjectDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcProjectDetail'
GO
