USE [005]
GO
/****** Object:  Table [dbo].[tblInMatReqHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInMatReqHeader](
	[TransId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReqType] [smallint] NULL,
	[ReqNum] [nvarchar](10) NULL,
	[DatePlaced] [datetime] NULL,
	[DateShipped] [datetime] NULL,
	[DateNeeded] [datetime] NULL,
	[SumYear] [smallint] NULL,
	[SumPeriod] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ReqstdBy] [nvarchar](25) NULL,
	[ReqTotal] [dbo].[pDecimal] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInMatReqHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_ReqType]  DEFAULT ((1)) FOR [ReqType]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_DatePlaced]  DEFAULT (getdate()) FOR [DatePlaced]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_DateShipped]  DEFAULT (getdate()) FOR [DateShipped]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_DateNeeded]  DEFAULT (getdate()) FOR [DateNeeded]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_SumYear]  DEFAULT ((0)) FOR [SumYear]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_SumPeriod]  DEFAULT ((0)) FOR [SumPeriod]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblInMatReqHeader] ADD  CONSTRAINT [DF_tblInMatReqHeader_ReqTotal]  DEFAULT ((0)) FOR [ReqTotal]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqHeader'
GO
