USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndRetFundAllocation]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndRetFundAllocation](
	[ID] [bigint] NOT NULL,
	[RetirementId] [bigint] NOT NULL,
	[RetFundID] [bigint] NOT NULL,
	[Allocation] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndRetFundAllocation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[RetirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndRetFundAllocation] ADD  CONSTRAINT [DF_tblHrIndRetFundAllocation_Allocation]  DEFAULT ((0)) FOR [Allocation]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndRetFundAllocation'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndRetFundAllocation'
GO
