USE [005]
GO
/****** Object:  Table [dbo].[tblApPaymentDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApPaymentDetail](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PaymentID] [int] NOT NULL,
	[InvoiceCounter] [int] NOT NULL,
	[ControlID] [int] NOT NULL,
	[GrossAmtDue] [dbo].[pDecimal] NOT NULL,
	[GrossAmtDueBase] [dbo].[pDecimal] NOT NULL,
	[DiscLost] [dbo].[pDecimal] NOT NULL,
	[DiscLostBase] [dbo].[pDecimal] NOT NULL,
	[DiscTaken] [dbo].[pDecimal] NOT NULL,
	[DiscTakenBase] [dbo].[pDecimal] NOT NULL,
	[PaymentAmt] [dbo].[pDecimal] NOT NULL,
	[PaymentAmtBase] [dbo].[pDecimal] NOT NULL,
	[GLAcctGainLoss] [dbo].[pGlAcct] NULL,
	[GLGainLossAmt] [dbo].[pDecimal] NOT NULL,
	[GLGainLossAmtBase] [dbo].[pDecimal] NOT NULL,
	[DropFlagYN] [bit] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[AdjAmt] [dbo].[pDecimal] NOT NULL,
	[AdjAmtFgn] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblApPaymentDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblApPaymentDetail_ControlID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentDetail_ControlID] ON [dbo].[tblApPaymentDetail]
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblApPaymentDetail_InvoiceCounter]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentDetail_InvoiceCounter] ON [dbo].[tblApPaymentDetail]
(
	[InvoiceCounter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblApPaymentDetail_PaymentID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentDetail_PaymentID] ON [dbo].[tblApPaymentDetail]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApPaymentDetail] ADD  CONSTRAINT [DF_tblApPaymentDetail_DropFlagYN]  DEFAULT ((0)) FOR [DropFlagYN]
GO
ALTER TABLE [dbo].[tblApPaymentDetail] ADD  CONSTRAINT [DF_tblApPaymentDetail_AdjAmt]  DEFAULT ((0)) FOR [AdjAmt]
GO
ALTER TABLE [dbo].[tblApPaymentDetail] ADD  CONSTRAINT [DF_tblApPaymentDetail_AdjAmtFgn]  DEFAULT ((0)) FOR [AdjAmtFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentDetail'
GO
