USE [005]
GO
/****** Object:  Table [dbo].[tblEcPoHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPoHeader](
	[Id] [bigint] NOT NULL,
	[ImportBatchId] [nvarchar](14) NOT NULL,
	[KeyLevelSeq1] [int] NOT NULL,
	[SenderID] [nvarchar](50) NULL,
	[PartnerId] [bigint] NULL,
	[CustID] [nvarchar](12) NULL,
	[CustAcctType] [smallint] NULL,
	[ARShipToID] [nvarchar](12) NULL,
	[CustPONum] [nvarchar](50) NULL,
	[ReleaseNumber] [nvarchar](50) NULL,
	[PODate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[CancelDate] [datetime] NULL,
	[ReqDeliveryDate] [datetime] NULL,
	[POType] [nvarchar](10) NULL,
	[OrderRef] [nvarchar](50) NULL,
	[EDIVendorNumber] [nvarchar](50) NULL,
	[EDIDepartment] [nvarchar](50) NULL,
	[MerchandiseTypeCode] [nvarchar](50) NULL,
	[SOShipToName] [nvarchar](100) NULL,
	[SOShipMethodCode] [nvarchar](6) NULL,
	[SOShipVia] [nvarchar](20) NULL,
	[EDIShipToCode] [nvarchar](50) NULL,
	[ShipToName] [nvarchar](100) NULL,
	[ShipToAddr1] [nvarchar](100) NULL,
	[ShipToAddr2] [nvarchar](100) NULL,
	[ShipToCity] [nvarchar](50) NULL,
	[ShipToRegion] [nvarchar](50) NULL,
	[ShipToCountry] [nvarchar](50) NULL,
	[ShipToPostalCode] [nvarchar](50) NULL,
	[EDIBillToCode] [nvarchar](50) NULL,
	[BillToName] [nvarchar](100) NULL,
	[BillToAddr1] [nvarchar](100) NULL,
	[BillToAddr2] [nvarchar](100) NULL,
	[BillToCity] [nvarchar](50) NULL,
	[BillToRegion] [nvarchar](50) NULL,
	[BillToCountry] [nvarchar](50) NULL,
	[BillToPostalCode] [nvarchar](50) NULL,
	[MarkFor] [nvarchar](50) NULL,
	[TotalPoAmt] [dbo].[pDecimal] NULL,
	[FreightAmt] [dbo].[pDecimal] NULL,
	[SalesTaxAmt] [dbo].[pDecimal] NULL,
	[CarrierCode] [nvarchar](50) NULL,
	[CarrierName] [nvarchar](50) NULL,
	[TrackingNum] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentAmt] [dbo].[pDecimal] NULL,
	[PaymentAuthCode] [nvarchar](50) NULL,
	[TotalPoLines] [nvarchar](50) NULL,
	[SOReqShipDate] [datetime] NULL,
	[OrderNotes] [nvarchar](256) NULL,
	[ImportDate] [datetime] NULL,
	[SOTransId] [nvarchar](10) NULL,
	[PartnerType] [smallint] NULL,
	[CreateCustID] [nvarchar](20) NULL,
	[UpdateSOTransID] [nvarchar](10) NULL,
	[ErrorCode] [smallint] NULL,
	[ShipNotes] [varchar](256) NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[FOBCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblEcPoHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPoHeader_ImportBatchId_KeyLevelSeq1]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPoHeader_ImportBatchId_KeyLevelSeq1] ON [dbo].[tblEcPoHeader]
(
	[ImportBatchId] ASC,
	[KeyLevelSeq1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoHeader'
GO
