USE [005]
GO
/****** Object:  Table [dbo].[tblFaRetire]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaRetire](
	[RetirementID] [int] NOT NULL,
	[AssetID] [dbo].[pAssetID] NULL,
	[AssetPrefix] [nvarchar](9) NULL,
	[AssetDescr] [dbo].[pDescription] NULL,
	[Manufacturer] [dbo].[pDescription] NULL,
	[ModelNo] [dbo].[pDescription] NULL,
	[SerialNo] [dbo].[pDescription] NULL,
	[TagNo] [dbo].[pDescription] NULL,
	[TaxDist1] [nvarchar](15) NULL,
	[TaxDist2] [nvarchar](15) NULL,
	[TaxDist3] [nvarchar](15) NULL,
	[Locat1] [nvarchar](15) NULL,
	[Locat2] [nvarchar](15) NULL,
	[Locat3] [nvarchar](15) NULL,
	[AssetStatus] [tinyint] NOT NULL,
	[OwnedAsset] [bit] NOT NULL,
	[NewAsset] [bit] NOT NULL,
	[PersonalProperty] [bit] NOT NULL,
	[ListedProperty] [bit] NOT NULL,
	[InsurableProperty] [bit] NOT NULL,
	[AssetClass] [nvarchar](6) NULL,
	[TaxClass] [nvarchar](4) NULL,
	[GLAsset] [dbo].[pGlAcct] NULL,
	[GLAccum] [dbo].[pGlAcct] NULL,
	[GLExpense] [dbo].[pGlAcct] NULL,
	[CreditDescr] [dbo].[pDescription] NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[AcquisitionCost] [dbo].[pDecimal] NOT NULL,
	[AcquisitionDate] [datetime] NULL,
	[RetirementDate] [datetime] NULL,
	[Qty] [int] NOT NULL,
	[InsuredValue] [dbo].[pDecimal] NOT NULL,
	[InsuredValueDate] [datetime] NULL,
	[AssessedValue] [dbo].[pDecimal] NOT NULL,
	[AssessedValueDate] [datetime] NULL,
	[ReplaceCost] [dbo].[pDecimal] NOT NULL,
	[ReplaceCostDate] [datetime] NULL,
	[PlacedInServDate] [datetime] NULL,
	[BonusDeprPct] [dbo].[pDecimal] NOT NULL,
	[TaxPaid] [dbo].[pDecimal] NOT NULL,
	[AccumNonDeprcCost] [dbo].[pDecimal] NOT NULL,
	[AdjustedCost] [dbo].[pDecimal] NOT NULL,
	[AdjustedDate] [datetime] NULL,
	[TotalCredits] [dbo].[pDecimal] NOT NULL,
	[NoteField] [nvarchar](max) NULL,
	[RetireReason] [dbo].[pDescription] NULL,
	[RetireCode] [nvarchar](1) NULL,
	[RetireDate] [datetime] NULL,
	[RetireQty] [int] NOT NULL,
	[RetireAmt] [dbo].[pDecimal] NOT NULL,
	[RetireProceeds] [dbo].[pDecimal] NOT NULL,
	[RetireExpense] [dbo].[pDecimal] NOT NULL,
	[RetireCredits] [dbo].[pDecimal] NOT NULL,
	[RetireAcqCosts] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblFaRetire] PRIMARY KEY CLUSTERED 
(
	[RetirementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblFaRetire_AssetId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblFaRetire_AssetId] ON [dbo].[tblFaRetire]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_AssetStatus]  DEFAULT ((0)) FOR [AssetStatus]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_AcquisitionCost]  DEFAULT ((0)) FOR [AcquisitionCost]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_InsuredValue]  DEFAULT ((0)) FOR [InsuredValue]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_AssessedValue]  DEFAULT ((0)) FOR [AssessedValue]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_ReplaceCost]  DEFAULT ((0)) FOR [ReplaceCost]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_BonusDeprPct]  DEFAULT ((0)) FOR [BonusDeprPct]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_TaxPaid]  DEFAULT ((0)) FOR [TaxPaid]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_AccumNonDeprcCost]  DEFAULT ((0)) FOR [AccumNonDeprcCost]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_AdjustedCost]  DEFAULT ((0)) FOR [AdjustedCost]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_TotalCredits]  DEFAULT ((0)) FOR [TotalCredits]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireQty]  DEFAULT ((0)) FOR [RetireQty]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireAmt]  DEFAULT ((0)) FOR [RetireAmt]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireProceeds]  DEFAULT ((0)) FOR [RetireProceeds]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireExpense]  DEFAULT ((0)) FOR [RetireExpense]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireCredits]  DEFAULT ((0)) FOR [RetireCredits]
GO
ALTER TABLE [dbo].[tblFaRetire] ADD  CONSTRAINT [DF_tblFaRetire_RetireAcqCosts]  DEFAULT ((0)) FOR [RetireAcqCosts]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaRetire'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaRetire'
GO
