USE [005]
GO
/****** Object:  Table [dbo].[tblWmExtLoc]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmExtLoc](
	[Id] [int] NOT NULL,
	[Type] [smallint] NOT NULL,
	[LocID] [dbo].[pLocID] NULL,
	[ExtLocID] [nvarchar](10) NOT NULL,
	[Descr] [nvarchar](25) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ZoneID] [nvarchar](10) NULL,
	[ExtLocTypeID] [tinyint] NOT NULL,
	[ExtLocARef] [int] NULL,
 CONSTRAINT [PK_tblWmExtLoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblWmExtLoc_LocIdExtLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblWmExtLoc_LocIdExtLocId] ON [dbo].[tblWmExtLoc]
(
	[LocID] ASC,
	[ExtLocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmExtLoc] ADD  CONSTRAINT [DF_tblWmExtLoc_ExtLocTypeID]  DEFAULT ((0)) FOR [ExtLocTypeID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmExtLoc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmExtLoc'
GO
