USE [005]
GO
/****** Object:  Table [dbo].[tblPcTimeTicket]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcTimeTicket](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[ProjectDetailId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[RateId] [nvarchar](10) NOT NULL,
	[BillingRate] [dbo].[pDecimal] NOT NULL,
	[Pieces] [dbo].[pDecimal] NOT NULL,
	[StateCode] [nvarchar](2) NULL,
	[LocalCode] [nvarchar](4) NULL,
	[DepartmentId] [nvarchar](10) NULL,
	[LaborClass] [nvarchar](25) NULL,
	[EarnCode] [nvarchar](3) NULL,
	[SUIState] [nvarchar](2) NULL,
	[SeqNo] [nvarchar](8) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcTimeTicket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlBatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlBatchId] ON [dbo].[tblPcTimeTicket]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcTimeTicket] ADD  CONSTRAINT [DF_tblPcTimeTicket_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPcTimeTicket] ADD  CONSTRAINT [DF_tblPcTimeTicket_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblPcTimeTicket] ADD  CONSTRAINT [DF_tblPcTimeTicket_BillingRate]  DEFAULT ((0)) FOR [BillingRate]
GO
ALTER TABLE [dbo].[tblPcTimeTicket] ADD  CONSTRAINT [DF_tblPcTimeTicket_Pieces]  DEFAULT ((0)) FOR [Pieces]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcTimeTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcTimeTicket'
GO
