USE [005]
GO
/****** Object:  Table [dbo].[tblSrACSHistJobDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrACSHistJobDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobNbr] [dbo].[pTransID] NOT NULL,
	[SeqNbr] [int] NOT NULL,
	[LineType] [nvarchar](1) NULL,
	[LaborCode] [nvarchar](3) NULL,
	[ItemNbr] [dbo].[pItemID] NULL,
	[EmployeeNbr] [nvarchar](9) NULL,
	[TransDate] [datetime] NULL,
	[Description] [dbo].[pDescription] NULL,
	[RegularHrs] [dbo].[pDecimal] NOT NULL,
	[OTHrs] [dbo].[pDecimal] NOT NULL,
	[DTHrs] [dbo].[pDecimal] NOT NULL,
	[RegularHrsCost] [dbo].[pDecimal] NOT NULL,
	[OTHrsCost] [dbo].[pDecimal] NOT NULL,
	[DTHrsCost] [dbo].[pDecimal] NOT NULL,
	[MatQtyIssued] [dbo].[pDecimal] NOT NULL,
	[MatUnitCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[UnitofMeasure] [nvarchar](2) NULL,
	[WarehouseId] [nvarchar](2) NULL,
	[ReferenceNbr] [nvarchar](10) NULL,
	[VendorNbr] [dbo].[pVendorID] NULL,
	[LinkedPONbr] [nvarchar](11) NULL,
	[PORecDate] [datetime] NULL,
	[POReceiverNbr] [nvarchar](7) NULL,
	[POLineCode] [nvarchar](2) NULL,
	[WarehouseName] [nvarchar](24) NULL,
	[VendorName] [nvarchar](30) NULL,
	[EmployeeName] [nvarchar](30) NULL,
	[POLineCodeDesc] [nvarchar](20) NULL,
	[NonStockItemYN] [bit] NOT NULL,
	[WorkType] [nvarchar](2) NULL,
	[WorkTypeDesc] [nvarchar](30) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrACSHistJobDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobDetail'
GO
