USE [005]
GO
/****** Object:  Table [dbo].[tblSrDistCode]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrDistCode](
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[Descr] [nvarchar](25) NULL,
	[MaterialWIP] [dbo].[pGlAcct] NOT NULL,
	[MaterialBurden] [dbo].[pGlAcct] NOT NULL,
	[MaterialBurdenWIP] [dbo].[pGlAcct] NOT NULL,
	[PayrollClearingLabor] [dbo].[pGlAcct] NOT NULL,
	[LaborWIP] [dbo].[pGlAcct] NOT NULL,
	[PayrollClearingLaborBurden] [dbo].[pGlAcct] NOT NULL,
	[LaborBurdenWIP] [dbo].[pGlAcct] NOT NULL,
	[MaterialSales] [dbo].[pGlAcct] NOT NULL,
	[LaborSales] [dbo].[pGlAcct] NOT NULL,
	[MaterialCOGS] [dbo].[pGlAcct] NOT NULL,
	[MaterialBurdenCOGS] [dbo].[pGlAcct] NOT NULL,
	[LaborCOGS] [dbo].[pGlAcct] NOT NULL,
	[LaborBurdenCOGS] [dbo].[pGlAcct] NOT NULL,
	[JobAccrual] [dbo].[pGlAcct] NOT NULL,
	[AccruedIncome] [dbo].[pGlAcct] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrDistCode] PRIMARY KEY CLUSTERED 
(
	[DistCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrDistCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrDistCode'
GO
