USE [005]
GO
/****** Object:  Table [dbo].[tblBrClearedTrans]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrClearedTrans](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BankId] [dbo].[pBankID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Reference] [nvarchar](15) NULL,
	[SourceId] [nvarchar](10) NULL,
	[TransDate] [datetime] NULL,
	[TransType] [smallint] NULL,
	[Amount] [dbo].[pDecimal] NULL,
	[VoidStopYn] [bit] NULL,
	[ClearedEntryNum] [int] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBrClearedTrans] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBrClearedTrans] ADD  CONSTRAINT [DF_tblBrClearedTrans_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrClearedTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrClearedTrans'
GO
