USE [005]
GO
/****** Object:  Table [dbo].[X_PackingCharacteristics]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_PackingCharacteristics](
	[TravItemId] [nvarchar](255) NULL,
	[PackingSequence] [float] NULL,
	[PackingType] [nvarchar](255) NULL,
	[Target] [float] NULL,
	[Min] [float] NULL,
	[Max] [float] NULL,
	[PackingTraceabiityRequired] [float] NULL,
	[SequenceNotUsed] [float] NULL
) ON [PRIMARY]
GO
