USE [005]
GO
/****** Object:  Table [dbo].[tblWmTransfer]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmTransfer](
	[TranKey] [bigint] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LocIdTo] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[CostTransfer] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[PackNum] [dbo].[pTransID] NULL,
	[Cmnt] [nvarchar](max) NULL,
	[QtySeqNum_OnOrd] [int] NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuickTransferYn] [bit] NOT NULL,
	[QuantityCmtdID] [bigint] NULL,
	[QuantityOnOrdID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
 CONSTRAINT [PK_tblWmTransfer] PRIMARY KEY CLUSTERED 
(
	[TranKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblWmTransfer_BatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmTransfer_BatchId] ON [dbo].[tblWmTransfer]
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmTransfer] ADD  CONSTRAINT [DF_tblWmTransfer_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblWmTransfer] ADD  CONSTRAINT [DF_tblWmTransfer_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblWmTransfer] ADD  CONSTRAINT [DF_tblWmTransfer_CostTransfer]  DEFAULT ((0)) FOR [CostTransfer]
GO
ALTER TABLE [dbo].[tblWmTransfer] ADD  CONSTRAINT [DF_tblWmTransfer_QuickTransferYn]  DEFAULT ((0)) FOR [QuickTransferYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmTransfer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmTransfer'
GO
