USE [005]
GO
/****** Object:  Table [dbo].[tblEcPoDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPoDetail](
	[Id] [bigint] NOT NULL,
	[POHeaderID] [bigint] NOT NULL,
	[KeyLevelSeq2] [int] NOT NULL,
	[SenderId] [nvarchar](50) NULL,
	[CustPoNum] [nvarchar](50) NULL,
	[PoLineNum] [nvarchar](50) NULL,
	[LineReleaseNumber] [nvarchar](50) NULL,
	[EDIBillToCode] [nvarchar](50) NULL,
	[EDIShipToCode] [nvarchar](50) NULL,
	[ShipToName] [nvarchar](100) NULL,
	[ShipToAddr1] [nvarchar](100) NULL,
	[ShipToAddr2] [nvarchar](100) NULL,
	[ShipToCity] [nvarchar](50) NULL,
	[ShipToRegion] [nvarchar](30) NULL,
	[ShipToCountry] [nvarchar](20) NULL,
	[ShipToPostalCode] [nvarchar](15) NULL,
	[ItemUir] [nvarchar](50) NULL,
	[ItemBuyerCode] [nvarchar](50) NULL,
	[ItemVendorCode] [nvarchar](50) NULL,
	[ItemUPC] [nvarchar](50) NULL,
	[ItemID] [nvarchar](50) NULL,
	[ItemDescr] [nvarchar](100) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[QtyOrd] [dbo].[pDecimal] NOT NULL,
	[POUnitsSell] [nvarchar](50) NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[RetailPrice] [dbo].[pDecimal] NOT NULL,
	[PackQty] [int] NULL,
	[InnerPackQty] [int] NULL,
	[ItemVendorCompanyCode] [nvarchar](50) NULL,
	[ItemVendorCompanyName] [nvarchar](50) NULL,
	[SOShipToID] [nvarchar](50) NULL,
	[SOShipToName] [nvarchar](100) NULL,
	[SOShipToAddr1] [nvarchar](100) NULL,
	[SOShipToAddr2] [nvarchar](100) NULL,
	[SOShipToCity] [nvarchar](30) NULL,
	[SOShipToRegion] [nvarchar](10) NULL,
	[SOShipToCountry] [nvarchar](6) NULL,
	[SOShipToPostalCode] [nvarchar](10) NULL,
	[SOItemDescr] [nvarchar](35) NULL,
	[SOItemDescrAddnl] [nvarchar](255) NULL,
	[SOUnitsSell] [nvarchar](10) NULL,
	[SOUnitPriceSell] [dbo].[pDecimal] NULL,
	[SOQtyOrdSell] [dbo].[pDecimal] NULL,
	[RequestedDate] [datetime] NULL,
	[SOReqShipDate] [datetime] NULL,
	[SOTransID] [nvarchar](10) NULL,
	[SOEntryNum] [int] NULL,
	[SplitSeq] [int] NULL,
	[LineREF02] [nvarchar](50) NULL,
	[UpdateSOTransID] [nvarchar](10) NULL,
	[UpdateSOEntryNum] [int] NULL,
	[UpdateSOAction] [smallint] NULL,
	[PriceFromFileYN] [bit] NULL,
	[ErrorCode] [smallint] NULL,
	[CalcUnitPriceSell] [dbo].[pDecimal] NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[ItemColorDescr] [nvarchar](50) NULL,
	[ItemSizeDescr] [nvarchar](50) NULL,
	[ItemEAN] [nvarchar](50) NULL,
	[ItemGTIN] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblEcPoDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEcPoDetail_POHeaderID_KeyLevelSeq2]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPoDetail_POHeaderID_KeyLevelSeq2] ON [dbo].[tblEcPoDetail]
(
	[POHeaderID] ASC,
	[KeyLevelSeq2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoDetail'
GO
