USE [005]
GO
/****** Object:  Table [dbo].[tblSrCatalogDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrCatalogDetail](
	[CatalogId] [nvarchar](10) NOT NULL,
	[ItemId] [nvarchar](255) NOT NULL,
	[Descr] [nvarchar](255) NULL,
	[AddlDescr] [nvarchar](255) NULL,
	[UOM] [nvarchar](255) NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[Weight] [dbo].[pDecimal] NOT NULL,
	[VendorName1] [nvarchar](30) NULL,
	[VendorName2] [nvarchar](30) NULL,
	[PriceId] [nvarchar](10) NULL,
	[ProductLine] [nvarchar](12) NULL,
	[SalesCat] [nvarchar](2) NULL,
	[WarningText] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrCatalogDetail] PRIMARY KEY CLUSTERED 
(
	[CatalogId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrCatalogDetail] ADD  CONSTRAINT [DF_tblSrCatalogDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrCatalogDetail] ADD  CONSTRAINT [DF_tblSrCatalogDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrCatalogDetail] ADD  CONSTRAINT [DF_tblSrCatalogDetail_Weight]  DEFAULT ((0)) FOR [Weight]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrCatalogDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrCatalogDetail'
GO
