USE [005]
GO
/****** Object:  Table [dbo].[tblArDistCode]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArDistCode](
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[Desc] [nvarchar](25) NULL,
	[GLAcctReceivables] [dbo].[pGlAcct] NULL,
	[GLAcctSalesTax] [dbo].[pGlAcct] NULL,
	[GLAcctFreight] [dbo].[pGlAcct] NULL,
	[GLAcctMisc] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[GLAcctDepositReceivables] [dbo].[pGlAcct] NULL,
	[GLAcctDepositReceivablesContra] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblArDistCode] PRIMARY KEY CLUSTERED 
(
	[DistCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArDistCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArDistCode'
GO
