USE [005]
GO
/****** Object:  Table [dbo].[tblInQtyOnHand]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQtyOnHand](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[EntryID] [int] NOT NULL,
	[ItemId] [nchar](24) NOT NULL,
	[LocId] [nchar](10) NOT NULL,
	[LotNum] [nchar](16) NULL,
	[Source] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Cost] [dbo].[pDecimal] NOT NULL,
	[InvoicedQty] [dbo].[pDecimal] NOT NULL,
	[RcptLink] [int] NULL,
	[RemoveQty] [dbo].[pDecimal] NOT NULL,
	[LinkID] [nchar](8) NOT NULL,
	[LinkIDSub] [nchar](8) NOT NULL,
	[LinkIDSubLine] [int] NULL,
	[PostedYn] [bit] NOT NULL,
	[DeletedYn] [bit] NOT NULL,
	[CostACV] [dbo].[pDecimal] NOT NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblInQtyOnHand] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInQtyOnHand]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQtyOnHand] ON [dbo].[tblInQtyOnHand]
(
	[ItemId] ASC,
	[LocId] ASC,
	[LotNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblInQtyOnHand_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInQtyOnHand_ID] ON [dbo].[tblInQtyOnHand]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_EntryID]  DEFAULT ((0)) FOR [EntryID]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_InvoicedQty]  DEFAULT ((0)) FOR [InvoicedQty]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_RemoveQty]  DEFAULT ((0)) FOR [RemoveQty]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_DeletedYn]  DEFAULT ((0)) FOR [DeletedYn]
GO
ALTER TABLE [dbo].[tblInQtyOnHand] ADD  CONSTRAINT [DF_tblInQtyOnHand_CostACV]  DEFAULT ((0)) FOR [CostACV]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand'
GO
