USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckHistLeave]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckHistLeave](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[Id] [int] NOT NULL,
	[CheckId] [int] NOT NULL,
	[LeaveCodeId] [dbo].[pCode] NULL,
	[HoursAccrued] [dbo].[pDecimal] NOT NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckHistLeave] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheckHistLeave_PostRunCheckId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckHistLeave_PostRunCheckId] ON [dbo].[tblPaCheckHistLeave]
(
	[PostRun] ASC,
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckHistLeave] ADD  CONSTRAINT [DF_tblPaCheckHistLeave_HoursAccrued]  DEFAULT ((0)) FOR [HoursAccrued]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistLeave'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHistLeave'
GO
