USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartnerSAC]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartnerSAC](
	[Id] [bigint] NOT NULL,
	[PartnerId] [bigint] NOT NULL,
	[SACCode] [nvarchar](10) NOT NULL,
	[HeaderDetail] [smallint] NULL,
	[SACDescr] [nvarchar](50) NULL,
	[SACSeq] [int] NULL,
	[ImpliedYN] [bit] NULL,
	[SACIndicator] [smallint] NULL,
	[SACAdjType] [smallint] NULL,
	[SACCalcOn] [tinyint] NULL,
	[SACAmount] [dbo].[pDecimal] NULL,
	[AdjServiceItem] [nvarchar](50) NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[KeyValue] [nvarchar](75) NULL,
 CONSTRAINT [PK_tblEcPartnerSAC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPartnerSAC_PartnerIDSACCodeHeaderDetailKeyValue]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPartnerSAC_PartnerIDSACCodeHeaderDetailKeyValue] ON [dbo].[tblEcPartnerSAC]
(
	[PartnerId] ASC,
	[SACCode] ASC,
	[HeaderDetail] ASC,
	[KeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPartnerSAC] ADD  CONSTRAINT [DF_tblEcPartnerSAC_SACCalcOn]  DEFAULT ((0)) FOR [SACCalcOn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerSAC'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerSAC'
GO
