USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransDetailExt]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransDetailExt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[LineDetailId] [bigint] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[Quantity] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[HistSeqNum] [int] NULL,
	[QtySeqNum] [int] NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[QtySeqNum_Ext] [int] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[CreditId] [bigint] NULL,
	[Comment] [nvarchar](30) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
 CONSTRAINT [PK_tblSrTransDetailExt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransDetailExt] ADD  CONSTRAINT [DF_tblSrTransDetailExt_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[tblSrTransDetailExt] ADD  CONSTRAINT [DF_tblSrTransDetailExt_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrTransDetailExt] ADD  CONSTRAINT [DF_tblSrTransDetailExt_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransDetailExt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransDetailExt'
GO
