USE [005]
GO
/****** Object:  Table [dbo].[_Bss_tblGlAcctDtlBud_Import]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Bss_tblGlAcctDtlBud_Import](
	[AcctID] [dbo].[pGlAcct] NOT NULL,
	[Description] [varchar](100) NULL,
	[Amount1] [dbo].[pDecimal] NULL,
	[Amount2] [dbo].[pDecimal] NULL,
	[Amount3] [dbo].[pDecimal] NULL,
	[Amount4] [dbo].[pDecimal] NULL,
	[Amount5] [dbo].[pDecimal] NULL,
	[Amount6] [dbo].[pDecimal] NULL,
	[Amount7] [dbo].[pDecimal] NULL,
	[Amount8] [dbo].[pDecimal] NULL,
	[Amount9] [dbo].[pDecimal] NULL,
	[Amount10] [dbo].[pDecimal] NULL,
	[Amount11] [dbo].[pDecimal] NULL,
	[Amount12] [dbo].[pDecimal] NULL,
	[AmountTotal] [dbo].[pDecimal] NULL,
	[BFDesc] [varchar](30) NOT NULL,
	[GlYear] [smallint] NOT NULL,
 CONSTRAINT [PK__Bss_tblGlAcctDtlBud_Import] PRIMARY KEY CLUSTERED 
(
	[AcctID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
