USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistTimeClockTrans]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistTimeClockTrans](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[ScheduleId] [nvarchar](10) NOT NULL,
	[EntryNum] [int] NOT NULL,
	[RelNum] [int] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[EntryType] [tinyint] NOT NULL,
	[JobId] [dbo].[pTransID] NOT NULL,
	[LaborCode] [nvarchar](6) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ReportedTime] [dbo].[pDecimal] NULL,
	[InclBreak] [bit] NOT NULL,
	[EditYN] [bit] NOT NULL,
	[OHTime] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistTimeClockTrans] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_EntryType]  DEFAULT ((0)) FOR [EntryType]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_StartTime]  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_InclBreak]  DEFAULT ((0)) FOR [InclBreak]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_EditYN]  DEFAULT ((0)) FOR [EditYN]
GO
ALTER TABLE [dbo].[tblSrHistTimeClockTrans] ADD  CONSTRAINT [DF_tblSrHistTimeClockTrans_OHTime]  DEFAULT ((0)) FOR [OHTime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistTimeClockTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistTimeClockTrans'
GO
