USE [005]
GO
/****** Object:  Table [dbo].[tblCsResourceDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCsResourceDetail](
	[Id] [bigint] NOT NULL,
	[ResType] [tinyint] NOT NULL,
	[ResourceId] [nvarchar](255) NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[LineNumber] [bigint] NOT NULL,
	[ResStatus] [tinyint] NOT NULL,
	[Description] [dbo].[pDescription] NOT NULL,
	[EfficiencyPct] [dbo].[pDecimal] NOT NULL,
	[ScheduleID] [nvarchar](10) NULL,
	[ExtAttribute] [bigint] NULL,
	[ExtInfo] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCsResourceDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCsResourceDetail] ADD  CONSTRAINT [DF_tblCsResourceDetail_EfficiencyPct]  DEFAULT ((100)) FOR [EfficiencyPct]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCsResourceDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCsResourceDetail'
GO
