USE [005]
GO
/****** Object:  Table [dbo].[X_tblMbAssemblyDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_tblMbAssemblyDetail](
	[HeaderId] [float] NULL,
	[RoutingId] [float] NULL,
	[AssemblyId] [nvarchar](255) NULL,
	[RtgType] [nvarchar](255) NULL,
	[CompSeq] [nvarchar](255) NULL,
	[ComponentID] [nvarchar](255) NULL,
	[UOM] [nvarchar](255) NULL,
	[DetailType] [float] NULL,
	[LocId] [nvarchar](255) NULL,
	[ConvFactor] [float] NULL,
	[UsageType] [float] NULL,
	[Qty] [float] NULL,
	[ScrapPct] [float] NULL,
	[CostGroupID] [nvarchar](255) NULL,
	[LottedYn] [float] NULL,
	[Backflushed] [float] NULL,
	[UnitCost] [float] NULL,
	[Sequence] [float] NULL,
	[max#oflotsallowed] [float] NULL
) ON [PRIMARY]
GO
