USE [005]
GO
/****** Object:  Table [dbo].[tblPaRecurEarn]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaRecurEarn](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[EarningCode] [dbo].[pCode] NULL,
	[LeaveCodeId] [dbo].[pCode] NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[StateTaxAuthorityId] [int] NULL,
	[LocalTaxAuthorityId] [int] NULL,
	[LaborClass] [nvarchar](3) NULL,
	[Rate] [dbo].[pDecimal] NOT NULL,
	[Pieces] [dbo].[pDecimal] NOT NULL,
	[Hours] [dbo].[pDecimal] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[TransDate] [datetime] NULL,
	[SUIState] [nvarchar](2) NULL,
	[SeqNo] [nvarchar](3) NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ProjId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[RunCode] [nvarchar](2) NULL,
	[CutoffDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupId] [bigint] NULL,
 CONSTRAINT [PK_tblPaRecurEarn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaRecurEarn_EmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaRecurEarn_EmployeeId] ON [dbo].[tblPaRecurEarn]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaRecurEarn_RunCode]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaRecurEarn_RunCode] ON [dbo].[tblPaRecurEarn]
(
	[RunCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaRecurEarn] ADD  CONSTRAINT [DF_tblPaRecurEarn_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[tblPaRecurEarn] ADD  CONSTRAINT [DF_tblPaRecurEarn_Pieces]  DEFAULT ((0)) FOR [Pieces]
GO
ALTER TABLE [dbo].[tblPaRecurEarn] ADD  CONSTRAINT [DF_tblPaRecurEarn_Hours]  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[tblPaRecurEarn] ADD  CONSTRAINT [DF_tblPaRecurEarn_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaRecurEarn'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaRecurEarn'
GO
