USE [005]
GO
/****** Object:  Table [dbo].[tblApCheckPosPay]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApCheckPosPay](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BankID] [dbo].[pBankID] NOT NULL,
	[CheckNumber] [dbo].[pCheckNum] NOT NULL,
	[AccountNumber] [dbo].[pGlAcct] NULL,
	[ActionType] [tinyint] NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[CheckAmount] [dbo].[pDecimal] NOT NULL,
	[CheckDate] [datetime] NULL,
	[PayeeName] [nvarchar](30) NULL,
	[PayeeAddress1] [nvarchar](30) NULL,
	[PayeeAddress2] [nvarchar](60) NULL,
	[PayeeCity] [nvarchar](30) NULL,
	[PayeeRegion] [nvarchar](10) NULL,
	[PayeePostalCode] [nvarchar](10) NULL,
	[BatchID] [dbo].[pBatchID] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[TransmitDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblApCheckPosPay] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblApCheckPosPay]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblApCheckPosPay] ON [dbo].[tblApCheckPosPay]
(
	[BankID] ASC,
	[CheckNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApCheckPosPay] ADD  CONSTRAINT [DF_tblApCheckPosPay_ActionType]  DEFAULT ((0)) FOR [ActionType]
GO
ALTER TABLE [dbo].[tblApCheckPosPay] ADD  CONSTRAINT [DF_tblApCheckPosPay_TransactionType]  DEFAULT ((0)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[tblApCheckPosPay] ADD  CONSTRAINT [DF_tblApCheckPosPay_CheckAmount]  DEFAULT ((0)) FOR [CheckAmount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApCheckPosPay'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApCheckPosPay'
GO
