USE [005]
GO
/****** Object:  Table [dbo].[tblSrACSHistJobEstimate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrACSHistJobEstimate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobNbr] [dbo].[pTransID] NOT NULL,
	[SeqNbr] [int] NOT NULL,
	[LineType] [nvarchar](1) NULL,
	[LaborCode] [nvarchar](3) NULL,
	[ItemNbr] [dbo].[pItemID] NULL,
	[Description] [dbo].[pDescription] NULL,
	[VendorNbr] [dbo].[pVendorID] NULL,
	[WarehouseId] [nvarchar](2) NULL,
	[DropShipYN] [bit] NOT NULL,
	[ReqOrPO] [nvarchar](1) NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[WarehouseName] [nvarchar](24) NULL,
	[VendorName] [nvarchar](30) NULL,
	[WorkType] [nvarchar](2) NULL,
	[WorkTypeDesc] [dbo].[pDescription] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrACSHistJobEstimate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobEstimate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobEstimate'
GO
