USE [005]
GO
/****** Object:  Table [dbo].[tblSmMenuFavorites]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmMenuFavorites](
	[ID] [bigint] NOT NULL,
	[WorkProfileID] [bigint] NOT NULL,
	[Descr] [nvarchar](50) NOT NULL,
	[ParentID] [bigint] NOT NULL,
	[Sequence] [smallint] NOT NULL,
	[MenuID] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[LinkURL] [nvarchar](max) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmMenuFavorites] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSmMenuFavorites_ParentIDSequence]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmMenuFavorites_ParentIDSequence] ON [dbo].[tblSmMenuFavorites]
(
	[ParentID] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSmMenuFavorites_WorkProfileID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmMenuFavorites_WorkProfileID] ON [dbo].[tblSmMenuFavorites]
(
	[WorkProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmMenuFavorites] ADD  CONSTRAINT [DF_tblSmMenuFavorites_ParentID]  DEFAULT ((0)) FOR [ParentID]
GO
ALTER TABLE [dbo].[tblSmMenuFavorites] ADD  CONSTRAINT [DF_tblSmMenuFavorites_Sequence]  DEFAULT ((0)) FOR [Sequence]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmMenuFavorites'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmMenuFavorites'
GO
