USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLocABCCalc]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLocABCCalc](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[UomDflt] [dbo].[pUom] NULL,
	[QtyOnHand] [dbo].[pDecimal] NULL,
	[OriginalABCClass] [nvarchar](10) NULL,
	[ABCClass] [nvarchar](10) NULL,
	[TotalOnHandValue] [dbo].[pDecimal] NULL,
	[UsageQty] [dbo].[pDecimal] NULL,
	[MoveQty] [dbo].[pDecimal] NULL,
	[TotalQty] [dbo].[pDecimal] NULL,
	[TotalValue] [dbo].[pDecimal] NULL,
	[TotalValuePct] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemLocABCCalc] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_QtyOnHand]  DEFAULT ((0)) FOR [QtyOnHand]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_TotalOnHandValue]  DEFAULT ((0)) FOR [TotalOnHandValue]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_UsageQty]  DEFAULT ((0)) FOR [UsageQty]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_MoveQty]  DEFAULT ((0)) FOR [MoveQty]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_TotalQty]  DEFAULT ((0)) FOR [TotalQty]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_TotalValue]  DEFAULT ((0)) FOR [TotalValue]
GO
ALTER TABLE [dbo].[tblInItemLocABCCalc] ADD  CONSTRAINT [DF_tblInItemLocABCCalc_TotalValuePct]  DEFAULT ((0)) FOR [TotalValuePct]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocABCCalc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocABCCalc'
GO
