USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndWithhold]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndWithhold](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[TaxAuthorityId] [int] NOT NULL,
	[MaritalStatus] [nvarchar](3) NULL,
	[Exemptions] [tinyint] NOT NULL,
	[ExtraWithholding] [dbo].[pDecimal] NOT NULL,
	[FixedWithholding] [dbo].[pDecimal] NOT NULL,
	[HomeState] [nvarchar](2) NULL,
	[DefaultWH] [bit] NOT NULL,
	[SUIState] [nvarchar](2) NULL,
	[EICCode] [nvarchar](1) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndWithhold] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndWithhold_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndWithhold_IndId] ON [dbo].[tblHrIndWithhold]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndWithhold] ADD  CONSTRAINT [DF_tblHrIndWithhold_Exemptions]  DEFAULT ((0)) FOR [Exemptions]
GO
ALTER TABLE [dbo].[tblHrIndWithhold] ADD  CONSTRAINT [DF_tblHrIndWithhold_ExtraWithholding]  DEFAULT ((0)) FOR [ExtraWithholding]
GO
ALTER TABLE [dbo].[tblHrIndWithhold] ADD  CONSTRAINT [DF_tblHrIndWithhold_FixedWithholding]  DEFAULT ((0)) FOR [FixedWithholding]
GO
ALTER TABLE [dbo].[tblHrIndWithhold] ADD  CONSTRAINT [DF_tblHrIndWithhold_DefaultWH]  DEFAULT ((0)) FOR [DefaultWH]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndWithhold'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndWithhold'
GO
