USE [005]
GO
/****** Object:  Table [dbo].[tblGlAllocCompDtl]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlAllocCompDtl](
	[SegType] [nvarchar](2) NOT NULL,
	[SegId] [dbo].[pGlAcct] NOT NULL,
	[ToCompId] [dbo].[pCompID] NOT NULL,
	[AcctIdCredit] [dbo].[pGlAcct] NOT NULL,
	[AcctIdDebit] [dbo].[pGlAcct] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlAllocCompDtl] PRIMARY KEY CLUSTERED 
(
	[SegType] ASC,
	[SegId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAllocCompDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAllocCompDtl'
GO
