USE [005]
GO
/****** Object:  Table [dbo].[tblPaLeaveCodeHdr]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaLeaveCodeHdr](
	[Id] [dbo].[pCode] NOT NULL,
	[Description] [nvarchar](35) NULL,
	[MaxAccrual] [dbo].[pDecimal] NOT NULL,
	[IncludeAccrualCalc] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaLeaveCodeHdr] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaLeaveCodeHdr] ADD  CONSTRAINT [DF_tblPaLeaveCodeHdr_MaxAccrual]  DEFAULT ((0)) FOR [MaxAccrual]
GO
ALTER TABLE [dbo].[tblPaLeaveCodeHdr] ADD  CONSTRAINT [DF_tblPaLeaveCodeHdr_IncludeAccrualCalc]  DEFAULT ((0)) FOR [IncludeAccrualCalc]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaLeaveCodeHdr'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaLeaveCodeHdr'
GO
