USE [005]
GO
/****** Object:  Table [dbo].[tblWmBOLDetailCustomerOrder]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmBOLDetailCustomerOrder](
	[BOLDtlOrderRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BOLRef] [int] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[CustomerPoNo] [nvarchar](25) NULL,
	[PackQty] [dbo].[pDecimal] NOT NULL,
	[ExtWeight] [dbo].[pDecimal] NOT NULL,
	[PalletSlipYn] [bit] NOT NULL,
	[AddnlShipperInfo] [nvarchar](60) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblWMBOLDetailCustomerOrder] PRIMARY KEY CLUSTERED 
(
	[BOLDtlOrderRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmBOLDetailCustomerOrder] ADD  CONSTRAINT [DF_tblWMBOLDetailCustomerOrder_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblWmBOLDetailCustomerOrder] ADD  CONSTRAINT [DF_tblWMBOLDetailCustomerOrder_PalletSlipYn]  DEFAULT ((0)) FOR [PalletSlipYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmBOLDetailCustomerOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmBOLDetailCustomerOrder'
GO
