USE [005]
GO
/****** Object:  Table [dbo].[tblSmScheduleEvent]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmScheduleEvent](
	[ID] [bigint] NOT NULL,
	[ParentId] [bigint] NULL,
	[ResourceType] [tinyint] NOT NULL,
	[ResourceId] [nvarchar](255) NOT NULL,
	[EventType] [tinyint] NOT NULL,
	[PatternType] [tinyint] NOT NULL,
	[OccurrenceId] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[StartTime] [int] NOT NULL,
	[TimeZone] [smallint] NOT NULL,
	[Duration] [int] NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[RecurType] [tinyint] NOT NULL,
	[RecurFrequency] [smallint] NOT NULL,
	[RecurInstance] [tinyint] NOT NULL,
	[RecurDay] [tinyint] NOT NULL,
	[RecurMonth] [tinyint] NOT NULL,
	[RecurStart] [datetime] NULL,
	[RecurEnd] [datetime] NULL,
	[RecurCount] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmScheduleEvent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmScheduleEvent_ResourceTypeResourceId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmScheduleEvent_ResourceTypeResourceId] ON [dbo].[tblSmScheduleEvent]
(
	[ResourceType] ASC,
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmScheduleEvent'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmScheduleEvent'
GO
