USE [005]
GO
/****** Object:  Table [dbo].[tblWmCycleCountActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmCycleCountActivity](
	[Id] [bigint] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[CountType] [tinyint] NOT NULL,
	[NumOfItems] [int] NOT NULL,
	[NumOfItemsCounted] [int] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[DisplayFilter] [nvarchar](max) NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[BatchDescr] [nvarchar](50) NULL,
	[CountDate] [datetime] NULL,
	[AssignedTo] [dbo].[pEmpID] NULL,
	[PreparedDateTime] [datetime] NOT NULL,
	[PreparedBy] [dbo].[pUserID] NULL,
	[FrozenDateTime] [datetime] NULL,
	[FrozenBy] [dbo].[pUserID] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblWmCycleCountActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmCycleCountActivity] ADD  CONSTRAINT [DF_tblWmCycleCountActivity_CountType]  DEFAULT ((0)) FOR [CountType]
GO
ALTER TABLE [dbo].[tblWmCycleCountActivity] ADD  CONSTRAINT [DF_tblWmCycleCountActivity_NumOfItems]  DEFAULT ((0)) FOR [NumOfItems]
GO
ALTER TABLE [dbo].[tblWmCycleCountActivity] ADD  CONSTRAINT [DF_tblWmCycleCountActivity_NumOfItemsCounted]  DEFAULT ((0)) FOR [NumOfItemsCounted]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmCycleCountActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmCycleCountActivity'
GO
