USE [005]
GO
/****** Object:  Table [dbo].[tblPaFormulaTableDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaFormulaTableDetail](
	[FormulaTableYearId] [int] NOT NULL,
	[SequenceNumber] [smallint] NOT NULL,
	[Column1] [dbo].[pDecimal] NOT NULL,
	[Column2] [dbo].[pDecimal] NOT NULL,
	[Column3] [dbo].[pDecimal] NOT NULL,
	[Column4] [dbo].[pDecimal] NOT NULL,
	[Column5] [dbo].[pDecimal] NOT NULL,
	[Column6] [dbo].[pDecimal] NOT NULL,
	[Column7] [dbo].[pDecimal] NOT NULL,
	[Column8] [dbo].[pDecimal] NOT NULL,
	[Column9] [dbo].[pDecimal] NOT NULL,
	[Column10] [dbo].[pDecimal] NOT NULL,
	[GradientYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaFormulaTableDetail] PRIMARY KEY CLUSTERED 
(
	[FormulaTableYearId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column1]  DEFAULT ((0)) FOR [Column1]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column2]  DEFAULT ((0)) FOR [Column2]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column3]  DEFAULT ((0)) FOR [Column3]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column4]  DEFAULT ((0)) FOR [Column4]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column5]  DEFAULT ((0)) FOR [Column5]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column6]  DEFAULT ((0)) FOR [Column6]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column7]  DEFAULT ((0)) FOR [Column7]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column8]  DEFAULT ((0)) FOR [Column8]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column9]  DEFAULT ((0)) FOR [Column9]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_Column10]  DEFAULT ((0)) FOR [Column10]
GO
ALTER TABLE [dbo].[tblPaFormulaTableDetail] ADD  CONSTRAINT [DF_tblPaFormulaTableDetail_GradientYn]  DEFAULT ((1)) FOR [GradientYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaFormulaTableDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaFormulaTableDetail'
GO
