USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransStatus]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[UserId] [dbo].[pUserID] NULL,
	[HostId] [dbo].[pWrkStnID] NULL,
	[Status] [nvarchar](50) NULL,
	[StatusDate] [datetime] NOT NULL,
	[StatusTime] [datetime] NOT NULL,
	[DashboardStatus] [smallint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrTransStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransStatus] ADD  CONSTRAINT [DF_tblSrTransStatus_DashboardStatus]  DEFAULT ((0)) FOR [DashboardStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransStatus'
GO
