USE [005]
GO
/****** Object:  Table [dbo].[tblBmBom]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmBom](
	[BmBomId] [int] NOT NULL,
	[BmItemId] [dbo].[pItemID] NULL,
	[BmLocId] [dbo].[pLocID] NULL,
	[Descr] [nvarchar](35) NULL,
	[LaborCost] [dbo].[pDecimal] NULL,
	[UsrFldTxt1] [nvarchar](12) NULL,
	[UsrFldTxt2] [nvarchar](12) NULL,
	[UsrFldTxt3] [nvarchar](12) NULL,
	[UsrFldTxt4] [nvarchar](12) NULL,
	[UsrFldTxt5] [nvarchar](12) NULL,
	[UsrFldCst1] [nvarchar](12) NULL,
	[UsrFldCst2] [nvarchar](12) NULL,
	[UsrFldCst3] [nvarchar](12) NULL,
	[UsrFldCst4] [nvarchar](12) NULL,
	[UsrFldCst5] [nvarchar](12) NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBmBom] PRIMARY KEY CLUSTERED 
(
	[BmBomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlItemLoc]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [sqlItemLoc] ON [dbo].[tblBmBom]
(
	[BmItemId] ASC,
	[BmLocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmBom] ADD  CONSTRAINT [DF_tblBmBom_LaborCost]  DEFAULT ((0)) FOR [LaborCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmBom'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmBom'
GO
