USE [005]
GO
/****** Object:  Table [dbo].[tblSmShipResponse]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmShipResponse](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SourceID] [nvarchar](255) NOT NULL,
	[TrackingNumber] [nvarchar](255) NULL,
	[TotalCharges] [nvarchar](50) NULL,
	[ActualWeight] [nvarchar](50) NULL,
	[VoidIndicator] [nvarchar](255) NULL,
	[EntryDate] [datetime] NOT NULL,
	[ShipDate] [datetime] NOT NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ShipZip] [nvarchar](10) NULL,
	[Status] [tinyint] NOT NULL,
	[NumberOfPackage] [int] NULL,
	[ShipmentID] [nvarchar](255) NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmShipResponse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmShipResponse] ADD  CONSTRAINT [DF_tblSmShipResponse_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblSmShipResponse] ADD  CONSTRAINT [DF_tblSmShipResponse_ShipDate]  DEFAULT (getdate()) FOR [ShipDate]
GO
ALTER TABLE [dbo].[tblSmShipResponse] ADD  CONSTRAINT [DF_tblSmShipResponse_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmShipResponse'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmShipResponse'
GO
