USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckWithhold]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckWithhold](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CheckId] [int] NOT NULL,
	[TaxAuthorityId] [int] NOT NULL,
	[TaxAuthorityDtlId] [int] NOT NULL,
	[WithholdingCode] [dbo].[pCode] NULL,
	[Description] [nvarchar](30) NULL,
	[WithholdingPayments] [dbo].[pDecimal] NOT NULL,
	[WithholdingEarnings] [dbo].[pDecimal] NOT NULL,
	[GrossEarnings] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckWithhold] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPaCheckWithhold_CheckId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckWithhold_CheckId] ON [dbo].[tblPaCheckWithhold]
(
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckWithhold] ADD  CONSTRAINT [DF_tblPaCheckWithhold_WithholdingPayments]  DEFAULT ((0)) FOR [WithholdingPayments]
GO
ALTER TABLE [dbo].[tblPaCheckWithhold] ADD  CONSTRAINT [DF_tblPaCheckWithhold_WithholdingEarnings]  DEFAULT ((0)) FOR [WithholdingEarnings]
GO
ALTER TABLE [dbo].[tblPaCheckWithhold] ADD  CONSTRAINT [DF_tblPaCheckWithhold_GrossEarnings]  DEFAULT ((0)) FOR [GrossEarnings]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckWithhold'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckWithhold'
GO
