USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndOverrideFactors]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndOverrideFactors](
	[IndId] [dbo].[pEmpID] NOT NULL,
	[WithholdId] [bigint] NOT NULL,
	[Code] [dbo].[pCode] NOT NULL,
	[EmployerPaid] [bit] NOT NULL,
	[OverrideFactor1] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor2] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor3] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor4] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor5] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor6] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor7] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor8] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor9] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor10] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor11] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor12] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor13] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor14] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor15] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor16] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor17] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor18] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor19] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor20] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndOverrideFactors] PRIMARY KEY CLUSTERED 
(
	[IndId] ASC,
	[WithholdId] ASC,
	[Code] ASC,
	[EmployerPaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor1]  DEFAULT ((0)) FOR [OverrideFactor1]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor2]  DEFAULT ((0)) FOR [OverrideFactor2]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor3]  DEFAULT ((0)) FOR [OverrideFactor3]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor4]  DEFAULT ((0)) FOR [OverrideFactor4]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor5]  DEFAULT ((0)) FOR [OverrideFactor5]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor6]  DEFAULT ((0)) FOR [OverrideFactor6]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor7]  DEFAULT ((0)) FOR [OverrideFactor7]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor8]  DEFAULT ((0)) FOR [OverrideFactor8]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor9]  DEFAULT ((0)) FOR [OverrideFactor9]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor10]  DEFAULT ((0)) FOR [OverrideFactor10]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor11]  DEFAULT ((0)) FOR [OverrideFactor11]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor12]  DEFAULT ((0)) FOR [OverrideFactor12]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor13]  DEFAULT ((0)) FOR [OverrideFactor13]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor14]  DEFAULT ((0)) FOR [OverrideFactor14]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor15]  DEFAULT ((0)) FOR [OverrideFactor15]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor16]  DEFAULT ((0)) FOR [OverrideFactor16]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor17]  DEFAULT ((0)) FOR [OverrideFactor17]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor18]  DEFAULT ((0)) FOR [OverrideFactor18]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor19]  DEFAULT ((0)) FOR [OverrideFactor19]
GO
ALTER TABLE [dbo].[tblHrIndOverrideFactors] ADD  CONSTRAINT [DF_tblHrIndOverrideFactors_OverrideFactor20]  DEFAULT ((0)) FOR [OverrideFactor20]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndOverrideFactors'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndOverrideFactors'
GO
