USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxGroupDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxGroupDetail](
	[LevelNo] [tinyint] NOT NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[Tax1] [bit] NULL,
	[Tax2] [bit] NULL,
	[Tax3] [bit] NULL,
	[Tax4] [bit] NULL,
	[Tax5] [bit] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmTaxGroupDetail] PRIMARY KEY CLUSTERED 
(
	[LevelNo] ASC,
	[TaxGrpID] ASC,
	[TaxLocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_LevelNo]  DEFAULT ((0)) FOR [LevelNo]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_Tax1]  DEFAULT ((0)) FOR [Tax1]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_Tax2]  DEFAULT ((0)) FOR [Tax2]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_Tax3]  DEFAULT ((0)) FOR [Tax3]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_Tax4]  DEFAULT ((0)) FOR [Tax4]
GO
ALTER TABLE [dbo].[tblSmTaxGroupDetail] ADD  CONSTRAINT [DF_tblSmTaxGroupDetail_Tax5]  DEFAULT ((0)) FOR [Tax5]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxGroupDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxGroupDetail'
GO
