USE [005]
GO
/****** Object:  Table [dbo].[tblSrInvoiceHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrInvoiceHeader](
	[TransId] [dbo].[pTransID] NOT NULL,
	[OrgTransId] [dbo].[pTransID] NULL,
	[OrgInvcId] [int] NULL,
	[JobId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[VoidYn] [bit] NOT NULL,
	[HoldYn] [bit] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[CustId] [dbo].[pCustID] NULL,
	[CustLevel] [nvarchar](10) NULL,
	[BillToId] [dbo].[pCustID] NULL,
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TaxableYn] [bit] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[OrgInvcNum] [dbo].[pInvoiceNum] NULL,
	[InvcDate] [datetime] NULL,
	[DiscDueDate] [datetime] NULL,
	[NetDueDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[TaxGrpId] [dbo].[pTaxLoc] NOT NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxClassAdj] [tinyint] NULL,
	[TaxSubtotal] [dbo].[pDecimal] NOT NULL,
	[TaxSubtotalFgn] [dbo].[pDecimal] NOT NULL,
	[NonTaxSubtotal] [dbo].[pDecimal] NOT NULL,
	[NonTaxSubtotalFgn] [dbo].[pDecimal] NOT NULL,
	[SalesTax] [dbo].[pDecimal] NOT NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NOT NULL,
	[Freight] [dbo].[pDecimal] NOT NULL,
	[FreightFgn] [dbo].[pDecimal] NOT NULL,
	[Misc] [dbo].[pDecimal] NOT NULL,
	[MiscFgn] [dbo].[pDecimal] NOT NULL,
	[TotCost] [dbo].[pDecimal] NOT NULL,
	[TotCostFgn] [dbo].[pDecimal] NOT NULL,
	[TotPmtAmt] [dbo].[pDecimal] NOT NULL,
	[TotPmtAmtFgn] [dbo].[pDecimal] NOT NULL,
	[DiscAmt] [dbo].[pDecimal] NOT NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NOT NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NOT NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NOT NULL,
	[BillingFormat] [nvarchar](255) NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[PrintDelTktStatus] [tinyint] NULL,
	[PrintInvcStatus] [tinyint] NULL,
	[DeptCode] [dbo].[pDeptID] NOT NULL,
	[InvcFrom] [tinyint] NOT NULL,
	[PrintLaborPrice] [tinyint] NOT NULL,
	[PrintMatlPrice] [tinyint] NOT NULL,
	[PrintOtherPrice] [tinyint] NULL,
	[PrintTextPrice] [tinyint] NULL,
	[PrintSubtotals] [tinyint] NULL,
	[PrintTotals] [tinyint] NULL,
	[NameplateDescr] [nvarchar](40) NULL,
	[JobTypeId] [nvarchar](6) NULL,
	[EnteredBy] [dbo].[pUserID] NULL,
	[Contact] [nvarchar](25) NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [nvarchar](6) NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ShipNum] [nvarchar](18) NULL,
	[ReceiveDate] [datetime] NOT NULL,
	[DetailPrice] [tinyint] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[TaxClassFreight] [tinyint] NOT NULL,
	[TaxClassMisc] [tinyint] NOT NULL,
	[CustPONum] [nvarchar](25) NULL,
	[POReleaseNum] [nvarchar](25) NULL,
	[MiscNum] [nvarchar](25) NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[CustDistCode] [dbo].[pDistCode] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrInvoiceHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_HoldYn]  DEFAULT ((0)) FOR [HoldYn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxableYn]  DEFAULT ((0)) FOR [TaxableYn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxSubtotal]  DEFAULT ((0)) FOR [TaxSubtotal]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxSubtotalFgn]  DEFAULT ((0)) FOR [TaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_NonTaxSubtotal]  DEFAULT ((0)) FOR [NonTaxSubtotal]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_NonTaxSubtotalFgn]  DEFAULT ((0)) FOR [NonTaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_MiscFgn]  DEFAULT ((0)) FOR [MiscFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TotCost]  DEFAULT ((0)) FOR [TotCost]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TotCostFgn]  DEFAULT ((0)) FOR [TotCostFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TotPmtAmt]  DEFAULT ((0)) FOR [TotPmtAmt]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TotPmtAmtFgn]  DEFAULT ((0)) FOR [TotPmtAmtFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxAmtAdjFgn]  DEFAULT ((0)) FOR [TaxAmtAdjFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_DetailPrice]  DEFAULT ((0)) FOR [DetailPrice]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblSrInvoiceHeader] ADD  CONSTRAINT [DF_tblSrInvoiceHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInvoiceHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInvoiceHeader'
GO
