USE [005]
GO
/****** Object:  Table [dbo].[tblMpTimeSum]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpTimeSum](
	[TransId] [int] NOT NULL,
	[LeadTime] [int] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[ScheduleId] [nvarchar](10) NULL,
	[OperationId] [nvarchar](10) NULL,
	[OperSupervisor] [nvarchar](20) NULL,
	[WorkCenterId] [nvarchar](10) NULL,
	[LaborSetupTypeId] [nvarchar](10) NULL,
	[LaborTypeId] [nvarchar](10) NULL,
	[LaborSetupEst] [int] NOT NULL,
	[LaborEst] [int] NOT NULL,
	[MachineGroupId] [nvarchar](10) NULL,
	[LaborPctOvhd] [dbo].[pDecimal] NOT NULL,
	[FlatAmtOvhd] [dbo].[pDecimal] NOT NULL,
	[PerPieceOvhd] [dbo].[pDecimal] NOT NULL,
	[MachPctOvhd] [dbo].[pDecimal] NOT NULL,
	[HourlyCostFactorMach] [dbo].[pDecimal] NOT NULL,
	[PerPieceCostLbr] [dbo].[pDecimal] NOT NULL,
	[HourlyRateLbr] [dbo].[pDecimal] NOT NULL,
	[MachineSetupEst] [int] NOT NULL,
	[MachineRunEst] [int] NOT NULL,
	[QtyProducedEst] [dbo].[pDecimal] NOT NULL,
	[QtyScrappedEst] [dbo].[pDecimal] NOT NULL,
	[QueueTimeEst] [int] NOT NULL,
	[WaitTimeEst] [int] NOT NULL,
	[MoveTimeEst] [int] NOT NULL,
	[OverlapYn] [bit] NOT NULL,
	[WorkCenterCostGroupId] [nvarchar](6) NULL,
	[MachineCostGroupId] [nvarchar](6) NULL,
	[LaborCostGroupId] [nvarchar](6) NULL,
	[LaborSetupCostGroupId] [nvarchar](6) NULL,
	[Status] [tinyint] NOT NULL,
	[WSeqNo] [int] NOT NULL,
	[MSeqNo] [int] NOT NULL,
	[LSeqNo] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[HourlyRateLbrSetup] [dbo].[pDecimal] NOT NULL,
	[OperatorCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblMpTimeSum] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_LaborSetupEst]  DEFAULT ((0)) FOR [LaborSetupEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_LaborEst]  DEFAULT ((0)) FOR [LaborEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_LaborPctOvhd]  DEFAULT ((0)) FOR [LaborPctOvhd]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_FlatAmtOvhd]  DEFAULT ((0)) FOR [FlatAmtOvhd]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_PerPieceOvhd]  DEFAULT ((0)) FOR [PerPieceOvhd]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_MachPctOvhd]  DEFAULT ((0)) FOR [MachPctOvhd]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_HourlyCostFactorMach]  DEFAULT ((0)) FOR [HourlyCostFactorMach]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_PerPieceCostLbr]  DEFAULT ((0)) FOR [PerPieceCostLbr]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_HourlyRateLbr]  DEFAULT ((0)) FOR [HourlyRateLbr]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_MachineSetupEst]  DEFAULT ((0)) FOR [MachineSetupEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_MachineRunEst]  DEFAULT ((0)) FOR [MachineRunEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_QtyProducedEst]  DEFAULT ((0)) FOR [QtyProducedEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_QtyScrappedEst]  DEFAULT ((0)) FOR [QtyScrappedEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_QueueTimeEst]  DEFAULT ((0)) FOR [QueueTimeEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_WaitTimeEst]  DEFAULT ((0)) FOR [WaitTimeEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_MoveTimeEst]  DEFAULT ((0)) FOR [MoveTimeEst]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_OverlapYn]  DEFAULT ((0)) FOR [OverlapYn]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_WSeqNo]  DEFAULT ((9999)) FOR [WSeqNo]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_MSeqNo]  DEFAULT ((9999)) FOR [MSeqNo]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_LSeqNo]  DEFAULT ((9999)) FOR [LSeqNo]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_HourlyRateLbrSetup]  DEFAULT ((0)) FOR [HourlyRateLbrSetup]
GO
ALTER TABLE [dbo].[tblMpTimeSum] ADD  CONSTRAINT [DF_tblMpTimeSum_OperatorCount]  DEFAULT ((0)) FOR [OperatorCount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpTimeSum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpTimeSum'
GO
