USE [005]
GO
/****** Object:  Table [dbo].[X_tblMbAssemblyRouting]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_tblMbAssemblyRouting](
	[Header ID] [float] NULL,
	[Routing ID] [float] NULL,
	[AssemblyId] [nvarchar](255) NULL,
	[RtgType] [float] NULL,
	[RoutingStep] [float] NULL,
	[Descr] [nvarchar](255) NULL,
	[SubUnitCost] [float] NULL,
	[OperationId] [nvarchar](255) NULL,
	[LaborTypeId] [nvarchar](255) NULL,
	[SetupLaborTypeId] [nvarchar](255) NULL,
	[MachineGroupId] [nvarchar](255) NULL,
	[OverlapFactor] [float] NULL,
	[OverlapYn] [float] NULL,
	[QueueTime] [float] NULL,
	[QueueTimeIn] [float] NULL,
	[MachSetup] [float] NULL,
	[MachSetUpIn] [float] NULL,
	[LaborSetup] [float] NULL,
	[LaborSetupIn] [float] NULL,
	[MachRunTime] [float] NULL,
	[MachRunTimeIn] [float] NULL,
	[LaborRunTime] [float] NULL,
	[Operator Count] [float] NULL,
	[LaborRunTimeIn] [float] NULL,
	[WaitTime] [float] NULL,
	[WaitTimeIn] [float] NULL,
	[MoveTime] [float] NULL,
	[MoveTimeIn] [float] NULL,
	[OperationType] [float] NULL,
	[MaxQuantity] [float] NULL,
	[YieldPct] [float] NULL
) ON [PRIMARY]
GO
