USE [005]
GO
/****** Object:  Table [dbo].[tblSrInvoiceDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrInvoiceDetail](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[OrgEntryNum] [int] NULL,
	[RelNum] [int] NOT NULL,
	[TotRelNum] [int] NULL,
	[LineSeq] [int] NOT NULL,
	[BillingSource] [tinyint] NOT NULL,
	[LineType] [smallint] NOT NULL,
	[RecType] [smallint] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[LaborCode] [nvarchar](6) NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[RateType] [tinyint] NULL,
	[EarningCode] [dbo].[pCode] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[UnitSell] [dbo].[pUom] NULL,
	[UnitBase] [dbo].[pUom] NULL,
	[QtyShipBase] [dbo].[pDecimal] NOT NULL,
	[QtyShipSell] [dbo].[pDecimal] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCostFgn] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCost] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtCostFgn] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NOT NULL,
	[PriceId] [nvarchar](10) NULL,
	[AcctCode] [dbo].[pGLAcctCode] NULL,
	[GlAcctSales] [dbo].[pGlAcct] NULL,
	[GlAcctCOGS] [dbo].[pGlAcct] NULL,
	[GlAcctBurdenCOGS] [dbo].[pGlAcct] NULL,
	[GlAcctInv] [dbo].[pGlAcct] NULL,
	[GlAcctMatlWIP] [dbo].[pGlAcct] NULL,
	[GlAcctMatlBurden] [dbo].[pGlAcct] NULL,
	[GlAcctMatlBurdenWIP] [dbo].[pGlAcct] NULL,
	[GlAcctPayrollClearingLabor] [dbo].[pGlAcct] NULL,
	[GlAcctLaborWIP] [dbo].[pGlAcct] NULL,
	[GlAcctPayrollClearingLaborBurden] [dbo].[pGlAcct] NULL,
	[GlAcctLaborBurdenWIP] [dbo].[pGlAcct] NULL,
	[HistSeqNum] [int] NULL,
	[LinkedJobId] [dbo].[pTransID] NULL,
	[AddlPOInvCostYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblSrInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_BillingSource]  DEFAULT ((1)) FOR [BillingSource]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_QtyShipBase]  DEFAULT ((0)) FOR [QtyShipBase]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_QtyShipSell]  DEFAULT ((0)) FOR [QtyShipSell]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitCommBasisFgn]  DEFAULT ((0)) FOR [UnitCommBasisFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_BurdenCost]  DEFAULT ((0)) FOR [BurdenCost]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_BurdenCostFgn]  DEFAULT ((0)) FOR [BurdenCostFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_CombinedUnitCost]  DEFAULT ((0)) FOR [CombinedUnitCost]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_CombinedUnitCostFgn]  DEFAULT ((0)) FOR [CombinedUnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_UnitPriceFgn]  DEFAULT ((0)) FOR [UnitPriceFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_ExtPriceFgn]  DEFAULT ((0)) FOR [ExtPriceFgn]
GO
ALTER TABLE [dbo].[tblSrInvoiceDetail] ADD  CONSTRAINT [DF_tblSrInvoiceDetail_AddlPOInvCostYn]  DEFAULT ((0)) FOR [AddlPOInvCostYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInvoiceDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInvoiceDetail'
GO
