USE [005]
GO
/****** Object:  Table [dbo].[tblInMatReqLot]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInMatReqLot](
	[TransId] [int] NOT NULL,
	[LineNum] [smallint] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[QtyOrder] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[QtyBkord] [dbo].[pDecimal] NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[CostUnitFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblInMatReqLot] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[LineNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_QtyOrder]  DEFAULT ((0)) FOR [QtyOrder]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_QtyFilled]  DEFAULT ((0)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_QtyBkord]  DEFAULT ((0)) FOR [QtyBkord]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_CostUnitFgn]  DEFAULT ((0)) FOR [CostUnitFgn]
GO
ALTER TABLE [dbo].[tblInMatReqLot] ADD  CONSTRAINT [DF_tblInMatReqLot_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqLot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqLot'
GO
