USE [005]
GO
/****** Object:  Table [dbo].[tblApTransInvoiceTax]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApTransInvoiceTax](
	[TransId] [dbo].[pTransID] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Level] [tinyint] NOT NULL,
	[ExpAcct] [dbo].[pGlAcct] NOT NULL,
	[TaxAmt] [dbo].[pDecimal] NULL,
	[Refundable] [dbo].[pDecimal] NULL,
	[Taxable] [dbo].[pDecimal] NULL,
	[NonTaxable] [dbo].[pDecimal] NULL,
	[RefundAcct] [dbo].[pGlAcct] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[TaxAmtFgn] [dbo].[pDecimal] NULL,
	[TaxableFgn] [dbo].[pDecimal] NULL,
	[NonTaxableFgn] [dbo].[pDecimal] NULL,
	[RefundableFgn] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
	[LiabilityAccount] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblApTransInvoiceTax] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[TaxLocID] ASC,
	[TaxClass] ASC,
	[ExpAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_Level]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_TaxAmt]  DEFAULT ((0)) FOR [TaxAmt]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_Refundable]  DEFAULT ((0)) FOR [Refundable]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_Taxable]  DEFAULT ((0)) FOR [Taxable]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_NonTaxable]  DEFAULT ((0)) FOR [NonTaxable]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_TaxAmtFgn]  DEFAULT ((0)) FOR [TaxAmtFgn]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_TaxableFgn]  DEFAULT ((0)) FOR [TaxableFgn]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_NonTaxableFgn]  DEFAULT ((0)) FOR [NonTaxableFgn]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_RefundableFgn]  DEFAULT ((0)) FOR [RefundableFgn]
GO
ALTER TABLE [dbo].[tblApTransInvoiceTax] ADD  CONSTRAINT [DF_tblApTransInvoiceTax_TaxGroupType]  DEFAULT ((0)) FOR [TaxGroupType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTransInvoiceTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTransInvoiceTax'
GO
