USE [005]
GO
/****** Object:  Table [dbo].[tblWmMatReqFilled]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmMatReqFilled](
	[TranKey] [int] NOT NULL,
	[LineNum] [int] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostACV] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[GlYear] [smallint] NOT NULL,
	[QtySeqNum] [int] NOT NULL,
	[QtySeqNum_Ext] [int] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[HistSeqNumSer] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblWmMatReqFilled] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmMatReqFilled_TranKeyLineNumSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmMatReqFilled_TranKeyLineNumSeqNum] ON [dbo].[tblWmMatReqFilled]
(
	[TranKey] ASC,
	[LineNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmMatReqFilled] ADD  CONSTRAINT [DF_tblWmMatReqFilled_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblWmMatReqFilled] ADD  CONSTRAINT [DF_tblWmMatReqFilled_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblWmMatReqFilled] ADD  CONSTRAINT [DF_tblWmMatReqFilled_UnitCostACV]  DEFAULT ((0)) FOR [UnitCostACV]
GO
ALTER TABLE [dbo].[tblWmMatReqFilled] ADD  CONSTRAINT [DF_tblWmMatReqFilled_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReqFilled'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReqFilled'
GO
