USE [005]
GO
/****** Object:  Table [dbo].[tblGlAcctDtlBudFrcst]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlAcctDtlBudFrcst](
	[BFAcctDtlRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AcctID] [dbo].[pGlAcct] NOT NULL,
	[BFRef] [int] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[GlYear] [smallint] NOT NULL,
	[Amount] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlAcctDtlBudFrcst] PRIMARY KEY NONCLUSTERED 
(
	[BFAcctDtlRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UI_tblGlAcctDtlBudFrcst_AcctIdBFRefGlPeriodGlYear]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UI_tblGlAcctDtlBudFrcst_AcctIdBFRefGlPeriodGlYear] ON [dbo].[tblGlAcctDtlBudFrcst]
(
	[AcctID] ASC,
	[BFRef] ASC,
	[GlPeriod] ASC,
	[GlYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGlAcctDtlBudFrcst] ADD  CONSTRAINT [DF_tblGlAcctDtlBudFrcst_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctDtlBudFrcst'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctDtlBudFrcst'
GO
