USE [005]
GO
/****** Object:  Table [dbo].[tblSvLaborCode]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvLaborCode](
	[LaborCode] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](35) NULL,
	[AdditionalDescription] [nvarchar](max) NULL,
	[Unit] [nvarchar](5) NULL,
	[BillingRate] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[GLAcctSales] [dbo].[pGlAcct] NOT NULL,
	[GLAcctCost] [dbo].[pGlAcct] NOT NULL,
	[GLAcctPayroll] [dbo].[pGlAcct] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[CalendarColor] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSvLaborCode] PRIMARY KEY CLUSTERED 
(
	[LaborCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvLaborCode] ADD  CONSTRAINT [DF_tblSvLaborCode_BillingRate]  DEFAULT ((0)) FOR [BillingRate]
GO
ALTER TABLE [dbo].[tblSvLaborCode] ADD  CONSTRAINT [DF_tblSvLaborCode_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvLaborCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvLaborCode'
GO
