USE [005]
GO
/****** Object:  Table [dbo].[tblMpGLTrans]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpGLTrans](
	[EntryNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NOT NULL,
	[OrderNo] [dbo].[pTransID] NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[ReqId] [int] NOT NULL,
	[SeqNo] [int] NOT NULL,
	[TransId] [int] NOT NULL,
	[Source] [nvarchar](2) NOT NULL,
	[GLAccountDebit] [dbo].[pGlAcct] NULL,
	[GLAccountCredit] [dbo].[pGlAcct] NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[PostedYN] [bit] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpGLTrans] PRIMARY KEY CLUSTERED 
(
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMpGLTrans_OrderReleaseReqIdSeqNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpGLTrans_OrderReleaseReqIdSeqNo] ON [dbo].[tblMpGLTrans]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC,
	[ReqId] ASC,
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMpGLTrans_TransIdSeqNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpGLTrans_TransIdSeqNo] ON [dbo].[tblMpGLTrans]
(
	[TransId] ASC,
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpGLTrans] ADD  CONSTRAINT [DF_tblMpGLTrans_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblMpGLTrans] ADD  CONSTRAINT [DF_tblMpGLTrans_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblMpGLTrans] ADD  CONSTRAINT [DF_tblMpGLTrans_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblMpGLTrans] ADD  CONSTRAINT [DF_tblMpGLTrans_PostedYN]  DEFAULT ((0)) FOR [PostedYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpGLTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpGLTrans'
GO
