USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartnerShipMethod]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartnerShipMethod](
	[Id] [bigint] NOT NULL,
	[PartnerID] [bigint] NOT NULL,
	[DocId] [bigint] NOT NULL,
	[ShipMethodCodeFrom] [nvarchar](50) NOT NULL,
	[ShipMethodCodeTo] [nvarchar](50) NOT NULL,
	[PartnerShipMethodDescr] [nvarchar](50) NULL,
	[SCAC] [nvarchar](10) NULL,
	[AltShipCode] [nvarchar](50) NULL,
	[MaxWeight] [dbo].[pDecimal] NOT NULL,
	[MaxValue] [dbo].[pDecimal] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPartnerShipMethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPartnerShipMethod_PartnerIDDocIdShipMethodCodeFrom]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPartnerShipMethod_PartnerIDDocIdShipMethodCodeFrom] ON [dbo].[tblEcPartnerShipMethod]
(
	[PartnerID] ASC,
	[DocId] ASC,
	[ShipMethodCodeFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPartnerShipMethod] ADD  CONSTRAINT [DF_tblEcPartnerShipMethod_MaxWeight]  DEFAULT ((0)) FOR [MaxWeight]
GO
ALTER TABLE [dbo].[tblEcPartnerShipMethod] ADD  CONSTRAINT [DF_tblEcPartnerShipMethod_MaxValue]  DEFAULT ((0)) FOR [MaxValue]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerShipMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerShipMethod'
GO
