USE [005]
GO
/****** Object:  Table [dbo].[tblSmPrintDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmPrintDetail](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FormId] [nvarchar](50) NOT NULL,
	[HostId] [dbo].[pWrkStnID] NULL,
	[CopyText] [nvarchar](50) NULL,
	[PrintOrder] [tinyint] NOT NULL,
	[DeviceName] [nvarchar](255) NOT NULL,
	[Disabled] [bit] NOT NULL,
	[ts] [timestamp] NULL,
	[Tray] [nvarchar](255) NULL,
	[CF] [xml] NULL,
	[DeviceHostId] [nvarchar](20) NULL,
	[UserName] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSmPrintDetail] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmPrintDetail] ADD  CONSTRAINT [DF_tblSmPrintDetail_PrintOrder]  DEFAULT ((1)) FOR [PrintOrder]
GO
ALTER TABLE [dbo].[tblSmPrintDetail] ADD  CONSTRAINT [DF_tblSmPrintDetail_DeviceName]  DEFAULT (N'{Default}') FOR [DeviceName]
GO
ALTER TABLE [dbo].[tblSmPrintDetail] ADD  CONSTRAINT [DF_tblSmPrintDetail_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmPrintDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmPrintDetail'
GO
