USE [005]
GO
/****** Object:  Table [dbo].[tblArRecurHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArRecurHeader](
	[RecurId] [nvarchar](8) NOT NULL,
	[RunCode] [nvarchar](6) NOT NULL,
	[RecurType] [tinyint] NOT NULL,
	[StartingDate] [datetime] NULL,
	[EndingDate] [datetime] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[CustId] [dbo].[pCustID] NOT NULL,
	[SoldToId] [dbo].[pCustID] NULL,
	[CustLevel] [nvarchar](10) NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipNum] [nvarchar](30) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[TaxableYN] [bit] NOT NULL,
	[PoDate] [datetime] NULL,
	[CustPoNum] [nvarchar](25) NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[TaxClassFreight] [tinyint] NOT NULL,
	[TaxGrpId] [dbo].[pTaxLoc] NOT NULL,
	[TaxClassMisc] [tinyint] NOT NULL,
	[Freight] [dbo].[pDecimal] NOT NULL,
	[Misc] [dbo].[pDecimal] NOT NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NOT NULL,
	[TaxAdj] [tinyint] NOT NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxClassAdj] [tinyint] NOT NULL,
	[BillType] [tinyint] NOT NULL,
	[BillInterval] [int] NOT NULL,
	[NextBillDate] [datetime] NULL,
	[LastBillDate] [datetime] NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CCNum] [nvarchar](255) NULL,
	[CCHolder] [nvarchar](30) NULL,
	[CCExpire] [datetime] NULL,
	[CCAuth] [nvarchar](255) NULL,
	[BankName] [nvarchar](30) NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[BankRoutingCode] [nvarchar](9) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[ExtPmtActivityID] [bigint] NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[FreightTermID] [bigint] NULL,
	[FreightAccountNumber] [nvarchar](255) NULL,
	[DeliverySurcharge] [bit] NOT NULL,
	[ResidentialYN] [bit] NOT NULL,
	[GlobalLocationNumber] [nvarchar](13) NULL,
 CONSTRAINT [PK_tblArRecurHeader] PRIMARY KEY CLUSTERED 
(
	[RecurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_RecurType]  DEFAULT ((0)) FOR [RecurType]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxAdj]  DEFAULT ((1)) FOR [TaxAdj]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_TaxClassAdj]  DEFAULT ((0)) FOR [TaxClassAdj]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_BillType]  DEFAULT ((0)) FOR [BillType]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_BillInterval]  DEFAULT ((0)) FOR [BillInterval]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_DeliverySurcharge]  DEFAULT ((0)) FOR [DeliverySurcharge]
GO
ALTER TABLE [dbo].[tblArRecurHeader] ADD  CONSTRAINT [DF_tblArRecurHeader_ResidentialYN]  DEFAULT ((0)) FOR [ResidentialYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArRecurHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArRecurHeader'
GO
