USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistTax]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistTax](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Level] [tinyint] NULL,
	[TaxAmt] [dbo].[pDecimal] NULL,
	[TaxAmtFgn] [dbo].[pDecimal] NULL,
	[Taxable] [dbo].[pDecimal] NULL,
	[TaxableFgn] [dbo].[pDecimal] NULL,
	[NonTaxable] [dbo].[pDecimal] NULL,
	[NonTaxableFgn] [dbo].[pDecimal] NULL,
	[LiabilityAcct] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistTax] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[TaxLocID] ASC,
	[TaxClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_Level]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_TaxAmt]  DEFAULT ((0)) FOR [TaxAmt]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_TaxAmtFgn]  DEFAULT ((0)) FOR [TaxAmtFgn]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_Taxable]  DEFAULT ((0)) FOR [Taxable]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_TaxableFgn]  DEFAULT ((0)) FOR [TaxableFgn]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_NonTaxable]  DEFAULT ((0)) FOR [NonTaxable]
GO
ALTER TABLE [dbo].[tblSrHistTax] ADD  CONSTRAINT [DF_tblSrHistTax_NonTaxableFgn]  DEFAULT ((0)) FOR [NonTaxableFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistTax'
GO
