USE [005]
GO
/****** Object:  Table [dbo].[tblSvInvoiceHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvInvoiceHeader](
	[TransID] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[VoidYN] [bit] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[CustID] [dbo].[pCustID] NOT NULL,
	[BillToID] [dbo].[pCustID] NOT NULL,
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[TaxableYN] [bit] NOT NULL,
	[InvoiceNumber] [dbo].[pInvoiceNum] NULL,
	[InvoiceDate] [datetime] NULL,
	[CustomerPoNumber] [nvarchar](25) NULL,
	[PODate] [datetime] NULL,
	[WorkOrderNo] [dbo].[pTransID] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[DiscDueDate] [datetime] NULL,
	[NetDueDate] [datetime] NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NOT NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxClassAdj] [tinyint] NULL,
	[TaxSubtotalFgn] [dbo].[pDecimal] NOT NULL,
	[NonTaxSubtotalFgn] [dbo].[pDecimal] NOT NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NOT NULL,
	[TotCostFgn] [dbo].[pDecimal] NOT NULL,
	[TotPmtAmtFgn] [dbo].[pDecimal] NOT NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NOT NULL,
	[TaxSubtotal] [dbo].[pDecimal] NOT NULL,
	[NonTaxSubtotal] [dbo].[pDecimal] NOT NULL,
	[SalesTax] [dbo].[pDecimal] NOT NULL,
	[TotCost] [dbo].[pDecimal] NOT NULL,
	[TotPmtAmt] [dbo].[pDecimal] NOT NULL,
	[DiscAmt] [dbo].[pDecimal] NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NOT NULL,
	[BillingFormat] [nvarchar](255) NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[HoldYN] [bit] NOT NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[WorkOrderID] [bigint] NOT NULL,
	[PrintStatus] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[GeneralDelivery] [bit] NOT NULL,
	[Hold] [bit] NOT NULL,
	[ValidAddress] [bit] NOT NULL,
 CONSTRAINT [PK_tblSvInvoiceHeader] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_VoidYN]  DEFAULT ((0)) FOR [VoidYN]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TaxSubtotalFgn]  DEFAULT ((0)) FOR [TaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_NonTaxSubtotalFgn]  DEFAULT ((0)) FOR [NonTaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TotCostFgn]  DEFAULT ((0)) FOR [TotCostFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TotPmtAmtFgn]  DEFAULT ((0)) FOR [TotPmtAmtFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TaxAmtAdjFgn]  DEFAULT ((0)) FOR [TaxAmtAdjFgn]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TaxSubtotal]  DEFAULT ((0)) FOR [TaxSubtotal]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_NonTaxSubtotal]  DEFAULT ((0)) FOR [NonTaxSubtotal]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TotCost]  DEFAULT ((0)) FOR [TotCost]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TotPmtAmt]  DEFAULT ((0)) FOR [TotPmtAmt]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_HoldYN]  DEFAULT ((0)) FOR [HoldYN]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_PrintStatus]  DEFAULT ((0)) FOR [PrintStatus]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_GeneralDelivery]  DEFAULT ((0)) FOR [GeneralDelivery]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_Hold]  DEFAULT ((0)) FOR [Hold]
GO
ALTER TABLE [dbo].[tblSvInvoiceHeader] ADD  CONSTRAINT [DF_tblSvInvoiceHeader_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvInvoiceHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvInvoiceHeader'
GO
