USE [005]
GO
/****** Object:  Table [dbo].[tblCfTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfTransHeader](
	[TransId] [bigint] NOT NULL,
	[CurrentDetailId] [bigint] NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[SourceType] [tinyint] NOT NULL,
	[SourceTransId] [dbo].[pTransID] NOT NULL,
	[SourceEntryNum] [bigint] NOT NULL,
	[ConfigId] [bigint] NOT NULL,
	[ConfigType] [tinyint] NOT NULL,
	[CustId] [dbo].[pCustID] NULL,
	[TransDate] [datetime] NOT NULL,
	[BasePrice] [dbo].[pDecimal] NOT NULL,
	[BasePriceFgn] [dbo].[pDecimal] NOT NULL,
	[OptionsPrice] [dbo].[pDecimal] NOT NULL,
	[OptionsPriceFgn] [dbo].[pDecimal] NOT NULL,
	[Discount] [dbo].[pDecimal] NOT NULL,
	[DiscountFgn] [dbo].[pDecimal] NOT NULL,
	[TotalPrice] [dbo].[pDecimal] NOT NULL,
	[TotalPriceFgn] [dbo].[pDecimal] NOT NULL,
	[TotalCost] [dbo].[pDecimal] NOT NULL,
	[TotalCostFgn] [dbo].[pDecimal] NOT NULL,
	[GrossProfit] [dbo].[pDecimal] NOT NULL,
	[GrossProfitFgn] [dbo].[pDecimal] NOT NULL,
	[DiscountPct] [dbo].[pDecimal] NOT NULL,
	[NewItemId] [dbo].[pItemID] NULL,
	[NewBomId] [dbo].[pItemID] NULL,
	[NewEntryNum] [int] NULL,
	[NewProdOrder] [dbo].[pTransID] NULL,
	[PrintPOYN] [bit] NOT NULL,
	[AllowConstraint] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCfTransHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblCfTransHeader_SourceTypeSourceTransIdSourceEntryNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCfTransHeader_SourceTypeSourceTransIdSourceEntryNum] ON [dbo].[tblCfTransHeader]
(
	[SourceType] ASC,
	[SourceTransId] ASC,
	[SourceEntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_BasePrice]  DEFAULT ((0)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_BasePriceFgn]  DEFAULT ((0)) FOR [BasePriceFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_OptionsPrice]  DEFAULT ((0)) FOR [OptionsPrice]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_OptionsPriceFgn]  DEFAULT ((0)) FOR [OptionsPriceFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_DiscountFgn]  DEFAULT ((0)) FOR [DiscountFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_TotalPrice]  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_TotalPriceFgn]  DEFAULT ((0)) FOR [TotalPriceFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_TotalCost]  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_TotalCostFgn]  DEFAULT ((0)) FOR [TotalCostFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_GrossProfit]  DEFAULT ((0)) FOR [GrossProfit]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_GrossProfitFgn]  DEFAULT ((0)) FOR [GrossProfitFgn]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_DiscountPct]  DEFAULT ((0)) FOR [DiscountPct]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_PrintPOYN]  DEFAULT ((0)) FOR [PrintPOYN]
GO
ALTER TABLE [dbo].[tblCfTransHeader] ADD  CONSTRAINT [DF_tblCfTransHeader_AllowConstraint]  DEFAULT ((0)) FOR [AllowConstraint]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransHeader'
GO
