USE [005]
GO
/****** Object:  Table [dbo].[tblPoRequestUser]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoRequestUser](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Username] [dbo].[pUserID] NULL,
	[TravUserId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Password] [nvarchar](512) NULL,
	[Email] [nvarchar](256) NULL,
	[Role] [smallint] NULL,
	[RouteId] [nvarchar](10) NULL,
	[AltUserId] [int] NULL,
	[AltStartDate] [datetime] NULL,
	[AltEndDate] [datetime] NULL,
	[RequestAdmin] [bit] NULL,
	[ApproveAdmin] [bit] NULL,
	[EditPendingRequest] [bit] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK__tblPoRequestUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoRequestUser'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoRequestUser'
GO
