USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheck]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheck](
	[Id] [int] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[CheckNumber] [dbo].[pCheckNum] NULL,
	[VoucherNumber] [nvarchar](50) NULL,
	[CheckDate] [datetime] NULL,
	[GrossPay] [dbo].[pDecimal] NOT NULL,
	[NetPay] [dbo].[pDecimal] NOT NULL,
	[WeeksWorked] [dbo].[pDecimal] NOT NULL,
	[TotalHoursWorked] [dbo].[pDecimal] NOT NULL,
	[WeeksUnderLimit] [dbo].[pDecimal] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[FicaTips] [dbo].[pDecimal] NOT NULL,
	[TipsDeemedWages] [dbo].[pDecimal] NOT NULL,
	[UncollectedOasdi] [dbo].[pDecimal] NOT NULL,
	[UncollectedMedicare] [dbo].[pDecimal] NOT NULL,
	[CollOnUncolOasdi] [dbo].[pDecimal] NOT NULL,
	[CollOnUncolMed] [dbo].[pDecimal] NOT NULL,
	[TransSeqNo] [nvarchar](3) NULL,
	[VoidHistCheckId] [int] NULL,
	[PdCode] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheck] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheck_PaYearEmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheck_PaYearEmployeeId] ON [dbo].[tblPaCheck]
(
	[PaYear] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_GrossPay]  DEFAULT ((0)) FOR [GrossPay]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_NetPay]  DEFAULT ((0)) FOR [NetPay]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_WeeksWorked]  DEFAULT ((0)) FOR [WeeksWorked]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_TotalHoursWorked]  DEFAULT ((0)) FOR [TotalHoursWorked]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_WeeksUnderLimit]  DEFAULT ((0)) FOR [WeeksUnderLimit]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_FicaTips]  DEFAULT ((0)) FOR [FicaTips]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_TipsDeemedWages]  DEFAULT ((0)) FOR [TipsDeemedWages]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_UncollectedOasdi]  DEFAULT ((0)) FOR [UncollectedOasdi]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_UncollectedMedicare]  DEFAULT ((0)) FOR [UncollectedMedicare]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_CollOnUncolOasdi]  DEFAULT ((0)) FOR [CollOnUncolOasdi]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_CollOnUncolMed]  DEFAULT ((0)) FOR [CollOnUncolMed]
GO
ALTER TABLE [dbo].[tblPaCheck] ADD  CONSTRAINT [DF_tblPaCheck_PdCode]  DEFAULT ((1)) FOR [PdCode]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheck'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheck'
GO
