USE [005]
GO
/****** Object:  Table [dbo].[tblSysAudit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysAudit](
	[SeqNo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AuditType] [tinyint] NOT NULL,
	[FunctionId] [nvarchar](50) NOT NULL,
	[ObjectId] [nvarchar](255) NOT NULL,
	[KeyValue] [nvarchar](255) NULL,
	[SessionId] [dbo].[pPostRun] NOT NULL,
	[UserId] [dbo].[pUserID] NOT NULL,
	[EventTime] [datetime] NOT NULL,
	[EventData] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSysAudit] PRIMARY KEY CLUSTERED 
(
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysAudit] ADD  CONSTRAINT [DF_tblSysAudit_EventTime]  DEFAULT (getdate()) FOR [EventTime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAudit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAudit'
GO
