USE [005]
GO
/****** Object:  Table [dbo].[tblSmExternalPaymentMethod]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmExternalPaymentMethod](
	[ID] [bigint] NOT NULL,
	[CustomerID] [dbo].[pCustID] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[DefaultYn] [bit] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[CardHolder] [nvarchar](30) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MaskValue] [nvarchar](4) NULL,
	[ExpirationDate] [nvarchar](6) NOT NULL,
	[CardID] [nvarchar](255) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmExternalPaymentMethod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmExternalPaymentMethod_CustomerID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmExternalPaymentMethod_CustomerID] ON [dbo].[tblSmExternalPaymentMethod]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmExternalPaymentMethod] ADD  CONSTRAINT [DF_tblSmExternalPaymentMethod_DefaultYn]  DEFAULT ((0)) FOR [DefaultYn]
GO
ALTER TABLE [dbo].[tblSmExternalPaymentMethod] ADD  CONSTRAINT [DF_tblSmExternalPaymentMethod_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExternalPaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExternalPaymentMethod'
GO
