USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistInvoiceTrans]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistInvoiceTrans](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[JobId] [dbo].[pTransID] NOT NULL,
	[InvcFrom] [tinyint] NULL,
	[PrintLaborPrice] [tinyint] NULL,
	[PrintMatlPrice] [tinyint] NULL,
	[PrintOtherPrice] [tinyint] NULL,
	[PrintTextPrice] [tinyint] NULL,
	[Freight] [dbo].[pDecimal] NOT NULL,
	[FreightFgn] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistInvoiceTrans] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistInvoiceTrans] ADD  CONSTRAINT [DF_tblSrHistInvoiceTrans_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblSrHistInvoiceTrans] ADD  CONSTRAINT [DF_tblSrHistInvoiceTrans_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistInvoiceTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistInvoiceTrans'
GO
