USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryRequirements]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryRequirements](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[ReqId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[IndLevel] [int] NOT NULL,
	[Step] [int] NULL,
	[Description] [dbo].[pDescription] NULL,
	[Type] [tinyint] NOT NULL,
	[BLT] [int] NOT NULL,
	[QTY] [dbo].[pDecimal] NOT NULL,
	[ReqSeq] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[EstProcessTime] [bigint] NOT NULL,
	[EstStartDate] [datetime] NULL,
	[EstCompletionDate] [datetime] NULL,
 CONSTRAINT [PK_tblMpHistoryRequirements] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpHistoryRequirements] ADD  CONSTRAINT [DF_tblMpHistoryRequirements_EstProcessTime]  DEFAULT ((0)) FOR [EstProcessTime]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryRequirements'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryRequirements'
GO
