USE [005]
GO
/****** Object:  Table [dbo].[tblWmTransferRcpt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmTransferRcpt](
	[TranPickKey] [bigint] NOT NULL,
	[TranRcptKey] [bigint] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostACV] [dbo].[pDecimal] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[GlYear] [smallint] NOT NULL,
	[QOHSeqNum] [int] NOT NULL,
	[QOHSeqNumExt] [int] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[HistSeqNumSer] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TranKey] [bigint] NOT NULL,
	[QtyStatus] [smallint] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblWmTransferRcpt] PRIMARY KEY CLUSTERED 
(
	[TranRcptKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmTransferRcpt_PickKeyRcptKey]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmTransferRcpt_PickKeyRcptKey] ON [dbo].[tblWmTransferRcpt]
(
	[TranPickKey] ASC,
	[TranRcptKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblWmTransferRcpt_TranKeyRcptKey]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblWmTransferRcpt_TranKeyRcptKey] ON [dbo].[tblWmTransferRcpt]
(
	[TranKey] ASC,
	[TranRcptKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmTransferRcpt] ADD  CONSTRAINT [DF_tblWmTransferRcpt_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblWmTransferRcpt] ADD  CONSTRAINT [DF_tblWmTransferRcpt_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblWmTransferRcpt] ADD  CONSTRAINT [DF_tblWmTransferRcpt_UnitCostACV]  DEFAULT ((0)) FOR [UnitCostACV]
GO
ALTER TABLE [dbo].[tblWmTransferRcpt] ADD  CONSTRAINT [DF_tblWmTransferRcpt_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmTransferRcpt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmTransferRcpt'
GO
