USE [005]
GO
/****** Object:  Table [dbo].[tblPsHistTax]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsHistTax](
	[ID] [bigint] NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[TaxLevel] [tinyint] NOT NULL,
	[TaxAmt] [dbo].[pDecimal] NOT NULL,
	[Taxable] [dbo].[pDecimal] NOT NULL,
	[NonTaxable] [dbo].[pDecimal] NOT NULL,
	[GLAcctLiability] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
	[ExpenseAccount] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblPsHistTax] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPsHistTax_HeaderIDTaxLocIDTaxClass]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPsHistTax_HeaderIDTaxLocIDTaxClass] ON [dbo].[tblPsHistTax]
(
	[HeaderID] ASC,
	[TaxLocID] ASC,
	[TaxClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPsHistTax] ADD  CONSTRAINT [DF_tblPsHistTax_TaxGroupType]  DEFAULT ((0)) FOR [TaxGroupType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistTax'
GO
