USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckHist]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckHist](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[Id] [int] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[GroupCode] [tinyint] NOT NULL,
	[EmployeeName] [nvarchar](36) NULL,
	[EmployeeType] [tinyint] NOT NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[SocialSecurityNo] [nvarchar](255) NULL,
	[CheckNumber] [dbo].[pCheckNum] NULL,
	[VoucherNumber] [nvarchar](50) NULL,
	[CheckDate] [datetime] NULL,
	[GrossPay] [dbo].[pDecimal] NOT NULL,
	[NetPay] [dbo].[pDecimal] NOT NULL,
	[WeeksWorked] [dbo].[pDecimal] NOT NULL,
	[HoursWorked] [dbo].[pDecimal] NOT NULL,
	[WeeksUnderLimit] [dbo].[pDecimal] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[FicaTips] [dbo].[pDecimal] NOT NULL,
	[TipsDeemedWages] [dbo].[pDecimal] NOT NULL,
	[UncollectedOasdi] [dbo].[pDecimal] NOT NULL,
	[UncollectedMedicare] [dbo].[pDecimal] NOT NULL,
	[CollOnUncollOasdi] [dbo].[pDecimal] NOT NULL,
	[CollOnUncollMed] [dbo].[pDecimal] NOT NULL,
	[Voided] [bit] NOT NULL,
	[VoidDate] [datetime] NULL,
	[VoidBankId] [dbo].[pBankID] NULL,
	[CheckRun] [datetime] NULL,
	[SelectedYn] [bit] NOT NULL,
	[TipsReported] [dbo].[pDecimal] NOT NULL,
	[PeriodRunCode] [tinyint] NOT NULL,
	[BankId] [dbo].[pBankID] NULL,
	[PaYear] [smallint] NOT NULL,
	[PaMonth] [tinyint] NOT NULL,
	[GlYear] [smallint] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[GLAcctCash] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[PeriodBeginDate] [datetime] NULL,
	[PeriodEndDate] [datetime] NULL,
 CONSTRAINT [PK_tblPaCheckHist] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheckHist_PaYearDepartmentId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckHist_PaYearDepartmentId] ON [dbo].[tblPaCheckHist]
(
	[PaYear] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaCheckHist_PaYearEmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckHist_PaYearEmployeeId] ON [dbo].[tblPaCheckHist]
(
	[PaYear] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckHist'
GO
