USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartnerDoc]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartnerDoc](
	[Id] [bigint] NOT NULL,
	[PartnerID] [bigint] NOT NULL,
	[DocID] [bigint] NOT NULL,
	[MailQual] [nvarchar](2) NULL,
	[MailID] [nvarchar](20) NOT NULL,
	[MailIDKeyType] [smallint] NULL,
	[DocVersion] [nvarchar](10) NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactPhone] [nvarchar](15) NULL,
	[TestDate] [datetime] NULL,
	[ProductionDate] [datetime] NULL,
	[ActiveYN] [bit] NOT NULL,
	[ProductionYN] [bit] NOT NULL,
	[FileNameOverride] [nvarchar](500) NULL,
	[FileNameOverride1] [nvarchar](500) NULL,
	[IsVendor] [bit] NULL,
	[MailIdGS] [nvarchar](15) NULL,
	[CmdCode] [nvarchar](20) NULL,
	[MapCode] [nvarchar](20) NULL,
	[DocFilePath] [nvarchar](500) NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[SentMode] [tinyint] NULL,
	[ProcessLeadTime] [dbo].[pDecimal] NULL,
	[LabelStyle] [nvarchar](255) NULL,
	[ConsolidatedASNYN] [bit] NULL,
 CONSTRAINT [PK_tblEcPartnerDoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEcPartnerDoc_PartnerIDDocId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPartnerDoc_PartnerIDDocId] ON [dbo].[tblEcPartnerDoc]
(
	[PartnerID] ASC,
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPartnerDoc] ADD  CONSTRAINT [DF_tblEcPartnerDoc_MailIDKeyType]  DEFAULT ((0)) FOR [MailIDKeyType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerDoc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerDoc'
GO
