USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryTimeSum]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryTimeSum](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[LeadTime] [int] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[ScheduleId] [nvarchar](10) NULL,
	[OperationId] [nvarchar](10) NULL,
	[OperSupervisor] [nvarchar](20) NULL,
	[WorkCenterId] [nvarchar](10) NULL,
	[LaborSetupTypeId] [nvarchar](10) NULL,
	[LaborTypeId] [nvarchar](10) NULL,
	[LaborSetupEst] [int] NOT NULL,
	[LaborEst] [int] NOT NULL,
	[MachineGroupId] [nvarchar](10) NULL,
	[LaborPctOvhd] [dbo].[pDecimal] NOT NULL,
	[FlatAmtOvhd] [dbo].[pDecimal] NOT NULL,
	[PerPieceOvhd] [dbo].[pDecimal] NOT NULL,
	[MachPctOvhd] [dbo].[pDecimal] NOT NULL,
	[HourlyCostFactorMach] [dbo].[pDecimal] NOT NULL,
	[PerPieceCostLbr] [dbo].[pDecimal] NOT NULL,
	[HourlyRateLbr] [dbo].[pDecimal] NOT NULL,
	[MachineSetupEst] [int] NOT NULL,
	[MachineRunEst] [int] NOT NULL,
	[QtyProducedEst] [dbo].[pDecimal] NOT NULL,
	[QtyScrappedEst] [dbo].[pDecimal] NOT NULL,
	[QueueTimeEst] [int] NOT NULL,
	[WaitTimeEst] [int] NOT NULL,
	[MoveTimeEst] [int] NOT NULL,
	[OverlapYn] [bit] NOT NULL,
	[WorkCenterCostGroupId] [nvarchar](6) NULL,
	[MachineCostGroupId] [nvarchar](6) NULL,
	[LaborCostGroupId] [nvarchar](6) NULL,
	[LaborSetupCostGroupId] [nvarchar](6) NULL,
	[Status] [tinyint] NOT NULL,
	[WSeqNo] [int] NOT NULL,
	[MSeqNo] [int] NOT NULL,
	[LSeqNo] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[HourlyRateLbrSetup] [dbo].[pDecimal] NOT NULL,
	[OperatorCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblMpHistoryTimeSum] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpHistoryTimeSum] ADD  CONSTRAINT [DF_tblMpHistoryTimeSum_OperatorCount]  DEFAULT ((0)) FOR [OperatorCount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryTimeSum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryTimeSum'
GO
