USE [005]
GO
/****** Object:  Table [dbo].[tblEcPoHistSAC]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPoHistSAC](
	[Id] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[POHeaderID] [bigint] NOT NULL,
	[PODetailID] [bigint] NULL,
	[SACCode] [nvarchar](10) NULL,
	[SACDescr] [nvarchar](80) NULL,
	[SACSeq] [int] NULL,
	[ImpliedYN] [bit] NULL,
	[SACIndicator] [smallint] NULL,
	[SACCalcOn] [tinyint] NULL,
	[SACAmount] [dbo].[pDecimal] NULL,
	[SACPct] [dbo].[pDecimal] NULL,
	[AdjServiceItem] [dbo].[pItemID] NULL,
	[AdjServiceLocId] [dbo].[pLocID] NULL,
	[CF] [xml] NULL,
	[SACAdjType] [smallint] NULL,
 CONSTRAINT [PK_tblEcPoHistSAC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoHistSAC'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoHistSAC'
GO
