USE [005]
GO
/****** Object:  Table [dbo].[tblEcCreditDebitAdjDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcCreditDebitAdjDetail](
	[ID] [bigint] NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[KeyLevelSeq2] [int] NULL,
	[DocKey] [nvarchar](50) NULL,
	[SenderID] [nvarchar](50) NULL,
	[ReceiverID] [nvarchar](50) NULL,
	[ISAControlNum] [nvarchar](50) NULL,
	[GSControlNum] [nvarchar](50) NULL,
	[STControlNum] [nvarchar](50) NULL,
	[DocLine] [nvarchar](50) NULL,
	[AdjReasonCode] [nvarchar](50) NULL,
	[CreditDebitFlag] [nvarchar](50) NULL,
	[AssignedID] [nvarchar](50) NULL,
	[AdjAmount] [decimal](28, 10) NULL,
	[CreditDebitQuantity] [decimal](28, 10) NULL,
	[UnitofMeasure] [nvarchar](50) NULL,
	[UnitCostPrice] [decimal](28, 10) NULL,
	[OriginalPOPrice] [decimal](28, 10) NULL,
	[Description] [nvarchar](200) NULL,
	[CrossRefNum] [nvarchar](50) NULL,
	[SkuNum] [nvarchar](50) NULL,
	[VendorPartNum] [nvarchar](50) NULL,
	[OrgCustPoNum] [nvarchar](50) NULL,
	[ExtPrice] [decimal](28, 10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcCreditDebitAdjDetail_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcCreditDebitAdjDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcCreditDebitAdjDetail'
GO
