USE [005]
GO
/****** Object:  Table [dbo].[_RCG_tblRcInterCompCreatorTransDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_RCG_tblRcInterCompCreatorTransDetail](
	[TransId] [nvarchar](8) NOT NULL,
	[EntryNum] [int] NOT NULL,
	[InterCoCompId] [nvarchar](3) NULL,
	[InterCoGlAcctId] [nvarchar](255) NULL,
	[Qty] [decimal](28, 10) NULL,
	[Units] [nvarchar](5) NULL,
	[UnitCost] [decimal](28, 10) NULL,
	[ExtCost] [decimal](28, 10) NULL,
	[Descr] [nvarchar](255) NULL,
	[BaseCompanyGlAcctId] [nvarchar](255) NULL,
	[InterCompICGlAcctId] [nvarchar](255) NULL,
 CONSTRAINT [PK__RCG_tblRcInterCompCreatorTransDetail] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcInterCompCreatorTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcInterCompCreatorTransDetail'
GO
