USE [005]
GO
/****** Object:  Table [dbo].[tblSysCustomLookup]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysCustomLookup](
	[Id] [nvarchar](30) NOT NULL,
	[ReplaceId] [nvarchar](30) NULL,
	[Description] [nvarchar](100) NULL,
	[DBId] [tinyint] NOT NULL,
	[DataSource] [nvarchar](max) NOT NULL,
	[KeyId] [nvarchar](max) NOT NULL,
	[Defaults] [nvarchar](max) NULL,
	[Enums] [nvarchar](max) NULL,
	[Formats] [nvarchar](max) NULL,
	[Volatile] [bit] NOT NULL,
 CONSTRAINT [PK_tblSysCustomLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSysCustomLookup_ReplaceId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [UX_tblSysCustomLookup_ReplaceId] ON [dbo].[tblSysCustomLookup]
(
	[ReplaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysCustomLookup] ADD  CONSTRAINT [DF_tblSysCustomLookup_DBId]  DEFAULT ((0)) FOR [DBId]
GO
ALTER TABLE [dbo].[tblSysCustomLookup] ADD  CONSTRAINT [DF_tblSysCustomLookup_Volatile]  DEFAULT ((0)) FOR [Volatile]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomLookup'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCustomLookup'
GO
