USE [005]
GO
/****** Object:  Table [dbo].[tblSrJobTypeSchedule]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrJobTypeSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobType] [nvarchar](6) NOT NULL,
	[WorkType] [nvarchar](6) NOT NULL,
	[Priority] [int] NULL,
	[Hours] [dbo].[pDecimal] NOT NULL,
	[SchDuringEstYn] [bit] NOT NULL,
	[UseEstHoursYn] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrJobTypeSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSrJobTypeSchedule_JobTypeWorkType]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblSrJobTypeSchedule_JobTypeWorkType] ON [dbo].[tblSrJobTypeSchedule]
(
	[JobType] ASC,
	[WorkType] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrJobTypeSchedule] ADD  CONSTRAINT [DF_tblSrJobTypeSchedule_Hours]  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[tblSrJobTypeSchedule] ADD  CONSTRAINT [DF_tblSrJobTypeSchedule_SchDuringEstYn]  DEFAULT ((0)) FOR [SchDuringEstYn]
GO
ALTER TABLE [dbo].[tblSrJobTypeSchedule] ADD  CONSTRAINT [DF_tblSrJobTypeSchedule_UseEstHoursYn]  DEFAULT ((0)) FOR [UseEstHoursYn]
GO
ALTER TABLE [dbo].[tblSrJobTypeSchedule] ADD  CONSTRAINT [DF_tblSrJobTypeSchedule_Sequnce]  DEFAULT ((1)) FOR [Sequence]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobTypeSchedule'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobTypeSchedule'
GO
