USE [005]
GO
/****** Object:  Table [dbo].[tblPcWIPControl]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcWIPControl](
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[ConsolidatedBilling] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcWIPControl] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcWIPControl] ADD  CONSTRAINT [DF_tblPcWIPControl_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblPcWIPControl] ADD  CONSTRAINT [DF_tblPcWIPControl_ConsolidatedBilling]  DEFAULT ((0)) FOR [ConsolidatedBilling]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPControl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPControl'
GO
