USE [005]
GO
/****** Object:  Table [dbo].[tblCfTransDetailExt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfTransDetailExt](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DetailId] [bigint] NOT NULL,
	[ValueId] [bigint] NULL,
	[Answer] [nvarchar](50) NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Uom] [dbo].[pUom] NULL,
	[FormulaYn] [bit] NOT NULL,
	[QtyFormula] [nvarchar](300) NULL,
	[Quantity] [dbo].[pDecimal] NULL,
	[UnitPrice] [dbo].[pDecimal] NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NULL,
	[ExtPrice] [dbo].[pDecimal] NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[AdjUnitCost] [dbo].[pDecimal] NOT NULL,
	[AdjUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[SelectedYn] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Value] [nvarchar](50) NULL,
	[PictItem] [varbinary](max) NULL,
 CONSTRAINT [PK_tblCfTransDetailExt] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_FormulaYn]  DEFAULT ((0)) FOR [FormulaYn]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_AdjUnitCost]  DEFAULT ((0)) FOR [AdjUnitCost]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_AdjUnitCostFgn]  DEFAULT ((0)) FOR [AdjUnitCostFgn]
GO
ALTER TABLE [dbo].[tblCfTransDetailExt] ADD  CONSTRAINT [DF_tblCfTransDetailExt_SelectedYn]  DEFAULT ((0)) FOR [SelectedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransDetailExt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfTransDetailExt'
GO
