USE [005]
GO
/****** Object:  Table [dbo].[tblGlGainLoss]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlGainLoss](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[AcctIDOffset] [dbo].[pGlAcct] NOT NULL,
	[AcctIDGainLoss] [dbo].[pGlAcct] NOT NULL,
	[AmountOffset] [dbo].[pCurrDecimal] NULL,
	[AmountGainLoss] [dbo].[pCurrDecimal] NULL,
	[AmountBase] [dbo].[pCurrDecimal] NULL,
	[FiscalPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[FunctionID] [nvarchar](10) NULL,
	[SourceCode] [nvarchar](2) NULL,
	[LinkPostRun] [dbo].[pPostRun] NULL,
	[LinkID] [nvarchar](15) NULL,
	[LinkIDSub] [nvarchar](15) NULL,
	[LinkIDSubLine] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlGainLoss] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblGlGainLoss_AcctIDGainLoss]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblGlGainLoss_AcctIDGainLoss] ON [dbo].[tblGlGainLoss]
(
	[AcctIDGainLoss] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblGlGainLoss_AcctIDOffset]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblGlGainLoss_AcctIDOffset] ON [dbo].[tblGlGainLoss]
(
	[AcctIDOffset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblGlGainLoss_PostRunID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblGlGainLoss_PostRunID] ON [dbo].[tblGlGainLoss]
(
	[PostRun] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_AmountOffset]  DEFAULT ((0)) FOR [AmountOffset]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_AmountGainLoss]  DEFAULT ((0)) FOR [AmountGainLoss]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_AmountBase]  DEFAULT ((0)) FOR [AmountBase]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_FiscalPeriod]  DEFAULT ((0)) FOR [FiscalPeriod]
GO
ALTER TABLE [dbo].[tblGlGainLoss] ADD  CONSTRAINT [DF_tblGlGainLoss_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlGainLoss'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlGainLoss'
GO
