USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistInvoiceTax]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistInvoiceTax](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[ExpAcct] [dbo].[pGlAcct] NOT NULL,
	[CurrTaxAmt] [dbo].[pDecimal] NULL,
	[CurrRefundable] [dbo].[pDecimal] NULL,
	[CurrTaxable] [dbo].[pDecimal] NULL,
	[CurrNonTaxable] [dbo].[pDecimal] NULL,
	[RefundAcct] [dbo].[pGlAcct] NULL,
	[CurrTaxAmtFgn] [dbo].[pDecimal] NULL,
	[CurrRefundableFgn] [dbo].[pDecimal] NULL,
	[CurrTaxableFgn] [dbo].[pDecimal] NULL,
	[CurrNonTaxableFgn] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
	[LiabilityAccount] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblPoHistInvoiceTax] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[InvcNum] ASC,
	[TaxLocID] ASC,
	[TaxClass] ASC,
	[ExpAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistInvoiceTax] ADD  CONSTRAINT [DF_tblPoHistInvoiceTax_TaxGroupType]  DEFAULT ((0)) FOR [TaxGroupType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistInvoiceTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistInvoiceTax'
GO
