USE [005]
GO
/****** Object:  Table [dbo].[tblSrWorkPlanHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrWorkPlanHeader](
	[WorkPlanId] [dbo].[pTransID] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[JobTypeId] [nvarchar](6) NULL,
	[DeptCode] [dbo].[pDeptID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrWorkPlanHeader] PRIMARY KEY CLUSTERED 
(
	[WorkPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkPlanHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkPlanHeader'
GO
