USE [005]
GO
/****** Object:  Table [dbo].[tblSmDocumentDeliverySettings]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmDocumentDeliverySettings](
	[FormID] [nvarchar](10) NOT NULL,
	[SMTPID] [bigint] NULL,
	[Subject] [nvarchar](255) NULL,
	[EmailBody] [nvarchar](max) NULL,
	[EmailAttachment] [varbinary](max) NULL,
	[SendAsHtml] [bit] NOT NULL,
	[FaxCoverPage] [varbinary](max) NULL,
	[AutoSend] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[DocumentName] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSmDocumentDeliverySettings] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmDocumentDeliverySettings] ADD  CONSTRAINT [DF_tblSmDocumentDeliverySettings_SendAsHtml]  DEFAULT ((1)) FOR [SendAsHtml]
GO
ALTER TABLE [dbo].[tblSmDocumentDeliverySettings] ADD  CONSTRAINT [DF_tblSmDocumentDeliverySettings_AutoSend]  DEFAULT ((1)) FOR [AutoSend]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentDeliverySettings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmDocumentDeliverySettings'
GO
