USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransDetail]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransDetail](
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[QtyOrd] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[ItemType] [tinyint] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[UnitsBase] [dbo].[pUom] NULL,
	[Units] [dbo].[pUom] NULL,
	[LineStatus] [tinyint] NULL,
	[GLDesc] [dbo].[pGLDesc] NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[TaxClass] [tinyint] NULL,
	[BinNum] [nvarchar](10) NULL,
	[ConversionFactor] [dbo].[pDecimal] NULL,
	[LottedYN] [bit] NULL,
	[InItemYN] [bit] NULL,
	[ReqShipDate] [datetime] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctWIP] [dbo].[pGlAcct] NULL,
	[TransHistID] [nvarchar](10) NULL,
	[CustID] [dbo].[pCustID] NULL,
	[ProjID] [nvarchar](10) NULL,
	[ProjName] [nvarchar](30) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[PhaseName] [nvarchar](30) NULL,
	[TaskID] [nvarchar](10) NULL,
	[TaskName] [nvarchar](30) NULL,
	[UnitInc] [dbo].[pDecimal] NULL,
	[ExtInc] [dbo].[pDecimal] NULL,
	[ProjItemYn] [bit] NULL,
	[QtySeqNum] [int] NULL,
	[SourceType] [smallint] NULL,
	[LineNum] [int] NULL,
	[LinkTransId] [dbo].[pTransID] NULL,
	[Seq] [int] NULL,
	[ReleaseNum] [nvarchar](3) NULL,
	[ReqId] [nvarchar](4) NULL,
	[LinkSeqNum] [int] NULL,
	[LandedCostID] [nvarchar](10) NULL,
	[LineSeq] [int] NULL,
	[TransHistIDLandedCost] [nvarchar](10) NULL,
	[Type] [tinyint] NULL,
	[ProjectDetailId] [int] NULL,
	[ActivityId] [int] NULL,
	[GLAcctAccrual] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[VendorPartNumber] [dbo].[pDescription] NULL,
	[ExpReceiptDate] [datetime] NULL,
	[ExtLocA] [int] NULL,
	[QuantityID] [bigint] NULL,
 CONSTRAINT [PK_tblPoTransDetail] PRIMARY KEY CLUSTERED 
(
	[TransID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustID] ON [dbo].[tblPoTransDetail]
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlTaskID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTaskID] ON [dbo].[tblPoTransDetail]
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlTransHistID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTransHistID] ON [dbo].[tblPoTransDetail]
(
	[TransHistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_QtyOrd]  DEFAULT ((0)) FOR [QtyOrd]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ItemType]  DEFAULT ((0)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_LineStatus]  DEFAULT ((0)) FOR [LineStatus]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ConversionFactor]  DEFAULT ((1)) FOR [ConversionFactor]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_InItemYN]  DEFAULT ((1)) FOR [InItemYN]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ReqShipDate]  DEFAULT (getdate()) FOR [ReqShipDate]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_UnitInc]  DEFAULT ((0)) FOR [UnitInc]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ExtInc]  DEFAULT ((0)) FOR [ExtInc]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_ProjItemYn]  DEFAULT ((0)) FOR [ProjItemYn]
GO
ALTER TABLE [dbo].[tblPoTransDetail] ADD  CONSTRAINT [DF_tblPoTransDetail_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDetail'
GO
