USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndPayDistribution]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndPayDistribution](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[AccountType] [tinyint] NOT NULL,
	[AccountNumber] [nvarchar](255) NULL,
	[RoutingCode] [nvarchar](50) NULL,
	[AmountPercent] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndPayDistribution] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndPayDistribution_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndPayDistribution_IndId] ON [dbo].[tblHrIndPayDistribution]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndPayDistribution] ADD  CONSTRAINT [DF_tblHrIndPayDistribution_AccountType]  DEFAULT ((0)) FOR [AccountType]
GO
ALTER TABLE [dbo].[tblHrIndPayDistribution] ADD  CONSTRAINT [DF_tblHrIndPayDistribution_AmountPercent]  DEFAULT ((0)) FOR [AmountPercent]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndPayDistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndPayDistribution'
GO
