USE [005]
GO
/****** Object:  Table [dbo].[tblInPriceBreaks]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInPriceBreaks](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BrkId] [nvarchar](10) NULL,
	[BrkQty] [dbo].[pDecimal] NULL,
	[BrkAdj] [dbo].[pDecimal] NULL,
	[BrkAdjType] [tinyint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInPriceBreaks] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInPriceBreaks] ADD  CONSTRAINT [DF_tblInPriceBreaks_BrkQty]  DEFAULT ((0)) FOR [BrkQty]
GO
ALTER TABLE [dbo].[tblInPriceBreaks] ADD  CONSTRAINT [DF_tblInPriceBreaks_BrkAdj]  DEFAULT ((0)) FOR [BrkAdj]
GO
ALTER TABLE [dbo].[tblInPriceBreaks] ADD  CONSTRAINT [DF_tblInPriceBreaks_BrkAdjType]  DEFAULT ((0)) FOR [BrkAdjType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPriceBreaks'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPriceBreaks'
GO
