USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmployee]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmployee](
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[DfltDeptAllocId] [nvarchar](10) NULL,
	[Sex] [nchar](1) NULL,
	[EeoClass] [nvarchar](1) NULL,
	[CorporateOfficer] [bit] NOT NULL,
	[SeasonalEmployee] [bit] NOT NULL,
	[ExemptFromOvertime] [bit] NOT NULL,
	[DefaultEarningCode] [dbo].[pCode] NULL,
	[CheckSort] [nvarchar](10) NULL,
	[EmployeeStatus] [tinyint] NOT NULL,
	[LaborClass] [nvarchar](3) NULL,
	[EmployeeType] [tinyint] NOT NULL,
	[AdjustToMinimum] [bit] NOT NULL,
	[GroupCode] [tinyint] NOT NULL,
	[ParticipatingIn401k] [bit] NOT NULL,
	[EligibleForPension] [bit] NOT NULL,
	[StatutoryEmployee] [bit] NOT NULL,
	[Deceased] [bit] NOT NULL,
	[AdjustedHireDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[TerminationDate] [datetime] NULL,
	[LastReviewDate] [datetime] NULL,
	[NextReviewDate] [datetime] NULL,
	[LastCheckDate] [datetime] NULL,
	[Salary] [dbo].[pDecimal] NOT NULL,
	[HourlyRate] [dbo].[pDecimal] NOT NULL,
	[PayPeriodsPerYear] [smallint] NOT NULL,
	[OverridePay] [dbo].[pDecimal] NOT NULL,
	[PayDistribution] [tinyint] NOT NULL,
	[SupervisorId] [dbo].[pEmpID] NULL,
	[JobTitle] [nvarchar](40) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupId] [bigint] NULL,
 CONSTRAINT [PK_tblPaEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaEmployee_DepartmentId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaEmployee_DepartmentId] ON [dbo].[tblPaEmployee]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPaEmployee_GroupCode]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaEmployee_GroupCode] ON [dbo].[tblPaEmployee]
(
	[GroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_CorporateOfficer]  DEFAULT ((0)) FOR [CorporateOfficer]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_SeasonalEmployee]  DEFAULT ((0)) FOR [SeasonalEmployee]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_ExemptFromOvertime]  DEFAULT ((0)) FOR [ExemptFromOvertime]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_EmployeeStatus]  DEFAULT ((0)) FOR [EmployeeStatus]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_EmployeeType]  DEFAULT ((0)) FOR [EmployeeType]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_AdjustToMinimum]  DEFAULT ((0)) FOR [AdjustToMinimum]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_GroupCode]  DEFAULT ((0)) FOR [GroupCode]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_ParticipatingIn401k]  DEFAULT ((0)) FOR [ParticipatingIn401k]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_EligibleForPension]  DEFAULT ((0)) FOR [EligibleForPension]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_StatutoryEmployee]  DEFAULT ((0)) FOR [StatutoryEmployee]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_Deceased]  DEFAULT ((0)) FOR [Deceased]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_Salary]  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_HourlyRate]  DEFAULT ((0)) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_PayPeriodsPerYear]  DEFAULT ((0)) FOR [PayPeriodsPerYear]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_OverridePay]  DEFAULT ((0)) FOR [OverridePay]
GO
ALTER TABLE [dbo].[tblPaEmployee] ADD  CONSTRAINT [DF_tblPaEmployee_PayDistribution]  DEFAULT ((0)) FOR [PayDistribution]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmployee'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmployee'
GO
