USE [005]
GO
/****** Object:  Table [dbo].[tblSrJobPictureTypes]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrJobPictureTypes](
	[AutoNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[JobType] [nvarchar](10) NULL,
	[CustId] [dbo].[pCustID] NULL,
	[PictureGroup] [nvarchar](10) NOT NULL,
	[Sequence] [int] NOT NULL,
	[Description] [nvarchar](30) NULL,
	[Notes] [text] NULL,
	[PictureId] [nvarchar](25) NOT NULL,
	[SubFolder] [nvarchar](30) NULL,
	[DfltPictureGroup] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrJobPictureTypes] PRIMARY KEY CLUSTERED 
(
	[AutoNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrJobPictureTypes] ADD  CONSTRAINT [DF_tblSrJobPictureTypes_DfltPictureGroup]  DEFAULT ((0)) FOR [DfltPictureGroup]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobPictureTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrJobPictureTypes'
GO
