USE [005]
GO
/****** Object:  Table [dbo].[tblArCashRcptHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArCashRcptHeader](
	[RcptHeaderID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DepositID] [dbo].[pBatchID] NULL,
	[BankID] [dbo].[pBankID] NULL,
	[PmtDate] [datetime] NULL,
	[PmtAmt] [dbo].[pDecimal] NULL,
	[AgingPd] [smallint] NULL,
	[CheckNum] [dbo].[pCheckNum] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CcHolder] [nvarchar](30) NULL,
	[CcNum] [nvarchar](255) NULL,
	[CcExpire] [datetime] NULL,
	[CcAuth] [nvarchar](255) NULL,
	[Note] [nvarchar](25) NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[InvcTransID] [dbo].[pTransID] NULL,
	[InvcAppID] [nvarchar](10) NOT NULL,
	[SumHistPeriod] [smallint] NULL,
	[CcSecCode] [nvarchar](6) NULL,
	[BankName] [nvarchar](30) NULL,
	[BankRoutingCode] [nvarchar](9) NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[OrderState] [tinyint] NOT NULL,
	[ExtPmtActivityID] [bigint] NULL,
 CONSTRAINT [PK_tblArCashRcptHeader] PRIMARY KEY CLUSTERED 
(
	[RcptHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlDepositID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlDepositID] ON [dbo].[tblArCashRcptHeader]
(
	[DepositID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_DepositID]  DEFAULT ('######') FOR [DepositID]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_PmtDate]  DEFAULT (getdate()) FOR [PmtDate]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_AgingPd]  DEFAULT ((0)) FOR [AgingPd]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_GLPeriod]  DEFAULT ((1)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_SumHistPeriod]  DEFAULT ((0)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblArCashRcptHeader] ADD  CONSTRAINT [DF_tblArCashRcptHeader_OrderState]  DEFAULT ((0)) FOR [OrderState]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCashRcptHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCashRcptHeader'
GO
