USE [005]
GO
/****** Object:  Table [dbo].[tblEpHCEmployee]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpHCEmployee](
	[ID] [bigint] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[ElectronicOnly] [bit] NOT NULL,
	[PolicyOrigin] [nvarchar](10) NULL,
	[SelfInsured] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[PlanStartMonth] [tinyint] NULL,
 CONSTRAINT [PK_tblEpHCEmployee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEpHCEmployee_PaYearEmployeeId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEpHCEmployee_PaYearEmployeeId] ON [dbo].[tblEpHCEmployee]
(
	[PaYear] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployee'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployee'
GO
