USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistorySubContractSum]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistorySubContractSum](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[LeadTime] [int] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[OperationId] [nvarchar](10) NULL,
	[EstQtyRequired] [dbo].[pDecimal] NOT NULL,
	[EstPerPieceCost] [dbo].[pDecimal] NOT NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[DefaultVendorId] [dbo].[pVendorID] NULL,
	[Status] [tinyint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpHistorySubContractSum] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistorySubContractSum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistorySubContractSum'
GO
