USE [005]
GO
/****** Object:  Table [dbo].[tblMpSubContractSum]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpSubContractSum](
	[TransId] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[LeadTime] [int] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[OperationId] [nvarchar](10) NULL,
	[EstQtyRequired] [dbo].[pDecimal] NOT NULL,
	[EstPerPieceCost] [dbo].[pDecimal] NOT NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[DefaultVendorId] [dbo].[pVendorID] NULL,
	[Status] [tinyint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[LinkSeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpSubContractSum] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpSubContractSum] ADD  CONSTRAINT [DF_tblMpSubContractSum_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblMpSubContractSum] ADD  CONSTRAINT [DF_tblMpSubContractSum_EstQtyRequired]  DEFAULT ((0)) FOR [EstQtyRequired]
GO
ALTER TABLE [dbo].[tblMpSubContractSum] ADD  CONSTRAINT [DF_tblMpSubContractSum_EstPerPieceCost]  DEFAULT ((0)) FOR [EstPerPieceCost]
GO
ALTER TABLE [dbo].[tblMpSubContractSum] ADD  CONSTRAINT [DF_tblMpSubContractSum_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpSubContractSum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpSubContractSum'
GO
