USE [005]
GO
/****** Object:  Table [dbo].[tblPoItemLocReorder]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoItemLocReorder](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[UomDflt] [dbo].[pUom] NULL,
	[QtyOnHand] [dbo].[pDecimal] NULL,
	[QtyOnOrder] [dbo].[pDecimal] NULL,
	[SafetyStock] [dbo].[pDecimal] NULL,
	[UsageForecast] [dbo].[pDecimal] NULL,
	[UsageAnnual] [dbo].[pDecimal] NULL,
	[OrderPointEoq] [dbo].[pDecimal] NULL,
	[OrderPointFrcst] [dbo].[pDecimal] NULL,
	[OrderPointMinMax] [dbo].[pDecimal] NULL,
	[OrderQtyEoq] [dbo].[pDecimal] NULL,
	[OrderQtyFrcst] [dbo].[pDecimal] NULL,
	[OrderQtyMinMax] [dbo].[pDecimal] NULL,
	[NotesEoq] [nvarchar](2) NULL,
	[NotesFrcst] [nvarchar](2) NULL,
	[NotesMinMax] [nvarchar](2) NULL,
	[FrozenEoq] [bit] NULL,
	[FrozenFrcst] [bit] NULL,
	[FrozenQtyYN] [bit] NULL,
	[AutoReorderYN] [bit] NULL,
	[GlInvAcct] [dbo].[pGlAcct] NULL,
	[AboveEoqOrdPt] [bit] NULL,
	[AboveFrcstOrdPt] [bit] NULL,
	[AboveMinMaxOrdPt] [bit] NULL,
	[AboveAllOrdPt] [bit] NULL,
	[MinOrderQty] [dbo].[pDecimal] NULL,
	[MaxOrderQty] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoItemLocReorder] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_QtyOnHand]  DEFAULT ((0)) FOR [QtyOnHand]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_QtyOnOrder]  DEFAULT ((0)) FOR [QtyOnOrder]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_SafetyStock]  DEFAULT ((0)) FOR [SafetyStock]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_UsageForecast]  DEFAULT ((0)) FOR [UsageForecast]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_UsageAnnual]  DEFAULT ((0)) FOR [UsageAnnual]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderPointEoq]  DEFAULT ((0)) FOR [OrderPointEoq]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderPointFrcst]  DEFAULT ((0)) FOR [OrderPointFrcst]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderPointMinMax]  DEFAULT ((0)) FOR [OrderPointMinMax]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderQtyEoq]  DEFAULT ((0)) FOR [OrderQtyEoq]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderQtyFrcst]  DEFAULT ((0)) FOR [OrderQtyFrcst]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_OrderQtyMinMax]  DEFAULT ((0)) FOR [OrderQtyMinMax]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_FrozenEoq]  DEFAULT ((0)) FOR [FrozenEoq]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_FrozenFrcst]  DEFAULT ((0)) FOR [FrozenFrcst]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_FrozenQtyYN]  DEFAULT ((0)) FOR [FrozenQtyYN]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_AutoReorderYN]  DEFAULT ((0)) FOR [AutoReorderYN]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_AboveEoqOrdPt]  DEFAULT ((0)) FOR [AboveEoqOrdPt]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_AboveFrcstOrdPt]  DEFAULT ((0)) FOR [AboveFrcstOrdPt]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_AboveMinMaxOrdPt]  DEFAULT ((0)) FOR [AboveMinMaxOrdPt]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_AboveAllOrdPt]  DEFAULT ((0)) FOR [AboveAllOrdPt]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_MinOrderQty]  DEFAULT ((0)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[tblPoItemLocReorder] ADD  CONSTRAINT [DF_tblPoItemLocReorder_MaxOrderQty]  DEFAULT ((0)) FOR [MaxOrderQty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoItemLocReorder'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoItemLocReorder'
GO
