USE [005]
GO
/****** Object:  Table [dbo].[tblWmMatReq]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmMatReq](
	[TranKey] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReqType] [smallint] NOT NULL,
	[ReqNum] [nvarchar](10) NULL,
	[DatePlaced] [datetime] NULL,
	[DateNeeded] [datetime] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ReqstdBy] [nvarchar](25) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblWmMatReq] PRIMARY KEY CLUSTERED 
(
	[TranKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmMatReq] ADD  CONSTRAINT [DF_tblWmMatReq_ReqType]  DEFAULT ((1)) FOR [ReqType]
GO
ALTER TABLE [dbo].[tblWmMatReq] ADD  CONSTRAINT [DF_tblWmMatReq_DatePlaced]  DEFAULT (getdate()) FOR [DatePlaced]
GO
ALTER TABLE [dbo].[tblWmMatReq] ADD  CONSTRAINT [DF_tblWmMatReq_DateNeeded]  DEFAULT (getdate()) FOR [DateNeeded]
GO
ALTER TABLE [dbo].[tblWmMatReq] ADD  CONSTRAINT [DF_tblWmMatReq_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReq'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmMatReq'
GO
