USE [005]
GO
/****** Object:  Table [dbo].[tblCmContact]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmContact](
	[ID] [bigint] NOT NULL,
	[Type] [smallint] NOT NULL,
	[LinkID] [nvarchar](255) NULL,
	[LinkType] [smallint] NOT NULL,
	[StatusID] [bigint] NULL,
	[ReportToID] [bigint] NULL,
	[ContactName] [nvarchar](30) NULL,
	[Title] [nvarchar](30) NULL,
	[FName] [nvarchar](30) NULL,
	[MName] [nvarchar](30) NULL,
	[LName] [nvarchar](30) NULL,
	[Status] [tinyint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[LastUpdatedBy] [dbo].[pUserID] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCmContact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContactName]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContactName] ON [dbo].[tblCmContact]
(
	[ContactName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCmContact_IDStatus]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblCmContact_IDStatus] ON [dbo].[tblCmContact]
(
	[ID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmContact] ADD  CONSTRAINT [DF_tblCmContact_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[tblCmContact] ADD  CONSTRAINT [DF_tblCmContact_LinkType]  DEFAULT ((0)) FOR [LinkType]
GO
ALTER TABLE [dbo].[tblCmContact] ADD  CONSTRAINT [DF_tblCmContact_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmContact'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmContact'
GO
