USE [005]
GO
/****** Object:  Table [dbo].[tblBmWorkOrderDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmWorkOrderDetail](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[ItemType] [tinyint] NULL,
	[OriCompQty] [dbo].[pDecimal] NULL,
	[EstQty] [dbo].[pDecimal] NULL,
	[ActQty] [dbo].[pDecimal] NULL,
	[Uom] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[QtySeqNum] [int] NULL,
	[HistSeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblBmWorkOrderDetail] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_OriCompQty]  DEFAULT ((0)) FOR [OriCompQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_EstQty]  DEFAULT ((0)) FOR [EstQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_ActQty]  DEFAULT ((0)) FOR [ActQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderDetail] ADD  CONSTRAINT [DF_tblBmWorkOrderDetail_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderDetail'
GO
