USE [005]
GO
/****** Object:  Table [dbo].[tblSvWorkToDo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvWorkToDo](
	[WorkToDoID] [nvarchar](10) NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[LaborCode] [nvarchar](10) NULL,
	[EstimatedTime] [bigint] NOT NULL,
	[RequiredSkillLevel] [tinyint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BomId] [dbo].[pItemID] NULL,
 CONSTRAINT [PK_tblSvWorkToDo] PRIMARY KEY CLUSTERED 
(
	[WorkToDoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkToDo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkToDo'
GO
