USE [005]
GO
/****** Object:  Table [dbo].[tblApPaymentHistDetailTax]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApPaymentHistDetailTax](
	[ID] [bigint] NOT NULL,
	[HeaderID] [int] NOT NULL,
	[DetailID] [int] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Level] [tinyint] NOT NULL,
	[TaxAmt] [dbo].[pDecimal] NOT NULL,
	[TaxAmtFgn] [dbo].[pDecimal] NOT NULL,
	[Taxable] [dbo].[pDecimal] NOT NULL,
	[TaxableFgn] [dbo].[pDecimal] NOT NULL,
	[NonTaxable] [dbo].[pDecimal] NOT NULL,
	[NonTaxableFgn] [dbo].[pDecimal] NOT NULL,
	[Refundable] [dbo].[pDecimal] NOT NULL,
	[RefundableFgn] [dbo].[pDecimal] NOT NULL,
	[LiabilityAcct] [dbo].[pGlAcct] NULL,
	[ExpenseAcct] [dbo].[pGlAcct] NULL,
	[RefundAcct] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblApPaymentHistDetailTax] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentHistDetailTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentHistDetailTax'
GO
