USE [005]
GO
/****** Object:  Table [dbo].[tblInLoc]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInLoc](
	[LocId] [dbo].[pLocID] NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NOT NULL,
	[Contact] [nvarchar](25) NULL,
	[zzIntlPreFix] [nvarchar](6) NULL,
	[Phone] [nvarchar](15) NULL,
	[Fax] [nvarchar](15) NULL,
	[CarrCostPct] [dbo].[pDecimal] NULL,
	[OrderCostAmt] [dbo].[pDecimal] NULL,
	[Email] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ValidAddress] [bit] NOT NULL,
 CONSTRAINT [PK_tblInLoc] PRIMARY KEY CLUSTERED 
(
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInLoc] ADD  CONSTRAINT [DF_tblInLoc_CarrCostPct]  DEFAULT ((0)) FOR [CarrCostPct]
GO
ALTER TABLE [dbo].[tblInLoc] ADD  CONSTRAINT [DF_tblInLoc_OrderCostAmt]  DEFAULT ((0)) FOR [OrderCostAmt]
GO
ALTER TABLE [dbo].[tblInLoc] ADD  CONSTRAINT [DF_tblInLoc_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInLoc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInLoc'
GO
