USE [005]
GO
/****** Object:  Table [dbo].[tblArHistDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistDetail](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[ItemJob] [tinyint] NULL,
	[WhseId] [dbo].[pLocID] NULL,
	[PartId] [dbo].[pItemID] NULL,
	[JobId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[JobCompleteYN] [bit] NULL,
	[PartType] [tinyint] NULL,
	[Desc] [dbo].[pDescription] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[CatId] [nvarchar](2) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[AcctCode] [nvarchar](6) NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[QtyOrdSell] [dbo].[pDecimal] NULL,
	[UnitsSell] [dbo].[pUom] NULL,
	[UnitsBase] [dbo].[pUom] NULL,
	[QtyShipSell] [dbo].[pDecimal] NULL,
	[QtyShipBase] [dbo].[pDecimal] NULL,
	[QtyBackordSell] [dbo].[pDecimal] NULL,
	[PriceID] [nvarchar](10) NULL,
	[UnitPriceSell] [dbo].[pDecimal] NULL,
	[UnitPriceSellFgn] [dbo].[pDecimal] NULL,
	[UnitCostSell] [dbo].[pDecimal] NULL,
	[UnitCostSellFgn] [dbo].[pDecimal] NULL,
	[PriceExt] [dbo].[pDecimal] NULL,
	[PriceExtFgn] [dbo].[pDecimal] NULL,
	[CostExtFgn] [dbo].[pDecimal] NULL,
	[CostExt] [dbo].[pDecimal] NULL,
	[PromoID] [nvarchar](10) NULL,
	[ActShipDate] [datetime] NULL,
	[EffectiveRate] [dbo].[pDecimal] NULL,
	[OrigOrderQty] [dbo].[pDecimal] NULL,
	[BinNum] [nvarchar](10) NULL,
	[ConversionFactor] [dbo].[pDecimal] NULL,
	[LottedYN] [bit] NULL,
	[InItemYN] [bit] NULL,
	[HistSeqNum] [int] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtFinalInc] [dbo].[pDecimal] NULL,
	[ExtOrigInc] [dbo].[pDecimal] NULL,
	[TransHistId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[PhaseName] [nvarchar](30) NULL,
	[ProjName] [nvarchar](30) NULL,
	[ExtFinalIncFgn] [dbo].[pDecimal] NULL,
	[TaskName] [nvarchar](30) NULL,
	[Kit] [bit] NULL,
	[ReqShipDate] [datetime] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[PriceAdjType] [tinyint] NULL,
	[PriceAdjPct] [dbo].[pDecimal] NULL,
	[PriceAdjAmt] [dbo].[pDecimal] NULL,
	[PriceAdjAmtFgn] [dbo].[pDecimal] NULL,
	[UnitPriceSellBasis] [dbo].[pDecimal] NULL,
	[UnitPriceSellBasisFgn] [dbo].[pDecimal] NULL,
	[BlanketDtlRef] [int] NULL,
	[ZeroPrint] [bit] NULL,
	[LineSeq] [int] NULL,
	[BOLNum] [nvarchar](17) NULL,
	[GrpId] [int] NULL,
	[KitQty] [dbo].[pDecimal] NULL,
	[OriCompQty] [dbo].[pDecimal] NULL,
	[TotQtyOrdSell] [dbo].[pDecimal] NULL,
	[TotQtyShipSell] [dbo].[pDecimal] NULL,
	[Status] [tinyint] NULL,
	[ResCode] [nvarchar](10) NULL,
	[DropShipYn] [bit] NOT NULL,
	[ActivityType] [tinyint] NULL,
	[CF] [xml] NULL,
	[CustomerPartNumber] [dbo].[pDescription] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblArHistDetail] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ItemJob]  DEFAULT ((0)) FOR [ItemJob]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_JobCompleteYN]  DEFAULT ((0)) FOR [JobCompleteYN]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PartType]  DEFAULT ((0)) FOR [PartType]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_QtyOrdSell]  DEFAULT ((0)) FOR [QtyOrdSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_QtyShipSell]  DEFAULT ((0)) FOR [QtyShipSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_QtyShipBase]  DEFAULT ((0)) FOR [QtyShipBase]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_QtyBackordSell]  DEFAULT ((0)) FOR [QtyBackordSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitPriceSell]  DEFAULT ((0)) FOR [UnitPriceSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitPriceSellFgn]  DEFAULT ((0)) FOR [UnitPriceSellFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitCostSell]  DEFAULT ((0)) FOR [UnitCostSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitCostSellFgn]  DEFAULT ((0)) FOR [UnitCostSellFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceExtFgn]  DEFAULT ((0)) FOR [PriceExtFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_CostExtFgn]  DEFAULT ((0)) FOR [CostExtFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_EffectiveRate]  DEFAULT ((0)) FOR [EffectiveRate]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_OrigOrderQty]  DEFAULT ((0)) FOR [OrigOrderQty]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ConversionFactor]  DEFAULT ((1)) FOR [ConversionFactor]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_InItemYN]  DEFAULT ((0)) FOR [InItemYN]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ExtFinalInc]  DEFAULT ((0)) FOR [ExtFinalInc]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ExtOrigInc]  DEFAULT ((0)) FOR [ExtOrigInc]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ExtFinalIncFgn]  DEFAULT ((0)) FOR [ExtFinalIncFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Kit]  DEFAULT ((0)) FOR [Kit]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitCommBasisFgn]  DEFAULT ((0)) FOR [UnitCommBasisFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceAdjType]  DEFAULT ((0)) FOR [PriceAdjType]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceAdjPct]  DEFAULT ((0)) FOR [PriceAdjPct]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceAdjAmt]  DEFAULT ((0)) FOR [PriceAdjAmt]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_PriceAdjAmtFgn]  DEFAULT ((0)) FOR [PriceAdjAmtFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitPriceSellBasis]  DEFAULT ((0)) FOR [UnitPriceSellBasis]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_UnitPriceSellBasisFgn]  DEFAULT ((0)) FOR [UnitPriceSellBasisFgn]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_ZeroPrint]  DEFAULT ((0)) FOR [ZeroPrint]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_KitQty]  DEFAULT ((1)) FOR [KitQty]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_OriCompQty]  DEFAULT ((0)) FOR [OriCompQty]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_TotQtyOrdSell]  DEFAULT ((0)) FOR [TotQtyOrdSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_TotQtyShipSell]  DEFAULT ((0)) FOR [TotQtyShipSell]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblArHistDetail] ADD  CONSTRAINT [DF_tblArHistDetail_DropShipYn]  DEFAULT ((0)) FOR [DropShipYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistDetail'
GO
