USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistReceipt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistReceipt](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[ReceiptNum] [dbo].[pInvoiceNum] NOT NULL,
	[ReceiptDate] [datetime] NULL,
	[GlPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[BOLNum] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblPoHistReceipt] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransID] ASC,
	[ReceiptNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistReceipt] ADD  CONSTRAINT [DF_tblPoHistReceipt_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistReceipt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistReceipt'
GO
