USE [005]
GO
/****** Object:  Table [dbo].[tblSrACSHistARInvoiceHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrACSHistARInvoiceHeader](
	[CustomerNbr] [dbo].[pCustID] NOT NULL,
	[InvoiceNbr] [dbo].[pInvoiceNum] NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[CreditInvoiceYN] [bit] NOT NULL,
	[ShipVia] [nvarchar](50) NULL,
	[OrderNbr] [nvarchar](7) NULL,
	[SalesPersonCode] [nvarchar](3) NULL,
	[TermsCode] [nvarchar](2) NULL,
	[DiscountCode] [nvarchar](2) NULL,
	[DistributionCode] [nvarchar](2) NULL,
	[MessageCode] [nvarchar](2) NULL,
	[TerritoryCode] [nvarchar](3) NULL,
	[ListPriceCode] [nvarchar](2) NULL,
	[OrderDate] [datetime] NULL,
	[TaxCode] [dbo].[pTaxLoc] NULL,
	[CustPricingCode] [nvarchar](4) NULL,
	[TakenBy] [nvarchar](3) NULL,
	[CashSaleYN] [bit] NOT NULL,
	[ShipToNbr] [dbo].[pCustID] NULL,
	[TaxAmount] [dbo].[pDecimal] NOT NULL,
	[FreightAmount] [dbo].[pDecimal] NOT NULL,
	[DiscountAmount] [dbo].[pDecimal] NOT NULL,
	[CommissionPct] [dbo].[pDecimal] NOT NULL,
	[TaxableAmount] [dbo].[pDecimal] NOT NULL,
	[CommissionAmount] [dbo].[pDecimal] NOT NULL,
	[TotalSales] [dbo].[pDecimal] NOT NULL,
	[TotalCost] [dbo].[pDecimal] NOT NULL,
	[CustomerPONbr] [nvarchar](30) NULL,
	[POReleaseNbr] [nvarchar](30) NULL,
	[MiscNbr] [nvarchar](30) NULL,
	[Division] [nvarchar](2) NULL,
	[CustomerName] [nvarchar](40) NULL,
	[ShipToName] [nvarchar](40) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](30) NULL,
	[ShipToAddr3] [nvarchar](30) NULL,
	[ShipToAddr4] [nvarchar](30) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShiptToState] [nvarchar](2) NULL,
	[ShipToZipCode] [nvarchar](9) NULL,
	[CashSaleRecCode] [nvarchar](3) NULL,
	[CashSaleCheckNbr] [nvarchar](7) NULL,
	[CashSalePaymentId] [nvarchar](16) NULL,
	[CashSaleCustomerName] [nvarchar](40) NULL,
	[SalesPersonDesc] [nvarchar](20) NULL,
	[TermsDesc] [nvarchar](20) NULL,
	[DiscountCodeDesc] [nvarchar](20) NULL,
	[DistributionCodeDesc] [nvarchar](20) NULL,
	[MessageCodeDesc] [nvarchar](20) NULL,
	[TerritoryDesc] [nvarchar](20) NULL,
	[TaxCodeDesc] [nvarchar](20) NULL,
	[CustPricingCodeDesc] [nvarchar](20) NULL,
	[CashRecCodeDesc] [nvarchar](20) NULL,
	[OrderNotes] [nvarchar](max) NULL,
	[InvoiceNotes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrACSHistARInvoiceHeader] PRIMARY KEY CLUSTERED 
(
	[CustomerNbr] ASC,
	[InvoiceNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistARInvoiceHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistARInvoiceHeader'
GO
