USE [005]
GO
/****** Object:  Table [dbo].[tblEcComm]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcComm](
	[Id] [bigint] NOT NULL,
	[DocID] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[DocKey] [nvarchar](50) NULL,
	[OnHoldYn] [bit] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblEcComm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcComm] ADD  CONSTRAINT [DF_tblEcComm_OnHoldYn]  DEFAULT ((0)) FOR [OnHoldYn]
GO
ALTER TABLE [dbo].[tblEcComm] ADD  CONSTRAINT [DF_tblEcComm_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcComm'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcComm'
GO
