USE [005]
GO
/****** Object:  Table [dbo].[tblInQtyOnHand_Temp]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQtyOnHand_Temp](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[EntryID] [int] NOT NULL,
	[ItemId] [nchar](24) NOT NULL,
	[LocId] [nchar](10) NOT NULL,
	[LotNum] [nchar](16) NULL,
	[Source] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Cost] [dbo].[pDecimal] NOT NULL,
	[InvoicedQty] [dbo].[pDecimal] NOT NULL,
	[RcptLink] [int] NULL,
	[RemoveQty] [dbo].[pDecimal] NOT NULL,
	[LinkID] [nchar](8) NOT NULL,
	[LinkIDSub] [nchar](8) NOT NULL,
	[LinkIDSubLine] [int] NULL,
	[PostedYn] [bit] NOT NULL,
	[DeletedYn] [bit] NOT NULL,
	[CostACV] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblInQtyOnHand_Temp] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand_Temp'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand_Temp'
GO
