USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmpPayChange]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmpPayChange](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[Date] [datetime] NULL,
	[Reason] [nvarchar](255) NULL,
	[OldRate] [dbo].[pDecimal] NOT NULL,
	[NewRate] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaEmpPayChange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaEmpPayChange_EmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaEmpPayChange_EmployeeId] ON [dbo].[tblPaEmpPayChange]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEmpPayChange] ADD  CONSTRAINT [DF_tblPaEmpPayChange_OldRate]  DEFAULT ((0)) FOR [OldRate]
GO
ALTER TABLE [dbo].[tblPaEmpPayChange] ADD  CONSTRAINT [DF_tblPaEmpPayChange_NewRate]  DEFAULT ((0)) FOR [NewRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpPayChange'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpPayChange'
GO
