USE [005]
GO
/****** Object:  Table [dbo].[tblMrWorkCenter]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrWorkCenter](
	[WorkCenterId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[ScheduleId] [nvarchar](10) NULL,
	[GLAcct1] [dbo].[pGlAcct] NULL,
	[Super] [nvarchar](30) NULL,
	[BillRate] [dbo].[pDecimal] NOT NULL,
	[BillMethod] [tinyint] NOT NULL,
	[OverheadLaborPct] [dbo].[pDecimal] NOT NULL,
	[OverheadFlatAmt] [dbo].[pDecimal] NOT NULL,
	[OverheadPerPiece] [dbo].[pDecimal] NOT NULL,
	[OverheadMachPct] [dbo].[pDecimal] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrWorkCenter] PRIMARY KEY CLUSTERED 
(
	[WorkCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMrWorkCenter_CostGroupID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMrWorkCenter_CostGroupID] ON [dbo].[tblMrWorkCenter]
(
	[CostGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_BillRate]  DEFAULT ((0)) FOR [BillRate]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_BillMethod]  DEFAULT ((0)) FOR [BillMethod]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_OverheadLaborPct]  DEFAULT ((0)) FOR [OverheadLaborPct]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_OverheadFlatAmt]  DEFAULT ((0)) FOR [OverheadFlatAmt]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_OverheadPerPiece]  DEFAULT ((0)) FOR [OverheadPerPiece]
GO
ALTER TABLE [dbo].[tblMrWorkCenter] ADD  CONSTRAINT [DF_tblMrWorkCenter_OverheadMachPct]  DEFAULT ((0)) FOR [OverheadMachPct]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrWorkCenter'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrWorkCenter'
GO
