USE [005]
GO
/****** Object:  Table [dbo].[tblArOpenInvoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArOpenInvoice](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CustId] [dbo].[pCustID] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[CredMemNum] [dbo].[pInvoiceNum] NULL,
	[RecType] [smallint] NULL,
	[Status] [tinyint] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[TransDate] [datetime] NULL,
	[DiscDueDate] [datetime] NULL,
	[NetDueDate] [datetime] NULL,
	[Amt] [dbo].[pDecimal] NULL,
	[AmtFgn] [dbo].[pDecimal] NULL,
	[DiscAmt] [dbo].[pDecimal] NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CheckNum] [dbo].[pCheckNum] NULL,
	[JobId] [nvarchar](10) NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[GlPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[PhaseId] [nvarchar](10) NULL,
	[ProjId] [nvarchar](10) NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[TransId] [dbo].[pTransID] NULL,
	[GainLossStatus] [smallint] NULL,
	[CustPONum] [nvarchar](25) NULL,
	[SourceApp] [tinyint] NULL,
	[AgingPeriod] [tinyint] NOT NULL,
	[InvoiceID] [int] NULL,
	[AppliedAmount] [dbo].[pDecimal] NOT NULL,
	[AppliedDiscount] [dbo].[pDecimal] NOT NULL,
	[GainLossAmount] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblArOpenInvoice] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblArOpenInvoice_CustId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArOpenInvoice_CustId] ON [dbo].[tblArOpenInvoice]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblArOpenInvoice_InvcNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArOpenInvoice_InvcNum] ON [dbo].[tblArOpenInvoice]
(
	[InvcNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArOpenInvoice_InvoiceID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArOpenInvoice_InvoiceID] ON [dbo].[tblArOpenInvoice]
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArOpenInvoice_Status]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArOpenInvoice_Status] ON [dbo].[tblArOpenInvoice]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_RecType]  DEFAULT ((1)) FOR [RecType]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_Amt]  DEFAULT ((0)) FOR [Amt]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_AmtFgn]  DEFAULT ((0)) FOR [AmtFgn]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_GlPeriod]  DEFAULT ((0)) FOR [GlPeriod]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_GainLossStatussmallint]  DEFAULT ((0)) FOR [GainLossStatus]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_SourceApp]  DEFAULT ((0)) FOR [SourceApp]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_AgingPeriod]  DEFAULT ((0)) FOR [AgingPeriod]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_AppliedAmount]  DEFAULT ((0)) FOR [AppliedAmount]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_AppliedDiscount]  DEFAULT ((0)) FOR [AppliedDiscount]
GO
ALTER TABLE [dbo].[tblArOpenInvoice] ADD  CONSTRAINT [DF_tblArOpenInvoice_GainLossAmount]  DEFAULT ((0)) FOR [GainLossAmount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArOpenInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArOpenInvoice'
GO
