USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigFieldActionMtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigFieldActionMtl](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ActionId] [bigint] NOT NULL,
	[CompRevisionNo] [nvarchar](3) NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[UsageType] [tinyint] NULL,
	[DetailType] [tinyint] NULL,
	[OverridePriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[PriceFormula] [nvarchar](300) NULL,
	[QtyFormula] [nvarchar](300) NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[ScrapPct] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[MGID] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[SchedWorkType] [nvarchar](6) NULL,
	[VendorId] [dbo].[pVendorID] NULL,
 CONSTRAINT [PK_tblCfConfigFieldActionMtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCfConfigFieldActionMtl_ActionId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCfConfigFieldActionMtl_ActionId] ON [dbo].[tblCfConfigFieldActionMtl]
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_OverridePriceYn]  DEFAULT ((0)) FOR [OverridePriceYn]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_ScrapPct]  DEFAULT ((0)) FOR [ScrapPct]
GO
ALTER TABLE [dbo].[tblCfConfigFieldActionMtl] ADD  CONSTRAINT [DF_tblCfConfigFieldActionMtl_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldActionMtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldActionMtl'
GO
