USE [005]
GO
/****** Object:  Table [dbo].[tblPcWIPDetailFixedFee]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcWIPDetailFixedFee](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HeaderId] [int] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[FixedFeeAmtApply] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcWIPDetailFixedFee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcWIPDetailFixedFee] ADD  CONSTRAINT [DF_tblPcWIPDetailFixedFee_FixedFeeAmtApply]  DEFAULT ((0)) FOR [FixedFeeAmtApply]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPDetailFixedFee'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPDetailFixedFee'
GO
