USE [005]
GO
/****** Object:  Table [dbo].[tblSvTechnician]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvTechnician](
	[TechID] [dbo].[pEmpID] NOT NULL,
	[ScheduleID] [nvarchar](10) NULL,
	[LocID] [dbo].[pLocID] NULL,
	[CrewYN] [bit] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ID] [bigint] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[WorkTypeImpacted] [nvarchar](6) NULL,
	[LineNoImpacted] [tinyint] NULL,
 CONSTRAINT [PK_tblSvTechnician] PRIMARY KEY CLUSTERED 
(
	[TechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblSvTechnician_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSvTechnician_ID] ON [dbo].[tblSvTechnician]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvTechnician] ADD  CONSTRAINT [DF_tblSvTechnician_CrewYN]  DEFAULT ((0)) FOR [CrewYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvTechnician'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvTechnician'
GO
