USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmpValidEarnCode]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmpValidEarnCode](
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[EarnCodeId] [dbo].[pCode] NOT NULL,
	[RateType] [tinyint] NOT NULL,
	[Rate] [dbo].[pDecimal] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPaEmpValidEarnCode] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[PaYear] ASC,
	[EarnCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEmpValidEarnCode] ADD  CONSTRAINT [DF_tblPaEmpValidEarnCode_RateType]  DEFAULT ((0)) FOR [RateType]
GO
ALTER TABLE [dbo].[tblPaEmpValidEarnCode] ADD  CONSTRAINT [DF_tblPaEmpValidEarnCode_Rate]  DEFAULT ((0)) FOR [Rate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpValidEarnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpValidEarnCode'
GO
