USE [005]
GO
/****** Object:  Table [dbo].[tblSrWorkTypes]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrWorkTypes](
	[WorkType] [nvarchar](6) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[StdLaborCostRate] [dbo].[pDecimal] NOT NULL,
	[PrintJobCards] [bit] NOT NULL,
	[ScheduleID] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrWorkTypes] PRIMARY KEY CLUSTERED 
(
	[WorkType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrWorkTypes] ADD  CONSTRAINT [DF_tblSrWorkTypes_StdLaborCostRate]  DEFAULT ((0)) FOR [StdLaborCostRate]
GO
ALTER TABLE [dbo].[tblSrWorkTypes] ADD  CONSTRAINT [DF_tblSrWorkTypes_PrintJobCards]  DEFAULT ((1)) FOR [PrintJobCards]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkTypes'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkTypes'
GO
