USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransSer](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[RcptNum] [dbo].[pInvoiceNum] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[SerCmnt] [nvarchar](35) NULL,
	[RcptUnitCost] [dbo].[pDecimal] NULL,
	[RcptUnitCostFgn] [dbo].[pDecimal] NULL,
	[RcptCostUnitACV] [dbo].[pDecimal] NOT NULL,
	[RcptStatus] [tinyint] NULL,
	[InvcUnitCost] [dbo].[pDecimal] NULL,
	[InvcUnitCostFgn] [dbo].[pDecimal] NULL,
	[InvcCostUnitACV] [dbo].[pDecimal] NOT NULL,
	[InvcStatus] [tinyint] NULL,
	[SerHistSeqNum] [int] NULL,
	[ExchRateSRec] [dbo].[pDecimal] NULL,
	[ExchRateSInv] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[SerHistSeqNum_Invc] [int] NULL,
	[HistorySerID] [bigint] NULL,
	[HistorySerInvoiceID] [bigint] NULL,
 CONSTRAINT [PK_tblPoTransSer] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC,
	[RcptNum] ASC,
	[SerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_RcptUnitCost]  DEFAULT ((0)) FOR [RcptUnitCost]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_RcptUnitCostFgn]  DEFAULT ((0)) FOR [RcptUnitCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_RcptCostUnitACV]  DEFAULT ((0)) FOR [RcptCostUnitACV]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_RcptStatus]  DEFAULT ((0)) FOR [RcptStatus]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_InvcUnitCost]  DEFAULT ((0)) FOR [InvcUnitCost]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_InvcUnitCostFgn]  DEFAULT ((0)) FOR [InvcUnitCostFgn]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_InvcCostUnitACV]  DEFAULT ((0)) FOR [InvcCostUnitACV]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_InvcStatus]  DEFAULT ((0)) FOR [InvcStatus]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_SerHistSeqNum]  DEFAULT ((0)) FOR [SerHistSeqNum]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_ExchRateSRec]  DEFAULT ((1)) FOR [ExchRateSRec]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_ExchRateSInv]  DEFAULT ((1)) FOR [ExchRateSInv]
GO
ALTER TABLE [dbo].[tblPoTransSer] ADD  CONSTRAINT [DF_tblPoTransSer_SerHistSeqNum_Invc]  DEFAULT ((0)) FOR [SerHistSeqNum_Invc]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransSer'
GO
