USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryTimeDtl]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryTimeDtl](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[SeqNo] [int] NOT NULL,
	[TransDate] [datetime] NULL,
	[MachineSetup] [dbo].[pDecimal] NOT NULL,
	[MachineSetupIn] [smallint] NOT NULL,
	[MachineRun] [dbo].[pDecimal] NOT NULL,
	[MachineRunIn] [smallint] NOT NULL,
	[LaborSetup] [dbo].[pDecimal] NOT NULL,
	[LaborSetupIn] [smallint] NOT NULL,
	[Labor] [dbo].[pDecimal] NOT NULL,
	[LaborIn] [smallint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[EmployeePayRate] [dbo].[pDecimal] NOT NULL,
	[QtyProduced] [dbo].[pDecimal] NOT NULL,
	[QtyScrapped] [dbo].[pDecimal] NOT NULL,
	[VarianceCode] [nvarchar](10) NULL,
	[BeginTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Hours] [int] NULL,
	[Mins] [int] NULL,
	[PostedPayrollYn] [bit] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpHistoryTimeDtl] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryTimeDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryTimeDtl'
GO
