USE [005]
GO
/****** Object:  Table [dbo].[tblDrPeriodDefDtl]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDrPeriodDefDtl](
	[PdDefId] [nvarchar](10) NOT NULL,
	[Period] [smallint] NOT NULL,
	[Increment] [smallint] NOT NULL,
	[IncUnit] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblDrPeriodDefDtl] PRIMARY KEY CLUSTERED 
(
	[PdDefId] ASC,
	[Period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDrPeriodDefDtl] ADD  CONSTRAINT [DF_tblDrPeriodDefDtl_Increment]  DEFAULT ((1)) FOR [Increment]
GO
ALTER TABLE [dbo].[tblDrPeriodDefDtl] ADD  CONSTRAINT [DF_tblDrPeriodDefDtl_IncUnit]  DEFAULT ((2)) FOR [IncUnit]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrPeriodDefDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrPeriodDefDtl'
GO
