USE [005]
GO
/****** Object:  Table [dbo].[tblEcMailControl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcMailControl](
	[Id] [bigint] NOT NULL,
	[ImportBatchId] [nvarchar](14) NULL,
	[KeyLevelSeq1] [int] NULL,
	[PartnerId] [bigint] NULL,
	[DocID] [bigint] NOT NULL,
	[EdiDocNum] [nvarchar](3) NULL,
	[DocKey] [nvarchar](50) NULL,
	[DocAddnlRef1] [nvarchar](50) NULL,
	[SenderID] [nvarchar](15) NULL,
	[SenderIDGS] [nvarchar](15) NULL,
	[ReceiverID] [nvarchar](15) NULL,
	[ReceiverIDGS] [nvarchar](15) NULL,
	[ISAControlNum] [nvarchar](9) NULL,
	[GSControlNum] [nvarchar](9) NULL,
	[STControlNum] [nvarchar](9) NULL,
	[GSVersion] [nvarchar](20) NULL,
	[StatusFlag] [nvarchar](50) NULL,
	[SendDate] [datetime] NULL,
	[SendTime] [nvarchar](50) NULL,
	[FAISAControlNum] [nvarchar](9) NULL,
	[FAGSControlNum] [nvarchar](9) NULL,
	[FASTControlNum] [nvarchar](9) NULL,
	[FAReturnCode] [nvarchar](1) NULL,
	[FADate] [datetime] NULL,
	[FATime] [nvarchar](4) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TPCode] [nvarchar](12) NULL,
 CONSTRAINT [PK_tblEcMailControl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcMailControl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcMailControl'
GO
