USE [005]
GO
/****** Object:  Table [dbo].[X_tblMbAssemblyHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_tblMbAssemblyHeader](
	[AssemblyId] [nvarchar](255) NULL,
	[RevisionNo] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[EffectiveDateFrom] [datetime] NULL,
	[LotSize] [float] NULL,
	[Uom] [nvarchar](255) NULL,
	[StockingLevel] [float] NULL,
	[PlanningBill] [float] NULL,
	[Backflushed] [float] NULL,
	[DfltRevYn] [float] NULL,
	[LastUpdated] [datetime] NULL,
	[Header Id] [float] NULL,
	[IssuebyRelease] [float] NULL
) ON [PRIMARY]
GO
