USE [005]
GO
/****** Object:  Table [dbo].[tblSrWorkTypesDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrWorkTypesDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkType] [nvarchar](6) NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LineNum] [tinyint] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[ScheduleId] [nvarchar](10) NOT NULL,
	[AdjustType] [smallint] NOT NULL,
	[AdjustScale] [smallint] NOT NULL,
	[AdjustAmt] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrWorkTypeDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrWorkTypesDetail] ADD  CONSTRAINT [DF_tblSrWorkTypesDetail_AdjustType]  DEFAULT ((0)) FOR [AdjustType]
GO
ALTER TABLE [dbo].[tblSrWorkTypesDetail] ADD  CONSTRAINT [DF_tblSrWorkTypesDetail_AdjustScale]  DEFAULT ((0)) FOR [AdjustScale]
GO
ALTER TABLE [dbo].[tblSrWorkTypesDetail] ADD  CONSTRAINT [DF_tblSrWorkTypesDetail_AdjustAmt]  DEFAULT ((0)) FOR [AdjustAmt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkTypesDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrWorkTypesDetail'
GO
