USE [005]
GO
/****** Object:  Table [dbo].[tblMpMatlSum]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpMatlSum](
	[TransId] [int] NOT NULL,
	[ComponentId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ComponentType] [tinyint] NOT NULL,
	[LeadTime] [int] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[EstQtyRequired] [dbo].[pDecimal] NOT NULL,
	[EstScrap] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[QtySeqNum] [int] NULL,
	[LinkSeqNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
 CONSTRAINT [PK_tblMpMatlSum] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMpMatlSum_ComponentIdLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpMatlSum_ComponentIdLocId] ON [dbo].[tblMpMatlSum]
(
	[ComponentId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpMatlSum] ADD  CONSTRAINT [DF_tblMpMatlSum_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblMpMatlSum] ADD  CONSTRAINT [DF_tblMpMatlSum_EstQtyRequired]  DEFAULT ((0)) FOR [EstQtyRequired]
GO
ALTER TABLE [dbo].[tblMpMatlSum] ADD  CONSTRAINT [DF_tblMpMatlSum_EstScrap]  DEFAULT ((0)) FOR [EstScrap]
GO
ALTER TABLE [dbo].[tblMpMatlSum] ADD  CONSTRAINT [DF_tblMpMatlSum_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblMpMatlSum] ADD  CONSTRAINT [DF_tblMpMatlSum_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlSum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlSum'
GO
