USE [005]
GO
/****** Object:  Table [dbo].[tblApVendor]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApVendor](
	[VendorID] [dbo].[pVendorID] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Contact] [nvarchar](30) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NOT NULL,
	[PostalCode] [nvarchar](10) NULL,
	[IntlPrefix] [nvarchar](6) NULL,
	[Phone] [nvarchar](15) NULL,
	[FAX] [nvarchar](15) NULL,
	[OurAcctNum] [nvarchar](25) NULL,
	[PayToName] [nvarchar](30) NULL,
	[PayToAttention] [nvarchar](30) NULL,
	[PayToAddr1] [nvarchar](30) NULL,
	[PayToAddr2] [nvarchar](60) NULL,
	[PayToCity] [nvarchar](30) NULL,
	[PayToRegion] [nvarchar](10) NULL,
	[PayToCountry] [dbo].[pCountry] NULL,
	[PayToPostalCode] [nvarchar](10) NULL,
	[PayToIntlPrefix] [nvarchar](6) NULL,
	[PayToPhone] [nvarchar](15) NULL,
	[Ten99FormCode] [nvarchar](1) NOT NULL,
	[Ten99RecipientID] [nvarchar](255) NULL,
	[Ten99FieldIndicator] [nvarchar](1) NULL,
	[Ten99ForeignAddrYN] [bit] NULL,
	[SecondTINNotYN] [bit] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[PriorityCode] [nvarchar](1) NULL,
	[VendorHoldYN] [bit] NULL,
	[TempYN] [bit] NULL,
	[VendorClass] [nvarchar](6) NULL,
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[DivisionCode] [nvarchar](6) NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[TaxableYN] [bit] NULL,
	[Memo] [nvarchar](max) NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NOT NULL,
	[Email] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[LastPurchDate] [datetime] NULL,
	[LastPurchNum] [nvarchar](15) NULL,
	[LastPmtDate] [datetime] NULL,
	[LastCheckNum] [dbo].[pCheckNum] NULL,
	[LastPurchAmt] [dbo].[pDecimal] NOT NULL,
	[LastPmtAmt] [dbo].[pDecimal] NOT NULL,
	[GrossDue] [dbo].[pDecimal] NOT NULL,
	[Prepaid] [dbo].[pDecimal] NOT NULL,
	[DfltTransAllocId] [nvarchar](10) NULL,
	[Status] [tinyint] NOT NULL,
	[DeliveryType] [tinyint] NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[MaskValue] [nvarchar](4) NULL,
	[RoutingCode] [nvarchar](9) NULL,
	[DefaultPayBankId] [dbo].[pBankID] NULL,
	[ChkOpt] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BankAccountType] [tinyint] NOT NULL,
	[TaxPayerType1] [bigint] NULL,
	[TaxPayerType2] [bigint] NULL,
	[TaxID1] [nvarchar](255) NULL,
	[TaxID2] [nvarchar](255) NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblApVendor] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_VendorHoldYN]  DEFAULT ((0)) FOR [VendorHoldYN]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_TempYN]  DEFAULT ((0)) FOR [TempYN]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_LastPurchAmt]  DEFAULT ((0)) FOR [LastPurchAmt]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_LastPmtAmt]  DEFAULT ((0)) FOR [LastPmtAmt]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_GrossDue]  DEFAULT ((0)) FOR [GrossDue]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_Prepaid]  DEFAULT ((0)) FOR [Prepaid]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_DeliveryType]  DEFAULT ((0)) FOR [DeliveryType]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_ChkOpt]  DEFAULT ((0)) FOR [ChkOpt]
GO
ALTER TABLE [dbo].[tblApVendor] ADD  CONSTRAINT [DF_tblApVendor_BankAccountType]  DEFAULT ((0)) FOR [BankAccountType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApVendor'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApVendor'
GO
