USE [005]
GO
/****** Object:  Table [dbo].[tblPaLeaveCodeDtl]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaLeaveCodeDtl](
	[LeaveCodeId] [dbo].[pCode] NOT NULL,
	[UpToYear] [smallint] NOT NULL,
	[HrsWkd] [dbo].[pDecimal] NOT NULL,
	[MaxHrs] [dbo].[pDecimal] NOT NULL,
	[MinAccrual] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaLeaveCodeDtl] PRIMARY KEY CLUSTERED 
(
	[LeaveCodeId] ASC,
	[UpToYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaLeaveCodeDtl] ADD  CONSTRAINT [DF_tblPaLeaveCodeDtl_HrsWkd]  DEFAULT ((0)) FOR [HrsWkd]
GO
ALTER TABLE [dbo].[tblPaLeaveCodeDtl] ADD  CONSTRAINT [DF_tblPaLeaveCodeDtl_MaxHrs]  DEFAULT ((0)) FOR [MaxHrs]
GO
ALTER TABLE [dbo].[tblPaLeaveCodeDtl] ADD  CONSTRAINT [DF_tblPaLeaveCodeDtl_MinAccrual]  DEFAULT ((0)) FOR [MinAccrual]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaLeaveCodeDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaLeaveCodeDtl'
GO
