USE [005]
GO
/****** Object:  Table [dbo].[tblPoShipmentHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoShipmentHeader](
	[ID] [bigint] NOT NULL,
	[ShipNum] [nvarchar](30) NULL,
	[Description] [dbo].[pDescription] NULL,
	[EstShipDate] [datetime] NULL,
	[ActShipDate] [datetime] NULL,
	[Vessel] [nvarchar](255) NULL,
	[BOLNum] [nvarchar](255) NULL,
	[Container] [nvarchar](255) NULL,
	[POL] [nvarchar](255) NULL,
	[POD] [nvarchar](255) NULL,
	[Type] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[EstRcptDate] [datetime] NULL,
	[ActRcptDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[EntryDate] [datetime] NOT NULL,
	[LandedCostID] [nvarchar](20) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoShipmentHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPoShipmentHeader_ShipNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPoShipmentHeader_ShipNum] ON [dbo].[tblPoShipmentHeader]
(
	[ShipNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoShipmentHeader] ADD  CONSTRAINT [DF_tblPOShipmentHeader_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblPoShipmentHeader] ADD  CONSTRAINT [DF_tblPOShipmentHeader_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipmentHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoShipmentHeader'
GO
