USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigConstraint]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigConstraint](
	[ConstraintId] [bigint] NOT NULL,
	[ConfigId] [bigint] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[ConstraintType] [tinyint] NOT NULL,
	[ConstraintDescr] [dbo].[pDescription] NULL,
	[ConstraintCondition] [dbo].[pDescription] NOT NULL,
	[ActiveFrom] [datetime] NULL,
	[ActiveThru] [datetime] NULL,
	[ConstraintAction] [nvarchar](255) NULL,
	[ConstraintText] [dbo].[pDescription] NULL,
	[ConstraintCat] [nvarchar](15) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCfConfigConstraint] PRIMARY KEY CLUSTERED 
(
	[ConstraintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_tblCfConfigConstraint_ConfigId_SeqNum] UNIQUE NONCLUSTERED 
(
	[ConfigId] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigConstraint] ADD  CONSTRAINT [DF_tblCfConfigConstraint_ConstraintType]  DEFAULT ((0)) FOR [ConstraintType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigConstraint'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigConstraint'
GO
