USE [005]
GO
/****** Object:  Table [dbo].[X_MachineCuts]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_MachineCuts](
	[Machine #] [float] NULL,
	[Cut # ] [nvarchar](255) NULL,
	[Head #] [float] NULL
) ON [PRIMARY]
GO
