USE [005]
GO
/****** Object:  Table [dbo].[tblSmAttachment]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmAttachment](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LinkType] [nvarchar](10) NOT NULL,
	[LinkKey] [nvarchar](255) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[ExpireDate] [datetime] NULL,
	[EntryDate] [datetime] NOT NULL,
	[EnteredBy] [dbo].[pUserID] NOT NULL,
	[Keywords] [nvarchar](255) NULL,
	[Comment] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[DocumentName] [nvarchar](255) NULL,
	[Document] [varbinary](max) NULL,
	[AttType] [tinyint] NOT NULL,
	[ServiceId] [int] NULL,
	[DocumentInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSmAttachment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmAttachment_LinkTypeLinkIdEnteredByStatus]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmAttachment_LinkTypeLinkIdEnteredByStatus] ON [dbo].[tblSmAttachment]
(
	[LinkType] ASC,
	[LinkKey] ASC,
	[EnteredBy] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmAttachment] ADD  CONSTRAINT [DF_tblSmAttachment_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSmAttachment] ADD  CONSTRAINT [DF_tblSmAttachment_Priority]  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[tblSmAttachment] ADD  DEFAULT ((1)) FOR [AttType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmAttachment'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmAttachment'
GO
