USE [005]
GO
/****** Object:  Table [dbo].[tblMpMatlDtl]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpMatlDtl](
	[TransId] [int] NOT NULL,
	[SeqNo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransDate] [datetime] NULL,
	[ComponentId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NULL,
	[ActualScrap] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[VarianceCode] [nvarchar](10) NULL,
	[AssembledYn] [int] NOT NULL,
	[SubAssemblyTranType] [smallint] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[QtySeqNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[PostedYn] [bit] NOT NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblMpMatlDtl] PRIMARY KEY CLUSTERED 
(
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMpMatlDtl_ComponentIdLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpMatlDtl_ComponentIdLocId] ON [dbo].[tblMpMatlDtl]
(
	[ComponentId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMpMatlDtl_TransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpMatlDtl_TransId] ON [dbo].[tblMpMatlDtl]
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpMatlDtl] ADD  CONSTRAINT [DF_tblMpMatlDtl_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblMpMatlDtl] ADD  CONSTRAINT [DF_tblMpMatlDtl_ActualScrap]  DEFAULT ((0)) FOR [ActualScrap]
GO
ALTER TABLE [dbo].[tblMpMatlDtl] ADD  CONSTRAINT [DF_tblMpMatlDtl_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblMpMatlDtl] ADD  CONSTRAINT [DF_tblMpMatlDtl_SubAssemblyTranType]  DEFAULT ((0)) FOR [SubAssemblyTranType]
GO
ALTER TABLE [dbo].[tblMpMatlDtl] ADD  CONSTRAINT [DF_tblMpMatlDtl_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlDtl'
GO
