USE [005]
GO
/****** Object:  Table [dbo].[tblApHistHeader]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApHistHeader](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NOT NULL,
	[BatchId] [dbo].[pBatchID] NULL,
	[WhseId] [dbo].[pLocID] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[InvoiceDate] [datetime] NULL,
	[TransType] [smallint] NULL,
	[PONum] [nvarchar](25) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[DueDate1] [datetime] NULL,
	[DueDate2] [datetime] NULL,
	[DueDate3] [datetime] NULL,
	[PmtAmt1] [dbo].[pDecimal] NULL,
	[PmtAmt2] [dbo].[pDecimal] NULL,
	[PmtAmt3] [dbo].[pDecimal] NULL,
	[Subtotal] [dbo].[pDecimal] NULL,
	[SalesTax] [dbo].[pDecimal] NULL,
	[Freight] [dbo].[pDecimal] NULL,
	[Misc] [dbo].[pDecimal] NULL,
	[CashDisc] [dbo].[pDecimal] NULL,
	[PrepaidAmt] [dbo].[pDecimal] NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[PmtCurrencyId] [dbo].[pCurrency] NULL,
	[PmtExchRate] [dbo].[pDecimal] NOT NULL,
	[PmtAmt1Fgn] [dbo].[pDecimal] NULL,
	[PmtAmt2Fgn] [dbo].[pDecimal] NULL,
	[PmtAmt3Fgn] [dbo].[pDecimal] NULL,
	[SubtotalFgn] [dbo].[pDecimal] NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NULL,
	[FreightFgn] [dbo].[pDecimal] NULL,
	[MiscFgn] [dbo].[pDecimal] NULL,
	[CashDiscFgn] [dbo].[pDecimal] NULL,
	[PrepaidAmtFgn] [dbo].[pDecimal] NULL,
	[CheckNum] [nvarchar](50) NULL,
	[CheckDate] [datetime] NULL,
	[PostDate] [datetime] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[Ten99InvoiceYN] [bit] NULL,
	[Status] [tinyint] NULL,
	[Notes] [nvarchar](max) NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TaxableYn] [bit] NULL,
	[Taxable] [dbo].[pDecimal] NULL,
	[NonTaxable] [dbo].[pDecimal] NULL,
	[TaxableFgn] [dbo].[pDecimal] NULL,
	[NonTaxableFgn] [dbo].[pDecimal] NULL,
	[TaxClassFreight] [tinyint] NULL,
	[TaxClassMisc] [tinyint] NULL,
	[TaxLocID1] [dbo].[pTaxLoc] NULL,
	[TaxAmt1] [dbo].[pDecimal] NULL,
	[TaxAmt1Fgn] [dbo].[pDecimal] NULL,
	[TaxLocID2] [dbo].[pTaxLoc] NULL,
	[TaxAmt2] [dbo].[pDecimal] NULL,
	[TaxAmt2Fgn] [dbo].[pDecimal] NULL,
	[TaxLocID3] [dbo].[pTaxLoc] NULL,
	[TaxAmt3] [dbo].[pDecimal] NULL,
	[TaxAmt3Fgn] [dbo].[pDecimal] NULL,
	[TaxLocID4] [dbo].[pTaxLoc] NULL,
	[TaxAmt4] [dbo].[pDecimal] NULL,
	[TaxAmt4Fgn] [dbo].[pDecimal] NULL,
	[TaxLocID5] [dbo].[pTaxLoc] NULL,
	[TaxAmt5] [dbo].[pDecimal] NULL,
	[TaxAmt5Fgn] [dbo].[pDecimal] NULL,
	[TaxAdjClass] [tinyint] NULL,
	[TaxAdjLocID] [dbo].[pTaxLoc] NULL,
	[TaxAdjAmt] [dbo].[pDecimal] NULL,
	[TaxAdjAmtFgn] [dbo].[pDecimal] NULL,
	[Source] [tinyint] NULL,
	[SumHistPeriod] [smallint] NULL,
	[GLAcctAP] [dbo].[pGlAcct] NULL,
	[GLAcctFreight] [dbo].[pGlAcct] NULL,
	[GLAcctTaxAdj] [dbo].[pGlAcct] NULL,
	[GLAcctMisc] [dbo].[pGlAcct] NULL,
	[BankID] [dbo].[pBankID] NULL,
	[ChkGlPeriod] [smallint] NULL,
	[ChkFiscalYear] [smallint] NULL,
	[DiscDueDate] [datetime] NULL,
	[CF] [xml] NULL,
	[UID] [bigint] NOT NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblApHistHeader] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[InvoiceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_InvoiceDate]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt1]  DEFAULT ((0)) FOR [PmtAmt1]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt2]  DEFAULT ((0)) FOR [PmtAmt2]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt3]  DEFAULT ((0)) FOR [PmtAmt3]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Subtotal]  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_CashDisc]  DEFAULT ((0)) FOR [CashDisc]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PrepaidAmt]  DEFAULT ((0)) FOR [PrepaidAmt]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtExchRate]  DEFAULT ((1)) FOR [PmtExchRate]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt1Fgn]  DEFAULT ((0)) FOR [PmtAmt1Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt2Fgn]  DEFAULT ((0)) FOR [PmtAmt2Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PmtAmt3Fgn]  DEFAULT ((0)) FOR [PmtAmt3Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_SubtotalFgn]  DEFAULT ((0)) FOR [SubtotalFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_MiscFgn]  DEFAULT ((0)) FOR [MiscFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_CashDiscFgn]  DEFAULT ((0)) FOR [CashDiscFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_PrepaidAmtFgn]  DEFAULT ((0)) FOR [PrepaidAmtFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxableYn]  DEFAULT ((1)) FOR [TaxableYn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Taxable]  DEFAULT ((0)) FOR [Taxable]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_NonTaxable]  DEFAULT ((0)) FOR [NonTaxable]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxableFgn]  DEFAULT ((0)) FOR [TaxableFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_NonTaxableFgn]  DEFAULT ((0)) FOR [NonTaxableFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt1]  DEFAULT ((0)) FOR [TaxAmt1]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt1Fgn]  DEFAULT ((0)) FOR [TaxAmt1Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt2]  DEFAULT ((0)) FOR [TaxAmt2]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt2Fgn]  DEFAULT ((0)) FOR [TaxAmt2Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt3]  DEFAULT ((0)) FOR [TaxAmt3]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt3Fgn]  DEFAULT ((0)) FOR [TaxAmt3Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt4]  DEFAULT ((0)) FOR [TaxAmt4]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt4Fgn]  DEFAULT ((0)) FOR [TaxAmt4Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt5]  DEFAULT ((0)) FOR [TaxAmt5]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAmt5Fgn]  DEFAULT ((0)) FOR [TaxAmt5Fgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAdjClass]  DEFAULT ((0)) FOR [TaxAdjClass]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAdjAmt]  DEFAULT ((0)) FOR [TaxAdjAmt]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_TaxAdjAmtFgn]  DEFAULT ((0)) FOR [TaxAdjAmtFgn]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblApHistHeader] ADD  CONSTRAINT [DF_tblApHistHeader_SumHistPeriod]  DEFAULT ((0)) FOR [SumHistPeriod]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApHistHeader'
GO
