USE [005]
GO
/****** Object:  Table [dbo].[tblSvHistoryWorkOrderDispatch]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvHistoryWorkOrderDispatch](
	[ID] [bigint] NOT NULL,
	[WorkOrderID] [bigint] NOT NULL,
	[DispatchNo] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[EquipmentID] [bigint] NULL,
	[EquipmentDescription] [dbo].[pDescription] NULL,
	[BillingType] [nvarchar](10) NULL,
	[BillableYN] [bit] NOT NULL,
	[BillToID] [dbo].[pCustID] NULL,
	[RequestedDate] [datetime] NULL,
	[RequestedAMPM] [tinyint] NOT NULL,
	[RequestedTechID] [dbo].[pEmpID] NULL,
	[CancelledYN] [bit] NOT NULL,
	[EstTravel] [bigint] NOT NULL,
	[SchedApproved] [bit] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Counter] [int] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[SourceId] [uniqueidentifier] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CF] [xml] NULL,
	[Priority] [tinyint] NULL,
	[StatusID] [tinyint] NULL,
	[StatusDescription] [dbo].[pDescription] NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSvHistoryWorkOrderDispatch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_WorkOrderIDDispatchNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_WorkOrderIDDispatchNo] ON [dbo].[tblSvHistoryWorkOrderDispatch]
(
	[WorkOrderID] ASC,
	[DispatchNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderDispatch'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrderDispatch'
GO
