USE [005]
GO
/****** Object:  Table [dbo].[tblFaAssetDeprActivity]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaAssetDeprActivity](
	[ID] [int] NOT NULL,
	[DeprID] [int] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NOT NULL,
	[GLAccumDepr] [dbo].[pGlAcct] NULL,
	[GLExpense] [dbo].[pGlAcct] NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[AmountBase] [dbo].[pDecimal] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblFaAssetDeprActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblFaAssetDeprActivity_DeprID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblFaAssetDeprActivity_DeprID] ON [dbo].[tblFaAssetDeprActivity]
(
	[DeprID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblFaAssetDeprActivity] ADD  CONSTRAINT [DF_tblFaAssetDeprActivity_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblFaAssetDeprActivity] ADD  CONSTRAINT [DF_tblFaAssetDeprActivity_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblFaAssetDeprActivity] ADD  CONSTRAINT [DF_tblFaAssetDeprActivity_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblFaAssetDeprActivity] ADD  CONSTRAINT [DF_tblFaAssetDeprActivity_AmountBase]  DEFAULT ((0)) FOR [AmountBase]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaAssetDeprActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaAssetDeprActivity'
GO
