USE [005]
GO
/****** Object:  Table [dbo].[tblInVendorItemUomCost]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInVendorItemUomCost](
	[ID] [bigint] NOT NULL,
	[VendorItemID] [bigint] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[MinOrderQty] [dbo].[pDecimal] NOT NULL,
	[OrderIncrement] [dbo].[pDecimal] NOT NULL,
	[BaseCost] [dbo].[pDecimal] NOT NULL,
	[CostBreakStartDate] [datetime] NULL,
	[CostBreakEndDate] [datetime] NULL,
	[CostBreakID] [bigint] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInVendorItemUomCost] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInVendorItemUomCost_ItemVendorIDUom]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblInVendorItemUomCost_ItemVendorIDUom] ON [dbo].[tblInVendorItemUomCost]
(
	[VendorItemID] ASC,
	[Uom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInVendorItemUomCost] ADD  CONSTRAINT [DF_tblInVendorItemUomCost_MinOrderQty]  DEFAULT ((0)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[tblInVendorItemUomCost] ADD  CONSTRAINT [DF_tblInVendorItemUomCost_OrderIncrement]  DEFAULT ((0)) FOR [OrderIncrement]
GO
ALTER TABLE [dbo].[tblInVendorItemUomCost] ADD  CONSTRAINT [DF_tblInVendorItemUomCost_BaseCost]  DEFAULT ((0)) FOR [BaseCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInVendorItemUomCost'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInVendorItemUomCost'
GO
