USE [005]
GO
/****** Object:  Table [dbo].[tblInCOGSAdjustment]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInCOGSAdjustment](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[FunctionID] [uniqueidentifier] NOT NULL,
	[TransKey] [nvarchar](255) NOT NULL,
	[GroupKey] [nvarchar](255) NOT NULL,
	[AdjustAmount] [dbo].[pDecimal] NOT NULL,
	[AdjustAmountACV] [dbo].[pDecimal] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[TransID] [nvarchar](255) NOT NULL,
	[SourceID] [nvarchar](10) NULL,
	[AppID] [nvarchar](10) NOT NULL,
	[IsTransDeleted] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInCOGSAdjustment] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInCOGSAdjustment_FunctionIDTransID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInCOGSAdjustment_FunctionIDTransID] ON [dbo].[tblInCOGSAdjustment]
(
	[FunctionID] ASC,
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInCOGSAdjustment'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInCOGSAdjustment'
GO
