USE [005]
GO
/****** Object:  Table [dbo].[tblEpHCEmployeeProviderInfo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpHCEmployeeProviderInfo](
	[ID] [bigint] NOT NULL,
	[HeaderId] [bigint] NOT NULL,
	[EIN] [nvarchar](255) NULL,
	[Name1] [nvarchar](30) NULL,
	[Name2] [nvarchar](30) NULL,
	[Address1] [nvarchar](30) NULL,
	[Address2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Phone] [nvarchar](15) NULL,
	[PhoneExt] [nvarchar](15) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEpHCEmployeeProviderInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployeeProviderInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployeeProviderInfo'
GO
