USE [005]
GO
/****** Object:  Table [dbo].[tblSmExternalCodes]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmExternalCodes](
	[CodeId] [nvarchar](15) NOT NULL,
	[Code] [nvarchar](25) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Status] [tinyint] NOT NULL,
	[DefaultYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmExternalCodes] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmExternalCodes] ADD  CONSTRAINT [DF_tblSmExternalCodes_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSmExternalCodes] ADD  CONSTRAINT [DF_tblSmExternalCodes_DefaultYn]  DEFAULT ((0)) FOR [DefaultYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExternalCodes'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExternalCodes'
GO
