USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistReceiptLandedCost]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistReceiptLandedCost](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[ReceiptID] [uniqueidentifier] NOT NULL,
	[LCTransSeqNum] [int] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[PostedAmount] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPoHistReceiptLandedCost] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[ReceiptID] ASC,
	[LCTransSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistReceiptLandedCost] ADD  CONSTRAINT [DF_tblPoHistReceiptLandedCost_ReceiptID]  DEFAULT (newid()) FOR [ReceiptID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistReceiptLandedCost'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistReceiptLandedCost'
GO
