USE [005]
GO
/****** Object:  Table [dbo].[tblSysUserSettings]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysUserSettings](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[FunctionID] [uniqueidentifier] NOT NULL,
	[Store] [varbinary](max) NULL,
	[ts] [timestamp] NULL,
	[SettingsType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblSysUserSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UI_tblSysUserSettings_UserIDFunctionID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UI_tblSysUserSettings_UserIDFunctionID] ON [dbo].[tblSysUserSettings]
(
	[UserID] ASC,
	[FunctionID] ASC
)
INCLUDE([Store],[ts]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysUserSettings] ADD  CONSTRAINT [DF_tblSysUserSettings_SettingsType]  DEFAULT ((0)) FOR [SettingsType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysUserSettings'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysUserSettings'
GO
