USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxLoc]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxLoc](
	[TaxLocId] [dbo].[pTaxLoc] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[TaxLevel] [tinyint] NULL,
	[TaxAuthority] [nvarchar](2) NULL,
	[TaxId] [nvarchar](20) NULL,
	[TaxOnFreight] [bit] NULL,
	[TaxOnMisc] [bit] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[TaxRefAcct] [dbo].[pGlAcct] NULL,
	[IgnoreExpAcctYn] [bit] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
 CONSTRAINT [PK_tblSmTaxLoc] PRIMARY KEY CLUSTERED 
(
	[TaxLocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxLoc] ADD  CONSTRAINT [DF_tblSmTaxLoc_TaxLevel]  DEFAULT ((1)) FOR [TaxLevel]
GO
ALTER TABLE [dbo].[tblSmTaxLoc] ADD  CONSTRAINT [DF_tblSmTaxLoc_TaxOnFreight]  DEFAULT ((0)) FOR [TaxOnFreight]
GO
ALTER TABLE [dbo].[tblSmTaxLoc] ADD  CONSTRAINT [DF_tblSmTaxLoc_TaxOnMisc]  DEFAULT ((0)) FOR [TaxOnMisc]
GO
ALTER TABLE [dbo].[tblSmTaxLoc] ADD  CONSTRAINT [DF_tblSmTaxLoc_IgnoreExpAcctYn]  DEFAULT ((0)) FOR [IgnoreExpAcctYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxLoc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxLoc'
GO
