USE [005]
GO
/****** Object:  Table [dbo].[tblInHistDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInHistDetail](
	[HistSeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HistSeqNum_Rcpt] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemType] [tinyint] NULL,
	[LottedYN] [bit] NULL,
	[TransType] [tinyint] NULL,
	[SumYear] [smallint] NULL,
	[SumPeriod] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[AppId] [nvarchar](10) NOT NULL,
	[BatchId] [dbo].[pBatchID] NULL,
	[TransId] [nvarchar](255) NULL,
	[RefId] [nvarchar](15) NULL,
	[SrceID] [nvarchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[Uom] [dbo].[pUom] NULL,
	[UomBase] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDecimal] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[CostExt] [dbo].[pDecimal] NOT NULL,
	[CostStd] [dbo].[pDecimal] NOT NULL,
	[PriceExt] [dbo].[pDecimal] NOT NULL,
	[CostUnit] [dbo].[pDecimal] NOT NULL,
	[PriceUnit] [dbo].[pDecimal] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[Qty_Invc] [dbo].[pDecimal] NOT NULL,
	[CostExt_Invc] [dbo].[pDecimal] NOT NULL,
	[DropShipYn] [bit] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[CF] [xml] NULL,
	[CostExtACV] [dbo].[pDecimal] NOT NULL,
	[CostUnitACV] [dbo].[pDecimal] NOT NULL,
	[DeleteDate] [datetime] NULL,
	[EnteredBy] [dbo].[pUserID] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[PreAvgCost] [dbo].[pDecimal] NULL,
	[PreAvgCostACV] [dbo].[pDecimal] NULL,
	[PreQtyOnHand] [dbo].[pDecimal] NULL,
	[Status] [tinyint] NOT NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblInHistDetail] PRIMARY KEY CLUSTERED 
(
	[HistSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInHistDetail_ItemIdLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInHistDetail_ItemIdLocId] ON [dbo].[tblInHistDetail]
(
	[ItemId] ASC,
	[LocId] ASC
)
INCLUDE([Source],[Qty],[CostUnit],[CostExt],[CostExtACV],[DeleteDate],[HistSeqNum_Rcpt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblInHistDetail_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInHistDetail_ID] ON [dbo].[tblInHistDetail]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_HistSeqNum_Rcpt]  DEFAULT ((0)) FOR [HistSeqNum_Rcpt]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_ItemType]  DEFAULT ((0)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_SumYear]  DEFAULT ((0)) FOR [SumYear]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_SumPeriod]  DEFAULT ((0)) FOR [SumPeriod]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_AppId]  DEFAULT ('IN') FOR [AppId]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostStd]  DEFAULT ((0)) FOR [CostStd]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_Qty_Invc]  DEFAULT ((0)) FOR [Qty_Invc]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostExt_Invc]  DEFAULT ((0)) FOR [CostExt_Invc]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_DropShipYn]  DEFAULT ((0)) FOR [DropShipYn]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostExtACV]  DEFAULT ((0)) FOR [CostExtACV]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_CostUnitACV]  DEFAULT ((0)) FOR [CostUnitACV]
GO
ALTER TABLE [dbo].[tblInHistDetail] ADD  CONSTRAINT [DF_tblInHistDetail_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInHistDetail'
GO
