USE [005]
GO
/****** Object:  Table [dbo].[tblArHistPmt]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistPmt](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[TransId] [dbo].[pTransID] NULL,
	[VoidYn] [bit] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[CheckNum] [dbo].[pCheckNum] NULL,
	[CcNum] [nvarchar](255) NULL,
	[CcHolder] [nvarchar](30) NULL,
	[BankID] [dbo].[pBankID] NULL,
	[DepNum] [nvarchar](25) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CcAuth] [nvarchar](255) NULL,
	[GLRecvAcct] [dbo].[pGlAcct] NULL,
	[PmtDate] [datetime] NULL,
	[DiffDisc] [dbo].[pDecimal] NULL,
	[DiffDiscFgn] [dbo].[pDecimal] NULL,
	[PmtAmt] [dbo].[pDecimal] NULL,
	[PmtAmtFgn] [dbo].[pDecimal] NULL,
	[PmtType] [tinyint] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[CalcGainLoss] [dbo].[pDecimal] NULL,
	[SumHistPeriod] [smallint] NULL,
	[BankName] [nvarchar](30) NULL,
	[BankRoutingCode] [nvarchar](9) NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[RecType] [tinyint] NOT NULL,
	[CcExpire] [datetime] NULL,
	[Note] [nvarchar](25) NULL,
	[GlAcctGainLoss] [dbo].[pGlAcct] NULL,
	[GlAcctDebit] [dbo].[pGlAcct] NULL,
	[PostDate] [datetime] NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
	[AdjAmt] [dbo].[pDecimal] NOT NULL,
	[AdjAmtFgn] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblArHistPmt] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustId] ON [dbo].[tblArHistPmt]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_PmtDate]  DEFAULT (getdate()) FOR [PmtDate]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_DiffDisc]  DEFAULT ((0)) FOR [DiffDisc]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_DiffDiscFgn]  DEFAULT ((0)) FOR [DiffDiscFgn]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_PmtAmt]  DEFAULT ((0)) FOR [PmtAmt]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_PmtAmtFgn]  DEFAULT ((0)) FOR [PmtAmtFgn]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_PmtType]  DEFAULT ((1)) FOR [PmtType]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_CalcGainLoss]  DEFAULT ((0)) FOR [CalcGainLoss]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_SumHistPeriod]  DEFAULT ((1)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_RecType]  DEFAULT ((0)) FOR [RecType]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_AdjAmt]  DEFAULT ((0)) FOR [AdjAmt]
GO
ALTER TABLE [dbo].[tblArHistPmt] ADD  CONSTRAINT [DF_tblArHistPmt_AdjAmtFgn]  DEFAULT ((0)) FOR [AdjAmtFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistPmt'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistPmt'
GO
