USE [005]
GO
/****** Object:  Table [dbo].[tblCmCampaign]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmCampaign](
	[ID] [bigint] NOT NULL,
	[Descr] [dbo].[pDescription] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Cost] [dbo].[pDecimal] NOT NULL,
	[Pieces] [dbo].[pDecimal] NOT NULL,
	[ProjectDetailID] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCmCampaign] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblCmCampaign_Descr]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblCmCampaign_Descr] ON [dbo].[tblCmCampaign]
(
	[Descr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmCampaign] ADD  CONSTRAINT [DF_tblCmCampaign_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblCmCampaign] ADD  CONSTRAINT [DF_tblCmCampaign_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[tblCmCampaign] ADD  CONSTRAINT [DF_tblCmCampaign_Pieces]  DEFAULT ((0)) FOR [Pieces]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmCampaign'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmCampaign'
GO
