USE [005]
GO
/****** Object:  Table [dbo].[tblSoSaleBlanket]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoSaleBlanket](
	[BlanketRef] [int] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[BlanketId] [dbo].[pTransID] NOT NULL,
	[BlanketType] [smallint] NOT NULL,
	[BlanketStatus] [smallint] NOT NULL,
	[ExpireDate] [datetime] NULL,
	[CloseDate] [datetime] NULL,
	[ContractDate] [datetime] NULL,
	[ContractAmount] [dbo].[pDecimal] NOT NULL,
	[Freight] [dbo].[pDecimal] NOT NULL,
	[Misc] [dbo].[pDecimal] NOT NULL,
	[Subtotal] [dbo].[pDecimal] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[SoldToId] [dbo].[pCustID] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[CurrencyId] [dbo].[pCurrency] NULL,
	[CustLevel] [nvarchar](10) NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TaxableYN] [bit] NOT NULL,
	[TaxOnFreight] [bit] NOT NULL,
	[TaxClassFreight] [tinyint] NOT NULL,
	[TaxClassMisc] [tinyint] NOT NULL,
	[TaxGrpId] [dbo].[pTaxLoc] NULL,
	[PODate] [datetime] NULL,
	[CustPONum] [nvarchar](25) NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipToPhone] [nvarchar](24) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[FreightTermID] [bigint] NULL,
	[FreightAccountNumber] [nvarchar](255) NULL,
	[DeliverySurcharge] [bit] NOT NULL,
	[ResidentialYN] [bit] NOT NULL,
	[GlobalLocationNumber] [nvarchar](13) NULL,
 CONSTRAINT [PK_tblSoSaleBlanket] PRIMARY KEY CLUSTERED 
(
	[BlanketRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSoSaleBlanket_BlanketIdBatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSoSaleBlanket_BlanketIdBatchId] ON [dbo].[tblSoSaleBlanket]
(
	[BlanketId] ASC,
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_BlanketType]  DEFAULT ((0)) FOR [BlanketType]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_BlanketStatus]  DEFAULT ((0)) FOR [BlanketStatus]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_ContractDate]  DEFAULT (getdate()) FOR [ContractDate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_ContractAmount]  DEFAULT ((0)) FOR [ContractAmount]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Subtotal]  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_TaxOnFreight]  DEFAULT ((1)) FOR [TaxOnFreight]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_PODate]  DEFAULT (getdate()) FOR [PODate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_DeliverySurcharge]  DEFAULT ((0)) FOR [DeliverySurcharge]
GO
ALTER TABLE [dbo].[tblSoSaleBlanket] ADD  CONSTRAINT [DF_tblSoSaleBlanket_ResidentialYN]  DEFAULT ((0)) FOR [ResidentialYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanket'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoSaleBlanket'
GO
