USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndReviewByCategory]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndReviewByCategory](
	[ReviewId] [bigint] NOT NULL,
	[ReviewTypeCatID] [bigint] NOT NULL,
	[Weight] [int] NOT NULL,
	[Rating] [decimal](10, 2) NOT NULL,
	[Score] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndReviewByCategory] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC,
	[ReviewTypeCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndReviewByCategory] ADD  CONSTRAINT [DF_tblHrIndReviewByCategory_Weight]  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[tblHrIndReviewByCategory] ADD  CONSTRAINT [DF_tblHrIndReviewByCategory_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[tblHrIndReviewByCategory] ADD  CONSTRAINT [DF_tblHrIndReviewByCategory_Score]  DEFAULT ((0)) FOR [Score]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndReviewByCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndReviewByCategory'
GO
