USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartnerOption]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartnerOption](
	[ID] [bigint] NOT NULL,
	[OptCode] [nvarchar](50) NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[OptGroupId] [bigint] NULL,
	[RecType] [smallint] NULL,
	[DispSeq] [int] NULL,
	[VisibleYN] [bit] NULL,
	[DefaultValue] [nvarchar](25) NULL,
	[MaxWidth] [int] NULL,
	[RequiredYn] [bit] NULL,
	[ValueListId] [nvarchar](25) NULL,
	[ReadOnlyYn] [bit] NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPartnerOption] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerOption'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartnerOption'
GO
