USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransHeader](
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[TransStatus] [tinyint] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[LastInvcDate] [datetime] NULL,
	[InvcAmount] [dbo].[pDecimal] NOT NULL,
	[InvcAmountFgn] [dbo].[pDecimal] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[DeptCode] [dbo].[pDeptID] NULL,
	[PrintLaborPrice] [tinyint] NULL,
	[PrintMatlPrice] [tinyint] NULL,
	[PrintOtherPrice] [tinyint] NULL,
	[PrintTextPrice] [tinyint] NULL,
	[PrintEstLaborPrice] [tinyint] NULL,
	[PrintEstMatlPrice] [tinyint] NULL,
	[PrintEstOtherPrice] [tinyint] NULL,
	[PrintEstTextPrice] [tinyint] NULL,
	[PrintEstSubtotals] [tinyint] NOT NULL,
	[PrintSubtotals] [tinyint] NOT NULL,
	[PrintEstTotals] [tinyint] NOT NULL,
	[PrintTotals] [tinyint] NOT NULL,
	[InvcFrom] [tinyint] NOT NULL,
	[JobTypeId] [nvarchar](6) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[BillToId] [dbo].[pCustID] NULL,
	[Contact] [nvarchar](25) NULL,
	[ShipToId] [dbo].[pCustID] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[NameplateDescr] [nvarchar](40) NULL,
	[JobDescr] [nvarchar](80) NULL,
	[EnteredBy] [dbo].[pUserID] NULL,
	[QuoteId] [dbo].[pTransID] NULL,
	[Priority] [nvarchar](2) NULL,
	[FailCode1] [nvarchar](6) NULL,
	[FailCode2] [nvarchar](6) NULL,
	[DetailPrice] [tinyint] NOT NULL,
	[FinalBillYn] [bit] NOT NULL,
	[QuoteValidDays] [int] NOT NULL,
	[WarrantyYn] [bit] NOT NULL,
	[OHJobYn] [bit] NOT NULL,
	[PriceFirstYn] [bit] NOT NULL,
	[OTFlag] [bit] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[SalesRepNotes] [text] NULL,
	[SpecialInst] [text] NULL,
	[ShopLocation] [nvarchar](80) NULL,
	[LocID] [dbo].[pLocID] NULL,
	[ReplItem] [dbo].[pItemID] NULL,
	[ReplItemDescr] [nvarchar](60) NULL,
	[ReplItemPrice] [dbo].[pDecimal] NOT NULL,
	[ShipNum] [nvarchar](18) NULL,
	[CustLevel] [nvarchar](10) NULL,
	[CustPONum] [nvarchar](25) NULL,
	[POReleaseNum] [nvarchar](25) NULL,
	[MiscNum] [nvarchar](25) NULL,
	[CurrencyId] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[QuoteAmt] [dbo].[pDecimal] NOT NULL,
	[QuoteAmtFgn] [dbo].[pDecimal] NOT NULL,
	[BudgetAmt] [dbo].[pDecimal] NOT NULL,
	[BudgetAmtFgn] [dbo].[pDecimal] NOT NULL,
	[TotEstAmt] [dbo].[pDecimal] NOT NULL,
	[TotEstAmtFgn] [dbo].[pDecimal] NOT NULL,
	[FreightBilled] [dbo].[pDecimal] NOT NULL,
	[FreightBilledFgn] [dbo].[pDecimal] NOT NULL,
	[FreightToBill] [dbo].[pDecimal] NOT NULL,
	[FreightToBillFgn] [dbo].[pDecimal] NOT NULL,
	[TotEstCost] [dbo].[pDecimal] NOT NULL,
	[TotEstCostFgn] [dbo].[pDecimal] NOT NULL,
	[DateConfirmedYn] [bit] NOT NULL,
	[PromiseDate] [datetime] NULL,
	[EstimateDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[EstCompleteDate] [datetime] NULL,
	[EstApprovedDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[FirstLaborDate] [datetime] NULL,
	[LastLaborDate] [datetime] NULL,
	[MatlPickDate] [datetime] NULL,
	[JobCloseDate] [datetime] NULL,
	[TransDate] [datetime] NOT NULL,
	[LostReasonCode] [nvarchar](6) NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxableYn] [bit] NULL,
	[TaxClassAdj] [tinyint] NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NULL,
	[SalesTax] [dbo].[pDecimal] NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TotNoTaxEstAmt] [dbo].[pDecimal] NULL,
	[TotNoTaxEstAmtFgn] [dbo].[pDecimal] NULL,
	[TotEst] [dbo].[pDecimal] NULL,
	[TotEstFgn] [dbo].[pDecimal] NULL,
	[TotEstTax] [dbo].[pDecimal] NULL,
	[TotEstTaxFgn] [dbo].[pDecimal] NULL,
	[CustDistCode] [dbo].[pDistCode] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[EquipmentID] [bigint] NULL,
 CONSTRAINT [PK_tblSrTransHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TransStatus]  DEFAULT ((0)) FOR [TransStatus]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_InvcAmount]  DEFAULT ((0)) FOR [InvcAmount]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_InvcAmountFgn]  DEFAULT ((0)) FOR [InvcAmountFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_PrintEstSubtotals]  DEFAULT ((1)) FOR [PrintEstSubtotals]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_PrintSubtotals]  DEFAULT ((1)) FOR [PrintSubtotals]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_PrintEstTotals]  DEFAULT ((1)) FOR [PrintEstTotals]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_PrintTotals]  DEFAULT ((1)) FOR [PrintTotals]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_DetailPrice]  DEFAULT ((1)) FOR [DetailPrice]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_FinalBillYn]  DEFAULT ((0)) FOR [FinalBillYn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_QuoteValidDays]  DEFAULT ((30)) FOR [QuoteValidDays]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_WarrantyYn]  DEFAULT ((0)) FOR [WarrantyYn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_OHJobYn]  DEFAULT ((0)) FOR [OHJobYn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_PriceFirstYn]  DEFAULT ((0)) FOR [PriceFirstYn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_OTFlag]  DEFAULT ((0)) FOR [OTFlag]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_ReplItemPrice]  DEFAULT ((0)) FOR [ReplItemPrice]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_QuoteAmt]  DEFAULT ((0)) FOR [QuoteAmt]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_QuoteAmtFgn]  DEFAULT ((0)) FOR [QuoteAmtFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_BudgetAmt]  DEFAULT ((0)) FOR [BudgetAmt]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_BudgetAmtFgn]  DEFAULT ((0)) FOR [BudgetAmtFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TotEstAmt]  DEFAULT ((0)) FOR [TotEstAmt]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TotEstAmtFgn]  DEFAULT ((0)) FOR [TotEstAmtFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_FreightBilled]  DEFAULT ((0)) FOR [FreightBilled]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_FreightBilledFgn]  DEFAULT ((0)) FOR [FreightBilledFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_FreightToBill]  DEFAULT ((0)) FOR [FreightToBill]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_FreightToBillFgn]  DEFAULT ((0)) FOR [FreightToBillFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TotEstCost]  DEFAULT ((0)) FOR [TotEstCost]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_TotEstCostFgn]  DEFAULT ((0)) FOR [TotEstCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransHeader] ADD  CONSTRAINT [DF_tblSrTransHeader_DateConfirmedYn]  DEFAULT ((0)) FOR [DateConfirmedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransHeader'
GO
