USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckEmplrCost]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckEmplrCost](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CheckId] [int] NOT NULL,
	[DeductionCode] [dbo].[pCode] NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[DeductionHours] [dbo].[pDecimal] NOT NULL,
	[DeductionAmount] [dbo].[pDecimal] NOT NULL,
	[DeductionBalance] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckEmplrCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPaCheckEmplrCost_CheckId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaCheckEmplrCost_CheckId] ON [dbo].[tblPaCheckEmplrCost]
(
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckEmplrCost] ADD  CONSTRAINT [DF_tblPaCheckEmplrCost_DeductionHours]  DEFAULT ((0)) FOR [DeductionHours]
GO
ALTER TABLE [dbo].[tblPaCheckEmplrCost] ADD  CONSTRAINT [DF_tblPaCheckEmplrCost_DeductionAmount]  DEFAULT ((0)) FOR [DeductionAmount]
GO
ALTER TABLE [dbo].[tblPaCheckEmplrCost] ADD  CONSTRAINT [DF_tblPaCheckEmplrCost_DeductionBalance]  DEFAULT ((0)) FOR [DeductionBalance]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckEmplrCost'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckEmplrCost'
GO
