USE [005]
GO
/****** Object:  Table [dbo].[tblSoPricePromo]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoPricePromo](
	[PromoId] [nvarchar](10) NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[PriceIdFrom] [nvarchar](10) NULL,
	[PriceIdThru] [nvarchar](10) NULL,
	[CustLevelFrom] [nvarchar](10) NULL,
	[CustLevelThru] [nvarchar](10) NULL,
	[ProductLineFrom] [nvarchar](12) NULL,
	[ProductLineThru] [nvarchar](12) NULL,
	[ItemIdFrom] [dbo].[pItemID] NULL,
	[ItemIdThru] [dbo].[pItemID] NULL,
	[UomFrom] [dbo].[pUom] NULL,
	[UomThru] [dbo].[pUom] NULL,
	[LocIdFrom] [dbo].[pLocID] NULL,
	[LocIdThru] [dbo].[pLocID] NULL,
	[UsrFld1From] [nvarchar](12) NULL,
	[UsrFld1Thru] [nvarchar](12) NULL,
	[UsrFld2From] [nvarchar](12) NULL,
	[UsrFld2Thru] [nvarchar](12) NULL,
	[PriceAdjBase] [tinyint] NOT NULL,
	[PriceAdjType] [tinyint] NOT NULL,
	[PriceAdjAmt] [dbo].[pDecimal] NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[WebOnlyYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoPricePromo] PRIMARY KEY CLUSTERED 
(
	[PromoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoPricePromo] ADD  CONSTRAINT [DF_tblSoPricePromo_PriceAdjBase]  DEFAULT ((0)) FOR [PriceAdjBase]
GO
ALTER TABLE [dbo].[tblSoPricePromo] ADD  CONSTRAINT [DF_tblSoPricePromo_PriceAdjType]  DEFAULT ((0)) FOR [PriceAdjType]
GO
ALTER TABLE [dbo].[tblSoPricePromo] ADD  CONSTRAINT [DF_tblSoPricePromo_PriceAdjAmt]  DEFAULT ((0)) FOR [PriceAdjAmt]
GO
ALTER TABLE [dbo].[tblSoPricePromo] ADD  CONSTRAINT [DF_tblSoPricePromo_WebOnlyYn]  DEFAULT ((0)) FOR [WebOnlyYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPricePromo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPricePromo'
GO
