USE [005]
GO
/****** Object:  Table [dbo].[tblPaW2MagMed]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaW2MagMed](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LineRecord] [nvarchar](2048) NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[State] [nvarchar](4) NULL,
	[Type] [nvarchar](2) NULL,
 CONSTRAINT [PK_tblPaW2MagMed] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaW2MagMed] ADD  CONSTRAINT [DF_tblPaW2MagMed_LineRecord]  DEFAULT ((0)) FOR [LineRecord]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2MagMed'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaW2MagMed'
GO
