USE [005]
GO
/****** Object:  Table [dbo].[tblMbAssemblyDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMbAssemblyDetail](
	[Id] [int] NOT NULL,
	[RoutingId] [int] NOT NULL,
	[HeaderId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[ComponentId] [dbo].[pItemID] NULL,
	[CompRevisionNo] [nvarchar](3) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[UOM] [dbo].[pUom] NULL,
	[UsageType] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[ScrapPct] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[DetailType] [tinyint] NOT NULL,
	[Backflushed] [bit] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[Description] [dbo].[pDescription] NULL,
 CONSTRAINT [PK_tblMbAssemblyDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMbAssemblyDetail_ComponentIDLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMbAssemblyDetail_ComponentIDLocId] ON [dbo].[tblMbAssemblyDetail]
(
	[ComponentId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMbAssemblyDetail_HeaderId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMbAssemblyDetail_HeaderId] ON [dbo].[tblMbAssemblyDetail]
(
	[HeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMbAssemblyDetail_RoutingIdSequence]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMbAssemblyDetail_RoutingIdSequence] ON [dbo].[tblMbAssemblyDetail]
(
	[RoutingId] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMbAssemblyDetail] ADD  CONSTRAINT [DF_tblMbAssemblyDetail_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblMbAssemblyDetail] ADD  CONSTRAINT [DF_tblMbAssemblyDetail_ScrapPct]  DEFAULT ((0)) FOR [ScrapPct]
GO
ALTER TABLE [dbo].[tblMbAssemblyDetail] ADD  CONSTRAINT [DF_tblMbAssemblyDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyDetail'
GO
