USE [005]
GO
/****** Object:  Table [dbo].[tblPcOhAlloc]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcOhAlloc](
	[OhAllCode] [nvarchar](6) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Hours] [dbo].[pDecimal] NOT NULL,
	[Time] [dbo].[pDecimal] NOT NULL,
	[Material] [dbo].[pDecimal] NOT NULL,
	[Expense] [dbo].[pDecimal] NOT NULL,
	[Other] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcOhAlloc] PRIMARY KEY CLUSTERED 
(
	[OhAllCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcOhAlloc] ADD  CONSTRAINT [DF_tblPcOhAlloc_Hours]  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[tblPcOhAlloc] ADD  CONSTRAINT [DF_tblPcOhAlloc_Time]  DEFAULT ((0)) FOR [Time]
GO
ALTER TABLE [dbo].[tblPcOhAlloc] ADD  CONSTRAINT [DF_tblPcOhAlloc_Material]  DEFAULT ((0)) FOR [Material]
GO
ALTER TABLE [dbo].[tblPcOhAlloc] ADD  CONSTRAINT [DF_tblPcOhAlloc_Expense]  DEFAULT ((0)) FOR [Expense]
GO
ALTER TABLE [dbo].[tblPcOhAlloc] ADD  CONSTRAINT [DF_tblPcOhAlloc_Other]  DEFAULT ((0)) FOR [Other]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcOhAlloc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcOhAlloc'
GO
