USE [005]
GO
/****** Object:  Table [dbo].[tblSrStaticSchedule]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrStaticSchedule](
	[ScheduleId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[ActiveYn] [bit] NOT NULL,
	[PreReqWorkTypeCompleted] [bit] NOT NULL,
	[ScheduleStaticDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrStaticSchedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrStaticSchedule] ADD  CONSTRAINT [DF_tblSrStaticSchedule_ActiveYn]  DEFAULT ((0)) FOR [ActiveYn]
GO
ALTER TABLE [dbo].[tblSrStaticSchedule] ADD  CONSTRAINT [DF_tblSrStaticSchedule_PreReqWorkTypeCompleted]  DEFAULT ((0)) FOR [PreReqWorkTypeCompleted]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrStaticSchedule'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrStaticSchedule'
GO
