USE [005]
GO
/****** Object:  Table [dbo].[tblSmFreightTerm]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmFreightTerm](
	[ID] [bigint] NOT NULL,
	[Description] [dbo].[pDescription] NOT NULL,
	[FreightPaidBy] [tinyint] NOT NULL,
	[UseCalculateFreight] [bit] NOT NULL,
	[FreightAdjustType] [tinyint] NOT NULL,
	[FreightAdjustAmount] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CalculateFreightOption] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblSmFreightTerm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmFreightTerm_Description]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblSmFreightTerm_Description] ON [dbo].[tblSmFreightTerm]
(
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmFreightTerm] ADD  CONSTRAINT [DF_tblSmFreightTerm_FreightPaidBy]  DEFAULT ((0)) FOR [FreightPaidBy]
GO
ALTER TABLE [dbo].[tblSmFreightTerm] ADD  CONSTRAINT [DF_tblSmFreightTerm_UseCalculateFreight]  DEFAULT ((0)) FOR [UseCalculateFreight]
GO
ALTER TABLE [dbo].[tblSmFreightTerm] ADD  CONSTRAINT [DF_tblSmFreightTerm_FreightAdjustType]  DEFAULT ((0)) FOR [FreightAdjustType]
GO
ALTER TABLE [dbo].[tblSmFreightTerm] ADD  CONSTRAINT [DF_tblSmFreightTerm_FreightAdjustAmount]  DEFAULT ((0)) FOR [FreightAdjustAmount]
GO
ALTER TABLE [dbo].[tblSmFreightTerm] ADD  CONSTRAINT [DF_tblSmFreightTerm_CalculateFreightOption]  DEFAULT ((0)) FOR [CalculateFreightOption]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmFreightTerm'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmFreightTerm'
GO
