USE [005]
GO
/****** Object:  Table [dbo].[tblSrMinMaxValues]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrMinMaxValues](
	[Id] [bigint] NOT NULL,
	[TableId] [nvarchar](25) NOT NULL,
	[Code] [nvarchar](25) NOT NULL,
	[MinValue] [dbo].[pDecimal] NOT NULL,
	[MaxValue] [dbo].[pDecimal] NOT NULL,
	[Unit] [dbo].[pUom] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrMinMaxValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrMinMaxValues] ADD  CONSTRAINT [DF_tblSrMinMaxValues_MinValue]  DEFAULT ((0)) FOR [MinValue]
GO
ALTER TABLE [dbo].[tblSrMinMaxValues] ADD  CONSTRAINT [DF_tblSrMinMaxValues_MaxValue]  DEFAULT ((0)) FOR [MaxValue]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrMinMaxValues'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrMinMaxValues'
GO
