USE [005]
GO
/****** Object:  Table [dbo].[tblSmItem]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmItem](
	[ItemCode] [dbo].[pItemID] NOT NULL,
	[Desc] [nvarchar](35) NULL,
	[GLAcctExp] [dbo].[pGlAcct] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCogs] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Units] [dbo].[pUom] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitPrice] [dbo].[pDecimal] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmItem] PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmItem] ADD  CONSTRAINT [DF_tblSmItem_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblSmItem] ADD  CONSTRAINT [DF_tblSmItem_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSmItem] ADD  CONSTRAINT [DF_tblSmItem_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmItem'
GO
