USE [005]
GO
/****** Object:  Table [dbo].[tblDRRunData]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDRRunData](
	[RunId] [dbo].[pPostRun] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[TransType] [tinyint] NOT NULL,
	[Source] [smallint] NOT NULL,
	[VirtualYn] [bit] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[LinkID] [nchar](2) NULL,
	[LinkIDSub] [nvarchar](255) NULL,
	[LinkIDSubLine] [int] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[AssemblyId] [dbo].[pItemID] NULL,
	[AssemblyLocId] [dbo].[pLocID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[GeneratedTransYn] [bit] NOT NULL,
 CONSTRAINT [PK_tblDrRunData] PRIMARY KEY CLUSTERED 
(
	[RunId] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDRRunData] ADD  CONSTRAINT [DF_tblDrRunData_VirtualYn]  DEFAULT ((0)) FOR [VirtualYn]
GO
ALTER TABLE [dbo].[tblDRRunData] ADD  CONSTRAINT [DF_tblDrRunData_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblDRRunData] ADD  CONSTRAINT [DF_tblDRRunData_GeneratedTransYn]  DEFAULT ((0)) FOR [GeneratedTransYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDRRunData'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDRRunData'
GO
