USE [005]
GO
/****** Object:  Table [dbo].[tblEcTempImport]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcTempImport](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImportBatchId] [nvarchar](14) NULL,
	[RunCommand] [nvarchar](20) NULL,
	[ImportDate] [datetime] NULL,
	[FileSeq] [int] NULL,
	[RecSeq] [int] NULL,
	[DocId] [bigint] NULL,
	[MapId] [nvarchar](20) NULL,
	[Fld01] [nvarchar](80) NULL,
	[Fld02] [nvarchar](80) NULL,
	[Fld03] [nvarchar](80) NULL,
	[Fld04] [nvarchar](80) NULL,
	[Fld05] [nvarchar](80) NULL,
	[Fld06] [nvarchar](80) NULL,
	[Fld07] [nvarchar](80) NULL,
	[Fld08] [nvarchar](80) NULL,
	[Fld09] [nvarchar](80) NULL,
	[Fld10] [nvarchar](80) NULL,
	[Fld11] [nvarchar](80) NULL,
	[Fld12] [nvarchar](80) NULL,
	[Fld13] [nvarchar](80) NULL,
	[Fld14] [nvarchar](80) NULL,
	[Fld15] [nvarchar](80) NULL,
	[Fld16] [nvarchar](80) NULL,
	[Fld17] [nvarchar](80) NULL,
	[Fld18] [nvarchar](80) NULL,
	[Fld19] [nvarchar](80) NULL,
	[Fld20] [nvarchar](80) NULL,
	[Fld21] [nvarchar](80) NULL,
	[Fld22] [nvarchar](80) NULL,
	[Fld23] [nvarchar](80) NULL,
	[Fld24] [nvarchar](80) NULL,
	[Fld25] [nvarchar](80) NULL,
	[Fld26] [nvarchar](80) NULL,
	[Fld27] [nvarchar](80) NULL,
	[Fld28] [nvarchar](80) NULL,
	[Fld29] [nvarchar](80) NULL,
	[Fld30] [nvarchar](256) NULL,
	[Fld31] [nvarchar](80) NULL,
	[Fld32] [nvarchar](80) NULL,
	[Fld33] [nvarchar](80) NULL,
	[Fld34] [nvarchar](80) NULL,
	[Fld35] [nvarchar](80) NULL,
	[Fld36] [nvarchar](80) NULL,
	[Fld37] [nvarchar](80) NULL,
	[Fld38] [nvarchar](80) NULL,
	[Fld39] [nvarchar](80) NULL,
	[Fld40] [nvarchar](80) NULL,
	[Fld41] [nvarchar](80) NULL,
	[Fld42] [nvarchar](80) NULL,
	[Fld43] [nvarchar](80) NULL,
	[Fld44] [nvarchar](80) NULL,
	[Fld45] [nvarchar](80) NULL,
	[Fld46] [nvarchar](80) NULL,
	[Fld47] [nvarchar](80) NULL,
	[Fld48] [nvarchar](80) NULL,
	[Fld49] [nvarchar](80) NULL,
	[Fld50] [nvarchar](80) NULL,
	[Fld51] [nvarchar](80) NULL,
	[Fld52] [nvarchar](80) NULL,
	[Fld53] [nvarchar](80) NULL,
	[Fld54] [nvarchar](80) NULL,
	[Fld55] [nvarchar](80) NULL,
	[Fld56] [nvarchar](80) NULL,
	[Fld57] [nvarchar](80) NULL,
	[Fld58] [nvarchar](80) NULL,
	[Fld59] [nvarchar](80) NULL,
	[Fld60] [nvarchar](80) NULL,
	[Fld61] [nvarchar](80) NULL,
	[Fld62] [nvarchar](80) NULL,
	[Fld63] [nvarchar](80) NULL,
	[Fld64] [nvarchar](80) NULL,
	[Fld65] [nvarchar](80) NULL,
	[Fld66] [nvarchar](80) NULL,
	[Fld67] [nvarchar](80) NULL,
	[Fld68] [nvarchar](80) NULL,
	[Fld69] [nvarchar](80) NULL,
	[Fld70] [nvarchar](80) NULL,
	[Fld71] [nvarchar](80) NULL,
	[Fld72] [nvarchar](80) NULL,
	[Fld73] [nvarchar](80) NULL,
	[Fld74] [nvarchar](80) NULL,
	[Fld75] [nvarchar](80) NULL,
	[Fld76] [nvarchar](80) NULL,
	[Fld77] [nvarchar](80) NULL,
	[Fld78] [nvarchar](80) NULL,
	[Fld79] [nvarchar](80) NULL,
	[Fld80] [nvarchar](80) NULL,
	[Fld81] [nvarchar](80) NULL,
	[Fld82] [nvarchar](80) NULL,
	[Fld83] [nvarchar](80) NULL,
	[Fld84] [nvarchar](80) NULL,
	[Fld85] [nvarchar](80) NULL,
	[Fld86] [nvarchar](80) NULL,
	[Fld87] [nvarchar](80) NULL,
	[Fld88] [nvarchar](80) NULL,
	[Fld89] [nvarchar](80) NULL,
	[Fld90] [nvarchar](80) NULL,
	[Fld91] [nvarchar](80) NULL,
	[Fld92] [nvarchar](80) NULL,
	[Fld93] [nvarchar](80) NULL,
	[Fld94] [nvarchar](80) NULL,
	[Fld95] [nvarchar](80) NULL,
	[Fld96] [nvarchar](80) NULL,
	[Fld97] [nvarchar](80) NULL,
	[Fld98] [nvarchar](80) NULL,
	[Fld99] [nvarchar](80) NULL,
	[Fld100] [nvarchar](80) NULL,
	[Fld101] [nvarchar](80) NULL,
	[Fld102] [nvarchar](80) NULL,
	[Fld103] [nvarchar](80) NULL,
	[Fld104] [nvarchar](80) NULL,
	[Fld105] [nvarchar](80) NULL,
	[Fld106] [nvarchar](80) NULL,
	[Fld107] [nvarchar](80) NULL,
	[Fld108] [nvarchar](80) NULL,
	[Fld109] [nvarchar](80) NULL,
	[Fld110] [nvarchar](80) NULL,
	[Fld111] [nvarchar](80) NULL,
	[Fld112] [nvarchar](80) NULL,
	[Fld113] [nvarchar](80) NULL,
	[Fld114] [nvarchar](80) NULL,
	[Fld115] [nvarchar](80) NULL,
	[FileName] [nvarchar](255) NULL,
	[UserId] [dbo].[pUserID] NULL,
	[WrkStnId] [dbo].[pWrkStnID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcTempImport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcTempImport'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcTempImport'
GO
