USE [005]
GO
/****** Object:  Table [dbo].[tblPsFeature]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsFeature](
	[ID] [bigint] NOT NULL,
	[ReplaceID] [bigint] NULL,
	[Description] [dbo].[pDescription] NULL,
	[Order] [smallint] NOT NULL,
	[HideYn] [bit] NOT NULL,
	[Param] [nvarchar](255) NULL,
	[PluginName] [nvarchar](255) NULL,
	[AssemblyName] [nvarchar](255) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPsFeature] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPsFeature] ADD  CONSTRAINT [DF_tblPsFeature_Order]  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[tblPsFeature] ADD  CONSTRAINT [DF_tblPsFeature_HideYn]  DEFAULT ((0)) FOR [HideYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsFeature'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsFeature'
GO
