USE [005]
GO
/****** Object:  Table [dbo].[tblSysAlertsActionActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysAlertsActionActivity](
	[ID] [uniqueidentifier] NOT NULL,
	[AlertActionID] [uniqueidentifier] NOT NULL,
	[RunDate] [datetime] NULL,
	[OutputType] [tinyint] NOT NULL,
	[OutputStatus] [tinyint] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSysAlertsActionActivity] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysAlertsActionActivity] ADD  CONSTRAINT [DF_tblSysAlertsActionActivity_OutputType]  DEFAULT ((0)) FOR [OutputType]
GO
ALTER TABLE [dbo].[tblSysAlertsActionActivity] ADD  CONSTRAINT [DF_tblSysAlertsActionActivity_OutputStatus]  DEFAULT ((0)) FOR [OutputStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAlertsActionActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAlertsActionActivity'
GO
