USE [005]
GO
/****** Object:  Table [dbo].[tblArHistHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistHeader](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NULL,
	[VoidYn] [bit] NOT NULL,
	[BatchId] [dbo].[pBatchID] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ShipToID] [nvarchar](10) NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipToPhone] [nvarchar](24) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[TaxableYN] [bit] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[CredMemNum] [dbo].[pInvoiceNum] NULL,
	[PackNum] [dbo].[pInvoiceNum] NULL,
	[WhseId] [dbo].[pLocID] NULL,
	[OrderDate] [datetime] NULL,
	[ShipNum] [nvarchar](30) NULL,
	[ShipDate] [datetime] NULL,
	[InvcDate] [datetime] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[TaxOnFreight] [bit] NULL,
	[TaxClassFreight] [tinyint] NULL,
	[TaxClassMisc] [tinyint] NULL,
	[PostDate] [datetime] NULL,
	[FiscalYear] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TaxSubtotal] [dbo].[pDecimal] NULL,
	[NonTaxSubtotal] [dbo].[pDecimal] NULL,
	[SalesTax] [dbo].[pDecimal] NULL,
	[Freight] [dbo].[pDecimal] NULL,
	[Misc] [dbo].[pDecimal] NULL,
	[TotCost] [dbo].[pDecimal] NULL,
	[TotPmtAmt] [dbo].[pDecimal] NULL,
	[TaxSubtotalFgn] [dbo].[pDecimal] NULL,
	[NonTaxSubtotalFgn] [dbo].[pDecimal] NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NULL,
	[FreightFgn] [dbo].[pDecimal] NULL,
	[MiscFgn] [dbo].[pDecimal] NULL,
	[TotCostFgn] [dbo].[pDecimal] NULL,
	[TotPmtAmtFgn] [dbo].[pDecimal] NULL,
	[PrintStatus] [tinyint] NULL,
	[CustPONum] [nvarchar](25) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[CalcGainLoss] [dbo].[pDecimal] NULL,
	[TotPmtGainLoss] [dbo].[pDecimal] NULL,
	[DiscDueDate] [datetime] NULL,
	[NetDueDate] [datetime] NULL,
	[DiscAmt] [dbo].[pDecimal] NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NULL,
	[SumHistPeriod] [smallint] NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NULL,
	[TaxAdj] [tinyint] NULL,
	[TaxLocAdj] [nvarchar](10) NULL,
	[TaxClassAdj] [tinyint] NULL,
	[CustLevel] [nvarchar](10) NULL,
	[PODate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[PickNum] [nvarchar](15) NULL,
	[Source] [tinyint] NULL,
	[SourceInfo] [nvarchar](15) NULL,
	[BillingPeriodFrom] [datetime] NULL,
	[PMTransType] [nvarchar](4) NULL,
	[ProjItem] [nvarchar](4) NULL,
	[BillingPeriodThru] [datetime] NULL,
	[BillingFormat] [smallint] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[SoldToId] [dbo].[pCustID] NULL,
	[BlanketRef] [int] NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[ReturnDirectToStockYn] [bit] NOT NULL,
	[GLAcctReceivables] [dbo].[pGlAcct] NULL,
	[GLAcctSalesTax] [dbo].[pGlAcct] NULL,
	[GLAcctFreight] [dbo].[pGlAcct] NULL,
	[GLAcctMisc] [dbo].[pGlAcct] NULL,
	[GlAcctGainLoss] [dbo].[pGlAcct] NULL,
	[PrintOption] [nvarchar](255) NULL,
	[CF] [xml] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[HistID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[FreightTermID] [bigint] NULL,
	[FreightTerm] [nvarchar](255) NULL,
	[FreightAccountNumber] [nvarchar](255) NULL,
	[DeliverySurcharge] [bit] NOT NULL,
	[ResidentialYN] [bit] NOT NULL,
	[GlobalLocationNumber] [nvarchar](13) NULL,
	[TotalCharges] [dbo].[pDecimal] NOT NULL,
	[ActualWeight] [dbo].[pDecimal] NOT NULL,
	[ShipToFax] [nvarchar](15) NULL,
	[ShipToEmail] [dbo].[pEmail] NULL,
	[NumberOfPackage] [int] NULL,
	[ReqDeliveryDate] [datetime] NULL,
	[LongitudeCoordinates] [dbo].[pDecimal] NULL,
	[LatitudeCoordinates] [dbo].[pDecimal] NULL,
	[ValidAddress] [bit] NOT NULL,
	[GeneralDelivery] [bit] NOT NULL,
	[Hold] [bit] NOT NULL,
	[TSCommit] [bit] NOT NULL,
 CONSTRAINT [PK_tblArHistHeader] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArHistHeader_PostDate]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArHistHeader_PostDate] ON [dbo].[tblArHistHeader]
(
	[PostDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArHistHeader_SourceID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArHistHeader_SourceID] ON [dbo].[tblArHistHeader]
(
	[SourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustId] ON [dbo].[tblArHistHeader]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_InvcDate]  DEFAULT (getdate()) FOR [InvcDate]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxOnFreight]  DEFAULT ((1)) FOR [TaxOnFreight]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxSubtotal]  DEFAULT ((0)) FOR [TaxSubtotal]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_NonTaxSubtotal]  DEFAULT ((0)) FOR [NonTaxSubtotal]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotCost]  DEFAULT ((0)) FOR [TotCost]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotPmtAmt]  DEFAULT ((0)) FOR [TotPmtAmt]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxSubtotalFgn]  DEFAULT ((0)) FOR [TaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_NonTaxSubtotalFgn]  DEFAULT ((0)) FOR [NonTaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_MiscFgn]  DEFAULT ((0)) FOR [MiscFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotCostFgn]  DEFAULT ((0)) FOR [TotCostFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotPmtAmtFgn]  DEFAULT ((0)) FOR [TotPmtAmtFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_PrintStatus]  DEFAULT ((0)) FOR [PrintStatus]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_CalcGainLoss]  DEFAULT ((0)) FOR [CalcGainLoss]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotPmtGainLoss]  DEFAULT ((0)) FOR [TotPmtGainLoss]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_SumHistPeriod]  DEFAULT ((1)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxAmtAdjFgn]  DEFAULT ((0)) FOR [TaxAmtAdjFgn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxAdj]  DEFAULT ((1)) FOR [TaxAdj]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TaxClassAdj]  DEFAULT ((0)) FOR [TaxClassAdj]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_ReturnDirectToStockYn]  DEFAULT ((1)) FOR [ReturnDirectToStockYn]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_DeliverySurcharge]  DEFAULT ((0)) FOR [DeliverySurcharge]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_ResidentialYN]  DEFAULT ((0)) FOR [ResidentialYN]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TotalCharges]  DEFAULT ((0)) FOR [TotalCharges]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_ActualWeight]  DEFAULT ((0)) FOR [ActualWeight]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_GeneralDelivery]  DEFAULT ((0)) FOR [GeneralDelivery]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_Hold]  DEFAULT ((0)) FOR [Hold]
GO
ALTER TABLE [dbo].[tblArHistHeader] ADD  CONSTRAINT [DF_tblArHistHeader_TSCommit]  DEFAULT ((0)) FOR [TSCommit]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistHeader'
GO
