USE [005]
GO
/****** Object:  Table [dbo].[tblMbECONum]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMbECONum](
	[ECORef] [int] NOT NULL,
	[ECONum] [dbo].[pInvoiceNum] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Engineer] [nvarchar](20) NULL,
	[AssemblyId] [dbo].[pItemID] NULL,
	[CurrRevisionNo] [nvarchar](3) NULL,
	[NewRevisionNo] [nvarchar](3) NULL,
	[ECODate] [datetime] NULL,
	[EffectiveDate] [datetime] NULL,
	[TypeRef] [int] NULL,
	[StatusRef] [int] NULL,
	[Other] [nvarchar](20) NULL,
	[OtherDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMbECONum] PRIMARY KEY CLUSTERED 
(
	[ECORef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMbECONum_ECONum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMbECONum_ECONum] ON [dbo].[tblMbECONum]
(
	[ECONum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbECONum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbECONum'
GO
