USE [005]
GO
/****** Object:  Table [dbo].[tblInPhysCountBatch]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInPhysCountBatch](
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[LocIdFrom] [dbo].[pLocID] NULL,
	[LocIdThru] [dbo].[pLocID] NULL,
	[BinNumFrom] [nvarchar](10) NULL,
	[BinNumThru] [nvarchar](10) NULL,
	[ItemIdFrom] [dbo].[pItemID] NULL,
	[ItemIdThru] [dbo].[pItemID] NULL,
	[ProductLineFrom] [nvarchar](12) NULL,
	[ProductLineThru] [nvarchar](12) NULL,
	[UsrFld1From] [nvarchar](12) NULL,
	[UsrFld1Thru] [nvarchar](12) NULL,
	[UsrFld2From] [nvarchar](12) NULL,
	[UsrFld2Thru] [nvarchar](12) NULL,
	[UseTagNumbersYN] [bit] NULL,
	[ZeroQtyTagsYN] [bit] NULL,
	[DisplayFrozenQtyYN] [bit] NULL,
	[DfltCountedQtyYN] [bit] NULL,
	[EnterExceptionOnlyYN] [bit] NULL,
	[EnteredCountYN] [bit] NULL,
	[PrintVarReportYN] [bit] NULL,
	[PrintWorksheetYN] [bit] NULL,
	[PrintTagsYN] [bit] NULL,
	[FreezeDateTime] [datetime] NULL,
	[CountDate] [datetime] NULL,
	[SumYear] [smallint] NULL,
	[SumPeriod] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[LockedYn] [int] NULL,
	[zzEndingSequenceNumber] [dbo].[pDecimal] NULL,
	[PreparedYn] [bit] NOT NULL,
	[RptUom] [tinyint] NULL,
	[ABCClassFrom] [nvarchar](10) NULL,
	[ABCClassThru] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInPhysCountBatch] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_UseTagNumbersYN]  DEFAULT ((0)) FOR [UseTagNumbersYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_ZeroQtyTagsYN]  DEFAULT ((0)) FOR [ZeroQtyTagsYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_DisplayFrozenQtyYN]  DEFAULT ((0)) FOR [DisplayFrozenQtyYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_DfltCountedQtyYN]  DEFAULT ((0)) FOR [DfltCountedQtyYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_EnterExceptionOnlyYN]  DEFAULT ((0)) FOR [EnterExceptionOnlyYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_EnteredCountYN]  DEFAULT ((0)) FOR [EnteredCountYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_PrintVarReportYN]  DEFAULT ((0)) FOR [PrintVarReportYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_PrintWorksheetYN]  DEFAULT ((0)) FOR [PrintWorksheetYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_PrintTagsYN]  DEFAULT ((0)) FOR [PrintTagsYN]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_SumYear]  DEFAULT ((0)) FOR [SumYear]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_SumPeriod]  DEFAULT ((0)) FOR [SumPeriod]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_LockedYn]  DEFAULT ((0)) FOR [LockedYn]
GO
ALTER TABLE [dbo].[tblInPhysCountBatch] ADD  CONSTRAINT [DF_tblInPhysCountBatch_PreparedYn]  DEFAULT ((0)) FOR [PreparedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPhysCountBatch'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPhysCountBatch'
GO
