USE [005]
GO
/****** Object:  Table [dbo].[tblWmHistPhysicalCountDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmHistPhysicalCountDetail](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[CountDetailID] [bigint] NOT NULL,
	[HeaderID] [bigint] NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocB] [int] NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[QtyFrozen] [dbo].[pDecimal] NULL,
	[QtyCounted] [dbo].[pDecimal] NULL,
	[TagNum] [nvarchar](10) NULL,
	[NewExtLocAID] [nvarchar](10) NULL,
	[NewExtLocBID] [nvarchar](10) NULL,
	[QtyStatus] [smallint] NULL,
	[CF] [xml] NULL,
	[DetailType] [tinyint] NULL,
 CONSTRAINT [PK_tblWmHistPhysicalCountDetail] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[CountDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistPhysicalCountDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmHistPhysicalCountDetail'
GO
