USE [005]
GO
/****** Object:  Table [dbo].[tblSvWorkOrderTrans]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvWorkOrderTrans](
	[ID] [bigint] NOT NULL,
	[DispatchID] [bigint] NULL,
	[WorkOrderID] [bigint] NOT NULL,
	[TransType] [tinyint] NOT NULL,
	[ResourceID] [nvarchar](24) NULL,
	[LaborCode] [nvarchar](10) NULL,
	[Description] [dbo].[pDescription] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[EntryDate] [datetime] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[AdditionalDescription] [nvarchar](max) NULL,
	[QtyEstimated] [dbo].[pDecimal] NOT NULL,
	[QtyUsed] [dbo].[pDecimal] NOT NULL,
	[Unit] [nvarchar](5) NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[CostExt] [dbo].[pDecimal] NOT NULL,
	[PriceExt] [dbo].[pDecimal] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[GLAcctCredit] [dbo].[pGlAcct] NULL,
	[GLAcctDebit] [dbo].[pGlAcct] NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[HistSeqNum] [int] NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[QtySeqNum] [int] NULL,
	[LinkSeqNum] [int] NULL,
	[EntryNum] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BomId] [dbo].[pItemID] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[QuantityCmtdID] [bigint] NULL,
 CONSTRAINT [PK_tblSvWorkOrderTrans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DispatchID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DispatchID] ON [dbo].[tblSvWorkOrderTrans]
(
	[DispatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkOrderID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkOrderID] ON [dbo].[tblSvWorkOrderTrans]
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_QtyEstimated]  DEFAULT ((0)) FOR [QtyEstimated]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_QtyUsed]  DEFAULT ((0)) FOR [QtyUsed]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_Price]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
ALTER TABLE [dbo].[tblSvWorkOrderTrans] ADD  CONSTRAINT [DF_tblSvWorkOrderTrans_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvWorkOrderTrans'
GO
