USE [005]
GO
/****** Object:  Table [dbo].[tblMbAssemblyRouting]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMbAssemblyRouting](
	[Id] [int] NOT NULL,
	[HeaderId] [int] NOT NULL,
	[RtgType] [tinyint] NOT NULL,
	[Step] [int] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[SubContractorId] [dbo].[pVendorID] NULL,
	[SubUnitCost] [dbo].[pDecimal] NOT NULL,
	[OperationType] [tinyint] NOT NULL,
	[OperationId] [nvarchar](10) NULL,
	[WorkCenterId] [nvarchar](10) NULL,
	[LaborTypeId] [nvarchar](10) NULL,
	[SetupLaborTypeId] [nvarchar](10) NULL,
	[MachineGroupId] [nvarchar](10) NULL,
	[OverlapYn] [bit] NOT NULL,
	[Media] [nvarchar](10) NULL,
	[QueueTime] [dbo].[pDecimal] NOT NULL,
	[QueueTimeIn] [smallint] NOT NULL,
	[MachSetup] [dbo].[pDecimal] NOT NULL,
	[MachSetupIn] [smallint] NOT NULL,
	[LaborSetup] [dbo].[pDecimal] NOT NULL,
	[LaborSetupIn] [smallint] NOT NULL,
	[MachRunTime] [dbo].[pDecimal] NOT NULL,
	[MachRunTimeIn] [smallint] NOT NULL,
	[LaborRunTime] [dbo].[pDecimal] NOT NULL,
	[LaborRunTimeIn] [smallint] NOT NULL,
	[WaitTime] [dbo].[pDecimal] NOT NULL,
	[WaitTimeIn] [smallint] NOT NULL,
	[MoveTime] [dbo].[pDecimal] NOT NULL,
	[MoveTimeIn] [smallint] NOT NULL,
	[CostGroupId] [nvarchar](6) NULL,
	[MaxQuantity] [dbo].[pDecimal] NOT NULL,
	[YieldPct] [dbo].[pDecimal] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[OperatorCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblMbAssemblyRouting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMbAssemblyRouting_HeaderIdRtgTypeStep]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMbAssemblyRouting_HeaderIdRtgTypeStep] ON [dbo].[tblMbAssemblyRouting]
(
	[HeaderId] ASC,
	[RtgType] ASC,
	[Step] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_SubUnitCost]  DEFAULT ((0)) FOR [SubUnitCost]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_OverlapYn]  DEFAULT ((0)) FOR [OverlapYn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_QueueTime]  DEFAULT ((0)) FOR [QueueTime]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_QueueTimeIn]  DEFAULT ((1)) FOR [QueueTimeIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MachSetup]  DEFAULT ((0)) FOR [MachSetup]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MachSetupIn]  DEFAULT ((1)) FOR [MachSetupIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_LaborSetup]  DEFAULT ((0)) FOR [LaborSetup]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_LaborSetupIn]  DEFAULT ((1)) FOR [LaborSetupIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MachRunTime]  DEFAULT ((0)) FOR [MachRunTime]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MachRunTimeIn]  DEFAULT ((1)) FOR [MachRunTimeIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_LaborRunTime]  DEFAULT ((0)) FOR [LaborRunTime]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_LaborRunTimeIn]  DEFAULT ((1)) FOR [LaborRunTimeIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_WaitTime]  DEFAULT ((0)) FOR [WaitTime]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_WaitTimeIn]  DEFAULT ((1)) FOR [WaitTimeIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MoveTime]  DEFAULT ((0)) FOR [MoveTime]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MoveTimeIn]  DEFAULT ((1)) FOR [MoveTimeIn]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_MaxQuantity]  DEFAULT ((0)) FOR [MaxQuantity]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_YieldPct]  DEFAULT ((100)) FOR [YieldPct]
GO
ALTER TABLE [dbo].[tblMbAssemblyRouting] ADD  CONSTRAINT [DF_tblMbAssemblyRouting_OperatorCount]  DEFAULT ((0)) FOR [OperatorCount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyRouting'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMbAssemblyRouting'
GO
