USE [005]
GO
/****** Object:  Table [dbo].[tblSvHistoryWorkOrder]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvHistoryWorkOrder](
	[ID] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[WorkOrderNo] [dbo].[pTransID] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[CustID] [dbo].[pCustID] NULL,
	[SiteID] [dbo].[pLocID] NULL,
	[Attention] [nvarchar](30) NULL,
	[Address1] [nvarchar](30) NULL,
	[Address2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[TerrId] [nvarchar](10) NULL,
	[Phone1] [nvarchar](15) NULL,
	[Phone2] [nvarchar](15) NULL,
	[Phone3] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[Internet] [nvarchar](255) NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[BillingType] [nvarchar](10) NULL,
	[BillableYN] [bit] NOT NULL,
	[CustomerPoNumber] [nvarchar](25) NULL,
	[PODate] [datetime] NULL,
	[OriginalWorkOrder] [dbo].[pTransID] NULL,
	[BillByWorkOrder] [bit] NOT NULL,
	[FixedPrice] [bit] NOT NULL,
	[BillingFormat] [nvarchar](255) NULL,
	[ProjectID] [nvarchar](10) NULL,
	[PhaseID] [nvarchar](10) NULL,
	[TaskID] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[BillVia] [tinyint] NOT NULL,
	[ProjectCustID] [nvarchar](10) NULL,
	[ZoneCode] [nvarchar](10) NULL,
	[CategoryCode] [nvarchar](10) NULL,
	[CustLevel] [nvarchar](10) NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[PrefContact] [nvarchar](30) NULL,
	[PriceId] [nvarchar](10) NULL,
	[Taxable] [bit] NOT NULL,
	[TaxGroupId] [dbo].[pTaxLoc] NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[GeneralDelivery] [bit] NOT NULL,
	[LatitudeCoordinates] [dbo].[pDecimal] NULL,
	[LongitudeCoordinates] [dbo].[pDecimal] NULL,
	[ValidAddress] [bit] NOT NULL,
 CONSTRAINT [PK_tblSvHistoryWorkOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CustID] ON [dbo].[tblSvHistoryWorkOrder]
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_SiteID] ON [dbo].[tblSvHistoryWorkOrder]
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_WorkOrderNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [UX_WorkOrderNo] ON [dbo].[tblSvHistoryWorkOrder]
(
	[PostRun] ASC,
	[WorkOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvHistoryWorkOrder] ADD  CONSTRAINT [DF_tblSvHistoryWorkOrder_BillVia]  DEFAULT ((0)) FOR [BillVia]
GO
ALTER TABLE [dbo].[tblSvHistoryWorkOrder] ADD  CONSTRAINT [DF_tblSvHistoryWorkOrder_CustTaxable]  DEFAULT ((0)) FOR [Taxable]
GO
ALTER TABLE [dbo].[tblSvHistoryWorkOrder] ADD  CONSTRAINT [DF_tblSvHistoryWorkOrder_GeneralDelivery]  DEFAULT ((0)) FOR [GeneralDelivery]
GO
ALTER TABLE [dbo].[tblSvHistoryWorkOrder] ADD  CONSTRAINT [DF_tblSvHistoryWorkOrder_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvHistoryWorkOrder'
GO
