USE [005]
GO
/****** Object:  Table [dbo].[tblMrOperations]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrOperations](
	[OperationId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Type] [tinyint] NOT NULL,
	[MachineGroupId] [nvarchar](10) NULL,
	[WorkCenterId] [nvarchar](10) NULL,
	[LaborTypeId] [nvarchar](10) NULL,
	[SetupLaborTypeId] [nvarchar](10) NULL,
	[QueueTime] [dbo].[pDecimal] NOT NULL,
	[QueueTimeIn] [smallint] NOT NULL,
	[MachSetup] [dbo].[pDecimal] NOT NULL,
	[MachSetupIn] [smallint] NOT NULL,
	[LaborSetup] [dbo].[pDecimal] NOT NULL,
	[LaborSetupIn] [smallint] NOT NULL,
	[MachRunTime] [dbo].[pDecimal] NOT NULL,
	[MachRunTimeIn] [smallint] NOT NULL,
	[LaborRunTime] [dbo].[pDecimal] NOT NULL,
	[LaborRunTimeIn] [smallint] NOT NULL,
	[WaitTime] [dbo].[pDecimal] NOT NULL,
	[WaitTimeIn] [smallint] NOT NULL,
	[MoveTime] [dbo].[pDecimal] NOT NULL,
	[MoveTimeIn] [smallint] NOT NULL,
	[ReqEmployees] [tinyint] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[DfltTo] [bit] NOT NULL,
	[MaxQuantity] [dbo].[pDecimal] NOT NULL,
	[YieldPct] [dbo].[pDecimal] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrOperations] PRIMARY KEY CLUSTERED 
(
	[OperationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_QueueTime]  DEFAULT ((0)) FOR [QueueTime]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_MachSetup]  DEFAULT ((0)) FOR [MachSetup]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_LaborSetup]  DEFAULT ((0)) FOR [LaborSetup]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_MachRunTime]  DEFAULT ((0)) FOR [MachRunTime]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_LaborRunTime]  DEFAULT ((0)) FOR [LaborRunTime]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_WaitTime]  DEFAULT ((0)) FOR [WaitTime]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_MoveTime]  DEFAULT ((0)) FOR [MoveTime]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_ReqEmployees]  DEFAULT ((0)) FOR [ReqEmployees]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_DfltTo]  DEFAULT ((0)) FOR [DfltTo]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_MaxQuantity]  DEFAULT ((0)) FOR [MaxQuantity]
GO
ALTER TABLE [dbo].[tblMrOperations] ADD  CONSTRAINT [DF_tblMrOperations_YieldPct]  DEFAULT ((100)) FOR [YieldPct]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrOperations'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrOperations'
GO
