USE [005]
GO
/****** Object:  Table [dbo].[tblEpHCEmployer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpHCEmployer](
	[ID] [bigint] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[GovEntity] [nvarchar](1) NOT NULL,
	[ALEGroup] [nvarchar](1) NOT NULL,
	[SelfInsured] [nvarchar](1) NOT NULL,
	[QualifyingOfferMethod] [nvarchar](1) NOT NULL,
	[QOMTransitionRelief] [nvarchar](1) NOT NULL,
	[4980HTransitionRelief] [nvarchar](1) NOT NULL,
	[98PctOfferMethod] [nvarchar](1) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEpHCEmployer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEpHCEmployer_PaYear]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEpHCEmployer_PaYear] ON [dbo].[tblEpHCEmployer]
(
	[PaYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployer'
GO
