USE [005]
GO
/****** Object:  Table [dbo].[tblSoItemLocPrice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoItemLocPrice](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[CustLevel] [nvarchar](10) NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[PriceAdjBase] [tinyint] NULL,
	[PriceAdjType] [tinyint] NULL,
	[PriceAdjAmt] [dbo].[pDecimal] NULL,
	[PriceAdjPromoYn] [bit] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblSoItemLocPrice] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC,
	[CustLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblSoItemLocPrice_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSoItemLocPrice_ID] ON [dbo].[tblSoItemLocPrice]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoItemLocPrice] ADD  CONSTRAINT [DF_tblSoItemLocPrice_PriceAdjBase]  DEFAULT ((0)) FOR [PriceAdjBase]
GO
ALTER TABLE [dbo].[tblSoItemLocPrice] ADD  CONSTRAINT [DF_tblSoItemLocPrice_PriceAdjType]  DEFAULT ((0)) FOR [PriceAdjType]
GO
ALTER TABLE [dbo].[tblSoItemLocPrice] ADD  CONSTRAINT [DF_tblSoItemLocPrice_PriceAdjAmt]  DEFAULT ((0)) FOR [PriceAdjAmt]
GO
ALTER TABLE [dbo].[tblSoItemLocPrice] ADD  CONSTRAINT [DF_tblSoItemLocPrice_PriceAdjPromoYn]  DEFAULT ((0)) FOR [PriceAdjPromoYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoItemLocPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoItemLocPrice'
GO
