USE [005]
GO
/****** Object:  Table [dbo].[tblEcPartner]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPartner](
	[ID] [bigint] NOT NULL,
	[PartnerID] [nvarchar](12) NOT NULL,
	[PartnerName] [nvarchar](50) NOT NULL,
	[AccountNumber] [nvarchar](30) NULL,
	[DfltCustID] [dbo].[pCustID] NULL,
	[DfltVendorId] [dbo].[pVendorID] NULL,
	[DfltLocId] [dbo].[pLocID] NULL,
	[StartDate] [datetime] NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactPhone] [nvarchar](15) NULL,
	[ContactFax] [nvarchar](15) NULL,
	[ContactEmail] [dbo].[pEmail] NULL,
	[ContactWebSite] [dbo].[pWeb] NULL,
	[ISAControlNum] [int] NULL,
	[GSControlNum] [int] NULL,
	[STControlNum] [int] NULL,
	[ActiveYn] [bit] NULL,
	[PartnerType] [smallint] NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPartner_PartnerID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPartner_PartnerID] ON [dbo].[tblEcPartner]
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartner'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPartner'
GO
