USE [005]
GO
/****** Object:  Table [dbo].[tblSysUpdateActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysUpdateActivity](
	[ActivityId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UpdDate] [datetime] NOT NULL,
	[UName] [nvarchar](128) NOT NULL,
	[WrkStnID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_tblSysUpdateActivity] PRIMARY KEY NONCLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysUpdateActivity] ADD  CONSTRAINT [DF_tblSysUpdateActivity_UpdDate]  DEFAULT (getdate()) FOR [UpdDate]
GO
ALTER TABLE [dbo].[tblSysUpdateActivity] ADD  CONSTRAINT [DF_tblSysUpdateActivity_UName]  DEFAULT (suser_sname()) FOR [UName]
GO
ALTER TABLE [dbo].[tblSysUpdateActivity] ADD  CONSTRAINT [DF_tblSysUpdateActivity_WrkStnID]  DEFAULT (host_name()) FOR [WrkStnID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysUpdateActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysUpdateActivity'
GO
