USE [005]
GO
/****** Object:  Table [dbo].[tblEcPackHistDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPackHistDetail](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[ID] [bigint] NOT NULL,
	[PackHeaderID] [bigint] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransEntryNum] [int] NULL,
	[ItemID] [dbo].[pItemID] NULL,
	[ItemUom] [dbo].[pUom] NOT NULL,
	[CalcWeight] [dbo].[pDecimal] NOT NULL,
	[QtyPacked] [dbo].[pDecimal] NOT NULL,
	[WhslPrice] [dbo].[pDecimal] NOT NULL,
	[LottedYN] [bit] NULL,
	[LotNumber] [dbo].[pLotNum] NULL,
	[InItemYN] [bit] NULL,
	[ItemType] [tinyint] NULL,
	[AsnEntryNum] [smallint] NULL,
	[UserID] [dbo].[pUserID] NOT NULL,
	[WrkStnID] [dbo].[pWrkStnID] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[LotExpDate] [datetime] NULL,
	[PackagingType] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEcPackHistDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcPackHistDetail_PostRunPackHeaderIDEntryNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPackHistDetail_PostRunPackHeaderIDEntryNum] ON [dbo].[tblEcPackHistDetail]
(
	[PostRun] ASC,
	[PackHeaderID] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEcPackHistDetail] ADD  CONSTRAINT [DF_tblEcPackHistDetail_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblEcPackHistDetail] ADD  CONSTRAINT [DF_tblEcPackHistDetail_LottedYN]  DEFAULT ((0)) FOR [LottedYN]
GO
ALTER TABLE [dbo].[tblEcPackHistDetail] ADD  CONSTRAINT [DF_tblEcPackHistDetail_InItemYN]  DEFAULT ((0)) FOR [InItemYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackHistDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPackHistDetail'
GO
