USE [005]
GO
/****** Object:  Table [dbo].[tblInVendorItem]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInVendorItem](
	[ID] [bigint] NOT NULL,
	[ItemID] [dbo].[pItemID] NOT NULL,
	[VendorID] [dbo].[pVendorID] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[DefaultQtyStatus] [smallint] NULL,
	[PartNumber] [dbo].[pDescription] NULL,
	[LeadTime] [dbo].[pDecimal] NOT NULL,
	[Discount] [dbo].[pDecimal] NOT NULL,
	[Rating] [dbo].[pDescription] NULL,
	[ReviewDate] [datetime] NULL,
	[DefaultUom] [dbo].[pUom] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInVendorItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblInVendorItem_ItemIDVendorID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInVendorItem_ItemIDVendorID] ON [dbo].[tblInVendorItem]
(
	[ItemID] ASC,
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInVendorItem] ADD  CONSTRAINT [DF_tblInVendorItem_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblInVendorItem] ADD  CONSTRAINT [DF_tblInVendorItem_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblInVendorItem] ADD  CONSTRAINT [DF_tblInVendorItem_Discount]  DEFAULT ((0)) FOR [Discount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInVendorItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInVendorItem'
GO
