USE [005]
GO
/****** Object:  Table [dbo].[tblApPayment]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApPayment](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ControlID] [int] NOT NULL,
	[PmtType] [tinyint] NOT NULL,
	[PaymentNum] [dbo].[pCheckNum] NULL,
	[PaymentDate] [datetime] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[DeliveryType] [tinyint] NOT NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[RoutingCode] [nvarchar](9) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BankAccountType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblApPayment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblApPayment_ ControlID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPayment_ ControlID] ON [dbo].[tblApPayment]
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApPayment] ADD  CONSTRAINT [DF_tblApPayment_PmtType]  DEFAULT ((0)) FOR [PmtType]
GO
ALTER TABLE [dbo].[tblApPayment] ADD  CONSTRAINT [DF_tblApPayment_DeliveryType]  DEFAULT ((0)) FOR [DeliveryType]
GO
ALTER TABLE [dbo].[tblApPayment] ADD  CONSTRAINT [DF_tblApPayment_BankAccountType]  DEFAULT ((0)) FOR [BankAccountType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPayment'
GO
