USE [005]
GO
/****** Object:  Table [dbo].[tblSoPriceContractDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoPriceContractDetail](
	[SeqNum] [bigint] NOT NULL,
	[HeaderId] [bigint] NOT NULL,
	[BreakAmount] [dbo].[pDecimal] NOT NULL,
	[BreakUOM] [dbo].[pUom] NULL,
	[AdjustmentBase] [tinyint] NOT NULL,
	[AdjustmentType] [tinyint] NOT NULL,
	[AdjustmentAmount] [dbo].[pDecimal] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoPriceContractDetail] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSoPriceContractDetail_HeaderIdBreakAmtBreakUomItemLoc]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSoPriceContractDetail_HeaderIdBreakAmtBreakUomItemLoc] ON [dbo].[tblSoPriceContractDetail]
(
	[HeaderId] ASC,
	[BreakAmount] ASC,
	[BreakUOM] ASC,
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceContractDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPriceContractDetail'
GO
