USE [005]
GO
/****** Object:  Table [dbo].[tblSmAipActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmAipActivity](
	[ID] [bigint] NOT NULL,
	[EventID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[EntryDate] [datetime] NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[ActType] [tinyint] NOT NULL,
	[ActStatus] [tinyint] NOT NULL,
	[DocumentReference] [nvarchar](255) NULL,
	[ResponseCode] [nvarchar](10) NULL,
	[ResponseMessage] [nvarchar](max) NULL,
	[Response] [nvarchar](max) NULL,
	[PostData] [nvarchar](max) NULL,
	[RequestData] [nvarchar](max) NULL,
	[UserID] [nvarchar](20) NOT NULL,
	[WrkStnID] [nvarchar](20) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmAipActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSmAipActivity_ParentID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmAipActivity_ParentID] ON [dbo].[tblSmAipActivity]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmAipActivity] ADD  CONSTRAINT [DF_tblSmAipActivity_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmAipActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmAipActivity'
GO
