USE [005]
GO
/****** Object:  Table [dbo].[tblSmTaxServiceActivity]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTaxServiceActivity](
	[Id] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransCode] [nvarchar](255) NOT NULL,
	[Source] [nvarchar](2) NOT NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[SourceReference] [nvarchar](10) NULL,
	[DocumentReference] [nvarchar](25) NULL,
	[DocumentType] [smallint] NOT NULL,
	[TaxAmount] [dbo].[pDecimal] NOT NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[PostDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
	[SourceStatus] [smallint] NOT NULL,
	[ServiceStatus] [smallint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmTaxServiceActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmTaxServiceActivity_TransCode]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmTaxServiceActivity_TransCode] ON [dbo].[tblSmTaxServiceActivity]
(
	[TransCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSmTaxServiceActivity_PostRunSourceTransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSmTaxServiceActivity_PostRunSourceTransId] ON [dbo].[tblSmTaxServiceActivity]
(
	[PostRun] ASC,
	[Source] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmTaxServiceActivity] ADD  CONSTRAINT [DF_tblSmTaxServiceActivity_DocumentType]  DEFAULT ((1)) FOR [DocumentType]
GO
ALTER TABLE [dbo].[tblSmTaxServiceActivity] ADD  CONSTRAINT [DF_tblSmTaxServiceActivity_SourceStatus]  DEFAULT ((1)) FOR [SourceStatus]
GO
ALTER TABLE [dbo].[tblSmTaxServiceActivity] ADD  CONSTRAINT [DF_tblSmTaxServiceActivity_ServiceStatus]  DEFAULT ((1)) FOR [ServiceStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxServiceActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTaxServiceActivity'
GO
