USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransInvoiceTax]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransInvoiceTax](
	[TransId] [dbo].[pTransID] NOT NULL,
	[InvcNum] [dbo].[pInvoiceNum] NOT NULL,
	[TaxLocID] [dbo].[pTaxLoc] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[ExpAcct] [dbo].[pGlAcct] NOT NULL,
	[CurrTaxAmt] [dbo].[pDecimal] NULL,
	[CurrRefundable] [dbo].[pDecimal] NULL,
	[CurrTaxable] [dbo].[pDecimal] NULL,
	[CurrNonTaxable] [dbo].[pDecimal] NULL,
	[RefundAcct] [dbo].[pGlAcct] NULL,
	[CurrTaxAmtFgn] [dbo].[pDecimal] NULL,
	[CurrRefundableFgn] [dbo].[pDecimal] NULL,
	[CurrTaxableFgn] [dbo].[pDecimal] NULL,
	[CurrNonTaxableFgn] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
	[LiabilityAccount] [dbo].[pGlAcct] NULL,
 CONSTRAINT [PK_tblPoTransInvoiceTax] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[InvcNum] ASC,
	[TaxLocID] ASC,
	[TaxClass] ASC,
	[ExpAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrTaxAmt]  DEFAULT ((0)) FOR [CurrTaxAmt]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrRefundable]  DEFAULT ((0)) FOR [CurrRefundable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrTaxable]  DEFAULT ((0)) FOR [CurrTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrNonTaxable]  DEFAULT ((0)) FOR [CurrNonTaxable]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrTaxAmtFgn]  DEFAULT ((0)) FOR [CurrTaxAmtFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrRefundableFgn]  DEFAULT ((0)) FOR [CurrRefundableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrTaxableFgn]  DEFAULT ((0)) FOR [CurrTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_CurrNonTaxableFgn]  DEFAULT ((0)) FOR [CurrNonTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoTransInvoiceTax] ADD  CONSTRAINT [DF_tblPoTransInvoiceTax_TaxGroupType]  DEFAULT ((0)) FOR [TaxGroupType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoiceTax'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransInvoiceTax'
GO
