USE [005]
GO
/****** Object:  Table [dbo].[tblSrACSHistJobHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrACSHistJobHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobNbr] [dbo].[pTransID] NOT NULL,
	[DeptCode] [dbo].[pDeptID] NULL,
	[NamePlateDesc] [nvarchar](60) NULL,
	[CustomerNbr] [dbo].[pCustID] NULL,
	[ShipToNbr] [dbo].[pCustID] NULL,
	[JobTotal] [dbo].[pDecimal] NOT NULL,
	[BudgetAmt] [dbo].[pDecimal] NOT NULL,
	[ReceivedDate] [datetime] NULL,
	[PromiseDate] [datetime] NULL,
	[CompleteDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[InvoiceDate] [datetime] NULL,
	[CustomerPONbr] [nvarchar](30) NULL,
	[POReleaseNbr] [nvarchar](30) NULL,
	[TermsCode] [nvarchar](2) NULL,
	[SalesPersonCode] [nvarchar](3) NULL,
	[JobTypeCode] [nvarchar](2) NULL,
	[DetailPrintFlag] [nvarchar](1) NULL,
	[WarrantyYN] [bit] NOT NULL,
	[OHJobYN] [bit] NOT NULL,
	[PriceFirstYN] [bit] NOT NULL,
	[EstimateValidDays] [int] NOT NULL,
	[CustomerName] [nvarchar](40) NULL,
	[MiscNbr] [nvarchar](30) NULL,
	[QuoteNbr] [nvarchar](6) NULL,
	[JobQuoteDollars] [dbo].[pDecimal] NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[JobStatus] [nvarchar](50) NULL,
	[HoldFlag] [nvarchar](1) NULL,
	[MailToName] [nvarchar](40) NULL,
	[MailToAddr1] [nvarchar](30) NULL,
	[MailToAddr2] [nvarchar](30) NULL,
	[MailToCitySt] [nvarchar](20) NULL,
	[MailToZipCode] [nvarchar](9) NULL,
	[FaxToName] [nvarchar](30) NULL,
	[FaxToPhone] [nvarchar](15) NULL,
	[SpecialInst1] [nvarchar](60) NULL,
	[SpecialInst2] [nvarchar](60) NULL,
	[SpecialInst3] [nvarchar](60) NULL,
	[SpecialInst4] [nvarchar](60) NULL,
	[SpecialInst5] [nvarchar](60) NULL,
	[SpecialInst6] [nvarchar](60) NULL,
	[PrimaryLinkJob] [dbo].[pTransID] NULL,
	[SecondaryLinkJob1] [nvarchar](6) NULL,
	[SecondaryLinkJob2] [nvarchar](6) NULL,
	[SecondaryLinkJob3] [nvarchar](6) NULL,
	[SecondaryLinkJob4] [nvarchar](6) NULL,
	[SecondaryLinkJob5] [nvarchar](6) NULL,
	[SecondaryLinkJob6] [nvarchar](6) NULL,
	[SecondaryLinkJob7] [nvarchar](6) NULL,
	[SecondaryLinkJob8] [nvarchar](6) NULL,
	[SecondaryLinkJob9] [nvarchar](6) NULL,
	[SecondaryLinkJob10] [nvarchar](6) NULL,
	[ShipToName] [nvarchar](40) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](30) NULL,
	[ShipToCitySt] [nvarchar](30) NULL,
	[ShipToZipCode] [nvarchar](9) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShiptToState] [nvarchar](2) NULL,
	[ReplItemPrice] [dbo].[pDecimal] NOT NULL,
	[OTFlagYn] [bit] NOT NULL,
	[EstCompleteDate] [datetime] NULL,
	[EstApprovedDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[FirstLaborDate] [datetime] NULL,
	[LastLaborDate] [datetime] NULL,
	[JobDesc] [nvarchar](40) NULL,
	[PriorityCode] [nvarchar](2) NULL,
	[FailureCode1] [nvarchar](4) NULL,
	[FailureCode2] [nvarchar](4) NULL,
	[Location] [nvarchar](15) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TakenBy] [nvarchar](3) NULL,
	[MatPickListDate] [datetime] NULL,
	[MotorID] [nvarchar](20) NULL,
	[FollowUpDate] [datetime] NULL,
	[Division] [nvarchar](2) NULL,
	[ClosedDate] [datetime] NULL,
	[ReplItem] [nvarchar](20) NULL,
	[ReplItemDesc] [nvarchar](60) NULL,
	[SRJobDistCode] [nvarchar](2) NULL,
	[SRJobDistCodeDesc] [nvarchar](30) NULL,
	[DeptDesc] [nvarchar](30) NULL,
	[SalesPersonDesc] [nvarchar](20) NULL,
	[JobTypeDesc] [nvarchar](30) NULL,
	[PriorityDesc] [nvarchar](30) NULL,
	[FailureCode1Desc] [nvarchar](30) NULL,
	[FailureCode2Desc] [nvarchar](30) NULL,
	[JobNotes] [nvarchar](max) NULL,
	[InvoiceNbr] [nvarchar](7) NULL,
	[EstimateLaborHrs] [dbo].[pDecimal] NOT NULL,
	[EstimateTotalCost] [dbo].[pDecimal] NOT NULL,
	[EstimateLaborCost] [dbo].[pDecimal] NOT NULL,
	[EstimateMatCost] [dbo].[pDecimal] NOT NULL,
	[EstimateOtherCost] [dbo].[pDecimal] NOT NULL,
	[EstimateTotalPrice] [dbo].[pDecimal] NOT NULL,
	[EstimateLaborPrice] [dbo].[pDecimal] NOT NULL,
	[EstimateMatPrice] [dbo].[pDecimal] NOT NULL,
	[EstimateOtherPrice] [dbo].[pDecimal] NOT NULL,
	[ActualLaborTotHrs] [dbo].[pDecimal] NOT NULL,
	[ActualLaborRegHrs] [dbo].[pDecimal] NOT NULL,
	[ActualLaborOTHrs] [dbo].[pDecimal] NOT NULL,
	[ActualLaborDTHrs] [dbo].[pDecimal] NOT NULL,
	[ActualTotalCost] [dbo].[pDecimal] NOT NULL,
	[ActualLaborCost] [dbo].[pDecimal] NOT NULL,
	[ActualLaborBrdCost] [dbo].[pDecimal] NOT NULL,
	[ActualLaborTotCost] [dbo].[pDecimal] NOT NULL,
	[ActualMatCost] [dbo].[pDecimal] NOT NULL,
	[ActualMatBrdCost] [dbo].[pDecimal] NOT NULL,
	[ActualMatTotCost] [dbo].[pDecimal] NOT NULL,
	[InvoicedTotalDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedJobLaborDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedJobMatDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedOtherDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedFreightDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedTaxDollars] [dbo].[pDecimal] NOT NULL,
	[InvoicedDiscount] [dbo].[pDecimal] NOT NULL,
	[InvoicedTotalCost] [dbo].[pDecimal] NOT NULL,
	[InvoicedJobLaborCost] [dbo].[pDecimal] NOT NULL,
	[InvoicedJobMatCost] [dbo].[pDecimal] NOT NULL,
	[InvoicedJobCloseCost] [dbo].[pDecimal] NOT NULL,
	[InvoicedOtherCost] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrACSHistJobHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistJobHeader'
GO
