USE [005]
GO
/****** Object:  Table [dbo].[tblArPaymentACH]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArPaymentACH](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BankID] [dbo].[pBankID] NULL,
	[TransmitDate] [datetime] NULL,
	[CustID] [dbo].[pCustID] NULL,
	[CustomerName] [nvarchar](30) NULL,
	[CustomerBankName] [nvarchar](30) NULL,
	[CustomerRoutingCode] [nvarchar](9) NULL,
	[CustomerAccountNumber] [nvarchar](255) NULL,
	[CustomerAcctType] [tinyint] NOT NULL,
	[PaymentAmount] [dbo].[pDecimal] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[TransID] [dbo].[pTransID] NULL,
	[TransactionType] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblArPaymentACH] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArPaymentACH] ADD  CONSTRAINT [DF_tblArPaymentACH_CustomerAcctType]  DEFAULT ((0)) FOR [CustomerAcctType]
GO
ALTER TABLE [dbo].[tblArPaymentACH] ADD  CONSTRAINT [DF_tblArPaymentACH_PaymentAmount]  DEFAULT ((0)) FOR [PaymentAmount]
GO
ALTER TABLE [dbo].[tblArPaymentACH] ADD  CONSTRAINT [DF_tblArPaymentACH_TransactionType]  DEFAULT ((0)) FOR [TransactionType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArPaymentACH'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArPaymentACH'
GO
