USE [005]
GO
/****** Object:  Table [dbo].[tblMrLabor]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrLabor](
	[LaborTypeId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[HourlyRate] [dbo].[pDecimal] NOT NULL,
	[ScheduleId] [nvarchar](10) NULL,
	[BillRate] [dbo].[pDecimal] NOT NULL,
	[BillMethod] [tinyint] NOT NULL,
	[GLAcct1] [dbo].[pGlAcct] NULL,
	[PerPieceCost] [dbo].[pDecimal] NOT NULL,
	[MGID] [nvarchar](10) NULL,
	[CostGroupID] [nvarchar](6) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrLabor] PRIMARY KEY CLUSTERED 
(
	[LaborTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblMrLabor_CostGroupID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMrLabor_CostGroupID] ON [dbo].[tblMrLabor]
(
	[CostGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrLabor] ADD  CONSTRAINT [DF_tblMrLabor_HourlyRate]  DEFAULT ((0)) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[tblMrLabor] ADD  CONSTRAINT [DF_tblMrLabor_BillRate]  DEFAULT ((0)) FOR [BillRate]
GO
ALTER TABLE [dbo].[tblMrLabor] ADD  CONSTRAINT [DF_tblMrLabor_BillMethod]  DEFAULT ((0)) FOR [BillMethod]
GO
ALTER TABLE [dbo].[tblMrLabor] ADD  CONSTRAINT [DF_tblMrLabor_PerPieceCost]  DEFAULT ((0)) FOR [PerPieceCost]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrLabor'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrLabor'
GO
