USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransDetailLandedCost]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransDetailLandedCost](
	[LCTransSeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[CostType] [tinyint] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[Level] [tinyint] NOT NULL,
	[CalcAmount] [dbo].[pDecimal] NOT NULL,
	[LCDtlSeqNum] [int] NOT NULL,
	[CF] [xml] NULL,
	[ShipmentID] [bigint] NULL,
	[EstimatedAmount] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblPoTransDetailLandedCost] PRIMARY KEY CLUSTERED 
(
	[LCTransSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UI_tblPoTransDetailLandedCost_TransIDEntryNumLCTransSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UI_tblPoTransDetailLandedCost_TransIDEntryNumLCTransSeqNum] ON [dbo].[tblPoTransDetailLandedCost]
(
	[TransID] ASC,
	[EntryNum] ASC,
	[LCTransSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransDetailLandedCost] ADD  CONSTRAINT [DF_tblPoTransDetailLandedCost_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblPoTransDetailLandedCost] ADD  CONSTRAINT [DF_tblPoTransDetailLandedCost_CalcAmount]  DEFAULT ((0)) FOR [CalcAmount]
GO
ALTER TABLE [dbo].[tblPoTransDetailLandedCost] ADD  CONSTRAINT [DF_tblPoTransDetailLandedCost_EstimatedAmount]  DEFAULT ((0)) FOR [EstimatedAmount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDetailLandedCost'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDetailLandedCost'
GO
