USE [005]
GO
/****** Object:  Table [dbo].[X_Items]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_Items](
	[ItemId] [nvarchar](255) NULL,
	[Buyer] [nvarchar](255) NULL,
	[Descr] [nvarchar](255) NULL,
	[AddlDescr] [nvarchar](255) NULL,
	[ItemType] [float] NULL,
	[ItemStatus] [float] NULL,
	[ProductLine] [nvarchar](255) NULL,
	[SalesCat] [nvarchar](255) NULL,
	[TaxClass] [float] NULL,
	[UomBase] [nvarchar](255) NULL,
	[UomDflt] [nvarchar](255) NULL,
	[LottedYN] [float] NULL,
	[AutoReorderYN] [float] NULL,
	[CF_KittedYN] [float] NULL,
	[CostMethodOverride] [float] NULL,
	[ConvFactor] [float] NULL,
	[CF_Customer] [nvarchar](255) NULL,
	[CF_CustomerOwned] [float] NULL,
	[CF_Multi-Item Mfg] [float] NULL,
	[CF_Multi-UOM Serial Item] [float] NULL,
	[OutTimeTracked] [float] NULL,
	[INV] [nvarchar](255) NULL,
	[QAH] [nvarchar](255) NULL,
	[QRN] [nvarchar](255) NULL,
	[GLAcctCode] [nvarchar](255) NULL,
	[ItemLocStatus] [float] NULL,
	[OrderQtyUom] [nvarchar](255) NULL,
	[Uom] [nvarchar](255) NULL,
	[ConvFactor1] [float] NULL,
	[VendorID] [nvarchar](255) NULL,
	[LeadTime] [float] NULL,
	[MinOrderQty] [float] NULL,
	[MinimumQty] [float] NULL,
	[MaximumQty] [float] NULL,
	[SafetyQty] [float] NULL,
	[EoqQty] [float] NULL,
	[OrderPointType] [float] NULL,
	[SafetyStockType] [float] NULL,
	[EoqType] [float] NULL,
	[IFS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
