USE [005]
GO
/****** Object:  Table [dbo].[tblGlJrnl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlJrnl](
	[EntryNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CompId] [nvarchar](3) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[PostedYn] [smallint] NULL,
	[Desc] [nvarchar](512) NULL,
	[SourceCode] [nvarchar](2) NULL,
	[Reference] [nvarchar](15) NULL,
	[AcctId] [dbo].[pGlAcct] NOT NULL,
	[DebitAmt] [dbo].[pCurrDecimal] NULL,
	[CreditAmt] [dbo].[pCurrDecimal] NULL,
	[Period] [smallint] NULL,
	[Year] [smallint] NULL,
	[AllocateYn] [bit] NULL,
	[ChkRecon] [bit] NULL,
	[CashFlow] [bit] NULL,
	[LinkID] [nvarchar](255) NULL,
	[LinkIDSub] [nvarchar](15) NULL,
	[LinkIDSubLine] [int] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[ExchRate] [decimal](28, 18) NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[DebitAmtFgn] [dbo].[pCurrDecimal] NOT NULL,
	[CreditAmtFgn] [dbo].[pCurrDecimal] NOT NULL,
	[URG] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlJrnl] PRIMARY KEY CLUSTERED 
(
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlAcctId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlAcctId] ON [dbo].[tblGlJrnl]
(
	[AcctId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlPeriod]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlPeriod] ON [dbo].[tblGlJrnl]
(
	[Period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlPostedYn]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlPostedYn] ON [dbo].[tblGlJrnl]
(
	[PostedYn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlPostRun]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlPostRun] ON [dbo].[tblGlJrnl]
(
	[PostRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlYear]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlYear] ON [dbo].[tblGlJrnl]
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_SourceCode]  DEFAULT ('M1') FOR [SourceCode]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_DebitAmt]  DEFAULT ((0)) FOR [DebitAmt]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_CreditAmt]  DEFAULT ((0)) FOR [CreditAmt]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_Period]  DEFAULT ((0)) FOR [Period]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_Year]  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_AllocateYn]  DEFAULT ((1)) FOR [AllocateYn]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_ChkRecon]  DEFAULT ((0)) FOR [ChkRecon]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_CashFlow]  DEFAULT ((1)) FOR [CashFlow]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_LinkIDSubLine]  DEFAULT ((0)) FOR [LinkIDSubLine]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_DebitAmtFgn]  DEFAULT ((0)) FOR [DebitAmtFgn]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_CreditAmtFgn]  DEFAULT ((0)) FOR [CreditAmtFgn]
GO
ALTER TABLE [dbo].[tblGlJrnl] ADD  CONSTRAINT [DF_tblGlJrnl_URG]  DEFAULT ((0)) FOR [URG]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlJrnl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlJrnl'
GO
