USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistPicture]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistPicture](
	[Id] [int] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[TypeSeq] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[PictureGroup] [nvarchar](10) NULL,
	[Description] [dbo].[pDescription] NULL,
	[Notes] [text] NULL,
	[PictureID] [nvarchar](25) NULL,
	[SubFolder] [nvarchar](30) NULL,
	[JobType] [nvarchar](10) NULL,
	[PicturePath] [nvarchar](200) NULL,
	[PictureIDActual] [nvarchar](55) NULL,
	[CheckMarkPath] [nvarchar](200) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistPicture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[PostRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistPicture'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistPicture'
GO
