USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransEstimate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransEstimate](
	[Id] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[LineSeq] [int] NOT NULL,
	[LineType] [smallint] NOT NULL,
	[LaborCode] [nvarchar](6) NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[SchedWorkType] [nvarchar](6) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Unit] [dbo].[pUom] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCostFgn] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCost] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtCostFgn] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[LinkSeqNum] [int] NULL,
	[FromPoYn] [bit] NOT NULL,
	[IncludeYn] [bit] NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrTransEstimate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_BurdenCost]  DEFAULT ((0)) FOR [BurdenCost]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_BurdenCostFgn]  DEFAULT ((0)) FOR [BurdenCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_CombinedUnitCost]  DEFAULT ((0)) FOR [CombinedUnitCost]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_CombinedUnitCostFgn]  DEFAULT ((0)) FOR [CombinedUnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitPriceFgn]  DEFAULT ((0)) FOR [UnitPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_ExtPriceFgn]  DEFAULT ((0)) FOR [ExtPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_UnitCommBasisFgn]  DEFAULT ((0)) FOR [UnitCommBasisFgn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_FromPoYn]  DEFAULT ((0)) FOR [FromPoYn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_IncludeYn]  DEFAULT ((1)) FOR [IncludeYn]
GO
ALTER TABLE [dbo].[tblSrTransEstimate] ADD  CONSTRAINT [DF_tblSrTransEstimate_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransEstimate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransEstimate'
GO
