USE [005]
GO
/****** Object:  Table [dbo].[tblBmWorkOrderHistLot]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmWorkOrderHistLot](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NOT NULL,
	[QtyOrder] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[QtyBkord] [dbo].[pDecimal] NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[CostUnitFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblBmWorkOrderHistLot] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[EntryNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_EntryNum]  DEFAULT ((0)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_QtyOrder]  DEFAULT ((0)) FOR [QtyOrder]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_QtyFilled]  DEFAULT ((0)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_QtyBkord]  DEFAULT ((0)) FOR [QtyBkord]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_CostUnitFgn]  DEFAULT ((0)) FOR [CostUnitFgn]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHistLot] ADD  CONSTRAINT [DF_tblBmWorkOrderHistLot_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderHistLot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderHistLot'
GO
