USE [005]
GO
/****** Object:  Table [dbo].[tblCfConfigFieldValue]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCfConfigFieldValue](
	[ValueId] [bigint] NOT NULL,
	[FieldId] [bigint] NOT NULL,
	[ValueDescr] [nvarchar](50) NOT NULL,
	[FieldPriceYn] [bit] NOT NULL,
	[FieldPrice] [dbo].[pDecimal] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Uom] [dbo].[pUom] NULL,
	[FormulaYn] [bit] NOT NULL,
	[QtyFormula] [nvarchar](300) NULL,
	[Quantity] [dbo].[pDecimal] NULL,
	[SmartIdValue] [nvarchar](24) NULL,
	[LongDescr] [nvarchar](max) NULL,
	[PictureId] [varbinary](max) NULL,
	[ItemPictureYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCfConfigFieldValue] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCfConfigFieldValue] ADD  CONSTRAINT [DF_tblCfConfigFieldValue_FieldPriceYn]  DEFAULT ((0)) FOR [FieldPriceYn]
GO
ALTER TABLE [dbo].[tblCfConfigFieldValue] ADD  CONSTRAINT [DF_tblCfConfigFieldValue_FieldPrice]  DEFAULT ((0)) FOR [FieldPrice]
GO
ALTER TABLE [dbo].[tblCfConfigFieldValue] ADD  CONSTRAINT [DF_tblCfConfigFieldValue_FormulaYn]  DEFAULT ((0)) FOR [FormulaYn]
GO
ALTER TABLE [dbo].[tblCfConfigFieldValue] ADD  CONSTRAINT [DF_tblCfConfigFieldValue_ItemPictureYn]  DEFAULT ((0)) FOR [ItemPictureYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldValue'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCfConfigFieldValue'
GO
