USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLoc]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLoc](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[GLAcctCode] [dbo].[pGLAcctCode] NULL,
	[ItemLocStatus] [tinyint] NULL,
	[CostStd] [dbo].[pDecimal] NULL,
	[CostAvg] [dbo].[pDecimal] NULL,
	[CostBase] [dbo].[pDecimal] NULL,
	[CostLast] [dbo].[pDecimal] NULL,
	[CostLandedLast] [dbo].[pDecimal] NULL,
	[CarrCostPct] [dbo].[pDecimal] NULL,
	[OrderCostAmt] [dbo].[pDecimal] NULL,
	[QtySafetyStock] [dbo].[pDecimal] NULL,
	[QtyOrderPoint] [dbo].[pDecimal] NULL,
	[QtyOnHandMax] [dbo].[pDecimal] NULL,
	[QtyOrderMin] [dbo].[pDecimal] NULL,
	[Eoq] [dbo].[pDecimal] NULL,
	[EoqType] [tinyint] NULL,
	[ForecastId] [nvarchar](10) NULL,
	[SafetyStockType] [tinyint] NULL,
	[OrderPointType] [tinyint] NULL,
	[DateLastSale] [datetime] NULL,
	[DateLastPurch] [datetime] NULL,
	[DateLastSaleRet] [datetime] NULL,
	[DateLastPurchRet] [datetime] NULL,
	[DateLastXfer] [datetime] NULL,
	[DateLastAdj] [datetime] NULL,
	[DateLastBuild] [datetime] NULL,
	[DateLastMatReq] [datetime] NULL,
	[DfltLeadTime] [dbo].[pDecimal] NULL,
	[DfltBinNum] [nvarchar](10) NULL,
	[DfltVendId] [nvarchar](10) NULL,
	[DfltPriceId] [nvarchar](10) NULL,
	[PriceAdjType] [tinyint] NULL,
	[PriceAdjBase] [tinyint] NULL,
	[PriceAdjAmt] [dbo].[pDecimal] NULL,
	[OrderQtyUom] [dbo].[pUom] NOT NULL,
	[ABCClass] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CurrencyIDACV] [dbo].[pCurrency] NULL,
	[CostStdACV] [dbo].[pDecimal] NOT NULL,
	[CostAvgACV] [dbo].[pDecimal] NOT NULL,
	[CostBaseACV] [dbo].[pDecimal] NOT NULL,
	[CostLastACV] [dbo].[pDecimal] NOT NULL,
	[CostLandedLastACV] [dbo].[pDecimal] NOT NULL,
	[PrepLeadTime] [dbo].[pDecimal] NOT NULL,
	[ProcurMethod] [tinyint] NOT NULL,
	[BuyerPlanner] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblInItemLoc] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_ItemLocStatus]  DEFAULT ((1)) FOR [ItemLocStatus]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostStd]  DEFAULT ((0)) FOR [CostStd]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostAvg]  DEFAULT ((0)) FOR [CostAvg]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostBase]  DEFAULT ((0)) FOR [CostBase]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostLast]  DEFAULT ((0)) FOR [CostLast]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostLandedLast]  DEFAULT ((0)) FOR [CostLandedLast]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CarrCostPct]  DEFAULT ((0)) FOR [CarrCostPct]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_OrderCostAmt]  DEFAULT ((0)) FOR [OrderCostAmt]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_QtySafetyStock]  DEFAULT ((0)) FOR [QtySafetyStock]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_QtyOrderPoint]  DEFAULT ((0)) FOR [QtyOrderPoint]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_QtyOnHandMax]  DEFAULT ((0)) FOR [QtyOnHandMax]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_QtyOrderMin]  DEFAULT ((0)) FOR [QtyOrderMin]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_Eoq]  DEFAULT ((0)) FOR [Eoq]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_EoqType]  DEFAULT ((0)) FOR [EoqType]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_SafetyStockType]  DEFAULT ((0)) FOR [SafetyStockType]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_OrderPointType]  DEFAULT ((0)) FOR [OrderPointType]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_DfltLeadTime]  DEFAULT ((0)) FOR [DfltLeadTime]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_PriceAdjType]  DEFAULT ((0)) FOR [PriceAdjType]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_PriceAdjBase]  DEFAULT ((0)) FOR [PriceAdjBase]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_PriceAdjAmt]  DEFAULT ((0)) FOR [PriceAdjAmt]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostStdACV]  DEFAULT ((0)) FOR [CostStdACV]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostAvgACV]  DEFAULT ((0)) FOR [CostAvgACV]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostBaseACV]  DEFAULT ((0)) FOR [CostBaseACV]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostLastACV]  DEFAULT ((0)) FOR [CostLastACV]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_CostLandedLastACV]  DEFAULT ((0)) FOR [CostLandedLastACV]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_PrepLeadTime]  DEFAULT ((0)) FOR [PrepLeadTime]
GO
ALTER TABLE [dbo].[tblInItemLoc] ADD  CONSTRAINT [DF_tblInItemLoc_ProcurMethod]  DEFAULT ((0)) FOR [ProcurMethod]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLoc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLoc'
GO
