USE [005]
GO
/****** Object:  Table [dbo].[tblEcRunCommandStatus]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcRunCommandStatus](
	[Id] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[FunctionName] [nvarchar](100) NULL,
	[GroupId] [bigint] NULL,
	[CmdId] [bigint] NULL,
	[ParamCode] [nvarchar](100) NULL,
	[ParamValue] [nvarchar](255) NULL,
	[RunParams] [nvarchar](100) NULL,
	[ArchivePath] [nvarchar](500) NULL,
	[FileName] [nvarchar](500) NULL,
	[Status] [smallint] NULL,
	[Message] [nvarchar](800) NULL,
	[StatusTime] [datetime] NULL,
	[InVisibleYn] [bit] NULL,
	[UserId] [nvarchar](20) NOT NULL,
	[WrkStnId] [nvarchar](20) NOT NULL,
	[ReportFileName] [nvarchar](500) NULL,
	[RunCmd] [nvarchar](100) NULL,
	[RunParam] [nvarchar](100) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblEcRunCommandStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcRunCommandStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcRunCommandStatus'
GO
