USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmpHistWithhold]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmpHistWithhold](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[PaMonth] [tinyint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[TaxAuthorityType] [tinyint] NOT NULL,
	[State] [nvarchar](2) NULL,
	[Local] [nvarchar](2) NULL,
	[WithholdingCode] [dbo].[pCode] NOT NULL,
	[EmployerPaid] [bit] NOT NULL,
	[EarningAmount] [dbo].[pDecimal] NOT NULL,
	[TaxableAmount] [dbo].[pDecimal] NOT NULL,
	[WithholdAmount] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaEmpHistWithhold] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaEmpHistWithhold_PaYearPaMonthEmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaEmpHistWithhold_PaYearPaMonthEmployeeId] ON [dbo].[tblPaEmpHistWithhold]
(
	[PaYear] ASC,
	[PaMonth] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpHistWithhold'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpHistWithhold'
GO
