USE [005]
GO
/****** Object:  Table [dbo].[tblArCommInvc]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArCommInvc](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SalesRepID] [dbo].[pSalesRep] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[InvcDate] [datetime] NULL,
	[PctInvc] [dbo].[pDecimal] NULL,
	[AmtLines] [dbo].[pDecimal] NULL,
	[AmtTax] [dbo].[pDecimal] NULL,
	[AmtFreight] [dbo].[pDecimal] NULL,
	[AmtMisc] [dbo].[pDecimal] NULL,
	[AmtPmt] [dbo].[pDecimal] NULL,
	[AmtCogs] [dbo].[pDecimal] NULL,
	[AmtAdjust] [dbo].[pDecimal] NULL,
	[AmtPrepared] [dbo].[pDecimal] NULL,
	[CommPaid] [dbo].[pDecimal] NULL,
	[CompletedDate] [datetime] NULL,
	[HoldYn] [bit] NULL,
	[CommRateDtl] [dbo].[pDecimal] NULL,
	[PctOfDtl] [tinyint] NULL,
	[BasedOnDtl] [tinyint] NULL,
	[PayLines] [bit] NULL,
	[PayTax] [bit] NULL,
	[PayFreight] [bit] NULL,
	[PayMisc] [bit] NULL,
	[AmtInvc] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblArCommInvc] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustId] ON [dbo].[tblArCommInvc]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlInvcNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlInvcNum] ON [dbo].[tblArCommInvc]
(
	[InvcNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlSalesRepID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlSalesRepID] ON [dbo].[tblArCommInvc]
(
	[SalesRepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PctInvc]  DEFAULT ((0)) FOR [PctInvc]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtLines]  DEFAULT ((0)) FOR [AmtLines]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtTax]  DEFAULT ((0)) FOR [AmtTax]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtFreight]  DEFAULT ((0)) FOR [AmtFreight]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtMisc]  DEFAULT ((0)) FOR [AmtMisc]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtPmt]  DEFAULT ((0)) FOR [AmtPmt]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtCogs]  DEFAULT ((0)) FOR [AmtCogs]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtAdjust]  DEFAULT ((0)) FOR [AmtAdjust]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtPrepared]  DEFAULT ((0)) FOR [AmtPrepared]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_CommPaid]  DEFAULT ((0)) FOR [CommPaid]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_HoldYn]  DEFAULT ((0)) FOR [HoldYn]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_CommRateDtl]  DEFAULT ((0)) FOR [CommRateDtl]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PctOfDtl]  DEFAULT ((0)) FOR [PctOfDtl]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_BasedOnDtl]  DEFAULT ((0)) FOR [BasedOnDtl]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PayLines]  DEFAULT ((1)) FOR [PayLines]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PayTax]  DEFAULT ((0)) FOR [PayTax]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PayFreight]  DEFAULT ((0)) FOR [PayFreight]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_PayMisc]  DEFAULT ((0)) FOR [PayMisc]
GO
ALTER TABLE [dbo].[tblArCommInvc] ADD  CONSTRAINT [DF_tblArCommInvc_AmtInvc]  DEFAULT ((0)) FOR [AmtInvc]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCommInvc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArCommInvc'
GO
