USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckInfo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckInfo](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[GlYear] [smallint] NOT NULL,
	[PeriodEndDate] [datetime] NULL,
	[DateOnCheck] [datetime] NULL,
	[PrintedYn] [bit] NOT NULL,
	[BankId] [dbo].[pBankID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExtendedInfo] [xml] NULL,
 CONSTRAINT [PK_tblPaCheckInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckInfo] ADD  CONSTRAINT [DF_tblPaCheckInfo_PrintedYn]  DEFAULT ((0)) FOR [PrintedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckInfo'
GO
