USE [005]
GO
/****** Object:  Table [dbo].[tblBmWorkOrderHist]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmWorkOrderHist](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[TransDate] [datetime] NULL,
	[WorkType] [tinyint] NULL,
	[Status] [tinyint] NOT NULL,
	[PrintedYn] [bit] NOT NULL,
	[BmBomId] [int] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ItemType] [tinyint] NULL,
	[BuildUOM] [dbo].[pUom] NULL,
	[BuildQty] [dbo].[pDecimal] NULL,
	[ActualQty] [dbo].[pDecimal] NULL,
	[LaborCost] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[GLPeriod] [smallint] NULL,
	[GlYear] [smallint] NULL,
	[SumHistPeriod] [smallint] NULL,
	[QtySeqNum] [int] NULL,
	[HistSeqNum] [int] NULL,
	[WorkUser] [dbo].[pUserID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[UomBase] [dbo].[pUom] NULL,
	[ItemStatus] [tinyint] NULL,
	[ItemLocStatus] [tinyint] NULL,
	[GLAcctCode] [dbo].[pGLAcctCode] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[QtySeqNum_Ext] [int] NULL,
	[QtyStatus] [int] NULL,
	[QuantityID] [bigint] NULL,
	[QuantityExtID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblBmWorkOrderHist] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_EntryNum]  DEFAULT ((-1)) FOR [EntryNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_WorkType]  DEFAULT ((1)) FOR [WorkType]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_PrintedYn]  DEFAULT ((0)) FOR [PrintedYn]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_BuildQty]  DEFAULT ((0)) FOR [BuildQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_ActualQty]  DEFAULT ((0)) FOR [ActualQty]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_LaborCost]  DEFAULT ((0)) FOR [LaborCost]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_GlYear]  DEFAULT ((0)) FOR [GlYear]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_SumHistPeriod]  DEFAULT ((0)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblBmWorkOrderHist] ADD  CONSTRAINT [DF_tblBmWorkOrderHist_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmWorkOrderHist'
GO
