USE [005]
GO
/****** Object:  Table [dbo].[tblSysAlertsAction]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysAlertsAction](
	[ID] [uniqueidentifier] NOT NULL,
	[AlertID] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[ActiveYn] [bit] NOT NULL,
	[ParameterInfo] [xml] NULL,
	[RenotifyInterval] [int] NOT NULL,
	[RenotifyIntervalType] [smallint] NULL,
	[FileYn] [bit] NOT NULL,
	[EmailYn] [bit] NOT NULL,
	[FileType] [smallint] NULL,
	[FileName] [nvarchar](255) NULL,
	[OverwriteFileYn] [bit] NOT NULL,
	[FolderPath] [nvarchar](255) NULL,
	[DataSourceInfo] [xml] NULL,
	[EmailDataField] [nvarchar](255) NULL,
	[SendTo] [nvarchar](255) NULL,
	[GroupBy] [nvarchar](30) NULL,
	[Subject] [nvarchar](255) NULL,
	[SMTPID] [bigint] NULL,
	[EmailBody] [nvarchar](max) NULL,
	[AttachedAsOutputFile] [bit] NULL,
	[EmailAttachment] [varbinary](max) NULL,
	[ScheduleFrequency] [smallint] NULL,
	[RecurInterval1] [int] NULL,
	[RecurInterval2] [int] NULL,
	[StartTime] [int] NULL,
	[RecurSundayYn] [bit] NOT NULL,
	[RecurMondayYn] [bit] NOT NULL,
	[RecurTuesdayYn] [bit] NOT NULL,
	[RecurWednesdayYn] [bit] NOT NULL,
	[RecurThursdayYn] [bit] NOT NULL,
	[RecurFridayYn] [bit] NOT NULL,
	[RecurSaturdayYn] [bit] NOT NULL,
	[DurationStartDate] [datetime] NULL,
	[DurationEndDate] [datetime] NULL,
	[ts] [timestamp] NULL,
	[ProcStatus] [tinyint] NOT NULL,
	[ProcAssemblyName] [nvarchar](255) NULL,
	[ProcClassName] [nvarchar](255) NULL,
	[ProcDisplayFilter] [nvarchar](255) NULL,
	[ProcSqlFilter] [nvarchar](255) NULL,
	[ProcParameters] [xml] NULL,
 CONSTRAINT [PK_tblSysAlertsAction] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_ActiveYn]  DEFAULT ((0)) FOR [ActiveYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RenotifyInterval]  DEFAULT ((0)) FOR [RenotifyInterval]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_FileYn]  DEFAULT ((0)) FOR [FileYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_EmailYn]  DEFAULT ((0)) FOR [EmailYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_OverwriteFileYn]  DEFAULT ((0)) FOR [OverwriteFileYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurSundayYn]  DEFAULT ((0)) FOR [RecurSundayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurMondayYn]  DEFAULT ((0)) FOR [RecurMondayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurTuesdayYn]  DEFAULT ((0)) FOR [RecurTuesdayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurWednesdayYn]  DEFAULT ((0)) FOR [RecurWednesdayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurThursdayYn]  DEFAULT ((0)) FOR [RecurThursdayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurFridayYn]  DEFAULT ((0)) FOR [RecurFridayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_RecurSaturdayYn]  DEFAULT ((0)) FOR [RecurSaturdayYn]
GO
ALTER TABLE [dbo].[tblSysAlertsAction] ADD  CONSTRAINT [DF_tblSysAlertsAction_ProcStatus]  DEFAULT ((0)) FOR [ProcStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAlertsAction'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysAlertsAction'
GO
