USE [005]
GO
/****** Object:  Table [dbo].[tblSrLaborCodes]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrLaborCodes](
	[LaborCode] [nvarchar](6) NOT NULL,
	[Descr] [nvarchar](35) NULL,
	[AddnlDescr] [nvarchar](255) NULL,
	[HeadingCode] [nvarchar](6) NULL,
	[WorkType] [nvarchar](6) NOT NULL,
	[TaxClass] [tinyint] NOT NULL,
	[StdLaborCostRate] [dbo].[pDecimal] NOT NULL,
	[Note] [text] NULL,
	[BillingRateReg] [dbo].[pDecimal] NOT NULL,
	[BillingRateOT] [dbo].[pDecimal] NOT NULL,
	[BillingRateDT] [dbo].[pDecimal] NOT NULL,
	[LaborCostAdder] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrLaborCodes] PRIMARY KEY CLUSTERED 
(
	[LaborCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrLaborCodes] ADD  CONSTRAINT [DF_tblSrLaborCodes_StdLaborCostRate]  DEFAULT ((0)) FOR [StdLaborCostRate]
GO
ALTER TABLE [dbo].[tblSrLaborCodes] ADD  CONSTRAINT [DF_tblSrLaborCodes_BillingRateReg]  DEFAULT ((0)) FOR [BillingRateReg]
GO
ALTER TABLE [dbo].[tblSrLaborCodes] ADD  CONSTRAINT [DF_tblSrLaborCodes_BillingRateOT]  DEFAULT ((0)) FOR [BillingRateOT]
GO
ALTER TABLE [dbo].[tblSrLaborCodes] ADD  CONSTRAINT [DF_tblSrLaborCodes_BillingRateDT]  DEFAULT ((0)) FOR [BillingRateDT]
GO
ALTER TABLE [dbo].[tblSrLaborCodes] ADD  CONSTRAINT [DF_tblSrLaborCodes_LaborCostAdder]  DEFAULT ((0)) FOR [LaborCostAdder]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrLaborCodes'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrLaborCodes'
GO
