USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckInfoGroup]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckInfoGroup](
	[InfoId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Selected] [bit] NOT NULL,
	[PeriodStartDate] [datetime] NULL,
	[PdCode] [tinyint] NOT NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckInfoGroup] PRIMARY KEY CLUSTERED 
(
	[InfoId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckInfoGroup] ADD  CONSTRAINT [DF_tblPaCheckInfoGroup_Selected]  DEFAULT ((0)) FOR [Selected]
GO
ALTER TABLE [dbo].[tblPaCheckInfoGroup] ADD  CONSTRAINT [DF_tblPaCheckInfoGroup_PdCode]  DEFAULT ((1)) FOR [PdCode]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckInfoGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckInfoGroup'
GO
