USE [005]
GO
/****** Object:  Table [dbo].[tblEcSoHistPackDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcSoHistPackDetail](
	[Id] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[SoHistPackHeaderID] [bigint] NOT NULL,
	[SoTransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[UOM] [dbo].[pUom] NULL,
	[TrackingNum] [nvarchar](510) NULL,
	[UCC128] [nvarchar](20) NULL,
	[POSKU] [nvarchar](100) NULL,
	[BoxID] [bigint] NOT NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
	[BoxNumber] [int] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[PackagingType] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEcSoHistPackDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblEcSoHistPackDetail_PostRun_SoTransId_EntryNum_BoxID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcSoHistPackDetail_PostRun_SoTransId_EntryNum_BoxID] ON [dbo].[tblEcSoHistPackDetail]
(
	[PostRun] ASC,
	[SoTransId] ASC,
	[EntryNum] ASC,
	[BoxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcSoHistPackDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcSoHistPackDetail'
GO
