USE [005]
GO
/****** Object:  Table [dbo].[tblPaRecurEmplrCost]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaRecurEmplrCost](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[DeductCode] [dbo].[pCode] NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[LaborClass] [nvarchar](3) NULL,
	[Hours] [dbo].[pDecimal] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[TransDate] [datetime] NULL,
	[SeqNo] [nvarchar](3) NULL,
	[Note] [nvarchar](255) NULL,
	[RunCode] [nvarchar](2) NULL,
	[CutoffDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaRecurEmplrCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaRecurEmplrCost_EmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaRecurEmplrCost_EmployeeId] ON [dbo].[tblPaRecurEmplrCost]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaRecurEmplrCost_RunCode]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaRecurEmplrCost_RunCode] ON [dbo].[tblPaRecurEmplrCost]
(
	[RunCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaRecurEmplrCost] ADD  CONSTRAINT [DF_tblPaRecurEmplrCost_Hours]  DEFAULT ((0)) FOR [Hours]
GO
ALTER TABLE [dbo].[tblPaRecurEmplrCost] ADD  CONSTRAINT [DF_tblPaRecurEmplrCost_Amount]  DEFAULT ((0)) FOR [Amount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaRecurEmplrCost'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaRecurEmplrCost'
GO
