USE [005]
GO
/****** Object:  Table [dbo].[tblWMBOLDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWMBOLDetail](
	[BOLDtlRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BOLRef] [int] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[TransId] [dbo].[pTransID] NULL,
	[EntryNum] [int] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[QtyUOM] [dbo].[pUom] NULL,
	[HandleQty] [dbo].[pDecimal] NOT NULL,
	[HandleUOM] [dbo].[pUom] NULL,
	[ExtWeight] [dbo].[pDecimal] NOT NULL,
	[RateClass] [nvarchar](7) NULL,
	[HazMatYn] [bit] NOT NULL,
	[NMFCNo] [nvarchar](10) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblWMBOLDetail] PRIMARY KEY CLUSTERED 
(
	[BOLDtlRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWMBOLDetail] ADD  CONSTRAINT [DF_tblWMBOLDetail_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblWMBOLDetail] ADD  CONSTRAINT [DF_tblWMBOLDetail_HandleQty]  DEFAULT ((0)) FOR [HandleQty]
GO
ALTER TABLE [dbo].[tblWMBOLDetail] ADD  CONSTRAINT [DF_tblWMBOLDetail_ExtWeight]  DEFAULT ((0)) FOR [ExtWeight]
GO
ALTER TABLE [dbo].[tblWMBOLDetail] ADD  CONSTRAINT [DF_tblWMBOLDetail_HazMatYn]  DEFAULT ((0)) FOR [HazMatYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLDetail'
GO
