USE [005]
GO
/****** Object:  Table [dbo].[tblBmKitHistLot]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBmKitHistLot](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[EntryNum] [int] NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NOT NULL,
	[QtyTrans] [dbo].[pDecimal] NOT NULL,
	[CostUnit] [dbo].[pDecimal] NOT NULL,
	[PriceUnit] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBmKitHistLot] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBmKitHistLot] ADD  CONSTRAINT [DF_tblBmKitHistLot_QtyTrans]  DEFAULT ((0)) FOR [QtyTrans]
GO
ALTER TABLE [dbo].[tblBmKitHistLot] ADD  CONSTRAINT [DF_tblBmKitHistLot_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblBmKitHistLot] ADD  CONSTRAINT [DF_tblBmKitHistLot_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmKitHistLot'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBmKitHistLot'
GO
