USE [005]
GO
/****** Object:  Table [dbo].[tblSvServiceContractHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvServiceContractHeader](
	[ID] [bigint] NOT NULL,
	[ContractNo] [nvarchar](8) NOT NULL,
	[CustID] [dbo].[pCustID] NULL,
	[Description] [dbo].[pDescription] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[OriginalContractDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[RecurID] [nvarchar](8) NULL,
	[BillingType] [tinyint] NOT NULL,
	[NextBillingDate] [datetime] NULL,
	[BillingAmount] [dbo].[pDecimal] NOT NULL,
	[BillingInterval] [tinyint] NOT NULL,
	[LastBillingDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BillingTypeDflt] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblSvServiceContractHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ContractNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ContractNo] ON [dbo].[tblSvServiceContractHeader]
(
	[ContractNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvServiceContractHeader] ADD  CONSTRAINT [DF_tblSvServiceContractHeader_BillingType]  DEFAULT ((2)) FOR [BillingType]
GO
ALTER TABLE [dbo].[tblSvServiceContractHeader] ADD  CONSTRAINT [DF_tblSvServiceContractHeader_BillingAmount]  DEFAULT ((0)) FOR [BillingAmount]
GO
ALTER TABLE [dbo].[tblSvServiceContractHeader] ADD  CONSTRAINT [DF_tblSvServiceContractHeader_BillingInterval]  DEFAULT ((0)) FOR [BillingInterval]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvServiceContractHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvServiceContractHeader'
GO
