USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistRequestHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistRequestHeader](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[TransType] [smallint] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[Notes] [text] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[TransDate] [datetime] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TaxableYn] [bit] NULL,
	[PrintStatus] [tinyint] NULL,
	[PrintDate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[OrderedBy] [dbo].[pUserID] NULL,
	[ReceivedBy] [dbo].[pUserID] NULL,
	[FOB] [nvarchar](35) NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[MemoTaxable] [dbo].[pDecimal] NULL,
	[MemoNonTaxable] [dbo].[pDecimal] NULL,
	[MemoSalesTax] [dbo].[pDecimal] NULL,
	[MemoFreight] [dbo].[pDecimal] NULL,
	[MemoMisc] [dbo].[pDecimal] NULL,
	[MemoDisc] [dbo].[pDecimal] NULL,
	[MemoPrepaid] [dbo].[pDecimal] NULL,
	[CheckDate] [datetime] NULL,
	[MemoTaxableFgn] [dbo].[pDecimal] NULL,
	[MemoNonTaxableFgn] [dbo].[pDecimal] NULL,
	[MemoSalesTaxFgn] [dbo].[pDecimal] NULL,
	[MemoFreightFgn] [dbo].[pDecimal] NULL,
	[MemoMiscFgn] [dbo].[pDecimal] NULL,
	[MemoDiscFgn] [dbo].[pDecimal] NULL,
	[MemoPrepaidFgn] [dbo].[pDecimal] NULL,
	[MemoCheckNo] [dbo].[pCheckNum] NULL,
	[MemoDueDate1] [datetime] NULL,
	[MemoDueDate2] [datetime] NULL,
	[MemoDueDate3] [datetime] NULL,
	[MemoPmtAmt1] [dbo].[pDecimal] NULL,
	[MemoPmtAmt2] [dbo].[pDecimal] NULL,
	[MemoPmtAmt3] [dbo].[pDecimal] NULL,
	[MemoPmtAmt1Fgn] [dbo].[pDecimal] NULL,
	[MemoPmtAmt2Fgn] [dbo].[pDecimal] NULL,
	[MemoPmtAmt3Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxClassFreight] [tinyint] NULL,
	[MemoTaxClassMisc] [tinyint] NULL,
	[MemoTaxLocID1] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt1] [dbo].[pDecimal] NULL,
	[MemoTaxAmt1Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID2] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt2] [dbo].[pDecimal] NULL,
	[MemoTaxAmt2Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID3] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt3] [dbo].[pDecimal] NULL,
	[MemoTaxAmt3Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID4] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt4] [dbo].[pDecimal] NULL,
	[MemoTaxAmt4Fgn] [dbo].[pDecimal] NULL,
	[MemoTaxLocID5] [dbo].[pTaxLoc] NULL,
	[MemoTaxAmt5] [dbo].[pDecimal] NULL,
	[MemoTaxAmt5Fgn] [dbo].[pDecimal] NULL,
	[DropShipYn] [bit] NULL,
	[HdrRef] [int] NULL,
	[BudgetPeriod] [smallint] NULL,
	[BudgetYear] [smallint] NULL,
	[RouteId] [nvarchar](10) NULL,
	[RequestComments] [text] NULL,
	[CF] [xml] NULL,
	[ExpReceiptDate] [datetime] NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblPoHistRequestHeader] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((1)) FOR [TaxableYn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [PrintStatus]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxable]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoNonTaxable]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoSalesTax]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoFreight]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoMisc]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoDisc]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPrepaid]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoNonTaxableFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoSalesTaxFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoFreightFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoMiscFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoDiscFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPrepaidFgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt1]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt2]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt3]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt1Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt2Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoPmtAmt3Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxClassFreight]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxClassMisc]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt1]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt1Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt2]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt2Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt3]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt3Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt4]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt4Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt5]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [MemoTaxAmt5Fgn]
GO
ALTER TABLE [dbo].[tblPoHistRequestHeader] ADD  DEFAULT ((0)) FOR [DropShipYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistRequestHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistRequestHeader'
GO
