USE [005]
GO
/****** Object:  Table [dbo].[tblArTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArTransHeader](
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NULL,
	[VoidYn] [bit] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[CustId] [dbo].[pCustID] NOT NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TermsCode] [dbo].[pTermsCode] NOT NULL,
	[TaxableYN] [bit] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[OrgInvcNum] [dbo].[pInvoiceNum] NULL,
	[OrgInvoiceID] [int] NULL,
	[WhseId] [dbo].[pLocID] NULL,
	[OrderDate] [datetime] NULL,
	[ShipNum] [nvarchar](30) NULL,
	[ShipDate] [datetime] NULL,
	[InvcDate] [datetime] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[TaxOnFreight] [bit] NULL,
	[TaxClassFreight] [tinyint] NULL,
	[TaxClassMisc] [tinyint] NULL,
	[PostDate] [datetime] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NOT NULL,
	[TaxSubtotal] [dbo].[pDecimal] NULL,
	[NonTaxSubtotal] [dbo].[pDecimal] NULL,
	[SalesTax] [dbo].[pDecimal] NULL,
	[Freight] [dbo].[pDecimal] NULL,
	[Misc] [dbo].[pDecimal] NULL,
	[TotCost] [dbo].[pDecimal] NULL,
	[TaxSubtotalFgn] [dbo].[pDecimal] NULL,
	[NonTaxSubtotalFgn] [dbo].[pDecimal] NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NULL,
	[FreightFgn] [dbo].[pDecimal] NULL,
	[MiscFgn] [dbo].[pDecimal] NULL,
	[TotCostFgn] [dbo].[pDecimal] NULL,
	[PrintStatus] [tinyint] NULL,
	[CustPONum] [nvarchar](25) NULL,
	[DistCode] [dbo].[pDistCode] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[DiscDueDate] [datetime] NULL,
	[NetDueDate] [datetime] NULL,
	[DiscAmt] [dbo].[pDecimal] NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NULL,
	[TaxAdj] [tinyint] NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxClassAdj] [tinyint] NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[LongitudeCoordinates] [dbo].[pDecimal] NULL,
	[LatitudeCoordinates] [dbo].[pDecimal] NULL,
	[ValidAddress] [bit] NOT NULL,
	[GeneralDelivery] [bit] NOT NULL,
	[Hold] [bit] NOT NULL,
 CONSTRAINT [PK_tblArTransHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblArTransHeader_BatchId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArTransHeader_BatchId] ON [dbo].[tblArTransHeader]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblArTransHeader_VoidYn]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblArTransHeader_VoidYn] ON [dbo].[tblArTransHeader]
(
	[VoidYn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TransType]  DEFAULT ((1)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_InvcDate]  DEFAULT (getdate()) FOR [InvcDate]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxOnFreight]  DEFAULT ((1)) FOR [TaxOnFreight]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxSubtotal]  DEFAULT ((0)) FOR [TaxSubtotal]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_NonTaxSubtotal]  DEFAULT ((0)) FOR [NonTaxSubtotal]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TotCost]  DEFAULT ((0)) FOR [TotCost]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxSubtotalFgn]  DEFAULT ((0)) FOR [TaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_NonTaxSubtotalFgn]  DEFAULT ((0)) FOR [NonTaxSubtotalFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_MiscFgn]  DEFAULT ((0)) FOR [MiscFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TotCostFgn]  DEFAULT ((0)) FOR [TotCostFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_PrintStatus]  DEFAULT ((0)) FOR [PrintStatus]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxAmtAdjFgn]  DEFAULT ((0)) FOR [TaxAmtAdjFgn]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxAdj]  DEFAULT ((1)) FOR [TaxAdj]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_TaxClassAdj]  DEFAULT ((0)) FOR [TaxClassAdj]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_GeneralDelivery]  DEFAULT ((0)) FOR [GeneralDelivery]
GO
ALTER TABLE [dbo].[tblArTransHeader] ADD  CONSTRAINT [DF_tblArTransHeader_Hold]  DEFAULT ((0)) FOR [Hold]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArTransHeader'
GO
