USE [005]
GO
/****** Object:  Table [dbo].[tblSrScheduleBreakDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrScheduleBreakDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BreakId] [int] NOT NULL,
	[SeqNum] [nvarchar](3) NULL,
	[BreakStartTime] [int] NULL,
	[BreakEndTime] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrScheduleBreakDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrScheduleBreakDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrScheduleBreakDetail'
GO
