USE [005]
GO
/****** Object:  Table [dbo].[tblInMatReqDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInMatReqDetail](
	[TransId] [int] NOT NULL,
	[LineNum] [smallint] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[UomBase] [dbo].[pUom] NULL,
	[UomSelling] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[ItemType] [tinyint] NULL,
	[GLAcctNum] [dbo].[pGlAcct] NULL,
	[GLDescr] [dbo].[pGLDesc] NULL,
	[QtyReqstd] [dbo].[pDecimal] NULL,
	[QtyFilled] [dbo].[pDecimal] NULL,
	[QtyBkord] [dbo].[pDecimal] NULL,
	[CostUnitStd] [dbo].[pDecimal] NULL,
	[JOJobId] [nvarchar](10) NULL,
	[JOPhaseId] [nvarchar](10) NULL,
	[JOCostCode] [nvarchar](3) NULL,
	[HistSeqNum] [int] NULL,
	[Status] [nvarchar](15) NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ProjId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[ProjName] [nvarchar](30) NULL,
	[PhaseName] [nvarchar](30) NULL,
	[TaskName] [nvarchar](30) NULL,
	[TaskId] [nvarchar](10) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[LineSeq] [int] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblInMatReqDetail] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[LineNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_ItemType]  DEFAULT ((1)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_QtyReqstd]  DEFAULT ((1)) FOR [QtyReqstd]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_QtyFilled]  DEFAULT ((1)) FOR [QtyFilled]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_QtyBkord]  DEFAULT ((0)) FOR [QtyBkord]
GO
ALTER TABLE [dbo].[tblInMatReqDetail] ADD  CONSTRAINT [DF_tblInMatReqDetail_CostUnitStd]  DEFAULT ((0)) FOR [CostUnitStd]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqDetail'
GO
