USE [005]
GO
/****** Object:  Table [dbo].[tblMpOrderReleases]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpOrderReleases](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [dbo].[pTransID] NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[Routing] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[EstStartDate] [datetime] NULL,
	[EstCompletionDate] [datetime] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[SalesOrder] [dbo].[pTransID] NULL,
	[PurchaseOrder] [nvarchar](25) NULL,
	[Priority] [int] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[OrderSource] [int] NOT NULL,
	[OrderCode] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpOrderReleases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblMpOrderReleases_OrderNoReleaseNo]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblMpOrderReleases_OrderNoReleaseNo] ON [dbo].[tblMpOrderReleases]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpOrderReleases] ADD  CONSTRAINT [DF_tblMpOrderReleases_Routing]  DEFAULT ((0)) FOR [Routing]
GO
ALTER TABLE [dbo].[tblMpOrderReleases] ADD  CONSTRAINT [DF_tblMpOrderReleases_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblMpOrderReleases] ADD  CONSTRAINT [DF_tblMpOrderReleases_Priority]  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[tblMpOrderReleases] ADD  CONSTRAINT [DF_tblMpOrderReleases_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblMpOrderReleases] ADD  CONSTRAINT [DF_tblMpOrderReleases_OrderSource]  DEFAULT ((0)) FOR [OrderSource]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpOrderReleases'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpOrderReleases'
GO
