USE [005]
GO
/****** Object:  Table [dbo].[tblSmFormNum]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmFormNum](
	[FormId] [nvarchar](15) NOT NULL,
	[NextNum] [int] NOT NULL,
	[LockBy] [dbo].[pUserID] NULL,
	[WrkStnID] [dbo].[pWrkStnID] NULL,
	[LockDate] [datetime] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmFormNum] PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmFormNum] ADD  CONSTRAINT [DF_tblSmFormNum_NextNum]  DEFAULT ((0)) FOR [NextNum]
GO
ALTER TABLE [dbo].[tblSmFormNum] ADD  CONSTRAINT [DF_tblSmFormNum_LockDate]  DEFAULT (getdate()) FOR [LockDate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmFormNum'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmFormNum'
GO
