USE [005]
GO
/****** Object:  Table [dbo].[tblPcWIPDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcWIPDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HeaderId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[QtyBill] [dbo].[pDecimal] NOT NULL,
	[ExtIncomeBill] [dbo].[pDecimal] NOT NULL,
	[SelectYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[BatchId] [dbo].[pBatchID] NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ResourceId] [nvarchar](24) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Uom] [dbo].[pUom] NULL,
	[ExtIncome] [dbo].[pDecimal] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[ActivityDate] [datetime] NULL,
	[Type] [tinyint] NULL,
	[TaxClass] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblPcWIPDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [sqlHeaderId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlHeaderId] ON [dbo].[tblPcWIPDetail]
(
	[HeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_QtyBill]  DEFAULT ((0)) FOR [QtyBill]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_ExtIncomeBill]  DEFAULT ((0)) FOR [ExtIncomeBill]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_SelectYn]  DEFAULT ((1)) FOR [SelectYn]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_ExtIncome]  DEFAULT ((0)) FOR [ExtIncome]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPcWIPDetail] ADD  CONSTRAINT [DF_tblPcWIPDetail_TaxClass]  DEFAULT ((0)) FOR [TaxClass]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPDetail'
GO
