USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLocUomPrice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLocUomPrice](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[Uom] [dbo].[pUom] NOT NULL,
	[BrkId] [nvarchar](10) NULL,
	[PriceAvg] [dbo].[pDecimal] NULL,
	[PriceMin] [dbo].[pDecimal] NULL,
	[PriceList] [dbo].[pDecimal] NULL,
	[PriceBase] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
 CONSTRAINT [PK_tblInItemLocUomPrice] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC,
	[Uom] ASC,
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLocUomPrice] ADD  CONSTRAINT [DF_tblInItemLocUomPrice_PriceAvg]  DEFAULT ((0)) FOR [PriceAvg]
GO
ALTER TABLE [dbo].[tblInItemLocUomPrice] ADD  CONSTRAINT [DF_tblInItemLocUomPrice_PriceMin]  DEFAULT ((0)) FOR [PriceMin]
GO
ALTER TABLE [dbo].[tblInItemLocUomPrice] ADD  CONSTRAINT [DF_tblInItemLocUomPrice_PriceList]  DEFAULT ((0)) FOR [PriceList]
GO
ALTER TABLE [dbo].[tblInItemLocUomPrice] ADD  CONSTRAINT [DF_tblInItemLocUomPrice_PriceBase]  DEFAULT ((0)) FOR [PriceBase]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocUomPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocUomPrice'
GO
