USE [005]
GO
/****** Object:  Table [dbo].[tblSrScheduleDate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrScheduleDate](
	[Id] [int] NOT NULL,
	[ScheduleId] [nvarchar](10) NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[ScheduleYn] [bit] NOT NULL,
	[BeginDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[DayValue] [tinyint] NULL,
	[AutoOT] [bit] NOT NULL,
	[AutoDT] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrScheduleDate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrScheduleDate] ADD  CONSTRAINT [DF_tblSrScheduleDate_ScheduleYn]  DEFAULT ((1)) FOR [ScheduleYn]
GO
ALTER TABLE [dbo].[tblSrScheduleDate] ADD  CONSTRAINT [DF_tblSrScheduleDate_AutoOT]  DEFAULT ((0)) FOR [AutoOT]
GO
ALTER TABLE [dbo].[tblSrScheduleDate] ADD  CONSTRAINT [DF_tblSrScheduleDate_AutoDT]  DEFAULT ((0)) FOR [AutoDT]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrScheduleDate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrScheduleDate'
GO
