USE [005]
GO
/****** Object:  Table [dbo].[tblFaAssetService]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFaAssetService](
	[ID] [int] NOT NULL,
	[AssetID] [dbo].[pAssetID] NOT NULL,
	[ServiceDateSched] [datetime] NULL,
	[ServiceDateAct] [datetime] NULL,
	[ServDescr] [dbo].[pDescription] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[WorkOrderID] [bigint] NULL,
	[WorkOrderNo] [dbo].[pTransID] NULL,
	[ServiceCost] [dbo].[pDecimal] NULL,
 CONSTRAINT [PK_tblFaAssetService] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblFaAssetService_AssetID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblFaAssetService_AssetID] ON [dbo].[tblFaAssetService]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaAssetService'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblFaAssetService'
GO
