USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistSchedule]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistSchedule](
	[Id] [int] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[Priority] [int] NULL,
	[WorkType] [nvarchar](6) NULL,
	[ScheduleYn] [bit] NOT NULL,
	[EstimateHours] [dbo].[pDecimal] NOT NULL,
	[SchedDate] [datetime] NULL,
	[FirstLaborDate] [datetime] NULL,
	[CompleteDate] [datetime] NULL,
	[SchDuringEstYn] [bit] NOT NULL,
	[UseEstHoursYn] [bit] NOT NULL,
	[HoldUntil] [datetime] NULL,
	[Comments] [varchar](max) NULL,
	[HoldUntilWT] [nvarchar](6) NULL,
	[Sequence] [int] NOT NULL,
	[HoldUntilWTSeq] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrHistSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[PostRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistSchedule] ADD  CONSTRAINT [DF_tblSrHistSchedule_SchDuringEstYn]  DEFAULT ((0)) FOR [SchDuringEstYn]
GO
ALTER TABLE [dbo].[tblSrHistSchedule] ADD  CONSTRAINT [DF_tblSrHistSchedule_UseEstHoursYn]  DEFAULT ((0)) FOR [UseEstHoursYn]
GO
ALTER TABLE [dbo].[tblSrHistSchedule] ADD  CONSTRAINT [DF_tblSrHistSchedule_Sequnce]  DEFAULT ((1)) FOR [Sequence]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistSchedule'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistSchedule'
GO
