USE [005]
GO
/****** Object:  Table [dbo].[tblDrMstrSchedDtl]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDrMstrSchedDtl](
	[MstrSchedId] [int] NOT NULL,
	[ProdDate] [datetime] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Notes] [dbo].[pDescription] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblDrMstrSchedDtl] PRIMARY KEY CLUSTERED 
(
	[MstrSchedId] ASC,
	[ProdDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDrMstrSchedDtl] ADD  CONSTRAINT [DF_tblDrMstrSchedDtl_Qty]  DEFAULT ((0)) FOR [Qty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrMstrSchedDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrMstrSchedDtl'
GO
