USE [005]
GO
/****** Object:  Table [dbo].[tblArHistFinch]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArHistFinch](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[CustID] [dbo].[pCustID] NOT NULL,
	[FinchDate] [datetime] NULL,
	[FinchAmt] [dbo].[pDecimal] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[SumHistPeriod] [smallint] NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[FinchAmtFgn] [dbo].[pDecimal] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[GLAcctFinch] [dbo].[pGlAcct] NULL,
	[GLAcctReceivables] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblArHistFinch] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlCustID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [sqlCustID] ON [dbo].[tblArHistFinch]
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_PostRun]  DEFAULT ((0)) FOR [PostRun]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_FinchAmt]  DEFAULT ((0)) FOR [FinchAmt]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_SumHistPeriod]  DEFAULT ((1)) FOR [SumHistPeriod]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_FinchAmtFgn]  DEFAULT ((0)) FOR [FinchAmtFgn]
GO
ALTER TABLE [dbo].[tblArHistFinch] ADD  CONSTRAINT [DF_tblArHistFinch_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistFinch'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArHistFinch'
GO
