USE [005]
GO
/****** Object:  Table [dbo].[tblPaEmpPayDistribution]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaEmpPayDistribution](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[AccountType] [tinyint] NOT NULL,
	[PrenoteOut] [bit] NOT NULL,
	[PrenoteIn] [bit] NOT NULL,
	[AccountNumber] [nvarchar](255) NULL,
	[RoutingCode] [nvarchar](50) NULL,
	[AmountPercent] [dbo].[pDecimal] NOT NULL,
	[TraceNumber] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaEmpPayDistribution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaEmpPayDistribution_EmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaEmpPayDistribution_EmployeeId] ON [dbo].[tblPaEmpPayDistribution]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaEmpPayDistribution] ADD  CONSTRAINT [DF_tblPaEmpPayDistribution_AccountType]  DEFAULT ((0)) FOR [AccountType]
GO
ALTER TABLE [dbo].[tblPaEmpPayDistribution] ADD  CONSTRAINT [DF_tblPaEmpPayDistribution_PrenoteOut]  DEFAULT ((0)) FOR [PrenoteOut]
GO
ALTER TABLE [dbo].[tblPaEmpPayDistribution] ADD  CONSTRAINT [DF_tblPaEmpPayDistribution_PrenoteIn]  DEFAULT ((0)) FOR [PrenoteIn]
GO
ALTER TABLE [dbo].[tblPaEmpPayDistribution] ADD  CONSTRAINT [DF_tblPaEmpPayDistribution_TraceNumber]  DEFAULT ((0)) FOR [TraceNumber]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpPayDistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaEmpPayDistribution'
GO
