USE [005]
GO
/****** Object:  Table [dbo].[tblPaFormulaYear]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaFormulaYear](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FormulaId] [nvarchar](12) NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[TableId] [nvarchar](8) NULL,
	[OverrideFactor1] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor2] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor3] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor4] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor5] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor6] [dbo].[pDecimal] NOT NULL,
	[FormulaText] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[OverrideFactor7] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor8] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor9] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor10] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor11] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor12] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor13] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor14] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor15] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor16] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor17] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor18] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor19] [dbo].[pDecimal] NOT NULL,
	[OverrideFactor20] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblPaFormulaYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaFormulaYear_TableId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaFormulaYear_TableId] ON [dbo].[tblPaFormulaYear]
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPaFormulaYear_FormulaIdPaYear]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPaFormulaYear_FormulaIdPaYear] ON [dbo].[tblPaFormulaYear]
(
	[FormulaId] ASC,
	[PaYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor1]  DEFAULT ((0)) FOR [OverrideFactor1]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor2]  DEFAULT ((0)) FOR [OverrideFactor2]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor3]  DEFAULT ((0)) FOR [OverrideFactor3]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor4]  DEFAULT ((0)) FOR [OverrideFactor4]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor5]  DEFAULT ((0)) FOR [OverrideFactor5]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor6]  DEFAULT ((0)) FOR [OverrideFactor6]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor7]  DEFAULT ((0)) FOR [OverrideFactor7]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor8]  DEFAULT ((0)) FOR [OverrideFactor8]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor9]  DEFAULT ((0)) FOR [OverrideFactor9]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor10]  DEFAULT ((0)) FOR [OverrideFactor10]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor11]  DEFAULT ((0)) FOR [OverrideFactor11]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor12]  DEFAULT ((0)) FOR [OverrideFactor12]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor13]  DEFAULT ((0)) FOR [OverrideFactor13]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor14]  DEFAULT ((0)) FOR [OverrideFactor14]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor15]  DEFAULT ((0)) FOR [OverrideFactor15]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor16]  DEFAULT ((0)) FOR [OverrideFactor16]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor17]  DEFAULT ((0)) FOR [OverrideFactor17]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor18]  DEFAULT ((0)) FOR [OverrideFactor18]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor19]  DEFAULT ((0)) FOR [OverrideFactor19]
GO
ALTER TABLE [dbo].[tblPaFormulaYear] ADD  CONSTRAINT [DF_tblPaFormulaYear_OverrideFactor20]  DEFAULT ((0)) FOR [OverrideFactor20]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaFormulaYear'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaFormulaYear'
GO
