USE [005]
GO
/****** Object:  Table [dbo].[tblSoTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoTransHeader](
	[TransId] [dbo].[pTransID] NOT NULL,
	[TransType] [smallint] NULL,
	[VoidYn] [bit] NOT NULL,
	[Layaway] [bit] NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[SoldToId] [dbo].[pCustID] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[CustLevel] [nvarchar](10) NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](30) NULL,
	[ShipToAddr1] [nvarchar](30) NULL,
	[ShipToAddr2] [nvarchar](60) NULL,
	[ShipToCity] [nvarchar](30) NULL,
	[ShipToRegion] [nvarchar](10) NULL,
	[ShipToCountry] [dbo].[pCountry] NULL,
	[ShipToPostalCode] [nvarchar](10) NULL,
	[ShipToPhone] [nvarchar](24) NULL,
	[ShipVia] [nvarchar](50) NULL,
	[TermsCode] [dbo].[pTermsCode] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[InvcNum] [dbo].[pInvoiceNum] NULL,
	[OrgInvcNum] [dbo].[pInvoiceNum] NULL,
	[OrgInvoiceID] [int] NULL,
	[InvcDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[PODate] [datetime] NULL,
	[CustPONum] [nvarchar](25) NULL,
	[ShipNum] [nvarchar](30) NULL,
	[ReqShipDate] [datetime] NULL,
	[ActShipDate] [datetime] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[TaxableYN] [bit] NULL,
	[TaxOnFreight] [bit] NULL,
	[TaxClassFreight] [tinyint] NULL,
	[TaxClassMisc] [tinyint] NULL,
	[TaxGrpID] [dbo].[pTaxLoc] NULL,
	[TaxableSales] [dbo].[pDecimal] NULL,
	[NonTaxableSales] [dbo].[pDecimal] NULL,
	[SalesTax] [dbo].[pDecimal] NULL,
	[Freight] [dbo].[pDecimal] NULL,
	[Misc] [dbo].[pDecimal] NULL,
	[TotCost] [dbo].[pDecimal] NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[PickNum] [dbo].[pInvoiceNum] NULL,
	[PrintAcknowStatus] [tinyint] NOT NULL,
	[PrintPackStatus] [tinyint] NOT NULL,
	[PackNum] [dbo].[pInvoiceNum] NULL,
	[PostDate] [datetime] NULL,
	[GLPeriod] [smallint] NULL,
	[FiscalYear] [smallint] NULL,
	[PrintInvcStatus] [tinyint] NULL,
	[PrintPickStatus] [tinyint] NULL,
	[NetDueDate] [datetime] NULL,
	[DiscDueDate] [datetime] NULL,
	[DiscAmt] [dbo].[pDecimal] NULL,
	[DiscAmtFgn] [dbo].[pDecimal] NOT NULL,
	[TaxAmtAdj] [dbo].[pDecimal] NULL,
	[TaxAdj] [tinyint] NULL,
	[TaxLocAdj] [dbo].[pTaxLoc] NULL,
	[TaxClassAdj] [tinyint] NULL,
	[TaxableSalesFgn] [dbo].[pDecimal] NULL,
	[NonTaxableSalesFgn] [dbo].[pDecimal] NULL,
	[SalesTaxFgn] [dbo].[pDecimal] NULL,
	[FreightFgn] [dbo].[pDecimal] NULL,
	[MiscFgn] [dbo].[pDecimal] NULL,
	[TotCostFgn] [dbo].[pDecimal] NULL,
	[TaxAmtAdjFgn] [dbo].[pDecimal] NULL,
	[Notes] [nvarchar](max) NULL,
	[BlanketRef] [int] NULL,
	[SourceId] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ShipToAttn] [nvarchar](30) NULL,
	[ShipMethod] [nvarchar](6) NULL,
	[OrderState] [tinyint] NOT NULL,
	[TaxGrpID2] [dbo].[pTaxLoc] NULL,
	[FreightTermID] [bigint] NULL,
	[FreightAccountNumber] [nvarchar](255) NULL,
	[DeliverySurcharge] [bit] NOT NULL,
	[ResidentialYN] [bit] NOT NULL,
	[GlobalLocationNumber] [nvarchar](13) NULL,
	[TotalCharges] [dbo].[pDecimal] NOT NULL,
	[ActualWeight] [dbo].[pDecimal] NOT NULL,
	[ShipToFax] [nvarchar](15) NULL,
	[ShipToEmail] [dbo].[pEmail] NULL,
	[NumberOfPackage] [int] NULL,
	[ReqDeliveryDate] [datetime] NULL,
	[GeneralDelivery] [bit] NOT NULL,
	[Hold] [bit] NOT NULL,
	[LatitudeCoordinates] [dbo].[pDecimal] NULL,
	[LongitudeCoordinates] [dbo].[pDecimal] NULL,
	[ValidAddress] [bit] NOT NULL,
 CONSTRAINT [PK_tblSoTransHeader] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSoTransHeader_BatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoTransHeader_BatchId] ON [dbo].[tblSoTransHeader]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSoTransHeader_VoidYn]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSoTransHeader_VoidYn] ON [dbo].[tblSoTransHeader]
(
	[VoidYn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TransType]  DEFAULT ((9)) FOR [TransType]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_VoidYn]  DEFAULT ((0)) FOR [VoidYn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Layaway]  DEFAULT ((0)) FOR [Layaway]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_InvcDate]  DEFAULT (getdate()) FOR [InvcDate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_PODate]  DEFAULT (getdate()) FOR [PODate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_ReqShipDate]  DEFAULT (getdate()) FOR [ReqShipDate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxOnFreight]  DEFAULT ((1)) FOR [TaxOnFreight]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxClassFreight]  DEFAULT ((0)) FOR [TaxClassFreight]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxClassMisc]  DEFAULT ((0)) FOR [TaxClassMisc]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxableSales]  DEFAULT ((0)) FOR [TaxableSales]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_NonTaxableSales]  DEFAULT ((0)) FOR [NonTaxableSales]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_SalesTax]  DEFAULT ((0)) FOR [SalesTax]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Freight]  DEFAULT ((0)) FOR [Freight]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Misc]  DEFAULT ((0)) FOR [Misc]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TotCost]  DEFAULT ((0)) FOR [TotCost]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_PrintAcknowStatus]  DEFAULT ((0)) FOR [PrintAcknowStatus]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_PrintPackStatus]  DEFAULT ((0)) FOR [PrintPackStatus]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_PrintInvcStatus]  DEFAULT ((0)) FOR [PrintInvcStatus]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_PrintPickStatus]  DEFAULT ((0)) FOR [PrintPickStatus]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_DiscAmt]  DEFAULT ((0)) FOR [DiscAmt]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_DiscAmtFgn]  DEFAULT ((0)) FOR [DiscAmtFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxAmtAdj]  DEFAULT ((0)) FOR [TaxAmtAdj]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxAdj]  DEFAULT ((1)) FOR [TaxAdj]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxClassAdj]  DEFAULT ((0)) FOR [TaxClassAdj]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxableSalesFgn]  DEFAULT ((0)) FOR [TaxableSalesFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_NonTaxableSalesFgn]  DEFAULT ((0)) FOR [NonTaxableSalesFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_SalesTaxFgn]  DEFAULT ((0)) FOR [SalesTaxFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_FreightFgn]  DEFAULT ((0)) FOR [FreightFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_MiscFgn]  DEFAULT ((0)) FOR [MiscFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TotCostFgn]  DEFAULT ((0)) FOR [TotCostFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TaxAmtAdjFgn]  DEFAULT ((0)) FOR [TaxAmtAdjFgn]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_SourceId]  DEFAULT (newid()) FOR [SourceId]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_OrderState]  DEFAULT ((0)) FOR [OrderState]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_DeliverySurcharge]  DEFAULT ((0)) FOR [DeliverySurcharge]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_ResidentialYN]  DEFAULT ((0)) FOR [ResidentialYN]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_TotalCharges]  DEFAULT ((0)) FOR [TotalCharges]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_ActualWeight]  DEFAULT ((0)) FOR [ActualWeight]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_GeneralDelivery]  DEFAULT ((0)) FOR [GeneralDelivery]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_Hold]  DEFAULT ((0)) FOR [Hold]
GO
ALTER TABLE [dbo].[tblSoTransHeader] ADD  CONSTRAINT [DF_tblSoTransHeader_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoTransHeader'
GO
