USE [005]
GO
/****** Object:  Table [dbo].[tblPcInvoiceDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcInvoiceDetail](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddnlDesc] [nvarchar](max) NULL,
	[TaxClass] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[ExtCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NOT NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NOT NULL,
	[Rep1CommRate] [dbo].[pDecimal] NOT NULL,
	[Rep2CommRate] [dbo].[pDecimal] NOT NULL,
	[ProjectDetailId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[ZeroPrint] [bit] NOT NULL,
	[CatId] [nvarchar](2) NULL,
	[LineSeq] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPcInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_ExtPriceFgn]  DEFAULT ((0)) FOR [ExtPriceFgn]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblPcInvoiceDetail] ADD  CONSTRAINT [DF_tblPcInvoiceDetail_ZeroPrint]  DEFAULT ((0)) FOR [ZeroPrint]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcInvoiceDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcInvoiceDetail'
GO
