USE [005]
GO
/****** Object:  Table [dbo].[tblPaTaxAuthorityDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaTaxAuthorityDetail](
	[Id] [int] NOT NULL,
	[TaxAuthorityId] [int] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[Code] [dbo].[pCode] NOT NULL,
	[EmployerPaid] [bit] NOT NULL,
	[Description] [nvarchar](30) NULL,
	[FormulaId] [nvarchar](12) NULL,
	[CodeType] [tinyint] NOT NULL,
	[GlLiabilityAccount] [dbo].[pGlAcct] NULL,
	[TaxId] [nvarchar](17) NULL,
	[FixedPercent] [dbo].[pDecimal] NOT NULL,
	[EmplrExpenseAcct] [dbo].[pGlAcct] NULL,
	[WeeksWorkedLimit] [dbo].[pDecimal] NOT NULL,
	[TaxType] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaTaxAuthorityDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPaTaxAuthorityDetail_TaxAuthorityIdPaYearCodeEmployerPaid]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPaTaxAuthorityDetail_TaxAuthorityIdPaYearCodeEmployerPaid] ON [dbo].[tblPaTaxAuthorityDetail]
(
	[TaxAuthorityId] ASC,
	[PaYear] ASC,
	[Code] ASC,
	[EmployerPaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaTaxAuthorityDetail] ADD  CONSTRAINT [DF_tblPaTaxAuthorityDetail_FixedPercent]  DEFAULT ((0)) FOR [FixedPercent]
GO
ALTER TABLE [dbo].[tblPaTaxAuthorityDetail] ADD  CONSTRAINT [DF_tblPaTaxAuthorityDetail_WeeksWorkedLimit]  DEFAULT ((0)) FOR [WeeksWorkedLimit]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaTaxAuthorityDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaTaxAuthorityDetail'
GO
