USE [005]
GO
/****** Object:  Table [dbo].[tblSoPendingOrder]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoPendingOrder](
	[ID] [bigint] NOT NULL,
	[CustId] [dbo].[pCustID] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[Description] [dbo].[pDescription] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Quantity] [dbo].[pDecimal] NOT NULL,
	[Uom] [dbo].[pUom] NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[UserName] [nvarchar](25) NOT NULL,
	[EntryDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSoPendingOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblSoPendingOrder_CustIdUserName]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [UX_tblSoPendingOrder_CustIdUserName] ON [dbo].[tblSoPendingOrder]
(
	[CustId] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPendingOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoPendingOrder'
GO
