USE [005]
GO
/****** Object:  Table [dbo].[tblPsTransDetailIN]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsTransDetailIN](
	[DetailID] [bigint] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[QtySeqNum] [int] NULL,
	[HistSeqNum] [int] NULL,
	[HistSeqNumSer] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
	[HistorySerID] [bigint] NULL,
	[QuantityCmtdID] [bigint] NULL,
 CONSTRAINT [PK_tblPsTransDetailIN] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsTransDetailIN'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsTransDetailIN'
GO
