USE [005]
GO
/****** Object:  Table [dbo].[tblApPaymentControl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApPaymentControl](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BatchID] [dbo].[pBatchID] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[DisplayFilter] [nvarchar](max) NULL,
	[InvoicesDue] [datetime] NOT NULL,
	[DiscountsDue] [datetime] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[BankID] [dbo].[pBankID] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[GLCashAcct] [dbo].[pGlAcct] NOT NULL,
	[GLDiscAcct] [dbo].[pGlAcct] NOT NULL,
	[TransmitDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ACHBatch] [int] NULL,
 CONSTRAINT [PK_tblApPaymentControl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblApPaymentControl_BatchID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblApPaymentControl_BatchID] ON [dbo].[tblApPaymentControl]
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentControl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentControl'
GO
