USE [005]
GO
/****** Object:  Table [dbo].[tblPaCheckDistribution]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaCheckDistribution](
	[CheckId] [int] NOT NULL,
	[DistributionId] [int] NOT NULL,
	[CurrentAmount] [dbo].[pDecimal] NOT NULL,
	[DirectDepositYN] [bit] NOT NULL,
	[TraceNumber] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaCheckDistribution] PRIMARY KEY CLUSTERED 
(
	[CheckId] ASC,
	[DistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaCheckDistribution] ADD  CONSTRAINT [DF_tblPaCheckDistribution_CurrentAmount]  DEFAULT ((0)) FOR [CurrentAmount]
GO
ALTER TABLE [dbo].[tblPaCheckDistribution] ADD  CONSTRAINT [DF_tblPaCheckDistribution_DirectDepositYN]  DEFAULT ((0)) FOR [DirectDepositYN]
GO
ALTER TABLE [dbo].[tblPaCheckDistribution] ADD  CONSTRAINT [DF_tblPaCheckDistribution_TraceNumber]  DEFAULT ((0)) FOR [TraceNumber]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckDistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaCheckDistribution'
GO
