USE [005]
GO
/****** Object:  Table [dbo].[tblMpMatlSer]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpMatlSer](
	[TransId] [int] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[CostUnit] [dbo].[pDecimal] NOT NULL,
	[CostUnitFgn] [dbo].[pDecimal] NOT NULL,
	[CostUnitACV] [dbo].[pDecimal] NOT NULL,
	[PriceUnit] [dbo].[pDecimal] NOT NULL,
	[PriceUnitFgn] [dbo].[pDecimal] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblMpMatlSer] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMpMatlSer_TransIdEntryNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpMatlSer_TransIdEntryNum] ON [dbo].[tblMpMatlSer]
(
	[TransId] ASC,
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpMatlSer] ADD  CONSTRAINT [DF_tblMpMatlSer_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblMpMatlSer] ADD  CONSTRAINT [DF_tblMpMatlSer_CostUnitFgn]  DEFAULT ((0)) FOR [CostUnitFgn]
GO
ALTER TABLE [dbo].[tblMpMatlSer] ADD  CONSTRAINT [DF_tblMpMatlSer_CostUnitACV]  DEFAULT ((0)) FOR [CostUnitACV]
GO
ALTER TABLE [dbo].[tblMpMatlSer] ADD  CONSTRAINT [DF_tblMpMatlSer_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblMpMatlSer] ADD  CONSTRAINT [DF_tblMpMatlSer_PriceUnitFgn]  DEFAULT ((0)) FOR [PriceUnitFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpMatlSer'
GO
