USE [005]
GO
/****** Object:  Table [dbo].[tblEcAsnExportLog]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcAsnExportLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[PartnerId] [bigint] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ShipToName] [nvarchar](50) NULL,
	[CustPoNum] [nvarchar](75) NULL,
	[AsnNumber] [int] NULL,
	[ShipDate] [datetime] NULL,
	[ShipperName] [nvarchar](25) NULL,
	[ShipNum] [nvarchar](50) NULL,
	[ContainerCount] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblEcAsnExportLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcAsnExportLog'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcAsnExportLog'
GO
