USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLocBin]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLocBin](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[BinNum] [nvarchar](10) NOT NULL,
	[LastCountBatchId] [dbo].[pBatchID] NULL,
	[LastCountQty] [dbo].[pDecimal] NULL,
	[LastCountUom] [dbo].[pUom] NULL,
	[LastCountDate] [datetime] NULL,
	[LastCountTagNum] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemLocBin] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC,
	[BinNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLocBin] ADD  CONSTRAINT [DF_tblInItemLocBin_LastCountQty]  DEFAULT ((0)) FOR [LastCountQty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocBin'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocBin'
GO
