USE [005]
GO
/****** Object:  Table [dbo].[tblEpHCEmployeeMonth]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEpHCEmployeeMonth](
	[ID] [bigint] NOT NULL,
	[HeaderId] [bigint] NOT NULL,
	[PaMonth] [tinyint] NOT NULL,
	[CodeType] [tinyint] NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Premium] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ResidentZipCode] [nvarchar](12) NULL,
 CONSTRAINT [PK_tblEpHCEmployeeMonth] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEpHCEmployeeMonth_HeaderIdCodeTypePaMonth]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEpHCEmployeeMonth_HeaderIdCodeTypePaMonth] ON [dbo].[tblEpHCEmployeeMonth]
(
	[HeaderId] ASC,
	[CodeType] ASC,
	[PaMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblEpHCEmployeeMonth] ADD  CONSTRAINT [DF_tblEpHCEmployeeMonth_Premium]  DEFAULT ((0)) FOR [Premium]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployeeMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEpHCEmployeeMonth'
GO
