USE [005]
GO
/****** Object:  Table [dbo].[tblCmContactGroupDtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmContactGroupDtl](
	[ID] [bigint] NOT NULL,
	[ContactGroupID] [bigint] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[ContactID] [bigint] NOT NULL,
	[ContactMethodID] [bigint] NOT NULL,
	[SelectYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblCmContactGroupDtl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmContactGroupDtl] ADD  CONSTRAINT [DF_tblCmContactGroupDtl_SelectYn]  DEFAULT ((1)) FOR [SelectYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmContactGroupDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmContactGroupDtl'
GO
