USE [005]
GO
/****** Object:  Table [dbo].[tblPaPrepMagMed]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaPrepMagMed](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[LastName] [nvarchar](20) NULL,
	[FirstName] [nvarchar](15) NULL,
	[MiddleInit] [nvarchar](1) NULL,
	[Suffix] [nvarchar](4) NULL,
	[BoxB] [nvarchar](17) NULL,
	[BoxC] [nvarchar](50) NULL,
	[BoxC1] [nvarchar](70) NULL,
	[BoxA] [nvarchar](255) NULL,
	[BoxE] [nvarchar](70) NULL,
	[AddressLine1] [nvarchar](30) NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[BoxF1] [nvarchar](25) NULL,
	[BoxF2] [nvarchar](23) NULL,
	[BoxF3] [nvarchar](15) NULL,
	[BoxF4] [nvarchar](4) NULL,
	[Box15a] [bit] NULL,
	[Box15b] [bit] NULL,
	[Box15c] [bit] NULL,
	[Box15f] [bit] NULL,
	[chkThirdPartySP] [bit] NULL,
	[Box16a] [nvarchar](4) NULL,
	[SumOfBox1] [dbo].[pDecimal] NOT NULL,
	[SumOfBox2] [dbo].[pDecimal] NOT NULL,
	[SumOfBox3] [dbo].[pDecimal] NOT NULL,
	[SumOfBox4] [dbo].[pDecimal] NOT NULL,
	[SumOfBox5] [dbo].[pDecimal] NOT NULL,
	[SumOfBox6] [dbo].[pDecimal] NOT NULL,
	[SumOfBox7] [dbo].[pDecimal] NOT NULL,
	[SumOfBox8] [dbo].[pDecimal] NOT NULL,
	[SumOfBox9] [dbo].[pDecimal] NOT NULL,
	[SumOfBox10] [dbo].[pDecimal] NOT NULL,
	[SumOfBox11] [dbo].[pDecimal] NOT NULL,
	[SumOfBox12] [dbo].[pDecimal] NOT NULL,
	[SumOfBox17] [dbo].[pDecimal] NOT NULL,
	[SumOfBox18] [dbo].[pDecimal] NOT NULL,
	[SumOfBox20] [dbo].[pDecimal] NOT NULL,
	[SumOfBox21] [dbo].[pDecimal] NOT NULL,
	[SUITotWages] [dbo].[pDecimal] NOT NULL,
	[SUITotTaxWages] [dbo].[pDecimal] NOT NULL,
	[SumOfBox13Line1] [dbo].[pDecimal] NOT NULL,
	[SumOfBox13Line2] [dbo].[pDecimal] NOT NULL,
	[SumOfBox13Line3] [dbo].[pDecimal] NOT NULL,
	[SumOfBox14Line1] [dbo].[pDecimal] NOT NULL,
	[SumOfBox14Line2] [dbo].[pDecimal] NOT NULL,
	[SumOfBox14Line3] [dbo].[pDecimal] NOT NULL,
	[Box13LineDesc1] [nvarchar](40) NULL,
	[Box13LineDesc2] [nvarchar](40) NULL,
	[Box13LineDesc3] [nvarchar](40) NULL,
	[DesigRothContrAA] [dbo].[pDecimal] NOT NULL,
	[DesigRothContrBB] [dbo].[pDecimal] NOT NULL,
	[DefCompD] [dbo].[pDecimal] NOT NULL,
	[DefCompE] [dbo].[pDecimal] NOT NULL,
	[DefCompF] [dbo].[pDecimal] NOT NULL,
	[DefCompG] [dbo].[pDecimal] NOT NULL,
	[DefCompH] [dbo].[pDecimal] NOT NULL,
	[Military] [dbo].[pDecimal] NOT NULL,
	[NON457] [dbo].[pDecimal] NOT NULL,
	[sec457] [dbo].[pDecimal] NOT NULL,
	[GTLI] [dbo].[pDecimal] NOT NULL,
	[HSAW] [dbo].[pDecimal] NOT NULL,
	[NonTaxCmbPay] [dbo].[pDecimal] NOT NULL,
	[Def409ANonQDC] [dbo].[pDecimal] NOT NULL,
	[Inc409ANonQDC] [dbo].[pDecimal] NOT NULL,
	[ContrUnder457b] [dbo].[pDecimal] NOT NULL,
	[EmplrCostSpsCovrg] [dbo].[pDecimal] NOT NULL,
	[OptionalCode] [nvarchar](2) NULL,
	[ReportPeriod] [nvarchar](6) NULL,
	[StartDate] [datetime] NULL,
	[TerminDate] [datetime] NULL,
	[OtherStateData] [nvarchar](10) NULL,
	[Box16b] [nvarchar](20) NULL,
	[TaxTypeCode] [nvarchar](1) NULL,
	[StateCode] [int] NOT NULL,
	[SupplData1] [nvarchar](75) NULL,
	[SupplData2] [nvarchar](75) NULL,
	[StateControlNo] [int] NULL,
	[WeeksNo] [int] NOT NULL,
	[StateRec] [bit] NULL,
	[ExercNonStatOpt] [dbo].[pDecimal] NOT NULL,
	[UncollOASDIMed] [dbo].[pDecimal] NOT NULL,
	[UncollMed] [dbo].[pDecimal] NOT NULL,
	[UncollRRTA] [dbo].[pDecimal] NOT NULL,
	[MedSavAccount] [dbo].[pDecimal] NOT NULL,
	[SimpRetAccount] [dbo].[pDecimal] NOT NULL,
	[QualAdopExp] [dbo].[pDecimal] NOT NULL,
	[SpouseSSN] [nvarchar](255) NULL,
	[CivilStatus] [nvarchar](1) NULL,
	[PRCommissions] [dbo].[pDecimal] NOT NULL,
	[PRAllowances] [dbo].[pDecimal] NOT NULL,
	[PRTipsSubjTax] [dbo].[pDecimal] NOT NULL,
	[PRRetirFund] [dbo].[pDecimal] NOT NULL,
	[VirgIslTotWages] [dbo].[pDecimal] NOT NULL,
	[VirgIslIncomeTax] [dbo].[pDecimal] NOT NULL,
	[TaxEntityCode] [nvarchar](5) NULL,
	[Territories] [bit] NULL,
	[chkForeign] [bit] NULL,
	[ts] [timestamp] NULL,
	[QSEHRA] [dbo].[pDecimal] NOT NULL,
	[GGQEG] [dbo].[pDecimal] NOT NULL,
	[HHADF] [dbo].[pDecimal] NOT NULL,
	[IIMED] [dbo].[pDecimal] NOT NULL,
 CONSTRAINT [PK_tblPaPrepMagMed] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Box15a]  DEFAULT ((0)) FOR [Box15a]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Box15b]  DEFAULT ((0)) FOR [Box15b]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Box15c]  DEFAULT ((0)) FOR [Box15c]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Box15f]  DEFAULT ((0)) FOR [Box15f]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_chkThirdPartySP]  DEFAULT ((0)) FOR [chkThirdPartySP]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox1]  DEFAULT ((0)) FOR [SumOfBox1]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox2]  DEFAULT ((0)) FOR [SumOfBox2]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox3]  DEFAULT ((0)) FOR [SumOfBox3]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox4]  DEFAULT ((0)) FOR [SumOfBox4]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox5]  DEFAULT ((0)) FOR [SumOfBox5]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox6]  DEFAULT ((0)) FOR [SumOfBox6]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox7]  DEFAULT ((0)) FOR [SumOfBox7]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox8]  DEFAULT ((0)) FOR [SumOfBox8]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox9]  DEFAULT ((0)) FOR [SumOfBox9]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox10]  DEFAULT ((0)) FOR [SumOfBox10]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox11]  DEFAULT ((0)) FOR [SumOfBox11]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox12]  DEFAULT ((0)) FOR [SumOfBox12]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox17]  DEFAULT ((0)) FOR [SumOfBox17]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox18]  DEFAULT ((0)) FOR [SumOfBox18]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox20]  DEFAULT ((0)) FOR [SumOfBox20]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox21]  DEFAULT ((0)) FOR [SumOfBox21]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SUITotWages]  DEFAULT ((0)) FOR [SUITotWages]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SUITotTaxWages]  DEFAULT ((0)) FOR [SUITotTaxWages]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox13Line1]  DEFAULT ((0)) FOR [SumOfBox13Line1]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox13Line2]  DEFAULT ((0)) FOR [SumOfBox13Line2]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox13Line3]  DEFAULT ((0)) FOR [SumOfBox13Line3]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox14Line1]  DEFAULT ((0)) FOR [SumOfBox14Line1]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox14Line2]  DEFAULT ((0)) FOR [SumOfBox14Line2]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SumOfBox14Line3]  DEFAULT ((0)) FOR [SumOfBox14Line3]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DesigRothContrAA]  DEFAULT ((0)) FOR [DesigRothContrAA]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DesigRothContrBB]  DEFAULT ((0)) FOR [DesigRothContrBB]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DefCompD]  DEFAULT ((0)) FOR [DefCompD]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DefCompE]  DEFAULT ((0)) FOR [DefCompE]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DefCompF]  DEFAULT ((0)) FOR [DefCompF]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DefCompG]  DEFAULT ((0)) FOR [DefCompG]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_DefCompH]  DEFAULT ((0)) FOR [DefCompH]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Military]  DEFAULT ((0)) FOR [Military]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_NON457]  DEFAULT ((0)) FOR [NON457]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_sec457]  DEFAULT ((0)) FOR [sec457]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_GTLI]  DEFAULT ((0)) FOR [GTLI]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_HSAW]  DEFAULT ((0)) FOR [HSAW]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_NonTaxCmbPay]  DEFAULT ((0)) FOR [NonTaxCmbPay]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Def409ANonQDC]  DEFAULT ((0)) FOR [Def409ANonQDC]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Inc409ANonQDC]  DEFAULT ((0)) FOR [Inc409ANonQDC]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_ContrUnder457b]  DEFAULT ((0)) FOR [ContrUnder457b]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_EmplrCostSpsCovrg]  DEFAULT ((0)) FOR [EmplrCostSpsCovrg]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_StateCode]  DEFAULT ((0)) FOR [StateCode]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_WeeksNo]  DEFAULT ((0)) FOR [WeeksNo]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_StateRec]  DEFAULT ((0)) FOR [StateRec]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_ExercNonStatOpt]  DEFAULT ((0)) FOR [ExercNonStatOpt]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_UncollOASDIMed]  DEFAULT ((0)) FOR [UncollOASDIMed]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_UncollMed]  DEFAULT ((0)) FOR [UncollMed]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_UncollRRTA]  DEFAULT ((0)) FOR [UncollRRTA]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_MedSavAccount]  DEFAULT ((0)) FOR [MedSavAccount]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_SimpRetAccount]  DEFAULT ((0)) FOR [SimpRetAccount]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_QualAdopExp]  DEFAULT ((0)) FOR [QualAdopExp]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_PRCommissions]  DEFAULT ((0)) FOR [PRCommissions]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_PRAllowances]  DEFAULT ((0)) FOR [PRAllowances]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_PRTipsSubjTax]  DEFAULT ((0)) FOR [PRTipsSubjTax]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_PRRetirFund]  DEFAULT ((0)) FOR [PRRetirFund]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_VirgIslTotWages]  DEFAULT ((0)) FOR [VirgIslTotWages]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_VirgIslIncomeTax]  DEFAULT ((0)) FOR [VirgIslIncomeTax]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_Territories]  DEFAULT ((0)) FOR [Territories]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_chkForeign]  DEFAULT ((0)) FOR [chkForeign]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_QSEHRA]  DEFAULT ((0)) FOR [QSEHRA]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_GGQEG]  DEFAULT ((0)) FOR [GGQEG]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_HHADF]  DEFAULT ((0)) FOR [HHADF]
GO
ALTER TABLE [dbo].[tblPaPrepMagMed] ADD  CONSTRAINT [DF_tblPaPrepMagMed_IIMED]  DEFAULT ((0)) FOR [IIMED]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaPrepMagMed'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaPrepMagMed'
GO
