USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransDetail](
	[Id] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[LineSeq] [int] NOT NULL,
	[LineType] [smallint] NOT NULL,
	[LineStatus] [int] NOT NULL,
	[LaborCode] [nvarchar](6) NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[RateType] [tinyint] NULL,
	[EarningCode] [dbo].[pCode] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[AddlDescr] [nvarchar](max) NULL,
	[Unit] [dbo].[pUom] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[BurdenCost] [dbo].[pDecimal] NOT NULL,
	[BurdenCostFgn] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCost] [dbo].[pDecimal] NOT NULL,
	[CombinedUnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[ExtCost] [dbo].[pDecimal] NOT NULL,
	[ExtCostFgn] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NOT NULL,
	[ExtPrice] [dbo].[pDecimal] NOT NULL,
	[ExtPriceFgn] [dbo].[pDecimal] NOT NULL,
	[Rep1Id] [dbo].[pSalesRep] NULL,
	[Rep1Pct] [dbo].[pDecimal] NULL,
	[Rep1CommRate] [dbo].[pDecimal] NULL,
	[Rep2Id] [dbo].[pSalesRep] NULL,
	[Rep2Pct] [dbo].[pDecimal] NULL,
	[Rep2CommRate] [dbo].[pDecimal] NULL,
	[UnitCommBasis] [dbo].[pDecimal] NULL,
	[UnitCommBasisFgn] [dbo].[pDecimal] NULL,
	[Reference] [nvarchar](35) NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[PriceId] [nvarchar](10) NULL,
	[TransDate] [datetime] NOT NULL,
	[PaYear] [smallint] NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[AcctCode] [nvarchar](2) NULL,
	[GLAcctSales] [dbo].[pGlAcct] NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctBurdenCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[GLAcctMatlWIP] [dbo].[pGlAcct] NULL,
	[GLAcctMatlBurden] [dbo].[pGlAcct] NULL,
	[GLAcctMatlBurdenWIP] [dbo].[pGlAcct] NULL,
	[GLAcctPayrollClearingLabor] [dbo].[pGlAcct] NULL,
	[GLAcctLaborWIP] [dbo].[pGlAcct] NULL,
	[GLAcctPayrollClearingLaborBurden] [dbo].[pGlAcct] NULL,
	[GLAcctLaborBurdenWIP] [dbo].[pGlAcct] NULL,
	[HistSeqNum] [int] NULL,
	[QtySeqNum_Cmtd] [int] NULL,
	[QtySeqNum] [int] NULL,
	[LinkSeqNum] [int] NULL,
	[TransPostRun] [dbo].[pPostRun] NULL,
	[BillingTransId] [dbo].[pTransID] NULL,
	[BillingEntryNum] [int] NULL,
	[BillingPostRun] [dbo].[pPostRun] NULL,
	[EntryDate] [datetime] NOT NULL,
	[UserId] [dbo].[pUserID] NULL,
	[CreditId] [bigint] NULL,
	[AddlPOInvCostYn] [bit] NOT NULL,
	[POInvoiceID] [uniqueidentifier] NULL,
	[POReceivingDate] [datetime] NULL,
	[PORcptNum] [dbo].[pInvoiceNum] NULL,
	[PORcptID] [uniqueidentifier] NULL,
	[LeftOnSiteYn] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblSrTransDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_LineStatus]  DEFAULT ((0)) FOR [LineStatus]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_BurdenCost]  DEFAULT ((0)) FOR [BurdenCost]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_BurdenCostFgn]  DEFAULT ((0)) FOR [BurdenCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_CombinedUnitCost]  DEFAULT ((0)) FOR [CombinedUnitCost]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_CombinedUnitCostFgn]  DEFAULT ((0)) FOR [CombinedUnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_ExtCostFgn]  DEFAULT ((0)) FOR [ExtCostFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitPriceFgn]  DEFAULT ((0)) FOR [UnitPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_ExtPriceFgn]  DEFAULT ((0)) FOR [ExtPriceFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_Rep1Pct]  DEFAULT ((0)) FOR [Rep1Pct]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_Rep1CommRate]  DEFAULT ((0)) FOR [Rep1CommRate]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_Rep2Pct]  DEFAULT ((0)) FOR [Rep2Pct]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_Rep2CommRate]  DEFAULT ((0)) FOR [Rep2CommRate]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitCommBasis]  DEFAULT ((0)) FOR [UnitCommBasis]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_UnitCommBasisFgn]  DEFAULT ((0)) FOR [UnitCommBasisFgn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_AddlPOInvCostYn]  DEFAULT ((0)) FOR [AddlPOInvCostYn]
GO
ALTER TABLE [dbo].[tblSrTransDetail] ADD  CONSTRAINT [DF_tblSrTransDetail_LeftOnSiteYn]  DEFAULT ((0)) FOR [LeftOnSiteYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransDetail'
GO
