USE [005]
GO
/****** Object:  Table [dbo].[tblInTrans]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInTrans](
	[TransId] [int] NOT NULL,
	[TransType] [tinyint] NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[TransDate] [datetime] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[Uom] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDecimal] NULL,
	[CustLevelId] [nvarchar](10) NULL,
	[PriceId] [nvarchar](10) NULL,
	[SumYear] [smallint] NULL,
	[SumPeriod] [smallint] NULL,
	[GLPeriod] [smallint] NULL,
	[PriceUnit] [dbo].[pDecimal] NULL,
	[CostUnitTrans] [dbo].[pDecimal] NULL,
	[CostUnitStd] [dbo].[pDecimal] NULL,
	[CostUnitXfer] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[GLAcctOffset] [dbo].[pGlAcct] NULL,
	[PromoId] [nvarchar](10) NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblInTrans] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlBatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlBatchId] ON [dbo].[tblInTrans]
(
	[BatchId] ASC,
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlTransType]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTransType] ON [dbo].[tblInTrans]
(
	[TransType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_BatchId]  DEFAULT ('######') FOR [BatchId]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_TransDate]  DEFAULT (getdate()) FOR [TransDate]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_ConvFactor]  DEFAULT ((1)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_SumYear]  DEFAULT ((0)) FOR [SumYear]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_SumPeriod]  DEFAULT ((0)) FOR [SumPeriod]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_GLPeriod]  DEFAULT ((0)) FOR [GLPeriod]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_CostUnitTrans]  DEFAULT ((0)) FOR [CostUnitTrans]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_CostUnitStd]  DEFAULT ((0)) FOR [CostUnitStd]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_CostUnitXfer]  DEFAULT ((0)) FOR [CostUnitXfer]
GO
ALTER TABLE [dbo].[tblInTrans] ADD  CONSTRAINT [DF_tblInTrans_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInTrans'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInTrans'
GO
