USE [005]
GO
/****** Object:  Table [dbo].[tblPsTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsTransHeader](
	[ID] [bigint] NOT NULL,
	[TransIDPrefix] [nvarchar](7) NOT NULL,
	[TransID] [int] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[RewardNumber] [nvarchar](255) NULL,
	[SoldToID] [dbo].[pCustID] NULL,
	[BillToID] [dbo].[pCustID] NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ShipNum] [nvarchar](30) NULL,
	[TaxableYN] [bit] NOT NULL,
	[TaxExemptID] [nvarchar](255) NULL,
	[TaxGroupID] [dbo].[pTaxLoc] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[SalesRepID] [dbo].[pSalesRep] NULL,
	[DueDate] [datetime] NULL,
	[VoidDate] [datetime] NULL,
	[SuspendDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[UserID] [bigint] NOT NULL,
	[HostID] [dbo].[pWrkStnID] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Synched] [bit] NOT NULL,
	[SourceID] [uniqueidentifier] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[SynchID] [bigint] NULL,
	[ConfigID] [bigint] NOT NULL,
	[PONumber] [nvarchar](25) NULL,
	[PODate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[iCap] [varbinary](max) NULL,
	[TaxGroupID2] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblPsTransHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPsTransHeader_ConfigID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsTransHeader_ConfigID] ON [dbo].[tblPsTransHeader]
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPsTransHeader_HostID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsTransHeader_HostID] ON [dbo].[tblPsTransHeader]
(
	[HostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPsTransHeader_RewardNumber]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsTransHeader_RewardNumber] ON [dbo].[tblPsTransHeader]
(
	[RewardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPsTransHeader_SynchID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsTransHeader_SynchID] ON [dbo].[tblPsTransHeader]
(
	[SynchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblPsTransHeader_TransIDPrefixTransID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblPsTransHeader_TransIDPrefixTransID] ON [dbo].[tblPsTransHeader]
(
	[TransIDPrefix] ASC,
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPsTransHeader] ADD  CONSTRAINT [DF_tblPsTransHeader_TaxableYN]  DEFAULT ((1)) FOR [TaxableYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsTransHeader'
GO
