USE [005]
GO
/****** Object:  Table [dbo].[tblGlAcctDtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGlAcctDtl](
	[AcctId] [dbo].[pGlAcct] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Period] [smallint] NOT NULL,
	[Actual] [dbo].[pCurrDecimal] NOT NULL,
	[ActualBase] [dbo].[pCurrDecimal] NOT NULL,
	[Budget] [dbo].[pCurrDecimal] NOT NULL,
	[Forecast] [dbo].[pCurrDecimal] NOT NULL,
	[Balance] [dbo].[pCurrDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblGlAcctDtl] PRIMARY KEY CLUSTERED 
(
	[AcctId] ASC,
	[Year] ASC,
	[Period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Year]  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Period]  DEFAULT ((0)) FOR [Period]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Actual]  DEFAULT ((0)) FOR [Actual]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_ActualBase]  DEFAULT ((0)) FOR [ActualBase]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Budget]  DEFAULT ((0)) FOR [Budget]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Forecast]  DEFAULT ((0)) FOR [Forecast]
GO
ALTER TABLE [dbo].[tblGlAcctDtl] ADD  CONSTRAINT [DF_tblGlAcctDtl_Balance]  DEFAULT ((0)) FOR [Balance]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblGlAcctDtl'
GO
