USE [005]
GO
/****** Object:  Table [dbo].[tblSmExchangeRate]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmExchangeRate](
	[ID] [bigint] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[EffectiveDate] [datetime] NULL,
	[FiscalYear] [smallint] NULL,
	[FiscalPeriod] [smallint] NULL,
	[Notes] [nvarchar](max) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSmExchangeRate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_TypeEffectiveDateFiscalYearFiscalPeriod]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TypeEffectiveDateFiscalYearFiscalPeriod] ON [dbo].[tblSmExchangeRate]
(
	[Type] ASC,
	[EffectiveDate] ASC,
	[FiscalYear] ASC,
	[FiscalPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmExchangeRate]  WITH NOCHECK ADD  CONSTRAINT [CK_tblSmExchangeRate] CHECK  (([Type]=(0) AND NOT [EffectiveDate] IS NULL AND [FiscalYear] IS NULL AND [FiscalPeriod] IS NULL OR [Type]=(1) AND [EffectiveDate] IS NULL AND NOT ([FiscalYear] IS NULL OR [FiscalPeriod] IS NULL) OR [Type]>(1)))
GO
ALTER TABLE [dbo].[tblSmExchangeRate] CHECK CONSTRAINT [CK_tblSmExchangeRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExchangeRate'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmExchangeRate'
GO
