USE [005]
GO
/****** Object:  Table [dbo].[_RCG_tblRcCompDefault]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_RCG_tblRcCompDefault](
	[WebCompId] [nchar](3) NOT NULL,
	[ShortName] [nvarchar](30) NULL,
	[BankId] [nvarchar](10) NULL,
	[DistCode] [nvarchar](6) NULL,
	[PmtMethodId] [nvarchar](10) NULL,
	[CashReceiptBatch] [nvarchar](6) NULL,
	[AlertEmailAddress] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[GlAcctId] [nvarchar](255) NULL,
 CONSTRAINT [PK__RCG_tblRcCompDefault] PRIMARY KEY CLUSTERED 
(
	[WebCompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcCompDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'_RCG_tblRcCompDefault'
GO
