USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryOrderReleases]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryOrderReleases](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[OrderNo] [dbo].[pTransID] NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[AssemblyId] [dbo].[pItemID] NOT NULL,
	[RevisionNo] [nvarchar](3) NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[Planner] [nvarchar](20) NULL,
	[Routing] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[EstStartDate] [datetime] NULL,
	[EstCompletionDate] [datetime] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[SalesOrder] [dbo].[pTransID] NULL,
	[PurchaseOrder] [nvarchar](25) NULL,
	[Priority] [int] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[OrderSource] [int] NOT NULL,
	[OrderCode] [nvarchar](10) NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMpHistoryOrderReleases] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[ReleaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpHistoryOrderReleases] ADD  CONSTRAINT [DF_tblMpHistoryOrderReleases_Priority]  DEFAULT ((0)) FOR [Priority]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryOrderReleases'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryOrderReleases'
GO
