USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistRequestBudget]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistRequestBudget](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[GLAcct] [dbo].[pGlAcct] NOT NULL,
	[BudgetBalance] [dbo].[pDecimal] NULL,
	[OrderBalance] [dbo].[pDecimal] NULL,
	[PendingReq] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPoHistRequestBudget] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransID] ASC,
	[GLAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistRequestBudget] ADD  DEFAULT ((0)) FOR [BudgetBalance]
GO
ALTER TABLE [dbo].[tblPoHistRequestBudget] ADD  DEFAULT ((0)) FOR [OrderBalance]
GO
ALTER TABLE [dbo].[tblPoHistRequestBudget] ADD  DEFAULT ((0)) FOR [PendingReq]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistRequestBudget'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistRequestBudget'
GO
