USE [005]
GO
/****** Object:  Table [dbo].[tblApTransAllocDtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApTransAllocDtl](
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AcctId] [dbo].[pGlAcct] NULL,
	[Amount] [dbo].[pDecimal] NULL,
	[AmountFgn] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblApTransAllocDtl] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[EntryNum] ASC,
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApTransAllocDtl] ADD  CONSTRAINT [DF_tblApTransAllocDtl_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[tblApTransAllocDtl] ADD  CONSTRAINT [DF_tblApTransAllocDtl_AmountFgn]  DEFAULT ((0)) FOR [AmountFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTransAllocDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApTransAllocDtl'
GO
