USE [005]
GO
/****** Object:  Table [dbo].[tblWmPickInfo]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmPickInfo](
	[Id] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Selected] [int] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[DisplayFilter] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[PickDate] [datetime] NOT NULL,
	[AssignedTo] [dbo].[pEmpID] NULL,
	[EntryDate] [datetime] NOT NULL,
	[LocID] [dbo].[pLocID] NOT NULL,
 CONSTRAINT [PK_tblWmPickInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPickInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmPickInfo'
GO
