USE [005]
GO
/****** Object:  Table [dbo].[tblBrJrnlDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrJrnlDetail](
	[EntryNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransID] [dbo].[pTransID] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[DebitAmt] [dbo].[pDecimal] NULL,
	[DebitAmtFgn] [dbo].[pDecimal] NULL,
	[CreditAmt] [dbo].[pDecimal] NULL,
	[CreditAmtFgn] [dbo].[pDecimal] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Reference] [nvarchar](15) NULL,
	[BankIDXferTo] [dbo].[pBankID] NULL,
	[ExchRate] [dbo].[pDecimal] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBrJrnlDetail] PRIMARY KEY CLUSTERED 
(
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBrJrnlDetail] ADD  CONSTRAINT [DF_tblBrJrnlDetail_DebitAmt]  DEFAULT ((0)) FOR [DebitAmt]
GO
ALTER TABLE [dbo].[tblBrJrnlDetail] ADD  CONSTRAINT [DF_tblBrJrnlDetail_DebitAmtFgn]  DEFAULT ((0)) FOR [DebitAmtFgn]
GO
ALTER TABLE [dbo].[tblBrJrnlDetail] ADD  CONSTRAINT [DF_tblBrJrnlDetail_CreditAmt]  DEFAULT ((0)) FOR [CreditAmt]
GO
ALTER TABLE [dbo].[tblBrJrnlDetail] ADD  CONSTRAINT [DF_tblBrJrnlDetail_CreditAmtFgn]  DEFAULT ((0)) FOR [CreditAmtFgn]
GO
ALTER TABLE [dbo].[tblBrJrnlDetail] ADD  CONSTRAINT [DF_tblBrJrnlDetail_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrJrnlDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrJrnlDetail'
GO
