USE [005]
GO
/****** Object:  Table [dbo].[tblPoTransDeposit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoTransDeposit](
	[ID] [bigint] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[DepositDate] [datetime] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[AmountBase] [dbo].[pDecimal] NOT NULL,
	[AmountApplied] [dbo].[pDecimal] NOT NULL,
	[AmountAppliedBase] [dbo].[pDecimal] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[InvoiceCounter] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[BankID] [dbo].[pBankID] NULL,
	[PaymentNumber] [dbo].[pCheckNum] NULL,
	[PostRun] [dbo].[pPostRun] NULL,
	[DepositGLAcct] [dbo].[pGlAcct] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPoTransDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPoTransDeposit_InvoiceCounter]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransDeposit_InvoiceCounter] ON [dbo].[tblPoTransDeposit]
(
	[InvoiceCounter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPoTransDeposit_TransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPoTransDeposit_TransId] ON [dbo].[tblPoTransDeposit]
(
	[TransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoTransDeposit] ADD  CONSTRAINT [DF_tblPoTransDeposit_AmountApplied]  DEFAULT ((0)) FOR [AmountApplied]
GO
ALTER TABLE [dbo].[tblPoTransDeposit] ADD  CONSTRAINT [DF_tblPoTransDeposit_AmountAppliedBase]  DEFAULT ((0)) FOR [AmountAppliedBase]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDeposit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoTransDeposit'
GO
