USE [005]
GO
/****** Object:  Table [dbo].[tblInItemLocVend]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemLocVend](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[VendId] [dbo].[pVendorID] NOT NULL,
	[VendName] [nvarchar](30) NULL,
	[VendItemId] [dbo].[pItemID] NULL,
	[LastPOUnitCost] [dbo].[pDecimal] NOT NULL,
	[LastPODate] [datetime] NULL,
	[LastPOQty] [dbo].[pDecimal] NOT NULL,
	[LastPOConvFactor] [dbo].[pDecimal] NOT NULL,
	[LastPOOrderNum] [nvarchar](25) NULL,
	[LastPOUom] [dbo].[pUom] NULL,
	[LeadTime] [dbo].[pDecimal] NOT NULL,
	[BrkId] [nvarchar](10) NULL,
	[CurrencyID] [dbo].[pCurrency] NULL,
	[ExchRate] [dbo].[pDecimal] NOT NULL,
	[LandedCostID] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblInItemLocVend] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[LocId] ASC,
	[VendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemLocVend] ADD  CONSTRAINT [DF_tblInItemLocVend_LastPOUnitCost]  DEFAULT ((0)) FOR [LastPOUnitCost]
GO
ALTER TABLE [dbo].[tblInItemLocVend] ADD  CONSTRAINT [DF_tblInItemLocVend_LastPOQty]  DEFAULT ((0)) FOR [LastPOQty]
GO
ALTER TABLE [dbo].[tblInItemLocVend] ADD  CONSTRAINT [DF_tblInItemLocVend_LastPOConvFactor]  DEFAULT ((1)) FOR [LastPOConvFactor]
GO
ALTER TABLE [dbo].[tblInItemLocVend] ADD  CONSTRAINT [DF_tblInItemLocVend_LeadTime]  DEFAULT ((0)) FOR [LeadTime]
GO
ALTER TABLE [dbo].[tblInItemLocVend] ADD  CONSTRAINT [DF_tblInItemLocVend_ExchRate]  DEFAULT ((1)) FOR [ExchRate]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocVend'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInItemLocVend'
GO
