USE [005]
GO
/****** Object:  Table [dbo].[tblSrHistDetailSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrHistDetailSer](
	[Id] [int] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[LineDetailId] [bigint] NOT NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[UnitCostACV] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitCostFgn] [dbo].[pDecimal] NOT NULL,
	[UnitPriceFgn] [dbo].[pDecimal] NOT NULL,
	[HistSeqNum] [int] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblSrHistDetailSer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[PostRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrHistDetailSer] ADD  CONSTRAINT [DF_tblSrHistDetailSer_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSrHistDetailSer] ADD  CONSTRAINT [DF_tblSrHistDetailSer_UnitCostACV]  DEFAULT ((0)) FOR [UnitCostACV]
GO
ALTER TABLE [dbo].[tblSrHistDetailSer] ADD  CONSTRAINT [DF_tblSrHistDetailSer_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSrHistDetailSer] ADD  CONSTRAINT [DF_tblSrHistDetailSer_UnitCostFgn]  DEFAULT ((0)) FOR [UnitCostFgn]
GO
ALTER TABLE [dbo].[tblSrHistDetailSer] ADD  CONSTRAINT [DF_tblSrHistDetailSer_UnitPriceFgn]  DEFAULT ((0)) FOR [UnitPriceFgn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistDetailSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrHistDetailSer'
GO
