USE [005]
GO
/****** Object:  Table [dbo].[tblInQty_Ext]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQty_Ext](
	[ExtSeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SeqNum] [int] NOT NULL,
	[ItemId] [nchar](24) NOT NULL,
	[LocId] [nchar](10) NOT NULL,
	[LotNum] [nchar](16) NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[TransType] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblInQty_Ext] PRIMARY KEY NONCLUSTERED 
(
	[ExtSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInQty_Ext_ItemIdLocIdTransTypeLotNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQty_Ext_ItemIdLocIdTransTypeLotNum] ON [dbo].[tblInQty_Ext]
(
	[ItemId] ASC,
	[LocId] ASC,
	[TransType] ASC,
	[LotNum] ASC
)
INCLUDE([Qty],[ExtLocA],[ExtLocB]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblInQty_Ext_SeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQty_Ext_SeqNum] ON [dbo].[tblInQty_Ext]
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblInQty_Ext_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInQty_Ext_ID] ON [dbo].[tblInQty_Ext]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInQty_Ext] ADD  CONSTRAINT [DF_tblInQty_Ext_Qty]  DEFAULT ((0)) FOR [Qty]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQty_Ext'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQty_Ext'
GO
