USE [005]
GO
/****** Object:  Table [dbo].[tblMrScheduleTime]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMrScheduleTime](
	[Id] [int] NOT NULL,
	[ScheduleDateId] [int] NOT NULL,
	[BeginTime] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblMrScheduleTime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMrScheduleTime] ADD  CONSTRAINT [DF_tblMrScheduleTime_BeginTime]  DEFAULT ((0)) FOR [BeginTime]
GO
ALTER TABLE [dbo].[tblMrScheduleTime] ADD  CONSTRAINT [DF_tblMrScheduleTime_Duration]  DEFAULT ((0)) FOR [Duration]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrScheduleTime'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMrScheduleTime'
GO
