USE [005]
GO
/****** Object:  Table [dbo].[tblInQtyOnHand_Offset]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQtyOnHand_Offset](
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GrpID] [int] NULL,
	[EntryDate] [datetime] NOT NULL,
	[Source] [tinyint] NOT NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[Cost] [dbo].[pDecimal] NOT NULL,
	[OnHandLink] [int] NOT NULL,
	[LinkID] [nchar](8) NOT NULL,
	[LinkIDSub] [nchar](8) NOT NULL,
	[LinkIDSubLine] [int] NULL,
	[CostActual] [dbo].[pDecimal] NOT NULL,
	[CostAdj] [dbo].[pDecimal] NOT NULL,
	[CostAdjPosted] [dbo].[pDecimal] NOT NULL,
	[PostedYn] [bit] NOT NULL,
	[DeletedYn] [bit] NOT NULL,
	[CostACV] [dbo].[pDecimal] NOT NULL,
	[CostAdjPostedACV] [dbo].[pDecimal] NOT NULL,
	[ID] [bigint] NOT NULL,
	[ItemID] [dbo].[pItemID] NULL,
	[LocID] [dbo].[pLocID] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
 CONSTRAINT [PK_tblInQtyOnHand_Offset] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblInQtyOnHand_Offset]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQtyOnHand_Offset] ON [dbo].[tblInQtyOnHand_Offset]
(
	[OnHandLink] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblInQtyOnHand_Offset_GrpID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQtyOnHand_Offset_GrpID] ON [dbo].[tblInQtyOnHand_Offset]
(
	[GrpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblInQtyOnHand_Offset_ID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblInQtyOnHand_Offset_ID] ON [dbo].[tblInQtyOnHand_Offset]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_EntryDate]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_Source]  DEFAULT ((0)) FOR [Source]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_CostActual]  DEFAULT ((0)) FOR [CostActual]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_CostAdj]  DEFAULT ((0)) FOR [CostAdj]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_CostAdjPosted]  DEFAULT ((0)) FOR [CostAdjPosted]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_DeletedYn]  DEFAULT ((0)) FOR [DeletedYn]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_CostACV]  DEFAULT ((0)) FOR [CostACV]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_Offset] ADD  CONSTRAINT [DF_tblInQtyOnHand_Offset_CostAdjPostedACV]  DEFAULT ((0)) FOR [CostAdjPostedACV]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand_Offset'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInQtyOnHand_Offset'
GO
