USE [005]
GO
/****** Object:  Table [dbo].[tblPcWIPHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcWIPHeader](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[ProjectDetailId] [int] NOT NULL,
	[FixedFeeAmtAvail] [dbo].[pDecimal] NOT NULL,
	[FixedFeeAmtApply] [dbo].[pDecimal] NOT NULL,
	[DepositAmt] [dbo].[pDecimal] NOT NULL,
	[DepositAmtAvail] [dbo].[pDecimal] NOT NULL,
	[DepositAmtApply] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ProjectName] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[FixedFee] [bit] NOT NULL,
	[FixedFeeAmt] [dbo].[pDecimal] NOT NULL,
	[ProjectDetailDescription] [nvarchar](30) NULL,
	[SiteID] [dbo].[pLocID] NULL,
 CONSTRAINT [PK_tblPcWIPHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlBatchId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlBatchId] ON [dbo].[tblPcWIPHeader]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlProjectDetailId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlProjectDetailId] ON [dbo].[tblPcWIPHeader]
(
	[ProjectDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_FixedFeeAmtAvail]  DEFAULT ((0)) FOR [FixedFeeAmtAvail]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_FixedFeeAmtApply]  DEFAULT ((0)) FOR [FixedFeeAmtApply]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_DepositAmt]  DEFAULT ((0)) FOR [DepositAmt]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_DepositAmtAvail]  DEFAULT ((0)) FOR [DepositAmtAvail]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_DepositAmtApply]  DEFAULT ((0)) FOR [DepositAmtApply]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_FixedFee]  DEFAULT ((0)) FOR [FixedFee]
GO
ALTER TABLE [dbo].[tblPcWIPHeader] ADD  CONSTRAINT [DF_tblPcWIPHeader_FixedFeeAmt]  DEFAULT ((0)) FOR [FixedFeeAmt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcWIPHeader'
GO
