USE [005]
GO
/****** Object:  Table [dbo].[tblArSalesRep]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArSalesRep](
	[SalesRepID] [dbo].[pSalesRep] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Addr1] [nvarchar](30) NULL,
	[Addr2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[IntlPrefix] [nvarchar](6) NULL,
	[Phone] [nvarchar](15) NULL,
	[Fax] [nvarchar](15) NULL,
	[EmplId] [dbo].[pEmpID] NULL,
	[RunCode] [nvarchar](10) NULL,
	[CommRate] [dbo].[pDecimal] NULL,
	[PctOf] [tinyint] NULL,
	[BasedOn] [tinyint] NULL,
	[PayOnLineItems] [bit] NULL,
	[PayOnSalesTax] [bit] NULL,
	[PayOnFreight] [bit] NULL,
	[PayOnMisc] [bit] NULL,
	[PTDSales] [dbo].[pDecimal] NULL,
	[YTDSales] [dbo].[pDecimal] NULL,
	[LastSalesDate] [datetime] NULL,
	[Email] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[PayVia] [tinyint] NOT NULL,
	[EarnCode] [dbo].[pCode] NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblArSalesRep] PRIMARY KEY CLUSTERED 
(
	[SalesRepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_CommRate]  DEFAULT ((0)) FOR [CommRate]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PctOf]  DEFAULT ((0)) FOR [PctOf]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_BasedOn]  DEFAULT ((0)) FOR [BasedOn]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PayOnLineItems]  DEFAULT ((1)) FOR [PayOnLineItems]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PayOnSalesTax]  DEFAULT ((0)) FOR [PayOnSalesTax]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PayOnFreight]  DEFAULT ((0)) FOR [PayOnFreight]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PayOnMisc]  DEFAULT ((0)) FOR [PayOnMisc]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PTDSales]  DEFAULT ((0)) FOR [PTDSales]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_YTDSales]  DEFAULT ((0)) FOR [YTDSales]
GO
ALTER TABLE [dbo].[tblArSalesRep] ADD  CONSTRAINT [DF_tblArSalesRep_PayVia]  DEFAULT ((0)) FOR [PayVia]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArSalesRep'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblArSalesRep'
GO
