USE [005]
GO
/****** Object:  Table [dbo].[tblMpTimeDtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpTimeDtl](
	[TransId] [int] NOT NULL,
	[SeqNo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransDate] [datetime] NULL,
	[MachineSetup] [dbo].[pDecimal] NOT NULL,
	[MachineSetupIn] [smallint] NOT NULL,
	[MachineRun] [dbo].[pDecimal] NOT NULL,
	[MachineRunIn] [smallint] NOT NULL,
	[LaborSetup] [dbo].[pDecimal] NOT NULL,
	[LaborSetupIn] [smallint] NOT NULL,
	[Labor] [dbo].[pDecimal] NOT NULL,
	[LaborIn] [smallint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[EmployeePayRate] [dbo].[pDecimal] NOT NULL,
	[QtyProduced] [dbo].[pDecimal] NOT NULL,
	[QtyScrapped] [dbo].[pDecimal] NOT NULL,
	[VarianceCode] [nvarchar](10) NULL,
	[BeginTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Hours] [int] NULL,
	[Mins] [int] NULL,
	[PostedPayrollYn] [bit] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[PostedYn] [bit] NOT NULL,
 CONSTRAINT [PK_tblMpTimeDtl] PRIMARY KEY CLUSTERED 
(
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMpTimeDtl_TransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblMpTimeDtl_TransId] ON [dbo].[tblMpTimeDtl]
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_MachineSetup]  DEFAULT ((0)) FOR [MachineSetup]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_MachineSetupIn]  DEFAULT ((1)) FOR [MachineSetupIn]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_MachineRun]  DEFAULT ((0)) FOR [MachineRun]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_MachineRunIn]  DEFAULT ((1)) FOR [MachineRunIn]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_LaborSetup]  DEFAULT ((0)) FOR [LaborSetup]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_LaborSetupIn]  DEFAULT ((1)) FOR [LaborSetupIn]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_Labor]  DEFAULT ((0)) FOR [Labor]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_LaborIn]  DEFAULT ((1)) FOR [LaborIn]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_QtyProduced]  DEFAULT ((0)) FOR [QtyProduced]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_QtyScrapped]  DEFAULT ((0)) FOR [QtyScrapped]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_PostedPayrollYn]  DEFAULT ((0)) FOR [PostedPayrollYn]
GO
ALTER TABLE [dbo].[tblMpTimeDtl] ADD  CONSTRAINT [DF_tblMpTimeDtl_PostedYn]  DEFAULT ((0)) FOR [PostedYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpTimeDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpTimeDtl'
GO
