USE [005]
GO
/****** Object:  Table [dbo].[tblSrTransContact]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrTransContact](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[JobType] [nvarchar](6) NULL,
	[DocumentType] [smallint] NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[ContactType] [smallint] NOT NULL,
	[ContactDescr] [nvarchar](255) NULL,
	[Value] [nvarchar](255) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrTransContact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSrTransContact_TransDocumentContactValue]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblSrTransContact_TransDocumentContactValue] ON [dbo].[tblSrTransContact]
(
	[TransId] ASC,
	[DocumentType] ASC,
	[JobType] ASC,
	[ContactType] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrTransContact] ADD  CONSTRAINT [DF_tblSrTransContact_DocumentType]  DEFAULT ((0)) FOR [DocumentType]
GO
ALTER TABLE [dbo].[tblSrTransContact] ADD  CONSTRAINT [DF_tblSrTransContact_ContactType]  DEFAULT ((0)) FOR [ContactType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransContact'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrTransContact'
GO
