USE [005]
GO
/****** Object:  Table [dbo].[tblSoHistReturnedItem]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoHistReturnedItem](
	[Counter] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[PostDate] [datetime] NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ResCode] [nvarchar](10) NULL,
	[ResCodeDescr] [nvarchar](35) NULL,
	[RMANumber] [dbo].[pInvoiceNum] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[TransId] [dbo].[pTransID] NULL,
	[EntryNum] [int] NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[ItemDescr] [nvarchar](35) NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAId] [nvarchar](10) NULL,
	[ExtLocB] [int] NULL,
	[ExtLocBId] [nvarchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[Units] [dbo].[pUom] NULL,
	[QtyReturn] [dbo].[pDecimal] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[CostExt] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[PriceExt] [dbo].[pDecimal] NOT NULL,
	[GLAcctCOGS] [dbo].[pGlAcct] NULL,
	[GLAcctInv] [dbo].[pGlAcct] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ReturnID] [int] NOT NULL,
	[QtyStatus] [smallint] NULL,
 CONSTRAINT [PK_tblSoHistReturnedItem] PRIMARY KEY CLUSTERED 
(
	[Counter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_GlPeriod]  DEFAULT ((0)) FOR [GlPeriod]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_FiscalYear]  DEFAULT ((0)) FOR [FiscalYear]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_QtyReturn]  DEFAULT ((0)) FOR [QtyReturn]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_CostExt]  DEFAULT ((0)) FOR [CostExt]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[tblSoHistReturnedItem] ADD  CONSTRAINT [DF_tblSoHistReturnedItem_PriceExt]  DEFAULT ((0)) FOR [PriceExt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoHistReturnedItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSoHistReturnedItem'
GO
