USE [005]
GO
/****** Object:  Table [dbo].[tblPsHistHeader]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPsHistHeader](
	[ID] [bigint] NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransIDPrefix] [nvarchar](7) NOT NULL,
	[TransID] [int] NOT NULL,
	[TransType] [smallint] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[RewardNumber] [nvarchar](255) NULL,
	[SoldToID] [dbo].[pCustID] NULL,
	[BillToID] [dbo].[pCustID] NULL,
	[ShipToID] [dbo].[pCustID] NULL,
	[ShipVia] [nvarchar](50) NULL,
	[ShipNum] [nvarchar](30) NULL,
	[TaxableYN] [bit] NOT NULL,
	[TaxExemptID] [nvarchar](255) NULL,
	[TaxGroupID] [dbo].[pTaxLoc] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[SalesRepID] [dbo].[pSalesRep] NULL,
	[DueDate] [datetime] NULL,
	[VoidDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[UserID] [bigint] NOT NULL,
	[HostID] [dbo].[pWrkStnID] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[SourceID] [uniqueidentifier] NOT NULL,
	[LocID] [dbo].[pLocID] NULL,
	[DistCode] [dbo].[pDistCode] NULL,
	[GLAcctReceivables] [dbo].[pGlAcct] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[PONumber] [nvarchar](25) NULL,
	[PODate] [datetime] NULL,
	[ReqShipDate] [datetime] NULL,
	[iCap] [varbinary](max) NULL,
	[TaxGroupID2] [dbo].[pTaxLoc] NULL,
 CONSTRAINT [PK_tblPsHistHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPsHistHeader_RewardNumber]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPsHistHeader_RewardNumber] ON [dbo].[tblPsHistHeader]
(
	[RewardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPsHistHeader'
GO
