USE [005]
GO
/****** Object:  Table [dbo].[tblSysCatalogMetrics]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysCatalogMetrics](
	[CatalogDefId] [bigint] NOT NULL,
	[LastRefreshed] [datetime] NULL,
	[LastValue] [nvarchar](max) NULL,
	[ts] [timestamp] NULL,
	[ScheduleYN] [bit] NOT NULL,
 CONSTRAINT [PK_tblSysCatalogMetrics] PRIMARY KEY CLUSTERED 
(
	[CatalogDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSysCatalogMetrics] ADD  CONSTRAINT [DF_tblSysCatalogMetrics_ScheduleYN]  DEFAULT ((0)) FOR [ScheduleYN]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCatalogMetrics'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSysCatalogMetrics'
GO
