USE [005]
GO
/****** Object:  Table [dbo].[tblApPaymentHistHeader]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApPaymentHistHeader](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[BatchId] [dbo].[pBatchID] NOT NULL,
	[VendorID] [dbo].[pVendorID] NOT NULL,
	[PmtType] [tinyint] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentRun] [datetime] NOT NULL,
	[PaymentNum] [dbo].[pCheckNum] NULL,
	[PaymentAmt] [dbo].[pDecimal] NOT NULL,
	[PaymentAmtBase] [dbo].[pDecimal] NOT NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[BankId] [dbo].[pBankID] NOT NULL,
	[BankAcctNum] [nvarchar](255) NULL,
	[RoutingCode] [nvarchar](9) NULL,
	[FiscalPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[PayToName] [nvarchar](30) NULL,
	[PayToAttn] [nvarchar](30) NULL,
	[PayToAddr1] [nvarchar](30) NULL,
	[PayToAddr2] [nvarchar](60) NULL,
	[PayToCity] [nvarchar](30) NULL,
	[PayToRegion] [nvarchar](10) NULL,
	[PayToCountry] [dbo].[pCountry] NULL,
	[PayToPostalCode] [nvarchar](10) NULL,
	[DeliveryType] [tinyint] NULL,
	[GLCashAcct] [dbo].[pGlAcct] NOT NULL,
	[GLDiscAcct] [dbo].[pGlAcct] NOT NULL,
	[VoidDate] [datetime] NULL,
	[VoidFiscalPeriod] [smallint] NULL,
	[VoidFiscalYear] [smallint] NULL,
	[CF] [xml] NULL,
	[BankAccountType] [tinyint] NOT NULL,
	[VoidPostRun] [dbo].[pPostRun] NULL,
 CONSTRAINT [PK_tblApPaymentHistHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblApPaymentHistHeader_PaymentNum]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentHistHeader_PaymentNum] ON [dbo].[tblApPaymentHistHeader]
(
	[PaymentNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblApPaymentHistHeader_PaymentRun]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentHistHeader_PaymentRun] ON [dbo].[tblApPaymentHistHeader]
(
	[PaymentRun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblApPaymentHistHeader_Post PaymentID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblApPaymentHistHeader_Post PaymentID] ON [dbo].[tblApPaymentHistHeader]
(
	[PostRun] ASC,
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblApPaymentHistHeader_VendorID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblApPaymentHistHeader_VendorID] ON [dbo].[tblApPaymentHistHeader]
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApPaymentHistHeader] ADD  CONSTRAINT [DF_tblApPaymentHistHeader_DeliveryType]  DEFAULT ((0)) FOR [DeliveryType]
GO
ALTER TABLE [dbo].[tblApPaymentHistHeader] ADD  CONSTRAINT [DF_tblApPaymentHistHeader_BankAccountType]  DEFAULT ((0)) FOR [BankAccountType]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentHistHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblApPaymentHistHeader'
GO
