USE [005]
GO
/****** Object:  Table [dbo].[tblWmCycleCount]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWmCycleCount](
	[LocID] [dbo].[pLocID] NOT NULL,
	[CountType] [tinyint] NOT NULL,
	[CountPerYear] [int] NULL,
	[CountDaysPerYear] [int] NOT NULL,
	[MaxNumOfItems] [int] NOT NULL,
	[StartCountDate] [datetime] NULL,
	[ItemsWithNoHistYn] [bit] NOT NULL,
	[FreezeYn] [bit] NOT NULL,
	[Filter] [nvarchar](max) NULL,
	[DisplayFilter] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblWmCycleCount] PRIMARY KEY CLUSTERED 
(
	[LocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWmCycleCount] ADD  CONSTRAINT [DF_tblWmCycleCount_CountType]  DEFAULT ((0)) FOR [CountType]
GO
ALTER TABLE [dbo].[tblWmCycleCount] ADD  CONSTRAINT [DF_tblWmCycleCount_CountDaysPerYear]  DEFAULT ((0)) FOR [CountDaysPerYear]
GO
ALTER TABLE [dbo].[tblWmCycleCount] ADD  CONSTRAINT [DF_tblWmCycleCount_MaxNumOfItems]  DEFAULT ((0)) FOR [MaxNumOfItems]
GO
ALTER TABLE [dbo].[tblWmCycleCount] ADD  CONSTRAINT [DF_tblWmCycleCount_ItemsWithNoHistYn]  DEFAULT ((0)) FOR [ItemsWithNoHistYn]
GO
ALTER TABLE [dbo].[tblWmCycleCount] ADD  CONSTRAINT [DF_tblWmCycleCount_AlwaysCountYn]  DEFAULT ((0)) FOR [FreezeYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmCycleCount'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWmCycleCount'
GO
