USE [005]
GO
/****** Object:  Table [dbo].[tblSrACSHistARInvoiceKit]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrACSHistARInvoiceKit](
	[CustomerNbr] [dbo].[pCustID] NOT NULL,
	[InvoiceNbr] [dbo].[pInvoiceNum] NOT NULL,
	[LineNbr] [int] NOT NULL,
	[SeqNbr] [int] NOT NULL,
	[ItemNbr] [dbo].[pItemID] NULL,
	[WarehouseId] [nvarchar](2) NULL,
	[OrderNbr] [nvarchar](7) NULL,
	[QtyOrdered] [dbo].[pDecimal] NOT NULL,
	[UnitPrice] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrACSHistARInvoiceKit] PRIMARY KEY CLUSTERED 
(
	[CustomerNbr] ASC,
	[InvoiceNbr] ASC,
	[LineNbr] ASC,
	[SeqNbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistARInvoiceKit'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrACSHistARInvoiceKit'
GO
