USE [005]
GO
/****** Object:  Table [dbo].[tblWMBOLDetailHM]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWMBOLDetailHM](
	[BOLHMRef] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BOLDtlRef] [int] NOT NULL,
	[HMCode] [nvarchar](6) NULL,
	[Descr] [nvarchar](300) NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblWMBOLDetailHM] PRIMARY KEY CLUSTERED 
(
	[BOLHMRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLDetailHM'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblWMBOLDetailHM'
GO
