USE [005]
GO
/****** Object:  Table [dbo].[tblPoPurchaseReq]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoPurchaseReq](
	[ReqId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VendorId] [dbo].[pVendorID] NULL,
	[CurrencyID] [dbo].[pCurrency] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[ItemType] [tinyint] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[Uom] [dbo].[pUom] NULL,
	[InitDate] [datetime] NULL,
	[EnteredBy] [dbo].[pUserID] NULL,
	[SourceApp] [nvarchar](2) NULL,
	[RefId] [nvarchar](255) NULL,
	[GenerateYn] [bit] NULL,
	[GlAcct] [dbo].[pGlAcct] NULL,
	[ReqShipDate] [datetime] NULL,
	[AddnlDescr] [nvarchar](max) NULL,
	[DropShipYn] [bit] NULL,
	[SourceType] [smallint] NULL,
	[LineNum] [int] NULL,
	[LinkTransId] [dbo].[pTransID] NULL,
	[Seq] [int] NULL,
	[ReleaseNum] [nvarchar](3) NULL,
	[OrderReqId] [nvarchar](4) NULL,
	[LinkSeqNum] [int] NULL,
	[CustId] [dbo].[pCustID] NULL,
	[ProjId] [nvarchar](10) NULL,
	[PhaseId] [nvarchar](10) NULL,
	[TaskId] [nvarchar](10) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ExpReceiptDate] [datetime] NULL,
 CONSTRAINT [PK_tblPoPurchaseReq] PRIMARY KEY CLUSTERED 
(
	[ReqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlItemId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlItemId] ON [dbo].[tblPoPurchaseReq]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlLocId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlLocId] ON [dbo].[tblPoPurchaseReq]
(
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlVendorId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlVendorId] ON [dbo].[tblPoPurchaseReq]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_ItemType]  DEFAULT ((0)) FOR [ItemType]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_GenerateYn]  DEFAULT ((0)) FOR [GenerateYn]
GO
ALTER TABLE [dbo].[tblPoPurchaseReq] ADD  CONSTRAINT [DF_tblPoPurchaseReq_DropShipYn]  DEFAULT ((0)) FOR [DropShipYn]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoPurchaseReq'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoPurchaseReq'
GO
