USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryMatlSer]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryMatlSer](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[SeqNum] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[ExtLocAID] [nvarchar](10) NULL,
	[ExtLocBID] [nvarchar](10) NULL,
	[CostUnit] [dbo].[pDecimal] NOT NULL,
	[CostUnitFgn] [dbo].[pDecimal] NOT NULL,
	[PriceUnit] [dbo].[pDecimal] NOT NULL,
	[PriceUnitFgn] [dbo].[pDecimal] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[Cmnt] [nvarchar](35) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblMpHistoryMatlSer] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[EntryNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryMatlSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryMatlSer'
GO
