USE [005]
GO
/****** Object:  Table [dbo].[tblInMatReqSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInMatReqSer](
	[TransId] [int] NOT NULL,
	[LineNum] [smallint] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[ExtLocA] [int] NULL,
	[ExtLocB] [int] NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[CostUnitFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CostUnitACV] [dbo].[pDecimal] NOT NULL,
	[HistorySerID] [bigint] NULL,
 CONSTRAINT [PK_tblInMatReqSer] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[LineNum] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInMatReqSer] ADD  CONSTRAINT [DF_tblInMatReqSer_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInMatReqSer] ADD  CONSTRAINT [DF_tblInMatReqSer_CostUnitFgn]  DEFAULT ((0)) FOR [CostUnitFgn]
GO
ALTER TABLE [dbo].[tblInMatReqSer] ADD  CONSTRAINT [DF_tblInMatReqSer_QtySeqNum]  DEFAULT ((0)) FOR [QtySeqNum]
GO
ALTER TABLE [dbo].[tblInMatReqSer] ADD  CONSTRAINT [DF_tblInMatReqSer_CostUnitACV]  DEFAULT ((0)) FOR [CostUnitACV]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInMatReqSer'
GO
