USE [005]
GO
/****** Object:  Table [dbo].[tblPcProjectDetailSiteInfo]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPcProjectDetailSiteInfo](
	[ProjectDetailID] [int] NOT NULL,
	[SiteID] [dbo].[pLocID] NULL,
	[Name] [nvarchar](30) NULL,
	[Attention] [nvarchar](30) NULL,
	[Address1] [nvarchar](30) NULL,
	[Address2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NULL,
	[Region] [nvarchar](10) NULL,
	[Country] [dbo].[pCountry] NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Phone] [nvarchar](15) NULL,
	[Fax] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[Internet] [nvarchar](255) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[LatitudeCoordinates] [dbo].[pDecimal] NULL,
	[LongitudeCoordinates] [dbo].[pDecimal] NULL,
	[ValidAddress] [bit] NOT NULL,
 CONSTRAINT [PK_tblPcProjectDetailSiteInfo] PRIMARY KEY CLUSTERED 
(
	[ProjectDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPcProjectDetailSiteInfo] ADD  CONSTRAINT [DF_tblPcProjectDetailSiteInfo_ValidAddress]  DEFAULT ((0)) FOR [ValidAddress]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcProjectDetailSiteInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPcProjectDetailSiteInfo'
GO
