USE [005]
GO
/****** Object:  Table [dbo].[tblPaTransEmplrCostHist]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaTransEmplrCostHist](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[Id] [int] NOT NULL,
	[PaYear] [smallint] NOT NULL,
	[PaMonth] [tinyint] NOT NULL,
	[EmployeeId] [dbo].[pEmpID] NULL,
	[DeductCode] [dbo].[pCode] NULL,
	[DepartmentId] [dbo].[pDeptID] NULL,
	[LaborClass] [nvarchar](3) NULL,
	[Hours] [dbo].[pDecimal] NOT NULL,
	[Amount] [dbo].[pDecimal] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[SeqNo] [nvarchar](3) NULL,
	[Note] [nvarchar](255) NULL,
	[CheckNumber] [dbo].[pCheckNum] NULL,
	[CheckId] [int] NULL,
	[Voided] [bit] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblPaTransEmplrCostHist] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPaTransEmplrCostHist_CheckId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaTransEmplrCostHist_CheckId] ON [dbo].[tblPaTransEmplrCostHist]
(
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblPaTransEmplrCostHist_PaYearPaMonthEmployeeId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblPaTransEmplrCostHist_PaYearPaMonthEmployeeId] ON [dbo].[tblPaTransEmplrCostHist]
(
	[PaYear] ASC,
	[PaMonth] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaTransEmplrCostHist'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPaTransEmplrCostHist'
GO
