USE [005]
GO
/****** Object:  Table [dbo].[tblSmEmployee]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmEmployee](
	[EmployeeId] [dbo].[pEmpID] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LastName] [nvarchar](20) NULL,
	[FirstName] [nvarchar](15) NULL,
	[MiddleInit] [nvarchar](1) NULL,
	[AddressLine1] [nvarchar](30) NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[ResidentCity] [nvarchar](30) NULL,
	[ResidentState] [nvarchar](2) NULL,
	[ZipCode] [nvarchar](12) NULL,
	[CountryCode] [dbo].[pCountry] NULL,
	[SocialSecurityNo] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](13) NULL,
	[WorkPhoneNo] [nvarchar](13) NULL,
	[WorkExtension] [nvarchar](5) NULL,
	[BirthDate] [datetime] NULL,
	[EmergrncyContact] [nvarchar](20) NULL,
	[ContactWorkPhone] [nvarchar](13) NULL,
	[ContactHomePhone] [nvarchar](13) NULL,
	[ContactRelation] [nvarchar](18) NULL,
	[WorkEmail] [dbo].[pEmail] NULL,
	[HomeEmail] [dbo].[pEmail] NULL,
	[Internet] [dbo].[pWeb] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[UID] [bigint] NOT NULL,
	[HRts] [varbinary](8) NULL,
 CONSTRAINT [PK_tblSmEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_tblSmEmployee_Status]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmEmployee_Status] ON [dbo].[tblSmEmployee]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_tblSmEmployee_UID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblSmEmployee_UID] ON [dbo].[tblSmEmployee]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSmEmployee] ADD  CONSTRAINT [DF_tblSmEmployee_Status]  DEFAULT ((0)) FOR [Status]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmEmployee'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmEmployee'
GO
