USE [005]
GO
/****** Object:  Table [dbo].[tblHrIndRetirement]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHrIndRetirement](
	[ID] [bigint] NOT NULL,
	[IndId] [dbo].[pEmpID] NOT NULL,
	[RetPlanID] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[AllocMethodTypeCodeID] [bigint] NOT NULL,
	[PreTaxNumber] [dbo].[pDecimal] NOT NULL,
	[AfterTaxNumber] [dbo].[pDecimal] NOT NULL,
	[BonusNumber] [dbo].[pDecimal] NOT NULL,
	[LoanAmount] [decimal](18, 0) NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblHrIndRetirement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblHrIndRetirement_IndId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblHrIndRetirement_IndId] ON [dbo].[tblHrIndRetirement]
(
	[IndId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblHrIndRetirement] ADD  CONSTRAINT [DF_tblHrIndRetirement_PreTaxNumber]  DEFAULT ((0)) FOR [PreTaxNumber]
GO
ALTER TABLE [dbo].[tblHrIndRetirement] ADD  CONSTRAINT [DF_tblHrIndRetirement_AfterTaxNumber]  DEFAULT ((0)) FOR [AfterTaxNumber]
GO
ALTER TABLE [dbo].[tblHrIndRetirement] ADD  CONSTRAINT [DF_tblHrIndRetirement_BonusNumber]  DEFAULT ((0)) FOR [BonusNumber]
GO
ALTER TABLE [dbo].[tblHrIndRetirement] ADD  CONSTRAINT [DF_tblHrIndRetirement_LoanAmount]  DEFAULT ((0)) FOR [LoanAmount]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndRetirement'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblHrIndRetirement'
GO
