USE [005]
GO
/****** Object:  Table [dbo].[tblPoHistInvoice]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPoHistInvoice](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransID] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NOT NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NOT NULL,
	[Status] [tinyint] NULL,
	[Qty] [dbo].[pDecimal] NULL,
	[UnitCost] [dbo].[pDecimal] NULL,
	[UnitCostFgn] [dbo].[pDecimal] NULL,
	[ExtCost] [dbo].[pDecimal] NULL,
	[ExtCostFgn] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[AvgRcptCost] [dbo].[pDecimal] NULL,
	[TransHistID] [nvarchar](10) NULL,
	[QtySeqNum] [int] NULL,
	[InvoiceID] [uniqueidentifier] NOT NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblPoHistInvoice] PRIMARY KEY CLUSTERED 
(
	[PostRun] ASC,
	[TransID] ASC,
	[EntryNum] ASC,
	[InvoiceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlTransHistID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTransHistID] ON [dbo].[tblPoHistInvoice]
(
	[TransHistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblPoHistInvoice] ADD  CONSTRAINT [DF_tblPoHistInvoice_InvoiceID]  DEFAULT (newid()) FOR [InvoiceID]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblPoHistInvoice'
GO
