USE [005]
GO
/****** Object:  Table [dbo].[tblCmTaskTemplateDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCmTaskTemplateDetail](
	[ID] [bigint] NOT NULL,
	[TaskTypeID] [bigint] NOT NULL,
	[Description] [dbo].[pDescription] NULL,
	[AssignedToUserID] [dbo].[pUserID] NULL,
	[Status] [tinyint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TemplateID] [bigint] NOT NULL,
 CONSTRAINT [PK_tblCmTaskTemplateDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCmTaskTemplateDetail] ADD  CONSTRAINT [DF_tblCmTaskTemplateDetail_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblCmTaskTemplateDetail] ADD  CONSTRAINT [DF_tblCmTaskTemplateDetail_Priority]  DEFAULT ((0)) FOR [Priority]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmTaskTemplateDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblCmTaskTemplateDetail'
GO
