USE [005]
GO
/****** Object:  Table [dbo].[tblDrFrcst]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDrFrcst](
	[Id] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[EstAdjPct1] [dbo].[pDecimal] NOT NULL,
	[EstAdjPct2] [dbo].[pDecimal] NOT NULL,
	[EstAdjPct3] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblDrFrcst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_tblDrFrcst_ItemIdLocId]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblDrFrcst_ItemIdLocId] ON [dbo].[tblDrFrcst]
(
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDrFrcst] ADD  CONSTRAINT [DF_tblDrFrcst_EstAdjPct1]  DEFAULT ((0)) FOR [EstAdjPct1]
GO
ALTER TABLE [dbo].[tblDrFrcst] ADD  CONSTRAINT [DF_tblDrFrcst_EstAdjPct2]  DEFAULT ((0)) FOR [EstAdjPct2]
GO
ALTER TABLE [dbo].[tblDrFrcst] ADD  CONSTRAINT [DF_tblDrFrcst_EstAdjPct3]  DEFAULT ((0)) FOR [EstAdjPct3]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrFrcst'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblDrFrcst'
GO
