USE [005]
GO
/****** Object:  Table [dbo].[tblInXferSer]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInXferSer](
	[HistSeqNumTo] [int] NULL,
	[TransId] [int] NOT NULL,
	[SeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[LotNumFrom] [dbo].[pLotNum] NULL,
	[LotNumTo] [dbo].[pLotNum] NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[ExtLocAFrom] [int] NULL,
	[ExtLocBFrom] [int] NULL,
	[ExtLocATo] [int] NULL,
	[ExtLocBTo] [int] NULL,
	[CostUnit] [dbo].[pDecimal] NULL,
	[CostXfer] [dbo].[pDecimal] NULL,
	[PriceUnit] [dbo].[pDecimal] NULL,
	[HistSeqNum] [int] NULL,
	[Cmnt] [nvarchar](35) NULL,
	[QtySeqNumFrom] [int] NULL,
	[QtySeqNumTo] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[CostUnitACV] [dbo].[pDecimal] NOT NULL,
	[HistorySerIDFrom] [bigint] NULL,
	[HistorySerIDTo] [bigint] NULL,
 CONSTRAINT [PK_tblInXferSer] PRIMARY KEY CLUSTERED 
(
	[TransId] ASC,
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_CostXfer]  DEFAULT ((0)) FOR [CostXfer]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_PriceUnit]  DEFAULT ((0)) FOR [PriceUnit]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_QtySeqNumFrom]  DEFAULT ((0)) FOR [QtySeqNumFrom]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_QtySeqNumTo]  DEFAULT ((0)) FOR [QtySeqNumTo]
GO
ALTER TABLE [dbo].[tblInXferSer] ADD  CONSTRAINT [DF_tblInXferSer_CostUnitACV]  DEFAULT ((0)) FOR [CostUnitACV]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInXferSer'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInXferSer'
GO
