USE [005]
GO
/****** Object:  Table [dbo].[tblSmTransTaxDetail]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSmTransTaxDetail](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[EntryNum] [int] NULL,
	[InvoiceNum] [dbo].[pInvoiceNum] NULL,
	[TaxLocId] [dbo].[pTaxLoc] NOT NULL,
	[TaxClassCode] [tinyint] NOT NULL,
	[TaxLevel] [tinyint] NOT NULL,
	[ItemType] [tinyint] NOT NULL,
	[SourceCode] [nvarchar](2) NULL,
	[TaxAmt] [dbo].[pDecimal] NOT NULL,
	[TaxAmtFgn] [dbo].[pDecimal] NOT NULL,
	[Refundable] [dbo].[pDecimal] NOT NULL,
	[RefundableFgn] [dbo].[pDecimal] NOT NULL,
	[Taxable] [dbo].[pDecimal] NOT NULL,
	[TaxableFgn] [dbo].[pDecimal] NOT NULL,
	[NonTaxable] [dbo].[pDecimal] NOT NULL,
	[NonTaxableFgn] [dbo].[pDecimal] NOT NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[TaxGroupType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblSmTransTaxDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblSmTransTaxDetail_TransId]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblSmTransTaxDetail_TransId] ON [dbo].[tblSmTransTaxDetail]
(
	[TransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTransTaxDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSmTransTaxDetail'
GO
