USE [005]
GO
/****** Object:  Table [dbo].[tblBrRecurDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrRecurDetail](
	[EntryNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransID] [dbo].[pTransID] NULL,
	[GLAcct] [dbo].[pGlAcct] NULL,
	[DebitAmt] [dbo].[pDecimal] NULL,
	[CreditAmt] [dbo].[pDecimal] NULL,
	[Descr] [dbo].[pDescription] NULL,
	[Reference] [nvarchar](15) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblBrRecurDetail] PRIMARY KEY CLUSTERED 
(
	[EntryNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBrRecurDetail] ADD  CONSTRAINT [DF_tblBrRecurDetail_DebitAmt]  DEFAULT ((0)) FOR [DebitAmt]
GO
ALTER TABLE [dbo].[tblBrRecurDetail] ADD  CONSTRAINT [DF_tblBrRecurDetail_CreditAmt]  DEFAULT ((0)) FOR [CreditAmt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrRecurDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblBrRecurDetail'
GO
