USE [005]
GO
/****** Object:  Table [dbo].[tblSvEquipmentService]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSvEquipmentService](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EquipmentID] [bigint] NOT NULL,
	[WorkToDoID] [nvarchar](10) NULL,
	[ScheduleType] [tinyint] NOT NULL,
	[ScheduleInterval] [tinyint] NOT NULL,
	[ScheduleAutoPrompt] [tinyint] NOT NULL,
	[ScheduleStartDate] [datetime] NULL,
	[ScheduleEndDate] [datetime] NULL,
	[ScheduleNextDate] [datetime] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[ServiceType] [tinyint] NOT NULL,
	[WorkPlanId] [dbo].[pTransID] NULL,
	[JobType] [nvarchar](6) NULL,
	[DeptCode] [dbo].[pDeptID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[ServiceNotes] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSvEquipmentService] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_EquipmentID]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_EquipmentID] ON [dbo].[tblSvEquipmentService]
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSvEquipmentService] ADD  CONSTRAINT [DF_tblSvEquipmentService_ScheduleType]  DEFAULT ((0)) FOR [ScheduleType]
GO
ALTER TABLE [dbo].[tblSvEquipmentService] ADD  CONSTRAINT [DF_tblSvEquipmentService_ScheduleInterval]  DEFAULT ((0)) FOR [ScheduleInterval]
GO
ALTER TABLE [dbo].[tblSvEquipmentService] ADD  CONSTRAINT [DF_tblSvEquipmentService_ScheduleAutoPrompt]  DEFAULT ((0)) FOR [ScheduleAutoPrompt]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvEquipmentService'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSvEquipmentService'
GO
