USE [005]
GO
/****** Object:  Table [dbo].[tblEcPoSoTransHeader]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEcPoSoTransHeader](
	[Id] [bigint] NOT NULL,
	[SoTransId] [dbo].[pTransID] NOT NULL,
	[POHeaderID] [bigint] NOT NULL,
	[PartnerID] [bigint] NULL,
	[CustID] [dbo].[pCustID] NULL,
	[CustPoNum] [nvarchar](50) NULL,
	[PoDate] [datetime] NULL,
	[ts] [timestamp] NULL,
	[CF] [xml] NULL,
 CONSTRAINT [PK_tblEcPoSoTransHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_tblEcPoSoTransHeader_POHeaderID]    Script Date: 7/16/2026 3:56:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_tblEcPoSoTransHeader_POHeaderID] ON [dbo].[tblEcPoSoTransHeader]
(
	[POHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoSoTransHeader'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblEcPoSoTransHeader'
GO
