USE [005]
GO
/****** Object:  Table [dbo].[tblMpHistoryMatlDtl]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMpHistoryMatlDtl](
	[PostRun] [dbo].[pPostRun] NOT NULL,
	[TransId] [int] NOT NULL,
	[SeqNo] [int] NOT NULL,
	[TransDate] [datetime] NULL,
	[ComponentId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[Qty] [dbo].[pDecimal] NOT NULL,
	[UOM] [dbo].[pUom] NULL,
	[UOMBase] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDecimal] NOT NULL,
	[ActualScrap] [dbo].[pDecimal] NOT NULL,
	[UnitCost] [dbo].[pDecimal] NOT NULL,
	[VarianceCode] [nvarchar](10) NULL,
	[AssembledYn] [int] NOT NULL,
	[SubAssemblyTranType] [smallint] NOT NULL,
	[GlPeriod] [smallint] NOT NULL,
	[FiscalYear] [smallint] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[QtySeqNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QuantityID] [bigint] NULL,
	[HistoryID] [bigint] NULL,
 CONSTRAINT [PK_tblMpHistoryMatlDtl] PRIMARY KEY NONCLUSTERED 
(
	[PostRun] ASC,
	[TransId] ASC,
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryMatlDtl'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblMpHistoryMatlDtl'
GO
