USE [005]
GO
/****** Object:  Table [dbo].[tblSrInspection]    Script Date: 7/16/2026 3:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSrInspection](
	[InspectionId] [bigint] NOT NULL,
	[TransId] [dbo].[pTransID] NOT NULL,
	[DefaultId] [bigint] NULL,
	[ConfigId] [bigint] NOT NULL,
	[InspectionDate] [datetime] NOT NULL,
	[ClosedDate] [datetime] NULL,
	[InspectionNo] [int] NOT NULL,
	[Priority] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_tblSrInspection] PRIMARY KEY CLUSTERED 
(
	[InspectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSrInspection] ADD  CONSTRAINT [DF_tblSrInspection_DefaultId]  DEFAULT ((0)) FOR [DefaultId]
GO
ALTER TABLE [dbo].[tblSrInspection] ADD  CONSTRAINT [DF_tblSrInspection_InspectionNo]  DEFAULT ((0)) FOR [InspectionNo]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInspection'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblSrInspection'
GO
