USE [005]
GO
/****** Object:  Table [dbo].[tblInPhysCountDetail]    Script Date: 7/16/2026 3:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInPhysCountDetail](
	[DtlSeqNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SeqNum] [int] NOT NULL,
	[SerNum] [dbo].[pSerNum] NULL,
	[ExtLocAId] [nvarchar](10) NULL,
	[ExtLocBId] [nvarchar](10) NULL,
	[QtyFrozen] [dbo].[pDecimal] NULL,
	[QtyCounted] [dbo].[pDecimal] NULL,
	[CountedUom] [dbo].[pUom] NOT NULL,
	[CostFrozen] [dbo].[pDecimal] NULL,
	[TagNum] [int] NULL,
	[CF] [xml] NULL,
	[ts] [timestamp] NULL,
	[QtyStatus] [smallint] NULL,
 CONSTRAINT [PK_tblInPhysCountDetail] PRIMARY KEY CLUSTERED 
(
	[DtlSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sqlExtLoc]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlExtLoc] ON [dbo].[tblInPhysCountDetail]
(
	[ExtLocAId] ASC,
	[ExtLocBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlSeqNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlSeqNum] ON [dbo].[tblInPhysCountDetail]
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sqlTagNum]    Script Date: 7/16/2026 3:56:17 AM ******/
CREATE NONCLUSTERED INDEX [sqlTagNum] ON [dbo].[tblInPhysCountDetail]
(
	[TagNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInPhysCountDetail] ADD  CONSTRAINT [DF_tblInPhysCountDetail_QtyFrozen]  DEFAULT ((0)) FOR [QtyFrozen]
GO
ALTER TABLE [dbo].[tblInPhysCountDetail] ADD  CONSTRAINT [DF_tblInPhysCountDetail_QtyCounted]  DEFAULT ((0)) FOR [QtyCounted]
GO
ALTER TABLE [dbo].[tblInPhysCountDetail] ADD  CONSTRAINT [DF_tblInPhysCountDetail_CostFrozen]  DEFAULT ((0)) FOR [CostFrozen]
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPhysCountDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblInPhysCountDetail'
GO
