USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[LoadDTSMasterRoll]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which adds Advance Shipping Notice entry to the Load DTS Master Roll table
CREATE PROCEDURE [dbo].[LoadDTSMasterRoll](@PONumber varchar(8), @ReceiptNo varchar(15), @VendorID varchar(10), @ItemID varchar(24), @LotNo varchar(16), @RollNo varchar(16), @GrossLengthMeters decimal(18,2), 
					@UseableLengthMeters decimal(18,2), @TotalDefectLengthMeters decimal(18,2), @EndTagLocationMeters decimal(18,2), @GrossLengthFeet decimal(18,2), 
					@UseableLengthFeet decimal(18,2), @TotalDefectLengthFeet decimal(18,2), @EndTagLocationFeet decimal(18,2), @EndTagValidated bit, @MinSegMeters decimal(18,2), 
					@MinSegFeet decimal(18,2), @DateModifed datetime, @ScannedBarcode varchar(300), @DefectCodeError bit)
AS
	DECLARE @MasterRollID int;

	INSERT INTO [W005].dbo.DTSMasterRoll (POTransId, POReceiptNum, VendorId, ItemId, LotNumber, RollNumber, StatedGrossLengthMeters, StatedUseableLengthMeters, 
					StatedTotalDefectLengthMeters, EndTagLocationMeters, StatedGrossLengthFeet, StatedUseableLengthFeet, StatedTotalDefectLengthFeet, EndTagLocationFeet, EndTagValidated, 
					MinSegMeters, MinSegFeet, DateModified, ScannedBarcode, DefectCodeError) VALUES (@PONumber, @ReceiptNo, @VendorID, @ItemID, @LotNo, @RollNo, @GrossLengthMeters,
					@UseableLengthMeters, @TotalDefectLengthMeters, @EndTagLocationMeters, @GrossLengthFeet, @UseableLengthFeet, @TotalDefectLengthFeet, @EndTagLocationFeet, 
					@EndTagValidated, @MinSegMeters, @MinSegFeet, @DateModifed, @ScannedBarcode, @DefectCodeError);

	SELECT @MasterRollID = Id FROM [W005].dbo.DTSMasterRoll WHERE POTransId = @PONumber AND POReceiptNum = @ReceiptNo AND RollNumber = @RollNo

	RETURN @MasterRollID;
GO
