USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingFinishedGoods]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spConvertingFinishedGoods] @OrderNo AS VARCHAR(8), @ReleaseNo AS int
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00033786'
--DECLARE @ReleaseNo AS int = 38

	
SELECT DISTINCT *
FROM (
	SELECT DISTINCT  I.ItemId
					,I.SerialNo
					,I.LotNo
					,I.TravSerNum
					,I.TravLotNum
					,I.CutPos
					,[Status] = I.LocId
					,I.TotalQty
					,I.TotalWaste
					,I.UOM
	FROM OrderReleaseEvent E
		 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND IsAssembly = 1
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
UNION ALL
	SELECT DISTINCT  I.ItemId
					,I.SerialNo
					,I.LotNo
					,I.TravSerNum
					,I.TravLotNum
					,I.CutPos
					,[Status] = I.LocId
					,I.TotalQty
					,I.TotalWaste
					,I.UOM
	FROM OrderReleaseEvent E
		 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND IsAssembly = 1
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
) A
ORDER BY CutPos


END
GO
