USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSearchShipItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSearchShipItem] 
  @FromDt varchar(50) = null,
  @ThruDt varchar(50) = null,
  @LotNum varchar(16) = NULL,
  @Batch varchar(16) = NULL,
  @PalID varchar(10) = NULL,
  @CtnID varchar(10) = NULL,
  @BoxID varchar(10) = NULL,
  @InclShipped bit = null
AS
BEGIN
--DECLARE @FromDt as varchar(50) = '10/1/2023'
--DECLARE @ThruDt as varchar(50) = NULL
--DECLARE @LotNum varchar(16) = NULL
--DECLARE @Batch varchar(16) = NULL
--DECLARE @PalID varchar(10) = NULL
--DECLARE @CtnID varchar(10) = NULL
--DECLARE @BoxID varchar(10) = NULL
--DECLARE @InclShipped bit = 0

	SET @FromDt = ISNULL(@FromDt, '1/1/2005')
	SET @ThruDt = ISNULL(@ThruDt, Getdate())
	SET @InclShipped = IIF(@InclShipped = 1, NULL, 0)

	;WITH CTE_Temp ([ItemId],[TravLotNum],[SerNo],[LotNo],[Quantity],[UOM],[AdditionalLotNo],[ProdOrderNo],[ProdOrderRelNo]
				  ,[ItemShipped],[ItemDateShipped],[ItemDateCreated],[ShipBoxId],[ShipBoxNo],BoxComplete,CartonId,ShipCarton
				  ,CartonComplete,PalletId,ShipPallet,PalletComplete,MRLengthCounter,TotalRawQtyConsumed,OREIId,[Location],[Rewind],DateCreated)
	AS
	(
		SELECT I.[ItemId]
			  ,I.[TravLotNum] 
			  ,I.[SerNo]
			  ,I.[LotNo]
			  ,I.[Quantity]
			  ,I.[UOM]
			  ,I.[AdditionalLotNo]
			  ,I.[ProdOrderNo]
			  ,I.[ProdOrderRelNo]
			  ,I.[Shipped] AS ItemShipped
			  ,I.[DateShipped] AS ItemDateShipped
			  ,I.[DateCreated] AS ItemDateCreated
			  ,B.[Id] AS ShipBoxId
			  ,B.[ShipBoxNo]
			  ,B.[Complete] AS BoxComplete
			  ,C.[Id] AS CartonId
			  ,C.[ShipCartonNo] as ShipCarton
			  ,C.[Complete] AS CartonComplete
			  ,P.[Id] AS PalletId
			  ,P.[ShipPalletNo] AS ShipPallet
			  ,P.[Complete] AS PalletComplete
				--,D.PLNo AS PackingListNo
				--,D.OrderNo AS SalesOrderNo
				,O.MRLengthCounter
				,O.TotalQty AS TotalRawQtyConsumed
				,I.OREIId
				,I.Location
				,I.Rewind
				,I.DateCreated
		  FROM [W005].[dbo].[ShipItem] AS I LEFT JOIN
			   [W005].[dbo].[OrderReleaseEventItem] AS O ON I.OREIId=O.Id LEFT JOIN
			   [W005].[dbo].[ShipBox] AS B ON B.Id = I.ShipBoxId AND B.Deleted = 0 LEFT JOIN
			   [W005].[dbo].[ShipPallet] AS P ON P.Id = I.ShipPalletId AND P.Deleted = 0 LEFT JOIN
			   [W005].[dbo].[ShipCarton] AS C ON C.Id = I.ShipCartonId AND C.Deleted = 0 --LEFT JOIN
		  WHERE I.Deleted = 0 AND I.PhantomAdjOut = 0 
		  AND I.DateCreated between @FromDt and @ThruDt
		  AND (@LotNum IS NULL or I.TravLotNum like '%'+@LotNum+'%')
		  AND (@Batch IS NULL or I.LotNo like '%'+@Batch+'%')
		  AND (@PalID IS NULL or P.ShipPalletNo like '%'+@PalID+'%')
		  AND (@CtnID IS NULL or  C.ShipCartonNo like '%'+@CtnID+'%')
		  AND (@BoxID IS NULL or b.ShipBoxNo like '%'+@BoxID+'%')
		  AND (@InclShipped IS NULL OR I.Shipped = 0)
	)
	SELECT T.*, D.PLNo AS PackingListNo ,D.OrderNo AS SalesOrderNo FROM CTE_Temp T LEFT JOIN [W005].[dbo].[vShipPackList] AS D ON (D.ShipPalletId = T.PalletId) WHERE T.PalletId is not null
	UNION ALL
	SELECT T.*, D.PLNo AS PackingListNo ,D.OrderNo AS SalesOrderNo  FROM CTE_Temp T LEFT JOIN [W005].[dbo].[vShipPackList] AS D ON (D.ShipCartonId = T.CartonId) WHERE T.PalletId is null AND T.CartonId is not null
	UNION ALL
	SELECT T.*, D.PLNo AS PackingListNo ,D.OrderNo AS SalesOrderNo  FROM CTE_Temp T LEFT JOIN [W005].[dbo].[vShipPackList] AS D ON (D.ShipBoxId = T.ShipBoxId) WHERE T.PalletId is null AND T.CartonId is null AND T.ShipBoxId is not null
	UNION ALL
	SELECT T.*, D.PLNo AS PackingListNo ,D.OrderNo AS SalesOrderNo  FROM CTE_Temp T LEFT JOIN [W005].[dbo].[vShipPackList] AS D ON (D.ShipItemId = T.OREIId) WHERE T.PalletId is null  AND T.CartonId is null AND T.ShipBoxId is null
END

GO
