USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebLottedPullMfgCartonLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebLottedPullMfgCartonLabel] @CtnId as int, @ItemId as varchar(24)
AS
BEGIN

--DECLARE @CtnId as int = 2
--DECLARE @ItemId as varchar(24) = 'FG-DURA1001-ASY'

	SELECT DISTINCT
			I.ItemId,
			I.Descr,
			SC.ShipCartonNo, 
			SP.ShipPalletNo,
			SC.DateCreated, 
			CartonQty = SUM(SI.Quantity), 
			SI.UOM,

			LotNo = UPPER(STUFF
				(
					(
						SELECT DISTINCT '/' + S.LotNo
						FROM [W005].[dbo].[ShipItem] S
						WHERE S.ShipCartonId=@CtnId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)),

			OpInit = UPPER(STUFF
				(
					(
						SELECT DISTINCT ',' + S.OpInit
						FROM [W005].[dbo].[ShipItem] S
						WHERE S.ItemID=I.ItemId AND S.ShipCartonId=@CtnId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)),

			CustomerPN = A.AliasID,

			ShipToAddr = L.Addr1 + ISNULL(NULLIF(', '+L.Addr2, ', '), ''),
			ShipToCityStateZip = L.City + ', ' + L.Region + ' ' + L.PostalCode,
			ShipToPhone = '('+SUBSTRING(L.Phone, 1, 3)+') ' + SUBSTRING(L.Phone, 4, 3) + '-' + SUBSTRING(L.Phone, 7, 4),

			PrintCopies = (SELECT 
							CASE
							WHEN EXISTS(
								SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=I.ItemId
							) 
							THEN  (SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=I.ItemId)
							ELSE  1
							END AS PrintCopies)

	FROM [W005].[dbo].[ShipCarton] SC		
		 INNER JOIN [W005].[dbo].[ShipItem] SI ON SC.Id=SI.ShipCartonId 
		 INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId=SI.ItemId
		 INNER JOIN [005].[dbo].[tblInLoc] L ON L.LocId = SI.Location
		 LEFT JOIN [W005].[dbo].[ShipPallet] SP ON SP.Id=SC.ShipPalletId
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] M ON M.OrderNo=SI.ProdOrderNo AND M.ReleaseNo=SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] MH ON MH.OrderNo=SI.ProdOrderNo AND MH.ReleaseNo=SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblInItemAlias] A ON A.ItemID=I.ItemId AND A.RefID=ISNULL(M.CustId,MH.CustId)
	WHERE SC.Id = @CtnId AND SI.ItemId = @ItemId
	GROUP BY SC.ShipCartonNo, SP.ShipPalletNo, I.ItemId, I.Descr, SC.DateCreated, SI.UOM, SC.Id, L.Addr1, L.Addr2, L.City, L.Region, L.PostalCode, L.Phone, AliasID


END
GO
