USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSubBagLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebSubBagLabel]
	@PrintJobId int,
	@OrderNo varchar(8),
	@ReleaseNo int,
	@OrderReleaseEventItemId int,
	@BagNum varchar(24)
AS
BEGIN
	--Declare @PrintJobId as int
	--Declare @OrderNo as varchar(8)
	--Declare @ReleaseNo as int
	--Declare @OrderReleaseEventItemId as int
	--Declare @BagNum as varchar(24)
	--Set @PrintJobId = 38930
	--Set @OrderNo = '00000088' 
	--Set @ReleaseNo = 1 
	--Set @OrderReleaseEventItemId = 620
	--Set @BagNum = 'BAG1PRE'
	
	SELECT  *

	FROM	[W005].[dbo].[OrderReleaseEventItem] AS EI
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id = EI.OrderReleaseEventId
			INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CCIORI ON CCIORI.ParentOrderNo = E.OrderNo AND CCIORI.ItemId = EI.ItemId
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
			INNER JOIN [W005].[dbo].[CCIPlyStackHeader] AS H ON H.OrderReleaseEventItemId = EI.Id AND H.BagNum = @BagNum
			LEFT JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] AS V ON V.OrderNo = CCIORI.OrderNo AND V.ReleaseNo = CCIORI.ReleaseNo
			LEFT JOIN [005].[dbo].[tblInItemAlias] AS AL ON AL.ItemID = EI.ItemId AND AL.AliasType = 1 AND AL.AliasID = V.CustId
	WHERE EI.Id = @OrderReleaseEventItemId
END
GO
