USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPlyRecuts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIPlyRecuts] @MfgStartDate date, @MfgEndDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--DECLARE @MfgStartDate date = '2/28/2021'
--DECLARE @MfgEndDate date = '2/28/2021' 


/* 
Ply Recuts:
	- FG ItemID
	- Production Order #
	- Production Order Release
	- Parent Order
	- Cut File Name
	- SiteID
	- RM ItemID
	- RM SerialNo
	- RM LotNo
	- Recut Date
	- ListofPliesReCut
	- ReasonForReCut
	- Operator W#
*/

SELECT DISTINCT 
          PCL.Kits
         ,ProductionOrderReleases = STUFF((
                                        SELECT DISTINCT ', ' + ORI.OrderNo + ' '  + CAST(ORI.ReleaseNo AS VARCHAR(5))
                                        FROM [W005].[dbo].[CCIOrderReleaseInfo] ORI
                                        WHERE ORI.ParentOrderNo=E.OrderNo AND PCL.Kits LIKE '%'+ORI.ItemId+'%'
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,'')
         ,E.OrderNo AS ParentOrderNo
         ,CutFileName = PCL.CutFileActual
         ,SiteID = (SELECT DISTINCT TOP 1 SUBSTRING(LocId, 4, 3) FROM [W005].[dbo].[CCIOrderReleaseInfo] ORI WHERE ParentOrderNo=E.OrderNo)
         ,I.ItemId
         ,I.SerialNo
         ,I.LotNo
         ,CAST(E.EventStart AS DATE) AS RecutDate
		 ,R.[ListOfPliesRecut] 
		 ,R.[ReasonForReCut]
		 ,MfgOperator = (SELECT DISTINCT SM.EmployeeId
								FROM [005].[dbo].[tblSmEmployee] SM
								WHERE SM.SocialSecurityNo=E.UserId)
		 ,QualityInspector = (SELECT DISTINCT SM.EmployeeId
								FROM [005].[dbo].[tblSmEmployee] SM
								WHERE SM.SocialSecurityNo=R.QualityInspector)
  FROM [W005].[dbo].[CCIRecutInspectionLog] R
          INNER JOIN [W005].[dbo].[OrderReleaseEvent] E ON E.Id=R.OrderReleaseEventId
          INNER JOIN [W005].[dbo].[OrderReleaseEventItem] I ON I.OrderReleaseEventId=R.OrderReleaseEventId AND I.IsAssembly = 0
          INNER JOIN [W005].[dbo].[CCIParentOrderCutList] PCL ON PCL.Id=E.CCIParentOrderCutListId 
WHERE CAST(E.EventStart AS DATE) >= @MfgStartDate AND CAST(E.EventEnd AS DATE) <= @MfgEndDate AND IsPartsEditEndTable=1 
GROUP BY PCL.Kits, E.OrderNo, PCL.CutFileActual, I.ItemId, I.SerialNo, I.LotNo, CAST(E.EventStart AS DATE), R.[ListOfPliesRecut], R.[ReasonForReCut], E.UserId, R.QualityInspector
ORDER BY E.OrderNo, I.ItemId, I.SerialNo, I.LotNo 

END
GO
