USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMaxSeqNbrLoadedRollsOnOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetMaxSeqNbrLoadedRollsOnOrder] @OrderNo as varchar(8) 
AS
BEGIN
	SELECT Max(M.MfgSequence) As MaxSeqNbrLoadedRollsOnOrder
	FROM OrderReleaseEvent E 
	INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND IsAssembly = 0
	INNER JOIN MpOrderMatIssued M ON M.Id = I.MpOrderMatIssuedId AND M.OrderNo = @OrderNo
	WHERE E.OrderNo = @OrderNo AND E.Event = 'Load Material'
END
GO
