USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebExtrudingCoreLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebExtrudingCoreLabel] 
	@ReleaseNo as int,
	@LotNo as varchar(16),
	@OpInit as varchar(10),
	@ItemId as varchar(24),
	@PrintCopies as int
AS
BEGIN

--DECLARE	@ReleaseNo as int = 1
--DECLARE	@LotNo as varchar(16) = 123401001
--DECLARE	@OpInit as varchar(10) = 'LM'
--DECLARE	@ItemId as varchar(24) = 'ST-507'
--DECLARE	@PrintCopies as int = 1

	SELECT ii.Descr, ReleaseNo = @ReleaseNo, LotNo = @LotNo, OpInit = @OpInit, ItemId=@ItemId,PrintCopies=@PrintCopies
	       ,ad.AddlDescr, ItemChar = IIF(ch.Id<>2052, '', ch.Characteristic), /*(ItemChar shows Denier for Denier Superbulk Core Labels, null for all others)*/
			CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [005].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=@ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
			,[cf_Product Lot Designation] AS ProductLotDesignation
			,AL.AliasID + @LotNo AS BarCode
	FROM [005].[dbo].[tblInItem] As ii 
			 LEFT JOIN [005].dbo.tblInItemAddlDescr ad ON ad.ItemId = ii.ItemId
			 LEFT JOIN	 (SELECT C.Id, C.Characteristic, P.ItemId
						  FROM [005].[dbo].[tblInItem] AS I
								INNER JOIN [W005].[dbo].[ProductChar] AS P ON I.ItemId=P.ItemId
								INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId=C.Id AND P.CharId=2052) AS ch ON ii.ItemId=ch.ItemId
			 INNER JOIN [005].[dbo].[trav_tblInItemAlias_View] AS AL ON AL.ItemId=ii.ItemId
	WHERE ii.ItemId=@ItemId 

END
GO
