USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackingListItemData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetPackingListItemData]
	@ShipItemNo as varchar(10), @SO as varchar(8),@PLNo as int
AS
BEGIN

--declare @ShipItemNo as varchar(10) = 'I000060645'
--declare @SO as varchar(8) ='00001314'
	
	DECLARE @IsSerialized as bit
	DECLARE @ISExtruding as bit

	SELECT @IsSerialized = IIF((SELECT ItemType FROM [005].[dbo].[tblInItem] WHERE ItemId=(SELECT ItemId FROM [W005].[dbo].[ShipItem] WHERE ShipItemNo=@ShipItemNo))=2,1,0)

	SELECT @IsExtruding = IIF(COUNT(ah.AssemblyId) > 0, 1, 0)
	FROM [W005].[dbo].[ShipItem] As si 
		 INNER JOIN [005].[dbo].[tblMbAssemblyHeader] ah ON si.ItemId = ah.AssemblyId
	     INNER JOIN [005].[dbo].[tblMbAssemblyRouting] r ON ah.Id=r.HeaderId 	
		 WHERE r.MachineGroupId Like 'EXT%' AND si.ShipItemNo=@ShipItemNo

	SELECT si.Id As ShipItemId, si.ShipItemNo,si.ItemId,ii.Descr,
			si.NoRolls As TotalNoRolls,si.Location,si.GrossWt,si.DateCreated,
			IIF(@IsSerialized=1,1,(SELECT CAST(CAST(si.Quantity as float) / CAST(iif(td.ConversionFactor Is null, IsNull(ar.ConversionFactor,1),td.ConversionFactor) as float) as decimal(20,10)) 
							FROM [W005].[dbo].[ShipItem] si 
									LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@SO  AND td.Status=0
									LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@SO AND ar.PartID=si.ItemId AND ar.Status=0
							WHERE si.ShipItemNo=@ShipItemNo
							GROUP BY si.Quantity,td.ConversionFactor,ar.ConversionFactor)) As TotalQty,
		UOM = (SELECT iif(td.UnitsSell Is null, ar.UnitsSell,td.UnitsSell) AS UOM
				FROM [W005].[dbo].[ShipItem] si 
						LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@SO AND td.Status=0 
						LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID=@SO AND ar.PartID=si.ItemId AND ar.Status=0
				WHERE si.ShipItemNo=@ShipItemNo
				GROUP BY td.UnitsSell,ar.UnitsSell),
		si.TravLotNum,
		si.TravSerNum,
		si.LotNo,
		CustomerPN = STUFF
		(
			(
				SELECT DISTINCT '/' + IIA.AliasID
				FROM [005].[dbo].[tblInItemAlias] As IIA
				inner join [W005].[dbo].[ShipPackingList] as SPL on SPL.CustId = IIA.RefID --Added 04/16/2019 TFS 646
				--inner join [w005].dbo.ShipPackingListDetail as Dtl on Dtl.PLNo = SPL.PLNo
				WHERE IIA.ItemID=si.ItemId and SPL.PLNo = @PLNo
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		),
		si.Complete,si.Deleted,si.NotForShipment,si.Shipped,si.PostedToTraverse,
		si.Issued AS IsIssued,
		CAST(IIF(si.ShipItemNo Not In 
								(SELECT d.PkgId 
								FROM [W005].[dbo].[ShipPackingListDetail] d INNER JOIN [W005].[dbo].[ShipPackingList] p ON d.PLNo=p.PLNo
								WHERE p.RemoteWarehouse = 'NO'
								),0,1) as bit) as AlreadyShipped,
		OrderNotFinalized = CAST(iif(@ISExtruding = 1,0,
												IIF(si.ItemId Not In 
																(SELECT AssemblyId
																FROM [W005].[dbo].[OrderReleaseSummary]
																WHERE (OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo AND IsPostedToTraverse=1) OR (si.DateCreated<'2/1/2016')
																)
																,IIF((SELECT AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader] WHERE Id IN
																					(SELECT HeaderId FROM [005].[dbo].[tblMbAssemblyDetail] WHERE ComponentID = si.ItemId AND DetailType=5)) /*DetailType=5 means ByProduct*/ 
																							NOT IN (SELECT AssemblyId
																									FROM [W005].[dbo].[OrderReleaseSummary]
																									WHERE (OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo AND IsPostedToTraverse=1) OR (si.DateCreated<'2/1/2016')
																									)
																	,1,0), 0)) as bit)
	FROM [W005].[dbo].[ShipItem] As si INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
	WHERE si.ShipItemNo=@ShipItemNo 



END
GO
