USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuickMoveData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuickMoveData]
		@QMId as int
	
AS
BEGIN

--DECLARE @QMId as int = 15


 BEGIN
	IF EXISTS (
				SELECT otr.Id
				FROM [W005].[dbo].[OutTimeReceiving] otr 
				WHERE otr.Id=@QMId
				)
		BEGIN
			SELECT otr.Id, otr.DoorOpenDt,otr.ScanStation, w.[cf_Bin Type] As BinType, w.ExtLocId, w.Descr,otr.QuickMoveToBinId, otr.EndTimeDt,otr.TravReceivingCompleted
				,IIF(IsNull(otr.Rec1OutTime,0) > IsNull(otr.Rec2OutTime,0),IsNull(otr.Rec1OutTime,0),IsNull(otr.Rec2OutTime,0)) AS RecorderRoomMaxHr
				,IIF(IsNull(otr.Rec1AddReeferTime,0) > IsNull(otr.Rec2AddReeferTime,0), IsNull(otr.Rec1AddReeferTime,0), IsNull(otr.Rec2AddReeferTime,0)) As RecorderReeferMaxHr
			FROM [W005].[dbo].[OutTimeReceiving] otr LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] w ON w.Id=otr.QuickMoveToBinId
			WHERE otr.Id=@QMId
		END ELSE BEGIN
			SELECT Id=0, DoorOpenDt=null,ScanStation='', BinType='', ExtLocId='', Descr='',QuickMoveToBinId=0, EndTimeDt=null,TravReceivingCompleted=0
		END
END







END




GO
