USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIOTKitLabelSubRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIOTKitLabelSubRpt] @MaterialType AS VARCHAR(MAX), @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @MaterialType AS VARCHAR(MAX) = '60" 3KPW E-752'
--DECLARE @OrderReleaseEventItemId as int = 1145481

  --DECLARE @ItemType as varchar(16)
  --SET @ItemType =	(SELECT IIF([cf_Multi-UOM Serial Item]='true', 'Multi-UOM', IIF(ItemType=2,'Serialized', IIF(LottedYN=1, 'Lotted', 'NonLotNonSer'))) 
		--			FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=RMItemId)

SELECT DISTINCT
	 OREId
	,OREIId
	,MaterialType
	,RMItemId
	,RMSerialNo
	,RMLotNo
	,ExpDate
	,RemainingOTHrs
	,RemainingOT5HRsReduced
	,MatDOM 
FROM (
   SELECT DISTINCT E.Id AS OREId
				  ,EI.Id AS OREIId
				  ,I.Descr AS MaterialType --uses Raw Material Description
				  ,ORK.RMItemId --AS RMItemId
				  --,ORK.RMSerialNo --AS RMSerialNo
				  ,IIF(ORK.RMItemId Like 'IM%', ORK.RMLotNo, ORK.RMSerialNo) AS RMSerialNo
				  ,ORK.RMLotNo --AS RMLotNo

				  ,ExpDate = (SELECT DISTINCT TOP 1 ExpDate
								FROM [005].[dbo].[tblInItemLocLot] L 
							   WHERE L.ItemId=ORK.RMItemId AND L.LocId = C.LocId AND (L.LotNum=ORK.RMSerialNo OR L.LotNum=ORK.RMLotNo))

				 /* TEST	*/ 	  
				  --,ORK.[TotalRoomMinutes]	
				  --,MaxRoomHrs = (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=K.ItemId)--(SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=K.ItemId AND ProgramId=O.ProgramId)
				  

				  ,RemainingOTHrs = IIF(ORK.EstLastScanDateTime IS NULL,
											ROUND((SELECT
													CASE
													WHEN EXISTS(
															SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
															)
													THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
													ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
													END AS RemainingOTHrs)-(CAST(ORK.[TotalRoomMinutes] AS FLOAT) /60),1)
									,ROUND((SELECT
											CASE
											WHEN EXISTS(
													SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
													)
											THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
											ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
											END AS RemainingOTHrs)-(CAST(ORK.[EstTotalRoomMinutes] AS FLOAT) /60),1))

				  ,RemainingOT5HRsReduced = IIF(ORK.EstLastScanDateTime IS NULL,
											ROUND((SELECT
													CASE
													WHEN EXISTS(
															SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
															)
													THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
													ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
													END AS RemainingOTHrs)-(CAST(ORK.[TotalRoomMinutes] AS FLOAT) /60),1)-5
									,ROUND((SELECT
											CASE
											WHEN EXISTS(
													SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
													)
											THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
											ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
											END AS RemainingOTHrs)-(CAST(ORK.[EstTotalRoomMinutes] AS FLOAT) /60),1))-5

				  ,MatDOM = (SELECT DISTINCT MIN(L.InitialDate)
									FROM [005].[dbo].[tblInItemLocLot] L 
									WHERE L.ItemId=ORK.RMItemId AND L.LocId = C.LocId AND (L.LotNum=ORK.RMSerialNo OR L.LotNum=ORK.RMLotNo))
			FROM [W005].[dbo].[OrderReleaseEventItem] AS EI
				 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id=EI.OrderReleaseEventId
				 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS C ON C.ParentOrderNo=E.OrderNo AND C.ItemId=EI.ItemId			
				 INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=C.CCIManufacturingGroupId
				 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORK ON ORK.OrderReleaseEventItemId=EI.Id
				 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId=ORK.RMItemId AND I.[cf_Out-Time Tracked] = 1
			WHERE EI.Id = @OrderReleaseEventItemId AND I.Descr = @MaterialType
) A
GROUP BY OREId	,OREIId	,MaterialType ,RMItemId	,RMSerialNo	,RMLotNo ,ExpDate ,MatDOM ,RemainingOTHrs ,RemainingOT5HRsReduced

END
GO
