USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTraceabilitySlitBatches]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTraceabilitySlitBatches] 
    @MixedBatches INT,
	@StartDate DATETIME,
	@EndDate DATETIME
AS
BEGIN
	--DECLARE @MixedBatches AS INT = 0
	--DECLARE @StartDate AS DATETIME = '2026-01-07'
	--DECLARE @EndDate AS DATETIME = '2026-04-28'

SELECT DISTINCT ORE1.OrderNo AS ProductionOrder, ORE1.ReleaseId AS SetNo,  LEFT(SerialNo, LEN(SerialNo) - 4) AS SlitTapeSetID, OREI.LotNo AS SlitTapeBatch,

 MainPrepegBatch = (select top 1 OREI2.LotNo FROM OrderReleaseEvent ORE2
INNER JOIN OrderReleaseEventItem OREI2 ON OREI2.OrderReleaseEventId = ORE2.Id
INNER JOIN [005].dbo.tblInItemLoc L  ON L.ItemId = OREI2.ItemId AND L.LocId like 'INV%' AND SUBSTRING(L.GLAcctCode, 1,1) IN ('1','2','3','8') 
where ORE2.OrderNo = ORE1.OrderNo and ORE2.ReleaseNo = ORE1.ReleaseNo and isAssembly = 0
	order by OREI2.Id
),
 SecondPrepegBatch = (select top 1 OREI3.LotNo FROM OrderReleaseEvent ORE3
INNER JOIN OrderReleaseEventItem OREI3 ON OREI3.OrderReleaseEventId = ORE3.Id 
INNER JOIN [005].dbo.tblInItemLoc L  ON L.ItemId = OREI3.ItemId AND L.LocId like 'INV%' AND SUBSTRING(L.GLAcctCode, 1,1) IN ('1','2','3','8') 
where ORE3.OrderNo = ORE1.OrderNo and ORE3.ReleaseNo = ORE1.ReleaseNo and isAssembly = 0
	order by OREI3.Id desc
),

R.PurchaseOrder AS CustomerPO
FROM OrderReleaseEvent ORE 
INNER JOIN OrderReleaseEvent ORE1 ON ORE1.OrderNo = ORE.OrderNo AND ORE1.ReleaseNo = ORE.ReleaseNo
INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE1.Id AND IsAssembly = 1
INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
AND((@MixedBatches = 1 AND OREI.SerialNo LIKE '%Z%') OR (@MixedBatches = 0))
WHERE ORE.Id IN (
SELECT Id
FROM OrderReleaseEvent 
WHERE Event = 'Start Manufacturing'
AND EventStart BETWEEN @StartDate AND @EndDate
);

END
GO
