USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemIdOnSelectedPLSOLine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spItemIdOnSelectedPLSOLine] 
		@ItemId as varchar(24), @PLNo int
AS
BEGIN

--DECLARE @ItemId as Varchar(24)= 'FG-MRAS1133-PKT'
--DECLARE @PLNo int =22061


IF EXISTS (
	  SELECT TOP 1 [Id] 
	  FROM [W005].[dbo].[ShipPackingListSOLine]
	  WHERE ItemId=@ItemId AND PLNo=@PLNo
	  )
	BEGIN
		SELECT CAST(1 as bit) AS ItemIdOK
	END ELSE BEGIN
		SELECT CAST(0 as bit) AS ItemIdOK
	END




END
GO
