USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateOrderStatus]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateOrderStatus] @OrderNo AS VARCHAR(8), @ReleaseNo AS INT, @Status AS VARCHAR(50), @InProcess AS BIT, @MfgCompleted AS BIT
AS
BEGIN

UPDATE OrderReleaseInfo
SET OrderStatus = @Status, InProcess = @InProcess, MfgCompleted = @MfgCompleted
WHERE OrderNo=@OrderNo AND ReleaseNo=@ReleaseNo

UPDATE OrderScheduling
SET [Status] = @Status, InProcess = @InProcess, MfgCompleted = @MfgCompleted
WHERE OrderNo=@OrderNo AND ReleaseNo=@ReleaseNo


END
GO
