USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBoxLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIBoxLabel] @PkgId AS VARCHAR(10)
AS
BEGIN

--DECLARE @PkgId AS VARCHAR(10) = 'B000000008'--'B000000002'  --'B000000005'


DECLARE @NoOfKitsInBag int;
BEGIN 

	SET @NoOfKitsInBag = 
	(SELECT SUM(I.Quantity) 
	FROM [W005].[dbo].[ShipBox] B 
		 INNER JOIN [W005].[dbo].[ShipItem] I ON I.ShipBoxId=B.Id
	WHERE B.ShipBoxNo=@PkgId)
END

	SELECT DISTINCT A.JobNo, A.ItemId, A.Descr, @PkgId AS PkgId, CustPO, Customer, CustPNRev, MfgData, Qty, QRcode, NewQRcode
	FROM
		(SELECT 
			si.ProdOrderNo + '/' + ISNULL(MOR.OrderNo, MORHist.OrderNo) AS JobNo 
			,si.ItemId
			,ii.Descr 

		   --,CustPNRev = ia.AliasID + (SELECT ISNULL(', Rev. ' + [cf_Customer Revision No],'')
					--						FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] 
					--						WHERE AssemblyId=si.ItemId AND (RevisionNo= (SELECT RevisionNo 
					--																	FROM [005].[dbo].[trav_tblMpOrderReleases_View] 
					--																	WHERE [cf_Parent Order]=si.ProdOrderNo)
					--													 OR RevisionNo= (SELECT RevisionNo
					--																	FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View]
					--																	WHERE [cf_Parent Order]=si.ProdOrderNo)
					--														)
					--						)
			,CustPNRev = ia.AliasID + (SELECT ISNULL(', Rev. ' + [cf_Customer Revision No],'')
											FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] 
											WHERE AssemblyId=si.ItemId AND (RevisionNo= (SELECT RevisionNo 
																						FROM [005].[dbo].[tblMpOrderReleases] 
																						WHERE OrderNo=C.OrderNo AND ReleaseNo=C.ReleaseNo)
																		 OR RevisionNo= (SELECT RevisionNo
																						FROM [005].[dbo].[tblMpHistoryOrderReleases]
																						WHERE OrderNo=C.OrderNo AND ReleaseNo=C.ReleaseNo)
																			)
											)										

			,Customer = (SELECT CustName FROM [005].[dbo].[trav_tblArCust_view] WHERE CustId=MOR.CustId OR CustId=MORHist.CustId)
			,CustPO = ISNULL(MOR.PurchaseOrder, MORHist.PurchaseOrder)

			,MfgData = (SELECT [Name] + ' ' + ii.[cf_FG Program] + ' ' + 'Ply Kit' 
						FROM [W005].[dbo].[CCIManufacturingGroup] MG
							 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] CORI ON CORI.CCIManufacturingGroupId=MG.Id
						WHERE CORI.ParentOrderNo=si.ProdOrderNo)

			,QRcode = CAST(@NoOfKitsInBag AS VARCHAR(3)) + '|' +
							STUFF(
									(SELECT DISTINCT '|' + I.ItemId + '|' + ISNULL(I.TravSerNum, '') + '|' + ISNULL(I.TravLotNum, '')
									 FROM [W005].[dbo].[OrderReleaseEventItem] AS I
										  INNER JOIN [W005].[dbo].[ShipItem] S ON S.OREIId=I.Id
									 WHERE S.ShipBoxId=sb.Id
									 FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'), 1,1,''
							)
			,NewQRcode = CAST(@NoOfKitsInBag AS VARCHAR(3)) + '|' + si.ItemId + '|' + 'BAGID' + '|' + CAST(KBD.CCIKitBagId AS VARCHAR(max))
			
			,@NoOfKitsInBag AS Qty
			 
		FROM [W005].[dbo].[ShipBox] sb 
			 INNER JOIN [W005].[dbo].[ShipItem] si ON si.ShipBoxId=sb.Id
			 INNER JOIN [005].[dbo].[trav_tblInItem_view] ii ON si.ItemId=ii.ItemId
			 LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1			 
			 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS C ON C.ParentOrderNo = si.ProdOrderNo AND C.ItemId=ii.ItemId
			 LEFT JOIN [005].[dbo].[tblMpOrderReleases] MOR ON MOR.OrderNo=C.OrderNo AND MOR.ReleaseNo=C.ReleaseNo
			 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] MORHist ON MORHist.OrderNo=C.OrderNo AND MORHist.ReleaseNo=C.ReleaseNo
			 --LEFT JOIN [005].[dbo].[trav_tblMpOrderReleases_View] MOR ON MOR.[cf_Parent Order]=si.ProdOrderNo
			 --LEFT JOIN [005].[dbo].[trav_tblMpHistoryOrderReleases_View] MORHist ON MORHist.[cf_Parent Order]=si.ProdOrderNo
			 LEFT JOIN [W005].[dbo].[CCIKitBagDetail] KBD ON KBD.OrderReleaseEventItemId=si.OREIId
		WHERE sb.ShipBoxNo = @PkgId
		GROUP BY si.ProdOrderNo, MOR.OrderNo, MORHist.OrderNo, si.ItemId,ii.Descr,sb.Id,ia.AliasID,C.OrderNo,C.ReleaseNo,MOR.PurchaseOrder,MORHist.PurchaseOrder,MOR.CustId,MORHist.CustId, ii.[cf_FG Program], si.Id, KBD.CCIKitBagId)
	AS A 
	GROUP BY A.JobNo, A.ItemId, A.Descr, A.CustPO, A.Customer, A.CustPNRev, MfgData, A.Qty, A.QRcode, A.NewQRcode

END
GO
