USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCompositesCartonTallyLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebCompositesCartonTallyLabel] @CtnId as int
AS
BEGIN

--DECLARE @CtnId as int  = 33

DECLARE @OrderNo as varchar(8)
DECLARE @RelNo as int
SET @OrderNo =	(SELECT TOP 1 ProdOrderNo 
				FROM [W005].[dbo].[ShipItem] 
				WHERE ShipCartonId = @CtnId)
SET @RelNo =	(SELECT TOP 1 ProdOrderRelNo 
				FROM [W005].[dbo].[ShipItem] 
				WHERE ShipCartonId = @CtnId)

	SELECT	DISTINCT 
		SC.ShipCartonNo AS CartonNumber 
		,ShipmentID = IsNull(R.SalesOrder,IsNull(RH.SalesOrder,''))
		,PalletID = SP.ShipPalletNo
		,RecorderNo = ''
		,WebWO = CAST(@OrderNo as int)
		,PO = IsNull(SO.CustPONum, IsNull(AR.CustPONum,''))
		,ShipToName = IsNull(SO.ShipToName, IsNull(AR.ShipToName,''))
		,ShipToPO = ''
		,I.ItemId 
		,I.Descr
		,MatlDesignation = (SELECT TOP 1 II.Descr 
							FROM [005].[dbo].[tblInItem] II 
							INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMOREI ON II.ItemId = RMOREI.ItemId
							INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RME ON RMOREI.OrderReleaseEventId = RME.Id 
							INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] LL ON LL.ItemId=RMOREI.ItemId AND LL.LocId=RMOREI.LocId AND LL.LotNum = RMOREI.SerialNo
							INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=II.ItemId AND L.LocId=RMOREI.LocId AND (L.GLAcctCode LIKE '1%' OR L.GLAcctCode LIKE '2%' OR L.GLAcctCode LIKE '3%')  -- direct material
							WHERE RMOREI.IsAssembly=0 AND RME.OrderNo=@OrderNo AND RME.ReleaseNo=@RelNo)
		,Width = P.nTarget
		,IA.AliasID AS PN
		,BatchNos = STUFF(
								(
									SELECT DISTINCT ', ' + LL.[cf_Lot No.]
									FROM [W005].[dbo].[OrderReleaseEvent] AS RME
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMOREI ON RMOREI.OrderReleaseEventId = RME.Id 
										 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] LL ON LL.ItemId=RMOREI.ItemId AND LL.LocId=RMOREI.LocId AND LL.LotNum = RMOREI.SerialNo
										 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMOREI.ItemId AND L.LocId=RMOREI.LocId AND (L.GLAcctCode LIKE '1%' OR L.GLAcctCode LIKE '2%' OR L.GLAcctCode LIKE '3%') -- direct material
									WHERE RMOREI.IsAssembly=0 AND RME.OrderNo=@OrderNo AND RME.ReleaseNo=@RelNo 
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
						 )
		,PrepregDOM = (SELECT MIN(LL.[cf_Vendor Mfg Date]) 
						FROM [W005].[dbo].[OrderReleaseEvent] AS RME 
						INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMOREI ON RMOREI.OrderReleaseEventId = RME.Id 
						INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] LL ON LL.ItemId=RMOREI.ItemId AND LL.LocId=RMOREI.LocId AND LL.LotNum = RMOREI.SerialNo
						INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMOREI.ItemId AND L.LocId=RMOREI.LocId AND (L.GLAcctCode LIKE '1%' OR L.GLAcctCode LIKE '2%' OR L.GLAcctCode LIKE '3%')  -- direct material
						WHERE RMOREI.IsAssembly=0 AND RME.OrderNo=@OrderNo AND RME.ReleaseNo=@RelNo) 
		,ComponentRolls = STUFF(
								(
									SELECT DISTINCT ', ' + LL.[cf_Serial No.]
									FROM [W005].[dbo].[OrderReleaseEvent] AS RME
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMOREI ON RMOREI.OrderReleaseEventId = RME.Id 
										 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] LL ON LL.ItemId=RMOREI.ItemId AND LL.LocId=RMOREI.LocId AND LL.LotNum = RMOREI.SerialNo
										 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMOREI.ItemId AND L.LocId=RMOREI.LocId AND (L.GLAcctCode LIKE '1%' OR L.GLAcctCode LIKE '2%' OR L.GLAcctCode LIKE '3%')  -- direct material
									WHERE RMOREI.IsAssembly=0 AND RME.OrderNo=@OrderNo AND RME.ReleaseNo=@RelNo 
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
						 )
		,SpoolID = SI.TravLotNum
		,SetNum = CAST(CAST(SI.ProdOrderNo as int) as varchar(8)) + '-' + CAST(SI.ProdOrderRelNo as varchar(3))
		,CutNum = Right('000'+Cast(FGOREI.CutPos as Varchar(3)),3) 
		,WeightLB = ((SELECT Quantity FROM ShipItem where Id = SI.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'LB'))
		,WeightKG = ((SELECT Quantity FROM ShipItem where Id = SI.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'KG'))
		,LengthFT = (SELECT Quantity FROM ShipItem where Id = SI.Id)

	FROM [W005].[dbo].[ShipCarton] AS SC   
			INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipCartonId = SC.Id
			LEFT JOIN [W005].[dbo].[ShipPallet] SP ON SP.Id = SC.ShipPalletId
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS FGOREI ON FGOREI.Id = SI.OREIId 
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS FGE ON FGE.OrderNo=SI.ProdOrderNo AND FGE.ReleaseNo=SI.ProdOrderRelNo

			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo  
			LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)
			LEFT JOIN [005].[dbo].[tblSoTransHeader] SO ON SO.TransId = R.SalesOrder
			LEFT JOIN [005].[dbo].[tblArHistHeader] AR ON AR.TransId = RH.SalesOrder 		
			LEFT JOIN [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)'
			LEFT JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = SI.ItemId AND P.CharId = C.Id

	WHERE SC.Id = @CtnId

END	
GO
