USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCICutFilesToSelectForFO]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Returns CutFiles that can be selected to be added to the new Fabric Optimizer MfgGroup for @ProgramId */
CREATE PROCEDURE [dbo].[spCCICutFilesToSelectForFO] @ProgramId AS Int

AS
BEGIN

--DECLARE @ProgramId AS Int = 764


SELECT g.Id AS MfgGroupID, g.Name AS MfgGroupName, g.Revision AS MfgGroupRev, g.CutFileReleasePath,g.DimSheetReleasePath,
	k.ItemId, c.*
FROM [W005].[dbo].[CCICutFile] c
	INNER JOIN [dbo].[CCIManufacturingGroupCutFileXRef] x ON x.CCICutFileId = c.Id
	INNER JOIN [W005].[dbo].[CCIManufacturingGroup] g ON g.Id = x.CCIManufacturingGroupId
	INNER JOIN [W005].[dbo].[CCICutFileKit] k ON k.CCICutFileId = c.Id
WHERE c.Id IN (
				SELECT CCICUtFileId
				FROM [dbo].[CCIManufacturingGroupCutFileXRef]
				WHERE CCIManufacturingGroupId IN (SELECT Id FROM [W005].[dbo].[CCIManufacturingGroup] WHERE ProgramId = @ProgramId))
	AND c.CutFile NOT LIKE '%.zcc'
ORDER BY 1,2


END
GO
