USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExpDateByItemIdAndSerNoOrLot]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetExpDateByItemIdAndSerNoOrLot]
	@ItemId as varchar(24), @SerNo as varchar(35), @LotNo as varchar(16), @LocId as varchar(10), @ItemType as varchar(15)
AS
BEGIN

--DECLARE @ItemId as varchar(24) = 'FG-MRAS0056-SPL'
--DECLARE @SerNo as varchar(35) = ''
--DECLARE @LotNo as varchar(16) = '0285340-007'
--DECLARE  @LocId as varchar(10) = 'INVATL'
--DECLARE @ItemType as varchar(15) = 'MULTI-UOM'

IF @ItemType = 'Serialized'
BEGIN
		SELECT FGExpDate AS ExpDate
		FROM [w005].dbo.OrderReleaseEventItem 
		WHERE ItemId = @ItemId AND LocId = @LocId AND TravSerNum = @SerNo
END ELSE
IF @ItemType = 'Multi-UOM' OR @ItemType = 'MultiUOM'
BEGIN
		SELECT ExpDate AS ExpDate
		FROM [005].[dbo].[trav_tblInItemLocLot_View] 
		WHERE ItemId = @ItemId AND LocId = @LocId AND (LotNum = @SerNo OR LotNum = @LotNo)

END ELSE
IF @ItemType = 'Lotted'
BEGIN
		SELECT ExpDate AS ExpDate
		FROM [005].[dbo].[trav_tblInItemLocLot_View] 
		WHERE ItemId = @ItemId AND LocId = @LocId AND LotNum = @LotNo

END




END


GO
