USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGlJournalExcel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGlJournalExcel] @FiscalPeriod as int, @FiscalYear as int
AS
BEGIN
SELECT * FROM 
(
	SELECT g.OrderNo, g.ReleaseNo, g.ReqId
		, ItemIdOperation = CASE X.IndLevel WHEN 0 THEN X.AssemblyId WHEN 1 THEN X.Description ELSE (Select Top 1 d.ComponentId FROM [005].dbo.tblMbAssemblyDetail d WHERE d.HeaderId = X.Id and d.Sequence = X.Step) END
	    , p.[EntryNum], p.[CompId], p.[EntryDate], p.[TransDate], CASE p.[PostedYn] WHEN -1 THEN 'Yes' WHEN 0 THEN 'No' END as PostedYn, p.[Desc], p.[SourceCode], p.[Reference], p.[AcctId], p.[DebitAmt], p.[CreditAmt], p.[Period], p.[Year], p.[AllocateYn], p.[ChkRecon], p.[CashFlow], p.[LinkID], p.[LinkIDSub], p.[LinkIDSubLine], p.[PostRun], p.[ExchRate], p.[CurrencyID], p.[DebitAmtFgn], p.[CreditAmtFgn], p.[URG], p.[DebitAmt] - p.[CreditAmt] AS [Amount], p.[DebitAmtFgn] - p.[CreditAmtFgn] AS [AmountFgn], h.[BalType], h.[Desc] AccountDescription, h.[Status], h.[AcctTypeId], t.[Desc] AccountTypeDescription ,t.AcctClassId 
	FROM [005].dbo.trav_tblGlJrnl_view p 
		LEFT JOIN [005].dbo.tblGlAcctHdr h on p.[AcctId] = h.[AcctId] 
		LEFT JOIN [005].dbo.tblGlAcctType t on h.[AcctTypeId] = t.[AcctTypeId]
		CROSS APPLY [005].dbo.fnSplitGlJrnlDesc(p.[Desc], ' ') g
		INNER JOIN 
		(
			SELECT O.OrderNo, O.ReleaseNo, O.ReleaseId, R.ReqId, A.AssemblyId, R.IndLevel, R.Step, A.Id, R.Description
			FROM [005].dbo.tblMpHistoryOrderReleases O 
			INNER JOIN [005].dbo.tblMpHistoryRequirements R on O.ReleaseId = R.ReleaseId
			INNER JOIN [005].dbo.tblMbAssemblyHeader A on A.AssemblyId = O.AssemblyId and A.RevisionNo = O.RevisionNo
			UNION ALL
			SELECT O.OrderNo, R.ReleaseNo, R.Id as ReleaseId, RQ.ReqId, A1.AssemblyId, RQ.IndLevel, RQ.Step, A1.Id, RQ.Description
			FROM [005].dbo.tblMpOrder O 
			INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = O.OrderNo
			INNER JOIN [005].dbo.tblMpRequirements RQ on RQ.ReleaseId = R.Id
			INNER JOIN [005].dbo.tblMbAssemblyHeader A1 on A1.AssemblyId = O.AssemblyId and A1.RevisionNo = O.RevisionNo	
		) X ON X.OrderNo = g.OrderNo AND X.ReleaseNo = g.ReleaseNo AND X.ReqId = g.ReqId
	Where SourceCode = 'MP' AND Reference = 'Production' 
	UNION ALL
	SELECT Cast(Null as varchar(8)) as OrderNo, Cast(Null as int) as ReleaseNo, Cast(Null as int) as ReqId, Cast(Null as varchar(24)) as ItemIdOperation, p.[EntryNum], p.[CompId], p.[EntryDate], p.[TransDate], CASE p.[PostedYn] WHEN -1 THEN 'Yes' WHEN 0 THEN 'No' END as PostedYn, p.[Desc], p.[SourceCode], p.[Reference], p.[AcctId], p.[DebitAmt], p.[CreditAmt], p.[Period], p.[Year], p.[AllocateYn], p.[ChkRecon], p.[CashFlow], p.[LinkID], p.[LinkIDSub], p.[LinkIDSubLine], p.[PostRun], p.[ExchRate], p.[CurrencyID], p.[DebitAmtFgn], p.[CreditAmtFgn], p.[URG], p.[DebitAmt] - p.[CreditAmt] AS [Amount], p.[DebitAmtFgn] - p.[CreditAmtFgn] AS [AmountFgn], h.[BalType], h.[Desc] AccountDescription, h.[Status], h.[AcctTypeId], t.[Desc] AccountTypeDescription ,t.AcctClassId 
	FROM [005].dbo.trav_tblGlJrnl_view p 
		LEFT JOIN [005].dbo.tblGlAcctHdr h on p.[AcctId] = h.[AcctId] 
		LEFT JOIN [005].dbo.tblGlAcctType t on h.[AcctTypeId] = t.[AcctTypeId]
	Where SourceCode <> 'MP' OR (SourceCode = 'MP' AND Reference <> 'Production')) ds
	WHERE ([Period] = @FiscalPeriod And [Year] = @FiscalYear)
END
GO
