USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMoveConvertingNonInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	This sp is used by WebUtilities.MoveQuantity for Converting production that is NOT in Traverse Inventory
*/
CREATE PROCEDURE [dbo].[spMoveConvertingNonInventory]
				@OrdNo varchar(8),  @RelNo int
AS
BEGIN

--DECLARE @OrdNo varchar(8) = '00050053'
--DECLARE @RelNo int = 2


	SELECT orei.ItemId, orei.LocId,CAST(orei.TotalQty as decimal(20,10)) as TotalQty
		,IsOTTracked = CAST(IsNull((SELECT [cf_Out-Time Tracked] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId),0) as bit)
		--,PrgId = (SELECT TOP 1 ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=orei.ItemId)
		,CASE 
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType=2) THEN 'Serialized'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=1) THEN 'MultiUOM'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=0 AND LottedYN=1) THEN 'Lotted'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=0 AND LottedYN=0) THEN 'NotLotted'
			ELSE 'ItemTypeError'
		 END AS InItemType
		 ,CASE 
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType=2) THEN orei.TravSerNum --Serialized
			ELSE ''   --Not serialized
		 END AS TravSerialNo
		 ,orei.TravLotNum
		 ,orei.SerialNo
		 ,orei.LotNo
		 ,orei.OrderReleaseEventId
		 ,orei.UOM
		 ,IsOTTracked = IsNull((SELECT [cf_Out-Time Tracked] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId),0)
	FROM [W005].[dbo].[OrderReleaseEventItem] orei
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON orei.OrderReleaseEventId=ore.Id
	WHERE ore.OrderNo=@OrdNo AND ore.ReleaseNo=@RelNo 
		AND IsAssembly=1 AND (LocId NOT IN ('WASTE', 'REWORK'))


	
END
GO
