USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCustCarrierAcct]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetCustCarrierAcct] @CustId AS varchar(10),@CarrierId As varchar(6)
AS
BEGIN

--DECLARE @CustId AS varchar(10) = '002533'
--DECLARE @CarrierId As varchar(6) = 'FDX_G'

	SELECT CustAcct
	FROM  [W005].[dbo].[CustomerCarrierAccount]
	WHERE CustId = @CustId AND ShipMethodId = @CarrierId

END


GO
