USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedCartonsByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* Returns Complete AND Partial Cartons */

CREATE PROCEDURE [dbo].[spGetPackedCartonsByItemAndLocId]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)= 'STERIN-100GY'
--declare @LocId as varchar(10) = 'QA HOLD'
--declare @OrderNo as varchar(8) = '00038094'
--declare @ReleaseNo as int = 59

	DECLARE @DoNotMixLots as bit
	SET @DoNotMixLots = IsNULL((SELECT Pc.bTarget 
							FROM [W005].[dbo].[ProductChar] Pc 
							inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
							WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedLots'),0)

	SELECT DISTINCT C.ShipCartonNo As PkgId,SUM(I.Quantity) As Quantity,C.Id, Count(I.Id) As NoPacked,C.Complete, C.IsPacked,C.GrossWt,C.TareWt,@DoNotMixLots AS bTarget
	FROM [W005].[dbo].[ShipCarton] As C 
	inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
	--Left Join [W005].[dbo].[ProductChar] Pc ON Pc.ItemId=I.ItemId 
	--Left join [W005].[dbo].[Characteristic] Chr ON Chr.Id = Pc.CharId AND Chr.Characteristic = 'DoNotPackMixedLots'
	Where I.ItemId=@ItemId  AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0  AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
		AND C.Deleted=0 AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			@OrderNo 
		  ELSE
			'%' 
		  END
	GROUP BY C.Id,C.ShipCartonNo,C.Complete, C.IsPacked,C.GrossWt,C.TareWt --,Pc.bTarget
	order by C.ShipCartonNo DESC
  	 

END
GO
