USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSFDCTraverseReplicate]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSFDCTraverseReplicate] @PostDate as DateTime
AS
BEGIN
	SELECT 'Invoiced' as OrderStatus
			,'HAR' as PlantId
			,h.[CustPONum] as CustPO
			,h.[TransId] as SONumber
			,h.[InvcNum] as InvoiceNumber
			,h.[InvcDate] as InvoiceDate
			,d.[EntryNum] as InvoiceLineNum
			,Null as InvoiceDetailId
			,Null as WorkOIrderId
			,Null as ProdSpecId
			,h.[InvcDate] as DateFinalized
			,h.[CustId] as PolarisCustomerId
			,h.[CustId] as PolarisCustomerCode
			,s.CustName as PolarisCusstomerName
			,Cast(Null as integer) as PartId
			,d.PartId as PartNumber
			,d.[Desc] as PartDescription
			,d.[QtyOrdSell] as QtyOrdered
			,d.[QtyShipSell] as QtySold
			,d.[UnitsSell] as UOM
			,ConversionFactor as ConvFactor
			,h.[TransType]*[UnitCostSell] as UnitCost
			,h.[TransType]
			,h.[TransType] *  d.[UnitPriceSell] as UnitPrice
			,h.[TransType] * d.[PriceExt] as Total
			,h.[TransType] * d.[UnitPriceSell] as SFDCUnitPrice
			,h.[TransType] * d.[PriceExt] as SFDCTotal
			,h.[ShipToName] 	  
			,ShipToAddress = IIF([ShipToAttn] IS NULL OR LEN(RTrim([ShipToAttn]))=0, '', [ShipToAttn]+', ') +
			IIF([ShipToAddr1] IS NULL OR LEN(RTrim([ShipToAddr1]))=0, '', [ShipToAddr1]+', ') +
			IIF([ShipToAddr2] IS NULL OR LEN(RTrim([ShipToAddr2]))=0, '', [ShipToAddr2]+', ') +
			IIF([ShipToCity] IS NULL OR LEN(RTrim([ShipToCity]))=0, '', [ShipToCity]+', ') +
			IIF([ShipToRegion] IS NULL OR LEN(RTrim([ShipToRegion]))=0, '', [ShipToRegion]+', ') + 
			IIF([ShipToCountry] IS NULL OR LEN(RTrim([ShipToCountry]))=0, '', [ShipToCountry]+', ') +
			IIF([ShipToPostalCode] IS NULL OR LEN(RTrim([ShipToPostalCode]))=0, '', [ShipToPostalCode]+', ')
			,SFDC.SFDCOppRecId as SalesOrder_SFDC_Oportunity
			,SFDC.SFDCOppRecId as Current_SFDC_Opportunity
			,h.[FiscalYear] as Fiscal_Year
			,Fiscal_Qtr = Case h.[GLPeriod] WHEN 1 THEN 1 WHEN 2 THEN 1 WHEN 3 THEN 1 WHEN 4 THEN 2 WHEN 5 THEN 2 WHEN 6 THEN 2 WHEN 7 THEN 3 WHEN 8 THEN 3 WHEN 9 THEN 3 WHEN 10 THEN 4 WHEN 11 THEN 4 WHEN 12 THEN 4 END
			,h.[GLPeriod] AS [Fiscal_Month]
			,Datepart(mm, h.[InvcDate]) as [Month]
			,CASE WHEN d.[EntryNum] = -1 THEN NULL ELSE d.GLAcctSales END AS [GLAcctSales]
			,Cast(Null as varchar(50)) as GLGroup
			,h.[TransType]*(HD.WIMachineSetupCost+HD.WIMachineCost) as StdMachineCost
			,Cast(0 as money) as StdMachineCostModified
			,Cast(0 as money) as StdMachineCostVariable
			,h.[TransType]*(HD.WIMaterialDirectCost) as StdMaterialCost
			,h.[TransType]*(HD.WIMaterialIndirectCost) as StdSuppliesCost
			,h.[TransType]*(HD.WILaborSetupCost+HD.WILaborCost) as StdLaborCost
			,Cast(Null as money) as StdMargin
			,Cast(Null as money) as StdMarginPct
			,Cast(Null as money) as ModMargin
			,Cast(Null as money) as ModMarginPct
			,Cast(Null as money) as VarMargin
			,Cast(Null as money) as VarMarginPct
			,Cast(1 as bit) as IsBillable
			,IIF(h.[TransType] * d.[PriceExt] > 0, 1, 0) as IsShipment
	FROM [005].dbo.tblArHistHeader h 
	LEFT JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId] 
	LEFT JOIN [005].dbo.tblARCust s on h.CustId = s.CustId
	LEFT JOIN [W005].dbo.SFDCOppXRefCustomerItem SFDC ON (SFDC.ItemId = d.PartId OR SFDC.ItemId = d.[Desc]) and SFDC.CustomerId = h.[CustId]
	CROSS APPLY [W005].dbo.[ufnCalcSONunezCosts] (d.PartId, d.WhseId, h.TransId, H.InvcNum, d.[QtyShipSell], ConversionFactor) HD
	WHERE d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null AND InvcDate >= '2/1/16' and d.[QtyShipSell] <> 0 and PostDate = @PostDate
	ORDER BY InvcNum, InvcDate, LineSeq

END
GO
