USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebReturnToInventoryLabelFTW]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebReturnToInventoryLabelFTW]
	@PrintJobId as int,
	@OrderNo as varchar(8),
	@ReleaseNo as int,
	@OrderReleaseEventItemId as int
AS
BEGIN

	SELECT DISTINCT
		IsNull(C.CustName,'Web Industries Fort Wayne, Inc.') as CustNname,
		SerialNum = Case when Len(L.[cf_Serial No.]) > 0 then L.[cf_Serial No.] else null End,
		LotNum = IsNull(L.[cf_Lot No.],L.LotNum),
		TravLotNum = L.LotNum,
		I.ItemId,
		I.Descr,
		L.cf_Width as Width,
		L.[cf_Core ID] as Core_ID,
		L.[cf_Roll OD] as Roll_OD,
		L.Cmnt as Comments,
		L.ExpDate,
		L.[cf_Use By Date] AS UseByDate,

		EI.TotalQtyRemaining as BaseQtyOnHand,

		I.UomBase,
		I.UomDflt,

		DfltQtyOnHand =
			(EI.TotalQtyRemaining / U.ConvFactor),

		Weight_Lbs_PerRoll =
			CAST(
				CASE
					WHEN ULB.ConvFactor IS NULL THEN NULL
					ELSE EI.TotalQtyRemaining / ULB.ConvFactor
				END
			AS DECIMAL(12,2)),

		Length_Ft_PerRoll =
			CAST(
				CASE
					WHEN ULF.ConvFactor IS NULL THEN EI.TotalQtyRemaining
					ELSE EI.TotalQtyRemaining / ULF.ConvFactor
				END
			AS DECIMAL(12,2)),

		Area_MSF_PerRoll =
			CAST(
				CASE
					WHEN UMSF.ConvFactor IS NOT NULL
						THEN EI.TotalQtyRemaining / UMSF.ConvFactor
					WHEN USF.ConvFactor IS NOT NULL
						THEN (EI.TotalQtyRemaining / USF.ConvFactor) / 1000.0
					ELSE NULL
				END
			AS DECIMAL(12,3)),

		QRCode =
			'1' + '|' +
			I.ItemId + '|' +
			UPPER(ISNULL(EI.SerialNo,'')) + '|' +
			UPPER(ISNULL(EI.LotNo,''))

	FROM [W005].[dbo].[OrderReleaseEvent] E
	INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId = E.Id
	INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = EI.ItemId
	INNER JOIN [005].[dbo].[tblInItemUom] U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
	LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON I.ItemId = L.ItemId AND L.LocId = 'INVENTORY'
	LEFT JOIN [005].[dbo].[trav_tblArCust_view] C ON I.cf_Customer = C.CustId
	LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] Q ON Q.ItemId = I.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum
	LEFT JOIN [005].[dbo].[tblInItemUom] ULB ON ULB.ItemId = I.ItemId AND ULB.Uom = 'LB'
	LEFT JOIN [005].[dbo].[tblInItemUom] ULF ON ULF.ItemId = I.ItemId AND ULF.Uom = 'LF'
	LEFT JOIN [005].[dbo].[tblInItemUom] UMSF ON UMSF.ItemId = I.ItemId AND UMSF.Uom = 'MSF'
	LEFT JOIN [005].[dbo].[tblInItemUom] USF ON USF.ItemId = I.ItemId AND USF.Uom = 'SF'

	WHERE E.OrderNo = @OrderNo
	  AND E.ReleaseNo = @ReleaseNo
	  AND EI.Id = @OrderReleaseEventItemId
	  AND (L.LotNum = EI.SerialNo OR L.LotNum = EI.LotNo)
	  AND (EI.TotalQtyRemaining <> 0 AND EI.TotalQtyRemaining < EI.TotalQty)

END
GO
