USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBOLConsolidatedData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBOLConsolidatedData]
	@ShipGroupId as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--declare @ShipGroupId as int = 152

    SELECT DISTINCT sg.ShipGroupId
			,sg.[ShipDate]
			,sg.[OrderNos]
		    ,pl.[ShipToName]
		    ,pl.[ShipToAddr1]
			,pl.[ShipToAddr2]
			,pl.[ShipToCity]
			,pl.[ShipToRegion]
			,pl.[ShipToCountry]
			,pl.[ShipToPostalCode]
			,sg.[CustPOs]
			,pl.[ShipMethod]
			,pl.[ShipTerms]
			,sg.[BOLSpecialInstruction]
			,sg.[GrossWt]
			,pl.ShipFromName, pl.ShipFromAddr1, IIF(pl.ShipFromAddr2 is null OR LEN(pl.ShipFromAddr2)=0,'',pl.ShipFromAddr2) AS ShipFromAddr2, pl.ShipFromCity,pl.ShipFromRegion,pl.ShipFromPostalCode
  FROM [W005].[dbo].[ShipPackingList] AS pl INNER JOIN [W005].[dbo].[ShipGroup] AS sg ON pl.ShipGroupId=sg.ShipGroupId

  WHERE sg.ShipGroupId=@ShipGroupId

  

END
GO
