USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMonthEndBuildSummary]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spMonthEndBuildSummary] @GlPeriod as integer, @GlYear as integer, @ForceLoad as bit
AS
BEGIN
	--DECLARE @GlPeriod as integer = 12
	--DECLARE @GlYear as integer = 2016
	--DECLARE @ForceLoad as bit = 1
	DECLARE @ClosedIN as bit = 0
	DECLARE @MESummaryGlPeriodClosed as bit = 0
	DECLARE @CurrentID as integer
	DECLARE @PrevID as integer
	DECLARE @PrevGlPeriod as integer
	DECLARE @PrevGlYear as integer

	SELECT @ClosedIN = ClosedIN FROM [005].dbo.tblSmPeriodConversion WHERE GLYear = @GlYear and GlPeriod = @GlPeriod
	SELECT Distinct @MESummaryGlPeriodClosed =IIF(GlPeriodClosed IS NULL, 0, 1) FROM [W005].dbo.MonthEndSummary WHERE FiscalYear = @GlYear and GlPeriod = @GlPeriod

	SELECT @CurrentID = C.ID FROM [005].dbo.tblSmPeriodConversion C WHERE C.GlYear = @GLYear AND C.GlPeriod = @GLPeriod
	SELECT @PrevID = Max(C.ID) FROM [005].dbo.tblSmPeriodConversion C WHERE C.ID < @CurrentID
	SELECT @PrevGlPeriod = GlPeriod, @PrevGlYear = GlYear from [005].dbo.tblSmPeriodConversion WHERE ID = @PrevID

	IF ((NOT (@ClosedIN=1 AND @MESummaryGlPeriodClosed=1)) OR @ForceLoad=1)
	  BEGIN

		SELECT D.* 
		INTO #T1 
		FROM [W005].[dbo].[vtblInHistDetailNunezCosts] D INNER JOIN [005].dbo.tblSmPeriodConversion C ON C.GlYear = d.SumYear AND C.GlPeriod = d.SumPeriod
		WHERE C.ID = @CurrentID

		SELECT * 
		INTO #INHistDetail 
		FROM
		(
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit
				, CASE WHEN d.[Source] >= 70 THEN -d.Qty ELSE d.Qty END AS Qty
				, CASE WHEN d.[Source] >= 70 THEN -(d.Qty * d.ConvFactor) ELSE (d.Qty * d.ConvFactor) END AS QtyBase
				, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
				, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
				, d.DropShipYn
				, l.GLAcctCode
				, d.ConvFactor
				, IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
				, IsNull(d.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
				, IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
				, IsNull(d.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
				, IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
				, IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
				, IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
				, (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -(IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
				, Cast(null as varchar(8)) as OrderNo
				, Cast(null as int) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			WHERE d.AppId <> 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
				AND (d.Qty > 0 OR (d.AppId = 'PO' AND d.Qty = 0 AND d.CostExt <> 0 )) 
			UNION ALL 
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit
				, CASE WHEN d.[Source] >= 70 THEN -d.Qty ELSE d.Qty END AS Qty
				, CASE WHEN d.[Source] >= 70 THEN -(d.Qty * d.ConvFactor) ELSE (d.Qty * d.ConvFactor) END AS QtyBase
				, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
				, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
				, d.DropShipYn
				, l.GLAcctCode
				, d.ConvFactor
				, IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
				, IsNull(d.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
				, IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
				, IsNull(d.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
				, IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
				, IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
				, IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
				, (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
				, CASE WHEN d.[Source] >= 70 THEN -(IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
				, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
				, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
				LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
				LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
			WHERE d.AppId = 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
				AND (d.Qty > 0) 
			UNION ALL 
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit
				, CASE WHEN d.[Source] >= 70 THEN d.Qty ELSE -d.Qty END AS Qty
				, CASE WHEN d.[Source] >= 70 THEN (d.Qty * d.ConvFactor) ELSE -(d.Qty * d.ConvFactor) END AS QtyBase
				, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
				, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
				, d.DropShipYn 
				, l.GLAcctCode
				, d.ConvFactor
				, IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
				, IsNull(r.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
				, IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
				, IsNull(r.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
				, IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
				, IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
				, IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
				, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
				, (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
				, CASE WHEN d.[Source] >= 70 THEN (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE -(IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
				, Cast(null as varchar(8)) as OrderNo
				, Cast(null as int) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
				INNER JOIN [W005].[dbo].[vtblInHistDetailNunezCosts] r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
			WHERE d.AppId <> 'MP' and d.Qty > 0 
			UNION ALL 
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit
				, CASE WHEN d.[Source] >= 70 THEN d.Qty ELSE -d.Qty END AS Qty
				, CASE WHEN d.[Source] >= 70 THEN (d.Qty * d.ConvFactor) ELSE -(d.Qty * d.ConvFactor) END AS QtyBase
				, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
				, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
				, d.DropShipYn 
				, l.GLAcctCode
				, d.ConvFactor
				, IIF(r.CostUnit = 0, 0, IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor) AS LaborSetupCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END) AS LaborSetupCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WILaborUnitCost,0)*d.ConvFactor) AS LaborCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WILaborUnitCost,0)*d.ConvFactor * d.Qty END) AS LaborCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor) AS MachineSetupCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END) AS MachineSetupCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WIMachineUnitCost,0)*d.ConvFactor) AS MachineCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END) AS MachineCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor) AS MaterialDirectCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END) AS MaterialDirectCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor) AS IndirectCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END) AS IndirectCost
				, IIF(r.CostUnit = 0, 0, IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor) AS SubcontractCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END) AS SubcontractCost
				, IIF(r.CostUnit = 0, 0, (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor) AS WebCostUnit
				, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE -(IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END) AS WebCost
				, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
				, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
				INNER JOIN [W005].[dbo].[vtblInHistDetailNunezCosts] r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
				LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
				LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
			WHERE d.AppId = 'MP' and d.Qty > 0 
			UNION ALL 
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit
				, 0 AS Qty
				, 0 AS QtyBase
				, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
				, l.GLAcctCode
				, d.ConvFactor
				, 0 AS LaborSetupCostUnit
				, 0 AS LaborSetupCost
				, 0 AS LaborCostUnit
				, 0 AS LaborCost
				, 0 AS MachineSetupCostUnit
				, 0 AS MachineSetupCost
				, 0 AS MachineCostUnit
				, 0 AS MachineCost
				, 0 AS MaterialDirectCostUnit
				, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7','8'), -d.CostExt, 0) AS MaterialDirectCost
				, 0 AS IndirectCostUnit
				, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
				, 0 AS SubcontractCostUnit
				, 0 AS SubcontractCost
				, 0 AS WebCostUnit
				, -d.CostExt AS WebCost
				, Cast(null as varchar(8)) as OrderNo
				, Cast(null as int) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			WHERE d.AppId <> 'MP' and d.[Source] IN (200, 201)
			UNION ALL 
			SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
				, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
				, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit
				, 0 AS Qty
				, 0 AS QtyBase
				, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
				, l.GLAcctCode
				, d.ConvFactor
				, 0 AS LaborSetupCostUnit
				, 0 AS LaborSetupCost
				, 0 AS LaborCostUnit
				, 0 AS LaborCost
				, 0 AS MachineSetupCostUnit
				, 0 AS MachineSetupCost
				, 0 AS MachineCostUnit
				, 0 AS MachineCost
				, 0 AS MaterialDirectCostUnit
				, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7','8'), -d.CostExt, 0) AS MaterialDirectCost
				, 0 AS IndirectCostUnit
				, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
				, 0 AS SubcontractCostUnit
				, 0 AS SubcontractCost
				, 0 AS WebCostUnit
				, -d.CostExt AS WebCost
				, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
				, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
				, CASE WHEN d.[Source] >= 70 THEN 'D' ELSE 'I' END AS IncreaseDecrease
			FROM #T1 d 
				INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
				INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
				LEFT JOIN [005].dbo.tblMpRequirements R ON R.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
				LEFT JOIN [005].dbo.tblMpHistoryRequirements R1 ON R1.TransId = d.TransId 
				LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R1.ReleaseId
			WHERE d.AppId = 'MP' and d.[Source] IN (200, 201)
		) HistoryDetail

		DELETE FROM [W005].dbo.[MonthEndItemLocLotSummary] WHERE FiscalYear = @GlYear AND GLPeriod = @GlPeriod

		SELECT @GlYear AS FiscalYear, @GlPeriod AS GLPeriod, ItemId, LocId, LotNum, GLAccount, GLAcctCode, Sum([QtyOnHand]) AS [QtyOnHand],[UOM],Sum([TravTotalCost]) AS [TravTotalCost],Sum([NunezTotalCost]) AS [NunezTotalCost],Sum([DirectMaterialCost]) AS [DirectMaterialCost],Sum([InDirectMaterialCost]) AS [InDirectMaterialCost],Sum([LaborSetupCost]) AS [LaborSetupCost],Sum([LaborCost]) AS [LaborCost],Sum([MachineSetupCost]) AS [MachineSetupCost],Sum([MachineCost]) AS [MachineCost],Sum([SubContractCost]) AS [SubContractCost]
		INTO #tmpMonthEndItemLocLotSummary
		FROM 
			(
				SELECT [FiscalYear],[GLPeriod],[ItemId],[LocId],[LotNum], [GLAccount], [GLAcctCode], [QtyOnHand],[UOM],[TravTotalCost],[NunezTotalCost],[DirectMaterialCost],[InDirectMaterialCost],[LaborSetupCost],[LaborCost],[MachineSetupCost],[MachineCost],[SubContractCost]
				FROM [W005].[dbo].[MonthEndItemLocLotSummary]
				WHERE FiscalYear = @PrevGlYear AND GLPeriod = @PrevGlPeriod
				UNION ALL
				SELECT	 @GlYear AS FiscalYear
						,@GlPeriod AS GLPeriod
						,D.ItemId
						,D.LocId
						,D.LotNum
						,g.GLAcctInv AS GLAccount
						,l.GLAcctCode AS GLAcctCode
						,sum([QtyBase]) AS QtyOnHand
						,UomBase AS UOM
						,sum([CostExt]) as [TravTotalCost]
						,sum([WebCost]) as [NunezTotalCost]
						,sum([MaterialDirectCost]) as [DirectMaterialCost]
						,sum([InDirectCost]) as [InDirectMaterialCost]
						,sum([LaborSetupCost]) as [LaborSetupCost]
						,sum([LaborCost]) as [LaborCost]
						,sum([MachineSetupCost]) as [MachineSetupCost]
						,sum([MachineCost]) as [MachineCost]
						,sum([SubContractCost]) as [SubContractCost]  
				FROM #INHistDetail D 
					 INNER JOIN [005].dbo.tblInItemLoc l ON l.ItemId = D.ItemId AND l.LocId = D.LocId
					 INNER JOIN [005].dbo.tblInGLAcct g ON g.GLAcctCode = l.GLAcctCode
				GROUP BY D.ItemId,D.LocId,D.LotNum,g.GLAcctInv,l.GLAcctCode,UomBase
			) A
		GROUP BY A.ItemId, A.LocId, A.LotNum, A.UOM, A.GLAccount, A.GlAcctCode

		--RAW Direct & Indirect
		DELETE FROM #tmpMonthEndItemLocLotSummary WHERE (TravTotalCost = 0 and QtyOnHand = 0 AND (SUBSTRING(GlAcctCode,1,1) NOT IN ('7','8')))
		--Intermediate and FG's
		DELETE FROM #tmpMonthEndItemLocLotSummary  WHERE (TravTotalCost = 0 and QtyOnHand = 0 AND (SUBSTRING(GlAcctCode,1,1) IN ('7','8')))

		INSERT INTO [W005].dbo.[MonthEndItemLocLotSummary] (FiscalYear, GLPeriod, ItemId, LocId, LotNum, GLAccount,GLAcctCode, QtyOnHand,UOM,TravTotalCost,NunezTotalCost,DirectMaterialCost,InDirectMaterialCost,LaborSetupCost,LaborCost,MachineSetupCost,MachineCost,SubContractCost)
		SELECT FiscalYear, GLPeriod, ItemId, LocId, LotNum, GLAccount,GLAcctCode, QtyOnHand,UOM,TravTotalCost,NunezTotalCost,DirectMaterialCost,InDirectMaterialCost,LaborSetupCost,LaborCost,MachineSetupCost,MachineCost,SubContractCost
		FROM #tmpMonthEndItemLocLotSummary

		DELETE FROM [W005].dbo.[MonthEndSummary] WHERE FiscalYear = @GlYear AND GLPeriod = @GlPeriod
		--DELETE FROM [W005].dbo.[MonthEndSummaryAdjustments] WHERE FiscalYear = @GlYear AND GLPeriod = @GlPeriod

		INSERT INTO [W005].dbo.[MonthEndSummary] 
		SELECT [FiscalYear]
			  ,[GLPeriod]
			  ,GLAccount
			  ,@ClosedIN
			  ,sum([TravTotalCost]) as [TravTotalCost]
			  ,sum([NunezTotalCost]) as [NunezTotalCost]
			  ,sum([DirectMaterialCost]) as [DirectMaterialCost]
			  ,sum([InDirectMaterialCost]) as [InDirectMaterialCost]
			  ,sum([LaborSetupCost]) as [LaborSetupCost]
			  ,sum([LaborCost]) as [LaborCost]
			  ,sum([MachineSetupCost]) as [MachineSetupCost]
			  ,sum([MachineCost]) as [MachineCost]
			  ,sum([SubContractCost]) as [SubContractCost] 
		FROM [W005].[dbo].[MonthEndItemLocLotSummary] M 
		WHERE FiscalYear = @GlYear AND GLPeriod = @GlPeriod
		GROUP BY [FiscalYear],[GLPeriod],GLAccount

		DECLARE @CNT AS INT
		SELECT @CNT = COUNT(*) FROM [W005].dbo.[MonthEndSummaryAdjustments] WHERE FiscalYear = @GlYear AND GlPeriod = @GlPeriod
		IF @CNT = 0
		  BEGIN
			INSERT INTO [W005].dbo.[MonthEndSummaryAdjustments] ([FiscalYear],[GLPeriod],GLAccount)
			SELECT DISTINCT 
				   [FiscalYear]
				  ,[GLPeriod]
				  ,GLAccount
			FROM [W005].[dbo].[MonthEndSummary] M 
			WHERE FiscalYear = @GlYear AND GLPeriod = @GlPeriod
			ORDER BY 1,2,3
		  END
	  END

	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'#T1')
	  BEGIN
		DROP TABLE #T1
	  END
	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'#INHistDetail')
	  BEGIN
		DROP TABLE #INHistDetail
	  END
	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'#tmpMonthEndItemLocLotSummary')
	  BEGIN
		DROP TABLE #tmpMonthEndItemLocLotSummary
	  END
END
GO
