USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetReworkFgOT]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetReworkFgOT]
	 @OrderNo as varchar(8),
	 @ReleaseNo as int,
	 @SerialNo as varchar(16)
AS
BEGIN
	--DECLARE @OrderNo as varchar(8) = '00000029'
	--DECLARE @ReleaseNo as int = 1
	--DECLARE @SerialNo as varchar(16) = '00000027-002-002'

	SELECT ot.LastScanDateTime
			,ot.TotalRoomMinutes
			,ot.TotalFreezerMinutes
			,ot.TotalReeferMinutes
			,ot.WmBinId
	FROM OrderReleaseEvent E
	INNER JOIN OrderReleaseEventItem I ON OrderReleaseEventId = E.Id
	INNER JOIN OrderReleaseEventItemOutTime OT ON OT.OrderReleaseEventId = E.Id aND OT.OrderReleaseEventItemId = I.Id
	WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND SerialNo = @SerialNo AND IsAssembly = 0
END
GO
