USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackagesInLocation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spPackagesInLocation]
	@LocId as varchar(10), @CompId varchar(3)
AS
BEGIN

--declare @LocId as varchar(10) = 'RW_ATL'
--DECLARE @CompId varchar(3) = '008'
--declare @LocId as varchar(10) = 'RWHBAL'
--DECLARE @CompId varchar(3) = '005'

IF @CompId = '008'
 --<<-- BE SURE THIS REMAINS HAR CompId regardless of dataset being run against.
BEGIN
		SELECT DISTINCT P.Id,I.ItemId,P.ShipPalletNo AS PkgNum, P.DateCreated As MfrDate,I.UOM,P.GrossWt,P.TOPSforExtruding,
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W008].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W008].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
				TravLotNum = P.ShipPalletNo, 
				--TravLotNum = IIF(@CompId='008',P.ShipPalletNo,''), 
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w008].dbo.ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [008].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W008].[dbo].[ShipPallet] As P 
		     INNER JOIN [W008].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId 
			 INNER JOIN [008].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 AND P.Deleted=0
			AND P.Id NOT IN (
							Select PLD.ShipPalletId 
							FROM [W008].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W008].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipPalletId = P.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY P.Id,P.ShipPalletNo,I.PostedToTraverse,P.DateCreated,P.GrossWt,I.ItemId,I.UOM,P.GrossWt,P.TOPSforExtruding,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT C.Id,I.ItemId,C.ShipCartonNo AS PkgNum, C.DateCreated As MfrDate,I.UOM,C.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W008].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W008].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
				TravLotNum = C.ShipCartonNo, 
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w008].dbo.ShipItem as I
						WHERE I.ShipCartonId=C.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [008].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W008].[dbo].[ShipCarton] As C
		     INNER JOIN [W008].[dbo].[ShipItem] As I On C.Id = I.ShipPalletId 
			 INNER JOIN [008].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 AND C.Deleted=0
			AND C.Id NOT IN (
							Select PLD.ShipCartonId 
							FROM [W008].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W008].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipCartonId = C.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY C.Id,C.ShipCartonNo,I.PostedToTraverse,C.DateCreated,C.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT B.Id,I.ItemId,B.ShipBoxNo AS PkgNum, B.DateCreated As MfrDate,I.UOM,B.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W008].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W008].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
				TravLotNum = B.ShipBoxNo, 
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w008].dbo.ShipItem as I
						WHERE I.ShipBoxId=B.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [008].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W008].[dbo].[ShipBox] As B
		     INNER JOIN [W008].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId 
			 INNER JOIN [008].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Null AND I.ShipBoxId is Not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND B.Shipped=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 AND B.Deleted=0
			AND B.Id NOT IN (
							Select PLD.ShipBoxId 
							FROM [W008].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W008].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipBoxId = B.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY B.Id,B.ShipBoxNo,I.PostedToTraverse,B.DateCreated,B.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT I.Id,I.ItemId,I.ShipItemNo AS PkgNum, I.DateCreated As MfrDate,I.UOM,I.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = I.Quantity, 
				I.NoRolls,
				TravLotNum = I.ShipItemNo, 
				TravSerNum = I.TravSerNum,
				Lot = I.LotNo,
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [008].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W008].[dbo].[ShipItem] As I
			 INNER JOIN [008].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Null AND I.ShipBoxId is Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0 AND I.Deleted=0
			AND I.Id NOT IN (
							Select PLD.ShipItemId 
							FROM [W008].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W008].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipItemId = I.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY I.Id,I.ShipItemNo,I.LotNo,I.Quantity, I.NoRolls,I.PostedToTraverse,I.DateCreated,I.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
		
END
ELSE
BEGIN		
		SELECT DISTINCT P.Id,I.ItemId,P.ShipPalletNo AS PkgNum, P.DateCreated As MfrDate,I.UOM,P.GrossWt,P.TOPSforExtruding,
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
				TravLotNum = '',
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w005].dbo.ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [005].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W005].[dbo].[ShipPallet] As P 
		     INNER JOIN [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId 
			 INNER JOIN [005].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 AND P.Deleted=0
			AND P.Id NOT IN (
							Select PLD.ShipPalletId 
							FROM [W005].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W005].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipPalletId = P.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY P.Id,P.ShipPalletNo,I.PostedToTraverse,P.DateCreated,P.GrossWt,I.ItemId,I.UOM,P.GrossWt,P.TOPSforExtruding,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT C.Id,I.ItemId,C.ShipCartonNo AS PkgNum, C.DateCreated As MfrDate,I.UOM,C.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
				TravLotNum = '', 
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w005].dbo.ShipItem as I
						WHERE I.ShipCartonId=C.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [005].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W005].[dbo].[ShipCarton] As C
		     INNER JOIN [W005].[dbo].[ShipItem] As I On C.Id = I.ShipPalletId 
			 INNER JOIN [005].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 AND C.Deleted=0
			AND C.Id NOT IN (
							Select PLD.ShipCartonId 
							FROM [W005].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W005].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipCartonId = C.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY C.Id,C.ShipCartonNo,I.PostedToTraverse,C.DateCreated,C.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT B.Id,I.ItemId,B.ShipBoxNo AS PkgNum, B.DateCreated As MfrDate,I.UOM,B.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
				NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
				TravLotNum = '', 
				TravSerNum = '',
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo  
						FROM [w005].dbo.ShipItem as I
						WHERE I.ShipBoxId=B.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [005].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W005].[dbo].[ShipBox] As B
		     INNER JOIN [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId 
			 INNER JOIN [005].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Null AND I.ShipBoxId is Not Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND B.Shipped=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 AND B.Deleted=0
			AND B.Id NOT IN (
							Select PLD.ShipBoxId 
							FROM [W005].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W005].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipBoxId = B.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY B.Id,B.ShipBoxNo,I.PostedToTraverse,B.DateCreated,B.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL
		SELECT DISTINCT I.Id,I.ItemId,I.ShipItemNo AS PkgNum, I.DateCreated As MfrDate,I.UOM,I.GrossWt,TOPSforExtruding = '',
				ii.Descr,
				Qty = I.Quantity, 
				I.NoRolls,
				TravLotNum = I.TravLotNum, 
				TravSerNum = I.TravSerNum,
				Lot = I.LotNo,
				CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + iia.AliasID
						FROM [005].[dbo].[tblInItemAlias] as iia
						WHERE iia.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W005].[dbo].[ShipItem] As I
			 INNER JOIN [005].[dbo].[tblInItem] as ii ON ii.ItemId=I.ItemId
		WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Null AND I.ShipBoxId is Null
			AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
			AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0 AND I.Deleted=0
			AND I.Id NOT IN (
							Select PLD.ShipItemId 
							FROM [W005].[dbo].[ShipPackingListDetail] PLD INNER JOIN [W005].[dbo].[ShipPackingList] PL ON PL.PLNo = PLD.PLNo 
							WHERE PLD.ShipItemId = I.Id AND PL.ShipFromLocId = @LocId) 
		GROUP BY I.Id,I.ShipItemNo,I.LotNo,I.Quantity, I.NoRolls,I.PostedToTraverse,I.DateCreated,I.GrossWt,I.ItemId,I.UOM,ii.Descr, I.TravLotNum,TravSerNum
	UNION ALL

		SELECT A.Id, A.ItemId,A.PkgNum, A.MfrDate,A.UOM,A.GrossWt,A.TOPSforExtruding,
				A.Descr,
				A.Qty, A.NoRolls,A.TravLotNum,A.TravSerNum,A.Lot, A.CustomerPN
		FROM (
			SELECT DISTINCT 0 as Id, ii.ItemId,'' AS PkgNum, Null As MfrDate,ii.UOMDflt AS UOM,0 As GrossWt,TOPSforExtruding = '',
					ii.Descr,
					Qty = Sum(oh.Qty - oh.InvoicedQty - oh.RemoveQty), 
					1 as NoRolls,
					TravLotNum = oh.LotNum, 
					TravSerNum = oh.LotNum,
					Lot = oh.LotNum, 
					CustomerPN  = STUFF
						( (
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=ii.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,'')
			FROM [005].[dbo].[tblInItem] as ii
				INNER JOIN [005].dbo.tblInQtyOnHand oh ON ii.ItemId=oh.ItemId
			WHERE oh.LocId = @LocId  AND oh.LotNum NOT IN (SELECT TravLotNum FROM [W005].[dbo].[ShipItem] WHERE ItemId = oh.ItemId)
			GROUP BY ii.ItemId,	ii.UOMDflt, ii.Descr, oh.LotNum
			HAVING Sum(oh.Qty - oh.InvoicedQty - oh.RemoveQty) > 0
			
			UNION ALL

			SELECT DISTINCT 0 as Id, ii.ItemId,'' AS PkgNum, Null As MfrDate,ii.UOMDflt AS UOM,0 As GrossWt,TOPSforExtruding = '',
					ii.Descr,
					Qty = 1, 
					1 as NoRolls,
					TravLotNum = '', 
					TravSerNum = SerNum,
					Lot = '', 
					CustomerPN  = STUFF
						( (
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=ii.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,'')
			FROM [005].[dbo].[tblInItem] as ii
				INNER JOIN [005].dbo.[tblInItemSer] s ON ii.ItemId=s.ItemId
			WHERE s.LocId = @LocId  AND s.SerNum NOT IN (SELECT TravSerNum FROM [W005].[dbo].[ShipItem] WHERE ItemId = s.ItemId)
				AND s.SerNum NOT IN (select SerialNo from [w005].dbo.ShipPackingListDetail  where SerialNo = s.SerNum  and ItemId = s.ItemId)
				AND s.SerNumStatus IN (1,2,5)
			) A
			

END




END
GO
