USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPFMCompleteData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPFMCompleteData]  /* PFM == Profilometer */
	@TestHdrId int, @Rewind bit

AS
BEGIN



SELECT o.Id AS TestId, o.SerialNo,o.LotNo,o.PadNo, o.[Rewind],o.Retest,o.Complete,o.Pass
	,o.TestDate,o.UserId,o.GageId,o.Pos1,o.Pos2,o.Pos3,o.Pos4,o.UOM
FROM [W005].[dbo].[ProfilometerTest] o 
WHERE o.TestHdrId = @TestHdrId AND o.[Rewind]=@Rewind AND o.Retest=0 AND o.Complete=0




END
GO
