USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemType]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetItemType] @ItemId AS VARCHAR(24) 
AS
BEGIN

--DECLARE @ItemId AS VARCHAR(24) = 'FG-Non-OT-Lotted' --'RM-CADC5206-IND' --'FG-GEMS1166-ROL'
 
SELECT IIF(ItemType=2, 'Serialized', IIF(ISNULL([cf_Multi-UOM Serial Item],0)=1, 'Multi-UOM', IIF(LottedYN=1 AND ISNULL([cf_Multi-UOM Serial Item],0)=0, 'Lotted', 'NonLotNonSer'))) AS ItemType
FROM [005].[dbo].[trav_tblInItem_view]
WHERE ItemId=@ItemId

END
GO
