USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackageItemInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPackageItemInfo] @PackageNo VARCHAR(10)
AS
BEGIN


--DECLARE @PackageNo AS VARCHAR(10) = 'P000199101'


/* STEP 1: Get the package contents */
SELECT DISTINCT
	SI.Id,
	SI.ItemId,
	SI.SerNo,
	SI.LotNo,
	SI.TravSerNum,
	SI.TravLotNum,
	SUM(SI.Quantity) AS Quantity,
	SI.UOM,
	MIN(CAST(SI.DateCreated AS date)) AS MfgDate
INTO #PkgItems
FROM ShipItem SI
	 LEFT JOIN ShipBox SB ON SB.Id=SI.ShipBoxId
	 LEFT JOIN ShipCarton SC ON SC.Id=SI.ShipCartonId
	 LEFT JOIN ShipPallet SP ON SP.Id=SI.ShipPalletId
WHERE (SI.ShipItemNo=@PackageNo OR SB.ShipBoxNo=@PackageNo 
	  OR SC.ShipCartonNo=@PackageNo OR SP.ShipPalletNo=@PackageNo)
	  AND SI.Deleted=0 AND SI.Shipped=0 AND SI.PhantomAdjOut=0
GROUP BY SI.Id, SI.ItemId,	SI.SerNo, SI.LotNo,	SI.TravSerNum, SI.TravLotNum, SI.UOM


/* STEP 2: Get the current bin location for each item in the package */
SELECT DISTINCT
	PKG.Id,
	PKG.ItemId,
	PKG.SerNo,
	PKG.LotNo,
	PKG.TravSerNum,
	PKG.TravLotNum,
	CurrentLoc = (SELECT TOP 1 ExtLocID 
						FROM [005].[dbo].[tblWmHistDetail] WH 
							 INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] E ON E.Id=WH.ExtLocA
					   WHERE  WH.ItemId=PKG.ItemId AND (WH.LotNum=PKG.LotNo OR WH.LotNum=PKG.TravLotNum OR WH.SerNum=PKG.SerNo OR WH.SerNum=PKG.TravSerNum)
					ORDER BY WH.ExtHistSeqNum DESC)
INTO #CurrentLoc
FROM #PkgItems PKG
ORDER BY PKG.ItemId


/* STEP 3: Display the Item, TotalQty, MfgDate, and CurrentLoc grouped in a distinct list */
SELECT DISTINCT
	PKG.ItemId,
	SUM(PKG.Quantity) AS TotalQty,
	PKG.UOM,
	MAX(PKG.MfgDate) AS MfgDate,
	CL.CurrentLoc
FROM #PkgItems PKG
	 INNER JOIN #CurrentLoc CL ON CL.Id=PKG.Id
GROUP BY PKG.ItemId, PKG.UOM, CL.CurrentLoc


/* Drop the temp tables used */
DROP TABLE #PkgItems
DROP TABLE #CurrentLoc


END
GO
