USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDistinctItemLocFromTmpPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetDistinctItemLocFromTmpPL]
			@PLNo as int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT DISTINCT ItemId,Location
	FROM [W005].[dbo].[tmpShipPackingList]
	WHERE DoNotAddToPL=0 AND PLNo=@PLNo





END
GO
