USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetConversionFactor]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		
CREATE PROCEDURE [dbo].[spGetConversionFactor] @FromUOM varchar(5), @ToUOM varchar(5)
	
AS
BEGIN

--declare @FromUOM varchar(5) = 'LF'
--Declare @ToUOM varchar(5) = 'LM'

IF EXISTS (
	SELECT ConvFactor
	FROM [w005].[dbo].[UOMConversion]
	WHERE FromUOM = @FromUOM AND ToUOM = @ToUOM
	)
BEGIN
	SELECT ConvFactor
	FROM [w005].[dbo].[UOMConversion]
	WHERE FromUOM = @FromUOM AND ToUOM = @ToUOM
END ELSE
BEGIN
	SELECT 0 AS ConvFactor 
END


		

END
GO
