USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetIntermediatesByRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetIntermediatesByRM] @ItemId AS varchar(25), @SerialNo AS varchar(16)
AS
BEGIN

--DECLARE @ItemId AS varchar(25) = 'RM-CADC5316-ADH' 
--DECLARE @SerialNo AS varchar(16) = '301915497-0002'

BEGIN
SELECT DISTINCT
		ORE.OrderNo,
		ORE.ReleaseNo,
		IM.IMOREIId AS OrderReleaseEventItemId,
		IM.IMItemId AS ItemId, 
		IM.IMSerialNo AS SerialNo,
		IM.IMLotNo AS LotNo
INTO #IM
  FROM [W005].[dbo].[OrderReleaseIntermediateRawMatl] IM
		INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=IM.IMOREIId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.Id=OREI.OrderReleaseEventId
  WHERE RMItemId=@ItemId AND RMSerialNo=@SerialNo 
END ;

WITH #Temp1 AS 
(
	--initialization
	SELECT OrderNo, ReleaseNo, OrderReleaseEventItemId, ItemId, SerialNo, LotNo
	FROM #IM
UNION ALL
	 --recursive execution
	 SELECT ORE3.OrderNo, ORE3.ReleaseNo, OREI3.Id AS OrderReleaseEventItemId, OREI3.ItemId, OREI3.SerialNo, OREI3.LotNo
	 FROM #IM
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE1 ON ORE1.OrderNo=#IM.OrderNo AND ORE1.ReleaseNo=#IM.ReleaseNo  
	      INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI1 ON OREI1.OrderReleaseEventId=ORE1.Id AND OREI1.IsAssembly=0
		  INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI2 ON OREI2.ItemId=OREI1.ItemId AND OREI2.SerialNo=OREI1.SerialNo 
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE2 ON ORE2.Id=OREI2.OrderReleaseEventId	
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE3 ON ORE3.OrderNo=ORE2.OrderNo AND ORE3.ReleaseNo=ORE2.ReleaseNo  
		  INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI3 ON OREI3.OrderReleaseEventId=ORE3.Id AND OREI3.IsAssembly=1
) SELECT DISTINCT * INTO #IM1 FROM #Temp1 WHERE ItemId LIKE 'IM%' 


--retrieve the IMs, their RMs, and the RM's Exp Date
SELECT DISTINCT
		IM.OrderNo, 
		IM.ReleaseNo, 
		IM.OrderReleaseEventItemId, 
		IM.ItemId, 
		IM.SerialNo, 
		IM.LotNo
FROM #IM1 IM
ORDER BY IM.OrderReleaseEventItemId

DROP TABLE #IM
DROP TABLE #IM1

END

GO
