USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIParentOrderCutListMRPCleanup]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIParentOrderCutListMRPCleanup] 
AS
BEGIN
	DELETE FROM CCIParentOrderCutListMRP 
	FROM CCIParentOrderCutListMRP M 
	LEFT JOIN CCIOrderReleaseInfo I 
	ON I.ParentOrderNo = M.ParentOrderNo
	WHERE I.ParentOrderNo IS NULL
END
GO
