USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spAllSerializedItemsOnPLVerified]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAllSerializedItemsOnPLVerified]
			@SO varchar(8),@PLNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @SO varchar(8) ='00002625'
--DECLARE @PLNo int = 26347

IF EXISTS(
	SELECT Id, PlSerNoCnt, TravSerNoCnt
	FROM
		(SELECT Id, Count(D.SerialNo) as PLSerNoCnt, Count(S.SerNum) as TravSerNoCnt
		FROM [W005].[dbo].[ShipPackingListDetail] D
		LEFT JOIN [005].[dbo].[tblSoTransSer] S ON S.TransId = @SO AND S.Cmnt = Cast(D.PLNo as varchar(25)) AND S.SerNum = D.SerialNo
		WHERE PLNo = @PLNo
			AND D.ItemId IN (SELECT ItemId FROM [005].[dbo].[tblInItem] WHERE ItemType=2)
			AND D.SerialNo IN (SELECT SerNum 
									FROM [005].[dbo].[tblSoTransSer]
									WHERE TransId=@SO AND Cmnt= CAST(@PLNo as varchar))
		GROUP BY Id) A
	WHERE PlSerNoCnt != TravSerNoCnt
	)
BEGIN
	SELECT CAST(0 as bit) As OK
END ELSE BEGIN
	SELECT CAST(1 as bit) As OK
END

	--IF EXISTS (
	--		SELECT Id 
	--		FROM [W005].[dbo].[ShipPackingListDetail] 
	--		WHERE PLNo = @PLNo
	--			AND ItemId IN (SELECT ItemId FROM [005].[dbo].[tblInItem] WHERE ItemType=2)
	--			AND SerialNo IN (SELECT SerNum 
	--									FROM [005].[dbo].[tblSoTransSer]
	--									WHERE TransId=@SO AND Cmnt= CAST(@PLNo as varchar))
	--		)
	--	BEGIN
	--		SELECT CAST(0 as bit) As OK
	--	END ELSE BEGIN
	--			SELECT CAST(1 as bit) As OK
	--	END
		



END

GO
