USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebConvertingRollTraceabilityLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebConvertingRollTraceabilityLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    DECLARE @MasterRollNumbers VARCHAR(MAX);

    SELECT
        @MasterRollNumbers =
        STUFF
        (
            (
                SELECT DISTINCT
                    ', ' + RM.SerialNo
                FROM W005.dbo.OrderReleaseEvent E1
                INNER JOIN W005.dbo.OrderReleaseEventItem RM
                    ON RM.OrderReleaseEventId = E1.Id
                WHERE E1.OrderNo = @OrderNo
                  AND E1.ReleaseNo = @ReleaseNo
                  AND RM.IsAssembly = 0
                  AND RM.SerialNo IS NOT NULL
                FOR XML PATH(''), TYPE
            ).value('.','nvarchar(max)')
        ,1,2,'');

    SELECT
          Description = I.Descr

        , PartNumber = A.AliasID

        , AdditionalDescription = IAD.AddlDescr

        , CF = IAD.CF

        , MasterRollNumbers = @MasterRollNumbers

        , LotNumber =
            CASE
                WHEN EXISTS
                (
                    SELECT 1
                    FROM W005.dbo.OrderReleaseEventSpliceDetail SD
                    WHERE SD.OrderReleaseEventItemId = EI.Id
                )
                THEN 'Spliced'
                ELSE ISNULL(EI.LotNo,'')
            END

        , PONumber =
            ISNULL(R.PurchaseOrder, RH.PurchaseOrder)

        , SetID =
            E.OrderNo + '-'
            + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3)

        , WidthIN = WI.WidthIN

        , WidthMM = WM.WidthMM

        , LengthLM =
            CASE
                WHEN LM.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LM.ConvFactor
            END

        , WeightLB =
            CASE
                WHEN LB.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LB.ConvFactor
            END

        , RemainingQty =
            ISNULL(Q.QtyOnHand, EI.TotalQty)

        , QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'')

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].dbo.tblInItem I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    LEFT JOIN [005].[dbo].[tblMpOrderReleases] R
        ON R.OrderNo = E.OrderNo
       AND R.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH
        ON RH.OrderNo = E.OrderNo
       AND RH.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].dbo.tblInItemAlias A
        ON A.ItemId = EI.ItemId
       AND A.RefID = ISNULL(R.CustId, RH.CustId)

    LEFT JOIN [005].dbo.tblInItemAddlDescr IAD
        ON IAD.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.tblInItemUom LM
        ON LM.ItemId = EI.ItemId
       AND LM.Uom = 'LM'

    LEFT JOIN [005].dbo.tblInItemUom LB
        ON LB.ItemId = EI.ItemId
       AND LB.Uom = 'LB'

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.CutPos;

END
GO
