USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebFTWCurwoodCarton]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WebFTWCurwoodCarton]
	@CtnId INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		CartonNumber = V.ShipCartonNo,
		CustomerName = V.CustomerName,
		Description = V.Descr,
		LotNumber = L.Lots,
		CurWoodLots = CW.CurWoodLots,
		ManufactureDate = V.MfgDate,
		Operator = O.Operators,
		PalletID = V.ShipPalletNo,
		PartNumber = V.AliasID,
		PurchaseOrder = V.PurchaseOrder,
		ReleaseNumber = V.ReleaseNos,
		RollCount = V.RollCount,
		RunStartDate = V.RunStartDate,
		TotalLengthLM = V.TotalLength,
		WidthMM = V.WidthMM,
		WorkOrder = V.ProdOrders,
		Operation = V.Operation,
		Machine = V.Machine,
		MRSerialNo = MR.MRSerialNo,
		MRLotNo = MR.MRLotNo,
		ItemId = V.ItemId,
		QRCode = '1|' + V.ItemId + '|' + V.ShipCartonNo

	FROM dbo.vCartonLabelDataFTW V

	OUTER APPLY
	(
		SELECT Operators =
			STUFF(
				(
					SELECT DISTINCT '/' + ISNULL(S2.OpInit,'')
					FROM dbo.ShipItem S2
					WHERE S2.ShipCartonId = V.CtnId
					AND S2.OpInit IS NOT NULL
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)')
			,1,1,'')
	) O

	OUTER APPLY
	(
		SELECT Lots =
			STUFF(
				(
					SELECT DISTINCT '/' + ISNULL(S2.LotNo,'')
					FROM dbo.ShipItem S2
					WHERE S2.ShipCartonId = V.CtnId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)')
			,1,1,'')
	) L

	OUTER APPLY
	(
		SELECT CurWoodLots =
			RIGHT(
				STUFF(
					(
						SELECT DISTINCT '/' + S2.ProdOrderNo
						FROM dbo.ShipItem S2
						WHERE S2.ShipCartonId = V.CtnId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)')
				,1,1,'')
			,5)
	) CW

	OUTER APPLY
	(
		SELECT
			MRSerialNo =
				STUFF(
					(
						SELECT DISTINCT ', ' + EI.SerialNo
						FROM dbo.OrderReleaseEvent E
						INNER JOIN dbo.OrderReleaseEventItem EI ON EI.OrderReleaseEventId = E.Id
						WHERE EXISTS
						(
							SELECT 1
							FROM dbo.ShipItem SI
							WHERE SI.ShipCartonId = V.CtnId
							AND SI.ProdOrderNo = E.OrderNo
							AND SI.ProdOrderRelNo = E.ReleaseNo
						)
						AND EI.IsAssembly = 0
						AND EI.SerialNo IS NOT NULL
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)')
				,1,2,''),

			MRLotNo =
				STUFF(
					(
						SELECT DISTINCT ', ' + EI.LotNo
						FROM dbo.OrderReleaseEvent E
						INNER JOIN dbo.OrderReleaseEventItem EI ON EI.OrderReleaseEventId = E.Id
						WHERE EXISTS
						(
							SELECT 1
							FROM dbo.ShipItem SI
							WHERE SI.ShipCartonId = V.CtnId
							AND SI.ProdOrderNo = E.OrderNo
							AND SI.ProdOrderRelNo = E.ReleaseNo
						)
						AND EI.IsAssembly = 0
						AND EI.LotNo IS NOT NULL
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)')
				,1,2,'')
	) MR

	WHERE V.CtnId = @CtnId;

END
GO
