USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetEndMFGFGLastSplicePos]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetEndMFGFGLastSplicePos] @OrderNo as Varchar(8), @ReleaseNo as int
AS
BEGIN
	--DECLARE @OrderNo AS Varchar(8)
	--DECLARE @ReleaseNo as Int
	--Set @OrderNo = '00038306'
	--Set @ReleaseNo = 1

	SELECT I.Id as OrderReleaseEventItemId ,PrevSplicePos = (Select MAX(SplicePosition) AS PrevSplicePosition FROM OrderReleaseEventSpliceDetail WHERE OrderReleaseEventItemId = I.Id)
	FROM OrderReleaseEventItem I
	where OrderReleaseEventId IN (SELECT Id FROM OrderReleaseEvent WHERE Orderno = @OrderNo and ReleaseNo = @ReleaseNo) AND I.IsAssembly = 1
END
GO
