USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetBOMEstimatedTimeValues]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBOMEstimatedTimeValues] @OrderNo as Varchar(8), @ReleaseNo as int
AS
BEGIN
	SELECT SUM(T.LaborSetupEst) AS LaborSetupEst, SUM(T.LaborEst) AS LaborEst, SUM(T.MachineSetupEst) AS MachineSetupEst, SUM(T.MachineRunEst) AS MachineRunEst, SUM(T.QueueTimeEst) AS QueueTimeEst, SUM(T.WaitTimeEst) AS WaitTimeEst, SUM(T.MoveTimeEst) AS MoveTimeEst
	FROM [005].[dbo].[tblMpOrderReleases] O
	INNER JOIN [005].[dbo].[tblMpRequirements] R ON R.ReleaseId = O.Id
	INNER JOIN [005].[dbo].[tblMpTimeSum] T ON T.TransId = R.TransId
	WHERE O.OrderNo = @OrderNo AND O.ReleaseNo = @ReleaseNo
END
GO
