USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIssuedMaterialCleanup]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spIssuedMaterialCleanup]
AS
BEGIN
	Delete from [w005].dbo.MpOrderMatIssued Where ReleaseNo is NULL AND SUBSTRING(OrderNo,1,1) != 'P' AND OrderNo not in 
	  (Select DISTINCT O.OrderNo FROM [005].[dbo].[trav_tblMpOrder_View] O INNER JOIN [005].[dbo].[tblMpOrderReleases] As R1 ON R1.OrderNo = O.OrderNo)
	  AND SUBSTRING(OrderNo,1,1) != 'P'

	Delete from [w005].dbo.MpOrderMatIssued Where ReleaseNo is NOT NULL AND SUBSTRING(OrderNo,1,1) != 'P' AND OrderNo+'-'+Cast(ReleaseNo as varchar(6)) not in 
	  (Select DISTINCT O.OrderNo+'-'+Cast(R1.ReleaseNo as varchar(6)) FROM [005].[dbo].[trav_tblMpOrder_View] O INNER JOIN [005].[dbo].[tblMpOrderReleases] As R1 ON R1.OrderNo = O.OrderNo)

	Delete from [w005].dbo.MpOrderMatIssued Where SUBSTRING(OrderNo,1,1) = 'P' AND OrderNo not in 
	  (Select DISTINCT ParentOrderNo FROM [W005].[dbo].[CCIOrderReleaseInfo] WHERE MfgCompleted = 0)
END
GO
