USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingLoadedMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spConvertingLoadedMaterial] @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @ProgramId AS int
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00034171'
--DECLARE @ReleaseNo AS int = 2
--DECLARE @ProgramId AS int = 0


	SELECT DISTINCT  I.ItemId
					,I.SerialNo
					,I.LotNo
					,I.TravLotNum
					,I.UOM
					,I.TotalQty
					,I.TotalWaste
					,I.TotalQtyConsumed
					,I.TotalQtyRemaining
					,I.LocId AS Status					
					,OutTimeHrsRemaining = (S.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,O.LastScanDateTime,GETDATE())AS FLOAT)+(CAST(O.TotalRoomMinutes AS FLOAT)))/60))
					,ExpDate = (SELECT DISTINCT ExpDate FROM [005].[dbo].[tblInItemLocLot] L WHERE L.ItemId=I.ItemId AND L.LocId=I.LocId AND (L.LotNum=I.SerialNo OR L.LotNum=I.LotNo))
					,Cast(0 as bit) as ReturnToInvLabelPrinted
					,I.Id AS OREIId
					--,E.OrderNo
	FROM OrderReleaseEvent E 
		 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly = 0  --AND I.TravMatDtlSaved = 0
		 LEFT JOIN OutTimeItemStatus O ON O.ItemId=I.ItemId AND O.SerialNo=I.SerialNo AND O.LotNo=I.LotNo
		 LEFT JOIN OutTimeItemSpecs S ON S.ItemId=O.ItemId AND (S.ProgramId=@ProgramId OR S.ProgramId=0)
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo

END
GO
