USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIFinalInspection]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIFinalInspection] @ParentOrderNo VARCHAR(8)
AS
BEGIN

--DECLARE @ParentOrderNo AS VARCHAR(8) = 'P0025790'



SELECT DISTINCT
	   C.[OrderReleaseEventItemId]
      ,C.[ParentOrderNo]
      ,C.[ItemId]
      ,C.[LocId]
      ,C.[TravSerNum]
      ,C.[RevisionNo]
      ,C.[MfgDate]
      ,C.[FGExpDate]
      ,C.[TotalQty]
      ,C.[UOM]
      ,C.[FGInspectedBy]
      ,F.[EventDateTime]
  FROM [W005].[dbo].[vCCIOrderReleaseEventKits] C
	   LEFT JOIN [W005].[dbo].[CCIFinalInspection] F ON F.OrderReleaseEventItemId=C.OrderReleaseEventItemId
  WHERE C.ParentOrderNo = @ParentOrderNo


END
GO
