USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIOutTimeTrackerLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[CCIOutTimeTrackerLabel] @ItemId AS VARCHAR(25), @SerialNo AS VARCHAR(16)
AS 
BEGIN


--DECLARE @ItemId AS VARCHAR(25) = 'RM-CADC5133-PRP'
--DECLARE @SerialNo AS VARCHAR(16) = 'AH041217-01/08'

SELECT DISTINCT
		OTIS.ItemId,
		OTIS.SerialNo,
		OTIS.LotNo,
		OTIS.ProgramId,
		IIF(P.ProgramName = 'DEFAULT OUT-TIME SPEC', 'DEFAULT', P.ProgramName) AS ProgramName,
		OTIS.LastScanDateTime,
		OTIS.BinType,
		OTIS.ThawCompletedDT,
		TotalRoomHours = (ROUND((CAST(OTIS.[TotalRoomMinutes] AS float)/60), 2)),
		RemainingOTHours = OTS.MaxRoomTimeHrs - ((CAST(DATEDIFF(MINUTE,[LastScanDateTime],GETDATE())AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)))/60)

FROM OutTimeItemStatus AS OTIS
	 INNER JOIN Program AS P ON P.Id=OTIS.ProgramId
	 INNER JOIN OutTimeItemSpecs OTS ON OTS.ItemId=OTIS.ItemId AND OTS.ProgramId=OTIS.ProgramId
WHERE OTIS.ItemId = @ItemId AND (OTIS.SerialNo=@SerialNo OR OTIS.LotNo = @SerialNo)



END
GO
