USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialPalletsByItemAndLocation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPartialPalletsByItemAndLocation]
	@AssemblyId as varchar(24), @Location as varchar(10)
AS
BEGIN

--DECLARE @AssemblyId as VARCHAR(24) = 'FG-GEBC1014-PKT'
--DECLARE @Location AS VARCHAR(10) = 'ATL'

	SELECT DISTINCT
		P.Id,
		P.ShipPalletNo,
		P.DateCreated As MfgDate,
		P.GrossWt,
		P.TareWt,
		Qty = (SELECT SUM(I.Quantity) FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		NoRolls = (SELECT SUM(I.NoRolls) FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		TravSerNum = LTRIM(STUFF((
							SELECT DISTINCT ', ' + SI.TravSerNum
							FROM ShipItem AS SI 
							WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId
								  AND SI.Deleted=0 AND SI.Issued=0 AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
							FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),1,1,'')),
		TravLotNum = LTRIM(STUFF((
							SELECT DISTINCT ', ' + SI.TravLotNum
							FROM ShipItem AS SI 
							WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId
								  AND SI.Deleted=0 AND SI.Issued=0 AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
							FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),1,1,'')),
		Lot = LTRIM(STUFF((
							SELECT DISTINCT ', ' + SI.LotNo
							FROM ShipItem AS SI 
							WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId 
								  AND SI.Deleted=0 AND SI.Issued=0 AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
							FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),1,1,'')),
		AdditionalLotNo = LTRIM(STUFF((
							SELECT DISTINCT ', ' + SI.AdditionalLotNo
							FROM ShipItem AS SI 
							WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId 
								  AND SI.Deleted=0 AND SI.Issued=0  AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
							FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),1,1,'')),
		Comments = STUFF((
					SELECT DISTINCT '/' +  SI.Comments 
					FROM ShipItem as SI
					WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId
						  AND SI.Deleted=0 AND SI.Issued=0 AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
					FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),1,1,''),
		OpInit = STUFF((
					SELECT DISTINCT '/' +  SI.OpInit 
					FROM ShipItem as SI
					WHERE SI.ShipPalletId=P.Id AND SI.ItemId=@AssemblyId
						  AND SI.Deleted=0 AND SI.Issued=0 AND SI.PhantomAdjOut=0 AND SI.UsedByProduction=0
					FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),1,1,'')

	FROM [W005].[dbo].[ShipPallet] As P 
		 INNER JOIN [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId
	WHERE P.Complete=0 AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 AND P.PhantomAdjOut=0 AND I.UsedByProduction=0 AND P.UsedByProduction=0
		  AND I.ItemId=@AssemblyId AND I.Location LIKE '%'+@Location
	GROUP BY P.Id, P.ShipPalletNo, P.DateCreated, P.GrossWt, P.TOPSforExtruding, P.TareWt, P.Complete

END
GO
