USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetDistinctDimSheetsByMfgGrpId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetDistinctDimSheetsByMfgGrpId] @MfgGrpId AS INT
AS
BEGIN

--DECLARE @MfgGrpId AS INT = 184

	SELECT DISTINCT
			 MG.DimSheetReleasePath
			,CF.DIMSheet
			,CF.Id AS CutFileId

	FROM [W005].[dbo].[CCIManufacturingGroup] MG 
		 INNER JOIN [W005].[dbo].[CCIManufacturingGroupCutFileXRef] MGRef ON MGRef.CCIManufacturingGroupId=MG.Id
		 INNER JOIN [W005].[dbo].[CCICutFile] CF ON CF.Id=MGRef.CCICutFileId
		 INNER JOIN [W005].[dbo].[CCICutFileRawMaterial] CFRM ON CFRM.CCICutFileId=CF.Id
	WHERE MG.Id = @MfgGrpId 

END
GO
