USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spHoursByMachine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spHoursByMachine] @FiscalYear as int
AS
	BEGIN
	SELECT Plant, MachineGroupID, Machine, FiscalYear, GLPeriod, Month, Day, MachineSetup, MachineRun
	FROM
	(
		select '003' as Plant, S.MachineGroupID, D.Notes as Machine, D.FiscalYear, D.GLPeriod, Month(D.TransDate) as Month, Day(D.TransDate) as Day,  Sum(MachineSetup) As MachineSetup, Sum(MachineRun) As MachineRun
		from [003].dbo.tblMpHistoryTimeDtl D 
			 INNER JOIN [003].dbo.tblMpHistoryTimeSum S ON S.TransId = D.TransId
		Where D.FiscalYear = @FiscalYear and LEN(EmployeeId) = 0
		Group by S.MachineGroupID, D.Notes, D.FiscalYear, D.GLPeriod, Month(D.TransDate), Day(D.TransDate)
		union all
		select '008' as Plant, S.MachineGroupID, D.Notes as Machine, D.FiscalYear, D.GLPeriod, Month(D.TransDate) as Month, Day(D.TransDate) as Day,  Sum(MachineSetup) As MachineSetup, Sum(MachineRun) As MachineRun
		from [008].dbo.tblMpHistoryTimeDtl D 
			 INNER JOIN [008].dbo.tblMpHistoryTimeSum S ON S.TransId = D.TransId
		Where D.FiscalYear = @FiscalYear and LEN(EmployeeId) = 0
		Group by S.MachineGroupID, D.Notes, D.FiscalYear, D.GLPeriod, Month(D.TransDate), Day(D.TransDate)
		union all
		select '011' as Plant, S.MachineGroupID, D.Notes as Machine, D.FiscalYear, D.GLPeriod, Month(D.TransDate) as Month, Day(D.TransDate) as Day,  Sum(MachineSetup) As MachineSetup, Sum(MachineRun) As MachineRun
		from [011].dbo.tblMpHistoryTimeDtl D 
			 INNER JOIN [011].dbo.tblMpHistoryTimeSum S ON S.TransId = D.TransId
		Where D.FiscalYear = @FiscalYear and LEN(EmployeeId) = 0
		Group by S.MachineGroupID, D.Notes, D.FiscalYear, D.GLPeriod, Month(D.TransDate), Day(D.TransDate)
	) A
	ORDER BY 1,2,3,4,5,6,7
END
GO
