USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountCartonDetailData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*	Returns ALL TravLotNums, so that it can be used against Traverse [005].[dbo].[tblInPhysCount], Physical Counts */

CREATE PROCEDURE [dbo].[spGetInventoryCountCartonDetailData]
	@ShipCartonNo as varchar(10)
AS
BEGIN

--declare @ShipCartonNo as varchar(10) ='C000159642'

	
	SELECT DISTINCT 
			si.TravSerNum
			,si.TravLotNum
			,sc.Id AS ShipUnitId
			,si.ItemId
			,ii.Descr
			,si.Location
			,si.Quantity AS Qty
			,UOM = si.UOM
			,si.NoRolls AS NoRolls
			,sc.DateCreated
			,sc.Complete
			,si.PostedToTraverse
			,LotNo =  si.LotNo --CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
					--										((
					--												SELECT DISTINCT '/' + LEFT(I.LotNo,8)
					--												FROM [W005].[dbo].[ShipItem] as I
					--												WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
					--												FOR XML PATH(''), TYPE
					--											).value('.[1]','nvarchar(max)'),
					--											1,1,''	)
					--ELSE  STUFF
					--			((
					--					SELECT DISTINCT '/' + I.LotNo 
					--					FROM [W005].[dbo].[ShipItem] as I
					--					WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
					--					FOR XML PATH(''), TYPE
					--				).value('.[1]','nvarchar(max)'),
					--				1,1,'')
					--END
			,SerNum =  si.SerNo --STUFF
							--(
							--	(
							--		SELECT DISTINCT '/' + I.TravSerNum 
							--		FROM [W005].[dbo].[ShipItem] as I
							--		WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
							--		FOR XML PATH(''), TYPE
							--	).value('.[1]','nvarchar(max)'),
							--	1,1,''
							--)
	INTO #T1
	FROM  [W005].[dbo].[ShipCarton] As sc INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipCartonId=sc.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 		
	WHERE sc.ShipCartonNo=@ShipCartonNo
	--GROUP BY si.TravSerNum,si.TravLotNum, sc.Id,sc.ShipCartonNo, si.ItemId,ii.Descr,si.Location,si.Quantity,si.NoRolls,sc.DateCreated,si.UOM,
	--		sc.Complete,sc.Deleted,sc.Shipped,sc.PhantomAdjOut,sc.UsedByProduction, si.PostedToTraverse
	
	SELECT #T1.*, B.TotalQty,B.TotalNoRolls
	FROM #T1 INNER JOIN 
	(SELECT DISTINCT  sc.Id
				,TotalQty = SUM(si.Quantity)
				,TotalNoRolls = SUM(si.NoRolls)
	FROM  [W005].[dbo].[ShipCarton] As sc INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipCartonId=sc.Id
	WHERE sc.ShipCartonNo=@ShipCartonNo
	GROUP BY sc.Id) B  ON #T1.ShipUnitId = B.Id

	Drop Table #T1
	


END
GO
