USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetNoInventoryNunezCost]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNoInventoryNunezCost]
	-- Add the parameters for the stored procedure here
	@ItemId as varchar(24),    @LocId as varchar(10),  @TravLotNum as varchar(16)
AS
BEGIN
	if Len(@TravLotNum) = 0  Set @TravLotNum=null
	SELECT TOP 1 M.TransId,M.SeqNo,
			 IsNull(M.[cf_WILaborSetupUnitCost],0) AS cf_WILaborSetupUnitCost
			,IsNull(M.[cf_WILaborUnitCost],0) AS cf_WILaborUnitCost
			,IsNull(M.[cf_WIMachineSetupUnitCost],0) AS cf_WIMachineSetupUnitCost
			,IsNull(M.[cf_WIMachineUnitCost],0) AS cf_WIMachineUnitCost
			,IsNull(M.[cf_WIMaterialDirectUnitCost],0) AS cf_WIMaterialDirectUnitCost
			,IsNull(M.[cf_WIMaterialIndirectUnitCost],0) AS cf_WIMaterialIndirectUnitCost
			,IsNull(M.[cf_WISubcontractUnitCost],0) AS cf_WISubcontractUnitCost
	FROM [005].[dbo].[tblMpHistoryMatlSum] As S INNER JOIN [005].[dbo].[trav_tblMpHistoryMatlDtl_View] AS M ON S.TransId=M.TransId LEFT JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] AS L ON M.TransId=L.TransId
	WHERE S.ComponentId=@ItemId AND S.ComponentType=0 AND S.LocId=@LocId AND (@TravLotNum Is Null OR L.LotNum=@TravLotNum) 
	Order By M.TransId DESC,M.SeqNo DESC
END
GO
