USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMoveConvertingInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMoveConvertingInventory] @OrdNo varchar(8),  @RelNo int
AS
BEGIN

--DECLARE @OrdNo varchar(8) = '00000059'
--DECLARE @RelNo int = 4


	SELECT orei.ItemId, orei.LocId,CAST(orei.TotalQty as decimal(20,10)) as TotalQty
		,IsOTTracked = CAST(IsNull((SELECT [cf_Out-Time Tracked] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId),0) as bit)
		,CASE 
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType=2) THEN 'Serialized'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=1) THEN 'MultiUOM'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=0 AND LottedYN=1) THEN 'Lotted'
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType<>2 AND [cf_Multi-UOM Serial Item]=0 AND LottedYN=0) THEN 'NotLotted'
			ELSE 'ItemTypeError'
		 END AS InItemType
		 ,CASE 
			WHEN EXISTS(SELECT ItemType FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId AND ItemType=2) THEN orei.TravSerNum --Serialized
			ELSE ''   --Not serialized
		 END AS TravSerialNo
		 ,orei.TravLotNum
		 ,orei.SerialNo
		 ,orei.LotNo
		 ,orei.OrderReleaseEventId
		 ,orei.UOM
		 ,IsOTTracked = IsNull((SELECT [cf_Out-Time Tracked] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=orei.ItemId),0)
	FROM [W005].[dbo].[OrderReleaseEventItem] orei
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON orei.OrderReleaseEventId=ore.Id
		 -- LEFT JOIN [005].[dbo].tblInItemLocLot l ON l.ItemId = orei.ItemId and l.LotNum = orei.TravLotNum
	WHERE ore.OrderNo=@OrdNo AND ore.ReleaseNo=@RelNo 
		AND IsAssembly=1 AND (orei.LocId NOT IN ('WASTE', 'REWORK'))
		--AND l.ItemId IS NULL --Not already in Traverse Inventory
END
GO
