USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[NextShipBoxNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NextShipBoxNo]
	
AS
BEGIN
		SELECT NextShipBoxNo = 'B' +
		REPLACE(STR((SELECT nn.NumberValue FROM [dbo].[NextNumber] As nn WHERE nn.NumberName='ShipBoxNo'), 9), SPACE(1), '0') 

		UPDATE [dbo].[NextNumber] SET NumberValue+=1 WHERE NumberName='ShipBoxNo'

END





GO
