USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBinListForMoveScreen]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBinListForMoveScreen] 
			@Site as Varchar(3), @PhysicalLocation as varchar(25), @BinType as varchar(15)
AS
BEGIN

--DECLARE @Site as Varchar(3) = 'MTP'
--DECLARE @PhysicalLocation as varchar(25) = 'Freezer 3'
--DECLARE @BinType as varchar(15) = 'ROOM'

IF @BinType = 'ROOM'
BEGIN
	SELECT DISTINCT EXtLocId, [cf_Bin Type] AS BinType
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	where LocId LIKE ('%' + @Site)
		AND [cf_Bin Type] = @BinType
	UNION ALL
	SELECT DISTINCT EXtLocId, [cf_Bin Type] AS BinType
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	where LocId LIKE ('%' + @Site)
		AND [cf_Bin Type] != @BinType
		AND [cf_Bin Type] != 'FREEZER'
		AND [cf_Bin Type] != 'REEFER'
END

ELSE
BEGIN
	SELECT DISTINCT EXtLocId, [cf_Bin Type] AS BinType
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	where LocId LIKE ('%' + @Site)
		AND [cf_Physical Location] = @PhysicalLocation

	Union ALL
	SELECT DISTINCT EXtLocId, [cf_Bin Type] AS BinType
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	where LocId LIKE ('%' + @Site)
		AND ([cf_Physical Location] != @PhysicalLocation AND [cf_Bin Type] != @BinType)
END


END

GO
