USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackingListDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Returns all data points for CCI PL EXCEPT SerialNo range, which is a subreport of the PL
CREATE PROCEDURE [dbo].[spCCIPackingListDetail]
	@PLNo int
AS
BEGIN

--DECLARE @PLNo int = 34258

	SELECT DISTINCT
		d.PkgId, d.ItemId, ii.Descr, ia.AliasID As CustPN, l.CustRevNo, l.CustPOLine, l.CustPONum, d.SerialNo
		,UnitId = IIF(d.ShipPalletId is Not null,d.ShipPalletId,
							IIF(d.ShipCartonId is Not null,d.ShipCartonId,
								IIF(d.ShipBoxId is Not null, d.ShipBoxId 
								,IIF(d.ShipItemId is Not null, d.ShipItemId
								,null))))		
		,PkgType = IIF(d.ShipPalletId is Not null,'P',
							IIF(d.ShipCartonId is Not null,'C',
								IIF(d.ShipBoxId is Not null, 'B'
								,'I')))		
		,TotalKitsInPkg = IIF(d.ShipPalletId is null,
							IIF(d.ShipCartonId is null,
								IIF(d.ShipBoxId is null, 1
								,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=d.ShipBoxId))
							,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=d.ShipCartonId))
						,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=d.ShipPalletId))
	FROM [W005].[dbo].[ShipPackingListDetail] d
		LEFT JOIN [W005].[dbo].[ShipPackingListSOLine] l ON d.PLNo=l.PLNo AND D.ItemId = l.ItemId and l.SOLine=d.SPLSOLineId
		LEFT JOIN [005].[dbo].[tblInItem] ii ON d.ItemId=ii.ItemId
		LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1 AND ia.RefID = (SELECT CustId FROM [W005].[dbo].[ShipPackingList] WHERE PLNo=@PLNo)
	WHERE d.PLNo = @PLNo
	ORDER BY CustPONum, CustPOLine

END


GO
