USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTotalOutTimeRecordByPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTotalOutTimeRecordByPL] @PLNo AS INT
AS
BEGIN

--DECLARE @PLNo AS INT = 22


-- Get SPLD, ShipItem, and OT Data
SELECT SPL.PLNo, SPL.ShipToName, SPL.CustId, SPL.CustName, SPL.CustPO, SPL.ShipToCustomerPO, ItemId, ItemDescr, ProdOrderNo, ProdOrderRelNo, MAX(TotalReeferHours) AS MaxReeferOTISHours, MAX(TotalRoomHours) AS MaxRoomOTISHours
INTO #SPLD
FROM (
	SELECT SPLD.PLNo, SPLD.ItemId, SPLD.ItemDescr, SI.ProdOrderNo, SI.ProdOrderRelNo, CAST(OTIS.TotalReeferMinutes AS FLOAT)/60 AS TotalReeferHours, CAST(OTIS.TotalRoomMinutes AS FLOAT)/60 AS TotalRoomHours
	FROM ShipPackingListDetail SPLD
			INNER JOIN ShipItem SI ON SI.Id=SPLD.ShipItemId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=SI.ItemId AND OTIS.SerialNo=SI.SerNo
			INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
	WHERE SPLD.PLNo=@PLNo
	UNION 
	SELECT SPLD.PLNo, SPLD.ItemId, SPLD.ItemDescr, SI.ProdOrderNo, SI.ProdOrderRelNo, CAST(OTIS.TotalReeferMinutes AS FLOAT)/60 AS TotalReeferHours, CAST(OTIS.TotalRoomMinutes AS FLOAT)/60 AS TotalRoomHours
	FROM ShipPackingListDetail SPLD
			INNER JOIN ShipItem SI ON SI.ShipBoxId=SPLD.ShipBoxId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=SI.ItemId AND OTIS.SerialNo=SI.SerNo
			INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
	WHERE SPLD.PLNo=@PLNo
	UNION
	SELECT SPLD.PLNo, SPLD.ItemId, SPLD.ItemDescr, SI.ProdOrderNo, SI.ProdOrderRelNo, CAST(OTIS.TotalReeferMinutes AS FLOAT)/60 AS TotalReeferHours, CAST(OTIS.TotalRoomMinutes AS FLOAT)/60 AS TotalRoomHours
	FROM ShipPackingListDetail SPLD
			INNER JOIN ShipItem SI ON SI.ShipCartonId=SPLD.ShipCartonId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=SI.ItemId AND OTIS.SerialNo=SI.SerNo
			INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
	WHERE SPLD.PLNo=@PLNo
	UNION
	SELECT SPLD.PLNo, SPLD.ItemId, SPLD.ItemDescr, SI.ProdOrderNo, SI.ProdOrderRelNo, CAST(OTIS.TotalReeferMinutes AS FLOAT)/60 AS TotalReeferHours, CAST(OTIS.TotalRoomMinutes AS FLOAT)/60 AS TotalRoomHours
	FROM ShipPackingListDetail SPLD
			INNER JOIN ShipItem SI ON SI.ShipPalletId=SPLD.ShipPalletId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=SI.ItemId AND OTIS.SerialNo=SI.SerNo
			INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
	WHERE SPLD.PLNo=@PLNo
) SPLD
  INNER JOIN ShipPackingList SPL ON SPL.PLNo=SPLD.PLNo
GROUP BY SPL.PLNo, SPL.ShipToName, SPL.CustId, SPL.CustName, SPL.CustPO, SPL.ShipToCustomerPO, ItemId, ItemDescr, ProdOrderNo, ProdOrderRelNo


-- Results
SELECT ProdOrder,
	   FGItemId,
	   FGDescription,
	   Rev,
	   Customer,
	   ShipToName,
	   PONum1,
	   PONum2,
	   [Date],
	   BatchNumbers,
	   TotalProcessOTReeferTemp = ROUND((MaxReeferOTISHours-MaxReeferTempTransitOT), 2),--Reefer Temp (Total Process Out Time) =  MAX Reefer Minutes (converted to hours) in FG OTIS out of all FGs within a set MINUS Reefer Temp Transit OT (#13 below)
	   TotalProcessOTRoomTemp = ROUND((MaxRoomOTISHours-MaxRoomTempTransitOT), 2),	--Room Temp (Total Process Out Time) = MAX Room Minutes (converted to hours) in FG OTIS out of all FGs within a set MINUS Room Temp Transit OT (#14 below)
	   TransitOTReeferTemp = ROUND(MaxReeferTempTransitOT, 2), --Reefer Temp (Transit Out Time) = MAX Reefer Minutes (converted to hours) in OT Receiving record out of all unique lotnos (OutTimeReceiving or OutTimeReceivingDetail)
	   TransitOTRoomTemp = ROUND(MaxRoomTempTransitOT, 2), --Room Temp (Transit Out Time) =  MAX Room Minutes (converted to hours) in OT Receiving record out of all unique lotnos (OutTimeReceiving or OutTimeReceivingDetail)
	   TotalOTReeferTemp = ROUND(MaxReeferOTISHours, 2), --Reefer Temp (Total Out Time) = MAX SUM of Reefer Minutes (converted to hours) out of all FG OTIS records (this should equal #11 + #13)
	   TotalOTRoomTemp = ROUND(MaxRoomOTISHours, 2), --Room Temp (Total Out Time) =  MAX SUM of Room Minutes (converted to hours) out of all FG OTIS records (this should equal #12 + #14)
	   SetID
FROM (
	SELECT DISTINCT
		ProdOrderNo AS ProdOrder,
		SPLD.ItemId AS FGItemId,
		SPLD.ItemDescr AS FGDescription,
		Rev = (SELECT DISTINCT [cf_Product Lot Designation] FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=SPLD.ItemId AND A.RefID=SPLD.CustId),
		SPLD.CustName AS Customer,
		SPLD.ShipToName,
		PONum1 = SPLD.CustPO,
		PONum2 = SPLD.ShipToCustomerPO,
		[Date] = (SELECT CAST(MAX(LastScanDateTime) AS DATE)
					FROM OrderReleaseEvent E
						 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
						 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
						 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
					WHERE E.OrderNo=SPLD.ProdOrderNo AND E.ReleaseNo=SPLD.ProdOrderRelNo),
		BatchNumbers = STUFF((SELECT DISTINCT ', ' + EI.SerialNo 
								FROM OrderReleaseEvent E
									 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
									 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10','30') --Direct Materials
								WHERE E.OrderNo=SPLD.ProdOrderNo AND E.ReleaseNo=SPLD.ProdOrderRelNo
						FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
		 SPLD.MaxReeferOTISHours,
		 SPLD.MaxRoomOTISHours,
		 MaxReeferTempTransitOT = (SELECT TOP 1 ISNULL((SELECT MAX(ReeferOT) FROM (VALUES (RD.Rec1AddReeferTime), (RD.Rec2AddReeferTime)) AS AllReeferOTs(ReeferOT)),
														(SELECT MAX(ReeferOT) FROM (VALUES (R.Rec1AddReeferTime), (R.Rec2AddReeferTime)) AS AllReeferOTs(ReeferOT)))
									FROM OrderReleaseEvent E 
										 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
										 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
										 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
										 INNER JOIN OutTimeReceiving R ON R.Id=OTIS.OutTimeRecvdId
										 LEFT JOIN OutTimeReceivingDetail RD ON RD.OTReceivingId=R.Id
									WHERE E.OrderNo=SPLD.ProdOrderNo AND E.ReleaseNo=SPLD.ProdOrderRelNo
									ORDER BY 1 DESC),
		 MaxRoomTempTransitOT = (SELECT TOP 1 ISNULL((SELECT MAX(RoomOT) FROM (VALUES (RD.Rec1OutTime), (RD.Rec2OutTime)) AS AllRoomOTs(RoomOT)),
														(SELECT MAX(RoomOT) FROM (VALUES (R.Rec1OutTime), (R.Rec2OutTime)) AS AllRoomOTs(RoomOT)))
									FROM OrderReleaseEvent E
										 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
										 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
										 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
										 INNER JOIN OutTimeReceiving R ON R.Id=OTIS.OutTimeRecvdId
										 LEFT JOIN OutTimeReceivingDetail RD ON RD.OTReceivingId=R.Id
									WHERE E.OrderNo=SPLD.ProdOrderNo AND E.ReleaseNo=SPLD.ProdOrderRelNo
									ORDER BY 1 DESC),
		 SetID =  ProdOrderNo + '-' + RIGHT('000'+CAST(SPLD.ProdOrderRelNo AS VARCHAR(3)), 3)

	FROM #SPLD SPLD
	 LEFT JOIN [005].[dbo].tblMpOrderReleases MP ON MP.OrderNo=SPLD.ProdOrderNo AND MP.ReleaseNo=SPLD.ProdOrderRelNo
	 LEFT JOIN [005].[dbo].tblMpHistoryOrderReleases MPH ON MPH.OrderNo=SPLD.ProdOrderNo AND MPH.ReleaseNo=SPLD.ProdOrderRelNo
) A

DROP TABLE #SPLD

END
GO
