USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialPalletsByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetPartialPalletsByItemAndLocId]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN
--Declare @ItemId as varchar(24) = 'DAT-SE-KC-875'
--Declare @LocId as varchar(10) = 'INVENTORY'
--Declare @OrderNo as varchar(8) = '00053645'
--Declare @ReleaseNo as int = 64


	DECLARE @DoNotMixLots as bit
	--SELECT @DoNotMixLots = Pc.bTarget 
	--	FROM [W005].[dbo].[ProductChar] Pc inner join [W005].[dbo].[ShipItem] As I ON Pc.ItemId=I.ItemId 
	--	WHERE Pc.CharId=2036 AND Pc.ItemId = @ItemId
	SET @DoNotMixLots = IsNULL((SELECT Pc.bTarget 
							FROM [W005].[dbo].[ProductChar] Pc 
							inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
							WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedLots'),0)

select * 
into #T1 
from
(	SELECT P.ShipPalletNo As PkgId,SUM(I.Quantity) As Quantity,P.Id, Count(I.Id) As NoPacked, IsPacked = 0,P.TareWt,A.bTarget,P.PalletItemId
	FROM [W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
		 left join (SELECT * FROM vProductCharacteristics WHERE ItemId = @ItemId AND Characteristic = 'DoNotPackMixedLots') A ON A.ItemId = I.ItemId
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND P.Complete=0 AND P.UsedByProduction=0 AND P.PhantomAdjOut=0
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			@OrderNo 
		  ELSE
			'%' 
		  END
		GROUP BY P.Id,P.ShipPalletNo,P.TareWt,A.bTarget,P.PalletItemId
) A


select * into #T2 from (select distinct count(sc.id) as CartonPacked,#T1.Id from [w005].dbo.ShipCarton as sc inner join #T1 on #T1.Id = sc.ShipPalletId and #T1.PalletItemId = sc.CartonItemId group by #t1.Id) A

select * into #T3 from (select distinct count(sb.Id) as BoxesPacked,#T1.Id from [W005].dbo.ShipBox as sb inner join #T1 on #T1.Id = sb.ShipPalletId and #T1.PalletItemId = sb.BoxItemId group by #t1.Id) A

select PkgId,Quantity,#T1.Id,NoPacked = iif( (select count(CartonPacked) from #T2 where Id = #T1.ID) = 0,iif((select count(BoxesPacked) from #T3 where Id = #T1.ID) = 0,#T1.NoPacked,(select BoxesPacked from #T3 where Id = #T1.ID)),(select CartonPacked from #T2 where id = #T1.ID)),#T1.IsPacked,#T1.TareWt,bTarget from #T1 


drop table #T1
drop table #T2
drop table #T3

END


GO
