USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOTTrackedItemHasOTIS]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOTTrackedItemHasOTIS] @ItemId varchar(24), @SerNum varchar(35), @LotNum varchar(16)
	
AS
BEGIN

--DECLARE @ItemId varchar(24) = 'RM-CADC5235-PRP ' 
--DECLARE @SerNum varchar(35) = '2128755-12'
--DECLARE @LotNum varchar(16) = '2128755-12'


IF EXISTS (
			SELECT * 
			FROM [W005].dbo.OutTimeItemStatus
			WHERE ItemId= @ItemId AND (TravSerNum = @SerNum OR SerialNo=@LotNum)
			)
BEGIN
	SELECT CAST(1 as bit) AS HasOTIS
END ELSE
BEGIN
	SELECT CAST(0 as bit) AS HasOTIS
END




END





GO
