USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOTShipItemsOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetOTShipItemsOnPL]
	 @PLNo as int
AS
BEGIN

	--DECLARE @PLNo as int = 1


	--  Indices of ItemArray of each datarow returned by this sp
	--			0			1		2			3			4			5			6			7
	SELECT si.ItemId, si.LotNo,si.SerNo,si.TravLotNum,si.TravSerNum,si.Location,si.Quantity,si.UOM
	FROM [W005].[dbo].[ShipItem] As si INNER JOIN [W005].[dbo].[ShipPackingListDetail] As pl  ON si.Id=pl.ShipItemId
		INNER JOIN [005].[dbo].[trav_tblInItem_view] ii ON ii.ItemId=si.ItemId AND ii.[cf_Out-Time Tracked]=1
	WHERE pl.PLNo=@PLNo AND pl.ShipBoxId is null AND pl.ShipCartonId is null AND pl.ShipPalletId is null

	UNION ALL

	SELECT si.ItemId, si.LotNo,si.SerNo,si.TravLotNum,si.TravSerNum,si.Location,si.Quantity,si.UOM
	FROM [W005].[dbo].[ShipBox] sb INNER JOIN [W005].[dbo].[ShipPackingListDetail] As pl ON pl.ShipBoxId=sb.Id
		INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipBoxId=sb.Id
		INNER JOIN [005].[dbo].[trav_tblInItem_view] ii ON ii.ItemId=si.ItemId AND ii.[cf_Out-Time Tracked]=1
	WHERE pl.PLNo=@PLNo AND pl.ShipItemId is null AND pl.ShipCartonId is null AND pl.ShipPalletId is null


	UNION ALL

	SELECT si.ItemId, si.LotNo,si.SerNo,si.TravLotNum,si.TravSerNum,si.Location,si.Quantity,si.UOM
	FROM [W005].[dbo].[ShipCarton] sc INNER JOIN [W005].[dbo].[ShipPackingListDetail] As pl ON pl.ShipCartonId=sc.Id
		INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipCartonId=sc.Id
		INNER JOIN [005].[dbo].[trav_tblInItem_view] ii ON ii.ItemId=si.ItemId AND ii.[cf_Out-Time Tracked]=1
	WHERE pl.PLNo=@PLNo AND pl.ShipItemId is null AND pl.ShipBoxId is null AND pl.ShipPalletId is null

	UNION ALL

	SELECT si.ItemId, si.LotNo,si.SerNo,si.TravLotNum,si.TravSerNum,si.Location,si.Quantity,si.UOM
	FROM [W005].[dbo].[ShipPallet] sp INNER JOIN [W005].[dbo].[ShipPackingListDetail] As pl ON pl.ShipPalletId=sp.Id
		INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipPalletId=sp.Id
		INNER JOIN [005].[dbo].[trav_tblInItem_view] ii ON ii.ItemId=si.ItemId AND ii.[cf_Out-Time Tracked]=1
	WHERE pl.PLNo=@PLNo AND pl.ShipItemId is null  AND pl.ShipBoxId is null AND pl.ShipCartonId is null





END

GO
