USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListDataSyensqo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPackingListDataSyensqo] 	@PLNo as int
	
AS
BEGIN


--Declare @PLNo as int = 21
--Declare @IMSerNos as varchar(max)

	SELECT DISTINCT SI.ProdOrderNo, SI.ProdOrderRelNo,L.ItemId,  IL.GLAcctCode, SubString(OREIRM.SerialNo,1,8) as IMOrderNo, Substring(OREIRM.SerialNo, 10,3) as IMRelNo, OREIRM.SerialNo
	INTO #IM
	FROM	[W005].[dbo].[ShipPackingListDetail] AS spld 
			INNER JOIN [W005].[dbo].[ShipPackingList] AS spl ON spl.PLNo=spld.PLNo 
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo=si.ProdOrderNo AND ORERM.ReleaseNo=si.ProdOrderRelNo 
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=OREIRM.ItemId AND L.LotNum=OREIRM.SerialNo AND L.LocId=OREIRM.LocId
			LEFT JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=OREIRM.ItemId AND IL.LocId=OREIRM.LocId AND IL.GLAcctCode IN ('80', '81', '82')
	WHERE spld.PLNo=@PLNo

	SELECT DISTINCT spld.PKgId,
			Material = ia.[cf_Alias Description],
			MaterialCode = ia.AliasID,
			Specification = id.AddlDescr,
			RecommendedStorage = P.sTarget,
			PrepregDOM = (SELECT FORMAT(MIN([cf_Vendor Mfg Date]), 'dd-MMM-yy', 'en-US') FROM [005].dbo.trav_tblInItemLocLot_View 
						  WHERE ItemId = OREIRM.ItemId AND LocID = OREIRM.LocId AND LotNum IN 
						  (SELECT DISTINCT SerialNo
							FROM
							(
								SELECT OREI.SerialNo
								FROM #IM
								INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=#IM.IMOrderNo AND ORE.ReleaseNo=#IM.IMRelNo
								INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId AND OREI.IsAssembly=0
								WHERE #IM.ProdOrderNo = si.ProdOrderNo and #IM.ProdOrderRelNo = si.ProdOrderRelNo 
								UNION
								SELECT SerialNo
								FROM [W005].[dbo].[OrderReleaseEventItem] o
									INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=o.ItemId AND L.LotNum=o.SerialNo AND L.LocId=o.LocId
									INNER JOIN [005].[dbo].[tblInItemLoc] i ON i.ItemId=o.ItemId AND i.LocId=o.LocId AND i.GLAcctCode IN ('10', '11', '12', '20', '21', '22', '30', '31', '32')
								WHERE o.OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] WHERE  OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo) 
							) RM
						  )),
			Manufacturer = V.[Name] + CHAR(13) + V.Addr1 + CHAR(13) + ISNULL(V.Addr2, ''),
			PackingList = @PLNo,
			spl.ShipDate,
			WebWorkOrder = si.ProdOrderNo,
			spl.CustPO,
			EndCustPO = STUFF
							(	(
									SELECT DISTINCT '/' + S.[cf_Customer PO#]
									FROM ShipPackingListDetail D
									INNER JOIN ShipPackingList P ON P.PLNo = D.PLNo
									INNER JOIN [005].dbo.trav_tblSoTransDetail_view S ON S.TransID = P.OrderNo AND S.EntryNum = D.SPLSOLineId
									WHERE P.PLNo = @PLNo
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							),
			ShipTo = ShipToName + CHAR(13) + RTRIM(ShipToAddr1) + CHAR(13)  
					+ IIF((ShipToAddr2 = null OR LEN(ShipToAddr2)=0),
						ShipToPostalCode + ' ' + IIF(ShipToCity = null, 
													IIF(ShipToRegion=null,IsNULL(RTRIM(ShipToCountry),''),RTRIM(ShipToRegion) + ', ' + RTRIM(ShipToCountry)),
													RTRIM(ShipToCity) + ' ' + IIF(ShipToRegion=null,IsNULL(RTRIM(ShipToCountry),''),RTRIM(ShipToRegion) + ' ' + IsNULL(RTRIM(ShipToCountry),'')) ),
						RTRIM(ShipToAddr2) + CHAR(13) + RTRIM(ShipToPostalCode) + ' ' + IIF(ShipToCity = null, 
																			IIF(ShipToRegion=null,IsNULL(RTRIM(ShipToCountry),''),RTRIM(ShipToRegion) + ', ' + IsNULL(RTRIM(ShipToCountry),'')),
																			RTRIM(ShipToCity) + ', ' + IIF(ShipToRegion=null,IsNULL(RTRIM(ShipToCountry),''),RTRIM(ShipToRegion) + ' ' + IsNULL(RTRIM(ShipToCountry),'')))),
			--CartonNo = (SELECT c.CustomShipCartonNo FROM [W005].[dbo].[ShipCarton] c INNER JOIN [W005].[dbo].[ShipItem] i ON i.ShipCartonId=c.Id  WHERE i.TravLotNum = OREIFG.TravLotNum) ,
			CartonNo = sc.CustomShipCartonNo,
			SpoolNum = RIGHT(si.TravLotNum, 7),
			CutNum = Right(si.TravLotNum, 3),
			SlitTapeBatchNum = si.LotNo,
			ParentRollNum = ISNULL(STUFF 
							(	
								(SELECT DISTINCT '/' + OREI.SerialNo
								FROM #IM
								INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=#IM.IMOrderNo AND ORE.ReleaseNo=#IM.IMRelNo
								INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId AND OREI.IsAssembly=0
								WHERE #IM.ProdOrderNo = si.ProdOrderNo and #IM.ProdOrderRelNo = si.ProdOrderRelNo 
								FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,''
							),'')
 							+ ISNULL(STUFF
							(	(
									SELECT DISTINCT '/' + SerialNo
									FROM [W005].[dbo].[OrderReleaseEventItem] o
										INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=o.ItemId AND L.LotNum=o.SerialNo AND L.LocId=o.LocId
										INNER JOIN [005].[dbo].[tblInItemLoc] i ON i.ItemId=o.ItemId AND i.LocId=o.LocId AND i.GLAcctCode IN ('10', '11', '12', '20', '21', '22', '30', '31', '32')
									WHERE o.OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] WHERE  OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo) 
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							),''),
			Width = P1.nTarget,
			LengthLM = ROUND(OREIFG.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LM'),2), --<-- IS LM correct or s/b ML???
			AreaSM = ROUND(OREIFG.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='SM'),2),
			SpoolNetWtKG = ROUND(OREIFG.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='KG'),2),
			SpoolGrossWt = ROUND((OREIFG.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='KG')),2) +
							ISNULL((SELECT nTarget FROM [W005].[dbo].[ProductChar] AS P INNER JOIN [W005].[dbo].[Characteristic] AS C ON C.Id=P.CharId AND C.Characteristic='CoreTareWt'
												WHERE P.ItemId = OREIFG.ItemId), 0)
			, PalletTareWt = SP.TareWt
			, CartonTareWt = SC.TareWt
	FROM	[W005].[dbo].[ShipPackingListDetail] AS spld 
			INNER JOIN [W005].[dbo].[ShipPackingList] AS spl ON spl.PLNo=spld.PLNo 
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
			LEFT JOIN [W005].[dbo].[ShipCarton] as SC on SC.Id = si.ShipCartonId
			LEFT JOIN [W005].[dbo].[ShipPallet] as SP on Sp.Id = si.ShipPalletId
			INNER JOIN [005].[dbo].[trav_tblInItem_view] i ON si.ItemId=i.ItemId
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] ia ON ia.ItemID = i.ItemId
			LEFT JOIN [005].[dbo].[tblInItemAddlDescr] id ON id.ItemId = i.ItemId
			LEFT JOIN [W005].[dbo].vProductCharacteristics P ON P.ItemId = I.ItemId and P.Characteristic = 'StorageLifeStatement' AND P.Enforce = 1
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS OREFG ON OREFG.OrderNo=si.ProdOrderNo AND OREFG.ReleaseNo=si.ProdOrderRelNo 
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIFG ON OREFG.Id=OREIFG.OrderReleaseEventId AND OREIFG.IsAssembly=1 AND LocId != 'WASTE' AND OREIFG.SerialNo = si.SerNo
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo=si.ProdOrderNo AND ORERM.ReleaseNo=si.ProdOrderRelNo 
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=OREIRM.ItemId AND L.LotNum=OREIRM.SerialNo AND L.LocId=OREIRM.LocId
			LEFT JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=OREIRM.ItemId AND IL.LocId=OREIRM.LocId AND IL.GLAcctCode IN ('10', '11', '12', '20', '21', '22', '30', '31', '32', '80', '81', '82')
			INNER JOIN [005].[dbo].[tblInItemLocVend] IV ON IV.ItemId = OREIRM.ItemId AND IV.LocId = OREIRM.LocId AND IV.VendId = IL.DfltVendId
			INNER JOIN [005].[dbo].[tblApVendor] V ON V.VendorID = IV.VendId
			LEFT JOIN [W005].[dbo].vProductCharacteristics P1 ON P1.ItemId = I.ItemId and P1.Characteristic = 'Width(MM)' AND P1.Enforce = 1
	WHERE spld.PLNo=@PLNo
	ORDER BY SpoolNum

	DROP TABLE #IM
END	
GO
