USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInvCountExceptionNotScannedInShipTables]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- IN SHIP TABLES, NOT SCANNED (COUNTED)

CREATE PROCEDURE [dbo].[spInvCountExceptionNotScannedInShipTables]
	@TicketDate as date
	
AS
BEGIN


--DECLARE @TicketDate as date = '4/27/2017'

	SELECT DISTINCT I.ItemId,I.Location,I.TravLotNum,P.ShipPalletNo, P.DateCreated As MfrDate,P.Id, P.TOPSforExtruding As TOPS,I.UOM,P.Complete,
					I.Quantity,	I.NoRolls, 
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo 
							FROM ShipItem as I
							WHERE I.ShipPalletId=P.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
		FROM [W005].[dbo].[ShipPallet] AS P INNER JOIN [W005].[dbo].[ShipItem] AS I ON P.Id = I.ShipPalletId 
				
		WHERE I.Deleted=0 AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0 AND I.Issued=0 
			AND  P.Deleted=0 AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0
			AND P.Id Not In (SELECT ictu.ShipPalletId 
							 FROM [W005].[dbo].[InventoryCountTicketUnit] AS ictu 
									INNER JOIN [W005].[dbo].[InventoryCountTicket] AS ict  ON ict.ICTNum=ictu.ICTNum
							 WHERE (ict.TicketDate Between DateAdd(DAY,-2,@TicketDate) AND DateAdd(DAY,2,@TicketDate))
							) 
		GROUP BY P.Id,I.ItemId,P.ShipPalletNo, P.DateCreated,I.TravLotNum,P.TOPSforExtruding,I.UOM,I.Location,P.Complete,I.Quantity,I.NoRolls
		HAVING SUM(I.Quantity)>0
		ORDER BY I.ItemId,I.Location,I.TravLotNum,P.Id




END

GO
