USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderReleaseSummaryLoadOpMethod]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOrderReleaseSummaryLoadOpMethod] 
AS
BEGIN
 SELECT O.OrderNo, MPOR.ReleaseNo, O.AssemblyId, O.RevisionNo, MPOR.Id AS ReleaseId, LocId
 INTO #T2
 FROM
		 [005].[dbo].[trav_tblMpOrderReleases_view] AS MPOR  INNER JOIN
		 [005].[dbo].[trav_tblMpOrder_View] AS O ON O.OrderNo = MPOR.OrderNo
 WHERE MPOR.[cf_Ready to Post] = 1 AND [cf_Single Screen Converting] = 1
 AND MPOR.Id NOT IN (SELECT ORS.ReleaseId FROM [w005].[dbo].[OrderReleaseSummary] AS ORS WHERE ORS.ReleaseId = MPOR.Id) 

	SELECT  A.OrderNo, 
			A.ReleaseNo, 
			A.ReleaseId,
			A.IsPostedToTraverse, 
			A.AssemblyId, 
			A.RevisionNo,
			A.Qty, 
			A.UOM, 
			LaborMinutes = A.TotalLaborMinutes,
			LaborHours = A.TotalLaborMinutes/60.0,
			A.TotalLaborMinutes,
			TotalLaborHours = A.TotalLaborMinutes/60.0,
			A.MachineGroupId, 
			A.MachineMinutes,
			A.NonMaterialDownTimeMinutes,
			TotalMachineMinutes = A.MachineMinutes - A.NonMaterialDownTimeMinutes,
			MachineHours = A.MachineMinutes/60.0,
			NonMaterialDownTimeHours = A.NonMaterialDownTimeMinutes/60.0,
			TotalMachineHours = (A.MachineMinutes - A.NonMaterialDownTimeMinutes)/60.0
	INTO #T1
	FROM
	(
		SELECT	ORE.OrderNo, 
			ORE.ReleaseNo, 
			ReleaseId = #T2.ReleaseId,
			Cast(0 as bit) as IsPostedToTraverse, 
			#T2.AssemblyId, 
			#T2.RevisionNo,
			SUM(OREI.TotalQty) as Qty, 
			OREI.UOM, 
			TotalLaborMinutes = (SELECT SUM([ClockInDurationMin]) AS TotalLabor FROM [W005].[dbo].[OrderReleaseEventLabor] AS L WHERE L.OrderNo = ORE.OrderNo and L.ReleaseNo = ORE.ReleaseNo),
			MachineMinutes = ORE.MachineDurationMin,
			MachineGroupId = null, 
			NonMaterialDownTimeMinutes = (Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0)
		FROM #T2
	     INNER JOIN (SELECT OrderNo, ReleaseNo, SUM(ISNULL(MachineDurationMin,0)) AS MachineDurationMin FROM [W005].[dbo].[OrderReleaseEvent] WHERE ((Event = 'Converting' OR OperationStep > 1) AND MachineGroupId != 'NO MACHINE') GROUP BY OrderNo, ReleaseNo) AS ORE ON ORE.OrderNo = #T2.OrderNo AND ORE.ReleaseNo = #T2.ReleaseNo
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] X WHERE X.OrderNo = #T2.OrderNo  AND X.ReleaseNo = #T2.ReleaseNo) AND OREI.IsAssembly = 1 
		WHERE #T2.OrderNo NOT IN (SELECT OrderNo FROM OrderMultiItemSetup OMIS WHERE OMIS.OrderNo = #T2.OrderNo) 
		GROUP BY ORE.OrderNo, ORE.ReleaseNo, #T2.ReleaseId, OREI.ItemId, #T2.AssemblyId, #T2.RevisionNo, OREI.UOM, ORE.MachineDurationMin
	) AS A

	INSERT INTO [W005].[dbo].[OrderReleaseSummary] (OrderNo, ReleaseNo, ReleaseId, IsPostedToTraverse, AssemblyId, RevisionNo, Qty, UOM, LaborMinutes, LaborHours, TotalLaborMinutes, TotalLaborHours, MachineGroupId, MachineMinutes, NonMaterialDownTimeMinutes,TotalMachineMinutes, MachineHours, NonMaterialDownTimeHours,TotalMachineHours)
	SELECT * FROM #T1
	ORDER BY 1,2

	INSERT INTO [W005].[dbo].[OrderReleaseSummaryLabor] (OrderNo, ReleaseNo, OperationStep, EmployeeId, Operation, OperationDescr, EmployeeName, LaborMinutes, LaborHours, TotalLaborMinutes, TotalLaborHours, SetupMinutes, SetupHours)
	SELECT A.OrderNo
		,A.ReleaseNo
		,A.OperationStep
		,A.EmployeeId
		,A.Operation
		,A.OperationDesc
		,A.EmployeeName
		,LaborMinutes = (A.LaborMinutes - A.SetupMinutes)
		,LaborHours = (A.LaborMinutes - A.SetupMinutes)/60.0
		,TotalLaborMinutes = (A.LaborMinutes)
		,TotalLaborHours = (A.LaborMinutes)/60.0
		,A.SetupMinutes
		,SetupHours = A.SetupMinutes/60.0 
	FROM
	(SELECT L.[OrderNo]
		  ,L.[ReleaseNo]
		  ,V.OperationStep
		  ,L.[EmployeeId]
		  ,L.[Operation]
		  ,V.OperationDesc
		  ,EmployeeName = E.[FirstName] + ' ' + E.[LastName]
		  ,LaborMinutes = SUM(L.[ClockInDurationMin])
		  ,SetupMinutes = IsNull((Select SUM((DateDiff(ss, IIF(L1.ClockIn < E1.EventStart, L1.ClockIn, E1.EventStart), IIF(L1.ClockOut > E1.EventEnd, L1.ClockOut, E1.EventEnd))/60.0)) AS SetupMinutes 
							FROM [W005].[dbo].[OrderReleaseEvent] E1 INNER JOIN
								 [W005].[dbo].[OrderReleaseEventLabor] L1 ON L1.OrderReleaseEventId = E1.Id 
							WHERE E1.OrderNo = T.OrderNo AND E1.ReleaseNo = T.ReleaseNo AND E1.Operation = L.Operation and E1.Event = 'Setup' AND L1.ClockIn <= E1.EventEnd AND L1.EmployeeId = L.EmployeeId
							--GROUP BY L1.EmployeeId, L1.ClockIn, L1.ClockOut, E1.EventStart, E1.EventEnd
							),0)
	FROM  [W005].[dbo].[OrderReleaseEventLabor] AS L INNER JOIN 
		  [W005].[dbo].[OrderReleaseEvent] AS V ON V.Id = L.OrderReleaseEventId INNER  JOIN
		  [005].[dbo].[tblSmEmployee] AS E ON E.EmployeeId = L.EmployeeId INNER JOIN
		  #T1 AS T ON T.OrderNo = L.OrderNo AND T.ReleaseNo = L.ReleaseNo
	GROUP BY L.[OrderNo], L.[ReleaseNo], T.OrderNo, T.ReleaseNo, V.OperationStep, L.[EmployeeId], L.[Operation], V.OperationDesc, E.[FirstName], E.[LastName]
	HAVING 	SUM(L.[ClockInDurationMin]) > 0) AS A
	ORDER BY 1,2


	INSERT INTO [W005].[dbo].[OrderReleaseSummaryMachine] (OrderNo, ReleaseNo, OperationStep, Operation, OperationDescr, MachineGroupId, MachineMinutes, MachineHours, NonMaterialDownTimeMinutes, NonMaterialDownTimeHours, SetupMinutes, SetupHours, TotalMachineMinutes, TotalMachineHours)
	SELECT A.OrderNo, 
		   A.ReleaseNo, 
		   A.OperationStep, 
		   A.Operation, 
		   A.OperationDesc,
		   A.MachineGroupId, 
		   MachineMinutes = (A.MachineMinutes - A.SetupMinutes),
		   MachineHours = (A.MachineMinutes - A.SetupMinutes)/60.0,
		   A.NonMaterialDownTimeMinutes, 
		   NonMaterialDownTimeHours = A.NonMaterialDownTimeMinutes/60.0,
		   A.SetupMinutes,
		   SetupHours = A.SetupMinutes/60.0,
		   TotalMachineMinutes = (A.MachineMinutes)-A.NonMaterialDownTimeMinutes, 
		   TotalMachineHours = ((A.MachineMinutes)-A.NonMaterialDownTimeMinutes)/60.0
	FROM
	(SELECT	ORE.OrderNo, 
			ORE.ReleaseNo, 
            ORE.OperationStep,
			ORE.Operation,
			ORE.OperationDesc,
			ORE.MachineGroupId, 
			MachineMinutes = ROUND(SUM(ISNULL(MachineDurationMin,0)), 2),
			NonMaterialDownTimeMinutes = ROUND((Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0), 2),
			SetupMinutes = (Select Round(IsNull(SUM(ORE2.EventDurationMin), 0),2) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 WHERE ORE2.OrderNo = ORE.OrderNo and ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Setup')
  	 FROM #T1
	     INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo = #T1.OrderNo AND ORE.ReleaseNo = #T1.ReleaseNo AND ((Event = 'Converting') OR (OperationStep > 1))
	 WHERE ORE.MachineGroupId <> 'NO MACHINE'
	 GROUP BY ORE.OrderNo, ORE.ReleaseNo, ORE.OperationStep, ORE.Operation, ORE.OperationDesc, ORE.MachineGroupId) AS A
	 ORDER BY 1,2

	DROP TABLE #t1
	DROP TABLE #t2
END



GO
