USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderReleaseEventItemForPacking]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderReleaseEventItemForPacking]
	-- Add the parameters for the stored procedure here
	@OrderReleaseEventId as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ItemId,SerialNo,LotNo,TotalQty
	FROM [W005].[dbo].[OrderReleaseEventItem]
	WHERE OrderReleaseEventId=@OrderReleaseEventId


	
END
GO
