USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemOnHandChecksForOtisId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spItemOnHandChecksForOtisId]
@HasOTISId as varchar(3) 
AS
BEGIN

--declare @HasOTISId as varchar(3) = 'YES'

    SELECT RTrim(ItemId) AS ItemId,UomDflt, RTrim(SerNo) as SerNo, RTrim(LotNo) as LotNo, RTrim(TravSerNo) as TravSerNo, RTrim(CombinedSerNo) as CombinedSerNo,ItemType, QtyOnHand, RTrim(LocId) as LocId, OTISId, HasOTISId
	FROM
	(
		SELECT DISTINCT    I.[ItemId]
						  ,I.UomDflt
						  ,IIF(I.[cf_Multi-UOM Serial Item] = 1, OH.LotNum, Null) AS SerNo
						  ,IIF(I.[cf_Multi-UOM Serial Item] = 1, IsNUll(L.[cf_Lot No.],OH.LotNum), OH.LotNum) AS LotNo
						  ,Cast(null as varchar(35)) as TravSerNo
						  ,IIF(I.[cf_Multi-UOM Serial Item] = 1, OH.LotNum, Null) AS CombinedSerNo
						  ,IIF(I.[cf_Multi-UOM Serial Item] = 1,'Multi-UOM','Lotted') As ItemType
						  ,QtyOnHand = OH.QtyOnHand / (SELECT ConvFactor FROM [005].dbo.tblInItemUom WHERE Itemid=I.[ItemId] AND Uom=I.UomDflt)
						  ,OH.LocId
						  ,O.Id AS OTISId
						  ,IIF(O.Id > 0, 'YES','NO') AS HasOTISId
		FROM [005].[dbo].[trav_InItemOnHandLot_view] AS OH 
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON OH.ItemId=I.ItemId AND I.[cf_Out-Time Tracked]=1
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] AS L ON OH.ItemId=L.ItemId AND (OH.LotNum=L.LotNum)
			LEFT JOIN [W005].[dbo].[OutTimeItemStatus] AS O ON OH.ItemId=O.ItemId AND (O.SerialNo = OH.LotNum OR O.LotNo = OH.LotNum)
		WHERE OH.QtyOnHand > 0 
		UNION ALL
		SELECT DISTINCT    S.ItemId
						  ,I.UomDflt
						  ,NULL AS SerNo
						  ,NULL AS LotNo
						  ,S.SerNum as TravSerNo
						  ,S.SerNum AS CombinedSerNo
						  ,'Serialized' As ItemType
						  ,1 as QtyOnHand
						  ,S.LocId
						  ,O.Id AS OTISId
						  ,IIF(O.Id > 0, 'YES','NO') AS HasOTISId
		FROM [005].dbo.tblInItemSer S
		INNER JOIN [005].dbo.trav_tblInItem_view AS I ON S.ItemId=I.ItemId AND I.[cf_Out-Time Tracked]=1
		LEFT JOIN [W005].[dbo].[OutTimeItemStatus] AS O ON S.ItemId=O.ItemId AND S.SerNum = O.TravSerNum
		WHERE SerNumStatus in (1,2,5)
	) A
	WHERE (A.HasOTISId = @HasOTISId) OR (@HasOTISId = 'ALL')
END
GO
