USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTraverseOnHandQtyByItemAndLocIdAndShipPkgId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTraverseOnHandQtyByItemAndLocIdAndShipPkgId]
			@ItemId as varchar(24), @LocId as varchar(10), @PkgId as int, @PkgType as varchar(1)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--Declare @ItemId as varchar(24) = 'SB-BU-350-06'
--Declare @LocId as varchar(10) ='INVENTORY'
--Declare @PkgId as int = 23638
--Declare @PkgType as char(1) = 'P'

If @PkgType = 'P'
BEGIN
	SELECT IsNull(SUM(QtyOnHand),0) as QtyOnHand
	FROM [005].[dbo].[trav_InItemOnHandLot_view]
	WHERE ItemId=@ItemId AND LocId=@LocId 
		AND LotNum IN (
						SELECT TravLotNum as LotNo 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipPalletId = @PkgId
					 )
END
Else
IF @PkgType = 'C'
BEGIN
	SELECT IsNull(SUM(QtyOnHand),0) as QtyOnHand
	FROM [005].[dbo].[trav_InItemOnHandLot_view]
	WHERE ItemId=@ItemId AND LocId=@LocId 
		AND LotNum IN (
						SELECT TravLotNum as LotNo 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipCartonId = @PkgId
					 )
END
Else
If @PkgType = 'B'
BEGIN
	SELECT IsNull(SUM(QtyOnHand),0)  as QtyOnHand
	FROM [005].[dbo].[trav_InItemOnHandLot_view]
	WHERE ItemId=@ItemId AND LocId=@LocId 
		AND LotNum IN (
						SELECT TravLotNum as LotNo 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipBoxId = @PkgId
					 )
END


	


END

GO
