USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWPriorNCSpoolList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBCQA 
-- Returns 1/true if @SpoolNum is in the priorNCSpoolList, else returns 0/false

CREATE PROCEDURE [dbo].[spSWPriorNCSpoolList]
	 @WO int, @MachineNum int, @OPId int, @SpoolNum varchar(3), @ProdOrd varchar(8), @Machine varchar(25), @RelNo int

AS
BEGIN

--DECLARE @WO as int = 59072
--DECLARE @Machine int = 21
--DECLARE @OPId as int = 108271
--DECLARE @SpoolNum varchar(3) = '21'

DECLARE @NCSpoolList varchar(255)

IF EXISTS (
			SELECT th.Id
			FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
			WHERE ((th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum AND th.OperationID != @OPId) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo != @RelNo))
				AND tgh.TestGroupName = 'END of SET'
		)
BEGIN  
		SET @NCSpoolList = (SELECT TOP 1 NCSpoolList
							FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
								INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
							WHERE ((th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum AND th.OperationID != @OPId) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo != @RelNo))
								AND tgh.TestGroupName = 'END of SET'
							ORDER BY th.ID DESC)

		SELECT CONVERT(BIT,
		CASE WHEN @SpoolNum COLLATE Latin1_General_100_BIN2 = @NCSpoolList
			   OR PATINDEX('%[^0123456789]' + @SpoolNum
						   COLLATE Latin1_General_100_BIN2, @NCSpoolList) > 0
			   OR PATINDEX(@SpoolNum + '[^0123456789]%'
						   COLLATE Latin1_General_100_BIN2, @NCSpoolList) > 0
			   OR PATINDEX('%[^0123456789]' + @SpoolNum + '[^0123456789]%'
						   COLLATE Latin1_General_100_BIN2, @NCSpoolList) > 0
			   THEN 1
			ELSE 0
		END) AS [SpoolNCd];


END
ELSE 
BEGIN
	SELECT CAST(0 as bit) As [SpoolNCd]
END



END






GO
