USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetFGInheritedMaxOT]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	Get the RM w/ MAX OT used to make the FG (used for Converting mfg)
*/
CREATE PROCEDURE [dbo].[spGetFGInheritedMaxOT]
				@OrdNo varchar(8),  @RelNo int, @PrgId int
AS
BEGIN

 
--DECLARE @OrdNo varchar(8) = '00030053'
--DECLARE @RelNo int = 2
--DECLARE @PrgId int = 0

	SELECT TOP 1 ot.LastScanDateTime
			,ot.TotalRoomMinutes
			,ot.TotalFreezerMinutes
			,ot.TotalReeferMinutes
			,ot.WmBinId
	FROM [W005].[dbo].[OrderReleaseEventItemOutTime] ot
	 
	WHERE (ot.ProgramId=@PrgId OR ot.ProgramId = 0) AND 
	      ot.OrderReleaseEventId IN (SELECT Id
											FROM [W005].[dbo].[OrderReleaseEvent] 
											WHERE OrderNo=@OrdNo AND ReleaseNo=@RelNo AND [Event]='Load Material')
	ORDER BY ot.TotalRoomMinutes DESC


	
END
GO
