USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCartonsOnPalletLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCartonsOnPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId AS int = 8

	SELECT DISTINCT
			ISNULL(R.SalesOrder, RH.SalesOrder) AS SalesOrder,
			SI.ProdOrderNo,
			SI.ShipPalletId,
			SP.ShipPalletNo,
			S.ShipToName,
			S.ShipToAddr1,
			S.ShipToAddr2,
			ShipToCityRegionPostalCode = S.ShipToCity + ', ' + S.ShipToRegion + '  ' + S.ShipToPostalCode,
			PurchaseOrder = ISNULL(R.PurchaseOrder, RH.PurchaseOrder),
			RawMaterialDescr =	(SELECT DISTINCT INI.Descr
										FROM [W005].[dbo].[OrderReleaseEvent] E
											 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=0
											 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=I.ItemId AND L.LocId=I.LocId AND L.GLAcctCode IN ('10', '20', '30', '80')
											 INNER JOIN [005].[dbo].[tblInItem] INI ON INI.ItemId=L.ItemId
										WHERE E.OrderNo = SI.ProdOrderNo AND E.ReleaseNo = SI.ProdOrderRelNo),
			CustPONum = SO.[cf_Customer PO#] + ' / ' + CAST(SO.[cf_Customer PO Line] AS VARCHAR(10)),
			SC.Id AS ShipCartonId,
			SC.ShipCartonNo,
			ItemNumber = (SELECT AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] AS A WHERE A.ItemID = SI.ItemId),
			SO.Descr AS ItemDescr,
			RollQty = (SELECT COUNT(S.Id) FROM [W005].[dbo].[ShipItem] AS S WHERE S.ShipCartonId=SC.Id GROUP BY S.ShipCartonId),
			ISNull(P.nTarget, P1.nTarget) as WidthIN,
			LengthLF = ((SELECT SUM(S.Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId = SC.Id GROUP BY S.ShipCartonId)  / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'LF')),
			AreaSqFt = ((SELECT SUM(S.Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId = SC.Id GROUP BY S.ShipCartonId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'SF')),
			NetWt = ((SELECT SUM(S.Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = SC.Id GROUP BY S.ShipCartonId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'LB')),
			SC.TareWt,
			SC.GrossWt,
			Program = (SELECT [cf_FG Program] FROM [005].[dbo].[trav_tblInItem_view] I WHERE I.ItemId = SI.ItemId),
			Barcode = SP.ShipPalletNo
	FROM [W005].[dbo].[ShipItem] AS SI
		 INNER JOIN [W005].[dbo].[ShipCarton] AS SC ON SC.Id=SI.ShipCartonId
		 INNER JOIN [W005].[dbo].[ShipPallet] AS SP ON SP.Id=SI.ShipPalletId
		 LEFT JOIN [005].[dbo].[tblMpOrder] M ON M.OrderNo=SI.ProdOrderNo
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo  
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
		 LEFT JOIN [005].[dbo].[trav_tblSoTransDetail_view] SO ON SO.TransId=S.TransId AND SO.ItemId=SI.ItemId
		 LEFT JOIN [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)'  
		 LEFT JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = SI.ItemId AND P.CharId = C.Id  
		 LEFT JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Characteristic = 'Width' 
		 LEFT JOIN [W005].[dbo].[ProductChar] AS P1 ON P1.ItemId = SI.ItemId AND P1.CharId = C1.Id 
	WHERE SI.ShipPalletId = @PalletId
	GROUP BY R.SalesOrder, RH.SalesOrder, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ShipPalletId, SP.ShipPalletNo, S.ShipToName, S.ShipToAddr1, S.ShipToAddr2, S.ShipToCity, S.ShipToRegion, S.ShipToPostalCode,
			 SO.Descr, SC.Id, SC.ShipCartonNo, R.PurchaseOrder, RH.PurchaseOrder, SO.[cf_Customer PO#], SO.[cf_Customer PO Line], SI.ItemId, SC.TareWt, SC.GrossWt, P.nTarget, P1.nTarget

END

GO
