USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCopyItemProductCharacteristic]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCopyItemProductCharacteristic] @UserId as varchar(10), @ToItemId as varchar(24), @FromItemId as varchar(24)
AS
BEGIN
  Declare @ItemExists as integer
  SELECT @ItemExists = Count(ItemId) FROM [W005].dbo.ProductChar WHERE ItemId = @ToItemId
  IF @ItemExists = 0
    BEGIN
	  SELECT [ItemId], [CharId], [nTarget], [nMin], [nMax], [bTarget], [sTarget], [MinNA], [MaxNA], [Enforce], [LastUpdateBy], [LastUpdateDate], [BOMItemIds]
	  INTO #T1 
	  FROM [W005].dbo.ProductChar WHERE ItemId = @FromItemId

	  UPDATE #T1 Set [ItemId] = @ToItemId

	  INSERT INTO [W005].dbo.ProductChar SELECT [ItemId], [CharId], [nTarget], [nMin], [nMax], [bTarget], [sTarget], [MinNA], [MaxNA], [Enforce], [LastUpdateBy], [LastUpdateDate], [BOMItemIds] FROM #T1

	  DROP TABLE #T1
	END

  SELECT @ItemExists = Count(ItemId) FROM [W005].dbo.PackingChar WHERE ItemId = @ToItemId
  IF @ItemExists = 0
    BEGIN
	  SELECT [ItemId], [PackingSeqNo], [PackingType], [Target], [Min], [Max], [PackingTraceabilityReq]
	  INTO #T2
	  FROM [W005].dbo.PackingChar WHERE ItemId = @FromItemId

	  UPDATE #T2 Set [ItemId] = @ToItemId

	  INSERT INTO [W005].dbo.PackingChar SELECT [ItemId], [PackingSeqNo], [PackingType], [Target], [Min], [Max], [PackingTraceabilityReq] FROM #T2

	  DROP TABLE #T2
	END

  SELECT @ItemExists = Count(ItemId) FROM [W005].[dbo].[LabelXItem] WHERE ItemId = @ToItemId
  IF @ItemExists = 0
    BEGIN
	  SELECT [ItemId], [LabelName], [LabelTypeId]
	  INTO #T3
	  FROM [W005].[dbo].[LabelXItem] WHERE ItemId = @FromItemId

	  UPDATE #T3 Set [ItemId] = @ToItemId

	  INSERT INTO [W005].dbo.[LabelXItem] SELECT [ItemId], [LabelName], [LabelTypeId] FROM #T3

	  DROP TABLE #T3
	END
END
GO
