USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWTorayforWEB]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************************************************************************

--************ CAUTION: be careful when you replace W003 or W005 with 003/005/003 because '003' and '005' are used in the SELECT!  *******************

--****************************************************************************************************************************************************
/*  
	Used by WEBCQA
	Returns data for the report rTorayforWEB
*/

CREATE PROCEDURE [dbo].[spSWTorayforWEB]
	@ProdOrd varchar(8),@WO int
	
AS
BEGIN

--DECLARE @ProdOrd varchar(8) = '00000014'
--DECLARE @WO int = 0


IF LEN(@ProdOrd) > 0
BEGIN -- Traverse data
	SELECT th.ProdOrderNo, th.ReleaseNo, th.SetID, th.OperationID,th.WorkOrder,th.Machine,th.PolarisMachineNum, th.MachineGroupId, th.CustomerBatchSuffix
		,th.CompID As PlantID, tgh.Id AS TGHId, tgh.TestGroupName
		,TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
		,th.SWTolerance_Target,th.SWTolerance_Min,th.SWTolerance_Max
		,th.NCNum
		,tgd.TestType AS TTKey
		,th.CustomerName, th.PolarisCustomerName,th.CustId,th.CustomerPO
		,th.MaterialType,th.InvDescription
		,IIF(th.MaterialType = '158','+/-0,203mm(0.003in) Individual, +/-0,127mm(0.005in) Mean','+/-0,127mm(0.005in) Mean') As Tolerance
		,th.CustomerShipToName
		,th.Batch,th.BatchSuffix
		,IIF(th.Batch2 is null,th.ReleaseNo,CAST(th.ReleaseNo as varchar) + 'Z') As SetIDZ
		,IIF(th.CompID = '003','Atlanta',IIF(th.CompID = '005','Stade','CadCut')) As PlantName
		,tgdd.Id
		,tgdd.SpoolNo
		,tgdd.SampleNo,tgdd.TestLevel,tgdd.MeanMM,tgdd.MeanIN,tgdd.MeanOOT,tgdd.MeanOOC,tgdd.SpoolRejected,tgdd.TestDate,tgdd.UserId,tgdd.GageId,tgdd.GageName,tgdd.MMPos1,tgdd.mmpos2,tgdd.MMPos3,tgdd.mmpos4,tgdd.mmpos5,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
		,tgdd.OOTPos1,tgdd.OOTPos2,tgdd.OOTPos3,tgdd.OOTPos4,tgdd.OOTPos5
		,tgdd.OOCPos1,tgdd.OOCPos2,tgdd.OOCPos3,tgdd.OOCPos4,tgdd.OOCPos5
		,IIF(CAST(tgdd.TestLevel as varchar(1)) = '1','S' + CAST(tgdd.SampleNo as varchar(1)),'R') As TestSampleName
		,IIF(tgdd.TestLevel=0,'','Position Retest') As TestLevelName
		,IIF(tgdd.SpoolRejected=1,th.NCNum,'') As SpoolNCNum
		,CAST(tgdd.TargetMM as decimal(10,3)) As TargetMM
		,CAST(tgdd.TargetIN as decimal(10,3)) As TargetIN
		,CAST(CAST(tgdd.TargetMM as decimal(10,3)) as varchar(7)) + ' mm/' + CAST(CAST(tgdd.TargetIN as decimal(10,3)) as varchar(7)) + ' in' AS [Target]
		,IIF(th.Batch2 is null,th.Batch + th.BatchSuffix,th.Batch + th.BatchSuffix + 'Z') AS OPBatch
		,tgdd.HandlingDamageRetest,tgdd.MaterialIssueRetest,tgdd.ImproperSampleInstallationRetest
		,IIF(tgdd.HandlingDamageRetest=1,':Handlg',IIF(tgdd.ImproperSampleInstallationRetest=1,':ImprInst',IIF(tgdd.MaterialIssueRetest=1,':Matl',''))) AS RetestReason
	FROM [W005].[dbo].[SW_TestHdr] th
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
	WHERE (th.ProdOrderNo = @ProdOrd) 
END ELSE
BEGIN -- Polaris data
	SELECT th.ProdOrderNo, th.ReleaseNo, th.SetID, th.OperationID,th.WorkOrder,th.Machine,th.PolarisMachineNum, th.MachineGroupId, th.CustomerBatchSuffix
		,th.CompID As PlantID, tgh.Id AS TGHId, tgh.TestGroupName
		,TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
		,th.SWTolerance_Target,th.SWTolerance_Min,th.SWTolerance_Max
		,th.NCNum
		,tgd.TestType AS TTKey
		,th.CustomerName, th.PolarisCustomerName,th.CustId,th.CustomerPO
		,th.MaterialType,th.InvDescription
		,IIF(th.MaterialType = '158','+/-0,203mm(0.003in) Individual, +/-0,127mm(0.005in) Mean','+/-0,127mm(0.005in) Mean') As Tolerance
		,th.CustomerShipToName
		,th.Batch,th.BatchSuffix
		,IIF(th.Batch2 is null,th.SetID,CAST(th.SetID as varchar) + 'Z') As SetIDZ
		,IIF(th.CompID = '003','Atlanta',IIF(th.CompID = '005','Stade','CadCut')) As PlantName
		,tgdd.Id
		,tgdd.SpoolNo
		,tgdd.SampleNo,tgdd.TestLevel,tgdd.MeanMM,tgdd.MeanIN,tgdd.MeanOOT,tgdd.MeanOOC,tgdd.SpoolRejected,tgdd.TestDate,tgdd.UserId,tgdd.GageId,tgdd.GageName,tgdd.MMPos1,tgdd.mmpos2,tgdd.MMPos3,tgdd.mmpos4,tgdd.mmpos5,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
		,tgdd.OOTPos1,tgdd.OOTPos2,tgdd.OOTPos3,tgdd.OOTPos4,tgdd.OOTPos5
		,tgdd.OOCPos1,tgdd.OOCPos2,tgdd.OOCPos3,tgdd.OOCPos4,tgdd.OOCPos5
		,IIF(CAST(tgdd.TestLevel as varchar(1)) = '1','S' + CAST(tgdd.SampleNo as varchar(1)),'R') As TestSampleName
		,IIF(tgdd.TestLevel=0,'','Position Retest') As TestLevelName
		,IIF(tgdd.SpoolRejected=1,th.NCNum,'') As SpoolNCNum
		,CAST(tgdd.TargetMM as decimal(10,3)) As TargetMM
		,CAST(tgdd.TargetIN as decimal(10,3)) As TargetIN
		,CAST(CAST(tgdd.TargetMM as decimal(10,3)) as varchar(7)) + ' mm/' + CAST(CAST(tgdd.TargetIN as decimal(10,3)) as varchar(7)) + ' in' AS [Target]
		,IIF(th.Batch2 is null,th.Batch + th.BatchSuffix,th.Batch + th.BatchSuffix + 'Z') AS OPBatch
		,tgdd.HandlingDamageRetest,tgdd.MaterialIssueRetest,tgdd.ImproperSampleInstallationRetest
		,IIF(tgdd.HandlingDamageRetest=1,':Handlg',IIF(tgdd.ImproperSampleInstallationRetest=1,':ImprInst',IIF(tgdd.MaterialIssueRetest=1,':Matl',''))) AS RetestReason
	FROM [W005].[dbo].[SW_TestHdr] th
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
	WHERE (th.WorkOrder=@WO) 
END



	 
END
GO
