USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDirectRMsOnBOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetDirectRMsOnBOM] @ItemId AS varchar(25), @Revision AS varchar(10)
AS
BEGIN

--DECLARE @ItemId AS varchar(25) = 'FG-TORA15AF-PAD'
--DECLARE @Revision AS varchar(10) = '1'

SELECT DISTINCT D.ComponentId
		FROM [005].[dbo].[tblMbAssemblyHeader] H 
				INNER JOIN [005].[dbo].[tblMbAssemblyDetail] D ON D.HeaderId=H.Id
				INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=D.ComponentID AND L.GLAcctCode IN (SELECT GLAcctCode 
																									FROM [005].[dbo].[tblInGLAcct] 
																									WHERE Descr LIKE 'Materials Direct%')
		WHERE H.AssemblyId = @ItemId AND H.RevisionNo = @Revision

END
GO
