USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDoesPackingListExistforSO]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDoesPackingListExistforSO] @OrderNo as varchar(8)
AS
BEGIN
	select PLNo from [W005].dbo.ShipPackingList where OrderNo = @OrderNo and Complete = 0
END
GO
