USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIMaterialTrackerNonOTRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIMaterialTrackerNonOTRpt] @SalesOrderNo AS VARCHAR(8), @PLNo AS int
AS
BEGIN


--DECLARE @SalesOrderNo AS VARCHAR(8) = '00001266'	--'00000199'	 --'00000005'	--'00000021'
--DECLARE @PLNo AS int =	25215	--22389	--22119	 --22068

/*SALES & PACKING DATA*/
	SELECT DISTINCT
			SPL.ShipDate
			,MP.OrderNo
			,MP.ReleaseNo
			,MP.SalesOrder
			,SPL.PLNo
			,CORI.ParentOrderNo AS JobNo
			,CORI.ItemId AS FGItemId
			,CORI.LocId
			,FGAlias = (SELECT ISNULL(IA.AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=CORI.ItemId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,MP.CustId
			,MG.ProgramId
			,P.ProgramName
			,LastFGSerNum = (SELECT MAX(TravSerNum) FROM [W005].dbo.ShipItem SI WHERE SI.Id IN (SELECT ShipItemId FROM [W005].[dbo].[ShipPackingListDetail] WHERE ProdOrderNo=CORI.ParentOrderNo AND ItemId=CORI.ItemId))
	INTO #SoPLNo
	FROM	[W005].[dbo].[ShipPackingList] AS SPL 
			INNER JOIN (SELECT DISTINCT SPLD.PlNo, SPLD.ItemID, SI.ProdOrderNo FROM [W005].[dbo].[ShipPackingListDetail] SPLD INNER JOIN [W005].[dbo].ShipItem SI ON SI.Id = SPLD.ShipItemId /*WHERE PlNo = @PLNo*/) SPLD ON SPLD.PLNo=SPL.PLNo
			INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.ParentOrderNo=SPLD.ProdOrderNo
			INNER JOIN [005].[dbo].[tblMpOrderReleases] AS MP ON MP.OrderNo = CORI.OrderNo AND MP.ReleaseNo = CORI.ReleaseNo
			INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
			INNER JOIN [W005].[dbo].[Program] AS P ON P.Id=MG.ProgramId
	WHERE SPL.OrderNo=@SalesOrderNo AND SPL.PLNo=@PLNo
	UNION ALL
	SELECT DISTINCT
			SPL.ShipDate
			,MP.OrderNo
			,MP.ReleaseNo
			,MP.SalesOrder
			,SPL.PLNo
			,CORI.ParentOrderNo AS JobNo
			,CORI.ItemId AS FGItemId
			,CORI.LocId
			,FGAlias = (SELECT ISNULL(IA.AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=CORI.ItemId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,MP.CustId
			,MG.ProgramId
			,P.ProgramName 
			,LastFGSerNum = (SELECT MAX(TravSerNum) FROM [W005].dbo.ShipItem SI WHERE SI.Id IN (SELECT ShipItemId FROM [W005].[dbo].[ShipPackingListDetail] WHERE ProdOrderNo=CORI.ParentOrderNo AND ItemId=CORI.ItemId))
	FROM 	[W005].[dbo].[ShipPackingList] AS SPL 
			INNER JOIN (SELECT DISTINCT SPLD.PlNo, SPLD.ItemID, SI.ProdOrderNo FROM [W005].[dbo].[ShipPackingListDetail] SPLD INNER JOIN [W005].[dbo].ShipItem SI ON SI.Id = SPLD.ShipItemId /*WHERE PlNo = @PLNo*/) SPLD ON SPLD.PLNo=SPL.PLNo
			INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.ParentOrderNo=SPLD.ProdOrderNo
			INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MP ON MP.OrderNo = CORI.OrderNo AND MP.ReleaseNo = CORI.ReleaseNo
			INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
			INNER JOIN [W005].[dbo].[Program] AS P ON P.Id=MG.ProgramId
	WHERE SPL.OrderNo=@SalesOrderNo AND SPL.PLNo=@PLNo

/*	Used to get serial number range */
SELECT DISTINCT ORK.RMItemId, ORK.RMSerialNo, ORK.FGTravSerNum
INTO #T1
FROM #SoPLNo SPL
	 INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] ORE ON ORE.OrderNo=SPL.JobNo AND IsAssembly = 1
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] ORK ON ORK.OrderReleaseEventItemId=ORE.Id
ORDER BY FGTravSerNum DESC

/*RAW MATERIAL NON OT*/
	SELECT	DISTINCT
			 SP.*,
			 RM.RMItemId
			,RMDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=RM.RMItemId)
			,RM.RMSerialNo
			,RM.RMLotNo
			,RMInitDate = (SELECT InitialDate FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=RM.RMItemId AND LocId=SP.LocId AND ([cf_Serial No.] = RM.RMSerialNo OR [LotNum] = RM.RMSerialNo))
			,RM.ExpDate
			,RMAlias = (SELECT TOP 1 AliasID 
					  FROM [005].[dbo].[trav_tblInItemAlias_View] 
					  WHERE ItemId=RM.RMItemId AND (RefID=SP.CustId OR RefID IS NULL) AND (([cf_FG Program]=SP.ProgramName) OR ([cf_FG Program] IS NULL)) 
					  ORDER BY [cf_FG Program] DESC)

			,UserId = NULL--(SELECT UserId FROM OrderReleaseEvent WHERE Id = ORE.OrderReleaseEventId)

			,FGSerialNoRange = (SELECT TOP 1 FGTravSerNum
								FROM #T1 T1
								WHERE T1.RMItemId=RM.RMItemId AND T1.RMSerialNo=RM.RMSerialNo
								ORDER BY 1 ASC)
								+ ' -> ' +
								(SELECT TOP 1 FGTravSerNum
								FROM #T1 T1
								WHERE T1.RMItemId=RM.RMItemId AND T1.RMSerialNo=RM.RMSerialNo
								ORDER BY 1 DESC)
			
						  
		   ,DateTimeIn = (SELECT MAX(LastScanDateTime) FROM [W005].[dbo].[OutTimeItemStatusHistory] OTHist WHERE OTHist.ItemId = SP.FGItemId and OTHist.TravSerNum = SP.LastFGSerNum AND OTHist.BinType = 'FREEZER' AND OTHist.InTransitOTStopped = 0)

		   /*
			,UserId = (SELECT Top 1 UID 
					   FROM [005].dbo.tblWmHistDetail 
					   WHERE itemid = SP.FGItemId and source = 19 and HostId = 'FREEZER' 
							 AND Sernum IN (SELECT FGTravSerNum
											FROM [W005].[dbo].[OrderReleaseKitRawMatlNonOT] SI
											WHERE RMItemId = RM.RMItemId AND RMSerialNo = RM.RMSerialNo)
						)
			
			,FGSerialNoRange = 
	   					   STUFF
							(
								(
									SELECT DISTINCT ', ' + T1.FGTravSerNum
									FROM #T1 T1
									WHERE T1.RMItemId = RM.RMItemId AND T1.RMSerialNo=RM.RMSerialNo --AND CAST(T1.LastScanDateTime AS smalldatetime)=CAST(ORE.LastScanDateTime AS smalldatetime)
										  --AND T1.FGTravSerNum IN (SELECT FGTravSerNum FROM #T1)
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							)
			*/

	FROM #SoPLNo AS SP
		 INNER JOIN [W005].[dbo].[vCCIKitNonPlyScanRawMaterial] AS RM ON RM.OrderNo=SP.JobNo
		 INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] ORE ON ORE.OrderNo=SP.JobNo-- AND ORE.ItemId=RM.RMItemId AND ORE.SerialNo=RM.RMSerialNo
		 --INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] ORKN ON ORKN.OrderReleaseEventItemId=ORE.Id
	WHERE RM.OTTracked = 0

DROP TABLE #SoPLNo
DROP TABLE #T1



END

GO
