USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetShipTo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetShipTo] @CustId as varchar(10), @ShipToId as varchar(10)
AS
BEGIN
  SELECT * FROM [005].[dbo].[trav_tblArShipTo_view]
  WHERE CustId = @CustId AND ShipToId = @ShipToId
END
GO
