USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetPurchasingAuthority]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetPurchasingAuthority](@originatorID varchar(11))
AS
SELECT
	originator.FirstName + ' ' + originator.LastName AS [Originator Name],
	originAuthority.MaxPurchaseAmount AS [OriginatorMaxPurchaseAmount],
	originAuthority.NextLevelApproverID AS [ApproverID],
	approver.FirstName + ' ' + approver.LastName AS [Approver Name],
	approAuthority.MaxPurchaseAmount AS [ApproverMaxPurchaseAmount],
	approver.WorkEmail AS [Approver EMail]
FROM [W005].dbo.CCIPurchasingAuthority originAuthority
LEFT JOIN [005].dbo.tblSmEmployee originator ON originator.EmployeeId = originAuthority.EmployeeID
LEFT JOIN [005].dbo.tblSmEmployee approver ON approver.EmployeeId = originAuthority.NextLevelApproverID
LEFT JOIN [W005].dbo.CCIPurchasingAuthority approAuthority on approAuthority.EmployeeID = originAuthority.NextLevelApproverID
	WHERE originAuthority.EmployeeID = @originatorID;
GO
