USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDocumentedOperationalWaste]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDocumentedOperationalWaste] @OrderNo as Varchar(8)
AS
BEGIN

--DECLARE @OrderNo varchar(8) =  '00030078'


SELECT DISTINCT OrderNo, CustName, FGAlias, FGItemId, FGDescr
	,RMItemId, RMDescr, RMWidth,WasteNote
	,WasteReason,WasteAmtLF,WasteAmtSF, WasteAmtMSI,WasteAmtLB
FROM
(
	SELECT 
	R.OrderNo
	,C.CustName
	,FGAlias = AF.AliasID 
	,FGItemId = O.AssemblyId
	,FGDescr = FGI.Descr 
	,RMItemId = RMOREI.ItemId
	,RMDescr = RMI.Descr 
	,RMWidth = PCW.nTarget 
	,WasteNote = ORE.UserId + ' - ' + RMOREI.SerialNo
	,W.WasteReason
	,WasteAmtLF = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'LF')
	,WasteAmtSF = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'SF')	
	,WasteAmtMSI = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'MSI')
	,WasteAmtLB = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'LB')	
FROM OrderReleaseEvent ORE
	INNER JOIN OrderReleaseEventItem RMOREI ON RMOREI.OrderReleaseEventId = ORE.Id AND RMOREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem FGI on FGI.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.trav_tblInItem_view RMI on RMI.ItemId = RMOREI.ItemId AND RMI.[cf_Multi-UOM Serial Item] = 1
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = RMOREI.ItemId and L.LocId = O.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = RMOREI.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = RMOREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN (SELECT WR.WasteReason, W.WasteAmount,W.OrderReleaseEventItemId FROM [W005].[dbo].[OrderReleaseEventWaste] W INNER JOIN [W005].[dbo].[WasteReason] WR ON WR.Id = W.WasteReasonId) W ON W.OrderReleaseEventItemId = RMOREI.Id
	LEFT JOIN (SELECT  ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
			WHERE c.Characteristic = 'Width(IN)') PCW ON PCW.ItemId = RMOREI.ItemId
	WHERE R.OrderNo = @OrderNo AND R.ReleaseNo = 1 AND W.WasteReason is not null
	GROUP BY R.OrderNo, ORE.OrderNo, C.CustName, AF.AliasID, O.AssemblyId,FGI.ItemId, FGI.Descr, AR.AliasID, RMOREI.ItemId, RMI.Descr, RMOREI.SerialNo,U.ConvFactor
	,W.WasteReason	,W.WasteAmount,ORE.UserId,PCW.nTarget 
UNION ALL
	SELECT 
	R.OrderNo
	,C.CustName
	,FGAlias = AF.AliasID 
	,FGItemId = R.AssemblyId
	,FGDescr = FGI.Descr 
	,RMItemId = RMOREI.ItemId
	,RMDescr = RMI.Descr 
	,RMWidth = PCW.nTarget 
	,WasteNote = ORE.UserId + ' - ' + RMOREI.SerialNo
	,W.WasteReason
	,WasteAmtLF = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'LF')
	,WasteAmtSF = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'SF')	
	,WasteAmtMSI = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'MSI')
	,WasteAmtLB = (SELECT IIF(ConvFactor is Null, Null, W.WasteAmount / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = RMOREI.ItemId and A.Uom = 'LB')	
	FROM OrderReleaseEvent ORE
	INNER JOIN OrderReleaseEventItem RMOREI ON RMOREI.OrderReleaseEventId = ORE.Id AND RMOREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem FGI on FGI.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.trav_tblInItem_view RMI on RMI.ItemId = RMOREI.ItemId AND RMI.[cf_Multi-UOM Serial Item] = 1	
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = RMOREI.ItemId and L.LocId = R.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = RMOREI.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = RMOREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN (SELECT WR.WasteReason, W.WasteAmount,W.OrderReleaseEventItemId FROM [W005].[dbo].[OrderReleaseEventWaste] W INNER JOIN [W005].[dbo].[WasteReason] WR ON WR.Id = W.WasteReasonId) W ON W.OrderReleaseEventItemId = RMOREI.Id
	LEFT JOIN (SELECT  ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
			WHERE c.Characteristic = 'Width(IN)') PCW ON PCW.ItemId = RMOREI.ItemId
	WHERE R.OrderNo = @OrderNo AND W.WasteReason is not null
	GROUP BY R.OrderNo, ORE.OrderNo, C.CustName, AF.AliasID, R.AssemblyId,FGI.ItemId, FGI.Descr, AR.AliasID, RMOREI.ItemId, RMI.Descr, RMOREI.SerialNo,U.ConvFactor
	,W.WasteReason	,W.WasteAmount,ORE.UserId ,PCW.nTarget 
) A



END
GO
