USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSiemensPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebSiemensPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int
	--Set @PalletId = 142111

	
	SELECT DISTINCT PalletId, ShipToAddress, PartNo, WebLotNo, Canisters = SUM(Quantity), NetWt = SUM(NetWt), TareWt
		,GrossWt = TareWt + SUM(NetWt)
		,RMItemID,RMLotNo,RMSerNo 
	FROM (
			SELECT	 
				PalletId = SP.ShipPalletNo 
				,ShipToAddress = PL.ShipToName  + CHAR(13) + PL.ShipToAddr1 +  IIF(PL.ShipToAddr2 is null OR LEN(PL.ShipToAddr2)=0,'', + CHAR(13) + PL.ShipToAddr2) + CHAR(13) + PL.ShipToCity + ', ' + PL.ShipToRegion  + '  ' + PL.ShipToPostalCode +  IIF(PL.ShipToCountry is null OR LEN(PL.ShipToCountry)=0,'', + CHAR(13) + PL.ShipToCountry) 
				,PartNo = IA.AliasID 
				,WebLotNo =  RIGHT(ORE.OrderNo, 5) + OREI.PalletSeqNo
				,SI.Quantity
				,NetWt = SI.Quantity * (SELECT ConvFactor FROM [005].[dbo].[tblInItemUom] WHERE Uom='LB' AND ItemId = SI.ItemId)
				,TareWt = SP.TareWt
				--,GrossWt = SP.TareWt + (SI.Quantity * (SELECT ConvFactor FROM [005].[dbo].[tblInItemUom] WHERE Uom='LB' AND ItemId = SI.ItemId))
				,RMItemID = RMOREI.ItemId
				,RMLotNo = RMOREI.LotNo
				,RMSerNo = RMOREI.SerialNo
			FROM [W005].[dbo].[ShipPallet] AS SP   
			 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
			 LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.Id = SI.OREIId
			 LEFT JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.OrderNo = SI.ProdOrderNo AND ORE.ReleaseNo = SI.ProdOrderRelNo
			 LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = SI.ItemId AND IA.AliasType = 1 
			 LEFT JOIN (SELECT ShipToName, ShipToAddr1, ShipToAddr2, ShipToCity,ShipToRegion,ShipToPostalCode,ShipToCountry, D.ShipPalletId
						FROM [W005].[dbo].[ShipPackingList] AS P INNER JOIN [W005].[dbo].[ShipPackingListDetail] D ON P.PLNo=D.PLNo) PL ON PL.ShipPalletId=@PalletId
			 INNER JOIN OrderReleaseEventItem RMOREI ON RMOREI.OrderReleaseEventId=ORE.Id AND RMOREI.IsAssembly=0 AND RMOREI.PalletNo = SP.ShipPalletNo
			 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=RMOREI.ItemId AND IL.LocId=RMOREI.LocId AND IL.GLAcctCode IN ('10', '15', '20', '30') -- direct material	
			
			WHERE SP.Id = @PalletId
	) A
	GROUP BY PalletId, ShipToAddress,PartNo,WebLotNo,TareWt,RMItemID,RMLotNo,RMSerNo 




END	
GO
