USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineSerNumShipped]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderLineSerNumShipped]
	@PLNo as int, @ItemId as varchar(24)  

AS
BEGIN

--DECLARE @PLNo as int = 22648
--DECLARE @ItemId as varchar(24) = 'FG-PHIL1018-MLB'

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, P.ShipPalletNo as Pkg, spld.Id AS SPDtlId
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipPallet] As P ON spld.ShipPalletId=P.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipPalletId=spld.ShipPalletId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			spld.ShipCartonId is null AND spld.ShipBoxId is null AND spld.ShipItemId is null
			
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, C.ShipCartonNo as Pkg, spld.Id AS SPDtlId
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipCarton] As C ON spld.ShipCartonId=C.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipCartonId=spld.ShipCartonId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			spld.ShipPalletId is null AND spld.ShipBoxId is null AND spld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, B.ShipBoxNo as Pkg, spld.Id AS SPDtlId
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipBox] As B ON spld.ShipBoxId=B.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipBoxId=spld.ShipBoxId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			spld.ShipPalletId is null AND spld.ShipCartonId is null AND spld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, I.ShipItemNo as Pkg, spld.Id AS SPDtlId
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.Id=spld.ShipItemId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			spld.ShipPalletId is null AND spld.ShipCartonId is null AND spld.ShipBoxId is null
		

END
GO
