USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuoteAssemblyTotalMachHr]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuoteAssemblyTotalMachHr] 
	@QuoteAssemblyNum as int
AS
BEGIN 


--DECLARE @QuoteAssemblyNum as int = 13

SELECT SUM(MachSetupTime  + MachRunTime) As TotalMachHr
FROM [W005].[dbo].[QuoteOperation] 
WHERE QuoteAssemblyNum = @QuoteAssemblyNum




END      
GO
