USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDistinctItemLocLotQtyFromTmpPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetDistinctItemLocLotQtyFromTmpPL]
			@PLNo as int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--Declare @PLNo as int = 3467

		SELECT DISTINCT PL.ItemId,PL.Location,  
			UPPER(I.TravLotNum) as TravLotNum, 
			SUM(PL.Qty) As TotQty
		FROM [W005].[dbo].[tmpShipPackingList] PL 
			INNER JOIN [W005].[dbo].[ShipItem] I  ON I.ItemId=PL.ItemId
			INNER JOIN [W005].[dbo].[ShipPallet] P ON I.ShipPalletId=P.Id AND P.Id=PL.ShipPalletId
		WHERE DoNotAddToPL=0 AND PLNo=@PLNo
		GROUP BY PL.ItemId,PL.Location,I.TravLotNum

	UNION ALL

		SELECT DISTINCT PL.ItemId,PL.Location,  
		UPPER(I.TravLotNum) as TravLotNum, 
		SUM(PL.Qty) As TotQty
		FROM [W005].[dbo].[tmpShipPackingList] PL 
			INNER JOIN [W005].[dbo].[ShipItem] I  ON I.ItemId=PL.ItemId
			INNER JOIN [W005].[dbo].[ShipCarton] C ON I.ShipCartonId=C.Id AND C.Id=PL.ShipCartonId
		WHERE DoNotAddToPL=0 AND PLNo=@PLNo
		GROUP BY PL.ItemId,PL.Location,I.TravLotNum

	UNION ALL

		SELECT DISTINCT PL.ItemId,PL.Location,  
		UPPER(I.TravLotNum) as TravLotNum, 
		SUM(PL.Qty) As TotQty
		FROM [W005].[dbo].[tmpShipPackingList] PL 
			INNER JOIN [W005].[dbo].[ShipItem] I  ON I.ItemId=PL.ItemId
			INNER JOIN [W005].[dbo].[ShipBox] B ON I.ShipBoxId=B.Id AND B.Id=PL.ShipBoxId
		WHERE DoNotAddToPL=0 AND PLNo=@PLNo
		GROUP BY PL.ItemId,PL.Location,I.TravLotNum



END
GO
