USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spFreezerListByLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFreezerListByLocId] 
			@LocId as Varchar(10)
AS
BEGIN

--DECLARE @LocId as Varchar(10)='INVDTN'

	SELECT DISTINCT [cf_Physical Location]
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	WHERE [cf_Bin Type]='FREEZER' AND LocId=@LocId



END

GO
