USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWcpkExportData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by WEBSlitWidth
	Returns all test data for cpk data export in the date range @StartDate to @EndDate
	Note: cpk export data criteria: END of SET test type, Max Id for each spool tested
*/

CREATE PROCEDURE [dbo].[spSWcpkExportData]
	@Traverse bit, -- 1/true if test data for Traverse mfg; 0/false if test data for Polaris mfg
	@StartDate datetime, @EndDate datetime
	

AS
BEGIN

--DECLARE @Traverse bit = 0
--DECLARE @StartDate datetime = '1/1/19'
--DECLARE @EndDate datetime = '5/15/19'


DECLARE @Output TABLE (ProdOrderNo varchar(8), ReleaseNo int, WorkOrder int, OperationID int,SetID int, SpoolNo int,CustId varchar(10),CustomerName varchar(30),PolarisCustomerId int,PolarisCustomerName varchar(50)
			,InvDescription varchar(50), ItemId varchar(24), PolarisPartNum varchar(30),Machine varchar(25),PolarisMachineNum int,MachineGroupId varchar(10),NumCuts int,ProdSpecId int,ProdSpecDesc varchar(70)
			,SWTolerancePlus decimal(20,10),SWToleranceMinus decimal(20,10), SWToleranceTarget decimal(20,10), SWToleranceMin decimal(20,10), SWToleranceMax decimal(20,10)
			,Batch varchar(25),TestTypeName varchar(50), SampleNo int,[Level] varchar(8), MeanMM decimal(20,10),MeanIN decimal(20,10),MeanOOT bit,SpoolRejected bit, DataComplete bit
			,TestDate datetime, MMPos1 decimal(20,10),MMPos2 decimal(20,10),MMPos3 decimal(20,10),MMPos4 decimal(20,10),MMPos5 decimal(20,10),INPos1 decimal(20,10),INPos2 decimal(20,10),INPos3 decimal(20,10),INPos4 decimal(20,10),INPos5 decimal(20,10)
			,OOTPos1 bit,OOTPos2 bit,OOTPos3 bit, OOTPos4 bit,OOTPos5 bit,HandlingDamageRetest bit, MaterialIssueRetest bit,ImproperSampleInstallationRetest bit, UserId varchar(5)
			,TestedByName varchar(50),GageId varchar(25),GageName varchar(50),Plant varchar(3))
----------------------------------------- 
IF @Traverse = 1 -- Data from Traverse Mfg
BEGIN
	DECLARE @tgddId int, @SpoolNo int, @TGHId int
	DECLARE iCur CURSOR  
	FOR
		SELECT MAX(tgdd.Id) AS tgddId, tgdd.SpoolNo, tgh.Id As TestGroupHdrId
		FROM [W005].[dbo].[SW_TestGroupHdr] tgh 
			INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
		WHERE tgh.TestGroupName = 'END of SET' AND tgdd.TestDate BETWEEN @StartDate and @EndDate 
			AND tgdd.SampleNo is not null AND tgdd.TestLevel is not null
			AND tgdd.SpoolNo > 0 /* Do not use Toray Pin data (SpoolNo=0) for cp/cpk */
		GROUP BY tgdd.SpoolNo, tgh.Id 
 
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @tgddId, @SpoolNo, @TGHId
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		INSERT INTO @Output 
		SELECT 
			th.ProdOrderNo
			,th.ReleaseNo
			,th.WorkOrder
			,th.OperationID
			,th.SetID
			,tgdd.SpoolNo
			,th.CustId
			,th.CustomerName
			,0 As PolarisCustomerID
			,'' As PolarisCustomerName
			,th.InvDescription
			,th.ItemId
			,'' As PolarisPartNum
			,'' As Machine
			,0 As PolarisMachineNum
			,th.MachineGroupId
			,th.NumCuts
			, 0 As ProdSpecID
			,'' As ProdSpecDesc
			,th.SWTolerance_Plus
			,th.SWTolerance_Minus
			,th.SWTolerance_Target
			,th.SWTolerance_Min
			,th.SWTolerance_Max
			,IIF(th.Batch2 is Null, th.Batch + th.BatchSuffix, th.Batch + th.BatchSuffix + 'Z') As Batch
			,TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
			,tgdd.SampleNo
			,IIF(tgdd.TestLevel =1,'Initial','Retest') AS [Level]
			,tgdd.MeanMM
			,tgdd.MeanIN
			,tgdd.MeanOOT
			,tgdd.SpoolRejected
			,tgdd.DataComplete
			,tgdd.TestDate
			,tgdd.MMPos1,tgdd.MMPos2,tgdd.MMPos3,tgdd.MMPos4,tgdd.MMPos5
			,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
			,tgdd.OOTPos1,tgdd.OOTPos2,tgdd.OOTPos3,tgdd.OOTPos4,tgdd.OOTPos5
			,tgdd.HandlingDamageRetest
			,tgdd.MaterialIssueRetest
			,tgdd.ImproperSampleInstallationRetest
			,tgdd.UserId
			,tgdd.TestedByName
			,tgdd.GageId
			,tgdd.GageName
			,th.CompID as Plant
		FROM [W005].[dbo].[SW_TestHdr] th
			 INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
			 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
		WHERE tgh.Id=@TGHId AND tgdd.Id = @tgddId

	FETCH NEXT FROM iCur INTO @tgddId, @SpoolNo, @TGHId
	END
	CLOSE iCur  
	DEALLOCATE iCur 
END
-----------------------------------------
IF @Traverse = 0  -- Data from Polaris Mfg
BEGIN
	DECLARE @WO int
	DECLARE iCur CURSOR  
	FOR
		SELECT MAX(tgdd.Id) AS tgddId, tgdd.SpoolNo, tgh.Id As TestGroupHdrId
		FROM [W005].[dbo].[SW_TestGroupHdr] tgh 
			INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
		WHERE tgh.TestGroupName = 'END of SET' AND tgdd.TestDate BETWEEN @StartDate and @EndDate 
			AND tgdd.SampleNo is not null AND tgdd.TestLevel is not null
			AND tgdd.SpoolNo > 0 /* Do not use Toray Pin data (SpoolNo=0) for cp/cpk */
		GROUP BY tgdd.SpoolNo, tgh.Id 
 
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @tgddId, @SpoolNo, @TGHId
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		INSERT INTO @Output 
		SELECT 
			th.ProdOrderNo
			,th.ReleaseNo
			,th.WorkOrder
			,th.OperationID
			,th.SetID
			,tgdd.SpoolNo
			,0 As CustId
			,'' As CustomerName
			,th.PolarisCustomerId
			,th.PolarisCustomerName
			,th.InvDescription
			,th.ItemId
			,th.PartNum As PolarisPartNum
			,th.Machine
			,th.PolarisMachineNum
			,'' As MachineGroupId
			,th.NumCuts
			,th.ProdSpecID
			,th.ProdSpecDesc
			,th.SWTolerance_Plus
			,th.SWTolerance_Minus
			,th.SWTolerance_Target
			,th.SWTolerance_Min
			,th.SWTolerance_Max
			,IIF(th.Batch2 is Null, th.Batch + th.BatchSuffix, th.Batch + th.BatchSuffix + 'Z') As Batch
			,TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
			,tgdd.SampleNo
			,IIF(tgdd.TestLevel =1,'Initial','Retest') AS [Level]
			,tgdd.MeanMM
			,tgdd.MeanIN
			,tgdd.MeanOOT
			,tgdd.SpoolRejected
			,tgdd.DataComplete
			,tgdd.TestDate
			,tgdd.MMPos1,tgdd.MMPos2,tgdd.MMPos3,tgdd.MMPos4,tgdd.MMPos5
			,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
			,tgdd.OOTPos1,tgdd.OOTPos2,tgdd.OOTPos3,tgdd.OOTPos4,tgdd.OOTPos5
			,tgdd.HandlingDamageRetest
			,tgdd.MaterialIssueRetest
			,tgdd.ImproperSampleInstallationRetest
			,tgdd.UserId
			,tgdd.TestedByName
			,tgdd.GageId
			,tgdd.GageName
			,th.CompID as Plant
		FROM [W005].[dbo].[SW_TestHdr] th
			 INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
			 INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			 INNER JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
		WHERE tgh.Id=@TGHId AND tgdd.Id = @tgddId

	FETCH NEXT FROM iCur INTO  @tgddId, @SpoolNo, @TGHId
	END
	CLOSE iCur  
	DEALLOCATE iCur 
END
-------------------------------------------------

SELECT * FROM @Output


	 
END
GO
