USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSearchShipCartonGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSearchShipCartonGrid] @FromDt as Datetime, @ThruDt as Datetime
AS
BEGIN
	SELECT C.[Id] AS ShipCartonId
		  ,C.[ShipCartonNo]
		  ,C.[Complete] AS CartonComplete
		  ,C.[NotForShipment] AS CartonNotForShipment
		  ,C.[Shipped] AS CartonShipped
		  ,C.[DateCreated] AS CartonDateCreated
		  ,P.[Id] AS PalletId
		  ,IsNull(P.[ShipPalletNo], 'N/A') AS ShipPallet
		  ,P.[Complete] AS PalletComplete
		  ,B.[Id] AS BoxId
		  ,IsNull(B.[ShipBoxNo], 'N/A') as ShipBox
		  ,B.[Complete] AS BoxComplete
		  ,I.[ItemId] 
		  ,I.[SerNo]
		  ,I.[LotNo]
			,I.[TravLotNum]
		  ,I.[Quantity]
		  ,I.[UOM]
		  ,I.[AdditionalLotNo]
		  ,I.[ProdOrderNo]
		  ,I.[ProdOrderRelNo]
			,D.PLNo AS PackingListNo
			,D.OrderNo AS SalesOrderNo
	  FROM [W005].[dbo].[ShipCarton] AS C INNER JOIN
		   [W005].[dbo].[ShipItem] AS I ON I.ShipCartonId = C.Id LEFT JOIN
		   [W005].[dbo].[ShipPallet] AS P ON P.Id = I.ShipPalletId AND P.Deleted = 0 LEFT JOIN
		   [W005].[dbo].[ShipBox] AS B ON B.Id = I.ShipBoxId AND B.Deleted = 0 LEFT JOIN
			 [W005].[dbo].[vShipPackList] AS D ON (D.ShipPalletId = P.Id OR D.ShipCartonId = C.Id OR D.ShipBoxId = B.Id OR D.ShipItemId = I.Id) 
	  WHERE C.Deleted = 0 AND C.[DateCreated] >= @FromDt AND C.[DateCreated] < @ThruDt
END
GO
