USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIMaterialDetailForLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIMaterialDetailForLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

/*TEST DATA*/
--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00000160'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId int = 1442 /* 1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457  */

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL
END

SELECT DISTINCT	 COREI.Layers
				,MaterialType = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=COREI.ItemId) --uses Raw Material Description
				,LotRollNo = COREI.TravLotNum

FROM [W005].[dbo].[CCIOrderReleaseInfo] AS CORI
	 INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS COREI ON COREI.OrderNo=CORI.ParentOrderNo AND IsAssembly=0
WHERE CORI.OrderNo=@OrderNo AND CORI.ReleaseNo=@ReleaseNo 
END
GO
