USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialCartonsByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetPartialCartonsByItemOrdNoRelNo]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)= 'PET-2-2.000-6P'
--declare @LocId as varchar(10) = 'INVENTORY'
--declare @OrderNo as varchar(8) = '00040119'
--declare @ReleaseNo as int = 1

DECLARE @DoNotPackMixedOrdNoRelNo as bit
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
FROM [W005].[dbo].[ProductChar] Pc 
	inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)


select * 
into #T1 
from
(SELECT  C.ShipCartonNo As PkgId,SUM(I.Quantity) As Quantity,C.Id, Count(I.Id) As NoPacked, C.IsPacked,C.TareWt,@DoNotPackMixedOrdNoRelNo AS bTarget,C.CartonItemId
	FROM [W005].[dbo].[ShipCarton] As C 
		inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId  AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND C.Complete=0
	GROUP BY C.Id,C.ShipCartonNo, C.IsPacked,C.TareWt,CartonItemId
)A


select * 
into #T3 
from (select distinct count(sb.Id) as BoxesPacked,#T1.Id from [W005].dbo.ShipBox as sb inner join #T1 on #T1.Id = sb.ShipCartonId and #T1.CartonItemId = sb.BoxItemId group by #t1.Id) A

select PkgId,Quantity,#T1.Id
	,iif((select count(BoxesPacked) from #T3 where Id = #T1.ID) = 0,#T1.NoPacked,(select BoxesPacked from #T3 where Id = #T1.ID)) as NoPacked
	,#T1.IsPacked
	,#T1.TareWt
	,bTarget 
from #T1 


drop table #T1
drop table #T3
	

END
GO
