USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetTraverseItemIdFromVendorItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which matches vendor part ID to its Traverse Item ID
CREATE PROCEDURE [dbo].[GetTraverseItemIdFromVendorItemId](@VendorItemID varchar(24), @Location varchar(10), @CustomerRevisionNumber varchar(50))
AS
	SELECT 
		detail.ComponentID
	FROM [005].dbo.tblInItemAlias itemAlias
	LEFT JOIN [005].dbo.trav_tblMbAssemblyHeader_view headerView ON headerView.AssemblyId = itemAlias.ItemID
	LEFT JOIN [005].dbo.tblMbAssemblyDetail detail ON detail.HeaderId = headerView.Id
	LEFT JOIN [005].dbo.tblInItemLoc itemLoc ON itemLoc.ItemId = detail.ComponentId
		WHERE itemAlias.AliasID = @VendorItemID AND itemAlias.AliasType = 1 AND headerView.[cf_Customer Revision No] = @CustomerRevisionNumber AND itemLoc.LocId = @Location 
				AND SUBSTRING(itemLoc.GLAcctCode,1,1) IN ('1','2','3')
GO
