USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetBaseDfltQtyUom]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --=============================================
 --Author:		<L. Melendez>
 --Create date: <5/16/2019>
 --Modify date: <9/19/2025>
 --Description:	<Gets base qty/uom and default qty/uom for any material>
 --=============================================
CREATE PROCEDURE [dbo].[spGetBaseDfltQtyUom] @ItemId AS VARCHAR(25), @SerialNo AS VARCHAR(35), @LotNo AS VARCHAR(16), @LocId AS VARCHAR(10)
AS
BEGIN

--DECLARE @ItemId as varchar(25) =  'RO-RM-DISC-18X18X10'
--DECLARE @SerialNo as varchar(35) = ''
--DECLARE @LotNo AS VARCHAR(16) = ''
--DECLARE @LocId as varchar(10) = 'RW_HOL_INV'
 

  DECLARE @ItemType as varchar(16)
  SET @ItemType =	(SELECT IIF([cf_Multi-UOM Serial Item]='true', 'Multi-UOM', IIF(ItemType=2,'Serialized', IIF(LottedYN=1, 'Lotted', 'NonLotNonSer'))) 
					FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=@ItemId)


	IF @ItemType = 'Serialized' --Serialized
	BEGIN
	SELECT TOP 1	I.ItemId,
					S.SerNum,
					LotNum = S.LotNum,
					LocId = @LocId,
					BaseQty = CAST(1 AS decimal),
					BaseUom = I.UomBase,
					DfltQty = CAST(1 AS decimal),
					DfltUom = I.UomDflt,
					ItemType = @ItemType
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[tblInItemSer] AS S ON S.ItemId=@ItemId AND S.LocId=@LocId AND S.SerNum=@SerialNo
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId, S.Sernum,S.LotNum,I.UomBase, I.UomDflt
	END
	ELSE IF @ItemType = 'Multi-UOM' --Multi-UOM
	BEGIN	
	SELECT TOP 1	I.ItemId,
					L.LotNum AS SerNum,
					L.LotNum,
					LocId = @LocId,
					BaseQty = L.QtyOnHand,
					BaseUom = I.UomBase,
					DfltQty = (SELECT IIF((ConvFactor is Null) OR (ConvFactor=0), Null, CAST((L.QtyOnHand / ConvFactor) AS FLOAT)) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = i.UomDflt),
					DfltUom = I.UomDflt,
					ItemType = @ItemType
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] AS L ON L.ItemId=@ItemId AND L.LocId=@LocId AND L.LotNum=@SerialNo
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId, L.LotNum, L.QtyOnHand, I.UomBase, I.UomDflt
	END
	ELSE IF @ItemType = 'Lotted' --Lotted
	BEGIN	
	SELECT TOP 1	I.ItemId,
					SerNum = NULL,
					L.LotNum,
					LocId = @LocId,
					BaseQty = L.QtyOnHand,
					BaseUom = I.UomBase,
					DfltQty = (SELECT IIF((ConvFactor is Null) OR (ConvFactor=0), Null, CAST((L.QtyOnHand / ConvFactor) AS FLOAT)) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = i.UomDflt),
					DfltUom = I.UomDflt,
					ItemType = @ItemType
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] AS L ON L.ItemId=@ItemId AND L.LocId=@LocId AND L.LotNum=@LotNo
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId, L.LotNum, L.QtyOnHand, I.UomBase, I.UomDflt
	END
	ELSE IF @ItemType = 'NonLotNonSer' --NonLotNonSer
	BEGIN	
	SELECT TOP 1	I.ItemId,
					SerNum = NULL,
					L.LotNum,
					LocId = @LocId,
					BaseQty = L.QtyOnHand,
					BaseUom = I.UomBase,
					DfltQty = (SELECT IIF((ConvFactor is Null) OR (ConvFactor=0), Null, CAST((L.QtyOnHand / ConvFactor) AS FLOAT)) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = i.UomDflt),
					DfltUom = I.UomDflt,
					ItemType = @ItemType
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] AS L ON L.ItemId=@ItemId AND L.LocId=@LocId
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId, L.LotNum, L.QtyOnHand, I.UomBase, I.UomDflt
	END


END
GO
