USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingPackListCofCRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spConvertingPackListCofCRpt] @PLNo AS INT, @OrderNo AS varchar(8) 
AS
BEGIN 

--DECLARE @PLNo AS INT = 30960 
--DECLARE @OrderNo AS varchar(8) = '00040057'  

IF @OrderNo = '' OR LEN(@OrderNo) = 0
BEGIN
	SELECT DISTINCT		
			SPL.PLNo 
			,SalesOrder = SPL.OrderNo
			,SPL.ShipDate
			,PONum = IIF(SPLSO.CustPONum = '', SPL.CustPO, ISNULL(SPLSO.CustPONum, SPL.CustPO))
			,SPL.CustName
			,I.Descr
			,CustPN = IsNull((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE ItemID = SPLD.ItemId AND RefID = SPL.CustId AND AliasType = 1),'')
			,WebProdOrder = ORE.OrderNo
			,DOMDt = CASE IsNULL((SELECT sTarget 
							FROM [w005].dbo.CustomerChar AS Cust INNER JOIN
									[w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
							WHERE CC.Characteristic = 'Conv_CofC_DOM' AND Cust.CustId = SPL.CustId),'')
					WHEN 'EndMFG' THEN (SELECT MIN(EventEnd) FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=ORE.OrderNo AND [Event] = 'End Manufacturing')
					WHEN 'OrderClose' THEN (SELECT MIN(EventEnd) FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=ORE.OrderNo AND [Event] = 'Order Closing')
					ELSE '1/1/1900'
					END
			,MfdQty = (SELECT SUM(TotalQty) FROM [w005].dbo.OrderReleaseEventItem WHERE OrderReleaseEventId IN 
											(SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] WHERE OrderNo = ORE.OrderNo) and IsAssembly=1)
			,MfdUOM = OREI.UOM
			,SpecificationNo = IsNull((SELECT cf_Spec FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemID = SPLD.ItemId AND RefID = SPL.CustId AND AliasType = 1),'')
			,ShowDOM = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_DOM' AND CC.CustId=SPL.CustId)
			,ShowMfdQty = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_MFGQty' AND CC.CustId=SPL.CustId)
			,ShowComponentBatch = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_ComponentDtl' AND CC.CustId=SPL.CustId)
			,ShowISOStatement = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_ISO' AND CC.CustId=SPL.CustId)
			,ShowSpecNo = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_Spec' AND CC.CustId=SPL.CustId)
			,CertStatement =  IIF((SELECT bTarget 
									FROM [w005].dbo.CustomerChar AS Cust INNER JOIN
											[w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId   
									WHERE CC.Characteristic = 'Conv_CofC_CertStatement' AND Cust.CustId = SPL.CustId) = 1
									,(SELECT [cf_Cert Statement] FROM [005].[dbo].[trav_tblArCust_View] WHERE CustId = SPL.CustId)
									,'THIS DOCUMENT CERTIFIES THAT THE PRODUCTS AND/OR SERVICES CONTAINED IN THIS SHIPMENT HAVE BEEN MANUFACTURED AND PROCESSED IN ACCORDANCE WITH THE REQUIREMENTS OF CUSTOMER PURCHASE ORDER NUMBER AND/OR SPECIFICATION RECORDED ABOVE.'
										+ '  RECORDS ARE MAINTAINED BY WEB INDUSTRIES FOR ALL MANUFACTURING AND QUALITY OPERATIONS.')
			,ISOStatement = IIF((SELECT sTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
										WHERE CC.Characteristic = 'Conv_CofC_ISO' AND Cust.CustId = SPL.CustId) is null
								,''
								,'QUALITY MANAGEMENT SYSTEM COMPLIANT WITH ' + (SELECT sTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
																				WHERE CC.Characteristic = 'Conv_CofC_ISO' AND Cust.CustId = SPL.CustId) + ' AT THE TIME OF SHIPMENT.')
		,ComponentItemId = ISNULL(A.AliasId, rmOREI.ItemId)
		,ComponentBatchNo = IIF(ISNULL((SELECT bTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
											WHERE CC.Characteristic = 'Conv_CofC_ComponentDtl' AND Cust.CustId = SPL.CustId),0) = 1
									,IIF(IsNULL(I.[cf_Out-Time Tracked],0) = 0
										,STUFF /* Non-OT Tracked */
											(
												(
													SELECT DISTINCT ', ' + LotNo
													FROM [W005].[dbo].[OrderReleaseEventItem] 
													WHERE OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = ORE.OrderNo)
															AND IsAssembly= 0 AND ItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											)
										,STUFF /* OT Tracked */
											(
												(
													SELECT DISTINCT ',' + RMLotNo
													FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime]  
													WHERE FGItemId =  OREI.ItemId AND (FGTravSerNum = OREI.TravSerNum OR FGTravLotNum = OREI.TravLotNum OR FGTravLotNum = OREI.LotNo)
															AND RMItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											))
									,'') 
	FROM [w005].dbo.ShipPackingList SPL
		 INNER JOIN [w005].dbo.ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = SPLD.ItemId
		 LEFT JOIN [w005].dbo.OrderReleaseEventItem OREI ON OREI.ItemId=SPLD.ItemId AND (OREI.TravSerNum=SPLD.SerialNo OR OREI.TravLotNum = SPLD.TravLotNum OR OREI.TravLotNum = SPLD.LotNo)
		 LEFT JOIN [w005].dbo.OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId 
		 LEFT JOIN [w005].dbo.ShipPackingListSOLine SPLSO ON SPLSO.PLNo=SPL.PLNo AND SPLSO.ItemId=SPLD.ItemId AND SPLD.SPLSOLineId=SPLSO.SOLine 
		
		INNER JOIN [W005].[dbo].OrderReleaseEvent rmORE ON rmORE.OrderNo = ORE.OrderNo
		INNER JOIN [W005].[dbo].OrderReleaseEventItem rmOREI ON rmOREI.OrderReleaseEventId = rmORE.Id AND rmOREI.IsAssembly = 0
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = rmOREI.ItemId AND L.LocId = rmOREI.LocId AND SUBSTRING(L.GLAcctCode,1,1) in ('1','2','3', '7', '8')
		LEFT JOIN [005].dbo.tblInItemAlias A on A.ItemID = rmOREI.ItemId AND A.RefID = SPL.CustId
	WHERE SPL.PLNo = @PLNo
	GROUP BY SPL.PLNo, SPL.OrderNo, SPL.ShipDate, SPLSO.CustPONum, SPLSO.CustPONum, SPL.CustPO, ORE.OrderNo, 
		 SPL.CustName, I.Descr,SPLD.ItemId, SPL.CustId,OREI.UOM,
		 SPLD.CustomerPN, SPLD.ItemDescr,OREI.ItemId,OREI.TravSerNum, OREI.TravLotNum,I.[cf_Out-Time Tracked]
		 ,A.AliasId, rmOREI.ItemId,OREI.LotNo
END ELSE
BEGIN 
	SELECT DISTINCT		
			PLNo = 0
			,SalesOrder = ''
			,ShipDate = null
			,PONum = ''
			,arC.CustName
			,I.Descr
			,CustPN = IsNull((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE ItemID = OREI.ItemId AND RefID = arC.CustId AND AliasType = 1),'')
			,WebProdOrder = ORE.OrderNo
			,DOMDt = CASE IsNULL((SELECT sTarget 
							FROM [w005].dbo.CustomerChar AS Cust INNER JOIN
									[w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
							WHERE CC.Characteristic = 'Conv_CofC_DOM' AND Cust.CustId = arC.CustId),'')
					WHEN 'EndMFG' THEN (SELECT MIN(EventEnd) FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=ORE.OrderNo AND [Event] = 'End Manufacturing')
					WHEN 'OrderClose' THEN (SELECT MIN(EventEnd) FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=ORE.OrderNo AND [Event] = 'Order Closing')
					ELSE '1/1/1900'
					END
			,MfdQty = SUM(OREI.TotalQty)
			,MfdUOM = OREI.UOM
			,SpecificationNo = IsNull((SELECT cf_Spec FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemID = OREI.ItemId AND RefID = arC.CustId AND AliasType = 1),'')
			,ShowDOM = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_DOM' AND CC.CustId=arC.CustId)
			,ShowMfdQty = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_MFGQty' AND CC.CustId=arC.CustId)
			,ShowComponentBatch = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_ComponentDtl' AND CC.CustId=arC.CustId)
			,ShowISOStatement = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_ISO' AND CC.CustId=arC.CustId)
			,ShowSpecNo = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) 
									FROM [w005].dbo.CustomerChar CC INNER JOIN [w005].dbo.CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'Conv_CofC_Spec' AND CC.CustId=arC.CustId)
			,CertStatement =  IIF((SELECT bTarget 
									FROM [w005].dbo.CustomerChar AS Cust INNER JOIN
											[w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
									WHERE CC.Characteristic = 'Conv_CofC_CertStatement' AND Cust.CustId = arC.CustId) = 1
									,(SELECT [cf_Cert Statement] FROM [005].[dbo].[trav_tblArCust_View] WHERE CustId = arC.CustId)
									,'THIS DOCUMENT CERTIFIES THAT THE PRODUCTS AND/OR SERVICES CONTAINED IN THIS SHIPMENT HAVE BEEN MANUFACTURED AND PROCESSED IN ACCORDANCE WITH THE REQUIREMENTS OF CUSTOMER PURCHASE ORDER NUMBER AND/OR SPECIFICATION RECORDED ABOVE.'
										+ '  RECORDS ARE MAINTAINED BY WEB INDUSTRIES FOR ALL MANUFACTURING AND QUALITY OPERATIONS.')
			,ISOStatement = IIF((SELECT sTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId  
										WHERE CC.Characteristic = 'Conv_CofC_ISO' AND Cust.CustId = arC.CustId) is null
								,''
								,'QUALITY MANAGEMENT SYSTEM COMPLIANT WITH ' + (SELECT sTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
																				WHERE CC.Characteristic = 'Conv_CofC_ISO' AND Cust.CustId = arC.CustId) + ' AT THE TIME OF SHIPMENT.')
			,ComponentItemId = ISNULL(A.AliasId, rmOREI.ItemId)
			,ComponentBatchNo = IIF(ISNULL((SELECT bTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
											WHERE CC.Characteristic = 'Conv_CofC_ComponentDtl' AND Cust.CustId = IsNULL(mpOR.CustId,mpHOR.CustId)),0) = 1
									,IIF(IsNULL(I.[cf_Out-Time Tracked],0) = 0
										,STUFF /* Non-OT Tracked */
											(
												(
													SELECT DISTINCT ', ' + LotNo
													FROM [W005].[dbo].[OrderReleaseEventItem] 
													WHERE OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = ORE.OrderNo)
															AND IsAssembly= 0 AND ItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											)
										,STUFF /* OT Tracked */
											(
												(
													SELECT DISTINCT ',' + RMLotNo
													FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime]  
													WHERE FGItemId =  OREI.ItemId AND (FGTravSerNum = OREI.TravSerNum OR FGTravLotNum = OREI.TravLotNum OR FGTravLotNum = OREI.LotNo)
															AND RMItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											))
									,'') 
	FROM [W005].[dbo].OrderReleaseEvent ORE
		INNER JOIN [W005].[dbo].OrderReleaseEventItem OREI ON ORE.Id=OREI.OrderReleaseEventId AND OREI.IsAssembly = 1
		INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = OREI.ItemId
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] mpOR ON mpOR.Orderno=ORE.OrderNo AND mpOR.ReleaseNo = 1
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] mpHOR on mpHOR.OrderNo = ORE.OrderNo AND mpHOR.ReleaseNo = 1
		LEFT JOIN [005].[dbo].[tblArCust] arC ON arC.CustId = IsNULL(mpOR.CustId,mpHOR.CustId)

		INNER JOIN [W005].[dbo].OrderReleaseEvent rmORE ON rmORE.OrderNo = ORE.OrderNo
		INNER JOIN [W005].[dbo].OrderReleaseEventItem rmOREI ON rmOREI.OrderReleaseEventId = rmORE.Id AND rmOREI.IsAssembly = 0
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = rmOREI.ItemId AND L.LocId = rmOREI.LocId AND SUBSTRING(L.GLAcctCode,1,1) in ('1','2','3', '7', '8')
		LEFT JOIN [005].dbo.tblInItemAlias A on A.ItemID = rmOREI.ItemId AND A.RefID = IsNULL(mpOR.CustId,mpHOR.CustId)
	WHERE ORE.OrderNo = @OrderNo
	GROUP BY arC.CustName,arc.CustId, I.Descr, ORE.OrderNo,OREI.UOM,OREI.ItemId,OREI.TravSerNum, OREI.TravLotNum,I.[cf_Out-Time Tracked]
		 ,A.AliasId, rmOREI.ItemId,OREI.LotNo,mpOR.CustId,mpHOR.CustId

END

END
GO
