USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLottedPullMfgToBeFinalized]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLottedPullMfgToBeFinalized] @Site AS VARCHAR(3)
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @Site AS VARCHAR(3) = 'MTP'

SELECT DISTINCT 
				PalletId = P.Id,
				P.ShipPalletNo,
				PalletComplete = P.Complete, 
				CartonId = C.Id,
				C.ShipCartonNo,
				CartonComplete = C.Complete,
				I.ItemId, 
				Quantity = SUM(I.Quantity), 
				I.UOM, 
				NoRolls = SUM(I.NoRolls), 
				MfrDate = P.DateCreated, 
                LocId = I.Location, 
				I.TravLotNum,
				LotNo = STUFF
                        ((SELECT DISTINCT '/' + SI.LotNo
									FROM [W005].[dbo].[ShipItem] AS SI
									WHERE SI.ShipCartonId=C.Id AND SI.Deleted = 0 AND (SI.Issued = 0) 
										  AND (SI.UsedByProduction = 0) AND (SI.PhantomAdjOut = 0) 
							FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, ''), 
				OpInit = STUFF
                        ((SELECT DISTINCT '/' + SI.OpInit
									FROM [W005].[dbo].[ShipItem] AS SI
									WHERE SI.ShipCartonId=C.Id AND SI.Deleted = 0 AND (SI.Issued = 0) 
										  AND (SI.UsedByProduction = 0) AND (SI.PhantomAdjOut = 0) 
							FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '')

FROM   [W005].[dbo].[ShipPallet] P 
		INNER JOIN [W005].[dbo].[ShipCarton] C ON C.ShipPalletId=P.Id
		INNER JOIN [W005].[dbo].[ShipItem] I ON I.ShipCartonId=C.Id AND (I.Location LIKE '%'+@Site)
		INNER JOIN [005].[dbo].[tblInItem] N ON I.ItemId=N.ItemId

WHERE	I.PostedToTraverse = 0 AND I.ReadyToPost=0 AND (I.Deleted = 0) AND (I.Issued = 0)  
		AND (I.UsedByProduction = 0) AND (I.PhantomAdjOut = 0)
		AND (P.Shipped = 0) AND P.Deleted=0 AND P.UsedByProduction=0 AND P.PhantomAdjOut=0 
		AND I.ItemId IN (SELECT H.AssemblyId		
							FROM [005].[dbo].[tblMbAssemblyHeader] As H 
								 INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId
							WHERE R.OperationId = 'LPM' + @Site
								  AND H.RevisionNo IN
											(SELECT MAX(M.RevisionNo)
											FROM  [005].[dbo].[tblMbAssemblyHeader] as M
											WHERE M.AssemblyId=H.AssemblyId))		
		
GROUP BY P.Id, P.Complete, P.ShipPalletNo, C.Id, C.ShipCartonNo, C.Complete, I.PostedToTraverse, P.DateCreated, I.TravLotNum, I.ItemId, I.UOM, I.Location
ORDER  BY ShipPalletNo DESC

END
GO
