USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetProgramMfgGroupRawMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetProgramMfgGroupRawMaterial] @iProgramId as int, @iMfgGrpId as int
AS
BEGIN
	SELECT DISTINCT P.Id as ProgramId, P.ProgramName AS Program, K.CCIManufacturingGroupId, D.ComponentID, CAST(0 AS bit) AS IsUsedOnCutFile
	FROM    
   			[W005].dbo.CCIManufacturingGroupKit K INNER JOIN
			[005].dbo.tblMbAssemblyHeader H ON H.Id = K.TravAssemblyHeaderId INNER JOIN
			[005].dbo.tblMbAssemblyRouting AS R ON R.HeaderId = H.Id INNER JOIN
			[005].dbo.tblMbAssemblyDetail AS D ON D.HeaderId = H.Id AND D.RoutingId = R.Id INNER JOIN
			[005].dbo.trav_tblInItem_view II ON II.ItemId = H.AssemblyId INNER JOIN		        
			[W005].dbo.Program AS P ON P.ProgramName = II.[cf_FG Program] 
	WHERE K.CCIManufacturingGroupId = @iMfgGrpId AND P.Id = @iProgramId AND (R.MachineGroupId <> 'NO MACHINE') AND LEN(R.MachineGroupId) = 3 AND (D.DetailType <> 5)
END
GO
