USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetSQLUniqueIdentifier]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetSQLUniqueIdentifier]
AS
BEGIN
	SELECT NEWID() AS UniqueID;
END
GO
