USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExtrAdjMachAndLaborHrs]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExtrAdjMachAndLaborHrs]
	@ShipPalletNo as varchar(10)
	
	-- NOTE: This sp obtains total Machine Hrs and Labor Hrs for adjusted pallet=@ShipPalletNo records 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--DECLARE @ShipPalletNo as varchar(10) = 'P000163040' -- 'P000163596'
	
	SELECT  SUM(A.MachineHrs) as TotMachHrs, SUM(A.LaborHrs) as TotLaborHrs
	FROM
		(
		SELECT DISTINCT O.ReleaseNo, MachineHrs = (TD.[MachineSetup] + TD.[MachineRun]),
				LaborHrs = (TD.[LaborSetup] + TD.[Labor])
		FROM
			[W005].[dbo].[ShipPallet] P 
			INNER JOIN [W005].[dbo].[ShipItem] I ON I.ShipPalletId = P.Id AND P.ShipPalletNo=@ShipPalletNo
			INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] O ON O.OrderNo = I.ProdOrderNo AND O.ReleaseNo = I.ProdOrderRelNo
			INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.ReleaseId = O.ReleaseId AND R.IndLevel=1 
			INNER JOIN [005].[dbo].[tblMpHistoryTimeDtl] TD ON TD.TransId=R.TransId
		UNION ALL
		SELECT  DISTINCT O.ReleaseNo, MachineHrs = (TD.[MachineSetup] + TD.[MachineRun]),
				LaborHrs = (TD.[LaborSetup] + TD.[Labor])
		FROM
			[W005].[dbo].[ShipPallet] P 
			INNER JOIN [W005].[dbo].[ShipItem] I ON I.ShipPalletId = P.Id AND P.ShipPalletNo=@ShipPalletNo
			INNER JOIN [005].[dbo].[tblMpOrderReleases] O ON O.OrderNo = I.ProdOrderNo AND O.ReleaseNo = I.ProdOrderRelNo
			INNER JOIN [005].[dbo].[tblMpRequirements] R ON R.ReleaseId = O.Id AND R.IndLevel=1 
			INNER JOIN [005].[dbo].[tblMpTimeDtl] TD ON TD.TransId=R.TransId
			) A






END


GO
