USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLaborTimeGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spLaborTimeGrid]  @OrderNo AS varchar(8), @RelNo as int, @FGItemId varchar(24)
AS
BEGIN

--DECLARE @OrderNo AS varchar(8) = '00049763'
--DECLARE @RelNo as int = 2
--DECLARE @FGItemId varchar(24) = 'IM-cadccorl-n3p'


	SELECT DISTINCT 
			FGItemId = @FGItemId
			,ORE.Event
			,Employee = E.FirstName + ' ' + E.LastName
			,L.ClockIn
			,ClockOut = L.ClockOut
			,LaborDuration = IsNull(L.ClockInDurationMin, 0) / 60

	FROM [W005].[dbo].OrderReleaseEvent ORE
		LEFT JOIN [W005].[dbo].[OrderReleaseEventLabor] L ON L.OrderReleaseEventId = ORE.Id
		LEFT JOIN [005].[dbo].[tblSmEmployee] E ON E.EmployeeId = L.EmployeeId
	WHERE ORE.OrderNo = @OrderNo AND ORE.ReleaseNo = @RelNo AND (L.ClockIn is not null)


END
GO
