USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountLottedItemData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetInventoryCountLottedItemData]
	@ItemId varchar (24), @TravLotNum as varchar(16)
AS
BEGIN

--DECLARE @ItemId varchar (24) = 'FG-CADC1003-TDT '
--DECLARE @TravLotNum as varchar(16) =  '013118'   

	SELECT DISTINCT I.LocId As Location, I.ItemId,ii.Descr,  SUM(QtyOnHand) as TotalQty, U.Uom
	FROM [005].[dbo].trav_InItemOnHandLot_view I 
		INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=I.ItemId 
		INNER JOIN [005].[dbo].[tblInItemUom] As U ON U.ItemId=I.ItemId AND U.ConvFactor=1
	WHERE I.ItemId=@ItemId AND LotNum = @TravLotNum
	GROUP BY I.LocId, I.ItemId, ii.Descr, U.Uom



END

GO
