USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExtrPartialPalletsByItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetExtrPartialPalletsByItem]
	@AssemblyId as varchar(24)
AS
BEGIN

--DECLARE @AssemblyId as varchar(24) = 'SB-BK-080-06'

	SELECT DISTINCT
		P.Id,
		P.ShipPalletNo,
		P.DateCreated As MfrDate,
		P.GrossWt,P.TareWt,
		P.TOPSforExtruding As TOPS, 
		Qty = (SELECT SUM(I.Quantity) FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		NoRolls = (SELECT SUM(I.NoRolls) FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		I.TravLotNum,
		Lot = (SELECT TOP 1 I.LotNo FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		AdditionalLotNo = (SELECT TOP 1 I.AdditionalLotNo FROM [W005].[dbo].[ShipItem] I WHERE I.ItemId=@AssemblyId AND I.Deleted=0 AND I.Issued=0 AND I.ShipPalletId=P.Id),
		Comments = STUFF
		(
			(
				SELECT DISTINCT '/' +  I.Comments 
				FROM ShipItem as I
				WHERE I.ShipPalletId=P.Id AND I.Deleted=0
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		),
		OpInit = STUFF
		(
			(
				SELECT DISTINCT '/' +  I.OpInit 
				FROM ShipItem as I
				WHERE I.ShipPalletId=P.Id AND I.Deleted=0
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		)

	FROM [W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId
	Where I.ItemId=@AssemblyId AND P.Complete=0 AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 AND P.PhantomAdjOut=0 AND I.UsedByProduction=0 AND P.UsedByProduction=0
		AND I.Location IN ('INVENTORY','QA HOLD')
	GROUP BY P.Id,P.ShipPalletNo,P.DateCreated,P.GrossWt,P.TOPSforExtruding,I.TravLotNum,I.Comments,I.OpInit,P.TareWt,I.LotNo,I.AdditionalLotNo,P.Complete
END
GO
