USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedCartonsByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* Returns Complete AND Partial Cartons */

CREATE PROCEDURE [dbo].[spGetPackedCartonsByItemOrdNoRelNo]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)= 'PET-2-2.000-6P'
--declare @LocId as varchar(10) = 'INVENTORY'
--declare @OrderNo as varchar(8) = '00040119'
--declare @ReleaseNo as int = 1

DECLARE @DoNotPackMixedOrdNoRelNo as bit
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
	FROM [W005].[dbo].[ProductChar] Pc 
	inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
	WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)

SELECT DISTINCT C.ShipCartonNo As PkgId,SUM(I.Quantity) As Quantity,C.Id, Count(I.Id) As NoPacked,C.Complete, C.IsPacked,C.GrossWt,C.TareWt,@DoNotPackMixedOrdNoRelNo AS bTarget
FROM [W005].[dbo].[ShipCarton] As C 
		inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)
Where I.ItemId=@ItemId  AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0  AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
		AND C.Deleted=0 AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0
GROUP BY C.Id,C.ShipCartonNo,C.Complete, C.IsPacked,C.GrossWt,C.TareWt 
order by C.ShipCartonNo DESC
  	 

END
GO
