USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIKitInOutTimeForBAELabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIKitInOutTimeForBAELabel] @FGTravSerNum as varchar(35)
AS
BEGIN

--DECLARE @FGTravSerNum as varchar(35) =  '00027939001-M2-001'

 
SELECT 
	CAST(H.LastScanDateTime AS Date) AS [Date]
	,IIF(H.BinType='FREEZER',LastScanDateTime,null) AS DateTimeIn
	,IIF(H.BinType='ROOM',LastScanDateTime,null) AS DateTimeOut
	,TotalOutTime = (SELECT TOP 1 ROUND(CAST(IsNULL(EstTotalRoomMinutes,TotalRoomMinutes) as float) / 60 ,2) FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] WHERE FGTravSerNum=@FGTravSerNum AND LastScanDateTime=H.LastScanDateTime)
FROM [W005].[dbo].[OutTimeItemStatusHistory] H
WHERE H.TravSerNum = @FGTravSerNum
UNION ALL
SELECT OT.EstLastScanDateTime as [Date], OT.EstLastScanDateTime as DateTimeIn, Cast(Null as DateTime) as DateTimeOut, ROUND(CAST(IsNULL(EstTotalRoomMinutes,TotalRoomMinutes) as float) / 60 ,2) AS TotalOutTime
FROM OrderReleaseKitRawMatlOutTime OT 
     INNER JOIN OrderReleaseEventItem I ON I.Id = OT.OrderReleaseEventItemId
WHERE I.TravSerNum = @FGTravSerNum AND 0 = (SELECT Count(*) FROM [W005].[dbo].[OutTimeItemStatusHistory] H WHERE H.TravSerNum = @FGTravSerNum)
ORDER BY 1 ASC







END
GO
