USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[jiWebLabelUnified]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[jiWebLabelUnified]
    @ContextType                VARCHAR(40) = NULL,   -- 'ReturnToInventory','ReprintInventory','GenericFG','FGRoll','LottedPullMfgCarton','Inventory','Pallet'
    @OrderNo                    VARCHAR(8)  = NULL,
    @ReleaseNo                  INT         = NULL,
    @OrderReleaseEventItemId    INT         = NULL,
    @ItemId                     VARCHAR(24) = NULL,
    @LocId                      VARCHAR(10) = NULL,
    @LotNo                      VARCHAR(16) = NULL,
    @SerialNo                   VARCHAR(16) = NULL,
    @PalletId                   INT         = NULL,
    @CartonId                   INT         = NULL,
    @PrintJobId                 INT         = NULL,
    @TransId                    VARCHAR(8)  = NULL,
    @ReceiptNum                 VARCHAR(15) = NULL,
    @ReceiptDateFrom            DATETIME    = NULL,
    @ReceiptDateTo              DATETIME    = NULL
AS
BEGIN
    SET NOCOUNT ON;

    /* ================================
       Helper CTEs (re-used across sets)
       ================================ */
    ;WITH Char_WidthIN AS (
        SELECT PC.ItemId, PC.nTarget AS WidthIN
        FROM [W005].[dbo].[ProductChar] PC
        JOIN [W005].[dbo].[Characteristic] C ON C.Id = PC.CharId
        WHERE C.Characteristic = 'Width(IN)'
    ),
    Char_WidthMM AS (
        SELECT PC.ItemId, PC.nTarget AS WidthMM
        FROM [W005].[dbo].[ProductChar] PC
        JOIN [W005].[dbo].[Characteristic] C ON C.Id = PC.CharId
        WHERE C.Characteristic = 'Width(MM)'
    ),
    Char_LabelLenUOM AS (
        SELECT PC.ItemId, PC.sTarget AS LabelLengthUOM
        FROM [W005].[dbo].[ProductChar] PC
        JOIN [W005].[dbo].[Characteristic] C ON C.Id = PC.CharId
        WHERE C.Characteristic = 'LabelLengthUOM'
    ),
    Char_LabelAreaUOM AS (
        SELECT PC.ItemId, PC.sTarget AS LabelAreaUOM
        FROM [W005].[dbo].[ProductChar] PC
        JOIN [W005].[dbo].[Characteristic] C ON C.Id = PC.CharId
        WHERE C.Characteristic = 'LabelAreaUOM'
    ),
    PalletSeq AS (
        /* Sequence pallets within each production order (used for MondiLot) */
        SELECT DISTINCT
            SP.Id            AS PalletId,
            SI.ProdOrderNo,
            ROW_NUMBER() OVER (PARTITION BY SI.ProdOrderNo ORDER BY SP.Id) AS SeqPalletNum
        FROM [W005].[dbo].[ShipPallet] SP
        JOIN [W005].[dbo].[ShipItem]   SI ON SI.ShipPalletId = SP.Id
    ),

    /* ================================
       Unified rows (ContextType-tagged)
       ================================ */
    Unified AS (

        /* ------------------------------
           1) Return-to-Inventory
           ------------------------------ */
        SELECT
            ContextType              = 'ReturnToInventory',
            PrintJobId               = NULL,
            OrderNo                  = E.OrderNo,
            ReleaseNo                = E.ReleaseNo,
            OrderReleaseEventItemId  = EI.Id,
            ItemId                   = I.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = ISNULL(C.CustName, 'Web Industries Hartford, Inc.'),
            CustomerPN_All           = NULL,
            CustomerAliasID          = NULL,
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = NULL,
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = CASE WHEN LEN(L.[cf_Serial No.]) > 0 THEN L.[cf_Serial No.] ELSE NULL END,
            LotNo                    = ISNULL(L.[cf_Lot No.], L.LotNum),
            TravLotNum               = L.LotNum,
            TravSerNum               = NULL,
            SerialNoBarCode          = NULL,
            LotNoBarCode             = NULL,
            QRCode                   = '1' + '|' + I.ItemId + '|' + UPPER(ISNULL(EI.SerialNo, '')) + '|' + UPPER(ISNULL(EI.LotNo, '')),
            LocId                    = L.LocId,
            WidthIN                  = L.cf_Width,
            WidthMM                  = NULL,
            Thickness                = NULL,
            Core_ID                  = L.[cf_Core ID],
            Roll_OD                  = NULL,
            Comments                 = L.Cmnt,
            MfgDate                  = NULL,
            ExpDate                  = L.ExpDate,
            UseByDate                = L.[cf_Use By Date],
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = NULL,
            UomBase                  = I.UomBase,
            UomDflt                  = I.UomDflt,
            BaseQtyOnHand            = EI.TotalQtyRemaining,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = (Q.QtyOnHand / U.ConvFactor),
            TotalQty                 = NULL,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = NULL,
            RMSerialNos              = NULL,
            RMLotNos                 = NULL,
            ShipCartonNo             = NULL,
            ShipPalletNo             = NULL,
            CartonDateCreated        = NULL,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = NULL,
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [W005].[dbo].[OrderReleaseEvent]             E
        JOIN [W005].[dbo].[OrderReleaseEventItem]         EI  ON EI.OrderReleaseEventId = E.Id
        JOIN [005].[dbo].[trav_tblInItem_view]            I   ON I.ItemId = EI.ItemId
        JOIN [005].[dbo].[tblInItemUom]                   U   ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
        LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] L   ON I.ItemId = L.ItemId AND L.LocId = 'INVENTORY'   -- site note from original
        LEFT JOIN [005].[dbo].[trav_tblArCust_view]       C   ON I.cf_Customer = C.CustId
        LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] Q   ON Q.ItemId = I.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum
        WHERE (L.LotNum = EI.SerialNo OR L.LotNum = EI.LotNo)
          AND (EI.TotalQtyRemaining <> 0 AND EI.TotalQtyRemaining < EI.TotalQty)
          AND (@OrderNo   IS NULL OR E.OrderNo   = @OrderNo)
          AND (@ReleaseNo IS NULL OR E.ReleaseNo = @ReleaseNo)
          AND (@OrderReleaseEventItemId IS NULL OR EI.Id = @OrderReleaseEventItemId)
          AND (@ItemId    IS NULL OR I.ItemId    = @ItemId)

        UNION ALL

        /* ------------------------------
           2) Reprint Inventory
           ------------------------------ */
        SELECT
            ContextType              = 'ReprintInventory',
            PrintJobId               = NULL,
            OrderNo                  = NULL,
            ReleaseNo                = NULL,
            OrderReleaseEventItemId  = NULL,
            ItemId                   = I.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = ISNULL(C.CustName, 'Web Industries Fort Wayne, Inc.'),
            CustomerPN_All           = NULL,
            CustomerAliasID          = NULL,
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = NULL,
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = CASE WHEN LEN(L.[cf_Serial No.]) > 0 THEN L.[cf_Serial No.] ELSE NULL END,
            LotNo                    = ISNULL(L.[cf_Lot No.], L.LotNum),
            TravLotNum               = L.LotNum,
            TravSerNum               = NULL,
            SerialNoBarCode          = NULL,
            LotNoBarCode             = NULL,
            QRCode                   = '1' + '|' + I.ItemId + '|' + UPPER(ISNULL(L.[cf_Serial No.], '')) + '|' + UPPER(ISNULL(L.[cf_Lot No.], L.LotNum)),
            LocId                    = L.LocId,
            WidthIN                  = L.cf_Width,
            WidthMM                  = NULL,
            Thickness                = NULL,
            Core_ID                  = L.[cf_Core ID],
            Roll_OD                  = L.[cf_Roll OD],
            Comments                 = L.Cmnt,
            MfgDate                  = NULL,
            ExpDate                  = L.ExpDate,
            UseByDate                = L.[cf_Use By Date],
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = NULL,
            UomBase                  = I.UomBase,
            UomDflt                  = I.UomDflt,
            BaseQtyOnHand            = Q.QtyOnHand,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = (Q.QtyOnHand / U.ConvFactor),
            TotalQty                 = NULL,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = NULL,
            RMSerialNos              = NULL,
            RMLotNos                 = NULL,
            ShipCartonNo             = NULL,
            ShipPalletNo             = NULL,
            CartonDateCreated        = NULL,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = NULL,
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [005].[dbo].[trav_tblInItem_view]            I
        JOIN [005].[dbo].[trav_tblInItemLocLot_View]      L   ON L.ItemId = I.ItemId
        JOIN [005].[dbo].[tblInItemUom]                   U   ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
        LEFT JOIN [005].[dbo].[trav_tblArCust_view]       C   ON I.cf_Customer = C.CustId
        LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] Q   ON Q.ItemId = I.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum
        WHERE (@ItemId  IS NULL OR I.ItemId = @ItemId)
          AND (@LocId   IS NULL OR L.LocId  = @LocId)
          AND (@LotNo   IS NULL OR L.LotNum = @LotNo)
          AND (@SerialNo IS NULL OR L.LotNum = @SerialNo) -- original uses iif(@SerialNo,@SerialNo,@LotNo)

        UNION ALL

        /* ------------------------------
           3) Generic FG
           ------------------------------ */
        SELECT
            ContextType              = 'GenericFG',
            PrintJobId               = NULL,
            OrderNo                  = E.OrderNo,
            ReleaseNo                = E.ReleaseNo,
            OrderReleaseEventItemId  = EI.Id,
            ItemId                   = EI.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = NULL,
            CustomerPN_All           = (SELECT AL.AliasID + '/' AS [text()]
                                        FROM [005].[dbo].[tblInItemAlias] AL
                                        WHERE AL.ItemID = I.ItemId
                                        FOR XML PATH('')),
            CustomerAliasID          = NULL,
            CustPONum                = IIF(SO.CustPONum IS NULL, R.PurchaseOrder, SO.CustPONum),
            PODate                   = SO.PODate,
            SalesOrder               = ISNULL(R.SalesOrder, RH.SalesOrder),
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = EI.SerialNo,
            LotNo                    = EI.LotNo,
            TravLotNum               = EI.TravLotNum,
            TravSerNum               = EI.TravSerNum,
            SerialNoBarCode          = EI.SerialNo,
            LotNoBarCode             = EI.LotNo,
            QRCode                   = '1' + '|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum, EI.TravLotNum) + '|' + ISNULL(EI.LotNo, ''),
            LocId                    = EI.LocId,
            WidthIN                  = WIN.WidthIN,
            WidthMM                  = WMM.WidthMM,
            Thickness                = NULL,
            Core_ID                  = NULL,
            Roll_OD                  = NULL,
            Comments                 = NULL,
            MfgDate                  = EI.MfgDate,
            ExpDate                  = NULL,
            UseByDate                = NULL,
            FGExpDate                = EI.FGExpDate,
            HeadPos                  = EI.HeadPos,
            CutPos                   = EI.CutPos,
            UOM                      = EI.UOM,
            UomBase                  = I.UomBase,
            UomDflt                  = I.UomDflt,
            BaseQtyOnHand            = NULL,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = NULL,
            TotalQty                 = ISNULL(Q.QtyOnHand, EI.TotalQty),
            TotalWaste               = EI.TotalWaste,
            TotalQtyBaseUOM          = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = I.UomBase),
            TotalQtyBX               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'BX'),
            TotalQtyEA               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'EA'),
            TotalQtyKG               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'KG'),
            TotalQtyLB               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'LB'),
            TotalQtyLF               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'LF'),
            TotalQtyLM               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'LM'),
            TotalQtyLY               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'LY'),
            TotalQtyMFT              = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'MFT'),
            TotalQtyROLL             = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'ROLL'),
            TotalQtySHT              = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'SHT'),
            TotalQtySM               = (SELECT IIF(ConvFactor IS NULL, NULL, ISNULL(Q.QtyOnHand, EI.TotalQty) / ConvFactor)
                                        FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = EI.ItemId AND A.Uom = 'SM'),
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = NULL,
            RMSerialNos              = NULL,
            RMLotNos                 = NULL,
            ShipCartonNo             = NULL,
            ShipPalletNo             = NULL,
            CartonDateCreated        = NULL,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = NULL,
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [W005].[dbo].[OrderReleaseEvent]             E
        JOIN [W005].[dbo].[OrderReleaseEventItem]         EI  ON EI.OrderReleaseEventId = E.Id
        JOIN [005].[dbo].[trav_tblInItem_view]            I   ON I.ItemId = EI.ItemId
        LEFT JOIN [005].[dbo].[tblMpOrderReleases]        R   ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
        LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH  ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
        LEFT JOIN [005].[dbo].[tblSoTransHeader]          SO  ON (SO.TransId = R.SalesOrder OR SO.TransId = RH.SalesOrder)
        LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] Q   ON Q.ItemId = EI.ItemId AND Q.LotNum = EI.TravLotNum
        LEFT JOIN Char_WidthIN                            WIN ON WIN.ItemId = EI.ItemId
        LEFT JOIN Char_WidthMM                            WMM ON WMM.ItemId = EI.ItemId
        WHERE EI.IsAssembly = 1
          AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
          AND (@OrderNo   IS NULL OR E.OrderNo   = @OrderNo)
          AND (@ReleaseNo IS NULL OR E.ReleaseNo = @ReleaseNo)
          AND (@OrderReleaseEventItemId IS NULL OR EI.Id = @OrderReleaseEventItemId)
          AND (@ItemId    IS NULL OR EI.ItemId   = @ItemId)

        UNION ALL

        /* ------------------------------
           4) FG Roll Label
           ------------------------------ */
        SELECT
            ContextType              = 'FGRoll',
            PrintJobId               = NULL,
            OrderNo                  = E.OrderNo,
            ReleaseNo                = E.ReleaseNo,
            OrderReleaseEventItemId  = FGEI.Id,
            ItemId                   = FGEI.ItemId,
            Descr                    = FG.Descr,
            AddlDescr                = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX))
                                               FROM [005].[dbo].[tblInItemAddlDescr] A
                                               WHERE A.ItemId = FGEI.ItemId), FG.Descr),
            CustomerName             = NULL,
            CustomerPN_All           = NULL,
            CustomerAliasID          = NULL,
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = NULL,
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = FGEI.SerialNo,
            LotNo                    = FGEI.LotNo,
            TravLotNum               = FGEI.TravLotNum,
            TravSerNum               = FGEI.TravSerNum,
            SerialNoBarCode          = FGEI.SerialNo,
            LotNoBarCode             = FGEI.LotNo,
            QRCode                   = '1' + '|' + FGEI.ItemId + '|' + ISNULL(FGEI.SerialNo, FGEI.TravLotNum) + '|' + ISNULL(FGEI.LotNo, ''),
            LocId                    = NULL,
            WidthIN                  = WIN.WidthIN,
            WidthMM                  = WMM.WidthMM,
            Thickness                = NULL,
            Core_ID                  = NULL,
            Roll_OD                  = NULL,
            Comments                 = NULL,
            MfgDate                  = FGEI.MfgDate,
            ExpDate                  = NULL,
            UseByDate                = NULL,
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = NULL,
            UomBase                  = NULL,
            UomDflt                  = NULL,
            BaseQtyOnHand            = NULL,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = NULL,
            TotalQty                 = FGEI.TotalQty,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = ROUND(FGEI.TotalQty / (SELECT ISNULL(ConvFactor,1)
                                                             FROM [005].[dbo].[tblInItemUom] A
                                                             WHERE A.ItemId = FGEI.ItemId AND A.Uom = 'SM'), 5),
            FGNetWeightLB            = (FGEI.TotalQty / (SELECT ISNULL(ConvFactor,1)
                                                         FROM [005].[dbo].[tblInItemUom] A
                                                         WHERE A.ItemId = FGEI.ItemId AND A.Uom = 'LB')),
            NoOfSplices              = ISNULL((SELECT COUNT(OrderReleaseEventItemId)
                                               FROM [W005].[dbo].[OrderReleaseEventSpliceDetail]
                                               WHERE OrderReleaseEventItemId = FGEI.Id), 0),
            CoreSerialNo             = (SELECT CoreSerialNo
                                        FROM [W005].[dbo].[CoreScanPolyTrace] C
                                        WHERE C.OrderNo = E.OrderNo AND C.ReleaseNo = E.ReleaseNo AND C.CutNo = FGEI.CutPos),
            VendorDOM                = MIN(ISNULL(IL.[cf_Vendor Mfg Date], IL.InitialDate)),
            RMAddlDescr              = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX))
                                               FROM [005].[dbo].[tblInItemAddlDescr] A WHERE A.ItemId = RMEI.ItemId),
                                              (SELECT Descr FROM [005].[dbo].[tblInItem] A WHERE A.ItemId = RMEI.ItemId)),
            RMSerialNos              = STUFF((
                                        SELECT DISTINCT ', ' + OREI.SerialNo
                                        FROM [W005].[dbo].[OrderReleaseEvent] ORE
                                        JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.OrderReleaseEventId = ORE.Id
                                        JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10','15','20','30')
                                        WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),
                                    1,2,''),
            RMLotNos                 = STUFF((
                                        SELECT DISTINCT ', ' + OREI.LotNo
                                        FROM [W005].[dbo].[OrderReleaseEvent] ORE
                                        JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.OrderReleaseEventId = ORE.Id
                                        JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10','15','20','30')
                                        WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),
                                    1,2,''),
            ShipCartonNo             = NULL,
            ShipPalletNo             = NULL,
            CartonDateCreated        = NULL,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = NULL,
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [W005].[dbo].[OrderReleaseEvent]             E
        JOIN [W005].[dbo].[OrderReleaseEventItem]         RMEI ON RMEI.OrderReleaseEventId = E.Id AND RMEI.IsAssembly = 0
        JOIN [005].[dbo].[tblInItemLoc]                   L    ON L.ItemId=RMEI.ItemId AND L.LocId=RMEI.LocId AND L.GLAcctCode IN ('10','15','20','30')
        JOIN [005].[dbo].[trav_tblInItemLocLot_View]      IL   ON IL.ItemId=RMEI.ItemId AND IL.LocId=RMEI.LocId AND IL.LotNum = ISNULL(RMEI.SerialNo, RMEI.LotNo)
        JOIN [W005].[dbo].[OrderReleaseEvent]             FGE  ON FGE.OrderNo=E.OrderNo AND FGE.ReleaseNo=E.ReleaseNo
        JOIN [W005].[dbo].[OrderReleaseEventItem]         FGEI ON FGEI.OrderReleaseEventId = FGE.Id AND FGEI.IsAssembly=1
        JOIN [005].[dbo].[tblInItem]                      FG   ON FG.ItemId = FGEI.ItemId
        LEFT JOIN Char_WidthIN                            WIN  ON WIN.ItemId = FGEI.ItemId
        LEFT JOIN Char_WidthMM                            WMM  ON WMM.ItemId = FGEI.ItemId
        WHERE (@OrderNo   IS NULL OR E.OrderNo   = @OrderNo)
          AND (@ReleaseNo IS NULL OR E.ReleaseNo = @ReleaseNo)
          AND (@OrderReleaseEventItemId IS NULL OR FGEI.Id = @OrderReleaseEventItemId)
          AND (@ItemId    IS NULL OR FGEI.ItemId = @ItemId)
        GROUP BY E.OrderNo, E.ReleaseNo, FGEI.Id, FGEI.ItemId, FG.Descr, FGEI.SerialNo, FGEI.LotNo,
                 FGEI.TravLotNum, FGEI.TravSerNum, FGEI.CutPos, FGEI.MfgDate, FGEI.TotalQty, WIN.WidthIN, WMM.WidthMM, RMEI.ItemId

        UNION ALL

        /* ------------------------------
           5) Lotted Pull Mfg Carton
           ------------------------------ */
        SELECT
            ContextType              = 'LottedPullMfgCarton',
            PrintJobId               = NULL,
            OrderNo                  = NULL,
            ReleaseNo                = NULL,
            OrderReleaseEventItemId  = NULL,
            ItemId                   = I.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = NULL,
            CustomerPN_All           = A.AliasID,
            CustomerAliasID          = A.AliasID,
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = NULL,
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = NULL,
            LotNo                    = UPPER(STUFF((
                                        SELECT DISTINCT '/' + S.LotNo
                                        FROM [W005].[dbo].[ShipItem] S
                                        WHERE S.ShipCartonId = SC.Id
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')),
            TravLotNum               = NULL,
            TravSerNum               = NULL,
            SerialNoBarCode          = NULL,
            LotNoBarCode             = NULL,
            QRCode                   = NULL,
            LocId                    = NULL,
            WidthIN                  = NULL,
            WidthMM                  = NULL,
            Thickness                = NULL,
            Core_ID                  = NULL,
            Roll_OD                  = NULL,
            Comments                 = NULL,
            MfgDate                  = NULL,
            ExpDate                  = NULL,
            UseByDate                = NULL,
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = SI.UOM,
            UomBase                  = NULL,
            UomDflt                  = NULL,
            BaseQtyOnHand            = NULL,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = NULL,
            TotalQty                 = NULL,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = NULL,
            RMSerialNos              = UPPER(STUFF((
                                        SELECT DISTINCT ',' + S.OpInit
                                        FROM [W005].[dbo].[ShipItem] S
                                        WHERE S.ItemID=I.ItemId AND S.ShipCartonId=SC.Id
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')),
            RMLotNos                 = NULL,
            ShipCartonNo             = SC.ShipCartonNo,
            ShipPalletNo             = SP.ShipPalletNo,
            CartonDateCreated        = SC.DateCreated,
            CartonQty                = SUM(SI.Quantity),
            CartonUOM                = SI.UOM,
            Operators                = UPPER(STUFF((
                                        SELECT DISTINCT ',' + S.OpInit
                                        FROM [W005].[dbo].[ShipItem] S
                                        WHERE S.ItemID=I.ItemId AND S.ShipCartonId=SC.Id
                                        FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')),
            ShipToAddr               = L.Addr1 + ISNULL(NULLIF(', '+L.Addr2, ', '), ''),
            ShipToCityStateZip       = L.City + ', ' + L.Region + ' ' + L.PostalCode,
            ShipToPhone              = '('+SUBSTRING(L.Phone,1,3)+') ' + SUBSTRING(L.Phone,4,3) + '-' + SUBSTRING(L.Phone,7,4),
            PrintCopies              = (SELECT CASE WHEN EXISTS(
                                              SELECT 1 FROM  [W005].[dbo].[ProductChar]
                                              WHERE CharId=2032 AND ItemId=I.ItemId)
                                             THEN (SELECT nTarget FROM  [W005].[dbo].[ProductChar]
                                                   WHERE CharId=2032 AND ItemId=I.ItemId)
                                             ELSE 1 END),
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [W005].[dbo].[ShipCarton] SC
        JOIN [W005].[dbo].[ShipItem]   SI ON SC.Id=SI.ShipCartonId
        JOIN [005].[dbo].[tblInItem]   I  ON I.ItemId=SI.ItemId
        JOIN [005].[dbo].[tblInLoc]    L  ON L.LocId = SI.Location
        LEFT JOIN [W005].[dbo].[ShipPallet] SP ON SP.Id=SC.ShipPalletId
        LEFT JOIN [005].[dbo].[tblMpOrderReleases]    M  ON M.OrderNo=SI.ProdOrderNo AND M.ReleaseNo=SI.ProdOrderRelNo
        LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] MH ON MH.OrderNo=SI.ProdOrderNo AND MH.ReleaseNo=SI.ProdOrderRelNo
        LEFT JOIN [005].[dbo].[tblInItemAlias]        A  ON A.ItemID=I.ItemId AND A.RefID=ISNULL(M.CustId,MH.CustId)
        WHERE (@CartonId IS NULL OR SC.Id = @CartonId)
          AND (@ItemId   IS NULL OR I.ItemId = @ItemId)
        GROUP BY SC.ShipCartonNo, SP.ShipPalletNo, I.ItemId, I.Descr, SC.DateCreated, SI.UOM,
                 SC.Id, L.Addr1, L.Addr2, L.City, L.Region, L.PostalCode, L.Phone, A.AliasID

        UNION ALL

        /* ------------------------------
           6) Inventory Label (PO receipt)
           ------------------------------ */
        SELECT
            ContextType              = 'Inventory',
            PrintJobId               = PD.PrintJobId,
            OrderNo                  = NULL,
            ReleaseNo                = NULL,
            OrderReleaseEventItemId  = NULL,
            ItemId                   = I.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = ISNULL(C.CustName, 'Web Industries, Hartford'),
            CustomerPN_All           = NULL,
            CustomerAliasID          = NULL,
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = NULL,
            ShipToCustomer           = NULL,
            CustPO_All               = NULL,
            SerialNo                 = CASE WHEN LEN(L.[cf_Serial No.]) > 0 THEN L.[cf_Serial No.] ELSE NULL END,
            LotNo                    = ISNULL(L.[cf_Lot No.], L.LotNum),
            TravLotNum               = L.LotNum,
            TravSerNum               = NULL,
            SerialNoBarCode          = NULL,
            LotNoBarCode             = NULL,
            QRCode                   = '1' + '|' + I.ItemId + '|' +
                                       (CASE WHEN LEN(L.[cf_Lot No.]) > 0 THEN UPPER(L.LotNum) ELSE '' END) + '|' +
                                       UPPER(ISNULL(L.[cf_Lot No.], L.LotNum)),
            LocId                    = NULL,
            WidthIN                  = L.cf_Width,
            WidthMM                  = NULL,
            Thickness                = NULL,
            Core_ID                  = L.[cf_Core ID],
            Roll_OD                  = L.[cf_Roll OD],
            Comments                 = L.Cmnt,
            MfgDate                  = NULL,
            ExpDate                  = L.ExpDate,
            UseByDate                = L.[cf_Use By Date],
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = NULL,
            UomBase                  = I.UomBase,
            UomDflt                  = I.UomDflt,
            BaseQtyOnHand            = IIF(OH.QtyOnHand IS NULL, (WMR.Qty*U.ConvFactor), OH.QtyOnHand),
            BaseQtyOnHandUOM         = D.UnitsBase,
            QtyOnHand                = IIF(OH.QtyOnHand IS NULL, WMR.Qty, CAST((OH.QtyOnHand / D.ConversionFactor) AS DECIMAL(20,10))),
            QtyOnHandUOM             = IIF(WMR.UOM IS NULL, D.Units, WMR.UOM),
            DfltQtyOnHand            = NULL,
            TotalQty                 = NULL,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = NULL,
            RMSerialNos              = NULL,
            RMLotNos                 = NULL,
            ShipCartonNo             = NULL,
            ShipPalletNo             = NULL,
            CartonDateCreated        = NULL,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = NULL,
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = D.TransId,
            ReceiptNum               = NULL,   -- populate if you have a receipt header table to join
            ReceiptDate              = NULL,   -- populate if available
            ProdOrders               = NULL,
            ProductLot               = NULL,
            ItemCnt                  = NULL,
            GrossWt                  = NULL,
            GrossWtKG                = NULL,
            AvgLengthPerRoll         = NULL,
            TotalLengthBase          = NULL,
            TotalLengthUOM           = NULL,
            TotalLengthLM            = NULL,
            TotalLengthLY            = NULL,
            TotalWeightLB            = NULL,
            LabelLengthUOM           = NULL,
            LabelAreaUOM             = NULL,
            TotalAreaSM              = NULL,
            TotalAreaUOM             = NULL,
            TotalSqFT                = NULL,
            TotalSqYd                = NULL,
            TotalNetWeightLB         = NULL,
            TotalNetWeightKG         = NULL,
            ThirdPartyAlias          = NULL,
            WindingType              = NULL,
            MondiLot                 = NULL,
            LengthByLabelLengthUOM   = NULL,
            AreaByLabelAreaUOM       = NULL
        FROM [005].[dbo].[trav_tblInItem_view]            I
        LEFT JOIN [005].[dbo].[tblPoTransDetail]          D   ON D.ItemId = I.ItemId
        LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] L   ON I.ItemId = L.ItemId AND L.LocId = D.LocId
        LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] OH  ON OH.ItemId = L.ItemId AND OH.LocId = D.LocId AND OH.LotNum = L.LotNum
        LEFT JOIN [005].[dbo].[trav_tblArCust_view]       C   ON I.cf_Customer = C.CustId
        LEFT JOIN [005].[dbo].[tblWmRcpt]                 WMR ON WMR.ItemId = L.ItemId AND WMR.LocId = D.LocId AND WMR.LotNum = L.LotNum
        LEFT JOIN [005].[dbo].[tblInItemUom]              U   ON U.ItemId = WMR.ItemId AND U.Uom = WMR.UOM
        JOIN      [dbo].[LabelPrintJobDetail]             PD  ON PD.ItemId = I.ItemId AND PD.LotNum = L.LotNum
        WHERE (@PrintJobId IS NULL OR PD.PrintJobId = @PrintJobId)
          AND (@ItemId     IS NULL OR I.ItemId = @ItemId)
          AND (@LotNo      IS NULL OR L.LotNum = @LotNo)
          AND (@TransId    IS NULL OR D.TransId = @TransId)

        UNION ALL

        /* ------------------------------
           7) Pallet Label
           ------------------------------ */
        SELECT
            ContextType              = 'Pallet',
            PrintJobId               = NULL,
            OrderNo                  = NULL,
            ReleaseNo                = NULL,
            OrderReleaseEventItemId  = NULL,
            ItemId                   = I.ItemId,
            Descr                    = I.Descr,
            AddlDescr                = NULL,
            CustomerName             = (SELECT DISTINCT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = ISNULL(R.CustId, RH.CustId)),
            CustomerPN_All           = STUFF((SELECT DISTINCT '/' + iia.AliasID
                                              FROM [005].[dbo].[tblInItemAlias] iia
                                              WHERE iia.ItemID = I.ItemId
                                              FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,''),
            CustomerAliasID          = (SELECT DISTINCT IA.AliasID
                                        FROM [005].[dbo].[tblInItemAlias] IA
                                        WHERE IA.ItemID = I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)),
            CustPONum                = NULL,
            PODate                   = NULL,
            SalesOrder               = ISNULL(R.SalesOrder, RH.SalesOrder),
            ShipToCustomer           = ISNULL((SELECT TOP 1 ShipToName FROM [005].[dbo].tblSoTransHeader WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder)),
                                              (SELECT TOP 1 ShipToName FROM [005].[dbo].tblArHistHeader  WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder))),
            CustPO_All               = STUFF((
                                              SELECT '/' + ISNULL(
                                                (SELECT TOP 1 [cf_Customer PO#] FROM [005].[dbo].trav_tblSoTransDetail_view
                                                 WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder) AND ItemId = SI.ItemId),
                                                (SELECT TOP 1 [cf_Customer PO#] FROM [005].[dbo].trav_tblArHistDetail_view
                                                 WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder) AND PartId = SI.ItemId))
                                              FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,''),
            SerialNo                 = NULL,
            LotNo                    = STUFF((SELECT DISTINCT '/' + i.LotNo
                                              FROM [W005].[dbo].[ShipItem] i
                                              WHERE i.ShipPalletId = SP.Id
                                              FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,''),
            TravLotNum               = NULL,
            TravSerNum               = NULL,
            SerialNoBarCode          = NULL,
            LotNoBarCode             = NULL,
            QRCode                   = NULL,
            LocId                    = NULL,
            WidthIN                  = WIN.WidthIN,
            WidthMM                  = WMM.WidthMM,
            Thickness                = (SELECT DISTINCT P.nTarget
                                        FROM  [W005].[dbo].[Characteristic] C
                                        JOIN  [W005].[dbo].[ProductChar] P ON P.CharId = C.Id
                                        WHERE C.Characteristic = 'Thickness' AND P.ItemId = LRM.RMItemId),
            Core_ID                  = NULL,
            Roll_OD                  = NULL,
            Comments                 = NULL,
            MfgDate                  = (SELECT MIN(I2.MfgDate) FROM [W005].[dbo].[OrderReleaseEventItem] I2
                                        WHERE I2.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId = SP.Id)),
            ExpDate                  = (SELECT MIN(I2.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem] I2
                                        WHERE I2.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId = SP.Id)),
            UseByDate                = NULL,
            FGExpDate                = NULL,
            HeadPos                  = NULL,
            CutPos                   = NULL,
            UOM                      = NULL,
            UomBase                  = I.UomBase,
            UomDflt                  = I.UomDflt,
            BaseQtyOnHand            = NULL,
            BaseQtyOnHandUOM         = NULL,
            QtyOnHand                = NULL,
            QtyOnHandUOM             = NULL,
            DfltQtyOnHand            = NULL,
            TotalQty                 = NULL,
            TotalWaste               = NULL,
            TotalQtyBaseUOM          = NULL,
            TotalQtyBX               = NULL,
            TotalQtyEA               = NULL,
            TotalQtyKG               = NULL,
            TotalQtyLB               = NULL,
            TotalQtyLF               = NULL,
            TotalQtyLM               = NULL,
            TotalQtyLY               = NULL,
            TotalQtyMFT              = NULL,
            TotalQtyROLL             = NULL,
            TotalQtySHT              = NULL,
            TotalQtySM               = NULL,
            FGTotalQtySqM            = NULL,
            FGNetWeightLB            = NULL,
            NoOfSplices              = NULL,
            CoreSerialNo             = NULL,
            VendorDOM                = NULL,
            RMAddlDescr              = (SELECT DISTINCT Descr
                                        FROM [005].[dbo].[tblInItem] II
                                        JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId = II.ItemId AND IL.LocId = LRM.LocId
                                        WHERE II.ItemId = LRM.RMItemId),
            RMSerialNos              = NULL,
            RMLotNos                 = NULL,
            ShipCartonNo             = NULL,
            ShipPalletNo             = SP.ShipPalletNo,
            CartonDateCreated        = SP.DateCreated,
            CartonQty                = NULL,
            CartonUOM                = NULL,
            Operators                = STUFF((SELECT DISTINCT '/' + i.OpInit
                                              FROM [W005].[dbo].[ShipItem] i
                                              WHERE ShipPalletId = SP.Id AND OpInit IS NOT NULL
                                              FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,''),
            ShipToAddr               = NULL,
            ShipToCityStateZip       = NULL,
            ShipToPhone              = NULL,
            PrintCopies              = NULL,
            PO_TransId               = NULL,
            ReceiptNum               = NULL,
            ReceiptDate              = NULL,
            ProdOrders               = STUFF((SELECT DISTINCT '/' + SI1.ProdOrderNo
                                              FROM [W005].[dbo].[ShipItem] SI1
                                              WHERE SI1.ShipPalletId = SP.Id
                                              FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'), 1,1,''),
            ProductLot               = RIGHT(SI.ProdOrderNo, 5) + RIGHT(SI.ProdOrderRelNo, 3),
            ItemCnt                  = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] SI1 WHERE SI1.ShipPalletId = SP.Id),
            GrossWt                  = SP.GrossWt,
            GrossWtKG                = SP.GrossWt/2.205,
            AvgLengthPerRoll         = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                       NULLIF((SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] SI1 WHERE SI1.ShipPalletId = SP.Id),0),
            TotalLengthBase          = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id),
            TotalLengthUOM           = I.UomBase,
            TotalLengthLM            = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'LM')),
            TotalLengthLY            = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'LY')),
            TotalWeightLB            = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'LB')),
            LabelLengthUOM           = LLU.LabelLengthUOM,
            LabelAreaUOM             = LAU.LabelAreaUOM,
            TotalAreaSM              = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'SM')),
            TotalAreaUOM             = 'SM',
            TotalSqFT                = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'SF')),
            TotalSqYd                = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'SY')),
            TotalNetWeightLB         = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'LB')),
            TotalNetWeightKG         = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        (SELECT ISNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] A WHERE A.ItemId = I.ItemId AND A.Uom = 'KG')),
            ThirdPartyAlias          = LRM.ThirdPartyAlias,
            WindingType              = LRM.WindingType,
            MondiLot                 = 'T' + RIGHT(SI.ProdOrderNo, 5) + '2' +
                                       RIGHT('000' + CAST((SELECT SeqPalletNum
                                                           FROM PalletSeq PS
                                                           WHERE PS.PalletId = SP.Id
                                                             AND PS.ProdOrderNo = SI.ProdOrderNo) AS VARCHAR(3)),3),
            LengthByLabelLengthUOM   = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        NULLIF((SELECT DISTINCT ISNULL(ConvFactor,1)
                                                FROM [005].[dbo].[tblInItemUom] U
                                                WHERE U.ItemId = I.ItemId AND U.Uom = LLU.LabelLengthUOM),0)),
            AreaByLabelAreaUOM       = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] S WHERE S.ShipPalletId = SP.Id) /
                                        NULLIF((SELECT DISTINCT ISNULL(ConvFactor,1)
                                                FROM [005].[dbo].[tblInItemUom] U
                                                WHERE U.ItemId = I.ItemId AND U.Uom = LAU.LabelAreaUOM),0))
        FROM [W005].[dbo].[ShipPallet] SP
        JOIN [W005].[dbo].[ShipItem]   SI  ON SI.ShipPalletId = SP.Id
        JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = SI.ItemId
        LEFT JOIN [005].[dbo].[tblMpOrderReleases]        R   ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
        LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH  ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
        LEFT JOIN Char_WidthIN                            WIN ON WIN.ItemId = I.ItemId
        LEFT JOIN Char_WidthMM                            WMM ON WMM.ItemId = I.ItemId
        LEFT JOIN Char_LabelLenUOM                        LLU ON LLU.ItemId = I.ItemId
        LEFT JOIN Char_LabelAreaUOM                       LAU ON LAU.ItemId = I.ItemId
        LEFT JOIN (
            SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.LocId, EI.ItemId AS RMItemId,
                            L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
            FROM [W005].[dbo].[ShipPallet] SP2
            JOIN [W005].[dbo].[ShipItem]   SI2  ON SI2.ShipPalletId = SP2.Id
            JOIN [W005].[dbo].[OrderReleaseEvent] E  ON E.OrderNo = SI2.ProdOrderNo AND E.ReleaseNo = SI2.ProdOrderRelNo
            JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly = 0
            JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId = EI.ItemId AND L.LotNum = EI.SerialNo AND L.LocId = EI.LocId
        ) LRM ON LRM.OrderNo = SI.ProdOrderNo AND LRM.ReleaseNo = SI.ProdOrderRelNo
        WHERE (@PalletId IS NULL OR SP.Id = @PalletId)
          AND (@ItemId   IS NULL OR I.ItemId = @ItemId)
    )

    /* ================================
       Final filter & return
       ================================ */
    SELECT *
    FROM Unified
    WHERE (@ContextType IS NULL OR ContextType = @ContextType)
      AND (@OrderNo IS NULL OR OrderNo = @OrderNo)
      AND (@ReleaseNo IS NULL OR ReleaseNo = @ReleaseNo)
      AND (@OrderReleaseEventItemId IS NULL OR OrderReleaseEventItemId = @OrderReleaseEventItemId)
      AND (@ItemId IS NULL OR ItemId = @ItemId)
      AND (@LocId IS NULL OR LocId = @LocId)
      AND (@LotNo IS NULL OR LotNo = @LotNo)
      AND (@SerialNo IS NULL OR SerialNo = @SerialNo)
      AND (@CartonId IS NULL OR ShipCartonNo IN (SELECT ShipCartonNo FROM [W005].[dbo].[ShipCarton] WHERE Id = @CartonId))
      AND (@PrintJobId IS NULL OR PrintJobId = @PrintJobId)
      AND (@TransId IS NULL OR PO_TransId = @TransId)
      AND (@ReceiptNum IS NULL OR ReceiptNum = @ReceiptNum)
      AND (@ReceiptDateFrom IS NULL OR ReceiptDate >= @ReceiptDateFrom)
      AND (@ReceiptDateTo   IS NULL OR ReceiptDate < DATEADD(DAY, 1, @ReceiptDateTo))
    OPTION (RECOMPILE);
END
GO
