USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInHistDetailExcelNew]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spInHistDetailExcelNew] @FromPeriod as int, @FromYear as int, @ThruPeriod as int, @ThruYear as int
AS
BEGIN
    --DECLARE @FromPeriod as int = 5, @FromYear as int = 2018, @ThruPeriod as int = 5, @ThruYear as int = 2018
	DECLARE @FromID as integer
	DECLARE @ThruID as integer
	SELECT @FromID = C.ID FROM [W005].[dbo].[vtblSmPeriodConversion] C WHERE C.GlYear = @FromYear AND C.GlPeriod = @FromPeriod
	SELECT @ThruID = C.ID FROM [W005].[dbo].[vtblSmPeriodConversion] C WHERE C.GlYear = @ThruYear AND C.GlPeriod = @ThruPeriod

    SELECT D.* INTO #T1 FROM [W005].[dbo].[vtblInHistDetailNunezCosts] D INNER JOIN [W005].[dbo].[vtblSmPeriodConversion] C ON C.GlYear = d.SumYear AND C.GlPeriod = d.SumPeriod
	WHERE C.ID BETWEEN @FromID AND @ThruID


	SELECT * FROM 
	(
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * d.Qty AS Qty
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * d.CostExt AS CostExt
			, CASE WHEN d.[Source] BETWEEN 80 AND 84 THEN d.PriceExt 
				WHEN d.[Source] BETWEEN 30 AND 32 THEN -d.PriceExt 
				ELSE 0 END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty AS LaborSetupCost
			, IsNull(d.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty AS LaborCost
			, IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty AS MachineSetupCost
			, IsNull(d.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty AS MachineCost
			, IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty AS MaterialDirectCost
			, IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty AS IndirectCost
			, IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty AS SubcontractCost
			, (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.AppId <> 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0 OR (d.AppId = 'PO' AND d.Qty = 0 AND d.CostExt <> 0 )) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit 
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * d.Qty AS Qty
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * d.CostExt AS CostExt
			, CASE WHEN d.[Source] BETWEEN 80 AND 84 THEN d.PriceExt 
				WHEN d.[Source] BETWEEN 30 AND 32 THEN -d.PriceExt 
				ELSE 0 END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty AS LaborSetupCost
			, IsNull(d.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty AS LaborCost
			, IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty AS MachineSetupCost
			, IsNull(d.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty AS MachineCost
			, IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty AS MaterialDirectCost
			, IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty AS IndirectCost
			, IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty AS SubcontractCost
			, (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] < 70 THEN 1 ELSE -1 END * (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.AppId = 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit
			, CASE WHEN d.[Source] < 70 THEN -1 ELSE 1 END * d.Qty AS Qty
			, CASE WHEN d.[Source] < 70 THEN -1 ELSE 1 END * d.Qty * r.CostUnit AS CostExt
			, CASE WHEN d.[Source] BETWEEN 80 AND 84 THEN -d.PriceExt 
				WHEN d.[Source] BETWEEN 30 AND 32 THEN d.PriceExt 
				ELSE 0 END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(r.WILaborSetupUnitCost,0)*r.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WILaborSetupUnitCost,0)*r.ConvFactor * d.Qty AS LaborSetupCost
			, IsNull(r.WILaborUnitCost,0)*r.ConvFactor AS LaborCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WILaborUnitCost,0)*r.ConvFactor * d.Qty AS LaborCost
			, IsNull(r.WIMachineSetupUnitCost,0)*r.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WIMachineSetupUnitCost,0)*r.ConvFactor * d.Qty AS MachineSetupCost
			, IsNull(r.WIMachineUnitCost,0)*r.ConvFactor AS MachineCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WIMachineUnitCost,0)*r.ConvFactor * d.Qty AS MachineCost
			, IsNull(r.WIMaterialDirectUnitCost,0)*r.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WIMaterialDirectUnitCost,0)*r.ConvFactor * d.Qty AS MaterialDirectCost
			, IsNull(r.WIMaterialIndirectUnitCost,0)*r.ConvFactor AS IndirectCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WIMaterialIndirectUnitCost,0)*r.ConvFactor * d.Qty AS IndirectCost
			, IsNull(r.WISubcontractUnitCost,0)*r.ConvFactor AS SubcontractCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * IsNull(r.WISubcontractUnitCost,0)*r.ConvFactor * d.Qty AS SubcontractCost
			, (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*r.ConvFactor AS WebCostUnit
			, CASE WHEN r.[Source] < 70 THEN -1 ELSE 1 END * (IsNull(r.WILaborSetupUnitCost,0)+IsNull(r.WILaborUnitCost,0)+IsNull(r.WIMachineSetupUnitCost,0)+IsNull(r.WIMachineUnitCost,0)+IsNull(r.WIMaterialDirectUnitCost,0)+IsNull(r.WIMaterialIndirectUnitCost,0)+IsNull(r.WISubcontractUnitCost,0))*r.ConvFactor*d.Qty AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [W005].[dbo].[vtblInHistDetailNunezCosts] r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
		WHERE d.AppId <> 'MP' and d.Qty > 0  
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit
			, CASE WHEN d.[Source] < 70 THEN -1 ELSE 1 END * d.Qty AS Qty
			, CASE WHEN d.[Source] < 70 THEN -1 ELSE 1 END * d.Qty * r.CostUnit AS CostExt
			, CASE WHEN d.[Source] BETWEEN 80 AND 84 THEN -d.PriceExt 
				WHEN d.[Source] BETWEEN 30 AND 32 THEN d.PriceExt 
				ELSE 0 END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IIF(r.CostUnit = 0, 0, IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor) AS LaborSetupCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty) AS LaborSetupCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WILaborUnitCost,0)*d.ConvFactor) AS LaborCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WILaborUnitCost,0)*d.ConvFactor * d.Qty) AS LaborCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor) AS MachineSetupCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty) AS MachineSetupCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WIMachineUnitCost,0)*d.ConvFactor) AS MachineCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WIMachineUnitCost,0)*d.ConvFactor * d.Qty) AS MachineCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor) AS MaterialDirectCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty) AS MaterialDirectCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor) AS IndirectCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty) AS IndirectCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor) AS SubcontractCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * IsNull(d.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty) AS SubcontractCost
			, IIF(r.CostUnit = 0, 0, (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor) AS WebCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source]  < 70 THEN 1 ELSE -1 END * (IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty) AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [W005].[dbo].[vtblInHistDetailNunezCosts] r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.AppId = 'MP' and d.Qty > 0 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, 0 AS LaborSetupCostUnit
			, 0 AS LaborSetupCost
			, 0 AS LaborCostUnit
			, 0 AS LaborCost
			, 0 AS MachineSetupCostUnit
			, 0 AS MachineSetupCost
			, 0 AS MachineCostUnit
			, 0 AS MachineCost
			, 0 AS MaterialDirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7','8'), -d.CostExt, 0) AS MaterialDirectCost
			, 0 AS IndirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
			, 0 AS SubcontractCostUnit
			, 0 AS SubcontractCost
			, 0 AS WebCostUnit
	--		, -(IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.AppId <> 'MP' and d.[Source] IN (200, 201)
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, 0 AS LaborSetupCostUnit
			, 0 AS LaborSetupCost
			, 0 AS LaborCostUnit
			, 0 AS LaborCost
			, 0 AS MachineSetupCostUnit
			, 0 AS MachineSetupCost
			, 0 AS MachineCostUnit
			, 0 AS MachineCost
			, 0 AS MaterialDirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7', '8'), -d.CostExt, 0) AS MaterialDirectCost
			, 0 AS IndirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
			, 0 AS SubcontractCostUnit
			, 0 AS SubcontractCost
			, 0 AS WebCostUnit
	--		, -(IsNull(d.WILaborSetupUnitCost,0)+IsNull(d.WILaborUnitCost,0)+IsNull(d.WIMachineSetupUnitCost,0)+IsNull(d.WIMachineUnitCost,0)+IsNull(d.WIMaterialDirectUnitCost,0)+IsNull(d.WIMaterialIndirectUnitCost,0)+IsNull(d.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM #T1 d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R ON R.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R1.ReleaseId
		WHERE d.AppId = 'MP' and d.[Source] IN (200, 201)
	) HistoryDetail

	Drop Table #T1
END
GO
