USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIParentOrdDimInspection]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIParentOrdDimInspection] @ParentOrderNo VARCHAR(8)
AS
BEGIN

--DECLARE @ParentOrderNo VARCHAR(8) = 'P0002401'



	SELECT DISTINCT 
		   D.Id
		  ,D.OrderReleaseEventId
		  ,E.OrderNo AS ParentOrderNo
		  ,E.ReleaseNo
		  ,OrderNo =
				STUFF((SELECT DISTINCT ' ' + C.OrderNo+'-'+CAST(C.ReleaseNo AS VARCHAR(3))
						 FROM [W005].[dbo].[CCIOrderReleaseInfo] as C
						 WHERE C.ParentOrderNo=E.OrderNo
						 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')
		  ,ItemId = 
				STUFF((SELECT DISTINCT ' ' + K.ItemId
						 FROM [W005].[dbo].[CCICutFileKit] as K
						 WHERE K.CCICutFileId=CF.Id
						 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')
		  ,D.[CuttingTechUserId]
		  ,PC.CutFileActual
		  ,CF.DIMSheet
		  ,D.[DimA]
		  ,D.[DimAToolId]
		  ,DS.DimAUpperLimit
		  ,DS.DimALowerLimit
		  ,D.[DimB]
		  ,D.[DimBToolId]
		  ,DS.DimBUpperLimit
		  ,DS.DimBLowerLimit
		  ,D.[DimC]
		  ,D.[DimCToolId]
		  ,DS.DimCUpperLimit
		  ,DS.DimCLowerLimit
		  ,D.[DimD]
		  ,D.[DimDToolId]
		  ,DS.DimDUpperLimit
		  ,DS.DimDLowerLimit
		  ,D.[DimE]
		  ,D.[DimEToolId]
		  ,DS.DimEUpperLimit
		  ,DS.DimELowerLimit
		  ,D.[IsFirstPiece]
		  ,D.[ApprovedBy]
		  ,D.[IsLayUpVerified]
		  ,D.[OKtoMylar]
		  ,D.[DimAGoNoGo]
		  ,D.[DimBGoNoGo]
		  ,D.[DimCGoNoGo]
		  ,D.[DimDGoNoGo]
		  ,D.[DimEGoNoGo]
		  ,D.[SupervisorOverride]
		  ,D.[Supervisor]
	  FROM [W005].[dbo].[OrderReleaseEvent] E
		   INNER JOIN [W005].[dbo].[CCIDimInspectionLog] D ON D.OrderReleaseEventId=E.Id
		   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly = 0
		   INNER JOIN [W005].[dbo].[CCIParentOrderCutList] PC ON PC.Id=E.CCIParentOrderCutListId
		   INNER JOIN [W005].[dbo].[CCICutFile] CF ON CF.Id=PC.CCICutFileId
		   INNER JOIN [W005].[dbo].[CCICutFileDimSheetSpecs] DS ON DS.CCICutFileId=CF.Id
	WHERE	E.OrderNo = @ParentOrderNo
	ORDER BY D.Id





END
GO
