USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCustCharForChar]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCustCharForChar] @CustId as int, @Characteristic as varchar(50)
	
AS
BEGIN
	SELECT PC.Id As ProdCharId,PC.CustId,PC.nTarget,PC.nMin,PC.nMax,PC.bTarget,PC.sTarget,PC.MinNA,PC.MaxNA,PC.Enforce,PC.LastUpdateBy As ProdCharLastUpdateBy,PC.LastUpdateDate As ProdCharLastUpdateDate,
			C.Id As CharId,C.Characteristic,C.CharDescr,C.DataType,C.tblSmCustomFieldId, C.UsedByERP, C.LastUpdateBy As CharLastUpdateBy,C.LastUpdateDate As CharLastUpdateDate
	FROM CustomerChar As PC INNER JOIN CustomerCharacteristic As C ON C.Id=PC.CharId
	WHERE PC.CustId=@CustId AND C.Characteristic = @Characteristic
END
GO
