USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNoSerNumOnPLvsVerified]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spNoSerNumOnPLvsVerified]
			@SO varchar(8),@PLNo int, @SOLineNo int,@ItemId varchar(24)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @SO varchar(8) ='00002324'
--DECLARE @ItemId varchar(24) = 'FG-GEBC1014-PKT'
--DECLARE @PLNo int = 25815
--DECLARE @SOLineNo int = 1

DECLARE @NumSerNoOnPL int
DECLARE @NumSerNoVerified int 

SET @NumSerNoOnPL = (SELECT COUNT(*) As NumSerNumShipped
						FROM [W005].[dbo].[ShipPackingListDetail] 
						WHERE PLNo = @PLNo
							AND SPLSOLineId = @SOLineNo)
SET @NumSerNoVerified = (SELECT COUNT(*) As NumSerNoVerified
						FROM [005].[dbo].[tblSoTransSer]
						WHERE TransId=@SO
							AND ItemId = @ItemId)

SELECT @NumSerNoOnPL As NumSerNumShipped, @NumSerNoVerified As NumSerNoVerified



END
GO
