USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIMaterialTrackerByKit]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIMaterialTrackerByKit] @FGTravSerNum AS Varchar(35), @RMSerialNo AS Varchar(16), @RMLotNo AS Varchar(16)
AS
BEGIN

--DECLARE @FGTravSerNum AS Varchar(35)='00033094-022-0014'
--DECLARE @RMSerialNo AS Varchar(16)='60M0047334A/10'
--DECLARE @RMLotNo AS Varchar(16)='60M0047334A/10'

DECLARE @OutTimeDuringTansit AS FLOAT = (
	SELECT DISTINCT ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit
	FROM OrderReleaseKitRawMatlOutTimeHistory H
		 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=H.FGItemId
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] O ON O.ItemId=H.RMItemId AND O.SerialNo=H.RMSerialNo AND O.LotNo=H.RMLotNo
		 LEFT JOIN [W005].[dbo].[OutTimeReceiving] R ON R.Id=O.OutTimeRecvdId
	WHERE H.RMSerialNo=@RMSerialNo AND H.RMLotNo=@RMLotNo AND (O.ProgramId=OS.ProgramId OR O.ProgramId=0) AND InTransitOTStopped = 0
)


SELECT *
FROM (
	SELECT DISTINCT
			 C.ParentOrderNo
			,C.OrderNo
			,C.ReleaseNo
			,H.FGItemId
			,H.FGTravSerNum
			,H.RMItemId
			,H.RMSerialNo
			,H.RMLotNo
			,H.LastScanDateTime AS DateTimeIn
			,NULL AS DateTimeOut
			,(CAST(H.TotalRoomMinutes AS FLOAT)/60 - @OutTimeDuringTansit) AS TotalRoomHrs
			,S.MaxRoomTimeHrs-(CAST(H.TotalRoomMinutes AS FLOAT)/60 - @OutTimeDuringTansit) AS OutTimeRemaining
	FROM CCIOrderReleaseInfo C
		 INNER JOIN CCIManufacturingGroup M ON M.Id=C.CCIManufacturingGroupId
		 INNER JOIN OrderReleaseEvent E ON E.OrderNo=C.ParentOrderNo
		 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.ItemId=C.ItemId AND I.IsAssembly=1
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory H ON H.OrderReleaseEventItemId=I.Id
		 INNER JOIN OutTimeItemSpecs S ON S.ItemId=H.RMItemId AND (S.ProgramId=M.ProgramId OR S.ProgramId=0)
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] O ON O.ItemId=H.FGItemId AND O.TravSerNum=H.FGTravSerNum AND O.LastScanDateTime=H.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=O.PriorWmBinId
	WHERE H.FGTravSerNum=@FGTravSerNum AND H.RMSerialNo = @RMSerialNo AND H.RMLotNo = @RMLotNo
		  AND O.BinType = 'FREEZER'  AND (PriorLOC.[cf_Bin Type] != O.BinType) 		  
	UNION ALL
	SELECT DISTINCT
			 C.ParentOrderNo
			,C.OrderNo
			,C.ReleaseNo
			,H.FGItemId
			,H.FGTravSerNum
			,H.RMItemId
			,H.RMSerialNo
			,H.RMLotNo
			,NULL AS DateTimeIn
			,H.LastScanDateTime AS DateTimeOut
			,(CAST(H.TotalRoomMinutes AS FLOAT)/60 - @OutTimeDuringTansit) AS TotalRoomHrs
			,S.MaxRoomTimeHrs-(CAST(H.TotalRoomMinutes AS FLOAT)/60 - @OutTimeDuringTansit) AS OutTimeRemaining
	FROM CCIOrderReleaseInfo C
		 INNER JOIN CCIManufacturingGroup M ON M.Id=C.CCIManufacturingGroupId
		 INNER JOIN OrderReleaseEvent E ON E.OrderNo=C.ParentOrderNo
		 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.ItemId=C.ItemId AND I.IsAssembly=1
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory H ON H.OrderReleaseEventItemId=I.Id
		 INNER JOIN OutTimeItemSpecs S ON S.ItemId=H.RMItemId AND (S.ProgramId=M.ProgramId OR S.ProgramId=0)
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] O ON O.ItemId=H.FGItemId AND O.TravSerNum=H.FGTravSerNum AND O.LastScanDateTime=H.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=O.PriorWmBinId
	WHERE H.FGTravSerNum=@FGTravSerNum AND H.RMSerialNo = @RMSerialNo AND H.RMLotNo = @RMLotNo
		  AND O.BinType IN ('ROOM','WAREHOUSE')  AND (PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE'))
) A	 
ORDER BY FGTravSerNum, ISNULL(DateTimeIn,DateTimeOut)

END
	 
GO
