USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spProductSpecificInformation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProductSpecificInformation] @ProdOrderNumber VARCHAR(8), @ReleaseNo as int 
AS
BEGIN
	--DECLARE @ProdOrderNumber AS VARCHAR(8) = '00000052'
	--DECLARE @ReleaseNo as int = 1;

	SELECT DISTINCT
	ORK.FGItemId AS ProductionItem, 
	trav_view.Descr AS Description, 
	Cust.CustName AS Customer, 
	ORK.RMItemId AS ComponentItem1, 
	(SELECT DISTINCT trav_view.Descr FROM [005].dbo.trav_tblInItem_view trav_view WHERE trav_view.ItemId = ORK.RMItemId) AS ComponentItem2,
	Alias.cf_Spec AS CustomersSpec,
	MTS.OperationId AS OperationType,
	(SELECT nTarget FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Width(MM)' ELSE 'Width(IN)' END) AS FGIncomingWidthTarget,
	(SELECT nMin FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Width(MM)' ELSE 'Width(IN)' END) AS FGMinIncomingWidth,
	(SELECT nMax FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Width(MM)' ELSE 'Width(IN)' END) AS FGMaxIncomingWidth,
	(SELECT nTarget FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Length(M)' ELSE 'Length(LF)' END) AS FGMIncomingLengthTarget,
	(SELECT nMin FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Length(M)' ELSE 'Length(LF)' END) AS FGMinIncomingLength,
	(SELECT nMax FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = CASE WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'Length(M)' ELSE 'Length(LF)' END) AS FGMaxIncomingLength,
		CASE 
			WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM' THEN 'MM'
		ELSE 'IN'
		END AS FGWidthUnit,
		CASE 
			WHEN (SELECT UomBase FROM [005].dbo.tblInItem I WHERE I.ItemId = ORK.FGItemId) = 'LM'  THEN 'M'
		ELSE 'LF'
		END AS FGLengthUnit,
	(SELECT nTarget FROM vProductCharacteristics PC WHERE PC.ItemId = ORK.FGItemId AND PC.Characteristic = 'MaxSplicesAllowed') AS FGMaxSplices,
	order_view.[cf_No. of Cuts] AS FGMaxCuts,
	(SELECT Comment FROM [005].[dbo].[tblSmAttachment] FGSmAttachDefects WHERE LinkKey = ORK.FGItemId AND Keywords LIKE '%Rejectable Defects%') AS RejectableDefects,
	(SELECT Comment FROM [005].[dbo].[tblSmAttachment] FGSmAttachDefects WHERE LinkKey = ORK.FGItemId AND Keywords LIKE '%Product Notes%') AS ProductNotes,
	(SELECT Comment FROM [005].[dbo].[tblSmAttachment] FGSmAttachDefects WHERE LinkKey = ORK.FGItemId AND Keywords NOT LIKE '%Product Notes%' AND Keywords NOT LIKE '%Rejectable Defects%' AND Keywords NOT LIKE '%Incoming Material Notes%') AS GeneralNotes,
	MOR.Notes AS ProdOrderNotes

	FROM [005].dbo.[tblMpOrderReleases] MOR 
		INNER JOIN [005].dbo.tblMpRequirements MR 
			ON MR.ReleaseId = MOR.Id
		INNER JOIN [005].dbo.[tblMpTimeSum] MTS 
			ON MTS.TransId = MR.TransId 
		INNER JOIN OrderReleaseEvent ORE 
			ON ORE.OrderNo = MOR.OrderNo AND ORE.ReleaseNo = MOR.ReleaseNo
		INNER JOIN OrderReleaseEventItem OREI 
			ON OREI.OrderReleaseEventId = ORE.Id
		INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK 
			ON ORK.OrderReleaseEventItemId = OREI.Id
		LEFT JOIN [005].dbo.trav_tblInItem_view trav_view
			ON trav_view.ItemId = ORK.FGItemId
		LEFT JOIN [005].dbo.trav_tblInItemLocLot_View L 
			ON L.ItemId = OREI.ItemId AND L.LocId = OREI.LocId AND L.LotNum = OREI.SerialNo
		LEFT JOIN vOrderReleaseCustPOInfo Cust 
			ON Cust.CustId = MOR.CustId
		LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] Alias
			ON Alias.ItemId = ORK.FGItemId AND Alias.RefID = MOR.CustId
		LEFT JOIN [005].[dbo].trav_tblMpOrder_View order_view
			ON order_view.OrderNo = @ProdOrderNumber AND order_view.AssemblyId = OREI.ItemId

	WHERE MOR.OrderNo = @ProdOrderNumber 
	AND MOR.ReleaseNo = @ReleaseNo
	AND MTS.MachineGroupId != 'NO MACHINE' 

	SELECT DISTINCT OREI.ItemId, C.Characteristic, PC.nTarget FROM
	[005].dbo.[tblMpOrderReleases] MOR 
		INNER JOIN [005].dbo.tblMpRequirements MR 
			ON MR.ReleaseId = MOR.Id
		INNER JOIN OrderReleaseEvent ORE 
			ON ORE.OrderNo = MOR.OrderNo AND ORE.ReleaseNo = MOR.ReleaseNo
		INNER JOIN OrderReleaseEventItem OREI 
			ON OREI.OrderReleaseEventId = ORE.Id
		INNER JOIN ProductChar PC 
			ON PC.ItemId = OREI.ItemId
		INNER JOIN Characteristic C ON C.Id = PC.CharId
		WHERE C.CriticalAttribute = 1 AND IsAssembly = 1

	--SET THESE CriticalAttributes back to 0!!!!
	--update Characteristic set CriticalAttribute = 1 WHERE Id = 291
	--update Characteristic set CriticalAttribute = 1 WHERE Id = 174
	--update Characteristic set CriticalAttribute = 1 WHERE Id = 240
END
GO
