USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMaterialIssued]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMaterialIssued] @OrderNo as varchar(8), @ReleaseNo as int 
AS
BEGIN
--DECLARE @OrderNo as Varchar(8) = '00048044'
--DECLARE @ReleaseNo as int = 0
	if @ReleaseNo = 0 
		Set @ReleaseNo = null 
	SELECT I.*
	FROM [W005].dbo.MpOrderMatIssued I
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = I.OrderNo
	INNER JOIN [005].dbo.tblMbAssemblyHeader A ON A.AssemblyId = O.AssemblyId AND A.RevisionNo = O.RevisionNo
	INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View D ON D.HeaderId = A.Id AND D.ComponentId = I.ItemId AND (D.[cf_Do not show on MES Issue-Load Forms] IS NULL OR D.[cf_Do not show on MES Issue-Load Forms] = 0)
	WHERE I.OrderNo = @OrderNo and (@ReleaseNo is null OR I.ReleaseNo = @ReleaseNo) AND I.Qty > 0
	Order by I.ItemId, I.LotNo, I.SerialNo
END
GO
