USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpenParentOrdersforIssueMaterialOnly]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOpenParentOrdersforIssueMaterialOnly] @LocId as varchar(10)
AS
BEGIN


	Select DISTINCT ORI.ParentOrderNo
	              , ORI.ParentOrderNo as OrderNo
				  , AssemblyId =
								 (SELECT        E1.ItemId + ' ' AS [text()]
								   FROM            [W005].[dbo].[CCIOrderReleaseInfo] AS E1
								   WHERE        E1.ParentOrderNo = ORI.ParentOrderNo FOR XML PATH(''))
				  , Null as RevisionNo
				  , Null as Id
				  , CAST(null as varchar(30)) as CustName
				  , 0 AS IssueByRelease
				  , 0 AS NumOfCuts
				  , Null AS LotNo
				  , I.[cf_Multi-UOM Serial Item] AS IsSerial
				  , IsNull(I.[LottedYN], '') AS IsLotted
				  , IsNull(I.[cf_Multi-Item Mfg], 0) AS IsMultiItem
				  , i.[cf_Out-Time Tracked] as IsOutTimeTracked
				  , 1 As OpCnt
				  , RlseCnt = 1
				  , 0 as [cf_On Credit Hold]
				  , ORI.MfgEndDate as EstCompletionDate
	FROM [W005].[dbo].[CCIOrderReleaseInfo] ORI INNER JOIN 
		 [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = ORI.ItemId
	WHERE I.ProductLine = 'Cross Ply' AND I.[cf_Kitted (WI)] = 1 AND ORI.LocId = @LocId
	Order by 1,2,3


END
GO
