USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineLotQtyReturned]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderLineLotQtyReturned]
				  @WebReturnNum as int, @ItemId as varchar(24)  
AS
BEGIN

--DECLARE @WebReturnNum as int = 21
--DECLARE @ItemId as varchar(24) = 'SB-BU-060-24'

    SELECT	H.TraverseOrderNum,
			H.WebReturnNum,
			D.ReturnInDtlId,
			D.ItemId,
			D.PkgId,
			E.SerialNum,
			E.LotNum,
			E.TravLotNum,
			D.TotalReturnQty,
			E.ReturnQty,
			D.UOM,
			D.ShipUnitId
	
		FROM [W005].[dbo].[ReturnedInHeader] AS H
			 INNER JOIN [W005].[dbo].[ReturnedInDetail] AS D ON D.WebReturnNum = H.WebReturnNum
			 INNER JOIN [W005].[dbo].[ReturnedInDetailExt] AS E ON E.ReturnInDtlId = D.ReturnInDtlId

		WHERE @WebReturnNum=H.WebReturnNum AND @ItemId=D.ItemId
END

GO
