USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetKittingRMUsedOnOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetKittingRMUsedOnOrder] @ParentOrderNo as varchar(8), @ItemId as varchar(24)
AS
BEGIN
	select I.ItemId, SUM(I.TotalQtyConsumed) AS TotalQtyConsumed
	from OrderReleaseEvent E
	INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0
	where OrderNo = @ParentOrderNo
	Group by I.ItemId
END
GO
