USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrItemLocLotForPosting]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExtrItemLocLotForPosting] @PalletId as int

AS
BEGIN

	--DECLARE @PalletId as int = 77611

		SELECT DISTINCT  I.TravLotNum
			,I.Location
			,I.ItemId
			,Qty = SUM(I.Quantity) -- = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=@PalletId AND PostedToTraverse=0)
			,I.ShipPalletId
			,I.MachineGroupId
			,ProdOrderNo = (SELECT TOP 1 ProdOrderNo FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=@PalletId AND PostedToTraverse=0 ORDER BY Id DESC)
			,LastUpdateBy = (select EmployeeId from [005].dbo.tblSmEmployee where SocialSecurityNo=(SELECT TOP 1 LastUpdateBy FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=@PalletId AND PostedToTraverse=0 ORDER BY Id DESC))
		FROM [W005].[dbo].[ShipItem] As I 
		WHERE I.ShipPalletId=@PalletId AND PostedToTraverse=0
		GROUP BY I.TravLotNum, I.Location, I.ItemId,I.ShipPalletId,I.MachineGroupId , I.ProdOrderNo --, --I.LastUpdateBy
		
END
GO
