USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMRASProductionOrderNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetMRASProductionOrderNo]
	
AS
BEGIN

	SELECT OrderNo AS ProdOrdNo, ReleaseNo, ParentOrderNo, ItemId,LocId
	FROM [W005].[dbo].[CCIOrderReleaseInfo] 
	WHERE ParentOrderNo IN (SELECT ParentOrderNo
						FROM [W005].[dbo].[CCIParentOrderCutList] 
						WHERE ProgramId IN (SELECT Id
											FROM [W005].[dbo].[Program]
											WHERE CustId IN ( SELECT CustId
																FROM [005].[dbo].[tblArCust]
																WHERE CustName LIKE ('%Middle%River%'))))
	ORDER BY OrderNo,ReleaseNo


END






GO
