USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIKitIdx]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIKitIdx] @ParentOrderNo as Varchar(8), @ItemId as Varchar(24)
AS
BEGIN
	SELECT row_number() over (ORDER BY OrderNo, OrderReleaseEventId, I.Id , ItemId, TravSerNum) as SerNumIdx,
	  OrderNo AS ParentOrderNo, OrderReleaseEventId, I.Id as OrderReleaseEventItemId, ItemId, TravSerNum 
	FROM OrderReleaseEventItem I INNER JOIN OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId
	Where IsAssembly = 1 AND OrderNo = @ParentOrderNo AND ItemId = @ItemId
END
GO
