USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetASNPkgIdQtyOnHand]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetASNPkgIdQtyOnHand] @PkgId as varchar(10)
AS
BEGIN
	SELECT A.PkgId, A.ItemId, l.LocId, A.TravLotNum, Sum(QtyOnHand) AS QtyOnHand 
	FROM ASNImport A
	INNER JOIN [005].dbo.tblINItemLocLot L ON L.ItemId = A.ItemId AND L.LotNum = A.TravLotNum
	INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] O ON O.ItemId = L.ItemId AND O.LocId = L.LocId AND O.LotNum = L.LotNum
	WHERE A.PkgId = @PkgId
	GROUP BY A.PkgId, A.ItemId, L.LocId, A.TravLotNum
END
GO
