USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[sptmpOffSiteTran]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sptmpOffSiteTran]
		 @OSTId int
	
AS
BEGIN

--DECLARE @OSTId int = 1

	SELECT Id
		,ItemId
		,ItemDescr
		,Quantity
		,UOM
		,IsNull(TravSerNum,WISerNum) AS SerNum
		,IsNull(TravLotNum,WILotNum) AS LotNum
		,IsNull(PkgId,'') AS PkgId
		,ShipItemId
		,ShipBoxId
		,ShipCartonId
		,ShipPalletId
		,ErrorMsg
		,DoNotAddToOST
	FROM [W005].[dbo].[tmpOffSiteTransfer]
	WHERE OSTId = @OSTId




END




	

	



GO
