USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOffSiteTranDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOffSiteTranDetail]
		 @OSTId int
	
AS
BEGIN

--DECLARE @OSTId int = 193

	SELECT Id, ItemId, ItemDescr,Quantity,UOM
		,IIF(TravSerNum is null OR Len(TravSerNum)=0,WISerNum,TravSerNum) As SerNum
		,IIF(TravLotNum is null OR Len(TravLotNum)=0,WILotNum,TravLotNum) As LotNum
		,IsNull(PkgId,'') AS PkgId
		,ShipItemId, ShipBoxId, ShipCartonId, ShipPalletId

	FROM [W005].[dbo].[OffSiteTransferDetail]
	WHERE OffSiteTransId = @OSTId




END




	

	



GO
