USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebBeldenTollQRLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[WebBeldenTollQRLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    SELECT
        E.OrderNo,

        E.ReleaseNo,

        SetNumber =
            E.OrderNo + '-'
            + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3),

        EI.ItemId,

        ItemDescription = I.Descr,

        CustomerAlias = CA.AliasID,

        WidthIN = WI.WidthIN,
        WidthMM = WM.WidthMM,

        Length =
            CASE
                WHEN UOM.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM.ConvFactor
            END,

        LengthUOM = LLUOM.LabelLengthUOM,

        QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,''),

        EI.SerialNo,

        EI.LotNo,

        TotalQty = ISNULL(Q.QtyOnHand, EI.TotalQty),

        EI.HeadPos,

        EI.CutPos

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].[dbo].[trav_tblInItem_view] I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    OUTER APPLY
    (
        SELECT TOP (1)
            AliasID = A.AliasID
        FROM
        (
            SELECT CustId
            FROM [005].[dbo].[tblMpOrderReleases]
            WHERE OrderNo = E.OrderNo
              AND ReleaseNo = E.ReleaseNo

            UNION ALL

            SELECT CustId
            FROM [005].[dbo].[tblMpHistoryOrderReleases]
            WHERE OrderNo = E.OrderNo
              AND ReleaseNo = E.ReleaseNo
        ) R

        INNER JOIN [005].[dbo].[tblInItemAlias] A
            ON A.RefID = R.CustId
           AND A.ItemId = EI.ItemId
           AND A.AliasType = 1
    ) CA

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    OUTER APPLY
    (
        SELECT TOP (1)
            LabelLengthUOM = P.sTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'LabelLengthUOM'
    ) LLUOM

    LEFT JOIN [005].[dbo].[tblInItemUom] UOM
        ON UOM.ItemId = EI.ItemId
       AND UOM.Uom = LLUOM.LabelLengthUOM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.CutPos;

END
GO
