USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedPalletsByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Returns Complete AND Partial Pallets */


CREATE PROCEDURE [dbo].[spGetPackedPalletsByItemOrdNoRelNo]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)= 'PET-2-2.000-6P'
--declare @LocId as varchar(10) = 'INVENTORY'
--declare @OrderNo as varchar(8) = '00040119'
--declare @ReleaseNo as int = 1


DECLARE @DoNotPackMixedOrdNoRelNo as bit
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
FROM [W005].[dbo].[ProductChar] Pc 
inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)	


SELECT DISTINCT P.Id,
	P.ShipPalletNo As PkgId,
	SUM(I.Quantity) As Quantity, 
	Count(I.Id) As NoPacked,
	P.Complete, IsPacked = 0,P.GrossWt,P.TareWt
	,@DoNotPackMixedOrdNoRelNo AS bTarget
FROM [W005].[dbo].[ShipPallet] As P 
	inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)
Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
	AND P.Deleted=0 AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0
GROUP BY P.Id,P.ShipPalletNo, P.Complete,P.GrossWt,P.TareWt
order by P.ShipPalletNo desc

END
GO
