USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCustomerCharacteristics]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCustomerCharacteristics]
	@CustID as int
AS
BEGIN
	SELECT        a.Id, a.CustId, a.CharId, a.nTarget, a.nMin, a.nMax, a.bTarget, a.sTarget, a.MinNA, a.MaxNA, a.Enforce, a.LastUpdateBy, 
							 a.LastUpdateDate, c.Characteristic, c.DataType, c.tblSmCustomFieldId, dbo.vtblSmCustomField.FieldName
	FROM            dbo.CustomerChar A INNER JOIN
							 dbo.CustomerCharacteristic C ON a.CharId = c.Id LEFT JOIN
							 dbo.vtblSmCustomField ON c.tblSmCustomFieldId = dbo.vtblSmCustomField.Id
	WHERE		  a.CustId = @CustID
END



GO
