USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetShipmentDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetShipmentDetail]
	@PLNo as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [Id]
      ,[PLNo]
      ,[ShipItemId]
      ,[ShipBoxId]
      ,[ShipCartonId]
      ,[ShipPalletId]
      ,[PkgId]
      ,[ItemId]
      ,[ItemDescr]
      ,[SerialNo]
      ,[LotNo]
			,[TravLotNum]
      ,[Qty]
      ,[UOM]
      ,[NoRolls]
      ,[GrossWt]
      ,[OrderLineNo]
      ,[Location]
      ,[TOPS]
      ,[MfgDate]
      ,[CustomerPN]
  FROM [W005].[dbo].[ShipPackingListDetail]
  WHERE [PLNo]=@PLNo
END
GO
