USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetFinalizeKitProductionMaterialPCT]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetFinalizeKitProductionMaterialPCT] @ParentOrderNo as varchar(8), @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	--Declare @ParentOrderNo as varchar(8)
	--Declare @OrderNo as varchar(8)
	--Declare @ReleaseNo as int
	--Set @ParentOrderNo = 'P0059121' 
	--Set @OrderNo = '00046384'
	--Set @ReleaseNo = 5

	SELECT B.OrderNo, B.ReleaseNo, B.ItemId, B.Qty, A.TotalParentOrderQty, B.Qty/A.TotalParentOrderQty AS OrderRelMatPct
	FROM
	(
		SELECT O.ParentOrderNo, Sum(D.Qty) AS TotalParentOrderQty
		FROM [005].dbo.tblMpMatlDtl D			
		INNER JOIN [005].dbo.tblMpRequirements R ON R.TransId = D.TransId
		INNER JOIN [W005].dbo.CCIOrderReleaseInfo O ON O.ReleaseId = R.ReleaseId
		where ParentOrderNo = @ParentOrderNo AND Type in (2,3,4)
		group by O.ParentOrderNo
		UNION ALL
		SELECT O.ParentOrderNo, Sum(D.Qty) AS TotalParentOrderQty
		FROM [005].dbo.tblMpHistoryMatlDtl D			
		INNER JOIN [005].dbo.tblMpHistoryRequirements R ON R.TransId = D.TransId
		INNER JOIN [W005].dbo.CCIOrderReleaseInfo O ON O.ReleaseId = R.ReleaseId
		where ParentOrderNo = @ParentOrderNo AND Type in (2,3,4)
		group by O.ParentOrderNo
	) A
	INNER JOIN
	(
		SELECT O.ParentOrderNo, O.OrderNo, O.ReleaseNo, O.ItemId, Sum(D.Qty) AS Qty
		FROM [005].dbo.tblMpMatlDtl D
		INNER JOIN [005].dbo.tblMpRequirements R ON R.TransId = D.TransId
		INNER JOIN [W005].dbo.CCIOrderReleaseInfo O ON O.ReleaseId = R.ReleaseId
		where OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND Type in (2,3,4)
		group by O.ParentOrderNo, O.OrderNo, O.ReleaseNo, O.ItemId
		UNION ALL
		SELECT O.ParentOrderNo, O.OrderNo, O.ReleaseNo, O.ItemId, Sum(D.Qty) AS Qty
		FROM [005].dbo.tblMpHistoryMatlDtl D
		INNER JOIN [005].dbo.tblMpHistoryRequirements R ON R.TransId = D.TransId
		INNER JOIN [W005].dbo.CCIOrderReleaseInfo O ON O.ReleaseId = R.ReleaseId
		where OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND Type in (2,3,4)
		group by O.ParentOrderNo, O.OrderNo, O.ReleaseNo, O.ItemId
	) B ON 1 = 1
END
GO
