USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCharLookUp]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetCharLookUp]
	@CharId as varchar(24)
AS
BEGIN
	
	SELECT clu.CharLookUpName
	FROM [W005].[dbo].[CharLookUp] AS clu
	WHERE clu.Id In (SELECT x.CharLookUpId
					FROM [W005].[dbo].[CharLookUpXRef] As x
					WHERE x.CharId = @CharId)
	ORDER BY clu.CharLookUpName



END



GO
