USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuickMoveTransSerRcpts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuickMoveTransSerRcpts]
	@TransId varchar(8), @RcptNum varchar(15), @QMId int, @POLocId varchar(10)
AS
BEGIN

--DECLARE @TransId varchar(8) = '00008924'
--DECLARE @RcptNum varchar(15)= 'CR-TIGH'
--DECLARE @QMId int = 7424
--DECLARE @POLocId varchar(10) = 'QAHMTP'



SELECT w.ItemId, w.LocId,w.LotNum, w.SerNum
		-- Use Characteristic = 'QAHold' instead of CharId, because QAHold can have a different CharId value in diff datasets
		,CASE WHEN (SELECT [CharId] FROM [W005].[dbo].[ProductChar] WHERE ItemId = w.ItemId AND CharId = (SELECT Id FROM [W005].[dbo].[Characteristic] WHERE Characteristic = 'QAHold')) is not null 
				THEN (SELECT Id FROM [005].[dbo].[tblWmExtLoc] WHERE LocId like 'QAH%' AND ExtLocID = (SELECT ExtLocId FROM [005].[dbo].[tblWmExtLoc] WHERE Id=(SELECT QuickMoveToBinId FROM [W005].[dbo].[OutTimeReceiving] WHERE Id=@QMId)))
		 ELSE 
				/*If QAHold not req, use LocId from PO. Ensures that if PO set to QAHxxx material will be receieved to QAH regardless of ProdChar QAHold = true or false; TFS 1355 */
				(SELECT Id FROM [005].[dbo].[tblWmExtLoc] WHERE LocId = @POLocId
										AND ExtLocID = (SELECT ExtLocId FROM [005].[dbo].[tblWmExtLoc] WHERE Id=(SELECT QuickMoveToBinId FROM [W005].[dbo].[OutTimeReceiving] WHERE Id=@QMId)))
		END 
		AS ToBinId
		,QAHoldReq = CAST(IIF((SELECT [CharId] FROM [W005].[dbo].[ProductChar] WHERE ItemId = w.ItemId AND 
																			CharId = (SELECT Id FROM [W005].[dbo].[Characteristic] WHERE Characteristic = 'QAHold')) is not null, 1,0) AS bit)
FROM [005].[dbo].[tblWmRcpt] w 
	INNER JOIN [005].[dbo].[tblInItemSer] s ON s.ItemId=w.ItemId AND s.LocId=w.LocId AND s.SerNum=w.SerNum
WHERE w.TransId=@TransId AND w.ReceiptNum=@RcptNum





END
GO
