USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetFinishedGoodsByRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetFinishedGoodsByRM] @SiteId AS VARCHAR(3), @RMItemId AS VARCHAR(25)
AS
BEGIN

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

--DECLARE @SiteId AS VARCHAR(3) = 'ATL' --'HAR' --'DTN' --'MTP' 'ALL' --
--DECLARE @RMItemId AS VARCHAR(25) = 'RM-CADC5316-ADH'--'ZM-POLY250-YL26' --'ZCFM-STERIN-FLM-15' -- 'RM-CADC5133-PRP' --'ZM-225-FLM-BLU-26' --


-- Raw Materials
	SELECT DISTINCT
		EI.ItemId AS RMItemId,
		EI.SerialNo AS RMSerialNo,
		EI.LotNo AS RMLotNo,
		E.OrderNo,
		E.ReleaseNo,
		L.ExpDate
	INTO #RawMaterials
	FROM OrderReleaseEventItem EI 
		 INNER JOIN OrderReleaseEvent E ON EI.OrderReleaseEventId=E.Id
		 INNER JOIN [005].[dbo].[tblInItemLoc] I ON I.ItemId=EI.ItemId AND I.LocId=EI.LocId 
		 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=EI.ItemId AND (L.LotNum=ISNULL(EI.TravLotNum, EI.SerialNo)) AND L.LocId=EI.LocId
	WHERE EI.ItemId = @RMItemId AND EI.IsAssembly=0 AND (EI.LocId LIKE '%'+@SiteId OR (@SiteId = 'HAR' OR @SiteId = 'ALL'))
UNION ALL 	
	SELECT DISTINCT
		ORKIM.RMItemId,
		ORKIM.RMSerialNo,
		ORKIM.RMLotNo,
		E.OrderNo,
		E.ReleaseNo,
		L.ExpDate
	FROM [W005].[dbo].[OrderReleaseIntermediateRawMatl] ORKIM
		 INNER JOIN OrderReleaseEventItem EI ON EI.Id=ORKIM.OrderReleaseEventItemId
		 INNER JOIN OrderReleaseEvent E ON EI.OrderReleaseEventId=E.Id
		 INNER JOIN [005].[dbo].[tblInItemLoc] I ON I.ItemId=ORKIM.RMItemId AND I.LocId=EI.LocId 
		 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=ORKIM.RMItemId AND L.LocId=EI.LocId AND L.LotNum=ISNULL(ORKIM.RMSerialNo,ORKIM.RMLotNo)
	WHERE ORKIM.RMItemId = @RMItemId AND (EI.LocId LIKE '%'+@SiteId OR (@SiteId = 'HAR' OR @SiteId = 'ALL'))


-- Intermediates
SELECT DISTINCT 
		ORKIM.RMItemId,
		ORKIM.RMSerialNo,
		ORKIM.RMLotNo,
		RM.ExpDate AS RMExpDate,
		ORKIM.LastScanDateTime,
		ORKIM.TotalRoomMinutes,
		ORKIM.EstLastScanDateTime,
		ORKIM.EstTotalRoomMinutes,
		ORKIM.OrderReleaseEventItemId AS FGOrderReleaseEventItemID
INTO #ORKIM
FROM #RawMaterials RM
	 INNER JOIN [W005].[dbo].[OrderReleaseIntermediateRawMatl] ORKIM ON ORKIM.RMItemId=RM.RMItemId AND ORKIM.RMSerialNo=RM.RMSerialNo


-- Raw Material ORKS
SELECT DISTINCT 
		ORK.RMItemId,
		ORK.RMSerialNo,
		ORK.RMLotNo,
		RM.ExpDate AS RMExpDate,
		ORK.LastScanDateTime,
		RMLotRemainingTotalRoomHrs = (SELECT TOP 1 O.MaxRoomTimeHrs FROM OutTimeItemSpecs O WHERE O.ItemId=RM.RMItemId AND (O.ProgramId=OT.ProgramId OR O.ProgramId=0) ORDER BY O.ProgramId DESC)
										- IIF(OT.InTransitOTStopped=1, (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
												IIF(OT.BinType = 'FREEZER', (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
														(CAST(DATEDIFF(MINUTE,ORK.LastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.TotalRoomMinutes AS FLOAT))/60)),
		ORK.EstLastScanDateTime,
		RMLotRemainingEstTotalRoomHrs = (SELECT TOP 1 O.MaxRoomTimeHrs FROM OutTimeItemSpecs O WHERE O.ItemId=RM.RMItemId AND (O.ProgramId=OT.ProgramId OR O.ProgramId=0) ORDER BY O.ProgramId DESC)  
										- IIF(OT.InTransitOTStopped=1, (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
												IIF(OT.BinType = 'FREEZER', (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
													(CAST(DATEDIFF(MINUTE,ORK.EstLastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.EstTotalRoomMinutes AS FLOAT))/60)),
		ORK.OrderReleaseEventItemId AS FGOrderReleaseEventItemID,
		ORK.FGItemId,
		ORK.FGTravSerNum,
		ORK.FGTravLotNum,
		OT.ProgramId AS FGProgramId
INTO #ORKS
FROM #RawMaterials RM
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK ON ORK.RMItemId=RM.RMItemId AND ORK.RMSerialNo=RM.RMSerialNo
	 INNER JOIN OutTimeItemStatus OT ON OT.ItemId=ORK.FGItemId AND OT.TravSerNum=ORK.FGTravSerNum 
UNION ALL
SELECT DISTINCT 
		ORK.RMItemId,
		ORK.RMSerialNo,
		ORK.RMLotNo,
		RM.ExpDate AS RMExpDate,
		ORK.LastScanDateTime,
		RMLotRemainingTotalRoomHrs = NULL,
		EstLastScanDateTime = NULL,
		RMLotRemainingEstTotalRoomHrs = NULL,
		ORK.OrderReleaseEventItemId AS FGOrderReleaseEventItemID,
		ORK.FGItemId,
		ORK.FGTravSerNum,
		ORK.FGTravLotNum,
		OT.ProgramId AS FGProgramId
FROM #RawMaterials RM
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] ORK ON ORK.RMItemId=RM.RMItemId AND ORK.RMSerialNo=RM.RMSerialNo
	 LEFT JOIN OutTimeItemStatus OT ON OT.ItemId=ORK.FGItemId AND OT.TravSerNum=ORK.FGTravSerNum 
UNION ALL
SELECT DISTINCT 
		ORKIM.RMItemId,
		ORKIM.RMSerialNo,
		ORKIM.RMLotNo,
		ORKIM.RMExpDate,
		ORKIM.LastScanDateTime,
		RMLotRemainingTotalRoomHrs = (SELECT TOP 1 O.MaxRoomTimeHrs FROM OutTimeItemSpecs O WHERE O.ItemId=ORKIM.RMItemId AND (O.ProgramId=OT.ProgramId OR O.ProgramId=0) ORDER BY O.ProgramId DESC)
										- IIF(OT.InTransitOTStopped=1, (CAST(ORKIM.TotalRoomMinutes AS FLOAT)/60), 
												IIF(OT.BinType = 'FREEZER', (CAST(ORKIM.TotalRoomMinutes AS FLOAT)/60), 
														(CAST(DATEDIFF(MINUTE,ORKIM.LastScanDateTime,GETDATE())AS FLOAT) + CAST(ORKIM.TotalRoomMinutes AS FLOAT))/60)),
		ORKIM.EstLastScanDateTime,
		RMLotRemainingEstTotalRoomHrs = (SELECT TOP 1 O.MaxRoomTimeHrs FROM OutTimeItemSpecs O WHERE O.ItemId=ORKIM.RMItemId AND (O.ProgramId=OT.ProgramId OR O.ProgramId=0) ORDER BY O.ProgramId DESC)  
										- IIF(OT.InTransitOTStopped=1, (CAST(ORKIM.EstTotalRoomMinutes AS FLOAT)/60), 
												IIF(OT.BinType = 'FREEZER', (CAST(ORKIM.EstTotalRoomMinutes AS FLOAT)/60), 
													(CAST(DATEDIFF(MINUTE,ORKIM.EstLastScanDateTime,GETDATE())AS FLOAT) + CAST(ORKIM.EstTotalRoomMinutes AS FLOAT))/60)),
		ORKIM.FGOrderReleaseEventItemID,
		ISNULL(ORK.FGItemId,ORKNOT.FGItemId) AS FGItemId,
		ISNULL(ORK.FGTravSerNum,ORKNOT.FGTravSerNum) AS FGTravSerNum,
		ISNULL(ORK.FGTravLotNum,ORKNOT.FGTravLotNum) AS FGTravLotNum,
		OT.ProgramId AS FGProgramId
FROM #ORKIM ORKIM 
	 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK ON ORK.OrderReleaseEventItemId=ORKIM.FGOrderReleaseEventItemID
	 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] ORKNOT ON ORKNOT.OrderReleaseEventItemId=ORKIM.FGOrderReleaseEventItemID
	 LEFT JOIN OutTimeItemStatus OT ON OT.ItemId=ISNULL(ORK.FGItemId,ORKNOT.FGItemId) AND OT.TravSerNum=ISNULL(ORK.FGTravSerNum,ORKNOT.FGTravSerNum)	 



-- Finished Goods OT
SELECT DISTINCT 
	FGOrderReleaseEventItemID,
	FGItemId,
	FGTravSerNum,
	FGTravLotNum, 
	FGRemainingRoomHrs = MIN(FGRemainingRoomHrs),
	FGRemainingEstRoomHrs = MIN(FGRemainingEstRoomHrs),
	FGExpDate = MIN(FGExpDate)
INTO #FinishedGoodsOT
FROM (
	SELECT DISTINCT
			FGOrderReleaseEventItemID,
			FGItemId,
			FGTravSerNum,
			FGTravLotNum, 
			FGRemainingRoomHrs = MIN(FGRemainingRoomHrs),
			FGRemainingEstRoomHrs = MIN(FGRemainingEstRoomHrs),
			FGExpDate = ISNULL(FGExpDate, (SELECT MIN(L.ExpDate)
											FROM [005].[dbo].[tblInItemLocLot] AS L
											WHERE L.ItemId=RMItemId AND L.LotNum=RMSerialNo))
	FROM (
		SELECT DISTINCT
				O.FGOrderReleaseEventItemID,
				O.FGItemId,
				O.FGTravSerNum,
				O.FGTravLotNum,
				FGRemainingRoomHrs = (SELECT TOP 1 OT.MaxRoomTimeHrs FROM OutTimeItemSpecs OT WHERE OT.ItemId=ORK.RMItemId AND (OT.ProgramId=O.FGProgramId OR OT.ProgramId=0) ORDER BY OT.ProgramId DESC)
												- IIF(OT.InTransitOTStopped=1, (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
														IIF(OT.BinType = 'FREEZER', (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
																(CAST(DATEDIFF(MINUTE,ORK.LastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.TotalRoomMinutes AS FLOAT))/60)),

				FGRemainingEstRoomHrs = (SELECT TOP 1 OT.MaxRoomTimeHrs FROM OutTimeItemSpecs OT WHERE OT.ItemId=ORK.RMItemId AND (OT.ProgramId=O.FGProgramId OR OT.ProgramId=0) ORDER BY OT.ProgramId DESC)  
												- IIF(OT.InTransitOTStopped=1, (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
														IIF(OT.BinType = 'FREEZER', (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
															(CAST(DATEDIFF(MINUTE,ORK.EstLastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.EstTotalRoomMinutes AS FLOAT))/60)),
				OREI.FGExpDate,
				ORK.RMItemId,
				ORK.RMSerialNo,
				ORK.RMLotNo

		FROM #ORKS O
			 INNER JOIN OutTimeItemStatus OT ON OT.ItemId=O.FGItemId AND OT.TravSerNum=O.FGTravSerNum 
			 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=O.FGOrderReleaseEventItemId
			 INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.OrderReleaseEventItemId=OREI.Id
		UNION ALL 
		SELECT DISTINCT
				O.FGOrderReleaseEventItemID,
				O.FGItemId,
				O.FGTravSerNum,
				O.FGTravLotNum,
				FGRemainingRoomHrs = NULL,
				FGRemainingEstRoomHrs = NULL,
				OREI.FGExpDate,
				ORK.RMItemId,
				ORK.RMSerialNo,
				ORK.RMLotNo
		FROM #ORKS O
			 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=O.FGOrderReleaseEventItemId
			 INNER JOIN OrderReleaseKitRawMatlNonOT ORK ON ORK.OrderReleaseEventItemId=OREI.Id
		UNION ALL
		SELECT DISTINCT
				O.FGOrderReleaseEventItemID,
				O.FGItemId,
				O.FGTravSerNum,
				O.FGTravLotNum,
				FGRemainingRoomHrs = (SELECT TOP 1 OT.MaxRoomTimeHrs FROM OutTimeItemSpecs OT WHERE OT.ItemId=ORK.RMItemId AND (OT.ProgramId=O.FGProgramId OR OT.ProgramId=0) ORDER BY OT.ProgramId DESC)
												- IIF(OT.InTransitOTStopped=1, (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
														IIF(OT.BinType = 'FREEZER', (CAST(ORK.TotalRoomMinutes AS FLOAT)/60), 
																(CAST(DATEDIFF(MINUTE,ORK.LastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.TotalRoomMinutes AS FLOAT))/60)),

				FGRemainingEstRoomHrs = (SELECT TOP 1 OT.MaxRoomTimeHrs FROM OutTimeItemSpecs OT WHERE OT.ItemId=ORK.RMItemId AND (OT.ProgramId=O.FGProgramId OR OT.ProgramId=0) ORDER BY OT.ProgramId DESC)  
												- IIF(OT.InTransitOTStopped=1, (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
														IIF(OT.BinType = 'FREEZER', (CAST(ORK.EstTotalRoomMinutes AS FLOAT)/60), 
															(CAST(DATEDIFF(MINUTE,ORK.EstLastScanDateTime,GETDATE())AS FLOAT) + CAST(ORK.EstTotalRoomMinutes AS FLOAT))/60)),
				OREI.FGExpDate,
				ORK.RMItemId,
				ORK.RMSerialNo,
				ORK.RMLotNo

		FROM #ORKS O
			 INNER JOIN OutTimeItemStatus OT ON OT.ItemId=O.FGItemId AND OT.TravSerNum=O.FGTravSerNum 
			 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=O.FGOrderReleaseEventItemId
			 INNER JOIN OrderReleaseIntermediateRawMatl ORK ON ORK.OrderReleaseEventItemId=OREI.Id
	) FG1
	GROUP BY FGOrderReleaseEventItemID,	FGItemId, FGTravSerNum,	FGTravLotNum, FGExpDate, RMItemId, RMSerialNo
) FG2
GROUP BY FGOrderReleaseEventItemID,	FGItemId, FGTravSerNum,	FGTravLotNum
ORDER BY FGTravSerNum



-- HAR Intermediates By RM
SELECT DISTINCT E.OrderNo, E.ReleaseNo, RMItemId, RMSerialNo, RMLotNo, RMExpDate
INTO #HARIntermediates
		FROM (SELECT DISTINCT RMItemId, RMSerialNo, RMLotNo, ExpDate AS RMExpDate, I.ItemId AS IMItemId, I.SerialNo AS IMSerialNo, I.LotNo AS IMLotNo
				FROM #RawMaterials RM
					INNER JOIN OrderReleaseEvent E ON E.OrderNo=RM.OrderNo AND E.ReleaseNo=RM.ReleaseNo  
					INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1
					INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=I.ItemId AND IL.LocId=I.LocId AND IL.GLAcctCode LIKE '8%') RM				
				INNER JOIN OrderReleaseEventItem I ON I.ItemId=RM.IMItemId AND I.SerialNo=IMSerialNo AND I.LotNo=IMLotNo AND I.IsAssembly=0
				INNER JOIN OrderReleaseEvent E ON E.Id=I.OrderReleaseEventId



-- Finished Goods By RM
SELECT DISTINCT
		ORK.RMItemId,
		ORK.RMSerialNo,
		ORK.RMLotNo,
		RM.ExpDate AS RMExpDate,		
		ORK.RMLotRemainingTotalRoomHrs AS RMLotRemainingRoomHrs,
		ORK.RMLotRemainingEstTotalRoomHrs AS RMLotRemainingEstRoomHrs,
		E.OrderNo, 
		E.ReleaseNo,
		FGLocId = 
			CASE
				WHEN ISNULL(I.[cf_Multi-UOM Serial Item], 0) = 0 AND I.ItemType=2 THEN (SELECT DISTINCT LocId FROM [005].[dbo].[tblInItemSer] WHERE ItemId=EI.ItemId AND SerNum = EI.TravSerNum)
				ELSE (SELECT TOP 1 LocId FROM [005].[dbo].[tblInQtyOnHand] I WHERE I.ItemId=EI.ItemId AND LotNum=EI.TravLotNum AND DeletedYn=0 AND Source NOT IN (74, 77) ORDER BY EntryDate DESC, SeqNum DESC) --74:Transfer From 77:Move Out
			END,
		ORK.FGItemId,
		ORK.FGTravSerNum,
		ORK.FGTravLotNum,
		FG.FGExpDate,
		ORK.LastScanDateTime,
		FG.FGRemainingRoomHrs,			
		ORK.EstLastScanDateTime,
		FG.FGRemainingEstRoomHrs,
		EI.Id AS FGOrderReleaseEventItemID

INTO #FinishedGoodsByRM
	FROM #RawMaterials RM
		 INNER JOIN OrderReleaseEvent E ON E.OrderNo=RM.OrderNo AND E.ReleaseNo=RM.ReleaseNo
		 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=EI.ItemId AND IL.LocId=EI.LocId AND IL.GLAcctCode LIKE '7%'
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=EI.ItemId AND ISNULL(I.[cf_Kitted (WI)],0) = 1
		 INNER JOIN #ORKS ORK ON ORK.FGOrderReleaseEventItemID=EI.Id AND ORK.RMItemId=RM.RMItemId AND (ORK.RMSerialNo=RM.RMSerialNo OR ORK.RMLotNo=RM.RMLotNo)
		 INNER JOIN #FinishedGoodsOT FG ON FG.FGOrderReleaseEventItemID=EI.Id
UNION ALL
	SELECT DISTINCT
		RMItemId,
		RMSerialNo,
		RMLotNo,
		RMExpDate,
		RMLotRemainingRoomHrs = NULL,
		RMLotRemainingEstRoomHrs = NULL,
		E.OrderNo,
		E.ReleaseNo,
		FGLocId = 
			CASE
				WHEN ISNULL(I.[cf_Multi-UOM Serial Item], 0) = 0 AND I.ItemType=2 THEN (SELECT DISTINCT LocId FROM [005].[dbo].[tblInItemSer] WHERE ItemId=EI.ItemId AND SerNum = EI.TravSerNum)
				ELSE (SELECT TOP 1 LocId FROM [005].[dbo].[tblInQtyOnHand] I WHERE I.ItemId=EI.ItemId AND LotNum=EI.TravLotNum AND DeletedYn=0 AND Source NOT IN (74, 77) ORDER BY EntryDate DESC, SeqNum DESC) --74:Transfer From 77:Move Out
			END,
		EI.ItemId AS FGItemId,
		EI.TravSerNum AS FGTravSerNum,
		EI.TravLotNum AS FGTravLotNum,
		EI.FGExpDate,
		LastScanDateTime = NULL,
		FGRemainingRoomHrs = NULL,
		EstLastScanDateTime = NULL,
		FGRemainingEstRoomHrs = NULL,
		EI.Id AS FGOrderReleaseEventItemID
	FROM #HARIntermediates RM 
		 INNER JOIN OrderReleaseEvent E ON E.OrderNo=RM.OrderNo AND E.ReleaseNo=RM.ReleaseNo
		 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=EI.ItemId AND IL.LocId=EI.LocId AND IL.GLAcctCode LIKE '7%'
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=EI.ItemId AND ISNULL(I.[cf_Kitted (WI)],0) = 0 
UNION ALL
	SELECT DISTINCT
		RMItemId,
		RMSerialNo,
		RMLotNo,
		ExpDate AS RMExpDate,
		RMLotRemainingRoomHrs = NULL,
		RMLotRemainingEstRoomHrs = NULL,
		E.OrderNo,
		E.ReleaseNo,
		FGLocId = 
			CASE
				WHEN ISNULL(I.[cf_Multi-UOM Serial Item], 0) = 0 AND I.ItemType=2 THEN (SELECT DISTINCT LocId FROM [005].[dbo].[tblInItemSer] WHERE ItemId=EI.ItemId AND SerNum = EI.TravSerNum)
				ELSE (SELECT TOP 1 LocId FROM [005].[dbo].[tblInQtyOnHand] I WHERE I.ItemId=EI.ItemId AND LotNum=EI.TravLotNum AND DeletedYn=0 AND Source NOT IN (74, 77) ORDER BY EntryDate DESC, SeqNum DESC) --74:Transfer From 77:Move Out
			END,
		EI.ItemId AS FGItemId,
		EI.TravSerNum AS FGTravSerNum,
		EI.TravLotNum AS FGTravLotNum,
		EI.FGExpDate,
		LastScanDateTime = NULL,
		FGRemainingRoomHrs = NULL,
		EstLastScanDateTime = NULL,
		FGRemainingEstRoomHrs = NULL,
		EI.Id AS FGOrderReleaseEventItemID
	FROM #RawMaterials RM 
		 INNER JOIN OrderReleaseEvent E ON E.OrderNo=RM.OrderNo AND E.ReleaseNo=RM.ReleaseNo
		 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=EI.ItemId AND IL.LocId=EI.LocId AND IL.GLAcctCode LIKE '7%'
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=EI.ItemId AND ISNULL(I.[cf_Kitted (WI)],0) = 0 
		 

-- Ship Items
	SELECT DISTINCT SI.OREIId, SI.Id AS ShipItemId, SI.ShipBoxId, SI.ShipCartonId, SI.ShipPalletId, [Status] = IIF(SI.Shipped=1, 'Shipped', 'Available')
	INTO #ShipItems
	FROM #FinishedGoodsByRM FG
		 INNER JOIN ShipItem SI ON SI.OREIId=FG.FGOrderReleaseEventItemID --AND SI.Deleted=0 AND SI.PhantomAdjOut=0
		 LEFT JOIN [005].[dbo].[tblInItemSer] S ON S.SerNum=SI.TravSerNum

-- Ship Packing List Details
	SELECT DISTINCT SI.OREIId, SI.Status, SPLD.PLNo, SPLD.CustName, SPLD.ShipDate
	INTO #ShipPackingListDetails
	FROM #ShipItems SI
		INNER JOIN (SELECT DISTINCT SPL.PLNo, SPL.ShipDate, SPL.CustName, SPLD.ShipItemId, SPLD.ShipBoxId, SPLD.ShipCartonId, SPLD.ShipPalletId
								FROM ShipPackingList SPL
									 INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo) 
					SPLD ON SPLD.ShipItemId=SI.ShipItemId
	UNION ALL 
	SELECT DISTINCT SI.OREIId, SI.Status, SPLD.PLNo, SPLD.CustName, SPLD.ShipDate
	FROM #ShipItems SI
		INNER JOIN (SELECT DISTINCT SPL.PLNo, SPL.ShipDate, SPL.CustName, SPLD.ShipItemId, SPLD.ShipBoxId, SPLD.ShipCartonId, SPLD.ShipPalletId
								FROM ShipPackingList SPL
									 INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo) 
					SPLD ON SPLD.ShipBoxId=SI.ShipBoxId
	UNION ALL 
	SELECT DISTINCT SI.OREIId, SI.Status, SPLD.PLNo, SPLD.CustName, SPLD.ShipDate
	FROM #ShipItems SI
		INNER JOIN (SELECT DISTINCT SPL.PLNo, SPL.ShipDate, SPL.CustName, SPLD.ShipItemId, SPLD.ShipBoxId, SPLD.ShipCartonId, SPLD.ShipPalletId
								FROM ShipPackingList SPL
									 INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo) 
					SPLD ON SPLD.ShipCartonId=SI.ShipCartonId
	UNION ALL 
	SELECT DISTINCT SI.OREIId, SI.Status, SPLD.PLNo, SPLD.CustName, SPLD.ShipDate
	FROM #ShipItems SI
		INNER JOIN (SELECT DISTINCT SPL.PLNo, SPL.ShipDate, SPL.CustName, SPLD.ShipItemId, SPLD.ShipBoxId, SPLD.ShipCartonId, SPLD.ShipPalletId
								FROM ShipPackingList SPL
									 INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo) 
					SPLD ON SPLD.ShipPalletId=SI.ShipPalletId 

-- Final resultset
	SELECT DISTINCT 
		RMItemId,
		RMSerialNo,
		RMLotNo,
		RMExpDate,	
		OrderNo,
		ReleaseNo,	
		FGLocId,
		FGItemId,
		FGTravSerNum,
		FGTravLotNum,
		FGExpDate,
		[Status] = IIF(FGLocId IS NULL, NULL, 
							ISNULL((SELECT DISTINCT IIF(S.SerNumStatus IN (1,2,5,6), 'Available', IIF(S.SerNumStatus IN (3,7), 'Shipped', IIF(S.SerNumStatus=4, 'Lost', 'N/A')))
									  FROM [005].[dbo].[tblInItemSer] S
									 WHERE S.ItemId=FGItemId AND S.SerNum=FGTravSerNum), ISNULL([Status], 'Available'))),		
		PLNo,
		CustName,
		ShipDate,
		LastScanDateTime,
		RMLotRemainingRoomHrs,
		FGRemainingRoomHrs,
		EstLastScanDateTime,
		RMLotRemainingEstRoomHrs,
		FGRemainingEstRoomHrs
	FROM #FinishedGoodsByRM FG
		 LEFT JOIN #ShipPackingListDetails SPLD ON SPLD.OREIId=FG.FGOrderReleaseEventItemID
	WHERE FG.FGOrderReleaseEventItemID IS NOT NULL AND RMItemId IS NOT NULL
	ORDER BY RMSerialNo, RMLotNo, LastScanDateTime, FGItemId, FGTravSerNum, FGTravLotNum


DROP TABLE #RawMaterials
DROP TABLE #ORKIM
DROP TABLE #ORKS
DROP TABLE #FinishedGoodsOT
DROP TABLE #HARIntermediates
DROP TABLE #FinishedGoodsByRM
DROP TABLE #ShipItems
DROP TABLE #ShipPackingListDetails

END

GO
