USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuoteMaterialMinOrderQty]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuoteMaterialMinOrderQty] 
	@ItemId as varchar(24)
AS
BEGIN 

--DECLARE @ItemId as varchar(24) = '1B-FAN-SSBLADE' 


	SELECT TOP 1 QtyOrderMin
	FROM [005].[dbo].[tblInItemLoc]
	WHERE ItemId=@ItemId 





END      
GO
