USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIAdditionalScrapDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIAdditionalScrapDetail] @MfgStartDate date, @MfgEndDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--DECLARE @MfgStartDate date = '2/28/2021'
--DECLARE @MfgEndDate date = '2/28/2021' 


/*
Additional Scrap Detail:
	- Parent Order No
	- RM ItemID
	- RM Lot #
	- Event Start
	- Site ID
	- Event creator UserID (WXXXX)
	- Additional Scrap Length
	- Waste Reason
	- Other Waste Reason (free text)
	- ItemID Unit Price (pull the Average Cost by Location for each additional scrap entry)
	- Scrap Value (multiply AdditonalScrap and ItemIDUnitPrice)
*/


SELECT DISTINCT ParentOrderNo, RMItemId, RMLotNo, EventStart, SiteID, EmployeeId, EmployeeName, AdditonalScrap, WasteReason, OtherReason, ItemIDUnitPrice,
				ScrapValue = AdditonalScrap * ItemIDUnitPrice
FROM  (
	SELECT DISTINCT
			 ParentOrderNo = ORE.OrderNo
			,RMItemId = OREI.ItemId
			,RMLotNo = OREI.TravLotNum
			,ORE.EventStart --= OREI.EventDateTime
			,SiteID = SUBSTRING(OREI.LocId, 4, 3)

			/* NOTE: The sort order of Employee Ids retrieved will match up with the order of Employee Names */
			,EmployeeId = STUFF((SELECT DISTINCT '/' +  L.EmployeeId
									FROM [W005].[dbo].[OrderReleaseEventLabor] L 
									WHERE L.OrderReleaseEventId=ORE.Id
									FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')
			,EmployeeName = STUFF((SELECT '/' + EmployeeName --Do not use SELECT DISTINCT here. It will re-sort the values returned by the subquery.
									FROM (SELECT DISTINCT TOP 100 PERCENT E.EmployeeId, E.FirstName + ' ' + E.LastName AS EmployeeName
											FROM [W005].[dbo].[OrderReleaseEventLabor] L 
												 INNER JOIN [005].[dbo].tblSmEmployee E ON L.EmployeeId=E.EmployeeId	
											WHERE L.OrderReleaseEventId=ORE.Id
											ORDER BY E.EmployeeId ASC) LE
									FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,'')

			,AdditonalScrap = W.WasteAmount
			,WasteReason = REPLACE(REPLACE(WR.WasteReason, CHAR(13), ''), CHAR(10), '')
			,OtherReason = IsNULL(REPLACE(REPLACE(W.OtherReason, CHAR(13), ''), CHAR(10), ''),'')
			,ItemIDUnitPrice = (SELECT DISTINCT CostAvg
								FROM [005].[dbo].[tblInItemLoc]
								WHERE ItemId = OREI.ItemId AND LocId = OREI.LocId)
			--,ItemIDUnitPrice =  (SELECT TOP 1 [Cost] 
			--						FROM [005].[dbo].[tblInQtyOnHand] 
			--						WHERE LotNum=OREI.TravLotNum AND [Source] IN (10,15,18,76) -- Source 10:PO Receipt, 15:Increase, 18:MP Build Assembly, 76:MP Build Component
			--						ORDER BY SeqNum DESC)
	  FROM [W005].[dbo].[OrderReleaseEventWaste] W
				  INNER JOIN [W005].[dbo].[OrderReleaseEventItem] OREI ON OREI.Id=W.OrderReleaseEventItemId
				  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON ORE.Id=OREI.OrderReleaseEventId
			INNER JOIN [W005].[dbo].[WasteReason] WR ON WR.Id=W.WasteReasonId
	  WHERE ((CAST(ORE.EventStart AS DATE) >= @MfgStartDate) AND (CAST(ORE.EventEnd AS DATE) <= @MfgEndDate)) AND ORE.OrderNo LIKE 'P%' 
) A
ORDER BY ParentOrderNo, RMItemId, EventStart, RMLotNo

END
GO
