USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spQuoteKitSummary]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spQuoteKitSummary] 
	@QuoteNum as int
AS
BEGIN 

--DECLARE @QuoteNum as int = 2

SELECT a.QuoteAssemblyNum,a.AssemblyId,a.qty,a.UnitPrice,a.ExtPrice
FROM  [W005].[dbo].[QuoteAssembly] a 
WHERE a.QuoteNum=@QuoteNum



END      
GO
