USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spQuoteCustomerList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spQuoteCustomerList] 
AS
BEGIN 

SELECT DISTINCT A.CustomerName, A.CustId,  A.Addr1, A.Addr2,A.City, A.Region,A.Country,A.PostalCode,A.PaymentTerms,A.TraverseCustomerYN
FROM (
		SELECT DISTINCT L.Company As CustomerName, CustId = '',L.Street As Addr1, '' as Addr2,L.City,L.[State] As Region,'' As Country,L.PostalCode, PaymentTerms='', TraverseCustomerYN=0
		FROM [WebEnterprise].[dbo].[Lead] L 
		WHERE L.Company NOT IN (SELECT Name FROM [WebEnterprise].[dbo].[Account])
			AND L.Company NOT IN (SELECT CustName FROM [005].[dbo].[tblArCust])
			AND (L.Street Is Not Null OR L.City Is Not Null OR L.[State] Is Not Null)

		UNION ALL

		SELECT DISTINCT C.CustName As CustomerName,C.CustId As CustId, C.Addr1,C.Addr2,C.City,C.Region,C.Country,C.PostalCode, C.TermsCode As PaymentTerms, TraverseCustomerYN=1
		FROM [005].[dbo].[tblArCust] C
	) A
ORDER BY A.CustomerName







END      
GO
