USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetConvertingRawMaterialOutTime]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetConvertingRawMaterialOutTime] @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	--DECLARE @OrderNo varchar(8) 
	--DECLARE @ReleaseNo int
	--Set @OrderNo = '00050005'
	--Set @ReleaseNo = 2
	SELECT OREI.ItemId
	  ,OREI.SerialNo
	  ,OREI.LotNo
	  ,L.ExpDate
      ,OREIOT.[OrderReleaseEventId]
      ,OREIOT.[OrderReleaseEventItemId]
      ,OREIOT.[ProgramId]
      ,OREIOT.[LastScanDateTime]
      ,OREIOT.[ThawCompletedDT]
      ,OREIOT.[TotalRoomMinutes]
      ,OREIOT.[TotalFreezerMinutes]
      ,OREIOT.[TotalReeferMinutes]
      ,OREIOT.[MaxRoomDTReached]
      ,OREIOT.[MaxFreezerDTReached]
      ,OREIOT.[MaxReeferDTReached]
      ,OREIOT.[WmBinId] 
	FROM OrderReleaseEvent ORE
	INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id
	INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = OREI.ItemId AND L.LocId = OREI.LocId AND L.LotNum = OREI.SerialNo
	INNER JOIN [005].dbo.tblInItemLoc IL ON IL.ItemId = OREI.ItemId AND IL.LocId = OREI.LocId AND SUBSTRING(IL.GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN OrderReleaseEventItemOutTime OREIOT ON OREIOT.OrderReleaseEventItemId = OREI.Id
	WHERE ORE.OrderNo = @OrderNo AND ORE.ReleaseNo = @ReleaseNo and IsAssembly = 0
END
GO
