USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialCartonsByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetPartialCartonsByItemAndLocId]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

	DECLARE @DoNotMixLots as bit
	SELECT @DoNotMixLots = Pc.bTarget 
		FROM [W005].[dbo].[ProductChar] Pc inner join [W005].[dbo].[ShipItem] As I ON Pc.ItemId=I.ItemId 
		WHERE Pc.CharId=2036 AND Pc.ItemId = @ItemId

select * into #T1 from(SELECT  C.ShipCartonNo As PkgId,SUM(I.Quantity) As Quantity,C.Id, Count(I.Id) As NoPacked, C.IsPacked,C.TareWt,Pc.bTarget,C.CartonItemId
	FROM [W005].[dbo].[ShipCarton] As C inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
	Left Join [W005].[dbo].[ProductChar] Pc ON Pc.ItemId=I.ItemId and Pc.CharId=2036
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND C.Complete=0
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			@OrderNo 
		  ELSE
			'%' 
		  END
	GROUP BY C.Id,C.ShipCartonNo, C.IsPacked,C.TareWt,Pc.bTarget,CartonItemId)A


select * into #T3 from (select distinct count(sb.Id) as BoxesPacked,#T1.Id from [W005].dbo.ShipBox as sb inner join #T1 on #T1.Id = sb.ShipCartonId and #T1.CartonItemId = sb.BoxItemId group by #t1.Id) A

select PkgId,Quantity,#T1.Id,iif((select count(BoxesPacked) from #T3 where Id = #T1.ID) = 0,#T1.NoPacked,(select BoxesPacked from #T3 where Id = #T1.ID)) as NoPacked,#T1.IsPacked,#T1.TareWt,bTarget from #T1 

drop table #T1
drop table #T3
	
END

GO
