USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIProdOrderReleasesOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIProdOrderReleasesOnPL] @PLNo AS INT
AS
BEGIN 

--DECLARE @PLNo AS INT = 22136

SELECT DISTINCT SPLD.ParentOrderNo, SPLD.ProdOrderNo, SPLD.ProdReleaseNo, SPLD.ItemId, SPLD.PLNo, SPLD.SalesOrder, SPLD.CustId
FROM (
	SELECT DISTINCT ORI.ParentOrderNo, ORI.OrderNo AS ProdOrderNo, ORI.ReleaseNo AS ProdReleaseNo, ORI.ItemId, SPL.PLNo, SPL.OrderNo AS SalesOrder, SPL.CustId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipPallet SP ON SP.Id=SPLD.ShipPalletId
				INNER JOIN ShipItem SI ON SI.ShipPalletId=SP.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
				INNER JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo=ORE.OrderNo AND ORI.ItemId=OREI.ItemId
	UNION ALL
	SELECT DISTINCT ORI.ParentOrderNo, ORI.OrderNo AS ProdOrderNo, ORI.ReleaseNo AS ProdReleaseNo, ORI.ItemId, SPL.PLNo, SPL.OrderNo AS SalesOrder, SPL.CustId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipCarton SC ON SC.Id=SPLD.ShipCartonId
				INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
				INNER JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo=ORE.OrderNo
	UNION ALL
	SELECT DISTINCT ORI.ParentOrderNo, ORI.OrderNo AS ProdOrderNo, ORI.ReleaseNo AS ProdReleaseNo, ORI.ItemId, SPL.PLNo, SPL.OrderNo AS SalesOrder, SPL.CustId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipBox SB ON SB.Id=SPLD.ShipBoxId
				INNER JOIN ShipItem SI ON SI.ShipBoxId=SB.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
				INNER JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo=ORE.OrderNo
	UNION ALL
	SELECT DISTINCT ORI.ParentOrderNo, ORI.OrderNo AS ProdOrderNo, ORI.ReleaseNo AS ProdReleaseNo, ORI.ItemId, SPL.PLNo, SPL.OrderNo AS SalesOrder, SPL.CustId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipItem SI ON SI.Id=SPLD.ShipItemId AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
				INNER JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo=ORE.OrderNo
) SPLD
WHERE SPLD.PLNo = @PLNo

END
GO
