USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMaxSlitter2SpoolOffsetByMachineConfig]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetMaxSlitter2SpoolOffsetByMachineConfig]  @MachineId as int
AS
BEGIN
	--DECLARE @MachineId as int = 2;

	SELECT MAX(Slitter2SpoolOffset) AS MaxMCSlitter2Spool FROM [W005].[dbo].[MachineConfig] MC 
		INNER JOIN [W005].[dbo].[MachineConfigDetail]  MCD 
			ON MC.Id = MCD.MachineConfigId 
		WHERE MC.MachineId = @MachineId
END




GO
