USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTRAvailablePalletsPerFGBOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spTRAvailablePalletsPerFGBOM]
/*
This sp returns SB pallets that:
 (1) are in Traverse inventory, i.e., posted, not deleted, not issued
 (2) whose ItemId is on the BOM of the FG TR Item being made (@FGItemId)
*/
	@FGItemId as nvarchar(24)
AS
BEGIN

--DECLARE @FGItemId as nvarchar(24) = 'SB-YL-160-51'

	SELECT sp.Id As ShipPalletId,sp.ShipPalletNo As PkgId,si.ItemId, si.Id As SIId,
			Qty = si.Quantity,
			si.Uom,
			si.NoRolls, -- Remaining No Rolls
			si.UsedQty,
			si.TravLotNum,
			si.LotNo,  
			si.LbPerRoll
	FROM [W005].[dbo].[ShipPallet] AS sp INNER JOIN [W005].[dbo].[ShipItem] As si ON sp.Id=si.ShipPalletId
	WHERE sp.Deleted=0 AND sp.PhantomAdjOut=0 AND sp.Shipped=0 AND sp.UsedByProduction=0 
		AND si.Deleted=0 AND si.PhantomAdjOut=0 AND si.Shipped=0 AND si.UsedByProduction=0
		AND si.PostedToTraverse=1 AND si.Issued = 0 /* added 'AND si.Issued=0' for TFS BUG 919 */
		AND si.ItemId IN 
					(SELECT D.ComponentID As ItemId
					FROM  [005].[dbo].[tblMbAssemblyDetail] as D INNER JOIN
						[005].[dbo].[tblMbAssemblyHeader] as H ON D.HeaderId=H.Id
					WHERE H.AssemblyId=@FGItemId AND D.DetailType = 3 -- D.ComponentID LIKE 'SB-%' //DEV AG: HAR now uses IM SB parts for TR
						AND H.RevisionNo IN
						(SELECT MAX(m.RevisionNo)
						FROM  [005].[dbo].[tblMbAssemblyHeader] as m
						WHERE m.AssemblyId=H.AssemblyId))

	ORDER BY sp.Id , si.Id 


END

GO
