USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialPalletsByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetPartialPalletsByItemOrdNoRelNo]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN


--dECLARE @ItemId as varchar(24)= 'PET-2-2.000-6P'
--declare @LocId as varchar(10) = 'INVENTORY'
--declare @OrderNo as varchar(8) = '00040119'
--declare @ReleaseNo as int = 1

DECLARE @DoNotPackMixedOrdNoRelNo as bit
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
FROM [W005].[dbo].[ProductChar] Pc 
	inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)


select * 
into #T1 
from
(	
	SELECT P.ShipPalletNo As PkgId,SUM(I.Quantity) As Quantity,P.Id, Count(I.Id) As NoPacked, IsPacked = 0,P.TareWt,@DoNotPackMixedOrdNoRelNo AS bTarget,P.PalletItemId
	FROM [W005].[dbo].[ShipPallet] As P 
		inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId  AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND P.Complete=0 AND P.UsedByProduction=0 AND P.PhantomAdjOut=0
	GROUP BY P.Id,P.ShipPalletNo,P.TareWt,P.PalletItemId
) A


select * into #T2 from (select distinct count(sc.id) as CartonPacked,#T1.Id from [w005].dbo.ShipCarton as sc inner join #T1 on #T1.Id = sc.ShipPalletId and #T1.PalletItemId = sc.CartonItemId group by #t1.Id) A

select * into #T3 from (select distinct count(sb.Id) as BoxesPacked,#T1.Id from [W005].dbo.ShipBox as sb inner join #T1 on #T1.Id = sb.ShipPalletId and #T1.PalletItemId = sb.BoxItemId group by #t1.Id) A

select PkgId,Quantity,#T1.Id,NoPacked = iif( (select count(CartonPacked) from #T2 where Id = #T1.ID) = 0,iif((select count(BoxesPacked) from #T3 where Id = #T1.ID) = 0,#T1.NoPacked,(select BoxesPacked from #T3 where Id = #T1.ID)),(select CartonPacked from #T2 where id = #T1.ID)),#T1.IsPacked,#T1.TareWt,bTarget from #T1 


drop table #T1
drop table #T2
drop table #T3


END
GO
