USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTotalOutTimeRecordByOrderRelease]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTotalOutTimeRecordByOrderRelease] @OrderNo VARCHAR(8), @FromReleaseNo AS INT, @ToReleaseNo AS INT
AS
BEGIN

--DECLARE @OrderNo VARCHAR(8) ='00000032' -- '00000027'--
--DECLARE @FromReleaseNo AS INT = 2
--DECLARE @ToReleaseNo AS INT = 5


SELECT ProdOrder,
	   FGItemId,
	   FGDescription,
	   Rev,
	   Customer,
	   ShipToName,
	   PONum1,
	   PONum2,
	   [Date],
	   BatchNumbers,
	   TotalProcessOTReeferTemp = ROUND((MaxReeferOTISHours-MaxReeferTempTransitOT), 2),--Reefer Temp (Total Process Out Time) =  MAX Reefer Minutes (converted to hours) in FG OTIS out of all FGs within a set MINUS Reefer Temp Transit OT (#13 below)
	   TotalProcessOTRoomTemp = ROUND((MaxRoomOTISHours-MaxRoomTempTransitOT), 2),	--Room Temp (Total Process Out Time) = MAX Room Minutes (converted to hours) in FG OTIS out of all FGs within a set MINUS Room Temp Transit OT (#14 below)
	   TransitOTReeferTemp = ROUND(MaxReeferTempTransitOT, 2), --Reefer Temp (Transit Out Time) = MAX Reefer Minutes (converted to hours) in OT Receiving record out of all unique lotnos (OutTimeReceiving or OutTimeReceivingDetail)
	   TransitOTRoomTemp = ROUND(MaxRoomTempTransitOT, 2), --Room Temp (Transit Out Time) =  MAX Room Minutes (converted to hours) in OT Receiving record out of all unique lotnos (OutTimeReceiving or OutTimeReceivingDetail)
	   TotalOTReeferTemp = ROUND(MaxReeferOTISHours, 2), --Reefer Temp (Total Out Time) = MAX SUM of Reefer Minutes (converted to hours) out of all FG OTIS records (this should equal #11 + #13)
	   TotalOTRoomTemp = ROUND(MaxRoomOTISHours, 2), --Room Temp (Total Out Time) =  MAX SUM of Room Minutes (converted to hours) out of all FG OTIS records (this should equal #12 + #14)
	   SetID
FROM (
	SELECT DISTINCT
		MP.OrderNo AS ProdOrder,
		I.ItemId AS FGItemId,
		I.Descr AS FGDescription,
		Rev = (SELECT DISTINCT [cf_Product Lot Designation] FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=I.ItemId AND A.RefID=MP.CustId),
		Customer = (SELECT DISTINCT CustName FROM [005].[dbo].[tblArCust] C WHERE C.CustId=MP.CustId),
		ShipToName = ISNULL((SELECT DISTINCT ShipToName FROM [005].[dbo].[tblSoTransHeader] S WHERE S.TransId=MP.SalesOrder), 
							(SELECT DISTINCT ShipToName FROM [005].[dbo].[tblArTransHeader] S WHERE S.TransId=MP.SalesOrder)),
		MP.PurchaseOrder AS PONum1,
		PONum2 = (SELECT DISTINCT ShipToCustomerPO FROM vTravSO WHERE OrderNo=MP.SalesOrder),
		[Date] = (SELECT CAST(MAX(LastScanDateTime) AS DATE)
					FROM OrderReleaseEvent E
						 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
						 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
						 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
					WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo),
		BatchNumbers = STUFF((SELECT DISTINCT ', ' + EI.SerialNo 
								FROM OrderReleaseEvent E
									 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
									 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10','30') --Direct Materials
								WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo
						FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
		 MaxReeferOTISHours = (SELECT MAX(CAST(OTIS.TotalReeferMinutes AS FLOAT)/60)
								FROM OrderReleaseEvent E
									 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
									 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
									 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
								WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo),
		 MaxRoomOTISHours = (SELECT MAX(CAST(OTIS.TotalRoomMinutes AS FLOAT)/60)
								FROM OrderReleaseEvent E
									 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=1
									 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
									 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
								WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo),
		 MaxReeferTempTransitOT = (SELECT TOP 1 ISNULL((SELECT MAX(ReeferOT) FROM (VALUES (RD.Rec1AddReeferTime), (RD.Rec2AddReeferTime)) AS AllReeferOTs(ReeferOT)),
														(SELECT MAX(ReeferOT) FROM (VALUES (R.Rec1AddReeferTime), (R.Rec2AddReeferTime)) AS AllReeferOTs(ReeferOT)))
									FROM OrderReleaseEvent E
										 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
										 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
										 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
										 INNER JOIN OutTimeReceiving R ON R.Id=OTIS.OutTimeRecvdId
										 LEFT JOIN OutTimeReceivingDetail RD ON RD.OTReceivingId=R.Id
									WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo
									ORDER BY 1 DESC),
		 MaxRoomTempTransitOT = (SELECT TOP 1 ISNULL((SELECT MAX(RoomOT) FROM (VALUES (RD.Rec1OutTime), (RD.Rec2OutTime)) AS AllRoomOTs(RoomOT)),
														(SELECT MAX(RoomOT) FROM (VALUES (R.Rec1OutTime), (R.Rec2OutTime)) AS AllRoomOTs(RoomOT)))
									FROM OrderReleaseEvent E
										 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
										 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=EI.ItemId AND OTIS.SerialNo=EI.SerialNo
										 INNER JOIN [005].[dbo].[tblWmExtLoc] LOC ON LOC.Id=OTIS.CurrentWmBinId AND LOC.LocID LIKE 'INV%'
										 INNER JOIN OutTimeReceiving R ON R.Id=OTIS.OutTimeRecvdId
										 LEFT JOIN OutTimeReceivingDetail RD ON RD.OTReceivingId=R.Id
									WHERE E.OrderNo=MP.OrderNo AND E.ReleaseNo=MP.ReleaseNo
									ORDER BY 1 DESC),
		 SetID = MP.OrderNo + '-' + RIGHT('000'+CAST(MP.ReleaseNo AS VARCHAR(3)), 3)

	FROM vMpOrderReleases MP
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=MP.AssemblyId

	WHERE MP.OrderNo = @OrderNo AND MP.ReleaseNo BETWEEN @FromReleaseNo AND @ToReleaseNo AND MP.MfgCompleted=1
) A

END
GO
