USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetNextInventoryCountTicketNum]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetNextInventoryCountTicketNum]

AS
BEGIN


	INSERT INTO [W005].[dbo].[InventoryCountTicket]
	(TicketDate) VALUES (GetDate())

	SELECT MAX(ICTNum) As NextTicketNum
	FROM [W005].[dbo].[InventoryCountTicket]

	



END
GO
