USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackListCofCFGPkgDetailRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spCCIPackListCofCFGPkgDetailRpt] @PLNo AS INT
AS
BEGIN 

--DECLARE @PLNo AS INT = 42533  --

-- Ship Packing List FG Items
SELECT DISTINCT 
    SPL.PLNo,
    SPLSO.CustPONum,
    SPLSO.CustPOLine,
    PartNo = IIF((SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofC_Alias_After_Desc' AND CC.CustId=SPL.CustId AND CC.Enforce = 1) = 1, I.Descr + ' CustPN:' + SPLD.CustomerPN ,IIF(SPLD.CustomerPN = '', I.Descr, ISNULL(SPLD.CustomerPN, I.Descr))),
    CustRev = ISNULL(SPLD.CustRev, ORI.CustRev),
    SPL.CustId,
    Lot = ORI.OrderNo + '-' + RIGHT('000'+CAST(ORI.ReleaseNo AS VARCHAR(3)),3),
    LotQty = ORI.Qty,
    ORI.ParentOrderNo AS MFGOrderNo,
    SPLD.ItemId AS FGItemId,
    SPLD.SerialNo,
	SPLD.ShipBoxID,
	B.ShipBoxNo AS BagNo,
	BagQty = (SELECT COUNT(Id) FROM ShipItem WHERE ShipBoxId = B.Id),
	DOM = (Select MIN(MfgDate) FROM OrderReleaseEventItem Where Id IN (Select OREIID From ShipItem I WHERE I.ShipBoxId = B.Id)),
	FGExpDate = (Select MIN(FGExpDate) FROM OrderReleaseEventItem Where Id IN (Select OREIID From ShipItem I WHERE I.ShipBoxId = B.Id)),
	--,SI.OREIId AS OREIId
	--FGLotNum = (SELECT TravLotNum FROM ShipItem WHERE ShipBoxId = B.Id),
	--FGSerNum = (SELECT TravSerNum FROM ShipItem WHERE ShipBoxId = B.Id),
    I.[cf_FG Program] AS FGProgram,
    OTS.ProgramId AS FGProgramId,
    SPLD.Location AS LocId,
    ShowFGDetailPage = 1, --(SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId  WHERE C.Characteristic = 'CofC_FGDetailPage' AND CC.CustId=SPL.CustId), 
    ShowFGRemOTinDays = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofC_FGRemOTinDays' AND CC.CustId=SPL.CustId), 
    ShowFGRMTraceInfo = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofC_FG_RM_Trace_Info' AND CC.CustId=SPL.CustId), 
    IncludeSNBarcode = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId  WHERE C.Characteristic = 'CofC_IncludeSNBarcode' AND CC.CustId=SPL.CustId), 
    ShowHeaderPartNo = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId  WHERE C.Characteristic = 'CofCHeader_PartNo' AND CC.CustId=SPL.CustId),                     
    ShowHeaderLot = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofCHeader_ProdOrder-Rel(Lot)' AND CC.CustId=SPL.CustId),
    ShowHeaderDaysOTRem = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofCHeader_DaysOTRem' AND CC.CustId=SPL.CustId), 
    ShowHeaderExpDate = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofCHeader_ExpDate' AND CC.CustId=SPL.CustId),
    ShowHeaderQR = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofCHeader_GEBC_RcptQR' AND CC.CustId=SPL.CustId),
    ShowCrossPly = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofC_Net_Length' AND CC.CustId=SPL.CustId AND CC.Enforce = 1),
	CrossPlyNetLength = (Select MIN(CrossPlyNetLength) FROM OrderReleaseEventItem Where Id IN (Select OREIID From ShipItem I WHERE I.ShipBoxId = B.Id)),
	ShowBagNoAndKitQty = (SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM Characteristic C INNER JOIN ProductChar PC ON C.Id=PC.CharId WHERE C.Characteristic = 'KitConsolidate' AND PC.ItemId=SPLD.ItemId)
into #ShipPackingListFGItems
FROM ShipPackingList SPL
    INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
    INNER JOIN ShipBox B ON B.Id = SPLD.ShipBoxId
	--INNER JOIN ShipItem SI ON SI.ShipBoxId = B.Id
    INNER JOIN (SELECT DISTINCT ProdOrderNo, ProdOrderRelNo, ShipBoxId From ShipItem) II ON II.ShipBoxId = B.Id
    INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=B.BoxItemId
    INNER JOIN CCIOrderReleaseInfo ORI ON ORI.OrderNo=II.ProdOrderNo AND ORI.ReleaseNo =II.ProdOrderRelNo AND ORI.ItemId=B.BoxItemId
    INNER JOIN CustomerChar CC ON CC.CustId=SPL.CustId
    INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId AND C.Characteristic = 'CofC_FGPkgDetailPage'
    LEFT JOIN ShipPackingListSOLine SPLSO ON SPLSO.PLNo=SPL.PLNo AND SPLSO.ItemId=B.BoxItemId AND SPLD.SPLSOLineId=SPLSO.SOLine
    LEFT JOIN (SELECT DISTINCT P.Id AS ProgramId, P.ProgramName, OTS.ItemId
				FROM [W005].[dbo].[OutTimeItemSpecs] OTS 
                    INNER JOIN [W005].[dbo].[Program] P ON P.Id=OTS.ProgramId) OTS ON OTS.ItemId=B.BoxItemId AND OTS.ProgramName = I.[cf_FG Program]
WHERE SPL.PLNo = @PLNo 

--FG Data 
SELECT DISTINCT PLNo, CustPONum, CustPOLine, PartNo, CustRev, CustId, Lot, LotQty, MFGOrderNo, FGItemId, SerialNo, DOM
				, MIN(OTHoursRemaining) AS FGRemainingOTinHours, 
				MIN(ROUND(OTHoursRemaining/24,1)) AS FGRemainingOTinDays, MIN(FGExpDate) AS FGExpDate, FGProgram, FGProgramId, LocId,ShipBoxId, BagNo,BagQty,
				SPL.ShowFGDetailPage, SPL.ShowFGRemOTinDays, SPL.ShowFGRMTraceInfo, SPL.IncludeSNBarcode, SPL.ShowHeaderPartNo,	SPL.ShowHeaderLot,
				SPL.ShowHeaderDaysOTRem, SPL.ShowHeaderExpDate, SPL.ShowHeaderQR, SPL.ShowCrossPly, SPL.CrossPlyNetLength,ShowBagNoAndKitQty
INTO #SPLKitOutTime
FROM (
	SELECT DISTINCT	
				SPL.PLNo,
				SPL.CustPONum,
				SPL.CustPOLine,
				SPL.PartNo,
				SPL.CustRev,
				SPL.CustId,
				SPL.Lot,
				SPL.LotQty,
				SPL.MFGOrderNo,
				SPL.FGItemId,
				SPL.SerialNo,
				SPL.DOM,
				OTHoursRemaining = IIF((ORK.EstLastScanDateTime) IS NULL,
										ROUND(((SELECT
												CASE
												WHEN EXISTS(
														SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId
														)
												THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId)
												ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
												END AS MaxRoomTimeHrs)-(CAST((ORK.[TotalRoomMinutes]) AS FLOAT) /60)),1),
										ROUND(((SELECT
												CASE
												WHEN EXISTS(
														SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId
														)
												THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId)
												ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
												END AS MaxRoomTimeHrs)-(CAST((ORK.[EstTotalRoomMinutes]) AS FLOAT) /60)),1)),
				
				FGExpDate = ISNULL(SPL.FGExpDate, (SELECT MIN(L.ExpDate)
															FROM [005].[dbo].[tblInItemLocLot] AS L
															WHERE L.ItemId LIKE 'RM%' AND L.ItemId=ORK.RMItemId AND L.LotNum=ORK.RMSerialNo)),
				SPL.FGProgram,
				SPL.FGProgramId,
				SPL.LocId,
				SPL.ShipBoxId,
				SPL.BagNo,
				SPL.BagQty,
				SPL.ShowFGDetailPage,
				SPL.ShowFGRemOTinDays,
				SPL.ShowFGRMTraceInfo,
				SPL.IncludeSNBarcode,
				SPL.ShowHeaderPartNo,
				SPL.ShowHeaderLot,
				SPL.ShowHeaderDaysOTRem,
				SPL.ShowHeaderExpDate,
				SPL.ShowHeaderQR, 
				SPL.ShowCrossPly,
				SPL.CrossPlyNetLength,
				SPL.ShowBagNoAndKitQty
	FROM #ShipPackingListFGItems SPL
			--INNER JOIN [W005].[dbo].[ShipItem] SI ON SI.ShipBoxId = SPL.ShipBoxId 
			LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORK ON ORK.OrderReleaseEventItemId IN (Select OREIID From ShipItem I WHERE I.ShipBoxId =SPL.ShipBoxId)
			 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORK.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo 
	GROUP BY SPL.PLNo, SPL.CustPONum, SPL.CustPOLine, SPL.MFGOrderNo, SPL.Lot, SPL.FGItemId, SPL.PartNo, SPL.CustRev, SPL.CustRev, SPL.CustId, 
			 SPL.SerialNo, SPL.DOM, SPL.LotQty, SPL.FGExpDate, SPL.FGProgram, SPL.FGProgramId, SPL.LocId, SPL.ShipBoxId,SPL.BagNo,SPL.BagQty, ORK.RMItemId, ORK.RMSerialNo,
			 SPL.ShowFGDetailPage, SPL.ShowFGRemOTinDays, SPL.ShowFGRMTraceInfo, SPL.IncludeSNBarcode, SPL.ShowHeaderPartNo, SPL.ShowHeaderLot,
			 SPL.ShowHeaderDaysOTRem, SPL.ShowHeaderExpDate, SPL.ShowHeaderQR, SPL.ShowCrossPly, SPL.CrossPlyNetLength, SPL.ShowBagNoAndKitQty
			 ,ORK.TotalRoomMinutes,ORK.EstTotalRoomMinutes,ORK.EstLastScanDateTime
UNION ALL
	SELECT DISTINCT	
				SPL.PLNo, 
				SPL.CustPONum,
				SPL.CustPOLine,
				SPL.PartNo,
				SPL.CustRev,
				SPL.CustId,
				SPL.Lot,
				SPL.LotQty,
				SPL.MFGOrderNo,
				SPL.FGItemId,
				SPL.SerialNo,
				SPL.DOM,
				OTHoursRemaining = NULL,
				FGExpDate = ISNULL(SPL.FGExpDate, (SELECT MIN(L.ExpDate)
															FROM [005].[dbo].[tblInItemLocLot] AS L
															WHERE L.ItemId LIKE 'RM%' AND L.ItemId=NON.RMItemId AND L.LotNum=NON.RMSerialNo)),
				SPL.FGProgram,
				SPL.FGProgramId,
				SPL.LocId,
				SPL.ShipBoxId,
				SPL.BagNo,
				SPL.BagQty,
				SPL.ShowFGDetailPage,
				SPL.ShowFGRemOTinDays,
				SPL.ShowFGRMTraceInfo,
				SPL.IncludeSNBarcode,
				SPL.ShowHeaderPartNo,
				SPL.ShowHeaderLot,
				SPL.ShowHeaderDaysOTRem,
				SPL.ShowHeaderExpDate,
				SPL.ShowHeaderQR,
				SPL.ShowCrossPly, 
				SPL.CrossPlyNetLength,
				SPL.ShowBagNoAndKitQty
	FROM #ShipPackingListFGItems SPL
			 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] AS NON ON NON.OrderReleaseEventItemId IN (Select OREIID From ShipItem I WHERE I.ShipBoxId =SPL.ShipBoxId)
			 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=NON.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo
	GROUP BY SPL.PLNo, SPL.CustPONum, SPL.CustPOLine, SPL.MFGOrderNo, SPL.Lot, SPL.FGItemId, SPL.PartNo, SPL.CustRev, SPL.CustRev, SPL.CustId, 
			 SPL.SerialNo, SPL.DOM, SPL.LotQty, SPL.FGExpDate, SPL.FGProgram, SPL.FGProgramId, SPL.LocId, SPL.ShipBoxId,SPL.BagNo,SPL.BagQty, NON.RMItemId, NON.RMSerialNo,
			 SPL.ShowFGDetailPage, SPL.ShowFGRemOTinDays, SPL.ShowFGRMTraceInfo, SPL.IncludeSNBarcode, SPL.ShowHeaderPartNo, SPL.ShowHeaderLot,
			 SPL.ShowHeaderDaysOTRem, SPL.ShowHeaderExpDate, SPL.ShowHeaderQR, SPL.ShowCrossPly, SPL.CrossPlyNetLength, SPL.ShowBagNoAndKitQty
UNION ALL
		SELECT DISTINCT	
				SPL.PLNo,
				SPL.CustPONum,
				SPL.CustPOLine,
				SPL.PartNo,
				SPL.CustRev,
				SPL.CustId,
				SPL.Lot,
				SPL.LotQty,
				SPL.MFGOrderNo,
				SPL.FGItemId,
				SPL.SerialNo,
				SPL.DOM,
				OTHoursRemaining = IIF(MAX(ORKIM.EstLastScanDateTime) IS NULL,
										ROUND(((SELECT
												CASE
												WHEN EXISTS(
														SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId
														)
												THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId)
												ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId = 0)
												END AS MaxRoomTimeHrs)-(CAST(MAX(ORKIM.[TotalRoomMinutes]) AS FLOAT) /60)),1,1),
										ROUND(((SELECT
												CASE
												WHEN EXISTS(
														SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId
														)
												THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId)
												ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId = 0)
												END AS MaxRoomTimeHrs)-(CAST(MAX(ORKIM.[EstTotalRoomMinutes]) AS FLOAT) /60)),1,1)),

				FGExpDate = ISNULL(SPL.FGExpDate, (SELECT MIN(L.ExpDate)
															FROM [005].[dbo].[tblInItemLocLot] AS L
															WHERE L.ItemId LIKE 'RM%' AND L.ItemId=ORKIM.RMItemId AND L.LotNum=ORKIM.RMSerialNo)),
				SPL.FGProgram,
				SPL.FGProgramId,
				SPL.LocId,
				SPL.ShipBoxId,
				SPL.BagNo,
				SPL.BagQty,
				SPL.ShowFGDetailPage,
				SPL.ShowFGRemOTinDays,
				SPL.ShowFGRMTraceInfo,
				SPL.IncludeSNBarcode,
				SPL.ShowHeaderPartNo,
				SPL.ShowHeaderLot,
				SPL.ShowHeaderDaysOTRem,
				SPL.ShowHeaderExpDate,
				SPL.ShowHeaderQR,
				SPL.ShowCrossPly,
				SPL.CrossPlyNetLength,
				SPL.ShowBagNoAndKitQty
	FROM #ShipPackingListFGItems SPL
			 INNER JOIN [W005].[dbo].[OrderReleaseIntermediateRawMatl] AS ORKIM ON ORKIM.OrderReleaseEventItemId IN (Select OREIID From ShipItem I WHERE I.ShipBoxId =SPL.ShipBoxId)
			 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORKIM.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo
	GROUP BY SPL.PLNo, SPL.CustPONum, SPL.CustPOLine, SPL.MFGOrderNo, SPL.Lot, SPL.FGItemId, SPL.PartNo, SPL.CustRev, SPL.CustRev, SPL.CustId, 
			 SPL.SerialNo, SPL.DOM, SPL.LotQty, SPL.FGExpDate, SPL.FGProgram, SPL.FGProgramId, SPL.LocId,SPL.ShipBoxId, SPL.BagNo,SPL.BagQty, ORKIM.RMItemId, ORKIM.RMSerialNo,
			 SPL.ShowFGDetailPage, SPL.ShowFGRemOTinDays, SPL.ShowFGRMTraceInfo, SPL.IncludeSNBarcode, SPL.ShowHeaderPartNo,	SPL.ShowHeaderLot,
			 SPL.ShowHeaderDaysOTRem, SPL.ShowHeaderExpDate, SPL.ShowHeaderQR, SPL.ShowCrossPly, SPL.CrossPlyNetLength, SPL.ShowBagNoAndKitQty
) SPL
GROUP BY PLNo, CustPONum, CustPOLine, PartNo, CustRev, CustId, Lot, LotQty, MFGOrderNo, FGItemId, SerialNo, DOM, FGProgram, FGProgramId, LocId,SPL.ShipBoxId, SPL.BagNo, BagQty,
				SPL.ShowFGDetailPage, SPL.ShowFGRemOTinDays, SPL.ShowFGRMTraceInfo, SPL.IncludeSNBarcode, SPL.ShowHeaderPartNo,	SPL.ShowHeaderLot,
				SPL.ShowHeaderDaysOTRem, SPL.ShowHeaderExpDate, SPL.ShowHeaderQR, SPL.ShowCrossPly, SPL.CrossPlyNetLength, SPL.ShowBagNoAndKitQty


---- RM OT w/Final Results
SELECT DISTINCT A.PLNo, A.CustPONum, A.CustPOLine, A.PartNo, A.Lot, MIN(OT.FGRemainingOTinDays) AS DaysOTRemaining, MIN(OT.FGExpDate) AS ExpDate, A.CustRev, A.FGItemId, A.ShipBoxId,
				A.SerialNo, A.MFGOrderNo, A.DOM, A.FGExpDate, A.FGRemainingOTinHours, A.FGRemainingOTinDays, A.ShowFGDetailPage, A.ShowFGRemOTinDays, 
				A.ShowFGRMTraceInfo, A.IncludeSNBarcode, A.ShowHeaderPartNo, A.ShowHeaderLot, A.ShowHeaderDaysOTRem, A.ShowHeaderExpDate, A.ShowHeaderQR, A.ShowCrossPly, A.CrossPlyNetLength,
				A.RMMaterialType, A.RMItemId, A.RMLotNo, MIN(A.RMRemainingOTHrs) AS RMRemainingOTHrs, A.RMExpDate, 
				RcptQRCode =   'BCOCAD' + CHAR(13) +
								'' + CHAR(13) +
								A.PartNo + CHAR(13) +
								A.Lot + CHAR(13) +
								ISNULL(CONVERT(VARCHAR(20),CAST(MIN(OT.FGExpDate) AS DATE),101), '') + CHAR(13) +
								'' + CHAR(13) +
								A.Lot + CHAR(13) +
								CAST(CAST(A.LotQty AS DECIMAL(3,0)) AS varchar(3))
				,A.ShowBagNoAndKitQty, A.BagNo,A.BagQty
FROM (
	SELECT DISTINCT	
			SPL.PLNo, 
			SPL.CustPONum,
			SPL.CustPOLine,
			SPL.Lot,
			SPL.LotQty,
			SPL.PartNo,
			SPL.CustRev,
			SPL.FGItemId,
			SPL.SerialNo,
			SPL.MFGOrderNo,
			SPL.DOM,
			SPL.FGRemainingOTinHours,
			SPL.FGRemainingOTinDays,
			SPL.FGExpDate,
			SPL.ShowFGDetailPage,
			SPL.ShowFGRemOTinDays,
			SPL.ShowFGRMTraceInfo,
			SPL.IncludeSNBarcode,
			SPL.ShowHeaderPartNo,
			SPL.ShowHeaderLot,
			SPL.ShowHeaderDaysOTRem,
			SPL.ShowHeaderExpDate,
			SPL.ShowHeaderQR,
			SPL.ShowCrossPly, 
			SPL.CrossPlyNetLength,
			SPL.ShowBagNoAndKitQty,
			SPL.BagNo,
			SPL.BagQty,
			SPL.ShipBoxId,
			RMMaterialType = ISNULL((CASE
									  WHEN EXISTS(SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORK.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
									  THEN (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORK.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
									  ELSE (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORK.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program] IS NULL)
									  END), (SELECT DISTINCT TOP 1 I.Descr FROM [005].[dbo].[tblInItem] I WHERE I.ItemId=ORK.RMItemId)),
			ORK.RMItemId,
			RMLotNo = (SELECT TOP 1 [cf_Lot No.] FROM [005].[dbo].[trav_tblInItemLocLot_View] I WHERE I.ItemId=ORK.RMItemId AND I.LotNum=ORK.RMSerialNo AND I.LocId=SPL.LocId),
			RMRemainingOTHrs = IIF(ORK.EstLastScanDateTime IS NULL,
								ROUND((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
										END AS MaxRoomTimeHrs)-(CAST(ORK.[TotalRoomMinutes] AS FLOAT) /60),1,1)
								,ROUND((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=SPL.FGProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
										END AS MaxRoomTimeHrs)-(CAST(ORK.[EstTotalRoomMinutes] AS FLOAT) /60),1,1))
 
			,L.ExpDate AS RMExpDate
	FROM #SPLKitOutTime SPL
		 INNER JOIN (SELECT ORK.*, I.ShipBoxId FROM  OrderReleaseKitRawMatlOutTime ORK INNER JOIN ShipItem I ON I.OREIId=ORK.OrderReleaseEventItemId) ORK ON ORK.ShipBoxId =SPL.ShipBoxId
		 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=ORK.RMItemId AND L.LotNum=ORK.RMSerialNo
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORK.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo
UNION ALL
	SELECT DISTINCT	
			SPL.PLNo, 
			SPL.CustPONum,
			SPL.CustPOLine,
			SPL.Lot,
			SPL.LotQty,
			SPL.PartNo,
			SPL.CustRev,
			SPL.FGItemId,
			SPL.SerialNo,
			SPL.MFGOrderNo,
			SPL.DOM,
			SPL.FGRemainingOTinHours,
			SPL.FGRemainingOTinDays,
			SPL.FGExpDate,
			SPL.ShowFGDetailPage,
			SPL.ShowFGRemOTinDays,
			SPL.ShowFGRMTraceInfo,
			SPL.IncludeSNBarcode,
			SPL.ShowHeaderPartNo,
			SPL.ShowHeaderLot,
			SPL.ShowHeaderDaysOTRem,
			SPL.ShowHeaderExpDate,
			SPL.ShowHeaderQR,
			SPL.ShowCrossPly, 
			SPL.CrossPlyNetLength,
			SPL.ShowBagNoAndKitQty,
			SPL.BagNo,
			SPL.BagQty,
			SPL.ShipBoxId,
			RMMaterialType = ISNULL((CASE
							WHEN EXISTS(SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKIM.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
							THEN (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKIM.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
							ELSE (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKIM.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program] IS NULL)
							END), (SELECT DISTINCT TOP 1 I.Descr FROM [005].[dbo].[tblInItem] I WHERE I.ItemId=ORKIM.RMItemId)),
			ORKIM.RMItemId,
			RMLotNo = (SELECT TOP 1 [cf_Lot No.] FROM [005].[dbo].[trav_tblInItemLocLot_View] I WHERE I.ItemId=ORKIM.RMItemId AND I.LotNum=ORKIM.RMSerialNo AND I.LocId=SPL.LocId),
			RMRemainingOTHrs = IIF(ORKIM.EstLastScanDateTime IS NULL,
								ROUND((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId = 0)
										END AS MaxRoomTimeHrs)-(CAST(ORKIM.[TotalRoomMinutes] AS FLOAT) /60),1,1)
								,ROUND((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORKIM.RMItemId AND ProgramId=SPL.FGProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORKIM.RMItemId AND ProgramId = 0)
										END AS MaxRoomTimeHrs)-(CAST(ORKIM.[EstTotalRoomMinutes] AS FLOAT) /60),1,1)),
			L.ExpDate AS RMExpDate
	FROM #SPLKitOutTime SPL
		 INNER JOIN OrderReleaseIntermediateRawMatl AS ORKIM ON ORKIM.OrderReleaseEventItemId  IN (Select OREIID From ShipItem I WHERE I.ShipBoxId =SPL.ShipBoxId)
		 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=ORKIM.RMItemId AND L.LotNum=ORKIM.RMSerialNo
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORKIM.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo
UNION ALL
	SELECT DISTINCT	
			SPL.PLNo, 
			SPL.CustPONum,
			SPL.CustPOLine,
			SPL.Lot,
			SPL.LotQty,
			SPL.PartNo,
			SPL.CustRev,
			SPL.FGItemId,
			SPL.SerialNo,
			SPL.MFGOrderNo,
			SPL.DOM,
			SPL.FGRemainingOTinHours,
			SPL.FGRemainingOTinDays,
			SPL.FGExpDate,
			SPL.ShowFGDetailPage,
			SPL.ShowFGRemOTinDays,
			SPL.ShowFGRMTraceInfo,
			SPL.IncludeSNBarcode,
			SPL.ShowHeaderPartNo,
			SPL.ShowHeaderLot,
			SPL.ShowHeaderDaysOTRem,
			SPL.ShowHeaderExpDate,
			SPL.ShowHeaderQR,
			SPL.ShowCrossPly, 
			SPL.CrossPlyNetLength,
			SPL.ShowBagNoAndKitQty,
			SPL.BagNo,
			SPL.BagQty,
			SPL.ShipBoxId,
			RMMaterialType = ISNULL((CASE
							WHEN EXISTS(SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKNOT.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
							THEN (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKNOT.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program]=SPL.FGProgram)
							ELSE (SELECT DISTINCT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=ORKNOT.RMItemId AND A.RefID=SPL.CustId AND A.[cf_FG Program] IS NULL)
							END), (SELECT DISTINCT TOP 1 I.Descr FROM [005].[dbo].[tblInItem] I WHERE I.ItemId=ORKNOT.RMItemId)),
			ORKNOT.RMItemId,
			RMLotNo = (SELECT TOP 1 [cf_Lot No.] FROM [005].[dbo].[trav_tblInItemLocLot_View] I WHERE I.ItemId=ORKNOT.RMItemId AND I.LotNum=ORKNOT.RMSerialNo AND I.LocId=SPL.LocId),
			RMRemainingOTHrs = null,
			L.ExpDate AS RMExpDate
	FROM #SPLKitOutTime SPL
		 INNER JOIN OrderReleaseKitRawMatlNonOT AS ORKNOT ON ORKNOT.OrderReleaseEventItemId  IN (Select OREIID From ShipItem I WHERE I.ShipBoxId =SPL.ShipBoxId)
		 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=ORKNOT.RMItemId AND L.LotNum=ORKNOT.RMSerialNo
		 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORKNOT.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
	WHERE SPL.PLNo = @PLNo

) A
  INNER JOIN #SPLKitOutTime OT ON OT.PLNo=A.PLNo
WHERE A.ShowFGDetailPage = 1 
GROUP BY A.PLNo, A.CustPONum, A.CustPOLine, A.PartNo, A.Lot, A.LotQty, A.CustRev, A.FGItemId, A.SerialNo, A.MFGOrderNo, A.DOM, A.FGExpDate, A.FGRemainingOTinHours, A.FGRemainingOTinDays, 
		 A.ShowFGDetailPage, A.ShowFGRemOTinDays, A.ShowFGRMTraceInfo, A.IncludeSNBarcode, A.ShowHeaderPartNo, A.ShowHeaderLot, A.ShowHeaderDaysOTRem, A.ShowHeaderExpDate, A.ShowHeaderQR, 
		 A.ShowCrossPly, A.CrossPlyNetLength, A.ShowBagNoAndKitQty, A.ShipBoxId, A.BagNo, A.BagQty, A.RMMaterialType, A.RMItemId, A.RMLotNo, A.RMExpDate
ORDER BY  A.PLNo, A.CustPONum, A.CustPOLine, A.PartNo, A.Lot, A.CustRev, A.FGItemId, A.SerialNo, A.MFGOrderNo, A.DOM, A.FGExpDate, A.FGRemainingOTinHours, A.FGRemainingOTinDays, 
		 A.ShowFGDetailPage, A.ShowFGRemOTinDays, A.ShowFGRMTraceInfo, A.IncludeSNBarcode, A.ShowHeaderPartNo, A.ShowHeaderLot, A.ShowHeaderDaysOTRem, A.ShowHeaderExpDate, A.ShowHeaderQR, 
		 A.RMMaterialType, A.RMItemId, A.RMLotNo, A.RMExpDate

DROP TABLE #ShipPackingListFGItems
DROP TABLE #SPLKitOutTime


END
GO
