USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWMissingWOStartUp]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************************************************************************

--************ CAUTION: be careful when you replace W003 or W009  because '003' and '009' are used in the SELECT!  *******************

--****************************************************************************************************************************************************
/*  
	Used by WEBSlitWidth
	Returns data for the report rMissingWOStartUp
*/

CREATE PROCEDURE [dbo].[spSWMissingWOStartUp] 
	
	
AS
BEGIN



	SELECT th.ProdOrderNo
	INTO #T
	FROM [W005].[dbo].[SW_TestHdr] th
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON th.Id=tgh.TestHdrId
	WHERE tgh.TestGroupName = 'START UP' 

	SELECT DISTINCT th.ProdOrderNo, th.ReleaseNo 
		,th.SetID
		,th.Machine
		,th.MachineDescr
		,th.InvDescription
		,IIF(th.CompID = '003','ATL',IIF(th.CompID = '009','STD','CCI')) As Plant
	FROM [W005].[dbo].[SW_TestHdr] th 
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON th.Id=tgh.TestHdrId
	WHERE tgh.TestGroupName = 'END of SET'
		AND th.ProdOrderNo NOT IN (SELECT ProdOrderNo FROM #T)
	ORDER BY th.ProdOrderNo,th.Machine,th.ReleaseNo

	DROP TABLE #T



	 
END
GO
