USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListItemIdCountOffSiteTrans]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Gives COUNT of each DISTINCT ItemId on PL
CREATE PROCEDURE [dbo].[spPackingListItemIdCountOffSiteTrans] 
		@OST as int

AS
BEGIN

--Declare @OST as int = 5

CREATE TABLE tItemCount (ItemId varchar(24) NOT NULL, ItemCount INT NOT NULL); 

DECLARE @currPalID as int
DECLARE @currCtnID as int
DECLARE @currBoxID as int
DECLARE @currItemIdID as int
DECLARE @currItemId as varchar(24)
DECLARE @shipItemId as varchar(24)
DECLARE @shipItemCount as int

DECLARE iCur CURSOR  
FOR
	SELECT ShipPalletId,ShipCartonId,ShipBoxId,ShipItemId,ItemId
	FROM [W005].[dbo].[OffSiteTransferDetail]
	WHERE OffSiteTransId=@OST
OPEN iCur 
FETCH NEXT FROM iCur INTO @currPalID,@currCtnID,@currBoxID,@currItemIdID,@currItemId
WHILE @@FETCH_STATUS = 0 
BEGIN
	IF @currPalID is not null
	BEGIN
		DECLARE iPCur CURSOR
		FOR SELECT DISTINCT ItemId, COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=@currPalID GROUP BY ItemId
		OPEN iPCur
		FETCH NEXT FROM iPCur INTO @shipItemId,@shipItemCount
		WHILE @@FETCH_STATUS = 0 
		BEGIN
			IF EXISTS (SELECT ItemCount FROM tItemCount WHERE ItemId=@currItemId)
			BEGIN
				UPDATE tItemCount
				SET ItemCount = ItemCount + @shipItemCount
				WHERE ItemId=@currItemId
			END ELSE BEGIN
				INSERT INTO tItemCount (ItemId,ItemCount) VALUES (@shipItemId,@shipItemCount)
			END
		FETCH NEXT FROM iPCur INTO @shipItemId,@shipItemCount
		END
		CLOSE iPCur  
		DEALLOCATE iPCur;
	END
	ELSE IF @currCtnID is not null
	BEGIN
		DECLARE iCCur CURSOR
		FOR SELECT DISTINCT ItemId, COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=@currCtnID GROUP BY ItemId
		OPEN iCCur
		FETCH NEXT FROM iCCur INTO @shipItemId,@shipItemCount
		WHILE @@FETCH_STATUS = 0 
		BEGIN
			IF EXISTS (SELECT ItemCount FROM tItemCount WHERE ItemId=@currItemId)
			BEGIN
				UPDATE tItemCount
				SET ItemCount = ItemCount + @shipItemCount
				WHERE ItemId=@currItemId
			END ELSE BEGIN
				INSERT INTO tItemCount (ItemId,ItemCount) VALUES (@shipItemId,@shipItemCount)
			END
		FETCH NEXT FROM iCCur INTO @shipItemId,@shipItemCount
		END
		CLOSE iCCur  
		DEALLOCATE iCCur;
	END
	ELSE IF @currBoxID is not null
	BEGIN
		DECLARE iBCur CURSOR
		FOR SELECT DISTINCT ItemId, COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=@currBoxID GROUP BY ItemId
		OPEN iBCur
		FETCH NEXT FROM iBCur INTO @shipItemId,@shipItemCount
		WHILE @@FETCH_STATUS = 0 
		BEGIN
			IF EXISTS (SELECT ItemCount FROM tItemCount WHERE ItemId=@currItemId)
			BEGIN
				UPDATE tItemCount
				SET ItemCount = ItemCount + @shipItemCount
				WHERE ItemId=@currItemId
			END ELSE BEGIN
				INSERT INTO tItemCount (ItemId,ItemCount) VALUES (@shipItemId,@shipItemCount)
			END
		FETCH NEXT FROM iBCur INTO @shipItemId,@shipItemCount
		END
		CLOSE iBCur  
		DEALLOCATE iBCur;
	END
	ELSE IF @currItemIdID is not null
		IF EXISTS (SELECT ItemCount FROM tItemCount WHERE ItemId=@currItemId)
		BEGIN
			UPDATE tItemCount
			SET ItemCount = ItemCount + 1
			WHERE ItemId=@currItemId
		END ELSE BEGIN
			INSERT INTO tItemCount (ItemId,ItemCount) VALUES (@currItemId,1)
		END
FETCH NEXT FROM iCur INTO @currPalID,@currCtnID,@currBoxID,@currItemIdID,@currItemId
END
CLOSE iCur  
DEALLOCATE iCur;

SELECT * FROM tItemCount

drop table tItemCount

------------
END
GO
