USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCompositeSpliceSampleLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCompositeSpliceSampleLabel] @PrintJobId as int, @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @ItemId AS varchar(24)
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS VARCHAR(8) = '00038427'
--DECLARE @ReleaseNo AS int = 30
--DECLARE @ItemId AS varchar(24) = 'RO-RM-FLM-ADH-15625'



SELECT DISTINCT 
		E.OrderNo
		,E.ReleaseNo
		,OREI.ItemId
		,RMSerialNo = OREI.SerialNo
		,RMLotNo = IsNULL(OREI.TravLotNum,OREI.LotNo)
		,SetNo = CAST(CAST(@OrderNo AS int) AS varchar(8)) + '-' + RIGHT('000'+CAST(@ReleaseNo AS VARCHAR(3)),3)
		,SampleDate = GetDate()

FROM	[W005].[dbo].[OrderReleaseEvent] AS E
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = E.Id AND OREI.IsAssembly=0
		INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId = OREI.ItemId
	
WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND OREI.ItemId = @ItemId


END
GO
