USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIPartialKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIPartialKitLabel] @PrintJobId as int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId AS int, @BagNum AS varchar(24)
AS
BEGIN

--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00027613'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId as int = 12541
--DECLARE @BagNum AS varchar(24) = 'BAG1POST'

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

SELECT DISTINCT OrderReleaseEventItemId, CustId, CustPONum, CustName, CustPN, CustRev, ParentOrderNo, OrderNo, ReleaseNo, RevisionNo, ItemId, ItemDescr, TravSerNum, TravLotNum, PartialKitBarcode, FGKitBarcode, /*TotalCountOfUnits,*/
				BagNo --ROW_NUMBER() OVER (PARTITION BY OrderNo ORDER BY OrderNo) 
FROM 
(
SELECT DISTINCT	   I.Id AS OrderReleaseEventItemId
				  ,E.Id AS OrderReleaseEventId
				  ,CustId = ISNULL(M.CustId, MHist.CustId)
				  ,CustPONum = ISNULL(M.PurchaseOrder, MHist.PurchaseOrder)
				  ,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE (CustId=M.CustId OR CustId=MHist.CustId))
				  ,CustPN = ISNULL((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE (RefID=M.CustId OR RefID=MHist.CustId) AND ItemID=C.ItemId), C.ItemId)
				  ,C.CustRev
				  ,C.ParentOrderNo
				  ,C.OrderNo
				  ,C.ReleaseNo
				  ,C.RevisionNo
				  ,C.ItemId
				  ,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				  ,I.TravSerNum
				  ,I.TravLotNum
				  ,PartialKitBarcode = '1' + '|' + C.ItemId + '|' + ISNULL(I.TravSerNum, I.SerialNo) + '|' + ISNULL(I.TravLotNum, '') + '|' + C.ParentOrderNo + '|' + '1'
				  ,FGKitBarcode = '1' + '|' + C.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum, '')
				  --,TotalCountOfUnits = (SELECT COUNT(*)   
						--				FROM [W005].[dbo].[CCIPlyStackHeader]
						--				WHERE OrderReleaseEventId = E.Id AND BagNum = CPS.BagNum)
				  --,BagNo = SUBSTRING(CPS.BagNum, 5, 3) + ' of ' + (SELECT TOP 1 SUBSTRING(BagNum, 5, 3)
						--											FROM [W005].[dbo].[CCIPlyStackHeader]
						--											WHERE OrderReleaseEventId = E.Id
						--											ORDER BY BagNum DESC)
				
				,BagNo = CPS.BagNum
  FROM [W005].[dbo].[CCIOrderReleaseInfo]  AS C 
	   LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
	   LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
	   INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=C.ParentOrderNo
	   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS I ON I.OrderReleaseEventId=E.Id AND I.ItemId=C.ItemId
	   LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS R ON R.OrderReleaseEventItemId=I.Id
	   LEFT JOIN [W005].[dbo].[vCCIPlyStack] AS CPS ON CPS.OrderReleaseEventItemId=I.Id
 WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId IS NULL OR I.Id = @OrderReleaseEventItemId) AND (@BagNum IS NULL OR CPS.BagNum = @BagNum)
) A



END
GO
