USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPORcptNumForItemandLotSer]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetPORcptNumForItemandLotSer]
	@ItemId varchar(24), @LotNum varchar(16),  @SerNum varchar(35) 

AS
BEGIN
	

--DECLARE @ItemId varchar(24)= ''
--DECLARE @LotNum varchar(16) = '071518-01'
--DECLARE @SerNum varchar(35) = ''

		SELECT tlr.TransId, tlr.RcptNum FROM [005].[dbo].[tblPoTransLotRcpt] tlr 
			INNER JOIN [005].[dbo].[tblPoTransDetail] pod ON tlr.TransId=pod.TransID AND tlr.EntryNum=pod.EntryNum
		  WHERE pod.ItemId = @ItemId AND tlr.LotNum=@LotNum
		
		UNION ALL

		SELECT tsr.TransId, tsr.RcptNum FROM [005].[dbo].[tblPoTransSer] tsr
			INNER JOIN [005].[dbo].[tblPoTransDetail] pod ON tsr.TransId=pod.TransID AND tsr.EntryNum=pod.EntryNum
		 WHERE tsr.SerNum = @SerNum AND pod.ItemId = @ItemId
			



END
GO
