USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetRewindEndOpRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRewindEndOpRM] @OrderNo as Varchar(8), @ReleaseNo as int, @OREId as int
AS

--DECLARE @OrderNo as Varchar(8) = '00000024'
--DECLARE @ReleaseNo as int = 1
--DECLARE @OREId as int = 481

SELECT   OREI.*    
FROM [W005].dbo.OrderReleaseEvent AS ORE
	INNER JOIN  [W005].dbo.OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
WHERE ORE.OrderNo = @OrderNo AND ORE.ReleaseNo = @ReleaseNo AND ORE.Id < @OREId 
		AND OrigOREId IN (SELECT OREI.OrigOREId FROM [W005].dbo.OrderReleaseEvent AS ORE
									INNER JOIN  [W005].dbo.OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id 
								WHERE ORE.OrderNo = @OrderNo AND ORE.ReleaseNo = @ReleaseNo AND IsAssembly = 1 AND OREI.TotalQty = 0)

GO
