USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetHexcelBatchCount]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetHexcelBatchCount] @OrderNo as varchar(8), @Dt as DateTime, @LotNo as varchar(16)
AS
BEGIN
	--DECLARE @OrderNo as varchar(8) = '00000001'
	--DECLARE @LotNo as varchar(8) = '00000001'
	--DECLARE @DT as datetime = '2026-01-06 14:31:52.023'
	SELECT Count(DISTINCT OrderNo)+1 AS Cnt 
	FROM OrderReleaseEvent E
	INNER JOIN OrderReleaseEventItem I On I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0
	WHERE E.OrderNo != @OrderNo AND E.EventStart <= @DT AND I.LotNo = @LotNo
END
GO
