USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWTestHdrForWOMachOP]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBCQA to determine if there is a TestHdr record for @WO/@MachineNum/@OP
-- Called from BeginNewEndofSetTest()

CREATE PROCEDURE [dbo].[spSWTestHdrForWOMachOP]
	 @WO int, @MachineNum int, @OPId int, @ProdOrd varchar(8), @Machine varchar(25), @RelNo int

AS
BEGIN

--DECLARE @WO int = 57702
--DECLARE @Machine int = 33
--DECLARE @OP int = 98114


IF EXISTS (
			SELECT th.Id AS TestHdrId
			FROM [W005].[dbo].[SW_TestHdr] th
				INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
			WHERE ((th.PolarisMachineNum = @MachineNum AND th.WorkOrder=@WO AND th.OperationID=@OPId)  OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo = @RelNo))
		)
BEGIN
		SELECT th.Id AS TestHdrId
		FROM [W005].[dbo].[SW_TestHdr] th
			INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
		WHERE ((th.PolarisMachineNum = @MachineNum AND th.WorkOrder=@WO AND th.OperationID=@OPId) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo = @RelNo))
END
ELSE
BEGIN
		SELECT 0 AS TestHdrId
END







END






GO
