USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOver90DayInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spOver90DayInventory] @Date as DateTime
AS
BEGIN 

	--Declare @Date as Datetime = '10/24/2017'

/**ITEM**/
	SELECT DISTINCT I.ItemId, LottedYN, [cf_Multi-UOM Serial Item] AS IsSerial, [cf_Customer] as CustomerOwner, UomBase, L.GLAcctCode, c.CustName 
	INTO #Item 
	FROM [005].dbo.trav_tblInItem_view I INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = I.ItemId LEFT JOIN [005].dbo.tblArCust C ON C.CustId = I.cf_Customer

/**MONTH END SUMMARY**/
	SELECT * 
	INTO #MEItemLocLotSum 
	FROM  [W005].dbo.MonthEndItemLocLotSummary M 
	--WHERE M.FiscalYear = @GlYear and M.GLPeriod = @GLPeriod --AND M.QtyOnHand <> 0

/**Intermediates - ITEM, MONTH END SUMMARY, AND vTRAVCOMPANY**/
	SELECT GLAccount, GLAcctCode, ItemId, LocId, LotNum, MaterialType, UomBase, MaterialOwner, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, QtyOnHand, SerOrLot
	INTO #SI0
	FROM 
		(SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'S'
	    FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId and I.IsSerial = 1 
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'
		WHERE SUBSTRING(M.GLAcctCode,1,1) = '8'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'L'
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 1 AND I.IsSerial = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE SUBSTRING(M.GLAcctCode,1,1) = '8'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = ''
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE SUBSTRING(M.GLAcctCode,1,1) = '8') A
	ORDER BY GLAccount, ItemId, LocId, LotNum

/**Finished Goods - ITEM, MONTH END SUMMARY, AND vTRAVCOMPANY**/
	SELECT GLAccount, GLAcctCode, ItemId, LocId, LotNum, MaterialType, UomBase, MaterialOwner, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, QtyOnHand, SerOrLot
	INTO #SI1
	FROM 
		(SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'S'
	    FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId and I.IsSerial = 1 
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'
		WHERE M.GLAccount LIKE '0160%'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'L'
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 1 AND I.IsSerial = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE M.GLAccount LIKE '0160%'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '7' THEN 'Finished Goods' WHEN '8' THEN 'Intermediate Material' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = ''
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE M.GLAccount LIKE '0160%') A
	ORDER BY GLAccount, ItemId, LocId, LotNum

/**SHIP ITEM**/
	SELECT SI.Id, SI.ItemId, Location as LocId, SerNo, LotNo, SI.Quantity, ShipPalletId, ShipCartonId, ShipBoxId
	INTO #SI2
	FROM [W005].[dbo].[SHIPITEM] SI
	INNER JOIN #SI1 I ON SI.ItemId = I.ItemId and SI.TravLotNum = I.LotNum
	WHERE I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateCreated <= DATEADD(day, -90, @Date)

/**SHIP PALLET, CARTON, BOX**/
	SELECT #SI2.*, 'P' as PkgType, P.Id as PkgId, P.ShipPalletNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, P.DateCreated AS MFGDate 
	INTO #SI3 
	FROM #SI2 INNER JOIN [W005].[dbo].ShipPallet P ON P.Id = #SI2.ShipPalletId
	WHERE #SI2.ShipPalletId IS NOT NULL AND P.ShipPalletNo Like 'P%'
	UNION ALL
	SELECT #SI2.*, 'C' as PkgType, C.Id as PkgId, C.ShipCartonNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, C.DateCreated AS MFGDate 
	FROM #SI2 INNER JOIN [W005].[dbo].ShipCarton C ON C.Id = #SI2.ShipCartonId 
	WHERE #SI2.ShipPalletId IS NULL AND #SI2.ShipCartonId IS NOT NULL AND ShipCartonNo Like 'C%'
	UNION ALL
	SELECT #SI2.*, 'B' as PkgType, B.Id as PkgId, B.ShipBoxNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, B.DateCreated AS MFGDate 
	FROM #SI2 INNER JOIN [W005].[dbo].ShipBox B ON B.Id = #SI2.ShipBoxId 
	WHERE #SI2.ShipPalletId IS NOT NULL AND #SI2.ShipCartonId IS NULL and #SI2.ShipBoxId is NOT NULL AND ShipBoxNo Like 'B%'

	DELETE FROM #SI3
	WHERE Shipped = 1 OR Deleted = 1 OR UsedByProduction = 1

	----

/**INSERT FROM TABLE #SI3 INTO #SI4**/
	SELECT ItemId, LocId, SerNo, LotNo, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction,MFGDate, sum(Quantity) as ShipItemQuantity 
	INTO #SI4
	FROM #SI3
	GROUP BY ItemId, LocId, SerNo, LotNo, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate

/**INSERT FROM TABLE #SI4 INTO #SI5**/
	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate
	INTO #SI5
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipPalletId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'P'
	UNION ALL
	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate 
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipCartonId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'C'
	UNION ALL
	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate 
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipBoxId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'B'

/**INSERT ALL FROM TABLE #SI5 INTO #SI6**/
	SELECT S.* 
	INTO #SI6 
	FROM #SI5 S
	WHERE ((S.RemoteWarehouse != 'NO') AND 0 = (Select Count(l1.PLNo) 
												FROM [W005].[dbo].ShipPackingListDetail d1 
													 INNER JOIN [W005].[dbo].ShipPackingList l1 on d1.plno = l1.plno 
												WHERE d1.ShipPalletId = S.PkgId and d1.plno <> s.plno and complete = 1)) 
		OR (S.RemoteWarehouse IS NULL OR ((S.RemoteWarehouse = 'NO') AND S.Complete = 0))

/**INSERT FROM TABLE #SI1 INTO #TravItem**/
	SELECT MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, 'ALL' AS LocId, Uombase, SerOrLot, Sum(QtyOnHand) AS TravQtyOnHand, SUM(TravTotalCost) as TravTotalCost, SUM(NunezTotalCost) as NunezTotalCost, SUM(DirectMaterialCost) as DirectMaterialCost, SUM(InDirectMaterialCost) as InDirectMaterialCost, SUM(LaborSetupCost) as LaborSetupCost, SUM(LaborCost) as LaborCost, SUM(MachineSetupCost) as MachineSetupCost, SUM(MachineCost) as MachineCost, SUM(SubContractCost) as SubContractCost, SUM(TravTotalCost)/IIF(Sum(QtyOnHand)=0, 1, Sum(QtyOnHand)) as TravUnitCost
	INTO #TravItem
	FROM #SI1
	GROUP BY MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, Uombase, SerOrLot

/**INSERT FROM TABLE #SI6 INTO #ShipItemLocPkg**/
	SELECT ItemId, LocId, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate, PLNo, ShipDate, ShipToId, SUM(ShipItemQuantity) as ShipItemQuantity 
	INTO #ShipItemLocPkg
	FROM #SI6
	GROUP BY ItemId, LocId, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate, PLNo, ShipDate, ShipToId

/**INSERT FROM TABLE #SI0 INTO #Intermediates**/
	SELECT  MaterialType, 			
			GLAccount, 
			GLAcctCode,
			LotNum as ShipPkgNo,
			EventStart as MFGDate, 
			S.ItemId, 
			S.LocId,
			MaterialOwner,
			'' as PkgLoc,
			UomBase,
			QtyOnHand as ShipItemQty,
			Sum(QtyOnHand) AS TravQtyOnHand,					
			Sum(TravTotalCost) as TravTotalCost, 
			Sum(NunezTotalCost) as NunezTotalCost, 
			Sum(DirectMaterialCost) as DirectMaterialCost, 
			Sum(InDirectMaterialCost) as InDirectMaterialCost, 
			Sum(LaborSetupCost) as LaborSetupCost, 
			Sum(LaborCost) as LaborCost, 
			Sum(MachineSetupCost) as MachineSetupCost, 
			Sum(MachineCost) as MachineCost, 
			Sum(SubcontractCost) as SubcontractCost,
			1 As PostedtoTraverse,
			Cast(Null as bit) as Shipped,
			Cast(Null as varchar(10)) as PLNo, 
			Cast(Null as datetime) as ShipDate, 
			Cast(Null as varchar(25)) as ShipToId
		INTO #Intermediates
		FROM #SI0 S
		LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS O ON O.ItemId=S.ItemId AND O.TravLotNum=S.LotNum AND O.TotalQty=S.QtyOnHand AND O.LocId=S.LocId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.Id=O.OrderReleaseEventId AND Event='Start Manufacturing' 
		GROUP BY MaterialType, GLAccount, GLAcctCode, LotNum, EventStart, S.ItemId, S.LocId, MaterialOwner, UomBase, QtyOnHand, TravTotalCost, NunezTotalCost, 
				 DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost

/**UNION ALL FINISHED GOODS AND INTERMEDIATES INTO ONE TABLE**/
	SELECT MaterialType, 
		   GLAccount, 
		   GLAcctCode, 
		   PkgNo as ShipPkgNo, 
		   MFGDate, 
		   ItemId, 
		   LocId, 
		   PkgLoc, 
		   MaterialOwner, 
		   UomBase,
		   TravQtyOnHand, 
		   ShipItemQuantity AS ShipItemQty, 
		   TravTotalCost, 
		   NunezTotalCost, 
		   DirectMaterialCost, 
		   InDirectMaterialCost, 
		   LaborSetupCost, 
		   LaborCost, 
		   MachineSetupCost, 
		   MachineCost, 
		   SubContractCost, 
		   1 As PostedtoTraverse, 
		   Shipped, 
		   PLNo, 
		   ShipDate, 
		   ShipToId
	FROM 
	(SELECT MaterialType, 
			GLAccount, 
			GLAcctCode, 
			PkgNo, 
			MFGDate, 
			T.ItemId, 
			T.LocId, 
			S.Locid as PkgLoc, 
			MaterialOwner, 
			UomBase, 
			T.TravQtyOnHand, 
			ShipItemQuantity,
			(TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as TravTotalCost, 
			(NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as NunezTotalCost, 
		    (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as DirectMaterialCost, 
		    (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as InDirectMaterialCost, 
			(LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborSetupCost, 
			(LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborCost, 
			(MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineSetupCost, 
			(MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineCost, 
			(SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as SubContractCost,	
			1 As PostedtoTraverse, 
			Shipped, 
			PLNo, 
			ShipDate, 
			ShipToId
	 FROM #TravItem T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId 
	 WHERE GLAccount LIKE '0160%' AND SUBSTRING(GLAcctCode,1,1) = '7' AND ShipItemQuantity <> 0 AND MFGDate <= DATEADD(day, -90, @Date)
	 GROUP BY MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, S.Locid, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost, ShipItemQuantity,
			  NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 
	          IIF(TravQtyOnHand=0,1,TravQtyOnHand), Shipped, PLNo, ShipDate, ShipToId
	) A 		
	UNION ALL 
	SELECT  MaterialType, 
			GLAccount, 
			GLAcctCode, 
			ShipPkgNo, 
			MFGDate, 
			ItemId, 
			LocId, 
			PkgLoc, 
			MaterialOwner,
			UomBase, 
			TravQtyOnHand, 
			ShipItemQty, 
			TravTotalCost, 
			NunezTotalCost, 
			DirectMaterialCost, 
			InDirectMaterialCost, 
			LaborSetupCost, 
			LaborCost, 
			MachineSetupCost, 
			MachineCost, 
			SubContractCost, 
			1 As PostedtoTraverse, 
			Shipped, 
			PLNo, 
			ShipDate, 
			ShipToId
	FROM #Intermediates I
	GROUP BY  MaterialType, GLAccount, GLAcctCode, ShipPkgNo, MFGDate, ItemId, LocId, PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost, ShipItemQty,
			  NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 
			  IIF(TravQtyOnHand=0,1,TravQtyOnHand), Shipped, PLNo, ShipDate, ShipToId
	ORDER BY 1, MaterialOwner, GLAccount, ShipPkgNo, ItemId, LocId


	DROP TABLE #Item
	DROP TABLE #MEItemLocLotSum
	DROP TABLE #SI0
	DROP TABLE #SI1
	DROP TABLE #SI2
	DROP TABLE #SI3
	DROP TABLE #SI4
	DROP TABLE #SI5
	DROP TABLE #SI6
	DROP TABLE #TravItem
	DROP TABLE #ShipItemLocPkg
	DROP TABLE #Intermediates


END      
GO
