USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsReworkComplete]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsReworkComplete] @OrderNo AS VARCHAR(8), @ReleaseNo AS INT
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00000059'
--DECLARE @ReleaseNo AS INT = 1

	SELECT CAST(IIF(COUNT(*) > 0, 1, 0) AS bit) AS Complete
	FROM [005].dbo.trav_tblMpOrderReleases_view M
		INNER JOIN [W005].dbo.OrderReleaseEvent ORE ON ORE.OrderNo=M.OrderNo AND ORE.ReleaseNo=M.ReleaseNo AND ORE.[Event]='Rework (In-Process)'
		INNER JOIN [005].dbo.tblMpRequirements R ON R.ReleaseId = M.Id
		INNER JOIN [005].dbo.tblMpTimeSum T ON T.TransId = R.TransId AND T.OperationId=ORE.Operation AND T.[Status] = 6
	WHERE M.OrderNo=@OrderNo AND M.ReleaseNo=@ReleaseNo

END
GO
