USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRePackTreeviewQry]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRePackTreeviewQry] @PkgId as int, @PkgType as varchar(1), @OrderNo as varchar(10),@RelNo as Int
AS
BEGIN
	IF @PkgType = 'P'
		BEGIN
			Select 'P' + Cast(P.Id as Varchar(20)) as KeyId, P.Id AS Id, P.ShipPalletNo as PkgNo, 'P' as PkgType, Null as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Complete, PalletItemId as ItemId, SalesOrderNo,GrossWt = P.GrossWt, TareWt = P.TareWt
			FROM [W005].dbo.ShipPallet P 
			Where id = @PkgId and Shipped = 0
			UNION ALL
			Select 'C' + Cast(C.Id as Varchar(20)) as KeyId, C.Id AS Id, C.ShipCartonNo as PkgNo, 'C' as PkgType, 'P'+Cast(ShipPalletId as varchar(20)) as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Cast(null as bit) as Complete, CartonItemId as ItemId, SalesOrderNo = NULL,GrossWt = C.GrossWt,TareWt = C.TareWt
			from [W005].dbo.ShipCarton C 
			Where ShipPalletId IN (Select P.Id FROM [W005].dbo.ShipPallet P Where id = @PkgId and Shipped = 0)
			UNION ALL
			Select 'B' + Cast(B.Id as Varchar(20)) as KeyId, B.Id AS Id, B.ShipBoxNo as PkgNo, 'B' as PkgType, IIF(ShipCartonId is null, 'P'+Cast(ShipPalletId as varchar(20)), 'C'+Cast(ShipCartonId as varchar(20))) as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Cast(null as bit) as Complete, BoxItemId as ItemId, SalesOrderNo = NULL,GrossWt = B.GrossWt,TareWt = B.TareWt
			from [W005].dbo.ShipBox B 
			Where ShipPalletId IN (Select P.Id FROM [W005].dbo.ShipPallet P Where id = @PkgId and Shipped = 0)
			UNION ALL
			Select 'I' + Cast(I.Id as Varchar(20)) as KeyId, I.Id AS Id, I.ItemId as PkgNo, 'I' as PkgType, IIF(ShipBoxId is null, IIF(ShipCartonId is null, 'P'+Cast(ShipPalletId as varchar(20)), 'C'+Cast(ShipCartonId as varchar(20))), 'B'+Cast(ShipBoxId as varchar(20))) as ParentId, LotNo, SerNo, TravLotNum, Quantity, UOM, NoRolls, Cast(null as bit) as Complete, ItemId, I.SalesOrderNo,GrossWt = I.GrossWt,TareWt = NULL   
			from [W005].dbo.ShipItem I 
			Where ShipPalletId IN (Select P.Id FROM [W005].dbo.ShipPallet P Where id = @PkgId and Shipped = 0)
		END
	ELSE IF @PkgType = 'C'
		BEGIN
			Select 'C' + Cast(C.Id as Varchar(20)) as KeyId, C.Id AS Id, C.ShipCartonNo as PkgNo, 'C' as PkgType, Null as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Complete, CartonItemId as ItemId, SalesOrderNo = NULL,GrossWt = C.GrossWt,TareWt = C.TareWt
			from [W005].dbo.ShipCarton C 
			Where Id = @PkgId and Shipped = 0
			UNION ALL
			Select 'B' + Cast(B.Id as Varchar(20)) as KeyId, B.Id AS Id, B.ShipBoxNo as PkgNo, 'B' as PkgType, 'C'+Cast(ShipCartonId as varchar(20)) as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Cast(null as bit) as Complete, BoxItemId as ItemId, SalesOrderNo = NULL,GrossWt = B.GrossWt, TareWt = B.TareWt
			from [W005].dbo.ShipBox B 
			Where ShipCartonId IN (Select Id FROM [W005].dbo.ShipCarton Where id = @PkgId and Shipped = 0)
			UNION ALL
			Select 'I' + Cast(I.Id as Varchar(20)) as KeyId, I.Id AS Id, I.ItemId as PkgNo, 'I' as PkgType, IIF(ShipBoxId is null, 'C'+Cast(ShipCartonId as varchar(20)), 'B'+Cast(ShipBoxId as varchar(20))) as ParentId, LotNo, SerNo, TravLotNum, Quantity, UOM, NoRolls, Cast(null as bit) as Complete, ItemId,I.SalesOrderNo,GrossWt = I.GrossWt,TareWt = NULL
			from [W005].dbo.ShipItem I 
			Where ShipCartonId IN (Select Id FROM [W005].dbo.ShipCarton Where id = @PkgId and Shipped = 0)
		END
	ELSE IF @PkgType = 'B'
		BEGIN
			Select 'B' + Cast(B.Id as Varchar(20)) as KeyId, B.Id AS Id, B.ShipBoxNo as PkgNo, 'B' as PkgType, IIF(ShipCartonId is null, 'P'+Cast(ShipPalletId as varchar(20)), 'C'+Cast(ShipCartonId as varchar(20))) as ParentId, Null as LotNo, Null as SerNo, Null as TravLotNum, Null as Quantity, Null as UOM, Null as NoRolls, Complete, BoxItemId as ItemId, SalesOrderNo = NULL,GrossWt = B.GrossWt,TareWt = B.TareWt
		   	from [W005].dbo.ShipBox B 
			Where Id = @PkgId and Shipped = 0
			UNION ALL
			Select 'I' + Cast(I.Id as Varchar(20)) as KeyId, I.Id AS Id, I.ItemId as PkgNo, 'I' as PkgType, 'B'+Cast(ShipBoxId as varchar(20)) as ParentId, LotNo, SerNo, TravLotNum, Quantity, UOM, NoRolls, Cast(null as bit) as Complete, ItemId, I.SalesOrderNo, GrossWt = I.GrossWt,TareWt = NULL   
			from [W005].dbo.ShipItem I 
			Where ShipBoxId IN (Select Id FROM [W005].dbo.ShipBox Where id = @PkgId and Shipped = 0)
		END
	ELSE IF @PkgType = 'I'
		BEGIN
		--Only affect Composites Repack in 005
			Select 'I' + Cast(I.Id as Varchar(20)) as KeyId, I.Id AS Id, I.ItemId as PkgNo, 'I' as PkgType, IIF(ShipBoxId is null, IIF(ShipCartonId is null, 'P'+Cast(ShipPalletId as varchar(20)), 'C'+Cast(ShipCartonId as varchar(20))), 'B'+Cast(ShipBoxId as varchar(20))) as ParentId, LotNo, SerNo, TravLotNum, Quantity, UOM, NoRolls, Cast(null as bit) as Complete, ItemId, I.SalesOrderNo ,GrossWt = I.GrossWt,TareWt = NULL   
			from [W005].dbo.ShipItem I 
			where I.ShipBoxId is null and I.ShipCartonId is  null and I.ShipPalletId is  null and I.ShipRackId is  null and I.ShipToteId is  null and Shipped = 0 and ProdOrderNo = @ORderNo and ProdOrderRelNo = @RelNo
		END
END
GO
