USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingMaterialTrackerRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spConvertingMaterialTrackerRpt]  @ProdOrderNo AS VARCHAR(8)
AS
BEGIN

--DECLARE @ProdOrderNo AS VARCHAR(8) = '00048282' 


/* Base Results */
	SELECT DISTINCT
			MP.OrderNo
			,MP.ReleaseNo
			,JobNo = MP.OrderNo
			,FGItemId = ORS.AssemblyId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=ORS.AssemblyId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,O.LocId
			,MP.CustId
			,P.ProgramId
			,P.ProgramName
	INTO #tmpBase
	FROM [W005].[dbo].[OrderReleaseSummary] AS ORS 
			INNER JOIN [005].[dbo].[tblMpOrderReleases] AS MP ON MP.OrderNo = ORS.OrderNo AND MP.ReleaseNo = ORS.ReleaseNo	
			INNER JOIN [005].[dbo].[tblMpOrder] O ON O.OrderNo = MP.OrderNo
			LEFT JOIN (SELECT TOP 1 otis.ProgramId, P.ProgramName, ore.OrderNo,ore.ReleaseNo 
						FROM [W005].[dbo].OutTimeItemStatus otis 
							INNER JOIN [W005].[dbo].Program P ON P.Id = otis.ProgramId
							INNER JOIN [W005].[dbo].OrderReleaseEventItem orei ON otis.ItemId = orei.ItemId AND otis.SerialNo=orei.TravLotNum
							INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON ore.Id = orei.OrderReleaseEventId) P ON P.OrderNo=ORS.OrderNo AND P.ReleaseNo = ORS.ReleaseNo
	WHERE ORS.OrderNo = @ProdOrderNo
 UNION ALL
	SELECT DISTINCT
			MP.OrderNo
			,MP.ReleaseNo
			,JobNo = MP.OrderNo
			,FGItemId = ORS.AssemblyId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=ORS.AssemblyId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,O.LocId
			,MP.CustId
			,P.ProgramId
			,P.ProgramName 
	FROM [W005].[dbo].[OrderReleaseSummary] AS ORS 
			INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MP ON MP.OrderNo = ORS.OrderNo AND MP.ReleaseNo = ORS.ReleaseNo
			INNER JOIN [005].[dbo].[tblMpOrder] O ON O.OrderNo = MP.OrderNo
			LEFT JOIN (SELECT TOP 1 otis.ProgramId, P.ProgramName, ore.OrderNo,ore.ReleaseNo 
						FROM [W005].[dbo].OutTimeItemStatus otis 
							INNER JOIN [W005].[dbo].Program P ON P.Id = otis.ProgramId
							INNER JOIN [W005].[dbo].OrderReleaseEventItem orei ON otis.ItemId = orei.ItemId AND otis.SerialNo=orei.TravLotNum
							INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON ore.Id = orei.OrderReleaseEventId) P ON P.OrderNo=ORS.OrderNo AND P.ReleaseNo = ORS.ReleaseNo
	WHERE ORS.OrderNo = @ProdOrderNo


/* TravLotNum List*/
SELECT DISTINCT tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, I.ItemId, I.TravLotNum, I.Id AS OrderReleaseEventItemID, MIN(LastScanDateTime) AS FGBornDateTime
INTO #TravLotNums
FROM #tmpBase tmp
	 INNER JOIN OrderReleaseEvent E ON E.OrderNo = tmp.JobNo AND E.ReleaseNo = tmp.ReleaseNo
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1 AND I.ItemId=tmp.FGItemId
	 INNER JOIN OutTimeItemStatusHistory H ON H.ItemId=I.ItemId AND H.SerialNo=I.TravLotNum
GROUP BY tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, I.ItemId, I.TravLotNum, I.Id
ORDER BY ItemId, TravLotNum

----------------------------------------------------------------------------------
/* Sales & PLNo */
SELECT DISTINCT SPL.PLNo, SPL.OrderNo AS SalesOrderNo, SPL.ShipDate, SPLD.ItemID, SPLD.Location, A.ProdOrderNo, SPL.CustName
INTO #SPLD
FROM 
(
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo
	FROM [W005].[dbo].ShipItem SI 
		INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SI.Id = SPLD.ShipItemId 
		INNER JOIN #TravLotNums L ON L.ItemId = SPLD.ItemId AND L.TravLotNum = SPLD.TravLotNum AND L.LocId = SPLD.Location
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo
	FROM [W005].[dbo].ShipItem SI 
		INNER JOIN [W005].[dbo].[ShipPallet] SP ON SP.Id=SI.ShipPalletId
		INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipPalletId=SP.Id
		INNER JOIN #TravLotNums L ON L.ItemId = SPLD.ItemId AND L.TravLotNum = SPLD.TravLotNum AND L.LocId = SPLD.Location
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo
	FROM [W005].[dbo].ShipItem SI 
		INNER JOIN [W005].[dbo].[ShipCarton] SC ON SC.Id=SI.ShipCartonId
		INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipCartonId=SC.Id
		INNER JOIN #TravLotNums L ON L.ItemId = SPLD.ItemId AND L.TravLotNum = SPLD.TravLotNum AND L.LocId = SPLD.Location
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo
	FROM [W005].[dbo].ShipItem SI 
		INNER JOIN [W005].[dbo].[ShipBox] SB ON SB.Id=SI.ShipBoxId
		INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipBoxId=SB.Id
		INNER JOIN #TravLotNums L ON L.ItemId = SPLD.ItemId AND L.TravLotNum = SPLD.TravLotNum AND L.LocId = SPLD.Location
) A
INNER JOIN [W005].[dbo].[ShipPackingList] SPL  ON SPL.PLNo=A.PLNo
INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo
----------------------------------------------------------------------------------
-- DROP TABLE #SPLD
-- DROP TABLE #tmpBase
--select * from #tmpBase
--select * from #SPLD

SELECT t.*, s.PLNo,s.ShipDate,s.SalesOrderNo,s.CustName
INTO #tmpBase2
FROM #tmpBase t 
INNER JOIN #SPLD s ON s.ProdOrderNo = t.OrderNo AND s.ItemId = t.FGItemId AND s.Location = t.LocId
	

/*	Used to get serial number range */
SELECT DISTINCT T.OrderNo, T.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, L.InitialDate AS RMReceiptDate, L.ExpDate AS RMExpDate, TravLotNum, MIN(LastScanDateTime) AS RMScannedOutDateTime
INTO #tmpRawMatFGRange
FROM #TravLotNums T
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORK ON ORK.OrderReleaseEventItemID=T.OrderReleaseEventItemID 
	 INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = T.LocId AND L.LotNum = ORK.RMSerialNo
GROUP BY  T.OrderNo, T.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, L.InitialDate, L.ExpDate, TravLotNum
ORDER BY TravLotNum

--DROP TABLE #FGOT
/* FGs */
SELECT *
INTO #FGOT
FROM (
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		T.ItemId, 
		T.TravLotNum, 
		T.FGBornDateTime,
		T.OrderReleaseEventItemID,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,		
		ORKH.LastScanDateTime AS DateTimeIn,
		NULL AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		RMFGs.RMScannedOutDateTime
	FROM #tmpBase2 tmp
		 INNER JOIN #TravLotNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN #tmpRawMatFGRange RMFGs ON RMFGs.TravLotNum=T.TravLotNum
		 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.OrderReleaseEventItemID
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.ItemId AND OTISH.SerialNo=T.TravLotNum AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType = 'FREEZER'  AND (PriorLOC.[cf_Bin Type] != OTISH.BinType)
	GROUP BY tmp.JobNo, tmp.OrderNo, tmp.ReleaseNo, tmp.ProgramId, tmp.FGAlias, ORKH.RMItemId, ORKH.RMSerialNo, RMFGs.RMScannedOutDateTime, ORKH.LastScanDateTime, OTISH.UserId, OTISH.BinType, ORKH.TotalRoomMinutes, T.ItemId, T.TravLotNum, T.FGBornDateTime, T.OrderReleaseEventItemID, ORKH.OrderReleaseKitRawMatlOutTimeId, OTISH.OutTimeItemStatusId
	UNION ALL
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		T.ItemId, 
		T.TravLotNum, 
		T.FGBornDateTime,
		T.OrderReleaseEventItemID,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,
		NULL AS DateTimeIn,
		ORKH.LastScanDateTime AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		RMFGs.RMScannedOutDateTime
	FROM #tmpBase2 tmp
		 INNER JOIN #TravLotNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN #tmpRawMatFGRange RMFGs ON RMFGs.TravLotNum=T.TravLotNum
		 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.OrderReleaseEventItemID
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.ItemId AND OTISH.SerialNo=T.TravLotNum AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType IN ('ROOM','WAREHOUSE')  AND (PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE')) 
	GROUP BY tmp.JobNo, tmp.OrderNo, tmp.ReleaseNo, tmp.ProgramId, tmp.FGAlias, ORKH.RMItemId, ORKH.RMSerialNo, RMFGs.RMScannedOutDateTime, ORKH.LastScanDateTime, OTISH.UserId, OTISH.BinType, ORKH.TotalRoomMinutes, T.ItemId, T.TravLotNum, T.FGBornDateTime, T.OrderReleaseEventItemID, ORKH.OrderReleaseKitRawMatlOutTimeId, OTISH.OutTimeItemStatusId
) FG
ORDER BY TravLotNum,ISNULL(DateTimeOut,DateTimeIn)

/*  #RawMatlOTHist		*/
SELECT 
		OutTimeItemStatusId, 
		ItemId, 
		SerialNo, 
		LotNo, 
		BinType,
		DateTimeIn, 		
		DateTimeOut, 
		TotalRoomMinutes, 
		MaxRoomTimeHrs, 
		OutTimeDuringTransit,
		UserId
INTO #RawMatlOTHist
FROM 
(
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, NULL AS DateTimeIn, OTISH.LastScanDateTime AS DateTimeOut ,OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, 
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #FGOT K
			 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=K.OrderReleaseEventItemId
			 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=ORKH.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=ORKH.RMItemId AND OTISH.SerialNo=ORKH.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('ROOM', 'WAREHOUSE') AND (PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE') OR PriorLOC.[cf_Bin Type] IS NULL) AND OTISH.LastScanDateTime < K.FGBornDateTime 
		GROUP BY K.OrderReleaseEventItemId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
	UNION ALL 
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime AS DateTimeIn, NULL AS DateTimeOut, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs,
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #FGOT K
			 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=K.OrderReleaseEventItemId
			 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=ORKH.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=ORKH.RMItemId AND OTISH.SerialNo=ORKH.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('FREEZER') AND (PriorLOC.[cf_Bin Type] IS NULL OR PriorLOC.[cf_Bin Type] != OTISH.BinType) AND OTISH.LastScanDateTime < K.FGBornDateTime 
		GROUP BY K.OrderReleaseEventItemId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
) RM
ORDER BY ItemId, SerialNo, ISNULL(DateTimeIn,DateTimeOut)


/* Concatenate FG Serial No. */
SELECT DISTINCT
	tmp.OrderNo, 
	tmp.ReleaseNo,
	ORK.RMItemId,
	ORK.RMSerialNo,
	CAST(ORK.LastScanDateTime AS smalldatetime) AS LastScanDateTime,
	FGSerialNoRange =
	STUFF
	(
		(
			SELECT DISTINCT ', ' + T1.FGTravSerNum
			FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] T1
			WHERE T1.RMItemId = ORK.RMItemId AND T1.RMSerialNo=ORK.RMSerialNo AND CAST(T1.LastScanDateTime AS smalldatetime)=CAST(ORK.LastScanDateTime AS smalldatetime)
					AND T1.FGTravSerNum IN (SELECT TravLotNum FROM #TravLotNums T2 WHERE T2.OrderNo=tmp.OrderNo AND T2.ReleaseNo=tmp.ReleaseNo) 
			FOR XML PATH(''), TYPE
		).value('.[1]','nvarchar(max)'),
		1,1,''
	)	
INTO #FGSerialNoRange
FROM #tmpBase2 tmp
	 INNER JOIN #TravLotNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
	 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.OrderReleaseEventItemId=T.OrderReleaseEventItemID
GROUP BY tmp.OrderNo, tmp.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, CAST(ORK.LastScanDateTime AS smalldatetime)
ORDER BY LastScanDateTime


/* Final Result Set */
SELECT 
		 RMReceiptDate = (SELECT TOP 1 RMReceiptDate FROM #tmpRawMatFGRange T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo)
		,RMExpDate = (SELECT TOP 1 RMExpDate FROM #tmpRawMatFGRange T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo)
		,A.RMItemId
		,Alias = (SELECT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC)
		,Spec =  (SELECT TOP 1 [cf_Spec] FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC)
		,A.[Description]
		,A.RMSerialNo
		,A.RMLotNo
		,RcptLength = CAST(IIF(LR.QtyFilled is null
						,IIF(HLR.QtyFilled is null
								,0
								,IIF(HLR.Units = HLR.UomDflt, HLR.QtyFilled, HLR.QtyFilled * (SELECT ConvFactor FROM [005].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = HLR.UomDflt)))
						,IIF(LR.Units = LR.UomDflt, LR.QtyFilled, LR.QtyFilled * (SELECT ConvFactor FROM [005].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = LR.UomDflt)))
				AS decimal(10,2)) 
		,RcptLenthWithUOM =  CAST(CAST(IIF(LR.QtyFilled is null
								,IIF(HLR.QtyFilled is null
										,0
										,IIF(HLR.Units = HLR.UomDflt, HLR.QtyFilled, HLR.QtyFilled * (SELECT ConvFactor FROM [005].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = HLR.UomDflt)))
								,IIF(LR.Units = LR.UomDflt, LR.QtyFilled, LR.QtyFilled * (SELECT ConvFactor FROM [005].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = LR.UomDflt)))
						AS decimal(10,2)) AS varchar(8)) + ' ' + ISNULL(LR.UomDflt, IsNULL(HLR.UomDflt,''))
		,DfltUOM = ISNULL(LR.UomDflt, IsNULL(HLR.UomDflt,''))
		,A.MaxRoomTimeHrs
		,A.OutTimeDuringTransit
		,MAX(TotalRmHrs) AS TotalRmHrs
		,TotalOutTimeRemaining = (MaxRoomTimeHrs - MAX(TotalRmHrs))
		,CAST(ISNULL(A.DateTimeIn,A.DateTimeOut) AS date) AS [Date]
		,DateTimeOut
		,DateTimeIn
		,A.JobNo
		,A.FGAlias
		,A.FGSerialNoRange
		,UserId
		,B.SalesOrderNo
		,B.PLNo	
		,B.CustName
		,B.ShipDate
		,StorageTemp = IIF(A.StorageTempF is null, IIF(A.StorageTempC is null, '', CAST(A.StorageTempC AS varchar(8)) + 'C')
						,IIF(A.StorageTempC is null, CAST(A.StorageTempF AS varchar(8)) + 'F', CAST(A.StorageTempF AS varchar(8)) + 'F / ' + CAST(A.StorageTempC AS varchar(8)) + 'C'))
FROM (
	SELECT DISTINCT	 	
		R.ItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.ItemId)
		,R.SerialNo AS RMSerialNo
		,R.LotNo AS RMLotNo
		,R.MaxRoomTimeHrs
		,OutTimeDuringTransit = IIF(R.ItemId LIKE 'IM%', 
									(SELECT CAST(MIN(TotalRoomMinutes) AS float) / 60 FROM [W005].[dbo].[OutTimeItemStatusHistory] WHERE SerialNo=R.SerialNo),
									R.OutTimeDuringTransit)									
		,CAST(R.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,R.DateTimeIn
		,R.DateTimeOut
		,JobNo = ''
		,K.OrderNo
		,K.ReleaseNo
		,FGItemId = ''
		,FGAlias = ''
		,FGSerialNoRange = ''		
		,R.UserId
		,StorageTempF = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempF')
		,StorageTempC = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempC')
	FROM #FGOT K 
		 INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.Id=K.OrderReleaseKitRawMatlOutTimeId 
		 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.OrderReleaseEventItemId
		 INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo AND ISNULL(R.DateTimeIn,R.DateTimeOut) <= K.RMScannedOutDateTime
		 INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = OREI.LocId AND L.LotNum = ORK.RMSerialNo
	UNION ALL 
	SELECT DISTINCT	
		R.ItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.ItemId)
		,R.SerialNo AS RMSerialNo
		,R.LotNo AS RMLotNo
		,R.MaxRoomTimeHrs
		,OutTimeDuringTransit = IIF(R.ItemId LIKE 'IM%', 
									(SELECT CAST(MIN(TotalRoomMinutes) AS float) / 60 FROM [W005].[dbo].[OutTimeItemStatusHistory] WHERE SerialNo=R.SerialNo),
									R.OutTimeDuringTransit)									
		,CAST(K.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,CAST(K.DateTimeIn AS smalldatetime) AS DateTimeIn
		,CAST(K.DateTimeOut AS smalldatetime) AS DateTimeOut
		,K.JobNo
		,K.OrderNo
		,K.ReleaseNo
		,K.ItemId AS FGItemId
		,K.FGAlias
		,FG.FGSerialNoRange
		,K.UserId
		,StorageTempF = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempF')
		,StorageTempC = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempC')
	FROM #FGOT K
		 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.OrderReleaseEventItemId
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.OrderReleaseKitRawMatlOutTimeId=K.OrderReleaseKitRawMatlOutTimeId
		 INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo
		 INNER JOIN #FGSerialNoRange FG ON FG.OrderNo=K.OrderNo AND FG.ReleaseNo=K.ReleaseNo AND FG.RMItemId=R.ItemId AND FG.RMSerialNo=R.SerialNo AND CAST(FG.LastScanDateTime AS smalldatetime)=CAST(ISNULL(K.DateTimeIn,K.DateTimeOut) AS smalldatetime)
 GROUP BY R.ItemId, R.SerialNo, R.LotNo, R.MaxRoomTimeHrs, R.OutTimeDuringTransit, K.TotalRoomMinutes, K.DateTimeIn, K.DateTimeOut, K.JobNo, K.OrderNo, K.ReleaseNo, K.ItemId, K.FGAlias, FG.FGSerialNoRange, K.UserId
) A
INNER JOIN #tmpBase2 B ON B.OrderNo=A.OrderNo AND B.ReleaseNo=A.ReleaseNo
LEFT JOIN (SELECT hd.ItemId, hlr.LotNum, hlr.QtyFilled, hd.Units, i.UomDflt
			FROM [005].[dbo].[tblPoHistLotRcpt] hlr 
				INNER JOIN [005].[dbo].[tblPoHistDetail] hd ON hlr.TransId = hd.TransID AND hlr.EntryNum = hd.EntryNum
				INNER JOIN [005].dbo.tblInItem i ON i.ItemId = hd.ItemId) HLR ON HLR.ItemId=A.RMItemId AND HLR.LotNum=A.RMSerialNo
LEFT JOIN (SELECT d.ItemId, lr.LotNum, lr.QtyFilled, d.Units, i.UomDflt
			FROM [005].[dbo].[tblPoTransLotRcpt] lr 
			INNER JOIN [005].[dbo].[tblPoTransDetail] d ON lr.TransId = d.TransID AND lr.EntryNum = d.EntryNum
			INNER JOIN [005].dbo.tblInItem i ON i.ItemId = d.ItemId) LR ON LR.ItemId=A.RMItemId AND LR.LotNum=A.RMSerialNo

GROUP BY RMItemId, Description, CustId, ProgramName, RMSerialNo, RMLotNo, MaxRoomTimeHrs, OutTimeDuringTransit, 
		 SalesOrderNo, PLNo, CustName, ShipDate, A.JobNo, UserId, A.FGAlias, FGSerialNoRange, DateTimeIn, DateTimeOut, StorageTempF,StorageTempC
		 ,LR.QtyFilled, HLR.QtyFilled,LR.Units, HLR.Units,LR.UomDflt,HLR.UomDflt
ORDER BY RMItemId, RMSerialNo, ISNULL(DateTimeIn,DateTimeOut)



/* Clear Temp Tables */
DROP TABLE #SPLD
DROP TABLE #tmpBase
DROP TABLE #tmpBase2
DROP TABLE #TravLotNums
DROP TABLE #tmpRawMatFGRange
DROP TABLE #FGSerialNoRange
DROP TABLE #FGOT
DROP TABLE #RawMatlOTHist


END
GO
