USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOrdRelKitRawMatlOT]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrdRelKitRawMatlOT] @FGItemId AS VARCHAR(24), @FGTravSerNum AS VARCHAR(36), @RMItemId AS VARCHAR(24), @RMSerialNo AS VARCHAR(16), @RMLotNo AS VARCHAR(16)
AS
BEGIN

 --Test
--DECLARE @FGItemId AS VARCHAR(24) = 'FG-GEBC1005-PKT'
--DECLARE @FGTravSerNum AS VARCHAR(36) = '00028705-001-005'
--DECLARE @RMItemId AS VARCHAR(24) ='' -- 'RM-CADC5134-PRP'
--DECLARE @RMSerialNo AS VARCHAR(16) ='' -- 'AH030058-02/10'
--DECLARE @RMLotNo AS VARCHAR(16) = '' --'AH030058-02/10'

-- Set variable to NULL if an empty string is passed
IF @FGItemId = '' SET @FGItemId = NULL 
IF @FGTravSerNum = '' SET @FGTravSerNum = NULL 
IF @RMItemId = '' SET @RMItemId = NULL 
IF @RMSerialNo = '' SET @RMSerialNo = NULL 
IF @RMLotNo = '' SET @RMLotNo = NULL 

INSERT INTO tmpOrdRelKitRawMatlOT
SELECT DISTINCT
	   ORK.[Id]
      ,ORK.[CreatedByOrderReleaseEventId]
      ,ORK.[OrderReleaseEventItemId]
      ,ORK.[OrderReleaseKitRawMatlOutTimeId]
      ,ORK.[FGItemId]
      ,ORK.[FGTravSerNum]
      ,ORK.[FGTravLotNum]
      ,ORK.[RMItemId]
      ,ORK.[RMSerialNo]
      ,ORK.[RMLotNo]
	  ,BinType = IIF(OT.BinType IS NOT NULL, OT.BinType, IIF(ORK.MaxRoomDTReached IS NOT NULL, 'ROOM', IIF(ORK.MaxFreezerDTReached IS NOT NULL, 'FREEZER', 'REEFER')))
      ,ORK.[LastScanDateTime]
      ,ORK.[ThawCompletedDT]
      ,ORK.[TotalRoomMinutes]
      ,ORK.[TotalFreezerMinutes]
      ,ORK.[TotalReeferMinutes]
      ,ORK.[MaxRoomDTReached]
      ,ORK.[MaxFreezerDTReached]
      ,ORK.[MaxReeferDTReached]
      ,ORK.[EstLastScanDateTime]
      ,ORK.[EstTotalRoomMinutes]
      ,ORK.[RMParentSerialNo]
  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORK
		LEFT JOIN OutTimeItemStatusHistory OT ON OT.ItemId=ORK.FGItemId AND OT.TravSerNum=ORK.FGTravSerNum AND OT.LastScanDateTime=ORK.LastScanDateTime
  WHERE ((FGItemId=@FGItemId OR @FGItemId IS NULL) AND (FGTravSerNum LIKE @FGTravSerNum + '%' OR @FGTravSerNum IS NULL) 
		AND (RMItemId=@RMItemId OR @RMItemId IS NULL) AND (RMSerialNo LIKE @RMSerialNo + '%' OR @RMSerialNo IS NULL) AND (RMLotNo LIKE @RMLotNo + '%' OR @RMLotNo IS NULL)) 
		AND ORK.Id NOT IN (SELECT DISTINCT Id FROM tmpOrdRelKitRawMatlOT)
  ORDER BY ORK.FGItemId, ORK.FGTravSerNum, ORK.RMItemId, ORK.RMSerialNo, ORK.RMLotNo, ORK.LastScanDateTime
 
SELECT * FROM tmpOrdRelKitRawMatlOT ORDER BY FGItemId, FGTravSerNum, RMItemId, RMSerialNo, RMLotNo, LastScanDateTime

END
GO
