USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIJobMaterialRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIJobMaterialRpt] @PLNo AS int
AS
BEGIN

	--DECLARE @PLNo AS int =  47963  --47922  --47963 --28968 --29057--27465 
	

	/* #T1	*/
	SELECT DISTINCT SI.ProdOrderNo, SI.ProdOrderRelNo, ORI.OrderNo, ORI.ReleaseNo, SPL.CustPO, SPLD.ItemId, SPLD.SerialNo AS TravSerNum, ORI.Qty
	INTO #T1
	FROM [W005].[dbo].[ShipPackingList] SPL
		INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo
		INNER JOIN [W005].[dbo].[ShipItem] SI ON (SPLD.ShipPalletId IS NULL OR SI.ShipPalletId=SPLD.ShipPalletId) AND 
								(SPLD.ShipCartonId IS NULL OR SI.ShipCartonId=SPLD.ShipCartonId) AND 
								(SPLD.ShipBoxId IS NULL OR SI.ShipBoxId=SPLD.ShipBoxId) AND 
								(SPLD.ShipItemId IS NULL OR SI.Id=SPLD.ShipItemId)
		INNER JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo = SI.ProdOrderNo AND ORI.ItemId=SPLD.ItemId
	WHERE SPL.PLNo = @PLNo

	/* #T2	*/
	SELECT DISTINCT 
		ProdOrderNo,
		OrderNo,
		ReleaseNo,
		FGItemId,
		RMItemId,
		LocId,
		RMLotNo,
		SUM(TotalQtyConsumed) AS TotalQtyConsumed
	INTO #T2
	FROM (
		SELECT DISTINCT t.ProdOrderNo, t.OrderNo, t.ReleaseNo, t.ItemId AS FGItemId, D.ComponentId AS RMItemId, D.LocId, L.[cf_Lot No.] AS RMLotNo, SUM(D.Qty) AS TotalQtyConsumed
		FROM  (SELECT DISTINCT ProdOrderNo,OrderNo, REleaseNo ,ItemId FROM #T1 ) t
			INNER JOIN [005].[dbo].[tblMpOrderReleases] O ON O.OrderNo=t.OrderNo AND O.ReleaseNo=t.ReleaseNo
			INNER JOIN [005].[dbo].[tblMpRequirements] R ON R.ReleaseId=O.Id
			INNER JOIN [005].[dbo].[tblMpMatlDtl] D ON D.TransId=R.TransId
			INNER JOIN [005].[dbo].[tblMpMatlDtlExt] E ON E.TransId=D.TransId AND E.EntryNum=D.SeqNo
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=D.ComponentId AND L.LotNum=E.LotNum AND L.LocId=D.LocId
		GROUP BY t.ProdOrderNo, t.OrderNo, t.ReleaseNo, t.ItemId, D.ComponentId, D.LocId, L.[cf_Lot No.]
		UNION ALL
		SELECT DISTINCT t.ProdOrderNo, t.OrderNo, t.ReleaseNo, t.ItemId AS FGItemId,  D.ComponentId AS RMItemId, D.LocId, L.[cf_Lot No.] AS RMLotNo, SUM(D.Qty) AS TotalQtyConsumed
		FROM (SELECT DISTINCT ProdOrderNo,OrderNo, REleaseNo, ItemId FROM #T1) t
			INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] O ON O.OrderNo=t.OrderNo AND O.ReleaseNo=t.ReleaseNo
			INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.ReleaseId=O.ReleaseId
			INNER JOIN [005].[dbo].[tblMpHistoryMatlDtl] D ON D.TransId=R.TransId
			INNER JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId=R.TransId AND E.EntryNum=D.SeqNo
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=D.ComponentId AND L.LotNum=E.LotNum AND L.LocId=D.LocId
		GROUP BY t.ProdOrderNo, t.OrderNo, t.ReleaseNo, t.ItemId, D.ComponentId, D.LocId, L.[cf_Lot No.]
	) A
	GROUP BY ProdOrderNo, OrderNo, ReleaseNo, FGItemId, RMItemId, LocId, RMLotNo--, TotalQtyConsumed


	/* Final Results	*/
	SELECT DISTINCT 
			 #T1.ProdOrderNo + ' / ' + #T1.OrderNo + '-' + CAST(#T1.ReleaseNo AS VARCHAR(5)) AS JobNo
			,ItemIdDescr = #T1.ItemId + ' ' + (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=#T1.ItemId)
			,#T1.ItemId AS FGItemId
			,FGItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=#T1.ItemId)
			,#T1.CustPO AS CustPOLine
			,KitQty = #T1.Qty
			,RMItemId = #T2.RMItemId
			,RMDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=#T2.RMItemId)
			,#T2.RMLotNo AS RMLot --RMLot = IIF(#T2.RMItemId LIKE 'IM%', #T2.RMLotNo, #T2.RMSerialNo)
			,RMIssuedQty = #T2.TotalQtyConsumed/U.ConvFactor
			,U.Uom
	FROM #T1
		 INNER JOIN #T2 ON #T2.OrderNo=#T1.OrderNo AND #T2.ReleaseNo=#T1.ReleaseNo AND #T2.FGItemId = #T1.ItemId
		 INNER JOIN [005].dbo.tblInItem I ON I.ItemId = #T2.RMItemId
		 INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = #T2.RMItemId AND L.LocId = #T2.LocId AND SUBSTRING(L.GLAcctCode,1,1) IN ('1','2','3','8')
		 INNER JOIN [005].dbo.tblInItemUom U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
	GROUP BY #T1.ProdOrderNo, #T1.OrderNo, #T1.ReleaseNo, #T1.ItemId, #T1.CustPO, #T1.Qty, #T2.RMItemId, #T2.RMLotNo, #T2.TotalQtyConsumed, U.UOM, U.ConvFactor

	DROP TABLE #T1
	DROP TABLE #T2

	--SELECT * FROM #T1
	--SELECT * FROM #T2

END
GO
