USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebInventoryLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebInventoryLabel] 
	@PrintJobId as int,
	@TransId as varchar(8),
	@ReceiptNum as varchar(15),
	@ReceiptDate as Datetime,
	@ItemId as varchar(24)
AS
BEGIN
	--Declare @PrintJobId as int
	--Declare @TransId as varchar(8)
	--Declare @ReceiptNum as varchar(15)
	--Declare @ReceiptDate as Datetime
	--Declare @ItemId as varchar(24)

	--Set @PrintJobId = 1375293
	--Set @TransId = '00016375'
	--Set @ReceiptNum = 'AG1101'
	--Set @ReceiptDate = '2025-04-14 00:00:00.000'
	--Set @ItemId = 'ZZ-FLM-CURW-RD'

	Select DISTINCT PD.Id, IsNull(C.CustName, 'Web Industries, Hartford') as CustNname, 
		SerialNum = Case when Len(L.[cf_Serial No.])>0 then [cf_Serial No.] else null End,  
		IsNull([cf_Lot No.], L.LotNum) AS LotNum, 
		TravLotNum = L.LotNum,
		I.ItemId, 
		I.Descr,
		L.cf_Width as Width, 
		L.[cf_Core ID] as Core_ID, 
		L.[cf_Roll OD] as Roll_OD, 
		L.Cmnt as Comments, 
		L.ExpDate,
		L.[cf_Use By Date] AS UseByDate,
		@TransId as PO,
		@ReceiptNum as ReceiptNum,
		@ReceiptDate as ReceiptDate,
		iif(OH.QtyOnHand is null, (WMR.Qty*U.ConvFactor), OH.QtyOnHand) as BaseQtyOnHand,
		D.UnitsBase as BaseQtyOnHandUOM,
		iif(OH.QtyOnHand is null, WMR.Qty, Cast((OH.QtyOnHand / D.ConversionFactor) as Decimal(20,10))) as QtyOnHand,
		iif(WMR.UOM is null, D.Units, WMR.UOM) as QtyOnHandUOM,
		QRCode = '1' + '|' + I.ItemId+'|'+Case when Len(L.[cf_Lot No.])>0 then UPPER(L.LotNum) else '' End+'|'+UPPER(IsNull([cf_Lot No.], L.LotNum))
	FROM	 [005].[dbo].[trav_tblInItem_view] AS I 
				LEFT JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = @TransId and D.ItemId = I.ItemId 
				LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] AS L ON I.ItemId = L.ItemId AND L.LocId = D.LocId
				LEFT JOIN [005].[dbo].trav_InItemOnHandLot_view AS OH ON OH.ItemId = L.ItemId and OH.LocId = D.LocId AND OH.LotNum = L.LotNum
				LEFT JOIN [005].[dbo].[trav_tblArCust_view] AS C ON I.cf_Customer = C.CustId
				LEFT JOIN [005].[dbo].tblWmRcpt AS WMR ON WMR.ItemId = L.ItemId and WMR.LocId = D.LocId AND WMR.LotNum = L.LotNum
				LEFT JOIN [005].[dbo].tblInItemUom U ON U.ItemId = WMR.ItemId and U.Uom = WMR.UOM
				INNER JOIN [dbo].[LabelPrintJobDetail] PD ON PD.PrintJobId = @PrintJobId and PD.ItemId = @ItemId AND PD.LotNum = L.LotNum
	WHERE I.ItemId = @ItemId --and L.LotNum IN (Select Distinct D.LotNum FROM [dbo].[LabelPrintJobDetail] AS D WHERE D.PrintJobId = @PrintJobId and D.ItemId = @ItemId)
	ORDER BY PD.Id
END	

GO
