USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSubcontractedServicesRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSubcontractedServicesRpt] @OrderNo AS VARCHAR(8)
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00031838'

SELECT R.TransId, M.PurchaseOrder
INTO #tmpSubcontractServices
FROM [005].[dbo].[tblMpOrderReleases] M
	 INNER JOIN [005].[dbo].[tblMpRequirements] R ON R.ReleaseId=M.Id
WHERE M.OrderNo=@OrderNo


DECLARE @SortBy AS tinyint = 1

	-- header info
	-- join with the temp table to return a resultset containing the finish date
	SELECT q.TransId, o.OrderNo, r.ReleaseNo, r.PurchaseOrder, q.ReqId
		, CASE WHEN @SortBy = 0 THEN s.DefaultVendorId ELSE o.OrderNo END AS GrpId1
		, s.DefaultVendorId AS VendorId, v.[Name], v.Contact, v.Addr1, v.Addr2, v.City, v.Region
		, v.PostalCode, v.Country, o.AssemblyId, o.RevisionNo, r.Routing AS RoutingStep
		, q.EstStartDate AS StartDate, CONVERT(nvarchar, q.EstStartDate, 112) AS StartDateSort
		, q.EstCompletionDate AS FinishDate, s.OperationId, s.[Description], s.Notes, s.EstQtyRequired AS Qty 
	FROM [005].[dbo].[tblMpOrder] o 
		INNER JOIN [005].[dbo].[tblMpOrderReleases] r ON o.OrderNo = r.OrderNo 
		INNER JOIN [005].[dbo].[tblMpRequirements] q ON r.Id = q.ReleaseId 
		INNER JOIN #tmpSubcontractServices b  ON b.TransId = q.TransId 
		INNER JOIN [005].[dbo].[tblMpSubContractSum] s ON q.TransId = s.TransId 		
		LEFT JOIN [005].[dbo].[tblApVendor] v ON s.DefaultVendorID = v.VendorID 


	-- detail info
	SELECT r.ParentId
		, m.ComponentId, m.LocId AS LocationId, m.EstQtyRequired AS EstQty, m.UOM AS Unit 
	FROM #tmpSubcontractServices s 
		INNER JOIN [005].[dbo].[tblMpRequirements] r ON s.TransId = r.ParentId 
		INNER JOIN [005].[dbo].[tblMpMatlSum] m 
			ON r.TransId = m.TransId 

			
	-- roll info
	 SELECT DISTINCT  
		   P.[TransId] AS PurchaseOrder
		  ,P.[RcptNum]
		  ,L.[cf_Serial No.] AS SerialNo
		  ,P.[LotNum] AS LotNo
		  ,P.[QtyOrder]
		  ,P.[QtyFilled]
		  ,TotalQtyLY = (SELECT IIF(ConvFactor is Null, Null, P.[QtyFilled] / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = L.ItemId and A.Uom = 'LY')
		  ,'LY' AS UOM
		  ,(CAST(O.TotalRoomMinutes AS float)/60) AS CurrentOTHrs
	  FROM #tmpSubcontractServices s
			INNER JOIN [005].[dbo].[tblPoTransLotRcpt] P ON P.TransId=s.PurchaseOrder
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_view] L ON L.LotNum=P.LotNum
			LEFT JOIN [W005].[dbo].[OutTimeItemStatus] O ON O.ItemId=L.ItemId AND (O.SerialNo=L.[cf_Serial No.] OR O.SerialNo=L.LotNum) AND O.LotNo=P.LotNum
			--LEFT JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=L.ItemId AND OS.ProgramId=O.ProgramId
	UNION ALL
	 SELECT DISTINCT 
		   P.[TransId] AS PurchaseOrder
		  ,P.[RcptNum]
		  ,L.[cf_Serial No.] AS SerialNo
		  ,P.[LotNum] AS LotNo
		  ,P.[QtyOrder]
		  ,P.[QtyFilled]
		  ,TotalQtyLY = (SELECT IIF(ConvFactor is Null, Null, P.[QtyFilled] / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = L.ItemId and A.Uom = 'LY')
		  ,'LY' AS UOM
		  ,(CAST(O.TotalRoomMinutes AS float)/60) AS CurrentOTHrs
	  FROM #tmpSubcontractServices s
			INNER JOIN [005].[dbo].[tblPoHistLotRcpt] P ON P.TransId=s.PurchaseOrder
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_view] L ON L.LotNum=P.LotNum
			LEFT JOIN [W005].[dbo].[OutTimeItemStatus] O ON O.ItemId=L.ItemId AND (O.SerialNo=L.[cf_Serial No.] OR O.SerialNo=L.LotNum) AND O.LotNo=P.LotNum
			--LEFT JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=L.ItemId AND OS.ProgramId=O.ProgramId
	 ORDER BY LotNo, SerialNo


DROP TABLE #tmpSubcontractServices

END
GO
