USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebFGRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebFGRollLabel] @PrintJobId as int, @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @OrderReleaseEventItemId as Int 
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS VARCHAR(8) = '00000023'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId as Int = 46


SELECT DISTINCT 
		E.OrderNo,
		E.ReleaseNo,
		FGEI.ItemId AS FGItemId,
		FGAddlDescr = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX)) FROM [005].[dbo].[tblInItemAddlDescr] A WHERE A.ItemId=FGEI.ItemId),FG.Descr),
		FGEI.TravSerNum AS FGTravSerNum,
		FGEI.TravLotNum AS FGTravLotNum,
		FGEI.MfgDate,-- AS SlitDate,
		FGEI.TotalQty,-- AS FGLength,		
		FGTotalQtySqM = ROUND(FGEI.TotalQty / (SELECT ISNULL(ConvFactor, 1)
						 FROM [005].[dbo].[tblInItemUom] AS A
						 WHERE A.ItemId=FGEI.ItemId AND A.Uom = 'SM'), 5),
		
		FGNetWeight = (SELECT FGEI.TotalQty / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = FGEI.ItemId and A.Uom = 'LB')),
		
		ISNULL(P.nTarget, P1.nTarget) AS FGWidth,		
		NoOfSplices = ISNULL((SELECT COUNT(OrderReleaseEventItemId) FROM [W005].[dbo].[OrderReleaseEventSpliceDetail] WHERE OrderReleaseEventItemId=FGEI.Id),0),
		
		CoreID = (SELECT CoreSerialNo FROM [W005].[dbo].[CoreScanPolyTrace] C WHERE C.OrderNo=E.OrderNo AND C.ReleaseNo=E.ReleaseNo AND C.CutNo=FGEI.CutPos),

		VendorDOM = MIN(ISNULL(IL.[cf_Vendor Mfg Date], IL.InitialDate)),
		
		RMAddlDescr = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX)) FROM [005].[dbo].[tblInItemAddlDescr] A	WHERE A.ItemId=RMEI.ItemId), 
								(SELECT Descr FROM [005].[dbo].[tblInItem] A WHERE A.ItemId=RMEI.ItemId)),

		RMSerialNos = STUFF(
								(
									SELECT DISTINCT ', ' + OREI.SerialNo
									FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
										 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
									WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo --AND OREI.ItemId=RMEI.ItemId
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							), --Component Rolls

		RMLotNos = STUFF(
								(
									SELECT DISTINCT ', ' + OREI.LotNo
									FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
										 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
									WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo --AND OREI.ItemId=RMEI.ItemId
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
						 ), --BatchNumbers
		[2DBarcode] = '1' + '|' + FGEI.ItemId + '|' + ISNULL(FGEI.SerialNo, FGEI.TravLotNum) + '|' + ISNULL(FGEI.LotNo, '')

FROM	[W005].[dbo].[OrderReleaseEvent] AS E
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMEI ON RMEI.OrderReleaseEventId = E.Id AND RMEI.IsAssembly=0
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMEI.ItemId AND L.LocId=RMEI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
		INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] IL ON IL.ItemId=RMEI.ItemId AND IL.LocId=RMEI.LocId AND IL.LotNum = ISNULL(RMEI.SerialNo,RMEI.LotNo)
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS FGE ON FGE.OrderNo=@OrderNo AND FGE.ReleaseNo=@ReleaseNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS FGEI ON FGEI.OrderReleaseEventId = FGE.Id AND FGEI.IsAssembly=1
		INNER JOIN [005].[dbo].[tblInItem] AS FG ON FG.ItemId=FGEI.ItemId
		LEFT JOIN [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)'
		LEFT JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = FGEI.ItemId AND P.CharId = C.Id
		LEFT JOIN [W005].[dbo].[Characteristic] AS C1 ON C.Characteristic = 'Width'
		LEFT JOIN [W005].[dbo].[ProductChar] AS P1 ON P.ItemId = FGEI.ItemId AND P.CharId = C.Id
WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND (FGEI.Id = @OrderReleaseEventItemId OR @OrderReleaseEventItemId=0)
GROUP BY E.OrderNo, E.ReleaseNo, FGEI.Id, FGEI.ItemId, FG.Descr, FGEI.SerialNo, FGEI.LotNo, FGEI.TravLotNum, FGEI.TravSerNum, FGEI.CutPos, FGEI.MfgDate, FGEI.TotalQty, P.nTarget, P1.nTarget, RMEI.ItemId
ORDER BY FGTravLotNum


END
GO
