USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCurrAndPrevMachineConfig]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCurrAndPrevMachineConfig] @OrderNoPrev as varchar(8), @OrderNoCurr as varchar(8)
AS
BEGIN
	--DECLARE @OrderNoPrev as Varchar(8) = '00048038'
	--DECLARE @OrderNoCurr as Varchar(8) = '00048039'

	SELECT CurrHeadNo, CurrCutNo, PrevCutNo
	FROM 
	(
		SELECT  D.HeadNo AS PrevHeadNo, D.CutNo AS PrevCutNo
		FROM [005].dbo.trav_tblMpOrder_View O
		INNER JOIN [W005].dbo.MachineConfigItemXRef X on X.ItemId = O.AssemblyId
		INNER JOIN [W005].dbo.MachineConfig C on C.Id = X.MachineConfigId AND C.NumberOfCuts = O.[cf_No. of Cuts]
		INNER JOIN [W005].dbo.MachineConfigDetail D on D.MachineConfigId = C.Id
		WHERE OrderNo =@OrderNoPrev
	) P INNER JOIN 
	(
		SELECT  D.HeadNo AS CurrHeadNo, D.CutNo AS CurrCutNo
		FROM [005].dbo.trav_tblMpOrder_View O
		INNER JOIN [W005].dbo.MachineConfigItemXRef X on X.ItemId = O.AssemblyId
		INNER JOIN [W005].dbo.MachineConfig C on C.Id = X.MachineConfigId AND C.NumberOfCuts = O.[cf_No. of Cuts]
		INNER JOIN [W005].dbo.MachineConfigDetail D on D.MachineConfigId = C.Id
		WHERE OrderNo = @OrderNoCurr
	) C ON C.CurrHeadNo = P.PrevHeadNo
END
GO
