USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemInvoice]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spItemInvoice] @ItemId as varchar(24), @TravSerNum as varchar(35), @TravLotNum as varchar(16)
AS
BEGIN
  IF @TravSerNum IS NOT NULL AND LEN(@TravSerNum) > 0
    BEGIN
		SELECT H.TransId, H.InvcNum, ItemId, SerNum, Cast(null as varchar(16)) as LotNum
		  FROM [005].[dbo].[tblArHistSer] L INNER JOIN [005].dbo.tblArHistHeader H ON H.TransId = L.TransId
		  WHERE ItemId = @ItemId AND SerNum = @TravSerNum
		UNION ALL
		SELECT H.TransId, H.InvcNum, ItemId, SerNum, Cast(null as varchar(16)) as LotNum
		  FROM [005].[dbo].[tblArTransSer] L INNER JOIN [005].dbo.tblArTransHeader H ON H.TransId = L.TransId
		  WHERE ItemId = @ItemId AND SerNum = @TravSerNum	
	END
  ELSE
    BEGIN
		SELECT H.TransId, H.InvcNum, ItemId, Cast(null as varchar(35)) as SerNum, LotNum
		  FROM [005].[dbo].[tblArHistLot] L INNER JOIN [005].dbo.tblArHistHeader H ON H.TransId = L.TransId
		  WHERE ItemId = @ItemId AND LotNum = @TravLotNum
		UNION ALL
		SELECT H.TransId, H.InvcNum, ItemId, Cast(null as varchar(35)) as SerNum, LotNum
		  FROM [005].[dbo].[tblArTransLot] L INNER JOIN [005].dbo.tblArTransHeader H ON H.TransId = L.TransId
		  WHERE ItemId = @ItemId AND LotNum = @TravLotNum
	END
   
END
GO
