USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetTraverseAssemblyIdsAndBaseUOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetTraverseAssemblyIdsAndBaseUOM] 

AS
BEGIN 



SELECT i.ItemId,i.Descr,u.Uom
FROM [005].[dbo].[tblInItem] i LEFT JOIN [005].[dbo].[tblInItemUom] u ON i.ItemId=u.ItemId
WHERE u.ConvFactor=1 AND i.ItemId IN (SELECT AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader])





END      

GO
