USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDuplicatePkgIdOnTmpPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetDuplicatePkgIdOnTmpPL]
			@PLNo as int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--declare @PLNo as int = 2657

	SELECT DISTINCT PkgId
	FROM [W005].[dbo].[tmpShipPackingList] 
	WHERE PLNo=@PLNo
	
	GROUP BY PkgId
	HAVING COUNT(PkgId) > 1




END
GO
