USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPlyScanKitRawMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIPlyScanKitRawMaterial] @ParentOrderNo as varchar(8), @ParentOrderReleaseNo as int, @OrderReleaseEventItemId as int
AS
BEGIN
SELECT DISTINCT 
                OrderNo, ReleaseNo, RMItemId, RMSerialNo, RMLotNo, ItemType, ExpDate, LastScanDateTime, WmBinId,ThawCompletedDT, TotalRoomMinutes, TotalFreezerMinutes, 
                TotalReeferMinutes, MaxRoomDTReached, MaxFreezerDTReached, MaxReeferDTReached, OTTracked
FROM            [W005].dbo.vCCIKitPlyScanRawMaterial
WHERE           OrderNo = @ParentOrderNo AND ReleaseNo = @ParentOrderReleaseNo AND 
				TableId IN (Select DISTINCT CCITableId FROM [W005].dbo.CCIPlyStackDetail D INNER JOIN [W005].dbo.CCIPlyStackHeader H ON H.Id = D.CCIPlyStackHeaderId WHERE H.OrderReleaseEventItemId = @OrderReleaseEventItemId)
END
GO
