USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemsforLocationTransfer]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetItemsforLocationTransfer] @ItemId as Varchar(24), @LocId as varchar(10)
AS
BEGIN
	SELECT [ItemId],[LocId],[SerialNo],[LotNo],[TravLotNum],[UOM],SUM([QtyOnHand]) AS QtyOnHand
	FROM [W005].[dbo].[vInItemOnHandDetail]
	WHERE ItemId = @ItemId AND LocId = @LocId
	GROUP BY [ItemId],[LocId],[SerialNo],[LotNo],[TravLotNum],[UOM]
END
GO
