USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spProductionOrderDetails]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spProductionOrderDetails] @OrderNo AS VARCHAR(8), @ReleaseNo AS int
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00030077'
--DECLARE @ReleaseNo AS int = 0


	SELECT DISTINCT 
			ISNULL(M.ParentOrderNo, M.OrderNo) AS ParentOrderNo,
			M.OrderNo,
			M.ReleaseNo,
			M.PurchaseOrder,
			M.SalesOrder,
			CustPONum = S.CustPO,
			M.AssemblyId AS ItemId,
			M.LocId,
			M.Qty,
			M.UOM,
			RAWMaterial =  
				(STUFF((SELECT DISTINCT ' ' + I.ItemId
				 FROM OrderReleaseEvent E
					  INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id	
					  INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=I.ItemId AND L.LocId=I.LocId 
								AND L.GLAcctCode IN (SELECT DISTINCT GLAcctCode FROM [005].[dbo].[tblInGLAcct] GL WHERE GL.Descr LIKE '%Materials Direct%' OR GL.Descr LIKE '%Materials Intermediate%')
				 WHERE E.OrderNo = M.OrderNo AND E.ReleaseNo = M.ReleaseNo AND I.IsAssembly = 0 
				 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
			Program = NULL,
			OrderStatus = (SELECT TOP 1 [Event] FROM [W005].[dbo].[OrderReleaseEvent] E WHERE E.OrderNo=M.OrderNo AND E.ReleaseNo=M.ReleaseNo ORDER BY E.Id DESC)
	FROM [W005].[dbo].[vMpOrderReleaseInfo] M
		 LEFT JOIN [W005].[dbo].[vArHistSoTransDetail] S ON S.TransID=M.SalesOrder AND S.ItemId=M.AssemblyId
	WHERE M.OrderNo=@OrderNo AND (M.ReleaseNo=@ReleaseNo OR @ReleaseNo = 0)


END
GO
