USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderSummaryByOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetOrderSummaryByOrder] @OrderNo AS VARCHAR(8), @OrderType AS VARCHAR(25) 
AS
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @OrderType AS VARCHAR(25) = 'Sales Order' -- 'Production Order' 'Sales Order'
--DECLARE @OrderNo AS VARCHAR(8) = '00001527' --'00004081'--


SELECT DISTINCT 
		MP.ParentOrderNo,
		MP.OrderNo,
		MP.ReleaseNo,
		MP.SalesOrder,
		MP.AssemblyId,
		MP.LocId,
		MP.Qty,
		MP.UOM,
		MP.MfgStartDate, 
		MP.MfgEndDate,
		MP.RequiredShipDate,
		MP.Scheduled,
		MP.InProcess,
		MP.MfgCompleted,
		MP.PLNo, 
        MP.ShipDate
FROM vMpOrderReleaseInfo MP
WHERE CASE 
		WHEN @OrderType = 'Parent Order' THEN  MP.ParentOrderNo
		WHEN @OrderType = 'Production Order' THEN MP.OrderNo
		WHEN @OrderType = 'Sales Order' THEN MP.SalesOrder
		END = @OrderNo
GROUP BY MP.ParentOrderNo, MP.OrderNo, MP.ReleaseNo, MP.SalesOrder, MP.AssemblyId, MP.LocId, MP.Qty, MP.UOM, MP.MfgStartDate, MfgEndDate, MP.RequiredShipDate, MP.Scheduled, MP.InProcess, MP.MfgCompleted, MP.PLNo, MP.ShipDate
ORDER BY MP.ParentOrderNo, MP.OrderNo, MP.ReleaseNo, MP.SalesOrder, MP.AssemblyId, MP.LocId, MP.Qty, MP.UOM, MP.MfgStartDate, MfgEndDate, MP.RequiredShipDate, MP.Scheduled, MP.InProcess, MP.MfgCompleted, MP.PLNo, MP.ShipDate

GO
