USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderBOMPolyLinerMaterials]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOrderBOMPolyLinerMaterials] @OrderNo as varchar(8), @CurrentPolyItemId as varchar(24) 
AS
BEGIN

--DECLARE @OrderNo as varchar(8) = '00000057'

	IF @CurrentPolyItemId is null or len(@CurrentPolyItemId) = 0
	BEGIN
	  SET @CurrentPolyItemId = '';
	END

	SELECT DISTINCT	I.ItemId, I.Descr, D.UOM, I.ProductLine, I.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM,D.[cf_Only Issue to Production Order] as ISsueToProdOrder
	FROM 	[005].dbo.tblMpOrder O 
			INNER JOIN [005].dbo.trav_tblMbAssemblyHeader_view H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo 
			INNER JOIN [005].dbo.tblMbAssemblyRouting R ON R.HeaderId = H.Id 
			INNER JOIN [005].dbo.trav_tblMrOperations_view M ON M.OperationId = R.OperationId
			INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View D ON D.RoutingId = R.Id 
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentID
	WHERE O.OrderNo = @OrderNo AND I.ProductLine = 'PolyLiner' AND (@CurrentPolyItemId = '' OR I.ItemId = @CurrentPolyItemId) AND D.DetailType <> 5 --Ignore By Products

END
GO
