USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebReturnToInventoryLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebReturnToInventoryLabel] 
	@PrintJobId as int,
	@OrderNo as varchar(8),
	@ReleaseNo as int,
	@OrderReleaseEventItemId as int
AS
BEGIN
	--Declare @PrintJobId as int
	--Declare @OrderNo as varchar(8)
	--Declare @ReleaseNo as int
	--Declare @OrderReleaseEventItemId as int

	--Set @PrintJobId = 120
	--Set @OrderNo = 'P0109157'
	--Set @ReleaseNo = 1
	--Set @OrderReleaseEventItemId = 2226150

	Select Distinct IsNull(C.CustName, 'Web Industries Inc.') as CustNname   /*Set for each site */
		,SerialNum = Case when Len(L.[cf_Serial No.])>0 then [cf_Serial No.] else null End
		,LotNum = IsNull([cf_Lot No.], L.LotNum)
		,TravLotNum = L.LotNum
		,I.ItemId
		,I.Descr
		,L.cf_Width as Width
		,L.[cf_Core ID] as Core_ID
		,L.Cmnt as Comments 
		,L.ExpDate
		,L.[cf_Use By Date] AS UseByDate
		,EI.TotalQtyRemaining as BaseQtyOnHand
		,I.UomBase
		,I.UomDflt
		,(EI.TotalQtyRemaining / U.ConvFactor) as DfltQtyOnHand 
		,QRCode = '1' + '|' + I.ItemId+'|'+UPPER(ISNULL(EI.SerialNo, ''))+'|'+UPPER(IsNull(EI.LotNo, ''))
	FROM	[W005].[dbo].[OrderReleaseEvent] AS E
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
			INNER JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
			LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] AS L ON I.ItemId = L.ItemId  AND L.LocId = EI.LocId 
			LEFT JOIN [005].[dbo].[trav_tblArCust_view] AS C ON I.cf_Customer = C.CustId
			LEFT JOIN [005].[dbo].trav_InItemOnHandLot_view Q ON Q.ItemId = I.ItemId and Q.LocId = L.LocId and Q.LotNum = L.LotNum
	WHERE E.OrderNo = @OrderNo and E.ReleaseNo = @ReleaseNo and EI.Id = @OrderReleaseEventItemId and (L.LotNum = EI.SerialNo or L.LotNum = EI.LotNo)
	AND (EI.TotalQtyRemaining != 0 AND EI.TotalQtyRemaining < EI.TotalQty)


END	

GO
