USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTraverseOnHandQtyByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTraverseOnHandQtyByItemAndLocId]
			@ItemId as varchar(24), @LocId as varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--Declare @ItemId as varchar(24) = 'BT-9S-BU-D'
--Declare @LocId as varchar(10) ='INVENTORY'

SELECT QtyOnHand = (
	SELECT IsNull(SUM(QtyOnHand),0)
	FROM [005].[dbo].trav_InItemOnHandLot_view
	WHERE ItemId=@ItemId AND LocId=@LocId) 
	+
	(SELECT COUNT(SerNum)
	FROM [005].[dbo].[tblInItemSer]
	WHERE ItemId=@ItemId AND LocId=@LocId)




END

GO
