USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetTravMatlDataForAssemblyOperation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetTravMatlDataForAssemblyOperation]
	 @AssemblyId as varchar(24), @OPID as varchar(10)
AS
BEGIN

--DECLARE @AssemblyId as varchar(24) = '1B-FAN-SSBLADE'
--DECLARE @OPID as varchar(10) = 'PACK'


	SELECT ComponentID,[Description] As Descr, Qty,UOM,UnitCost,ScrapPct,Notes As Note
	FROM [005].[dbo].[tblMbAssemblyDetail]
	WHERE RoutingId = (
						SELECT ar.Id FROM [005].[dbo].[tblMbAssemblyRouting] ar
											INNER JOIN [005].[dbo].[tblMbAssemblyHeader] As ah ON ar.HeaderId=ah.Id
									WHERE ah.AssemblyId=@AssemblyId AND ar.OperationId=@OPID
											AND ah.RevisionNo IN
															(SELECT MAX(m.RevisionNo)
															FROM  [005].[dbo].[tblMbAssemblyHeader] as m
															WHERE m.AssemblyId=ah.AssemblyId)
						)

		
		




END

GO
