USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWMaxTGHForWOOPMachine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth when OPId selected to determine if a TestGroupHdr exists
-- This is AFTER the check for incomplete TGHdrs has occurred.
-- This is to determine if WO Set UP Init is required (If so, if data can be transferred will later be determined)

CREATE PROCEDURE [dbo].[spSWMaxTGHForWOOPMachine]
	@ProdOrd varchar(8),@RelNo int, @Machine varchar(25), @WO as int, @OPId as int, @MachineNum int

AS
BEGIN
	
--DECLARE @WO as int = 57702
--DECLARE @OPId as int = 98122
--DECLARE @MachineNum int = 30

-- Is there a SWTestGroupHdr for WO/Machine/OP
IF EXISTS (
			SELECT tgh.Id
			FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
			WHERE (th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum AND th.OperationID=@OPId) OR (th.ProdOrderNo=@ProdOrd AND th.ReleaseNo=@RelNo AND th.Machine=@Machine)
		)
	BEGIN  --Return last SWTGHdr for WO/Machine/OP
			SELECT MAX(tgh.Id) AS TGHId, tgh.TestHdrId AS THId, tgh.TestGroupName, tgh.TestGroupComplete,tgh.AcceptedTestGroupDtlId
			FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
			WHERE (th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum AND th.OperationID=@OPId) OR (th.ProdOrderNo=@ProdOrd AND th.ReleaseNo=@RelNo AND th.Machine=@Machine)
			GROUP BY tgh.TestHdrId, tgh.TestGroupName, tgh.TestGroupComplete,tgh.AcceptedTestGroupDtlId
	END
	ELSE -- Return empty
	BEGIN
		SELECT 0 AS TGHId, 0 As THId, '' As TestGroupName, 0 As TestGroupComplete, 0 As AcceptedTestGroupDtlId
	END



END






GO
