USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetLastFGCounterForSplice]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetLastFGCounterForSplice] @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	SELECT ISNULL(Max(PLCLengthCounter),0) AS PLCCounter
	from OrderReleaseEventSplice S
	where S.OrderReleaseEventId in (select id from OrderReleaseEvent WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo ) 
END
GO
