USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetFirstSetExpDate]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetFirstSetExpDate](@OrderNo as varchar(8))
AS
BEGIN
	SELECT DISTINCT I.FGExpDate
	FROM            dbo.OrderReleaseEvent AS E INNER JOIN
								 (SELECT        TOP (1) OrderNo, ReleaseNo, MIN(Id) AS Id
								   FROM            dbo.OrderReleaseEvent AS E
								   WHERE        (OrderNo = @OrderNo) AND (Event = 'End Manufacturing')
								   GROUP BY OrderNo, ReleaseNo
								   ORDER BY Id) AS E1 ON E1.OrderNo = E.OrderNo AND E1.ReleaseNo = E.ReleaseNo AND E.Event = 'Start Manufacturing' INNER JOIN
							 dbo.OrderReleaseEventItem AS I ON I.OrderReleaseEventId = E.Id
END
GO
