USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackageItems]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPackageItems] @PackageNo VARCHAR(10)
AS
BEGIN


--DECLARE @PackageNo AS VARCHAR(10) = 'P000199101'


/* Get the package contents */
SELECT DISTINCT
	SI.ItemId,	
	SI.SerNo,
	SI.LotNo,
	SI.TravSerNum,
	SI.TravLotNum,
	SUM(SI.Quantity) AS Quantity,
	SI.UOM
INTO #ShipItems
FROM ShipItem SI
	 LEFT JOIN ShipBox SB ON SB.Id=SI.ShipBoxId
	 LEFT JOIN ShipCarton SC ON SC.Id=SI.ShipCartonId
	 LEFT JOIN ShipPallet SP ON SP.Id=SI.ShipPalletId
WHERE (SI.ShipItemNo=@PackageNo OR SB.ShipBoxNo=@PackageNo 
	  OR SC.ShipCartonNo=@PackageNo OR SP.ShipPalletNo=@PackageNo)
	  AND SI.Deleted=0 AND SI.Shipped=0 AND SI.PhantomAdjOut=0
GROUP BY SI.ItemId, SI.SerNo, SI.LotNo, SI.TravSerNum, SI.TravLotNum, SI.UOM



SELECT DISTINCT 
	A.ItemId,
	A.LocId,
	A.SerNo,
	A.LotNo,
	A.TravSerNum,
	A.TravLotNum,
	A.Quantity,
	A.UOM,
	A.CurrentBinId,
	E.ExtLocID AS CurrentBin
FROM (
	SELECT DISTINCT
		SI.ItemId,
		SI.SerNo,
		SI.LotNo,
		SI.TravSerNum,
		SI.TravLotNum,
		SI.Quantity,
		SI.UOM,
		S.LocId, 	
		CurrentBinId = (SELECT TOP 1 ExtLocA 
							FROM [005].[dbo].[tblWmHistDetail] WH  
						   WHERE  WH.ItemId=SI.ItemId AND (WH.SerNum=SI.SerNo OR WH.SerNum=SI.TravSerNum)
						ORDER BY WH.ExtHistSeqNum DESC)
	FROM #ShipItems SI
		 INNER JOIN [005].[dbo].[tblInItemSer] S ON S.ItemId=SI.ItemId AND S.SerNum=SI.TravSerNum AND S.SerNumStatus IN ('1', '2', '5')
	UNION ALL 
	SELECT DISTINCT
		SI.ItemId,
		SI.SerNo,
		SI.LotNo,
		SI.TravSerNum,
		SI.TravLotNum,
		SI.Quantity,
		SI.UOM,
		L.LocId,
		CurrentBinId = (SELECT TOP 1 ExtLocA 
							FROM [005].[dbo].[tblWmHistDetail] WH  
						   WHERE  WH.ItemId=SI.ItemId AND (WH.LotNum=SI.LotNo OR WH.LotNum=SI.TravLotNum)
						ORDER BY WH.ExtHistSeqNum DESC)
	FROM #ShipItems SI
		 INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] L ON L.ItemId=SI.ItemId AND (L.LotNum=LotNo OR L.LotNum=TravLotNum) AND QtyOnHand > 0
) A
LEFT JOIN [005].[dbo].[tblWmExtLoc] E ON E.Id=A.CurrentBinId
ORDER BY A.SerNo, A.LotNo, A.TravSerNum, A.TravLotNum

DROP TABLE #ShipItems


END
GO
