USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSterinLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebSterinLabel] @PrintJobId AS int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @OrderNo AS varchar(8) = '00034327'
--DECLARE @ReleaseNo AS int = 5
--DECLARE @OrderReleaseEventItemId as int = 0


DECLARE @ItemIdToInheritLotNoFrom AS VARCHAR(25) = (SELECT TOP 1 ItemId
															FROM OrderReleaseEvent E
																 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
																 INNER JOIN (SELECT DISTINCT splitdata
																					FROM OrderReleaseEvent E
																					INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1
																					INNER JOIN ProductChar P ON P.ItemId=I.ItemId AND P.CharId=(SELECT DISTINCT Id FROM Characteristic WHERE Characteristic='InheritRawMaterialLotNo.')
																					CROSS APPLY fnSplitString(P.sTarget, '/') 
																				WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo) A ON A.splitdata=EI.ItemId
															WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
															ORDER BY EI.Id DESC)

DECLARE @RawMatlCutNo AS VARCHAR(5) = (SELECT DISTINCT '/' + Char(64 + RIGHT(SerialNo, 1))
											FROM [W005].[dbo].[OrderReleaseEventItem] i 
													INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS e ON e.Id=i.OrderReleaseEventId 
											WHERE e.[Event]='Load Material' AND e.OrderNo=@OrderNo AND e.ReleaseNo=@ReleaseNo 
												  AND i.ItemId = @ItemIdToInheritLotNoFrom)

	SELECT DISTINCT  E.OrderNo, E.ReleaseNo,
				 A.AliasID, --Indicator Type
				 RIGHT(E.OrderNo, 6) + A.[cf_Product Lot Designation] AS LotNo,
				 SetNo = (SELECT DISTINCT OREI.LotNo 
									FROM [W005].[dbo].[OrderReleaseEventItem] OREI 
										 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.Id=OREI.OrderReleaseEventId 
								   WHERE OREI.IsAssembly=0 AND OREI.ItemId=@ItemIdToInheritLotNoFrom AND ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo) --Inherited Raw Material Lot 
				  + '-' + STUFF(@RawMatlCutNo, 1, 1, '') --Raw Material Cut from Serial No. displayed in Alpha (A, B)
				  + (SELECT '-' + CAST(E.ReleaseNo AS varchar(25)))
				  + (SELECT '-' + RIGHT('000' + CAST(EI.CutPos AS varchar(25)), 3)),
				 DATEADD(MONTH, +nTarget, EI.EventDateTime) AS ExpDate
	FROM [W005].[dbo].[OrderReleaseEvent] AS E
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON E.Id=EI.OrderReleaseEventId AND EI.IsAssembly=1
		 INNER JOIN  [W005].[dbo].[ProductChar] AS P ON P.ItemId = EI.ItemId
		 INNER JOIN [W005].[dbo].[Characteristic] AS C ON C.Id=P.CharId AND C.Characteristic='ExpDateCalcMonths'
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemID=EI.ItemId
	WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)


END
GO
