USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebConvertingRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebConvertingRollLabel] @PrintJobId as int,	@OrderNo as varchar(8),	@ReleaseNo as int,	@OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE   @OrderNo as varchar(8) = '00000018'
--DECLARE	@ReleaseNo as int = 2
--DECLARE	@OrderReleaseEventItemId as int = 0


SELECT DISTINCT OrderNo, ReleaseNo, ItemId, ItemDescr, AliasID, PurchaseOrder, SalesOrder, ShipToCustomer, MfgDate, EndMfgDate, 
				WidthIN, WidthMM, TotalQtyLF, TotalQtyLM, TotalQtySM, TotalQtySY, NetWeightLBS, NetWeightKG, RMSerialNo, RMLotNo, ThirdPartyAlias, WindingType, 
				LengthByLabelLengthUOM = TotalQty / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.ItemId and U.Uom = A.LabelLengthUOM), 
				LabelLengthUOM, FGSerialNo, FGLotNo, PinNbr, Barcode
FROM (
	SELECT DISTINCT
			 E.OrderNo
			,E.ReleaseNo
			,I.ItemId
			,ItemDescr = I.Descr
			,A.AliasID
			,OpInitials = (SELECT SUBSTRING(EMP.FirstName, 1, 1)+SUBSTRING(EMP.LastName, 1, 1)
							FROM [005].[dbo].[tblSmEmployee] EMP 
							WHERE EMP.EmployeeId=E.UserId OR EMP.SocialSecurityNo=E.UserId)
			,R.PurchaseOrder
			,R.SalesOrder
			,ShipToCustomer = ISNULL((SELECT ShipToName FROM [005].[dbo].tblSoTransHeader WHERE TransId = R.SalesOrder), 
									 (SELECT ShipToName FROM [005].[dbo].tblArHistHeader WHERE TransId = R.SalesOrder))
			,MfgDate = EI.EventDateTime
			,EndMfgDate = (SELECT DISTINCT ISNULL(EventEnd, EventStart) FROM OrderReleaseEvent ORE WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo AND ORE.Event='End Manufacturing')
			,WidthIN = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
							WHERE P.ItemId=EI.ItemId)
			,WidthMM = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
							WHERE P.ItemId = EI.ItemId)
			,LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=EI.ItemId)
			,EI.TotalQty
			,TotalQtyLF = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LF')
			,TotalQtyLM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LM')
			,TotalQtySM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SM')
			,TotalQtySY = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SY')
			,NetWeightLBS = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LB')
			,NetWeightKG = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'KG')
			,L.SerialNo AS RMSerialNo
			,L.LotNo AS RMLotNo
			,L.ThirdPartyAlias
			,L.WindingType
			,EI.SerialNo as FGSerialNo
			,EI.LotNo as FGLotNo
			,PinNbr = EI.LotNo + '-' + RIGHT('000' + CAST(EI.CutPos AS VARCHAR(3)), 3)
			,Barcode = '1' + '|' + EI.ItemId + '|' + ISNULL(EI.SerialNo, EI.TravLotNum) + '|' + ISNULL(EI.LotNo, '')
	FROM [W005].[dbo].[OrderReleaseEvent] AS E
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId=EI.ItemId
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemId=I.ItemId AND A.RefID=ISNULL(R.CustId, RH.CustId)
		 LEFT JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, L.LotNum AS SerialNo, L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
							FROM [W005].[dbo].[OrderReleaseEvent] AS E
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo) L ON L.OrderNo=E.OrderNo AND L.ReleaseNo=E.ReleaseNo
	WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)
) A
ORDER BY OrderNo, ReleaseNo, ItemId, ItemDescr, AliasID


END
GO
