USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPONoteSuppliers]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetPONoteSuppliers]
		@PONoteId int
	 
AS
BEGIN

	SELECT X.Id,X.TraverseVendorId, V.Name
	FROM [W005].[dbo].[PONoteVendorXRef] X 
		INNER JOIN [005].[dbo].[tblApVendor] V ON X.TraverseVendorId=V.VendorID
	WHERE X.PONoteId=@PONoteId
	ORDER BY X.TraverseVendorId ASC
	
END
GO
