USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetNunezCosts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNunezCosts] 
	-- Add the parameters for the stored procedure here
	@ItemId as varchar(24),    @LocId as varchar(10),  @TravLotNum as varchar(16)
AS
BEGIN
	if Len(@TravLotNum) = 0  Set @TravLotNum=null
	 SELECT SeqNum, LinkId, Q.Qty, Q.RemoveQty, Q.InvoicedQty 
			,[cf_WILaborSetupUnitCost]
			,[cf_WILaborUnitCost]
			,[cf_WIMachineSetupUnitCost]
			,[cf_WIMachineUnitCost]
			,[cf_WIMaterialDirectUnitCost]
			,[cf_WIMaterialIndirectUnitCost]
			,[cf_WISubcontractUnitCost] 
	  FROM [005].[dbo].[tblInQtyOnHand] AS Q INNER JOIN [005].[dbo].[trav_tblMpMatlDtl_View] AS M ON Q.LinkID = M.TransId AND Q.LocId = M.LocID
	  WHERE Q.ItemId=@ItemId AND Q.LocId=@LocId AND (@TravLotNum Is Null OR Q.LotNum=@TravLotNum) AND Source = 18 AND (Q.Qty - Q.RemoveQty)-Q.InvoicedQty > 0
	 UNION ALL
	 SELECT SeqNum, LinkId, Q.Qty, Q.RemoveQty, Q.InvoicedQty 
			,[cf_WILaborSetupUnitCost]
			,[cf_WILaborUnitCost]
			,[cf_WIMachineSetupUnitCost]
			,[cf_WIMachineUnitCost]
			,[cf_WIMaterialDirectUnitCost]
			,[cf_WIMaterialIndirectUnitCost]
			,[cf_WISubcontractUnitCost] 
	  FROM [005].[dbo].[tblInQtyOnHand] AS Q INNER JOIN [005].[dbo].[trav_tblMpHistoryMatlDtl_View] AS M ON Q.LinkID = M.TransId AND Q.LocId = M.LocID
	  WHERE Q.ItemId=@ItemId AND Q.LocId=@LocId AND (@TravLotNum Is Null OR Q.LotNum=@TravLotNum) AND Source = 18 AND (Q.Qty - Q.RemoveQty)-Q.InvoicedQty > 0
	 UNION ALL
	 SELECT SeqNum, LinkId, Q.Qty, Q.RemoveQty, Q.InvoicedQty 
			,[cf_WILaborSetupUnitCost]
			,[cf_WILaborUnitCost]
			,[cf_WIMachineSetupUnitCost]
			,[cf_WIMachineUnitCost]
			,[cf_WIMaterialDirectUnitCost]
			,[cf_WIMaterialIndirectUnitCost]
			,[cf_WISubcontractUnitCost] 
	  FROM [005].[dbo].[tblInQtyOnHand] AS Q INNER JOIN 
		   [W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1 INNER JOIN 	
	       [005].[dbo].[trav_tblInHistDetail_View] AS H ON Q.LinkID = H.TransId AND Q.LocId = H.LocID AND H.SrceID = 'INTRANS' AND H.SumYear = G.SumYear AND H.SumPeriod = G.SumPeriod AND H.GLPeriod = G.GLPeriod
	  WHERE Q.ItemId=@ItemId AND Q.LocId=@LocId AND (@TravLotNum Is Null OR Q.LotNum=@TravLotNum) AND H.Source = 15 AND (Q.Qty - Q.RemoveQty)-Q.InvoicedQty > 0
	  ORDER BY SeqNum
END
GO
