USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetZZBinderItemLotNoList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetZZBinderItemLotNoList]
	@ItemId as varchar(24)

AS
BEGIN

	--declare @ItemId as varchar(24) = 'BT-1S-WH-E2' 

	SELECT DISTINCT CONVERT(date, si.DateCreated) As DateCreated, si.LotNo, si.TravLotNum
	FROM [W005].[dbo].[ShipItem] AS si 
		 --INNER JOIN (SELECT DISTINCT LotNo, Id FROM [W005].[dbo].[ShipItem] WHERE ItemId=@ItemId) AS S ON S.Id=si.Id
	WHERE si.ItemId=@ItemId AND si.Deleted=0 AND si.Quantity>0
		AND si.PostedToTraverse=1 AND si.Complete=1
END
GO
