USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuoteAssemblyOperation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuoteAssemblyOperation] 
	@QuoteAssemblyNum as int
AS
BEGIN 



SELECT *
FROM [W005].[dbo].[QuoteOperation] 
WHERE QuoteAssemblyNum=@QuoteAssemblyNum





END      
GO
