USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExplodedBOMMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetExplodedBOMMaterial] @OrderNo as varchar(8), @ReleaseNo as int, @OperationId as varchar(10), @OnMachine as bit
AS
BEGIN
 --   DECLARE @OrderNo as varchar(8) = '00000004'
	--DECLARE @ReleaseNo as int = 1
	--DECLARE @OperationId as varchar(10) = 'SPOOL'
	--DECLARE @OnMachine as bit= 0

	IF @OperationId LIKE 'PACK%'
		BEGIN
			SELECT DISTINCT I.ItemId, I.Descr, D.UOM, I.ProductLine, I.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM, R.OperationId, R.Descr AS RoutingDescr, R.MachineGroupId, R.Step, L.GLAcctCode, D.EstQtyRequired as Qty, IIF(OR1.Qty = 0, 0, D.EstQtyRequired/Or1.Qty) AS QtyPerFG, Op.[cf_Operation Method] As OpMethod, D.ComponentType, CAST('0' AS VARCHAR(5)) as MaxLotsAllowed
			FROM [005].dbo.tblMpOrder O 
			INNER JOIN [005].dbo.tblMpOrderReleases OR1 ON OR1.OrderNo = O.OrderNo
			INNER JOIN [005].dbo.tblMpRequirements R1 ON R1.ReleaseId = OR1.Id AND IndLevel != 0
			INNER JOIN [005].dbo.tblMpRequirements R2 ON R2.TransId = R1.ParentId 
			INNER JOIN [005].dbo.tblMpMatlSum D ON D.TransId = R1.TransId
			INNER JOIN [005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo
			INNER JOIN [005].dbo.tblMbAssemblyRouting R ON R.HeaderId = H.Id AND R.Descr = R2.Description 
			INNER JOIN [005].dbo.trav_tblMrOperations_view Op ON Op.OperationId = R.OperationId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentID
			INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = D.ComponentID AND L.LocId = O.LocID
			WHERE O.OrderNo = @OrderNo 
				AND (@ReleaseNo = 0 OR OR1.ReleaseNo = @ReleaseNo) 
				AND (@OperationId LIKE 'PACK%') 
				AND ((@OnMachine = 1 AND R.MachineGroupId != 'NO MACHINE') OR (@OnMachine = 0 AND R.MachineGroupId = 'NO MACHINE'))
				AND D.ComponentType <> 5 
			Order By I.ItemId
		END 
	ELSE
		BEGIN
			SELECT DISTINCT T.ItemId, T.Descr, T.UOM, T.ProductLine, T.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM, T.OperationId, RoutingDescr, T.MachineGroupId, Step, GLAcctCode, T.Qty, QtyPerFG, Op.[cf_Operation Method] As OpMethod, T.ComponentType, CAST(dd.[cf_Max Lots Allowed] AS varchar(5)) as MaxLotsAllowed
			FROM
				(		
					SELECT DISTINCT I.ItemId, I.Descr, D.UOM, I.ProductLine, I.LottedYN, R.OperationId, R.Descr AS RoutingDescr, R.MachineGroupId, R.Step, L.GLAcctCode, D.EstQtyRequired as Qty, IIF(OR1.Qty = 0, 0, D.EstQtyRequired/Or1.Qty) AS QtyPerFG, D.ComponentType, R.Id As AssemblyRoutingId
					FROM [005].dbo.tblMpOrder O 
					INNER JOIN [005].dbo.tblMpOrderReleases OR1 ON OR1.OrderNo = O.OrderNo
					INNER JOIN [005].dbo.tblMpRequirements R1 ON R1.ReleaseId = OR1.Id AND IndLevel != 0
					INNER JOIN [005].dbo.tblMpRequirements R2 ON R2.TransId = R1.ParentId 
					INNER JOIN [005].dbo.tblMpMatlSum D ON D.TransId = R1.TransId
					INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = D.ComponentID AND L.LocId = O.LocID
					INNER JOIN [005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo
					INNER JOIN [005].dbo.tblMbAssemblyRouting R ON R.HeaderId = H.Id AND R.Descr = R2.Description 
					INNER JOIN [005].dbo.tblInItem AS I ON I.ItemId = D.ComponentID
					WHERE O.OrderNo = @OrderNo 
						AND (@ReleaseNo = 0 OR OR1.ReleaseNo = @ReleaseNo) 
						AND (@OperationId is null or R.OperationId = @OperationId) 
						AND ((@OnMachine = 1 AND R.MachineGroupId != 'NO MACHINE') OR (@OnMachine = 0 AND R.MachineGroupId = 'NO MACHINE'))
						AND D.ComponentType <> 5 
				) T
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = T.ItemId
			INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View DD ON DD.RoutingId = AssemblyRoutingId AND DD.ComponentId = T.ItemId
			INNER JOIN [005].dbo.trav_tblMrOperations_view Op ON Op.OperationId = T.OperationId
			WHERE (DD.[cf_Do not show on MES Issue-Load Forms] IS NULL OR DD.[cf_Do not show on MES Issue-Load Forms] = 0)
			Order By T.ItemId
		END
END


GO
