USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSupplyChainInvValGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSupplyChainInvValGrid] 
  @FYearBegin as int, @FMonthBegin as int, @FYearEnd as int, @FMonthEnd as int
AS
BEGIN
 --   DECLARE @FYearBegin as int = 2019
	--DECLARE @FMonthBegin as int = 12
	--DECLARE @FYearEnd as int = 2020
	--DECLARE @FMonthEnd as int = 3
	SELECT * FROM [W008].dbo.SupplyChainInvVal
	WHERE PlantId = 'HAR'
	AND (FYear = @FYearBegin AND FMonth >= @FMonthBegin) OR (FYear = @FYearEnd AND FMonth <= @FMonthEnd)
	UNION ALL
	SELECT * FROM [W005].dbo.SupplyChainInvVal
	WHERE PlantId = 'STA'
	AND (FYear = @FYearBegin AND FMonth >= @FMonthBegin) OR (FYear = @FYearEnd AND FMonth <= @FMonthEnd)
	ORDER BY PlantId, ItemId, FYear desc, FMonth desc
END
GO
