USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWHexcelFullWOCustomer]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by WebMESCriticalQualityAttribute
	Returns data for the report rhexcelFullWOforCustomer
*/

CREATE PROCEDURE [dbo].[spSWHexcelFullWOCustomer]
	@OrderNo varchar(8)
	

AS
BEGIN

--declare @OrderNo varchar(8) = '00048380'



SELECT SpoolNo, MAX(Id) AS TGDDId, TestGroupDtlId
INTO #T
FROM [W005].[dbo].[SW_TestGroupDtlData] WHERE TestGroupDtlId 
										IN (SELECT Id FROM [W005].[dbo].[SW_TestGroupDtl] WHERE TestGroupHdrId
										IN (SELECT Id FROM [W005].[dbo].[SW_TestGroupHdr] WHERE TestHdrId
										IN (SELECT ID FROM [W005].[dbo].[SW_TestHdr] WHERE ProdOrderNo=@OrderNo)))
GROUP BY SpoolNo,TestGroupDtlId

--SELECT * FROM #T ORDER BY TestGroupDtlId,SpoolNo


	SELECT  th.ReleaseNo, th.ReleaseId, th.Machine, th.MachineGroupId, th.CustomerBatchSuffix
		,WorkOrder = RIGHT('00000000' + CAST(th.ProdOrderNo as varchar(8)),8) 
		,th.SetID  --DEV AG 2/12/2026 NOTE: th.SetID contains ORE.SetId, which is the tblMpOrderReleases.Id (or tblMpHistoryOrderReleases.ReleaseId) with a Z appended if mixed batch
		,PlantID = th.CompID 
		,TGHId = tgh.Id 
		,tgh.TestGroupName
		,th.SWTolerance_Target,th.SWTolerance_Min,th.SWTolerance_Max
		,th.NCNum
		,TTKey = tgd.TestType 
		,CustName = th.CustomerName 
		,th.CustId
		,th.CustomerPO
		,th.MaterialType
		,th.InvDescription
		,Tolerance = IIF(th.MaterialType = '158','+/-0,203mm Individual, +/-0,127mm Mean','+/-0,127mm Mean') 
		,th.CustomerShipToName
		,th.Batch
		,th.BatchSuffix
		,PlantName = IIF(th.CompID = '003','Atlanta',IIF(th.CompID = '009','Stade',IIF(th.CompID = '114','Omega','CadCut')))
		,tgdd.Id
		,tgdd.SpoolNo
		,tgdd.SampleNo,tgdd.TestLevel,tgdd.MeanMM,tgdd.MeanIN,tgdd.MeanOOT,tgdd.SpoolRejected,tgdd.TestDate,tgdd.UserId,tgdd.GageId,tgdd.GageName,tgdd.MMPos1,tgdd.mmpos2,tgdd.MMPos3,tgdd.mmpos4,tgdd.mmpos5,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
		,tgdd.OOTPos1,tgdd.OOTPos2,tgdd.OOTPos3,tgdd.OOTPos4,tgdd.OOTPos5
		,TestSampleName = IIF(CAST(tgdd.TestLevel as varchar(1)) = '1','Sample ' + CAST(tgdd.SampleNo as varchar(1)),'Retest') 
		,TestLevelName = IIF(tgdd.TestLevel=0,'','Position Retest') 
		,SpoolNCNum = IIF(tgdd.SpoolRejected=1,th.NCNum,'') 
		,TargetMM = CAST(tgdd.TargetMM as decimal(10,3))
		,TargetIN = CAST(tgdd.TargetIN as decimal(10,3))
		,[Target] = CAST(CAST(tgdd.TargetMM as decimal(10,3)) as varchar(7)) + ' mm/' + CAST(CAST(tgdd.TargetIN as decimal(10,3)) as varchar(7)) + ' in' 
		,OPBatch = IIF(th.Batch2 is null,th.Batch + th.BatchSuffix,th.Batch + th.BatchSuffix + 'Z') 
		,tgdd.HandlingDamageRetest,tgdd.MaterialIssueRetest,tgdd.ImproperSampleInstallationRetest
		,RetestReason = IIF(tgdd.HandlingDamageRetest=1,':Handling',IIF(tgdd.ImproperSampleInstallationRetest=1,':Improper Install',IIF(tgdd.MaterialIssueRetest=1,':Material',''))) 
	FROM [W005].[dbo].[SW_TestHdr] th
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
	WHERE th.ProdOrderNo = @OrderNo AND tgh.TestGroupName IN ('START UP','END of SET')
		AND tgdd.Id IN (SELECT TGDDId FROM #T)
	

DROP Table #T

	 
END
GO
