USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBAEKitMultiBagLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIBAEKitMultiBagLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00036239'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId AS int = 927463

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

SELECT OrderNo,ReleaseNo,RevisionNo,TaskNo,ItemId,FGTravSerNum,JobNo,CustPONum,CustRev,CustPN
	  ,RMSerialNo,RMLotNo,MaterialType,RMMaxOT,RawMatlExpDate,RemainingOTHours,FGBarcode,Receiver, BagNum, PlyLayers
FROM 
(
SELECT DISTINCT	 C.OrderNo
				,C.ReleaseNo
				,C.RevisionNo
				,P.BagNum
				,P.PlyLayers
				,C.ItemId
				,CustPN = A.AliasID
				,TaskNo = A.[cf_Product Lot Designation]
				,FGTravSerNum = I.TravSerNum
				,JobNo = C.ParentOrderNo
				,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				,CustRev = C.CustRev
				,R.RMSerialNo 
				,R.RMLotNo 
				,MaterialType = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.RMItemId) --uses Raw Material Description
				,RMMaxOT = (SELECT MaxRoomTimeHrs FROM [W005].[dbo].OutTimeItemSpecs WHERE ItemId=R.RMItemId AND (ProgramId = 0 OR ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				,RawMatlExpDate = (SELECT
									CASE
									WHEN EXISTS(
										SELECT ItemId FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=R.RMItemId AND [cf_Out-Time Tracked] = 1
									)
									THEN (SELECT ExpDate FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR [LotNum]=R.RMSerialNo))
									ELSE NULL
									END AS RawMatlExpDate)

				,RemainingOTHours = (SELECT ROUND(MaxRoomTimeHrs - (CAST(IsNull(EstTotalRoomMinutes,[TotalRoomMinutes])AS FLOAT) /60),2)
										FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] M 
											 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] O ON O.ItemId = M.RMItemId
										WHERE M.Id=R.Id AND (O.ProgramId = 0 OR O.ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				,FGBarcode = '1' + '|' + I.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum,'')
				--,Receiver = (SELECT Cmnt FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR [LotNum]=R.RMSerialNo))
				,Receiver = Null

	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS I ON I.OrderNo=C.ParentOrderNo AND I.IsAssembly = 1
			INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS R ON R.OrderReleaseEventItemId=I.Id
			INNER JOIN [W005].[dbo].[CCIPlyStackHeader] PH ON PH.OrderReleaseEventItemId=I.Id
			INNER JOIN [W005].[dbo].[CCIPlyStackDetail] PD ON PD.CCIPlyStackHeaderId=PH.Id
			INNER JOIN [W005].[dbo].[CCIPly] P ON P.Id=PD.CCIPlyId
			LEFT JOIN [W005].[dbo].[vCCIParentOrder] AS CPO ON CPO.ParentOrder=C.ParentOrderNo AND CPO.Kits=C.ItemId
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_view] AS A ON A.ItemID=C.ItemId AND (A.RefId=M.CustId OR A.RefID=MHist.CustId) AND (A.[cf_FG Program] = CPO.Program OR A.[cf_FG Program] IS NULL)
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and (@OrderReleaseEventItemId is null or I.Id = @OrderReleaseEventItemId) 
) A


END

GO
