USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSpliceLogOrderRelease]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSpliceLogOrderRelease] @OrderNo as Varchar(8), @ReleaseNo as Int, @OutSideIn as bit = 0
AS
BEGIN

	--DECLARE @OrderNo as varchar(8) = '00000058'
	--DECLARE @ReleaseNo as int = 1
	--DECLARE @OutSideIn as bit = 0

	SELECT S.Id as SpliceId
			 , D.Id as SpliceDtlId
			 , S.OrderReleaseEventId
			 , S.SpliceType
			 , D.SplicePosition
			 , D.SplicePositionPrev
			 , D.SplicePosition - D.SplicePositionPrev as SegmentLength
			 , D.IsShortSegment
			 , S.PLCLengthCounter
			 , S.SpliceTbl2SlitterOffset 			 
			 , D.CurrRMOREIId
			 , D.PrevRMOREIId
			 , S.SpliceAddlInfo
	INTO #SpliceOrSpliceRW
	FROM OrderReleaseEvent E
		 INNER JOIN OrderReleaseEventSplice S ON S.OrderReleaseEventId=E.Id
		 INNER JOIN OrderReleaseEventSpliceDetail D ON D.OrderReleaseEventSpliceId=S.Id
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo=@ReleaseNo
	UNION
	SELECT S.Id as SpliceId
			 , D.Id as SpliceDtlId
			 , S.OrderReleaseEventId
			 , S.SpliceType
			 , D.SplicePosition
			 , D.SplicePositionPrev
			 , D.SplicePosition - D.SplicePositionPrev as SegmentLength
			 , D.IsShortSegment
			 , S.PLCLengthCounter
			 , S.SpliceTbl2SlitterOffset 			 
			 , D.CurrRMOREIId
			 , D.PrevRMOREIId
			 , S.SpliceAddlInfo
	FROM OrderReleaseEvent E
		 INNER JOIN OrderReleaseEventSpliceRW S ON S.OrderReleaseEventId=E.Id
		 INNER JOIN OrderReleaseEventSpliceDetailRW D ON D.OrderReleaseEventSpliceRWId=S.Id
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo=@ReleaseNo


	SELECT DISTINCT E.OrderNo
			 , E.ReleaseNo
			 , O.PurchaseOrder
			 , C.CustName
			 , I.IsAssembly
			 , I.ItemId
			 , I.CutPos
			 , I.SerialNo
			 , I.LotNo
			 , I.TravLotNum
			 , I.MfgDate
			 , I.TotalQty
			 , I.TotalWaste
			 , EC.Description As SpliceType
			 , EC1.Description AS SpliceAddlInfo
			 , S.SpliceId
			 , S.SpliceDtlId
			 , S.SplicePosition
			 , S.SplicePositionPrev
			 , S.SplicePosition - S.SplicePositionPrev as SegmentLength
			 , S.IsShortSegment
			 , S.PLCLengthCounter
			 , S.SpliceTbl2SlitterOffset
			 , RM.ItemId AS RMItemId
			 , RM.SerialNo AS RMSerialNo
			 , RM.LotNo AS RMLotNo
			 , ISNULL(A.AliasID, I.ItemId) AS FGAliasID
			 , ISNULL(RMA.AliasID, RM.ItemId) AS RMAliasID
			 , E.Machine
			 , S.CurrRMOREIId
			 , S.PrevRMOREIId
			 , SpoolLengthLM = I.TotalQty / U1.ConvFactor
			 , SpoolAreaSQM = I.TotalQty / U2.ConvFactor
			 , SpoolWeightKG = I.TotalQty / U3.ConvFactor
			 , SpliceCount = (SELECT Count(SplicePosition) AS SpliceCount from OrderReleaseEventSpliceDetail WHERE OrderReleaseEventItemId  = I.Id)
			 , I.Rewind
			 , I.RWOREIId
	INTO #SpliceInfo
	from #SpliceOrSpliceRW S -- from OrderReleaseEventSplice S
	LEFT JOIN OrderReleaseEventItem I ON I.IsAssembly = 1
	LEFT JOIN OrderReleaseEvent E ON E.Id = S.OrderReleaseEventId
	--LEFT JOIN OrderReleaseEventSpliceDetail D ON D.OrderReleaseEventSpliceId = S.SpliceId AND D.OrderReleaseEventItemId = I.Id
	LEFT JOIN (SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo 
				UNION ALL
				SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpHistoryOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo) O ON O.OrderNo = E.OrderNo AND O.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].dbo.tblArCust C ON C.CustId = O.CustId
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC ON EC.Id = S.SpliceType
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC1 ON EC1.Id = S.SpliceAddlInfo
	LEFT JOIN OrderReleaseEventItem RM ON RM.Id = S.PrevRMOREIId
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = I.ItemId AND A.AliasType = 1 AND A.RefID = O.CustId
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View RMA ON RMA.ItemID = RM.ItemId AND RMA.AliasType = 1 AND RMA.RefID = O.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 on U1.ItemId = I.ItemId AND U1.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U2 on U2.ItemId = I.ItemId AND U2.Uom = 'SM'
	LEFT JOIN [005].dbo.tblInItemUom U3 on U3.ItemId = I.ItemId AND U3.Uom = 'KG'
	where S.SpliceId is not null 
		AND S.OrderReleaseEventId in (select id from OrderReleaseEvent WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo) 
		AND I.OrderReleaseEventId in (select id from OrderReleaseEvent WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo)

	SELECT #SpliceInfo.ItemId, #SpliceInfo.CutPos, #SpliceInfo.SerialNo, #SpliceInfo.SpliceType, #SpliceInfo.SpliceAddlInfo, #SpliceInfo.SpliceId, #SpliceInfo.SpliceDtlId,#SpliceInfo.SplicePosition ,#SpliceInfo.SplicePositionPrev, #SpliceInfo.RMAliasID, #SpliceInfo.SpliceTbl2SlitterOffset, I.ItemId AS RMItemId, I.SerialNo AS RMSerialNo, I.LotNo AS RMLotNo
	INTO #SpliceInfoLastRM
	FROM #SpliceInfo 
	INNER JOIN (SELECT ItemId, CutPos, SerialNo, Max(PLCLengthCounter) AS PLCCounter 
	            FROM #SpliceInfo
				WHERE SpliceType = 'Splice (Backend)'
				GROUP BY ItemId, CutPos, SerialNo) T ON T.PLCCounter = #SpliceInfo.PLCLengthCounter AND T.SerialNo = #SpliceInfo.SerialNo	
	INNER JOIN OrderReleaseEventItem I ON I.Id = #SpliceInfo.CurrRMOREIId

	SELECT DISTINCT OrderNo
			 , ReleaseNo
			 , PurchaseOrder
			 , CustName
			 , IsAssembly
			 , ItemId
			 , CutPos
			 , SerialNo
			 , LotNo
			 , TravLotNum
			 , MfgDate
			 , TotalQty
			 , TotalWaste
			 , SpliceType
			 , SpliceAddlInfo
			 , SpliceId
			 , SpliceDtlId
			 , SplicePosition
			 , SplicePositionPrev
			 , SegmentLength
			 , IsShortSegment
			 , PLCLengthCounter
			 , SpliceTbl2SlitterOffset
			 , RMItemId
			 , RMSerialNo
			 , RMLotNo
			 , FGAliasID
			 , RMAliasID
			 , Machine
			 , SpoolLengthLM
			 , SpoolAreaSQM
			 , SpoolWeightKG
			 , SpliceCount
			 , Rewind
			 , RWOREIId
	INTO #Splices
	from #SpliceInfo S

	--if exists (SELECT OrderNo FROM OrderReleaseEvent WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND Event = 'End Manufacturing') 
	--BEGIN
	--	INSERT INTO #Splices 
	--	SELECT DISTINCT E.OrderNo
	--			 , E.ReleaseNo
	--			 , O.PurchaseOrder
	--			 , C.CustName
	--			 , I.IsAssembly
	--			 , I.ItemId
	--			 , I.CutPos
	--			 , I.SerialNo
	--			 , I.LotNo
	--			 , I.TravLotNum
	--			 , I.MfgDate
	--			 , I.TotalQty
	--			 , I.TotalWaste
	--			 , SpliceType = R.SpliceType
	--			 , SpliceAddlInfo = R.SpliceAddlInfo
	--			 , SpliceId = 0 --R.SpliceId
	--			 , SpliceDtlId = 0 --R.SpliceDtlId
	--			 , SplicePosition = I.TotalQty
	--			 , SplicePositionPrev = R.SplicePosition
	--			 , SegmentLength = I.TotalQty - R.SplicePosition
	--			 , IsShortSegment = 0
	--			 , PLCLengthCounter = (SELECT MAX(TotalQty) FROM OrderReleaseEventItem WHERE IsAssembly=1 AND OrderReleaseEventId in (select id from OrderReleaseEvent WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo))
	--			 , SpliceTbl2SlitterOffset = R.SpliceTbl2SlitterOffset
	--			 , RMItemId = R.RMItemId
	--			 , RMSerialNo = R.RMSerialNo
	--			 , RMLotNo = R.RMLotNo
	--			 , ISNULL(A.AliasID, I.ItemId) AS FGAliasID
	--			 , RMAliasID = R.RMAliasID
	--			 , E.Machine
	--			 , SpoolLengthLM = I.TotalQty / U1.ConvFactor
	--			 , SpoolAreaSQM = I.TotalQty / U2.ConvFactor
	--			 , SpoolWeightKG = I.TotalQty / U3.ConvFactor
	--			 , SpliceCount = (SELECT Count(SplicePosition) AS SpliceCount from OrderReleaseEventSpliceDetail WHERE OrderReleaseEventItemId  = I.Id)
	--	from OrderReleaseEventItem I 
	--	LEFT JOIN OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId 
	--	LEFT JOIN (SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo 
	--				UNION ALL
	--				SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpHistoryOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo) O ON O.OrderNo = E.OrderNo AND O.ReleaseNo = E.ReleaseNo
	--	LEFT JOIN [005].dbo.tblArCust C ON C.CustId = O.CustId
	--	LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = I.ItemId AND A.AliasType = 1 AND A.RefID = O.CustId
	--	LEFT JOIN #SpliceInfoLastRM R ON R.ItemId = I.ItemId AND R.SerialNo = I.SerialNo AND R.CutPos = I.CutPos
	--	LEFT JOIN [005].dbo.tblInItemUom U1 on U1.ItemId = I.ItemId AND U1.Uom = 'LM'
	--	LEFT JOIN [005].dbo.tblInItemUom U2 on U2.ItemId = I.ItemId AND U2.Uom = 'SM'
	--	LEFT JOIN [005].dbo.tblInItemUom U3 on U3.ItemId = I.ItemId AND U3.Uom = 'KG'
	--	where I.OrderReleaseEventId in (select id from OrderReleaseEvent WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo)
	--	AND I.IsAssembly = 1 AND SpliceId IS NOT NULL
	--END 

	if @OutSideIn = 1
	BEGIN
	  UPDATE #Splices SET SplicePosition = TotalQty - SplicePosition, SplicePositionPrev = TotalQty - SplicePositionPrev, PLCLengthCounter = TotalQty - PLCLengthCounter
	END
	SELECT * FROM #Splices
	Order by PLCLengthCounter, SerialNo

	DROP TABLE #SpliceOrSpliceRW
	DROP TABLE #SpliceInfoLastRM;
	DROP TABLE #SpliceInfo;
	DROP TABLE #Splices;

END
GO
