USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackListCofCRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIPackListCofCRpt] @PLNo AS INT
AS
BEGIN 

--DECLARE @PLNo AS INT = 42532 -- 22835 --31375 --31338 --

	SELECT DISTINCT		
			SPL.PLNo, 
			SPL.OrderNo AS SalesOrder,
			SPL.ShipDate,
			SPL.ShipMethod,
			SPL.ShipTerms,
			SPL.PRONo,
			TempRecorders = 
						STUFF((SELECT ', ' + TempRecorderSN
								FROM ShipPackingListTempRecorder SPLTR
								WHERE SPLTR.PLNo=SPL.PLNo AND SPLTR.[Override]=0
								FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),1,1,''),
			SPL.ShipFromName,
			ShipFromAddress = SPL.ShipFromAddr1 + IIF(SPL.ShipFromAddr2 IS NULL, '',  IIF(SPL.ShipFromAddr2 = '', '', ', '+SPL.ShipFromAddr2)),
			SPL.ShipFromCity,
			SPL.ShipFromRegion,
			SPL.ShipFromPostalCode,
			SPL.ShipFromCountry,
			SPL.ShipFromPhone,
			SPL.ShipToName,
			SPL.CustName,
			CustRevNo = ISNULL(SPLD.CustRev,ORI.CustRev),
			PONum = IIF(SPLSO.CustPONum = '', SPL.CustPO, ISNULL(SPLSO.CustPONum, SPL.CustPO)),
			POLine = SPLSO.CustPOLine,
			PartNo = IIF((SELECT CAST(IIF(COUNT(Characteristic)=1, 1, 0) AS bit) FROM CustomerChar CC INNER JOIN CustomerCharacteristic C ON C.Id=CC.CharId WHERE C.Characteristic = 'CofC_Alias_After_Desc' AND CC.CustId=SPL.CustId AND CC.Enforce = 1) = 1, SPLD.ItemDescr + ' CustPN:' + SPLD.CustomerPN ,IIF(SPLD.CustomerPN = '', SPLD.ItemDescr, ISNULL(SPLD.CustomerPN, SPLD.ItemDescr))),
			Qty = SUM(SPLD.Qty) 
	FROM ShipPackingList SPL
		 INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
		 LEFT JOIN OrderReleaseEventItem OREI ON OREI.ItemId=SPLD.ItemId AND OREI.TravSerNum=SPLD.SerialNo
		 LEFT JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId 
		 LEFT JOIN CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo=ORE.OrderNo AND ORI.ItemId=OREI.ItemId
		 LEFT JOIN ShipPackingListSOLine SPLSO ON SPLSO.PLNo=SPL.PLNo AND SPLSO.ItemId=SPLD.ItemId AND SPLD.SPLSOLineId=SPLSO.SOLine
	WHERE SPL.PLNo = @PLNo
GROUP BY SPL.PLNo, SPL.OrderNo, SPL.ShipDate, SPL.ShipMethod, SPL.ShipTerms, SPL.PRONo, SPL.ShipFromName, SPL.ShipFromAddr1, SPL.ShipFromAddr2,
		 SPL.ShipFromCity, SPL.ShipFromRegion, SPL.ShipFromPostalCode, SPL.ShipFromCountry, SPL.ShipFromPhone, SPL.ShipToName, SPL.CustName, SPLD.CustRev,ORI.CustRev,
		 SPLD.ItemId, SPLSO.CustPONum, SPL.CustPO, SPLSO.CustPOLine, SPLD.CustomerPN, SPLD.ItemDescr, SPL.CustId
ORDER BY PONum, SPLSO.CustPOLine

END
GO
