USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountPalletData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetInventoryCountPalletData]
	@ShipPalletNo as varchar(10)
AS
BEGIN

--declare @ShipPalletNo as varchar(10) ='P000157427'

	SELECT DISTINCT  sp.Id,sp.ShipPalletNo, si.ItemId,ii.Descr,
			si.Location,sp.DateCreated,
			TOPS = sp.TOPSforExtruding,
			TotalQty = SUM(si.Quantity),
			UOM = si.UOM,
			TotalNoRolls = SUM(si.NoRolls),
			LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
															(
																(
																	SELECT DISTINCT '/' + LEFT(I.LotNo,8)
																	FROM [W005].[dbo].[ShipItem] as I
																	WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
																	FOR XML PATH(''), TYPE
																).value('.[1]','nvarchar(max)'),
																1,1,''
															)
					ELSE  STUFF
								(
									(
										SELECT DISTINCT '/' + I.LotNo 
										FROM [W005].[dbo].[ShipItem] as I
										WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
										FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),
									1,1,''
								)
					END,
			SerNum = STUFF
							(
								(
									SELECT DISTINCT '/' + I.TravSerNum 
									FROM [W005].[dbo].[ShipItem] as I
									WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							)
			,sp.Complete, si.PostedToTraverse

	FROM  [W005].[dbo].[ShipPallet] As sp INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipPalletId=sp.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
		
	WHERE sp.ShipPalletNo=@ShipPalletNo
	GROUP BY sp.Id,sp.ShipPalletNo, si.ItemId,ii.Descr,si.Location,sp.DateCreated,sp.TOPSforExtruding, si.UOM,
			sp.Complete,sp.Deleted,sp.Shipped,sp.PhantomAdjOut,sp.UsedByProduction, si.PostedToTraverse

END
GO
