USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMaxFGCounter]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetMaxFGCounter] @OrderNo as varchar(10), @ReleaseNo as int, @CurrentOREId as Int
AS
BEGIN
  SELECT MaxFGCounter = PLCLengthCounter + Qty 
  FROM [OrderReleaseEventItem] 
  WHERE IsAssembly = 0 
  AND OrderReleaseEventId = (
													SELECT Top 1 Id 
													FROM [OrderReleaseEvent]  
													WHERE OrderNo = @OrderNo 
													AND ReleaseNo = @ReleaseNo 
													AND Id < @CurrentOREId
													AND Event = 'Load Material' 
													ORDER BY ID desc
												) 
 ORDER BY Id DESC
END
GO
