USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIOTKitLabel4x6]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIOTKitLabel4x6] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int, @PLNo AS int = null
AS
BEGIN
 
--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00048514'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId as int = 0 
--DECLARE @PLNo AS int = 0

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

If @PLNo = 0
BEGIN
   SET @PLNo = NULL 
END

	SELECT DISTINCT OrderNo,ReleaseNo  ,CustName  ,ProdOrdHdr,CCIRevHdr ,RMAlias  ,FGAlias 
				  ,PurchaseOrder ,FGItemId ,FGTravSerNum 
				  ,JobNo  ,MaterialStorageTempC,MaterialStorageTempF ,MfgDate ,OREIId
				  ,Barcode  ,PartialKitBarcode ,HdrLine1 ,HdrLine2 ,ParentOrderNo
				  ,BagNum
				  ,StorageTemp = IIF(MaterialStorageTempC = 1000, IIF(MaterialStorageTempF = 1000, '','SHELF LIFE CONTROL STORAGE TEMP '+CAST(CAST(MaterialStorageTempF AS int) as varchar(4))+ '°F or BELOW') ,'SHELF LIFE CONTROL STORAGE TEMP '+CAST(CAST(MaterialStorageTempC as int) as varchar(4))+ '°C or BELOW')
	FROM
	(SELECT DISTINCT C.OrderNo
				  ,C.ReleaseNo
				  ,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE (CustId=M.CustId OR CustId=MHist.CustId))
				  ,ProdOrdHdr = FGItem.Descr + --uses Assembly Description
								ISNULL(' ' + 
								(SELECT ' Rev.' + (SELECT DISTINCT [cf_Customer Revision No] FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=C.ItemId AND RevisionNo=C.RevisionNo)
								 FROM [W005].[dbo].[CCIManufacturingGroup] -- uses Customer Rev No.
								 WHERE Id=C.CCIManufacturingGroupId),'')
				  ,CCIRevHdr = FGItem.Descr  +  ' ' + ISNULL((SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=C.OrderNo), MHist.RevisionNo)
				  ,RMAlias = (SELECT TOP 1 AliasID 
							  FROM [005].[dbo].[trav_tblInItemAlias_View]
							  WHERE ItemId=RM.ItemId AND (RefID=M.CustId OR RefID=MHist.CustId) AND (([cf_FG Program]=FGItem.[cf_FG Program]) OR [cf_FG Program] Is NULL)
							  ORDER BY [cf_FG Program] DESC)
				  ,FGAlias = (SELECT AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=FGItem.ItemId AND (RefID=M.CustId OR RefID=MHist.CustId))
				  ,ISNULL(M.PurchaseOrder, MHist.PurchaseOrder) AS PurchaseOrder
				  ,C.ItemId AS FGItemId
				  ,TravSerNum AS FGTravSerNum
				  ,JobNo = C.ParentOrderNo
				  ,MaterialStorageTempC = ISNULL((SELECT nTarget FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempC' ), 1000)

				  ,MaterialStorageTempF = ISNULL((SELECT nTarget FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempF'), 1000)
				  ,EI.MfgDate
				  ,EI.Id AS OREIId
				  ,Barcode = '1' +'|' + C.ItemId + '|' + EI.TravSerNum + '|' + ISNULL(EI.TravLotNum, '')
				  ,PartialKitBarcode = '1' + '|' + C.ItemId + '|' + EI.TravSerNum + '|' + ISNULL(EI.TravLotNum, '') + '|' + C.ParentOrderNo + '|' + '1'
				  ,HdrLine1 = FGItem.Descr
				  ,HdrLine2 = (SELECT AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=FGItem.ItemId AND (RefID=M.CustId OR RefID=MHist.CustId))
							    + ISNULL(' ' + 
								(SELECT 'Rev.' + (SELECT DISTINCT [cf_Customer Revision No] FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=C.ItemId AND RevisionNo=C.RevisionNo)
								 FROM [W005].[dbo].[CCIManufacturingGroup] -- uses Customer Rev No.
								 WHERE Id=C.CCIManufacturingGroupId),'')
				  ,C.ParentOrderNo
			FROM [W005].[dbo].[CCIOrderReleaseInfo] AS C
				  LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo 
				  LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo 
				  INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON C.ParentOrderNo = E.OrderNo
				  INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON E.Id = EI.OrderReleaseEventId AND C.ItemId = EI.ItemId AND IsAssembly = 1
				  --INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] AS OREIOT ON OREIOT.OrderReleaseEventId=E.Id
				  --LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS K ON K.OrderReleaseEventItemId=EI.Id
				  LEFT JOIN (SELECT OrderReleaseEventId, ItemId, SerialNo, TotalQtyConsumed, UOM FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=0) AS RM ON RM.OrderReleaseEventId=E.Id
				  INNER JOIN [005].[dbo].[trav_tblInItem_View] AS FGItem ON FGItem.ItemId=C.ItemId
			WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId is null or EI.Id = @OrderReleaseEventItemId)
				  AND (@PLNo IS NULL OR EI.TravSerNum IN (SELECT DISTINCT SerialNo FROM ShipPackingListDetail WHERE PLNo=@PLNo AND ItemId=EI.ItemId)) 
	) A
	INNER JOIN [W005].[dbo].CCIPly P ON P.ItemId = A.FGItemId
	ORDER BY P.BagNum

END
GO
