USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPickListData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPickListData]
	@LocId as varchar(10), @StartDate as datetime, @EndDate as datetime
AS
BEGIN
	
--DECLARE @LocId as varchar(10) = 'INVMTP'
--DECLARE @StartDate as datetime = '5/14/18 00:00'
--DECLARE @EndDate as datetime = '5/16/18 00:00'

DECLARE @48HrDT as datetime
SET @48HrDT = DateAdd(hour,48,@EndDate)

	SELECT  Distinct [ParentOrderNo], ScheduledOnMachines,MfgStartDate
	INTO #T1
	FROM [W005].[dbo].[CCIOrderReleaseInfo]
	WHERE Scheduled = 1 and (ScheduledOnMachines is not null AND (ScheduledOnMachines Not Like '%UNSCHEDULED%') AND LEN(IsNUll(ScheduledOnMachines,'')) >0)
	AND MfgStartDate between @StartDate and @48HrDT
	AND LocId = @LocId

/* 
select * FROM #T1
 drop table #T1
  drop table #T2
*/
  select CL.ParentOrderNo, R.ItemId, SUM(R.Layers * CF1.MaterialLength)/U.ConvFactor AS TotalRMQtyNeeded, I.UomDflt As UOM
		, #T1.ScheduledOnMachines, #T1.MfgStartDate
		,CASE WHEN EXISTS (SELECT MinThawTimeHrs FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=R.ItemId AND ProgramId=CL.ProgramId)
		   THEN (SELECT MinThawTimeHrs FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=R.ItemId AND ProgramId=CL.ProgramId)
		   ELSE (SELECT MinThawTimeHrs FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=R.ItemId AND ProgramId = 0)
		  END AS MinThawHr
  INTO #T2			
  FROM  #T1 INNER JOIN
		[W005].[dbo].[CCIParentOrderCutList] CL ON #T1.ParentOrderNo=CL.ParentOrderNo INNER JOIN 
        [W005].[dbo].[CCICutFile] CF1 ON CF1.Id = CL.CCICutFileId INNER JOIN
        [W005].[dbo].[CCICutFileRawMaterial] R ON R.CCICutFileId = CF1.Id INNER JOIN
        [005].[dbo].tblInItem I ON I.ItemId = R.ItemId INNER JOIN
        [005].[dbo].tblInItemUom U ON U.ItemId = I.ItemId and U.Uom = I.UomDflt
  GROUP BY CL.ParentOrderNo, R.ItemId, U.ConvFactor,#T1.ScheduledOnMachines,CL.ProgramId, #T1.MfgStartDate, I.UomDflt

  SELECT * FROM #T2  WHERE DATEADD(hour,(-1 * MinThawHr),MfgStartDate) BETWEEN @StartDate AND DateAdd(hour,8,@EndDate) 

  SELECT ItemId, SUM(TotalRMQtyNeeded ) as TotalRMQtyNeeded, UOM, TotalQtySelected = 0
  FROM #T2
  WHERE DATEADD(hour,(-1 * MinThawHr),MfgStartDate) BETWEEN @StartDate AND DateAdd(hour,8,@EndDate)
  GROUP BY ItemId,UOM


  drop table #T1
  drop table #T2




END




GO
