USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackingListDetailDflt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Returns data  for CCI PL Dflt
CREATE PROCEDURE [dbo].[spCCIPackingListDetailDflt]
	@PLNo int
AS
BEGIN

--DECLARE @PLNo int = 34258
---------------------------

DECLARE @SIId int
DECLARE @SBId int
DECLARE @SCId int
DECLARE @SPId int
DECLARE @SOLine int
DECLARE @SOLineCount int
DECLARE @QtyOrdSell decimal(20,10)
DECLARE @CustRevNo varchar(11)
DECLARE @CustPOLine int
DECLARE @CustPONum varchar(75)
DECLARE @Descr varchar(35)
DECLARE @CustPN varchar(24)
-----------------------------------------------
--SELECT DISTINCT SPLSOLineId, COUNT(SPLSOLineId) AS LineCount, ItemId
--INTO #SOLineIds
--FROM [W005].[dbo].[ShipPackingListDetail] 
--WHERE PLNo IN (22649 ) 
--GROUP BY SPLSOLineId, ItemId

--SELECT * FROM #SOLineIds
--DROP TABLE #SOLineIds
---------------------
DECLARE @Item TABLE (ItemId varchar(24)
					,SOLine int
					,Qty decimal(20,1)
					,QtyOrdSell decimal(20,10)
					,CustRevNo varchar(11)
					,CustPOLine int
					,CustPONum varchar(75)
					, Descr varchar(35)
					,CustPN varchar(24))

DECLARE curSOLineId CURSOR FOR
	SELECT DISTINCT SPLSOLineId, COUNT(SPLSOLineId) AS LineCount
	FROM [W005].[dbo].[ShipPackingListDetail] 
	WHERE PLNo = @PLNo
	GROUP BY SPLSOLineId

OPEN curSOLineId;
FETCH NEXT FROM curSOLineId INTO @SOLine,@SOLineCount;
WHILE @@FETCH_STATUS = 0
   BEGIN
		DECLARE iCursor CURSOR FOR
			SELECT  ShipItemId,ShipBoxId,ShipCartonId,ShipPalletId
					, l.QtyOrdSell,l.CustRevNo,l.CustPOLine, l.CustPONum
					,Descr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=d.ItemId)
					,CustPN = (SELECT TOP 1 AliasID FROM [005].[dbo].[tblInItemAlias] WHERE ItemId=d.ItemId AND AliasType=1 AND RefID = (SELECT CustId FROM [W005].[dbo].[ShipPackingList] WHERE PLNo=@PLNo))
			FROM [W005].[dbo].[ShipPackingListDetail]  d
				LEFT JOIN [W005].[dbo].[ShipPackingListSOLine] l ON d.PLNo=l.PLNo AND D.ItemId = l.ItemId AND d.SPLSOLineId=l.SOLine
			WHERE d.SPLSOLineId=@SOLine AND d.PLNo=@PLNo

		OPEN iCursor;

		FETCH NEXT FROM iCursor INTO @SIId,@SBId,@SCId,@SPId,@QtyOrdSell,@CustRevNo,@CustPOLine,@CustPONum,@Descr,@CustPN;
		WHILE @@FETCH_STATUS = 0
		   BEGIN
			--------------------------
				IF @SIId Is Not Null
					BEGIN
						INSERT INTO @Item (ItemId,SOLine,Qty,QtyOrdSell,CustRevNo,CustPOLine,CustPONum,Descr,CustPN) VALUES ((SELECT ItemId FROM [W005].[dbo].[ShipItem] WHERE Id=@SIId),@SOLine,1,@QtyOrdSell,@CustRevNo,@CustPOLine,@CustPONum,@Descr,@CustPN)
					END
			-------------------------
				ELSE IF @SBId Is Not Null
					BEGIN
						SELECT ItemId,SOLine=@SOLine, SUM(Quantity) AS Qty,QtyOrdSell=@QtyOrdSell, CustRevNo=@CustRevNo, CustPOLine=@CustPOLine,CustPONum=@CustPONum,Descr=@Descr,CustPN=@CustPN
							INTO #B
							FROM  [W005].[dbo].[ShipItem] WHERE ShipBoxId=@SBId GROUP BY ItemId
						INSERT INTO @Item
							SELECT * FROM #B
						DROP TABLE #B
					END
			--------------------------
				ELSE IF @SCId Is Not Null
					BEGIN
						SELECT ItemId,SOLine=@SOLine, SUM(Quantity) AS Qty, QtyOrdSell=@QtyOrdSell, CustRevNo=@CustRevNo, CustPOLine=@CustPOLine,CustPONum=@CustPONum,Descr=@Descr,CustPN=@CustPN
							INTO #C
							FROM  [W005].[dbo].[ShipItem] WHERE ShipCartonId=@SCId GROUP BY ItemId
						INSERT INTO @Item
							SELECT * FROM #C
						DROP TABLE #C
					END
			--------------------------
				ELSE IF @SPId Is Not Null
					BEGIN
						SELECT ItemId,SOLine=@SOLine, SUM(Quantity) AS Qty,QtyOrdSell=@QtyOrdSell, CustRevNo=@CustRevNo, CustPOLine=@CustPOLine,CustPONum=@CustPONum,Descr=@Descr,CustPN=@CustPN
							INTO #P
							FROM  [W005].[dbo].[ShipItem] WHERE ShipPalletId=@SPId GROUP BY ItemId
						INSERT INTO @Item
							SELECT * FROM #P
						DROP TABLE #P
					END
			--------------------------
				ELSE
					BEGIN
						SELECT DISTINCT ItemId,SOLine=@SOLine, SUM(Qty) AS Qty, QtyOrdSell=@QtyOrdSell, CustRevNo=@CustRevNo, CustPOLine=@CustPOLine,CustPONum=@CustPONum,Descr=@Descr,CustPN=@CustPN
							INTO #R
							FROM [W005].[dbo].[ShipPackingListDetail] 
							WHERE PLNo = @PLNo AND SPLSOLineId=@SOLine
							GROUP BY ItemId
						INSERT INTO @Item
							SELECT * FROM #R
						DROP TABLE #R
					END

			FETCH NEXT FROM iCursor INTO @SIId,@SBId,@SCId,@SPId,@QtyOrdSell,@CustRevNo,@CustPOLine,@CustPONum,@Descr,@CustPN;
		   END;
		CLOSE iCursor;
		DEALLOCATE iCursor;

   FETCH NEXT FROM curSOLineId INTO @SOLine,@SOLineCount;
   END;
CLOSE curSOLineId;
DEALLOCATE curSOLineId;



SELECT ItemId, SUM(Qty) AS ItemQty, Descr,CustPN,CustRevNo,CustPOLine,CustPONum
FROM @Item
GROUP BY ItemId, Descr,CustPN,CustRevNo,CustPOLine,CustPONum
ORDER BY CustPONum, CustPOLine




END


GO
