USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBCOKitLabelSubRpt1]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIBCOKitLabelSubRpt1] @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @OrderReleaseEventItemId AS int =  2244552	--212185		--206666	--213441 --

BEGIN 
SELECT ORK.Id AS ORKId, EIM.OrderNo AS IMOrderNo, EIM.ReleaseNo AS IMReleaseNo, RMItemId AS IMItemId, RMSerialNo AS IMSerialNo, RMLotNo AS IMLotNo, 
	   RM.ItemId AS RMItemId, RM.SerialNo AS RMSerialNo, RM.LotNo AS RMLotNo
INTO #IM1
FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
	 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] IM ON IM.SerialNo=ORK.RMSerialNo AND IM.IsAssembly = 1
	 INNER JOIN [W005].[dbo].[OrderReleaseEvent] EIM ON EIM.Id=IM.OrderReleaseEventId
	 INNER JOIN [W005].[dbo].[OrderReleaseEvent] ERM ON ERM.OrderNo=EIM.OrderNo AND ERM.ReleaseNo=EIM.ReleaseNo
	 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] RM ON RM.OrderReleaseEventId=ERM.Id AND RM.IsAssembly = 0
WHERE ORK.RMItemId LIKE 'IM%' AND OrderReleaseEventItemId = @OrderReleaseEventItemId
END ;


WITH #Temp1 AS 
(
	--initialization
	SELECT ORKId, IMOrderNo, IMReleaseNo, IMItemId, IMSerialNo, IMLotNo, RMItemId, RMSerialNo, RMLotNo
	FROM #IM1 I1
UNION ALL
	 --recursive execution
	 SELECT ORKId, EIM.OrderNo AS IMOrderNo, EIM.ReleaseNo AS IMReleaseNo, IM.ItemId AS IMItemId, IM.SerialNo AS IMSerialNo, IM.LotNo AS IMLotNo, 
			RM.ItemId AS RMItemId, RM.SerialNo AS RMSerialNo, RM.LotNo AS RMLotNo
	 FROM #IM1 I1
		  INNER JOIN OrderReleaseEventItem IM ON IM.SerialNo=I1.RMSerialNo AND IM.IsAssembly=1 AND I1.RMItemId LIKE 'IM%'
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] EIM ON EIM.Id=IM.OrderReleaseEventId
		  INNER JOIN [W005].[dbo].[OrderReleaseEvent] ERM ON ERM.OrderNo=EIM.OrderNo AND ERM.ReleaseNo=EIM.ReleaseNo
		  INNER JOIN [W005].[dbo].[OrderReleaseEventItem] RM ON RM.OrderReleaseEventId=ERM.Id AND RM.IsAssembly = 0
		  INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RM.ItemId AND L.GLAcctCode NOT IN ('40','41','42')
) SELECT * INTO #RM1 FROM #Temp1 WHERE RMItemId LIKE 'RM%' 


SELECT DISTINCT
		--A.CreatedByOrderReleaseEventId, 
		A.OrderReleaseEventItemId AS OrdRelEvntItemId,
		A.RMItemId,
		II.Descr AS MaterialType,
		RMAlias = (SELECT TOP 1 AliasID 
				FROM [005].[dbo].[trav_tblInItemAlias_View]
				WHERE ItemId=A.RMItemId AND (RefID=M.CustId OR RefID=MHist.CustId) AND (([cf_FG Program]=FGItem.[cf_FG Program]) OR [cf_FG Program] IS NULL OR [cf_FG Program] = '' OR [cf_FG Program] = ' ')
				ORDER BY [cf_FG Program] DESC)
FROM (
	SELECT DISTINCT
			CreatedByOrderReleaseEventId, OrderReleaseEventItemId, E.OrderNo, E.ReleaseNo, EI.LocID, FGItemId, FGTravSerNum,
			ISNULL(R1.RMItemId, ORK.RMItemId) AS RMItemId, ISNULL(R1.RMSerialNo, ORK.RMSerialNo) AS RMSerialNo,  ISNULL(R1.RMLotNo, ORK.RMLotNo) AS RMLotNo

	FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id=ORK.OrderReleaseEventItemId
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id=EI.OrderReleaseEventId
		 LEFT JOIN #RM1 R1 ON R1.ORKId=ORK.Id AND R1.RMItemId LIKE 'RM%'
	WHERE ORK.OrderReleaseEventItemId = @OrderReleaseEventItemId
UNION ALL 
	SELECT CreatedByOrderReleaseEventId, OrderReleaseEventItemId, E.OrderNo, E.ReleaseNo, EI.LocID, FGItemId, FGTravSerNum, 
		   RMItemId, RMSerialNo, RMLotNo

	FROM [W005].[dbo].[OrderReleaseKitRawMatlNonOT] ORK
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id=ORK.OrderReleaseEventItemId
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id=EI.OrderReleaseEventId
	WHERE ORK.RMItemId LIKE 'RM%' AND ORK.OrderReleaseEventItemId = @OrderReleaseEventItemId
) A
INNER JOIN [005].[dbo].[trav_tblInItem_View] AS II ON II.ItemId=A.RMItemId
INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS C ON C.ParentOrderNo = A.OrderNo AND C.ItemId=A.FGItemId
INNER JOIN [005].[dbo].[trav_tblInItem_View] AS FGItem ON FGItem.ItemId=C.ItemId
LEFT JOIN [005].[dbo].[tblMpOrderReleases] M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo

/*
SELECT * FROM #IM1
SELECT * FROM #RM1
*/

DROP TABLE #IM1
DROP TABLE #RM1


END
GO
