USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsPkgOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spIsPkgOnPL]
	@PkgNo as varchar(10), @PLNo as int
AS
BEGIN
	
	--DECLARE @PkgNo as varchar(10) = 'I000000006'
	--DECLARE @PLNo as int = 1

	IF EXISTS (
				SELECT Id AS bOnPL
				FROM [W005].[dbo].[ShipPackingListDetail]
				WHERE PLNo=@PLNo AND PkgId =@PkgNo
				)
		BEGIN
				SELECT CAST(Id as bit) AS bOnPL
				FROM [W005].[dbo].[ShipPackingListDetail]
				WHERE PLNo=@PLNo AND PkgId =@PkgNo
		END ELSE BEGIN
			SELECT bOnPL = CAST(0 as bit)
		END



END
GO
