USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetRMExpDatesByOrderRelease]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetRMExpDatesByOrderRelease] @OrderNo AS VARCHAR(8), @ReleaseNo AS int
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00033681' 
--DECLARE @ReleaseNo int = 5

--DECLARE @OrderNo  VARCHAR(8) = '00034599'
--DECLARE @ReleaseNo int = 10

SELECT DISTINCT
		E.OrderNo, 
		E.ReleaseNo, 
		I.Id AS OrderReleaseEventItemId, 
		I.ItemId, 
		I.SerialNo, 
		I.LotNo,
		L.ExpDate AS RMExpDate
FROM  OrderReleaseEvent E 
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND IsAssembly=0
	 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=I.ItemId AND L.LotNum=I.SerialNo AND L.ExpDate IS NOT NULL
WHERE E.OrderNo = @OrderNo AND E.ReleaseNo=@ReleaseNo

END
GO
