USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCommercialInvDtl]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spCommercialInvDtl]
	@OrderNo as varchar(8), @PLNo as int , @IsAero as bit
AS
BEGIN


	--DECLARE @IsAero bit 
 --   declare @OrderNo as varchar(8) = '00007834'
	--declare @PLNo as int = 11637	
	----declare @SM_UOM as bit = 1						
	--SET @IsAero = 1

IF @IsAero = 0
BEGIN
		SELECT DISTINCT soth.TransId As OrderNo, soth.CustPONum As CustPO, soth.ShipVia, soth.[cf_Shipping Terms], soth.TermsCode As PaymentTerms,
					soth.ShipToName, soth.ShipToAddr1, soth.ShipToAddr2, soth.ShipToCity, soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode
				,spl.PLNo,
				IsNull(spl.FreightCharge,0) As FreightChrg,
				InvSubTotal = SUM(sotd.UnitPriceSell * spld.Qty),
				InvTotal =
					CASE WHEN soth.TermsCode='Prepaid & Add' THEN SUM(sotd.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
					ELSE SUM(sotd.UnitPriceSell * spld.Qty)
					END
				,sotd.ItemId As ItemId,sotd.Descr  As Descr,sotd.UnitsSell,CAST(sotd.QtyOrdSell as decimal(20,10)) As QtyOrdSell,sotd.UnitPriceSell,
					CAST(SUM(spld.Qty) as decimal(20,10)) As QtyShipped,
					ExtPrice = (sotd.UnitPriceSell * SUM(spld.Qty))
		FROM ([005].[dbo].[trav_tblSoTransHeader_view] As soth 
				INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON soth.CustId=arcust.CustId) 
				INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] As sotd On sotd.TransID=soth.TransId AND sotd.[Status]=0
				INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=sotd.TransID 
				INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=sotd.ItemId
		WHERE soth.TransId=@OrderNo AND spl.PLNo=@PLNo	
				AND sotd.TransId=@OrderNo AND sotd.[Status]=0
		GROUP BY soth.TransId ,soth.CustPONum ,soth.ShipVia,soth.[cf_Shipping Terms],soth.TermsCode,sotd.ItemId,
				soth.ShipToName,soth.ShipToAddr1,soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode,sotd.QtyOrdSell ,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode, spl.FreightCharge,spl.PLNo,sotd.Descr ,sotd.UnitsSell,sotd.UnitPriceSell
	UNION ALL
		SELECT  DISTINCT arHdr.[TransID] As OrderNo, arHdr.CustPONum As CustPO, arHdr.ShipVia, shipto.[cf_Shipping Terms], arHdr.TermsCode As PaymentTerms,
				arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,arHdr.ShipToCountry,arHdr.ShipToPostalCode,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode,spl.PLNo,
				IsNull(spl.FreightCharge,0) As FreightChrg,
				InvSubTotal = SUM(arDtl.UnitPriceSell * spld.Qty),
				InvTotal =
					CASE WHEN arHdr.TermsCode='Prepaid & Add' THEN SUM(arDtl.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
					ELSE SUM(arDtl.UnitPriceSell * spld.Qty)
					END
				,arDtl.PartId As ItemId,arDtl.[Desc] As Descr,arDtl.UnitsSell,CAST(arDtl.QtyOrdSell as decimal(20,10)) As QtyOrdSell,arDtl.UnitPriceSell,
				CAST(SUM(spld.Qty) as decimal(20,10)) As QtyShipped,
				ExtPrice = (arDtl.UnitPriceSell * SUM(spld.Qty))
		FROM [005].[dbo].[tblArHistHeader] AS arHdr 
					INNER JOIN [005].[dbo].[tblArHistDetail] AS arDtl ON arHdr.TransId=arDtl.TransID
					INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON arHdr.CustId=arcust.CustId
					INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=arHdr.TransID 
					INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=arDtl.PartId
					LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON arcust.CustId=shipto.CustId AND shipto.ShipToID=arHdr.ShipToID
			WHERE arHdr.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND arDtl.[Status]=0
			GROUP BY arHdr.TransId ,arHdr.CustPONum ,arHdr.ShipVia,shipto.[cf_Shipping Terms],arHdr.TermsCode,
					arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,arHdr.ShipToCountry,arHdr.ShipToPostalCode,
					arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode,spl.FreightCharge,spl.PLNo
					, arDtl.PartId,arDtl.[Desc],arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell
END
ELSE 
BEGIN
		SELECT DISTINCT soth.TransId As OrderNo,soth.CustPONum As CustPO,soth.ShipVia,soth.[cf_Shipping Terms],soth.TermsCode As PaymentTerms,
				soth.ShipToName,soth.ShipToAddr1,soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode,spl.PLNo,
				IsNull(spl.FreightCharge,0) As FreightChrg,
				InvSubTotal = SUM(sotd.UnitPriceSell * spld.Qty),
				InvTotal =
					CASE WHEN soth.TermsCode='Prepaid & Add' THEN SUM(sotd.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
					ELSE SUM(sotd.UnitPriceSell * spld.Qty)
					END 
				,sotd.ItemId As ItemId,sotd.Descr As Descr,sotd.UnitsSell,sotd.QtyOrdSell,sotd.UnitPriceSell,
					QtyShipped = CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10)), 
					ExtPrice = sotd.UnitPriceSell * CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10))
		FROM ([005].[dbo].[trav_tblSoTransHeader_view] As soth 
				INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON soth.CustId=arcust.CustId) 
				INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] As sotd On sotd.TransID=soth.TransId AND sotd.[Status]=0
				INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=sotd.TransID 
				INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=sotd.ItemId
				INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
				LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
				LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom= sotd.UnitsSell
		WHERE soth.TransId=@OrderNo AND spl.PLNo=@PLNo	
				AND sotd.TransId=@OrderNo AND sotd.[Status]=0
		GROUP BY soth.TransId ,soth.CustPONum ,soth.ShipVia,soth.[cf_Shipping Terms],soth.TermsCode,sotd.ItemId,
				soth.ShipToName,soth.ShipToAddr1,soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode,sotd.QtyOrdSell ,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode, spl.FreightCharge,spl.PLNo,sotd.Descr ,sotd.UnitsSell,sotd.UnitPriceSell
	UNION ALL

		SELECT DISTINCT arHdr.[TransID] As OrderNo, arHdr.CustPONum As CustPO, arHdr.ShipVia, shipto.[cf_Shipping Terms], arHdr.TermsCode As PaymentTerms,
				arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,arHdr.ShipToCountry,arHdr.ShipToPostalCode,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode,spl.PLNo,
				IsNull(spl.FreightCharge,0) As FreightChrg,
				InvSubTotal = SUM(arDtl.UnitPriceSell * spld.Qty),
				InvTotal =
					CASE WHEN arHdr.TermsCode='Prepaid & Add' THEN SUM(arDtl.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
					ELSE SUM(arDtl.UnitPriceSell * spld.Qty)
					END
				,arDtl.PartId As ItemId,arDtl.[Desc] As Descr,arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell,
					QtyShipped = CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10)), 
					ExtPrice = arDtl.UnitPriceSell * CAST (SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10))
		FROM [005].[dbo].[tblArHistHeader] AS arHdr 
					INNER JOIN [005].[dbo].[tblArHistDetail] AS arDtl ON arHdr.TransId=arDtl.TransID
					INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON arHdr.CustId=arcust.CustId
					INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=arHdr.TransID 
					INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=arDtl.PartId
					LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON arcust.CustId=shipto.CustId AND shipto.ShipToID=arHdr.ShipToID
					INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
					LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
					LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom= arDtl.UnitsSell
		WHERE arHdr.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND arDtl.[Status]=0
		GROUP BY arHdr.TransId ,arHdr.CustPONum ,arHdr.ShipVia,shipto.[cf_Shipping Terms],arHdr.TermsCode,
				arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,arHdr.ShipToCountry,arHdr.ShipToPostalCode,
				arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode,spl.FreightCharge,spl.PLNo
				, arDtl.PartId,arDtl.[Desc],arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell

END





END
GO
