USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInHistDetailExcel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spInHistDetailExcel] @FiscalPeriod as int, @FiscalYear as int
AS
BEGIN
	SELECT * FROM 
	(
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -(IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId <> 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0 OR (d.AppId = 'PO' AND d.Qty = 0 AND d.CostExt <> 0 )) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -(IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId = 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit, -d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(r.cf_WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(r.cf_WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(r.cf_WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(r.cf_WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(r.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(r.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(r.cf_WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(r.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(r.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(r.cf_WILaborSetupUnitCost,0)+IsNull(r.cf_WILaborUnitCost,0)+IsNull(r.cf_WIMachineSetupUnitCost,0)+IsNull(r.cf_WIMachineUnitCost,0)+IsNull(r.cf_WIMaterialDirectUnitCost,0)+IsNull(r.cf_WIMaterialIndirectUnitCost,0)+IsNull(r.cf_WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN (IsNull(r.cf_WILaborSetupUnitCost,0)+IsNull(r.cf_WILaborUnitCost,0)+IsNull(r.cf_WIMachineSetupUnitCost,0)+IsNull(r.cf_WIMachineUnitCost,0)+IsNull(r.cf_WIMaterialDirectUnitCost,0)+IsNull(r.cf_WIMaterialIndirectUnitCost,0)+IsNull(r.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE -(IsNull(r.cf_WILaborSetupUnitCost,0)+IsNull(r.cf_WILaborUnitCost,0)+IsNull(r.cf_WIMachineSetupUnitCost,0)+IsNull(r.cf_WIMachineUnitCost,0)+IsNull(r.cf_WIMaterialDirectUnitCost,0)+IsNull(r.cf_WIMaterialIndirectUnitCost,0)+IsNull(r.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [005].dbo.trav_tblInHistDetail_View r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId <> 'MP' and d.Qty > 0 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit, -d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor) AS LaborSetupCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END) AS LaborSetupCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor) AS LaborCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WILaborUnitCost,0)*d.ConvFactor * d.Qty END) AS LaborCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor) AS MachineSetupCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END) AS MachineSetupCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor) AS MachineCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMachineUnitCost,0)*d.ConvFactor * d.Qty END) AS MachineCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor) AS MaterialDirectCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END) AS MaterialDirectCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor) AS IndirectCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END) AS IndirectCost
			, IIF(r.CostUnit = 0, 0, IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor) AS SubcontractCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(d.cf_WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END) AS SubcontractCost
			, IIF(r.CostUnit = 0, 0, (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor) AS WebCostUnit
			, IIF(r.CostUnit = 0, 0, CASE WHEN d.[Source] >= 70 THEN -(IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END) AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [005].dbo.tblInHistDetail r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId = 'MP' and d.Qty > 0 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, 0 AS LaborSetupCostUnit
			, 0 AS LaborSetupCost
			, 0 AS LaborCostUnit
			, 0 AS LaborCost
			, 0 AS MachineSetupCostUnit
			, 0 AS MachineSetupCost
			, 0 AS MachineCostUnit
			, 0 AS MachineCost
			, 0 AS MaterialDirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7','8'), -d.CostExt, 0) AS MaterialDirectCost
			, 0 AS IndirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
			, 0 AS SubcontractCostUnit
			, 0 AS SubcontractCost
			, 0 AS WebCostUnit
	--		, -(IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId <> 'MP' and d.[Source] IN (200, 201)
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, 0 AS LaborSetupCostUnit
			, 0 AS LaborSetupCost
			, 0 AS LaborCostUnit
			, 0 AS LaborCost
			, 0 AS MachineSetupCostUnit
			, 0 AS MachineSetupCost
			, 0 AS MachineCostUnit
			, 0 AS MachineCost
			, 0 AS MaterialDirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('1','2','3','7','8'), -d.CostExt, 0) AS MaterialDirectCost
			, 0 AS IndirectCostUnit
			, IIF(SUBSTRING(l.GLAcctCode,1,1) in ('4','5','6'), -d.CostExt, 0) AS IndirectCost
			, 0 AS SubcontractCostUnit
			, 0 AS SubcontractCost
			, 0 AS WebCostUnit
	--		, -(IsNull(d.cf_WILaborSetupUnitCost,0)+IsNull(d.cf_WILaborUnitCost,0)+IsNull(d.cf_WIMachineSetupUnitCost,0)+IsNull(d.cf_WIMachineUnitCost,0)+IsNull(d.cf_WIMaterialDirectUnitCost,0)+IsNull(d.cf_WIMaterialIndirectUnitCost,0)+IsNull(d.cf_WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.trav_tblInHistDetail_View d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R ON R.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R1.ReleaseId
		WHERE d.GLPeriod = @FiscalPeriod And d.SumYear = @FiscalYear and d.AppId = 'MP' and d.[Source] IN (200, 201)
	) HistoryDetail
	WHERE (GLPeriod = @FiscalPeriod And SumYear = @FiscalYear)
END

GO
