USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPONotesForVendorId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPONotesForVendorId]
	@VendorId as varchar(10)
AS
BEGIN

--DECLARE @VendorId as varchar(10) = 'AAAP01'


	SELECT P.Id, P.PONote,P.ReqForCriticalSupplier
	FROM [W005].[dbo].[PONote] P 
		INNER JOIN [W005].[dbo].[PONoteVendorXRef] X ON P.Id=X.PONoteId
	WHERE X.TraverseVendorId = @VendorId



END

GO
