USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMachineTimeFromORE]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetMachineTimeFromORE] @OrderNo varchar(8), @ReleaseNo int
AS
BEGIN
		SELECT	ORE.OrderNo, 
				ORE.ReleaseNo, 
				ORE.OperationStep,
				ORE.Operation,
				ORE.OperationDesc,
				ORE.MachineGroupId, 
				ORE.Machine,
				Event = 'MFG',
				ORE.MachineStart,
				ORE1.MachineEnd,
				MachineMinutes = ISNULL(ROUND((DateDiff(ss, Min(ORE.MachineStart), Max(ORE1.MachineEnd))/60.0), 2), 0),
				NonMaterialDownTimeMinutes = ROUND((Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0), 2)
		FROM [W005].[dbo].[OrderReleaseEvent] AS ORE 
			 LEFT JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE1 ON ORE1.OrderNo = ORE.OrderNo AND ORE1.ReleaseNo = ORE.ReleaseNo AND ORE1.Event = 'End Manufacturing' AND ORE.OperationStep = ORE1.OperationStep AND ORE1.Machine = ORE.Machine
		WHERE ORE.OrderNo = @OrderNo and ORE.ReleaseNo = @ReleaseNo AND ORE.Event = 'Start Manufacturing'  AND ORE.MachineGroupId <> 'NO MACHINE'
		GROUP BY ORE.OrderNo, ORE.ReleaseNo, ORE.OperationStep, ORE.Operation, ORE.OperationDesc, ORE.MachineGroupId, ORE.Machine, ORE.MachineStart,	ORE1.MachineEnd
		UNION ALL
		SELECT	ORE.OrderNo, 
				ORE.ReleaseNo, 
				ORE.OperationStep,
				ORE.Operation,
				ORE.OperationDesc,
				ORE.MachineGroupId, 
				ORE.Machine,
				Event = 'SETUP',
				ORE.MachineStart,
				ORE.MachineEnd,
				MachineMinutes = ORE.MachineDurationMin,
				NonMaterialDownTimeMinutes = ROUND((Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0), 2)
             FROM [W005].[dbo].[OrderReleaseEvent] AS ORE 
			 WHERE ORE.OrderNo = @OrderNo and ORE.ReleaseNo = @ReleaseNo AND ORE.Event = 'Setup'
		UNION ALL
		SELECT	ORE.OrderNo, 
				ORE.ReleaseNo, 
				ORE.OperationStep,
				ORE.Operation,
				ORE.OperationDesc,
				ORE.MachineGroupId, 
				ORE.Machine,
				Event = 'TABLE MANUFACTURING',
				ORE.MachineStart,
				ORE.MachineEnd,
				MachineMinutes = ORE.MachineDurationMin,
				NonMaterialDownTimeMinutes = ROUND((Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0), 2)
             FROM [W005].[dbo].[OrderReleaseEvent] AS ORE 
			 WHERE ORE.OrderNo = @OrderNo and ORE.ReleaseNo = @ReleaseNo AND ORE.Event = 'Table Manufacturing'
		UNION ALL
		SELECT	ORE.OrderNo, 
				ORE.ReleaseNo, 
				ORE.OperationStep,
				ORE.Operation,
				ORE.OperationDesc,
				ORE.MachineGroupId, 
				ORE.Machine,
				Event = 'KITTING / PLY SCAN-STACK',
				ORE.MachineStart,
				ORE.MachineEnd,
				MachineMinutes = ORE.MachineDurationMin,
				NonMaterialDownTimeMinutes = ROUND((Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0), 2)
             FROM [W005].[dbo].[OrderReleaseEvent] AS ORE 
			 WHERE ORE.OrderNo = @OrderNo and ORE.ReleaseNo = @ReleaseNo AND ORE.Event = 'Kitting / Ply Scan-Stack'

END
GO
