USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetRawMatlDtlNunezCosts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetRawMatlDtlNunezCosts]  
	@ItemId as varchar(24),
	@LocId as varchar(10),
	@TravLotNum as varchar(16),
	@UnitCost as decimal(20,10),
	@Qty as decimal(20,10)
AS
BEGIN
	DECLARE @NunezType as varchar(15)
	DECLARE @IsSerial as bit
	DECLARE @SeqNum as int

	DECLARE @WILaborSetupUnitCost as decimal(20,10)
	DECLARE @WILaborUnitCost as decimal(20,10)
	DECLARE @WIMachineSetupUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCostModified as decimal(20,10)
	DECLARE @WIMachineUnitCostVariable as decimal(20,10)
	DECLARE @WIMaterialDirectUnitCost as decimal(20,10)
	DECLARE @WIMaterialIndirectUnitCost as decimal(20,10)
	DECLARE @WISubcontractUnitCost as decimal(20,10)

	DECLARE @TotalQty as float
	DECLARE @QtyCalc as float
	DECLARE @LotQty as float
	DECLARE @WILaborSetupCost as float
	DECLARE @WILaborCost as float
	DECLARE @WIMachineSetupCost as float
	DECLARE @WIMachineCost as float
	DECLARE @WIMachineCostModified as float
	DECLARE @WIMachineCostVariable as float
	DECLARE @WIMaterialDirectCost as float
	DECLARE @WIMaterialIndirectCost as float
	DECLARE @WISubcontractCost as float

	DECLARE @WILaborSetupTotalCost as float
	DECLARE @WILaborTotalCost as float
	DECLARE @WIMachineSetupTotalCost as float
	DECLARE @WIMachineTotalCost as float
	DECLARE @WIMachineTotalCostModified as float
	DECLARE @WIMachineTotalCostVariable as float
	DECLARE @WIMaterialDirectTotalCost as float
	DECLARE @WIMaterialIndirectTotalCost as float
	DECLARE @WISubcontractTotalCost as float

	IF LEN(@TravLotNum) = 0 SET @TravLotNum = NULL

	SELECT @NunezType = CASE SUBSTRING(L.GLAcctCode,1,1) 
						WHEN '1' THEN 'RAW DIRECT' 
						WHEN '2' THEN 'RAW DIRECT' 
						WHEN '3' THEN 'RAW DIRECT' 
						WHEN '4' THEN 'RAW INDIRECT' 
						WHEN '5' THEN 'RAW INDIRECT' 
						WHEN '6' THEN 'RAW INDIRECT' 
						WHEN '7' THEN 'FG' 
						WHEN '8' THEN 'FG' 
						WHEN '9' THEN 'FG' END
			,@IsSerial = I.[cf_Multi-UOM Serial Item]
	FROM [005].[dbo].[trav_tblInItem_view] I INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId
	WHERE L.ItemId = @ItemId AND L.LocId = @LocId

	IF @NunezType = 'FG'
		BEGIN
			IF @IsSerial = 1
				BEGIN
						SELECT TOP 1
									 @WIMaterialDirectUnitCost = ISNULL([WIMaterialDirectUnitCost],0)
									,@WIMaterialIndirectUnitCost = ISNULL([WIMaterialIndirectUnitCost],0)
									,@WILaborSetupUnitCost = ISNULL([WILaborSetupUnitCost],0)
									,@WILaborUnitCost = ISNULL([WILaborUnitCost], 0)
									,@WIMachineSetupUnitCost = ISNULL([WIMachineSetupUnitCost],0)
									,@WIMachineUnitCost = ISNULL([WIMachineUnitCost],0)
									,@WIMachineUnitCostModified = ISNULL([WIMachineUnitCostModified],0)
									,@WIMachineUnitCostVariable = ISNULL([WIMachineUnitCostVariable],0)
									,@WISubcontractUnitCost = ISNULL([WISubcontractUnitCost],0)
							FROM [W005].[dbo].[tblInQtyOnHandNunezCost]
							WHERE ItemId = @ItemId AND (@TravLotNum is null OR LotNum = @TravLotNum) --AND Cost = @UnitCost
							ORDER BY SeqNum DESC
				END
			ELSE
				BEGIN
						SET @WIMaterialDirectUnitCost = 0
						SET @WIMaterialIndirectUnitCost = 0
						SET @WILaborSetupUnitCost = 0
						SET @WILaborUnitCost = 0
						SET @WIMachineSetupUnitCost = 0
						SET @WIMachineUnitCost = 0
						SET @WIMachineUnitCostModified = 0
						SET @WIMachineUnitCostVariable = 0
						SET @WISubcontractUnitCost = 0

						SET @WIMaterialDirectTotalCost = 0
						SET @WIMaterialIndirectTotalCost = 0
						SET @WILaborSetupTotalCost = 0
						SET @WILaborTotalCost = 0
						SET @WIMachineSetupTotalCost = 0
						SET @WIMachineTotalCost = 0
						SET @WIMachineTotalCostModified = 0
						SET @WIMachineTotalCostVariable = 0
						SET @WISubcontractTotalCost = 0
						SET @QtyCalc = @Qty
						IF @Qty > 0
						  BEGIN
								DECLARE iCurQtyOnHand CURSOR LOCAL FOR
									SELECT H.SeqNum, CAST(H.Qty AS FLOAT), CAST(ISNULL([WIMaterialDirectUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WIMaterialIndirectUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WILaborSetupUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WILaborUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WIMachineSetupUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WIMachineUnitCost],0) AS FLOAT)
												, CAST(ISNULL([WIMachineUnitCostModified],0) AS FLOAT)
												, CAST(ISNULL([WIMachineUnitCostVariable],0) AS FLOAT)
												, CAST(ISNULL([WISubcontractUnitCost],0) AS FLOAT)
									FROM [W005].[dbo].[tblInQtyOnHandNunezCost] H 
									WHERE ItemId = @ItemId AND LocId LIKE 'INV%' AND (@TravLotNum is null OR LotNum = @TravLotNum) AND (H.Qty - (H.InvoicedQty+H.RemoveQty) > 0)
									ORDER BY H.SeqNum

									OPEN iCurQtyOnHand
									FETCH NEXT From iCurQtyOnHand into @SeqNum, @LotQty, @WIMaterialDirectCost, @WIMaterialIndirectCost, @WILaborSetupCost, @WILaborCost, @WIMachineSetupCost, @WIMachineCost, @WIMachineCostModified, @WIMachineCostVariable, @WISubcontractCost

									WHILE @@FETCH_STATUS = 0 AND @QtyCalc > 0
											BEGIN
												IF @QtyCalc > @LotQty
													BEGIN
														SET @QtyCalc = @QtyCalc - @LotQty
													END
												ELSE
													BEGIN
														SET @LotQty = @QtyCalc
														SET @QtyCalc = @QtyCalc - @LotQty
													END
												SET @WIMaterialDirectTotalCost = @WIMaterialDirectTotalCost + (@WIMaterialDirectCost * @LotQty)
												SET @WIMaterialIndirectTotalCost = @WIMaterialIndirectTotalCost + (@WIMaterialIndirectCost * @LotQty)
												SET @WILaborSetupTotalCost = @WILaborSetupTotalCost + (@WILaborSetupCost * @LotQty)
												SET @WILaborTotalCost = @WILaborTotalCost + (@WILaborCost * @LotQty)
												SET @WIMachineSetupTotalCost = @WIMachineSetupTotalCost + (@WIMachineSetupCost * @LotQty)
												SET @WIMachineTotalCost = @WIMachineTotalCost + (@WIMachineCost * @LotQty)
												SET @WIMachineTotalCostModified = @WIMachineTotalCostModified + (@WIMachineCostModified * @LotQty)
												SET @WIMachineTotalCostVariable = @WIMachineTotalCostVariable + (@WIMachineCostVariable * @LotQty)
												SET @WISubcontractTotalCost = @WISubcontractTotalCost + (@WISubcontractCost * @LotQty)

												FETCH NEXT From iCurQtyOnHand into @SeqNum, @LotQty, @WIMaterialDirectCost, @WIMaterialIndirectCost, @WILaborSetupCost, @WILaborCost, @WIMachineSetupCost, @WIMachineCost, @WIMachineCostModified, @WIMachineCostVariable, @WISubcontractCost
											END

									--Check to see if we have remaining Qty's but have no on hand inventory - if so, get most recent Qty On Hand record and use its cost
									IF @QtyCalc > 0
									  BEGIN
											DECLARE iCurNoQtyOnHand CURSOR LOCAL FOR
												SELECT TOP 1 H.SeqNum, CAST(H.Qty AS FLOAT), CAST(ISNULL([WIMaterialDirectUnitCost],0) AS FLOAT)
																			, CAST(ISNULL([WIMaterialIndirectUnitCost],0) AS FLOAT)
																			, CAST(ISNULL([WILaborSetupUnitCost],0) AS FLOAT)
																			, CAST(ISNULL([WILaborUnitCost],0) AS FLOAT)
																			, CAST(ISNULL([WIMachineSetupUnitCost],0) AS FLOAT)
																			, CAST(ISNULL([WIMachineUnitCost],0) AS FLOAT)
																			,	CAST(ISNULL([WIMachineUnitCostModified],0) AS FLOAT)
																			, CAST(ISNULL([WIMachineUnitCostVariable],0) AS FLOAT)
																			, CAST(ISNULL([WISubcontractUnitCost],0) AS FLOAT)
												FROM [W005].[dbo].[tblInQtyOnHandNunezCost] H 
												WHERE ItemId = @ItemId AND LocId LIKE 'INV%' AND (@TravLotNum is null OR LotNum = @TravLotNum) 
												ORDER BY H.SeqNum DESC

											OPEN iCurNoQtyOnHand
											FETCH NEXT From iCurNoQtyOnHand into @SeqNum, @LotQty, @WIMaterialDirectCost, @WIMaterialIndirectCost, @WILaborSetupCost, @WILaborCost, @WIMachineSetupCost, @WIMachineCost, @WIMachineCostModified, @WIMachineCostVariable, @WISubcontractCost

											SET @WIMaterialDirectTotalCost = @WIMaterialDirectTotalCost + (@WIMaterialDirectCost * @QtyCalc)
											SET @WIMaterialIndirectTotalCost = @WIMaterialIndirectTotalCost + (@WIMaterialIndirectCost * @QtyCalc)
											SET @WILaborSetupTotalCost = @WILaborSetupTotalCost + (@WILaborSetupCost * @QtyCalc)
											SET @WILaborTotalCost = @WILaborTotalCost + (@WILaborCost * @QtyCalc)
											SET @WIMachineSetupTotalCost = @WIMachineSetupTotalCost + (@WIMachineSetupCost * @QtyCalc)
											SET @WIMachineTotalCost = @WIMachineTotalCost + (@WIMachineCost * @QtyCalc)
											SET @WIMachineTotalCostModified = @WIMachineTotalCostModified + (@WIMachineCostModified * @QtyCalc)
											SET @WIMachineTotalCostVariable = @WIMachineTotalCostVariable + (@WIMachineCostVariable * @QtyCalc)
											SET @WISubcontractTotalCost = @WISubcontractTotalCost + (@WISubcontractCost * @QtyCalc)

											CLOSE iCurNoQtyOnHand
											DEALLOCATE iCurNoQtyOnHand
										END

									SET @WIMaterialDirectUnitCost = @WIMaterialDirectTotalCost/@Qty
									SET @WIMaterialIndirectUnitCost = @WIMaterialIndirectTotalCost/@Qty
									SET @WILaborSetupUnitCost = @WILaborSetupTotalCost/@Qty
									SET @WILaborUnitCost = @WILaborTotalCost/@Qty
									SET @WIMachineSetupUnitCost = @WIMachineSetupTotalCost/@Qty
									SET @WIMachineUnitCost = @WIMachineTotalCost/@Qty
									SET @WIMachineUnitCostModified = @WIMachineTotalCostModified/@Qty
									SET @WIMachineUnitCostVariable = @WIMachineTotalCostVariable/@Qty
									SET @WISubcontractUnitCost = @WISubcontractTotalCost/@Qty
									CLOSE iCurQtyOnHand
									DEALLOCATE iCurQtyOnHand
							END
				END
		END
	ELSE
		BEGIN
			IF @NunezType = 'RAW DIRECT' 
				BEGIN
					SELECT @WILaborSetupUnitCost = 0, @WILaborUnitCost = 0,  @WIMachineSetupUnitCost = 0, @WIMachineUnitCost = 0, @WIMachineUnitCostModified = 0, @WIMachineUnitCostVariable = 0, @WIMaterialDirectUnitCost = IsNull(@UnitCost,0), @WIMaterialIndirectUnitCost = 0, @WISubcontractUnitCost = 0
				END
			ELSE
				IF @NunezType = 'RAW INDIRECT'
				BEGIN
					SELECT @WILaborSetupUnitCost = 0, @WILaborUnitCost = 0,  @WIMachineSetupUnitCost = 0, @WIMachineUnitCost = 0, @WIMachineUnitCostModified = 0, @WIMachineUnitCostVariable = 0, @WIMaterialDirectUnitCost = 0, @WIMaterialIndirectUnitCost = IsNull(@UnitCost,0), @WISubcontractUnitCost = 0
				END
		END
	SELECT @WILaborSetupUnitCost as WILaborSetupUnitCost, @WILaborUnitCost as WILaborUnitCost,  @WIMachineSetupUnitCost as WIMachineSetupUnitCost, @WIMachineUnitCost as WIMachineUnitCost, @WIMachineUnitCostModified as WIMachineUnitCostModified, @WIMachineUnitCostVariable as WIMachineUnitCostVariable, @WIMaterialDirectUnitCost as WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost as WIMaterialIndirectUnitCost, @WISubcontractUnitCost as WISubcontractUnitCost


END


GO
