USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWReworkEoSEntered]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Used by WEBCQA when END of SET TestType selected to confirm this test not already done for the Rework OpId (spool)
  Called only from lueTestType_EditValueChanged()  */



CREATE PROCEDURE [dbo].[spSWReworkEoSEntered]
	@OPId as int, @RelNo int

AS
BEGIN
	
--DECLARE @OPId as int = 114020
--DECLARE @RelNo int = 0

IF @RelNo > 0 -- Traverse data
BEGIN
	IF EXISTS ( 
				SELECT tgh.Id 
				FROM [W005].[dbo].[SW_TestHdr] th
					INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
					INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
				WHERE tgh.TestTypeName= 'END of SET' AND th.ReleaseNo=@RelNo
			)
		BEGIN 
			SELECT CAST(1 as bit) AS EoSEntered
		END
	ELSE  
		BEGIN
			SELECT CAST(0 as bit) AS EoSEntered
		END
END ELSE -- Polaris data
BEGIN
	IF EXISTS ( 
				SELECT tgh.Id 
				FROM [W005].[dbo].[SW_TestHdr] th
					INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
					INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
				WHERE tgh.TestTypeName= 'END of SET' AND th.OperationID=@OPId
			)
		BEGIN 
			SELECT CAST(1 as bit) AS EoSEntered
		END
	ELSE  
		BEGIN
			SELECT CAST(0 as bit) AS EoSEntered
		END
END




END






GO
