USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpTrans]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spOpTrans] @OrderNo As varchar(8), @RelNo As int
AS
BEGIN
	IF @RelNo = -1 Set @RelNo = Null

	SELECT DISTINCT      ORE.OrderNo, ORE.ReleaseNo, C.CustName, OREI.ItemId, I.Descr, OREI.LocId, OREI.IsAssembly, M.IndLevel, M.ComponentID, M.Qty AS CompIdQty, M.UOM, M.GLAcctCode,
							   OREI.SerialNo, OREI.LotNo, OREI.TravLotNum, SP.ShipPalletNo, SC.ShipCartonNo, SB.ShipBoxNo, SI.ShipPalletId, SI.Comments, ORE.EventStart, OREI.MfgDate, 
							   OREI.FGExpDate, ORE.OperationDesc, SI.NoRolls, OREI.Qty, OREI.UOM, OREI.TotalQty, OREI.TotalWaste, OREI.TotalQtyConsumed, OREI.TotalQtyRemaining, 
							   OREI.ReturnedLocId, M.ItemType
							  
FROM                [W005].[dbo].[OrderReleaseEvent] AS ORE 
							INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id = OREI.OrderReleaseEventId 
							INNER JOIN 
							(	SELECT DISTINCT Rel.OrderNo, Rel.ReleaseNo, CustId, R.IndLevel, M.ComponentID, E.LotNum, M.Qty, M.UOM, L.GLAcctCode, 
										ItemType = Case SUBSTRING(L.GLAcctCode,1,1) 
										  When '1' then 'DIRECT MATERIALS' 
										  When '2' then 'SUBCONTRACT' 
										  When '3' then 'CUSTOMER OWNED MATERIALS' 
										  When '4' then 'INDIRECT MATERIALS' 
										  When '5' then 'SUBCONTRACT INDIRECT' 
										  When '6' then 'CUSTOMER OWNED INDIRECT MATERIALS' 
										  When '7' then 'FINISHED GOODS' 
										  When '8' then 'FINISHED GOODS/INTERMEDIATE'   
										  When '9' then 'FINISHED GOODS'  END 
								FROM [005].[dbo].[tblMpHistoryOrderReleases] Rel
										inner join [005].[dbo].[tblMpHistoryRequirements]  R ON R.ReleaseId = Rel.ReleaseId
										inner join [005].[dbo].[tblMpHistoryMatlDtl] M ON M.TransId = R.TransId
										left join [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId = M.TransId AND E.EntryNum = M.SeqNo
										inner join [005].[dbo].[tblInItemLoc] L On L.ItemId = M.ComponentID and L.LocId = M.LocID
										WHERE Rel.OrderNo = @OrderNo
								UNION ALL
								SELECT DISTINCT Rel.OrderNo, Rel.ReleaseNo, CustId, R.IndLevel, M.ComponentID, E.LotNum, M.Qty, M.UOM, L.GLAcctCode, 
										ItemType = Case SUBSTRING(L.GLAcctCode,1,1) 
										  When '1' then 'DIRECT MATERIALS' 
										  When '2' then 'SUBCONTRACT' 
										  When '3' then 'CUSTOMER OWNED MATERIALS' 
										  When '4' then 'INDIRECT MATERIALS' 
										  When '5' then 'SUBCONTRACT INDIRECT' 
										  When '6' then 'CUSTOMER OWNED INDIRECT MATERIALS' 
										  When '7' then 'FINISHED GOODS' 
										  When '8' then 'FINISHED GOODS/INTERMEDIATE'   
										  When '9' then 'FINISHED GOODS'  END 
								FROM [005].[dbo].[tblMpOrderReleases] Rel
										inner join [005].[dbo].[tblMpRequirements]  R ON R.ReleaseId = Rel.Id
										left join [005].[dbo].[tblMpMatlDtl] M ON M.TransId = R.TransId
										left join [005].[dbo].[tblMpMatlDtlExt] E ON E.TransId = M.TransId AND E.EntryNum = M.SeqNo
										inner join [005].[dbo].[tblInItemLoc] L On L.ItemId = M.ComponentID and L.LocId = M.LocID
								WHERE Rel.OrderNo = @OrderNo
							) AS M ON ORE.OrderNo = M.OrderNo AND ORE.ReleaseNo = M.ReleaseNo AND OREI.ItemId = M.ComponentID 
							LEFT JOIN [005].[dbo].[tblArCust] AS C ON M.CustId = C.CustId 
							INNER JOIN [005].[dbo].[tblInItem] AS I ON OREI.ItemId = I.ItemId 
							LEFT JOIN [W005].[dbo].[ShipItem] AS SI ON OREI.ID = SI.OREIId 
							LEFT JOIN [W005].[dbo].[ShipBox] AS SB ON SI.ShipBoxId = SB.Id
							LEFT JOIN [W005].[dbo].[ShipCarton] AS SC ON SI.ShipCartonId = SC.Id
							LEFT JOIN [W005].[dbo].[ShipPallet] AS SP ON SI.ShipPalletId = SP.Id


	WHERE				ORE.OrderNo=@OrderNo AND (@RelNo is NULL OR ORE.ReleaseNo=@RelNo)
	ORDER BY			ORE.OrderNo ASC, ORE.ReleaseNo ASC, OREI.ItemId ASC, OREI.SerialNo ASC
END

GO
