USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDocumentedOperationalWasteSiemensSubrpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDocumentedOperationalWasteSiemensSubrpt] @OrderNo as Varchar(8)
AS
BEGIN

--DECLARE @OrderNo varchar(8) =  '00038948'

SELECT DISTINCT OrderNo, RMItemId,RMWidth, CanisterWasteNote
	,WasteRMQualityTarget,WasteProcessDamageTarget,WasteOtherTarget,WasteTrimTarget
	,CanisterRMQualityWasteLF,CanisterRMQualityWasteSF,CanisterRMQualityWasteMSI,CanisterRMQualityWasteLB
	,CanisterProcessDamageWasteLF,CanisterProcessDamageWasteSF,CanisterProcessDamageWasteMSI,CanisterProcessDamageWasteLB
	,CanisterOtherWasteLF,CanisterOtherWasteSF,CanisterOtherWasteMSI,CanisterOtherWasteLB
	,CanisterTrimWasteLF,CanisterTrimWasteSF,CanisterTrimWasteMSI,CanisterTrimWasteLB
FROM (
	SELECT DISTINCT
	R.OrderNo
	,RMItemId = ORSW.ItemId
	,RMWidth = PCW.nTarget 
	,CanisterWasteNote = ORE.UserId
	,WasteRMQualityTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteRawMaterialQuality(in)' AND pc.ItemId=O.AssemblyId)
	,WasteProcessDamageTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteProcessDamage(in)' AND pc.ItemId=O.AssemblyId)
	,WasteOtherTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteOther(in)' AND pc.ItemId=O.AssemblyId)
	,WasteTrimTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteTrim(in)' AND pc.ItemId=O.AssemblyId)
	
	,CanisterRMQualityWasteLF = ORSW.RawMaterialQuality 
	,CanisterProcessDamageWasteLF = ORSW.ProcessDamage 
	,CanisterOtherWasteLF = ORSW.Other 
	,CanisterTrimWasteLF = (SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)
	,CanisterRMQualityWasteSF = (PCW.nTarget/12)* ORSW.RawMaterialQuality
	,CanisterProcessDamageWasteSF = (PCW.nTarget/12)* ORSW.ProcessDamage 
	,CanisterOtherWasteSF = (PCW.nTarget/12)* ORSW.Other  
	,CanisterTrimWasteSF = (PCW.nTarget/12)* (SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)
	,CanisterRMQualityWasteMSI = (PCW.nTarget/12)* ORSW.RawMaterialQuality * 0.144
	,CanisterProcessDamageWasteMSI =  (PCW.nTarget/12)* ORSW.ProcessDamage * 0.144
	,CanisterOtherWasteMSI = (PCW.nTarget/12)*  ORSW.Other * 0.144
	,CanisterTrimWasteMSI = ((PCW.nTarget/12)*(SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)) * 0.144
	,CanisterRMQualityWasteLB = IIF(U.ConvFactor IS NULL, null
									, ((ORSW.RawMaterialQuality /(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteRawMaterialQuality(in)' AND pc.ItemId=O.AssemblyId)/12))/U.ConvFactor)
	,CanisterProcessDamageWasteLB = IIF(U.ConvFactor IS NULL, null
										, ((ORSW.ProcessDamage/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteProcessDamage(in)' AND pc.ItemId=O.AssemblyId)/12))/U.ConvFactor) 
	,CanisterOtherWasteLB = IIF(U.ConvFactor IS NULL, null
								, ((ORSW.Other/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteOther(in)' AND pc.ItemId=O.AssemblyId)/12))/U.ConvFactor) 
	,CanisterTrimWasteLB = IIF(U.ConvFactor IS NULL, null, (((SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteTrim(in)' AND pc.ItemId=O.AssemblyId)/12))/U.ConvFactor)  
	FROM [W005].[dbo].[OrderReleaseSiemensWaste] ORSW
	INNER JOIN OrderReleaseEvent ORE ON ORSW.OrderNo = ORE.OrderNo 
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.trav_tblInItem_view RMI on RMI.ItemId = ORSW.ItemId AND RMI.[cf_Multi-UOM Serial Item] = 1	
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = ORSW.ItemId and L.LocId = O.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = ORSW.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN (SELECT  ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
			WHERE c.Characteristic = 'Width(IN)') PCW ON PCW.ItemId = ORSW.ItemId

	WHERE R.OrderNo = @OrderNo
	GROUP BY R.OrderNo,ORSW.ItemId, ORE.OrderNo,O.AssemblyId, U.ConvFactor
		,ORE.UserId ,PCW.nTarget,ORSW.RawMaterialQuality ,ORSW.ProcessDamage,ORSW.Other

UNION ALL

	SELECT DISTINCT
	R.OrderNo
	,RMItemId = ORSW.ItemId
	,RMWidth = PCW.nTarget 
	,CanisterWasteNote = ORE.UserId
	,WasteRMQualityTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteRawMaterialQuality(in)' AND pc.ItemId=R.AssemblyId)
	,WasteProcessDamageTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteProcessDamage(in)' AND pc.ItemId=R.AssemblyId)
	,WasteOtherTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteOther(in)' AND pc.ItemId=R.AssemblyId)
	,WasteTrimTarget = (SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteTrim(in)' AND pc.ItemId=R.AssemblyId)
	,CanisterRMQualityWasteLF = ORSW.RawMaterialQuality 
	,CanisterProcessDamageWasteLF = ORSW.ProcessDamage 
	,CanisterOtherWasteLF = ORSW.Other 
	,CanisterTrimWasteLF = (SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)
	,CanisterRMQualityWasteSF = (PCW.nTarget/12)* ORSW.RawMaterialQuality
	,CanisterProcessDamageWasteSF = (PCW.nTarget/12)* ORSW.ProcessDamage 
	,CanisterOtherWasteSF = (PCW.nTarget/12)* ORSW.Other  
	,CanisterTrimWasteSF = (PCW.nTarget/12)* (SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)
	,CanisterRMQualityWasteMSI = (PCW.nTarget/12)* ORSW.RawMaterialQuality * 0.144
	,CanisterProcessDamageWasteMSI =  (PCW.nTarget/12)* ORSW.ProcessDamage * 0.144
	,CanisterOtherWasteMSI = (PCW.nTarget/12)*  ORSW.Other * 0.144
	,CanisterTrimWasteMSI = ((PCW.nTarget/12)*(SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)) * 0.144
	,CanisterRMQualityWasteLB = IIF(U.ConvFactor IS NULL, null
									, ((ORSW.RawMaterialQuality /(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteRawMaterialQuality(in)' AND pc.ItemId=R.AssemblyId)/12))/U.ConvFactor)
	,CanisterProcessDamageWasteLB = IIF(U.ConvFactor IS NULL, null
										, ((ORSW.ProcessDamage/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteProcessDamage(in)' AND pc.ItemId=R.AssemblyId)/12))/U.ConvFactor) 
	,CanisterOtherWasteLB = IIF(U.ConvFactor IS NULL, null
								, ((ORSW.Other/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteOther(in)' AND pc.ItemId=R.AssemblyId)/12))/U.ConvFactor) 
	,CanisterTrimWasteLB = IIF(U.ConvFactor IS NULL, null, (((SELECT SUM(TotalQtyConsumed) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID FROM OrderReleaseEvent WHERE OrderNo= @OrderNo) AND ItemId = ORSW.ItemId)/(PCW.nTarget/12)) * ((SELECT pc.nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE c.Characteristic = 'CanistersWasteTrim(in)' AND pc.ItemId=R.AssemblyId)/12))/U.ConvFactor)  
	FROM [W005].[dbo].[OrderReleaseSiemensWaste] ORSW
	INNER JOIN OrderReleaseEvent ORE ON ORSW.OrderNo = ORE.OrderNo 
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.trav_tblInItem_view RMI on RMI.ItemId = ORSW.ItemId AND RMI.[cf_Multi-UOM Serial Item] = 1	
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = ORSW.ItemId and L.LocId = R.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = ORSW.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN (SELECT  ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
			WHERE c.Characteristic = 'Width(IN)') PCW ON PCW.ItemId = ORSW.ItemId

	WHERE R.OrderNo = @OrderNo
	GROUP BY R.OrderNo,ORSW.ItemId, ORE.OrderNo,R.AssemblyId, U.ConvFactor
		,ORE.UserId ,PCW.nTarget,ORSW.RawMaterialQuality ,ORSW.ProcessDamage,ORSW.Other
) A


END
GO
