USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIJobRawMaterialVariance]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CCIJobRawMaterialVariance] @ParentOrderNo AS Varchar(8), @LocId as Varchar(10), @StartDt AS DateTime, @EndDt AS DateTime
AS
BEGIN
	--Create Empty #T1 Temp Table
	SELECT DISTINCT ParentOrderNo, MfgStartDate AS MfgDate INTO #T1 FROM CCIOrderReleaseInfo WHERE ParentOrderNo = '-1'

	if LEN(@ParentOrderNo) = 0
	  begin
	    SELECT DISTINCT OrderNo, LocId, Min(MfgDate) AS MfgDate INTO #T3 
		FROM OrderReleaseEvent E INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id
		WHERE IsAssembly = 1 AND MfgDate >= @StartDt AND MfgDate <= @EndDt AND LocId = @LocId
		GROUP BY OrderNo, LocId

		INSERT INTO #T1 (ParentOrderNo, MFGDate) 
		SELECT DISTINCT OrderNo, MfgDate FROM #T3
	  end
	else
	  begin
	    SELECT DISTINCT OrderNo, LocId, Min(MfgDate) AS MfgDate INTO #T4 
		FROM OrderReleaseEvent E INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id
		WHERE IsAssembly = 1 AND E.OrderNo = @ParentOrderNo AND LocId = @LocId
		GROUP BY OrderNo, LocId

		INSERT INTO #T1 (ParentOrderNo, MfgDate) SELECT DISTINCT OrderNo, MFGDate FROM #T4 WHERE OrderNo = @ParentOrderNo AND LocId = @LocId
	  end

	SELECT E.OrderNo as ParentOrderNo, I.ItemId, T.MfgDate, SUM(I.TotalQtyConsumed) AS ActualUsage
	INTO #T2
	FROM OrderReleaseEventItem I
	INNER JOIN OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId
	INNER JOIN #T1 T ON T.ParentOrderNo = E.OrderNo
	WHERE I.IsAssembly = 0
	GROUP BY E.OrderNo, I.ItemId, T.MfgDate
	Order by E.OrderNo

	SELECT T.ParentOrderNo as ParentOrderNo, T.ItemId, M.UOM, M.TotalMaterial AS PlannedMaterial, T.ActualUsage AS ActualUsage, Round(T.ActualUsage-M.TotalMaterial,2) As Variance, T.MFGDate
	,FGItemId =	(SELECT E1.ItemId + ' ' AS [text()]	FROM dbo.CCIOrderReleaseInfo AS E1 WHERE E1.ParentOrderNo = T.ParentOrderNo FOR XML PATH(''))
--	,MFGDate = (SELECT MIN(MFGDate) FROM OrderReleaseEventItem WHERE OrderReleaseEventId IN (SELECT ID From OrderReleaseEvent WHERE OrderNo = T.ParentOrderNo) AND IsAssembly = 1)
	,UnitCost = (SELECT CostAvg FROM [005].dbo.tblInItemLoc WHERE ItemId = T.ItemId AND LocId = @LocId)
	,VarianceCost = CAST(((SELECT CostAvg FROM [005].dbo.tblInItemLoc WHERE ItemId = T.ItemId AND LocId = @LocId) * (T.ActualUsage-M.TotalMaterial)) AS money)
	FROM #T2 T
	INNER JOIN CCIParentOrderCutListMRP M ON M.ParentOrderNo = T.ParentOrderNo AND M.RMItemId = T.ItemId
	Order by T.ParentOrderNo

	DROP TABLE #T1
	DROP TABLE #T2
END
GO
