USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBillAtMfgPackedUnits]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBillAtMfgPackedUnits]
	@LocId as varchar(10),
	@ShowBilled as bit
AS
BEGIN
	BEGIN	

		--DECLARE @LocId as varchar(10) = 'ATL'
		--DECLARE @ShowBilled as bit = 0

			SELECT ii.ItemId, ii.Descr, ii.cf_Customer as CustId, c.CustName, il.LocId
			INTO #T1
			FROM [005].[dbo].[trav_tblInItem_view] as ii 
			INNER JOIN  [W005].[dbo].[vProductCharacteristics] pc on pc.ItemId = ii.ItemId and pc.Characteristic = 'BillAtMfg'	
  			INNER JOIN [005].[dbo].[tblInItemLoc] as il ON il.ItemId=ii.ItemId AND il.LocId = 'INV'+@LocId AND SUBSTRING(il.GLAcctCode, 1,1) = '7'
			INNER JOIN [005].[dbo].[tblArCust] c ON c.CustId = ii.cf_Customer


			SELECT DISTINCT P.Id,I.ItemId,P.ShipPalletNo AS PkgNum, P.DateCreated As MfgDate,I.UOM,P.GrossWt,P.TOPSforExtruding,
					T.Descr,
					Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
					NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
					TravLotNum = '',
					TravSerNum = '',
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo  
							FROM [w005].dbo.ShipItem as I
							WHERE I.ShipPalletId=P.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					),
					CustomerPN = STUFF
					(
						(
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=I.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
					,LocId = (SELECT TOP 1 Location FROM ShipItem where ShipPalletId = P.Id)
					,T.CustId
					,T.CustName
					,v.PurchaseOrder
					,I.BilledAtMfg
			FROM [W005].[dbo].[ShipPallet] As P 
				 INNER JOIN [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId 
				 INNER JOIN #T1 T ON T.ItemId = I.ItemId 
				 INNER JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] v ON v.OrderNo = I.ProdOrderNo AND v.ReleaseNo = I.ProdOrderRelNo AND v.Custid = T.CustId AND v.Status = 6
			WHERE I.ShipPalletId is not Null
				AND I.Location LIKE '%'+@LocId AND I.BilledAtMfg = @ShowBilled AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
				AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 AND P.Deleted=0
				--AND P.Id NOT IN (
				--				Select BLD.ShipPalletId 
				--				FROM [W005].[dbo].[BillingListDetail] BLD INNER JOIN [W005].[dbo].[BillingList] BL ON BL.BLNo = BLD.BLNo 
				--				WHERE BLD.ShipPalletId = P.Id AND BL.BillFromLocId = I.Location) 
			GROUP BY P.Id,P.ShipPalletNo,I.PostedToTraverse,P.DateCreated,P.GrossWt,I.ItemId,I.UOM,P.GrossWt,P.TOPSforExtruding,T.Descr, I.TravLotNum,TravSerNum, t.LocId, T.CustId, T.CustName, v.PurchaseOrder, BilledAtMfg
		UNION ALL
			SELECT DISTINCT C.Id,I.ItemId,C.ShipCartonNo AS PkgNum, C.DateCreated As MfgDate,I.UOM,C.GrossWt,TOPSforExtruding = '',
					T.Descr,
					Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
					NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), 
					TravLotNum = '', 
					TravSerNum = '',
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo  
							FROM [w005].dbo.ShipItem as I
							WHERE I.ShipCartonId=C.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					),
					CustomerPN = STUFF
					(
						(
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=I.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
					,LocId = (SELECT TOP 1 Location FROM ShipItem where ShipCartonId = C.Id)
					,T.CustId
					,T.CustName
					,v.PurchaseOrder
					,I.BilledAtMfg
			FROM [W005].[dbo].[ShipCarton] As C
				 INNER JOIN [W005].[dbo].[ShipItem] As I On C.Id = I.ShipPalletId 
				 INNER JOIN #T1 T ON T.ItemId = I.ItemId 
				 INNER JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] v ON v.OrderNo = I.ProdOrderNo AND v.ReleaseNo = I.ProdOrderRelNo AND v.Custid = T.CustId AND v.Status = 6
			WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Not Null
				AND I.Location LIKE '%'+@LocId AND I.BilledAtMfg = @ShowBilled AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
				AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 AND C.Deleted=0
				--AND C.Id NOT IN (
				--				Select BLD.ShipCartonId 
				--				FROM [W005].[dbo].[BillingListDetail] BLD INNER JOIN [W005].[dbo].[BillingList] BL ON BL.BLNo = BLD.BLNo 
				--				WHERE BLD.ShipCartonId = C.Id AND BL.BillFromLocId  = I.Location) 
			GROUP BY C.Id,C.ShipCartonNo,I.PostedToTraverse,C.DateCreated,C.GrossWt,I.ItemId,I.UOM,T.Descr, I.TravLotNum,TravSerNum, t.LocId, t.CustId, T.CustName, v.PurchaseOrder, BilledAtMfg
		UNION ALL
			SELECT DISTINCT B.Id,I.ItemId,B.ShipBoxNo AS PkgNum, B.DateCreated As MfgDate,I.UOM,B.GrossWt,TOPSforExtruding = '',
					T.Descr,
					Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
					NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=B.Id), 
					TravLotNum = '', 
					TravSerNum = '',
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo  
							FROM [w005].dbo.ShipItem as I
							WHERE I.ShipBoxId=B.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					),
					CustomerPN = STUFF
					(
						(
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=I.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
					,LocId = (SELECT TOP 1 Location FROM ShipItem where ShipBoxId = B.Id)
					,T.CustId
					,T.CustName
					,v.PurchaseOrder
					,I.BilledAtMfg
			FROM [W005].[dbo].[ShipBox] As B
				 INNER JOIN [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId 
				 INNER JOIN #T1 T ON T.ItemId = I.ItemId 
				 INNER JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] v ON v.OrderNo = I.ProdOrderNo AND v.ReleaseNo = I.ProdOrderRelNo AND v.Custid = T.CustId AND v.Status = 6
			WHERE I.ShipPalletId is NULL AND I.ShipCartonId is Null AND I.ShipBoxId is Not Null
				AND I.Location LIKE '%'+@LocId AND I.BilledAtMfg = @ShowBilled AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
				AND B.Shipped=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 AND B.Deleted=0
				--AND B.Id NOT IN (
				--				Select BLD.ShipBoxId 
				--				FROM [W005].[dbo].[BillingListDetail] BLD INNER JOIN [W005].[dbo].[BillingList] BL ON BL.BLNo = BLD.BLNo 
				--				WHERE BLD.ShipBoxId = B.Id AND BL.BillFromLocId  = I.Location) 
			GROUP BY B.Id,B.ShipBoxNo,I.PostedToTraverse,B.DateCreated,B.GrossWt,I.ItemId,I.UOM,T.Descr, I.TravLotNum,TravSerNum, t.LocId, t.CustId, T.CustName, v.PurchaseOrder, BilledAtMfg
		UNION ALL
			SELECT DISTINCT C.Id,I.ItemId,C.ShipRackNo AS PkgNum, C.DateCreated As MfgDate,I.UOM,C.GrossWt,TOPSforExtruding = '',
					T.Descr,
					Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipRackId=C.Id), 
					NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipRackId=C.Id), 
					TravLotNum = '', 
					TravSerNum = '',
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo  
							FROM [w005].dbo.ShipItem as I
							WHERE I.ShipRackId=C.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					),
					CustomerPN = STUFF
					(
						(
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=I.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
					,LocId = (SELECT TOP 1 Location FROM ShipItem where ShipRackId = C.Id)
					,T.CustId
					,T.CustName
					,v.PurchaseOrder
					,I.BilledAtMfg
			FROM [W005].[dbo].[ShipRack] As C
				 INNER JOIN [W005].[dbo].[ShipItem] As I On C.Id = I.ShipRackId 
				 INNER JOIN #T1 T ON T.ItemId = I.ItemId 
				 INNER JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] v ON v.OrderNo = I.ProdOrderNo AND v.ReleaseNo = I.ProdOrderRelNo AND v.Custid = T.CustId AND v.Status = 6
			WHERE I.ShipRackId IS NOT NULL 
				AND I.Location LIKE '%'+@LocId AND I.BilledAtMfg = @ShowBilled AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
				AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 AND C.Deleted=0
				--AND C.Id NOT IN (
				--				Select BLD.ShipRackId 
				--				FROM [W005].[dbo].[BillingListDetail] BLD INNER JOIN [W005].[dbo].[BillingList] BL ON BL.BLNo = BLD.BLNo 
				--				WHERE BLD.ShipRackId = C.Id AND BL.BillFromLocId  = I.Location) 
			GROUP BY C.Id,C.ShipRackNo,I.ShipRackId,I.PostedToTraverse,C.DateCreated,C.GrossWt,I.ItemId,I.UOM,T.Descr, I.TravLotNum,TravSerNum, t.LocId, t.CustId, T.CustName, v.PurchaseOrder, BilledAtMfg
		UNION ALL
			SELECT DISTINCT C.Id,I.ItemId,C.ShipToteNo AS PkgNum, C.DateCreated As MfgDate,I.UOM,C.GrossWt,TOPSforExtruding = '',
					T.Descr,
					Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipToteId=C.Id), 
					NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipToteId=C.Id), 
					TravLotNum = '', 
					TravSerNum = '',
					Lot = STUFF
					(
						(
							SELECT DISTINCT '/' + I.LotNo  
							FROM [w005].dbo.ShipItem as I
							WHERE I.ShipToteId=C.Id AND I.Deleted=0
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					),
					CustomerPN = STUFF
					(
						(
							SELECT DISTINCT '/' + iia.AliasID
							FROM [005].[dbo].[tblInItemAlias] as iia
							WHERE iia.ItemID=I.ItemId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					)
					,LocId = (SELECT TOP 1 Location FROM ShipItem where ShipToteId = C.Id)
					,T.CustId
					,T.CustName
					,v.PurchaseOrder
					,I.BilledAtMfg
			FROM [W005].[dbo].[ShipTote] As C
				 INNER JOIN [W005].[dbo].[ShipItem] As I On C.Id = I.ShipToteId 
				 INNER JOIN #T1 T ON T.ItemId = I.ItemId 
				 INNER JOIN [W005].[dbo].[vOrderReleaseCustPOInfo] v ON v.OrderNo = I.ProdOrderNo AND v.ReleaseNo = I.ProdOrderRelNo AND v.Custid = T.CustId AND v.Status = 6
			WHERE I.ShipToteId IS NOT NULL 
				AND I.Location LIKE '%'+@LocId AND I.BilledAtMfg = @ShowBilled AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 
				AND C.Shipped=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 AND C.Deleted=0
				--AND C.Id NOT IN (
				--				Select BLD.ShipToteId 
				--				FROM [W005].[dbo].[BillingListDetail] BLD INNER JOIN [W005].[dbo].[BillingList] BL ON BL.BLNo = BLD.BLNo 
				--				WHERE BLD.ShipToteId = C.Id AND BL.BillFromLocId = I.Location) 
			GROUP BY C.Id,C.ShipToteNo,I.ShipToteId,I.PostedToTraverse,C.DateCreated,C.GrossWt,I.ItemId,I.UOM,T.Descr, I.TravLotNum,TravSerNum, t.LocId, t.CustId, T.CustName, v.PurchaseOrder, BilledAtMfg
	END
END


GO
