USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spAllKitsOnPLVerified]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAllKitsOnPLVerified]
			@SO varchar(8),@PLNo int, @SOLineNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @SO varchar(8) ='00002350'
--DECLARE @PLNo int = 26086
--DECLARE @SOLineNo int = 1

	IF EXISTS (
			SELECT Id 
			FROM [W005].[dbo].[ShipPackingListDetail] 
			WHERE PLNo = @PLNo
				AND SPLSOLineId = @SOLineNo
				AND SerialNo NOT IN (SELECT SerNum 
										FROM [005].[dbo].[tblSoTransSer]
										WHERE TransId=@SO)
			)
		BEGIN
			SELECT CAST(0 as bit) As OK
		END ELSE BEGIN
				SELECT CAST(1 as bit) As OK
		END
	



END








GO
