USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingPackListCofCSubRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spConvertingPackListCofCSubRpt] @PLNo AS INT, @OrderNo AS varchar(8) 
AS
BEGIN 

--DECLARE @PLNo AS INT = 0   --  44495 
--DECLARE @OrderNo AS varchar(8) = '00058917'

DECLARE @CustId as varchar(10)

IF @PLNo = 0
  begin
    SELECT @CustId = CustId
	FROM
	(
		SELECT Top 1 CustId
		FROM
		  (
			SELECT CustId 
			FROM [005].dbo.tblMpOrderReleases 
			WHERE OrderNo = @OrderNo
			UNION ALL
			SELECT CustId 
			FROM [005].dbo.tblMpHistoryOrderReleases 
			WHERE OrderNo = @OrderNo
		  ) A
	) B
  end
ELSE
  begin
    SELECT @CustId = CustId from [W005].dbo.ShipPackingList WHERE PLNo = @PLNo
  end
  

SELECT Plno,OrderNo,ComponentItemId, ComponentBatchNo
FROM (
	SELECT DISTINCT		
			Plno = @PLNo
			,OrderNo = @OrderNo
			,ComponentItemId = ISNULL(A.AliasId, rmOREI.ItemId)
			,ComponentBatchNo = IIF(ISNULL((SELECT bTarget FROM [w005].dbo.CustomerChar AS Cust INNER JOIN [w005].dbo.CustomerCharacteristic AS CC ON CC.Id = Cust.CharId 
											WHERE CC.Characteristic = 'Conv_CofC_ComponentDtl' AND Cust.CustId = @CustId),0) = 1
									,IIF(IsNULL(fgI.[cf_Out-Time Tracked],0) = 0
										,STUFF /* Non-OT Tracked */
											(
												(
													SELECT DISTINCT ', ' + LotNo
													FROM [W005].[dbo].[OrderReleaseEventItem] 
													WHERE OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo = fgORE.OrderNo)
															AND IsAssembly= 0 AND ItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											)
										,STUFF /* OT Tracked */
											(
												(
													SELECT DISTINCT ',' + RMLotNo
													FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime]  
													WHERE FGItemId =  fgOREI.ItemId AND (FGTravSerNum = fgOREI.TravSerNum OR FGTravLotNum = fgOREI.TravLotNum OR FGTravLotNum = fgOREI.LotNo)
															AND RMItemId = rmOREI.ItemId
													FOR XML PATH(''), TYPE
												).value('.[1]','nvarchar(max)'),
												1,1,''
											))
									,'') 

	FROM [W005].[dbo].OrderReleaseEvent fgORE
		INNER JOIN [W005].[dbo].OrderReleaseEventItem fgOREI ON fgORE.Id=fgOREI.OrderReleaseEventId AND fgOREI.IsAssembly = 1
		INNER JOIN [005].[dbo].[trav_tblInItem_view] fgI ON fgI.ItemId = fgOREI.ItemId
		INNER JOIN [W005].[dbo].OrderReleaseEvent rmORE ON rmORE.OrderNo = fgORE.OrderNo
		INNER JOIN [W005].[dbo].OrderReleaseEventItem rmOREI ON rmOREI.OrderReleaseEventId = rmORE.Id AND rmOREI.IsAssembly = 0
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = rmOREI.ItemId AND L.LocId = rmOREI.LocId AND SUBSTRING(L.GLAcctCode,1,1) in ('1','2','3', '7', '8')
		LEFT JOIN [005].dbo.tblInItemAlias A on A.ItemID = rmOREI.ItemId AND A.RefID = @CustId
	WHERE fgORE.OrderNo = @OrderNo
	GROUP BY rmOREI.ItemId,fgI.[cf_Out-Time Tracked],fgOREI.ItemId,fgORE.OrderNo,fgOREI.TravSerNum, fgOREI.TravLotNum,fgOREI.LotNo, A.AliasID 
	) A	 


END
GO
