USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipHeaderForOrderNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spShipHeaderForOrderNo]
		@OrderNo as varchar(8)

AS
BEGIN
	
	SELECT  DISTINCT soth.TransId As OrderNo,0 As PLNo,soth.LocId As ShipFromLocId, soth.CustId,cust.CustName,cust.[cf_Customer Care Hold Req.] AS CCHoldReq, cust.[cf_Shipments Require Special Documents] AS SpecialDocsReq,
			soth.CustPONum As CustPO,soth.ActShipDate As ShipDate,soth.Freight As FreightCharge,
			ShipMethodId=(SELECT sm.ShipMethodID FROM [005].[dbo].[tblArShipMethod] As sm WHERE sm.[Desc]=soth.ShipVia), soth.ShipVia As ShipMethod,
			shipto.[cf_Shipping Terms] As ShipTerms, shipto.[cf_Packing List Note] As Notes, IsNull(shipto.[cf_Remote Warehouse],'NO') As RemoteWarehouse,
			0 As GrossWt, '' As PRONo,0 As Complete,0 As NotesReviewed,0 As Posted,0 As PostFailed,
			soth.ShipToID,soth.ShipToName,soth.ShipToAddr1, soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode
	FROM ([005].[dbo].[tblSoTransHeader] As soth INNER JOIN [005].[dbo].[trav_tblArCust_view] As cust ON soth.CustId=cust.CustId) LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON cust.CustId=shipto.CustId
	WHERE soth.TransId=@OrderNo

	
	
END


GO
