USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpenSubcontractingProdOrders]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOpenSubcontractingProdOrders] @LocId AS varchar(10)
AS
BEGIN

--DECLARE @LocId AS varchar(10) = 'INVATL'

SELECT DISTINCT
		ISNull(P.ParentOrderNo, O.OrderNo) AS ParentOrderNo,
		O.OrderNo,
		M.ReleaseNo,
		O.[cf_Order Description] AS OrderDescription,
		O.LocId,
		OP.OperationId, 
		O.AssemblyId, 
		O.RevisionNo, 
		H.Id,	
		C.CustName,
		IsNull(H.[cf_Issue by Release],0) AS IssueByRelease,
		IsNull(O.[cf_No. of Cuts], 0) AS NumOfCuts, 
		O.[cf_Lot No.] AS LotNo, 
		I.[cf_Multi-UOM Serial Item] AS IsSerial, 
		IsNull(I.[LottedYN], '') AS IsLotted,  
		IsNull(I.[cf_Multi-Item Mfg], 0) AS IsMultiItem, 
		I.[cf_Out-Time Tracked] as IsOutTimeTracked, 
		Count(DISTINCT R.Id) As OpCnt,
		RlseCnt = (Select Count(Id) FROM [005].[dbo].[trav_tblMpOrderReleases_view] WHERE OrderNo = O.OrderNo and Status = 4),
		Cast(A.AddlDescr as varchar(max)) as AddlDescr

FROM [005].[dbo].[trav_tblMpOrder_View] As O 
	 INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] As H ON H.AssemblyId=O.AssemblyId AND H.RevisionNo=O.RevisionNo
	 INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId 
	 INNER JOIN [005].[dbo].[trav_tblMpOrderReleases_view] M ON M.OrderNo = O.OrderNo AND (M.[cf_Ready to Post] IS NULL OR M.[cf_Ready to Post]=0)
	 INNER JOIN [005].[dbo].[tblMpRequirements] MR ON MR.ReleaseId=M.Id 
	 INNER JOIN [005].[dbo].[tblMrOperations] OP ON OP.OperationId=R.OperationId AND OP.Type = 1 --Type 1: Subcontract
	 INNER JOIN [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = O.AssemblyId 
	 LEFT JOIN [005].[dbo].[tblInItemAddlDescr] As A ON A.ItemId = I.ItemId 
	 LEFT JOIN [005].[dbo].[trav_tblArCust_view] As C On M.CustId = C.CustId 
	 LEFT JOIN [W005].[dbo].[ParentOrderXRef] As P ON P.OrderNo = O.OrderNo
WHERE O.LocId = @LocId
GROUP BY ISNull(P.ParentOrderNo, O.OrderNo), O.OrderNo, M.ReleaseNo, O.[cf_Order Description], O.LocId, OP.OperationId, O.AssemblyId, O.RevisionNo, H.Id, C.CustName, H.[cf_Issue by Release], O.[cf_No. of Cuts], O.[cf_Lot No.], I.[cf_Multi-UOM Serial Item], I.[LottedYN], I.[cf_Multi-Item Mfg], I.[cf_Out-Time Tracked],  Cast(A.AddlDescr as varchar(max))

END 
GO
