USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spWriteSODtlInvoiceInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spWriteSODtlInvoiceInfo]
	@PLNo as int, @DateShipped datetime
AS
BEGIN
--DECLARE @PLNo as int = 24985 
--DECLARE @DateShipped datetime = '2018-10-05 00:00:00.000'
DECLARE @SO varchar(8)
DECLARE @SOLine int
DECLARE @ItemId varchar(24)
DECLARE @SODtlInvoiceInfo varchar(800)
DECLARE @InvoiceInfo varchar(300) 


DECLARE iCur CURSOR  
FOR
SELECT SO, SOLine
FROM [W005].[dbo].[ShipPackingListSOLine]  
WHERE PLNo = @PLNo
 
OPEN iCur 
 
FETCH NEXT FROM iCur INTO @SO,@SOLine
 
WHILE @@FETCH_STATUS = 0 --If the fetch ok
BEGIN

	SET @SODtlInvoiceInfo = (select CAST(AddnlDescr as varchar(max)) from [005].[dbo].[tblSoTransDetail]	WHERE TransID = @SO AND EntryNum= @SOLine )

	SET @InvoiceInfo =	(select Top 1 CAST(AddnlDesc as varchar(max)) from [005].[dbo].[tblArHistDetail] where TransID = @SO and EntryNum = @SOLine order by PostRun DESC)
	SET @SODtlInvoiceInfo = REPLACE(@SODtlInvoiceInfo, @InvoiceInfo,'')

	BEGIN

	UPDATE [W005].[dbo].[ShipPackingListSOLine]  
	SET SODtlInvoiceInfo =  'Qty ' + (SELECT CAST(CAST(SUM(Qty) as decimal(10,1)) as varchar) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo = @PLNo AND SPLSOLineId=@SOLine) + ', ' 
	+ CONVERT(varchar(8), @DateShipped, 1) + ', PL# ' + CAST(@PLNo as varchar)
	WHERE PLNo = @PLNo AND SOLine = @SOLine

	UPDATE [005].[dbo].[tblSoTransDetail]
	SET AddnlDescr =  iIf(@SODtlInvoiceInfo is null OR len(@SODtlInvoiceInfo) = 0, 'Qty ' + (SELECT CAST(CAST(SUM(Qty) as decimal(10,1)) as varchar) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo = @PLNo AND SPLSOLineId=@SOLine) 
	+ ', ' + CONVERT(varchar(8), @DateShipped, 1)  + ', PL# ' + CAST(@PLNo as varchar), @SODtlInvoiceInfo + ' | Qty ' + (SELECT CAST(CAST(SUM(Qty) as decimal(10,1)) as varchar) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo = @PLNo AND SPLSOLineId=@SOLine) 
	+ ', ' + CONVERT(varchar(8), @DateShipped, 1)  + ', PL# ' + CAST(@PLNo as varchar))
	WHERE TransID = @SO AND EntryNum= @SOLine 
			--AND (AddnlDescr Is NOT NULL OR LEN(CAST(AddnlDescr as varchar(MAX))) > 0)

	--UPDATE [005].[dbo].[tblSoTransDetail]
	--SET AddnlDescr = @SODtlInvoiceInfo + 'Qty ' + (SELECT CAST(CAST(SUM(Qty) as decimal(10,1)) as varchar) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo = @PLNo AND SPLSOLineId=@SOLine) + ', '
	-- + CONVERT(varchar(8), @DateShipped, 1)  + ', PL# ' + CAST(@PLNo as varchar)
	--WHERE TransID = @SO AND EntryNum= @SOLine 
	--		AND (AddnlDescr Is NULL OR LEN(CAST(AddnlDescr as varchar(MAX))) = 0)

	END


	

FETCH NEXT FROM iCur INTO @SO,@SOLine
 
END
CLOSE iCur  
DEALLOCATE iCur 




END
GO
