USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetAssemblyItemsByOperationId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAssemblyItemsByOperationId] @OperationId AS VARCHAR(10)
AS
BEGIN

----DECLARE @OperationId AS VARCHAR(10) = 'LPMMTP'

    -- Insert statements for procedure here
	SELECT DISTINCT AssemblyId		
	FROM [005].[dbo].[tblMbAssemblyHeader] A
		 INNER JOIN [005].[dbo].[tblMbAssemblyRouting] R ON R.HeaderId = A.Id
	WHERE R.OperationId = @OperationId

END
GO
