USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIKitIdx1]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIKitIdx1] @ParentOrderNo as Varchar(8), @ItemId as Varchar(24)
AS
BEGIN
	SELECT row_number() over (ORDER BY E.OrderNo, R.OrderNo, OrderReleaseEventId, I.Id , I.ItemId, TravSerNum) as SerNumIdx,
	  E.OrderNo AS ParentOrderNo, R.OrderNo, OrderReleaseEventId, I.Id as OrderReleaseEventItemId, I.ItemId, TravSerNum 
	FROM OrderReleaseEventItem I INNER JOIN OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId INNER JOIN CCIOrderReleaseInfo R ON R.ParentOrderNo = @ParentOrderNo AND R.ItemId = @ItemId
	Where IsAssembly = 1 AND E.OrderNo = @ParentOrderNo --AND I.ItemId = @ItemId
END
GO
