USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetApprovedLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetApprovedLabel]
	@Sender as varchar(50),	
	@ItemId as varchar(24),
	@LabelTypeId as Int,
	@LabelName as varchar(75),
	@EffDt as Datetime
AS
BEGIN
	SELECT        TOP 1 IXL.ItemId, L.Id as LabelId, L.LabelKey, L.LabelName, L.LabelDescription, L.LabelTypeId, LT.LabelType, L.Revision, L.NoPrintCopies, L.RequestNoPrintCopies, L.EffectiveDate, L.LabelDefinition
	FROM            dbo.LabelXItem as IXL INNER JOIN
							 dbo.Label as L ON IXL.LabelName = L.LabelName INNER JOIN
							 dbo.LabelType as LT ON L.LabelTypeId = LT.Id
	WHERE IXL.ItemId = @ItemId and IXL.LabelTypeId = @LabelTypeId and L.Approved = 1 and L.LabelName = @LabelName and 
	L.Revision = 
		(SELECT        MAX(L1.Revision)
	 	 FROM            dbo.LabelXItem as IXL1 INNER JOIN
								 dbo.Label as L1 ON IXL1.LabelName = L1.LabelName INNER JOIN
								 dbo.LabelType as LT1 ON L1.LabelTypeId = LT1.Id
		 WHERE IXL1.ItemId = IXL.ItemId and L1.LabelTypeId = L.LabelTypeId and L1.LabelName = L.LabelName and L1.Approved = L.Approved and L1.EffectiveDate <= @EffDt) and
	LT.LabelType in 	
			(SELECT        DISTINCT LT2.LabelType
			FROM            dbo.LabelSender as S2 INNER JOIN
									 dbo.LabelSenderType as SLT2 ON S2.Id = SLT2.SenderId INNER JOIN
									 dbo.LabelType as LT2 ON SLT2.LabelTypeId = LT2.Id
			WHERE S2.Sender = @Sender)
	ORDER BY L.Revision DESC
END
GO
