USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetSerializedRMOTData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetSerializedRMOTData]
				 @TravSerNum varchar(35), @PrgId int
 /* 
 Returns all Raw Materials and their OTSpec data that were used 
 This sp is used by WEBUtilityClasses
 */
AS
BEGIN

--DECLARE @TravSerNum varchar(35) = '00000001-001-001'
--dECLARE @PrgId int = null

DECLARE @ParentOrd varchar(8) 
DECLARE @RelNo int
SET @ParentOrd = (SELECT OrderNo FROM [W005].[dbo].[OrderReleaseEvent] WHERE Id = 
								(SELECT OrderReleaseEventId FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
				)
SET @RelNo  = (SELECT ReleaseNo FROM [W005].[dbo].[OrderReleaseEvent] WHERE Id = 
								(SELECT OrderReleaseEventId FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
				)

IF EXISTS (
			SELECT otspec.ProgramId
			FROM [W005].[dbo].[OrderReleaseEvent] ore
				INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON ore.Id=orei.OrderReleaseEventId
				INNER JOIN [W005].[dbo].[OutTimeItemSpecs] otspec ON otspec.ItemId=orei.ItemId AND otspec.ProgramId = @PrgId
				INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] oreiot ON oreiot.OrderReleaseEventItemId=orei.Id
			WHERE ore.[Event]='Start Manufacturing' AND orei.IsAssembly=0 AND orei.IsInPartialKit = 0 ----------------
				AND orei.OrderReleaseEventId IN (SELECT Id
												FROM [W005].[dbo].[OrderReleaseEvent] 
												WHERE OrderNo=@ParentOrd AND ReleaseNo=@RelNo)
	)
	BEGIN
		SELECT orei.ItemId As RMItemId, orei.Id As OREIId,  orei.SerialNo As RMSerialNo, orei.LotNo As RMLotNo,
					otspec.MaxFreezerTimeHrs,otspec.MaxReeferTimeHrs,otspec.MaxRoomTimeHrs,otspec.MinDaysUntilExpirAtShipment,otspec.MinRemainingOTHoursAtShipment, 
					oreiot.ProgramId As oreiotProgramId,
					oreiot.WmBinId As oreiotWmBinId, 
					oreiotBinType = (SELECT [cf_Bin Type] FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=oreiot.WmBinId),
					oreiot.LastScanDateTime As oreiotLastScanDT, oreiot.TotalRoomMinutes As oreiotTotRoomMin, 
					oreiot.TotalFreezerMinutes As oreiotTotFreezerMin, oreiot.TotalReeferMinutes As oreiotTotReeferMin,
					FGOREIId = (SELECT Id FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
			FROM [W005].[dbo].[OrderReleaseEvent] ore
				INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON ore.Id=orei.OrderReleaseEventId
				INNER JOIN [W005].[dbo].[OutTimeItemSpecs] otspec ON otspec.ItemId=orei.ItemId AND otspec.ProgramId = @PrgId
				INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] oreiot ON oreiot.OrderReleaseEventItemId=orei.Id
			WHERE ore.[Event]='Start Manufacturing' AND orei.IsAssembly=0 AND orei.IsInPartialKit = 0 ----------------
				AND orei.OrderReleaseEventId IN (SELECT Id
												FROM [W005].[dbo].[OrderReleaseEvent] 
												WHERE OrderNo=@ParentOrd AND ReleaseNo=@RelNo)

	END ELSE BEGIN
			SELECT orei.ItemId As RMItemId, orei.Id As OREIId,  orei.SerialNo As RMSerialNo, orei.LotNo As RMLotNo,
					otspec.MaxFreezerTimeHrs,otspec.MaxReeferTimeHrs,otspec.MaxRoomTimeHrs,otspec.MinDaysUntilExpirAtShipment,otspec.MinRemainingOTHoursAtShipment, 
					oreiot.ProgramId As oreiotProgramId,
					oreiot.WmBinId As oreiotWmBinId, 
					oreiotBinType = (SELECT [cf_Bin Type] FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=oreiot.WmBinId),
					oreiot.LastScanDateTime As oreiotLastScanDT, oreiot.TotalRoomMinutes As oreiotTotRoomMin, 
					oreiot.TotalFreezerMinutes As oreiotTotFreezerMin, oreiot.TotalReeferMinutes As oreiotTotReeferMin,
					FGOREIId = (SELECT Id FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
			FROM [W005].[dbo].[OrderReleaseEvent] ore
				INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON ore.Id=orei.OrderReleaseEventId
				INNER JOIN [W005].[dbo].[OutTimeItemSpecs] otspec ON otspec.ItemId=orei.ItemId AND otspec.ProgramId Is Null
				INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] oreiot ON oreiot.OrderReleaseEventItemId=orei.Id
			WHERE ore.[Event]='Start Manufacturing' AND orei.IsAssembly=0 AND orei.IsInPartialKit = 0 ----------------
				AND orei.OrderReleaseEventId IN (SELECT Id
												FROM [W005].[dbo].[OrderReleaseEvent] 
												WHERE OrderNo=@ParentOrd AND ReleaseNo=@RelNo)

	END









END





GO
