USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spEUManufacturingReport]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEUManufacturingReport] @OrderNo as varchar(8)
AS
BEGIN


--DECLARE @OrderNo as varchar(8)
--Set @OrderNo = '00000020'

SELECT MaterialDescription
	  ,MaterialNum
	  ,CustomerPONum 
	  ,WebWorkOrder
	  ,OrderRel
	  ,RowType
	  ,SubContractOrderNo
	  ,MaterialNo
	  ,PrepregBatch
	  ,ParentRollNo
	  ,QtyLinear
	  ,UOMLinear
	  ,QtyArea
	  ,UOMArea
	  ,DOM = FORMAT(A.DOM, 'dd-MMM-yy', 'en-US')
	  ,FGDescription
INTO #T1
FROM
(
		SELECT MaterialDescription = IIF(A.[cf_Alias Description] IS NULL OR LEN(A.[cf_Alias Description]) = 0, I.Descr, A.[cf_Alias Description])
			  ,MaterialNum = IsNUll(A.AliasID, '')
			  ,CustomerPONum = IsNULL(S.CustPONum, '')
			  ,WebWorkOrder = @OrderNo
			  ,OrderRel = E.OrderNo + '-' + RIGHT('000'+Cast(E.ReleaseNo as Varchar(5)),3)
			  ,RowType = 'Production'
			  ,SubContractOrderNo = R.PurchaseOrder
			  ,MaterialNo = ISNULL(A.AliasID, I.ItemId)
			  ,PrepregBatch = FG.LotNo
			  --,PrepregBatch = (SELECT TOP 1 PrepregBatch = RM.LotNo 
					--		   FROM OrderReleaseEvent RE INNER JOIN OrderReleaseEventItem RM ON RM.OrderReleaseEventId = RE.Id AND RM.IsAssembly = 0
					--		   INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = RM.ItemId AND L.LocId = RM.LocId AND SUBSTRING(L.GLAcctCode, 1,1) in ('1', '2', '3', '8', '7')
					--		   WHERE RE.OrderNo = E.OrderNo AND RE.ReleaseNo = E.ReleaseNo)
			  ,ParentRollNo = Cast(null as varchar(16))
			  ,QtyLinear = SUM(FG.TotalQty)/U.ConvFactor
			  ,UOMLinear = 'LM'
			  ,QtyArea = SUM(FG.TotalQty)/UA.ConvFactor
			  ,UOMArea = 'SM'
			  ,DOM = FG.MfgDate
			  ,FGDescription = IIF(A.[cf_Alias Description] IS NULL OR LEN(A.[cf_Alias Description]) = 0, I.Descr, A.[cf_Alias Description])
		FROM OrderReleaseEvent E
		INNER JOIN OrderReleaseEventItem FG ON FG.OrderReleaseEventId = E.Id AND FG.IsAssembly = 1
		INNER JOIN [005].dbo.tblInItem I ON I.ItemId = FG.ItemId
		LEFT JOIN [005].dbo.tblInItemUom U ON U.ItemId = FG.ItemId AND U.Uom = 'LM'
		LEFT JOIN [005].dbo.tblInItemUom UA ON UA.ItemId = FG.ItemId AND UA.Uom = 'SM'
		INNER JOIN (SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId, SalesOrder
					FROM [005].dbo.tblMpOrderReleases
					UNION ALL
					SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId, SalesOrder
					FROM [005].[dbo].tblMpHistoryOrderReleases) R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = FG.ItemId AND A.AliasType = 1 AND A.RefID = R.CustId
		LEFT JOIN (SELECT TransId,CustPONum 
					FROM [005].dbo.tblSoTransHeader
					UNION ALL
					SELECT TransId, CustPONum
					FROM [005].dbo.tblArHistHeader) S ON S.TransId=R.SalesOrder
		WHERE E.OrderNo = @OrderNo
		GROUP BY E.Id, I.Descr, A.[cf_Alias Description], E.OrderNo, E.ReleaseNo, R.PurchaseOrder, A.AliasID, I.ItemId, FG.MfgDate, U.ConvFactor, UA.ConvFactor, FG.LotNo,S.CustPONum
	UNION ALL
		SELECT MaterialDescription = ISNULL(A.[cf_Alias Description],  I.Descr)
			  ,MaterialNum = IsNUll(A.AliasID, '')
			  ,CustomerPONum = IsNULL(S.CustPONum, '')
			  ,WebWorkOrder = @OrderNo
			  ,OrderRel = E.OrderNo + '-' + RIGHT('000'+Cast(E.ReleaseNo as Varchar(5)),3)
			  ,RowType = 'Consumption'
			  ,SubContractOrderNo = R.PurchaseOrder
			  ,MaterialNo = ISNULL(A.AliasID, I.ItemId)
			  ,PrepregBatch = RM.LotNo
			  ,ParentRollNo = RM.SerialNo
			  ,QtyLinear = SUM(RM.TotalQty)/U.ConvFactor
			  ,UOMLinear = 'LM'
			  ,QtyArea = SUM(RM.TotalQty)/UA.ConvFactor
			  ,UOMArea = 'SM'
			  ,DOM = IIF(L.[cf_Vendor Mfg Date] IS NOT NULL, L.[cf_Vendor Mfg Date], IIF(L.[cf_Vendor Ship Date] IS NOT NULL, L.[cf_Vendor Ship Date], L.InitialDate))
			  ,FGDescription = null
		FROM OrderReleaseEvent E
		INNER JOIN OrderReleaseEventItem RM ON RM.OrderReleaseEventId = E.Id AND RM.IsAssembly = 0
		INNER JOIN [005].dbo.trav_tblInItem_view I ON I.ItemId = RM.ItemId AND I.[cf_Multi-UOM Serial Item] = 1
		INNER JOIN [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = RM.ItemId AND L.LocId = RM.LocId AND L.LotNum = RM.SerialNo
		LEFT JOIN [005].dbo.tblInItemUom U ON U.ItemId = RM.ItemId AND U.Uom = 'LM'
		LEFT JOIN [005].dbo.tblInItemUom UA ON UA.ItemId = RM.ItemId AND UA.Uom = 'SM'
		INNER JOIN (SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId, SalesOrder
					FROM [005].dbo.tblMpOrderReleases
					UNION ALL
					SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId, SalesOrder
					FROM [005].[dbo].tblMpHistoryOrderReleases) R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = RM.ItemId AND A.AliasType = 1 AND A.RefID = R.CustId
		LEFT JOIN (SELECT TransId,CustPONum 
					FROM [005].dbo.tblSoTransHeader
					UNION ALL
					SELECT TransId, CustPONum
					FROM [005].dbo.tblArHistHeader) S ON S.TransId=R.SalesOrder
		WHERE E.OrderNo = @OrderNo
		GROUP BY E.Id, I.Descr, A.[cf_Alias Description], E.OrderNo, E.ReleaseNo, R.PurchaseOrder, A.AliasID, I.ItemId, RM.SerialNo, RM.LotNo, U.ConvFactor, UA.ConvFactor, L.[cf_Vendor Mfg Date], L.[cf_Vendor Ship Date], InitialDate,S.CustPONum
	UNION ALL
		SELECT MaterialDescription = ISNULL(A.[cf_Alias Description],  I.Descr)
			  ,MaterialNum = IsNUll(A.AliasID, '')
			  ,CustomerPONum = IsNULL(S.CustPONum, '')
			  ,WebWorkOrder = @OrderNo
			  ,OrderRel = O.OrderNo + '-' + RIGHT('000'+Cast(O.ReleaseNo as Varchar(5)),3)
			  ,RowType = 'Consumption'
			  ,SubContractOrderNo = O.PurchaseOrder
			  ,MaterialNo = ISNULL(A.AliasID, M.ComponentId)
			  ,PrepregBatch = Cast(null as varchar(16))
			  ,ParentRollNo = LL.[cf_Lot No.]
			  ,QtyLinear = SUM(M.Qty)/U.ConvFactor
			  ,UOMLinear = 'LM'
			  ,QtyArea = SUM(M.Qty)/UA.ConvFactor
			  ,UOMArea = 'SM'
			  ,DOM = ISNULL(MIN(PL.PolyLinerSlitDate), MIN(LL.[cf_Vendor Mfg Date]))
			  ,FGDescription = null
			  FROM [005].dbo.tblMpOrderReleases O
		INNER JOIN [005].dbo.tblMpRequirements R ON R.ReleaseId = O.Id
		INNER JOIN [005].dbo.tblMpMatlDtl M ON M.TransId = R.TransId
		INNER JOIN [005].dbo.trav_tblMpMatlDtlExt_View ME ON ME.TransId = M.TransId
		INNER JOIN [005].dbo.trav_tblInItem_view I ON I.ItemId = M.ComponentId
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = M.ComponentId AND L.LocId Like 'INV%' AND SUBSTRING(L.GLAcctCode,1,1) in ('4','5','6')
		INNER JOIN [005].dbo.trav_tblInItemLocLot_View LL ON LL.ItemId = M.ComponentId AND L.LocId Like 'INV%' AND LL.LotNum = ME.LotNum
		LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = M.ComponentId AND A.AliasType = 1 AND A.RefID = O.CustId
		LEFT JOIN [005].dbo.tblInItemUom U ON U.ItemId = M.ComponentId AND U.Uom = 'LM'
		LEFT JOIN [005].dbo.tblInItemUom UA ON UA.ItemId = M.ComponentId AND UA.Uom = 'SM'
		LEFT JOIN [005].dbo.tblSoTransHeader S ON S.TransId = O.SalesOrder
		LEFT JOIN PolyLinerUsage PL ON ME.LotNum = concat(PL.PolyLinerBatchNumber, '-', RIGHT('000'+ISNULL(PL.PolyLinerCutNo,''),3)) 
		WHERE O.OrderNo = @OrderNo AND R.ParentId = (Select Min(TransId) FROM [005].dbo.tblMpRequirements WHERE ReleaseId = O.Id AND Step > 0)
		GROUP BY I.Descr, A.[cf_Alias Description], O.OrderNo, O.ReleaseNo, O.PurchaseOrder, A.AliasID, M.ComponentId, LL.[cf_Lot No.], U.ConvFactor, UA.ConvFactor, PL.PolyLinerSlitDate,S.CustPONum
	UNION ALL
		SELECT MaterialDescription = ISNULL(A.[cf_Alias Description],  I.Descr)
			  ,MaterialNum = IsNUll(A.AliasID, '')
			  ,CustomerPONum = IsNULL(S.CustPONum, '') 
			  ,WebWorkOrder = @OrderNo
			  ,OrderRel = O.OrderNo + '-' + RIGHT('000'+Cast(O.ReleaseNo as Varchar(5)),3)
			  ,RowType = 'Consumption'
			  ,SubContractOrderNo = O.PurchaseOrder
			  ,MaterialNo = ISNULL(A.AliasID, M.ComponentId)
			  ,PrepregBatch = Cast(null as varchar(16))
			  ,ParentRollNo = LL.[cf_Lot No.]
			  ,QtyLinear = SUM(M.Qty)/U.ConvFactor
			  ,UOMLinear = 'LM'
			  ,QtyArea = SUM(M.Qty)/UA.ConvFactor
			  ,UOMArea = 'SM'
			  ,DOM = ISNULL(MIN(PL.PolyLinerSlitDate), MIN(LL.[cf_Vendor Mfg Date]))
			  ,FGDescription = null
			  FROM [005].dbo.tblMpHistoryOrderReleases O
		INNER JOIN [005].dbo.tblMpHistoryRequirements R ON R.ReleaseId = O.ReleaseId
		INNER JOIN [005].dbo.tblMpHistoryMatlDtl M ON M.TransId = R.TransId
		INNER JOIN [005].dbo.trav_tblMpHistoryMatlDtlExt_View ME ON ME.TransId = M.TransId
		INNER JOIN [005].dbo.trav_tblInItem_view I ON I.ItemId = M.ComponentId
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = M.ComponentId AND L.LocId Like 'INV%' AND SUBSTRING(L.GLAcctCode,1,1) in ('4','5','6')
		INNER JOIN [005].dbo.trav_tblInItemLocLot_View LL ON LL.ItemId = M.ComponentId AND L.LocId Like 'INV%' AND LL.LotNum = ME.LotNum
		LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = M.ComponentId AND A.AliasType = 1 AND A.RefID = O.CustId
		LEFT JOIN [005].dbo.tblInItemUom U ON U.ItemId = M.ComponentId AND U.Uom = 'LM'
		LEFT JOIN [005].dbo.tblInItemUom UA ON UA.ItemId = M.ComponentId AND UA.Uom = 'SM'
		LEFT JOIN [005].dbo.tblSoTransHeader S ON S.TransId = O.SalesOrder
		LEFT JOIN PolyLinerUsage PL ON ME.LotNum = concat(PL.PolyLinerBatchNumber, '-', RIGHT('000'+ISNULL(PL.PolyLinerCutNo,''),3)) 
		WHERE O.OrderNo = @OrderNo AND R.ParentId = (Select Min(TransId) FROM [005].dbo.tblMpRequirements WHERE ReleaseId = O.ReleaseId AND Step > 0)
		GROUP BY I.Descr, A.[cf_Alias Description], O.OrderNo, O.ReleaseNo, O.PurchaseOrder, A.AliasID, M.ComponentId, LL.[cf_Lot No.], U.ConvFactor, UA.ConvFactor, PL.PolyLinerSlitDate,S.CustPONum
	) A
	Order by OrderRel
		  ,RowType Desc
		  ,MaterialDescription
		  ,MaterialNum 
		  ,CustomerPONum 
		  ,WebWorkOrder
		  ,SubContractOrderNo
		  ,MaterialNo
		  ,PrepregBatch
		  ,ParentRollNo
		  ,QtyLinear
		  ,UOMLinear
		  ,QtyArea
		  ,UOMArea
		  ,DOM
	
	UPDATE #T1 SET FGDescription = B.FGDescription
	FROM (SELECT TOP 1 FGDescription FROM #T1 WHERE FGDescription IS NOT NULL) B

	SELECT * FROM #T1 
	Order by OrderRel
		  ,RowType Desc
		  ,MaterialDescription
		  ,MaterialNum 
		  ,CustomerPONum 
		  ,WebWorkOrder
		  ,SubContractOrderNo
		  ,MaterialNo
		  ,PrepregBatch
		  ,ParentRollNo
		  ,QtyLinear
		  ,UOMLinear
		  ,QtyArea
		  ,UOMArea
		  ,DOM

	DROP TABLE #T1
	 
END
GO
