USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineLotQtyShipped]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderLineLotQtyShipped]
	@PLNo as int, @ItemId as varchar(24)  --, @IsExtr as bit 

AS
BEGIN

--DECLARE @PLNo as int = 26407
--DECLARE @ItemId as varchar(24) = 'RM-CADC5133-PRP'

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, P.ShipPalletNo as Pkg
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipPallet] As P ON spld.ShipPalletId=P.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipPalletId=spld.ShipPalletId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND
			spld.ShipCartonId is null AND spld.ShipBoxId is null AND spld.ShipItemId is null
			
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, C.ShipCartonNo as Pkg
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipCarton] As C ON spld.ShipCartonId=C.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipCartonId=spld.ShipCartonId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND
			spld.ShipPalletId is null AND spld.ShipBoxId is null AND spld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, B.ShipBoxNo as Pkg
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipBox] As B ON spld.ShipBoxId=B.Id
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.ShipBoxId=spld.ShipBoxId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND
			spld.ShipPalletId is null AND spld.ShipCartonId is null AND spld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, I.ShipItemNo as Pkg
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipItem] As I ON I.Id=spld.ShipItemId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND
			spld.ShipPalletId is null AND spld.ShipCartonId is null AND spld.ShipBoxId is null

		UNION ALL

		SELECT 0 As Id, oh.LotNum AS TravLotNum
		, Sum(oh.Qty - oh.InvoicedQty - oh.RemoveQty) AS Qty
		, oh.LotNum as Pkg
		FROM [W005].[dbo].[ShipPackingListDetail] as spld
			INNER JOIN [W005].[dbo].[ShipPackingList] pl ON spld.PLNo=pl.PLNo
			INNER JOIN [005].dbo.tblInQtyOnHand oh ON spld.TravLotNum=oh.LotNum AND spld.ItemId=oh.ItemId AND pl.ShipFromLocId=oh.LocId
		WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId AND oh.LotNum NOT IN (SELECT TravLotNum FROM [W005].[dbo].[ShipItem] WHERE ItemId = oh.ItemId)
		GROUP BY oh.LotNum



END
GO
