USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpenMultiItemOrders]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spOpenMultiItemOrders] @MachineGroupId as varchar(10), @ReadytoPost as bit, @IsMultiItem as bit
AS
BEGIN
	If Len(@MachineGroupId) = 0 Set @MachineGroupId = null
	Select DISTINCT ISNull(P.ParentOrderNo, O.OrderNo) AS ParentOrderNo, O.OrderNo, O.AssemblyId, O.RevisionNo, H.Id, C.CustName, IsNull(H.[cf_Issue by Release],0) AS IssueByRelease, IsNull(O.[cf_No. of Cuts], 0) AS NumOfCuts, O.[cf_Lot No.] AS LotNo, I.[cf_Multi-UOM Serial Item] AS IsSerial, IsNull(I.[LottedYN], '') AS IsLotted,  IsNull(I.[cf_Multi-Item Mfg], 0) AS IsMultiItem, IsNull(i.[cf_Out-Time Tracked], 0) as IsOutTimeTracked, Count(DISTINCT R.Id) As OpCnt
	FROM [005].[dbo].[trav_tblMpOrder_View] As O INNER JOIN  
	     [005].[dbo].[trav_tblMbAssemblyHeader_view] As H ON O.AssemblyId=H.AssemblyId AND O.RevisionNo=H.RevisionNo INNER JOIN 
		 [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId INNER JOIN
		 [005].[dbo].[trav_tblMpOrderReleases_view] As R1 ON R1.OrderNo = O.OrderNo AND IsNull(R1.[cf_Ready to Post], 0) = @ReadytoPost INNER JOIN
		 [005].[dbo].[tblMpRequirements] As R2 ON R2.ReleaseId = R1.Id INNER JOIN
		 [005].[dbo].[tblMpTimeSum] As T ON T.TransId = R2.TransId AND  ((@MachineGroupId is null) OR (T.[MachineGroupID] = @MachineGroupId)) INNER JOIN
		 [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = O.AssemblyId AND I.[cf_Multi-Item Mfg] = @IsMultiItem LEFT JOIN
		 [005].[dbo].[trav_tblArCust_view] As C On R1.CustId = C.CustId LEFT JOIN
		 [W005].[dbo].[ParentOrderXRef] As P ON P.OrderNo = O.OrderNo
	WHERE R.OperationId Not Like 'EXT%'
	GROUP BY ISNull(P.ParentOrderNo, O.OrderNo), O.OrderNo, O.AssemblyId, O.RevisionNo, H.Id, C.CustName, H.[cf_Issue by Release], O.[cf_No. of Cuts], O.[cf_Lot No.], I.[cf_Multi-UOM Serial Item], I.[LottedYN], I.[cf_Multi-Item Mfg], i.[cf_Out-Time Tracked]
	Order by 1,2,3
END
GO
