USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebOmegaSpoolLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebOmegaSpoolLabel] @OrderNo varchar(8), @ReleaseNo int, @OrderReleaseEventItemId int 
AS
BEGIN

--DECLARE @OrderNo AS varchar(8) = '00000005'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId as int = 0;



WITH RawMaterial (ItemId, SerialNo, GLAcctCode, LocId, Level)
AS 
(
-- Anchor member definition  --GETS ALL RMs on @OrderNo, @ReleaseNo
SELECT OREIRM.ItemId, OREIRM.SerialNo, L.GLAcctCode, L.LocId, Level = 0
	FROM [W005].[dbo].[OrderReleaseEvent] AS ORERM 
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId AND Substring(L.GLAcctCode,1,1) IN ('1', '2', '3', '8')
	WHERE ORERM.OrderNo = @OrderNo AND ORERM.ReleaseNo = @ReleaseNo
    UNION ALL
-- Recursive member definition  -- For the RMs that are IMs get their RMs
	SELECT OREIRM.ItemId, OREIRM.SerialNo, L.GLAcctCode, L.LocId, Level + 1
	FROM RawMaterial R 
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIFG ON OREIFG.ItemId=R.ItemId AND OREIFG.SerialNo = R.SerialNo AND OREIFG.IsAssembly=1
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS OREFG ON OREFG.Id = OREIFG.OrderReleaseEventId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo = OREFG.OrderNo AND ORERM.ReleaseNo = OREFG.ReleaseNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON OREIRM.OrderReleaseEventId=ORERM.Id AND OREIRM.IsAssembly=0
		INNER JOIN [005].[dbo].[tblInItemLoc] AS L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId 
	WHERE Substring(R.GLAcctCode,1,1) = '8'
)
-- Statement that executes the CTE
SELECT TOP 1 R.*, V.[Name] + ', ' + IsNULL(V.Region,'') + ', ' + IsNULL(v.Country,'') AS Mfr
INTO #MFR
FROM RawMaterial R
	INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=R.ItemId AND L.LocId=R.LocId 
	LEFT JOIN [005].[dbo].[tblApVendor] V ON V.VendorID = L.DfltVendId
WHERE Substring(R.GLAcctCode,1,1) IN ('1', '2', '3')
ORDER BY Level DESC;



	SELECT DISTINCT  
		OREI.ItemId
		,PONum = IsNULL(MpOR.PurchaseOrder, IsNULL(MpHOR.PurchaseOrder,''))
		,Notes = IsNULL((SELECT Comment FROM [005].[dbo].[tblSmAttachment] WHERE Keywords = 'Label Info' AND LinkType='MP' AND LinkKey = @OrderNo),'')
		,Material = I.Descr
		,MaterialNum = IA.AliasID
		,Manufacturer = m.Mfr
		,Specification = AD.AddlDescr
		,StorageTempC = (SELECT nTarget
						FROM [W005].[dbo].[ProductChar] AS P1
						INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Id=P1.CharId AND C1.Characteristic='MaterialStorageTempC'
						WHERE P1.ItemId = OREI.ItemId)
		,PrepregDOM = (SELECT MIN([cf_Vendor Mfg Date]) FROM [005].dbo.trav_tblInItemLocLot_View WHERE ItemId = OREIRM.ItemId AND LocID = OREIRM.LocId AND LotNum = OREIRM.SerialNo)
		,ExpiryDate = (SELECT MIN(ExpDate) FROM [005].dbo.trav_tblInItemLocLot_View WHERE ItemId = OREIRM.ItemId AND LocID = OREIRM.LocId AND LotNum = OREIRM.SerialNo)
		,WebWO = ORE.OrderNo
		,NumSplices = (SELECT COUNT(Id) FROM [W005].[dbo].[OrderReleaseEventSpliceDetail] WHERE OrderReleaseEventItemId = OREI.Id)
		,NetWt = OREI.TotalQty / (SELECT IsNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] WHERE ItemID = OREI.ItemId AND UOM = 'KG')
		,FGLength = OREI.TotalQty
		,SlitBatch = STUFF
						(
							(
								SELECT DISTINCT '-' + O.LotNo
								FROM [W005].[dbo].[OrderReleaseEventItem] AS O 
								INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RE ON O.OrderReleaseEventId= RE.Id
								WHERE RE.OrderNo = @OrderNo AND RE.ReleaseNo = @ReleaseNo
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),
							1,1,''
						)
		,SpoolID = OREI.TravLotNum
		,StorageLife = (SELECT sTarget
						FROM [W005].[dbo].[ProductChar] AS P1
						INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Id=P1.CharId AND C1.Characteristic='StorageLifeStatement'
						WHERE P1.ItemId = OREI.ItemId)
		,Barcode = 'B' 
					+ 	STUFF
						(
							(
								SELECT DISTINCT '-' + O.LotNo
								FROM [W005].[dbo].[OrderReleaseEventItem] AS O 
								INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RE ON O.OrderReleaseEventId= RE.Id
								WHERE RE.OrderNo = @OrderNo AND RE.ReleaseNo = @ReleaseNo
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),
							1,1,''
						)
					+ 'S' + REPLACE(IsNull(OREI.TravLotNum,''),'-','') + 'L' + CAST(OREI.TotalQty as varchar(8))
	
	FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId AND OREI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId = OREI.ItemId
		 LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID=OREI.ItemId
		 LEFT JOIN [005].[dbo].[tblInItemAddlDescr] AS AD ON AD.ItemID=OREI.ItemId
		 LEFT JOIN [W005].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo=@OrderNo AND ORERM.ReleaseNo=@ReleaseNo 
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId AND Substring(L.GLAcctCode,1,1) IN ('1', '2', '3', '8')
		 LEFT JOIN #MFR m ON 1 = 1
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] MpOR ON MpOR.Orderno =ORE.OrderNo AND MpOR.ReleaseNo = ORE.ReleaseNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] MpHOR ON MpHOR.OrderNo = ORE.OrderNo AND MpHOR.ReleaseNo = ORE.ReleaseNo
	WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId = 0 or OREI.Id = @OrderReleaseEventItemId)

DROP TABLE #MFR




END
GO
