USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipmentsThatCanBeConsolidated]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShipmentsThatCanBeConsolidated]

AS
BEGIN


	SELECT PL.OrderNo,PL.PLNo,PL.CustId,PL.CustName,PL.CustPO,PL.ShipDate,PL.ShipMethod,PL.ShipToName,PL.ShipToId,PL.GrossWt,PL.RemoteWarehouse
	FROM [W005].[dbo].[ShipPackingList] PL 
	WHERE PL.NotesReveiwed=1 
		AND PL.Complete=0 
		AND PL.ShipGroupId Is Null 
		AND PL.ShipTerms Is Not Null 
		AND PL.GrossWt Is Not Null 
		AND (PL.QAReleaseReq=0 OR PL.QAReleasedBy Is Not NULL)
		AND (PL.CCHoldReq=0 OR PL.CCHoldReleasedBy Is Not NULL)
		AND PL.Posted=0



END

GO
