USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCartonQtyToPost]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCartonQtyToPost]	@ShipCartonId as int
AS
BEGIN

--DECLARE @ShipCartonId as int = 2

		SELECT  SUM(I.Quantity) As Qty
		FROM  [W005].[dbo].[ShipItem] As I 
		WHERE I.ShipCartonId=@ShipCartonId AND I.Complete=1 AND I.PostedToTraverse=0
	
END







GO
