USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spABCFixRounding]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spABCFixRounding] @RunDate as DateTime
AS
BEGIN
	--Handle Rounding Issues Below
	--Handle Rounding Issues Below
	--Handle Rounding Issues Below
	--UPDATE ABCReleaseIdItemId 
	--  SET WIMaterialDirectUnitCost = (I.UnitCostBase * R.WIMaterialDirectCostPct)
	--	 ,WIMaterialInDirectUnitCost = (I.UnitCostBase * R.WIMaterialInDirectCostPct)
	--	 ,WILaborSetupUnitCost = (I.UnitCostBase * R.WILaborSetupCostPct)
	--	 ,WILaborUnitCost = (I.UnitCostBase * R.WILaborCostPct)
	--	 ,WIMachineSetupUnitCost = (I.UnitCostBase * R.WIMachineSetupCostPct)
	--	 ,WIMachineUnitCost = (I.UnitCostBase * R.WIMachineCostPct)
	--	 ,WIMachineUnitCostModified = (I.UnitCostBase * R.WIMachineCostModifiedPct)
	--	 ,WIMachineUnitCostVariable = (I.UnitCostBase * R.WIMachineCostVariablePct)
	--	 ,WISubcontractUnitCost = (I.UnitCostBase * R.WISubcontractCostPct)
	--	 ,UnitCostABC = ((I.UnitCostBase * R.WIMaterialDirectCostPct)+
	--						(I.UnitCostBase * R.WIMaterialInDirectCostPct)+
	--						(I.UnitCostBase * R.WILaborSetupCostPct)+
	--						(I.UnitCostBase * R.WILaborCostPct)+
	--						(I.UnitCostBase * R.WIMachineSetupCostPct)+
	--						(I.UnitCostBase * R.WIMachineCostPct)+
	--						(I.UnitCostBase * R.WISubcontractCostPct))
	--	 ,PctCalcUsed = 1
	--FROM ABCReleaseIdItemId I
	--INNER JOIN ABCReleaseID R ON R.ReleaseId = I.ReleaseId
	--WHERE ABCRunDate = CONVERT(date, GetDate())
	--AND (I.UnitCostBase/I.ConvFactor) != I.UnitCostABC AND ABS((I.UnitCostBase * I.Qty) - (I.UnitCostABC * I.QtyABC)) > 0.5 

	UPDATE ABCReleaseIdItemId SET WIMaterialDirectUnitCost = WIMaterialDirectUnitCost + (UnitCostBase/ConvFactor - UnitCostABC), UnitCostABC = UnitCostABC + ((UnitCostBase/ConvFactor) - UnitCostABC)
	WHERE ReleaseId IN (SELECT ReleaseId FROM ABCReleaseId WHERE ABCRunDate = @RunDate)
	AND (UnitCostBase/ConvFactor) != UnitCostABC AND ABS((UnitCostBase*Qty)- (UnitCostABC * QtyABC)) <= 0.5 AND WIMaterialDirectUnitCost > 0

	UPDATE ABCReleaseIdItemId SET WIMaterialInDirectUnitCost = WIMaterialInDirectUnitCost + ((UnitCostBase/ConvFactor) - UnitCostABC), UnitCostABC = UnitCostABC + ((UnitCostBase/ConvFactor) - UnitCostABC)
	WHERE ReleaseId IN (SELECT ReleaseId FROM ABCReleaseId WHERE ABCRunDate = @RunDate)
	AND (UnitCostBase/ConvFactor) != UnitCostABC AND ABS((UnitCostBase*Qty)- (UnitCostABC * QtyABC)) <= 0.5 AND WIMaterialInDirectUnitCost > 0

	UPDATE ABCReleaseIdItemId SET WILaborUnitCost = WILaborUnitCost + ((UnitCostBase/ConvFactor) - UnitCostABC), UnitCostABC = UnitCostABC + ((UnitCostBase/ConvFactor) - UnitCostABC)
	WHERE ReleaseId IN (SELECT ReleaseId FROM ABCReleaseId WHERE ABCRunDate = @RunDate)
	AND (UnitCostBase/ConvFactor) != UnitCostABC AND ABS((UnitCostBase*Qty)- (UnitCostABC * QtyABC)) <= 0.5 AND WILaborUnitCost > 0

	UPDATE ABCReleaseIdItemId SET WIMachineUnitCost = WIMachineUnitCost + ((UnitCostBase/ConvFactor) - UnitCostABC), UnitCostABC = UnitCostABC + ((UnitCostBase/ConvFactor) - UnitCostABC)
	WHERE ReleaseId IN (SELECT ReleaseId FROM ABCReleaseId WHERE ABCRunDate = @RunDate)
	AND (UnitCostBase/ConvFactor) != UnitCostABC AND ABS((UnitCostBase*Qty)- (UnitCostABC * QtyABC)) <= 0.5 AND WIMachineUnitCost > 0
	--Handle Rounding Issues Above
	--Handle Rounding Issues Above
	--Handle Rounding Issues Above

END
GO
