USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemTraceability]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spItemTraceability] @LotNo as Varchar(16), @SerNo as Varchar(16), @ItemId as Varchar(24)
AS
BEGIN
	--DECLARE @SerNo as Varchar(16) = '00030054-001-003'
	--DECLARE @ItemId as Varchar(24) = 'AERO-BU10-625' 
	--DECLARE @LotNo as Varchar(16) = ''
	--DECLARE @SerNo as Varchar(16) = '005316-28'
	--DECLARE @ItemId as Varchar(24) = 'ZM-225-FLM-BLU-16' 
	--DECLARE @LotNo as Varchar(16) = '313814'
	--DECLARE @SerNo as Varchar(16) = ''
	--DECLARE @ItemId as Varchar(24) = 'ZM-225-FLM-BLU-16' 

	IF LEN(@SerNo) = 0 SET @SerNo = Null
	IF LEN(@LotNo) = 0 SET @LotNo = Null

	SELECT Distinct 1 AS SEQ, E.OrderNo, E.ReleaseNo, TI.ItemId, TI.Descr, L.GLAcctCode, I.LotNo, I.SerialNo, I.IsAssembly, I.EventDateTime
	INTO #T1
	FROM [W005].[dbo].[OrderReleaseEventItem] I 
			Inner Join [W005].[dbo].[OrderReleaseEvent] E ON E.Id = I.OrderReleaseEventId
			Inner Join [005].[dbo].[trav_tblInItem_view] TI ON TI.ItemId = I.ItemId
			Inner Join [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId AND L.LocId = I.LocId
	WHERE (((@SerNo is Null or I.SerialNo = @SerNo) AND (@LotNo is Null or I.LotNo = @LotNo)) AND I.ItemId = @ItemId) 

	SELECT SEQ, OrderNo, ReleaseNo, ItemId, Descr, GLAcctCode, LotNo, SerialNo, IsAssembly, EventDateTime
	FROM #T1
	UNION ALL
	SELECT Distinct 2 AS SEQ, E.OrderNo, E.ReleaseNo, TI.ItemId, TI.Descr, L.GLAcctCode, I.LotNo, I.SerialNo, I.IsAssembly, I.EventDateTime
	FROM [W005].[dbo].[OrderReleaseEventItem] I 
		 Inner Join [W005].[dbo].[OrderReleaseEvent] E ON E.Id = I.OrderReleaseEventId
		 Inner Join [005].[dbo].[trav_tblInItem_view] TI ON TI.ItemId = I.ItemId
		 Inner Join [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId AND L.LocId = I.LocId AND SUBSTRING(L.GLAcctCode,1,1) in ('1','2','3','7','8')
		 Inner Join #T1 T ON T.OrderNo = E.OrderNo AND T.ReleaseNo = E.ReleaseNo AND T.IsAssembly <> I.IsAssembly
	ORDER BY OrderNo, ReleaseNo, SEQ, LotNo, SerialNo

	DROP TABLE #T1
END

GO
