USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackingListReportType]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPackingListReportType] 
	@PLNo as Int 
	
AS
BEGIN
	
--DECLARE @PLNo as Int  = 3874

	SELECT [cf_Packing List Report Type] as ReportType			  		
	FROM	[W005].[dbo].[ShipPackingList] AS spl
			LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] as U1 ON U1.ShipToId = spl.ShipToId	AND U1.CustId = spl.CustId
	WHERE spl.PLNo=@PLNo


END	
GO
