USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRemoveUnusedBOMRequirements]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRemoveUnusedBOMRequirements] 
@OrderNo as Varchar(8),
@ReleaseNo as int,
@MachineGroupId as varchar(10)
AS
BEGIN
	Declare @ReleaseId as int

	--************************************************************************************************
	--Get Order Release to obtain the ID column to be used in subsequent Queries
	--************************************************************************************************
	SELECT @ReleaseId = Id FROM [005].[dbo].[tblMpOrderReleases] WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo

	--************************************************************************************************
	--Determine which Operations (TimeSum records) to Delete based on what machine we are running on
	--************************************************************************************************
	SELECT R.TransId INTO #DelTransId FROM [005].[dbo].[tblMpRequirements] R INNER JOIN 
				  [005].[dbo].[tblMpTimeSum] T ON T.TransId = R.TransId
	Where R.ReleaseId = @ReleaseId AND R.IndLevel = 1 AND (T.WorkCenterId <> @MachineGroupId)

	--************************************************************************************************
	--Delete Material Summary Records that belong to Operations on machines that we are not running on
	--************************************************************************************************
	--SELECT 'tblMpMatlSum Delete',* FROM [005].[dbo].[tblMpMatlSum] 
	DELETE FROM [005].[dbo].[tblMpMatlSum] 
	WHERE TransId in 
		(SELECT R.TransId FROM [005].[dbo].[tblMpRequirements] R
		 WHERE R.ParentId IN (SELECT TransId FROM #DelTransId))

	--************************************************************************************************
	--Delete Time Summary Records that belong to Operations on machines that we are not running on
	--************************************************************************************************
	--SELECT 'tblMpTimeSum Delete',* FROM [005].[dbo].[tblMpTimeSum] 
	DELETE FROM [005].[dbo].[tblMpTimeSum]
	WHERE TransId in (SELECT TransId FROM #DelTransId)


	--************************************************************************************************
	--Delete MpRequirements Records that belong to Operations on machines that we are not running on
	--************************************************************************************************
	--SELECT 'tblMpRequirements Delete', * FROM [005].[dbo].[tblMpRequirements] 
	DELETE FROM [005].[dbo].[tblMpRequirements] 
	WHERE TransId IN (SELECT TransId FROM #DelTransId) OR
		  ParentId IN (SELECT TransId FROM #DelTransId)

	--************************************************************************************************
	--Obtain Remaining Requirements and Loop thru to resequence ReqSeq
	--************************************************************************************************
	DECLARE @TransId as int
	DECLARE @IndLevel as int
	DECLARE @Step as int
	DECLARE @ReqSeq as int
	DECLARE @ReSeq as int 
	SET @ReSeq = 10

	DECLARE iCur CURSOR FOR
		SELECT TransId, IndLevel, Step, ReqSeq 
		FROM [005].[dbo].[tblMpRequirements]
		WHERE ReleaseId = @ReleaseId
		ORDER BY Indlevel Desc, Step Asc

	BEGIN
	  OPEN iCur
	  FETCH NEXT FROM  iCur INTO @TransId, @IndLevel, @Step, @ReqSeq

	  WHILE (@@Fetch_Status) = 0
		BEGIN
		  UPDATE [005].[dbo].[tblMpRequirements] SET ReqSeq = @ReSeq WHERE TransId = @TransId
		  SET @ReSeq = @ReSeq + 10
		  FETCH NEXT FROM  iCur INTO @TransId, @IndLevel, @Step, @ReqSeq
		END
	  CLOSE iCur
	  DEALLOCATE iCur
	END

	--************************************************************************************************
	--Procedure Cleanup
	--************************************************************************************************
	DROP TABLE #DelTransId

END
GO
