USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemsPackedToShipUnit]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spItemsPackedToShipUnit]
	@ShipUnitId as int
AS
BEGIN


--DECLARE @ShipUnitId as int


	SELECT Id
		,ShipItemNo
		,ItemId
		,IsNull(TravSerNum,SerNo) AS SerNum
		,IsNull(TravLotNum,LotNo) AS LotNum
		,Quantity
		,UOM
		,DateCreated
		,Complete
		,Location
		,ErrMsg = ''
		
	FROM [W005].[dbo].[ShipItem] 

	WHERE ShipPalletId=@ShipUnitId 
	

	
END
GO
