USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExplodedBOMIndirectRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExplodedBOMIndirectRM] @OrderNo as varchar(8), @ReleaseNo as int  

AS
BEGIN

 --   DECLARE @OrderNo as varchar(8) = '00058930'
	--DECLARE @ReleaseNo as int = 1

		SELECT DISTINCT ItemId, Descr, SUM(QtyOnHand) AS QtyOnHand, UomBase, LottedYN, LocId
		FROM
		(	SELECT I.ItemId, I.Descr, OH.QtyOnHand, I.UomBase, I.LottedYN, OH.LocId
			FROM [005].dbo.tblMpOrder mpO 
			INNER JOIN [005].dbo.tblMpOrderReleases mpOR ON mpOR.OrderNo = mpO.OrderNo
			INNER JOIN [005].dbo.tblMpRequirements mpReq ON mpReq.ReleaseId = mpOR.Id AND IndLevel != 0
			INNER JOIN [005].dbo.tblMpMatlSum mpMatSum ON mpMatSum.TransId = mpReq.TransId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = mpMatSum.ComponentID	
			INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = mpMatSum.ComponentID AND L.LocId = mpO.LocID AND SUBSTRING(L.GLAcctCode,1,1) IN ('4', '5', '6') -- indirect material	
			INNER JOIN [005].dbo.trav_InItemOnHandLot_view OH ON OH.ItemId = mpMatSum.ComponentId AND OH.LocId Like 'INV%'
			INNER JOIN [005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = mpO.AssemblyId AND H.RevisionNo = mpO.RevisionNo
			INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View AD ON AD.ComponentId = mpMatSum.ComponentId  AND AD.HeaderId = H.Id  
			WHERE mpO.OrderNo = @OrderNo 
				AND (@ReleaseNo = 0 OR mpOR.ReleaseNo = @ReleaseNo) 
				AND mpMatSum.ComponentType <> 5 
				AND ((AD.[cf_Do not show on MES Issue-Load Forms] IS NULL) OR (AD.[cf_Do not show on MES Issue-Load Forms] = 0))
		) A
		GROUP BY ItemId, Descr,UomBase, LottedYN, LocId
		Order By ItemId


	
END
GO
