USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDailyQAHoldRawIntUnits]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDailyQAHoldRawIntUnits]
AS
BEGIN
	SELECT DISTINCT  Q.ItemID 
					,Q.LocId ,IIF(ISNULL(I.[cf_Multi-UOM Serial Item], 0)=1, L.LotNum, Null) AS SerialNo
					,IIF(ISNULL(I.[cf_Multi-UOM Serial Item], 0)=1, L.[cf_Lot No.], L.LotNum) AS LotNo
					,TravLotNum = L.LotNum
					,Q.QtyOnHand as Qty
					,I.UomBase
					,CONVERT(VARCHAR(10),L.InitialDate,101) AS InitialDate
	FROM [005].dbo.trav_InItemOnHandLot_view Q INNER JOIN 
		 [005].dbo.trav_tblInItem_view I ON I.ItemId = Q.ItemId INNER JOIN
		 [005].dbo.tblInItemLoc LL ON LL.ItemId = Q.ItemId AND LL.LocId = Q.LocId AND SUBSTRING(LL.GLAcctCode,1,1) <> '7' LEFT JOIN
		 [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = Q.ItemId and L.LocId = Q.LocId and L.LotNum = Q.LotNum
	WHERE Q.QtyOnHand > 0 AND Q.LocId='QA HOLD'
END
GO
