USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetLastBinLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetLastBinLocId] 
	@ItemId as varchar(24), @LocId as varchar(10),@LotNum as varchar(16),@SerNum as varchar(35)
AS
BEGIN

 --DECLARE @ItemId as varchar(24) = 'RM-CADC5133-PRP'
 --DECLARE @LocId as varchar(10) = 'INVMTP'
 --DECLARE @LotNum as varchar(16) = '053117-01'
 --DECLARE @SerNum as varchar(35) = Null


	 IF @SerNum Is Null
	  BEGIN
	  IF EXISTS(
		  SELECT ExtLocA
		  FROM [005].[dbo].[tblWmHistDetail] 
		  WHERE ItemId=@ItemId AND LocId=@LocId AND Lotnum=@LotNum 
				AND ExtHistSeqNum = (SELECT MAX(ExtHistSeqNum) 
									FROM [005].[dbo].[tblWmHistDetail]
									WHERE ItemId=@ItemId AND LocId=@LocId AND Lotnum=@LotNum AND Source IN (10, 19) --10=PO Receipt, 19=Move In
									)
		)
		BEGIN
		 SELECT ExtLocA
		  FROM [005].[dbo].[tblWmHistDetail] 
		  WHERE ItemId=@ItemId AND LocId=@LocId AND Lotnum=@LotNum 
				AND ExtHistSeqNum = (SELECT MAX(ExtHistSeqNum) 
									FROM [005].[dbo].[tblWmHistDetail]
									WHERE ItemId=@ItemId AND LocId=@LocId AND Lotnum=@LotNum AND Source IN (10, 19) --10=PO Receipt, 19=Move In
									)
		END ELSE BEGIN
			SELECT ExtLocA = 0;
		END
	 END
	 ELSE 
	 BEGIN
	  IF EXISTS(
			SELECT ExtLocA
			FROM [005].[dbo].[tblWmHistDetail] 
			WHERE ItemId=@ItemId AND LocId=@LocId AND Sernum=@SerNum 
					AND ExtHistSeqNum = (SELECT MAX(ExtHistSeqNum) 
										FROM [005].[dbo].[tblWmHistDetail]
										WHERE ItemId=@ItemId AND LocId=@LocId AND Sernum=@SerNum AND Source IN (10, 19) --10=PO Receipt, 19=Move In
										)
		)
		BEGIN
			SELECT ExtLocA
			FROM [005].[dbo].[tblWmHistDetail] 
			WHERE ItemId=@ItemId AND LocId=@LocId AND Sernum=@SerNum 
					AND ExtHistSeqNum = (SELECT MAX(ExtHistSeqNum) 
										FROM [005].[dbo].[tblWmHistDetail]
										WHERE ItemId=@ItemId AND LocId=@LocId AND Sernum=@SerNum AND Source IN (10, 19) --10=PO Receipt, 19=Move In
										)
		END ELSE BEGIN
			SELECT ExtLocA = 0;
		END
	END





END

GO
