USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackToShipSupplyItems]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetPackToShipSupplyItems]
	@LocId as varchar(10)
AS
BEGIN
	
--DECLARE @LocId as varchar(10) = 'INVMTP'


	SELECT ii.ItemId,ii.Descr,ii.ItemType,ii.ItemStatus,ii.UomBase,ii.LottedYN, il.LocId
	FROM [005].[dbo].[tblInItem] ii
		INNER JOIN [005].[dbo].[tblInItemLoc] il ON ii.ItemId=il.ItemId
	WHERE il.LocId=@LocId AND (ii.ItemId Not Like 'FG%' AND ii.ItemId Not Like 'RM%')



END


GO
