USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExplodedBOMFGMaterialInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExplodedBOMFGMaterialInventory] @OrderNo as varchar(8), @ReleaseNo as int, @ItemId as varchar(24)
AS
BEGIN

--DECLARE @OrderNo as varchar(8) = '00000029'
--DECLARE @ReleaseNo as int = 1
--DECLARE @ItemId as varchar(24) = 'FG-TORA15AF-PAD'

	IF @ReleaseNo = 0
	  BEGIN
	    SET @ReleaseNo = null
	  END

	SELECT	I.ItemId,
			I.Descr,
 			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0) 
				WHEN 1 THEN L.LotNum 
				ELSE NULL 
			END AS SerialNo, 
			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0)
				WHEN 1 THEN L.[cf_Lot No.]
				ELSE
					CASE I.LottedYN
						WHEN 1 THEN L.LotNum
						ELSE Null
					END
			END AS LotNo,
			L.LotNum as TravLotNum,
			CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) AS QtyOnHand, 
			IsNull(M.Qty, 0) AS QtyIssued,
			(CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) - IsNull(M.Qty, 0)) AS QtyAvailable,
			S.UOM, 
			L.ExpDate, 
			L.[cf_Width] as Width,
			ISNULL(S.[cf_Max Lots Allowed], 0) AS MaxLotsAllowed,
			L.LocId
	FROM    [005].dbo.tblMpOrderReleases O 
	        INNER JOIN [005].dbo.tblMpRequirements R ON R.ReleaseId = O.Id
	        INNER JOIN [005].dbo.trav_tblMpMatlSum_View S ON S.TransId = R.TransId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = S.ComponentID 
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = I.ItemId AND L.LocId NOT LIKE 'INV%' 
			LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS Q ON Q.ItemId = L.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum 
			LEFT JOIN [W005].dbo.MpOrderMatIssued AS M ON M.ItemId = L.ItemId AND M.LocId = L.LocId and M.Completed = 0 AND (M.SerialNo = L.LotNum or M.LotNo = L.LotNum) 
			LEFT JOIN [W005].dbo.ShipItem AS SI ON SI.ItemId = I.ItemId AND SI.TravLotNum = L.LotNum
			--INNER JOIN #T1 T ON T.ItemId = Q.ItemId and T.TravLotNum = Q.LotNum
			--NOt Packed - NO Ship Item record or a ship Item record exists and it is not packed.
	WHERE O.OrderNo = @OrderNo AND (@ReleaseNo IS NULL OR O.ReleaseNo = @ReleaseNo) and S.ComponentID = @ItemId and ISNULL(Q.QtyOnHand, 0) > 0 
	AND (SI.Id IS NULL OR (SI.ShipPalletId IS NULL AND SI.ShipCartonId IS NULL AND SI.ShipBoxId IS NULL AND SI.ShipRackId IS NULL AND SI.ShipToteId IS NULL))
END

GO
