USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIOrderReleaseSummaryLoad]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIOrderReleaseSummaryLoad] 
AS
BEGIN
	SELECT DISTINCT ParentOrder, Cast(1 as int) as ParentOrderReleaseNo, MFGGroup, Qty, UOM, /*SalesOrder,*/ ProdOrders, Kits, Program
	INTO #T2
	FROM	 [W005].[dbo].[vCCIParentOrderForKitFinalize] A
	WHERE MfgCompleted = 1 
	AND ParentOrder NOT IN (SELECT ORS.ParentOrderNo FROM [w005].[dbo].[CCIOrderReleaseSummary] AS ORS WHERE ORS.ParentOrderNo = A.ParentOrder) 

	SELECT  A.OrderNo, 
			A.ReleaseNo, 
			A.MFGGroup,
			A.Qty, 
			A.UOM, 
			--A.SalesOrder, 
			A.ProdOrders,
			A.Kits,
			A.Program, 
			LaborMinutes = A.TotalLaborMinutes,
			LaborHours = A.TotalLaborMinutes/60.0,
			A.TotalLaborMinutes,
			TotalLaborHours = A.TotalLaborMinutes/60.0,
			A.MachineGroupId, 
			A.MachineMinutes,
			A.NonMaterialDownTimeMinutes,
			TotalMachineMinutes = A.MachineMinutes - A.NonMaterialDownTimeMinutes,
			MachineHours = A.MachineMinutes/60.0,
			NonMaterialDownTimeHours = A.NonMaterialDownTimeMinutes/60.0,
			TotalMachineHours = (A.MachineMinutes - A.NonMaterialDownTimeMinutes)/60.0
	INTO #T1
	FROM
	(
	SELECT	DISTINCT ORE.OrderNo, 
			ORE.ReleaseNo,
			#T2.MFGGroup,
			#T2.Qty as Qty, 
			#T2.UOM,
			--#T2.SalesOrder, 
			#T2.ProdOrders,
			#T2.Kits,
			#T2.Program, 
			TotalLaborMinutes = (SELECT SUM([ClockInDurationMin]) AS TotalLabor FROM [W005].[dbo].[OrderReleaseEventLabor] AS L WHERE L.OrderNo = ORE.OrderNo),
			MachineMinutes = (SELECT SUM([MachineDurationMin]) FROM [W005].[dbo].[OrderReleaseEvent] AS L WHERE L.OrderNo = ORE.OrderNo and (L.Machine is not null AND L.Machine != 'NO MACHINE')),
			Substring(ORE.MachineGroupId,1,3) as MachineGroupId, 
			NonMaterialDownTimeMinutes = (Select IsNull(SUM(ORE2.EventDurationMin), 0) FROM [W005].[dbo].[OrderReleaseEvent] AS ORE2 INNER JOIN [W005].[dbo].[OrderReleaseEventDowntime] AS ORED ON ORE2.OrderNo = ORE.OrderNo AND ORE2.ReleaseNo = ORE.ReleaseNo AND ORE2.Event = 'Record Downtime' AND ORED.OrderReleaseEventId = ORE2.Id AND ORED.MaterialRelated = 0)
	FROM [W005].[dbo].[OrderReleaseEvent] AS ORE INNER JOIN
		 #T2 ON #T2.ParentOrder = ORE.OrderNo 
	GROUP BY ORE.OrderNo, ORE.ReleaseNo, #T2.MFGGroup, #T2.Qty, #T2.UOM, ORE.MachineGroupId, /*#T2.SalesOrder,*/ #T2.ProdOrders,#T2.Kits,#T2.Program
	) AS A

	INSERT INTO [W005].[dbo].[CCIOrderReleaseSummary] (ParentOrderNo, MFGGroup, Qty, UOM, /*SalesOrder,*/ ProdOrders, Kits, Program, LaborMinutes, LaborHours, TotalLaborMinutes, TotalLaborHours, MachineGroupId, MachineMinutes, NonMaterialDownTimeMinutes,TotalMachineMinutes, MachineHours, NonMaterialDownTimeHours,TotalMachineHours)
	SELECT OrderNo, MFGGroup, Qty, UOM, /*SalesOrder,*/ ProdOrders, Kits, Program, IsNULL(LaborMinutes, 0), IsNULL(LaborHours,0), IsNULL(TotalLaborMinutes,0), IsNULL(TotalLaborHours,0), IsNULL(MachineGroupId,0), IsNULL(MachineMinutes,0), IsNULL(NonMaterialDownTimeMinutes,0),IsNULL(TotalMachineMinutes,0), IsNULL(MachineHours,0), IsNULL(NonMaterialDownTimeHours,0),IsNULL(TotalMachineHours,0)
	FROM #T1
	ORDER BY 1

	INSERT INTO [W005].[dbo].[CCIOrderReleaseSummaryLabor] (ParentOrderNo, OperationStep, EmployeeId, Operation, OperationDescr, EmployeeName, LaborMinutes, LaborHours, TotalLaborMinutes, TotalLaborHours, SetupMinutes, SetupHours)
	SELECT A.OrderNo
		,A.OperationStep
		,A.EmployeeId
		,A.Operation
		,A.OperationDesc
		,A.EmployeeName
		,LaborMinutes = (A.LaborMinutes - A.SetupMinutes)
		,LaborHours = (A.LaborMinutes - A.SetupMinutes)/60.0
		,TotalLaborMinutes = (A.LaborMinutes)
		,TotalLaborHours = (A.LaborMinutes)/60.0
		,A.SetupMinutes
		,SetupHours = A.SetupMinutes/60.0 
	FROM
	(SELECT L.[OrderNo]
		  ,V.OperationStep
		  ,L.[EmployeeId]
		  ,V.[Operation]
		  ,O.Descr as OperationDesc
		  ,EmployeeName = E.[FirstName] + ' ' + E.[LastName]
		  ,LaborMinutes = SUM(L.[ClockInDurationMin])
		  ,SetupMinutes = IsNull((Select SUM((DateDiff(ss, IIF(L1.ClockIn < E1.EventStart, L1.ClockIn, E1.EventStart), IIF(L1.ClockOut > E1.EventEnd, L1.ClockOut, E1.EventEnd))/60.0)) AS SetupMinutes 
							FROM [W005].[dbo].[OrderReleaseEvent] E1 INNER JOIN
								 [W005].[dbo].[OrderReleaseEventLabor] L1 ON L1.OrderReleaseEventId = E1.Id 
							WHERE E1.OrderNo = T.OrderNo AND E1.ReleaseNo = T.ReleaseNo AND E1.Operation = V.Operation and E1.Event = 'Setup' AND L1.ClockIn <= E1.EventEnd AND L1.EmployeeId = L.EmployeeId
							--GROUP BY L1.EmployeeId, L1.ClockIn, L1.ClockOut, E1.EventStart, E1.EventEnd
							),0)
	FROM  [W005].[dbo].[OrderReleaseEventLabor] AS L INNER JOIN 
		  [W005].[dbo].[OrderReleaseEvent] AS V ON V.Id = L.OrderReleaseEventId INNER  JOIN
		  [005].[dbo].[tblSmEmployee] AS E ON E.EmployeeId = L.EmployeeId LEFT JOIN
		  [005].[dbo].[tblMrOperations] O ON O.OperationId = V.Operation INNER JOIN
		  #T1 AS T ON T.OrderNo = L.OrderNo AND T.ReleaseNo = L.ReleaseNo
	GROUP BY L.[OrderNo], L.[ReleaseNo], T.OrderNo, T.ReleaseNo, V.OperationStep, L.[EmployeeId], V.[Operation], O.Descr, E.[FirstName], E.[LastName]
	HAVING 	SUM(L.[ClockInDurationMin]) > 0) AS A
	ORDER BY 1,2,3


	INSERT INTO [W005].[dbo].[CCIOrderReleaseSummaryMachine] (ParentOrderNo, OperationStep, Machine, Operation, OperationDescr, MachineGroupId, MachineMinutes, MachineHours, NonMaterialDownTimeMinutes, NonMaterialDownTimeHours, SetupMinutes, SetupHours, TotalMachineMinutes, TotalMachineHours)
	SELECT A.OrderNo, 
		   A.OperationStep,
		   A.Machine, 
		   A.Operation, 
		   A.OperationDesc,
		   A.MachineGroupId, 
		   MachineMinutes,
		   MachineHours = (A.MachineMinutes)/60.0,
		   A.NonMaterialDownTimeMinutes, 
		   NonMaterialDownTimeHours = A.NonMaterialDownTimeMinutes/60.0,
		   A.SetupMinutes,
		   SetupHours = A.SetupMinutes/60.0,
		   TotalMachineMinutes = (A.MachineMinutes)-A.NonMaterialDownTimeMinutes, 
		   TotalMachineHours = ((A.MachineMinutes)-A.NonMaterialDownTimeMinutes)/60.0
	FROM
	(SELECT	ORE.OrderNo, 
            ORE.OperationStep,
			ORE.Machine,
			ORE.Operation,
			O.Descr AS OperationDesc,
			ORE.MachineGroupId, 
			SUM(ISNULL(MachineDurationMin, 0)) AS MachineMinutes,
			NonMaterialDownTimeMinutes = 0,
			SetupMinutes = 0
	FROM [W005].[dbo].[OrderReleaseEvent] AS ORE INNER JOIN 
		 #T1 AS T ON T.OrderNo = ORE.OrderNo AND T.ReleaseNo = ORE.ReleaseNo LEFT JOIN 
		  [005].[dbo].[tblMrOperations] O ON O.OperationId = ORE.Operation 
	WHERE (ORE.Machine is not Null AND ORE.Machine != 'NO MACHINE') 
	GROUP BY ORE.OrderNo, ORE.OperationStep, ORE.Operation, O.Descr, ORE.MachineGroupId, ORE.Machine) AS A
	ORDER BY 1,2,5

	DROP TABLE #t1
	DROP TABLE #t2
END


GO
