USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialBoxesByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[spGetPartialBoxesByItemAndLocId]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

	DECLARE @DoNotMixLots as bit
	SELECT @DoNotMixLots = Pc.bTarget 
		FROM [W005].[dbo].[ProductChar] Pc inner join [W005].[dbo].[ShipItem] As I ON Pc.ItemId=I.ItemId 
		WHERE Pc.CharId=2036 AND Pc.ItemId = @ItemId


	SELECT B.ShipBoxNo As PkgId,SUM(I.Quantity) As Quantity,B.Id, Count(I.Id) As NoPacked, B.IsPacked,B.TareWt,Pc.bTarget
	FROM [W005].[dbo].[ShipBox] As B inner join [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
	Left Join [W005].[dbo].[ProductChar] Pc ON Pc.ItemId=I.ItemId and Pc.CharId=2036
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND B.Complete=0
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			@OrderNo 
		  ELSE
			'%' 
		  END
	GROUP BY B.Id,B.ShipBoxNo,B.IsPacked,B.TareWt,Pc.bTarget
	
END







GO
