USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebGPCoreLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[WebGPCoreLabel]
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
AS
BEGIN

	--DECLARE @PrintJobId as int = 1
	--DECLARE @OrderNo as varchar(8) = '00034746'--'00034230'--'00034936' --
	--DECLARE @ReleaseNo as int = 1--9--7 --
	--DECLARE @OrderReleaseEventItemId as int = 0


    SET NOCOUNT ON;

    SELECT DISTINCT
        OrderNo,
        ReleaseNo,
        OrderDescr,
        BatchNo,
        CustPN,
        Descr,
        Width,
        WidthMM,
        SerialNum,
        LotNum,
        HeadPos,
        CutPos,
        IPOCCutNo,
        FGExpDate,
        Qty,
        TotalNetWeight,
        LengthByLabelLengthUOM =
            Qty / (
                SELECT ISNULL(ConvFactor,1)
                FROM [005].[dbo].[tblInItemUom]
                WHERE ItemId = A.ItemId
                  AND Uom = A.LabelLengthUOM
            ),
        LabelLengthUOM,
        BarCode
    FROM
    (
        SELECT
            E.OrderNo,
            E.ReleaseNo,

            OrderDescr =
                (SELECT TOP 1 M.[cf_Order Description]
                 FROM [005].[dbo].[trav_tblMpOrder_View] M
                 WHERE M.OrderNo = @OrderNo),

            BatchNo =
                E.OrderNo + '-' + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)),3),

            CustPN =
                COALESCE(
                    (SELECT TOP 1 A.AliasID
                     FROM [005].[dbo].[tblMpOrderReleases] MP
                     JOIN [005].[dbo].[tblInItemAlias] A
                       ON A.RefID = MP.CustId AND A.AliasType = 1
                     WHERE MP.OrderNo = @OrderNo
                       AND MP.ReleaseNo = @ReleaseNo
                       AND A.ItemID = EI.ItemId),
                    (SELECT TOP 1 A.AliasID
                     FROM [005].[dbo].[tblMpHistoryOrderReleases] MP
                     JOIN [005].[dbo].[tblInItemAlias] A
                       ON A.RefID = MP.CustId AND A.AliasType = 1
                     WHERE MP.OrderNo = @OrderNo
                       AND MP.ReleaseNo = @ReleaseNo
                       AND A.ItemID = EI.ItemId)
                ),

            I.ItemId,
            I.Descr,

            LabelLengthUOM =
                (SELECT P.sTarget
                 FROM W005.dbo.ProductChar P
                 JOIN W005.dbo.Characteristic C ON C.Id = P.CharId
                 WHERE P.ItemId = EI.ItemId
                   AND C.Characteristic = 'LabelLengthUOM'),

            Width =
                (SELECT P.nTarget
                 FROM W005.dbo.ProductChar P
                 JOIN W005.dbo.Characteristic C ON C.Id = P.CharId
                 WHERE P.ItemId = EI.ItemId
                   AND C.Characteristic = 'Width(IN)'),

            WidthMM =
                (SELECT P.nTarget
                 FROM W005.dbo.ProductChar P
                 JOIN W005.dbo.Characteristic C ON C.Id = P.CharId
                 WHERE P.ItemId = EI.ItemId
                   AND C.Characteristic = 'Width(MM)'),

            SerialNum = EI.SerialNo,
            LotNum    = EI.LotNo,
            HeadPos   = EI.HeadPos,
            CutPos    = EI.CutPos,

            IPOCCutNo =
                CASE EI.CutPos
                    WHEN 1 THEN 'L'
                    WHEN 2 THEN 'C'
                    ELSE 'R'
                END,

            EI.FGExpDate,

            Qty =
                CASE
                    WHEN ISNULL(SI.Quantity,0) > 0 THEN SI.Quantity
                    ELSE EI.TotalQty
                END,

            TotalNetWeight =
                (CASE
                    WHEN ISNULL(SI.Quantity,0) > 0 THEN SI.Quantity
                    ELSE EI.TotalQty
                 END)
                 /
                (SELECT ISNULL(ConvFactor,1)
                 FROM [005].[dbo].[tblInItemUom]
                 WHERE ItemId = I.ItemId
                   AND Uom = 'LB'),

            BarCode =
                LEFT(I.Descr,40) + '|' +
                FORMAT(
                    (SELECT P.nTarget
                     FROM W005.dbo.ProductChar P
                     JOIN W005.dbo.Characteristic C ON C.Id = P.CharId
                     WHERE P.ItemId = EI.ItemId
                       AND C.Characteristic = 'Width(IN)'), 'F3'
                ) + '|' +
                FORMAT(E.EventStart,'yyyy-MM-dd') + '|' +
                FORMAT(EI.TotalQty,'F0') + '|' +
                E.OrderNo + '-' +
                RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)),3) + '|' +
                FORMAT(EI.CutPos,'00') + '|' +
                I.ItemId

        FROM W005.dbo.OrderReleaseEvent E
        JOIN W005.dbo.OrderReleaseEventItem EI
            ON EI.OrderReleaseEventId = E.Id
        JOIN [005].dbo.trav_tblInItem_view I
            ON I.ItemId = EI.ItemId
        LEFT JOIN W005.dbo.ShipItem SI
            ON SI.OREIId = EI.Id
           AND SI.ItemId = EI.ItemId
           AND SI.SerNo  = EI.SerialNo
           AND SI.LotNo  = EI.LotNo
        WHERE E.OrderNo = @OrderNo
          AND E.ReleaseNo = @ReleaseNo
          AND EI.IsAssembly = 1
          AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)
    ) A
    ORDER BY HeadPos;
END
GO
