USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateOrderReleaseInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateOrderReleaseInfo]
AS
BEGIN 
		   
-- Update Unscheduled and Planned orders
	UPDATE OrderReleaseInfo
	SET  OrderReleaseInfo.MfgStartDate = DATEADD(MINUTE, -R.DurationMinutes, R.MfgEndDate)
	    ,OrderReleaseInfo.MfgEndDate = R.MfgEndDate
		,OrderReleaseInfo.RequiredShipDate = R.ReqShipDate
		,OrderReleaseInfo.OrderDuration = R.DurationMinutes
		,OrderReleaseInfo.Qty = R.Qty
		,OrderReleaseInfo.CustRev = SO.[cf_Customer Revision No]
	FROM OrderReleaseInfo O
		 INNER JOIN vMpOrderReleasesInProcess R ON R.ReleaseId=O.ReleaseId
		 LEFT JOIN [005].dbo.trav_tblSoTransDetail_view SO ON SO.TransId=R.SalesOrder	
	WHERE R.ReleaseId IN (SELECT DISTINCT ReleaseId FROM OrderReleaseInfo)
		  AND O.Scheduled = 0 AND InProcess = 0

-- Delete order-releases (that have been deleted or have a status < 4 in Traverse) from the OrderReleaseInfo table 
	DELETE FROM OrderReleaseInfo
	WHERE ReleaseId NOT IN (SELECT DISTINCT Id 
								FROM [005].[dbo].[tblMpOrderReleases]
								WHERE Status >= 4 --In Process order-releases
							UNION
							SELECT DISTINCT ReleaseId 
								FROM [005].[dbo].[tblMpHistoryOrderReleases]) --Completed order-releases 

-- Delete order-release from the OrderScheduling table if they were deleted from the OrderReleaseInfo table
	DELETE FROM OrderScheduling 
	WHERE NOT EXISTS (SELECT * FROM OrderReleaseInfo WHERE OrderNo=OrderScheduling.OrderNo AND ReleaseNo=OrderScheduling.ReleaseNo)
		  AND Downtime=0

-- Update Unscheduled orders with manufacturing events
	UPDATE OrderReleaseInfo
	SET  OrderReleaseInfo.ReadytoSchedule = 1
		,OrderReleaseInfo.TravBomExploded = 1		
		,OrderReleaseInfo.Scheduled = 1
		,OrderReleaseInfo.ScheduledOnMachines = ORE.Machine
		,OrderReleaseInfo.InProcess = 1
	FROM OrderReleaseInfo O
		 INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=O.OrderNo AND ORE.ReleaseNo=O.ReleaseNo
	WHERE O.ReadytoSchedule = 0

END
GO
