USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetTraverseItemIdsAndBaseUOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetTraverseItemIdsAndBaseUOM] 

AS
BEGIN 



SELECT i.ItemId,i.Descr,u.Uom
FROM [005].[dbo].[tblInItem] i LEFT JOIN [005].[dbo].[tblInItemUom] u ON i.ItemId=u.ItemId
WHERE  i.ItemStatus = 1





END      

GO
