USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExplodedBOMMaterialInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExplodedBOMMaterialInventory] @OrderNo as varchar(8), @ReleaseNo as int, @ItemId as varchar(24), @LocId as varchar(10)
AS
BEGIN
 --   DECLARE @OrderNo as varchar(8) = '00055015'
	--DECLARE @ReleaseNo as int = 0
	--DECLARE @ItemId as varchar(24) = 'RM-CADC5005-MYL'
	--DECLARE @LocId as varchar(10) = 'INVDTN'

	IF @ReleaseNo = 0
	  BEGIN
	    SET @ReleaseNo = null
	  END
	SELECT	DISTINCT I.ItemId,
			I.Descr,
 			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0) 
				WHEN 1 THEN L.LotNum 
				ELSE NULL 
			END AS SerialNo, 
			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0)
				WHEN 1 THEN L.[cf_Lot No.]
				ELSE
					CASE I.LottedYN
						WHEN 1 THEN L.LotNum
						ELSE Null
					END
			END AS LotNo,
			L.LotNum as TravLotNum,
			CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) AS QtyOnHand, 
			IsNull(M.Qty, 0) AS QtyIssued,
			(CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) - IsNull(M.Qty, 0)) AS QtyAvailable,
			S.UOM, 
			L.ExpDate, 
			L.[cf_Width] as Width,
			ISNULL(S.[cf_Max Lots Allowed], 0) AS MaxLotsAllowed,
			L.LocId,
			L.[cf_Use By Date] AS UseByDate
	FROM    [005].dbo.tblMpOrderReleases O 
	        INNER JOIN [005].dbo.tblMpRequirements R ON R.ReleaseId = O.Id
	        INNER JOIN [005].dbo.trav_tblMpMatlSum_View S ON S.TransId = R.TransId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = S.ComponentID 
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = I.ItemId AND L.LocId = @LocId 
			LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS Q ON Q.ItemId = L.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum 
			LEFT JOIN [W005].dbo.MpOrderMatIssued AS M ON M.ItemId = L.ItemId AND M.LocId = L.LocId and M.Completed = 0 AND (M.SerialNo = L.LotNum or M.LotNo = L.LotNum)
	WHERE O.OrderNo = @OrderNo AND (@ReleaseNo IS NULL OR O.ReleaseNo = @ReleaseNo) and S.ComponentID = @ItemId and ISNULL(Q.QtyOnHand, 0) > 0
END

GO
