USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOREIDataForMutliItemPacking]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[spOREIDataForMutliItemPacking]
@OrderNo As varchar(8), @RelNo As int, @OREId As int, @LocId As varchar(10), @ItemId As varchar(24)

AS
BEGIN


--Declare @OrderNo varchar(30) = '00030119'
--Declare @RelNo varchar(30) = 1
--Declare @OREId varchar(30) = 381556
--Declare @LocId varchar(30) = 'QUARANTINE'
--Declare @ItemId  varchar(30) = 'PET-2-8.000-6P'


	SELECT DISTINCT OREI.[Id]
		,I.[OREIId]
		,OREI.[OrderReleaseEventId]
		,OREI.[ItemId]
		,OREI.[LocId]
		,OREI.[IsAssembly]
		,OREI.[SerialNo]
		,OREI.[LotNo]
		,OREI.[TravLotNum]
		,OREI.[MfgDate]
		,OREI.[FGExpDate]
		,OREI.[MpOrderMatIssuedId]
		,OREI.[Qty]
		,OREI.[UOM]
		,OREI.[MRLengthCounter]
		,OREI.[PLCLengthCounter]
		,OREI.[HeadPos]
		,OREI.[CutPos]
		,OREI.[Slitter2SpoolOffset]
		,OREI.[PrevOrderReleaseEventItemId]
		,OREI.[TotalQty]
		,OREI.[TotalWaste]
		,OREI.[TotalQtyConsumed]
		,OREI.[TotalQtyRemaining]
		,OREI.[ReturnedLocId]
		,OREI.[EventDateTime]
		,OREI.[TravMatDtlSaved]
		,OREI.[Rewind]
	FROM ([W005].[dbo].[OrderReleaseEventItem] As OREI INNER JOIN [W005].[dbo].[OrderReleaseEvent] As ORE ON ORE.Id=OREI.OrderReleaseEventId)
		LEFT JOIN [W005].[dbo].[ShipItem] As I ON OREI.Id=I.OREIId

	WHERE 
		ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@RelNo AND ORE.Event='Start Manufacturing' AND ORE.Id<@OREId AND OREI.ItemId=@ItemId AND 
		OREI.IsAssembly=1 AND OREI.LocId=@LocId AND OREI.TotalQty>0
	ORDER BY OREI.CutPos ASC


END 
GO
