USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spZoneLogShipping]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spZoneLogShipping] 
    @PackingListNo INT,
	@CompId VARCHAR(50),
	@UserId VARCHAR(50)
AS
BEGIN
	--DECLARE @PackingListNo AS int = 480
	--DECLARE @CompId AS VARCHAR(3) = '005'
	--DECLARE @UserId AS VARCHAR(10) = 'W1984'

		SELECT DISTINCT 
			I.ProdOrderNo,
			I.ProdOrderRelNo,
			I.ItemId
		INTO #TempItems
		FROM ShipItem I
		INNER JOIN ShipPackingListDetail D 
			ON D.PLNo = @PackingListNo
		AND (
			D.ShipPalletId = I.ShipPalletId
		 OR D.ShipCartonId = I.ShipCartonId
		 OR D.ShipBoxId   = I.ShipBoxId
		 OR D.ShipItemId  = I.Id
		);

	 ;WITH ThawCalc AS
(
    SELECT  
        E.OrderNo,
        E.ReleaseNo,
        MIN(DATEDIFF(MINUTE, H1.ScanFromFreezerDT, E.EventEnd) / 60.0) AS ThawTime
    FROM [W005].dbo.OrderReleaseEvent E
    INNER JOIN [W005].dbo.OrderReleaseEventItem I 
        ON I.OrderReleaseEventId = E.Id
    INNER JOIN #TempItems T
        ON T.ProdOrderNo = E.OrderNo
       AND T.ProdOrderRelNo = E.ReleaseNo
    INNER JOIN [005].dbo.tblInItemLoc L 
        ON L.ItemId = I.ItemId 
       AND L.LocId = I.LocId
    INNER JOIN [W005].dbo.OrderReleaseEventItemOutTime O 
        ON O.OrderReleaseEventItemId = I.Id
    LEFT JOIN 
    (
        SELECT  
            H.ItemId, 
            H.SerialNo, 
            H.ProgramId, 
            MAX(H.LastScanDateTime) AS ScanFromFreezerDT
        FROM [W005].dbo.OutTimeItemStatusHistory H
        INNER JOIN [005].dbo.trav_tblWmExtLoc_view EL 
            ON EL.Id = H.PriorWmBinId
        WHERE EL.[cf_Bin Type] = 'FREEZER'
          AND H.BinType IN ('ROOM','WAREHOUSE')
        GROUP BY H.ItemId, H.SerialNo, H.ProgramId
    ) H1 
        ON H1.ItemId = I.ItemId 
       AND H1.SerialNo = I.SerialNo 
       AND H1.ProgramId = O.ProgramId
    WHERE I.IsAssembly = 0
      AND SUBSTRING(L.GlAcctCode,1,1) IN ('1','2','3','8')
      AND E.Event = 'Load Material'
    GROUP BY E.OrderNo, E.ReleaseNo
)


    SELECT  
		CompInfo = (SELECT Name FROM [SYS].[dbo].[tblSmCompInfo] WHERE CompId = @CompId),
		UserId = @UserId,
        A.ShipmentID,
        A.CustShipToName,
        A.RollID,
        A.PkgID,
        A.Batch_LotNo,
        A.MfgDate,
        A.Part,
        A.ItemDescription,
        A.MinThawTimeHrs,
        A.MaxAllowedFreezer,
        A.MaxAllowedReefer,
        A.MaxAllowedRoom,
        A.FreezerAlarmHours,
        A.ReeferAlarmHours,
        A.RoomAlarmHours,
        A.Freezer,
        A.Reefer,
        A.RoomTemp,
        Thaw = TH.ThawTime
    FROM
    (
        SELECT  
            SPL.PLNo AS ShipmentID,
            SPL.ShipToName AS CustShipToName,
            SPLD.TravLotNum AS RollID,
            SPLD.PkgId AS PkgID,
            SPLD.LotNo AS Batch_LotNo,
            SPLD.MfgDate AS MfgDate,
            item_view.AliasID AS Part,
            SPLD.ItemDescr AS ItemDescription,
            OT.MinThawTimeHrs,
            OT.MaxFreezerTimeHrs AS MaxAllowedFreezer,
            OT.MaxReeferTimeHrs AS MaxAllowedReefer,
            OT.MaxRoomTimeHrs AS MaxAllowedRoom,
            OT.FreezerAlarmHrs AS FreezerAlarmHours,
            OT.ReeferAlarmHrs AS ReeferAlarmHours,
            OT.RoomAlarmHrs AS RoomAlarmHours,
            ORKMO.TotalFreezerMinutes AS Freezer,
            ORKMO.TotalReeferMinutes AS Reefer,
            ORKMO.TotalRoomMinutes AS RoomTemp,
            SI.ProdOrderNo,
            SI.ProdOrderRelNo
        FROM [W005].[dbo].[ShipPackingListDetail] SPLD
        INNER JOIN [W005].[dbo].[ShipPackingList] SPL 
            ON SPLD.PLNo = SPL.PLNo
        INNER JOIN [W005].[dbo].[ShipItem] SI 
            ON SPLD.ShipPalletId = SI.ShipPalletId 
            OR SPLD.ShipCartonId = SI.ShipCartonId 
            OR SPLD.ShipBoxId = SI.ShipBoxId 
            OR SPLD.ShipItemId = SI.Id
        LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORKMO 
            ON ORKMO.FGItemId = SI.ItemId 
           AND ORKMO.FGTravLotNum = SI.SerNo
        LEFT JOIN [W005].[dbo].[OutTimeItemSpecs] OT 
            ON OT.ItemId = ORKMO.FGItemId 
           AND OT.ProgramId = '0'
        LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] item_view 
            ON item_view.ItemID = ORKMO.FGItemId 
           AND item_view.AliasType = '1' 
           AND item_view.RefID = SPL.CustId
        WHERE SPL.PLNo = @PackingListNo
    ) A
    LEFT JOIN ThawCalc TH
        ON TH.OrderNo = A.ProdOrderNo
       AND TH.ReleaseNo = A.ProdOrderRelNo
    GROUP BY 
        ShipmentID, CustShipToName, RollID, PkgID, Batch_LotNo, MfgDate, 
        Part, ItemDescription, MinThawTimeHrs, MaxAllowedFreezer, 
        MaxAllowedReefer, MaxAllowedRoom, FreezerAlarmHours, 
        ReeferAlarmHours, RoomAlarmHours, Freezer, Reefer, RoomTemp, TH.ThawTime;

	DROP TABLE #TempItems
END
GO
