USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedPalletsByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Returns Complete AND Partial Pallets */


CREATE PROCEDURE [dbo].[spGetPackedPalletsByItemAndLocId]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)='MD-ASHRS-25GYNBF'
--declare @LocId as varchar(10) ='INVENTORY'
--declare @OrderNo as varchar(8) = '00030278'

	DECLARE @DoNotMixLots as bit
	--SELECT @DoNotMixLots = Pc.bTarget 
	--	FROM [W005].[dbo].[ProductChar] Pc inner join [W005].[dbo].[ShipItem] As I ON Pc.ItemId=I.ItemId 
	--	WHERE Pc.CharId=2036 AND Pc.ItemId = @ItemId
	SET @DoNotMixLots = IsNULL((SELECT Pc.bTarget 
							FROM [W005].[dbo].[ProductChar] Pc 
							inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
							WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedLots'),0)	

	SELECT DISTINCT P.Id,
		P.ShipPalletNo As PkgId,
		SUM(I.Quantity) As Quantity, 
		Count(I.Id) As NoPacked,
		P.Complete, IsPacked = 0,P.GrossWt,P.TareWt
	
	FROM [W005].[dbo].[ShipPallet] As P 
	inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)	
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
		AND P.Deleted=0 AND P.Shipped=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0
		AND I.ProdOrderNo LIKE
			  CASE WHEN @DoNotMixLots = 1 THEN 
				@OrderNo 
			  ELSE
				'%' 
			  END
	GROUP BY P.Id,P.ShipPalletNo, P.Complete,P.GrossWt,P.TareWt
	order by P.ShipPalletNo desc
END


GO
