USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebRocheSFIPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebRocheSFIPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int
	--Set @PalletId = 135097

	
	SELECT DISTINCT WebPalletNo, ShipToAddress,ItemId,Descr,PurchaseOrder,LotNumber,CustomerPN,FGExpDate
			,SUM(Quantity) AS Quantity
	FROM (
		SELECT	 
				SP.ShipPalletNo AS WebPalletNo
				,ShipToAddress = PL.ShipToName  + CHAR(13) + PL.ShipToAddr1 +  IIF(PL.ShipToAddr2 is null OR LEN(PL.ShipToAddr2)=0,'', + CHAR(13) + PL.ShipToAddr2) + CHAR(13) + PL.ShipToCity + ', ' + PL.ShipToRegion  + '  ' + PL.ShipToPostalCode +  IIF(PL.ShipToCountry is null OR LEN(PL.ShipToCountry)=0,'', + CHAR(13) + PL.ShipToCountry) 
				,I.ItemId
				,I.Descr
				,PurchaseOrder = PL.CustPO
				,SUBSTRING(SI.LotNo,LEN(SI.LotNo)-4,5) AS LotNumber
				,IA.AliasID AS CustomerPN
				,FGExpDate = IsNull(OREI.FGExpDate, L.ExpDate)
				,SI.Quantity * 0.3048 AS Quantity
		FROM [W005].[dbo].[ShipPallet] AS SP   
			 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
			 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 	
			 LEFT JOIN [005].[dbo].[trav_tblInItemLocLot_View] AS L ON L.ItemId = SI.ItemId AND L.LotNum = SI.TravLotNum AND L.LocId=SI.Location
			 LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id = SI.OREIId  
			 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
			 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo  
			 LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.AliasType = 1 --IA.RefID = ISNULL(R.CustId, RH.CustId)
			 LEFT JOIN (SELECT ShipToName, ShipToAddr1, ShipToAddr2, ShipToCity,ShipToRegion,ShipToPostalCode,ShipToCountry, D.ShipPalletId, CustPO
						FROM [W005].[dbo].[ShipPackingList] AS P INNER JOIN [W005].[dbo].[ShipPackingListDetail] D ON P.PLNo=D.PLNo) PL ON PL.ShipPalletId=@PalletId
		WHERE SP.Id = @PalletId
	) A
	GROUP BY WebPalletNo,ShipToAddress, ItemId, Descr,PurchaseOrder,LotNumber,CustomerPN,FGExpDate




END	
GO
