USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsExtrudingItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spIsExtrudingItem]
	 @ItemId as varchar(24)
AS
BEGIN


	SELECT CAST(CASE WHEN (SELECT TOP 1 ah.Id 
							FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
							WHERE ah.AssemblyId=@ItemId AND ar.MachineGroupId  like 'EXT%') Is Null 
					THEN 0 
					ELSE 1 
					END
					as bit)
				as IsExtrudingItem
							

END
GO
