USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebBeldenCartonLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebBeldenCartonLabel] @CtnId as int
AS
BEGIN

	--DECLARE @CtnId AS INT = 79446

SELECT DISTINCT ShipCartonNo, ShipPalletNo, ProdOrderNo, ProdOrderRelNo, CustomerName, PurchaseOrder,
				FGItemAliases, WidthIN, WidthMM, TotalLength, TotalLengthUOM, TotalWeightLBS, MfgDate, MRSerialNo, 
				LengthByLabelLengthUOM = TotalLength / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.FGItemId and U.Uom = A.LabelLengthUOM), 
				LabelLengthUOM
FROM (
	SELECT DISTINCT
		SC.ShipCartonNo,
		SP.ShipPalletNo,
		SI.ProdOrderNo,
		SI.ProdOrderRelNo,
		CustomerName = (SELECT DISTINCT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = ISNULL(R.CustId,RH.CustId)),
		PurchaseOrder = LTRIM(ISNULL(R.PurchaseOrder,RH.PurchaseOrder)),
		FGItemId = EI.ItemId,
		FGItemAliases = LTRIM(STUFF((SELECT DISTINCT ', '+AliasID	
									FROM [005].[dbo].[tblInItemAlias] A
									WHERE A.ItemID=EI.ItemId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
		WidthIN = (SELECT DISTINCT P.nTarget
					FROM [W005].[dbo].[ProductChar] AS P 
						 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
					WHERE P.ItemId=I.ItemId),
		WidthMM = (SELECT DISTINCT P.nTarget
					FROM [W005].[dbo].[ProductChar] AS P
						 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
					WHERE P.ItemId = I.ItemId),
		LabelLengthUOM = (SELECT DISTINCT P.sTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
							WHERE P.ItemId=I.ItemId),
		TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId),
		TotalLengthUOM = I.UomBase,
		TotalWeightLBS = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB')),
		MfgDate = EI.EventDateTime,

		MRSerialNo = LTRIM(STUFF((SELECT ', '+SerialNo FROM 
									(SELECT DISTINCT EI.SerialNo
									   FROM [W005].[dbo].[OrderReleaseEvent] E
											INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
											INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30')--direct materials
											INNER JOIN (SELECT DISTINCT SI.ProdOrderNo, SI.ProdOrderRelNo, E.OrderNo AS IMOrderNo, E.ReleaseNo AS IMReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
																			FROM ShipCarton SC
																					INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id
																					INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
																					INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
																					INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
																					INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
																					INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
																			WHERE SC.Id=@CtnId) IM ON IM.IMOrderNo=E.OrderNo AND IM.IMReleaseNo=E.ReleaseNo 
									 UNION
									 SELECT DISTINCT EI.SerialNo
									   FROM ShipCarton SC
											INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id
											INNER JOIN [W005].[dbo].[OrderReleaseEvent] E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
											INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
											INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30')--direct materials
										WHERE SC.Id=@CtnId) A
						 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''))

		FROM [W005].[dbo].[ShipCarton] AS SC 
			 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipCartonId = SC.Id
			 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId = SI.ItemId   
			 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.Id=SI.OREIId
			 LEFT JOIN  [W005].dbo.ShipPallet as sp on sc.ShipPalletId = sp.id 
			 LEFT JOIN  [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
			 LEFT JOIN  [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo 
			 LEFT JOIN  [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemID = I.ItemId AND A.RefID=ISNULL(R.CustId, RH.CustId)
		WHERE SC.Id=@CtnId
) A
ORDER BY ProdOrderNo, ProdOrderRelNo

END
GO
