USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOTISIdsForAddHours]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOTISIdsForAddHours]  
		@PhysicalLoc varchar(10)
AS
BEGIN

--DECLARE @PhysicalLoc varchar(10) = 'KCut 3'

	SELECT ExtLocID,Id, LocID, [cf_Bin Type]
	INTO #T1
	FROM [005].[dbo].[trav_tblWmExtLoc_view]
	WHERE  [cf_Physical Location] = @PhysicalLoc

	DECLARE @ExtLocID varchar(10)
	DECLARE @BinId int
	DECLARE @LocID varchar(10)
	DECLARE @BinType varchar(10)
	DECLARE @T TABLE (OTISId int)
	DECLARE iCur CURSOR  
	FOR
	SELECT ExtLocID,Id, LocID, [cf_Bin Type]
	FROM #T1
 
	OPEN iCur 
 
	FETCH NEXT FROM iCur INTO @ExtLocID,@BinId,@LocID,@BinType
	WHILE @@FETCH_STATUS = 0 
	BEGIN
	
		INSERT INTO @T(OTISId)
			(SELECT Id AS OTISId
			FROM [W005].[dbo].[OutTimeItemStatus] 
			WHERE CurrentWmBinId=@BinId)

	FETCH NEXT FROM iCur INTO @ExtLocID,@BinId,@LocID,@BinType

	END
	CLOSE iCur  
	DEALLOCATE iCur 
	------------------
	SELECT * FROM @T

	DROP table #T1
	

END




GO
