USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spReceiptHasNoOTTrackedItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	This sp is used by WebUtilities.MoveQuantity for Converting production that is NOT in Traverse Inventory
*/
CREATE PROCEDURE [dbo].[spReceiptHasNoOTTrackedItem]
				@PONo varchar(8), @RcptNo varchar(15)
AS
BEGIN

--DECLARE @PONo varchar(8) = '00000006'
--DECLARE @RcptNo varchar(15) = 'Userguideupdate'


IF EXISTS (SELECT i.ItemId
			FROM [005].[dbo].[tblWmRcpt] r
			INNER JOIN [005].[dbo].[trav_tblInItem_view] i ON i.ItemId=r.ItemId
			WHERE r.TransId=@PONo AND r.[ReceiptNum]=@RcptNo AND i.[cf_Out-Time Tracked]=1
		)
BEGIN
	SELECT CAST(0 as bit) AS NoOTTrackedItem
END ELSE BEGIN
	SELECT CAST(1 as bit) AS NoOTTrackedItem
END

	
END
GO
