USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrCertData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExtrCertData]
	@Denier as int,@Customer as varchar(30),@CustomerPO as varchar(25), @Date as Date,
	@Color1 as varchar(10), @Color2 as varchar(10), @Color3 as varchar(10), @Color4 as varchar(10), @Color5 as varchar(10),
	@Color6 as varchar(10), @Color7 as varchar(10), @Color8 as varchar(10), @Color9 as varchar(10), @Color10 as varchar(10), @Color11 as varchar(10),
	@LotNo1 as varchar(160), @LotNo2 as varchar(160), @LotNo3 as varchar(160), @LotNo4 as varchar(160), @LotNo5 as varchar(160),
	@LotNo6 as varchar(160), @LotNo7 as varchar(160), @LotNo8 as varchar(160), @LotNo9 as varchar(160), @LotNo10 as varchar(160), @LotNo11 as varchar(160)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--DECLARE @Customer as varchar(30) = 'Essex'
--DECLARE @CustomerPO as varchar(25) = '123'
--DECLARE @Date as Date = '10/10/26'
--DECLARE @Denier as int = 900
--DECLARE @Color1 as varchar(10) = 'Black'
--DECLARE @Color2 as varchar(10)
--DECLARE @Color3 as varchar(10) = 'Yellow'
--DECLARE @Color4 as varchar(10) 
--DECLARE @Color5 as varchar(10) 
--DECLARE @Color6 as varchar(10) 
--DECLARE @Color7 as varchar(10) 
--DECLARE @Color8 as varchar(10) 
--DECLARE @Color9 as varchar(10) 
--DECLARE @Color10 as varchar(10)  
--DECLARE @Color11 as varchar(10)  = 'Clear'
--DECLARE @LotNo1 as varchar(160)  = ('1005N,1039N')
--DECLARE @LotNo2 as varchar(160) 
--DECLARE @LotNo3 as varchar(160) = ('2010N,2039N')
--DECLARE @LotNo4 as varchar(160) 
--DECLARE @LotNo5 as varchar(160) 
--DECLARE @LotNo6 as varchar(160) 
--DECLARE @LotNo7 as varchar(160) 
--DECLARE @LotNo8 as varchar(160) 
--DECLARE @LotNo9 as varchar(160)
--DECLARE @LotNo10 as varchar(160) 
--DECLARE @LotNo11 as varchar(160)  = ('1005N,1039N')

SELECT @Customer As Customer,@CustomerPO As CustomerPO, @Date As CertDate, A.*
FROM (
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE D.TargetDenier=@Denier AND D.Color = @Color1  AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo1,','))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color2 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo2,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color3 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo3,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color4 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo4,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color5 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo5,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color6 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo6,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color7 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo7,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color8 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo8,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color9 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo9,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color10 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo10,',')))
		UNION ALL
			Select D.*
			FROM [W005].[dbo].[ExtrudingCertData] D
			WHERE (D.TargetDenier=@Denier AND D.Color = @Color11 AND D.LotNum IN (SELECT * FROM [dbo].[fnSplitString](@LotNo11,',')))
	) A





END
GO
