USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemMoveInfoByLot]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[spGetItemMoveInfoByLot] @ItemId as varchar(25), @LotSerNo as varchar(16),  @LocId as varchar(10), @FromBinId as int
  AS 
  BEGIN

	  --DECLARE @ItemId as varchar(25) =  'RM-CADC5000-MAS'
	  --DECLARE @LotSerNo as varchar(16) = '39669-01'
	  --DECLARE @FromBinId as int =  189047823 --(WH)
	  --DECLARE @LocId as varchar(10) = 'INVDTN'
 

  DECLARE @ItemType as varchar(16)
  SET @ItemType =	(SELECT IIF([cf_Multi-UOM Serial Item]='true', 'Multi-UOM', IIF(ItemType=2,'Serialized', IIF(LottedYN=1, 'Lotted', 'NonLotNonSer'))) 
					FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=@ItemId)

	IF @ItemType = 'Serialized' --Serialized
	BEGIN
	SELECT TOP 1	I.ItemId,
					LotNum = S.LotNum,
					S.SerNum,
					LocId = @LocId,
					H.ExtLocA,
					H.ExtLocAID,
					Descr = (SELECT Descr FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=@FromBinId),
					Qty = CAST(1 AS FLOAT),
					UOM = 'EA',
					ItemType = @ItemType,
					H.ExtHistSeqNum
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[tblInItemSer] AS S ON S.ItemId=@ItemId AND S.LocId=@LocId AND S.SerNum=@LotSerNo
					LEFT JOIN [005].[dbo].[tblWmHistDetail] AS H ON H.ItemId=@ItemId AND H.Sernum=@LotSerNo AND H.LocId=@LocId AND H.ExtLocA=@FromBinId AND H.Source IN (10,19,77)
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId,S.LotNum, S.Sernum, H.LocId, H.ExtLocA, H.ExtLocAID, Descr, H.ExtHistSeqNum
	END
	ELSE BEGIN --MulitUOM or Lotted
	
	SELECT TOP 1	I.ItemId,
					L.LotNum,
					SerNum = NULL,
					LocId = @LocId,
					H.ExtLocA,
					H.ExtLocAID,
					Descr = (SELECT Descr FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=@FromBinId),
					Qty = (SELECT IIF((ConvFactor is Null) OR (ConvFactor=0), Null, CAST((L.QtyOnHand / ConvFactor) AS FLOAT)) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = i.UomDflt),
					UOM = I.UomDflt,
					ItemType = @ItemType,
					H.ExtHistSeqNum
			FROM	[005].[dbo].[trav_tblInItem_view] AS I
					INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] AS L ON L.ItemId=@ItemId AND L.LocId=@LocId AND L.LotNum=@LotSerNo
					LEFT JOIN [005].[dbo].[tblWmHistDetail] AS H ON H.ItemId=@ItemId AND H.Lotnum=@LotSerNo AND H.LocId=@LocId AND H.ExtLocA=@FromBinId AND H.Source IN (10,19,77)
			WHERE	I.ItemId=@ItemId 
			GROUP BY I.ItemId, L.LotNum, H.LocId, H.ExtLocA, H.ExtLocAID, Descr, L.QtyOnHand, H.ExtHistSeqNum, i.UomDflt
	END





END

GO
