USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBlanketOrderProductionOrderExceptionReport]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBlanketOrderProductionOrderExceptionReport]
AS
BEGIN
	--Blanket Sales Order Headers Missing CustId
	SELECT B.BlanketRef, B.BlanketId,  B.CustId , B.CustPONum AS WebPONum, D.[cf_Customer PO#] AS CustPONum, D.[cf_Customer Revision No] AS CustRevNo
	INTO #BlanketInValid
	FROM [005].dbo.tblSoSaleBlanket B INNER JOIN [005].dbo.trav_tblSoSaleBlanketDetail_view D ON D.BlanketRef = B.BlanketRef
	WHERE Custid is null 

	UNION ALL
		--Blanket Sales Order Headers Missing  CustPONum
	SELECT B.BlanketRef, B.BlanketId, B.CustId, B.CustPONum AS WebPONum, D.[cf_Customer PO#] AS CustPONum, D.[cf_Customer Revision No] AS CustRevNo
	FROM [005].dbo.tblSoSaleBlanket B INNER JOIN [005].dbo.trav_tblSoSaleBlanketDetail_view D ON D.BlanketRef = B.BlanketRef
	WHERE (CustPONum is Null or Len(CustPONum) = 0) 
	
	UNION ALL

	SELECT B.BlanketRef, B.BlanketId, B.CustId, B.CustPONum AS WebPONum, D.[cf_Customer PO#] AS CustPONum, D.[cf_Customer Revision No] AS CustRevNo
	FROM [005].dbo.tblSoSaleBlanket B INNER JOIN [005].dbo.trav_tblSoSaleBlanketDetail_view D ON D.BlanketRef = B.BlanketRef
	WHERE (D.[cf_Customer PO#] is null or len(D.[cf_Customer PO#]) = 0)

	--Some of the values were blank in CustRevNo before converting blank to missing.
	SELECT distinct
	case
	when BlanketRef is NULL or BlanketRef = '' THEN 'MISSING' ELSE BlanketRef
	END
	AS BlanketRef,
	case
	when BlanketId is NULL or CustId = '' THEN 'MISSING' ELSE BlanketId
	END
	AS  BlanketId,
	case
	when CustId is NULL or CustId = '' THEN 'MISSING' ELSE CustId
	END
	AS CustId,
	case
	when WebPoNum is NULL or WebPoNum = '' THEN 'MISSING' ELSE WebPoNum
	END
	AS WebPoNum,
	case
	when CustPONum is NULL or CustPONum = '' THEN 'MISSING' ELSE CustPONum
	END
	AS CustPONum
	--case
	--when CustRevNo is NULL or CustRevNo = '' THEN 'MISSING' ELSE CustRevNo
	--END
	--AS CustRevNo
	 FROM #BlanketInValid where CustPONum is null or WebPONum is null or CustId is null
	
	
	--Blanket Sales Order Headers with CustId and CustPONum
	SELECT DISTINCT B.BlanketRef,  B.BlanketId, 
	 B.CustId, B.CustPONum AS WebPONum, B.PODate
	INTO #BlanketValid
	FROM [005].dbo.tblSoSaleBlanket B INNER JOIN [005].dbo.trav_tblSoSaleBlanketDetail_view D ON D.BlanketRef = B.BlanketRef
	WHERE B.BlanketRef NOT IN (SELECT DISTINCT BlanketRef FROM #BlanketInValid)

	SELECT B.BlanketRef, BlanketId, CustId, WebPONum, A.ItemId, A.Rev, A.CustPONum, A.Qty, B.PODate
	INTO #BlanketInfo
	FROM #BlanketValid B
	INNER JOIN (SELECT BlanketRef, ItemId, [cf_Revision No] as Rev, [cf_Customer PO#] AS CustPONum, SUM(QtyOrdered) as Qty FROM [005].dbo.trav_tblSoSaleBlanketDetail_View GROUP BY BlanketRef, ItemId, [cf_Revision No], [cf_Customer PO#]) A ON A.BlanketRef = B.BlanketRef

	--Blanket Sales Orders Not satisfied

	SELECT CustId, PurchaseOrder, ItemId, RevisionNo, Sum(Qty) AS Qty 
	INTO #ProdOrders
	FROM
		(SELECT R1.CustId, PurchaseOrder, AssemblyId as ItemId, RevisionNo, Sum(R1.Qty) AS Qty 
		FROM [005].dbo.trav_tblMpHistoryOrderReleases_View R1
		INNER JOIN #BlanketInfo B1 ON B1.ItemId = R1.AssemblyId AND B1.Rev = R1.RevisionNo AND B1.CustId = R1.CustId AND B1.CustPONum = R1.PurchaseOrder
		GROUP BY R1.CustId, PurchaseOrder, AssemblyId, RevisionNo
		UNION ALL
		SELECT R1.CustId, PurchaseOrder, AssemblyId as ItemId, RevisionNo, Sum(R1.Qty) AS Qty 
		FROM [005].dbo.trav_tblMpOrderReleases_view R1
		INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = R1.OrderNo 
		INNER JOIN #BlanketInfo B1 ON B1.ItemId = O.AssemblyId AND B1.Rev = O.RevisionNo AND B1.CustId = R1.CustId AND B1.CustPONum = R1.PurchaseOrder
		GROUP BY R1.CustId, PurchaseOrder, AssemblyId, RevisionNo) A
	WHERE CustId IS NOT NULL AND PurchaseOrder IS NOT NULL 
	GROUP BY CustId, PurchaseOrder, ItemId, RevisionNo

	SELECT SUBSTRING(B.BlanketId, PATINDEX('%[^0]%', B.BlanketId+'.'), LEN(B.BlanketId)) as BlanketId, REPLACE(LTRIM(REPLACE(B.CustId,'0',' ')),' ','0') as CustId, B.WebPONum, B.ItemId, B.Rev, B.CustPONum, B.Qty AS BlanketSalesOrderQty,  ISNULL(A.Qty, 0) AS ProdOrderQty, (select B.Qty - ISNULL(A.Qty, 0)) as QtyDiff, B.PODate
	FROM #BlanketInfo B
	LEFT JOIN #ProdOrders A ON A.CustId = B.CustId AND A.PurchaseOrder = B.CustPONum AND A.ItemId = B.ItemId AND A.RevisionNo = B.Rev 
	WHERE B.Qty != A.Qty
	order by B.ItemId, B.BlanketId

	SELECT R1.OrderNo, R1.ReleaseNo, R1.CustId, PurchaseOrder, AssemblyId as ItemId, RevisionNo
	INTO #ProdOrdersCurrent
	FROM [005].dbo.trav_tblMpOrderReleases_view R1
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = R1.OrderNo 

	SELECT C.OrderNo, C.ReleaseNo, REPLACE(LTRIM(REPLACE(C.CustId,'0',' ')),' ','0') as CustId, C.PurchaseOrder, C.ItemId, C.RevisionNo 
	FROM #ProdOrdersCurrent C
	LEFT JOIN #BlanketInfo B ON B.CustPONum = C.PurchaseOrder AND B.CustId = C.CustId AND B.ItemId = C.ItemId and B.Rev = C.RevisionNo
	WHERE C.ItemId+'-'+C.RevisionNo IN (SELECT DISTINCT B1.ItemId+'-'+B1.Rev FROM #BlanketInfo B1)
	AND BlanketRef is null
	Order by C.ItemId, C.RevisionNo, 1,2

	----Sales Order Headers Missing CustId or CustPONum
	--SELECT TransId, CustId, CustPONum
	--FROM tblSoTransHeader
	--WHERE BlanketRef IS NULL AND ( Custid is null or (CustPONum is Null or Len(CustPONum) = 0) )

	--SELECT H.TransId, H.CustId, H.CustPONum, A.ItemId, A.Qty
	--INTO #SOInfo
	--FROM tblSoTransHeader H
	--INNER JOIN (SELECT TransId, ItemId, SUM(TotQtyOrdSell) as Qty FROM tblSoTransDetail GROUP BY TransId, ItemId) A ON A.TransID = H.TransId
	--WHERE BlanketRef IS NULL AND Custid is NOT NULL AND (CustPONum IS NOT NULL AND Len(CustPONum) > 0)

	----Sales Orders Not satisfied
	--SELECT S.TransId, S.CustId, S.CustPONum, S.ItemId, S.Qty AS SalesOrderQty,  ISNULL(A.Qty, 0) AS ProdOrderQty
	--FROM #SOInfo S 
	--LEFT JOIN 
	--		(
	--			SELECT CustId, PurchaseOrder, ItemId, Sum(Qty) AS Qty 
	--			FROM
	--				(SELECT CustId, PurchaseOrder, AssemblyId as ItemId, Sum(Qty) AS Qty 
	--				FROM tblMpHistoryOrderReleases 
	--				GROUP BY CustId, PurchaseOrder, AssemblyId
	--				UNION ALL
	--				SELECT CustId, PurchaseOrder, AssemblyId as ItemId, Sum(Qty) AS Qty 
	--				FROM tblMpOrderReleases R 
	--				INNER JOIN tblMpOrder O ON O.OrderNo = R.OrderNo 
	--				GROUP BY CustId, PurchaseOrder, AssemblyId) A
	--			WHERE CustId IS NOT NULL AND PurchaseOrder IS NOT NULL
	--			GROUP BY CustId, PurchaseOrder, ItemId
	--		) A ON A.CustId = S.CustId AND A.PurchaseOrder = S.CustPONum AND A.ItemId = S.ItemId
	--WHERE S.Qty != A.Qty

	DROP TABLE #BlanketInValid
	DROP TABLE #BlanketValid
	DROP TABLE #BlanketInfo
	DROP TABLE #ProdOrders
	DROP TABLE #ProdOrdersCurrent
	--DROP TABLE #SOInfo
END
GO
