USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebOrthoRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebOrthoRollLabel] @PrintJobId as int, @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @OrderReleaseEventItemId as Int 
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS VARCHAR(8) = '00034962'
--DECLARE @ReleaseNo AS int = 5
--DECLARE @OrderReleaseEventItemId as Int = 0


SELECT DISTINCT OrderNo, ReleaseNo, ProdOrdSetNo, FGInItemAlias, TotalQty, TotalQtyUOM,
				RMSerialNos, RMLotNos,  OrthoBarcode = FGInItemAlias + ' ' + ProdOrdSetNo

FROM (
	SELECT DISTINCT 
			E.OrderNo,
			E.ReleaseNo,
			ProdOrdSetNo = RIGHT(E.OrderNo, 5) + RIGHT('000'+CAST(E.ReleaseNo AS VARCHAR(3)),3)+RIGHT('00'+CAST(FGEI.CutPos AS VARCHAR(3)),2),
			FGInItemAlias =  (SELECT TOP 1 AliasID 
								FROM [005].[dbo].[tblMpOrder] M
									 INNER JOIN [005].[dbo].[tblMpOrderReleases] MP ON MP.OrderNo=M.OrderNo
									 INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.RefID=MP.CustId AND A.AliasType=1
								WHERE M.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo AND A.ItemID=FGEI.ItemId
							UNION ALL 
							 SELECT TOP 1 AliasID 
								FROM [005].[dbo].[tblMpHistoryOrderReleases] MP 
										INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.RefID=MP.CustId AND A.AliasType=1
								WHERE MP.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo AND A.ItemID=FGEI.ItemId),

			FGEI.TotalQty,-- AS FGLength,
			FGEI.UOM AS TotalQtyUOM,

			--MRSerNum = LTRIM(ISNULL(STUFF((SELECT DISTINCT ', '+EI.SerialNo AS [text()]
			--							FROM OrderReleaseEvent E 
			--								 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
			--								 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
			--								 INNER JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
			--														FROM OrderReleaseEvent ORE 
			--															 INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
			--															 INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
			--															 INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
			--															 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
			--														WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo) IM ON IM.OrderNo=E.OrderNo AND IM.ReleaseNo=E.ReleaseNo 
			--				FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),							
			--				STUFF((SELECT DISTINCT ', '+SerialNo AS [text()]
			--							FROM	[W005].[dbo].[OrderReleaseEvent] AS E
			--									INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
			--									INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
			--							WHERE E.OrderNo = OrderNo AND E.ReleaseNo = @ReleaseNo and EI.IsAssembly = 0 AND EI.SerialNo IS NOT NULL
			--			      FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''))),

			RMSerialNos = LTRIM(STUFF(
									(
										SELECT DISTINCT ', ' + OREI.SerialNo
										FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
												INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
												INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
										WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo 
										FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),
									1,1,''
								)), --Component Rolls

			RMLotNos = LTRIM(STUFF(
								(
									SELECT DISTINCT ', ' + OREI.LotNo
									FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
											INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
											INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREI.ItemId AND L.LocId=OREI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
									WHERE OREI.IsAssembly=0 AND ORE.OrderNo=E.OrderNo AND ORE.ReleaseNo=E.ReleaseNo 
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							)) --BatchNumbers

	FROM	[W005].[dbo].[OrderReleaseEvent] AS E
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMEI ON RMEI.OrderReleaseEventId = E.Id AND RMEI.IsAssembly=0
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] IL ON IL.ItemId=RMEI.ItemId AND IL.LocId=RMEI.LocId AND IL.LotNum = ISNULL(RMEI.SerialNo,RMEI.LotNo)
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS FGE ON FGE.OrderNo=@OrderNo AND FGE.ReleaseNo=@ReleaseNo
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS FGEI ON FGEI.OrderReleaseEventId = FGE.Id AND FGEI.IsAssembly=1
			INNER JOIN [005].[dbo].[tblInItem] AS FG ON FG.ItemId=FGEI.ItemId
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND (FGEI.Id = @OrderReleaseEventItemId OR @OrderReleaseEventItemId=0)
	GROUP BY E.OrderNo, E.ReleaseNo, FGEI.Id, FGEI.ItemId, FG.Descr, FGEI.SerialNo, FGEI.LotNo, FGEI.TravLotNum, FGEI.TravSerNum, FGEI.CutPos, FGEI.MfgDate, FGEI.TotalQty, FGEI.UOM, RMEI.ItemId
) A
ORDER BY  ProdOrdSetNo

END
GO
