USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsItemDirectRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spIsItemDirectRM] @ItemId AS varchar(24),@LocId As varchar(50)
AS
BEGIN

--DECLARE @ItemId AS varchar(24) = 'RM-CADC5135-PRP'
--DECLARE @LocId As varchar(50) = 'INVATL'



	IF EXISTS (
				SELECT L.GLAcctCode
				FROM  [005].[dbo].[tblInItemLoc] as L 
				WHERE L.ItemId= @ItemId AND L.LocId=@LocId 
				AND L.GLAcctCode IN (SELECT GLAcctCode 
							FROM [005].[dbo].[tblInGLAcct] 
							WHERE Descr LIKE 'Materials Direct%')
				)
	BEGIN
				SELECT L.GLAcctCode
				FROM  [005].[dbo].[tblInItemLoc] as L 
				WHERE L.ItemId= @ItemId AND L.LocId=@LocId 
				AND L.GLAcctCode IN (SELECT GLAcctCode 
							FROM [005].[dbo].[tblInGLAcct] 
							WHERE Descr LIKE 'Materials Direct%')
	END ELSE BEGIN
		SELECT GLAcctCode = 0
	END


END
GO
