USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMultiItemBOMByProduct]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spMultiItemBOMByProduct]
				@OrderNo as varchar(8), 
				@AssemblyId as varchar(24)
AS
BEGIN

--DECLARE @OrderNo as varchar(8) = '00034700' 
--DECLARE	@AssemblyId as varchar(24) = ''

SELECT DISTINCT	 R.Id
				,R.OrderNo
				,R.ReleaseNo
				,S.ComponentID		
                ,IsNull(P1.nTarget, 0) AS Width
                ,IIF(C1.Characteristic Is Null, 'NA', Substring(C1.Characteristic,Len(C1.Characteristic)-2, 2)) As UOM
				,T.MachineGroupId
FROM [005].dbo.tblMpOrder O  
     INNER JOIN [005].[dbo].[tblMpOrderReleases] R ON R.OrderNo = O.OrderNo
	 INNER JOIN [005].[dbo].[tblMpRequirements] AS Q ON Q.ReleaseId = R.Id
	 INNER JOIN [005].[dbo].[tblMpMatlSum] S ON S.TransId = Q.TransId
	 INNER JOIN [005].[dbo].[tblMpTimeSum] T ON T.TransId = Q.ParentId 
     INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Characteristic Like 'Width%'
     INNER JOIN [W005].[dbo].[ProductChar] AS P1 ON P1.ItemId = S.ComponentID AND P1.CharId = C1.Id
WHERE O.OrderNo = @OrderNo AND Q.Type IN (4, 5) AND R.ReleaseNo = 1 AND T.MachineGroupId <> 'NO MACHINE'

END

GO
