USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemGLAcctCode]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetItemGLAcctCode] @ItemId AS varchar(50),@LocId As varchar(50)
AS
BEGIN
	SELECT L.GLAcctCode
	FROM  [005].[dbo].[tblInItemLoc] as L 
	WHERE L.ItemId=@ItemId AND L.LocId=@LocId

END


GO
