USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIRawMatlOTKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIRawMatlOTKitLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00031539' --'00029198'
--DECLARE @ReleaseNo AS int =	47		--2						-- 3
--DECLARE @OrderReleaseEventItemId AS int = 924975	--37944	--	26846

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END


/* GET FGs AND RMs */
  SELECT DISTINCT 
		 C.ParentOrderNo
		,C.LocId
		,CustPONum = M.PurchaseOrder
		,CustRev = C.CustRev
		,FGItemId = C.ItemId
		,FGKitDOM = OREI.MfgDate
		,FGTravSerNum = OREI.TravSerNum
		,FGProgram = I.[cf_FG Program]
		,PartNo = I.Descr
		,FGDescrAliasID = I.Descr + ISNULL((SELECT ', ' + AliasID 
											 FROM [005].[dbo].[trav_tblInItemAlias_View] 
											 WHERE ItemId=C.ItemId AND RefID=M.CustId), '')
		,ISNULL(ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes) AS FGTotalRoomMinutes
		,ISNULL(ORK.EstLastScanDateTime,ORK.LastScanDateTime) AS FGLastScanDateTime
		,ORK.RMItemId
		,ORK.RMSerialNo
		,ORK.RMLotNo
		,ORK.Id AS ORKId
		,Manufacturer = (SELECT TOP 1 [Name] FROM [005].[dbo].[trav_ApVendorDetail_View] WHERE TransId=M.SalesOrder)
		,AdhesiveComposite = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=ORK.RMItemId)
		,MaterialSpec =	(SELECT TOP 1 AliasID 
						FROM [005].[dbo].[trav_tblInItemAlias_View] 
						WHERE ItemId=ORK.RMItemId AND RefID=M.CustId AND (([cf_FG Program]=I.[cf_FG Program]) OR [cf_FG Program] IS NULL OR [cf_FG Program] = '' OR [cf_FG Program] = ' ')
						ORDER BY [cf_FG Program] DESC)
		,QRCode = '1' + '|' + OREI.ItemId + '|' + OREI.TravSerNum  + '|' + ISNULL(OREI.TravLotNum, '')
INTO #T1
	FROM [W005].[dbo].[CCIOrderReleaseInfo] C
		 INNER JOIN [005].[dbo].[trav_tblInItem_View] I ON I.ItemId=C.ItemId
		 INNER JOIN [005].[dbo].[trav_tblMpOrderReleases_view] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=C.ParentOrderNo
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.ItemId=C.ItemId AND OREI.IsAssembly=1
		 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORK ON ORK.OrderReleaseEventItemId=OREI.Id
WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId is null or OREI.Id = @OrderReleaseEventItemId) 
UNION ALL 
  SELECT DISTINCT 
		 C.ParentOrderNo
		,C.LocId
		,CustPONum = M.PurchaseOrder
		,CustRev = C.CustRev
		,FGItemId = C.ItemId
		,FGKitDOM = OREI.MfgDate
		,FGTravSerNum = OREI.TravSerNum
		,FGProgram = I.[cf_FG Program]
		,PartNo = I.Descr
		,FGDescrAliasID = I.Descr + ISNULL((SELECT ', ' + AliasID 
											 FROM [005].[dbo].[trav_tblInItemAlias_View] 
											 WHERE ItemId=C.ItemId AND RefID=M.CustId), '')
		,ISNULL(ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes) AS FGTotalRoomMinutes
		,ISNULL(ORK.EstLastScanDateTime,ORK.LastScanDateTime) AS FGLastScanDateTime
		,ORK.RMItemId
		,ORK.RMSerialNo
		,ORK.RMLotNo
		,ORK.Id AS ORKId
		,Manufacturer = (SELECT TOP 1 [Name] FROM [005].[dbo].[trav_ApVendorDetail_View] WHERE TransId=M.SalesOrder)
		,AdhesiveComposite = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=ORK.RMItemId)
		,MaterialSpec =	(SELECT TOP 1 AliasID 
						FROM [005].[dbo].[trav_tblInItemAlias_View] 
						WHERE ItemId=ORK.RMItemId AND RefID=M.CustId AND (([cf_FG Program]=I.[cf_FG Program]) OR [cf_FG Program] IS NULL OR [cf_FG Program] = '' OR [cf_FG Program] = ' ')
						ORDER BY [cf_FG Program] DESC)
		,QRCode = '1' + '|' + OREI.ItemId + '|' + OREI.TravSerNum  + '|' + ISNULL(OREI.TravLotNum, '')
	FROM [W005].[dbo].[CCIOrderReleaseInfo] C
		 INNER JOIN [005].[dbo].[trav_tblInItem_View] I ON I.ItemId=C.ItemId
		 INNER JOIN [005].[dbo].[trav_tblMpHistoryOrderReleases_View] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo 
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=C.ParentOrderNo
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.ItemId=C.ItemId AND OREI.IsAssembly=1
		 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORK ON ORK.OrderReleaseEventItemId=OREI.Id 
WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId is null or OREI.Id = @OrderReleaseEventItemId) 


/* CALCULATE OT AND GENERATE RESULTS */
SELECT DISTINCT
	 T1.ParentOrderNo
	,T1.CustPONum
	,T1.CustRev
	,T1.FGKitDOM
	,T1.FGItemId
	,T1.FGTravSerNum
	,T1.FGDescrAliasID
	,T1.PartNo
	,T1.FGProgram
	,T1.Manufacturer
	,T1.AdhesiveComposite
	,T1.MaterialSpec
	,T1.RMItemId
	,T1.RMSerialNo
	,T1.RMLotNo
	,T1.FGTotalRoomMinutes
	,RMTotalRoomMinutes = MAX(CAST(OTISH.[TotalRoomMinutes] AS float))
	,RemainingOTHours = ROUND(OTSpec.MaxRoomTimeHrs - (CAST(T1.FGTotalRoomMinutes AS float)/60), 2)
	,DaysOutOfFreezer = ROUND(ROUND(OTSpec.MaxRoomTimeHrs-(CAST(T1.FGTotalRoomMinutes AS float)/60),2)/24,0,1) 
	,DaysOutOfFreezer2 =  ROUND(ROUND(OTSpec.MaxRoomTimeHrs-(CAST(T1.FGTotalRoomMinutes AS float)/60),2)/24,0,1) 
	,HoursOutOfFreezer = (CAST(ROUND(OTSpec.MaxRoomTimeHrs-(CAST(T1.FGTotalRoomMinutes AS float)/60),2)/24 AS DECIMAL(18,4))%1)*24
	,MaterialStorageTempC = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
								INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
								WHERE ItemId=T1.FGItemId AND CC.Characteristic = 'MaterialStorageTempC' ), 1000)

	,MaterialStorageTempF = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
								INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
								WHERE ItemId=T1.FGItemId AND CC.Characteristic = 'MaterialStorageTempF'), 1000)

	,StorageLimitationDate = (SELECT ExpDate FROM [005].[dbo].[trav_tblInItemLocLot_View] AS L WHERE L.ItemId=T1.RMItemId AND L.LocId=T1.LocId AND (L.LotNum=T1.RMSerialNo OR L.[cf_Serial No.]=T1.RMSerialNo))
	,T1.QRCode
	,T1.ORKId
FROM #T1 T1
	 LEFT JOIN [W005].[dbo].[vCCIParentOrder] CPO ON CPO.ParentOrder=T1.ParentOrderNo AND CPO.Kits=T1.FGItemId
	 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T1.RMItemId AND OTISH.SerialNo=T1.RMSerialNo 
	 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OTSpec ON OTSpec.ItemId=OTISH.ItemId AND (OTSpec.ProgramId = (SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program) OR OTSpec.ProgramId=0)
WHERE OTISH.LastScanDateTime <= T1.FGLastScanDateTime AND BinType != 'FREEZER' AND (PriorWmBinId IS NULL OR PriorWmBinId IN (SELECT Id FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE [cf_Bin Type] = 'FREEZER'))
GROUP BY 	 T1.ParentOrderNo,T1.LocId,T1.CustPONum,T1.CustRev,T1.FGKitDOM,T1.FGItemId,T1.FGTravSerNum,T1.FGDescrAliasID,T1.PartNo,T1.FGProgram,T1.Manufacturer,T1.AdhesiveComposite,T1.MaterialSpec,T1.RMItemId,T1.RMSerialNo,T1.RMLotNo
			,T1.FGTotalRoomMinutes,OTSpec.MaxRoomTimeHrs,T1.QRCode,T1.ORKId


DROP TABLE #T1



END
GO
