USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineNoQtyBilled]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOrderLineNoQtyBilled]
	@BLNo as int, @ItemId as varchar(24), @LocId as Varchar(10)
AS
BEGIN
	--DECLARE @BLNo as int = 2
	--DECLARE @ItemId as varchar(24) = 'FG-TORA15AF-PAD'
	--DECLARE @LocId as varchar(10) = 'INVATL'

	SELECT SUM(spld.Qty) As QtyBilled
	FROM [BillingListDetail] As spld 
	WHERE spld.BLNo=@BLNo AND spld.ItemId=@ItemId AND spld.Location = @LocId
	
END








GO
