USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLabelPrintJob_LoadPrintAllData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLabelPrintJob_LoadPrintAllData] @PONo varchar (8), @RcptNo varchar(15), @PrintJobId int, @PrintInScanSeq bit

AS
BEGIN

--DECLARE @PONo varchar (8) = '00016375'
--DECLARE @RcptNo varchar(15) = 'AG1101'
--DECLARE @PrintJobId int = 1375239
--DECLARE @PrintInScanSeq bit = 1
-----------------------------------
DECLARE @RcptDate datetime	
DECLARE @ItemId varchar(24)
DECLARE @IsMultiUOM bit
DECLARE @LotCnt int
DECLARE @LotNum varchar(16)
DECLARE @QtySeqNum int
---------------------

DECLARE iCur CURSOR  
FOR
	SELECT /*TransId, ReceiptNum,*/ ReceiptDate, ItemId, IsMultiUOM, LotCnt
	FROM 
		(
			SELECT R.TransId, ReceiptNum, ReceiptDate, D.ItemId, Isnull(I.[cf_Multi-UOM Serial Item], 0) AS IsMultiUOM, IsNull(Count(LotNum), 0) AS LotCnt
			FROM [005].[dbo].[tblPoTransReceipt] AS R 
			 INNER JOIN [005].[dbo].[tblPoTransLotRcpt] AS RD ON R.TransID = RD.TransId and R.ReceiptNum = RD.RcptNum
			 INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
			 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = D.ItemId
			Where R.TransId = @PONo and R.ReceiptNum = @RcptNo  --and ((@Param3 is null or @Param3 = D.ItemId) and (@Param4 is null or @Param4 = RD.LotNum)) 
			Group by R.TransId, ReceiptNum, ReceiptDate, D.ItemId, I.[cf_Multi-UOM Serial Item] 
			Having Count(LotNum) > 0
		) A
OPEN iCur 
 
FETCH NEXT FROM iCur INTO @RcptDate, @ItemId, @IsMultiUOM, @LotCnt
 
WHILE @@FETCH_STATUS = 0 
BEGIN

	--For each ItemId received create LabelPrintJobHeader record
	INSERT INTO [W005].[dbo].[LabelPrintJobHeader]  
		(PrintJobId, TransId, ReceiptNum, ReceiptDate, ItemId, IsMultiUOM, LotCnt)
		VALUES (@PrintJobId, @PONo, @RcptNo, @RcptDate, @ItemId, @IsMultiUOM, @LotCnt)

	IF @PrintInScanSeq = 1
	BEGIN --Print labels in order scanned
		DECLARE iCur2 CURSOR  
		FOR
			Select Distinct RD.LotNum,  RD.QtySeqNum
			FROM [005].[dbo].[tblPoTransReceipt] AS R 
				INNER JOIN [005].[dbo].[tblPoTransLotRcpt] AS RD ON R.TransID = RD.TransId and R.ReceiptNum = RD.RcptNum
				INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
				INNER JOIN LabelPrintJobHeader AS L ON L.PrintJobId = @PrintJobId and L.ItemId = D.ItemId
			WHERE R.TransID = @PONo and R.ReceiptNum = @RcptNo and D.ItemId = @ItemId
			ORDER BY RD.QtySeqNum ASC
		OPEN iCur2
		FETCH NEXT FROM iCur2 INTO @LotNum, @QtySeqNum
		WHILE @@FETCH_STATUS = 0 
		BEGIN	
			Insert into LabelPrintJobDetail (PrintJobId, ItemId, LotNum)
			VALUES (@PrintJobId, @ItemId, @LotNum)
		FETCH NEXT FROM iCur2 INTO  @LotNum, @QtySeqNum
		END
		CLOSE iCur2  
		DEALLOCATE iCur2
	END ELSE

	BEGIN --Print labels in LotNum order
		DECLARE iCur2 CURSOR  
		FOR
			Select Distinct RD.LotNum  
			FROM [005].[dbo].[tblPoTransReceipt] AS R 
				INNER JOIN [005].[dbo].[tblPoTransLotRcpt] AS RD ON R.TransID = RD.TransId and R.ReceiptNum = RD.RcptNum
				INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
				INNER JOIN LabelPrintJobHeader AS L ON L.PrintJobId = @PrintJobId and L.ItemId = D.ItemId
			WHERE R.TransID = @PONo and R.ReceiptNum = @RcptNo and D.ItemId = @ItemId
			ORDER BY RD.LotNum ASC
		OPEN iCur2
		FETCH NEXT FROM iCur2 INTO @LotNum
		WHILE @@FETCH_STATUS = 0 
		BEGIN	
			Insert into LabelPrintJobDetail (PrintJobId, ItemId, LotNum)
			VALUES (@PrintJobId, @ItemId, @LotNum)
		FETCH NEXT FROM iCur2 INTO  @LotNum
		END
		CLOSE iCur2  
		DEALLOCATE iCur2
	END

FETCH NEXT FROM iCur INTO  @RcptDate, @ItemId, @IsMultiUOM, @LotCnt
 
END
CLOSE iCur  
DEALLOCATE iCur 


END
GO
