USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingPackTallyCtn]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spConvertingPackTallyCtn] @ShipPalletId As int
AS
BEGIN

--DECLARE @ShipPalletId As int = 16070

		SELECT DISTINCT		 C.Id AS CtnId
							,C.ShipCartonNo
							,ItemId 
							,SUM(I.NoRolls) AS CtnNoRolls 
							,SUM(I.Quantity) AS CtnQty
							,Lot = STUFF
							(
								(
									SELECT DISTINCT '/' + I.LotNo + ISNULL('/' + I.AdditionalLotNo,'') 
									FROM ShipItem as I
									WHERE I.ShipCartonId=C.Id AND I.Deleted=0
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							)
		FROM				[W005].[dbo].[ShipItem] AS I
							INNER JOIN [W005].[dbo].[ShipCarton] AS C ON C.Id=I.ShipCartonId
		WHERE				C.ShipPalletId=@ShipPalletId AND I.Deleted=0 AND I.Issued=0
		GROUP BY			C.Id, C.ShipCartonNo, ItemId 
		ORDER BY			C.ShipCartonNo


END
GO
