USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spAllLottedItemsOnPLVerified]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAllLottedItemsOnPLVerified]
			@SO varchar(8),@PLNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @SO varchar(8) = '00002625'
--DECLARE @PLNo int = 26347


	IF EXISTS (
			SELECT Id, PlLotNoCnt, TravLotNumCnt
			FROM
			(SELECT D.Id, COUNT(D.LotNo) AS PlLotNoCnt, COUNT(E.LotNum) AS TravLotNumCnt
			FROM [W005].[dbo].[ShipPackingListDetail] D
			LEFT JOIN [005].[dbo].[tblSoTransDetailExt] E ON E.TransId = @SO AND E.LotNum = D.LotNo
			WHERE PLNo = @PLNo
				AND ItemId IN (SELECT ItemId FROM [005].[dbo].[tblInItem] WHERE ItemType!=2 AND LottedYN=1)
				AND LotNo IN (SELECT DISTINCT LotNum
										FROM [005].[dbo].[tblSoTransDetailExt]
										WHERE TransId = @SO)
			GROUP BY D.Id) A
			WHERE PlLotNoCnt != TravLotNumCnt
			)
		BEGIN
			SELECT CAST(0 as bit) As OK
		END ELSE BEGIN
			SELECT CAST(1 as bit) As OK
		END
END
GO
