USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIMaterialTrackerRptRFID]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spCCIMaterialTrackerRptRFID] @SalesOrderNo AS VARCHAR(8), @PLNo AS int
AS
BEGIN

--DECLARE @SalesOrderNo AS VARCHAR(8) = '00003135' --'00003262' 
--DECLARE @PLNo AS int = 28236 	--27879  


/* Sales & PLNo */
SELECT DISTINCT SPL.PLNo, SPL.OrderNo, SPL.ShipDate, SPLD.ItemID, SPLD.Location, SI.ProdOrderNo
INTO #SPLD
FROM [W005].[dbo].[ShipPackingList] SPL 
	  INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo = SPL.PLNo  
	  INNER JOIN [W005].[dbo].ShipItem SI ON SI.Id = SPLD.ShipItemId 
WHERE SPL.PlNo = @PLNo



/* Base Results */
	SELECT DISTINCT
			 S.ShipDate
			,MP.OrderNo
			,MP.ReleaseNo
			,S.OrderNo as SalesOrder
			,S.PLNo
			,CORI.ParentOrderNo AS JobNo
			,CORI.ItemId AS FGItemId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=CORI.ItemId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,S.Location AS LocId
			,MP.CustId
			,MG.ProgramId
			,P.ProgramName
	INTO #tmpBase
	FROM #SPLD S
			INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.ParentOrderNo=S.ProdOrderNo AND CORI.ItemId=S.ItemId
			INNER JOIN [005].[dbo].[tblMpOrderReleases] AS MP ON MP.OrderNo = CORI.OrderNo AND MP.ReleaseNo = CORI.ReleaseNo
			INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
			INNER JOIN [W005].[dbo].[Program] AS P ON P.Id=MG.ProgramId
 UNION ALL
	SELECT DISTINCT
			 S.ShipDate
			,MP.OrderNo
			,MP.ReleaseNo
			,S.OrderNo as SalesOrder
			,S.PLNo
			,CORI.ParentOrderNo AS JobNo
			,CORI.ItemId AS FGItemId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [005].[dbo].[tblInItem] I
							 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=CORI.ItemId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,S.Location AS LocId
			,MP.CustId
			,MG.ProgramId
			,P.ProgramName 
	FROM #SPLD S
			INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.ParentOrderNo=S.ProdOrderNo  AND CORI.ItemId=S.ItemId
			INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MP ON MP.OrderNo = CORI.OrderNo AND MP.ReleaseNo = CORI.ReleaseNo
			INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
			INNER JOIN [W005].[dbo].[Program] AS P ON P.Id=MG.ProgramId



/* TravSerNum List*/
SELECT DISTINCT tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, I.ItemId, I.TravSerNum, I.CustRFIDTag, I.Id AS OrderReleaseEventItemID, MIN(LastScanDateTime) AS KitBornDateTime
INTO #TravSerNums
FROM #tmpBase tmp
	 INNER JOIN OrderReleaseEvent E ON E.OrderNo = tmp.JobNo
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1 AND I.ItemId=tmp.FGItemId
	 INNER JOIN OutTimeItemStatusHistory H ON H.ItemId=I.ItemId AND H.TravSerNum=I.TravSerNum
GROUP BY tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, I.ItemId, I.TravSerNum, I.CustRFIDTag, I.Id
ORDER BY ItemId, TravSerNum


/*	Used to get serial number range */
SELECT DISTINCT T.OrderNo, T.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, L.InitialDate AS RMReceiptDate, L.ExpDate AS RMExpDate, TravSerNum, CustRFIDTag, MIN(LastScanDateTime) AS RMScannedOutDateTime
INTO #tmpRawMatlKitRange
FROM #TravSerNums T
	 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORK ON ORK.OrderReleaseEventItemID=T.OrderReleaseEventItemID 
	 INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = T.LocId AND L.LotNum = ORK.RMSerialNo
GROUP BY  T.OrderNo, T.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, L.InitialDate, L.ExpDate, TravSerNum, CustRFIDTag
ORDER BY TravSerNum

--DROP TABLE #KitOT
/* FG Kits */
SELECT *
INTO #KitOT
FROM (
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		T.ItemId, 
		T.TravSerNum, 
		T.CustRFIDTag,
		T.KitBornDateTime,
		T.OrderReleaseEventItemID,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,		
		ORKH.LastScanDateTime AS DateTimeIn,
		NULL AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		RMKits.RMScannedOutDateTime
	FROM #tmpBase tmp
		 INNER JOIN #TravSerNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN #tmpRawMatlKitRange RMKits ON RMKits.TravSerNum=T.TravSerNum
		 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.OrderReleaseEventItemID
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.ItemId AND OTISH.TravSerNum=T.TravSerNum AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType = 'FREEZER'  AND (PriorLOC.[cf_Bin Type] != OTISH.BinType)
	GROUP BY tmp.JobNo, tmp.OrderNo, tmp.ReleaseNo, tmp.ProgramId, tmp.FGAlias, ORKH.RMItemId, ORKH.RMSerialNo, RMKits.RMScannedOutDateTime, ORKH.LastScanDateTime, OTISH.UserId, OTISH.BinType, ORKH.TotalRoomMinutes, 
			 T.ItemId, T.TravSerNum, T.CustRFIDTag, T.KitBornDateTime, T.OrderReleaseEventItemID, ORKH.OrderReleaseKitRawMatlOutTimeId, OTISH.OutTimeItemStatusId
	UNION ALL
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		T.ItemId, 
		T.TravSerNum, 
		T.CustRFIDTag,
		T.KitBornDateTime,
		T.OrderReleaseEventItemID,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,
		NULL AS DateTimeIn,
		ORKH.LastScanDateTime AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		RMKits.RMScannedOutDateTime
	FROM #tmpBase tmp
		 INNER JOIN #TravSerNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN #tmpRawMatlKitRange RMKits ON RMKits.TravSerNum=T.TravSerNum
		 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.OrderReleaseEventItemID
		 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.ItemId AND OTISH.TravSerNum=T.TravSerNum AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType IN ('ROOM','WAREHOUSE')  AND (PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE')) --AND ORKH.LastScanDateTime != (SELECT DISTINCT MIN(LastScanDateTime) FROM OutTimeItemStatusHistory WHERE TravSerNum=ORKH.FGTravSerNum)
	GROUP BY tmp.JobNo, tmp.OrderNo, tmp.ReleaseNo, tmp.ProgramId, tmp.FGAlias, ORKH.RMItemId, ORKH.RMSerialNo, RMKits.RMScannedOutDateTime, ORKH.LastScanDateTime, OTISH.UserId, OTISH.BinType, ORKH.TotalRoomMinutes, 
			 T.ItemId, T.TravSerNum, T.CustRFIDTag, T.KitBornDateTime, T.OrderReleaseEventItemID, ORKH.OrderReleaseKitRawMatlOutTimeId, OTISH.OutTimeItemStatusId
) FG
ORDER BY TravSerNum,ISNULL(DateTimeOut,DateTimeIn)



-- DROP TABLE #RawMatlOTHist
/*  #RawMatlOTHist		*/
SELECT 
		OutTimeItemStatusId, 
		ItemId, 
		SerialNo, 
		LotNo, 
		BinType,
		DateTimeIn, 		
		DateTimeOut, 
		TotalRoomMinutes, 
		MaxRoomTimeHrs, 
		OutTimeDuringTransit,
		UserId
INTO #RawMatlOTHist
FROM 
(
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, NULL AS DateTimeIn, OTISH.LastScanDateTime AS DateTimeOut ,OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, 
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #KitOT K
			 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=K.OrderReleaseEventItemId
			 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=ORKH.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=ORKH.RMItemId AND OTISH.SerialNo=ORKH.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 --INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTISH.CurrentWmBinId
			 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('ROOM', 'WAREHOUSE') AND (PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE') OR PriorLOC.[cf_Bin Type] IS NULL) AND OTISH.LastScanDateTime < K.KitBornDateTime 
		GROUP BY K.OrderReleaseEventItemId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
	UNION ALL 
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime AS DateTimeIn, NULL AS DateTimeOut, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs,
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #KitOT K
			 INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=K.OrderReleaseEventItemId
			 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=ORKH.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=ORKH.RMItemId AND OTISH.SerialNo=ORKH.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 --INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] LOC ON LOC.Id=OTISH.CurrentWmBinId
			 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('FREEZER') AND (PriorLOC.[cf_Bin Type] IS NULL OR PriorLOC.[cf_Bin Type] != OTISH.BinType) AND OTISH.LastScanDateTime < K.KitBornDateTime 
		GROUP BY K.OrderReleaseEventItemId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
) RM
ORDER BY ItemId, SerialNo, ISNULL(DateTimeIn,DateTimeOut)


/* Concatenate FG Kit Serial No. */
SELECT DISTINCT
	tmp.OrderNo, 
	tmp.ReleaseNo,
	ORK.RMItemId,
	ORK.RMSerialNo,
	CAST(ORK.LastScanDateTime AS smalldatetime) AS LastScanDateTime,
	FGSerialNoRange =
	STUFF
	(
		(
			SELECT DISTINCT ', ' + T2.CustRFIDTag
			FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] T1
				 INNER JOIN #KitOT T2 ON T2.OrderReleaseKitRawMatlOutTimeId=T1.OrderReleaseKitRawMatlOutTimeId
			WHERE T1.RMItemId = ORK.RMItemId AND T1.RMSerialNo=ORK.RMSerialNo AND CAST(T1.LastScanDateTime AS smalldatetime)=CAST(ORK.LastScanDateTime AS smalldatetime)
					AND T1.FGTravSerNum IN (SELECT TravSerNum FROM #TravSerNums WHERE #TravSerNums.OrderNo=tmp.OrderNo AND #TravSerNums.ReleaseNo=tmp.ReleaseNo) 
			FOR XML PATH(''), TYPE
		).value('.[1]','nvarchar(max)'),
		1,1,''
	)	
INTO #FGSerialNoRange
FROM #tmpBase tmp
	 INNER JOIN #TravSerNums T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
	 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.OrderReleaseEventItemId=T.OrderReleaseEventItemID
GROUP BY tmp.OrderNo, tmp.ReleaseNo, ORK.RMItemId, ORK.RMSerialNo, CAST(ORK.LastScanDateTime AS smalldatetime)
ORDER BY LastScanDateTime


/* Final Result Set */
SELECT 
		 RMReceiptDate = (SELECT TOP 1 RMReceiptDate FROM #tmpRawMatlKitRange T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo)
		,RMExpDate = (SELECT TOP 1 RMExpDate FROM #tmpRawMatlKitRange T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo)
		,A.RMItemId
		,Alias = (SELECT TOP 1 AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC)
		,A.[Description]
		,A.RMSerialNo
		,A.RMLotNo
		,A.MaxRoomTimeHrs
		,A.OutTimeDuringTransit
		,MAX(TotalRmHrs) AS TotalRmHrs
		,TotalOutTimeRemaining = (MaxRoomTimeHrs - MAX(TotalRmHrs))
		,CAST(ISNULL(A.DateTimeIn,A.DateTimeOut) AS date) AS [Date]
		,DateTimeOut
		,DateTimeIn
		,A.JobNo
		,A.FGAlias
		,A.FGSerialNoRange
		,UserId
		,B.SalesOrder
		,B.PLNo	
		,B.ShipDate
FROM (
	SELECT DISTINCT	 	
		R.ItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.ItemId)
		,R.SerialNo AS RMSerialNo
		,R.LotNo AS RMLotNo
		,R.MaxRoomTimeHrs
		,OutTimeDuringTransit = IIF(R.ItemId LIKE 'IM%', 
									(SELECT CAST(MIN(TotalRoomMinutes) AS float) / 60 FROM [W005].[dbo].[OutTimeItemStatusHistory] WHERE SerialNo=R.SerialNo),
									R.OutTimeDuringTransit)									
		,CAST(R.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		--,R.TotalRoomMinutes
		--,CAST(R.DateTimeIn AS smalldatetime) AS DateTimeIn
		--,CAST(R.DateTimeOut AS smalldatetime) AS DateTimeOut
		,R.DateTimeIn
		,R.DateTimeOut
		,JobNo = ''
		,K.OrderNo
		,K.ReleaseNo
		,FGItemId = ''
		,FGAlias = ''
		,FGSerialNoRange = ''		
		,R.UserId
	FROM #KitOT K --ON K.OrderNo=tmp.OrderNo AND K.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.Id=K.OrderReleaseKitRawMatlOutTimeId --ORK.OrderReleaseEventItemId=K.OrderReleaseEventItemId
		 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.OrderReleaseEventItemId
		 INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo AND ISNULL(R.DateTimeIn,R.DateTimeOut) <= K.RMScannedOutDateTime
		 INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = OREI.LocId AND L.LotNum = ORK.RMSerialNo
	UNION ALL 
	SELECT DISTINCT	
		R.ItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.ItemId)
		,R.SerialNo AS RMSerialNo
		,R.LotNo AS RMLotNo
		,R.MaxRoomTimeHrs
		,OutTimeDuringTransit = IIF(R.ItemId LIKE 'IM%', 
									(SELECT CAST(MIN(TotalRoomMinutes) AS float) / 60 FROM [W005].[dbo].[OutTimeItemStatusHistory] WHERE SerialNo=R.SerialNo),
									R.OutTimeDuringTransit)									
		,CAST(K.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,CAST(K.DateTimeIn AS smalldatetime) AS DateTimeIn
		,CAST(K.DateTimeOut AS smalldatetime) AS DateTimeOut
		,K.JobNo
		,K.OrderNo
		,K.ReleaseNo
		,K.ItemId AS FGItemId
		,K.FGAlias
		,FG.FGSerialNoRange
		--,FGSerialNoRange = 
	 --  						STUFF
		--					(
		--						(
		--							SELECT DISTINCT ', ' + T1.FGTravSerNum
		--							FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] T1
		--							WHERE T1.RMItemId = R.ItemId AND T1.RMSerialNo=R.SerialNo AND CAST(T1.LastScanDateTime AS smalldatetime)=CAST(ISNULL(K.DateTimeIn,K.DateTimeOut) AS smalldatetime)
		--									AND T1.FGTravSerNum IN (SELECT TravSerNum FROM #TravSerNums T2 WHERE T2.OrderNo=K.OrderNo AND T2.ReleaseNo=K.ReleaseNo) 
		--							FOR XML PATH(''), TYPE
		--						).value('.[1]','nvarchar(max)'),
		--						1,1,''
		--					)	
		,K.UserId
	FROM #KitOT K
		 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.OrderReleaseEventItemId
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.OrderReleaseKitRawMatlOutTimeId=K.OrderReleaseKitRawMatlOutTimeId
		 INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo
		 INNER JOIN #FGSerialNoRange FG ON FG.OrderNo=K.OrderNo AND FG.ReleaseNo=K.ReleaseNo AND FG.RMItemId=R.ItemId AND FG.RMSerialNo=R.SerialNo AND CAST(FG.LastScanDateTime AS smalldatetime)=CAST(ISNULL(K.DateTimeIn,K.DateTimeOut) AS smalldatetime)
 GROUP BY R.ItemId, R.SerialNo, R.LotNo, R.MaxRoomTimeHrs, R.OutTimeDuringTransit, K.TotalRoomMinutes, K.DateTimeIn, K.DateTimeOut, K.JobNo, K.OrderNo, K.ReleaseNo, K.ItemId, K.FGAlias, FG.FGSerialNoRange, K.UserId
) A
INNER JOIN #tmpBase B ON B.OrderNo=A.OrderNo AND B.ReleaseNo=A.ReleaseNo
GROUP BY RMItemId, Description, CustId, ProgramName, RMSerialNo, RMLotNo, MaxRoomTimeHrs, OutTimeDuringTransit, 
		 SalesOrder, PLNo, ShipDate, A.JobNo, UserId, A.FGAlias, FGSerialNoRange, DateTimeIn, DateTimeOut
ORDER BY RMItemId, RMSerialNo, ISNULL(DateTimeIn,DateTimeOut)



/* Clear Temp Tables */
DROP TABLE #SPLD
DROP TABLE #tmpBase
DROP TABLE #TravSerNums
DROP TABLE #tmpRawMatlKitRange
DROP TABLE #FGSerialNoRange
DROP TABLE #KitOT
DROP TABLE #RawMatlOTHist

END
GO
