USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spKitPartofDataLoad]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spKitPartofDataLoad] 
		 @ItemId varchar(24), @SerNum varchar(35)
	
AS
BEGIN

--DECLARE  @ItemId varchar(24) = 'FG-AERO1006-PKT'
--DECLARE  @SerNum varchar(35) = '026385-10'

IF EXISTS (
			SELECT ItemId
			FROM [005].[dbo].[tblInItemSer]
			WHERE ItemId = @ItemId AND SerNum=@SerNum
				AND (Cmnt = 'Initial Inventory Load from Epicor' OR InitialDate='2018-01-31 00:00:00.000')
		)
BEGIN
	SELECT CAST(1 as bit) AS FGWasLoaded
END ELSE
	BEGIN
		SELECT CAST(0 as bit) AS FGWasLoaded
	END


END




	

	



GO
