USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTRMaterialUsedForFGPkgId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  This sp returns SB pallets that were used to make @PalletId  */
CREATE PROCEDURE [dbo].[spTRMaterialUsedForFGPkgId]
			@PalletId as int
	
AS
BEGIN

--DECLARE @PalletId as int = 65586

	SELECT DISTINCT mu.[ShipItemIdUsed]
	  ,mu.Id
	  ,mu.DateTimeUsed
      ,mu.[ShipPalletIdUsed]
      ,mu.[PkgIdUsed]
      ,mu.[ItemId]
      ,mu.LotNo  
      ,mu.[Qty] AS QtyRemaining
      ,mu.[UOM]
      ,mu.[NoRollsRemaining] 
      ,mu.NoRollsUsed -- = (SELECT SUM([NoRollsUsed]) FROM [W005].[dbo].[TRMaterialUsed] WHERE [UsedByUnitId]=@PalletId AND PostedToTraverse=1 AND [ShipItemIdUsed]=mu.[ShipItemIdUsed])
      ,mu.[LbPerRollUsed]
      ,mu.LbUsed --= (SELECT SUM([LbUsed]) FROM [W005].[dbo].[TRMaterialUsed] WHERE [UsedByUnitId]=@PalletId AND PostedToTraverse=1 AND [ShipItemIdUsed]=mu.[ShipItemIdUsed])
      ,mu.[PostedToTraverse]
	  ,mu.UsedPalletLabelReprinted
	FROM [W005].[dbo].[TRMaterialUsed] mu
	WHERE mu.[UsedByUnitId]=@PalletId AND mu.PostedToTraverse=1

UNION ALL
	SELECT DISTINCT mu.[ShipItemIdUsed]
	  ,mu.Id
	  ,mu.DateTimeUsed
	  ,mu.[ShipPalletIdUsed]
      ,mu.[PkgIdUsed]
      ,mu.[ItemId]
      ,mu.LotNo 
      ,mu.[Qty] AS QtyRemaining
      ,mu.[UOM]
      ,mu.[NoRollsRemaining] 
      ,mu.NoRollsUsed -- = (SELECT SUM([NoRollsUsed]) FROM [W005].[dbo].[TRMaterialUsed] WHERE [UsedByUnitId]=@PalletId AND PostedToTraverse=0 AND [ShipItemIdUsed]=mu.[ShipItemIdUsed])
      ,mu.[LbPerRollUsed]
      ,mu.LbUsed -- = (SELECT SUM([LbUsed]) FROM [W005].[dbo].[TRMaterialUsed] WHERE [UsedByUnitId]=@PalletId AND PostedToTraverse=0 AND [ShipItemIdUsed]=mu.[ShipItemIdUsed]) 
      ,mu.[PostedToTraverse]
	  ,mu.UsedPalletLabelReprinted
	FROM [W005].[dbo].[TRMaterialUsed] mu
	WHERE mu.[UsedByUnitId]=@PalletId AND mu.PostedToTraverse=0
	
ORDER BY PkgIdUsed,DateTimeUsed


END
GO
