USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDoesAssemblyHaveOperationId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDoesAssemblyHaveOperationId] 
	@AssemblyId varchar(24), @OperationId varchar(10)
AS

BEGIN

--DECLARE @AssemblyId varchar(24) = 'AERO-BU10-375'
--DECLARE @OperationId varchar(10) = 'SPOOLING'

	SELECT CAST(IIF(ar.OperationId is null, 0,1) as bit) As DuplicateOpId
	FROM [005].[dbo].[tblMbAssemblyHeader] ah LEFT JOIN [005].[dbo].[tblMbAssemblyRouting] ar ON ah.Id=ar.HeaderId And ar.OperationId=@OperationId  
	WHERE ah.AssemblyId = @AssemblyId 



END
GO
