USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spStartedOrdersNotFinalized]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spStartedOrdersNotFinalized]
AS
BEGIN
	SELECT DISTINCT 
			E.OrderNo, 
			E.ReleaseNo,
		    E.OrderNo + ' / ' + CAST(E.ReleaseNo as varchar(4)) as OrderRel,
			OrderDescription = O.[cf_Order Description], 
			O.AssemblyId, 
			O.RevisionNo, 
			H.Id, 
			IssueByRelease = IsNull(H.[cf_Issue by Release],0), 
			NumOfCuts = IsNull(O.[cf_No. of Cuts], 0), 
			LotNo = O.[cf_Lot No.], 
			IsSerial = IsNull(I.[cf_Multi-UOM Serial Item],0), 
			IsLotted = IsNull(I.[LottedYN], 0),  
			IsMultiItem = IsNull(I.[cf_Multi-Item Mfg], 0),
			IsOutTimeTracked = ISNULL(i.[cf_Out-Time Tracked],0)
	FROM [W005].dbo.OrderReleaseEvent E
	INNER JOIN [005].dbo.trav_tblMpOrder_view O ON O.OrderNo = E.OrderNo
    INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] As H ON O.AssemblyId=H.AssemblyId AND O.RevisionNo=H.RevisionNo 
	INNER JOIN [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = O.AssemblyId 
	LEFT JOIN [W005].dbo.OrderReleaseSummary S ON S.OrderNo = E.OrderNo AND S.ReleaseNo = E.ReleaseNo 
	WHERE E.Event = 'Start Manufacturing' AND (S.OrderNo IS NULL OR S.IsPostedToTraverse = 0)
	ORDER BY E.OrderNo, E.ReleaseNo
END
GO
