USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetPalletItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetPalletItemId]
	@AssemblyId as varchar(24), @MachineGroupId as varchar(10)
AS
BEGIN
	Select pc.ItemId As PalletItemId,pc.nTarget As TareWt
	FROM [W005].[dbo].[ProductChar] As pc LEFT JOIN [W005].[dbo].[Characteristic] AS c ON pc.CharId=c.Id
	WHERE c.Characteristic='TareWeight' AND
			pc.ItemId= (SELECT DISTINCT D.ComponentID
						FROM [005].[dbo].[tblMbAssemblyHeader] As H inner join [005].[dbo].[tblMbAssemblyDetail] As D On H.Id = D.HeaderId
							INNER JOIN [005].[dbo].[tblMbAssemblyRouting] As R ON R.HeaderId=H.Id AND R.MachineGroupId=@MachineGroupId
							inner join [W005].[dbo].[ProductChar] As P On P.ItemId=D.ComponentID 
						Where H.AssemblyId=@AssemblyId AND P.sTarget='Pallet'
							AND H.RevisionNo IN
							(SELECT MAX(m.RevisionNo)
							FROM  [005].[dbo].[tblMbAssemblyHeader] as m
							WHERE m.AssemblyId=H.AssemblyId))
	

END

 --[W005].[dbo].[GetPalletItemId] 'BT-BOOM-001','EXT L1'


GO
