USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMRASParentOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetMRASParentOrder]
	
AS
BEGIN

	SELECT ParentOrderNo, Program,Name
	FROM [W005].[dbo].[CCIParentOrderCutList] 
	WHERE ProgramId IN (SELECT Id
					FROM [W005].[dbo].[Program]
					WHERE CustId IN ( SELECT CustId
						FROM [005].[dbo].[tblArCust]
						WHERE CustName LIKE ('%Middle%River%')))


END






GO
