USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCompositePalletLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCompositePalletLabel] @PalletId as int
AS
BEGIN	

--DECLARE @PalletId AS int = 276;


WITH RawMaterialCTE (ItemId, SerialNo,  GLAcctCode, LocId, Level) AS(
	SELECT OREIRM.ItemId, OREIRM.SerialNo, L.GLAcctCode, L.LocId, Level = 0
	FROM [W005Blank].[dbo].[OrderReleaseEvent] AS ORERM 
		 INNER JOIN [W005Blank].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId AND Substring(L.GLAcctCode,1,1) IN ('1', '2', '3', '8')
		 INNER JOIN [W005Blank].[dbo].[ShipItem] AS SI ON SI.ProdOrderNo = ORERM.OrderNo AND SI.ProdOrderRelNo = ORERM.ReleaseNo
	WHERE SI.ShipPalletId = @PalletId
	UNION ALL
    SELECT OREIRM.ItemId, OREIRM.SerialNo, L.GLAcctCode, L.LocId, Level + 1
	FROM RawMaterialCTE R 
		INNER JOIN [W005Blank].[dbo].[OrderReleaseEventItem] AS OREIFG ON OREIFG.ItemId=R.ItemId AND OREIFG.SerialNo = R.SerialNo AND OREIFG.IsAssembly=1
		INNER JOIN [W005Blank].[dbo].[OrderReleaseEvent] AS OREFG ON OREFG.Id = OREIFG.OrderReleaseEventId
		INNER JOIN [W005Blank].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo = OREFG.OrderNo AND ORERM.ReleaseNo = OREFG.ReleaseNo
		INNER JOIN [W005Blank].[dbo].[OrderReleaseEventItem] AS OREIRM ON OREIRM.OrderReleaseEventId=ORERM.Id AND OREIRM.IsAssembly=0
		INNER JOIN [005].[dbo].[tblInItemLoc] AS L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId 
	WHERE Substring(R.GLAcctCode,1,1) = '8'
)

SELECT DISTINCT ItemId, SerialNo, GLAcctCode, LocId, Level INTO #RawMat
FROM RawMaterialCTE R
WHERE Substring(R.GLAcctCode,1,1) IN ('1', '2', '3');

WITH RMDesc AS (
    SELECT 
        IIF(A.[cf_Alias Description] IS NULL, INI.Descr, A.[cf_Alias Description]) + ' ' AS RMDescription
    FROM [W005Blank].[dbo].[OrderReleaseEvent] E
        INNER JOIN [W005Blank].[dbo].[OrderReleaseEventItem] I 
            ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0
		INNER JOIN [W005Blank].[dbo].[ShipItem] AS SI
			ON SI.ProdOrderNo = E.OrderNo AND SI.ProdOrderRelNo = E.ReleaseNo
        INNER JOIN [005].[dbo].[tblInItemLoc] L 
            ON L.ItemId = I.ItemId 
            AND L.LocId = I.LocId 
            AND SUBSTRING(L.GLAcctCode,1,1) IN ('1','2','3')
        INNER JOIN [005].[dbo].[tblInItem] INI 
            ON INI.ItemId = L.ItemId
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R 
			ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo  
        LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] A 
            ON A.ItemId = L.ItemId 
            AND A.AliasType = 1 
            AND A.RefID = R.CustId
    WHERE 
       SI.ShipPalletId = @PalletId

    UNION

    SELECT IIF(A.[cf_Alias Description] IS NULL, INI.Descr, A.[cf_Alias Description])
    FROM #RawMat RM
        INNER JOIN [005].[dbo].[tblInItem] INI 
            ON INI.ItemId = RM.ItemId
		LEFT JOIN [W005Blank].[dbo].[ShipItem] AS SI
			ON INI.ItemId = SI.ItemId
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R 
			ON R.OrderNo = SI.ProdOrderNo
			AND R.ReleaseNo = SI.ProdOrderRelNo 
        LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] A 
            ON A.ItemId = RM.ItemId 
            AND A.AliasType = 1 
            AND A.RefID = R.CustId
)

SELECT * INTO #T1
FROM RMDesc 

	SELECT DISTINCT
			ShipToName = ISNULL(S.ShipToName, CU.CustName),
			S.ShipToAddr1,
			ShipToAddr2 = ISNULL(S.ShipToAddr2, S.ShipToCity + ', ' + S.ShipToRegion + '  ' + S.ShipToPostalCode),
			ShipToAddr3 = IIF(LEN(S.ShipToAddr2) = 0, S.ShipToCity + ', ' + S.ShipToRegion + '  ' + S.ShipToPostalCode, ''),
			SI.ItemId,
			SP.ShipPalletNo,
			SalesOrder = ISNULL(R.SalesOrder, RH.SalesOrder),
			SI.ProdOrderNo,
			--PurchaseOrder = ISNULL(R.PurchaseOrder, RH.PurchaseOrder),
			PurchaseOrder = IIF(R.PurchaseOrder is null OR Len(R.PurchaseOrder)=0
								,IIF(RH.PurchaseOrder is null OR Len(RH.PurchaseOrder)=0
									, (SELECT IsNULL(S.CustPONum,A.CustPONum) 
										FROM [005].[dbo].[tblMpOrderReleases] AS R  
										LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
										LEFT JOIN [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
										LEFT JOIN [005].[dbo].[tblArHistHeader] A ON A.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
										where R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo)
									,RH.PurchaseOrder)
								,R.PurchaseOrder)
			,CustPONum = STUFF(
								(
									SELECT DISTINCT ', ' + SO.[cf_Customer PO#]+ ' / ' + CAST(SO.[cf_Customer PO Line] AS VARCHAR(10)) 
									FROM [005].[dbo].[tblMpOrderReleases] AS R  
										LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
										LEFT JOIN [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
										LEFT JOIN [005].[dbo].[trav_tblSoTransDetail_view] SO ON SO.TransId=S.TransId AND SO.ItemId=SI.ItemId
									WHERE R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo 
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							),
			ShipToPONum = (SELECT  ISNULL(SD.[cf_Customer PO#],'')
					FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
						LEFT JOIN [005].[dbo].[trav_tblMpHistoryOrderReleases_View] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
						LEFT JOIN [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
						LEFT JOIN [005].[dbo].[trav_tblSoTransDetail_view] SD ON SD.TransId=S.TransId AND SD.ItemId= SI.ItemId AND SD.EntryNum = ISNULL(R.[cf_SO Line No], RH.[cf_SO Line No])				
					WHERE R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo),
			RMDescription = (SELECT RMDescription AS [text()] FROM #T1 FOR XML PATH('')),
			SC.ShipCartonNo,
			ItemNumber = (SELECT AliasID FROM [005].[dbo].[trav_tblInItemAlias_View] AS A WHERE A.ItemID = SI.ItemId),
			ItemNumberDesc = IIF(A.[cf_Alias Description] is null,I.Descr + ' ' + I.ItemId,A.[cf_Alias Description]),
			CtnSpoolCnt = (SELECT Count(SerNo) FROM ShipItem where ShipCartonId = SC.Id),
			Width = (SELECT DISTINCT P.nTarget FROM  [W005Blank].[dbo].[Characteristic] AS C INNER JOIN [W005Blank].[dbo].[ProductChar] AS P ON P.ItemId = SI.ItemId AND P.CharId = C.Id WHERE C.Characteristic = 'Width(IN)'),
			WidthMM = (SELECT DISTINCT P.nTarget FROM  [W005Blank].[dbo].[Characteristic] AS C INNER JOIN [W005Blank].[dbo].[ProductChar] AS P ON P.ItemId = SI.ItemId AND P.CharId = C.Id WHERE C.Characteristic = 'Width(MM)'),
			CtnTotalLF = ROUND((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id),2),
			CtnTotalLM = ROUND(((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'LM')),2),
			CtnTotalMSF = ROUND(((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'MSF')),2),
			CtnTotalMSM = ROUND(((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'MSM')),2),
			CtnTotalLB = ROUND(((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'LB')),2),
			CtnTotalKG = ROUND(((SELECT ROUND(SUM(Quantity),2) FROM ShipItem where ShipCartonId = SC.Id)/(SELECT ConvFactor FROM [005].dbo.tblInItemUOM WHERE ItemId = SI.ItemId AND UOM = 'KG')),2),
			SC.TareWt,
			SC.GrossWt,
			PalLblTare = ((SELECT ROUND(SUM(TareWt),2) FROM ShipCarton where ShipPalletId = SP.Id)+SP.TareWt),
			PalLblGross = ((SELECT ROUND(SUM(GrossWt),2) FROM ShipCarton where ShipPalletId = SP.Id)+SP.TareWt),
			Barcode = SP.ShipPalletNo,
			SP.TareWt AS ShipPalletTareWt
			,SC.CustomShipCartonNo
	FROM [W005Blank].[dbo].[ShipItem] AS SI
		 INNER JOIN [W005Blank].[dbo].[ShipCarton] AS SC ON SC.Id=SI.ShipCartonId
		 INNER JOIN [W005Blank].[dbo].[ShipPallet] AS SP ON SP.Id=SI.ShipPalletId
		 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId = SI.ItemId
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo  
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
		 --LEFT JOIN [W005Blank].[dbo].[trav_tblSoTransDetail_view] SO ON SO.TransId=S.TransId AND SO.ItemId=SI.ItemId <<-- DEV AG Removed 2/6/2026, because it resulted in dup Carton#s (one for each SoLine# of the ItemId); created the STUFF above for CustPONum
		 LEFT JOIN [005].[dbo].[tblArCust] CU ON CU.CustId = ISNULL(R.CustId, RH.CustId)
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] A ON A.ItemId=I.ItemId AND A.AliasType = 1 AND A.RefID = R.CustId
	WHERE SI.ShipPalletId = @PalletId
	GROUP BY R.SalesOrder, RH.SalesOrder, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ShipPalletId, SP.ShipPalletNo, S.ShipToName, S.ShipToAddr1, S.ShipToAddr2, S.ShipToCity, S.ShipToRegion, S.ShipToPostalCode,
			 SC.Id, SC.ShipCartonNo,SC.CustomShipCartonNo, R.PurchaseOrder, RH.PurchaseOrder, /*SO.[cf_Customer PO#], SO.[cf_Customer PO Line],*/ SI.ItemId, SC.TareWt, SC.GrossWt, CU.CustName, I.ItemId, I.Descr, Sp.Id, Sp.TareWt, R.CustId, A.[cf_Alias Description]
							
	DROP TABLE #RawMat
	DROP TABLE #T1

END
GO
