USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRemoveUnusedSOLines]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- For @PLNo: This sp deletes SOLines from [ShipPackingListSOLine] against which no material was scanned.

CREATE PROCEDURE [dbo].[spRemoveUnusedSOLines] 
		@PLNo int
AS
BEGIN

--DECLARE @PLNo int = 23345


	DELETE FROM [W005].[dbo].[ShipPackingListSOLine]
	WHERE PLNo = @PLNo
		AND SOLine NOT IN (
							SELECT SPLSOLineId
							FROM [W005].[dbo].[ShipPackingListDetail] 
							WHERE PLNo = @PLNo
						)

END
GO
