USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMAXORKRMOTDataForItemAndTravLotNum]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetMAXORKRMOTDataForItemAndTravLotNum] @ItemId varchar(24), @TravLotNum varchar(16)
AS

--DECLARE @ItemId varchar(24) = 'IM-CADC3002-TAC'
--DECLARE @TravLotNum varchar(16) = '00049908-002-001'


SELECT MAX(IsNULL(EstLastScanDateTime,LastScanDateTime)) AS LastScanDT, MAX(ThawCompletedDT) AS ThawCompletedDT, MAX(IsNULL(EstTotalRoomMinutes,TotalRoomMinutes)) AS TotalRoomMin, MAX(TotalFreezerMinutes) AS TotalFreezerMin
	, MAX(TotalReeferMinutes) AS TotalReeferMin, MAX(MaxRoomDTReached) AS MaxRoomDTReached, MAX(MaxFreezerDTReached) AS MaxFreezerDTReached,MAX(MaxReeferDTReached) AS MaxReeferDTReached
FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] 
WHERE FGItemId = @ItemId AND FGTravLotNum = @TravLotNum
GO
