USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebFTWFGRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[WebFTWFGRollLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    SELECT
        E.OrderNo,
        E.ReleaseNo,

        SetNumber =
            E.OrderNo + '-' +
            RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3),

        EI.ItemId,

        ItemDescription = I.Descr,

        CustomerAlias = CA.AliasID,

        WidthIN = WI.WidthIN,
        WidthMM = WM.WidthMM,

        Length =
            CASE
                WHEN UOM.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM.ConvFactor
            END,

        LengthUOM = LLUOM.LabelLengthUOM,

        QRCode =
            '1|' +
            CAST(EI.ItemId AS VARCHAR(50)) + '|' +
            ISNULL(EI.TravSerNum, EI.TravLotNum) + '|' +
            ISNULL(EI.LotNo, ''),

        EI.SerialNo,
        EI.LotNo,

        TotalQty = ISNULL(Q.QtyOnHand, EI.TotalQty),

        EI.HeadPos,
        EI.CutPos,

        ----------------------------------------------------------------
        -- Added from WebFGRollLabel
        ----------------------------------------------------------------

        FGAddlDescr =
            ISNULL
            (
                (
                    SELECT CAST(AddlDescr AS VARCHAR(MAX))
                    FROM [005].[dbo].[tblInItemAddlDescr] A
                    WHERE A.ItemId = EI.ItemId
                ),
                I.Descr
            ),

        FGTravSerNum = EI.TravSerNum,
        FGTravLotNum = EI.TravLotNum,

        EI.MfgDate,

        FGTotalQtySqM =
            ROUND
            (
                ISNULL(Q.QtyOnHand, EI.TotalQty)
                / ISNULL(SM.ConvFactor, 1),
                5
            ),

        FGNetWeight =
            ISNULL(Q.QtyOnHand, EI.TotalQty)
            / ISNULL(LB.ConvFactor, 1),

        FGWidth = ISNULL(WI.WidthIN, W.Width),

        NoOfSplices = ISNULL(SPL.NoOfSplices, 0),

        CoreID = CORE.CoreSerialNo,

        VendorDOM = RM.VendorDOM,

        RMAddlDescr = RM.RMAddlDescr,

        RMSerialNos = RM.RMSerialNos,

        RMLotNos = RM.RMLotNos

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].[dbo].[travtblInItemView] I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.travInItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    ------------------------------------------------------------
    -- Existing Belden Alias Logic
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            AliasID = A.AliasID
        FROM
        (
            SELECT CustId
            FROM [005].[dbo].[tblMpOrderReleases]
            WHERE OrderNo = E.OrderNo
              AND ReleaseNo = E.ReleaseNo

            UNION ALL

            SELECT CustId
            FROM [005].[dbo].[tblMpHistoryOrderReleases]
            WHERE OrderNo = E.OrderNo
              AND ReleaseNo = E.ReleaseNo
        ) R
        INNER JOIN [005].[dbo].[tblInItemAlias] A
            ON A.RefID = R.CustId
           AND A.ItemId = EI.ItemId
           AND A.AliasType = 1
    ) CA

    ------------------------------------------------------------
    -- Width IN
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    ------------------------------------------------------------
    -- Width MM
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    ------------------------------------------------------------
    -- Width fallback
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            Width = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width'
    ) W

    ------------------------------------------------------------
    -- Length UOM
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            LabelLengthUOM = P.sTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'LabelLengthUOM'
    ) LLUOM

    LEFT JOIN [005].[dbo].[tblInItemUom] UOM
        ON UOM.ItemId = EI.ItemId
       AND UOM.Uom = LLUOM.LabelLengthUOM

    LEFT JOIN [005].[dbo].[tblInItemUom] SM
        ON SM.ItemId = EI.ItemId
       AND SM.Uom = 'SM'

    LEFT JOIN [005].[dbo].[tblInItemUom] LB
        ON LB.ItemId = EI.ItemId
       AND LB.Uom = 'LB'

    ------------------------------------------------------------
    -- Splices
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT
            NoOfSplices = COUNT(*)
        FROM W005.dbo.OrderReleaseEventSpliceDetail SD
        WHERE SD.OrderReleaseEventItemId = EI.Id
    ) SPL

    ------------------------------------------------------------
    -- Core ID
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)
            CoreSerialNo
        FROM W005.dbo.CoreScanPolyTrace C
        WHERE C.OrderNo = E.OrderNo
          AND C.ReleaseNo = E.ReleaseNo
          AND C.CutNo = EI.CutPos
    ) CORE

    ------------------------------------------------------------
    -- Raw Material Traceability
    ------------------------------------------------------------

    OUTER APPLY
    (
        SELECT TOP (1)

            VendorDOM =
                ISNULL(IL.[cfVendor Mfg Date], IL.InitialDate),

            RMAddlDescr =
                ISNULL
                (
                    (
                        SELECT CAST(AddlDescr AS VARCHAR(MAX))
                        FROM [005].[dbo].[tblInItemAddlDescr] A
                        WHERE A.ItemId = RMEI.ItemId
                    ),
                    RI.Descr
                ),

            RMSerialNos =
                STUFF
                (
                    (
                        SELECT DISTINCT
                            ', ' + ISNULL(OREI.SerialNo,'')
                        FROM W005.dbo.OrderReleaseEvent ORE
                        INNER JOIN W005.dbo.OrderReleaseEventItem OREI
                            ON OREI.OrderReleaseEventId = ORE.Id
                        INNER JOIN [005].[dbo].[tblInItemLoc] L
                            ON L.ItemId = OREI.ItemId
                           AND L.LocId = OREI.LocId
                           AND L.GLAcctCode IN ('10','15','20','30')
                        WHERE ORE.OrderNo = E.OrderNo
                          AND ORE.ReleaseNo = E.ReleaseNo
                          AND OREI.IsAssembly = 0
                        FOR XML PATH('')
                    ),
                    1,
                    2,
                    ''
                ),

            RMLotNos =
                STUFF
                (
                    (
                        SELECT DISTINCT
                            ', ' + ISNULL(OREI.LotNo,'')
                        FROM W005.dbo.OrderReleaseEvent ORE
                        INNER JOIN W005.dbo.OrderReleaseEventItem OREI
                            ON OREI.OrderReleaseEventId = ORE.Id
                        INNER JOIN [005].[dbo].[tblInItemLoc] L
                            ON L.ItemId = OREI.ItemId
                           AND L.LocId = OREI.LocId
                           AND L.GLAcctCode IN ('10','15','20','30')
                        WHERE ORE.OrderNo = E.OrderNo
                          AND ORE.ReleaseNo = E.ReleaseNo
                          AND OREI.IsAssembly = 0
                        FOR XML PATH('')
                    ),
                    1,
                    2,
                    ''
                )

        FROM W005.dbo.OrderReleaseEventItem RMEI

        INNER JOIN [005].[dbo].[tblInItem] RI
            ON RI.ItemId = RMEI.ItemId

        INNER JOIN [005].[dbo].[travtblInItemLocLotView] IL
            ON IL.ItemId = RMEI.ItemId
           AND IL.LocId = RMEI.LocId
           AND IL.LotNum = ISNULL(RMEI.SerialNo, RMEI.LotNo)

        INNER JOIN [005].[dbo].[tblInItemLoc] L
            ON L.ItemId = RMEI.ItemId
           AND L.LocId = RMEI.LocId
           AND L.GLAcctCode IN ('10','15','20','30')

        WHERE RMEI.OrderReleaseEventId = E.Id
          AND RMEI.IsAssembly = 0
    ) RM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY EI.TravLotNum;

END
GO
