USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetBackendFrontEndSpliceCountAboveMax]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBackendFrontEndSpliceCountAboveMax] @OrderNo as varchar(8), @ReleaseNo as int, @MaxSplices as int
AS
BEGIN
	SELECT SD.OrderReleaseEventItemId, Count(SD.SplicePosition) AS SpliceCount
	FROM OrderReleaseEvent E
	INNER JOIN OrderReleaseEventSplice S ON S.OrderReleaseEventId = E.Id
	INNER JOIN OrderReleaseEventSpliceDetail SD ON SD.OrderReleaseEventSpliceId = S.Id
	INNER JOIN OrderReleaseEventItem I ON I.Id = SD.OrderReleaseEventItemId
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
	GROUP BY SD.OrderReleaseEventItemId
	HAVING Count(SD.SplicePosition) > @MaxSplices
END
GO
