USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrAdjustmentNeededGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExtrAdjustmentNeededGrid]
	-- NOTE: This sp obtains Extr Pallets availabel TO BE adjusted for display in grid,
	-- not pallets already marked to be adjusted.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT DISTINCT P.Id As PalletId,P.ShipPalletNo AS PkgId,P.Complete, 
						I.ItemId, 
						Quantity = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id),
						I.UOM, 
						NoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
						P.DateCreated AS MfrDate, 
                        I.Location AS LocId,P.TOPSforExtruding AS TOPS,
						SPReadyToPost = (SELECT TOP 1 ReadyToPost FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id),
						LotNo = STUFF
                             ((SELECT DISTINCT '/' + I.LotNo
                                 FROM            [W005].[dbo].[ShipItem] AS I
                                 WHERE        I.ShipPalletId = P.Id AND I.Deleted = 0 FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, ''), 
						TravLotNum = P.ShipPalletNo,
						OpInit = STUFF
                             ((SELECT DISTINCT '/' + I.OpInit
                                 FROM            [W005].[dbo].[ShipItem] AS I
                                 WHERE        I.ShipPalletId = P.Id AND I.Deleted = 0 FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '')
		FROM   [W005].[dbo].[ShipPallet] AS P 
				INNER JOIN [W005].[dbo].[ShipItem] AS I ON P.Id = I.ShipPalletId
		WHERE	I.ItemId IN (SELECT ah.AssemblyId		
							FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
							WHERE ar.MachineGroupId  like 'EXT%' 
								AND ah.RevisionNo IN
											(SELECT MAX(m.RevisionNo)
											FROM  [005].[dbo].[tblMbAssemblyHeader] as m
											WHERE m.AssemblyId=ah.AssemblyId))
				AND (I.Deleted = 0) AND (I.Issued = 0) AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
				AND (P.Shipped = 0) AND P.Deleted=0
				AND P.PhantomAdjOut=0
				AND P.UsedByProduction=0 
				AND P.Id Not In (SELECT ShipPalletId FROM [W005].[dbo].[ShipPackingListDetail] WHERE ShipPalletId Is Not null)
		GROUP BY P.Id, P.Complete, P.ShipPalletNo, P.DateCreated, P.TOPSforExtruding, I.ItemId, I.UOM, I.Location,P.ReadyToPost,I.LotNo
	ORDER  BY PkgId DESC


END
GO
