USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMbBomLevelsByOrderNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMbBomLevelsByOrderNo] @OrderNo AS varchar(50)
AS
BEGIN
	SELECT        [005].dbo.tblMpRequirements.Type, [005].dbo.tblMpRequirements.IndLevel
	FROM            [005].dbo.tblMpRequirements INNER JOIN
					[005].dbo.tblMpOrderReleases ON [005].dbo.tblMpRequirements.ReleaseId = [005].dbo.tblMpOrderReleases.Id 
	WHERE [005].dbo.tblMpOrderReleases.OrderNo = @OrderNo AND ([005].dbo.tblMpRequirements.Type=2 OR [005].dbo.tblMpRequirements.IndLevel>2)
	ORDER BY [005].dbo.tblMpRequirements.Type
END
GO
