USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOffSiteTransPLDetailDflt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOffSiteTransPLDetailDflt] @OST as int
AS
BEGIN

--DECLARE @OST int = 588

	SELECT DISTINCT
		D.ItemId,
		D.ItemDescr,
		A.AliasID As CustPN,
		CustomerRevision = RIGHT('000' + (SELECT DISTINCT TOP 1 [cf_Customer Revision No] FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=D.ItemId), 3),
		TotalKitsInPkg = (SELECT SUM(OSTD.Quantity) FROM OffSiteTransferDetail OSTD WHERE OSTD.OffSiteTransId=D.OffSiteTransId AND OSTD.ItemId=D.ItemId)
	FROM [W005].[dbo].[OffSiteTransferDetail] D
		 LEFT JOIN [005].[dbo].[tblInItemAlias] A ON D.ItemId=A.ItemID AND A.AliasType=1
	WHERE d.OffSiteTransId = @OST
		   	 
END
GO
