USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrProductionToBeFinalized]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExtrProductionToBeFinalized]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



SELECT DISTINCT P.Id As PalletId,P.ShipPalletNo AS PkgId,P.Complete, I.ItemId, SUM(I.Quantity) AS Quantity, I.UOM, SUM(I.NoRolls) AS NoRolls, P.DateCreated AS MfrDate, 
                I.Location AS LocId, N.ProductLine, P.TOPSforExtruding AS TOPS, I.TravLotNum,
				LotNo = STUFF
                        ((SELECT DISTINCT '/' + I.LotNo
                            FROM            [W005].[dbo].[ShipItem] AS I
                            WHERE        I.ShipPalletId = P.Id AND I.Deleted = 0 AND (I.Issued = 0) AND (I.UsedByProduction = 0) AND (I.PhantomAdjOut = 0) FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, ''), 
				OpInit = STUFF
                        ((SELECT DISTINCT '/' + I.OpInit
                            FROM            [W005].[dbo].[ShipItem] AS I
                            WHERE        I.ShipPalletId = P.Id AND I.Deleted = 0 AND (I.Issued = 0) AND (I.UsedByProduction = 0) AND (I.PhantomAdjOut = 0) FOR XML PATH(''), TYPE ).value('.[1]', 'nvarchar(max)'), 1, 1, '')
FROM   [W005].[dbo].[ShipPallet] AS P 
		INNER JOIN [W005].[dbo].[ShipItem] AS I ON P.Id = I.ShipPalletId
		INNER JOIN [005].[dbo].[tblInItem] AS N ON I.ItemId=N.ItemId
WHERE	I.ItemId IN (SELECT ah.AssemblyId		
					FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
					WHERE ar.MachineGroupId  like 'EXT%' 
						AND ah.RevisionNo IN
									(SELECT MAX(m.RevisionNo)
									FROM  [005].[dbo].[tblMbAssemblyHeader] as m
									WHERE m.AssemblyId=ah.AssemblyId))
		AND I.PostedToTraverse = 0 AND I.ReadyToPost=0
		AND (I.Deleted = 0) AND (I.Issued = 0)  AND (I.UsedByProduction = 0) AND (I.PhantomAdjOut = 0)
		AND (P.Shipped = 0) AND P.Deleted=0 AND P.UsedByProduction=0 AND P.PhantomAdjOut=0 
		AND P.DateCreated>'6/5/16'
		
GROUP BY P.Id, P.Complete, P.ShipPalletNo, I.PostedToTraverse, P.DateCreated, P.TOPSforExtruding, I.TravLotNum, I.ItemId, I.UOM, I.Location, N.ProductLine
ORDER  BY PkgId DESC
END
GO
