USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIMfgAppTravUsageCompare]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIMfgAppTravUsageCompare] @ParentOrderNo as Varchar(8)
AS
BEGIN

   --DECLARE @ParentOrderNo as Varchar(8) = 'P0020189'

	SELECT E.OrderNo, E.ReleaseNo ,I.ItemID, I.LocId, I.TravLotNum, Cast(sum(TotalQtyConsumed+iif(E.CCIParentOrderCutListId is null AND I.Layers = 0, I.TotalWaste, 0)) as Decimal(20,10)) as MFGAppTotalConsumed 
	INTO #MFGAppUsage
	FROM [W005].dbo.orderreleaseeventitem I
	INNER JOIN [W005].dbo.OrderReleaseEvent E ON E.Id = I.OrderReleaseEventID AND I.IsAssembly = 0
	WHERE E.OrderNo = @ParentOrderNo
	GROUP BY E.OrderNo, E.ReleaseNo ,I.ItemID, I.LocId, I.TravLotNum
	ORDER BY I.ItemID, I.LocId, I.TravLotNum

	SELECT OrderNO, ReleaseNO 
	INTO #TravProdOrders
	FROM cciOrderReleaseinfo 
	WHERE ParentOrderNo = @ParentOrderNo

	SELECT A.ItemId, A.LocId, A.LotNum, SUM(A.Qty) AS TravTotalConsumed
	INTO #TravRawMatlUsage
	FROM
		(SELECT O.OrderNo, O.ReleaseNo ,D.ComponentID as ItemId, D.LocId, M.LotNum, D.TransDate, D.Qty
		FROM [005].dbo.tblMpMatlDtl D
		INNER JOIN [005].dbo.tblMpRequirements R ON R.TransId = D.TransId
		INNER JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
		INNER JOIN [005].dbo.tblMpMatlDtlExt M ON M.TransId = D.TransId AND M.EntryNum = D.SeqNo
		INNER JOIN #TravProdOrders T ON T.OrderNo = O.OrderNo AND T.ReleaseNo = O.ReleaseNo
		UNION ALL
		SELECT O.OrderNo, O.ReleaseNo ,D.ComponentID as ItemId, D.LocId, M.LotNum, D.TransDate, D.Qty
		FROM [005].dbo.tblMpHistoryMatlDtl D
		INNER JOIN [005].dbo.tblMpHistoryRequirements R ON R.TransId = D.TransId
		INNER JOIN [005].dbo.tblMpHistoryOrderReleases O ON O.ReleaseId = R.ReleaseId
		INNER JOIN [005].dbo.tblMpHistoryMatlDtlExt M ON M.TransId = D.TransId AND M.EntryNum = D.SeqNo
		INNER JOIN #TravProdOrders T ON T.OrderNo = O.OrderNo AND T.ReleaseNo = O.ReleaseNo) A
	GROUP BY A.ItemId, A.LocId, A.LotNum

	SELECT M.OrderNo AS ParentOrder, C.OrderNo, C.ReleaseNo, C.ItemId AS FGItemId, RevisionNo, M.ItemId AS RMItemId, M.LocId, TravLotNum, MFGAppTotalConsumed, T.TravTotalConsumed, ConsumedDiff = M.MFGAppTotalConsumed-T.TravTotalConsumed
	FROM #MFGAppUsage M 
	LEFT JOIN #TravRawMatlUsage T ON T.ItemId = M.ItemId AND T.LocId = M.LocId AND T.LotNum = M.TravLotNum
	LEFT JOIN CCIOrderReleaseInfo C ON C.ParentOrderNo = M.OrderNo
	WHERE ROUND(M.MFGAppTotalConsumed, 0) != 0 AND (ROUND(M.MFGAppTotalConsumed, 0) <> ROUND(T.TravTotalConsumed,0) OR T.TravTotalConsumed IS NULL) 

	DROP TABLE #MFGAppUsage
	DROP TABLE #TravProdOrders
	DROP TABLE #TravRawMatlUsage
END
GO
