USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIOrderPlanning]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIOrderPlanning] 
AS
BEGIN
	SELECT AssemblyId AS ItemId, LocId, O.OrderNo, RevisionNo AS Revision, CustId, EstCompletionDate, Qty, ReleaseNo, [cf_Parent Order], [cf_Ready to Post], SalesOrder  
	INTO #ProdOrders
	FROM [005].dbo.trav_tblMpOrder_View O
	LEFT JOIN [005].dbo.trav_tblMpOrderReleases_view R ON R.OrderNo = O.OrderNo
	WHERE ([cf_Ready to Post] = 0 OR [cf_Ready to Post] IS NULL) AND (([cf_Parent Order] IS NOT NULL AND LEN([cf_Parent Order]) > 1 AND SUBSTRING([cf_Parent Order], 1, 1) = 'P') OR (AssemblyId = 'FG-MRAS1146-SPL'))

	SELECT ItemId, LocId, OrderNo, Revision, CustId, EstCompletionDate, Qty, ReleaseNo, [cf_Ready to Post], WeekNo = DATEPART( wk, EstCompletionDate), Yr = DATEPART( yy, EstCompletionDate), YrMo = Cast(DATEPART( yy, EstCompletionDate) AS Varchar(4))+'-'+Right('00'+Cast(DATEPART( mm, EstCompletionDate) AS Varchar(2)),2),
			ExtPrice = Cast(0 as money), JobTimeHrs = Cast(0 as float), Status = Case WHEN EstCompletionDate < GetDate() Then 'PAST' ELSE 'FUTURE' END
	INTO #spoolSelection
	FROM #ProdOrders
	WHERE ItemId = 'FG-MRAS1146-SPL'

	SELECT Id, MFGGrpRevision, Revision, MFGMethod, FixedQty, SetRunTimeMinutes, AllowVariableKitList, ItemId 
	INTO #mfgGroup
	FROM [W005].dbo.vCCIManufacturingGroupKit

	SELECT ItemId, LocId, PriceBase 
	INTO #price
	FROM [005].dbo.tblInItemLocUomPrice

	SELECT TransId, LocId, ItemId, QtyOrdSell, UnitPriceSell, ReqShipDate 
	INTO #soInfoSel
	FROM [005].dbo.tblSoTransDetail

	SELECT DISTINCT LocId, ItemId, UnitPrice 
	INTO #boInfo
	FROM [005].dbo.tblSoSaleBlanketDetail

	SELECT ItemId, LocId, DateShip, SrceID, Cast(1 as int) as Qty 
	INTO #soHistoySel
	FROM [005].dbo.trav_InSerilizedHistory_view
	WHERE (LocId NOT LIKE 'QRN%' AND LocId NOT LIKE 'QAH%') AND SrceID NOT Like 'IN%' AND SrceID NOT Like 'Matl%' AND SrceID NOT Like 'WM%' AND SrceID NOT Like 'Assemb%' 

	Delete from #soHistoySel where DateShip Is NULL

	SELECT ItemId, LocId, DateShip AS EstCompletionDate, OrderNo = 'HISTORY', Revision = Cast(NULL as varchar(3)), CustId = NULL, Count(Qty) as Qty, ReleaseNo = NULL, WeekNo = DATEPART( wk, DateShip), Yr = DATEPART( yy, DateShip), YrMo = Cast(DATEPART( yy, DateShip) AS Varchar(4))+'-'+Right('00'+Cast(DATEPART( mm, DateShip) AS Varchar(2)),2), JobTimeHrs = Cast(0 as float)
	INTO #soHistorySel2
	FROM #soHistoySel
	GROUP BY ItemId, LocId, DateShip


	UPDATE #mfgGroup SET FixedQty = 1 where FixedQty = 0

	SELECT ItemId, MFGGrpRevision, Revision, MfgMethod, SetRunTimeMinutes, AllowVariableKitList, FixedQty,
		   PartTime = CASE 
			 WHEN AllowVariableKitList = 1 THEN SetRunTimeMinutes
			 ELSE SetRunTimeMinutes / FixedQty
		   END
	INTO #mfgTimes 
	FROM
	(SELECT ItemId, MFGGrpRevision, Revision, MfgMethod, SetRunTimeMinutes, AllowVariableKitList, Sum(Cast(FixedQty AS Float)) As FixedQty 
	FROM #mfgGroup
	GROUP BY ItemId, MFGGrpRevision, Revision, MfgMethod, SetRunTimeMinutes, AllowVariableKitList) A


	SELECT O.*, P.PriceBase, G.PartTime, ExtPrice = Cast(0 as money), JobTimeHRS = Cast(0.0 as Float),  WeekNo = DATEPART( wk, EstCompletionDate), Yr = DATEPART( yy, EstCompletionDate), YrMo = Cast(DATEPART( yy, EstCompletionDate) AS Varchar(4))+'-'+Right('00'+Cast(DATEPART( mm, EstCompletionDate) AS Varchar(2)),2)
	INTO #ProdOrderTimes
	FROM #ProdOrders O
	LEFT JOIN #price P ON P.ItemId = O.ItemId AND P.LocId = O.LocId
	LEFT JOIN #mfgTimes G ON G.ItemId = O.ItemId AND G.Revision = O.Revision


	UPDATE #ProdOrderTimes Set #ProdOrderTimes.PriceBase = S.UnitPriceSell
	FROM #ProdOrderTimes P
	LEFT JOIN #soInfoSel S ON S.ItemId = P.ItemId AND S.ReqShipDate = P.EstCompletionDate
	WHERE PriceBase IS NULL AND S.TransID IS NOT NULL

	UPDATE #ProdOrderTimes Set #ProdOrderTimes.PriceBase = ISNULL(B.UnitPrice, 0)
	FROM #ProdOrderTimes P
	LEFT JOIN #boInfo B ON B.ItemId = P.ItemId AND B.LocId = P.LocId
	WHERE PriceBase IS NULL

	UPDATE #ProdOrderTimes Set ExtPrice = Qty * PriceBase, JobTimeHRS = (Qty * PartTime) / 60

	--SELECT CustId, EstCompletionDate, ExtPrice, ItemId, JobTimeHRS, LocId, OrderNo, Qty, ReleaseNo, Revision, WeekNo, Yr, YrMo, [cf_Parent Order] As ParentOrder 
	--FROM #ProdOrderTimes

	--SELECT CustId, EstCompletionDate, ExtPrice, ItemId, JobTimeHRS, LocId, OrderNo, Qty, ReleaseNo, Revision, WeekNo, Yr, YrMo, [cf_Parent Order] As ParentOrder 
	--FROM #ProdOrderTimes
	--UNION ALL
	--SELECT CustId, EstCompletionDate, ExtPrice = 0.0, ItemId, JobTimeHRS, LocId, OrderNo, Qty, ReleaseNo, Revision, WeekNo, Yr, YrMo, ParentOrder = null 
	--FROM #soHistorySel2
	--WHERE EstCompletionDate is null

	SELECT CustId, EstCompletionDate, ExtPrice, ItemId, JobTimeHRS, LocId, OrderNo, Qty, ReleaseNo, Cast(Revision as varchar(5)) as Revision, WeekNo, Yr, YrMo, [cf_Parent Order] As ParentOrder, Status = Case WHEN EstCompletionDate < GetDate() Then 'PAST' ELSE 'FUTURE' END  
	FROM #ProdOrderTimes
	UNION ALL
	SELECT CustId, EstCompletionDate, ExtPrice = 0.0, ItemId, JobTimeHRS, LocId, OrderNo, Qty, ReleaseNo, Cast(Revision as varchar(5)) as Revision, WeekNo, Yr, YrMo, ParentOrder = null, Status = Case WHEN EstCompletionDate < GetDate() Then 'PAST' ELSE 'FUTURE' END 
	FROM #soHistorySel2


	DROP TABLE #ProdOrders
	DROP TABLE #mfgGroup
	DROP TABLE #price
	DROP TABLE #soInfoSel
	DROP TABLE #boInfo
	DROP TABLE #soHistoySel
	DROP TABLE #soHistorySel2
	DROP TABLE #spoolSelection
	DROP TABLE #mfgTimes 
	DROP TABLE #ProdOrderTimes


END
GO
