USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemProdCharacteristics]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spItemProdCharacteristics]
	@ItemID as varchar(24)
AS
BEGIN
	SELECT        dbo.ProductChar.Id, dbo.ProductChar.ItemId, dbo.ProductChar.CharId, dbo.ProductChar.nTarget, dbo.ProductChar.nMin, dbo.ProductChar.nMax, dbo.ProductChar.bTarget, dbo.ProductChar.sTarget, dbo.ProductChar.MinNA, dbo.ProductChar.MaxNA, dbo.ProductChar.Enforce, dbo.ProductChar.LastUpdateBy, 
							 dbo.ProductChar.LastUpdateDate, dbo.ProductChar.BomItemIds, dbo.Characteristic.Characteristic, dbo.Characteristic.DataType, dbo.Characteristic.tblSmCustomFieldId, dbo.vtblSmCustomField.FieldName
	FROM            dbo.ProductChar INNER JOIN
							 dbo.Characteristic ON dbo.ProductChar.CharId = dbo.Characteristic.Id LEFT JOIN
							 dbo.vtblSmCustomField ON dbo.Characteristic.tblSmCustomFieldId = dbo.vtblSmCustomField.Id
	WHERE		  dbo.ProductChar.ItemId = @ItemID
END
GO
