USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSBPalletsSixtyPlusDays]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spSBPalletsSixtyPlusDays]
	@FromItem As varchar(24), @ToItem As varchar(24)
AS
BEGIN

--Declare @FromItem As varchar(24) = 'BT-1S-BK-F3'
--Declare @ToItem As varchar(24) = 'ZZ-9S-BU'

		SELECT DISTINCT P.Id,P.ShipPalletNo,I.ItemId, P.DateCreated As MfrDate,P.GrossWt,P.TOPSforExtruding As TOPS, P.Complete,
				Qty =  ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id) - IsNull((SELECT SUM(QtyUsed) FROM [W005].[dbo].[TRYield] WHERE PkgIsFG=0 AND EndQty>0 AND ShipPalletId=P.Id),0)),
				DATEDIFF(d,P.DateCreated,GETDATE()) AS NumDaysOld,
				TravLotNum = STUFF
				(
					(
						SELECT DISTINCT '/' + I.TravLotNum 
						FROM ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo 
						FROM ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM [W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId
				LEFT JOIN [W005].[dbo].[ShipPackingListDetail] D ON P.Id=D.ShipPalletId
		Where (I.ItemId Between @FromItem And @ToItem) AND I.ItemID Like 'SB-%'
			AND I.Deleted=0 AND I.Issued=0 AND P.Deleted=0 AND (P.Shipped=0) AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
			AND (DATEDIFF(d,P.DateCreated,GETDATE()) > 59)
			AND D.Id Is null
			AND P.Id Not In (SELECT PalletId FROM [W005].[dbo].[ExtrAdjustmentsNeeded])
		ORDER BY I.ItemId,P.ShipPalletNo 


END







GO
