USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWGetRelNoMfgData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WebCQA 
/*@OrdNo will always have a value, regardless of whether there is a value for @ParentOrdNo*/
CREATE PROCEDURE [dbo].[spSWGetRelNoMfgData]
	@OrdNo as varchar(8), @ParentOrdNo as varchar(8), @RelNo as int

AS
BEGIN
	
--DECLARE @OrdNo as varchar(8) = '00048112'
--DECLARE @ParentOrdNo varchar(8) = NULL
--DECLARE  @RelNo int = 1


IF @ParentOrdNo Is Null OR LEN(@ParentOrdNo) = 0
BEGIN
	SELECT TOP 1 ore.Machine , i.Descr AS ItemDescription
	,NoCuts = IsNULL((SELECT [cf_No. of Cuts] FROM [005].[dbo].[trav_tblMpOrder_View] WHERE OrderNo=@OrdNo)
					,(SELECT COUNT(orei.Id) FROM [W005].[dbo].[OrderReleaseEventItem] orei 
												INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON ore.Id=orei.OrderReleaseEventId
											WHERE ore.OrderNo = @OrdNo AND ore.ReleaseNo=@RelNo AND orei.IsAssembly=1))
	,CustName = IsNULL((SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = (SELECT TOP 1 CustId FROM [005].dbo.trav_tblMpOrderReleases_view where OrderNo = @OrdNo))
					,(SELECT CustName FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] o INNER JOIN  [005].[dbo].[tblArCust] c ON c.CustId=o.CustId AND o.OrderNo=@OrdNo AND o.ReleaseNo=@RelNo))
	FROM [W005].[dbo].[OrderReleaseEvent] ore
	INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON ore.Id=orei.OrderReleaseEventId
	INNER JOIN [005].[dbo].[tblInItem] i ON orei.ItemId=i.ItemId
	WHERE ore.OrderNo=@OrdNo AND ore.ReleaseNo=@RelNo AND OperationStep< 2
END
ELSE
BEGIN
	SELECT TOP 1 ore.Machine , i.Descr AS ItemDescription
	,NoCuts = IsNULL((SELECT [cf_No. of Cuts] FROM [005].[dbo].[trav_tblMpOrder_View] WHERE OrderNo=@OrdNo)
					,(SELECT COUNT(orei.Id) FROM [W005].[dbo].[OrderReleaseEventItem] orei 
												INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON ore.Id=orei.OrderReleaseEventId
											WHERE ore.OrderNo = @OrdNo AND ore.ReleaseNo=@RelNo AND orei.IsAssembly=1))
	,CustName = IsNULL((SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = (SELECT TOP 1 CustId FROM [005].dbo.trav_tblMpOrderReleases_view where OrderNo = @OrdNo))
					,(SELECT CustName FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] o INNER JOIN  [005].[dbo].[tblArCust] c ON c.CustId=o.CustId AND o.OrderNo=@OrdNo AND o.ReleaseNo=@RelNo))
	FROM [W005].[dbo].[OrderReleaseEvent] ore
	INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON ore.Id=orei.OrderReleaseEventId
	INNER JOIN [005].[dbo].[tblInItem] i ON orei.ItemId=i.ItemId
	WHERE ore.OrderNo=@ParentOrdNo AND ore.ReleaseNo=@RelNo AND OperationStep< 2
END



END
GO
