USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNunezCostAssembly]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNunezCostAssembly] @FiscalYear as int, @FiscalPeriod as int
AS
BEGIN
	DELETE FROM NunezCostAssemblyWorkTable1
	DELETE FROM NunezCostAssemblyWorkTable2
	DELETE FROM NunezCostAssemblyWorkTable3

	INSERT INTO NunezCostAssemblyWorkTable1
	SELECT D.*
	FROM [005].dbo.tblInHistDetail D
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND SumPeriod = @FiscalPeriod AND D.SrceId = 'Assemb' AND D.Source = 18 AND N.HistSeqNum is null

	INSERT INTO NunezCostAssemblyWorkTable2
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,S.SerNum, D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, '1' AS InsertUpdate
	FROM NunezCostAssemblyWorkTable1 D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	LEFT JOIN [005].[dbo].[tblInHistSer] S ON S.HistSeqNum = D.HistSeqNum
	WHERE ((L.GLAcctCode like '7%') OR (L.GLAcctCode like '8%'))  AND N.HistSeqNum IS NULL 

	INSERT INTO NunezCostAssemblyWorkTable3
	SELECT DISTINCT HistSeqNum, ReleaseId, CostUnit, ItemId, LotNum, SerNum, T.Qty, Uom, UomBase, ConvFactor
	FROM NunezCostAssemblyWorkTable2 T
	INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = T.TransId
	WHERE CostUnit != 0
END
GO
