USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDTSPORcptItemDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDTSPORcptItemDetail] @POTranId as varchar(8), @ReceiptNum as varchar(15)
AS
BEGIN
	SELECT DISTINCT H.TransId, R.ReceiptNum, H.LocId, D.ItemId, D.Descr, L.LotNum, L.QtyFilled*D.ConversionFactor AS Qty, D.UnitsBase, H.VendorID, V.Name AS VendorName
	INTO #T1
	FROM            [005].dbo.tblPoTransHeader AS H INNER JOIN
					[005].dbo.tblPoTransReceipt AS R ON R.TransID = H.TransId INNER JOIN
					[005].dbo.tblPoTransLotRcpt AS L ON L.TransId = R.TransID AND L.RcptNum = R.ReceiptNum INNER JOIN
					[005].dbo.tblPoTransDetail AS D ON D.TransID = L.TransId AND D.EntryNum = L.EntryNum INNER JOIN
					[005].dbo.tblApVendor AS V ON V.VendorID = H.VendorId INNER JOIN
					[005].dbo.tblInItemLoc AS IL ON IL.ItemId = D.ItemId AND IL.LocId = D.LocId AND SUBSTRING(IL.GLAcctCode, 1, 1) IN ('1', '2', '3') INNER JOIN
					[005].dbo.trav_tblInItem_view I ON I.ItemId = D.ItemId AND I.[cf_Multi-UOM Serial Item] = 1
	WHERE R.TransId = @POTranId AND R.ReceiptNum = @ReceiptNum

	SELECT DISTINCT T.TransId, T.ReceiptNum, T.ItemId, T.Descr, LL.[cf_Lot No.] AS LotNo, LL.[cf_Serial No.] AS SerialNo, T.Qty, T.UnitsBase, T.VendorID, T.VendorName
	FROM			#T1 T INNER JOIN
					[005].dbo.trav_tblInItem_View AS I ON I.ItemId = T.ItemId AND [cf_Multi-UOM Serial Item] = 1 INNER JOIN
					[005].dbo.trav_tblInItemLocLot_View AS LL ON LL.ItemId = T.ItemId AND LL.LocId = T.LocId AND LL.LotNum = T.LotNum
END
GO
