USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebConvertingPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[WebConvertingPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int = 106015 


SELECT DISTINCT ProdOrders, Descr, ShipPalletNo, DateCreated, PurchaseOrder, AliasID, ItemId, ItemCnt, 
				Width, WidthMM, GrossWt, GrossWtKG, AvgLengthPerRoll,TotalLength, TotalLengthUOM, TotalArea, TotalAreaUOM,
				MfgDate, ExpDate, TotalNetWeight, SalesOrder, CustomerName, ShipToCustomer, CustPO, RMDescr, 
				LengthByLabelLengthUOM = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE S.ShipPalletId  = @PalletId) / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.ItemId and U.Uom = A.LabelLengthUOM), 
				LabelLengthUOM,
				AreaByLabelAreaUOM = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.ItemId and U.Uom = A.LabelAreaUOM)),
				A.LabelAreaUOM,SerNoCount
FROM (
	SELECT	DISTINCT 
			ProdOrders = STUFF((SELECT DISTINCT '/' + SI1.ProdOrderNo FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipPalletId = SP.Id FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')
			,I.Descr
			,SP.ShipPalletNo 
			,SP.DateCreated
			,PurchaseOrder = STUFF
							((SELECT '/' + PurchaseOrder+CHAR(10) AS [text()] 
							FROM 
								(
									SELECT DISTINCT PurchaseOrder FROM [005].[dbo].[tblMpOrderReleases] AS O 
									INNER JOIN [W005].[dbo].[ShipItem] AS P ON P.ProdOrderNo=O.OrderNo AND P.ProdOrderRelNo=O.ReleaseNo
									WHERE ShipPalletId = @PalletId
									UNION ALL 
									SELECT DISTINCT PurchaseOrder 
									FROM [005].[dbo].[tblMpHistoryOrderReleases] AS O 
									INNER JOIN [W005].[dbo].[ShipItem] AS P ON P.ProdOrderNo=O.OrderNo AND P.ProdOrderRelNo=O.ReleaseNo
										WHERE ShipPalletId = @PalletId
								) A
							FOR XML PATH('')),1,1,'')			
			,AliasID = (SELECT DISTINCT IA.AliasID FROM [005].[dbo].[tblInItemAlias] as IA WHERE IA.ItemID=I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId))			
			,I.ItemId
			,ItemCnt = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = SP.Id)
			,Width = (SELECT DISTINCT P.nTarget
					  FROM  [W005].[dbo].[Characteristic] AS C  
							INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
					 WHERE C.Characteristic = 'Width(IN)')
			,WidthMM =  (SELECT DISTINCT P.nTarget
						 FROM [W005].[dbo].[Characteristic] AS C
							  INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
						 WHERE C.Characteristic = 'Width(MM)')
			,SP.GrossWt
			,GrossWtKG = SP.GrossWt/2.205
			,AvgLengthPerRoll = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId)/(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = @PalletId)			
			,LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=I.ItemId)
			,TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId)
			,TotalLengthUOM = I.UomBase							
			,LabelAreaUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelAreaUOM'
								WHERE P.ItemId=I.ItemId)
			,TotalArea = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'SM'))
			,TotalAreaUOM = 'SM'
			,MfgDate = (SELECT MIN(I.MfgDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId = @PalletId))
			,ExpDate = (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId = @PalletId))	
			,TotalNetWeight = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / 
			                  (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB'))							  			
			,SalesOrder = ISNULL(R.SalesOrder, RH.SalesOrder)
			,CustomerName = (SELECT DISTINCT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = ISNULL(R.CustId, RH.CustId))
			,ShipToCustomer = ISNULL((SELECT TOP 1 ShipToName FROM [005].[dbo].tblSoTransHeader WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder)), 
									 (SELECT TOP 1 ShipToName FROM [005].[dbo].tblArHistHeader WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder)))
			-- Below CustPO sql can return >1 record, which causes error. HDT 24638
			--,CustPO = ISNULL((SELECT DISTINCT [cf_Customer PO#] FROM [005].[dbo].trav_tblSoTransDetail_view WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder)),
			--					(SELECT DISTINCT [cf_Customer PO#] FROM [005].[dbo].trav_tblArHistDetail_view WHERE TransId = ISNULL(R.SalesOrder, RH.SalesOrder)))
			,CustPO = STUFF
							((SELECT '/' + PurchaseOrder+CHAR(10) AS [text()] 
							FROM 
								(
									SELECT DISTINCT PurchaseOrder FROM [005].[dbo].[tblMpOrderReleases] AS O 
									INNER JOIN [W005].[dbo].[ShipItem] AS P ON P.ProdOrderNo=O.OrderNo AND P.ProdOrderRelNo=O.ReleaseNo
									WHERE ShipPalletId = @PalletId
									UNION ALL 
									SELECT DISTINCT PurchaseOrder 
									FROM [005].[dbo].[tblMpHistoryOrderReleases] AS O 
									INNER JOIN [W005].[dbo].[ShipItem] AS P ON P.ProdOrderNo=O.OrderNo AND P.ProdOrderRelNo=O.ReleaseNo
										WHERE ShipPalletId = @PalletId
								) A
							FOR XML PATH('')),1,1,'')
			,RMDescr = (SELECT DISTINCT Descr
							FROM [005].[dbo].[tblInItem] II
							WHERE II.ItemId=L.RMItemId)
			,SerNoCount = IIF((I.[cf_Multi-UOM Serial Item] is Null) OR I.[cf_Multi-UOM Serial Item]=0,'',(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = SP.Id))
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo  
		 LEFT JOIN [005].[dbo].[tblInItemAlias] AS A ON A.ItemID = I.ItemId 
		 LEFT JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.LocId, EI.ItemId AS RMItemId, L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
							FROM [W005].[dbo].[ShipPallet] AS SP  
								 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id 		
								 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
								 INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=EI.ItemId AND IL.LocId=EI.LocId AND IL.GLAcctCode IN ('10', '11', '12', '20', '21', '22', '30', '31', '32', '80', '81', '82')
							WHERE SP.Id = @PalletId) L ON L.OrderNo=SI.ProdOrderNo AND L.ReleaseNo=SI.ProdOrderRelNo
	WHERE SP.Id = @PalletId
) A


END
GO
