USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spHWMBReportGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spHWMBReportGrid] @FromDt as Datetime, @ToDt as Datetime 
AS
BEGIN
	SELECT 'MOVE TO FREEZER' as MovementType
		  ,[ItemId]
		  ,[BatchNumber]
		  ,[RollNumber]
		  ,[Bin]
		  ,[PO]
		  ,[IsMoveFromFreezer]
		  ,[RequestedMoveToFromFreezer]
		  ,[MovetoFreezerDeliveredtoAisle] as DeliveredtoAisle
		  ,[MovetoFreezerDeliveredtoAisleDateTime] as DeliveredtoAisleDt
		  ,[MaterialReceived]
		  ,[MaterialReceivedDatetime]
		  ,[QNON]
		  ,[Samples]
		  ,[Scheduled]
		  ,[Comments]
		  ,DATEDIFF(SECOND, [RequestedMoveToFromFreezer], [MovetoFreezerDeliveredtoAisleDateTime])/60.0 as MinBetweenRequestAndAisleDelivery
		  ,DATEDIFF(SECOND, [MovetoFreezerDeliveredtoAisleDateTime], [MaterialReceivedDatetime])/60.0 as MinBetweenAisleDeliveryAndReceipt
	  FROM [W005].[dbo].[HWMBMaterialRequests]
	  Where IsMoveFromFreezer = 0 and MaterialReceivedDatetime is not null and RequestedMoveToFromFreezer between @FromDT and @ToDt
	UNION ALL
	SELECT 'MOVE FROM FREEZER' as MovementType
		  ,[ItemId]
		  ,[BatchNumber]
		  ,[RollNumber]
		  ,[Bin]
		  ,[PO]
		  ,[IsMoveFromFreezer]
		  ,[RequestedMoveToFromFreezer]
		  ,[MovefromFreezerDeliveredtoAisle] as DeliveredtoAisle
		  ,[MovefromFreezerDeliveredtoAisleDateTime] as DeliveredtoAisleDt
		  ,[MaterialReceived]
		  ,[MaterialReceivedDatetime]
		  ,[QNON]
		  ,[Samples]
		  ,[Scheduled]
		  ,[Comments]
		  ,DATEDIFF(SECOND, [RequestedMoveToFromFreezer], [MovefromFreezerDeliveredtoAisleDateTime])/60.0 as MinBetweenRequestAndAisleDelivery
		  ,DATEDIFF(SECOND, [MovefromFreezerDeliveredtoAisleDateTime], [MaterialReceivedDatetime])/60.0 as MinBetweenAisleDeliveryAndReceipt
	  FROM [W005].[dbo].[HWMBMaterialRequests]	  Where IsMoveFromFreezer = 1 and MaterialReceivedDatetime is not null and RequestedMoveToFromFreezer between @FromDT and @ToDt
	  Order by IsMoveFromFreezer, RequestedMoveToFromFreezer
END
GO
