USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountPalletDetailData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*	Returns ALL TravSerNums or TravLotNums, so that it can be used against Traverse [005].[dbo].[tblInPhysCount], Physical Counts */

CREATE PROCEDURE [dbo].[spGetInventoryCountPalletDetailData]
	@ShipPalletNo as varchar(10)
AS
BEGIN
--declare @ShipPalletNo as varchar(10) ='P000186312'  

	SELECT 
			si.TravSerNum
			,si.TravLotNum
			,sp.Id AS ShipUnitId
			,si.ItemId
			,ii.Descr
			,si.Location
			,si.Quantity AS Qty
			,UOM = si.UOM
			,si.NoRolls AS NoRolls
			,sp.DateCreated
			,sp.Complete
			,si.PostedToTraverse
			,TOPS = sp.TOPSforExtruding
			,LotNo = si.LotNo -- CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
					--										((
					--												SELECT DISTINCT '/' + LEFT(I.LotNo,8)
					--												FROM [W005].[dbo].[ShipItem] as I
					--												WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
					--												FOR XML PATH(''), TYPE
					--											).value('.[1]','nvarchar(max)'),
					--											1,1,''	)
					--ELSE  STUFF
					--			((
					--					SELECT DISTINCT '/' + I.LotNo 
					--					FROM [W005].[dbo].[ShipItem] as I
					--					WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
					--					FOR XML PATH(''), TYPE
					--				).value('.[1]','nvarchar(max)'),
					--				1,1,'')
					--END
			,SerNum = si.SerNo -- STUFF
							--(
							--	(
							--		SELECT DISTINCT '/' + I.TravSerNum 
							--		FROM [W005].[dbo].[ShipItem] as I
							--		WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
							--		FOR XML PATH(''), TYPE
							--	).value('.[1]','nvarchar(max)'),
							--	1,1,''
							--)
	INTO #T1
	FROM  [W005].[dbo].[ShipPallet] As sp INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipPalletId=sp.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 		
	WHERE sp.ShipPalletNo=@ShipPalletNo
	--GROUP BY si.TravSerNum,si.TravLotNum, sp.Id,sp.ShipPalletNo, si.ItemId,ii.Descr,si.Location,si.Quantity,si.NoRolls,sp.DateCreated,sp.TOPSforExtruding, si.UOM,
	--		sp.Complete,sp.Deleted,sp.Shipped,sp.PhantomAdjOut,sp.UsedByProduction, si.PostedToTraverse


	SELECT #T1.*, B.TotalQty,B.TotalNoRolls
	FROM #T1 INNER JOIN 
	(SELECT DISTINCT  sp.Id
				,TotalQty = SUM(si.Quantity)
				,TotalNoRolls = SUM(si.NoRolls)
	FROM  [W005].[dbo].[ShipPallet] As sp INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipPalletId=sp.Id
	WHERE sp.ShipPalletNo=@ShipPalletNo
	GROUP BY sp.Id) B  ON #T1.ShipUnitId = B.Id

	Drop Table #T1
	
	

END
GO
