USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMonthEndAuditReports]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[spMonthEndAuditReports] @GlPeriod as integer, @GlYear as integer, @MEDate as Datetime
AS
BEGIN
	--Declare @GlPeriod as integer
	--Declare @GlYear as integer
	--Declare @MEDate as Datetime
	--Set @GlPeriod = 12
	--Set @GlYear = 2018
	--Set @MEDate = '9/30/2018'

	SELECT DISTINCT I.ItemId, LottedYN, ISNULL([cf_Multi-UOM Serial Item],0) AS IsSerial, [cf_Customer] as CustomerOwner, UomBase, L.GLAcctCode, c.CustName 
	INTO #Item 
	FROM [005].dbo.trav_tblInItem_view I INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = I.ItemId LEFT JOIN [005].dbo.tblArCust C ON C.CustId = I.cf_Customer

	SELECT * 
	INTO #MEItemLocLotSum 
	FROM  [W005].dbo.MonthEndItemLocLotSummary M 
	WHERE M.FiscalYear = @GlYear and M.GLPeriod = @GLPeriod --AND M.QtyOnHand <> 0

	SELECT GLAccount, GLAcctCode, ItemId, LocId, LotNum, MaterialType, UomBase, MaterialOwner, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, QtyOnHand, SerOrLot
	INTO #SI0
	FROM 
		(SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'S'
	    FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId and I.IsSerial = 1 
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'
		WHERE SUBSTRING(M.GLAccount,1,4) IN ('0120', '0125', '0165')
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner, 
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'L'
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 1 AND I.IsSerial = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE SUBSTRING(M.GLAccount,1,4) IN ('0120', '0125', '0165')
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner, 
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = ''
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE SUBSTRING(M.GLAccount,1,4) IN ('0120', '0125', '0165')) A
	ORDER BY GLAccount, ItemId, LocId, LotNum

	SELECT GLAccount, GLAcctCode, ItemId, LocId, LotNum, MaterialType, UomBase, MaterialOwner, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, QtyOnHand, SerOrLot
	INTO #SI1
	FROM 
		(SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner,
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'S'
	    FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId and I.IsSerial = 1 
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'
		WHERE M.GLAccount LIKE '0160%'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner, 
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = 'L'
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 1 AND I.IsSerial = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE M.GLAccount LIKE '0160%'
		UNION ALL
		SELECT M.GLAccount, I.GLAcctCode, M.ItemId, M.LocId, M.LotNum, I.UomBase, MaterialType = CASE SUBSTRING(I.GLAcctCode,1,1) WHEN '1' THEN '1:Raw Direct Material' WHEN '2' THEN '4:SubC Direct Material' WHEN '3' THEN '1:Raw Direct Material' WHEN '4' THEN '2:Raw Indirect Material' WHEN '5' THEN '4:SubC Indirect Material' WHEN '6' THEN '2:Raw Indirect Material' WHEN '7' THEN 'Finished Goods' WHEN '8' THEN '3:Intermediate Material' WHEN '9' THEN '5:Merchandise' END, IsNull(I.CustName, 'Web '+W.[Description]) AS MaterialOwner, 
		M.TravTotalCost, M.NunezTotalCost, M.DirectMaterialCost, M.InDirectMaterialCost, M.LaborSetupCost, M.LaborCost, M.MachineSetupCost, M.MachineCost, M.SubContractCost, M.QtyOnHand, SerOrLot = ''
		FROM #MEItemLocLotSum M 
		INNER JOIN #Item I ON I.ItemId = M.ItemId AND I.LottedYN = 0
		INNER JOIN [W005].dbo.vTravCompany W oN W.CompName = '005'		
		WHERE M.GLAccount LIKE '0160%') A
	ORDER BY GLAccount, ItemId, LocId, LotNum

	SELECT SI.Id, SI.ItemId, Location as LocId, SerNo, LotNo, SI.Quantity, ShipPalletId, ShipCartonId, ShipBoxId
	INTO #SI2
	FROM SHIPITEM SI
	INNER JOIN #SI1 I ON SI.ItemId = I.ItemId and SI.TravLotNum = I.LotNum
	WHERE I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateCreated < @MEDate
	--WHERE I.SerOrLot = 'S' AND I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateCreated d < @MEDate
	--UNION ALL
	--SELECT Si.Id, SI.ItemId, Location as LocId, SerNo, LotNo, SI.Quantity, ShipPalletId, ShipCartonId, ShipBoxId
	--FROM SHIPITEM SI
	--INNER JOIN #SI1 I ON SI.ItemId = I.ItemId and SI.LotNo = I.LotNum
	--WHERE I.SerOrLot = 'L' AND I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateALTER d < @MEDate

	--SELECT SI.Id, SI.ItemId, LocId, SerNo, LotNo, SI.Quantity, ShipPalletId, ShipCartonId, ShipBoxId
	--INTO #SI2
	--FROM SHIPITEM SI
	--INNER JOIN #SI1 I ON SI.ItemId = I.ItemId and SI.Location = I.LocId and SI.SerNo = I.LotNum
	--WHERE I.SerOrLot = 'S' AND I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateALTER d < @MEDate
	--UNION ALL
	--SELECT Si.Id, SI.ItemId, LocId, SerNo, LotNo, SI.Quantity, ShipPalletId, ShipCartonId, ShipBoxId
	--FROM SHIPITEM SI
	--INNER JOIN #SI1 I ON SI.ItemId = I.ItemId and SI.Location = I.LocId and SI.LotNo = I.LotNum
	--WHERE I.SerOrLot = 'L' AND I.QtyOnHand <> 0 AND SI.PostedToTraverse = 1 and SI.DateALTER d < @MEDate

	SELECT #SI2.*, 'P' as PkgType, P.Id as PkgId, P.ShipPalletNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, P.DateCreated AS MFGDate 
	INTO #SI3 
	FROM #SI2 INNER JOIN ShipPallet P ON P.Id = #SI2.ShipPalletId WHERE #SI2.ShipPalletId IS NOT NULL
	UNION ALL
	SELECT #SI2.*, 'C' as PkgType, C.Id as PkgId, C.ShipCartonNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, C.DateCreated AS MFGDate 
	FROM #SI2 INNER JOIN ShipCarton C ON C.Id = #SI2.ShipCartonId WHERE #SI2.ShipPalletId IS NULL AND #SI2.ShipCartonId IS NOT NULL				
	UNION ALL
	SELECT #SI2.*, 'B' as PkgType, B.Id as PkgId, B.ShipBoxNo as PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, B.DateCreated AS MFGDate 
	FROM #SI2 INNER JOIN ShipBox B ON B.Id = #SI2.ShipBoxId WHERE #SI2.ShipPalletId IS NOT NULL AND #SI2.ShipCartonId IS NULL and #SI2.ShipBoxId is NOT NULL

	DELETE FROM #SI3
	--WHERE Shipped = 1 OR Deleted = 1 OR PhantomAdjOut = 1 OR UsedByProduction = 1
	WHERE Shipped = 1 OR Deleted = 1 OR UsedByProduction = 1

	SELECT ItemId, LocId, SerNo, LotNo, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction,MFGDate, sum(Quantity) as ShipItemQuantity 
	INTO #SI4
	FROM #SI3
	GROUP BY ItemId, LocId, SerNo, LotNo, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate

	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate
	INTO #SI5
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipPalletId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'P'
	UNION ALL
	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate 
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipCartonId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'C'
	UNION ALL
	SELECT #SI4.ItemId, #SI4.LocId, #SI4.SerNo, #SI4.LotNo, #SI4.PkgType, #SI4.PkgId, #SI4.PkgNo, #SI4.Shipped, #SI4.Deleted, #SI4.PhantomAdjOut, #SI4.UsedByProduction, #SI4.ShipItemQuantity, D.Id, L.PLNo, L.ShipDate, L.ShipToId, L.Complete, L.RemoteWarehouse, #SI4.MFGDate 
	FROM #SI4
		 LEFT JOIN [W005].dbo.ShipPackingListDetail D on D.ShipBoxId = #SI4.PkgId 
		 LEFT JOIN [W005].dbo.ShipPackingList L on L.PLNo = D.PLNo 
	WHERE PkgType = 'B'

	SELECT S.* 
	INTO #SI6 
	FROM #SI5 S
	WHERE ((S.RemoteWarehouse != 'NO') AND 0 = (Select Count(l1.PLNo) FROM [W005].dbo.ShipPackingListDetail d1 INNER JOIN ShipPackingList l1 on d1.plno = l1.plno WHERE d1.ShipPalletId = S.PkgId and d1.plno <> s.plno and complete = 0)) 
		OR (S.RemoteWarehouse IS NULL OR ((S.RemoteWarehouse = 'NO') AND (S.Complete = 0 OR (S.Complete = 1 AND S.Shipped = 0))))

	SELECT MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, 'ALL' AS LocId, Uombase, SerOrLot, Sum(QtyOnHand) AS TravQtyOnHand, SUM(TravTotalCost) as TravTotalCost, SUM(NunezTotalCost) as NunezTotalCost, SUM(DirectMaterialCost) as DirectMaterialCost, SUM(InDirectMaterialCost) as InDirectMaterialCost, SUM(LaborSetupCost) as LaborSetupCost, SUM(LaborCost) as LaborCost, SUM(MachineSetupCost) as MachineSetupCost, SUM(MachineCost) as MachineCost, SUM(SubContractCost) as SubContractCost, SUM(TravTotalCost)/IIF(Sum(QtyOnHand)=0, 1, Sum(QtyOnHand)) as TravUnitCost
	INTO #TravItem
	FROM #SI1
	GROUP BY MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, Uombase, SerOrLot

	SELECT MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, LocId, Uombase, SerOrLot, Sum(QtyOnHand) AS TravQtyOnHand, SUM(TravTotalCost) as TravTotalCost, SUM(NunezTotalCost) as NunezTotalCost, SUM(DirectMaterialCost) as DirectMaterialCost, SUM(InDirectMaterialCost) as InDirectMaterialCost, SUM(LaborSetupCost) as LaborSetupCost, SUM(LaborCost) as LaborCost, SUM(MachineSetupCost) as MachineSetupCost, SUM(MachineCost) as MachineCost, SUM(SubContractCost) as SubContractCost, SUM(TravTotalCost)/IIF(Sum(QtyOnHand)=0, 1, Sum(QtyOnHand)) as TravUnitCost
	INTO #TravItemLoc
	FROM #SI1
	GROUP BY MaterialType, MaterialOwner, GLAccount, GLAcctCode, ItemId, LocId, Uombase, SerOrLot

	SELECT ItemId, 'ALL' as LocId, Sum(ShipItemQuantity) as  ShipItemQuantity
	INTO #ShipItem
	FROM #SI6
	GROUP BY ItemId
	
	SELECT ItemId, LocId, Sum(ShipItemQuantity) as  ShipItemQuantity
	INTO #ShipItemLoc
	FROM #SI6
	GROUP BY ItemId, LocId

	SELECT MaterialType, MaterialOwner, GLAccount, GLAcctCode, T.ItemId, T.LocId, Uombase, SerOrLot, TravQtyOnHand, ShipItemQuantity, TravQtyOnHand-ShipItemQuantity AS Diff, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost
	INTO #TravData
	FROM #TravItem T LEFT JOIN #ShipItem S ON S.ItemId = T.ItemId

	SELECT MaterialType, MaterialOwner, GLAccount, GLAcctCode, T.ItemId, T.LocId, Uombase, SerOrLot, TravQtyOnHand, ShipItemQuantity, TravQtyOnHand-ShipItemQuantity AS Diff, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost
	INTO #TravDataLoc
	FROM #TravItemLoc T LEFT JOIN #ShipItemLoc S ON S.ItemId = T.ItemId AND S.LocId = T.LocId

	SELECT ItemId, LocId, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate, PLNo, ShipDate, ShipToId, SUM(ShipItemQuantity) as ShipItemQuantity 
	INTO #ShipItemLocPkg
	FROM #SI6
	GROUP BY ItemId, LocId, PkgType, PkgId, PkgNo, Shipped, Deleted, PhantomAdjOut, UsedByProduction, MFGDate, PLNo, ShipDate, ShipToId

	SELECT ItemId, Sum(QtyOnHand) as Qty, Sum(TravTotalCost) as Cost
	INTO #Z1
	FROM #SI1
	Group by ItemId

	SELECT MaterialType, GLAccount, GLAcctCode, 'UNPACKED' AS ShipPkgNo, Cast(NULL as datetime) AS MFGDate, T.ItemId, T.LocId, Cast('UNPACKED' AS Varchar(10)) as PkgLoc, MaterialOwner, UomBase, T.TravQtyOnHand, SUM(ShipItemQuantity) as ShipItemQuantity, SUM((TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as TravTotalCost, SUM((NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as NunezTotalCost, SUM((DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as DirectMaterialCost, SUM((InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as InDirectMaterialCost, SUM((LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as LaborSetupCost, SUM((LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as LaborCost, SUM((MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as MachineSetupCost, SUM((MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as MachineCost, SUM((SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity) as SubContractCost, 1 As PostedtoTraverse, Cast(NULL as bit) AS Shipped, Cast(NULL as int) AS PLNo, Cast(NULL as DateTime) AS ShipDate, Cast(NULL as varchar(10)) AS ShipToId
	INTO #Z2
	FROM #TravItem T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId 
	WHERE GLAccount LIKE '0160%' AND SUBSTRING(GLAcctCode,1,1) = '7' AND ShipItemQuantity <> 0
	GROUP BY MaterialType, GLAccount, GLAcctCode, T.ItemId, T.LocId, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost

	--Auditors Report Raw/Intermediate Material
	--Auditors Report Raw/Intermediate Material
	--Auditors Report Raw/Intermediate Material
	SELECT *
	FROM 
		(SELECT #SI0.MaterialType, #SI0.MaterialOwner, #SI0.GLAccount, 
		#SI0.ItemId, #SI0.LocId, Sum(QtyOnHand) AS QtyOnHand, #SI0.UomBase, Sum(TravTotalCost) as TravTotalCost, Sum(NunezTotalCost) as NunezTotalCost, Sum(DirectMaterialCost) as DirectMaterialCost, Sum(InDirectMaterialCost) as InDirectMaterialCost, Sum(LaborSetupCost) as LaborSetupCost, Sum(LaborCost) as LaborCost, Sum(MachineSetupCost) as MachineSetupCost, Sum(MachineCost) as MachineCost, Sum(SubcontractCost) as SubcontractCost
		FROM #SI0 
		WHERE SUBSTRING(GLAccount,1,4) in ('0120', '0125', '0165')
		Group By #SI0.MaterialType, #SI0.MaterialOwner, #SI0.GLAccount, #SI0.ItemId, #SI0.LocId, UomBase) A
	Order by MaterialType, MaterialOwner, GLAccount, ItemId, LocId

	--Auditors Report Finished Goods Report
	--Auditors Report Finished Goods Report
	--Auditors Report Finished Goods Report

	SELECT MaterialType, GLAccount, GLAcctCode, PkgNo as ShipPkgNo, MFGDate, ItemId, LocId, PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, ShipItemQuantity AS ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	FROM 
	(SELECT MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, S.Locid as PkgLoc, MaterialOwner, UomBase, T.TravQtyOnHand, ShipItemQuantity, (TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as TravTotalCost, (NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as NunezTotalCost, (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as DirectMaterialCost, (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as InDirectMaterialCost, (LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborSetupCost, (LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborCost, (MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineSetupCost, (MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineCost, (SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	FROM #TravItem T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId 
	WHERE GLAccount LIKE '0160%' AND SUBSTRING(GLAcctCode,1,1) = '7' AND ShipItemQuantity <> 0
	GROUP BY MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, S.Locid, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost, ShipItemQuantity, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, IIF(TravQtyOnHand=0,1,TravQtyOnHand), Shipped, PLNo, ShipDate, ShipToId) A
	UNION ALL
	SELECT T.MaterialType, T.GLAccount, T.GLAcctCode, T.ShipPkgNo, T.MFGDate, T.ItemId, T.LocId, T.PkgLoc, T.MaterialOwner, T.UomBase, T.TravQtyOnHand - ShipItemQuantity as TravQtyOnHand, T.TravQtyOnHand - ShipItemQuantity as ShipItemQuantity, Cost-TravTotalCost as TravTotalCost, 0 AS NunezTotalCost, 0 AS DirectMaterialCost, 0 AS InDirectMaterialCost, 0 AS LaborSetupCost, 0 AS LaborCost, 0 AS MachineSetupCost, MachineCost, 0 AS SubContractCost, PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	FROM #Z2 as T INNER JOIN #Z1 ON #Z1.ItemId = T.ItemId
	WHERE ROUND(T.TravQtyOnHand - ShipItemQuantity,2) != 0 
	--WHERE T.TravQtyOnHand - ShipItemQuantity != 0 
	Order by 1, MaterialOwner, GLAccount, ItemId, LocId, PkgLoc

	--Internal Discrepancy Report on Finished Goods
	--Internal Discrepancy Report on Finished Goods
	--Internal Discrepancy Report on Finished Goods
	SELECT MaterialType, GLAccount, GLAcctCode, ShipPkgNo, MFGDate, ItemId, LocId, PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, ShipItemQuantity AS ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	FROM 
	(SELECT MaterialType + ' - Diff' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL AS MFGDate, ItemId, LocId, ' ' as PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, Diff as ShipItemQuantity, (TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as TravTotalCost, (NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as NunezTotalCost, (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as DirectMaterialCost, (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as InDirectMaterialCost, (LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as LaborSetupCost, (LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as LaborCost, (MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as MachineSetupCost, (MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as MachineCost, (SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as SubContractCost, 1 As PostedtoTraverse, Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	FROM #TravData 
	WHERE Diff <> 0
	UNION ALL
	SELECT MaterialType + ' - No Pkg' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL, S.ItemId, S.LocId, ' ' as PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, TravQtyOnHand as ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse,  Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	FROM #TravData T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId
	WHERE Diff IS NULL AND TravQtyOnHand <> 0
	UNION ALL
	SELECT MaterialType + ' - No Qty w/Cost' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL, ItemId, LocId, ' ' as PkgLoc, MaterialOwner, UomBase, TravQtyOnHand, TravQtyOnHand as ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse,  Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	FROM #TravDataLoc 
	WHERE Diff IS NULL AND TravQtyOnHand = 0) A	
	Order by 1, MaterialOwner, GLAccount, ItemId, LocId

	--Detail Diff Report
	--Detail Diff Report
	--Detail Diff Report

	SELECT T.ItemId, T.LotNum, Sum(T.QtyOnHand) AS TravQtyOnHand, Sum(W.ShipItemQuantity) AS ShipItemQuantity
	into #DiffRpt
	FROM (SELECT ItemId, LotNum, Round(Sum(QtyOnHand), 4) as QtyOnHand FROM #SI1 WHERE SerOrLot = 'L' Group by ItemId, LotNum) AS T LEFT JOIN (SELECT ItemId, PkgNo AS LotNum, Round(Sum(ShipItemQuantity),4) AS ShipItemQuantity FROM #SI6 Group by ItemId, PkgNo) AS W ON W.ItemId = T.ItemId and W.LotNum = T.LotNum
	Group by T.ItemId, T.LotNum
	Order by ItemId, LotNum
	--UNION ALL
	--SELECT T.ItemId, LotNum, QtyOnHand AS TravQtyOnHand, Sum(W.ShipItemQuantity) AS ShipItemQuantity
	--FROM #SI1 T LEFT JOIN #SI6 W ON W.ItemId = T.ItemId and W.PkgNo = T.LotNum
	--WHERE T.SerOrLot = 'S' 
	--Group by T.ItemId, LotNum, QtyOnHand

	Update #DiffRpt set ShipItemQuantity = 0 where ShipItemQuantity is null and TravQtyOnHand = 0

	select ItemId, LotNum, TravQtyOnHand, ShipItemQuantity as WebMfgQtyOnHand, TravQtyOnHand-isnull(ShipItemQuantity,0) as Diff 
	from #DiffRpt
	where TravQtyOnHand <> isnull(ShipItemQuantity, 0)
	Order by ItemId, LotNum

	--SELECT MaterialType, GLAccount, GLAcctCode, PkgNo as ShipPkgNo, MFGDate, ItemId, LocId, MaterialOwner, UomBase, TravQtyOnHand, ShipItemQuantity AS ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	--FROM 
	--(SELECT MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, MaterialOwner, UomBase, T.TravQtyOnHand, ShipItemQuantity, (TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as TravTotalCost, (NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as NunezTotalCost, (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as DirectMaterialCost, (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as InDirectMaterialCost, (LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborSetupCost, (LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborCost, (MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineSetupCost, (MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineCost, (SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	--FROM #TravItemLoc T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId and S.LocId = T.LocId
	--WHERE GLAccount LIKE '0160%' AND SUBSTRING(GLAcctCode,1,1) = '7' AND T.LocId NOT LIKE 'RW_%' AND ShipItemQuantity <> 0
	--GROUP BY MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost, ShipItemQuantity, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, IIF(TravQtyOnHand=0,1,TravQtyOnHand), Shipped, PLNo, ShipDate, ShipToId
	--UNION ALL
	--SELECT MaterialType + ' -  Offsite' AS MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, MaterialOwner, UomBase, T.TravQtyOnHand, ShipItemQuantity, (TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as TravTotalCost, (NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as NunezTotalCost, (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as DirectMaterialCost, (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as InDirectMaterialCost, (LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborSetupCost, (LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as LaborCost, (MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineSetupCost, (MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as MachineCost, (SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*ShipItemQuantity as SubContractCost, 1 As PostedtoTraverse, Shipped, PLNo, ShipDate, ShipToId
	--FROM #TravItemLoc T INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId and S.LocId = T.LocId
	--WHERE GLAccount LIKE '0160%' AND SUBSTRING(GLAcctCode,1,1) = '7' AND T.LocId LIKE 'RW_%' AND ShipItemQuantity <> 0
	--GROUP BY MaterialType, GLAccount, GLAcctCode, PkgNo, MFGDate, T.ItemId, T.LocId, MaterialOwner, UomBase, TravQtyOnHand, TravTotalCost, ShipItemQuantity, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, IIF(TravQtyOnHand=0,1,TravQtyOnHand), Shipped, PLNo, ShipDate, ShipToId) A
	--UNION ALL
	--SELECT MaterialType + ' - Diff' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL, ItemId, LocId, MaterialOwner, UomBase, TravQtyOnHand, Diff as ShipItemQty, (TravTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as TravTotalCost, (NunezTotalCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as NunezTotalCost, (DirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as DirectMaterialCost, (InDirectMaterialCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as InDirectMaterialCost, (LaborSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as LaborSetupCost, (LaborCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as LaborCost, (MachineSetupCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as MachineSetupCost, (MachineCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as MachineCost, (SubContractCost/IIF(TravQtyOnHand=0,1,TravQtyOnHand))*Diff as SubContractCost, 1 As PostedtoTraverse, Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	--FROM #TravDataLoc 
	--WHERE Diff <> 0
	--UNION ALL
	--SELECT MaterialType + ' - No Pkg' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL, ItemId, LocId, MaterialOwner, UomBase, TravQtyOnHand, TravQtyOnHand as ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse,  Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	--FROM #TravDataLoc INNER JOIN #ShipItemLocPkg S ON S.ItemId = T.ItemId
	--WHERE Diff IS NULL AND TravQtyOnHand <> 0
	--UNION ALL
	--SELECT MaterialType + ' - No Qty w/Cost' AS MaterialType, GLAccount, GLAcctCode, NULL as ShipPkgNo, NULL, ItemId, LocId, MaterialOwner, UomBase, TravQtyOnHand, TravQtyOnHand as ShipItemQty, TravTotalCost, NunezTotalCost, DirectMaterialCost, InDirectMaterialCost, LaborSetupCost, LaborCost, MachineSetupCost, MachineCost, SubContractCost, 1 As PostedtoTraverse,  Cast(Null as bit) as Shipped, Cast(Null as varchar(10)) as PLNo, Cast(Null as datetime) as ShipDate, Cast(Null as varchar(25)) as ShipToId
	--FROM #TravDataLoc 
	--WHERE Diff IS NULL AND TravQtyOnHand = 0	
	--Order by 1, MaterialOwner, GLAccount, ItemId, LocId

	DROP TABLE #Item
	drop table #MEItemLocLotSum
	DROP TABLE #SI0
	DROP TABLE #SI1
	DROP TABLE #SI2
	drop table #SI3
	drop table #SI4
	drop table #SI5
	drop table #SI6
	drop table #TravData
	drop table #TravDataLoc
	drop table #TravItem	
	drop table #TravItemLoc
	drop table #ShipItem
	drop table #ShipItemLoc
	drop table #ShipItemLocPkg
	DROP table #Z1
	DROP TABLE #Z2

END


	

GO
