USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMonthEndResultsNew]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMonthEndResultsNew] @FiscalPeriod as int, @FiscalYear as int
AS
BEGIN
	SELECT * Into #T1 FROM 
	(
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = d.HistSeqNum
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.AppId <> 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0 OR (d.AppId = 'PO' AND d.Qty = 0 AND d.CostExt <> 0 )) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN -d.CostExt ELSE d.CostExt END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = d.HistSeqNum
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.AppId = 'MP' and d.[Source] > 0 AND d.[Source] NOT IN (200, 201) 
			AND (d.Qty > 0) 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit, -d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [005].dbo.tblInHistDetail r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = r.HistSeqNum
		WHERE d.AppId <> 'MP' and d.Qty > 0 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, r.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, r.CostUnit, d.PriceUnit, -d.Qty AS Qty
			, CASE WHEN d.[Source] >= 70 THEN (d.Qty * r.CostUnit) ELSE -d.Qty * r.CostUnit END AS CostExt
			, CASE WHEN d.[Source] >= 70 THEN -d.PriceExt ELSE d.PriceExt END AS PriceExt
			, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty END AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty END AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty END AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty END AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty END AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty END AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, CASE WHEN d.[Source] >= 70 THEN IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty ELSE -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty END AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
			, CASE WHEN d.[Source] >= 70 THEN (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty ELSE -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty END AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			INNER JOIN [005].dbo.tblInHistDetail r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = r.HistSeqNum
			LEFT JOIN [005].dbo.tblMpRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R1.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R2 ON R2.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R2.ReleaseId
		WHERE d.AppId = 'MP' and d.Qty > 0 
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
	--		, -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, Cast(null as varchar(8)) as OrderNo
			, Cast(null as int) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = d.HistSeqNum
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE d.AppId <> 'MP' and d.[Source] IN (200, 201)
		UNION ALL 
		SELECT d.HistSeqNum, d.ItemId, d.LocId, d.LotNum, d.AppId, d.GLPeriod, d.SumYear, i.Descr, i.ItemType
			, d.TransDate, d.[Source], d.SrceID, d.RefId, i.SalesCat, i.PriceId, d.Uom, d.UomBase, i.ProductLine
			, i.LottedYn, i.TaxClass, d.TransId, d.BatchId, d.CostUnit, d.PriceUnit, 0 AS Qty
			, -d.CostExt AS CostExt, d.PriceExt, d.DropShipYn 
			, l.GLAcctCode
			, d.ConvFactor
			, IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor AS LaborSetupCostUnit
			, -IsNull(n.WILaborSetupUnitCost,0)*d.ConvFactor * d.Qty AS LaborSetupCost
			, IsNull(n.WILaborUnitCost,0)*d.ConvFactor AS LaborCostUnit
			, -IsNull(n.WILaborUnitCost,0)*d.ConvFactor * d.Qty AS LaborCost
			, IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor AS MachineSetupCostUnit
			, -IsNull(n.WIMachineSetupUnitCost,0)*d.ConvFactor * d.Qty AS MachineSetupCost
			, IsNull(n.WIMachineUnitCost,0)*d.ConvFactor AS MachineCostUnit
			, -IsNull(n.WIMachineUnitCost,0)*d.ConvFactor * d.Qty AS MachineCost
			, IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor AS MaterialDirectCostUnit
			, -IsNull(n.WIMaterialDirectUnitCost,0)*d.ConvFactor * d.Qty AS MaterialDirectCost
			, IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor AS IndirectCostUnit
			, -IsNull(n.WIMaterialIndirectUnitCost,0)*d.ConvFactor * d.Qty AS IndirectCost
			, IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor AS SubcontractCostUnit
			, -IsNull(n.WISubcontractUnitCost,0)*d.ConvFactor * d.Qty AS SubcontractCost
			, (IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor AS WebCostUnit
	--		, -(IsNull(n.WILaborSetupUnitCost,0)+IsNull(n.WILaborUnitCost,0)+IsNull(n.WIMachineSetupUnitCost,0)+IsNull(n.WIMachineUnitCost,0)+IsNull(n.WIMaterialDirectUnitCost,0)+IsNull(n.WIMaterialIndirectUnitCost,0)+IsNull(n.WISubcontractUnitCost,0))*d.ConvFactor*d.Qty AS WebCost
			, -d.CostExt AS WebCost
			, IsNull(o.OrderNo, o1.OrderNo) as OrderNo
			, IsNull(o.ReleaseNo, o1.ReleaseNo) as ReleaseNo
		FROM [005].dbo.tblInHistDetail d 
			INNER JOIN [W005].dbo.tblInHistDetailNunezCost n ON n.HistSeqNum = d.HistSeqNum
			INNER JOIN [005].dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN [005].dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
			LEFT JOIN [005].dbo.tblMpRequirements R ON R.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
			LEFT JOIN [005].dbo.tblMpHistoryRequirements R1 ON R1.TransId = d.TransId 
			LEFT JOIN [005].dbo.tblMpHistoryOrderReleases O1 ON O1.ReleaseId = R1.ReleaseId
		WHERE d.AppId = 'MP' and d.[Source] IN (200, 201)
	) HistoryDetail
	WHERE (GLPeriod = @FiscalPeriod And SumYear = @FiscalYear)

	SELECT * FROM #T1

	DROP TABLE #T1
END
GO
