USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCartonDataByTravLotNumForPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetCartonDataByTravLotNumForPL]
	@ShipCartonNo as varchar(10), @OrderNo as varchar(8)
AS
BEGIN

--declare @ShipCartonNo as varchar(10) ='P000157427'
--DECLARE @OrderNo as varchar(8) = '00001421'
	
	DECLARE @ISExtruding as bit

	SELECT @IsExtruding = IIF(COUNT(ah.AssemblyId) > 0, 1, 0)
	FROM [W005].[dbo].[ShipItem] As si 
		 INNER JOIN [W005].[dbo].[ShipCarton] As sc ON si.ShipCartonId=sc.Id
		 INNER JOIN [005].[dbo].[tblMbAssemblyHeader] ah ON si.ItemId = ah.AssemblyId
	     INNER JOIN [005].[dbo].[tblMbAssemblyRouting] r ON ah.Id=r.HeaderId 	
		 WHERE r.MachineGroupId Like 'EXT%' AND sc.ShipCartonNo=@ShipCartonNo

	SELECT DISTINCT  si.TravLotNum,sc.Id,sc.ShipCartonNo, si.ItemId,ii.Descr,
			si.Location,sc.GrossWt,sc.DateCreated,
			Qty = (SELECT CAST(CAST(i.Quantity as float) / CAST(iif(td.ConversionFactor Is null, IsNull(ar.ConversionFactor,1),td.ConversionFactor) as float) as decimal(20,10)) 
						FROM [W005].[dbo].[ShipItem] i 
								LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON i.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
								LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=i.ItemId AND ar.Status=0
						WHERE i.ShipCartonId=(SELECT Id FROM [W005].[dbo].[ShipCarton] WHERE ShipCartonNo=@ShipCartonNo)  
							AND i.TravLotNum=si.TravLotNum
						GROUP BY i.Quantity,td.ConversionFactor,ar.ConversionFactor),
					--TotalQty = (SELECT CAST(SUM(CAST(si.Quantity as float)) / CAST(iif(td.ConversionFactor Is null, IsNull(ar.ConversionFactor,1),td.ConversionFactor) as float) as decimal(20,10)) 
					--			FROM [W005].[dbo].[ShipItem] si 
					--					LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
					--					LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=si.ItemId AND ar.Status=0
					--			WHERE si.ShipCartonId=(SELECT Id FROM [W005].[dbo].[ShipCarton] WHERE ShipCartonNo=@ShipCartonNo)  
					--			GROUP BY td.ConversionFactor,ar.ConversionFactor),
			UOM = (SELECT iif(td.UnitsSell Is null, ar.UnitsSell,td.UnitsSell) 
					FROM [W005].[dbo].[ShipItem] si 
							LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
							LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=si.ItemId AND ar.Status=0
					WHERE si.ShipCartonId=(SELECT Id FROM [W005].[dbo].[ShipCarton] WHERE ShipCartonNo=@ShipCartonNo) 
					GROUP BY td.UnitsSell,ar.UnitsSell),
			TotalNoRolls = si.NoRolls, -- (SELECT SUM(i.NoRolls) FROM [W005].[dbo].[ShipItem] as i WHERE i.ShipCartonId=sc.Id),
			LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN LEFT(si.LotNo,8)
					ELSE si.LotNo 
					END,
					--LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
					--												(
					--													(
					--														SELECT DISTINCT '/' + LEFT(I.LotNo,8)
					--														FROM [W005].[dbo].[ShipItem] as I
					--														WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
					--														FOR XML PATH(''), TYPE
					--													).value('.[1]','nvarchar(max)'),
					--													1,1,''
					--												)
					--		ELSE  STUFF
					--					(
					--						(
					--							SELECT DISTINCT '/' + I.LotNo 
					--							FROM [W005].[dbo].[ShipItem] as I
					--							WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
					--							FOR XML PATH(''), TYPE
					--						).value('.[1]','nvarchar(max)'),
					--						1,1,''
					--					)
					--		END,
			CustomerPN = STUFF
			(
				(
					SELECT DISTINCT '/' + IIA.AliasID
					FROM [005].[dbo].[tblInItemAlias] As IIA
					WHERE IIA.ItemID=si.ItemId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			),
			sc.Complete,sc.Deleted,sc.NotForShipment,sc.Shipped, si.PostedToTraverse,
			CAST(IIF(sc.ShipCartonNo Not In 
									(SELECT d.PkgId 
									FROM [W005].[dbo].[ShipPackingListDetail] d INNER JOIN [W005].[dbo].[ShipPackingList] p ON d.PLNo=p.PLNo
									WHERE p.RemoteWarehouse = 'NO'
									),0,1) as bit) as AlreadyShipped,
			OrderNotFinalized = CAST(iif(@ISExtruding = 1,0,
													IIF(si.ItemId Not In 
													(SELECT AssemblyId
													FROM [W005].[dbo].[OrderReleaseSummary]
													WHERE (OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo AND IsPostedToTraverse=1) OR (si.DateCreated<'2/1/2016')
													),1,0) ) 
									as bit)
	FROM  [W005].[dbo].[ShipCarton] As sc INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipCartonId=sc.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
		
	WHERE sc.ShipCartonNo=@ShipCartonNo

END
GO
