USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetWmExtLocIdBinInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetWmExtLocIdBinInfo]
	@Id int, @LocId varchar(10)
AS
BEGIN

--DECLARE @Id int = 187221174
--DECLARE @LocId varchar(10) = 'INVMTP'


IF EXISTS (
			SELECT ExtLocId, [cf_Bin Type] As BinType,[cf_Physical Location] as PhysicalLocation
			FROM [005].[dbo].[trav_tblWmExtLoc_view]
			WHERE ID = @Id AND LocID=@LocId
		)
	BEGIN
		SELECT ExtLocId, [cf_Bin Type] As BinType,[cf_Physical Location] as PhysicalLocation
		FROM [005].[dbo].[trav_tblWmExtLoc_view]
		WHERE ID = @Id AND LocID=@LocId
	END ELSE
	BEGIN
		SELECT ExtLocId='',BinType='',PhysicalLocation=''
	END

END




GO
