USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetMaterialDetail2]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetMaterialDetail2](@Material varchar(24))
AS
	SELECT 
		onhand.ItemId,
		onHand.LocId,
		onHand.LotNum,
		onhand.Qty,
		onhand.EntryDate,
		onhand.LinkID AS [PONumber],
		onhand.LinkIDSub AS [POLineNumber],
		(SELECT Name FROM [005].dbo.tblApVendor WHERE VendorID = poHeader.VendorId) AS [VendorName],
		(SELECT FirstName + ' ' + MiddleInit + ' ' + LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = poHeader.OrderedBy )AS [OrderedByName],
		(SELECT ExpDate FROM [005].dbo.trav_tblInItemLocLot_View WHERE ItemId = onhand.ItemId AND LocId = onHand.LocId AND LotNum = onhand.LotNum)AS[ExpirationDate]
	FROM [005].dbo.tblInQtyOnHand onhand
	LEFT JOIN [005].dbo.tblPoTransHeader poHeader ON poHeader.TransId = onhand.LinkID
		WHERE onhand.Source = 10 AND DeletedYn = 0 AND onhand.ItemId = @Material;
GO
