USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spABCInvoiceDataForSalesGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spABCInvoiceDataForSalesGrid] @PostDate as DateTime
AS
BEGIN
    --DECLARE @PostDate as DateTime = '1/01/2025'
    DECLARE @PostRun as varchar(14) = Cast(Year(@PostDate) as varchar(4))+Format(Month(@PostDate), '00')+Format(Day(@PostDate), '00')

	CREATE TABLE [dbo].[#InvLineItems](
		[PostRun] [nvarchar](14) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[TransType] smallint NULL,
		[EntryNum] [int] NOT NULL,
		[InvcNum] [nvarchar](15) NULL,
		[InvcDate] [datetime] NULL,
		[FiscalYear] [smallint] NULL,
		[GLPeriod] [smallint] NULL,
		[ItemId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NULL,
		[InvcQty] [decimal](28, 10) NULL,
		[InvcUOM] [nvarchar](5) NULL,
		[InvcUOMBase] [nvarchar](5) NULL,
		[InvcCostUnit] [decimal](38, 10) NULL,
		[InvcCostExt] [decimal](28, 10) NULL,
		[ConversionFactor] [decimal](28, 10) NULL,
		[QtyFilled] [decimal](28, 10) NULL,
		[LotNum] [nvarchar](16) NULL,
		[SerNum] [nvarchar](35) NULL,
		[ReleaseId] [int] NULL,
		[WIMaterialDirectUnitCost] [decimal](20, 10) NULL,
		[WIMaterialInDirectUnitCost] [decimal](20, 10) NULL,
		[WIMachineSetupUnitCost] [decimal](20, 10) NULL,
		[WIMachineUnitCost] [decimal](20, 10) NULL,
		[WILaborSetupUnitCost] [decimal](20, 10) NULL,
		[WILaborUnitCost] [decimal](20, 10) NULL,
		[WISubcontractUnitCost] [decimal](20, 10) NULL,
		[WIMachineUnitCostModified] [decimal](20, 10) NULL,
		[WIMachineUnitCostVariable] [decimal](20, 10) NULL,
		[WIMaterialDirectCostPct] [float] NULL,
		[WIMaterialInDirectCostPct] [float] NULL,
		[WILaborCostPct] [float] NULL,
		[WILaborSetupCostPct] [float] NULL,
		[WIMachineCostPct] [float] NULL,
		[WIMachineCostModifiedPct] [float] NULL,
		[WIMachineCostVariablePct] [float] NULL,
		[WIMachineSetupCostPct] [float] NULL,
		[WISubcontractCostPct] [float] NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].[#InvLineItemDiff](
		[PostRun] [nvarchar](14) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[TransType] smallint NULL,
		[EntryNum] [int] NOT NULL,
		[InvcNum] [nvarchar](15) NULL,
		[ItemId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NULL,
		[InvcQty] [decimal](28, 10) NULL,
		[InvcUOM] [nvarchar](5) NULL,
		[InvcUOMBase] [nvarchar](5) NULL,
		[InvcCostUnit] [decimal](38, 10) NULL,
		[InvcCostExt] [decimal](28, 10) NULL,
		[ConversionFactor] [decimal](28, 10) NULL,
		[ABCUnitCost] [float] NULL,
		[ABCCostExt] [float] NULL,
		[Diff] [decimal](20, 10) NULL,
		[DiffCostExt] [decimal](20, 10) NULL,
		[WIMaterialDirectUnitCost] [float] NULL,
		[WIMaterialInDirectUnitCost] [float] NULL,
		[WIMachineSetupUnitCost] [float] NULL,
		[WIMachineUnitCost] [float] NULL,
		[WILaborSetupUnitCost] [float] NULL,
		[WILaborUnitCost] [float] NULL,
		[WISubcontractUnitCost] [float] NULL,
		[WIMachineUnitCostModified] [float] NULL,
		[WIMachineUnitCostVariable] [float] NULL
	) ON [PRIMARY]

	CREATE TABLE [dbo].#ProdOrderList (
		[PostRun] [nvarchar](14) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[EntryNum] [int] NOT NULL,
		[InvcNum] [nvarchar](15) NULL,
		[OrderNo] nvarchar(MAX) NULL
	) ON [PRIMARY]



	IF @PostDate > '6/30/2020'
	  BEGIN
		INSERT INTO [#InvLineItems]
		SELECT D.PostRun
  			, D.TransId
			, H.TransType
			, D.EntryNum
			, H.InvcNum
			, H.InvcDate
 			, H.FiscalYear
			, H.GLPeriod
			, D.PartId AS ItemId
			, ISNULL(D.WhseId, H.WhseId) as LocId
			, D.QtyShipSell AS InvcQty
			, D.UnitsSell AS InvcUOM
			, D.UnitsBase AS InvcUOMBase
			, D.UnitCostSell/ConversionFactor AS InvcCostUnit
			, D.CostExt AS InvcCostExt
			, D.ConversionFactor
			, QtyFilled = D.QtyShipSell
			, LotNum = Cast(Null as varchar(16))
			, SerNum = Cast(Null as varchar(35))
			, ReleaseId = -1
			, WIMaterialDirectUnitCost = IIF(Substring(L.GLAcctCode, 1,1) IN ('1', '2', '3', '7', '8'), D.UnitCostSell/D.Conversionfactor, Cast(0 as decimal))
			, WIMaterialInDirectUnitCost = IIF(Substring(L.GLAcctCode, 1,1) IN ('4', '5', '6'), D.UnitCostSell/D.Conversionfactor, Cast(0 as decimal))
			, WIMachineSetupUnitCost = Cast(0 as decimal)
			, WIMachineUnitCost = Cast(0 as decimal)
			, WILaborSetupUnitCost = Cast(0 as decimal)
			, WILaborUnitCost = Cast(0 as decimal)
			, WISubcontractUnitCost = Cast(0 as decimal)
			, WIMachineUnitCostModified = Cast(0 as decimal)
			, WIMachineUnitCostVariable = Cast(0 as decimal)
			, WIMaterialDirectCostPct = Cast(0 as float)
			, WIMaterialInDirectCostPct = Cast(0 as float)
			, WILaborCostPct = Cast(0 as float)
			, WILaborSetupCostPct = Cast(0 as float)
			, WIMachineCostPct = Cast(0 as float)
			, WIMachineCostModifiedPct = Cast(0 as float)
			, WIMachineCostVariablePct = Cast(0 as float)
			, WIMachineSetupCostPct = Cast(0 as float)
			, WISubcontractCostPct = Cast(0 as float)
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId]
		LEFT JOIN [005].dbo.tblInItem I ON I.ItemId = D.PartId
		LEFT JOIN [005].dbo.tblInItemLoc L ON L.ItemId = I.ItemId and L.LocId = D.WhseId
		WHERE h.PostRun >= @PostRun and H.transtype = -1 and d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null 
		UNION ALL
		SELECT D.PostRun
  			, D.TransId
			, H.TransType
			, D.EntryNum
			, H.InvcNum
			, H.InvcDate
 			, H.FiscalYear
			, H.GLPeriod
			, D.PartId AS ItemId
			, ISNULL(D.WhseId, H.WhseId) as LocId
			, D.QtyShipSell AS InvcQty
			, D.UnitsSell AS InvcUOM
			, D.UnitsBase AS InvcUOMBase
			, D.UnitCostSell/ConversionFactor AS InvcCostUnit
			, D.CostExt AS InvcCostExt
			, D.ConversionFactor
			, QtyFilled = Cast(null as decimal)
			, LotNum = Cast(Null as varchar(16))
			, SerNum = Cast(Null as varchar(35))
			, ReleaseId = -1
			, WIMaterialDirectUnitCost = Cast(null as decimal)
			, WIMaterialInDirectUnitCost = Cast(null as decimal)
			, WIMachineSetupUnitCost = Cast(null as decimal)
			, WIMachineUnitCost = Cast(null as decimal)
			, WILaborSetupUnitCost = Cast(null as decimal)
			, WILaborUnitCost = Cast(null as decimal)
			, WISubcontractUnitCost = Cast(null as decimal)
			, WIMachineUnitCostModified = Cast(null as decimal)
			, WIMachineUnitCostVariable = Cast(null as decimal)
			, WIMaterialDirectCostPct = Cast(null as float)
			, WIMaterialInDirectCostPct = Cast(null as float)
			, WILaborCostPct = Cast(null as float)
			, WILaborSetupCostPct = Cast(null as float)
			, WIMachineCostPct = Cast(null as float)
			, WIMachineCostModifiedPct = Cast(null as float)
			, WIMachineCostVariablePct = Cast(null as float)
			, WIMachineSetupCostPct = Cast(null as float)
			, WISubcontractCostPct = Cast(null as float)
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId]
		LEFT JOIN [005].dbo.tblInItem I ON I.ItemId = D.PartId
		WHERE h.PostRun >= @PostRun and H.transtype = 1 and ((D.PartId is null) or (D.PartId is NOT Null AND I.ItemId is null)) and d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null 
		UNION ALL		
		SELECT D.PostRun
  			, D.TransId
			, H.TransType
			, D.EntryNum
			, H.InvcNum
			, H.InvcDate
 			, H.FiscalYear
			, H.GLPeriod
			, D.PartId AS ItemId
			, ISNULL(D.WhseId, H.WhseId) as LocId
			, D.QtyShipSell AS InvcQty
			, D.UnitsSell AS InvcUOM
			, D.UnitsBase AS InvcUOMBase
			, D.UnitCostSell/ConversionFactor AS InvcCostUnit
			, D.CostExt AS InvcCostExt
			, D.ConversionFactor
			, QtyFilled = Cast(null as decimal)
			, LotNum = Cast(Null as varchar(16))
			, SerNum = Cast(Null as varchar(35))
			, ReleaseId = -1
			, WIMaterialDirectUnitCost = Cast(null as decimal)
			, WIMaterialInDirectUnitCost = Cast(null as decimal)
			, WIMachineSetupUnitCost = Cast(null as decimal)
			, WIMachineUnitCost = Cast(null as decimal)
			, WILaborSetupUnitCost = Cast(null as decimal)
			, WILaborUnitCost = Cast(null as decimal)
			, WISubcontractUnitCost = Cast(null as decimal)
			, WIMachineUnitCostModified = Cast(null as decimal)
			, WIMachineUnitCostVariable = Cast(null as decimal)
			, WIMaterialDirectCostPct = Cast(null as float)
			, WIMaterialInDirectCostPct = Cast(null as float)
			, WILaborCostPct = Cast(null as float)
			, WILaborSetupCostPct = Cast(null as float)
			, WIMachineCostPct = Cast(null as float)
			, WIMachineCostModifiedPct = Cast(null as float)
			, WIMachineCostVariablePct = Cast(null as float)
			, WIMachineSetupCostPct = Cast(null as float)
			, WISubcontractCostPct = Cast(null as float)
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId]
		INNER JOIN [005].dbo.tblInItem I ON I.ItemId = D.PartId AND I.LottedYN = 0 AND I.ItemType != 2
		WHERE h.PostRun >= @PostRun and H.transtype = 1 and D.PartId is not null and d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null and d.[QtyShipSell] <> 0 
		UNION ALL
		SELECT D.PostRun
  			, D.TransId
			, H.TransType
			, D.EntryNum
			, H.InvcNum
			, H.InvcDate
 			, H.FiscalYear
			, H.GLPeriod
			, D.PartId AS ItemId
			, ISNULL(D.WhseId, H.WhseId) as LocId
			, D.QtyShipSell AS InvcQty
			, D.UnitsSell AS InvcUOM
			, D.UnitsBase AS InvcUOMBase
			, D.UnitCostSell/ConversionFactor AS InvcCostUnit
			, D.CostExt AS InvcCostExt
			, D.ConversionFactor
			, L.QtyFilled
			, L.LotNum
			, SerNum = Cast(Null as varchar(35))
			, ReleaseId
			, WIMaterialDirectUnitCost
			, WIMaterialInDirectUnitCost
			, WIMachineSetupUnitCost
			, WIMachineUnitCost
			, WILaborSetupUnitCost
			, WILaborUnitCost
			, WISubcontractUnitCost
			, WIMachineUnitCostModified
			, WIMachineUnitCostVariable
			, WIMaterialDirectCostPct
			, WIMaterialInDirectCostPct
			, WILaborCostPct
			, WILaborSetupCostPct
			, WIMachineCostPct
			, WIMachineCostModifiedPct
			, WIMachineCostVariablePct
			, WIMachineSetupCostPct
			, WISubcontractCostPct
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId]
		INNER JOIN [005].dbo.tblArHistLot L ON L.TransId = D.TransId AND L.EntryNum = D.EntryNum AND L.ItemId = D.PartId
		LEFT JOIN (SELECT A.ItemId, LotNo, SerialNo, R.ReleaseId, WIMaterialDirectUnitCost, WIMaterialInDirectUnitCost, WIMachineSetupUnitCost, WIMachineUnitCost, WILaborSetupUnitCost, WILaborUnitCost, WISubcontractUnitCost, WIMachineUnitCostModified, WIMachineUnitCostVariable
			, WIMaterialDirectCostPct, WIMaterialInDirectCostPct, WILaborCostPct, WILaborSetupCostPct, WIMachineCostPct, WIMachineCostModifiedPct, WIMachineCostVariablePct, WIMachineSetupCostPct, WISubcontractCostPct
			FROM [W005].dbo.ABCReleaseIdItemId A INNER JOIN [W005].dbo.ABCReleaseId R ON R.ReleaseId = A.ReleaseId) B
		ON B.ItemId = d.PartId AND (B.SerialNo = L.LotNum OR B.LotNo = L.LotNum) 
		WHERE h.PostRun >= @PostRun and H.transtype = 1 and D.PartId is not null and d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null and d.[QtyShipSell] <> 0 
		UNION ALL
		SELECT D.PostRun
			, D.TransId
			, H.TransType
			, D.EntryNum
			, H.InvcNum
			, H.InvcDate
 			, H.FiscalYear
			, H.GLPeriod
			, D.PartId AS ItemId
			, ISNULL(D.WhseId, H.WhseId) as LocId
			, D.QtyShipSell AS InvcQty
			, D.UnitsSell AS InvcUOM
			, D.UnitsBase AS InvcUOMBase
			, D.UnitCostSell/ConversionFactor AS InvcCostUnit
			, D.CostExt AS InvcCostExt
			, D.ConversionFactor
			, 1 
			, LotNum = Cast(Null as varchar(16))
			, S.SerNum
			, ReleaseId
			, WIMaterialDirectUnitCost
			, WIMaterialInDirectUnitCost
			, WIMachineSetupUnitCost
			, WIMachineUnitCost
			, WILaborSetupUnitCost
			, WILaborUnitCost
			, WISubcontractUnitCost
			, WIMachineUnitCostModified
			, WIMachineUnitCostVariable
			, WIMaterialDirectCostPct
			, WIMaterialInDirectCostPct
			, WILaborCostPct
			, WILaborSetupCostPct
			, WIMachineCostPct
			, WIMachineCostModifiedPct
			, WIMachineCostVariablePct
			, WIMachineSetupCostPct
			, WISubcontractCostPct
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.tblArHistDetail d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId]
		INNER JOIN [005].dbo.tblArHistSer S ON S.TransId = h.TransId AND S.EntryNum = D.EntryNum AND S.ItemId = D.PartId
		LEFT JOIN (SELECT A.ItemId, LotNo, SerialNo, R.ReleaseId, WIMaterialDirectUnitCost, WIMaterialInDirectUnitCost, WIMachineSetupUnitCost, WIMachineUnitCost, WILaborSetupUnitCost, WILaborUnitCost, WISubcontractUnitCost, WIMachineUnitCostModified, WIMachineUnitCostVariable
			, WIMaterialDirectCostPct, WIMaterialInDirectCostPct, WILaborCostPct, WILaborSetupCostPct, WIMachineCostPct, WIMachineCostModifiedPct, WIMachineCostVariablePct, WIMachineSetupCostPct, WISubcontractCostPct
			FROM [W005].dbo.ABCReleaseIdItemId A INNER JOIN [W005].dbo.ABCReleaseId R ON R.ReleaseId = A.ReleaseId) B
		ON B.ItemId = d.PartId AND (B.SerialNo = S.SerNum) 
		WHERE h.PostRun >= @PostRun and H.transtype = 1 and D.PartId is not null and d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null and d.[QtyShipSell] <> 0 

		Select DISTINCT  PostRun, TransId, EntryNum, InvcNum, OrderNo
		INTO #ProdOrder
		FROM
		(
			Select  I.PostRun, I.TransId, I.EntryNum, I.InvcNum, ISNULL(RI.ParentOrderNo, R.OrderNo) AS OrderNo
			from #InvLineItems I
			INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.ReleaseId = I.ReleaseId
			LEFT JOIN [W005].dbo.CCIOrderReleaseInfo RI ON RI.ReleaseId = I.ReleaseId
			UNION ALL
			Select  I.PostRun, I.TransId, I.EntryNum, I.InvcNum, ISNULL(RI.ParentOrderNo, R.OrderNo) AS OrderNo
			from #InvLineItems I
			INNER JOIN [005].dbo.tblMpOrderReleases R ON R.Id = I.ReleaseId
			LEFT JOIN [W005].dbo.CCIOrderReleaseInfo RI ON RI.ReleaseId = I.ReleaseId
		) A

		INSERT INTO #ProdOrderList 
		SELECT DISTINCT 
				  PostRun
				, TransId
				, EntryNum
				, InvcNum
				, OrderNo = (Select OrderNo + '  ' AS [text()]	FROM #ProdOrder  WHERE PostRun = P.PostRun AND TransId = P.TransId AND EntryNum = P.EntryNum  FOR XML PATH(''))
		FROM #ProdOrder P

		INSERT INTO #InvLineItemDiff
		SELECT PostRun
 			 , TransId
			 , TransType
			 , EntryNum
			 , InvcNum
			 , ItemId
			 , LocId
			 , InvcQty
			 , InvcUOM
			 , InvcUOMBase
			 , InvcCostUnit
			 , InvcCostExt
			 , ConversionFactor
			 , ABCUnitCost = (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)
			 , ABCCostExt = (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)*(InvcQty*ConversionFactor)
			 , Diff = Cast((InvcCostUnit*ConversionFactor) - (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost) as Decimal(20,10))
			 , DiffCostExt = Cast((InvcCostExt) - (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)*(InvcQty*ConversionFactor) as Decimal(20,10))
			 , WIMaterialDirectUnitCost
			 , WIMaterialInDirectUnitCost
			 , WIMachineSetupUnitCost
			 , WIMachineUnitCost
			 , WILaborSetupUnitCost
			 , WILaborUnitCost
			 , WISubcontractUnitCost
			 , WIMachineUnitCostModified
			 , WIMachineUnitCostVariable
			 FROM 
				(SELECT I.PostRun
					 , I.TransId
					 , I.TransType
					 , I.EntryNum
					 , I.InvcNum
					 , I.InvcDate
 					 , I.FiscalYear
					 , I.GLPeriod
					 , I.ItemId
					 , I.LocId
					 , I.InvcQty
					 , I.QtyFilled
					 , I.InvcUOM
					 , I.InvcUOMBase
					 , I.InvcCostUnit
					 , I.InvcCostExt
					 , I.ConversionFactor
					 , SUM(ISNULL(Cast(WIMaterialDirectUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMaterialDirectUnitCost
					 , SUM(ISNULL(Cast(WIMaterialInDirectUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMaterialInDirectUnitCost
					 , SUM(ISNULL(Cast(WIMachineSetupUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMachineSetupUnitCost
					 , SUM(ISNULL(Cast(WIMachineUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMachineUnitCost
					 , SUM(ISNULL(Cast(WILaborSetupUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WILaborSetupUnitCost
					 , SUM(ISNULL(Cast(WILaborUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WILaborUnitCost
					 , SUM(ISNULL(Cast(WISubcontractUnitCost as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WISubcontractUnitCost
					 , SUM(ISNULL(Cast(WIMachineUnitCostModified as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMachineUnitCostModified
					 , SUM(ISNULL(Cast(WIMachineUnitCostVariable as float),0)*ISNULL(Cast(I.QtyFilled*I.ConversionFactor as float),0))/IIF(Cast(I.InvcQty*I.ConversionFactor as float)=0,1,Cast(I.InvcQty*I.ConversionFactor as float)) AS WIMachineUnitCostVariable
					FROM #InvLineItems I
			WHERE I.TransType != -1
					GROUP BY I.PostRun, I.TransId, I.TransType, I.EntryNum, I.InvcNum, I.InvcDate, I.FiscalYear, I.GLPeriod, I.ItemId, I.LocId, I.InvcQty, I.QtyFilled, I.InvcUOM, I.InvcUOMBase, I.InvcCostUnit, I.InvcCostExt, I.ConversionFactor
				) A

		INSERT INTO #InvLineItemDiff
		SELECT PostRun
 			 , TransId
			 , TransType
			 , EntryNum
			 , InvcNum
			 , ItemId
			 , LocId
			 , InvcQty
			 , InvcUOM
			 , InvcUOMBase
			 , InvcCostUnit
			 , InvcCostExt
			 , ConversionFactor
			 , ABCUnitCost = (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)
			 , ABCCostExt = (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)*(QtyFilled*ConversionFactor)
			 , Diff = Cast((InvcCostUnit*ConversionFactor) - (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost) as Decimal(20,10))
			 , DiffCostExt = Cast((InvcCostExt) - (WIMaterialDirectUnitCost+WIMaterialInDirectUnitCost+WIMachineSetupUnitCost+WIMachineUnitCost+WILaborSetupUnitCost+WILaborUnitCost+WISubcontractUnitCost)*(InvcQty*ConversionFactor) as Decimal(20,10))
			 , WIMaterialDirectUnitCost
			 , WIMaterialInDirectUnitCost
			 , WIMachineSetupUnitCost
			 , WIMachineUnitCost
			 , WILaborSetupUnitCost
			 , WILaborUnitCost
			 , WISubcontractUnitCost
			 , WIMachineUnitCostModified
			 , WIMachineUnitCostVariable
			 FROM 
				(SELECT I.PostRun
					 , I.TransId
					 , I.TransType
					 , I.EntryNum
					 , I.InvcNum
					 , I.InvcDate
 					 , I.FiscalYear
					 , I.GLPeriod
					 , I.ItemId
					 , I.LocId
					 , I.InvcQty
					 , I.QtyFilled
					 , I.InvcUOM
					 , I.InvcUOMBase
					 , I.InvcCostUnit
					 , I.InvcCostExt
					 , I.ConversionFactor
					 , SUM(ISNULL(Cast(WIMaterialDirectUnitCost as float),0)) AS WIMaterialDirectUnitCost
					 , SUM(ISNULL(Cast(WIMaterialInDirectUnitCost as float),0)) AS WIMaterialInDirectUnitCost
					 , SUM(ISNULL(Cast(WIMachineSetupUnitCost as float),0)) AS WIMachineSetupUnitCost
					 , SUM(ISNULL(Cast(WIMachineUnitCost as float),0)) AS WIMachineUnitCost
					 , SUM(ISNULL(Cast(WILaborSetupUnitCost as float),0)) AS WILaborSetupUnitCost
					 , SUM(ISNULL(Cast(WILaborUnitCost as float),0)) AS WILaborUnitCost
					 , SUM(ISNULL(Cast(WISubcontractUnitCost as float),0)) AS WISubcontractUnitCost
					 , SUM(ISNULL(Cast(WIMachineUnitCostModified as float),0)) AS WIMachineUnitCostModified
					 , SUM(ISNULL(Cast(WIMachineUnitCostVariable as float),0)) AS WIMachineUnitCostVariable
					FROM #InvLineItems I
			WHERE I.TransType = -1
					GROUP BY I.PostRun, I.TransId, I.TransType, I.EntryNum, I.InvcNum, I.InvcDate, I.FiscalYear, I.GLPeriod, I.ItemId, I.LocId, I.InvcQty, I.QtyFilled, I.InvcUOM, I.InvcUOMBase, I.InvcCostUnit, I.InvcCostExt, I.ConversionFactor
				) A



		SELECT D.PostRun, D.TransId, D.EntryNum, D.InvcNum, D.ItemId, L.GLAcctCode, D.LocId, D.InvcCostUnit, D.InvcQty
			 , ABCUnitCost =   ISNULL(Sum(WIMaterialDirectCostPct)/Count(WIMaterialDirectCostPct)*D.InvcCostUnit +
								  Sum(WIMaterialInDirectCostPct)/Count(WIMaterialInDirectCostPct)*D.InvcCostUnit +
								  Sum(WIMachineSetupCostPct)/Count(WIMachineSetupCostPct)*D.InvcCostUnit +
								  Sum(WIMachineCostPct)/Count(WIMachineCostPct)*D.InvcCostUnit +
								  Sum(WILaborSetupCostPct)/Count(WILaborSetupCostPct)*D.InvcCostUnit  +
								  Sum(WILaborCostPct)/Count(WILaborCostPct)*D.InvcCostUnit +
								  Sum(WISubcontractCostPct)/Count(WISubcontractCostPct)*D.InvcCostUnit +
								  Sum(WIMachineCostModifiedPct)/Count(WIMachineCostModifiedPct)*D.InvcCostUnit +
								  Sum(WIMachineCostVariablePct)/Count(WIMachineCostVariablePct)*D.InvcCostUnit, 0)
			 , ISNULL(Sum(WIMaterialDirectCostPct)/Count(WIMaterialDirectCostPct)*D.InvcCostUnit,0) AS WIMaterialDirectUnitCost
			 , ISNULL(Sum(WIMaterialInDirectCostPct)/Count(WIMaterialInDirectCostPct)*D.InvcCostUnit,0) AS WIMaterialInDirectUnitCost
			 , ISNULL(Sum(WIMachineSetupCostPct)/Count(WIMachineSetupCostPct)*D.InvcCostUnit,0) AS WIMachineSetupUnitCost
			 , ISNULL(Sum(WIMachineCostPct)/Count(WIMachineCostPct)*D.InvcCostUnit,0) AS WIMachineUnitCost
			 , ISNULL(Sum(WILaborSetupCostPct)/Count(WILaborSetupCostPct)*D.InvcCostUnit,0) AS WILaborSetupUnitCost
			 , ISNULL(Sum(WILaborCostPct)/Count(WILaborCostPct)*D.InvcCostUnit,0) AS WILaborUnitCost
			 , ISNULL(Sum(WISubcontractCostPct)/Count(WISubcontractCostPct)*D.InvcCostUnit,0) AS WISubcontractUnitCost
			 , ISNULL(Sum(WIMachineCostModifiedPct)/Count(WIMachineCostModifiedPct)*D.InvcCostUnit,0) AS WIMachineUnitCostModified
			 , ISNULL(Sum(WIMachineCostVariablePct)/Count(WIMachineCostVariablePct)*D.InvcCostUnit,0) AS WIMachineUnitCostVariable
		INTO #InvLineItemPct
		FROM #InvLineItemDiff D
		INNER JOIN #InvLineItems I ON I.PostRun = D.PostRun AND I.TransID = D.TransID AND I.EntryNum = D.EntryNum
		INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId and L.LocId = D.LocId
		where D.TransType != -1 AND ABS(DiffCostExt) > 1 
		Group By D.PostRun, D.TransId, D.EntryNum, D.InvcNum, D.ItemId, D.LocId, L.GLAcctCode, D.InvcCostUnit, D.InvcQty
		Order by 1,2,3

		UPDATE #InvLineItemPct SET ABCUnitCost = InvcCostUnit, WIMaterialDirectUnitCost = InvcCostUnit WHERE ABCUnitCost = 0 AND SubString(GLAcctCode,1,1) in ('1','2','3')
		UPDATE #InvLineItemPct SET ABCUnitCost = InvcCostUnit, WIMaterialInDirectUnitCost = InvcCostUnit WHERE ABCUnitCost = 0 AND SubString(GLAcctCode,1,1) in ('4','5','6')
		UPDATE #InvLineItemPct SET ABCUnitCost = InvcCostUnit, WIMaterialDirectUnitCost = InvcCostUnit WHERE ABCUnitCost = 0 AND SubString(GLAcctCode,1,1) in ('7','8') 

		UPDATE #InvLineItemDiff SET #InvLineItemDiff.ABCUnitCost = P.ABCUnitCost
								  , #InvLineItemDiff.WIMaterialDirectUnitCost = P.WIMaterialDirectUnitCost
								  , #InvLineItemDiff.WIMaterialInDirectUnitCost = P.WIMaterialInDirectUnitCost
								  , #InvLineItemDiff.WIMachineSetupUnitCost = P.WIMachineSetupUnitCost
								  , #InvLineItemDiff.WIMachineUnitCost = P.WIMachineUnitCost
								  , #InvLineItemDiff.WILaborSetupUnitCost = P.WILaborSetupUnitCost
								  , #InvLineItemDiff.WILaborUnitCost = P.WILaborUnitCost
								  , #InvLineItemDiff.WISubcontractUnitCost = P.WISubcontractUnitCost
								  , #InvLineItemDiff.WIMachineUnitCostModified = P.WIMachineUnitCostModified
								  , #InvLineItemDiff.WIMachineUnitCostVariable = P.WIMachineUnitCostVariable
								  , #InvLineItemDiff.Diff = Cast((#InvLineItemDiff.InvcCostUnit*ConversionFactor) - (P.WIMaterialDirectUnitCost+P.WIMaterialInDirectUnitCost+P.WIMachineSetupUnitCost+P.WIMachineUnitCost+P.WILaborSetupUnitCost+P.WILaborUnitCost+P.WISubcontractUnitCost) as Decimal(20,10))
		FROM #InvLineItemPct P 
		WHERE P.PostRun = #InvLineItemDiff.PostRun AND P.TransID = #InvLineItemDiff.TransID AND P.EntryNum = #InvLineItemDiff.EntryNum AND P.InvcNum = #InvLineItemDiff.InvcNum AND P.ItemId = #InvLineItemDiff.ItemId

   	    DROP TABLE #InvLineItemPct
	  END

		SELECT DISTINCT H.PostRun, H.TransID, H.InvcNum, L.PlNo, L.ShipDate, MAX(dtProcessEnded) AS ShipmentCompleted  
		INTO #ShipInfo
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.trav_tblArHistDetail_view V ON V.PostRun = H.PostRun AND V.TransID = H.TransId
		INNER JOIN [W005].dbo.ShipPackingList L ON L.OrderNo = V.TransId
		INNER JOIN (SELECT PLNo, ItemId, SPLSOLineID, SUM(Qty) AS QTY FROM [W005].dbo.ShipPackingListDetail GROUP BY PLNo, ItemId, SPLSOLineID) D ON D.PLNo = L.PLNo AND D.ItemId = V.PartId AND D.Qty = V.QtyShipSell AND D.SPLSOLineId = V.EntryNum
		INNER JOIN [W005].[dbo].[ProcessQueue] P ON P.Process = 'Shipment Verify' AND SParam1 = L.PLNo
		WHERE H.PostRun >= @PostRun
		GROUP BY H.PostRun, H.TransID, H.InvcNum, L.PlNo, L.ShipDate

		select DISTINCT H.PostRun, H.TransID, H.InvcNum, L.PlNo, L.ShipDate, MAX(dtProcessEnded) AS ShipmentCompleted
		INTO #ShipInfo1
		FROM [005].dbo.tblArHistHeader h 
		INNER JOIN [005].dbo.trav_tblArHistDetail_view V ON V.PostRun = H.PostRun AND V.TransID = H.TransId
		INNER JOIN [W005].dbo.ShipPackingList L ON L.OrderNo = V.TransId
		INNER JOIN (SELECT PLNo, ItemId, SPLSOLineID, Round(SUM(Qty),0,1) AS QTY FROM [W005].dbo.ShipPackingListDetail GROUP BY PLNo, ItemId, SPLSOLineID) D ON D.PLNo = L.PLNo AND D.ItemId = V.PartId AND D.Qty = Round(V.QtyShipSell,0,1)
		INNER JOIN [W005].[dbo].[ProcessQueue] P ON P.Process = 'Shipment Verify' AND SParam1 = L.PLNo
		LEFT JOIN #ShipInfo S ON S.PostRun = H.PostRun AND S.TransId = H.TransId AND S.InvcNum = H.InvcNum 
		WHERE H.PostRun >= @PostRun AND S.PostRun Is null
		GROUP BY H.PostRun, H.TransID, H.InvcNum, L.PlNo, L.ShipDate
		UNION ALL
		SELECT DISTINCT PostRun, TransID, InvcNum, PlNo, ShipDate, ShipmentCompleted
		FROM #ShipInfo


	SELECT  'Invoiced' as OrderStatus
	   
			--,'CCV' as PlantId
		    ,Substring(h.WhseId,4,3) AS PlantId
			,h.[CustPONum] as CustPO
			,h.[TransId] as SONumber
			,h.[InvcNum] as InvoiceNumber
			,h.[InvcDate] as InvoiceDate
			,d.[EntryNum] as InvoiceLineNum
			,h.PostDate as PostDate
			,Null as InvoiceDetailId
			,Null as WorkOrderId
			,Null as ProdSpecId
			,Substring(h.[PostRun], 5,2) +'/'+ Substring(h.[PostRun], 7,2) +'/'+ Substring(h.[PostRun], 1,4) as DateFinalized
			,h.[CustId] as PolarisCustomerId
			,h.[CustId] as PolarisCustomerCode
			,s.CustName as PolarisCustomerName
			,Cast(Null as integer) as PartId
			,d.PartId as PartNumber
			,d.[Desc] as PartDescription
			,d.[QtyOrdSell] as QtyOrdered
			,d.[QtyShipSell] as QtySold
			,d.[UnitsSell] as UOM
			,d.ConversionFactor as ConvFactor
			,h.[TransType]*[UnitCostSell] as UnitCost
			,h.[TransType]
			,h.[TransType] *  d.[UnitPriceSell] as UnitPrice
			,h.[TransType] * d.[PriceExt] as Total
			,h.[TransType] * d.[UnitPriceSell] as SFDCUnitPrice
			,h.[TransType] * d.[PriceExt] as SFDCTotal
			,h.[ShipToName] 	  
			,ShipToAddress = IIF([ShipToAttn] IS NULL OR LEN(RTrim([ShipToAttn]))=0, '', [ShipToAttn]+', ') +
			IIF([ShipToAddr1] IS NULL OR LEN(RTrim([ShipToAddr1]))=0, '', [ShipToAddr1]+', ') +
			IIF([ShipToAddr2] IS NULL OR LEN(RTrim([ShipToAddr2]))=0, '', [ShipToAddr2]+', ') +
			IIF([ShipToCity] IS NULL OR LEN(RTrim([ShipToCity]))=0, '', [ShipToCity]+', ') +
			IIF([ShipToRegion] IS NULL OR LEN(RTrim([ShipToRegion]))=0, '', [ShipToRegion]+', ') + 
			IIF([ShipToCountry] IS NULL OR LEN(RTrim([ShipToCountry]))=0, '', [ShipToCountry]+', ') +
			IIF([ShipToPostalCode] IS NULL OR LEN(RTrim([ShipToPostalCode]))=0, '', [ShipToPostalCode]+', ')
			,h.ShipToRegion
			,SFDC.SFDCOppRecId as SalesOrder_SFDC_Oportunity
			,SFDC.SFDCOppRecId as Current_SFDC_Opportunity
			,h.[FiscalYear] as Fiscal_Year
			,Fiscal_Qtr = Case h.[GLPeriod] WHEN 1 THEN 1 WHEN 2 THEN 1 WHEN 3 THEN 1 WHEN 4 THEN 2 WHEN 5 THEN 2 WHEN 6 THEN 2 WHEN 7 THEN 3 WHEN 8 THEN 3 WHEN 9 THEN 3 WHEN 10 THEN 4 WHEN 11 THEN 4 WHEN 12 THEN 4 END
			,h.[GLPeriod] AS [Fiscal_Month]
			,Datepart(mm, h.[InvcDate]) as [Month]
			,CASE WHEN d.[EntryNum] = -1 THEN NULL ELSE d.GLAcctSales END AS [GLAcctSales]
			,Cast(Null as varchar(50)) as GLGroup
			,h.[TransType]*((LID.WIMachineSetupUnitCost*(d.QtyShipSell*d.ConversionFactor))+(LID.WIMachineUnitCost*(d.QtyShipSell*d.ConversionFactor))) as StdMachineCost
			,h.[TransType]*(LID.WIMachineUnitCostModified*(d.QtyShipSell*d.ConversionFactor)) as StdMachineCostModified
			,h.[TransType]*(LID.WIMachineUnitCostVariable*(d.QtyShipSell*d.ConversionFactor)) as StdMachineCostVariable
			,(h.[TransType]*(LID.WIMaterialDirectUnitCost*(d.QtyShipSell*d.ConversionFactor))) + (h.[TransType]*(LID.WISubcontractUnitCost*(d.QtyShipSell*d.ConversionFactor))) as StdMaterialCost
			,h.[TransType]*(LID.WIMaterialInDirectUnitCost*(d.QtyShipSell*d.ConversionFactor)) as StdSuppliesCost
			,h.[TransType]*((LID.WILaborSetupUnitCost*(d.QtyShipSell*d.ConversionFactor))+(LID.WILaborUnitCost*(d.QtyShipSell*d.ConversionFactor))) as StdLaborCost
			,Cast(Null as money) as StdMargin
			,Cast(Null as money) as StdMarginPct
			,Cast(Null as money) as ModMargin
			,Cast(Null as money) as ModMarginPct
			,Cast(Null as money) as VarMargin
			,Cast(Null as money) as VarMarginPct
			,Cast(1 as bit) as IsBillable
			,IIF(h.[TransType] * d.[PriceExt] > 0, 1, 0) as IsShipment
			,d.[cf_Revision No] as RevisionNo
			,SI.ShipDate
			,SI.ShipmentCompleted
			,p.OrderNo
	FROM [005].dbo.tblArHistHeader h 
	INNER JOIN [005].dbo.trav_tblArHistDetail_view d ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransId] 
	INNER JOIN #InvLineItemDiff LID ON LID.PostRun = d.PostRun AND LID.TransID = d.TransId AND LID.EntryNum = D.EntryNum AND LID.InvcNum = H.InvcNum
	LEFT JOIN #ShipInfo1 SI ON SI.PostRun = d.PostRun AND SI.TransId = d.TransID AND SI.InvcNum = h.InvcNum
	LEFT JOIN [005].dbo.tblARCust s on h.CustId = s.CustId
	LEFT JOIN #ProdOrderList p ON p.PostRun = h.PostRun and p.TransId = h.TransId and p.EntryNum = d.EntryNum and p.InvcNum = h.InvcNum
	LEFT JOIN [W005].dbo.SFDCOppXRefCustomerItem SFDC ON (SFDC.ItemId = d.PartId OR SFDC.ItemId = d.[Desc]) and SFDC.CustomerId = h.[CustId]
	WHERE h.PostRun >= @PostRun AND d.[GrpId] IS NULL and h.VoidYn = 0 and InvcDate Is Not Null and ((d.[QtyShipSell] <> 0 AND H.TransType = 1) OR (d.QtyOrdSell <> 0 AND H.TransType = -1))
	Order by PartNumber, PolarisCustomerName

	DROP TABLE #InvLineItems
	DROP TABLE #InvLineItemDiff
	DROP TABLE #ProdOrderList
	DROP TABLE #ProdOrder
	DROP TABLE #ShipInfo
	DROP TABLE #ShipInfo1

END

GO
