USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[ExoTerraKitBoxLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExoTerraKitBoxLabel] @PrintJobId int, @BoxId as int
AS
BEGIN
/*TEST DATA*/  

--DECLARE @PrintJobId int =1164432
--DECLARE @BoxId int = 384


If @BoxId = 0
BEGIN
   SET @BoxId = NULL
END

SELECT DISTINCT A.BagId ,A.BagNum,A.ItemDescr, A.DrawingNumber, A.CageCode, A.MfgDate,A.ItemId,A.CustId,A.CustName,A.RevisionNo, A.CustRevisionNo, A.PurchaseOrder
	,A.OrderNo,A.ParentOrderNo,A.NoOfKitsInBag,A.ProdOrdHdr,A.FGBarcode,A.NewFGBarcode,A.FGRange,A.SupplierID
	,MIN(A.RemainingOTHr) AS RemainingOTHr, MIN(A.ExpDate) AS ExpDate, A.MfgEndDate, A.RequiredShipDate
FROM
	(SELECT DISTINCT  	
		ItemDescr = I.Descr
		,H.DrawingNumber
		,CageCode = CC.sTarget
		,SB.Id AS BagId
		,SB.ShipBoxNo AS BagNum
		,OREI.MfgDate
		,CORI.ItemId
		,ISNULL(MOR.CustId, MORHist.CustId) AS CustId
		,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=MOR.CustId OR CustId=MORHist.CustId)
		,CORI.RevisionNo
		,CustRevisionNo = H.[cf_Customer Revision No]
		,ISNULL(MOR.PurchaseOrder, MORHist.PurchaseOrder) AS PurchaseOrder
		,CORI.OrderNo
		,ORE.OrderNo AS ParentOrderNo
		,NoOfKitsInBag = (SELECT CAST(COUNT(*) AS VARCHAR(3))
							FROM [W005].[dbo].[ShipItem] 
							WHERE ShipBoxId = @BoxId)
		,ProdOrdHdr = (SELECT TOP 1 ISNULL(RTRIM(Descr), '') + ', Rev. ' + ISNULL([cf_Customer Revision No], '')
					   FROM [005].[dbo].[tblInItem] AS I
							INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] AS M ON M.AssemblyId=I.ItemId
					   WHERE I.ItemId=CORI.ItemId AND M.RevisionNo=CORI.RevisionNo) --ItemDescr + CustRevNo
		,FGBarcode = (SELECT CAST(COUNT(*) AS VARCHAR(3))
						FROM [W005].[dbo].[ShipItem]  
						WHERE ShipBoxId=@BoxId )
					 + '|' + STUFF((SELECT DISTINCT '|' + ItemId + '|' + ISNULL(TravSerNum, '') + '|' + ISNULL(TravLotNum, '')
									 FROM [W005].[dbo].[ShipItem]  AS I
									 WHERE I.ShipBoxId=@BoxId 
									 FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),	1,1,'')
		,NewFGBarcode = (SELECT CAST(COUNT(*) AS VARCHAR(3))
							FROM [W005].[dbo].[ShipItem] 
							WHERE ShipBoxId=@BoxId )
						+ '|' + SI.ItemId + '|' + 'BAGID' + '|' + CAST(@BoxId AS VARCHAR(max))
		,FGRange = (SELECT DISTINCT MIN(TravSerNum) + ' - ' + MAX(TravSerNum)
					FROM [W005].[dbo].[ShipItem] AS I
					WHERE I.ShipBoxId=@BoxId)
		,IIF(cc.sTarget is null, null,'SupplierID: ' + cc.sTarget) AS SupplierID
		,RemainingOTHr = 0
		,RMITEM = (SELECT TOP 1 L.ItemId
						FROM [W005].[dbo].[OrderReleaseEvent] AS ORE1
							INNER JOIN  [W005].[dbo].[OrderReleaseEventItem] AS OREI1 ON OREI.OrderReleaseEventId=ORE1.Id
							INNER JOIN  [005].[dbo].[tblInItemLocLot] AS L ON L.ItemId=OREI1.ItemId AND L.LotNum=OREI1.TravLotNum
						WHERE ORE1.OrderNo = ORE.OrderNo AND ORE1.ReleaseNo = ORE.ReleaseNo AND OREI1.IsAssembly=0)
		,ExpDate = ISNULL(OREI.FGExpDate, (SELECT MIN(L.ExpDate)
					FROM [005].[dbo].[tblInItemLocLot] AS L
					WHERE L.ItemId LIKE 'RM%'
							AND (L.ItemId=ORK.RMItemId AND L.LotNum=ORK.RMSerialNo)))
		,CORI.MfgEndDate
		,CORI.RequiredShipDate
	FROM	
		[W005].[dbo].[ShipBox] SB
		INNER JOIN [W005].[dbo].[ShipItem] SI ON SB.Id=SI.ShipBoxId
		INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.OrderNo=SI.ProdOrderNo AND CORI.ReleaseNo=SI.ProdOrderRelNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=SI.OREIId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.Id=OREI.OrderReleaseEventId
		INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
		INNER JOIN [005].dbo.trav_tblMbAssemblyHeader_View H ON H.AssemblyId = CORI.ItemId AND H.RevisionNo = CORI.RevisionNo
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS MOR ON MOR.OrderNo=SI.ProdOrderNo AND MOR.ReleaseNo=SI.ProdOrderRelNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MORHist ON MORHist.OrderNo=SI.ProdOrderNo AND MORHist.ReleaseNo=SI.ProdOrderRelNo
		LEFT JOIN [W005].[dbo].[vCustomerCharacteristics] cc ON cc.Characteristic='SupplierID' AND (cc.CustId=MOR.CustId OR cc.CustId=MORHist.CustId)
		LEFT JOIN [005].dbo.tblArCust CU ON CU.CustId = ISNULL(MOR.CustId, MORHist.CustId) 
		LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] AS ORK ON ORK.OrderReleaseEventItemId=SI.OREIId
		LEFT JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=ORK.RMItemId AND IL.GLAcctCode IN ('10','11','12','20','21','22','30','31','32')
		INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId=SB.BoxItemId
		LEFT JOIN (SELECT DISTINCT P.Id AS ProgramId, P.ProgramName, OTS.ItemId
					FROM [W005].[dbo].[OutTimeItemSpecs] OTS 
                    INNER JOIN [W005].[dbo].[Program] P ON P.Id=OTS.ProgramId) OTS ON OTS.ItemId=SB.BoxItemId AND OTS.ProgramName = I.[cf_FG Program]

	WHERE SB.Id = @BoxId

	GROUP BY SB.Id,SB.ShipBoxNo, I.Descr, H.DrawingNumber, CC.sTarget, SI.ItemId,CORI.ItemId,CORI.OrderNo,CORI.RevisionNo, H.[cf_Customer Revision No], OREI.OrderReleaseEventId,OREI.MfgDate,ORE.OrderNo,ORE.ReleaseNo,
		MOR.CustId, MORHist.CustId,MOR.PurchaseOrder, MORHist.PurchaseOrder,cc.sTarget,ORK.RMItemId,OTS.ProgramId,ORK.RMSerialNo,OREI.FGExpDate,CORI.MfgEndDate,CORI.RequiredShipDate
) A
GROUP BY A.BagId,A.BagNum,A.ItemDescr, A.DrawingNumber, A.CageCode, A.MfgDate,A.ItemId,A.CustId,A.CustName,A.RevisionNo, A.CustRevisionNo, A.PurchaseOrder
	,A.OrderNo,A.ParentOrderNo,A.NoOfKitsInBag,A.ProdOrdHdr,A.FGBarcode,A.NewFGBarcode,A.FGRange,A.SupplierID, A.MfgEndDate,A.RequiredShipDate

END
GO
