USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCartonsOnPallet]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCartonsOnPallet]
	@ShipPalletId as varchar(24)
AS
BEGIN

--declare @ShipPalletId as varchar(24) = 18493

	SELECT DISTINCT sc.Id, sc.ShipCartonNo, 
			TotalQty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id AND Deleted=0),
			QtyNotPosted = IsNull((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id AND Deleted=0 AND PostedToTraverse=0),0),
			sc.GrossWt,sc.Complete,
			TotalNoRolls = (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id AND Deleted=0),
			NoRollsNotPosted = IsNull((SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id AND Deleted=0 AND PostedToTraverse=0),0),
			--MIN(CAST(si.PostedToTraverse as int)) As Posted,
			si.TravLotNum,
			Lot = STUFF
			(
				(
					SELECT DISTINCT '/' + si.LotNo 
					FROM ShipItem as si
					WHERE si.ShipCartonId=sc.Id AND si.Deleted=0
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			)
	FROM [W005].[dbo].[ShipItem] As si INNER JOIN [W005].[dbo].[ShipCarton] AS sc ON si.ShipCartonId=sc.Id 
	WHERE si.ShipPalletId=@ShipPalletId AND si.Deleted=0 AND sc.Deleted=0 AND si.PhantomAdjOut=0 AND si.UsedByProduction=0 AND sc.PhantomAdjOut=0 AND sc.UsedByProduction=0
	GROUP BY sc.Id,sc.ShipCartonNo,sc.Complete, sc.GrossWt, si.PostedToTraverse, si.TravLotNum
	ORDER BY sc.ShipCartonNo ASC
	


END
GO
