USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListCartons]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPackingListCartons] @PLNo AS int
AS 
BEGIN

--DECLARE @PLNo AS int = 15


SELECT DISTINCT SPLD.ShipCartonId, ProdOrderNo, ProdOrderRelNo, SI.LotNo, [Count] = COUNT(SI.Id), Qty = SUM(SI.Quantity), SI.UOM
INTO #ShipItems
	FROM [dbo].[ShipCarton] SC 
			INNER JOIN [dbo].[ShipItem] SI ON SI.ShipCartonId = SC.Id
			INNER JOIN [dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipCartonId=SC.Id
	WHERE SI.Deleted = 0 AND SC.Complete = 1 AND SPLD.PLNo=@PLNo
	GROUP BY SPLD.ShipCartonId, ProdOrderNo, ProdOrderRelNo, SI.LotNo, SI.UOM


SELECT DISTINCT E.OrderNo, E.ReleaseNo, I.LotNo
INTO #Batches
FROM #ShipItems SI
	 INNER JOIN OrderReleaseEvent E ON OrderNo = SI.ProdOrderNo AND ReleaseNo = SI.ProdOrderRelNo AND Event = 'LOAD MATERIAL'
	   INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND IsAssembly=0

SELECT *, GrossWtKG = NetWtKG + [TareWt]
FROM
(SELECT DISTINCT
		SPL.PLNo
	,SPL.[OrderNo] AS SalesOrder 
	,SPL.[ShipFromLocId]
	,SPL.[ShipFromName]
	,SPL.[ShipFromAddr1]
	,SPL.[ShipFromAddr2]
	,SPL.[ShipFromCity]
	,SPL.[ShipFromRegion]
	,SPL.[ShipFromCountry]
	,SPL.[ShipFromPostalCode]
	,SPL.[ShipFromPhone]
	,SPL.[ShipDate]
	,SPL.[CustId]
	,SPL.[CustName]
	,SPL.[CustPO]	
	,SO.[ShipToName]	
	,SO.[ShipToAddr1]
	,SO.[ShipToAddr2]
	,SO.[ShipToCity]
	,SO.[ShipToRegion]
	,SO.[ShipToCountry]
	,SO.[ShipToPostalCode]
	,SO.CustPONum AS ReferenceNo
	,SO.ShipMethod
	,SO.[cf_Shipping Terms] AS ShippingTerms
	,SC.[Id] AS ShipCartonId
	,SC.[ShipCartonNo]
	,SC.[CartonItemId]
	,A.AliasID AS PartNumber
	,I.Descr AS MaterialDescription
	,SC.[GrossWt]
	,SI.ProdOrderNo
	,SI.LotNo
	,SI.[Count]
	,SC.[TareWt]
	,TotalLength = SI.Qty
	,TotalLengthUOM = I.UomBase
	,TareWtKG = SC.[TareWt] / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'KG')
	,NetWtKG = SI.Qty/(SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'KG')
	--,GrossWtKG = SC.[GrossWt]--ISNULL(SC.GrossWt, SI.Qty)/(SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'KG')
	,TotalWeightLB = SI.Qty / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'LB')
	,TotalWeightLM = SI.Qty / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'LM')
	,TotalArea = SI.Qty / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = [CartonItemId] and U.Uom = 'SM')
	,Width = (SELECT DISTINCT P.nTarget
				FROM  [W005].[dbo].[Characteristic] AS C  
					INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = [CartonItemId] AND P.CharId = C.Id 
				WHERE C.Characteristic = 'Width(IN)')
	,WidthMM =  (SELECT DISTINCT P.nTarget
					FROM [W005].[dbo].[Characteristic] AS C
						INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = [CartonItemId] AND P.CharId = C.Id 
					WHERE C.Characteristic = 'Width(MM)')	
	,BatchSpoolsText = (SELECT IIF(COUNT(B.LotNo) > 1, 'Mixed Batches Spools', 'Single Batch Spools')
						  FROM #Batches B
						  WHERE B.OrderNo = SI.ProdOrderNo AND B.ReleaseNo = SI.ProdOrderRelNo)
	FROM [dbo].[ShipPackingList] SPL
		INNER JOIN [dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo = SPL.PLNo
		INNER JOIN [dbo].[ShipCarton] SC ON SC.Id = SPLD.ShipCartonId
		INNER JOIN #ShipItems SI ON SI.ShipCartonId = SC.Id
		INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId=SC.CartonItemId
		INNER JOIN [005].[dbo].[trav_tblSoTransHeader_view] SO ON SO.TransID=SPL.OrderNo
		LEFT JOIN [005].[dbo].[tblInItemAlias] AS A ON A.ItemID = I.ItemId 
		LEFT JOIN [005].[dbo].[tblArCust] AS AR ON AR.CustId=SO.CustId
	WHERE SPL.PLNo = @PLNo --SC.Complete = 1 AND SC.Deleted =  
) A


DROP TABLE #ShipItems
DROP TABLE #Batches

END
GO
