USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[NextShipCartonNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NextShipCartonNo]
	
AS
BEGIN
	SELECT NextShipCartonNo = 'C' +
		REPLACE(STR((SELECT nn.NumberValue FROM [dbo].[NextNumber] As nn WHERE nn.NumberName='ShipCartonNo'), 9), SPACE(1), '0') 

	UPDATE [dbo].[NextNumber] SET NumberValue+=1 WHERE NumberName='ShipCartonNo'

END
GO
