USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCustomerRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[WebCustomerRollLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    SELECT DISTINCT

          Description = I.Descr

        , PartNo = A.AliasID

        , LotNo = EI.LotNo

        , PONumber =
            ISNULL(R.PurchaseOrder, RH.PurchaseOrder)

        , MfgDate = EI.MfgDate

        , CutNo = EI.CutPos

        , WidthIN = WI.WidthIN

        , WidthMM = WM.WidthMM

        , LengthLM =
            CASE
                WHEN LM.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LM.ConvFactor
            END

        , WeightLB =
            CASE
                WHEN LB.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LB.ConvFactor
            END

        , RemainingQty =
            ISNULL(Q.QtyOnHand, EI.TotalQty)
        , QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'')
    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].[dbo].[tblInItem] I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    LEFT JOIN [005].[dbo].[tblMpOrderReleases] R
        ON R.OrderNo = E.OrderNo
       AND R.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH
        ON RH.OrderNo = E.OrderNo
       AND RH.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblInItemAlias] A
        ON A.ItemId = EI.ItemId
       AND A.RefID = ISNULL(R.CustId, RH.CustId)

    LEFT JOIN [005].[dbo].[tblInItemUom] LM
        ON LM.ItemId = EI.ItemId
       AND LM.Uom = 'LM'

    LEFT JOIN [005].[dbo].[tblInItemUom] LB
        ON LB.ItemId = EI.ItemId
       AND LB.Uom = 'LB'

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.CutPos;

END
GO
