USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spApprovedLabelTypeLabels]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spApprovedLabelTypeLabels]
	@LabelTypeId as int,
	@EffDt as datetime
AS
BEGIN
	SELECT        L.Id, L.LabelKey, L.LabelName, L.LabelDescription, L.LabelTypeId, LT.LabelType, L.Revision, L.EffectiveDate, L.LabelDefinition, L.NoPrintCopies
	FROM          dbo.Label as L INNER JOIN dbo.LabelType as LT ON L.LabelTypeId = LT.Id
	WHERE L.LabelTypeId = @LabelTypeId and L.Approved = 1 and L.Obsolete = 0 and
	L.Revision = 
		(SELECT        MAX(L1.Revision)
	 	 FROM            dbo.Label as L1  INNER JOIN
								 dbo.LabelType as LT1 ON L1.LabelTypeId = LT1.Id
		 WHERE L1.LabelName = L.LabelName AND L1.LabelTypeId = L.LabelTypeId and L1.Approved = L.Approved and L1.Obsolete = L.Obsolete and L1.EffectiveDate <= @EffDt)
END

GO
