USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGenerateSpaceXUCC128]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGenerateSpaceXUCC128] 
	@PLNo as int,
	@CustId as varchar(10),
	@ShipToId as varchar(10),
	@ShipDate as DateTime
AS
BEGIN
	--DECLARE @PLNo as int = 48621
	--DECLARE @CustId as varchar(10) = '002486'
	--DECLARE @ShipToId as varchar(10) = 'Vandenberg'
	--DECLARE @ShipDate as DateTime = '2025-12-01 00:00:00.000'

	SELECT 'ASN-000' + CC.sTarget + FORMAT(L.ShipDate, 'yyyyMMdd')+UCC128SpaceXPkgId AS UCC128SpaceX
	FROM ShipPackingList L
	LEFT JOIN CustomerCharacteristic C ON C.Characteristic = 'CustVen#'
	LEFT JOIN CustomerChar CC ON CC.CustId = @CustId AND CC.CharId = C.Id
	LEFT JOIN (
				SELECT RIGHT('000'+CAST(Count(PLNo)+1 AS varchar(3)),3) AS UCC128SpaceXPKgId
				FROM ShipPackingList L
				WHERE L.CustId = @CustId
				AND L.ShipToId = @ShipToId
				AND L.ShipDate = @ShipDate
				AND L.ASNBarcodeData IS NOT NULL AND LEN(L.ASNBarcodeData) > 0				
			  ) A ON 1 = 1
	WHERE L. PLNo = @PLNo AND L.CustId = @CustId AND L.ShipToId = @ShipToId	AND L.ShipDate = @ShipDate
END
GO
