USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBAEKitLabelLowestOTPerRMLot]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  Label created per TFS 2437 and HDT 21069  */
CREATE PROCEDURE [dbo].[CCIBAEKitLabelLowestOTPerRMLot] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00038558 '   -- '00038558'
--DECLARE @ReleaseNo AS int = 2
--DECLARE @OrderReleaseEventItemId AS int = 0 -----  TEST oreiID 1353310 , 1353331
 
If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END
--------------------------------------------------------------------------------------------------------------------------------------------------
--  Below temp table and cursor sql used to get RMLotNo with MAX(RoomMin) for all RMSerNo in ORKRMOT for given RMLotNo
DECLARE @ParentOrder varchar(8)
SET @ParentOrder = (SELECT ParentOrderNo FROM [W005].[dbo].[CCIOrderReleaseInfo] where OrderNo=@OrderNo AND ReleaseNo=@ReleaseNo)
SELECT DISTINCT ork.OrderReleaseEventItemId AS OREIID, ork.RMLotNo, ork.RMItemId, ork.RMSerialNo, ork.Id AS ORKMOTID, MAX(IsNull(EstTotalRoomMinutes,[TotalRoomMinutes])) AS TotalRoomMin
INTO #T
FROM [W005].[dbo].OrderReleaseEvent ore INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.OrderReleaseEventId=ore.Id
	INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ork ON ork.OrderReleaseEventItemId=orei.Id
WHERE ore.OrderNo=@ParentOrder AND ore.ReleaseNo=1 AND (@OrderReleaseEventItemId is null or orei.Id = @OrderReleaseEventItemId)
GROUP BY ork.OrderReleaseEventItemId, ork.RMLotNo,  ork.RMItemId, ork.RMSerialNo, ork.Id, ork.OrderReleaseEventItemId
ORDER BY ork.OrderReleaseEventItemId, ork.RMLotNo, ork.Id ASC
--select * from #T --<-- used for testing
--drop table #T --<-- used for testing
CREATE table #tmp (
	OREIID int,
    RMLotNo varchar(16),
    RMItemId varchar(24),
    RMSerialNo varchar(35),
    ORKMOTID int,
    TotalRoomMin int
);
DECLARE @xOREIID int
DECLARE xCur CURSOR
FOR
SELECT DISTINCT OREIID FROM #T
OPEN xCur
FETCH NEXT FROM xCur INTO @xOREIID
WHILE @@FETCH_STATUS = 0
BEGIN
	INSERT INTO #tmp SELECT TOP 1 * FROM #T WHERE #T.OREIID=@xOREIID Order by TotalRoomMin DESC
	
	DECLARE @curOREIID as int
	DECLARE @curLotNo as varchar(16)
	DECLARE @curRMItemId  varchar(24)
	DECLARE @curSerNo as varchar(35)
	DECLARE @curORKMOTID as int
	DECLARE @curTotalRoomMin as int
	DECLARE iCur CURSOR  
	FOR
	SELECT  OREIID, RMLotNo, RMItemId, RMSerialNo,ORKMOTID,TotalRoomMin
			FROM #T WHERE #T.OREIID=@xOREIID
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @curOREIID, @curLotNo,@curRMItemId, @curSerNo,@curORKMOTID, @curTotalRoomMin 
	WHILE @@FETCH_STATUS = 0 
	BEGIN
			IF @curLotNo Not In (SELECT RMLotNo FROM #tmp WHERE OREIID=@xOREIID) 
				INSERT INTO #tmp (OREIID,RMLotNo,RMItemId,RMSerialNo,ORKMOTID,TotalRoomMin) VALUES (@curOREIID,@curLotNo,@curRMItemId, @curSerNo,@curORKMOTID,@curTotalRoomMin)		
	FETCH NEXT FROM iCur INTO @curOREIID, @curLotNo,@curRMItemId, @curSerNo,@curORKMOTID, @curTotalRoomMin
	END
	CLOSE iCur  
	DEALLOCATE iCur 
FETCH NEXT FROM xCur INTO @xOREIID
END
CLOSE xCur
DEALLOCATE xCur
--select * FROM #T --<-- used for testing
--select * FROM #tmp --<-- used for testing
DROP table #T
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT OrderNo,ReleaseNo,RevisionNo,FGProgram,TaskNo,ItemId,ItemDescr,FGPartNo,FGPNDescr,FGDescrAliasID,FGTravSerNum,JobNo,CustPONum,CustRev,CustId,CustName,CustPN,TotalCountOfUnits
	  ,RMSerialNo,RMLotNo,MaterialType,RMMaxOT,RawMatlExpDate,MIN(RemainingOTHours) AS RemainingOTHours,MatDOM,FGKitDOM,MaterialStorageTempC,MaterialStorageTempF
	  ,OrderReleaseEventItemId,FGBarcode,Receiver, 
	  BagNo = ROW_NUMBER() OVER (PARTITION BY FGTravSerNum ORDER BY FGTravSerNum) 
FROM 
(
SELECT DISTINCT	 C.OrderNo
				,C.ReleaseNo
				,C.RevisionNo
				,TaskNo = A.[cf_Product Lot Designation]
				,FGProgram = (SELECT [cf_FG Program] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemID=C.ItemId)
				,C.ItemId
				,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				,FGPartNo = A.AliasID
				,FGPNDescr = A.AliasID + ', ' + (SELECT Descr 
												FROM [005].[dbo].[tblInItem] 
												WHERE ItemId=C.ItemId)
				,FGDescrAliasID = (SELECT Descr 
									FROM [005].[dbo].[tblInItem] 
									WHERE ItemId=C.ItemId) + ', ' + A.AliasID
				,I.TravSerNum AS FGTravSerNum
				,JobNo = C.ParentOrderNo
				,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				,CustRev = (SELECT CustomerRevision FROM [W005].[dbo].[CCIManufacturingGroup] WHERE Id=C.CCIManufacturingGroupId)
				,CustId = ISNULL(M.CustId,MHist.CustId)
				,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=M.CustId OR CustId=MHist.CustId)
				,AliasID AS CustPN 
				,TotalCountOfUnits = C.Qty
				,R.RMSerialNo 
				,R.RMLotNo 
				,MaterialType = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.RMItemId) --uses Raw Material Description
				,RMMaxOT = (SELECT MaxRoomTimeHrs FROM [W005].[dbo].OutTimeItemSpecs WHERE ItemId=R.RMItemId AND (ProgramId = 0 OR ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				,RawMatlExpDate = (SELECT
									CASE
									WHEN EXISTS(
										SELECT ItemId FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=R.RMItemId AND [cf_Out-Time Tracked] = 1
									)
									THEN (SELECT ExpDate FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR [LotNum]=R.RMSerialNo))
									ELSE NULL
									END AS RawMatlExpDate)

				,RemainingOTHours = (SELECT ROUND(MaxRoomTimeHrs - (CAST(IsNull(EstTotalRoomMinutes,[TotalRoomMinutes])AS FLOAT) /60),2)
										FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] M 
											 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] O ON O.ItemId = M.RMItemId
										WHERE M.Id=R.ORKMOTID  AND (O.ProgramId = 0 OR O.ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				 ,MatDOM = (SELECT InitialDate --Raw Material DOM
							  FROM [005].[dbo].[trav_tblInItemLocLot_View]
							  WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR LotNum=R.RMSerialNo)) 

				,FGKitDOM = I.MfgDate

				 ,MaterialStorageTempC = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempC' ), 1000)

				 ,MaterialStorageTempF = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempF'), 1000)

				,I.Id as OrderReleaseEventItemId
				,FGBarcode = '1' + '|' + I.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum,'')
				,Receiver = CAST(null as nvarchar(35)) 

	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS I ON I.OrderNo=C.ParentOrderNo AND I.IsAssembly = 1
			LEFT JOIN #tmp AS R ON R.OREIID=I.Id
			LEFT JOIN [W005].[dbo].[vCCIParentOrder] AS CPO ON CPO.ParentOrder=C.ParentOrderNo AND CPO.Kits=C.ItemId
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_view] AS A ON A.ItemID=C.ItemId AND (A.RefId=M.CustId OR A.RefID=MHist.CustId) AND (A.[cf_FG Program] = CPO.Program OR A.[cf_FG Program] IS NULL)
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and (@OrderReleaseEventItemId is null or I.Id = @OrderReleaseEventItemId) 
) A
GROUP BY OrderNo,ReleaseNo,RevisionNo,FGProgram,TaskNo,ItemId,ItemDescr,FGPartNo,FGPNDescr,FGDescrAliasID,FGTravSerNum,JobNo,CustPONum,CustRev,CustId,CustName,CustPN,TotalCountOfUnits
	  ,RMSerialNo,RMLotNo,MaterialType,RMMaxOT,RawMatlExpDate,MatDOM,FGKitDOM,MaterialStorageTempC,MaterialStorageTempF
	  ,OrderReleaseEventItemId,FGBarcode,Receiver


DROP table #tmp



END

GO
