USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIAlbanyKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIAlbanyKitLabel]  @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00026699'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId AS int = 7658

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END


SELECT DISTINCT	 COREI.ItemId
				,FGPNDescr = ISNULL(A.AliasID + ' ', '') + (SELECT Descr 
															FROM [005].[dbo].[tblInItem]
															WHERE ItemId=COREI.ItemId)
				,COREI.TravSerNum
				,JobNo = C.ParentOrderNo
				,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=M.CustId OR CustId=MHist.CustId)
				,RawMatlExpDate = (SELECT MIN(ExpDate)
								   FROM [005].[dbo].[trav_tblInItemLocLot_View] 
								   WHERE ItemId=EI.ItemId AND LocId=C.LocId AND ([cf_Serial No.]=EI.SerialNo OR [LotNum]=EI.SerialNo))

				,COREI.MfgDate AS MatDOM
				 --,MatDOM = (SELECT InitialDate
					--		  FROM [005].[dbo].[trav_tblInItemLocLot_View]
					--		  WHERE ([cf_Serial No.]=EI.SerialNo OR LotNum=EI.SerialNo))

				,FGBarcode = '1' + '|' + COREI.ItemId + '|' + COREI.TravSerNum + '|' + ISNULL(COREI.TravLotNum,'')
				

	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS COREI ON COREI.OrderNo=C.ParentOrderNo AND COREI.IsAssembly = 1
			INNER JOIN  [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId=COREI.OrderReleaseEventId AND EI.IsAssembly=0
			--LEFT JOIN  [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS RM ON RM.OrderReleaseEventItemId=COREI.Id
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_view] AS A ON A.ItemID=COREI.ItemId AND (A.RefId=M.CustId OR A.RefId=MHist.CustId)
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and (@OrderReleaseEventItemId is null or COREI.Id = @OrderReleaseEventItemId) 

END
GO
