USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDoesPOExist]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDoesPOExist] @OrderNo as varchar(8), @CustId as int, @PONo as varchar(25)
AS
BEGIN
	SELECT TransId from [005].[dbo].[tblSoTransHeader] Where TransId <> @OrderNo AND CustId = @CustId AND CustPONum = @PONo
	UNION ALL
	SELECT TransId from [005].[dbo].[tblSoHistHeader] Where TransId <> @OrderNo AND CustId = @CustId AND CustPONum = @PONo
END
GO
