USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPFMCalPerformed]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPFMCalPerformed]  /* PFM == Profilometer */
	@ProdOrder varchar(8),@RelNo int, @GageId varchar(25)

AS
BEGIN

--Declare @ProdOrder varchar(8) = '00012345'
--Declare @RelNo int = 1
--Declare @GageId varchar(25) = 'ATLXXX'


IF EXISTS (
		SELECT Id 
		FROM [W005].[dbo].[ProfilometerCalibration]
		WHERE GageId=@GageId AND
			TestHdrId IN (SELECT Id FROM [W005].[dbo].[ProfilometerTestHdr] WHERE ProdOrder=@ProdOrder AND RelNo=@RelNo)
		)
		BEGIN
			SELECT CalExists = CAST(1 as bit)
		END ELSE BEGIN
			SELECT CalExists = CAST(0 as bit)
		END




END

GO
