USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spQuoteSummary]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spQuoteSummary] 
	@QuoteNum as int
AS
BEGIN 

--DECLARE @QuoteNum as int = 2


SELECT h.FreightCharge,h.MiscCharge1,h.MiscCharge2,h.MiscCharge3,
	QuoteKitTotal=(SELECT SUM(ExtPrice) FROM [W008].[dbo].[QuoteAssembly] WHERE QuoteNum=@QuoteNum)
FROM [W008].[dbo].[QuoteHeader] h 
WHERE h.QuoteNum=@QuoteNum


END      
GO
