USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTraverseNotScannedQty]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTraverseNotScannedQty] @Site as varchar(3),@InventoryDate as datetime 
AS
BEGIN

--select * from  [005].[dbo].[tblInPhysCount]

--select * FROM [005].[dbo].[tblInPhysCountDetail]

--DECLARE @Site as varchar(3) = 'DTN'
--DECLARE  @InventoryDate datetime = '2/24/2023'

If @Site = 'ALL' 
  BEGIN
-------------------------------------------------------------
-- Not Scanned but frozen
SELECT p.ItemId,d.SerNum,p.LotNum, d.QtyFrozen as Qty, p.CountedUom as Uom , p.LocId , d.ExtLocAId 
into #OH
from [005].[dbo].[tblInPhysCount] p 
			INNER JOIN [005].dbo.tblInItem i ON p.ItemId = i.ItemId AND i.ItemType = 2
             inner join  [005].[dbo].[tblInPhysCountDetail] d on d.SeqNum = p.SeqNum 
				where d.QtyFrozen > 0 and d.QtyCounted = 0 
UNION ALL
       SELECT p.ItemId, NULL as SerNum, p.LotNum, P.[TotalQtyFrozen]  as Qty  , p.CountedUom as Uom , p.LocId, NULL as ExtLocAid
        from [005].[dbo].[tblInPhysCount] p 
		INNER JOIN [005].dbo.tblInItem i ON p.ItemId = i.ItemId AND i.ItemType != 2
		WHERE p.[TotalQtyFrozen] > 0 AND p.TotalQtyCounted = 0 

-------------------------------------------------------------------------------
--Select all Lotted/MutliUOM counted 

SELECT u.ItemId, u.TravLotNum,u.TravSerNum, IsNULL(d.Qty,u.Qty) As Qty, u.UOM, u.Location as LocId, d.ExtLocAId  
INTO #TU
FROM [W005].[dbo].[InventoryCountTicketUnit] u
       LEFT JOIN [W005].[dbo].[InventoryCountTicketDetail] d ON u.ICTUnitId=d.ICTUnitId
where   u.ICTNum IN (SELECT ICTNum FROM [W005].[dbo].[InventoryCountTicket] WHERE TicketDate BETWEEN DATEADD(DD,-2,@InventoryDate) AND DATEADD(DD,2,@InventoryDate))


 SELECT #OH.ItemId,#OH.LocId,#OH.LotNum,#OH.SerNum,#OH.Qty,#OH.UOM,#OH.ExtLocAId FROM #OH 
    LEFT JOIN #TU ON #TU.ItemId = #OH.ItemId and 
	                         (#TU.TravLotNum = #OH.LotNum or  #TU.TravSerNum = #OH.SerNum)
  WHERE #TU.ItemId is null AND #OH.Qty != 0

  
drop table #TU
drop table #OH

END
-----------------------------------------------------------------------------------------------------
ELSE 
BEGIN 
	SELECT p.ItemId,d.SerNum,p.LotNum,P.[TotalQtyFrozen]  as Qty  , p.CountedUom as Uom , p.LocId , d.ExtLocAId 
	   into #OH1
	 from [005].[dbo].[tblInPhysCount] p 
		INNER JOIN [005].dbo.tblInItem i ON p.ItemId = i.ItemId AND i.ItemType = 2
				left join  [005].[dbo].[tblInPhysCountDetail] d on d.SeqNum = p.SeqNum 
			where d.QtyFrozen > 0 and d.QtyCounted = 0  and RTRIM(p.LocId) like '%' + @Site 
	UNION ALL
       SELECT p.ItemId, NULL as SerNum,p.LotNum, P.[TotalQtyFrozen]  as Qty  , p.CountedUom as Uom , p.LocId, NULL as ExtLocAId 
        from [005].[dbo].[tblInPhysCount] p 
		INNER JOIN [005].dbo.tblInItem i ON p.ItemId = i.ItemId AND i.ItemType != 2
     WHERE p.[TotalQtyFrozen] > 0 AND p.TotalQtyCounted = 0 and RTRIM(p.LocId) like '%' + @Site 

	-------------------------------------------------------------------------------
	--Select all Lotted/MutliUOM counted 

	SELECT u.ItemId, u.TravLotNum,u.TravSerNum, IsNULL(d.Qty,u.Qty) As Qty, u.UOM, u.Location as LocId, d.ExtLocAId  
	INTO #TU1
	FROM [W005].[dbo].[InventoryCountTicketUnit] u
		   LEFT JOIN [W005].[dbo].[InventoryCountTicketDetail] d ON u.ICTUnitId=d.ICTUnitId 
	where  RTRIM(u.Location) like '%' + @Site and u.ICTNum IN 
	                   (SELECT ICTNum FROM [W005].[dbo].[InventoryCountTicket] WHERE TicketDate BETWEEN DATEADD(DD,-2,@InventoryDate) AND DATEADD(DD,2,@InventoryDate))


	 SELECT #OH1.ItemId,#OH1.LocId,#OH1.LotNum,#OH1.SerNum,#OH1.Qty,#OH1.UOM,#OH1.ExtLocAId FROM #OH1 
		LEFT JOIN #TU1 ON #TU1.ItemId = #OH1.ItemId and 
								 (#TU1.TravLotNum = #OH1.LotNum or  #TU1.TravSerNum = #OH1.SerNum)
	  WHERE #TU1.ItemId is null AND #OH1.Qty != 0

	 drop table #OH1
     drop table #TU1
	 
END





END
GO
