USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPalletInfoByItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetPalletInfoByItem] @ItemId as varchar(24), @TravLotNum as varchar(16)
AS
BEGIN
	IF Len(@TravLotNum)=0 Set @TravLotNum = Null
	SELECT *
	FROM [W005].[dbo].[ShipPallet]
	WHERE ID IN (SELECT ShipPalletId FROM [W005].[dbo].[ShipItem] WHERE ItemId = @ItemId AND (@TravLotNum is NULL or  TravLotNum = @TravLotNum))
	AND Deleted = 0
END

GO
