USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPickListOnHandInv]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPickListOnHandInv]
		@LocId as varchar(10)
	
AS
BEGIN

--DECLARE @LocId as varchar(10) = 'INVMTP'


SELECT ItemId,LocId, Sernum, LotNum, MAX(ExtHistSeqNum) AS ExtHistSeqNum 
INTO #CurrentHistDetail 
FROM [005].[dbo].[tblWmHistDetail] 
WHERE LocId=@LocId AND Source NOT IN (15,73)
GROUP BY ItemId,LocId, Sernum,LotNum
--Select * FROM #CurrentHistDetail order by ExtHistSeqNum desc

SELECT A.ItemId, A.LocId, A.QtyOnHand, A.UomDflt, A.ExpDate
		-- Get SerNum
		,CASE WHEN A.ItemType = 2 THEN A.TravSerNum 
			WHEN A.MultiUOM = 1 THEN A.TravLotNum
			ELSE ''
		END As SerNum
		-- Get LotNum
		,CASE WHEN A.MultiUOM = 1 THEN A.WebLotNum ELSE A.TravLotNum END AS LotNum
		,A.WmBinId, A.WmBinLoc, A.BinType
		,IsNULL(CAST((SELECT TOP 1 PLHeaderId FROM [W005].[dbo].[PickListDetail] p WHERE p.ItemId=A.ItemId AND p.SerNum=CASE WHEN A.ItemType = 2 THEN A.TravSerNum 
			WHEN A.MultiUOM = 1 THEN A.TravLotNum
			ELSE ''
			END ) as bit),0) as OnPLId
		,A.RemOTHr
		,LastScanDateTime = (SELECT TOP 1 LastScanDateTime FROM [W005].[dbo].[OutTimeItemStatus] WHERE ItemId=A.ItemId AND (SerialNo=A.TravSerNum OR LotNo=A.TravLotNum) ORDER BY Id DESC)
FROM
(	-- Get MultiUOM and Lotted items
	SELECT OHL.ItemId
	,OHL.LocId
	,OHL.LotNum As TravLotNum
	,OHL.LotNum As WebLotNum
	,TravSerNum = ''
	,OHL.QtyOnHand/U.ConvFactor AS QtyOnHand
	,II.UomDflt
	,ExpDate  = (SELECT ExpDate FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=OHL.ItemId AND LocId=OHL.LocId AND LotNum=OHL.LotNum)
	,WmBinId = WM.ExtLocA 
	,WmBinLoc = WM.ExtLocAId 
	,BinType = (SELECT [cf_Bin Type] FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=WM.ExtLocA) 
	,II.ItemType
	,II.LottedYN
	,ISNULL(II.[cf_Multi-UOM Serial Item],0) As MultiUOM
	,RemOTHr = STUFF
				(
					(
						SELECT DISTINCT  COALESCE(CONVERT(VARCHAR(50),(spec.MaxRoomTimeHrs - (otis.TotalRoomMinutes / 60))),'0')
										+ 'Hr ' + ISNULL(CAST(prg.ProgramName AS VARCHAR(75)),'') 
						+ char(10) 
						FROM [W005].[dbo].[OutTimeItemSpecs] spec 
							LEFT JOIN [W005].[dbo].[Program] prg ON prg.Id=spec.ProgramId
							LEFT JOIN [W005].[dbo].[OutTimeItemStatus] otis ON spec.ItemId=otis.ItemId AND spec.ProgramId=otis.ProgramId
						WHERE spec.ItemId = OHL.ItemId AND otis.SerialNo = OHL.LotNum
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,0,''
				)
	FROM [005].[dbo].[trav_InItemOnHandLot_view] OHL
		INNER JOIN [005].[dbo].[trav_tblInItem_view] II ON II.ItemId=OHL.ItemId
		LEFT JOIN  #CurrentHistDetail CH ON CH.ItemId=OHL.ItemId AND CH.Lotnum=OHL.LotNum AND CH.LocId=OHL.LocId
		LEFT JOIN  [005].[dbo].[tblWmHistDetail] WM ON WM.ExtHistSeqNum=CH.ExtHistSeqNum 
		INNER JOIN [005].[dbo].[tblInItemUom] U ON U.ItemId=II.ItemId AND U.Uom=ii.UomDflt
	WHERE OHL.QtyOnHand>0 AND OHL.LocId=@LocId AND (OHL.ItemId Like 'RM%' OR OHL.ItemId LIke 'IM%')

	UNION ALL

	-- Get Serialized items
	SELECT OHS.ItemId
		, OHS.LocId
		,OHS.LotNum As TravLotNum
		,WebLotNum = ''
		, IIS.SerNum AS TravSerNum
		, QtyOnHand=1	
		,II.UomDflt
		, ExpDate = ''
		, IIS.ExtLocA As WmBinId
		,WmBinLoc = (SELECT ExtLocID FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=IIS.ExtLocA)
		,BinType = (SELECT [cf_Bin Type] FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=IIS.ExtLocA)
		,II.ItemType
		,II.LottedYN
		,ISNULL(II.[cf_Multi-UOM Serial Item],0) As MultiUOM
		,RemOTHr = STUFF
						(
							(
								SELECT DISTINCT  COALESCE(CONVERT(VARCHAR(50),(spec.MaxRoomTimeHrs - (otis.TotalRoomMinutes / 60))),'0')
												+ 'Hr ' + ISNULL(CAST(prg.ProgramName AS VARCHAR(75)),'') 
								+ char(10) 
								FROM [W005].[dbo].[OutTimeItemSpecs] spec 
									LEFT JOIN [W005].[dbo].[Program] prg ON prg.Id=spec.ProgramId
									LEFT JOIN [W005].[dbo].[OutTimeItemStatus] otis ON spec.ItemId=otis.ItemId AND spec.ProgramId=otis.ProgramId
								WHERE spec.ItemId = OHS.ItemId AND otis.TravSerNum = IIS.SerNum
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),
							1,0,''
						)
	FROM [005].[dbo].[trav_InItemOnHandSerLot_view] OHS
		INNER JOIN [005].[dbo].[tblInItemSer] IIS ON OHS.ItemId=IIS.ItemId  AND OHS.LocId=IIS.LocId AND OHS.LotNum=IIS.LotNum AND IIS.SerNumStatus IN (1,5) -- (1=Avail,5=Sale Returned)
		INNER JOIN [005].[dbo].[trav_tblInItem_view] II ON II.ItemId=OHS.ItemId
		INNER JOIN [005].[dbo].[tblInItemUom] U ON U.ItemId=II.ItemId AND U.Uom=II.UomDflt
	WHERE OHS.LocId=@LocId AND (OHS.ItemId Like 'RM%' OR OHS.ItemId Like 'IM%')
) A

WHERE A.WmBinId is not null AND A.WmBinLoc is not null
ORDER BY A.ItemId,SerNum

DROP Table #CurrentHistDetail


END



GO
