USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWOmegaReport]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
	Used by WebMESCriticalQualityAttribute
	Returns data for the report rOmegaDefaultCustomerSlitWidth
*/

CREATE PROCEDURE [dbo].[spSWOmegaReport]
	@OrderNo varchar(8)
	

AS
BEGIN

--declare @OrderNo varchar(8) = '00000043'


SELECT SpoolNo, MAX(Id) AS TGDDId, TestGroupDtlId
INTO #T
FROM [W005].[dbo].[SW_TestGroupDtlData] WHERE TestGroupDtlId 
										IN (SELECT Id FROM [W005].[dbo].[SW_TestGroupDtl] WHERE TestGroupHdrId
										IN (SELECT Id FROM [W005].[dbo].[SW_TestGroupHdr] WHERE TestHdrId
										IN (SELECT ID FROM [W005].[dbo].[SW_TestHdr] WHERE ProdOrderNo=@OrderNo)))
GROUP BY SpoolNo,TestGroupDtlId


	SELECT  
		Customer = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = IsNULL(R.CustId,RH.CustId))
		,PO = IsNull(R.PurchaseOrder,IsNull(RH.PurchaseOrder,''))
		,MfgSite = (SELECT Name FROM [SYS].[dbo].[tblSmCompInfo] WHERE CompId = th.CompID)
		,WO = @OrderNo
		,SWControlSet = 'Slit width control - SET ' + CAST(th.ReleaseNo as varchar(3))
		,MatRef = (SELECT TOP 1 ii.Descr FROM [005].dbo.tblInItem ii 
									INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS rmOREI ON rmOREI.ItemId = ii.ItemId AND rmOREI.IsAssembly = 0
									INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RMORE ON rmOREI.OrderReleaseEventId = RMORE.Id  
								WHERE RMORE.OrderNo= @OrderNo)
		,BatchNum = STUFF(
							(
								SELECT DISTINCT ', ' + LL.[cf_Lot No.]
								FROM [W005].[dbo].[OrderReleaseEvent] AS RMORE
										INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMOREI ON RMOREI.OrderReleaseEventId = RMORE.Id 
										INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] LL ON LL.ItemId=RMOREI.ItemId AND LL.LocId=RMOREI.LocId AND LL.LotNum = RMOREI.SerialNo
										INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMOREI.ItemId AND L.LocId=RMOREI.LocId AND (L.GLAcctCode LIKE '1%' OR L.GLAcctCode LIKE '2%' OR L.GLAcctCode LIKE '3%') -- direct material
								WHERE RMOREI.IsAssembly=0 AND RMORE.OrderNo=@OrderNo AND RMORE.ReleaseNo=th.ReleaseNo 
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),
							1,1,''
						 )
		,Tolerance = '+' + CAST(CAST(ROUND(th.SWTolerance_Plus,3) AS decimal(6,3)) AS varchar(8)) + '/-' + CAST(CAST(ROUND(th.SWTolerance_Minus,3) AS decimal(6,3)) AS varchar(8)) + ' mm'
		,SWTarget = CAST(CAST(ROUND(th.SWTolerance_Target,3) AS decimal(6,3)) AS varchar(8)) + ' mm'
		,SpoolNum = RIGHT('000' + CAST(th.ReleaseNo AS varchar(3)),3) + '-' + RIGHT('00' + CAST(tgdd.SpoolNo AS varchar(2)),2)
		,TestType = tgh.TestTypeName
		,TestDate = tgd.DateComplete
		,tgdd.MeanOOT
		,tgdd.MeanMM
		,Compliant = IIF(tgdd.MeanOOT = 1, 'NO','OK')

		FROM [W005].[dbo].[SW_TestHdr] th
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.ID
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
		LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id 
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = th.ProdOrderNo AND R.ReleaseNo = th.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = th.ProdOrderNo AND RH.ReleaseNo = th.ReleaseNo

	WHERE th.ProdOrderNo = @OrderNo AND tgdd.SpoolNo>0 AND tgh.TestGroupName IN ('START UP','END of SET')
		AND tgdd.Id IN (SELECT TGDDId FROM #T) 
	ORDER BY th.ProdOrderNo, th.ReleaseNo, tgh.Id, tgdd.SpoolNo

DROP Table #T

	 
END
GO
