USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebReprintInventoryLabelFTW]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebReprintInventoryLabelFTW]
	@ItemId as varchar(24),
	@LocId as varchar(10),
	@LotNo as varchar(16),
	@SerialNo as varchar(16)

AS
BEGIN

	IF LEN(@SerialNo) = 0 SET @SerialNo = NULL
	IF LEN(@LotNo) = 0 SET @LotNo = NULL

	SELECT DISTINCT
		IsNull(C.CustName,'Web Industries Fort Wayne, Inc.') as CustNname,
		SerialNo = Case when Len(L.[cf_Serial No.]) > 0 then L.[cf_Serial No.] else null End,
		LotNo = IsNull(L.[cf_Lot No.],L.LotNum),
		TravLotNum = L.LotNum,
		I.ItemId,
		I.Descr,
		L.cf_Width as Width,
		L.[cf_Core ID] as Core_ID,
		L.[cf_Roll OD] as Roll_OD,
		L.Cmnt as Comments,
		L.ExpDate,
		L.[cf_Use By Date] AS UseByDate,

		I.UomBase,
		Q.QtyOnHand as BaseQtyOnHand,
		I.UomDflt,
		(Q.QtyOnHand / U.ConvFactor) as DfltQtyOnHand,

		Weight_Lbs_PerRoll =
			CAST(
				CASE
					WHEN ULB.ConvFactor IS NULL THEN NULL
					ELSE Q.QtyOnHand / ULB.ConvFactor
				END
			AS DECIMAL(12,2)),

		Length_Ft_PerRoll =
			CAST(
				CASE
					WHEN ULF.ConvFactor IS NULL THEN Q.QtyOnHand
					ELSE Q.QtyOnHand / ULF.ConvFactor
				END
			AS DECIMAL(12,2)),

		Area_MSF_PerRoll =
			CAST(
				CASE
					WHEN UMSF.ConvFactor IS NOT NULL
						THEN Q.QtyOnHand / UMSF.ConvFactor
					WHEN USF.ConvFactor IS NOT NULL
						THEN (Q.QtyOnHand / USF.ConvFactor) / 1000.0
					ELSE NULL
				END
			AS DECIMAL(12,3)),

		QRCode =
			'1' + '|' +
			I.ItemId + '|' +
			UPPER(ISNULL(@SerialNo,'')) + '|' +
			UPPER(ISNULL(@LotNo,''))

	FROM [005].[dbo].[trav_tblInItem_view] I
	INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId = I.ItemId AND L.LocId = @LocId AND L.LotNum = IIF(@SerialNo IS NULL,@LotNo,@SerialNo)
	INNER JOIN [005].[dbo].[tblInItemUom] U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
	LEFT JOIN [005].[dbo].[trav_tblArCust_view] C ON I.cf_Customer = C.CustId
	LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] Q ON Q.ItemId = I.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum
	LEFT JOIN [005].[dbo].[tblInItemUom] ULB ON ULB.ItemId = I.ItemId AND ULB.Uom = 'LB'
	LEFT JOIN [005].[dbo].[tblInItemUom] ULF ON ULF.ItemId = I.ItemId AND ULF.Uom = 'LF'
	LEFT JOIN [005].[dbo].[tblInItemUom] UMSF ON UMSF.ItemId = I.ItemId AND UMSF.Uom = 'MSF'
	LEFT JOIN [005].[dbo].[tblInItemUom] USF ON USF.ItemId = I.ItemId AND USF.Uom = 'SF'

	WHERE I.ItemId = @ItemId
	  AND L.LocId = @LocId

END
GO
