USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWSolvayBoxSampleRoll]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		/* Used in WebCQA for Solvay sw report. Returns the BoxSampleRoll (SeqNo) for TraverseProdOrdNo/CtnNo OR PolarisWorkOrder/CtnNo */

CREATE PROCEDURE [dbo].[spSWSolvayBoxSampleRoll] @TravProdOrd varchar(8), @TravCtnNo varchar(10), @PolarisWO int,@PolarisCtnNo varchar(10)
	
AS
BEGIN

--Declare @TravProdOrd varchar(8) = null
--declare @TravCtnNo varchar(10) = null
--Declare @PolarisWO int = 59995
--declare @PolarisCtnNo varchar(10) = '03-489454'

IF LEN(@TravProdOrd) < 8 AND @PolarisWO Is Not Null
BEGIN
	IF EXISTS (
		SELECT SeqNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE PolarisWorkOrder = @PolarisWO AND PolarisCtnNo = @PolarisCtnNo
		)
	BEGIN
		SELECT SeqNo AS BoxSampleRoll
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE PolarisWorkOrder = @PolarisWO AND PolarisCtnNo = @PolarisCtnNo
	END ELSE
	BEGIN
		SELECT 0 AS BoxSampleRoll
	END
END
IF LEN(@TravProdOrd) = 8 AND @PolarisWO Is NULL
BEGIN
	IF EXISTS (
		SELECT SeqNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE TraverseProdOrdNo = @TravProdOrd AND TraverseCtnNo = @TravCtnNo
		)
	BEGIN
		SELECT SeqNo AS BoxSampleRoll
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE TraverseProdOrdNo = @TravProdOrd AND TraverseCtnNo = @TravCtnNo
	END ELSE
	BEGIN
		SELECT 0 AS BoxSampleRoll
	END
END


		

END
GO
