USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetSeqSpoolNumsByOrderNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetSeqSpoolNumsByOrderNo] @OrderNo AS VARCHAR(8)
AS 
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00034280'

	SELECT DISTINCT 
		  RIGHT('0000'+CAST([SeqSpoolNum] AS VARCHAR(4)),4) AS SeqSpoolNum
	  FROM OrderReleaseEvent E
			INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id
	 WHERE E.OrderNo=@OrderNo AND EI.IsAssembly=1 AND [SeqSpoolNum] IS NOT NULL
	ORDER BY RIGHT('0000'+CAST([SeqSpoolNum] AS VARCHAR(4)),4)

END
GO
