USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSpliceLogRewindSpool]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSpliceLogRewindSpool] @OREIId as int, @OrderNo as Varchar(8), @ReleaseNo as Int, @OutSideIn as bit = 0
AS
BEGIN

 --   DECLARE @OREIId as int = 1119
	--DECLARE @OrderNo as varchar(8) = '00000057'
	--DECLARE @ReleaseNo as int = 1
	--DECLARE @OutSideIn as bit = 0

	SELECT DISTINCT E.OrderNo
			 , E.ReleaseNo
			 , O.PurchaseOrder
			 , C.CustName
			 , I.IsAssembly
			 , I.ItemId
			 , I.CutPos
			 , I.SerialNo
			 , I.LotNo
			 , I.TravLotNum
			 , OrigOrei.MfgDate
			 , I.TotalQty
			 , I.TotalWaste
			 , EC.Description As SpliceType
			 , EC1.Description AS SpliceAddlInfo
			 , S.Id as SpliceId
			 , D.Id as SpliceDtlId
			 , D.SplicePosition
			 , D.SplicePositionPrev
			 , D.SplicePosition - D.SplicePositionPrev as SegmentLength
			 , D.IsShortSegment
			 , S.PLCLengthCounter
			 , S.SpliceTbl2SlitterOffset
			 , RM.ItemId AS RMItemId
			 , RM.SerialNo AS RMSerialNo
			 , RM.LotNo AS RMLotNo
			 , ISNULL(A.AliasID, I.ItemId) AS FGAliasID
			 , ISNULL(RMA.AliasID, RM.ItemId) AS RMAliasID
			 , E.Machine
			 , D.CurrRMOREIId
			 , D.PrevRMOREIId
			 , SpoolLengthLM = I.TotalQty / U1.ConvFactor
			 , SpoolAreaSQM = I.TotalQty / U2.ConvFactor
			 , SpoolWeightKG = I.TotalQty / U3.ConvFactor
			 , SpliceCount = (SELECT Count(SplicePosition) AS SpliceCount from OrderReleaseEventSpliceDetailRW WHERE OrderReleaseEventItemId  = I.Id)
			 , I.Rewind
			 , I.RWOREIId
    INTO #SpliceInfo
	from OrderReleaseEventItem I
	LEFT JOIN OrderReleaseEventItem OrigOrei ON OrigOrei.Id = I.OrigOREId
	LEFT JOIN OrderReleaseEvent E ON E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
    LEFT JOIN OrderReleaseEventSpliceRW S ON S.RWOREIId = I.Id
	LEFT JOIN OrderReleaseEventSpliceDetailRW D ON D.OrderReleaseEventSpliceRWId = S.Id AND D.OrderReleaseEventItemId = I.Id
	LEFT JOIN (SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo 
				UNION ALL
				SELECT OrderNo, ReleaseNo, PurchaseOrder, CustId FROM [005].dbo.tblMpHistoryOrderReleases WHERE OrderNo = @OrderNo and ReleaseNo = @ReleaseNo) O ON O.OrderNo = E.OrderNo AND O.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].dbo.tblArCust C ON C.CustId = O.CustId
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC ON EC.Id = S.SpliceType
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC1 ON EC1.Id = S.SpliceAddlInfo
	LEFT JOIN OrderReleaseEventItem RM ON RM.Id = D.PrevRMOREIId
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View A ON A.ItemID = I.ItemId AND A.AliasType = 1 AND A.RefID = O.CustId
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View RMA ON RMA.ItemID = RM.ItemId AND RMA.AliasType = 1 AND RMA.RefID = O.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 on U1.ItemId = I.ItemId AND U1.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U2 on U2.ItemId = I.ItemId AND U2.Uom = 'SM'
	LEFT JOIN [005].dbo.tblInItemUom U3 on U3.ItemId = I.ItemId AND U3.Uom = 'KG'
	where I.Id = @OREIId AND I.IsAssembly = 1 AND D.Id is not null 

	--SELECT #SpliceInfo.ItemId, #SpliceInfo.CutPos, #SpliceInfo.SerialNo, #SpliceInfo.SpliceType, #SpliceInfo.SpliceAddlInfo, #SpliceInfo.SpliceId, #SpliceInfo.SpliceDtlId,#SpliceInfo.SplicePosition ,#SpliceInfo.SplicePositionPrev, #SpliceInfo.RMAliasID, #SpliceInfo.SpliceTbl2SlitterOffset, I.ItemId AS RMItemId, I.SerialNo AS RMSerialNo, I.LotNo AS RMLotNo
	--INTO #SpliceInfoLastRM
	--FROM #SpliceInfo 
	--INNER JOIN (SELECT ItemId, CutPos, SerialNo, Max(PLCLengthCounter) AS PLCCounter 
	--            FROM #SpliceInfo
	--			WHERE SpliceType = 'Splice (Backend)'
	--			GROUP BY ItemId, CutPos, SerialNo) T ON T.PLCCounter = #SpliceInfo.PLCLengthCounter AND T.SerialNo = #SpliceInfo.SerialNo	
	--INNER JOIN OrderReleaseEventItem I ON I.Id = #SpliceInfo.CurrRMOREIId

	SELECT DISTINCT OrderNo
			 , ReleaseNo
			 , PurchaseOrder
			 , CustName
			 , IsAssembly
			 , ItemId
			 , CutPos
			 , SerialNo
			 , LotNo
			 , TravLotNum
			 , MfgDate
			 , TotalQty
			 , TotalWaste
			 , SpliceType
			 , SpliceAddlInfo
			 , SpliceId
			 , SpliceDtlId
			 , SplicePosition
			 , SplicePositionPrev
			 , SegmentLength
			 , IsShortSegment
			 , PLCLengthCounter
			 , SpliceTbl2SlitterOffset
			 , RMItemId
			 , RMSerialNo
			 , RMLotNo
			 , FGAliasID
			 , RMAliasID
			 , Machine
			 , SpoolLengthLM
			 , SpoolAreaSQM
			 , SpoolWeightKG
			 , SpliceCount
			 , Rewind
			 , RWOREIId
	INTO #Splices
	from #SpliceInfo S

	if @OutSideIn = 1
	BEGIN
	  UPDATE #Splices SET SplicePosition = TotalQty - SplicePosition, SplicePositionPrev = TotalQty - SplicePositionPrev, PLCLengthCounter = TotalQty - PLCLengthCounter
	END
	SELECT * FROM #Splices
	Order by PLCLengthCounter, SerialNo

	DROP TABLE #SpliceInfo;
	DROP TABLE #Splices;
END
GO
