USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spScheduledShipmentsRequiringCerts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spScheduledShipmentsRequiringCerts]
			@FromDate as datetime, @ToDate As datetime, @InclShipped as bit, @LocId as varchar(10)
AS
BEGIN

--Declare @FromDate as datetime = '4/1/16'
--Declare @ToDate As datetime  = '9/16/16'
--Declare @InclShipped as bit = 1

  SELECT
		Hdr.[TransID] As OrderNo
		,Hdr.[ShipToName] As ShipTo
		,Hdr.[ShipToAddr1] + IsNull(Hdr.[ShipToAddr2],'') + '  ' + IsNULL(Hdr.[ShipToCity],'') + '  ' + IsNull(Hdr.[ShipToRegion],'') + '  ' + IsNull(Hdr.[ShipToCountry],'') + '  ' + 
						IsNULL(Hdr.[ShipToPostalCode],'') As Address
		,Hdr.[ShipVia] As Carrier
		,Hdr.[CustPONum] As CustomerPO
		,Hdr.[ReqShipDate] As DueToShip
		,Hdr.[ActShipDate] As ActualShipDate
		,IsNull(Hdr.[ActShipDate],Hdr.[ReqShipDate]) As ShipDate
		,IsNull(Dtl.[LocId],@LocId) As Location
		,Dtl.[ItemId] As ItemId
		,Dtl.[Descr] As ItemDescription
		,Dtl.[QtyOrdSell] As Quantity
		,Dtl.[UnitsSell]
		,CAST(iif((Dtl.ActShipDate is Not null and Dtl.QtyShipSell < (0.9 * Dtl.QtyOrdSell)),1,0) as bit) as IsBackOrder
  INTO #T1
  FROM [005].[dbo].[tblSoTransHeader] As Hdr INNER JOIN  [005].[dbo].[tblSoTransDetail] AS Dtl ON Hdr.TransId=Dtl.TransID
		INNER JOIN [005].[dbo].[trav_tblArCust_view] ar ON ar.CustId=Hdr.CustId
		INNER JOIN [W005].[dbo].vCustomerCharacteristics c ON c.Characteristic = 'Shipments Require Special Documents' and Enforce = 1 and c.CustId = Hdr.CustId
  WHERE Hdr.TransType in (3, 5, 9) --SO BackOrder, SO Picked or SO New
        AND Hdr.ShipToName Is Not Null AND Hdr.VoidYn=0 AND  (ISNUll(Dtl.[ReqShipDate],Hdr.[ReqShipDate]) Between @FromDate And @ToDate) AND Dtl.Status=0 
		AND Hdr.TransId NOT IN (Select OrderNo from [W005].[dbo].ShipPackingList Where OrderNo = Hdr.TransId AND Complete = 1)
		AND c.bTarget = 1
  UNION ALL
	SELECT
		Hdr.[TransID] As OrderNo
		,Hdr.[ShipToName] As ShipTo
		,Hdr.[ShipToAddr1] + IsNull(Hdr.[ShipToAddr2],'') + '  ' + IsNULL(Hdr.[ShipToCity],'') + '  ' + IsNull(Hdr.[ShipToRegion],'') + '  ' + IsNull(Hdr.[ShipToCountry],'') + '  ' + 
						IsNULL(Hdr.[ShipToPostalCode],'') As Address
		,Hdr.[ShipVia] As Carrier
		,Hdr.[CustPONum] As CustomerPO
		,Hdr.[ReqShipDate] As DueToShip
		,Hdr.[ActShipDate] As ActualShipDate
		,IsNull(Hdr.[ActShipDate],Hdr.[ReqShipDate]) As ShipDate
		,IsNull(Dtl.[LocId],@LocId) As Location
		,Dtl.[ItemId] As ItemId
		,Dtl.[Descr] As ItemDescription
		,Dtl.[QtyOrdSell] As Quantity
		,Dtl.[UnitsSell]
		,CAST(iif((Dtl.ActShipDate is Not null and Dtl.QtyShipSell < (0.9 * Dtl.QtyOrdSell)),1,0) as bit) as IsBackOrder
  FROM [005].[dbo].[tblSoTransHeader] As Hdr INNER JOIN  [005].[dbo].[tblSoTransDetail] AS Dtl ON Hdr.TransId=Dtl.TransID
		INNER JOIN [005].[dbo].[trav_tblArCust_view] ar ON ar.CustId=Hdr.CustId
		INNER JOIN [W005].[dbo].vCustomerCharacteristics c ON c.Characteristic = 'Shipments Require Special Documents' and Enforce = 1 and c.CustId = Hdr.CustId
  WHERE Hdr.TransType in (4)  --SO Verified
        AND Hdr.ShipToName Is Not Null AND Hdr.VoidYn=0 AND  (ISNUll(Dtl.[ReqShipDate],Hdr.[ReqShipDate]) Between @FromDate And @ToDate) AND Dtl.Status=0 
		AND (Dtl.QtyShipSell < (0.9 * Dtl.QtyOrdSell))
		AND c.bTarget = 1

  IF @InclShipped = 0
	  BEGIN
		SELECT
			OrderNo
			,ShipTo
			,Address
			,Carrier
			,CustomerPO
			,DueToShip
			,ActualShipDate
			,ShipDate
			,Location
			,ItemId
			,ItemDescription
			,Quantity
			,UnitsSell
			,IsBackOrder
		FROM #T1
	  END
  ELSE
	  BEGIN
		SELECT
			OrderNo
			,ShipTo
			,Address
			,Carrier
			,CustomerPO
			,DueToShip
			,ActualShipDate
			,ShipDate
			,Location
			,ItemId
			,ItemDescription
			,Quantity
			,UnitsSell
			,IsBackOrder
		FROM #T1
		UNION ALL
		  SELECT
				Hdr.[TransID] As OrderNo
				,Hdr.[ShipToName] As ShipTo
				,Hdr.[ShipToAddr1] + IsNull(Hdr.[ShipToAddr2],'') + '  ' + IsNULL(Hdr.[ShipToCity],'') + '  ' + IsNull(Hdr.[ShipToRegion],'') + '  ' + IsNull(Hdr.[ShipToCountry],'') + '  ' + 
								IsNULL(Hdr.[ShipToPostalCode],'') As Address
				,Hdr.[ShipVia] As Carrier
				,Hdr.[CustPONum] As CustomerPO
				,Hdr.[ReqShipDate] As DueToShip
				,Hdr.[ActShipDate] As ActualShipDate
				,IsNull(Hdr.[ActShipDate],Hdr.[ReqShipDate]) As ShipDate
				,IsNull(Dtl.[LocId],@LocId) As Location
				,Dtl.[ItemId] As ItemId
				,Dtl.[Descr] As ItemDescription
				,Dtl.[QtyOrdSell] As Quantity
				,Dtl.[UnitsSell]
				,CAST(iif((Dtl.ActShipDate is Not null and Dtl.QtyShipSell < (0.9 * Dtl.QtyOrdSell)),1,0) as bit) as IsBackOrder
		  FROM [005].[dbo].[tblSoTransHeader] As Hdr INNER JOIN  [005].[dbo].[tblSoTransDetail] AS Dtl ON Hdr.TransId=Dtl.TransID
				INNER JOIN [005].[dbo].[trav_tblArCust_view] ar ON ar.CustId=Hdr.CustId
	     		INNER JOIN [W005].[dbo].vCustomerCharacteristics c ON c.Characteristic = 'Shipments Require Special Documents' and Enforce = 1 and c.CustId = Hdr.CustId
		  WHERE Hdr.TransType in (3, 5, 9) --SO BackOrder, SO Picked or SO New
				AND Hdr.ShipToName Is Not Null AND Hdr.VoidYn=0 AND  (ISNUll(Dtl.[ReqShipDate],Hdr.[ReqShipDate]) Between @FromDate And @ToDate) AND Dtl.Status=0 
				AND Hdr.TransId NOT IN (Select OrderNo from [W005].[dbo].ShipPackingList Where OrderNo = Hdr.TransId AND Complete = 0)
				AND c.bTarget = 1
		UNION ALL
		  SELECT
				Hdr.[TransID] As OrderNo
				,Hdr.[ShipToName] As ShipTo
				,Hdr.[ShipToAddr1] + IsNull(Hdr.[ShipToAddr2],'') + '  ' + IsNULL(Hdr.[ShipToCity],'') + '  ' + IsNull(Hdr.[ShipToRegion],'') + '  ' + IsNull(Hdr.[ShipToCountry],'') + '  ' + 
								IsNULL(Hdr.[ShipToPostalCode],'') As Address
				,Hdr.[ShipVia] As Carrier
				,Hdr.[CustPONum] As CustomerPO
				,Hdr.[ReqShipDate] As DueToShip
				,Hdr.[ActShipDate] As ActualShipDate
				,IsNull(Hdr.[ActShipDate],Hdr.[ReqShipDate]) As ShipDate
				,IsNull(Dtl.[LocId],@LocId) As Location
				,Dtl.[ItemId] As ItemId
				,Dtl.[Descr] As ItemDescription
				,Dtl.[QtyOrdSell] As Quantity
				,Dtl.[UnitsSell]
				,CAST(iif((Dtl.ActShipDate is Not null and Dtl.QtyShipSell < (0.9 * Dtl.QtyOrdSell)),1,0) as bit) as IsBackOrder
		  FROM [005].[dbo].[tblSoTransHeader] As Hdr INNER JOIN  [005].[dbo].[tblSoTransDetail] AS Dtl ON Hdr.TransId=Dtl.TransID
				INNER JOIN [005].[dbo].[trav_tblArCust_view] ar ON ar.CustId=Hdr.CustId
	     		INNER JOIN [W005].[dbo].vCustomerCharacteristics c ON c.Characteristic = 'Shipments Require Special Documents' and Enforce = 1 and c.CustId = Hdr.CustId
		  WHERE Hdr.TransType in (4) --SO Verified
				AND Hdr.ShipToName Is Not Null AND Hdr.VoidYn=0 AND  (ISNUll(Dtl.[ReqShipDate],Hdr.[ReqShipDate]) Between @FromDate And @ToDate) AND Dtl.Status=0 
				AND ar.[cf_Shipments Require Special Documents] = 1
				AND c.bTarget = 1
		UNION ALL
			SELECT 	Hdr.TransId As OrderNo
				,Hdr.[ShipToName] As ShipTo
				,Hdr.[ShipToAddr1] + IsNull(Hdr.[ShipToAddr2],'') + '  ' + IsNULL(Hdr.[ShipToCity],'') + '  ' + IsNull(Hdr.[ShipToRegion],'') + '  ' + IsNull(Hdr.[ShipToCountry],'') + '  ' + 
								IsNULL(Hdr.[ShipToPostalCode],'') As Address
				,Hdr.[ShipVia] As Carrier
				,Hdr.[CustPONum] As CustomerPO
				,Hdr.[ReqShipDate] As DueToShip
				,Hdr.ShipDate As ActualShipDate
				,IsNull(Hdr.[ShipDate],Hdr.[ReqShipDate]) As ShipDate
				,IsNUll(Hdr.[WhseId], @LocId) As Location
				,Dtl.[PartId] As ItemId
				,Dtl.[Desc] As ItemDescription
				,Dtl.[QtyOrdSell] As Quantity
				,Dtl.[UnitsSell]
				,CAST(0 as bit) as IsBackOrder
			FROM [005].[dbo].[tblArHistHeader] Hdr INNER JOIN [005].[dbo].[tblArHistDetail] Dtl ON Hdr.TransId=Dtl.TransId 
				INNER JOIN [005].[dbo].[trav_tblArCust_view] ar ON ar.CustId=Hdr.CustId
	     		INNER JOIN [W005].[dbo].vCustomerCharacteristics c ON c.Characteristic = 'Shipments Require Special Documents' and Enforce = 1 and c.CustId = Hdr.CustId
			WHERE Hdr.ShipToName Is Not Null AND Hdr.VoidYn=0 AND  (ISNUll(Dtl.[ReqShipDate],Hdr.[ReqShipDate]) Between @FromDate And @ToDate) AND Dtl.Status=0 
				AND ar.[cf_Shipments Require Special Documents] = 1
				AND c.bTarget = 1
	END
    Drop Table #T1
END


GO
