USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPFMGetTestHdrId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPFMGetTestHdrId]  /* PFM == Profilometer */
	@ProdOrder varchar(8),@RelNo int, @ItemId varchar(24)

AS
BEGIN

--Declare @ProdOrder varchar(8) = '00012345'
--Declare @RelNo int = 1
--Declare @ItemId varchar(24) = 'FG-TORA15AE-PAD'


IF EXISTS (
		SELECT Id 
		FROM [W005].[dbo].[ProfilometerTestHdr]
		WHERE ProdOrder = @ProdOrder AND RelNo=@RelNo AND ItemId=@ItemId
		)
		BEGIN
			SELECT Id 
			FROM [W005].[dbo].[ProfilometerTestHdr]
			WHERE ProdOrder = @ProdOrder AND RelNo=@RelNo AND ItemId=@ItemId
		END ELSE BEGIN
			SELECT Id = CAST(0 as int)
		END




END

GO
