USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedBoxesByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* Returns Complete AND Partial Boxes */

CREATE PROCEDURE [dbo].[spGetPackedBoxesByItemOrdNoRelNo]
	@ItemId as varchar(24),  @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--Declare @ItemId as varchar(24) = 'STERIN-100GY'
--Declare  @LocId as varchar(10) = 'QA HOLD'
--Declare @OrderNo as varchar(8) = '00058094'
--Declare @ReleaseNo as int = 59
	
DECLARE @DoNotPackMixedOrdNoRelNo as bit 
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
FROM [W005].[dbo].[ProductChar] Pc 
inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)
	
	
SELECT B.ShipBoxNo As PkgId,SUM(I.Quantity) As Quantity,B.Id, Count(I.Id) As NoPacked,B.Complete, B.IsPacked,B.GrossWt,B.TareWt,@DoNotPackMixedOrdNoRelNo AS bTarget
FROM [W005].[dbo].[ShipBox] As B 
	inner join [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)

Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
		AND B.Deleted=0 AND B.Shipped=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 
GROUP BY B.Id,B.ShipBoxNo,B.Complete,B.IsPacked,B.GrossWt,B.TareWt
order by B.ShipBoxNo DESC
	

END
GO
