USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCovestroPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebCovestroPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int = 82119 

SELECT DISTINCT A.*,		
				ShipFromName = L.Descr,
				ShipFromAddr1 = L.Addr1,
				ShipFromAddr2 = L.Addr2,
				ShipFromCityStateZip = L.City +', ' + L.Region + ' ' +  L.PostalCode
FROM (
	SELECT	DISTINCT 
			PalletId = SP.Id,
			PalletNum = RIGHT(SP.ShipPalletNo, 6), 
			FullPalletNum = SP.ShipPalletNo,
			R.PurchaseOrder,			
			I.ItemId,
			I.Descr, 
			AliasID = (SELECT DISTINCT IA.AliasID FROM [005].[dbo].[tblInItemAlias] as IA WHERE IA.ItemID=I.ItemId AND IA.RefID = R.CustId),
			
			TotalNumOfRolls = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = SP.Id),

			Width = (SELECT DISTINCT P.nTarget
					  FROM  [W005].[dbo].[Characteristic] AS C  
							INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
					 WHERE C.Characteristic = 'Width(IN)'),
			
			TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId),
			TotalLengthUOM = I.UomBase,

			TotalPounds = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / 
			                  (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB')),
							  
			ShipFromLoc = SI.Location,
		
			ShipToName = ISNULL(S.ShipToName, A.ShipToName),
			ShipToAddr1 = ISNULL(S.ShipToAddr1, A.ShipToAddr1),
			ShipToAddr2 = ISNULL(S.ShipToAddr2, A.ShipToAddr2),
			ShipToCityStateZip = ISNULL(S.ShipToCity, A.ShipToCity) + ', ' + ISNULL(S.ShipToRegion, A.ShipToRegion) + ' ' + ISNULL(S.ShipToPostalCode, A.ShipToPostalCode)
			
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 INNER JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].tblSoTransHeader S ON S.TransId = R.SalesOrder
		 LEFT JOIN [005].[dbo].tblArHistHeader A ON A.TransId = R.SalesOrder
	WHERE SP.Id = @PalletId
  UNION ALL
	SELECT	DISTINCT 
			PalletId = SP.Id,
			PalletNum = RIGHT(SP.ShipPalletNo, 6), 
			FullPalletNum = SP.ShipPalletNo,
			R.PurchaseOrder,
			I.ItemId,
			I.Descr, 
			AliasID = (SELECT DISTINCT IA.AliasID FROM [005].[dbo].[tblInItemAlias] as IA WHERE IA.ItemID=I.ItemId AND IA.RefID = R.CustId),
			
			TotalNumOfRolls = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = SP.Id),

			Width = (SELECT DISTINCT P.nTarget
					  FROM  [W005].[dbo].[Characteristic] AS C  
							INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
					 WHERE C.Characteristic = 'Width(IN)'),
			
			TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId),
			TotalLengthUOM = I.UomBase,

			TotalPounds = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / 
			                  (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB')),
							  
			ShipFromLoc = SI.Location,
			
			ShipToName = ISNULL(S.ShipToName, A.ShipToName),
			ShipToAddr1 = ISNULL(S.ShipToAddr1, A.ShipToAddr1),
			ShipToAddr2 = ISNULL(S.ShipToAddr2, A.ShipToAddr2),
			ShipToCityStateZip = ISNULL(S.ShipToCity, A.ShipToCity) + ', ' + ISNULL(S.ShipToRegion, A.ShipToRegion) + ' ' + ISNULL(S.ShipToPostalCode, A.ShipToPostalCode)
			
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo 
		 LEFT JOIN [005].[dbo].tblSoTransHeader S ON S.TransId = R.SalesOrder
		 LEFT JOIN [005].[dbo].tblArHistHeader A ON A.TransId = R.SalesOrder
	WHERE SP.Id = @PalletId
) A									
 INNER JOIN [005].[dbo].[tblInLoc] L ON L.LocId=A.ShipFromLoc

END

	
GO
