USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrudingItemIdDataByMachine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spExtrudingItemIdDataByMachine]
	 @MachineId as varchar(50)
AS
BEGIN
	SELECT ah.AssemblyId, ii.Descr AS Description,ah.Uom As MfgUOM, ii.UomBase as BaseUOM,ii.ProductLine,pc.sTarget As PackingMethod
	FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
		Inner Join [005].[dbo].[tblInItem] As ii ON ah.AssemblyId=ii.ItemId Inner Join [W005].[dbo].[ProductChar] As pc On pc.ItemId=ah.AssemblyId
	WHERE ar.MachineGroupId = @MachineId AND 
		pc.sTarget In (Select p.sTarget
					From [W005].[dbo].[ProductChar] As p Inner JOIN [W005].[dbo].[Characteristic] AS c ON p.CharId=c.Id
					WHERE c.Characteristic='PackingMethod')
		AND ah.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=ah.AssemblyId)
	ORDER BY ah.AssemblyId ASC

	
END

GO
