USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateLotExpDate]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spUpdateLotExpDate] @ItemId as varchar(24), @TravLotNum as varchar(16), @ExpDate as Datetime
AS
BEGIN



	UPDATE [005].[dbo].[tblInItemLocLot] Set ExpDate = @ExpDate
	FROM [005].[dbo].[trav_tblInItemLocLot_View] V INNER JOIN 
		 [005].[dbo].[tblInItemLocLot] L ON L.ItemId = V.ItemId and L.LotNum = V.LotNum
	WHERE V.ItemId = @ItemId and (V.LotNum = @TravLotNum or V.[cf_Lot No.] = @TravLotNum)

	UPDATE [W005].[dbo].[OrderReleaseEventItem] SET FGExpDate = @ExpDate 
	--WHERE  ItemId = @ItemId and LotNo = @TravLotNum and IsAssembly = 1  <-- This does not work for IMs
	WHERE  ItemId = @ItemId and (LotNo = @TravLotNum OR TravLotNum = @TravLotNum) and IsAssembly = 1 


END
GO
