USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetRMOTDataForNewConvFG]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRMOTDataForNewConvFG] @OrderNo AS varchar(8), @ReleaseNo AS int
AS
BEGIN

--DECLARE @OrderNo AS varchar(8) =  '00047699'
--DECLARE @ReleaseNo AS int = 1

    SELECT ORE.Id AS CreatedByOrderReleaseEventId, OREI.Id AS OREIID
	, OREI.ItemId AS RMItemdId,OREI.SerialNo AS RMSerialNo,OREI.LotNo AS RMLotNo
	, OT.*
	FROM  [W005].[dbo].OrderReleaseEvent ORE
		  INNER JOIN [W005].[dbo].OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND IsAssembly = 0
		  INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] OT ON OT.OrderReleaseEventItemId = OREI.Id	
	WHERE ORE.OrderNo = @OrderNo and ORE.ReleaseNo = @ReleaseNo


END

GO
