USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderBOMMaterialInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderBOMMaterialInventory] @OrderNo as varchar(8), @ReleaseNo as int, @ItemId as varchar(24), @LocId as varchar(10)
AS
BEGIN
	IF @ReleaseNo = 0
	  BEGIN
	    SET @ReleaseNo = null
	  END
	SELECT	DISTINCT I.ItemId,
			I.Descr,
 			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0) 
				WHEN 1 THEN L.LotNum 
				ELSE NULL 
			END AS SerialNo, 
			CASE ISNULL(I.[cf_Multi-UOM Serial Item], 0)
				WHEN 1 THEN L.[cf_Lot No.]
				ELSE
					CASE I.LottedYN
						WHEN 1 THEN L.LotNum
						ELSE Null
					END
			END AS LotNo,
			L.LotNum as TravLotNum,
			CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) AS QtyOnHand, 
			IsNull(M.Qty, 0) AS QtyIssued,
			(CAST(ISNULL(Q.QtyOnHand, 0) AS decimal(20,10)) - IsNull(M.Qty, 0)) AS QtyAvailable,
			D.UOM, 
			L.ExpDate, 
			L.[cf_Use By Date] AS UseByDate,
			L.[cf_Width] as Width,
			ISNULL(D.[cf_Max Lots Allowed], 0) AS MaxLotsAllowed
	FROM    [005].dbo.tblMpOrder O INNER JOIN
			[005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo INNER JOIN
			[005].dbo.trav_tblMbAssemblyDetail_View D ON D.HeaderId = H.Id INNER JOIN
			[005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentID LEFT JOIN
			[005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = I.ItemId AND L.LocId = @LocId LEFT JOIN
			[005].dbo.trav_InItemOnHandLot_view AS Q ON Q.ItemId = L.ItemId AND Q.LocId = L.LocId AND Q.LotNum = L.LotNum LEFT JOIN
			[W005].dbo.MpOrderMatIssued AS M ON M.ItemId = L.ItemId AND M.LocId = L.LocId and M.Completed = 0 AND (M.SerialNo = L.LotNum or M.LotNo = L.LotNum)
	WHERE O.OrderNo = @OrderNo and I.ItemId = @ItemId and ISNULL(Q.QtyOnHand, 0) > 0
END

GO
