USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetBuildToStockProductionOrders]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Retreive any production orders for the specified item and location without an associated sales order
CREATE PROCEDURE [dbo].[GetBuildToStockProductionOrders](@Material varchar(24), @location varchar(10)) 
AS	
	SELECT
		ord.OrderNo,
		released.Status,
		released.qty,
		released.UOM,
		released.Priority,
		released.EstStartDate,
		released.EstCompletionDate,
		bom.OperationStep,
		bom.OperationID,
		bom.OperationDescription,
		bom.BOMSequence,
		bom.ComponentID,
		bom.ComponentDescription,
		bom.DetailType,
		bom.Qty,
		bom.UOM AS [BOMUOM],
		bom.OnHandBalance,
		bom.UOMDefault,
		bom.toDefaultConvFactor,
		bom.SafetyStock,
		bom.OnHandMax,
		bom.MinOrderQty,
		bom.DefaultLeadTime,
		bom.OrderQtyUOM,
		bom.OrderPoint,
		bom.Buyer,
		bom.BOMLevel,
		bom.Sort
	FROM [005].dbo.tblMpOrder ord
	LEFT JOIN [005].dbo.tblMpOrderReleases released ON released.OrderNo = ord.OrderNo
	LEFT JOIN [005].dbo.tblSoTransHeader soHeader ON soHeader.TransId = released.SalesOrder
	CROSS APPLY [W005].dbo.GetBOMInfo(@Material, @location) bom
		WHERE ord.AssemblyId = @Material AND ord.LocId = @location AND soHeader.TransType IS NULL
	ORDER BY ord.OrderNo, bom.OperationStep, bom.Sort;
GO
