USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spProductSpecificInformationDirectRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProductSpecificInformationDirectRM] @ProdOrderNumber VARCHAR(8), @ReleaseNo as int  
AS
BEGIN
	--DECLARE @ProdOrderNumber AS VARCHAR(8) = '00000052'
	--DECLARE @ReleaseNo as int = 1;

	WITH GetRMFromBOM AS (
		SELECT DISTINCT ItemId, Descr, GLAcctCode
		FROM  
		(	
		SELECT I.ItemId, I.Descr, L.GLAcctCode, TS.OperationId
			FROM [005].dbo.tblMpOrder mpO 
			INNER JOIN [005].dbo.tblMpOrderReleases mpOR ON mpOR.OrderNo = mpO.OrderNo
			INNER JOIN [005].dbo.tblMpRequirements mpReq ON mpReq.ReleaseId = mpOR.Id AND IndLevel != 0
			INNER JOIN [005].dbo.tblMpMatlSum mpMatSum ON mpMatSum.TransId = mpReq.TransId
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = mpMatSum.ComponentID	
			INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = mpMatSum.ComponentID AND L.LocId = mpO.LocID
			LEFT JOIN [005].dbo.tblMpTimeSum TS ON TS.TransId = mpReq.ParentId
				WHERE mpO.OrderNo = @ProdOrderNumber AND (mpOR.ReleaseNo = @ReleaseNo) 
				AND mpMatSum.ComponentType <> 5 
		) A
		GROUP BY ItemId, Descr, GLAcctCode
	)

	SELECT * INTO #AllRMs FROM GetRMFromBOM 
	SELECT * INTO #DirectRMs FROM #AllRMs WHERE SUBSTRING(GLAcctCode,1,1) IN ('1', '2', '3')

	--select * from #DirectRMs

	SELECT DISTINCT
		UOM_RM.UomBase AS RMUomBase,
		CASE 
			WHEN UOM_RM.UomBase = 'LM' THEN 'MM'
		ELSE 'IN'
		END AS RMWidthUnit,
		CASE 
			WHEN UOM_RM.UomBase = 'LM' THEN 'LM'
		ELSE 'LF'
		END AS RMLengthUnit,

		PC_Width.nTarget AS RMIncomingWidthTarget,
		PC_Width.nMin    AS RMMinIncomingWidth,
		PC_Width.nMax    AS RMMaxIncomingWidth,

		PC_Length.nTarget AS RMIncomingLengthTarget,
		PC_Length.nMin   AS RMMinIncomingLength,
		PC_Length.nMax   AS RMMaxIncomingLength,

		PC_Core.nTarget  AS IncomingCoreId,

		ExpDateCalcBasedOn.sTarget AS ExpDateCalc,
		ShelfLife.ExpiryTime AS ShelfLife1,
		ShelfLife.UnitOfExpiry AS ShelfLife2,

		RM_Note.Comment AS RMMaterialNote

	FROM [005].dbo.[tblMpOrderReleases] MOR 
		INNER JOIN [005].dbo.tblMpRequirements MR 
			ON MR.ReleaseId = MOR.Id
		INNER JOIN [005].dbo.[tblMpTimeSum] MTS 
			ON MTS.TransId = MR.TransId 
		INNER JOIN OrderReleaseEvent ORE 
			ON ORE.OrderNo = MOR.OrderNo AND ORE.ReleaseNo = MOR.ReleaseNo
		INNER JOIN OrderReleaseEventItem OREI 
			ON OREI.OrderReleaseEventId = ORE.Id
		INNER JOIN #DirectRMs dRMs 
			ON dRMS.ItemId = OREI.ItemId
		LEFT JOIN [005].dbo.trav_tblInItemLocLot_View L 
			ON L.ItemId = OREI.ItemId AND L.LocId = OREI.LocId AND L.LotNum = OREI.SerialNo
		LEFT JOIN vOrderReleaseCustPOInfo Cust 
			ON Cust.CustId = MOR.CustId
		OUTER APPLY (
			SELECT UomBase 
			FROM [005].dbo.tblInItem I 
			WHERE I.ItemId = dRMs.ItemId
		) AS UOM_RM
		OUTER APPLY (
			SELECT TOP 1 *
			FROM vProductCharacteristics PC
			WHERE PC.ItemId = dRMs.ItemId
			  AND PC.Characteristic = CASE WHEN UOM_RM.UomBase = 'LM' THEN 'Width(MM)' ELSE 'Width(IN)' END
		) AS PC_Width
		OUTER APPLY (
			SELECT TOP 1 *
			FROM vProductCharacteristics PC
			WHERE PC.ItemId = dRMs.ItemId
			  AND PC.Characteristic = CASE WHEN UOM_RM.UomBase = 'LM' THEN 'Length(M)' ELSE 'Length(LF)' END
		) AS PC_Length
		OUTER APPLY (
			SELECT TOP 1 *
			FROM vProductCharacteristics PC
			WHERE PC.ItemId = dRMs.ItemId
			  AND PC.Characteristic = 'IncomingCoreID(MM)'
		) AS PC_Core

		OUTER APPLY (
			SELECT Comment 
			FROM [005].[dbo].[tblSmAttachment] RMSmAttach 
			WHERE RMSmAttach.LinkKey = dRMs.ItemId 
			AND RMSmAttach.Keywords like '%Incoming%'

		)AS RM_Note

		OUTER APPLY (
			SELECT TOP 1 PC.*
			FROM vProductCharacteristics PC
			WHERE PC.ItemId = dRMs.ItemId
			  AND PC.Characteristic IN ('ExpDateCalcDays', 'ExpDateCalcMonths', 'ExpDateCalcYears')
			ORDER BY 
				CASE PC.Characteristic
					WHEN 'ExpDateCalcDays' THEN 1
					WHEN 'ExpDateCalcMonths' THEN 2
					WHEN 'ExpDateCalcYears' THEN 3
				END
		) AS PC_Exp

		OUTER APPLY (
			SELECT sTarget FROM vProductCharacteristics PC 
			WHERE PC.ItemId = dRMs.ItemId AND PC.Characteristic = 'ExpDateCalcBasedOn'
		) AS ExpDateCalcBasedOn

		CROSS APPLY (
			SELECT 
				UnitOfExpiry =
					CASE PC_Exp.Characteristic
						WHEN 'ExpDateCalcDays' THEN 
						'Day (s)'
						WHEN 'ExpDateCalcMonths' THEN 
						'Month (s)'
						WHEN 'ExpDateCalcYears' THEN 
						'Year (s)'
					END,
				ExpiryTime = PC_Exp.nTarget
			) AS ShelfLife

		WHERE MOR.OrderNo = @ProdOrderNumber
		AND MTS.MachineGroupId != 'NO MACHINE' 
		AND MOR.ReleaseNo = @ReleaseNo

		DROP TABLE #AllRMs
		DROP TABLE #DirectRMs

END
GO
