USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSpoolweightChanges]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSpoolweightChanges] 
	@ProdOrderNo VARCHAR(50)
AS
BEGIN

	--DECLARE @ProdOrderNo AS VARCHAR(50) = '00000037'

SELECT  
R.CustPONum AS HexcelPO, 
ORE.OrderNo AS WorkOrder, 
ORE.ReleaseNo AS OperationID,
ORE.EventStart AS TrxDate,
OREI.ItemId AS PartNumber, 
P.nTarget AS RollWidth,
OREI.SerialNo AS RollNo, 
OREI.LotNo AS Batch, 
X.LM AS LM,
NULLIF(X.LM, 0) / (SELECT ConvFactor FROM [005].dbo.tblInItemUom I WHERE I.ItemId = OREI.ItemId AND I.Uom = 'LF')  AS LF,
NULLIF(X.LM, 0) / (SELECT ConvFactor FROM [005].dbo.tblInItemUom I WHERE I.ItemId = OREI.ItemId AND I.Uom = 'SM')  AS SM,
OREI.RWOREIId AS RWOREId,
OREI.isAssembly AS isAssembly
FROM OrderReleaseEventItem OREI 
INNER JOIN OrderReleaseEvent ORE ON OREI.OrderReleaseEventId = ORE.Id
LEFT JOIN OrderReleaseEventItem RWOREI ON OREI.RWOREIId = RWOREI.Id 
INNER JOIN vMpOrderReleases R ON ORE.OrderNo = R.OrderNo AND ORE.ReleaseNo = R.ReleaseNo
INNER JOIN [005].dbo.tblInItemUom I ON I.ItemId = OREI.ItemId AND I.Uom = OREI.UOM
INNER JOIN ProductChar P ON P.ItemId = OREI.ItemId AND P.CharId = 174
CROSS APPLY (
    SELECT CASE 
             WHEN RWOREI.TotalQty IS NOT NULL 
                 THEN RWOREI.TotalQty
             ELSE OREI.TotalQty
           END AS LM
) AS X
WHERE ORE.OrderNo = @ProdOrderNo
ORDER BY OREI.isAssembly

END
GO
