USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipHeader]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spShipHeader]

AS
BEGIN
	
	SELECT  DISTINCT soth.TransId As OrderNo,0 As PLNo, soth.CustId,cust.CustName,
			CAST(IsNULL(cust.[cf_Customer Care Hold Req.],0) As bit) AS CCHoldReq, 
			CAST(IsNULL(cust.[cf_Shipments Require Special Documents],0) As bit) AS SpecialDocsReq,
			CAST(IsNULL(cust.[cf_Shipments Require QA Release],0) As bit) AS QAHold,
			soth.CustPONum As CustPO,soth.ActShipDate As ShipDate,soth.Freight As FreightCharge,
			ShipMethodId=(SELECT sm.ShipMethodID FROM [005].[dbo].[tblArShipMethod] As sm WHERE sm.[Desc]=soth.ShipVia), soth.ShipVia As ShipMethod,
			shipto.[cf_Shipping Terms] As ShipTerms, shipto.[cf_Packing List Note] As Notes, IsNull(shipto.[cf_Remote Warehouse],'NO') As RemoteWarehouse,
			0 As GrossWt, '' As PRONo,CAST(0 as bit) As Complete,0 As NotesReviewed,0 As Posted,0 As PostFailed,
			soth.ShipToID,soth.ShipToName,soth.ShipToAddr1, soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode
	FROM ([005].[dbo].[tblSoTransHeader] As soth INNER JOIN [005].[dbo].[trav_tblArCust_view] As cust ON soth.CustId=cust.CustId) 
		LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON cust.CustId=shipto.CustId AND shipto.ShipToID=soth.ShipToID
		LEFT JOIN [W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=soth.TransId
	WHERE spl.PLNo Is NULL AND soth.VoidYn=0

	UNION ALL
	 
	SELECT   spl.OrderNo As OrderNo, spl.PLNo, spl.CustId,spl.CustName,
			CAST(IsNULL(cust.[cf_Customer Care Hold Req.],0) As bit) AS CCHoldReq, 
			CAST(IsNULL(cust.[cf_Shipments Require Special Documents],0) As bit) AS SpecialDocsReq,
			CAST(IsNULL(cust.[cf_Shipments Require QA Release],0) As bit) AS QAHold,
			spl.CustPO,spl.ShipDate,spl.FreightCharge,
			spl.ShipMethodId,spl.ShipMethod,spl.ShipTerms,spl.Notes,spl.RemoteWarehouse, 
			spl.GrossWt,spl.PRONo,spl.Complete,spl.NotesReveiwed,spl.Posted,spl.PostFailed,
			spl.ShipToID,spl.ShipToName,spl.ShipToAddr1, spl.ShipToAddr2,spl.ShipToCity,spl.ShipToRegion,spl.ShipToCountry,spl.ShipToPostalCode
	FROM [W005].[dbo].[ShipPackingList] As spl INNER JOIN [005].[dbo].[trav_tblArCust_view] As cust ON spl.CustId=cust.CustId

	ORDER BY OrderNo


END


GO
