USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsItemIdTravLotNoOnAnyPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsItemIdTravLotNoOnAnyPL]
			@ItemId varchar(24), @TravLotNo varchar(16)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--declare @ItemId varchar(24) = 'RM-CADC5135-PRP'  
--declare  @TravLotNo varchar(16) = 'AH040424-01/005'

SELECT Sum(Cnt) AS TotCnt
FROM 
(
	SELECT COUNT(Id) AS Cnt FROM [W005].[dbo].[tmpShipPackingList] WHERE ItemId=@ItemId AND TravLotNum = @TravLotNo
	UNION ALL
	SELECT COUNT(Id) AS Cnt FROM [W005].[dbo].[ShipPackingListDetail] WHERE ItemId=@ItemId AND TravLotNum = @TravLotNo
) A


END
GO
