USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetMaterialDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetMaterialDetail](@Material varchar(24))
AS
SELECT
	onhand.ItemId,
	onhand.LocId,
	onhand.LotNum,
	SUM(onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) AS [Balance],
	MAX(onhand.EntryDate) AS [EntryDate],
	MAX(onhand.Source) AS [Source],
	MAX(CASE WHEN onhand.Source = 10 THEN onhand.LinkId ELSE '' END) AS [PO Number],
	MAX(CASE WHEN onhand.Source = 10 THEN onhand.LinkIDSub ELSE '' END) AS [PO Line Number],
	MAX(vendor.Name) AS [VendorName],
	MAX(employee.FirstName + ' ' + employee.MiddleInit + ' ' + employee.LastName) AS [OrderedByName],
	MAX(lotView.ExpDate) AS [ExpirationDate],
	MAX(onhand.Cost) AS [UnitCost],
	SUM((onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) * onhand.Cost) AS [LotCost]
FROM [005].dbo.tblInQtyOnHand onhand
LEFT JOIN [005].dbo.tblPoTransHeader poHeader ON poHeader.TransId = onhand.LinkID
LEFT JOIN [005].dbo.tblApVendor vendor ON vendor.VendorID = poHeader.VendorId
LEFT JOIN [005].dbo.tblSmEmployee employee ON employee.EmployeeId = poHeader.OrderedBy
LEFT JOIN [005].dbo.trav_tblInItemLocLot_View lotView ON lotView.ItemId = onhand.ItemId AND lotview.LocId = onhand.LocId AND lotView.LotNum = onhand.LotNum
	WHERE onhand.ItemId = @Material AND onhand.DeletedYn = 0
GROUP BY onhand.ItemId, onhand.LocId, onhand.LotNum HAVING SUM(onhand.Qty - onhand.InvoicedQty - onhand.RemoveQty) > 0
GO
