USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertBaseQtytoDfltUomQty]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spConvertBaseQtytoDfltUomQty]
	@ItemId varchar(24),@BaseQty decimal
AS
BEGIN
	
--DECLARE @ItemId varchar(24) ='RM-AERO5021-PRP'
--DECLARE @BaseQty decimal = 1080

IF EXISTS (SELECT [ConvFactor]
			FROM [005].[dbo].[tblInItemUom]
			WHERE ItemId=@ItemId AND Uom = (SELECT UomDflt FROM [005].[dbo].[tblInItem] WHERE ItemId=@ItemId)
			)
BEGIN
	SELECT (@BaseQty / [ConvFactor]) As DfltQty
	  FROM [005].[dbo].[tblInItemUom]
	  WHERE ItemId=@ItemId AND Uom = (SELECT UomDflt FROM [005].[dbo].[tblInItem] WHERE ItemId=@ItemId)
END ELSE
BEGIN
	SELECT 0 As DfltQty
END


END






GO
