USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNunezCostAssemblyReleaseId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNunezCostAssemblyReleaseId]
AS
BEGIN
	SELECT MIN(HistSeqNum) As HistSeqNum, ReleaseId, CostUnit FROM (SELECT HistSeqNum, ReleaseId, CostUnit FROM NunezCostAssemblyWorkTable3) A GROUP BY ReleaseId, CostUnit ORDER BY HistSeqNum
END
GO
