USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackingListInvoice]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIPackingListInvoice] @FROMDT as DateTime, @THRUDT as DateTime, @CustId as varchar(10), @PLNo as int
AS
BEGIN
--Declare @FROMDT as DateTime = '5/28/2019'
--Declare @THRUDT as DateTime = '5/29/2019'
--Declare @CustId as varchar(10)
--Declare @PLNo as int = 28603
IF LEN(@CustId) = 0 SET @CustId = null
IF @PLNo = -1 SET @PLNo = null
IF LEN(@PLNo) > 0
  BEGIN
	select P.plno,P.CustPO,P.OrderNo, ShipFromLocId, CustId, CustName, D.ItemId, D.SerialNo, SPLSOLineId as SOLine, P.ShipDate
	INTO #T1
	  FROM [W005].[dbo].[ShipPackingListDetail] D
	  INNER JOIN [W005].[dbo].[ShipPackingList] P ON P.PLNo = D.PLNo
	  --INNER JOIN ShipPackingListSOLine L on L.PLNo = p.plno  and L.ItemId = D.ItemId
	  INNER JOIN [005].dbo.tblInItemSer S ON S.ItemId = D.ItemId and S.SerNum = D.SerialNo
	WHERE P.PLNo = @PlNo
	Order by 1,2,3,4,5,6

	Select DISTINCT H1.TransId, H1.EntryNum, PartId, UnitPriceSell, PriceExt, H2.InvcNum, H1.QtyShipSell, h1.ActShipDate, h2.InvcDate, S.SerNum
	INTO #T2
	FROM [005].dbo.tblArHistDetail H1 
	INNER JOIN [005].dbo.tblArHistHeader H2 ON H2.TransId = H1.TransId and H1.PostRun = H2.PostRun
	INNER JOIN [005].dbo.tblArHistSer S ON S.TransId = H2.TransId and S.PostRun = H2.PostRun and S.EntryNum = H1.EntryNum
	INNER JOIN (SELECT DISTINCT SerialNo FROM #T1) O ON O.SerialNo = S.SerNum
	UNION ALL 
	Select DISTINCT D.TransId, D.EntryNum, D.ItemId, UnitPriceSell, PriceExt, H.InvcNum, D.QtyShipSell, d.ActShipDate, h.InvcDate, SerNum    
	FROM [005].dbo.tblSoTransDetail D
	INNER JOIN [005].dbo.tblSoTransHeader H on h.transid = d.transid 
	INNER JOIN [005].dbo.tblSoTransSer S ON S.TransId = H.TransId and S.EntryNum = D.EntryNum
	INNER JOIN (SELECT DISTINCT SerialNo FROM #T1) O ON O.SerialNo = S.SerNum

	SELECT DISTINCT PLNo,CustPO, OrderNo as PLOrderNo, TransId As InvOrderNo, ShipFromLocId, ShipDate as PlNoShipDate, InvcNum, InvcDate, ActShipDate, CustId, CustName, ItemId, SOLine, QtyShipSell, UnitPriceSell, PriceExt, A.SerialNo as PLSerNum, B.SerNum AS InvSerNum   
	FROM #T1 A
	LEFT JOIN #T2 B ON B.SerNum = A.SerialNo
	Order by 1,2

	DROP TABLE #T1
	DROP TABLE #T2
  END
ELSE
  BEGIN
	select P.plno,CustPO,P.OrderNo, ShipFromLocId, CustId, CustName, D.ItemId, D.SerialNo, SPLSOLineId as SOLine, P.ShipDate
	INTO #T1A
	  FROM [W005].[dbo].[ShipPackingListDetail] D
	  INNER JOIN [W005].[dbo].[ShipPackingList] P ON P.PLNo = D.PLNo
	  --INNER JOIN ShipPackingListSOLine L on L.PLNo = p.plno  and L.ItemId = D.ItemId
	  INNER JOIN [005].dbo.tblInItemSer S ON S.ItemId = D.ItemId and S.SerNum = D.SerialNo
	WHERE P.ShipDate between @FROMDT and @THRUDT AND (@CustId IS NULL OR CustId = @CustId) --and S.SerNumStatus != 3
	Order by 1,2,3,4,5,6

	Select DISTINCT H1.TransId, H1.EntryNum, PartId, UnitPriceSell, PriceExt, H2.InvcNum, H1.QtyShipSell, h1.ActShipDate, h2.InvcDate, S.SerNum, H1.PartId AS ItemId, H2.CustId, C.CustName, H1.WhseId as LocId, PackNum  
	INTO #T2A
	FROM [005].dbo.tblArHistDetail H1 
	INNER JOIN [005].dbo.tblArHistHeader H2 ON H2.TransId = H1.TransId and H1.PostRun = H2.PostRun
	INNER JOIN [005].dbo.tblArHistSer S ON S.TransId = H2.TransId and S.PostRun = H2.PostRun and S.EntryNum = H1.EntryNum
	INNER JOIN [005].dbo.tblArCust C ON C.CustId = H2.CustId
	WHERE InvcDate between @FROMDT and @THRUDT and H1.QtyShipSell > 0 AND (@CustId Is Null OR H2.CustId = @CustId)
	UNION ALL 
	Select DISTINCT D.TransId, D.EntryNum, D.ItemId, UnitPriceSell, PriceExt, H.InvcNum, D.QtyShipSell, d.ActShipDate, h.InvcDate, SerNum, D.ItemId, H.CustId, C.CustName, D.LocId, PackNum
	FROM [005].dbo.tblSoTransDetail D
	INNER JOIN [005].dbo.tblSoTransHeader H on h.transid = d.transid 
	INNER JOIN [005].dbo.tblSoTransSer S ON S.TransId = H.TransId and S.EntryNum = D.EntryNum
	INNER JOIN [005].dbo.tblArCust C ON C.CustId = H.CustId
	WHERE InvcDate between @FROMDT and @THRUDT and d.QtyShipSell > 0 AND (@CustId Is Null OR H.CustId = @CustId)

	SELECT DISTINCT PLNo,CustPO,OrderNo as PLOrderNo, TransId As InvOrderNo, ShipFromLocId, ShipDate as PlNoShipDate, InvcNum, InvcDate, ActShipDate, A.CustId, A.CustName, A.ItemId, SOLine, QtyShipSell, UnitPriceSell, PriceExt, A.SerialNo as PLSerNum, B.SerNum AS InvSerNum   
	FROM #T1A A
	LEFT JOIN #T2A B ON B.SerNum = A.SerialNo
	--LEFT JOIN #T2A B ON B.TransID = A.OrderNo AND B.SerNum = A.SerialNo
	UNION ALL
	SELECT DISTINCT ISNULL(PLNo, Cast(Packnum as int)) as PLNo,CustPO,OrderNo as PLOrderNo, TransId As InvOrderNo, B.LocId as ShipFromLocId, ShipDate as PlNoShipDate, InvcNum, InvcDate, ActShipDate, B.CustId, B.CustName, B.ItemId, B.EntryNum as SOLine, QtyShipSell, UnitPriceSell, PriceExt, A.SerialNo as PLSerNum, B.SerNum AS InvSerNum   
	FROM #T1A A
	RIGHT JOIN #T2A B ON B.SerNum = A.SerialNo
	--LEFT JOIN #T2A B ON B.TransID = A.OrderNo AND B.SerNum = A.SerialNo
	WHERE PLNo is null
	Order by 1,2

	DROP TABLE #T1A
	DROP TABLE #T2A
  END
END



GO
