USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuoteAssembly]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuoteAssembly] 
	@QuoteNum as int
AS
BEGIN 



SELECT a.*
FROM [W005].[dbo].[QuoteAssembly] a
WHERE a.QuoteNum=@QuoteNum





END      
GO
