USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetLookUpsForCharacteristic]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[spGetLookUpsForCharacteristic] @CharId as varchar(50)
	
AS
BEGIN
	SELECT clu.CharLookUpName
	FROM CharLookUp as clu INNER JOIN CharLookUpXRef As xr ON clu.Id=xr.CharLookUpId
	WHERE xr.CharId=@CharId 
	ORDER BY clu.CharLookUpName ASC
END










GO
