USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsSerNumOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spIsSerNumOnPL]
	@ItemId as varchar(24), @SerNum as varchar(35), @PLNo as int
AS
BEGIN
	
	--DECLARE @ItemId as varchar(24) = 'FG-MRAS1129-PKT'
	--DECLARE @SerNum as varchar(35) = '00000008001-D-001'
	--DECLARE @PLNo as int = 1


	IF EXISTS (
				SELECT Id
				FROM [W005].[dbo].[ShipPackingListDetail]
				WHERE ItemId=@ItemId AND SerialNo=@SerNum --AND PLNo=@PLNo
				)
		BEGIN
				SELECT Top 1 PkgId, PLNo 
				FROM [W005].[dbo].[ShipPackingListDetail]
				WHERE ItemId=@ItemId AND SerialNo=@SerNum --AND PLNo=@PLNo
		END ELSE BEGIN
			SELECT PkgId = '', PLNo = null
		END
END
GO
