USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spProcessQueueReport]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spProcessQueueReport] @Date as Datetime
AS
BEGIN
	--Declare @Date as Datetime = '02/23/2018'

	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Production Post'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Shipment Verify'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Bill at Mfg Invoice'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Shipment Remote Warehouse'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Location Transfer'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Return To Inventory'
	UNION ALL 
	SELECT [Id],[Process],[sCommandLineParams],[sDatabaseServer],[sDatabase],[sParam1],[sParam2],[sParam3],[sParam4],[sParam5],[sParam6],[sParam7],[dtCreated],[dtProcessStarted],[dtProcessEnded],DateDiff(ss, dtProcessStarted, dtProcessEnded) as SecondstoProcess, [bHasErrors],[sErrors]
	FROM [W005].[dbo].[ProcessQueue]
	WHERE dtCreated >= @Date
		  AND Process = 'Production Kit Post'
	Order by Process, dtCreated desc

END
GO
