USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetNoDemandMaterialData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which returns data for material for which there is no demand.
CREATE PROCEDURE [dbo].[GetNoDemandMaterialData] (@material varchar(24), @location varchar(10))
AS
SELECT 
	itemView.ItemId,
	itemView.Descr,
	itemLoc.LocId,
	(SELECT [W005].dbo.ItemOnHandBalance(itemView.ItemId, itemView.ItemType, itemLoc.LocId)) AS [OnhandBalance],
	itemView.UomBase,
	itemView.UomDflt,
	itemUom.ConvFactor,
	itemLoc.QtySafetyStock,
	itemLoc.QtyOnHandMax,
	itemLoc.QtyOrderMin,
	itemLoc.DfltLeadTime,
	itemLoc.OrderQtyUom,
	itemLoc.QtyOrderPoint,
	(SELECT FirstName + ' ' + LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = itemView.cf_Buyer) AS [Buyer],
	vendor.Name AS [DefaultVendorName]
FROM [005].dbo.trav_tblInItem_view itemView
LEFT JOIN [005].dbo.tblInItemLoc itemLoc ON itemLoc.ItemId = itemView.ItemId
LEFT JOIN [005].dbo.tblInItemUom itemUom ON itemUom.ItemId = itemView.ItemId AND itemUom.Uom = itemView.UomDflt
LEFT JOIN [005].dbo.tblApVendor vendor ON vendor.VendorId = ItemLoc.DfltVendId
	WHERE itemView.ItemId = @material AND itemLoc.LocId = @location;
GO
