USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsCommScopeExtrItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spIsCommScopeExtrItem]
	 @ItemId as varchar(24)
AS
BEGIN

	SELECT CAST(CASE WHEN (
							SELECT I.ItemId
							FROM [005].[dbo].[tblInItem] I INNER JOIN [W005].[dbo].[LabelXItem] L On I.ItemId=L.ItemId
							WHERE I.ItemId=@ItemId AND
									 L.LabelName IN (SELECT  LabelName
													FROM [W005].[dbo].[Label]
													WHERE LabelTypeId=4 
															AND LabelName LIKE '%COMMSCOPE%' 
															AND Revision = (SELECT MAX([Revision]) FROM [W005].[dbo].[Label] where LabelTypeId=4 AND
																			LabelName LIKE '%COMMSCOPE%'))) Is Null
						THEN 0
						ELSE 1
						END
						as bit)
				as IsCommscopeItem

END
GO
