USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemValuesForProdChar]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spItemValuesForProdChar]
	@ItemId as varchar(24), @Characteristic as varchar(50)
AS
BEGIN

	SELECT CASE 
			WHEN c.DataType='Number' THEN p.nTarget
			WHEN c.DataType = 'String' THEN p.sTarget
			ELSE p.bTarget
		END As TargetValue,
		p.nMin As MinValue,p.nMax As MaxValue
	  FROM [W005].[dbo].[ProductChar] as p INNER JOIN [W005].[dbo].[Characteristic] as c ON p.CharId=c.Id
	  WHERE p.ItemId=@ItemId AND c.Characteristic=@Characteristic
	
END







GO
