USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBackorderCleanUp]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spBackorderCleanUp]


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
	SELECT D.TransId, D.EntryNum --, BBB = (D.OrigOrderQty - (D.OrigOrderQty * (C.[cf_Backorder Threshold]/100))), C.[cf_Backorder Threshold], 
	INTO #T1
	FROM [005].[dbo].[tblSoTransHeader] As H 
		INNER JOIN [005].[dbo].[tblSoTransDetail] As D ON H.TransId=D.TransId
		INNER JOIN [005].[dbo].[trav_tblArCust_view] as C ON C.CustId=H.CustId
	WHERE D.[Status]=0 and H.TransType=3  AND C.[cf_Backorder Threshold] Is Not null 
	GROUP BY D.TransId, D.EntryNum,D.OrigOrderQty,C.[cf_Backorder Threshold],D.QtyOrdSell
	HAVING D.QtyOrdSell <= (D.OrigOrderQty - (D.OrigOrderQty * (CAST(C.[cf_Backorder Threshold] as decimal(10,4))/100)))

--select * FROM #T1

--Drop table #T1

------------
DECLARE @TransId as varchar(8)
DECLARE @EntryNum as int

DECLARE iCur CURSOR 
FOR
	SELECT TransId,EntryNum
	FROM #T1

OPEN iCur 
FETCH NEXT FROM iCur INTO @TransId,@EntryNum
WHILE @@FETCH_STATUS = 0 
BEGIN
	DELETE FROM [005].[dbo].[tblSoTransDetail]
			WHERE TransId=@TransId 
			AND EntryNum=@EntryNum

	FETCH NEXT FROM iCur INTO @TransId,@EntryNum
END

CLOSE iCur  
DEALLOCATE iCur 
-------
DECLARE iCur2 CURSOR 
FOR
	SELECT TransId
	FROM #T1
OPEN iCur2 
FETCH NEXT FROM iCur2 INTO @TransId
WHILE @@FETCH_STATUS = 0 
BEGIN
	IF ((SELECT SUM(QtyOrdSell) FROM [005].[dbo].[tblSoTransDetail] WHERE TransId=@TransId) = 0)
			DELETE FROM [005].[dbo].[tblSoTransDetail] -- delete any remaining 0 ord qty line items
				WHERE TransId=@TransId 
			DELETE FROM [005].[dbo].[tblSoTransHeader] -- delete SO 
					WHERE TransId=@TransId

	FETCH NEXT FROM iCur2 INTO @TransId
END

CLOSE iCur2  
DEALLOCATE iCur2 
----------

--select * FROM #T1
Drop table #T1

END


--SELECT D.TransId, D.EntryNum
----INTO #T1
--FROM [005].[dbo].[tblSoTransHeader] As H 
--		INNER JOIN [005].[dbo].[tblSoTransDetail] As D ON H.TransId=D.TransId
--		--INNER JOIN [005].[dbo].[trav_tblArCust_view] as C ON C.CustId=H.CustId
--	WHERE D.[Status]=0 and H.TransType=3  --AND C.[cf_Backorder Threshold] Is Not null 
--	GROUP BY D.TransId, D.EntryNum,D.OrigOrderQty--,C.[cf_Backorder Threshold],D.QtyOrdSell
--	--HAVING (D.QtyOrdSell <= (D.OrigOrderQty - (D.OrigOrderQty * (C.[cf_Backorder Threshold]/100))))
GO
