USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGenerateFOCutListMRPData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIGenerateFOCutListMRPData] @ParentOrderNo as varchar(8)
AS
BEGIN
	DELETE FROM CCIParentOrderCutListMRP WHERE ParentOrderNo = @ParentOrderNo

	INSERT INTO CCIParentOrderCutListMRP 
	SELECT PCL.ParentOrderNo, ORI.OrderNo, ORI.ReleaseNo, ORI.Qty, ORI.MfgStartDate, ORI.MfgEndDate, CFFG.ItemId AS FGItemId, CFRM.ItemId AS RMItemId, PCL.UOM, Cast(SUM(CFRM.Layers * (PCL.MaterialLength*(CFFG.PctOfCutFile/100))) AS float) AS TotalMaterial, CAST(SUM((CFRM.Layers * (PCL.MaterialLength*(CFFG.PctOfCutFile/100)))/ORI.Qty) AS float) AS SingleCountMaterial
	  FROM [W005].[dbo].[CCIParentOrderCutList] PCL
	  INNER JOIN [W005].dbo.CCIOrderReleaseInfo ORI ON ORI.ParentOrderNo = PCL.ParentOrderNo
	  INNER JOIN [W005].dbo.CCICutFileRawMaterial CFRM ON CFRM.CCICutFileId = PCL.CCICutFileId
	  INNER JOIN [W005].dbo.CCICutFileKit CFFG ON CFFG.CCICutFileId = PCL.CCICutFileId AND CFFG.ItemId = ORI.ItemId
	WHERE PCL.ParentOrderNo = @ParentOrderNo AND IsPartsEdit = 0 AND IsOptional = 0
	GROUP BY PCL.ParentOrderNo, ORI.OrderNo, ORI.ReleaseNo, ORI.Qty, ORI.MfgStartDate, ORI.MfgEndDate, CFFG.ItemId, CFRM.ItemId, PCL.UOM
END


GO
