USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWSPCExportData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by CQA
	Returns all test data for SPC data export for @OrderNos
	Does not include Toray Pin data (SpoolNo=0)
*/

CREATE PROCEDURE [dbo].[spSWSPCExportData]
	@OrderNos varchar(MAX)	 -- list of Traverse OrderNos 
	

AS
BEGIN

--DECLARE @OrderNos varchar(MAX) = '00048380,57701'


DECLARE @Output TABLE (ProdOrderNo varchar(8), ReleaseNo int, ReleaseID int,SetID varchar(16),InvDescription varchar(50),Plant varchar(3),Machine varchar(25),MachineDescr varchar(255)
			,BatchNo varchar(25),TestTypeName varchar(50), TestDate datetime, SpoolNo int, SampleNo int, [Level] varchar(8), MeanMM decimal(20,10),MeanIN decimal(20,10)
			,MMPos1 decimal(20,10),MMPos2 decimal(20,10),MMPos3 decimal(20,10),MMPos4 decimal(20,10),MMPos5 decimal(20,10),INPos1 decimal(20,10),INPos2 decimal(20,10),INPos3 decimal(20,10),INPos4 decimal(20,10),INPos5 decimal(20,10)
			,TestedByName varchar(50),GageId varchar(25),GageName varchar(50))

-----------------------------------------

	DECLARE @OrdNo varchar(8)
	DECLARE iCur CURSOR  
	FOR
	SELECT splitdata
	FROM [dbo].[fnSplitString](@OrderNos,',') 
 
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @OrdNo
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		INSERT INTO @Output 
		SELECT th.ProdOrderNo, th.ReleaseNo, th.ReleaseID,th.SetID
			,th.InvDescription
			,th.CompID as Plant
			,th.Machine
			,th.MachineDescr
			,th.Batch + th.BatchSuffix AS BatchNo
			,TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
			,tgdd.TestDate
			,tgdd.SpoolNo
			,tgdd.SampleNo
			,IIF(tgdd.TestLevel =1,'Initial','Retest') AS [Level]
			,tgdd.MeanMM
			,tgdd.MeanIN
			,tgdd.MMPos1,tgdd.MMPos2,tgdd.MMPos3,tgdd.MMPos4,tgdd.MMPos5
			,tgdd.INPos1,tgdd.INPos2,tgdd.INPos3,tgdd.INPos4,tgdd.INPos5
			,tgdd.TestedByName
			,tgdd.GageId
			,tgdd.GageName
		FROM [W005].[dbo].[SW_TestHdr] th
			 LEFT JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
			 LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			 LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
		WHERE th.ProdOrderNo = @OrdNo
				AND tgdd.SpoolNo > 0 /* Do not include Pin data (SpoolNo=0) */

	FETCH NEXT FROM iCur INTO @OrdNo
 
	END
	CLOSE iCur  
	DEALLOCATE iCur 




SELECT * FROM @Output

	 
END
GO
