USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetReleasesForOpMethodProdOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetReleasesForOpMethodProdOrder]
	@OrderNo as varchar(8),
	@Step as int
AS
BEGIN
	--DECLARE @Step as integer = 1
	--DECLARE @OrderNo as varchar(8) = '00000059'

	SELECT DISTINCT R1.*
	FROM [005].dbo.[trav_tblMpOrderReleases_view] R1 
		INNER JOIN [005].dbo.tblMpRequirements RQ ON RQ.ReleaseId = R1.Id AND Step = @Step
		INNER JOIN [005].dbo.tblMpTimeSum T ON T.TransId = RQ.TransId AND T.Status < 6
		--LEFT JOIN [005].dbo.tblMpRequirements RQ1 ON RQ1.ReleaseId = R1.Id AND RQ1.Step = @Step-1
		--LEFT JOIN [005].dbo.tblMpTimeSum T1 ON T1.TransId = RQ1.TransId AND T1.Status < 6
	WHERE R1.OrderNo = @OrderNo AND @Step = 1 --AND (@Step = 1 OR (@Step > 1 AND T1.TransId IS NOT NULL))
	UNION
	SELECT DISTINCT R1.*
	FROM [005].dbo.[trav_tblMpOrderReleases_view] R1 
		INNER JOIN [005].dbo.tblMpRequirements RQ ON RQ.ReleaseId = R1.Id AND RQ.Step <= @Step
		INNER JOIN [005].dbo.tblMpTimeSum T ON T.TransId = RQ.TransId AND T.Status < 6
		INNER JOIN [W005].dbo.OrderReleaseEvent ORE ON ORE.OrderNo=R1.OrderNo AND ORE.ReleaseNo=R1.ReleaseNo AND (Event = 'End Manufacturing'  OR Event = 'Rework (Offline)')
	WHERE R1.OrderNo = @OrderNo AND @Step > 1
END
GO
