USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCQAPasswordValid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCQAPasswordValid] @EmpCode varchar(20), @Password varchar(20)
AS
BEGIN

--DECLARE @EmpCode varchar(20) = 'Agormley'
--DECLARE @Password varchar(20) = 'Password'


IF EXISTS (SELECT IsAdmin FROM [W005].[dbo].[CQA_Employee] WHERE EmployeeCode=@EmpCode AND Password=@Password)
BEGIN
	SELECT CAST(IsAdmin as bit) FROM [W005].[dbo].[CQA_Employee] WHERE EmployeeCode=@EmpCode AND Password=@Password
END ELSE
BEGIN
	Select CAST(0 As bit)
END



END
GO
