USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDoesQuoteAssemblyHaveOperationId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDoesQuoteAssemblyHaveOperationId] 
	@QuoteAssemblyNum int, @OperationId varchar(10)
AS

BEGIN

--DECLARE @QuoteAssemblyNum int = 1
--DECLARE @OperationId varchar(10) = 'SPOOLING'


	SELECT CAST(IIF(o.QuoteOperationNum is null, 0,1) as bit) As DuplicateOpId
	FROM [W005].[dbo].[QuoteAssembly] a LEFT JOIN [W005].[dbo].[QuoteOperation] o ON a.QuoteAssemblyNum=o.QuoteAssemblyNum AND o.OperationId=@OperationId
	WHERE  a.QuoteAssemblyNum = @QuoteAssemblyNum 



END
GO
