USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineSerNumBilled]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderLineSerNumBilled]
	@BLNo as int, @ItemId as varchar(24)  

AS
BEGIN

		--DECLARE @BLNo as int = 18
		--DECLARE @ItemId as varchar(24) = 'FG-TORA15AF-PAD'

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, P.ShipPalletNo as Pkg, sbld.Id AS SPDtlId
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipPallet] As P ON sbld.ShipPalletId=P.Id
			INNER JOIN [ShipItem] As I ON I.ShipPalletId=sbld.ShipPalletId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			sbld.ShipCartonId is null AND sbld.ShipBoxId is null AND sbld.ShipItemId is null
			
		UNION ALL
		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, P.ShipPalletNo as Pkg, sbld.Id AS SPDtlId
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipPallet] As P ON sbld.ShipPalletId=P.Id
			INNER JOIN [ShipItem] As I ON I.ShipPalletId=sbld.ShipPalletId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			sbld.ShipCartonId is null AND sbld.ShipBoxId is null AND sbld.ShipItemId is null
			
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, C.ShipCartonNo as Pkg, sbld.Id AS SPDtlId
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipCarton] As C ON sbld.ShipCartonId=C.Id
			INNER JOIN [ShipItem] As I ON I.ShipCartonId=sbld.ShipCartonId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			sbld.ShipPalletId is null AND sbld.ShipBoxId is null AND sbld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, B.ShipBoxNo as Pkg, sbld.Id AS SPDtlId
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipBox] As B ON sbld.ShipBoxId=B.Id
			INNER JOIN [ShipItem] As I ON I.ShipBoxId=sbld.ShipBoxId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			sbld.ShipPalletId is null AND sbld.ShipCartonId is null AND sbld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravSerNum, I.Quantity AS Qty, I.ShipItemNo as Pkg, sbld.Id AS SPDtlId
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipItem] As I ON I.Id=sbld.ShipItemId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND ItemAssignedInShipVerify=0 AND
			sbld.ShipPalletId is null AND sbld.ShipCartonId is null AND sbld.ShipBoxId is null
		

END
GO
