USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIAMRASRawMaterialParentOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIAMRASRawMaterialParentOrder] @ParentOrderList NVARCHAR(MAX)
	
AS
BEGIN

--DECLARE @ParentOrderList NVARCHAR(MAX) = 'P0013262'
DECLARE @ParentOrdTable Table (POrdNo NVARCHAR(MAX))

INSERT INTO @ParentOrdTable SELECT * FROM [w005].[dbo].[fnSplitString](@ParentOrderList,',')

--SELECT * FROM @ParentOrdTable
DECLARE @tRM Table ([Supplier Kit ID] varchar(35),[MR Part #] varchar(35),[Tag ID] varchar(25),[Roll Material] varchar(24),[Lot No] varchar(20),
                    [Roll No] varchar(20),[Expr Date] varchar(20),[Ship Date] varchar(20))

DECLARE @POrdNo varchar(8)
DECLARE @SerialNo varchar(16)
--DECLARE @POrdNo as varchar(8) = 'P0013262'
--DECLARE @SerialNO as varchar(20) = '00027640031-E-002'
DECLARE @SupplierKitID varchar(35)
DECLARE @MRPartNo varchar(35)
DECLARE @TagID varchar(25)
DECLARE @RollMaterial varchar(24)
DECLARE @ExpDate date
DECLARE @LotNo varchar(25)
DECLARE @RollNo varchar(25)
DECLARE @ShipDate date


DECLARE iTblCur CURSOR  
FOR
	SELECT POrdNo FROM @ParentOrdTable

OPEN iTblCur
FETCH NEXT FROM iTblCur INTO @POrdNo
WHILE @@FETCH_STATUS = 0 
BEGIN
	DECLARE iCur CURSOR  
	FOR
                 SELECT orei.TravSerNum As SupplierKitID
                           ,MRPartNo = (SELECT [Descr] FROM [005].[dbo].[tblInItem] WHERE ItemId=orei.ItemId)
                           ,TagID = IsNULL(orei.[CustRFIDTag],'')
						   ,RollMaterial = (SELECT AliasID  FROM [005].[dbo].[trav_tblInItemAlias_View]  
                                                WHERE AliasType=1  AND ItemID=o.RMItemId
                                                AND RefID = (SELECT CustId FROM [W005].[dbo].[Program] WHERE Id= (SELECT DISTINCT ProgramId FROM [W005].[dbo].[CCIParentOrderCutList] WHERE ParentOrderNo=@POrdNo))
                                                AND [cf_FG Program]= (SELECT DISTINCT Program FROM [W005].[dbo].[CCIParentOrderCutList] WHERE ParentOrderNo=@POrdNo))
						  , LotNo =  IIF(PatIndex('%/%',o.RMSerialNo)=0,o.RMSerialNo, substring(o.RMSerialNo, 1, PatIndex('%/%',o.RMSerialNo) - 1))
						   ,RollNo =  IIF(PatIndex('%/%',o.RMSerialNo)=0, NULL, substring(o.RMSerialNo, PatIndex('%/%',o.RMSerialNo)+1, Len(o.RMSerialNo)))
						   ,ExpDate = k.ExpDate
                           ,ShipDate = (select ShipDate from [dbo].[ShipPackingListDetail] D inner join [dbo].[ShipPackingList] L ON L.PlNo = D.PLNo  where SerialNO = orei.TravSerNum)   
                       
              FROM [W005].[dbo].[OrderReleaseEventItem] orei
                           INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON orei.OrderReleaseEventId=ore.Id
                           INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] o ON O.OrderReleaseEventItemId = orei.Id
                           INNER JOIN [W005].[dbo].[vCCIKitRawMaterialExpDt] k ON o.RMItemId=k.RMItemId AND o.RMSerialNo=k.RMSerialNo AND k.OrderNo=@POrdNo 
              WHERE ore.OrderNo=@POrdNo AND orei.IsAssembly=1
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @SupplierKitID, @MRPartNo, @TagID,@RollMaterial,@LotNo,@RollNo,@ExpDate,@ShipDate
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		INSERT INTO @tRM([Supplier Kit ID],[MR Part #],[Tag ID],[Roll Material],[Lot No], [Roll No],[Expr Date] ,[Ship Date])
				VALUES (@SupplierKitID, @MRPartNo,@TagID,@RollMaterial,@LotNo,@RollNo,@ExpDate,@ShipDate)
		FETCH NEXT FROM iCur INTO @SupplierKitID, @MRPartNo, @TagID,@RollMaterial,@LotNo,@RollNo,@ExpDate,@ShipDate
	END
    CLOSE iCur 
    DEALLOCATE iCur


FETCH NEXT FROM iTblCur INTO @POrdNo

END
CLOSE iTblCur 
DEALLOCATE iTblCur 

select [Supplier Kit ID] ,[MR Part #] ,[Tag ID] ,[Roll Material] ,[Lot No] ,
                    [Roll No] ,[Expr Date],[Ship Date]  from @tRM
					order by [Supplier Kit ID],[Lot No] ,
                    [Roll No] 
END
GO
