USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spValidLocIdForItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spValidLocIdForItemId] @ItemId varchar(24), @LocId varchar(10)
	
AS
BEGIN

--DECLARE @ItemId varchar(24) = 'FG-MRAS1146-SPL'
--DECLARE @LocId varchar(10) = 'INVDTN'


IF EXISTS (
			SELECT * 
			FROM [005].dbo.tblInItemLoc 
			WHERE ItemId= @ItemId AND LocId = @LocId
			)
BEGIN
	SELECT CAST(1 as bit) AS ValidLocId
END ELSE
BEGIN
	SELECT CAST(0 as bit) AS ValidLocId
END




END





GO
