USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOREIDataForPacking]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[spOREIDataForPacking]
@OrderNo As varchar(8), @RelNo As int, @OREId As int, @LocId As varchar(10),@ItemId As varchar(24)

AS
BEGIN
--Declare @ItemId  varchar(30) = 'AERO-LD-YL375'
--Declare @LocId varchar(30) = 'INVENTORY'
--Declare @OrderNo varchar(30) = '00053507'
--Declare @RelNo varchar(30) = 3
--Declare @OREId as int = 781885

--Declare @ItemId  varchar(30) = 'POLY175-BU-375'
--Declare @LocId varchar(30) = 'INVENTORY'
--Declare @OrderNo varchar(30) = 00053415
--Declare @RelNo varchar(30) = 87
--Declare @OREId varchar(30) = 0

--		Declare @AllowUnpackedQRNItems as bit
--		select @AllowUnpackedQRNItems = Pr.bTarget from [w005].dbo.ProductChar as pr 
--		inner join [W005].[dbo].[ShipItem] as I ON I.ItemId = pr.ItemId
--		inner join [w005].dbo.Characteristic as C ON C.Id = pr.CharId
--		where pr.ItemId = @ItemId  and C.Characteristic = 'AllowUnpackedQRNItems'

--IF (@AllowUnpackedQRNItems = 1)
--BEGIN
--		SELECT DISTINCT OREI.[Id]
--		,I.[OREIId]
--		,OREI.[OrderReleaseEventId]
--		,OREI.[ItemId]
--		,OREI.[LocId]
--		,OREI.[IsAssembly]
--		,OREI.[SerialNo]
--		,OREI.[LotNo]
--		,OREI.[TravLotNum]
--		,OREI.[MfgDate]
--		,OREI.[FGExpDate]
--		,OREI.[MpOrderMatIssuedId]
--		,OREI.[Qty]
--		,OREI.[UOM]
--		,OREI.[MRLengthCounter]
--		,OREI.[PLCLengthCounter]
--		,OREI.[HeadPos]
--		,OREI.[CutPos]
--		,OREI.[Slitter2SpoolOffset]
--		,OREI.[PrevOrderReleaseEventItemId]
--		,OREI.[TotalQty]
--		,OREI.[TotalWaste]
--		,OREI.[TotalQtyConsumed]
--		,OREI.[TotalQtyRemaining]
--		,OREI.[ReturnedLocId]
--		,OREI.[EventDateTime]
--		,OREI.[TravMatDtlSaved]
--	FROM ([W005].[dbo].[OrderReleaseEventItem] As OREI INNER JOIN [W005].[dbo].[OrderReleaseEvent] As ORE ON ORE.Id=OREI.OrderReleaseEventId)
--		LEFT JOIN [W005].[dbo].[ShipItem] As I ON I.OREIId=OREI.Id
--	WHERE  OREI.IsAssembly=1  AND OREI.LocId=@LocId AND OREI.TotalQty>0
--			AND ORE.Event =  'Start Manufacturing'
--			AND I.ItemId = @ItemId
--			AND (I.ShipPalletId is null and I.ShipCartonId is null and I.ShipBoxId is null)
--	ORDER BY OREI.SerialNo ASC

--END
--ELSE
--BEGIN
	SELECT DISTINCT OREI.[Id]
		,I.[OREIId]
		,OREI.[OrderReleaseEventId]
		,OREI.[ItemId]
		,OREI.[LocId]
		,OREI.[IsAssembly]
		,OREI.[SerialNo]
		,OREI.[LotNo]
		,OREI.[TravLotNum]
		,OREI.[MfgDate]
		,OREI.[FGExpDate]
		,OREI.[MpOrderMatIssuedId]
		,OREI.[Qty]
		,OREI.[UOM]
		,OREI.[MRLengthCounter]
		,OREI.[PLCLengthCounter]
		,OREI.[HeadPos]
		,OREI.[CutPos]
		,OREI.[Slitter2SpoolOffset]
		,OREI.[PrevOrderReleaseEventItemId]
		,OREI.[TotalQty]
		,OREI.[TotalWaste]
		,OREI.[TotalQtyConsumed]
		,OREI.[TotalQtyRemaining]
		,OREI.[ReturnedLocId]
		,OREI.[EventDateTime]
		,OREI.[TravMatDtlSaved]
		,OREI.[Rewind]
	  
	FROM ([W005].[dbo].[OrderReleaseEventItem] As OREI INNER JOIN [W005].[dbo].[OrderReleaseEvent] As ORE ON ORE.Id=OREI.OrderReleaseEventId)
		LEFT JOIN [W005].[dbo].[ShipItem] As I ON OREI.Id=I.OREIId

	WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@RelNo AND (ORE.Event='Start Manufacturing' OR ORE.Event='Rework (Offline)')  AND ORE.Id<@OREId
		AND OREI.IsAssembly=1 AND OREI.LocId=@LocId AND OREI.TotalQty>0
	ORDER BY OREI.CutPos ASC
 END 

--  END
GO
