USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCAndDCartonLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Insert into LabelPrintJobHeader (PrintJobId,CtnId,ItemId)
CREATE PROCEDURE [dbo].[WebCAndDCartonLabel]
	@PrintJobId as int,
	@CtnId as int,
	@ItemId as varchar(24)

AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE @CtnId as int = 197970
--DECLARE @ItemId as varchar(24) = 'MD-CD-PTKBI'


DECLARE @ItemType varchar(12)
SET @ItemType = (SELECT IIF(ItemType=2, 'Serialized'
							, IIF([cf_Multi-UOM Serial Item]=1, 'Multi-UOM'
									, IIF(LottedYN=1 AND ([cf_Multi-UOM Serial Item] is NULL OR [cf_Multi-UOM Serial Item]=0), 'Lotted', 'NonLotNonSer'))) AS ItemType
					FROM [005].[dbo].[trav_tblInItem_view]
					WHERE ItemId=@ItemId)

DECLARE @DOM AS datetime
SET @DOM = (SELECT MIN(MfgDate) FROM [W005].[dbo].[ShipItem] SI 
									INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.Id = SI.OREIId
									WHERE SI.ShipCartonId = @CtnId AND orei.MfgDate is not null)


DECLARE @FGExpDate AS datetime
SET @FGExpDate = (SELECT MIN(FGExpDate) FROM [W005].[dbo].[ShipItem] SI 
									INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.Id = SI.OREIId
									WHERE SI.ShipCartonId = @CtnId AND orei.MfgDate is not null)

IF @ItemType =  'Multi-UOM'
BEGIN
	SELECT PO,SO,QTY = SUM(B.Qty),CustomerPN,Descr,LotNo,SAP,DOM,FGExpDate 
	FROM
	/* DEV NOTE: This outer Select From B was put in to prevent the return of mulitple records, the below Select reuturned records with diff qty, would not sum ALL A.Quantity in one value!  Tried numerous fixes.AG 1/23/26*/
	(	SELECT 
			PO = IsNull(R.PurchaseOrder,RH.PurchaseOrder)
			,SO = IsNull(R.SalesOrder,RH.SalesOrder)
			,QTY = SUM(A.Quantity)
			,A.CustomerPN
			,A.Descr
			,A.LotNo
			,SAP = V.[cf_Product Lot Designation] + SUBSTRING(CAST(YEAR(@DOM) AS VARCHAR(4)), 4, 1) + RIGHT('000'+ CAST(datepart(dy, @DOM) AS VARCHAR(3)), 3)
			,DOM = @DOM
			,FGExpDate = @FGExpDate
		FROM
		(
			SELECT  
				E.OrderNo
				,E.ReleaseNo
				,SI.Quantity
				,CustomerPN = I.ItemId
				,I.Descr
				,LotNo = E.OrderNo 
				,SC.Id AS ShipCtnId
			FROM [W005].[dbo].[ShipCarton] SC
				INNER JOIN [W005].[dbo].[ShipItem] SI ON SC.Id = SI.ShipCartonId
				INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
				INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId
			WHERE SC.Id = @CtnId AND  SI.ItemId = @ItemId
			GROUP BY E.OrderNo,E.ReleaseNo,SI.Quantity,Descr,E.OrderNo,I.ItemId,SC.Id  
		) AS A
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = A.OrderNo AND R.ReleaseNo = A.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = A.OrderNo AND RH.ReleaseNo = A.ReleaseNo
		LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS V ON V.ItemId = A.CustomerPN AND V.AliasType = 1 AND (V.RefID = R.CustId OR V.RefID = RH.CustId)
		GROUP BY A.CustomerPN,A.Descr,A.LotNo,R.PurchaseOrder,R.SalesOrder,RH.PurchaseOrder, RH.SalesOrder,ShipCtnId,V.[cf_Product Lot Designation]
	)B
	GROUP BY PO,SO,CustomerPN,Descr,LotNo, SAP,DOM,FGExpDate
END
ELSE 
IF @ItemType =  'Lotted'
BEGIN
	SELECT 
		PO = IsNull(R.PurchaseOrder,RH.PurchaseOrder)
		,SO = IsNull(R.SalesOrder,RH.SalesOrder)
		,QTY = A.Quantity
		,A.CustomerPN
		,A.Descr
		,A.LotNo
		,SAP = V.[cf_Product Lot Designation] + SUBSTRING(CAST(YEAR(@DOM) AS VARCHAR(4)), 4, 1) + RIGHT('000'+ CAST(datepart(dy, @DOM) AS VARCHAR(3)), 3)
		,DOM = @DOM
		,FGExpDate = @FGExpDate
		,A.ShipCtnId
	FROM
	(
		SELECT 
			SI.ProdOrderNo AS OrderNo
			,SI.ProdOrderRelNo AS ReleaseNo
			,SUM(SI.Quantity) AS Quantity
			,CustomerPN = I.ItemId
			,I.Descr
			,LotNo = SI.ProdOrderNo  
			,SC.Id AS ShipCtnId
		FROM [W005].[dbo].[ShipCarton] SC
			INNER JOIN [W005].[dbo].[ShipItem] SI ON SC.Id = SI.ShipCartonId
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId
		WHERE SC.Id = @CtnId AND SI.ItemId = @ItemId
		GROUP BY SI.ProdOrderNo,SI.ProdOrderRelNo,Descr,I.ItemId,SC.Id
	) AS A
	INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=A.OrderNo AND E.ReleaseNo=A.ReleaseNo
	LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS V ON V.ItemId = A.CustomerPN AND V.AliasType = 1 AND (V.RefID = R.CustId OR V.RefID = RH.CustId)
	GROUP BY A.CustomerPN,A.Descr,A.LotNo,A.Quantity,R.PurchaseOrder,R.SalesOrder,RH.PurchaseOrder, RH.SalesOrder,ShipCtnId, V.[cf_Product Lot Designation]
END


END
GO
