USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCISerialBagLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCISerialBagLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId int, @BagNum AS varchar(24)
AS
BEGIN

/*
DECLARE @PrintJobId int = 1
DECLARE @OrderNo AS varchar(8) = '00026604'
DECLARE @ReleaseNo AS int = 2
DECLARE @OrderReleaseEventItemId int = 7724
DECLARE @BagNum AS varchar(24) = 'BAG 1'
*/

--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00028686'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId int = 31843
--DECLARE @BagNum AS varchar(24) = 'BAG 1'

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

SELECT	 C.OrderNo
				,C.ReleaseNo
				,C.RevisionNo
				,C.ItemId
				,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				,JobNo = C.ParentOrderNo
				,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				,CustId = ISNULL(M.CustId,MHist.CustId)
				,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=M.CustId OR CustId=MHist.CustId)
				,CustPN = ISNULL((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE (RefID=M.CustId OR RefID=MHist.CustId) AND ItemID=C.ItemId), C.ItemId)
				,TotalCountOfUnits = (SELECT Count(TravSerNum) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum)
				
				,Barcode = (SELECT Cast(Count(TravSerNum) as varchar(3))+'|' FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum) +
				          (SELECT CAST(ISNULL(ItemId, '')+'|'+ISNULL(TravSerNum,'')+'|'+ISNULL(TravLotNum,'')+'|' as varchar(100)) AS [text()] FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum ORDER BY 1 ASC FOR XML PATH(''))
				
				,NewBarcode = (SELECT Cast(Count(TravSerNum) as varchar(3))+'|' FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum) 
							  + C.ItemId + '|' + 'BAGID' + '|' + CAST(KBD.CCIKitBagId AS VARCHAR(max))
				
				,@BagNum AS BagNum
				,FGSerialNoRange = (SELECT TOP 1 ISNULL(TravSerNum, SerialNo) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum ORDER BY Id ASC) 
				                   + ' -> ' +
								   (SELECT TOP 1 ISNULL(TravSerNum, SerialNo) FROM [W005].[dbo].[OrderReleaseEventItem] WHERE OrderReleaseEventId=OREI.OrderReleaseEventId AND IsAssembly = 1 AND MultiKitPerBagNum = OREI.MultiKitPerBagNum ORDER BY Id DESC) 
	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS I ON I.OrderNo=C.ParentOrderNo
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id = I.Id
			LEFT JOIN [W005].[dbo].[CCIKitBagDetail] KBD ON KBD.OrderReleaseEventItemId=OREI.Id
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and I.IsAssembly=1 and (@OrderReleaseEventItemId is null or I.Id = @OrderReleaseEventItemId) 


END


GO
