USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spAllItemsOnSOInLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spAllItemsOnSOInLocId]
	@OrderNo as varchar(8), @LocId as varchar(10)
AS
BEGIN

	--declare @LocId as varchar(10) = 'RW_IRL'
	--declare @OrderNo as varchar(8) ='00005682'


	SELECT TransId As SOTransId		
	FROM   [005].[dbo].[tblSoTransHeader] 
	WHERE (LocId Is Null OR LocId != @LocId) AND (TransId = @OrderNo)

	UNION ALL

	SELECT TransId As SOTransId		
	FROM  [005].[dbo].[tblSoTransDetail] 
	WHERE (LocId Is Null OR LocId != @LocId) AND (TransId = @OrderNo) AND [Status]=0


	

END
GO
