USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipItemExistsForShipPallet]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[spShipItemExistsForShipPallet]
	@ShipPalletId as varchar(24), @ItemId as varchar(24)
AS
BEGIN

		SELECT I.Id
		FROM [W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId
		Where P.Id=@ShipPalletId AND I.ItemId=@ItemId
		
	
END








GO
