USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSalesOrderDetails]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spSalesOrderDetails] @SalesOrder AS VARCHAR(8)
AS
BEGIN

--DECLARE @SalesOrder AS VARCHAR(8) = '00001527'

SELECT DISTINCT 
		TransID, 
		EntryNum, 
		ItemJob, 
		LocId, 
		ItemId, 
		JobId, 
		PhaseId, 
		JobCompleteYN, 
		ItemType, 
		Descr, 
		AddnlDescr, 
		CustPOLine,
		CustPO,
		CustRevNo,
		[cf_Revision No],
		CatId, 
		TaxClass, 
		AcctCode, 
		GLAcctSales, 
		GLAcctCOGS, 
		GLAcctInv, 
		QtyOrdSell, 
		UnitsSell, 
		UnitsBase, 
		QtyShipSell, 
		QtyShipBase, 
		QtyBackordSell, 
		PriceID, 
		UnitPriceSell, 
		UnitPriceSellFgn, 
		UnitCostSell, 
		UnitCostSellFgn, 
		NULL AS PriceExt, 
		NULL AS PriceExtFgn, 
		NULL AS CostExtFgn, 
		NULL AS CostExt, 
		PromoID,
		ReqShipDate, 
		ActShipDate, 
		EffectiveRate, 
		OrigOrderQty, 
		BinNum, 
		ConversionFactor, 
		LottedYN, 
		InItemYN, 
		HistSeqNum, 
		GrpId, 
		Kit, 
		KitQty, 
		KitQtyBackOrdered,
		LineSeq,
		NULL AS Rep1Id,
		NULL AS Rep1Pct,
		NULL AS Rep1CommRate,
		NULL AS Rep2Id,
		NULL AS Rep2Pct,
		NULL AS Rep2CommRate,
		NULL AS UnitCommBasis,
		NULL AS UnitCommBasisFgn,
		PriceAdjType,
		PriceAdjAmt,
		PriceAdjAmtFgn,
		Status,
		TotQtyOrdSell,
		TotQtyShipSell,
		ResCode,
		UnitPriceSellBasis,
		UnitPriceSellBasisFgn,
		BlanketDtlRef,
		BOLNum
FROM (
	SELECT 
		D.TransID, 
		EntryNum, 
		ItemJob, 
		D.LocId, 
		ItemId, 
		JobId, 
		PhaseId, 
		JobCompleteYN, 
		ItemType, 
		Descr, 
		CAST(AddnlDescr AS varchar(MAX)) AS AddnlDescr, 
		[cf_Customer PO Line] AS CustPOLine,
		H.CustPONum AS CustPO,
		[cf_Customer Revision No] AS CustRevNo,
		[cf_Revision No],
		CatId, 
		TaxClass, 
		AcctCode, 
		GLAcctSales, 
		GLAcctCOGS, 
		GLAcctInv, 
		QtyOrdSell, 
		UnitsSell, 
		UnitsBase, 
		QtyShipSell, 
		QtyShipBase, 
		QtyBackordSell, 
		PriceID, 
		UnitPriceSell, 
		UnitPriceSellFgn, 
		UnitCostSell, 
		UnitCostSellFgn, 
		PriceExt, 
		PriceExtFgn, 
		CostExtFgn, 
		CostExt, 
		PromoID,
		D.ReqShipDate, 
		D.ActShipDate, 
		EffectiveRate, 
		OrigOrderQty, 
		BinNum, 
		ConversionFactor, 
		LottedYN, 
		InItemYN, 
		HistSeqNum, 
		GrpId, 
		Kit, 
		KitQty, 
		KitQtyBackOrdered,
		LineSeq,
		D.Rep1Id,
		D.Rep1Pct,
		D.Rep1CommRate,
		D.Rep2Id,
		D.Rep2Pct,
		D.Rep2CommRate,
		UnitCommBasis,
		UnitCommBasisFgn,
		PriceAdjType,
		PriceAdjAmt,
		PriceAdjAmtFgn,
		Status,
		TotQtyOrdSell,
		TotQtyShipSell,
		ResCode,
		UnitPriceSellBasis,
		UnitPriceSellBasisFgn,
		BlanketDtlRef,
		BOLNum
	FROM [005].[dbo].[tblSoTransHeader] H
		 INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] D ON D.TransID=H.TransId
	WHERE H.TransId = @SalesOrder
UNION ALL
	SELECT 
		D.TransID, 
		EntryNum, 
		ItemJob, 
		D.WhseId AS LocId, 
		PartId AS ItemId, 
		JobId, PhaseId, 
		JobCompleteYN, 
		PartType AS ItemType, 
		[Desc] AS Descr, 
		CAST(AddnlDesc AS varchar(MAX)) AS AddnlDescr, 
		[cf_Customer PO Line] AS CustPOLine,
		H.CustPONum AS CustPO,
		[cf_Customer Revision No] AS CustRevNo,
		[cf_Revision No], 
		CatId, 
		TaxClass, 
		AcctCode, 
		GLAcctSales, 
		GLAcctCOGS, 
		GLAcctInv, 
		QtyOrdSell, 
		UnitsSell, 
		UnitsBase, 
		QtyShipSell, 
		QtyShipBase, 
		QtyBackordSell, 
		PriceID, 
		UnitPriceSell, 
		UnitPriceSellFgn, 
		UnitCostSell, 
		UnitCostSellFgn, 
		PriceExt, 
		PriceExtFgn, 
		CostExtFgn, 
		CostExt, 
		PromoID,
		D.ReqShipDate, 
		ActShipDate, 
		EffectiveRate, 
		OrigOrderQty, 
		BinNum, 
		ConversionFactor, 
		LottedYN, 
		InItemYN, 
		HistSeqNum, 
		GrpId, 
		Kit, 
		KitQty, 
		NULL AS KitQtyBackOrdered,
		LineSeq,
		D.Rep1Id,
		D.Rep1Pct,
		D.Rep1CommRate,
		D.Rep2Id,
		D.Rep2Pct,
		D.Rep2CommRate,
		UnitCommBasis,
		UnitCommBasisFgn,
		PriceAdjType,
		PriceAdjAmt,
		PriceAdjAmtFgn,
		Status,
		TotQtyOrdSell,
		TotQtyShipSell,
		ResCode,
		UnitPriceSellBasis,
		UnitPriceSellBasisFgn,
		BlanketDtlRef,
		BOLNum
	FROM [005].[dbo].[tblArHistHeader] H
		 INNER JOIN [005].[dbo].[trav_tblArHistDetail_view] D ON D.TransID=H.TransId
	WHERE H.TransId = @SalesOrder
) A
WHERE QtyOrdSell > 0  AND Status = 0 AND InItemYN = 1 --AND TransID = 00001270


END


GO
