USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrPalletsOnHand]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spExtrPalletsOnHand]
	@FromItem As varchar(24), @ToItem As varchar(24),
	@FromDate as datetime, @ToDate As datetime,
	@ProductLine as varchar(12),
	@MachineGroupId as varchar(10),
	@Complete as varchar(2)
AS
BEGIN

--Declare @FromItem As varchar(24) = 'BT-1S-BK-F3'
--Declare @ToItem As varchar(24) = 'ZZ-9S-BU'
--Declare @FromDate as datetime = '9/1/16'
--Declare @ToDate As datetime = '10/15/16'
--Declare @ProductLine as varchar(12) = ''
--Declare @MachineGroupId as varchar(10) = ''
--Declare @Complete as varchar(2) = -1

		SELECT DISTINCT P.Id,I.ItemId,P.ShipPalletNo, P.DateCreated As MfrDate,P.GrossWt,P.TOPSforExtruding As TOPS,I.UOM,I.Location,
				ReadyToPost = (SELECT TOP 1 ReadyToPost FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id ORDER BY Id DESC),
				P.Complete,
				Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id),
				NoRolls =  (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=P.Id), 
				I.TravLotNum,
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo 
						FROM ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				OpInit = STUFF
				(
					(
						SELECT DISTINCT '/' + I.OpInit
						FROM ShipItem as I
						WHERE I.ShipPalletId=P.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				P.SalesOrderNo
		FROM 
			[005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
				Inner Join [005].[dbo].[tblInItem] As ii ON ah.AssemblyId=ii.ItemId inner join
				([W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId) On ii.ItemId=I.ItemId
				LEFT JOIN [W005].[dbo].[ShipPackingListDetail] D ON P.Id=D.ShipPalletId
		WHERE ar.MachineGroupId  like 'EXT%' 
				AND ah.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=ah.AssemblyId)
				AND (ii.ItemId Between @FromItem And @ToItem)
				AND (P.DateCreated Between @FromDate And @ToDate)
				AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
				AND (P.Shipped=0) AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 AND P.Deleted=0
				AND ii.ProductLine Like
					CASE WHEN len(@ProductLine) = 0 THEN '%'
					ELSE @ProductLine
					END
				AND ar.MachineGroupId Like
					CASE WHEN len(@MachineGroupId) = 0 THEN '%'
					ELSE @MachineGroupId
					END
				AND P.Id Not In (SELECT PalletId FROM [W005].[dbo].[ExtrAdjustmentsNeeded])
				AND D.Id Is null
				AND P.Complete Like
				CASE WHEN @Complete = -1 THEN '%'
					ELSE @Complete
					END
	
END
GO
