USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCartonLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCartonLabel] @CtnId as int
AS
BEGIN
	--Declare @CtnId as Int
	--Set @CtnId = 81523

DECLARE  @Mfgdate as date
SET  @Mfgdate = (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN 
						(SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId))

SELECT DISTINCT ProdOrders, ReleaseNo, ProdOrdRelSetNos, Descr, ShipPalletNo, ShipCartonNo, PurchaseOrder, AliasID, CustomerPN, Operators, OpInitials, Lots, CurWoodLots,
				ItemId, ItemCnt, Width, WidthIN, WidthMM, GrossWt, Quantity, TotalQtyMFT, TotalLength, TotalLengthUOM, TotalWeight, TotalArea, TotalAreaUOM,
				MfgDate, ExpDate, LotNumRadSure, LotNumRadSureBarCode, /*EXPDateRadSure,*/ EXPDateRadSureBarCode, MRSerialNo, MRLotNo,
				LengthByLabelLengthUOM = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE S.ShipCartonId = @CtnId) / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.ItemId and U.Uom = A.LabelLengthUOM), 
				LabelLengthUOM
FROM (
	SELECT	DISTINCT 
			ProdOrders = STUFF((SELECT DISTINCT '/' + SI1.ProdOrderNo FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			ReleaseNo = STUFF((SELECT DISTINCT '/' + CAST(SI1.ProdOrderRelNo as varchar) FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			ProdOrdRelSetNos = STUFF((SELECT DISTINCT '/' + RIGHT(SI1.ProdOrderNo, 6) +'-'+RIGHT('00'+CAST(SI1.ProdOrderRelNo AS VARCHAR(3)),2) FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			I.Descr, 
			Sp.ShipPalletNo,
			SC.ShipCartonNo, 
			IsNull(R.PurchaseOrder,RH.PurchaseOrder) As PurchaseOrder,
			AliasID = (SELECT DISTINCT IA.AliasID FROM [005].[dbo].[tblInItemAlias] as IA WHERE IA.ItemID=I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)),
			CustomerPN = STUFF((SELECT DISTINCT '/' + iia.AliasID FROM [005].[dbo].[tblInItemAlias] as iia WHERE iia.ItemID=I.ItemId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			Operators = STUFF((SELECT DISTINCT '/' + i.OpInit FROM [W005].[dbo].[ShipItem] as i WHERE ShipCartonId  = @CtnId And Opinit is not null FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			OpInitials = (SELECT SUBSTRING(EMP.FirstName, 1, 1)+SUBSTRING(EMP.LastName, 1, 1)
							FROM [005].[dbo].[tblSmEmployee] EMP 
							WHERE EMP.EmployeeId=SI.OpInit OR EMP.SocialSecurityNo=SI.OpInit),
			Lots = STUFF((SELECT DISTINCT '/' + i.LotNo FROM [W005].[dbo].[ShipItem] as i WHERE ShipCartonId  = @CtnId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			CurWoodLots = Right(STUFF((SELECT DISTINCT '/' + SI1.ProdOrderNo FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),5),
			I.ItemId,
			ItemCnt = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipCartonId = SC.Id),
			LabelLengthUOM = (SELECT DISTINCT P.sTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
							WHERE P.ItemId=I.ItemId),
			ISNull(P.nTarget, P1.nTarget) as Width,
			PP.nTarget as WidthMM,
			P.nTarget as WidthIN,			
			SC.GrossWt,
			SI.Quantity,
			TotalQtyMFT = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE S.ShipCartonId = SC.Id)/(SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'MFT'),
			TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId),
			TotalLengthUOM = I.UomBase,
			TotalWeight = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB')),
			TotalArea = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'SM')),
			TotalAreaUOM = 'SM',
			MfgDate = (SELECT MIN(I.MfgDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)),
			ExpDate = (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)),
		    LotNumRadSure = IIF(A.[cf_Product Lot Designation] IS NULL, '', (SELECT DISTINCT SUBSTRING(SI1.ProdOrderNo,3,6) FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id)+A.[cf_Product Lot Designation]),
			LotNumRadSureBarCode = IIF(A.[cf_Product Lot Designation] IS NULL, '', '&-'+(SELECT DISTINCT SUBSTRING(SI1.ProdOrderNo,3,6) FROM [W005].[dbo].[ShipItem] as SI1 WHERE SI1.ShipCartonId = SC.Id)+A.[cf_Product Lot Designation]),
			--RadSURE exp date format per HDT 23542 is YYYY-MM-DD, so no need for below conversion, just use ExpDate with format on label.
			--EXPDateRadSure = UPPER(CONVERT(char(3), (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)), 0))+' '+CONVERT(CHAR(4), DATEPART(Year, (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)))),
			--EXPDateRadSureBarCode = '=>'+UPPER(CONVERT(char(3), (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)), 0))+' '+CONVERT(CHAR(4), DATEPART(Year, (SELECT MIN(I.FGExpDate) FROM [W005].[dbo].[OrderReleaseEventItem]  AS I WHERE I.Id IN (SELECT OREIID FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CtnId)))),
			--Below EXPDateRadSureBarCode format per HDT 23542
			EXPDateRadSureBarCode = '=>'+ (SELECT RIGHT(CAST(datepart(year, @Mfgdate) * 1000 + datepart(dy, @Mfgdate) as varchar(7)), 6))
			,MRSerialNo = TRIM(ISNULL(STUFF((SELECT DISTINCT ', '+EI.SerialNo AS [text()]
										FROM OrderReleaseEvent E 
											 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
											 INNER JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
																	FROM ShipCarton SC
																		 INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id
																		 INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
																		 INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
																		 INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
																		 INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
																		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
																	WHERE SC.Id=@CtnId) IM ON IM.OrderNo=E.OrderNo AND IM.ReleaseNo=E.ReleaseNo 
							FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),							
							STUFF((SELECT DISTINCT ', '+SerialNo AS [text()]
										FROM	[W005].[dbo].[OrderReleaseEvent] AS E
												INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
										WHERE E.OrderNo = SI.ProdOrderNo AND E.ReleaseNo = SI.ProdOrderRelNo and EI.IsAssembly = 0 AND EI.SerialNo IS NOT NULL
						      FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''))),

			MRLotNo = TRIM(STUFF((SELECT DISTINCT ', '+LotNo AS [text()]
										FROM	[W005].[dbo].[OrderReleaseEvent] AS E
												INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
										WHERE E.OrderNo = SI.ProdOrderNo AND E.ReleaseNo = SI.ProdOrderRelNo and EI.IsAssembly = 0 AND EI.LotNo IS NOT NULL
						      FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''))

	FROM [W005].[dbo].[ShipCarton] AS SC INNER JOIN 
		 [W005].[dbo].[ShipItem] AS SI ON SI.ShipCartonId = SC.Id  LEFT JOIN
		 [W005].dbo.ShipPallet as sp on sc.ShipPalletId = sp.id INNER JOIN
		 [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId LEFT JOIN
		 [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo LEFT JOIN 
		 [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo LEFT JOIN 
		 [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemID = I.ItemId LEFT JOIN
		 [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)' LEFT JOIN 
		 [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id  LEFT JOIN
		 [W005].[dbo].[Characteristic] AS C1 ON C1.Characteristic = 'Width' LEFT JOIN 
		 [W005].[dbo].[ProductChar] AS P1 ON P1.ItemId = I.ItemId AND P1.CharId = C1.Id  LEFT JOIN
		 [W005].[dbo].[Characteristic] AS CC ON CC.Characteristic = 'Width(MM)' LEFT JOIN 
		 [W005].[dbo].[ProductChar] AS PP ON PP.ItemId = I.ItemId AND PP.CharId = CC.Id
	WHERE SC.Id = @CtnId
) A

END
GO
