USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInvAdjCalcNunezLastUnitCosts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInvAdjCalcNunezLastUnitCosts] @ItemId as varchar(24) 
AS
BEGIN
		SELECT TOP 1 ItemId, Qty
					, cf_WILaborSetupUnitCost as WILaborSetupUnitCost
					, cf_WILaborUnitCost as WILaborUnitCost
					, cf_WIMachineSetupUnitCost as WIMachineSetupUnitCost
					, cf_WIMachineUnitCost as WIMachineUnitCost
					, cf_WIMaterialDirectUnitCost as WIMaterialDirectUnitCost
					, cf_WIMaterialIndirectUnitCost as WIMaterialIndirectUnitCost
					, cf_WISubcontractUnitCost as WISubcontractUnitCost 
		FROM [005].[dbo].[trav_tblInHistDetail_View] AS D INNER JOIN
			 [W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
		WHERE ItemId = @ItemId AND ((Source = 18 AND HistSeqNum_Rcpt != 0) OR (Source = 15 AND D.SumPeriod = G.SumPeriod AND D.SumYear = G.SumYear))
		ORDER BY HistSeqNum Desc
END
GO
