USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderReleases]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrderReleases] 
	@OrderNo as varchar(8),
	@ProdOperation as varchar(10),
	@CurrOperation as varchar(10),
	@PriorOperation as varchar(10),
	@PriorEvent as varchar(25)
AS
BEGIN
    DECLARE @IssueByRelease as bit

	if @CurrOperation = 'PRE-PROD'
	  begin
		SELECT * 
		FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
		WHERE R.OrderNo = @OrderNo AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0)  
		Order by R.ReleaseNo
	  end
	else if @ProdOperation = @CurrOperation
	  begin
		
		SELECT @IssueByRelease = ISNULL(H.[cf_Issue by Release], 0) 
		FROM [005].[dbo].[trav_tblMpOrder_view] O
		INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo
		WHERE [OrderNo] = @OrderNo 

		IF @IssueByRelease = 1 
		  BEGIN
			SELECT * 
			FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
			WHERE R.OrderNo = @OrderNo AND Status = 4 AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0) AND 
			R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) NOT IN 
				(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
				 FROM [W005].[dbo].[OrderReleaseEvent] AS E 
				 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @CurrOperation AND E.Event = 'END MANUFACTURING' AND E.EventEnd is NOT NULL)
			Order by R.ReleaseNo
		  END
		ELSE
		  BEGIN
			SELECT Top 1 * 
			FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
			WHERE R.OrderNo = @OrderNo AND Status = 4 AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0) AND 
			R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) NOT IN 
				(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
				 FROM [W005].[dbo].[OrderReleaseEvent] AS E 
				 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @CurrOperation AND E.Event = 'END MANUFACTURING' AND E.EventEnd is NOT NULL)
			Order by R.ReleaseNo
		  END
	  end
	else if @CurrOperation = 'DOFF'
	  begin
		SELECT * 
		FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
		WHERE R.OrderNo = @OrderNo AND Status = 4 AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0) AND 
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @ProdOperation AND E.Event = 'END MANUFACTURING' AND E.EventEnd is NOT NULL) AND
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) NOT IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @CurrOperation AND E.Event = 'DOFFING' AND EventEnd is NOT NULL)
		Order by R.ReleaseNo
	  end
	else if @CurrOperation = 'INSP'
	  begin
		SELECT * 
		FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
		WHERE R.OrderNo = @OrderNo AND Status = 4 AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0) AND 
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @ProdOperation AND E.Event = 'END MANUFACTURING' AND E.EventEnd is NOT NULL) AND
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) NOT IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @CurrOperation AND E.Event = 'INSPECT' AND EventEnd is NOT NULL)
		Order by R.ReleaseNo
	  end
	else if @CurrOperation = 'PACK'
	  begin
		SELECT * 
		FROM [005].[dbo].[trav_tblMpOrderReleases_view] AS R
		WHERE R.OrderNo = @OrderNo AND Status = 4 AND (R.[cf_Ready to Post] is null OR R.[cf_Ready to Post] = 0) AND 
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE ((E.[OrderNo] = @OrderNo AND E.Operation = @PriorOperation AND @ProdOperation = @PriorOperation AND E.Event = 'END MANUFACTURING' AND EventEnd is NOT NULL) OR
			        (E.[OrderNo] = @OrderNo AND E.Operation = @PriorOperation AND @ProdOperation <> @PriorOperation AND EventEnd is NOT NULL))) AND
		R.OrderNo+'-'+Cast(R.ReleaseNo as varchar(10)) NOT IN 
			(SELECT DISTINCT [OrderNo]+'-'+Cast([ReleaseNo] as Varchar(10)) 
			 FROM [W005].[dbo].[OrderReleaseEvent] AS E
			 WHERE E.[OrderNo] = @OrderNo AND E.Operation = @CurrOperation AND E.Event = 'PACK' AND EventEnd is NOT NULL)
		Order by R.ReleaseNo
	  end
END
GO
