USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpenConvertingProdOrdersforIssueMaterialOnly]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOpenConvertingProdOrdersforIssueMaterialOnly]  @OperationId as varchar(10)
AS
BEGIN

--DECLARE @OperationId as varchar(10) = 'INVATL'

	IF LEN(@OperationId) = 0
	  BEGIN
	    SET @OperationId = NULL
	  END	

	Select DISTINCT O.OrderNo AS ParentOrderNo, O.OrderNo, O.AssemblyId, O.RevisionNo, H.Id
		, CAST(null as varchar(30)) as CustName, IsNull(H.[cf_Issue by Release],0) AS IssueByRelease, IsNull(O.[cf_No. of Cuts], 0) AS NumOfCuts
		, O.[cf_Lot No.] AS LotNo, I.[cf_Multi-UOM Serial Item] AS IsSerial, IsNull(I.[LottedYN], '') AS IsLotted
		,  IsNull(I.[cf_Multi-Item Mfg], 0) AS IsMultiItem, i.[cf_Out-Time Tracked] as IsOutTimeTracked, Count(DISTINCT R.Id) As OpCnt
		, RlseCnt = (Select Count(Id) FROM [005].[dbo].[trav_tblMpOrderReleases_view] where OrderNo = O.OrderNo and Status = 4)
		, O.[cf_On Credit Hold]
		, R1.EstCompletionDate
	FROM [005].[dbo].[trav_tblMpOrder_View] As O INNER JOIN  
	     [005].[dbo].[trav_tblMbAssemblyHeader_view] As H ON O.AssemblyId=H.AssemblyId AND O.RevisionNo=H.RevisionNo INNER JOIN 
		 [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId INNER JOIN
  		 [005].[dbo].[trav_tblMrOperations_view] M ON M.OperationId = R.OperationId AND M.[cf_Issue Material to Operation] = 1 INNER JOIN
		 [005].[dbo].[trav_tblMpOrderReleases_view] As R1 ON R1.OrderNo = O.OrderNo INNER JOIN
		 [005].[dbo].[tblMpRequirements] As R2 ON R2.ReleaseId = R1.Id INNER JOIN
		 [005].[dbo].[tblMpTimeSum] As T ON T.TransId = R2.TransId INNER JOIN
		 [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = O.AssemblyId
	WHERE (@OperationId IS NULL OR O.LocID = @OperationId) 
	GROUP BY O.OrderNo, O.OrderNo, O.AssemblyId, O.RevisionNo, H.Id, H.[cf_Issue by Release], O.[cf_No. of Cuts], O.[cf_Lot No.], I.[cf_Multi-UOM Serial Item], I.[LottedYN], I.[cf_Multi-Item Mfg], i.[cf_Out-Time Tracked], O.[cf_On Credit Hold], R1.EstCompletionDate
	Order by 1,2,3


END
GO
