USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebConvertingCoreLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebConvertingCoreLabel] @PrintJobId as int,	@OrderNo as varchar(8),	@ReleaseNo as int,	@OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE	@OrderNo as varchar(8) = '00034566' --'00034268'
--DECLARE	@ReleaseNo as int = 1--11
--DECLARE	@OrderReleaseEventItemId as int = 0

/* MONDI CONVERTING ROLL */
--DECLARE	@PrintJobId as int = 1
--DECLARE   @OrderNo as varchar(8) = '00034291'
--DECLARE	@ReleaseNo as int = 3
--DECLARE	@OrderReleaseEventItemId as int = 0


-- Get Splice 1, Splice 2, Splice 3
;WITH Splices AS 
(
  SELECT *, ROW_NUMBER() OVER (ORDER BY Id) AS SpliceNum
  FROM [W005].[dbo].[OrderReleaseEventSplice] 
  WHERE  OrderReleaseEventId IN (SELECT Id FROM OrderReleaseEvent WHERE OrderNo =  @OrderNo AND ReleaseNo = @ReleaseNo)
) 

SELECT DISTINCT OrderNo, ReleaseNo, CutPos, CustSeqSpoolNum, ItemId, ItemDescr, SerialNo, LotNo, ProductLot, BatchNum, SetID, AliasID, AliasLot, OpInitials,
				PurchaseOrder, SalesOrder, ShipToCustomer, MfgDate, EndMfgDate, WidthIN, WidthMM, TotalQtyLF, TotalQtyLM, TotalQtySM, TotalQtySY, NetWeightLBS, NetWeightKG,
				MRs, RMLotNo, ThirdPartyAlias, WindingType, Splice1, Splice2, Splice3, MondiLot,
				LengthByLabelLengthUOM = TotalQty / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.ItemId and U.Uom = A.LabelLengthUOM), LabelLengthUOM
FROM (
	SELECT DISTINCT
			 E.OrderNo
			,E.ReleaseNo
			,EI.CutPos
			,EI.CustSeqSpoolNum
			,I.ItemId
			,ItemDescr = I.Descr
			,EI.SerialNo
			,EI.LotNo
			,ProductLot = RIGHT(E.OrderNo, 5) + RIGHT(E.ReleaseNo, 3) + RIGHT(EI.CutPos, 2)
			,BatchNum = RIGHT(E.OrderNo, 5) + RIGHT('000'+CAST(E.ReleaseNo AS VARCHAR(3)),3)+RIGHT('00'+CAST(EI.CutPos AS VARCHAR(3)),2)
			,SetID = RIGHT(E.OrderNo, 5) + '-' + RIGHT(E.ReleaseNo, 3)
			,A.AliasID
			,AliasLot = A.AliasID + RIGHT(E.OrderNo, 5) + RIGHT(E.ReleaseNo, 3) + RIGHT(EI.CutPos, 2)
			,OpInitials = (SELECT SUBSTRING(EMP.FirstName, 1, 1)+SUBSTRING(EMP.LastName, 1, 1)
							FROM [005].[dbo].[tblSmEmployee] EMP 
							WHERE EMP.EmployeeId=E.UserId OR EMP.SocialSecurityNo=E.UserId)
			,R.PurchaseOrder
			,R.SalesOrder
			,ShipToCustomer = ISNULL((SELECT DISTINCT ShipToName FROM [005].[dbo].tblSoTransHeader WHERE TransId = R.SalesOrder), 
									 (SELECT DISTINCT ShipToName FROM [005].[dbo].tblArHistHeader WHERE TransId = R.SalesOrder))
			,MfgDate = EI.EventDateTime
			,EndMfgDate = (SELECT DISTINCT ISNULL(EventEnd, EventStart) FROM OrderReleaseEvent ORE WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo AND ORE.Event='End Manufacturing')
			,WidthIN = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
							WHERE P.ItemId=EI.ItemId)
			,WidthMM = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
							WHERE P.ItemId = EI.ItemId)
			,LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=EI.ItemId)
			,EI.TotalQty
			,TotalQtyLF = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LF')
			,TotalQtyLM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LM')
			,TotalQtySM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SM')
			,TotalQtySY = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SY')
			,NetWeightLBS = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LB')
			,NetWeightKG = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'KG')
			,MRs = TRIM(ISNULL(STUFF((SELECT DISTINCT ', '+EI.SerialNo AS [text()]
										FROM OrderReleaseEvent E 
											 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
											 INNER JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
																	FROM OrderReleaseEvent ORE 
																		 INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
																		 INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
																		 INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
																		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
																	WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo) IM ON IM.OrderNo=E.OrderNo AND IM.ReleaseNo=E.ReleaseNo 
										FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''), 
							STUFF((SELECT DISTINCT ', '+L.LotNum AS [text()]
							FROM [W005].[dbo].[OrderReleaseEvent] AS E
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')))
			,L.LotNo AS RMLotNo
			,L.ThirdPartyAlias
			,L.WindingType
			,Splice1 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 1)
			,Splice2 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 2)
			,Splice3 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 3)
			,MondiLot = 'T' + RIGHT(R.OrderNo, 5) + '2' + EI.CustSeqSpoolNum
	FROM [W005].[dbo].[OrderReleaseEvent] AS E
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId=EI.ItemId
		 INNER JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemId=EI.ItemId AND A.RefID=R.CustId
		 LEFT JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
							FROM [W005].[dbo].[OrderReleaseEvent] AS E
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo) L ON L.OrderNo=E.OrderNo AND L.ReleaseNo=E.ReleaseNo
	WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)
UNION ALL
	SELECT DISTINCT
			 E.OrderNo
			,E.ReleaseNo
			,EI.CutPos
			,EI.CustSeqSpoolNum
			,I.ItemId
			,ItemDescr = I.Descr
			,EI.SerialNo
			,EI.LotNo
			,ProductLot = RIGHT(E.OrderNo, 5) + RIGHT(E.ReleaseNo, 3) + RIGHT(EI.CutPos, 2)
			,BatchNum = RIGHT(E.OrderNo, 5) + RIGHT('000'+CAST(E.ReleaseNo AS VARCHAR(3)),3)+RIGHT('00'+CAST(EI.CutPos AS VARCHAR(3)),2)
			,SetID = RIGHT(E.OrderNo, 5) + '-' + RIGHT(E.ReleaseNo, 3)
			,A.AliasID
			,AliasLot = A.AliasID + RIGHT(E.OrderNo, 5) + RIGHT(E.ReleaseNo, 3) + RIGHT(EI.CutPos, 2)
			,OpInitials = (SELECT SUBSTRING(EMP.FirstName, 1, 1)+SUBSTRING(EMP.LastName, 1, 1)
							FROM [005].[dbo].[tblSmEmployee] EMP 
							WHERE EMP.EmployeeId=E.UserId OR EMP.SocialSecurityNo=E.UserId)
			,R.PurchaseOrder
			,R.SalesOrder
			,ShipToCustomer = (SELECT DISTINCT ShipToName FROM [005].[dbo].tblArHistHeader WHERE TransId = R.SalesOrder)
			,MfgDate = EI.EventDateTime
			,EndMfgDate = (SELECT DISTINCT ISNULL(EventEnd, EventStart) FROM OrderReleaseEvent ORE WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo AND ORE.Event='End Manufacturing')
			,WidthIN = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
							WHERE P.ItemId=EI.ItemId)
			,WidthMM = (SELECT DISTINCT P.nTarget
							FROM [W005].[dbo].[ProductChar] AS P
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
							WHERE P.ItemId = EI.ItemId)
			,LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=EI.ItemId)
			,EI.TotalQty
			,TotalQtyLF = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LF')
			,TotalQtyLM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LM')
			,TotalQtySM = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SM')
			,TotalQtySY = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SY')
			,NetWeightLBS = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LB')
			,NetWeightKG = (SELECT IIF(ConvFactor is Null, Null, EI.TotalQty / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'KG')
			,MRs = TRIM(ISNULL(STUFF((SELECT DISTINCT ', '+EI.SerialNo AS [text()]
										FROM OrderReleaseEvent E 
											 INNER JOIN OrderReleaseEventItem EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
											 INNER JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
																	FROM OrderReleaseEvent ORE 
																		 INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
																		 INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
																		 INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
																		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
																	WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo) IM ON IM.OrderNo=E.OrderNo AND IM.ReleaseNo=E.ReleaseNo 
										FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
							STUFF((SELECT DISTINCT ', '+L.LotNum AS [text()]
							FROM [W005].[dbo].[OrderReleaseEvent] AS E
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')))
			,L.LotNo AS RMLotNo
			,L.ThirdPartyAlias
			,L.WindingType		
			,Splice1 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 1)
			,Splice2 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 2)
			,Splice3 = (SELECT PLCLengthCounter FROM Splices WHERE SpliceNum = 3)
			,MondiLot = 'T' + RIGHT(R.OrderNo, 5) + '2' + EI.CustSeqSpoolNum
	FROM [W005].[dbo].[OrderReleaseEvent] AS E
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId=EI.ItemId
		 INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemId=EI.ItemId AND A.RefID=R.CustId
		 LEFT JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
							FROM [W005].[dbo].[OrderReleaseEvent] AS E
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo) L ON L.OrderNo=E.OrderNo AND L.ReleaseNo=E.ReleaseNo
	WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)
) A
ORDER BY OrderNo, ReleaseNo, ItemId, ItemDescr, AliasID, CutPos

END

GO
