USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spUpdatetblInItemLocLotCFonTransfer]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdatetblInItemLocLotCFonTransfer] @ItemId as varchar(24), @TravLotNum as varchar(16), @FromLocId as varchar(10), @ToLocId as varchar(10)
AS
BEGIN
	UPDATE [005].[dbo].[tblInItemLocLot] Set [005].[dbo].[tblInItemLocLot].CF = B.CF
	FROM [005].[dbo].[tblInItemLocLot] B INNER JOIN [005].[dbo].[tblInItemLocLot] ON B.ItemId = @ItemId AND B.LocId = @FromLocId AND B.LotNum = @TravLotNum AND 
	[005].[dbo].[tblInItemLocLot].ItemId = @ItemId AND [005].[dbo].[tblInItemLocLot].LocId = @ToLocId AND [005].[dbo].[tblInItemLocLot].LotNum = @TravLotNum 
END
GO
