USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetReturnedPalletsForTRYieldId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetReturnedPalletsForTRYieldId]
	@TRYieldID as varchar(24)
AS
BEGIN

	  SELECT YD.Id, YD.ShipPalletNo,YD.ItemId,YD.PalletLotNo, YD.PalletQuantity, YD.NoRolls,YD.NoRollsRemaining
	  FROM  [W005].[dbo].[TRYieldDetail] As YD
	  WHERE YD.TRYieldId=@TRYieldID AND YD.DetailType=3

END




GO
