USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSumPLandTempPLQtyByItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSumPLandTempPLQtyByItemId]
			@PLNo as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--DECLARE @PLNo as int = 7836

	SELECT A.ItemId,A.TravLotNum,A.SerialNo, SUM(A.PLQty) as CurrTotalPLQty, A.Location
	FROM
		(
		SELECT  spld.ItemId, si.TravLotNum, spld.SerialNo, SUM(si.Quantity) as PLQty, spld.Location
		FROM [W005].[dbo].[ShipPackingListDetail] AS spld 
			INNER JOIN [W005].[dbo].[ShipItem] As si ON spld.ShipPalletId=si.ShipPalletId
		WHERE spld.PLNo = @PLNo
		GROUP BY spld.ItemId,si.TravLotNum,spld.SerialNo, spld.Location
	
		UNION ALL

		SELECT tpl.ItemId,si.TravLotNum, tpl.SerialNo, SUM(si.Quantity) as PLQty, tpl.Location
		FROM [W005].[dbo].[tmpShipPackingList] AS tpl 
			INNER JOIN [W005].[dbo].[ShipItem] As si ON tpl.ShipPalletId=si.ShipPalletId
		WHERE tpl.PLNo = @PLNo -- AND tpl.ItemId = @ItemId
		GROUP BY tpl.ItemId,si.TravLotNum, tpl.SerialNo, tpl.Location
		)A
		GROUP BY A.ItemId,A.TravLotNum,A.SerialNo, A.Location
	UNION ALL
		SELECT B.ItemId,B.TravLotNum,B.SerialNo, SUM(B.PLQty) as CurrTotalPLQty, B.Location
		FROM
			(
			SELECT  spld.ItemId, si.TravLotNum, spld.SerialNo, SUM(si.Quantity) as PLQty, spld.Location
			FROM [W005].[dbo].[ShipPackingListDetail] AS spld 
				INNER JOIN [W005].[dbo].[ShipItem] As si ON spld.ShipCartonId=si.ShipCartonId
			WHERE spld.PLNo = @PLNo AND spld.ShipPalletId Is Null
			GROUP BY spld.ItemId,si.TravLotNum,spld.SerialNo, spld.Location
	
			UNION ALL

			SELECT tpl.ItemId,si.TravLotNum, tpl.SerialNo, SUM(si.Quantity) as PLQty, tpl.Location
			FROM [W005].[dbo].[tmpShipPackingList] AS tpl 
				INNER JOIN [W005].[dbo].[ShipItem] As si ON tpl.ShipCartonId=si.ShipCartonId
			WHERE tpl.PLNo = @PLNo AND tpl.ShipPalletId Is Null -- AND tpl.ItemId = @ItemId
			GROUP BY tpl.ItemId,si.TravLotNum, tpl.SerialNo, tpl.Location
			)B
			GROUP BY B.ItemId,B.TravLotNum,B.SerialNo, B.Location
	


END



	--	SELECT A.ItemId,A.TravLotNum,A.SerialNo, SUM(A.PLQty) as CurrTotalPLQty, A.Location
	--FROM
	--	(
	--	SELECT spld.ItemId,spld.TravLotNum,spld.SerialNo, SUM(spld.Qty) as PLQty, spld.Location
	--	FROM [W005].[dbo].[ShipPackingListDetail] AS spld 
	--	WHERE spld.PLNo = @PLNo
	--	GROUP BY spld.ItemId,spld.TravLotNum,spld.SerialNo, spld.Location
	
	--	UNION ALL

	--	SELECT tpl.ItemId,tpl.TravLotNum, tpl.SerialNo, SUM(tpl.Qty) as PLQty, tpl.Location
	--	FROM [W005].[dbo].[tmpShipPackingList] AS tpl 
	--	WHERE tpl.PLNo = @PLNo -- AND tpl.ItemId = @ItemId
	--	GROUP BY tpl.ItemId,tpl.TravLotNum, tpl.SerialNo, tpl.Location
	--	)A
	--GROUP BY A.ItemId,A.TravLotNum,A.SerialNo, A.Location
GO
