USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNunezCostAssemblyReleaseIdItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNunezCostAssemblyReleaseIdItem] @ReleaseId as Int
AS
BEGIN
    SELECT HistSeqNum, ItemId, IIF(SerNum IS NULL, LotNum, SerNum) AS LotSerNum, Qty, Uom, UomBase, ConvFactor FROM NunezCostAssemblyWorkTable3 WHERE ReleaseId = @ReleaseId Order By HistSeqNum
END
GO
