USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWNoTransferReason]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by WEBCQA
	Returns Reason why an End of Set transfer was not available for current WO
*/

CREATE PROCEDURE [dbo].[spSWNoTransferReason] 
	@MachineNum int, @Material varchar(20), @SlitWidth decimal(20,10),@IsHexcel bit, @Machine varchar(25)
	
AS
BEGIN

--DECLARE @MachineNum int = 18
--DECLARE @Material varchar(20) = ''
--DECLARE @SlitWidth decimal(20,10) = 0.5
--DECLARE @IsHexcel bit = 0
--DECLARE @Machine varchar(25) = ''


	IF LEN(@Machine) > 0 -- Traverse
	BEGIN
		IF EXISTS (
			SELECT tgh.Id 
			FROM [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
				INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] WHERE (Machine=@Machine) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
				AND tgh.TestGroupName = 'END of SET' 
		)
		BEGIN
			SELECT 'NotComplete' AS ErrReason
		END ELSE
			BEGIN
				IF EXISTS (
					SELECT tgh.Id 
					FROM [W005].[dbo].[SW_TestGroupHdr] tgh
						INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
						INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
					WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] WHERE (Machine=@Machine) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
						AND tgh.TestGroupComplete = 1
				)
			BEGIN
				SELECT 'NoEoS' AS ErrReason
			END ELSE
			BEGIN
				IF EXISTS (
					SELECT tgh.Id 
					FROM [W005].[dbo].[SW_TestGroupHdr] tgh
						INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
						INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
					WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
											WHERE (Machine=@Machine) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth)
						AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
				)
				BEGIN
					SELECT 'NCSpool' AS ErrReason
				END ELSE
					BEGIN
						IF EXISTS (
							SELECT tgh.Id 
							FROM [W005].[dbo].[SW_TestGroupHdr] tgh
								INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
								INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
							WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
													WHERE (Machine=@Machine) AND MaterialType=@Material AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
								AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
						)
						BEGIN
							SELECT 'SWTarget' AS ErrReason
						END ELSE
							BEGIN
								IF EXISTS (
									SELECT tgh.Id 
									FROM [W005].[dbo].[SW_TestGroupHdr] tgh
										INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
										INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
									WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
															WHERE (Machine=@Machine) AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
										AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
								)
								BEGIN
									SELECT 'Material' AS ErrReason
								END ELSE
									BEGIN
										IF EXISTS (
											SELECT tgh.Id 
											FROM [W005].[dbo].[SW_TestGroupHdr] tgh
												INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
												INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
											WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
																	WHERE MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
												AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
										)
										BEGIN
											SELECT 'Machine' AS ErrReason
										END ELSE
											BEGIN 
												SELECT 'NoErr' AS ErrReason
											END
		END
		END
		END
		END
		END 
		END
	ELSE
		BEGIN -- Polaris
			IF EXISTS (
			SELECT tgh.Id 
			FROM [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
				INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
									WHERE (PolarisMachineNum = @MachineNum) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
				AND tgh.TestGroupName = 'END of SET' 
		)
		BEGIN
			SELECT 'NotComplete' AS ErrReason
		END ELSE
			BEGIN
				IF EXISTS (
					SELECT tgh.Id 
					FROM [W005].[dbo].[SW_TestGroupHdr] tgh
						INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
						INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
					WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
											WHERE (PolarisMachineNum = @MachineNum) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
						AND tgh.TestGroupComplete = 1
				)
			BEGIN
				SELECT 'NoEoS' AS ErrReason
			END ELSE
			BEGIN
				IF EXISTS (
					SELECT tgh.Id 
					FROM [W005].[dbo].[SW_TestGroupHdr] tgh
						INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
						INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
					WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
											WHERE (PolarisMachineNum = @MachineNum) AND MaterialType=@Material AND SWTolerance_Target=@SlitWidth)
						AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
				)
				BEGIN
					SELECT 'NCSpool' AS ErrReason
				END ELSE
					BEGIN
						IF EXISTS (
							SELECT tgh.Id 
							FROM [W005].[dbo].[SW_TestGroupHdr] tgh
								INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
								INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
							WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
													WHERE (PolarisMachineNum = @MachineNum) AND MaterialType=@Material AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
								AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
						)
						BEGIN
							SELECT 'SWTarget' AS ErrReason
						END ELSE
							BEGIN
								IF EXISTS (
									SELECT tgh.Id 
									FROM [W005].[dbo].[SW_TestGroupHdr] tgh
										INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
										INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
									WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
															WHERE (PolarisMachineNum = @MachineNum) AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
										AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
								)
								BEGIN
									SELECT 'Material' AS ErrReason
								END ELSE
									BEGIN
										IF EXISTS (
											SELECT tgh.Id 
											FROM [W005].[dbo].[SW_TestGroupHdr] tgh
												INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
												INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
											WHERE tgh.TestHdrId = (SELECT MAX(Id) FROM [W005].[dbo].[SW_TestHdr] 
																	WHERE MaterialType=@Material AND SWTolerance_Target=@SlitWidth AND (LEN(NCSpoolList) = 0 OR NCSpoolList is NULL))
												AND tgh.TestGroupName = 'END of SET' AND tgh.TestGroupComplete = 1
										)
										BEGIN
											SELECT 'Machine' AS ErrReason
										END ELSE
											BEGIN 
												SELECT 'NoErr' AS ErrReason
											END
			END
			END
			END
			END
			END 
		END -- Polaris


	 
END
GO
