USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListOCD]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPackingListOCD] @PLNo as Int 
AS
BEGIN

--DECLARE @PLNo as Int  = 26605 

SELECT pl.OrderNo, pl.ShipDate, pl.CustPO,pl.ShipMethod AS ShipVia, pl.ShipTerms, pl.ShipFromName,IIF(pl.ShipFromAddr2 Is NULL,pl.ShipFromAddr1,pl.ShipFromAddr1 + ' ' + pl.ShipFromAddr2) AS ShipFromAddr1, pl.ShipFromCity + ', ' + pl.ShipFromRegion + ' ' + pl.ShipFromPostalCode AS ShipFromAddr2
	,pl.ShipToName, IIF(pl.ShipToAddr2 Is NULL,pl.ShipToAddr1,pl.ShipToAddr1 + ' ' + pl.ShipToAddr2) AS ShipToAddr1, pl.ShipToCity + ', ' + pl.ShipToRegion + ' ' + pl.ShipToPostalCode AS ShipToAddr2 
FROM [W005].[dbo].[ShipPackingList] pl
WHERE pl.PLNo=@PLNo

SELECT PkgID, ItemId, RollCount, Quantity, SlitRollID, ItemAlias, SUBSTRING(MRNo, 1, LEN(MRNo)-2) AS MRNo, COCStmt
	/*The below three fields are referenced in code by column position.  If return fields are added or removed from this sp, the code in WebProduction.fShip must be modified. */
	,TotalPallets
	,TotalQty
	,GrossWt
FROM
(
  SELECT sp.ShipPalletNo AS PkgID, si.ItemId, 1 AS RollCount, si.Quantity
	,SlitRollID = RIGHT(E.OrderNo, 5) + RIGHT('000'+CAST(E.ReleaseNo AS VARCHAR(3)),3)+RIGHT('00'+CAST(orei.CutPos AS VARCHAR(3)),2)
	,ItemAlias = (SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE ItemId=si.ItemId AND RefID=pl.CustID)
	,CAST((SELECT orei.SerialNo + ' / ' AS [text()] 
		FROM [W005].[dbo].[OrderReleaseEventItem] orei
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ore ON ore.Id=orei.OrderReleaseEventId
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=orei.ItemId AND L.LocId=orei.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
		WHERE orei.IsAssembly =0 AND orei.MpOrderMatIssuedId is not null AND
						ore.Id IN (SELECT ID 
									FROM [W005].[dbo].[OrderReleaseEvent] 
									WHERE OrderNo = E.OrderNo AND ReleaseNo=E.ReleaseNo)
		FOR XML PATH('')
		) AS VARCHAR(250)) AS MRNo
	,COCStmt = (SELECT PC.sTarget FROM ProductChar As PC INNER JOIN Characteristic As C ON C.Id=PC.CharId WHERE PC.ItemId=si.ItemId AND C.Characteristic='COC Statement')
	/*The below three fields are referenced in code by column position.  If return fields are added or removed from this sp, the code in WebProduction.fShip must be modified. */
	,TotalPallets = (SELECT COUNT(ShipPalletID) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo=@PLNo)
	,TotalQty = (SELECT SUM(Qty) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo=@PLNo)
	,GrossWt = (SELECT SUM(GrossWt) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PLNo=@PLNo)
  FROM [W005].[dbo].[ShipPackingListDetail] d
		INNER JOIN [W005].[dbo].[ShipPackingList] pl ON pl.PLNo=d.PLNo
		INNER JOIN [W005].[dbo].[ShipPallet] AS sp ON sp.ID=d.ShipPalletId 
		INNER JOIN [W005].[dbo].shipItem si ON si.ShipPalletId=sp.Id
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.ItemId=si.ItemId AND orei.SerialNo=si.SerNo
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON orei.OrderReleaseEventID=E.Id
  WHERE d.PLNo=@PLNo
  GROUP BY sp.ShipPalletNo,si.ItemId,si.SerNo, si.Quantity,E.OrderNo,E.ReleaseNo,orei.CutPos, pl.CustID
) A



END
GO
