USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetNoRollsInCarton]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNoRollsInCarton]
	@CartonID int
AS
BEGIN

--DECLARE @CartonID int = 2295

SELECT SUM(NoRolls) AS NoRolls FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @CartonID

END
GO
