USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTraverseOnHandQtyByItemLocLot]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTraverseOnHandQtyByItemLocLot]
			@ItemId as varchar(24), @LocId as varchar(10),@LotNum as varchar(16)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--Declare @ItemId as varchar(24) = 'AERO-BU10-625'
--Declare @LocId as varchar(10) ='INVENTORY'
--Declare @LotNum as varchar(16) =  '00031021-010-001'


	SELECT IsNull(SUM(QtyOnHand),0) as QtyOnHand
	FROM [005].[dbo].[trav_InItemOnHandLot_view]
	WHERE ItemId=@ItemId AND LocId=@LocId 
		AND LotNum=@LotNum
	


END

GO
