USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderBOMMaterialExists]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOrderBOMMaterialExists] @OrderNo as varchar(8), @ComponentId as varchar(24)
AS
BEGIN

	SELECT DISTINCT	I.ItemId, I.Descr, D.UOM, I.ProductLine, I.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM,D.[cf_Only Issue to Production Order] as ISsueToProdOrder
	FROM 	[005].dbo.tblMpOrder O 
			INNER JOIN [005].dbo.trav_tblMbAssemblyHeader_view H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo 
			INNER JOIN [005].dbo.tblMbAssemblyRouting R ON R.HeaderId = H.Id 
			INNER JOIN [005].dbo.trav_tblMrOperations_view M ON M.OperationId = R.OperationId
			INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View D ON D.RoutingId = R.Id 
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentID
	WHERE O.OrderNo = @OrderNo AND D.ComponentId = @ComponentId AND D.DetailType <> 5 --Ignore By Products

END
GO
