USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetLotCountforMixedBatches]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetLotCountforMixedBatches] @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	--DECLARE @OrderNo as varchar(8)
	--DECLARE @ReleaseNo as int
	SELECT ORE.OrderNo, ORE.ReleaseNo, ISNULL(COUNT(DISTINCT LotNo),0) AS LotCount, MAX(OREI.Id) as MaxId, LastLot = (Select ISNULL(LotNo,'') from OrderReleaseEventItem where id = Max(OREI.Id))
	FROM OrderReleaseEvent ORE 
	INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id 
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = OREI.ItemId AND L.LocId LIKE '%INV%' AND SUBSTRING(L.GLAcctCode, 1,1) IN ('1','2','3')
	WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND IsAssembly = 0
	GROUP BY ORE.OrderNo, ORE.ReleaseNo
	ORDER BY ORE.OrderNo, ORE.ReleaseNo
END
GO
