USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOffSiteTransferItemData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetOffSiteTransferItemData]
					@ItemType varchar(15), @ItemId varchar(24), @SerNum varchar(35),@LotNum varchar(16),@LocId varchar(10)
AS
BEGIN

--DECLARE @ItemType varchar(15) = 'Lotted'
--DECLARE @ItemId varchar(24) = 'RM-CADC5000-MAS'
--DECLARE @SerNum varchar(35) = '1808080A08/44'
--DECLARE @LotNum varchar(16) = '1808080A08/44' 
--DECLARE @LocId varchar(10) = 'INVDTN'


	IF @ItemType = 'Serialized' 
	BEGIN
		SELECT ii.Descr
			,ii.UomDflt
			,1 As BaseQty
			,1 As DfltQty
			,si.Id As UnitId
			,si.ShipItemNo AS ShipItemNo
		FROM  [005].[dbo].[tblInItemSer] s 
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON s.ItemId=ii.ItemId
			LEFT JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=s.ItemId AND si.TravSerNum=@SerNum
		WHERE s.SerNum=@SerNum AND s.LocId=@LocId AND s.ItemId=@ItemId
	END ELSE
	IF @ItemType = 'Multi-UOM'
	BEGIN
		SELECT ii.Descr
			,ii.UomDflt
			,l.QtyOnHand As BaseQty
			,DfltQty = CAST(l.QtyOnHand / (SELECT iu.ConvFactor 
										FROM [005].dbo.trav_tblInItem_View i INNER JOIN [005].[dbo].[tblInItemUom] iu ON i.ItemId=iu.ItemId AND i.UomDflt=iu.Uom
										WHERE i.Itemid = ii.ItemId)
							 AS decimal(20,10))
			,si.Id As UnitId
			,si.ShipItemNo AS ShipItemNo
		FROM [005].[dbo].[trav_InItemOnHandLot_view] l
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON l.ItemId=ii.ItemId
			LEFT JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.TravLotNum=@SerNum
		WHERE l.LocId=@LocId AND l.LotNum = @SerNum AND l.ItemId=@ItemId
	END
	ELSE
	BEGIN
		SELECT TOP 1 
			 ii.Descr
			,ii.UomDflt
			,l.QtyOnHand As BaseQty
			,DfltQty = CAST(l.QtyOnHand / (SELECT iu.ConvFactor 
										FROM [005].dbo.trav_tblInItem_View i INNER JOIN [005].[dbo].[tblInItemUom] iu ON i.ItemId=iu.ItemId AND i.UomDflt=iu.Uom
										WHERE i.Itemid = ii.ItemId)
							AS decimal(20,10))
			,si.Id As UnitId
			,si.ShipItemNo AS ShipItemNo
		FROM [005].[dbo].[trav_InItemOnHandLot_view] l
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON l.ItemId=ii.ItemId
			LEFT JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.TravLotNum=@LotNum
		WHERE l.LocId=@LocId AND l.ItemId=@ItemId AND l.LotNum=@LotNum
	END

END
GO
