USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spFGHasWmHistDtl]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spFGHasWmHistDtl] @FGItemId AS VARCHAR(24), @TravSerNum AS VARCHAR(35), @TravLotNum AS VARCHAR(16)
AS
BEGIN

--DECLARE @FGItemId AS VARCHAR(24) = 'FG-GEMS1166-ROL'
--DECLARE @TravSerNum AS VARCHAR(35) = ''
--DECLARE @TravLotNum AS VARCHAR(16) = '00030065-002-001'

IF(LEN(@TravSerNum) > 0)
	SELECT CAST(IIF(EXISTS(SELECT Sernum
							 FROM [005].[dbo].[tblWmHistDetail]
							WHERE ItemId=@FGItemId AND Sernum=@TravSerNum), 1, 0)
					as bit)
				as FGHasWmHistDtl
ELSE
	SELECT CAST(IIF(EXISTS(SELECT Lotnum
							 FROM [005].[dbo].[tblWmHistDetail]
							WHERE ItemId=@FGItemId AND Lotnum=@TravLotNum), 1, 0)
					as bit)
				as FGHasWmHistDtl
END
GO
