USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWHexcelWOTested]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth 
-- Returns Hexcel WOs for SPCData export

CREATE PROCEDURE [dbo].[spSWHexcelWOTested]
	@Traverse bit -- 1/true if test data for Traverse mfg; 0/false if test data for Polaris mfg

AS
BEGIN

--DECLARE @Traverse bit = 0


IF @Traverse = 1
BEGIN
	SELECT ProdOrderNo As OrderNo, ItemId AS ItemId,InvDescription
	FROM [W005].[dbo].[SW_TestHdr] 
	WHERE CustomerName LIKE ('%Hex%')
	ORDER BY ProdOrderNo
END
IF @Traverse = 0
BEGIN
	SELECT WorkOrder As OrderNo, InvID AS ItemId,InvDescription
	FROM [W005].[dbo].[SW_TestHdr] 
	WHERE PolarisCustomerName LIKE ('%Hex%')
	ORDER BY WorkOrder
END




END






GO
