USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spFGHasOTIS]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFGHasOTIS] @FGItemId AS VARCHAR(24), @TravSerNum AS VARCHAR(35), @TravLotNum AS VARCHAR(16)
AS
BEGIN

--DECLARE @FGItemId AS VARCHAR(24) = 'FG-GEMS1166-ROL'
--DECLARE @TravSerNum AS VARCHAR(35) = ''
--DECLARE @TravLotNum AS VARCHAR(16) = '00030065-001-001'

IF(LEN(@TravSerNum) > 0)
	SELECT CAST(IIF(EXISTS(SELECT TravSerNum
							 FROM [W005].[dbo].[OutTimeItemStatus]
						    WHERE ItemId=@FGItemId AND TravSerNum=@TravSerNum), 1 , 0)
					as bit)
				as FGHasOTIS
ELSE
	SELECT CAST(IIF(EXISTS(SELECT LotNo
							 FROM [W005].[dbo].[OutTimeItemStatus]
						    WHERE ItemId=@FGItemId AND LotNo=@TravLotNum), 1 , 0)
					as bit)
				as FGHasOTIS


END
GO
