USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInvAdjCalcNunezAvgUnitCosts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInvAdjCalcNunezAvgUnitCosts] @ItemId as varchar(24) 
AS
BEGIN
	SELECT A.ItemId
				, Cast(A.WILaborSetupCost/A.Qty as decimal(20,10)) as WILaborSetupUnitCost
				, Cast(A.WILaborCost/A.Qty as decimal(20,10)) as WILaborUnitCost
				, Cast(A.WIMachineSetupCost/A.Qty as decimal(20,10)) as WIMachineSetupUnitCost
				, Cast(A.WIMachineCost/A.Qty as decimal(20,10)) as WIMachineUnitCost
				, Cast(A.WIMaterialDirectCost/A.Qty as decimal(20,10)) as WIMaterialDirectUnitCost
				, Cast(A.WIMaterialIndirectCost/A.Qty as decimal(20,10)) as WIMaterialIndirectUnitCost
				, Cast(A.WISubcontractCost/A.Qty as decimal(20,10)) as WISubcontractUnitCost
	FROM 
		(SELECT ItemId, Sum(Qty) as Qty
					, Sum(cf_WILaborSetupUnitCost * Qty) as WILaborSetupCost
					, Sum(cf_WILaborUnitCost * Qty) as WILaborCost
					, Sum(cf_WIMachineSetupUnitCost * Qty) as WIMachineSetupCost
					, Sum(cf_WIMachineUnitCost * Qty) as WIMachineCost
					, Sum(cf_WIMaterialDirectUnitCost * Qty) as WIMaterialDirectCost
					, Sum(cf_WIMaterialIndirectUnitCost * Qty) as WIMaterialIndirectCost
					, Sum(cf_WISubcontractUnitCost * Qty) as WISubcontractCost 
		FROM [005].[dbo].[trav_tblInHistDetail_View] AS D INNER JOIN
			 [W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
		WHERE ItemId = @ItemId AND ((Source = 18 AND HistSeqNum_Rcpt != 0) OR (Source = 15 AND D.SumPeriod = G.SumPeriod AND D.SumYear = G.SumYear))
		GROUP BY ItemId) A

END
GO
