USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetLabelDataShieldingTapes]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[GetLabelDataShieldingTapes] 
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
AS
BEGIN

    /* ---------------------------
       1. Load Product Characteristics (pivoted)
    ----------------------------*/
    ;WITH ProductChars AS (
        SELECT 
            pc.ItemId,
            LabelLengthUOM = MAX(CASE WHEN c.Characteristic = 'LabelLengthUOM' THEN pc.sTarget END),
            WidthIN        = MAX(CASE WHEN c.Characteristic = 'Width(IN)' THEN pc.nTarget END),
            WidthMM        = MAX(CASE WHEN c.Characteristic = 'Width(MM)' THEN pc.nTarget END)
        FROM W008.dbo.ProductChar pc
        INNER JOIN W008.dbo.Characteristic c ON pc.CharId = c.Id
        GROUP BY pc.ItemId
    ),

    /* ---------------------------
       2. Item Aliases (aggregated once)
    ----------------------------*/
    ItemAlias AS (
        SELECT 
            ItemID,
            Aliases = STRING_AGG(AliasID, ', ')
        FROM [008].dbo.tblInItemAlias
        GROUP BY ItemID
    ),

    /* ---------------------------
       3. Customer Part Numbers
    ----------------------------*/
    CustPart AS (
        SELECT DISTINCT 
            A.ItemID,
            AliasID
        FROM [008].dbo.tblMpOrder M
        INNER JOIN [008].dbo.tblMpOrderReleases R ON R.OrderNo = M.OrderNo
        INNER JOIN [008].dbo.tblInItemAlias A ON A.RefID = R.CustId AND A.AliasType = 1
        WHERE M.OrderNo = @OrderNo AND R.ReleaseNo = @ReleaseNo

        UNION ALL

        SELECT DISTINCT 
            A.ItemID,
            AliasID
        FROM [008].dbo.tblMpHistoryOrderReleases R
        INNER JOIN [008].dbo.tblInItemAlias A ON A.RefID = R.CustId AND A.AliasType = 1
        WHERE R.OrderNo = @OrderNo AND R.ReleaseNo = @ReleaseNo
    ),

    /* ---------------------------
       4. Order Description
    ----------------------------*/
    OrderDesc AS (
        SELECT TOP 1 [cf_Order Description] AS OrderDescr
        FROM [008].dbo.trav_tblMpOrder_View
        WHERE OrderNo = @OrderNo
    )

    /* ---------------------------
       5. Main Query
    ----------------------------*/
    SELECT DISTINCT
        E.OrderNo,
        E.ReleaseNo,
        OD.OrderDescr,
        BatchNo = CONCAT(E.OrderNo, '-', RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3)),
        E.EventStart,
        CustPN = CP.AliasID,
        IA.Aliases AS ItemAliases,
        I.ItemId,
        I.Descr,
        I.UomBase,
        PC.WidthIN AS Width,
        PC.WidthMM,
        EI.SerialNo AS SerialNum,
        EI.LotNo AS LotNum,
        EI.HeadPos,
        EI.CutPos,
        IPOCCutNo = CASE EI.CutPos WHEN 1 THEN 'L' WHEN 2 THEN 'C' ELSE 'R' END,
        EI.FGExpDate,

        Qty = COALESCE(SI.Quantity, EI.TotalQty),
        EI.TotalQty,
        EI.TotalWaste,

        LengthByLabelLengthUOM = 
            COALESCE(SI.Quantity, EI.TotalQty) /
            NULLIF(UOM.ConvFactor, 1),

        LabelLengthUOM = PC.LabelLengthUOM,

        BarCode = CONCAT(
            LEFT(I.Descr, 40), '|',
            FORMAT(PC.WidthIN, 'F3'), '|',
            FORMAT(E.EventStart, 'yyyy-MM-dd'), '|',
            FORMAT(EI.TotalQty, 'F0'), '|',
            E.OrderNo, '-', RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3), '|',
            FORMAT(EI.CutPos, '00'), '|',
            I.ItemId
        ),

        TrialBarCode = CONCAT(
            OD.OrderDescr, '|',
            FORMAT(PC.WidthIN, 'F3'), '|',
            FORMAT(E.EventStart, 'yyyy-MM-dd'), '|',
            FORMAT(EI.TotalQty, 'F0'), '|',
            E.OrderNo, '-', RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3), '|',
            FORMAT(EI.CutPos, '00'), '|',
            I.ItemId
        ),

        MasterRolls = MR.MasterRollList,

        TotalNetWeight = 
            COALESCE(SI.Quantity, EI.TotalQty) /
            NULLIF(UOM_LB.ConvFactor, 1)

    FROM W008.dbo.OrderReleaseEvent E
    INNER JOIN W008.dbo.OrderReleaseEventItem EI ON EI.OrderReleaseEventId = E.Id
    INNER JOIN [008].dbo.trav_tblInItem_view I ON I.ItemId = EI.ItemId
    LEFT JOIN W008.dbo.ShipItem SI 
        ON SI.OREIId = EI.Id 
        AND SI.ItemId = EI.ItemId 
        AND SI.SerNo = EI.SerialNo 
        AND SI.LotNo = EI.LotNo

    LEFT JOIN ProductChars PC ON PC.ItemId = EI.ItemId
    LEFT JOIN ItemAlias IA ON IA.ItemID = EI.ItemId
    LEFT JOIN CustPart CP ON CP.ItemID = EI.ItemId
    CROSS JOIN OrderDesc OD

    /* UOM conversions */
    OUTER APPLY (
        SELECT TOP 1 ConvFactor 
        FROM [008].dbo.tblInItemUom 
        WHERE ItemId = EI.ItemId AND Uom = PC.LabelLengthUOM
    ) UOM

    OUTER APPLY (
        SELECT TOP 1 ConvFactor 
        FROM [008].dbo.tblInItemUom 
        WHERE ItemId = EI.ItemId AND Uom = 'LB'
    ) UOM_LB

    /* Master roll list */
    OUTER APPLY (
        SELECT STRING_AGG(SerialNo, CHAR(10)) AS MasterRollList
        FROM W008.dbo.OrderReleaseEvent E1
        INNER JOIN W008.dbo.OrderReleaseEventItem EI1 ON EI1.OrderReleaseEventId = E1.Id
        WHERE E1.OrderNo = @OrderNo 
          AND E1.ReleaseNo = @ReleaseNo
          AND EI1.IsAssembly = 0
          AND EI1.SerialNo IS NOT NULL
    ) MR

    WHERE 
        E.OrderNo = @OrderNo
        AND E.ReleaseNo = @ReleaseNo
        AND EI.IsAssembly = 1
        AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY EI.HeadPos;

END
GO
