USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCICrossPlyLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CCICrossPlyLabel]
	@PrintJobId as int,
	@OrderNo as varchar(8),
	@ReleaseNo as int,
	@OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE   @OrderNo as varchar(8) = '00045390'
--DECLARE	@ReleaseNo as int = 1
--DECLARE	@OrderReleaseEventItemId as int = 0

	Select A.OrderNo, 
		A.ReleaseNo,
		OrderRelease = A.OrderNo+'-'+Cast(A.ReleaseNo as varchar(5)),
		A.CustPONum,
		RollNo = A.OrderNo + '-' + Right('000'+Cast(A.ReleaseNo as varchar(5)),3) + '-' + Right('000'+Cast(A.CutPos as varchar(5)),3),
		A.PODate,
		A.UserId,
		A.ItemId,
		A.Descr,
		A.Spec,
		CustomerPN = A.CustomerPN,
		A.TravSerNum,
		A.SerialNo,
		A.LotNo,
		A.MfgDate,
		A.FGExpDate,
		SerialNoBarCode = A.SerialNo, 
		LotNoBarCode = A.LotNo, 
		A.HeadPos,
		A.CutPos,
		A.TotalQty,
		A.TotalWaste,
		A.UOM,
		A.LocId,
		A.GrossLength,
		A.NetLength,
		A.GrossLengthSF,
		A.NetLengthSF,
		A.GrossWeight,
		A.NetWeight,
		A.MaximumStorageTemp,
		A.MaximumStorageTempFC,
		--REPLACE(A.RMRoll, '|', CHAR(13)) AS RMROLL,
		ParentDOM,
		QRCode
	From
	(
	 Select Distinct 
	    E.OrderNo, 
		E.ReleaseNo,
		CustPONum = sd.[cf_Customer PO#],
		SO.PODate,
		E.UserId,
		EI.ItemId,
		I.Descr,
		Spec = (SELECT cf_Spec FROM [005].[dbo].[trav_tblInItemAlias_view] AS AL WHERE AL.ItemID = I.ItemId AND AL.AliasType = 1 AND AL.RefID = M.CustId),
		CustomerPN = (SELECT AliasID FROM [005].[dbo].[tblInItemAlias] AS AL WHERE AL.ItemID = I.ItemId AND AL.AliasType = 1 AND AL.RefID = M.CustId),
		EI.TravSerNum,
		EI.SerialNo,
		EI.LotNo,
		EI.MfgDate,
		EI.FGExpDate,
		SerialNoBarCode = EI.SerialNo, 
		LotNoBarCode = EI.LotNo, 
		EI.HeadPos,
		EI.CutPos,
		ISNULL(Q.QtyOnHand,EI.TotalQty) as TotalQty,
		EI.TotalWaste,
		EI.UOM,
		EI.LocId,
		GrossLength = EI.CrossPlyGrossLength * ULY.ConvFactor,
		NetLength = EI.CrossPlyNetLength * ULY.ConvFactor,
		GrossLengthSF = EI.CrossPlyGrossLength * USF.ConvFactor,
		NetLengthSF = EI.CrossPlyNetLength * USF.ConvFactor,
		GrossWeight = EI.CrossPlyGrossLength * ULB.ConvFactor,
		NetWeight = EI.CrossPlyNetLength * ULB.ConvFactor,
		IIF(PM.nTarget IS NULL, IIF(PPM.nTarget IS NULL, null, PPM.nTarget), PM.nTarget) AS MaximumStorageTemp,
		IIF(PM.nTarget IS NULL, IIF(PPM.nTarget IS NULL, null, 'C'), 'F') AS MaximumStorageTempFC,
		--A1.RMRoll,
		ParentDOM = (select MIN(L.[cf_Vendor Mfg Date]) as ParentMfgDate from [W005].dbo.OrderReleaseKitRawMatlOutTime O INNER JOIN [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = O.RMItemId AND L.LotNum = O.RMSerialNo where FGItemId = EI.ItemId and FGTravSerNum = EI.TravSerNum),
		QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'') -- <--must be able to generate QRCode for FG (using TravSerNum) or IM (using TravLotNum) 
	FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			INNER JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=C.ParentOrderNo AND E.ReleaseNo=1
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id and EI.IsAssembly = 1
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
			INNER JOIN [005].[dbo].[tblInItemUom] AS ULY ON ULY.ItemId = I.ItemId AND ULY.UOM = 'LY'
			INNER JOIN [005].[dbo].[tblInItemUom] AS ULB ON ULB.ItemId = I.ItemId AND ULB.UOM = 'LB'
			INNER JOIN [005].[dbo].[tblInItemUom] AS USF ON ULB.ItemId = I.ItemId AND ULB.UOM = 'SF'
			LEFT JOIN [005].[dbo].[trav_tblMpOrderReleases_view] AS R ON R.OrderNo = C.OrderNo AND R.ReleaseNo = C.ReleaseNo
			LEFT JOIN [005].[dbo].[trav_tblMpHistoryOrderReleases_View] AS RH ON RH.OrderNo = C.OrderNo AND RH.ReleaseNo = C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblSoTransHeader] AS SO ON ((SO.TransId = R.SalesOrder) OR (SO.TransId = RH.SalesOrder))
			LEFT JOIN [005].[dbo].[trav_tblSoTransDetail_view] AS SD ON ((SD.TransId = R.SalesOrder and SD.EntryNum = R.[cf_SO Line No]) OR (SD.TransId = RH.SalesOrder AND SD.EntryNum = RH.[cf_SO Line No]))
			LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q ON Q.ItemId = EI.ItemId AND Q.LotNum = EI.TravLotNum
			--LEFT JOIN
			--(
			--	SELECT OrderReleaseEventItemId, STRING_AGG(CONVERT(NVARCHAR(max),RMROLL), '|') AS RMRoll
			--	FROM
			--	(
			--		SELECT DISTINCT OrderReleaseEventItemId, RMSerialNo AS RMRoll 
			--		FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime]
			--		where (@OrderReleaseEventItemId = 0 or OrderReleaseEventItemId = @OrderReleaseEventItemId) AND 
			--		CreatedByOrderReleaseEventId in (SELECT E.ID FROM OrderReleaseEvent E INNER JOIN CCIOrderReleaseInfo C ON C.ParentOrderNo = E.OrderNo AND C.ReleaseNo = 1 where C.OrderNo = @OrderNo AND C.ReleaseNo = @ReleaseNo)
			--		UNION ALL
			--		SELECT DISTINCT OrderReleaseEventItemId, RMSerialNo AS RMRoll 
			--		FROM [W005].[dbo].[OrderReleaseKitRawMatlNonOT]
			--		where (@OrderReleaseEventItemId = 0 or OrderReleaseEventItemId = @OrderReleaseEventItemId) AND 
			--		CreatedByOrderReleaseEventId in (SELECT E.ID FROM OrderReleaseEvent E INNER JOIN CCIOrderReleaseInfo C ON C.ParentOrderNo = E.OrderNo AND C.ReleaseNo = 1 where C.OrderNo = @OrderNo AND C.ReleaseNo = @ReleaseNo)
			--	) A
			--	GROUP BY OrderReleaseEventItemId
			--) A1 ON A1.OrderReleaseEventItemId = EI.Id 
			LEFT JOIN [W005].[dbo].[Characteristic] AS CM ON CM.Characteristic = 'MaterialStorageTempF'
			LEFT JOIN [W005].[dbo].[ProductChar] AS PM ON PM.ItemId = EI.ItemId AND PM.CharId = CM.Id
			LEFT JOIN [W005].[dbo].[Characteristic] AS CCM ON CCM.Characteristic = 'MaterialStorageTempC'
			LEFT JOIN [W005].[dbo].[ProductChar] AS PPM ON PPM.ItemId = EI.ItemId AND PPM.CharId = CCM.Id
	WHERE C.OrderNo = @OrderNo AND C.ReleaseNo = @ReleaseNo AND  (Q.QtyOnHand is null or Q.QtyOnHand != 0) AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)
	) 
	AS A
END
GO
