USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spConvertingMaterialTrackerRptByPLNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spConvertingMaterialTrackerRptByPLNo]  @PLNo AS int
AS
BEGIN

--DECLARE  @PLNo AS int = 38

SELECT DISTINCT PLNo, ProdOrderNo, ProdOrderRelNo, ItemId, SerNo, LotNo
into #ItemsOnPL
FROM 
(
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ItemId, SI.SerNo, SI.LotNo
	FROM [W005Blank].[dbo].ShipItem SI 
		INNER JOIN [W005Blank].[dbo].[ShipPackingListDetail] SPLD ON SI.Id = SPLD.ShipItemId 
	WHERE SPLD.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ItemId, SI.SerNo, SI.LotNo
	FROM [W005Blank].[dbo].ShipItem SI 
		INNER JOIN [W005Blank].[dbo].[ShipPallet] SP ON SP.Id=SI.ShipPalletId
		INNER JOIN [W005Blank].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipPalletId=SP.Id
	WHERE SPLD.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ItemId, SI.SerNo, SI.LotNo
	FROM [W005Blank].[dbo].ShipItem SI 
		INNER JOIN [W005Blank].[dbo].[ShipCarton] SC ON SC.Id=SI.ShipCartonId
		INNER JOIN [W005Blank].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipCartonId=SC.Id
	WHERE SPLD.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT SPLD.PLNo, SI.ProdOrderNo, SI.ProdOrderRelNo, SI.ItemId, SI.SerNo, SI.LotNo
	FROM [W005Blank].[dbo].ShipItem SI 
		INNER JOIN [W005Blank].[dbo].[ShipBox] SB ON SB.Id=SI.ShipBoxId
		INNER JOIN [W005Blank].[dbo].[ShipPackingListDetail] SPLD ON SPLD.ShipBoxId=SB.Id
	WHERE SPLD.PLNo = @PLNo
) A


/* Sales & PLNo */
SELECT DISTINCT SPL.PLNo, SPL.OrderNo AS SalesOrderNo, SPL.ShipDate, SPLD.ItemID, SPLD.Location, A.ProdOrderNo, A.ProdOrderRelNo, SPL.CustName, SPL.CustPO
INTO #SPLD
FROM #ItemsOnPL A
INNER JOIN [W005Blank].[dbo].[ShipPackingList] SPL  ON SPL.PLNo=A.PLNo
INNER JOIN [W005Blank].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo

--DROP TABLE #SPLD
--DROP TABLE #tmpBase
--select * from #SPLD

/* Base Results */

	SELECT DISTINCT
			MP.OrderNo
			,MP.ReleaseNo
			,JobNo = MP.OrderNo
			,FGItemId = ORS.AssemblyId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [003].[dbo].[tblInItem] I
							 LEFT JOIN [003].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=ORS.AssemblyId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,LocId = S.Location
			,MP.CustId
			,S.CustName
			,S.PLNo
			,S.ShipDate
			,S.SalesOrderNo
			,P.ProgramId
			,P.ProgramName
			,CustPONum = S.CustPO
			,FGMaxRoomTimeHrs = S1.MaxRoomTimeHrs
	INTO #tmpBase
	FROM #SPLD S
			INNER JOIN [W005Blank].[dbo].[OrderReleaseSummary] AS ORS ON ORS.OrderNo = S.ProdOrderNo AND ORS.ReleaseNo = S.ProdOrderRelNo 
			INNER JOIN [003].[dbo].[tblMpOrderReleases] AS MP ON MP.OrderNo = ORS.OrderNo AND MP.ReleaseNo = ORS.ReleaseNo	
			LEFT JOIN (SELECT DISTINCT otis.ProgramId, PR.ProgramName, ore.OrderNo,ore.ReleaseNo 
						FROM [W005Blank].[dbo].[OrderReleaseEvent] ore
						INNER JOIN [W005Blank].[dbo].OrderReleaseEventItem orei ON OrderreleaseeventId = ore.Id AND IsAssembly = 1
						INNER JOIN [W005Blank].[dbo].OutTimeItemStatus otis ON otis.ItemId = orei.ItemId AND otis.SerialNo = orei.SerialNo
						INNER JOIN [W005Blank].[dbo].Program PR ON PR.Id = otis.ProgramId) P ON P.OrderNo=ORS.OrderNo AND P.ReleaseNo = ORS.ReleaseNo
		    LEFT JOIN [W005Blank].dbo.OutTimeItemSpecs S1 ON S1.ItemId = ORS.AssemblyId AND S1.ProgramId = P.ProgramId 
 UNION ALL
	SELECT DISTINCT
			MP.OrderNo
			,MP.ReleaseNo
			,JobNo = MP.OrderNo
			,FGItemId = ORS.AssemblyId
			,FGAlias = (SELECT ISNULL(AliasID, I.Descr)
						FROM [003].[dbo].[tblInItem] I
							 LEFT JOIN [003].[dbo].[trav_tblInItemAlias_View] IA ON IA.ItemID=I.ItemId
						WHERE I.ItemId=ORS.AssemblyId AND (IA.RefID IS NULL OR IA.RefID=MP.CustId) AND ((IA.[cf_FG Program] IS NULL) OR (IA.[cf_FG Program]=P.ProgramName)))
			,LocId = S.Location
			,MP.CustId
			,S.CustName
			,S.PLNo
			,S.ShipDate
			,S.SalesOrderNo
			,P.ProgramId
			,P.ProgramName 
			,CustPONum = S.CustPO
			,FGMaxRoomTimeHrs = S1.MaxRoomTimeHrs
	FROM #SPLD S
			INNER JOIN [W005Blank].[dbo].[OrderReleaseSummary] AS ORS ON ORS.OrderNo = S.ProdOrderNo AND ORS.ReleaseNo = S.ProdOrderRelNo 
			INNER JOIN [003].[dbo].[tblMpHistoryOrderReleases] AS MP ON MP.OrderNo = ORS.OrderNo AND MP.ReleaseNo = ORS.ReleaseNo
			LEFT JOIN (SELECT DISTINCT otis.ProgramId, PR.ProgramName, ore.OrderNo,ore.ReleaseNo 
						FROM [W005Blank].[dbo].[OrderReleaseEvent] ore
						INNER JOIN [W005Blank].[dbo].OrderReleaseEventItem orei ON OrderreleaseeventId = ore.Id AND IsAssembly = 1
						INNER JOIN [W005Blank].[dbo].OutTimeItemStatus otis ON otis.ItemId = orei.ItemId AND otis.SerialNo = orei.SerialNo
						INNER JOIN [W005Blank].[dbo].Program PR ON PR.Id = otis.ProgramId) P ON P.OrderNo=ORS.OrderNo AND P.ReleaseNo = ORS.ReleaseNo
		    LEFT JOIN [W005Blank].dbo.OutTimeItemSpecs S1 ON S1.ItemId = ORS.AssemblyId AND S1.ProgramId = P.ProgramId 

/* TravLotNum List*/
SELECT DISTINCT tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, tmp.CustId, tmp.CustName, I.ItemId, I.TravLotNum, I.Id AS OrderReleaseEventItemID, MIN(LastScanDateTime) AS FGBornDateTime
INTO #TravLotNums
FROM #tmpBase tmp
	 INNER JOIN OrderReleaseEvent E ON E.OrderNo = tmp.JobNo AND E.ReleaseNo = tmp.ReleaseNo
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id AND I.IsAssembly=1 AND I.ItemId=tmp.FGItemId
	 INNER JOIN OutTimeItemStatusHistory H ON H.ItemId=I.ItemId AND H.SerialNo=I.TravLotNum
	 INNER JOIN #ItemsOnPL P ON P.ProdOrderNo = E.OrderNo AND P.ProdOrderRelNo = E.ReleaseNo AND P.SerNo = I.SerialNo
GROUP BY tmp.OrderNo, tmp.ReleaseNo, tmp.LocId, tmp.CustId, tmp.CustName, I.ItemId, I.TravLotNum, I.Id
ORDER BY ItemId, TravLotNum

-- DROP TABLE #SPLD
-- DROP TABLE #tmpBase
-- DROP TABLE #TravLotNums
--select * from #tmpBase
--select * from #SPLD	
--select * from #TravLotNums
SELECT S.*, OT.RMItemId, OT.RMSerialNo, OT.RMLotNo, TotalRoomMinutes
INTO #FGRMOTMinutes
FROM #TravLotNums S
	INNER JOIN OrderReleaseKitRawMatlOutTime OT ON OT.FGItemId = S.ItemId AND OT.FGTravLotNum = S.TravLotNum
ORDER BY RMItemId, RMSerialNo, RMLotNo, TotalRoomMinutes
--select * from #FGRMOTMinutes
--DROP TABLE #FGSerialRangePerRMOT
SELECT
	  M.OrderNo
    , M.ReleaseNo 
	, M.LocId
	, FGItemId = M.ItemId
	, FGSerialNos = STUFF
	 (
		(
			SELECT DISTINCT ', ' + T1.TravLotNum
			FROM #FGRMOTMinutes T1
			WHERE T1.RMItemId = M.RMItemId AND T1.RMSerialNo=M.RMSerialNo AND T1.TotalRoomMinutes = M.TotalRoomMinutes
			FOR XML PATH(''), TYPE
		).value('.[1]','nvarchar(max)'),
		1,1,''
	 ) 
    , M.FGBornDateTime
	, M.RMItemId
	, M.RMSerialNo
	, M.RMLotNo
	, M.TotalRoomMinutes
	, RMReceiptDate = L.InitialDate
	, RMExpDate = L.ExpDate
	, ItemType = SUBSTRING(IL.GLAcctCode,1,1)
	, MIN(LastScanDateTime) AS RMScannedOutDateTime
	, FGOREIId = (SELECT MIN(T1.OrderReleaseEventItemId) FROM #FGRMOTMinutes T1 WHERE T1.OrderNo = M.OrderNo and T1.ReleaseNo = M.ReleaseNo AND T1.RMItemId = M.RMItemId AND T1.RMSerialNo=M.RMSerialNo AND T1.TotalRoomMinutes = M.TotalRoomMinutes)
INTO #FGSerialRangePerRMOT
FROM #FGRMOTMinutes M
	 INNER JOIN [W005Blank].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORK ON ORK.OrderReleaseEventItemID=M.OrderReleaseEventItemID AND ORK.RMItemId = M.RMItemId AND ORK.RMSerialNo = M.RMSerialNo
	 INNER JOIN [003].dbo.tblInItemLoc IL ON IL.ItemId = M.RMItemId AND IL.LocId = M.LocId
	 INNER JOIN [003].dbo.tblInItemLocLot L ON L.ItemId = M.RMItemId AND L.LocId = M.LocId AND L.LotNum = M.RMSerialNo
GROUP BY M.OrderNo, M.ReleaseNo, M.LocId, M.ItemId, M.FGBornDateTime, M.RMItemId, M.RMSerialNo, M.RMLotNo, M.TotalRoomMinutes, L.InitialDate, L.ExpDate, IL.GLAcctCode
ORDER BY M.OrderNo, M.ReleaseNo, RMItemId, RMSerialNo, RMLotNo

UPDATE #FGSerialRangePerRMOT Set RMReceiptDate = LRM.InitialDate , RMExpDate = LRM.ExpDate
FROM [W005Blank].dbo.OrderReleaseEventItem OREI
	 INNER JOIN [W005Blank].dbo.OrderReleaseEvent ORE ON ORE.Id = OREI.OrderReleaseEventId
	 INNER JOIN [W005Blank].dbo.OrderReleaseEvent ORERM ON ORERM.OrderNo = ORE.OrderNo and ORERM.ReleaseNo = ORE.ReleaseNo
	 INNER JOIN [W005Blank].dbo.OrderReleaseEventItem OREIRM ON OREIRM.OrderReleaseEventId = ORERM.Id AND OREIRM.IsAssembly = 0
	 INNER JOIN [003].dbo.tblInItemLocLot LRM ON LRM.ItemId = OREIRM.ItemId AND LRM.LocId = OREIRM.LocId AND LRM.LotNum = OREIRM.SerialNo
WHERE #FGSerialRangePerRMOT.ItemType = '8' AND OREI.IsAssembly = 1 AND OREI.ItemId = #FGSerialRangePerRMOT.RMItemId AND OREI.SerialNo = #FGSerialRangePerRMOT.RMSerialNo
--select * from #FGSerialRangePerRMOT ORDER BY OrderNo, ReleaseNo, RMItemId, RMSerialNo, RMLotNo
--DROP TABLE #FGOT
--select * from #TravLotNums
--select * from #FGRMOTMinutes
/* FGs */
SELECT *
INTO #FGOT
FROM (
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		tmp.FGMaxRoomTimeHrs,
		ORKH.FGItemId,
		T.RMItemId, 
		T.RMSerialNo, 
		T.FGBornDateTime,
		T.FGOREIId,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,		
		ORKH.LastScanDateTime AS DateTimeIn,
		NULL AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		T.RMScannedOutDateTime,
		ItemType = Substring(L.GLAcctCode,1,1)
	FROM #tmpBase tmp
		 INNER JOIN #FGSerialRangePerRMOT T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN [W005Blank].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.FGOREIId AND ORKH.RMItemId = T.RMItemId AND ORKH.RMSerialNo = T.RMSerialNo
		 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.RMItemId AND OTISH.SerialNo=T.RMSerialNo AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 INNER JOIN [003].dbo.tblInItemLoc L ON L.ItemId = t.RMItemId AND L.LocId like 'INV%'
		 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType = 'FREEZER'  AND (ISNULL(PriorLOC.[cf_Bin Type],'') != OTISH.BinType)
	UNION ALL
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		tmp.FGMaxRoomTimeHrs,
		ORKH.FGItemId,
		T.RMItemId, 
		T.RMSerialNo, 
		T.FGBornDateTime,
		T.FGOREIId,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,		
		ORKH.LastScanDateTime AS DateTimeIn,
		NULL AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		T.RMScannedOutDateTime,
		ItemType = Substring(L.GLAcctCode,1,1)
	FROM #tmpBase tmp
		 INNER JOIN #FGSerialRangePerRMOT T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN [W005Blank].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.FGOREIId AND ORKH.RMItemId = T.RMItemId AND ORKH.RMSerialNo = T.RMSerialNo
		 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.RMItemId AND OTISH.SerialNo=T.RMSerialNo AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 INNER JOIN [003].dbo.tblInItemLoc L ON L.ItemId = t.RMItemId AND L.LocId like 'INV%'
		 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType = 'REEFER'  AND (ISNULL(PriorLOC.[cf_Bin Type],'') != OTISH.BinType)
	UNION ALL
	SELECT DISTINCT 
		tmp.JobNo,
		tmp.OrderNo,
		tmp.ReleaseNo,
		tmp.ProgramId,
		tmp.FGAlias,
		tmp.FGMaxRoomTimeHrs,
		ORKH.FGItemId,
		T.RMItemId, 
		T.RMSerialNo, 
		T.FGBornDateTime,
		T.FGOREIId,
		OTISH.OutTimeItemStatusId, 
		ORKH.OrderReleaseKitRawMatlOutTimeId,
		NULL AS DateTimeIn,
		ORKH.LastScanDateTime AS DateTimeOut,
		OTISH.UserId,
		OTISH.BinType, 
		ORKH.TotalRoomMinutes,
		T.RMScannedOutDateTime,
		ItemType = Substring(L.GLAcctCode,1,1)
	FROM #tmpBase tmp
		 INNER JOIN #FGSerialRangePerRMOT T ON T.OrderNo=tmp.OrderNo AND T.ReleaseNo=tmp.ReleaseNo
		 INNER JOIN [W005Blank].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORKH ON ORKH.OrderReleaseEventItemId=T.FGOREIId AND ORKH.RMItemId = T.RMItemId AND ORKH.RMSerialNo = T.RMSerialNo
		 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=T.RMItemId AND OTISH.SerialNo=T.RMSerialNo AND OTISH.LastScanDateTime=ORKH.LastScanDateTime AND InTransitOTStopped = 0
		 INNER JOIN [003].dbo.tblInItemLoc L ON L.ItemId = t.RMItemId AND L.LocId like 'INV%'
		 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
	WHERE OTISH.BinType IN ('ROOM','WAREHOUSE')  AND (ISNULL(PriorLOC.[cf_Bin Type],'') NOT IN ('ROOM', 'WAREHOUSE')) 
) FG
ORDER BY OrderNo, ReleaseNo, RMSerialNo,ISNULL(DateTimeOut,DateTimeIn)

--SELECT * FROM #FGOT where RMSerialNo = 'AR030425-01/03.2'

/*  #RawMatlOTHist		*/
SELECT 
		OutTimeItemStatusId, 
		ItemId, 
		SerialNo, 
		LotNo, 
		BinType,
		DateTimeIn, 		
		DateTimeOut, 
		TotalRoomMinutes, 
		MaxRoomTimeHrs, 
		OutTimeDuringTransit,
		UserId
INTO #RawMatlOTHist
FROM 
(
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, NULL AS DateTimeIn, OTISH.LastScanDateTime AS DateTimeOut ,OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, 
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #FGOT K
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=K.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=K.RMItemId AND OTISH.SerialNo=K.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005Blank].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('ROOM', 'WAREHOUSE') AND (PriorLOC.[cf_Bin Type] IS NULL OR PriorLOC.[cf_Bin Type] NOT IN ('ROOM', 'WAREHOUSE')) AND OTISH.LastScanDateTime < K.FGBornDateTime 
		GROUP BY K.FGOREIId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
	UNION ALL 
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime AS DateTimeIn, NULL AS DateTimeOut, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs,
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #FGOT K
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=K.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=K.RMItemId AND OTISH.SerialNo=K.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005Blank].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('FREEZER') AND (PriorLOC.[cf_Bin Type] IS NULL OR PriorLOC.[cf_Bin Type] != OTISH.BinType) AND OTISH.LastScanDateTime < K.FGBornDateTime 
		GROUP BY K.FGOREIId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
	UNION ALL 
		SELECT DISTINCT OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime AS DateTimeIn, NULL AS DateTimeOut, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs,
						ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0) AS OutTimeDuringTransit, OTISH.UserId
		FROM #FGOT K
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemSpecs] OS ON OS.ItemId=K.RMItemId AND (OS.ProgramId=K.ProgramId OR OS.ProgramId = 0)
			 INNER JOIN [W005Blank].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.ItemId=K.RMItemId AND OTISH.SerialNo=K.RMSerialNo AND OTISH.ProgramId=OS.ProgramId AND InTransitOTStopped = 0
			 LEFT JOIN [003].[dbo].[trav_tblWmExtLoc_view] PriorLOC ON PriorLOC.Id=OTISH.PriorWmBinId
			 LEFT JOIN [W005Blank].[dbo].[OutTimeReceiving] R ON R.Id=OTISH.OutTimeRecvdId
		WHERE OTISH.BinType IN ('REEFER') AND (PriorLOC.[cf_Bin Type] IS NULL OR PriorLOC.[cf_Bin Type] != OTISH.BinType) AND OTISH.LastScanDateTime < K.FGBornDateTime 
		GROUP BY K.FGOREIId, OTISH.OutTimeItemStatusId, OTISH.ItemId, OTISH.SerialNo, OTISH.LotNo, OTISH.BinType, OTISH.LastScanDateTime, OTISH.TotalRoomMinutes, OS.MaxRoomTimeHrs, R.Rec1OutTime, R.Rec2OutTime, OTISH.UserId
) RM
ORDER BY ItemId, SerialNo, ISNULL(DateTimeIn,DateTimeOut)

--SELECT * FROM #FGOT Order by OrderNo, ReleaseNo
--SELECT * FROM #RawMatlOTHist order by ItemId, SerialNo
--SELECT * FROM OutTimeItemStatusHistory WHERE ItemId = 'SP- MP2PP99NP0042 -315MM' and SerialNo = '00000046-001-001'

/* Final Result Set */
SELECT 
		 A.OrderNo
		,A.ReleaseNo
		,F.FGItemId
		,F.FGSerialNos
		,RMReceiptDate = (SELECT FORMAT(RMReceiptDate, 'dd MMM yyyy', 'en-US') FROM (SELECT TOP 1 RMReceiptDate FROM #FGSerialRangePerRMOT T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo) A)
		,RMExpDate = (SELECT FORMAT(RMExpDate, 'dd MMM yyyy', 'en-US') FROM (SELECT TOP 1 RMExpDate FROM #FGSerialRangePerRMOT T1 WHERE T1.RMItemId=A.RMItemId AND T1.RMSerialNo=A.RMSerialNo) A)
		,A.RMItemId
		,Alias = (SELECT TOP 1 AliasID FROM [003].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC)
		,Spec =  (SELECT TOP 1 [cf_Spec] FROM [003].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC)
		,Description = ISNULL((SELECT TOP 1 [cf_Alias Description] FROM [003].[dbo].[trav_tblInItemAlias_View] WHERE ItemId=A.RMItemId AND RefID=B.CustId AND (([cf_FG Program]=B.ProgramName) OR ([cf_FG Program] IS NULL)) ORDER BY [cf_FG Program] DESC),A.[Description])
		,A.RMSerialNo
		,A.RMLotNo
		,RcptLength = CAST(IIF(LR.QtyFilled is null
						,IIF(HLR.QtyFilled is null
								,0
								,IIF(HLR.Units = HLR.UomDflt, HLR.QtyFilled, HLR.QtyFilled * (SELECT ConvFactor FROM [003].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = HLR.UomDflt)))
						,IIF(LR.Units = LR.UomDflt, LR.QtyFilled, LR.QtyFilled * (SELECT ConvFactor FROM [003].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = LR.UomDflt)))
				AS decimal(10,2)) 
		,RcptLenthWithUOM =  CAST(CAST(IIF(LR.QtyFilled is null
								,IIF(HLR.QtyFilled is null
										,0
										,IIF(HLR.Units = HLR.UomDflt, HLR.QtyFilled, HLR.QtyFilled * (SELECT ConvFactor FROM [003].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = HLR.UomDflt)))
								,IIF(LR.Units = LR.UomDflt, LR.QtyFilled, LR.QtyFilled * (SELECT ConvFactor FROM [003].dbo.tblInItemUom WHERE ItemId = A.RMItemId AND Uom = LR.UomDflt)))
						AS decimal(10,2)) AS varchar(8)) + ' ' + ISNULL(LR.UomDflt, IsNULL(HLR.UomDflt,''))
		,DfltUOM = ISNULL(LR.UomDflt, IsNULL(HLR.UomDflt,''))
		,A.MaxRoomTimeHrs
		,A.OutTimeDuringTransit
		,TotalRmHrs
		,TotalOutTimeRemaining = (MaxRoomTimeHrs - TotalRmHrs)
		,CAST(ISNULL(A.RMDateTimeIn,ISNULL(A.RMDateTimeOut, ISNULL(A.FGDateTimeIn, A.FGDateTimeOut))) AS date) AS [Date]
		,RMDateTimeOut
		,RMDateTimeIn
		,FGDateTimeOut
		,FGDateTimeIn
		,A.JobNo
		,A.FGAlias
		,UserId
		,B.SalesOrderNo
		,B.PLNo	
		,B.CustName
		,ShipDate = (SELECT FORMAT(B.ShipDate, 'dd MMM yyyy', 'en-US'))
		,StorageTemp = IIF(A.StorageTempF is null, IIF(A.StorageTempC is null, '', CAST(A.StorageTempC AS varchar(8)) + 'C')
						,IIF(A.StorageTempC is null, CAST(A.StorageTempF AS varchar(8)) + 'F', CAST(A.StorageTempF AS varchar(8)) + 'F / ' + CAST(A.StorageTempC AS varchar(8)) + 'C'))
		,A.BinType
		,A.FGMaxRoomTimeHrs
		,WebTotalOutTimeRemaining = (A.FGMaxRoomTimeHrs - MAX(TotalRmHrs))
INTO #FinalStep1
FROM (
	SELECT DISTINCT 
		R.ItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [003].[dbo].[tblInItem] WHERE ItemId=R.ItemId)
		,R.SerialNo AS RMSerialNo
		,R.LotNo AS RMLotNo
		,R.MaxRoomTimeHrs
		,OutTimeDuringTransit = IIF(R.ItemId LIKE 'IM%', 
									(SELECT CAST(MIN(TotalRoomMinutes) AS float) / 60 FROM [W005Blank].[dbo].[OutTimeItemStatusHistory] WHERE SerialNo=R.SerialNo),
									R.OutTimeDuringTransit)									
		,CAST(R.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,R.DateTimeIn AS RMDateTimeIn
		,R.DateTimeOut AS RMDateTimeOut
		,FGDateTimeIn = Cast(null as datetime)
		,FGDateTimeOut  = Cast(null as datetime)
		,JobNo = K.OrderNo
		,K.OrderNo
		,K.ReleaseNo
		,K.FGItemId
		,K.FGAlias
		,R.UserId
		,StorageTempF = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempF')
		,StorageTempC = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=R.ItemId AND c.Characteristic = 'MaterialStorageTempC')
		,R.BinType
		,FGMaxRoomTimeHrs
	FROM #FGOT K 
		 INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.Id=K.OrderReleaseKitRawMatlOutTimeId 
		 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.FGOREIId
		 INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo AND ISNULL(R.DateTimeIn,R.DateTimeOut) <= K.RMScannedOutDateTime
		 --INNER JOIN [003].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = OREI.LocId AND L.LotNum = ORK.RMSerialNo
		 WHERE K.ItemType IN ('1','2','3')
	UNION ALL 
	SELECT DISTINCT 
		ORK.RMItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [003].[dbo].[tblInItem] WHERE ItemId=ORK.RMItemId)
		,ORK.RMSerialNo AS RMSerialNo
		,ORK.RMLotNo AS RMLotNo
		,Spec.MaxRoomTimeHrs
		,OutTimeDuringTransit = 0								
		,CAST(ORK.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,RMDateTimeIn = IIF(OTISH.BinType = 'FREEZER', ORK.LastScanDateTime , null)
		,RMDateTimeOut = IIF(OTISH.BinType = 'FREEZER', null , ORK.LastScanDateTime)
		,FGDateTimeIn = Cast(null as datetime)
		,FGDateTimeOut  = Cast(null as datetime)
		,JobNo = K.OrderNo
		,K.OrderNo
		,K.ReleaseNo
		,K.FGItemId
		,K.FGAlias
		,OTISH.UserId
		,StorageTempF = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=ORK.RMItemId AND c.Characteristic = 'MaterialStorageTempF')
		,StorageTempC = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=ORK.RMItemId AND c.Characteristic = 'MaterialStorageTempC')
		,OTISH.BinType
		,FGMaxRoomTimeHrs
	FROM #FGOT K 
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.FGItemId = K.FGItemId AND ORK.RMItemId = K.RMItemId AND ORK.RMSerialNo = K.RMSerialNo
		 --INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=K.FGOREIId
		 INNER JOIN OutTimeItemStatusHistory OTISH ON OTISH.ItemId = ORK.RMItemId AND OTISH.SerialNo = ORK.RMSerialNo AND OTISH.LastScanDateTime = ORK.LastScanDateTime
		 INNER JOIN OutTimeItemSpecs Spec ON Spec.ItemId = ORK.RMItemId AND Spec.ProgramId = 0
		 --INNER JOIN #RawMatlOTHist R ON R.ItemId=ORK.RMItemId AND R.SerialNo=ORK.RMSerialNo AND ISNULL(R.DateTimeIn,R.DateTimeOut) <= K.RMScannedOutDateTime
		 --INNER JOIN [003].dbo.tblInItemLocLot L ON L.ItemId = ORK.RMItemId AND L.LocId = OREI.LocId AND L.LotNum = ORK.RMSerialNo
		 WHERE K.ItemType = '8'
	UNION ALL 
	SELECT DISTINCT	
		ORK.RMItemId AS RMItemId
		,[Description] = (SELECT Descr FROM [003].[dbo].[tblInItem] WHERE ItemId=K.RMItemId)
		,ORK.RMSerialNo AS RMSerialNo
		,ORK.RMLotNo AS RMLotNo
		,OT.MaxRoomTimeHrs
		,OutTimeDuringTransit =ISNULL(IIF(R.Rec1OutTime>R.Rec2OutTime, R.Rec1OutTime, R.Rec2OutTime),0)
		,CAST(ORK.TotalRoomMinutes as FLOAT)/60 AS TotalRmHrs
		,RMDateTimeIn = Cast(null as datetime)
		,RMDateTimeOut  = Cast(null as datetime)
		,FGDateTimeIn = iif(OTISFG.BinType IN ('FREEZER'), ORK.LastScanDateTime, null)
		,FGDateTimeOut = iif(OTISFG.BinType IN ('ROOM', 'WAREHOUSE', 'REEFER'), ORK.LastScanDateTime, null)
		,K.JobNo
		,K.OrderNo
		,K.ReleaseNo
		,K.FGItemId
		,K.FGAlias
		,K.UserId
		,StorageTempF = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=K.RMItemId AND c.Characteristic = 'MaterialStorageTempF')
		,StorageTempC = (SELECT CAST(pc.nTarget AS decimal(10,3)) FROM [W005Blank].[dbo].[ProductChar] pc INNER JOIN [W005Blank].[dbo].[Characteristic] c ON pc.CharId=c.Id WHERE pc.ItemId=K.RMItemId AND c.Characteristic = 'MaterialStorageTempC')
		,OTISFG.BinType
		,FGMaxRoomTimeHrs
	FROM #FGOT K
		 INNER JOIN OrderReleaseKitRawMatlOutTimeHistory ORK ON ORK.OrderReleaseEventItemId=K.FGOREIId AND ORK.RMItemId = K.RMItemId AND ORK.RMSerialNo = K.RMSerialNo
		 INNER JOIN OutTimeItemSpecs OTFG ON OTFG.ItemId = ORK.FGItemId 
		 INNER JOIN OutTimeItemSpecs OT ON OT.ItemId = ORK.RMItemId AND (OT.ProgramId = OTFG.ProgramId OR OT.ProgramId = 0)
		 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId = ORK.RMItemId AND OTIS.SerialNo = ORK.RMSerialNo
		 INNER JOIN OutTimeItemStatusHistory OTISFG ON OTISFG.ItemId = ORK.FGItemId AND OTISFG.SerialNo = ORK.FGTravLotNum AND OTISFG.LastScanDateTime = ORK.LastScanDateTime
		 LEFT JOIN [W005Blank].[dbo].[OutTimeReceiving] R ON R.Id=OTIS.OutTimeRecvdId
 GROUP BY K.RMItemId,ORK.RMItemId, ORK.RMSerialNo, ORK.RMLotNo, OT.MaxRoomTimeHrs, K.TotalRoomMinutes, K.DateTimeIn, K.DateTimeOut, K.JobNo, K.OrderNo, K.ReleaseNo, K.FGItemId, K.FGAlias, K.UserId,OTIS.BinType,R.Rec1OutTime,R.Rec2OutTime,OTISFG.BinType, ORK.LastScanDateTime,ORK.TotalRoomMinutes, FGMaxRoomTimeHrs
) A
INNER JOIN #tmpBase B ON B.OrderNo=A.OrderNo AND B.ReleaseNo=A.ReleaseNo
INNER JOIN #FGSerialRangePerRMOT F ON F.OrderNo = A.OrderNo AND F.ReleaseNo = A.ReleaseNo AND F.RMItemId = A.RMItemId AND F.RMSerialNo = A.RMSerialNo
LEFT JOIN (SELECT hd.ItemId, hlr.LotNum, hlr.QtyFilled, hd.Units, i.UomDflt
			FROM [003].[dbo].[tblPoHistLotRcpt] hlr 
				INNER JOIN [003].[dbo].[tblPoHistDetail] hd ON hlr.TransId = hd.TransID AND hlr.EntryNum = hd.EntryNum
				INNER JOIN [003].dbo.tblInItem i ON i.ItemId = hd.ItemId) HLR ON HLR.ItemId=A.RMItemId AND HLR.LotNum=A.RMSerialNo
LEFT JOIN (SELECT d.ItemId, lr.LotNum, lr.QtyFilled, d.Units, i.UomDflt
			FROM [003].[dbo].[tblPoTransLotRcpt] lr 
			INNER JOIN [003].[dbo].[tblPoTransDetail] d ON lr.TransId = d.TransID AND lr.EntryNum = d.EntryNum
			INNER JOIN [003].dbo.tblInItem i ON i.ItemId = d.ItemId) LR ON LR.ItemId=A.RMItemId AND LR.LotNum=A.RMSerialNo

GROUP BY A.OrderNo, A.ReleaseNo, A.RMItemId, Description, F.FGItemId, F.FGSerialNos, CustId, ProgramName, A.RMSerialNo, A.RMLotNo, MaxRoomTimeHrs, OutTimeDuringTransit, 
		 CustName, A.JobNo, UserId, A.FGAlias, RMDateTimeIn, RMDateTimeOut, FGDateTimeIn, FGDateTimeOut, StorageTempF,StorageTempC, B.SalesOrderNo
		 ,LR.QtyFilled, HLR.QtyFilled,LR.Units, HLR.Units,LR.UomDflt,HLR.UomDflt, A.BinType, A.FGMaxRoomTimeHrs, B.PLNo, b.ShipDate, TotalRmHrs
ORDER BY A.OrderNo, A.ReleaseNo, RMItemId, RMSerialNo, F.FGItemId, F.FGSerialNos, ISNULL(A.RMDateTimeIn,ISNULL(A.RMDateTimeOut, ISNULL(A.FGDateTimeIn, A.FGDateTimeOut)))

--SELECT * FROM #FinalStep1 where RMSerialNo = '00000046-001-001' Order by RMItemId, RMSerialNo, Date
--SELECT * FROM #FGOT where RMSerialNo = '00000046-001-001'
--SELECT * FROM #RawMatlOTHist where SerialNo = '00000046-001-001'

SELECT F.*, A.RMOTRemaining 
FROM #FinalStep1 F
INNER JOIN 
(
	SELECT OrderNo, ReleaseNo, FGItemId, FGSerialNos, RMItemId, RMSerialNo, RMOTRemaining = MIN(TotalOutTimeRemaining)
	from #FinalStep1
	GROUP BY OrderNo, ReleaseNo, FGItemId, FGSerialNos, RMItemId, RMSerialNo, MaxRoomTimeHrs
) A ON A.OrderNo = F.OrderNo AND A.ReleaseNo = F.ReleaseNo AND A.FGSerialNos = F.FGSerialNos AND A.RMItemId = F.RMItemId AND A.RMSerialNo = F.RMSerialNo
ORDER BY OrderNo, ReleaseNo, RMItemId, RMSerialNo, FGItemId, FGSerialNos, ISNULL(RMDateTimeIn,ISNULL(RMDateTimeOut, ISNULL(FGDateTimeIn, FGDateTimeOut)))

/* Clear Temp Tables */
DROP TABLE #ItemsOnPL
DROP TABLE #SPLD
DROP TABLE #tmpBase
DROP TABLE #TravLotNums
DROP TABLE #FGOT
DROP TABLE #RawMatlOTHist

DROP TABLE #FGRMOTMinutes
DROP TABLE #FGSerialRangePerRMOT
DROP TABLE #FinalStep1

END
GO
