USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCovestroRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCovestroRollLabel] @PrintJobId as int, @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @OrderReleaseEventItemId as Int 
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS VARCHAR(8) = '00034793'
--DECLARE @ReleaseNo AS int = 7
--DECLARE @OrderReleaseEventItemId as Int = 0


SELECT DISTINCT OrderNo, ReleaseNo, CutPos, FGDescr, FGInItemAlias, FGTotalQty, FGTotalQtyUOM,
				LengthByLabelLengthUOM = FGTotalQty / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.FGItemId and U.Uom = A.LabelLengthUOM)
				, LabelLengthUOM,EndMfgDate, WidthIN, WidthMM, RMSerialNo, RMLotNo
				, CovestroRollNo = SUBSTRING(RMSerialNo, 3, 8) + Char(64 + ReleaseNo) + Char(64 + CutPos)
				, ProductLotDesignation

FROM (
	SELECT DISTINCT 
			E.OrderNo,
			E.ReleaseNo,
			FGEI.ItemId AS FGItemId,
			FG.Descr AS FGDescr,
			FGInItemAlias =  (SELECT TOP 1 AliasID 
								FROM [005].[dbo].[tblMpOrder] M
									 INNER JOIN [005].[dbo].[tblMpOrderReleases] MP ON MP.OrderNo=M.OrderNo
									 INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.ItemID=M.AssemblyId AND A.RefID=MP.CustId AND A.AliasType=1
								WHERE M.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo
							UNION ALL 
							 SELECT TOP 1 AliasID 
								FROM [005].[dbo].[tblMpHistoryOrderReleases] MP 
										INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.ItemID=MP.AssemblyId AND A.RefID=MP.CustId AND A.AliasType=1
								WHERE MP.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo),

			FGEI.TotalQty AS FGTotalQty,
			FGEI.UOM AS FGTotalQtyUOM,
			LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=FGEI.ItemId),
			WidthIN = (SELECT DISTINCT P.nTarget
						FROM [W005].[dbo].[ProductChar] AS P 
							 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
						WHERE P.ItemId=FGEI.ItemId),
			WidthMM = (SELECT DISTINCT P.nTarget
						FROM [W005].[dbo].[ProductChar] AS P
							 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
						WHERE P.ItemId = FGEI.ItemId),
			FGEI.CutPos,
			EndMfgDate = (SELECT DISTINCT ISNULL(EventEnd, EventStart) FROM OrderReleaseEvent ORE WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo AND ORE.Event='End Manufacturing'),
			RMEI.SerialNo AS RMSerialNo,
			RMEI.LotNo AS RMLotNo
			,ProductLotDesignation = (SELECT TOP 1 [cf_Product Lot Designation] 
										FROM [005].[dbo].[tblMpOrder] M
										 INNER JOIN [005].[dbo].[tblMpOrderReleases] MP ON MP.OrderNo=M.OrderNo
										 INNER JOIN [005].[dbo].[trav_tblInItemAlias_View] A ON A.ItemID=M.AssemblyId AND A.RefID=MP.CustId AND A.AliasType=1
										WHERE M.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo
									  UNION ALL 
										 SELECT TOP 1 [cf_Product Lot Designation]  
										 FROM [005].[dbo].[tblMpHistoryOrderReleases] MP 
													INNER JOIN [005].[dbo].[trav_tblInItemAlias_View] A ON A.ItemID=MP.AssemblyId AND A.RefID=MP.CustId AND A.AliasType=1
										WHERE MP.OrderNo=@OrderNo AND MP.ReleaseNo=@ReleaseNo)

	FROM	[W005].[dbo].[OrderReleaseEvent] AS E
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS RMEI ON RMEI.OrderReleaseEventId = E.Id AND RMEI.IsAssembly=0
			INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] IL ON IL.ItemId=RMEI.ItemId AND IL.LocId=RMEI.LocId AND IL.LotNum = ISNULL(RMEI.SerialNo,RMEI.LotNo)
			INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=RMEI.ItemId AND L.LocId=RMEI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30') -- direct material
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS FGE ON FGE.OrderNo=@OrderNo AND FGE.ReleaseNo=@ReleaseNo
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS FGEI ON FGEI.OrderReleaseEventId = FGE.Id AND FGEI.IsAssembly=1
			INNER JOIN [005].[dbo].[tblInItem] AS FG ON FG.ItemId=FGEI.ItemId
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND (FGEI.Id = @OrderReleaseEventItemId OR @OrderReleaseEventItemId=0)
	GROUP BY E.OrderNo, E.ReleaseNo, FGEI.ItemId, FG.Descr, FGEI.CutPos, FGEI.TotalQty, FGEI.UOM, RMEI.SerialNo, RMEI.LotNo
) A
ORDER BY OrderNo, ReleaseNo, CutPos


END
GO
