USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetConvertingFGMinVenMfgDate]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetConvertingFGMinVenMfgDate] @OrderNo as Varchar(8), @ReleaseNo as int
AS
BEGIN
	SELECT MIN(L.[cf_Vendor Mfg Date]) as MinVenMfgDate
	FROM [W005].dbo.OrderReleaseEvent E
	INNER JOIN [W005].dbo.OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0
	INNER JOIN [005].dbo.tblInItemLoc L1 ON L1.ItemId = I.ItemId and L1.LocId = I.LocId AND Substring(L1.GLAcctCode, 1,1) IN ('1','2','3','7','8')
	INNER JOIN [005].dbo.trav_tblInItemLocLot_View L ON L.ItemId = I.ItemId and L.LocId = I.LocId AND L.LotNum = I.SerialNo
	WHERE E.OrderNo = @OrderNo and E.ReleaseNo = @ReleaseNo
END
GO
