USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBCOKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIBCOKitLabel] @PrintJobId AS int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId AS int, @PLNo AS int = null
AS
BEGIN


--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00046480'
--DECLARE @ReleaseNo AS int = 25
--DECLARE @OrderReleaseEventItemId AS int = 0
--DECLARE @PLNo AS int = 0

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

If @PLNo = 0
BEGIN
   SET @PLNo = NULL 
END

SELECT DISTINCT OrderNo, ReleaseNo,CustomerRevision, PartName, PartNo, JobNo, MIN(KitOTDays) AS KitOTDays, MIN(KitOTHours) AS KitOTHours, DOM, MIN(KitExpDate) AS KitExpDate,
				MaterialStorageTempC, MaterialStorageTempF, OREId, OrdRelEvntItemId, Barcode
FROM (
   SELECT DISTINCT C.OrderNo
				  ,C.ReleaseNo
				,CustomerRevision = C.CustRev
				 ,PartName = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				  --,PartNo = ISNULL((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE ItemId=C.ItemId), C.ItemId)
				  ,PartNo = ISNULL((SELECT TOP 1 AliasID 
									FROM [005].[dbo].[trav_tblInItemAlias_View]
									WHERE ItemId=C.ItemId AND (RefID=M.CustId OR RefID=MHist.CustId) AND (([cf_FG Program]=FGItem.[cf_FG Program]) OR [cf_FG Program] IS NULL OR [cf_FG Program] = '' OR [cf_FG Program] = ' ')
									ORDER BY [cf_FG Program] DESC), C.ItemId) 
				  ,JobNo = EI.TravSerNum
				  ,KitOTDays = IIF(ORK.EstLastScanDateTime IS NULL,
									ROUND(((SELECT
											CASE
											WHEN EXISTS(
													SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
													)
											THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
											ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
											END AS RemainingOTHrs)-(CAST(ORK.[TotalRoomMinutes] AS FLOAT) /60)) /24,1)
								,ROUND(((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
										END AS RemainingOTHrs)-(CAST(ORK.[EstTotalRoomMinutes] AS FLOAT) /60)) /24,1))
				  ,KitOTHours = IIF(ORK.EstLastScanDateTime IS NULL,
									ROUND(((SELECT
											CASE
											WHEN EXISTS(
													SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
													)
											THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
											ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
											END AS RemainingOTHrs)-(CAST(ORK.[TotalRoomMinutes] AS FLOAT) /60)),1)
								,ROUND(((SELECT
										CASE
										WHEN EXISTS(
												SELECT ProgramId FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId
												)
										THEN (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE  ItemId=ORK.RMItemId AND ProgramId=MG.ProgramId)
										ELSE (SELECT CAST(MaxRoomTimeHrs AS FLOAT) FROM [W005].[dbo].[OutTimeItemSpecs] WHERE ItemId=ORK.RMItemId AND ProgramId = 0)
										END AS RemainingOTHrs)-(CAST(ORK.[EstTotalRoomMinutes] AS FLOAT) /60)),1))
				  ,DOM = E.EventEnd
				  ,KitExpDate = ISNULL(EI.FGExpDate, (SELECT MIN(L.ExpDate)
														FROM [005].[dbo].[tblInItemLocLot] AS L
														WHERE L.ItemId LIKE 'RM%'
															  AND ((L.ItemId=ORK.RMItemId AND L.LotNum=ORK.RMSerialNo)
															  OR (L.ItemId=ORKIM.RMItemId AND L.LotNum=ORKIM.RMSerialNo)
															  OR (L.ItemId=NON.RMItemId AND L.LotNum=NON.RMSerialNo))))

				  --,KitExpDate = (SELECT MIN(L.ExpDate)
						--			FROM [005].[dbo].[tblInItemLocLot] AS L
						--			WHERE L.LocId = EI.LocId AND L.ItemId LIKE 'RM%'
						--					AND ((L.ItemId=ORK.RMItemId AND L.LotNum=ORK.RMSerialNo)
						--					OR (L.ItemId=ORKIM.RMItemId AND L.LotNum=ORKIM.RMSerialNo)
						--					OR (L.ItemId=NON.RMItemId AND L.LotNum=NON.RMSerialNo)))

				  ,MaterialStorageTempC = ISNULL((SELECT nTarget FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempC' ), 1000)

				  ,MaterialStorageTempF = ISNULL((SELECT nTarget FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempF'), 1000)
				  ,E.Id AS OREId
				  ,EI.Id AS OrdRelEvntItemId
				  ,Barcode = '1' + '|' + C.ItemId + '|' + EI.TravSerNum + '|' + ISNULL(EI.TravLotNum, '')

			FROM [W005].[dbo].[CCIOrderReleaseInfo] AS C
				 INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=C.CCIManufacturingGroupId
				 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
				 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
				 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON C.ParentOrderNo = E.OrderNo AND E.Operation Like 'CUT%'
				 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON E.Id = EI.OrderReleaseEventId AND C.ItemId = EI.ItemId AND IsAssembly = 1
				 INNER JOIN [005].[dbo].[trav_tblInItem_View] AS FGItem ON FGItem.ItemId=C.ItemId
				 --INNER JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] AS O ON O.OrderReleaseEventId=E.Id
				 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORK ON ORK.OrderReleaseEventItemId=EI.Id
				 LEFT JOIN [W005].[dbo].[OrderReleaseIntermediateRawMatl] AS ORKIM ON ORKIM.OrderReleaseEventItemId=EI.Id --ORKIM.OrderReleaseKitRawMatlOutTimeId=ORK.Id
				 LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlNonOT] AS NON ON NON.OrderReleaseEventItemId=EI.Id
			WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId is null or EI.Id = @OrderReleaseEventItemId) 
				  AND (@PLNo IS NULL OR EI.TravSerNum IN (SELECT DISTINCT SerialNo FROM ShipPackingListDetail WHERE PLNo=@PLNo AND ItemId=EI.ItemId))
			GROUP BY  E.Id, EI.Id,C.CustRev, M.CustId, MHist.CustId, M.SalesOrder, MHist.SalesOrder, C.OrderNo, C.ReleaseNo, C.ItemId, EI.TravSerNum, EI.TravLotNum, EI.LocId, EI.FGExpDate,
					  ORK.RMItemId, ORK.RMSerialNo, E.EventEnd, MG.ProgramId, FGItem.[cf_FG Program], ORK.[TotalRoomMinutes], ORK.EstLastScanDateTime, ORK.[EstTotalRoomMinutes],
					  NON.RMItemId, NON.RMSerialNo, ORKIM.RMItemId, ORKIM.RMSerialNo, ORKIM.RMLotNo

) A
GROUP BY OREId, OrdRelEvntItemId, OrderNo, ReleaseNo, PartName, PartNo, JobNo, CustomerRevision, DOM, Barcode, MaterialStorageTempC, MaterialStorageTempF
ORDER BY OREId, OrdRelEvntItemId


END

GO
