USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebRocheSFIPalletLabelSpoolNum]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebRocheSFIPalletLabelSpoolNum] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int
	--Set @PalletId = 133981 


	SELECT	DISTINCT 
		RocheSpoolNum = 'RM' + IA.AliasID + '/' + RIGHT('000000'+ SI.ProdOrderNo, 6)+'-' + RIGHT('000'+Cast(SI.ProdOrderRelNo as varchar(3)),2) + Right('00'+Cast(OREI.CutPos as Varchar(2)),2) 
			--	'RM' + IA.AliasID + '/' + SUBSTRING(SI.ProdOrderNo, PATINDEX('%[^0]%', SI.ProdOrderNo), LEN(SI.ProdOrderNo))
		--			+ CAST(SI.ProdOrderRelNo AS VARCHAR(4))  + '/' + RIGHT('0000'+ CAST(SUBSTRING(SI.TravLotNum, LEN(SI.TravLotNum)-2, 3) AS VARCHAR(4)),4)
		--AS RocheSpoolNum 
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id = SI.OREIId AND OREI.IsAssembly=1
		 LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.AliasType = 1
		
	WHERE SP.Id = @PalletId



END	

GO
