USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsItemIdOnPickList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsItemIdOnPickList]
		@ItemId as varchar(24), @LotNum as varchar(16), @SerNum as varchar(35), @PickListId as int
	
AS
BEGIN

--DECLARE @ItemId as varchar(24) = 'RM-CADC5135-PRP'
--DECLARE @LotNum as varchar(16) = '12345'
--DECLARE @SerNum as varchar(35) = '5135-02M'
--DECLARE @PickListId as int = 1


	IF EXISTS (
				SELECT  Id
				FROM [W005].[dbo].[PickListDetail]
				WHERE ItemId=@ItemId AND LotNum=@LotNum AND SerNum=@SerNum AND PLHeaderId=@PickListId
				)
		BEGIN
				SELECT  CAST(Id as bit) AS ItemOnPL
				FROM [W005].[dbo].[PickListDetail]
				WHERE ItemId=@ItemId AND LotNum=@LotNum AND SerNum=@SerNum AND PLHeaderId=@PickListId
		END ELSE 
		BEGIN
			SELECT CAST(0 as bit) AS ItemOnPL
		END



END



	

	



GO
