USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebOMGConvertingCartonLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebOMGConvertingCartonLabel] @CtnId as Int
AS
BEGIN
	--Declare @CtnId as Int = 1028

	SELECT CHAR(SeqNbr+64) AS CartonIdAlpha, ShipCartonId
	INTO #T1
	FROM
	(
		SELECT ROW_NUMBER() OVER (ORDER BY ShipCartonId) AS SeqNbr, ShipCartonId
		FROM
		(
			SELECT DISTINCT ShipCartonId
			FROM ShipItem I 
			INNER JOIN (SELECT DISTINCT ProdOrderNo, ProdOrderRelNo	FROM ShipItem WHERE ShipCartonId = @CtnId) A ON A.ProdOrderNo = I.ProdOrderNo AND A.ProdOrderRelNo = I.ProdOrderRelNo
			GROUP BY ShipCartonId
		) A
	) B

	UPDATE [W005Blank].[dbo].ShipCarton Set CustomShipCartonNo = IIF(P2.bTarget IS NULL, SI.ProdOrderNo, SI.LotNo)+RIGHT('000'+Cast(SI.ProdOrderRelNo as varchar(3)),3)+T.CartonIdAlpha
	FROM #T1 T
	INNER JOIN (SELECT TOP 1 ProdOrderNo, ProdOrderRelNo, ItemId, SerNo, LotNo FROM SHIPITEM WHERE ShipCartonId = @CtnId) SI ON 1 = 1
	LEFT JOIN [W005Blank].dbo.ProductChar P2 ON P2.ItemId = SI.ItemId AND P2.CharId = (Select Id from [W005Blank].dbo.Characteristic where Characteristic = 'LotEqualsProdOrderLotNo') AND P2.Enforce = 1
	WHERE [W005Blank].[dbo].ShipCarton.Id = @CtnId AND T.ShipCartonId = [W005Blank].[dbo].ShipCarton.Id

	select DISTINCT MaterialDesignation = IIF(ARM.[cf_Alias Description] IS NULL, IRM.Descr, ARM.[cf_Alias Description])
		 , SpoolDesignation = IIF(AFG.[cf_Alias Description] IS NULL, IFG.Descr, AFG.[cf_Alias Description])
		 , Width = P.nTarget  
		 , SpoolQty = (Select Count(Id) from ShipItem where ShipCartonId = @CtnId)
		 , TotalLength = (Select SUM(Quantity/U1.ConvFactor) from ShipItem S1 INNER JOIN [005Blank].dbo.tblInItemUOM U1 ON U1.ItemId = S1.ItemId AND U1.Uom = 'LM' where ShipCartonId = @CtnId)
		 , UOM = 'ML'
		 , ExpDate = FORMAT(FGOREI.FGExpDate, 'dd-MMM-yy', 'en-US')
		 , OrderNo = SI.ProdOrderNo
		 , TotalWeight = (Select SUM(Quantity/U1.ConvFactor) from ShipItem S1 INNER JOIN [005Blank].dbo.tblInItemUOM U1 ON U1.ItemId = S1.ItemId AND U1.Uom = 'KG' where ShipCartonId = @CtnId)
		 , Batch = FGOREI.LotNo
		 , SpoolId = SI.SerNo
		 , SpoolLength = SI.Quantity / (SELECT UML.ConvFactor FROM [005Blank].dbo.tblInItemUOM UML WHERE UML.ItemId = IFG.ItemId AND UML.Uom = 'LM') 
		 , SpoolWeight = ROUND(SI.Quantity / (SELECT UML.ConvFactor FROM [005Blank].dbo.tblInItemUOM UML WHERE UML.ItemId = IFG.ItemId AND UML.Uom = 'KG'),2)
		 , ShipCartonNo
		 , ShipPalletNo
		 , ExpDateTemp = IsNull(P1.nTarget, -18)
		 , CartonSpecial = SC.CustomShipCartonNo
	FROM [W005Blank].dbo.shipCarton SC
	INNER JOIN [W005Blank].dbo.ShipItem SI ON SI.ShipCartonId = SC.Id
	INNER JOIN [005Blank].dbo.tblInItem IFG ON IFG.ItemId = SI.ItemId
	--INNER JOIN [005Blank].dbo.trav_tblInItemLocLot_View L ON L.ItemId = IFG.ItemId AND L.LocId = SI.Location AND L.LotNum = SI.SerNo
	INNER JOIN [W005Blank].dbo.OrderReleaseEvent ORE ON ORE.OrderNo = SI.ProdOrderNo AND ORE.ReleaseNo = SI.ProdOrderRelNo
	INNER JOIN [W005Blank].dbo.OrderReleaseEventItem FGOREI ON FGOREI.Id = SI.OREIId
	INNER JOIN [W005Blank].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005Blank].dbo.tblInItemLoc L1 ON L1.ItemId = OREI.ItemId AND L1.LocId = OREI.LocId AND substring(L1.GLAcctCode,1,1) In ('1','2','3','8')
	INNER JOIN [005Blank].dbo.tblInItem IRM ON IRM.ItemId = OREI.ItemId 
	LEFT JOIN [005Blank].dbo.tblMpOrderReleases R ON R.OrderNo = SI.ProdOrderNo and R.ReleaseNo = SI.ProdOrderRelNo
	LEFT JOIN [005Blank].dbo.tblMpHistoryOrderReleases RHist ON RHist.OrderNo = SI.ProdOrderNo and RHist.ReleaseNo = SI.ProdOrderRelNo
	LEFT JOIN [005Blank].dbo.trav_tblInItemAlias_View ARM ON ARM.ItemId = OREI.ItemId AND ARM.AliasType = 1 AND ARM.RefID = ISNULL(R.CustId,RHist.CustId)
	LEFT JOIN [005Blank].dbo.trav_tblInItemAlias_View AFG ON AFG.ItemId = IFG.ItemId AND AFG.AliasType = 1 AND AFG.RefID = ISNULL(R.CustId,RHist.CustId)
	LEFT JOIN [W005Blank].dbo.ProductChar P ON P.ItemId = IFG.ItemId AND P.CharId = (Select Id from [W005Blank].dbo.Characteristic where Characteristic = 'Width(MM)') AND P.Enforce = 1
	LEFT JOIN [W005Blank].dbo.ProductChar P1 ON P1.ItemId = IFG.ItemId AND P1.CharId = (Select Id from [W005Blank].dbo.Characteristic where Characteristic = 'MaterialStorageTempC') AND P1.Enforce = 1
	LEFT JOIN [W005Blank].dbo.ShipPallet SP ON SP.Id = SC.ShipPalletId
	WHERE SC.Id = @CtnId
	ORDER BY SpoolId

	DROP TABLE #T1

END
GO
