USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[sp_ParentOrderActualVsEstimatedHours]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ParentOrderActualVsEstimatedHours] @FromDt datetime, @ToDt datetime
AS
BEGIN
	SELECT S.ParentOrderNo AS OrderNo, I.MfgStartDate, I.MfgEndDate, S.TotalLaborHours, S.TotalMachineHours, I.OrderDuration/60 AS EstimateHours, S.Kits, Count(DISTINCT L.EmployeeId) AS EmployeeCnt
	FROM [W005].[dbo].[CCIOrderReleaseSummary] S 
	INNER JOIN [W005].[dbo].[CCIOrderReleaseSummaryLabor] L ON L.ParentOrderNo = S.ParentOrderNo
	INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] I ON I.ParentOrderNo = S.ParentOrderNo
	WHERE I.MfgCompleted = 1 AND MfgEndDate between @FromDt AND @ToDt
	GROUP BY S.ParentOrderNo, I.MfgStartDate, I.MfgEndDate, S.TotalLaborHours, S.TotalMachineHours, S.ProdOrders, S.Kits, I.OrderDuration
	Order By 1
END
GO
