USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebExtrudingPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebExtrudingPalletLabel] 
	@PalletId as int, @ItemId as varchar(24), @CustData as nvarchar(50)

AS
BEGIN

--declare @PalletId as int = 23312
--declare @ItemId as varchar(24) = 'BT-9D-WH-BU-I'
--declare @CustData as nvarchar(50) = 'Verified'

DECLARE @PrintLabelQtyinKG as bit
SET @PrintLabelQtyinKG = CAST(IsNull((SELECT bTarget FROM [W005].[dbo].[ProductChar]
									WHERE ItemId=@ItemId AND CharId=2048),0) as bit)

	SELECT ItemId=@ItemId,sp.ShipPalletNo, ii.Descr,sp.DateCreated, ii.ProductLine, sp.GrossWt, 
		UOM = IIF(@PrintLabelQtyinKG=0,si.UOM,'KG'),
		CAST(IIF(@CustData='Verified',1,0) as bit) As Verified, -- Note: For Extruding: using CustData field to flag if pallet is verified or not
		TOPsforExtruding = 
					CASE WHEN sp.TOPsforExtruding Is NULL THEN '' ELSE sp.TOPsforExtruding END,
		Quantity = IIF(@PrintLabelQtyinKG=0, SUM(si.Quantity), (SUM(si.Quantity)) * 0.453592),
		LotNo = UPPER(STUFF
			(
				(
					SELECT DISTINCT '/' + si.LotNo
					FROM [W005].[dbo].[ShipItem]  as si
					WHERE si.ShipPalletId=@PalletId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			)),
		OpInit = UPPER(STUFF
			(
				(
					SELECT DISTINCT ',' + si.OpInit
					FROM [W005].[dbo].[ShipItem]  as si
					WHERE si.ItemID=@ItemId AND si.ShipPalletId=@PalletId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			)),
		CustomerPN = STUFF
			(
				(
					SELECT DISTINCT '/' + iia.AliasID
					FROM [005].[dbo].[tblInItemAlias] as iia
					WHERE iia.ItemID=@ItemId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			),
		PrintLabelQtyinKG = @PrintLabelQtyinKG,
		PrintCopies= (SELECT 
						CASE
						WHEN EXISTS(
							SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=@ItemId
						) 
						THEN  (SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=@ItemId)
						ELSE  1
						END AS PrintCopies)
	FROM [005].[dbo].[tblInItem] As ii INNER JOIN [W005].[dbo].[ShipItem] as si ON si.ItemId=ii.ItemId
		INNER JOIN [W005].[dbo].[ShipPallet] as sp ON sp.Id=si.ShipPalletId
	WHERE ii.ItemId=@ItemId AND sp.Id = @PalletId
	GROUP BY sp.ShipPalletNo, ii.Descr,sp.DateCreated, ii.ProductLine, sp.GrossWt,si.UOM,sp.Id, sp.TOPsforExtruding



END
GO
