USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebRocheFGCore2DLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebRocheFGCore2DLabel] @OrderNo varchar(10), @ReleaseNo int,@ItemId varchar(24),@OrderReleaseEventItemId int
AS
BEGIN

	
	--DECLARE @OrderNo varchar(10) = '00058427'
	--DECLARE @ReleaseNo int = 1
	--DECLARE @ItemId varchar(24) = 'RO-FG-BOT-ADH'
	--DECLARE @OrderReleaseEventItemId int = 0 -- 1859992


	IF @OrderReleaseEventItemId = 0
	BEGIN
		SELECT	DISTINCT 
			OREI.TravLotNum
			,I.Descr
			,PN = IA.AliasID
			,OREI.FGExpDate
			,RocheLotNumber = SUBSTRING(ORE.OrderNo,LEN(ORE.OrderNo)-4,5) 
			,RocheSpoolNum = RIGHT('000000'+ORE.OrderNo, 6)+'-'+ RIGHT('000'+Cast(ORE.ReleaseNo as varchar(3)),2) + Right('00'+Cast(OREI.CutPos as Varchar(2)),2) 
			,QtyLM = OREI.TotalQty * 0.3048 
			,WidthMM = P.nTarget  
			,GSI = '17' + CAST(FORMAT (OREI.FGExpDate, 'yyMMdd') AS varchar(6)) 
					+ '241' + IA.AliasID  +  '~'
					--+ '311' + RIGHT('000000'+CAST(CAST((OREI.TotalQty * 0.3048 * 100) AS int) AS varchar(6)),6) /*Multiply by 100 to remove decimals. Roche requires two decimals to be included w/o decimal point  */
					+ '3110' + RIGHT('000000'+CAST(CAST((ROUND(OREI.TotalQty * 0.3048,0)) AS int) AS varchar(6)),6) /*Per new spec, Roche requires LM rounded to nearest whole number and a '0' not '2' after '311' */
					+ '10' + SUBSTRING(ORE.OrderNo,LEN(ORE.OrderNo)-4,5)  + '~'
					+ '90' + custchar.sTarget  + '~'
					+ '240' + RIGHT('000000'+ORE.OrderNo, 6)+RIGHT('00'+Cast(ORE.ReleaseNo as varchar(3)),2)+Right('00'+Cast(OREI.CutPos as Varchar(2)),2)  +  '~' 
					+ '251' + O.LotNo
	FROM  [W005].[dbo].[OrderReleaseEvent] ORE
				INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly=1
				INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = OREI.ItemId 
				LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
				LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = ORE.OrderNo AND RH.ReleaseNo = ORE.ReleaseNo  
				LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)
				LEFT JOIN (SELECT ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc 
											INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
											WHERE c.Characteristic = 'Width(MM)') P ON P.ItemId = OREI.ItemId
				LEFT JOIN [005].[dbo].[tblArCust] C ON C.CustId = ISNULL(R.CustId, RH.CustId)
				LEFT JOIN (SELECT Substring(LotNo,1, 7) AS LotNo, OrderNo, ReleaseNo
							FROM [W005].[dbo].[OrderReleaseEventItem] AS OREIrm
							INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORErm ON OREIrm.OrderReleaseEventId = ORErm.Id
							WHERE OREIrm.IsAssembly=0 AND OREIrm.LotNo Is Not Null) O ON O.OrderNo = ORE.OrderNo AND O.ReleaseNo = ORE.ReleaseNo
				LEFT JOIN (SELECT CustId, sTarget FROM [W005].[dbo].[CustomerChar] cc 
											INNER JOIN [W005].[dbo].[CustomerCharacteristic] cchar ON cc.CharId=cchar.Id
											WHERE cchar.Characteristic = 'CustVen#') custchar ON custchar.CustId = ISNULL(R.CustId, RH.CustId)
		WHERE ORE.OrderNo = @OrderNo AND ORE.ReleaseNo = @ReleaseNo AND  OREI.ItemId= @ItemId
	END ELSE
	BEGIN
		SELECT	DISTINCT 
			OREI.TravLotNum
			,I.Descr
			,PN = IA.AliasID 
			,OREI.FGExpDate
			,RocheLotNumber = SUBSTRING(ORE.OrderNo,LEN(ORE.OrderNo)-4,5) 
			,RocheSpoolNum = RIGHT('000000'+ORE.OrderNo, 6)+'-'+ RIGHT('000'+Cast(ORE.ReleaseNo as varchar(3)),2) + Right('00'+Cast(OREI.CutPos as Varchar(2)),2) 
			,QtyLM = OREI.TotalQty * 0.3048
			,WidthMM = P.nTarget
			,GSI =  '17' + CAST(FORMAT (OREI.FGExpDate, 'yyMMdd') AS varchar(6)) 
					+ '241' + IA.AliasID  + '~'
					--+ '3112' + CAST(CAST((OREI.TotalQty * 0.3048 * 100) AS int) AS varchar(12)) /*Multiply by 100 to remove decimals. Roche requires two decimals to be included w/o decimal point  */
					+ '3110' + RIGHT('000000'+CAST(CAST((ROUND(OREI.TotalQty * 0.3048,0)) AS int) AS varchar(6)),6) /*Per new spec, Roche requires LM rounded to nearest whole number and a '0' not '2' after '311' */
					+ '10' + SUBSTRING(ORE.OrderNo,LEN(ORE.OrderNo)-4,5)  + '~'
					+ '90' + custchar.sTarget  + '~'
					+ '240' + RIGHT('000000'+ORE.OrderNo, 6)+RIGHT('00'+Cast(ORE.ReleaseNo as varchar(3)),2)+Right('00'+Cast(OREI.CutPos as Varchar(2)),2)  +  '~' 
					+ '251' + O.LotNo
		FROM 	[W005].[dbo].[OrderReleaseEventItem] AS OREI 
				INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORE ON OREI.OrderReleaseEventId = ORE.Id
				INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = OREI.ItemId 
				LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
				LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = ORE.OrderNo AND RH.ReleaseNo = ORE.ReleaseNo  
				LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)
				LEFT JOIN (SELECT ItemId, nTarget FROM [W005].[dbo].[ProductChar] pc 
											INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id
											WHERE c.Characteristic = 'Width(MM)') P ON P.ItemId = OREI.ItemId
				LEFT JOIN [005].[dbo].[tblArCust] C ON C.CustId = ISNULL(R.CustId, RH.CustId)
				LEFT JOIN (SELECT Substring(LotNo,1, 7) AS LotNo, OrderNo, ReleaseNo
							FROM [W005].[dbo].[OrderReleaseEventItem] AS OREIrm
							INNER JOIN [W005].[dbo].[OrderReleaseEvent] ORErm ON OREIrm.OrderReleaseEventId = ORErm.Id
							WHERE OREIrm.IsAssembly=0 AND OREIrm.LotNo Is Not Null) O ON O.OrderNo = ORE.OrderNo AND O.ReleaseNo = ORE.ReleaseNo
				LEFT JOIN (SELECT CustId, sTarget FROM [W005].[dbo].[CustomerChar] cc 
											INNER JOIN [W005].[dbo].[CustomerCharacteristic] cchar ON cc.CharId=cchar.Id
											WHERE cchar.Characteristic = 'CustVen#') custchar ON custchar.CustId = ISNULL(R.CustId, RH.CustId)
		WHERE OREI.Id = @OrderReleaseEventItemId
	END



END	
GO
