USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIMasterBagLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CCIMasterBagLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00026955'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId AS int = 520

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

SELECT OrderNo,ReleaseNo,RevisionNo,ItemId,ItemDescr,FGPartNo,FGTravSerNum,JobNo,CustPONum,CustRev,CustId,CustName,TotalCountOfUnits,OrderReleaseEventItemId,FGBarcode, 
		BagNo = ROW_NUMBER() OVER (PARTITION BY OrderNo ORDER BY OrderNo) 
FROM 
(
SELECT DISTINCT	 C.OrderNo
				,C.ReleaseNo
				,C.RevisionNo
				,C.ItemId
				,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				,FGPartNo = A.AliasID
				,I.TravSerNum AS FGTravSerNum
				,TotalCountOfUnits = C.Qty
				,JobNo = C.ParentOrderNo
				,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				,CustRev = (SELECT CustomerRevision FROM [W005].[dbo].[CCIManufacturingGroup] WHERE Id=C.CCIManufacturingGroupId)
				,CustId = ISNULL(M.CustId,MHist.CustId)
				,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=M.CustId OR CustId=MHist.CustId)
				,I.Id as OrderReleaseEventItemId
				,FGBarcode = '1' + '|' + I.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum,'')
	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS I ON I.OrderNo=C.ParentOrderNo AND I.IsAssembly = 1
			LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS R ON R.OrderReleaseEventItemId=I.Id
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_view] AS A ON A.ItemID=C.ItemId AND (A.RefId=M.CustId OR A.RefId=MHist.CustId)
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and (@OrderReleaseEventItemId is null or I.Id = @OrderReleaseEventItemId) 
) A

END

GO
