USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrAdjustmentsCost]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExtrAdjustmentsCost]
	@GlPeriod as integer, @GlYear as integer

	-- NOTE: This sp obtains ExtrAdjustmentsCost records where AdjustmentDate is in GLPeriod=@GLPeriod and in GLYear=@GLYear

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--declare @GlPeriod as integer = 0
	--declare @GlYear as integer = 2017

	IF(@GLPeriod = 0)
		SELECT *
		FROM   [W005].[dbo].[ExtrAdjustmentsCost] 
		WHERE  GLYear = @GlYear
	ELSE
		SELECT *
		FROM   [W005].[dbo].[ExtrAdjustmentsCost] 
		WHERE GLPeriod=@GlPeriod AND GLYear = @GlYear
	



END



GO
