USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemQtyonPallet]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetItemQtyonPallet] @ShipPalletId as int
AS
BEGIN
	SELECT COUNT(ItemId) as ItemCnt, SUM(Quantity) as Quantity
	FROM [W005].[dbo].[ShipItem]
	WHERE ShipPalletId = @ShipPalletId
END
GO
