USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CopyAdvanceShippingNotice]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--Procedure which copies a valid Advance Shipping Notice to the database.
CREATE PROCEDURE [dbo].[CopyAdvanceShippingNotice](@serial varchar(25), @vendor varchar(10), @vendorItem varchar(20), @orderNumber varchar(25), 
			@orderDate datetime2, @arrivalDate datetime2, @width decimal(20,4), @widthUOM varchar(5), @length decimal(20,4), @lengthUOM varchar(5), 
			@area decimal(20,4), @areaUOM varchar(5), @pallet varchar(25), @batch varchar(25), @manufactureDate datetime2, @revLevel varchar(5), 
			@netWeight decimal(20,4), @grossweight decimal(20,4), @PONumber varchar(8))
WITH EXECUTE AS self
AS
BEGIN
	DECLARE @result int;

	--Validate this material
	SELECT @result = [dbo].[ValidAdvanceShippingNotice](@serial, @vendor, @orderDate, @arrivalDate, @manufactureDate);

	--When the material is invalid return the failure code.
	IF(@result = 0)
	BEGIN
	--otherwise,
		BEGIN TRY
			BEGIN TRANSACTION
				--Attempt at loading transfer record into table.
				INSERT INTO dbo.AdvanceShippingNotices VALUES(@serial, @vendor, @vendorItem, @orderNumber, @orderDate, @arrivalDate, @width, @widthUOM, @length, 
								@lengthUOM, @area, @areaUOM, @pallet, @batch, @manufactureDate, @revLevel, @netWeight, @grossweight, 0, 0, 0, @PONumber);

				--When successful set outcome code to 0.
				COMMIT
				SET @result = 0;
		END TRY

		--Should the loading attempt fail
		BEGIN CATCH
			--leave the table in its current state, and return a failure code of 101
			ROLLBACK TRANSACTION
			SET @result = 5;
		END CATCH
	END

	--Return the outcome code.
	RETURN @result
END
GO
