USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTRMatUsedToTransfer]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* This sp is for getting all MaterialUsed pallets with NoRollsRemaining>0 in current MaterialUsed grid (@OrderNo,@ReleaseNo)
	to transfer them to the next pallet to be made.
	(Another pallet of the same SB TR Item is being made.)
*/

CREATE PROCEDURE [dbo].[spTRMatUsedToTransfer]
	 @OrderNo as varchar(24),@ReleaseNo as int
AS
BEGIN
	  SELECT tr.ShipPalletId,tr.PkgId, tr.ItemId, tr.EndQty, tr.EndNoRolls,tr.LotNo
	  FROM [W005].[dbo].[TRYield] As tr
	  WHERE tr.EndNoRolls>0 AND tr.FGOrderNo=@OrderNo AND tr.FGRelNo=@ReleaseNo
			AND tr.PkgIsFG=0

	 
END







GO
