USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetPartialKitRM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetPartialKitRM] @ParentOrderNo as varchar(8), @ParentOrderReleaseNo as int, @OrderReleaseEventItemId as int
AS
BEGIN 

--DECLARE @ParentOrderNo as varchar(8) = 'P0055996'
--DECLARE @ParentOrderReleaseNo as int  = 1
--DECLARE @OrderReleaseEventItemId as int = 1049171

SELECT DISTINCT 
				ORE.OrderNo, ORE.ReleaseNo, 
				ORE.Id AS OrderReleaseEventId, 
				OREI.Id AS RMOrderRelEventItemId, 
				PCL.TableId, 
				OREI.ItemId AS RMItemId, 
				OREI.SerialNo AS RMSerialNo, 
				OREI.LotNo AS RMLotNo,
				OREI.IsInPartialKit

FROM            OrderReleaseEvent AS ORE 
				INNER JOIN CCIParentOrderCutList AS PCL ON PCL.Id = ORE.CCIParentOrderCutListId 
				INNER JOIN OrderReleaseEventItem AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0 
				LEFT JOIN OrderReleaseEventItemOutTime AS OT ON OT.OrderReleaseEventItemId = OREI.Id 
				INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = OREI.ItemId 
				INNER JOIN [005].dbo.trav_tblInItemLocLot_View AS L ON L.ItemId = OREI.ItemId AND (L.LotNum = IIF(OREI.SerialNo is Null, OREI.LotNo, OREI.SerialNo))

WHERE        (ORE.Operation Like 'CUT%') AND OrderNo = @ParentOrderNo AND ReleaseNo = @ParentOrderReleaseNo AND 
				TableId IN (Select DISTINCT CCITableId FROM CCIPlyStackDetail D INNER JOIN CCIPlyStackHeader H ON H.Id = D.CCIPlyStackHeaderId WHERE H.OrderReleaseEventItemId = @OrderReleaseEventItemId)

END
GO
