USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMfgAppTravUsageCompare]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMfgAppTravUsageCompare] @OrderNo as Varchar(8), @ReleaseNo as int
AS
BEGIN

    --Declare @OrderNo as varchar(8) = '00058445' 
    --Declare @ReleaseNo as int = 35

	SELECT E.OrderNo, E.ReleaseNo ,I.ItemID, I.LocId, iif(T.[cf_Multi-UOM Serial Item] = 1, I.SerialNo, I.LotNo) as TravLotNum, sum(TotalQtyConsumed+TotalWaste+I.FinalizeAdjustment+I.FinalizeAdjustmentWaste) as MFGAppTotalConsumed 
	INTO #MFGAppUsage
	FROM [W005].dbo.orderreleaseeventitem I
	INNER JOIN [W005].dbo.OrderReleaseEvent E ON E.Id = I.OrderReleaseEventID AND I.IsAssembly = 0
	INNER JOIN [005].dbo.trav_tblInItem_view T ON T.ItemId = I.ItemId
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
	GROUP BY E.OrderNo, E.ReleaseNo ,I.ItemID, I.LocId, I.SerialNo, I.LotNo, I.TravLotNum, T.[cf_Multi-UOM Serial Item]
	ORDER BY I.ItemID, I.LocId, I.TravLotNum

	SELECT A.ItemId, A.LocId, A.LotNum, SUM(A.Qty) AS TravTotalConsumed
	INTO #TravRawMatlUsage
	FROM
		(SELECT O.OrderNo, O.ReleaseNo ,D.ComponentID as ItemId, D.LocId, M.LotNum, D.TransDate, D.Qty
		FROM [005].dbo.tblMpMatlDtl D
		INNER JOIN [005].dbo.tblMpRequirements R ON R.TransId = D.TransId AND R.IndLevel <> 0
		INNER JOIN [005].dbo.tblMpOrderReleases O ON O.Id = R.ReleaseId
		LEFT JOIN [005].dbo.tblMpMatlDtlExt M ON M.TransId = D.TransId AND M.EntryNum = D.SeqNo
		WHERE O.OrderNo = @OrderNo AND O.ReleaseNo = @ReleaseNo
		UNION ALL
		SELECT O.OrderNo, O.ReleaseNo ,D.ComponentID as ItemId, D.LocId, M.LotNum, D.TransDate, D.Qty
		FROM [005].dbo.tblMpHistoryMatlDtl D
		INNER JOIN [005].dbo.tblMpHistoryRequirements R ON R.TransId = D.TransId AND R.IndLevel <> 0
		INNER JOIN [005].dbo.tblMpHistoryOrderReleases O ON O.ReleaseId = R.ReleaseId
		LEFT JOIN [005].dbo.tblMpHistoryMatlDtlExt M ON M.TransId = D.TransId AND M.EntryNum = D.SeqNo
		WHERE O.OrderNo = @OrderNo AND O.ReleaseNo = @ReleaseNo) A
	GROUP BY A.ItemId, A.LocId, A.LotNum

	SELECT M.*, T.TravTotalConsumed
	FROM #MFGAppUsage M 
	LEFT JOIN #TravRawMatlUsage T ON T.ItemId = M.ItemId AND T.LocId = M.LocId 
	WHERE T.LotNum = M.TravLotNum and ROUND(ISNULL(CAST(M.MFGAppTotalConsumed AS DECIMAL(18,10)),0), 0) <> ROUND(ISNULL(CAST(T.TravTotalConsumed AS DECIMAL(18,10)),0),0) --OR T.TravTotalConsumed IS NULL 

	DROP TABLE #MFGAppUsage
	DROP TABLE #TravRawMatlUsage

END
GO
