USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[FTWWebGenericFGLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[FTWWebGenericFGLabel]
    @PrintJobId as int,
    @OrderNo as varchar(8),
    @ReleaseNo as int,
    @OrderReleaseEventItemId as int
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. String Aggregation via Native STRING_AGG (Using GROUP BY to circumvent Msg 421)
    DECLARE @MasterRollSerialNumbers VARCHAR(MAX), @MasterRollLotNumbers VARCHAR(MAX);

    SELECT 
        @MasterRollSerialNumbers = STRING_AGG(SerialNo, ', ') WITHIN GROUP (ORDER BY SerialNo),
        @MasterRollLotNumbers    = STRING_AGG(LotNo, ', ') WITHIN GROUP (ORDER BY LotNo)
    FROM (
        SELECT RM.SerialNo, RM.LotNo
        FROM W005.dbo.OrderReleaseEvent E1
        INNER JOIN W005.dbo.OrderReleaseEventItem RM ON RM.OrderReleaseEventId = E1.Id
        WHERE E1.OrderNo = @OrderNo AND E1.ReleaseNo = @ReleaseNo AND RM.IsAssembly = 0
        GROUP BY RM.SerialNo, RM.LotNo
    ) AS RM;

    -- 2. Fully Flattened & Non-Duplicating Master Selector Query
    SELECT 
        E.OrderNo, 
        E.ReleaseNo,
        OrderRelease           = E.OrderNo + '-' + CAST(E.ReleaseNo AS VARCHAR(5)),
        SetID                  = E.OrderNo + '-' + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)), 3),
        CustPONum              = ISNULL(SO.CustPONum, ISNULL(R.PurchaseOrder, RH.PurchaseOrder)),
        RollNo                 = E.OrderNo + '-' + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(5)), 3) + '-' + RIGHT('000' + CAST(EI.CutPos AS VARCHAR(5)), 3),
        SO.PODate,
        E.UserId,
        OpInitials             = SUBSTRING(EMP.FirstName, 1, 1) + SUBSTRING(EMP.LastName, 1, 1),
        CustomerName           = CUST.CustName,
        ShipToCustomer         = ISNULL(SO.ShipToName, ISNULL(HIST.ShipToName, CUST.CustName)),
        EI.ItemId,
        I.Descr,
        AdditionalDescription  = IAD.AddlDescr,
        IAD.CF,
        CustomerPN             = ALIAS.CustPN,
        CustomFields.ThirdPartyAlias,
        CustomFields.WindingType,
        EI.SerialNo,
        EI.LotNo,
        TraceabilityLotNumber  = CASE WHEN SPLICE.Cnt > 0 THEN 'S-' + EI.LotNo ELSE EI.LotNo END,
        EI.MfgDate,
        EndMfgDate             = (SELECT TOP 1 ISNULL(EventEnd, EventStart) FROM [W005].[dbo].[OrderReleaseEvent] WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo AND Event = 'End Manufacturing'),
        EI.FGExpDate,
        SerialNoBarCode        = EI.SerialNo, 
        LotNoBarCode           = EI.LotNo, 
        EI.HeadPos,
        EI.CutPos,
        EI.PalletNo,
        TotalQty               = ISNULL(Q.QtyOnHand, EI.TotalQty),
        EI.TotalWaste,
        EI.UOM,
        BaseUOM                = I.UomBase,
        EI.LocId,
        Width                  = CHARS.WidthIN,
        WidthMM                = CHARS.WidthMM,
        
        -- Dynamic Unit Calculations
        LabelLengthUOM         = CHARS.LabelLengthUOM,
        LengthByLabelLengthUOM = ISNULL(Q.QtyOnHand, EI.TotalQty) / ISNULL(UOM_LL.ConvFactor, 1),
        
        -- Native Matrix Math (Evaluates smoothly to NULL if a given UOM translation is absent)
        TotalQtyBaseUOM        = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Base.ConvFactor,
        TotalQtyBX             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.BX,
        TotalQtyEA             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.EA,
        TotalQtyKG             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.KG,
        TotalQtyLB             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.LB,
        TotalQtyLF             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.LF,
        TotalQtyLM             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.LM,
        TotalQtyLY             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.LY,
        TotalQtyMFT            = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.MFT,
        TotalQtyROLL           = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.ROLL,
        TotalQtySHT            = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.SHT,
        TotalQtySM             = ISNULL(Q.QtyOnHand, EI.TotalQty) / UOM_Stat.SM,
        
        MasterRollNumbers      = @MasterRollSerialNumbers,
        MasterLotsInSpool      = @MasterRollLotNumbers,
        SpliceCount            = ISNULL(SPLICE.Cnt, 0),
        SpoolCount             = 1,
        QRCode                 = '1|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum, EI.TravLotNum) + '|' + ISNULL(EI.LotNo, ''),
        CurWoodOrdNo           = RIGHT(E.OrderNo, 6)
    FROM [W005].[dbo].[OrderReleaseEvent] AS E
    INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
    INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
    LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
    LEFT JOIN [005].[dbo].[tblArCust] AS CUST ON CUST.CustId = ISNULL(R.CustId, RH.CustId)
    LEFT JOIN [005].[dbo].[tblSoTransHeader] AS SO ON (SO.TransId = R.SalesOrder OR SO.TransId = RH.SalesOrder)
    LEFT JOIN [005].[dbo].[tblArHistHeader] AS HIST ON (HIST.TransId = R.SalesOrder OR HIST.TransId = RH.SalesOrder)
    LEFT JOIN [005].[dbo].[tblSmEmployee] AS EMP ON (EMP.EmployeeId = E.UserId OR EMP.SocialSecurityNo = E.UserId)
    LEFT JOIN [005].[dbo].[tblInItemAddlDescr] AS IAD ON IAD.ItemId = EI.ItemId
    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q ON Q.ItemId = EI.ItemId AND Q.LotNum = EI.TravLotNum

    -- Matrix Target Property Aggregator
    OUTER APPLY (
        SELECT 
            WidthIN        = MAX(CASE WHEN C.Characteristic = 'Width(IN)'       THEN P.nTarget END),
            WidthMM        = MAX(CASE WHEN C.Characteristic = 'Width(MM)'       THEN P.nTarget END),
            LabelLengthUOM = MAX(CASE WHEN C.Characteristic = 'LabelLengthUOM' THEN P.sTarget END)
        FROM [W005].[dbo].[ProductChar] AS P
        INNER JOIN [W005].[dbo].[Characteristic] AS C ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
    ) AS CHARS

    -- Static Conversion Factor Matrix Lookups
    OUTER APPLY (
        SELECT 
            BX   = MAX(CASE WHEN Uom = 'BX'   THEN ConvFactor END),
            EA   = MAX(CASE WHEN Uom = 'EA'   THEN ConvFactor END),
            KG   = MAX(CASE WHEN Uom = 'KG'   THEN ConvFactor END),
            LB   = MAX(CASE WHEN Uom = 'LB'   THEN ConvFactor END),
            LF   = MAX(CASE WHEN Uom = 'LF'   THEN ConvFactor END),
            LM   = MAX(CASE WHEN Uom = 'LM'   THEN ConvFactor END),
            LY   = MAX(CASE WHEN Uom = 'LY'   THEN ConvFactor END),
            MFT  = MAX(CASE WHEN Uom = 'MFT'  THEN ConvFactor END),
            ROLL = MAX(CASE WHEN Uom = 'ROLL' THEN ConvFactor END),
            SHT  = MAX(CASE WHEN Uom = 'SHT'  THEN ConvFactor END),
            SM   = MAX(CASE WHEN Uom = 'SM'   THEN ConvFactor END)
        FROM [005].[dbo].[tblInItemUom] AS U
        WHERE U.ItemId = EI.ItemId
    ) AS UOM_Stat

    -- Direct Dynamic Conversions (Eliminates Aggregate Expressions with Outer Scopes - Msg 8124)
    LEFT JOIN [005].[dbo].[tblInItemUom] AS UOM_Base 
        ON UOM_Base.ItemId = EI.ItemId AND UOM_Base.Uom = I.UomBase
    LEFT JOIN [005].[dbo].[tblInItemUom] AS UOM_LL 
        ON UOM_LL.ItemId = EI.ItemId AND UOM_LL.Uom = CHARS.LabelLengthUOM

    -- Raw Material Extended Properties (Resolves Custom Metadata Lookups - Msg 207)
    OUTER APPLY (
        SELECT TOP 1 
            L.[cf_3rd Party Alias] AS ThirdPartyAlias, 
            L.[cf_Winding Type] AS WindingType 
        FROM [W005].[dbo].[OrderReleaseEventItem] AS EI_RM
        INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] AS L 
            ON L.ItemId = EI_RM.ItemId 
           AND L.LotNum = EI_RM.SerialNo 
           AND L.LocId = EI_RM.LocId
        WHERE EI_RM.OrderReleaseEventId = E.Id AND EI_RM.IsAssembly = 0
    ) AS CustomFields

    OUTER APPLY (
        SELECT COUNT(*) AS Cnt 
        FROM W005.dbo.OrderReleaseEventSpliceDetail 
        WHERE OrderReleaseEventItemId = EI.Id
    ) AS SPLICE

    OUTER APPLY (
        SELECT STRING_AGG(AliasID, '/') AS CustPN
        FROM [005].[dbo].[tblInItemAlias]
        WHERE ItemID = EI.ItemId
    ) AS ALIAS

    WHERE E.OrderNo = @OrderNo 
      AND E.ReleaseNo = @ReleaseNo 
      AND EI.IsAssembly = 1 
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand != 0) 
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId);
END
GO
