USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetNewKitORKRMOTData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNewKitORKRMOTData]
				 @TravSerNum varchar(35), @PrgId int
 /* 
 Returns all Raw Materials and their OTSpec data that were used to make Kit   
 This sp is used by WEBUtilityClasses
 */
AS
BEGIN


--DECLARE @TravSerNum varchar(35) = '00000015-001-002'
--DECLARE @PrgId int = 139


	DECLARE @ParentOrd varchar(8) 
	DECLARE @RelNo int
	SET @ParentOrd = (SELECT OrderNo FROM [W005].[dbo].[OrderReleaseEvent] WHERE Id = 
									(SELECT OrderReleaseEventId FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
					)
	SET @RelNo  = (SELECT ReleaseNo FROM [W005].[dbo].[OrderReleaseEvent] WHERE Id = 
									(SELECT OrderReleaseEventId FROM [W005].[dbo].[OrderReleaseEventItem] WHERE IsAssembly=1 AND TravSerNum=@TravSerNum)
					)

	SELECT ItemId,MaxRoomTimeHrs,ProgramId
			,FGOREIId = (SELECT ei.Id FROM [W005].[dbo].[OrderReleaseEventItem] ei WHERE ei.IsAssembly=1 AND ei.TravSerNum=@TravSerNum)
	FROM [W005].[dbo].[OutTimeItemSpecs] 
	WHERE [ItemId] IN  (SELECT RMItemId
					FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] 
					WHERE OrderReleaseEventItemId = (SELECT ei.Id FROM [W005].[dbo].[OrderReleaseEventItem] ei WHERE ei.IsAssembly=1 AND ei.TravSerNum=@TravSerNum))





END





GO
