USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCartonDataNotPosted]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	    Used by TPS Pallet Detail in HARProduction.exe
CREATE PROCEDURE [dbo].[spGetCartonDataNotPosted]
	@CartonId as int
AS
BEGIN

--declare @CartonId as int = 48148


	SELECT si.Id, si.ItemId
					,si.LotNo
					,si.NoRolls
					,si.Quantity 

	FROM [W005].[dbo].[ShipItem] As si 
	WHERE si.ShipCartonId = @CartonId AND si.PostedToTraverse = 0
		AND si.Deleted=0 AND si.PhantomAdjOut=0 AND si.UsedByProduction=0 

	
		


END
GO
