USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetScheduledMachinesForParentOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetScheduledMachinesForParentOrder] @ParentOrderNo as varchar(8), @IBIdx as integer
AS
BEGIN
	select DISTINCT A.ParentOrderNo, SubString(B.RowUid,8, 20) as ScheduledOnTable
	FROM 
		(
			SELECT SubString(ObjectId, 1, 8) as ParentOrderNo, Max(Idx) as Idx
			FROM [IBSync005].[dbo].[T_Object_Out]
			WHERE RowUid is not null AND TimeStamp >= DateAdd(WEEK, -2, GETDATE())
			GROUP BY ObjectId
		) A INNER JOIN [IBSync005].[dbo].[T_Object_Out] B ON B.Idx = A.Idx
		WHERE A.ParentOrderNo = @ParentOrderNo
END
GO
