USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWIncompleteTGHForWOMachine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBCQA when OPId selected to determine if an incomplete TestGroupHdr exists for WO/Machine
-- Called only from lueOPID_EditValueChanged()

CREATE PROCEDURE [dbo].[spSWIncompleteTGHForWOMachine]
	@ProdOrd varchar(8), @Machine varchar(25), @WO as int, @MachineNum int

AS
BEGIN
	
--DECLARE @WO as int = 57702
--DECLARE @MachineNum int = 33

-- Is there an incomplete SWTesGrouptHdr for WO and Machine
IF EXISTS ( 
			SELECT tgh.Id 
			FROM [W005].[dbo].[SW_TestHdr] th
				INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
			WHERE (th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine)
				AND tgh.TestGroupComplete = 0
		)
	BEGIN 
		SELECT CAST(1 as bit) AS IncompleteTestExists
	END
ELSE  
	BEGIN
		SELECT CAST(0 as bit) AS IncompleteTestExists
	END







END






GO
