USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CopyMaterialDefect]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--Procedure which copies a vendor material defect to the database.
CREATE PROCEDURE [dbo].[CopyMaterialDefect](@serial varchar(25), @defectNumber int, @vendorUnits varchar(5), @defectCode varchar(5), @startFt decimal(20,4), 
			@startM decimal(20,4), @endFt decimal(20,4),  @endM decimal(20,4), @LengthFt decimal(20,4), @lengthM decimal(20,4), @areaSM decimal(20,4), 
			@areaSF decimal(20,4))
WITH EXECUTE AS self
AS
BEGIN
	DECLARE @result int, @targetVendorID varchar(10);

	--Retrieve the vendor of the material that this defect ia part of
	SELECT @targetVendorID = VendorID FROM dbo.AdvanceShippingNotices WHERE SerialNumber = @serial;

	--When the transfer order for material with the specified serial number doesn't exist, return failure code 1
	IF @targetVendorID IS NULL
		RETURN 1;

	--When a defect with this number has already been recorded, return failure code 2.
	IF EXISTS(SELECT 1 FROM dbo.VendorMaterialDefects WHERE SerialNumber = @serial AND DefectNumber = @defectNumber)
		RETURN 2;

	--When the defect code specified hasn't been defined for this material's vendor return failure code 3
	IF NOT EXISTS(SELECT 1 FROM dbo.VendorMaterialDefectCodes WHERE VendorID = @targetVendorID AND Code = @defectCode)
		RETURN 3;

	--otherwise,
	BEGIN TRY
		BEGIN TRANSACTION
			--Attempt at loading defect record into table.
			INSERT INTO dbo.VendorMaterialDefects VALUES(@serial, @defectNumber, @vendorUnits, @defectCode, @startFt, @startM, @endFt, @endM, @lengthFT, 
										@lengthM, @areaSM, @areaSF);

			--When this specimen's transfer record doesn't indcate that the specimen has defects, update it to correct.
			IF EXISTS(SELECT 1 FROM dbo.AdvanceShippingNotices WHERE SerialNumber = @serial AND HasDefects = 0)
				UPDATE dbo.AdvanceShippingNotices SET HasDefects = 1 WHERE SerialNumber = @serial;

			--When successful set outcome code to 0.
			COMMIT
			SET @result = 0;
	END TRY

	--Should the loading attempt fail
	BEGIN CATCH
		--leave the table in its current state, and return a failure code of 4
		ROLLBACK TRANSACTION
		SET @result = 4;
	END CATCH

	--Return the outcome code.
	RETURN @result
END
GO
