USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetBoxItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetBoxItemId]
	@AssemblyId as varchar(24)
AS
BEGIN
	Select pc.ItemId As BoxItemId,pc.nTarget As TareWt
	FROM [W005].[dbo].[ProductChar] As pc LEFT JOIN [W005].[dbo].[Characteristic] AS c ON pc.CharId=c.Id
	WHERE c.Characteristic='TareWeight' AND
			pc.ItemId= (SELECT DISTINCT D.ComponentID
						FROM [005].[dbo].[tblMbAssemblyHeader] As H inner join [005].[dbo].[tblMbAssemblyDetail] As D On H.Id = D.HeaderId
							inner join [W005].[dbo].[ProductChar] As P On P.ItemId=D.ComponentID 
						Where H.AssemblyId=@AssemblyId AND P.sTarget='Box')
END






GO
