USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExpectedRMUsage]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetExpectedRMUsage] @OrderNo as varchar(8), @ReleaseNo as int, @RMItemId as varchar(24)

AS
BEGIN

--DECLARE @OrderNo as varchar(8) = '00058932'
--DECLARE @ReleaseNo as int = 1
--DECLARE @RMItemId as varchar(24) = 'ZM-SM-SHOULDERED-CORE'


SELECT DISTINCT RMItemId, BomFactor, ExpectedUsage = SUM(Usage) 
FROM (
	SELECT RMItemId = @RMItemId
					,BomFactor = AD.Qty 
					,Usage = orei.TotalQty * AD.Qty 
	FROM [005].dbo.tblMpOrder mpO 
			INNER JOIN [005].dbo.tblMpOrderReleases mpOR ON mpOR.OrderNo = mpO.OrderNo
			INNER JOIN [005].dbo.tblMpRequirements mpReq ON mpReq.ReleaseId = mpOR.Id AND IndLevel != 0
			INNER JOIN [005].dbo.tblMpRequirements R2 ON R2.TransId = mpReq.ParentId 
			INNER JOIN [005].dbo.tblMpMatlSum mpMatSum ON mpMatSum.TransId = mpReq.TransId AND mpMatSum.ComponentId = @RMItemId
			INNER JOIN [005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = mpO.AssemblyId AND H.RevisionNo = mpO.RevisionNo
			INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View AD ON AD.ComponentId = mpMatSum.ComponentId  AND AD.HeaderId = H.Id 
			INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = mpMatSum.ComponentID
			INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = mpMatSum.ComponentID AND L.LocId = mpO.LocID  AND SUBSTRING(L.GLAcctCode,1,1) in ('4', '5', '6') -- indirect material	
			INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON ore.OrderNo = mpO.OrderNo AND ore.ReleaseNo = mpOR.ReleaseNo
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.OrderReleaseEventId = ore.Id AND orei.IsAssembly = 1 AND orei.ItemId = mpO.AssemblyId 	
	WHERE mpO.OrderNo = @OrderNo 
		AND (@ReleaseNo = 0 OR mpOR.ReleaseNo = @ReleaseNo) 
		AND mpMatSum.ComponentType <> 5 
		AND ((AD.[cf_Do not show on MES Issue-Load Forms] IS NULL) OR (AD.[cf_Do not show on MES Issue-Load Forms] = 0))
	) A
	GROUP BY RMItemId, BomFactor

END
GO
