USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRawMatlsOnBOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRawMatlsOnBOM] @Sequence as int, @AssemblyId as varchar(24)
AS
BEGIN

--DECLARE @Sequence as int = 1
--DECLARE @AssemblyId as varchar(24) = 'PF3PP01NP0567'  -- 'ZZ-ISPRS-25GS1'  -- 
	
	SELECT DISTINCT AD.ComponentID
	FROM [005].[dbo].[tblMbAssemblyDetail] AS AD
	WHERE AD.ComponentID IN (
			SELECT AD.ComponentID
			FROM [005].[dbo].[tblMbAssemblyDetail] AS AD INNER JOIN 
				[005].[dbo].[tblMbAssemblyHeader] as ah ON AD.HeaderId=ah.Id
			WHERE  
				ah.AssemblyId = @AssemblyID)

END
GO
