USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetSpaceXEDIData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetSpaceXEDIData]
	@AliasID varchar(24)
AS
BEGIN

--DECLARE @AliasID varchar(24) = '01467100-001'
	
SELECT ii.ItemId, ii.ItemType, ii.Descr, ad.AddlDescr, ii.LottedYN,gl.GLAcctSales,gl.GLAcctCogs,ah.RevisionNo,ah.[cf_Customer Revision No] AS CustRevNo
FROM [005].[dbo].[tblInItemAlias] ia
	INNER JOIN [005].[dbo].[tblInItem] ii ON ia.ItemID=ii.ItemId
	LEFT JOIN [005].[dbo].[tblInItemAddlDescr] ad ON ad.ItemId=ia.ItemID
	INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] ah ON ah.AssemblyId = ii.ItemId AND ah.DfltRevYn=1
	LEFT JOIN (SELECT GLAcctSales, GLAcctCogs, ItemId
				FROM [005].[dbo].[tblInItemLoc] il
					LEFT JOIN [005].[dbo].[tblInGLAcct] gl ON il.GLAcctCode = gl.GLAcctCode
					WHERE LocId Like 'INV%') gl ON gl.ItemId = ii.ItemID
WHERE ia.AliasID = @AliasID AND ia.RefID = '002486'



END



GO
