USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrudingMachines]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spExtrudingMachines]
	 
AS
BEGIN

	SELECT DISTINCT ar.MachineGroupId
			
	FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
		Inner Join [005].[dbo].[tblInItem] As ii ON ah.AssemblyId=ii.ItemId 
	WHERE ar.MachineGroupId  like 'EXT%' 
		AND ah.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=ah.AssemblyId)
	
END
GO
