USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWWORetestSince]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth 
-- Checks if a WO RETEST was done since the prior End of Set test.
-- Used to confirm is a spool should be OOT or not, when it is in prior EoS NCSpoolList

CREATE PROCEDURE [dbo].[spSWWORetestSince]
	 @WO int, @MachineNum int, @OPId int,@ProdOrd varchar(8), @Machine varchar(25), @RelNo int

AS
BEGIN
	

--DECLARE @WO as int = 57702
--DECLARE @Machine int = 30
--DECLARE @OPId as int = 98122


DECLARE @LastEoSDate as datetime 

SET @LastEoSDate = (SELECT TOP 1 tgh.TestGroupDateComplete 
					FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
						INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
					WHERE ((th.WorkOrder=@WO AND th.PolarisMachineNum=@Machine AND th.OperationID != @OPId) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo != @RelNo))
						AND tgh.TestGroupName = 'END of SET'
					ORDER BY th.ID DESC)

IF EXISTS (
			SELECT th.Id
			FROM  [W005].[dbo].[SW_TestGroupHdr] tgh
				INNER JOIN [W005].[dbo].[SW_TestHdr] th ON tgh.TestHdrId=th.ID
			WHERE ((th.WorkOrder=@WO AND th.PolarisMachineNum=@Machine AND th.OperationID != @OPId) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine AND th.ReleaseNo != @RelNo))
				AND tgh.TestGroupName = 'WO SET UP RETEST' AND tgh.TestGroupDateComplete >= @LastEoSDate
		)
BEGIN  
		SELECT CAST(1 as bit) As RetestDone
END
ELSE 
BEGIN
	SELECT CAST(0 as bit) As RetestDone
END







END






GO
