USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrPalletQtyToPost]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[spExtrPalletQtyToPost]
	@ShipPalletId as int
AS
BEGIN

		SELECT  SUM(I.Quantity) As Qty
		FROM  [W005].[dbo].[ShipItem] As I 
		WHERE I.ShipPalletId=@ShipPalletId AND I.PostedToTraverse=0
	
END







GO
