USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWSolvayReport]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*		Used by WebCQA to generate SW report for Solvay (W005 customer)
		Orig date 7/2/2020 AG  
*/

CREATE PROCEDURE [dbo].[spSWSolvayReport]
	@StartUp bit, @WO int, @OpId int, @SetId int

AS
BEGIN


--DECLARE @StartUp bit = 1
--DECLARE @WO int = 57679
--DECLARE @OpId int = 97922
--DECLARE @SetId int = 245642

IF @StartUp  = 1
BEGIN
	SELECT tgdd.SpoolNo,tgdd.TestGroupDtlId,'Initial Reading' As Segment, MAX(tgdd.SampleNo) AS MaxSampleNo,MAX(tgdd.TestLevel) AS MaxTestLevel
	INTO #T 
	FROM  [W005].[dbo].[SW_TestGroupDtlData] tgdd
		INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.Id=tgdd.TestGroupDtlId
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.Id=tgd.TestGroupHdrId
		INNER JOIN [W005].[dbo].[SW_TestHdr] th ON th.ID=tgh.TestHdrId
	WHERE th.WorkOrder = @WO AND th.OperationID = @OpId AND th.SetID = @SetId
		AND tgh.TestGroupName ='START UP'
		AND tgdd.SpoolNo > 0
	GROUP BY tgdd.SpoolNo,tgdd.TestGroupDtlId,tgh.TestGroupName
		
	SELECT t.Segment, tgdd.*
	FROM [W005].[dbo].[SW_TestGroupDtlData] tgdd
		INNER JOIN #T t ON tgdd.TestGroupDtlId=t.TestGroupDtlId AND tgdd.SpoolNo=t.SpoolNo AND tgdd.SampleNo=t.MaxSampleNo AND tgdd.TestLevel=t.MaxTestLevel
	
	DROP table #T
END ELSE
BEGIN
	SELECT tgdd.SpoolNo,tgdd.TestGroupDtlId,'End of Set' As Segment, MAX(tgdd.SampleNo) AS MaxSampleNo,MAX(tgdd.TestLevel) AS MaxTestLevel
	INTO #T1 
	FROM  [W005].[dbo].[SW_TestGroupDtlData] tgdd
		INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.Id=tgdd.TestGroupDtlId
		INNER JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.Id=tgd.TestGroupHdrId
		INNER JOIN [W005].[dbo].[SW_TestHdr] th ON th.ID=tgh.TestHdrId
	WHERE th.WorkOrder = @WO AND th.OperationID = @OpId AND th.SetID = @SetId
		AND tgh.TestGroupName ='END of SET'
		AND tgdd.SpoolNo > 0
	GROUP BY tgdd.SpoolNo,tgdd.TestGroupDtlId,tgh.TestGroupName
	
	SELECT t.Segment, tgdd.*
	FROM [W005].[dbo].[SW_TestGroupDtlData] tgdd
		INNER JOIN #T1 t ON tgdd.TestGroupDtlId=t.TestGroupDtlId AND tgdd.SpoolNo=t.SpoolNo AND tgdd.SampleNo=t.MaxSampleNo AND tgdd.TestLevel=t.MaxTestLevel
	
	DROP table #T1
END



END



GO
