USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRMYieldWithFG]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRMYieldWithFG] @OrderNo as varchar(8)
AS
BEGIN

--DECLARE @OrderNo as varchar(8)
--Set @OrderNo = '00058372'

	SELECT 1 AS Sequence,  R.OrderNo, R.ReleaseNo, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQtyConsumed AS TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, IIF((OREI.Qty - (ISNULL(NextOREI.PLCLengthCounter,OREEM.PLCLengthCounter)-OREI.PLCLengthCounter)) < 0, ((OREI.Qty - (ISNULL(NextOREI.PLCLengthCounter,OREEM.PLCLengthCounter))-OREI.PLCLengthCounter)), 0) AS DocErrors
	INTO #T0
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = O.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	LEFT JOIN [W005].dbo.OrderReleaseEventItem NextOREI ON NextOREI.PrevOrderReleaseEventItemId = OREI.Id
	LEFT JOIN [W005].dbo.OrderReleaseEvent OREEM ON OREEM.OrderNo = ORE.OrderNo AND OREEM.ReleaseNo = ORE.ReleaseNo AND OREEM.Event = 'End Manufacturing'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 1 AS Sequence, R.OrderNo, R.ReleaseNo, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQtyConsumed AS TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, IIF((OREI.Qty - (ISNULL(NextOREI.PLCLengthCounter,OREEM.PLCLengthCounter)-OREI.PLCLengthCounter)) < 0, ((OREI.Qty - (ISNULL(NextOREI.PLCLengthCounter,OREEM.PLCLengthCounter)-OREI.PLCLengthCounter))), 0) AS DocErrors
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = R.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	LEFT JOIN [W005].dbo.OrderReleaseEventItem NextOREI ON NextOREI.PrevOrderReleaseEventItemId = OREI.Id
	LEFT JOIN [W005].dbo.OrderReleaseEvent OREEM ON OREEM.OrderNo = ORE.OrderNo AND OREEM.ReleaseNo = ORE.ReleaseNo AND OREEM.Event = 'End Manufacturing'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 2 AS Sequence, R.OrderNo, R.ReleaseNo, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, DocErrors = 0
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 1
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 2 AS Sequence, R.OrderNo, R.ReleaseNo, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, DocErrors = 0
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 1
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo



	SELECT 1 AS Sequence
		, OrderNo
		, CustName
		, FGAlias
		, AssemblyId
		, FGDescr
		, RMAlias
		, B.ItemId AS RMItemId
		, RMDescr
		, RMQty = COUNT(B.ItemID) 
		, RMWidthIN = WidthIN
		, RMWidthMM = WidthMM
		, RMLengthFeet = SUM(TotalQty)+SUM(TotalWaste)
		, RMWasteFeet = SUM(TotalWaste)
		, RMLengthMeters = (SUM(TotalQty)+SUM(TotalWaste))/LMConvFactor
		, RMWeightLB = (SUM(TotalQty)+SUM(TotalWaste))/LBConvFactor
		, RMWeightPct = 1
		, RMAreaMSM = (SUM(TotalQty)+SUM(TotalWaste))/MSMConvFactor
		, RMAreaMSF = (SUM(TotalQty)+SUM(TotalWaste))/MSFConvFactor
		, RMAreaPct = 1
		, RMLBConvFactor = LBConvFactor
		, RMLMConvFactor = LMConvFactor
		, RMMSMConvFactor = MSMConvFactor
		, RMMSFConvFactor = MSFConvFactor
		, RMDocErrors = SUM(DocErrors)
	INTO #T1
	FROM
	(	
		SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, SUM(TotalQty) AS TotalQty, SUM(TotalWaste) AS TotalWaste, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, Sum(DocErrors) AS DocErrors
		FROM #T0
		WHERE Sequence = 1
		GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN
	) B
	GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, B.ItemId, RMDescr, WidthMM, WidthIN, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor

	SELECT 2 AS Sequence
		, OrderNo
		, CustName
		, FGAlias
		, AssemblyId
		, FGDescr
		, RMAlias
		, B.ItemId
		, RMDescr
		, FGQty = (SELECT COUNT(ItemID) FROM #T0 WHERE Sequence = 2 AND TotalQty > 0)
		, FGWidthIN = WidthIN
		, FGWidthMM = WidthMM
		, FGLengthFeet = SUM(TotalQty)
		, FGWasteFeet = SUM(TotalWaste)
		, FGLengthMeters = SUM(TotalQty)/LMConvFactor
		, FGWeightLB = SUM(TotalQty)/LBConvFactor
		, FGWeightPct = (SUM(TotalQty)/LBConvFactor)/T.RMWeightLB
		, FGAreaMSM = SUM(TotalQty)/MSMConvFactor
		, FGAreaMSF = SUM(TotalQty)/MSFConvFactor
		, FGAreaPct = (SUM(TotalQty)/MSMConvFactor) / T.RMAreaMSM
		, FGLBConvFactor = LBConvFactor
		, FGLMConvFactor = LMConvFactor
		, FGMSMConvFactor = MSMConvFactor
		, FGMSFConvFactor = MSFConvFactor
		, FGDocErrors = 0
	INTO #T2
	FROM
	(	
		SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, SUM(TotalQty) AS TotalQty, SUM(TotalWaste) AS TotalWaste, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, DocErrors = 0
		FROM #T0
		WHERE Sequence = 2 
		GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN
	) B
	LEFT JOIN (SELECT SUM(RMWeightLB) AS RMWeightLB, SUM(RMAreaMSM) AS RMAreaMSM FROM #T1) T ON 1 = 1 
	GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, B.ItemId, RMDescr, WidthMM, WidthIN, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, T.RMWeightLB, T.RMAreaMSM

	DECLARE @TrimWidth as float
	SELECT Top 1 @TrimWidth = #T0.WidthIN-(T.Cuts * T.WidthIN)
	FROM #T0
	INNER JOIN (SELECT OrderNo, ReleaseNo, WidthIN, Count(SerialNo) AS Cuts FROM #T0 WHERE Sequence = 2 GROUP BY OrderNo, ReleaseNo, WidthIN) T ON T.OrderNo = #T0.OrderNo AND T.ReleaseNo = #T0.ReleaseNo
	WHERE Sequence = 1
	GROUP BY #T0.OrderNo, #T0.ReleaseNo, #T0.WidthIN, T.WidthIN, T.Cuts 

	SELECT 3 AS Sequence
		 , #T1.OrderNo
		 , TrimWeight = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMLBConvFactor) 
		 , TrimWeightPct = ((RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMLBConvFactor)) / RMWeightLB)
		 , TrimAreaMSM = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSMConvFactor)
		 , TrimAreaMSF = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSFConvFactor)
		 , TrimAreaMSMPct = ((RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSMConvFactor)) / RMAreaMSM)
		 , TrimAreaMSFPct = ((RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSFConvFactor)) / RMAreaMSF)
		 , WasteWeight = (RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)
		 , WasteWeightPct = ((RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMWeightLB
		 , WasteAreaMSM = (RMWasteFeet/RMMSMConvFactor) + (FGWasteFeet/FGMSMConvFactor)
		 , WasteAreaMSF = (RMWasteFeet / RMMSFConvFactor) + (FGWasteFeet / FGMSFConvFactor)
		 , WasteAreaMSMPCT = (((RMWasteFeet / RMMSMConvFactor) + (FGWasteFeet / FGMSMConvFactor)) / RMAreaMSM)
		 , WasteAreaMSFPCT = (((RMWasteFeet / RMMSFConvFactor) + (FGWasteFeet / FGMSFConvFactor)) / RMAreaMSF)
		 , DocErrWeight = (RMDocErrors / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)
		 , DocErrWeightPct = ((RMDocErrors / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMWeightLB
		 , DocErrAreaMSM = (RMDocErrors / RMMSMConvFactor) + (FGWasteFeet / FGMSMConvFactor)
		 , DocErrAreaMSF = (RMDocErrors / RMMSFConvFactor) + (FGWasteFeet / FGMSFConvFactor)
		 , DocErrAreaMSMPCT = (((RMDocErrors / RMMSMConvFactor) + (FGWasteFeet / FGMSMConvFactor)) / RMAreaMSM)
		 , DocErrAreaMSFPCT = (((RMDocErrors / RMMSFConvFactor) + (FGWasteFeet / FGMSFConvFactor)) / RMAreaMSF)
	INTO #T3
	FROM #T1
	INNER JOIN #T2 ON 1 = 1

	SELECT #T1.Sequence
		, #T1.OrderNo
		, #T1.CustName
		, #T1.FGAlias
		, #T1.AssemblyId
		, #T1.FGDescr
		, #T1.RMAlias
		, #T1.RMItemId
		, #T1.RMDescr
		, RMQty
		, RMWidthIN
		, RMWidthMM
		, RMLengthFeet
		, RMWasteFeet
		, RMLengthMeters
		, RMWeightLB
		, RMWeightPct
		, RMAreaMSM
		, RMAreaMSF
		, RMAreaPct
		, FGQty
		, FGWidthIN
		, FGWidthMM
		, FGLengthFeet
		, FGWasteFeet
		, FGLengthMeters
		, FGWeightLB
		, FGWeightPct
		, FGAreaMSM
		, FGAreaMSF
		, FGAreaPct
		, TrimWeight
		, TrimWeightPct
		, TrimAreaMSM
		, TrimAreaMSF
		, TrimAreaMSMPct
		, TrimAreaMSFPct
		, WasteWeight
		, WasteWeightPct
		, WasteAreaMSM
		, WasteAreaMSF
		, WasteAreaMSMPCT
		, WasteAreaMSFPCT
		, DocErrWeight
		, DocErrWeightPct
		, DocErrAreaMSM
		, DocErrAreaMSF
		, DocErrAreaMSMPCT
		, DocErrAreaMSFPCT
	FROM #T1
	INNER JOIN #T2 ON #T2.OrderNo = #T1.OrderNo
	INNER JOIN #T3 ON #T3.OrderNo = #T1.OrderNo

	DROP TABLE #T0
	DROP TABLE #T1
	DROP TABLE #T2
	DROP TABLE #T3

END
GO
