USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountTicketNums]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetInventoryCountTicketNums] @ICEId int
	
AS
BEGIN

--DECLARE @ICEId int = -1


/*@ICEId is in either InventoryCountTicket or InventoryCountTicketHist, not both*/
IF @ICEId = -1
BEGIN
	SELECT ICTNum,ICEId,[Site],Bin, TicketDate, InventoryIsFG,Posted,NumScans
		FROM  [W005].[dbo].InventoryCountTicket 
	UNION ALL
		SELECT ICTNum,ICEId,[Site],Bin, TicketDate, InventoryIsFG,Posted,NumScans
		FROM  [W005].[dbo].InventoryCountTicketHist 

		ORDER BY ICTNum DESC

END
ELSE
BEGIN
		SELECT ICTNum,ICEId,[Site],Bin, TicketDate, InventoryIsFG,Posted,NumScans
		FROM  [W005].[dbo].InventoryCountTicket 
		WHERE ICEId=@ICEId
	UNION ALL
		SELECT ICTNum,ICEId,[Site],Bin, TicketDate, InventoryIsFG,Posted,NumScans
		FROM  [W005].[dbo].InventoryCountTicketHist 
		WHERE ICEId=@ICEId

		ORDER BY ICTNum DESC
END





END

GO
