USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWGetBatchNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  Used by WEbCQA to obtain BatchNo (LotNo) of RM used to make FGs being tested
*/

CREATE PROCEDURE [dbo].[spSWGetBatchNo] @OrderNo AS VARCHAR(10), @RelNo AS int
AS
BEGIN


--DECLARE @OrderNo AS VARCHAR(10) = '00048380'
--DECLARE @RelNo AS int = 11


SELECT DISTINCT iill.[cf_Lot No.] AS BatchNo
FROM [005].dbo.trav_tblInItemLocLot_View iill
	INNER JOIN [005].[dbo].[tblInItemLoc] iil ON iil.ItemId=iill.ItemId AND iil.LocId=iill.LocId
WHERE (iil.GLAcctCode LIKE '1%' OR iil.GLAcctCode LIKE '2%' OR iil.GLAcctCode LIKE '3%') AND
		iill.LotNum IN (SELECT SerialNo 
						FROM [W005].[dbo].[OrderReleaseEventItem] 
						WHERE OrderReleaseEventId  IN 
													(SELECT Id
													FROM [W005].[dbo].[OrderReleaseEvent] 
													WHERE OrderNo=@OrderNo AND ReleaseNo=@RelNo)
								AND IsAssembly=0) 





END
GO
