USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spYieldRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spYieldRpt]

	@FromItem As varchar(24), @ToItem As varchar(24),
	@FromDate as datetime, @ToDate As datetime,
	@ProdOrder as varchar(8),
	@ReleaseNo as varchar(5),
	@MachineGroupId as varchar(10)

AS
BEGIN

	--Declare @FromItem As varchar(24) = 'BT-1S-BK-F3'
	--Declare @ToItem As varchar(24) = 'ZZ-9S-BU'
	--Declare @FromDate as datetime = '1/1/16'
	--Declare @ToDate As datetime = '3/15/16'
	--Declare @ProdOrder as varchar(8) = ''
	--Declare @ReleaseNo as varchar(4) = ''
	--Declare @MachineGroupId as varchar(10) = ''


SELECT		ORE.OrderNo
		   ,ORE.ReleaseNo
		   ,OREI.ItemId
		   ,OREI.SerialNo
		   ,OREI.LotNo
			 ,OREI.TravLotNum
		   ,OREI.IsAssembly
		   ,OREI.EventDateTime 
		   ,ORE.MachineGroupId
		   ,OREI.Qty
		   ,OREI.TotalQty
		   ,OREI.TotalQtyConsumed
		   ,OREI.TotalQtyRemaining
		   ,OREI.TotalWaste
		   ,WasteAmount = IIF(len(OREI.TotalWaste) = 0, 0, OREW.WasteAmount)
		   ,OREW.UOM

FROM		[W005].[dbo].[OrderReleaseEvent] AS ORE
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId
			LEFT JOIN [W005].[dbo].[OrderReleaseEventWaste] AS OREW ON ORE.Id=OREW.OrderReleaseEventId OR OREI.Id=OREW.OrderReleaseEventItemId
			--WHERE IsAssembly=0 AND MachineGroupId <> 'NO MACHINE'

WHERE		IsAssembly=0 AND MachineGroupId <> 'NO MACHINE'
			AND (ItemId BETWEEN @FromItem AND @ToItem)
			AND (EventDateTime BETWEEN @FromDate AND @ToDate)
			AND OrderNo Like
				CASE WHEN len(@ProdOrder) = 0 THEN '%'
				ELSE @ProdOrder
				END
			AND ReleaseNo Like
				CASE WHEN @ReleaseNo = -1 THEN '%'
				ELSE @ReleaseNo
				END
			AND MachineGroupId Like
				CASE WHEN len(@MachineGroupId) = 0 THEN '%'
				ELSE @MachineGroupId
				END
						
ORDER BY	OrderNo, ReleaseNo, ItemId, SerialNo
END
GO
