USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spReeferComboThawHrsMet]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spReeferComboThawHrsMet] @ItemId AS VARCHAR(24), @SerNum AS VARCHAR(35), @ProgramId AS int
AS
BEGIN

--DECLARE @ItemId AS VARCHAR(24) = 'RM-TORA2352-PRP'
--DECLARE @SerNum AS VARCHAR(35) = 'AMTEST012120201'
--DECLARE @ProgramId AS INT = 0

-- if @ProgramId is less than 0, set to NULL to return all
IF @ProgramId < 0 
BEGIN
	SET @ProgramId = NULL
END

SELECT
	ProgramId,
	ReeferComboThawHrsMet = CAST(IIF(RemainingReeferThawHrs <= 0, 1, 0) AS bit)
FROM (
	SELECT 
		OTStatus.ProgramId,
		RemainingReeferThawHrs = (CAST(DATEDIFF(MINUTE, GETDATE(), ReeferThawCompletedDT) AS float))/60

	FROM OutTimeItemStatus OTStatus
	WHERE OTStatus.ItemId=@ItemId AND (OTStatus.SerialNo=@SerNum OR OTStatus.TravSerNum=@SerNum) 
			AND OTStatus.BinType = 'REEFER' AND (OTStatus.ProgramId=@ProgramId OR @ProgramId IS NULL)
	GROUP BY OTStatus.ProgramId, ReeferThawCompletedDT
) A

END
GO
