USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOffSiteTransPLDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Returns all data points for CCI PL EXCEPT SerialNo range, which is a subreport of the PL
CREATE PROCEDURE [dbo].[spOffSiteTransPLDetail]
	@OST as int
AS
BEGIN

--DECLARE @OST int = 5

	SELECT 
		d.PkgId, IsNull(d.ItemId,'') AS ItemId, IsNULL(ii.Descr,'') AS ItemDescr
		,IsNULL(ia.AliasID,'') As CustPN
		,UnitId = IIF(d.ShipPalletId is Not null,d.ShipPalletId,
							IIF(d.ShipCartonId is Not null,d.ShipCartonId,
								IIF(d.ShipBoxId is Not null, d.ShipBoxId 
								,d.ShipItemId)))		
		,PkgType = IIF(d.ShipPalletId is Not null,'P',
							IIF(d.ShipCartonId is Not null,'C',
								IIF(d.ShipBoxId is Not null, 'B'
								,'I')))		
		,TotalKitsInPkg = IIF(d.ShipPalletId is null,
							IIF(d.ShipCartonId is null,
								IIF(d.ShipBoxId is null, 1
								,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=d.ShipBoxId))
							,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=d.ShipCartonId))
						,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=d.ShipPalletId))
	FROM [W005].[dbo].[OffSiteTransferDetail] d
		LEFT JOIN [005].[dbo].[tblInItem] ii ON d.ItemId=ii.ItemId
		LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1
	WHERE d.OffSiteTransId = @OST





END
GO
