USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTrv_SerilizedNotScannedQtyTest]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spTrv_SerilizedNotScannedQtyTest] 
AS
BEGIN
SELECT H.ItemId, H.LocId, H.LotNum As TravLotNum, '' AS TravSerNum,  H.QtyOnHand AS Qty, I.UomBase As UOM
       ,ExtLocAId = (SELECT ExtLocAId FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ExtHistSeqNum IN 
                                         (SELECT MAX(ExtHistSeqNum) AS ExtHistSeqNum FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ItemId=H.ItemId AND LotNum=H.LotNum AND LocId=H.LocId AND TransDate IN
                                                (SELECT MAX(TransDate) FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ItemId=H.ItemId AND LotNum=H.LotNum AND LocId=H.LocId)))    
  INTO #T1
  FROM [005].dbo.trav_InItemOnHandLot_view H
  INNER JOIN [005].dbo.tblInItem I ON I.ItemId = H.ItemId 
  WHERE QtyOnHand != 0

  SELECT S.ItemId, S.LocId,'' AS TravLotNum ,S.SerNum AS TravSerNum, 1 AS Qty, I.UomBase AS UOM,
  ExtLocAId = (SELECT ExtLocAId FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ExtHistSeqNum IN 
                                         (SELECT MAX(ExtHistSeqNum) AS ExtHistSeqNum FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ItemId=H.ItemId AND LotNum=H.LotNum AND LocId=H.LocId AND TransDate IN
                                                (SELECT MAX(TransDate) FROM [005].[dbo].[trav_tblWmHistDetail_view] WHERE ItemId=H.ItemId AND LotNum=H.LotNum AND LocId=H.LocId)))    
  
  INTO #T1S
  FROM [005].dbo.tblInItem I
  INNER JOIN [005].dbo.trav_InItemOnHandLot_view H on I.ItemId = H.ItemId
  INNER JOIN [005].dbo.tblInItemSer S ON I.ItemId = S.ItemId
  WHERE I.ItemType = 2 AND S.SerNumStatus in (1,2,5)


SELECT u.ItemId, u.TravLotNum,  u.TravSerNum, IsNULL(d.Qty,u.Qty) As Qty, u.UOM, u.Location AS LocId, d.ExtLocAId  
INTO #T2
FROM [W005].[dbo].[InventoryCountTicketUnit] u
       LEFT JOIN [W005].[dbo].[InventoryCountTicketDetail] d ON u.ICTUnitId=d.ICTUnitId
where u.ICTNum>200
       
          
          
  SELECT #T1.ItemId,#T1.LocId,#T1.TravLotNum,#T1.TravSerNum,#T1.Qty,#T1.UOM,#T1.ExtLocAId FROM #T1 LEFT JOIN #T2 ON #T2.ItemId = #T1.ItemId and #T2.LocId = #t1.LocId and #t2.TravLotNum = #T1.TravLotNum
  WHERE #T2.ItemId is null
  union all
  SELECT  #T1S.ItemId,#T1S.LocId,#T1S.TravLotNum,#T1S.TravSerNum,#T1S.Qty,#T1S.UOM,#T1S.ExtLocAId FROM #T1S LEFT JOIN #T2 ON #T2.ItemId = #T1S.ItemId and #T2.LocId = #t1S.LocId and #t2.TravSerNum = #T1S.TravSerNum
  WHERE #T2.ItemId is null

  drop table #T1
  drop table #T1S
  drop table #T2

END
GO
