USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetTravSerialRawMatlDtlNunezCosts]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetTravSerialRawMatlDtlNunezCosts]  
	@ItemId as varchar(24),
	@LocId as varchar(10),
	@TravSerNum as varchar(35),
	@UnitCost as decimal(20,10)
AS
BEGIN
	DECLARE @NunezType as varchar(15)
	DECLARE @IsSerial as bit
	DECLARE @IsTravSerial as bit
	DECLARE @SeqNum as int

	DECLARE @WILaborSetupUnitCost as decimal(20,10)
	DECLARE @WILaborUnitCost as decimal(20,10)
	DECLARE @WIMachineSetupUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCostModified as decimal(20,10)
	DECLARE @WIMachineUnitCostVariable as decimal(20,10)
	DECLARE @WIMaterialDirectUnitCost as decimal(20,10)
	DECLARE @WIMaterialIndirectUnitCost as decimal(20,10)
	DECLARE @WISubcontractUnitCost as decimal(20,10)

	DECLARE @TotalQty as float
	DECLARE @QtyCalc as float
	DECLARE @LotQty as float
	DECLARE @WILaborSetupCost as float
	DECLARE @WILaborCost as float
	DECLARE @WIMachineSetupCost as float
	DECLARE @WIMachineCost as float
	DECLARE @WIMachineCostModified as float
	DECLARE @WIMachineCostVariable as float
	DECLARE @WIMaterialDirectCost as float
	DECLARE @WIMaterialIndirectCost as float
	DECLARE @WISubcontractCost as float

	DECLARE @WILaborSetupTotalCost as float
	DECLARE @WILaborTotalCost as float
	DECLARE @WIMachineSetupTotalCost as float
	DECLARE @WIMachineTotalCost as float
	DECLARE @WIMachineTotalCostModified as float
	DECLARE @WIMachineTotalCostVariable as float
	DECLARE @WIMaterialDirectTotalCost as float
	DECLARE @WIMaterialIndirectTotalCost as float
	DECLARE @WISubcontractTotalCost as float

	IF LEN(@TravSerNum) = 0 SET @TravSerNum = NULL

	SELECT @NunezType = CASE SUBSTRING(L.GLAcctCode,1,1) 
						WHEN '1' THEN 'RAW DIRECT' 
						WHEN '2' THEN 'RAW DIRECT' 
						WHEN '3' THEN 'RAW DIRECT' 
						WHEN '4' THEN 'RAW INDIRECT' 
						WHEN '5' THEN 'RAW INDIRECT' 
						WHEN '6' THEN 'RAW INDIRECT' 
						WHEN '7' THEN 'FG' 
						WHEN '8' THEN 'FG' 
						WHEN '9' THEN 'FG' END
			,@IsSerial = I.[cf_Multi-UOM Serial Item], @IsTravSerial = iif(I.ItemType = 2, 1, 0)
	FROM [005].[dbo].[trav_tblInItem_view] I INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = I.ItemId
	WHERE L.ItemId = @ItemId AND L.LocId = @LocId

	IF @NunezType = 'FG' 
		BEGIN 
			SELECT TOP 1
						@WIMaterialDirectUnitCost = ISNULL([WIMaterialDirectUnitCost],0)
					,@WIMaterialIndirectUnitCost = ISNULL([WIMaterialIndirectUnitCost],0)
					,@WILaborSetupUnitCost = ISNULL([WILaborSetupUnitCost],0)
					,@WILaborUnitCost = ISNULL([WILaborUnitCost], 0)
					,@WIMachineSetupUnitCost = ISNULL([WIMachineSetupUnitCost],0)
					,@WIMachineUnitCost = ISNULL([WIMachineUnitCost],0)
					,@WIMachineUnitCostModified = ISNULL([WIMachineUnitCostModified],0)
					,@WIMachineUnitCostVariable = ISNULL([WIMachineUnitCostVariable],0)
					,@WISubcontractUnitCost = ISNULL([WISubcontractUnitCost],0)
			FROM [W005].[dbo].[tblInItemSerNunezCost]
			WHERE ItemId = @ItemId AND SerNum = @TravSerNum
		END
	IF @NunezType = 'RAW DIRECT' 
		BEGIN
			SELECT @WILaborSetupUnitCost = 0, @WILaborUnitCost = 0,  @WIMachineSetupUnitCost = 0, @WIMachineUnitCost = 0, @WIMachineUnitCostModified = 0, @WIMachineUnitCostVariable = 0, @WIMaterialDirectUnitCost = IsNull(@UnitCost,0), @WIMaterialIndirectUnitCost = 0, @WISubcontractUnitCost = 0
		END
	ELSE
		IF @NunezType = 'RAW INDIRECT'
		BEGIN
			SELECT @WILaborSetupUnitCost = 0, @WILaborUnitCost = 0,  @WIMachineSetupUnitCost = 0, @WIMachineUnitCost = 0, @WIMachineUnitCostModified = 0, @WIMachineUnitCostVariable = 0, @WIMaterialDirectUnitCost = 0, @WIMaterialIndirectUnitCost = IsNull(@UnitCost,0), @WISubcontractUnitCost = 0
		END
	SELECT @WILaborSetupUnitCost as WILaborSetupUnitCost, @WILaborUnitCost as WILaborUnitCost,  @WIMachineSetupUnitCost as WIMachineSetupUnitCost, @WIMachineUnitCost as WIMachineUnitCost, @WIMachineUnitCostModified as WIMachineUnitCostModified, @WIMachineUnitCostVariable as WIMachineUnitCostVariable, @WIMaterialDirectUnitCost as WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost as WIMaterialIndirectUnitCost, @WISubcontractUnitCost as WISubcontractUnitCost
END


GO
