USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineLotQtyBilled]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spOrderLineLotQtyBilled]
	@BLNo as int, @ItemId as varchar(24), @LocId AS varchar(10)

AS
BEGIN

		--DECLARE @BLNo as int = 2
		--DECLARE @ItemId as varchar(24) = 'FG-TORA15AF-PAD'
		--DECLARE @LocId as varchar(10) = 'INVATL'


		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, P.ShipPalletNo as Pkg
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipPallet] As P ON sbld.ShipPalletId=P.Id
			INNER JOIN [ShipItem] As I ON I.ShipPalletId=sbld.ShipPalletId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND sbld.Location = @LocId AND
			sbld.ShipCartonId is null AND sbld.ShipBoxId is null AND sbld.ShipItemId is null
			
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, C.ShipCartonNo as Pkg
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipCarton] As C ON sbld.ShipCartonId=C.Id
			INNER JOIN [ShipItem] As I ON I.ShipCartonId=sbld.ShipCartonId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND sbld.Location = @LocId AND
			sbld.ShipPalletId is null AND sbld.ShipBoxId is null AND sbld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, B.ShipBoxNo as Pkg
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipBox] As B ON sbld.ShipBoxId=B.Id
			INNER JOIN [ShipItem] As I ON I.ShipBoxId=sbld.ShipBoxId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND sbld.Location = @LocId AND
			sbld.ShipPalletId is null AND sbld.ShipCartonId is null AND sbld.ShipItemId is null
		
		UNION ALL

		SELECT I.Id, I.TravLotNum, I.Quantity AS Qty, I.ShipItemNo as Pkg
		FROM [BillingListDetail] as sbld
			INNER JOIN [ShipItem] As I ON I.Id=sbld.ShipItemId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND sbld.Location = @LocId AND
			sbld.ShipPalletId is null AND sbld.ShipCartonId is null AND sbld.ShipBoxId is null

		UNION ALL

		SELECT 0 As Id, oh.LotNum AS TravLotNum
		, Sum(oh.Qty - oh.InvoicedQty - oh.RemoveQty) AS Qty
		, oh.LotNum as Pkg
		FROM [BillingListDetail] as sbld
			INNER JOIN [BillingList] bl ON sbld.BLNo=bl.BLNo
			INNER JOIN [005].dbo.tblInQtyOnHand oh ON sbld.TravLotNum=oh.LotNum AND sbld.ItemId=oh.ItemId AND bl.BillFromLocId=oh.LocId
		WHERE sbld.BLNo=@BLNo AND sbld.ItemId=@ItemId AND sbld.Location = @LocId AND oh.LotNum NOT IN (SELECT TravLotNum FROM [ShipItem] WHERE ItemId = oh.ItemId)
		GROUP BY oh.LotNum



END
GO
