USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebExtrudingPartialPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebExtrudingPartialPalletLabel] 
	@PalletId as int, @ItemId as varchar(24)

AS
BEGIN

--DECLARE @PalletId as int = 30721
--DECLARE @ItemId as varchar(24) = 'ST-507'

DECLARE @ProductLine as varchar(12)
SET @ProductLine = (SELECT ProductLine FROM [005].[dbo].[tblInItem] WHERE ItemId=@ItemId)
DECLARE @LotNo as varchar(150)
SET @LotNo = UPPER(STUFF
				(
					(
						SELECT DISTINCT '/' + si.LotNo
						FROM [W005].[dbo].[ShipItem]  as si
						WHERE si.ShipPalletId=@PalletId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				))
DECLARE @AddlLot as varchar(100)
SET @AddlLot = UPPER(STUFF
				(
					(
						SELECT DISTINCT '/' + si.AdditionalLotNo
						FROM [W005].[dbo].[ShipItem]  as si
						WHERE si.ShipPalletId=@PalletId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				))

	SELECT ItemId=@ItemId,sp.ShipPalletNo, ii.Descr,sp.DateCreated, FORMAT(sp.DateCreated,'MMddyy') As MMDDYY, sp.GrossWt, si.UOM, 
		TOPsforExtruding = 
					CASE WHEN sp.TOPsforExtruding Is NULL THEN '' ELSE sp.TOPsforExtruding END,
		Quantity = 
					CASE WHEN (SELECT TOP 1 EndQty FROM [W005].[dbo].[TRYield] WHERE (EndQty>0 AND PkgIsFG=0 AND ShipPalletId=@PalletId) ORDER BY Id DESC) Is NULL THEN SUM(si.Quantity)
					ELSE (SELECT TOP 1 EndQty FROM [W005].[dbo].[TRYield] WHERE (EndQty>0 AND PkgIsFG=0 AND ShipPalletId=@PalletId)ORDER BY Id DESC) 
					END,
		
		CASE WHEN @ProductLine IN ('TPS', 'Patch Cord')
		THEN IIF(@AddlLot is Null,@LotNo, @LotNo + '/' + @AddlLot)
		ELSE @LotNo 
		END
		as LotNo,

		OpInit =  (SELECT [dbo].[ParsedList]((UPPER(STUFF
					(
						(
							SELECT DISTINCT '/' + si.OpInit
							FROM [W005].[dbo].[ShipItem]  as si
							WHERE si.ItemID=@ItemId AND si.ShipPalletId=@PalletId
							FOR XML PATH(''), TYPE
						).value('.[1]','nvarchar(max)'),
						1,1,''
					))),'/') AS ParsedList),
		CustomerPN = STUFF
			(
				(
					SELECT DISTINCT '/' + iia.AliasID
					FROM [005].[dbo].[tblInItemAlias] as iia
					WHERE iia.ItemID=@ItemId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			),
		PrintCopies= (SELECT 
						CASE
						WHEN EXISTS(
							SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=@ItemId
						) 
						THEN  (SELECT nTarget FROM  [W005].[dbo].[ProductChar] WHERE CharId=2032 AND ItemId=@ItemId)
						ELSE  1
						END AS PrintCopies)
	FROM [005].[dbo].[tblInItem] As ii INNER JOIN [W005].[dbo].[ShipItem] as si ON si.ItemId=ii.ItemId
		INNER JOIN [W005].[dbo].[ShipPallet] as sp ON sp.Id=si.ShipPalletId
	WHERE ii.ItemId=@ItemId AND sp.Id = @PalletId
	GROUP BY sp.ShipPalletNo, ii.Descr,sp.DateCreated, sp.GrossWt,si.UOM, sp.TOPsforExtruding


END


GO
