USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMonthlyHours]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMonthlyHours] @FromTransDate as datetime, @ToTransDate as datetime
AS
BEGIN
	select D.EmployeeId, E.LastName, S.MachineGroupID, Sum(MachineSetup) As MachineSetup, Sum(MachineRun) As Machine, Sum(LaborSetup) As LaborSetup, Sum(Labor) As Labor 
	from [005].dbo.tblMpHistoryTimeDtl D 
		 INNER JOIN [005].dbo.tblMpHistoryTimeSum S ON S.TransId = D.TransId
		 LEFT JOIN [005].dbo.tblSmEmployee E ON E.EmployeeId = D.EmployeeID
	Where D.TransDate between @FromTransDate and @ToTransDate
	Group by D.EmployeeId, E.LastName, S.MachineGroupID
	Order by D.EmployeeId, E.LastName, S.MachineGroupID

	--select D.EmployeeId, E.LastName, Sum(MachineSetup) As MachineSetup, Sum(MachineRun) As Machine, Sum(LaborSetup) As LaborSetup, Sum(Labor) As Labor 
	--from [005].dbo.tblMpHistoryTimeDtl D LEFT JOIN [005].dbo.tblSmEmployee E ON E.EmployeeId = D.EmployeeID
	--Where D.TransDate between @FromTransDate and @ToTransDate
	--Group by D.EmployeeID, E.LastName
	--Order by D.EmployeeID, E.LastName
END
GO
