USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderLineNoQtyShipped]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spOrderLineNoQtyShipped]
	@PLNo as int, @ItemId as varchar(24)
AS
BEGIN

	SELECT SUM(spld.Qty) As QtyShipped
	FROM [W005].[dbo].[ShipPackingListDetail] As spld 
	WHERE spld.PLNo=@PLNo AND spld.ItemId=@ItemId
	
END







GO
