USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPalletDataByTravLotNumForPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetPalletDataByTravLotNumForPL]
	@ShipPalletNo as varchar(10), @OrderNo as varchar(8)
AS
BEGIN

--declare @ShipPalletNo as varchar(10) ='P000169904'
--DECLARE @OrderNo as varchar(8) = '00004289'
	
	DECLARE @ISExtruding as bit

	SELECT @IsExtruding = IIF(COUNT(ah.AssemblyId) > 0, 1, 0)
	FROM [W005].[dbo].[ShipItem] As si 
		 INNER JOIN [W005].[dbo].[ShipPallet] As sp ON si.ShipPalletId=sp.Id
		 INNER JOIN [005].[dbo].[tblMbAssemblyHeader] ah ON si.ItemId = ah.AssemblyId
	     INNER JOIN [005].[dbo].[tblMbAssemblyRouting] r ON ah.Id=r.HeaderId 	
		 WHERE r.MachineGroupId Like 'EXT%' AND sp.ShipPalletNo=@ShipPalletNo

	SELECT DISTINCT  si.TravLotNum,sp.Id,sp.ShipPalletNo, si.ItemId,ii.Descr,
			si.Location,sp.GrossWt,sp.DateCreated,sp.TOPSforExtruding,
			Qty = (SELECT SUM(CAST(i.Quantity as decimal(20,10))) 
						FROM [W005].[dbo].[ShipItem] i 
						WHERE i.ShipPalletId=(SELECT Id FROM [W005].[dbo].[ShipPallet] WHERE ShipPalletNo=@ShipPalletNo)
							AND i.TravLotNum=si.TravLotNum),
			
			--Qty = (SELECT TOP 1 CAST(CAST(SUM(i.Quantity) as float) / CAST(iif(td.ConversionFactor Is null, IsNull(ar.ConversionFactor,1),td.ConversionFactor) as float) as decimal(20,10)) 
			--			FROM [W005].[dbo].[ShipItem] i 
			--					LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON i.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
			--					LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=i.ItemId AND ar.Status=0
			--			WHERE i.ShipPalletId=(SELECT Id FROM [W005].[dbo].[ShipPallet] WHERE ShipPalletNo=@ShipPalletNo)  
			--				--AND i.TravLotNum=si.TravLotNum
			--			GROUP BY i.Quantity,td.ConversionFactor,ar.ConversionFactor),
					--TotalQty = (SELECT CAST(SUM(CAST(si.Quantity as float)) / CAST(iif(td.ConversionFactor Is null, IsNull(ar.ConversionFactor,1),td.ConversionFactor) as float) as decimal(20,10)) 
					--			FROM [W005].[dbo].[ShipItem] si 
					--					LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
					--					LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=si.ItemId AND ar.Status=0
					--			WHERE si.ShipPalletId=(SELECT Id FROM [W005].[dbo].[ShipPallet] WHERE ShipPalletNo=@ShipPalletNo)  
					--			GROUP BY td.ConversionFactor,ar.ConversionFactor),
			UOM = (SELECT iif(td.UnitsSell Is null, ar.UnitsSell,td.UnitsSell) 
					FROM [W005].[dbo].[ShipItem] si 
							LEFT JOIN  [005].[dbo].[tblSoTransDetail] td ON si.ItemId=td.ItemId AND td.TransID=@OrderNo AND td.Status=0
							LEFT JOIN [005].[dbo].[tblArHistDetail] ar ON ar.TransID =@OrderNo AND ar.PartID=si.ItemId AND ar.Status=0
					WHERE si.ShipPalletId=(SELECT Id FROM [W005].[dbo].[ShipPallet] WHERE ShipPalletNo=@ShipPalletNo) 
					GROUP BY td.UnitsSell,ar.UnitsSell),
			TotalNoRolls = (SELECT SUM(i.NoRolls) FROM [W005].[dbo].[ShipItem] as i WHERE i.ShipPalletId=sp.Id),  --SUM(si.NoRolls),
			--LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN LEFT(si.LotNo,8)
			--		ELSE si.LotNo 
			--		END,
					LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
																	(
																		(
																			SELECT DISTINCT '/' + LEFT(I.LotNo,8)
																			FROM [W005].[dbo].[ShipItem] as I
																			WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
																			FOR XML PATH(''), TYPE
																		).value('.[1]','nvarchar(max)'),
																		1,1,''
																	)
							ELSE  STUFF
										(
											(
												SELECT DISTINCT '/' + I.LotNo 
												FROM [W005].[dbo].[ShipItem] as I
												WHERE I.ShipPalletId=sp.Id AND I.Deleted=0
												FOR XML PATH(''), TYPE
											).value('.[1]','nvarchar(max)'),
											1,1,''
										)
							END,
			CustomerPN = STUFF
			(
				(
					SELECT DISTINCT '/' + IIA.AliasID
					FROM [005].[dbo].[tblInItemAlias] As IIA
					WHERE IIA.ItemID=si.ItemId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			),
			sp.Complete,sp.Deleted,sp.NotForShipment,sp.Shipped, si.PostedToTraverse,
			--CAST(IIF(sp.ShipPalletNo Not In 
			--						(SELECT d.PkgId 
			--						FROM [W005].[dbo].[ShipPackingListDetail] d INNER JOIN [W005].[dbo].[ShipPackingList] p ON d.PLNo=p.PLNo
			--						WHERE p.RemoteWarehouse = 'NO'
			--						),0,1) as bit) as AlreadyShipped,
			CAST(IIF(
					((SELECT COUNT(d.PkgId) FROM [W005].[dbo].[ShipPackingListDetail] d INNER JOIN [W005].[dbo].[ShipPackingList] p ON d.PLNo=p.PLNo AND d.PkgId=@ShipPalletNo
					WHERE p.RemoteWarehouse = 'NO') > (SELECT COUNT(d.PkgId)
														FROM [W005].[dbo].[ReturnedInDetail] d 
														WHERE d.PkgId=@ShipPalletNo))
					,1,0) as bit) as AlreadyShipped,
			OrderNotFinalized = CAST(iif(@ISExtruding = 1,0,
													IIF(si.ItemId Not In 
													(SELECT AssemblyId
													FROM [W005].[dbo].[OrderReleaseSummary]
													WHERE (OrderNo=si.ProdOrderNo AND ReleaseNo=si.ProdOrderRelNo AND IsPostedToTraverse=1) OR (si.DateCreated<'2/1/2016')
													),1,0) ) 
									as bit)
	FROM  [W005].[dbo].[ShipPallet] As sp INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipPalletId=sp.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
		
	WHERE sp.ShipPalletNo=@ShipPalletNo
	GROUP BY si.TravLotNum,sp.Id,sp.ShipPalletNo, si.ItemId,ii.Descr,
			si.Location,sp.GrossWt,sp.DateCreated,sp.TOPSforExtruding,sp.Complete,sp.Deleted,sp.NotForShipment,sp.Shipped, si.PostedToTraverse,
			si.ProdOrderNo,si.ProdOrderRelNo,si.DateCreated





END


				
GO
