USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIASNMRASParentOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spCCIASNMRASParentOrder] @ParentOrderList NVARCHAR(MAX)
	
AS
BEGIN

--DECLARE @ParentOrderList NVARCHAR(MAX) = 'P0013262'


DECLARE @ParentOrdTable Table (POrdNo NVARCHAR(MAX))
INSERT INTO @ParentOrdTable SELECT * FROM [w005].[dbo].[fnSplitString](@ParentOrderList,',')

DECLARE @tRM Table ([Supplier Kit ID] varchar(35),[MR Part #] varchar(35),Revision varchar(10),Station varchar(25),[Tag ID] varchar(25),[MRAS Job #] varchar(20)
					, [ROLL 1] varchar(max), [ROLL 2] varchar(max), [ROLL 3] varchar(max), [ROLL 4] varchar(max), [ROLL 5] varchar(max), [ROLL 6] varchar(max)
					, [ROLL 7] varchar(max), [ROLL 8] varchar(max), [ROLL 9] varchar(max), [ROLL 10] varchar(max), [ROLL 11] varchar(max), [ROLL 12] varchar(max)
					, [ROLL 13] varchar(max), [ROLL 14] varchar(max), [ROLL 15] varchar(max), [ROLL 16] varchar(max), [ROLL 17] varchar(max), [ROLL 18] varchar(max)
					, [ROLL 19] varchar(max), [ROLL 20] varchar(max))
DECLARE @POrdNo varchar(8)
DECLARE @SupplierKitID varchar(35)
DECLARE @FGOREIId int
DECLARE @MRPartNo varchar(35)
DECLARE @Revision varchar(11)
DECLARE @TagID varchar(25)
DECLARE @RMLotNo varchar(16)
DECLARE @RollMaterial varchar(24)
DECLARE @RollExpDate datetime
DECLARE @EstTotalRoomMinutes int
DECLARE @ExposureTime decimal(10,1)
DECLARE @Station varchar(10) = 'Shipped'
DECLARE @MRASJobNo varchar(1) = ''

DECLARE iTblCur CURSOR  
FOR
	SELECT POrdNo FROM @ParentOrdTable
OPEN iTblCur
FETCH NEXT FROM iTblCur INTO @POrdNo
WHILE @@FETCH_STATUS = 0 
BEGIN
	DECLARE iCur CURSOR  
	FOR
		SELECT orei.TravSerNum As SupplierKitID
				,orei.Id AS FGOREIId
				,MRPartNo = (SELECT [Descr] FROM [005].[dbo].[tblInItem] WHERE ItemId=orei.ItemId)
				,Revision = (SELECT CAST(Substring([cf_Customer Revision No],LEN([cf_Customer Revision No])-1,2) as int) --show number only
							FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] 
							WHERE AssemblyId=orei.ItemId 
								AND RevisionNo= CASE WHEN EXISTS (SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] 
																				WHERE OrderNo=(select OrderNo
																							FROM  [W005].[dbo].[CCIOrderReleaseInfo] 
																							WHERE [ParentOrderNo]=@POrdNo AND ItemId=orei.ItemId) 
																						AND ItemId=orei.ItemId)
											THEN (SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=(select OrderNo
																												FROM  [W005].[dbo].[CCIOrderReleaseInfo] 
																												WHERE [ParentOrderNo]=@POrdNo AND ItemId=orei.ItemId) 
																											AND ItemId=orei.ItemId)
											ELSE (SELECT RevisionNo FROM [005].[dbo].[tblMpHistoryOrderReleases] WHERE OrderNo=(select OrderNo
																																FROM  [W005].[dbo].[CCIOrderReleaseInfo] 
																																WHERE [ParentOrderNo]=@POrdNo AND ItemId=orei.ItemId)  
																													AND ReleaseNo = (select ReleaseNo
																																FROM  [W005].[dbo].[CCIOrderReleaseInfo] 
																																WHERE [ParentOrderNo]=@POrdNo AND ItemId=orei.ItemId))
											END)
				,TagID = IsNULL(orei.[CustRFIDTag],'')
		FROM [W005].[dbo].[OrderReleaseEventItem] orei
				INNER JOIN [W005].[dbo].[OrderReleaseEvent] ore ON orei.OrderReleaseEventId=ore.Id
		WHERE ore.OrderNo=@POrdNo AND orei.IsAssembly=1
 
	OPEN iCur 
	FETCH NEXT FROM iCur INTO @SupplierKitID, @FGOREIId,@MRPartNo, @Revision, @TagID
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		DECLARE @i int = 1
		DECLARE @Roll1 varchar(MAX)='', @Roll2 varchar(MAX)='', @Roll3 varchar(MAX)='', @Roll4 varchar(MAX)='', @Roll5 varchar(MAX)=''
		DECLARE @Roll6 varchar(MAX)='', @Roll7 varchar(MAX)='', @Roll8 varchar(MAX)='', @Roll9 varchar(MAX)='', @Roll10 varchar(MAX)=''
		DECLARE @Roll11 varchar(MAX)='', @Roll12 varchar(MAX)='', @Roll13 varchar(MAX)='', @Roll14 varchar(MAX)='', @Roll15 varchar(MAX)=''
		DECLARE @Roll16 varchar(MAX)='', @Roll17 varchar(MAX)='', @Roll18 varchar(MAX)='', @Roll19 varchar(MAX)='', @Roll20 varchar(MAX)=''
		
		DECLARE iRMCUR CURSOR
		FOR 
			SELECT o.RMLotNo AS RMLotNo, k.ExpDate
				,RollMaterial = (SELECT AliasID  FROM [005].[dbo].[trav_tblInItemAlias_View]  
							WHERE AliasType=1  AND ItemID=o.RMItemId
							AND RefID = (SELECT CustId FROM [W005].[dbo].[Program] WHERE Id=
																					(SELECT DISTINCT ProgramId FROM [W005].[dbo].[CCIParentOrderCutList] WHERE ParentOrderNo=@POrdNo))
							AND [cf_FG Program]= (SELECT DISTINCT Program FROM [W005].[dbo].[CCIParentOrderCutList] WHERE ParentOrderNo=@POrdNo))
				
				,IIF((SELECT MaxRoomTimeHrs 
						FROM [W005].[dbo].[OutTimeItemSpecs] 
						WHERE ProgramId = (SELECT DISTINCT ProgramId 
										FROM [W005].[dbo].[CCIParentOrderCutList]
										WHERE ParentOrderNo=@POrdNo) AND ItemId = o.RMItemId) > 0
				,ROUND((SELECT CAST(MaxRoomTimeHrs as decimal(10,1))
					FROM [W005].[dbo].[OutTimeItemSpecs] 
					WHERE ProgramId = (SELECT DISTINCT ProgramId
										FROM [W005].[dbo].[CCIParentOrderCutList]
										WHERE ParentOrderNo=@POrdNo) AND ItemId =  o.RMItemId) - CAST(ISNULL(CAST(o.EstTotalRoomMinutes as decimal(10,1)),CAST(o.TotalRoomMinutes as decimal(10,1)))  / 60 as decimal(10,1)),1)
				,IIF((SELECT MaxRoomTimeHrs 
						FROM [W005].[dbo].[OutTimeItemSpecs] 
						WHERE ProgramId = 0 AND ItemId = o.RMItemId) > 0
						,ROUND((SELECT CAST(MaxRoomTimeHrs as decimal(10,1))
								FROM [W005].[dbo].[OutTimeItemSpecs] 
								WHERE ProgramId = 0 AND ItemId = o.RMItemId) - CAST(ISNULL(CAST(o.EstTotalRoomMinutes as decimal(10,1)),CAST(o.TotalRoomMinutes as decimal(10,1)))  / 60 as decimal(10,1)),1)
						,0))
				AS ExposureTime
			FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] o 
				INNER JOIN [W005].[dbo].[vCCIKitRawMaterialExpDt] k ON o.RMItemId=k.RMItemId AND o.RMSerialNo=k.RMSerialNo AND k.OrderNo=@POrdNo 		 
			WHERE  o.OrderReleaseEventItemId=@FGOREIId
		OPEN iRMCUR
		FETCH NEXT FROM iRMCUR INTO @RMLotNo,@RollExpDate,@RollMaterial,@ExposureTime
		WHILE @@FETCH_STATUS = 0 
		BEGIN
			IF @i=1
			BEGIN
				SET @Roll1 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),@ExposureTime) + '| MaxTemp= 0'
			END
			IF @i=2
			BEGIN
				SET @Roll2 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=3
			BEGIN
				SET @Roll3 ='RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=4
			BEGIN
				SET @Roll4 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=5
			BEGIN
				SET @Roll5 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=6
			BEGIN
				SET @Roll6 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=7
			BEGIN
				SET @Roll7 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=8
			BEGIN
				SET @Roll8 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=9
			BEGIN
				SET @Roll9 ='RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=10
			BEGIN
				SET @Roll10 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=11
			BEGIN
				SET @Roll11 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=12
			BEGIN
				SET @Roll12 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=13
			BEGIN
				SET @Roll13 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=14
			BEGIN
				SET @Roll14 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=15
			BEGIN
				SET @Roll15 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=16
			BEGIN
				SET @Roll16 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=17
			BEGIN
				SET @Roll17 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=18
			BEGIN
				SET @Roll18 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END
			IF @i=19
			BEGIN
				SET @Roll19 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END				
			IF @i=20
			BEGIN
				SET @Roll20 = 'RollID= ' + IsNull(@RMLotNo,'') + '| Material= ' + IsNull(@RollMaterial,'') + '| ExpirationDate= ' + 	CONVERT(VARCHAR(10), IsNull(@RollExpDate,''), 101) + '| ExposureTime= ' + CONVERT(varchar(10),(@ExposureTime)) + '| MaxTemp= 0'
			END	
		
			SET @i += 1	
		FETCH NEXT FROM iRMCUR INTO @RMLotNo,@RollExpDate,@RollMaterial,@ExposureTime
		END
		CLOSE iRMCUR  
		DEALLOCATE iRMCUR
		INSERT INTO @tRM([Supplier Kit ID],[MR Part #],Revision,Station,[Tag ID],[MRAS Job #]
						, [ROLL 1], [ROLL 2], [ROLL 3], [ROLL 4], [ROLL 5], [ROLL 6], [ROLL 7], [ROLL 8], [ROLL 9], [ROLL 10], [ROLL 11], [ROLL 12] 
						, [ROLL 13], [ROLL 14], [ROLL 15], [ROLL 16], [ROLL 17], [ROLL 18], [ROLL 19], [ROLL 20])
			VALUES (@SupplierKitID, @MRPartNo, @Revision, @Station,@TagID, @MRASJobNo, @ROLL1,@ROLL2, @ROLL3, @ROLL4, @ROLL5, @ROLL6, @ROLL7, @ROLL8, @ROLL9, @ROLL10, @ROLL11,@ROLL12
						,@ROLL13,@ROLL14,@ROLL15,@ROLL16,@ROLL17,@ROLL18,@ROLL19,@ROLL20)
	FETCH NEXT FROM iCur INTO @SupplierKitID, @FGOREIId,@MRPartNo, @Revision, @TagID
	END
	CLOSE iCur 
	DEALLOCATE iCur 
FETCH NEXT FROM iTblCur INTO @POrdNo
END
CLOSE iTblCur 
DEALLOCATE iTblCur 

select * from @tRM



END


GO
