USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWReworkOrigId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WebCQA 


CREATE PROCEDURE [dbo].[spSWReworkOrigId]
	@ProdOrdNo varchar(8),  @RelNo int

AS
BEGIN
	
--DECLARE @ProdOrdNo varchar(8) = '00000042'
--DECLARE @RelNo int = 1


IF EXISTS (
	SELECT IIF(TravLotNum is null,SerialNo,TravLotNum) AS OrigId 
	FROM [W005].[dbo].[OrderReleaseEventItem] 
	WHERE OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=@ProdOrdNo AND ReleaseNo=@RelNo)
		AND IsAssembly = 1 
		)
	BEGIN
		SELECT IIF(TravLotNum is null,SerialNo,TravLotNum) AS OrigId 
		FROM [W005].[dbo].[OrderReleaseEventItem] 
		WHERE OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].OrderReleaseEvent WHERE OrderNo=@ProdOrdNo AND ReleaseNo=@RelNo)
			AND IsAssembly = 1 
	END ELSE 
	BEGIN
		SELECT '' AS OrigId
	END



END






GO
