USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExtrAdjRMIncreaseTraverseData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExtrAdjRMIncreaseTraverseData]
	@OrderNo as varchar(8), @ReleaseNo as int

	-- NOTE: This sp obtains ExtrAdjustments RawMaterial Traverse MpMatlDtl records

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--DECLARE @OrderNo as varchar(8) = '00031610'
--DECLARE @ReleaseNo as int = 1


SELECT A.ComponentID, A.LocID,A.Qty,A.UOM,A.UnitCost,A.WILaborSetupUnitCost,A.WILaborUnitCost,A.WIMachineSetupUnitCost,A.WIMachineUnitCost,A.WIMachineUnitCostModified,
		A.WIMachineUnitCostVariable,A.WIMaterialDirectUnitCost,A.WIMaterialIndirectUnitCost,A.WISubcontractUnitCost
FROM (
	SELECT [ComponentID]
		  ,[LocID]
		  ,[Qty]
		  ,[UOMBase] As UOM
		  ,[UnitCost]
			  ,CAST(IsNULL([cf_WILaborSetupUnitCost],0) as decimal) As WILaborSetupUnitCost
			  ,CAST(IsNULL([cf_WILaborUnitCost],0) as decimal) As WILaborUnitCost
			  ,CAST(IsNULL([cf_WIMachineSetupUnitCost],0) as decimal) As WIMachineSetupUnitCost
			  ,CAST(IsNULL([cf_WIMachineUnitCost],0) as decimal) As WIMachineUnitCost
			  ,CAST(IsNULL([cf_WIMachineUnitCostModified],0) as decimal) As WIMachineUnitCostModified
			  ,CAST(IsNULL([cf_WIMachineUnitCostVariable],0) as decimal) As WIMachineUnitCostVariable
			  ,CAST(IsNULL([cf_WIMaterialDirectUnitCost],0) as decimal) As WIMaterialDirectUnitCost
			  ,CAST(IsNUll([cf_WIMaterialIndirectUnitCost],0) as decimal) As WIMaterialIndirectUnitCost
			  ,CAST(IsNULL([cf_WISubcontractUnitCost],0) as decimal) As WISubcontractUnitCost
		  ,[TransId]
	  FROM [005].[dbo].[trav_tblMpHistoryMatlDtl_View]
	  WHERE TransId IN (SELECT TransId FROM [005].dbo.tblMpHistoryRequirements WHERE ReleaseId =
							(SELECT ReleaseId FROM [005].dbo.tblMpHistoryOrderReleases WHERE OrderNo=@OrderNo and ReleaseNo=@ReleaseNo)
							AND IndLevel>1
						)
	UNION ALL
		SELECT [ComponentID]
			  ,[LocID]
			  ,[Qty]
			  ,[UOM] As UOM
			  ,[UnitCost]
			  ,CAST(IsNULL([cf_WILaborSetupUnitCost],0) as decimal) As WILaborSetupUnitCost
			  ,CAST(IsNULL([cf_WILaborUnitCost],0) as decimal) As WILaborUnitCost
			  ,CAST(IsNULL([cf_WIMachineSetupUnitCost],0) as decimal) As WIMachineSetupUnitCost
			  ,CAST(IsNULL([cf_WIMachineUnitCost],0) as decimal) As WIMachineUnitCost
			  ,CAST(IsNULL([cf_WIMachineUnitCostModified],0) as decimal) As WIMachineUnitCostModified
			  ,CAST(IsNULL([cf_WIMachineUnitCostVariable],0) as decimal) As WIMachineUnitCostVariable
			  ,CAST(IsNULL([cf_WIMaterialDirectUnitCost],0) as decimal) As WIMaterialDirectUnitCost
			  ,CAST(IsNUll([cf_WIMaterialIndirectUnitCost],0) as decimal) As WIMaterialIndirectUnitCost
			  ,CAST(IsNULL([cf_WISubcontractUnitCost],0) as decimal) As WISubcontractUnitCost
			  ,[TransId]
		  FROM [005].[dbo].[trav_tblMpMatlDtl_View]
		  WHERE TransId IN (SELECT TransId FROM [005].dbo.tblMpRequirements WHERE ReleaseId =
								(SELECT Id FROM [005].dbo.tblMpOrderReleases WHERE OrderNo=@OrderNo and ReleaseNo=@ReleaseNo)
								AND IndLevel>1
							)

	) A





END



GO
