USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCommscopeConvertingPalletLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*  Copied WebPalletLabel to create this sp   */
CREATE PROCEDURE [dbo].[WebCommscopeConvertingPalletLabel] @PalletId as int
AS
BEGIN

--DECLARE @PalletId as int = 15001 


SELECT DISTINCT ProdOrders, Descr, ShipPalletNo, DateCreated, AliasID
			, ProductLot, ItemId
			, GrossWt
			,TotalLength, TotalLengthUOM, FORMAT(TotalWeight,'N0', 'en-us') AS TotalWeight
FROM (
	SELECT	DISTINCT 
			ProdOrders = SI.ProdOrderNo
			,I.Descr
			,SP.ShipPalletNo
			,SP.DateCreated
			,AliasID = (SELECT DISTINCT IA.AliasID FROM [005].[dbo].[tblInItemAlias] as IA WHERE IA.ItemID=I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId))
			--,ProductLot = STUFF((SELECT DISTINCT '/' + RIGHT(i.ProdOrderNo,5) + RIGHT(i.ProdOrderRelNo,3) FROM [W005].[dbo].[ShipItem] as i WHERE ShipPalletId  = @PalletId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')
			,IIF((SELECT COUNT(DISTINCT ProdOrderRelNo) AS NumRel FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId  = @PalletId) >3,'MAX LOTS EXCEEDED',STUFF((SELECT DISTINCT '/' + RIGHT(i.ProdOrderNo,5) + RIGHT(i.ProdOrderRelNo,3) FROM [W005].[dbo].[ShipItem] as i WHERE ShipPalletId  = @PalletId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')) AS ProductLot
			,I.ItemId
			,SP.GrossWt
			,TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId)
			,TotalLengthUOM = I.UomBase
			,TotalWeight = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipPalletId  = @PalletId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB'))
							
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo  
		 LEFT JOIN [005].[dbo].[tblInItemAlias] AS A ON A.ItemID = I.ItemId 
		 LEFT JOIN (SELECT DISTINCT E.OrderNo, E.ReleaseNo, EI.LocId, EI.ItemId AS RMItemId, L.[cf_Lot No.] AS LotNo, L.[cf_3rd Party Alias] AS ThirdPartyAlias, L.[cf_Winding Type] AS WindingType
							FROM [W005].[dbo].[ShipPallet] AS SP  
								 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id 		
								 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
								 INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] L ON L.ItemId=EI.ItemId AND L.LotNum=EI.SerialNo AND L.LocId=EI.LocId
							WHERE SP.Id = @PalletId) L ON L.OrderNo=SI.ProdOrderNo AND L.ReleaseNo=SI.ProdOrderRelNo
	WHERE SP.Id = @PalletId
) A


END

	
GO
