USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMasterRollDefectDuplicates]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMasterRollDefectDuplicates] @MasterRollID as int
AS
BEGIN
	select MasterRollId, DefectStartMeters, Count(*) as cnt 
	from [dbo].[DTSMasterRollDefect]
	where MasterRollId = @MasterRollId
	group by MasterRollId, DefectStartMeters
	having Count(*) > 1
END
GO
