USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWOfflineReworkOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WebCQA to determine if ProdOrderNo is an off-line rework order



CREATE PROCEDURE [dbo].[spSWOfflineReworkOrder]
	@ProdOrdNo varchar(8),@RelNo int

AS
BEGIN
	
--DECLARE @ProdOrdNo varchar(8) = '00000014'
--DECLARE @RelNo int = 1


DECLARE @AssembleyId varchar(24)
SET @AssembleyId = (SELECT TOP 1 ItemId FROM [W005].[dbo].[OrderReleaseEventItem] 
					WHERE IsAssembly=1 AND OrderReleaseEventId IN (SELECT Id FROM [W005].[dbo].[OrderReleaseEvent] where OrderNo=@ProdOrdNo AND ReleaseNo=@RelNo))

IF EXISTS (
		SELECT Id FROM [005].[dbo].[tblMbAssemblyRouting] 
		WHERE HeaderId = (SELECT Id FROM [005].[dbo].[tblMbAssemblyHeader] 
							WHERE AssemblyId = @AssembleyId
								AND RevisionNo IN (SELECT MAX(m.RevisionNo)
													FROM  [005].[dbo].[tblMbAssemblyHeader] as m
													WHERE m.AssemblyId=@AssembleyId))
			AND Descr = (SELECT Descr FROM [005].[dbo].[trav_tblMrOperations_view] WHERE [cf_Operation Method] = 'Rework (Offline)')
		)
	BEGIN
		SELECT CAST(1 as bit) AS OfflineRework
	END ELSE 
		BEGIN
			SELECT CAST(0 as bit) AS OfflineRework
		END



END






GO
