USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderReleaseEventItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrderReleaseEventItemId] @ItemId AS VARCHAR(25), @TravSerNum AS VARCHAR(35), @TravLotNum AS VARCHAR(16) 
AS 
BEGIN

--DECLARE @ItemId AS VARCHAR(25) = 'AERO-HS-YL375'
--DECLARE @TravSerNum AS VARCHAR(35) = ''
--DECLARE @TravLotNum AS VARCHAR(16) = '00033509-022-005'


SELECT DISTINCT OREI.OrderNo, OREI.ReleaseNo, OREI.ItemId, OREI.OrderReleaseEventItemId
FROM (
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId, OREI.Id AS OrderReleaseEventItemId
	FROM OrderReleaseEventItem OREI 
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE OREI.ItemId=@ItemId AND OREI.TravSerNum=@TravSerNum 
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId, OREI.Id AS OrderReleaseEventItemId
	FROM OrderReleaseEventItem OREI 
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE OREI.ItemId=@ItemId AND OREI.TravLotNum=@TravLotNum 
) OREI

END
GO
