USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMoveToBinId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMoveToBinId] 
			@ExtLocId as varchar(10), @MoveFromId as int
AS
BEGIN


--DECLARE @ExtLocId as varchar(10) = '84F3'
--DECLARE @MoveFromId as int =  189049012
		
		
	IF EXISTS (
			SELECT Id
			FROM [005].[dbo].[trav_tblWmExtLoc_view]
			WHERE LocId = (SELECT LocId FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=@MoveFromId)
				AND ExtLocID=@ExtLocId
	)
	BEGIN
		SELECT Id 
		FROM [005].[dbo].[trav_tblWmExtLoc_view]
		WHERE LocId = (SELECT LocId FROM [005].[dbo].[trav_tblWmExtLoc_view] WHERE Id=@MoveFromId)
			AND ExtLocID=@ExtLocId
	END ELSE
	BEGIN
		SELECT CAST(0 as int) As Id
	END


END
GO
