USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetCutListCutSeqNoCount]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIGetCutListCutSeqNoCount] @ParentOrderNo as varchar(8)
AS
BEGIN
    SELECT CutSeqNoCnt, CutSeqNoGrpCnt FROM 
	(SELECT Count(CutSeqNo) AS CutSeqNoCnt
	FROM [W005].[dbo].[CCIParentOrderCutList]
	WHERE ParentOrderNo = @ParentOrderNo AND MaterialLength != 0) A INNER JOIN 
	(SELECT Count(DISTINCT CutSeqNo) AS CutSeqNoGrpCnt
	FROM [W005].[dbo].[CCIParentOrderCutList]
	WHERE ParentOrderNo = @ParentOrderNo) B ON 1 = 1
END
GO
