USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIFGKitHasOTIS]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIFGKitHasOTIS] @FGItemId AS VARCHAR(24), @TravSerNum AS VARCHAR(35)
AS
BEGIN

--DECLARE @FGItemId AS VARCHAR(24) = 'FG-MRAS1187-PKT'
--DECLARE @TravSerNum AS VARCHAR(35) = '00032392001-S-002'

	SELECT CAST(IIF(EXISTS(SELECT TravSerNum
							 FROM [W005].[dbo].[OutTimeItemStatus]
						    WHERE ItemId=@FGItemId AND TravSerNum=@TravSerNum), 1 , 0)
					as bit)
				as FGKitHasOTIS
END
GO
