USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetCurrentSpliceInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetCurrentSpliceInfo] 
	@OrderNo as Varchar(8),
	@ReleaseNo as int,
	@MaxSplicesAllowed as int,
	@SpoolsOverMaxSplices as int,
	@SpoolsOverMaxSplicesMaximum as int
AS
BEGIN

	--DECLARE @OrderNo as Varchar(8)
	--DECLARE @ReleaseNo as int
	--DECLARE @MaxSplicesAllowed as int
	--DECLARE @SpoolsOverMaxSplices as int
	--DECLARE @SpoolsOverMaxSplicesMaximum as int

	--SET @OrderNo = '00047711'
	--SET @ReleaseNo = 4
	--SET @MaxSplicesAllowed = 3
	--SET @SpoolsOverMaxSplices = 5
	--SET @SpoolsOverMaxSplicesMaximum = 8

	SELECT E.OrderNo, E.ReleaseNo, I.ItemId, I.SerialNo, I.LotNo, S.SpliceType, Count(D.OrderReleaseEventItemId) AS SpoolSpliceCnt
	INTO #T1
	FROM OrderReleaseEvent E 
	INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id
	INNER JOIN OrderReleaseEventSpliceDetail D ON D.OrderReleaseEventItemId = I.Id
	INNER JOIN OrderReleaseEventSplice S ON S.Id = D.OrderReleaseEventSpliceId
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo
	GROUP BY E.OrderNo, E.ReleaseNo, I.ItemId, I.SerialNo, I.LotNo, S.SpliceType

	SELECT A.CurrBESpliceCnt, MaxSplicesAllowed = @MaxSplicesAllowed, C.SpoolsOverMax, B.SpoolsOverMaxSpliceTotal, MaxSplicesPermitted = @SpoolsOverMaxSplicesMaximum,SpoolsAllowedOverMaxSplices = @SpoolsOverMaxSplices
	FROM
		(
			SELECT TOP 1 SUM(SpoolSpliceCnt) AS CurrBESpliceCnt FROM #T1 WHERE SpliceType = 1 GROUP BY SerialNo Order by 1 DESC
		) A
	INNER JOIN 
		(
			SELECT TOP 1 SUM(SpoolSpliceCnt) AS SpoolsOverMaxSpliceTotal FROM #T1 GROUP BY SerialNo Order by 1 DESC
		) B ON 1=1
	INNER JOIN 
		(
			SELECT Count(SerialNo) AS SpoolsOverMax 
			FROM 
			(SELECT SerialNo, SUM(SpoolSpliceCnt) AS CurrTotalSpliceCnt FROM #T1 GROUP BY SerialNo) C1
			WHERE C1.CurrTotalSpliceCnt > @MaxSplicesAllowed 
		) C ON 1=1
	DROP TABLE #T1
END
GO
