USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOTISDataforLoadedMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOTISDataforLoadedMaterial] @OTISId int
AS
BEGIN


--DECLARE @OTISId int = 87237


SELECT  Id,LastScanDateTime
INTO #RoomOTIS
FROM	[W005].[dbo].[OutTimeItemStatusHistory]
WHERE OutTimeItemStatusId=@OTISId AND BinType = 'ROOM'
ORDER BY LastScanDateTime DESC

SELECT *
FROM	[W005].[dbo].[OutTimeItemStatusHistory]
WHERE Id = (SELECT MIN(Id)
				FROM #RoomOTIS
				WHERE LastScanDateTime > (SELECT MAX(LastScanDateTime) FROM [W005].[dbo].[OutTimeItemStatusHistory]
							WHERE OutTimeItemStatusId=@OTISId AND BinType IN ('FREEZER','REEFER')))
DROP table #RoomOTIS



--DECLARE @ItemId AS Varchar(24) = 'RM-CADC5135-PRP'
--DECLARE @SerialNo AS Varchar(16) =  'AH030058-01/07'
--DECLARE @LotNo AS Varchar(16) =  'AH030058-01/07'

--IF LEN(@SerialNo) > 0
--BEGIN
--	SELECT  Id,LastScanDateTime
--	INTO #RoomOTISSer
--	FROM	[W005].[dbo].[OutTimeItemStatusHistory]
--	WHERE ItemId = @ItemId AND SerialNo= @SerialNo AND BinType = 'ROOM'
--	ORDER BY LastScanDateTime DESC

--	SELECT *
--	FROM	[W005].[dbo].[OutTimeItemStatusHistory]
--	WHERE Id = (SELECT MIN(Id)
--					FROM #RoomOTISSer
--					WHERE LastScanDateTime > (SELECT MAX(LastScanDateTime) FROM [W005].[dbo].[OutTimeItemStatusHistory]
--								WHERE itemid = @ItemId AND SerialNo= @SerialNo AND BinType IN ('FREEZER','REEFER')))
--	DROP table #RoomOTISSer
--END ELSE
--	BEGIN
--		SELECT  Id,LastScanDateTime
--		INTO #RoomOTISLot
--		FROM	[W005].[dbo].[OutTimeItemStatusHistory]
--		WHERE ItemId = @ItemId AND LotNo= @SerialNo AND BinType = 'ROOM'
--		ORDER BY LastScanDateTime DESC

--		SELECT *
--		FROM	[W005].[dbo].[OutTimeItemStatusHistory]
--		WHERE Id = (SELECT MIN(Id)
--					FROM #RoomOTISLot
--					WHERE LastScanDateTime > (SELECT MAX(LastScanDateTime) FROM [W005].[dbo].[OutTimeItemStatusHistory]
--								WHERE itemid = @ItemId AND LotNo= @SerialNo AND BinType IN ('FREEZER','REEFER')))

--		DROP table #RoomOTISLot
--	END





END
GO
