USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetFGSpliceLogByOrderRelease]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetFGSpliceLogByOrderRelease] @OrderNo AS VARCHAR(8), @ReleaseNo AS INT 
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00030323'
--DECLARE @ReleaseNo AS INT = 1

SELECT DISTINCT
	 E.OrderNo
	,E.ReleaseNo
	,I.ItemId
	,I.SerialNo
	,I.LotNo
	--,I.TravSerNum
	,I.TravLotNum
	,SpliceLocation = SUBSTRING(SLType.Description, CHARINDEX('(', SLType.Description)+1, CHARINDEX(')', SLType.Description) - CHARINDEX('(', SLType.Description)-1)
	,SpliceReason = SLDescr.Description
FROM OrderReleaseEvent E
	 INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id
	 INNER JOIN vOrderReleaseEventItemSpliceDetail SD ON SD.OrderReleaseEventItemId=I.Id
	 INNER JOIN OrderReleaseEventSplice ORES ON ORES.Id=SD.OrderReleaseEventSpliceId
	 INNER JOIN SpliceLookupEditCode SLType ON SLType.Id=ORES.SpliceType
	 INNER JOIN SpliceLookupEditCode SLDescr ON SLDescr.Id=SD.SpliceAddlInfo
WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo

END
GO
