USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipmentQAHoldErr]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShipmentQAHoldErr]
	@PLNo As int
AS
BEGIN

--DECLARE @PLNo As int = 3035
	
	SELECT 
		DISTINCT QAHOLD = STUFF
			(
				(
					SELECT DISTINCT ', ' + d.PkgId
					FROM [W005].[dbo].[ShipPackingListError] As e INNER JOIN [W005].[dbo].[ShipPackingListDetail] as d ON e.PLDetailId=d.Id
					WHERE e.PLNo=@PLNo AND e.OnQAHold=1
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			)
	FROM [W005].[dbo].[ShipPackingListError] As PLE
	WHERE PLE.PLNo=@PLNo AND PLE.OnQAHold=1


END

GO
