USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetLastScanDateTime]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetLastScanDateTime] @ItemId AS varchar(24), @SerialNo AS varchar(16), @LotNo AS varchar(16), @TravSerNum AS varchar(35)
AS
BEGIN


/* SERIALIZED TEST 
DECLARE @ItemId AS varchar(24) = 'FG-AERO1003-PKT'
DECLARE @SerialNo AS varchar(16) = ''
DECLARE @LotNo AS varchar(16) = ''
DECLARE @TravSerNum AS varchar(35) = '00029037-010-0004'
*/

/* MULTI-UOM TEST 
DECLARE @ItemId AS varchar(24) = 'RM-CADC5136-ADH'
DECLARE @SerialNo AS varchar(16) = 'LM1902-01/01 ' --'LM1902-01/02'
DECLARE @LotNo AS varchar(16) = ''
DECLARE @TravSerNum AS varchar(35) = ''
*/

/* LOTTED TEST
DECLARE @ItemId AS varchar(24) = ''
DECLARE @SerialNo AS varchar(16) = ''
DECLARE @LotNo AS varchar(16) = ''
DECLARE @TravSerNum AS varchar(35) = ''
 */




/*	TEMP TABLE USED TO DETERMINE THE ITEM TYPE */
CREATE TABLE #ItemType (ItemType varchar(20))
INSERT INTO #ItemType EXEC [dbo].[spGetItemType] @ItemId
DECLARE @ItemType AS varchar(20) = (SELECT * FROM #ItemType)
 --SELECT * FROM #ItemType
DROP TABLE #ItemType


/* GET CURRENT OT STATUS */
	SELECT DISTINCT
			-- O.ItemId
			--,O.SerialNo
			--,O.LotNo
			--,O.TravSerNum
			 O.Id AS OutTimeItemStatusId
			,O.LastScanDateTime
			,CURR.LocID AS CurrentLocId
			,CURR.[cf_Physical Location] AS CurrentBin
			,O.BinType AS CurrentBinType
			,O.CurrentWmBinId AS CurrentBinId
	INTO #CurrentOT
	FROM OutTimeItemStatus O
			INNER JOIN	[005].[dbo].[trav_tblWmExtLoc_view] CURR ON CURR.Id=O.CurrentWmBinId
			LEFT JOIN	[005].[dbo].[trav_tblWmExtLoc_view] PREV ON PREV.Id=O.PriorWmBinId
	WHERE O.ItemId=@ItemId 
		  AND (O.TravSerNum =	(CASE WHEN @ItemType = 'Serialized' THEN @TravSerNum END)
				OR O.SerialNo = (CASE WHEN @ItemType = 'Multi-UOM' THEN @SerialNo END)
				OR O.LotNo =	(CASE WHEN @ItemType = 'Lotted' THEN @LotNo END))

/*	GET THE LAST DATE & TIME THE MATERIAL WAS MOVED (IN/OUT OF FREEZER)	*/
SELECT	MAX(LastScanDateTime) AS LastScanDateTime
		,CurrentLocId
		,CurrentBin
		,CurrentBinType
		,CurrentBinId
FROM (
	SELECT DISTINCT
			 MIN(H.LastScanDateTime) AS LastScanDateTime
			,C.CurrentLocId
			,C.CurrentBin
			,C.CurrentBinType
			,C.CurrentBinId
	FROM #CurrentOT C
			INNER JOIN OutTimeItemStatusHistory H ON H.OutTimeItemStatusId=C.OutTimeItemStatusId
			INNER JOIN	[005].[dbo].[trav_tblWmExtLoc_view] CURR ON CURR.Id=H.CurrentWmBinId
			LEFT JOIN	[005].[dbo].[trav_tblWmExtLoc_view] PREV ON PREV.Id=H.PriorWmBinId
	WHERE C.CurrentBinType=CURR.[cf_Bin Type] AND PREV.LocID IS NULL
	GROUP BY C.CurrentBinId,C.CurrentBinType,C.CurrentBin,C.CurrentLocId
UNION ALL
	SELECT DISTINCT
			 MIN(H.LastScanDateTime) AS LastScanDateTime
			,C.CurrentLocId
			,C.CurrentBin
			,C.CurrentBinType
			,C.CurrentBinId
	FROM #CurrentOT C
			INNER JOIN OutTimeItemStatusHistory H ON H.OutTimeItemStatusId=C.OutTimeItemStatusId
			INNER JOIN	[005].[dbo].[trav_tblWmExtLoc_view] CURR ON CURR.Id=H.CurrentWmBinId
			LEFT JOIN	[005].[dbo].[trav_tblWmExtLoc_view] PREV ON PREV.Id=H.PriorWmBinId
	WHERE C.CurrentBinType=CURR.[cf_Bin Type] AND CURR.[cf_Bin Type] IN ('FREEZER','REEFER') AND CURR.[cf_Bin Type]!=PREV.[cf_Bin Type] 
	GROUP BY C.CurrentBinId,C.CurrentBinType,C.CurrentBin,C.CurrentLocId
UNION ALL
	SELECT DISTINCT
			 MAX(H.LastScanDateTime) AS LastScanDateTime
			,C.CurrentLocId
			,C.CurrentBin
			,C.CurrentBinType
			,C.CurrentBinId
	FROM #CurrentOT C
			INNER JOIN OutTimeItemStatusHistory H ON H.OutTimeItemStatusId=C.OutTimeItemStatusId
			INNER JOIN	[005].[dbo].[trav_tblWmExtLoc_view] CURR ON CURR.Id=H.CurrentWmBinId
			LEFT JOIN	[005].[dbo].[trav_tblWmExtLoc_view] PREV ON PREV.Id=H.PriorWmBinId
	WHERE C.CurrentBinType=CURR.[cf_Bin Type] AND CURR.[cf_Bin Type] IN ('WAREHOUSE','ROOM') AND CURR.[cf_Bin Type]!=PREV.[cf_Bin Type] 
	GROUP BY C.CurrentBinId,C.CurrentBinType,C.CurrentBin,C.CurrentLocId
) A
GROUP BY CurrentBinId,CurrentBinType,CurrentBin,CurrentLocId

DROP TABLE #CurrentOT

END
GO
