USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPriorOrderReleaseRunOnMachine]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetPriorOrderReleaseRunOnMachine]  @OrderNo as varchar(8), @ReleaseNo as int, @Machine as varchar(20)
AS
BEGIN
	SELECT TOP 1 * from OrderReleaseEvent 
	where Machine = @Machine
	AND Event = 'End Manufacturing' 
	AND Id < (Select Top 1 Id from OrderReleaseEvent Where OrderNo = @OrderNo and ReleaseNo = @ReleaseNo) 
	ORDER BY Id desc
END
GO
