USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebProductionDetailLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebProductionDetailLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    DECLARE @LotNumbers VARCHAR(MAX);
    DECLARE @MillRollNumbers VARCHAR(MAX);

    SELECT
        @LotNumbers =
        STUFF
        (
            (
                SELECT DISTINCT
                    ', ' + RM.LotNo
                FROM W005.dbo.OrderReleaseEvent E1
                INNER JOIN W005.dbo.OrderReleaseEventItem RM
                    ON RM.OrderReleaseEventId = E1.Id
                WHERE E1.OrderNo = @OrderNo
                  AND E1.ReleaseNo = @ReleaseNo
                  AND RM.IsAssembly = 0
                  AND RM.LotNo IS NOT NULL
                FOR XML PATH(''), TYPE
            ).value('.','nvarchar(max)')
        ,1,2,'');

    SELECT
        @MillRollNumbers =
        STUFF
        (
            (
                SELECT DISTINCT
                    ', ' + RM.SerialNo
                FROM W005.dbo.OrderReleaseEvent E1
                INNER JOIN W005.dbo.OrderReleaseEventItem RM
                    ON RM.OrderReleaseEventId = E1.Id
                WHERE E1.OrderNo = @OrderNo
                  AND E1.ReleaseNo = @ReleaseNo
                  AND RM.IsAssembly = 0
                  AND RM.SerialNo IS NOT NULL
                FOR XML PATH(''), TYPE
            ).value('.','nvarchar(max)')
        ,1,2,'');

    SELECT
          Description = I.Descr

        , CustomerAlias = ISNULL(A.AliasID,'')

        , AliasAdditionalDescription = IAD.AddlDescr

        , CF = IAD.CF

        , PONumber = ISNULL(R.PurchaseOrder,RH.PurchaseOrder)

        , MfgOrder = E.OrderNo

        , SetID =
            E.OrderNo + '-'
            + RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)),3)

        , ReleaseNo = E.ReleaseNo

        , Position = EI.HeadPos

        , CutPosition = EI.CutPos

        , TransactionID = EI.Id

        , DateProduced = EI.MfgDate

        , OperatorInitials =
            CASE
                WHEN EMP.EmployeeId IS NOT NULL
                THEN LEFT(EMP.FirstName,1) + LEFT(EMP.LastName,1)
                ELSE ''
            END

        , WidthIN = WI.WidthIN

        , WidthMM = WM.WidthMM

        , LengthLF =
            CASE
                WHEN LF.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LF.ConvFactor
            END

        , LengthLY =
            CASE
                WHEN LY.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LY.ConvFactor
            END

        , LengthLM =
            CASE
                WHEN LM.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LM.ConvFactor
            END

        , AreaSqYd =
            CASE
                WHEN SY.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / SY.ConvFactor
            END

        , LotNumbers = @LotNumbers

        , MillRollNumbers = @MillRollNumbers

        , RemainingQty =
            ISNULL(Q.QtyOnHand, EI.TotalQty)

        , QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'')

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].[dbo].[tblInItem] I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    LEFT JOIN [005].[dbo].[tblMpOrderReleases] R
        ON R.OrderNo = E.OrderNo
       AND R.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH
        ON RH.OrderNo = E.OrderNo
       AND RH.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblInItemAlias] A
        ON A.ItemId = EI.ItemId
       AND A.RefID = ISNULL(R.CustId,RH.CustId)

    LEFT JOIN [005].[dbo].[tblInItemAddlDescr] IAD
        ON IAD.ItemId = EI.ItemId

    LEFT JOIN [005].[dbo].[tblSmEmployee] EMP
        ON EMP.EmployeeId = E.UserId
        OR EMP.SocialSecurityNo = E.UserId

    LEFT JOIN [005].[dbo].[tblInItemUom] LF
        ON LF.ItemId = EI.ItemId
       AND LF.Uom = 'LF'

    LEFT JOIN [005].[dbo].[tblInItemUom] LY
        ON LY.ItemId = EI.ItemId
       AND LY.Uom = 'LY'

    LEFT JOIN [005].[dbo].[tblInItemUom] LM
        ON LM.ItemId = EI.ItemId
       AND LM.Uom = 'LM'

    LEFT JOIN [005].[dbo].[tblInItemUom] SY
        ON SY.ItemId = EI.ItemId
       AND SY.Uom = 'SY'

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.CutPos;

END
GO
