USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebASNPolyPalletLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebASNPolyPalletLabel] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int
	--Set @PalletId = 804 


SELECT DISTINCT ItemId, Descr, ShipPalletNo, CustomerPN, Lots, ItemCnt, 
				Width, WidthMM, TotalLength, TotalLengthUOM, TotalLengthLM, TotalLengthLY, 
				TotalArea, TotalAreaUOM, TotalSqFT, TotalSqYd, TotalNetWeight, TotalNetWeightKG,
				LengthByLabelLengthUOM, 
				LabelLengthUOM,
				AreaByLabelAreaUOM,
				A.LabelAreaUOM
FROM (
	SELECT	DISTINCT 
			I.ItemId,
			I.Descr, 
			SP.ShipPalletNo, 
			CustomerPN = STUFF((SELECT DISTINCT '/' + iia.AliasID FROM [005].[dbo].[tblInItemAlias] as iia WHERE iia.ItemID=I.ItemId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			Lots = STUFF((SELECT DISTINCT '/' + i.LotNo FROM [W005].[dbo].[ShipItem] as i WHERE ShipPalletId  = @PalletId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,''),
			Width = (SELECT DISTINCT P.nTarget
					  FROM  [W005].[dbo].[Characteristic] AS C  
							INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
					 WHERE C.Characteristic = 'Width(IN)'),
			WidthMM =  (SELECT DISTINCT P.nTarget
						 FROM [W005].[dbo].[Characteristic] AS C
							  INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = I.ItemId AND P.CharId = C.Id 
						 WHERE C.Characteristic = 'Width(MM)'),

			ItemCnt = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] AS SI1 WHERE SI1.ShipPalletId = SP.Id),

			LabelLengthUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
								WHERE P.ItemId=I.ItemId),

			TotalLengthUOM = I.UomBase,
			LabelAreaUOM = (SELECT DISTINCT P.sTarget
								FROM [W005].[dbo].[ProductChar] AS P 
									 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelAreaUOM'
								WHERE P.ItemId=I.ItemId),
			LengthByLabelLengthUOM = (IIF(SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT DISTINCT IsNull(ConvFactor,1) 
														FROM [005].[dbo].[tblInItemUom] AS U 
														WHERE U.ItemId = I.ItemId and U.Uom = (SELECT DISTINCT P.sTarget
																							   FROM [W005].[dbo].[ProductChar] AS P 
																							   INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
																								WHERE P.ItemId=I.ItemId)), 
			AreaByLabelAreaUOM = (IIF(SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand)))/ (SELECT IsNull(ConvFactor,1) 
													FROM [005].[dbo].[tblInItemUom] AS U 
													WHERE U.ItemId = I.ItemId and U.Uom = (SELECT DISTINCT P.sTarget
																						   FROM [W005].[dbo].[ProductChar] AS P 
																						   INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelAreaUOM'
																						   WHERE P.ItemId=I.ItemId)),
			TotalLength = IIF(SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand)),
			TotalLengthLM = (IIF(SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LM'),
			TotalLengthLY = (IIF(SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LY'),
			TotalArea = (IIF (SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'SM'),
			TotalAreaUOM = 'SM',
			TotalSqFT = (IIF (SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'SF'),
			TotalSqYd = (IIF (SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'SY'),
			TotalNetWeight = (IIF (SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB'),
			TotalNetWeightKG = (IIF (SUM(QtyOnHand) IS NULL, SUM(Quantity), SUM(QtyOnHand))) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'KG')
	FROM [W005].[dbo].[ShipPallet] AS SP   
		 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipPalletId = SP.Id
		 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
		 LEFT JOIN [005].[dbo].[trav_InItemOnHandLot_view] AS L ON L.ItemId = SI.ItemId AND L.LocId = SI.Location and L.LotNum = SI.SerNo
	WHERE SP.Id = @PalletId
	GROUP BY I.ItemId, I.Descr, SP.ShipPalletNo, SP.Id, I.UomBase
) A
END


GO
