USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWEndofSetEntered]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth when END of SET TestType selected to confirm this test not already done
-- Called from lueTestType_EditValueChanged()
-- Note: does not matter if EoS test is complete or not; incomplete tests checked for earlier in process


CREATE PROCEDURE [dbo].[spSWEndofSetEntered]
	@ProdOrdNo varchar(8), @RelNo int, @Machine varchar(25),@WO as int, @MachineNum int, @OPId int

AS
BEGIN
	
--DECLARE @ProdOrdNo varchar(8) = '00000014'
--DECLARE @RelNo int = 1
--DECLARE @Machine varchar(25) = '33'
--DECLARE @WO as int = 0
--DECLARE @MachineNum int = 0
--DECLARE @OPId as int = 0

IF @ProdOrdNo is Null OR LEN(@ProdOrdNo) = 0
BEGIN
	IF EXISTS ( 
				SELECT tgh.Id 
				FROM [W005].[dbo].[SW_TestHdr] th
					INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
					INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
				WHERE th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum AND th.OperationID=@OPId
					AND tgd.TestType=(SELECT Id FROM [W005].[dbo].[SW_TestType] WHERE TestTypeName='END of SET')
			)
		BEGIN 
			SELECT CAST(1 as bit) AS EndofSetEntered
		END
	ELSE  
		BEGIN
			SELECT CAST(0 as bit) AS EndofSetEntered
		END
END ELSE 
BEGIN
	IF EXISTS ( 
			SELECT tgh.Id 
			FROM [W005].[dbo].[SW_TestHdr] th
				INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
				INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			WHERE th.ProdOrderNo=@ProdOrdNo AND th.Machine=@Machine AND th.ReleaseNo = @RelNo
				AND tgd.TestType=(SELECT Id FROM [W005].[dbo].[SW_TestType] WHERE TestTypeName='END of SET')
		)
	BEGIN 
		SELECT CAST(1 as bit) AS EndofSetEntered
	END
	ELSE  
		BEGIN
			SELECT CAST(0 as bit) AS EndofSetEntered
		END
END



END






GO
