USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNunezCostAssemblyCostByReleaseId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNunezCostAssemblyCostByReleaseId] @ReleaseId as Int
AS
BEGIN
	DELETE FROM [W005].[dbo].[tblReleaseIdNunezCost] WHERE ReleaseId = @ReleaseId

	--INSERT INTO [W005].[dbo].[tblReleaseIdNunezCost]
	--SELECT ReleaseId, @UnitCostBase as UnitCostBase
	SELECT  WIMaterialDirectCost = SUM(WIMaterialDirectCost)
			,WIMaterialInDirectCost = SUM(WIMaterialInDirectCost)
			,WILaborSetupCost = SUM(WILaborSetupCost)
			,WILaborCost = SUM(WILaborCost)
			,WIMachineSetupCost = SUM(WIMachineSetupCost)
			,WIMachineCost = SUM(WIMachineCost)
			,WIMachineCostModified = SUM(WIMachineCostModified)
			,WIMachineCostVariable = SUM(WIMachineCostVariable)
			,WISubcontractCost = SUM(WISubcontractCost)
			,WITotalCost = (SUM(WIMaterialDirectCost) + SUM(WIMaterialInDirectCost) + SUM(WILaborSetupCost) + SUM(WILaborCost) + SUM(WIMachineSetupCost) + SUM(WIMachineCost) + SUM(WISubcontractCost))
			,WIOrderQty = (SELECT SUM(D.Qty) FROM [005].[dbo].[tblMpHistoryMatlDtl]  D INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId WHERE R.ParentId IS NULL AND R.ReleaseId = @ReleaseId)
			,WIUnitCost = ((SUM(WIMaterialDirectCost) + SUM(WIMaterialInDirectCost) + SUM(WILaborSetupCost) + SUM(WILaborCost) + SUM(WIMachineSetupCost) + SUM(WIMachineCost) + SUM(WISubcontractCost))/(SELECT Qty FROM [005].[dbo].[tblMpHistoryOrderReleases] WHERE ReleaseId = @ReleaseId))
	FROM 
	(
		SELECT @ReleaseId as ReleaseId
				,UnitCostBase = D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
				,WIMaterialDirectCost = ISNULL(CASE WHEN SUBSTRING(L.GLAcctCode, 1,1) in ('1','2','3', '9') THEN (D.Qty*(IIF(D.ConvFactor = 0, 1.0, D.ConvFactor))) * (D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)) END, 0)
				,WIMaterialInDirectCost = ISNULL(CASE WHEN SUBSTRING(L.GLAcctCode, 1,1) in ('4','5','6') THEN (D.Qty*(IIF(D.ConvFactor = 0, 1.0, D.ConvFactor))) * (D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)) END, 0)
				,WILaborSetupCost = 0
				,WILaborCost = 0
				,WIMachineSetupCost = 0
				,WIMachineCost = 0
				,WIMachineCostModified = 0
				,WIMachineCostVariable = 0
				,WISubcontractCost = 0
		--INTO #T3
		FROM [005].[dbo].[tblMpHistoryMatlDtl]  D
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
		INNER JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
		INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId
		WHERE R.ParentId IS NOT NULL AND UnitCost != 0 AND SUBSTRING(L.GLAcctCode, 1,1) NOT IN ('7', '8') AND R.ReleaseId = @ReleaseId
		UNION ALL
		SELECT @ReleaseId as ReleaseId
				,UnitCostBase = D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
				,WIMaterialDirectCost = ((D.Qty*D.ConvFactor) * N.WIMaterialDirectUnitCost)
				,WIMaterialInDirectCost = ((D.Qty*D.ConvFactor) * N.WIMaterialInDirectUnitCost)
				,WILaborSetupCost = ((D.Qty*D.ConvFactor) * N.WILaborSetupUnitCost)
				,WILaborCost = ((D.Qty*D.ConvFactor) * N.WILaborUnitCost)
				,WIMachineSetupCost = ((D.Qty*D.ConvFactor) * N.WIMachineSetupUnitCost)
				,WIMachineCost = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCost)
				,WIMachineCostModified = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCostModified)
				,WIMachineCostVariable = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCostVariable)
				,WISubcontractCost = ((D.Qty*D.ConvFactor) * N.WISubcontractUnitCost)
		FROM [005].[dbo].[tblMpHistoryMatlDtl]  D
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
		INNER JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
		INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId
		LEFT JOIN [W005].dbo.tblReleaseIdNunezCost  N ON N.ItemId = D.ComponentId AND N.SerialNo = E.LotNum
		WHERE R.ParentId IS NOT NULL AND UnitCost != 0 AND SUBSTRING(L.GLAcctCode, 1,1) IN ('8') AND R.ReleaseId = @ReleaseId
		UNION ALL
		SELECT @ReleaseId as ReleaseId
				,UnitCostBase = D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
				,WIMaterialDirectCost = ((D.Qty*D.ConvFactor) * N.WIMaterialDirectUnitCost)
				,WIMaterialInDirectCost = ((D.Qty*D.ConvFactor) * N.WIMaterialInDirectUnitCost)
				,WILaborSetupCost = ((D.Qty*D.ConvFactor) * N.WILaborSetupUnitCost)
				,WILaborCost = ((D.Qty*D.ConvFactor) * N.WILaborUnitCost)
				,WIMachineSetupCost = ((D.Qty*D.ConvFactor) * N.WIMachineSetupUnitCost)
				,WIMachineCost = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCost)
				,WIMachineCostModified = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCostModified)
				,WIMachineCostVariable = ((D.Qty*D.ConvFactor) * N.WIMachineUnitCostVariable)
				,WISubcontractCost = ((D.Qty*D.ConvFactor) * N.WISubcontractUnitCost)
		FROM [005].[dbo].[tblMpHistoryMatlDtl]  D
		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
		INNER JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
		INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId
		LEFT JOIN [W005].dbo.tblReleaseIdNunezCost  N ON N.ItemId = D.ComponentId AND N.SerialNo = E.LotNum
		WHERE R.ParentId IS NOT NULL AND UnitCost != 0 AND SUBSTRING(L.GLAcctCode, 1,1) IN ('7') AND R.ReleaseId = @ReleaseId
		UNION ALL
		SELECT @ReleaseId as ReleaseId
				,UnitCostBase = 0
				,WIMaterialDirectCost = 0
				,WIMaterialInDirectCost = 0
				,WILaborSetupCost = (D.LaborSetup * S.HourlyRateLbrSetup) + ((D.LaborSetup * S.HourlyRateLbrSetup) * (S.LaborPctOvhd/100))
				,WILaborCost = (D.Labor * S.HourlyRateLbr) + ((D.Labor * S.HourlyRateLbr) * (S.LaborPctOvhd/100))
				,WIMachineSetupCost = (D.MachineSetup * S.HourlyCostFactorMach) + ((D.MachineSetup * S.HourlyCostFactorMach) * (S.MachPctOvhd/100))
				,WIMachineCost = (D.MachineRun * S.HourlyCostFactorMach) + ((D.MachineRun * S.HourlyCostFactorMach) * (S.MachPctOvhd/100))
				,WIMachineCostModified = 0
				,WIMachineCostVariable = 0
				,WISubcontractCost = 0
		FROM [005].[dbo].[tblMpHistoryTimeDtl]  D
		INNER JOIN [005].[dbo].[tblMpHistoryTimeSum]  S ON S.TransId = D.TransId
		INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId
		WHERE R.ParentId IS NOT NULL AND R.ReleaseId = @ReleaseId
	) A
	GROUP BY ReleaseId
END
GO
