USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetConvFactorForItemAndUom]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetConvFactorForItemAndUom]
	@ItemId varchar(24),  @ConvertToUOM varchar(6)
AS
BEGIN
	
--DECLARE @ItemId varchar(24) = 'RM-CADC5135-PRP'  
--DECLARE @ConvertToUOM varchar(6) = 'LY'


IF EXISTS (SELECT [ConvFactor]
			FROM [005].[dbo].[tblInItemUom]
			WHERE ItemId=@ItemId AND Uom = @ConvertToUOM
			)
BEGIN
		SELECT [ConvFactor]
			FROM [005].[dbo].[tblInItemUom]
			WHERE ItemId=@ItemId AND Uom = @ConvertToUOM

END ELSE
BEGIN
	SELECT 0 As ConvFactor
END



END
GO
