USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOSTOrderReleasesNotPosted]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Used by WebProduction.fOffSiteTransfer to obtain any Ord/Rels not posted which contain a FG on @OST; TFS 1013 */
CREATE PROCEDURE [dbo].[spOSTOrderReleasesNotPosted]
				@OST as int
AS
BEGIN

--DECLARE @OST as int = 409

DECLARE @OREOrderNo varchar(8)
DECLARE @OrderNo varchar(8)
DECLARE @RelNo int
DECLARE @OrderReleasesNotPosted Table (OrderNo varchar(8),ReleaseNo int)

DECLARE iCur CURSOR  
FOR
	SELECT ore.OrderNo
	FROM [W005].[dbo].[OffSiteTransferDetail] ostd
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.ItemId=ostd.ItemId AND orei.TravSerNum=ostd.TravSerNum
		INNER JOIN [W005].[dbo].OrderReleaseEvent ore ON orei.OrderReleaseEventId=ore.Id
	WHERE OffSiteTransId=@OST AND orei.ItemId IN (SELECT ItemId FROM [005].[dbo].[tblInItemLoc] WHERE GLAcctCode LIKE '7%') -- FGs only

OPEN iCur 
FETCH NEXT FROM iCur INTO @OREOrderNo
WHILE @@FETCH_STATUS = 0 
BEGIN
/* Obtain Traverse OrderNo and ReleaseNo */
	IF @OREOrderNo LIKE 'P%'
	BEGIN
		SELECT @OrderNo = OrderNo, @RelNo = ReleaseNo
		FROM [W005].[dbo].[CCIOrderReleaseInfo] 
		WHERE ParentOrderNo = @OREOrderNo
	END
	ELSE
	BEGIN
		SELECT @OrderNo = OrderNo, @RelNo = ReleaseNo
		FROM [W005].[dbo].[CCIOrderReleaseInfo] 
		WHERE OrderNo = @OREOrderNo
	END
/* Check if Traverse Order/Rel is still open */
	IF EXISTS
			(SELECT Id
			FROM [005].[dbo].[tblMpOrderReleases] 
			WHERE OrderNo = @OrderNo AND ReleaseNo= @RelNo AND Status != 6)
	BEGIN
		INSERT INTO @OrderReleasesNotPosted
		(OrderNo,ReleaseNo)
		VALUES
		(@OREOrderNo,@RelNo) /*Return @OREOrderNo because it contains ParentOrderNo if it exists */
	END

FETCH NEXT FROM iCur INTO @OREOrderNo
 
END
CLOSE iCur  
DEALLOCATE iCur 

SELECT  * FROM @OrderReleasesNotPosted




END
GO
