USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListDataRoche]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPackingListDataRoche] 
	@PLNo as int
	
AS
BEGIN
	
	
	--Declare @PLNo as int
	--Set @PLNo= 26948

	SELECT @PLNo As PLNo, PKgId, ItemId,[Width(MM)], TareWt, MfgLot, Notes,ItemDescription,AliasID,OrderNo,ShipDate,CustPO
			,ShipMethod,ShipTerms,ShipToAddress,ReportType
			,COUNT(ItemId) As RollCount, SUM(LM) As TotalLM, SUM(NetWt) As TotalNetWt, MIN(FGExpDate) AS ExpDate
	FROM 
	(
		Select 
			spld.PKgId
			,spld.ItemId
			,P.nTarget As [Width(MM)]
			,LM = EI.TotalQty / IIF((SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LM') is null,1,(SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LM'))
			,NetWt = EI.TotalQty /  IIF((SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LB') is null,1, (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LB'))
			,sp.TareWt
			,MfgLot = SUBSTRING(si.ProdOrderNo,LEN(si.ProdOrderNo)-4 ,5)
			,EI.FGExpDate
			,CAST(spl.Notes as varchar(MAX)) /* + CHAR(13) + 'Country of Origin USA'*/ As Notes
			,ii.Descr AS ItemDescription
			,ia.AliasID
			,spl.OrderNo
			,spl.ShipDate
			,spl.CustPO
			,spl.ShipMethod
			,spl.ShipTerms
			,ShipToAddress = spl.ShipToName  + CHAR(13) + spl.ShipToAddr1 +  IIF(spl.ShipToAddr2 is null OR LEN(spl.ShipToAddr2)=0,'', + CHAR(13) + spl.ShipToAddr2) + CHAR(13) + spl.ShipToCity + ', ' + spl.ShipToRegion  + '  ' + spl.ShipToPostalCode  + CHAR(13) + spl.ShipToCountry
			,[cf_Packing List Report Type] as ReportType		  		
		FROM	[W005].[dbo].[ShipPackingListDetail] AS spld 
			INNER JOIN [W005].[dbo].[ShipPackingList] AS spl ON spl.PLNo=spld.PLNo 
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
			INNER JOIN [005].[dbo].[tblInItem] ii ON ii.ItemId = spld.ItemId
			LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ia.ItemID = ii.ItemId AND ia.RefID = spl.CustId
			LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
			LEFT JOIN ([W005].[dbo].[ProductChar] AS P 
						INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)') ON P.ItemId = spld.ItemId
			LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] as U1 ON U1.ShipToId = spl.ShipToId AND U1.CustId = spl.CustId
			LEFT JOIN [W005].[dbo].[ShipPallet] sp ON sp.Id = spld.ShipPalletId
		WHERE spld.PLNo=@PLNo
	) A
	GROUP BY PKgId, ItemId,[Width(MM)], TareWt, MfgLot, Notes,ItemDescription,AliasID,OrderNo,ShipDate,CustPO
			,ShipMethod,ShipTerms,ShipToAddress,ReportType
	ORDER BY ItemId


END	
GO
