USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetProdOrderRMMatlDtlCount]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetProdOrderRMMatlDtlCount] @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	SELECT COUNT(D.TransId) 
	FROM [005].dbo.tblMpOrderReleases R 
	INNER JOIN [005].dbo.tblMpRequirements M ON M.ReleaseId = R.Id 
	INNER JOIN [005].dbo.tblMpMatlDtl D ON D.TransId = M.TransId
	where OrderNo = @OrderNo and ReleaseNo = @ReleaseNo
END
GO
