USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountRawIntermediateData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetInventoryCountRawIntermediateData]
	@TravLotNum as varchar(16)
AS
BEGIN

--declare @TravLotNum as varchar(16) = '00050597-002'

	SELECT DISTINCT I.LocId As Location, I.ItemId,ii.Descr, SUM(I.[Qty] - I.[InvoicedQty] - I.[RemoveQty]) as TotalQty, U.Uom 
		,ii.ItemType
		,NumItemIds = (SELECT COUNT(DISTINCT ItemId) FROM [005].[dbo].[tblInQtyOnHand] WHERE LotNum = @TravLotNum)
	FROM [005].[dbo].[tblInQtyOnHand] I 
		INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=I.ItemId 
		INNER JOIN [005].[dbo].[tblInItemUom] As U ON U.ItemId=I.ItemId AND U.ConvFactor=1
	WHERE I.LotNum = @TravLotNum  
	GROUP BY I.LocId, I.ItemId, ii.Descr, U.Uom,ii.ItemType
	HAVING SUM(I.[Qty] - I.[InvoicedQty] - I.[RemoveQty]) != 0 


END
GO
