USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebRocheCartonLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebRocheCartonLabel] @CtnId as int
AS
BEGIN

	--DECLARE @CtnId as int  = 157487 



	SELECT	DISTINCT 
		SC.ShipCartonNo AS CartonNumber 
		,RollNum = RIGHT('000000'+SI.ProdOrderNo, 6)+'-'+RIGHT('00'+Cast(SI.ProdOrderRelNo as varchar(3)),2) + Right('00'+Cast(OREI.CutPos as Varchar(2)),2) 
		--,RIGHT('000'+ CAST(SUBSTRING(OREI.TravLotNum, LEN(OREI.TravLotNum)-6, 3) AS VARCHAR(3)),3) + '-' + RIGHT('00'+ CAST(SUBSTRING(OREI.TravLotNum, LEN(OREI.TravLotNum)-1, 2) AS VARCHAR(2)),2)AS RollNum
		,I.Descr
		,IA.AliasID AS PN
		,SUBSTRING(SI.ProdOrderNo,LEN(SI.ProdOrderNo)-4,5) AS LotNumber
		,SI.Quantity * 0.3048 AS Quantity
		,OREI.FGExpDate
	FROM [W005].[dbo].[ShipCarton] AS SC   
			INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipCartonId = SC.Id
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId 
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id = SI.OREIId 
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo  
			LEFT JOIN [005].[dbo].[tblInItemAlias] AS IA ON IA.ItemID = I.ItemId AND IA.RefID = ISNULL(R.CustId, RH.CustId)
	WHERE SC.Id = @CtnId




END	

GO
