USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWExportData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by WEBSlitWidth
	Returns all test data for date range @StartDate to @EndDate
	Does not include Toray Pin data (SpoolNo=0)
*/

CREATE PROCEDURE [dbo].[spSWExportData]
	@StartDate DateTime, @EndDate DateTime


AS
BEGIN

--DECLARE @StartDate DateTime = '10/1/24'
--DECLARE @EndDate DateTime = '10/31/24'


SELECT ISNULL(CAST(th.WorkOrder as varchar(10)),th.ProdOrderNo) AS OrderNo
, th.OperationID
, ISNULL(CAST(th.SetID AS varchar(12)),th.ProdOrderNo + '-' + RIGHT('000'+CAST(th.ReleaseNo AS varchar(3)),3)) AS SetID
, ISNULL(th.CustId, CAST(th.PolarisCustomerID AS varchar(10))) AS CustomerID
, ISNULL(th.CustomerName,th.PolarisCustomerName) AS CustomerName
, th.InvDescription
, IsNULL(th.PartNum, th.ItemId) AS Part
, ISNULL(th.Machine, th.PolarisMachineNum) AS MachineNum
, th.NumCuts
, th.ProdSpecID, th.ProdSpecDesc
, th.SWTolerance_Plus
, th.SWTolerance_Minus
, th.SWTolerance_Target
, th.SWTolerance_Min
, th.SWTolerance_Max
, TestType = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
, tgdd.SpoolNo
, tgdd.SampleNo
, IIf(tgdd.TestLevel=1,'Initial','Retest') AS [Level]
, tgdd.MeanMM
, tgdd.MeanIN
, tgdd.MeanOOT
, tgdd.SpoolRejected
, tgdd.DataComplete
, tgdd.TestDate
, tgdd.MMPos1, tgdd.MMPos2, tgdd.MMPos3, tgdd.MMPos4, tgdd.MMPos5
, tgdd.INPos1, tgdd.INPos2, tgdd.INPos3, tgdd.INPos4, tgdd.INPos5
, tgdd.OOTPos1, tgdd.OOTPos2, tgdd.OOTPos3, tgdd.OOTPos4, tgdd.OOTPos5
, tgdd.HandlingDamageRetest, tgdd.MaterialIssueRetest, tgdd.ImproperSampleInstallationRetest
, tgdd.UserId, tgdd.TestedByName
, tgdd.GageID, tgdd.GageName
FROM [W005].[dbo].[SW_TestHdr] th
			 LEFT JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
			 LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			 LEFT JOIN [W005].[dbo].[SW_TestGroupDtlData] tgdd ON tgdd.TestGroupDtlId=tgd.Id
WHERE tgdd.TestDate Between @StartDate AND @EndDate
	AND tgdd.SpoolNo > 0 /* Do not include Pin data (SpoolNo=0) */


END
GO
