USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPickListOrderNoData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPickListOrderNoData]
	@ParentOrder as varchar(8), @RMItemId as varchar(24)
AS
BEGIN
	
--DECLARE @ParentOrder as varchar(8) = '00000056'
--DECLARE @RMItemId as varchar(24) = 'RM-CADC5133-PRP'

	SELECT  O.OrderNo, SUM(CFRM.Layers * CF1.MaterialLength)/U.ConvFactor AS TotalRMQtyNeeded, I.UomDflt As UOM
			,OrderHasPartial = IsNULL(CAST((SELECT  OTIS.Id
							FROM [W005].[dbo].[OutTimeItemStatus] OTIS
							WHERE OTIS.IsPartialKit=1 AND LEFT(OTIS.TravSerNum,8) = O.OrderNo) As bit),0)
	FROM [005].[dbo].[tblMpRequirements] R 
		INNER JOIN [005].[dbo].[tblMpOrderReleases] O ON R.ReleaseId=O.Id AND O.OrderNo In (SELECT OrderNo FROM  [W005].dbo.CCIOrderReleaseInfo WHERE ParentOrderNo = @ParentOrder)
		INNER JOIN [005].[dbo].[tblInItem] I ON I.Descr=R.[Description] 
		INNER JOIN [W005].[dbo].[CCICutFileRawMaterial] CFRM ON CFRM.ItemId=I.ItemId AND CFRM.CCICutFileId IN (
																												SELECT [CCICutFileId] 
																												FROM [W005].[dbo].[CCIParentOrderCutList] P  
																														INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] I ON P.ParentOrderNo=I.ParentOrderNo
																															AND I.OrderNo=O.OrderNo 
																												WHERE P.ParentOrderNo=@ParentOrder
																											)
			
		INNER JOIN [W005].[dbo].[CCICutFile] CF1 ON CF1.Id=CFRM.CCICutFileId 
		INNER JOIN [005].[dbo].tblInItemUom U ON U.ItemId = I.ItemId and U.Uom = I.UomDflt
	WHERE  R.[Type] IN (3,4) AND I.ItemId=@RMItemId
	GROUP BY I.ItemId,I.Descr, O.OrderNo,I.UomDflt,U.ConvFactor

	-----------------------------

	SELECT  LEFT(OTIS.TravSerNum,8) AS ProdOrder, OTIS.ItemId AS FGItemId, OTIS.TravSerNum As SerNum
	FROM [W005].[dbo].[OutTimeItemStatus] OTIS
	WHERE OTIS.IsPartialKit=1 AND LEFT(OTIS.TravSerNum,8) IN (SELECT OrderNo FROM  [W005].dbo.CCIOrderReleaseInfo WHERE ParentOrderNo = @ParentOrder)


	



END




GO
