USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spFGHasOTSpec]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[spFGHasOTSpec]
			@FGItemId As varchar(24)

AS
BEGIN

--Declare @FGItemId As varchar(24) = 'FG-MRAS1127-PKT'

	IF EXISTS (
			SELECT pc.Id
			FROM [W005].[dbo].[ProductChar] pc 
				INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id AND c.Characteristic='FGHasOTSpec'
			WHERE pc.ItemId=@FGItemId 
			)
			BEGIN
				SELECT CAST(pc.Id as bit) as HasOTSpec
				FROM [W005].[dbo].[ProductChar] pc 
					INNER JOIN [W005].[dbo].[Characteristic] c ON pc.CharId=c.Id AND c.Characteristic='FGHasOTSpec'
				WHERE pc.ItemId=@FGItemId 
			END ELSE BEGIN
				SELECT CAST(0 as bit) as HasOTSpec
			END
			

END
GO
