USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spVendorIdIsAssignedToPONote]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spVendorIdIsAssignedToPONote]
	@VendorId as varchar(10), @PONoteId as int
AS
BEGIN

--DECLARE @VendorId as varchar(10) = 'AAAP01'
--DECLARE @PONoteId as int = 2

	SELECT Id
	FROM [W005].[dbo].[PONoteVendorXRef] 
	WHERE TraverseVendorId = @VendorId AND PONoteId=@PONoteId


END
GO
