USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInventoryCountScannedErrors]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInventoryCountScannedErrors] @Site as nvarchar(3),@InventoryDate as datetime  
AS
BEGIN

--DECLARE @Site as varchar(3) = 'ALL'
--DECLARE @InventoryDate as datetime = '9/27/18'

IF @Site = 'ALL'
BEGIN
	select ICTUnitId,ICTNum, TravSerNum,TravLotNum,ItemId,PkgIdMRNum,Location,ErrorMsg,BarcodeScanned
	from [W005].dbo.InventoryCountTicketUnit  
        where Len(ErrorMsg) > 0 
           and  ICTNum IN (SELECT ICTNum FROM [W005].[dbo].[InventoryCountTicket] WHERE TicketDate BETWEEN DATEADD(DD,-2,@InventoryDate) AND DATEADD(DD,2,@InventoryDate))
END
ELSE
BEGIN
	select ICTUnitId,ICTNum, TravSerNum,TravLotNum,ItemId,PkgIdMRNum,Location,ErrorMsg,BarcodeScanned
	from [W005].dbo.InventoryCountTicketUnit  
        where Len(ErrorMsg) > 0 and RTRIM(Location) like '%' + @Site 
           and  ICTNum IN (SELECT ICTNum FROM [W005].[dbo].[InventoryCountTicket] WHERE TicketDate BETWEEN DATEADD(DD,-2,@InventoryDate) AND DATEADD(DD,2,@InventoryDate))
END




END
GO
