USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMasterRollDefectSpliceLog]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMasterRollDefectSpliceLog] @SerialNo AS VARCHAR(16), @LotNo AS VARCHAR(16)
AS
BEGIN 

--DECLARE @SerialNo AS VARCHAR(16) = ''
--DECLARE @LotNo AS VARCHAR(16) = ''

SELECT DISTINCT *
FROM (
  SELECT DISTINCT 
		CAST(MRD.DefectStartFeet AS VARCHAR(10)) + ' ft to ' + CAST(MRD.DefectEndFeet AS VARCHAR(10)) + ' ft' AS DefectLocation,
		(MRD.DefectEndFeet - MRD.DefectStartFeet) AS DefectLengthFT,
		D.DefectDescription AS TypeOfDefect,
		MR.RollNumber AS MasterRollNo,
		MR.LotNumber AS BatchNumber
  FROM [W005].[dbo].[DTSMasterRoll] MR
		INNER JOIN [W005].[dbo].[DTSMasterRollDefect] MRD ON MRD.MasterRollId=MR.Id
		INNER JOIN [W005].[dbo].[DTSMfgDefect] D ON D.Id=MRD.MfgDefectId1
		INNER JOIN [W005].[dbo].[DTSWebDefect] W ON W.Id=D.DTSWebDefectId
UNION ALL
  SELECT DISTINCT 
		CAST(MRD.DefectStartFeet AS VARCHAR(10)) + ' ft to ' + CAST(MRD.DefectEndFeet AS VARCHAR(10)) + ' ft' AS DefectLocation,
		(MRD.DefectEndFeet - MRD.DefectStartFeet) AS DefectLengthFT,
		D.DefectDescription AS TypeOfDefect,
		MR.RollNumber AS MasterRollNo,
		MR.LotNumber AS BatchNumber
  FROM [W005].[dbo].[DTSMasterRoll] MR
		INNER JOIN [W005].[dbo].[DTSMasterRollDefect] MRD ON MRD.MasterRollId=MR.Id
		INNER JOIN [W005].[dbo].[DTSMfgDefect] D ON D.Id=MRD.MfgDefectId2
		INNER JOIN [W005].[dbo].[DTSWebDefect] W ON W.Id=D.DTSWebDefectId
) A
WHERE A.DefectLengthFT > 0 AND A.MasterRollNo=@SerialNo AND A.BatchNumber=@LotNo

END
GO
