USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spQuoteNumList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spQuoteNumList] 
AS
BEGIN 



SELECT h.QuoteNum, h.QuoteDate, h.ExpirationDate,h.CustId,h.CustName,h.Addr1,h.addr2,h.City,h.Region,h.Country,h.PostalCode,h.ShipVia,h.ShipTerm, h.PaymentTerm,h.Note,
		h.ShipToId,h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToCountry,h.ShipToPostalCode,
		h.FreightCharge,h.MiscCharge1,h.MiscCharge2,h.MiscCharge3,h.QuoteTotal,
		s.Id,s.QuoteStatus
FROM [W005].[dbo].[QuoteHeader] h INNER JOIN [W005].[dbo].[QuoteStatus] s ON h.StatusId=s.Id







END      






GO
