USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetUnPackedBoxesByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetUnPackedBoxesByItemAndLocId]
	@ItemId as varchar(24),  @LocId as varchar(10),@OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN

--Declare @ItemId as varchar(24) = 'FG-SIKO1004-PKT'
--Declare  @LocId as varchar(10) = 'INVMTP'
--declare @OrderNo as varchar(8) = 'P0056713'
--declare @ReleaseNo as int = 1


		DECLARE @DoNotMixLots as bit
		SET @DoNotMixLots = IsNULL((SELECT Pc.bTarget 
								FROM [W005].[dbo].[ProductChar] Pc 
								inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
								WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedLots'),0)
		--select @DoNotMixLots


		SELECT B.ShipBoxNo As PkgId,SUM(I.Quantity) As Quantity,B.Id, Count(I.Id) As NoPacked,B.Complete, B.IsPacked,B.TareWt,B.GrossWt
		FROM [W005].[dbo].[ShipBox] As B inner join [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
		Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND B.IsPacked=0
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			@OrderNo 
		  ELSE
			'%' 
		  END
		GROUP BY B.Id,B.ShipBoxNo,B.Complete,B.IsPacked,B.TareWt,B.GrossWt
	
END
GO
