USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrCartonsOnHand]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExtrCartonsOnHand]

AS
BEGIN


		SELECT DISTINCT C.Id,I.ItemId, C.ShipCartonNo, C.DateCreated As MfrDate, C.GrossWt, I.UOM,I.Location, C.Complete
					,Qty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id)
					,NoRolls =  (SELECT SUM(NoRolls) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=C.Id), I.TravLotNum,
				Lot = STUFF
				(
					(
						SELECT DISTINCT '/' + I.LotNo 
						FROM ShipItem as I
						WHERE I.ShipCartonId=C.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),
				OpInit = STUFF
				(
					(
						SELECT DISTINCT '/' + I.OpInit
						FROM ShipItem as I
						WHERE I.ShipCartonId=C.Id AND I.Deleted=0
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
		FROM 
			[005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
				Inner Join [005].[dbo].[tblInItem] As ii ON ah.AssemblyId=ii.ItemId inner join
				([W005].[dbo].[ShipCarton] As C inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId) On ii.ItemId=I.ItemId
		WHERE ar.MachineGroupId  like 'EXT%' 
				AND ah.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=ah.AssemblyId)
				AND I.Deleted=0 AND I.Issued=0 AND I.PhantomAdjOut=0 AND I.Shipped=0 AND C.Shipped=0 
			
		ORDER BY C.ShipCartonNo desc
END
GO
