USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemLocLotsFromTmpPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetItemLocLotsFromTmpPL]
			@PLNo as int,@ItemId as varchar(24),@LocId as varchar(10)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--declare @PLNo as int =2125
	--declare @ItemId as varchar(24) = 'CV-SAIN-630'
	--declare @LocId as varchar(10) = 'INVENTORY'

	SELECT DISTINCT I.ItemId,I.Location, UPPER(I.TravLotNum) as TravLotNum
	FROM [W005].[dbo].[ShipItem] I INNER JOIN [W005].[dbo].[tmpShipPackingList] PL ON I.ItemId=PL.ItemId
		INNER JOIN [W005].[dbo].[ShipPallet] P ON I.ShipPalletId=P.Id AND P.Id=PL.ShipPalletId
	WHERE DoNotAddToPL=0 AND PLNo=@PLNo AND I.ItemId=@ItemId AND I.Location=@LocId
	
	UNION ALL

	SELECT DISTINCT I.ItemId,I.Location, UPPER(I.TravLotNum) as TravLotNum
	FROM [W005].[dbo].[ShipItem] I INNER JOIN [W005].[dbo].[tmpShipPackingList] PL ON I.ItemId=PL.ItemId
		INNER JOIN [W005].[dbo].[ShipCarton] C ON I.ShipCartonId=C.Id AND C.Id=PL.ShipCartonId
	WHERE DoNotAddToPL=0 AND PLNo=@PLNo AND I.ItemId=@ItemId AND I.Location=@LocId
	
	UNION ALL

	SELECT DISTINCT I.ItemId,I.Location, UPPER(I.TravLotNum) as TravLotNum
	FROM [W005].[dbo].[ShipItem] I INNER JOIN [W005].[dbo].[tmpShipPackingList] PL ON I.ItemId=PL.ItemId
		INNER JOIN [W005].[dbo].[ShipBox] B ON I.ShipBoxId=B.Id AND B.Id=PL.ShipBoxId
	WHERE DoNotAddToPL=0 AND PLNo=@PLNo AND  I.ItemId=@ItemId AND I.Location=@LocId
END
GO
