USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDistincPackingListItems]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetDistincPackingListItems] @PLNo as int
AS
BEGIN
	SELECT DISTINCT ItemId 
	FROM ShipPackingListDetail
	WHERE PLNo = @PLNo
END
GO
