USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[ExoTerraKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ExoTerraKitLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--/*TEST DATA*/  
--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00048735'
--DECLARE @ReleaseNo AS int = 3
--DECLARE @OrderReleaseEventItemId int = 0


If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL
END

SELECT DISTINCT  
		 ItemDescr = I.Descr
		,H.DrawingNumber
		,CustRevisionNo = H.[cf_Customer Revision No]
		,PurchaseOrder = ISNULL(MOR.PurchaseOrder, MORHist.PurchaseOrder)
		,CageCode = C.sTarget
		,OREI.TravSerNum
		,OREI.MfgDate
		,CORI.ParentOrderNo
		,Qty = 1
		,WebPnRev = CORI.ItemId + ' / ' + H.RevisionNo
		,CU.CustName
		,QRCode = '1|'+OREI.ItemId+'|'+OREI.TravSerNum+'|'
FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS CORI
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=CORI.ParentOrderNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=1
		INNER JOIN [005].dbo.tblInItem I ON I.ItemId = CORI.ItemId
		INNER JOIN [005].dbo.trav_tblMbAssemblyHeader_View H ON H.AssemblyId = CORI.ItemId AND H.RevisionNo = CORI.RevisionNo
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS MOR ON MOR.OrderNo=CORI.OrderNo AND MOR.ReleaseNo=CORI.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MORHist ON MORHist.OrderNo=CORI.OrderNo AND MORHist.ReleaseNo=CORI.ReleaseNo
		LEFT JOIN [W005].dbo.CustomerCharacteristic CC ON CC.Characteristic = 'SupplierId'
		LEFT JOIN [W005].dbo.CustomerChar C ON C.CustId = ISNULL(MOR.CustId, MORHist.CustId) AND C.CharId = CC.Id
		LEFT JOIN [005].dbo.tblArCust CU ON CU.CustId = ISNULL(MOR.CustId, MORHist.CustId) 

WHERE	CORI.OrderNo=@OrderNo AND CORI.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId is null OR OREI.Id = @OrderReleaseEventItemId) 
ORDER BY TravSerNum

END
GO
