USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spTRYieldTotalQtyUsed]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spTRYieldTotalQtyUsed]
	@FGPkgId as int
AS
BEGIN

	SELECT SUM(tr.QtyUsed) as TotalQtyUsed
	FROM [W005].[dbo].[TRYield] AS tr
	WHERE tr.FGPkgId = @FGPkgId
		AND tr.PkgIsFG = 0
	

END
GO
