USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShippingUnitQty]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spShippingUnitQty] 
	@PkgType as char(1), @ShipUnitId as int, @TransID as varchar(8)
AS
BEGIN

--DECLARE @PalletId as int
--Set @PalletId = 18978

IF @PkgType = 'P'
Begin
	SELECT	TotalQty = (SUM(SI.Quantity)  / IsNull(td.ConversionFactor,1))
	FROM [W005].[dbo].[ShipItem] AS SI INNER JOIN [005].[dbo].[tblSoTransDetail] td ON SI.ItemId=td.ItemId AND td.TransID=@TransID AND td.Status=0
	WHERE SI.ShipPalletId = @ShipUnitId
	GROUP BY td.ConversionFactor
End
ELSE
If @Pkgtype = 'C'
Begin
	SELECT	TotalQty = (SUM(SI.Quantity)  / IsNull(td.ConversionFactor,1))
	FROM [W005].[dbo].[ShipItem] AS SI INNER JOIN [005].[dbo].[tblSoTransDetail] td ON SI.ItemId=td.ItemId AND td.TransID=@TransID AND td.Status=0
	WHERE SI.ShipCartonId = @ShipUnitId
	GROUP BY td.ConversionFactor
End
Else
If @PkgType = 'B'
Begin
	SELECT	TotalQty = (SUM(SI.Quantity)  / IsNull(td.ConversionFactor,1))
	FROM [W005].[dbo].[ShipItem] AS SI INNER JOIN [005].[dbo].[tblSoTransDetail] td ON SI.ItemId=td.ItemId AND td.TransID=@TransID AND td.Status=0
	WHERE SI.ShipBoxId = @ShipUnitId
	GROUP BY td.ConversionFactor
End

	




END
GO
