USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIProdOrderDtl]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIProdOrderDtl] @ProdOrderNo AS VARCHAR(8), @ProdRelNo AS int, @ParentOrderNo AS VARCHAR(8)
AS
BEGIN

--DECLARE @ProdOrderNo AS VARCHAR(8) = '00027643'
--DECLARE @ProdRelNo AS int = 1
--DECLARE @ParentOrderNo AS VARCHAR(8) = 'P0002385'


	SELECT DISTINCT
			M.OrderNo AS ProdOrderNo,
			M.ReleaseNo AS ProdRelNo,
			M.[cf_Parent Order] AS ParentOrderNo,
			M.PurchaseOrder,
			M.SalesOrder,
			H.CustPONum,
			C.ItemId,
			MP.LocId,
			M.Qty,
			M.UOM,
			RAWMaterial =  
				(STUFF((SELECT DISTINCT ' ' + ItemId
				 FROM OrderReleaseEvent E
					  INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id
				 WHERE E.OrderNo = C.ParentOrderNo AND I.IsAssembly = 0 
				 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
			MG.[Name] AS Program,
			C.OrderStatus
	FROM CCIOrderReleaseInfo C
		 INNER JOIN dbo.CCIManufacturingGroup AS MG ON C.CCIManufacturingGroupId = MG.Id 
		 INNER JOIN [005].dbo.trav_tblMpOrderReleases_view M ON M.[cf_Parent Order]=C.ParentOrderNo AND M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
		 INNER JOIN [005].dbo.tblMpOrder AS MP ON MP.OrderNo = M.OrderNo 
		 INNER JOIN [005].[dbo].[tblSoTransHeader] H ON H.TransId=M.SalesOrder
	WHERE (C.OrderNo=@ProdOrderNo AND C.ReleaseNo=@ProdRelNo) OR C.ParentOrderNo=@ParentOrderNo
UNION ALL 
	SELECT  DISTINCT
			M.OrderNo AS ProdOrderNo,
			M.ReleaseNo AS ProdRelNo,
			M.[cf_Parent Order] AS ParentOrderNo,
			M.PurchaseOrder,
			M.SalesOrder,
			H.CustPONum,
			C.ItemId,
			M.LocId,
			M.Qty,
			M.UOM,
			RAWMaterial = 
				(STUFF((SELECT DISTINCT ' ' + ItemId
				 FROM OrderReleaseEvent E
					  INNER JOIN OrderReleaseEventItem I ON I.OrderReleaseEventId=E.Id
				 WHERE E.OrderNo = C.ParentOrderNo AND I.IsAssembly = 0 
				 FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
			MG.[Name] AS Program,
			C.OrderStatus
	FROM CCIOrderReleaseInfo C
		 INNER JOIN dbo.CCIManufacturingGroup AS MG ON C.CCIManufacturingGroupId = MG.Id 
		 INNER JOIN  [005].dbo.trav_tblMpHistoryOrderReleases_View M ON  M.[cf_Parent Order]=C.ParentOrderNo AND M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
		 INNER JOIN [005].[dbo].[tblArHistHeader] H ON H.TransId=M.SalesOrder
	WHERE (C.OrderNo=@ProdOrderNo AND C.ReleaseNo=@ProdRelNo) OR C.ParentOrderNo=@ParentOrderNo

END
GO
