USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrBOMOpTypeIsNotRunRate]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spExtrBOMOpTypeIsNotRunRate] @ItemId AS varchar(24)
AS
BEGIN


--DECLARE @ItemId AS varchar(24) = 'AERO-BU10-375'

	SELECT CAST(IIF(Count(r.Id)>0,1,0) As bit) AS OpIsNotRunRate
	FROM  [005].[dbo].[tblMbAssemblyRouting] r INNER JOIN
		[005].[dbo].[tblMbAssemblyHeader] as H ON r.HeaderId=H.Id AND r.OperationType !=3 -- 3=Run Rate (0=Per unit, 1=Subcontract, 2=Batch)
	WHERE H.AssemblyId=@ItemId  AND H.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=H.AssemblyId)





END

GO
