USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemDefaultLabels]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spItemDefaultLabels]
	@ItemId as varchar(24),
	@EffDt as Datetime
AS
BEGIN
	SELECT        LXI.ItemId, L.Id as LabelId, L.LabelKey, L.LabelName, L.LabelDescription, L.LabelTypeId, LT.LabelType, L.Revision, L.EffectiveDate, L.LabelDefinition, LXI.Id as LabelXItemId
	FROM            dbo.LabelXItem as LXI INNER JOIN
							 dbo.Label as L ON LXI.LabelName = L.LabelName INNER JOIN
							 dbo.LabelType as LT ON L.LabelTypeId = LT.Id
	WHERE LXI.ItemId = @ItemId and L.Approved = 1 and L.Obsolete = 0 and
	L.Revision = 
		(SELECT        MAX(L1.Revision)
	 	 FROM            dbo.LabelXItem as LXI1 INNER JOIN
								 dbo.Label as L1 ON LXI1.LabelName = L1.LabelName INNER JOIN
								 dbo.LabelType as LT1 ON L1.LabelTypeId = LT1.Id
		 WHERE LXI1.ItemId = LXI.ItemId and L1.LabelTypeId = L.LabelTypeId and L1.Approved = L.Approved and L1.Obsolete = L.Obsolete and L1.EffectiveDate <= @EffDt)
END

GO
