USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrPackTallyCtnDetail]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[spExtrPackTallyCtnDetail]
	@ShipPalletId As int
AS
BEGIN

		SELECT DISTINCT C.Id As CtnId,C.ShipCartonNo,SUM(I.Quantity) As CtnQty, SUM(I.NoRolls) As CtnNoRolls,
		Lot = STUFF
		(
			(
				SELECT DISTINCT '/' + I.LotNo + ISNULL('/' + I.AdditionalLotNo,'') 
				FROM ShipItem as I
				WHERE I.ShipCartonId=C.Id AND I.Deleted=0
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		)
		FROM [W005].[dbo].[ShipItem] As I Inner Join [W005].[dbo].[ShipCarton] As C On C.Id=I.ShipCartonId
		Where ((I.ItemId LIKE 'SB-%') OR (I.ItemId LIKE 'BT-%') OR (I.ItemId LIKE 'PW-%') OR (I.ItemId LIKE 'RAX-%') OR (I.ItemId LIKE 'RX-%') OR (I.ItemId LIKE 'ST-%') OR (I.ItemId LIKE 'TE-%')
			OR (I.ItemId LIKE 'ZZ-1S-%') OR (I.ItemId LIKE 'ZZ-2S-%') OR (I.ItemId LIKE 'ZZ-9S-%')) AND I.Deleted=0 AND I.Issued=0 AND
			C.ShipPalletId=@ShipPalletId
		GROUP BY C.ShipCartonNo,C.Id
		ORDER BY C.ShipCartonNo
	
END







GO
