USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetTravOperationDataForAssemblyId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetTravOperationDataForAssemblyId]
	 @AssemblyId as varchar(24)
AS
BEGIN


--DECLARE @AssemblyId as varchar(24) = 'SB-NA-100-24'



	SELECT DISTINCT ar.OperationId,ar.Descr,ar.MachSetup,ar.MachRunTime,ar.LaborSetup,ar.LaborRunTime,mg.HrlyCostFactor As MachineRate,ml.HourlyRate As LaborRate
			
	FROM [005].[dbo].[tblMbAssemblyHeader] As ah Inner Join [005].[dbo].[tblMbAssemblyRouting] As ar ON ah.Id=ar.HeaderId
		Inner Join [005].[dbo].[tblInItem] As ii ON ah.AssemblyId=ii.ItemId 
		LEFT JOIN [005].[dbo].[tblMrOperations] mo ON mo.OperationId=ar.OperationId
		Left JOIN [005].[dbo].[tblMrMachineGroups] mg ON mg.MachineGroupId=mo.MachineGroupId
		LEFT JOIN [005].[dbo].[tblMrLabor] ml ON ml.LaborTypeId=mo.LaborTypeId
	WHERE ii.ItemId = @AssemblyId
		AND ah.RevisionNo IN
					(SELECT MAX(m.RevisionNo)
					FROM  [005].[dbo].[tblMbAssemblyHeader] as m
					WHERE m.AssemblyId=ah.AssemblyId)
	


END
GO
