USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spParentOrderActualVsEstimatedHours]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spParentOrderActualVsEstimatedHours] @FromDt datetime, @ToDt datetime
AS
BEGIN
	SELECT S.ParentOrderNo AS OrderNo, S.PostedtoTraverseDate, I.LocId, I.Qty, S.TotalLaborHours, S.TotalMachineHours, I.OrderDuration/60 AS EstimateHours, S.Kits, Count(DISTINCT L.EmployeeId) AS EmployeeCnt, LaborVariance = (I.OrderDuration/60.0)-S.TotalLaborHours, MachineVariance = (I.OrderDuration/60.0)-S.TotalMachineHours
	FROM [W005].[dbo].[CCIOrderReleaseSummary] S 
	INNER JOIN [W005].[dbo].[CCIOrderReleaseSummaryLabor] L ON L.ParentOrderNo = S.ParentOrderNo
	INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] I ON I.ParentOrderNo = S.ParentOrderNo
	WHERE I.MfgCompleted = 1 AND PostedtoTraverseDate between @FromDt AND @ToDt
	GROUP BY S.ParentOrderNo, S.PostedtoTraverseDate, I.LocId, I.Qty, S.TotalLaborHours, S.TotalMachineHours, S.ProdOrders, S.Kits, I.OrderDuration
	Order By 1
END
GO
