USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderReleaseTransactions]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spOrderReleaseTransactions]
	@OrderNo AS varchar(8)
AS
BEGIN
	SELECT        E.OrderNo, E.ReleaseNo, MaterialType = CASE WHEN CHARINDEX(SUBSTRING(L.GlAcctCode,1,1), '1 2 3 7 8') > 0 THEN 'Direct' ELSE 'Indirect' END
				, I.IsAssembly, I.ItemId, I.LocId, I.LotNo, I.SerialNo, I.TravLotNum, I.MfgDate, COUNT(I.SerialNo) AS RollCount
				, I.EventDateTime, C.Characteristic, P.nTarget
				, I.UOM, I.TotalQty, L.GLAcctCode
	FROM            [W005].dbo.ProductChar P INNER JOIN
							 [W005].dbo.Characteristic C ON P.CharId = C.Id RIGHT OUTER JOIN
							 [W005].dbo.OrderReleaseEvent E INNER JOIN
							 [W005].dbo.OrderReleaseEventItem I ON E.Id = I.OrderReleaseEventId ON P.ItemId = I.ItemId INNER JOIN
							 [005].[dbo].[tblInItemLoc] L ON I.ItemId = L.ItemId AND I.LocId = L.LocId 
	WHERE        (E.OrderNo = @OrderNo) AND (C.Characteristic = 'Width') AND (I.LocId <> 'WASTE') 
	GROUP BY	E.OrderNo, E.ReleaseNo, I.IsAssembly, I.ItemId, I.LocId, I.LotNo, I.SerialNo, I.TravLotNum, I.MfgDate, I.EventDateTime, P.nTarget, C.Characteristic, I.UOM, I.TotalQty, L.GLAcctCode
	ORDER BY    E.OrderNo, E.ReleaseNo, 3, I.IsAssembly, I.ItemId, I.LocId, I.LotNo, I.SerialNo
END

GO
