USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMfgRecordOrderRelease]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMfgRecordOrderRelease] @OrderNo as Varchar(8)
AS
BEGIN
	--DECLARE @OrderNo as varchar(8) = '00000025' 
	--DECLARE @ReleaseNo as int = 2

	SELECT O.OrderNo
		 , O.ReleaseNo
		 , O.PurchaseOrder
		 , C.CustName
		 , FG.IsAssembly
		 , FG.ItemId
		 , FG.CutPos
		 , FG.SerialNo
		 , FG.LotNo
		 , FG.TravLotNum
		 , FG.MfgDate
		 , FG.TotalQty
		 , FG.TotalWaste
		 , EC.Description As SpliceType
		 , EC1.Description AS SpliceAddlInfo
		 , FG.SpliceDtlId
		 , FG.SplicePosition
		 , FG.SplicePositionPrev
		 , FG.SegmentLength
		 , FG.IsShortSegment
		 , FG.PLCLengthCounter
		 , FG.SpliceTbl2SlitterOffset
		 , RM.ItemId AS RMItemId
		 , RM.SerialNo AS RMSerialNo
		 , RM.LotNo AS RMLotNo
		 , ISNULL(FGA.AliasID, FG.ItemId) AS FGAliasID
		 , ISNULL(RMA.AliasID, FG.ItemId) AS RMAliasID
		 , FG.Machine
		 , RM.TotalQty AS RMQtyIssued
		 , RM.RMQtyConsumed
		 , RM.RMQtyRemaining
		 , RM.RMReturnLocId
	FROM [005].dbo.tblMpOrderReleases O
	INNER JOIN [005].dbo.tblArCust C ON C.CustId = O.CustId
	INNER JOIN (SELECT E.OrderNo, E.ReleaseNo, E.Machine, I.IsAssembly, I.ItemId, I.CutPos, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.TotalQty, I.TotalWaste, D.Id as SpliceDtlId, D.SplicePosition, D.SplicePositionPrev, D.SplicePosition - D.SplicePositionPrev as SegmentLength, D.IsShortSegment, S.PLCLengthCounter, S.SpliceTbl2SlitterOffset, S.ItemId AS RMItemId, S.SerialNo AS RMSerialNo, S.SpliceType, S.SpliceAddlInfo
	            FROM
					[W005].dbo.OrderReleaseEvent E 
					INNER JOIN [W005].dbo.OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 1
					LEFT JOIN [W005].dbo.OrderReleaseEventSpliceDetail D ON D.OrderReleaseEventItemId =  I.Id
					LEFT JOIN [W005].dbo.OrderReleaseEventSplice S ON S.Id =  D.OrderReleaseEventSpliceId
					WHERE E.OrderNo = @OrderNo) FG ON FG.OrderNo = O.OrderNo AND FG.ReleaseNo = O.ReleaseNo
    INNER JOIN (SELECT E.OrderNo, E.ReleaseNo, I.IsAssembly, I.ItemId, I.CutPos, I.SerialNo, I.LotNo, I.TravLotNum, I.MfgDate, I.TotalQty, I.TotalWaste, I.TotalQtyConsumed AS RMQtyConsumed, I.TotalQtyRemaining AS RMQtyRemaining, I.ReturnedLocId AS RMReturnLocId
				FROM
					[W005].dbo.OrderReleaseEvent E 
					INNER JOIN [W005].dbo.OrderReleaseEventItem I ON I.OrderReleaseEventId = E.Id AND I.IsAssembly = 0
					WHERE E.OrderNo = @OrderNo) RM ON RM.OrderNo = O.OrderNo AND RM.ReleaseNo = O.ReleaseNo AND RM.ItemId = FG.RMItemId AND RM.SerialNo = FG.RMSerialNo
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View FGA ON FGA.ItemID = FG.ItemId AND FGA.AliasType = 1 AND FGA.RefID = O.CustId
	LEFT JOIN [005].dbo.trav_tblInItemAlias_View RMA ON RMA.ItemID = RM.ItemId AND RMA.AliasType = 1 AND RMA.RefID = O.CustId
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC ON EC.Id = FG.SpliceType
	LEFT JOIN [W005].dbo.SpliceLookupEditCode EC1 ON EC1.Id = FG.SpliceAddlInfo
	WHERE O.OrderNo = @OrderNo 
	Order By O.OrderNo, O.ReleaseNo, SpliceDtlId, RMSerialNo, SerialNo
END
GO
