USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWCalculateCpAndCpk]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth 
-- cp calculation
-- cpk calculation



CREATE PROCEDURE [dbo].[spSWCalculateCpAndCpk] @TGDId int, @USL decimal(10,3),@LSL decimal(10,3), @MMUOM bit

AS
BEGIN
	
--DECLARE @USL decimal(10,3) = 1.50500000
--DECLARE @LSL decimal(10,3) = 1.49500000
--DECLARE @TGDId int = 47
--DECLARE @MMUOM bit = 0


/*Obtain Max Sample/TestLevel for each spool in @TGDId*/
SELECT DISTINCT SpoolNo, MAX(SampleNo) as SampleNo, MAX(TestLevel) as TestLevel 
INTO #T
FROM [W005].[dbo].[SW_TestGroupDtlData]
WHERE TestGroupDtlId = @TGDId AND SpoolNo > 0 /* Do not use Toray Pin data (SpoolNo=0) for cp/cpk */
GROUP BY SpoolNo
/*Obtain tgdd.Id for each Max Sample/TestLevel obtained by above query. */
SELECT tgdd.Id 
INTO #I
FROM [W005].[dbo].[SW_TestGroupDtlData] tgdd
	INNER JOIN #T t ON  t.SampleNo=tgdd.SampleNo AND t.TestLevel=tgdd.TestLevel AND t.SpoolNo=tgdd.SpoolNo
WHERE tgdd.TestGroupDtlId = @TGDId


IF @MMUOM = 1 /*Calculate using MM values*/
BEGIN
	SELECT tgdd.SpoolNo, tgdd.MeanMM
	INTO #MM
	FROM [W005].[dbo].[SW_TestGroupDtlData] tgdd 
	WHERE Id IN (SELECT Id FROM #I)

	SELECT COUNT(MeanMM) as SampleSize, AVG(MeanMM) as AVGmean, STDEV(MeanMM) as STDmean
		,(AVG(MeanMM) - @LSL) AS MeanMinusLSL
		,(@USL - AVG(MeanMM)) AS USLMinusMean
		,IIF(STDEV(MeanMM) is NULL OR STDEV(MeanMM)=0,NULL,IIF((AVG(MeanMM) - @LSL) < (@USL - AVG(MeanMM)),(AVG(MeanMM) - @LSL),(@USL - AVG(MeanMM)))/(3*STDEV(MeanMM))) AS Cpk
		,IIF(STDEV(MeanMM) is NULL OR STDEV(MeanMM)=0,NULL,(@USL - @LSL)/(6*STDEV(MeanMM))) AS Cp
	FROM #MM

	DROP TABLE #MM
END

IF @MMUOM = 0  /*Calculate using IN value*/
BEGIN
	SELECT tgdd.SpoolNo, tgdd.MeanIN
	INTO #IN
	FROM [W005].[dbo].[SW_TestGroupDtlData] tgdd 
	WHERE Id IN (SELECT Id FROM #I)

	SELECT COUNT(MeanIN) as SampleSize, AVG(MeanIN) as AVGmean, STDEV(MeanIN) as STDmean
		,(AVG(MeanIN) - @LSL) AS MeanMinusLSL
		,(@USL - AVG(MeanIN)) AS USLMinusMean
		,IIF(STDEV(MeanIN) is NULL OR STDEV(MeanIN)=0,NULL,IIF((AVG(MeanIN) - @LSL) < (@USL - AVG(MeanIN)),(AVG(MeanIN) - @LSL),(@USL - AVG(MeanIN)))/(3*STDEV(MeanIN))) AS Cpk
		,IIF(STDEV(MeanIN) is NULL OR STDEV(MeanIN)=0,NULL,(@USL - @LSL)/(6*STDEV(MeanIN))) AS Cp
	FROM #IN

	DROP TABLE #IN
END


DROP TABLE #T
DROP TABLE #I



END






GO
