USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetBackendSpliceCount]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBackendSpliceCount] @OrderNo as varchar(8), @ReleaseNo as int
AS
	BEGIN
	SELECT Top 1 SD.OrderReleaseEventItemId, Count(SD.SplicePosition) AS SpliceCount
	FROM OrderReleaseEvent E
	INNER JOIN OrderReleaseEventSplice S ON S.OrderReleaseEventId = E.Id
	INNER JOIN OrderReleaseEventSpliceDetail SD ON SD.OrderReleaseEventSpliceId = S.Id
	WHERE E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND S.SpliceType = 1
	GROUP BY SD.OrderReleaseEventItemId
END
GO
