USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spBillAtMfgCustomers]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBillAtMfgCustomers] @LocId as varchar(10)
AS
BEGIN
    --DECLARE @LocId AS varchar(10) = 'INVATL'

	SELECT        DISTINCT c.CustId, c.CustName, il.LocId
	FROM            [005].dbo.trav_tblInItem_view AS ii INNER JOIN
							 W005.dbo.vProductCharacteristics AS pc ON pc.ItemId = ii.ItemId AND pc.Characteristic = 'BillAtMfg' INNER JOIN
							 [005].dbo.tblInItemLoc AS il ON il.ItemId = ii.ItemId AND il.LocId = @LocId AND SUBSTRING(il.GLAcctCode, 1, 1) = '7' INNER JOIN
							 [005].dbo.tblArCust AS c ON c.CustId = ii.cf_Customer
END
GO
