USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNunezCostRawMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNunezCostRawMaterial] @FiscalYear as int, @FiscalPeriod as int
AS
BEGIN
--Direct Materials
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '1%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '1%' AND N.CostUnit != D.CostUnit

	--Direct Materials - Sub Contract
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '2%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '2%' AND N.CostUnit != D.CostUnit

	--Direct Materials - Customer Owned
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '3%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '3%' AND N.CostUnit != D.CostUnit

	--InDirect Materials
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialInDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '4%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '4%' AND N.CostUnit != D.CostUnit

	--InDirect Materials - Sub Contract
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialInDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '5%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '5%' AND N.CostUnit != D.CostUnit

	--InDirect Materials - Customer Owned
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialInDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '6%' AND (N.HistSeqNum IS NULL OR N.CostUnit != D.CostUnit)

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialInDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '6%' AND N.CostUnit != D.CostUnit

	--Merchandise
	INSERT INTO [W005].dbo.tblInHistDetailNunezCostNew (HistSeqNum,HistSeqNum_Rcpt,ItemId,LocId,LotNum,AppId,TransId,RefId,SrceID,EntryDate,TransDate,Uom,UomBase,ConvFactor,Qty,CostUnit,Source, WIMaterialDirectUnitCost)
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.LotNum,D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	LEFT JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '9%' AND N.HistSeqNum IS NULL

	UPDATE [W005].dbo.tblInHistDetailNunezCostNew SET CostUnit = D.CostUnit, WIMaterialDirectUnitCost = D.CostUnit/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
	FROM [005].dbo.tblInHistDetail D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [W005].dbo.tblInHistDetailNunezCostNew N ON N.HistSeqNum = D.HistSeqNum
	WHERE D.SumYear = @FiscalYear AND D.GLPeriod = @FiscalPeriod AND L.GLAcctCode like '9%' AND N.CostUnit != D.CostUnit
END
GO
