USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExtLocIdForBinId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExtLocIdForBinId]
	@BinId int
AS
BEGIN

--DECLARE @BinId int = 189046726


IF EXISTS (
		SELECT ExtLocId
		FROM [005].[dbo].[trav_tblWmExtLoc_view]
		WHERE Id = @BinId
		)
BEGIN
		SELECT ExtLocId As BinName
		FROM [005].[dbo].[trav_tblWmExtLoc_view]
		WHERE Id = @BinId
END ELSE
		SELECT '' As BinName





END
GO
