USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetShipmentsOnQAHOLD]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetShipmentsOnQAHOLD]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT  [PLNo]
      ,[OrderNo]
      ,[ShipFromLocId]
      ,[ShipDate]
      ,[CustId]
      ,[CustName]
      ,[CustPO]
      ,[ShipToId]
      ,[ShipToName]
      ,[QAReleaseReq]
      ,[QAReleasedBy]
      ,[QAReleasedDate]
  FROM [W005].[dbo].[ShipPackingList]
  WHERE [QAReleaseReq]=1 AND [QAReleasedBy] Is Null




END
GO
