USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMaterialStatusForMatlPull]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMaterialStatusForMatlPull]
AS 
BEGIN

SELECT DISTINCT
		OS.OrderNo,
		OS.ReleaseNo,
		OS.ItemId,
		OS.Machine,
		OS.ScheduledStart,
		RMItemId = MP.ItemId,
		RMSerialNo = MP.SerialNo,
		RMLotNo = MP.LotNo,
		RMQty = MP.Qty,
		RMUom = MP.UOM,
		S.ThawType,
		CurrentLocID = WM.LocID,
		CurrentBin = WM.ExtLocID,
		OTIS.BinType,

		FreezerPull = CASE
					  WHEN S.ThawType = 'COMBINATION' THEN DATEADD(MINUTE, -((CAST(S.ReeferComboThawHrs + S.RoomComboThawHrs AS FLOAT) * 60) + 30), OS.ScheduledStart)
					  ELSE DATEADD(MINUTE, -((CAST(S.RoomComboThawHrs AS FLOAT) * 60) + 30), OS.ScheduledStart)
					  END,
		
		ReeferPull = CASE
					 WHEN S.ThawType = 'COMBINATION' THEN DATEADD(MINUTE, -((CAST(S.RoomComboThawHrs AS FLOAT) * 60) + 30), OS.ScheduledStart)
					 ELSE null
					 END,

		RemainingRoomHours = S.MaxRoomTimeHrs - (CAST(OTIS.TotalRoomMinutes AS FLOAT)/60), 

		RemainingReeferHours = S.MaxReeferTimeHrs - CASE
													WHEN OTIS.BinType = 'REEFER' THEN (CAST(DATEDIFF(MINUTE, OTIS.LastScanDateTime, GETDATE()) AS FLOAT)+CAST(OTIS.TotalReeferMinutes AS FLOAT))/60
													ELSE CAST(OTIS.TotalReeferMinutes AS FLOAT)/60
													END, 

		RemainingFreezerHours = S.MaxFreezerTimeHrs - CASE
													  WHEN OTIS.BinType = 'FREEZER' THEN (CAST(DATEDIFF(MINUTE, OTIS.LastScanDateTime, GETDATE()) AS FLOAT)+CAST(OTIS.TotalFreezerMinutes AS FLOAT))/60
													  ELSE CAST(OTIS.TotalFreezerMinutes AS FLOAT)/60
													  END,
		TotalRoomHrs = OTIS.TotalRoomMinutes/60

FROM OrderScheduling OS
	 INNER JOIN MpOrderMatIssued MP ON MP.OrderNo = OS.OrderNo AND MP.ReleaseNo = OS.ReleaseNo
	 INNER JOIN OutTimeItemSpecs S ON S.ItemId=MP.ItemId
	 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=MP.ItemId AND OTIS.SerialNo=MP.SerialNo
	 INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] WM ON WM.Id=OTIS.CurrentWmBinId
WHERE WM.[cf_Bin Type] IN ('FREEZER','REEFER') AND OS.InProcess=0 AND OS.MfgCompleted=0 AND Downtime=0

END
GO
