USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOffSiteTransPLHeader]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOffSiteTransPLHeader] 
	@OST as int
	
AS
BEGIN
	
--Declare @OST as int = 5


	SELECT ost.OffSiteTransferId,ost.TransferDateTime, ost.ShipMethod, ost.ShipTerms, ost.PRONum
		,ost.ToName, ost.ToAddr, ost.ToCity,ost.ToState,ost.ToPostalCode,ost.ToCountry 
		,ost.FromName, ost.FromAddr,ost.FromCity,ost.FromState,ost.FromPostalCode,ost.FromCountry
		,TotalKitsInShipment = (SELECT SUM(a.TotalKitsInPkg) 
								FROM
								(SELECT TotalKitsInPkg = IIF(d.ShipPalletId is null,
														IIF(d.ShipCartonId is null,
															IIF(d.ShipBoxId is null, 1
															,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=d.ShipBoxId))
														,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=d.ShipCartonId))
													,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=d.ShipPalletId))
								FROM [W005].[dbo].[OffSiteTransferDetail] d
								WHERE d.OffSiteTransId=@OST
								)a)
	FROM [W005].[dbo].[OffSiteTransfer] AS ost
	WHERE ost.OffSiteTransferId=@OST




END	



GO
