USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShipPackingListInfo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShipPackingListInfo] @PlNo as int
AS
BEGIN

select * into #T1 from (select Id,PLNo,ShipItemId,ShipBoxId,ShipCartonId,ShipPalletId,PkgId,ItemId,ItemDescr,SerialNo,LotNo,TravLotNum,Qty,UOM,NoRolls,GrossWt,Location,Tops,MfgDate,CustomerPN,Scanned,ErrorMsg = NULL from dbo.ShipPackingListDetail as spdtl where PLNo = @PlNo
UNION
select Id,PLNo,ShipItemId,ShipBoxId,ShipCartonId,ShipPalletId,PkgId,ItemId,ItemDescr,SerialNo,LotNo,TravLotNum,Qty,UOM,NoRolls,GrossWt,Location,Tops,MfgDate,CustomerPN,Scanned  = '0',ErrorMsg from dbo.tmpShipPackingList as tmp where PLNo = @PlNo and DoNotAddToPL = 1) A

select * from #T1

drop table #T1

END
GO
