USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCICheckForExistingPartsEdit]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCICheckForExistingPartsEdit] @ParentOrderNo as varchar(8), @Machine as varchar(10)
AS
BEGIN
	--Declare @ParentOrderNo as varchar(8) = 'P0005555' 
	--Declare @Machine as varchar(10) = 'K3' 

	SELECT Count(*) AS PartsEditCNT
	FROM [W005].[dbo].[CCIParentOrderCutList]
	WHERE ParentOrderNo = @ParentOrderNo
		  and IsPartsEdit = 1 
		  and IsPartsEditEndTable = 0 
		  and IsInProcess = 0 
		  and TableId in (SELECT TableId+1 FROM [W005].[dbo].[CCIParentOrderCutList]
							WHERE ParentOrderNo = @ParentOrderNo
								  and IsPartsEdit = 1 
								  and IsPartsEditEndTable = 0 
								  and IsInProcess = 1
								  and CutOnTable = @Machine)
END
GO
