USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetBOMRequirementsInfoForItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBOMRequirementsInfoForItem] @OrderNo as varchar(8), @ReleaseNo as int, @ComponentId as varchar(24), @TravLotNum as Varchar(16)
AS
BEGIN
	SELECT RR.Description, M.ComponentId
	FROM [005].dbo.tblMpOrderReleases O
	INNER JOIN [005].[dbo].[tblMpRequirements] R ON R.ReleaseId = O.Id
	INNER JOIN [005].dbo.tblMpMatlSum M ON M.TransId = R.TransId
	INNER JOIN [005].dbo.tblMpMatlDtl D ON D.TransId = M.TransId
	LEFT JOIN [005].dbo.tblMpMatlDtlExt E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
	INNER JOIN [005].dbo.tblMpRequirements RR ON RR.TransId = R.ParentId
	WHERE O.OrderNo = @OrderNo aND O.ReleaseNo = @ReleaseNo AND M.ComponentId = @ComponentId AND (E.LotNum IS NULL OR E.LotNum = @TravLotNum)

END

GO
