USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCommercialInvDtlAERO]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spCommercialInvDtlAERO]
	@OrderNo as varchar(8), @PLNo as int, @SM_UOM as bit
AS
BEGIN

 --   declare @OrderNo as varchar(8) = '00005688'
	--declare @PLNo as int = 12076	
	--declare @SM_UOM as bit = 1						

-- **** Need to obtain both of the below values, one for ATL and one for STD ************
--AreaMSF = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='MSF'),
--AreaSM = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='SM'),

--IF @SM_UOM = 1
	BEGIN
		SELECT  sotd.ItemId As ItemId,sotd.Descr As Descr,sotd.UnitsSell,sotd.QtyOrdSell,sotd.UnitPriceSell,
			QtyShipped = CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10)), 
			ExtPrice = sotd.UnitPriceSell * CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10))
		FROM [005].[dbo].[trav_tblSoTransDetail_view] As sotd
			INNER JOIN [W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=sotd.TransID 
			INNER JOIN [W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=sotd.ItemId
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId =spld.ShipPalletId
			LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
			LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom= sotd.UnitsSell -- Changed for Commercial Invoice. 
		WHERE sotd.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND sotd.[Status]=0
		GROUP BY sotd.ItemId,sotd.Descr,sotd.UnitsSell,sotd.QtyOrdSell,sotd.UnitPriceSell

		UNION ALL

		SELECT arDtl.PartId As ItemId,arDtl.[Desc] As Descr,arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell,
			QtyShipped = CAST(SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10)), 
			ExtPrice = arDtl.UnitPriceSell * CAST (SUM(EI.TotalQty / U.ConvFactor) as decimal (20,10))
		FROM [005].[dbo].[tblArHistDetail] AS arDtl 
			INNER JOIN [W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=arDtl.TransID 
			INNER JOIN [W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=arDtl.PartId
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
			LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
			LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom= arDtl.UnitsSell
		WHERE arDtl.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND arDtl.[Status]=0
		GROUP BY arDtl.PartId,arDtl.[Desc],arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell
	END
--ELSE
--	BEGIN

--		SELECT  sotd.ItemId As ItemId,sotd.Descr As Descr,sotd.UnitsSell,sotd.QtyOrdSell,sotd.UnitPriceSell,
--			QtyShipped = CAST(SUM(spld.Qty) as decimal(20,0)),
--			ExtPrice = CAST(sotd.UnitPriceSell * SUM(spld.Qty) as decimal(20,0))
--		FROM [005].[dbo].[trav_tblSoTransDetail_view] As sotd 
--			INNER JOIN [W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=sotd.TransID 
--			INNER JOIN [W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=sotd.ItemId
--			--INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
--			--LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
--			LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom='MSF'
--		WHERE sotd.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND sotd.[Status]=0
--		GROUP BY sotd.ItemId,sotd.Descr,sotd.UnitsSell,sotd.QtyOrdSell,sotd.UnitPriceSell
		
--		UNION ALL

--		SELECT arDtl.PartId As ItemId,arDtl.[Desc] As Descr,arDtl.UnitsSell,arDtl.QtyOrdSell,arDtl.UnitPriceSell,
--			QtyShipped = SUM(spld.Qty),
--			ExtPrice = arDtl.UnitPriceSell * SUM(spld.Qty)
--		FROM [005].[dbo].[tblArHistDetail] AS arDtl 
--			INNER JOIN [W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=arDtl.TransID 
--			INNER JOIN [W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=arDtl.PartId
--			--INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
--			--LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
--			LEFT JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId=spld.ItemId AND U.Uom='MSF'
--		WHERE arDtl.TransId=@OrderNo AND spl.OrderNo=@OrderNo AND spl.PLNo=@PLNo AND arDtl.[Status]=0
--		GROUP BY arDtl.PartId, arDtl.[Desc], arDtl.UnitsSell, arDtl.QtyOrdSell, arDtl.UnitPriceSell
--	END

	

	
END
GO
