USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateTraverseCF]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateTraverseCF] @TravSQL as varchar(max)
AS
BEGIN
	Execute (@TravSQL)
END
GO
