USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spRoomComboThawHrsMet]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRoomComboThawHrsMet] @ItemId AS VARCHAR(24), @SerNum AS VARCHAR(35), @ProgramId AS int
AS
BEGIN

--DECLARE @ItemId AS VARCHAR(24) = 'RM-TORA2352-PRP'
--DECLARE @SerNum AS VARCHAR(35) = 'AMTEST070820191'
--DECLARE @ProgramId AS INT = -1

-- if @ProgramId is less than 0, set to NULL to return all
IF @ProgramId < 0 
BEGIN
	SET @ProgramId = NULL
END

SELECT 
	ProgramId,
	RoomComboThawHrsMet = CAST(IIF(RemainingRoomThawHrs <= 0, 1, 0) AS bit)
FROM (
	SELECT 
		OTStatus.ProgramId,
		RemainingRoomThawHrs = CAST(DATEDIFF(MINUTE,GETDATE(),ThawCompletedDT)AS FLOAT)/60

	FROM OutTimeItemStatus OTStatus
	WHERE OTStatus.ItemId=@ItemId AND (OTStatus.SerialNo=@SerNum OR OTStatus.TravSerNum=@SerNum) 
			AND OTStatus.BinType IN ('ROOM', 'WAREHOUSE') AND (OTStatus.ProgramId=@ProgramId OR @ProgramId IS NULL)
	GROUP BY OTStatus.ProgramId, ThawCompletedDT
) A

END
GO
