USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebExtrudingCartonLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebExtrudingCartonLabel] 
	@CtnId as int,
	@ItemId as varchar(24),
	@CustData as varchar(30),
	@PrintCopies as int

	
AS
BEGIN
	SELECT sc.ShipCartonNo, ItemId=@ItemId, CustData=@CustData, ii.Descr, si.OpInit, FORMAT(GETDATE(),'ddMMyyH') As DateCode, FORMAT(GETDATE(),'MMDDYY') As MMDDYY,  
		PrintCopies=@PrintCopies, SUM(si.NoRolls) As NoRolls, SUM(si.Quantity) As CtnQty,si.UOM, CtnQtyKG=(SUM(si.Quantity) * 0.4535924),
		CustomerPN = STUFF
			(
				(
					SELECT DISTINCT '/' + iia.AliasID
					FROM [005].[dbo].[tblInItemAlias] as iia
					WHERE iia.ItemID=@ItemId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			),
		LotNo = STUFF
			(
				(
					SELECT DISTINCT '/' + si.LotNo + ISNULL('/' + si.AdditionalLotNo,'') 
					FROM [W005].[dbo].[ShipItem]  as si
					WHERE si.ShipCartonId=@CtnId
					FOR XML PATH(''), TYPE
				).value('.[1]','nvarchar(max)'),
				1,1,''
			)
	FROM [005].[dbo].[tblInItem] As ii INNER JOIN [W005].[dbo].[ShipItem] as si ON si.ItemId=ii.ItemId
		INNER JOIN [W005].[dbo].[ShipCarton] as sc ON sc.Id=si.ShipCartonId
	WHERE ii.ItemId=@ItemId AND sc.Id=@CtnId
	GROUP BY ii.Descr,si.OpInit,si.NoRolls,si.UOM, sc.ShipCartonNo

END
GO
