USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebLottedPullMfgPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebLottedPullMfgPalletLabel] @PalletId as int
AS
BEGIN

--DECLARE @PalletId as int = 22

	SELECT DISTINCT
			I.ItemId,
			I.Descr,
			SP.ShipPalletNo,
			SP.DateCreated, 
			PalletQty = SUM(SI.Quantity), 
			SI.UOM,

			LotNo = UPPER(STUFF
				(
					(
						SELECT DISTINCT '/' + S.LotNo
						FROM [W005].[dbo].[ShipItem] S
						WHERE S.ShipPalletId=@PalletId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)),

			OpInit = UPPER(STUFF
				(
					(
						SELECT DISTINCT ',' + S.OpInit
						FROM [W005].[dbo].[ShipItem] S
						WHERE S.ItemID=I.ItemId AND S.ShipPalletId=@PalletId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)),

			CustomerPN = STUFF
				(
					(
						SELECT DISTINCT '/' + A.AliasID
						FROM [005].[dbo].[tblInItemAlias] as A
						WHERE A.ItemID=I.ItemId
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				),

			ShipToAddr = L.Addr1 + ISNULL(NULLIF(', '+L.Addr2, ', '), ''),
			ShipToCityStateZip = L.City + ', ' + L.Region + ' ' + L.PostalCode,
			ShipToPhone = '('+SUBSTRING(L.Phone, 1, 3)+') ' + SUBSTRING(L.Phone, 4, 3) + '-' + SUBSTRING(L.Phone, 7, 4)

	FROM [W005].[dbo].[ShipPallet] SP 		
		 INNER JOIN [W005].[dbo].[ShipItem] SI ON SP.Id=SI.ShipPalletId 
		 INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId=SI.ItemId
		 INNER JOIN [005].[dbo].[tblInLoc] L ON L.LocId = SI.Location
	WHERE SP.Id=@PalletId
	GROUP BY SP.ShipPalletNo, I.ItemId, I.Descr, SP.DateCreated, SI.UOM, L.Addr1, L.Addr2, L.City, L.Region, L.PostalCode, L.Phone


END
GO
