USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackTallyRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIPackTallyRpt] @PkgId AS VARCHAR(10)
AS
BEGIN


--DECLARE @PkgId AS VARCHAR(10) = 'P000000002'



IF LEFT(@PkgId,1) = 'P'
BEGIN
	SELECT DISTINCT A.JobNo, A.ItemId, @PkgId AS PkgId,(IsNULL(A.AliasID,'') + '-' + IsNULL(A.CustRevNo,'')) AS CustPNRev,A.KitRange, A.TotalKitsForSerNumRange, SUM(A.TotalKitsForSerNumRange) AS TotalKitsForPkgId, ('1' + '|' + @PkgId) AS QRcode
	FROM
		(SELECT 
			si.ProdOrderNo AS JobNo 
			,si.ItemId
			, ia.AliasID
			, CASE WHEN
				EXISTS (
					SELECT [cf_Customer Revision No] 
					FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId))
					GROUP BY [cf_Customer Revision No] 
					HAVING LEN([cf_Customer Revision No]) > 0
					)
					THEN
						(SELECT [cf_Customer Revision No] AS CustRevNo
						FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					 ELSE 
						(SELECT [cf_Customer Revision No] AS CustRevNo FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
																						(SELECT TOP 1 RevisionNo FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] WHERE OrderNo=
									 													(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					END AS CustRevNo
		   ,KitRange =	
					(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipPalletId = sp.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum ASC)
						+ ' -> ' +
						(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipPalletId = sp.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum DESC)
			,TotalKitsForSerNumRange = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=sp.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo)
			,TotalKitsForItemId = SUM(si.Quantity)
			 
		FROM [W005].[dbo].[ShipPallet] sp 
			 INNER JOIN [W005].[dbo].[ShipItem] si ON si.ShipPalletId=sp.Id
			 INNER JOIN [005].[dbo].[tblInItem] ii ON si.ItemId=ii.ItemId
			 LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1
		WHERE sp.ShipPalletNo = @PkgId
		GROUP BY si.ProdOrderNo,si.ItemId,sp.Id , ia.AliasID)
	AS A 
	GROUP BY A.JobNo, A.ItemId,A.AliasID,A.CustRevNo,A.KitRange, A.TotalKitsForSerNumRange
END
ELSE IF LEFT(@PkgId,1) = 'C'
BEGIN
	SELECT DISTINCT A.JobNo, A.ItemId, @PkgId AS PkgId, (IsNULL(A.AliasID,'') + '-' + IsNULL(A.CustRevNo,'')) AS CustPNRev,A.KitRange, A.TotalKitsForSerNumRange, SUM(A.TotalKitsForSerNumRange) AS TotalKitsForPkgId, ('1' + '|' + @PkgId) AS QRcode
	FROM
		(SELECT 
			si.ProdOrderNo AS JobNo 
			,si.ItemId
			, ia.AliasID
			, CASE WHEN
				EXISTS (
					SELECT [cf_Customer Revision No] 
					FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId))
					GROUP BY [cf_Customer Revision No] 
					HAVING LEN([cf_Customer Revision No]) > 0
					)
					THEN
						(SELECT [cf_Customer Revision No] AS CustRevNo
						FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					 ELSE 
						(SELECT [cf_Customer Revision No] AS CustRevNo FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
																						(SELECT TOP 1 RevisionNo FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] WHERE OrderNo=
									 													(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					END AS CustRevNo																		
		   ,KitRange =	
					(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipCartonId = sc.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum ASC)
						+ ' -> ' +
						(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipCartonId = sc.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum DESC)
			,TotalKitsForSerNumRange = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo)
			,TotalKitsForItemId = SUM(si.Quantity)
			 
		FROM [W005].[dbo].[ShipCarton] sc 
			 INNER JOIN [W005].[dbo].[ShipItem] si ON si.ShipCartonId=sc.Id
			 INNER JOIN [005].[dbo].[tblInItem] ii ON si.ItemId=ii.ItemId
			 LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1
		WHERE sc.ShipCartonNo = @PkgId
		GROUP BY si.ProdOrderNo,si.ItemId,sc.Id , ia.AliasID)
	AS A 
	GROUP BY A.JobNo, A.ItemId,A.AliasID,A.CustRevNo,A.KitRange, A.TotalKitsForSerNumRange
END
ELSE IF LEFT(@PkgId,1) = 'B'
BEGIN
	SELECT DISTINCT A.JobNo, A.ItemId,A.AliasID, @PkgId AS PkgId, (IsNULL(A.AliasID,'') + '-' + IsNULL(A.CustRevNo,'')) AS CustPNRev, A.KitRange, A.TotalKitsForSerNumRange, SUM(A.TotalKitsForSerNumRange) AS TotalKitsForPkgId, ('1' + '|' + @PkgId) AS QRcode
	FROM
		(SELECT 
			si.ProdOrderNo AS JobNo 
			,si.ItemId
			, ia.AliasID
			, CASE WHEN
				EXISTS (
					SELECT [cf_Customer Revision No] 
					FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId))
					GROUP BY [cf_Customer Revision No] 
					HAVING LEN([cf_Customer Revision No]) > 0
					)
					THEN
						(SELECT [cf_Customer Revision No] AS CustRevNo
						FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
														(SELECT RevisionNo FROM [005].[dbo].[tblMpOrder] WHERE OrderNo=
														(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					 ELSE 
						(SELECT [cf_Customer Revision No] AS CustRevNo FROM [005].[dbo].[trav_tblMbAssemblyHeader_view] WHERE AssemblyId=si.ItemId AND RevisionNo= 
																						(SELECT TOP 1 RevisionNo FROM [005].[dbo].[trav_tblMpHistoryOrderReleases_View] WHERE OrderNo=
									 													(SELECT TOP 1 OrderNo FROM  [W005].[dbo].[CCIOrderReleaseInfo] WHERE [ParentOrderNo]=si.ProdOrderNo AND ItemId=si.ItemId)))
					
					END AS CustRevNo
		   ,KitRange =	
					(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipBoxId = sb.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum ASC)
						+ ' -> ' +
						(SELECT TOP 1 TravSerNum 
						FROM [W005].[dbo].[ShipItem] 
						WHERE ShipBoxId = sb.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo
						ORDER BY TravSerNum DESC)
			,TotalKitsForSerNumRange = (SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=sb.Id AND ItemId=si.ItemId AND ProdOrderNo=si.ProdOrderNo)
			,TotalKitsForItemId = SUM(si.Quantity)
			 
		FROM [W005].[dbo].[ShipBox] sb 
			 INNER JOIN [W005].[dbo].[ShipItem] si ON si.ShipBoxId=sb.Id
			 INNER JOIN [005].[dbo].[tblInItem] ii ON si.ItemId=ii.ItemId
			 LEFT JOIN [005].[dbo].[tblInItemAlias] ia ON ii.ItemId=ia.ItemID AND ia.AliasType=1
		WHERE sb.ShipBoxNo = @PkgId
		GROUP BY si.ProdOrderNo,si.ItemId,sb.Id , ia.AliasID)
	AS A 
	GROUP BY A.JobNo, A.ItemId,A.AliasID,A.CustRevNo,A.KitRange, A.TotalKitsForSerNumRange
END





END

GO
