USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackingListBoxData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPackingListBoxData]
	@ShipBoxNo as varchar(10), @SO as varchar(8),@PLNo as int
AS
BEGIN
	DECLARE @ISExtruding as bit
	DECLARE @IsOnAPackingList as bit
	DECLARE @AlreadyShipped as bit
	DECLARE @OrderNotFinalized as bit
	DECLARE @PostedToTraverse as bit
	DECLARE @ItemId as varchar(24)
	DECLARE @CFactor as float
	DECLARE @TQty as float
	DECLARE @NoRolls as int
	DECLARE @UOM as varchar(5)
	DECLARE @IsIssued as bit

	SELECT @IsExtruding = IIF(COUNT(ah.AssemblyId) > 0, 1, 0)
	FROM [W005].[dbo].[ShipItem] As si 
		 INNER JOIN [W005].[dbo].[ShipBox] As s ON si.ShipBoxId=s.Id
		 INNER JOIN [005].[dbo].[tblMbAssemblyHeader] ah ON si.ItemId = ah.AssemblyId
	     INNER JOIN [005].[dbo].[tblMbAssemblyRouting] r ON ah.Id=r.HeaderId 	
		 WHERE r.MachineGroupId Like 'EXT%' AND s.ShipBoxNo=@ShipBoxNo
		
	SELECT @IsOnAPackingList = CAST(IIF(@ShipBoxNo In 
									(SELECT d.PkgId 
									FROM [W005].[dbo].[ShipPackingListDetail] d INNER JOIN [W005].[dbo].[ShipPackingList] p ON d.PLNo=p.PLNo
									WHERE p.RemoteWarehouse = 'NO' 
									),1,0) as bit)
	IF @IsOnAPackingList = 0
			SET @AlreadyShipped = 0
	IF @IsOnAPackingList = 1
	BEGIN
		IF EXISTS (
					(SELECT ReturnInDtlId FROM [W005].[dbo].[ReturnedInDetail]
						WHERE PkgId = @ShipBoxNo)
					)
		BEGIN
			SET @AlreadyShipped = 0
		END ELSE BEGIN
			SET @AlreadyShipped = 1
		END
	END
				
	SELECT @ItemId = s.ItemId FROM [W005].[dbo].[ShipBox] As b INNER JOIN [W005].[dbo].[ShipItem] As s ON s.ShipBoxId=b.Id WHERE b.ShipBoxNo=@ShipBoxNo
	SELECT @CFactor = CASE WHEN (SELECT TOP 1 td.ConversionFactor FROM [005].[dbo].[tblSoTransDetail] td WHERE td.ItemId=@ItemId AND td.TransID=@SO AND td.Status=0) Is Not null THEN (SELECT TOP 1 td.ConversionFactor FROM [005].[dbo].[tblSoTransDetail] td WHERE td.ItemId=@ItemId AND td.TransID=@SO AND td.Status=0)
						WHEN (SELECT TOP 1 ar.ConversionFactor FROM [005].[dbo].[tblArHistDetail] ar WHERE ar.TransID =@SO AND ar.PartID=@ItemId AND ar.Status=0 AND ar.QtyShipSell<>0 AND ar.ActShipDate Is Not null) Is Not null THEN (SELECT TOP 1 ar.ConversionFactor FROM [005].[dbo].[tblArHistDetail] ar WHERE ar.TransID =@SO AND ar.PartID=@ItemId AND ar.Status=0 AND ar.QtyShipSell<>0 AND ar.ActShipDate Is Not null)
						ELSE 1
						END
	SELECT @TQty = SUM(i.Quantity) FROM [W005].[dbo].[ShipItem] i WHERE i.ShipBoxId=(SELECT Id FROM [W005].[dbo].[ShipBox] WHERE ShipBoxNo=@ShipBoxNo)
	SELECT @NoRolls = SUM(i.NoRolls) FROM [W005].[dbo].[ShipItem] as i WHERE i.ShipBoxId=(SELECT Id FROM [W005].[dbo].[ShipBox] WHERE ShipBoxNo=@ShipBoxNo)
	SELECT @UOM = CASE WHEN (SELECT TOP 1 td.UnitsSell FROM [005].[dbo].[tblSoTransDetail] td WHERE td.ItemId=@ItemId AND td.TransID=@SO AND td.Status=0) Is Not null THEN (SELECT TOP 1 td.UnitsSell FROM [005].[dbo].[tblSoTransDetail] td WHERE td.ItemId=@ItemId AND td.TransID=@SO AND td.Status=0)
						WHEN (SELECT TOP 1 ar.UnitsSell FROM [005].[dbo].[tblArHistDetail] ar WHERE ar.TransID =@SO AND ar.PartID=@ItemId AND ar.Status=0 AND ar.QtyShipSell<>0 AND ar.ActShipDate Is Not null) Is Not null THEN (SELECT TOP 1 ar.UnitsSell FROM [005].[dbo].[tblArHistDetail] ar WHERE ar.TransID =@SO AND ar.PartID=@ItemId AND ar.Status=0 AND ar.QtyShipSell<>0 AND ar.ActShipDate Is Not null)
						ELSE 'EA'
						END
	IF EXISTS (SELECT si.Id FROM [W005].[dbo].[ShipBox] As b INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipBoxId=b.Id WHERE b.ShipBoxNo=@ShipBoxNo AND si.Issued = 1)
	BEGIN
		SET @IsIssued = 1
	END ELSE BEGIN
		SET @IsIssued = 0
	END

	
	SELECT @OrderNotFinalized = CAST(iif(@ISExtruding = 1 
										,0
										,IIF(@ItemId
												Not In (SELECT TOP 1 AssemblyId
														FROM [W005].[dbo].[OrderReleaseSummary]
														WHERE OrderNo IN (SELECT si.ProdOrderNo FROM [W005].[dbo].[ShipItem] si INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id=si.ShipBoxId AND si.ItemId=@ItemId AND ((si.PostedToTraverse=1) OR (si.DateCreated<'2/1/2016'))) 
															AND ReleaseNo IN (SELECT si.ProdOrderRelNo FROM [W005].[dbo].[ShipItem] si INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id=si.ShipBoxId AND si.ItemId=@ItemId AND ((si.PostedToTraverse=1) OR (si.DateCreated<'2/1/2016')))
														)
												,IIF(((SELECT TOP 1 AssemblyId FROM [005].[dbo].[tblMbAssemblyHeader] WHERE Id IN
																			(SELECT TOP 1 HeaderId FROM [005].[dbo].[tblMbAssemblyDetail] 
																							WHERE ComponentID =@ItemId
																								AND DetailType=5)) /*DetailType=5 means ByProduct*/ 
																					NOT IN (SELECT TOP 1  AssemblyId
																							FROM [W005].[dbo].[OrderReleaseSummary]
																							WHERE OrderNo IN  (SELECT si.ProdOrderNo FROM [W005].[dbo].[ShipItem] si INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id=si.ShipBoxId AND si.ItemId=@ItemId AND ((si.PostedToTraverse=1) OR (si.DateCreated<'2/1/2016')))
																								AND ReleaseNo IN (SELECT si.ProdOrderRelNo FROM [W005].[dbo].[ShipItem] si INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id=si.ShipBoxId AND si.ItemId=@ItemId AND ((si.PostedToTraverse=1) OR (si.DateCreated<'2/1/2016'))) ))
												,1 /*true*/
												,0 /*false*/)
										,0)
									) as bit)

	SELECT @PostedToTraverse = CAST(IIF((SELECT MIN(CAST(PostedToTraverse AS Int)) FROM [W005].[dbo].[ShipItem] si INNER JOIN [W005].[dbo].[ShipBox] sb ON sb.Id=si.ShipBoxId WHERE sb.ShipBoxNo = @ShipBoxNo AND si.ItemId=@ItemId) = 0
									,0,1) AS bit)
			
	SELECT DISTINCT sb.Id,sb.ShipBoxNo, si.ItemId,ii.Descr,
		si.Location,sb.GrossWt,sb.DateCreated,
		TotalQty = CAST(@TQty/@CFactor as decimal(20,10)), 
		UOM = @UOM,
		TotalNoRolls = @NoRolls,
		TravLotNum = si.TravLotNum, 
		LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
															(
																(
																	SELECT DISTINCT '/' + LEFT(I.LotNo,8)
																	FROM [W005].[dbo].[ShipItem] as I
																	WHERE I.ShipBoxId=sb.Id AND I.Deleted=0
																	FOR XML PATH(''), TYPE
																).value('.[1]','nvarchar(max)'),
																1,1,''
															)
					ELSE  STUFF
								(
									(
										SELECT DISTINCT '/' + I.LotNo 
										FROM [W005].[dbo].[ShipItem] as I
										WHERE I.ShipBoxId=sb.Id AND I.Deleted=0
										FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),
									1,1,''
								)
					END,
		CustomerPN = STUFF
		(
			(
				SELECT DISTINCT '/' + IIA.AliasID
				FROM [005].[dbo].[tblInItemAlias] As IIA
				inner join [W005].[dbo].[ShipPackingList] as SPL on SPL.CustId = IIA.RefID --Added 04/16/2019 TFS 646
			--	inner join [w005].dbo.ShipPackingListDetail as Dtl on Dtl.PLNo = SPL.PLNo
				WHERE IIA.ItemID=si.ItemId and SPL.PLNo = @PLNo
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		),
		sb.Complete, sb.Deleted,sb.NotForShipment,sb.Shipped
		,PostedToTraverse = @PostedToTraverse
		,IsIssued = @IsIssued,
		AlreadyShipped = @AlreadyShipped,
		OrderNotFinalized = @OrderNotFinalized
	FROM [W005].[dbo].[ShipBox] As sb INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipBoxId=sb.Id 
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 

	WHERE sb.ShipBoxNo=@ShipBoxNo 
	
	
END
GO
