USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMaxAssemblyRevision]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetMaxAssemblyRevision]
	@AssemblyId as varchar(24)
AS
BEGIN
	
		SELECT MAX(m.RevisionNo) As RevisionNo
		FROM  [005].[dbo].[tblMbAssemblyHeader] as m
		WHERE m.AssemblyId=@AssemblyId
					

END

GO
