USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spDailyQAHoldRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDailyQAHoldRpt]
AS
BEGIN

	SELECT DISTINCT P.Id AS UnitID, P.ShipPalletNo AS PkgId, P.GrossWt, I.[ItemId]
      ,TravLotNum =  STUFF
				(
					(
						SELECT DISTINCT '/' + si.TravLotNum 
						FROM [W005].[dbo].ShipItem as si
						WHERE  si.ShipPalletId=P.Id 
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
      ,ISNULL(I.Qty, 0) as Qty
      ,I.[UOM]
      ,P.[Complete]
      ,P.[DateCreated]
	  ,P.[LastUpdateDate]
	FROM [W005].[dbo].[ShipPallet] P LEFT JOIN
		(SELECT ShipPalletId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipPalletId, ItemId, Location, UOM) I ON I.ShipPalletId = P.Id
	WHERE I.Location = 'QA HOLD' AND Deleted=0 AND Shipped=0 AND PhantomAdjOut=0 AND UsedByProduction=0 
		AND P.Shipped=0 AND P.Deleted=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0
UNION ALL
	SELECT DISTINCT C.Id AS UnitID, C.ShipCartonNo AS PkgId, C.GrossWt, I.[ItemId]
      ,TravLotNum =  STUFF
				(
					(
						SELECT DISTINCT '/' + si.TravLotNum 
						FROM [W005].[dbo].ShipItem as si
						WHERE  si.ShipCartonId=C.Id 
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
      ,ISNULL(I.Qty, 0) as Qty
      ,I.[UOM]
      ,C.[Complete]
      ,C.[DateCreated]
	  ,C.[LastUpdateDate]
	FROM [W005].[dbo].[ShipCarton] C LEFT JOIN
		(SELECT ShipCartonId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipCartonId, ItemId, Location, UOM) I ON I.ShipCartonId = C.Id
	WHERE I.Location = 'QA HOLD' AND Deleted=0 AND Shipped=0 AND PhantomAdjOut=0 AND UsedByProduction=0 
		AND ShipPalletId Is Null AND C.Shipped=0 AND C.Deleted=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0
UNION ALL
	SELECT DISTINCT B.Id AS UnitID, B.ShipBoxNo AS PkgId, B.GrossWt, I.[ItemId]
      ,TravLotNum =  STUFF
				(
					(
						SELECT DISTINCT '/' + si.TravLotNum 
						FROM [W005].[dbo].ShipItem as si
						WHERE  si.ShipBoxId=B.Id 
						FOR XML PATH(''), TYPE
					).value('.[1]','nvarchar(max)'),
					1,1,''
				)
      ,ISNULL(I.Qty, 0) as Qty
      ,I.[UOM]
      ,B.[Complete]
      ,B.[DateCreated]
	  ,B.[LastUpdateDate]
	FROM [W005].[dbo].[ShipBox] B LEFT JOIN
		(SELECT ShipBoxId, ItemId, Location, UOM, SUM(Quantity) AS QTY FROM [W005].[dbo].[ShipItem] GROUP BY ShipBoxId, ItemId, Location, UOM) I ON I.ShipBoxId = B.Id
	WHERE I.Location = 'QA HOLD' AND Deleted=0 AND Shipped=0 AND PhantomAdjOut=0 AND UsedByProduction=0 
		AND ShipPalletId Is Null AND ShipCartonId Is Null AND B.Shipped=0 AND B.Deleted=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0

END
GO
