USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIParentOrderUnGrouped]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIParentOrderUnGrouped]
AS
BEGIN
	DECLARE @SalesOrder as varchar(8) 
	DECLARE @EstCompletionDate as Datetime
	DECLARE @LocId as varchar(10)
	DECLARE @MfgGroup as varchar(75)
	DECLARE @MfgMethod as varchar(50)
	DECLARE @iCnt as integer
	DECLARE @dMod as decimal

	SELECT        R.Id
				, R.SalesOrder
				, O.LocID
				, CONVERT(datetime, R.EstCompletionDate, 101) AS EstCompletionDate 
				, CONVERT(datetime, R.EstStartDate, 101) AS EstStartDate
				, CONVERT(datetime, R.EstCompletionDate, 101) AS RequiredShipDate 
				, IIF(R.[cf_Parent Order] = '', NULL, R.[cf_Parent Order]) AS ParentOrder
				, R.OrderNo
				, R.ReleaseNo
				, R.Id AS ReleaseId
				, O.AssemblyId
				, O.RevisionNo
				, R.Qty
				, R.UOM
				, I.[cf_FG Program] AS Program
				, M.ProgramId
				, M.ProgramName
				, R.CustId
				, R.PurchaseOrder
				, R.Status
				, M.Name AS MfgGroup
				, M.MfgMethod
				, M.DefaultMFGGroup
				, M.ConveyorTablesOnly
				, M.FixedQty
				, M.SetRunTimeMinutes
				, M.AllowVariableKitList
				, M.MFGGrpRevision
				, M.Id as CCIMFGGrpId
				, Cast(0 as bit) AS Err
				, Cast(Null as varchar(100)) AS ErrMsg
	INTO #T1
	FROM [005].dbo.trav_tblMpOrderReleases_view AS R INNER JOIN
		 [005].dbo.tblMpOrder AS O ON O.OrderNo = R.OrderNo INNER JOIN
		 [005].dbo.trav_tblInItem_view AS I ON I.ItemId = O.AssemblyId LEFT JOIN
		 [W005].dbo.vCCIManufacturingGroupKit AS M ON M.ItemId = I.ItemId AND M.Revision = O.RevisionNo
	WHERE LEN(R.[cf_Parent Order]) = 0 or R.[cf_Parent Order] IS NULL AND I.[cf_Kitted (WI)] = 1 
	AND M.Id = (SELECT MAX(Id) FROM CCIManufacturingGroup WHERE ProgramId = M.ProgramId AND Name = M.Name AND Revision = O.RevisionNo)

    UPDATE #T1 Set Err = 1, ErrMsg = 'ORDER/RELEASE ALREADY IN HISTORY' 
	FROM #T1 INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = #T1.OrderNo AND R.ReleaseNo = #T1.ReleaseNo

	UPDATE #T1 Set Err = 1, ErrMsg = 'NO DEFAULT MFG GROUP FOUND!'
	WHERE MfgGroup is NULL

	--SELECT    SalesOrder
	--		, EstCompletionDate
	--		, LocID
	--		, MfgGroup
	--		, Count(AssemblyId) AS SalesOrderKitCount
	--		, MFGGrpKitCount = (Select Count(ItemId) FROM [dbo].[vCCIManufacturingGroupKit] WHERE Name = A.MfgGroup and Revision = A.RevisionNo)
	--INTO #T2
	--FROM #T1 AS A
	--WHERE Err = 0 AND ParentOrder IS NULL AND SalesOrder is NOT NULL AND (AllowVariableKitList IS NULL OR AllowVariableKitList = 0)
	--GROUP BY SalesOrder,EstCompletionDate, LocID, MfgGroup, RevisionNo

	SELECT  EstCompletionDate
			, LocID
			, MfgGroup
			, Count(AssemblyId) AS MPOrderKitCount
			, MFGGrpKitCount = (Select Count(ItemId) FROM [dbo].[vCCIManufacturingGroupKit] WHERE Name = A.MfgGroup and Revision = A.RevisionNo)
	INTO #T2A
	FROM #T1 AS A
	WHERE Err = 0 AND ParentOrder IS NULL 
	              --AND SalesOrder is NULL 
				  AND (AllowVariableKitList IS NULL OR AllowVariableKitList = 0)
	GROUP BY EstCompletionDate, LocID, MfgGroup, RevisionNo
	--GROUP BY SalesOrder,EstCompletionDate, LocID, MfgGroup, RevisionNo

	--UPDATE #T1 Set Err = 1, ErrMsg = 'SALES/PRODUCTION ORDERS DO NOT FULFILL DEFINED MFG GROUP KITS!'
	--FROM #T2 
	--WHERE #T2.SalesOrderKitCount < #T2.MFGGrpKitCount
	--AND #T1.MfgGroup = #T2.MfgGroup
	--AND #T1.SalesOrder = #T2.SalesOrder
	--AND #T1.EstCompletionDate >= #T2.EstCompletionDate
	--AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2.EstCompletionDate)
	--AND #T1.LocID = #T2.LocID 
	--AND #T1.Err = 0

	UPDATE #T1 Set Err = 1, ErrMsg = 'SALES/PRODUCTION ORDERS DO NOT FULFILL DEFINED MFG GROUP KITS!'
	FROM #T2A 
	WHERE #T2A.MPOrderKitCount < #T2A.MFGGrpKitCount
	AND #T1.MfgGroup = #T2A.MfgGroup
	--AND #T1.SalesOrder = #T2A.SalesOrder
	AND #T1.EstCompletionDate >= #T2A.EstCompletionDate
	AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2A.EstCompletionDate)
	AND #T1.LocID = #T2A.LocID 
	AND #T1.Err = 0

	--UPDATE #T1 Set Err = 1, ErrMsg = 'TOO MANY SALES/PRODUCTION ORDERS WITH SAME REQ. SHIP DATE/EST. COMPLETION DATE!'
	--FROM #T2 
	--WHERE #T2.SalesOrderKitCount > #T2.MFGGrpKitCount
	--AND #T1.MfgGroup = #T2.MfgGroup
	--AND #T1.SalesOrder = #T2.SalesOrder
	--AND #T1.EstCompletionDate >= #T2.EstCompletionDate
	--AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2.EstCompletionDate)
	--AND #T1.LocID = #T2.LocID 
	--AND #T1.Err = 0

	UPDATE #T1 Set Err = 1, ErrMsg = 'TOO MANY SALES/PRODUCTION ORDERS WITH SAME REQ. SHIP DATE/EST. COMPLETION DATE!'
	FROM #T2A 
	WHERE #T2A.MPOrderKitCount > #T2A.MFGGrpKitCount
	AND #T1.MfgGroup = #T2A.MfgGroup
	--AND #T1.SalesOrder = #T2A.SalesOrder
	AND #T1.EstCompletionDate >= #T2A.EstCompletionDate
	AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2A.EstCompletionDate)
	AND #T1.LocID = #T2A.LocID 
	AND #T1.Err = 0

	DECLARE iCur CURSOR LOCAL FOR SELECT EstCompletionDate, LocID, MfgGroup, MFGMethod FROM #T1 AS A WHERE Err = 0 AND AllowVariableKitList = 0 GROUP BY EstCompletionDate, LocID, MfgGroup, MFGMethod
	OPEN iCur
	FETCH NEXT FROM iCur into @EstCompletionDate, @LocId, @MfgGroup, @MfgMethod
	While (@@Fetch_Status) = 0
	BEGIN
		IF @MfgMethod = 'SIMPLE'
			BEGIN
				SELECT @iCNT = COUNT(*) FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
				SELECT @iCNT = COUNT(*) FROM 
				(
					SELECT RevisionNo, COUNT(RevisionNo) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY RevisionNo
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT KIT REVISIONS EXIST WITHIN MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		ELSE IF @MfgMethod = 'FIXED'
			BEGIN
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT RevisionNo, COUNT(RevisionNo) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod 
					GROUP BY RevisionNo
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT KIT REVISIONS EXIST WITHIN MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
                SET @dMod = 0 
				SELECT TOP 1 @dMod = (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) 
				FROM #T1 
				--WHERE SalesOrder = @SalesOrder 
				--AND EstCompletionDate = @EstCompletionDate 
				WHERE EstCompletionDate = @EstCompletionDate 
				AND LocId = @LocId 
				AND MFGGroup = @MfgGroup 
				AND MFGMethod = @MFGMethod 
				AND (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) > 0 
				IF @dMod > 0
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'ORDER QTY MUST BE DIVISIBLE ON FIXED MFG GROUPS!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		ELSE IF @MfgMethod = 'MIXED'
			BEGIN
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod 
					GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT RevisionNo, COUNT(RevisionNo) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod 
					GROUP BY RevisionNo
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT KIT REVISIONS EXIST WITHIN MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
                SET @dMod = 0 
				SELECT TOP 1 @dMod = (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) 
				FROM #T1 
				--WHERE SalesOrder = @SalesOrder 
				--AND EstCompletionDate = @EstCompletionDate 
				WHERE EstCompletionDate = @EstCompletionDate 
				AND LocId = @LocId 
				AND MFGGroup = @MfgGroup 
				AND MFGMethod = @MFGMethod 
				AND (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) > 0 
				IF @dMod > 0
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'ORDER QTY MUST BE DIVISIBLE ON MIXED MFG GROUPS!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		--ELSE IF @MfgMethod = 'BEST COMBO'
		--	BEGIN
		--	END
		FETCH NEXT FROM iCur into @EstCompletionDate, @LocId, @MfgGroup, @MfgMethod
	END


	--SELECT    OrderNo
	--		, ReleaseNo
	--		, EstCompletionDate
	--		, LocID
	--		, AssemblyId
	--		, MFGGroups = (SELECT MfgGroup+CHAR(124) AS [text()]
	--				FROM	#T1 AS E1
	--				WHERE E1.OrderNo = A.OrderNo AND E1.ReleaseNo = A.ReleaseNo AND E1.EstCompletionDate = A.EstCompletionDate AND E1.LocID = A.LocID AND E1.AssemblyId = A.AssemblyId
	--				FOR XML PATH(''))
	--		, Count(MfgGroup) AS CountMFGGroup
	--INTO #T3
	--FROM #T1 AS A
	--WHERE Err = 0 AND ParentOrder IS NULL AND SalesOrder is NOT NULL
	--GROUP BY OrderNo, ReleaseNo,EstCompletionDate, LocID, AssemblyId
	--HAVING Count(MFGGroup) > 1

	SELECT    OrderNo
			, ReleaseNo
			, EstCompletionDate
			, LocID
			, AssemblyId
			, MFGGroups = (SELECT MfgGroup+CHAR(124) AS [text()]
					FROM	#T1 AS E1
					WHERE E1.OrderNo = A.OrderNo AND E1.ReleaseNo = A.ReleaseNo AND E1.EstCompletionDate = A.EstCompletionDate AND E1.LocID = A.LocID AND E1.AssemblyId = A.AssemblyId
					FOR XML PATH(''))
			, Count(MfgGroup) AS CountMFGGroup
	INTO #T3A
	FROM #T1 AS A
	WHERE Err = 0 AND ParentOrder IS NULL AND SalesOrder is NULL
	GROUP BY OrderNo, ReleaseNo,EstCompletionDate, LocID, AssemblyId
	HAVING Count(MFGGroup) > 1

	--UPDATE #T1 Set Err = 1, ErrMsg = 'DETERMINE TABLE TYPE (STATIC VS CONVEYOR)!'
	--FROM #T3 
	--WHERE #T1.OrderNo = #T3.OrderNo
	--AND #T1.ReleaseNo = #T3.ReleaseNo
	--AND #T1.EstCompletionDate = #T3.EstCompletionDate
	--AND #T1.LocID = #T3.LocID 
	--AND #T1.AssemblyId = #T3.AssemblyId
	--AND #T1.Err = 0

	UPDATE #T1 Set Err = 1, ErrMsg = 'DETERMINE TABLE TYPE (STATIC VS CONVEYOR)!'
	FROM #T3A 
	WHERE #T1.OrderNo = #T3A.OrderNo
	AND #T1.ReleaseNo = #T3A.ReleaseNo
	AND #T1.EstCompletionDate = #T3A.EstCompletionDate
	AND #T1.LocID = #T3A.LocID 
	AND #T1.AssemblyId = #T3A.AssemblyId
	AND #T1.Err = 0

	--Return Orders that have a choice of 2 MFG Groups (typically one for a static table and one for a conveyor table)
	--Return Orders that have a choice of 2 MFG Groups (typically one for a static table and one for a conveyor table)
	--Return Orders that have a choice of 2 MFG Groups (typically one for a static table and one for a conveyor table)
	SELECT DISTINCT Id
				, SalesOrder
				, LocID
				, EstCompletionDate 
				, EstStartDate
				, RequiredShipDate
				, ParentOrder
				, OrderNo
				, ReleaseNo
				, ReleaseId
				, AssemblyId
				, Qty
				, UOM
				, Program
				, CustId
				, PurchaseOrder
				, Status
				, Cast(NULL as Varchar(75)) AS MfgGroup
				, Err
				, ErrMsg
				, MFGGroups = (SELECT MfgGroup+CHAR(124)  AS [text()] FROM #T1 AS T WHERE T.OrderNo = #T1.OrderNo and T.ReleaseNo = #T1.ReleaseNo	FOR XML PATH(''))
    FROM #T1 WHERE Err = 1 AND ErrMsg = 'DETERMINE TABLE TYPE (STATIC VS CONVEYOR)!'
	Order by ErrMsg, Program, AssemblyId, MfgGroup, OrderNo, ReleaseNo 

	--Return Orders that have an Error state other than determining the MFG Group due to multiple MFG Groups being avalable
	--Return Orders that have an Error state other than determining the MFG Group due to multiple MFG Groups being avalable
	--Return Orders that have an Error state other than determining the MFG Group due to multiple MFG Groups being avalable
	SELECT * FROM #T1 WHERE Err = 1 AND ErrMsg <> 'DETERMINE TABLE TYPE (STATIC VS CONVEYOR)!' Order by ErrMsg, Program, AssemblyId, MfgGroup, OrderNo, ReleaseNo

	DELETE FROM [W005].dbo.CCIOrderReleaseInfo 
	WHERE ParentOrderNo in 
	(SELECT DISTINCT I.ParentOrderNo FROM CCIOrderReleaseInfo I
         LEFT JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = I.OrderNo AND R.ReleaseNo = I.ReleaseNo
         LEFT JOIN [005].dbo.tblMpHistoryOrderReleases H ON H.OrderNo = I.OrderNo AND H.ReleaseNo = I.ReleaseNo
	WHERE ISNULL(R.OrderNo,H.OrderNo) is null) 

	DROP TABLE #T1
	--DROP TABLE #T2
	--DROP TABLE #T3
	DROP TABLE #T2A
	DROP TABLE #T3A
END
GO
