USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInventoryCountIsDuplicateScan]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spInventoryCountIsDuplicateScan]
	 @ICEId int, @ItemId varchar(24),@SerNum varchar(35), @LotNum varchar(16),@LocId varchar(10), @PkgId varchar(10) --, @PkgType as char(1) = ''
	
AS
BEGIN


--DECLARE @ICEId int = 5
--DECLARE @ItemId  varchar(24) = 'RM-CADC5004-PRP'
--DECLARE @SerNum varchar(35) = NULL
--DECLARE @LotNum varchar(16) = '8035848/27'
--DECLARE @LocId varchar(10) = 'INVMTP'
--DECLARE @PkgId varchar(10) = ''


IF LEN(@SerNum) > 0
BEGIN
	IF EXISTS (
			SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
				INNER JOIN  [W005].[dbo].[InventoryCountTicketDetail] AS ictd ON ictd.ICTUnitId=ictu.ICTUnitId
			WHERE ict.ICEId = @ICEId AND ictu.ItemId=@ItemId AND ictd.ItemId=@ItemId AND ictd.TravSerNum=@SerNum
			)
	BEGIN
		SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
				INNER JOIN  [W005].[dbo].[InventoryCountTicketDetail] AS ictd ON ictd.ICTUnitId=ictu.ICTUnitId
			WHERE ict.ICEId = @ICEId AND ictu.ItemId=@ItemId AND ictd.ItemId=@ItemId AND ictd.TravSerNum=@SerNum 
	END ELSE BEGIN
		SELECT ictNum = 0
	END
END 
IF LEN(@LotNum) > 0
BEGIN
	IF EXISTS (
			SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
				LEFT JOIN  [W005].[dbo].[InventoryCountTicketDetail] AS ictd ON ictd.ICTUnitId=ictu.ICTUnitId
			WHERE ict.ICEId = @ICEId AND ictu.ItemId=@ItemId AND ictu.Location=@LocId AND (ictu.TravLotNum=@LotNum OR ictd.TravLotNum=@LotNum)
			)
	BEGIN
			SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
				LEFT JOIN  [W005].[dbo].[InventoryCountTicketDetail] AS ictd ON ictd.ICTUnitId=ictu.ICTUnitId
			WHERE ict.ICEId = @ICEId AND ictu.ItemId=@ItemId AND ictu.Location=@LocId AND (ictu.TravLotNum=@LotNum OR ictd.TravLotNum=@LotNum)
	END ELSE BEGIN
		SELECT ictNum = 0
	END
END 
IF LEN(@PkgId) > 0
BEGIN
	IF EXISTS (
			SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
			WHERE ict.ICEId = @ICEId AND ictu.PkgIdMRNum = @PkgId
			)
	BEGIN
			SELECT ictu.ictNum
			FROM [W005].[dbo].[InventoryCountTicket] AS ict INNER JOIN [W005].[dbo].[InventoryCountTicketUnit] AS ictu ON ict.ictNum=ictu.ICTNum
			WHERE ict.ICEId = @ICEId AND ictu.PkgIdMRNum = @PkgId
	END ELSE BEGIN
		SELECT ictNum = 0
	END
END 



END

GO
