USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIBAEKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIBAEKitLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00026889'
--DECLARE @ReleaseNo AS int = 2
--DECLARE @OrderReleaseEventItemId AS int = 69563

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END

SELECT OrderNo,ReleaseNo,RevisionNo,FGProgram,TaskNo,ItemId,ItemDescr,FGPartNo,FGPNDescr,FGDescrAliasID,FGTravSerNum,JobNo,CustPONum,CustRev,CustId,CustName,CustPN,TotalCountOfUnits
	  ,RMSerialNo,RMLotNo,MaterialType,RMMaxOT,RawMatlExpDate,RemainingOTHours,MatDOM,FGKitDOM,MaterialStorageTempC,MaterialStorageTempF
	  ,OrderReleaseEventItemId,OutTimeItemStatusId,FGBarcode,Receiver, 
	   BagNo = ROW_NUMBER() OVER (PARTITION BY OrderNo ORDER BY OrderNo) 
FROM 
(
SELECT DISTINCT	 C.OrderNo
				,C.ReleaseNo
				,C.RevisionNo
				,TaskNo = A.[cf_Product Lot Designation]
				,FGProgram = (SELECT [cf_FG Program] FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemID=C.ItemId)
				,C.ItemId
				,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				,FGPartNo = A.AliasID
				,FGPNDescr = A.AliasID + ', ' + (SELECT Descr 
												FROM [005].[dbo].[tblInItem] 
												WHERE ItemId=C.ItemId)
				,FGDescrAliasID = (SELECT Descr 
									FROM [005].[dbo].[tblInItem] 
									WHERE ItemId=C.ItemId) + ', ' + A.AliasID
				,I.TravSerNum AS FGTravSerNum
				,JobNo = C.ParentOrderNo
				,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				,CustRev = C.CustRev
				,CustId = ISNULL(M.CustId,MHist.CustId)
				,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=M.CustId OR CustId=MHist.CustId)
				,AliasID AS CustPN --= (SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE RefID=M.CustId AND ItemID=C.ItemId)
				,TotalCountOfUnits = C.Qty
				,R.RMSerialNo --AS RMSerialNo
				,R.RMLotNo --AS RMLotNo
				,MaterialType = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=R.RMItemId) --uses Raw Material Description
				,RMMaxOT = (SELECT MaxRoomTimeHrs FROM [W005].[dbo].OutTimeItemSpecs WHERE ItemId=R.RMItemId AND (ProgramId = 0 OR ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				,RawMatlExpDate = (SELECT
									CASE
									WHEN EXISTS(
										SELECT ItemId FROM [005].[dbo].[trav_tblInItem_view] WHERE ItemId=R.RMItemId AND [cf_Out-Time Tracked] = 1
									)
									THEN (SELECT ExpDate FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR [LotNum]=R.RMSerialNo))
									ELSE NULL
									END AS RawMatlExpDate)

				,RemainingOTHours = (SELECT ROUND(MaxRoomTimeHrs - (CAST(IsNull(EstTotalRoomMinutes,[TotalRoomMinutes])AS FLOAT) /60),2)
										FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] M 
											 INNER JOIN [W005].[dbo].[OutTimeItemSpecs] O ON O.ItemId = M.RMItemId
										WHERE M.Id=R.Id AND (O.ProgramId = 0 OR O.ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))

				 ,MatDOM = (SELECT InitialDate --Raw Material DOM
							  FROM [005].[dbo].[trav_tblInItemLocLot_View]
							  WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR LotNum=R.RMSerialNo)) 

				,FGKitDOM = I.MfgDate

				 ,MaterialStorageTempC = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempC' ), 1000)

				 ,MaterialStorageTempF = ISNULL((SELECT CAST(ROUND(nTarget, 0) AS int) FROM [W005].[dbo].[ProductChar] AS P
												INNER JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Id=P.CharId  
												WHERE ItemId=C.ItemId AND CC.Characteristic = 'MaterialStorageTempF'), 1000)

				,I.Id as OrderReleaseEventItemId
				,OutTimeItemStatusId = (SELECT Id FROM [W005].[dbo].[OutTimeItemStatus] WHERE ItemId=R.RMItemId AND SerialNo=R.RMSerialNo AND LotNo=R.RMLotNo
					AND (ProgramId = 0 OR ProgramId=(SELECT Id FROM [W005].[dbo].[Program] WHERE [ProgramName]=CPO.Program)))
				,FGBarcode = '1' + '|' + I.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum,'')
--				,Receiver = (SELECT Cmnt FROM [005].[dbo].[trav_tblInItemLocLot_View] WHERE ItemId=R.RMItemId AND LocId=C.LocId AND ([cf_Serial No.]=R.RMSerialNo OR [LotNum]=R.RMSerialNo))
				,Receiver = CAST(null as nvarchar(35)) 

	  FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS C
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
			INNER JOIN [W005].[dbo].[vCCIOrderReleaseEventItems] AS I ON I.OrderNo=C.ParentOrderNo AND I.IsAssembly = 1
			INNER JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS R ON R.OrderReleaseEventItemId=I.Id
			LEFT JOIN [W005].[dbo].[vCCIParentOrder] AS CPO ON CPO.ParentOrder=C.ParentOrderNo AND CPO.Kits=C.ItemId
			LEFT JOIN [005].[dbo].[trav_tblInItemAlias_view] AS A ON A.ItemID=C.ItemId AND (A.RefId=M.CustId OR A.RefID=MHist.CustId) AND (A.[cf_FG Program] = CPO.Program OR A.[cf_FG Program] IS NULL)
	  WHERE C.OrderNo=@OrderNo AND C.ReleaseNo = @ReleaseNo and (@OrderReleaseEventItemId is null or I.Id = @OrderReleaseEventItemId) 
) A




END

GO
