USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIOTMultipleKitBagLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure

CREATE PROCEDURE [dbo].[CCIOTMultipleKitBagLabel] @PrintJobId int, @BoxId as int
AS
BEGIN
/*TEST DATA*/  

--DECLARE @PrintJobId int =1164432
--DECLARE @BoxId int =25

If @BoxId = 0
BEGIN
   SET @BoxId = NULL
END

SELECT DISTINCT  	
		SB.Id AS BagNum
		,OREI.MfgDate
		,CORI.ItemId
		,ISNULL(MOR.CustId, MORHist.CustId) AS CustId
		,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=MOR.CustId OR CustId=MORHist.CustId)
		,CORI.RevisionNo
		,ISNULL(MOR.PurchaseOrder, MORHist.PurchaseOrder) AS PurchaseOrder
		,CORI.OrderNo
		--,CORI.ReleaseNo
		,ORE.OrderNo AS ParentOrderNo
		--,ORE.ReleaseNo AS ParentReleaseNo
		,NoOfKitsInBag = (SELECT CAST(COUNT(*) AS VARCHAR(3))
							FROM [W005].[dbo].[ShipItem] 
							WHERE ShipBoxId = @BoxId)
		,ProdOrdHdr = (SELECT TOP 1 RTRIM(Descr) + ', Rev. ' + [cf_Customer Revision No] 
					   FROM [005].[dbo].[tblInItem] AS I
							INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] AS M ON M.AssemblyId=I.ItemId
					   WHERE I.ItemId=CORI.ItemId AND M.RevisionNo=CORI.RevisionNo) --ItemDescr + CustRevNo
		--,SN = ISNULL(CORI.ParentOrderNo + '-' + CAST(OREI.MultiKitPerBagNum AS VARCHAR(3)), CORI.ParentOrderNo)--SN is not SerialNo in this instance
		,FGBarcode = (SELECT CAST(COUNT(*) AS VARCHAR(3))
						FROM [W005].[dbo].[ShipItem]  
						WHERE ShipBoxId=@BoxId )
					 + '|' + STUFF((SELECT DISTINCT '|' + ItemId + '|' + ISNULL(TravSerNum, '') + '|' + ISNULL(TravLotNum, '')
									 FROM [W005].[dbo].[ShipItem]  AS I
									 WHERE I.ShipBoxId=@BoxId 
									 FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),	1,1,'')
		,NewFGBarcode = (SELECT CAST(COUNT(*) AS VARCHAR(3))
							FROM [W005].[dbo].[ShipItem] 
							WHERE ShipBoxId=@BoxId )
						+ '|' + SI.ItemId + '|' + 'BAGID' + '|' + CAST(@BoxId AS VARCHAR(max))
		,FGRange = (SELECT DISTINCT MIN(TravSerNum) + ' - ' + MAX(TravSerNum)
					FROM [W005].[dbo].[ShipItem] AS I
					WHERE I.ShipBoxId=@BoxId)
		,IIF(cc.sTarget is null, null,'SupplierID: ' + cc.sTarget) AS SupplierID
		,RemainingOTHr = IIF(ORK.EstTotalRoomMinutes >= ORK.TotalRoomMinutes,ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes)
		,ExpDate = (SELECT MIN(L.ExpDate)
						FROM [W005].[dbo].[OrderReleaseEvent] AS ORE1
							INNER JOIN  [W005].[dbo].[OrderReleaseEventItem] AS OREI1 ON OREI.OrderReleaseEventId=ORE1.Id
							INNER JOIN  [005].[dbo].[tblInItemLocLot] AS L ON L.ItemId=OREI1.ItemId AND L.LotNum=OREI1.TravLotNum
						WHERE ORE1.OrderNo = ORE.OrderNo AND ORE1.ReleaseNo = ORE.ReleaseNo AND OREI1.IsAssembly=0)
FROM	
	[W005].[dbo].[ShipBox] SB
		INNER JOIN [W005].[dbo].[ShipItem] SI ON SB.Id=SI.ShipBoxId
		INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS CORI ON CORI.OrderNo=SI.ProdOrderNo AND CORI.ReleaseNo=SI.ProdOrderRelNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=SI.OREIId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.Id=OREI.OrderReleaseEventId
		INNER JOIN [W005].[dbo].[CCIManufacturingGroup] AS MG ON MG.Id=CORI.CCIManufacturingGroupId
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS MOR ON MOR.OrderNo=ORE.OrderNo AND MOR.ReleaseNo=ORE.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MORHist ON MORHist.OrderNo=ORE.OrderNo AND MORHist.ReleaseNo=ORE.ReleaseNo
		LEFT JOIN [W005].[dbo].[vCustomerCharacteristics] cc ON cc.Characteristic='SupplierID' AND (cc.CustId=MOR.CustId OR cc.CustId=MORHist.CustId)
		LEFT JOIN (SELECT OrderReleaseEventItemId,ProgramId, MAX(S.MaxRoomTimeHrs - (CAST (EstTotalRoomMinutes AS float)/60.0)) AS EstTotalRoomMinutes, MAX(S.MaxRoomTimeHrs - (CAST(TotalRoomMinutes AS float)/60.0)) AS TotalRoomMinutes
					FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] O 
					INNER JOIN [W005].[dbo].[OutTimeItemSpecs] S ON S.ItemId = O.RMItemId 
					GROUP BY OrderReleaseEventItemId,ProgramId) ORK ON ORK.OrderReleaseEventItemId=SI.OREIId AND (ORK.ProgramId=MG.ProgramId OR ORK.ProgramId=0)


WHERE SB.Id = @BoxId


END
GO
