USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShippingPickList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShippingPickList]
	@OrderNo as varchar(8), @LocId As varchar(10)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--Declare @OrderNo as varchar(8) = '00000016'
	--Declare @LocId As varchar(10) = 'INVNTE'

SELECT sotd.TransID, sotd.EntryNum, sotd.LocId, sotd.ItemId,sotd.Descr,sotd.QtyOrdSell,sotd.UnitsSell, soth.ShipVia, I.[cf_Multi-UOM Serial Item], I.ItemType, sotd.ReqShipDate
INTO #Serialized
FROM  [005].[dbo].[tblSoTransDetail] AS sotd 
	INNER JOIN [005].[dbo].[tblSoTransHeader] AS soth ON soth.TransID=sotd.TransID
	INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = sotd.ItemId
WHERE sotd.TransId=@OrderNo AND sotd.LocId=@LocId AND sotd.Status=0 and I.ItemType = 2

SELECT sotd.TransID, sotd.EntryNum, sotd.LocId, sotd.ItemId,sotd.Descr,sotd.QtyOrdSell,sotd.UnitsSell, soth.ShipVia, I.[cf_Multi-UOM Serial Item], I.ItemType, sotd.ReqShipDate
INTO #Lotted
FROM  [005].[dbo].[tblSoTransDetail] AS sotd 
	INNER JOIN [005].[dbo].[tblSoTransHeader] AS soth ON soth.TransID=sotd.TransID
	INNER JOIN [005].[dbo].[trav_tblInItem_view] I ON I.ItemId = sotd.ItemId
WHERE sotd.TransId=@OrderNo AND sotd.LocId=@LocId AND sotd.Status=0 and I.ItemType != 2

 SELECT ItemId ,Descr, QtyReq, UnitsSell, PkgId, Complete, UOM, Location, PkgQty, UOM2, Qty2, Bin, ShipVia, Min(ExpDate) AS ExpDate, EntryNum ,ReqShipDate

 FROM 
 (
	  SELECT l.ItemId ,l.Descr,l.QtyOrdSell As QtyReq,l.UnitsSell,
			 Cast(sp.ShipPalletNo as varchar(35)) As PkgId, sp.Complete
			 ,IsNULL(si.UOM,'') As UOM, si.Location
			 ,PkgQty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=sp.Id)
			 ,UOM2 = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL))
			 ,Qty2 = (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=sp.Id) / ConvFactor) 
					  FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL)))
			 ,Bin = (SELECT TOP 1 WH.ExtLocAID
						FROM [005].[dbo].[tblWmHistDetail] WH 
							 --INNER JOIN [005].[dbo].[tblWmExtLoc] WM ON WM.Id=WH.ExtLocA
					   WHERE  WH.ItemId=l.ItemId AND (WH.LotNum=si.LotNo OR WH.LotNum=si.TravLotNum OR WH.SerNum=si.SerNo OR WH.SerNum=si.TravSerNum)
					ORDER BY WH.TransDate DESC, WH.ExtHistSeqNum DESC)
			,l.ShipVia
			,v.ExpDate
			,l.EntryNum
			,l.ReqShipDate
	  FROM  #Lotted l
			INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.Location=@LocId AND si.Shipped=0
			INNER JOIN [W005].[dbo].[ShipPallet] As sp ON si.ShipPalletId=sp.Id AND sp.Shipped=0 AND sp.Deleted=0 AND sp.UsedByProduction=0 AND sp.PhantomAdjOut=0
														AND sp.Id Not In (Select ShipPalletId from ShipPackingListDetail d1 Where d1.ShipPalletId = sp.Id)
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View v on v.ItemId = si.ItemId and v.LocId = si.Location and v.LotNum = si.TravLotNum
	  WHERE l.TransId=@OrderNo AND l.LocId=@LocId  			
	  GROUP BY l.ItemId ,l.[Descr],l.[QtyOrdSell],l.[UnitsSell],sp.ShipPalletNo,sp.Id,sp.Complete,si.UOM,si.Location
			  ,l.ShipVia,si.LotNo, si.TravLotNum, si.SerNo, si.TravSerNum, v.ExpDate,l.EntryNum,l.ReqShipDate

  UNION ALL
	  SELECT l.ItemId ,l.Descr,l.QtyOrdSell As QtyReq,l.UnitsSell,
			 Cast(sc.ShipCartonNo as varchar(35)) As PkgId, sc.Complete
			 ,IsNULL(si.UOM,'') As UOM, si.Location
			,PkgQty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id)
			,UOM2 = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL))
			,Qty2 = (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id) / ConvFactor) 
					 FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL)))
			 ,Bin = (SELECT TOP 1 WH.ExtLocAID
						FROM [005].[dbo].[tblWmHistDetail] WH 
							 --INNER JOIN [005].[dbo].[tblWmExtLoc] WM ON WM.Id=WH.ExtLocA
					   WHERE  WH.ItemId=l.ItemId AND (WH.LotNum=si.LotNo OR WH.LotNum=si.TravLotNum OR WH.SerNum=si.SerNo OR WH.SerNum=si.TravSerNum)
					ORDER BY WH.TransDate DESC, WH.ExtHistSeqNum DESC)
			,l.ShipVia
			,v.ExpDate
			,l.EntryNum
			,l.ReqShipDate
	  FROM  #Lotted l
			INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.Location=@LocId AND si.ShipPalletId Is Null AND si.Shipped=0
			INNER JOIN [W005].[dbo].[ShipCarton] As sc ON si.ShipCartonId=sc.Id AND sc.Shipped=0 AND sc.Deleted=0 AND sc.UsedByProduction=0 AND sc.PhantomAdjOut=0
														AND sc.Id Not In (Select ShipCartonId from ShipPackingListDetail d1 Where d1.ShipCartonId = sc.Id)
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View v on v.ItemId = si.ItemId and v.LocId = si.Location and v.LotNum = si.TravLotNum
	  WHERE l.TransId=@OrderNo AND l.LocId=@LocId 
	  GROUP BY l.ItemId ,l.[Descr],l.[QtyOrdSell],l.[UnitsSell],sc.ShipCartonNo,sc.Id,sc.Complete,si.UOM,si.Location
			  ,l.ShipVia,si.LotNo, si.TravLotNum, si.SerNo, si.TravSerNum, v.ExpDate,l.EntryNum,l.ReqShipDate

	UNION ALL
	  SELECT l.ItemId ,l.Descr,l.QtyOrdSell As QtyReq,l.UnitsSell,
			 Cast(sb.ShipBoxNo as varchar(35)) As PkgId, sb.Complete
			 ,IsNULL(si.UOM,'') As UOM, si.Location
			,PkgQty = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=sb.Id)
			,UOM2 = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL))
			,Qty2 = (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=sb.Id) / ConvFactor) 
					 FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(si.UOM <> l.UnitsSell, l.UnitsSell, NULL)))
			 ,Bin = (SELECT TOP 1 WH.ExtLocAID
						FROM [005].[dbo].[tblWmHistDetail] WH 
							 --INNER JOIN [005].[dbo].[tblWmExtLoc] WM ON WM.Id=WH.ExtLocA
					   WHERE  WH.ItemId=l.ItemId AND (WH.LotNum=si.LotNo OR WH.LotNum=si.TravLotNum OR WH.SerNum=si.SerNo OR WH.SerNum=si.TravSerNum)
					ORDER BY WH.TransDate DESC, WH.ExtHistSeqNum DESC)
			,l.ShipVia
			,v.ExpDate
			,l.EntryNum
			,l.ReqShipDate
	  FROM  #Lotted l
			INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.Location=@LocId AND si.ShipPalletId Is Null AND si.ShipCartonId Is Null AND si.Shipped=0 
			INNER JOIN [W005].[dbo].[ShipBox] As sb ON sb.Id=si.ShipBoxId AND sb.Shipped=0 AND sb.Deleted=0 AND sb.UsedByProduction=0 AND sb.PhantomAdjOut=0 
													AND sb.Id Not In (Select ShipBoxId from ShipPackingListDetail d1 Where d1.ShipBoxId = sb.Id)
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View v on v.ItemId = si.ItemId and v.LocId = si.Location and v.LotNum = si.TravLotNum
	  WHERE l.TransId=@OrderNo AND l.LocId=@LocId 
	  GROUP BY l.ItemId ,l.[Descr],l.[QtyOrdSell],l.[UnitsSell],sb.ShipBoxNo,sb.Id,sb.Complete,si.UOM,si.Location
			  ,l.ShipVia,si.LotNo, si.TravLotNum, si.SerNo, si.TravSerNum, v.ExpDate,l.EntryNum,l.ReqShipDate

	UNION ALL

		SELECT l.ItemId ,l.Descr,l.QtyOrdSell As QtyReq,l.UnitsSell,
			 IIF(si.SerNo is null AND si.TravSerNum IS NOT NULL, si.TravSerNum, '') As PkgId, CAST(0 AS BIT) AS Complete
			 ,'' AS UOM, l.LocId as Location
			 ,PkgQty = IIF(si.SerNo is null AND si.TravSerNum IS NOT NULL, 1, 0)
			 ,UOM2 = IIF(si.SerNo is null AND si.TravSerNum IS NOT NULL,'EA', '')
			 ,Qty2 = IIF(si.SerNo is null AND si.TravSerNum IS NOT NULL, 1, 0)
			 ,Bin = (SELECT TOP 1 WH.ExtLocAID
						FROM [005].[dbo].[tblWmHistDetail] WH 
					   WHERE  WH.ItemId=l.ItemId AND (WH.LotNum=si.LotNo OR WH.LotNum=si.TravLotNum OR WH.SerNum=si.SerNo OR WH.SerNum=si.TravSerNum)
					ORDER BY WH.TransDate DESC, WH.ExtHistSeqNum DESC)
			,l.ShipVia
			,v.ExpDate
			,l.EntryNum
			,l.ReqShipDate
	  FROM  #Lotted l
			INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.Location=@LocId AND si.ShipPalletId Is Null AND si.ShipCartonId Is Null AND si.Shipped=0 
			LEFT JOIN [005].dbo.trav_tblInItemLocLot_View v on v.ItemId = si.ItemId and v.LocId = si.Location and v.LotNum = si.TravLotNum
	  WHERE l.TransId=@OrderNo AND l.LocId=@LocId 
	  GROUP BY l.ItemId ,l.[Descr],l.[QtyOrdSell],l.[UnitsSell], l.LocId,l.ShipVia, si.LotNo, si.TravLotNum, si.SerNo, si.TravSerNum, v.ExpDate,l.EntryNum,l.ReqShipDate


	UNION ALL

	  SELECT DISTINCT l.ItemId ,l.Descr,l.QtyOrdSell As QtyReq,l.UnitsSell
			 ,PkgId = ISNULL(Cast(sp.ShipPalletNo as varchar(35)), ISNULL(Cast(sc.ShipCartonNo as varchar(35)), ISNULL(cast(sb.ShipBoxNo as varchar(35)), s.SerNum)))
			 ,Complete = ISNULL(sp.Complete, ISNULL(sc.Complete, ISNULL(sb.Complete, 1)))
			 ,IsNULL(si.UOM,'') As UOM, si.Location
			 ,PkgQty = Case
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'P' Then 
							 (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=sp.Id)
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'C' Then 
							 (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id)
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'B' Then 
							 (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=sb.Id)
						 Else 1
					   End
			 ,UOM2 = 'EA'
			 ,Qty2 = Case
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'P' Then 
							 (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=sp.Id) / ConvFactor)				
							  FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(ISNULL(si.UOM,'') <> l.UnitsSell, l.UnitsSell, NULL)))						 
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'C' Then 
							 (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=sc.Id) / ConvFactor)				
							  FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(ISNULL(si.UOM,'') <> l.UnitsSell, l.UnitsSell, NULL)))						 
						 When Len(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, '')))) > 0 AND Substring(ISNULL(sp.ShipPalletNo, ISNULL(sc.ShipCartonNo, ISNULL(sb.ShipBoxNo, ''))), 1,1) = 'B' Then 
							 (SELECT IIF(ConvFactor IS NULL, 1, (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=sb.Id) / ConvFactor)				
							  FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = l.ItemId AND A.UOM = (SELECT IIF(ISNULL(si.UOM,'') <> l.UnitsSell, l.UnitsSell, NULL)))	
						 Else 1
					   End
			 ,Bin = (SELECT TOP 1 WH.ExtLocAID
						FROM [005].[dbo].[tblWmHistDetail] WH 
					   WHERE  WH.ItemId=l.ItemId AND WH.SerNum=S.SerNum
					ORDER BY WH.TransDate DESC, WH.ExtHistSeqNum DESC)
			,l.ShipVia
			,OREI.FGExpDate
			,l.EntryNum
			,l.ReqShipDate
	  FROM  #Serialized l
			INNER JOIN [005].[dbo].tblInItemSer S ON S.ItemId = l.ItemId AND S.SerNumStatus = 1
			LEFT JOIN [W005].dbo.OrderReleaseEventItem OREI on OREI.ItemId = S.ItemId and OREI.TravSerNum = S.SerNum AND OREI.IsAssembly = 1
			LEFT JOIN [W005].[dbo].[ShipItem] As si ON si.ItemId=l.ItemId AND si.Location=@LocId 
			LEFT JOIN [W005].[dbo].[ShipPallet] As sp ON si.ShipPalletId=sp.Id AND sp.Shipped=0 AND sp.Deleted=0 AND sp.UsedByProduction=0 AND sp.PhantomAdjOut=0
														AND sp.Id Not In (Select ShipPalletId from ShipPackingListDetail d1 Where d1.ShipPalletId = sp.Id)
			LEFT JOIN [W005].[dbo].[ShipCarton] As sc ON si.ShipCartonId=sc.Id AND sc.Shipped=0 AND sc.Deleted=0 AND sc.UsedByProduction=0 AND sc.PhantomAdjOut=0
														AND sc.Id Not In (Select ShipCartonId from ShipPackingListDetail d1 Where d1.ShipCartonId = sc.Id)
			LEFT JOIN [W005].[dbo].[ShipBox] As sb ON si.ShipBoxId=sb.Id AND sb.Shipped=0 AND sb.Deleted=0 AND sb.UsedByProduction=0 AND sb.PhantomAdjOut=0
														AND sb.Id Not In (Select ShipBoxId from ShipPackingListDetail d1 Where d1.ShipBoxId = sb.Id)
	  WHERE l.TransId=@OrderNo AND l.LocId=@LocId  			
	  GROUP BY l.ItemId ,l.[Descr],l.[QtyOrdSell],l.[UnitsSell],sp.ShipPalletNo,sp.Id,sp.Complete,sc.ShipCartonNo, sc.Id, sc.Complete,
			   sb.ShipBoxNo, sb.id, sb.Complete, si.UOM, si.[Location],l.ShipVia,si.LotNo, si.TravLotNum, si.SerNo, si.TravSerNum, s.SerNum, OREI.FGExpDate,l.EntryNum,l.ReqShipDate

) A
GROUP BY ItemId ,Descr, QtyReq, UnitsSell, PkgId, Complete, UOM, Location, PkgQty, UOM2, Qty2, Bin, ShipVia, EntryNum ,ReqShipDate
drop table #serialized
drop table #lotted
END
GO
