USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetItemIdRevNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetItemIdRevNo]
	@ItemId as varchar(24)

AS
BEGIN
	
--DECLARE @ItemId as varchar(24) = 'FG-ATKO1054-PKT' --'FG-MRAS1125-PKT'


DECLARE @IsKit as bit
SET @IsKit = (SELECT [cf_Kitted (WI)]
				FROM [005].[dbo].[trav_tblInItem_view]
				WHERE ItemId=@ItemId)

IF @IsKit = 1
	SELECT ah.Id,ah.RevisionNo,ah.[Description],ah.EffectiveDateFrom
		, CustomerRevisionNo = IsNULL((SELECT TOP 1 CustomerRevision 
								FROM [W005].[dbo].[vCCIManufacturingGroupKit]  
								WHERE ItemId=@ItemId AND Revision=ah.RevisionNo),'')
	FROM [005].[dbo].[tblMbAssemblyHeader] ah
	WHERE ah.AssemblyId=@ItemId
	ORDER BY ah.AssemblyId ASC,ah.RevisionNo DESC
ELSE
	SELECT ah.Id,ah.RevisionNo,ah.[Description],ah.EffectiveDateFrom, CustomerRevisionNo=''
	FROM [005].[dbo].[tblMbAssemblyHeader] ah
	WHERE ah.AssemblyId=@ItemId
	ORDER BY ah.AssemblyId ASC,ah.RevisionNo DESC


END




GO
