USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetAvailableRMLotNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAvailableRMLotNo] @RMItemId as varchar(24)
     
AS
BEGIN

--DECLARE @RMItemId as varchar(24) = 'ZCFM-MD-CVST-4774'


	SELECT DISTINCT RMItemId = @RMItemId, LotNum, QtyOnHand
	FROM [005].dbo.trav_InItemOnHandLot_view 
	WHERE ItemId = @RMItemId 
			AND LocId Like 'INV%'
			AND QtyOnHand > 0
	

END
GO
