USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebPETPalletLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId)
CREATE PROCEDURE [dbo].[WebPETPalletLabel]
	@PrintJobId as int,
	@PalletId as int,
	@ItemId as varchar(24)

AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE @PalletId as int = 147492
--DECLARE @ItemId as varchar(24) = 'PET0200-01.750-C6-P18'


DECLARE @ItemType varchar(12)
SET @ItemType = (SELECT IIF(ItemType=2, 'Serialized'
							, IIF([cf_Multi-UOM Serial Item]=1, 'Multi-UOM'
									, IIF(LottedYN=1 AND ([cf_Multi-UOM Serial Item] is NULL OR [cf_Multi-UOM Serial Item]=0), 'Lotted', 'NonLotNonSer'))) AS ItemType
					FROM [005].[dbo].[trav_tblInItem_view]
					WHERE ItemId=@ItemId)

DECLARE @DOM AS datetime
SET @DOM = (SELECT MIN(MfgDate) FROM [W005].[dbo].[ShipItem] SI 
									INNER JOIN [W005].[dbo].[OrderReleaseEventItem] orei ON orei.Id = SI.OREIId
									WHERE SI.ShipPalletId = @PalletId AND orei.MfgDate is not null)

DECLARE @WidthInches AS DECIMAL(10,3)
SET @WidthInches = (SELECT DISTINCT P.nTarget
					  FROM  [W005].[dbo].[Characteristic] AS C  
							INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.CharId = C.Id 
							INNER JOIN [W005].[dbo].[ShipItem] SI ON SI.ItemId = P.ItemId
					 WHERE C.Characteristic = 'Width(IN)' AND SI.ShipPalletId = @PalletId)

DECLARE @TotalNetWeight AS INT
SET @TotalNetWeight = (SELECT SUM(S.Quantity / isnull(A.ConvFactor, 1)) 
						FROM [W005].[dbo].[ShipItem] AS S 
							LEFT JOIN [005].[dbo].[tblInItemUom] AS A ON A.ItemId = S.ItemId AND A.Uom = 'LB' 
						WHERE S.ShipPalletId = @PalletId)


IF @ItemType =  'Multi-UOM'
BEGIN
	SELECT PO,SO,CustomerPN,Descr,LotNo,DOM, PackageID, ItemAlias, WidthInches, TotalNetWeight
	FROM
	/* DEV NOTE: This outer Select From B was put in to prevent the return of mulitple records, the below Select reuturned records with diff qty, would not sum ALL A.Quantity in one value!  Tried numerous fixes.AG 1/23/26*/
	(	SELECT 
			PO = IsNull(R.PurchaseOrder,RH.PurchaseOrder)
			,SO = IsNull(R.SalesOrder,RH.SalesOrder)
			,A.CustomerPN
			,A.Descr
			,A.LotNo  
			,DOM = @DOM
			,A.PackageID
			,ItemAlias = V.AliasID
			,WidthInches = @WidthInches
			,TotalNetWeight = @TotalNetWeight
		FROM
		(
			SELECT  
				E.OrderNo
				,E.ReleaseNo
				,CustomerPN = I.ItemId
				,I.Descr
				,LotNo = E.OrderNo 
				,SP.Id AS ShipPalletId
				,SP.ShipPalletNo AS PackageID

			FROM [W005].[dbo].[ShipPallet] SP
				INNER JOIN [W005].[dbo].[ShipItem] SI ON SP.Id = SI.ShipPalletId
				INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
				INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId
			WHERE SP.Id = @PalletId AND  SI.ItemId = @ItemId
			GROUP BY E.OrderNo,E.ReleaseNo,Descr,E.OrderNo,I.ItemId,SP.Id,SP.ShipPalletNo   
		) AS A
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = A.OrderNo AND R.ReleaseNo = A.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = A.OrderNo AND RH.ReleaseNo = A.ReleaseNo
		LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS V ON V.ItemId = A.CustomerPN AND V.AliasType = 1 AND (V.RefID = R.CustId OR V.RefID = RH.CustId)
		GROUP BY A.CustomerPN,A.Descr,A.LotNo,R.PurchaseOrder,R.SalesOrder,RH.PurchaseOrder, RH.SalesOrder,ShipPalletId, A.PackageID, V.AliasID
	)B
	GROUP BY PO,SO,CustomerPN,Descr,LotNo,DOM, PackageID, ItemAlias, WidthInches, TotalNetWeight
END
ELSE 
IF @ItemType =  'Lotted'
BEGIN
	SELECT 
		PO = IsNull(R.PurchaseOrder,RH.PurchaseOrder)
		,SO = IsNull(R.SalesOrder,RH.SalesOrder)
		,A.CustomerPN
		,A.Descr
		,A.LotNo
		,DOM = @DOM
		,A.ShipPalletId
		,A.PackageID
		,ItemAlias = V.AliasID
		,WidthInches = @WidthInches
		,TotalNetWeight = @TotalNetWeight
	FROM
	(
		SELECT 
			SI.ProdOrderNo AS OrderNo
			,SI.ProdOrderRelNo AS ReleaseNo
			,CustomerPN = I.ItemId
			,I.Descr
			,LotNo = SI.ProdOrderNo  
			,SP.Id AS ShipPalletId
			,SP.ShipPalletNo AS PackageID
		FROM [W005].[dbo].[ShipPallet] SP
			INNER JOIN [W005].[dbo].[ShipItem] SI ON SP.Id = SI.ShipPalletId
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId
		WHERE SP.Id = @PalletId AND SI.ItemId = @ItemId
		GROUP BY SI.ProdOrderNo,SI.ProdOrderRelNo,Descr,I.ItemId,SP.Id, SP.ShipPalletNo
	) AS A
	INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=A.OrderNo AND E.ReleaseNo=A.ReleaseNo
	LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
	LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS V ON V.ItemId = A.CustomerPN AND V.AliasType = 1 AND (V.RefID = R.CustId OR V.RefID = RH.CustId)
	GROUP BY A.CustomerPN,A.Descr,A.LotNo,R.PurchaseOrder,R.SalesOrder,RH.PurchaseOrder, RH.SalesOrder,ShipPalletId, A.PackageID, V.AliasID
END

END
GO
