USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSiemensCartonLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebSiemensCartonLabel]  @OrderNo AS VARCHAR(8), @ReleaseNo AS int, @PalletSeqNo as Int 
AS
BEGIN

--DECLARE @OrderNo AS VARCHAR(8) = '00038910'
--DECLARE @ReleaseNo AS int = null
--DECLARE @PalletSeqNo as Int = 1


	SELECT DISTINCT 
		LotNo = RIGHT(@OrderNo, 5)
		,PalletNo = @PalletSeqNo
		,FGInItemAlias = IA.AliasID

	FROM [005].[dbo].[tblMpOrder] O 
		LEFT JOIN  [005].[dbo].[tblInItemAlias] IA ON IA.AliasType=1 AND IA.ItemID=O.AssemblyId
	WHERE O.OrderNo = @OrderNo



END
GO
