USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedBoxesByItemAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* Returns Complete AND Partial Boxes */

CREATE PROCEDURE [dbo].[spGetPackedBoxesByItemAndLocId]
	@ItemId as varchar(24),  @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--Declare @ItemId as varchar(24) = 'STERIN-100GY'
--Declare  @LocId as varchar(10) = 'QA HOLD'
--Declare @OrderNo as varchar(8) = '00058094'
--Declare @ReleaseNo as int = 59
	
	DECLARE @DoNotMixLots as bit 
	SET @DoNotMixLots = IsNULL((SELECT Pc.bTarget 
							FROM [W005].[dbo].[ProductChar] Pc 
							inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
							WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedLots'),0)
		
	SELECT B.ShipBoxNo As PkgId,SUM(I.Quantity) As Quantity,B.Id, Count(I.Id) As NoPacked,B.Complete, B.IsPacked,B.GrossWt,B.TareWt,@DoNotMixLots AS bTarget
	FROM [W005].[dbo].[ShipBox] As B 
	inner join [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId and I.ProdOrderRelNo =  iif(@DoNotMixLots = 1, @ReleaseNo, I.ProdOrderRelNo)
	--Left Join [W005].[dbo].[ProductChar] Pc ON Pc.ItemId=I.ItemId --and Pc.CharId=2036
	--Left join [W005].[dbo].[Characteristic] Chr ON Chr.Id = Pc.CharId AND Chr.Characteristic = 'DoNotPackMixedLots'
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND I.Shipped=0 AND I.PhantomAdjOut=0 AND I.UsedByProduction=0
		AND B.Deleted=0 AND B.Shipped=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 
		AND I.ProdOrderNo LIKE
		  CASE WHEN @DoNotMixLots = 1 THEN 
			 @OrderNo 
		  ELSE
			'%' 
		  END
	GROUP BY B.Id,B.ShipBoxNo,B.Complete,B.IsPacked,B.GrossWt,B.TareWt --,Pc.bTarget
	order by B.ShipBoxNo DESC
	
END





GO
