USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetShipmentsOnCCHOLD]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetShipmentsOnCCHOLD]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT  [PLNo]
      ,[OrderNo]
      ,[ShipFromLocId]
      ,[ShipDate]
      ,[CustId]
      ,[CustName]
      ,[CustPO]
      ,[ShipToId]
      ,[ShipToName]
      ,CCHoldReq
	  ,CCHoldReleasedBy
	  ,CCHoldReleasedDate
  FROM [W005].[dbo].[ShipPackingList]
  WHERE [CCHoldReq]=1 AND [CCHoldReleasedBy] Is Null




END
GO
