USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInvAdjGetQtyOnHand]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInvAdjGetQtyOnHand] @ItemId as varchar(24), @LocId as varchar(10), @TravLotNum as varchar(16)

AS
BEGIN
 SELECT OH.SeqNum, OH.ItemId, OH.LocId, OH.LotNum, ((OH.Qty - OH.RemoveQty)-OH.InvoicedQty) AS QtyOnHand, HD.CostUnit
	  , HD.cf_WILaborSetupUnitCost  as WILaborSetupUnitCost
	  , HD.cf_WILaborUnitCost as WILaborUnitCost
	  , HD.cf_WIMachineSetupUnitCost as WIMachineSetupUnitCost
	  , HD.cf_WIMachineUnitCost as WIMachineUnitCost
	  , HD.cf_WIMaterialDirectUnitCost as WIMaterialDirectUnitCost
	  , HD.cf_WIMaterialIndirectUnitCost as WIMaterialIndirectUnitCost
	  , HD.cf_WISubcontractUnitCost as WISubcontractUnitCost
 FROM [005].[dbo].[tblInQtyOnHand] OH INNER JOIN 
      [005].[dbo].[trav_tblInHistDetail_View] HD ON OH.LinkId = HD.TransId INNER JOIN
	  [W005].[dbo].[GoLiveInfo] AS G ON G.Id = 1
 WHERE OH.ItemId = @ItemId AND OH.LocId = @LocId AND ((@TravLotNum is null) OR (OH.LotNum = @TravLotNum)) AND ((OH.Qty - OH.RemoveQty)-OH.InvoicedQty) > 0
 AND OH.Source = '15' AND OH.EntryDate = G.EntryDate
 UNION ALL
 SELECT OH.SeqNum, OH.ItemId, OH.LocId, OH.LotNum, ((OH.Qty - OH.RemoveQty)-OH.InvoicedQty) AS QtyOnHand, MD.UnitCost AS CostUnit
	  , MD.cf_WILaborSetupUnitCost  as WILaborSetupUnitCost
	  , MD.cf_WILaborUnitCost as WILaborUnitCost
	  , MD.cf_WIMachineSetupUnitCost as WIMachineSetupUnitCost
	  , MD.cf_WIMachineUnitCost as WIMachineUnitCost
	  , MD.cf_WIMaterialDirectUnitCost as WIMaterialDirectUnitCost
	  , MD.cf_WIMaterialIndirectUnitCost as WIMaterialIndirectUnitCost
	  , MD.cf_WISubcontractUnitCost as WISubcontractUnitCost
 FROM [005].[dbo].[tblInQtyOnHand] OH INNER JOIN 
      [005].[dbo].[trav_tblMpHistoryMatlDtl_View] MD ON OH.LinkId = MD.TransId INNER JOIN
	  [005].[dbo].[tblMpHistoryMatlDtlExt] MDE ON MDE.TransId = MD.TransId AND MDE.EntryNum = MD.SeqNo AND MDE.LotNum = OH.LotNum
 WHERE OH.ItemId = @ItemId AND OH.LocId = @LocId AND ((@TravLotNum is null) OR (OH.LotNum = @TravLotNum)) AND ((OH.Qty - OH.RemoveQty)-OH.InvoicedQty) > 0
 AND OH.Source = '18' AND OH.RcptLink <> 0
 ORDER BY 1
END
GO
