USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetCustRevNoByKit]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetCustRevNoByKit] @FGTravSerNum AS VARCHAR(35), @BoxID AS int
AS
BEGIN

--DECLARE @FGTravSerNum AS VARCHAR(35) = '' 
--DECLARE  @BoxID AS int = 31

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @CustRev AS NVARCHAR(11) 
	SET @CustRev = 
			(SELECT DISTINCT ORI.CustRev
						FROM CCIOrderReleaseInfo ORI
								INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=ORI.ParentOrderNo
								INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.ItemId=ORI.ItemId
						WHERE TravSerNum = @FGTravSerNum
			UNION ALL
			SELECT DISTINCT ORI.CustRev
						FROM CCIOrderReleaseInfo ORI
							INNER JOIN ShipItem SI ON ORI.OrderNo = SI.ProdOrderNo AND ORI.ReleaseNo = SI.ProdOrderRelNo
						WHERE SI.ShipBoxId = @BoxID
			)
	SELECT @CustRev AS CustRev
	 
END
GO
