USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLabelPrintJobHeaderLoad]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLabelPrintJobHeaderLoad] @PrintJobId as int, @btnName AS varchar(50), @Param1 AS varchar(50), @Param2 AS varchar(50), @Param3 AS varchar(50), @Param4 AS varchar(50), @Param5 AS varchar(50)
AS
BEGIN
	if len(@Param3) = 0 Set @Param3 = null
	if len(@Param4) = 0 Set @Param4 = null
	if len(@Param5) = 0 Set @Param5 = null

	if ((@btnName = 'btnRecptPreviewLabel') OR (@btnName = 'btnRecptPrintLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, TransId, ReceiptNum, ReceiptDate, ItemId, IsMultiUOM, LotCnt)
			Select @PrintJobId, R.TransId, ReceiptNum, ReceiptDate, D.ItemId, Isnull(I.[cf_Multi-UOM Serial Item], 0) AS IsMultiUOM, IsNull(Count(LotNum), 0) AS LotCnt
			FROM [005].[dbo].[tblPoTransReceipt] AS R 
				 INNER JOIN [005].[dbo].[tblPoTransLotRcpt] AS RD ON R.TransID = RD.TransId and R.ReceiptNum = RD.RcptNum
				 INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
				 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = D.ItemId
			Where R.TransId = @Param1 and R.ReceiptNum = @Param2 and ((@Param3 is null or @Param3 = D.ItemId) and (@Param4 is null or @Param4 = RD.LotNum))
			Group by R.TransId, ReceiptNum, ReceiptDate, D.ItemId, I.[cf_Multi-UOM Serial Item] 
			Having Count(LotNum) > 0

		    Insert into LabelPrintJobDetail (PrintJobId, ItemId, LotNum)
			Select Distinct @PrintJobId, D.ItemId, RD.LotNum  
			FROM [005].[dbo].[tblPoTransReceipt]AS R 
				INNER JOIN [005].[dbo].[tblPoTransLotRcpt] AS RD ON R.TransID = RD.TransId and R.ReceiptNum = RD.RcptNum
				INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
				INNER JOIN LabelPrintJobHeader AS L ON L.PrintJobId = @PrintJobId and L.ItemId = D.ItemId
			WHERE R.TransID = @Param1 and R.ReceiptNum = @Param2 and ((@Param3 is null or @Param3 = D.ItemId) and (@Param4 is null or @Param4 = RD.LotNum))

		end

	if (@btnName = 'btnRecptPrintAllLabels')
		begin
			Insert into LabelPrintJobHeader (PrintJobId, TransId, ReceiptNum, ReceiptDate, ItemId, IsMultiUOM, LotCnt)	
			SELECT @PrintJobId, TransId, ReceiptNum, ReceiptDate, ItemId, IsMultiUOM, LotCnt	
			FROM LabelPrintJobHeader
			WHERE PrintJobId = @Param3
			
			Insert into LabelPrintJobDetail (PrintJobId, ItemId, LotNum)	
			Select @PrintJobId, ItemId, LotNum  	
			FROM LabelPrintJobDetail
			WHERE PrintJobId = @Param3
			ORDER BY Id ASC
		end
		if ((@btnName = 'btnWMRecptPreviewLabel') OR (@btnName = 'btnWMRecptPrintLabel') OR (@btnName = 'btnWMRecptPrintAllLabels'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, TransId, ReceiptNum, ReceiptDate, ItemId, IsMultiUOM, LotCnt)
			Select @PrintJobId, RD.TransId, ReceiptNum, RD.EntryDate as ReceiptDate, RD.ItemId, Isnull(I.[cf_Multi-UOM Serial Item], 0) AS IsMultiUOM, IsNull(Count(LotNum), 0) AS LotCnt
			FROM [005].[dbo].[tblWmRcpt] AS RD
				 INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = RD.TransID and D.EntryNum = RD.EntryNum
				 INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = D.ItemId
			Where RD.TransId = @Param1 and RD.ReceiptNum = @Param2 and ((@Param3 is null or @Param3 = D.ItemId) and (@Param4 is null or @Param4 = RD.LotNum))
			Group by RD.TransId, ReceiptNum, RD.EntryDate, RD.ItemId, I.[cf_Multi-UOM Serial Item] 
			Having Count(LotNum) > 0

		    Insert into LabelPrintJobDetail (PrintJobId, ItemId, LotNum)
			Select Distinct @PrintJobId, D.ItemId, R.LotNum  
			FROM [005].[dbo].[tblWmRcpt] AS R 
				INNER JOIN [005].[dbo].[tblPoTransDetail] AS D ON D.TransId = R.TransID and D.EntryNum = R.EntryNum
				INNER JOIN LabelPrintJobHeader AS L ON L.PrintJobId = @PrintJobId and L.ItemId = D.ItemId
			WHERE R.TransID = @Param1 and R.ReceiptNum = @Param2 and ((@Param3 is null or @Param3 = D.ItemId) and (@Param4 is null or @Param4 = R.LotNum))
		end
	if (@btnName = 'btnExtrCoreLabelPrint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,ItemId,LotNo,ReleaseNo,OpInit,PrintCopies,IsMultiUOM, LotCnt)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4, ISNULL(@Param5, 1), 0, 0
			
		end
	if (@btnName = 'btnExtrCtnLblPrint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,CtnId,ItemId,CustData,PrintCopies,IsMultiUOM, LotCnt)
			Select @PrintJobId, @Param1, @Param2, @Param3, ISNULL(@Param4,1), 0, 0
			
		end
	if (@btnName = 'btnExtrPalletLabelPreview')
	begin
		Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId,CustData)
		Select @PrintJobId, @Param1, @Param2, @Param3
	end
	if (@btnName = 'btnExtrPalletLabelPrint') OR (@btnName = 'btnExtrPalletLabelReprint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId,CustData,PrintCopies)
			Select @PrintJobId, @Param1, @Param2, @Param3, ISNULL(@Param4, 1)
		end
	if (@btnName = 'btnExtrPartialPalletLabelPrint') OR (@btnName = 'btnExtrPartialPalletLabelPreview')
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId)
			Select @PrintJobId, @Param1, @Param2
		end
	if (@btnName = 'btnExtrUpdatedMatUsedPalletLabelPrint')
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId)
			Select @PrintJobId, @Param1, @Param2
		end
	if (@btnName = 'btnBoxLblPrint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,BoxId,ItemId, OrderNo, ReleaseNo)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
			
		end
	if (@btnName = 'btnCtnLblPrint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,CtnId,ItemId)
			Select @PrintJobId, @Param1, @Param2
			
		end
	if (@btnName = 'btnPalletLblPrint') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId,PalletId,ItemId)
			Select @PrintJobId, @Param1, @Param2
		end
	if ((@btnName = 'btnPrintKitLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
		end
	if ((@btnName = 'btnPrintPartialKitLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId, BagNum)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4, @Param5
		end
	if ((@btnName = 'btnPrintReturnToInventoryLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, OrderReleaseEventItemId, ItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
		end
	if ((@btnName = 'btnPrintBulkQtyLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId, BagNum)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4, @Param5
		end
	if ((@btnName = 'btnPrintBoxPackTallyLabel'))
		begin
			Insert into LabelPrintJobHeader (PrintJobId, PkgId,ItemId)
			Select @PrintJobId, @Param1, 'ALL-ITEMS'
		end
	if ((@btnName = 'btnPrintCartonPackTallyLabel'))
		begin
			Insert into LabelPrintJobHeader (PrintJobId, PkgId,ItemId)
			Select @PrintJobId, @Param1, 'ALL-ITEMS'
		end
	if ((@btnName = 'btnPrintDoffing'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3
		end
	if ((@btnName = 'btnPrintAllFGs') OR (@btnName = 'btnPreviewAllFGs'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3, 0
		end
	if ((@btnName = 'btnPrintOneFG')  OR (@btnName = 'btnPreviewOneFG'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
		end
	if ((@btnName = 'btnReprintInventoryLabel'))
		begin
			Insert into LabelPrintJobHeader (PrintJobId, ItemId, LocId, LotNo, SerialNo)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
		end
	if ((@btnName = 'btnPrintAllFGsByPL') OR (@btnName = 'btnPreviewAllFGsByPL'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId, OrderReleaseEventItemId, PLNo)
			Select @PrintJobId, @Param1, @Param2, @Param3, 0, @Param5
		end
	if ((@btnName = 'btnRMSpliceSampleLabel'))
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3
		end
	if (@btnName = 'btnPrintSetupLabel') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, ItemId)
			Select @PrintJobId, @Param1, @Param2, @Param3
			
		end
	if ((@btnName = 'btnPrintOutTimeTrackerLabel'))
		begin
			Insert into LabelPrintJobHeader (PrintJobId, ItemId, SerialNo)
			Select @PrintJobId, @Param1, @Param2
		end
	if ((@btnName = 'btnPrintPalletPackTallyLabel'))
		begin
			Insert into LabelPrintJobHeader (PrintJobId, PkgId,ItemId)
			Select @PrintJobId, @Param1, 'ALL-ITEMS'
		end
	if (@btnName = 'btnSiemensCtnLabel') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, OrderNo, ReleaseNo, PalletSeqNo)
			Select @PrintJobId, @Param1, @Param2, @Param3
			
		end
	if (@btnName = 'btnPrintSample') 
		begin
		    Insert into LabelPrintJobHeader (PrintJobId, ItemId, OrderNo, ReleaseNo, SampleId)
			Select @PrintJobId, @Param1, @Param2, @Param3, @Param4
		end
END
GO
