USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCAndDBoxLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Insert into LabelPrintJobHeader (PrintJobId,BoxId,ItemId, OrderNo, ReleaseNo)
CREATE PROCEDURE [dbo].[WebCAndDBoxLabel]
	@PrintJobId as int,
	@BoxId as int,
	@ItemId as varchar(24)

AS
BEGIN


--DECLARE	@PrintJobId as int = 1
--DECLARE @BoxId as int = 251663
--DECLARE @ItemId as varchar(24) = 'MD-CD-PTKBI'


	SELECT 
		A.PO,
		A.SO,
		SUM(A.Quantity) AS QTY,
		A.CustomerPN,
		A.Descr,
		A.LotNo,
		A.SAP,
		A.DOM,
		A.FGExpDate
	FROM
	(SELECT DISTINCT 
		PO = IsNull(R.PurchaseOrder,RH.PurchaseOrder),
		SO = IsNull(R.SalesOrder,RH.SalesOrder),
		SI.Quantity,
		CustomerPN = I.ItemId,
		I.Descr,
		LotNo = SI.ProdOrderNo,
		SAP = V.[cf_Product Lot Designation] + SUBSTRING(CAST(YEAR(EI.MfgDate) AS VARCHAR(4)), 4, 1) + RIGHT('000'+ CAST(datepart(dy, EI.MfgDate) AS VARCHAR(3)), 3),
		DOM = EI.MfgDate,
		EI.FGExpDate
	FROM [W005].[dbo].[ShipBox] SB
		INNER JOIN [W005].[dbo].[ShipItem] SI ON SB.Id = SI.ShipBoxId
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
		INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = SI.ItemId
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
		LEFT JOIN [005].dbo.trav_InItemOnHandLot_view L ON L.ItemId = EI.ItemId AND L.LotNum = EI.TravLotNum
		LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS V ON V.ItemId = I.ItemId AND V.AliasType = 1 AND (V.RefID = R.CustId OR V.RefID = RH.CustId)
	WHERE SB.Id = @BoxId AND EI.ItemId = @ItemId) AS A
	GROUP BY PO,SO,CustomerPN,Descr,LotNo, SAP, DOM,FGExpDate


END
GO
