USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMultiItemBomMaterials]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spMultiItemBomMaterials] @AssemblyId as varchar(24)
AS
BEGIN
 
SELECT DISTINCT  D.ComponentID
                ,IsNull(P1.nTarget, 0) AS Width
                ,IIF(C1.Characteristic Is Null, 'NA', Substring(C1.Characteristic,Len(C1.Characteristic)-2, 2)) As UOM
				,CAST(IsNull(P1.nTarget, 0) AS varchar(20)) + ' ' + IIF(C1.Characteristic Is Null, 'NA', Substring(C1.Characteristic,Len(C1.Characteristic)-2, 2)) AS WidthUOM
 
FROM	[005].[dbo].[tblMbAssemblyDetail] AS D 
        INNER JOIN [005].[dbo].[tblMbAssemblyHeader] H ON H.Id=D.HeaderId AND H.AssemblyId = @AssemblyId
        INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = H.AssemblyId
        LEFT JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Characteristic Like 'Width%'
        INNER JOIN  [W005].[dbo].[ProductChar] AS P1 ON P1.ItemId = D.ComponentID AND P1.CharId = C1.Id
WHERE   D.DetailType IN (4, 5) AND I.[cf_Multi-Item Mfg] = 1 
END

GO
