USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPalletQtyByTravLotNumForPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetPalletQtyByTravLotNumForPL]
	@ShipUnitID as int
AS
BEGIN


--DECLARE @ShipUnitID as int = 26209


	SELECT DISTINCT si.TravLotNum, si.ItemId,si.Location,
					SUM(si.Quantity) as Qty
	FROM  [W005].[dbo].[ShipItem] As si 
	WHERE si.ShipPalletId = @ShipUnitID
	GROUP BY si.TravLotNum, si.ItemId,si.Location




END
GO
