USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIMaterialTypeDistinctSubRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIMaterialTypeDistinctSubRpt] @OrderReleaseEventItemId as int
AS
BEGIN

  --DECLARE @OrderReleaseEventItemId AS int = 28057

	--SELECT DISTINCT EI.OrderReleaseEventId, EI.Id AS OrdRelEvntItemId, I.Descr AS MaterialType, 
	--			    RMAlias = (SELECT TOP 1 AliasID 
	--						  FROM [005].[dbo].[trav_tblInItemAlias_View]
	--						  WHERE ItemId=R.RMItemId AND (RefID=M.CustId OR RefID=MHist.CustId) AND (([cf_FG Program]=FGItem.[cf_FG Program]) OR [cf_FG Program] IS NULL)
	--						  ORDER BY [cf_FG Program] DESC)

	--FROM [005].[dbo].[trav_tblInItem_View] AS I
	--	 LEFT JOIN [W005].[dbo].OrderReleaseKitRawMatlOutTime AS R ON R.RMItemId=I.ItemId
	--	 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id=R.OrderReleaseEventItemId
	--	 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id=EI.OrderReleaseEventId
	--	 INNER JOIN [005].[dbo].[trav_tblInItem_View] AS FGItem ON FGItem.ItemId=R.FGItemId
	--	 LEFT JOIN [005].[dbo].[trav_tblMpOrderReleases_view] AS M ON M.[cf_Parent Order]=E.OrderNo
	--	 LEFT JOIN [005].[dbo].[trav_tblMpHistoryOrderReleases_view] AS MHist ON MHist.[cf_Parent Order]=E.OrderNo
	--WHERE EI.Id = @OrderReleaseEventItemId

	SELECT DISTINCT EI.OrderReleaseEventId, EI.Id AS OrdRelEvntItemId, I.Descr AS MaterialType, 
				    RMAlias = (SELECT TOP 1 AliasID 
							  FROM [005].[dbo].[trav_tblInItemAlias_View]
							  WHERE ItemId=R.RMItemId AND (RefID=M.CustId OR RefID=MHist.CustId) AND (([cf_FG Program]=FGItem.[cf_FG Program]) OR [cf_FG Program] IS NULL)
							  ORDER BY [cf_FG Program] DESC)

	FROM [005].[dbo].[trav_tblInItem_View] AS I
		 LEFT JOIN [W005].[dbo].OrderReleaseKitRawMatlOutTime AS R ON R.RMItemId=I.ItemId
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id=R.OrderReleaseEventItemId
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.Id=EI.OrderReleaseEventId
		 INNER JOIN [W005].[dbo].[CCIOrderReleaseInfo] AS ORI ON ORI.ParentOrderNo = E.OrderNo
		 INNER JOIN [005].[dbo].[trav_tblInItem_View] AS FGItem ON FGItem.ItemId=R.FGItemId
		 LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo = ORI.OrderNo AND M.ReleaseNo = ORI.ReleaseNo
		 LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo = ORI.OrderNo AND MHist.ReleaseNo = ORI.ReleaseNo
	WHERE EI.Id = @OrderReleaseEventItemId


END
GO
