USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPackedCartonsByOrderAndLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* Returns Complete AND Partial Cartons */

CREATE PROCEDURE [dbo].[spGetPackedCartonsByOrderAndLocId]
	@OrderNo as varchar(8),@LocId as varchar(10)
AS
BEGIN

		SELECT  C.ShipCartonNo As PkgId,SUM(I.Quantity) As Quantity,C.Id, Count(I.Id) As NoPacked,C.Complete, C.IsPacked,C.TareWt
		FROM [W005].[dbo].[ShipCarton] As C inner join [W005].[dbo].[ShipItem] As I On C.Id = I.ShipCartonId
		Where I.ProdOrderNo=@OrderNo AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 
		GROUP BY C.Id,C.ShipCartonNo,C.Complete, C.IsPacked,C.TareWt
	    order by C.ShipCartonNo desc
END

GO
