USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMasterRollUsage]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMasterRollUsage] @OrderNo as Varchar(8)
AS
BEGIN
SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, TotalConsumed, TotalLBS
FROM
(
	SELECT R.OrderNo, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, SUM(OREI.TotalQtyConsumed)+SUM(OREI.TotalWaste) AS TotalConsumed, IIF(U.ConvFactor IS NULL, null, ((SUM(OREI.TotalQtyConsumed)+SUM(OREI.TotalWaste))/U.ConvFactor)) AS TotalLBS
	FROM OrderReleaseEvent ORE
	INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = O.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = OREI.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	WHERE R.OrderNo = @OrderNo
	GROUP BY R.OrderNo, C.CustName, AF.AliasID, O.AssemblyId, I.Descr, AR.AliasID, OREI.ItemId, IR.Descr, OREI.LotNo, OREI.SerialNo, U.ConvFactor
	UNION ALL
	SELECT R.OrderNo, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, SUM(OREI.TotalQtyConsumed) AS TotalConsumed, IIF(U.ConvFactor IS NULL, null, (SUM(OREI.TotalQtyConsumed)/U.ConvFactor)) AS TotalLBS
	FROM OrderReleaseEvent ORE
	INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = R.LocId AND Substring(GLAcctCode,1,1) in ('1','2','3')
	LEFT JOIN [005].dbo.tblInItemUOM U on U.ItemId = OREI.ItemId  AND U.Uom = 'LB'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	WHERE R.OrderNo = @OrderNo
	GROUP BY R.OrderNo, C.CustName, AF.AliasID, R.AssemblyId, I.Descr, AR.AliasID, OREI.ItemId, IR.Descr, OREI.LotNo, OREI.SerialNo, U.ConvFactor
) A

END
GO
