USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsExtrudingItemOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsExtrudingItemOnPL] @PLNo AS INT
AS 
BEGIN

--DECLARE @PLNo AS INT = 13590
	
	SELECT DISTINCT CAST(IIF(COUNT(SPLD.PLNo) > 0, 1, 0) AS bit) AS IsExtruding --SPLD.PLNo, H.AssemblyId, R.MachineGroupId
	FROM [W005].[dbo].[ShipPackingListDetail] SPLD
		 INNER JOIN [005].[dbo].[tblMbAssemblyHeader]  H ON H.AssemblyId=SPLD.ItemId
		 INNER JOIN  [005].[dbo].[tblMbAssemblyRouting] R ON R.HeaderId=H.Id
	WHERE R.MachineGroupId LIKE 'EXT%' AND SPLD.PLNo=@PLNo

END
GO
