USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spWorkOrderSummary]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkOrderSummary] @OrderNo as Varchar(8)
AS
BEGIN
--DECLARE @OrderNo as varchar(8)
--Set @OrderNo = '00058372'

	--SELECT TOP 1 1 AS Sequence,  R.OrderNo, R.ReleaseNo, OREI.Id As OREIId, CAST(Null as Int) as ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQtyConsumed AS TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, OREI.UOM
	SELECT 1 AS Sequence,  R.OrderNo, R.ReleaseNo, OREI.Id As OREIId, CAST(Null as Int) as ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQtyConsumed AS TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, OREI.UOM
	INTO #T0
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = O.LocId --AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 1 AS Sequence, R.OrderNo, R.ReleaseNo, OREI.Id As OREIId, CAST(Null as Int) as ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQtyConsumed AS TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, OREI.UOM
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 0
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = R.LocId --AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 1 AS Sequence, R.OrderNo, R.ReleaseNo, Cast(null as int) As OREIId, CAST(Null as Int) as ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, D.ComponentId AS ItemId, IR.Descr AS RMDescr, LL.[cf_Lot No.] as LotNo, LL.LotNum as SerialNo, D.Qty-D.ActualScrap AS TotalQty, D.ActualScrap AS TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, R.UOM
	FROM [005].dbo.tblMpOrderReleases R
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = R.OrderNo
	INNER JOIN [005].dbo.tblMpRequirements RQ ON RQ.ReleaseId = R.Id
	INNER JOIN [005].dbo.tblMpMatlDtl D ON D.TransId = RQ.TransId
	INNER JOIN [005].dbo.tblMpMatlDtlExt E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = D.ComponentId AND IR.ProductLine = 'Polyliner'
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = D.ComponentId and L.LocId = D.LocId 
	INNER JOIN [005].dbo.trav_tblInItemLocLot_View LL ON LL.ItemId = D.ComponentId AND LL.LocId= D.LocId AND LL.LotNum = E.LotNum
	INNER JOIN [W005].dbo.OrderReleaseEvent ORE ON ORE.OrderNo = R.OrderNo AND ORE.ReleaseNo = R.ReleaseNo AND ORE.Event = 'Start Manufacturing'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = D.ComponentId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = D.ComponentId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = D.ComponentId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = D.ComponentId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = D.ComponentId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = D.ComponentId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = D.ComponentId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 1 AS Sequence, R.OrderNo, R.ReleaseNo, Cast(null as int) As OREIId, CAST(Null as Int) as ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, D.ComponentId AS ItemId, IR.Descr AS RMDescr, LL.[cf_Lot No.] as LotNo, LL.LotNum as SerialNo, D.Qty-D.ActualScrap AS TotalQty, D.ActualScrap AS TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, R.UOM
	FROM [005].dbo.tblMpHistoryOrderReleases R
	INNER JOIN [005].dbo.tblMpHistoryRequirements RQ ON RQ.ReleaseId = R.ReleaseId
	INNER JOIN [005].dbo.tblMpHistoryMatlDtl D ON D.TransId = RQ.TransId
	INNER JOIN [005].dbo.tblMpHistoryMatlDtlExt E ON E.TransId = D.TransId AND E.EntryNum = D.SeqNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = D.ComponentId AND IR.ProductLine = 'Polyliner'
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = D.ComponentId and L.LocId = D.LocId 
	INNER JOIN [005].dbo.trav_tblInItemLocLot_View LL ON LL.ItemId = D.ComponentId AND LL.LocId= D.LocId AND LL.LotNum = E.LotNum
	INNER JOIN [W005].dbo.OrderReleaseEvent ORE ON ORE.OrderNo = R.OrderNo AND ORE.ReleaseNo = R.ReleaseNo AND ORE.Event = 'Start Manufacturing'
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = D.ComponentId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = D.ComponentId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = D.ComponentId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = D.ComponentId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = D.ComponentId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = D.ComponentId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = D.ComponentId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 2 AS Sequence, R.OrderNo, R.ReleaseNo, OREI.Id As OREIId, S.ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, O.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, OREI.UOM
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 1
	INNER JOIN [005].dbo.tblMpOrder O ON O.OrderNo = ORE.OrderNo
	INNER JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = O.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = O.LocId --AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [W005].dbo.ShipItem S ON S.OREIId = OREI.Id
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = O.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo
	UNION ALL
	SELECT 2 AS Sequence, R.OrderNo, R.ReleaseNo, OREI.Id As OREIId, S.ShipPalletId, L.GLAcctCode, C.CustName, AF.AliasID AS FGAlias, R.AssemblyId, I.Descr AS FGDescr, AR.AliasID AS RMAlias, OREI.ItemId, IR.Descr AS RMDescr, OREI.LotNo, OREI.SerialNo, OREI.TotalQty, OREI.TotalWaste, U1.ConvFactor AS LBConvFactor, U2.ConvFactor AS LMConvFactor, U3.ConvFactor AS MSMConvFactor, U4.ConvFactor AS MSFConvFactor, C1.nTarget AS WidthMM, C2.nTarget AS WidthIN, ORE.OperationStep*10 as OpSeq, ORE.MachineGroupId, OREI.UOM
	FROM [W005].dbo.OrderReleaseEvent ORE
	INNER JOIN [W005].dbo.OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly = 1
	INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = ORE.OrderNo AND R.ReleaseNo = ORE.ReleaseNo
	INNER JOIN [005].dbo.tblInItem I on I.ItemId = R.AssemblyId
	INNER JOIN [005].dbo.tblInItem IR on IR.ItemId = OREI.ItemId
	INNER JOIN [005].dbo.tblInItemLoc L on L.ItemId = OREI.ItemId and L.LocId = R.LocId --AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	LEFT JOIN [W005].dbo.ShipItem S ON S.OREIId = OREI.Id
	LEFT JOIN [005].dbo.tblArCust C ON C.Custid = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AF ON AF.ItemId = R.AssemblyId AND AF.AliasType = 1 AND AF.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemAlias AR ON AR.ItemId = OREI.ItemId AND AR.AliasType = 1 AND AR.RefID = R.CustId
	LEFT JOIN [005].dbo.tblInItemUom U1 ON U1.ItemId = OREI.ItemId AND U1.Uom = 'LB'
	LEFT JOIN [005].dbo.tblInItemUom U2 ON U2.ItemId = OREI.ItemId AND U2.Uom = 'LM'
	LEFT JOIN [005].dbo.tblInItemUom U3 ON U3.ItemId = OREI.ItemId AND U3.Uom = 'MSM'
	LEFT JOIN [005].dbo.tblInItemUom U4 ON U4.ItemId = OREI.ItemId AND U4.Uom = 'MSF'
	LEFT JOIN [W005].dbo.vProductCharacteristics C1 ON C1.ItemId = OREI.ItemId AND C1.Characteristic = 'Width(MM)'
	LEFT JOIN [W005].dbo.vProductCharacteristics C2 ON C2.ItemId = OREI.ItemId AND C2.Characteristic = 'Width(IN)'
	WHERE R.OrderNo = @OrderNo

	SELECT 1 AS Sequence
		, OrderNo
		, CustName
		, FGAlias
		, AssemblyId
		, FGDescr
		, RMAlias
		, B.ItemId AS RMItemId
		, RMDescr
		, RMQty = COUNT(B.ItemID) 
		, RMWidthIN = WidthIN
		, RMWidthMM = WidthMM
		, RMLengthFeet = SUM(TotalQty)+SUM(TotalWaste)
		, RMWasteFeet = SUM(TotalWaste)
		, RMLengthMeters = (SUM(TotalQty)+SUM(TotalWaste))/LMConvFactor
		, RMWeightLB = (SUM(TotalQty)+SUM(TotalWaste))/LBConvFactor
		, RMWeightPct = 1
		, RMAreaMSM = (SUM(TotalQty)+SUM(TotalWaste))/MSMConvFactor
		, RMAreaMSF = (SUM(TotalQty)+SUM(TotalWaste))/MSFConvFactor
		, RMAreaPct = 1
		, RMLBConvFactor = LBConvFactor
		, RMLMConvFactor = LMConvFactor
		, RMMSMConvFactor = MSMConvFactor
		, RMMSFConvFactor = MSFConvFactor
		, OpSeq
		, MachineGroupId
	INTO #RMRolls
	FROM
	(	
		SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, SUM(TotalQty) AS TotalQty, SUM(TotalWaste) AS TotalWaste, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, OpSeq, MachineGroupId
		FROM #T0
		WHERE Sequence = 1 AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
		GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, OpSeq, MachineGroupId
	) B
	GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, B.ItemId, RMDescr, WidthMM, WidthIN, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, OpSeq, MachineGroupId

	SELECT 4 AS Sequence
		, OrderNo
		, CustName
		, FGAlias
		, AssemblyId
		, FGDescr
		, RMAlias
		, B.ItemId AS RMItemId
		, RMDescr
		, RMQty = SUM(B.TotalQty+B.TotalWaste) 
		, RMWidthIN = WidthIN
		, RMWidthMM = WidthMM
		, RMLengthFeet = SUM(TotalQty)+SUM(TotalWaste)
		, RMWasteFeet = SUM(TotalWaste)
		, RMLengthMeters = (SUM(TotalQty)+SUM(TotalWaste))/LMConvFactor
		, RMWeightLB = (SUM(TotalQty)+SUM(TotalWaste))/LBConvFactor
		, RMWeightPct = 1
		, RMAreaMSM = (SUM(TotalQty)+SUM(TotalWaste))/MSMConvFactor
		, RMAreaMSF = (SUM(TotalQty)+SUM(TotalWaste))/MSFConvFactor
		, RMAreaPct = 1
		, RMLBConvFactor = LBConvFactor
		, RMLMConvFactor = LMConvFactor
		, RMMSMConvFactor = MSMConvFactor
		, RMMSFConvFactor = MSFConvFactor
		, OpSeq
		, MachineGroupId = IIF(MachineGroupId = 'NO MACHINE', NULL, MachineGroupId)
		, UOM
	INTO #RMMaterial
	FROM
	(	
		SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, SUM(TotalQty) AS TotalQty, SUM(TotalWaste) AS TotalWaste, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, OpSeq, MachineGroupId, UOM
		FROM #T0
		WHERE Sequence = 1 AND Substring(GLAcctCode,1,1) in ('4', '5', '6', '7')
		GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, OpSeq, MachineGroupId, UOM
	) B
	GROUP BY OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, B.ItemId, RMDescr, WidthMM, WidthIN, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, OpSeq, MachineGroupId, UOM


	SELECT 2 AS Sequence
		, OrderNo
		, CustName
		, FGAlias
		, AssemblyId
		, FGDescr
		, RMAlias
		, B.ItemId
		, RMDescr
		, FGQty = IIF(ShipPalletId IS NULL, (SELECT COUNT(SerialNo) FROM #T0 WHERE Sequence = 2 AND TotalQty > 0 AND ShipPalletId IS NULL), (SELECT COUNT(SerialNo) FROM #T0 WHERE Sequence = 2 AND TotalQty > 0 AND ShipPalletId = B.ShipPalletId))
		, FGQtyPlanned = (SELECT COUNT(SerialNo) FROM #T0 WHERE Sequence = 2)
		, FGWidthIN = WidthIN
		, FGWidthMM = WidthMM
		, FGLengthFeet = SUM(TotalQty)
		, FGWasteFeet = SUM(TotalWaste)
		, FGLengthMeters = SUM(TotalQty)/LMConvFactor
		, FGWeightLB = SUM(TotalQty)/LBConvFactor
		, FGWeightPct = (SUM(TotalQty)/LBConvFactor)/T.RMWeightLB
		, FGAreaMSM = SUM(TotalQty)/MSMConvFactor
		, FGAreaMSF = SUM(TotalQty)/MSFConvFactor
		, FGAreaPct = (SUM(TotalQty)/MSMConvFactor) / T.RMAreaMSM
		, FGLBConvFactor = LBConvFactor
		, FGLMConvFactor = LMConvFactor
		, FGMSMConvFactor = MSMConvFactor
		, FGMSFConvFactor = MSFConvFactor
		, ShipPalletId
	INTO #FG
	FROM
	(	
		SELECT OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, SUM(TotalQty) AS TotalQty, SUM(TotalWaste) AS TotalWaste, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN, ShipPalletId
		FROM #T0
		WHERE Sequence = 2 AND TotalQty > 0
		GROUP BY ShipPalletId, OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, ItemId, RMDescr, LotNo, SerialNo, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, WidthMM, WidthIN
	) B
	LEFT JOIN (SELECT SUM(RMWeightLB) AS RMWeightLB, SUM(RMAreaMSM) AS RMAreaMSM FROM #RMRolls) T ON 1 = 1 
	GROUP BY ShipPalletId, OrderNo, CustName, FGAlias, AssemblyId, FGDescr, RMAlias, B.ItemId, RMDescr, WidthMM, WidthIN, LBConvFactor, LMConvFactor, MSMConvFactor, MSFConvFactor, T.RMWeightLB, T.RMAreaMSM

	DECLARE @TrimWidth as float
	SELECT Top 1 @TrimWidth = #T0.WidthIN-(T.Cuts * T.WidthIN)
	FROM #T0
	INNER JOIN (SELECT OrderNo, ReleaseNo, WidthIN, Count(SerialNo) AS Cuts FROM #T0 WHERE Sequence = 2 GROUP BY OrderNo, ReleaseNo, WidthIN) T ON T.OrderNo = #T0.OrderNo AND T.ReleaseNo = #T0.ReleaseNo
	WHERE Sequence = 1 AND Substring(GLAcctCode,1,1) in ('1','2','3','8')
	GROUP BY #T0.OrderNo, #T0.ReleaseNo, #T0.WidthIN, T.WidthIN, T.Cuts 

	SELECT 3 AS Sequence
		 , #RMRolls.OrderNo
		 , TrimWeight = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMLBConvFactor) 
		 , TrimWeightPct = ((RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMLBConvFactor)) / RMWeightLB)
		 , TrimAreaMSM = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSMConvFactor)
		 , TrimAreaMSF = RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSFConvFactor)
		 , TrimAreaPct = ((RMLengthFeet / ((RMWidthIN / @TrimWidth) * RMMSMConvFactor)) / RMAreaMSM)
		 , WasteWeight = (RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)
		 , WasteWeightPct = ((RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMWeightLB
		 , WasteAreaMSM = ((RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMMSMConvFactor
		 , WasteAreaMSF = ((RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMMSFConvFactor
		 , WasteAreaPCT = ((((RMWasteFeet / RMLBConvFactor) + (FGWasteFeet / FGLBConvFactor)) / RMMSMConvFactor) / RMAreaMSM)
	INTO #TrimWeight
	FROM #RMRolls
	INNER JOIN (SELECT OrderNo, FGLBConvFactor, SUM(FGWasteFeet) AS FGWasteFeet FROM #FG GROUP BY OrderNo, FGLBConvFactor) B ON #RMRolls.OrderNo = B.OrderNo

	SELECT DISTINCT FGAlias, AssemblyId, D.TransId AS SalesOrderNo, ISNULL(D.[cf_Customer PO#], H.CustPONum) as CustPONum, FGWidthIN, D.TotQtyOrdSell AS OrderQty, D.UnitsSell AS OrderUOM, D.TotQtyOrdSell*D.ConversionFactor AS OrderQtyFt, (D.TotQtyOrdSell*D.ConversionFactor)/FGLBConvFactor AS OrderQtyLBS
	INTO #SOInfo
	FROM #FG
	INNER JOIN [005].dbo.trav_tblSoTransDetail_view D ON D.ItemId = #FG.AssemblyId
	INNER JOIN [005].dbo.tblSoTransHeader H ON H.TransId = D.TransID

	SELECT Top 1 OrderNo, CustName, FGAlias, AssemblyId, FGDescr FROM #T0
	SELECT * FROM #RMRolls
	SELECT * FROM #RMMaterial
	SELECT * FROM #FG
	SELECT * FROM #SOInfo
	SELECT * FROM #TrimWeight

	SELECT Top 1 FGWidthIN, FGQtyPlanned, SUM(FGQty) as FGQty, SUM(FGQty) - FGQtyPlanned AS Diff FROM #FG GROUP BY FGWidthIN, FGQtyPlanned

	DROP TABLE #T0
	DROP TABLE #RMRolls
	DROP TABLE #RMMaterial
	DROP TABLE #FG
	DROP TABLE #SOInfo
	DROP TABLE #TrimWeight

END
GO
