USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSpunbondRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebSpunbondRollLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

SELECT
     Description = I.Descr
    ,PartNumber = A.AliasID

    ,MasterRollNumbers =
        STUFF
        (
            (
                SELECT DISTINCT
                    ', ' + RM.SerialNo
                FROM W005.dbo.OrderReleaseEvent E1
                INNER JOIN W005.dbo.OrderReleaseEventItem RM
                    ON RM.OrderReleaseEventId = E1.Id
                WHERE E1.OrderNo = E.OrderNo
                  AND E1.ReleaseNo = E.ReleaseNo
                  AND RM.IsAssembly = 0
                  AND RM.SerialNo IS NOT NULL
                FOR XML PATH(''), TYPE
            ).value('.','nvarchar(max)')
        ,1,2,'')

    ,SetID =
        E.OrderNo + '-'
        + RIGHT('000' + CAST(E.ReleaseNo AS varchar(3)),3)

    ,WidthIN =
        (
            SELECT TOP 1 P.nTarget
            FROM W005.dbo.ProductChar P
            INNER JOIN W005.dbo.Characteristic C
                ON C.Id = P.CharId
            WHERE P.ItemId = EI.ItemId
              AND C.Characteristic = 'Width(IN)'
        )

    ,LengthLY =
        (
            SELECT TOP 1
                EI.TotalQty / U.ConvFactor
            FROM [005].dbo.tblInItemUom U
            WHERE U.ItemId = EI.ItemId
              AND U.Uom = 'LY'
        )

    ,WeightLB =
        (
            SELECT TOP 1
                EI.TotalQty / U.ConvFactor
            FROM [005].dbo.tblInItemUom U
            WHERE U.ItemId = EI.ItemId
              AND U.Uom = 'LB'
        )
        , RemainingQty =
            ISNULL(Q.QtyOnHand, EI.TotalQty)

        , QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'')

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    INNER JOIN [005].[dbo].[tblInItem] I
        ON I.ItemId = EI.ItemId

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    LEFT JOIN [005].[dbo].[tblMpOrderReleases] R
        ON R.OrderNo = E.OrderNo
       AND R.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH
        ON RH.OrderNo = E.OrderNo
       AND RH.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblInItemAlias] A
        ON A.ItemId = EI.ItemId
       AND A.RefID = ISNULL(R.CustId, RH.CustId)

    LEFT JOIN [005].[dbo].[tblInItemAddlDescr] IAD
        ON IAD.ItemId = EI.ItemId

    LEFT JOIN [005].[dbo].[tblInItemUom] LY
        ON LY.ItemId = EI.ItemId
       AND LY.Uom = 'LY'

    LEFT JOIN [005].[dbo].[tblInItemUom] LB
        ON LB.ItemId = EI.ItemId
       AND LB.Uom = 'LB'

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic C
            ON C.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND C.Characteristic = 'Width(MM)'
    ) WM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.CutPos;

END
GO
