USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetParentOrderBOMMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetParentOrderBOMMaterial] @ParentOrderNo as varchar(8)
AS
BEGIN
    --DECLARE @ParentOrderNo as varchar(8) = 'P0050863'
	SELECT I.ItemId, I.Descr, DD.UOM, I.ProductLine, I.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM, L.GLAcctCode, CAST(dd.[cf_Max Lots Allowed] AS varchar(5)) as MaxLotsAllowed
	INTO #T1
	FROM [W005].dbo.CCIOrderReleaseInfo ORI
	INNER JOIN [005].dbo.tblMpOrderReleases OR1 ON OR1.OrderNo = ORI.OrderNo AND OR1.ReleaseNo = ORI.ReleaseNo
	INNER JOIN [005].dbo.tblMbAssemblyHeader H ON H.AssemblyId = ORI.ItemId AND H.RevisionNo = ORI.RevisionNo
	INNER JOIN [005].dbo.trav_tblMbAssemblyDetail_View DD ON DD.HeaderId = H.Id 
	INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = DD.ComponentID
	INNER JOIN [005].dbo.tblInItemLoc AS L ON L.ItemId = DD.ComponentID AND L.LocId = ORI.LocID
	WHERE ORI.ParentOrderNo = @ParentOrderNo 
		AND (DD.[cf_Do not show on MES Issue-Load Forms] IS NULL OR DD.[cf_Do not show on MES Issue-Load Forms] = 0)
	Order By I.ItemId

	SELECT ItemId
	INTO #T2
	FROM 
	(
		SELECT ItemId, MaxLotsAllowed 
		FROM #T1
		Group By ItemId, MaxLotsAllowed
	) A
	GROUP BY ItemId
	HAVING COUNT(ItemId) > 1

	SELECT DISTINCT #T1.ItemId, Descr, UOM, ProductLine, LottedYN, MultiUOM, GLAcctCode, IIF(#T2.ItemId IS NULL, IIF(ISNULL(MaxLotsAllowed,'0')='0', '0', MaxLotsAllowed), 'Mismatch') AS MaxLotsAllowed
	FROM #T1
	LEFT JOIN #T2 ON #T2.ItemId = #T1.ItemId
END

GO
