USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCovestroRollsOnPalletSubRpt]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCovestroRollsOnPalletSubRpt] @PalletId as int
AS
BEGIN

	--DECLARE @PalletId as int = 125012

SELECT DISTINCT 
		CovestroRollNum = SUBSTRING(RMOREI.SerialNo, 3, 8) + Char(64 + ORE.ReleaseNo) + Char(64 + FGOREI.CutPos) 
 FROM ShipItem SI
	  INNER JOIN OrderReleaseEventItem FGOREI ON FGOREI.Id=SI.OREIId
	  INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
	  INNER JOIN OrderReleaseEventItem RMOREI ON RMOREI.OrderReleaseEventId=ORE.Id AND RMOREI.IsAssembly=0
	  INNER JOIN [005].[dbo].[tblInItemLoc] IL ON IL.ItemId=RMOREI.ItemId AND IL.LocId=RMOREI.LocId AND IL.GLAcctCode IN ('10', '15', '20', '30') -- direct material	

WHERE SI.ShipPalletId=@PalletId AND RMOREI.SerialNo is not null



END
GO
