USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetExtrAdjDistinctOrderAndRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExtrAdjDistinctOrderAndRelNo]
	@PalletId as int


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @PalletId as int = 26251

	SELECT DISTINCT ProdOrderNo, ProdOrderRelNo
	FROM [W005].[dbo].[ShipItem] 
	WHERE ShipPalletId = @PalletId AND PostedToTraverse=1 AND ProdOrderRelNo Is Not Null AND ProdOrderNo Is Not Null




END
GO
