USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsCriticalSupplier]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsCriticalSupplier]
	@VendorId as varchar(10)
AS
BEGIN

--DECLARE @VendorId as varchar(10) = 'Cadi01'


	SELECT CAST([cf_Critical Supplier] as bit) as IsCriticalSupplier
	FROM [005].[dbo].[trav_tblApVendor_view] 
	WHERE VendorId = @VendorId AND [cf_Critical Supplier]=1


END
GO
