USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCartonPackingSlip777xLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCartonPackingSlip777xLabel] @CtnId AS INT
AS
BEGIN

	--DECLARE @CtnId AS INT = 38


SELECT DISTINCT 		
		S.*,
		RecorderNums = null,
		--RecorderNums = STUFF(
		--						(
		--							SELECT DISTINCT ',' + OTR.Recorder1 + ', ' + OTR.Recorder2
		--							FROM [W005].[dbo].[ShipItem] SI
		--								 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
		--								 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.IsAssembly=0 
		--								 INNER JOIN [005].[dbo].[tblWmRcpt] R ON R.ItemId=OREI.ItemId AND R.LotNum=ISNULL(OREI.SerialNo, OREI.LotNo) AND R.LocId=OREI.LocId
		--								 INNER JOIN [W005].[dbo].[OutTimeReceivingDetail] OTR ON OTR.PONum=R.TransId AND OTR.RcptNum=R.ReceiptNum
		--							WHERE SI.ShipCartonId=S.ShipCartonId AND OREI.ItemId=EI.ItemId
		--							FOR XML PATH(''), TYPE
		--						).value('.[1]','nvarchar(max)'),
		--						1,1,''
		--					),

		OldestDOM = MIN(ISNULL(IL.[cf_Vendor Mfg Date], IL.InitialDate)),	
		RMItemId = EI.ItemId,
		RMAddlDescr = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX)) FROM [005].[dbo].[tblInItemAddlDescr] A WHERE A.ItemId=EI.ItemId), 
						(SELECT CAST(Descr AS VARCHAR(MAX)) FROM [005].[dbo].[tblInItem] A WHERE A.ItemId=EI.ItemId)),

		RMSerialNos = STUFF(
								(
									SELECT DISTINCT ', ' + ISNULL(OREI.SerialNo, OREI.TravLotNum)
									FROM [W005].[dbo].[ShipItem] SI
										 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
									WHERE OREI.IsAssembly=0 AND SI.ShipCartonId=S.ShipCartonId AND OREI.ItemId=EI.ItemId
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							), --Component Rolls

		RMLotNos = STUFF(
								(
									SELECT DISTINCT ', ' + OREI.LotNo
									FROM [W005].[dbo].[ShipItem] SI
										 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
										 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id
									WHERE OREI.IsAssembly=0 AND SI.ShipCartonId=S.ShipCartonId AND OREI.ItemId=EI.ItemId
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
						 ) --BatchNumbers
FROM (
	SELECT DISTINCT 
			SalesOrder = ISNULL(R.SalesOrder, RH.SalesOrder),
			SI.ShipPalletId,
			SP.ShipPalletNo,
			SI.ShipCartonId,
			SC.ShipCartonNo,
			S.ShipToName,
			ShipToCustPO = SO.[cf_Customer PO#] + ' / ' + CAST(RIGHT('0000' + SO.[cf_Customer PO Line], 4) AS VARCHAR(10)), -- Customer PO# and Customer PO Line on the SO
			CustPOLine = RIGHT('0000' + SO.[cf_Customer PO Line], 4), -- Customer PO Line on the SO			
			PurchaseOrder = ISNULL(R.PurchaseOrder, RH.PurchaseOrder), --  PO Number from FG's production order and release
			SI.ItemId,
			ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] I WHERE I.ItemId = SI.ItemId),
			FGAddlDescr = ISNULL((SELECT CAST(AddlDescr AS VARCHAR(MAX)) FROM [005].[dbo].[tblInItemAddlDescr] A WHERE A.ItemId=SI.ItemId),
								 (SELECT Descr FROM [005].[dbo].[tblInItem] I WHERE I.ItemId = SI.ItemId)),
			FGAlias = (SELECT AliasId FROM [005].[dbo].[trav_tblInItemAlias_View] A WHERE A.ItemID=SI.ItemId AND A.RefID=ISNULL(R.CustId, RH.CustId)),
			ORE.OrderNo,
			ORE.ReleaseNo,
			OREI.TravLotNum,
			CutPos = RIGHT('000' + CAST(OREI.CutPos AS VARCHAR(10)), 3),
			WidthIN = ISNull(P.nTarget, P1.nTarget),
			LengthLF = CAST((SI.Quantity / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'LF')) AS FLOAT),
			WeightLB = CAST((SI.Quantity / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'LB')) AS FLOAT),
			WeightKG = CAST((SI.Quantity / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = SI.ItemId and A.Uom = 'KG')) AS FLOAT)
	FROM [W005].[dbo].[ShipItem] AS SI 
		 INNER JOIN [W005].[dbo].[ShipCarton] AS SC ON SC.Id=SI.ShipCartonId
		 INNER JOIN [W005].[dbo].[ShipPallet] AS SP ON SP.Id=SI.ShipPalletId
		 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId = ORE.Id AND OREI.TravLotNum=SI.TravLotNum
		 LEFT JOIN  [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo  
		 LEFT JOIN  [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo
		 LEFT JOIN  [005].[dbo].[tblSoTransHeader] S ON S.TransId=ISNULL(R.SalesOrder, RH.SalesOrder)
		 LEFT JOIN  [005].[dbo].[trav_tblSoTransDetail_view] SO ON SO.TransId=S.TransId AND SO.ItemId=SI.ItemId
		 LEFT JOIN  [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)'  
		 LEFT JOIN  [W005].[dbo].[ProductChar] AS P ON P.ItemId = SI.ItemId AND P.CharId = C.Id  
		 LEFT JOIN  [W005].[dbo].[Characteristic] AS C1 ON C1.Characteristic = 'Width' 
		 LEFT JOIN  [W005].[dbo].[ProductChar] AS P1 ON P1.ItemId = SI.ItemId AND P1.CharId = C1.Id 
	WHERE SI.ShipCartonId=@CtnId
) S
	INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=S.OrderNo AND E.ReleaseNo=S.ReleaseNo
	INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=0
	INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '20', '30', '80')
	INNER JOIN [005].[dbo].[trav_tblInItemLocLot_View] IL ON IL.ItemId=EI.ItemId AND IL.LotNum=ISNULL(EI.SerialNo,EI.LotNo) AND IL.LocId=EI.LocId
		
GROUP BY SalesOrder, ShipPalletNo, ShipPalletId, ShipCartonId, ShipCartonNo, ShipToName, ShipToCustPO, CustPOLine, PurchaseOrder, S.ItemId, ItemDescr, FGAddlDescr, FGAlias, S.OrderNo, S.ReleaseNo, S.TravLotNum, S.CutPos, WidthIN, LengthLF, WeightLB, WeightKG, EI.ItemId
ORDER BY SalesOrder, ShipPalletNo, ShipPalletId, ShipCartonId, ShipCartonNo, ShipToName, ShipToCustPO, CustPOLine, PurchaseOrder, S.ItemId, ItemDescr, FGAddlDescr, FGAlias, S.OrderNo, S.ReleaseNo, S.TravLotNum, S.CutPos, WidthIN, LengthLF, WeightLB, WeightKG, EI.ItemId



END
GO
