USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebCartonCutPosLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebCartonCutPosLabel] @CtnId as int
AS
BEGIN

--DECLARE @CtnId AS INT = 90059

SELECT DISTINCT ShipCartonNo, ShipPalletNo, ProdOrderNo, ProdOrderRelNo, WorkOrder, CustomerName, PurchaseOrder,
				FGAliasID, FGItemAliases, CutPos, WidthIN, WidthMM, TotalLength, TotalLengthUOM, TotalWeightLBS, MfgDate, RMItemDescr, MRSerialNo, MRLotNo,MRExpDate,MFGLotNo,FGLen,FGDescr,
				LengthByLabelLengthUOM = FGLen / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.FGItemId and U.Uom = A.LabelLengthUOM) /*HDT21538*/,  
				TotalLengthByLabelLengthUOM = TotalLength / (SELECT DISTINCT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = A.FGItemId and U.Uom = A.LabelLengthUOM), 
				LabelLengthUOM
FROM (
	SELECT DISTINCT
		SC.ShipCartonNo,
		SP.ShipPalletNo,
		SI.ProdOrderNo,
		SI.ProdOrderRelNo,
		WorkOrder = SUBSTRING(SI.ProdOrderNo, PATINDEX('%[^0]%', SI.ProdOrderNo+'.'), LEN(SI.ProdOrderNo)),
		/*
		ProdOrders = LTRIM(STUFF((SELECT DISTINCT '/' + SI1.ProdOrderNo 
									FROM [W005].[dbo].[ShipItem] AS SI1 
									WHERE SI1.ShipCartonId = @CtnId
								FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
		ReleaseNos = LTRIM(STUFF((SELECT DISTINCT '/' + CAST(SI1.ProdOrderRelNo AS VARCHAR)
									FROM [W005].[dbo].[ShipItem] AS SI1 
									WHERE SI1.ShipCartonId = @CtnId
								FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
		WorkOrders = LTRIM(STUFF((SELECT DISTINCT '/' + SUBSTRING(SI1.ProdOrderNo, PATINDEX('%[^0]%', SI1.ProdOrderNo+'.'), LEN(SI1.ProdOrderNo))
									FROM [W005].[dbo].[ShipItem] AS SI1 
									WHERE SI1.ShipCartonId = @CtnId
								FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
		*/
		CustomerName = (SELECT DISTINCT CustName FROM [005].[dbo].[tblArCust] WHERE CustId = ISNULL(R.CustId,RH.CustId)),
		PurchaseOrder = LTRIM(ISNULL(R.PurchaseOrder,RH.PurchaseOrder)),
		FGItemId = EI.ItemId,
		FGAliasID = A.AliasID,
		FGItemAliases = LTRIM(STUFF((SELECT DISTINCT ', '+AliasID	
									FROM [005].[dbo].[tblInItemAlias] A
									WHERE A.ItemID=EI.ItemId FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),	1,1,'')),
		EI.CutPos,
		WidthIN = (SELECT DISTINCT P.nTarget
					FROM [W005].[dbo].[ProductChar] AS P 
						 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)'
					WHERE P.ItemId=I.ItemId),
		WidthMM = (SELECT DISTINCT P.nTarget
					FROM [W005].[dbo].[ProductChar] AS P
						 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(MM)'
					WHERE P.ItemId = I.ItemId),
		LabelLengthUOM = ISNULL((SELECT DISTINCT P.sTarget
							FROM [W005].[dbo].[ProductChar] AS P 
								 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'LabelLengthUOM'
							WHERE P.ItemId=I.ItemId), I.UOMBase),
		TotalLength = (SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId),
		TotalLengthUOM = I.UomBase,
		TotalWeightLBS = ((SELECT SUM(Quantity) FROM [W005].[dbo].[ShipItem] AS S WHERE ShipCartonId  = @CtnId) / (SELECT IsNull(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = I.ItemId and A.Uom = 'LB')),
		MfgDate = EI.EventDateTime,

		RMItemDescr = (SELECT DISTINCT Descr FROM [005].[dbo].[tblInItem] II WHERE II.ItemId=RM.ItemId),
		MRSerialNo = RM.SerialNo,
		MRLotNo = RM.LotNo
		,MRExpDate = RM.ExpDate /* HDT 21390 */
		,MFGLotNo = SI.ProdOrderNo + '-'+ RIGHT('000' + CONVERT(VARCHAR,SI.ProdOrderRelNo), 3) + '-'+  + IIF(EI.CutPos=1,'L',IIF(EI.CutPos=2,'C','R')) /* HDT 21390 */
		,FGLen = SI.Quantity /* HDT 21390 */
		,FGDescr = I.Descr  /* HDT 21390 */

		FROM [W005].[dbo].[ShipCarton] AS SC 
			 INNER JOIN [W005].[dbo].[ShipItem] AS SI ON SI.ShipCartonId = SC.Id
			 INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId = SI.ItemId   
			 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.Id=SI.OREIId
			 INNER JOIN (SELECT DISTINCT ProdOrderNo, ProdOrderRelNo, EI.ItemId, EI.SerialNo, EI.LotNo , LL.ExpDate
						   FROM [W005].[dbo].[OrderReleaseEvent] E
								INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
								INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30')--direct materials
								INNER JOIN [005].[dbo].[tblInItemLocLot] LL ON LL.ItemId=EI.ItemId AND LL.LocId=EI.LocId AND LL.LotNum=EI.SerialNo /* HDT 21390 */
								INNER JOIN (SELECT DISTINCT SI.ProdOrderNo, SI.ProdOrderRelNo, E.OrderNo AS IMOrderNo, E.ReleaseNo AS IMReleaseNo, EI.ItemId, EI.SerialNo, EI.LotNo
																FROM ShipCarton SC
																		INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id
																		INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=SI.ProdOrderNo AND ORE.ReleaseNo=SI.ProdOrderRelNo
																		INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=0
																		INNER JOIN OrderReleaseEventItem EI ON EI.ItemId=OREI.ItemId AND EI.SerialNo=OREI.SerialNo AND EI.IsAssembly=1
																		INNER JOIN OrderReleaseEvent E ON E.Id=EI.OrderReleaseEventId
																		INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode LIKE '8%' --intermediate
																WHERE SC.Id=@CtnId) IM ON IM.IMOrderNo=E.OrderNo AND IM.IMReleaseNo=E.ReleaseNo 
						 UNION
						 SELECT DISTINCT ProdOrderNo, ProdOrderRelNo, EI.ItemId, EI.SerialNo, EI.LotNo , LL.ExpDate
						   FROM ShipCarton SC
								INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id
								INNER JOIN [W005].[dbo].[OrderReleaseEvent] E ON E.OrderNo=SI.ProdOrderNo AND E.ReleaseNo=SI.ProdOrderRelNo
								INNER JOIN [W005].[dbo].[OrderReleaseEventItem] EI ON EI.OrderReleaseEventId=E.Id AND EI.IsAssembly=0
								INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=EI.ItemId AND L.LocId=EI.LocId AND L.GLAcctCode IN ('10', '15', '20', '30')--direct materials
								INNER JOIN [005].[dbo].[tblInItemLocLot] LL ON LL.ItemId=EI.ItemId AND LL.LocId=EI.LocId AND LL.LotNum=EI.SerialNo /* HDT 21390 */
							WHERE SC.Id=@CtnId
						) RM ON RM.ProdOrderNo=SI.ProdOrderNo AND RM.ProdOrderRelNo=SI.ProdOrderRelNo
			 LEFT JOIN  [W005].dbo.ShipPallet as sp on sc.ShipPalletId = sp.id 
			 LEFT JOIN  [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = SI.ProdOrderNo AND R.ReleaseNo = SI.ProdOrderRelNo
			 LEFT JOIN  [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = SI.ProdOrderNo AND RH.ReleaseNo = SI.ProdOrderRelNo 
			 LEFT JOIN  [005].[dbo].[trav_tblInItemAlias_View] AS A ON A.ItemID = I.ItemId AND A.RefID=ISNULL(R.CustId, RH.CustId)
		WHERE SC.Id=@CtnId
) A
ORDER BY ProdOrderNo, ProdOrderRelNo, CutPos

END
GO
