USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIPartialKitForOTLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIPartialKitForOTLabel] @PrintJobId as int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId AS int, @BagNum AS varchar(24)
AS
BEGIN

--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00026543'
--DECLARE @ReleaseNo AS int = 2
--DECLARE @OrderReleaseEventItemId as int = 30
--DECLARE @BagNum AS varchar(24) = NULL

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL 
END
IF SUBSTRING(@OrderNo, 1, 1) = 'P'
BEGIN
  SELECT TOP 1 @OrderNo = OrderNo, @ReleaseNo = ReleaseNo FROM [W005].[dbo].CCIOrderReleaseInfo WHERE ParentOrderNo = @OrderNo
END

SELECT DISTINCT	   I.Id AS OrderReleaseEventItemId
				  ,E.Id AS OrderReleaseEventId
				  ,CustId = ISNULL(M.CustId, MHist.CustId)
				  ,CustPONum = ISNULL(M.PurchaseOrder,MHist.PurchaseOrder)
				  ,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE (CustId=M.CustId OR CustId=MHist.CustId))
				  ,CustPN = ISNULL((SELECT AliasID FROM [005].[dbo].[tblInItemAlias] WHERE (RefID=M.CustId OR RefID=MHist.CustId) AND ItemID=C.ItemId), C.ItemId)
				  ,CustomerRevision = C.CustRev
				  ,C.ParentOrderNo
				  ,C.OrderNo
				  ,C.ReleaseNo
				  ,C.RevisionNo
				  ,C.ItemId
				  ,ItemDescr = (SELECT Descr FROM [005].[dbo].[tblInItem] WHERE ItemId=C.ItemId)
				  ,I.TravSerNum
				  ,I.TravLotNum
				  ,PartialKitBarcode = '1' + '|' + C.ItemId + '|' + ISNULL(I.TravSerNum, I.SerialNo) + '|' + ISNULL(I.TravLotNum, '') + '|' + C.ParentOrderNo + '|' + '1'
				  ,FGKitBarcode = '1' + '|' + C.ItemId + '|' + I.TravSerNum + '|' + ISNULL(I.TravLotNum, '')
							

  FROM [W005].[dbo].[CCIOrderReleaseInfo]  AS C 
	   LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS M ON M.OrderNo=C.OrderNo AND M.ReleaseNo=C.ReleaseNo	   
	   LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MHist ON MHist.OrderNo=C.OrderNo AND MHist.ReleaseNo=C.ReleaseNo
	   INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON E.OrderNo=C.ParentOrderNo
	   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS I ON I.OrderReleaseEventId=E.Id AND I.ItemId=C.ItemId
	   LEFT JOIN [W005].[dbo].[OrderReleaseEventItemOutTime] AS R ON R.OrderReleaseEventItemId=I.Id
 WHERE C.OrderNo=@OrderNo AND C.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId IS NULL OR I.Id = @OrderReleaseEventItemId)
 

END
GO
