USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSearchShipPalletGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSearchShipPalletGrid] @FromDt as Datetime, @ThruDt as Datetime
AS
BEGIN
	SELECT P.[Id] AS ShipPalletId
		  ,P.[ShipPalletNo]
		  ,P.[TOPSforExtruding]
		  ,P.[Complete] AS PalletComplete
		  ,P.[NotForShipment] AS PalletNotForShipment
		  ,P.[Shipped] AS PalletShipped
		  ,P.[DateCreated] AS PalletDateCreated
		  ,C.[Id] AS CartonId
		  ,IsNull(C.[ShipCartonNo], 'N/A') AS ShipCarton
		  ,C.[Complete] AS CartonComplete
		  ,B.[Id] AS BoxId
		  ,IsNull(B.[ShipBoxNo], 'N/A') as ShipBox
		  ,B.[Complete] AS BoxComplete
		  ,I.[ItemId] 
		  ,I.[SerNo]
		  ,I.[LotNo]
			,I.[TravLotNum]
		  ,I.[Quantity]
		  ,I.[UOM]
		  ,I.[AdditionalLotNo]
		  ,I.[ProdOrderNo]
		  ,I.[ProdOrderRelNo]
			,D.PLNo AS PackingListNo
			,D.OrderNo AS SalesOrderNo
	  FROM [W005].[dbo].[ShipPallet] AS P INNER JOIN 
		   [W005].[dbo].[ShipItem] AS I ON I.ShipPalletId = P.Id LEFT JOIN
		   [W005].[dbo].[ShipCarton] AS C ON C.Id = I.ShipCartonId AND C.Deleted = 0 LEFT JOIN
		   [W005].[dbo].[ShipBox] AS B ON B.Id = I.ShipBoxId AND B.Deleted = 0 LEFT JOIN
			 [W005].[dbo].[vShipPackList] AS D ON (D.ShipPalletId = P.Id OR D.ShipCartonId = C.Id OR D.ShipBoxId = B.Id OR D.ShipItemId = I.Id)  
	  WHERE P.Deleted = 0 AND P.[DateCreated] >= @FromDt AND P.[DateCreated] < @ThruDt
END
GO
