USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountItemData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetInventoryCountItemData]
	@ShipItemNo as varchar(10)
AS
BEGIN

--declare @ShipItemNo as varchar(10) ='I000000054'

	SELECT DISTINCT  
			si.TravSerNum
			,si.TravLotNum
			,si.Id AS ShipUnitId
			,si.ItemId
			,ii.Descr
			,si.Location
			,si.Quantity AS TotalQty
			,UOM = si.UOM
			,si.NoRolls AS TotalNoRolls
			,si.DateCreated
			,si.Complete
			,si.PostedToTraverse
			,LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN LEFT(si.LotNo,8)
					ELSE  si.LotNo 
					END
			,SerNum = si.TravSerNum
	FROM  [W005].[dbo].[ShipItem] As si 
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
		
	WHERE si.ShipItemNo=@ShipItemNo



END
GO
