USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIMLIPartialKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CCIMLIPartialKitLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int, @BagNum AS varchar(24)
AS
BEGIN

/*TEST DATA*/
--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00028662' 
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId AS int = 16499
--DECLARE @BagNum AS varchar(24) = '' --'2350835(R04)'


--DECLARE @PrintJobId AS int = 1
--DECLARE @OrderNo AS varchar(8) = '00033195' 
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId AS int = 477377
--DECLARE @BagNum AS varchar(24) = ''	--'2300883-2 ' --

If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL
END

If @BagNum = ''
BEGIN
   SET @BagNum = NULL
END


SELECT DISTINCT
			 CORI.ItemId
			,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=MOR.CustId OR CustId=MORHist.CustId)
			,CP.LabelStockColor AS Rev
			,CP.PlyName AS PartNo
			,ORE.OrderNo AS ParentOrderNo
			,ORE.ReleaseNo AS ParentReleaseNo

			,Qty = IIF(C.Characteristic = 'StackSubpartsByOrderQty', 
						(CP.PlyNameCount*MOR.Qty),CP.PlyNameCount)

			,BulkQty = IIF(C.Characteristic = 'StackSubpartsByKitSet', 
						((CP.PlyNameCount)*P.nTarget), IIF(C.Characteristic = 'StackSubpartsByOrderQty', 
														  (CP.PlyNameCount*MOR.Qty),CP.PlyNameCount))

			,SN = OREI.TravSerNum 
			,ProdOrder = CORI.OrderNo + '-' + RIGHT('000'+CAST(CORI.ReleaseNo AS varchar(4)), 3)-- LEFT(OREI.TravSerNum, LEN(OREI.TravSerNum)-4)
			,DOM = OREI.MfgDate
			,QRCode = '1' + '|' + OREI.ItemId + '|' + OREI.TravSerNum + '|' + ISNULL(OREI.TravLotNum, '')
			,MadeBy = 
				LTRIM(	STUFF(
							(SELECT DISTINCT ', ' + SUBSTRING(S.FirstName, 1, 1) + SUBSTRING(S.LastName, 1, 1) 
								FROM [005].[dbo].[tblSmEmployee] AS S
									 INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS O ON O.UserId=S.EmployeeId
								WHERE O.OrderNo=ORE.OrderNo AND O.OperationStep = 4 --Kitting / Ply Scan-Stack
								FOR XML PATH(''), TYPE
							).value('.[1]','nvarchar(max)'),	1,1,''
					) )

FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS CORI
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS MOR ON MOR.OrderNo=CORI.OrderNo AND MOR.ReleaseNo=CORI.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MORHist ON MORHist.OrderNo=CORI.OrderNo AND MORHist.ReleaseNo=CORI.ReleaseNo
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=CORI.ParentOrderNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=1
		--INNER JOIN [W005].[dbo].[CCIPlyStackHeader] AS PSH ON PSH.OrderReleaseEventItemId=OREI.Id
		LEFT JOIN  (SELECT DISTINCT ItemId, Revision, LabelStockColor, BagNum, PlyName, COUNT(PlyName) AS PlyNameCount
					FROM [W005].[dbo].[CCIPly]
					--WHERE ItemId = 'FG-GETI1000-MLB'
					GROUP BY ItemId, Revision, LabelStockColor, BagNum, PlyName
					) AS CP ON CP.ItemId=CORI.ItemId AND CP.Revision = CORI.RevisionNo --AND CHARINDEX(CP.BagNum, PSH.BagNum) > 0 --CHARINDEX: checks whether a string (CP.BagNum) contains a substring in (PSH.BagNum)
		INNER JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = CORI.ItemId
		INNER JOIN [W005].[dbo].[Characteristic] AS C ON C.Id = P.CharId AND C.Characteristic IN ('StackSubpartsByOrderQty','StackSubpartsByKitSet')

WHERE	CORI.OrderNo=@OrderNo AND CORI.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId is null or OREI.Id = @OrderReleaseEventItemId) AND (@BagNum is null or CP.BagNum = @BagNum) 


END
GO
