USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNextSolvayContainerNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		/* Used in Solvay Label app. Returns the next sequential number for @SolvayLotNo by TraverseProdOrdNo OR PolarisWorkOrder */
CREATE PROCEDURE [dbo].[spNextSolvayContainerNo] @SolvayLotNo varchar(16), @TravProdOrd varchar(8), @PolarisWO int
	
AS
BEGIN

--declare @SolvayLotNo varchar(16) = 'WI0005'
--Declare @TravProdOrd varchar(8) = null
--Declare @PolarisWO int = 59995

IF LEN(@TravProdOrd) < 8 AND @PolarisWO Is Not Null
BEGIN
	IF EXISTS (
		SELECT SeqNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE SolvayLotNo = @SolvayLotNo AND PolarisWorkOrder = @PolarisWO
		)
	BEGIN
		SELECT LEFT(@SolvayLotNo,6) +  RIGHT('000'+CAST((MAX(SeqNo) +1) AS VARCHAR(3)),3)  AS NextContainerNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE SolvayLotNo = @SolvayLotNo AND PolarisWorkOrder = @PolarisWO
	END ELSE
	BEGIN
		SELECT LEFT(@SolvayLotNo,6) + '001' AS NextContainerNo
	END
END
IF LEN(@TravProdOrd) = 8 AND @PolarisWO Is NULL
BEGIN
	IF EXISTS (
		SELECT SeqNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE SolvayLotNo = @SolvayLotNo AND TraverseProdOrdNo = @TravProdOrd
		)
	BEGIN
		SELECT LEFT(@SolvayLotNo,6) +  RIGHT('000'+CAST((MAX(SeqNo) +1) AS VARCHAR(3)),3)  AS NextContainerNo
		FROM [w005].[dbo].[SolvayContainerXRef]
		WHERE SolvayLotNo = @SolvayLotNo AND TraverseProdOrdNo = @TravProdOrd
	END ELSE
	BEGIN
		SELECT LEFT(@SolvayLotNo,6) + '001' AS NextContainerNo
	END


END


		

END
GO
