USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetProductCharForItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[spGetProductCharForItem] @ItemId as varchar(50)
	
AS
BEGIN
	SELECT PC.Id As ProdCharId,PC.ItemId,PC.nTarget,PC.nMin,PC.nMax,PC.bTarget,PC.sTarget,PC.MinNA,PC.MaxNA,PC.Enforce,PC.LastUpdateBy As ProdCharLastUpdateBy,PC.LastUpdateDate As ProdCharLastUpdateDate, PC.BomItemIds,
			C.Id As CharId,C.Characteristic,C.CharDescr,C.DataType,C.tblSmCustomFieldId, C.UsedByERP, C.LastUpdateBy As CharLastUpdateBy,C.LastUpdateDate As CharLastUpdateDate
	FROM ProductChar As PC INNER JOIN Characteristic As C ON C.Id=PC.CharId
	WHERE PC.ItemId=@ItemId 
END








GO
