USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPFMPadTestState]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPFMPadTestState]  /* PFM == Profilometer */
	@SerNo varchar(35),@LotNo varchar(16), @PadNo int

AS
BEGIN

--dECLARE @SerNo varchar(35) = '12345678-001-001'
--dECLARE @LotNo varchar(16)  = '125ggg'
--dECLARE @PadNo int = 1

IF EXISTS   /* Rewind RETEST Complete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=1 AND Complete=1 
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=1 AND Complete=1 
	END
ELSE BEGIN
	IF EXISTS   /* Rewind RETEST Incomplete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=1 AND Complete=0 
	)
	BEGIN
		SELECT Id,  [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=1 AND Complete=0 
	END
ELSE BEGIN
	IF EXISTS   /* Rewind TEST Complete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=0 AND Complete=1
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=0 AND Complete=1
	END
ELSE BEGIN
	IF EXISTS   /* Rewind TEST Incomplete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=0 AND Complete=0
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=1 AND Retest=0 AND Complete=0
	END
ELSE BEGIN
	IF EXISTS   /* Original RETEST Complete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=1 AND Complete=1
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=1 AND Complete=1
	END
ELSE BEGIN
	IF EXISTS   /* Original RETEST Inomplete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=1 AND Complete=0
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=1 AND Complete=0
	END
ELSE BEGIN
	IF EXISTS   /* Original TEST Complete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=0 AND Complete=1
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=0 AND Complete=1
	END
ELSE BEGIN
	IF EXISTS   /* Original TEST Inomplete */
	(SELECT Id
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=0 AND Complete=0
	)
	BEGIN
		SELECT Id, [Rewind], Retest, Complete, Pass, GageId, TestHdrId
		FROM [W005].[dbo].[ProfilometerTest]
		WHERE SerialNo = @SerNo AND LotNo=@LotNo AND PadNo=@PadNo
			AND [Rewind]=0 AND Retest=0 AND Complete=0
	END
ELSE BEGIN
	SELECT Id = 0, [Rewind] = CAST(0 as bit), Retest = CAST(0 as bit), Complete= CAST(0 as bit), Pass = CAST(0 as bit), GageId ='FOO', TestHdrId = 0
END
END
END
END
END
END
END
END





END
GO
