USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWTransferredTest]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
	Used by WEBCQA
	Returns all test data of WO Initital test just transferred in from an End of Set
*/

CREATE PROCEDURE [dbo].[spSWTransferredTest]
	@WOId int, @ProdOrd varchar(8)


AS
BEGIN


--DECLARE @WOId int  = 60297
--DECLARE @ProdOrd varchar(8) = ''

IF @WOId = 0
BEGIN
	SELECT 
	th.OperationID,th.ReleaseNo,th.Machine,th.PolarisMachineNum,th.SetID,th.SetNum,th.Operator,th.Batch,th.NumCuts
	,tgh.Id As TGHId,tgh.TestGroupName, TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
	,tgh.TestGroupComplete, tgh.AcceptedTestGroupDtlId
	,th.ProdOrderNo,th.ReleaseNo,th.Batch2, th.BatchSuffix,th.CustomerBatchSuffix,th.MaterialType
	,th.ItemId,th.InvDescription,th.InvID,th.PartID,th.PartNum,th.ProdSpecID,th.ProdSpecDesc
	, th.SWTolerance_Plus
	, th.SWTolerance_Minus
	, th.SWTolerance_Target
	, th.SWTolerance_Min
	, th.SWTolerance_Max
	, th.CustId, th.CustomerName, th.PolarisCustomerID,th.PolarisCustomerName
	,th.CustomerPO,th.CustomerProdSpec,th.CustomerShipToName
	,tgd.Id AS TGDId,tgd.TestType AS TGDTestType,tgd.SpoolToRetest,tgd.Cp,tgd.Cpk,tgd.CpUOM,tgd.SpoolsWithOOTPos

	FROM [W005].[dbo].[SW_TestHdr] th
				 LEFT JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
				 LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
	WHERE th.ProdOrderNo=@ProdOrd AND tgh.TestGroupName = 'SET UP'
END ELSE 
BEGIN
	SELECT 
	th.WorkOrder,th.ProdOrderNo,  th.OperationID,th.ReleaseNo,th.Machine,th.PolarisMachineNum,th.SetID,th.SetNum,th.Operator,th.Batch,th.NumCuts
	,tgh.Id As TGHId,tgh.TestGroupName, TestTypeName = (SELECT TestTypeName FROM [W005].[dbo].[SW_TestType] WHERE Id=tgd.TestType)
	,tgh.TestGroupComplete, tgh.AcceptedTestGroupDtlId
	,th.ProdOrderNo,th.ReleaseNo,th.Batch2, th.BatchSuffix,th.CustomerBatchSuffix,th.MaterialType
	,th.ItemId,th.InvDescription,th.InvID,th.PartID,th.PartNum,th.ProdSpecID,th.ProdSpecDesc
	, th.SWTolerance_Plus
	, th.SWTolerance_Minus
	, th.SWTolerance_Target
	, th.SWTolerance_Min
	, th.SWTolerance_Max
	, th.CustId, th.CustomerName, th.PolarisCustomerID,th.PolarisCustomerName
	,th.CustomerPO,th.CustomerProdSpec,th.CustomerShipToName
	,tgd.Id AS TGDId,tgd.TestType AS TGDTestType,tgd.SpoolToRetest,tgd.Cp,tgd.Cpk,tgd.CpUOM,tgd.SpoolsWithOOTPos

	FROM [W005].[dbo].[SW_TestHdr] th
				 LEFT JOIN [W005].[dbo].[SW_TestGroupHdr] tgh ON tgh.TestHdrId=th.Id
				 LEFT JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
	WHERE th.WorkOrder = @WOId AND tgh.TestGroupName = 'SET UP'

END






END
GO
