USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPackingListDataAeroliner]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPackingListDataAeroliner] 
	@PLNo as int
	
AS
BEGIN
	
	
	--Declare @PLNo as int
	--Set @PLNo= 11722

	SELECT @PLNo As PLNo, PKgId, MRMRJOBNo, LotNo, ItemId,[Width(IN)],[Width(MM)],Notes,OrderNo,CustPO,
		   ShipDate,ShipMethod,ShipTerms,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
		   ShipFromAddr1,ShipFromAddr2,ShipFromCity,ShipFromRegion,ShipFromPostalCode,
			GrossWt,
		   COUNT(ItemId) As SpoolCount, SUM(LF) as TotalLF, SUM(LM) As TotalLM,SUM(AreaMSF) As TotalMSF, SUM(AreaSM) As TotalSM, SUM(NetWt) As TotalNetWt,GrossKG,ReportType
	FROM 
	(Select spld.PKgId,
			MRMRJOBNo = (SELECT EI.SerialNo + '/' + EI.LotNo +CHAR(10) AS [text()] 
						FROM [W005].[dbo].[OrderReleaseEventItem] As EI INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS E ON EI.OrderReleaseEventId=E.Id and E.OrderNo = si.ProdOrderNo and 
								e.ReleaseNo = si.ProdOrderRelNo
						WHERE EI.SerialNo Is Not Null AND EI.SerialNo != '' AND EI.IsAssembly=0 
						FOR XML PATH('')),
			si.ProdOrderNo + '-' + replicate('0', 3 - len(si.ProdOrderRelNo)) + cast (si.ProdOrderRelNo as varchar) as LotNo,
			spld.ItemId,
			P.nTarget as [Width(IN)],
			P1.nTarget As [Width(MM)],
			LF = EI.TotalQty,
			LM = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LM'),
			AreaMSF = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='MSF'),
			AreaSM = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='SM'),
			NetWt = EI.TotalQty / (SELECT U.ConvFactor FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId=spld.ItemId AND U.Uom='LB'),
			spld.GrossWt,
			CAST(spl.Notes as varchar(MAX)) As Notes,
			spl.OrderNo,
			spl.CustPO,
			spl.ShipDate,
			spl.ShipMethod,
			spl.ShipTerms,
			spl.ShipToName,
			spl.ShipToAddr1,
			spl.ShipToAddr2,
			spl.ShipToCity,
			spl.ShipToRegion,
			spl.ShipToCountry,
			spl.ShipToPostalCode,
			spl.ShipFromAddr1,
			spl.ShipFromAddr2,
			spl.ShipFromCity,
			spl.ShipFromRegion,
			spl.ShipFromPostalCode,
		    GrossKG = (spld.GrossWt * 0.45359),
			[cf_Packing List Report Type] as ReportType
					  		
	FROM	[W005].[dbo].[ShipPackingListDetail] AS spld 
			INNER JOIN [W005].[dbo].[ShipPackingList] AS spl ON spl.PLNo=spld.PLNo 
			INNER JOIN [W005].[dbo].[ShipItem] AS si ON si.ShipPalletId=spld.ShipPalletId
			--LEFT JOIN [W005].[dbo].[OrderReleaseEvent] AS E  ON E.OrderNo=si.ProdOrderNo AND E.ReleaseNo=si.ProdOrderRelNo
			LEFT JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.Id = si.OREIId
			LEFT JOIN ([W005].[dbo].[ProductChar] AS P 
			INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId = C.Id and C.Characteristic = 'Width(IN)') ON P.ItemId = spld.ItemId
			LEFT JOIN ([W005].[dbo].[ProductChar] AS P1 
			INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON P1.CharId = C1.Id and C1.Characteristic = 'Width(MM)') ON P1.ItemId = spld.ItemId
			left join [005].[dbo].[trav_tblArShipTo_view] as U1 ON U1.ShipToId = spl.ShipToId
						
	WHERE spld.PLNo=@PLNo) A
	GROUP BY PKgId, MRMRJOBNo, LotNo, ItemId,[Width(IN)],[Width(MM)],Notes,OrderNo,CustPO,
		   ShipDate,ShipMethod,ShipTerms,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,ShipFromAddr1,ShipFromAddr2,ShipFromCity,ShipFromRegion,ShipFromPostalCode,GrossWt,GrossKG,ReportType
	ORDER BY ItemId

END	
GO
