USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetMRASItemId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetMRASItemId]
	
AS
BEGIN

	SELECT ItemId,Descr,[cf_FG Program] AS Program,ProductLine
	FROM [005].dbo.trav_tblInItem_View
	WHERE [cf_FG Program] IN (SELECT ProgramName
							FROM [W005].[dbo].[Program]
							WHERE CustId IN ( SELECT CustId
								FROM [005].[dbo].[tblArCust]
								WHERE CustName LIKE ('%Middle%River%')))



END






GO
