USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLabelBaseQuery]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLabelBaseQuery] @btnName AS varchar(50), @Param1 AS varchar(50), @Param2 AS varchar(50), @Param3 AS varchar(50)

AS
BEGIN
	if ((@btnName = 'btnRecptPreviewLabel') OR (@btnName = 'btnRecptPrintLabel'))
		begin
			SELECT        DISTINCT [005].dbo.trav_tblPoTransHeader_view.TransId, [005].dbo.tblPoTransReceipt.ReceiptNum, [005].dbo.trav_tblPoTransDetail_View.ItemId
			FROM            [005].dbo.trav_tblPoTransHeader_view INNER JOIN
									[005].dbo.tblApVendor ON [005].dbo.trav_tblPoTransHeader_view.VendorId = [005].dbo.tblApVendor.VendorID INNER JOIN
									[005].dbo.tblPoTransReceipt ON [005].dbo.trav_tblPoTransHeader_view.TransId = [005].dbo.tblPoTransReceipt.TransID INNER JOIN
									[005].dbo.trav_tblPoTransLotRcpt_View ON [005].dbo.tblPoTransReceipt.ReceiptNum = [005].dbo.trav_tblPoTransLotRcpt_View.RcptNum INNER JOIN
									[005].dbo.trav_tblPoTransDetail_View ON [005].dbo.trav_tblPoTransHeader_view.TransId = [005].dbo.trav_tblPoTransDetail_View.TransID AND 
									[005].dbo.trav_tblPoTransLotRcpt_View.TransId = [005].dbo.trav_tblPoTransDetail_View.TransID AND [005].dbo.trav_tblPoTransLotRcpt_View.EntryNum = [005].dbo.trav_tblPoTransDetail_View.EntryNum
			WHERE [005].dbo.trav_tblPoTransHeader_view.TransId = @Param1 AND [005].dbo.tblPoTransReceipt.ReceiptNum = @Param2
			ORDER BY [005].dbo.trav_tblPoTransHeader_view.TransId, [005].dbo.tblPoTransReceipt.ReceiptNum, [005].dbo.trav_tblPoTransDetail_View.ItemId
		end 
END


GO
