USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetOrderSummaryByOrder]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetOrderSummaryByOrder] @OrderNo AS VARCHAR(8), @OrderType AS VARCHAR(25) 
AS
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @OrderType AS VARCHAR(25) = 'Sales Order' -- 'Production Order' 'Sales Order'
--DECLARE @OrderNo AS VARCHAR(8) = '00005132' --'00004081'--


SELECT DISTINCT 
                         ORI.ParentOrderNo, 
						 ORI.OrderNo, 
						 ORI.ReleaseNo, 
						 M.SalesOrder, 
						 ORI.ItemId AS AssemblyId,
						 ORI.LocId, 
						 ORI.Qty, 
						 ORI.MfgStartDate, 
						 ORI.MfgEndDate, 
						 ORI.RequiredShipDate, 
						 ORI.Scheduled, 
						 ORI.InProcess, 
						 ORI.MfgCompleted, 
						 SPLD.PLNo, 
                         SPL.ShipDate
FROM            dbo.CCIOrderReleaseInfo AS ORI 
				INNER JOIN [005].dbo.trav_tblMpOrderReleases_view AS M ON M.OrderNo = ORI.OrderNo AND M.ReleaseNo = ORI.ReleaseNo 
				LEFT OUTER JOIN  dbo.ShipItem AS SI ON SI.ProdOrderNo = ORI.ParentOrderNo 
				LEFT OUTER JOIN  dbo.ShipPackingListDetail AS SPLD ON SPLD.ShipItemId = SI.Id 
				LEFT OUTER JOIN  dbo.ShipPackingList AS SPL ON SPL.PLNo = SPLD.PLNo
WHERE	@OrderNo = CASE 
			WHEN @OrderType = 'Parent Order' THEN  ORI.ParentOrderNo
			WHEN @OrderType = 'Production Order' THEN ORI.OrderNo
			WHEN @OrderType = 'Sales Order' THEN M.SalesOrder
			END
UNION ALL
SELECT DISTINCT 
                         ORI.ParentOrderNo, 
						 ORI.OrderNo, 
						 ORI.ReleaseNo, 
						 M.SalesOrder, 
						 ORI.ItemId AS AssemblyId, 
						 ORI.LocId, 
						 ORI.Qty, 
						 ORI.RequiredShipDate, 
						 ORI.MfgStartDate, 
						 ORI.MfgEndDate, 
						 ORI.Scheduled, 
						 ORI.InProcess, 
						 ORI.MfgCompleted, 
						 SPLD.PLNo, 
                         SPL.ShipDate
FROM            dbo.CCIOrderReleaseInfo AS ORI 
				INNER JOIN [005].dbo.trav_tblMpHistoryOrderReleases_View AS M ON M.OrderNo = ORI.OrderNo AND M.ReleaseNo = ORI.ReleaseNo 
				LEFT OUTER JOIN  dbo.ShipItem AS SI ON SI.ProdOrderNo = ORI.ParentOrderNo 
				LEFT OUTER JOIN  dbo.ShipPackingListDetail AS SPLD ON SPLD.ShipItemId = SI.Id 
				LEFT OUTER JOIN  dbo.ShipPackingList AS SPL ON SPL.PLNo = SPLD.PLNo
WHERE	@OrderNo = CASE 
			WHEN @OrderType = 'Parent Order' THEN  ORI.ParentOrderNo
			WHEN @OrderType = 'Production Order' THEN ORI.OrderNo
			WHEN @OrderType = 'Sales Order' THEN M.SalesOrder
			END




GO
