USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetOperationFromBOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIGetOperationFromBOM] @ItemId as varchar(24), @MachineGrpId as varchar(10)
AS
BEGIN
	SELECT R.Descr as OperationDescr
	FROM [005].[dbo].[tblMbAssemblyHeader] H INNER JOIN [005].[dbo].[tblMbAssemblyRouting] R ON R.HeaderId = H.Id
	WHERE H.AssemblyId = @ItemId AND MachineGroupId = @MachineGrpId
END
GO
