USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spInheritPolyLinerSpools]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spInheritPolyLinerSpools] @OrderNo as varchar(8), @ReleaseNo as int
AS
BEGIN
	Select *
	From PolyLinerUsage P
	Where OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo and ScanDateTime = (Select Max(ScanDateTime) From PolyLinerUsage P1 Where OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo and P1.MachineCutNo = P.MachineCutNo)
	Order by MachineCutNo
END
GO
