USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderBOMMaterialList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderBOMMaterialList] @OrderNo as varchar(8), @OperationId as varchar(10), @AllItems as bit 
AS
BEGIN
	SELECT	CAST(R.Step as Varchar(3)) + ': ' +R.Descr as Routing, D.Sequence, I.ItemId, I.Descr, D.UOM, I.LottedYN, ISNULL(I.[cf_Multi-UOM Serial Item], 0) AS MultiUOM, ISNULL(H.[cf_Issue by Release], 0) AS IssuebyRelease, ISNULL(D.[cf_Only Issue to Production Order], 0) as IssuetoProductionOrder
	FROM 	[005].dbo.tblMpOrder O INNER JOIN
			[005].dbo.trav_tblMbAssemblyHeader_view H ON H.AssemblyId = O.AssemblyId AND H.RevisionNo = O.RevisionNo INNER JOIN
			[005].dbo.tblMbAssemblyRouting R ON R.HeaderId = H.Id INNER JOIN
			[005].dbo.trav_tblMrOperations_view M ON M.OperationId = R.OperationId AND M.[cf_Issue Material to Operation] = 1 INNER JOIN
			[005].dbo.trav_tblMbAssemblyDetail_View D ON D.RoutingId = R.Id INNER JOIN
			[005].dbo.trav_tblInItem_view AS I ON I.ItemId = D.ComponentID AND (@AllItems = 1 OR I.LottedYN = 1 OR ISNULL(I.[cf_Multi-UOM Serial Item], 0) = 1) 
	WHERE O.OrderNo = @OrderNo and (@OperationId is null or R.OperationId = @OperationId) AND D.DetailType <> 5 --Ignore By Products
	Order By D.Sequence
END
GO
