USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[LoadDTSMasterRollDefect]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which adds Advance Shipping Notice entry defect to the Load DTS Master Roll Defect table
CREATE PROCEDURE [dbo].[LoadDTSMasterRollDefect](@RollID int, @DefectDocumented bit, @EndTag bit, @MfgDefectID int, @DefectStartMeters decimal(18,2),@DefectEndMeters decimal(18,2), 
					@DefectLengthMeters decimal(18,2), @DefectStartFeet decimal(18,2), @DefectEndFeet decimal(18,2), @DefectLengthFeet decimal(18,2))
AS
	INSERT INTO [W005].dbo.DTSMasterRollDefect (MasterRollId, DefectDocumented, EndTag, MfgDefectId1, DefectStartMeters, DefectEndMeters, DefectLengthMeters, DefectStartFeet, DefectEndFeet, 
					DefectLengthFeet) VALUES (@RollID, @DefectDocumented, @EndTag, @MfgDefectID, @DefectStartMeters, @DefectEndMeters, @DefectLengthMeters, @DefectStartFeet,
					@DefectEndFeet, @DefectLengthFeet);
GO
