USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInItemDescAndCustPNs]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetInItemDescAndCustPNs]
	@ItemId as varchar(24)
AS
BEGIN
	
--DECLARE @ItemId as varchar(24) ='FG-AERO1000-PKT'
	
	SELECT ii.Descr,
		CustomerPN = STUFF
		(
			(
				SELECT DISTINCT '/' + IIA.AliasID
				FROM [005].[dbo].[tblInItemAlias] As IIA
				WHERE IIA.ItemID=ii.ItemId
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		)
	FROM  [005].[dbo].[tblInItem] As ii   
	WHERE ii.ItemId=@ItemId 
	
	
END
GO
