USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetCutlistBOM]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Procedure which returns the production order cutlist specific BOM.
CREATE PROCEDURE [dbo].[GetCutlistBOM](@ProductionOrderNum varchar(8))
AS
	SELECT
		OrderNo AS [ProductionOrderNumber],
		ReleaseNo AS [ProductionReleaseNumber],
		Qty AS [OrderQty],
		FGItemId,
		RMItemId,
		UOM,
		SingleCountMaterial
	FROM [w005].dbo.CCIParentOrderCutListMRP 
		WHERE OrderNo = @ProductionOrderNum
GO
