USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWSpoolComplete]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth 
-- Returns value of DataComplete of max test level for @SpoolNum, 
-- Returns 0/false if @SpoolNum not found for @TGD

CREATE PROCEDURE [dbo].[spSWSpoolComplete]
	@TGD as int, @SpoolNum int

AS
BEGIN
	
--DECLARE @TGD as int = 13
--DECLARE @SpoolNum int = 2


DECLARE @SpoolComplete bit

IF EXISTS (
			SELECT SpoolNo
			FROM [W005].[dbo].[SW_TestGroupDtlData] 
			WHERE TestGroupDtlId=@TGD AND SpoolNo=@SpoolNum 
			)
BEGIN
	SET @SpoolComplete = (SELECT TOP 1 DataComplete
							FROM [W005].[dbo].[SW_TestGroupDtlData] 
							WHERE TestGroupDtlId=@TGD AND SpoolNo=@SpoolNum
							ORDER BY Id DESC
						)
	SELECT @SpoolComplete As SpoolComplete
END
ELSE
BEGIN
	SELECT CAST(0 as bit) As SpoolComplete 
END




END






GO
