USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShippingAddressLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShippingAddressLabel]
	@PLNo As int
AS
BEGIN

	SELECT DISTINCT P.PLNo, P.ShipToName,P.ShipToAddr1,P.ShipToAddr2,P.ShipToCity,P.ShipToRegion,P.ShipToCountry,P.ShipToPostalCode, P.CustPO, P.ShipDate, D.ItemDescr, D.PkgId, P.OrderNo
	FROM [W005].[dbo].[ShipPackingList] As P INNER JOIN [W005].[dbo].[ShipPackingListDetail] As D ON P.PLNo = D.PLNo
	WHERE (P.PLNo=@PLNo);

END
GO
