USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCurrentOrderSchedule]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCurrentOrderSchedule]
AS
BEGIN

		SELECT DISTINCT 
		   S.[Id]
		  ,S.[Sequence]
		  ,S.[OrderNo]
		  ,S.[ReleaseNo]
		  ,S.[ParentOrderNo]
		  ,S.[ItemId]
		  ,S.[ItemDescr]
		  ,S.[RevisionNo]
		  ,S.[LocId]
		  ,S.[Machine]
		  ,S.[SetRunTimeHours]
		  ,S.[ScheduledStart]
		  ,S.[ScheduledFinish]
		  ,S.[ReqShipDate]
		  ,S.[DaysEarlyOrLate]
		  ,S.[Qty]
		  ,S.[UOM]
		  ,S.[Length]
		  ,S.[Width]
		  ,S.[MRWidth]
		  ,S.[NoOfCuts]
		  ,S.[CustId]
		  ,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=S.CustId)
		  ,S.[Downtime]
		  ,S.[Status]
		  ,S.InProcess
		  ,ORI.[MfgCompleted]
	  FROM OrderScheduling S
			INNER JOIN OrderReleaseInfo ORI ON ORI.OrderNo=S.OrderNo AND ORI.ReleaseNo=S.ReleaseNo
	WHERE ORI.IsPostedToTraverse = 0 AND S.Downtime=0 
	UNION 
		SELECT DISTINCT 
		   S.[Id]
		  ,S.[Sequence]
		  ,S.[OrderNo]
		  ,S.[ReleaseNo]
		  ,S.[ParentOrderNo]
		  ,S.[ItemId]
		  ,S.[ItemDescr]
		  ,S.[RevisionNo]
		  ,S.[LocId]
		  ,S.[Machine]
		  ,S.[SetRunTimeHours]
		  ,S.[ScheduledStart]
		  ,S.[ScheduledFinish]
		  ,S.[ReqShipDate]
		  ,S.[DaysEarlyOrLate]
		  ,S.[Qty]
		  ,S.[UOM]
		  ,S.[Length]
		  ,S.[Width]
		  ,S.[MRWidth]
		  ,S.[NoOfCuts]
		  ,S.[CustId]
		  ,CustName = NULL
		  ,S.[Downtime]
		  ,S.[Status]
		  ,S.InProcess
		  ,S.MfgCompleted
	  FROM OrderScheduling S
	WHERE S.Downtime=1 AND S.MfgCompleted=0
  ORDER BY S.Machine ASC, S.InProcess DESC, S.ScheduledStart ASC, S.Sequence ASC

END
GO
