USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetDirectRMConsumed]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetDirectRMConsumed]
@OrderNo as varchar(8)
AS
BEGIN
	SELECT ORE.OrderNo, OREI.ItemId, SUM(OREI.TotalQtyConsumed)+SUM(OREI.TotalWaste) AS TotalQtyConsumed
	FROM OrderReleaseEventItem OREI INNER JOIN
	OrderReleaseEvent ORE ON ORE.Id = OREI.OrderReleaseEventId INNER JOIN
	[005].dbo.tblInItemLoc L ON L.ItemId = OREI.ItemId AND L.LocId LIKE '%INV%' AND SUBSTRING(L.GLAcctCode, 1,1) IN ('1','2','3','8')
	WHERE ORE.OrderNo = @OrderNo AND OREI.IsAssembly = 0
	GROUP BY ORE.OrderNo, OREI.ItemId
END
GO
