USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spExtrPackTally]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[spExtrPackTally]
	@ShipPalletId As int
AS
BEGIN

		SELECT DISTINCT P.Id,P.ShipPalletNo,P.DateCreated As MfrDate,P.GrossWt,P.TOPSforExtruding As TOPS, ShipPalletNoBarcode = '*' + P.ShipPalletNo + '*',
			PalletQty = (SELECT SUM(I.Quantity) FROM [W005].[dbo].[ShipItem] As I WHERE I.ShipPalletId=@ShipPalletId),
			PalletNoRolls = (SELECT SUM(I.NoRolls) FROM [W005].[dbo].[ShipItem] As I WHERE I.ShipPalletId=@ShipPalletId),
			ItemId = (SELECT DISTINCT I.ItemId FROM [W005].[dbo].[ShipItem] As I WHERE I.ShipPalletId=@ShipPalletId)
		FROM [W005].[dbo].[ShipPallet] As P 
		WHERE P.Id=@ShipPalletId
		
END







GO
