USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebSyensqoSpoolLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebSyensqoSpoolLabel] @OrderNo varchar(8), @ReleaseNo int, @OrderReleaseEventItemId int 
AS
BEGIN

--DECLARE @OrderNo AS varchar(8) = '00000014'
--DECLARE @ReleaseNo AS int = 1
--DECLARE @OrderReleaseEventItemId as int = 0


	SELECT DISTINCT  
		OREI.ItemId
		,Material = IIF(IA.[cf_Alias Description] IS NULL or LEN(IA.[cf_Alias Description]) = 0,I.Descr, IA.[cf_Alias Description])
		,MaterialNum = IA.AliasID
		,Manufacturer = V.[Name] + ', ' + IsNULL(V.Region,'') + ', ' + IsNULL(v.Country,'')
		,Specification = AD.AddlDescr
		,StorageTempC = (SELECT nTarget
						FROM [W005].[dbo].[ProductChar] AS P1
						INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Id=P1.CharId AND C1.Characteristic='MaterialStorageTempC'
						WHERE P1.ItemId = OREI.ItemId)
		,PrepregDOM = (SELECT FORMAT(MFGDATE, 'dd-MMM-yy', 'en-US') FROM (SELECT MIN([cf_Vendor Mfg Date]) AS MFGDATE FROM [005].dbo.trav_tblInItemLocLot_View WHERE ItemId = OREIRM.ItemId AND LocID = OREIRM.LocId AND LotNum = OREIRM.SerialNo) A)
		,ExpiryDate = (SELECT FORMAT(EXPDATE, 'dd-MMM-yy', 'en-US') FROM (SELECT MIN(ExpDate) as EXPDATE FROM [005].dbo.trav_tblInItemLocLot_View WHERE ItemId = OREIRM.ItemId AND LocID = OREIRM.LocId AND LotNum = OREIRM.SerialNo) A)
		,WebWO = ORE.OrderNo
		,NumSplices = (SELECT COUNT(Id) FROM [W005].[dbo].[OrderReleaseEventSpliceDetail] WHERE OrderReleaseEventItemId = OREI.Id)
		,NetWt = OREI.TotalQty / (SELECT IsNULL(ConvFactor,1) FROM [005].[dbo].[tblInItemUom] WHERE ItemID = OREI.ItemId AND UOM = 'KG')
		,FGLength = OREI.TotalQty
		,SlitBatch = OREI.LotNo
		--,SlitBatch = STUFF
		--				(
		--					(
		--						SELECT DISTINCT '-' + O.LotNo
		--						FROM [W005].[dbo].[OrderReleaseEventItem] AS O 
		--						INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RE ON O.OrderReleaseEventId= RE.Id
		--						WHERE RE.OrderNo = @OrderNo AND RE.ReleaseNo = @ReleaseNo
		--						FOR XML PATH(''), TYPE
		--					).value('.[1]','nvarchar(max)'),
		--					1,1,''
		--				)
		,SpoolID = OREI.TravLotNum
		,StorageLife = (SELECT sTarget
						FROM [W005].[dbo].[ProductChar] AS P1
						INNER JOIN [W005].[dbo].[Characteristic] AS C1 ON C1.Id=P1.CharId AND C1.Characteristic='StorageLifeStatement'
						WHERE P1.ItemId = OREI.ItemId)
		,Barcode = 'B' 
					+ OREI.LotNo
					--+ 	STUFF
					--	(
					--		(
					--			SELECT DISTINCT '-' + O.LotNo
					--			FROM [W005].[dbo].[OrderReleaseEventItem] AS O 
					--			INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS RE ON O.OrderReleaseEventId= RE.Id
					--			WHERE RE.OrderNo = @OrderNo AND RE.ReleaseNo = @ReleaseNo
					--			FOR XML PATH(''), TYPE
					--		).value('.[1]','nvarchar(max)'),
					--		1,1,''
					--	)
					+ 'S' + IsNull(REPLACE(RIGHT(OREI.TravLotNum, 7), '-',''),'') + 'L' + CAST(OREI.TotalQty as varchar(8))
	FROM [W005].[dbo].[OrderReleaseEvent] AS ORE
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON ORE.Id=OREI.OrderReleaseEventId AND OREI.IsAssembly=1
		 INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId = OREI.ItemId
	 	 LEFT JOIN [005].dbo.tblMpOrderReleases R ON R.OrderNo = ORE.OrderNo and R.ReleaseNo = ORE.ReleaseNo
		 LEFT JOIN [005].[dbo].[trav_tblInItemAlias_View] AS IA ON IA.ItemID=OREI.ItemId AND IA.AliasType = 1 AND IA.RefID = R.CustId
		 LEFT JOIN [005].[dbo].[tblInItemAddlDescr] AS AD ON AD.ItemID=OREI.ItemId
		 LEFT JOIN [W005].[dbo].[OrderReleaseEvent] AS ORERM ON ORERM.OrderNo=@OrderNo AND ORERM.ReleaseNo=@ReleaseNo 
		 INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREIRM ON ORERM.Id=OREIRM.OrderReleaseEventId AND OREIRM.IsAssembly=0
		 INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId=OREIRM.ItemId AND L.LocId=OREIRM.LocId AND Substring(L.GLAcctCode,1,1) IN ('1', '2', '3', '8')
		 LEFT JOIN [005].[dbo].[tblInItemLoc] IV ON IV.ItemId = L.ItemId AND IV.LocId = L.LocId
		 LEFT JOIN [005].[dbo].[tblApVendor] V ON V.VendorID = IV.DfltVendId
	
	WHERE ORE.OrderNo=@OrderNo AND ORE.ReleaseNo=@ReleaseNo and (@OrderReleaseEventItemId = 0 or OREI.Id = @OrderReleaseEventItemId)

END
GO
