USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePOItemCustomFields]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure

--Procedure which updates the content of a Purchase Order Line Item's custom fields
CREATE PROCEDURE [dbo].[UpdatePOItemCustomFields](@PONumber varchar(8), @itemNumber int, @lotNo varchar(100), @serialNo varchar(100), @MfgDate datetime2, @ShipDate datetime2)
--WITH EXECUTE AS SELF
AS
BEGIN
	DECLARE @result int;

	BEGIN TRY
		BEGIN TRANSACTION
			--Update the Lot # field
			SET @result = 1;
			UPDATE [005].dbo.tblPoTransDetail SET CF = [005].dbo.fncUpdateCustomField(CF, 'Lot No.', @lotNo)	WHERE TransID = @PONumber AND EntryNum = @itemNumber;

			--Update the Serial # field
			SET @result = 2;
			UPDATE [005].dbo.tblPoTransDetail SET CF = [005].dbo.fncUpdateCustomField(CF, 'Serial No.', @serialNo)	WHERE TransID = @PONumber AND EntryNum = @itemNumber;

			--Update the vendor's manufacturing date
			SET @result = 3;
			UPDATE [005].dbo.tblPoTransDetail SET CF = [005].dbo.fncUpdateCustomField(CF, 'Vendor Mfg Date', @MfgDate)	WHERE TransID = @PONumber AND EntryNum = @itemNumber;

			--Update the vendor's ship date
			SET @result = 4;
			UPDATE [005].dbo.tblPoTransDetail SET CF = [005].dbo.fncUpdateCustomField(CF, 'Vendor Ship Date', @ShipDate)	WHERE TransID = @PONumber AND EntryNum = @itemNumber;

			--All updates occurred without exception, procedure was successful
			COMMIT
			SET @result = 0;
	END TRY

	--Should an exception occur restore the record to its initial state.
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH

	RETURN @result
END
GO
