USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spNoOTTrackedItemsOnOST]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spNoOTTrackedItemsOnOST]
			 @OSTNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @OSTNo int = 259

	IF EXISTS (
				SELECT ItemId
				FROM [005].dbo.trav_tblInItem_View 
				WHERE [cf_Out-Time Tracked] = 1
					AND ItemId IN (SELECT ItemId 
									FROM [W005].[dbo].[OffSiteTransferDetail] 
									WHERE OffSiteTransId = @OSTNo)
			 )
		BEGIN
			SELECT CAST(0 as bit) As OK
		END ELSE BEGIN
				SELECT CAST(1 as bit) As OK
		END
	



END








GO
