USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetRMExpDatesByFG]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIGetRMExpDatesByFG] @FGTravSerNum AS varchar(36)
AS
BEGIN

--DECLARE @FGTravSerNum AS varchar(36) = '00031670-001-0001'

SELECT L.*
FROM OrderReleaseEventItem EI 
	 INNER JOIN OrderReleaseKitRawMatlOutTime O ON O.OrderReleaseEventItemId=EI.Id
	 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=O.RMItemId AND L.LotNum=O.RMSerialNo AND L.LocId=EI.LocId
WHERE EI.TravSerNum = @FGTravSerNum 
UNION ALL
SELECT L.*
FROM OrderReleaseEventItem EI 
	 INNER JOIN OrderReleaseKitRawMatlNonOT O ON O.OrderReleaseEventItemId=EI.Id
	 INNER JOIN [005].[dbo].[tblInItemLocLot] L ON L.ItemId=O.RMItemId AND L.LotNum=O.RMSerialNo AND L.LocId=EI.LocId
WHERE FGTravSerNum = @FGTravSerNum
ORDER BY ExpDate

END
GO
