USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebRadSureLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WebRadSureLabel] 
	@PrintJobId as int,
	@OrderNo as varchar(8),
	@ReleaseNo as int
AS
BEGIN

	--Declare @PrintJobId as int
	--Declare @OrderNo as varchar(8)
	--Declare @ReleaseNo as int
	--Set @PrintJobId = 45
	--Set @OrderNo = '00030213'
	--Set @ReleaseNo = 1

Select Distinct 
	E.OrderNo, 
	E.ReleaseNo, 
	E.OrderNo+'-'+Replicate('0', 3-Len(Cast(ReleaseNo as varchar(10))))+Cast(ReleaseNo as varchar(10)) AS BatchNo,
	LotNum = Substring(OrderNo, 3, 6)+IA.[cf_Product Lot Designation], 
	LotNumBarCode = '&-'+Substring(OrderNo, 3, 6)+IA.[cf_Product Lot Designation], 
	EXPDate =CAST(EI.FGExpDate as date), -- UPPER(CONVERT(char(3), EI.FGExpDate, 0))+' '+CONVERT(CHAR(4), DATEPART(Year, EI.FGExpDate))
	EXPDateBarCode = '=]'+ UPPER(FORMAT(EI.FGExpDate, 'yyyy, MMM')), --'=]'+UPPER(CONVERT(char(3), EI.FGExpDate, 0))+' '+CONVERT(CHAR(4), DATEPART(Year, EI.FGExpDate)),
	EXPDateBarCodeCYYJJJ = '=>'+ Substring(convert(varchar, EI.FGExpDate, 111), 2,1) /*111 -> yyyy/mm/dd*/ + FORMAT(EI.FGExpDate, 'yy') + RIGHT('000'+CAST(DATEPART(dayofyear,EI.FGExpDate) AS VARCHAR(3)),3), -- CYYJJJ format, HDT21156
	RadSureBarCode = '=+3000=-' + IA.AliasId + '&-' + RIGHT(OrderNo,6) + LEFT(IA.[cf_Product Lot Designation],4) + '=>' + CONCAT('0',(DATEPART(year,EI.FGExpDate)-2000),(DATEPART(dy, EI.FGExpDate))),
	RadSureHumanReadableBC = IA.AliasId + ' ' + RIGHT(OrderNo,6) + LEFT(IA.[cf_Product Lot Designation],4) + ' ' + CONCAT('0',(DATEPART(year,EI.FGExpDate)-2000),(DATEPART(dy, EI.FGExpDate))),
				
	CustomerPN = IA.AliasId,
	CustomerPNBarCode = '&-'+IA.AliasId,
	ProdLotDesignation = (Select UPPER(IA.[cf_Product Lot Designation])),
	Quantity = '('+'X' + CAST(CAST(SI.Quantity as numeric(36,0)) as varchar) +')', -- Aded 05/01/2020 TFS 1902
	ProductLot = (SELECT UPPER((SELECT RIGHT(E.OrderNo,LEN(E.OrderNo)-2))+(SELECT SUBSTRING(IA.[cf_Product Lot Designation],1,4)))),  -- Aded 05/01/2020 TFS 1902... updated by LM 8/11/2020
	FGINitemAlias  = RIGHT(IA.AliasId, 6),

	UDIBarcode = (SELECT DISTINCT P.sTarget -- Aded 05/01/2020 TFS 1902
						FROM [W005].[dbo].[ProductChar] AS P
							 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId=C.Id AND C.Characteristic='UDI Barcode Number'
						WHERE I.ItemId=P.ItemId),

	RadSureUDILabelAlias = (SELECT DISTINCT P.sTarget -- Aded 07/20/2020 TFS 2051
						FROM [W005].[dbo].[ProductChar] AS P
							 INNER JOIN [W005].[dbo].[Characteristic] AS C ON P.CharId=C.Id AND C.Characteristic='RadSureUDILabelAlias'
						WHERE I.ItemId=P.ItemId)

FROM	[W005].[dbo].[OrderReleaseEvent] AS E
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
		INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
		INNER JOIN [005].[dbo].[trav_tblInItemAlias_View] AS IA ON IA.ItemId = I.ItemId AND IA.[RefID] =  I.[cf_Customer]
		LEFT JOIN [W005].[dbo].ShipItem as SI on EI.Id = SI.OREIId -- Aded 05/01/2020 TFS 1902

WHERE E.OrderNo = @OrderNo and E.ReleaseNo = @ReleaseNo and EI.IsAssembly = 1

END	
GO
