USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIsPkgIdOnAnyPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spIsPkgIdOnAnyPL]
			@PkgId varchar(10), @PLNo int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


--declare @PkgId varchar(10) = 'B000000035 '  
--declare  @PLNo int = 42557

DECLARE @Duplicate as bit = 0

SET @Duplicate = IIF((SELECT COUNT(Id) FROM [W005].[dbo].[tmpShipPackingList] WHERE PkgId=@PkgId)>1
				,1
				, IIF((SELECT COUNT(Id) FROM [W005].[dbo].[ShipPackingListDetail] WHERE PkgId=@PkgId)>1,1,0))		
		
SELECT @Duplicate		




	--IF EXISTS (
	--		SELECT COUNT(Id)
	--		FROM [W005].[dbo].[tmpShipPackingList]
	--		WHERE PkgId=@PkgId
	--		)
	--	BEGIN
	--		SELECT CAST(1 as bit)
	--	END ELSE BEGIN
	--		IF EXISTS (
	--				SELECT Id 
	--				FROM [W005].[dbo].[ShipPackingListDetail]
	--				WHERE PkgId=@PkgId 
	--				)
	--			BEGIN
	--				SELECT CAST(1 as bit)
	--			END ELSE BEGIN
	--				SELECT CAST(0 as bit)
	--			END
	--	END


END
GO
