USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spShippingUnitItemLotSerSumQty]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spShippingUnitItemLotSerSumQty] @ShipUnitType as varchar(1), @ShipUnitTypeId as Int
AS
BEGIN
	IF @ShipUnitType = 'P'
		BEGIN
			SELECT        ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM, SUM(Quantity) AS Quantity
			FROM            [W005].dbo.ShipItem
			WHERE ShipPalletId = @ShipUnitTypeId
			GROUP BY ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM
		END
	ELSE IF @ShipUnitType = 'C'
		BEGIN
			SELECT        ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM, SUM(Quantity) AS Quantity
			FROM            [W005].dbo.ShipItem
			WHERE ShipCartonId = @ShipUnitTypeId
			GROUP BY ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM
		END
	ELSE IF @ShipUnitType = 'B'
		BEGIN
			SELECT        ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM, SUM(Quantity) AS Quantity
			FROM            [W005].dbo.ShipItem
			WHERE ShipBoxId = @ShipUnitTypeId
			GROUP BY ItemId, Location, TravLotNum, SerNo, TravSerNum, UOM
		END
END
GO
