USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemIdInTraverse]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spItemIdInTraverse] 
		 @ItemId varchar(24)
	
AS
BEGIN

--DECLARE  @ItemId varchar(24) = 'FG-AERO1006-PKT'


IF EXISTS (
			SELECT ItemId
			FROM [005].[dbo].[tblInItem]
			WHERE ItemId = @ItemId 
		)
BEGIN
	SELECT CAST(1 as bit) AS InTraverse
END ELSE
	BEGIN
		SELECT CAST(0 as bit) AS InTraverse
	END


END




	

	



GO
