USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetOpenPackingListRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spCCIGetOpenPackingListRpt] @FromDate AS DATETIME, @ToDate AS DATETIME, @LocId AS VARCHAR(10)
AS
BEGIN


--DECLARE @FromDate AS DATETIME = '1/1/1999'
--DECLARE @ToDate AS DATETIME = '11/12/2019'
--DECLARE @LocId AS VARCHAR(10) = 'INVATL'


SELECT *
FROM (
	SELECT DISTINCT
			SPL.PLNo AS PackingListNo,
			SPL.CustName AS CustomerName,
			SPL.OrderNo AS SalesOrder,
			ParentOrdersToFinalize = ProdOrderNo,
			ReadyToComplete = CAST(IIF(SI.ProdOrderNo IS NULL, 1, 0) AS bit),
			SPL.ShipDate

	FROM [W005].[dbo].[ShipPackingList] SPL
		 INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo 
		 INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] D ON D.TransID=SPL.OrderNo 
		 LEFT JOIN [W005].[dbo].[ShipItem] SI ON SI.Id=SPLD.ShipItemId AND SI.PostedToTraverse=0
	WHERE (SPL.Complete = 0 AND SPL.Posted = 0) --PLs not marked complete and/or verified
		  AND SPLD.Location = @LocId
		  AND (SPL.ShipDate >= @FromDate) --1/1/1900 used if no from date selected
		  AND (SPL.ShipDate <= @ToDate)	  --1/1/9999 used if no to date selected
) A
ORDER BY A.PackingListNo,A.CustomerName,A.SalesOrder,A.ParentOrdersToFinalize,A.ShipDate


END


GO
