USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialPalletsByItem]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetPartialPalletsByItem]
	@AssemblyId as varchar(24)
AS
BEGIN

		SELECT P.Id,P.ShipPalletNo,P.DateCreated As MfrDate,P.GrossWt,P.TareWt,P.TOPSforExtruding As TOPS, SUM(I.Quantity) As Qty, SUM(I.NoRolls) As NoRolls,I.Comments,I.OpInit,
		I.TravLotNum,
		Lot = STUFF
		(
			(
				SELECT DISTINCT '/' + I.LotNo + ISNULL('/' + I.AdditionalLotNo,'') 
				FROM ShipItem as I
				WHERE I.ShipPalletId=P.Id AND I.Deleted=0
				FOR XML PATH(''), TYPE
			).value('.[1]','nvarchar(max)'),
			1,1,''
		)
		FROM [W005].[dbo].[ShipPallet] As P inner join [W005].[dbo].[ShipItem] As I On P.Id = I.ShipPalletId
		Where I.ItemId=@AssemblyId AND P.Complete=0 AND I.Deleted=0 AND I.Issued=0
		GROUP BY P.Id,P.ShipPalletNo,P.DateCreated,P.GrossWt,P.TOPSforExtruding,I.Comments,I.TravLotNum,I.OpInit,P.TareWt
END
GO
