USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWDoesOPIDExist]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spSWDoesOPIDExist]
	 @OPId int

AS
BEGIN
	

--DECLARE @OPId as int = 114994

IF EXISTS (
			SELECT  ID
			FROM [W005].[dbo].[SW_TestHdr]  
			WHERE OperationID = @OPId
		)
BEGIN
	SELECT -1 AS RecExists
END ELSE 
BEGIN
	SELECT 0 AS RecExists
END





END






GO
