USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOpenPackList]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spGetOpenPackList] @FromDate AS DATETIME, @ToDate AS DATETIME, @LocId AS VARCHAR(10)
AS
BEGIN


--DECLARE @FromDate AS DATETIME = '1/15/2018'
--DECLARE @ToDate AS DATETIME = '1/4/2019'
--DECLARE @LocId AS VARCHAR(10) = 'INVDTN'


/* GET OPEN PACK LIST RESULTS USING PARAMS */
SELECT DISTINCT *
INTO #T1
FROM (
	SELECT DISTINCT
			SPL.PLNo AS PackingListNo,
			SPL.CustName AS CustomerName,
			SPL.OrderNo AS SalesOrder,
			SPL.ShipDate,
			SPL.Complete AS ShipmentComplete,
			SPL.Posted AS ShipmentVerifiedInTraverse

	FROM [W005].[dbo].[ShipPackingList] SPL
			INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PLNo 
			INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] D ON D.TransID=SPL.OrderNo 
	WHERE (SPL.Complete = 0 OR SPL.Posted = 0) --PLs not marked complete and/or verified
			AND SPLD.Location = @LocId
			AND (SPL.ShipDate >= @FromDate) --1/1/1900 used if no from date selected
			AND (SPL.ShipDate <= @ToDate)	  --1/1/9999 used if no to date selected
) A
ORDER BY A.PackingListNo,A.CustomerName,A.SalesOrder,A.ShipDate

/*	GET PL Order Releases Not Posted	*/
DECLARE _cursor CURSOR FOR
	SELECT DISTINCT PackingListNo
	FROM #T1

	DECLARE @PLNo AS int
	OPEN _cursor
	FETCH NEXT FROM _cursor INTO @PLNo

	CREATE TABLE #tmpOrders
	(
		ParentOrderNo VARCHAR(8),
		ReleaseNo int
	)

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO #tmpOrders
		exec spPLOrderReleasesNotPosted @PLNo
		FETCH NEXT FROM _cursor INTO @PLNo
	END
CLOSE _cursor  
DEALLOCATE _cursor 


/* GET DISTINCT LIST OF PL, SalesOrder, and ProdOrder */
SELECT DISTINCT SPL.PackingListNo, SPL.SalesOrder, ProdOrderNo
INTO #T2
FROM #T1 SPL
	 INNER JOIN [W005].[dbo].[ShipPackingListDetail] SPLD ON SPLD.PLNo=SPL.PackingListNo 
	 INNER JOIN [W005].[dbo].[ShipItem] SI ON SI.Id=SPLD.ShipItemId -- This join only works if a kit (shipItem) was shipped, fails for pallet,carton,box

/* MATCH DISTINCT LIST WITH RESULTS */
SELECT DISTINCT 
		 T1.PackingListNo
		,T1.CustomerName
		,T1.SalesOrder
		,ParentOrdersToFinalize = IIF(T2.ProdOrderNo IN (SELECT ParentOrderNo FROM #tmpOrders), CAST(T2.ProdOrderNo as varchar(8)), '') --used by W005 only
		,ReadyToComplete = CAST(IIF(T2.ProdOrderNo IN (SELECT ParentOrderNo FROM #tmpOrders), 0, 1) AS bit) --used by W005 only
		,T1.ShipDate
		,T1.ShipmentComplete
		,T1.ShipmentVerifiedInTraverse
FROM #T1 T1
	 LEFT JOIN #T2 T2 ON T2.PackingListNo=T1.PackingListNo AND T2.SalesOrder=T1.SalesOrder


DROP TABLE #T1
DROP TABLE #T2
DROP TABLE #tmpOrders



END


GO
