USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spABCPrepAssembly]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spABCPrepAssembly] @FiscalYear as int, @FiscalPeriod as int
AS
BEGIN
--DECLARE @FiscalYear as int = 2020
--DECLARE @FiscalPeriod as int = 10
	DELETE FROM ABCAssemblyWorkTable1
	DELETE FROM ABCAssemblyWorkTable2
	DELETE FROM ABCAssemblyWorkTable3

	INSERT INTO ABCAssemblyWorkTable1
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,D.ItemId,D.LocId,D.ItemType,D.LottedYN,D.TransType,D.SumYear,D.SumPeriod,D.GLPeriod,D.AppId,D.BatchId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostExt,D.CostStd,D.PriceExt,D.CostUnit,D.PriceUnit,D.Source,D.Qty_Invc,D.CostExt_Invc,D.DropShipYn,D.LotNum
	FROM [005].dbo.tblInHistDetail D
	WHERE D.SumYear = @FiscalYear AND SumPeriod = @FiscalPeriod AND D.SrceId = 'Assemb' AND D.Source = 18

	INSERT INTO ABCAssemblyWorkTable2
	SELECT D.HistSeqNum,D.HistSeqNum_Rcpt,R.ReleaseId,D.ItemId,D.LocId,D.LotNum,S.SerNum, D.AppId,D.TransId,D.RefId,D.SrceID,D.EntryDate,D.TransDate,D.Uom,D.UomBase,D.ConvFactor,D.Qty,D.CostUnit,D.Source, '1' AS InsertUpdate
	FROM ABCAssemblyWorkTable1 D
	INNER JOIN [005].dbo.tblInItemLoc L ON L.ItemId = D.ItemId AND L.LocId = D.LocId 
	INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId AND R.ParentId IS NULL
	INNER JOIN [005].[dbo].[tblMpHistoryOrderReleases] O ON O.ReleaseId = R.ReleaseId AND O.OrderNo = D.RefId
	LEFT JOIN [005].[dbo].[tblInHistSer] S ON S.HistSeqNum = D.HistSeqNum
	WHERE ((L.GLAcctCode like '7%') OR (L.GLAcctCode like '8%'))  

	INSERT INTO ABCAssemblyWorkTable3
	SELECT DISTINCT HistSeqNum, T.ReleaseId, CostUnit, T.ItemId, LotNum, SerNum, T.Qty, T.Uom, T.UomBase, T.ConvFactor
	FROM ABCAssemblyWorkTable2 T
	LEFT JOIN [W005].[dbo].[ABCReleaseId] A ON A.ReleaseId = T.ReleaseId
	WHERE CostUnit != 0 AND A.ReleaseId IS NULL
END
GO
