USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetQuoteOperation]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQuoteOperation] 
	@QuoteNum as int
AS
BEGIN 



SELECT o.*
FROM [W005].[dbo].[QuoteOperation] o INNER JOIN [W005].[dbo].[QuoteAssembly] a ON o.QuoteAssemblyNum=a.QuoteAssemblyNum
WHERE a.QuoteNum=@QuoteNum





END      
GO
