USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOpenConvertingProdOrders]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOpenConvertingProdOrders] @MachineGroupId as varchar(10), @ReadytoPost as bit
AS
BEGIN

--DECLARE @MachineGroupId as varchar(10) = 'ATL SPOOL'
--DECLARE @ReadytoPost as bit = 0

If Len(@MachineGroupId) = 0 Set @MachineGroupId = null

	SELECT DISTINCT 
			ParentOrderNo = ISNull(P.ParentOrderNo, O.OrderNo), 
			O.OrderNo, 
			OrderDescription = O.[cf_Order Description], 
			O.AssemblyId, 
			O.RevisionNo, 
			H.Id, 
			C.CustName, 
			IssueByRelease = IsNull(H.[cf_Issue by Release],0), 
			NumOfCuts = IsNull(O.[cf_No. of Cuts], 0), 
			LotNo = O.[cf_Lot No.], 
			IsSerial = IsNull(I.[cf_Multi-UOM Serial Item],0), 
			IsLotted = IsNull(I.[LottedYN], 0),  
			IsMultiItem = IsNull(I.[cf_Multi-Item Mfg], 0),
			IsOutTimeTracked = ISNULL(i.[cf_Out-Time Tracked],0), 
			OpCnt = Count(DISTINCT R.Id),
			RlseCnt = (Select Count(Id) FROM [005].[dbo].[trav_tblMpOrderReleases_view] where OrderNo = O.OrderNo and Status = 4), 
			AddlDescr = Cast(A.AddlDescr as varchar(max)),
			R1.EstCompletionDate
	FROM [005].[dbo].[trav_tblMpOrder_View] As O INNER JOIN  
	     [005].[dbo].[trav_tblMbAssemblyHeader_view] As H ON O.AssemblyId=H.AssemblyId AND O.RevisionNo=H.RevisionNo INNER JOIN 
		 [005].[dbo].[tblMbAssemblyRouting] As R ON H.Id=R.HeaderId AND R.WorkCenterId = SUBSTRING(O.LocId, 4,3) INNER JOIN
		 [005].[dbo].[trav_tblMpOrderReleases_view] As R1 ON R1.OrderNo = O.OrderNo AND IsNull(R1.[cf_Ready to Post], 0) = @ReadytoPost INNER JOIN
		 [005].[dbo].[tblMpRequirements] As R2 ON R2.ReleaseId = R1.Id INNER JOIN
		 [005].[dbo].[tblMpTimeSum] As T ON T.TransId = R2.TransId  AND ((@MachineGroupId is null) OR (T.[MachineGroupID] = @MachineGroupId))  INNER JOIN
		 [005].[dbo].[trav_tblInItem_view] As I ON I.ItemId = O.AssemblyId LEFT JOIN
		 [005].[dbo].[tblInItemAddlDescr] As A ON A.ItemId = I.ItemId LEFT JOIN
		 [005].[dbo].[trav_tblArCust_view] As C On R1.CustId = C.CustId LEFT JOIN
		 [W005].[dbo].[ParentOrderXRef] As P ON P.OrderNo = O.OrderNo
	WHERE R.OperationId Not Like 'EXT%' AND RIGHT(O.LocId,3) = T.WorkCenterId
			--AND O.OrderNo NOT IN (SELECT DISTINCT ORI.OrderNo FROM [W005].[dbo].[OrderReleaseInfo] ORI WHERE ORI.Scheduled = 0)-->added on 6/17/20 for TFS 1643 LM.
	GROUP BY ISNull(P.ParentOrderNo, O.OrderNo), O.OrderNo, O.[cf_Order Description], O.AssemblyId, O.RevisionNo, H.Id, C.CustName, H.[cf_Issue by Release], O.[cf_No. of Cuts], O.[cf_Lot No.], I.[cf_Multi-UOM Serial Item], I.[LottedYN], I.[cf_Multi-Item Mfg], i.[cf_Out-Time Tracked],  Cast(A.AddlDescr as varchar(max)),R1.EstCompletionDate
	Order by 1,2,3

END



GO
