USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spMaterialStatusForThaw]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spMaterialStatusForThaw] @Site AS VARCHAR(3)
AS
BEGIN

--DECLARE @Site AS VARCHAR(3) = 'ATL'

DECLARE @DateTime AS DATETIME = 
	CASE
		WHEN @Site = 'DTN' THEN DATEADD(HOUR, -1, GETDATE())
		ELSE GETDATE()
	END

--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Get all RMs located at @Site with a QTY greater than 0 */
SELECT DISTINCT
		I.ItemId,
		II.LocId,
		II.LotNum,
		QtyOnHand = Cast(II.QtyOnHand as float) / Cast(U.ConvFactor as float),
		I.UomDflt,
		IL.ExpDate,
		IsMultiUOM = I.[cf_Multi-UOM Serial Item],
		ILoc.GLAcctCode
INTO #InItemQtyExp
	FROM [005].dbo.trav_tblInItem_view AS I
			INNER JOIN [005].[dbo].[tblInItemUom] AS U ON U.ItemId = I.ItemId AND U.Uom = I.UomDflt
			INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] II ON II.ItemId=I.ItemId
			INNER JOIN [005].[dbo].[tblInItemLocLot] IL ON IL.ItemId=I.ItemId AND IL.LocId = II.LocID AND (IL.LotNum=II.LotNum)
			INNER JOIN [005].dbo.tblInItemLoc ILoc ON ILoc.ItemId = I.ItemId AND ILoc.LocId = II.LocId
	WHERE QtyOnHand > 0 AND (RTRIM(II.LocId) LIKE '%'+@Site OR @Site = 'ALL')

--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Get all serialized FGs available and their Out Time */
SELECT DISTINCT 
		ORK.OrderReleaseEventItemId,
		ORK.FGItemId, 
		ORK.FGTravSerNum, 
		ORK.FGTravLotNum,
		LocId = RTRIM(S.LocId), 
		ORK.RMItemId, 
		ORK.RMSerialNo, 
		ORK.RMLotNo, 
		ORK.ThawCompletedDT,
		ORK.LastScanDateTime,
		ORK.TotalRoomMinutes,
		ORK.TotalReeferMinutes,
		ORK.TotalFreezerMinutes,
		ORK.MaxRoomDTReached, 
		ORK.MaxReeferDTReached,
		ORK.MaxFreezerDTReached,
		ProgramId = (SELECT TOP 1 ProgramId 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC), 
		ThawType = (SELECT TOP 1 ThawType 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC),
		MaxRoomTimeHrs = (SELECT TOP 1 MaxRoomTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxReeferTimeHrs = (SELECT TOP 1 MaxReeferTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxFreezerTimeHrs = (SELECT TOP 1 MaxFreezerTimeHrs 
								 FROM OutTimeItemSpecs S
								 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								 ORDER BY S.ProgramId DESC),
		RoomComboThawHrs = (SELECT TOP 1 RoomComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		ReeferComboThawHrs = (SELECT TOP 1 ReeferComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		IsPartialKit = CAST(0 AS bit),
		OTIS.ReeferThawCompletedDT,
		OTIS.PriorWmBinId
INTO #FGRMOT
FROM OrderReleaseKitRawMatlOutTime ORK 
	 INNER JOIN [005].[dbo].[tblInItemSer] S ON S.ItemId=ORK.FGItemId AND S.SerNum=ORK.FGTravSerNum AND S.SerNumStatus IN (1,2,5)
	 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=ORK.FGItemId AND OTIS.TravSerNum=ORK.FGTravSerNum AND OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 
WHERE  (RTRIM(S.LocId) LIKE '%'+@Site OR @Site = 'ALL') 
UNION 
SELECT DISTINCT 
		ORK.OrderReleaseEventItemId,
		ORK.FGItemId, 
		ORK.FGTravSerNum, 
		ORK.FGTravLotNum,
		LocId = RTRIM(I.LocId), 
		ORK.RMItemId, 
		ORK.RMSerialNo, 
		ORK.RMLotNo, 
		ORK.ThawCompletedDT,
		ORK.LastScanDateTime,
		ORK.TotalRoomMinutes,
		ORK.TotalReeferMinutes,
		ORK.TotalFreezerMinutes,
		ORK.MaxRoomDTReached, 
		ORK.MaxReeferDTReached,
		ORK.MaxFreezerDTReached,
		ProgramId = (SELECT TOP 1 ProgramId 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC), 
		ThawType = (SELECT TOP 1 ThawType 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC),
		MaxRoomTimeHrs = (SELECT TOP 1 MaxRoomTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxReeferTimeHrs = (SELECT TOP 1 MaxReeferTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxFreezerTimeHrs = (SELECT TOP 1 MaxFreezerTimeHrs 
								 FROM OutTimeItemSpecs S
								 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								 ORDER BY S.ProgramId DESC),
		RoomComboThawHrs = (SELECT TOP 1 RoomComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		ReeferComboThawHrs = (SELECT TOP 1 ReeferComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		S.IsPartialKit,
		OTIS.ReeferThawCompletedDT,
		OTIS.PriorWmBinId
FROM OrderReleaseKitRawMatlOutTime ORK 
	 INNER JOIN OrderReleasePartialKit S ON S.FGItemId=ORK.FGItemId AND S.FGTravSerNum=ORK.FGTravSerNum AND S.IsPartialKit=1
	 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=ORK.FGItemId AND OTIS.TravSerNum=ORK.FGTravSerNum AND OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 
	 INNER JOIN ItemBinLoc I ON I.ItemId=S.FGItemId AND I.Sernum=S.FGTravSerNum
WHERE  (RTRIM(I.LocId) LIKE '%'+@Site OR @Site = 'ALL') 
UNION 
/* Get all Multi-UOM FGs available and their Out Time */
SELECT DISTINCT 
		ORK.OrderReleaseEventItemId,
		ORK.FGItemId, 
		ORK.FGTravSerNum, 
		ORK.FGTravLotNum,
		LocId = RTRIM(OH.LocId), 
		ORK.RMItemId, 
		ORK.RMSerialNo, 
		ORK.RMLotNo, 
		ORK.ThawCompletedDT,
		ORK.LastScanDateTime,
		ORK.TotalRoomMinutes,
		ORK.TotalReeferMinutes,
		ORK.TotalFreezerMinutes,
		ORK.MaxRoomDTReached, 
		ORK.MaxReeferDTReached,
		ORK.MaxFreezerDTReached,
		ProgramId = (SELECT TOP 1 ProgramId 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC), 
		ThawType = (SELECT TOP 1 ThawType 
					 FROM OutTimeItemSpecs S
					 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
					 ORDER BY S.ProgramId DESC),
		MaxRoomTimeHrs = (SELECT TOP 1 MaxRoomTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxReeferTimeHrs = (SELECT TOP 1 MaxReeferTimeHrs 
							 FROM OutTimeItemSpecs S
							 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
							 ORDER BY S.ProgramId DESC), 
		MaxFreezerTimeHrs = (SELECT TOP 1 MaxFreezerTimeHrs 
								 FROM OutTimeItemSpecs S
								 WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								 ORDER BY S.ProgramId DESC),
		RoomComboThawHrs = (SELECT TOP 1 RoomComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		ReeferComboThawHrs = (SELECT TOP 1 ReeferComboThawHrs 
								FROM OutTimeItemSpecs S
								WHERE S.ItemId=ORK.RMItemId AND (S.ProgramId=OTIS.ProgramId OR S.ProgramId=0)
								ORDER BY S.ProgramId DESC),
		IsPartialKit = CAST(0 AS bit),
		OTIS.ReeferThawCompletedDT,
		OTIS.PriorWmBinId
FROM OrderReleaseKitRawMatlOutTime ORK 
	 INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=ORK.FGItemId AND OTIS.SerialNo=ORK.FGTravLotNum AND OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 
  	 INNER JOIN [005].dbo.tblInItem I ON I.ItemId = OTIS.ItemId AND I.ItemType != 2
	 INNER JOIN [005].[dbo].[tblWmExtLoc] E ON E.Id = OTIS.CurrentWmBinId
	 INNER JOIN [005].[dbo].[trav_InItemOnHandLot_view] OH ON OH.ItemId=OTIS.ItemId AND OH.LocId = E.LocID AND OH.LotNum=ORK.FGTravLotNum AND OH.QtyOnHand > 0
WHERE  (RTRIM(OH.LocId) LIKE '%'+@Site OR @Site = 'ALL')

--///////////////////////////////////////////////////////////////////////////////////////////////
/* Calculate FG Out-time */
SELECT DISTINCT
	A.OrderReleaseEventItemId,
	A.FGItemId,
	A.FGTravSerNum,
	A.FGTravLotNum,
	A.LocId,
	TotalRemainingRoomHours = MIN(A.MaxRoomTimeHrs - A.TotalRoomHrs),
	RemainingRoomComboThawHours = MIN(RemainingRoomComboThawHours),
	RemainingReeferComboThawHours = MIN(RemainingReeferComboThawHours),
	MaxRoomDTReached = MIN(A.MaxRoomDTReached),
	FGExpDate = MIN(A.ExpDate),
	A.IsPartialKit,
	PriorBinType,
	TotalRoomHrs = MAX(A.TotalRoomHrs)
INTO #FGOutTime
FROM (	
	SELECT DISTINCT	
			FG.OrderReleaseEventItemId, 
			FG.FGItemId, 
			FG.FGTravSerNum, 
			FG.FGTravLotNum,
			FG.LocId, 
			FG.RMItemId,
			FG.RMSerialNo,
			FG.RMLotNo,
			FG.ThawType,
			FG.ThawCompletedDT,
			--TotalRoomHrs = (CAST(DATEDIFF(MINUTE,FG.LastScanDateTime,@DateTime)AS FLOAT) + CAST(FG.TotalRoomMinutes AS FLOAT))/60,
			TotalRoomHrs = IIF(OTSpec.ReeferPercentOfRoomOT > 0,
					((CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime) AS FLOAT) +(CAST([TotalRoomMinutes] AS FLOAT)) + (CAST([TotalReeferMinutes] * (OTSpec.ReeferPercentOfRoomOT / 100) AS FLOAT)))/60),
					((CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime) AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)))/60)),
		FG.MaxRoomTimeHrs, 
			FG.RoomComboThawHrs,
			FG.MaxRoomDTReached,			
			RemainingRoomComboThawHours = IIF(UPPER(FG.ThawType) = 'COMBINATION', CAST(DATEDIFF(MINUTE,@DateTime, FG.ThawCompletedDT) AS FLOAT)/60, 0),
			RemainingReeferComboThawHours = IIF(UPPER(FG.ThawType) = 'COMBINATION', CAST(DATEDIFF(MINUTE,@DateTime,FG.ReeferThawCompletedDT) AS FLOAT)/60, 0),
			ExpDate = ISNULL(OREI.FGExpDate, (SELECT MIN(ExpDate)
												FROM [005].[dbo].[tblInItemLocLot] L
												WHERE L.ItemId=FG.RMItemId AND L.LotNum=FG.RMSerialNo
													  AND (L.LocId LIKE '%'+@Site OR @Site = 'ALL'))),
			FG.IsPartialKit,
			PriorBinType = PriorLoc.[cf_Bin Type]
		FROM #FGRMOT FG
			 INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=FG.OrderReleaseEventItemId		
			 INNER JOIN OutTimeItemSpecs OTSpec ON OTSpec.ItemId = FG.FGItemId			
			 LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLoc ON PriorLoc.Id=FG.PriorWmBinId
) A
GROUP BY OrderReleaseEventItemId, FGItemId, FGTravSerNum, FGTravLotNum, LocId, ThawType, PriorBinType, A.IsPartialKit
ORDER BY OrderReleaseEventItemId
--/////////////////////////////////////////////////////////////////////////////////////////////////////
SELECT DISTINCT 
		A.ItemId,
		A.LocId,
		A.SerialNo,
		A.LotNo,
		A.TravSerNum,
		A.QtyOnHand,
		A.UomDflt,
		A.ProgramName,
		CurrentBin,
		A.BinType,
		A.[cf_Physical Location],
		A.LastScanDateTime,
		A.ThawType,
		A.ThawCompletedDT,
		A.TotalRoomMinutes,
		TotalRoomHours = A.TotalRoomMinutes/60.0,
		A.MaxRoomTimeHrs,
		A.TotalRemainingRoomHours,
		A.RemainingRoomComboThawHours,
		A.RemainingReeferComboThawHours,
		A.MaxRoomDTReached,
		A.ExpDate,
		A.IsPartialKit,
		A.BagOpen,
		A.ShipItemNo,
		A.ShipBoxNo,
		A.ShipCartonNo,
		A.ShipPalletNo,
		A.EstimateLastScanDateTime,
		A.EstimateTotalRoomMin
FROM (
	/* Multi-Uom RM or Lotted Items */
	SELECT DISTINCT
			OTIS.ItemId,
			E.LocID,
			OTIS.SerialNo,
			LotNo  = ISNULL(IIF(C.Characteristic = 'InheritRawMaterialLotNo.', 
								(SELECT DISTINCT LotNo FROM [W005].[dbo].[OrderReleaseEventItem] WHERE SerialNo=OTIS.SerialNo AND IsAssembly = 1 AND LotNo IS NOT NULL), 
							OTIS.LotNo), 
						OTIS.LotNo),  --ISNULL is needed, LotNo returns NULL w/o it.
			OTIS.TravSerNum,
			I.QtyOnHand, 
			I.UomDflt,
			P.ProgramName,
			PriorBinType = PriorLoc.[cf_Bin Type],
			CurrentBin = E.ExtLocID,
			OTIS.BinType,
			E.[cf_Physical Location],
			OTIS.LastScanDateTime,
			OTSpec.ThawType,
			OTIS.ThawCompletedDT,
			TotalRoomMinutes = CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime) AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)),
			OTSpec.MaxRoomTimeHrs,
			--TotalRemainingRoomHours = OTSpec.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime)AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)))/60),
			TotalRemainingRoomHours = IIF(OTSpec.ReeferPercentOfRoomOT > 0,
							OTSpec.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime) AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)) + (CAST([TotalReeferMinutes] * (OTSpec.ReeferPercentOfRoomOT / 100) AS FLOAT)))/60),
							OTSpec.MaxRoomTimeHrs-((CAST(DATEDIFF(MINUTE,[LastScanDateTime],@DateTime) AS FLOAT)+(CAST([TotalRoomMinutes] AS FLOAT)))/60)),
			RemainingRoomComboThawHours = IIF(UPPER(ThawType) = 'COMBINATION', CAST(DATEDIFF(MINUTE,@DateTime,OTIS.ThawCompletedDT) AS FLOAT)/60, 0), 
			RemainingReeferComboThawHours = IIF(UPPER(OTSpec.ThawType) = 'COMBINATION', CAST(DATEDIFF(MINUTE,@DateTime,OTIS.ReeferThawCompletedDT) AS FLOAT)/60, 0),
			OTIS.MaxRoomDTReached,
			I.ExpDate,
			IsPartialKit = CAST(0 as bit),
			OTIS.BagOpen,
			SI.ShipItemNo,
			SB.ShipBoxNo,
			SC.ShipCartonNo,
			SP.ShipPalletNo,
			null AS EstimateLastScanDateTime,
			null AS EstimateTotalRoomMin
	FROM	#InItemQtyExp I
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=I.ItemId AND OTIS.SerialNo=I.LotNum 
			INNER JOIN [005].dbo.tblInItem II ON II.ItemId = OTIS.ItemId AND II.ItemType != 2
			INNER JOIN OutTimeItemSpecs OTSpec ON OTSpec.ItemId = OTIS.ItemId AND OTSpec.ProgramId = OTIS.ProgramId
			INNER JOIN Program P ON P.Id=OTSpec.ProgramId
			INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] E ON E.Id = OTIS.CurrentWmBinId
			LEFT JOIN [005].[dbo].[trav_tblWmExtLoc_view] PriorLoc ON PriorLoc.Id=OTIS.PriorWmBinId
			LEFT JOIN Characteristic C ON C.Characteristic = 'InheritRawMaterialLotNo.'
			LEFT JOIN ProductChar PC ON PC.ItemId = OTIS.ItemId AND PC.CharId = C.Id
			LEFT JOIN ShipItem SI ON SI.ItemId=I.ItemId AND (SI.SerNo=I.LotNum OR SI.LotNo=I.LotNum OR SI.TravLotNum=I.LotNum)
			LEFT JOIN ShipBox SB ON SB.Id=SI.ShipBoxId
			LEFT JOIN ShipCarton SC ON SC.Id=SI.ShipCartonId
			LEFT JOIN ShipPallet SP ON SP.Id=SI.ShipPalletId
	WHERE OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 AND (I.IsMultiUOM = 0 OR SUBSTRING(I.GLAcctCode,1,1) NOT IN ('7','8'))/*remove MultiUOM FGs, they are below*/		
	UNION ALL
	/* Serialized Items */
	SELECT DISTINCT 
			OTIS.ItemId,
			KitOT.LocId,
			OTIS.SerialNo,
			OTIS.LotNo,
			OTIS.TravSerNum,
			QtyOnHand = OREI.TotalQty,
			OREI.UOM,
			P.ProgramName,
			PriorBinType, --= (SELECT [cf_Bin Type] FROM [005].[dbo].[trav_tblWmExtLoc_view] W WHERE W.Id=OTIS.PriorWmBinId),
			CurrentBin = E.ExtLocID,
			OTIS.BinType,
			E.[cf_Physical Location],
			OTIS.LastScanDateTime,
			OTSpec.ThawType,
			OTIS.ThawCompletedDT,
			TotalRoomMinutes = Cast(KitOT.TotalRoomHrs as float) * 60.0,
			OTSpec.MaxRoomTimeHrs,
			KitOT.TotalRemainingRoomHours,
			KitOT.RemainingRoomComboThawHours,
			KitOT.RemainingReeferComboThawHours,
			KitOT.MaxRoomDTReached,
			ExpDate = ISNULL(OREI.FGExpDate,KitOT.FGExpDate),
			KitOT.IsPartialKit,
			OTIS.BagOpen,
			SI.ShipItemNo,
			SB.ShipBoxNo,
			SC.ShipCartonNo,
			SP.ShipPalletNo,
			EstimateLastScanDateTime = (SELECT DISTINCT MIN(ORK.EstLastScanDateTime) 
											FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
											WHERE ORK.OrderReleaseEventItemId=KitOT.OrderReleaseEventItemId),
			EstimateTotalRoomMin = (SELECT DISTINCT MIN(ORK.EstTotalRoomMinutes) 
											FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
											WHERE ORK.OrderReleaseEventItemId=KitOT.OrderReleaseEventItemId)
	FROM	#FGOutTime KitOT
			INNER JOIN OrderReleaseEventItem AS OREI ON OREI.Id=KitOT.OrderReleaseEventItemId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=OREI.ItemId AND OTIS.TravSerNum=OREI.TravSerNum 
			INNER JOIN [005].dbo.tblInItem I ON I.ItemId = OTIS.ItemId AND I.ItemType = 2
			INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] AS E ON E.Id = OTIS.CurrentWmBinId
			INNER JOIN OutTimeItemSpecs AS OTSpec ON OTSpec.ItemId = OTIS.ItemId AND OTSpec.ProgramId = OTIS.ProgramId
			INNER JOIN Program P ON P.Id=OTSpec.ProgramId
			LEFT JOIN ShipItem SI ON SI.OREIId=KitOT.OrderReleaseEventItemId
			LEFT JOIN ShipBox SB ON SB.Id=SI.ShipBoxId
			LEFT JOIN ShipCarton SC ON SC.Id=SI.ShipCartonId
			LEFT JOIN ShipPallet SP ON SP.Id=SI.ShipPalletId
	WHERE  OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 
	UNION ALL
	/* Multi-Uom FG */
	SELECT DISTINCT 
			OTIS.ItemId,
			KitOT.LocId,
			OTIS.SerialNo,
			OTIS.LotNo,
			OTIS.TravSerNum,
			QtyOnHand = IIF(Qty.GLAcctCode IS NOT NULL AND SUBSTRING(Qty.GLAcctCode,1,1)='8', Qty.QtyOnHand, OREI.TotalQty),
			UOM = IIF(Qty.GLAcctCode IS NOT NULL AND SUBSTRING(Qty.GLAcctCode,1,1)='8', Qty.UomDflt, OREI.UOM),
			P.ProgramName,
			PriorBinType, 
			CurrentBin = E.ExtLocID,
			OTIS.BinType,
			E.[cf_Physical Location],
			OTIS.LastScanDateTime,
			OTSpec.ThawType,
			OTIS.ThawCompletedDT,
			TotalRoomMinutes = Cast(KitOT.TotalRoomHrs as float) * 60.0,
			OTSpec.MaxRoomTimeHrs,
			KitOT.TotalRemainingRoomHours,
			KitOT.RemainingRoomComboThawHours,
			KitOT.RemainingReeferComboThawHours,
			KitOT.MaxRoomDTReached,
			ExpDate = ISNULL(OREI.FGExpDate,KitOT.FGExpDate),
			KitOT.IsPartialKit,
			OTIS.BagOpen,
			SI.ShipItemNo,
			SB.ShipBoxNo,
			SC.ShipCartonNo,
			SP.ShipPalletNo,
			EstimateLastScanDateTime = (SELECT DISTINCT MIN(ORK.EstLastScanDateTime) 
											FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
											WHERE ORK.OrderReleaseEventItemId=KitOT.OrderReleaseEventItemId),
			EstimateTotalRoomMin = (SELECT DISTINCT MIN(ORK.EstTotalRoomMinutes) 
											FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
											WHERE ORK.OrderReleaseEventItemId=KitOT.OrderReleaseEventItemId)
	FROM	#FGOutTime KitOT
			INNER JOIN OrderReleaseEventItem AS OREI ON OREI.Id=KitOT.OrderReleaseEventItemId
			INNER JOIN OutTimeItemStatus OTIS ON OTIS.ItemId=OREI.ItemId AND OTIS.SerialNo=OREI.TravLotNum 
			INNER JOIN [005].dbo.tblInItem I ON I.ItemId = OTIS.ItemId AND I.ItemType != 2
			INNER JOIN [005].[dbo].[trav_tblWmExtLoc_view] AS E ON E.Id = OTIS.CurrentWmBinId
			INNER JOIN OutTimeItemSpecs AS OTSpec ON OTSpec.ItemId = OTIS.ItemId AND OTSpec.ProgramId = OTIS.ProgramId
			INNER JOIN Program P ON P.Id=OTSpec.ProgramId
			INNER JOIN [005].dbo.tblInItemLoc ILoc ON ILoc.ItemId = OREI.ItemId AND ILoc.LocId = OREI.LocId
			LEFT JOIN ShipItem SI ON SI.OREIId=KitOT.OrderReleaseEventItemId
			LEFT JOIN ShipBox SB ON SB.Id=SI.ShipBoxId
			LEFT JOIN ShipCarton SC ON SC.Id=SI.ShipCartonId
			LEFT JOIN ShipPallet SP ON SP.Id=SI.ShipPalletId
			LEFT JOIN #InItemQtyExp Qty ON Qty.ItemId = KitOT.FGItemId AND Qty.LocId = KitOT.LocId AND Qty.LotNum = KitOT.FGTravLotNum
	WHERE  OTIS.BinType IN ('ROOM','WAREHOUSE') AND OTIS.InTransitOTStopped = 0 AND SUBSTRING(ILoc.GLAcctCode,1,1) IN ('7','8') /*GLAcctCodes 70s & 80s for FG items */
) A
WHERE (UPPER(ThawType) = 'COMBINATION' AND PriorBinType='REEFER' AND ((RemainingRoomComboThawHours > 0 AND RemainingReeferComboThawHours > 0) OR ThawCompletedDT > @DateTime))
	  OR (UPPER(ThawType) = 'COMBINATION' AND PriorBinType!='REEFER' AND ThawCompletedDT > @DateTime)
	  OR (UPPER(ThawType) != 'COMBINATION' AND ThawCompletedDT > @DateTime)
	  

DROP TABLE #InItemQtyExp
DROP TABLE #FGRMOT
DROP TABLE #FGOutTime


END
GO
