USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPkgIdSerialNos]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--***********************************************************************************************************************************************************************
 -- ******************************  THIS DOES NOT WORK FOR CUST DEFINED SERNOS !!!!! THESE ARE ALPHANUMERIC !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

CREATE PROCEDURE [dbo].[spGetPkgIdSerialNos]
	@ShipUnitID int, @ShipUnitType char(1)
AS
BEGIN

--DECLARE @ShipUnitID int = 79
--DECLARE @ShipUnitType char(1) = 'I'


--  GET ALL SERNOs in PkgId
IF @ShipUnitType = 'P'
	SELECT TravSerNum FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId = @ShipUnitID ORDER BY TravSerNum ASC 
ELSE IF @ShipUnitType = 'C'
	SELECT TravSerNum FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId = @ShipUnitID ORDER BY TravSerNum ASC 
ELSE IF @ShipUnitType = 'B'
	SELECT TravSerNum FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId = @ShipUnitID ORDER BY TravSerNum ASC 
ELSE IF @ShipUnitType = 'I'
	SELECT TravSerNum FROM [W005].[dbo].[ShipItem] WHERE Id = @ShipUnitID ORDER BY TravSerNum ASC 



	


END
GO
