USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[GetAdvancedShippingNoticeEntry]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetAdvancedShippingNoticeEntry](@serialNum varchar(25))
AS
SELECT 
	notice.SerialNumber,
	notice.VendorOrderNumber,
	notice.VendorID,
	notice.VendorItemID,
	alias.ItemID,
	notice.OrderDate,
	notice.ArrivalDate,
	notice.Width,
	notice.WidthUnits,
	notice.Length,
	notice.LengthUnits,
	notice.Area,
	notice.AreaUnits,
	notice.Pallet,
	notice.Batch,
	notice.ManufactureDate,
	notice.RevLevel,
	notice.TotalNetWeight,
	notice.TotalGrossWeight,
	notice.HasDefects,
	notice.ReportedRoomTemperatureDays,
	notice.ReportedRefrigerationDays,
	notice.PONumber
FROM [W005].dbo.AdvanceShippingNotices notice
LEFT JOIN [005].dbo.tblInItemAlias alias ON alias.AliasID = notice.VendorItemID
	WHERE notice.SerialNumber = @serialNum;
GO
