USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIUpdateMPOrderReleaseParentOrderCF]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIUpdateMPOrderReleaseParentOrderCF] @ParentOrder as varchar(8), @MPOrderRelId as integer
AS
BEGIN
	UPDATE [005].[dbo].[tblMpOrderReleases] Set CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @MPOrderRelId
END
GO
