USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetPartialBoxesByItemOrdNoRelNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[spGetPartialBoxesByItemOrdNoRelNo]
	@ItemId as varchar(24), @LocId as varchar(10), @OrderNo as varchar(8),@ReleaseNo as int
AS
BEGIN

--dECLARE @ItemId as varchar(24)= 'PET-2-2.000-6P'
--declare @LocId as varchar(10) = 'INVENTORY'
--declare @OrderNo as varchar(8) = '00040119'
--declare @ReleaseNo as int = 1

DECLARE @DoNotPackMixedOrdNoRelNo as bit
SET @DoNotPackMixedOrdNoRelNo = IsNULL((SELECT Pc.bTarget 
FROM [W005].[dbo].[ProductChar] Pc 
	inner join [W005].[dbo].[Characteristic] C ON C.Id = Pc.CharId 
WHERE  Pc.ItemId = @ItemId AND C.Characteristic = 'DoNotPackMixedOrdNoRelNo'),0)


	SELECT B.ShipBoxNo As PkgId,SUM(I.Quantity) As Quantity,B.Id, Count(I.Id) As NoPacked, B.IsPacked,B.TareWt,@DoNotPackMixedOrdNoRelNo AS bTarget
	FROM [W005].[dbo].[ShipBox] As B 
		inner join [W005].[dbo].[ShipItem] As I On B.Id = I.ShipBoxId  AND I.ProdOrderNo = iif(@DoNotPackMixedOrdNoRelNo = 1, @OrderNo, 'FOO') AND I.ProdOrderRelNo = iif(@DoNotPackMixedOrdNoRelNo = 1,@ReleaseNo, 0)
	Where I.ItemId=@ItemId AND I.Location=@LocId AND I.Deleted=0 AND I.Issued=0 AND B.Complete=0
	GROUP BY B.Id,B.ShipBoxNo,B.IsPacked,B.TareWt
	
END







GO
