USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIMLIKitLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIMLIKitLabel] @PrintJobId int, @OrderNo AS varchar(8), @ReleaseNo AS int, @OrderReleaseEventItemId as int
AS
BEGIN

--/*TEST DATA*/  
--DECLARE @PrintJobId int = 1
--DECLARE @OrderNo AS varchar(8) = '00035541'
--DECLARE @ReleaseNo AS int = 9
--DECLARE @OrderReleaseEventItemId int = 0


If @OrderReleaseEventItemId = 0
BEGIN
   SET @OrderReleaseEventItemId = NULL
END


SELECT DISTINCT  
		 OREI.MultiKitPerBagNum AS BagNum
		,OREI.MfgDate
		,YYWW =  CAST( RIGHT( CAST( DATEPART(yy,OREI.MfgDate) as VARCHAR(4) ), 2 ) AS CHAR(2) ) +
					RIGHT( '0' + CAST( DATEPART(ww,OREI.MfgDate) as VARCHAR(2) ), 2 ) 
		,CORI.ItemId
		,ISNULL(MOR.CustId, MORHist.CustId) AS CustId
		,CustName = (SELECT CustName FROM [005].[dbo].[tblArCust] WHERE CustId=MOR.CustId OR CustId=MORHist.CustId)
		,CORI.RevisionNo
		,ISNULL(MOR.PurchaseOrder, MORHist.PurchaseOrder) AS PurchaseOrder
		,CORI.OrderNo
		,CORI.ReleaseNo
		,ORE.OrderNo AS ParentOrderNo
		,ORE.ReleaseNo AS ParentReleaseNo
		,ProdOrdHdr = (SELECT TOP 1 RTRIM(Descr) + ', Rev. ' + [cf_Customer Revision No] 
					   FROM [005].[dbo].[tblInItem] AS I
							INNER JOIN [005].[dbo].[trav_tblMbAssemblyHeader_view] AS M ON M.AssemblyId=I.ItemId
					   WHERE I.ItemId=CORI.ItemId AND M.RevisionNo=CORI.RevisionNo) --ItemDescr + CustRevNo
		,SN = ISNULL(CORI.ParentOrderNo + '-' + CAST(OREI.MultiKitPerBagNum AS VARCHAR(3)), CORI.ParentOrderNo)--SN is not SerialNo in this instance
		,OREI.TravSerNum AS FGTravSerNum
		,KitQty = 1
		,FGKitBarcode = '1' + '|' + OREI.ItemId + '|' + OREI.TravSerNum + '|' + ISNULL(OREI.TravLotNum, '')

FROM	[W005].[dbo].[CCIOrderReleaseInfo] AS CORI
		INNER JOIN [W005].[dbo].[OrderReleaseEvent] AS ORE ON ORE.OrderNo=CORI.ParentOrderNo
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.IsAssembly=1
		LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS MOR ON MOR.OrderNo=CORI.OrderNo AND MOR.ReleaseNo=CORI.ReleaseNo
		LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS MORHist ON MORHist.OrderNo=CORI.OrderNo AND MORHist.ReleaseNo=CORI.ReleaseNo
		LEFT JOIN [W005].[dbo].[CCIKitBagDetail] KBD ON KBD.OrderReleaseEventItemId=OREI.Id

WHERE	CORI.OrderNo=@OrderNo AND CORI.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId is null OR OREI.Id = @OrderReleaseEventItemId) 

END
GO
