USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spABCGetAssemblyCostByReleaseId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spABCGetAssemblyCostByReleaseId] @ReleaseId as Int
AS
BEGIN
    --DECLARE @ReleaseId as int = 91260

	IF EXISTS(SELECT ReleaseId FROM ABCReleaseId WHERE ReleaseId = @ReleaseId)
		BEGIN
		  UPDATE ABCReleaseId SET DuplicateReleaseIdFound = 1 WHERE ReleaseId = @ReleaseId
		END
	ELSE
		BEGIN
			SELECT @ReleaseId AS ReleaseId, HistSeqNum, ItemId, SerNum as SerialNo, LotNum as LotNo, Qty, Uom, UomBase, ConvFactor, CostUnit, IsTravSerialized = CAST(IIF(SerNum IS NULL, 0, 1) AS BIT) INTO #ReleaseFG FROM ABCAssemblyWorkTable3 WHERE ReleaseId = @ReleaseId Order By HistSeqNum
			SELECT TOP 1 ReleaseId, HistSeqNum, ItemId, SerialNo, LotNo, Qty, Uom, UomBase, ConvFactor, CostUnit, IsTravSerialized INTO #T1 FROM #ReleaseFG Order By HistSeqNum
			SELECT  ReleaseId
					,WIMaterialDirectCost = SUM(WIMaterialDirectCost)
					,WIMaterialInDirectCost = SUM(WIMaterialInDirectCost)
					,WILaborSetupCost = SUM(WILaborSetupCost)
					,WILaborCost = SUM(WILaborCost)
					,WIMachineSetupCost = SUM(WIMachineSetupCost)
					,WIMachineCost = SUM(WIMachineCost)
					,WIMachineCostModified = SUM(WIMachineCostModified)
					,WIMachineCostVariable = SUM(WIMachineCostVariable)
					,WISubcontractCost = SUM(WISubcontractCost)
					,WITotalCost = (SUM(WIMaterialDirectCost) + SUM(WIMaterialInDirectCost) + SUM(WILaborSetupCost) + SUM(WILaborCost) + SUM(WIMachineSetupCost) + SUM(WIMachineCost) + SUM(WISubcontractCost))
					,WIOrderQty = (SELECT SUM(D.Qty*ConvFactor) FROM [005].[dbo].[tblMpHistoryMatlDtl]  D INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId WHERE R.ParentId IS NULL AND R.ReleaseId = @ReleaseId)
					,WIUnitCost = ((SUM(WIMaterialDirectCost) + SUM(WIMaterialInDirectCost) + SUM(WILaborSetupCost) + SUM(WILaborCost) + SUM(WIMachineSetupCost) + SUM(WIMachineCost) + SUM(WISubcontractCost))/(SELECT SUM(D.Qty*ConvFactor) FROM [005].[dbo].[tblMpHistoryMatlDtl]  D INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.TransId = D.TransId WHERE R.ParentId IS NULL AND R.ReleaseId = @ReleaseId))
					,WILaborSetupHours = SUM(WILaborSetupHours)
					,WILaborpHours = SUM(WILaborpHours)
					,WIMachineSetupHours = SUM(WIMachineSetupHours)
					,WIMachineHours = SUM(WIMachineHours)
			INTO #T2
			FROM 
			(
				SELECT @ReleaseId as ReleaseId
						,UnitCostBase = D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
						,WIMaterialDirectCost = ISNULL(CASE WHEN SUBSTRING(L.GLAcctCode, 1,1) in ('1','2','3', '9') THEN (D.Qty*(IIF(D.ConvFactor = 0, 1.0, D.ConvFactor))) * (D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)) END, 0)
						,WIMaterialInDirectCost = ISNULL(CASE WHEN SUBSTRING(L.GLAcctCode, 1,1) in ('4','5','6') THEN (D.Qty*(IIF(D.ConvFactor = 0, 1.0, D.ConvFactor))) * (D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)) END, 0)
						,WILaborSetupCost = 0
						,WILaborCost = 0
						,WIMachineSetupCost = 0
						,WIMachineCost = 0
						,WIMachineCostModified = 0
						,WIMachineCostVariable = 0
						,WISubcontractCost = 0
						,WILaborSetupHours = 0
						,WILaborpHours = 0
						,WIMachineSetupHours = 0
						,WIMachineHours = 0
				FROM [005].[dbo].[tblMpHistoryRequirements] R
				INNER JOIN [005].[dbo].[tblMpHistoryMatlDtl]  D ON D.PostRun = R.PostRun AND D.TransId = R.TransId
				INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
				WHERE R.ParentId IS NOT NULL AND UnitCost != 0 AND SUBSTRING(L.GLAcctCode, 1,1) NOT IN ('7', '8') AND R.ReleaseId = @ReleaseId
				UNION ALL
				SELECT @ReleaseId as ReleaseId
						,UnitCostBase = ISNULL(E.CostUnit, S.CostUnit)/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
						,WIMaterialDirectCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMaterialDirectUnitCost), 0)
						,WIMaterialInDirectCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMaterialInDirectUnitCost), 0)
						,WILaborSetupCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WILaborSetupUnitCost), 0)
						,WILaborCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WILaborUnitCost), 0)
						,WIMachineSetupCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMachineSetupUnitCost), 0)
						,WIMachineCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMachineUnitCost), 0)
						,WIMachineCostModified = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMachineUnitCostModified), 0)
						,WIMachineCostVariable = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WIMachineUnitCostVariable), 0)
						,WISubcontractCost = ISNULL(((ISNULL(E.QtyFilled, 1)*D.ConvFactor) * N.WISubcontractUnitCost), 0)
						,WILaborSetupHours = 0
						,WILaborpHours = 0
						,WIMachineSetupHours = 0
						,WIMachineHours = 0
				FROM [005].[dbo].[tblMpHistoryRequirements] R
				INNER JOIN [005].[dbo].[tblMpHistoryMatlDtl]  D ON D.PostRun = R.PostRun AND D.TransId = R.TransId
				INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId = D.ComponentId 
				INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
				LEFT JOIN [005].[dbo].[tblMpHistoryMatlDtlExt] E ON E.PostRun = D.PostRun AND E.TransId = D.TransId AND E.EntryNum = D.SeqNo
				LEFT JOIN [005].[dbo].[tblInQtyOnHand_Offset] O ON O.SeqNum = E.QtySeqNum
   			    LEFT JOIN [005].[dbo].[tblMpHistoryMatlSer] S ON S.PostRun = D.PostRun AND S.TransId = D.TransId AND S.EntryNum = D.SeqNo
				LEFT JOIN [W005].dbo.[ABCReleaseIdItemId]  N ON N.ItemId = D.ComponentId AND (N.SerialNo = S.SerNum or (N.LotNo = E.LotNum AND N.UnitCostBase = O.Cost))
				WHERE (I.LottedYN = 1 OR I.ItemType = 2) AND R.ParentId IS NOT NULL AND UnitCost != 0 AND SUBSTRING(L.GLAcctCode, 1,1) IN ('7','8') AND R.ReleaseId = @ReleaseId
				UNION ALL
				SELECT @ReleaseId as ReleaseId
						,UnitCostBase = D.UnitCost/IIF(D.ConvFactor = 0, 1.0, D.ConvFactor)
						,WIMaterialDirectCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMaterialDirectUnitCost), 0)
						,WIMaterialInDirectCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMaterialInDirectUnitCost), 0)
						,WILaborSetupCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WILaborSetupUnitCost), 0)
						,WILaborCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WILaborUnitCost), 0)
						,WIMachineSetupCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMachineSetupUnitCost), 0)
						,WIMachineCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMachineUnitCost), 0)
						,WIMachineCostModified = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMachineUnitCostModified), 0)
						,WIMachineCostVariable = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WIMachineUnitCostVariable), 0)
						,WISubcontractCost = ISNULL(((ISNULL(D.Qty, 1)*D.ConvFactor) * N.WISubcontractUnitCost), 0)
						,WILaborSetupHours = 0
						,WILaborpHours = 0
						,WIMachineSetupHours = 0
						,WIMachineHours = 0
				FROM [005].[dbo].[tblMpHistoryRequirements] R
				INNER JOIN [005].[dbo].[tblMpHistoryMatlDtl]  D ON D.PostRun = R.PostRun AND D.TransId = R.TransId
				INNER JOIN [005].[dbo].[tblInItem] I ON I.ItemId = D.ComponentId 
				INNER JOIN [005].[dbo].[tblInItemLoc] L ON L.ItemId = D.ComponentId AND L.LocId = D.LocId
				LEFT JOIN [W005].dbo.[ABCReleaseIdItemId]  N ON N.ItemId = D.ComponentId AND N.LotNo Is NULL AND N.UnitCostBase = D.UnitCost
				WHERE I.LottedYN = 0 AND R.ReleaseId = @ReleaseId AND R.ParentId IS NOT NULL AND SUBSTRING(L.GLAcctCode, 1,1) IN ('7','8') 
				UNION ALL
				SELECT @ReleaseId as ReleaseId
						,UnitCostBase = 0
						,WIMaterialDirectCost = 0
						,WIMaterialInDirectCost = 0
						,WILaborSetupCost = (D.LaborSetup * S.HourlyRateLbrSetup) + ((D.LaborSetup * S.HourlyRateLbrSetup) * (S.LaborPctOvhd/100))
						,WILaborCost = (D.Labor * S.HourlyRateLbr) + ((D.Labor * S.HourlyRateLbr) * (S.LaborPctOvhd/100))
						,WIMachineSetupCost = (D.MachineSetup * S.HourlyCostFactorMach) + ((D.MachineSetup * S.HourlyCostFactorMach) * (S.MachPctOvhd/100))
						,WIMachineCost = (D.MachineRun * S.HourlyCostFactorMach) + ((D.MachineRun * S.HourlyCostFactorMach) * (S.MachPctOvhd/100))
						,WIMachineCostModified = 0
						,WIMachineCostVariable = 0
						,WISubcontractCost = 0
						,WILaborSetupHours = D.LaborSetup
						,WILaborpHours = D.Labor
						,WIMachineSetupHours = D.MachineSetup
						,WIMachineHours = D.MachineRun
				FROM [005].[dbo].[tblMpHistoryTimeDtl]  D
				INNER JOIN [005].[dbo].[tblMpHistoryTimeSum]  S ON S.PostRun = D.PostRun AND S.TransId = D.TransId
				INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.PostRun = D.PostRun AND R.TransId = D.TransId
				WHERE R.ParentId IS NOT NULL AND R.ReleaseId = @ReleaseId
				UNION ALL
				SELECT @ReleaseId as ReleaseId
						,UnitCostBase = ISNULL(D.UnitCost, S.EstPerPieceCost)
						,WIMaterialDirectCost = 0
						,WIMaterialInDirectCost = 0
						,WILaborSetupCost = 0
						,WILaborCost = 0
						,WIMachineSetupCost = 0
						,WIMachineCost = 0
						,WIMachineCostModified = 0
						,WIMachineCostVariable = 0
						,WISubcontractCost = ISNULL(D.QtyReceived * D.UnitCost, 0)
						,WILaborSetupHours = 0
						,WILaborpHours = 0
						,WIMachineSetupHours = 0
						,WIMachineHours = 0
				FROM [005].[dbo].[tblMpHistorySubContractDtl]  D
				INNER JOIN [005].[dbo].[tblMpHistorySubContractSum]  S ON S.PostRun = D.PostRun AND S.TransId = D.TransId
				INNER JOIN [005].[dbo].[tblMpHistoryRequirements] R ON R.PostRun = D.PostRun AND R.TransId = D.TransId
				WHERE R.ParentId IS NOT NULL AND R.ReleaseId = @ReleaseId
			) A
			GROUP BY ReleaseId

			DELETE FROM ABCReleaseId WHERE ReleaseId = @ReleaseId
			DELETE FROM ABCReleaseIdItemId WHERE ReleaseId = @ReleaseId

			INSERT INTO ABCReleaseId
			SELECT DISTINCT #T1.ReleaseId, R.OrderNo, R.ReleaseNo, ItemId, WIOrderQty/ConvFactor, #T1.Uom, UomBase, ConvFactor, CostUnit, 
			WIMaterialDirectCost, IIF(WITotalCost=0, 0, WIMaterialDirectCost/WITotalCost),
			WIMaterialInDirectCost, IIF(WITotalCost=0, 0, WIMaterialInDirectCost/WITotalCost), 
			WILaborSetupCost, IIF(WITotalCost=0, 0, WILaborSetupCost/WITotalCost), 
			WILaborCost, IIF(WITotalCost=0, 0, WILaborCost/WITotalCost), 
			WIMachineSetupCost,  IIF(WITotalCost=0, 0, WIMachineSetupCost/WITotalCost), 
			WIMachineCost, IIF(WITotalCost=0, 0, WIMachineCost/WITotalCost), 
			WIMachineCostModified, IIF(WITotalCost=0, 0, WIMachineCostModified/WITotalCost), 
			WIMachineCostVariable, IIF(WITotalCost=0, 0, WIMachineCostVariable/WITotalCost), 
			WISubcontractCost, IIF(WITotalCost=0, 0, WISubcontractCost/WITotalCost), 
			WILaborSetupHours, WILaborpHours, WIMachineSetupHours, WIMachineHours,
			WIOrderQty, WIUnitCost, WITotalCost, CONVERT(date, getdate()), 0
			FROM #T1 
			INNER JOIN #T2 ON #T2.ReleaseId = #T1.ReleaseId
			INNER JOIN [005].[dbo].tblMpHistoryOrderReleases R ON R.ReleaseId = #T2.ReleaseId

			INSERT INTO ABCReleaseIdItemId
			SELECT #ReleaseFG.ReleaseId, #ReleaseFG.HistSeqNum, R.OrderNo, R.ReleaseNo, ItemId, SerialNo, LotNo, IIF(IsTravSerialized=1, 1, #ReleaseFG.Qty) as Qty, #ReleaseFG.Uom, UomBase, ConvFactor, CostUnit, (WIMaterialDirectCost/WIOrderQty), (WIMaterialInDirectCost/WIOrderQty), (WILaborSetupCost/WIOrderQty), (WILaborCost/WIOrderQty), (WIMachineSetupCost/WIOrderQty),  (WIMachineCost/WIOrderQty), (WIMachineCostModified/WIOrderQty), (WIMachineCostVariable/WIOrderQty), (WISubcontractCost/WIOrderQty), IIF(IsTravSerialized=1, 1, #ReleaseFG.Qty*ConvFactor), (WITotalCost/WIOrderQty), 0 AS PctCalcUsed
			FROM #ReleaseFG 
			INNER JOIN #T2 ON #T2.ReleaseId = #ReleaseFG.ReleaseId
			INNER JOIN [005].[dbo].tblMpHistoryOrderReleases R ON R.ReleaseId = #T2.ReleaseId

			DROP TABLE #ReleaseFG
			DROP TABLE #T1
			DROP TABLE #T2
		END
END
GO
