USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spLocationTransferableInventory]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLocationTransferableInventory]
AS
BEGIN

  SELECT P.Id
        , ShipPalletNo AS PackageNo
		,'PALLET' as Type
        , SI.ItemId as ItemId
        , SI.TravLotNum
        , SI.TravSerNum
        , ISNULL(SI.Location,'NONE') as Location
        , SUM(ISNULL(SI.Quantity, 0)) as Qty
        , SI.UOM
        , P.Shipped AS PackageShipped
        ,P.Deleted AS PackageDeleted
        ,P.UsedByProduction AS PackageUsedByProduction
        ,P.PhantomAdjOut AS PackagePhantomAdjOut
        ,SI.Shipped AS SIShipped
        ,SI.Deleted AS SIDeleted
        ,SI.UsedByProduction AS SIUsedByProduction
        ,SI.PhantomAdjOut AS SIPhantomAdjOut
    INTO #T 
    FROM [W005].[dbo].[ShipPallet] P
                    LEFT JOIN [W005].[dbo].[ShipItem] SI ON P.Id=SI.ShipPalletId
                    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS O  ON O.ItemId = SI.ItemId AND O.LocId = SI.Location AND O.LotNum = SI.TravLotNum
                    LEFT JOIN [005].dbo.tblInItemSer Ser ON Ser.ItemId = SI.ItemId AND Ser.LocId = SI.Location AND Ser.SerNum = SI.TravSerNum
    WHERE (O.QtyOnHand > 0 OR Ser.SerNumStatus IN (1,5))
		AND P.Deleted=0 AND SI.Deleted = 0 AND P.UsedByProduction=0 AND SI.UsedByProduction=0 AND P.PhantomAdjOut=0 AND SI.PhantomAdjOut=0 AND SI.Shipped = 0
	GROUP BY P.Id, ShipPalletNo, SI.ItemId, SI.TravLotNum, SI.TravSerNum, SI.Location, SI.UOM, P.Shipped,P.Deleted,P.UsedByProduction,P.PhantomAdjOut,SI.Shipped,SI.Deleted,SI.UsedByProduction,SI.PhantomAdjOut
    UNION ALL
    SELECT C.Id
        , ShipCartonNo AS PackageNo
        ,'CARTON' as Type
        , SI.ItemId as ItemId
        , SI.TravLotNum
        , SI.TravSerNum
        , ISNULL(SI.Location,'NONE') as Location
        , SUM(ISNULL(SI.Quantity, 0)) as Qty
        , SI.UOM
        ,C.Shipped AS PackageShipped
        ,C.Deleted AS PackageDeleted
        ,C.UsedByProduction AS PackageUsedByProduction
        ,C.PhantomAdjOut AS PackagePhantomAdjOut
        ,SI.Shipped AS SIShipped
        ,SI.Deleted AS SIDeleted
        ,SI.UsedByProduction AS SIUsedByProduction
        ,SI.PhantomAdjOut AS SIPhantomAdjOut
    FROM [W005].[dbo].[ShipCarton] C
        LEFT JOIN [W005].[dbo].[ShipItem] SI ON C.Id=SI.ShipCartonId
        LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS O  ON O.ItemId = SI.ItemId AND O.LocId = SI.Location AND O.LotNum = SI.TravLotNum
        LEFT JOIN [005].dbo.tblInItemSer Ser ON Ser.ItemId = SI.ItemId AND Ser.LocId = SI.Location AND Ser.SerNum = SI.TravSerNum
	WHERE C.ShipPalletId is null AND (O.QtyOnHand > 0 OR Ser.SerNumStatus IN (1,5))
		AND C.Deleted=0 AND SI.Deleted = 0 AND C.UsedByProduction=0 AND SI.UsedByProduction=0 AND C.PhantomAdjOut=0 AND SI.PhantomAdjOut=0 AND SI.Shipped = 0
	GROUP BY C.Id, ShipCartonNo, SI.ItemId, SI.TravLotNum, SI.TravSerNum, SI.Location, SI.UOM, C.Shipped,C.Deleted,C.UsedByProduction,C.PhantomAdjOut,SI.Shipped,SI.Deleted,SI.UsedByProduction,SI.PhantomAdjOut
	UNION ALL
    SELECT B.Id
        , ShipBoxNo AS PackageNo
        ,'BOX' as Type
        , SI.ItemId as ItemId
        , SI.TravLotNum
        , SI.TravSerNum
        , ISNULL(SI.Location,'NONE') as Location
        , SUM(ISNULL(SI.Quantity, 0)) as Qty
        , SI.UOM
        ,B.Shipped AS PackageShipped
        ,B.Deleted AS PackageDeleted
        ,B.UsedByProduction AS PackageUsedByProduction
        ,B.PhantomAdjOut AS PackagePhantomAdjOut
        ,SI.Shipped AS SIShipped
        ,SI.Deleted AS SIDeleted
        ,SI.UsedByProduction AS SIUsedByProduction
        ,SI.PhantomAdjOut AS SIPhantomAdjOut
    FROM [W005].[dbo].[ShipBox] B
                    LEFT JOIN [W005].[dbo].[ShipItem] SI ON B.Id=SI.ShipBoxId
                    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS O  ON O.ItemId = SI.ItemId AND O.LocId = SI.Location AND O.LotNum = SI.TravLotNum
                    LEFT JOIN [005].dbo.tblInItemSer Ser ON Ser.ItemId = SI.ItemId AND Ser.LocId = SI.Location AND Ser.SerNum = SI.TravSerNum
    WHERE B.ShipPalletId is null AND B.ShipCartonId is null
                    AND (O.QtyOnHand > 0 OR Ser.SerNumStatus IN (1,5))
			AND B.Deleted=0 AND SI.Deleted = 0 AND B.UsedByProduction=0 AND SI.UsedByProduction=0 AND B.PhantomAdjOut=0 AND SI.PhantomAdjOut=0 AND SI.Shipped = 0
	GROUP BY B.Id, ShipBoxNo, SI.ItemId, SI.TravLotNum, SI.TravSerNum, SI.Location, SI.UOM, B.Shipped,B.Deleted,B.UsedByProduction,B.PhantomAdjOut,SI.Shipped,SI.Deleted,SI.UsedByProduction,SI.PhantomAdjOut
    UNION ALL
    SELECT SI.Id
        , ShipItemNo AS PackageNo
        ,'ITEM' as Type
        , SI.ItemId as ItemId
        , SI.TravLotNum
        , SI.TravSerNum
        , ISNULL(SI.Location,'NONE') as Location
        , ISNULL(O.QtyOnHand,1) as Qty -- =1 if Serialized, else USE O.QtyOnHand for Items
        , SI.UOM
        ,SI.Shipped AS PackageShipped
        ,SI.Deleted AS PackageDeleted
        ,SI.UsedByProduction AS PackageUsedByProduction
        ,SI.PhantomAdjOut AS PackagePhantomAdjOut
        ,SI.Shipped AS SIShipped
        ,SI.Deleted AS SIDeleted
        ,SI.UsedByProduction AS SIUsedByProduction
        ,SI.PhantomAdjOut AS SIPhantomAdjOut
    FROM [W005].[dbo].[ShipItem] SI
        LEFT JOIN [005].dbo.trav_InItemOnHandLot_view AS O  ON O.ItemId = SI.ItemId AND O.LocId = SI.Location AND O.LotNum = SI.TravLotNum
        LEFT JOIN [005].dbo.tblInItemSer Ser ON Ser.ItemId = SI.ItemId AND Ser.LocId = SI.Location AND Ser.SerNum = SI.TravSerNum
    WHERE SI.ShipPalletId is null AND SI.ShipCartonId is null  AND SI.ShipBoxId is null
            AND (O.QtyOnHand > 0 OR Ser.SerNumStatus IN (1,5))
            AND SI.Deleted = 0 AND SI.UsedByProduction=0 AND SI.PhantomAdjOut=0 AND SI.Shipped = 0

 ----
SELECT  T.Id, T.PackageNo,T.Type, T.ItemId,T.TravLotNum, T.TravSerNum, T.Location, T.Qty AS Qty, T.UOM,PackageShipped, SIShipped, MAX(H1.ExtHistSeqNum) AS ExtHistSeqNum
INTO #T1
FROM #T T
    LEFT OUTER JOIN [005].[dbo].[tblWmHistDetail] H1 ON (H1.LotNum = T.TravLotNum) AND H1.ItemId = T.ItemId  
GROUP BY T.Id, T.PackageNo,T.Type, T.ItemId,T.TravLotNum, T.TravSerNum, T.Location, T.Qty,T.UOM, PackageShipped, SIShipped
UNION
SELECT  T.Id, T.PackageNo,T.Type, T.ItemId,T.TravLotNum, T.TravSerNum, T.Location,  T.Qty AS Qty, T.UOM
        ,PackageShipped,SIShipped, MAX(H1.ExtHistSeqNum) AS ExtHistSeqNum
FROM #T T
    LEFT JOIN [005].[dbo].[tblWmHistDetail] H1 ON (H1.SerNum=T.TravSerNum) AND H1.ItemId = T.ItemId 
GROUP BY T.Id, T.PackageNo,T.Type, T.ItemId,T.TravLotNum, T.TravSerNum, T.Location, T.Qty, T.UOM, PackageShipped, SIShipped

--------
--SELECT * FROM #T where packageNo = 'P000277506'
--SELECT * FROM #T1 where packageNo = 'P000277506'
--SELECT * FROM #T2
--DROP TABLE #T1
--DROP TABLE #T2
-----------
SELECT #T1.* --, ExtLocA, ExtLocAID
INTO #T2
FROM #T1
INNER JOIN [005].[dbo].[tblWmHistDetail] H ON H.ExtHistSeqNum = #T1.ExtHistSeqNum
WHERE #T1.ExtHistSeqNum IS NOT NULL

INSERT INTO #T2
SELECT * FROM #T1 WHERE ExtHistSeqNum IS NULL AND PackageNo NOT IN (SELECT PackageNo from #T2)

SELECT #T2.*,ExtLocA, ExtLocAID
 INTO #T3
FROM #T2
LEFT JOIN [005].[dbo].[tblWmHistDetail] H ON H.ExtHistSeqNum = #T2.ExtHistSeqNum

--SELECT * FROM #T3

SELECT *, CAST(NULL as int) AS PLNo 
INTO #T4
	FROM #T3 
	WHERE PackageShipped = 0 AND SIShipped = 0
UNION ALL
SELECT *, PLNo = ISNULL((SELECT D.PLNo FROM [W005].[dbo].[ShipPackingListDetail] D INNER JOIN [W005].[dbo].[ShipPackingList] P ON D.PLNo=P.PLNo WHERE PkgId = #T3.PackageNo AND P.RemoteWarehouse = 'NO'),
					(SELECT D.PLNo FROM [W005].[dbo].[tmpShipPackingList] D INNER JOIN [W005].[dbo].[ShipPackingList] P ON D.PLNo=P.PLNo  WHERE PkgId = #T3.PackageNo AND P.RemoteWarehouse = 'NO')) 
	FROM #T3
	WHERE SIShipped = 1
-----------------
--SELECT * FROM #T4

SELECT #T4.*, [cf_Bin Type], Notes = IIF(PLNo is NULL,NULL, CONCAT('On PL', ' ', PLNo))
INTO #T5
FROM #T4
LEFT JOIN  [005].[dbo].[trav_tblWmExtLoc_view] w ON w.Id=#T4.ExtLocA AND w.LocID=#T4.Location 

SELECT #T5.Notes,#T5.Id,#T5.PackageNo,#T5.Type,#T5.ItemId,#T5.Location,BinId = #T5.ExtLocA,Bin = #T5.ExtLocAID,BinType = #T5.[cf_Bin Type], #T5.Qty,#T5.UOM,Shipped = IsNULL(PLNo,0)
INTO #Temp
FROM #T5

--SELECT * FROM #Temp
--ORDER BY PackageNo
-----------------------------
DECLARE @Notes nvarchar(max)
DECLARE @Id int
DECLARE @PackageNo varchar(35)
DECLARE @Type varchar(6)
DECLARE @ItemId varchar(25)
DECLARE @Location varchar(10)
DECLARE @BinId int
DECLARE @Bin nvarchar(10)
DECLARE @BinType nvarchar(max)
DECLARE @Qty float
DECLARE @UOM varchar(5)
DECLARE @Shipped bit

CREATE TABLE #Result(
                Notes nvarchar(max),
                Id int,
                PackageNo varchar(35),
                Type varchar(6),
                ItemId varchar(25),
                Location varchar(10),
                BinId int,
                Bin nvarchar(10),
                BinType nvarchar(max),
                Qty float,
                UOM varchar(5),
                Shipped bit
);
DECLARE @CurrNotes nvarchar(max)
DECLARE @CurrId int
DECLARE @CurrPackageNo varchar(35)
DECLARE @CurrType varchar(6)
DECLARE @CurrItemId varchar(25)
DECLARE @CurrLocation varchar(10)
DECLARE @CurrBinId int
DECLARE @CurrBin nvarchar(10)
DECLARE @CurrBinType nvarchar(max)
DECLARE @CurrQty float
DECLARE @CurrUOM varchar(5)
DECLARE @CurrShipped bit

DECLARE @CurrPkgNo varchar(10)
DECLARE @TotalQty float
SET @CurrPkgNo = ''
SET @TotalQty = 0

DECLARE iCur CURSOR 
FOR
SELECT  Notes, Id, PackageNo,Type,ItemId,Location, BinId, Bin, BinType,Qty,UOM,Shipped
FROM #Temp
ORDER BY PackageNo

OPEN iCur
FETCH NEXT FROM iCur INTO @Notes, @Id, @PackageNo, @Type,@ItemId,@Location,@BinId,@Bin,@BinType,@Qty,@UOM,@Shipped

WHILE @@FETCH_STATUS = 0
BEGIN
        If @CurrPkgNo = @PackageNo
        BEGIN
            UPDATE #Result
            SET Qty = Qty + @Qty
            WHERE PackageNo = @PackageNo
        END ELSE
            BEGIN
                INSERT INTO #Result (Notes,Id,PackageNo,Type,ItemId,Location,BinId,Bin,BinType,Qty,UOM,Shipped)
                VALUES
                (@Notes,@Id,@PackageNo,@Type,@ItemId,@Location
                                ,@BinId,@Bin,@BinType,@Qty,@UOM,@Shipped
                )
                SET @CurrPkgNo = @PackageNo
            END
FETCH NEXT FROM iCur INTO @Notes, @Id, @PackageNo, @Type,@ItemId,@Location,@BinId,@Bin,@BinType,@Qty,@UOM,@Shipped
END
CLOSE iCur 
DEALLOCATE iCur


SELECT * FROM #Result
ORDER BY PackageNo
---------------------------
DROP TABLE #T
DROP TABLE #T1
DROP TABLE #T2
DROP TABLE #T3
DROP TABLE #T4
DROP TABLE #T5
DROP TABLE #Temp
DROP TABLE #Result



END
GO
