USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderReleasesOnPL]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOrderReleasesOnPL] @PLNo AS INT
AS 
BEGIN

--DECLARE @PLNo AS INT = 14500

SELECT DISTINCT SPLD.OrderNo, SPLD.ReleaseNo, SPLD.ItemId
FROM (
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipPallet SP ON SP.Id=SPLD.ShipPalletId
				INNER JOIN ShipItem SI ON SI.ShipPalletId=SP.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE SPL.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipCarton SC ON SC.Id=SPLD.ShipCartonId
				INNER JOIN ShipItem SI ON SI.ShipCartonId=SC.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE SPL.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipBox SB ON SB.Id=SPLD.ShipBoxId
				INNER JOIN ShipItem SI ON SI.ShipBoxId=SB.Id AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE SPL.PLNo = @PLNo
	UNION ALL
	SELECT DISTINCT ORE.OrderNo, ORE.ReleaseNo, OREI.ItemId
	FROM ShipPackingList SPL
				INNER JOIN ShipPackingListDetail SPLD ON SPLD.PLNo=SPL.PLNo
				INNER JOIN ShipItem SI ON SI.Id=SPLD.ShipItemId AND SI.Deleted=0
				INNER JOIN OrderReleaseEventItem OREI ON OREI.Id=SI.OREIId
				INNER JOIN OrderReleaseEvent ORE ON ORE.Id=OREI.OrderReleaseEventId
	WHERE SPL.PLNo = @PLNo
) SPLD
ORDER BY SPLD.OrderNo, SPLD.ReleaseNo

END
GO
