USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountBoxDetailData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*	Returns ALL TravLotNums, so that it can be used against Traverse [005].[dbo].[tblInPhysCount], Physical Counts */

CREATE PROCEDURE [dbo].[spGetInventoryCountBoxDetailData]
	@ShipBoxNo as varchar(10)
AS
BEGIN

--declare @ShipBoxNo as varchar(10) ='C000159642'

	SELECT DISTINCT 
			si.TravSerNum
			,si.TravLotNum
			,sb.Id AS ShipUnitId
			,si.ItemId
			,ii.Descr
			,si.Location
			,si.Quantity AS Qty
			,UOM = si.UOM
			,si.NoRolls AS NoRolls
			,sb.DateCreated
			,sb.Complete
			,si.PostedToTraverse
			,LotNo =  si.LotNo -- CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
					--										((
					--												SELECT DISTINCT '/' + LEFT(I.LotNo,8)
					--												FROM [W005].[dbo].[ShipItem] as I
					--												WHERE I.ShipBoxId=sb.Id AND I.Deleted=0
					--												FOR XML PATH(''), TYPE
					--											).value('.[1]','nvarchar(max)'),
					--											1,1,''	)
					--ELSE  STUFF
					--			((
					--					SELECT DISTINCT '/' + I.LotNo 
					--					FROM [W005].[dbo].[ShipItem] as I
					--					WHERE I.ShipBoxId=sb.Id AND I.Deleted=0
					--					FOR XML PATH(''), TYPE
					--				).value('.[1]','nvarchar(max)'),
					--				1,1,'')
					--END
			,SerNum = si.SerNo -- STUFF
							--(
							--	(
							--		SELECT DISTINCT '/' + I.TravSerNum 
							--		FROM [W005].[dbo].[ShipItem] as I
							--		WHERE I.ShipBoxId=sb.Id AND I.Deleted=0
							--		FOR XML PATH(''), TYPE
							--	).value('.[1]','nvarchar(max)'),
							--	1,1,''
							--)
	INTO #T1
	FROM  [W005].[dbo].[ShipBox] As sb INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipBoxId=sb.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 		
	WHERE sb.ShipBoxNo=@ShipBoxNo
	--GROUP BY si.TravSerNum,si.TravLotNum, sb.Id,sb.ShipBoxNo, si.ItemId,ii.Descr,si.Location,si.Quantity,si.NoRolls,sb.DateCreated,si.UOM,
	--		sb.Complete,sb.Deleted,sb.Shipped,sb.PhantomAdjOut,sb.UsedByProduction, si.PostedToTraverse
	
	SELECT #T1.*, B.TotalQty,B.TotalNoRolls
	FROM #T1 INNER JOIN 
	(SELECT DISTINCT  sb.Id
				,TotalQty = SUM(si.Quantity)
				,TotalNoRolls = SUM(si.NoRolls)
	FROM  [W005].[dbo].[ShipBox] As sb INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipBoxId=sb.Id
	WHERE sb.ShipBoxNo=@ShipBoxNo
	GROUP BY sb.Id) B  ON #T1.ShipUnitId = B.Id

	Drop Table #T1


END
GO
