USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCommercialInvHdr]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spCommercialInvHdr]
	@OrderNo as varchar(8), @PLNo int 
AS
BEGIN

	--declare @OrderNo as varchar(8) = '00005695'
	--declare @PLNo int = 12162

	SELECT  DISTINCT soth.TransId As OrderNo,soth.CustPONum As CustPO,soth.ShipVia,soth.[cf_Shipping Terms],soth.TermsCode As PaymentTerms,
			soth.ShipToName,soth.ShipToAddr1,soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,iif(soth.ShipToCountry = sm.Country,sm.Name, soth.ShipToCountry) as ShipToCountry,soth.ShipToPostalCode,
			arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,iif(arcust.Country = sm1.Country, sm1.Name, arCust.Country) as Country,arcust.PostalCode
			,spl.ShipFromAddr1, IIF(spl.ShipFromAddr2 is null OR LEN(spl.ShipFromAddr2)=0,'',spl.ShipFromAddr2) AS ShipFromAddr2, spl.ShipFromCity,spl.ShipFromRegion,spl.ShipFromPostalCode
			,IsNull(spl.FreightCharge,0) As FreightChrg,
			InvSubTotal = SUM(sotd.UnitPriceSell * spld.Qty),
			InvTotal =
				CASE WHEN soth.TermsCode='Prepaid & Add' THEN SUM(sotd.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
				ELSE SUM(sotd.UnitPriceSell * spld.Qty)
				END
	FROM ([005].[dbo].[trav_tblSoTransHeader_view] As soth 
			INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON soth.CustId=arcust.CustId) 
			INNER JOIN [005].[dbo].[trav_tblSoTransDetail_view] As sotd On sotd.TransID=soth.TransId AND sotd.[Status]=0
			INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=sotd.TransID 
			INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=sotd.ItemId
			LEFT JOIN [SYS].dbo.[tblSmCountry] as sm ON soth.ShipToCountry = sm.Country 
		    LEFT JOIN [SYS].dbo.[tblSmCountry] as sm1 ON arcust.Country = sm1.Country
	WHERE soth.TransId=@OrderNo AND spl.PLNo=@PLNo
	GROUP BY soth.TransId ,soth.CustPONum ,soth.ShipVia,soth.[cf_Shipping Terms],soth.TermsCode,
			soth.ShipToName,soth.ShipToAddr1,soth.ShipToAddr2,soth.ShipToCity,soth.ShipToRegion,soth.ShipToCountry,soth.ShipToPostalCode,
			arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode
			,spl.ShipFromAddr1, spl.ShipFromAddr2, spl.ShipFromCity,spl.ShipFromRegion,spl.ShipFromPostalCode
			,spl.FreightCharge,sm.Country,sm.Name,sm1.Country, sm1.Name

UNION ALL

	SELECT  DISTINCT arHdr.[TransID] As OrderNo, arHdr.CustPONum As CustPO, arHdr.ShipVia, shipto.[cf_Shipping Terms], arHdr.TermsCode As PaymentTerms,
			arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,iif(arHdr.ShipToCountry = sm.Country,sm.Name, arHdr.ShipToCountry) as ShipToCountry,arHdr.ShipToPostalCode,
			arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,iif(arcust.Country = sm1.Country, sm1.Name, arCust.Country) as Country,arcust.PostalCode
			,spl.ShipFromAddr1, IIF(spl.ShipFromAddr2 is null OR LEN(spl.ShipFromAddr2)=0,'',spl.ShipFromAddr2) AS ShipFromAddr2, spl.ShipFromCity,spl.ShipFromRegion,spl.ShipFromPostalCode
			,IsNull(spl.FreightCharge,0) As FreightChrg,
			InvSubTotal = SUM(arDtl.UnitPriceSell * spld.Qty),
			InvTotal =
				CASE WHEN arHdr.TermsCode='Prepaid & Add' THEN SUM(arDtl.UnitPriceSell * spld.Qty) + IsNull(spl.FreightCharge,0)
				ELSE SUM(arDtl.UnitPriceSell * spld.Qty)
				END
	FROM [005].[dbo].[tblArHistHeader] AS arHdr 
			INNER JOIN [005].[dbo].[tblArHistDetail] AS arDtl ON arHdr.TransId=arDtl.TransID
			INNER JOIN [005].[dbo].[trav_tblArCust_view] As arcust ON arHdr.CustId=arcust.CustId
			INNER JOIN 	[W005].[dbo].[ShipPackingList] As spl ON spl.OrderNo=arHdr.TransID 
			INNER JOIN 	[W005].[dbo].[ShipPackingListDetail] As spld ON spld.PLNo=spl.PLNo AND spld.ItemId=arDtl.PartId
			LEFT JOIN [005].[dbo].[trav_tblArShipTo_view] As shipto ON arcust.CustId=shipto.CustId AND shipto.ShipToID=arHdr.ShipToID
			LEFT JOIN [SYS].dbo.[tblSmCountry] as sm ON arHdr.ShipToCountry = sm.Country 
		    LEFT JOIN [SYS].dbo.[tblSmCountry] as sm1 ON arcust.Country = sm1.Country
	WHERE arHdr.TransId=@OrderNo AND spl.PLNo=@PLNo
	GROUP BY arHdr.TransId ,arHdr.CustPONum ,arHdr.ShipVia,shipto.[cf_Shipping Terms],arHdr.TermsCode,
			arHdr.ShipToName,arHdr.ShipToAddr1,arHdr.ShipToAddr2,arHdr.ShipToCity,arHdr.ShipToRegion,arHdr.ShipToCountry,arHdr.ShipToPostalCode,
			arcust.CustName,arcust.Addr1,arcust.Addr2,arcust.City,arcust.Region,arcust.Country,arcust.PostalCode
			,spl.ShipFromAddr1, spl.ShipFromAddr2, spl.ShipFromCity,spl.ShipFromRegion,spl.ShipFromPostalCode
			,spl.FreightCharge,sm.Country,sm.Name,sm1.Country, sm1.Name




END

GO
