USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPalletShipment]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spPalletShipment] @PalletNo as varchar(10)
AS
BEGIN
	SELECT SPLD.PkgId, SPL.OrderNo, SPLD.ItemId, SPL.CustId, SPL.ShipToName, SPL.ShipDate

	FROM [W005].[dbo].[ShipPackingListDetail] AS SPLD
	LEFT JOIN [W005].[dbo].[ShipPackingList] AS SPL ON SPLD.PLNo = SPL.PLNo
	--LEFT JOIN [W005].[dbo].[ShipItem] As SI ON SI.ShipPalletId = SPLD.ShipPalletId AND SI.Shipped = 1
	--LEFT JOIN [005].[dbo].[tblSoTransDetail] AS SD ON SI.ItemId = SD.ItemId
	--LEFT JOIN [005].[dbo].[tblSoTransHeader] AS SH ON SD.TransId = SH.TransId

	WHERE SPLD.PkgId = @PalletNo
END

GO
