USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGenerateAndGroupProductionOrders]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery7.sql|7|0|C:\Users\cpaquette\AppData\Local\Temp\~vsB8AB.sql
-- Batch submitted through debugger: SQLQuery7.sql|7|0|C:\Users\cpaquette\AppData\Local\Temp\~vs4BA5.sql
CREATE PROCEDURE [dbo].[spCCIGenerateAndGroupProductionOrders]
AS
BEGIN
	DECLARE @SalesOrder as varchar(8) 
	DECLARE @EstCompletionDate as Datetime
	DECLARE @RequiredShipDate as Datetime
	DECLARE @LocId as varchar(10)
	DECLARE @MfgGroup as varchar(75)
	DECLARE @MfgGrpId as int
	DECLARE @ProgramId as int
	DECLARE @Qty as decimal(20,10)
	DECLARE @MfgMethod as varchar(50)
	DECLARE @iCnt as integer
	DECLARE @dMod as decimal
	DECLARE @sNextOrder as varchar(8) = '00000000'
	DECLARE @RelId as integer
	DECLARE @ParentOrder as varchar(8)
	DECLARE @OrderNo as varchar(8)
	DECLARE @ReleaseNo as int
	DECLARE @ReleaseId as int
	DECLARE @RevisionNo as varchar(3)
	DECLARE @AssemblyId as varchar(24)
	DECLARE @OrderDuration as float = 0
	DECLARE @AllowVariableKit as bit = 0
	DECLARE @CustId as int


	SELECT        R.Id
				, R.SalesOrder
				, O.LocID
				, CONVERT(datetime, R.EstCompletionDate, 101) AS EstCompletionDate 
				, CONVERT(datetime, R.EstStartDate, 101) AS EstStartDate
				, CONVERT(datetime, R.EstCompletionDate, 101) AS RequiredShipDate 
				, IIF(R.[cf_Parent Order] = '', NULL, R.[cf_Parent Order]) AS ParentOrder
				, R.OrderNo
				, R.ReleaseNo
				, R.Id as ReleaseId
				, O.AssemblyId
				, O.RevisionNo
				, R.Qty
				, R.UOM
				, I.[cf_FG Program] AS Program
				, M.ProgramId
				, M.ProgramName
				, R.CustId
				, R.PurchaseOrder
				, R.Status
				, M.Id AS MfgGrpId
				, M.Name AS MfgGroup
				, M.MfgMethod
				, M.DefaultMFGGroup
				, M.ConveyorTablesOnly
				, M.FixedQty
				, M.SetRunTimeMinutes
				, M.AllowVariableKitList
				, M.MFGGrpRevision
				, M.Id as CCIMFGGrpId
				, Cast(0 as bit) AS ValidRevision
				, Cast(0 as bit) AS Err
				, Cast(Null as varchar(100)) AS ErrMsg
	INTO #T1
	FROM [005].dbo.trav_tblMpOrderReleases_view AS R 
	INNER JOIN [005].dbo.tblMpOrder AS O ON O.OrderNo = R.OrderNo 
	INNER JOIN [005].dbo.trav_tblInItem_view AS I ON I.ItemId = O.AssemblyId 
	LEFT JOIN [W005].dbo.vCCIManufacturingGroupKit AS M ON M.ItemId = I.ItemId AND M.Revision = O.RevisionNo
	WHERE LEN(R.[cf_Parent Order]) = 0 or R.[cf_Parent Order] IS NULL AND I.[cf_Kitted (WI)] = 1 
	--AND M.Id = (SELECT MAX(Id) FROM CCIManufacturingGroup WHERE ProgramId = M.ProgramId AND Name = M.Name AND Revision = O.RevisionNo)

    DELETE FROM #T1
	FROM #T1 INNER JOIN [005].dbo.tblMpHistoryOrderReleases R ON R.OrderNo = #T1.OrderNo AND R.ReleaseNo = #T1.ReleaseNo

	DELETE  FROM #T1 WHERE MfgGroup is NULL

	SELECT DISTINCT MfgGrpId, MfgGroup, MFGGrpRevision, Program, CustId, RequiredShipDate INTO #MfgGrps FROM #T1 order by 1
	SELECT CustId, Program, MfgGroup, Count(DISTINCT MFGGrpRevision) AS Cnt INTO #OnlyOneMfgGrp FROM #MfgGrps GROUP BY CustId, Program, MfgGroup ORDER BY 1,2,3
	UPDATE #T1 SET ValidRevision = 1 FROM #OnlyOneMfgGrp M WHERE M.Cnt = 1 AND #T1.CustId = M.CustId AND #T1.Program = M.Program AND #T1.MfgGroup = M.MfgGroup

	--DECLARE iCur CURSOR LOCAL FOR SELECT DISTINCT MfgGr FROM #T1 AS A WHERE ValidRevision = 0
	--OPEN iCur
	--FETCH NEXT FROM iCur into @CustId, @Program, @MfgGroup
	--While (@@Fetch_Status) = 0
	--BEGIN
	--	FETCH NEXT FROM iCur into @CustId, @Program, @MfgGroup
	--END
	DELETE FROM #T1 WHERE ValidRevision = 0

	--Process those MP Orders that are attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	--Process those MP Orders that are attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	--Process those MP Orders that are attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	--SELECT    SalesOrder
	--		, EstCompletionDate
	--		, LocID
	--		, MfgGrpId
	--		, MfgGroup
	--		, Count(AssemblyId) AS SalesOrderKitCount
	--		, MFGGrpKitCount = (Select Count(ItemId) FROM [dbo].[vCCIManufacturingGroupKit] WHERE Name = A.MfgGroup and MFGGrpRevision = A.MFGGrpRevision and A.Program = ProgramName)
	--INTO #T2
	--FROM #T1 AS A
	--WHERE Err = 0 AND ParentOrder IS NULL 
	--              AND SalesOrder IS NOT NULL 
	--			  AND (AllowVariableKitList IS NULL OR AllowVariableKitList = 0)
	--GROUP BY SalesOrder, EstCompletionDate, LocID, MfgGrpId, MfgGroup, MFGGrpRevision, Program


	--Process those MP Orders that are NOT attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	--Process those MP Orders that are NOT attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	--Process those MP Orders that are NOT attached to a SO and require all kits to be processed within the MFG Grounp (AllowVariableKitList != 1)
	SELECT    MfgGrpId
	        , MfgGroup
			, EstCompletionDate
			, LocID
			, Count(AssemblyId) AS SalesOrderKitCount
			, MFGGrpKitCount = (Select Count(ItemId) FROM [dbo].[vCCIManufacturingGroupKit] WHERE Name = A.MfgGroup and MFGGrpRevision = A.MFGGrpRevision and A.Program = ProgramName)
	INTO #T2A
	FROM #T1 AS A
	WHERE Err = 0 AND ParentOrder IS NULL 
	              --AND SalesOrder IS NULL 
				  AND (AllowVariableKitList IS NULL OR AllowVariableKitList = 0)
	GROUP BY EstCompletionDate, LocID, MfgGrpId, MfgGroup, MFGGrpRevision, Program
	--GROUP BY SalesOrder, EstCompletionDate, LocID, MfgGrpId, MfgGroup, MFGGrpRevision, Program

	--DELETE FROM #T1 
	--FROM #T2 
	--WHERE #T2.SalesOrderKitCount <> #T2.MFGGrpKitCount
	--AND #T1.MfgGroup = #T2.MfgGroup
	--AND #T1.SalesOrder = #T2.SalesOrder
	--AND #T1.EstCompletionDate >= #T2.EstCompletionDate
	--AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2.EstCompletionDate)
	--AND #T1.LocID = #T2.LocID 
	--AND #T1.Err = 0

	DELETE FROM #T1 
	FROM #T2A 
	WHERE #T2A.SalesOrderKitCount <> #T2A.MFGGrpKitCount
	AND #T1.MfgGroup = #T2A.MfgGroup
	AND #T1.EstCompletionDate >= #T2A.EstCompletionDate
	AND #T1.EstCompletionDate < DateAdd(dd, 1, #T2A.EstCompletionDate)
	AND #T1.LocID = #T2A.LocID 
	AND #T1.Err = 0

	--SELECT    OrderNo
	--		, ReleaseNo
	--		, EstCompletionDate
	--		, LocID
	--		, AssemblyId
	--		, MFGGroups = (SELECT MfgGroup+CHAR(124) AS [text()]
	--				FROM	#T1 AS E1
	--				WHERE E1.OrderNo = A.OrderNo AND E1.ReleaseNo = A.ReleaseNo AND E1.EstCompletionDate = A.EstCompletionDate AND E1.LocID = A.LocID AND E1.AssemblyId = A.AssemblyId
	--				FOR XML PATH(''))
	--		, Count(MfgGroup) AS CountMFGGroup
	--INTO #T3
	--FROM #T1 AS A
	--WHERE Err = 0 AND ParentOrder IS NULL 
	--              AND SalesOrder is not NULL
	--GROUP BY OrderNo, ReleaseNo,EstCompletionDate, LocID, AssemblyId
	--HAVING Count(MFGGroup) > 1

	SELECT    OrderNo
			, ReleaseNo
			, EstCompletionDate
			, LocID
			, AssemblyId
			, MFGGroups = (SELECT MfgGroup+CHAR(124) AS [text()]
					FROM	#T1 AS E1
					WHERE E1.OrderNo = A.OrderNo AND E1.ReleaseNo = A.ReleaseNo AND E1.EstCompletionDate = A.EstCompletionDate AND E1.LocID = A.LocID AND E1.AssemblyId = A.AssemblyId
					FOR XML PATH(''))
			, Count(MfgGroup) AS CountMFGGroup
	INTO #T3A
	FROM #T1 AS A
	WHERE Err = 0 AND ParentOrder IS NULL 
	              --AND SalesOrder IS NULL
	GROUP BY OrderNo, ReleaseNo,EstCompletionDate, LocID, AssemblyId
	HAVING Count(MFGGroup) > 1

	--DELETE FROM #T1 
	--FROM #T3 
	--WHERE #T1.OrderNo = #T3.OrderNo
	--AND #T1.ReleaseNo = #T3.ReleaseNo
	--AND #T1.EstCompletionDate = #T3.EstCompletionDate
	--AND #T1.LocID = #T3.LocID 
	--AND #T1.AssemblyId = #T3.AssemblyId
	--AND #T1.Err = 0

	DELETE FROM #T1 
	FROM #T3A 
	WHERE #T1.OrderNo = #T3A.OrderNo
	AND #T1.ReleaseNo = #T3A.ReleaseNo
	AND #T1.EstCompletionDate = #T3A.EstCompletionDate
	AND #T1.LocID = #T3A.LocID 
	AND #T1.AssemblyId = #T3A.AssemblyId
	AND #T1.Err = 0

	--Do Not Process MFG Groups that AllowVariableKitList=1
	--Do Not Process MFG Groups that AllowVariableKitList=1
	--Do Not Process MFG Groups that AllowVariableKitList=1
	DECLARE iCur CURSOR LOCAL FOR SELECT EstCompletionDate, LocID, MfgGrpId, MfgGroup, MFGMethod FROM #T1 AS A WHERE Err = 0 AND AllowVariableKitList = 0 GROUP BY EstCompletionDate, LocID, MfgGrpId, MfgGroup, MFGMethod
	OPEN iCur
	FETCH NEXT FROM iCur into @EstCompletionDate, @LocId, @MfgGrpId, @MfgGroup, @MfgMethod
	While (@@Fetch_Status) = 0
	BEGIN
		IF @MfgMethod = 'SIMPLE'
			BEGIN
				SELECT @iCNT = COUNT(*) FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		ELSE IF @MfgMethod = 'FABRIC OPTIMIZER'
			BEGIN
				SELECT @iCNT = COUNT(*) FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		ELSE IF @MfgMethod = 'FIXED'
			BEGIN
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
				--SELECT @iCNT = COUNT(*) 
				--FROM 
				--(
				--	SELECT RevisionNo, COUNT(RevisionNo) AS CNT 
				--	FROM #T1 
				--	--WHERE SalesOrder = @SalesOrder 
				--	--AND EstCompletionDate = @EstCompletionDate 
				--	WHERE EstCompletionDate = @EstCompletionDate 
				--	AND LocId = @LocId 
				--	AND MFGGroup = @MfgGroup 
				--	AND MFGMethod = @MFGMethod 
				--	GROUP BY RevisionNo
				--) A
				--IF @iCNT > 1
				--	BEGIN
				--		UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT KIT REVISIONS EXIST WITHIN MFG GROUP!' 
				--		--WHERE SalesOrder = @SalesOrder 
				--		--AND EstCompletionDate = @EstCompletionDate 
				--		WHERE EstCompletionDate = @EstCompletionDate 
				--		AND LocId = @LocId 
				--		AND MFGGroup = @MfgGroup 
				--		AND MFGMethod = @MFGMethod
				--	END
                SET @dMod = 0 
				SELECT TOP 1 @dMod = (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) 
				FROM #T1 
				--WHERE SalesOrder = @SalesOrder 
				--AND EstCompletionDate = @EstCompletionDate 
				WHERE EstCompletionDate = @EstCompletionDate 
				AND LocId = @LocId 
				AND MFGGroup = @MfgGroup 
				AND MFGMethod = @MFGMethod 
				AND (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) > 0 
				IF @dMod > 0
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'ORDER QTY MUST BE DIVISIBLE ON FIXED MFG GROUPS!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		ELSE IF @MfgMethod = 'MIXED'
			BEGIN
				SELECT @iCNT = COUNT(*) 
				FROM 
				(
					SELECT Qty, COUNT(Qty) AS CNT 
					FROM #T1 
					--WHERE SalesOrder = @SalesOrder 
					--AND EstCompletionDate = @EstCompletionDate 
					WHERE EstCompletionDate = @EstCompletionDate 
					AND LocId = @LocId 
					AND MFGGroup = @MfgGroup 
					AND MFGMethod = @MFGMethod 
					GROUP BY Qty
				) A
				IF @iCNT > 1
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT ORDER QUANTITIES EXIST WITH MFG GROUP!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
				--SELECT @iCNT = COUNT(*) 
				--FROM 
				--(
				--	SELECT RevisionNo, COUNT(RevisionNo) AS CNT 
				--	FROM #T1 
				--	--WHERE SalesOrder = @SalesOrder 
				--	--AND EstCompletionDate = @EstCompletionDate 
				--	WHERE EstCompletionDate = @EstCompletionDate 
				--	AND LocId = @LocId 
				--	AND MFGGroup = @MfgGroup 
				--	AND MFGMethod = @MFGMethod 
				--	GROUP BY RevisionNo
				--) A
				--IF @iCNT > 1
				--	BEGIN
				--		UPDATE #T1 Set Err = 1, ErrMsg = 'DIFFERENT KIT REVISIONS EXIST WITHIN MFG GROUP!' 
				--		--WHERE SalesOrder = @SalesOrder 
				--		--AND EstCompletionDate = @EstCompletionDate 
				--		WHERE EstCompletionDate = @EstCompletionDate 
				--		AND LocId = @LocId 
				--		AND MFGGroup = @MfgGroup 
				--		AND MFGMethod = @MFGMethod
				--	END
                SET @dMod = 0 
				SELECT TOP 1 @dMod = (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) 
				FROM #T1 
				--WHERE SalesOrder = @SalesOrder 
				--AND EstCompletionDate = @EstCompletionDate 
				WHERE EstCompletionDate = @EstCompletionDate 
				AND LocId = @LocId 
				AND MFGGroup = @MfgGroup 
				AND MFGMethod = @MFGMethod 
				AND (Qty % IIF(FixedQty = 0, 0.111, FixedQty)) > 0 
				IF @dMod > 0
					BEGIN
						UPDATE #T1 Set Err = 1, ErrMsg = 'ORDER QTY MUST BE DIVISIBLE ON MIXED MFG GROUPS!' 
						--WHERE SalesOrder = @SalesOrder 
						--AND EstCompletionDate = @EstCompletionDate 
						WHERE EstCompletionDate = @EstCompletionDate 
						AND LocId = @LocId 
						AND MFGGroup = @MfgGroup 
						AND MFGMethod = @MFGMethod
					END
			END
		--ELSE IF @MfgMethod = 'BEST COMBO'
		--	BEGIN
		--	END
		FETCH NEXT FROM iCur into @EstCompletionDate, @LocId, @MfgGrpId, @MfgGroup, @MfgMethod
	END

	DECLARE iCurParentMFGGrp CURSOR LOCAL FOR SELECT EstCompletionDate, LocId, ProgramId, MfgGrpId, MfgGroup, MFGMethod FROM #T1 WHERE ERR = 0 GROUP BY EstCompletionDate, LocId, ProgramId, MfgGrpId, MfgGroup, MFGMethod
	OPEN iCurParentMFGGrp
	FETCH NEXT FROM iCurParentMFGGrp into @EstCompletionDate, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @MfgMethod
	While (@@Fetch_Status) = 0
	BEGIN
		Set @sNextOrder = '00000000'
		While (@sNextOrder = '00000000')
			BEGIN
				DECLARE @NextParentOrderNo as Int
				SELECT @NextParentOrderNo = NextParentOrderNo FROM [W005].dbo.CCINextParentOrderNo
				UPDATE [W005].dbo.CCINextParentOrderNo SET NextParentOrderNo = @NextParentOrderNo + 1 WHERE Id = 1 AND NextParentOrderNo = @NextParentOrderNo
				IF @@ROWCOUNT <> 1
				  BEGIN
					SET @NextParentOrderNo = 0
				  END
				SELECT @sNextOrder = 'P'+RIGHT('0000000'+CAST(@NextParentOrderNo AS VARCHAR(8)),7)
			END
		--IF @SalesOrder IS NULL 
		--  BEGIN
		--	UPDATE #T1 Set ParentOrder = @sNextOrder WHERE EstCompletionDate = @EstCompletionDate AND LocId = @LocId AND ProgramId = @ProgramId AND MFGGroup = @MfgGroup AND MFGMethod = @MFGMethod
		--  END
		--ELSE
		  BEGIN
    		UPDATE #T1 Set ParentOrder = @sNextOrder 
			--WHERE SalesOrder = @SalesOrder 
			--AND EstCompletionDate = @EstCompletionDate 
			WHERE EstCompletionDate = @EstCompletionDate 
			AND LocId = @LocId 
			AND ProgramId = @ProgramId 
			AND MFGGroup = @MfgGroup 
			AND MFGMethod = @MFGMethod
		  END
    	FETCH NEXT FROM iCurParentMFGGrp into @EstCompletionDate, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @MfgMethod
	END
	--MFGMethod = Simple
	--MFGMethod = Simple
	--MFGMethod = Simple
	DECLARE iCurParentOrderSimple CURSOR LOCAL FOR SELECT ID, OrderNo, ReleaseNo, ReleaseId, RevisionNo, ParentOrder, AssemblyId, LocId, ProgramId, MfgGrpId, MfgGroup, Qty, (Qty * SetRunTimeMinutes) AS OrderDuration, EstCompletionDate, RequiredShipDate, AllowVariableKitList FROM #T1 WHERE Err = 0 AND MFGMethod = 'SIMPLE'
	OPEN iCurParentOrderSimple
	FETCH NEXT FROM iCurParentOrderSimple into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	While (@@Fetch_Status) = 0
	BEGIN
		UPDATE [005].[dbo].[tblMpOrderReleases] Set Status = 2, CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @RelId
		DELETE FROM CCIOrderReleaseInfo WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
		--SELECT @MfgGrpId = ID FROM CCIManufacturingGroup WHERE Name = @MfgGroup AND ProgramId = @ProgramId
		IF @AllowVariableKit = 0 
		  BEGIN
   		    IF @OrderDuration < 60 SET @OrderDuration = 60
		  END
		INSERT INTO CCIOrderReleaseInfo ([OrderNo],[ReleaseNo],[ReleaseId],[RevisionNo],[ParentOrderNo],[ItemId],[LocId],[CCIManufacturingGroupId], [Qty], [InProcess],[MfgCompleted],[MfgStartDate],[MfgEndDate],[RequiredShipDate],[OrderDuration],[Scheduled]) VALUES (@OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @MfgGrpId, @Qty, 0, 0, DateAdd(mi, @OrderDuration*-1, @EstCompletionDate), @EstCompletionDate, @RequiredShipDate, @OrderDuration, 0)
		FETCH NEXT FROM iCurParentOrderSimple into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	END
	--MFGMethod = Fabric Optimizer
	--MFGMethod = Fabric Optimizer
	--MFGMethod = Fabric Optimizer
	DECLARE iCurParentOrderFO CURSOR LOCAL FOR SELECT ID, OrderNo, ReleaseNo, ReleaseId, RevisionNo, ParentOrder, AssemblyId, LocId, ProgramId, MfgGrpId, MfgGroup, Qty, (Qty * SetRunTimeMinutes) AS OrderDuration, EstCompletionDate, RequiredShipDate, AllowVariableKitList FROM #T1 WHERE Err = 0 AND MFGMethod = 'FABRIC OPTIMIZER'
	OPEN iCurParentOrderFO
	FETCH NEXT FROM iCurParentOrderFO into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	While (@@Fetch_Status) = 0
	BEGIN
		UPDATE [005].[dbo].[tblMpOrderReleases] Set Status = 2, CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @RelId
		DELETE FROM CCIOrderReleaseInfo WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
		--SELECT @MfgGrpId = ID FROM CCIManufacturingGroup WHERE Name = @MfgGroup AND ProgramId = @ProgramId
		IF @AllowVariableKit = 0 
		  BEGIN
   		    IF @OrderDuration < 60 SET @OrderDuration = 60
		  END
		INSERT INTO CCIOrderReleaseInfo ([OrderNo],[ReleaseNo],[ReleaseId],[RevisionNo],[ParentOrderNo],[ItemId],[LocId],[CCIManufacturingGroupId], [Qty], [InProcess],[MfgCompleted],[MfgStartDate],[MfgEndDate],[RequiredShipDate],[OrderDuration],[Scheduled]) VALUES (@OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @MfgGrpId, @Qty, 0, 0, DateAdd(mi, @OrderDuration*-1, @EstCompletionDate), @EstCompletionDate, @RequiredShipDate, @OrderDuration, 0)
		FETCH NEXT FROM iCurParentOrderFO into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	END
	--MFGMethod = Fixed
	--MFGMethod = Fixed
	--MFGMethod = Fixed
	DECLARE iCurParentOrderFixed CURSOR LOCAL FOR SELECT ID, OrderNo, ReleaseNo, ReleaseId, RevisionNo, ParentOrder, AssemblyId, LocId, ProgramId, MfgGrpId, MfgGroup, Qty, (Qty * SetRunTimeMinutes) AS OrderDuration, EstCompletionDate, RequiredShipDate, AllowVariableKitList FROM #T1 WHERE Err = 0 AND MFGMethod = 'FIXED'
	OPEN iCurParentOrderFixed
	FETCH NEXT FROM iCurParentOrderFixed into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	While (@@Fetch_Status) = 0
	BEGIN
		UPDATE [005].[dbo].[tblMpOrderReleases] Set Status = 2, CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @RelId
		DELETE FROM CCIOrderReleaseInfo WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
		--SELECT @MfgGrpId = ID FROM CCIManufacturingGroup WHERE Name = @MfgGroup AND ProgramId = @ProgramId
		IF @AllowVariableKit = 0 
		  BEGIN
   		    IF @OrderDuration < 60 SET @OrderDuration = 60
		  END
		INSERT INTO CCIOrderReleaseInfo ([OrderNo],[ReleaseNo],[ReleaseId],[RevisionNo],[ParentOrderNo],[ItemId],[LocId],[CCIManufacturingGroupId],[Qty], [InProcess],[MfgCompleted],[MfgStartDate],[MfgEndDate],[RequiredShipDate],[OrderDuration],[Scheduled]) VALUES (@OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @MfgGrpId, @Qty, 0, 0, DateAdd(mi, @OrderDuration*-1, @EstCompletionDate), @EstCompletionDate, @RequiredShipDate, @OrderDuration, 0)
		FETCH NEXT FROM iCurParentOrderFixed into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	END
	--MFGMethod = Mixed
	--MFGMethod = Mixed
	--MFGMethod = Mixed
	DECLARE iCurParentOrderMixed CURSOR LOCAL FOR SELECT ID, OrderNo, ReleaseNo, ReleaseId, RevisionNo, ParentOrder, AssemblyId, LocId, ProgramId, MfgGrpId, MfgGroup, Qty, (Qty * SetRunTimeMinutes) AS OrderDuration, EstCompletionDate, RequiredShipDate, AllowVariableKitList FROM #T1 WHERE Err = 0 AND MFGMethod = 'MIXED'
	OPEN iCurParentOrderMixed
	FETCH NEXT FROM iCurParentOrderMixed into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	While (@@Fetch_Status) = 0
	BEGIN
		UPDATE [005].[dbo].[tblMpOrderReleases] Set Status = 2, CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @RelId
		DELETE FROM CCIOrderReleaseInfo WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
		--SELECT @MfgGrpId = ID FROM CCIManufacturingGroup WHERE Name = @MfgGroup AND ProgramId = @ProgramId
		IF @AllowVariableKit = 0 
		  BEGIN
   		    IF @OrderDuration < 60 SET @OrderDuration = 60
		  END
		INSERT INTO CCIOrderReleaseInfo ([OrderNo],[ReleaseNo],[ReleaseId],[RevisionNo],[ParentOrderNo],[ItemId],[LocId],[CCIManufacturingGroupId],[Qty], [InProcess],[MfgCompleted],[MfgStartDate],[MfgEndDate],[RequiredShipDate],[OrderDuration],[Scheduled]) VALUES (@OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @MfgGrpId, @Qty, 0, 0, DateAdd(mi, @OrderDuration*-1, @EstCompletionDate), @EstCompletionDate, @RequiredShipDate, @OrderDuration, 0)
		FETCH NEXT FROM iCurParentOrderMixed into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	END
	--MFGMethod = Best Combo
	--MFGMethod = Best Combo
	--MFGMethod = Best Combo
	DECLARE iCurParentOrderBestCombo CURSOR LOCAL FOR SELECT ID, OrderNo, ReleaseNo, ReleaseId, RevisionNo, ParentOrder, AssemblyId, LocId, ProgramId, MfgGrpId, MfgGroup, Qty, (Qty * SetRunTimeMinutes) AS OrderDuration, EstCompletionDate, RequiredShipDate, AllowVariableKitList FROM #T1 WHERE Err = 0 AND MFGMethod = 'BEST COMBO'
	OPEN iCurParentOrderBestCombo
	FETCH NEXT FROM iCurParentOrderBestCombo into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	While (@@Fetch_Status) = 0
	BEGIN
		UPDATE [005].[dbo].[tblMpOrderReleases] Set Status = 2, CF = [005].dbo.fncUpdateCustomField(CF, 'Parent Order', @ParentOrder) Where Id = @RelId
		DELETE FROM CCIOrderReleaseInfo WHERE OrderNo = @OrderNo AND ReleaseNo = @ReleaseNo
		--SELECT @MfgGrpId = ID FROM CCIManufacturingGroup WHERE Name = @MfgGroup AND ProgramId = @ProgramId
		IF @AllowVariableKit = 0 
		  BEGIN
   		    IF @OrderDuration < 60 SET @OrderDuration = 60
		  END
		INSERT INTO CCIOrderReleaseInfo ([OrderNo],[ReleaseNo],[ReleaseId],[RevisionNo],[ParentOrderNo],[ItemId],[LocId],[CCIManufacturingGroupId],[Qty], [InProcess],[MfgCompleted],[MfgStartDate],[MfgEndDate],[RequiredShipDate],[OrderDuration],[Scheduled]) VALUES (@OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @MfgGrpId, @Qty, 0, 0, DateAdd(mi, @OrderDuration*-1, @EstCompletionDate), @EstCompletionDate, @RequiredShipDate, @OrderDuration, 0)
		FETCH NEXT FROM iCurParentOrderBestCombo into @RelId, @OrderNo, @ReleaseNo, @ReleaseId, @RevisionNo, @ParentOrder, @AssemblyId, @LocId, @ProgramId, @MfgGrpId, @MfgGroup, @Qty, @OrderDuration, @EstCompletionDate, @RequiredShipDate, @AllowVariableKit
	END
	--Update Total OrderDuration based on each Prod Order (Kit) & Qty summing to one total value where AllowVariableKitList = 1 
	--Update Total OrderDuration based on each Prod Order (Kit) & Qty summing to one total value where AllowVariableKitList = 1 
	--Update Total OrderDuration based on each Prod Order (Kit) & Qty summing to one total value where AllowVariableKitList = 1 
	UPDATE [W005].[dbo].[CCIOrderReleaseInfo] SET OrderDuration = (A.OrderDuration), MfgStartDate = DateAdd(mi, A.OrderDuration*-1, A.MfgEndDate)
	FROM 
	(
        SELECT I.ParentOrderNo, I.MfgEndDate, IIF(SUM(I.Qty * M.SetRunTimeMinutes) < 60, 60, SUM(I.Qty * M.SetRunTimeMinutes)) as OrderDuration
		FROM [W005].[dbo].[CCIOrderReleaseInfo] I 
		INNER JOIN CCIManufacturingGroup M ON M.Id = I.CCIManufacturingGroupId
		INNER JOIN #T1 T ON T.OrderNo = I.OrderNo AND T.ReleaseNo = I.ReleaseNo
		WHERE T.AllowVariableKitList = 1
		GROUP BY I.ParentOrderNo, I.MfgEndDate
	) A 
	WHERE [W005].[dbo].[CCIOrderReleaseInfo].ParentOrderNo = A.ParentOrderNo

	DROP TABLE #T1
	--DROP TABLE #T2
	--DROP TABLE #T3
	DROP TABLE #T2A
	DROP TABLE #T3A
END
GO
