USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spOrderReturnMaterial]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOrderReturnMaterial] @OrderNo as Varchar(8), @ReleaseNo as int
AS
SELECT        EI.Id, EI.OrderReleaseEventId, EI.ItemId, EI.LocId, 
                         EI.IsAssembly, EI.SerialNo, EI.LotNo, EI.TravLotNum,
                         EI.MpOrderMatIssuedId, EI.Qty, EI.MRLengthCounter, 
                         EI.PLCLengthCounter, EI.HeadPos, EI.CutPos, 
                         EI.Slitter2SpoolOffset, EI.TotalQty, EI.TotalWaste, 
                         EI.TotalQtyConsumed, EI.TotalQtyRemaining, EI.ReturnedLocId, 
                         EI.EventDateTime, ISNULL(I.[cf_Multi-UOM Serial Item], 0) as IsSerial, I.[LottedYN] as IsLotted, I.[cf_Out-Time Tracked] as IsOutTimeTracked,
						 I.UOMBase as UOM, Cast(0 as bit) as ReturnToInvLabelPrinted, EI.TotalOverage
FROM          [W005].dbo.OrderReleaseEventItem AS EI INNER JOIN
              [W005].dbo.OrderReleaseEvent AS E ON EI.OrderReleaseEventId = E.Id INNER JOIN
			  [005].[dbo].[trav_tblInItem_view] AS I ON EI.ItemId = I.ItemId
WHERE		  E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND EI.IsAssembly = 0 AND EI.TravMatDtlSaved = 0 --AND EI.MpOrderMatIssuedId Is Not null
--UNION ALL
--SELECT        EI.Id, EI.OrderReleaseEventId, EI.ItemId, EI.LocId, 
--                         EI.IsAssembly, EI.SerialNo, EI.LotNo, 
--                         EI.MpOrderMatIssuedId, EI.Qty, EI.MRLengthCounter, 
--                         EI.PLCLengthCounter, EI.HeadPos, EI.CutPos, 
--                         EI.Slitter2SpoolOffset, EI.TotalQty, EI.TotalWaste, 
--                         EI.TotalQtyConsumed, EI.TotalQtyRemaining, EI.ReturnedLocId, 
--                         EI.EventDateTime, ISNULL(I.[cf_Multi-UOM Serial Item], 0) as IsSerial, I.[LottedYN] as IsLotted, I.[cf_Out-Time Tracked] as IsOutTimeTracked, I.UOMBase as UOM, Cast(0 as bit) as ReturnToInvLabelPrinted
--FROM          dbo.OrderReleaseEventItem AS EI INNER JOIN
--              dbo.OrderReleaseEvent AS E ON EI.OrderReleaseEventId = E.Id INNER JOIN
--			  [005].[dbo].[trav_tblInItem_view] AS I ON EI.ItemId = I.ItemId
--WHERE		  E.OrderNo = @OrderNo AND E.ReleaseNo = @ReleaseNo AND EI.IsAssembly = 0 AND EI.MpOrderMatIssuedId Is NULL
GO
