USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spIncompletePackToShipUnit]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[spIncompletePackToShipUnit]
		@LocId varchar(10)
		

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @LocId varchar(10) = 'INVMTP'

  
  SELECT DISTINCT P.Id As UnitId, P.ShipPalletNo AS UnitNo, P.DateCreated, P.GrossWt, UnitType = 'P'
  FROM [W005].[dbo].[ShipPallet] P
		INNER JOIN [W005].[dbo].[ShipPackingSupply] S ON P.ShipPalletNo=S.ShipUnitNo AND S.LocId=@LocId
  WHERE P.Shipped=0 AND P.Complete=0 AND P.Deleted=0 AND P.PhantomAdjOut=0 AND P.UsedByProduction=0 

  UNION ALL

  SELECT DISTINCT C.Id As UnitId, C.ShipCartonNo as UnitNo, C.DateCreated, C.GrossWt, UnitType = 'C'
  FROM [W005].[dbo].[ShipCarton] C
		INNER JOIN [W005].[dbo].[ShipPackingSupply] S ON C.ShipCartonNo=S.ShipUnitNo AND S.LocId=@LocId
  WHERE C.Shipped=0 AND C.Complete=0 AND C.Deleted=0 AND C.PhantomAdjOut=0 AND C.UsedByProduction=0 
			AND C.IsPacked=0 AND C.ShipPalletId is null 

  UNION ALL

  SELECT DISTINCT B.Id As UnitId, B.ShipBoxNo AS UnitNo, B.DateCreated, B.GrossWt, UnitType = 'B'
  FROM [W005].[dbo].[ShipBox] B 
		INNER JOIN [W005].[dbo].[ShipPackingSupply] S ON B.ShipBoxNo=S.ShipUnitNo AND S.LocId=@LocId
  WHERE B.Shipped=0 AND B.Complete=0 AND B.Deleted=0 AND B.PhantomAdjOut=0 AND B.UsedByProduction=0 
			AND B.IsPacked=0 AND B.ShipPalletId is null AND B.ShipCartonId is null




END
GO
