USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIGetNextParentOrderNo]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIGetNextParentOrderNo] 
AS
BEGIN
	DECLARE @NextParentOrderNo as Int
	SELECT @NextParentOrderNo = NextParentOrderNo FROM [W005].dbo.CCINextParentOrderNo
	UPDATE [W005].dbo.CCINextParentOrderNo SET NextParentOrderNo = @NextParentOrderNo + 1 WHERE Id = 1 AND NextParentOrderNo = @NextParentOrderNo
	IF @@ROWCOUNT <> 1
	  BEGIN
		SET @NextParentOrderNo = 0
	  END
	SELECT RIGHT('00000000'+CAST(@NextParentOrderNo AS VARCHAR(8)),8) AS NextParentOrder
END

GO
