USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPlyStackDtl]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCCIPlyStackDtl] @ParentOrderNo AS VARCHAR(8), @ProdOrderNo AS VARCHAR(8), @ProdRelNo AS int
AS
BEGIN

--DECLARE @ParentOrderNo AS VARCHAR(8) = 'P0002385'
--DECLARE @ProdOrderNo AS VARCHAR(8) = NULL -- '00027643'
--DECLARE @ProdRelNo AS int = 1

SELECT DISTINCT
	 C.ParentOrderNo
	,C.OrderNo
	,C.ReleaseNo
	,OREI.ItemId
	,OREI.TravSerNum
	,P.StackSeq
	,P.PlyName
	,P.Revision
	,P.BagNum
	,P.MasterBagNum
	,D.CCITableId
	,D.ScanDateTime
	,H.StackedDateTime
FROM CCIOrderReleaseInfo C
	 INNER JOIN OrderReleaseEvent ORE ON ORE.OrderNo=C.ParentOrderNo
	 INNER JOIN OrderReleaseEventItem OREI ON OREI.OrderReleaseEventId=ORE.Id AND OREI.ItemId=C.ItemId AND OREI.IsAssembly = 1
	 INNER JOIN [W005].[dbo].[CCIPlyStackHeader] H ON H.OrderReleaseEventItemId=OREI.Id
	 INNER JOIN [W005].[dbo].[CCIPlyStackDetail] D ON D.CCIPlyStackHeaderId=H.Id
	 INNER JOIN CCIPly P ON P.Id=D.CCIPlyId
WHERE C.ParentOrderNo = @ParentOrderNo OR (C.OrderNo=@ProdOrderNo AND C.ReleaseNo=@ProdRelNo)
ORDER BY OREI.TravSerNum, StackSeq,H.StackedDateTime


END

GO
