USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebGenericFGLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[WebGenericFGLabel]
	@PrintJobId as int,
	@OrderNo as varchar(8),
	@ReleaseNo as int,
	@OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE   @OrderNo as varchar(8) = '00058931'
--DECLARE	@ReleaseNo as int = 5
--DECLARE	@OrderReleaseEventItemId as int = 0

--SELECT * FROM OrderReleaseEVentItem where SerialNo = '00513206-001-001'
--Added 11/22/19

	Select A.OrderNo, 
		A.ReleaseNo,
		OrderRelease = A.OrderNo+'-'+Cast(A.ReleaseNo as varchar(5)),
		A.CustPONum,
		RollNo = A.OrderNo + '-' + Right('000'+Cast(A.ReleaseNo as varchar(5)),3) + '-' + Right('000'+Cast(A.CutPos as varchar(5)),3),
		A.PODate,
		A.UserId,
		A.ItemId,
		A.Descr,
		CustomerPN = Substring(A.CustomerPN, 1, Len(A.CustomerPN)-1),
		A.SerialNo,
		A.LotNo,
		A.MfgDate,
		A.FGExpDate,
		SerialNoBarCode = A.SerialNo, 
		LotNoBarCode = A.LotNo, 
		A.HeadPos,
		A.CutPos,
		A.PalletNo,
		A.TotalQty,
		A.TotalWaste,
		A.UOM,
		A.LocId,
		A.WidthIN as Width,
		A.WidthMM as WidthMM,
		A.TotalQtyBaseUOM,
		A.TotalQtyBX,
		A.TotalQtyEA,
		A.TotalQtyKG,
		A.TotalQtyLB,
		A.TotalQtyLF,
		A.TotalQtyLM,
		A.TotalQtyLY,
		A.TotalQtyMFT,
		A.TotalQtyROLL,
		A.TotalQtySHT,
		A.TotalQtySM,
		QRCode,
		CurWoodOrdNo = RIGHT(A.OrderNo,6)
	From
	(Select Distinct 
	    E.OrderNo, 
		E.ReleaseNo,
		iif(SO.CustPONum is null, R.[PurchaseOrder], SO.CustPONum) as CustPONum,
		SO.PODate,
		E.UserId,
		EI.ItemId,
		I.Descr,
		CustomerPN = (SELECT AliasID+'/' AS [text()] FROM [005].[dbo].[tblInItemAlias] AS AL WHERE AL.ItemID = I.ItemId FOR XML PATH('')),
		EI.SerialNo,
		EI.LotNo,
		EI.MfgDate,
		EI.PalletNo,
		EI.FGExpDate,
		SerialNoBarCode = EI.SerialNo, 
		LotNoBarCode = EI.LotNo, 
		EI.HeadPos,
		EI.CutPos,
		ISNULL(Q.QtyOnHand,EI.TotalQty) as TotalQty,
		EI.TotalWaste,
		EI.UOM,
		EI.LocId,
		P.nTarget AS WidthIN,
		PP.nTarget AS WidthMM,
		TotalQtyBaseUOM = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = I.UomBase),
		TotalQtyBX = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'BX'),
		TotalQtyEA = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'EA'),
		TotalQtyKG = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'KG'),
		TotalQtyLB = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LB'),
		TotalQtyLF = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LF'),
		TotalQtyLM = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LM'),
		TotalQtyLY = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'LY'),
		TotalQtyMFT = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'MFT'),
		TotalQtyROLL = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'ROLL'),
		TotalQtySHT = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SHT'),
		TotalQtySM = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS A WHERE A.ItemId = EI.ItemId and A.Uom = 'SM')
		,QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'') -- <--must be able to generate QRCode for FG (using TravSerNum) or IM (using TravLotNum) 
	FROM	[W005].[dbo].[OrderReleaseEvent] AS E
			INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id
			INNER JOIN [005].[dbo].[trav_tblInItem_view] AS I ON I.ItemId = EI.ItemId
			LEFT JOIN [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS K ON K.OrderReleaseEventItemId=EI.Id
			LEFT JOIN [005].[dbo].[tblMpOrderReleases] AS R ON R.OrderNo = E.OrderNo AND R.ReleaseNo = E.ReleaseNo
			LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] AS RH ON RH.OrderNo = E.OrderNo AND RH.ReleaseNo = E.ReleaseNo
			LEFT JOIN [005].[dbo].[tblSoTransHeader] AS SO ON ((SO.TransId = R.SalesOrder) OR (SO.TransId = RH.SalesOrder))
			LEFT JOIN [W005].[dbo].[Characteristic] AS C ON C.Characteristic = 'Width(IN)'
			LEFT JOIN [W005].[dbo].[ProductChar] AS P ON P.ItemId = EI.ItemId AND P.CharId = C.Id
			LEFT JOIN [W005].[dbo].[Characteristic] AS CC ON CC.Characteristic = 'Width(MM)'
			LEFT JOIN [W005].[dbo].[ProductChar] AS PP ON PP.ItemId = EI.ItemId AND PP.CharId = CC.Id
			LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q ON Q.ItemId = EI.ItemId AND Q.LotNum = EI.TravLotNum
	WHERE E.OrderNo = @OrderNo and E.ReleaseNo = @ReleaseNo and EI.IsAssembly = 1 and (Q.QtyOnHand is null or Q.QtyOnHand != 0) AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId)) AS A
END

GO
