USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryCountCartonData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetInventoryCountCartonData]
	@ShipCartonNo as varchar(10)
AS
BEGIN

--declare @ShipCartonNo as varchar(10) ='C000159642'

	SELECT DISTINCT  sc.Id,sc.ShipCartonNo, si.ItemId,ii.Descr,
			si.Location,sc.DateCreated,TOPS = '',
			TotalQty = SUM(si.Quantity),
			UOM = si.UOM,
			TotalNoRolls = SUM(si.NoRolls),
			LotNo = CASE WHEN ((LEFT(si.ItemId,3) = 'AER') OR (LEFT(si.ItemId,4) = 'POLY')) THEN STUFF
															(
																(
																	SELECT DISTINCT '/' + LEFT(I.LotNo,8)
																	FROM [W005].[dbo].[ShipItem] as I
																	WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
																	FOR XML PATH(''), TYPE
																).value('.[1]','nvarchar(max)'),
																1,1,''
															)
					ELSE  STUFF
								(
									(
										SELECT DISTINCT '/' + I.LotNo 
										FROM [W005].[dbo].[ShipItem] as I
										WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
										FOR XML PATH(''), TYPE
									).value('.[1]','nvarchar(max)'),
									1,1,''
								)
					END,
			SerNum = STUFF
							(
								(
									SELECT DISTINCT '/' + I.TravSerNum 
									FROM [W005].[dbo].[ShipItem] as I
									WHERE I.ShipCartonId=sc.Id AND I.Deleted=0
									FOR XML PATH(''), TYPE
								).value('.[1]','nvarchar(max)'),
								1,1,''
							)
			,sc.Complete, si.PostedToTraverse

	FROM  [W005].[dbo].[ShipCarton] As sc INNER JOIN [W005].[dbo].[ShipItem] As si ON si.ShipCartonId=sc.Id
			INNER JOIN  [005].[dbo].[tblInItem] As ii  ON ii.ItemId=si.ItemId 
		
	WHERE sc.ShipCartonNo=@ShipCartonNo
	GROUP BY sc.Id,sc.ShipCartonNo, si.ItemId,ii.Descr,si.Location,sc.DateCreated,si.UOM,
			sc.Complete,sc.Deleted,sc.Shipped,sc.PhantomAdjOut,sc.UsedByProduction, si.PostedToTraverse



END
GO
