USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSearchShipItemGrid]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSearchShipItemGrid] @FromDt as Datetime, @ThruDt as Datetime
AS
BEGIN
	SELECT I.[ItemId]
		  ,I.[TravLotNum] 
		  ,I.[SerNo]
		  ,I.[LotNo]
		  ,I.[Quantity]
		  ,I.[UOM]
		  ,I.[AdditionalLotNo]
		  ,I.[ProdOrderNo]
		  ,I.[ProdOrderRelNo]
		  --,A.[OrderNo] AS SalesOrder
		  ,I.[Shipped] AS ItemShipped
		  ,I.[DateShipped] AS ItemDateShipped
		  ,I.[DateCreated] AS ItemDateCreated
		  ,B.[Id] AS ShipBoxId
		  ,B.[ShipBoxNo]
		  ,B.[Complete] AS BoxComplete
		  ,C.[Id] AS CartonId
		  ,C.[ShipCartonNo] as ShipCarton
		  ,C.[Complete] AS CartonComplete
		  ,P.[Id] AS PalletId
		  ,P.[ShipPalletNo] AS ShipPallet
		  ,P.[Complete] AS PalletComplete
			,D.PLNo AS PackingListNo
			,D.OrderNo AS SalesOrderNo
			,O.MRLengthCounter
			,O.TotalQty AS TotalRawQtyConsumed
			,I.OREIId
			,I.Location
	  FROM [W005].[dbo].[ShipItem] AS I LEFT JOIN
		   [W005].[dbo].[ShipBox] AS B ON B.Id = I.ShipBoxId AND B.Deleted = 0 LEFT JOIN
		   [W005].[dbo].[ShipPallet] AS P ON P.Id = I.ShipPalletId AND P.Deleted = 0 LEFT JOIN
		   [W005].[dbo].[ShipCarton] AS C ON C.Id = I.ShipCartonId AND C.Deleted = 0 LEFT JOIN
		   [W005].[dbo].[vShipPackList] AS D ON (D.ShipPalletId = P.Id OR D.ShipCartonId = C.Id OR D.ShipBoxId = B.Id OR D.ShipItemId = I.Id) LEFT JOIN
		   [W005].[dbo].[OrderReleaseEventItem] AS O ON I.OREIId=O.Id 
	  WHERE I.Deleted = 0 AND I.[DateCreated] >= @FromDt AND I.[DateCreated] < @ThruDt
END
GO
