USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[CCIRawMatlOTKitSubRpt]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CCIRawMatlOTKitSubRpt] @ORKId AS int 
AS
BEGIN

--DECLARE @ORKId AS int = 19124  --16920 --584


SELECT
	    A.RMDateTimeOut
	   ,FGDateTimeIn = MIN(ISNULL(ORK.EstLastScanDateTime,ORK.LastScanDateTime))
	   ,FGTotalRoomMinutes =  MIN(ISNULL(ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes))
	   ,A.DaysOutOfFreezer
	   ,A.HoursOutOfFreezer
	   ,A.MaxRoomTimeHrs
	   ,A.RemainingOTHours
	   ,RemShopDays = ROUND((A.RemainingOTHours) - (A.MaxRoomTimeHrs - (MIN(CAST(ISNULL(ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes) AS float))/60)),2)/24
	   ,RemShopHours = (CAST(ROUND((A.RemainingOTHours) - (A.MaxRoomTimeHrs - (MIN(CAST(ISNULL(ORK.EstTotalRoomMinutes,ORK.TotalRoomMinutes) AS float))/60)),2)/24 AS DECIMAL(18,4))%1)*24
	   --A.MaxDaysOutOfFreezer,
	   --A.MaxHoursOutOfFreezer,
	   ,ORK.Id AS ORKId
FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] ORK
	 INNER JOIN (
		  SELECT TOP 1 
				  OTISH.ItemId
				 ,OTISH.SerialNo
				 ,OTISH.LotNo
				 ,OTISH.CurrentWmBinId
				 ,OTISH.BinType
				 ,RMDateTimeOut = OTISH.LastScanDateTime
				 ,RMTotalRoomMinutes = OTISH.TotalRoomMinutes
				 ,OTS.MaxRoomTimeHrs
				 ,RMTotalRoomHours = CAST(OTISH.[TotalRoomMinutes] AS float)/60
				 ,RemainingOTHours = ROUND(MaxRoomTimeHrs-(CAST(OTISH.[TotalRoomMinutes] AS float)/60),2)
				 --,ROUND(MaxRoomTimeHrs-(CAST(OTISH.[TotalRoomMinutes] AS float)/60),2)/24 AS [DaysOutOfFreezer]
				 ,[DaysOutOfFreezer] = ROUND(ROUND(MaxRoomTimeHrs-(CAST(OTISH.[TotalRoomMinutes] AS float)/60),2)/24,0,1)
				 ,[HoursOutOfFreezer] = (CAST(ROUND(MaxRoomTimeHrs-(CAST(OTISH.[TotalRoomMinutes] AS float)/60),2)/24 AS DECIMAL(18,4))%1)*24
				 ,ORK.OrderReleaseKitRawMatlOutTimeId AS ORKId

		  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] ORK
			   INNER JOIN dbo.OutTimeItemStatusHistory OTISH ON OTISH.ItemId=ORK.RMItemId AND OTISH.SerialNo=ORK.RMSerialNo AND OTISH.LotNo=ORK.RMLotNo 
																AND OTISH.LastScanDateTime <= ISNULL(ORK.EstLastScanDateTime,ORK.LastScanDateTime)
			   INNER JOIN OutTimeItemSpecs OTS ON OTS.ItemId=OTISH.ItemId AND (OTS.ProgramId = 0 OR OTS.ProgramId = (SELECT TOP 1 ProgramId FROM [W005].[dbo].[vCCIKitRawMatlOutTime] KRM WHERE KRM.OrderReleaseEventItemId=ORK.OrderReleaseEventItemId))
		  WHERE ORK.OrderReleaseKitRawMatlOutTimeId=@ORKId
				AND BinType != 'FREEZER'  AND (PriorWmBinId IS NULL OR  PriorWmBinId IN (SELECT Id 
																						 FROM [005].[dbo].[trav_tblWmExtLoc_view] 
																						 WHERE [cf_Bin Type] = 'FREEZER'))
		  ORDER BY OTISH.LastScanDateTime DESC
		) AS A ON A.ORKId=ORK.Id
WHERE ORK.Id = @ORKId
GROUP BY ORK.Id, A.RMDateTimeOut,	A.DaysOutOfFreezer  ,A.HoursOutOfFreezer  ,A.MaxRoomTimeHrs  ,A.RemainingOTHours
	





/*

SELECT
	   --A.FGItemId, 
	   --A.FGTravSerNum, 
	   --A.RMItemId, 
	   A.RMDateTimeOut, 
	   A.FGDateTimeIn, 
	   A.DaysOutOfFreezer, 
	   A.HoursOutOfFreezer, 
	   A.MaxRoomTimeHrs, 
	   A.RemainingOTHours,
	   CAST(A.RemainingOTHours/24 AS DECIMAL(18,2)) AS RemShopDays, 
	   (CAST(A.RemainingOTHours/24 AS DECIMAL(18,2))%1)*24 AS RemShopHours
	   --A.MaxDaysOutOfFreezer,
	   --A.MaxHoursOutOfFreezer,
	   ,A.ORKId
FROM (
		  SELECT DISTINCT
							-- ORK.FGItemId
							--,ORK.FGTravSerNum
							--,ORK.RMItemId
							--,ORK.RMSerialNo
							--RMDateTimeOut = (SELECT TOP 1 LastScanDateTime 
							--				  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTimeHistory] 
							--				  WHERE OrderReleaseKitRawMatlOutTimeId=ORK.Id --FGTravSerNum = OREI.TravSerNum AND RMItemId=ORK.RMItemId AND RMSerialNo=ORK.RMSerialNo
							--				  ORDER BY Id ASC) --ORKHist.LastScanDateTime

							RMDateTimeOut = 
									(SELECT DISTINCT
											(SELECT MIN(OTISH.LastScanDateTime) 
											FROM [W005].[dbo].[OutTimeItemStatus] OTIS 
													INNER JOIN [W005].[dbo].[OutTimeItemStatusHistory] OTISH ON OTISH.OutTimeItemStatusId = OTIS.Id 
											WHERE OTIS.ItemId = EI.ItemId and OTIS.SerialNo = EI.SerialNo 
													AND (OTIS.ProgramId = 0 OR OTIS.ProgramId = OREIOT.ProgramId) 
													AND (OTISH.LastScanDateTime <= OREIOT.LastScanDateTime) 
													AND (OTISH.BinType != 'FREEZER')
											GROUP BY OTISH.ItemId, OTISH.SerialNo) AS LASTSCANDT
									FROM OrderReleaseEventItemOutTime OREIOT
										 INNER JOIN OrderReleaseEventItem EI ON EI.Id=OREIOT.OrderReleaseEventItemId AND IsAssembly=0
										 INNER JOIN OrderReleaseKitRawMatlOutTime ORK ON ORK.RMItemId=EI.ItemId AND ORK.RMSerialNo=EI.SerialNo
									WHERE ORK.Id=ORKR.Id)

							,FGDateTimeIn = (SELECT TOP 1 LastScanDateTime
											  FROM	[W005].[dbo].[OutTimeItemStatusHistory]
											  WHERE BinType = 'FREEZER' AND OutTimeItemStatusId=OT.Id
											  ORDER BY Id ASC) --OTISHist.LastScanDateTime

							,(ORKR.TotalRoomMinutes/60)/24 AS [DaysOutOfFreezer]
							,(CAST(CAST(ORKR.TotalRoomMinutes AS FLOAT)/60 AS FLOAT)-24) AS [HoursOutOfFreezer]
							,OTS.MaxRoomTimeHrs
							,OTS.MaxRoomTimeHrs - (CAST(ORKR.TotalRoomMinutes AS FLOAT)/60) AS RemainingOTHours
							--,CAST(OTS.MaxRoomTimeHrs/24 AS DECIMAL(18,2)) AS [MaxDaysOutOfFreezer]
							--,CAST((CAST(OTS.MaxRoomTimeHrs/24 AS DECIMAL(18,2))%1)*24 AS int) AS [MaxHoursOutOfFreezer]
							,ORKR.Id AS ORKId

		  FROM [W005].[dbo].[OrderReleaseKitRawMatlOutTime] AS ORKR
			   INNER JOIN [W005].[dbo].[OutTimeItemSpecs] AS OTS ON OTS.ItemId=ORKR.RMItemId
			   INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS OREI ON OREI.Id=ORKR.OrderReleaseEventItemId AND IsAssembly=1	
			   LEFT JOIN [W005].[dbo].[OutTimeItemStatus] AS OT ON OT.ItemId=OREI.ItemId AND OT.TravSerNum=OREI.TravSerNum 
		  WHERE ORKR.Id=@ORKId

	  ) AS A
*/


END


GO
