USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spWebTagValueCurrent]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWebTagValueCurrent] 
	-- Add the parameters for the stored procedure here
	@TagName as varchar(75)
AS
BEGIN
  EXEC [W08PROD].[OEE].[dbo].[sp_WebTagValueCurrent] @TagName
END
GO
