USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebMTSCoreAndRollLabel]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebMTSCoreAndRollLabel] @PrintJobId as int,	@OrderNo as varchar(8),	@ReleaseNo as int, @ItemId as varchar(24),	@OrderReleaseEventItemId as int
AS
BEGIN

--DECLARE	@PrintJobId as int = 1
--DECLARE	@OrderNo as varchar(8) = '00059482' 
--DECLARE	@ReleaseNo as int = 13
--DECLARE  @ItemId as varchar(24) =  'MULTI-PET-2' 
--DECLARE	@OrderReleaseEventItemId as int = 0 --  1936939  


SELECT DISTINCT
		EI.TravLotNum
		,ItemDescr = I.Descr
		,AliasID = (SELECT TOP 1 AliasID 
					FROM [005].[dbo].[tblMpOrder] O
							INNER JOIN [005].[dbo].[tblMpOrderReleases] ORel ON ORel.OrderNo=O.OrderNo
							INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.RefID=ORel.CustId AND A.AliasType=1
					WHERE O.OrderNo=@OrderNo AND ORel.ReleaseNo=@ReleaseNo AND A.ItemID=EI.ItemId
					UNION ALL 
						SELECT TOP 1 AliasID 
					FROM [005].[dbo].[tblMpHistoryOrderReleases] ORel 
							INNER JOIN [005].[dbo].[tblInItemAlias] A ON A.RefID=ORel.CustId AND A.AliasType=1
					WHERE ORel.OrderNo=@OrderNo AND ORel.ReleaseNo=@ReleaseNo AND A.ItemID=EI.ItemId)
		,TotalQty = ISNULL(Q.QtyOnHand,EI.TotalQty)
		,LabelUOM = IsNull((SELECT Uom FROM [005].[dbo].[tblInItemUomDflt] WHERE ItemId = @ItemID AND DfltType = 2), I.UomBase)
		,QtyLabelUOM = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) 
							FROM [005].[dbo].[tblInItemUom] AS U 
							WHERE U.ItemId = EI.ItemId and U.Uom = IsNull((SELECT Uom FROM [005].[dbo].[tblInItemUomDflt] WHERE ItemId = @ItemID AND DfltType = 2), I.UomBase))
		,QtyLB = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = EI.ItemId and U.Uom = 'LB')
		,QtyLF = (SELECT IIF(ConvFactor is Null, Null, ISNULL(Q.QtyOnHand,EI.TotalQty) / ConvFactor) FROM [005].[dbo].[tblInItemUom] AS U WHERE U.ItemId = EI.ItemId and U.Uom = 'LF')
FROM [W005].[dbo].[OrderReleaseEvent] AS E
		INNER JOIN [W005].[dbo].[OrderReleaseEventItem] AS EI ON EI.OrderReleaseEventId = E.Id AND EI.IsAssembly=1
		INNER JOIN [005].[dbo].[tblInItem] AS I ON I.ItemId=EI.ItemId
		LEFT JOIN  [005].[dbo].[tblMpOrderReleases] ORel ON ORel.OrderNo=E.OrderNo
		LEFT JOIN  [005].[dbo].[tblMpHistoryOrderReleases] ORelH ON ORelH.OrderNo=E.OrderNo
		LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q ON Q.ItemId = EI.ItemId AND Q.LotNum = EI.TravLotNum
WHERE E.OrderNo=@OrderNo AND E.ReleaseNo=@ReleaseNo AND (@OrderReleaseEventItemId = 0 or EI.Id = @OrderReleaseEventItemId) AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand != 0)

ORDER BY ItemDescr,TravLotNum



END
GO
