USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[WebBerryRollLabel]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WebBerryRollLabel]
(
    @PrintJobId INT,
    @OrderNo VARCHAR(8),
    @ReleaseNo INT,
    @OrderReleaseEventItemId INT
)
AS
BEGIN

    DECLARE @MasterRollCount INT;
    DECLARE @MasterRollSerialNumbers VARCHAR(MAX);

    SELECT
        @MasterRollCount = COUNT(*)
    FROM W005.dbo.OrderReleaseEvent E1
    INNER JOIN W005.dbo.OrderReleaseEventItem RM
        ON RM.OrderReleaseEventId = E1.Id
    WHERE E1.OrderNo = @OrderNo
      AND E1.ReleaseNo = @ReleaseNo
      AND RM.IsAssembly = 0;

    SELECT
        @MasterRollSerialNumbers =
        STUFF
        (
            (
                SELECT DISTINCT
                    ', ' + RM.SerialNo
                FROM W005.dbo.OrderReleaseEvent E1
                INNER JOIN W005.dbo.OrderReleaseEventItem RM
                    ON RM.OrderReleaseEventId = E1.Id
                WHERE E1.OrderNo = @OrderNo
                  AND E1.ReleaseNo = @ReleaseNo
                  AND RM.IsAssembly = 0
                  AND RM.SerialNo IS NOT NULL
                FOR XML PATH(''), TYPE
            ).value('.','nvarchar(max)')
        ,1,2,'');

    SELECT
          CustomerName = C.CustName
        , PartNumber = A.AliasID
        , AdditionalDescription = IAD.AddlDescr
        , CF = IAD.CF
        , WONumber = E.OrderNo

        , WidthIN = WI.WidthIN
        , WidthMM = WM.WidthMM

        , LengthLF =
            CASE
                WHEN LF.ConvFactor IS NULL
                    THEN ISNULL(Q.QtyOnHand, EI.TotalQty)
                ELSE
                    ISNULL(Q.QtyOnHand, EI.TotalQty) / LF.ConvFactor
            END

        , SetID = E.OrderNo + '-' +
                  RIGHT('000' + CAST(E.ReleaseNo AS VARCHAR(3)),3)

        , LotNumber = EI.LotNo

        , MasterRollCount = @MasterRollCount

        , MasterRollSerialNumbers = @MasterRollSerialNumbers

        , QRcode = '1' +'|' + EI.ItemId + '|' + ISNULL(EI.TravSerNum,EI.TravLotNum) + '|' + ISNULL(EI.LotNo,'')

        , RemainingQty = ISNULL(Q.QtyOnHand, EI.TotalQty)

    FROM W005.dbo.OrderReleaseEvent E

    INNER JOIN W005.dbo.OrderReleaseEventItem EI
        ON EI.OrderReleaseEventId = E.Id

    LEFT JOIN [005].dbo.trav_InItemOnHandLot_view Q
        ON Q.ItemId = EI.ItemId
       AND Q.LotNum = EI.TravLotNum

    LEFT JOIN [005].[dbo].[tblMpOrderReleases] R
        ON R.OrderNo = E.OrderNo
       AND R.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblMpHistoryOrderReleases] RH
        ON RH.OrderNo = E.OrderNo
       AND RH.ReleaseNo = E.ReleaseNo

    LEFT JOIN [005].[dbo].[tblArCust] C
        ON C.CustId = ISNULL(R.CustId, RH.CustId)

    LEFT JOIN [005].[dbo].[tblInItemAlias] A
        ON A.ItemId = EI.ItemId
       AND A.RefID = ISNULL(R.CustId, RH.CustId)

    LEFT JOIN [005].[dbo].[tblInItemAddlDescr] IAD
        ON IAD.ItemId = EI.ItemId

    LEFT JOIN [005].[dbo].[tblInItemUom] LF
        ON LF.ItemId = EI.ItemId
       AND LF.Uom = 'LF'

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthIN = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic CH
            ON CH.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND CH.Characteristic = 'Width(IN)'
    ) WI

    OUTER APPLY
    (
        SELECT TOP (1)
            WidthMM = P.nTarget
        FROM W005.dbo.ProductChar P
        INNER JOIN W005.dbo.Characteristic CH
            ON CH.Id = P.CharId
        WHERE P.ItemId = EI.ItemId
          AND CH.Characteristic = 'Width(MM)'
    ) WM

    WHERE E.OrderNo = @OrderNo
      AND E.ReleaseNo = @ReleaseNo
      AND EI.IsAssembly = 1
      AND (Q.QtyOnHand IS NULL OR Q.QtyOnHand <> 0)
      AND (@OrderReleaseEventItemId = 0 OR EI.Id = @OrderReleaseEventItemId)

    ORDER BY
        EI.HeadPos,
        EI.CutPos;

END
GO
