USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spItemIsInLocId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spItemIsInLocId] @ItemId varchar(24), @SerNo varchar(35),@LotNo varchar(16), @LocId varchar(10)
AS
BEGIN

--DECLARE @ItemId varchar(24) = 'FG-GEMS1031-MLB'
--DECLARE @SerNo varchar(35) = '00031633-206-0001'
--DECLARE @LotNo varchar(16) = ''
--DECLARE @LocId varchar(10) = 'RWHFLO'


DECLARE @ItemInLoc varchar(10)
SET @ItemInLoc = (
	SELECT TOP 1 LocId
	FROM
	(
	SELECT LocId ,ExtHistSeqNum     --, ItemId,Lotnum,Sernum,LocId  ,ExtHistSeqNum
	FROM [005].[dbo].[tblWmHistDetail]  
	WHERE ItemId = @ItemId AND LEN(SerNum)>0 AND SerNum = @SerNo 
	UNION ALL
	SELECT LocId ,ExtHistSeqNum    --, ItemId,Lotnum,Sernum,LocId  
	FROM [005].[dbo].[tblWmHistDetail]  
	WHERE ItemId = @ItemId AND LEN(LotNum)>0 AND Lotnum = @LotNo
	) A
	ORDER BY ExtHistSeqNum DESC
	)

IF @ItemInLoc is null
BEGIN
	SELECT 0 AS ItemIsInLocId
END
ELSE
BEGIN
	IF @ItemInLoc = @LocId
	BEGIN
		SELECT 1 AS ItemIsInLocId
	END
	ELSE
	BEGIN
		SELECT 0 AS ItemIsInLocId
	END
END


END
GO
