USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spGetRemoteWHSOLineId]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRemoteWHSOLineId]
	@PLNo int, @ItemId varchar(24)
AS
BEGIN

--DECLARE @PLNo int = 26407
--DECLARE @ItemId varchar(24) = 'RM-CADC5133-PRP'

IF EXISTS (
	SELECT SOLine
	FROM [W005].[dbo].[ShipPackingListSOLine]
	WHERE PLNo =@PLNo AND ItemId = @ItemId
	)
BEGIN
	SELECT SOLine
	FROM [W005].[dbo].[ShipPackingListSOLine]
	WHERE PLNo =@PLNo AND ItemId = @ItemId
END
ELSE
BEGIN
	SELECT 0 AS SOLine
END


END


GO
