USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spPFMIncompleteData]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPFMIncompleteData]  /* PFM == Profilometer */
	@Id int, @Retest bit

AS
BEGIN


	SELECT h.Id AS TestHdrId, h.ProdOrder, h.RelNo, h.ItemId,h.ItemDesc
			,o.Id AS TestId, o.SerialNo,o.LotNo,o.PadNo, o.[Rewind],o.Retest,o.Complete,o.Pass
			,o.TestDate,o.UserId,o.GageId,o.Pos1,o.Pos2,o.Pos3,o.Pos4,o.UOM
		FROM [W005].[dbo].[ProfilometerTestHdr] h
			INNER JOIN [W005].[dbo].[ProfilometerTest] o ON o.TestHdrId=h.Id
		WHERE o.Id=@Id






END


GO
