USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spCCIPackingListHeader]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCCIPackingListHeader] @PLNo as int	
AS
BEGIN
	
--DECLARE @PLNo as int = 22021

	SELECT DISTINCT
			pl.OrderNo, 
			pl.ShipDate, 
			pl.CustPO, 
			pl.ShipMethod, 
			pl.ShipTerms, 
			pl.PRONo,
			pl.ShipFromName,
			ShipFromAddr = 
						(IIF(pl.ShipFromAddr1 IS NULL, pl.ShipFromAddr2, IIF(pl.ShipFromAddr2 IS NULL, pl.ShipFromAddr1, pl.ShipFromAddr1 + ', ' + pl.ShipFromAddr2))),
			pl.ShipFromAddr1,
			pl.ShipFromAddr2, 
			pl.ShipFromCity,
			pl.ShipFromRegion,
			pl.ShipFromPostalCode,
			pl.ShipFromCountry,
			pl.[ShipToId],
			pl.[ShipToName],
			pl.[ShipToAddr1],
			pl.[ShipToAddr2],
			pl.[ShipToCity],
			pl.[ShipToRegion],
			pl.[ShipToCountry],
			pl.[ShipToPostalCode],
			c.[CustName] As BillToName, 
			c.[Addr1] As BillToAddr1, 
			c.[Addr2] As BillToAddr2, 
			c.[City] As BillToCity, 
			c.[Region] As BillToRegion, 
			c.[Country] As BillToCountry, 
			c.[PostalCode] As BillToPostalCode,
			TotalKitsInShipment = 
							(SELECT SUM(a.TotalKitsInPkg) 
								FROM
								(SELECT TotalKitsInPkg = IIF(d.ShipPalletId is null,
														IIF(d.ShipCartonId is null,
															IIF(d.ShipBoxId is null, 1
															,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipBoxId=d.ShipBoxId))
														,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipCartonId=d.ShipCartonId))
													,(SELECT COUNT(Id) FROM [W005].[dbo].[ShipItem] WHERE ShipPalletId=d.ShipPalletId))
								FROM [W005].[dbo].[ShipPackingListDetail] d
								WHERE d.PLNo=@PLNo
								)a)
	FROM [W005].[dbo].[ShipPackingList] AS pl
		INNER JOIN [005].[dbo].[tblArCust] c ON c.CustId=pl.CustId
	WHERE pl.PLNo=@PLNo

END	



GO
