USE [W005]
GO
/****** Object:  StoredProcedure [dbo].[spSWWOSetUpAccepted]    Script Date: 7/16/2026 3:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Used by WEBSlitWidth when End of Set TestType selected to confirm a SET UP test has been accepted
-- Called only from lueTestType_EditValueChanged()


CREATE PROCEDURE [dbo].[spSWWOSetUpAccepted]
	@WO as int, @MachineNum int, @ProdOrd varchar(8), @Machine varchar(25)

AS
BEGIN
	
--DECLARE @WO as int = 3860
--DECLARE @MachineNum int = 6



IF EXISTS ( 
			SELECT tgh.Id 
			FROM [W005].[dbo].[SW_TestHdr] th
				INNER JOIN [W005].[dbo].SW_TestGroupHdr tgh ON tgh.TestHdrId = th.ID
				INNER JOIN [W005].[dbo].[SW_TestGroupDtl] tgd ON tgd.TestGroupHdrId=tgh.Id
			WHERE ((th.WorkOrder=@WO AND th.PolarisMachineNum=@MachineNum) OR (th.ProdOrderNo=@ProdOrd AND th.Machine=@Machine)) AND tgh.AcceptedTestGroupDtlId != 0 AND tgh.AcceptedTestGroupDtlId is not null
				AND tgd.TestType IN (SELECT Id FROM [W005].[dbo].[SW_TestType] WHERE (TestTypeName='WO SET UP INITIAL') OR (TestTypeName='WO SET UP RETEST'))
				
		)
	BEGIN 
		SELECT CAST(1 as bit) AS WOSetUpAccepted
	END
ELSE  
	BEGIN
		SELECT CAST(0 as bit) AS WOSetUpAccepted
	END







END






GO
