USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[UpdateNonConformingSKUsActivity]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which updates a Non conforming SKU's root cause corrective action fields
CREATE PROCEDURE [Quality].[UpdateNonConformingSKUsActivity](@IncidentID int, @Condition varchar(50), @ItemID varchar(24), @SerialNumber varchar(35), @LotNumber varchar(16), 
									@RemedialAction varchar(50), @Disposition varchar(50), @SupplierContactName varchar(75), @CostRecovery decimal(20,10)) 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ConditionID int, @RemedialActionID int, @DispositionID int;
	
	--Retrieve the ID which references the named condition, remedial action, and disposition.
	SELECT @ConditionID = Id FROM [W005].Quality.NonConformingConditions WHERE Condition = @Condition;

	SELECT @RemedialActionID = ID FROM [W005].Quality.NonConformingSKURemedialActions WHERE Action = @RemedialAction;

	SELECT @DispositionID = Id FROM [W005].Quality.NonConformityDispositions WHERE Disposition = @Disposition;

	--Update the SKU activity fields.
	UPDATE [W005].Quality.NonConformingSKUs SET RemedialActionID = @RemedialActionID, DispositionID = @DispositionID, SupplierContactName = @SupplierContactName, 
						CostRecovery = @CostRecovery WHERE IncidentID = @IncidentID AND ConditionID = @ConditionID AND ItemID = @ItemID AND SerialNumber = @SerialNumber 
						AND LotNumber = @LotNumber;
END
GO
