USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[UpdateIncident]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which updates a non-conforming incident
CREATE PROCEDURE [Quality].[UpdateIncident](@IncidentID int, @Location varchar(10), @DiscoveryPt varchar(50), @OwnerID varchar(25), @ClosedByID varchar(25), 
					@CloseDate datetime2)
AS
BEGIN
	DECLARE @DiscoveryIndex int, @Open bit

	--Retrieve the index to the supplier discovery point
	SELECT @DiscoveryIndex = Id FROM [W005].Quality.NonConformingDiscoveryLocation WHERE Content = @DiscoveryPt;

	--If an employee is credited with closing the incident it must be closed.
	IF @ClosedByID IS NULL SET @Open = 1 ELSE SET @Open = 0;

	--Update the incident's record
	UPDATE [W005].Quality.NonConformingIncident SET Location = @Location, DiscoveryPoint = @DiscoveryIndex, IsOpen = @Open, ClosedBy = @ClosedByID, 
						CloseDate = @CloseDate, Owner = @OwnerID WHERE ID = @IncidentID;

	--Return the names of the incident's owner and the employee who closed it.
	SELECT FirstName + ' ' + LastName AS OwnerName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = @OwnerID
	SELECT FirstName + ' ' + LastName AS ClosedByName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = @ClosedByID
END
GO
