USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[InsertNonConformingSKU]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Procedure which adds a non-conforming SKU to an incident and one of its conditions
CREATE PROCEDURE [Quality].[InsertNonConformingSKU](@itemID varchar(24), @serialNumber varchar(35), @lotNumber varchar(16), @incidentID int, @condition varchar(50), 
							@quantity decimal(20,10),  @units varchar(5), @unitCost decimal(20,10), @extendedCost decimal(20,10), @poNumber varchar(8), @lineNumber int, @vendorID varchar(10), 
							@VendorName varchar(30), @remedialAction varchar(50))
AS
BEGIN
	--Added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

	DECLARE @conditionID int, @remedialActionID int;

	--Use the condition description to retrieve the index to that table.
	SELECT @conditionID = Id FROM Quality.NonConformingConditions WHERE Condition = @condition;

	--Use the remedial action description to retrieve the index to that table.
	SELECT @remedialActionID = ID FROM Quality.NonConformingSKURemedialActions WHERE Action = @remedialAction;

	--Insert the new record.
	INSERT INTO Quality.NonConformingSKUs (ItemID, SerialNumber, LotNumber, IncidentID, ConditionID, Quantity, UOM, UnitCost, ExtendedCost, PONumber, LineNumber, VendorID, VendorName, 
					RemedialActionID, DispositionID) VALUES(@itemID, @serialNumber, @LotNumber, @incidentID, @conditionID, @quantity, @units, @unitCost, @extendedCost, @poNumber, 
					@lineNumber, @vendorID, @VendorName, @remedialActionID, null);
END
GO
