USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[GetContentsOfBag]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which returns the contents of the specified Bag and have the specified item ID
CREATE PROCEDURE [Quality].[GetContentsOfBag](@BagID int, @itemID varchar(24))
AS
BEGIN
	SELECT 
		kitBag.Id AS [Bag ID],
		kitBag.ItemId,
		ori.TravSerNum,
		ori.TravLotNum
	FROM dbo.CCIKitBag kitBag
	LEFT JOIN dbo.CCIKitBagDetail bagDetail ON bagDetail.CCIKitBagId = kitBag.Id
	LEFT JOIN dbo.OrderReleaseEventItem ori ON ori.Id = bagDetail.OrderReleaseEventItemId
		WHERE kitBag.Id = @BagID AND kitBag.ItemId = @itemID;
END;
GO
