USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[GetSKU]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Quality].[GetSKU](@SerialNumber varchar(16) = NULL, @LotNumber varchar(16) = NULL, @ItemID varchar(24) = NULL)
AS
BEGIN
	;WITH dataSet AS
	(
	SELECT 
		locLotView.ItemId,
		locLotView.LocId,
		locLotView.LotNum,
		locLotView.[cf_Lot No.],
		locLotView.[cf_Serial No.],
		histRcpt.TransId AS [PONumber],
		histRcpt.EntryNum AS [LineNumber],
		header.TransType AS [TransType],
		detail.ItemId AS [DetailItemID],
		histRcpt.QtyFilled AS [Qty],
		detail.Units AS[UOM],
		histRcpt.UnitCost,
		histRcpt.ExtCost AS [ExtendedCost],
		vendor.VendorID,
		vendor.Name AS [VendorName]
	FROM [005].dbo.trav_tblInItemLocLot_View locLotView
	LEFT JOIN [005].dbo.tblPoHistLotRcpt histRcpt ON histRcpt.LotNum = locLotView.LotNum
	LEFT JOIN [005].dbo.tblPoHistHeader header ON header.TransId = histRcpt.TransId
	LEFT JOIN [005].dbo.tblPoHistDetail detail On detail.TransID = histRcpt.TransId AND detail.EntryNum = histRcpt.EntryNum
	LEFT JOIN [005].dbo.tblApVendor vendor ON vendor.VendorID = header.VendorId
		WHERE (locLotView.[cf_Serial No.] = ISNULL(@SerialNumber, locLotView.[cf_Serial No.]) OR COALESCE(@SerialNumber, locLotView.[cf_Serial No.], '') = '') AND
					    (locLotView.[cf_Lot No.] = ISNULL(@LotNumber, locLotView.[cf_Lot No.]) OR COALESCE(@lotNumber, locLotView.[cf_Lot No.], '') = '') AND
						(locLotView.ItemId = ISNULL(@ItemID, locLotView.ItemId) OR COALESCE(@ItemID, locLotView.ItemId, '') = '')
	UNION
		SELECT 
		locLotView.ItemId,
		locLotView.LocId,
		locLotView.LotNum,
		locLotView.[cf_Lot No.],
		locLotView.[cf_Serial No.],
		Rcpt.TransId AS [PONumber],
		Rcpt.EntryNum AS [LineNumber],
		header.TransType AS [TransType],
		detail.ItemId AS [DetailItemID],
		Rcpt.QtyFilled AS [Qty],
		detail.Units AS [UOM],
		Rcpt.UnitCost,
		Rcpt.ExtCost AS [ExtendedCost],
		vendor.VendorID,
		vendor.Name AS [VendorName]
	FROM [005].dbo.trav_tblInItemLocLot_View locLotView
	LEFT JOIN [005].dbo.tblPoTransLotRcpt Rcpt ON Rcpt.LotNum = locLotView.LotNum
	LEFT JOIN [005].dbo.tblPoTransHeader header ON header.TransId = Rcpt.TransId
	LEFT JOIN [005].dbo.tblPoTransDetail detail On detail.TransID = Rcpt.TransId AND detail.EntryNum = Rcpt.EntryNum
	LEFT JOIN [005].dbo.tblApVendor vendor ON vendor.VendorID = header.VendorId
		WHERE (locLotView.[cf_Serial No.] = ISNULL(@SerialNumber, locLotView.[cf_Serial No.]) OR COALESCE(@SerialNumber, locLotView.[cf_Serial No.], '') = '') AND
					    (locLotView.[cf_Lot No.] = ISNULL(@LotNumber, locLotView.[cf_Lot No.]) OR COALESCE(@lotNumber, locLotView.[cf_Lot No.], '') = '') AND
						(locLotView.ItemId = ISNULL(@ItemID, locLotView.ItemId) OR COALESCE(@ItemID, locLotView.ItemId, '') = ''))

	SELECT
		*
	FROM
	(SELECT 
		*,
		DENSE_RANK() OVER(PARTITION BY ItemId, LocId, LotNum ORDER BY PONumber DESC) AS Ranking
	FROM dataSet WHERE (PONumber IS NULL OR (ItemId = DetailItemID AND TransType > 0)))A
	WHERE Ranking = 1;
END
GO
