USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[UpdateNonConformingSKUsRCCA]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which updates a Non conforming SKU's root cause corrective action fields
CREATE PROCEDURE [Quality].[UpdateNonConformingSKUsRCCA](@IncidentID int, @Condition varchar(50), @ItemID varchar(24), @SerialNumber varchar(35), @LotNumber varchar(16), 
									@RootCauseCorrectiveAction bit, @RCCADueDate datetime2, @RCCACompletedDate datetime2, @CreditDue bit, @CreditValue decimal(20,10), 
									@CreditComplete bit) 
AS
BEGIN
	DECLARE @ConditionID int;
	
	--Retrieve the ID which references the named condition.
	SELECT @ConditionID = Id FROM [W005].Quality.NonConformingConditions WHERE Condition = @Condition;

	UPDATE Quality.NonConformingSKUs SET RootCauseCorrectiveAction = @RootCauseCorrectiveAction, RCCADueDate = @RCCADueDate, 
						RCCACompletedDate = @RCCACompletedDate, CreditDue = @CreditDue, CreditValue = @CreditValue, CreditComplete = @CreditComplete 
						WHERE IncidentID = @IncidentID AND ConditionID = @ConditionID AND ItemID = @ItemID AND SerialNumber = @SerialNumber AND LotNumber = @LotNumber;
END
GO
