USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[InsertSupplierContact]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Procedure which adds a supplier contact to the quality system.
CREATE PROCEDURE [Quality].[InsertSupplierContact](@vendorName varchar(30), @name varchar(75), @Addr1 varchar(30), @Addr2 varchar(60), @city varchar(30), @region varchar(10),
			@Country varchar(6), @postalCode varchar(10), @phone varchar(15), @email varchar(255), @url varchar(255), @CurrencyID varchar(6), @memo varchar(100))
AS
BEGIN
	--Added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

	DECLARE @vendorID varchar(10);

	--Get the ID used to reference the vendor with the specified name
	SELECT @vendorId = VendorID FROM [005].dbo.tblApVendor WHERE Name = @vendorName;

	--When a record for this contact isn't already in the table, add the new contact.
	IF NOT EXISTS (SELECT 1 FROM Quality.SupplierContact WHERE VendorID = @vendorID AND ContactName = @name)
	BEGIN
		INSERT INTO Quality.SupplierContact (VendorID, ContactName, Address1, Address2, City, Region, Country, PostalCode, Phone, Email, InternetURL, CurrencyID, Memo) 
			VALUES(@vendorId, @name, @Addr1, @Addr2, @city, @region, @Country, @postalCode, @phone, @email, @url, @CurrencyID, @memo)
	END
END
GO
