USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[InsertIncident]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Procedure which inserts a new non-conforming incident record into that table and returns the identity index of the new record.
CREATE PROCEDURE [Quality].[InsertIncident] (@location varchar(10), @DiscoveryPoint varchar(50), @originator varchar(25))
AS
BEGIN
	--Added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

	DECLARE @DiscoveryIndex int;

	--Use the discovery point description to retrieve the index to that table.
	SELECT @DiscoveryIndex = Id FROM Quality.NonConformingDiscoveryLocation WHERE Content = @DiscoveryPoint;

	--Insert the new record.
	INSERT INTO Quality.NonConformingIncident (Location, DiscoveryPoint, IsOpen, OpenedBy, OpenDate, ClosedBy, CloseDate) 
			VALUES (@location, @DiscoveryIndex, 1, @originator, GETDATE(), null, null);

	--Return the index to the newly created record.
	SELECT SCOPE_IDENTITY();
END;
GO
