USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[InsertNonConformingCondition]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- Procedure which adds a non-conforming condition to an incident.
CREATE PROCEDURE [Quality].[InsertNonConformingCondition](@incidentID int, @condition varchar(50), @cause varchar(10))
AS
BEGIN
	--Added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

	DECLARE @conditionID int;

	--Use the condition description to retrieve the index to that table.
	SELECT @conditionID = Id FROM Quality.NonConformingConditions WHERE Condition = @condition;

	--Insert the new record.
	INSERT INTO Quality.NonConformingIncidentConditions (IncidentID, ConditionID, IsResolved, Cause) VALUES (@incidentID, @conditionID, 0, @cause);
END
GO
