USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[UpdateSupplierContact]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which updates a supplier contact record.
CREATE PROCEDURE [Quality].[UpdateSupplierContact](@VendorName varchar(30), @ContactName varchar(75), @Addr1 varchar(30), @Addr2 varchar(60), @City varchar(30), 
									@Region varchar(10), @Country varchar(6), @PostalCode varchar(10), @Phone varchar(15), @Email varchar(255), @InternetURL varchar(255), 
									@CurrencyID varchar(6), @Memo varchar(100))
AS
BEGIN
	DECLARE @VendorID varchar(10);
	
	--Retrieve the ID which references the named vendor.
	SELECT @VendorID = VendorID FROM [005].dbo.tblApVendor WHERE Name = @VendorName;

	UPDATE Quality.SupplierContact SET Address1 = @Addr1, Address2 = @Addr2, City = @City, Region = @Region, Country = @Country, PostalCode = @PostalCode,
		Phone = @Phone, Email = @Email, InternetURL = @InternetURL, CurrencyID = @CurrencyID, Memo = @Memo WHERE VendorID = @VendorID AND ContactName = @ContactName;
END
GO
