USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[TraverseIDToName]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Quality].[TraverseIDToName](@ID varchar(25))
AS
BEGIN
	--Return the name of the employee who has been assigned the supplied Traverse ID
	SELECT FirstName + ' ' + LastName AS OwnerName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = @ID
END;
GO
