USE [W005]
GO
/****** Object:  StoredProcedure [Quality].[GetSupplierContact]    Script Date: 7/16/2026 3:53:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure which returns specified supplier contact(s)
CREATE PROCEDURE [Quality].[GetSupplierContact](@vendorName varchar(30), @contactName varchar(75))
AS
BEGIN
	--Added to prevent extra result sets from interfering with SELECT statements
	SET NOCOUNT ON;

	DECLARE @vendorID varchar(10);

	--Get the ID used to reference the vendor with the specified name
	SELECT @vendorId = VendorID FROM [005].dbo.tblApVendor WHERE Name = @vendorName;

	--When no contact name is specified, return all contacts for the vendor, otherwise only the specific contact.
	IF @contactName IS NULL
		SELECT * FROM Quality.SupplierContact WHERE VendorID = @vendorID;
	ELSE
		SELECT * FROM Quality.SupplierContact WHERE VendorID = @vendorID AND ContactName = @contactName;
END
GO
