USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSettlement_GlLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSettlement_GlLog_proc]  
AS 
Set NOCOUNT ON 
BEGIN TRY   
   
DECLARE @PostRun [nvarchar](14), @WrkStnDate datetime ,@PaymentMethodID nvarchar(20) ,@SettlementDate datetime, 
		@FiscalPeriod smallint,@FiscalYear smallint ,  
		@CompId nvarchar(3), @TransType nvarchar(10) , @GlDebitAcct  [nvarchar](255)       
              
 --Retrieve global values              
 SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'              
 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WorkStationDate'           
 SELECT @PaymentMethodID = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'PaymentMethodID'              
 SELECT @SettlementDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'SettlementDate'              
 SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'              
 SELECT @FiscalYear= Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'    
 SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'  
 SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'               
              
 IF @PostRun IS NULL OR @WrkStnDate IS NULL OR @PaymentMethodID IS NULL         
      OR @SettlementDate  IS NULL OR @FiscalPeriod IS NULL         
      OR @FiscalYear IS NULL OR @CompId IS NULL        
 BEGIN              
  THROW 90025, N'Missing global value.', 1              
 END   
 
 SELECT @GlDebitAcct = p.GLAcctDebit FROM  tblArPmtMethod p WHERE p.PmtMethodID=@PaymentMethodID
  
 CREATE TABLE #ArSettlementPostLog   
 (    
  [Descr] [nvarchar](30) NULL,  
  [AcctID] [nvarchar](255) NULL,  
  [DebitAmt] [decimal](28,10) NULL,  
  [CreditAmt] [decimal](28,10) NULL,  
  [DebitAmtBase] [decimal](28,10) NULL,  
  [CreditAmtBase] [decimal](28,10) NULL,     
  [TransId] [int] NULL,  
  [CurrencyID] [nvarchar](6) NULL ,
  [InvcNum] [nvarchar](15) NULL
 )  
  
  --Credit - Dist Code Receivables Account  
 INSERT INTO #ArSettlementPostLog (Descr, AcctID, DebitAmt, CreditAmt,DebitAmtbase, CreditAmtBase, TransId,CurrencyID,InvcNum)  
 SELECT i.InvcNum,d.GLAcctReceivables,
  CASE WHEN b.Balance < 0 THEN -b.Balance ELSE 0 END,
  CASE WHEN b.Balance > 0 THEN b.Balance ELSE 0 END,
  CASE WHEN b.BalanceBase < 0 THEN -b.BalanceBase ELSE 0 END, 
  CASE WHEN b.BalanceBase > 0 THEN b.BalanceBase ELSE 0 END,
  i.[Counter],b.CurrencyID,i.InvcNum
 FROM #Settlement_InvoiceAmount b  
 INNER JOIN  dbo.tblArOpenInvoice i ON b.InvoiceID=i.[Counter]  
 INNER JOIN dbo.tblArDistCode d ON i.DistCode=d.DistCode     
  
 --Debit - GL Account Debit  of the Payment Method  
 INSERT INTO #ArSettlementPostLog (Descr, AcctID, DebitAmt, CreditAmt,DebitAmtbase, CreditAmtBase, TransId,CurrencyID,InvcNum)  
 SELECT i.InvcNum,@GlDebitAcct
 ,CASE WHEN b.Balance > 0 THEN b.Balance ELSE 0 END
 ,CASE WHEN b.Balance < 0 THEN -b.Balance ELSE 0 END
 ,CASE WHEN b.BalanceBase > 0 THEN b.BalanceBase ELSE 0 END
 ,CASE WHEN b.BalanceBase < 0 THEN -b.BalanceBase ELSE 0 END
 ,i.[Counter],b.CurrencyID ,i.InvcNum 
 FROM #Settlement_InvoiceAmount b  
 INNER JOIN  dbo.tblArOpenInvoice i ON b.InvoiceID=i.[Counter]  
   
 INSERT #DetailPostLog( PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod  
   , [Description], Reference, SourceCode, CreditAmountBase, DebitAmountBase, CreditAmount, DebitAmount, CurrencyId  
   , TransDate, PostDate, LinkId ,LinkIdSub,LinkIdSubLine)    
  SELECT @PostRun, @TransType, TransId, @PostRun, @CompId, AcctID, @FiscalYear, @FiscalPeriod  
   , Descr, 'AR', 'AR', CreditAmtBase,  DebitAmtbase, CreditAmt, DebitAmt, CurrencyID  
   , @SettlementDate, @WrkStnDate, TransId ,InvcNum,-1 
  FROM  #ArSettlementPostLog   
   
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_GlLog_proc'
GO
