USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrMachineGroupsList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrMachineGroupsList_proc]
@MaintenanceCutoffDate  DateTime 

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT m.MachineGroupId, m.Descr, m.Notes, m.MaintCycle, m.MaintDate, m.QtyAvail, m.HrlyCostFactor, m.SetupTime
		, m.ScheduleId, m.GLAcct1, m.CostGroupId, m.MGID, m.PurchaseDate
	FROM dbo.tblMrMachineGroups m INNER JOIN #tmpMachineGroupsList t ON m.MachineGroupId = t.MachineGroupId 
	WHERE @MaintenanceCutoffDate IS NULL --all machine groups
		OR  (m.MaintCycle > 0 AND m.MaintDate IS NOT NULL AND DATEADD(day, m.MaintCycle, m.MaintDate) <= @MaintenanceCutoffDate) --or pull the ones that need maintenance

	SELECT m.MachineGroupId, m.LaborTypeId, l.Descr 
	FROM dbo.tblMrMachineLabor m LEFT JOIN dbo.tblMrLabor l ON m.LaborTypeId = l.LaborTypeId
		INNER JOIN #tmpMachineGroupsList t on m.MachineGroupId = t.MachineGroupId
		INNER JOIN tblMrMachineGroups mg on mg.MachineGroupId = t.MachineGroupId
	WHERE @MaintenanceCutoffDate IS NULL --all machine groups
		OR  (mg.MaintCycle > 0 AND mg.MaintDate IS NOT NULL AND DATEADD(day, mg.MaintCycle, mg.MaintDate) <= @MaintenanceCutoffDate) --or pull the ones that need maintenance
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrMachineGroupsList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrMachineGroupsList_proc'
GO
