USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmUpdatePerpetual_ProcessInvalidExtLoc_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmUpdatePerpetual_ProcessInvalidExtLoc_proc]
@BatchId pBatchId
AS
BEGIN TRY

	DECLARE @QuantityID bigInt

	--Retrieve global values
	SELECT @QuantityID = Cast([Value] AS bigInt) FROM #GlobalValues WHERE [Key] = 'QuantityID'

	IF @QuantityID IS NULL
	BEGIN  
	 THROW 90025, N'Missing global value.', 1  
	END 

	INSERT INTO dbo.tblInQtyOnHand_Ext ([ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB], [Qty], [ID])
	SELECT e.ItemId, e.LocId, e.LotNum, e.ExtLocA, e.ExtLocB, -SUM(Qty) AS QtyOnHand, @QuantityID + ROW_NUMBER() OVER (ORDER BY e.ItemId, e.LocId)
		FROM (SELECT d.ID, c.ItemID, c.CountUom, c.BatchID, b.LocID, ISNULL(d.NewExtLocAID, d.ExtLocAID) as ExtLocAID, ISNULL(d.NewExtLocBID, d.ExtLocAID) ExtLocBID, d.SerNum, d.LotNum, d.QtyCounted, d.QtyFrozen, d.QtyStatus
				FROM dbo.tblWmPhysicalCountHeader c 
				INNER JOIN tblWmPhysicalCountDetail d ON c.ID = d.HeaderID
				INNER JOIN tblWmPhysicalCountBatch b ON c.BatchID = b.BatchID) c
			INNER JOIN dbo.tblInQtyOnHand_Ext e ON 
				c.ItemId = e.ItemId AND c.LocId = e.LocId AND (c.LotNum = e.LotNum OR (c.LotNum IS NULL AND e.LotNum IS NULL))
			LEFT JOIN dbo.tblWmExtLoc a ON e.ExtLocA = a.Id 
			LEFT JOIN dbo.tblWmExtLoc b ON e.ExtLocB = b.Id 
		WHERE c.BatchId = @BatchId AND (e.ExtLocA IS NOT NULL AND a.Id IS NULL) OR (e.ExtLocB IS NOT NULL AND b.Id IS NULL)
		GROUP BY e.ItemId, e.LocId, e.LotNum, e.ExtLocA, e.ExtLocB

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_ProcessInvalidExtLoc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_ProcessInvalidExtLoc_proc'
GO
