USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvServiceOrderPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvServiceOrderPost_InHistory_proc]
AS
BEGIN TRY

	UPDATE dbo.tblInQty SET Qty = 0
	FROM dbo.tblInQty INNER JOIN dbo.tblSvWorkOrderTrans s ON dbo.tblInQty.ID = s.QuantityCmtdID
		INNER JOIN #TransactionListToProcessTable t ON s.Id = t.TransId
		
	UPDATE dbo.tblInQty_Ext SET Qty = 0
	FROM dbo.tblInQty_Ext INNER JOIN dbo.tblSvWorkOrderTransExt s ON dbo.tblInQty_Ext.ID = s.QuantityCmtdID
		INNER JOIN #TransactionListToProcessTable t ON s.TransId = t.TransId

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId)
	SELECT tr.HistoryID, tr.FiscalYear, tr.FiscalPeriod, tr.TransDate, null, null
	FROM #TransactionListToProcessTable t INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	WHERE ISNULL(tr.HistoryID, 0) > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId)
	SELECT d.HistoryID, tr.FiscalYear, tr.FiscalPeriod, tr.TransDate, null, null
	FROM #TransactionListToProcessTable t INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
		INNER JOIN dbo.tblSvWorkOrderTransExt d ON tr.ID = d.TransID 
		INNER JOIN dbo.tblInItem i ON tr.ResourceID = i.ItemId 
	WHERE i.LottedYN = 1 AND d.LotNum IS NOT NULL AND ISNULL(d.HistoryID, 0) > 0 --Lotted

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_InHistory_proc'
GO
