USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrWorkCentersList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrWorkCentersList_proc]


AS
SET NOCOUNT ON
BEGIN TRY

SELECT w.WorkCenterId, w.Descr, w.Notes, w.MGID, w.ScheduleId, w.GLAcct1, w.Super, w.CostGroupId, w.BillRate, w.BillMethod
	, w.OverheadLaborPct, w.OverheadFlatAmt, w.OverheadPerPiece, w.OverheadMachPct
FROM dbo.tblMrWorkCenter w INNER JOIN #tmpWorkCentersList t on w.WorkCenterId = t.WorkCenterId 

SELECT w.WorkCenterId, m.MachineGroupId, m.Descr 
FROM dbo.tblMrWCMachineGroups w INNER JOIN dbo.tblMrMachineGroups m ON w.MachineGroupId = m.MachineGroupId
INNER JOIN #tmpWorkCentersList t on w.WorkCenterId = t.WorkCenterId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrWorkCentersList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrWorkCentersList_proc'
GO
