USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_IN_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_IN_Transactions_proc]
AS
BEGIN TRY
	--IN Adjustments to WM Adjustments
	BEGIN
		DECLARE @InTransBatchID as pBatchID, @NextTransID int
		SET @InTransBatchID = 'InTran'

		SELECT @NextTransID = MAX(TransId) FROM dbo.tblWmTrans
		SET @NextTransID = ISNULL(@NextTransID,0)

		--Create WM Adjustments Batch Code for migratiing IN Adjustments
		INSERT INTO dbo.tblSmBatch (FunctionId, BatchId, Descr, CreateDate, Lock, LockBy, LockDate, ProcessId, Status, Permanent, DefaultYn)
		SELECT 'WMTRANS' AS FunctionId,@InTransBatchID AS BatchId,'IN transactions to WM transactions migration.' AS Descr,
			CONVERT(varchar(8),GETDATE(),112) AS CreateDate,0 AS Lock,NULL AS LockBy,NULL AS LockDate,NULL AS ProcessId, 
			'<ArrayOfEntityPropertyOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><EntityPropertyOfString><Name>TransJournal</Name><Value>0</Value></EntityPropertyOfString></ArrayOfEntityPropertyOfString>' AS [Status],
			0 AS Permanent,0 AS DefaultYn
		WHERE NOT EXISTS(SELECT * FROM dbo.tblSmBatch WHERE FunctionId = 'WMTRANS' AND BatchId = @InTransBatchID)

		INSERT INTO dbo.tblWmTrans (TransId, BatchId, TransType, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, Uom, UnitCost, EntryDate, TransDate, GLPeriod, GlYear, GLAcctOffset, HistSeqNum, QtySeqNum, QtySeqNumExt, Cmnt, CF, QtyStatus,
			QuantityID, HistoryID, QuantityExtID)
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @NextTransID AS TransId,@InTransBatchID AS BatchId,t.TransType,t.ItemId,t.LocId,NULL AS LotNum,
			NULL AS ExtLocA,NULL AS ExtLocB,t.Qty,t.Uom,t.CostUnitTrans AS UnitCost,GETDATE() AS EntryDate,t.TransDate,t.GLPeriod,t.SumYear AS GlYear,
			t.GLAcctOffset,t.HistSeqNum,t.QtySeqNum,0 AS QtySeqNumExt,t.Cmnt,t.CF,NULL AS QtyStatus,ISNULL(t.QuantityID,t.QtySeqNum),t.HistSeqNum, NULL AS QuantityExtID
		FROM dbo.tblInTrans t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId 
		WHERE t.TransType IN (31,32) AND i.ItemType = 1 AND i.LottedYN = 0 --Regular and non-lotted

		SELECT @NextTransID = MAX(TransId) FROM dbo.tblWmTrans
		SET @NextTransID = ISNULL(@NextTransID,0)

		INSERT INTO dbo.tblWmTrans (TransId, BatchId, TransType, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, Uom, UnitCost, EntryDate, TransDate, GLPeriod, GlYear, GLAcctOffset, HistSeqNum, QtySeqNum, QtySeqNumExt, Cmnt, CF, QtyStatus,
			QuantityID, HistoryID, QuantityExtID)
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @NextTransID AS TransId,@InTransBatchID AS BatchId,t.TransType,l.ItemId,l.LocId,l.LotNum,
			NULL AS ExtLocA,NULL AS ExtLocB,l.QtyFilled AS Qty,t.Uom,l.CostUnit AS UnitCost,GETDATE() AS EntryDate,t.TransDate,t.GLPeriod,t.SumYear AS GlYear,
			t.GLAcctOffset,l.HistSeqNum,l.QtySeqNum,0 AS QtySeqNumExt,t.Cmnt,t.CF,NULL AS QtyStatus,ISNULL(l.QuantityID,l.QtySeqNum),l.HistSeqNum, NULL AS QuantityExtID
		FROM dbo.tblInTrans t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId 
			INNER JOIN dbo.tblInTransLot l ON t.TransId = l.TransId
		WHERE t.TransType IN (31,32) AND i.ItemType = 1 AND i.LottedYN = 1 --Regular and lotted

		SELECT @NextTransID = MAX(TransId) FROM dbo.tblWmTrans
		SET @NextTransID = ISNULL(@NextTransID,0)

		INSERT INTO dbo.tblWmTrans (TransId, BatchId, TransType, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, Uom, UnitCost, EntryDate, TransDate, GLPeriod, GlYear, GLAcctOffset, HistSeqNum, QtySeqNum, QtySeqNumExt, Cmnt, CF, QtyStatus,
			QuantityID, HistoryID, QuantityExtID)
		SELECT ROW_NUMBER() OVER(ORDER BY t.TransId) + @NextTransID AS TransId,@InTransBatchID AS BatchId,t.TransType,t.ItemId,t.LocId,NULL AS LotNum,
			NULL AS ExtLocA,NULL AS ExtLocB,t.Qty,t.Uom,t.CostUnitTrans AS UnitCost,GETDATE() AS EntryDate,t.TransDate,t.GLPeriod,t.SumYear AS GlYear,
			t.GLAcctOffset,t.HistSeqNum,0 AS QtySeqNum,t.TransId AS QtySeqNumExt,t.Cmnt,t.CF,NULL AS QtyStatus, --Temporarily set QtySeqNumExt to tblInTrans.TransId
			NULL AS QuantityID,t.HistSeqNum, NULL AS QuantityExtID
		FROM dbo.tblInTrans t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId 
		WHERE t.TransType IN (31,32) AND i.ItemType = 2 --Serialized

		INSERT INTO dbo.tblWmTransSer (TransId, ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, CostUnit, CostUnitFgn, CostUnitACV, PriceUnit, PriceUnitFgn, HistSeqNum, Cmnt, CF, QtyStatus,[HistorySerID])
		SELECT w.TransId,s.ItemId,s.LocId,s.LotNum,s.SerNum,NULL AS ExtLocA,NULL AS ExtLocB,s.CostUnit,s.CostUnitFgn,s.CostUnitACV,s.PriceUnit,s.PriceUnitFgn,s.HistSeqNum,s.Cmnt,s.CF,NULL AS QtyStatus, s.HistSeqNum
		FROM dbo.tblInTrans t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId 
			INNER JOIN dbo.tblInTransSer s ON t.TransId = s.TransId 
			INNER JOIN dbo.tblWmTrans w ON t.TransId = w.QtySeqNumExt --Should be one to one
		WHERE t.TransType IN (31,32) AND i.ItemType = 2 --Serialized

		--Reset tblWmTrans.QtySeqNumExt to zero
		UPDATE dbo.tblWmTrans SET QtySeqNumExt = 0 
		WHERE QtySeqNumExt <> 0

		--Update next WM Transaction ID
		SELECT @NextTransID = MAX(TransId) FROM dbo.tblWmTrans
		SET @NextTransID = ISNULL(@NextTransID,0) + 1

		IF EXISTS(SELECT * FROM dbo.tblSmTransID WHERE FunctionID = 'WMTRANS')
		BEGIN
			UPDATE dbo.tblSmTransID SET [NextID] = @NextTransID
			WHERE FunctionID = 'WMTRANS' AND [NextID] < @NextTransID
		END
		ELSE
		BEGIN
			INSERT INTO dbo.tblSmTransID([FunctionID],[NextID])
			VALUES('WMTRANS',@NextTransID)
		END

		--Remove IN Adjustments
		DELETE dbo.tblInTransLot
		FROM dbo.tblInTransLot l INNER JOIN dbo.tblInTrans t ON l.TransId = t.TransId
		WHERE t.TransType IN (31,32)

		DELETE dbo.tblInTransSer 
		FROM dbo.tblInTransSer s INNER JOIN dbo.tblInTrans t ON s.TransId = t.TransId
		WHERE t.TransType IN (31,32)

		DELETE dbo.tblInTrans 
		WHERE TransType IN (31,32)
	END

	--IN Transfers to WM Transfers
	BEGIN
		DECLARE @InXfersBatchID as pBatchID, @MaxTranKey bigint, @MaxTranPickKey bigint, @MaxTranRcptKey bigint

		--Temp tables for linking IN transaction records to WM transaction records
		CREATE TABLE #tmpWmTransfer (TranKey bigint NOT NULL, TransId int NOT NULL)
		CREATE TABLE #tmpWmTransferPick (TranPickKey bigint NOT NULL, TransId int NOT NULL)

		--Create WM Transfers Batch Code
		SET @InXfersBatchID = 'InXfer'
		INSERT INTO dbo.tblSmBatch (FunctionId, BatchId, Descr, CreateDate, Lock, LockBy, LockDate, ProcessId, Status, Permanent, DefaultYn)
		SELECT 'WMTRANSFER' AS FunctionId,@InXfersBatchID AS BatchId,'IN transfers to WM transfers migration.' AS Descr,
			CONVERT(varchar(8),GETDATE(),112) AS CreateDate,0 AS Lock,NULL AS LockBy,NULL AS LockDate,NULL AS ProcessId, 
			'<ArrayOfEntityPropertyOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EntityPropertyOfString><Name>TransferJournal</Name><Value>0</Value></EntityPropertyOfString></ArrayOfEntityPropertyOfString>' AS [Status],
			0 AS Permanent,0 AS DefaultYn
		WHERE NOT EXISTS(SELECT * FROM dbo.tblSmBatch WHERE FunctionId = 'WMTRANSFER' AND BatchId = @InXfersBatchID)

		SELECT @MaxTranKey = MAX(TranKey) FROM dbo.tblWmTransfer
		SET @MaxTranKey = ISNULL(@MaxTranKey,0)

		INSERT INTO #tmpWmTransfer (TranKey, TransId)
		SELECT ROW_NUMBER() OVER(ORDER BY TransId) + @MaxTranKey AS TranKey,TransId
		FROM dbo.tblInXfers

		--Create WM Transfer with Completed status
		INSERT INTO dbo.tblWmTransfer (TranKey, BatchID, Status, ItemId, LocId, LocIdTo, LotNum, Qty, UOM, CostTransfer, EntryDate, TransDate, PackNum, Cmnt, QtySeqNum_OnOrd, QtySeqNum_Cmtd, CF, [QuantityCmtdID], [QuantityOnOrdID], [QuantityExtID])
		SELECT t.TranKey,@InXfersBatchID AS BatchID,2 AS [Status],x.ItemIdFrom AS ItemId,x.LocIdFrom AS LocId,LocIdTo,NULL AS LotNum,Qty,Uom,CostUnitXfer AS CostTransfer,GETDATE() AS EntryDate,XferDate AS TransDate,
			NULL AS PackNum,Cmnt,NULL AS QtySeqNum_OnOrd,NULL AS QtySeqNum_Cmtd,CF, NULL AS [QuantityCmtdID], NULL AS [QuantityOnOrdID], NULL AS [QuantityExtID]
		FROM dbo.tblInXfers x INNER JOIN #tmpWmTransfer t ON x.TransId = t.TransId

		--Create WM Transfer Pick and Receipt
		SELECT @MaxTranPickKey = MAX(TranPickKey) FROM dbo.tblWmTransferPick
		SET @MaxTranPickKey = ISNULL(@MaxTranPickKey,0)

		INSERT INTO #tmpWmTransferPick (TranPickKey, TransId)
		SELECT ROW_NUMBER() OVER(ORDER BY TransId) + @MaxTranPickKey AS TranPickKey,TransId
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId 
		WHERE i.ItemType = 1 AND i.LottedYN = 0 --Regular non-lotted

		INSERT INTO dbo.tblWmTransferPick(TranKey, TranPickKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, QOOSeqNum, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus,
			QuantityID, QuantityOnOrdID, QuantityExtID, HistoryID, HistorySerID)
		SELECT w.TranKey,ROW_NUMBER() OVER(ORDER BY x.TransId) + @MaxTranPickKey AS TranPickKey,x.ItemIdFrom AS ItemId,x.LocIdFrom AS LocId,
			NULL AS SerNum,NULL AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,x.Qty,x.Uom,x.CostUnit AS UnitCost,x.CostUnit AS UnitCostACV, --Use base unit cost for ACV unit cost, IN quantity and history should have correct value.
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,x.QtySeqNumFrom AS QOHSeqNum,0 AS QOHSeqNumExt,
			0 AS QOOSeqNum,x.HistSeqNumFrom AS HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, ISNULL(x.QuantityIDFrom,x.QtySeqNumFrom), NULL AS QuantityOnOrdID, NULL AS QuantityExtID, x.HistSeqNumFrom, NULL AS HistorySerID
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
		WHERE i.ItemType = 1 AND i.LottedYN = 0 --Regular non-lotted

		SELECT @MaxTranRcptKey = MAX(TranRcptKey) FROM dbo.tblWmTransferRcpt
		SET @MaxTranRcptKey = ISNULL(@MaxTranRcptKey,0)

		INSERT INTO dbo.tblWmTransferRcpt(TranPickKey, TranRcptKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, HistSeqNum, HistSeqNumSer, [Status], TranKey, QtyStatus,
			QuantityID, QuantityExtID, HistoryID, HistorySerID)
		SELECT p.TranPickKey,ROW_NUMBER() OVER(ORDER BY x.TransId) + @MaxTranRcptKey AS TranRcptKey,x.ItemIdFrom AS ItemId,x.LocIdTo AS LocId,
			NULL AS SerNum,NULL AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,x.Qty,x.Uom,x.CostUnit AS UnitCost,x.CostUnit AS UnitCostACV, --Use base unit cost for ACV unit cost, IN quantity and history should have correct value.
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,x.QtySeqNumTo AS QOHSeqNum,0 AS QOHSeqNumExt,
			x.HistSeqNumTo AS HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],w.TranKey,NULL AS QtyStatus, ISNULL(x.QuantityIDTo,x.QtySeqNumTo), NULL AS QuantityExtID, x.HistSeqNumTo, NULL AS HistorySerID
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
			INNER JOIN #tmpWmTransferPick p ON x.TransId = p.TransId
		WHERE i.ItemType = 1 AND i.LottedYN = 0 --Regular non-lotted

		DELETE #tmpWmTransferPick

		SELECT @MaxTranPickKey = MAX(TranPickKey) FROM dbo.tblWmTransferPick
		SET @MaxTranPickKey = ISNULL(@MaxTranPickKey,0)

		INSERT INTO #tmpWmTransferPick (TranPickKey, TransId)
		SELECT ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxTranPickKey AS TranPickKey,l.SeqNum
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId 
			INNER JOIN dbo.tblInXferLot l ON x.TransId = l.TransId 
		WHERE i.ItemType = 1 AND i.LottedYN = 1 --Regular lotted

		INSERT INTO dbo.tblWmTransferPick(TranKey, TranPickKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, QOOSeqNum, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus,
			QuantityID, QuantityOnOrdID, QuantityExtID, HistoryID, HistorySerID)
		SELECT w.TranKey,ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxTranPickKey AS TranPickKey,x.ItemIdFrom AS ItemId,x.LocIdFrom AS LocId,
			NULL AS SerNum,l.LotNumFrom AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,l.QtyFilled AS Qty,x.Uom,l.CostUnit AS UnitCost,l.CostUnit AS UnitCostACV, --Use base unit cost for ACV unit cost, IN quantity and history should have correct value.
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,l.QtySeqNumFrom AS QOHSeqNum,0 AS QOHSeqNumExt,
			0 AS QOOSeqNum,l.HistSeqNum AS HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, ISNULL(l.QuantityIDFrom,l.QtySeqNumFrom), NULL AS QuantityOnOrdID, NULL AS QuantityExtID, l.HistSeqNum, NULL AS HistorySerID
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId
			INNER JOIN dbo.tblInXferLot l ON x.TransId = l.TransId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
		WHERE i.ItemType = 1 AND i.LottedYN = 1 --Regular lotted

		SELECT @MaxTranRcptKey = MAX(TranRcptKey) FROM dbo.tblWmTransferRcpt
		SET @MaxTranRcptKey = ISNULL(@MaxTranRcptKey,0)

		INSERT INTO dbo.tblWmTransferRcpt(TranPickKey, TranRcptKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, HistSeqNum, HistSeqNumSer, [Status], TranKey, QtyStatus,
			QuantityID, QuantityExtID, HistoryID, HistorySerID)
		SELECT p.TranPickKey,ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxTranRcptKey AS TranRcptKey,x.ItemIdFrom AS ItemId,x.LocIdTo AS LocId,
			NULL AS SerNum,l.LotNumTo AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,l.QtyFilled AS Qty,x.Uom,l.CostUnit AS UnitCost,l.CostUnit AS UnitCostACV,
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,l.QtySeqNumTo AS QOHSeqNum,0 AS QOHSeqNumExt,
			l.HistSeqNumTo AS HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],w.TranKey,NULL AS QtyStatus, ISNULL(l.QuantityIDTo,l.QtySeqNumTo), NULL AS QuantityExtID, l.HistSeqNumTo, NULL AS HistorySerID
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId
			INNER JOIN dbo.tblInXferLot l ON x.TransId = l.TransId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
			INNER JOIN #tmpWmTransferPick p ON l.SeqNum = p.TransId
		WHERE i.ItemType = 1 AND i.LottedYN = 1 --Regular lotted

		DELETE #tmpWmTransferPick

		SELECT @MaxTranPickKey = MAX(TranPickKey) FROM dbo.tblWmTransferPick
		SET @MaxTranPickKey = ISNULL(@MaxTranPickKey,0)

		INSERT INTO #tmpWmTransferPick (TranPickKey, TransId)
		SELECT ROW_NUMBER() OVER(ORDER BY s.SeqNum) + @MaxTranPickKey AS TranPickKey,s.SeqNum
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId 
			INNER JOIN dbo.tblInXferSer s ON x.TransId = s.TransId 
		WHERE i.ItemType = 2 --Serialized

		INSERT INTO dbo.tblWmTransferPick(TranKey, TranPickKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, QOOSeqNum, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus,
			QuantityID, QuantityOnOrdID, QuantityExtID, HistoryID, HistorySerID)
		SELECT w.TranKey,ROW_NUMBER() OVER(ORDER BY s.SeqNum) + @MaxTranPickKey AS TranPickKey,x.ItemIdFrom AS ItemId,x.LocIdFrom AS LocId,
			s.SerNum,s.LotNumFrom AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,1 AS Qty,x.Uom,s.CostUnit AS UnitCost,s.CostUnit AS UnitCostACV,
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,0 AS QOHSeqNum,0 AS QOHSeqNumExt,
			0 AS QOOSeqNum,x.HistSeqNumFrom AS HistSeqNum,s.HistSeqNum AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, NULL AS QuantityID, NULL AS QuantityOnOrdID, NULL AS QuantityExtID, x.HistSeqNumFrom, s.HistSeqNum
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId
			INNER JOIN dbo.tblInXferSer s ON x.TransId = s.TransId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
		WHERE i.ItemType = 2 --Serialized

		SELECT @MaxTranRcptKey = MAX(TranRcptKey) FROM dbo.tblWmTransferRcpt
		SET @MaxTranRcptKey = ISNULL(@MaxTranRcptKey,0)

		INSERT INTO dbo.tblWmTransferRcpt(TranPickKey, TranRcptKey, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, TransDate, GlPeriod, GlYear, QOHSeqNum, QOHSeqNumExt, HistSeqNum, HistSeqNumSer, [Status], TranKey, QtyStatus,
			QuantityID, QuantityExtID, HistoryID, HistorySerID)
		SELECT p.TranPickKey,ROW_NUMBER() OVER(ORDER BY s.SeqNum) + @MaxTranRcptKey AS TranRcptKey,x.ItemIdFrom AS ItemId,x.LocIdTo AS LocId,
			s.SerNum,s.LotNumTo AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,1 AS Qty,x.Uom,s.CostUnit AS UnitCost,s.CostUnit AS UnitCostACV,
			GETDATE() AS EntryDate,x.XferDate AS TransDate,x.GLPeriod,x.SumYear AS GlYear,0 AS QOHSeqNum,0 AS QOHSeqNumExt,
			x.HistSeqNumTo AS HistSeqNum,s.HistSeqNumTo AS HistSeqNumSer,0 AS [Status],w.TranKey,NULL AS QtyStatus, NULL AS QuantityID, NULL AS QuantityExtID, x.HistSeqNumTo, s.HistSeqNumTo
		FROM dbo.tblInXfers x INNER JOIN dbo.tblInItem i ON x.ItemIdFrom = i.ItemId
			INNER JOIN dbo.tblInXferSer s ON x.TransId = s.TransId 
			INNER JOIN #tmpWmTransfer w ON x.TransId = w.TransId
			INNER JOIN #tmpWmTransferPick p ON s.SeqNum = p.TransId
		WHERE i.ItemType = 2 --Serialized

		--Remove IN Transfers
		DELETE dbo.tblInXferLot
		DELETE dbo.tblInXferSer 
		DELETE dbo.tblInXfers 

	END

	--IN Material Reqisitions to WM Material Reqisitions
	BEGIN
		DECLARE @MaxMatReqTranKey int, @MaxMatReqLineNum int

		--Temp tables for linking IN transaction records to WM transaction records
		CREATE TABLE #tmpWmMatReq (TranKey bigint NOT NULL, TransId int NOT NULL)
		CREATE TABLE #tmpWmMatReqRequest (LineNum int NOT NULL, TransId int NOT NULL, EntryNum smallint NOT NULL)

		SELECT @MaxMatReqTranKey = MAX(TranKey) FROM dbo.tblWmMatReq
		SET @MaxMatReqTranKey = ISNULL(@MaxMatReqTranKey,0)

		INSERT INTO #tmpWmMatReq (TranKey, TransId)
		SELECT ROW_NUMBER() OVER(ORDER BY TransId) + @MaxMatReqTranKey AS TranKey,TransId
		FROM dbo.tblInMatReqHeader

		--Create Material Requisition with Open status
		SET IDENTITY_INSERT dbo.tblWmMatReq ON
		INSERT INTO dbo.tblWmMatReq(TranKey, ReqType, ReqNum, DatePlaced, DateNeeded, LocID, ShipToId, ShipVia, ReqstdBy, Notes, [Status], CF)
		SELECT ROW_NUMBER() OVER(ORDER BY TransId) + @MaxMatReqTranKey AS TranKey,ReqType,ReqNum,DatePlaced,DateNeeded,LocID,ShipToId,ShipVia,
			ReqstdBy,Notes,0 AS [Status],CF
		FROM dbo.tblInMatReqHeader
		SET IDENTITY_INSERT dbo.tblWmMatReq OFF

		--Create Material Requisition Request
		SELECT @MaxMatReqLineNum = MAX(LineNum) FROM dbo.tblWmMatReqRequest
		SET @MaxMatReqLineNum = ISNULL(@MaxMatReqLineNum,0)

		INSERT INTO #tmpWmMatReqRequest (LineNum, TransId, EntryNum)
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.LineNum) + @MaxMatReqLineNum AS LineNum,d.TransId,d.LineNum
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId 

		SET IDENTITY_INSERT dbo.tblWmMatReqRequest ON
		INSERT INTO dbo.tblWmMatReqRequest(TranKey, LineNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, QtyFilled, UOM, UnitCost, 
			GLAcctNum, GLDescr, QtySeqNum, QtySeqNum_Ext, LineSeq, CF, QtyStatus, QuantityID, QuantityExtID)
		SELECT w.TranKey,ROW_NUMBER() OVER(ORDER BY d.TransId,d.LineNum) + @MaxMatReqLineNum AS LineNum,d.ItemId,d.LocId,NULL AS LotNum,
			NULL AS ExtLocA,NULL AS ExtLocB,d.QtyReqstd AS Qty,d.QtyFilled,d.UomSelling AS Uom,d.CostUnitStd AS UnitCost,
			d.GLAcctNum,d.GLDescr,0 AS QtySeqNum,0 AS QtySeqNum_Ext,d.LineSeq,d.CF,NULL AS QtyStatus, NULL AS QuantityID, NULL AS QuantityExtID
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId 
			INNER JOIN #tmpWmMatReq w ON h.TransId = w.TransId
		SET IDENTITY_INSERT dbo.tblWmMatReqRequest OFF

		--Create Material Requisition Filled
		INSERT INTO dbo.tblWmMatReqFilled (TranKey, LineNum, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, 
			TransDate, GlPeriod, GlYear, QtySeqNum, QtySeqNum_Ext, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus, QuantityID, HistoryID, QuantityExtID, HistorySerID)
		SELECT w.TranKey,r.LineNum,d.ItemId,d.LocId,NULL AS SerNum,NULL AS LotNum,NULL AS ExtLocA,NULL AS ExtLocB,d.QtyFilled AS Qty,
			d.UomSelling AS Uom,d.CostUnitStd AS UnitCost,d.CostUnitStd AS UnitCostACV,GETDATE() AS EntryDate,h.DateShipped AS TransDate,h.GLPeriod,h.SumYear AS GlYear,
			d.QtySeqNum,0 AS QtySeqNum_Ext,d.HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, ISNULL(d.QuantityID,d.QtySeqNum), d.HistSeqNum, NULL AS QuantityExtID, NULL AS HistorySerID
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN #tmpWmMatReq w ON h.TransId = w.TransId
			INNER JOIN #tmpWmMatReqRequest r ON d.TransId = r.TransId AND d.LineNum = r.EntryNum
		WHERE i.ItemType = 1 AND i.LottedYN = 0 --Regular non-lotted

		INSERT INTO dbo.tblWmMatReqFilled (TranKey, LineNum, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, 
			TransDate, GlPeriod, GlYear, QtySeqNum, QtySeqNum_Ext, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus, QuantityID, HistoryID, QuantityExtID, HistorySerID)
		SELECT w.TranKey,r.LineNum,d.ItemId,d.LocId,NULL AS SerNum,l.LotNum,NULL AS ExtLocA,NULL AS ExtLocB,d.QtyFilled AS Qty,
			d.UomSelling AS Uom,l.CostUnit AS UnitCost,l.CostUnit AS UnitCostACV,GETDATE() AS EntryDate,h.DateShipped AS TransDate,h.GLPeriod,h.SumYear AS GlYear,
			l.QtySeqNum,0 AS QtySeqNum_Ext,l.HistSeqNum,0 AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, ISNULL(l.QuantityID,l.QtySeqNum), l.HistSeqNum, NULL AS QuantityExtID, NULL AS HistorySerID
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInMatReqLot l ON d.TransId = l.TransId AND d.LineNum = l.LineNum
			INNER JOIN #tmpWmMatReq w ON h.TransId = w.TransId
			INNER JOIN #tmpWmMatReqRequest r ON d.TransId = r.TransId AND d.LineNum = r.EntryNum
		WHERE i.ItemType = 1 AND i.LottedYN = 1 --Regular lotted

		INSERT INTO dbo.tblWmMatReqFilled (TranKey, LineNum, ItemId, LocId, SerNum, LotNum, ExtLocA, ExtLocB, Qty, UOM, UnitCost, UnitCostACV, EntryDate, 
			TransDate, GlPeriod, GlYear, QtySeqNum, QtySeqNum_Ext, HistSeqNum, HistSeqNumSer, [Status], CF, QtyStatus, QuantityID, HistoryID, QuantityExtID, HistorySerID)
		SELECT w.TranKey,r.LineNum,d.ItemId,d.LocId,s.SerNum,s.LotNum,NULL AS ExtLocA,NULL AS ExtLocB,1 AS Qty,
			d.UomSelling AS Uom,s.CostUnit AS UnitCost,s.CostUnit AS UnitCostACV,GETDATE() AS EntryDate,h.DateShipped AS TransDate,h.GLPeriod,h.SumYear AS GlYear,
			0 AS QtySeqNum,0 AS QtySeqNum_Ext,d.HistSeqNum,s.HistSeqNum AS HistSeqNumSer,0 AS [Status],NULL AS CF,NULL AS QtyStatus, NULL AS QuantityID, d.HistSeqNum, NULL AS QuantityExtID, s.HistSeqNum
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInMatReqSer s ON d.TransId = s.TransId AND d.LineNum = s.LineNum
			INNER JOIN #tmpWmMatReq w ON h.TransId = w.TransId
			INNER JOIN #tmpWmMatReqRequest r ON d.TransId = r.TransId AND d.LineNum = r.EntryNum
		WHERE i.ItemType = 2 --Serialized

		--Remove IN Material Reqisitions
		DELETE dbo.tblInMatReqLot 
		DELETE dbo.tblInMatReqSer 
		DELETE dbo.tblInMatReqDetail 
		DELETE dbo.tblInMatReqHeader 
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_IN_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_IN_Transactions_proc'
GO
