USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlJournal_proc]
@ReportCurrency [nvarchar](6) = NULL,
@BaseCurrency [nvarchar](6),
@FiscalYear smallint,
@PrintOption tinyint = 2, --0, posted; 1, unposted; 2 = all;
@SortOrder nvarchar(80) = '1,2,3',
@SortOption tinyint = 0 --0, EntryNum; 1, AcctId(Segment values); 2, SourceCode;
AS

CREATE TABLE #tmpResults
(
	EntryNum int NOT NULL, 
	SortOrder nvarchar(255), 
	Period smallint, 
	[Year] smallint, 
	CurrencyID [nvarchar](6) NOT NULL, 
	DebitAmt [decimal](28,3) NULL, 
	CreditAmt [decimal](28,3) NULL
)

SET NOCOUNT ON
BEGIN TRY

	DECLARE @sql nvarchar(1100)
	DECLARE @SortString nvarchar(255)
	DECLARE @ctr int

	--build the sort order field list
	IF @SortOption = 1
	BEGIN
		SET @SortString = 'h.AcctId'
		IF @SortOrder <> ''
		BEGIN
			SET @SortString = ''
		
			WHILE CHARINDEX(',',@SortOrder) <> 0
			BEGIN
				SET @ctr = CHARINDEX(',',@SortOrder)
				IF LEN(@SortString) > 0 SET @SortString = @SortString + ' + '
				SET @SortString = @SortString + 'h.Segment' + SUBSTRING(@SortOrder, 1, @ctr - 1)
				SET @SortOrder = RIGHT(@SortOrder,LEN(@SortOrder) - @ctr )
			END
			SET @SortString = @SortString + ' + h.Segment' + @SortOrder
		END
	END
	ELSE
	BEGIN
		SELECT @SortString = CASE @SortOption WHEN 0 THEN 'j.EntryNum' WHEN 2 THEN 'j.SourceCode' ELSE 'h.AcctId' END
	END

	SET @sql = 'INSERT INTO #tmpResults (EntryNum, SortOrder, Period, [Year], CurrencyID, DebitAmt, CreditAmt) 
		SELECT j.EntryNum, ' + @SortString + ' AS SortOrder, j.Period, j.[Year] '
		
	  IF @ReportCurrency IS NULL
              BEGIN
                  SET @sql = @sql + ',j.CurrencyId,j.DebitAmtFgn,j.CreditAmtFgn '
              END
      ELSE
            BEGIN
            
                  SET @sql = @sql + ',CASE WHEN '''+ @ReportCurrency + ''' = j.CurrencyId THEN j.CurrencyId
                                                ELSE ''' + @BaseCurrency + ''' END '
                  SET @sql = @sql + ',CASE WHEN '''+ @ReportCurrency + ''' = j.CurrencyId THEN j.DebitAmtFgn
                                                ELSE j.DebitAmt END '
                  SET @sql = @sql + ',CASE WHEN '''+ @ReportCurrency + ''' = j.CurrencyId THEN j.CreditAmtFgn
                                                ELSE j.CreditAmt END '
            END
            
	SET @sql = @sql + 'FROM #tmpJournalList t INNER JOIN dbo.tblGlJrnl j ON t.EntryNum = j.EntryNum 
		INNER JOIN dbo.trav_GlAccountMaskedId_view h ON j.AcctId = h.AcctId 
		WHERE j.[Year] = ' + CAST(@FiscalYear AS nvarchar)

	IF @PrintOption = 0
	BEGIN
		SET @sql = @sql + ' AND (j.PostedYn <> 0 ) '
	END
	ELSE IF @PrintOption = 1
	BEGIN
		SET @sql = @sql + ' AND (j.PostedYn = 0 ) '
	END

	EXECUTE (@sql)	

	IF ((@ReportCurrency IS NOT NULL) AND (@ReportCurrency <> @BaseCurrency))
	BEGIN
		DECLARE @CurrencyPrecision smallint

		SELECT @CurrencyPrecision = CurrDecPlaces FROM dbo.tblSmCurrency WHERE CurrID = @ReportCurrency

		UPDATE #tmpResults SET 
			CurrencyID = @ReportCurrency
			, DebitAmt = ROUND(DebitAmt * erates.[ExchRate], @CurrencyPrecision)
			, CreditAmt = ROUND(CreditAmt * erates.[ExchRate], @CurrencyPrecision) 
		FROM #tmpResults 
			LEFT JOIN 
				(
				SELECT eh.[FiscalYear], eh.[FiscalPeriod], ed.[Rate] AS [ExchRate], ed.[Source] 
				FROM dbo.tblSmExchangeRate (NOLOCK) eh 
					INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
				WHERE eh.[Type] = 1 AND ed.[Destination] = @ReportCurrency
				) erates 
				ON [Year] = erates.[FiscalYear] AND [Period] = erates.[FiscalPeriod] AND CurrencyID = erates.[Source]
		WHERE CurrencyID <> @ReportCurrency
	END

	--generate an error when exchange rates are missing
	IF EXISTS (SELECT * FROM #tmpResults WHERE DebitAmt IS NULL OR CreditAmt IS NULL) THROW 90027, N'Invalid exchange information.', 1

	SELECT t.SortOrder, j.EntryNum, j.EntryDate, j.TransDate, j.PostedYn
		, j.[Desc], j.SourceCode, j.Reference, j.AcctId, j.Period, j.[Year], j.AllocateYn, j.ChkRecon
		, t.CurrencyID, j.CashFlow, t.DebitAmt, t.CreditAmt
	FROM #tmpResults t INNER JOIN dbo.tblGlJrnl j ON t.EntryNum = j.EntryNum 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlJournal_proc'
GO
