USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InGetLastGoodTagNumber_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InGetLastGoodTagNumber_proc]
@BatchID  pBatchID = 'abc'
AS
SET NOCOUNT ON
BEGIN TRY

SELECT ISNULL(MAX(TagNum) ,0)
FROM (
SELECT TagNum from dbo.tblInPhysCount WHERE BatchID = @BatchID AND TagNum IS NOT NULL
UNION ALL 
SELECT d.TagNum 
FROM dbo.tblInPhysCount c INNER JOIN dbo.tblInPhysCountDetail d ON c.SeqNum = d.SeqNum
WHERE c.BatchID = @BatchID  AND d.TagNum IS NOT NULL) Tag


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InGetLastGoodTagNumber_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InGetLastGoodTagNumber_proc'
GO
