USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceActivity_Prepare_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceActivity_Prepare_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--General preparation for managing resource activity

	--Retrieve global values
	DECLARE @ScheduleDate datetime
	Declare @UpdateLevel smallint
	
	SELECT @ScheduleDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = N'ScheduleDate'
	SELECT @UpdateLevel = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = N'UpdateLevel'

	IF @ScheduleDate IS NULL or @UpdateLevel IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--conditionally remove all activity
	If (@UpdateLevel = 0)
	Begin
		--Remove all existing Activity (header and detail)
		Delete dbo.tblCsResourceActivity

		Delete dbo.tblCsResourceActivityDetail
	End
	Else
	Begin
		--Selectively cleanup manually generated activity
		Delete dbo.tblCsResourceActivity 
			Where [SrcType] = 0 
			And ([ActStatus] in (2, 6) --Manual activity that is Completed or Excluded
			Or ISNULL(EndDate, @ScheduleDate) < @ScheduleDate) --OR has ended prior to the current scheduling date

		--remove any orphaned activity detail
		Delete dbo.tblCsResourceActivityDetail
			Where HeaderId not in (Select HeaderId from dbo.tblCsResourceActivity)
	End

	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_Prepare_proc'
GO
