USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVoidPaymentWrite_GainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVoidPaymentWrite_GainLoss_proc]
AS

SET NOCOUNT ON
BEGIN TRY
	DECLARE @PostRun pPostRun, @WksDate datetime,@CurrBase pCurrency

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CurrBase = CAST([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @PostRun IS NULL OR  @WksDate IS NULL OR @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1 
	END


	/* append gainloss entries */
	--Reverse the sign of AmountOffset,AmountGainLoss,AmountBase
	INSERT dbo.tblGlGainLoss(
		EntryDate,TransDate,
		AcctIDOffset,AcctIDGainLoss,
		AmountOffset,	
		AmountGainLoss,
		AmountBase,
		FiscalPeriod,FiscalYear,
		FunctionID,	SourceCode,
		LinkPostRun,LinkID,LinkIDSubLine
		)
    SELECT @WksDate,t.VoidDate,
		d.GLAcctAP,d.GLAcctGainLoss,
		-1 * d.GLGainLossAmt,
		-1 * CASE  -- Real Gain/lose account currency can only be payable account's currency or base currency.
				  WHEN a.CurrencyID = @CurrBase THEN d.GLGainLossAmtBase  -- gain/loss amt in base
				  ELSE d.GLGainLossAmt -- gain/loss amt in payable account's currency
		       END,
		-1 * d.GLGainLossAmtBase,
		t.VoidFiscalPeriod,t.VoidFiscalYear,
		'APVOID','AP',
		@PostRun,h.PaymentNum,-6
		FROM #PostTransList t
		INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID
		INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
		LEFT JOIN dbo.tblGlAcctHdr a ON d.GLAcctGainLoss = a.AcctId
		WHERE d.GLAcctGainLoss IS NOT NULL
			AND (	d.GLGainLossAmt <> 0 OR d.GLGainLossAmtBase <> 0 ) AND t.[Status] = 0
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_GainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_GainLoss_proc'
GO
