USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MbMediaGroup_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MbMediaGroup_Proc] 

AS
SET NOCOUNT ON

BEGIN TRY

	-- Media Group
	SELECT g.MGID, g.Descr, g.PrimaryLink
	FROM dbo.tblMbMediaGroups g 
		INNER JOIN #tmpMediaGroup tmp ON tmp.MGID = g.MGID	
		
	-- Media
	SELECT MGID, MID, Notes, Link FROM dbo.tblMbMedia WHERE MGID IN (SELECT MGID FROM #tmpMediaGroup)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbMediaGroup_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbMediaGroup_Proc'
GO
