USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvGetUnscheduledWorkOrders_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvGetUnscheduledWorkOrders_proc]
@ZoneID	bigint = NULL
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT 
		wo.ID AS WorkOrderID, wo.WorkOrderNo, dis.ID AS DispatchID, dis.DispatchNo
		, dis.[Description] AS DispatchDescription, wo.CustID, wo.SiteID, eq.EquipmentNo
		, dis.RequestedAMPM, dis.RequestedDate, dis.RequestedTechID
		, wo.Address1, wo.City, wo.Region, wo.PostalCode, dis.[Priority], dis.[Status] AS DispatchStatus
		, a.[Description] AS ActivityStatusDescr, z.ZoneCode, wc.CategoryCode
		, CAST(CASE WHEN (@ZoneID = z.ID) THEN 1 ELSE 0 END AS bit) [MyServiceZone]
	FROM dbo.tblSvWorkOrder wo 
		LEFT JOIN dbo.tblArCust c ON wo.CustID = c.CustId 
		LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON wo.ID = dis.WorkOrderID 
		LEFT JOIN dbo.tblSvEquipment eq ON dis.EquipmentID = eq.ID 
		LEFT JOIN 
			(SELECT WorkOrderID, DispatchID FROM dbo.tblSvWorkOrderActivity WHERE ActivityType IN (1)) act 
			ON act.WorkOrderID = wo.ID AND act.DispatchID = dis.ID 
		LEFT JOIN dbo.tblSvActivityStatus a ON dis.StatusID = a.ID		
		LEFT JOIN dbo.tblSmZone z ON wo.ZoneID = z.ID
		LEFT JOIN dbo.tblSvWorkOrderCategory wc ON wo.CategoryID = wc.ID
	WHERE (wo.CustID IS NULL OR (c.[Status] = 0 AND c.[CreditHold] = 0)) 
		AND dis.[Status] IN (0) AND dis.CancelledYN = 0 AND act.DispatchID IS NULL	
	ORDER BY MyServiceZone DESC, wo.WorkOrderNo, wc.CategoryCode	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvGetUnscheduledWorkOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvGetUnscheduledWorkOrders_proc'
GO
