USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_SD_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_SD_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @POReqPickingYn BIT = 0
	SELECT @POReqPickingYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'POReqPickingYn'

	--identify any SD Part type transactions that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM
		, QtyReq
		, ReqDate, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, BatchId, ZoneId, ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, ItemDescription)
	SELECT 2, 'PART', t.[Id], ISNULL(e.[Id], 0), cust.CustId, cust.CustName , Null
		, t.ResourceID, t.LocId, e.LotNum, e.ExtLocA, e.ExtLocB, t.Unit
		, ISNULL((e.QtyEstimated - e.QtyUsed), (t.QtyEstimated - t.QtyUsed))
		, Cast(t.TransDate AS Date), Null, 0 as OriCompQty, e.QtyEstimated as QtyOrdered, w.WorkOrderNo, d.DispatchNo, Null, Null, elb.ZoneID, elb.ExtLocID, elc.ExtLocID
		, cust.CustId as ReferenceId, cust.CustName as ReferenceName, t.[Description] AS ItemDescription
	FROM dbo.tblSvWorkOrderTrans t
	INNER JOIN dbo.tblInItem i ON t.[ResourceID] = i.[ItemId]
	INNER JOIN dbo.tblSvWorkOrderDispatch d ON t.DispatchID = d.Id 
	INNER JOIN dbo.tblSvWorkOrder w ON d.WorkOrderID = w.Id
	INNER JOIN (
						SELECT DISTINCT DispatchID
						FROM dbo.tblSvWorkOrderActivity
						WHERE ActivityType = 1 --Dispatch is scheduled
					) a ON t.DispatchID = a.DispatchID
	LEFT JOIN dbo.tblSvWorkOrderTransExt e ON t.[Id] = e.TransId
	LEFT JOIN dbo.tblWmExtLoc elb ON elb.Id = e.ExtLocA AND elb.[Type] = 0 --bins
	LEFT JOIN dbo.tblWmExtLoc elc ON elc.Id = e.ExtLocB AND elc.[Type] = 1 --containers
	LEFT JOIN dbo.tblSmTransLink l ON t.[LinkSeqNum] = l.[SeqNum]
	LEFT JOIN dbo.tblArCust cust ON cust.CustId = w.CustID
	WHERE t.TransType = 1 --Transaction Type is Part
		AND  t.[Status] = 0 --Transaction is not posted
		AND d.[Status] = 0 --Dispatch is Open
		AND d.CancelledYN = 0 -- Dispatch is not cancelled
		AND d.HoldYN = 0 --Dispatch is not on hold	
		AND (t.QtyEstimated - t.QtyUsed) > 0 --has quantity to process 
		AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR ((l.TransLinkType = 0 AND l.DropShipYn=0) AND NOT (l.TransLinkType = 0 AND l.DropShipYn = 0 AND l.DestType IN (1,2) AND @POReqPickingYn = 0))) --((transaction linked and not DropShipped) or link is broken)
		AND i.[ItemType] <> 3 --must be an IN items - but not Service Items
		AND t.LocID = ISNULL(@LocId, t.LocID)

	
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_SD_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_SD_proc'
GO
