USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbSummarySalesOrders_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbSummarySalesOrders_proc]
@Prec tinyint = 2, 
@Foreign bit =0
AS
BEGIN TRY
	SET NOCOUNT ON
CREATE TABLE #SoOrders
	(
		Shipped [decimal](28,10) NULL, 
		Unshipped [decimal](28,10) NULL, 
		Returned [decimal](28,10) NULL
	)

	INSERT INTO #SoOrders (Shipped, Unshipped, Returned) 
	SELECT ROUND(SUM(CASE WHEN TransType IN (1, 4) THEN (CASE WHEN @Foreign = 0 
			THEN ((QtyShipSell * UnitPriceSell) * SIGN(TransType)) 
			ELSE ((QtyShipSell * UnitPriceSellFgn) * SIGN(TransType))END) ELSE 0 END), @Prec) AS Shipped
		, ROUND(SUM((CASE TransType WHEN 3 THEN d.QtyOrdSell WHEN 5 THEN d.QtyOrdSell WHEN 9 THEN d.QtyOrdSell 
				WHEN 4 THEN d.QtyBackOrdSell WHEN 1 THEN d.QtyBackOrdSell ELSE 0 END) 
			* (CASE WHEN @Foreign = 0 THEN d.UnitPriceSell ELSE d.UnitPriceSellFgn END) 
			* SIGN(TransType)), @Prec) AS Unshipped
		, ROUND(SUM(CASE WHEN TransType = -1 THEN (CASE WHEN @Foreign = 0 
			THEN ((QtyOrdSell * UnitPriceSell) * SIGN(TransType)) 
			ELSE ((QtyOrdSell * UnitPriceSellFgn) * SIGN(TransType))END) ELSE 0 END), @Prec) AS Returned 
	FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransId 
	WHERE d.Status = 0 AND d.GrpId IS NULL AND h.VoidYn = 0


	-- return resultset
	SELECT ROUND(ISNULL(SUM(ISNULL(Shipped, 0)),0), @Prec) AS Shipped
		, ROUND(ISNULL(SUM(ISNULL(Returned, 0)),0), @Prec) AS Returned
		, ROUND(ISNULL(SUM(ISNULL(Unshipped, 0)),0), @Prec) AS Unshipped 
	FROM #SoOrders
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbSummarySalesOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbSummarySalesOrders_proc'
GO
