USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_Bss_ImportGlForecast]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[_Bss_ImportGlForecast]
-- GRANT EXEC ON [_Bss_ImportGlForecast] TO Public

AS
BEGIN TRY





-- Remove Budget/Forecast records from tblGlAcctDtlBudFrcst for accts/bfref/year listed in the csv file

DELETE g
FROM tblGlAcctDtlBudFrcst g
LEFT JOIN [_Bss_tblGlAcctDtlFrcst_Import] i ON i.AcctId = g.AcctId 
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
WHERE g.BFRef = b.BFRef AND g.GlYear = i.GlYear



--  Now insert the forecast detail table


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,1 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount1 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL



INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,2 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount2 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,3 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount3 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,4 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount4 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,5 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount5 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,6 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount6 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,7 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount7 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,8 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount8 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,9 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount9 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,10 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount10 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,11 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount11 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


INSERT INTO [dbo].[tblGlAcctDtlBudFrcst]
           ([AcctID]
           ,[BFRef]
           ,[GlPeriod]
           ,[GlYear]
           ,[Amount])
SELECT i.[AcctID]
           ,BFRef AS [BFRef]
           ,12 AS [GlPeriod]
           ,GlYear AS [GlYear]
           ,Amount12 AS [Amount]
FROM [_Bss_tblGlAcctDtlFrcst_Import] i
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
LEFT JOIN tblGlAcctHdr h ON h.AcctId = i.AcctId
WHERE h.AcctId IS NOT NULL


-- Select records just inserted

SELECT g.[AcctID]
           ,b.Descr
           ,[GlPeriod]
           ,g.[GlYear]
           ,CAST(ROUND([Amount],2) AS decimal(20,2)) AS Amount
FROM [tblGlAcctDtlBudFrcst] g
LEFT JOIN [_Bss_tblGlAcctDtlFrcst_Import] i ON i.AcctId = g.AcctId and i.GlYear = g.GlYear 
LEFT JOIN [SYS].dbo.tblGLBudFrcstDescr b ON b.Heading = i.BFDesc AND BfType = 1
WHERE g.BfRef = b.BfRef

       

END TRY
BEGIN CATCH
       EXEC dbo.trav_RaiseError_proc
END CATCH

GO
