USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPurchaseAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPurchaseAnalysisReport_proc]
@Year Int,
@Period Int,
@TotPeriod Smallint, 
@IncludeSalesTax bit, 
@IncludeFreightCharges bit, 
@IncludeMiscCharges bit

AS
BEGIN TRY

	CREATE TABLE #tmpHistHeader 
	(
		FiscalYear smallint, 
		GLPeriod smallint, 
		NumOfPurch int, 
		TotPurch [decimal](28,10) NULL DEFAULT (0), 
		PrepaidAmt [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpHistHeader(FiscalYear, GLPeriod, NumOfPurch, TotPurch, PrepaidAmt) 
	SELECT FiscalYear, GLPeriod, COUNT(TransType) AS NumOfPurch
		, SUM(SIGN(TransType) * 
			(Subtotal 
				+ CASE WHEN @IncludeSalesTax <> 0 THEN SalesTax + TaxAdjAmt ELSE 0 END 
				+ CASE WHEN @IncludeFreightCharges <> 0 THEN Freight ELSE 0 END 
				+ CASE WHEN @IncludeMiscCharges <> 0 THEN Misc ELSE 0 END)
			) AS TotPurch
		, SUM(PrepaidAmt) AS PrepaidAmt 
	FROM dbo.tblApHistHeader 
	GROUP BY FiscalYear, GLPeriod

	CREATE TABLE #tmpCheckHist 
	(
		FiscalYear smallint, 
		GlPeriod smallint, 
		TotDiscTaken [decimal](28,10) NULL DEFAULT (0), 
		TotDiscLost [decimal](28,10) NULL DEFAULT (0), 
		PurchNoDisc [decimal](28,10) NULL DEFAULT (0), 
		PurchDiscTaken [decimal](28,10) NULL DEFAULT (0), 
		PurchDiscLost [decimal](28,10) NULL DEFAULT (0), 
		TotPmt [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpCheckHist(FiscalYear, GlPeriod, TotDiscTaken, TotDiscLost, PurchNoDisc, PurchDiscTaken, PurchDiscLost, TotPmt) 
	SELECT FiscalYear, FiscalPeriod AS GlPeriod, SUM(d.DiscTakenBase) AS TotDiscTaken
		, SUM(d.DiscLostBase) AS TotDiscLost
		, SUM(CASE WHEN d.DiscTakenBase + d.DiscLostBase = 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchNoDisc
		, SUM(CASE WHEN d.DiscTakenBase <> 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchDiscTaken
		, SUM(CASE WHEN d.DiscLostBase <> 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchDiscLost
		, SUM(d.PaymentAmtBase) AS TotPmt 
	FROM dbo.tblApPaymentHistHeader h 
		LEFT JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID 
	WHERE h.VoidDate IS NULL 
	GROUP BY FiscalYear, FiscalPeriod

	DECLARE @TotPurch [decimal](28,10),@TotDiscTaken [decimal](28,10),@TotDiscLost [decimal](28,10),@LastTotPurch [decimal](28,10) , 
		@LastTotDiscTaken [decimal](28,10),@LastTotDiscLost [decimal](28,10),@QTDTotPurch [decimal](28,10),@QTDTotDiscTaken [decimal](28,10),@QTDTotDiscLost [decimal](28,10),
		@YTDTotPurch [decimal](28,10),@YTDTotDiscTaken [decimal](28,10),@YTDTotDiscLost [decimal](28,10),@LQTDTotPurch [decimal](28,10),@LQTDTotDiscTaken [decimal](28,10), 
		@LQTDTotDiscLost [decimal](28,10),@LYTDTotPurch [decimal](28,10),@LYTDTotDiscTaken [decimal](28,10),@LYTDTotDiscLost [decimal](28,10)
	DECLARE @Qtr TinyInt, @YrPeriod Int

	CREATE TABLE #tmpYrPeriod 
	([Year] Int NOT NULL, Period Int NOT NULL, TotPurch [decimal](28,10) NOT NULL, 
	 TotDiscTaken [decimal](28,10) NOT NULL,  TotDiscLost [decimal](28,10) NOT NULL)
	
	SET @YrPeriod = @Year * 1000 + @Period

	INSERT INTO #tmpYrPeriod ([Year], Period, TotPurch, TotDiscTaken, TotDiscLost)
	SELECT y.GlYear, y.GlPeriod, ISNULL(t.TotPurch,0),ISNULL(p.TotDiscTaken,0),ISNULL(p.TotDiscLost,0)
	FROM (SELECT GlYear,GlPeriod FROM dbo.tblSmPeriodConversion 
			WHERE GlYear * 1000 + GlPeriod BETWEEN (@YrPeriod - 1000) AND @YrPeriod ) y
		LEFT JOIN #tmpHistHeader t ON y.GlYear = t.FiscalYear AND y.GlPeriod = t.GlPeriod 
		LEFT JOIN #tmpCheckHist p ON y.GlYear = p.FiscalYear AND y.GlPeriod = p.GlPeriod

	SET @Qtr = CAST((CAST(@Period AS Decimal(28,10)) * 4 / CAST(@TotPeriod AS Decimal(28,10)) + 0.9) AS TINYINT)

	-- Current Period
	SELECT @TotPurch = TotPurch
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year AND GlPeriod = @Period

	SELECT @TotDiscTaken = TotDiscTaken, @TotDiscLost = TotDiscLost
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year AND GlPeriod = @Period

	-- Current Period Last Year
	SELECT @LastTotPurch = TotPurch
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year - 1 AND GlPeriod = @Period

	SELECT @LastTotDiscTaken = TotDiscTaken, @LastTotDiscLost = TotDiscLost
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year - 1 AND GlPeriod = @Period

	-- Current Year QTD
	SELECT @QTDTotPurch = SUM(TotPurch)
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year AND GlPeriod <= @Period
		AND CAST((CAST(GlPeriod AS Decimal(28,10)) * 4 / CAST(@TotPeriod AS Decimal(28,10)) + 0.9) AS TINYINT) = @Qtr
	
	SELECT @QTDTotDiscTaken = SUM(TotDiscTaken), @QTDTotDiscLost = SUM(TotDiscLost)
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year AND GlPeriod <= @Period
		AND CAST((CAST(GlPeriod AS Decimal(28,10)) * 4 / CAST(@TotPeriod AS Decimal(28,10)) + 0.9) AS TINYINT) = @Qtr

	-- Last Year QTD
	SELECT @LQTDTotPurch = SUM(TotPurch)
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year - 1 AND GlPeriod <= @Period
		AND CAST((CAST(GlPeriod AS Decimal(28,10)) * 4 / CAST(@TotPeriod AS Decimal(28,10)) + 0.9) AS TINYINT) = @Qtr
	
	SELECT @LQTDTotDiscTaken = SUM(TotDiscTaken), @LQTDTotDiscLost = SUM(TotDiscLost)
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year - 1 AND GlPeriod <= @Period
		AND CAST((CAST(GlPeriod AS Decimal(28,10)) * 4 / CAST(@TotPeriod AS Decimal(28,10)) + 0.9) AS TINYINT) = @Qtr

	-- Current Year YTD
	SELECT @YTDTotPurch = SUM(TotPurch)
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year AND GlPeriod <= @Period

	SELECT @YTDTotDiscTaken = SUM(TotDiscTaken), @YTDTotDiscLost = SUM(TotDiscLost)
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year AND GlPeriod <= @Period

	-- Last Year YTD 
	SELECT @LYTDTotPurch = SUM(TotPurch)
	FROM #tmpHistHeader 
	WHERE FiscalYear = @Year - 1 AND GlPeriod <= @Period

	SELECT @LYTDTotDiscTaken = SUM(TotDiscTaken), @LYTDTotDiscLost = SUM(TotDiscLost)
	FROM #tmpCheckHist 
	WHERE FiscalYear = @Year - 1 AND GlPeriod <= @Period

	SELECT SUBSTRING(CAST(Period + 100 AS nvarchar(3)),2,2) + '/' + CAST([Year] AS nvarchar(4)) AS YrPeriod, 
		TotPurch, CASE WHEN ISNULL(@TotPurch,0) = 0 THEN 0 ELSE TotPurch/ISNULL(@TotPurch,0)*100 END PerTotPurch, 
		TotDiscTaken, CASE WHEN ISNULL(@TotDiscTaken,0) = 0 THEN 0 ELSE TotDiscTaken/ISNULL(@TotDiscTaken,0)*100 END PerTotDiscTaken, 
		TotDiscLost, CASE WHEN ISNULL(@TotDiscLost,0) = 0 THEN 0 ELSE TotDiscLost/ISNULL(@TotDiscLost,0)*100 END PerTotDiscLost
		FROM #tmpYrPeriod
	ORDER BY [Year] DESC, Period DESC
	
	SELECT  TotPurch = ISNULL(@TotPurch,0),TotDiscTaken = ISNULL(@TotDiscTaken,0),TotDiscLost = ISNULL(@TotDiscLost,0),
		QTDTotPurch = ISNULL(@QTDTotPurch,0), QTDTotDiscTaken = ISNULL(@QTDTotDiscTaken,0), QTDTotDiscLost = ISNULL(@QTDTotDiscLost,0),
		LQTDTotPurch = ISNULL(@LQTDTotPurch,0), LQTDTotDiscTaken = ISNULL(@LQTDTotDiscTaken,0), LQTDTotDiscLost = ISNULL(@LQTDTotDiscLost,0),
		LastTotPurch = ISNULL(@LastTotPurch,0), LastTotDiscTaken = ISNULL(@LastTotDiscTaken,0), LastTotDiscLost = ISNULL(@LastTotDiscLost,0),
		YTDTotPurch = ISNULL(@YTDTotPurch,0), YTDTotDiscTaken = ISNULL(@YTDTotDiscTaken,0), YTDTotDiscLost = ISNULL(@YTDTotDiscLost,0),
		LYTDTotPurch = ISNULL(@LYTDTotPurch,0), LYTDTotDiscTaken = ISNULL(@LYTDTotDiscTaken,0), LYTDTotDiscLost = ISNULL(@LYTDTotDiscLost,0)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPurchaseAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPurchaseAnalysisReport_proc'
GO
