USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPaymentPost_Clear_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPaymentPost_Clear_proc]
AS
BEGIN TRY
	
	DECLARE @ControlId nvarchar(800)
	SELECT @ControlId =  pc.ID  
		FROM dbo.tblApPaymentControl pc
		INNER JOIN #PostTransList l ON pc.BatchID = l.TransId 

	--clear exchange rates
	DELETE  dbo.tblSmExchangeRateTrans 
	FROM tblSmExchangeRateTrans t
	INNER JOIN dbo.tblApPaymentControl pc ON pc.ID = t.TransKey
	INNER JOIN #PostTransList l ON pc.BatchID = l.TransId 
	WHERE TransType = 'APPAYMENT'

	DELETE  dbo.tblSmExchangeRateTrans 
	FROM dbo.tblApPaymentControl pc 
	INNER JOIN dbo.tblApPayment p ON pc.ID = p.ControlID
	INNER JOIN dbo.tblApPaymentDetail d ON d.PaymentID = p.ID
	INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.[Counter] 
	INNER JOIN #PostTransList b ON pc.BatchID = b.TransId
	INNER JOIN dbo.tblSmExchangeRateTrans t ON t.TransKey = i.Counter 
	WHERE TransType = 'APPREPAY'

	
	--clear payments
	DELETE FROM dbo.tblApPayment
	WHERE ControlID in( SELECT  pc.ID  
		FROM dbo.tblApPaymentControl pc
		INNER JOIN #PostTransList l ON pc.BatchID = l.TransId 
	)

	--clear payment details
	DELETE FROM dbo.tblApPaymentDetail
	WHERE ControlID in(SELECT  pc.ID  
		FROM dbo.tblApPaymentControl pc
		INNER JOIN #PostTransList l ON pc.BatchID = l.TransId 
	)
	--clear control
	DELETE FROM dbo.tblApPaymentControl
	WHERE ID in( SELECT  pc.ID  
		FROM dbo.tblApPaymentControl pc
		INNER JOIN #PostTransList l ON pc.BatchID = l.TransId 
	)	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Clear_proc'
GO
