USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_BM_WorkOrder_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_BM_WorkOrder_proc]
AS
BEGIN TRY
	DECLARE @MaxExtSeqNum int
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint
	--SELECT @QtyPrec = ConfigValue FROM tblSmConfigValue WHERE ConfigRef = 267

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*BM Work Order*/
	BEGIN
		CREATE TABLE #tmpBmWorkOrderQtyExt (ExtSeqNum int NOT NULL, TransId nvarchar(8) NOT NULL, [ID] bigint)
		CREATE TABLE #tmpBmWorkOrderLotQtyExt (ExtSeqNum int NOT NULL, TransId nvarchar(8) NOT NULL, EntryNum int NOT NULL, SeqNum int NOT NULL, [ID] bigint)
		CREATE TABLE #tmpBmWorkOrderDetailQtyExt(ExtSeqNum int NOT NULL, TransId nvarchar(8) NOT NULL, EntryNum int NOT NULL, [ID] bigint)

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblBmWorkOrder SET ExtLocA = b.ExtLocA
		FROM dbo.tblBmWorkOrder w INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID
		WHERE w.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblBmWorkOrderDetail SET ExtLocA = b.ExtLocA
		FROM dbo.tblBmWorkOrderDetail w INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID
		WHERE w.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblBmWorkOrderLot SET ExtLocA = b.ExtLocA
		FROM dbo.tblBmWorkOrderLot w INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID
		WHERE w.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblBmWorkOrderSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblBmWorkOrderSer w INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID
		WHERE w.ExtLocA IS NULL --Missing bin

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create missing Committed Quantity Extended
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,w.ItemId,w.LocId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblInQty q ON w.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum 
			INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID
		WHERE w.WorkType = 2 AND w.[Status] = 0 AND e.ExtSeqNum IS NULL --Unbuild assembly, New Order

		UPDATE dbo.tblBmWorkOrder SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblBmWorkOrder w INNER JOIN tblInQty_Ext q ON w.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 0 AND e.ExtSeqNum IS NULL --Unbuild assembly, New Order

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,d.ItemId,d.LocId,NULL AS LotNum,b.ExtLocA AS ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY d.TransId, d.EntryNum) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			 INNER JOIN dbo.tblInQty q ON d.QtySeqNum = q.SeqNum
			 LEFT JOIN dbo.tblInQty_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum 
			 INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE w.WorkType = 1 AND w.[Status] = 0 AND e.ExtSeqNum IS NULL --Build component, New Order

		UPDATE dbo.tblBmWorkOrderDetail SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			INNER JOIN tblInQty_Ext q ON d.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQty_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 0 AND e.ExtSeqNum IS NULL --Build component, New Order

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderQtyExt (ExtSeqNum, TransId, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtSeqNum AS ExtSeqNum,w.TransId,
			ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblInQtyOnHand q ON w.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND w.ItemType = 1 AND e.ExtSeqNum IS NULL --Build assembly, confirmed, regular non-lotted

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtSeqNum AS ExtSeqNum,w.ItemId,w.LocId,NULL AS LotNum,w.ExtLocA,w.ExtLocB,q.Qty,w.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblInQtyOnHand q ON w.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND w.ItemType = 1 AND e.ExtSeqNum IS NULL --Build assembly, confirmed, regular non-lotted

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderQtyExt (ExtSeqNum, TransId, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtSeqNum AS ExtSeqNum,w.TransId,
			ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblInQtyOnHand_Offset q ON w.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND w.ItemType = 1  AND e.ExtSeqNum IS NULL --Unbuild assembly, confirmed, regular non-lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtSeqNum AS ExtSeqNum,w.ItemId,w.LocId,NULL AS LotNum,w.ExtLocA,w.ExtLocB,-q.Qty,w.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY w.TransId) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON w.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON w.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND w.ItemType = 1  AND e.ExtSeqNum IS NULL --Unbuild assembly, confirmed, regular non-lotted

		UPDATE dbo.tblBmWorkOrder SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblBmWorkOrder w INNER JOIN #tmpBmWorkOrderQtyExt q ON w.TransId = q.TransId

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderLotQtyExt (ExtSeqNum, TransId, EntryNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.TransId,l.EntryNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND w.ItemType = 11 AND l.EntryNum = -1 AND e.ExtSeqNum IS NULL --Build assembly, confirmed, regular lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.ItemId,l.LocId,l.LotNum,l.ExtLocA,l.ExtLocB,q.Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND w.ItemType = 11 AND l.EntryNum = -1 AND e.ExtSeqNum IS NULL --Build assembly, confirmed, regular lotted

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderLotQtyExt (ExtSeqNum, TransId, EntryNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.TransId,l.EntryNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND w.ItemType = 11 AND l.EntryNum = -1 AND e.ExtSeqNum IS NULL --Unbuild assembly, confirmed, regular lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.ItemId,l.LocId,l.LotNum,l.ExtLocA,l.ExtLocB,-q.Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND w.ItemType = 11 AND l.EntryNum = -1 AND e.ExtSeqNum IS NULL --Unbuild assembly, confirmed, regular lotted

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderLotQtyExt (ExtSeqNum, TransId, EntryNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.TransId,l.EntryNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND e.ExtSeqNum IS NULL --Build component, confirmed, regular lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.ItemId,l.LocId,l.LotNum,l.ExtLocA,l.ExtLocB,-q.Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			INNER JOIN dbo.tblBmWorkOrderLot l ON w.TransId = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1 AND e.ExtSeqNum IS NULL --Build component, confirmed, regular lotted

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderLotQtyExt (ExtSeqNum, TransId, EntryNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.TransId,l.EntryNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			INNER JOIN dbo.tblBmWorkOrderLot l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND e.ExtSeqNum IS NULL --Unbuild component, confirmed, regular lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.ItemId,l.LocId,l.LotNum,l.ExtLocA,l.ExtLocB,q.Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.TransId,l.EntryNum,l.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId
			INNER JOIN dbo.tblBmWorkOrderLot l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1 AND e.ExtSeqNum IS NULL --Unbuild component, confirmed, regular lotted

		UPDATE dbo.tblBmWorkOrderLot SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblBmWorkOrderLot w INNER JOIN #tmpBmWorkOrderLotQtyExt q ON w.TransId = q.TransId AND w.EntryNum = q.EntryNum AND w.SeqNum = q.SeqNum

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderDetailQtyExt (ExtSeqNum, TransId, EntryNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.TransId,d.EntryNum,
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1  AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Build component, confirmed, regular non-lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId, NULL AS LotNum,d.ExtLocA,d.ExtLocB,-q.Qty,d.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON d.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 1 AND w.[Status] = 1  AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Build component, confirmed, regular non-lotted

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpBmWorkOrderDetailQtyExt (ExtSeqNum, TransId, EntryNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.TransId,d.EntryNum,
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1  AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Unbuild component, confirmed, regular non-lotted

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId, NULL AS LotNum,d.ExtLocA,d.ExtLocB,-q.Qty,d.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblBmWorkOrder w INNER JOIN dbo.tblBmWorkOrderDetail d ON w.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE w.WorkType = 2 AND w.[Status] = 1  AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Unbuild component, confirmed, regular non-lotted
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF

		UPDATE dbo.tblBmWorkOrderDetail SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblBmWorkOrderDetail d INNER JOIN #tmpBmWorkOrderDetailQtyExt q ON d.TransId = q.TransId AND d.EntryNum = q.EntryNum

	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_BM_WorkOrder_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_BM_WorkOrder_proc'
GO
