USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcCostVarianceAnalysisReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcCostVarianceAnalysisReport_proc] 
@IncludeTask bit = 0,
@Prec tinyint = 2,
@IncludeZeroCost bit = 0, 
@CostVarianceOption tinyint = 2, --0;Positive;1;Negative;2;All;
@FiscalPeriodFrom smallint, 
@FiscalYearFrom smallint, 
@FiscalPeriodThru smallint, 
@FiscalYearThru smallint

AS
BEGIN TRY
DECLARE @typeCounter tinyint
SET NOCOUNT ON

CREATE TABLE #tmpProjectDetailType 
(
	ProjectDetailId int NOT NULL,
	[Type] tinyint NOT NULL,
	[EstimateQty] decimal(28,10) NOT NULL DEFAULT(0),
	[ActualQty] decimal(28,10) NOT NULL DEFAULT(0),
	[EstimateCost] decimal(28,10) NOT NULL DEFAULT(0),
	[ActualCost] decimal(28,10) NOT NULL DEFAULT(0)
	CONSTRAINT [PK_#tmpProjectDetailType] PRIMARY KEY CLUSTERED ([ProjectDetailId],[Type]) ON [PRIMARY] 
)

SET @typeCounter = 0

WHILE @typeCounter < 4
BEGIN
	--Activity type is Time,Material,Expense,Other
	INSERT INTO #tmpProjectDetailType(ProjectDetailId, [Type])
	SELECT d.Id, @typeCounter
	FROM dbo.tblPcProject p INNER JOIN dbo.tblPcProjectDetail d ON p.Id = d.ProjectId
	WHERE p.Id IN (SELECT ProjectId FROM #tmpProjectList)
	SET @typeCounter = @typeCounter + 1
END

--Estimate
UPDATE #tmpProjectDetailType SET EstimateCost = e.EstimateCost, EstimateQty = e.Qty
FROM #tmpProjectDetailType INNER JOIN (SELECT d.Id, e.[Type], SUM(ROUND(e.Qty * e.UnitCost,@Prec)) AS EstimateCost, SUM(e.Qty) AS Qty 
	FROM dbo.tblPcProjectDetail d INNER JOIN dbo.tblPcEstimate e ON d.Id = e.ProjectDetailId
	GROUP BY d.Id, e.[Type]) e ON #tmpProjectDetailType.ProjectDetailId = e.Id AND #tmpProjectDetailType.[Type] = e.[Type]

--Actual
UPDATE #tmpProjectDetailType SET ActualCost = e.ExtCost, ActualQty = e.Qty 
FROM #tmpProjectDetailType 
	INNER JOIN 
	(
		SELECT d.Id, a.[Type], SUM(a.ExtCost) AS ExtCost, SUM(a.Qty) AS Qty 
		FROM dbo.tblPcProjectDetail d 
			INNER JOIN 
			(
				SELECT ProjectDetailId, [Type], Qty, ExtCost 
				FROM dbo.tblPcActivity 
				WHERE Status < 6 
					AND FiscalYear * 1000 + FiscalPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
						AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
				UNION ALL 
				SELECT a.ProjectDetailId, a.[Type], -a.Qty, CASE b.Qty WHEN 0 THEN 0 ELSE -a.Qty * (b.ExtCost/b.Qty) END 
				FROM dbo.tblPcActivity a 
					INNER JOIN dbo.tblPcActivity b ON a.RcptId = b.Id 
				WHERE a.[Source] = 12
					AND a.FiscalYear * 1000 + a.FiscalPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
						AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
			) a ON d.Id = a.ProjectDetailId 
		GROUP BY d.Id, a.[Type]
	) e ON #tmpProjectDetailType.ProjectDetailId = e.Id AND #tmpProjectDetailType.[Type] = e.[Type]

IF @IncludeTask = 1
BEGIN

	SELECT * INTO #TempDetail FROM (
	SELECT p.CustId, p.ProjectName AS ProjectId, d.PhaseId, d.TaskId, d.[Description], t.[Type],
	    t.ActualQty, 
		t.EstimateQty, 
		t.ActualCost, 
		t.EstimateCost, 
		t.EstimateQty - t.ActualQty AS VarianceQty, 
		CASE WHEN t.EstimateQty = 0 THEN 0 ELSE (t.EstimateQty - t.ActualQty)/t.EstimateQty END * 100 AS PercentQty,
		t.EstimateCost - t.ActualCost AS VarianceCost, 
		CASE WHEN t.EstimateCost = 0 THEN 0 ELSE (t.EstimateCost - t.ActualCost)/t.EstimateCost END * 100 AS PercentCost,
		CASE t.[Type] WHEN 0 THEN t.ActualQty ELSE 0 END TimeActualQty,
		CASE t.[Type] WHEN 0 THEN t.EstimateQty ELSE 0 END TimeEstimateQty,
		CASE t.[Type] WHEN 0 THEN t.ActualCost ELSE 0 END TimeActualCost,
		CASE t.[Type] WHEN 0 THEN t.EstimateCost ELSE 0 END TimeEstimateCost,
		CASE t.[Type] WHEN 1 THEN t.ActualQty ELSE 0 END MaterialActualQty,
		CASE t.[Type] WHEN 1 THEN t.EstimateQty ELSE 0 END MaterialEstimateQty,
		CASE t.[Type] WHEN 1 THEN t.ActualCost ELSE 0 END MaterialActualCost,
		CASE t.[Type] WHEN 1 THEN t.EstimateCost ELSE 0 END MaterialEstimateCost,
		CASE t.[Type] WHEN 2 THEN t.ActualQty ELSE 0 END ExpenseActualQty,
		CASE t.[Type] WHEN 2 THEN t.EstimateQty ELSE 0 END ExpenseEstimateQty,
		CASE t.[Type] WHEN 2 THEN t.ActualCost ELSE 0 END ExpenseActualCost,
		CASE t.[Type] WHEN 2 THEN t.EstimateCost ELSE 0 END ExpenseEstimateCost,
		CASE t.[Type] WHEN 3 THEN t.ActualQty ELSE 0 END OtherActualQty,
		CASE t.[Type] WHEN 3 THEN t.EstimateQty ELSE 0 END OtherEstimateQty,
		CASE t.[Type] WHEN 3 THEN t.ActualCost ELSE 0 END OtherActualCost,
		CASE t.[Type] WHEN 3 THEN t.EstimateCost ELSE 0 END OtherEstimateCost
	FROM #tmpProjectDetailType t INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
		INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
		LEFT JOIN (SELECT ProjectDetailId, [Type] FROM #tmpProjectDetailType GROUP BY ProjectDetailId, [Type]
			HAVING SUM(ActualCost) = 0) l ON t.ProjectDetailId = l.ProjectDetailId AND t.[Type] = l.[Type]
	WHERE (@IncludeZeroCost = 1 OR l.ProjectDetailId IS NULL) AND 
		(@CostVarianceOption = 2 OR (@CostVarianceOption = 0 AND t.EstimateCost > t.ActualCost) 
			OR (@CostVarianceOption = 1 AND t.EstimateCost < t.ActualCost))
	) ds

	SELECT CustId, ProjectId, PhaseId, TaskId, [Description], [Type],
	    ActualQty, EstimateQty, ActualCost, EstimateCost, 
		
		VarianceQty, PercentQty, VarianceCost, PercentCost,

		TimeActualQty,
		TimeEstimateQty,
		TimeActualCost,
		TimeEstimateCost,

		MaterialActualQty,
		MaterialEstimateQty,
		MaterialActualCost,
		MaterialEstimateCost,

		ExpenseActualQty,
		ExpenseEstimateQty,
		ExpenseActualCost,
		ExpenseEstimateCost,
		
		OtherActualQty,
		OtherEstimateQty,
		OtherActualCost,
		OtherEstimateCost,

		TimeEstimateQty - TimeActualQty AS  TimeVarianceQty,
		TimeEstimateCost - TimeActualCost AS  TimeVarianceCost,

		MaterialEstimateQty - MaterialActualQty AS MaterialVarianceQty,
		MaterialEstimateCost - MaterialActualCost AS MaterialVarianceCost,

		ExpenseEstimateQty - ExpenseActualQty AS ExpenseVarianceQty,
		ExpenseEstimateCost - ExpenseActualCost AS ExpenseVarianceCost,

		OtherEstimateQty - OtherActualQty AS OtherVarianceQty,
		OtherEstimateCost - OtherActualCost AS OtherVarianceCost,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId, TaskId) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId, TaskId) - SUM(ActualCost) OVER (PARTITION BY CustId, ProjectId, TaskId)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId, TaskId) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId, TaskId) END)) END * 100  AS PercentCostTaskId,
		
		CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(EstimateQty) OVER (PARTITION BY CustId, ProjectId) - SUM(ActualQty) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(EstimateQty) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentQtyProjectId,
		CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(TimeEstimateQty) OVER (PARTITION BY CustId, ProjectId) - SUM(TimeActualQty) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(TimeEstimateQty) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentTimeQtyProjectId,
		CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateQty) OVER (PARTITION BY CustId, ProjectId) - SUM(MaterialActualQty) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(MaterialEstimateQty) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentMaterialQtyProjectId,
		CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId, ProjectId) - SUM(ExpenseActualQty) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentExpenseQtyProjectId,
		CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(OtherEstimateQty) OVER (PARTITION BY CustId, ProjectId) - SUM(OtherActualQty) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(OtherEstimateQty) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentOtherQtyProjectId,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId) - SUM(ActualCost) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentCostProjectId,
		CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(TimeEstimateCost) OVER (PARTITION BY CustId, ProjectId) - SUM(TimeActualCost) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(TimeEstimateCost) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentTimeCostProjectId,
		CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateCost) OVER (PARTITION BY CustId, ProjectId) - SUM(MaterialActualCost) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(MaterialEstimateCost) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentMaterialCostProjectId,
		CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId, ProjectId) - SUM(ExpenseActualCost) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentExpenseCostProjectId,
		CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 0 ELSE ((SUM(OtherEstimateCost) OVER (PARTITION BY CustId, ProjectId) - SUM(OtherActualCost) OVER (PARTITION BY CustId, ProjectId)) / (CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId, ProjectId) = 0 THEN 1 ELSE SUM(OtherEstimateCost) OVER (PARTITION BY CustId, ProjectId) END)) END * 100  AS PercentOtherCostProjectId,

		CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(EstimateQty) OVER (PARTITION BY CustId) - SUM(ActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(EstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentQtyCustId,
		CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(TimeEstimateQty) OVER (PARTITION BY CustId) - SUM(TimeActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(TimeEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentTimeQtyCustId,
		CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) - SUM(MaterialActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentMaterialQtyCustId,
		CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) - SUM(ExpenseActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentExpenseQtyCustId,
		CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(OtherEstimateQty) OVER (PARTITION BY CustId) - SUM(OtherActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(OtherEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentOtherQtyCustId,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY CustId) - SUM(ActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentCostCustId,
		CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(TimeEstimateCost) OVER (PARTITION BY CustId) - SUM(TimeActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(TimeEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentTimeCostCustId,
		CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) - SUM(MaterialActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentMaterialCostCustId,
		CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) - SUM(ExpenseActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentExpenseCostCustId,
		CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(OtherEstimateCost) OVER (PARTITION BY CustId) - SUM(OtherActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(OtherEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentOtherCostCustId,

		CASE WHEN SUM(EstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(EstimateQty) OVER (PARTITION BY NULL) - SUM(ActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(EstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(EstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyGrandTotal,
		CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(TimeEstimateQty) OVER (PARTITION BY NULL) - SUM(TimeActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(TimeEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyTimeGrandTotal,
		CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) - SUM(MaterialActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyMaterialGrandTotal,
		CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) - SUM(ExpenseActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyExpenseGrandTotal,
		CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(OtherEstimateQty) OVER (PARTITION BY NULL) - SUM(OtherActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(OtherEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyOtherGrandTotal,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY NULL) - SUM(ActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostGrandTotal,
		CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(TimeEstimateCost) OVER (PARTITION BY NULL) - SUM(TimeActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(TimeEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostTimeGrandTotal,
		CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) - SUM(MaterialActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostMaterialGrandTotal,
		CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) - SUM(ExpenseActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostExpenseGrandTotal,
		CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(OtherEstimateCost) OVER (PARTITION BY NULL) - SUM(OtherActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(OtherEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostOtherGrandTotal
	 FROM #TempDetail
	
END
ELSE
BEGIN

	SELECT * INTO #TempDetail2 FROM (
	SELECT p.CustId, p.ProjectName AS ProjectId, '' AS PhaseId, '' AS TaskId, p.[Description] AS [Description], t.[Type], 
		SUM(t.ActualQty) AS ActualQty, 
		SUM(t.EstimateQty) AS EstimateQty, 
		SUM(t.ActualCost) AS ActualCost, 
		SUM(t.EstimateCost) AS EstimateCost,
		SUM(t.EstimateQty) - SUM(t.ActualQty) AS VarianceQty, 
		CASE WHEN SUM(t.EstimateQty) = 0 THEN 0 ELSE (SUM(t.EstimateQty) - SUM(t.ActualQty))/SUM(t.EstimateQty) END * 100 AS PercentQty,
		SUM(t.EstimateCost) - SUM(t.ActualCost) AS VarianceCost, 
		CASE WHEN SUM(t.EstimateCost) = 0 THEN 0 ELSE (SUM(t.EstimateCost) - SUM(t.ActualCost))/SUM(t.EstimateCost) END * 100 AS PercentCost,
		CASE t.[Type] WHEN 0 THEN SUM(t.ActualQty) ELSE 0 END TimeActualQty,
		CASE t.[Type] WHEN 0 THEN SUM(t.EstimateQty) ELSE 0 END TimeEstimateQty,
		CASE t.[Type] WHEN 0 THEN SUM(t.ActualCost) ELSE 0 END TimeActualCost,
		CASE t.[Type] WHEN 0 THEN SUM(t.EstimateCost) ELSE 0 END TimeEstimateCost,
		CASE t.[Type] WHEN 1 THEN SUM(t.ActualQty) ELSE 0 END MaterialActualQty,
		CASE t.[Type] WHEN 1 THEN SUM(t.EstimateQty) ELSE 0 END MaterialEstimateQty,
		CASE t.[Type] WHEN 1 THEN SUM(t.ActualCost) ELSE 0 END MaterialActualCost,
		CASE t.[Type] WHEN 1 THEN SUM(t.EstimateCost) ELSE 0 END MaterialEstimateCost,
		CASE t.[Type] WHEN 2 THEN SUM(t.ActualQty) ELSE 0 END ExpenseActualQty,
		CASE t.[Type] WHEN 2 THEN SUM(t.EstimateQty) ELSE 0 END ExpenseEstimateQty,
		CASE t.[Type] WHEN 2 THEN SUM(t.ActualCost) ELSE 0 END ExpenseActualCost,
		CASE t.[Type] WHEN 2 THEN SUM(t.EstimateCost) ELSE 0 END ExpenseEstimateCost,
		CASE t.[Type] WHEN 3 THEN SUM(t.ActualQty) ELSE 0 END OtherActualQty,
		CASE t.[Type] WHEN 3 THEN SUM(t.EstimateQty) ELSE 0 END OtherEstimateQty,
		CASE t.[Type] WHEN 3 THEN SUM(t.ActualCost) ELSE 0 END OtherActualCost,
		CASE t.[Type] WHEN 3 THEN SUM(t.EstimateCost) ELSE 0 END OtherEstimateCost
	FROM #tmpProjectDetailType t INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
		INNER JOIN dbo.trav_PcProject_view p ON d.ProjectId = p.Id 
		LEFT JOIN (SELECT ProjectDetailId, [Type] FROM #tmpProjectDetailType GROUP BY ProjectDetailId, [Type]
			HAVING SUM(ActualCost) = 0) l ON t.ProjectDetailId = l.ProjectDetailId AND t.[Type] = l.[Type]
	WHERE (@IncludeZeroCost = 1 OR l.ProjectDetailId IS NULL) AND 
		(@CostVarianceOption = 2 OR (@CostVarianceOption = 0 AND t.EstimateCost > t.ActualCost) 
			OR (@CostVarianceOption = 1 AND t.EstimateCost < t.ActualCost))
	GROUP BY p.CustId, p.ProjectName, t.[Type], p.[Description] 
	) ds

	SELECT CustId, ProjectId, PhaseId, TaskId, [Description], [Type], 
		ActualQty, EstimateQty, ActualCost,	EstimateCost,
		VarianceQty, PercentQty,VarianceCost,PercentCost,

		TimeActualQty,
		TimeEstimateQty,
		TimeActualCost,
		TimeEstimateCost,

		MaterialActualQty,
		MaterialEstimateQty,
		MaterialActualCost,
		MaterialEstimateCost,

		ExpenseActualQty,
		ExpenseEstimateQty,
		ExpenseActualCost,
		ExpenseEstimateCost,

		OtherActualQty,
		OtherEstimateQty,
		OtherActualCost,
		OtherEstimateCost,

		TimeEstimateQty - TimeActualQty AS  TimeVarianceQty,
		TimeEstimateCost - TimeActualCost AS  TimeVarianceCost,

		MaterialEstimateQty - MaterialActualQty AS MaterialVarianceQty,
		MaterialEstimateCost - MaterialActualCost AS MaterialVarianceCost,

		ExpenseEstimateQty - ExpenseActualQty AS ExpenseVarianceQty,
		ExpenseEstimateCost - ExpenseActualCost AS ExpenseVarianceCost,

		OtherEstimateQty - OtherActualQty AS OtherVarianceQty,
		OtherEstimateCost - OtherActualCost AS OtherVarianceCost,
		
		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY ProjectId) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY ProjectId) - SUM(ActualCost) OVER (PARTITION BY ProjectId)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY ProjectId) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY ProjectId) END)) END * 100  AS PercentCostTaskId,

		CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(EstimateQty) OVER (PARTITION BY CustId) - SUM(ActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(EstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(EstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentQtyCustId,
		CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(TimeEstimateQty) OVER (PARTITION BY CustId) - SUM(TimeActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(TimeEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentTimeQtyCustId,
		CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) - SUM(MaterialActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(MaterialEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentMaterialQtyCustId,
		CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) - SUM(ExpenseActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(ExpenseEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentExpenseQtyCustId,
		CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(OtherEstimateQty) OVER (PARTITION BY CustId) - SUM(OtherActualQty) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(OtherEstimateQty) OVER (PARTITION BY CustId) END)) END * 100  AS PercentOtherQtyCustId,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY CustId) - SUM(ActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentCostCustId,
		CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(TimeEstimateCost) OVER (PARTITION BY CustId) - SUM(TimeActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(TimeEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentTimeCostCustId,
		CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) - SUM(MaterialActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(MaterialEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentMaterialCostCustId,
		CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) - SUM(ExpenseActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(ExpenseEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentExpenseCostCustId,
		CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 0 ELSE ((SUM(OtherEstimateCost) OVER (PARTITION BY CustId) - SUM(OtherActualCost) OVER (PARTITION BY CustId)) / (CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY CustId) = 0 THEN 1 ELSE SUM(OtherEstimateCost) OVER (PARTITION BY CustId) END)) END * 100  AS PercentOtherCostCustId,

		CASE WHEN SUM(EstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(EstimateQty) OVER (PARTITION BY NULL) - SUM(ActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(EstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(EstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyGrandTotal,
		CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(TimeEstimateQty) OVER (PARTITION BY NULL) - SUM(TimeActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(TimeEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(TimeEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyTimeGrandTotal,
		CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) - SUM(MaterialActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(MaterialEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyMaterialGrandTotal,
		CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) - SUM(ExpenseActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(ExpenseEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyExpenseGrandTotal,
		CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(OtherEstimateQty) OVER (PARTITION BY NULL) - SUM(OtherActualQty) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(OtherEstimateQty) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(OtherEstimateQty) OVER (PARTITION BY NULL) END)) END * 100  AS PercentQtyOtherGrandTotal,

		CASE WHEN SUM(EstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(EstimateCost) OVER (PARTITION BY NULL) - SUM(ActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(EstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(EstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostGrandTotal,
		CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(TimeEstimateCost) OVER (PARTITION BY NULL) - SUM(TimeActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(TimeEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(TimeEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostTimeGrandTotal,
		CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) - SUM(MaterialActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(MaterialEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostMaterialGrandTotal,
		CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) - SUM(ExpenseActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(ExpenseEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostExpenseGrandTotal,
		CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 0 ELSE ((SUM(OtherEstimateCost) OVER (PARTITION BY NULL) - SUM(OtherActualCost) OVER (PARTITION BY NULL)) / (CASE WHEN SUM(OtherEstimateCost) OVER (PARTITION BY NULL) = 0 THEN 1 ELSE SUM(OtherEstimateCost) OVER (PARTITION BY NULL) END)) END * 100  AS PercentCostOtherGrandTotal

	FROM #TempDetail2

END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCostVarianceAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCostVarianceAnalysisReport_proc'
GO
