USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVoidPaymentWrite_Bank_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVoidPaymentWrite_Bank_proc]
AS

SET NOCOUNT ON
BEGIN TRY

	--Update Bank
	UPDATE b
	SET b.GlAcctBal = b.GlAcctBal - (-1*t.SumAmount)
	FROM dbo.tblSmBankAcct b
	INNER JOIN (
						SELECT BankId	,sum(AmountFgn) SumAmount
						FROM #GlPostLogs
						WHERE [Grouping] = 30
						GROUP BY BankId

					) t ON b.BankId = t.BankId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc 
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Bank_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Bank_proc'
GO
