USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcBillingPost_Customer_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcBillingPost_Customer_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @TransType NVARCHAR(10)
	DECLARE @BaseCurrency [nvarchar](6)
	
	SELECT @TransType = Cast([Value] AS NVARCHAR(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTrans'  -- 'PCBILLTRAN' 
	SELECT @BaseCurrency = Cast([Value] AS NVARCHAR) FROM #GlobalValues WHERE [Key] = 'CurrBase'


	IF @TransType IS NULL OR @BaseCurrency IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--list of customers for balance aging 
	CREATE TABLE #CustomerList (CustID [nvarchar](10) NOT NULL) 

	--work copy of customer values for processing
	CREATE TABLE #CustInfo
	(
		CustId [nvarchar](10) NOT NULL,
		MaxInvoiceNumber [nvarchar](15) NULL,
		MaxInvoiceDate datetime,
		MinInvoiceDate datetime,
		CurrentBalance [decimal](28,10) NOT NULL,
		LastInvoiceNumber [nvarchar](15) NULL,
		LastInvoiceDate datetime,
		LastInvoiceAmount [decimal](28,10) NOT NULL,
		InvoiceAmountbase [decimal](28,10) NULL,
		CurrencyId [nvarchar](6) NULL,
		LastTransId [nvarchar](8) NULL
	)	


	--build a list of customer to be aged
	INSERT INTO #CustomerList (CustId)
	SELECT h.CustId 
	FROM #PostTransList b INNER JOIN dbo.tblPcInvoiceHeader h on b.TransId = h.TransId
	WHERE h.VoidYn = 0
	GROUP BY h.CustId

	--age customer balances
	EXEC dbo.trav_ArAgeCustomer_proc

	--capture current information for customers being updated
	INSERT INTO #CustInfo (CustId, MaxInvoiceDate, MinInvoiceDate, CurrentBalance
		, LastInvoiceNumber, LastInvoiceDate, LastInvoiceAmount)
	SELECT c.CustId, t.MaxInvoiceDate, t.MinInvoiceDate
		, (c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit)
		, c.LastSaleInvc, c.LastSaleDate, c.LastSaleAmt
	FROM dbo.tblArCust c 
	INNER JOIN 
	(
		SELECT h.CustId
			, MAX(CASE WHEN h.TransType > 0 THEN h.InvcDate ELSE NULL END) MaxInvoiceDate 
			, MIN(CASE WHEN h.TransType > 0 THEN h.InvcDate ELSE NULL END) MinInvoiceDate
		FROM #PostTransList b 
		INNER JOIN dbo.tblPcInvoiceHeader h on b.TransId = h.TransId
		WHERE h.VoidYn = 0	GROUP BY h.CustId
	) t on c.CustId = t.CustId

	--isolate the max invoice number for the most recent date being posted
	UPDATE #CustInfo SET MaxInvoiceNumber = t.MaxInvoiceNumber
	FROM 
	(
		SELECT h.CustId, h.InvcDate
			, MAX(ISNULL(h.InvcNum, b.DefaultInvoiceNumber)) MaxInvoiceNumber
		FROM #PostTransList b 
		INNER JOIN dbo.tblPcInvoiceHeader h on b.TransId = h.TransId
		WHERE h.TransType > 0 AND VoidYn = 0
		GROUP BY h.CustId, h.InvcDate
	) t
	WHERE #CustInfo.CustId = t.CustId AND #CustInfo.MaxInvoiceDate = t.InvcDate

	--update the customer values based upon the processed transactions
	UPDATE #CustInfo
		SET LastInvoiceNumber = MaxInvoiceNumber 
		, LastInvoiceDate = MaxInvoiceDate
		, LastInvoiceAmount = h.InvoiceAmount
		, CurrencyId = h.CurrencyID
		, InvoiceAmountbase = h.InvoiceAmountbase
		, LastTransId = h.TransId
	FROM #CustInfo 
	INNER JOIN 
	(
		SELECT h.CustId,h.TransId, h.InvcDate, ISNULL(h.InvcNum, b.DefaultInvoiceNumber) AS InvcNum
		, (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) AS InvoiceAmount
		, h.CurrencyID, (h.TaxSubtotal + h.NonTaxSubtotal + h.SalesTax + h.TaxAmtAdj)  As InvoiceAmountbase
		FROM #PostTransList b 
		INNER JOIN dbo.tblPcInvoiceHeader h on b.TransId = h.TransId
		WHERE h.TransType > 0 AND h.VoidYn = 0
			AND (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) > 0
	) h ON #CustInfo.CustId = h.CustId 
		AND #CustInfo.MaxInvoiceNumber = h.InvcNum
		AND #CustInfo.MaxInvoiceDate = h.InvcDate
	WHERE NOT(MaxInvoiceNumber IS NULL) 
		  AND (#CustInfo.LastInvoiceDate IS NULL OR #CustInfo.LastInvoiceDate <= h.InvcDate)

	-- Convert to Customer Currency
	UPDATE #CustInfo
		SET  LastInvoiceAmount =  CASE WHEN c.CurrencyId= ci.CurrencyId	THEN ci.LastInvoiceAmount
								  ELSE CASE WHEN c.CurrencyId =@BaseCurrency THEN ci.InvoiceAmountbase
									   ELSE ROUND(ci.LastInvoiceAmount * et.Rate,et.CurrDecPlaces)
								  END  END
	FROM #CustInfo ci
	LEFT JOIN tblArCust c ON ci.CustId=c.CustId
	LEFT JOIN
	( 
		SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey,TransType 
		FROM tblSmExchangeRateTrans e
		INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType
	) et
		ON  et.[Source] =ci.CurrencyId  AND et.Destination= c.CurrencyId AND et.TransKey=ci.LastTransId 
	WHERE ci.LastTransId IS NOT NULL
	
	--Raise Exception if Invalid Exchange rate Exists
	
	IF EXISTS (SELECT CustId  FROM  #CustInfo  WHERE LastInvoiceAmount IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END


	--apply the changes to the customer
	UPDATE dbo.tblArCust
		SET dbo.tblArCust.LastSaleInvc = t.LastInvoiceNumber
			, dbo.tblArCust.LastSaleDate = t.LastInvoiceDate
			, dbo.tblArCust.LastSaleAmt = t.LastInvoiceAmount
			, dbo.tblArCust.HighBal = 
				CASE WHEN isnull(dbo.tblArCust.HighBal, 0) < t.CurrentBalance 
				THEN t.CurrentBalance 
				ELSE dbo.tblArCust.HighBal END 
			, dbo.tblArCust.FirstSaleDate = 
				CASE WHEN dbo.tblArCust.FirstSaleDate IS NULL OR dbo.tblArCust.FirstSaleDate > t.MinInvoiceDate 
				THEN t.MinInvoiceDate 
				ELSE dbo.tblArCust.FirstSaleDate END
	FROM #CustInfo t
	WHERE dbo.tblArCust.CustId = t.CustId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_Customer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_Customer_proc'
GO
