USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTimeTicketPost_UpdateActivity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTimeTicketPost_UpdateActivity_proc]
AS
BEGIN TRY

	UPDATE dbo.tblPcActivity SET [Status] = 2 --Posted
		, [CF] = m.[CF]
	FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
		INNER JOIN dbo.tblPcActivity ON m.ActivityId = dbo.tblPcActivity.Id
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketPost_UpdateActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketPost_UpdateActivity_proc'
GO
