USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateScheduleAvailability_Update_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateScheduleAvailability_Update_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Populates/updates the schedule availability

	--Expects Schedule Availability data to be provided via temp table with the following
	--Create Table #ScheduleAvailability (
	--	[Id] [bigint] not null,
	--	[ScheduleId] [nvarchar](10) not null,
	--	[AvailType] [tinyint] not null,
	--	[StartDate] [datetime] not null,
	--	[EndDate] [datetime] not null
	--)

	--Retrieve global values
	DECLARE @ScheduleRange smallint, @ScheduleDate datetime

	SELECT @ScheduleRange = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = N'ScheduleRange'
	SELECT @ScheduleDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = N'ScheduleDate'
	
	IF @ScheduleRange IS NULL or @ScheduleDate IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Clears the current schedule availability
	Delete dbo.tblCsScheduleHeader
	Delete dbo.tblCsScheduleAvailability

	--Calculate expected range of schedule data
	Declare @RangeStartDate datetime, @RangeEndDate datetime
	SELECT @RangeStartDate = @ScheduleDate, @RangeEndDate = DATEADD(d, @ScheduleRange, @ScheduleDate)

	Declare @HdrIdOffset bigint
	Select @HdrIdOffset = isnull(Max([Id]), 0) From [dbo].[tblCsScheduleHeader]

	--Populate the schedule header with a distinct list of Schedules needed by the availability detail
	Insert into dbo.tblCsScheduleHeader ([Id], [ScheduleID], [EntryDate], [StartDate], [EndDate])
	Select @HdrIdOffset + Min([Id]), [ScheduleID], GetDate(), @RangeStartDate, @RangeEndDate
		From #ScheduleAvailability
		Group By [ScheduleID]

	Declare @AvailIdOffset bigint
	Select @AvailIdOffset = isnull(Max([Id]), 0) From [dbo].[tblCsScheduleAvailability]

	--Populate the schedule availability 
	Insert into dbo.tblCsScheduleAvailability ([Id], [HeaderId], [AvailType], [StartDate], [EndDate])
	Select @AvailIdOffset + a.[Id], h.[Id], a.[AvailType], a.[StartDate], a.[EndDate]
		From #ScheduleAvailability a
		Inner Join dbo.tblCsScheduleHeader h on a.[ScheduleId] = h.[ScheduleId]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateScheduleAvailability_Update_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateScheduleAvailability_Update_proc'
GO
