USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcMigration_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[trav_EcMigration_proc]
AS
BEGIN TRY
	IF NOT EXISTS(SELECT * FROM dbo.tblSysUpdateActivity WHERE ActivityId = '5688f41b-322c-4283-a6b0-bb5283057a63')
	BEGIN	
		if EXISTS (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblEdDocument]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
		BEGIN
			--Migrate business rules 'Archive Folder;Purchase Order File Path;Invoice File Path)
			DELETE dbo.tblSmConfigValue WHERE ConfigRef IN (1104,1106,1109,1112)
		
			INSERT INTO dbo.tblSmConfigValue ([ConfigRef], [RoleId], [ConfigValue])
			SELECT CASE [ConfigRef] WHEN 11009 THEN 1104 WHEN 11022 THEN 1106 WHEN 11033 THEN 1109 WHEN 11037 THEN 1112 END AS [ConfigRef], 
				[RoleId], [ConfigValue]
			FROM dbo.tblSmConfigValue
			WHERE ConfigRef IN (11009,11022,11033,11037)

			--CF fields of tblArShipTo
			UPDATE dbo.tblArShipTo SET EDIShipToCode = cf.cf_EDIShipToCode,
				EDIDfltLocId = cf.cf_EDIDfltLocId, EDIShipLeadDays = cf.cf_EDIShipLeadDays
			FROM dbo.tblArShipTo
				INNER JOIN
			 (SELECT pvt.[CustId], pvt.[ShiptoId]
				, Cast(pvt.[EDIShipToCode] As nvarchar(50)) AS [cf_EDIShipToCode]
				, Cast(pvt.[EDIDfltLocId] As nvarchar(10)) AS [cf_EDIDfltLocId]
				, Cast(pvt.[EDIShipLeadDays] As int) AS [cf_EDIShipLeadDays]
				 FROM
					 ( SELECT t.[CustId], t.[ShiptoId], [Name], [Value]
					 FROM
						 ( SELECT t.[CustId], t.[ShiptoId]
						 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
						 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
						 FROM dbo.[tblArShipTo] t
						 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
						 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
					 ) t
				 ) tmp
				 PIVOT (Max([Value]) FOR [Name] IN ([EDIShipToCode], [EDIDfltLocId], [EDIShipLeadDays])) AS pvt) cf ON dbo.tblArShipTo.CustId = cf.CustId AND dbo.tblArShipTo.ShiptoId = cf.ShiptoId

			--CF fields of tblArShipMethod
			UPDATE dbo.tblArShipMethod SET EDISCAC = cf.cf_EDISCAC
			FROM dbo.tblArShipMethod
				INNER JOIN
			 (SELECT pvt.[ShipMethodID]
				, Cast(pvt.[EDISCAC] As nvarchar(4)) AS [cf_EDISCAC]
				 FROM
					 ( SELECT t.[ShipMethodID], [Name], [Value]
					 FROM
						 ( SELECT t.[ShipMethodID]
						 , e.props.value('./Name[1]', 'NVARCHAR(max)') as [Name]
						 , e.props.value('./Value[1]', 'NVARCHAR(max)') as [Value]
						 FROM dbo.[tblArShipMethod] t
						 CROSS APPLY t.CF.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props)
						 WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1)
					 ) t
				 ) tmp
				 PIVOT (Max([Value]) FOR [Name] IN ([EDISCAC])) AS pvt) cf ON dbo.tblArShipMethod.ShipMethodID = cf.ShipMethodID 
			
			--Delete data from EDI tables first
			DELETE [dbo].[tblEcPartner]
			DELETE [dbo].[tblEcPartnerDoc]
			DELETE [dbo].[tblEcPartnerDocOverride]
			DELETE [dbo].[tblEcPartnerItemXRef]
			DELETE [dbo].[tblEcPartnerOption]
			DELETE [dbo].[tblEcPartnerOptionValue]
			DELETE [dbo].[tblEcPartnerSAC]
			DELETE [dbo].[tblEcPartnerShipMethod]
			DELETE [dbo].[tblEcPoHistHeader]
			DELETE [dbo].[tblEcPoHistDetail]
			DELETE [dbo].[tblEcPoHistSAC]
			DELETE [dbo].[tblEcPoHeader]
			DELETE [dbo].[tblEcPoDetail]
			DELETE [dbo].[tblEcPoSAC]
			DELETE [dbo].[tblEcPoErrorLog]
			DELETE [dbo].[tblEcRunCommandStatusHist]
			DELETE [dbo].[tblEcRunCommandStatus]
			DELETE [dbo].[tblEcPoSoTransHeader]
			DELETE [dbo].[tblEcPoSoTransDetail]
			DELETE [dbo].[tblEcPoSalesOrderLog]
			DELETE [dbo].[tblEcComm]
			DELETE [dbo].[tblEcInvcExportLog]
			DELETE [dbo].[tblEcMailControl]
			DELETE [dbo].[tblEcPackShipment]
			DELETE [dbo].[tblEcPackHeader]
			DELETE [dbo].[tblEcPackDetail]
			DELETE [dbo].[tblEcPackHistShipment]
			DELETE [dbo].[tblEcPackHistHeader]
			DELETE [dbo].[tblEcPackHistDetail]

			--tblEdPartner to tblEcPartner
			DECLARE @NewPartnerID AS bigint
			SET @NewPartnerID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPartner] ([ID], [PartnerID], [PartnerName], [AccountNumber], [DfltCustID], [DfltVendorId], [DfltLocId], [StartDate], [ContactName], [ContactPhone], [ContactFax], [ContactEmail], [ContactWebSite], [ISAControlNum], [GSControlNum], [STControlNum], [ActiveYn], [PartnerType], [CF])
			SELECT @NewPartnerID + ROW_NUMBER() OVER (ORDER BY p.[PartnerID]) AS IDNew, p.[PartnerID], p.[PartnerName], p.[AccountNumber], p.[DfltCustID], p.[DfltVendorId], p.[DfltLocId], p.[StartDate], p.[ContactName], p.[ContactPhone], p.[ContactFax], p.[ContactEmail], p.[ContactWebSite], p.[ISAControlNum], p.[GSControlNum], p.[STControlNum], p.[ActiveYn], p.[PartnerType], p.[CF]
			FROM [dbo].[tblEdPartner] p LEFT JOIN [dbo].[tblEcPartner] n ON p.[PartnerID] = n.[PartnerID]
			WHERE n.[ID] IS NULL

			--tblEdPartnerDoc to tblEcPartnerDoc
			DECLARE @NewPartnerDocID AS bigint
			SET @NewPartnerDocID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPartnerDoc] ([Id], [PartnerID], [DocID], [MailQual], [MailID], [MailIDKeyType], [DocVersion], [ContactName], [ContactPhone], [TestDate], [ProductionDate], [ActiveYN], [ProductionYN], [FileNameOverride], [FileNameOverride1], [IsVendor], [MailIdGS], [CmdCode], [MapCode], [DocFilePath])
			SELECT @NewPartnerDocID + ROW_NUMBER() OVER (ORDER BY d.[PartnerID], d.[DocID]) AS IDNew, p.[ID], c.[ID], d.[MailQual], d.[MailID], d.[MailIDKeyType], d.[DocVersion], d.[ContactName], d.[ContactPhone], d.[TestDate], d.[ProductionDate], d.[ActiveYN], d.[ProductionYN], d.[FileNameOverride], d.[FileNameOverride1], d.[IsVendor], d.[MailIdGS], d.[CmdCode], d.[MapCode], d.[DocFilePath]
			FROM [dbo].[tblEdPartnerDoc] d INNER JOIN [dbo].[tblEcPartner] p ON d.[PartnerID] = p.[PartnerID] 
				INNER JOIN dbo.tblEcDocument c ON d.[DocID] = c.[DocID]
				LEFT JOIN [dbo].[tblEcPartnerDoc] n ON p.[ID] = n.[PartnerID] AND c.[ID] = n.[DocID]
			WHERE n.[ID] IS NULL

			--tblEdPartnerDocOverride to tblEcPartnerDocOverride
			INSERT INTO [dbo].[tblEcPartnerDocOverride] ([Id], [PartnerId], [DocID], [KeyVal], [CustId], [MailQual], [MailId], [MailIdGS], [CF])
			SELECT d.[Id], p.[ID], c.[ID],  d.[KeyVal],  d.[CustId],  d.[MailQual],  d.[MailId],  d.[MailIdGS],  d.[CF]
			FROM [dbo].[tblEdPartnerDocOverride] d INNER JOIN [dbo].[tblEcPartner] p ON d.[PartnerID] = p.[PartnerID] 
				INNER JOIN dbo.tblEcDocument c ON d.[DocID] = c.[DocID]
				LEFT JOIN [dbo].[tblEcPartnerDocOverride] n ON d.[Id] = n.[Id]
			WHERE n.[Id] IS NULL

			--tblEdPartnerItemXRef to tblEcPartnerItemXRef
			DECLARE @NewPartnerItemXRefID AS bigint
			SET @NewPartnerItemXRefID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPartnerItemXRef] ([ID], [PartnerID], [UIR], [EDIUOM], [TRAVItemID], [TRAVUOM], [EAN], [UPC], [GTIN], [SKU], [BuyerCode], [VendorCode], [InternalCode], [ItemSizeDescr], [ItemColor], [ItemDescr], [AddnlDescr], [ItemPattern], [ItemCaseCode], [PackQty], [InnerPackQty], [CF])
			SELECT @NewPartnerItemXRefID + ROW_NUMBER() OVER (ORDER BY i.[PartnerID], i.[UIR], i.[EDIUOM]) AS IDNew, p.[ID], i.[UIR], i.[EDIUOM], i.[TRAVItemID], i.[TRAVUOM], i.[EAN], i.[UPC], i.[GTIN], i.[SKU], i.[BuyerCode], i.[VendorCode], i.[InternalCode], i.[ItemSizeDescr], i.[ItemColor], i.[ItemDescr], i.[AddnlDescr], i.[ItemPattern], i.[ItemCaseCode], i.[PackQty], i.[InnerPackQty], i.[CF] 
			FROM [dbo].[tblEdPartnerItemXRef] i INNER JOIN [dbo].[tblEcPartner] p ON i.[PartnerID] = p.[PartnerID] 
				LEFT JOIN [dbo].[tblEcPartnerItemXRef] n ON p.[ID] = n.[PartnerID] AND i.[UIR] = n.[UIR] ANd i.[EDIUOM] = n.[EDIUOM]
			WHERE n.[ID] IS NULL

			--tblEdPartnerOption to tblEcPartnerOption
			INSERT INTO [dbo].[tblEcPartnerOption] ([ID], [OptCode], [Descr], [OptGroupId], [RecType], [DispSeq], [VisibleYN], [DefaultValue], [MaxWidth], [RequiredYn], [ValueListId], [ReadOnlyYn], [CF])
			SELECT o.[PartnerOptId], o.[OptCode], o.[Descr], o.[OptGroupId], o.[RecType], o.[DispSeq], o.[VisibleYN], o.[DefaultValue], o.[MaxWidth], o.[RequiredYn], o.[ValueListId], o.[ReadOnlyYn], o.[CF] 
			FROM [dbo].[tblEdPartnerOption] o LEFT JOIN [dbo].[tblEcPartnerOption] n ON o.[PartnerOptId] = n.[ID]
			WHERE n.[ID] IS NULL

			--tblEdPartnerOptionValue to tblEcPartnerOptionValue
			INSERT INTO [dbo].[tblEcPartnerOptionValue] ([Id], [PartnerId], [PartnerOptId], [OptValue], [CF])
			SELECT v.[Id], v.[PartnerId], v.[PartnerOptId], v.[OptValue], v.[CF]
			FROM [dbo].[tblEdPartnerOptionValue] v LEFT JOIN [dbo].[tblEcPartnerOptionValue] n ON v.[Id] = n.[ID]
			WHERE n.[ID] IS NULL

			--tblEdPartnerSAC to tblEcPartnerSAC
			INSERT INTO [dbo].[tblEcPartnerSAC] ([Id], [PartnerId], [SACCode], [HeaderDetail], [SACDescr], [SACSeq], [ImpliedYN], [SACIndicator], [SACAdjType], [SACCalcOn], [SACAmount], [AdjServiceItem])
			SELECT s.[Id], p.[ID], s.[SACCode], s.[HeaderDetail], s.[SACDescr], s.[SACSeq], s.[ImpliedYN], s.[SACIndicator], s.[SACAdjType], s.[SACCalcOn], s.[SACAmount], s.[AdjServiceItem] 
			FROM [dbo].[tblEdPartnerSAC] s INNER JOIN [dbo].[tblEcPartner] p ON s.[PartnerID] = p.[PartnerID] 
				LEFT JOIN [dbo].[tblEcPartnerSAC] n ON s.[Id] = n.[Id]
			WHERE n.[ID] IS NULL

			--tblEdPartnerShipMethod to tblEcPartnerShipMethod
			DECLARE @NewPartnerShipMethodID AS bigint
			SET @NewPartnerShipMethodID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
			INSERT INTO [dbo].[tblEcPartnerShipMethod] ([Id], [PartnerID], [DocId], [ShipMethodCodeFrom], [ShipMethodCodeTo], [PartnerShipMethodDescr], [SCAC], [AltShipCode], [MaxWeight], [MaxValue])
			SELECT @NewPartnerShipMethodID + ROW_NUMBER() OVER (ORDER BY s.[PartnerID], s.[DocId], s.[ShipMethodCodeFrom]) AS IDNew, p.[ID], c.[ID], s.[ShipMethodCodeFrom], s.[ShipMethodCodeTo], s.[PartnerShipMethodDescr], s.[SCAC], s.[AltShipCode], s.[MaxWeight], s.[MaxValue]
			FROM [dbo].[tblEdPartnerShipMethod] s INNER JOIN [dbo].[tblEcPartner] p ON s.[PartnerID] = p.[PartnerID] 
				INNER JOIN dbo.tblEcDocument c ON s.[DocID] = c.[DocID]
				LEFT JOIN [dbo].[tblEcPartnerShipMethod] n ON p.[ID] = n.[PartnerID] AND c.[ID] = n.[DocId]
			WHERE n.[ID] IS NULL

			DECLARE @NewHeaderID AS bigint, @NewDetailID bigint, @MaxHeaderID bigint, @MaxDetailID bigint, @NewSacID AS bigint, @MaxSacID AS bigint

			--tblEdPoHistHeader to tblEcPoHistHeader
			SET @NewHeaderID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPoHistHeader] ([Id], [PostRun], [ImportBatchId], [KeyLevelSeq1], [SenderID], [PartnerId], [EDIPartnerId], [CustID], [CustAcctType], [ARShipToID], [CustPONum], [ReleaseNumber], [PODate], [ReqShipDate], [CancelDate], [ReqDeliveryDate], [POType], [OrderRef], [EDIVendorNumber], [EDIDepartment], [MerchandiseTypeCode], [SOShipToName], [SOShipMethodCode], [SOShipVia], [EDIShipToCode], [ShipToName], [ShipToAddr1], [ShipToAddr2], [ShipToCity], [ShipToRegion], [ShipToCountry], [ShipToPostalCode], [EDIBillToCode], [BillToName], [BillToAddr1], [BillToAddr2], [BillToCity], [BillToRegion], [BillToCountry], [BillToPostalCode], [MarkFor], [TotalPoAmt], [FreightAmt], [SalesTaxAmt], [CarrierCode], [CarrierName], [TrackingNum], [PaymentMethod], [PaymentAmt], [PaymentAuthCode], [TotalPoLines], [SOReqShipDate], [OrderNotes], [ShipNotes], [ImportDate], [SOTransId], [PartnerType], [CreateCustID], [UpdateSOTransID])
			SELECT @NewHeaderID + ROW_NUMBER() OVER (ORDER BY h.[PostRun], h.[ImportBatchId], h.[KeyLevelSeq1]) AS IDNew, h.[PostRun], h.[ImportBatchId], h.[KeyLevelSeq1], h.[SenderID], p.[ID], h.[PartnerID], h.[CustID], h.[CustAcctType], h.[ARShipToID], h.[CustPONum], h.[ReleaseNumber], h.[PODate], h.[ReqShipDate], h.[CancelDate], h.[ReqDeliveryDate], h.[POType], h.[OrderRef], h.[EDIVendorNumber], h.[EDIDepartment], h.[MerchandiseTypeCode], h.[SOShipToName], h.[SOShipMethodCode], h.[SOShipVia], h.[EDIShipToCode], h.[ShipToName], h.[ShipToAddr1], h.[ShipToAddr2], h.[ShipToCity], h.[ShipToRegion], h.[ShipToCountry], h.[ShipToPostalCode], h.[EDIBillToCode], h.[BillToName], h.[BillToAddr1], h.[BillToAddr2], h.[BillToCity], h.[BillToRegion], h.[BillToCountry], h.[BillToPostalCode], h.[MarkFor], h.[TotalPoAmt], h.[FreightAmt], h.[SalesTaxAmt], h.[CarrierCode], h.[CarrierName], h.[TrackingNum], h.[PaymentMethod], h.[PaymnetAmt], h.[PaymentAuthCode], h.[TotalPoLines], h.[SOReqShipDate], h.[OrderNotes], h.[ShipNotes], h.[ImportDate], h.[SOTransId], h.[PartnerType], h.[CreateCustID], h.[UpdateSOTransID] 
			FROM [dbo].[tblEdPoHistHeader] h LEFT JOIN [dbo].[tblEcPartner] p ON h.[PartnerID] = p.PartnerID
				LEFT JOIN [dbo].[tblEcPoHistHeader] n ON h.[PostRun] = n.[PostRun] AND h.[ImportBatchId] = n.[ImportBatchId] AND h.[KeyLevelSeq1] = n.[KeyLevelSeq1]
			WHERE n.[ID] IS NULL

			--tblEdPoHistDetail to tblEcPoHistDetail
			SET @NewDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPoHistDetail] ([Id], [PostRun], [PoHistHeaderID], [KeyLevelSeq2], [SenderId], [CustPoNum], [PoLineNum], [LineReleaseNumber], [EDIBillToCode], [EDIShipToCode], [ShipToName], [ShipToAddr1], [ShipToAddr2], [ShipToCity], [ShipToRegion], [ShipToCountry], [ShipToPostalCode], [ItemUir], [ItemBuyerCode], [ItemVendorCode], [ItemUPC], [ItemID], [ItemDescr], [LocId], [QtyOrd], [POUnitsSell], [UnitPrice], [RetailPrice], [PackQty], [InnerPackQty], [ItemVendorCompanyCode], [ItemVendorCompanyName], [SOShipToID], [SOShipToName], [SOShipToAddr1], [SOShipToAddr2], [SOShipToCity], [SOShipToRegion], [SOShipToCountry], [SOShipToPostalCode], [SOItemDescr], [SOItemDescrAddnl], [SOUnitsSell], [SOUnitPriceSell], [SOQtyOrdSell], [RequestedDate], [SOReqShipDate], [SOTransID], [SOEntryNum], [SplitSeq], [LineREF02], [UpdateSOTransID], [UpdateSOEntryNum], [UpdateSOAction])
			SELECT @NewDetailID + ROW_NUMBER() OVER (ORDER BY d.[PostRun], d.[ImportBatchId], d.[KeyLevelSeq1], d.[KeyLevelSeq2]) AS QtyIDNew, d.[PostRun], h.[ID], d.[KeyLevelSeq2], d.[SenderId], d.[CustPoNum], d.[PoLineNum], d.[LineReleaseNumber], d.[EDIBillToCode], d.[EDIShipToCode], d.[ShipToName], d.[ShipToAddr1], d.[ShipToAddr2], d.[ShipToCity], d.[ShipToRegion], d.[ShipToCountry], d.[ShipToPostalCode], d.[ItemUir], d.[ItemBuyerCode], d.[ItemVendorCode], d.[ItemUPC], d.[ItemID], d.[ItemDescr], d.[LocId], d.[QtyOrd], d.[POUnitsSell], d.[UnitPrice], d.[RetailPrice], d.[PackQty], d.[InnerPackQty], d.[ItemVendorCompanyCode], d.[ItemVendorCompanyName], d.[SOShipToID], d.[SOShipToName], d.[SOShipToAddr1], d.[SOShipToAddr2], d.[SOShipToCity], d.[SOShipToRegion], d.[SOShipToCountry], d.[SOShipToPostalCode], d.[SOItemDescr], d.[SOItemDescrAddnl], d.[SOUnitsSell], d.[SOUnitPriceSell], d.[SOQtyOrdSell], d.[RequestedDate], d.[SOReqShipDate], d.[SOTransID], d.[SOEntryNum], d.[SplitSeq], d.[LineREF02], d.[UpdateSOTransID], d.[UpdateSOEntryNum], d.[UpdateSOAction]
			FROM [dbo].[tblEdPoHistDetail] d INNER JOIN [dbo].[tblEcPoHistHeader] h ON d.[PostRun] = h.[PostRun] AND d.[ImportBatchId] = h.[ImportBatchId] AND d.[KeyLevelSeq1] = h.[KeyLevelSeq1] 
				LEFT JOIN [dbo].[tblEcPoHistDetail] n ON d.[PostRun] = n.[PostRun] AND h.[ID] = n.[PoHistHeaderID] AND d.[KeyLevelSeq2] = n.[KeyLevelSeq2]
			WHERE n.[ID] IS NULL

			--tblEdPoHistSAC to tblEcPoHistSAC
			SET @NewSacID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			INSERT INTO [dbo].[tblEcPoHistSAC] ([Id], [PostRun], [POHeaderID], [PODetailID], [SACCode], [SACDescr], [SACSeq], [ImpliedYN], [SACIndicator], [SACCalcOn], [SACAmount], [SACPct], [AdjServiceItem], [AdjServiceLocId])
			SELECT @NewSacID + ROW_NUMBER() OVER (ORDER BY s.[PostRun], s.[ImportBatchId], s.[KeyLevelSeq1], s.[KeyLevelSeq2]) AS IDNew, s.[PostRun], h.[ID], d.[ID], [SACCode], [SACDescr], s.[SACSeq], s.[ImpliedYN], s.[SACIndicator], s.[SACCalcOn], s.[SACAmount], s.[SACPct], s.[AdjServiceItem], s.[AdjServiceLocId]
			FROM [dbo].[tblEdPoHistSAC] s INNER JOIN  [dbo].[tblEcPoHistHeader] h ON s.[PostRun] = h.[PostRun] AND s.[ImportBatchId] = h.[ImportBatchId] AND s.[KeyLevelSeq1] = h.[KeyLevelSeq1]
				LEFT JOIN [dbo].[tblEcPoHistDetail] d ON h.[PostRun] = d.[PostRun] AND h.[ID] = d.[PoHistHeaderID] AND s.[KeyLevelSeq2] = d.[KeyLevelSeq2]

			--tblEdPoHeader to tblEcPoHeader
			SELECT @MaxHeaderID = MAX(ID) FROM [dbo].[tblEcPoHistHeader]
			SET @MaxHeaderID = ISNULL(@MaxHeaderID, 0)

			SET @NewHeaderID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			WHILE @NewHeaderID <= @MaxHeaderID
			BEGIN
			SET @NewHeaderID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			END

			INSERT INTO [dbo].[tblEcPoHeader] ([Id], [ImportBatchId], [KeyLevelSeq1], [SenderID], [PartnerId], [CustID], [CustAcctType], [ARShipToID], [CustPONum], [ReleaseNumber], [PODate], [ReqShipDate], [CancelDate], [ReqDeliveryDate], [POType], [OrderRef], [EDIVendorNumber], [EDIDepartment], [MerchandiseTypeCode], [SOShipToName], [SOShipMethodCode], [SOShipVia], [EDIShipToCode], [ShipToName], [ShipToAddr1], [ShipToAddr2], [ShipToCity], [ShipToRegion], [ShipToCountry], [ShipToPostalCode], [EDIBillToCode], [BillToName], [BillToAddr1], [BillToAddr2], [BillToCity], [BillToRegion], [BillToCountry], [BillToPostalCode], [MarkFor], [TotalPoAmt], [FreightAmt], [SalesTaxAmt], [CarrierCode], [CarrierName], [TrackingNum], [PaymentMethod], [PaymentAmt], [PaymentAuthCode], [TotalPoLines], [SOReqShipDate], [OrderNotes], [ImportDate], [SOTransId], [PartnerType], [CreateCustID], [UpdateSOTransID], [ErrorCode], [ShipNotes])
			SELECT @NewHeaderID + ROW_NUMBER() OVER (ORDER BY h.[ImportBatchId], h.[KeyLevelSeq1]) AS IDNew, h.[ImportBatchId], h.[KeyLevelSeq1], h.[SenderID], p.[ID], h.[CustID], h.[CustAcctType], h.[ARShipToID], h.[CustPONum], h.[ReleaseNumber], h.[PODate], h.[ReqShipDate], h.[CancelDate], h.[ReqDeliveryDate], h.[POType], h.[OrderRef], h.[EDIVendorNumber], h.[EDIDepartment], h.[MerchandiseTypeCode], h.[SOShipToName], h.[SOShipMethodCode], h.[SOShipVia], h.[EDIShipToCode], h.[ShipToName], h.[ShipToAddr1], h.[ShipToAddr2], h.[ShipToCity], h.[ShipToRegion], h.[ShipToCountry], h.[ShipToPostalCode], h.[EDIBillToCode], h.[BillToName], h.[BillToAddr1], h.[BillToAddr2], h.[BillToCity], h.[BillToRegion], h.[BillToCountry], h.[BillToPostalCode], h.[MarkFor], h.[TotalPoAmt], h.[FreightAmt], h.[SalesTaxAmt], h.[CarrierCode], h.[CarrierName], h.[TrackingNum], h.[PaymentMethod], h.[PaymnetAmt], h.[PaymentAuthCode], h.[TotalPoLines], h.[SOReqShipDate], h.[OrderNotes], h.[ImportDate], h.[SOTransId], h.[PartnerType], h.[CreateCustID], h.[UpdateSOTransID], h.[ErrorCode], h.[ShipNotes] 
			FROM [dbo].[tblEdPoHeader] h LEFT JOIN [dbo].[tblEcPartner] p ON h.[PartnerID] = p.PartnerID 
				LEFT JOIN [dbo].[tblEcPoHeader] n ON h.[ImportBatchId] = n.[ImportBatchId] AND h.[KeyLevelSeq1] = n.[KeyLevelSeq1]
			WHERE n.[ID] IS NULL

			--tblEdPoDetail to tblEcPoDetail
			SELECT @MaxDetailID = MAX(ID) FROM [dbo].[tblEcPoHistDetail]
			SET @MaxDetailID = ISNULL(@MaxDetailID, 0)

			SET @NewDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			WHILE @NewDetailID <= @MaxDetailID
			BEGIN
			SET @NewDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			END

			INSERT INTO [dbo].[tblEcPoDetail] ([Id], [POHeaderID], [KeyLevelSeq2], [SenderId], [CustPoNum], [PoLineNum], [LineReleaseNumber], [EDIBillToCode], [EDIShipToCode], [ShipToName], [ShipToAddr1], [ShipToAddr2], [ShipToCity], [ShipToRegion], [ShipToCountry], [ShipToPostalCode], [ItemUir], [ItemBuyerCode], [ItemVendorCode], [ItemUPC], [ItemID], [ItemDescr], [LocId], [QtyOrd], [POUnitsSell], [UnitPrice], [RetailPrice], [PackQty], [InnerPackQty], [ItemVendorCompanyCode], [ItemVendorCompanyName], [SOShipToID], [SOShipToName], [SOShipToAddr1], [SOShipToAddr2], [SOShipToCity], [SOShipToRegion], [SOShipToCountry], [SOShipToPostalCode], [SOItemDescr], [SOItemDescrAddnl], [SOUnitsSell], [SOUnitPriceSell], [SOQtyOrdSell], [RequestedDate], [SOReqShipDate], [SOTransID], [SOEntryNum], [SplitSeq], [LineREF02], [UpdateSOTransID], [UpdateSOEntryNum], [UpdateSOAction], [PriceFromFileYN], [ErrorCode], [CalcUnitPriceSell])
			SELECT @NewDetailID + ROW_NUMBER() OVER (ORDER BY d.[ImportBatchId], d.[KeyLevelSeq1], d.[KeyLevelSeq2]) AS IDNew, h.[ID], d.[KeyLevelSeq2], d.[SenderId], d.[CustPoNum], d.[PoLineNum], d.[LineReleaseNumber], d.[EDIBillToCode], d.[EDIShipToCode], d.[ShipToName], d.[ShipToAddr1], d.[ShipToAddr2], d.[ShipToCity], d.[ShipToRegion], d.[ShipToCountry], d.[ShipToPostalCode], d.[ItemUir], d.[ItemBuyerCode], d.[ItemVendorCode], d.[ItemUPC], d.[ItemID], d.[ItemDescr], d.[LocId], d.[QtyOrd], d.[POUnitsSell], d.[UnitPrice], d.[RetailPrice], d.[PackQty], d.[InnerPackQty], d.[ItemVendorCompanyCode], d.[ItemVendorCompanyName], d.[SOShipToID], d.[SOShipToName], d.[SOShipToAddr1], d.[SOShipToAddr2], d.[SOShipToCity], d.[SOShipToRegion], d.[SOShipToCountry], d.[SOShipToPostalCode], d.[SOItemDescr], d.[SOItemDescrAddnl], d.[SOUnitsSell], d.[SOUnitPriceSell], d.[SOQtyOrdSell], d.[RequestedDate], d.[SOReqShipDate], d.[SOTransID], d.[SOEntryNum], d.[SplitSeq], d.[LineREF02], d.[UpdateSOTransID], d.[UpdateSOEntryNum], d.[UpdateSOAction], d.[PriceFromFileYN], d.[ErrorCode], d.[CalcUnitPriceSell]
			FROM [dbo].[tblEdPoDetail] d INNER JOIN [dbo].[tblEcPoHeader] h ON d.[ImportBatchId] = h.[ImportBatchId] AND d.[KeyLevelSeq1] = h.[KeyLevelSeq1]
				LEFT JOIN [dbo].[tblEcPoDetail] n ON h.[ID] = n.[POHeaderID] AND d.[KeyLevelSeq2] = n.[KeyLevelSeq2]
			WHERE n.[ID] IS NULL

			--tblEdPoSAC to tblEcPoSAC
			SELECT @MaxSacID = MAX(ID) FROM [dbo].[tblEcPoHistSAC]
			SET @MaxSacID = ISNULL(@MaxSacID, 0)

			SET @NewSacID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			WHILE @NewSacID <= @MaxSacID
			BEGIN
			SET @NewSacID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			END

			INSERT INTO [dbo].[tblEcPoSAC] ([Id], [POHeaderID], [PODetailID], [SACCode], [SACDescr], [SACSeq], [ImpliedYN], [SACIndicator], [SACCalcOn], [SACAmount], [SACPct], [AdjServiceItem], [AdjServiceLocId])
			SELECT @NewSacID + ROW_NUMBER() OVER (ORDER BY s.[ImportBatchId], s.[KeyLevelSeq1], s.[KeyLevelSeq2]) AS IDNew, h.[ID], d.[ID], [SACCode], [SACDescr], s.[SACSeq], s.[ImpliedYN], s.[SACIndicator], s.[SACCalcOn], s.[SACAmount], s.[SACPct], s.[AdjServiceItem], s.[AdjServiceLocId]
			FROM [dbo].[tblEdPoSAC] s INNER JOIN  [dbo].[tblEcPoHeader] h ON s.[ImportBatchId] = h.[ImportBatchId] AND s.[KeyLevelSeq1] = h.[KeyLevelSeq1]
				LEFT JOIN [dbo].[tblEcPoDetail] d ON h.[ID] = d.[PoHeaderID] AND s.[KeyLevelSeq2] = d.[KeyLevelSeq2]

			--tblEdPoErrorLog to tblEcPoErrorLog
			SET IDENTITY_INSERT [dbo].[tblEcPoErrorLog] ON
			INSERT INTO [dbo].[tblEcPoErrorLog] ([ID], [POHeaderID], [PODetailID], [PartnerId], [CustPoNum], [LineNum], [ErrCode], [ErrDescr], [ErrSequence], [ErrRecType], [ErrStatus], [SkipValidationYN])
			SELECT e.[ID], h.[ID], d.[ID], p.[ID], e.[CustPoNum], e.[LineNum], e.[ErrCode], e.[ErrDescr], e.[ErrSequence], CASE e.[ErrRecType] WHEN 'H' THEN 1 WHEN 'D' THEN 0 END, e.[ErrStatus], e.[SkipValidationYN] 
			FROM [dbo].[tblEdPoErrorLog] e INNER JOIN [dbo].[tblEcPoHeader] h ON e.[ImportBatchId] = h.[ImportBatchId] AND e.[KeyLevelSeq1] = h.[KeyLevelSeq1]
				LEFT JOIN [dbo].[tblEcPoDetail] d ON h.[ID] = d.[PoHeaderID] AND e.[KeyLevelSeq2] = d.[KeyLevelSeq2] 
				LEFT JOIN [dbo].[tblEcPartner] p ON e.[PartnerID] = p.[PartnerID] 
				LEFT JOIN [dbo].[tblEcPoErrorLog] n ON e.[ID] = n.[ID]
			WHERE n.[ID] IS NULL
			SET IDENTITY_INSERT [dbo].[tblEcPoErrorLog] OFF

			DECLARE @NewRunCommandStatusID AS bigint, @MaxRunCommandStatusID bigint

			--tblEdRunCommandStatusHist to tblEcRunCommandStatusHist
			SET @NewRunCommandStatusID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcRunCommandStatusHist] ([Id], [PostRun], [FunctionName], [GroupId], [CmdId], [ParamCode], [ParamValue], [RunParams], [FileName], [Status], [Message], [StatusTime], [UserId], [WrkStnId])
			SELECT @NewRunCommandStatusID + ROW_NUMBER() OVER (ORDER BY h.[PostRun], h.[CmdCode]) AS IDNew, h.[PostRun], h.[FunctionName], NULL, r.[Id], h.[ParamCode], h.[ParamValue], h.[RunParams], h.[FileName], h.[Status], h.[Message], h.[StatusTime], h.[UserId], h.[WrkStnId]
			FROM [dbo].[tblEdRunCommandStatusHist] h LEFT JOIN [dbo].[tblEcRunCommand] r ON h.[CmdCode] = r.[CmdCode]

			--tblEdRunCommandStatus to tblEcRunCommandStatus
			SELECT @MaxRunCommandStatusID = MAX(ID) FROM [dbo].[tblEdRunCommandStatusHist]
			SET @MaxRunCommandStatusID = ISNULL(@MaxRunCommandStatusID, 0)

			SET @NewRunCommandStatusID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			WHILE @NewRunCommandStatusID <= @MaxRunCommandStatusID
			BEGIN
			SET @NewRunCommandStatusID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
			END

			INSERT INTO [dbo].[tblEcRunCommandStatus] ([Id], [PostRun], [FunctionName], [GroupId], [CmdId], [ParamCode], [ParamValue], [RunParams], [ArchivePath], [FileName], [Status], [Message], [StatusTime], [InVisibleYn], [UserId], [WrkStnId], [ReportFileName], [RunCmd], [RunParam])
			SELECT @NewRunCommandStatusID + ROW_NUMBER() OVER (ORDER BY h.[PostRun], h.[CmdCode]) AS IDNew, h.[PostRun], h.[FunctionName], NULL, r.[Id], h.[ParamCode], h.[ParamValue], h.[RunParams], h.[ArchivePath], h.[FileName], h.[Status], h.[Message], h.[StatusTime], h.[InVisibleYn], h.[UserId], h.[WrkStnId], h.[ReportFileName], h.[RunCmd], h.[RunParam]
			FROM [dbo].[tblEdRunCommandStatus] h LEFT JOIN [dbo].[tblEcRunCommand] r ON h.[CmdCode] = r.[CmdCode]

			--tblEdPoSoTransHeader to tblEcPoSoTransHeader
			DECLARE @NewPoSoHeaderID AS bigint
			SET @NewPoSoHeaderID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			INSERT INTO [dbo].[tblEcPoSoTransHeader] ([Id], [SoTransId], [POHeaderID], [PartnerID], [CustID], [CustPoNum], [PoDate])
			SELECT @NewPoSoHeaderID + ROW_NUMBER() OVER (ORDER BY s.[ImportBatchId], s.[KeyLevelSeq1]) AS IDNew, s.[SoTransId], h.[Id], p.[Id], s.[CustID], s.[CustPoNum], s.[PoDate]
			FROM [dbo].[tblEdPoSoTransHeader] s INNER JOIN [dbo].[tblEcPoHistHeader] h ON s.[ImportBatchId] = h.[ImportBatchId] AND s.[KeyLevelSeq1] = h.[KeyLevelSeq1] 
				LEFT JOIN [dbo].[tblEcPartner] p ON s.[PartnerID] = p.[PartnerID]
				LEFT JOIN [dbo].[tblEcPoSoTransHeader] n ON h.[Id] = n.[POHeaderID]
			WHERE n.[Id] IS NULL

			--tblEdPoSoTransDetail to tblEcPoSoTransDetail
			DECLARE @NewPoSoDetailID AS bigint
			SET @NewPoSoDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
			INSERT INTO [dbo].[tblEcPoSoTransDetail] ([Id], [PoSoHeaderID], [SoTransId], [SOEntryNum], [PoDetailID], [SplitSeq], [PoLineNum])
			SELECT @NewPoSoDetailID + ROW_NUMBER() OVER (ORDER BY sd.[ImportBatchId], sd.[KeyLevelSeq1], sd.[KeyLevelSeq2]) AS IDNew, h.[Id], sd.[SoTransId], sd.[SOEntryNum], d.[Id], sd.[SplitSeq], sd.[PoLineNum]
			FROM [dbo].[tblEdPoSoTransDetail] sd INNER JOIN [dbo].[tblEdPoSoTransHeader] sh ON sd.[ImportBatchId] = sh.[ImportBatchId] AND sd.[KeyLevelSeq1] = sh.[KeyLevelSeq1] 
				INNER JOIN [dbo].[tblEcPoHistHeader] h ON sh.[ImportBatchId] = h.[ImportBatchId] AND sh.[KeyLevelSeq1] = h.[KeyLevelSeq1] 
				INNER JOIN [dbo].[tblEcPoHistDetail] d ON h.[PostRun] = d.[PostRun] AND h.[Id] = d.[PoHistHeaderID] AND sd.[KeyLevelSeq2] = d.[KeyLevelSeq2]
				LEFT JOIN [dbo].[tblEcPoSoTransDetail] n ON d.[ID] = n.[PoDetailID]
			WHERE n.[ID] IS NULL

			--tblEdPoSalesOrderLog to tblEcPoSalesOrderLog
			INSERT INTO [dbo].[tblEcPoSalesOrderLog] ([Id], [PostRun], [ImportBatchId], [CustId], [PartnerId], [CustPoNum], [EDIShipToCode], [ArShipToId], [ArShipToName], [SOTransId], [SoTransAmt], [SoTransQty], [UserID], [WrkStnId])
			SELECT l.[Id], l.[PostRun], l.[ImportBatchId], l.[CustId], p.[ID], l.[CustPoNum], l.[EDIShipToCode], l.[ArShipToId], l.[ArShipToName], l.[SOTransId], l.[SoTransAmt], l.[SoTransQty], l.[UserID], l.[WrkStnId]
			FROM [dbo].[tblEdPoSalesOrderLog] l LEFT JOIN [dbo].[tblEcPartner] p ON l.[PartnerID] = p.[PartnerID]
				LEFT JOIN [dbo].[tblEcPoSalesOrderLog] n ON l.[Id] = n.[Id]
			WHERE n.[Id] IS NULL

			--tblEdComm to tblEcComm
			INSERT INTO [dbo].[tblEcComm] ([Id], [DocID], [PostRun], [DocKey], [OnHoldYn], [CF])
			SELECT c.[Id], d.[Id], c.[PostRun], c.[DocKey], c.[OnHoldYn], c.[CF]
			FROM [dbo].[tblEdComm] c INNER JOIN [dbo].[tblEcDocument] d ON c.[DocID] = d.[DocId] 
				LEFT JOIN [dbo].[tblEcComm] n ON c.[Id] = n.[Id]
			WHERE n.[Id] IS NULL

			--tblEdInvcExportLog to tblEcInvcExportLog
			INSERT INTO [dbo].[tblEcInvcExportLog] ([ID], [PostRun], [PartnerID], [CustID], [EdiInvcNum], [InvcDate], [CustPoNum], [InvcTotal])
			SELECT i.[ID], i.[PostRun], p.[ID], i.[CustID], i.[EdiInvcNum], i.[InvcDate], i.[CustPoNum], i.[InvcTotal] 
			FROM [dbo].[tblEdInvcExportLog] i LEFT JOIN [dbo].[tblEcPartner] p ON i.[PartnerID] = p.[PartnerID]
				LEFT JOIN [dbo].[tblEcInvcExportLog] n ON i.[ID] = n.[ID]
			WHERE n.[ID] IS NULL

			--tblEdMailControl to tblEcMailControl
			INSERT INTO [dbo].[tblEcMailControl] ([Id], [ImportBatchId], [KeyLevelSeq1], [PartnerId], [DocID], [EdiDocNum], [DocKey], [DocAddnlRef1], [SenderID], [SenderIDGS], [ReceiverID], [ReceiverIDGS], [ISAControlNum], [GSControlNum], [STControlNum], [GSVersion], [StatusFlag], [SendDate], [SendTime], [FAISAControlNum], [FAGSControlNum], [FASTControlNum], [FAReturnCode], [FADate], [FATime])
			SELECT c.[ImportId], c.[ImportBatchId], c.[KeyLevelSeq1], p.[ID], d.[ID], c.[EdiDocNum], c.[DocKey], c.[DocAddnlRef1], c.[SenderID], c.[SenderIDGS], c.[ReceiverID], c.[ReceiverIDGS], c.[ISAControlNum], c.[GSControlNum], c.[STControlNum], c.[GSVersion], c.[StatusFlag], c.[SendDate], c.[SendTime], c.[FAISAControlNum], c.[FAGSControlNum], c.[FASTControlNum], c.[FAReturnCode], c.[FADate], c.[FATime]
			FROM [dbo].[tblEdMailControl] c INNER JOIN [dbo].[tblEcDocument] d ON c.[DocId] = d.[DocId] 
				LEFT JOIN [dbo].[tblEcPartner] p ON c.[PartnerID] = p.[PartnerID]
				LEFT JOIN [dbo].[tblEcMailControl] n ON c.[ImportId] = n.[Id]
			WHERE n.[Id] IS NULL

			DELETE FROM dbo.tblSmCustomFieldEntity WHERE [FieldId] IN (SELECT [Id] FROM dbo.tblSmCustomField WHERE FieldName IN ('EDIShipToCode','EDIDfltLocId','EDISCAC','EDIShipLeadDays'))

			DELETE FROM dbo.tblSmCustomField WHERE [FieldName] IN ('EDIShipToCode','EDIDfltLocId','EDISCAC','EDIShipLeadDays')

			--Additional EDI Packing Migration
			DECLARE @NewPackShipmentID AS bigint, @NewPackHeaderID AS bigint, @NewPackDetailID AS bigint
			SELECT @NewPackShipmentID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100,
				@NewPackHeaderID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100,
				@NewPackDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			CREATE TABLE #tmpShipment ([NewShipmentID] bigint NOT NULL, [ShipmentID] int NOT NULL, [PostRun] nvarchar(14) NULL)
			CREATE TABLE #tmpPackHeader ([NewHeaderID] bigint NOT NULL, [ShipmentID] int NOT NULL, [EntryNum] int NOT NULL,[PostRun] nvarchar(14))
			
			INSERT INTO #tmpShipment ([NewShipmentID], [ShipmentID], [PostRun])
			SELECT @NewPackShipmentID + ROW_NUMBER() OVER (ORDER BY s.[PostRun] DESC, s.[ShipmentId]) AS IDNew, s.[ShipmentID], s.[PostRun]
			FROM (SELECT [ShipmentID], [PostRun]
			FROM [dbo].[tblEdPackHistShipment] 
			UNION ALL
			SELECT [ShipmentID], NULL AS [PostRun]
			FROM [dbo].[tblEdPackShipment]) s

			INSERT INTO #tmpPackHeader ([NewHeaderID], [ShipmentID], [EntryNum], [PostRun])
			SELECT @NewPackHeaderID + ROW_NUMBER() OVER (ORDER BY h.[PostRun] DESC, h.[ShipmentId], h.[EntryNum]) AS IDNew, h.[ShipmentID], h.[EntryNum], h.[PostRun]
			FROM (SELECT [ShipmentID], [EntryNum], [PostRun]
			FROM [dbo].[tblEdPackHistHeader] 
			UNION ALL
			SELECT [ShipmentID], [EntryNum], NULL AS [PostRun]
			FROM [dbo].[tblEdPackHeader]) h

			--tblEdPackHistShipment to tblEcPackHistShipment
			INSERT INTO [dbo].[tblEcPackHistShipment] ([ID], [PostRun], [CustId], [CustPoNum], [ShiptoId], [PartnerID], [ShipViaCode], [BillofLading], [VICSBillofLading], [MasterBillofLading], [ProNumber], [ShipRequestID], [Weight], [ShipDate], [ShipCost], [ExpDeliveryDate], [LoadId], [ShipmentStatus], [ContainersInShipment], [ContainerUOM], [WeightUOM], [SCAC], [ShipToCode], [MethodOfPay], [TransMethodCode], [ShipFromLocation], [ShipFromCompany], [HLCount], [TransSetPurposeCode], [IsEdiYN], [UserID], [WrkStnID], [IsDeleteYN], [CF])
			SELECT t.[NewShipmentID], s.[PostRun], s.[CustId], s.[CustPoNum], s.[ShiptoId], p.[ID], s.[ShipViaCode], s.[BillofLading], s.[VICSBillofLading], s.[MasterBillofLading], s.[ProNumber], s.[ShipRequestID], s.[Weight], s.[ShipDate], s.[ShipCost], s.[ExpDeliveryDate], s.[LoadId], s.[ShipmentStatus], s.[ContainersInShipment], s.[ContainerUOM], s.[WeightUOM], s.[SCAC], s.[ShipToCode], s.[MethodOfPay], s.[TransMethodCode], s.[ShipFromLocation], s.[ShipFromCompany], s.[HLCount], s.[TransSetPurposeCode], s.[IsEdiYN], s.[UserID], s.[WrkStnID], s.[IsDeleteYN], s.[CF] 
			FROM [dbo].[tblEdPackHistShipment] s INNER JOIN #tmpShipment t ON s.[ShipmentID] = t.[ShipmentID] AND s.[PostRun] = t.[PostRun]
				LEFT JOIN [dbo].[tblEcPartner] p ON s.[PartnerID] = p.[PartnerID]

			--tblEdPackShipment to tblEcPackShipment
			INSERT INTO [dbo].[tblEcPackShipment] ([ID], [CustId], [CustPoNum], [ShiptoId], [PartnerID], [ShipViaCode], [BillofLading], [VICSBillofLading], [MasterBillofLading], [ProNumber], [ShipRequestID], [Weight], [ShipDate], [ShipCost], [ExpDeliveryDate], [LoadId], [ShipmentStatus], [ContainersInShipment], [ContainerUOM], [WeightUOM], [SCAC], [ShipToCode], [MethodOfPay], [TransMethodCode], [ShipFromLocation], [ShipFromCompany], [HLCount], [TransSetPurposeCode], [IsEdiYN], [UserID], [WrkStnID], [CF])
			SELECT t.[NewShipmentID], s.[CustId], s.[CustPoNum], s.[ShiptoId], p.[ID], s.[ShipViaCode], s.[BillofLading], s.[VICSBillofLading], s.[MasterBillofLading], s.[ProNumber], s.[ShipRequestID], s.[Weight], s.[ShipDate], s.[ShipCost], s.[ExpDeliveryDate], s.[LoadId], s.[ShipmentStatus], s.[ContainersInShipment], s.[ContainerUOM], s.[WeightUOM], s.[SCAC], s.[ShipToCode], s.[MethodOfPay], s.[TransMethodCode], s.[ShipFromLocation], s.[ShipFromCompany], s.[HLCount], s.[TransSetPurposeCode], s.[IsEdiYN], s.[UserID], s.[WrkStnID], s.[CF]
			FROM [dbo].[tblEdPackShipment] s INNER JOIN #tmpShipment t ON s.[ShipmentID] = t.[ShipmentID] AND t.[PostRun] IS NULL
				LEFT JOIN [dbo].[tblEcPartner] p ON s.[PartnerID] = p.[PartnerID]

			--tblEdPackHistHeader to 
			INSERT INTO [dbo].[tblEcPackHistHeader] ([PostRun], [ID], [ShipmentID], [EntryNum], [TransID], [ShipToId], [TrackingNum], [UCC128], [Weight], [DateAdded], [TotShipToContainers], [TotShipToContainersSeqNum], [ASNNumber], [PrintYn], [UserID], [WrkStnID], [CF])
			SELECT h.[PostRun], t.[NewHeaderID],s.[NewShipmentID], h.[EntryNum], h.[TransID], h.[ShipToId], h.[TrackingNum], h.[UCC128], h.[Weight], h.[DateAdded], h.[TotShipToContainers], h.[TotShipToContainersSeqNum], h.[ASNNumber], h.[PrintYn], h.[UserID], h.[WrkStnID], h.[CF]
			FROM [dbo].[tblEdPackHistHeader] h INNER JOIN #tmpPackHeader t ON h.[ShipmentID] = t.[ShipmentID] AND h.[EntryNum] = t.[EntryNum] AND h.[PostRun] = t.[PostRun]
				INNER JOIN #tmpShipment s ON h.[ShipmentID] = s.[ShipmentID] AND h.[PostRun] = s.[PostRun]

			--tblEdPackHeader to tblEcPackHeader
			INSERT INTO [dbo].[tblEcPackHeader] ([ID], [ShipmentID], [EntryNum], [TransID], [ShipToId], [TrackingNum], [UCC128], [Weight], [DateAdded], [TotShipToContainers], [TotShipToContainersSeqNum], [ASNNumber], [PrintYn], [UserID], [WrkStnID], [CF])
			SELECT t.[NewHeaderID],s.[NewShipmentID], h.[EntryNum], h.[TransID], h.[ShipToId], h.[TrackingNum], h.[UCC128], h.[Weight], h.[DateAdded], h.[TotShipToContainers], h.[TotShipToContainersSeqNum], h.[ASNNumber], h.[PrintYn], h.[UserID], h.[WrkStnID], h.[CF]
			FROM [dbo].[tblEdPackHeader] h INNER JOIN #tmpPackHeader t ON h.[ShipmentID] = t.[ShipmentID] AND h.[EntryNum] = t.[EntryNum] AND t.[PostRun] IS NULL
				INNER JOIN #tmpShipment s ON h.[ShipmentID] = s.[ShipmentID] AND s.[PostRun] IS NULL

			--tblEdPackHistDetail to tblEcPackHistDetail
			INSERT INTO [dbo].[tblEcPackHistDetail] ([PostRun], [ID], [PackHeaderID], [EntryNum], [TransId], [TransEntryNum], [ItemID], [ItemUom], [CalcWeight], [QtyPacked], [WhslPrice], [LottedYN], [LotNumber], [InItemYN], [ItemType], [AsnEntryNum], [UserID], [WrkStnID], [CF])
			SELECT d.[PostRun], @NewPackDetailID + ROW_NUMBER() OVER (ORDER BY d.[PostRun], d.[ShipmentId], d.[HeaderEntryNum], d.[EntryNum]) AS IDNew, t.[NewHeaderID], d.[EntryNum], d.[TransId], d.[TransEntryNum], d.[ItemID], d.[ItemUom], d.[CalcWeight], d.[QtyPacked], d.[WhslPrice], d.[LottedYN], d.[LotNumber], d.[InItemYN], d.[ItemType], d.[AsnEntryNum], d.[UserID], d.[WrkStnID], d.[CF]
			FROM [dbo].[tblEdPackHistDetail] d INNER JOIN #tmpPackHeader t ON d.[ShipmentID] = t.[ShipmentID] AND d.[HeaderEntryNum] = t.[EntryNum] AND d.[PostRun] = t.[PostRun]

			SELECT @NewPackDetailID = MAX(ID) FROM [dbo].[tblEcPackHistDetail]
			IF @NewPackDetailID IS NULL
				SET @NewPackDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

			--tblEdPackDetail to tblEcPackDetail
			INSERT INTO [dbo].[tblEcPackDetail] ([ID], [PackHeaderID], [EntryNum], [TransId], [TransEntryNum], [ItemID], [ItemUom], [CalcWeight], [QtyPacked], [WhslPrice], [LottedYN], [LotNumber], [InItemYN], [ItemType], [AsnEntryNum], [UserID], [WrkStnID], [CF])
			SELECT @NewPackDetailID + ROW_NUMBER() OVER (ORDER BY d.[ShipmentId], d.[HeaderEntryNum], d.[EntryNum]) AS IDNew, t.[NewHeaderID], d.[EntryNum], d.[TransId], d.[TransEntryNum], d.[ItemID], d.[ItemUom], d.[CalcWeight], d.[QtyPacked], d.[WhslPrice], d.[LottedYN], d.[LotNumber], d.[InItemYN], d.[ItemType], d.[AsnEntryNum], d.[UserID], d.[WrkStnID], d.[CF] 
			FROM [dbo].[tblEdPackDetail] d INNER JOIN #tmpPackHeader t ON d.[ShipmentID] = t.[ShipmentID] AND d.[HeaderEntryNum] = t.[EntryNum] AND t.[PostRun] IS NULL

		END

		DELETE [dbo].[tblSmApp_Installed] WHERE AppID = 'ED'

		--log that the update has been applied
		INSERT INTO dbo.tblSysUpdateActivity([ActivityId], [Description])
		VALUES ('5688f41b-322c-4283-a6b0-bb5283057a63', 'EDI migration.')

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 22349' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcMigration_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.22349.1397' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcMigration_proc'
GO
