USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlRealizedGainLossPost_Update_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlRealizedGainLossPost_Update_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @CompID [sysname]
	DECLARE @PostRun [nvarchar](14), @PostGainLossDtlYn bit, @WksDate datetime
	
	SELECT @CompID = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @PostGainLossDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostGainLossDtlYn'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate' 
	
	IF @CompID IS NULL OR @PostRun IS NULL OR @PostGainLossDtlYn IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #Unposted
	(
		AcctIDOffset [nvarchar](255) NULL
		, AcctIDGainLoss [nvarchar](255) NULL 		
		, [Description] [nvarchar] (800)
		, SourceCode [nvarchar] (2)
		, Reference [nvarchar] (15)
		, AmountOffset [decimal](28,3) NOT NULL
		, AmountBase [decimal](28,3) NOT NULL
		, AmountGainLoss [decimal](28,3) NOT NULL
		, FiscalYear [smallint]
		, FiscalPeriod [smallint]		
	)
	
	CREATE TABLE #DetailEntries
	(
		[GlAccount] [nvarchar](255) NULL			
		, [Description] [nvarchar] (800)
		, SourceCode [nvarchar] (2)
		, Reference [nvarchar] (15)
		, [DebitAmount] [decimal](28,3) NOT NULL
		, [CreditAmount] [decimal](28,3) NOT NULL		
		, FiscalYear [smallint]
		, FiscalPeriod [smallint]
		, [DebitAmountFgn] [decimal](28,3) NOT NULL	
		, [CreditAmountFgn]	[decimal](28,3) NOT NULL		
		, [ExchRate] [Decimal](28, 18) NOT NULL
		, [Grouping]  [smallint] 
		, [AmountFgn] [decimal](28,3) NOT NULL	
	)
	
	INSERT INTO #Unposted(
		 AcctIDOffset
		, AcctIDGainLoss		
		, [Description]
		, SourceCode
		, Reference
		, AmountOffset
		, AmountBase
		, AmountGainLoss
		, FiscalYear
		, FiscalPeriod			
		)
	SELECT g.AcctIDOffset
		, g.AcctIDGainLoss
		, g.SourceCode + '/'+g.FunctionID
		, g.SourceCode
		, g.LinkPostRun
		, g.AmountOffset
		, g.AmountBase
		, g.AmountGainLoss
		, g.FiscalYear	
		, g.FiscalPeriod	
	FROM #GainLossTransList t
	INNER JOIN dbo.tblGlGainLoss g on t.id = g.id
	WHERE g.PostRun IS NULL 
	
	-- offset amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		 
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 
		, CASE WHEN g.AmountBase > 0 THEN 0 
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END		
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountOffset < 0 THEN 0
			   WHEN g.AmountOffset > 0 THEN g.AmountOffset ELSE 0 END 
		, CASE WHEN g.AmountOffset > 0 THEN 0 
			   WHEN g.AmountOffset < 0 THEN ABS(g.AmountOffset) ELSE 0 END		
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountOffset/g.AmountBase END
		, 1
		, g.AmountOffset
	FROM #Unposted g
	WHERE (g.AmountOffset >= 0 and g.AmountBase >= 0) OR (g.AmountOffset <= 0 and g.AmountBase <= 0)
	
	-- offset amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE AmountBase END
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END		
		, g.FiscalYear, g.FiscalPeriod
		, 0
		, 0
		, 0 --exch rate not applicable
		, 2
		, 0
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

	-- offset amount (account currency amount when signs of amount do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, 0
		, 0
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountOffset < 0 THEN 0
			   WHEN g.AmountOffset > 0 THEN g.AmountOffset ELSE 0 END 
		, CASE WHEN g.AmountOffset > 0 THEN 0 
			   WHEN g.AmountOffset < 0 THEN ABS(g.AmountOffset) ELSE 0 END		
		, 0 --exch rate not applicable
		, 3
		, g.AmountOffset
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

		
	-- gainloss amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase > 0 THEN 0
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END 
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountGainLoss/g.AmountBase END
		, 4
		, g.AmountGainLoss
	FROM  #Unposted g	
	WHERE (g.AmountOffset >= 0 and g.AmountBase >= 0) OR (g.AmountOffset <= 0 and g.AmountBase <= 0)
	
	-- gainloss amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE g.AmountBase END		
		, g.FiscalYear, g.FiscalPeriod
		, 0
		, 0
		, 0 --exch rate not applicable
		, 5
		, 0
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

	-- gainloss amount (account currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description] ,g.SourceCode, g.Reference
		, 0
		, 0
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, 0 --exch rate not applicable
		, 6
		, g.AmountGainLoss
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)
	
		
	--conditionally summarize the gain/loss entries to be created
	IF @PostGainLossDtlYn = 1
	BEGIN	
		-- offset amount
		INSERT INTO #GlPostLogs ([GlAccount]
			, [TransDate], [Description], [SourceCode], [Reference]
			, [DebitAmount]
			, [CreditAmount]
			, [FiscalYear], [FiscalPeriod], [PostRun]
			, [DebitAmountFgn]
			, [CreditAmountFgn]
			, [CurrencyId], [ExchRate]
			, [CompId], [PostDate], [LinkIdSubLine], [URG], [Grouping], [AmountFgn])
		SELECT g.GlAccount
			, @WksDate, g.[Description] ,g.SourceCode, g.Reference
			, g.DebitAmount
			, g.CreditAmount
			, g.FiscalYear, g.FiscalPeriod, @PostRun
			, g.DebitAmountFgn
			, g.CreditAmountFgn 
			, h.CurrencyID, 1
			, @CompID, @WksDate, -6,0,g.[Grouping],ABS(g.AmountFgn)
		FROM #DetailEntries g
		LEFT JOIN tblGlAcctHdr h ON g.GlAccount = h.AcctId
		WHERE g.DebitAmount <> 0 OR g.CreditAmount <> 0  OR g.DebitAmountFgn <> 0 OR g.CreditAmountFgn <> 0
	END	
	ELSE
	BEGIN
		INSERT INTO #GlPostLogs ([GlAccount]
			, [TransDate], [Description], [SourceCode], [Reference]
			, [DebitAmount]
			, [CreditAmount]
			, [FiscalYear], [FiscalPeriod], [PostRun]
			, [DebitAmountFgn]
			, [CreditAmountFgn]
			, [CurrencyId], [ExchRate]
			, [CompId], [PostDate], [LinkIdSubLine], [URG], [Grouping], [AmountFgn])
		SELECT g.GlAccount
			, @WksDate, 'Gain Loss Summary' ,g.SourceCode, 'Gain Loss'
			, CASE WHEN SUM(g.DebitAmount - g.CreditAmount) > 0 THEN SUM(g.DebitAmount - g.CreditAmount) ELSE 0 END
            , CASE WHEN SUM(g.DebitAmount - g.CreditAmount) < 0 THEN ABS(SUM(g.DebitAmount - g.CreditAmount)) ELSE 0 END
            , g.FiscalYear, g.FiscalPeriod, @PostRun
            , CASE WHEN SUM(g.DebitAmountFgn - g.CreditAmountFgn) > 0 THEN SUM(g.DebitAmountFgn - g.CreditAmountFgn) ELSE 0 END
            , CASE WHEN SUM(g.DebitAmountFgn - g.CreditAmountFgn) < 0 THEN ABS(SUM(g.DebitAmountFgn - g.CreditAmountFgn)) ELSE 0 END
			, h.CurrencyID, 1
			, @CompID, @WksDate, -6,0,g.[Grouping],ABS(SUM(g.AmountFgn))
		FROM #DetailEntries g
		LEFT JOIN tblGlAcctHdr h ON g.GlAccount = h.AcctId	
		WHERE g.DebitAmount <> 0 OR g.CreditAmount <> 0  OR g.DebitAmountFgn <> 0 OR g.CreditAmountFgn <> 0	
		GROUP BY g.GlAccount,g.SourceCode,  g.FiscalYear, g.FiscalPeriod, h.CurrencyID,g.[Grouping]
			
	END
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRealizedGainLossPost_Update_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRealizedGainLossPost_Update_proc'
GO
