USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_APVendorCheck_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_APVendorCheck_proc]
	@VendorId pVendorId	
AS

SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @Count pDecimal
	
	--Count of Invoices against a vendor for which payments has been prepared
	SELECT @Count = COUNT(*)
		FROM (SELECT o.Counter 
				FROM dbo.tblApOpenInvoice (NOLOCK) o INNER JOIN dbo.tblApPaymentDetail (NOLOCK) d 
					ON o.Counter = d.InvoiceCounter AND o.Status = 0 AND o.VendorID = @VendorId) AS s
		
	SELECT @Count AS CountOf
		
END TRY
BEGIN CATCH
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_APVendorCheck_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_APVendorCheck_proc'
GO
