USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsRewardActivityPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsRewardActivityPost_BuildLog_proc] 
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE	@CompId nvarchar(3), @PostRun [nvarchar](14) , @PostDtlYn bit, @PrecCurr smallint, @CurrBase [nvarchar](6)
		, @WrkStnDate datetime, @SourceCode nvarchar(2), @FiscalYear smallint, @FiscalPeriod smallint,
		@TransType nvarchar(10)

	--Retrieve global values
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @SourceCode = Cast([Value] AS nvarchar(2)) FROM #GlobalValues WHERE [Key] = 'SourceCode'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @TransType  = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransRewardType'  --PSREWARD


	IF @CompId IS NULL OR @PostRun IS NULL OR @PostDtlYn IS NULL OR @CurrBase IS NULL OR @WrkStnDate IS NULL 
		OR @SourceCode IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL OR @PrecCurr IS  NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--use a temp table to pre-process transactional information
	CREATE TABLE #TransPostLog 
	(
		[ActivityID] [bigint] NOT NULL,
		[Grouping] [smallint] NULL, 
		[TransDate] [datetime] NULL, 
		[Descr] [nvarchar](255) NULL, --cut to 30 for #GlPostLogs
		[Reference] [nvarchar](15) NULL, 
		[GlAcct] [nvarchar](255) NULL, 
		[CreditAmount] [decimal](28,10) NULL, 
		[DebitAmount] [decimal](28,10) NULL, 
		[LinkID] [nvarchar](255) NULL, 	
	)

	--capture the reward point liability (Credit)
	INSERT INTO #TransPostLog ([ActivityID], [Grouping], [TransDate], [Descr], [Reference]
		, [GlAcct], [CreditAmount], [DebitAmount], [LinkID])
	SELECT l.[ID], 10, a.[TransDate], p.[Description], 'Accrual'
		, a.[LiabilityAccount]
		, CASE WHEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) >= 0 THEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) ELSE 0 END
		, CASE WHEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) < 0 THEN -ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) ELSE 0 END
		, CAST(l.[ID] AS nvarchar(255))
	FROM #ActivityList l
	INNER JOIN dbo.tblPsRewardActivity a on l.[ID] = a.[ID]
	LEFT JOIN dbo.tblPsRewardProgram p on a.[ProgramID] = p.[ID]
	WHERE a.[Type] = 0 --Accruals
		AND a.[PostRun] IS NULL --unposted


	--capture the reward point expense (Debit)
	INSERT INTO #TransPostLog ([ActivityID], [Grouping], [TransDate], [Descr], [Reference]
		, [GlAcct], [CreditAmount], [DebitAmount], [LinkID])
	SELECT l.[ID], 20, a.[TransDate], p.[Description], 'Accrual'
		, a.[GLAccount]
		, CASE WHEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) < 0 THEN -ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) ELSE 0 END
		, CASE WHEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) >= 0 THEN ROUND(a.[PointValue] * p.[RedemptionRate] / 100.0, @PrecCurr) ELSE 0 END
		, CAST(l.[ID] AS nvarchar(255))
	FROM #ActivityList l
	INNER JOIN dbo.tblPsRewardActivity a on l.[ID] = a.[ID]
	LEFT JOIN dbo.tblPsRewardProgram p on a.[ProgramID] = p.[ID]
	WHERE a.[Type] = 0 --Accruals
		AND a.[PostRun] IS NULL --unposted
	
	--Create ExchRateTrans Entries if the GLAccount currency is not Base Currency
	IF EXISTS
	(	
		SELECT [GlAcct] FROM #TransPostLog d
		INNER JOIN dbo.tblGlAcctHdr a ON a.AcctId = d.GlAcct
		WHERE a.CurrencyID <> @CurrBase
	)
	BEGIN
		INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,Source,Destination,Rate)
		SELECT @TransType,@PostRun,ed.Source,ed.Destination, ed.[Rate] AS [ExchRate]
		FROM dbo.tblSmExchangeRate (NOLOCK) eh 	
		INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
		WHERE eh.ID = (SELECT TOP 1 ID FROM dbo.tblSmExchangeRate WHERE [Type] = 0 and EffectiveDate <= @WrkStnDate ORDER BY EffectiveDate DESC)
	END


	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],[Description],Reference,
			SourceCode, CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSub,LinkIdSubLine)
	SELECT @PostRun, @TransType,@PostRun, @PostRun, @CompId, GlAcct,@FiscalYear,@FiscalPeriod, [Grouping], 
	CASE @PostDtlYn WHEN 0 THEN CASE WHEN [Grouping] = 10 THEN 'Accrual Liability'
									 WHEN [Grouping] = 20 THEN 'Accrual Expense'
									 ELSE 'Unknown' END
		 ELSE LEFT([Descr], 30) END ,
	CASE @PostDtlYn WHEN 0 THEN 'PS' ELSE [Reference] END, 
	@SourceCode,CreditAmount, DebitAmount, CreditAmount, DebitAmount,@CurrBase,
	CASE @PostDtlYn WHEN 0 THEN @WrkStnDate ELSE TransDate END, @WrkStnDate,
	CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkId END,NULL,NULL	 
	FROM #TransPostLog		
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_BuildLog_proc'
GO
