USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_AutoAssignBankCashReceipt_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[_RCG_trav_AutoAssignBankCashReceipt_proc]

@CompId nchar(3)=null


AS
SET NOCOUNT ON
BEGIN TRY
	
	---10 RECURSION


    --clear the transaction table before starting 
    --warning was given when button was clicked
    delete from _RCG_tblRcBankTransDetail;


-- based on the archive records, determine what current bank transactions can be auto applied


--create temporary table to hold list of customers and companies for this import
create table #_RCG_AutoProcessTemp
(
[BankImportId] [int] NULL,
    [WebCompId] [nchar](3) NULL,
	[CustId] [nvarchar](10) NULL,
	[CustRefNo1] [nvarchar](50) NULL,
    [CustRefNo2] [nvarchar](50) NULL

)

-- ROUND 1 -- ROUTING/ACCOUNT WERE IN PRIOR LOCKBOX TRANSACTIONS
insert into #_RCG_AutoProcessTemp 
         (
            BankImportId
            ,WebCompId
            ,CustId
            ,CustRefNo1
            ,CustRefNo2
         )

    select distinct 
            i.Id
            ,dv.[WebCompId]
           ,dv.[CustId]
           --,dv.CustRefNo1
           --,dv.CustRefNo2
		   ,dv.AcctOrEnvNum1
		   ,dv.TransNo
        from _RCG_tblRcBankFileImport i
            cross apply (select top 1 Id,WebCompId,CustId, AcctOrEnvNum1,TransNo from _RCG_tblRcBankCashReceiptArchive a where a.AcctOrEnvNum1=i.AcctOrEnvNum1 and a.TransNo=i.TransNo ORDER BY id desc) as dv
        where i.FileType='Lock Box' and dv.Id is not null;

-- ROUND 2 -- COMPANY ID MATCH ON BANK LINES
insert into #_RCG_AutoProcessTemp 
         (
            BankImportId
            ,WebCompId
            ,CustId
            ,CustRefNo1
         )

    select distinct 
           i.Id
           ,dv.[WebCompId]
           ,dv.[CustId]
		   ,dv.CompanyID
        from _RCG_tblRcBankFileImport i cross apply string_split(REPLACE(note,'        ','|'),'|') n
            cross apply (
				select top 1 Id,WebCompId,CustId, SUBSTRING(r.value, CHARINDEX('=', r.value) + 1, LEN(r.value)) as CompanyID 
				from _RCG_tblRcBankCashReceiptArchive a CROSS APPLY string_split(REPLACE(note,'        ','|'),'|') r
				where a.FileType = 'Bank'
				and LEFT(r.value, ABS(CHARINDEX('=', r.value) - 1)) = 'COMPANY ID'
				and SUBSTRING(r.value, CHARINDEX('=', r.value) + 1, LEN(r.value))=SUBSTRING(n.value, CHARINDEX('=', n.value) + 1, LEN(n.value))
				ORDER BY ID DESC) as dv
        where i.FileType='Bank' 
			and LEFT(n.value, ABS(CHARINDEX('=', n.value) - 1)) = 'COMPANY ID'
			and dv.Id is not null
			and i.id not in (SELECT BankImportId FROM #_RCG_AutoProcessTemp);

-- ROUND 3 -- COMPANY NAME MATCH ON BANK LINES
insert into #_RCG_AutoProcessTemp 
         (
            BankImportId
            ,WebCompId
            ,CustId
            ,CustRefNo1
         )

    select distinct 
           i.Id
           ,dv.[WebCompId]
           ,dv.[CustId]
		   ,dv.CompanyID
        from _RCG_tblRcBankFileImport i cross apply string_split(REPLACE(note,'        ','|'),'|') n
            cross apply (
				select top 1 Id,WebCompId,CustId, SUBSTRING(r.value, CHARINDEX('=', r.value) + 1, LEN(r.value)) as CompanyID 
				from _RCG_tblRcBankCashReceiptArchive a CROSS APPLY string_split(REPLACE(note,'        ','|'),'|') r
				where a.FileType = 'Bank'
				and LEFT(r.value, ABS(CHARINDEX('=', r.value) - 1)) = 'SENDING CO. NAME'
				and SUBSTRING(r.value, CHARINDEX('=', r.value) + 1, LEN(r.value))=SUBSTRING(n.value, CHARINDEX('=', n.value) + 1, LEN(n.value))
				ORDER BY ID DESC) as dv
        where i.FileType='Bank' 
			and LEFT(n.value, ABS(CHARINDEX('=', n.value) - 1)) = 'SENDING CO. NAME'
			and dv.Id is not null
			and i.id not in (SELECT BankImportId FROM #_RCG_AutoProcessTemp);


DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQLCommand NVARCHAR(MAX);
declare @MainCompanyId nchar(3)=@CompId;  -- this needs to reflect the main database that the process is being run from (should be 007)



-- Create a cursor to iterate through databases being used in this cash receipt run
--handle direct match of custref fields and single invoice amount
DECLARE db_cursor CURSOR FOR
select distinct WebCompId from _RCG_tblRcCompDefault where IsActive=1;

-- ROUND 1 - AMOUNT LESS DISCOUNT MATCH
OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN

  SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +
    
	N'INSERT INTO ['+@MainCompanyId+'].[dbo].[_RCG_tblRcBankTransDetail]
           ([BankFileImportId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt])

           select 
                f.Id
                ,t.WebCompId
                ,t.CustId
                ,dv.InvcNum
                ,f.Amt1
                ,dv.[Counter]
                ,dv.DiscAmt
           
            from  ['+@MainCompanyId+'].dbo._RCG_tblRcBankFileImport f
                inner join #_RCG_AutoProcessTemp t on f.Id=t.BankImportId
                cross apply (select top 1 * from ['+@DatabaseName+'].dbo._RCG_trav_OpenInvoice_view i where i.CustId=t.CustId and i.Amt-i.DiscAmt=f.Amt1 and InvcType=''Invoice'' order by TransDate ) as dv'


          --select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;

CLOSE db_cursor;
--DEALLOCATE db_cursor;


-- ROUND 2 - AMOUNT MATCH

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN

  SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +
    
	N'INSERT INTO ['+@MainCompanyId+'].[dbo].[_RCG_tblRcBankTransDetail]
           ([BankFileImportId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt])

           select 
                f.Id
                ,t.WebCompId
                ,t.CustId
                ,dv.InvcNum
                ,f.Amt1
                ,dv.[Counter]
                ,dv.DiscAmt
           
            from  ['+@MainCompanyId+'].dbo._RCG_tblRcBankFileImport f
                inner join #_RCG_AutoProcessTemp t on f.Id=t.BankImportId
                cross apply (select top 1 * from ['+@DatabaseName+'].dbo._RCG_trav_OpenInvoice_view i where i.CustId=t.CustId and i.Amt=f.Amt1 and InvcType=''Invoice'' order by TransDate ) as dv
				where f.id not in (select BankFileImportId from ['+@MainCompanyId+'].dbo._RCG_tblRcBankTransDetail)'
				


          --select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;

CLOSE db_cursor;


-- ROUND 3 -- MULTIPLE INVOICES FOR THE SAME CUSTOMER DISCOUNT
-- Check for multiple invoices for the same customer with discount
-- Uses recursive CTE to find combinations of invoices where SUM(Amt - DiscAmt) = f.Amt1
-- Limited to customers with <= 20 open invoices

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN


  SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +

	N';WITH OpenInv AS (
        SELECT
            i.CustId, i.InvcNum, i.[Counter], i.Amt, i.DiscAmt,
            i.Amt - i.DiscAmt AS NetAmt,
            ROW_NUMBER() OVER (PARTITION BY i.CustId ORDER BY i.TransDate, i.[Counter]) AS rn,
            COUNT(*) OVER (PARTITION BY i.CustId) AS InvCount
        FROM [' + @DatabaseName + N'].dbo._RCG_trav_OpenInvoice_view i
        WHERE i.InvcType = ''Invoice''
    ),
    BankLines AS (
        SELECT
            f.Id AS BankImportId, t.WebCompId, t.CustId, f.Amt1 AS TargetAmt
        FROM [' + @MainCompanyId + N'].dbo._RCG_tblRcBankFileImport f
        INNER JOIN #_RCG_AutoProcessTemp t ON f.Id = t.BankImportId
        WHERE f.Id NOT IN (SELECT BankFileImportId FROM [' + @MainCompanyId + N'].dbo._RCG_tblRcBankTransDetail)
    ),
    Combos AS (
        SELECT
            b.BankImportId, b.WebCompId, b.CustId, b.TargetAmt,
            o.rn, o.rn AS StartRn,
            CONVERT(decimal(28,10),o.NetAmt) AS RunningTotal,            
			CAST(o.rn AS VARCHAR(MAX)) AS rnList,
            1 AS Depth
        FROM BankLines b
        JOIN OpenInv o ON o.CustId = b.CustId
        WHERE CONVERT(decimal(28,10),o.NetAmt) <= b.TargetAmt AND o.InvCount <= 10

        UNION ALL

        SELECT
            c.BankImportId, c.WebCompId, c.CustId, c.TargetAmt,
            o.rn, c.StartRn,
            CONVERT(decimal(28,10),(c.RunningTotal + o.NetAmt)) as RunningTotal,
            c.rnList + '','' + CAST(o.rn AS VARCHAR(10)),
            c.Depth + 1
        FROM Combos c
        JOIN OpenInv o ON o.CustId = c.CustId AND o.rn > c.rn
        WHERE CONVERT(decimal(28,10),(c.RunningTotal + o.NetAmt)) <= c.TargetAmt AND c.Depth < 10
    ),
    Matches AS (
        SELECT
            BankImportId, WebCompId, CustId, rnList,
            ROW_NUMBER() OVER (PARTITION BY BankImportId ORDER BY Depth, StartRn, rn) AS MatchRank
        FROM Combos
        WHERE CONVERT(decimal(28,10),RunningTotal) = TargetAmt AND Depth > 1
    ),
    BestMatch AS (
        SELECT BankImportId, WebCompId, CustId, rnList FROM Matches WHERE MatchRank = 1
    ),
    ExpandedRn AS (
        SELECT
            bm.BankImportId, bm.WebCompId, bm.CustId,
            CAST(s.value AS INT) AS rn
        FROM BestMatch bm
        CROSS APPLY STRING_SPLIT(bm.rnList, '','') s
    )
    INSERT INTO [' + @MainCompanyId + N'].[dbo].[_RCG_tblRcBankTransDetail]
           ([BankFileImportId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt])
    SELECT
        e.BankImportId, e.WebCompId, e.CustId,
        o.InvcNum, o.Amt, o.[Counter], o.DiscAmt
    FROM ExpandedRn e
    JOIN OpenInv o ON o.CustId = e.CustId AND o.rn = e.rn
    OPTION (MAXRECURSION 10)'

          --select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;

CLOSE db_cursor;


-- ROUND 4 -- MULTIPLE INVOICES FOR THE SAME CUSTOMER NO DISCOUNT
-- Check for multiple invoices for the same customer without discount
-- Uses recursive CTE to find combinations of invoices where SUM(Amt) = f.Amt1
-- Limited to customers with <= 20 open invoices

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN

  SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +

	N';WITH OpenInv AS (
        SELECT
            i.CustId, i.InvcNum, i.[Counter], i.Amt,
            ROW_NUMBER() OVER (PARTITION BY i.CustId ORDER BY i.TransDate, i.[Counter]) AS rn,
            COUNT(*) OVER (PARTITION BY i.CustId) AS InvCount
        FROM [' + @DatabaseName + N'].dbo._RCG_trav_OpenInvoice_view i
        WHERE i.InvcType = ''Invoice''
    ),
    BankLines AS (
        SELECT
            f.Id AS BankImportId, t.WebCompId, t.CustId, f.Amt1 AS TargetAmt
        FROM [' + @MainCompanyId + N'].dbo._RCG_tblRcBankFileImport f
        INNER JOIN #_RCG_AutoProcessTemp t ON f.Id = t.BankImportId
        WHERE f.Id NOT IN (SELECT BankFileImportId FROM [' + @MainCompanyId + N'].dbo._RCG_tblRcBankTransDetail)
    ),
    Combos AS (
        SELECT
            b.BankImportId, b.WebCompId, b.CustId, b.TargetAmt,
            o.rn, o.rn AS StartRn,
             CONVERT(decimal(28,10),o.Amt) AS RunningTotal,
            CAST(o.rn AS VARCHAR(MAX)) AS rnList,
            1 AS Depth
        FROM BankLines b
        JOIN OpenInv o ON o.CustId = b.CustId
        WHERE  CONVERT(decimal(28,10),o.Amt) <= b.TargetAmt AND o.InvCount <= 10

        UNION ALL

        SELECT
            c.BankImportId, c.WebCompId, c.CustId, c.TargetAmt,
            o.rn, c.StartRn,
             CONVERT(decimal(28,10),(c.RunningTotal + o.Amt)),
            c.rnList + '','' + CAST(o.rn AS VARCHAR(10)),
            c.Depth + 1
        FROM Combos c
        JOIN OpenInv o ON o.CustId = c.CustId AND o.rn > c.rn
        WHERE  CONVERT(decimal(28,10),(c.RunningTotal + o.Amt)) <= c.TargetAmt AND c.Depth < 10
    ),
    Matches AS (
        SELECT
            BankImportId, WebCompId, CustId, rnList,
            ROW_NUMBER() OVER (PARTITION BY BankImportId ORDER BY Depth, StartRn, rn) AS MatchRank
        FROM Combos
        WHERE  CONVERT(decimal(28,10),RunningTotal) = TargetAmt AND Depth > 1
    ),
    BestMatch AS (
        SELECT BankImportId, WebCompId, CustId, rnList FROM Matches WHERE MatchRank = 1
    ),
    ExpandedRn AS (
        SELECT
            bm.BankImportId, bm.WebCompId, bm.CustId,
            CAST(s.value AS INT) AS rn
        FROM BestMatch bm
        CROSS APPLY STRING_SPLIT(bm.rnList, '','') s
    )
    INSERT INTO [' + @MainCompanyId + N'].[dbo].[_RCG_tblRcBankTransDetail]
           ([BankFileImportId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt])
    SELECT
        e.BankImportId, e.WebCompId, e.CustId,
        o.InvcNum, o.Amt, o.[Counter], 0
    FROM ExpandedRn e
    JOIN OpenInv o ON o.CustId = e.CustId AND o.rn = e.rn
    OPTION (MAXRECURSION 10)'

          --select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;

CLOSE db_cursor;


-- ROUND 99 -- PARTIAL MATCH

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN

  SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +

	N'INSERT INTO ['+@MainCompanyId+'].[dbo].[_RCG_tblRcBankTransDetail]
           ([BankFileImportId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt])

           select 
                f.Id
                ,t.WebCompId
                ,t.CustId
                ,''''
                ,0
                ,0
                ,0
           
            from  ['+@MainCompanyId+'].dbo._RCG_tblRcBankFileImport f
                inner join #_RCG_AutoProcessTemp t on f.Id=t.BankImportId
                where f.id not in (select BankFileImportId from ['+@MainCompanyId+'].dbo._RCG_tblRcBankTransDetail)'

          --select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;


CLOSE db_cursor;
DEALLOCATE db_cursor;


--add a record to the hit tracker table if one doesn't exist
declare @HitDate datetime;
declare @HitCount int=0;
set @HitDate=(select max(TransDate) from _RCG_tblRcBankFileImport);
set @HitCount=(select count(Id) from _RCG_tblRcHitRateTracker where BankFileDate=@HitDate);
if @HitCount=0
begin

    insert into _RCG_tblRcHitRateTracker 
            (
            BankFileDate
            ,TotalLines
            ,PartialLinesComplete
            ,FullLinesComplete
            ) 
        values
            (
            @HitDate
            ,(select count(Id) from _RCG_trav_AssignCashReceipt_View)
            , (select count(Id) from _RCG_trav_AssignCashReceipt_View where TransCount>0 and Amt1<>TotalAssigned)
            , (select count(Id) from _RCG_trav_AssignCashReceipt_View where TransCount>0 and Amt1=TotalAssigned)
            )

end


            
--drop temp table
drop table #_RCG_AutoProcessTemp;



END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_AutoAssignBankCashReceipt_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_AutoAssignBankCashReceipt_proc'
GO
