USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InAssignABCCode_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InAssignABCCode_proc]
@CalculationType tinyint = 0, --0;OnHandValue;1;UsageValue;2;UsageFrequency
@RunLocationsIndividually bit = 0, 
@MinimumConsumptionPct pDecimal 
AS
BEGIN TRY  
   
 -- Populate [ABCClass] with the value from [OriginalABCClass]  
 UPDATE l  
 SET l.ABCClass = l.OriginalABCClass  
 FROM dbo.tblInItemLocABCCalc l  
  
 -- Set [ABCClass] to NULL for all items that do not have [Do Not Reset] flag associate with their class  
 UPDATE l  
 SET l.ABCClass = NULL  
 FROM dbo.tblInItemLocABCCalc L  
 WHERE l.ABCClass NOT IN (  
  SELECT c.ABCClassCode  
  FROM dbo.tblInABCClass c    
  WHERE c.ResetYn = 0  
 )  
   
 -- Assign [ABCClass] based on Global Settings  
 UPDATE l  
 SET l.ABCClass = s.ABCClassCode  
 FROM dbo.tblInItemLocABCCalc l  
 INNER JOIN  
 (  
  SELECT i.ItemId, l.LocId, s.ABCClassCode FROM tblInItem i  
  INNER JOIN dbo.tblInItemLoc l ON l.ItemId = i.ItemId  
  INNER JOIN dbo.tblInABCClassSettings s ON (s.ABCType = 0 AND s.RefID = i.ProductLine) OR   
  (s.ABCType = 1 AND s.RefID = i.SalesCat) OR (s.ABCType = 2 AND s.RefID = l.GLAcctCode)  
 ) s ON s.ItemId = l.ItemId AND s.LocId = l.LocId   
 INNER JOIN dbo.tblInABCClass a ON a.ABCClassCode = s.ABCClassCode
 WHERE l.ABCClass IS NULL  
   
 IF @RunLocationsIndividually = 0  
 BEGIN  
    
  -- Populate temp table for processing  
  SELECT * INTO #tempItemLocCalc FROM (  
   SELECT ItemId, LocId, TotalOnHandValue, TotalValue  
   FROM dbo.tblInItemLocABCCalc  
  ) temp  
    
  -- Populate totals  
  UPDATE l  
  SET l.TotalOnHandValue = [TotalOnHandSum],   
  l.TotalValue = [TotalValueSum]  
  FROM dbo.tblInItemLocABCCalc l  
  INNER JOIN   
  (  
   SELECT ItemId, SUM(TotalOnHandValue) [TotalOnHandSum], SUM(TotalValue) [TotalValueSum]  
   FROM dbo.tblInItemLocABCCalc GROUP BY ItemId  
  ) s ON s.ItemId = l.ItemId  
 END  
  
 IF @MinimumConsumptionPct > 0 AND @CalculationType <> 0  
 BEGIN  
  -- Apply Minimum Consumption percentage  
  UPDATE l  
  SET l.ABCClass = s.ABCClassCode  
  FROM dbo.tblInItemLocABCCalc l  
  INNER JOIN  
   (SELECT TOP 1 ABCClassCode FROM dbo.tblInABCClass  
   WHERE QtyPct > 0  
   ORDER BY SeqNum DESC  
  ) s ON (l.TotalValuePct < @MinimumConsumptionPct)   
  WHERE l.ABCClass IS NULL  
 END  

 IF @RunLocationsIndividually = 0   
 BEGIN
	--Calculate how many Items per ABC Class are needed based on the Allocation %
	SELECT X1.Id, X1.SeqNum, X1.ABCClassCode, 
		   X1.RangeValue, --Exact Value with decimals 
		   ROUND(X1.RangeValue, 0) [RoundedRangeValue], --Exact Value without decimals 
		   ABS(X1.RangeValue - ROUND(X1.RangeValue, 0)) [LeftOverRangeValue] --Decimal difference between Ranged Values
		   INTO #tmpABC
	FROM
	(
		SELECT ROW_NUMBER() OVER (ORDER BY A.SeqNum) [Id], A.SeqNum, A.ABCClassCode, (A.QtyPct * T.Total)/100 [RangeValue], T.Total
		FROM dbo.tblInABCClass A
		INNER JOIN 
		(
			SELECT COUNT(*) [Total]
			FROM dbo.tblInItemLocABCCalc
			WHERE ABCClass IS NULL
		) T ON T.Total > 0
		WHERE A.QtyPct > 0
	) X1
	ORDER BY X1.SeqNum

	--Include Left overs for last ABC Class code
	UPDATE A1
	SET A1.RoundedRangeValue = A1.RoundedRangeValue + ISNULL(A2.LeftOver, 0)
	FROM #tmpABC A1
	OUTER APPLY
	(
		SELECT MAX(Id) [Id], SUM(ISNULL(LeftOverRangeValue, 0)) [LeftOver]
		FROM #tmpABC
	) A2
	WHERE A1.Id = A2.Id

	-- Populate temp table for processing
	SELECT P.SeqNum, P.ABCClassCode, ISNULL(B.StartValue, 0) [StartValue], ISNULL(B.StartValue, 0) + P.RoundedRangeValue [EndValue]
	INTO #ABCClassTemp 
	FROM #tmpABC P
	OUTER APPLY
	(
		SELECT MAX(B.SeqNum) [SeqNum], SUM(ISNULL(B.RoundedRangeValue, 0)) [StartValue]
		FROM #tmpABC B
		WHERE B.SeqNum < P.SeqNum
	) B

 END  
 ELSE  
 BEGIN
	--Calculate how many Items per ABC Class are needed based on the Allocation %
	SELECT X1.Id, X1.SeqNum, X1.ABCClassCode, 
		   X1.RangeValue, --Exact Value with decimals 
		   ROUND(X1.RangeValue, 0) [RoundedRangeValue], --Exact Value without decimals 
		   ABS(X1.RangeValue - ROUND(X1.RangeValue, 0)) [LeftOverRangeValue], --Decimal difference between Ranged Values
		   X1.LocId
		   INTO #tmpABCByLoc 
	FROM
	(
		SELECT ROW_NUMBER() OVER (PARTITION BY T.LocId ORDER BY A.SeqNum) [Id], A.SeqNum, A.ABCClassCode, (A.QtyPct * T.Total)/100 [RangeValue], T.Total, T.LocId
		FROM dbo.tblInABCClass A
		INNER JOIN 
		(
			SELECT COUNT(*) [Total], LocId 
			FROM dbo.tblInItemLocABCCalc
			WHERE ABCClass IS NULL
			GROUP BY LocId
		) T ON T.Total > 0
		WHERE A.QtyPct > 0
	) X1
	ORDER BY X1.LocId, X1.SeqNum

	--Include Left overs for last ABC Class code per Location
	UPDATE A1
	SET A1.RoundedRangeValue = A1.RoundedRangeValue + ISNULL(A2.LeftOver, 0)
	FROM #tmpABCByLoc A1
	OUTER APPLY
	(
		SELECT MAX(Id) [Id], SUM(ISNULL(LeftOverRangeValue, 0)) [LeftOver], LocId 
		FROM #tmpABCByLoc 
		GROUP BY LocId
	) A2
	WHERE A1.Id = A2.Id AND A1.LocId = A2.LocId

	-- Populate temp table for processing  
	SELECT P.SeqNum, P.ABCClassCode, ISNULL(B.StartValue, 0) [StartValue], ISNULL(B.StartValue, 0) + P.RoundedRangeValue [EndValue], P.LocId
	INTO #ABCClassTempByLocation 
	FROM #tmpABCByLoc P
	OUTER APPLY
	(
		SELECT MAX(B.SeqNum) [SeqNum], SUM(ISNULL(B.RoundedRangeValue, 0)) [StartValue]
		FROM #tmpABCByLoc B
		WHERE B.SeqNum < P.SeqNum AND B.LocId = P.LocId
	) B
 END  
  
 IF @RunLocationsIndividually = 0 --Do not group by Location  
 BEGIN  
  
  UPDATE l  
  SET l.ABCClass = s.ABCClassCode  
  FROM dbo.tblInItemLocABCCalc l  
  INNER JOIN   
  (  
   SELECT c.ABCClassCode, l.ItemId, l.LocId   
   FROM  
   (  
    SELECT *, ROW_NUMBER() OVER (ORDER BY (CASE @CalculationType WHEN 0 THEN TotalOnHandValue ELSE TotalValue END) DESC, ItemId) rn  
    FROM dbo.tblInItemLocABCCalc  
    WHERE ABCClass IS NULL  
   ) l  
   INNER JOIN #ABCClassTemp c ON l.rn BETWEEN StartValue AND EndValue  
  ) s ON s.ItemId = l.ItemId AND s.LocId = l.LocId  
  WHERE l.ABCClass IS NULL  
  
  
 END  
 ELSE --Assign ABC Class individually per Location  
 BEGIN  

  UPDATE l  
  SET l.ABCClass = s.ABCClassCode  
  FROM dbo.tblInItemLocABCCalc l  
  INNER JOIN   
  (  
   SELECT c.ABCClassCode, l.ItemId, l.LocId   
   FROM  
   (  
    SELECT *, ROW_NUMBER() OVER (PARTITION BY LocId ORDER BY LocId, (CASE @CalculationType WHEN 0 THEN TotalOnHandValue ELSE TotalValue END) DESC, ItemId) rn  
    FROM dbo.tblInItemLocABCCalc  
    WHERE ABCClass IS NULL  
   ) l  
   INNER JOIN #ABCClassTempByLocation c ON c.LocId = l.LocId AND l.rn BETWEEN StartValue AND EndValue  
  ) s ON s.ItemId = l.ItemId AND s.LocId = l.LocId  
  WHERE l.ABCClass IS NULL  
  
 END  
  
 -- Update Item/Location records with the new ABC Class  
 UPDATE i  
 SET i.ABCClass = l.ABCClass  
 FROM dbo.tblInItemLoc i  
 INNER JOIN dbo.tblInItemLocABCCalc l ON l.ItemId = i.ItemId AND l.LocId = i.LocId  
 WHERE i.ABCClass IS NULL OR i.ABCClass != l.ABCClass
  
 -- Update totals by location on ABC Calculation table  
 IF @RunLocationsIndividually = 0  
 BEGIN  
  UPDATE l  
  SET l.TotalOnHandValue = t.TotalOnHandValue,   
  l.TotalValue = t.TotalValue  
  FROM dbo.tblInItemLocABCCalc l  
  INNER JOIN #tempItemLocCalc t ON t.ItemId = l.ItemId AND t.LocId = l.LocId  
 END  
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAssignABCCode_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAssignABCCode_proc'
GO
