USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcQueueOnHold_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcQueueOnHold_proc]     
   @DocID bigint = 0,
   @PostRun pPostRun = '',
   @KeyVal nvarchar(75) = '',
   @OnHoldYN bit,      
   @TempTblName nvarchar(50) = ''           
AS
   SET NOCOUNT ON  

   CREATE TABLE #ins(PostRun varchar(14), KeyVal varchar(75), DocID bigint)
   
   DECLARE @SQL nvarchar(1000)

   BEGIN TRY   

      IF ISNULL(@TempTblName,'') <> '' 
      BEGIN
         SET @SQL = 'SELECT PostRun, KeyVal, DocID FROM ' + @TempTblName 
         INSERT INTO  #ins (PostRun, KeyVal, DocID)
         EXEC sp_executesql @SQL
      END
      ELSE
      BEGIN
	     INSERT INTO #ins(PostRun, KeyVal, DocID)
	     SELECT PostRun, DocKey, @DocID  
	     FROM tblEcComm c
	     WHERE  (ISNULL(c.DocID,0) = @DocID)    
            AND (ISNULL(@PostRun,'') = ''  OR PostRun = @PostRun)    
            AND (ISNULL(@KeyVal,'') = '' OR DocKey = @KeyVal)    
       END

	   UPDATE c SET OnHoldYn = @OnHoldYN
	   FROM tblEcComm c
	   INNER JOIN tblEcDocument ec ON ec.ID = c.DocID
	   INNER JOIN #ins d ON c.PostRun = d.PostRun AND c.DocKey = d.KeyVal AND ec.ID = d.DocID

   END TRY          
BEGIN CATCH          
    EXEC dbo.trav_RaiseError_proc          
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueOnHold_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueOnHold_proc'
GO
