USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InUpdatePerpetual_GlLogDetail_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InUpdatePerpetual_GlLogDetail_proc]   
@SeqNum int,  
@Amount pDecimal,  
@IncreaseYn bit  
AS  
BEGIN TRY  
  
 DECLARE @PostRun nvarchar(14), @CurrBase pCurrency, @WrkStnDate datetime,@CompId nvarchar(3),@TransType nvarchar(10)  
  
 --Retrieve global values  
 SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'  
 SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
 SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'  
 SELECT @TransType=CAST([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'  
 IF @PostRun IS NULL OR @CurrBase IS NULL OR @WrkStnDate IS NULL OR @CompId IS NULL  
 BEGIN  
  THROW 90025, N'Missing global value.', 1  
 END  
 
 INSERT #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Description],Reference,
		 SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,[Grouping],TransDate,PostDate)
 SELECT	@PostRun,@TransType,@PostRun,@PostRun,@CompId,g.GLAcctInvAdj,b.SumYear,b.GlPeriod,'Physical Inventory','IN','IN',
		CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END,
		CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END,
		CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END,
		CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END,
		@CurrBase,10,b.CountDate,@WrkStnDate
		FROM dbo.tblInPhysCountBatch b 
		INNER JOIN dbo.tblInPhysCount c ON b.BatchId = c.BatchId   
		INNER JOIN dbo.tblInItemLoc l ON c.ItemId = l.ItemId AND c.LocId = l.LocId   
		INNER JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode  
		WHERE c.SeqNum = @SeqNum 
		
 INSERT #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Description],Reference,
		 SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,[Grouping],TransDate,PostDate)
 SELECT	@PostRun,@TransType,@PostRun,@PostRun,@CompId,g.GLAcctPhyCountAdj,b.SumYear,b.GlPeriod,'Physical Inventory','IN','IN',
		CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END,
		CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END,
		CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END,
		CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END,
		@CurrBase,20,b.CountDate,@WrkStnDate
		FROM dbo.tblInPhysCountBatch b 
		INNER JOIN dbo.tblInPhysCount c ON b.BatchId = c.BatchId   
		INNER JOIN dbo.tblInItemLoc l ON c.ItemId = l.ItemId AND c.LocId = l.LocId   
		INNER JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode  
		WHERE c.SeqNum = @SeqNum  
		

	INSERT #InventoryPostLog(PostRun,TransType,TransKey,SummaryKey,CompId, BatchId,GlAccount,FiscalYear,FiscalPeriod,[Description],Reference,
		 SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,[Grouping],TransDate,PostDate, AmountFgn)
	SELECT *, ABS(DebitAmount - CreditAmount) FROM
	(
		SELECT	@PostRun [PostRun],@TransType [TransType],@PostRun [TransKey],@PostRun [SummaryKey],@CompId [CompId], b.BatchId,g.GLAcctInvAdj,b.SumYear,b.GlPeriod,'Physical Inventory' [Description],'IN' [Reference],'IN' [SourceCode],
			CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END [CreditAmount],
			CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END [DebitAmount],
			CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END [CreditAmountBase],
			CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END [DebitAmountBase],
			@CurrBase [CurrencyId],10 [Grouping],b.CountDate,@WrkStnDate [PostDate]
			FROM dbo.tblInPhysCountBatch b 
			INNER JOIN dbo.tblInPhysCount c ON b.BatchId = c.BatchId   
			INNER JOIN dbo.tblInItemLoc l ON c.ItemId = l.ItemId AND c.LocId = l.LocId   
			INNER JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode  
		WHERE c.SeqNum = @SeqNum 
		UNION
		SELECT	@PostRun [PostRun],@TransType [TransType],@PostRun [TransKey],@PostRun [SummaryKey],@CompId [CompId], b.BatchId,g.GLAcctPhyCountAdj,b.SumYear,b.GlPeriod,'Physical Inventory' [Description],'IN' [Reference],'IN' [SourceCode],
			CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END [CreditAmount],
			CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END [DebitAmount],
			CASE WHEN @IncreaseYn = 1 THEN @Amount ELSE 0 END [CreditAmountBase],
			CASE WHEN @IncreaseYn = 1 THEN 0 ELSE @Amount END [DebitAmountBase],
			@CurrBase [CurrencyId],20 [Grouping],b.CountDate,@WrkStnDate [PostDate]
			FROM dbo.tblInPhysCountBatch b 
			INNER JOIN dbo.tblInPhysCount c ON b.BatchId = c.BatchId   
			INNER JOIN dbo.tblInItemLoc l ON c.ItemId = l.ItemId AND c.LocId = l.LocId   
			INNER JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode  
			WHERE c.SeqNum = @SeqNum   
	)ds WHERE ds.DebitAmount <> 0 OR ds.CreditAmount <> 0	
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdatePerpetual_GlLogDetail_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdatePerpetual_GlLogDetail_proc'
GO
