USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPaymentPost_GainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPaymentPost_GainLoss_proc]
AS
BEGIN TRY

	DECLARE @PostRun pPostRun, @CurrBase pCurrency,@WksDate datetime
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

	-- insert gain loss details in tblglgainloss table

	INSERT INTO [dbo].tblGlGainLoss (EntryDate, TransDate, PostRun, AcctIDOffset, AcctIDGainLoss, AmountOffset
	, AmountGainLoss
	, AmountBase, FiscalPeriod, FiscalYear, FunctionID, SourceCode, LinkPostRun, LinkID, LinkIDSub, LinkIDSubLine)		
	SELECT @WksDate, d.PaymentDate, NULL, d.GLAcctAP, d.GLAcctGainLoss, d.GLGainLossAmt
	, CASE WHEN a.CurrencyID = @CurrBase THEN d.GLGainLossAmtBase ELSE  d.GLGainLossAmt END
	, d.GLGainLossAmtBase, d.FiscalPeriod, d.FiscalYear, 'APPAYMENT', 'AP', @PostRun, d.PaymentNum, NULL, -6  
	FROM #PaymentDetail d
	LEFT JOIN dbo.tblGlAcctHdr a ON d.GLAcctGainLoss = a.AcctId
	WHERE d.GLGainLossAmt <> 0 OR d.GLGainLossAmtBase <> 0
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_GainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_GainLoss_proc'
GO
