USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApChangeInvoiceStatus_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApChangeInvoiceStatus_proc] 
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @VendorIdFrom pVendorID, @VendorIdThru pVendorID, @PriorityCodeFrom nvarchar(1), @PriorityCodeThru nvarchar(1),
		@InvoiceDueDate Datetime, @StatusFrom tinyint, @StatusTo tinyint, @CurrBase pCurrency 

	--Retrieve global values
	SELECT @InvoiceDueDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'InvoiceDueDate'
	SELECT @VendorIdFrom = NULLIF(Cast([Value] AS nvarchar(10)),'') FROM #GlobalValues WHERE [Key] = 'VendorIdFrom'
	SELECT @VendorIdThru = NULLIF(Cast([Value] AS nvarchar(10)),'') FROM #GlobalValues WHERE [Key] = 'VendorIdThru'
	SELECT @PriorityCodeFrom = NULLIF(Cast([Value] AS nvarchar(1)),'') FROM #GlobalValues WHERE [Key] = 'PriorityCodeFrom'
	SELECT @PriorityCodeThru = NULLIF(Cast([Value] AS nvarchar(1)),'') FROM #GlobalValues WHERE [Key] = 'PriorityCodeThru'
	SELECT @StatusFrom = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StatusFrom'
	SELECT @StatusTo = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StatusTo'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @InvoiceDueDate IS NULL OR @StatusFrom IS NULL OR @StatusTo IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	IF @StatusFrom = 3
		BEGIN
			SELECT v.VendorId, SUM(GrossAmtDue) AS TotalDue
				, SUM(CASE WHEN v.CurrencyId = @CurrBase THEN GrossAmtDue
						   WHEN i.CurrencyId = v.CurrencyId THEN GrossAmtDueFgn
						   ELSE ROUND(GrossAmtDueFgn * et.Rate, et.CurrDecPlaces)END) AS TotalDuefgn
				,ISNULL(SUM(BaseGrossAmtDue),0) AS TotBaseGrossAmtDue,i.Counter as invCounter,Max(i.Status)as invStatus
			INTO #tblApOpenInvoice
			FROM dbo.tblApOpenInvoice i 
			INNER JOIN dbo.tblApVendor v ON i.VendorID = v.VendorID			
			LEFT JOIN (SELECT TransKey, [Source], Destination, Rate, CurrDecPlaces
				FROM [dbo].[tblSmExchangeRateTrans] e
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = 'APINVC'
			) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId AND et.Destination = v.CurrencyId			
			WHERE i.[Counter] NOT IN (SELECT [InvoiceCounter] FROM dbo.tblApPaymentDetail) AND 
			((i.[Counter] NOT IN( SELECT [InvoiceCounter] FROM dbo.tblPoTransDeposit d WHERE d.InvoiceCounter IS NOT NULL)) AND( ([GroupID] IS NULL) or (i.GroupID NOT IN(SELECT [InvoiceCounter] FROM dbo.tblPoTransDeposit d WHERE d.InvoiceCounter IS NOT NULL)))) AND
				(@VendorIdFrom IS NULL OR v.VendorID >= @VendorIdFrom) AND 
				(@VendorIdThru IS NULL OR v.VendorID <= @VendorIdThru) AND
				(@PriorityCodeFrom IS NULL OR ISNULL(v.PriorityCode,'') >= @PriorityCodeFrom) AND 
				(@PriorityCodeThru IS NULL OR ISNULL(v.PriorityCode,'') <= @PriorityCodeThru) AND
				i.[Status] = 3 AND i.NetDueDate <= @InvoiceDueDate
			GROUP BY v.VendorId ,  i.Counter
			
			--Raise Exception if Invalid Exchange rate Exists
			IF EXISTS (SELECT * FROM  #tblApOpenInvoice  WHERE TotalDuefgn IS NULL)
			BEGIN
				THROW 90027, N'Invalid exchange information.', 1
			END
			

			UPDATE dbo.tblApVendor SET GrossDue = GrossDue + TotalDuefgn,  --GrossDuefgn = GrossDuefgn + TotalDuefgn,
				Prepaid = Prepaid - TotalDuefgn --Prepaidfgn = Prepaidfgn - TotalDuefgn
			FROM #tblApOpenInvoice a INNER JOIN tblApVendor ON a.VendorID = tblApVendor.VendorID

			UPDATE dbo.tblApOpenInvoice SET [Status] = @StatusTo, CheckNum = NULL, CheckDate = NULL, BankID = NULL 
				, PmtCurrencyId = NULL, PmtExchRate = 1,  CheckPeriod = 0
				, CheckYear = 0				
				--, GrossAmtDue = NULL
				--, BaseGrossAmtDue = BaseGrossAmtDue + TotalDue
			FROM dbo.#tblApOpenInvoice t 
			INNER JOIN dbo.tblApOpenInvoice v ON t.invCounter=v.Counter
			WHERE t.invStatus=3 
			
			/* delete tblSmExchangeRateTrans */
			DELETE dbo.tblSmExchangeRateTrans
			FROM dbo.tblSmExchangeRateTrans  INNER JOIN #tblApOpenInvoice  t ON dbo.tblSmExchangeRateTrans.TransKey = t.invCounter 
			WHERE TransType='APPREPAY' 

		END
	ELSE
		BEGIN
			UPDATE dbo.tblApOpenInvoice SET [Status] = @StatusTo
			FROM dbo.tblApOpenInvoice INNER JOIN dbo.tblApVendor v ON dbo.tblApOpenInvoice.VendorID = v.VendorID
			WHERE [Counter] NOT IN (SELECT [InvoiceCounter] FROM dbo.tblApPaymentDetail) AND 
			(([Counter] NOT IN( SELECT [InvoiceCounter] FROM dbo.tblPoTransDeposit d WHERE d.InvoiceCounter IS NOT NULL )) AND( ([GroupID] IS NULL) or (GroupID NOT IN(SELECT [InvoiceCounter] FROM dbo.tblPoTransDeposit d WHERE d.InvoiceCounter IS NOT NULL)))) AND
					(@VendorIdFrom IS NULL OR v.VendorID >= @VendorIdFrom) AND 
					(@VendorIdThru IS NULL OR v.VendorID <= @VendorIdThru) AND
					(@PriorityCodeFrom IS NULL OR ISNULL(v.PriorityCode,'') >= @PriorityCodeFrom) AND 
					(@PriorityCodeThru IS NULL OR ISNULL(v.PriorityCode,'') <= @PriorityCodeThru) AND	
					dbo.tblApOpenInvoice.[Status] = @StatusFrom AND dbo.tblApOpenInvoice.NetDueDate <= @InvoiceDueDate
		END
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApChangeInvoiceStatus_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApChangeInvoiceStatus_proc'
GO
