USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPeriodicMaintenance_BOL_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPeriodicMaintenance_BOL_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @DeleteBOLDate DateTime
	
	--Retrieve global values
	SELECT @DeleteBOLDate = Cast([Value] AS DateTime) FROM #GlobalValues WHERE [Key] = 'DeleteBOLDate'

	IF @DeleteBOLDate IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	
	--purge Bill of lading entries with ship dates prior to the DeleteBOLDate
	DELETE dbo.tblWMBOLHeader
		WHERE [Shipdate] < @DeleteBOLDate
		
	--remove child entries 
	DELETE dbo.tblWmBOLDetailCustomerOrder
		WHERE BOLRef NOT IN (SELECT BOLRef FROM dbo.tblWMBOLHeader)
	
	DELETE dbo.tblWMBOLDetail
		WHERE BOLRef NOT IN (SELECT BOLRef FROM dbo.tblWMBOLHeader)

	DELETE dbo.tblWMBOLDetailHM
		WHERE BOLDtlRef NOT IN (SELECT BOLDtlRef FROM dbo.tblWMBOLDetail)
	

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPeriodicMaintenance_BOL_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPeriodicMaintenance_BOL_proc'
GO
