USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_ReverseLandedCost_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_ReverseLandedCost_proc]
AS
BEGIN TRY
	DECLARE @gPoGlAcctInAccr nvarchar(40),@PostRun nvarchar(14), @WksDate datetime,@CurrBase pCurrency,
		@gPoGlLandedExp nvarchar(40), @PrecCurr smallint, @ReverseFiscalPeriod smallint, @ReverseFiscalYear smallint
	DECLARE @TransTypePOReceipt nvarchar(10)
	--Retrieve global values
	SELECT @gPoGlAcctInAccr = Cast([Value] AS nvarchar(40)) FROM #GlobalValues WHERE [Key] = 'GlAcctInAccr'
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @gPoGlLandedExp = Cast([Value] AS nvarchar(40)) FROM #GlobalValues WHERE [Key] = 'GlLandedExp'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @ReverseFiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'ReverseFiscalPeriod'
	SELECT @ReverseFiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'ReverseFiscalYear'
	SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT
	
	IF @gPoGlAcctInAccr IS NULL	OR @PostRun IS NULL OR @WksDate IS NULL OR @PrecCurr IS NULL OR @CurrBase IS NULL OR @gPoGlLandedExp IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	-- Landed Cost Expense
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun,h.TransId,NULL,@ReverseFiscalPeriod,d.EntryNum,111 AS [Grouping],
	y.ReceiptDate, @WksDate,LEFT(t.[Description],30),d.LandedCostId, ISNULL(s.GlAcctExpense,@gPoGlLandedExp),
	CASE WHEN c.PostedAmount < 0 THEN 0 ELSE ABS(c.PostedAmount) END AS DR,
	CASE WHEN c.PostedAmount > 0 THEN 0 ELSE ABS(c.PostedAmount) END AS CR,
	@ReverseFiscalYear,h.TransId,y.ReceiptNum,-7,@CurrBase,
	CASE WHEN c.PostedAmount < 0 THEN 0 ELSE ABS(c.PostedAmount) END AS DR,
	CASE WHEN c.PostedAmount > 0 THEN 0 ELSE ABS(c.PostedAmount) END AS CR
	,r.RcptHeaderID,@TransTypePOReceipt,-(c.PostedAmount) AS Amount,
	-(c.PostedAmount) AS AmountFgn
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
	INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
	INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
	INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
	INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
	LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
	WHERE c.PostedAmount > 0

	-- Landed Cost Inventory
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun,h.TransId,NULL,@ReverseFiscalPeriod,d.EntryNum,111 AS [Grouping],
	y.ReceiptDate, @WksDate,LEFT(t.[Description],30),d.LandedCostId, d.GlAcct,
	CASE WHEN c.PostedAmount < 0 THEN ABS(c.PostedAmount) ELSE 0 END AS DR,
	CASE WHEN c.PostedAmount > 0 THEN ABS(c.PostedAmount) ELSE 0 END AS CR,
	@ReverseFiscalYear,h.TransId,y.ReceiptNum,-7,@CurrBase,
	CASE WHEN c.PostedAmount < 0 THEN ABS(c.PostedAmount) ELSE 0 END AS DR,
	CASE WHEN c.PostedAmount > 0 THEN ABS(c.PostedAmount) ELSE 0 END AS CR
	,r.RcptHeaderID,@TransTypePOReceipt,(c.PostedAmount) AS Amount,
	(c.PostedAmount) AS AmountFgn
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
	INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
	INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
	INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
	INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
	LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
	WHERE ISNULL(d.ProjectDetailId,0) = 0 AND c.PostedAmount > 0 -- Exclude project items

	--Project Costing
	BEGIN
		--WIP Account 
		BEGIN
			--Income: General, Billable and non Fixed Fee
			INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], 
				 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
				LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
			SELECT @PostRun, h.TransId, y.ReceiptNum, @ReverseFiscalPeriod, d.EntryNum, 300, 
			
				y.ReceiptDate, @WksDate, CASE WHEN ISNULL(d.GLDesc,'') = '' THEN ISNULL(j.CustId,'') + '/' + j.ProjectName ELSE d.GLDesc END, h.VendorId, e.GLAcctWIP, 
				CASE WHEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) < 0 
					THEN ABS(SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr))) ELSE 0 END,
				CASE WHEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) > 0 
					THEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END,
				@ReverseFiscalYear, h.TransId, y.ReceiptNum, d.EntryNum, @CurrBase, 
				CASE WHEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) < 0 
					THEN ABS(SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr))) ELSE 0 END,
				CASE WHEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) > 0 
					THEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END
				,r.RcptHeaderID,@TransTypePOReceipt
				,SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)),
				SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr))
			FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
				INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
				INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
				INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
				INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
				INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
				INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
				INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
				INNER JOIN dbo.tblPcDistCode e ON p.DistCode = e.DistCode
				INNER JOIN dbo.tblPcProject j ON p.ProjectId = j.Id 
				LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
			WHERE j.[Type] = 0 AND p.Billable = 1 AND p.FixedFee = 0 AND c.PostedAmount > 0
			GROUP BY h.TransId, h.TransType, h.VendorId, y.ReceiptNum, y.FiscalYear, y.GLPeriod, y.ReceiptDate, d.EntryNum, d.GLDesc, j.CustId, j.ProjectName, e.GLAcctWIP,r.RcptHeaderID

			--Cost: Job Cost
			INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], 
				 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
				LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)		
			SELECT @PostRun, h.TransId, y.ReceiptNum, @ReverseFiscalPeriod, d.EntryNum, 301, 
				y.ReceiptDate, @WksDate, CASE WHEN ISNULL(d.GLDesc,'') = '' THEN ISNULL(j.CustId,'') + '/' + j.ProjectName ELSE d.GLDesc END, h.VendorId, e.GLAcctWIP, 
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) < 0 THEN ABS(SIGN(h.TransType) * SUM(c.PostedAmount)) ELSE 0 END,
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) > 0 THEN SIGN(h.TransType) * SUM(c.PostedAmount) ELSE 0 END,
				@ReverseFiscalYear, h.TransId, y.ReceiptNum, d.EntryNum, @CurrBase,  
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) < 0 THEN ABS(SIGN(h.TransType) * SUM(c.PostedAmount)) ELSE 0 END,
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) > 0 THEN SIGN(h.TransType) * SUM(c.PostedAmount) ELSE 0 END
				,r.RcptHeaderID,@TransTypePOReceipt,SIGN(h.TransType) * SUM(c.PostedAmount), SIGN(h.TransType) * SUM(c.PostedAmount)

			FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
				INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
				INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
				INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
				INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
				INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
				INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
				INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
				INNER JOIN dbo.tblPcDistCode e ON p.DistCode = e.DistCode
				INNER JOIN dbo.tblPcProject j ON p.ProjectId = j.Id 
				LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
			WHERE j.[Type] = 1 AND c.PostedAmount > 0
			GROUP BY h.TransId, h.TransType, h.VendorId, y.ReceiptNum, y.FiscalYear, y.GLPeriod, y.ReceiptDate, d.EntryNum, d.GLDesc, j.CustId, j.ProjectName, e.GLAcctWIP,r.RcptHeaderID
		END
		
		--Cost Account
		BEGIN
			--General, Administrative
			INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], 
				 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
				LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
			SELECT @PostRun, h.TransId, y.ReceiptNum, @ReverseFiscalPeriod, d.EntryNum, 302, 
				
				y.ReceiptDate, @WksDate, CASE WHEN ISNULL(d.GLDesc,'') = '' THEN ISNULL(j.CustId,'') + '/' + j.ProjectName ELSE d.GLDesc END, h.VendorId, d.GLAcct, --Use GL account from line item
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) < 0 THEN ABS(SIGN(h.TransType) * SUM(c.PostedAmount)) ELSE 0 END,
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) > 0 THEN SIGN(h.TransType) * SUM(c.PostedAmount) ELSE 0 END,
				@ReverseFiscalYear, h.TransId, y.ReceiptNum, d.EntryNum, @CurrBase, 
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) < 0 THEN ABS(SIGN(h.TransType) * SUM(c.PostedAmount)) ELSE 0 END,	
				CASE WHEN SIGN(h.TransType) * SUM(c.PostedAmount) > 0 THEN SIGN(h.TransType) * SUM(c.PostedAmount) ELSE 0 END,
				r.RcptHeaderID,@TransTypePOReceipt, SIGN(h.TransType) * SUM(c.PostedAmount), SIGN(h.TransType) * SUM(c.PostedAmount)
			FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
				INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
				INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
				INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
				INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
				INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
				INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
				INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
				INNER JOIN dbo.tblPcProject j ON p.ProjectId = j.Id 
				LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
			WHERE (j.[Type] = 0 OR j.[Type] = 2) AND c.PostedAmount > 0
			GROUP BY h.TransId, h.TransType, h.VendorId, y.ReceiptNum, y.FiscalYear, y.GLPeriod, y.ReceiptDate, d.EntryNum, d.GLDesc, j.CustId, j.ProjectName, d.GLAcct,r.RcptHeaderID
		END
	
		--Accrued Income Account
		BEGIN
			--General, Billable and non Fixed Fee
			INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], 
				 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
				LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
			SELECT @PostRun, h.TransId, y.ReceiptNum, @ReverseFiscalPeriod, d.EntryNum, 303, 
				
				y.ReceiptDate, @WksDate, CASE WHEN ISNULL(d.GLDesc,'') = '' THEN ISNULL(j.CustId,'') + '/' + j.ProjectName ELSE d.GLDesc END, h.VendorId, e.GLAcctAccruedIncome, 
				CASE WHEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) < 0 
					THEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END,
				CASE WHEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) > 0 
					THEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END,
				@ReverseFiscalYear, h.TransId, y.ReceiptNum, d.EntryNum, @CurrBase, 
				CASE WHEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) < 0 
					THEN SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END,	
				CASE WHEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) > 0 
					THEN -SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)) ELSE 0 END,
				r.RcptHeaderID,@TransTypePOReceipt,
				-SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)),
				-SIGN(h.TransType) * SUM(ROUND((c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr))
			FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
				INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
				INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
				INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
				INNER JOIN #tmpTransReceipt temp ON temp.TransId = r.TransId AND temp.ID = r.RcptHeaderID AND R.[Status] = 1
				INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
				INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
				INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
				INNER JOIN dbo.tblPcDistCode e ON p.DistCode = e.DistCode
				INNER JOIN dbo.tblPcProject j ON p.ProjectId = j.Id 
				LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  		
			WHERE j.[Type] = 0 AND p.Billable = 1 AND p.FixedFee = 0 AND c.PostedAmount > 0
			GROUP BY h.TransId, h.TransType, h.VendorId, y.ReceiptNum, y.FiscalYear, y.GLPeriod, y.ReceiptDate, d.EntryNum, d.GLDesc, j.CustId, j.ProjectName, e.GLAcctAccruedIncome,r.RcptHeaderID
		END
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ReverseLandedCost_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ReverseLandedCost_proc'
GO
