USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MbStandardCostAdjustment_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MbStandardCostAdjustment_Proc]
@ExcludeVariance BIT
AS
SET NOCOUNT ON
BEGIN TRY

	IF @ExcludeVariance = 1
	BEGIN
		SELECT a.ItemId, a.LocId, a.GLAccount, i.CostStd AS OriginalStdCost, a.UnitCost AS NewStdCost, TransDate, 0 AS ExcludedYn
		FROM [dbo].[tblInStandardCostAdjust] a 
			LEFT JOIN [dbo].[tblInItemLoc] i ON a.ItemId = i.ItemId AND a.LocId = i.LocId
			INNER JOIN #tmpItemLoc il ON a.ItemId = il.ItemId AND a.LocId = il.LocId
		WHERE
		a.[UnitCost] <> i.[CostStd]
	END
	ELSE
	BEGIN
		SELECT ds.ItemId, ds.LocId, ds.GlAccount, ds.OriginalStdCost, ds.NewStdCost, ds.TransDate, ds.ExcludedYn
		FROM
		(
			SELECT a.ItemId, a.LocId, a.GLAccount, i.CostStd AS OriginalStdCost, a.UnitCost AS NewStdCost, TransDate,
			CASE WHEN a.[UnitCost] <> i.[CostStd] THEN 0 ELSE 1 END AS ExcludedYn
			FROM [dbo].[tblInStandardCostAdjust] a 
				LEFT JOIN [dbo].[tblInItemLoc] i ON a.ItemId = i.ItemId AND a.LocId = i.LocId
				INNER JOIN #tmpItemLoc il ON a.ItemId = il.ItemId AND a.LocId = il.LocId
		) ds
		ORDER BY ds.ExcludedYn ASC
	END
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbStandardCostAdjustment_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbStandardCostAdjustment_Proc'
GO
