USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TPPORecentItemsView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TPPORecentItemsView_proc]
@VendorId pVendorID = null,
@MaxCount smallint = 100

AS
SET NOCOUNT ON

BEGIN TRY

	SELECT TOP(@MaxCount) [TransId], [TransDate], [TransType], [VendorId], [ItemId], [Description], [Uom], [Quantity], [LocId]
	FROM (
		--Items from PO transaction
		SELECT h.[TransId], h.[TransType], h.[TransDate], h.[VendorId], d.[ItemId], d.[Descr] AS [Description], d.LocId, d.[Units] AS [Uom], d.[QtyOrd] AS [Quantity]
		FROM [dbo].[tblPoTransDetail] d
			INNER JOIN [dbo].[tblPoTransHeader] h ON d.[TransID] = h.[TransId]
			INNER JOIN [dbo].[tblInItem] i ON d.[ItemId] = i.[ItemId]
			INNER JOIN [dbo].[tblInItemLoc] l ON d.[ItemId] = l.[ItemId] AND d.[LocId] = l.[LocId]
		WHERE (@VendorId IS NULL OR h.[VendorId] = @VendorId) AND h.TransType = 0

		UNION

		--Items from PO request history
		SELECT h.[TransID], h.[TransType], h.[TransDate], h.[VendorId], d.[ItemId], d.[Descr] AS [Description], d.[LocId], d.[Units] AS [Uom], d.[QtyOrd] AS [Quantity]
		FROM [dbo].[tblPoHistRequestDetail] d
			INNER JOIN [dbo].[tblPoHistRequestHeader] h ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransID]
			INNER JOIN tblPoHistRequestResponse r ON h.[PostRun] = r.[PostRun] AND h.[TransId] = r.[TransID]
			INNER JOIN [dbo].[tblInItem] i ON d.[ItemId] = i.[ItemId]
			INNER JOIN [dbo].[tblInItemLoc] l ON d.[ItemId] = l.[ItemId] AND d.[LocId] = l.[LocId]
		WHERE h.[VendorId] IS NOT NULL AND (@VendorId IS NULL OR h.[VendorId] = @VendorId) AND h.TransType = 0 AND r.[Response]  in (1, 4)
	) t
	ORDER BY [TransDate] DESC

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TPPORecentItemsView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TPPORecentItemsView_proc'
GO
