USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcInvoice_ExportValidateReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcInvoice_ExportValidateReport_proc]
@PostRun [nvarchar](14) = '',
@KeyVal nvarchar(75) = '',
@RtnValidRecords bit = 1
AS      

	DECLARE @TempTblName nvarchar(30) = '#tblList'

	DECLARE @SQL NVARCHAR(2000),@ValidatSoTransYN bit,@DocId bigint,@ErrCode Int,@vIsError smallint=2,@vIsWarning smallint=1
	
	CREATE TABLE #tmp(PostRun [nvarchar](14), KeyVal nvarchar(75), DocID bigint)
    
	CREATE TABLE #tTranH(
		PostRun [nvarchar](14) NOT NULL,
		TransId [nvarchar](8) NOT NULL,
		CustId [nvarchar](10) NOT NULL,
		ShipToId [nvarchar](10) NULL,
		ShipToName nvarchar (60) ,
		ShipToAddr1 nvarchar (50),
		ShipToAddr2 nvarchar(100),
		ShipToCity nvarchar(60),
		ShipToRegion nvarchar(20),
		ShipToCountry [nvarchar](6) NULL,
		ShipToPostalCode nvarchar(20),
		InvcNum [nvarchar](15),
		CustPoNum nvarchar(30), 
		PartnerId bigint,
		EDIShipToCode nvarchar(50))

	CREATE TABLE #tTranD(
		PostRun [nvarchar](14) NOT NULL,
		TransId [nvarchar](8) NOT NULL, 
		EntryNum int, 
		ItemId [nvarchar](24) NULL, 
		ItemDescr [nvarchar](255) NULL, 
		ItemUIR nvarchar(50), 
		UPCCode nvarchar(50), 
		QtyOrdSell [decimal](28,10) NULL, 
		QtyShipSell [decimal](28,10) NULL, 
		UnitsSell [nvarchar](5) NULL,
		EDIUOM nvarchar(50), 
		UnitPriceSell [decimal](28,10) NULL,
		ExtPrice [decimal](28,10) NULL)

	CREATE TABLE #tSelH(PostRun [nvarchar](14) NOT NULL,TransId [nvarchar](8) NOT NULL)

	CREATE TABLE #tSelD(PostRun [nvarchar](14) NOT NULL,TransId [nvarchar](8) NOT NULL,EntryNum int)
	
	BEGIN TRY   
	  
	SELECT TOP 1 @DocId=ID FROM tblEcDocument WHERE DocId = '810-O'
	
	SET @ValidatSoTransYN=0

	-- get list from passed temp table
	IF ISNULL(@TempTblName,'')<>'' 
	BEGIN
		SET @ValidatSoTransYN=1
		SET @SQL='SELECT PostRun, KeyVal, DocID FROM ' +@TempTblName 
		INSERT INTO  #tmp (PostRun,KeyVal,DocID)
		EXEC sp_executesql @SQL

		IF EXISTS(SELECT * FROM #tmp WHERE PostRun<>KeyVal AND ISNULL(PostRun,'')<>'')
		BEGIN
			SET @ValidatSoTransYN=0
		END
	END
      
	-- get list from passed values
	IF ISNULL(@TempTblName,'')=''
	BEGIN
		IF ISNULL(@KeyVal,'')<>'' AND (@KeyVal=ISNULL(@PostRun,'') OR ISNULL(@PostRun,'')='')
		BEGIN
			SET @ValidatSoTransYN=1
			INSERT INTO #tmp(PostRun,KeyVal,DocID)
			SELECT TransId,TransId,@DocId
			FROM tblSoTransHeader
			WHERE ( @KeyVal IS NULL OR TransId=@KeyVal)    
		END
		ELSE
		BEGIN
			SET @ValidatSoTransYN=0 
			INSERT INTO #tmp(PostRun,KeyVal,DocID)
			SELECT PostRun,DocKey,DocID  
			FROM tblEcComm
			WHERE (@PostRun IS NULL OR PostRun=@PostRun)    
			AND (@KeyVal IS NULL OR DocKey=@KeyVal)    
		END 
	END
	
	IF @ValidatSoTransYN=1
	BEGIN
		INSERT INTO #tTranH(PostRun,TransId,CustId,ShipToId,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,InvcNum,CustPoNum)
		SELECT h.TransId, --todo: change postrun
			h.TransId,h.CustId,h.ShipToId,h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToCountry,h.ShipToPostalCode,h.InvcNum,h.CustPoNum
		FROM tblSoTransHeader h
		INNER JOIN #tmp t ON h.TransId=t.KeyVal

		INSERT INTO #tTranD(PostRun,TransId,EntryNum, ItemId,ItemDescr,QtyOrdSell,QtyShipSell,UnitsSell,UnitPriceSell,ExtPrice)
		SELECT d.TransId, --todo: change postrun
			d.TransId,d.EntryNum,d. ItemId,d.Descr,d.QtyOrdSell,d.QtyShipSell,d.UnitsSell,d.UnitPriceSell,d.PriceExt
		FROM tblSoTransDetail d
		INNER JOIN #tmp t ON d.TransId=t.KeyVal
	END
	ELSE
	BEGIN
		INSERT INTO #tTranH(PostRun,TransId,CustId,ShipToId,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,InvcNum,CustPoNum)
		SELECT h.PostRun,h.TransId,h.CustId,h.ShipToId,h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToCountry,h.ShipToPostalCode,h.InvcNum,h.CustPoNum
		FROM tblArHistHeader h
		INNER JOIN #tmp t ON h.PostRun=t.PostRun AND h.TransId=t.KeyVal

		INSERT INTO #tTranD(PostRun,TransId,EntryNum, ItemId,ItemDescr,QtyOrdSell,QtyShipSell,UnitsSell,UnitPriceSell,ExtPrice)
		SELECT DISTINCT d.PostRun,d.TransId,d.EntryNum,d.PartId,d.[Desc],d.QtyOrdSell,d.QtyShipSell,d.UnitsSell,d.UnitPriceSell,d.PriceExt
		FROM tblArHistDetail d
		INNER JOIN #tmp t ON d.PostRun=t.PostRun AND d.TransId=t.KeyVal
		WHERE d.QtyShipSell>0 AND d.GrpId IS NULL AND EntryNum>=0 AND ISNULL(d.[Status],0)=0
	END
	
	INSERT INTO #tSelH(PostRun,TransId)
	SELECT DISTINCT PostRun,TransId
	FROM #tTranH

	INSERT INTO #tSelD(PostRun,TransId,EntryNum)
	SELECT DISTINCT PostRun,TransId,EntryNum
	FROM #tTranD

	-- get partner id
	UPDATE t SET PartnerId = p.ID
	FROM #tTranH t
	INNER JOIN dbo.trav_EcPartnerCustomer_view p ON t.CustId = p.CustID

	UPDATE t SET EDIShipToCode=s.EDIShipToCode
	FROM #tTranH t
	INNER JOIN dbo.tblArShipTo s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId
	WHERE t.ShipToID IS NOT NULL
	
	--update upc code
	UPDATE t SET UPCCode=u.UPCcode
	FROM #tTranD t
	INNER JOIN tblInItemUom u ON t.ItemId=u.ItemId AND t.UnitsSell=u.Uom
	   
	--override UPC if in xref
	UPDATE t SET UPCCode=x.UPC
	FROM #tTranD t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
	INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND x.TRAVItemID=t.ItemId AND x.TRAVUOM=t.UnitsSell
	AND x.UPC IS NOT NULL
	   
	-- get EDI UIR and EDI UOM from xref
	UPDATE t SET ItemUIR=x.UIR,EDIUOM=x.EDIUOM
	FROM #tTranD t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
	INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND x.TRAVItemID=t.ItemId AND x.TRAVUOM=t.UnitsSell
	WHERE h.PartnerID IS NOT NULL

	DELETE e FROM tblEcArErrorLog e
	INNER JOIN #tTranH h ON h.PostRun = e.PostRun AND h.TransId = e.TransId AND (h.PartnerId IS NULL OR h.PartnerId = e.PartnerId)
	  
	SET @ErrCode=10
	INSERT INTO tblEcArErrorLog(PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum,
						ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
	SELECT h.PostRun, h.TransId, 0, h.InvcNum, NULL PartnerId, h.CustId, NULL CustPoNum,
			@ErrCode, 'Customer [' +ISNULL(h.CustId,'')+'] is not setup as a Trading Partner', 0, 1, @vIsError, 1
	FROM #tSelH t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransId=h.TransId
	WHERE h.PartnerId IS NULL

	DELETE e FROM #tSelH e INNER JOIN tblEcArErrorLog l ON e.PostRun=l.PostRun AND e.TransId=l.TransId WHERE l.SkipValidationYN=1
       
	-- Missing AR Ship to ID
	SET @ErrCode=20
	INSERT INTO tblEcArErrorLog(PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum,
						ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
	SELECT h.PostRun, h.TransId, 0, h.InvcNum, h.PartnerId, h.CustId, NULL CustPoNum,
			@ErrCode, 'Missing AR Ship to ID', 0, 1, @vIsWarning, 0  
	FROM #tSelH t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransId=h.TransId
	WHERE h.ShipToId IS NULL

	DELETE e FROM #tSelH e INNER JOIN tblEcArErrorLog l ON e.PostRun=l.PostRun AND e.TransId=l.TransId WHERE l.SkipValidationYN=1

	-- Missing ED Ship to Code
	SET @ErrCode=20
	INSERT INTO tblEcArErrorLog(PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum,
						ErrCode, ErrDescr, 
						ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
	SELECT h.PostRun, h.TransId, 0 EntryNum, h.InvcNum, h.PartnerId, h.CustId, NULL CustPoNum,
			@ErrCode, 'Missing EDI Ship-To Code for Ship-To ID ['+ISNULL(h.ShipToId,'')+'], Ship-To Name [' +ISNULL(h.ShipToName,'')+']', 
			0 AS ErrSequence, 1, @vIsWarning, 0
	FROM #tSelH t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransId=h.TransId
	WHERE h.EDIShipToCode IS NULL

	DELETE e FROM #tSelH e INNER JOIN tblEcArErrorLog l ON e.PostRun=l.PostRun AND e.TransId=l.TransId WHERE l.SkipValidationYN=1

	-- no need to validate detail if header was invalis
	DELETE d
	FROM #tSelD d
	LEFT JOIN #tSelH h ON d.PostRun=h.PostRun AND d.TransId=h.TransId
	WHERE h.TransId IS NULL

       
	-- START VALIDATING DETAIL 

	-- Missing UPC for partner where its required
	SET @ErrCode=545
	INSERT INTO tblEcArErrorLog(PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum, 
						ErrCode, ErrDescr, 
						ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
	SELECT h.PostRun, h.TransId, d.EntryNum, h.InvcNum, h.PartnerId, h.CustId, NULL,
			@ErrCode,'Item ['+ISNULL(d.ItemId,'')+'] UOM ['+ISNULL(d.UnitsSell,'')+'] UPC Code not found', 
			0 as ErrSequence,0,@vIsError,1  
	FROM #tSelD t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransId=h.TransId
	INNER JOIN #tTranD d ON h.PostRun=d.PostRun AND h.TransId=d.TransId AND d.EntryNum = t.EntryNum
	LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '404D22FA-1457-492F-B09A-6AA5E1C782B1' AND d.ContextType = 7) o ON ISNULL(h.PartnerID,'')=o.PartnerId --GenDfltUIRType
	LEFT JOIN dbo.tblInItem i ON i.ItemId = d.ItemId
	WHERE ISNULL(o.OptValue,'5')='2' AND d.UPCCode IS NULL AND ISNULL(i.ItemType,0) IN (1,2)

	DELETE e FROM #tSelD e INNER JOIN tblEcArErrorLog l ON e.PostRun=l.PostRun AND e.TransId=l.TransId AND e.EntryNum=l.EntryNum WHERE l.SkipValidationYN=1


	-- Missing Item UIR
	SET @ErrCode=550
	INSERT INTO tblEcArErrorLog(PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum,
						ErrCode, ErrDescr, 
						ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
	SELECT h.PostRun, h.TransId, d.EntryNum, h.InvcNum, h.PartnerId, h.CustId, NULL,
		@ErrCode, 'Item ['+ISNULL(d.ItemId,'')+'] UOM ['+ISNULL(d.UnitsSell,'')+'] not set up in EDI Item Cross Reference.', 
		0, 0, @vIsWarning, 0  
	FROM #tSelD t
	INNER JOIN #tTranH h ON t.PostRun=h.PostRun AND t.TransId=h.TransId
	INNER JOIN #tTranD d ON h.PostRun=d.PostRun AND h.TransId=d.TransId AND d.EntryNum = t.EntryNum
	LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '404D22FA-1457-492F-B09A-6AA5E1C782B1' AND d.ContextType = 7) o ON ISNULL(h.PartnerID,'')=o.PartnerId --GenDfltUIRType
	LEFT JOIN dbo.tblInItem i ON i.ItemId = d.ItemId
	WHERE d.ItemUIR IS NULL AND ISNULL(o.OptValue,'5')<>'2' AND ISNULL(i.ItemType,0) IN (1,2)

	DELETE e FROM #tSelD e INNER JOIN tblEcArErrorLog l ON e.PostRun=l.PostRun AND e.TransId=l.TransId AND e.EntryNum=l.EntryNum WHERE l.SkipValidationYN=1

	UPDATE l SET l.CustName=c.CustName
	FROM tblEcArErrorLog l 
	INNER JOIN tblArCust c ON l.CustId=c.CustId

	SELECT e.* FROM tblEcArErrorLog e
	INNER JOIN #tTranH h ON h.PostRun = e.PostRun AND h.TransId = e.TransId AND h.PartnerId = e.PartnerId
	WHERE e.SkipValidationYN = 1

	IF @ValidatSoTransYN=1
	BEGIN
		INSERT INTO dbo.tblEcArErrorLog (PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum, ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
		SELECT ds.PostRun, ds.TransId, 0, ds.InvcNum, ds.PartnerId, ds.CustId, ds.CustPoNum, NULL, NULL, NULL, 1, 0, 0		  
		FROM
		(
			SELECT DISTINCT th.PostRun, h.TransId, h.InvcNum, th.PartnerId, h.CustId, th.CustPoNum
			FROM dbo.tblSoTransHeader h         
			INNER JOIN #tmp t ON t.[PostRun]=h.TransId AND t.[KeyVal] = h.TransId 
			INNER JOIN #tTranH th ON t.PostRun= th.PostRun AND t.[KeyVal] = th.TransId
			LEFT JOIN dbo.tblEcArErrorLog e ON t.[PostRun]= e.[PostRun] AND t.[KeyVal] = e.[TransId] 
			WHERE e.Id IS NULL
		)ds
	END
	ELSE
	BEGIN
		INSERT INTO dbo.tblEcArErrorLog (PostRun, TransId, EntryNum, InvcNum, PartnerId, CustId, CustPoNum, ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
		SELECT ds.PostRun, ds.TransId, 0, ds.InvcNum, ds.PartnerId, ds.CustId, ds.CustPoNum, NULL, NULL, NULL, 1, 0, 0			  
		FROM
		(
			SELECT DISTINCT th.PostRun, h.TransId, h.InvcNum, th.PartnerId, h.CustId, th.CustPoNum
			FROM dbo.tblArHistHeader h         
			INNER JOIN #tmp t ON t.[PostRun]=h.PostRun AND t.[KeyVal] = h.TransId 
			INNER JOIN #tTranH th ON t.PostRun= th.PostRun AND t.[KeyVal] = th.TransId
			LEFT JOIN dbo.tblEcArErrorLog e ON t.[PostRun]= e.[PostRun] AND t.[KeyVal] = e.[TransId] 
			WHERE e.Id IS NULL
		)ds
	END

END TRY          
BEGIN CATCH          
      EXEC dbo.trav_RaiseError_proc          
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportValidateReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportValidateReport_proc'
GO
