USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVoidPaymentWrite_GlLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVoidPaymentWrite_GlLog_proc]
AS

SET NOCOUNT ON
BEGIN TRY
	DECLARE @PostRun [nvarchar](14), @WksDate datetime,@CompId nvarchar(3),
	@DiscountDescr nvarchar(30), @CashDescr nvarchar(30), @ApDetail bit, @CreditCardDescr nvarchar(30), 
	@ApBrYn bit

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @DiscountDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'DiscountDescr'
	SELECT @CashDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CashDescr'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @ApDetail = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApDetail'
	SELECT @CreditCardDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CreditCardDescr'
	SELECT @ApBrYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApBrYn'

	IF @PostRun IS NULL OR  @WksDate IS NULL OR @CompId IS NULL OR @ApDetail IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	IF (@ApBrYn <> 0)
	BEGIN
		UPDATE #PostTransList SET [Status] = -1
			WHERE #PostTransList.GrossAmountDue <> 0
			AND NOT EXISTS (
				SELECT 1 FROM dbo.tblBrMaster m
				WHERE  (m.SourceApp = 'AP' OR SourceApp = 'PO') 
					AND m.TransType = -1
					AND m.ClearedYn = 0
					AND m.BankID = #PostTransList.VoidBankId
					AND m.TransDate = #PostTransList.CheckDate
					AND ((m.SourceID = #PostTransList.UseCheckNumber AND m.Reference = #PostTransList.VendorId) --full match on check number and employee id
					
						) 
					)
	END

	CREATE TABLE #VoidGlPostLogs([PostRun] [nvarchar](14) NOT NULL,[CompId] nvarchar(3) NOT NULL,[GlAccount] [nvarchar](255) NULL,
		[FiscalYear] smallint NOT NULL,[FiscalPeriod] smallint NOT NULL,[Description] nvarchar(30) NULL,
		[Reference] nvarchar(15) NULL,[SourceCode] nvarchar(2) NULL,[AmountFgn] [decimal](28,10) NOT NULL,[CreditAmount] [decimal](28,10) NOT NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,[CurrencyId] [nvarchar](6) NOT NULL,[CreditAmountFgn] [decimal](28,10) NOT NULL,
		[DebitAmountFgn] [decimal](28,10) NOT NULL,[Grouping] int NULL,[TransDate] datetime NULL,[PostDate] datetime NULL,
		[LinkId] nvarchar(15) NULL,[LinkIdSub] nvarchar(15) NULL,[LinkIdSubLine] int NULL,[BankId] [nvarchar](10) NULL)

	/* append payable amt entries */
	INSERT #VoidGlPostLogs (
		 PostRun	,PostDate,FiscalYear,FiscalPeriod	,[Grouping],
		 GlAccount,AmountFgn,[Description],TransDate,
		 CurrencyId	,CompId,BankId,
		 DebitAmount,
		 CreditAmount,
		 DebitAmountFgn,
		 CreditAmountFgn,
		 LinkID,LinkIDSubLine	,SourceCode,Reference
		)
    SELECT @PostRun,@WksDate	,t.VoidFiscalYear,t.VoidFiscalPeriod,10	,
		d.GLAcctAP	,d.GLPayableAmt,'AP',t.VoidDate,
		a.CurrencyID,@CompId, NULL,
	    CASE 
		    WHEN d.GLPayableAmtBase < 0 THEN -d.GLPayableAmtBase
			ELSE 0
		END,
    	 CASE 
		    WHEN d.GLPayableAmtBase > 0	THEN d.GLPayableAmtBase
			ELSE 0
		END,
	    CASE 
		    WHEN d.GLPayableAmt< 0 THEN - d.GLPayableAmt
			ELSE 0
		END,
    	 CASE 
		    WHEN d.GLPayableAmt > 0	THEN d.GLPayableAmt
			ELSE 0
		END,
	    h.PaymentNum,- 2,'AP','AP'
	FROM #PostTransList t
		INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID
		INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
		INNER JOIN dbo.tblGlAcctHdr a ON d.GLAcctAP = a.AcctId
	WHERE t.[Status] = 0
	

	/* append discount entries */
	INSERT #VoidGlPostLogs (
		PostRun	,PostDate,FiscalYear	,FiscalPeriod,[Grouping],
		GlAccount,AmountFgn,[Description],TransDate,
		CurrencyId,CompId,BankId,
		DebitAmount,
		CreditAmount,
		DebitAmountFgn,
		CreditAmountFgn,
		LinkID,LinkIDSubLine,SourceCode,Reference
		)
	SELECT @PostRun,@WksDate,t.VoidFiscalYear,t.VoidFiscalPeriod,20,
		h.GLDiscAcct,GLDiscAmt,@DiscountDescr,t.VoidDate,
		a.CurrencyID,@CompId,NULL,
		CASE 
		    WHEN d.GLDiscAmtBase > 0 THEN d.GLDiscAmtBase
			ELSE 0
		END,
    	CASE 
			WHEN d.GLDiscAmtBase < 0	THEN - d.GLDiscAmtBase
			ELSE 0
		END,
		CASE 
			WHEN d.GLDiscAmt> 0 THEN  d.GLDiscAmt
			ELSE 0
		END,
    		CASE 
			WHEN d.GLDiscAmt < 0	THEN - d.GLDiscAmt
			ELSE 0
		END,
		h.PaymentNum,-2,'AP','AP'
	FROM #PostTransList t
		INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID
		INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
		INNER JOIN dbo.tblGlAcctHdr a ON h.GLDiscAcct = a.AcctId
	WHERE d.GLDiscAmt <> 0 AND  t.[Status] = 0


	/* append cash entries*/
	-- Payment currency and GlCashAcct account currency are same
	INSERT #VoidGlPostLogs (
		PostRun,PostDate,FiscalYear,FiscalPeriod,[Grouping],
		GlAccount,AmountFgn,
		[Description],
		TransDate,
		CurrencyId,CompId,BankId,
		DebitAmount,
		CreditAmount,
		DebitAmountFgn,
		CreditAmountFgn,
		LinkID,LinkIDSubLine,SourceCode,Reference
	)
	SELECT @PostRun,@WksDate,t.VoidFiscalYear,t.VoidFiscalPeriod,30,
		h.GlCashAcct,d.PaymentAmt
		, CASE ISNULL(b.AcctType,0) WHEN 1 THEN @CreditCardDescr ELSE @CashDescr END
		, t.VoidDate
		, h.CurrencyID,@CompId,h.BankId,
		CASE 
		    WHEN d.PaymentAmtBase > 0 THEN d.PaymentAmtBase
			ELSE 0
		END,
    	CASE 
			WHEN d.PaymentAmtBase < 0	THEN -d.PaymentAmtBase
			ELSE 0
		END,
		CASE 
			WHEN d.PaymentAmt > 0 THEN  d.PaymentAmt
			ELSE 0
		END,
    		CASE 
			WHEN d.PaymentAmt < 0	THEN -d.PaymentAmt
			ELSE 0
		END,
		h.PaymentNum,-2,'AP','AP'
	FROM #PostTransList t
		INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID
		INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID	
		LEFT JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId
	WHERE  t.[Status] = 0
	IF @ApDetail = 1
	BEGIN
		INSERT #GlPostLogs(PostRun,FiscalYear,FiscalPeriod,[Grouping],GlAccount,AmountFgn,Reference,[Description],DebitAmount,
			CreditAmount,DebitAmountFgn,CreditAmountFgn,SourceCode,PostDate,TransDate,CurrencyId,ExchRate,CompId,DistCode,BankId,LinkID,LinkIDSubLine)
		SELECT PostRun,FiscalYear,FiscalPeriod,[Grouping],GlAccount,AmountFgn,Reference,[Description],DebitAmount,
			CreditAmount,DebitAmountFgn,CreditAmountFgn,SourceCode,PostDate,TransDate,CurrencyId,0,CompId,NULL,BankId,LinkID,LinkIDSubLine
		FROM #VoidGlPostLogs
	END
	ELSE
	BEGIN
		INSERT #GlPostLogs(PostRun,FiscalYear,FiscalPeriod,[Grouping],GlAccount,AmountFgn,Reference,[Description],
		    DebitAmount,
			CreditAmount,
			DebitAmountFgn,
			CreditAmountFgn,
			SourceCode,PostDate,TransDate,CurrencyId,ExchRate,CompId,BankId,LinkIDSubLine)
		SELECT @PostRun, FiscalYear, FiscalPeriod, [Grouping], GlAccount, SUM(AmountFgn), 'AP', 
			CASE [Grouping] WHEN 10 THEN 'AP' WHEN 20 THEN @DiscountDescr WHEN 30 THEN @CashDescr ELSE NULL END,
    		CASE WHEN SUM(DebitAmount) - SUM(CreditAmount) > 0 THEN SUM(DebitAmount) - SUM(CreditAmount) ELSE 0 END,
			CASE WHEN SUM(DebitAmount) - SUM(CreditAmount) > 0 THEN 0 ELSE ABS(SUM(DebitAmount) - SUM(CreditAmount)) END ,
			CASE WHEN SUM(DebitAmountfgn) - SUM(CreditAmountfgn) > 0 THEN SUM(DebitAmountfgn) - SUM(CreditAmountfgn) ELSE 0 END,
			CASE WHEN SUM(DebitAmountfgn) - SUM(CreditAmountfgn) > 0 THEN 0 ELSE ABS(SUM(DebitAmountfgn) - SUM(CreditAmountfgn)) END ,
			 'AP', @WksDate, @WksDate, CurrencyId, 0, @CompId,BankId,-2
		FROM #VoidGlPostLogs
		GROUP BY GlAccount,CurrencyId,BankId, FiscalPeriod, FiscalYear, [Grouping],
			CASE [Grouping] WHEN 10 THEN 'AP' WHEN 20 THEN @DiscountDescr WHEN 30 THEN @CashDescr ELSE NULL END
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc 
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_GlLog_proc'
GO
