USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoImportDtlLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoImportDtlLog_proc]
@ImportBatchID nvarchar(14) = NULL,
@PartnerId bigint = NULL
AS
BEGIN TRY 
SET NOCOUNT ON      

	SELECT h.ImportBatchId, p.PartnerID, p.PartnerName,h.CustID, c.CustName, h.CustPoNum,h.PoDate,h.OrderRef,h.EDIShipToCode,h.ARShipToID,h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToPostalCode,h.ShipToCountry,
			h.TotalPoAmt,h.TotalPoLines,
			d.PoLineNum,d.ItemUir EDIItemId,d.ItemID,d.ItemDescr,d.RequestedDate,d.LocId,d.QtyOrd,d.POUnitsSell,d.UnitPrice, h.KeyLevelSeq1

	FROM dbo.tblEcPoHeader h 
	LEFT JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID
	LEFT JOIN dbo.tblEcPartner p on h.PartnerID = p.ID
	LEFT JOIN dbo.tblArCust c ON h.CustID=c.CustId
	WHERE ( @ImportBatchID IS NULL OR @ImportBatchID=h.ImportBatchId ) AND (@PartnerId IS NULL OR @PartnerId=h.PartnerID)
 
END TRY
BEGIN CATCH          
	EXEC dbo.trav_RaiseError_proc          
END CATCH   

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportDtlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportDtlLog_proc'
GO
