USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_FaPeriodDepreciationPost_Update_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_FaPeriodDepreciationPost_Update_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @PostRun pPostRun,@WksDate datetime

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	
	IF @PostRun IS NULL OR @WksDate IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	
	--create depreciation activity records 
	DECLARE @MaxId int
	SELECT @MaxId = MAX([ID]) FROM dbo.tblFaAssetDeprActivity
	SELECT @MaxId = ISNULL(@MaxId, 0)
	
	INSERT INTO dbo.tblFaAssetDeprActivity ([ID], [DeprID], [TransType], [EntryDate], [TransDate]
		, [GLAccumDepr], [GLExpense], [Amount], [FiscalPeriod], [FiscalYear], [PostRun],[AmountBase])
	SELECT @MaxId + [ID]
		, [DeprID], 0, @WksDate, @WksDate
		, [GLAccumDepr], [GLExpense], [Amount], [FiscalPeriod], [FiscalYear], @PostRun,[AmountBase]
	FROM #PeriodDepreciationPostActivity
	WHERE [Amount] <> 0


	--Reset the posted Asset Depreciation entries
	UPDATE dbo.tblFaAssetDepr SET [CurrDepr] = 0
	FROM #PeriodDepreciationPostActivity a
	WHERE dbo.tblFaAssetDepr.[ID] = a.[DeprID]
		AND a.[Amount] <> 0 


	--update the option depreciation entries
	UPDATE dbo.tblFaOptionDepr SET [Process] = 0, [PdProcessed] = [PdProcessed] + ([EndPd] - [BeginPd] + 1)
	FROM dbo.tblFaOptionDepr
		INNER JOIN #PostTransList l ON dbo.tblFaOptionDepr.[DeprType] = l.[TransId] 
	WHERE dbo.tblFaOptionDepr.[Process] = 1
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_FaPeriodDepreciationPost_Update_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_FaPeriodDepreciationPost_Update_proc'
GO
