USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InSerializedHistoryReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InSerializedHistoryReport_proc]
@SortBy TINYINT

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT 
	CASE @SortBy
	WHEN 0 THEN CAST(i.ItemId AS NVARCHAR)
	WHEN 1 THEN CAST(l.LocId AS NVARCHAR) END AS SortBy,
	CASE @SortBy
	WHEN 0 THEN CAST(l.LocId AS NVARCHAR)
	WHEN 1 THEN CAST(i.ItemId AS NVARCHAR) END AS SortBy2,
	i.ItemId, l.LocId,i.ItemId AS ItemId1, l.locid as locid1, s.SerNum, ISNULL(i.ProductLine,'') AS ProductLineZls, s.LotNum, 
	i.Descr AS ItemDescr, a.AddlDescr, s.Cmnt, d.Source, d.TransId, d.RefId, 
	d.SrceID, d.TransDate, s.DateInvc, s.DateShip, s.DateRcpt, s.InvcNum, s.CostUnit * (CASE WHEN d.[Status] = 1 THEN Sign(d.Qty) ELSE 1 END) AS [CostUnit], s.PriceUnit * (CASE WHEN d.[Status] = 1 THEN Sign(d.Qty) ELSE 1 END) AS [PriceUnit], 
	l.Descr AS LocDescr
	FROM #tmpHistorySerList t INNER JOIN dbo.tblInHistSer s (NOLOCK) ON t.SeqNum = s.SeqNum 
		INNER JOIN dbo.tblInHistDetail d ON s.HistSeqNum = d.HistSeqNum
		INNER JOIN dbo.tblInItem i  ON d.ItemId = i.ItemId 
		INNER JOIN tblInLoc l (NOLOCK) ON d.LocId = l.LocId 
		LEFT JOIN tblInItemAddlDescr a (NOLOCK) ON i.ItemId = a.ItemId
	UNION ALL 
	SELECT
	CASE @SortBy
	WHEN 0 THEN CAST(i.ItemId AS NVARCHAR)
	WHEN 1 THEN CAST(l.LocId AS NVARCHAR) END AS SortBy,
	CASE @SortBy
	WHEN 0 THEN CAST(l.LocId AS NVARCHAR)
	WHEN 1 THEN CAST(i.ItemId AS NVARCHAR) END AS SortBy2,
	 i.ItemId, l.LocId,i.ItemId AS ItemId1, l.locid as locid1, s.SerNum, ISNULL(i.ProductLine,'') AS ProductLineZls, s.LotNum, 
	i.Descr AS ItemDescr, a.AddlDescr, s.Cmnt, d.Source, d.TransId, r.RefId, 
	d.SrceID, d.TransDate, s.DateInvc, s.DateShip, s.DateRcpt, s.InvcNum, -v.CostUnit, -s.PriceUnit, 
	l.Descr AS LocDescr
	FROM #tmpHistorySerList t INNER JOIN dbo.tblInHistSer s (NOLOCK) ON t.SeqNum = s.SeqNum 
		INNER JOIN dbo.tblInHistDetail d ON s.HistSeqNum = d.HistSeqNum
		INNER JOIN dbo.tblInHistDetail r ON d.HistSeqNum_Rcpt = r.HistSeqNum 
		INNER JOIN dbo.tblInHistSer v ON r.HistSeqNum = v.HistSeqNum AND s.SerNum = v.SerNum
		INNER JOIN dbo.tblInItem i  ON d.ItemId = i.ItemId 
		INNER JOIN tblInLoc l (NOLOCK) ON d.LocId = l.LocId 
		LEFT JOIN tblInItemAddlDescr a (NOLOCK) ON i.ItemId = a.ItemId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InSerializedHistoryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InSerializedHistoryReport_proc'
GO
