USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_AWMSUserDefaults_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_AWMSUserDefaults_proc]
AS
BEGIN TRY

	--Update Location Default: Default Receiving Bin
	DECLARE @FieldName NVARCHAR(50), @FieldId INT, @TableName NVARCHAR(255)

	SELECT @FieldName = 'Default Receiving'
	SELECT @TableName = 'tblWmExtLoc'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
			EXEC sp_executesql N'UPDATE def
			SET def.DefaultValue = b.ExtLocId
			FROM dbo.tblSmUserDefaultValue def
			INNER JOIN
			(
				SELECT MAX(bin.ExtLocId) [ExtLocId], bin.LocID
				FROM tblWmExtLoc bin
				WHERE bin.[Type] = 0 AND bin.CF IS NOT NULL AND ISNULL(bin.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Default Receiving"]/Value)[1]'', ''bit''),''0'') = ''1''
				GROUP BY bin.LocID
			)b ON def.ContextId = b.LocId
			WHERE def.DefaultValue IS NULL AND def.ContextType = 4 AND def.DefaultId = ''785668ca-7684-4e6c-891b-21f4da3686cb'''
	END

	--Update Location Default: Default Bin
	SELECT @FieldName = 'Default Bin'
	SELECT @TableName = 'tblInLoc'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
		EXEC sp_executesql N'UPDATE def
			SET def.DefaultValue = b.ExtLocId
			FROM tblSmUserDefaultValue def
			INNER JOIN
			(
				SELECT MAX(bin.ExtLocId) [ExtLocId], bin.LocID
				FROM tblWmExtLoc bin 
				INNER JOIN tblInLoc loc ON loc.LocId = bin.LocID AND bin.Type = 0 AND loc.CF IS NOT NULL 
				AND CAST(bin.Id AS nvarchar(510)) = loc.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Default Bin"]/Value)[1]'', ''nvarchar(510)'')
				GROUP BY bin.LocID
			) b ON def.ContextId = b.LocId
			WHERE def.DefaultValue IS NULL AND def.ContextType = 4 AND def.DefaultId = ''2e072907-e2e1-47d6-86d6-d0d262827d41'''
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSUserDefaults_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSUserDefaults_proc'
GO
