USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApApAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApApAnalysisReport_proc]
@Year Int,
@Period Int,
@TotPeriod Smallint,
@PrecCurrency tinyint = 2, 
@IncludeSalesTax bit, 
@IncludeFreightCharges bit, 
@IncludeMiscCharges bit

AS
BEGIN TRY
	CREATE TABLE #tmpHistHeader 
	(
		FiscalYear smallint, 
		GLPeriod smallint, 
		TotPurch [decimal](28,10) NULL DEFAULT (0), 
		PrepaidAmt [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpHistHeader(FiscalYear, GLPeriod, TotPurch, PrepaidAmt) 
	SELECT FiscalYear, GLPeriod
		, SUM(SIGN(TransType) * 
			(Subtotal 
				+ CASE WHEN @IncludeSalesTax <> 0 THEN SalesTax + TaxAdjAmt ELSE 0 END 
				+ CASE WHEN @IncludeFreightCharges <> 0 THEN Freight ELSE 0 END 
				+ CASE WHEN @IncludeMiscCharges <> 0 THEN Misc ELSE 0 END)
			) AS TotPurch
		, SUM(PrepaidAmt) AS PrepaidAmt 
	FROM dbo.tblApHistHeader 
	GROUP BY FiscalYear, GLPeriod

	CREATE TABLE #tmpCheckHist 
	(
		FiscalYear smallint, 
		GlPeriod smallint, 
		TotDiscTaken [decimal](28,10) NULL DEFAULT (0), 
		TotDiscLost [decimal](28,10) NULL DEFAULT (0), 
		PurchNoDisc [decimal](28,10) NULL DEFAULT (0), 
		PurchDiscTaken [decimal](28,10) NULL DEFAULT (0), 
		PurchDiscLost [decimal](28,10) NULL DEFAULT (0), 
		TotPmt [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpCheckHist(FiscalYear, GlPeriod, TotDiscTaken, TotDiscLost, PurchNoDisc, PurchDiscTaken, PurchDiscLost, TotPmt) 
	SELECT FiscalYear, FiscalPeriod AS GlPeriod, SUM(d.DiscTakenBase) AS TotDiscTaken
		, SUM(d.DiscLostBase) AS TotDiscLost
		, SUM(CASE WHEN d.DiscTakenBase + d.DiscLostBase = 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchNoDisc
		, SUM(CASE WHEN d.DiscTakenBase <> 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchDiscTaken
		, SUM(CASE WHEN d.DiscLostBase <> 0 THEN d.GrossAmtDueBase ELSE 0 END) AS PurchDiscLost
		, SUM(d.PaymentAmtBase) AS TotPmt 
	FROM dbo.tblApPaymentHistHeader h 
		LEFT JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID 
	WHERE h.VoidDate IS NULL 
	GROUP BY FiscalYear, FiscalPeriod

	DECLARE @LastAp [decimal](28,10), @CurrAp [decimal](28,10), @CurrTotPurch [decimal](28,10), @CurrTotPmt [decimal](28,10), @CurrTotDiscTaken [decimal](28,10),
		@LastTotPurch [decimal](28,10), @LastTotPmt [decimal](28,10), @LastTotDiscTaken [decimal](28,10), @PreGrossDue [decimal](28,10)
	 
	CREATE TABLE #tmpPeriods ( YrPeriod int NULL,
		CurrTotPurch [decimal](28,10) NULL default 0, CurrAp [decimal](28,10) NULL default 0, CurrTotPmt [decimal](28,10) NULL default 0, CurrPrepaidAmt [decimal](28,10) NULL default 0, CurrPurchDiscTaken [decimal](28,10) NULL default 0, 
		CurrPurchNoDisc [decimal](28,10) NULL default 0, CurrTotDiscTaken [decimal](28,10) NULL default 0, CurrTotDiscLost [decimal](28,10) NULL default 0, CurrPaidOnAcct [decimal](28,10) NULL default 0, CurrDiscAvail [decimal](28,10) NULL default 0,

		PreTotPurch [decimal](28,10) NULL default 0, PreAp [decimal](28,10) NULL default 0, PreTotPmt [decimal](28,10) NULL default 0, PrePrepaidAmt [decimal](28,10) NULL default 0, PrePurchDiscTaken [decimal](28,10) NULL default 0, PrePurchNoDisc [decimal](28,10) NULL default 0,
		PreTotDiscTaken [decimal](28,10) NULL default 0, PreTotDiscLost [decimal](28,10) NULL default 0, PrePaidOnAcct [decimal](28,10) NULL default 0, 	PreDiscAvail [decimal](28,10) NULL default 0,

		AvgTotPurch [decimal](28,10) NULL default 0, AvgAp [decimal](28,10) NULL default 0, AvgTotPmt [decimal](28,10) NULL default 0, AvgPrepaidAmt [decimal](28,10) NULL default 0, AvgPurchDiscTaken [decimal](28,10) NULL default 0, AvgPurchNoDisc [decimal](28,10) NULL default 0,
		AvgTotDiscTaken [decimal](28,10) NULL default 0, AvgTotDiscLost [decimal](28,10) NULL default 0, AvgPaidOnAcct [decimal](28,10) NULL default 0, AvgDiscAvail [decimal](28,10) NULL default 0,

		LastTotPurch [decimal](28,10) NULL default 0, LastAp [decimal](28,10) NULL default 0, LastTotPmt [decimal](28,10) NULL default 0, LastPrepaidAmt [decimal](28,10) NULL default 0, LastPurchDiscTaken [decimal](28,10) NULL default 0, LastPurchNoDisc [decimal](28,10) NULL default 0,
		LastTotDiscTaken [decimal](28,10) NULL default 0,	LastTotDiscLost [decimal](28,10) NULL default 0, LastPaidOnAcct [decimal](28,10) NULL default 0, LastDiscAvail [decimal](28,10) NULL default 0 )

	CREATE TABLE #tmpYrPeriod 
	(SeqNum Int NOT NULL, [Year] Int NOT NULL, Period Int NOT NULL, TotPurch [decimal](28,10) NOT NULL, 
	 GrossDue [decimal](28,10) NOT NULL, TotPmt [decimal](28,10) NOT NULL, PrepaidAmt [decimal](28,10) NOT NULL, PurchDiscTaken [decimal](28,10) NOT NULL,  
	 PurchNoDisc [decimal](28,10) NOT NULL, TotDiscTaken [decimal](28,10) NOT NULL,  TotDiscLost [decimal](28,10) NOT NULL)

	INSERT INTO #tmpYrPeriod (SeqNum, [Year], Period, TotPurch, GrossDue, TotPmt, PrepaidAmt, PurchDiscTaken, PurchNoDisc
		, TotDiscTaken, TotDiscLost)
	SELECT y.SeqNum, y.[Year], y.Period, ISNULL(t.TotPurch, 0), ISNULL(t.TotPurch, 0) - ISNULL(p.TotPmt, 0) - ISNULL(p.TotDiscTaken, 0),
		ISNULL(p.TotPmt, 0), ISNULL(t.PrepaidAmt, 0), ISNULL(p.PurchDiscTaken, 0),  
		ISNULL(p.PurchNoDisc, 0), ISNULL(p.TotDiscTaken, 0),  ISNULL(p.TotDiscLost, 0)
	FROM
		(SELECT 1 SeqNum,@Year [Year], @Period Period --Current Period
		UNION ALL 
		SELECT 2, CASE WHEN @Period - 1 = 0 THEN @Year -1 ELSE @Year END, 
			CASE WHEN @Period - 1 = 0 THEN @TotPeriod ELSE @Period - 1 END --Previous Period
		UNION ALL
		SELECT 3, CASE WHEN @Period - 2 <= 0  THEN @Year -1 ELSE @Year END,
			CASE WHEN @Period - 1 = 0 THEN @TotPeriod -1 
			WHEN @Period - 2 = 0 THEN @TotPeriod ELSE @Period - 2 END --Two Period ago
		UNION ALL
		SELECT 4, @Year - 1, @Period --Last Year Same Period
		) y 

		LEFT JOIN #tmpHistHeader t ON y.[Year] = t.FiscalYear AND y.Period = t.GlPeriod 
		LEFT JOIN #tmpCheckHist p ON y.[Year] = p.FiscalYear AND y.Period = p.GlPeriod

	--Calculate total AP up to current period 
	SELECT @CurrTotPurch = ISNULL(SUM(TotPurch), 0) 
	FROM #tmpHistHeader 
	WHERE (FiscalYear = @Year AND GlPeriod < = @Period) OR  FiscalYear < @Year

	SELECT @CurrTotPmt = ISNULL(SUM(TotPmt), 0) , @CurrTotDiscTaken = ISNULL(SUM(TotDiscTaken), 0)
	FROM #tmpCheckHist 
	WHERE (FiscalYear = @Year AND GlPeriod < = @Period) OR  FiscalYear < @Year

	SET @CurrAp = ISNULL(@CurrTotPurch, 0) - ISNULL(@CurrTotPmt, 0) - ISNULL(@CurrTotDiscTaken, 0)

	--Calculate total AP up to Last Year Same Period
	SELECT @LastTotPurch = ISNULL(SUM(TotPurch), 0) 
	FROM #tmpHistHeader 
	WHERE (FiscalYear = @Year - 1 AND GlPeriod < = @Period) OR  FiscalYear < @Year - 1

	SELECT @LastTotPmt = ISNULL(SUM(TotPmt), 0) , @LastTotDiscTaken = ISNULL(SUM(TotDiscTaken), 0)
	FROM #tmpCheckHist 
	WHERE (FiscalYear = @Year - 1 AND GlPeriod < = @Period) OR  FiscalYear < @Year - 1

	SET @LastAp = ISNULL(@LastTotPurch, 0) - ISNULL(@LastTotPmt, 0) - ISNULL(@LastTotDiscTaken, 0)

	--GrossDue of previous period
	SELECT @PreGrossDue = GrossDue
	FROM #tmpYrPeriod
	WHERE SeqNum = 2

	-- Current Period
	INSERT INTO #tmpPeriods (YrPeriod,	CurrTotPurch, CurrAp, CurrTotPmt, CurrPrepaidAmt, CurrPurchDiscTaken, 
			CurrPurchNoDisc, CurrTotDiscTaken, CurrTotDiscLost, CurrPaidOnAcct, CurrDiscAvail, PreAp, LastAp,
			AvgAp  )
	SELECT ([Year] * 1000 + Period), TotPurch, @CurrAp, TotPmt, PrepaidAmt,	PurchDiscTaken, PurchNoDisc, 
		TotDiscTaken, TotDiscLost, (TotPmt - PrepaidAmt), (TotDiscTaken + TotDiscLost), @CurrAp - GrossDue,
		@LastAp, ISNULL((3 * @CurrAp - 2 * GrossDue - @PreGrossDue)/3, 0)
	FROM #tmpYrPeriod
	WHERE SeqNum = 1

	-- Previous Period
	UPDATE #tmpPeriods 
	SET PreTotPurch = t.TotPurch, PreTotPmt = t.TotPmt, PrePrepaidAmt = t.PrepaidAmt,
		PrePurchDiscTaken = t.PurchDiscTaken, PrePurchNoDisc = t.PurchNoDisc, PreTotDiscTaken = t.TotDiscTaken,
		PreTotDiscLost = t.TotDiscLost, PrePaidOnAcct = t.TotPmt - t.PrepaidAmt, PreDiscAvail = t.TotDiscTaken + t.TotDiscLost
	FROM #tmpPeriods, #tmpYrPeriod t
	WHERE t.SeqNum = 2

	-- Last Year Same Period
	UPDATE #tmpPeriods 
	SET LastTotPurch = t.TotPurch, LastTotPmt = t.TotPmt, LastPrepaidAmt = t.PrepaidAmt,
		LastPurchDiscTaken = t.PurchDiscTaken, LastPurchNoDisc = t.PurchNoDisc, LastTotDiscTaken = t.TotDiscTaken,
		LastTotDiscLost = t.TotDiscLost, LastPaidOnAcct = t.TotPmt - t.PrepaidAmt, LastDiscAvail = t.TotDiscTaken + t.TotDiscLost
	FROM #tmpPeriods, #tmpYrPeriod t
	WHERE t.SeqNum = 4

	-- 3 Period Avg.
	UPDATE #tmpPeriods 
	SET AvgTotPurch = t.AvgTotPurch, AvgTotPmt = t.AvgTotPmt, AvgPrepaidAmt = t.AvgPrepaidAmt,
		AvgPurchDiscTaken = t.AvgPurchDiscTaken, AvgPurchNoDisc = t.AvgPurchNoDisc, AvgTotDiscTaken = t.AvgTotDiscTaken,
		AvgTotDiscLost = t.AvgTotDiscLost, AvgPaidOnAcct = t.AvgTotPmt - t.AvgPrepaidAmt, AvgDiscAvail = t.AvgTotDiscTaken + t.AvgTotDiscLost
	FROM #tmpPeriods, (SELECT AVG(TotPurch) AvgTotPurch, AVG(TotPmt) AvgTotPmt,
		AVG(PrepaidAmt) AvgPrepaidAmt, AVG(PurchDiscTaken) AvgPurchDiscTaken,
		AVG(PurchNoDisc) AvgPurchNoDisc, AVG(TotDiscTaken) AvgTotDiscTaken,
		AVG(TotDiscLost) AvgTotDiscLost	  
		FROM #tmpYrPeriod
		WHERE SeqNum < 4) t

	SELECT  YrPeriod, CurrTotPurch, CurrAp, CurrTotPmt,	CurrPrepaidAmt, CurrPurchDiscTaken, 
		CurrPurchNoDisc, CurrTotDiscTaken, CurrTotDiscLost, CurrPaidOnAcct, CurrDiscAvail,
		PreTotPurch, PreAp, PreTotPmt, PrePrepaidAmt, PrePurchDiscTaken, PrePurchNoDisc, 
		PreTotDiscTaken, PreTotDiscLost, PrePaidOnAcct, PreDiscAvail,
		AvgTotPurch, AvgAp, AvgTotPmt, AvgPrepaidAmt, AvgPurchDiscTaken, AvgPurchNoDisc,
		AvgTotDiscTaken, AvgTotDiscLost, AvgPaidOnAcct,	AvgDiscAvail,
		LastTotPurch, LastAp, LastTotPmt, LastPrepaidAmt, LastPurchDiscTaken, LastPurchNoDisc,
		LastTotDiscTaken, LastTotDiscLost, LastPaidOnAcct, LastDiscAvail

		--Account Payable
		, CASE WHEN CurrTotPurch <> 0 THEN 100 ELSE 0 END AS CurrTotPurch1
		, CASE WHEN CurrTotPurch <> 0 THEN ((CurrAp / (CASE WHEN CurrTotPurch = 0 THEN 1 ELSE currTotPurch END)) * 100) ELSE 0 END AS CurrTotPurch2
		, CASE WHEN AvgTotPurch <> 0 THEN 100 ELSE 0 END AS Lbl3AvgTotPurch
		, CASE WHEN AvgTotPurch <> 0 THEN ((AvgAp / (CASE WHEN AvgTotPurch = 0 THEN 1 ELSE avgTotPurch END)) * 100) ELSE 0 END AS AvgTotPurch2
		, CASE WHEN CurrTotPurch <> 0 THEN ((AvgTotPurch / (CASE WHEN CurrTotPurch = 0 THEN 1 ELSE currTotPurch END)) * 100) ELSE 0 END AS lblCurrTotPurch
		, CASE WHEN CurrAp <> 0 THEN (avgAp / (CASE WHEN CurrAp = 0 THEN 1 ELSE CurrAp END) * 100) ELSE 0 END AS lbl3LblCurrApp
		, CASE WHEN PreTotPurch <> 0 THEN 100 ELSE 0 END AS PriorPreTotPurch
		, CASE WHEN PreTotPurch <> 0 THEN ((PreAp / (CASE WHEN PreTotPurch = 0 THEN 1 ELSE PreTotPurch END)) * 100) ELSE 0 END AS PrioprPreTotPurch
		, CASE WHEN CurrTotPurch <> 0 THEN ((PreTotPurch / (CASE WHEN CurrTotPurch = 0 THEN 1 ELSE CurrTotPurch END)) * 100) ELSE 0 END AS PriorCurrTotpurch
		, CASE WHEN CurrAp <> 0 THEN ((preAp / (CASE WHEN CurrAp = 0 THEN 1 ELSE currAp END)) * 100) ELSE 0 END AS PriorCurrAppVal
		, CASE WHEN LastTotPurch <> 0 THEN 100 ELSE 0 END AS LastyearLastTotPurch
		, CASE WHEN LastTotPurch <> 0 THEN ((lastAp / (CASE WHEN LastTotPurch = 0 THEN 1 ELSE LastTotPurch END)) * 100) ELSE 0 END AS LstYrLastTotPurch
		, CASE WHEN CurrTotPurch <> 0 THEN ((LastTotPurch / (CASE WHEN CurrTotPurch = 0 THEN 1 ELSE CurrTotPurch END)) * 100) ELSE 0 END AS LastyrCurrTotPurch
		, CASE WHEN CurrAp <> 0 THEN ((LastAp / (CASE WHEN CurrAp = 0 THEN 1 ELSE CurrAp END)) * 100) ELSE 0 END AS LastyrCurrAppVal
		--Payments
		, CASE WHEN CurrTotPmt <> 0 THEN 100 ELSE 0 END AS CurrPeriodTotPmtAmtPercent
		, CASE WHEN CurrTotPmt <> 0 THEN ((CurrPaidOnAcct / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS CurrPeriodPaidOnAccPercent
		, CASE WHEN CurrTotPmt <> 0 THEN ((CurrPrepaidAmt / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS CurrPeriodPrePaymentPercent
		, CASE WHEN CurrTotPmt <> 0 THEN ((CurrPurchDiscTaken / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS CurrPeriodEligibleDiscPercent
		, CASE WHEN CurrTotPmt <> 0 THEN ((CurrPurchNoDisc / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS CurrPeriodInEligibleDiscPercent
		, CASE WHEN AvgTotPmt <> 0 THEN 100 ELSE 0 END AS PerioddAvgTotPmtPercAmt
		, CASE WHEN AvgTotPmt <> 0 THEN ((AvgPaidOnAcct / (CASE WHEN AvgTotPmt = 0 THEN 1 ELSE AvgTotPmt END)) * 100) ELSE 0 END AS PeriodAvgPaidOnAccPercAmt
		, CASE WHEN AvgTotPmt <> 0 THEN ((AvgPrepaidAmt / (CASE WHEN AvgTotPmt = 0 THEN 1 ELSE AvgTotPmt END)) * 100) ELSE 0 END AS PeriodAvgPrePmtPercPmt
		, CASE WHEN AvgTotPmt <> 0 THEN ((AvgPurchDiscTaken / (CASE WHEN AvgTotPmt = 0 THEN 1 ELSE AvgTotPmt END)) * 100) ELSE 0 END AS PeriodAvgEligbleDiscPercPmt
		, CASE WHEN AvgTotPmt <> 0 THEN ((AvgPurchNoDisc / (CASE WHEN AvgTotPmt = 0 THEN 1 ELSE AvgTotPmt END)) * 100) ELSE 0 END AS PeriodAvgEligbleDiscPercPmt
		, CASE WHEN CurrTotPmt <> 0 THEN ((AvgTotPmt / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS PeriodAvgTotpmtPercCurr
		, CASE WHEN CurrPaidOnAcct <> 0 THEN ((AvgPaidOnAcct / (CASE WHEN CurrPaidOnAcct = 0 THEN 1 ELSE CurrPaidOnAcct END)) * 100) ELSE 0 END AS PeriodAvgPrePmtPerCurr
		, CASE WHEN CurrPrepaidAmt <> 0 THEN ((AvgPrepaidAmt / (CASE WHEN CurrPrepaidAmt = 0 THEN 1 ELSE CurrPrepaidAmt END)) * 100) ELSE 0 END AS PeriodAvgPrePmtPercCurr
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((AvgPurchDiscTaken / (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0 END AS PeriodAvgEligbleDiscPercCurr
	    , CASE WHEN CurrPurchNoDisc <> 0 THEN ((AvgPurchNoDisc / (CASE WHEN CurrPurchNoDisc = 0 THEN 1 ELSE CurrPurchNoDisc END)) * 100) ELSE 0 END AS PeriodAvgInEligbleDiscPercCurr
		, CASE WHEN PreTotPmt <> 0 THEN 100 ELSE 0 END AS PriorPeriodTotPmtPercPmt
		, CASE WHEN PreTotPmt <> 0 THEN ((PrePaidOnAcct / (CASE WHEN PreTotPmt = 0 THEN 1 ELSE PreTotPmt END)) * 100) ELSE 0 END AS PriorPeriodPaidOnAccPercPmt
		, CASE WHEN PreTotPmt <> 0 THEN ((PrePrepaidAmt / (CASE WHEN PreTotPmt = 0 THEN 1 ELSE PreTotPmt END)) * 100) ELSE 0 END AS PriorPeriodPrePmtPercPmt
		, CASE WHEN PreTotPmt <> 0 THEN ((PrePurchDiscTaken/ (CASE WHEN PreTotPmt = 0 THEN 1 ELSE PreTotPmt END)) * 100) ELSE 0 END AS PriorPeriodEligbleDiscPercPmt
		, CASE WHEN PreTotPmt <> 0 THEN ((PrePurchNoDisc/ (CASE WHEN PreTotPmt = 0 THEN 1 ELSE PreTotPmt END)) * 100) ELSE 0 END AS PriorPeriodInEligbleDiscPercPmt
		, CASE WHEN CurrTotPmt <> 0 THEN ((PreTotPmt/ (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS PriorPeriodTotPmtPercCurr
		, CASE WHEN CurrPaidOnAcct <> 0 THEN ((PrePaidOnAcct/ (CASE WHEN CurrPaidOnAcct = 0 THEN 1 ELSE CurrPaidOnAcct END)) * 100) ELSE 0 END AS PriorPeriodPaidOnAccPercCurr
		, CASE WHEN CurrPrepaidAmt <> 0 THEN ((PrePrepaidAmt/ (CASE WHEN CurrPrepaidAmt = 0 THEN 1 ELSE CurrPrepaidAmt END)) * 100) ELSE 0 END AS PriorPeriodPrePmtPercCurr
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((PrePurchDiscTaken/ (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0 END AS PriorPeriodEligbleDiscPercCurr
		, CASE WHEN CurrPurchNoDisc <> 0 THEN ((PrePurchNoDisc/ (CASE WHEN CurrPurchNoDisc = 0 THEN 1 ELSE CurrPurchNoDisc END)) *100) ELSE 0 END AS PriorPeriodInEligbleDiscPercCurr
		, CASE WHEN LastTotPmt <> 0 THEN 100 ELSE 0 END AS SamePeriodLstyrtTotPmtPercPmt
		, CASE WHEN LastTotPmt <> 0 THEN ((LastPaidOnAcct / (CASE WHEN LastTotPmt = 0 THEN 1 ELSE LastTotPmt END)) * 100) ELSE 0 END AS SamePeriodLstyrPaidOnAccPercPmt
		, CASE WHEN LastTotPmt <> 0 THEN ((LastPrepaidAmt / (CASE WHEN LastTotPmt = 0 THEN 1 ELSE LastTotPmt END)) * 100) ELSE 0 END AS SamePeriodLstyrPrePmtPercPmt
		, CASE WHEN LastTotPmt <> 0 THEN ((LastPurchDiscTaken / (CASE WHEN LastTotPmt = 0 THEN 1 ELSE LastTotPmt END)) * 100) ELSE 0 END AS SamePeriodLstyrEligbelDiscPercPmt
		, CASE WHEN LastTotPmt <> 0 THEN ((LastPurchNoDisc / (CASE WHEN LastTotPmt = 0 THEN 1 ELSE LastTotPmt END)) * 100) ELSE 0 END AS SamePeriodLstyrInEligbleDiscPercPmt
		, CASE WHEN CurrTotPmt <> 0 THEN ((LastTotPmt / (CASE WHEN CurrTotPmt = 0 THEN 1 ELSE CurrTotPmt END)) * 100) ELSE 0 END AS SamePeriodLstyrTotPmtPercPmt
		, CASE WHEN CurrPaidOnAcct <> 0 THEN ((LastPaidOnAcct / (CASE WHEN CurrPaidOnAcct = 0 THEN 1 ELSE CurrPaidOnAcct END)) * 100) ELSE 0 END AS SamePeriodLstyrPaidOnAccPercCurr
		, CASE WHEN CurrPrepaidAmt <> 0 THEN ((LastPrepaidAmt / (CASE WHEN CurrPrepaidAmt = 0 THEN 1 ELSE CurrPrepaidAmt END)) * 100) ELSE 0 END AS SamePeriodLstyrPrePmtPercCurr
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((LastPurchDiscTaken / (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0 END AS SamePeriodLstyrEligbleDiscPercCurr
		, CASE WHEN CurrPurchNoDisc <> 0 THEN ((LastPurchNoDisc / (CASE WHEN CurrPurchNoDisc = 0 THEN 1 ELSE CurrPurchNoDisc END)) * 100) ELSE 0 END AS SamePeriodLstyrInEligDiscPercCurr
        , CASE WHEN AvgTotPmt <> 0 THEN ((AvgPurchNoDisc / (CASE WHEN AvgTotPmt = 0 THEN 1 ELSE AvgTotPmt END)) * 100) ELSE 0 END AS PeriodAvgInEligbleDiscPercPmt
		--Discounts
		, CASE WHEN CurrDiscAvail <> 0 THEN 100 ELSE 0 END AS DisCurrPeriodDiscAvailAmt
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((CurrDiscAvail / (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0  END AS DisCurrPeriodDiscEligblelAmt
		, CASE WHEN CurrDiscAvail <> 0 THEN ((CurrTotDiscTaken / (CASE WHEN CurrDiscAvail = 0 THEN 1 ELSE CurrDiscAvail END)) * 100) ELSE 0  END AS DisCurrPeriodDiscTakenAvailbleAmt
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((CurrTotDiscTaken / (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0  END AS DisCurrPeriodDiscTakenEligbleAmt
		, CASE WHEN CurrDiscAvail <> 0 THEN ((CurrTotDiscLost / (CASE WHEN CurrDiscAvail = 0 THEN 1 ELSE CurrDiscAvail END)) *100) ELSE 0  END AS DisCurrPeriodDiscLostAvailbleAmt
		, CASE WHEN CurrPurchDiscTaken <> 0 THEN ((CurrTotDiscLost / (CASE WHEN CurrPurchDiscTaken = 0 THEN 1 ELSE CurrPurchDiscTaken END)) * 100) ELSE 0  END AS DisCurrPeriodDiscLostEligibleAmt
		, CASE WHEN AvgDiscAvail <> 0 THEN 100 ELSE 0 END AS PeriodDiscAvailble
		, CASE WHEN AvgPurchDiscTaken <> 0 THEN ((AvgDiscAvail / (CASE WHEN AvgPurchDiscTaken = 0 THEN 1 ELSE AvgPurchDiscTaken END)) * 100) ELSE 0  END AS DiscAvt3PeriodPercEligible
		, CASE WHEN AvgDiscAvail <> 0 THEN ((AvgTotDiscTaken / (CASE WHEN AvgDiscAvail = 0 THEN 1 ELSE AvgDiscAvail END)) * 100) ELSE 0  END AS DiscDisctTknPercVailble
		, CASE WHEN AvgPurchDiscTaken <> 0 THEN ((AvgTotDiscTaken / (CASE WHEN AvgPurchDiscTaken = 0 THEN 1 ELSE AvgPurchDiscTaken END)) * 100) ELSE 0  END AS DisDisckTknPercEligble
		, CASE WHEN AvgDiscAvail <> 0 THEN ((AvgTotDiscLost / (CASE WHEN AvgDiscAvail = 0 THEN 1 ELSE AvgDiscAvail END)) * 100) ELSE 0  END AS DiscDiscTknDiscLost
		, CASE WHEN AvgPurchDiscTaken <> 0 THEN ((AvgTotDiscLost / (CASE WHEN AvgPurchDiscTaken = 0 THEN 1 ELSE AvgPurchDiscTaken END)) * 100) ELSE 0  END AS DiscDiscLostEligible
		, CASE WHEN CurrDiscAvail <> 0 THEN ((AvgDiscAvail / (CASE WHEN CurrDiscAvail = 0 THEN 1 ELSE CurrDiscAvail END)) * 100) ELSE 0  END AS DiscDisAvailbeCurrent
		, CASE WHEN CurrTotDiscTaken <> 0 THEN ((AvgTotDiscTaken / (CASE WHEN CurrTotDiscTaken = 0 THEN 1 ELSE CurrTotDiscTaken END)) * 100) ELSE 0  END AS DisDiscAvAmt
		, CASE WHEN CurrTotDiscLost <> 0 THEN ((AvgTotDiscLost / (CASE WHEN CurrTotDiscLost = 0 THEN 1 ELSE CurrTotDiscLost END)) * 100) ELSE 0  END AS DiscLostAmt
		, CASE WHEN PreDiscAvail <> 0 THEN 100 ELSE 0 END AS  DiscAvailPriorPeriod
		, CASE WHEN PrePurchDiscTaken <> 0 THEN ((PreDiscAvail / (CASE WHEN PrePurchDiscTaken = 0 THEN 1 ELSE PrePurchDiscTaken END)) * 100) ELSE 0  END AS DiscEligblePriorPeriod
		, CASE WHEN PreDiscAvail <> 0 THEN ((PreTotDiscTaken / (CASE WHEN PreDiscAvail = 0 THEN 1 ELSE PreDiscAvail END)) * 100) ELSE 0  END AS DisctTknAvailPerc
		, CASE WHEN PrePurchDiscTaken <> 0 THEN ((PreTotDiscTaken / (CASE WHEN PrePurchDiscTaken = 0 THEN 1 ELSE PrePurchDiscTaken END)) * 100) ELSE 0  END AS DisctTknEligiblePerc
		, CASE WHEN PreDiscAvail <> 0 THEN ((PreTotDiscLost / (CASE WHEN PreDiscAvail = 0 THEN 1 ELSE PreDiscAvail END)) * 100) ELSE 0  END AS DiscLostAvailPerc
		, CASE WHEN PrePurchDiscTaken <> 0 THEN ((PreTotDiscLost / (CASE WHEN PrePurchDiscTaken = 0 THEN 1 ELSE PrePurchDiscTaken END)) * 100) ELSE 0  END AS DiscLostEligPerc
		, CASE WHEN CurrDiscAvail <> 0 THEN ((PreDiscAvail / (CASE WHEN CurrDiscAvail = 0 THEN 1 ELSE CurrDiscAvail END)) * 100) ELSE 0  END AS DiscLostDiscAvailCurrPerc
		, CASE WHEN CurrTotDiscTaken <> 0 THEN ((PreTotDiscTaken / (CASE WHEN CurrTotDiscTaken = 0 THEN 1 ELSE CurrTotDiscTaken END)) * 100) ELSE 0  END AS PriorPeriodDiscTkn
		, CASE WHEN CurrTotDiscLost <> 0 THEN ((PreTotDiscLost / (CASE WHEN CurrTotDiscLost = 0 THEN 1 ELSE CurrTotDiscLost END)) * 100) ELSE 0  END AS PriorPeriodDIsLostCurr
		, CASE WHEN LastDiscAvail <> 0 THEN 100 ELSE 0 END AS  SameperiodLstYrDiscAvailPercAvail
		, CASE WHEN LastPurchDiscTaken <> 0 THEN ((LastDiscAvail / (CASE WHEN LastPurchDiscTaken = 0 THEN 1 ELSE LastPurchDiscTaken END)) * 100) ELSE 0  END AS SameperiodLstYrDiscAvailPercEligible
		, CASE WHEN LastDiscAvail <> 0 THEN ((LastTotDiscTaken / (CASE WHEN LastDiscAvail = 0 THEN 1 ELSE LastDiscAvail END)) * 100) ELSE 0  END AS SameperiodLstYrDiscTakenPercAvail
		, CASE WHEN LastPurchDiscTaken <> 0 THEN ((LastTotDiscTaken / (CASE WHEN LastPurchDiscTaken = 0 THEN 1 ELSE LastPurchDiscTaken END)) * 100) ELSE 0  END AS SameperiodLstYrDiscTakenPercEligble
		, CASE WHEN LastDiscAvail <> 0 THEN ((LastTotDiscLost / (CASE WHEN LastDiscAvail = 0 THEN 1 ELSE LastDiscAvail END)) * 100) ELSE 0  END AS SameperiodLstYrDiscLostPercAvail
		, CASE WHEN LastPurchDiscTaken <> 0 THEN ((LastTotDiscLost / (CASE WHEN LastPurchDiscTaken = 0 THEN 1 ELSE LastPurchDiscTaken END)) * 100) ELSE 0  END AS SameperiodLstYrDiscLostPercEligble
		, CASE WHEN CurrDiscAvail <> 0 THEN ((LastDiscAvail / (CASE WHEN CurrDiscAvail = 0 THEN 1 ELSE CurrDiscAvail END)) * 100) ELSE 0  END AS DiscAvailPercCurr
		, CASE WHEN CurrTotDiscTaken <> 0 THEN ((LastTotDiscTaken / (CASE WHEN CurrTotDiscTaken = 0 THEN 1 ELSE CurrTotDiscTaken END)) * 100) ELSE 0  END AS SameperiodLstYrDiscTakenPercCurr
		, CASE WHEN CurrTotDiscLost <> 0 THEN ((LastTotDiscLost / (CASE WHEN CurrTotDiscLost = 0 THEN 1 ELSE CurrTotDiscLost END)) * 100) ELSE 0  END AS SameperiodLstYrDiscLostPCurr
	FROM #tmpPeriods

	 END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApApAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApApAnalysisReport_proc'
GO
