USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaVoidCheck_Prepare_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaVoidCheck_Prepare_proc]
AS
BEGIN TRY
--PET:http://webfront:801/view.php?id=227706
--PET:http://webfront:801/view.php?id=228242
--PET:http://webfront:801/view.php?id=234984
--PET:http://problemtrackingsystem.osas.com/view.php?id=253412
--MOD:pDec to pDecimal

--list of check entries to process
--CREATE TABLE #VoidCheckList(
--	[PostRun] [pPostRun] NOT NULL, 
--	[Id] [int] NOT NULL, 
--	[BankId] [pBankId], 
--	[BankGlAcct] [pGlAcct] 
--	PRIMARY KEY ([PostRun], [Id])
--)

--detail list/log of the checks processed
--CREATE TABLE #VoidCheckLog (
--    [PostRun] [pPostRun] Not Null, 
--    [Id] [int] Not Null, 
--    [Status] [int] Not Null, --Void process status/Enum: 0=OK, -1=Invalid
--    [EmployeeId] [pEmpID] Null, 
--    [EmployeeName] [nvarchar](36) Null, 
--    [CheckNumber] [pCheckNum] Null, 
--    [VoucherNumber] nvarchar(50) Null,
--    [UseCheckNum] pCheckNum Null, 
--    [CheckDate] datetime Null, 
--    [Type] [tinyint] Null, 
--    [NetPay] [pDecimal] Null, 
--    [GrossPay] [pDecimal] Null, 
--    [CheckAmount] [pDecimal] Null, 
--    [VoucherAmount] [pDecimal] Null, 
--    [VoidBankId] pBankID Null, 
--    [PaMonth] smallint Null, 
--    PRIMARY KEY ([PostRun], [Id])
--)

	DECLARE @BrYN bit
       
	SELECT @BrYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BrYn'
       
	IF @BrYn IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--populate the detail list/log of entries to process
	INSERT INTO #VoidCheckLog ([PostRun], [Id], [Status], [EmployeeId], [EmployeeName]
		, [CheckNumber], [VoucherNumber], [UseCheckNum], [CheckDate], [Type]
		, [NetPay], [GrossPay], [CheckAmount], [VoucherAmount]
		, [VoidBankId], [PaMonth],PaymentHistoryLink)
	SELECT h.[PostRun], h.[Id], 0, h.[EmployeeId], h.[EmployeeName]
		, h.[CheckNumber], h.[VoucherNumber], ISNULL(h.[CheckNumber], '0000000'), h.[CheckDate], h.[Type]
		, h.[NetPay], h.[GrossPay], (h.[NetPay] - ISNULL(d.[VoucherAmount], 0)), ISNULL(d.[VoucherAmount], 0)
		, l.[BankId], h.[PaMonth],h.[PostRun]+'|'+CONVERT(nvarchar(20), h.[Id])
	FROM dbo.tblPaCheckHist h
	INNER JOIN #VoidCheckList l ON h.[PostRun] = l.[PostRun] AND h.[Id] = l.[Id]
	LEFT JOIN (
		SELECT p.[PostRun], p.[CheckId], SUM(p.[CurrentAmount]) AS [VoucherAmount]
		FROM dbo.tblPaCheckHistDistribution p
		INNER JOIN #VoidCheckList l ON p.[PostRun] = l.[PostRun] AND p.[CheckId] = l.[Id]
		WHERE p.[DirectDepositYN] = 1
		GROUP BY p.[PostRun], p.[CheckId]
	) d ON h.[PostRun] = d.[PostRun] AND h.[Id] = d.[CheckId]


	--invalidate entries that cannot be voided in BR
	--(those that do not exist or have been cleared)
	--(excluding those with a 0 check amount since they do not have BR entries)
	IF @BrYn = 1
	BEGIN
		UPDATE #VoidCheckLog SET [Status] = -1
		WHERE #VoidCheckLog.[CheckAmount] <> 0
		AND NOT EXISTS (
			SELECT 1 FROM dbo.tblBrMaster m
			WHERE m.SourceApp = 'PA' 
				AND m.TransType = -1
				AND m.ClearedYn = 0				
				AND (( m.PaymentHistoryLink  = #VoidCheckLog.PaymentHistoryLink) --full match on check number and employee id
					OR 
					(ISNULL(m.SourceID, 'ACH') = 'ACH' AND m.Reference = 'Payroll' AND #VoidCheckLog.VoucherAmount <> 0 
					AND m.BankID = #VoidCheckLog.VoidBankId
					AND m.TransDate = #VoidCheckLog.CheckDate)) --match for direct deposit payment
				)
	END


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_Prepare_proc'
GO
