USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrTransPost_Master_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrTransPost_Master_proc]
AS
BEGIN TRY

	DECLARE @CurrBase [nvarchar](6)

	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #Temp
	(
		BankID  [nvarchar](10) NOT NULL
		, Amount  [decimal](28,10) NOT NULL
		, AmountFgn [decimal](28,10) NULL
		, TypeToInsert int
		, TransID [nvarchar](8) NOT NULL
		, CurrencyID [nvarchar](6) NOT NULL
	)

	INSERT INTO #Temp (BankID, Amount, AmountFgn,TypeToInsert,TransID,CurrencyID)
	SELECT h.BankID
		, Amount * SIGN(TransType)
		, CASE WHEN b.CurrencyID = @CurrBase THEN h.Amount 
			   WHEN h.CurrencyId = b.CurrencyId THEN h.AmountFgn  
			   ELSE ROUND(h.AmountFgn*e.Rate,e.CurrDecPlaces) END * SIGN(TransType)
		, 1
		, h.TransID
		, b.CurrencyId
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId	 
	INNER JOIN dbo.tblSmBankAcct b ON h.BankID = b.BankId
	LEFT JOIN 
	(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source],e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e 
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
		WHERE e.[TransType] = 'BRJRNLHDR' 
	) e ON e.[TransKey] = h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	WHERE h.VoidYn = 0

	UNION ALL
	SELECT h.BankID
		, Amount
		, CASE WHEN b.CurrencyID = @CurrBase THEN h.Amount 
			   WHEN h.CurrencyId = b.CurrencyId THEN h.AmountFgn  
			   ELSE ROUND(h.AmountFgn*e.Rate,e.CurrDecPlaces) END
		, 2
		, h.TransID
		, b.CurrencyId
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblSmBankAcct b ON h.BankID = b.BankId
	LEFT JOIN 
	(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source],e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e 
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
		WHERE e.[TransType] = 'BRJRNLHDR' 
	) e ON e.[TransKey] = h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	WHERE h.Amount = 0 AND h.VoidYn = 1 AND h.VoidReinstateStat IS NULL

	UNION ALL

	SELECT d.BankIDXferTo
		, CASE WHEN d.DebitAmt <> 0 THEN d.DebitAmt ELSE d.CreditAmt * -1 END
		, CASE WHEN b.CurrencyId = @CurrBase 
			   THEN CASE WHEN d.DebitAmt <> 0 THEN d.DebitAmt ELSE d.CreditAmt * -1 END 
			   WHEN b.CurrencyId = h.CurrencyId 
			   THEN CASE WHEN d.DebitAmtFgn <> 0 THEN d.DebitAmtFgn ELSE d.CreditAmtFgn * -1 END
			   ELSE CASE WHEN ROUND(d.DebitAmtFgn*e.Rate,e.CurrDecPlaces) <> 0 THEN ROUND(d.DebitAmtFgn*e.Rate,e.CurrDecPlaces) ELSE ROUND(d.CreditAmtFgn*e.Rate,e.CurrDecPlaces) * -1 END END
		, 3
		, h.TransID
		, b.CurrencyId
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblBrJrnlDetail d ON h.TransID = d.TransID 
	INNER JOIN dbo.tblSmBankAcct b ON d.BankIDXferTo = b.BankId	
	LEFT JOIN 
	(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source],e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e 
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
		WHERE e.[TransType] = 'BRJRNLHDR' 
	) e ON e.[TransKey] = h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	WHERE h.TransType = -3

	IF  EXISTS (SELECT * FROM #Temp t WHERE  t.AmountFgn IS NULL  )
	   	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	/* append all non-voids to master (tblBrMaster) */
	INSERT dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference
		, Amount
		, AmountFgn
		, CurrencyId, ExchRate, TransDate, FiscalYear, GlPeriod, SourceApp, ClearedYn, CF)
	SELECT h.BankID, TransType, SourceID, Descr, Reference
		, t.Amount
		, t.AmountFgn
		, t.CurrencyId, CASE WHEN t.Amount = 0 THEN 0 ELSE t.AmountFgn/t.Amount END, TransDate, FiscalYear, GlPeriod, 'BR', 0, h.CF 
	FROM #Temp t
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransID = h.TransID
	WHERE h.VoidYn = 0 AND t.TypeToInsert = 1

	/* append all voids (entered thru Transactions function) to master (tblBrMaster) */
	INSERT dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference
		, Amount
		, AmountFgn
		, CurrencyId, ExchRate, TransDate, FiscalYear, GlPeriod, SourceApp, ClearedYn, VoidStop, CF)
	SELECT h.BankID, TransType, SourceID, Descr, Reference
		, t.Amount
		, t.AmountFgn
		, t.CurrencyId, CASE WHEN t.Amount = 0 THEN 0 ELSE t.AmountFgn/t.Amount END, TransDate, FiscalYear, GlPeriod, 'BR', 1, 1, h.CF 
	FROM #Temp t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransID = h.TransID	
	WHERE h.Amount = 0 AND h.VoidYn = 1 AND h.VoidReinstateStat IS NULL AND t.TypeToInsert = 2 --MOD:Exclude externally voided payments

	/* append the "TO" side of transfers to master (tblBrMaster) */
	INSERT dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference
		, Amount
		, AmountFgn
		, CurrencyId, ExchRate, TransDate, FiscalYear, GlPeriod, SourceApp, ClearedYn, VoidStop, CF)
	SELECT d.BankIDXferTo, h.TransType, h.SourceID, d.Descr, d.Reference
		, t.Amount
		, t.AmountFgn
		, t.CurrencyId, CASE WHEN t.Amount = 0 THEN 0 ELSE t.AmountFgn/t.Amount END
		, h.TransDate, h.FiscalYear, h.GlPeriod, 'BR', 0, 0, d.CF 
	FROM #Temp t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransID = h.TransID
	INNER JOIN dbo.tblBrJrnlDetail d ON h.TransID = d.TransID 
	INNER JOIN dbo.tblSmBankAcct b ON d.BankIDXferTo = b.BankId 	
	WHERE h.TransType = -3 AND t.TypeToInsert = 3

	/* all voids with a BR Source */
	UPDATE dbo.tblBrMaster 
			SET VoidTransID = NULL, Amount = 0, AmountFgn = 0, ClearedYn = 1, VoidDate = h.TransDate
			, VoidPd = h.GlPeriod, VoidYear = h.FiscalYear, VoidAmt = h.Amount, VoidAmtFgn = h.AmountFgn   
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId
	INNER JOIN dbo.tblBrMaster m ON h.TransID = m.VoidTransID 
	WHERE h.VoidYn = 1 AND h.VoidReinstateStat IS NULL

	DELETE dbo.tblSmExchangeRateTrans
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblSmExchangeRateTrans e ON h.TransID = e.TransKey AND e.[TransType] = 'BRJRNLHDR' 

	DELETE dbo.tblBrJrnlDetail
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblBrJrnlDetail ON h.TransId = dbo.tblBrJrnlDetail.TransId

	DELETE dbo.tblBrJrnlHeader 
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader ON t.TransId = dbo.tblBrJrnlHeader.BankId 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_Master_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_Master_proc'
GO
