USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcQueueAdd_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcQueueAdd_proc]     
   @DocID bigint = 0,
   @PostRun [nvarchar](14) = '',
   @KeyVal nvarchar(75) = '',   
   @TempTblName nvarchar(50) = ''
 AS

   SET NOCOUNT ON  

   CREATE TABLE #ins(PostRun [nvarchar](14) NOT NULL, KeyVal nvarchar(75), DocID bigint, OnHoldYN bit)
   
   DECLARE @SQL nvarchar(1000), @OnHoldYN bit
   DECLARE @NewID bigint

   BEGIN TRY   

      IF ISNULL(@TempTblName,'') <> '' 
      BEGIN
         SET @SQL='SELECT PostRun, KeyVal, DocID FROM ' + @TempTblName 
         INSERT INTO #ins (PostRun,KeyVal,DocID)
         EXEC sp_executesql @SQL

      END
      ELSE
      BEGIN
	     INSERT INTO #ins(PostRun, KeyVal, DocID)
	     SELECT c.PostRun, c.DocKey, @DocID  
	     FROM tblEcComm c
	     WHERE (ISNULL(c.DocID, 0) = @DocID)    
            AND (ISNULL(@PostRun,'') = '' OR PostRun = @PostRun)    
            AND (ISNULL(@KeyVal,'') = '' OR DocKey = @KeyVal)    
       END
	   
	   UPDATE i SET OnHoldYN = 0
	   FROM #ins i 
	
	   DELETE c
	   FROM tblEcComm c
	   INNER JOIN tblEcDocument d ON d.ID = c.DocID
	   INNER JOIN #ins i ON c.PostRun = i.PostRun AND c.DocKey = i.KeyVal AND d.ID = i.DocID

	   SET @NewID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100			

	   INSERT INTO tblEcComm(DocID, PostRun, DocKey, OnHoldYN, ID)
	   SELECT i.DocId, i.PostRun, i.KeyVal, i.OnHoldYN, @NewID + ROW_NUMBER() OVER (ORDER BY [PostRun])
	   FROM #ins i

   END TRY          
	   
BEGIN CATCH          
    EXEC dbo.trav_RaiseError_proc          
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueAdd_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueAdd_proc'
GO
