USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTransPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTransPost_InHistory_proc]
AS
BEGIN TRY

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT m.HistoryID, m.FiscalYear, m.FiscalPeriod, m.TransDate, m.BatchId
	FROM #PostTransList t INNER JOIN dbo.tblPcTrans m ON t.TransId = m.Id
	WHERE m.HistoryID > 0 AND m.QtyFilled <> 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT d.HistoryID, m.FiscalYear, m.FiscalPeriod, m.TransDate, m.BatchId
	FROM #PostTransList t INNER JOIN dbo.tblPcTrans m ON t.TransId = m.Id
		INNER JOIN dbo.tblPcTransExt d ON m.Id = d.TransId 
		INNER JOIN dbo.tblInItem i ON m.ItemId = i.ItemId 
	WHERE i.LottedYN = 1 AND d.LotNum IS NOT NULL AND d.QtyFilled <> 0 AND d.HistoryID > 0 --Lotted

	EXEC dbo.trav_InUpdateHistory_proc
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_InHistory_proc'
GO
