USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransactionJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransactionJournal_proc]
@BaseCurrency [nvarchar](6) = 'USD', 
@ReportCurrency [nvarchar](6) = Null,
@PrintSalesJournal bit = 1,
@PrintDetail bit = 1,
@PrintKitDetail bit = 0,
@TransType nvarchar(10),  
@TransTypePmt nvarchar(10),
@SortBy tinyint = 3 -- 0, Batch/Transaction Number; 1, Customer ID; 2, Invoice Number; 3 Fiscal Year/Fiscal Period/Sales Account; 4, Item ID
AS
SET NOCOUNT ON
BEGIN TRY

       CREATE TABLE #tmpSales
	(
		TransId [nvarchar](8) NOT NULL
	)
	INSERT INTO #tmpSales (TransId) 
	SELECT h.TransId 
	FROM #tmpCustomerList c 
	INNER JOIN dbo.tblSoTransHeader h ON c.CustId = h.CustId 
	INNER JOIN #tmpTransactionList b ON h.TransId = b.TransId 
	AND ((@PrintSalesJournal = 0 AND h.TransType = -1) OR (@PrintSalesJournal = 1 AND h.TransType IN (1,4))) 
	AND h.Layaway = 0 AND VoidYn = 0
	AND (h.OrderState = 0 OR h.OrderState & 4 = 4 )

	CREATE TABLE #tmp   
	(  
		RecType int null,  
		GrpId1 nvarchar(100) null,
		GrpId2 nvarchar(100) null,
		GrpId3 nvarchar(100) null, 
		TransId [nvarchar](8) NOT NULL,  
		BatchId [nvarchar](6) NULL,  
		TaxLocId [nvarchar](10) NOT NULL,  
		TransDate datetime null, 
		GLPeriod smallint not null,  
		FiscalYear smallint not null,  
		CustId [nvarchar](10) NULL,  
		TermsCode [nvarchar](6)  NULL,
		InvcNum [nvarchar](15) NULL,  
		OrgInvcNum [nvarchar](15) NULL,  
		SortInvNum [nvarchar](15) NULL,  
		ShipToID [nvarchar](10) NULL,
		InvcDate datetime null, 
		ReqShipDate datetime null, 
		ActShipDate datetime null, 
		CustPONum nvarchar(255) null,  
		Rep1Id [nvarchar](3) NULL,  
		Rep2Id [nvarchar](3) NULL,
		CustName nvarchar(255) null,    
		TaxSubtotal [decimal](28,10) NULL,  
		NonTaxSubtotal [decimal](28,10) NULL,  
		SalesTaxTotal [decimal](28,10) NULL, 
		FreightTotal [decimal](28,10) NULL, 
		MiscTotal [decimal](28,10) NULL,  
		TotalPmtAmt	[decimal](28,10) null, 
		EntryNum int  null,
		ItemType	tinyint null,
		LocId [nvarchar](10) NULL, 
		ItemId  [nvarchar](24) NULL,
		LottedYn bit  null, 
		[Descr] nvarchar(255) null,  
		AddnlDescr nvarchar(max) null,  
		TaxClass tinyint null,
		GLAcctSales [nvarchar](255)  null,  
		GLAcctCOGS [nvarchar](255)  null,  
		QtyOrdSell [decimal](28,10) NULL,
		GLAcctInv  [nvarchar](255)  null,
		UnitsSell [nvarchar](5) NULL, 
		QtyShipSell [decimal](28,10) NULL, 
		QtyBackordSell [decimal](28,10) NULL,
		Kit bit  not null,
		UnitPriceSell [decimal](28,10)  NULL, 
		UnitCostSell [decimal](28,10)   NULL,
		ExtPrice [decimal](28,10)   NULL,  
		ExtCost [decimal](28,10)   NULL, 
		LineSeq [decimal](28,10)   NULL,  
		HasDetail	int  null,
		CurrencyID [nvarchar](6) NOT NULL,
		TotalInv [decimal](28,10) NULL
	)  

	CREATE TABLE #tmppmt   
	(  
		TransId [nvarchar](8) NOT NULL,  
		TotalPmtAmt [decimal](28,10) NULL
	)  

	INSERT INTO #tmppmt (TransId,TotalPmtAmt)  
	SELECT l.TransID  
		 , SUM(CASE WHEN ISNULL(@ReportCurrency, p.CurrencyId) =  p.CurrencyId THEN  ISNULL(p.PmtAmtFgn, 0)  
					WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(p.PmtAmt, 0)  
					Else ROUND((ISNULL(p.PmtAmtFgn, 0)) * pmtet.Rate, pmtet.CurrDecPlaces) End ) AS TotalPmtAmt
	FROM #tmpSales l   
	INNER JOIN dbo.tblSoTransPmt p ON l.TransId = p.TransId 
	INNER JOIN dbo.tblSoTransHeader h on p.TransId=h.TransId 
	LEFT JOIN (SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces  
				FROM [dbo].[tblSmExchangeRateTrans] e  
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
				WHERE e.[TransType] = @TransTypePmt --AND e.[Destination] = CurrencyID  --@ReportCurrency   
			) pmtet ON pmtet.TransKey = p.PmtNum AND pmtet.[Source] = p.CurrencyId AND pmtet.Destination = h.CurrencyID
	WHERE p.PostedYn = 0 --unposted only  
	AND h.OrderState = 0 OR h.OrderState & 4 = 4 
	GROUP BY l.TransId
    
	IF EXISTS (SELECT * FROM #tmppmt WHERE  TotalPmtAmt IS NULL)  
	BEGIN  
		THROW 90027, N'Invalid exchange information.', 1  
	END  

	 INSERT INTO #tmp(RecType, GrpId1,GrpId2, GrpId3, TransId,BatchId, TaxLocId ,TransDate  
		 , GLPeriod,FiscalYear,CustId,TermsCode,InvcNum, OrgInvcNum,SortInvNum  
		 , ShipToID,InvcDate,ReqShipDate,ActShipDate,CustPONum,Rep1Id,Rep2Id
		 , CustName,TaxSubtotal, NontaxSubtotal, SalesTaxTotal,  FreightTotal, MiscTotal
		 , TotalPmtAmt,EntryNum,ItemType, LocId,ItemId,  LottedYn, [Descr]  
		 , AddnlDescr, TaxClass,GLAcctSales, GLAcctCOGS,QtyOrdSell,GLAcctInv, UnitsSell, QtyShipSell  
		 , QtyBackordSell,Kit,UnitPriceSell, ExtPrice,UnitCostSell,  ExtCost, LineSeq,HasDetail,CurrencyID, TotalInv)
	SELECT 0 AS RecType
		, CASE @SortBy 
                     WHEN 0 THEN CAST(h.BatchId AS nvarchar) 
                     WHEN 1 THEN CAST(h.CustId AS nvarchar) 
                     WHEN 2 THEN CAST(ISNULL(CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
                     ELSE InvcNum END, '') AS nvarchar)
                     WHEN 3 THEN CAST(RIGHT('0000' + LTRIM(STR(h.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(h.GLPeriod)), 3) AS nvarchar) 
                     WHEN 4 THEN (CASE WHEN d.ItemId IS NULL THEN NULL ELSE CAST(d.ItemId AS nvarchar) END) END AS GrpId1
              , CASE @SortBy 
                     WHEN 0 THEN CAST(h.BatchId AS nvarchar) 
                     WHEN 1 THEN CASE WHEN @PrintDetail = 1 THEN CAST(h.BatchId AS nvarchar) ELSE CAST(h.CustId AS nvarchar) END 
                     WHEN 2 THEN CASE WHEN @PrintDetail = 1 THEN CAST(h.BatchId AS nvarchar) ELSE CAST(ISNULL(CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
                     ELSE InvcNum END, '') AS nvarchar) END
                     WHEN 3 THEN CAST(d.GLAcctSales AS nvarchar) 
                     WHEN 4 THEN CAST(h.BatchId AS nvarchar) END AS GrpId2
              , CASE @SortBy 
                     WHEN 0 THEN CAST(h.TransId AS nvarchar) 
                     WHEN 1 THEN CAST(h.TransId AS nvarchar) 
                     WHEN 2 THEN CAST(h.TransId AS nvarchar) 
                     WHEN 3 THEN CAST(d.EntryNum AS nvarchar) 
                     WHEN 4 THEN CAST(h.TransId AS nvarchar) END AS GrpId3 
		, h.TransId, h.BatchId, h.TaxGrpID AS TaxLocId
		, CASE WHEN CustPONum IS NULL THEN TransDate ELSE PODate END AS TransDate
		, h.GLPeriod, h.FiscalYear, h.CustId, h.TermsCode, h.InvcNum, h.OrgInvcNum
		, CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
			ELSE InvcNum END AS SortInvNum
		, h.ShipToID, h.InvcDate, h.ReqShipDate
		, CASE WHEN d.QtyShipSell > 0 THEN ISNULL(d.ActShipDate, h.ActShipDate) ELSE NULL END ActShipDate
		, h.CustPONum, h.Rep1Id, h.Rep2Id
		, c.CustName
		, 0 AS TaxSubtotal
		, 0 AS NontaxSubtotal
		, 0 AS SalesTaxTotal
		, 0 AS FreightTotal
		, 0 AS MiscTotal
		, 0 AS TotalPmtAmt
		, d.EntryNum, d.ItemType, d.LocId, d.ItemId, d.LottedYn
		, d.Descr, d.AddnlDescr, d.TaxClass, d.GLAcctSales, d.GLAcctCOGS, d.QtyOrdSell
		, d.GLAcctInv, d.UnitsSell, d.QtyShipSell, d.QtyBackordSell, d.Kit		
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitPriceSellFgn,0)  
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitPriceSell,0)  
			  Else ROUND(UnitPriceSellFgn * et.Rate, et.CurrDecPlaces) End  AS UnitPriceSell   
     
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(PriceExtFgn,0)  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(PriceExt,0)  
			  Else ROUND(PriceExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtPrice  
      
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitCostSellFgn,0)  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitCostSell,0)  
			  Else ROUND(UnitCostSellFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCostSell   
       
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(CostExtFgn,0)  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(CostExt,0)  
			  Else ROUND(CostExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost    
 
		, d.LineSeq, CASE WHEN d.EntryNum IS NULL THEN 0 ELSE 1 END AS HasDetail 
		, ISNULL(@ReportCurrency, h.CurrencyID) AS CurrencyID
		, 0 AS TotalInv
	FROM dbo.tblArCust AS c 
	INNER JOIN dbo.tblSoTransHeader AS h ON c.CustId = h.CustId 
	INNER JOIN #tmpSales t ON h.TransId = t.TransId
	INNER JOIN dbo.tblSoTransDetail AS d ON h.TransId = d.TransID 
	LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
            FROM [dbo].[tblSmExchangeRateTrans] e  
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
        ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]             
	WHERE d.GrpId IS NULL AND d.Status = 0

	UNION ALL
	
	SELECT ds.*, ds.TaxSubtotal + ds.NontaxSubtotal + ds.FreightTotal + ds.MiscTotal + ds.SalesTaxTotal [TotalInv]  FROM 
	(SELECT 1 AS RecType
		, CASE @SortBy 
                     WHEN 0 THEN CAST(h.BatchId AS nvarchar) 
                     WHEN 1 THEN CAST(h.CustId AS nvarchar) 
                     WHEN 2 THEN CAST(ISNULL(CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
                     ELSE InvcNum END, '') AS nvarchar) 
                     WHEN 3 THEN CAST(RIGHT('0000' + LTRIM(STR(h.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(h.GLPeriod)), 3) AS nvarchar) 
                     WHEN 4 THEN '' END AS GrpId1
              , CASE @SortBy 
                     WHEN 0 THEN CAST(h.BatchId AS nvarchar) 
					 WHEN 1 THEN CASE WHEN @PrintDetail = 1 THEN CAST(h.BatchId AS nvarchar) ELSE CAST(h.CustId AS nvarchar) END 
					 WHEN 2 THEN CASE WHEN @PrintDetail = 1 THEN CAST(h.BatchId AS nvarchar) ELSE CAST(ISNULL(CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
                     ELSE InvcNum END, '') AS nvarchar) END 
                     WHEN 3 THEN '' 
                     WHEN 4 THEN CAST(h.BatchId AS nvarchar) END AS GrpId2
              ,CASE @SortBy 
                     WHEN 0 THEN CAST(h.TransId AS nvarchar) 
                     WHEN 1 THEN CAST(h.TransId AS nvarchar)  
                     WHEN 2 THEN CAST(h.TransId AS nvarchar)
                     WHEN 3 THEN CAST(d.EntryNum AS nvarchar) 
                     WHEN 4 THEN CAST(h.TransId AS nvarchar) END AS GrpId3
		, h.TransId, h.BatchId, h.TaxGrpID AS TaxLocId
		, CASE WHEN CustPONum IS NULL THEN TransDate ELSE PODate END AS TransDate
		, h.GLPeriod, h.FiscalYear, h.CustId, h.TermsCode, h.InvcNum, h.OrgInvcNum
		, CASE WHEN ISNUMERIC(InvcNum) <> 0  THEN SUBSTRING('000000000000000' + InvcNum, LEN('000000000000000' + InvcNum) -14, 15) 
			ELSE InvcNum END AS SortInvNum
		, h.ShipToID, h.InvcDate, h.ReqShipDate
		, h.ActShipDate
		, h.CustPONum, h.Rep1Id, h.Rep2Id
		, c.CustName		
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TaxableSalesFgn  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TaxableSales  
			  Else ROUND(TaxableSalesFgn * et.Rate, et.CurrDecPlaces) End  AS TaxSubtotal   
   
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  NonTaxableSalesFgn  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN NonTaxableSales  
			  Else ROUND(NonTaxableSalesFgn * et.Rate, et.CurrDecPlaces) End  AS NonTaxSubtotal
        
        ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  SalesTaxFgn + TaxAmtAdjFgn  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN SalesTax + TaxAmtAdj  
			  Else ROUND((SalesTaxFgn + TaxAmtAdjFgn) * et.Rate, et.CurrDecPlaces) End  AS SalesTaxTotal  
         
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  FreightFgn  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN Freight  
			  Else ROUND(FreightFgn * et.Rate, et.CurrDecPlaces) End  AS FreightTotal  
           
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  MiscFgn  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN Misc  
			  Else ROUND(MiscFgn * et.Rate, et.CurrDecPlaces) End  AS MiscTotal 
			  
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TotalPmtAmt  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TotalPmtAmt  
			  Else ROUND(TotalPmtAmt * et.Rate, et.CurrDecPlaces) End  AS TotalPmtAmt 
  		, 0 AS EntryNum, 0 AS ItemType, NULL AS LocId, NULL AS ItemId, 0 AS LottedYn
		, NULL AS Descr, NULL AS AddnlDescr, 0 AS TaxClass, NULL AS GLAcctSales, NULL AS GLAcctCOGS, 0 AS QtyOrdSell
		, NULL AS GLAcctInv, NULL AS UnitsSell, 0 AS QtyShipSell, 0 AS QtyBackordSell, 0 AS Kit
		, 0 AS UnitPriceSell
		, 0 AS UnitCostSell
		, 0  AS ExtPrice
		, 0 AS ExtCost
		, NULL AS LineSeq, CASE WHEN d.EntryNum IS NULL THEN 0 ELSE 1 END AS HasDetail
		, ISNULL(@ReportCurrency, h.CurrencyID) AS CurrencyID
	FROM dbo.tblArCust AS c 
	INNER JOIN dbo.tblSoTransHeader AS h ON c.CustId = h.CustId 
	INNER JOIN #tmpSales t ON h.TransId = t.TransId
	LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
            FROM [dbo].[tblSmExchangeRateTrans] e  
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
        ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  
	LEFT JOIN #tmppmt pmt  ON h.TransId = pmt.TransId  
	LEFT JOIN (SELECT TransId,MIN(EntryNum) AS EntryNum FROM dbo.tblSoTransDetail WHERE [Status] = 0 GROUP BY TransId) AS d ON h.TransId = d.TransID ) ds
	

	IF EXISTS (SELECT * FROM #tmp WHERE  TaxSubtotal IS NULL OR NonTaxSubtotal IS NULL OR  
    FreightTotal IS NULL OR MiscTotal IS NULL  OR SalesTaxTotal IS NULL OR   
    UnitPriceSell IS NULL OR ExtPrice IS NULL  OR UnitCostSell IS NULL OR ExtCost IS NULL)      
    BEGIN  
		THROW 90027, N'Invalid exchange information.', 1  
    END

	
	
    SELECT * FROM #tmp        
	
	
	IF @PrintDetail = 1 
	BEGIN
		--kit
			CREATE TABLE #tmpKit   
			(  
			  TransId  [nvarchar](8) NOT NULL,  
			  EntryNum int not null,
			  LocId [nvarchar](10) 	null,
			  ItemId   [nvarchar](24) 	null,
			  ItemType tinyint null ,  
			  GLAcctInv  [nvarchar](255) NULL,
			  UnitsSell  [nvarchar](5) NULL, 
			  QtyShipSell [decimal](28,10) NULL, 
			  LottedYN bit   null,
			  InItemYN	bit   null,
			  GrpId int not null,
			  Kit bit  not null,
			  LineSeq int  null,  
			  UnitCostSell [decimal](28,10)  null,  
			 )  
 
			 INSERT INTO #tmpKit(TransId,EntryNum,LocId,ItemId,ItemType,GLAcctInv,UnitsSell,QtyShipSell,LottedYN,
				InItemYN, GrpId,Kit,LineSeq,UnitCostSell) 
			 SELECT d.TransId, d.EntryNum, d.LocId, d.ItemId, d.ItemType, d.GLAcctInv, d.UnitsSell
			  , d.QtyShipSell, d.LottedYN, d.InItemYN, d.GrpId, d.Kit, d.LineSeq 
			  , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitCostSellFgn,0)  
			        WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitCostSell,0)  
			        Else ROUND(UnitCostSellFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCostSell 
			FROM dbo.tblSoTransDetail d 
			INNER JOIN #tmpSales t ON d.TransId = t.TransId
			INNER JOIN tblSoTransHeader h ON d.TransId = h.TransId
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
				FROM [dbo].[tblSmExchangeRateTrans] e  
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
				WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
			) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  
			WHERE GrpId IS NOT NULL AND d.Status = 0 AND h.OrderState = 0 OR h.OrderState & 4 = 4 
			
			IF EXISTS (SELECT * FROM #tmpKit WHERE  UnitCostSell IS NULL)
			BEGIN  
				THROW 90027, N'Invalid exchange information.', 1  
			END  
    
			SELECT * FROM #tmpKit

			--lot
			SELECT l.TransId, l.EntryNum, l.LotNum, l.QtyFilled 
			FROM dbo.tblSoTransDetailExt l INNER JOIN #tmpSales t ON l.TransId = t.TransId
			WHERE l.LotNum IS NOT NULL AND l.QtyFilled > 0
			ORDER BY LotNum
			
			CREATE TABLE #tmpKitSer   
			(  
			  TransId  [nvarchar](8) NOT NULL,  
			  EntryNum int not null,  
			  LotNum [nvarchar](16) NULL ,  
			  SerNum [nvarchar](35) NOT NULL,  			  
			  CostUnit [decimal](28,10)   null,  
			  PriceUnit  [decimal](28,10)   null  
			)  

			--ser
			INSERT INTO #tmpKitSer(TransId,EntryNum,LotNum,SerNum,CostUnit,PriceUnit) 
			SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum 
				,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  CostUnitFgn  
					  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN CostUnit  
					  Else ROUND(CostUnitFgn * et.Rate, et.CurrDecPlaces) End  AS CostUnit  
				,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  PriceUnitFgn  
					  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN PriceUnit  
					  Else ROUND(PriceUnitFgn * et.Rate, et.CurrDecPlaces) End  AS PriceUnit 
			FROM dbo.tblSoTransSer s 
			INNER JOIN #tmpSales t ON s.TransId = t.TransId
			INNER JOIN tblSoTransHeader h ON s.TransId = h.TransId
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
						FROM [dbo].[tblSmExchangeRateTrans] e  
						INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
						WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
					  ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  
			WHERE h.OrderState = 0 OR h.OrderState & 4 = 4 
			ORDER BY LotNum, SerNum	
			
			IF EXISTS (SELECT * FROM #tmpKitSer WHERE  CostUnit IS NULL OR PriceUnit IS NULL)
			BEGIN  
				THROW 90027, N'Invalid exchange information.', 1  
			END  
    
			SELECT * FROM #tmpKitSer
		  
		END		

		--lot
		SELECT l.TransId, l.EntryNum, l.LotNum, l.QtyFilled 
		FROM dbo.tblSoTransDetailExt l INNER JOIN #tmpSales t ON l.TransId = t.TransId 
		WHERE l.LotNum IS NOT NULL AND l.QtyFilled > 0
		ORDER BY LotNum

		--ser
		CREATE TABLE #tmpSer   
			(  
			  TransId  [nvarchar](8) NOT NULL,  
			  EntryNum int not null,  
			  LotNum [nvarchar](16) NULL ,  
			  SerNum [nvarchar](35) NOT NULL,  			  
			  CostUnit [decimal](28,10)   null,  
			  PriceUnit  [decimal](28,10)   null  
			)  
		INSERT INTO #tmpSer(TransId,EntryNum,LotNum,SerNum,CostUnit,PriceUnit) 
		
		SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum 
			,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  CostUnitFgn  
				  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN CostUnit  
				  Else ROUND(CostUnitFgn * et.Rate, et.CurrDecPlaces) End  AS CostUnit  
			,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  PriceUnitFgn  
				  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN PriceUnit  
				  Else ROUND(PriceUnitFgn * et.Rate, et.CurrDecPlaces) End  AS PriceUnit 
		FROM dbo.tblSoTransSer s 
			INNER JOIN #tmpSales t ON s.TransId = t.TransId
			INNER JOIN tblSoTransHeader h ON t.TransId = h.TransId
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
				      FROM [dbo].[tblSmExchangeRateTrans] e  
							INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
					  WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
					   ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  
		ORDER BY LotNum, SerNum	
		
		IF EXISTS (SELECT * FROM #tmpSer WHERE  CostUnit IS NULL OR PriceUnit IS NULL)
		BEGIN  
			THROW 90027, N'Invalid exchange information.', 1  
		END  
    
		SELECT * FROM #tmpSer	

		
END TRY
BEGIN CATCH
       EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransactionJournal_proc'
GO
