USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CmContactGroup_DeleteDetails_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CmContactGroup_DeleteDetails_proc]  
@ContactGroupId BigInt
AS
BEGIN TRY  

 DECLARE @GroupType tinyint  
 SET NOCOUNT ON  
   
 SELECT	@GroupType = [Type] FROM dbo.tblCmContactGroup WHERE ID = @ContactGroupId  
   
 DELETE FROM dbo.tblCmContactGroupDtl
 WHERE	ContactGroupID = @ContactGroupId AND ContactID NOT IN 
		 (
		 SELECT	c.ID
		 FROM	dbo.tblCmContact c INNER JOIN #CrmAccessList t ON c.ID = t.ContactId  
				INNER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID   
		 WHERE	@GroupType IN (3, 4) AND a.Sequence = 0 AND a.[Status] = 0 --Default address with Allowed status  

		 UNION ALL

		 SELECT	c.ID
		 FROM	dbo.tblCmContact c INNER JOIN #CrmAccessList t ON c.ID = t.ContactId   
				INNER JOIN dbo.tblCmContactMethod m ON c.ID = m.ContactID   
				INNER JOIN dbo.tblCmContactMethodType p ON m.TypeID = p.ID   
		 WHERE	(@GroupType = 4 OR p.[Type] = @GroupType) AND p.[Type] < 3 AND m.[Status] = 0 --contact methods with Allowed status  
		 )
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmContactGroup_DeleteDetails_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmContactGroup_DeleteDetails_proc'
GO
