USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrLaborTypesList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrLaborTypesList_proc]

AS
SET NOCOUNT ON
BEGIN TRY

SELECT l.LaborTypeId, l.Descr, l.Notes, l.HourlyRate, l.PerPieceCost, l.ScheduleId,l.GLAcct1
	, l.MGID, l.CostGroupId, l.BillMethod, l.BillRate
FROM tblMrLabor l INNER JOIN #tmpLaborTypes t on l.LaborTypeId = t.LaborTypeId

SELECT l.LaborTypeId, l.EmployeeId
	, COALESCE(e.FirstName, '') + ' ' + COALESCE(e.MiddleInit, '') + ' ' + COALESCE(e.LastName, '') AS EmployeeName 
FROM dbo.tblMrLaborTypeEmployee l INNER JOIN #tmpLaborTypes t on t.LaborTypeId = l.LaborTypeId 
	LEFT JOIN dbo.tblSmEmployee e ON l.EmployeeId = e.EmployeeId
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrLaborTypesList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrLaborTypesList_proc'
GO
