USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HrHealthPlansList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HrHealthPlansList_proc]

AS
SET NOCOUNT ON
BEGIN TRY

SELECT tc.[Description] AS FrecuencyDescription,tc2.[Description] AS CarrierType, hi.[ID] AS HealthInsID,[EmployeeContribution],[EmployerContribution],[MaximumAgeEmployee],[MaximumAgeDependent],
[WaitingPeriod],[MaxOutOfPocket],[Deductible],[MaxBenefit],[MajorMedicalCoverage],[COBRAPremium],hi.[GroupNumber],hi.[Description] AS [HealthDescription], hcp.[Description] AS [DescriptionCop], Amount
FROM [dbo].[tblHrHealthInsurance] hi
INNER JOIN #HealthPlansList hpl ON hpl.ID = hi.[ID]
LEFT JOIN tblHrTypeCode tc ON tc.ID = hi.FrequencyTypeCodeID
LEFT JOIN tblHrTypeCode tc2 ON tc2.ID  =  hi.CarrierTypeCodeID
LEFT JOIN tblHrHealthCoPay hcp ON hi.Id = hcp.HealthInsID

END TRY

BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrHealthPlansList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrHealthPlansList_proc'
GO
