USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceAvailability_GetResourceAvailability_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceAvailability_GetResourceAvailability_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Retrieves the Adjusted Resource availability

	----Expects the list of resources to update to be provided via temp table with the following
	--Create Table #ResourceDetailList (
	--	[Id] [bigint] not null ,
	--	[ResType] [tinyint] not null, --Enum:EntityLinkType
	--	[ResourceId] [nvarchar](255) not null, 
	--	[LocId] [pLocId] null, 
	--	[LineNumber] [bigint] not null, 
	--	[ScheduleId] [nvarchar](10) not null
	--)

	----Expects the resource schedule to be provided via temp table with the following
	--Create Table #ResourceSchedule (
	--	[Id] bigint not null identity(1, 1),
	--	[ResDetailId] bigint,
	--	[SchDetailId] bigint null,
	--	[AvailType] tinyint,
	--	[StartDate] DateTime,
	--	[EndDate] DateTime
	--)

	--retrieve the list of adjusted resource schedule information
	Select adj.Id, adj.ResDetailId, rl.ResType, rl.ResourceId, rl.LocId, rl.LineNumber, rl.ScheduleId, adj.AvailType, adj.StartDate, adj.EndDate
		From #ResourceSchedule adj
		Inner Join #ResourceDetailList rl on adj.ResDetailId = rl.Id

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_GetResourceAvailability_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_GetResourceAvailability_proc'
GO
