USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaVoidCheck_Br_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaVoidCheck_Br_proc]
AS
--PET:http://webfront:801/view.php?id=227706
--PET:http://webfront:801/view.php?id=242924
--PET:http://problemtrackingsystem.osas.com/view.php?id=253412

BEGIN TRY
	DECLARE @CurrBase pCurrency
	DECLARE @FiscalYear smallint
	DECLARE @FiscalPeriod smallint
	DECLARE @VoidDate datetime
	DECLARE @PayrollNumber int
       
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @VoidDate = Cast([Value] AS DateTime) FROM #GlobalValues WHERE [Key] = 'VoidDate'
	SELECT @PayrollNumber = Cast([Value] AS int) FROM #GlobalValues WHERE [Key] = 'PayrollNumber'
       
	IF @CurrBase IS NULL OR @VoidDate IS NULL
		OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL 
		OR @PayrollNumber IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--Void the Master entry
	UPDATE dbo.tblBrMaster SET dbo.tblBrMaster.[ClearedYn] = 1, dbo.tblBrMaster.[VoidStop] = 1
		, dbo.tblBrMaster.[Amount] = 0, dbo.tblBrMaster.[AmountFgn] = 0
		, dbo.tblBrMaster.[VoidDate] = @VoidDate, dbo.tblBrMaster.[VoidPd] = @FiscalPeriod, dbo.tblBrMaster.[VoidYear] = @FiscalYear
		, dbo.tblBrMaster.[VoidAmt] = -l.[NetPay], dbo.tblBrMaster.[VoidAmtFgn] = -l.[NetPay], dbo.tblBrMaster.[VoidTransID] = NULL
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblBrMaster ON l.PaymentHistoryLink = dbo.tblBrMaster.PaymentHistoryLink		
	WHERE dbo.tblBrMaster.[ClearedYn] = 0
		AND l.[Status] = 0 
	
	
	--Adjust for any voided direct deposit amounts
	if exists (SELECT 1 FROM #VoidCheckLog WHERE [VoucherAmount] <> 0 AND [Status] = 0)
	BEGIN
		INSERT INTO dbo.tblBrMaster ([BankID], [TransType], [SourceID], [Descr]
			, [Reference], [SourceApp], [Amount], [AmountFgn], [TransDate]
			, [FiscalYear], [GlPeriod], [ClearedYn], [VoidStop], [CurrencyId], [ExchRate]
			, [VoidDate], [VoidPd], [VoidYear], [VoidAmt], [VoidAmtFgn]) 
		SELECT l.[VoidBankId], -1, 'ACH' + RIGHT('000000' + CAST(@PayrollNumber AS nvarchar), 6), 'Authorized Debit'
			, 'Payroll', 'PA', l.[VoucherAmount], l.[VoucherAmount], l.CheckDate
			, @FiscalYear, @FiscalPeriod, 1, 1, @CurrBase, 1
			, @VoidDate, @FiscalPeriod, @FiscalYear, l.[VoucherAmount], l.[VoucherAmount]
		FROM #VoidCheckLog l
		WHERE [VoucherAmount] <> 0
			AND l.[Status] = 0 
	END
	

	--Update the account balance
	UPDATE dbo.tblSmBankAcct SET [GLAcctBal] = [GLAcctBal] + s.[TotalNetPay]
	FROM (SELECT [VoidBankId], SUM([NetPay]) AS [TotalNetPay]
		FROM #VoidCheckLog
		WHERE [Status] = 0 
		GROUP BY [VoidBankId]
	) s
	WHERE dbo.tblSmBankAcct.[BankId] = s.[VoidBankId]
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_Br_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_Br_proc'
GO
