USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTransactionHistoryReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTransactionHistoryReport_proc] 
@FiscalYearFrom smallint,
@FiscalPeriodFrom smallint,
@FiscalYearThru smallint,
@FiscalPeriodThru smallint,
@PrecCurr tinyint = 2,
@PrecQty tinyint = 4
AS
SET NOCOUNT ON
BEGIN TRY

	--Create a temp table to store HistSeqNum and sign value (-1;Deleted;1;Active)  
	CREATE TABLE #tmpHistory_DltSignList	( 
	   HistSeqNum int NOT NULL,
	   DltSign int NOT NULL,
	   PRIMARY KEY CLUSTERED (HistSeqNum, DltSign)
	   )

	INSERT INTO #tmpHistory_DltSignList (HistSeqNum,DltSign) 
	SELECT HistSeqNum , 1  DltSign FROM #tmpHistoryList
	UNION ALL
	-- Deleted records 
	SELECT t.HistSeqNum, -1  FROM #tmpHistoryList t
	    INNER JOIN dbo.tblInHistDetail d ON t.HistSeqNum = d.HistSeqNum
	WHERE d.DeleteDate IS NOT NULL 

	SELECT d.ItemId, d.LocId, CASE d.ItemType WHEN 2 THEN NULL ELSE d.LotNum END AS LotNum, 
		d.AppId, d.GLPeriod, d.SumYear, i.Descr AS ItemDescr, 
		i.UomDflt, l.Descr AS LocDescr, d.TransDate, d.Source, d.SrceID,d.RefId,
		d.Uom, d.UomBase, i.ProductLine, i.LottedYn,
		CASE d.ConvFactor WHEN 0 THEN 0 ELSE (d.CostUnit/d.ConvFactor) * DltSign  END AS UnitCostBase, 
		ROUND((CASE WHEN d.Source < 70 THEN 1 ELSE -1 END) * (d.Qty * d.ConvFactor) * DltSign,@PrecQty) AS MQtyBase,
		(CASE WHEN d.Source < 70 THEN 1 ELSE -1 END) * d.Qty * DltSign AS MQty,
		(CASE WHEN d.Source < 70 THEN 1 ELSE -1 END) * d.CostExt * DltSign AS MCostExt, d.ItemType, d.TransId,
		 CASE d.ConvFactor WHEN 0 THEN 0 ELSE (d.CostUnitACV/d.ConvFactor)* DltSign END AS UnitCostACV,
		 (CASE WHEN d.Source < 70 THEN 1 ELSE -1 END) * d.CostExtACV * DltSign AS MCostExtACV, loc.CurrencyIDACV
	FROM #tmpHistory_DltSignList t INNER JOIN dbo.tblInHistDetail d ON t.HistSeqNum = d.HistSeqNum
		INNER JOIN dbo.tblInItem i  ON d.ItemId = i.ItemId  
		INNER JOIN dbo.tblInLoc l ON d.LocId = l.LocId
		INNER JOIN dbo.tblInItemLoc loc ON d.ItemId = loc.ItemId AND d.LocId = loc.LocId
		
	WHERE  d.SumYear * 1000 + d.GLPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru AND 
		d.Source > 0 AND d. Source NOT IN (200,201) AND (d.Qty <> 0 OR (d.AppId = 'PO' AND d.Qty = 0 AND d.CostExt <> 0 )) -- Po invoice coversion
	
	UNION ALL      
	SELECT d.ItemId, d.LocId, CASE d.ItemType WHEN 2 THEN NULL ELSE d.LotNum END AS LotNum, 
		d.AppId, d.GLPeriod, d.SumYear, i.Descr AS ItemDescr, 
		i.UomDflt, l.Descr AS LocDescr, d.TransDate, d.Source, d.SrceID,r.RefId, 
		d.Uom, d.UomBase, i.ProductLine, i.LottedYn,
		CASE r.ConvFactor WHEN 0 THEN 0 ELSE (CASE WHEN d.[Status] = 0 THEN r.CostUnit ELSE d.CostUnit END/r.ConvFactor) * DltSign END AS UnitCostBase, 
		ROUND((CASE WHEN d.Source < 70 THEN -1 ELSE 1 END) * (d.Qty * r.ConvFactor) * DltSign,@PrecQty) AS MQtyBase,
		(CASE WHEN d.Source < 70 THEN -1 ELSE 1 END) * d.Qty * DltSign AS MQty,
		ROUND((CASE WHEN d.Source < 70 THEN -1 ELSE 1 END) * (d.Qty * CASE WHEN d.[Status] = 0 THEN r.CostUnit ELSE d.CostUnit END) * DltSign,@PrecCurr) AS MCostExt, d.ItemType, d.TransId,
		CASE r.ConvFactor WHEN 0 THEN 0 ELSE (CASE WHEN d.[Status] = 0 THEN r.CostUnitACV ELSE d.CostUnitACV END/r.ConvFactor) * DltSign END AS UnitCostACV, 
		ROUND((CASE WHEN d.Source < 70 THEN -1 ELSE 1 END) * (d.Qty * CASE WHEN d.[Status] = 0 THEN r.CostUnitACV ELSE d.CostUnitACV END) * DltSign, ISNULL(c.CurrDecPlaces,@PrecCurr)) AS MCostExtACV, loc.CurrencyIDACV		
	FROM #tmpHistory_DltSignList t INNER JOIN dbo.tblInHistDetail d ON t.HistSeqNum = d.HistSeqNum
		INNER JOIN dbo.tblInItem i  ON d.ItemId = i.ItemId   
		INNER JOIN dbo.tblInLoc l ON d.LocId = l.LocId 
		INNER JOIN dbo.tblInHistDetail r ON d.HistSeqNum_Rcpt = r.HistSeqNum
		INNER JOIN dbo.tblInItemLoc loc ON d.ItemId = loc.ItemId AND d.LocId = loc.LocId
		LEFT JOIN dbo.tblSmCurrency c ON loc.CurrencyIDACV = c.CurrID
	WHERE  d.SumYear * 1000 + d.GLPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru AND  
		d.Qty <> 0
	
	UNION ALL 
	SELECT d.ItemId, d.LocId, CASE d.ItemType WHEN 2 THEN NULL ELSE d.LotNum END AS LotNum, 
		d.AppId, d.GLPeriod, d.SumYear, i.Descr AS ItemDescr, 
		i.UomDflt, l.Descr AS LocDescr, d.TransDate, d.Source, d.SrceID,d.RefId, 
		d.Uom, d.UomBase, i.ProductLine, i.LottedYn,
		0 UnitCostBase, 0 AS MQtyBase,0 AS MQty, -d.CostExt AS MCostExt, d.ItemType, d.TransId,
		0 UnitCostACV,-d.CostExtACV AS MCostExtACV,loc.CurrencyIDACV
	FROM #tmpHistoryList t INNER JOIN dbo.tblInHistDetail d ON t.HistSeqNum = d.HistSeqNum
		INNER JOIN dbo.tblInItem i  ON d.ItemId = i.ItemId   
		INNER JOIN dbo.tblInLoc l ON d.LocId = l.LocId 
		INNER JOIN dbo.tblInItemLoc loc ON d.ItemId = loc.ItemId AND d.LocId = loc.LocId
	WHERE  d.SumYear * 1000 + d.GLPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru AND  
		d.Source IN (200,201)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransactionHistoryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransactionHistoryReport_proc'
GO
