USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidateUpdateSAC_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidateUpdateSAC_proc]  
    @ImportBatchId NVARCHAR(14) = NULL,  
    @KeyLevelSeq1 INT = NULL,  
    @CustPoNum NVARCHAR (75) = NULL,  
	@TempTblName NVARCHAR(30) = NULL
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @SQL nvarchar(1000), @i int

	CREATE TABLE #sell(ID bigint, ImportBatchId nvarchar(14),KeyLevelSeq1 int, TotalPoAmt decimal(28,10) NOT NULL, TotalPoAmtAfterDisc decimal(28,10))

	CREATE TABLE #tDiscSeq (ID int IDENTITY (1,1), PoHeaderId bigint NOT NULL, SacId bigint NOT NULL)

	 IF ISNULL(@TempTblName,'') <> '' 
	   BEGIN
		  SET @SQL='SELECT h.Id, h.ImportBatchId, h.KeyLevelSeq1, 0, 0 FROM ' + @TempTblName +' t INNER JOIN tblEcPoHeader h ON h.Id = t.ID'
		  INSERT INTO  #sell (ID,ImportBatchId,KeyLevelSeq1, TotalPoAmt, TotalPoAmtAfterDisc)
		  EXEC sp_executesql @SQL
	   END
	   ELSE
	   BEGIN
		  INSERT INTO #sell(ID,ImportBatchId,KeyLevelSeq1, TotalPoAmt, TotalPoAmtAfterDisc)
			SELECT h.Id,ImportBatchId,KeyLevelSeq1, 0, 0
			FROM tblEcPoHeader h  
			WHERE  (ImportBatchId=@ImportBatchId)    
					AND (ISNULL(@KeyLevelSeq1,0)=0 OR KeyLevelSeq1 = @KeyLevelSeq1)    
					AND (ISNULL(@CustPoNum,'')='' OR CustPoNum=@CustPoNum)   
	END

	-- update detail with price based on options
	UPDATE d  SET SOUnitPriceSell=CASE ISNULL(o.OptValue,'0') 
	    WHEN '0' THEN d.CalcUnitPriceSell
		WHEN '1' THEN d.UnitPrice
		WHEN '2' THEN d.UnitPrice
		WHEN '3' THEN CASE WHEN d.CalcUnitPriceSell=0 THEN d.UnitPrice ELSE d.CalcUnitPriceSell END
		WHEN '4' THEN CASE WHEN d.UnitPrice=0  THEN d.CalcUnitPriceSell ELSE d.UnitPrice END
	END
	FROM #sell s 
    INNER JOIN tblEcPoHeader h ON h.Id=s.ID
	INNER JOIN tblEcPoDetail d ON h.ID = d.POHeaderID
	LEFT JOIN (SELECT p.ID, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = 'EB75CE2E-04B1-4DC6-882F-0F86AB45A4ED' AND d.ContextType = 7) o ON h.PartnerID=o.ID --850I_OptSOPriceSource


	UPDATE h SET TotalPoAmt= ISNULL(d.TotalPoAmt, 0)
	FROM #sell s 
	INNER JOIN tblEcPoHeader h ON s.ID = h.ID
	INNER JOIN (SELECT POHeaderID,SUM(QtyOrd * SOUnitPriceSell) TotalPoAmt
	            FROM tblEcPoDetail
				GROUP BY POHeaderID) d ON h.Id=d.POHeaderID

     -- add implied discounts

	 -- clear existing implied
	 DELETE sac
	 FROM tblEcPoSAC sac
	 INNER JOIN #sell s ON s.ID = sac.POHeaderID AND ISNULL(ImpliedYN,0)=1

	 -- update explicit discounts Header
	 UPDATE psac SET SACDescr=sac.SACDescr,
	                 SACAmount=ROUND(CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) * ISNULL(psac.SACPct,0) / 100,2) ,
	                 AdjServiceItem=sac.AdjServiceItem
	 FROM tblEcPoSAC psac
	 INNER JOIN #sell s ON psac.POHeaderID = s.ID
	 INNER JOIN tblEcPoHeader h ON h.Id=s.ID
	 INNER JOIN (SELECT PartnerID,SACCode, SACDescr, AdjServiceItem, KeyValue
	             FROM dbo.tblEcPartnerSAC 
				 WHERE ImpliedYN = 0 AND HeaderDetail = 0) sac ON h.PartnerID=sac.PartnerID AND (ISNULL(sac.KeyValue,'') = '' OR h.SenderID = KeyValue) AND psac.SACCode=sac.SACCode
	 WHERE ISNULL(psac.ImpliedYN,0)=0 AND psac.PODetailID IS NULL AND psac.SACIndicator = 1 --Percentage

	 UPDATE psac SET SACDescr=sac.SACDescr,
	                 SACPct=CASE WHEN CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) =0 THEN 0 ELSE ISNULL(psac.SACAmount,0) / CAST(ISNULL(h.TotalPoAmt,0)  as   decimal(20,10))END ,
	                 AdjServiceItem=sac.AdjServiceItem
	 FROM tblEcPoSAC psac
	 INNER JOIN #sell s ON psac.POHeaderID = s.ID
	 INNER JOIN tblEcPoHeader h ON h.Id=s.ID
	 INNER JOIN (SELECT PartnerID,SACCode, SACDescr, AdjServiceItem, KeyValue
	             FROM dbo.tblEcPartnerSAC 
				 WHERE ImpliedYN = 0 AND HeaderDetail = 0) sac ON h.PartnerID=sac.PartnerID AND (ISNULL(sac.KeyValue,'') = '' OR h.SenderID = KeyValue) AND psac.SACCode=sac.SACCode
	 WHERE ISNULL(psac.ImpliedYN,0)=0 AND psac.PODetailID IS NULL AND psac.SACIndicator = 0 --Amount

	 -- update explicit discounts detail
	 UPDATE psac SET SACDescr=sac.SACDescr,
	                 SACPct=ROUND(CASE WHEN CAST(ISNULL(d.SOUnitPriceSell,0) as decimal(20,10)) * CAST(ISNULL(d.SOQtyOrdSell,0) as decimal(20,10))  =0 THEN 0 ELSE ISNULL(psac.SACAmount,0) / (CAST(ISNULL(d.SOUnitPriceSell,0) as decimal(20,10)) * CAST(ISNULL(d.SOQtyOrdSell,0) as decimal(20,10)))END,4) ,
	                 AdjServiceItem=NULL
	 FROM tblEcPoSAC psac
	 INNER JOIN #sell s ON psac.POHeaderID = s.ID
	 INNER JOIN tblEcPoHeader h ON h.Id=s.ID
	INNER JOIN tblEcPoDetail d ON h.ID = d.POHeaderID AND psac.PODetailID = d.ID 
	 INNER JOIN (SELECT PartnerID,SACCode, MAX(SACDescr) SACDescr
	             FROM tblEcPartnerSAC 
				 WHERE ImpliedYN = 0
	             GROUP BY PartnerID,SACCode) sac ON h.PartnerID=sac.PartnerID AND psac.SACCode=sac.SACCode
	 WHERE ISNULL(psac.ImpliedYN,0)=0 AND psac.PODetailID IS NOT NULL

	--Generate PO SAC ID
	DECLARE @lastPoSacID bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	 --insert Implied header discount with SACCalcOn = 0
	 INSERT INTO tblEcPoSAC (ID,POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount,SACPct,AdjServiceItem,SACAdjType, SACCalcOn)
	 SELECT @lastPoSacID + ROW_NUMBER() OVER (ORDER BY s.ID),
			s.ID AS POHeaderID,NULL AS PODetailID,sac.SACCode,sac.SACDescr,sac.SACSeq, sac.ImpliedYN,sac.SACIndicator,
	        CASE WHEN SACIndicator = 0  THEN sac.SACAmount ELSE ROUND(CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) * ISNULL(sac.SACAmount,0) / 100,2) END SACAmount,
	        CASE WHEN SACIndicator = 0  THEN CASE WHEN CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) =0 THEN 0 ELSE ISNULL(sac.SACAmount,0) / CAST(ISNULL(h.TotalPoAmt,0)  as   decimal(20,10))END  ELSE ISNULL(sac.SACAmount,0) END SACPct,
            sac.AdjServiceItem, sac.SACAdjType, SACCalcOn
	 FROM #sell s INNER JOIN tblEcPoHeader h ON h.Id=s.ID
		INNER JOIN tblEcPartnerSAC sac ON h.PartnerID = sac.PartnerID AND (ISNULL(sac.KeyValue,'') = '' OR h.SenderID = KeyValue)
	 WHERE sac.HeaderDetail = 0 AND ISNULL(sac.ImpliedYN,0) = 1 AND ISNULL(sac.SACCalcOn,0) = 0

	 INSERT INTO #tDiscSeq(PoHeaderId,SacId) 
	 SELECT h.Id, sac.Id
	 FROM #sell s INNER JOIN dbo.tblEcPoHeader h ON s.ID = h.Id
 		INNER JOIN dbo.tblEcPartnerSAC sac ON h.PartnerID=sac.PartnerID AND (ISNULL(sac.KeyValue,'') = '' OR h.SenderID = KeyValue)
	 WHERE sac.ImpliedYN = 1 AND sac.HeaderDetail = 0 AND sac.SACCalcOn = 1
	 ORDER BY h.Id, sac.SACSeq

	IF EXISTS (SELECT * FROM #tDiscSeq) --Have implied SAC and SACCalcOn = 1
    BEGIN
		--?
		UPDATE #sell SET TotalPoAmt = ISNULL(h.TotalPoAmt,0)
		FROM #sell s INNER JOIN dbo.tblEcPoHeader h ON s.Id = h.Id

		UPDATE #sell SET TotalPoAmtAfterDisc = TotalPoAmt - ISNULL(sac.SACAmount ,0)
		FROM #sell s LEFT JOIN
			(SELECT s.ID,SUM(sac.SACAmount) SACAmount
			FROM #sell s INNER JOIN dbo.tblEcPoSAC sac ON s.ID = sac.POHeaderID
			WHERE sac.PODetailID IS NULL 
			GROUP BY s.ID) sac on s.ID = sac.ID --Header discount from PO

		SELECT @i = MIN(id) FROM #tDiscSeq
		WHILE @i<>0
		BEGIN
			 SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

			 --insert Implied header discount 
			 INSERT INTO tblEcPoSAC (ID,POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount,SACPct,AdjServiceItem,SACAdjType, SACCalcOn)
			 SELECT @lastPoSacID + ROW_NUMBER() OVER (ORDER BY s.ID),
					s.ID AS POHeaderID,NULL AS PODetailID,sac.SACCode,sac.SACDescr,sac.SACSeq, sac.ImpliedYN,sac.SACIndicator,
					CASE WHEN sac.SACIndicator = 0  THEN sac.SACAmount ELSE ROUND(CAST(ISNULL(s.TotalPoAmtAfterDisc,0) as decimal(20,10)) * ISNULL(sac.SACAmount,0) / 100,2) END SACAmount,
					CASE WHEN sac.SACIndicator = 0  THEN CASE WHEN CAST(ISNULL(s.TotalPoAmtAfterDisc,0) as decimal(20,10)) =0 THEN 0 ELSE ISNULL(sac.SACAmount,0) / CAST(ISNULL(s.TotalPoAmtAfterDisc,0)  as decimal(20,10))END  ELSE ISNULL(sac.SACAmount,0) END SACPct,
					sac.AdjServiceItem, sac.SACAdjType, sac.SACCalcOn
			 FROM #sell s INNER JOIN tblEcPoHeader h ON h.Id=s.ID 
				INNER JOIN #tDiscSeq q ON h.Id = q.PoHeaderId
				INNER JOIN dbo.tblEcPartnerSAC sac ON q.SacId = sac.Id
			 WHERE q.ID = @i

			UPDATE #sell SET TotalPoAmtAfterDisc = TotalPoAmt - ISNULL(sac.SACAmount ,0)
			FROM #sell s INNER JOIN #tDiscSeq q ON s.Id = q.PoHeaderId LEFT JOIN
				(SELECT s.ID,SUM(sac.SACAmount) SACAmount
				FROM #sell s INNER JOIN dbo.tblEcPoSAC sac ON s.ID = sac.POHeaderID
				WHERE sac.PODetailID IS NULL 
				GROUP BY s.ID) sac on s.ID = sac.ID --Header discount
			WHERE q.ID = @i

			DELETE #tDiscSeq WHERE ID = @i
		    SELECT @i = ISNULL(MIN(ID),0) FROM #tDiscSeq
		END
	END

     --Increase ID with # of Records generated for Implied header discount
	 SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

     --insert Implied detail discount
	 INSERT INTO tblEcPoSAC (ID,POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount,SACPct,AdjServiceItem,SACAdjType)
	 SELECT @lastPoSacID + ROW_NUMBER() OVER (ORDER BY s.ID),
			s.ID AS POHeaderID,d.ID AS PODetailID ,sac.SACCode,sac.SACDescr,sac.SACSeq, sac.ImpliedYN,sac.SACIndicator,
	 CASE WHEN SACAdjType = 0  THEN sac.SACAmount ELSE ROUND(CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) * ISNULL(sac.SACAmount,0),2) END SACAmount,
	 CASE WHEN SACAdjType = 0  THEN CASE WHEN CAST(ISNULL(h.TotalPoAmt,0) as decimal(20,10)) =0 THEN 0 ELSE ISNULL(sac.SACAmount,0) / CAST(ISNULL(h.TotalPoAmt,0)  as   decimal(20,10))END  ELSE ISNULL(sac.SACAmount,0) END SACPct,
       sac.AdjServiceItem,sac.SACAdjType
	 FROM #sell s 
	 INNER JOIN tblEcPoHeader h ON h.Id=s.ID
	INNER JOIN tblEcPoDetail d ON h.ID = d.POHeaderID
	 INNER JOIN tblEcPartnerSAC sac ON h.PartnerID=sac.PartnerID AND (ISNULL(sac.KeyValue,'') = '' OR h.SenderID = KeyValue)
	 WHERE sac.HeaderDetail=1  AND ISNULL(ImpliedYN,0)=1

	 -- get the Location ID for the Adjustemnt 
	 UPDATE psac SET AdjServiceLocId=CASE WHEN psac.PODetailID IS NULL THEN d.LocID ELSE NULL END
	 FROM tblEcPoSAC psac
	 INNER JOIN #sell s ON psac.POHeaderID = s.ID
	 INNER JOIN (SELECT POHeaderID ,MAX(LocID) LocID 
	             FROM tblEcPoDetail d
				 GROUP BY POHeaderID) d ON s.ID=d.POHeaderID

	 -- run any custom code
     EXEC dbo.trav_EcPoValidateUpdate_Custom_proc

END TRY          
BEGIN CATCH          
      EXEC dbo.trav_RaiseError_proc          
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdateSAC_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdateSAC_proc'
GO
