USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CmCampaignList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CmCampaignList_proc]
@ViewNotes bit = 1

AS
BEGIN TRY
	SET NOCOUNT ON

	-- Campaign resultset
	SELECT c.ID AS CampaignID, c.Descr AS [Description], c.[Status], c.StartDate, c.EndDate, c.Cost, c.Pieces
		, CAST(p.ProjectName AS nvarchar) + ' / ' + ISNULL(d.TaskId, '') AS ProjectTask
		, d.PhaseId AS PhaseCode, p.CustId AS CustomerID
		, CASE WHEN @ViewNotes <> 0 THEN c.Notes ELSE NULL END AS Notes 
	FROM #tmpCampaignList t 
		INNER JOIN dbo.tblCmCampaign c ON t.CampaignID = c.ID 
		LEFT JOIN dbo.tblPcProjectDetail d ON d.ID = c.ProjectDetailID 
		LEFT JOIN dbo.tblPcProject p ON p.Id = d.ProjectId

	-- Detail resultset
	SELECT d.CampaignID, c.Descr AS [Description] 
	FROM #tmpCampaignList t 
		INNER JOIN dbo.tblCmCampaignDtl d ON t.CampaignID = d.CampaignID 
		LEFT JOIN dbo.tblCmCampType c ON c.ID = d.CampTypeID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmCampaignList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmCampaignList_proc'
GO
