USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InAdjustmentCOGS_AverageCost_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InAdjustmentCOGS_AverageCost_proc]

AS
BEGIN TRY
	SET NOCOUNT ON
	DECLARE @AppId nvarchar(10),@PostRun pPostRun,@WksDate datetime,
		@UserID pUserID,@FiscalYear smallint,@FiscalPeriod smallint,
		@BatchID pBatchID, @HistoryID bigInt, @SourceID nvarchar(10)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @AppId = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'AppID'
	SELECT @UserID = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'UserID'
	SELECT @BatchID = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'BatchID'
	SELECT @HistoryID = Cast([Value] AS bigInt) FROM #GlobalValues WHERE [Key] = 'HistoryID'
	SELECT @SourceID = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'SourceID'

	IF @PostRun IS NULL OR @WksDate IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL 
		OR @AppId IS NULL OR @UserID IS NULL OR @HistoryID IS NULL OR @SourceID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Create invenotry history
	INSERT INTO dbo.tblInHistDetail(HistSeqNum_Rcpt, ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
		GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt,CostExtACV, CostStd, 
		PriceExt, CostUnit, PriceUnit, [Source], Qty_Invc, CostExt_Invc, DropShipYn, LotNum, EnteredBy, PostRun, ID)
	SELECT 0,t.ItemId, t.LocId, i.ItemType, i.LottedYN, 19, @FiscalYear, @FiscalPeriod, @FiscalPeriod, @AppId, @BatchID,
		NULL, @PostRun, @SourceID, @WksDate, i.UomBase, i.UomBase, 1, 0, t.AdjustAmount,t.AdjustAmountACV,l.CostStd, 0, 0, 0, 200, 0, 0, 0, NULL, @UserID, NULL, @HistoryID + ROW_NUMBER() OVER (ORDER BY t.ItemId, t.LocId)
	FROM #tmpTransaction t INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
		INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
	WHERE t.AdjustAmount <> 0

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAdjustmentCOGS_AverageCost_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAdjustmentCOGS_AverageCost_proc'
GO
