USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InCostDetailView_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InCostDetailView_proc]  
@CostingMethod	tinyint	--0;FIFO;1;LIFO;2;Average Cost;3;Standard Cost
AS  
BEGIN TRY  
	SET NOCOUNT ON  

	IF (@CostingMethod = 1)	--LIFO
	BEGIN
		SELECT * FROM #CostDetail ORDER BY ItemId, LocId, SerNum ASC, LotNum, InitialDate DESC
	END
	ELSE
	BEGIN
		SELECT * FROM #CostDetail ORDER BY ItemId, LocId, SerNum, LotNum, InitialDate
	END

END TRY  
BEGIN CATCH  
	EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InCostDetailView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InCostDetailView_proc'
GO
