USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoPrintPurchaseRequest_Budget_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoPrintPurchaseRequest_Budget_proc]
	@TransId pTransId = NULL --set for printing online 
AS
SET NOCOUNT ON;
BEGIN TRY
	
	SELECT TransId, 
		NULLIF(CAST(CF.query(
				'for $i in /ArrayOfEntityPropertyOfString/EntityPropertyOfString
				return
				if (data($i/Name) = "Purchase Approval Budget Year")
				then data($i/Value)
				else ()') As varchar), '') As BudgetYear,
		NULLIF(CAST(CF.query(
				'for $i in /ArrayOfEntityPropertyOfString/EntityPropertyOfString
				return
				if (data($i/Name) = "Purchase Approval Budget Period")
				then data($i/Value)
				else ()') As varchar), '') As BudgetPeriod
	FROM dbo.tblPoTransHeader (NOLOCK)
	WHERE TransId = @TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPrintPurchaseRequest_Budget_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPrintPurchaseRequest_Budget_proc'
GO
