USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceAvailability_BuildResourceSchedule_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceAvailability_BuildResourceSchedule_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Builds schedule of Resource availability

	----Expects Resource Event data to be provided via temp table with the following
	--Create Table #ResourceEvents (
	--	[Id] [bigint] not null,
	--	[ResDetailId] [bigint] not null,
	--	[ResType] [tinyint] not null,
	--	[ResourceId] [nvarchar](255) not null,
	--	[LocId] [pLocId] null,
	--	[LineNumber] [bigint] not null,
	--	[ScheduleId] [nvarchar](10) not null,
	--	[AvailType] [tinyint] not null,
	--	[StartDate] [datetime] not null,
	--	[EndDate] [datetime] not null,
	--	[TimeZone] [smallint] not null,
	--)

	----Expects the list of resources to update to be provided via temp table with the following
	--Create Table #ResourceDetailList (
	--	[Id] [bigint] not null ,
	--	[ResType] [tinyint] not null, --Enum:EntityLinkType
	--	[ResourceId] [nvarchar](255) not null, 
	--	[LocId] [pLocId] null, 
	--	[LineNumber] [bigint] not null, 
	--	[ScheduleId] [nvarchar](10) not null
	--)

	----Populates the adjusted resource schedule (default and events)
	--Create Table #ResourceSchedule (
	--	[Id] bigint not null identity(1, 1),
	--	[ResDetailId] bigint,
	--	[SchDetailId] bigint null,
	--	[AvailType] tinyint,
	--	[StartDate] DateTime,
	--	[EndDate] DateTime
	--)

	--append adjusted schedule entries for start times that overlap resource events
	Insert into #ResourceSchedule (ResDetailId, SchDetailId, AvailType, StartDate, EndDate)
	Select r.ResDetailId, sa.Id, sa.AvailType, sa.StartDate, Dateadd(SECOND, -1, r.StartDate) 
		From #ResourceEvents r
		left join dbo.tblCsScheduleHeader sh on r.ScheduleID = sh.ScheduleID
		Inner Join dbo.tblCsScheduleAvailability sa on sh.Id = sa.HeaderId
		Where sa.StartDate < r.StartDate and sa.EndDate >= r.StartDate --Start Time Overlap

	--append adjusted schedule entries for end times that overlap resource events
	Insert into #ResourceSchedule (ResDetailId, SchDetailId, AvailType, StartDate, EndDate)
	Select r.ResDetailId, sa.Id, sa.AvailType, Dateadd(SECOND, 1, r.EndDate) As StartDate, sa.EndDate
		From #ResourceEvents r
		left join dbo.tblCsScheduleHeader sh on r.ScheduleID = sh.ScheduleID
		Inner Join dbo.tblCsScheduleAvailability sa on sh.Id = sa.HeaderId
		Where sa.StartDate <= r.EndDate and sa.EndDate > r.EndDate --End Time Overlap

	--append placeholders for shedule entries overridden by resource entries
	Insert into #ResourceSchedule (ResDetailId, SchDetailId, AvailType, StartDate, EndDate)
	Select r.ResDetailId, sa.Id, sa.AvailType, null, null
		From #ResourceEvents r
		left join dbo.tblCsScheduleHeader sh on r.ScheduleID = sh.ScheduleID
		Inner Join dbo.tblCsScheduleAvailability sa on sh.Id = sa.HeaderId
		Where sa.StartDate >= r.StartDate and sa.EndDate <= r.EndDate --schedule overridden by resource

	--append default schedule entries for resource/schedule combinations that don't have overlap adjustments
	Insert into #ResourceSchedule (ResDetailId, SchDetailId, AvailType, StartDate, EndDate)
	Select rl.Id, sa.id, sa.availtype, sa.StartDate, sa.EndDate
		from #ResourceDetailList as rl
		Inner Join dbo.tblCsScheduleHeader sh on rl.ScheduleID = sh.ScheduleID
		Inner Join dbo.tblCsScheduleAvailability sa on sh.Id = sa.HeaderId
		Left Join (Select ResDetailId, SchDetailid 
			From #ResourceSchedule 
			Where SchDetailId is not null 
			Group By ResDetailId, SchDetailId) adj On rl.Id = adj.ResDetailId and sa.id = adj.SchDetailId
		Where adj.SchDetailId is null --skip duplicates

	--append resource specific events to the adjusted schedule
	Insert into #ResourceSchedule (ResDetailId, SchDetailId, AvailType, StartDate, EndDate)
	Select rl.Id, null, re.AvailType, re.StartDate, re.EndDate
		from #ResourceDetailList as rl
		inner Join #ResourceEvents re on rl.Id = re.ResDetailId

	--remove placeholders
	Delete #ResourceSchedule Where [StartDate] is null

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_BuildResourceSchedule_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_BuildResourceSchedule_proc'
GO
