USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsTransPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsTransPost_BuildLog_proc]
AS
BEGIN TRY

	DECLARE	@PostRun [nvarchar](14), @PostDtlYn bit, @CurrBase [nvarchar](6), @PrecCurr smallint, @CompId [sysname] , @WrkStnDate datetime, @SourceCode nvarchar(2), 
		@FiscalYear smallint, @FiscalPeriod smallint, @OnAccountInvcNum nvarchar(15), @PaymentTotal [decimal](28,3), @OpenInvoiceTotal [decimal](28,3)
	DECLARE @TransType nvarchar(10)

	--Retrieve global values
	SELECT @CompId = Cast([Value] AS [sysname]) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @SourceCode = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'SourceCode'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @OnAccountInvcNum = Cast([Value] AS nvarchar(15)) FROM #GlobalValues WHERE [Key] = 'OnAccountInvcNum'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'  -- PSTRANS

	IF @PostRun IS NULL OR @PostDtlYn IS NULL OR @CurrBase IS NULL OR @WrkStnDate IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL 
		OR @OnAccountInvcNum IS NULL OR @TransType IS NULL 		
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #TransPostLog 
	(
		[Grouping] smallint Null, 
		[TransDate] datetime Null, 
		[Descr] nvarchar(30) Null, 
		[Reference] nvarchar(15) Null, 
		[DistCode] [nvarchar](6) NULL,
		[GlAcct] [nvarchar](255) NULL, 
		[CreditAmount] [decimal](28,10) NULL, 
		[DebitAmount] [decimal](28,10) NULL, 
		[LinkID] nvarchar(255) Null, 	
		[CurrencyId] [nvarchar](6) NULL, 
		[ExchRate] [decimal](28,10) NULL Default(1), 
		[AmountFgn] [decimal](28,10) NULL Default(0), 
		[DebitAmtFgn] [decimal](28,10) NULL Default(0), 
		[CreditAmtFgn] [decimal](28,10) NULL Default(0)
	)

	--Freight/Misc
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, CASE d.LineType WHEN 3 THEN 30 WHEN 4 THEN 40 END, CASE WHEN ISNULL(d.Descr,'') = '' THEN 
		CASE d.LineType WHEN 3 THEN 'Freight' WHEN 4 THEN 'Misc Charges' END ELSE SUBSTRING(d.Descr, 1, 30) END, h.BillToID, t.DistCode, 
		CASE d.LineType WHEN 3 THEN c.GLAcctFreight WHEN 4 THEN c.GLAcctMisc END, -1 * SIGN(TransType) * d.ExtPrice, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID 
		LEFT JOIN dbo.tblArDistCode c ON t.DistCode = c.DistCode
	WHERE h.VoidDate IS NULL AND d.LineType IN (3, 4) AND d.ExtPrice <> 0
	
	--Coupon/Discount/Rounding
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, CASE d.LineType WHEN -2 THEN 50 WHEN -3 THEN 60 WHEN -4 THEN 70 END, CASE WHEN ISNULL(d.Descr,'') = '' THEN 
		CASE d.LineType WHEN -2 THEN 'Coupon' WHEN -3 THEN 'Discount' WHEN -4 THEN 'Rounding Adjustment' END ELSE SUBSTRING(d.Descr, 1, 30) END, 
		h.BillToID, t.DistCode, CASE d.LineType WHEN -2 THEN c.GLAcctCoupon WHEN -3 THEN c.GLAcctDiscount WHEN -4 THEN c.GLAcctRounding END, 
		SIGN(TransType) * d.ExtPrice, CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID 
		LEFT JOIN dbo.tblPsDistCode c ON t.DistCode = c.DistCode
	WHERE h.VoidDate IS NULL AND d.LineType IN (-2,-3,-4) AND d.ExtPrice <> 0

	--COGS
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, 10, SUBSTRING(ISNULL(d.Descr,''), 1, 30), h.BillToID, t.DistCode, g.GLAcctCogs, SIGN(TransType) * i.ExtCost, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN 0  ELSE ABS(i.ExtCost) END, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN ABS(i.ExtCost) ELSE 0 END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN 0  ELSE ABS(i.ExtCost) END, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN ABS(i.ExtCost) ELSE 0 END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID 
		INNER JOIN dbo.tblPsTransDetailIN i ON d.ID = i.DetailID
		LEFT JOIN dbo.tblInItemLoc l ON d.ItemID = l.ItemId AND d.LocID = l.LocId
		LEFT JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode
	WHERE h.VoidDate IS NULL AND i.ExtCost <> 0

	--Inventory
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, 20, SUBSTRING(ISNULL(d.Descr,''), 1, 30), h.BillToID, t.DistCode, g.GLAcctInv, -SIGN(TransType) * i.ExtCost, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN ABS(i.ExtCost) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN 0 ELSE ABS(i.ExtCost) END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN ABS(i.ExtCost) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * i.ExtCost > 0 THEN 0 ELSE ABS(i.ExtCost) END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID 
		INNER JOIN dbo.tblPsTransDetailIN i ON d.ID = i.DetailID
		LEFT JOIN dbo.tblInItemLoc l ON d.ItemID = l.ItemId AND d.LocID = l.LocId
		LEFT JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode
	WHERE h.VoidDate IS NULL AND i.ExtCost <> 0

	--Line Item Sales
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, 80, SUBSTRING(ISNULL(d.Descr,''), 1, 30), h.BillToID, t.DistCode, 
		CASE WHEN i.DetailID IS NULL THEN c.GLAcctSales ELSE g.GLAcctSales END, -1 * SIGN(TransType) * d.ExtPrice, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN ABS(d.ExtPrice) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * d.ExtPrice > 0 THEN 0  ELSE ABS(d.ExtPrice) END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblPsTransDetail d ON h.ID = d.HeaderID 
		LEFT JOIN dbo.tblPsDistCode c ON t.DistCode = c.DistCode 
		LEFT JOIN dbo.tblPsTransDetailIN i ON d.ID = i.DetailID
		LEFT JOIN dbo.tblInItemLoc l ON d.ItemID = l.ItemId AND d.LocID = l.LocId
		LEFT JOIN dbo.tblInGLAcct g ON l.GLAcctCode = g.GLAcctCode
	WHERE h.VoidDate IS NULL AND d.LineType = 1 AND d.ExtPrice <> 0

	--Tax
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)
	SELECT h.TransDate, 90, SUBSTRING('Sales Tax' + ' / ' + x.TaxLocID, 1, 30), h.BillToID, t.DistCode, l.GLAcct, 
		-1 * SIGN(TransType) * x.TaxAmt, CASE WHEN SIGN(TransType) * x.TaxAmt > 0 THEN ABS(x.TaxAmt) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * x.TaxAmt > 0 THEN 0  ELSE ABS(x.TaxAmt) END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(TransType) * x.TaxAmt > 0 THEN ABS(x.TaxAmt) ELSE 0 END, 
		CASE WHEN SIGN(TransType) * x.TaxAmt > 0 THEN 0  ELSE ABS(x.TaxAmt) END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN (SELECT HeaderID, TaxLocID, SUM(TaxAmt) AS TaxAmt FROM dbo.tblPsTransTax GROUP BY HeaderID, TaxLocID) x ON h.ID = x.HeaderID
		LEFT JOIN dbo.tblSmTaxLoc l ON x.TaxLocID = l.TaxLocId
	WHERE h.VoidDate IS NULL AND x.TaxAmt <> 0
                        
	--Transaction payment cash account (Use base currency for values outside POS)
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT p.PmtDate, 100, i.InvoiceNum, h.BillToID, i.DistCode, 
		CASE WHEN p.PmtType IN (3, 7) THEN  ISNULL(b.GlCashAcct, m.GLAcctDebit)  --fallback to pmtmethod when no bank provided
			WHEN p.PmtType IN (1, 2, 6) THEN b.GlCashAcct ELSE m.GLAcctDebit END,
		p.AmountBase, CASE WHEN p.AmountBase > 0 THEN 0  ELSE ABS(p.AmountBase) END, 
		CASE WHEN p.AmountBase > 0 THEN ABS(p.AmountBase) ELSE 0 END, 
		p.ID, @CurrBase, 1,
		CASE WHEN p.AmountBase > 0 THEN 0  ELSE ABS(p.AmountBase) END, 
		CASE WHEN p.AmountBase > 0 THEN ABS(p.AmountBase) ELSE 0 END
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		INNER JOIN dbo.tblPsTransHeader h ON p.HeaderID = h.ID 
		INNER JOIN #PsTransList i ON h.ID = i.ID
		LEFT JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
		LEFT JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId
	WHERE p.VoidDate IS NULL AND p.AmountBase <> 0

	--AR entry    
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT h.TransDate, 110, t.InvoiceNum + '/' + 'A/R', h.BillToID, t.DistCode, c.GLAcctReceivables, SIGN(TransType) * t.NetDue, 
		CASE WHEN SIGN(h.TransType) * t.NetDue > 0 THEN 0  ELSE ABS(t.NetDue) END, 
		CASE WHEN SIGN(h.TransType) * t.NetDue > 0 THEN ABS(t.NetDue) ELSE 0 END, h.ID, @CurrBase, 1, 
		CASE WHEN SIGN(h.TransType) * t.NetDue > 0 THEN 0  ELSE ABS(t.NetDue) END, 
		CASE WHEN SIGN(h.TransType) * t.NetDue > 0 THEN ABS(t.NetDue) ELSE 0 END
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		LEFT JOIN dbo.tblArDistCode c ON t.DistCode = c.DistCode
	WHERE h.VoidDate IS NULL AND t.NetDue <> 0

	--Misc payment cash account (Use base currency for values outside POS)
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT p.PmtDate, 100, @OnAccountInvcNum, p.CustID, t.DistCode, 
		CASE WHEN p.PmtType IN (3, 7) THEN  ISNULL(b.GlCashAcct, m.GLAcctDebit)	--fallback to pmtmethod when no bank provided
			WHEN p.PmtType IN (1, 2, 6) THEN b.GlCashAcct ELSE m.GLAcctDebit END,
		p.AmountBase, CASE WHEN p.AmountBase > 0 THEN 0  ELSE ABS(p.AmountBase) END, CASE WHEN p.AmountBase > 0 THEN ABS(p.AmountBase) ELSE 0 END, 
		p.ID, @CurrBase, 1, 
		CASE WHEN p.AmountBase > 0 THEN 0 ELSE ABS(p.AmountBase) END, CASE WHEN p.AmountBase > 0 THEN ABS(p.AmountBase) ELSE 0 END
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		LEFT JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
		LEFT JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId 
	WHERE p.HeaderID IS NULL AND p.VoidDate IS NULL AND p.AmountBase <> 0
	
	--(Use base currency for values outside POS)
	INSERT INTO #TransPostLog (Transdate, [Grouping], Descr, Reference, DistCode, GlAcct, AmountFgn, 
		CreditAmount, DebitAmount, LinkID, CurrencyId, ExchRate, CreditAmtFgn, DebitAmtFgn)   
	SELECT p.PmtDate, 110, @OnAccountInvcNum + '/' + 'A/R', p.CustID, t.DistCode, c.GLAcctReceivables, -p.AmountBase, 
		CASE WHEN p.AmountBase > 0 THEN p.AmountBase ELSE 0 END, CASE WHEN p.AmountBase > 0 THEN 0 ELSE ABS(p.AmountBase) END, 
		p.ID, @CurrBase, 1,	CASE WHEN p.AmountBase > 0 THEN p.AmountBase ELSE 0 END, CASE WHEN p.AmountBase > 0 THEN 0 ELSE ABS(p.AmountBase) END
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		LEFT JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
		LEFT JOIN dbo.tblArDistCode c ON t.DistCode = c.DistCode	
	WHERE p.HeaderID IS NULL AND p.VoidDate IS NULL AND p.AmountBase <> 0

	--populate the GL Log table
	IF (@PostDtlYn = 0)
	BEGIN
		--Summarize credit/debit entries separately
		--Credit entry
		
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping]
			, [Description]
			, Reference, SourceCode, CreditAmount, DebitAmount, CreditAmountBase, DebitAmountBase, CurrencyId, TransDate, PostDate
			, LinkId, LinkIdSub, LinkIdSubLine)
		SELECT @PostRun, @TransType, @PostRun, @PostRun, @CompId, GlAcct, @FiscalYear, @FiscalPeriod, [Grouping]
			, CASE	WHEN [Grouping] = 10 THEN 'Cost of Sales' 
					WHEN [Grouping] = 20 THEN 'Inventory' WHEN [Grouping] = 30 THEN 'Freight' WHEN [Grouping] = 40 THEN 'Misc Charges' 
					WHEN [Grouping] = 50 THEN 'Coupon' WHEN [Grouping] = 60 THEN 'Discount' WHEN [Grouping] = 70 THEN 'Rounding Adjustment' 
					WHEN [Grouping] = 80 THEN 'Sales' WHEN [Grouping] = 90 THEN 'Sales Tax' WHEN [Grouping] = 100 THEN 'Payments Received' 
					WHEN [Grouping] = 110 THEN 'A/R' ELSE'Unknown' END			
			, 'PS', @SourceCode, SUM(CreditAmtFgn), 0, SUM(CreditAmount), 0, CurrencyId,@WrkStnDate,@WrkStnDate
			, NULL, NULL, NULL		
		FROM #TransPostLog 
		WHERE CreditAmtFgn <> 0
		GROUP BY [Grouping], CurrencyId, GlAcct 

		--Debit entry
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping]
			, [Description]
			, Reference, SourceCode, CreditAmount, DebitAmount, CreditAmountBase, DebitAmountBase, CurrencyId, TransDate, PostDate
			, LinkId, LinkIdSub, LinkIdSubLine)
		SELECT @PostRun, @TransType, @PostRun, @PostRun, @CompId, GlAcct, @FiscalYear, @FiscalPeriod, [Grouping]
			, CASE	WHEN [Grouping] = 10 THEN 'Cost of Sales' 
					WHEN [Grouping] = 20 THEN 'Inventory' WHEN [Grouping] = 30 THEN 'Freight' WHEN [Grouping] = 40 THEN 'Misc Charges' 
					WHEN [Grouping] = 50 THEN 'Coupon' WHEN [Grouping] = 60 THEN 'Discount' WHEN [Grouping] = 70 THEN 'Rounding Adjustment' 
					WHEN [Grouping] = 80 THEN 'Sales' WHEN [Grouping] = 90 THEN 'Sales Tax' WHEN [Grouping] = 100 THEN 'Payments Received' 
					WHEN [Grouping] = 110 THEN 'A/R' ELSE'Unknown' END			
			, 'PS', @SourceCode, 0, SUM(DebitAmtFgn), 0, SUM(DebitAmount), CurrencyId,@WrkStnDate,@WrkStnDate
			, NULL, NULL, NULL		
		FROM #TransPostLog 
		WHERE DebitAmtFgn <> 0
		GROUP BY [Grouping],CurrencyId, GlAcct 

	END
	ELSE
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping]
			, [Description], Reference, SourceCode, CreditAmount, DebitAmount, CreditAmountBase, DebitAmountBase, CurrencyId, TransDate, PostDate
			, LinkId, LinkIdSub, LinkIdSubLine)
		SELECT @PostRun, @TransType, @PostRun, @PostRun, @CompId, GlAcct, @FiscalYear, @FiscalPeriod, [Grouping]
			, Descr, Reference, @SourceCode, CreditAmtFgn, DebitAmtFgn, CreditAmount, DebitAmount, CurrencyId, @WrkStnDate, @WrkStnDate
			, LinkID, NULL, NULL		
		FROM #TransPostLog 
		
	SELECT @PaymentTotal = SUM(p.AmountBase)
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	WHERE p.VoidDate IS NULL

	SELECT @OpenInvoiceTotal = SUM(Amount)
	FROM (SELECT SIGN(h.TransType) * t.InvoiceTotal AS Amount
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId 
	WHERE h.VoidDate IS NULL AND t.InvoiceTotal <> 0 AND t.NetDue <> 0 
	UNION ALL
	SELECT -p.AmountBase AS Amount
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		INNER JOIN dbo.tblArCust c ON p.CustID = c.CustId
	WHERE p.HeaderID IS NULL AND p.VoidDate IS NULL AND p.AmountBase <> 0
	UNION ALL
	SELECT -p.AmountBase AS Amount
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		INNER JOIN dbo.tblPsTransHeader h ON p.HeaderID = h.ID 
		INNER JOIN #PsTransList s ON h.ID = s.ID
		INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId
	WHERE p.VoidDate IS NULL AND p.AmountBase <> 0 AND s.NetDue <> 0) o

	--update the transaction summary log table
	INSERT INTO #TransactionSummary ([FiscalYear], [FiscalPeriod], [TransAmt], [PmtAmt], [CurrencyId], [OpenInvoiceAmt])
	SELECT @FiscalYear, @FiscalPeriod, ISNULL(SUM(SIGN(h.TransType) * t.InvoiceTotal),0), ISNULL(@PaymentTotal,0), @CurrBase, ISNULL(@OpenInvoiceTotal,0)
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
	WHERE h.VoidDate IS NULL
 
 	--update the payment summary log table
	INSERT INTO #PaymentSummary ([FiscalYear], [FiscalPeriod], [BankId], [PmtMethodId], [Description], [PaymentType], [PaymentAmount], [CurrencyId]
	, [PaymentAmountFgn])
	SELECT @FiscalYear, @FiscalPeriod, m.BankId, p.PmtMethodId, m.[Desc], p.PmtType, p.AmountBase, b.CurrencyId
	, CASE WHEN b.CurrencyID = @CurrBase THEN p.AmountBase
			ELSE ROUND(p.AmountBase * er.Rate, er.CurrDecPlaces) END
	FROM #PsPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	LEFT JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID 
	INNER JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE er.TransType = @TransType AND er.[Source] = @CurrBase --payment exchanged from base
	) er ON er.Destination = b.CurrencyId AND er.TransKey = @PostRun
	WHERE p.VoidDate IS NULL AND (p.PmtType <= 3 OR p.PmtType IN (6, 7))

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_BuildLog_proc'
GO
