USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_DoAccrual_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_DoAccrual_proc]
AS
SET NOCOUNT ON
BEGIN TRY
/*  if accrual flag is set in the options, read thru tblPoTransLotRcpt
    'for unposted receipts (status=0) and make accrual entries
    'updates field QtyAccRev with Qty
    'debit account accrual account from line item
    'credit account AP accrual account from distribution code
*/
	DECLARE @PostRun nvarchar(14), @PoInYn bit, @WksDate datetime,@CurrBase pCurrency,
		@LinkID nvarchar(15), @LinkIDSub nvarchar(15), @LinkIDSubLine Int
		
	SELECT @LinkID = 'ACCRUAL', @LinkIDSub = NULL , @LinkIDSubLine = -3
	DECLARE @TransTypePOReceipt nvarchar(10)
	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PoInYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PoInYn'
	SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT
	IF @PostRun IS NULL OR @WksDate IS NULL  OR @CurrBase IS NULL OR @PoInYn IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--IN Accrual
	IF (@PoInYn = 1)
	BEGIN
		INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
		GlPeriod, EntryNum, [Grouping], 
		 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
		LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
		SELECT @PostRun, NULL, NULL, t.GlPeriod, 99998, 105, min(t.ReceiptDate), @WksDate, CONCAT('IN Accrual - PO# ', d.TransId, ' - Entry# ', d.EntryNum) ,
		 'GOODS RCVD', d.GLAcctAccrual,
		 CASE WHEN Sum(Sign(TransType) * r.ExtCost) > 0 THEN Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
		 CASE WHEN Sum(Sign(TransType) * r.ExtCost) < 0 THEN -Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
		 t.FiscalYear, d.TransId, @LinkIDSub, d.EntryNum,  h.CurrencyID, 
		CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) > 0 THEN Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END, 
		CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) < 0 THEN -Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END
		,r.RcptHeaderID,@TransTypePOReceipt, Sum(Sign(TransType) * r.ExtCost), Sum(Sign(TransType) * r.ExtCostFgn)
		FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId 
		INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
		--Modiifed for PO Accural Enhancement
		INNER JOIN dbo.tblInItem i on d.ItemId=i.ItemId 
		INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID 
		INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
		WHERE r.Status = 0  AND (ISNULL(d.LinkSeqNum,0) = 0 OR h.DropShipYn = 0)  AND ISNULL(d.ProjectDetailId,0) = 0
		GROUP BY t.FiscalYear, t.GlPeriod,d.GLAcctAccrual,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum
	END
	
	--Exp Accrual
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType, Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, t.GlPeriod, 99998, 106,  
	 min(t.ReceiptDate), @WksDate, CONCAT('Exp Accrual - PO# ', d.TransId, ' - Entry# ', d.EntryNum), 'GOODS RCVD', d.GLAcctAccrual, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) > 0 THEN Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) < 0 THEN -Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 t.FiscalYear, d.TransId, @LinkIDSub, d.EntryNum, h.CurrencyID, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) > 0 THEN Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) < 0 THEN -Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END 
	 ,r.RcptHeaderID,@TransTypePOReceipt,  Sum(Sign(TransType) * r.ExtCost), Sum(Sign(TransType) * r.ExtCostFgn)
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
	--Modiifed for PO Accural Enhancement
    LEFT JOIN dbo.tblInItem i on d.ItemId=i.ItemId
    INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID 
	INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
	WHERE r.Status = 0 AND (@PoInYn = 0 OR i.ItemId IS NULL) AND (ISNULL(d.LinkSeqNum,0) = 0 OR h.DropShipYn = 0 ) AND ISNULL(d.ProjectDetailId,0) = 0
	GROUP BY t.FiscalYear, t.GlPeriod,d.GLAcctAccrual,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum

	--JC Accrual
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
		 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
		LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType, Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, t.GlPeriod, 99998, 105, 
	 min(t.ReceiptDate), @WksDate,  CONCAT('Project/Job Accrual - PO# ', d.TransId, ' - Entry# ', d.EntryNum), 'GOODS RCVD', d.GLAcctAccrual,
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) > 0 THEN Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) < 0 THEN -Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 t.FiscalYear, d.TransId, @LinkIDSub, d.EntryNum,  h.CurrencyID, 
	CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) > 0 THEN Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END, 
	CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) < 0 THEN -Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END
	 ,r.RcptHeaderID,@TransTypePOReceipt, Sum(Sign(TransType) * r.ExtCost),  Sum(Sign(TransType) * r.ExtCostFgn)
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID 
	INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
	WHERE r.Status = 0 AND ISNULL(d.ProjectDetailId,0) <> 0
	GROUP BY t.FiscalYear, t.GlPeriod,d.GLAcctAccrual,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum

	--Drop ship
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType, Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, t.GlPeriod, 99998, 105, 
	 min(t.ReceiptDate), @WksDate,  CONCAT('Drop Ship - PO# ', d.TransId, ' - Entry# ', d.EntryNum), 'GOODS RCVD', d.GlAcct, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) > 0 THEN Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 CASE WHEN Sum(Sign(TransType) * r.ExtCost) < 0 THEN -Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 t.FiscalYear, d.TransId, @LinkIDSub, d.EntryNum, h.CurrencyID,
	CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) > 0 THEN Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END, 
	CASE WHEN Sum(Sign(TransType) * r.ExtCostFgn) < 0 THEN -Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END
	,r.RcptHeaderID,@TransTypePOReceipt,  Sum(Sign(TransType) * r.ExtCost), Sum(Sign(TransType) * r.ExtCostFgn)
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID 
	INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum
	WHERE r.Status = 0 AND ISNULL(d.LinkSeqNum,0) > 0 AND h.DropShipYn = 1 AND ISNULL(d.ProjectDetailId,0) = 0
	GROUP BY t.FiscalYear, t.GlPeriod,d.GlAcct,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum

	--AP Accrual
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType, Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, t.GlPeriod, 99998, 107, 
	 min(t.ReceiptDate), @WksDate, CONCAT('AP Accrual - PO# ', d.TransId, ' - Entry# ', d.EntryNum), 'GOODS RCVD', c.AccrualGLAcct, 
	 CASE WHEN -Sum(Sign(TransType) * r.ExtCost) > 0 THEN -Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 CASE WHEN -Sum(Sign(TransType) * r.ExtCost) < 0 THEN Sum(Sign(TransType) * r.ExtCost) ELSE 0 END, 
	 t.FiscalYear, d.TransId, @LinkIDSub, d.EntryNum, h.CurrencyID,
	 CASE WHEN -Sum(Sign(TransType) * r.ExtCostFgn) > 0 THEN -Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END, 
	 CASE WHEN -Sum(Sign(TransType) * r.ExtCostFgn) < 0 THEN Sum(Sign(TransType) * r.ExtCostFgn) ELSE 0 END
	 ,r.RcptHeaderID,@TransTypePOReceipt,  - Sum(Sign(TransType) * r.ExtCost), - Sum(Sign(TransType) * r.ExtCostFgn)
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
	INNER JOIN dbo.tblPoTransLotRcpt r ON d.EntryNum = r.EntryNum AND d.TransID = r.TransID 
	INNER JOIN dbo.tblPoTransReceipt t ON r.TransId = t.TransId AND r.RcptNum = t.ReceiptNum 
	INNER JOIN dbo.tblApDistCode c on h.DistCode = c.DistCode 
	WHERE r.Status = 0 
	GROUP BY t.FiscalYear, t.GlPeriod, c.AccrualGLAcct,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum

	--Change status to posted.
	UPDATE dbo.tblPoTransLotRcpt
	SET Status = 1, QtyAccRev = QtyFilled 
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId
		INNER JOIN dbo.tblPoTransLotRcpt ON h.TransID = dbo.tblPoTransLotRcpt.TransId 
	WHERE dbo.tblPoTransLotRcpt.Status = 0 

	UPDATE dbo.tblPoTransSer SET RcptStatus = 1
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId
		INNER JOIN dbo.tblPoTransSer ON h.TransID = dbo.tblPoTransSer.TransId 
	WHERE dbo.tblPoTransSer.RcptStatus = 0
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DoAccrual_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DoAccrual_proc'
GO
