USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_FaPeriodDepreciationPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_FaPeriodDepreciationPost_BuildLog_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @PostRun pPostRun, @CurrBase pCurrency
		,@WksDate datetime, @CompId nvarchar(3), @PostDtlYn bit

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	

	--build the posting log
	INSERT INTO #PeriodDepreciationPostLog ([DeprcType], [Type]
		, [FiscalYear], [FiscalPeriod], [BeginPd], [EndPd]
		, [TotalDepreciation], [AssetsPosted], [AssetsDepreciated], [AssetCount],CurrencyID)
	SELECT o.[DeprType], o.[Type], o.[FiscalYear], o.[GLPd], o.[BeginPd], o.[EndPd]
		, SUM(d.[CurrDepr]) AS [TotalDepreciation]
		, COUNT(d.[DeprcType]) AS [AssetsPosted]
		, SUM(CASE WHEN d.[CurrDepr] <> 0 THEN 1 ELSE 0 END) AS [AssetsDepreciated]
		, (SELECT COUNT(1) AS [AssetCount] FROM dbo.tblFaAssetDepr ad WHERE ad.[DeprcType] = d.[DeprcType]) AS [AssetCount],a.CurrencyID
	FROM dbo.tblFaOptionDepr o
		INNER JOIN #PostTransList l ON o.DeprType = l.TransId 
		INNER JOIN dbo.tblFaAssetDepr d ON o.DeprType = d.DeprcType
		INNER JOIN dbo.tblFaAsset a ON d.AssetId = a.AssetID
		INNER JOIN 
		(
			SELECT AssetId, CASE WHEN SUM(CurrDepr) <> 0 THEN 1 ELSE 0 END AS [HasDepreciation] 
			FROM dbo.tblFaAssetDepr 
			GROUP BY AssetId
		) r ON a.AssetId = r.AssetID
	WHERE o.[Process] = 1 
		AND (a.[AssetStatus] = 1 OR (a.[AssetStatus] = 2 AND r.[HasDepreciation] = 1))
	GROUP BY o.[DeprType], d.[DeprcType], o.[Type], o.[FiscalYear], o.[BeginPd], o.[EndPd], o.[GLPd],a.CurrencyID
	
	
	--Identify the activity entries to generate
	INSERT INTO #PeriodDepreciationPostActivity([DeprcType], [Type]
		, [AssetId], [DeprID]
		, [GlAccumDepr], [GlExpense], [Amount]
		, [FiscalYear], [FiscalPeriod],[CurrencyID],[AmountBase])

	SELECT o.[DeprType], o.[Type]
		, d.[AssetID], d.[Id]
		, a.[GLAccum], a.[GLExpense], d.[CurrDepr]
		, o.[FiscalYear], o.[GLPd], a.[CurrencyID]
		, CASE WHEN a.CurrencyID=@CurrBase THEN d.[CurrDepr] ELSE ROUND(d.[CurrDepr] * e.Rate,C.CurrDecPlaces) END As AmountBase
	FROM dbo.tblFaOptionDepr o
		INNER JOIN #PostTransList l ON o.DeprType = l.TransId 
		INNER JOIN dbo.tblFaAssetDepr d ON o.DeprType = d.DeprcType
		INNER JOIN dbo.tblFaAsset a ON d.AssetId = a.AssetID
		LEFT JOIN tblSmExchangeRateTrans e
		ON  e.[Source] =a.CurrencyId AND e.Destination= @CurrBase AND e.TransKey=@PostRun AND e.TransType ='FAPDDEPR'
		LEFT JOIN tblSmCurrency c ON c.CurrID =@CurrBase 
				
	WHERE o.[Process] = 1 
		AND (a.[AssetStatus] = 1 OR a.[AssetStatus] = 2)
		AND d.[CurrDepr] <> 0
		-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT AssetID FROM #PeriodDepreciationPostActivity WHERE AmountBase IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	

	--generate the GL log entries
	IF @PostDtlYn = 0
	BEGIN
		--post summary to GL
		--INSERT #GlPostLogs(CompId, PostRun, FiscalYear, FiscalPeriod, [Grouping]
		--	, GlAccount, AmountFgn, Reference, [Description]
		--	, DebitAmount, CreditAmount, DebitAmountFgn, CreditAmountFgn
		--	, SourceCode, PostDate, TransDate, CurrencyId, ExchRate)

		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
			[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)

		SELECT @PostRun,'FAPDDEPR',@PostRun,@PostRun,@CompId,[GlAccumDepr],[FiscalYear], [FiscalPeriod],10
			, 'Accumulated Depreciation', 'FA','FA'
			, (CASE WHEN [Amount] > 0 THEN [Amount] ELSE 0 END) CreditAmount
			, (CASE WHEN [Amount] > 0 THEN 0 ELSE -[Amount] END) DebitAmount
			, (CASE WHEN [AmountBase] > 0 THEN [AmountBase] ELSE 0 END) CreditAmountBase
			, (CASE WHEN [AmountBase] > 0 THEN 0 ELSE -[AmountBase] END) DebitAmountBase
			,[CurrencyID],  @WksDate, @WksDate,NULL,NULL
		FROM #PeriodDepreciationPostActivity
		WHERE [Type] = 1 --Only 'Book' Types post to GL
        AND [Amount] <> 0

		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
			[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)

		SELECT @PostRun,'FAPDDEPR',@PostRun,@PostRun,@CompId, [GLExpense],[FiscalYear], [FiscalPeriod],20
			,'Depreciation Expense', 'FA','FA'
			, (CASE WHEN [Amount] > 0 THEN 0 ELSE -[Amount] END) CreditAmount
			, (CASE WHEN [Amount] > 0 THEN [Amount] ELSE 0 END) DebitAmount
			, (CASE WHEN [AmountBase] > 0 THEN 0 ELSE -[AmountBase] END) CreditAmountBase
			, (CASE WHEN [AmountBase] > 0 THEN [AmountBase] ELSE 0 END) DebitAmountBase
			,[CurrencyID], @WksDate, @WksDate,NULL,NULL
		FROM #PeriodDepreciationPostActivity
		WHERE [Type] = 1 --Only 'Book' Types post to GL
	    AND [Amount] <> 0

	END
	ELSE
	BEGIN
		--post detail to GL
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
			  [Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)

		SELECT @PostRun,'FAPDDEPR',@PostRun,@PostRun,@CompId,[GlAccumDepr],[FiscalYear], [FiscalPeriod],10
			, 'Accumulated Depreciation', [AssetId],'FA'
			, (CASE WHEN [Amount] > 0 THEN [Amount] ELSE 0 END) CreditAmount
			, (CASE WHEN [Amount] > 0 THEN 0 ELSE -[Amount] END) DebitAmount
			, (CASE WHEN [AmountBase] > 0 THEN [AmountBase] ELSE 0 END) CreditAmountBase
			, (CASE WHEN [AmountBase] > 0 THEN 0 ELSE -[AmountBase] END) DebitAmountBase
			,[CurrencyID],  @WksDate, @WksDate,NULL,NULL
		FROM #PeriodDepreciationPostActivity
		WHERE [Type] = 1 --Only 'Book' Types post to GL
        AND [Amount] <> 0

		
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
			[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)

		SELECT @PostRun,'FAPDDEPR',@PostRun,@PostRun,@CompId, [GLExpense],[FiscalYear], [FiscalPeriod],20
			,'Depreciation Expense', [AssetId],'FA'
			, (CASE WHEN [Amount] > 0 THEN 0 ELSE -[Amount] END) CreditAmount
			, (CASE WHEN [Amount] > 0 THEN [Amount] ELSE 0 END) DebitAmount
			, (CASE WHEN [AmountBase] > 0 THEN 0 ELSE -[AmountBase] END) CreditAmountBase
			, (CASE WHEN [AmountBase] > 0 THEN [AmountBase] ELSE 0 END) DebitAmountBase
			,[CurrencyID], @WksDate, @WksDate,NULL,NULL
		FROM #PeriodDepreciationPostActivity
		WHERE [Type] = 1 --Only 'Book' Types post to GL
	    AND [Amount] <> 0

	END
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_FaPeriodDepreciationPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_FaPeriodDepreciationPost_BuildLog_proc'
GO
