USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTagReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTagReport_proc]
@BatchID  [nvarchar](6),
@SortBy  nvarchar(150),
@StartTagNum  Int,
@LastGoodTagNum  Int,
@PrintZeroQty bit, -- Print Bins with Zero Quantities.
@PrintNonserialized bit, -- Print Nonserialized Items.
@PrintSerialized bit -- Print Serialized Items.
AS
SET NOCOUNT ON
BEGIN TRY

DECLARE @SQL  NVarchar(1000)

CREATE TABLE #tmpWmPhysCount (
	[ID] bigint NOT NULL ,
	[ItemId] [nvarchar](24) NULL ,
	[LocId] [nvarchar](10) NULL ,
	[LotNum] [nvarchar](16) NULL ,
	[SerNum] [nvarchar](35) NULL ,
	[ExtLocAID] [nvarchar] (10) NULL ,
	[ExtLocBID] [nvarchar] (10) NULL,
	[QtyFrozen] [decimal](28,10) NULL,
	[TagNum] [int] NULL,
	[CountUom] [nvarchar](5) NULL ,
	[Descr] nvarchar(255) NULL,
	[ProductLine] [nvarchar] (12) NULL,
	PRIMARY KEY CLUSTERED (ID) 
)

CREATE TABLE #tmpWmTag 
(
	[ID] bigint NOT NULL, 
	[TagNum] int NOT NULL IDENTITY(1,1),
	PRIMARY KEY CLUSTERED (ID)
)

INSERT INTO #tmpWmPhysCount ([ID],[ItemId],[LocId],[LotNum],[SerNum],[QtyFrozen],[TagNum],[CountUom],[Descr],[ProductLine],[ExtLocAID],[ExtLocBID])
SELECT d.ID,h.ItemID,b.LocID,d.LotNum,d.SerNum,d.QtyFrozen/u.ConvFactor,NULL AS TagNum,h.CountUom,i.Descr,i.ProductLine,d.ExtLocAID,d.ExtLocBID
FROM dbo.tblWmPhysicalCountBatch b INNER JOIN dbo.tblWmPhysicalCountHeader h ON b.BatchID = h.BatchID 
	INNER JOIN dbo.tblWmPhysicalCountDetail d ON h.ID = d.HeaderID
	INNER JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 
	INNER JOIN dbo.tblInItemUom u ON h.ItemId = u.ItemId AND h.CountUom = u.Uom	
WHERE b.BatchID = @BatchID AND ((@PrintNonserialized = 1 AND i.ItemType = 1) OR (@PrintSerialized = 1 AND i.ItemType = 2)) AND (@PrintZeroQty = 1 OR d.QtyFrozen <> 0)

SET @SQL = N'INSERT INTO #tmpWmTag (ID) SELECT ID FROM #tmpWmPhysCount c ORDER BY ' + @SortBy
EXEC sp_executesql  @SQL

UPDATE #tmpWmPhysCount SET TagNum = t.TagNum + @StartTagNum - 1 
FROM #tmpWmPhysCount INNER JOIN #tmpWmTag t ON #tmpWmPhysCount.ID = t.ID

UPDATE dbo.tblWmPhysicalCountDetail SET TagNum = CASE WHEN t.ID IS NULL THEN NULL ELSE t.TagNum END
FROM dbo.tblWmPhysicalCountDetail LEFT JOIN #tmpWmPhysCount t ON dbo.tblWmPhysicalCountDetail.ID = t.ID

SELECT * FROM #tmpWmPhysCount ORDER BY TagNum

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTagReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTagReport_proc'
GO
