USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCommissionDetailList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCommissionDetailList_proc]
@PrecisionCurrency tinyint = 2
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #CalcCommAmts
	(
		[Counter] int, 
		SalesRepId [nvarchar](3) NULL,
		CustId [nvarchar](10) NULL,
		InvcNum [nvarchar](15) NULL,
		InvcDate DateTime,
		BasedOnDtl bit, 
		AmtPmt [decimal](28,10) NOT NULL, 
		NetSales [decimal](28,10) NOT NULL, 
		AdjNetSales [decimal](28,10) NOT NULL, 
		BaseAmt [decimal](28,10) NOT NULL, 
		AmtPayOn [decimal](28,10) NOT NULL, 
		TotPoss [decimal](28,10) NOT NULL, 
		Earned [decimal](28,10) NOT NULL DEFAULT (0)
	)

	CREATE TABLE #RepTotals
	(
		SalesRepId [nvarchar](3) NULL, 
		RepAmtInvc [decimal](28,10) NOT NULL, 
		RepAmtPmt [decimal](28,10) NOT NULL, 
		RepAmtCogs [decimal](28,10) NOT NULL, 
		RepAmtPayOn [decimal](28,10) NOT NULL,
		RepAmtLines [decimal](28,10) NOT NULL
	)

	-- get calculated commission info
	EXEC trav_ArCommCalcAmounts_proc @PrecisionCurrency

	-- capture sales rep totals (pull invoice total amounts from first record of multiple detail records)
	INSERT INTO #RepTotals (SalesRepId, RepAmtInvc, RepAmtPmt, RepAmtCogs, RepAmtPayOn, RepAmtLines) 
		SELECT c.SalesRepId, SUM(c.AmtInvc), SUM(c.AmtPmt), SUM(tmp.AmtCogs), SUM(tmp.RepAmtPayOn), SUM(tmp.AmtLines)
		FROM dbo.tblArCommInvc c 
			INNER JOIN (SELECT c2.SalesRepID, MIN(c2.[Counter]) AS [Counter], SUM(c2.AmtCogs) AS AmtCogs
							, SUM(AmtLines + AmtTax + AmtFreight + AmtMisc) AS RepAmtPayOn, SUM(AmtLines) AS AmtLines 
					FROM dbo.tblArCommInvc c2 INNER JOIN #CalcCommAmts t ON c2.[Counter] = t.[Counter]
					GROUP BY c2.SalesRepID, c2.CustId, c2.InvcNum, c2.InvcDate) tmp 
				ON c.SalesRepId = tmp.SalesRepId And c.Counter = tmp.Counter
	GROUP BY c.SalesRepId

	-- return resultset
	SELECT s.RunCode, s.[Name], c.*, c.AmtCogs AS AmtCogs1, c.CompletedDate AS CompletedDate
		, t.NetSales, c.AmtLines - c.AmtCogs AS GrossProfit, t.BaseAmt AS CommBase, t.TotPoss AS CommPoss
		, t.Earned AS CommEarned, t.Earned + c.AmtAdjust - c.CommPaid AS CommDue
		, CASE WHEN PayLines <> 0 THEN 'Yes' ELSE 'No' END AS PayLinesYn
		, CASE WHEN PayTax <> 0 THEN 'Yes' ELSE 'No' END AS PayTaxYn
		, CASE WHEN PayFreight <> 0 THEN 'Yes' ELSE 'No' END AS PayFreightYn
		, CASE WHEN PayMisc <> 0 THEN 'Yes' ELSE 'No' END AS PayMiscYn
		, CASE WHEN HoldYn <> 0 THEN 'Yes' ELSE 'No' END AS TxtHoldYn 
		, r.RepAmtInvc, r.RepAmtPmt, r.RepAmtCogs, r.RepAmtLines - r.RepAmtCogs AS RepGrossProfit
		, tot.TotAmtInvc, tot.TotAmtPmt, tot.TotAmtCogs, tot.TotGrossProfit
	FROM #CalcCommAmts t 
		INNER JOIN dbo.tblArCommInvc c (NOLOCK) ON c.Counter = t.Counter 
		INNER JOIN dbo.tblArSalesRep s (NOLOCK) ON c.SalesRepID = s.SalesRepID
		INNER JOIN #RepTotals r on c.SalesRepId = r.SalesRepId
		CROSS JOIN (SELECT SUM(RepAmtInvc) TotAmtInvc
			, SUM(RepAmtPmt) TotAmtPmt
			, SUM(RepAmtCogs) TotAmtCogs
			, SUM(RepAmtLines - RepAmtCogs) TotGrossProfit 
			FROM #RepTotals) tot

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCommissionDetailList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCommissionDetailList_proc'
GO
