USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlTrialBalanceReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlTrialBalanceReport_proc] 
@FiscalYear smallint = 2009,  
@GlPeriod smallint = 11,  
@SortOrder varchar(80) = '1,2,3',  
@PrintByAccoutType bit = 0,  
@PrintZeroBalance bit = 0,  
@MultiCurrency bit = 1,  
@BaseCurrency [nvarchar](6) = 'USD',  
@BFRef int = 0, -- 0, Current Year; -1, Last Year;  
@BFType tinyint = 2, -- 0, Budget; 1, Forecast; 2, Actual;  
@PeriodsPerYear smallint = 12  
  
AS  
  
SET NOCOUNT ON  
BEGIN TRY  
  
 DECLARE @SortString varchar(255)  
 DECLARE @ctr smallint  
 DECLARE @ExchRate [decimal](28,10)
 DECLARE @CompID  sysname  
 DECLARE @sql varchar(8000)  
 DECLARE @CurrencyPrecision smallint  
 DECLARE @ClosingPeriod smallint  
  
 CREATE TABLE #AcctInfo  
 (  
  SortOrder1 [nvarchar](255) NULL,  
  SortOrder2 [nvarchar](255) NULL,  
  AcctId [nvarchar](255) NULL,  
  ActualBase [decimal](28,3) NULL,  
  Budget [decimal](28,3) NULL,  
  Forecast [decimal](28,3) NULL,  
  AcctTypeId smallint NULL,   
  CurrencyID [nvarchar](6) NULL,   
  Period smallint NULL  
 )  
  
 SET @sql = ''  
 SET @CompID = RIGHT(DB_NAME(), 3)
 SELECT @CurrencyPrecision = CurrDecPlaces FROM dbo.tblSmCurrency WHERE CurrID = @BaseCurrency  
  
 --assign the closing period based on the common periods per year  
 SET @ClosingPeriod = @PeriodsPerYear + 1  
  
 IF (@BFRef = -1)  
  SET @FiscalYear = @FiscalYear - 1  
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period)  
 SELECT h.AcctId, ISNULL(d.ActualBase, 0) AS Actual, 0 AS Budget, 0 AS Forecast, h.AcctTypeId, h.CurrencyID, d.Period   
  FROM #tmpAccountList m   
   INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
   LEFT JOIN   
   (  
    SELECT AcctId, ActualBase, Period   
    FROM dbo.tblGlAcctDtl WHERE [Year] = @FiscalYear AND Period <= @GlPeriod  
   ) d ON h.AcctId = d.AcctId   
  WHERE h.AcctTypeId < 900   
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period)  
 SELECT h.AcctId, 0 AS Actual, b.Budget, 0 AS Forecast, h.AcctTypeId, h.CurrencyID, b.Period   
  FROM #tmpAccountList m   
   INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
   INNER JOIN   
   (  
   SELECT dbf.AcctID, ISNULL(dbf.Amount, 0) AS Budget, dbf.GlPeriod AS Period   
   FROM dbo.tblGlAcctDtlBudFrcst dbf   
    INNER JOIN #tmpGLBudFrcstDescr t ON dbf.BFRef = t.BFRef   
    INNER JOIN #tmpGLBudFrcstComp c ON dbf.BFRef = c.BFRef   
   WHERE t.BFType = 0 AND dbf.BFRef = @BFRef AND c.CompID = @CompID   
    AND dbf.GlYear = @FiscalYear AND dbf.GlPeriod <= @GlPeriod   
  ) b ON h.AcctId = b.AcctId   
  WHERE h.AcctTypeId < 900   
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period)  
 SELECT h.AcctId, 0 AS Actual, 0 AS Budget, f.Forecast, h.AcctTypeId, h.CurrencyID, f.Period   
  FROM #tmpAccountList m   
   INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
   INNER JOIN   
   (  
   SELECT dbf.AcctID, ISNULL(dbf.Amount, 0) AS Forecast, dbf.GlPeriod AS Period   
   FROM dbo.tblGlAcctDtlBudFrcst dbf   
    INNER JOIN #tmpGLBudFrcstDescr t ON dbf.BFRef = t.BFRef   
    INNER JOIN #tmpGLBudFrcstComp c ON dbf.BFRef = c.BFRef   
   WHERE ABS(t.BFType) = 1 AND dbf.BFRef = @BFRef AND c.CompID = @CompID   
    AND dbf.GlYear = @FiscalYear AND dbf.GlPeriod <= @GlPeriod   
  ) f ON h.AcctId = f.AcctId   
  WHERE h.AcctTypeId < 900   
  
 SET @SortString = 'h.AcctId'  
 IF (@SortOrder <> '')  
 BEGIN  
  SET @SortString = ''  
   
  WHILE CHARINDEX(',',@SortOrder) <> 0  
  BEGIN  
   SET @ctr = CHARINDEX(',',@SortOrder)  
   IF LEN(@SortString) > 0 SET @SortString = @SortString + ' + '  
   SET @SortString = @SortString + 'h.Segment' + SUBSTRING(@SortOrder, 1, @ctr - 1)  
   SET @SortOrder = RIGHT(@SortOrder, LEN(@SortOrder) - @ctr )  
  END  
  SET @SortString = @SortString + ' + h.Segment' + @SortOrder  
 END  
  
 --pack the AcctTypeId with 0's for proper numeric sorting of report  
 SET @sql = 'UPDATE #AcctInfo SET SortOrder1 = CASE WHEN ' + STR(@PrintByAccoutType) + ' = 1 THEN RIGHT(REPLICATE(nchar(48), 6) + CAST(#AcctInfo.AcctTypeId AS nvarchar), 6) ELSE '   
 SET @sql = @sql + @SortString + ' END, SortOrder2 = ' + @SortString  
 SET @sql = @sql + ' FROM #AcctInfo INNER JOIN dbo.trav_GlAccountHeader_view h ON #AcctInfo.AcctId = h.AcctId'  
  
 EXECUTE (@sql)  
  
 UPDATE #AcctInfo SET   
  CurrencyID = @BaseCurrency  
  , Budget = ROUND(Budget * erates.[ExchRate], @CurrencyPrecision)  
  , Forecast = ROUND(Forecast * erates.[ExchRate], @CurrencyPrecision)   
 FROM #AcctInfo   
  LEFT JOIN   
   (  
   SELECT eh.[FiscalYear], eh.[FiscalPeriod], ed.[Rate] AS [ExchRate], ed.[Source]   
   FROM dbo.tblSmExchangeRate (NOLOCK) eh   
    INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID]   
   WHERE eh.[Type] = 1 AND ed.[Destination] = @BaseCurrency AND eh.[FiscalYear] = @FiscalYear  
   UNION ALL  
   SELECT @FiscalYear, 0, ed.[Rate] AS [ExchRate], ed.[Source]   
   FROM dbo.tblSmExchangeRate (NOLOCK) eh   
    INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID]   
   WHERE eh.[Type] = 1 AND ed.[Destination] = @BaseCurrency AND eh.[FiscalYear] = @FiscalYear - 1  
    AND eh.[FiscalPeriod] = @ClosingPeriod              
   ) erates   
   ON [Period] = erates.[FiscalPeriod] AND CurrencyID = erates.[Source]  
 WHERE CurrencyID <> @BaseCurrency AND Period IS NOT NULL  
   
  
 --generate an error when exchange rates are missing  
 IF EXISTS (SELECT * FROM #AcctInfo WHERE Budget IS NULL OR Forecast IS NULL) THROW 90027, N'Invalid exchange information.', 1  
 
 SELECT SortOrder1, SortOrder2, AcctId, [Desc], AcctTypeId, AcctTypeDesc, [Year], [Period] 
, YTDActualDebit, YTDActualCredit, YTDBudgetDebit, YTDBudgetCredit, YTDForecastDebit, YTDForecastCredit
, ActualDebit, ActualCredit, BudgetDebit, BudgetCredit, ForecastDebit, ForecastCredit

, SUM(YTDActualDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDActualDebit
, SUM(YTDActualCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDActualCredit
, SUM(YTDBudgetDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDBudgetDebit
, SUM(YTDBudgetCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDBudgetCredit
, SUM(YTDForecastDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDForecastDebit
, SUM(YTDForecastCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalYTDForecastCredit
, SUM(ActualDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalActualDebit
, SUM(ActualCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalActualCredit
, SUM(BudgetDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalBudgetDebit
, SUM(BudgetCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalBudgetCredit
, SUM(ForecastDebit) OVER(PARTITION BY AcctTypeId) SumSubtotalForecastDebit
, SUM(ForecastCredit) OVER(PARTITION BY AcctTypeId) SumSubtotalForecastCredit

, SUM(YTDActualDebit) OVER() SumYTDActualDebit
, SUM(YTDActualCredit) OVER() SumYTDActualCredit
, SUM(YTDBudgetDebit) OVER() SumYTDBudgetDebit
, SUM(YTDBudgetCredit) OVER() SumYTDBudgetCredit
, SUM(YTDForecastDebit) OVER() SumYTDForecastDebit
, SUM(YTDForecastCredit) OVER() SumYTDForecastCredit
, SUM(ActualDebit) OVER() SumActualDebit
, SUM(ActualCredit) OVER() SumActualCredit
, SUM(BudgetDebit) OVER() SumBudgetDebit
, SUM(BudgetCredit) OVER() SumBudgetCredit
, SUM(ForecastDebit) OVER() SumForecastDebit
, SUM(ForecastCredit) OVER() SumForecastCredit
 FROM ( 
 SELECT y.SortOrder1, y.SortOrder2, h.AcctId, h.[Desc], h.AcctTypeId, t.[Desc] AS AcctTypeDesc  
  , @FiscalYear AS [Year], @GlPeriod AS Period  
    
  , CASE WHEN h.BalType * YTDActual > 0 THEN h.BalType * YTDActual ELSE 0 END AS YTDActualDebit  
  , CASE WHEN h.BalType * YTDActual < 0 THEN -h.BalType * YTDActual ELSE 0 END AS YTDActualCredit  
    
  , CASE WHEN h.BalType * YTDBudget > 0 THEN h.BalType * YTDBudget ELSE 0 END AS YTDBudgetDebit  
  , CASE WHEN h.BalType * YTDBudget < 0 THEN -h.BalType * YTDBudget ELSE 0 END AS YTDBudgetCredit  
  , CASE WHEN h.BalType * YTDForecast > 0 THEN h.BalType * YTDForecast ELSE 0 END AS YTDForecastDebit  
  , CASE WHEN h.BalType * YTDForecast < 0 THEN -h.BalType * YTDForecast ELSE 0 END AS YTDForecastCredit  
    
  , CASE WHEN h.Baltype * ISNULL(p.Actual, 0) > 0 THEN h.Baltype * ISNULL(p.Actual, 0) ELSE 0 END AS ActualDebit  
  , CASE WHEN h.BalType * ISNULL(p.Actual, 0) < 0 THEN -h.BalType * ISNULL(p.Actual, 0) ELSE 0 END AS ActualCredit  
    
  , CASE WHEN h.BalType * ISNULL(p.Budget, 0) > 0 THEN h.BalType * ISNULL(p.Budget, 0) ELSE 0 END AS BudgetDebit  
  , CASE WHEN h.BalType * ISNULL(p.Budget, 0) < 0 THEN -h.BalType * ISNULL(p.Budget, 0) ELSE 0 END AS BudgetCredit  
  , CASE WHEN h.BalType * ISNULL(p.Forecast, 0) > 0 THEN h.BalType * ISNULL(p.Forecast, 0) ELSE 0 END AS ForecastDebit  
  , CASE WHEN h.BalType * ISNULL(p.Forecast, 0) < 0 THEN -h.BalType * ISNULL(p.Forecast, 0) ELSE 0 END AS ForecastCredit   
 FROM dbo.tblGlAcctHdr h   
  INNER JOIN  
  (  
   SELECT SortOrder1, SortOrder2, AcctId, SUM(ActualBase) AS YTDActual, SUM(Budget) AS YTDBudget, SUM(Forecast) AS YTDForecast   
   FROM #AcctInfo   
   GROUP BY SortOrder1, SortOrder2, AcctId  
  ) y ON h.AcctId = y.AcctId   
  LEFT JOIN  
  (  
   SELECT AcctId, SUM(ActualBase) AS Actual, SUM(Budget) AS Budget, SUM(Forecast) AS Forecast   
   FROM #AcctInfo   
   WHERE Period = @GlPeriod   
   GROUP BY AcctId  
  ) p ON h.AcctId = p.AcctId   
  INNER JOIN dbo.tblGlAcctType t ON h.AcctTypeId = t.AcctTypeId   
 WHERE CASE WHEN @PrintZeroBalance <> 0 THEN 1  
  ELSE CASE @BFType   
   WHEN 1 THEN ISNULL(ABS(p.Forecast), 0) + ABS(y.YTDForecast)   
   WHEN 0 THEN ISNULL(ABS(p.Budget), 0) + ABS(y.YTDBudget)   
   ELSE ISNULL(ABS(p.Actual), 0) + ABS(y.YTDActual) END   
  END <> 0 /*conditionally add criteria to filter out zero balance accounts*/) ds  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlTrialBalanceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlTrialBalanceReport_proc'
GO
