USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrQryPdDefBuildDateList]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrQryPdDefBuildDateList] 
@PdDefId nvarchar(10),   
@StartDate datetime  
as
Declare @IncUnit tinyint --0=daily, 1=Weekly, 2=Monthly  
Declare @Increment smallint  
Declare @NextDate datetime  
Declare @tmpDate datetime
declare @rowcount integer 
declare @rowNo integer

Set @NextDate= @StartDate
Select @rowCount= COUNT(1) from tblDrPeriodDefDtl Where PdDefId = @PdDefId
		Set @rowNo=1
		
		While (@rowNo<=@rowCount)
		Begin
		Select @tmpDate= Case IncUnit
				When 1 Then DateAdd(ww, Increment, @NextDate) --weekly
				When 2 Then DateAdd(mm, Increment, @NextDate) --monthly
				Else DateAdd(dd, Increment, @NextDate) --daily
				End from 
				 (select ROW_NUMBER() over(order by Period) As RowNumber, Increment,IncUnit  from tblDrPeriodDefDtl Where PdDefId = @PdDefId ) t
				 where RowNumber = @rowNo
	    
			Insert Into #DateList(IncDate, DaysInPd) values(@NextDate, Datediff(dd, @NextDate, @tmpDate))

			Select @NextDate = @tmpDate
			Set  @rowNo=@rowNo+1
		End

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrQryPdDefBuildDateList'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrQryPdDefBuildDateList'
GO
