USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrToolingWhereUsed_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrToolingWhereUsed_proc]

AS
SET NOCOUNT ON
BEGIN TRY

SELECT t.ToolingId, t.Descr, t.StorageLocation, t.VendorId, t.Qty, t.Cost
FROM dbo.tblMrTooling t INNER JOIN #tmpToolingWhereUsed tmp on t.ToolingId = tmp.ToolingId 

SELECT t.ToolingId, o.OperationId, o.Descr 
FROM #tmpToolingWhereUsed t INNER JOIN 
	(dbo.tblMrOperations o INNER JOIN dbo.tblMrOperationsTooling ot ON o.OperationId = ot.OperationId) 
		ON t.ToolingId = ot.ToolingId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrToolingWhereUsed_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrToolingWhereUsed_proc'
GO
