USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmWorkOrderPost_Clear_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmWorkOrderPost_Clear_proc] 
AS
BEGIN TRY
	UPDATE dbo.tblSmTransLink SET DestStatus = 1 
	WHERE DestId IN (SELECT TransId FROM dbo.#PostTransList) 
		AND DestType = 10
	
	DELETE FROM dbo.tblSmExchangeRateTrans
	WHERE TransKey IN (SELECT TransId FROM dbo.#PostTransList) AND TransType = 'BMWORKORDR'

	DELETE dbo.tblBmWorkOrderLot
	WHERE TransId IN (SELECT TransId FROM dbo.#PostTransList)

	DELETE dbo.tblBmWorkOrderSer
	WHERE TransId IN (SELECT TransId FROM dbo.#PostTransList)

	DELETE dbo.tblBmWorkOrderDetail
	WHERE TransId IN (SELECT TransId FROM dbo.#PostTransList)

	DELETE dbo.tblBmWorkOrder 
	WHERE TransId IN (SELECT TransId FROM dbo.#PostTransList)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_Clear_proc'
GO
