USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPaymentPost_Br_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPaymentPost_Br_proc]
AS
BEGIN TRY
DECLARE	@BAYn bit,@CurrBase pCurrency, @PrecCurr tinyint, @TransTypePayment nvarchar(10), @TransTypePrePayment nvarchar(10), @TransTypeInv  nvarchar(10)

	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @BAYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BAYn'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @TransTypePayment = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePayment' -- 'APPAYMENT'
	SELECT @TransTypePrePayment = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePrePayment' -- 'APPREPAY'

	IF @BAYn IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	IF @BAYn = 1 -- Payment to a credit card vendor
	BEGIN
		INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference, SourceApp, Amount
			, AmountFgn
			, TransDate, ClearedYn, CurrencyID
			, ExchRate
			, FiscalYear
			, GlPeriod, PaymentHistoryLink) 
		SELECT s.BankId, 2, d.PaymentNum, d.BankID, d.BankID, 'AP', SUM(d.PaymentAmtBase)
			, CASE WHEN d.PaymentCurrency <>  @CurrBase  
				   THEN SUM(d.PaymentAmt) 
				   ELSE SUM(d.PaymentAmtBase) 
			  END
			, d.PaymentDate, 0, s.CurrencyId
			, CASE WHEN s.CurrencyID <> @CurrBase 
				   THEN e.rate 
				   ELSE 1.0  
			  END
			, d.FiscalYear
			, d.FiscalPeriod, d.PaymentHistoryLink
		FROM #PaymentDetail d
		INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID		
		INNER JOIN dbo.tblSmBankAcct s ON v.VendorId = s.VendorId 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination
			AND @CurrBase = e.Source  
		WHERE d.PaymentAmt <> 0 AND s.AcctType = 1 AND d.PmtType = 0 
		GROUP BY s.BankId,d.BankID,d.PaymentNum,d.PaymentDate,s.CurrencyId, e.Rate
			, d.FiscalYear, d.FiscalPeriod,d.PaymentCurrency, d.PaymentHistoryLink
			
		--Prepaid
		INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference, SourceApp
			, Amount
			, AmountFgn
			, TransDate, ClearedYn, CurrencyID
			, ExchRate
			, FiscalYear, GlPeriod, PaymentHistoryLink) 
		SELECT s.BankId, 2, d.PaymentNum, d.BankID, d.BankID, 'AP'
			, SUM(d.GrossAmtDueBase - d.DiscTakenBase)
			, CASE WHEN s.CurrencyID <> @CurrBase 
				   THEN SUM(d.GrossAmtDue - d.DiscTaken) 
				   ELSE SUM(d.GrossAmtDueBase - d.DiscTakenBase) 
			  END
			, d.PaymentDate, 0, s.CurrencyId
			, CASE WHEN s.CurrencyId <> @CurrBase THEN e.Rate ELSE 1.0 END
			, d.FiscalYear, d.FiscalPeriod, d.PaymentHistoryLink
		FROM dbo.tblApVendor v 
		INNER JOIN #PaymentDetail d ON v.VendorID = d.VendorID
		INNER JOIN dbo.tblSmBankAcct s ON v.VendorId = s.VendorId 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination
			AND @CurrBase = e.Source 		
		WHERE PaymentAmt <> 0 AND d.Status = 3  AND s.AcctType = 1 AND d.PmtType = 3
		GROUP BY s.BankId,d.BankID,d.PaymentNum,d.PaymentDate,s.CurrencyId, e.Rate
			, d.FiscalYear, d.FiscalPeriod, d.PaymentHistoryLink
		
		--Get biggest ACHBatch value.  Add 1 to it for each batch being posted into tblBrMaster
		DECLARE @MaxACH bigint
		SET @MaxACH=ISNULL((SELECT MAX(ACHBatch) FROM tblBrMaster),0)

		/* update Bank Reconciliation table (tblBrMaster) for ACH Payment */	
		INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID, Descr
			, Reference, SourceApp, Amount
			, AmountFgn
			, TransDate, ClearedYn, CurrencyID
			, ExchRate
			, FiscalYear, GlPeriod, ACHBatch
			, PaymentHistoryLink) 
		SELECT d.BankId,-1, d.PaymentNum, CASE WHEN ISNULL(v.PayToName,'') = '' THEN v.[Name] ELSE v.PayToName END
			, d.VendorID, 'AP', -SUM(d.PaymentAmtBase)
			, CASE WHEN d.PaymentCurrency <> @CurrBase THEN -SUM(d.PaymentAmt) ELSE -SUM(d.PaymentAmtBase) END
			, d.PaymentDate, 0, d.PaymentCurrency
			, CASE WHEN d.PaymentCurrency <>@CurrBase THEN  e.Rate ELSE 1.0  END
			, d.FiscalYear, d.FiscalPeriod
			, CASE d.DeliveryType WHEN 1 THEN isnull(dd.MaxACH,CAST(d.PaymentControlID AS bigint) * POWER(10,9) + ISNULL(d.ACHBatch,0)) ELSE NULL END 
			, d.PaymentHistoryLink
		FROM #PaymentDetail d		
		INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination 
			AND @CurrBase = e.Source		
		LEFT JOIN (Select d.PaymentControlID, @MaxACH + ROW_NUMBER() OVER (ORDER BY PaymentControlID) as MaxACH from #PaymentDetail d group by d.PaymentControlId) dd on dd.PaymentControlID = d.PaymentControlID
		WHERE  d.PaymentAmt <> 0	AND d.Status =0
		GROUP BY d.BankId,d.VendorId,v.[Name],v.PayToName,d.PaymentNum,d.PaymentDate,d.PaymentCurrency, e.Rate
		, d.FiscalYear, d.FiscalPeriod, d.DeliveryType,d.PaymentControlID,d.ACHBatch, d.PaymentHistoryLink, dd.MaxACH
	END
	ELSE
	BEGIN
		 /* update Bank Reconciliation table (tblBrMaster) */
		INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID
			, Descr, Reference, SourceApp, Amount
			, AmountFgn
			,TransDate, ClearedYn, CurrencyID
			, ExchRate, FiscalYear, GlPeriod, PaymentHistoryLink) 
		SELECT d.BankId, -1, d.PaymentNum
			, CASE WHEN ISNULL(v.PayToName,'') = '' THEN v.[Name] ELSE v.PayToName END, d.VendorID, 'AP', -SUM(d.PaymentAmtBase)
			, CASE WHEN d.PaymentCurrency <>  @CurrBase  THEN -SUM(d.PaymentAmt) ELSE -SUM(d.PaymentAmtBase) END
			, d.PaymentDate, 0, d.PaymentCurrency
			, CASE WHEN d.PaymentCurrency <> @CurrBase 
				   THEN e.Rate ELSE 1.0  END
			, d.FiscalYear
			, d.FiscalPeriod, d.PaymentHistoryLink
		FROM #PaymentDetail d
		INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination
			AND @CurrBase = e.Source 			
		WHERE d.PaymentAmt <> 0 AND d.Status = 0
		GROUP BY d.BankId,d.VendorId,v.[Name],v.PayToName,d.PaymentNum,d.PaymentDate,d.PaymentCurrency, e.Rate
		, d.FiscalYear, d.FiscalPeriod, d.PaymentHistoryLink
	END
	
	 /* update Bank Reconciliation table (tblBrMaster) with prepaid info */
	INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID, Descr
		, Reference, SourceApp
		, Amount, AmountFgn
		, TransDate, ClearedYn, CurrencyID
		, ExchRate
		, FiscalYear, GlPeriod, PaymentHistoryLink) 
	SELECT d.BankId, -1, d.PaymentNum, CASE WHEN ISNULL(v.PayToName,'') = '' THEN v.[Name] ELSE v.PayToName END
		, d.VendorID, 'AP'
		, -SUM(d.GrossAmtDueBase - d.DiscTakenBase)		
		, -(CASE WHEN d.PaymentCurrency <> @CurrBase 
				THEN SUM(d.GrossAmtDue - d.DiscTaken) 
				ELSE SUM(d.GrossAmtDueBase - d.DiscTakenBase) 
			END)
		, d.PaymentDate, 0, d.PaymentCurrency
		, CASE WHEN d.PaymentCurrency <> @CurrBase THEN e.Rate ELSE 1.0 END
		, d.FiscalYear, d.FiscalPeriod, d.PaymentHistoryLink 
	FROM dbo.tblApVendor v 
	INNER JOIN #PaymentDetail d ON v.VendorID = d.VendorID
	LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
		AND d.TransType = e.TransType 
		AND d.PaymentCurrency = e.Destination
		AND @CurrBase = e.Source 		
	WHERE d.PaymentAmt <> 0 AND d.Status = 3 
	GROUP BY d.BankId,d.VendorId,v.[Name],v.PayToName,d.PaymentNum,d.PaymentDate,d.PaymentCurrency, e.Rate
		, d.FiscalYear, d.FiscalPeriod, d.BatchId, d.PaymentHistoryLink

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Br_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Br_proc'
GO
