USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsLayawayPost_ACH_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsLayawayPost_ACH_proc]
AS
BEGIN TRY
	DECLARE @PostRun [nvarchar](14)
	DECLARE @TransType nvarchar(10)
	DECLARE @CurrBase [nvarchar](6)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PSTRANS'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @PostRun IS NULL OR  @TransType IS NULL  OR @CurrBase IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #Payment
    (
		  BankID [nvarchar](10) NOT NULL
		, CustID [nvarchar](10) NULL
		, BankName nvarchar(60)
		, BankRoutingCode nvarchar(18)
		, BankAcctNum [nvarchar](255) NULL 		
		, PaymentAmount [decimal](28,10) NULL
		, PmtDate datetime
    )

	 INSERT INTO #Payment (BankID, CustID, BankName, BankRoutingCode, BankAcctNum,  PaymentAmount,PmtDate)
	 SELECT m.BankID, p.CustID, p.BankName, p.BankRoutingCode, p.BankAcctNum  --only supporting checking acct type
		, CASE WHEN b.CurrencyID = @CurrBase THEN p.AmountBase
			 ELSE ROUND(p.AmountBase * er.Rate, er.CurrDecPlaces) END AS PaymentAmount --Use base currency for values outside POS - exchange from base when needed
		, p.PmtDate
	FROM #PsLayawayPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	INNER JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
	INNER JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId 	
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE er.TransType = @TransType AND er.[Source] = @CurrBase --payment exchanged from base
	) er  ON er.Destination = b.CurrencyId AND er.TransKey = @PostRun
	WHERE p.VoidDate IS NULL AND p.PmtType = 6 --direct debits only

	IF  EXISTS (SELECT * FROM #Payment t WHERE  t.PaymentAmount IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	INSERT INTO dbo.tblArPaymentACH (BankID, CustID, CustomerName, CustomerBankName, CustomerRoutingCode, CustomerAccountNumber, CustomerAcctType, 
		PaymentAmount, PaymentDate, PostRun, TransID, TransactionType)
	SELECT p.BankID, p.CustID, c.CustName, p.BankName, p.BankRoutingCode, p.BankAcctNum, 0 --only supporting checking acct type
		, p.PaymentAmount
		, p.PmtDate, @PostRun, 'PS', 27 --27=demand debit
	FROM #Payment p
	LEFT JOIN dbo.tblArCust c ON p.CustID = c.CustId
	WHERE PaymentAmount <> 0
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_ACH_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_ACH_proc'
GO
