USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InGrossProfitAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InGrossProfitAnalysisReport_proc]
@HistoryPeriod SMALLINT,
@FiscalYear SMALLINT,
@ProfitPercentFrom pDecimal,
@ProfitPercentThru pDecimal,
@SortBy TINYINT,
@SortOrder  TINYINT
AS
SET NOCOUNT ON
BEGIN TRY

	--SortBy added
	SELECT 
	CASE @SortBy
	WHEN 0 THEN CAST(i.ItemId AS NVARCHAR)
	WHEN 1 THEN CAST(l.LocId AS NVARCHAR)
	WHEN 2 THEN CAST(i.ProductLine AS NVARCHAR) END AS SortBy,
		CASE @SortOrder
	WHEN 0 THEN CAST(((s.TotSold-s.TotRetSold-s.CostSold+s.CostRetSold)/(CASE WHEN s.TotSold-s.TotRetSold = 0 THEN 1 
	            ELSE s.TotSold-s.TotRetSold END))*100 AS FLOAT) ELSE 0 END AS SortBy1,
	CASE @SortOrder
	WHEN 1 THEN CAST(((s.TotSold-s.TotRetSold-s.CostSold+s.CostRetSold)/(CASE WHEN s.TotSold-s.TotRetSold = 0 THEN 1 
	            ELSE s.TotSold-s.TotRetSold END))*100 AS FLOAT) ELSE 0 END  AS SortBy2,
	i.ItemId,l.LocId,ISNULL(i.ProductLine,'') AS ProductLineZls,ISNULL(i.UsrFld1,'') AS UsrFld1Zls,ISNULL(i.UsrFld2,'') AS UsrFld2Zls,
	i.Descr,CAST(s.CostSold-s.CostRetSold AS FLOAT) AS TotCost,CAST(s.TotSold-s.TotRetSold AS FLOAT) AS TotPrice,
	CAST(s.TotSold-s.TotRetSold-s.CostSold+s.CostRetSold AS FLOAT) AS GrossProfit,
	CAST(((s.TotSold-s.TotRetSold-s.CostSold+s.CostRetSold)/(CASE WHEN s.TotSold-s.TotRetSold = 0 THEN 1 
	ELSE s.TotSold-s.TotRetSold END))*100 AS FLOAT) AS GrossProfitPct
	FROM #tmpItemLocationList t 
	INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId 
	INNER JOIN dbo.tblInItem i ON l.ItemId = i.ItemId
	INNER JOIN 
	( SELECT  SUM(CASE WHEN Source BETWEEN 80 AND 84 THEN CostExt ELSE 0 END)  CostSold
		, SUM(CASE WHEN Source BETWEEN 30 AND 32 THEN CostExt ELSE 0 END)  CostRetSold 
		, SUM(CASE WHEN Source BETWEEN 80 AND 84 THEN PriceExt ELSE 0 END)  TotSold
		, SUM(CASE WHEN Source BETWEEN 30 AND 32 THEN PriceExt ELSE 0 END)  TotRetSold
		, SumYear, GlPeriod AS SumPeriod, ItemId, LocId 
	  FROM dbo.tblInHistDetail d	
	  WHERE  d.TransType IN(3,4) AND (Qty <> 0 OR CostExt <> 0 OR PriceExt <> 0) AND d.DeleteDate IS NULL 
	  GROUP BY SumYear, GlPeriod, ItemId, LocId
	) s
	ON l.LocId = s.LocId AND l.ItemId = s.ItemId 
	WHERE s.SumYear = @FiscalYear AND s.SumPeriod = @HistoryPeriod AND ((s.TotSold-s.TotRetSold-s.CostSold+s.CostRetSold)/(CASE WHEN s.TotSold-s.TotRetSold = 0 THEN 1 ELSE s.TotSold-s.TotRetSold END))*100 BETWEEN @ProfitPercentFrom AND @ProfitPercentThru
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH




GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InGrossProfitAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InGrossProfitAnalysisReport_proc'
GO
