USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcGetPartnerShipMethod_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcGetPartnerShipMethod_proc] 
   @DocId bigInt,
   @PartnerID bigInt=0, 
   @ShipMethodFrom nvarchar(50)='',
   @ShipMethodTo nvarchar(50) =''  OUT, 
   @ShipMethodDescr nvarchar(50)=''  OUT ,
   @SCAC nvarchar(10) =''  OUT,
   @AltShipCode nvarchar(50)=''  OUT,
   @MaxWeight pDecimal=0 OUT,
   @MaxValue pDecimal=0 OUT
AS 

   SET NOCOUNT ON  

BEGIN TRY
   DECLARE @DocDirection smallint , @Document nvarchar(6)

   CREATE TABLE #t(id int IDENTITY (1,1), DocId nvarchar(6),PartnerId bigInt,ShipMethodFrom nvarchar (50),ShipMethodTo nvarchar (50), SourceDocId bigInt,SourceShipMethodFrom nvarchar(50) )

   SELECT @DocDirection=DocDirection, @Document=DocId FROM tblEcDocument WHERE ID=@DocId
   IF @DocDirection IS NULL SET @DocDirection=-1

   IF @DocDirection=0 
   BEGIN
      INSERT INTO #t(DocId,PartnerId,ShipMethodFrom,ShipMethodTo,SourceDocId,SourceShipMethodFrom)
      SELECT @Document,sm.PartnerID,sm.ShipMethodCodeFrom,sm.ShipMethodCodeTo, sm.DocId,sm.ShipMethodCodeFrom
      FROM tblEcPartnerShipMethod sm
      WHERE (sm.PartnerID=@PartnerID OR ISNULL(@PartnerID,'')='') AND  (sm.ShipMethodCodeFrom=@ShipMethodFrom OR ISNULL(@ShipMethodFrom,'')='')  AND  sm.DocId=@DocId

      IF @Document<>'850-I'
      BEGIN
         INSERT INTO #t(DocId,PartnerId,ShipMethodFrom,ShipMethodTo,SourceDocId,SourceShipMethodFrom)
         SELECT @Document,sm.PartnerID,sm.ShipMethodCodeFrom,sm.ShipMethodCodeTo, sm.DocId,sm.ShipMethodCodeFrom
         FROM tblEcPartnerShipMethod sm
		 INNER JOIN tblEcDocument d on d.ID = sm.DocId
         LEFT JOIN #t t ON sm.PartnerID=t.PartnerId AND sm.ShipMethodCodeFrom=t.ShipMethodFrom
         WHERE t.ShipMethodFrom  IS NULL AND (sm.PartnerID=@PartnerID OR ISNULL(@PartnerID,'')='') AND  (sm.ShipMethodCodeFrom=@ShipMethodFrom OR ISNULL(@ShipMethodFrom,'')='')  AND  d.DocId='850-I'
      END
   END
   ELSE IF @DocDirection=1 
   BEGIN
      INSERT INTO #t(DocId,PartnerId,ShipMethodFrom,ShipMethodTo,SourceDocId,SourceShipMethodFrom)
      SELECT @Document,sm.PartnerID,sm.ShipMethodCodeFrom,sm.ShipMethodCodeTo, sm.DocId,sm.ShipMethodCodeFrom
      FROM tblEcPartnerShipMethod sm
      WHERE (sm.PartnerID=@PartnerID OR @PartnerID IS NULL) AND  (sm.ShipMethodCodeFrom=@ShipMethodFrom OR ISNULL(@ShipMethodFrom,'')='')  AND  sm.DocId=@DocId 

      IF @Document='856-O'
      BEGIN
         INSERT INTO #t(DocId,PartnerId,ShipMethodFrom,ShipMethodTo,SourceDocId,SourceShipMethodFrom)
         SELECT @Document,sm.PartnerID,sm.ShipMethodCodeFrom,sm.ShipMethodCodeTo,sm.DocId,sm.ShipMethodCodeFrom
         FROM tblEcPartnerShipMethod sm
         LEFT JOIN #t t ON sm.PartnerID=t.PartnerId AND sm.ShipMethodCodeFrom=t.ShipMethodFrom
	     INNER JOIN tblEcDocument d on d.ID = sm.DocId
         WHERE t.ShipMethodFrom  IS NULL AND (sm.PartnerID=@PartnerID OR ISNULL(@PartnerID,'')='') AND  (sm.ShipMethodCodeFrom=@ShipMethodFrom OR ISNULL(@ShipMethodFrom,'')='')  AND  d.DocId='810-O'
      END

      -- reverse the from and the to
      INSERT INTO #t(DocId,PartnerId,ShipMethodFrom,ShipMethodTo,SourceDocId,SourceShipMethodFrom)
      SELECT @Document,sm.PartnerID,sm.ShipMethodCodeTo,sm.ShipMethodCodeFrom, sm.DocId,sm.ShipMethodCodeFrom
      FROM tblEcPartnerShipMethod sm
      LEFT JOIN #t t ON sm.PartnerID=t.PartnerId AND sm.ShipMethodCodeTo=t.ShipMethodFrom
	  INNER JOIN tblEcDocument d on d.ID = sm.DocId
      WHERE t.ShipMethodFrom  IS NULL AND (sm.PartnerID=@PartnerID OR ISNULL(@PartnerID,'')='') AND  (sm.ShipMethodCodeTo=@ShipMethodFrom OR ISNULL(@ShipMethodFrom,'')='')  AND  d.DocId='850-I' 
   END 

   SELECT t.PartnerId,t.DocId,t.ShipMethodFrom,t.ShipMethodTo,sm.PartnerShipMethodDescr,sm.SCAC,sm.AltShipCode,sm.MaxWeight,sm.MaxValue,t.SourceDocId
   FROM (SELECT PartnerId,DocId,ShipMethodFrom,MIN(ID) MinID
         FROM #t
         GROUP BY PartnerId,DocId,ShipMethodFrom) tt
   INNER JOIN #t t ON tt.MinId=t.Id
   INNER JOIN tblEcPartnerShipMethod sm ON t.SourceDocId=sm.DocId AND t.PartnerId=sm.PartnerID AND  t.SourceShipMethodFrom=sm.ShipMethodCodeFrom

   IF ISNULL(@Document,'')<>'' AND ISNULL(@PartnerID,'')<>'' AND ISNULL(@ShipMethodFrom,'')<>'' 
   BEGIN
      SELECT @ShipMethodTo=t.ShipMethodTo,@ShipMethodDescr=sm.PartnerShipMethodDescr,@SCAC=sm.SCAC,@AltShipCode=sm.AltShipCode,@MaxWeight=sm.MaxWeight,@MaxValue=sm.MaxValue
      FROM (SELECT MIN(ID) MinID
            FROM #t) tt
      INNER JOIN #t t ON tt.MinId=t.Id
      INNER JOIN tblEcPartnerShipMethod sm ON t.SourceDocId=sm.DocId AND t.PartnerId=sm.PartnerID AND  t.SourceShipMethodFrom=sm.ShipMethodCodeFrom 
   END

   SELECT @ShipMethodTo=ISNULL(@ShipMethodTo,''),
          @ShipMethodDescr=ISNULL(@ShipMethodDescr,''),
          @SCAC=ISNULL(@SCAC,''),
          @AltShipCode=ISNULL(@AltShipCode,''),
          @MaxWeight=ISNULL(@MaxWeight,0),
          @MaxValue=ISNULL(@MaxValue,0)

   END TRY
BEGIN CATCH
   EXEC dbo.trav_RaiseError_proc 
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetPartnerShipMethod_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetPartnerShipMethod_proc'
GO
