USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPaymentRemitImportProcessAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPaymentRemitImportProcessAPT_proc]
   @ImportBatchId nvarchar(14),  
   @FileSeq int=0  
AS
SET NOCOUNT ON       

BEGIN TRY
	DECLARE @i int,  
		@key1 nvarchar(50), @key2 nvarchar(50), @key3 nvarchar(50), @key4 nvarchar(50), @key5 nvarchar(50), 
		@key1Save nvarchar(50), @key2Save nvarchar(50), @key3Save nvarchar(50), @key4Save nvarchar(50), @key5Save nvarchar(50), 
		@key1Seq int, @key2Seq int, @key3Seq int, @key4Seq int, @key5Seq int, 
		@cImportBatchId nvarchar(14), @cImportBatchIdSave nvarchar(14), @cFileSeq int, @cFileSeqSave int, @DocId nvarchar(6), @EdiDocNum nvarchar(3), @Segment nvarchar(10), @DocSeq int, 
		@RetSeq int, @DocAlreadyprocessed int, @CrDbAdjDocumentId bigint

	-- return 0
	DECLARE @NumOfCrDbAdj int, @NumOfDocLines int, @NumOfDocSubLines int, @CurrDocSeq int, @CurDocLine int, @CurDocSubLine int, @CurrAddressSeq int, @CurrISASeq int, @CurrGSSeq int  
  
	-- control   
	DECLARE @ISAControlNum nvarchar(50), @GSControlNum nvarchar(50), @STControlNum nvarchar(50), @DocumentId bigint
  
	-- header   
	DECLARE @KeyLevelSeq1 int, @DocKey nvarchar(50), @SenderID nvarchar(50), @ReceiverID nvarchar(50), @PaymentMethod nvarchar(50), @PaymentAmt nvarchar(50), @CreditDebitFlag nvarchar(50), 
		@PaymentDate datetime, @ReferenceNum nvarchar(50), @PayerName nvarchar(50), @GLNCode nvarchar(50), @PayeeName nvarchar(50), @InternalVendorNum nvarchar(50), @PartnerID bigint, 
		@CustID nvarchar(50), @TravRcptHeaderID int, @ImportDate datetime, @CF_header xml
   
	-- detail
	DECLARE @KeyLevelSeq2 int, @TypeFlag nvarchar(50), @EDIInvcNum nvarchar(50), @AmountPaid nvarchar(50), @OrigAmount nvarchar(50), @TermsDiscountTaken nvarchar(50), 
		@Department nvarchar(50), @MerchandiseTypeCode nvarchar(50), @PONumber nvarchar(50), @PaymentMicrofilmNumber nvarchar(50), @Division nvarchar(200), @StoreNumber nvarchar(50), 
		@InvoiceDate datetime, @AdjAmount nvarchar(50), @AdjCode nvarchar(50), @AdjReason nvarchar(50), @AdjInvcNum nvarchar(50), @CrossRefNumber nvarchar(50), @AdjMicrofilmNum nvarchar(50),
		@CF_detail xml

         

	SET  @DocId='820-I'  

	SELECT @DocumentId=ID, @EdiDocNum=ISNULL(DocID,'') 
	FROM tblEcDocument   
	WHERE DocId=@DocId  

	CREATE TABLE #tSeq (AutoId int IDENTITY(1,1), ImportBatchId nvarchar(14), FileSeq int, RecSeq int, TempTblKey int, Segment nvarchar(10), DocSeq int, RetSeq int, KeyLevel int, Key1 nvarchar(100), Key2 nvarchar(100), Key3 nvarchar(100), Key4 nvarchar(100), Key5 nvarchar(100), Seq1 int, Seq2 int, Seq3 int, Seq4 int, Seq5 int)  
	CREATE TABLE #tKey (TempTblKey int, KeyLevel int)   


	INSERT INTO #tSeq (ImportBatchId, FileSeq, RecSeq, TempTblKey, Segment, Key1, Key2, Key3, Key4, Key5)  
	SELECT DISTINCT ImportBatchId, FileSeq, RecSeq, t.Id, Fld01, '' Key1, '' Key2,'' Key3,'' Key5,'' Key5  
	FROM tblEcTempImport t
	WHERE t.DocId=@DocumentId AND ImportBatchId=@ImportBatchId AND (FileSeq=@FileSeq OR @FileSeq=0)  
	ORDER BY ImportBatchId, FileSeq, RecSeq  

  
	SELECT @i=1,
		@key1Save = '^',
		@key2Save = '^',
		@key3Save = '^',
		@key4Save = '^',
		@key5Save = '^',
		@key1Seq = 0,
		@key2Seq = 0,
		@key3Seq = 0,
		@key4Seq = 0,
		@key5Seq = 0,
		@cImportBatchId = '',
		@cImportBatchIdSave = '^',
		@cFileSeq = 0,
		@cFileSeqSave = 0,  
		@cFileSeqSave = 0,  
		@DocSeq=0,  
		@RetSeq=0  
  
	WHILE @i<=(SELECT MAX(AutoId) FROM #tSeq)  
	BEGIN  
   
		SELECT @cImportBatchId=ImportBatchid, @cFileSeq=FileSeq, @Segment=Segment, @key1=Key1, @key2=Key2, @key3=Key3, @key4=Key4, @key5=Key5
		FROM #tSeq
		WHERE AutoId=@i
      
		IF @cImportBatchId<>@cImportBatchIdSave AND @cImportBatchIdSave<>'^'
		BEGIN  
			SELECT @key1Save='^'  
			SELECT @key1Seq=MAX(KeyLevelSeq1) FROM tblEcPaymentRemitHeader WHERE ImportBatchId=@ImportBatchId  
			SELECT @key1Seq=ISNULL(@key1Seq,0)+1  
			SET @cImportBatchIdSave=@cImportBatchId  
		END  

		IF @Segment='HDR' OR @cFileSeq<>@cFileSeqSave  
		BEGIN  
			SET @key1Seq=@key1Seq+1
			SET @key1Save=ISNULL(@key1,'')
			SET @cFileSeqSave=@cFileSeq
			SET @key2Seq=0
			SET @key2Save='^'
			SET @DocSeq=@DocSeq+1
		END  

		IF @Segment='DTL'
		BEGIN    
			SET @RetSeq=@RetSeq+1  
		END  
		ELSE IF @RetSeq>0  
		BEGIN   
			IF @Segment <>'DTL'
			BEGIN  
			SET @RetSeq=0  
			END  
		END  
	
		IF @Segment='DT1'  
		BEGIN  
			SET @key2Seq=@key2Seq+1  
			SET @key2Save=ISNULL(@key2,'')  
  
			SELECT @key3Save='^',@key3Seq=0  
		END  

		UPDATE #tSeq
		SET Seq1=@key1Seq, Seq2=@key2Seq, Seq3=@key3Seq, Seq4=@key4Seq, Seq5=@key5Seq, DocSeq=@DocSeq, RetSeq=@RetSeq  
		WHERE AutoId=@I  
  
		SET @i=@i+1 
	  
	END   ----End While
  
  
	INSERT INTO #tKey(TempTblKey,KeyLevel)
	SELECT MIN(TempTblKey),1
	FROM #tSeq s
	GROUP BY ImportBatchId,Seq1

	-- Header Loop  
	DECLARE @lastMailContolId bigint,@lastHeaderId bigint, @lastDetailID bigint,@lastEcCommId bigint
	SET @CurrDocSeq=1   
	SELECT @NumOfCrDbAdj=MAX(DocSeq) FROM #tSeq  

	--Generate new Header ID
	SELECT @lastHeaderId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	--Generate new Detail ID
	SELECT @lastDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	--Generate new Mail Control ID
	SELECT @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	----Generate new EcComm ID
	SELECT @lastEcCommId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	WHILE @CurrDocSeq<=@NumOfCrDbAdj  
	BEGIN  
  
		SET @CurDocLine=1  
  
		-- reset   
		SELECT @ISAControlNum =null, @GSControlNum=null, @STControlNum=null, @KeyLevelSeq2=0

		SELECT @NumOfDocLines=MAX(Seq2)   
		FROM #tSeq   
		WHERE DocSeq=@CurrDocSeq   

		SELECT @DocAlreadyprocessed=MAX(KeyLevelSeq1)  
		FROM  tblEcMailControl m
		WHERE m.DocId=@DocumentId AND m.ImportBatchId=@ImportBatchId GROUP BY m.ImportBatchId
		SELECT @DocAlreadyprocessed=ISNULL(@DocAlreadyprocessed,0)

		SELECT @ImportBatchId=ti.ImportBatchId, @KeyLevelSeq1=t.DocSeq+@DocAlreadyprocessed, @SenderId=ti.Fld14, @ISAControlNum=ti.Fld16, @GSControlNum=ti.Fld17, @STControlNum=ti.Fld18, 
			@PaymentMethod=ti.Fld03, @PaymentAmt=ti.Fld05, @CreditDebitFlag=ti.Fld12, @PaymentDate=ti.Fld15, @ReferenceNum=ti.Fld06, @PayerName=ti.Fld11, @GLNCode=null, @PayeeName=ti.Fld08, 
			@InternalVendorNum=ti.Fld10, @PartnerID=null, @CustID=null, @ImportDate=ti.ImportDate, @TravRcptHeaderID=null, @CF_header=null, @DocKey = ti.Fld20
		FROM #tSeq t  
			INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='HDR'

		SELECT @ReceiverID=ti.Fld02
		FROM #tSeq t  
			INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='DTL'

		SELECT @PaymentAmt=CASE WHEN ISNULL(@PaymentAmt,'')=''THEN '0' ELSE @PaymentAmt END
		SELECT @PaymentDate=CASE WHEN ISNULL(@PaymentDate,'')='' OR ISDATE(@PaymentDate)=0 THEN NULL ELSE CAST(@PaymentDate AS DATETIME) END

		SET @lastHeaderId = @lastHeaderId + 1

		INSERT INTO tblEcPaymentRemitHeader(ID, ImportBatchId, KeyLevelSeq1, DocKey, SenderID, ReceiverID, ISAControlNum, GSControlNum, STControlNum, PaymentMethod, PaymentAmt, 
			CreditDebitFlag, PaymentDate, ReferenceNum, PayerName, GLNCode, PayeeName, InternalVendorNum, PartnerID, CustID, ImportDate, TravRcptHeaderID, CF)
		VALUES (@lastHeaderId, @ImportBatchId, @KeyLevelSeq1, @DocKey, @SenderID, @ReceiverID, @ISAControlNum, @GSControlNum, @STControlNum, @PaymentMethod, @PaymentAmt, 
			@CreditDebitFlag, @PaymentDate, @ReferenceNum, @PayerName, @GLNCode, @PayeeName, @InternalVendorNum, @PartnerID, @CustID, @ImportDate, @TravRcptHeaderID, @CF_header)

		SET @lastEcCommId = @lastEcCommId + 1

		SET @lastMailContolId = @lastMailContolId + 1
		  
		INSERT INTO tblEcMailControl (ID, ImportBatchId, KeyLevelSeq1, PartnerId, DocId, EdiDocNum, DocKey, SenderID, ISAControlNum, GSControlNum, STControlNum)  
		VALUES(@lastMailContolId, @ImportBatchId, @KeyLevelSeq1, NULL, @DocumentId, '812', @DocKey, @SenderID, @ISAControlNum, @GSControlNum, @STControlNum)
	 

		-- Detail Loop
		WHILE @CurDocLine<=@NumOfDocLines  
		BEGIN  
		  	
		SET @lastDetailID = @lastDetailID + 1

		SET @KeyLevelSeq2=@KeyLevelSeq2+1  

		SELECT @lastDetailID=(@lastDetailID + ROW_NUMBER() OVER (ORDER BY t.ImportBatchId,t.Seq1)), @TypeFlag=null, @EDIInvcNum=ti.Fld10, @AmountPaid=ISNULL(ti.Fld11,ti.Fld13), 
			@OrigAmount=ISNULL(ti.Fld12,ti.Fld13), @TermsDiscountTaken=CASE WHEN ISNULL(ti.Fld11,'') ='' THEN '0' ELSE ti.Fld13 END, @Department=ti.Fld16, @MerchandiseTypeCode=null, @PONumber=ti.Fld18, @PaymentMicrofilmNumber=null, 
			@Division=null, @StoreNumber=ti.Fld17, @InvoiceDate=ti.Fld07, @AdjAmount=ti.Fld20, @AdjCode=ti.Fld14, @AdjReason=ti.Fld15, @CrossRefNumber=null, @AdjMicrofilmNum=null
		FROM #tSeq t  
		INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND t.Seq2=@CurDocLine AND ti.Fld01='DT1'    
 

		SELECT @AmountPaid=CASE WHEN ISNULL(@AmountPaid,'')=''THEN '0' ELSE @AmountPaid END
		SELECT @OrigAmount=CASE WHEN ISNULL(@OrigAmount,'')=''THEN '0' ELSE @OrigAmount END
		SELECT @TermsDiscountTaken=CASE WHEN ISNULL(@TermsDiscountTaken,'')=''THEN '0' ELSE @TermsDiscountTaken END
		SELECT @AdjAmount=CASE WHEN ISNULL(@AdjAmount,'')=''THEN '0' ELSE @AdjAmount END

		-- truncate invoices imported with length > 15 -- 8/29/24
		SELECT @EDIInvcNum=RIGHT(@EDIInvcNum,15) 

		-- some credits have a discount in the import file, which duplicates the credit taken
		-- these will have no PO number in the file, so in such a case set TermsDiscountTaken to 0  -- 8/29/24
		SELECT @TermsDiscountTaken=CASE WHEN CAST(@AmountPaid as decimal(28,10)) < 0 
			THEN CASE ISNULL(@PONumber,'') WHEN '' THEN '0' ELSE @TermsDiscountTaken END ELSE @TermsDiscountTaken END
		
		-- if PONumber is NA use the EDIInvcNum rather than NA
		SELECT @PONumber=CASE WHEN ISNULL(@PONumber,'') = 'NA' THEN @EDIInvcNum ELSE @PONumber END  -- 7/11/24
			
		-- 7/11/24 - use EDIInvcNum as PONumber if PONumber is blank (EDIInvcNum looks to be a valid PONumber in the file)			
		INSERT INTO dbo.tblEcPaymentRemitDetail(ID, HeaderID, KeyLevelSeq2, DocKey, SenderID, ReceiverID, ISAControlNum, GSControlNum, STControlNum, TypeFlag, EDIInvcNum, 
			AmountPaid, OrigAmount, TermsDiscountTaken, Department, MerchandiseTypeCode, PONumber, PaymentMicrofilmNumber, Division, StoreNumber, InvoiceDate, 
			AdjAmount, AdjCode, AdjReason, AdjInvcNum, CrossRefNumber, AdjMicrofilmNum, CF)
		VALUES (@lastDetailID, @lastHeaderId, @KeyLevelSeq2, @DocKey, @SenderID, @ReceiverID, @ISAControlNum, @GSControlNum, @STControlNum, @TypeFlag, @EDIInvcNum, 
			@AmountPaid, @OrigAmount, @TermsDiscountTaken, @Department, @MerchandiseTypeCode, ISNULL(@PONumber, @EDIInvcNum), @PaymentMicrofilmNumber, @Division, @StoreNumber, @InvoiceDate, 
			@AdjAmount, @AdjCode, @AdjReason, @AdjInvcNum, @CrossRefNumber, @AdjMicrofilmNum, @CF_detail)
		 
		SET @CurDocLine=@CurDocLine+1  
		END -- End Detail Loop
	  
		SET @CurrDocSeq=@CurrDocSeq+1
	END -- End Header Loop  
  
   
	SELECT  (SELECT COUNT(*) FROM #tSeq) AS TotalRows, (SELECT COUNT(*) FROM #tKey WHERE KeyLevel=1) TotalKeys  
  
	DELETE i  
	FROM tblEcTempImport i  
	INNER JOIN #tSeq s ON i.id=s.TempTblKey  
  
	DELETE FROM tblEcTempImport  
	WHERE DocId=@DocumentId 
END TRY            
BEGIN CATCH      
    EXEC dbo.trav_RaiseError_proc            
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImportProcessAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImportProcessAPT_proc'
GO
