USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMTransferPost_Clear_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMTransferPost_Clear_proc] 
AS  
BEGIN TRY  

--Temp table #PostIdList(Created from BL)- Contains postable TranKey 
--CREATE TABLE #PostIdList( Id bigint NOT NULL PRIMARY KEY CLUSTERED ([Id]))

Delete dbo.tblWmTransferRcpt
	From dbo.tblWmTransferPick p
    Inner Join #PostIdList t on  p.TranKey = t.Id 
    Inner Join dbo.tblWmTransfer x on x.[Status] = 2  --Completed
                                              AND t.Id  = x.TranKey 
	Where dbo.tblWmTransferRcpt.TranPickKey = p.TranPickKey

--Remove Completed Entries in tblInQty that are linked to a Transfer Pick (QOOSeqNum)
Delete e
	From #PostIdList t
    Inner Join dbo.tblWmTransfer x On x.[Status] = 2 --Completed
												And t.Id = x.TranKey
	Inner Join tblWmTransferPick tp On tp.TranKey = t.Id
	Inner Join tblInQty e On e.ID = tp.QuantityOnOrdID

Delete dbo.tblWmTransferPick
	From #PostIdList t
    Inner Join dbo.tblWmTransfer x on x.[Status] = 2  --Completed
                                              AND t.Id = x.TranKey 
	Where dbo.tblWmTransferPick.TranKey = t.Id


Delete dbo.tblSmExchangeRateTrans
	From #PostIdList t
	INNER JOIN dbo.tblWmTransfer x on x.[Status] = 2  --Completed
                                              AND t.Id = x.TranKey 
	Where dbo.tblSmExchangeRateTrans.TransKey = t.Id 
	AND tblSmExchangeRateTrans.TransType = 'WMTRANSFER'

--Remove Completed Entries in tblInQty_Ext (Cmtd)
Delete e
	From dbo.tblInQty_Ext e
	Inner Join tblWmTransfer t On t.QuantityExtID = e.ID And t.[Status] = 2 --Completed
	Inner Join #PostIdList p On p.Id = t.TranKey

--Remove Completed Entries in tblInQty (Cmtd)
Delete e
	From dbo.tblInQty e
	Inner Join tblWmTransfer t On t.QuantityCmtdID = e.ID And t.[Status] = 2 --Completed
	Inner Join #PostIdList p On p.Id = t.TranKey

--Remove Completed Entries in tblInQty (OnOrd)
Delete e
	From dbo.tblInQty e
	Inner Join tblWmTransfer t On t.QuantityOnOrdID = e.ID And t.[Status] = 2 --Completed
	Inner Join #PostIdList p On p.Id = t.TranKey

Delete dbo.tblWmTransfer
	From #PostIdList t
	Where dbo.tblWmTransfer.[Status] = 2 --Completed
	          AND dbo.tblWmTransfer.TranKey = t.Id

--Remove all Pick Gen entries that no longer tie to a source transaction
DELETE dbo.tblWmPick_Gen
WHERE [SourceId] = 4 AND [EntryNum] NOT IN (SELECT [TranKey] FROM dbo.tblWmTransfer)
	 
--Remove all Pick entries that no longer tie to a source transaction
DELETE dbo.tblWmPick
WHERE [SourceId] = 4 AND [EntryNum] NOT IN (SELECT [TranKey] FROM dbo.tblWmTransfer)
	
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_Clear_proc'
GO
