USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbCmMyTasks_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbCmMyTasks_proc]
@UserId pUserID = '', 
@View tinyint -- 0 = Assigned to me, 1 = Entered by me, 2 = Both

AS
BEGIN TRY
	SET NOCOUNT ON

	SELECT d.Descr AS TaskType, h.Descr AS [Description], h.ActionDate AS DueDate, h.[Status]
		, CASE h.[Priority] WHEN 2 THEN 0 WHEN 0 THEN 1 ELSE 2 END AS [Priority]
		, h.UserId, h.AssignedToUserID, h.ID AS TaskId
		,C.ContactName[Contact],CP.Descr[Campaign],CO.Descr[Opportunity]
	FROM dbo.tblCmTask h 
		LEFT JOIN dbo.tblCmTaskType d ON h.TaskTypeID = d.ID
		LEFT JOIN dbo.tblCmContact C on h.ContactID = C.ID
		LEFT JOIN dbo.tblCmCampaign CP on h.CampaignID = CP.ID
		LEFT JOIN tblCmOpportunity CO on h.OpportunityID = CO.ID
	WHERE h.[Status] <> 5 AND h.[Status] <> 2 
		AND ((h.AssignedToUserID = @UserId AND (@View = 0 OR @View = 2)) 
			OR (h.UserID = @UserId AND (@View = 1 OR @View = 2)) 
			OR (@UserId = ''))

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbCmMyTasks_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbCmMyTasks_proc'
GO
