USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_MoveHistoryLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_MoveHistoryLog_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	--Retrieve the list of releases being moved to history
	SELECT ROW_NUMBER() OVER (ORDER BY r.[Id]) AS [Counter]
		, r.[Id] AS [ReleaseId], p.[OrderNo], r.[ReleaseNo], p.[AssemblyId], p.[RevisionNo]
		, r.[Routing], p.[LocId], p.[Planner], r.[CustId]
	FROM dbo.tblMpOrder p
		INNER JOIN dbo.tblMpOrderReleases r on p.[OrderNo] = r.[OrderNo]
		INNER JOIN #tmpCompletedRelease o ON r.[Id] = o.[ReleaseId]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_MoveHistoryLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_MoveHistoryLog_proc'
GO
