USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InBatchInventoryUpdate_SoTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InBatchInventoryUpdate_SoTrans_proc]
@PrecUnitCost tinyint, 
@PrecBaseCurrency tinyint, 
@PrecTransCurrency tinyint,
@TransId pTransID
AS
BEGIN TRY

	--Serialized Item
	UPDATE dbo.tblSoTransSer SET CostUnit = r.CostUnit, CostUnitACV = r.CostUnitACV, CostUnitFgn = ROUND(r.CostUnit * ISNULL(h.ExchRate,1),@PrecUnitCost)
	FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
		INNER JOIN dbo.tblSoTransSer s ON d.TransID = s.TransId AND d.EntryNum = s.EntryNum 
		INNER JOIN dbo.tblInHistSer r ON s.HistorySerID = r.ID 
	WHERE h.TransId = @TransId

	--Regular-Nonlotted Item/Serialized Item
	UPDATE dbo.tblSoTransDetail SET UnitCostSell = r.CostUnit, UnitCostSellFgn = ROUND(r.CostUnit * ISNULL(h.ExchRate,1), @PrecUnitCost), 
		CostExt = r.CostExt, CostExtFgn = ROUND(r.CostExt * ISNULL(h.ExchRate,1), @PrecTransCurrency)
	FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
		INNER JOIN dbo.tblInHistDetail r ON d.HistoryID = r.ID 
	WHERE h.TransId = @TransId

	--Regular-Lotted Item
	UPDATE dbo.tblSoTransDetailExt SET CostUnit = r.CostUnit, CostUnitFgn = ROUND(r.CostUnit * ISNULL(h.ExchRate,1),@PrecUnitCost)
	FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
		INNER JOIN dbo.tblSoTransDetailExt s ON d.TransID = s.TransId AND d.EntryNum = s.EntryNum 
		INNER JOIN dbo.tblInHistDetail r ON s.HistoryID = r.ID 
	WHERE h.TransId = @TransId

	UPDATE dbo.tblSoTransDetail SET UnitCostSell = r.UnitCost, UnitCostSellFgn = UnitCostFgn, 
		CostExt = r.CostExt, CostExtFgn = r.CostExtFgn
	FROM dbo.tblSoTransDetail d INNER JOIN
		(
			SELECT d.EntryNum, SUM(r.CostExt) AS CostExt, ROUND(SUM(r.CostExt) * MAX(ISNULL(h.ExchRate,1)), @PrecTransCurrency) CostExtFgn,
				ROUND(SUM(r.CostExt)/MAX(d.QtyShipSell),@PrecUnitCost) AS UnitCost, 
				ROUND(ROUND(SUM(r.CostExt)/MAX(d.QtyShipSell),@PrecUnitCost) * MAX(ISNULL(h.ExchRate,1)),@PrecUnitCost) AS UnitCostFgn
			FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
				INNER JOIN dbo.tblSoTransDetailExt s ON d.TransID = s.TransId AND d.EntryNum = s.EntryNum 
				INNER JOIN dbo.tblInHistDetail r ON s.HistoryID = r.ID 
			WHERE h.TransId = @TransId
			GROUP BY d.EntryNum
		) r	ON d.EntryNum = r.EntryNum 
	WHERE d.TransId = @TransId

	--Non-Inventory and Services Item

	UPDATE dbo.tblSoTransDetail 
	SET CostExtFgn = ROUND((d.UnitCostSellFgn * d.QtyShipSell),@PrecTransCurrency),
	CostExt = ROUND((d.UnitCostSell * d.QtyShipSell),@PrecBaseCurrency)
	FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
	WHERE h.TransId = @TransId AND d.ItemType IN(0,3)

	--Transaction totals
	UPDATE dbo.tblSoTransHeader SET TotCost = d.CostExt, TotCostFgn = CostExtFgn
	FROM dbo.tblSoTransHeader h INNER JOIN 
		(
			SELECT TransId, SUM(CostExt) CostExt, SUM(CostExtFgn) CostExtFgn
			FROM dbo.tblSoTransDetail
			WHERE TransId = @TransId
			GROUP BY TransId
		) d ON h.TransId = d.TransID 
	WHERE h.TransId = @TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InBatchInventoryUpdate_SoTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InBatchInventoryUpdate_SoTrans_proc'
GO
