USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArUnRealizedGainsAndLossesCalc_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArUnRealizedGainsAndLossesCalc_proc]
@FiscalYear Smallint,  
@GlPeriod Smallint,  
@BaseCurrency [nvarchar](6),  
@BaseCurrencyPrecision Tinyint,
@TransType   NVarchar(10) 
AS  

SET NOCOUNT ON   
   
BEGIN TRY  
 CREATE TABLE #InvoiceBalance  
 (  

 CustId [nvarchar](10) NULL,  
 CurrencyId [nvarchar](6) NULL,  
 InvcNum [nvarchar](15) NULL,  
 TransDate datetime null,   
 AmountDueInvoice [decimal](28,10) NULL,  
 AmountDueBase [decimal](28,10) NULL, 
 ExhRate [decimal](28,10) NULL, 
 OICounter int null,
 DistCode [nvarchar](6) NULL,
 ArCurrency [nvarchar](6) NULL,
 AcctReceivables [nvarchar](255) NULL,
 AmountDueReceivable [decimal](28,10) NULL,

 )  
 CREATE TABLE #CurrentBalance 
 (
  OICounter int null,   
  AmountFunctional [decimal](28,10) NULL, 
  AmountReceivable [decimal](28,10) NULL
 )  


 -- Calculate balances  
 INSERT INTO  #InvoiceBalance(CustId,InvcNum,CurrencyId,TransDate,AmountDueInvoice,AmountDueBase,OICounter,DistCode)  

 SELECT ISNULL(ai.CustId,i.CustId),ISNULL(ai.InvcNum,i.InvcNum),ISNULL(ai.CurrencyId,i.CurrencyId), ISNULL(ai.TransDate,i.TransDate)  
    ,SUM(CASE WHEN ai.[Counter] IS NULL   
     THEN   
		SIGN(i.RecType) * i.[AmtFgn]  
     ELSE   
		 CASE WHEN SIGN(ai.RecType) = SIGN(i.RecType) THEN i.AppliedAmount ELSE -i.AppliedAmount END  
		 END
		 ) AS AmountDueInvoice  
   ,SUM(CASE WHEN ai.[Counter] IS NULL   
     THEN   
       SIGN(i.RecType) * i.Amt  
     ELSE   
		CASE WHEN SIGN(ai.RecType) = SIGN(i.RecType) THEN i.Amt - i.GainLossAmount ELSE -( i.Amt - i.GainLossAmount) END  
     END
	 ) AS AmountDueBase  
	 ,ISNULL(ai.[Counter], i.[Counter]), ISNULL(ai.DistCode,i.DistCode)
 FROM dbo.tblArOpenInvoice i 
 INNER JOIN  dbo.tblArCust c  ON i.CustId = c.CustId  
 LEFT JOIN dbo.tblArOpenInvoice ai ON i.InvoiceID = ai.[Counter] 
 WHERE (i.FiscalYear < @FiscalYear OR (i.FiscalYear = @FiscalYear AND i.GlPeriod <= @GlPeriod))  
  AND i.[Status] <> 4   
  AND c.AcctType <>1  
 GROUP BY ISNULL(ai.CustId,i.CustId),ISNULL(ai.InvcNum,i.InvcNum),ISNULL(ai.CurrencyId,i.CurrencyId), ISNULL(ai.TransDate,i.TransDate)  
		,ISNULL(ai.[Counter], i.[Counter]), ISNULL(ai.DistCode,i.DistCode)
    

 Update #InvoiceBalance
	SET ArCurrency= g.CurrencyID, AcctReceivables= g.AcctId
		,AmountDueReceivable = CASE WHEN g.CurrencyID=@BaseCurrency THEN i.AmountDueBase
							  ELSE CASE WHEN g.CurrencyID=i.CurrencyId  THEN i.AmountDueInvoice
								   ELSE ROUND(i.AmountDueInvoice * et.Rate,et.CurrDecPlaces) END END

 FROM  #InvoiceBalance i
 LEFT JOIN tblArDistCode d on  i.DistCode= d.DistCode
 LEFT JOIN tblGlAcctHdr g ON g.AcctId = d.GLAcctReceivables
 LEFT JOIN (SELECT  Transkey,[Source],Destination,Rate,c.CurrDecPlaces  FROM tblSmCurrency c 
				INNER JOIN  tblSmExchangeRateTrans e (NOLOCK) ON c.CurrID = e.Destination
				Where e.TransType=@TransType) et
	ON et.TransKey =i.[OICounter]  AND et.Source= i.CurrencyId AND et.Destination= g.CurrencyID


INSERT INTO #CurrentBalance ( OICounter, AmountFunctional,AmountReceivable)
SELECT i.OICounter
	    ,CASE WHEN i.CurrencyId = @BaseCurrency THEN i.AmountDueInvoice
		ELSE ROUND(edBase.Rate * i.AmountDueInvoice,@BaseCurrencyPrecision) END AS AmountFunctional
		,CASE WHEN i.ArCurrency= i.CurrencyId THEN i.AmountDueInvoice
		ELSE ROUND(edAcct.Rate * i.AmountDueInvoice, edAcct.CurrDecPlaces) END AS AmountReceivable
	FROM #InvoiceBalance i
	LEFT JOIN   
	(  
	SELECT ed.[Source],  ed.[Rate] 
	FROM dbo.tblSmExchangeRate (NOLOCK) eh   
	INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID]   
	WHERE eh.[FiscalYear] = @FiscalYear AND eh.[FiscalPeriod] = @GlPeriod AND eh.[Type] = 1 AND ed.Destination= @BaseCurrency
	) edBase  
	ON   i.CurrencyId =edBase.[Source] 
	LEFT JOIN   
	(  
	SELECT ed.[Source], ed.[Destination], ed.[Rate],c.CurrDecPlaces 
	FROM dbo.tblSmExchangeRate (NOLOCK) eh   
	INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
	INNER JOIN dbo.tblSmCurrency c ON ed.Destination= c.CurrID  
	WHERE eh.[FiscalYear] = @FiscalYear AND eh.[FiscalPeriod] = @GlPeriod AND eh.[Type] = 1 
	) edAcct  
	ON   i.CurrencyId =edAcct.[Source] AND i.ArCurrency= edAcct.Destination 
  

 INSERT INTO #tmpArUnRealGainLoss (AcctReceivables,ArCurrency,CustId,InvcNum,TransDate, AmountDueAR,CurrentAmountAR,GainLossAR,
										AmountDueBase,CurrentAmountBase,GainLossBase)
 SELECT AcctReceivables, ArCurrency, CustId,InvcNum,TransDate,i.AmountDueReceivable,c.AmountReceivable, (c.AmountReceivable-i.AmountDueReceivable) GainLossAR
		,i.AmountDueBase,c.AmountFunctional,(c.AmountFunctional -i.AmountDueBase) GainLossBase 
 FROM #InvoiceBalance i
 INNER JOIN #CurrentBalance c ON i.OICounter = c.OICounter
 LEFT JOIN #tmpCurrencyList t ON t.CurrencyID = i.ARCurrency
 WHERE  ((c.AmountReceivable-i.AmountDueReceivable) <> 0 OR (c.AmountFunctional -i.AmountDueBase) <> 0)
	AND (i.ArCurrency IS NULL OR t.CurrencyID = i.ArCurrency) --filter using LEFT JOIN and Critera to enable better identification of bad data


 -- raise exception if exchange rate is Invalid   
 IF  EXISTS (SELECT CustId FROM  #tmpArUnRealGainLoss g WHERE GainLossAR IS NULL OR GainLossBase  IS NULL)  
 BEGIN  
  THROW 90027, N'Invalid exchange information.', 1  
 END  
   
  
  
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUnRealizedGainsAndLossesCalc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUnRealizedGainsAndLossesCalc_proc'
GO
