USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InAdjustmentPPV_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InAdjustmentPPV_proc]
@AppId nvarchar(10),
@PostRun pPostRun,
@WksDate datetime,
@CurrBase pCurrency,
@CompId nvarchar(3),
@PrecBase tinyint,
@TransType nvarchar(10) = 'INADJUST',
@UserID pUserID,
@HistoryID bigInt = NULL
AS
BEGIN TRY
	SET NOCOUNT ON

	IF @HistoryID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Build exchange rates list
	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransType,@PostRun,@CurrBase,ed.Destination, ed.[Rate] AS [ExchRate]
              FROM dbo.tblSmExchangeRate (NOLOCK) eh     
              INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
              WHERE eh.ID = (SELECT TOP 1 ID FROM dbo.tblSmExchangeRate WHERE [Type] = 0 and EffectiveDate <= @WksDate ORDER BY EffectiveDate DESC) 
				AND ed.Source = @CurrBase

	--PPV Account
	INSERT INTO #DetailPostLog (PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,TransDate,PostDate)
	SELECT @PostRun,@TransType,@PostRun,l.CurrencyIDACV,@CompId,g.GLAcctPurchPriceVar,t.FiscalYear,t.FiscalPeriod,501,'Purchase Price Variance',@AppId,@AppId,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) < 0 
			THEN ABS(ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) > 0 
			THEN ABS(ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) < 0 
			THEN ABS(ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) > 0 
			THEN ABS(ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) ELSE 0 END,
		l.CurrencyIDACV,t.TransDate,@WksDate
	FROM #tmpTransaction t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Unit = u.Uom
		LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode
		LEFT JOIN dbo.tblSmCurrency c ON l.CurrencyIDACV = c.CurrID
	WHERE i.ItemType IN (1,2) AND --Non-serialized and serialized item
		NOT (i.ItemType = 2 AND i.CostMethodOverride = 1) --no ppv if serialized item's override costing method is specific
		AND (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) <> 0 --Base PPV is not zero

	--Inventory Adjustment Account
	INSERT INTO #DetailPostLog (PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,TransDate,PostDate)
	SELECT @PostRun,@TransType,@PostRun,l.CurrencyIDACV,@CompId,g.GLAcctInvAdj,t.FiscalYear,t.FiscalPeriod,501,'Purchase Price Variance',@AppId,@AppId,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) > 0 
			THEN ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase)) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) < 0 
			THEN ABS(ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) > 0 
			THEN ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase) ELSE 0 END,
		CASE WHEN AmountSign * (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) < 0 
			THEN ABS(ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) ELSE 0 END,
		l.CurrencyIDACV,t.TransDate,@WksDate
	FROM #tmpTransaction t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Unit = u.Uom
		LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode
		LEFT JOIN dbo.tblSmCurrency c ON l.CurrencyIDACV = c.CurrID
	WHERE i.ItemType IN (1,2) AND --Non-serialized and serialized item
		NOT (i.ItemType = 2 AND i.CostMethodOverride = 1) --no ppv if serialized item's override costing method is specific
		AND (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) <> 0 --Base PPV is not zero

	--Create inventory history
	INSERT INTO dbo.tblInHistDetail(HistSeqNum_Rcpt, ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
		GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt,CostExtACV, CostStd, 
		PriceExt, CostUnit, PriceUnit, Source, Qty_Invc, CostExt_Invc, DropShipYn, LotNum, EnteredBy, PostRun, ID)
	SELECT 0,t.ItemId, t.LocId, i.ItemType, i.LottedYN, 20, t.FiscalYear, t.FiscalPeriod, t.FiscalPeriod, @AppId, t.BatchId, 
		t.TransId, t.ReferenceId, 'PPV', t.TransDate, i.UomBase, i.UomBase, 1, 0, 
		AmountSign * (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)),
		AmountSign * (ROUND(t.Qty * t.UnitCostACV, ISNULL(c.CurrDecPlaces,@PrecBase)) - ROUND(t.Qty * u.ConvFactor * l.CostStdACV, ISNULL(c.CurrDecPlaces,@PrecBase))),
		l.CostStd, 0, 0, 0, 201, 0, 0, 0, NULL, @UserID, @PostRun, @HistoryID + ROW_NUMBER() OVER (ORDER BY t.ItemId, t.LocId)
	FROM #tmpTransaction t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Unit = u.Uom
		LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode
		LEFT JOIN dbo.tblSmCurrency c ON l.CurrencyIDACV = c.CurrID
	WHERE i.ItemType IN (1,2) AND --Non-serialized and serialized item
		NOT (i.ItemType = 2 AND i.CostMethodOverride = 1) --no ppv if serialized item's override costing method is specific
		AND (ROUND(t.Qty * t.UnitCost, @PrecBase) - ROUND(t.Qty * u.ConvFactor * l.CostStd, @PrecBase)) <> 0 --Base PPV is not zero

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAdjustmentPPV_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InAdjustmentPPV_proc'
GO
