USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcPrepareBilling_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcPrepareBilling_proc]
@BatchId pBatchId
AS
BEGIN TRY

	--Populate table tblPcWIPHeader with project detail record that meet filter critera 
	--and do not already exist in table tblPcWIPHeader
	INSERT INTO dbo.tblPcWIPHeader(BatchId, ProjectDetailId, FixedFeeAmtAvail, FixedFeeAmtApply, DepositAmt, DepositAmtAvail, DepositAmtApply,
		CustId, ProjectName, PhaseId, TaskId, FixedFee, FixedFeeAmt, ProjectDetailDescription)
	SELECT @BatchId, d.Id, 0, 0, 0, 0, 0, p.CustId, p.ProjectName, d.PhaseId, d.TaskId, d.FixedFee, d.FixedFeeAmt, d.[Description]
	FROM #tmpProjectDetailList t INNER JOIN dbo.tblPcProjectDetail d ON t.Id = d.Id 
		INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id
		LEFT JOIN dbo.tblPcWIPHeader h ON d.Id = h.ProjectDetailId
	WHERE h.Id IS NULL

	UPDATE dbo.tblPcWIPHeader SET FixedFeeAmtAvail = d.FixedFeeAmt - ISNULL(f.TotalFixedFeeBilled,0),
		FixedFeeAmtApply = d.FixedFeeAmt - ISNULL(f.TotalFixedFeeBilled,0)
	FROM dbo.tblPcWIPHeader INNER JOIN dbo.tblPcProjectDetail d ON dbo.tblPcWIPHeader.ProjectDetailId = d.Id 
		LEFT JOIN (SELECT d.Id, SUM(a.ExtIncome) AS TotalFixedFeeBilled
			FROM dbo.tblPcWIPHeader h INNER JOIN dbo.tblPcProjectDetail d ON h.ProjectDetailId = d.Id
				INNER JOIN dbo.tblPcActivity a ON d.Id = a.ProjectDetailId 
			WHERE d.FixedFee = 1 AND a.[Type] = 6 AND h.BatchId = @BatchId  --fixed fee billing
			GROUP BY d.Id) f on d.Id = f.Id
	WHERE dbo.tblPcWIPHeader.BatchId = @BatchId AND d.FixedFee = 1
	
	UPDATE dbo.tblPcWIPHeader SET DepositAmt = ISNULL(d.TotalDeposit,0), 
		DepositAmtAvail = ISNULL(CASE WHEN d.TotalDepositAvail > 0 THEN d.TotalDepositAvail ELSE 0 END,0)
	FROM dbo.tblPcWIPHeader LEFT JOIN (	SELECT d.Id, SUM(CASE WHEN a.[Type] = 4 AND a.BillOnHold = 0 THEN a.ExtIncome WHEN a.[Type] = 5 THEN -a.ExtIncome END) AS TotalDepositAvail,
			SUM(CASE a.[Type] WHEN 4 THEN a.ExtIncome ELSE 0 END) AS TotalDeposit
		FROM dbo.tblPcWIPHeader h INNER JOIN dbo.tblPcProjectDetail d ON h.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcActivity a ON d.Id = a.ProjectDetailId 
		WHERE a.[Type] IN (4,5) AND h.BatchId = @BatchId --deposit, deposit applied
		GROUP BY d.Id) d ON dbo.tblPcWIPHeader.ProjectDetailId = d.Id
		WHERE dbo.tblPcWIPHeader.BatchId = @BatchId

	EXEC dbo.trav_PcPrepareBilling_RefreshActivity_proc @BatchId
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrepareBilling_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrepareBilling_proc'
GO
