USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaVoidCheck_GenerateTrans_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaVoidCheck_GenerateTrans_proc]
AS
--PET:http://webfront:801/view.php?id=227706
--PET:http://webfront:801/view.php?id=251453 
 
BEGIN TRY
	DECLARE @PaYear smallint
       
	SELECT @PaYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PayrollYear'
       
	IF @PaYear IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	
	--Deductions
	INSERT INTO dbo.tblPaTransDeduct ([PaYear], [EmployeeId], [DeductCode]
		, [LaborClass], [Hours], [Amount], [TransDate], [SeqNo], [Note], [CF])
	SELECT @PaYear, h.[EmployeeId], h.[DeductCode]
		, h.[LaborClass], h.[Hours], h.[Amount], h.[TransDate], h.[SeqNo], h.[Note], h.[CF]
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblPaTransDeductHist h ON l.[EmployeeId] = h.[EmployeeId] AND l.[Id] = h.[CheckId]
	WHERE l.[Type] = 0 --calculated check
		AND l.[Status] = 0  


	--Earnings
	INSERT INTO dbo.tblPaTransEarn ([PaYear], [EmployeeId], [EarningCode], [LeaveCodeId]
		, [DepartmentId], [StateTaxAuthorityId], [LocalTaxAuthorityId], [LaborClass]
		, [Rate], [Pieces], [Hours], [Amount], [TransDate], [SUIState], [SeqNo]
		, [DeptAllocId], [ProjectDetailId], [CustId], [ProjId], [PhaseId], [TaskId], [CF],TaxGroupId)
	SELECT @PaYear, h.[EmployeeId], h.[EarningCode], h.[LeaveCodeId]
		, h.[DepartmentId], sta.[Id], lta.[Id], h.[LaborClass]
		, h.[Rate], h.[Pieces], h.[Hours], h.[Amount], h.[TransDate], h.[SUIState], h.[SeqNo]
		, h.[DeptAllocId], NULL, h.[CustId], h.[ProjId], h.[PhaseId], h.[TaskId], h.[CF],gh.ID
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblPaTransEarnHist h ON h.[CheckId] = l.[Id]
	LEFT JOIN dbo.tblPaTaxAuthorityHeader sta ON h.[StateCode] = sta.[TaxAuthority] AND sta.[Type] = 1 --state
	LEFT JOIN dbo.tblPaTaxAuthorityHeader lta ON h.[LocalCode] = lta.[TaxAuthority] AND lta.[Type] = 2 --local
	LEFT JOIN dbo.tblPaTaxGroupHeader gh ON h.TaxGroup = gh.TaxGroup
	WHERE l.[Type] = 0 --calculated check
		AND l.[Status] = 0 


	--Employer Costs
	INSERT INTO dbo.tblPaTransEmplrCost ([PaYear], [EmployeeId], [DeductCode], [DepartmentId]
		, [LaborClass], [Hours], [Amount], [TransDate], [SeqNo], [Note], [CF])
	SELECT @PaYear, h.[EmployeeId], h.[DeductCode], h.[DepartmentId]
		, h.[LaborClass], h.[Hours], h.[Amount], h.[TransDate], h.[SeqNo], h.[Note], h.[CF]
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblPaTransEmplrCostHist h ON l.[EmployeeId] = h.[EmployeeId] AND l.[Id] = h.[CheckId]
	WHERE l.[Type] = 0 --calculated check
		AND l.[Status] = 0


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_GenerateTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_GenerateTrans_proc'
GO
