USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPhysicalCount_FreezeQty_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPhysicalCount_FreezeQty_proc]
@BatchID [pBatchID] = NULL,
@FrozenDate [DATETIME] = NULL,
@FrozenBy [pUserID] = NULL
AS
SET NOCOUNT ON
BEGIN TRY

		--Update Batch
		UPDATE batch 
		SET FrozenDateTime = @FrozenDate, FrozenBy = @FrozenBy 
		FROM tblWmPhysicalCountBatch batch WHERE batch.BatchID = @BatchID
		
		--Add bins with activity since prepare process
		CREATE TABLE #tblPhysicalDetailNewBinActivity(
					BatchID [nvarchar](6) NULL,
					ItemID [nvarchar](24) NULL,
					LocID [nvarchar](10) NULL,
					ExtLocAID NVARCHAR(10) NULL,
					ExtLocBID NVARCHAR(10) NULL,
					LotNum [nvarchar](16) NULL,
					SerNum [nvarchar](35) NULL
				)

		--Build list of all bins already prepared and new bins used on items prepared
		select 
		h.BatchID,  h.ItemID, b.LocID, bin.BinNum
		into #TempBins
		from
		tblWmPhysicalCountBatch b join tblWmPhysicalCountHeader h on b.BatchID = h.BatchID
		INNER join tblWmPhysicalCountDetail d on h.id = d.HeaderID
		INNER join tblInItemLocBin bin on bin.ItemId = h.ItemID and bin.LocId = b.LocID
		INNER JOIN dbo.tblWmExtLoc e ON bin.BinNum = e.ExtLocID AND e.[Type] = 0 AND b.LocID = e.LocID
		where b.BatchID = @BatchID
		group by h.BatchID,  h.ItemID, b.LocID, bin.BinNum

		--Build list of only new bins used in #TempBins for items prepared
		Select bin.BatchID, bin.ItemId, bin.LocId, e.id as ExtLocAID
		into #newBinsPrepared
		from #TempBins bin left join
		(
			select h.ItemID, b.LocID , bin.BinNum 
			from tblWmPhysicalCountBatch b join tblWmPhysicalCountHeader h on b.BatchID = h.BatchID
			INNER join tblWmPhysicalCountDetail d on h.id = d.HeaderID
			join tblInItemLocBin bin on bin.ItemId = h.ItemID and bin.LocId = b.LocID and bin.BinNum = d.ExtLocAID
			where b.BatchID = @BatchID
			group by h.ItemID, b.LocID, bin.BinNum 
		) ds on bin.ItemId = ds.ItemID and bin.LocId = ds.LocID and bin.BinNum = ds.BinNum
		INNER JOIN dbo.tblWmExtLoc e ON bin.BinNum = e.ExtLocID AND bin.LocID = e.LocID AND e.[Type] = 0
		where ds.BinNum is null
		group by bin.BatchID, bin.ItemId, bin.LocId, e.Id

		--container move within the same bin
		select 
		h.BatchID,h.ID,  h.ItemID, b.LocID, e.ExtLocID as ExtLocAID , ext.ExtLocBid, ext.LotNum
		into #TempBinContainers
		from
		tblWmPhysicalCountBatch b join tblWmPhysicalCountHeader h on b.BatchID = h.BatchID
		INNER join tblWmPhysicalCountDetail d on h.id = d.HeaderID
		INNER JOIN dbo.tblWmExtLoc e ON d.ExtLocAID = e.ExtLocID AND e.[Type] = 0 AND b.LocID = e.LocID
		LEFT  JOIN dbo.tblWmExtLoc e2 ON d.ExtLocBID = e2.ExtLocID AND e2.[Type] = 1 AND b.LocID = e2.LocID	
		INNER JOIN 
		(
			SELECT ItemId, e.LocId, lotnum, ExtLocA, e2.ExtLocID as ExtLocBid
			FROM dbo.tblInQtyOnHand_Ext  e
			JOIN dbo.tblWmExtLoc e2 ON e.ExtLocB = e2.id AND e2.[Type] = 1 
		) AS ext ON h.ItemID = ext.ItemId and ext.LocId = b.LocID and ext.ExtLocA = e.Id
		where b.BatchID = @BatchID
		group by h.BatchID,h.ID,  h.ItemID, b.LocID, e.ExtLocID, ext.ExtLocBId, ext.LotNum

		--remove containers that have activity in two different bins already prepared
		delete bin
		FROM #TempBinContainers bin 
		INNER JOIN dbo.tblWmPhysicalCountDetail D ON D.BatchID = bin.BatchID and  d.HeaderID = bin.ID AND bin.ExtLocAID = d.ExtLocAID and bin.ExtLocBid = d.ExtLocBid

		--Add in Regular Items
		INSERT INTO #tblPhysicalDetailNewBinActivity(BatchID,ItemID,LocID,ExtLocAID,ExtLocBID,LotNum)
		SELECT h.BatchID,h.ItemID,h.LocID,b.ExtLocID,c.ExtLocID,RTRIM(ext.LotNum) as LotNum
		FROM #newBinsPrepared h 
		INNER JOIN 
		(
			SELECT ItemId, LocId, lotnum, ExtLocA,ExtLocB
			FROM dbo.tblInQtyOnHand_Ext 
		) AS ext ON h.ItemID = ext.ItemId and ext.LocId = h.LocID and ext.ExtLocA = ExtLocAID
		INNER JOIN dbo.tblWmExtLoc b ON ext.ExtLocA = b.Id AND b.[Type] = 0 AND b.LocID = h.LocID
		INNER JOIN tblWmPhysicalCountBinList bl ON bl.BatchID = h.BatchID AND bl.LocId = h.LocID AND b.ExtLocID = bl.ExtLocAID
		LEFT JOIN dbo.tblWmExtLoc c ON ext.ExtLocB = c.Id AND c.[Type] = 1
		GROUP BY h.BatchID,h.ItemID,h.LocID,b.ExtLocID,c.ExtLocID,ext.LotNum

		--Add in container move within the same bin
		INSERT INTO #tblPhysicalDetailNewBinActivity(BatchID,ItemID,LocID,ExtLocAID,ExtLocBID,LotNum)
		SELECT h.BatchID,h.ItemID,h.LocID, h.ExtLocAID, h.ExtLocBid,RTRIM(h.LotNum) as LotNum
		FROM #TempBinContainers h 

		--Load Items prepared In other Batches
		SELECT B.BatchID,H.ItemID, B.LocID, D.ExtLocAID
		INTO #tmpPrepared
		FROM dbo.tblWmPhysicalCountHeader H  
		INNER JOIN dbo.tblWmPhysicalCountBatch B ON B.BatchID = H.BatchID
		INNER JOIN dbo.tblWmPhysicalCountDetail D ON D.HeaderID = H.ID AND D.BatchID = H.BatchID AND H.BatchID <> @BatchID
		GROUP BY B.BatchID,H.ItemID, B.LocID, D.ExtLocAID

		INSERT INTO dbo.tblWmPhysicalCountDetail(HeaderID,BatchID,ExtLocAID,ExtLocBID,LotNum,SerNum,QtyFrozen,DetailType)
				SELECT h.ID,h.BatchID,td.ExtLocAID,td.ExtLocBID,td.LotNum,td.SerNum,NULL,0
				FROM dbo.tblWmPhysicalCountHeader h 
				INNER JOIN dbo.tblWmPhysicalCountBatch b ON b.BatchID = h.BatchID
				INNER JOIN #tblPhysicalDetailNewBinActivity td ON h.BatchID = td.BatchID  and h.ItemID = td.ItemID
				LEFT JOIN #tmpPrepared p ON p.ItemID = h.ItemID AND p.LocID = b.LocID AND p.ExtLocAID = td.ExtLocAID AND p.BatchID <> h.BatchID
				WHERE p.ItemID IS NULL -- Do not create record if item/location/bin number combination exist in tblWmPhysicalCountDetail for other batch

		--End Add bins with activity since prepare process
		--Set Regular Items Quantity 
		SELECT 
			ext.ItemId, ext.LocId, RTRIM(ext.LotNum) as LotNum, ext.ExtLocA, ext.ExtLocB, 
			Sum(ext.Qty) as Qty, b.ExtLocID [ExtLocAID], c.ExtLocID [ExtLocBID]
		INTO #tmpQty
		FROM dbo.tblInQtyOnHand_Ext ext
		INNER JOIN
		(
			SELECT h.ItemID, bc.LocID
			FROM dbo.tblWmPhysicalCountHeader h
			INNER JOIN tblWmPhysicalCountBatch bc ON bc.BatchID = h.BatchID AND h.BatchID = @BatchId
		) ds On ds.ItemID = ext.ItemId And ds.LocID = ext.LocId
		INNER JOIN dbo.tblWmExtLoc b ON ext.ExtLocA = b.Id AND b.[Type] = 0 AND b.LocID = ext.LocID
		LEFT JOIN dbo.tblWmExtLoc c ON ext.ExtLocB = c.Id AND c.[Type] = 1
		GROUP BY ext.ItemId,ext.LocId, RTRIM(ext.LotNum) ,ext.ExtLocA,ext.ExtLocB,b.ExtLocID,c.ExtLocID

		--set Qty to Frozen to Regular Items
		UPDATE d
		SET d.QtyFrozen = q.Qty
		FROM dbo.tblWmPhysicalCountDetail d
		INNER JOIN dbo.tblWmPhysicalCountHeader h ON h.BatchID = d.BatchID AND h.ID = d.HeaderID
		INNER JOIN dbo.tblWmPhysicalCountBatch b ON b.BatchID = h.BatchID
		INNER JOIN #tmpQty q ON q.ItemId = h.ItemID AND q.LocId = b.LocID AND q.ExtLocAID = d.ExtLocAID
			AND ((q.ExtLocBID IS NULL AND d.ExtLocBID IS NULL) OR (q.ExtLocBID = d.ExtLocBID))
			AND ((q.LotNum IS NULL AND d.LotNum IS NULL) OR (q.LotNum = d.LotNum))
		WHERE h.BatchId = @BatchId

		-- serial numbers
		UPDATE d
		SET d.QtyFrozen = CASE WHEN t.SerNum IS NOT NULL THEN 1 ELSE 0 END,
		d.ExtLocAID = case when t.SerNum IS NOT NULL AND d.ExtLocAID <> t.ExtLocAID THEN t.ExtLocAID ELSE d.ExtLocAID END, -- Added to update bin if serial number had active that changed the bin since the prepare (ex. WM MOVE)
		d.ExtLocBID = case when t.SerNum IS NOT NULL AND d.ExtLocBID <> t.ExtLocBID THEN t.ExtLocBID ELSE d.ExtLocBID END  -- Added to update bin if serial number had active that changed the bin since the prepare (ex. WM MOVE)
		FROM tblWmPhysicalCountDetail d
		INNER JOIN 
		(
			SELECT h.ID,bc.BatchID,b.ExtLocID as ExtLocAID,c.ExtLocID as ExtLocBID,s.LotNum,s.SerNum
			FROM dbo.tblWmPhysicalCountHeader h 
			INNER JOIN tblWmPhysicalCountBatch bc ON bc.BatchID = h.BatchID And bc.BatchID = @BatchID
			INNER JOIN dbo.tblInItem i  ON h.ItemId = i.ItemId 
			INNER JOIN 
			(
				SELECT ser.SerNum, ItemId,LocId, LotNum,ExtLocA,ExtLocB
				FROM dbo.tblInItemSer ser 
				WHERE ser.SerNumStatus IN (1, 8)
			) AS s ON h.ItemId = s.ItemId and s.LocId = bc.LocID
			INNER JOIN dbo.tblWmExtLoc b ON s.ExtLocA = b.Id AND b.[Type] = 0 AND b.LocID = bc.LocID
			LEFT JOIN dbo.tblWmExtLoc c ON s.ExtLocB = c.Id AND b.[Type] = 1
		) t ON d.HeaderID = t.ID AND d.SerNum = t.SerNum
		WHERE d.SerNum IS NOT NULL
	
		UPDATE d
		SET d.QtyFrozen = 0
		FROM dbo.tblWmPhysicalCountDetail d 
		WHERE d.QtyFrozen IS NULL AND d.BatchId = @BatchID

		DELETE d FROM dbo.tblWmPhysicalCountDetail d
		WHERE d.BatchId = @BatchID AND ISNULL(d.QtyFrozen, 0) = 0 AND (d.ExtLocAID IS NOT NULL AND d.ExtLocBID IS NOT NULL)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCount_FreezeQty_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCount_FreezeQty_proc'
GO
