USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_SalesRep_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_SalesRep_proc]
AS
BEGIN TRY
	DECLARE @UseCommissions bit

	--Retrieve global values
	SELECT @UseCommissions = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'UseCommissions'

	IF @UseCommissions IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--update Commissions (tblArCommInvc)
	IF (@UseCommissions = 1)
	BEGIN
		--update payment amounts for the commission 
		UPDATE dbo.tblArCommInvc 
			SET AmtPmt = AmtPmt + pmt.PmtAmt + pmt.[Difference]
		FROM dbo.tblArCommInvc
		INNER JOIN (SELECT h.CustId, d.InvcNum
			, Sum(d.PmtAmt) PmtAmt
			, Sum(d.[Difference]) [Difference]
			FROM dbo.tblArCashRcptHeader h 
			INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID
			INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
			GROUP BY h.CustId, d.InvcNum
		) pmt ON dbo.tblArCommInvc.CustId = pmt.CustId AND dbo.tblArCommInvc.InvcNum = pmt.InvcNum
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_SalesRep_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_SalesRep_proc'
GO
