USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_RemoveVoid_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_RemoveVoid_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	DECLARE @TransTypePrePay nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	SELECT @TransTypePrePay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePREPAY'
	
	DELETE dbo.tblSoTransHeader
		FROM dbo.tblSoTransHeader
		INNER JOIN #VoidTransList l ON dbo.tblSoTransHeader.TransId = l.TransId

	DELETE dbo.tblSoTransDetail
		FROM dbo.tblSoTransDetail
		INNER JOIN #VoidTransList l ON dbo.tblSoTransDetail.TransId = l.TransId

	DELETE dbo.tblSoTransDetailExt
		FROM dbo.tblSoTransDetailExt
		INNER JOIN #VoidTransList l ON dbo.tblSoTransDetailExt.TransId = l.TransId

	DELETE dbo.tblSoTransSer
		FROM dbo.tblSoTransSer
		INNER JOIN #VoidTransList l ON dbo.tblSoTransSer.TransId = l.TransId

	DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e 
	  INNER JOIN tblSoTransPmt p ON  e.TransKey = p.PmtNum AND e.TransType=@TransTypePrePay
	  INNER JOIN #VoidTransList t ON p.TransId = t.TransId 


	DELETE dbo.tblSoTransPmt
		FROM dbo.tblSoTransPmt
		INNER JOIN #VoidTransList l ON dbo.tblSoTransPmt.TransId = l.TransId

	DELETE dbo.tblSoTransTax
		FROM dbo.tblSoTransTax
		INNER JOIN #VoidTransList l ON dbo.tblSoTransTax.TransId = l.TransId
		
	DELETE dbo.tblSmTransTaxDetail
		FROM dbo.tblSmTransTaxDetail d
		INNER JOIN #VoidTransList l ON d.TransId = l.TransId AND d.SourceCode = 'SO'

	DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e  INNER JOIN #VoidTransList t ON e.TransKey = t.TransId AND TransType=@TransType
		
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_RemoveVoid_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_RemoveVoid_proc'
GO
