USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMoveQuantityPost_Remove_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMoveQuantityPost_Remove_proc]
AS
BEGIN TRY

	--delete the processed quantities
	DELETE dbo.tblWmMoveQuantity 
	FROM #TransList
	WHERE dbo.tblWmMoveQuantity.[Id] = #TransList.[TransId]

	--delete any child entries for parents that have been processed
	DELETE dbo.tblWmMoveQuantity
	WHERE [ParentId] IS NOT NULL
		AND [ParentId] NOT IN (SELECT [Id] FROM dbo.tblWmMoveQuantity)		

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_Remove_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_Remove_proc'
GO
