USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InLoadLeadTime_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InLoadLeadTime_proc]
@FromDate datetime = NULL,
@ThruDate datetime = NULL
AS
BEGIN TRY  
  CREATE TABLE #TransactionList
 (  
	ID int IDENTITY(1, 1)
	, PostRun [nvarchar](14) NULL
	, TransID [nvarchar](8) NOT NULL
	, ReceiptNum [nvarchar](15) NULL
	, ItemID [nvarchar](24) NULL
	, LocID [nvarchar](10) NOT NULL
	, VendorID [nvarchar](10) NOT NULL
	, TransDate datetime
	, ReceiptDate datetime
	, RequestedDate datetime
	, DelvDays int
	, DelvOnTime int
	, ReceiptLate int
	, LateDays int
	) 
	CREATE INDEX [IX_ItemLocVend_TransactionList] ON #TransactionList(ItemId, LocId, VendorId)


	CREATE TABLE #LeadTime
	 (  
		ID int IDENTITY(1, 1)
		, ItemID [nvarchar](24) NOT NULL
		, LocID [nvarchar](10) NOT NULL
		, VendorID nvarchar(10) NOT NULL 
		, DelvDays int
		, DelvOnTime int
		, ReceiptLate int
		, LateDays int
		, TransCount int
		, ReceiptCount int
		, LeadTimeMin int
	) 
	CREATE INDEX [IX_ItemLocVend_LeadTime] ON #TransactionList(ItemId, LocId, VendorId)

		--INSERT OPEN PO TRANSACTIONS
	INSERT INTO #TransactionList (PostRun, TransID, ReceiptNum, ItemID, LocID, VendorID, TransDate, ReceiptDate, RequestedDate)
		SELECT NULL AS PostRun, h.TransId, r.ReceiptNum, d.ItemId, d.LocId, h.VendorId, h.TransDate,  r.ReceiptDate   
		,COALESCE(d.ExpReceiptDate,h.ExpReceiptDate ,DATEADD(DAY, COALESCE(v.LeadTime, o.LeadTime, temp.DfltLeadTime),  h.TransDate)) RequestedDate		
		FROM tblPoTransHeader h  
		INNER JOIN tblPoTransDetail d ON d.TransID = h.TransId  
		INNER JOIN tblPoTransReceipt r ON r.TransID = h.TransId    
		INNER JOIN tblPoTransLotRcpt l ON l.TransId = r.TransId AND l.RcptNum = r.ReceiptNum AND l.EntryNum = d.EntryNum  
		INNER JOIN #ItemList temp ON d.ItemId = temp.ItemId AND temp.LocId = d.LocId    
		LEFT JOIN tblInVendorItem v ON v.ItemID = d.ItemId AND v.VendorID = h.VendorId  
		LEFT JOIN tblInItemLocVend o ON o.ItemID = d.ItemId AND o.VendId = h.VendorId AND o.LocId = d.LocId  
			WHERE (h.TransType = 1 OR h.TransType=2) AND h.TransDate BETWEEN @FromDate AND @ThruDate

	--INSERT PO TRANSACTIONS FROM HISTORY
	INSERT INTO #TransactionList (PostRun, TransID, ReceiptNum, ItemID, LocID, VendorID, TransDate, ReceiptDate, RequestedDate)
		SELECT h.PostRun, h.TransId, r.ReceiptNum,  d.ItemId, d.LocId, h.VendorId, h.TransDate,  r.ReceiptDate   
		,COALESCE(d.ExpReceiptDate,h.ExpReceiptDate ,DATEADD(DAY, COALESCE(v.LeadTime, o.LeadTime, temp.DfltLeadTime),  h.TransDate)) RequestedDate		
		FROM tblPoHistHeader h  
		INNER JOIN tblPoHistDetail d ON h.PostRun = d.PostRun AND h.TransID = d.TransId  
		INNER JOIN tblPoHistReceipt r ON h.PostRun = r.PostRun AND h.TransID = r.TransId    
		INNER JOIN tblPoHistLotRcpt l ON l.PostRun = r.PostRun AND  l.TransId = r.TransId AND l.RcptNum = r.ReceiptNum AND l.EntryNum = d.EntryNum  
		INNER JOIN #ItemList temp ON d.ItemId = temp.ItemId AND temp.LocId = d.LocId    
		LEFT JOIN tblInVendorItem v ON v.ItemID = d.ItemId AND v.VendorID = h.VendorId  
		LEFT JOIN tblInItemLocVend o ON o.ItemID = d.ItemId AND o.VendId = h.VendorId AND o.LocId = d.LocId   
			WHERE (h.TransType=1 OR h.TransType=2) AND h.TransDate BETWEEN @FromDate AND @ThruDate

	UPDATE #TransactionList
		SET DelvDays = DATEDIFF(DAY, TransDate, ReceiptDate)
			, DelvOnTime = CASE WHEN DATEDIFF(DAY, RequestedDate, ReceiptDate) <= 0 THEN 1 ELSE 0 END
			, ReceiptLate = CASE WHEN DATEDIFF(DAY, RequestedDate, ReceiptDate) > 0 THEN 1 ELSE 0 END
			, LateDays = CASE WHEN DATEDIFF(DAY, RequestedDate, ReceiptDate) > 0 THEN DATEDIFF(DAY, RequestedDate, ReceiptDate) ELSE 0 END
		FROM #TransactionList

	INSERT INTO #LeadTime (ItemId, LocId, VendorId, DelvDays, DelvOnTime, ReceiptLate, LateDays, LeadTimeMin, TransCount, ReceiptCount) 
		SELECT ItemID, LocID, VendorID, SUM(DelvDays) AS DelvDays, SUM(DelvOnTime) AS DelvOnTime, SUM(ReceiptLate) AS ReceiptLate
			, SUM(LateDays) AS LateDays
			, MIN(DelvDays) AS LeadTimeMin
			, COUNT(DISTINCT TransID) AS TransCount, COUNT(ReceiptNum) AS ReceiptCount
	FROM #TransactionList t
		GROUP BY ItemID, LocID, VendorID


	SELECT t.ItemId, t.LocId, i.ProductLine, p.VendorId   
		, p.TransCount, p.ReceiptCount, i.Descr, p.LeadTimeMin, COALESCE(v.LeadTime, o.LeadTime, t.DfltLeadTime) AS DefaultLeadTime
		, COALESCE(v.LeadTime, o.LeadTime, t.DfltLeadTime) AS CurrentLeadTime, l.ABCClass, l.ProcurMethod, i.SalesCat, l.BuyerPlanner
		, CASE WHEN p.VendorId = l.DfltVendId THEN 'TRUE' ELSE 'FALSE' END DfltVendId 
		, CASE WHEN v.LeadTime IS NOT NULL THEN  CONCAT(t.ItemId, p.VendorId) ELSE NULL END ItemVendor   
		, CASE WHEN p.TransCount > 0 THEN (CONVERT(decimal(10, 2), p.DelvDays)/ p.ReceiptCount) ELSE 0 END LeadTimeAvg   
		, CASE WHEN p.ReceiptCount > 0 THEN (CONVERT(decimal(10, 2), p.DelvOnTime) * 100/ p.ReceiptCount) ELSE 0 END VendorPerfPercent  
		, CASE WHEN p.ReceiptLate > 0 THEN (CONVERT(decimal(10, 2), p.LateDays)/p.ReceiptLate) ELSE 0 END  VendorPerfLate  
	FROM #ItemList t  
		INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
		LEFT JOIN #LeadTime p ON p.ItemId = t.ItemId AND p.LocId = t.LocId  
		LEFT JOIN tblInVendorItem v ON v.ItemID = t.ItemId AND v.VendorID = p.VendorId  
		LEFT JOIN tblInItemLocVend o ON o.ItemID = t.ItemId AND o.VendId = p.VendorId AND o.LocId = p.LocId 

END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InLoadLeadTime_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InLoadLeadTime_proc'
GO
