USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcPrintInvoicesHist_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcPrintInvoicesHist_proc]
@PostRun [nvarchar](14) = NULL, 
@TransId [nvarchar](8) = NULL, --set for printing online or from history
@BaseCurrency [nvarchar](6) = NULL

AS
BEGIN TRY
	SET NOCOUNT ON

	CREATE TABLE #TaxSummary
	(
		TransId [nvarchar](8) NOT NULL, 
		PostRun [nvarchar](14) NOT NULL, 
		TaxLoc1 [nvarchar](10) NULL, 
		TaxAmt1 [decimal](28,10) NOT NULL, 
		TaxLoc2 [nvarchar](10) NULL, 
		TaxAmt2 [decimal](28,10) NOT NULL, 
		TaxLoc3 [nvarchar](10) NULL, 
		TaxAmt3 [decimal](28,10) NOT NULL, 
		TaxLoc4 [nvarchar](10) NULL, 
		TaxAmt4 [decimal](28,10) NOT NULL, 
		TaxLoc5 [nvarchar](10) NULL, 
		TaxAmt5 [decimal](28,10) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId])
	)

	CREATE TABLE #Temp
	(
		TransId [nvarchar](8) NOT NULL, 
		PostRun [nvarchar](14) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId], PostRun)
	)

	CREATE TABLE #tmpdeposit
	(
		TransId [nvarchar](8) NOT NULL, 
		DepositAmt [decimal](28,10) NOT NULL
	)

	INSERT INTO #Temp (TransId, PostRun) 
	SELECT TransId, PostRun 
	FROM dbo.tblArHistHeader 
	WHERE TransId = @TransId AND PostRun = @PostRun 
		AND VoidYn = 0 --exclude voids
		AND [Source] = 3

	--summarize and cross-tab the taxes by level
	--	note: TaxLocId cannot be duplicated for multiple tax levels
	INSERT INTO #TaxSummary (TransId, PostRun
		, TaxLoc1, TaxAmt1, TaxLoc2, TaxAmt2, TaxLoc3, TaxAmt3, TaxLoc4, TaxAmt4, TaxLoc5, TaxAmt5) 
	SELECT TransId, PostRun, MAX(TaxLoc1), SUM(TaxAmt1), MAX(TaxLoc2), SUM(TaxAmt2)
		, MAX(TaxLoc3), SUM(TaxAmt3), MAX(TaxLoc4), SUM(TaxAmt4), MAX(TaxLoc5), SUM(TaxAmt5) 
	FROM 
	(
		SELECT x.TransId, x.PostRun
			, CASE WHEN x.[Level] = 1 THEN x.TaxLocId ELSE NULL END TaxLoc1
			, CASE WHEN x.[Level] = 1 THEN x.TaxAmtFgn ELSE 0 END TaxAmt1
			, CASE WHEN x.[Level] = 2 THEN x.TaxLocId ELSE NULL END TaxLoc2
			, CASE WHEN x.[Level] = 2 THEN x.TaxAmtFgn ELSE 0 END TaxAmt2
			, CASE WHEN x.[Level] = 3 THEN x.TaxLocId ELSE NULL END TaxLoc3
			, CASE WHEN x.[Level] = 3 THEN x.TaxAmtFgn ELSE 0 END TaxAmt3
			, CASE WHEN x.[Level] = 4 THEN x.TaxLocId ELSE NULL END TaxLoc4
			, CASE WHEN x.[Level] = 4 THEN x.TaxAmtFgn ELSE 0 END TaxAmt4
			, CASE WHEN x.[Level] = 5 THEN x.TaxLocId ELSE NULL END TaxLoc5
			, CASE WHEN x.[Level] = 5 THEN x.TaxAmtFgn ELSE 0 END TaxAmt5
		FROM #Temp l 
			INNER JOIN dbo.tblArHistTax x ON l.TransId = x.TransId AND l.PostRun = x.PostRun 
			INNER JOIN dbo.tblArHistHeader h ON x.TransId = h.TransId AND x.PostRun = h.PostRun 
			INNER JOIN dbo.tblSmTaxGroup s ON h.TaxGrpID = s.TaxGrpID 
		WHERE s.ReportMethod <> 0
	) ctab 
	GROUP BY TransId, PostRun

	--add the tax adjustment to the appropriate tax location
	UPDATE #TaxSummary 
		SET TaxAmt1 = TaxAmt1 + CASE WHEN [TaxLoc1] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt2 = TaxAmt2 + CASE WHEN [TaxLoc2] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt3 = TaxAmt3 + CASE WHEN [TaxLoc3] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt4 = TaxAmt4 + CASE WHEN [TaxLoc4] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt5 = TaxAmt5 + CASE WHEN [TaxLoc5] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END 
	FROM dbo.tblArHistHeader h 
	WHERE h.TaxAmtAdjFgn <> 0 
		AND #TaxSummary.PostRun = h.PostRun AND #TaxSummary.TransId = h.TransId

	--retrieve the datasets
	-- header info
	SELECT h.TransId, CASE WHEN h.TransType < 0 THEN -1 ELSE 1 END AS TransType, h.CredMemNum AS OriginalInvoiceNo
		, h.InvcDate AS InvoiceDate, h.InvcNum AS InvoiceNo, h.CurrencyId, c.CustId, c.CustName, c.Attn
		, c.Addr1, c.Addr2, c.City, c.Region, c.PostalCode, c.Country, h.Rep1Id, h.Rep2Id, NetDueDate
		, DiscDueDate, t.[Desc] AS TermsDescription, h.CustPONum AS CustomerPoNo, h.OrderDate
		, x.TaxLoc1 AS TaxLocation1, x.TaxLoc2 AS TaxLocation2, x.TaxLoc3 AS TaxLocation3
		, x.TaxLoc4 AS TaxLocation4, x.TaxLoc5 AS TaxLocation5
		, ISNULL(x.TaxAmt1, 0) AS TaxAmount1, ISNULL(x.TaxAmt2, 0) AS TaxAmount2, ISNULL(x.TaxAmt3, 0) AS TaxAmount3
		, ISNULL(x.TaxAmt4, 0) AS TaxAmount4, ISNULL(x.TaxAmt5, 0) AS TaxAmount5
		, TaxSubtotalFgn AS TaxableSubtotal, NonTaxSubtotalFgn AS NontaxableSubtotal, 0 AS Freight, 0 AS Misc
		, SalesTaxFgn + TaxAmtAdjFgn AS SalesTax
		, ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
			+ ISNULL(TaxAmtAdjFgn, 0) AS InvoiceTotal
		, ISNULL(h.TotPmtAmtFgn, 0) AS TotalPayment
		, CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0 
			ELSE ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
					+ ISNULL(TaxAmtAdjFgn, 0) - ISNULL(h.TotPmtAmtFgn, 0) END AS TotalDue, h.PrintOption
		, h.ShipToID, h.ShipToName,h.ShipToAttn, h.ShipToAddr1, h.ShipToAddr2, h.ShipToCity, h.ShipToRegion
		, h.ShipToPostalCode, h.ShipToCountry, h.SourceId 
	FROM #Temp l 
		INNER JOIN dbo.tblArHistHeader h ON l.TransId = h.TransId AND l.PostRun = h.PostRun 
		LEFT JOIN dbo.tblArTermsCode t ON h.TermsCode = t.TermsCode 
		LEFT JOIN dbo.tblArCust c ON c.CustId = h.CustId 
		LEFT JOIN #TaxSummary x ON h.TransId = x.TransId 
	ORDER BY h.TransId, h.PostRun
	
	-- detail info
	SELECT d.TransId, d.JobId AS ProjectId, d.ProjName AS ProjectName, d.PhaseId, d.PhaseName,
		d.TaskId, d.TaskName, d.ActivityType AS [Type], d.PartId AS ResourceId, d.[Desc] AS [Description], d.AddnlDesc AS AdditionalDescription, d.QtyShipSell AS Qty, d.TaxClass,
		PriceExtFgn AS ExtPrice,
		d.UnitPriceSellFgn AS UnitPrice, d.ActShipDate AS ActivityDate, 
		d.EntryNum, d.TransHistId 
	FROM #Temp l INNER JOIN dbo.tblArHistDetail d ON l.TransId = d.TransID AND l.PostRun = d.PostRun
	WHERE d.EntryNum > 0 AND (d.PriceExt <> 0 OR d.ZeroPrint = 1)
	ORDER BY d.TransId, d.PostRun, d.LineSeq, d.EntryNum

	-- totals
	SELECT h.CurrencyID
		, COUNT(h.TransId) AS [InvoicesPrinted]
		, SUM(SIGN(h.TransType) * TaxSubtotalFgn) AS [Taxable]
		, SUM(SIGN(h.TransType) * NonTaxSubtotalFgn) AS [Nontaxable]
		, SUM(SIGN(h.TransType) * SalesTaxFgn + TaxAmtAdjFgn) AS [SalesTax]
		, SUM(SIGN(h.TransType) * ISNULL(h.TotPmtAmtFgn, 0)) AS [Prepaid]
		, SUM(SIGN(h.TransType) * ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)) AS [InvoiceTotal]
		, SUM(CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0
			ELSE
				ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)
					- ISNULL(h.TotPmtAmtFgn, 0)
			END) AS [NetDue]
	FROM #Temp l INNER JOIN dbo.tblArHistHeader h ON l.TransId = h.TransId AND l.PostRun = h.PostRun 
	GROUP BY h.CurrencyID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrintInvoicesHist_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrintInvoicesHist_proc'
GO
