USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTransferPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTransferPost_InHistory_proc]
AS
BEGIN TRY

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT h.HistoryIDFrom, h.SumYear, h.GLPeriod, h.XferDate, h.BatchId
	FROM dbo.tblInXfers h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	WHERE ISNULL(h.HistoryIDFrom, 0) > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT h.HistoryIDTo, h.SumYear, h.GLPeriod, h.XferDate, h.BatchId
	FROM dbo.tblInXfers h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	WHERE ISNULL(h.HistoryIDTo, 0) > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT t.HistoryIDFrom, h.SumYear, h.GLPeriod, h.XferDate, h.BatchId
	FROM dbo.tblInXfers h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
		INNER JOIN dbo.tblInXferLot t ON h.TransId = t.TransId
	WHERE ISNULL(t.HistoryIDFrom, 0) > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT t.HistoryIDTo, h.SumYear, h.GLPeriod, h.XferDate, h.BatchId
	FROM dbo.tblInXfers h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
		INNER JOIN dbo.tblInXferLot t ON h.TransId = t.TransId
	WHERE ISNULL(t.HistoryIDTo, 0) > 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransferPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransferPost_InHistory_proc'
GO
