USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApUnRealizedGainsAndLossesSummaryReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApUnRealizedGainsAndLossesSummaryReport_proc]
@FiscalYear Smallint = 2013,
@GlPeriod Smallint = 12,
@BaseCurrency pCurrency = 'USD',
@BaseCurrencyPrecision Tinyint = 2
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT AcctId AS GLAcct
	, CASE WHEN SUM(DebitAmt) - SUM(CreditAmt) > 0 THEN SUM(DebitAmt) - SUM(CreditAmt) ELSE 0 END AS DebitAmt
	, CASE WHEN SUM(DebitAmt) - SUM(CreditAmt) > 0 THEN 0 ELSE ABS(SUM(DebitAmt) - SUM(CreditAmt)) END AS CreditAmt	
	, u.CurrencyID, SUM(AmountFgn) AS AmountFgn
	FROM #tmpUnrealGainLoss u	
	GROUP BY AcctId, u.CurrencyID
	ORDER BY AcctId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApUnRealizedGainsAndLossesSummaryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApUnRealizedGainsAndLossesSummaryReport_proc'
GO
