USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorActivity_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorActivity_proc]

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpDetail (
		RecType INT NULL,
		PostRun [nvarchar](14) NOT NULL,
		TransId [nvarchar](8) NOT NULL,
		EntryNum INT NULL,
		VendorId [nvarchar](10) NOT NULL,
		Name NVARCHAR(60) NULL,
		WhseId [nvarchar](10) NULL,
		InvoiceNum [nvarchar](15) NOT NULL,
		CurrencyId [nvarchar](6) NULL, 
		InvoiceDate DATETIME NULL,
		TransType SMALLINT NULL,
		PONum NVARCHAR(50) NULL,
		GLPeriod SMALLINT NULL,
		FiscalYear SMALLINT NULL,
		GLAcct [nvarchar](255) NULL,
		PhaseId NVARCHAR(20) NULL,
		JobId NVARCHAR(20) NULL,
		CostType NVARCHAR(12) NULL,
		PartId [nvarchar](24) NULL,
		[Desc] [nvarchar](255) NULL,
		Units [nvarchar](5) NULL,
		Qty [decimal](28,10) NULL,
		GrossAmtDue [decimal](28,10) NULL, 
		DiscTaken [decimal](28,10) NULL, 
		NetPaid [decimal](28,10) NULL, 
		NetPaidCalc [decimal](28,10) NULL,
		GainLoss [decimal](28,10) NULL,
		UnitCost [decimal](28,10) NULL, 
		ExtCost [decimal](28,10) NULL,
		SalesTax [decimal](28,10) NULL, 
		Freight [decimal](28,10) NULL,
		Misc [decimal](28,10) NULL, 
		AddnlDesc NVARCHAR(MAX) NULL,
		InvoiceTotal [decimal](28,10) NULL,
		Balance1 [decimal](28,10) NULL,
		Invoice1 [decimal](28,10) NULL,
		TotalBalance [decimal](28,10) NULL,
		TotalInvoice [decimal](28,10) NULL)

	INSERT INTO #tmpDetail (RecType, PostRun, TransId, EntryNum, VendorId, Name, WhseId, InvoiceNum, CurrencyId, InvoiceDate,
							TransType, PONum, GLPeriod, FiscalYear, GLAcct, PhaseId, JobId, CostType, PartId, [Desc], Units,
							Qty, GrossAmtDue, DiscTaken, NetPaid, NetPaidCalc, GainLoss, UnitCost, ExtCost, SalesTax, Freight,
							Misc, AddnlDesc, InvoiceTotal, Balance1, Invoice1, TotalBalance, TotalInvoice) 
	SELECT ds.RecType, ds.PostRun, ds.TransId, ds.EntryNum, ds.VendorId, ds.Name, ds.WhseId, ds.InvoiceNum, ds.CurrencyId, ds.InvoiceDate,
		ds.TransType, ds.PONum, ds.GLPeriod, ds.FiscalYear, ds.GLAcct, ds.PhaseId, ds.JobId, ds.CostType, ds.PartId, ds.[Desc], ds.Units, ds.Qty, 
		ds.GrossAmtDue, ds.DiscTaken, ds.NetPaid, ds.NetPaidCalc, ds.GainLoss,
		ds.UnitCost, ds.ExtCost, ds.SalesTax, ds.Freight, ds.Misc, ds.AddnlDesc,

		SUM(ds.ExtCost) OVER (PARTITION BY InvoiceNum, VendorId)  + SUM(ds.SalesTax) OVER (PARTITION BY InvoiceNum, VendorId) + SUM(ds.Freight) OVER (PARTITION BY InvoiceNum, VendorId) + SUM(ds.Misc) OVER (PARTITION BY InvoiceNum, VendorId) AS InvoiceTotal,
		SUM(ds.ExtCost) OVER (PARTITION BY VendorId) + SUM(ds.SalesTax) OVER (PARTITION BY VendorId) + SUM(ds.Freight) OVER (PARTITION BY VendorId) + SUM(ds.Misc) OVER (PARTITION BY VendorId) - SUM(ds.GrossAmtDue) OVER (PARTITION BY VendorId) - SUM(ds.GainLoss) OVER (PARTITION BY VendorId) AS Balance1,
		SUM(ds.ExtCost) OVER (PARTITION BY VendorId) + SUM(ds.SalesTax) OVER (PARTITION BY VendorId) + SUM(ds.Freight) OVER (PARTITION BY VendorId) + SUM(ds.Misc) OVER (PARTITION BY VendorId) AS Invoice1,
			
		SUM(ExtCost) OVER (PARTITION BY NULL) + SUM(SalesTax) OVER (PARTITION BY NULL) + SUM(Freight) OVER (PARTITION BY NULL) + SUM(Misc) OVER (PARTITION BY NULL) - SUM(GrossAmtDue) OVER (PARTITION BY NULL) - SUM(GainLoss) OVER (PARTITION BY NULL) AS TotalBalance,
		SUM(ExtCost) OVER (PARTITION BY NULL) + SUM(SalesTax) OVER (PARTITION BY NULL) + SUM(Freight) OVER (PARTITION BY NULL) + SUM(Misc) OVER (PARTITION BY NULL) AS TotalInvoice 
	FROM (
		SELECT 0 AS RecType, h.PostRun, h.TransId, d.EntryNum, h.VendorId, v.Name, d.WhseId, h.InvoiceNum, h.CurrencyId, h.InvoiceDate, 
		   h.TransType, h.PONum, h.GLPeriod, h.FiscalYear, d.GLAcct, d.PhaseId, d.JobId, d.CostType, d.PartId, d.[Desc], d.Units, 
		   SIGN(h.TransType) * d.Qty AS Qty, 		   
		   SIGN(h.TransType) * d.UnitCost  AS UnitCost, 
		   SIGN(h.TransType) * d.ExtCost  AS ExtCost, 
		   0 AS SalesTax, 0 AS Freight, 0 AS Misc, d.AddnlDesc, 0 AS GrossAmtDue, 0 AS DiscTaken, 0 AS NetPaid, 0 AS NetPaidCalc, 0 AS GainLoss		     
		FROM dbo.tblApVendor AS v 
			INNER JOIN dbo.tblApHistHeader AS h ON v.VendorID = h.VendorId
		    LEFT OUTER JOIN dbo.tblApHistDetail AS d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum
		    INNER JOIN #tmpVendorList t ON t.VendorID = h.VendorId AND h.PostRun = t.PostRun  AND h.TransId = t.TransId 
				AND h.InvoiceNum = t.InvoiceNum AND d.EntryNum = t.EntryNum				
		WHERE ISNULL(d.EntryNum, 0) >= 0 --exclude SalesTax/Freight/Misc detail records

		UNION ALL
		
		SELECT 1 AS RecType, h.PostRun, h.TransId, NULL, h.VendorId, v.Name, NULL, h.InvoiceNum, h.CurrencyId, h.InvoiceDate, 
		   h.TransType, h.PONum, h.GLPeriod, h.FiscalYear, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 
		   0 AS Qty, 0 AS UnitCost, 0 AS ExtCost, 
		   SIGN(h.TransType) * (h.SalesTax + h.TaxAdjAmt)  AS SalesTax, 
		   SIGN(h.TransType) * h.Freight AS Freight, 
		   SIGN(h.TransType) * h.Misc  AS Misc, NULL,
		   c.GrossAmtDue, c.DiscTaken,  c.NetPaid, c.NetPaidCalc, 		   
		   c.GainLoss   AS GainLoss	
		FROM dbo.tblApVendor AS v 
			INNER JOIN dbo.tblApHistHeader AS h ON v.VendorID = h.VendorId
		    INNER JOIN ( SELECT DISTINCT VendorId, Postrun, Transid, Invoicenum FROM #tmpVendorList ) t ON t.VendorID = h.VendorId AND h.PostRun = t.PostRun AND h.TransId = t.TransId 
				AND h.InvoiceNum = t.InvoiceNum 
			LEFT JOIN 
			(SELECT h.VendorId, d.InvoiceNum, SUM(d.PaymentAmtBase + d.DiscTakenBase)  AS GrossAmtDue, 
				SUM(d.DiscTakenBase)  AS DiscTaken,  
				SUM(d.PaymentAmtBase)  AS NetPaid, 
				SUM(d.PaymentAmtBase) NetPaidCalc,
				SUM(d.GLGainLossAmtBase) AS GainLoss
			FROM dbo.tblApPaymentHistHeader h LEFT JOIN dbo.tblApPaymentHistDetail d on h.ID=d.HeaderID
			WHERE h.VoidDate IS NULL GROUP BY VendorId, InvoiceNum) AS c ON h.VendorId = c.VendorID AND h.InvoiceNum = c.InvoiceNum	         
	) ds

		-- TABLE
		-- Data for DETAIL AP Vendor Activity History
		SELECT ds.RecType, ds.PostRun, ds.TransId, ds.EntryNum, ds.VendorId, ds.Name, ds.WhseId, ds.InvoiceNum, ds.CurrencyId, ds.InvoiceDate, ds.AddnlDesc,
		ds.TransType, ds.PONum, ds.GLPeriod, ds.FiscalYear, ds.GLAcct, ds.PhaseId, ds.JobId, ds.CostType, ds.PartId, ds.[Desc], ds.Units, ds.Qty, 
		ds.GrossAmtDue AS GrossAmtDue, ds.DiscTaken AS DiscTaken, ds.NetPaid AS NetPaid, ds.NetPaidCalc, ds.GainLoss AS GainLoss,
		ds.UnitCost, ds.ExtCost AS ExtCost, ds.SalesTax AS SalesTax, ds.Freight AS Freight, ds.Misc AS Misc, ds.InvoiceTotal, ds.Balance1, ds.Invoice1, ds.TotalBalance, ds.TotalInvoice
		FROM #tmpDetail ds
		GROUP BY ds.RecType, ds.PostRun, ds.TransId, ds.EntryNum, ds.VendorId, ds.Name, ds.WhseId, ds.InvoiceNum, ds.CurrencyId, ds.InvoiceDate, ds.AddnlDesc,
		ds.TransType, ds.PONum, ds.GLPeriod, ds.FiscalYear, ds.GLAcct, ds.PhaseId, ds.JobId, ds.CostType, ds.PartId, ds.[Desc], ds.Units, ds.Qty,
		ds.GrossAmtDue, ds.DiscTaken, ds.NetPaid, ds.NetPaidCalc, ds.GainLoss,
		ds.UnitCost, ds.ExtCost, ds.SalesTax, ds.Freight, ds.Misc,
		ds.InvoiceTotal, ds.Balance1, ds.Invoice1, ds.TotalBalance, ds.TotalInvoice	
	

		-- Data for AP Vendor Activity History Lot subreport
		SELECT  l.PostRun, l.TransId, l.InvoiceNum, l.EntryNum, SeqNum, ItemId, LocId, LotNum, QtyOrder, QtyFilled, QtyBkord, 
			CostUnit, CostUnitFgn, HistSeqNum, Cmnt,
		CASE WHEN QtyFilled <> 0 AND CostUnit <> 0 THEN (QtyFilled * CostUnit) END AS ExtCostLot

		FROM #tmpVendorList t 
		INNER JOIN dbo.tblApHistHeader AS h ON t.VendorId = h.VendorId AND t.PostRun = h.PostRun  AND t.TransId = h.TransId AND t.InvoiceNum = h.InvoiceNum
		INNER JOIN dbo.tblApHistLot AS l ON h.PostRun = l.PostRun AND h.TransId = l.TransId AND h.InvoiceNum = l.InvoiceNum AND t.EntryNum = l.EntryNum
		

		-- Data for AP Vendor Activity HistorySer subreport
		SELECT  s.PostRun, s.TransId, s.InvoiceNum, s.EntryNum, SeqNum, LotNum, SerNum, ItemId, LocId, CostUnit, PriceUnit, CostUnitFgn, 
			PriceUnitFgn, HistSeqNum, Cmnt, CASE WHEN LotNum = ' ################' THEN NULL ELSE LotNum END AS vLotNum
		FROM #tmpVendorList t 
		INNER JOIN dbo.tblApHistHeader AS h ON t.VendorId = h.VendorId AND t.PostRun = h.PostRun  AND t.TransId = h.TransId AND t.InvoiceNum = h.InvoiceNum
		INNER JOIN dbo.tblApHistSer AS s ON h.PostRun = s.PostRun AND h.TransId = s.TransId AND h.InvoiceNum = s.InvoiceNum  AND t.EntryNum = s.EntryNum


		-- Vendor Activity subreport data
		SELECT h.VendorID, d.InvoiceNum, h.PaymentNum, h.PmtType, h.PaymentDate, h.CurrencyID,  
		d.PaymentAmtBase + d.DiscTakenBase GrossAmtDue,
		d.DiscTakenBase DiscTaken,
		d.PaymentAmtBase NetPaid, 
		d.PaymentAmtBase  NetPaidCalc, 
		d.GLGainLossAmtBase AS GainLoss	   
		FROM dbo.tblApPaymentHistHeader AS h LEFT JOIN dbo.tblApPaymentHistDetail AS d ON h.ID = d.HeaderID
		INNER JOIN (SELECT DISTINCT t.VendorId, t.InvoiceNum, hh.CurrencyId FROM #tmpVendorList t INNER JOIN dbo.tblApHistHeader AS hh 
			ON t.VendorID = hh.VendorId AND t.PostRun = hh.PostRun  AND t.TransId = hh.TransId AND t.InvoiceNum = hh.InvoiceNum 
			) AS c
		ON c.VendorId = h.VendorID AND d.InvoiceNum = c.InvoiceNum	
		WHERE  h.VoidDate IS NULL 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorActivity_proc'
GO
