USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSettlement_PaymentHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSettlement_PaymentHistory_proc]          
AS          
SET NOCOUNT ON        
BEGIN TRY          
         
 DECLARE @PostRun pPostRun, @WrkStnDate datetime ,@PaymentMethodID nvarchar(20) ,
			@SettlementDate datetime, @FiscalPeriod smallint,@FiscalYear smallint , @GlDebitAcct  pGlAcct ,@PmtType smallint   
          
 --Retrieve global values          
 SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'          
 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WorkStationDate'       
 SELECT @PaymentMethodID = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'PaymentMethodID'          
 SELECT @SettlementDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'SettlementDate'          
 SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'          
 SELECT @FiscalYear= Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'             
          
 IF @PostRun IS NULL OR @WrkStnDate IS NULL OR @PaymentMethodID IS NULL     
      OR @SettlementDate  IS NULL OR @FiscalPeriod IS NULL     
      OR @FiscalYear IS NULL    
 BEGIN          
  THROW 90025, N'Missing global value.', 1          
 END    
 
 SELECT @GlDebitAcct = GLAcctDebit, @PmtType=PmtType FROM  tblArPmtMethod  WHERE PmtMethodID=@PaymentMethodID         
         
  INSERT dbo.tblArHistPmt       
  ( PostRun, PostDate, RecType        
  , CustId, TransId, DepNum, InvcNum                       
  , PmtMethodId, CurrencyId, ExchRate , PmtDate        
  , PmtAmt, DiffDisc, PmtAmtFgn, DiffDiscFgn         
  , PmtType, SumHistPeriod, GLPeriod, FiscalYear       
  , GLRecvAcct, GlAcctDebit          
  , Rep1Id, Rep2Id, DistCode, VoidYn,SourceId)       
 SELECT       
 @PostRun,@WrkStnDate,4         
 ,o.CustId,o.[counter] ,'######',o.InvcNum           
 , @PaymentMethodID,i.CurrencyID,o.ExchRate ,@SettlementDate       
 , i.BalanceBase, i.DiscountBase, i.Balance, i.Discount      
 , @PmtType ,@FiscalPeriod ,@FiscalPeriod,@FiscalYear          
 ,dc.GlAcctReceivables ,@GlDebitAcct          
 , c.SalesRepId1,c.SalesRepId2 ,dc.DistCode,0 ,NEWID()       
 from #Settlement_InvoiceAmount i      
 INNER JOIN tblArOpenInvoice o ON o.[counter]=i.InvoiceID        
 INNER JOIN dbo.tblArCust c on o.CustId = c.CustId          
 INNER JOIN dbo.tblArDistCode dc on o.DistCode = dc.DistCode      
       
END TRY          
BEGIN CATCH          
 EXEC dbo.trav_RaiseError_proc          
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_PaymentHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_PaymentHistory_proc'
GO
