USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpProcessRequirementsView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpProcessRequirementsView_proc]
@IncludeCapacityStatus bit =0,
@DefaultUnitOfTime varchar(10) ='Hours',
@Precissionhr int = 3
AS
BEGIN TRY
	SET NOCOUNT ON

	CREATE TABLE #tmp
	(
		OrderNo [nvarchar](8) NOT NULL, 
		ReleaseNo int, 
		ReqType tinyint, 
		ReqId int, 
		ParentId int, 
		TransId int, 
		ParentAssemblyId [nvarchar](24) NULL, 
		IndLevel int, 
		Step int, 
		QtyReq [decimal](28,10) NOT NULL DEFAULT(0), 
		CustId [nvarchar](10) NULL, 
		SalesOrder nvarchar(8), 
		[Description] [nvarchar](255) NULL, 
		OperationId nvarchar(10), 
		[Priority] int, 
		ReqSeq int, 
		MachineGroupId nvarchar(10), 
		WorkCenterId nvarchar(10), 
		MachineSetupEst [decimal](28,10) NULL, 
		MachineRunEst [decimal](28,10) NULL, 
		HourlyCostFactorMach [decimal](28,10) NULL, 
		HourlyRateLbr [decimal](28,10) NULL, 
		HourlyRateLbrSetup [decimal](28,10) NULL, 
		LaborSetupEst [decimal](28,10) NULL, 
		LaborEst [decimal](28,10) NULL, 
		RequiredDate datetime, 
		IssuedYn bit DEFAULT(0), 
		IssuedQty [decimal](28,10) NOT NULL DEFAULT(0), 
		IssueCompleteYn bit DEFAULT(0), 
		DefaultVendorId [nvarchar](10) NULL, 
		QtySent [decimal](28,10) NULL, 
		QtyReceived [decimal](28,10) NULL, 
		UnitCost [decimal](28,10) NULL,
		RevisionNo nvarchar(3),
		OperatorCount int,
		LocId [nvarchar](10) NOT NULL,
		LaborTypeID nvarchar(20),
		LaborSetupTypeID nvarchar(20),
		EstProcessTime  [decimal](28,10) NOT NULL,
		PWOEstFinishDate datetime,
		PWOEstStartDate datetime,
		CSSchedWorkCenter [decimal](28,10) NULL,
		CSSchedLabor [decimal](28,10) NULL,
		CSSchedMachine [decimal](28,10) NULL,
	)

	INSERT INTO #tmp(OrderNo, ReleaseNo, ReqType, ReqId, ParentId, TransId, ParentAssemblyId, IndLevel, Step
		, QtyReq, CustId, SalesOrder, [Description], OperationId, [Priority], ReqSeq
		, MachineGroupId, WorkCenterId, MachineSetupEst, MachineRunEst, HourlyCostFactorMach
		, HourlyRateLbr, HourlyRateLbrSetup, LaborSetupEst, LaborEst, RequiredDate
		, DefaultVendorId, UnitCost,RevisionNo,OperatorCount
		, LocId, LaborTypeID, LaborSetupTypeID, EstProcessTime
		, PWOEstFinishDate, PWOEstStartDate, CSSchedWorkCenter, CSSchedLabor, CSSchedMachine) 
	SELECT re.OrderNo, re.ReleaseNo, r.[Type] AS ReqType, r.ReqId, r.ParentId, r.TransId, s.ComponentId AS ParentAssemblyId, r.IndLevel
		, r.Step, r.Qty AS QtyReq, re.CustId, re.SalesOrder, r.[Description], ISNULL(m.OperationId, c.OperationId)
		, re.[Priority], r.ReqSeq, m.MachineGroupId, m.WorkCenterId
		, CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND(CONVERt(decimal,(m.MachineSetupEst)*60),@Precissionhr)
			   WHEN @DefaultUnitOfTime =  'Minutes' THEN ROUND((CONVERt(decimal,m.MachineSetupEst)),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,m.MachineSetupEst)/60),@Precissionhr) END AS MachineSetupEst
		, CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND(CONVERt(decimal,(m.MachineRunEst)*60),@Precissionhr)
			   WHEN @DefaultUnitOfTime =  'Minutes' THEN ROUND((CONVERt(decimal,m.MachineRunEst)),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,m.MachineRunEst)/60),@Precissionhr) END AS MachineRunEst
		, m.HourlyCostFactorMach AS HourlyCostFactorMach
		, m.HourlyRateLbr AS HourlyRateLbr, m.HourlyRateLbrSetup AS HourlyRateLbrSetup
		, CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND(CONVERt(decimal,(m.LaborSetupEst)*60),@Precissionhr)
			   WHEN @DefaultUnitOfTime =  'Minutes' THEN ROUND((CONVERt(decimal,m.LaborSetupEst)),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,m.LaborSetupEst)/60),@Precissionhr) END AS LaborSetupEst
		, CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND(CONVERt(decimal,(m.LaborEst)*60),@Precissionhr)
			   WHEN @DefaultUnitOfTime =  'Minutes' THEN ROUND((CONVERt(decimal,m.LaborEst)),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,m.LaborEst)/60),@Precissionhr) END AS LaborEst
		, r.EstCompletionDate
		, c.DefaultVendorId, c.EstPerPieceCost, h.RevisionNo,m.OperatorCount
		, s.LocId, m.LaborTypeId ,m.LaborSetupTypeId
		, CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND(CONVERt(decimal,(r.EstProcessTime)*60),@Precissionhr)
			   WHEN @DefaultUnitOfTime =  'Minutes' THEN ROUND((CONVERt(decimal,r.EstProcessTime)),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,r.EstProcessTime)/60),@Precissionhr) END AS EstProcessTime
		,r.EstCompletionDate, r.EstStartDate ,NULL,NULL,NULL
	FROM #tmpOrderReleases t 
		INNER JOIN dbo.tblMpRequirements r ON t.Id = r.ReleaseId 
		INNER JOIN dbo.tblMpOrderReleases re ON r.ReleaseId = re.Id 
		INNER JOIN dbo.tblMpOrder h ON re.OrderNo = h.OrderNo
		LEFT JOIN dbo.tblMpTimeSum m ON r.TransId = m.TransId 
		LEFT JOIN dbo.tblMpSubContractSum c ON r.TransId = c.TransId 
		LEFT JOIN dbo.tblMpMatlSum s ON r.ParentId = s.TransId 
	WHERE r.[Type] IN (1, 6) ORDER BY r.IndLevel

	UPDATE #tmp SET QtySent = q.QtySent, IssuedQty = q.QtyReceived, QtyReceived = q.QtyReceived
		, IssuedYn = 1, IssueCompleteYn = CASE WHEN q.QtyReceived >= t.QtyReq THEN 1 ELSE 0 END 
	FROM #tmp t 
		INNER JOIN 
		(
			SELECT s.TransId, SUM(s.QtySent) AS QtySent, SUM(s.QtyReceived) AS QtyReceived 
			FROM dbo.tblMpSubContractDtl s
				INNER JOIN #tmp t ON s.TransId = t.TransId WHERE t.ReqType = 6
			GROUP BY s.TransId
		) q ON t.TransId = q.TransId

	-- retrieve IssuedYn and IssuedQty
	UPDATE #tmp SET IssuedYn = 1, IssuedQty = g.Qty 
	FROM #tmp t 
		INNER JOIN 
		(
			SELECT s.TransId, SUM(QtyProduced) AS Qty 
			FROM dbo.tblMpTimeDtl s
				INNER JOIN #tmp t ON s.TransId = t.TransId WHERE t.ReqType = 1
			GROUP BY s.TransId
		) g ON t.TransId = g.TransId	


	UPDATE #tmp SET CSSchedLabor = ra.CSSchedLabor
	FROM #tmp t
	INNER JOIN
	(
		SELECT a.SourceRef
			,ISNULL(SUM(  CASE WHEN @DefaultUnitOfTime = 'Seconds' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/1),@Precissionhr)
			   WHEN @DefaultUnitOfTime = 'Minutes' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/60),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/3600),@Precissionhr) END),0) CSSchedLabor
		FROM #tmp t  
		INNER JOIN dbo.tblCsResourceActivity a ON t.OrderNo = a.[SourceID1] and Cast(t.[ReleaseNo] as nvarchar) = a.[SourceID2]
		INNER JOIN tblMpRequirements r ON a.SourceRef = r.TransId AND r.ReqId = t.ReqId
		WHERE a.ResType = 5 AND a.ActStatus in( 0,4,5) AND a.StartDate is not null AND a.ResDetailId is not null --labor
		AND @IncludeCapacityStatus =1 
		GROUP BY  SourceRef
	)ra  ON t.TransId = ra.SourceRef 

	UPDATE #tmp SET CSSchedMachine = ra.CSSchedMachine
	FROM #tmp t
	INNER JOIN
	(
		SELECT  a.SourceRef
		,ISNULL(SUM( CASE WHEN @DefaultUnitOfTime = 'Seconds'  THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/1),@Precissionhr)
			   WHEN @DefaultUnitOfTime = 'Minutes' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/60),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/3600),@Precissionhr) END),0) CSSchedMachine
		FROM #tmp t 
		INNER JOIN  dbo.tblCsResourceActivity a ON t.OrderNo = a.[SourceID1] and Cast(t.[ReleaseNo] as nvarchar) = a.[SourceID2]
		INNER JOIN tblMpRequirements r ON a.SourceRef = r.TransId AND r.ReqId = t.ReqId
		WHERE a.ResType = 6 AND a.ActStatus in( 0,4,5) AND a.StartDate is not null AND a.ResDetailId is not null --machine
		AND @IncludeCapacityStatus =1 
		GROUP BY  SourceRef
	)ra  ON t.TransId = ra.SourceRef 

	UPDATE #tmp SET CSSchedWorkCenter = ra.CSSchedWorkCenter
	FROM #tmp t
	INNER JOIN
	(
		SELECT  a.SourceRef
		,ISNULL(SUM( CASE WHEN @DefaultUnitOfTime = 'Seconds'  THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/1),@Precissionhr)
			   WHEN @DefaultUnitOfTime = 'Minutes' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/60),@Precissionhr) 
			   WHEN @DefaultUnitOfTime = 'Hours' THEN ROUND((CONVERt(decimal,a.MaxProcessTime)/3600),@Precissionhr) END),0) CSSchedWorkCenter
		FROM #tmp t 
		INNER JOIN dbo.tblCsResourceActivity a  ON t.OrderNo = a.[SourceID1] and Cast(t.[ReleaseNo] as nvarchar) = a.[SourceID2]
		INNER JOIN tblMpRequirements r ON a.SourceRef = r.TransId AND r.ReqId = t.ReqId
		WHERE a.ResType = 7 AND a.ActStatus in( 0,4,5) AND a.StartDate is not null AND a.ResDetailId is not null --Workcenter
		AND @IncludeCapacityStatus =1 
		GROUP BY  SourceRef
	)ra  ON t.TransId = ra.SourceRef 
	SELECT * FROM #tmp
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpProcessRequirementsView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpProcessRequirementsView_proc'
GO
