USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoHistoryRequestResponseView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoHistoryRequestResponseView_proc]
@TransId [nvarchar](8),
@PostRun [nvarchar](14)
AS
SET NOCOUNT ON
BEGIN TRY


	Create table #tmpSkip(TransId [nvarchar](8) NOT NULL, PostRun [nvarchar](14) NOT NULL,Response  [tinyint] NOT NULL,ResponseDate [datetime] NULL,ResponseComments [text] NULL,Username [nvarchar](20) NULL,[Name] [varchar](100) NULL,Approver  [int] NOT NULL,[Level]  [int] NOT NULL)
 
	Insert Into #tmpSkip (TransId, PostRun, Response, ResponseDate,ResponseComments, 
		Username, [Name], Approver, [Level])
	SELECT distinct dd.TransId, dd.PostRun, cast(dd.Response as smallint) Response,  dd.TransDate as ResponseDate, null As ResponseComments, 
		dd.Username, dd.Name, dd.Approver, dd.[Level]
		from  
		(SELECT h.PostRun, h.TransId, 3 Response, d.ItemId, h.OrderedBy, h.RouteId, h.TransDate, 
			CASE WHEN (u.AltStartDate IS NULL OR GETDATE() >= u.AltStartDate) 
			AND (u.AltEndDate IS NULL OR GETDATE() <= u.AltEndDate) 
			THEN u.AltUserId ELSE NULL END As AltApprover, u.ID As Approver, u.Username, u.Name, rd.[Level] 
			FROM dbo.tblPoHistRequestHeader h LEFT JOIN dbo.tblPoHistRequestDetail d 
			ON d.TransID = h.TransId AND d.PostRun = h.PostRun 
			LEFT JOIN dbo.tblPoTransRequest r On h.TransId = r.TransId 
			LEFT JOIN dbo.tblApVendor v ON v.VendorID = h.VendorId 
			LEFT JOIN dbo.tblPoRequestRouteDetail rd On h.RouteId = rd.RouteId 
			LEFT JOIN dbo.tblPoRequestUser u ON rd.UserId = u.ID) dd
			where dd.TransId = @TransId AND dd.PostRun =  @PostRun AND dd.Approver NOT IN 
		(SELECT u.ID
		FROM dbo.tblPoHistRequestHeader h
			INNER JOIN dbo.tblPoHistRequestResponse r ON h.PostRun = r.PostRun AND h.TransId = r.TransId
			INNER JOIN dbo.tblPoRequestUser u On r.ResponseUser = u.ID
			Left JOIN dbo.tblPoRequestRouteDetail d On d.RouteId  = h.RouteId and d.UserId = U.Id  
		WHERE h.TransId = @TransId and h.PostRun = @PostRun)
	
		

	SELECT h.TransId, h.PostRun,  r.Response, r.ResponseDate, r.Comments As ResponseComments,u.Username, u.Name,  U.Id  as Approve, d.[Level] 
	FROM dbo.tblPoHistRequestHeader h
		INNER JOIN dbo.tblPoHistRequestResponse r ON h.PostRun = r.PostRun AND h.TransId = r.TransId
		INNER JOIN dbo.tblPoRequestUser u On r.ResponseUser = u.ID
		Left JOIN dbo.tblPoRequestRouteDetail d On d.RouteId  = h.RouteId and d.UserId = U.Id  
	WHERE h.TransId =@TransId AND h.PostRun = @PostRun
	Union all
	SELECT TransId, PostRun, Response, ResponseDate,ResponseComments, Username, [Name], Approver, [Level] from #tmpSkip tt
				order by d.[Level]

DROP TABLE #tmpSkip;
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoHistoryRequestResponseView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoHistoryRequestResponseView_proc'
GO
