USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrPeriodDefinitionsList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrPeriodDefinitionsList_proc]

AS

BEGIN TRY

SET NOCOUNT ON

	SELECT h.PdDefId, h.Descr, h.TimeFencePds, d.Period, d.IncUnit, d.Increment	FROM dbo.tblDrPeriodDef h 
	INNER JOIN dbo.tblDrPeriodDefDtl d ON h.PdDefId = d.PdDefId
	INNER JOIN #tmpDrPeriodDefinitionsList t ON  t.PdDefId=h.PdDefId 
	
END TRY
BEGIN CATCH
EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPeriodDefinitionsList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPeriodDefinitionsList_proc'
GO
