USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_SO_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_SO_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON


	DECLARE @POReqPickingYn BIT = 0
	SELECT @POReqPickingYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'POReqPickingYn'

	--identify any Sales Order that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, Notes, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq, ReqDate
		, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, BatchId, ZoneId, ExtLocAId, ExtLocBId, KitId, ReferenceId, ReferenceName, ShipVia, ItemDescription)
	SELECT 0, h.TransId, CAST(h.Notes AS nvarchar(50)), d.EntryNum, d.SeqNum, h.CustId, cust.CustName, h.PickNum
		, d.ItemId, d.LocId, d.LotNum, d.ExtLocA, d.ExtLocB, d.UnitsSell, d.QtyReq
		, Cast(ISNULL(d.ReqShipDate, ISNULL(h.ReqShipDate, h.TransDate)) AS Date)
		, d.GrpId, d.OriCompQty, d.QtyOrdered, h.TransId, Null, Null, h.BatchId, d.ZoneID, d.ExtLocAId, d.ExtLocBId,d.KitId, h.CustId as ReferenceId, cust.CustName as ReferenceName
		,h.ShipVia, d.ItemDescription
	FROM dbo.tblSoTransHeader h 
	INNER JOIN dbo.tblArCust cust ON cust.CustId = h.CustId
	INNER JOIN 
	(SELECT d1.TransId, d1.EntryNum, ISNULL(e.SeqNum, 0) SeqNum
		, d1.ItemType, d1.ItemId, d1.LocId
		, d1.ReqShipDate
		, Case When d1.Kit = 1 Then d1.EntryNum When d1.Kit = 0 And d1.GrpId > 0 Then d1.GrpId Else Null End [GrpId]
		, d1.OriCompQty, COALESCE(SUM(d1.QtyOrdSell), MAX(d1.QtyOrdSell), 0) as QtyOrdered, d1.UnitsSell
		, e.LotNum, e.ExtLocA, elb.ExtLocID as ExtLocAId, e.ExtLocB, elc.ExtLocID as ExtLocBId, elb.ZoneID
		, ISNULL(SUM(e.QtyOrder - e.QtyFilled), MAX(d1.QtyOrdSell - d1.QtyShipSell)) QtyReq
		, Case When d1.Kit = 1 Then d1.ItemId When d1.Kit = 0 And d1.GrpId > 0 Then k.ItemId Else Null End [KitId], d1.Descr AS ItemDescription
		FROM dbo.tblSoTransDetail d1 
		LEFT JOIN dbo.tblSoTransDetailExt e
			ON d1.TransId = e.TransId AND d1.EntryNum = e.EntryNum 
		LEFT JOIN dbo.tblWmExtLoc elb ON elb.Id = e.ExtLocA AND elb.[Type] = 0 --bins
		LEFT JOIN dbo.tblWmExtLoc elc ON elc.Id = e.ExtLocB AND elc.[Type] = 1 --containers
		LEFT JOIN dbo.tblSmTransLink l ON d1.[LinkSeqNum] = l.[SeqNum]
		LEFT JOIN dbo.tblSoTransDetail k ON d1.TransId = k.TransId AND d1.GrpId = k.EntryNum
		WHERE d1.[Status] = 0 --not completed
			AND d1.[ItemType] Not In (0, 3) --IN items, but not Service Items
			AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR ((l.TransLinkType = 0 AND l.DropShipYn=0) AND NOT (l.TransLinkType = 0 AND l.DropShipYn = 0 AND l.DestType IN (1,2) AND @POReqPickingYn = 0))) --((transaction linked and not DropShipped) or link is broken)
			AND d1.QtyOrdSell > d1.QtyShipSell --has req qty at line item level
			AND d1.LocId = ISNULL(@LocId, d1.LocId) --filter by LocId only if Wms is installed
		GROUP BY d1.TransId, d1.EntryNum, e.SeqNum, d1.ItemType, d1.ItemId, d1.LocId
			, d1.ReqShipDate, d1.GrpId, d1.OriCompQty, d1.QtyOrdSell, d1.UnitsSell, e.LotNum, e.ExtLocA, elb.ExtLocID, e.ExtLocB, elc.ExtLocID, elb.ZoneID,d1.Kit,k.ItemId, d1.Descr
	) d ON h.TransId = d.TransId
	WHERE d.QtyReq > 0
		AND h.[TransType] in (3, 5, 9) --TransType of 9=New/3=Backordered/5=Picked
		AND h.[VoidYn] = 0 --not voided
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_SO_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_SO_proc'
GO
