USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsTransPost_BankRec_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsTransPost_BankRec_proc]
AS
BEGIN TRY
	DECLARE @CurrBase [nvarchar](6), @DescrDeposit nvarchar(30), @ReferDeposit nvarchar(15), @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @TransType nvarchar(10)
	DECLARE @PostRun [nvarchar](14)


	--Retrieve global values
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @DescrDeposit = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'DescrDeposit'
	SELECT @ReferDeposit = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'ReferDeposit'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PSTRANS'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'

	IF @CurrBase IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL OR @TransType IS NULL OR @PostRun IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Set default for globals that were not provided
	SELECT @DescrDeposit = CASE WHEN ISNULL(@DescrDeposit, '') = '' THEN 'PS Deposit' ELSE @DescrDeposit END
		, @ReferDeposit = CASE WHEN ISNULL(@ReferDeposit, '') = '' THEN 'PS Deposit' ELSE @ReferDeposit END
	
	CREATE TABLE #Payment
	(
		SourceID nvarchar(20)
		, BankID [nvarchar](10) NOT NULL 
		, CurrencyId [nvarchar](6) NOT NULL
		, TransDate datetime
		, ExchRate [decimal](28,10) NOT NULL
		, Amount [decimal](28,10) NOT NULL
		, AmountFgn [decimal](28,10) NULL
		, Descr [nvarchar](255) NULL
		, Reference nvarchar(30)
	) 
     
	CREATE TABLE #BankAccnt
	(
		BankId [nvarchar](10) NOT NULL 
		, PmtAmt [decimal](28,10) NOT NULL
		, PmtAmtFgn [decimal](28,10) NOT NULL
	)

	--insert records for payments in which Type < 3 (Cash or Check) or Type = 6 (Direct Debit) or Type = 7 (External)*/
	--Transaction payment
	INSERT INTO #Payment(SourceID, BankID, CurrencyId, TransDate
		, ExchRate
		, Amount
		, AmountFgn
		, Descr
		, Reference)
	SELECT t.LocID, m.BankId,b.CurrencyId, DATEADD(dd, 0, DATEDIFF(dd, 0, p.PmtDate)) as PmtDate
		, CASE WHEN b.CurrencyID = @CurrBase THEN 1
			   ELSE er.Rate END
		, SUM(p.AmountBase)
		, SUM(
			CASE WHEN b.CurrencyID = @CurrBase THEN p.AmountBase
			ELSE ROUND(p.AmountBase * er.Rate, er.CurrDecPlaces) END) --Use base currency for values outside POS - exchange from base when needed
		, CASE WHEN p.PmtType IN (3, 7) THEN CONVERT(nvarchar(255),Isnull(c.CustName +'|', '') + Isnull(p.CcAuth, '')) ELSE @DescrDeposit END
		, CASE WHEN p.PmtType IN (3, 7) THEN p.PmtMethodID ELSE @ReferDeposit END
	FROM #PsPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	INNER JOIN dbo.tblPsTransHeader h ON p.HeaderID = h.ID 
	INNER JOIN #PsTransList i ON h.ID = i.ID
	INNER JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
	INNER JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE er.TransType = @TransType AND er.[Source] = @CurrBase --payment exchanged from base
	) er ON er.Destination = b.CurrencyId AND er.TransKey = @PostRun
	LEFT JOIN dbo.tblArCust c ON h.BillToID = c.CustId
	WHERE p.VoidDate IS NULL AND (p.PmtType <= 3 OR p.PmtType IN (6, 7))
	GROUP BY t.LocID, m.BankId, p.PmtDate,b.CurrencyId,er.Rate, p.PmtType
             , CASE WHEN p.PmtType IN (3, 7) THEN CONVERT(nvarchar(255),Isnull(c.CustName +'|', '') + Isnull(p.CcAuth, '') )ELSE @DescrDeposit END
			 , CASE WHEN p.PmtType IN (3, 7) THEN p.PmtMethodID ELSE @ReferDeposit END 
	--Misc payment
	INSERT INTO #Payment(SourceID, BankID, CurrencyId, TransDate
		, ExchRate
		, Amount
		, AmountFgn
		, Descr
		, Reference)
	SELECT t.LocID, m.BankId,b.CurrencyId, DATEADD(dd, 0, DATEDIFF(dd, 0, p.PmtDate)) as PmtDate
		, CASE WHEN b.CurrencyID = @CurrBase THEN 1
			   ELSE er.Rate END
		, SUM(p.AmountBase)
		, SUM(
			CASE WHEN b.CurrencyID = @CurrBase THEN p.AmountBase
			ELSE ROUND(p.AmountBase * er.Rate, er.CurrDecPlaces) END) --Use base currency for values outside POS - exchange from base when needed
		, CASE WHEN p.PmtType IN (3, 7) THEN CONVERT(nvarchar(255),Isnull(c.CustName +'|', '') + Isnull(p.CcAuth, '')) ELSE @DescrDeposit END
		, CASE WHEN p.PmtType IN (3, 7) THEN p.PmtMethodID ELSE @ReferDeposit END
	FROM #PsPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	INNER JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
	INNER JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE er.TransType = @TransType AND er.[Source] = @CurrBase --payment exchanged from base
	) er ON er.Destination = b.CurrencyId AND er.TransKey = @PostRun
	LEFT JOIN dbo.tblArCust c ON p.CustID = c.CustId
	WHERE p.HeaderID IS NULL AND p.VoidDate IS NULL AND (p.PmtType <= 3 OR p.PmtType IN (6, 7))
	GROUP BY t.LocID, m.BankId, p.PmtDate,b.CurrencyId,er.Rate, p.PmtType
			, CASE WHEN p.PmtType IN (3, 7) THEN CONVERT(nvarchar(255),Isnull(c.CustName +'|', '') + Isnull(p.CcAuth, '')) ELSE @DescrDeposit END
			, CASE WHEN p.PmtType IN (3, 7) THEN p.PmtMethodID  ELSE @ReferDeposit END

	IF  EXISTS (SELECT * FROM #Payment t WHERE  t.AmountFgn IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	

	INSERT dbo.tblBrMaster (SourceID, BankID, CurrencyId, TransDate, TransType, ExchRate, Amount, AmountFgn
		, ClearedYn, Descr, Reference, SourceApp,FiscalYear, GlPeriod) 
	SELECT h.SourceID, h.BankId, h.CurrencyId, h.TransDate, 2, h.ExchRate, h.Amount, h.AmountFgn
		, 0, Descr, Reference, 'PS', @FiscalYear, @FiscalPeriod
	FROM #Payment h 

	INSERT INTO #BankAccnt (BankId, PmtAmt, PmtAmtFgn)
	SELECT b.BankId
		, SUM(p.Amount) PmtAmt
		, SUM(CASE WHEN b.CurrencyID = @CurrBase THEN p.AmountBase 
			ELSE ROUND(p.AmountBase * er.Rate, er.CurrDecPlaces) END) PmtAmtFgn --Use base currency for values outside POS - exchange from base when needed
	FROM #PsPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	INNER JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodID
	INNER JOIN dbo.tblSmBankAcct b ON m.BankId = b.BankId 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE er.TransType = @TransType AND er.[Source] = @CurrBase --payment exchanged from base
	) er ON er.Destination = b.CurrencyId AND er.TransKey = @PostRun
	WHERE b.BankID IS NOT NULL
	GROUP BY b.BankId

	IF  EXISTS (SELECT * FROM #BankAccnt t WHERE  t.PmtAmtFgn IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	
	
	--update the bank account balance
	UPDATE dbo.tblSmBankAcct 
		SET GlAcctBal = CASE WHEN dbo.tblSmBankAcct.CurrencyId = @CurrBase 
			THEN (dbo.tblSmBankAcct.GlAcctBal + t.PmtAmt) 
			ELSE (dbo.tblSmBankAcct.GlAcctBal + t.PmtAmtFgn) 
		END 
	FROM dbo.tblSmBankAcct 
	INNER JOIN #BankAccnt t
	ON dbo.tblSmBankAcct.BankId = t.BankId	


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_BankRec_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_BankRec_proc'
GO
