USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_Customer_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_Customer_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	DECLARE @BaseCurrency [nvarchar](6) 
	
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'SOTRANS'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'


	--list of customers for balance aging 
	CREATE TABLE #CustomerList (CustID [nvarchar](10) NOT NULL) 

	--work copy of customer values for processing
	CREATE TABLE #CustInfo
	(
		CustId [nvarchar](10) NOT NULL,
		MaxInvoiceNumber [nvarchar](15) NULL,
		MaxInvoiceDate datetime,
		MinInvoiceDate datetime,
		CurrentBalance [decimal](28,10) NOT NULL,
		LastInvoiceNumber [nvarchar](15) NULL,
		LastInvoiceDate datetime,
		LastInvoiceAmount [decimal](28,10) NOT NULL,
	)	


	--update balance forward customer balances with transaction values
	--	(Add invoices to the Current amount due and credit memos to the unapplied credit)
	--	(Note: customer aging will redistribute the unapplied credit)
	

	--build a list of customer to be aged (soldto/billto)
	INSERT INTO #CustomerList (CustId)
		SELECT t.CustId 
		FROM (
			SELECT h.CustId 
				From dbo.tblSoTransHeader h 
				INNER JOIN #PostTransList b on h.TransId = b.TransId
			UNION
			SELECT h.SoldToId 
				From dbo.tblSoTransHeader h 
				INNER JOIN #PostTransList b on h.TransId = b.TransId
		) t 
		GROUP BY t.CustId

	--capture current information for customers being updated
	INSERT INTO #CustInfo (CustId, MaxInvoiceDate, MinInvoiceDate, CurrentBalance
		, LastInvoiceNumber, LastInvoiceDate, LastInvoiceAmount)
	SELECT c.CustId, t.MaxInvoiceDate, t.MinInvoiceDate
		, (c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit)
		, c.LastSaleInvc, c.LastSaleDate, c.LastSaleAmt
	FROM dbo.tblArCust c
	INNER JOIN (Select h.CustId
		, MAX(CASE WHEN h.TransType > 0 THEN h.InvcDate ELSE NULL END) MaxInvoiceDate
		, MIN(CASE WHEN h.TransType > 0 THEN h.InvcDate ELSE NULL END) MinInvoiceDate
		From dbo.tblSoTransHeader h 
		INNER JOIN #PostTransList b on h.TransId = b.TransId
		GROUP BY h.CustId) t
	on c.CustId = t.CustId


	--isolate the max invoice number for the most recent date being posted
	UPDATE #CustInfo Set MaxInvoiceNumber = t.MaxInvoiceNumber
	FROM (SELECT h.CustId, h.InvcDate
		, MAX(b.DefaultInvoiceNumber) MaxInvoiceNumber
		FROM dbo.tblSoTransHeader h 
		INNER JOIN #PostTransList b on h.TransId = b.TransId
		WHERE h.TransType > 0
		GROUP BY h.CustId, h.InvcDate) t
	WHERE #CustInfo.CustId = t.CustId AND #CustInfo.MaxInvoiceDate = t.InvcDate


	--update the customer values based upon the processed transactions
	UPDATE #CustInfo
		SET LastInvoiceNumber = MaxInvoiceNumber 
		, LastInvoiceDate = MaxInvoiceDate
		, LastInvoiceAmount =  CASE WHEN c.CurrencyId= h.CurrencyId	THEN h.InvoiceAmount
								  ELSE CASE WHEN c.CurrencyId =@BaseCurrency THEN h.InvoiceAmountbase
									   ELSE ROUND(h.InvoiceAmount * et.Rate,et.CurrDecPlaces)
								  END  END
	FROM #CustInfo ci
	INNER JOIN (SELECT h.CustId, h.InvcDate, b.DefaultInvoiceNumber AS InvcNum
		, (h.TaxableSalesFgn + h.NonTaxableSalesFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) AS InvoiceAmount
		,(TaxableSales + NonTaxableSales + SalesTax + TaxAmtAdj + Freight + Misc) AS InvoiceAmountbase
		,h.CurrencyID,h.TransId
		FROM dbo.tblSoTransHeader h INNER JOIN #PostTransList b on h.TransId = b.TransId
		WHERE h.TransType > 0
			AND (h.TaxableSalesFgn + h.NonTaxableSalesFgn + h.FreightFgn + h.MiscFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) > 0
		) h ON ci.CustId = h.CustId 
			AND ci.MaxInvoiceNumber = h.InvcNum
			AND ci.MaxInvoiceDate = h.InvcDate
	LEFT JOIN tblArCust c ON ci.CustId=c.CustId
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey,TransType FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et
		ON  et.[Source] =h.CurrencyId  AND et.Destination= c.CurrencyId AND et.TransKey=h.TransId 
	WHERE NOT(MaxInvoiceNumber IS NULL) 
		AND (ci.LastInvoiceDate IS NULL OR ci.LastInvoiceDate <= h.InvcDate)

	--Raise Exception if Invalid Exchange rate Exists
	
	IF EXISTS (SELECT CustId  FROM  #CustInfo  WHERE LastInvoiceAmount IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--apply the changes to the customer
	UPDATE dbo.tblArCust
		Set dbo.tblArCust.LastSaleInvc = t.LastInvoiceNumber
			, dbo.tblArCust.LastSaleDate = t.LastInvoiceDate
			, dbo.tblArCust.LastSaleAmt = t.LastInvoiceAmount
			, dbo.tblArCust.HighBal = CASE WHEN isnull(dbo.tblArCust.HighBal, 0) < t.CurrentBalance 
				THEN t.CurrentBalance 
				ELSE dbo.tblArCust.HighBal END 
			, dbo.tblArCust.FirstSaleDate = CASE WHEN dbo.tblArCust.FirstSaleDate IS NULL OR dbo.tblArCust.FirstSaleDate > t.MinInvoiceDate 
				THEN t.MinInvoiceDate 
				ELSE dbo.tblArCust.FirstSaleDate END
	FROM #CustInfo t
	WHERE dbo.tblArCust.CustId = t.CustId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_Customer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_Customer_proc'
GO
