USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_PurchaseReturn_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_PurchaseReturn_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON
	
	DECLARE @DefaultBinId nVarchar(50)
	SELECT @DefaultBinId = Cast([Value] AS nvarchar(50)) FROM #GlobalValues WHERE [Key] = 'DefaultBin'

	--identify any Purchase Return that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq, ReqDate
		, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, BatchId,ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, Notes, ItemDescription) --ZoneId and ExtLoc will always return null
	SELECT 64, h.TransId, d.EntryNum, 0, h.VendorId as CustId, v.[Name] as CustName, NULL as PickNum
		, d.ItemId, d.LocId, NULL, bin.Id [ExtLocA], Null [ExtLocB], d.Units, (d.QtyOrd - ISNULL(QtyRcpt,0))
		, Cast(ISNULL(d.ReqShipDate, ISNULL(h.ReqShipDate, h.TransDate)) AS Date)
		, NULL, 0 as  OriCompQty, d.QtyOrd as QtyOrdered, h.TransId, Null, Null, h.BatchId
		, bin.ExtLocID, Null, h.VendorId, v.[Name], CAST(h.Notes as nVarchar(50)) Notes, d.Descr AS ItemDescription
	FROM dbo.tblPoTransHeader h 
		INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
		LEFT JOIN tblApVendor (NOLOCK) v ON v.VendorID = h.VendorId
		LEFT JOIN (SELECT TransId, EntryNum, SUM(QtyFilled) AS QtyRcpt FROM dbo.tblPoTransLotRcpt GROUP BY TransId, EntryNum) r 
		ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum
		LEFT JOIN
		(
			SELECT distinct T.ItemId,lf.LocId , IsNull(NullIf(RTRIM(LTRIM(lf.DfltBinNum)),''),df.DefaultValue) DfltBinNum 
			FROM tblPoTransDetail t
				INNER JOIN tblInItemLoc (NOLOCK) lf ON lf.ItemId = t.ItemId And lf.LocId = t.LocId
				LEFT JOIN tblSmUserDefaultValue (NOLOCK) df ON df.DefaultId = @DefaultBinId And df.ContextType = 4 And df.ContextId = lf.LocId
		)ds ON ds.ItemId = d.ItemId And ds.LocId = d.LocId
		LEFT JOIN tblWmExtLoc bin On bin.ExtLocID = ds.DfltBinNum  And bin.LocID = ds.LocId
	WHERE (d.QtyOrd - ISNULL(QtyRcpt,0)) > 0 AND d.LineStatus = 0 --not completed
		AND d.ItemType NOT IN (0,3) --IN items, but not Service Items
		AND h.[TransType] < 0 --TransType of Return
		AND h.[TransId] NOT IN (SELECT TransId FROM dbo.tblSmTransControl WHERE FunctionId = 'POTRANS') --not locked	
		AND d.LocId = ISNULL(@LocId, d.LocId)
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_PurchaseReturn_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_PurchaseReturn_proc'
GO
