USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_GlLog_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @PostRun pPostRun
	DECLARE @CompId nvarchar(3)
	DECLARE @CurrBase pCurrency
	DECLARE @WrkStnDate datetime
	DECLARE @MpGlDetailYn bit

	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'  
	SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId' 
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
	SELECT @MpGlDetailYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'MpGlDetailYn'
 
 	IF @FiscalYear IS NULL OR @FiscalPeriod IS NULL
		OR @PostRun IS NULL OR @CompId IS NULL OR @CurrBase IS NULL
		OR @WrkStnDate IS NULL OR @MpGlDetailYn IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--capture the list of unposted MP/GL Transactions to be processed
	CREATE TABLE #MPGLTransDetail
	(
		[Id] [int] Identity(1, 1),
		[EntryNum] [int] NOT NULL,
		[Grouping] [int] NOT NULL,
		[GroupingSummary] [int] NULL,
		[TransDate] [datetime] NULL,
		[Descr] [nvarchar](255) NULL,
		[Reference] [nvarchar](255) NULL,
		[AccountId] [nvarchar](255) NULL,
		[DebitAmt] [decimal](28,10) NOT NULL,
		[CreditAmt] [decimal](28,10) NOT NULL,
		[FiscalPeriod] [smallint] NOT NULL,
		[FiscalYear] [smallint] NOT NULL,
		[LinkID] [nvarchar](255) NULL,
		[LinkIDSub] [nvarchar](15) NULL,
		[LinkIDSubLine] [int] NULL
	)

	--create Debit entries for each MP/GL Transaction
	INSERT INTO #MPGLTransDetail ([EntryNum], [Grouping], [GroupingSummary], [TransDate], [Descr]
		, [Reference], [AccountId], [DebitAmt], [CreditAmt], [FiscalPeriod], [FiscalYear]
		, [LinkID], [LinkIDSub], [LinkIDSubLine])
	SELECT t.[EntryNum], Cast(t.[Source] as int), NULL, t.[TransDate]
		, t.[OrderNo] + N' ' + CAST(t.[ReleaseNo] AS NVARCHAR) + N' ' + CAST(t.[ReqId] AS NVARCHAR) + N' ' + CAST(t.[SeqNo] AS NVARCHAR)
		, N'Production', t.[GLAccountDebit], t.[Amount], 0, t.[GlPeriod], t.[FiscalYear]
		, t.[OrderNo], t.[ReleaseNo] + RIGHT(N'0000' + Cast(t.[ReqId] As nvarchar), 4), t.SeqNo
	FROM dbo.tblMpGlTrans t
	WHERE t.PostedYN = 0 --unposted

	--create Credit entries for each MP/GL Transaction
	INSERT INTO #MPGLTransDetail ([EntryNum], [Grouping], [GroupingSummary], [TransDate], [Descr]
		, [Reference], [AccountId], [DebitAmt], [CreditAmt], [FiscalPeriod], [FiscalYear]
		, [LinkID], [LinkIDSub], [LinkIDSubLine])
	SELECT t.[EntryNum], Cast(t.[Source] as int), NULL, t.[TransDate]
		, t.[OrderNo] + N' ' + CAST(t.[ReleaseNo] AS NVARCHAR) + N' ' + CAST(t.[ReqId] AS NVARCHAR) + N' ' + CAST(t.[SeqNo] AS NVARCHAR)
		, N'Production', t.[GLAccountCredit], 0, t.[Amount], t.[GlPeriod], t.[FiscalYear]
		, t.[OrderNo], t.[ReleaseNo] + RIGHT(N'0000' + Cast(t.[ReqId] As nvarchar), 4), t.SeqNo
	FROM dbo.tblMpGlTrans t
	WHERE t.PostedYN = 0 --unposted


	IF (@MpGlDetailYn = 0)  
	BEGIN
		--Assign the grouping summary to enable aggregation by FiscalYear, FiscalPeriod, AccountId and Debit/Credit type
		UPDATE #MPGLTransDetail Set [GroupingSummary] = CASE WHEN [CreditAmt] <> 0 THEN s.[MinID] ELSE s.[MinID] + 1 END
			FROM #MPGLTransDetail 
			INNER JOIN 
			(
				SELECT MIN([Id]) as [MinID], [AccountId], [FiscalYear], [FiscalPeriod]
				FROM #MPGLTransDetail 
				GROUP BY [AccountId], [FiscalYear], [FiscalPeriod]
			) s ON #MPGLTransDetail.[AccountId] = s.[AccountId] 
				AND #MPGLTransDetail.[FiscalYear] = s.[FiscalYear] 
				AND #MPGLTransDetail.[FiscalPeriod] = s.[FiscalPeriod]

		INSERT INTO #DetailPostLog([PostRun], [TransType], [TransKey], [SummaryKey], [CompId]
			, [GlAccount], [FiscalYear], [FiscalPeriod], [Grouping], [Description]
			, [Reference], [SourceCode], [CreditAmount], [DebitAmount], [CreditAmountBase], [DebitAmountBase]
			, [CurrencyId], [TransDate], [PostDate], [LinkId], [LinkIdSubLine])
	   SELECT @PostRun, N'MPGLTrans', t.EntryNum, @PostRun, @CompId
			, t.[AccountId], t.[FiscalYear], t.[FiscalPeriod], t.[GroupingSummary], N'Summary Post'
			, N'Production', N'MP', t.[CreditAmt], t.[DebitAmt], t.[CreditAmt], t.[DebitAmt]
			, @CurrBase, @WrkStnDate, @WrkStnDate, Null, 0
		FROM #MPGLTransDetail t
			Where t.[CreditAmt] <> 0 OR t.[DebitAmt] <> 0
	END
	ELSE  
	BEGIN
		INSERT INTO #DetailPostLog([PostRun], [TransType], [TransKey], [SummaryKey], [CompId]
			, [GlAccount], [FiscalYear], [FiscalPeriod], [Grouping], [Description]
			, [Reference], [SourceCode], [CreditAmount], [DebitAmount], [CreditAmountBase], [DebitAmountBase]
			, [CurrencyId], [TransDate], [PostDate], [LinkId], [LinkIdSubLine])
	   SELECT @PostRun, N'MPGLTrans', t.EntryNum, @PostRun, @CompId
			, t.[AccountId], t.[FiscalYear], t.[FiscalPeriod], t.[Grouping], t.[Descr]
			, t.[Reference], N'MP', t.[CreditAmt], t.[DebitAmt], t.[CreditAmt], t.[DebitAmt]
			, @CurrBase, t.[TransDate], @WrkStnDate, t.[LinkID], t.[LinkIDSubLine]
		FROM #MPGLTransDetail t
			Where t.[CreditAmt] <> 0 OR t.[DebitAmt] <> 0
	END

	--mark entries as posted
	UPDATE dbo.tblMpGLTrans Set [PostedYN] = 1 WHERE [EntryNum] in (SELECT [EntryNum] From #MPGLTransDetail)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_GlLog_proc'
GO
