USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_TPCustomerRecentItemsView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_TPCustomerRecentItemsView_proc]
@CustId [nvarchar](10),
@CompanyInfoID bigint,
@CustomerGroup varchar(2) = NULL,
@LocId [nvarchar](10) = NULL,
@AllowDiscontinued bit,
@MaxCount smallint = 100

AS
SET NOCOUNT ON

BEGIN TRY

	CREATE TABLE #TPItems
	(
		ItemId [nvarchar](24) NULL,
		UNIQUE NONCLUSTERED (ItemId)
	) 

	INSERT INTO #TPItems
		SELECT DISTINCT i.[ItemID] FROM #tblTpItemInfo i
			LEFT JOIN #tblTpSiteItemInfo s ON i.[ID]=s.[ItemInfoID]
		WHERE i.[CompanyInfoID] = @CompanyInfoID AND i.[Status] = 0 AND (@CustomerGroup IS NULL OR s.[SiteGroup] = @CustomerGroup)

	SELECT TOP(@MaxCount) [TransId], [TransDate], [TransType], [ItemId], [Description], [Uom], [Quantity], [LocId]
	FROM (
		--Items from SO transaction
		SELECT h.[TransId], h.[InvcDate] AS [TransDate], h.[TransType], d.[ItemId] AS [ItemId], d.[Descr] AS [Description],	d.[UnitsSell] AS [Uom], d.[QtyOrdSell] AS [Quantity], d.LocId
		FROM [dbo].[tblSoTransDetail] d
			INNER JOIN [dbo].[tblSoTransHeader] h ON d.[TransID] = h.[TransId]
			INNER JOIN [dbo].[tblInItem] i ON d.[ItemId] = i.[ItemId]
			INNER JOIN #TPItems tp ON tp.ItemId = i.ItemId
			INNER JOIN [dbo].[tblInItemLoc] l ON d.[ItemId] = l.[ItemId] AND d.[LocId] = l.[LocId]
		WHERE h.[CustId] = @CustId AND h.VoidYn = 0 AND h.TransType > 0
			AND (@LocId IS NULL OR d.[LocId] = @LocId) AND (l.[ItemLocStatus] = 1 OR (@AllowDiscontinued = 1 AND l.[ItemLocStatus] = 2))

		UNION

		--Items from history
		SELECT d.[TransID], h.[InvcDate] AS [TransDate], h.[TransType], d.[PartId] AS [ItemId], d.[Desc] AS [Description], d.[UnitsSell] AS [Uom], d.[QtyOrdSell] AS [Quantity], d.WhseId AS LocId
		FROM [dbo].[tblArHistDetail] d
			INNER JOIN [dbo].[tblArHistHeader] h ON h.[PostRun] = d.[PostRun] AND h.[TransId] = d.[TransID]
			INNER JOIN [dbo].[tblInItem] i ON d.[PartId] = i.[ItemId]
			INNER JOIN #TPItems tp ON tp.ItemId = i.ItemId
			INNER JOIN [dbo].[tblInItemLoc] l ON d.[PartId] = l.[ItemId] AND d.[WhseId] = l.[LocId]
		WHERE h.[CustId] = @CustId AND h.VoidYn = 0 AND h.TransType > 0 AND h.[Source] = 1
			AND (@LocId IS NULL OR d.[WhseId] = @LocId) AND (l.[ItemLocStatus] = 1 OR (@AllowDiscontinued = 1 AND l.[ItemLocStatus] = 2))
	) t
	ORDER BY [TransDate] DESC

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TPCustomerRecentItemsView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_TPCustomerRecentItemsView_proc'
GO
