USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrPlannedDemandOrderNumbers_Proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrPlannedDemandOrderNumbers_Proc]
AS
BEGIN TRY
	
	UPDATE  #items SET OpenOrders=  ord.OrderQty
	FROM
		(
		SELECT o.ItemId, o.LocId, SUM(OpenOrders) OrderQty
		FROM
			(
			SELECT	d.ItemId ItemId, d.LocId LocId, COUNT(distinct h.TransId) OpenOrders
			FROM	dbo.tblPoTransHeader h
					INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
					INNER JOIN #Items i	on d.ItemId = i.ItemId and d.LocId = i.LocId
					LEFT JOIN (SELECT	TransId, EntryNum, SUM(QtyFilled) [QtyFilled]
								FROM	dbo.tblPoTransLotRcpt
								GROUP BY	TransId, EntryNum) r
					 ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum		
			WHERE	(d.QtyOrd - r.QtyFilled) > 0 OR r.TransId IS NULL
			GROUP BY d.ItemId , d.LocId

			UNION ALL

			SELECT r.ItemId , r.LocId , COUNT(distinct r.Seq) OpenOrders
			FROM	dbo.tblPoPurchaseReq r
			INNER JOIN #Items i	on r.ItemId = i.ItemId and r.LocId = i.LocId
			GROUP BY  r.ItemId , r.LocId	

			UNION ALL

			SELECT	 o.AssemblyId [ItemId], o.LocId, COUNT(distinct o.OrderNo) OpenOrders
			FROM	dbo.tblMpOrder o
					INNER JOIN dbo.tblMpOrderReleases r ON o.OrderNo = r.OrderNo
					INNER JOIN #Items i	on o.AssemblyId = i.ItemId and o.LocId = i.LocId
			WHERE	r.Status <> 6 AND r.Status <> 7 
			GROUP BY o.AssemblyId , o.LocId

			UNION ALL

			SELECT	 o.ItemId, o.LocId , COUNT(distinct o.TransId) OpenOrders
			FROM	dbo.tblBmWorkOrder o
			INNER JOIN #Items i	on o.ItemId = i.ItemId and o.LocId = i.LocId
			GROUP BY  o.ItemId , o.LocId	

			) o
		GROUP BY  o.ItemId , o.LocId	 
		) ord
	WHERE #items.ItemId= ord.ItemId AND #items.LocId= ord.LocId

	Update  #items  Set CreatedOrders= g.qty
	FROM
	(
		SELECT ItemId, LocId, Count(distinct LinkIDSub) qty from tblDRRunData r
		WHERE r.GeneratedTransYn=1
		GROUP BY  ItemId , LocId	 
		) g
	WHERE #items.ItemId= g.ItemId AND #items.LocId= g.LocId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH





	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedDemandOrderNumbers_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedDemandOrderNumbers_Proc'
GO
