USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_POTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_POTrans_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE	@RunId pPostRun

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	
	IF @RunId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--Live Purchase orders
	INSERT INTO dbo.tblDrRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId)
	SELECT @RunId, RTRIM(q.ItemId), RTRIM(q.LocId), COALESCE(d.ExpReceiptDate,t.ExpReceiptDate,d.ReqShipDate,t.ReqShipDate, t.TransDate), q.TransType
		, 1 --1=PurchOrds
		, 0, q.Qty, q.LinkId, RTRIM(q.LinkIdSub), q.LinkIdSubLine, Null, t.VendorId, Null
	FROM dbo.tblInQty q
	INNER JOIN dbo.tblPoTransDetail d ON q.ID = d.QuantityID
	INNER JOIN dbo.tblPoTransHeader t
	ON d.TransId = t.TransId 
	WHERE q.LinkId = 'PO' AND q.TransType = 2 AND q.Qty <> 0
	
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_POTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_POTrans_proc'
GO
