USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSettlement_OpenInvoice_StatusChange_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSettlement_OpenInvoice_StatusChange_proc]    
AS    
SET NOCOUNT ON    
BEGIN TRY    
Update oi  SET oi.[STATUS]=4     
      FROM dbo.tblArOpenInvoice oi      
      LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai     
      INNER JOIN #SettledInvoiceInfo t ON t.[Counter] = ISNULL(ai.Counter, oi.Counter)    
END TRY    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_OpenInvoice_StatusChange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_OpenInvoice_StatusChange_proc'
GO
