USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_ApTransPost_GLLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[_RCG_trav_ApTransPost_GLLog_proc]  

@UserId nvarchar(100)=null

AS  
BEGIN TRY  

-----------------------------------------------------------------------------------------------
 DECLARE @PostRun nvarchar(14), @TransAllocYn bit, @CurrBase [nvarchar](6), @WrkStnDate datetime,  
 @FreightDescr nvarchar(30), @MiscDescr nvarchar(30), @InHsVendor [nvarchar](10),@ApJcYn bit,  
 @Multicurr bit, @ApDetail bit, @PrecCurr smallint,@CompId nvarchar(3)  
 DECLARE @TransType nvarchar(10)  
 DECLARE @TransTypeTransPay  NVARCHAR(10)  
  
  
 --Retrieve global values  
 SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'  
 SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
 SELECT @TransAllocYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'TransAllocYn'  
 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
 SELECT @FreightDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'FreightDescr'  
 SELECT @MiscDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'MiscDescr'  
 SELECT @Multicurr = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'  
 SELECT @ApDetail = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApDetail'  
 SELECT @PrecCurr = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PrecCurr'  
 SELECT @ApJcYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApJcYn'  
 SELECT @InHsVendor = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'InHsVendor'  
 SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'  
 SELECT @TransType = Cast([Value] AS NVARCHAR(10)) FROM #GlobalValues WHERE [Key] = 'TransType' --APTRANS  
 SELECT @TransTypeTransPay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTransPay' --APTRANSPAY  
  

  
 SELECT dbo.tblApTransHeader.FiscalYear [Year], dbo.tblApTransHeader.GLPeriod, dbo.tblApTransHeader.DistCode  
  , dbo.tblApTransHeader.TransId, dbo.tblApTransDetail.EntryNum, dbo.tblApTransDetail.GLDesc, dbo.tblApTransHeader.TransType  
  , dbo.tblApTransHeader.VendorId, dbo.tblApTransHeader.InvoiceNum  
  ,  dbo.tblApTransHeader.CurrencyId , dbo.tblApTransHeader.ExchRate  
  , dbo.tblApTransHeader.InvoiceDate, dbo.tblApTransHeader.SalesTax, dbo.tblApTransHeader.Freight, dbo.tblApTransHeader.FreightFgn  
  , dbo.tblApTransHeader.Misc, dbo.tblApTransHeader.MiscFgn, dbo.tblApTransHeader.TaxAdjAmt, dbo.tblApTransHeader.TaxAdjAmtFgn  
  , dbo.tblApTransHeader.TaxAdjClass,tblApTransHeader.TaxAdjLocID, dbo.tblApTransDetail.GLAcct  
  , dbo.tblApTransDetail.ExtCost, dbo.tblApTransDetail.ExtCostFgn, dbo.tblApDistCode.PayablesGLAcct  
  , dbo.tblApDistCode.SalesTaxGLAcct, dbo.tblApDistCode.FreightGLAcct, dbo.tblApDistCode.MiscGLAcct  
  , dbo.tblApTransDetail.[Desc] Descr, dbo.tblApTransDetail.TransHistId   
 INTO #Temp1   
 FROM ((dbo.tblApDistCode INNER JOIN dbo.tblApTransHeader ON dbo.tblApDistCode.DistCode = dbo.tblApTransHeader.DistCode)   
  LEFT JOIN dbo.tblGlAcctHdr ON  dbo.tblApDistCode.PayablesGLAcct =  dbo.tblGlAcctHdr.AcctId   
  LEFT JOIN dbo.tblApTransDetail ON dbo.tblApTransHeader.TransId = dbo.tblApTransDetail.TransID)   
  INNER JOIN #PostTransList l ON dbo.tblApTransHeader.TransId = l.TransId  
 ORDER BY dbo.tblApTransHeader.GLPeriod, dbo.tblApTransHeader.DistCode, dbo.tblApTransHeader.TransId, dbo.tblApTransDetail.EntryNum  
  
 -----------------------------------------------------------------------------------------------------

 --#Temp1 should have our detailed transactions.  join back with tblApTransDetail to get the CF fields to verify a GL entry is needed
 

DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQLCommand NVARCHAR(MAX);
declare @MainCompanyId nchar(3)=@CompId;  -- this needs to reflect the main database that the process is being run from (should be 007)
declare @InterCompGl nvarchar(255);
declare @InterCompICGL nvarchar(255);
declare @InterCompCompId nvarchar(3);
declare @TransId nvarchar(8);
declare @EntryNum int;
declare @CurrencyId pcurrency;
declare @FiscalYear smallint;
declare @GLPeriod smallint;
declare @ExtCostFgn pDecimal;
declare @DebitAmt pDecimal;
declare @CreditAmt pDecimal;
declare @VendorId pVendorID;
declare @InvoiceNum pInvoiceNum;

-- Create a cursor to iterate through databases being used in this cash receipt run
DECLARE db_cursor CURSOR FOR
select TransId,EntryNum,CurrencyId,[Year],GlPeriod,ExtCostFgn,VendorId,InvoiceNum from #Temp1 order by TransId,EntryNum

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @TransId,@EntryNum,@CurrencyId,@FiscalYear,@GlPeriod,@ExtCostFgn,@VendorId,@InvoiceNum;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- creates one header for each detail, needs to use each company db to process
    -- Construct the dynamic SQL command
    


	--pull the real trans detail record so we can inspect the custom fields for company id and gl accounts
	select 
		 @InterCompGl = [dbo].[fncGetCustomField](cf,'InterCompGL')
		,@InterCompICGL = [dbo].[fncGetCustomField](cf,'InterCompICGL')
		,@InterCompCompId= [dbo].[fncGetCustomField](cf,'InterCompCompId')
	 from tblApTransDetail where TransId=@TransId and EntryNum=@EntryNum

	 if isnull(@InterCompCompId,'')<>''
	 begin

		if @ExtCostFgn>=0 
		begin 
			set @DebitAmt=@ExtCostFgn;
			set @CreditAmt=0 
		end
		else 
		begin
			set @DebitAmt=0;
			set @CreditAmt=abs(@ExtCostFgn);
		end
		

		 --create gl records
		 SET @SQLCommand = 	N'insert into ['+@InterCompCompId+'].dbo.tblGlTrans 
			(
			[TransId]
		  ,[EntryDate]
		  ,[TransDate]
		  ,[Descr]
		  ,[SourceCode]
		  ,[Reference]
		  ,[AcctId]
		  ,[CurrencyId]
		  ,[ExchRate]
		  ,[DebitAmountFgn]
		  ,[CreditAmountFgn]
		  ,[FiscalYear]
		  ,[FiscalPeriod]
		  ,[AllocateYn]
		  ,[ChkRecon]
		  ,[CashFlow]
		  ,[UserId]
		  ,[LineSequence]
		  ,[BatchId]
		  ,[CF]
		   )
			values 
			(
			NEWID()
			,'''+convert(varchar,@WrkStnDate)+'''
			,'''+convert(varchar,@WrkStnDate)+'''
			,''IC '+convert(varchar,@VendorId)+'''
			,''M5''
			, '''+convert(varchar,@CompId)+'''
			, '''+convert(varchar,@InterCompGl)+'''
			, '''+convert(varchar,@CurrencyId)+'''
			,1
			, '''+convert(varchar,abs(@DebitAmt))+'''
			, '''+convert(varchar,abs(@CreditAmt))+'''
			, '''+convert(varchar,@FiscalYear)+'''
			, '''+convert(varchar,@GLPeriod)+'''
			,0
			,0
			,1
			,'''+convert(varchar,@UserId)+'''
			,1
			,''######''
			,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@InvoiceNum)+'''),''CustomLinkId'','''+convert(varchar,@TransId)+''')
			) 

		



			
			insert into ['+@InterCompCompId+'].dbo.tblGlTrans 
			(
			[TransId]
		  ,[EntryDate]
		  ,[TransDate]
		  ,[Descr]
		  ,[SourceCode]
		  ,[Reference]
		  ,[AcctId]
		  ,[CurrencyId]
		  ,[ExchRate]
		  ,[DebitAmountFgn]
		  ,[CreditAmountFgn]
		  ,[FiscalYear]
		  ,[FiscalPeriod]
		  ,[AllocateYn]
		  ,[ChkRecon]
		  ,[CashFlow]
		  ,[UserId]
		  ,[LineSequence]
		  ,[BatchId]
		  ,[CF]
		   )
			values 
			(
			NEWID()
			,'''+convert(varchar,@WrkStnDate)+'''
			,'''+convert(varchar,@WrkStnDate)+'''
			,''IC '+convert(varchar,@VendorId)+'''
			,''M5''
			, '''+convert(varchar,@CompId)+'''
			, '''+convert(varchar,@InterCompICGL)+'''
			, '''+convert(varchar,@CurrencyId)+'''
			,1
			, '''+convert(varchar,abs(@CreditAmt))+'''
			, '''+convert(varchar,abs(@DebitAmt))+'''
			, '''+convert(varchar,@FiscalYear)+'''
			, '''+convert(varchar,@GLPeriod)+'''
			,0
			,0
			,1
			,'''+convert(varchar,@UserId)+'''
			,1
			,''######''
			,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@InvoiceNum)+'''),''CustomLinkId'','''+convert(varchar,@TransId)+''')
			) ';
			



		-- select @SQLCommand
		EXEC sp_executesql @SQLCommand;
	end

 FETCH NEXT FROM db_cursor INTO  @TransId,@EntryNum,@CurrencyId,@FiscalYear,@GlPeriod,@ExtCostFgn,@VendorId,@InvoiceNum;
END;


CLOSE db_cursor;
DEALLOCATE db_cursor;

  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApTransPost_GLLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApTransPost_GLLog_proc'
GO
