USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoOpenOrderBalance_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoOpenOrderBalance_proc]
	@GLAcct [nvarchar](255),
	@BaseCurrency [nvarchar](6)
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @currDest [nvarchar](6)
	DECLARE @currPrec int

	SET @currDest = (SELECT CurrencyID From dbo.tblGlAcctHdr (NOLOCK) WHERE AcctId = @glAcct)
	SET @currPrec = (SELECT CurrDecPlaces From dbo.tblSmCurrency (NOLOCK) WHERE CurrID = @currDest)

	CREATE TABLE #TransAmount
	(
		TransId [nvarchar](8) NOT NULL,
		EntryNum int,
		CurrencyID [nvarchar](6) NOT NULL,
		ExtCostFgn [decimal](28,10) NOT NULL,
		InvCostFgn [decimal](28,10) NOT NULL,
		AccAdjCostFgn [decimal](28,10) NOT NULL
	)
	CREATE NONCLUSTERED INDEX [IX_#TransAmount_TransIdEntryNum] ON #TransAmount	(TransId, EntryNum)
	
	--Detail ExtCostFgn
	INSERT INTO #TransAmount
	SELECT hdr.TransId, dtl.EntryNum, hdr.CurrencyID,
		SIGN(hdr.TransType) * CASE WHEN hdr.CurrencyID = @currDest THEN (dtl.ExtCostFgn - (ISNULL(inv.Qty, 0) * ISNULL(dtl.UnitCostFgn, 0)))
		WHEN @currDest = @BaseCurrency THEN (dtl.ExtCost - (ISNULL(inv.Qty, 0) * ISNULL(dtl.UnitCost, 0)))
		ELSE ROUND((ISNULL((dtl.ExtCostFgn - (ISNULL(inv.Qty, 0) * ISNULL(dtl.UnitCostFgn, 0))), 0)) * exch.Rate, @currPrec) END, 0, 0
	FROM dbo.tblPoTransHeader hdr (NOLOCK)
		INNER JOIN dbo.tblPoTransDetail dtl (NOLOCK) ON dtl.TransID = hdr.TransId
		LEFT JOIN dbo.tblPoTransInvoice inv (NOLOCK) ON dtl.TransId = inv.TransID AND dtl.EntryNum = inv.EntryNum
		LEFT JOIN (
			SELECT TransKey, [Source], Rate FROM dbo.tblSmExchangeRateTrans (NOLOCK) WHERE TransType = 'POTRANS' AND Destination = @currDest
			) exch ON exch.TransKey = hdr.TransId AND exch.[Source] = hdr.CurrencyID
	WHERE hdr.TransType != 0 AND dtl.[LineStatus] = 0 AND dtl.GLAcct = @glAcct AND (inv.[Status] = 0 OR inv.[Status] IS NULL)
	
	--Invoice ExtCostFgn
	INSERT INTO #TransAmount
	SELECT trn.TransId, trn.EntryNum, trn.CurrencyID, 0,
		SIGN(hdr.TransType) * CASE WHEN trn.CurrencyID = @currDest THEN inv.ExtCostFgn
			WHEN @currDest = @BaseCurrency THEN inv.ExtCost
			ELSE ROUND((ISNULL(inv.ExtCostFgn, 0)) * exch.Rate, @currPrec) END, 0
	FROM #TransAmount trn (NOLOCK)
		INNER JOIN dbo.tblPoTransHeader hdr (NOLOCK) ON hdr.TransId = trn.TransId
		LEFT JOIN dbo.tblPoTransInvoice inv (NOLOCK) ON trn.TransId = inv.TransID AND trn.EntryNum = inv.EntryNum
		INNER JOIN dbo.tblPoTransInvoiceTot invtot (NOLOCK) ON inv.TransID = invtot.TransId AND inv.InvoiceNum = invtot.InvcNum
		LEFT JOIN (
			SELECT TransKey, [Source], Rate FROM dbo.tblSmExchangeRateTrans (NOLOCK) WHERE TransType = 'POINVOICE' AND Destination = @currDest
			) exch ON exch.TransKey = invtot.ID AND exch.[Source] = trn.CurrencyID
	WHERE inv.[Status] = 0

	--Receipt AccAdjCostFgn
	INSERT INTO #TransAmount
	SELECT trn.TransId, trn.EntryNum, trn.CurrencyID, 0, 0,
		SIGN(hdr.TransType) * CASE WHEN dtl.GLAcct = dtl.GLAcctAccrual
			THEN CASE WHEN trn.CurrencyID = @currDest THEN rcpt.AccAdjCostFgn
				WHEN @currDest = @BaseCurrency THEN rcpt.AccAdjCost
				ELSE ROUND((ISNULL(rcpt.AccAdjCostFgn, 0)) * exch.Rate, @currPrec) END
			ELSE 0 END
	FROM #TransAmount trn (NOLOCK)
		INNER JOIN dbo.tblPoTransHeader hdr (NOLOCK) ON hdr.TransId = trn.TransId
		INNER JOIN dbo.tblPoTransDetail dtl (NOLOCK) ON dtl.TransId = trn.TransId AND dtl.EntryNum = trn.EntryNum
		LEFT JOIN dbo.tblPoTransLotRcpt rcpt (NOLOCK) ON rcpt.TransId = trn.TransId AND rcpt.EntryNum = trn.EntryNum
		LEFT JOIN (
			SELECT TransKey, [Source], Rate FROM dbo.tblSmExchangeRateTrans (NOLOCK) WHERE TransType = 'PORECEIPT' AND Destination = @currDest
			) exch ON exch.TransKey = rcpt.RcptHeaderID AND exch.[Source] = trn.CurrencyID
	WHERE rcpt.[Status] = 1

	IF EXISTS (SELECT * FROM #TransAmount (NOLOCK) WHERE  ExtCostFgn IS NULL OR InvCostFgn IS NULL OR AccAdjCostFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END  

	SELECT SUM(ExtCostFgn + ISNULL(InvCostFgn, 0) - ISNULL(AccAdjCostFgn, 0)) As UnpostedCost
	FROM #TransAmount

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenOrderBalance_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenOrderBalance_proc'
GO
