USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InForecastTypesList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InForecastTypesList_proc]
AS
BEGIN TRY

	SELECT f.ForecastType, f.Descr, f.AdjFactor, d.Period, d.WeightFactor
	FROM   dbo.tblPoForecastType f INNER JOIN dbo.tblPoForecastTypeDetail d ON f.ForecastType = d.ForecastType
		   INNER JOIN #tmpForecastType t ON  f.ForecastType = t.ForecastType

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InForecastTypesList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InForecastTypesList_proc'
GO
