USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoHistDelete_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoHistDelete_proc] 
@PostRun [nvarchar](14) = NULL,
@PoHeaderId bigint = NULL,
@PartnerId bigint = NULL,
@CustPoNum nvarchar(75) = NULL,
@TempTblName nvarchar(30) = NULL
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @SQL nvarchar(1000)
    CREATE TABLE #del(PostRun [nvarchar](14) NOT NULL, ID bigint NOT NULL) --only when ImportBatchId & KeyLevelSeq1 are used, they will be replaced with ID

	IF ISNULL(@TempTblName,'')<>'' 
	BEGIN
	    SET @SQL='SELECT PostRun, ID FROM ' +@TempTblName 
        INSERT INTO  #del (PostRun,ID)
        EXEC sp_executesql @SQL
	END
	ELSE
	BEGIN
	    INSERT INTO #del(PostRun, ID)
		SELECT PostRun, ID
		FROM tblEcPoHistHeader h
	 	WHERE  PostRun=@PostRun
		    AND (@PoHeaderId IS NULL OR h.ID= @PoHeaderId)
            AND (ISNULL(@PartnerId,0) = 0 OR PartnerId=@PartnerId)
            AND (ISNULL(@CustPoNum,'') = '' OR CustPoNum=@CustPoNum)
	END

	SELECT h.PostRun, h.Id, h.PartnerId, p.PartnerID as PartnerUniqueId, h.ImportBatchId, h.CustPONum, h.ImportDate, h.TotalPoAmt as POTotalAmt, d.ItemID, d.QtyOrd, d.SOUnitsSell as UOM, d.ItemDescr
	FROM dbo.tblEcPoHistHeader h
	INNER JOIN (SELECT t.* FROM #del t GROUP BY t.PostRun, t.ID) t ON t.ID = h.Id AND t.PostRun = h.PostRun
	INNER JOIN dbo.tblEcPoHistDetail d ON d.PoHistHeaderID = h.Id
	INNER JOIN dbo.tblEcPartner p ON p.ID = h.PartnerId

	DELETE pd
	FROM tblEcPoHistDetail pd
	INNER JOIN tblEcPoHistHeader ph ON ph.ID = pd.PoHistHeaderID AND ph.PostRun = pd.PostRun
	INNER JOIN #del d ON ph.PostRun=d.PostRun AND ph.Id = d.ID

    DELETE ph
	FROM tblEcPoHistHeader ph
	INNER JOIN #del d ON ph.PostRun=d.PostRun AND ph.Id = d.ID

    DELETE sac
	FROM tblEcPoHistSAC sac
	INNER JOIN #del d ON sac.PostRun=d.PostRun AND sac.PoHeaderID = d.ID
	
	--DELETE msg
	--TODO: remove after adding the table 'tblEcPoHistMessage'. Does not exist in CustomSolution files
	--FROM tblEcPoHistMessage msg
	--INNER JOIN tblEcPoHeader ph ON ph.ImportBatchId = msg.ImportBatchId AND ph.KeyLevelSeq1 = ms.KeyLevelSeq1
	--INNER JOIN #del d ON msg.PostRun=d.PostRun AND ph.Id = d.ID
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoHistDelete_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoHistDelete_proc'
GO
