USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_LinkedPayment_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_LinkedPayment_proc]
AS
BEGIN TRY

	--update linked payments from AR
	UPDATE dbo.tblArTransPmt SET PostedYn = 1 
	FROM #PostTransList
	WHERE dbo.tblArTransPmt.LinkId = #PostTransList.TransId

	--update linked payments from SO
	UPDATE dbo.tblSoTransPmt SET PostedYn = 1 
	FROM #PostTransList
	WHERE dbo.tblSoTransPmt.LinkId = #PostTransList.TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_LinkedPayment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_LinkedPayment_proc'
GO
