USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbTopItemList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbTopItemList_proc]
@Prec tinyint = 2, 
@RecReturn int =10,
@Wksdate datetime = null,
@Timeframe tinyint =0  -- 0 = All Time, 1 = PTD, 2 = YTD

AS
BEGIN TRY
	SET NOCOUNT ON

DECLARE  @Period int,@FiscalYear int

SELECT @FiscalYear = GlYear, @Period = GlPeriod 
FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

Set RowCount @RecReturn
SELECT i.ItemId,i.Descr,SUM(ISNULL(Sales,0)) AS Sales
FROM dbo.tblInItem i 
							LEFT JOIN
							(
								SELECT ItemId,GLPeriod,SumYear,SUM(CASE TransType WHEN 3 THEN PriceExt ELSE -PriceExt END) AS Sales
								FROM dbo.tblInHistDetail 
								WHERE ((@Timeframe = 1 AND (GLPeriod = @Period AND SumYear = @FiscalYear))
								 OR (@Timeframe = 2 AND (GLPeriod <= @Period AND SumYear = @FiscalYear))
                              OR (@Timeframe NOT IN (1, 2)))
                              AND TransType IN(3,4) AND DeleteDate IS NULL
                              GROUP BY ItemId,GLPeriod,SumYear
                              )h
                              ON i.ItemId = h.ItemId 
                                GROUP BY i.ItemId,i.Descr 
                              ORDER BY Sales Desc


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopItemList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopItemList_proc'
GO
