USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbGlUnPostedTransactions_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbGlUnPostedTransactions_proc]
AS
SET NOCOUNT ON
BEGIN TRY
SELECT	ISNULL(SUM(CASE WHEN SourceIDType = 'APTransaction' THEN Amount END), 0) APTransaction
		, COUNT(CASE WHEN SourceIDType = 'APTransaction' THEN TransactionID END) APTransactionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'APPayments' THEN  Amount END), 0) APPayments
		, COUNT(CASE WHEN SourceIDType = 'APPayments' THEN TransactionID END) APPaymentsCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'ARTransaction' THEN Amount END), 0) ARTransaction
		, COUNT(CASE WHEN SourceIDType = 'ARTransaction' THEN (TransactionID) END) ARTransactionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'ARCashReceipt' THEN Amount END), 0) ARCashReceipt
		, COUNT(CASE WHEN SourceIDType = 'ARCashReceipt' THEN TransactionID END) ARCashReceiptCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'BMWorkOrders' THEN Amount END), 0) BMWorkOrders
		, COUNT(CASE WHEN SourceIDType = 'BMWorkOrders' THEN TransactionID END) BMWorkOrdersCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'INTransaction' THEN Amount END), 0) INTransaction
		, COUNT(CASE WHEN SourceIDType = 'INTransaction' THEN TransactionID END) INTransactionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'INTransfer' THEN Amount END), 0) INTransfer
		, COUNT(CASE WHEN SourceIDType = 'INTransfer' THEN TransactionID END) INTransferCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'INMaterialRequest' THEN Amount END) ,0) INMaterialRequisition
		, COUNT(CASE WHEN SourceIDType = 'INMaterialRequest' THEN TransactionID END) INMaterialRequisitionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'MPProduction' THEN Amount END), 0) MPProduction
		, COUNT(CASE WHEN SourceIDType = 'MPProduction' THEN TransactionID END) MPProductionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'POTransaction' THEN Amount END), 0) POTransaction
		, COUNT(CASE WHEN SourceIDType = 'POTransaction' THEN TransactionID END) POTransactionCnt
		
		, ISNULL(SUM(CASE WHEN SourceIDType = 'SOTransaction' THEN Amount END), 0) SOTransaction
		, COUNT(CASE WHEN SourceIDType = 'SOTransaction' THEN TransactionID END) SOTransactionCnt
		
		, ISNULL(SUM(CASE WHEN SourceIDType = 'SOReturnedItem' THEN Amount END), 0) SOReturnedItem
		, COUNT(CASE WHEN SourceIDType = 'SOReturnedItem' THEN TransactionID END) SOReturnedItemCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCTimeTicket' THEN Amount END), 0) PCTimeTicket
		, COUNT(CASE WHEN SourceIDType = 'PCTimeTicket' THEN TransactionID END) PCTimeTicketCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCTransaction' THEN Amount END), 0) PCTransaction
		, COUNT(CASE WHEN SourceIDType = 'PCTransaction' THEN TransactionID END) PCTransactionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCOverheadAlloc' THEN Amount END), 0) PCOverheadAlloc
		, COUNT(CASE WHEN SourceIDType = 'PCOverheadAlloc' THEN TransactionID END) PCOverheadAllocCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCBilling' THEN Amount END), 0) PCBilling
		, COUNT(CASE WHEN SourceIDType = 'PCBilling' THEN TransactionID END) PCBillingCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCAdjustment' THEN Amount END), 0) PCAdjustment
		, COUNT(CASE WHEN SourceIDType = 'PCAdjustment' THEN TransactionID END) PCAdjustmentCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PCPercentageOfCompletion' THEN Amount END), 0) PCPercentageOfCompletion
		, COUNT(CASE WHEN SourceIDType = 'PCPercentageOfCompletion' THEN TransactionID END) PCPercentageOfCompletionCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'SDWorkOrder' THEN Amount END), 0) SDWorkOrder
		, COUNT(CASE WHEN SourceIDType = 'SDWorkOrder' THEN TransactionID END) SDWorkOrderCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'SDServiceOrder' THEN Amount END), 0) SDServiceOrder
		, COUNT(CASE WHEN SourceIDType = 'SDServiceOrder' THEN TransactionID END) SDServiceOrderCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'WMAdjustments' THEN Amount END), 0) WMAdjustments
		, COUNT(CASE WHEN SourceIDType = 'WMAdjustments' THEN TransactionID END) WMAdjustmentsCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'WMTransfer' THEN Amount END), 0) WMTransfer
		, COUNT(CASE WHEN SourceIDType = 'WMTransfer' THEN TransactionID END) WMTransferCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'WMMatReq' THEN Amount END), 0) WMMatReq
		, COUNT(CASE WHEN SourceIDType = 'WMMatReq' THEN TransactionID END) WMMatReqCnt

		, ISNULL(SUM(CASE WHEN SourceIDType = 'MBBillOfMaterial' THEN Amount END), 0) MBBillOfMaterial
		, COUNT(CASE WHEN SourceIDType = 'MBBillOfMaterial' THEN TransactionID END) MBBillOfMaterialCnt 

		, ISNULL(SUM(CASE WHEN SourceIDType = 'BRTransaction' THEN Amount END), 0) BRTransaction
		, COUNT(CASE WHEN SourceIDType = 'BRTransaction' THEN TransactionID END) BRTransactionCnt 

		, ISNULL(SUM(CASE WHEN SourceIDType = 'GLGainLoss' THEN Amount END), 0) GLGainLoss
		, COUNT(CASE WHEN SourceIDType = 'GLGainLoss' THEN TransactionID END) GLGainLossCnt 

		, ISNULL(SUM(CASE WHEN SourceIDType = 'SRBillings' THEN Amount END), 0) SRBillings
		, COUNT(CASE WHEN SourceIDType = 'SRBillings' THEN TransactionID END) SRBillingsCnt 

		, ISNULL(SUM(CASE WHEN SourceIDType = 'SRTransactions' THEN Amount END), 0) SRTransactions
		, COUNT(CASE WHEN SourceIDType = 'SRTransactions' THEN TransactionID END) SRTransactionsCnt 

		--, ISNULL(SUM(CASE WHEN SourceIDType = 'SRCloseJobs' THEN Amount END), 0) SRCloseJobs
		--, COUNT(CASE WHEN SourceIDType = 'SRCloseJobs' THEN TransactionID END) SRCloseJobsCnt 	
		
		, ISNULL(SUM(CASE WHEN SourceIDType = 'FADepreciation' THEN Amount END), 0) FADepreciation
		, COUNT(CASE WHEN SourceIDType = 'FADepreciation' THEN TransactionID END) FADepreciationCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PATransaction' THEN Amount END), 0) PATransaction
		, COUNT(CASE WHEN SourceIDType = 'PATransaction' THEN TransactionID END) PATransactionCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PAPayment' THEN Amount END), 0) PAPayment
		, COUNT(CASE WHEN SourceIDType = 'PAPayment' THEN TransactionID END) PAPaymentCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PAVoidPayment' THEN Amount END), 0) PAVoidPayment
		, COUNT(CASE WHEN SourceIDType = 'PAVoidPayment' THEN TransactionID END) PAVoidPaymentCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PSTransaction' THEN Amount END), 0) PSTransaction
		, COUNT(CASE WHEN SourceIDType = 'PSTransaction' THEN TransactionID END) PSTransactionCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PSPayment' THEN Amount END), 0) PSPayment
		, COUNT(CASE WHEN SourceIDType = 'PSPayment' THEN TransactionID END) PSPaymentCnt 	

		, ISNULL(SUM(CASE WHEN SourceIDType = 'PSRewardActivity' THEN Amount END), 0) PSRewardActivity
		, COUNT(CASE WHEN SourceIDType = 'PSRewardActivity' THEN TransactionID END) PSRewardActivityCnt 	
FROM	dbo.trav_GlUnPostedTransactionsView

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbGlUnPostedTransactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbGlUnPostedTransactions_proc'
GO
