USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPreparePayment_Clear_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPreparePayment_Clear_proc]
@ControlId int
AS

SET NOCOUNT ON
BEGIN TRY 
	--clear control
	DELETE FROM dbo.tblApPaymentControl
	WHERE ID = @ControlId

	--clear payments
	DELETE FROM dbo.tblApPayment
	WHERE ControlID = @ControlId

	--clear payment details
	DELETE FROM dbo.tblApPaymentDetail
	WHERE ControlID = @ControlId
	
	--clear exchange rates
	DELETE FROM dbo.tblSmExchangeRateTrans
	WHERE TransKey = @ControlId AND TransType = 'APPAYMENT'

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_Clear_proc'
GO
