USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_OpenInvoice_proc]
AS
Set NoCount ON
BEGIN TRY

	DECLARE @PostRun pPostRun, @WrkStnDate datetime, @CurrBase pCurrency, @MCYn bit, @PrecCurr smallint	
	DECLARE @TransTypeInvoice nvarchar(10)
	DECLARE @TransType nvarchar(10)
	
	-- Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @MCYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice' -- 'ARINVOICE'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'ARCASHRCPT'
	
	IF @PostRun IS NULL OR @WrkStnDate IS NULL OR @CurrBase IS NULL OR @MCYn IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	

	-- append payments (cash receipts)
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, InvcNum, Amt, AmtFgn, DiscAmt, DiscAmtFgn, RecType
		, PmtMethodId, CheckNum, CurrencyId, ExchRate, TransDate, NetDueDate, DistCode, GlPeriod, FiscalYear
		, PostRun, TransID
		, GainLossStatus
		, SourceApp
		, InvoiceID
		, AgingPeriod
		, AppliedAmount
		, AppliedDiscount
		, GainLossAmount
	) 
	SELECT h.CustId, d.InvcNum, d.PmtAmt + [Difference], d.PmtAmtFgn + DifferenceFgn, [Difference], DifferenceFgn, -2
		, h.PmtMethodId, h.CheckNum, h.CurrencyID, h.ExchRate, h.PmtDate, h.PmtDate, d.DistCode, h.GlPeriod, h.FiscalYear
		, @PostRun, h.RcptHeaderID
		, CASE WHEN g.OrgInvoiceID is null THEN 0 ELSE 1 END
		, ISNULL(ap.SourceApp, CASE WHEN h.InvcAppId = 'SO' THEN 1 ELSE 0 END)
		, g.OrgInvoiceID
		, CASE WHEN h.AgingPd = 0 THEN 4
			 WHEN h.AgingPd = 1 THEN 10
			 WHEN h.AgingPd = 2 THEN 4
			 WHEN h.AgingPd = 3 THEN 3
			 WHEN h.AgingPd = 4 THEN 2
			 WHEN h.AgingPd = 5 THEN 1
			 WHEN h.AgingPd = 6 THEN 0 END
		, ISNULL(ap.AppliedAmount,0)
		, ISNULL(ap.AppliedDiscount,0)
		, ISNULL(g.AmountBase,0)
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArCust c ON h.CustId = c.CustId 	
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId	
	LEFT JOIN #ArOpenInvoice g ON h.RcptHeaderID= g.TransID AND d.RcptDetailID = g.RcptDetailID
	LEFT JOIN #ArApplyPayment ap ON h.RcptHeaderID= ap.TransID AND d.RcptDetailID = ap.RcptDetailID	
	WHERE h.CustId IS NOT NULL AND (d.InvcType <> 5 OR ap.CustId IS NULL) 
	-- Cash receipt that is applied to a regular invoice OR cash receipt of deposit that is NOT applied to a pro forma invoice 

	-- append Proforma Invoice record. Source - Proforma
    INSERT dbo.tblArOpenInvoice 
    (
		CustId, InvcNum, RecType, [Status], DistCode, TransDate, NetDueDate
		, Amt
		, AmtFgn
		, DiscAmt
		, DiscAmtFgn
		, CurrencyId, ExchRate, GlPeriod, FiscalYear
		, ProjId, PostRun, TransId, GainLossStatus, SourceApp
		, InvoiceID
		, AgingPeriod
		, AppliedAmount
		, AppliedDiscount
		, GainLossAmount
	) 
    SELECT h.CustId, d.InvcNum,5, 0,ap.DistCode,h.PmtDate,h.PmtDate
		, -(ROUND(ap.AppliedAmount/er.Rate, c.CurrDecPlaces))
		, -(ap.AmtFgn)
		, (-ROUND(ap.AppliedDiscount/er.Rate, c.CurrDecPlaces))
		, (-ap.DiscAmtFgn) 
		, ap.CurrencyId,er.Rate,h.GlPeriod,h.FiscalYear
		, ap.ProjId,@PostRun,h.RcptHeaderID,0,ap.SourceApp
		, g.OrgInvoiceID 
		, CASE WHEN h.AgingPd = 0 THEN 4
			 WHEN h.AgingPd = 1 THEN 10
			 WHEN h.AgingPd = 2 THEN 4
			 WHEN h.AgingPd = 3 THEN 3
			 WHEN h.AgingPd = 4 THEN 2
			 WHEN h.AgingPd = 5 THEN 1
			 WHEN h.AgingPd = 6 THEN 0 END
		, ISNULL(ap.AppliedAmount,0)
		, ISNULL(ap.AppliedDiscount,0)
		, ISNULL(g.AmountBase,0)                 
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId   
	INNER JOIN #ArApplyPayment ap ON h.RcptHeaderID= ap.TransID AND d.RcptDetailID = ap.RcptDetailID	
	LEFT JOIN #ArOpenInvoice g ON h.RcptHeaderID= g.TransID AND d.RcptDetailID = g.RcptDetailID	
	LEFT JOIN [dbo].tblSmExchangeRateTrans er ON er.[Source] = h.CurrencyID AND er.Destination = ap.CurrencyId AND er.TransKey = ap.TransKey	
	LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
	WHERE h.CustId IS NOT NULL AND ap.RecType = 5 AND  er.TransType = @TransType--Cash receipt that is applied to a pro forma invoice    
      
	-- append CR Deposit Invoice record. Source - Cash Receipt
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, InvcNum, RecType, [Status], DistCode, TransDate, NetDueDate
		, Amt
		, AmtFgn, DiscAmt, DiscAmtFgn
		, CurrencyId, ExchRate, GlPeriod, FiscalYear
		, ProjId, PostRun, TransId, GainLossStatus, SourceApp, PmtMethodId		
		, AgingPeriod
	
	) 
	SELECT h.CustId, ap.ProjId,-2, 0,d.DistCode,h.PmtDate,h.PmtDate
		, d.PmtAmt + [Difference]
		, d.PmtAmtFgn + DifferenceFgn
		, [Difference]
		, DifferenceFgn 
	    , h.CurrencyId,h.ExchRate,h.GlPeriod,h.FiscalYear
		, NULL,@PostRun,h.RcptHeaderID,0,ap.SourceApp,h.PmtMethodId		
		, CASE WHEN h.AgingPd = 0 THEN 4
			 WHEN h.AgingPd = 1 THEN 10
			 WHEN h.AgingPd = 2 THEN 4
			 WHEN h.AgingPd = 3 THEN 3
			 WHEN h.AgingPd = 4 THEN 2
			 WHEN h.AgingPd = 5 THEN 1
			 WHEN h.AgingPd = 6 THEN 0 END		 
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId 	
	INNER JOIN #ArApplyPayment ap ON h.RcptHeaderID= ap.TransID AND d.RcptDetailID = ap.RcptDetailID
	WHERE h.CustId IS NOT NULL --Cash receipt that is applied to a pro forma invoice       

	-- append CC Company Invoices
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, PmtMethodId
		, Amt
		, AmtFgn
		, CurrencyId
		, ExchRate
		, TransDate, NetDueDate, RecType
		, DistCode, TermsCode, InvcNum
		, GlPeriod, FiscalYear, PostRun		
		, AgingPeriod
		, TransId		
	) 
	SELECT p.CustId, p.PmtMethodID
		, SUM(d.PmtAmt) PmtAmt
		, CASE WHEN c.CurrencyID = @CurrBase 
			THEN SUM(d.PmtAmt) 
			ELSE SUM(d.PmtAmtFgn) END PmtAmtFgn
		, c.CurrencyID
		, CASE WHEN c.CurrencyID = @CurrBase THEN 1 ELSE ExchRate END ExchRate
		, @WrkStnDate, @WrkStnDate, 1
		, c.DistCode, c.TermsCode, 'CC' + CONVERT(nvarchar(8), @WrkStnDate, 112)
		, h.GlPeriod, h.FiscalYear, @PostRun		
		, CASE WHEN h.AgingPd = 0 THEN 4
			 WHEN h.AgingPd = 1 THEN 10
			 WHEN h.AgingPd = 2 THEN 4
			 WHEN h.AgingPd = 3 THEN 3
			 WHEN h.AgingPd = 4 THEN 2
			 WHEN h.AgingPd = 5 THEN 1
			 WHEN h.AgingPd = 6 THEN 0 END	
		,  h.RcptHeaderID
	FROM dbo.tblArPmtMethod p 
	INNER JOIN dbo.tblArCashRcptHeader h ON p.PmtMethodId = h.PmtMethodId
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
	INNER JOIN dbo.tblArCust c ON p.CustId = c.CustId 	
	WHERE (p.PmtType = 3 OR p.PmtType = 7) AND p.CustId IS NOT NULL AND ISNULL(p.BankId, '') = ''
	GROUP BY p.CustId, p.PmtMethodID, c.DistCode, c.TermsCode
		, c.CurrencyID, ExchRate, h.FiscalYear, h.GlPeriod, d.OrgInvoiceID, h.AgingPd,  h.RcptHeaderID
	HAVING SUM(d.PmtAmt) <> 0 AND SUM(d.PmtAmtFgn) <> 0 --skip net 0 invoices
	
	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated 
	INSERT INTO [dbo].tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM #PostTransList b		
	INNER JOIN [dbo].tblSmExchangeRateTrans d ON d.TransKey = CONVERT(NVARCHAR(800),b.TransId) 
	LEFT JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId
	WHERE ov.PostRun = @PostRun  AND d.TransType = @TransType AND ov.RecType <> 5
	
	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated  for performa invoice
	INSERT INTO [dbo].tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM #PostTransList b		
	LEFT JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId
	INNER JOIN [dbo].tblSmExchangeRateTrans d ON d.TransKey = CONVERT(NVARCHAR(800),ov.InvoiceID)	
	WHERE ov.PostRun = @PostRun  AND d.TransType = @TransType AND ov.RecType = 5
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_OpenInvoice_proc'
GO
