USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcCrDbAdjImport_Validate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcCrDbAdjImport_Validate_proc]
	@TotalKeys int=0 out, 
	@TotalKeysValid int=0 out, 
	@TotalKeysError int=0 out, 
	@TotalKeysWarning int=0 out, 
	@TotalRows int=0 out, 
	@ErrorMsg varchar(max)='' out
AS 
 
BEGIN TRY 
	DECLARE @PostRun pPostRun, @ErrCode varchar(3), @ConfigValue varchar(255), @PrecQty smallint

	-- Err status 0=OK,1=Warning,2=Error Cont, 3 = Err Stop 
 
	CREATE TABLE #sel (
		ImportBatchId varchar(14) null,
		KeyLevelSeq1 int null,
		PartnerId varchar(12) null,
		HeaderTotalAmt decimal(20,10) null,
		CustId varchar(10) null,
		ClaimNumber varchar(50) null,
		KeyLevelSeq2 int null,
		SKU varchar(50) null,
		Quantity decimal(20,10) null,
		UnitCostPrice decimal(20,10) null,
		TransType varchar(50) null)

	CREATE TABLE #tErr (
		id int identity(1,1),
		ImportBatchId varchar(14),
		KeyLevelSeq1 int,
		KeyLevelSeq2 int,
		PartnerId varchar(12) null,
		CustId varchar(10) null,
		ClaimNumber varchar(50),
		SKU varchar(50),
		ErrCode varchar(3),
		ErrDescr varchar(255),
		ErrSequence int,
		ErrRecType varchar(1),
		ErrStatus smallint,
		SkipValidationYN bit) 

	 -- select records to process 
	INSERT INTO #sel (ImportBatchId, KeyLevelSeq1, PartnerId, HeaderTotalAmt, 
		CustId, ClaimNumber, KeyLevelSeq2, SKU, TransType, Quantity, UnitCostPrice) 
	SELECT t.ImportBatchId, t.KeyLevelSeq1, p.PartnerId, isnull(TotalAmount,'0'),
		h.CustId, right('0000000000'+h.ClaimNumber,10), d.KeyLevelSeq2, d.SkuNum, h.TransTypeCode, isnull(d.CreditDebitQuantity,'0'), isnull(d.UnitCostPrice,'0')
	FROM #Edi812HeaderList t 
		INNER JOIN dbo.tblEcCreditDebitAdjHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1 
		LEFT JOIN dbo.tblEcCreditDebitAdjDetail d ON h.ID=d.HeaderID
		LEFT JOIN dbo.tblEcPartner p ON h.PartnerId=p.ID

	-- cust id 
	SET @ErrCode=100 
	INSERT INTO #tErr (ImportBatchId, KeyLevelSeq1, PartnerId, CustId, KeyLevelSeq2, ClaimNumber, SKU, ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN) 
	SELECT s.ImportBatchId, s.KeyLevelSeq1, s.PartnerId, s.CustId, 0, s.ClaimNumber, s.SKU, @ErrCode, 'Missing Customer ['+ ISNULL(s.CustId,'')+']', 1, 'H', 2, 1 
	FROM #sel s 
		LEFT JOIN tblArCust c ON s.CustId=c.CustId 
	WHERE c.CustId IS NULL 

	SELECT @TotalKeysWarning = COUNT(*) 
	FROM #tErr 
	WHERE ErrStatus=1 
 
	SELECT @TotalKeysError = COUNT(*) 
	FROM #tErr 
	WHERE ErrStatus=2 

	UPDATE l 
	SET ValidYN=0,ErrDescr=e.ErrDescr 
	FROM #Edi812HeaderList l 
		INNER JOIN 
			(SELECT ImportBatchid, KeyLevelSeq1, MIN(id) Id 
			FROM #tErr 
			WHERE ErrStatus=2 
			GROUP BY ImportBatchid, KeyLevelSeq1 
			) x ON l.ImportBatchId=x.ImportBatchId AND l.KeyLevelSeq1=x.KeyLevelSeq1 
		INNER JOIN #tErr e ON x.Id=e.Id 
 
	UPDATE l 
	SET ErrDescr=case when isnull(l.ErrDescr,'')='' then 'Warnings: '+e.ErrDescr else isnull(l.ErrDescr,'')+ char(10)+' Warnings: '+e.ErrDescr end 
	FROM #Edi812HeaderList l 
		INNER JOIN 
			(SELECT ImportBatchid, KeyLevelSeq1, MIN(id) Id 
			FROM #tErr 
			WHERE ErrStatus=1 
			GROUP BY ImportBatchid, KeyLevelSeq1 
			) x ON l.ImportBatchId=x.ImportBatchId AND l.KeyLevelSeq1=x.KeyLevelSeq1 
		INNER JOIN #tErr e ON x.Id=e.Id 

	SELECT @ErrorMsg=
		(SELECT errdescr +'; '+ char(10) 
		FROM #Edi812HeaderList p2 
		ORDER BY errdescr 
		FOR XML PATH(''))
	FROM #Edi812HeaderList 
	GROUP BY validYN 

	SELECT @TotalKeys=COUNT(*) FROM #sel 

	SELECT @TotalRows = ISNULL(@TotalRows,0), 
		@TotalKeys = ISNULL(@TotalKeys,0), 
		@TotalKeysValid = ISNULL(@TotalKeysValid,0), 
		@TotalKeysError = ISNULL(@TotalKeysError,0), 
		@TotalKeysWarning = ISNULL(@TotalKeysWarning,0) 
 
	SELECT @TotalRows TotalRows, 
		@TotalKeys TotalKeys, 
		@TotalKeysValid TotalKeysValid, 
		@TotalKeysError TotalKeysError, 
		@TotalKeysWarning TotalKeysWarning , 
		@ErrorMsg ErrorMsg 
 
	SELECT s.ImportBatchid, s.KeyLevelSeq1, s.PartnerId, s.HeaderTotalAmt as TotalAmount, s.CustId, s.ClaimNumber ClaimNum, s.TransType, 0 ErrStatus, 'Valid' ErrCategory,'Valid' ErrDescr 
	FROM #sel s 
		LEFT JOIN #tErr e ON s.ImportBatchId=e.ImportBatchId and s.KeyLevelSeq1=e.KeyLevelSeq1 
	WHERE e.ErrCode is null 
	GROUP BY s.ImportBatchid, s.KeyLevelSeq1, s.PartnerId, s.HeaderTotalAmt, s.CustId, s.ClaimNumber, s.TransType 
	UNION
	SELECT s.ImportBatchid, s.KeyLevelSeq1, s.PartnerId, s.HeaderTotalAmt as TotalAmount, s.CustId, s.ClaimNumber ClaimNum, s.TransType, ErrStatus, 
		case when ErrStatus =1 then 'Warning' when ErrStatus =2 then'Error' end as ErrCategory, ErrDescr 
	FROM #sel s 
		INNER JOIN #tErr e ON s.ImportBatchId=e.ImportBatchId and s.KeyLevelSeq1=e.KeyLevelSeq1 
	ORDER BY ErrStatus 
 
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_Validate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_Validate_proc'
GO
