USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMTransferPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMTransferPost_InHistory_proc]
AS
BEGIN TRY

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT p.HistoryID, p.GlYear, p.GLPeriod, p.TransDate, t.BatchID
	FROM #PostIdList s INNER JOIN dbo.tblWmTransfer t ON s.Id = t.TranKey
		INNER JOIN dbo.tblWmTransferPick p ON t.TranKey = p.TranKey
	WHERE p.HistoryID > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT r.HistoryID, r.GlYear, r.GLPeriod, r.TransDate, t.BatchID
	FROM #PostIdList s INNER JOIN dbo.tblWmTransfer t ON s.Id = t.TranKey
		INNER JOIN dbo.tblWmTransferPick p ON t.TranKey = p.TranKey
		INNER JOIN dbo.tblWmTransferRcpt r ON p.TranPickKey = r.TranPickKey
	WHERE r.HistoryID > 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_InHistory_proc'
GO
