USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmBOLSOUpdate_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmBOLSOUpdate_proc]
@BOLRef Int
AS
BEGIN TRY

UPDATE dbo.tblSoTransDetail SET BOLNum = h.BOLNum
FROM dbo.tblSoTransDetail 
	INNER JOIN dbo.tblWmBOLDetail t ON dbo.tblSoTransDetail.TransId = t.TransId 
	AND dbo.tblSoTransDetail.EntryNum = t.EntryNum 
	INNER JOIN dbo.tblWmBOLHeader h ON h.BOLRef = t.BOLRef 
WHERE h.BOLRef = @BOLRef

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmBOLSOUpdate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmBOLSOUpdate_proc'
GO
