USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsRewardActivityPost_BuildActivityList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsRewardActivityPost_BuildActivityList_proc] 
AS
SET NOCOUNT ON
BEGIN TRY

	--uses an existing temporary table that supports the following
	--CREATE TABLE ##ActivityList
	--(
	--	[ID] [bigint], 
	--	PRIMARY KEY CLUSTERED ([ID])
	--)

	--build list of Activity to include in processing
	INSERT INTO #ActivityList ([ID])
	SELECT a.[ID]
		FROM dbo.tblPsRewardActivity a 
		WHERE a.[PostRun] is null --unposted

	--return the rowcount to identify if there is data to process
	SELECT @@ROWCOUNT AS [RecordCount]


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_BuildActivityList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_BuildActivityList_proc'
GO
