USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmUpdatePerpetual_ExtendedQty_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmUpdatePerpetual_ExtendedQty_proc]
@DetailId bigint
, @QuantityID bigint = null
AS
BEGIN TRY  
 DECLARE @PrecQty tinyint
   
 SELECT @PrecQty = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecQty'  
 if @QuantityID = null
	SELECT @QuantityID = Cast([Value] AS bigInt) FROM #GlobalValues WHERE [Key] = 'QuantityID'
   
 IF @PrecQty IS NULL OR @QuantityID IS NULL
 BEGIN  
  THROW 90025, N'Missing global value.', 1  
 END  
   
 INSERT INTO dbo.tblInQtyOnHand_Ext ([ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB], [Qty],[Status], [ID])  
 SELECT c.ItemId,c.LocId,c.LotNum,a.Id,b.Id,  
  CASE WHEN c.QtyFrozen > 0 THEN (c.QtyCounted - c.QtyFrozen) ELSE c.QtyCounted END as QtyOnHand, c.QtyStatus,
  @QuantityID + ROW_NUMBER() OVER (ORDER BY c.ItemId, c.LocId)
 FROM 
	(SELECT d.ID, c.ItemID, c.CountUom, c.BatchID, b.LocID, ISNULL(d.NewExtLocAID,d.ExtLocAID) as ExtLocAID, ISNULL(d.NewExtLocBID, d.ExtLocBID) ExtLocBID, d.SerNum, d.LotNum, d.QtyCounted, d.QtyFrozen, d.QtyStatus
		FROM dbo.tblWmPhysicalCountHeader c 
		INNER JOIN tblWmPhysicalCountDetail d ON c.ID = d.HeaderID
		INNER JOIN tblWmPhysicalCountBatch b ON c.BatchID = b.BatchID) c
	INNER JOIN dbo.tblInItem i ON c.ItemId = i.ItemId  
	INNER JOIN dbo.tblInItemUom u ON c.ItemId = u.ItemId AND c.CountUom = u.Uom   
	LEFT JOIN dbo.tblWmExtLoc a ON c.LocId = a.LocID AND c.ExtLocAID = a.ExtLocID AND a.[Type] = 0   
	LEFT JOIN dbo.tblWmExtLoc b ON c.ExtLocBID = b.ExtLocID AND b.[Type] = 1  
 WHERE c.ID = @DetailId AND (c.QtyCounted - ABS(c.QtyFrozen)) != 0
   
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_ExtendedQty_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_ExtendedQty_proc'
GO
