USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcAdjustmentJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcAdjustmentJournal_proc] 
AS
BEGIN TRY
SET NOCOUNT ON

SELECT p.CustId, p.ProjectName AS ProjId, d.PhaseId, d.TaskId, a.FiscalPeriod, a.FiscalYear, a.[Type], a.TransDate,
	a.AddnlDesc, CASE a.IncDec WHEN 0 THEN 1 ELSE -1 END * a.Qty AS ActQty, CASE a.IncDec WHEN 0 THEN 1 ELSE -1 END * a.ExtCost AS ActExtCost, 
	CASE a.IncDec WHEN 0 THEN 1 ELSE -1 END * a.ExtIncome AS ActExtIncome, a.[Description], c.CustName
FROM #tmpProjectDetailList t INNER JOIN dbo.tblPcAdjustment a ON t.ProjectDetailId = a.ProjectDetailId
	INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	LEFT Join dbo.tblArCust c ON p.CustId = c.CustId
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcAdjustmentJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcAdjustmentJournal_proc'
GO
