USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrWorkCentersWhereUsed_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrWorkCentersWhereUsed_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT w.WorkCenterId, w.Descr
	FROM dbo.tblMrWorkCenter w INNER JOIN #tmpWorkCentersWhereUsed t on w.WorkCenterId = t.WorkCenterId

	SELECT w.WorkCenterId, h.AssemblyId, h.RevisionNo, r.Step, h.Description 
	FROM dbo.tblMrWorkCenter w INNER JOIN dbo.tblMbAssemblyRouting r ON w.WorkCenterId = r.WorkCenterId 
	INNER JOIN dbo.tblMbAssemblyHeader h ON r.HeaderId= h.Id
	INNER JOIN #tmpWorkCentersWhereUsed t on w.WorkCenterId = t.WorkCenterId

	SELECT w.WorkCenterId, o.OperationId, o.Descr 
	FROM dbo.tblMrWorkCenter w INNER JOIN dbo.tblMrOperations o ON w.WorkCenterId = o.WorkCenterId
	INNER JOIN #tmpWorkCentersWhereUsed t on w.WorkCenterId = t.WorkCenterId

	SELECT w.WorkCenterId, h.RoutingId, r.Step, h.Descr 
	FROM dbo.tblMrWorkCenter w 
	INNER JOIN dbo.tblMrRoutingDetail r ON w.WorkCenterId = r.WorkCenterId 
	INNER JOIN dbo.tblMrRoutingHeader h ON r.RoutingId = h.RoutingId
	INNER JOIN #tmpWorkCentersWhereUsed t on w.WorkCenterId = t.WorkCenterId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrWorkCentersWhereUsed_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrWorkCentersWhereUsed_proc'
GO
