USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmReleaseTransaction_Purge_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmReleaseTransaction_Purge_proc]
@TransId pTransId = null
AS
BEGIN TRY
	SET NOCOUNT ON
	
	--Remove entries that no longer exist in transaction table anymore
	--Remove entries if all related picks are confirmed/completed
	DELETE dbo.tblWmPick_Gen
	FROM dbo.tblWmPick_Gen g LEFT JOIN (SELECT TransId, EntryNum, SeqNum FROM dbo.tblWmPick WHERE SourceId = 0 AND TransId = @TransId) p ON g.TransId = p.TransId AND g.EntryNum = p.EntryNum AND g.SeqNum = p.SeqNum
	WHERE g.SourceId = 0 AND p.TransId IS NULL AND g.TransId = @TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmReleaseTransaction_Purge_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmReleaseTransaction_Purge_proc'
GO
