USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InMatReqTransPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InMatReqTransPost_GlLog_proc]
AS
BEGIN TRY

	DECLARE @UserID nvarchar(20), @WrkStnID nvarchar(20),@PrecCurr tinyint,
		@gInPostDtlGlYn bit, @WrkStnDate datetime, @InJcYn bit, @PostRun [nvarchar](14),
		@CurrBase [nvarchar](6),@CompId nvarchar(3),@TransType nvarchar(10)

	CREATE TABLE #tmpInMatReq
	(
		[TransID] [int] NULL,
		[LineNum] [int] NULL,
		[GlPeriod] [smallint] NULL,
		[GlAcct] [nvarchar](24) NULL,
		[ReqNum] [nvarchar](10) NULL,
		[Descr] [nvarchar](30) NULL,
		[DRAmt] [decimal](28,10) NOT NULL DEFAULT (0),
		[CRAmt] [decimal](28,10) NOT NULL DEFAULT (0),
		[SourceCode] [nvarchar](2) NULL,
		[TransDate] [datetime] NULL,
		[PostDate] [datetime] NULL,
		[Year] [smallint] NULL,
		[Source] [smallint] NULL,
		[ReqType] [smallint] NULL,
	)

	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @gInPostDtlGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlGlYn'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @InJcYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'JcYn'
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'

	IF  @gInPostDtlGlYn IS NULL OR @PrecCurr IS NULL 
		OR @WrkStnDate IS NULL OR @InJcYn IS NULL OR @PostRun IS NULL OR @CurrBase IS NULL OR @CompId IS NULL
		OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT h.TransID, d.LineNum, g.GLAcctInv, @UserID UserID, @WrkStnID WrkStnID, h.ReqType 
	INTO #tmpGLAcctInv 
	FROM tblInMatReqHeader h 
		INNER JOIN tblInMatReqDetail d ON h.TransId = d.TransId 
		INNER JOIN tblInItemLoc l ON d.ItemId = l.ItemId AND d.LocId = l.LocId 
		INNER JOIN tblInGLAcct g ON g.GLAcctCode = l.GLAcctCode
		INNER JOIN #PostTransList t ON h.TransId = t.TransId

	
	BEGIN
		INSERT INTO #tmpInMatReq (TransID, LineNum, GlPeriod, GlAcct, ReqNum
			, Descr, DRAmt, CRAmt, TransDate, PostDate, [Year], SourceCode, [Source],ReqType)
		SELECT h.TransID, d.LineNum, h.GLPeriod, d.GLAcctNum, h.ReqNum
			, SUBSTRING(
				CASE WHEN @gInPostDtlGlYn = 1 AND GLDescr IS NULL 
					THEN (CASE WHEN @InJcYn = 1 AND d.CustId IS NOT NULL 
						THEN d.CustId + '/' + d.ProjId 
						ELSE d.ItemId + ' ' + d.Descr 
						END) 
				ELSE GLDescr END, 1, 30)
			, CASE WHEN SIGN(h.ReqType) * ROUND(QtyFilled * CostUnitStd, @PrecCurr) > 0 
				THEN SIGN(h.ReqType) * ROUND(QtyFilled * CostUnitStd, @PrecCurr) ELSE 0 END
			, CASE WHEN SIGN(h.ReqType) * ROUND(QtyFilled * CostUnitStd, @PrecCurr) > 0 
				THEN 0 ELSE ABS(SIGN(h.ReqType) * ROUND(QtyFilled * CostUnitStd, @PrecCurr)) END
			, h.DatePlaced, @WrkStnDate, h.SumYear, 'IN', CASE WHEN h.ReqType > 0 THEN 75 ELSE 17 END
			,h.ReqType
		FROM dbo.tblInMatReqHeader h INNER JOIN (dbo.tblInMatReqDetail d INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId) ON h.TransId = d.TransId 
			INNER JOIN #PostTransList t ON h.TransId = t.TransId
		WHERE d.QtyFilled <> 0

		INSERT INTO #tmpInMatReq (TransID, LineNum, GlPeriod, GlAcct, ReqNum
			, Descr, DRAmt, CRAmt, TransDate, PostDate, [Year], SourceCode, [Source],ReqType)
		SELECT a.TransID, a.LineNum, GLPeriod, b.GLAcctInv, 	'Mtrl Inv'
			, CASE WHEN b.ReqType > 0 THEN 'Amount from Material Inventory' ELSE 'Amount to Material Inventory' END
			, CASE WHEN CRAmt - DRAmt > 0 THEN CRAmt - DRAmt ELSE 0 END
			, CASE WHEN DRAmt - CRAmt > 0 THEN DRAmt - CRAmt ELSE 0 END
			, TransDate, PostDate, [Year], SourceCode, CASE WHEN b.ReqType > 0 THEN 75 ELSE 17 END
			,b.ReqType 
		FROM #tmpInMatReq a INNER JOIN #tmpGLAcctInv b ON a.TransId = b.TransId AND a.LineNum = b.LineNum 
	END
	

	INSERT #DetailPostLog(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, [Description], Reference, SourceCode, CreditAmount, DebitAmount, CreditAmountBase, DebitAmountBase
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
	SELECT @PostRun, @TransType, TransID, ReqType, @CompId, GlAcct, [Year], GlPeriod 
		, CASE WHEN  @gInPostDtlGlYn <> 1  THEN 'Summary Post'  ELSE Descr END				
		, CASE WHEN @gInPostDtlGlYn = 1 THEN ReqNum ELSE 'Mat Req' END
		, SourceCode, CRAmt, DRAmt, CRAmt, DRAmt, @CurrBase
	    , CASE WHEN @gInPostDtlGlYn = 1 THEN TransDate ELSE @WrkStnDate END
	    , PostDate
	    , CASE WHEN @gInPostDtlGlYn = 1 THEN TransID ELSE NULL END
	    , CASE WHEN @gInPostDtlGlYn = 1 THEN [Source] ELSE NULL  END
	FROM #tmpInMatReq 
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InMatReqTransPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InMatReqTransPost_GlLog_proc'
GO
