USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcCompleteJobPost_UpdateActivity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcCompleteJobPost_UpdateActivity_proc]
AS
BEGIN TRY

	UPDATE dbo.tblPcActivity SET [Status] = 5 --Completed
	FROM #PostTransList t INNER JOIN dbo.tblPcActivity ON t.TransId = dbo.tblPcActivity.ProjectDetailId 
	WHERE (dbo.tblPcActivity.[Type] BETWEEN 0 AND 3 AND dbo.tblPcActivity.[Status] = 4) OR  --Activity type is Time, Material, Expense, Other; Activity status is billed.
		(dbo.tblPcActivity.[Type] = 6 AND dbo.tblPcActivity.[Status] = 2) --Posted Fixed Fee billing
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCompleteJobPost_UpdateActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCompleteJobPost_UpdateActivity_proc'
GO
