USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApOpenInvoiceReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApOpenInvoiceReport_proc]
@BaseCurrency [nvarchar](6) = 'USD',
@ReportCurrency [nvarchar](6) = NULL, 
@PrintInvoiceStatus tinyint = 4,--0, Released Invoices;1, Held Invoices;2, Temporary Hold Invoices;3, Prepaid Invoices;4, All Invoices
@InvoiceDueDate datetime = '20081203',
@DiscountDueDate datetime = '20081203',
@WrkStnDate datetime = '20081203'
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmp 
	(
		Counter int NOT NULL, 
		VendorID [nvarchar](10) NOT NULL, 
		Ten99InvoiceYN bit NULL DEFAULT (0), 
		InvoiceNo [nvarchar](15) NOT NULL, 
		InvoiceDate datetime NULL DEFAULT (GETDATE()), 
		DiscDueDate datetime NULL, 
		NetDueDate datetime NULL, 
		InvoiceStatus tinyint NULL DEFAULT (0), 
		ExchRate [decimal](28,10) NULL DEFAULT (1), 
		CurrencyId [nvarchar](6) NOT NULL, 
		VendorCurrencyId [nvarchar](6) NOT NULL, 
		CurrentBalance [decimal](28,10) NULL DEFAULT (0), 
		Discount [decimal](28,10) NULL DEFAULT (0), 
		GrossDueAmt [decimal](28,10) NULL DEFAULT (0), 
		Payments [decimal](28,10) NULL DEFAULT (0), 
		NetDue [decimal](28,10) NULL DEFAULT (0),
		TransId nvarchar(255) NULL DEFAULT (0) 
	)

	
		INSERT INTO #tmp (Counter, VendorID, Ten99InvoiceYN, InvoiceNo, InvoiceDate, DiscDueDate
		, NetDueDate, InvoiceStatus, ExchRate, CurrencyId,VendorCurrencyId, CurrentBalance, Discount, GrossDueAmt, Payments, NetDue,TransId) 
	SELECT o.Counter, o.VendorID, o.Ten99InvoiceYN, o.InvoiceNum, o.InvoiceDate, o.DiscDueDate
		, o.NetDueDate, o.Status, o.ExchRate, ISNULL(@ReportCurrency , o.CurrencyId ) CurrencyId,o.CurrencyId
		, 0 AS CurrentBalance
		, CASE WHEN o.DiscDueDate >= @DiscountDueDate 
			THEN (CASE WHEN ISNULL(@ReportCurrency, o.CurrencyId) =O.CurrencyId THEN o.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN o.DiscAmt
			  ELSE ROUND(o.DiscAmtFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END AS Discount
		, CASE WHEN o.Status < 3 THEN (CASE WHEN ISNULL(@ReportCurrency, o.CurrencyId) =o.CurrencyId THEN o.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN o.BaseGrossAmtDue
			  ELSE ROUND(o.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) 
			ELSE 0 END AS GrossDueAmt
		, CASE WHEN o.Status = 3 THEN (CASE WHEN ISNULL(@ReportCurrency, o.CurrencyId) =o.CurrencyId THEN o.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN o.BaseGrossAmtDue
			  ELSE ROUND(o.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) 
			ELSE 0 END AS Payments
		, (CASE WHEN ISNULL(@ReportCurrency, o.CurrencyId) = o.CurrencyId THEN 
					(CASE WHEN o.DiscDueDate >= @DiscountDueDate AND o.Status < 3 THEN (o.GrossAmtDuefgn - o.DiscAmtfgn) 
					      WHEN o.Status = 3 THEN 0 
					      ELSE o.GrossAmtDuefgn
					 END) 		
		        WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN 
		            (CASE WHEN o.DiscDueDate >= @DiscountDueDate AND o.Status < 3 THEN (o.BaseGrossAmtDue - o.DiscAmt) 
			              WHEN o.Status = 3 THEN 0 
			              ELSE o.BaseGrossAmtDue 
			        END)			    
		        ELSE  (CASE WHEN o.DiscDueDate >= @DiscountDueDate AND o.Status < 3 THEN ROUND((o.GrossAmtDuefgn - o.DiscAmtfgn)  * et.Rate, et.CurrDecPlaces) 
					        WHEN o.Status = 3 THEN 0 
					        ELSE ROUND(o.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces)  
					        END)
					   END) AS NetDue ,
					 o.TransID
	FROM #tmpVendorList t INNER JOIN tblApOpenInvoice o ON t.VendorID = o.VendorID 
	LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = o.Counter AND et.[Source] = o.CurrencyId
	WHERE (o.NetDueDate <= @InvoiceDueDate OR o.BaseGrossAmtDue < 0 
			OR (o.DiscAmt > 0 AND o.DiscDueDate BETWEEN @DiscountDueDate AND @InvoiceDueDate)) 
		AND o.Status = (CASE WHEN @PrintInvoiceStatus = 4 THEN o.Status ELSE @PrintInvoiceStatus END) 
		AND o.Status <> 4  

	IF  EXISTS (SELECT * FROM #tmp t WHERE t.CurrentBalance IS NULL OR t.Discount IS NULL OR t.GrossDueAmt IS NULL OR t.Payments IS NULL OR t.NetDue IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END


	UPDATE #tmp SET CurrentBalance = v.GrossDue, VendorCurrencyId = v.CurrencyId
      FROM #tmp z 
            INNER JOIN dbo.tblApVendor v ON z.VendorID = v.VendorID 

	SELECT o.[Counter], o.VendorID, l.Name as VendorName, Ten99InvoiceYN, InvoiceNo, InvoiceDate, DiscDueDate, NetDueDate
		, InvoiceStatus, Cast((ExchRate) AS float) ExchRate, CurrencyId,VendorCurrencyId, CurrentBalance, Discount, GrossDueAmt, Payments, NetDue
	FROM #tmp o inner join #tmpVendorList l on o.VendorID=l.VendorId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApOpenInvoiceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApOpenInvoiceReport_proc'
GO
