USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTransferPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTransferPost_GlLog_proc]
AS
BEGIN TRY
	--TransferFrom = 43
	--TransferTo = 44
	DECLARE @PrecCurr tinyint,@WrkStnDate datetime,@TransType nvarchar(10),
		 @gInPostDtlGlYn bit,@PostRun [nvarchar](14) , @CurrBase [nvarchar](6) , @CompId nvarchar(3)

	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @gInPostDtlGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlGlYn'
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'

	IF @gInPostDtlGlYn IS NULL OR @CompId IS NULL OR @TransType IS NULL
		OR @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL OR @WrkStnDate IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #InTransPostLog (
		[ItemID] [nvarchar](24) NULL,
		[LocID] [nvarchar](10) NULL,
		[Period] [smallint] NULL,
		[TransDate] [datetime] NULL,
		[Descr] [nvarchar](30) NULL,
		[AcctID] [nvarchar](255) NULL,
		[DebitAmt] [decimal](28,10) NULL,
		[CreditAmt] [decimal](28,10) NULL,
		[Year] [smallint] NULL,
		[TransId] int NULL,
		[Source] int NULL
	)

	--From
	--Credit
	INSERT INTO #InTransPostLog (ItemID, LocID, Period, TransDate, 
			Descr, AcctID, DebitAmt, CreditAmt, [Year], TransId, Source)
	SELECT t.ItemIDFrom,t.LocIDFrom,t.GlPeriod,t.XferDate,t.ItemIDFrom, g.GlAcctInv,
		CASE WHEN t.CostUnit * Qty > 0 THEN 0 ELSE ABS(ROUND(t.CostUnit * t.Qty,@PrecCurr)) END,
		CASE WHEN t.CostUnit * Qty > 0 THEN ROUND(t.CostUnit * t.Qty,@PrecCurr) ELSE 0 END,
		t.SumYear, t.TransId, 74
	FROM dbo.tblInXfers t INNER JOIN dbo.tblInGLAcct g ON t.GlAcctCodeFrom = g.GLAcctCode
		 INNER JOIN #PostTransList p ON t.TransId = p.TransId 
	WHERE t.CostUnit * t.Qty <> 0

	--Transfer Cost
	--Credit
	INSERT INTO #InTransPostLog (ItemID, LocID, Period, TransDate, 
			Descr, AcctID, DebitAmt, CreditAmt, [Year], TransId, Source)
	SELECT t.ItemIDFrom,t.LocIDFrom,t.GlPeriod,t.XferDate,t.ItemIDFrom, g.GlAcctXferCost,
		CASE WHEN t.CostUnitXfer > 0 THEN 0 ELSE ABS(t.CostUnitXfer) END,
		CASE WHEN t.CostUnitXfer > 0 THEN t.CostUnitXfer ELSE 0 END,
		t.SumYear, t.TransId, 74
	FROM dbo.tblInXfers t INNER JOIN dbo.tblInGLAcct g ON t.GlAcctCodeFrom = g.GLAcctCode
		 INNER JOIN #PostTransList p ON t.TransId = p.TransId 		
	WHERE t.CostUnitXfer <> 0

	--Debit
	INSERT INTO #InTransPostLog (ItemID, LocID, Period, TransDate, 
			Descr, AcctID, DebitAmt, CreditAmt, [Year], TransId, Source)
	SELECT t.ItemIDFrom,t.LocIDTo,t.GlPeriod,t.XferDate,t.ItemIDFrom, g.GlAcctInv,
		CASE WHEN t.CostUnitXfer > 0 THEN t.CostUnitXfer ELSE 0 END,
		CASE WHEN t.CostUnitXfer > 0 THEN 0 ELSE ABS(t.CostUnitXfer) END,
		t.SumYear, t.TransId, 16
	FROM dbo.tblInXfers t INNER JOIN dbo.tblInGLAcct g ON t.GlAcctCodeTo = g.GLAcctCode
		 INNER JOIN #PostTransList p ON t.TransId = p.TransId 		
	WHERE t.CostUnitXfer <> 0

	--To
	--Debit
	INSERT INTO #InTransPostLog (ItemID, LocID, Period, TransDate, 
			Descr, AcctID, DebitAmt, CreditAmt, [Year], TransId, Source)
	SELECT t.ItemIDTo,t.LocIDTo,t.GlPeriod,t.XferDate,t.ItemIDTo, g.GlAcctInv,
		CASE WHEN CostUnit * Qty > 0 THEN ROUND(CostUnit * Qty,@PrecCurr) ELSE 0 END,
		CASE WHEN CostUnit * Qty > 0 THEN 0 ELSE ABS(ROUND(CostUnit * Qty,@PrecCurr)) END,
		t.SumYear, t.TransId, 16
	FROM dbo.tblInXfers t INNER JOIN dbo.tblInGLAcct g ON t.GlAcctCodeTo = g.GLAcctCode
		 INNER JOIN #PostTransList p ON t.TransId = p.TransId 
	WHERE CostUnit * Qty <> 0
	
		
	INSERT #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,
	[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase,CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
	SELECT @PostRun, @TransType, TransId, @PostRun,@CompId,AcctID,[Year], Period
			, CASE WHEN @gInPostDtlGlYn = 1 THEN Descr ELSE 'Sum Trans Entry From Inv' END
			,'IN','IN',CreditAmt,DebitAmt,CreditAmt,DebitAmt,@CurrBase
			, CASE WHEN @gInPostDtlGlYn = 1 THEN TransDate ELSE @WrkStnDate END
			, @WrkStnDate
			, CASE WHEN @gInPostDtlGlYn = 1 THEN TransID ELSE NULL END
			, CASE WHEN @gInPostDtlGlYn = 1 THEN [Source] ELSE NULL END
		FROM  #InTransPostLog	
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransferPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransferPost_GlLog_proc'
GO
