USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MPProductionScheduleView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MPProductionScheduleView_proc]
@IncludeCapacityStatus bit
AS
SET NOCOUNT ON
BEGIN TRY
	--Expects a temporary table that supports the following to provide server filtering of data
	--Create Table #ReleaseList 
	--(
	--	[ReleaseID] [int] not null
	--	Primary key ([ReleaseID])
	--)

	--temp table for optional capacity scheduling information
	Create Table #CStatusInfo
	(
		[ReleaseID] [int] not null,
		[CStatusLabor] [tinyint], --0;NA;1;Unscheduled;2;Partial;3;Scheduled
		[CStatusMachine] [tinyint],
		[CStatusWorkCenter] [tinyint],
		Primary Key ([ReleaseID])
	)

	--Conditionally populate temp table with CS information
	IF @IncludeCapacityStatus = 1
	Begin
		--Capture net status information for each order release
		--	cross tab and evaluate by resource type
		Insert Into #CStatusInfo ([ReleaseID], [CStatusLabor], [CStatusMachine], [CStatusWorkCenter])
		Select ac.[Id]
			, Max(Case When ac.ResType = 5 Then --labor
					Case When ac.MissingResourceCount > 0 Then 0 --NA
					Else
						Case When ac.TotalActCount = 0 Then 1 --Unscheduled
						Else
							Case When ac.ScheduledActCount = 0 Then 1 --Unscheduled
								When ac.ScheduledActCount < ac.TotalActCount Then 2 --Partial
								Else 3 --Scheduled
							End
						End
					End
				Else 0 End) [CStatusLabor]
			, Max(Case When ac.ResType = 6 Then --machine
					Case When ac.MissingResourceCount > 0 Then 0 --NA
					Else
						Case When ac.TotalActCount = 0 Then 1 --Unscheduled
						Else
							Case When ac.ScheduledActCount = 0 Then 1 --Unscheduled
								When ac.ScheduledActCount < ac.TotalActCount Then 2 --Partial
								Else 3 --Scheduled
							End
						End
					End
				Else 0 End) [CStatusMachine]
			, Max(Case When ac.ResType = 7 Then --Workcenter
					Case When ac.MissingResourceCount > 0 Then 0 --NA
					Else
						Case When ac.TotalActCount = 0 Then 1 --Unscheduled
						Else
							Case When ac.ScheduledActCount = 0 Then 1 --Unscheduled
								When ac.ScheduledActCount < ac.TotalActCount Then 2 --Partial
								Else 3 --Scheduled
							End
						End
					End
				Else 0 End) [CStatusWorkCenter]
		From (
			Select r.Id, a.ResType
				, Sum(Case When d.ResourceId is null Then 1 Else 0 End) As MissingResourceCount --Resource not defined
				, Sum(Case When a.ActStatus in (2, 3, 6) Then 1 --Assumed to be Scheduled - 2;Completed;3;OnHold;6;Excluded 
					When a.ActStatus in (0, 4, 5) and a.StartDate is not null And a.ResDetailId is not null Then 1 --Conditionally scheduled - 0;Default;4;UserLocked;5;SystemLocked
					Else 0 --Unassigned
					End) As ScheduledActCount
				, Count(1) As TotalActCount
			From dbo.tblMpOrderReleases r
				Inner Join #ReleaseList l on r.Id = l.ReleaseID
				Inner Join dbo.tblCsResourceActivity a on r.[OrderNo] = a.[SourceID1] and Cast(r.[ReleaseNo] as nvarchar) = a.[SourceID2]
				Left Join (Select Distinct [ResType], [ResourceId] From dbo.tblCsResourceDetail) d on a.[ResType] = d.[ResType] and a.[ResourceId] = d.[ResourceId]
			Where a.[SrcType] = 1 --ProductionOrder
			Group By r.[Id], a.[ResType]
		) ac
		Group By ac.[Id]
	End

	--return the results
	Select l.ReleaseID, r.OrderNo, r.ReleaseNo, o.AssemblyId, r.PurchaseOrder, o.RevisionNo, o.LocId
		, r.EstStartDate, r.EstCompletionDate, r.Qty, r.CustId, r.[Status], r.Routing
		, r.SalesOrder, r.[Priority], r.UOM, r.OrderCode, r.OrderSource, o.Planner 
		, isnull(s.CStatusLabor, 0) as CStatusLabor
		, isnull(s.CStatusMachine, 0) as CStatusMachine
		, isnull(s.CStatusWorkCenter, 0) as CStatusWorkCenter
	From dbo.tblMpOrder o 
		Inner Join dbo.tblMpOrderReleases r On o.OrderNo = r.OrderNo
		Inner Join #ReleaseList l on r.Id = l.ReleaseID
		Left Join #CStatusInfo s on r.Id = s.ReleaseID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MPProductionScheduleView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MPProductionScheduleView_proc'
GO
