USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpProductionAndCostVarianceView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpProductionAndCostVarianceView_proc]  
@TimeUnit smallint	--1;Hours;60;Minutes;3600;Seconds
AS  
BEGIN TRY  
	SET NOCOUNT ON  
	CREATE TABLE #ProductionAndCostVariance
	(
		OrderNo		nvarchar(8) NOT NULL,
		ReleaseNo	int	NOT NULL,
		TypeGroup	nvarchar(30),
		[Type]		nvarchar(30),
		CustId		nvarchar(10),
		[Resource]	nvarchar(24),
		Descr		nvarchar(35),
		EstQty		decimal(28,10),
		ActualQty	decimal(28,10),
		VarianceQty	decimal(28,10),
		Unit		nvarchar(10),
		EstimatedCost	decimal(28,10),
		ActualCost		decimal(28,10),	
		VariancePct		decimal(28,10),
		EstCompletionDate	datetime, 
		CustName	nvarchar(30),
		SalesOrder	nvarchar(8), 
		SourceType	tinyint,
		CostGroupId	nvarchar(6)
	)

	--Assembly and Materials
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, r.[Type] [TypeGroup], NULL [Type], o.CustId, ms.ComponentId [Resource], i.Descr
			, ISNULL(ms.EstQtyRequired, 0) * ISNULL(u.ConvFactor, 0) [EstQty], ISNULL(md.Qty, 0) [ActualQty], NULL [VarianceQty], i.UomBase [Unit]
			, CASE WHEN r.[Type] = 5 THEN (-1) * (ISNULL(ms.EstQtyRequired, 0)  * ISNULL(ms.UnitCost, 0)) ELSE ISNULL(ms.EstQtyRequired, 0)  * ISNULL(ms.UnitCost, 0) END [EstimatedCost]
			, CASE WHEN r.[Type] = 5 THEN (-1) * ISNULL(md.ExtCost, 0) ELSE ISNULL(md.ExtCost, 0) END [ActualCost]
			, NULL [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 0 [SourceType], ms.CostGroupId
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpRequirements r ON o.ReleaseId = r.ReleaseId
			LEFT JOIN dbo.tblMpMatlSum ms ON r.TransId = ms.TransId
			LEFT JOIN (
						SELECT	TransId, SUM(ISNULL(Qty, 0) * ISNULL(UnitCost, 0)) ExtCost
								, SUM(ISNULL(Qty, 0) * ISNULL(u.ConvFactor, 0)) Qty
						FROM	dbo.tblMpMatlDtl d
								LEFT JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.UOM = u.Uom
						GROUP BY TransId  			
						) md ON r.TransId = md.TransId
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId
			LEFT JOIN dbo.tblInItem i on ms.ComponentId = i.ItemId
			LEFT JOIN dbo.tblInItemUom u ON ms.ComponentId = u.ItemId AND ms.UOM = u.Uom
	WHERE	o.PostRun IS NULL AND r.[Type] NOT IN (1, 2, 6)	--ComponentType : Assembly = 0, Routing = 1, Subassembly = 2, StockedSubassembly = 3, Material = 4, ByProduct = 5, Subcontract = 6

	--Labour details
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, 'Labor' [TypeGroup]
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN 'Machine Setup Time'
				WHEN ts.col = 'MachineRunEst' THEN 'Machine Run Time'
				WHEN ts.col = 'LaborSetupEst' THEN 'Labor Setup Time'
				WHEN ts.col = 'LaborEst' THEN 'Labor Run Time'
			END [Type]
			, o.CustId, ts.LaborTypeId  [Resource], l.Descr
			, ISNULL(ts.colValue, 0) * @TimeUnit / 60 [EstQty]
			, CASE ts.col 
				WHEN 'MachineSetupEst' THEN ISNULL(td.MachineSetup, 0)
				WHEN 'MachineRunEst' THEN ISNULL(td.MachineRun, 0)
				WHEN 'LaborSetupEst' THEN ISNULL(td.LaborSetup, 0)
				WHEN 'LaborEst' THEN ISNULL(td.Labor, 0)
			END [ActualQty]
			, NULL [VarianceQty]
			--Unit
			, CASE @TimeUnit WHEN 1 THEN 'Hours' WHEN 60 THEN 'Minutes' WHEN 3600 THEN 'Seconds' END [Unit]
			--Estimated Cost
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyCostFactorMach, 0))
				WHEN ts.col = 'MachineRunEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyCostFactorMach, 0))
				WHEN ts.col = 'LaborSetupEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyRateLbrSetup, 0))
				WHEN ts.col = 'LaborEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyRateLbr, 0))
			END [EstimatedCost]
			--Actual Cost
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ISNULL(td.MachineSetup, 0)  * ISNULL(ts.HourlyCostFactorMach, 0)
				WHEN ts.col = 'MachineRunEst' THEN ISNULL(td.MachineRun, 0) * ISNULL(ts.HourlyCostFactorMach, 0)
				WHEN ts.col = 'LaborSetupEst' THEN ISNULL(td.LaborSetup, 0) * ISNULL(ts.HourlyRateLbrSetup, 0)
				WHEN ts.col = 'LaborEst' THEN ISNULL(td.Labor, 0) * ISNULL(ts.HourlyRateLbr, 0)	
			END [ActualCost]
			, NULL [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 0 [SourceType]
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ts.MachineCostGroupId
				WHEN ts.col = 'MachineRunEst' THEN ts.MachineCostGroupId
				WHEN ts.col = 'LaborSetupEst' THEN ts.LaborSetupCostGroupId
				WHEN ts.col = 'LaborEst' THEN ts.LaborCostGroupId
			END [CostGroupId]
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpRequirements r  ON o.ReleaseId = r.ReleaseId
			INNER JOIN (
						SELECT 
							TransId, LaborTypeId, HourlyCostFactorMach, HourlyRateLbrSetup, HourlyRateLbr, 
							MachineCostGroupId, LaborCostGroupId, LaborSetupCostGroupId,
							col, colValue
						FROM 
							(
								SELECT 
									s.TransId [TransId], LaborTypeId, HourlyCostFactorMach, HourlyRateLbrSetup, HourlyRateLbr,  	
									MachineCostGroupId, LaborCostGroupId, LaborSetupCostGroupId,
									CAST([MachineSetupEst] AS decimal(20,10)) AS [MachineSetupEst],
									CAST([MachineRunEst] AS decimal(20,10)) AS [MachineRunEst],
									CAST([LaborSetupEst] AS decimal(20,10)) AS [LaborSetupEst],
									CAST([LaborEst] AS decimal(20,10)) AS [LaborEst] 
								FROM 
									tblMpTimeSum s 
							) td
							UNPIVOT
							(
								colValue FOR col IN (
								[MachineSetupEst], [MachineRunEst], [LaborSetupEst], [LaborEst]
								)
							) AS Unpvt
						) ts ON r.TransId = ts.TransId  
			LEFT JOIN (
						SELECT	TransId, SUM(ISNULL(MachineSetup, 0) * @TimeUnit / ISNULL(MachineSetupIn, 0)) [MachineSetup]
								, SUM(ISNULL(MachineRun, 0) * @TimeUnit / ISNULL(MachineRunIn, 0)) [MachineRun]
								, SUM(ISNULL(LaborSetup, 0) * @TimeUnit / ISNULL(LaborSetupIn, 0)) [LaborSetup]
								, SUM(ISNULL(Labor, 0) * @TimeUnit / ISNULL(LaborIn, 0)) [Labor]
						FROM	tblMpTimeDtl
						GROUP BY TransId
						) td ON r.TransId = td.TransId 			
			LEFT JOIN dbo.tblMrLabor l ON l.LaborTypeId = ts.LaborTypeId
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId 
	WHERE	o.PostRun IS NULL 

	--Subcontract
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, 'Subcontract' [TypeGroup], NULL [Type], o.CustId, d.VendorId  [Resource], v.[Name] [Descr]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) ELSE 0 END [EstQty]
			, ISNULL(d.QtyReceived, 0) [ActualQty], ISNULL(d.QtyReceived, 0) - CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) ELSE 0 END [VarianceQty]
			, NULL [Unit]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0) ELSE 0 END [EstimatedCost]
			, ISNULL(d.ExtCost, 0) [ActualCost]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN
				CASE WHEN (ISNULL(s.EstQtyRequired, 0) <> 0) THEN 
					(ISNULL(d.ExtCost, 0) - (ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0))) / (ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0)) * 100 
				ELSE 0 END
			ELSE NULL END [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 0 [SourceType], s.CostGroupId
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpRequirements r  ON o.ReleaseId = r.ReleaseId
			INNER JOIN dbo.tblMpSubContractSum s ON r.TransId = s.TransId
			LEFT JOIN  (
						SELECT	TransId, VendorId, Sum(ISNULL(QtyReceived, 0)) QtyReceived, Sum(ISNULL(QtyReceived, 0) * ISNULL(UnitCost, 0)) ExtCost  
                        FROM	dbo.tblMpSubContractDtl   
                        GROUP BY TransId, VendorId 
						) d ON s.TransId = d.TransId
			LEFT JOIN dbo.tblApVendor v ON d.VendorId = v.VendorID
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId
	WHERE	o.PostRun IS NULL

	--Assembly and Materials History
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, r.[Type] [TypeGroup], NULL [Type], o.CustId, ms.ComponentId [Resource], i.Descr
			, ISNULL(ms.EstQtyRequired, 0) * ISNULL(ms.ConvFactor, 0) [EstQty], ISNULL(md.Qty, 0) [ActualQty], NULL [VarianceQty], ms.UOM [Unit]
			, CASE WHEN r.[Type] = 5 THEN (-1) * ISNULL(ms.EstQtyRequired, 0) * ISNULL(ms.UnitCost, 0) ELSE ISNULL(ms.EstQtyRequired, 0) * ISNULL(ms.UnitCost, 0) END [EstimatedCost]
			, CASE WHEN r.[Type] = 5 THEN (-1) * ISNULL(md.ExtCost, 0) ELSE ISNULL(md.ExtCost, 0) END [ActualCost]
			, NULL [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 1 [SourceType], ms.CostGroupId
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpHistoryRequirements r ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId 
			LEFT JOIN dbo.tblMpHistoryMatlSum ms ON o.PostRun = ms.PostRun AND r.TransId = ms.TransId
			LEFT JOIN (
						SELECT	PostRun, TransId, SUM(ISNULL(Qty, 0) * ISNULL(UnitCost, 0)) ExtCost
								, SUM(ISNULL(Qty, 0) * ISNULL(ConvFactor, 0)) Qty
						FROM	dbo.tblMpHistoryMatlDtl d
						GROUP BY PostRun, TransId
						) md ON o.PostRun = md.PostRun AND r.TransId = md.TransId 
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId
			LEFT JOIN dbo.tblInItem i on ms.ComponentId = i.ItemId
	WHERE	r.[Type] NOT IN (1, 2, 6)	--ComponentType : Assembly = 0, Routing = 1, Subassembly = 2, StockedSubassembly = 3, Material = 4, ByProduct = 5, Subcontract = 6

	--Labour details History
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, 'Labor' [TypeGroup]
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN 'Machine Setup Time'
				WHEN ts.col = 'MachineRunEst' THEN 'Machine Run Time'
				WHEN ts.col = 'LaborSetupEst' THEN 'Labor Setup Time'
				WHEN ts.col = 'LaborEst' THEN 'Labor Run Time'
			END [Type]
			, o.CustId, ts.LaborTypeId  [Resource], l.Descr
			, ISNULL(ts.colValue, 0) * @TimeUnit / 60 [EstQty]
			, CASE ts.col 
				WHEN 'MachineSetupEst' THEN ISNULL(td.MachineSetup, 0)
				WHEN 'MachineRunEst' THEN ISNULL(td.MachineRun, 0)
				WHEN 'LaborSetupEst' THEN ISNULL(td.LaborSetup, 0)
				WHEN 'LaborEst' THEN ISNULL(td.Labor, 0)
			END [ActualQty]
			, NULL [VarianceQty]
			--Unit
			, CASE @TimeUnit WHEN 1 THEN 'Hours' WHEN 60 THEN 'Minutes' WHEN 3600 THEN 'Seconds' END [Unit]
			--Estimated Cost
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyCostFactorMach, 0))
				WHEN ts.col = 'MachineRunEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyCostFactorMach, 0))
				WHEN ts.col = 'LaborSetupEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyRateLbrSetup, 0))
				WHEN ts.col = 'LaborEst' THEN ((ISNULL(ts.colValue, 0) * @TimeUnit) / 60 * ISNULL(ts.HourlyRateLbr, 0))
			END [EstimatedCost]
			--Actual Cost
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ISNULL(td.MachineSetup, 0)  * ISNULL(ts.HourlyCostFactorMach, 0)
				WHEN ts.col = 'MachineRunEst' THEN ISNULL(td.MachineRun, 0) * ISNULL(ts.HourlyCostFactorMach, 0)
				WHEN ts.col = 'LaborSetupEst' THEN ISNULL(td.LaborSetup, 0) * ISNULL(ts.HourlyRateLbrSetup, 0)
				WHEN ts.col = 'LaborEst' THEN ISNULL(td.Labor, 0) * ISNULL(ts.HourlyRateLbr, 0)	
			END [ActualCost]
			, NULL [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 1 [SourceType]
			, CASE 
				WHEN ts.col = 'MachineSetupEst' THEN ts.MachineCostGroupId
				WHEN ts.col = 'MachineRunEst' THEN ts.MachineCostGroupId
				WHEN ts.col = 'LaborSetupEst' THEN ts.LaborSetupCostGroupId
				WHEN ts.col = 'LaborEst' THEN ts.LaborCostGroupId
			END [CostGroupId]
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpHistoryRequirements r ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
			INNER JOIN (
						SELECT 
							TransId, PostRun, LaborTypeId, HourlyCostFactorMach, HourlyRateLbrSetup, HourlyRateLbr, 
							MachineCostGroupId, LaborCostGroupId, LaborSetupCostGroupId,
							col, colValue
						FROM 
							(
								SELECT 
									s.TransId [TransId], s.PostRun, LaborTypeId, HourlyCostFactorMach, HourlyRateLbrSetup, HourlyRateLbr,  	
									MachineCostGroupId, LaborCostGroupId, LaborSetupCostGroupId,
									CAST([MachineSetupEst] AS decimal(20,10)) AS [MachineSetupEst],
									CAST([MachineRunEst] AS decimal(20,10)) AS [MachineRunEst],
									CAST([LaborSetupEst] AS decimal(20,10)) AS [LaborSetupEst],
									CAST([LaborEst] AS decimal(20,10)) AS [LaborEst] 
								FROM 
									tblMpHistoryTimeSum s 
							) td
							UNPIVOT
							(
								colValue FOR col IN (
								[MachineSetupEst], [MachineRunEst], [LaborSetupEst], [LaborEst]
								)
							) AS Unpvt
						) ts ON o.PostRun = ts.PostRun AND r.TransId = ts.TransId  
			LEFT JOIN (
						SELECT	PostRun, TransId, SUM(ISNULL(MachineSetup, 0) * @TimeUnit / ISNULL(MachineSetupIn, 0)) [MachineSetup]
								, SUM(ISNULL(MachineRun, 0) * @TimeUnit / ISNULL(MachineRunIn, 0)) [MachineRun]
								, SUM(ISNULL(LaborSetup, 0) * @TimeUnit / ISNULL(LaborSetupIn, 0)) [LaborSetup]
								, SUM(ISNULL(Labor, 0) * @TimeUnit / ISNULL(LaborIn, 0)) [Labor]
						FROM	tblMpHistoryTimeDtl
						GROUP BY PostRun, TransId
						) td ON o.PostRun = td.PostRun AND r.TransId = td.TransId 			
			LEFT JOIN dbo.tblMrLabor l ON l.LaborTypeId = ts.LaborTypeId
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId

	--Subcontract History
	INSERT INTO #ProductionAndCostVariance
	SELECT	o.OrderNo, o.ReleaseNo, 'Subcontract' [TypeGroup], NULL [Type], o.CustId, d.VendorId  [Resource], v.[Name] [Descr]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) ELSE 0 END [EstQty]
			, ISNULL(d.QtyReceived, 0) [ActualQty], ISNULL(d.QtyReceived, 0) - CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) ELSE 0 END [VarianceQty]
			, NULL [Unit]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0) ELSE 0 END [EstimatedCost]
			, ISNULL(d.ExtCost, 0) [ActualCost]
			, CASE WHEN s.DefaultVendorId = d.VendorId THEN
				CASE WHEN (ISNULL(s.EstQtyRequired, 0) <> 0) THEN 
					(ISNULL(d.ExtCost, 0) - (ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0))) / (ISNULL(s.EstQtyRequired, 0) * ISNULL(s.EstPerPieceCost, 0)) * 100 
				ELSE 0 END
			ELSE NULL END [VariancePct]
			, o.EstCompletionDate, c.CustName, o.SalesOrder, 1 [SourceType], s.CostGroupId
	FROM	#OrderReleases o
			INNER JOIN dbo.tblMpHistoryRequirements r  ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
			INNER JOIN dbo.tblMpHistorySubContractSum s ON o.PostRun = s.PostRun AND r.TransId = s.TransId
			LEFT JOIN (						
						SELECT	PostRun, TransId, VendorId, Sum(ISNULL(QtyReceived, 0)) QtyReceived, Sum(ISNULL(QtyReceived, 0) * ISNULL(UnitCost, 0)) ExtCost  
                        FROM	dbo.tblMpHistorySubContractDtl   
                        GROUP BY PostRun, TransId, VendorId 
						) d ON o.PostRun = d.PostRun AND s.TransId = d.TransId
			LEFT JOIN dbo.tblApVendor v ON d.VendorId = v.VendorID
			LEFT JOIN dbo.tblArCust c ON o.CustId = c.CustId

	--Update VarianceQty and VariancePct
	UPDATE	#ProductionAndCostVariance 
	SET		VarianceQty = ISNULL(ActualQty, 0) - ISNULL(EstQty, 0)
			, VariancePct = CASE WHEN ISNULL(EstimatedCost, 0) <> 0 THEN (ISNULL(ActualCost, 0) - ISNULL(EstimatedCost, 0)) / ISNULL(EstimatedCost, 0) * 100 ELSE 0 END
	WHERE	TypeGroup <> 'Subcontract'

	SELECT * FROM #ProductionAndCostVariance ORDER BY SourceType, OrderNo, ReleaseNo

END TRY  
BEGIN CATCH  
	EXEC dbo.trav_RaiseError_proc  
END CATCH  

  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpProductionAndCostVarianceView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpProductionAndCostVarianceView_proc'
GO
