USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransPost_LinkedPayment_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransPost_LinkedPayment_proc]
AS
BEGIN TRY
	
	DECLARE @PostRun pPostRun
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	--update linked payments from AR
	UPDATE dbo.tblArCashRcptDetail SET InvcNum = tmp.InvcNum,OrgInvoiceID= tmp.[Counter]
	FROM (
		SELECT p.LinkId
		, CASE WHEN h.TransType < 0 
			THEN ISNULL(h.OrgInvcNum, ISNULL(h.InvcNum, l.DefaultInvoiceNumber)) 
			ELSE ISNULL(h.InvcNum, l.DefaultInvoiceNumber)
		END AS InvcNum ,oi.[Counter]
		FROM #PostTransList l
		INNER JOIN dbo.tblArTransHeader h on l.TransId = h.TransId 
		INNER JOIN dbo.tblArTransPmt p on h.TransId = p.TransId 
		INNER JOIN dbo.tblArOpenInvoice oi ON oi.TransId=h.TransId AND oi.PostRun= @PostRun
		WHERE p.PostedYn = 0 --unposted only
	) tmp 
	WHERE RcptHeaderID = tmp.LinkId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_LinkedPayment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_LinkedPayment_proc'
GO
