USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcInvoice_ExportAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcInvoice_ExportAPT_proc]
    @PostRun [nvarchar](14) = '',
    @TotCount int = 0 OUT
AS

   SET NOCOUNT ON

   BEGIN TRY
   
   DECLARE @DocId BIGINT,
           @EdiDocNum nvarchar(3),
		   @HandleLog bit = 0,
		   @PODocID bigint

	IF OBJECT_ID('tempdb..#tmpExportLog') IS NOT NULL
		SET @HandleLog = 1

   SELECT @DocId = Id
   FROM tblEcDocument 
   WHERE DocId = '810-O'

   SELECT @PoDocID = ID
   FROM tblEcDocument 
   WHERE DocId = '850-I'

   SELECT @EdiDocNum = EdiDocNum
   FROM tblEcDocument 
   WHERE Id = @DocId
   

   DECLARE @I int,
           @ISAControlNum nvarchar(12),
           @GSControlNum nvarchar(12),
           @STControlNum nvarchar(12),
           @CurrPostRun [nvarchar](14),
           @CurrTransId [nvarchar](8),
           @CurrEdiInvcNum nvarchar(12), 
           @CurrPartnerId bigint,
		   @CurrPartnerDescr nvarchar(12),
           @CurrReceiverId nvarchar(15), 
		   @CurrReceiverIdGS nvarchar(15), 
           @CurrCustPoNumber nvarchar(75),
           @CurrFilePath nvarchar(255),
           @CurrMailQual  nvarchar(12),
           @Version nvarchar(10),
           @SendDate nvarchar(8),
           @SendTime nvarchar(4),
           @UserID [nvarchar](20),
           @WrkStnID [nvarchar](20),
           @RetVal int, 
		   @EOL nvarchar(10),
		   @lastMailContolId bigint,
		   @lastExportLogId bigInt,
		   @PrecPct tinyint

   DECLARE @CompName nvarchar(30), 
           @CompAddr1 nvarchar(30),
           @CompAddr2 nvarchar(30), 
           @CompCountry [nvarchar](6),
           @CompCity nvarchar(30),
           @CompRegion nvarchar(10),
           @CompPostalCode nvarchar(10)
   
   DECLARE @ShipFromName nvarchar(30), 
           @ShipFromAddr1 nvarchar(30),
           @ShipFromAddr2 nvarchar(30), 
           @ShipFromCountry nvarchar(6),
           @ShipFromCity nvarchar(30),
           @ShipFromRegion nvarchar(10),
           @ShipFromPostalCode nvarchar(10),
		   @ShipFromPhone nvarchar(10)

   DECLARE @UseSameISAandGSSeqYN BIT,
           @TestModeYN BIT

   DECLARE @TaxFederal decimal(28,10), @TaxState decimal(28,10), @TaxLocal decimal(28,10), @TaxAuthority nvarchar(2),
		@TaxTypeCode1 nvarchar(10), @TaxPercent1 decimal(28,10), @TaxID1 nvarchar(20), 
		@TaxTypeCode2 nvarchar(10), @TaxPercent2 decimal(28,10), @TaxID2 nvarchar(20),
		@TaxTypeCode3 nvarchar(10), @TaxPercent3 decimal(28,10), @TaxID3 nvarchar(20)

   DECLARE @FreightTaxCode1 nvarchar(10), @FreightTaxAmt1 decimal(28,10), @FreightTaxID1 nvarchar(20), 
		   @FreightTaxCode2 nvarchar(10), @FreightTaxAmt2 decimal(28,10), @FreightTaxID2 nvarchar(20),
		   @FreightTaxCode3 nvarchar(10), @FreightTaxAmt3 decimal(28,10), @FreightTaxID3 nvarchar(20),
		   @MiscTaxCode1 nvarchar(10), @MiscTaxAmt1 decimal(28,10), @MiscTaxID1 nvarchar(20), 
		   @MiscTaxCode2 nvarchar(10), @MiscTaxAmt2 decimal(28,10), @MiscTaxID2 nvarchar(20),
		   @MiscTaxCode3 nvarchar(10), @MiscTaxAmt3 decimal(28,10), @MiscTaxID3 nvarchar(20)

   SELECT @RetVal=0,@EOL='?^?^'
   SELECT @UseSameISAandGSSeqYN=0,@TestModeYN =0--- set to 1 to stop removing records from the comm table

   SELECT @SendDate=CONVERT(nvarchar,GETDATE(),112),
          @SendTime =REPLACE(LEFT(CONVERT(nvarchar,getdate(),108),5),':','')

	SELECT @PrecPct = CONVERT(tinyint, ISNULL(ConfigValue,0)) FROM tblSmConfigValue WHERE ConfigRef = 604 --PrecPercent

   IF ISNULL(@PostRun,'')=''
   BEGIN
      SET @PostRun=REPLACE(REPLACE(REPLACE(CONVERT(nvarchar,GETDATE(),120),' ',''),'-',''),':','')
   END    

   SELECT @UserID = [Value] FROM #GlobalValues WHERE [Key] = 'UserID'
   SELECT @WrkStnID= [Value] FROM #GlobalValues WHERE [Key] = 'WrkStnID'

   DELETE FROM dbo.tblEcTempExport WHERE DocId = @DocId

   -- remove dups in comm table
   DELETE c
   FROM tblEcComm c
   INNER JOIN (SELECT DocID, PostRun, DocKey, MAX(ID) MaxID
               FROM tblEcComm WHERE DocId = @DocId
               GROUP BY DocID, PostRun, DocKey) d ON c.DocID = d.DocID AND c.PostRun = d.PostRUn  AND c.DocKey = d.DocKey  
   WHERE c.ID <> d.MaxId

   SELECT @SendDate=CONVERT(nvarchar,GETDATE(),112),
          @SendTime =REPLACE(LEFT(CONVERT(nvarchar,getdate(),108),5),':','')


   IF ISNULL(@PostRun,'')=''
   BEGIN
      SET @PostRun=REPLACE(REPLACE(REPLACE(CONVERT(nvarchar,GETDATE(),120),' ',''),'-',''),':','')
   END 	


   CREATE TABLE #CtrlNum (Id INT IDENTITY(1,1),PartnerId nvarchar(12),ISAControlNum nvarchar(50),GSControlNum nvarchar(50))

   CREATE TABLE #TranTmp (ID int IDENTITY(1,1),PostRun [nvarchar](14) NOT NULL, TransID [nvarchar](8) NOT NULL, CustId [nvarchar](10) NOT NULL, PartnerId bigint, PartnerDescr nvarchar(12), ReceiverId nvarchar(15),EdiInvcNum nvarchar(20),CustPoNum nvarchar(75),TPCode nvarchar(12))

   CREATE TABLE #TranH (PostRun [nvarchar](14) NOT NULL, TransID [nvarchar](8) NOT NULL, PartnerId bigint,CustId [nvarchar](10) NULL,EdiInvcNum nvarchar(50),InvcDate datetime,CustPONum nvarchar(50), OrderDate  datetime, 
                        PODate datetime, LocId [nvarchar](10) NULL,
						TermsCode nvarchar(20),TermsCodeDescr nvarchar(80),NetDueDate datetime,DiscDueDate datetime, DiscAmt [decimal](28,10) NULL,DiscPct smallint,DiscDays smallint,NetDueDays smallint,
						AcctNum nvarchar(50), EDIDepartment nvarchar(50), StoreCode nvarchar(50), 
                        MerchandiseTypeCode nvarchar(50),EDIVendorNum nvarchar(50),
						ShipToId nvarchar(10),ShipToName nvarchar(50),ShipToAddr1 nvarchar(100),ShipToAddr2 nvarchar(100),ShipToCity nvarchar(50),ShipToRegion nvarchar(50),ShipToPostalCode nvarchar(50),ShipToCountry  nvarchar(50),
						EDIBillToCode nvarchar(20),BillToName nvarchar(50),BillToAddr1 nvarchar(100),BillToAddr2 nvarchar(100),BillToCity nvarchar(50),BillToRegion nvarchar(50),BillToPostalCode nvarchar(50),BillToCountry  nvarchar(50),
						ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry  nvarchar(50),
                        InvcTotal [decimal](28,10) NULL,Totalweight [decimal](28,10) NULL,TaxSubtotal [decimal](28,10) NULL,NonTaxSubtotal [decimal](28,10) NULL,SalesTax [decimal](28,10) NULL,Freight [decimal](28,10) NULL,Misc [decimal](28,10) NULL,CurrencyID nvarchar(10),DUNS nvarchar(50),BillofLading nvarchar(75),EDIShipToCode nvarchar(20),
						ShipMethod nvarchar(12),SCAC nvarchar(20),CarrierName nvarchar(20),FOB nvarchar(20),ShipDate datetime,
						POPostRun nvarchar(14),POImportBatchId nvarchar(14),POKeyLevelSeq1 int,MerchandiseTotal [decimal](28,10) NULL,
						ASNNumber nvarchar(20), PRONumber nvarchar(50), CartonCount int, ReleaseNumber nvarchar(50) NULL, FOBCode nvarchar(50) NULL)
 

   CREATE TABLE #TranD (PostRun nvarchar(14), TransID [nvarchar](10) NULL,EdiInvcNum nvarchar(50),EntryNum int,LineSeq int, ItemId nvarchar(100),ItemDescr nvarchar(80),
                       POLineNum nvarchar(50),POLineQty [decimal](28,10) NULL, POLinePrice [decimal](28,10) NULL,POLineUOM nvarchar(50),QtyShipSell [decimal](28,10) NULL, UnitPriceSell [decimal](28,10) NULL,UnitsSell nvarchar(50),ConversionFactor [decimal](28,10) NULL,
					   CustId [nvarchar](10) NULL,LocId [nvarchar](10) NULL,ItemUom nvarchar(10),PriceExt [decimal](28,10) NULL,POPostRun nvarchar(14),POImportBatchId nvarchar(14),POKeyLevelSeq1 int,POKeyLevelSeq2 int,PriceAdjAmt [decimal](28,10) NULL,UnitPriceSellBasis [decimal](28,10) NULL,
					   ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry  nvarchar(50),
                       UPCCode nvarchar(24),ItemWeight [decimal](28,10) NULL,ItemWeightExt [decimal](28,10) NULL,ItemUIR nvarchar(100),EDIItemUom nvarchar(50),ItemBuyerCode nvarchar(75),ItemVendorCode nvarchar(75),
                       PackQty decimal (20,10),InnerPackQty decimal (20,10),ExportSortSeq int, ItemEAN nvarchar(50), ItemGTIN nvarchar(50))


   CREATE TABLE #TranDSum (Id INT IDENTITY(1,1),PostRun nvarchar(14), EdiInvcNum nvarchar(50),EntryNum int,LineSeq int, ItemId nvarchar(100),ItemDescr nvarchar(80),
                           POLineNum nvarchar(50),POLineQty [decimal](28,10) NULL, POLinePrice [decimal](28,10) NULL,POLineUOM nvarchar(50),QtyShipSell [decimal](28,10) NULL, UnitPriceSell [decimal](28,10) NULL,UnitsSell nvarchar(50),ConversionFactor [decimal](28,10) NULL)

   CREATE TABLE #TranPOH(PoPostRun nvarchar(50), KeyLevelSeq1 int, POPartnerId bigint,POCustPoNum nvarchar(50),PORelease nvarchar(50),BaseCustPoNum nvarchar(50),
                         StoreNumDtl nvarchar(50), ShipToName nvarchar(75),ShipToAddr1 nvarchar(75),ShipToAddr2 nvarchar(75),ShipToCity nvarchar(75),ShipToRegion nvarchar(20),ShipToPostalCode nvarchar(15),ShipToCountry nvarchar(30),MinDetailKeyLevel2 int)

   CREATE TABLE #TranPOD(Id INT IDENTITY(1,1),POPostRun nvarchar(50), KeyLevelSeq1 int, POPartnerId nvarchar(50),POCustPoNum nvarchar(50),POEntyNum int, PORelease nvarchar(50),BaseCustPoNum nvarchar(50),ItemUPC nvarchar(20),ItemBuyerCode nvarchar(50),ItemVendorCode nvarchar(50))

   
   CREATE TABLE #TranTax (PostRun [nvarchar](14) NOT NULL, TransID [nvarchar](8) NOT NULL, TaxLocId nvarchar(10) NOT NULL, TaxLevel tinyint NULL, TaxId nvarchar(20) NULL, TaxPercentage decimal(28,10) NULL, TaxAmt decimal(28,10) NULL, TaxAuthority nvarchar(2) NULL)
   
   CREATE TABLE #TranHSAC(PostRun nvarchar(14) NOT NULL,TransID nvarchar(8) NOT NULL, SACCode nvarchar(10) NOT NULL,SACPct decimal(28,10) NULL, SACAmt decimal(28,10) NOT NULL,RecordNum int NOT NULL)

   DECLARE @CustPoNum nvarchar(75),@InvoiceDate nvarchar(50),@VendorCode nvarchar(50),@DeptCode nvarchar(50),
           @StoreMarkFor nvarchar(50),@BillToName nvarchar(50),@BillToAddr1 nvarchar(50),@BillToAddr2 nvarchar(50),@BillToCity nvarchar(50),@BillToState nvarchar(50),@BillToZip nvarchar(50),@BillToCountry nvarchar(50),
           @ShipToLocation nvarchar(50),@TermsCode nvarchar(50),@TermsDiscountPercentage nvarchar(50),@DiscountPeriodinDays nvarchar(50),@NetDaysuntilDue nvarchar(50),@TermsDescription nvarchar(50),@FOBCode nvarchar(50),@ShipDate nvarchar(50),
           @FactorBatchNumber nvarchar(50),@FactorBatchTotal nvarchar(50),@CustomersAccountCode nvarchar(50),@VendorDUNSNumber nvarchar(50),@RemitCode nvarchar(50),
           @CustomerDUNSNumber nvarchar(50),@FactorAssignmentDate nvarchar(50),@ReceiverID nvarchar(50),@CurrencyCode nvarchar(50),@POtype nvarchar(50),@ASNNum nvarchar(50),
           @LoadControlNum nvarchar(50),@n2ndCurrencyCode nvarchar(50),@RateofExchange nvarchar(50),@NetDueDate nvarchar(50),
           @ShipToName nvarchar(50),@ShipToAddr1 nvarchar(50),@ShipToAddr2 nvarchar(50),@ShipToCity nvarchar(50),@ShipToState nvarchar(50),@ShipToZip nvarchar(50),@ShipToCountry nvarchar(50),@MarkforStore nvarchar(50),
           @PODate nvarchar(50),@ReleasePONum nvarchar(50),@PickTicketNum nvarchar(50),@SenderDivision nvarchar(50),@BuyingPartyName nvarchar(50),@BannerName nvarchar(50),@BannerID nvarchar(50),
           @InvoiceTotalAmount nvarchar(50),@SCACCode nvarchar(50),@Carrier nvarchar(50),@BillofLading nvarchar(50),@PRONumber nvarchar(50),@CartonCount nvarchar(50),
           @TransportationMethodCode nvarchar(50),@Weight nvarchar(50),@Freight nvarchar(50),@MerchandiseSubtotal nvarchar(50),@Discount nvarchar(50),@CreditApplied nvarchar(50),@NetInvoiceTotal nvarchar(50),
           @n1stAllowanceCode nvarchar(50),@n1stDiscountPercent nvarchar(50),@n1stAllowanceAmount nvarchar(50),@n2ndAllowanceCode nvarchar(50),@n2ndDiscountPercent nvarchar(50),@n2ndAllowanceAmount nvarchar(50),
           @n3rdAllowanceCode nvarchar(50),@n3rdDiscountPercent nvarchar(50),@n3rdAllowanceAmount nvarchar(50),@n4thAllowanceCode nvarchar(50),@n4thDiscountPercent nvarchar(50),@n4thAllowanceAmount nvarchar(50),
           @n5thAllowanceCode nvarchar(50),@n5thDiscountPercent nvarchar(50),@n5thAllowanceAmount nvarchar(50),@n6thAllowanceCode nvarchar(50),@n6thDiscountPercent nvarchar(50),@n6thAllowanceAmount nvarchar(50),
           @DollarBasisforTaxPercent nvarchar(50),@HangerCharge nvarchar(50),@BOLQualifier nvarchar(50)

   -- get all valid trans id

     -- Select all Transactions to invoice 
   INSERT INTO #TranTmp(PostRun,TransID,CustId,EdiInvcNum,CustPoNum)
   SELECT c.PostRun,h.TransId,h.CustId,h.InvcNum,h.CustPoNum
   FROM dbo.tblEcComm c
   INNER JOIN tblArHistHeader h ON c.PostRun=h.PostRun AND c.DocKey=h.TransId
   WHERE c.DociD = @DocId AND ISNULL(OnHoldYn,0) = 0 AND h.TransType = 1 -- no credits
   ORDER BY c.PostRun, c.DocKey     

   SELECT @CompName=[Name],
          @CompAddr1=Addr1,
          @CompAddr2=Addr2,
          @CompCity=City,
          @CompRegion=UPPER(ISNULL(Region,'')),
          @CompPostalCode=PostalCode,
          @CompCountry=Country
   FROM #tmpCompanyInfo 

   IF ISNULL(@CompCountry,'')='' SET @CompCountry='USA'

   SELECT @ShipFromName=@CompName,
          @ShipFromAddr1=@CompAddr1,
          @ShipFromAddr2=@CompAddr2,
          @ShipFromCity=@CompCity,
          @ShipFromRegion=@CompRegion,
          @ShipFromPostalCode=@CompPostalCode,
          @ShipFromCountry=@CompCountry

   SET @I=1
     
   WHILE @I<=(SELECT MAX(ID) FROM #TranTmp)
   BEGIN
       SELECT @CurrPartnerId=NULL,@CurrPartnerDescr=NULL,@CurrMailQual=NULL,@CurrReceiverId=NULL,@CurrReceiverIdGS=NULL

	   SELECT @CurrPostRun=PostRun,@CurrTransId=TransID FROM #TranTmp WHERE id=@I
	   
	   EXEC dbo.trav_EcGetMailIdFromTransId_proc @Docid=@DocId,@PostRun=@CurrPostRun,@TransId=@CurrTransId,@PartnerId=@CurrPartnerId OUT,@MailQual=@CurrMailQual OUT,@MailId=@CurrReceiverId OUT,@MailIdGs=@CurrReceiverIdGS OUT
	   
       UPDATE t SET PartnerId=@CurrPartnerId,ReceiverId=@CurrReceiverId, PartnerDescr=p.PartnerID
	   FROM #TranTmp t 
	   LEFT JOIN tblEcPartner p ON p.ID = @CurrPartnerId
	   WHERE t.ID=@I 
        
	  SET @I=@I+1
   END
 
   --get TP Code
   UPDATE #TranTmp SET TPCode = m.TPCode
   FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
	   INNER JOIN dbo.tblEcMailControl m ON t.CustPONum = m.DocKey AND t.PartnerId = m.PartnerId 
   WHERE d.DocID = @DocID AND m.DocID = @PODocID AND d.MailIDKeyType = 90 --FromInbound, '850-I' 

   SELECT @I=0,@CurrPostRun=NULL,@CurrTransId=NULL,@CurrPartnerId=NULL,@CurrMailQual=NULL,@CurrReceiverId=NULL

   -- remove if missing partner
   DELETE FROM #TranTmp WHERE ISNULL(PartnerId,'')=''

   -- get control numbers (if set to get one ISA and GS per partner)
   IF @UseSameISAandGSSeqYN=1
   BEGIN
      INSERT INTO #CtrlNum (PartnerId)
      SELECT DISTINCT Partnerid FROM #TranTmp

      SET @I=1
      WHILE @I<=(SELECT MAX(ID) FROM #CtrlNum)
      BEGIN
         SELECT @ISAControlNum='',@GSControlNum=''

         SELECT @CurrPartnerId=PartnerId FROM #CtrlNum WHERE id=@i

         EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'IS',@ISAControlNum OUT

         EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'GS',@GSControlNum OUT

         UPDATE #CtrlNum SET ISAControlNum=@ISAControlNum,GSControlNum=@GSControlNum WHERE id=@I

         SELECT @I=@I+1
      END
   END

   SELECT @CurrPartnerId='',@ISAControlNum='',@GSControlNum=''

   -- save ar header info (dont include freight, or misc since they should be added as additional line items (SAC segment))
   INSERT INTO #TranH (PostRun,TransID,PartnerId,CustId,EdiInvcNum,InvcDate,CustPONum,PODate,LocId,OrderDate,
                       TermsCode ,NetDueDate,DiscDueDate,discAmt,AcctNum,EDIDepartment,StoreCode,MerchandiseTypeCode,
                       ShipToId ,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToPostalCode,ShipToCountry,
                       Totalweight,TaxSubtotal,NonTaxSubtotal,SalesTax,Freight,Misc,CurrencyID,DUNS,BillofLading,InvcTotal,EDIShipToCode,CarrierName,ShipDate)
   SELECT h.PostRun,h.TransId,t.PartnerId, h.CustId,t.EdiInvcNum,h.InvcDate,h.CustPONum,h.PODate,h.WhseId,h.OrderDate,
          h.TermsCode ,h.NetDueDate,h.DiscDueDate,discAmt,'' EDIAcctNum,'' EDIDeptID,'' EDIStoreCode,'' EDIMerchandiseTypeCode,
          h.ShipToId, h.ShipToName,REPLACE(REPLACE(h.ShipToAddr1, CHAR(13),''),CHAR(10),''),REPLACE(REPLACE(h.ShipToAddr2, CHAR(13),''),CHAR(10),''),h.ShipToCity,UPPER(ISNULL(h.ShipToRegion,'')),h.ShipToPostalCode,h.ShipToCountry,
          0,h.TaxSubtotal,h.NonTaxSubtotal,h.SalesTax,h.Freight,h.Misc,h.CurrencyID,'' EDIDUNS,h.ShipNum,   ISNULL(TaxSubtotal, 0) + ISNULL(NonTaxSubtotal, 0) + ISNULL(SalesTax, 0)
          + ISNULL(Freight, 0) + ISNULL(Misc, 0)  , '' EDIShipToCode,LEFT(ISNULL(ShipVia,''),75),CASE WHEN ISNULL(h.ShipDate,'')='' THEN   h.InvcDate ELSE ShipDate END ShipDate
   FROM #TranTmp t
   INNER JOIN tblArHistHeader h ON t.PostRun=h.PostRun AND h.TransId=t.TransID

    -- link to PO header
   UPDATE t SET POPostRun=p.PostRun,POImportBatchId=p.ImportBatchId,POKeyLevelSeq1=p.KeyLevelSeq1
   FROM #TranH t
   INNER JOIN tblEcPoSoTransHeader h ON t.TransID=h.SoTransId AND h.CustID=h.CustID AND t.CustPONum=h.CustPoNum
   INNER JOIN (SELECT ID, MAX(PostRun)PostRun,CustPoNum,ImportBatchId,KeyLevelSeq1 
               FROM tblEcPoHistHeader
              GROUP BY ID, CustPoNum,ImportBatchId,KeyLevelSeq1) p ON h.POHeaderID=p.ID AND h.CustPoNum=p.CustPONum 

   UPDATE h SET SCAC=t.EDISCAC,BillofLading=LEFT(t.BOL,75),FOB=t.FreightTerm,ShipMethod=t.ShipMethod
   FROM #TranH h
   INNER JOIN trav_EcArHistHeader_View t ON h.PostRun=t.PostRun AND h.TransId=t.TransID

   -- get BillofLading and ProNumber from ASN Packing data if ASN BOL found (otherwise Ship Number from SO header will be used as both)
   UPDATE h SET BillofLading = p.BillofLading, ProNumber = p.ProNumber
   FROM #TranH h
   LEFT JOIN (
      SELECT s.ID, s.CustId, s.CustPoNum, h.TransId, h.PostRun, MAX(s.BillofLading) BillofLading, MAX(s.ProNumber) ProNumber        
      FROM dbo.tblEcPackHistHeader h
      INNER JOIN dbo.tblEcPackHistShipment s ON h.PostRun=s.PostRun AND h.ShipmentId=s.ID
      GROUP BY s.ID, h.TransID, h.PostRun, s.CustId, s.CustPoNum          
      UNION ALL 
      SELECT s.ID, s.CustId, s.CustPoNum, h.TransId, NULL as PostRun, MAX(s.BillofLading) BillofLading, MAX(s.ProNumber) ProNumber        
      FROM dbo.tblEcPackHeader h
      INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentId=s.ID
      GROUP BY s.ID, h.TransID, s.CustId, s.CustPoNum    
   ) p ON ISNULL(h.PostRun,'') = ISNULL(p.PostRun,'') AND h.TransId = p.TransId AND h.CustPONum = p.CustPoNum 
   WHERE ISNULL(p.BillofLading,'') <> ''

   -- get the EDI ship-To Code
   UPDATE t SET EDIShipToCode =s.EDIShipToCode
   FROM #TranH t
   INNER JOIN trav_tblArShipTo_view s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId

   -- if the EDI ship-to code is missing, get it from the PO
   UPDATE t SET EDIShipToCode =p.EDIShipToCode 
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 
   WHERE ISNULL(t.EDIShipToCode,'')=''

   -- UPDATE ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToPostalCode from AR Shito table if they are missing in AR trans history. 
   UPDATE t SET ShipToAddr1=s.Addr1,ShipToAddr2=s.Addr2,ShipToCity=s.City,ShipToRegion=s.Region,ShipToPostalCode=s.PostalCode
   FROM #TranH t
   INNER JOIN tblArShipTo s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId
   WHERE 
      ((ISNULL(t.ShipToAddr1,'')='' AND ISNULL(t.ShipToAddr2,'')='') OR ISNULL(t.ShipToCity,'')='' OR ISNULL(t.ShipToRegion,'')='' OR ISNULL(t.ShipToPostalCode,'')='')
      AND
      (ISNULL(s.Addr1,'')<>'' AND ISNULL(s.City,'')<>'' AND ISNULL(s.Region,'')<>'' AND ISNULL(s.PostalCode,'')<>'')

   UPDATE t SET EDIDepartment=p.EDIDepartment,MerchandiseTypeCode=p.MerchandiseTypeCode,EDIVendorNum=p.EDIVendorNumber,
                EDIBillToCode=p.EDIBillToCode,BillToName=p.BillToName,BillToAddr1=p.BillToAddr1,BillToAddr2=p.BillToAddr2,BillToCity=p.BillToCity,BillToRegion=p.BillToRegion,BillToPostalCode=p.BillToPostalCode,BillToCountry=p.BillToCountry,
				ReleaseNumber = p.ReleaseNumber, FOBCode = p.FOBCode 
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 

   UPDATE t SET EDIShipToCode =p.EDIShipToCode 
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun
   AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 
   WHERE ISNULL(t.EDIShipToCode,'')=''


   UPDATE t SET EDIBillToCode=c.CustId, BillToName=c.CustName,BillToAddr1=c.Addr1,BillToAddr2=c.Addr2,BillToCity=c.City,BillToRegion=c.Region,BillToPostalCode=c.PostalCode,BillToCountry=c.Country
   FROM #TranH t
   INNER JOIN tblArCust c ON t.CustId=c.CustId
   WHERE ISNULL(EDIBillToCode,'')='' AND ISNULL(BillToName ,'')=''


   -- get EDI vender from partner if missing
   UPDATE h SET EDIVendorNum=p.AccountNumber
   FROM #TranH  h
   INNER JOIN tblEcPartner p ON h.PartnerId=p.ID
   WHERE ISNULL(h.EDIVendorNum,'')=''

   UPDATE t SET DiscPct =tc.DiscPct,DiscDays=tc.DiscDays,NetDueDays=tc.NetDueDays,t.TermsCodeDescr=tc.[Desc]
   FROM #TranH t
   INNER JOIN  tblArTermsCode  tc ON t.TermsCode=tc.TermsCode

   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=UPPER(ISNULL(l.Region,'')),t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranH t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   INSERT INTO #TranTax(PostRun, TransID, TaxLocId, TaxLevel, TaxId, TaxAuthority, TaxPercentage, TaxAmt)
   SELECT t.PostRun, t.TransId, t.TaxLocID, t.[Level], l.TaxId, l.TaxAuthority, CASE WHEN SUM(Taxable) = 0 THEN 0 ELSE ROUND(SUM(TaxAmt)/SUM(Taxable)*100,3) END  AS TaxPercentage, SUM(TaxAmt) AS TaxAmt
   FROM #TranTmp m INNER JOIN dbo.tblArHistTax t ON m.PostRun = t.PostRun AND m.TransId = t.TransId
		LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocID = l.TaxLocId
   GROUP BY t.PostRun, t.TransId, t.TaxLocID, t.[Level], l.TaxId, l.TaxAuthority

   -- get header discounts
   INSERT INTO #TranHSAC(PostRun,TransId,SACCode,SACPct,SACAmt,RecordNum)
   SELECT  h.PostRun,h.TransID,p.SACCode, CASE ps.SACIndicator WHEN 0 THEN ROUND(ps.SACPct * 100, @PrecPct) ELSE ps.SACPct END,-d.PriceExt, ROW_NUMBER() OVER(PARTITION BY h.PostRun,h.TransId ORDER BY h.PostRun,h.TransId,d.EntryNum ASC) as RecordNum
   FROM #TranH h INNER JOIN dbo.tblArHistDetail d ON h.PostRun = d.PostRun AND h.TransID = d.TransID
	   INNER JOIN dbo.tblEcPartnerSac p ON h.PartnerId = p.PartnerId AND d.PartId = p.AdjServiceItem
	   INNER JOIN dbo.tblEcPoHistHeader ph ON h.POPostRun = ph.PostRun AND h.POImportBatchId = ph.ImportBatchId AND h.POKeyLevelSeq1 = ph.KeyLevelSeq1
	   INNER JOIN dbo.tblEcPoHistSAC ps ON ph.PostRun = ps.PostRun AND ph.Id = ps.POHeaderID AND d.PartId = ps.AdjServiceItem
   WHERE d.Status = 0

       -- save ar detail info skip header discount records
    INSERT INTO #TranD(PostRun,TransID,CustId,EdiInvcNum,EntryNum,LineSeq,LocID,ItemId,ItemDescr,ItemUom,POLineNum ,POLineQty,POLinePrice,POLineUOM,QtyShipSell,UnitPriceSell,UnitsSell,PriceExt,ConversionFactor,PriceAdjAmt,UnitPriceSellBasis)
    SELECT d.PostRun,d.TransID,t.CustId, t.EdiInvcNum,d.EntryNum, d.LineSeq,d.WhseId,d.PartId,LEFT(d.[Desc],80),d.UnitsSell, '' EDIPOLineNum,NULL EDIPOLineQty , NULL  EDIPOLinePrice ,NULL EDIPOLineUOM,d.QtyShipSell,d.UnitPriceSell,d.UnitsSell,d.PriceExt,d.ConversionFactor,d.PriceAdjAmt,d.UnitPriceSellBasis
    FROM tblArHistDetail d
    INNER JOIN #TranH t ON d.PostRun=t.PostRun AND d.TransId=t.TransID
    LEFT JOIN (SELECT DISTINCT AdjServiceItem FROM tblEcPartnerSAC) sac ON d.PartId=sac.AdjServiceItem 
    WHERE d.QtyShipSell>0 AND d.GrpId IS NULL AND EntryNum>=0 AND sac.AdjServiceItem IS NULL

    -- if there was an adjustment (discount) to this line, remove it since it will go as a seperate SAC line. 
    UPDATE d SET UnitPriceSell=UnitPriceSellBasis,PriceExt=UnitPriceSellBasis * QtyShipSell
    FROM #TranD d
    WHERE PriceAdjAmt>0 AND UnitPriceSell<>UnitPriceSellBasis

	
   UPDATE d SET LineSeq=d_seq.SeqNum 
   FROM #TranD d
   INNER JOIN (SELECT PostRun,TransId,EntryNum,ROW_NUMBER () OVER (PARTITION BY PostRun,TransId ORDER BY PostRun,TransId,EntryNum) SeqNum
               FROM #TranD) d_seq ON d.PostRun=d_seq.PostRun AND d.TransID=d_seq.TransID AND d.EntryNum=d_seq.EntryNum

	 -- link to PO detail
   UPDATE d SET POPostRun=h.POPostRun,POImportBatchId=h.POImportBatchId,POKeyLevelSeq1=h.POKeyLevelSeq1
   FROM #TranH h 
   INNER JOIN #TranD d ON h.PostRun =d.PostRun AND h.TransId=d.TransId

   UPDATE t SET POKeyLevelSeq2 = hd.KeyLevelSeq2
   FROM #TranD t
   INNER JOIN tblEcPoSoTransDetail d ON t.TransID=d.SoTransId AND t.EntryNum=d.SOEntryNum 
   INNER JOIN dbo.tblEcPoHistDetail hd ON d.PODetailID = hd.Id

   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=l.Region,t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranD t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   UPDATE t SET UPCCode=u.UPCcode,ItemWeight=u.[Weight],ItemWeightExt=ISNULL(u.[Weight],0) * ISNULL(t.QtyShipSell,0)
   FROM #TranD t
   INNER JOIN tblInItemUom u ON t.ItemId=u.ItemId AND t.UnitsSell=u.Uom

   UPDATE td SET ItemUIR=hd.ItemUir,EDIItemUom=hd.POUnitsSell, ItemBuyerCode=hd.ItemBuyerCode,ItemVendorCode=hd.ItemVendorCode,UPCCode=hd.ItemUPC,POLineNum=hd.PoLineNum, POLineUOM=hd.POUnitsSell,PackQty=hd.PackQty,InnerPackQty=hd.InnerPackQty,ItemEAN =hd.ItemEAN,ItemGTIN=hd.ItemGTIN
   FROM #TranD td 
   INNER JOIN tblEcPoHistDetail hd ON  td.POPostRun=hd.PostRun AND td.POKeyLevelSeq2=hd.KeyLevelSeq2 AND td.ItemId=hd.ItemID
   INNER JOIN dbo.tblEcPoHistHeader hh ON hd.PoHistHeaderID = hh.Id AND  td.POImportBatchId=hh.ImportBatchId AND td.POKeyLevelSeq1=hh.KeyLevelSeq1 
   
   -- get pack info from history
   UPDATE td SET PackQty=x.PackQty,InnerPackQty=x.InnerPackQty
   FROM #TranD td 
   INNER JOIN (SELECT hh.CustID,hd.ItemId ,MAX(InnerPackQty)InnerPackQty ,MAX(PackQty) PackQty
               FROM tblEcPoHistHeader hh
               INNER JOIN tblEcPoHistDetail hd ON hh.PostRun=hd.PostRun AND hh.Id=hd.PoHistHeaderID
			   GROUP BY hh.CustID,hd.ItemId) x ON td.CustId=x.CustID AND td.ItemId=x.ItemID
   WHERE ISNULL(td.PackQty,0)=0 AND ISNULL(td.InnerPackQty,0)=0

   UPDATE t SET ItemUIR=CASE WHEN ISNULL(ItemUIR,'') = '' THEN x.UIR ELSE ItemUIR END,
				ItemBuyerCode=CASE WHEN ISNULL(ItemBuyerCode,'') = '' THEN x.BuyerCode ELSE ItemBuyerCode END,
				ItemVendorCode=CASE WHEN ISNULL(ItemVendorCode,'') = '' THEN x.VendorCode ELSE ItemVendorCode END,
				UPCCode=CASE WHEN ISNULL(UPCCode,'') = '' THEN x.UPC ELSE UPCCode END,
				EDIItemUom=CASE WHEN ISNULL(EDIItemUom,'') = '' THEN x.EDIUOM ELSE EDIItemUom END,
				ItemEAN=CASE WHEN ISNULL(ItemEAN,'') = '' THEN x.EAN ELSE ItemEAN END,
				ItemGTIN=CASE WHEN ISNULL(ItemGTIN,'') = '' THEN x.GTIN ELSE ItemGTIN END
   FROM #TranD t
   INNER JOIN #TranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
   INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND t.ItemId=x.TRAVItemID AND t.ItemUom=x.TRAVUOM

   -- default to 1
   UPDATE #TranD SET PackQty=1 WHERE PackQty=0
   
   -- link to PO detail
   UPDATE h SET MerchandiseTotal=d.PriceExt
   FROM #TranH h 
   INNER JOIN (SELECT PostRun,TransId,SUM(PriceExt) PriceExt 
               FROM #TranD 
              GROUP BY PostRun,TransId) d ON h.PostRun =d.PostRun AND h.TransId=d.TransId

--*****************************

    -- remove header is there are no details
   DELETE h
   FROM #TranH h
   LEFT JOIN #TranD d ON h.PostRun=d.PostRun AND h.TransId=d.TransId 
   WHERE d.TransId IS NULL

   DELETE t
   FROM #TranTmp t
   LEFT JOIN #TranD d ON t.PostRun=d.PostRun AND t.TransID=d.TransId 
   WHERE d.TransId IS NULL   

    SELECT @I=MIN(ID) FROM #TranTmp

    WHILE @I<>0
       BEGIN
		   SELECT @CurrReceiverId=NULL,@CurrEdiInvcNum=NULL,@CustPoNum=NULL,@InvoiceDate=NULL,@CurrCustPoNumber=NULL,@VendorCode=NULL,@DeptCode=NULL,
               @StoreMarkFor=NULL,@BillToName=NULL,@BillToAddr1=NULL,@BillToAddr2=NULL,@BillToCity=NULL,@BillToState=NULL,@BillToZip=NULL,@BillToCountry=NULL,
               @ShipToLocation=NULL,@TermsCode=NULL,@TermsDiscountPercentage=NULL,@DiscountPeriodinDays=NULL,@NetDaysuntilDue=NULL,@TermsDescription=NULL,@FOBCode=NULL,@ShipDate=NULL,
               @FactorBatchNumber=NULL,@FactorBatchTotal=NULL,@CustomersAccountCode=NULL,@VendorDUNSNumber=NULL,@RemitCode=NULL,
               @CustomerDUNSNumber=NULL,@FactorAssignmentDate=NULL,@ReceiverID=NULL,@CurrencyCode=NULL,@POtype=NULL,@ASNNum=NULL,
               @LoadControlNum=NULL,@n2ndCurrencyCode=NULL,@RateofExchange=NULL,@NetDueDate=NULL,
               @ShipToName=NULL,@ShipToAddr1=NULL,@ShipToAddr2=NULL,@ShipToCity=NULL,@ShipToState=NULL,@ShipToZip=NULL,@ShipToCountry=NULL,@MarkforStore=NULL,
               @PODate=NULL,@ReleasePONum=NULL,@PickTicketNum=NULL,@SenderDivision=NULL,@BuyingPartyName=NULL,@BannerName=NULL,@BannerID=NULL,
               @InvoiceTotalAmount=NULL,@SCACCode=NULL,@Carrier=NULL,@BillofLading=NULL,@PRONumber=NULL,@CartonCount=NULL,
               @TransportationMethodCode=NULL,@Weight=NULL,@Freight=NULL,@MerchandiseSubtotal=NULL,@Discount=NULL,@CreditApplied=NULL,@NetInvoiceTotal=NULL,
               @n1stAllowanceCode=NULL,@n1stDiscountPercent=NULL,@n1stAllowanceAmount=NULL,@n2ndAllowanceCode=NULL,@n2ndDiscountPercent=NULL,@n2ndAllowanceAmount=NULL,
               @n3rdAllowanceCode=NULL,@n3rdDiscountPercent=NULL,@n3rdAllowanceAmount=NULL,@n4thAllowanceCode=NULL,@n4thDiscountPercent=NULL,@n4thAllowanceAmount=NULL,
               @n5thAllowanceCode=NULL,@n5thDiscountPercent=NULL,@n5thAllowanceAmount=NULL,@n6thAllowanceCode=NULL,@n6thDiscountPercent=NULL,@n6thAllowanceAmount=NULL,
               @DollarBasisforTaxPercent=NULL,@HangerCharge=NULL,@BOLQualifier=NULL

		  SELECT @TaxFederal = NULL, @TaxState = NULL, @TaxLocal = NULL, @TaxAuthority = NULL,
			@TaxTypeCode1 = NULL, @TaxPercent1 = NULL, @TaxID1 = NULL, 
			@TaxTypeCode2 = NULL, @TaxPercent2 = NULL, @TaxID2 = NULL,
			@TaxTypeCode3 = NULL, @TaxPercent3 = NULL, @TaxID3 = NULL,
			@FreightTaxCode1 = NULL, @FreightTaxAmt1 = NULL, @FreightTaxID1 = NULL, 
		    @FreightTaxCode2 = NULL, @FreightTaxAmt2 = NULL, @FreightTaxID2 = NULL,
		    @FreightTaxCode3 = NULL, @FreightTaxAmt3 = NULL, @FreightTaxID3 = NULL,
		    @MiscTaxCode1 = NULL, @MiscTaxAmt1 = NULL, @MiscTaxID1 = NULL, 
		    @MiscTaxCode2 = NULL, @MiscTaxAmt2 = NULL, @MiscTaxID2 = NULL,
		    @MiscTaxCode3 = NULL, @MiscTaxAmt3 = NULL, @MiscTaxID3 = NULL

	      SELECT @CurrPostRun=PostRun,@CurrTransId=TransID, @CurrPartnerID=PartnerID, @CurrPartnerDescr=ISNULL(TPCode,PartnerDescr), @CurrEdiInvcNum=EdiInvcNum,@CurrCustPoNumber=CustPoNum,@CurrReceiverId =ReceiverId
          FROM #TranTmp WHERE ID=@I  


          SELECT @CurrFilePath='' 
          EXEC dbo.trav_EcGetFileOutbound_proc @PartnerId=@CurrPartnerID,@DocId=@DocId,@PostRun=@PostRun, @MapID = '',@KeyValue=@CurrEdiInvcNum,@FilePathOut=@CurrFilePath OUT
          SET @CurrFilePath=ISNULL(@CurrFilePath,'')

          SELECT @Version=DocVersion 
          FROM  dbo.tblEcPartnerDoc WHERE PartnerId=@CurrPartnerID AND DocId=@DocId
  

		   IF @UseSameISAandGSSeqYN=0
		   BEGIN
			  EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'IS',@ISAControlNum OUT
              EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'GS',@GSControlNum OUT
           END
		   ELSE
		   BEGIN
		      --use same ISA number
		      SELECT @ISAControlNum=ISAControlNum, 
			         @GSControlNum=GSControlNum  
		      FROM #CtrlNum WHERE PartnerId=@CurrPartnerId			  

		   END

           EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'ST',@STControlNum OUT 
	        

      SELECT @CustPoNum= h.CustPONum,@InvoiceDate=CONVERT(nvarchar,InvcDate,112),@VendorCode=h.EDIVendorNum,@DeptCode=h.EDIDepartment,
             @StoreMarkFor=h.EDIShipToCode,@BillToName=h.BillToName,@BillToAddr1= REPLACE(REPLACE(h.BillToAddr1,CHAR(10),''),CHAR(13),''),@BillToAddr2=REPLACE(REPLACE(h.BillToAddr2,CHAR(10),''),CHAR(13),''),@BillToCity=h.BillToCity,@BillToState=h.BillToRegion,@BillToZip=h.BillToPostalCode,@BillToCountry=h.BillToCountry,
			  
             @ShipToLocation= h.EDIShipToCode,@TermsCode=NULL,@TermsDiscountPercentage=REPLACE(CAST(h.DiscPct AS DECIMAL(10,2)),'.00','') ,@DiscountPeriodinDays=h.DiscDays,@NetDaysUntilDue=h.NetDueDays,@TermsDescription=h.TermsCodeDescr,@FOBCode=h.FOBCode,@ShipDate=CONVERT (nvarchar,InvcDate,112),
             @FactorBatchNumber=NULL,@FactorBatchTotal=NULL,@CustomersAccountCode=NULL,@VendorDUNSNumber=h.DUNS,@RemitCode=NULL,
			  
             @CustomerDUNSNumber=NULL,@FactorAssignmentDate=NULL,@ReceiverID= @CurrReceiverId,@CurrencyCode= CASE WHEN ISNULL(h.CurrencyID,'')='DOLLAR' THEN 'USD' ELSE h.CurrencyID END,@POtype=NULL,
             @ASNNum=h.ASNNumber, @LoadControlNum=NULL,@n2ndCurrencyCode=NULL,@RateofExchange=NULL,@NetDueDate= convert(nvarchar,NetDueDate,112),
           
			@ShipToName=h.ShipToName,@ShipToAddr1=h.ShipToAddr1,@ShipToAddr2=h.ShipToAddr2,@ShipToCity=h.ShipToCity, @ShipToState=h.ShipToRegion,@ShipToZip=h.ShipToPostalCode,
             @ShipToCountry= CASE WHEN h.ShipToCountry ='USA' THEN 'US' ELSE h.ShipToCountry END,
             @MarkforStore= h.EDIShipToCode, @PODate=convert(nvarchar,PODate,112),@ReleasePONum=h.ReleaseNumber,@PickTicketNum=@CurrTransId,@SenderDivision=NULL,@BuyingPartyName=NULL,@BannerName=NULL,@BannerID=NULL,
             @InvoiceTotalAmount=CAST(h.InvcTotal as decimal(20,2)),@SCACCode=h.SCAC,@Carrier=h.CarrierName,@BillofLading=h.BillofLading,@PRONumber=CASE WHEN ISNULL(h.PRONumber,'')='' THEN h.BillofLading ELSE h.PRONumber END,@CartonCount= h.CartonCount,
             @TransportationMethodCode=NULL,
             
		   @Weight = CASE WHEN ISNULL(h.Totalweight,0) = 0 then '' ELSE CAST(round(h.Totalweight,0) AS INT) END ,
             @Freight= Case when ISNULL(h.Freight,'') = 0 then '' else cast (CAST(h.Freight as decimal(20,2)) as Varchar) end,
			 @MerchandiseSubtotal=CAST(h.InvcTotal as decimal(20,2)),@Discount=NULL,@CreditApplied=NULL,@NetInvoiceTotal=CAST(h.InvcTotal as decimal(20,2)),
             @DollarBasisforTaxPercent=NULL,@HangerCharge=Misc,@BOLQualifier=NULL
       FROM #TranH h 
      INNER JOIN #TranD d ON h.PostRun =d.PostRun AND h.TransId=d.TransId
      WHERE h.PostRun=@CurrPostRun AND h.TransId=@CurrTransId
      ORDER BY d.LineSeq

	  SELECT @n1stAllowanceCode = SACCode, @n1stDiscountPercent = SACPct, @n1stAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 1

	  SELECT @n2ndAllowanceCode = SACCode, @n2ndDiscountPercent = SACPct, @n2ndAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 2

	  SELECT @n3rdAllowanceCode = SACCode, @n3rdDiscountPercent = SACPct, @n3rdAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 3

	  SELECT @n4thAllowanceCode = SACCode, @n4thDiscountPercent = SACPct, @n4thAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 4

	  SELECT @n5thAllowanceCode = SACCode, @n5thDiscountPercent = SACPct, @n5thAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 5

	  SELECT @n6thAllowanceCode = SACCode, @n6thDiscountPercent = SACPct, @n6thAllowanceAmount = SACAmt
      FROM #TranHSAC 
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND RecordNum = 6

	  SELECT @TaxFederal = TaxAmt, @TaxTypeCode1 = TaxLocId, @TaxPercent1 = TaxPercentage, @TaxID1 = TaxId
	  FROM #TranTax
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND TaxLevel = 1

	  SELECT @TaxState = TaxAmt, @TaxTypeCode2 = TaxLocId, @TaxPercent2 = TaxPercentage, @TaxID2 = TaxId, @TaxAuthority = TaxAuthority
	  FROM #TranTax
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND TaxLevel = 2

	  SELECT @TaxLocal = TaxAmt, @TaxTypeCode3 = TaxLocId, @TaxPercent3 = TaxPercentage, @TaxID3 = TaxId
	  FROM #TranTax
	  WHERE PostRun = @CurrPostRun AND TransId = @CurrTransId AND TaxLevel = 3

	  SELECT @TaxFederal = ISNULL(@TaxFederal,0), @TaxState = ISNULL(@TaxState,0), @TaxLocal = ISNULL(@TaxLocal,0),
		@TaxPercent1 = ISNULL(@TaxPercent1,0), @TaxPercent2 = ISNULL(@TaxPercent2,0), @TaxPercent3 = ISNULL(@TaxPercent3,0)

	  SELECT @FreightTaxCode1 = t.TaxLocId, @FreightTaxAmt1 = t.TaxAmt, @FreightTaxId1 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 1 AND t.TaxLevel = 1 AND t.TaxAmt <> 0

	  SELECT @FreightTaxCode2 = t.TaxLocId, @FreightTaxAmt2 = t.TaxAmt, @FreightTaxId2 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 1 AND t.TaxLevel = 2 AND t.TaxAmt <> 0

	  SELECT @FreightTaxCode3 = t.TaxLocId, @FreightTaxAmt3 = t.TaxAmt, @FreightTaxId3 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 1 AND t.TaxLevel = 3 AND t.TaxAmt <> 0

	  SELECT @MiscTaxCode1 = t.TaxLocId, @MiscTaxAmt1 = t.TaxAmt, @MiscTaxId1 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 2 AND t.TaxLevel = 1 AND t.TaxAmt <> 0

	  SELECT @MiscTaxCode2 = t.TaxLocId, @MiscTaxAmt2 = t.TaxAmt, @MiscTaxId2 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 2 AND t.TaxLevel = 2 AND t.TaxAmt <> 0

	  SELECT @MiscTaxCode3 = t.TaxLocId, @MiscTaxAmt3 = t.TaxAmt, @MiscTaxId3 = l.TaxId
	  FROM dbo.tblSmTransTaxDetailHist t LEFT JOIN dbo.tblSmTaxLoc l ON t.TaxLocId = l.TaxLocId
	  WHERE t.PostRun = @CurrPostRun AND t.TransId = @CurrTransId AND t.EntryNum IS NULL AND t.ItemType = 2 AND t.TaxLevel = 3 AND t.TaxAmt <> 0

            -- Header
           INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
              [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
              [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
              [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],
              [Fld31],[Fld32],[Fld33],[Fld34],[Fld35],[Fld36],[Fld37],[Fld38],[Fld39],FilePath,UserId,WrkStnId)				 
           SELECT @PostRun PostRun,@DocId,
              'HDR' RecType,
              @CurrPartnerId,           -- [sort1]
              @CurrEdiInvcNum,              -- [sort2]
              '1',                      -- [sort3]
              0,                        -- [sort4]
              'HDR' Fld01,              -- [Fld01]
              @CurrPartnerDescr PartnerID, -- [Fld02]
              @CurrEdiInvcNum InvoiceNum,   -- [Fld03]
              @InvoiceDate,             -- [Fld04]
              @CustPoNum,               -- [Fld05]
              @VendorCode,              -- [Fld06]
              @DeptCode,                -- [Fld07]
              @StoreMarkFor ,           -- [Fld08]
              @BillToName,              -- [Fld09]
              @BillToAddr1,             -- [Fld10]
              @BillToAddr2,             -- [Fld11]
              @BillToCity,              -- [Fld12]
              @BillToState,             -- [Fld13]
              @BillToZip,               -- [Fld14]
              @BillToCountry,           -- [Fld15]
              @ShipToLocation ,         -- [Fld16]
              @TermsCode,               -- [Fld17]
              @TermsDiscountPercentage, -- [Fld18]
              @DiscountPeriodinDays,    -- [Fld19]
              @NetDaysuntilDue,         -- [Fld20]
              @TermsDescription,        -- [Fld21]
              @FOBCode,                 -- [Fld22]
              @ShipDate,                -- [Fld23]
              @FactorBatchNumber,       -- [Fld24]
              @FactorBatchTotal,        -- [Fld25]
              @CustomersAccountCode,    -- [Fld26]
              @VendorDUNSNumber,        -- [Fld27]
              @RemitCode,               -- [Fld28]
              @CustomerDUNSNumber,      -- [Fld29]
              @FactorAssignmentDate,    -- [Fld30]
              @CurrReceiverId ,         -- [Fld31]
              @CurrencyCode,            -- [Fld32]
              @POtype,                  -- [Fld33]
              @ASNNum,                  -- [Fld34]
              @LoadControlNum,          -- [Fld35]
              @n2ndCurrencyCode,        -- [Fld36]
              @RateOfExchange,          -- [Fld37]
              @NetDueDate ,             -- [Fld38]
              @EOL,
              @CurrFilePath,
              @UserId,
              @WrkStnId

	    -- NAM
       INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
	          [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
  		      [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
			  [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],[Fld31],[Fld32],FilePath,UserId,WrkStnId)				 
           SELECT @PostRun PostRun,@DocId,
		      'NAM' RecType,
			  @CurrPartnerId,  				    -- [sort1]
		      @CurrEdiInvcNum,					    -- [sort2]
		      '2',			    			    -- [sort3]
		       0, 						        -- [sort4]
		      'NAM' Fld01,				     	-- [Fld01]
		       @ShipFromName VendorName,			-- [Fld02]
		       @ShipFromAddr1 VendorAddr1,			-- [Fld03]
		       @ShipFromAddr2 VendorAddr2,			-- [Fld04]
		       @ShipFromCity VendorCity,			-- [Fld05]
		       @ShipFromRegion  VendorRegion,			-- [Fld06]
		       @ShipFromPostalCode  VendorPostal,		-- [Fld07]
			   @ShipFromCountry  VendorCountry,		-- [Fld08]
			   @ShipFromPhone VendorPhone,		-- [Fld09]
			   @ShipFromName RemitToName,			-- [Fld10]
		       @ShipFromAddr1 RemitToAddr1,			-- [Fld11]
		       @ShipFromAddr2 RemitToAddr2,			-- [Fld12]
		       @ShipFromCity RemitToCity,			-- [Fld13]
		       @ShipFromRegion  RemitToRegion,			-- [Fld14]
		       @ShipFromPostalCode  RemitToPostal,		-- [Fld15]
			   @ShipFromCountry RemitTorCountry,		-- [Fld16]
		
			  @ShipToname,				-- [Fld17]
		      @ShipToAddr1,			-- [Fld18]
		      @ShipToAddr2,			-- [Fld19]
			  @ShipToCity,				-- [Fld20]
		      @ShipToState,			-- [Fld21]
			  @ShipToZip,		-- [Fld22]
		      @ShipToCountry,		-- [Fld23]
		      @MarkforStore ,			-- [Fld24]
			  @PODate,		-- [Fld25]
			  @ReleasePONum, -- [Fld26]
			  @PickTicketNum, -- [Fld27] 
			  @SenderDivision, -- [Fld28] 
			  @BuyingPartyName, -- [Fld29] 
			  @BannerName, -- [Fld30] 
			  @BannerID, -- [Fld31] 
			  @EOL,
			  @CurrFilePath,
			  @UserId,
			  @WrkStnId

      --Line
      INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
		        [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[fld19],[fld20],[fld21],[fld22],[Fld23],[fld24], 
				[Fld25],[Fld26],[Fld27],[Fld28],[fld29],[fld30],[fld31],[fld32],[Fld33],[fld34],[Fld35],FilePath,UserId,WrkStnId)
      SELECT @PostRun PostRun,@DocId,
	 	'DTL' RecType,
		@CurrPartnerId,  				    -- [sort1]
		@CurrEdiInvcNum,						-- [sort2]
		'3',							    -- [sort3]
		 REPLICATE('0',4-LEN(CAST(d.LineSeq AS nvarchar)))+CAST(d.LineSeq AS nvarchar),-- [sort4]
		'DTL' Fld01,						-- [fld01]
		d.ItemVendorCode  StyleNumber,	         	-- [fld02]
		'' ColorCode,		             	-- [fld03]
		 Case when Round(left(d.UnitPriceSell,len(d.UnitPriceSell)-10+4) ,0) =  left(d.UnitPriceSell,len(d.UnitPriceSell)-10+4)   then  left(d.UnitPriceSell,len(d.UnitPriceSell)-11+0)  ELSE left(d.UnitPriceSell,len(d.UnitPriceSell)-10+4) END   ItemPrice,	-- [Fld04]		-- ALH/CSI 12/17/15 updated to go to 4 decimals 
		'' SizeDecr,	                 	-- [fld05]
		left(d.QtyShipSell,len(d.qtyshipsell)-11)   ItemQty,	-- [Fld06]
		d.ItemBuyerCode,                        -- [fld07]
		d.UPCCode,				    	-- [fld08]
		d.ItemDescr,   				    	-- [fld09]
		NULL CartonPack, -- [fld10],
		NULL INnerPack ,-- [fld11]
		d.ItemEAN EANCode,-- [fld12]
		d.EDIItemUom, -- CASE WHEN ISNULL(x.EDIUOM,'')='' THEN  CASE WHEN (d.unitssell = 'CASE') then 'CA' else d.UnitsSell end ELSE x.EDIUOM END  UnitOfMeasure, -- [fld13]
		ISNULL(t1.TaxAmt,0) TaxAmount1,-- [fld14]
		ISNULL(t2.TaxAmt,0) TaxAmount2,-- [fld15]
		d.ItemGTIN GTIN,-- [fld16]
		d.POLineNum,			            -- [fld017]
		NULL StockKeepingUnit,-- [fld18]
		NULL PrepackSpecNum,-- [fld19]
		NULL FGLPackNum,-- [fld20]
		t1.TaxLocId TaxTypeCode1 ,-- [fld21]
		t2.TaxLocId TaxTypeCode2 ,-- [fld22]
		td1.SalesTaxPct TaxPercent1 ,-- [fld23]
		CASE WHEN t1.Id IS NOT NULL THEN 'SP' ELSE NULL END TaxJurisdictionQual ,-- [fld24]
		tl1.TaxAuthority TaxJurisdictionCode ,-- [fld25]
		tl1.TaxId TaxID1 ,-- [fld26]
		td2.SalesTaxPct TaxPercent2 ,-- [fld27]
		CASE WHEN t2.Id IS NOT NULL THEN 'SP' ELSE NULL END TaxJurisdictionQual ,-- [fld28]
		tl2.TaxAuthority TaxJurisdictionCode ,-- [fld29]
		tl2.TaxId TaxID2 ,-- [fld30]
		NULL ManufacturerName ,-- [fld31]
		NULL CountryOfManufacturer ,-- [fld32]
		NULL FirstCostPrice ,-- [fld33]
		NULL PO1ItemQualifier, -- [fld34]
		@EOL,
		@CurrFilePath,
		@UserId,
		@WrkStnId
      FROM #TranH h 
      INNER JOIN #TranD d ON h.PostRun =d.PostRun AND h.TransId=d.TransId
	  LEFT JOIN dbo.tblSmTransTaxDetailHist t1 ON d.PostRun = t1.PostRun AND d.TransID = t1.TransId AND d.EntryNum = t1.EntryNum AND t1.TaxLevel = 1
	  LEFT JOIN dbo.tblSmTaxLocDetail td1 ON t1.TaxLocId = td1.TaxLocId AND t1.TaxClassCode = td1.TaxClassCode
	  LEFT JOIN dbo.tblSmTaxLoc tl1 ON td1.TaxLocId = tl1.TaxLocId
	  LEFT JOIN dbo.tblSmTransTaxDetailHist t2 ON d.PostRun = t2.PostRun AND d.TransID = t2.TransId AND d.EntryNum = t2.EntryNum AND t2.TaxLevel = 2
	  LEFT JOIN dbo.tblSmTaxLocDetail td2 ON t2.TaxLocId = td2.TaxLocId AND t2.TaxClassCode = td2.TaxClassCode
	  LEFT JOIN dbo.tblSmTaxLoc tl2 ON td2.TaxLocId = tl2.TaxLocId
      WHERE h.PostRun=@CurrPostRun AND h.TransId=@CurrTransId
      ORDER BY d.LineSeq

			     -- SUM
       INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
	          [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
  		      [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
			  [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],[Fld31],
			  [Fld32],[Fld33],[Fld34],[Fld35],[Fld36],[Fld37],[Fld38],[Fld39],[Fld40],
			  [Fld41],[Fld42],[Fld43],[Fld44],[Fld45],[Fld46],[Fld47],[Fld48],[Fld49],
			  [Fld50],[Fld51],[Fld52],[Fld59],[Fld60],[Fld61],[Fld62],[Fld63],[Fld64],[Fld65],[Fld66],
			  [Fld67],[Fld68],[Fld69],[Fld70],[Fld71],[Fld72],[Fld73],[Fld74],[Fld75],[Fld76],                  
			  FilePath,UserId,WrkStnId)				 
           SELECT @PostRun PostRun,@DocId,
		      'SUM' RecType,
			  @CurrPartnerId,  				    -- [sort1]
		      @CurrEdiInvcNum,					    -- [sort2]
		      '4',			    			    -- [sort3]
		       0, 						        -- [sort4]
		      'SUM' Fld01,				     	-- [Fld01]
		      @InvoiceTotalAmount,-- [Fld02]
               @SCACCode,-- [Fld03]
               @Carrier,-- [Fld04]
               @BillofLading,-- [Fld05]
               @PRONumber,-- [Fld06]
               @CartonCount,-- [Fld07]
               @TransportationMethodCode,-- [Fld08]
               @Weight,-- [Fld09]
               @Freight,-- [Fld10]
               @TaxFederal TaxFederal,-- [Fld11]
               @TaxState TaxState,-- [Fld12]
               @TaxLocal TaxLocal,-- [Fld13]
               @MerchandiseSubtotal,-- [Fld14]
               @Discount,-- [Fld15]
               @CreditApplied,-- [Fld16]
               @NetInvoiceTotal,-- [Fld17]
               @n1stAllowanceCode,-- [Fld18]
               @n1stDiscountPercent,-- [Fld19]
               @n1stAllowanceAmount,-- [Fld20]
               @n2ndAllowanceCode,-- [Fld21]
               @n2ndDiscountPercent,-- [Fld22]
               @n2ndAllowanceAmount,-- [Fld23]
               @n3rdAllowanceCode,-- [Fld24]
               @n3rdDiscountPercent,-- [Fld25]
               @n3rdAllowanceAmount,-- [Fld26]
               @n4thAllowanceCode,-- [Fld27]
               @n4thDiscountPercent,-- [Fld28]
               @n4thAllowanceAmount,-- [Fld29]
               @n5thAllowanceCode,-- [Fld30]
               @n5thDiscountPercent,-- [Fld31]
               @n5thAllowanceAmount,-- [Fld32]
               @n6thAllowanceCode,-- [Fld33]
               @n6thDiscountPercent,-- [Fld34]
               @n6thAllowanceAmount,-- [Fld35]
               @TaxTypeCode1 TaxTypeCode1,-- [Fld36]
               @TaxPercent1 TaxPercent1,-- [Fld37]
               @TaxID1 TaxID1,-- [Fld38]
               @TaxTypeCode2 TaxTypeCode2,-- [Fld39]
               @TaxPercent2 TaxPercent2,-- [Fld40]
               'SP' TaxJurisdictionQualifier,-- [Fld41]
               @TaxAuthority TaxJurisdictionCode,-- [Fld42]
               @TaxID2 TaxID2 ,-- [Fld43]
               @TaxTypeCode3 TaxTypeCode3,-- [Fld44]
               @TaxPercent3 TaxPercent3,-- [Fld45]
               @TaxID3 TaxID3,-- [Fld46]
               @DollarBasisforTaxPercent,-- [Fld47]
               @HangerCharge,-- [Fld48]
               @BOLQualifier,-- [Fld49]
               NULL SAC15TaxDescr1,-- [Fld50]
               NULL SAC15TaxDescr2,-- [Fld51]
			   @EOL,
			   @FreightTaxCode1 FreightTaxCode1,--[Fld59]
			   @FreightTaxCode2 FreightTaxCode2,--[Fld60]
			   @FreightTaxCode3 FreightTaxCode3,--[Fld61]
			   @FreightTaxAmt1 FreightTaxAmt1,--[Fld62]
			   @FreightTaxAmt2 FreightTaxAmt2,--[Fld63]
			   @FreightTaxAmt3 FreightTaxAmt3,--[Fld64]
			   @FreightTaxId1 FreightTaxId1,--[Fld65]
			   @FreightTaxId2 FreightTaxId2,--[Fld66]
			   @FreightTaxId3 FreightTaxId3,--[Fld67]
			   @MiscTaxCode1 MiscTaxCode1,--[Fld68]
			   @MiscTaxCode2 MiscTaxCode2,--[Fld69]
			   @MiscTaxCode3 MiscTaxCode3,--[Fld70]
			   @MiscTaxAmt1 MiscTaxAmt1,--[Fld71]
			   @MiscTaxAmt2 MiscTaxAmt2,--[Fld72]
			   @MiscTaxAmt3 MiscTaxAmt3,--[Fld73]
			   @MiscTaxId1 MiscTaxId1,--[Fld74]
			   @MiscTaxId2 MiscTaxId2,--[Fld75]
			   @MiscTaxId3 MiscTaxId3,--[Fld76]
               @CurrFilePath,  
			   @UserId,
		       @WrkStnId


			   INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
	          [Fld01],[Fld02],[Fld03],FilePath,UserId,WrkStnId)				 
				SELECT @PostRun PostRun,@DocId,
		       'END' RecType,
				@CurrPartnerId,  				    -- [sort1]
				@CurrEdiInvcNum,					    -- [sort2]
				'5',			    			    -- [sort3]
				 0, 						        -- [sort4]
				'END' Fld01,				     	-- [Fld01]
				'111111111',-- [Fld02]
			    @EOL,
				@CurrFilePath,  
				@UserId,
				@WrkStnId
			  -----------
			
	   -- write mail control
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
		--Generate new Mail Contro ID
		SET @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

		--Increase ID with # of Records generated
		SET @lastMailContolId = @lastMailContolId + (SELECT COUNT(*) FROM dbo.tblEcMailControl WHERE ID >= @lastMailContolId)

         INSERT INTO dbo.tblEcMailControl(ID, ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,DocAddnlRef1,SenderID, SenderIDGS, ReceiverID, ReceiverIdGS,  ISAControlNum,GSControlNum ,STControlNum,GSVersion ,StatusFlag,SendDate,SendTime)
         SELECT @lastMailContolId + ROW_NUMBER() OVER (ORDER BY @PostRun, @CurrPartnerId,@DocId,@EdiDocNum), @PostRun,0 KeyLevelSeq1,@CurrPartnerId,@DocId,@EdiDocNum,@CurrEdiInvcNum,@CurrCustPoNumber,NULL SenderID, NULL SenderIDGS, @CurrReceiverId, @CurrReceiverId, @ISAControlNum,@GSControlNum,case when @STControlNum = ' ' then 0 else @STControlNum end, @Version,'P' StatusFlag,@SendDate,@SendTime

		 IF @HandleLog = 1
		 BEGIN
			INSERT INTO #tmpExportLog(FilePath, PostRun, DocId)
			SELECT @CurrFilePath, @PostRun, @DocId
		 END

      END

	   -- write log
	   
	--Generate new Export Log ID
	SET @lastExportLogId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
	--Increase ID with # of Records generated
	SET @lastExportLogId = @lastExportLogId + (SELECT COUNT(*) FROM dbo.tblEcInvcExportLog WHERE ID >= @lastExportLogId)
	
      INSERT INTO dbo.tblEcInvcExportLog (ID, PostRun,PartnerId,EdiInvcNum,InvcDate,CustPoNum,InvcTotal,CustID)
      SELECT @lastExportLogId +  ROW_NUMBER() OVER (ORDER BY @PostRun,@CurrPartnerID,@CurrEdiInvcNum), @PostRun,@CurrPartnerID,@CurrEdiInvcNum,h.InvcDate,@CurrCustPoNumber,h.InvcTotal,h.CustID
      FROM #TranH h 
      WHERE PostRun=@CurrPostRun AND TransID=@CurrTransId

	  -- Remove from Communications
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
         DELETE FROM dbo.tblEcComm WHERE PostRun=@CurrPostRun AND DocKey=@CurrTransId AND DocID=@DocID   
      END  

      -- Next record  
      SET @RetVal=130   
      DELETE FROM #TranTmp WHERE ID=@I 

      SELECT @I=MIN(ID) FROM #TranTmp

	END-- WHILE @I<>0   

      
       -- return number of invoices
    SELECT @TotCount=COUNT(*) FROM dbo.tblEcTempExport WHERE DocID=@DocId AND RecType='HDR'
    SELECT ISNULL(@TotCount,0) TotCount

END TRY   
BEGIN CATCH
   EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportAPT_proc'
GO
