USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderPost_UpdateWorkOrderEquipment_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderPost_UpdateWorkOrderEquipment_proc]
AS
BEGIN TRY

	DECLARE @PostRun pPostRun, @WrkStnDateTime datetime, @EnteredBy pUserID, @WrkStnDate datetime

	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WrkStnDateTime = CONVERT(DATETIME,[Value]) FROM #GlobalValues WHERE [Key] = 'WrkStnDateTime'
	SELECT @WrkStnDate = CONVERT(DATETIME,[Value]) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @EnteredBy = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'UserID'

	DECLARE @WorkOrderActivityID bigint,  @HistoryWorkOrderActivityID bigint
	SELECT @WorkOrderActivityID = MAX(Id) FROM dbo.tblSvWorkOrderActivity
	SELECT @HistoryWorkOrderActivityID = MAX(Id) FROM dbo.tblSvHistoryWorkOrderActivity

	SET @WorkOrderActivityID = CASE WHEN ISNULL(@WorkOrderActivityID,0) >= ISNULL(@HistoryWorkOrderActivityID,0) THEN ISNULL(@WorkOrderActivityID,0) ELSE ISNULL(@HistoryWorkOrderActivityID,0) END

	UPDATE tblSvWorkOrderDispatch 
		SET [Status] =3, PostRun=@PostRun, SourceId =h.SourceId , StatusID = 7
	FROM  tblSvWorkOrderDispatch d
		INNER JOIN tblSvInvoiceDispatch i ON d.ID = i.DispatchID
		INNER JOIN #PostTransList p ON p.TransID = i.TransID
		INNER JOIN tblSvInvoiceHeader h ON h.TransID = i.TransID
		WHERE h.VoidYN=0


	UPDATE tblSvWorkOrderTrans
		SET [Status] =1, EntryNum = i.EntryNum
	FROM  tblSvWorkOrderTrans t
		INNER JOIN tblSvInvoiceDetail i ON i.WorkOrderTransID = t.ID
		INNER JOIN #PostTransList p ON p.TransID = i.TransID
		INNER JOIN tblSvInvoiceHeader h ON h.TransID = i.TransID
		WHERE h.VoidYN=0

	INSERT INTO dbo.tblSvWorkOrderActivity (ID,DispatchID,WorkOrderID,ActivityType,ActivityDateTime,EntryDate,EnteredBy) 

	SELECT @WorkOrderActivityID + ROW_NUMBER() OVER (ORDER BY i.TransID,i.DispatchID),DispatchID,d.WorkOrderID,7,@WrkStnDateTime,GETDATE(),@EnteredBy
		FROM  tblSvWorkOrderDispatch d
		INNER JOIN tblSvInvoiceDispatch i ON d.ID = i.DispatchID
		INNER JOIN #PostTransList p ON p.TransID = i.TransID
		INNER JOIN tblSvInvoiceHeader h ON h.TransID = i.TransID
		WHERE h.VoidYN=0

	--Update site equipment next due date
	UPDATE tblSvEquipmentService
		SET ScheduleNextDate = CONVERT(DATETIME, CONVERT(VARCHAR(10),CASE WHEN ScheduleType =0 THEN  DATEADD(YEAR,ScheduleInterval,ISNULL(a.CompletedDate,@WrkStnDate)) 					
									WHEN ScheduleType =1 THEN  DATEADD(MONTH,ScheduleInterval,ISNULL(a.CompletedDate,@WrkStnDate)) 					
									WHEN ScheduleType =2 THEN  DATEADD(DAY,ScheduleInterval,ISNULL(a.CompletedDate,@WrkStnDate)) 							
								END,101))
	FROM tblSvInvoiceDispatch i
		INNER JOIN #PostTransList p ON p.TransID = i.TransID
		INNER JOIN tblSvInvoiceHeader h ON h.TransID = p.TransID
		INNER JOIN tblSvWorkOrderDispatch d ON i.DispatchID = d.ID
		INNER JOIN tblSvWorkOrderDispatchWorkToDo w ON d.WorkOrderID= w.WorkOrderID and d.ID=w.DispatchID
		INNER JOIN tblSvEquipment e ON e.ID = d.EquipmentID
		INNER JOIN tblSvEquipmentService s ON s.EquipmentID= d.EquipmentID AND s.WorkToDoID = w.WorkToDoID
		LEFT JOIN ( SELECT DispatchID, WorkOrderID, MAX(ActivityDateTime) CompletedDate
					FROM tblSvWorkOrderActivity where ActivityType = 4
					GROUP BY DispatchID, WorkOrderID ) a  ON d.ID =a.DispatchID AND d.WorkOrderID =a.WorkOrderID
		WHERE h.VoidYN=0


	INSERT INTO #CompletedWorkorder (WorkOrderID)
	
	SELECT DISTINCT  tblSvInvoiceHeader.WorkOrderID
	FROM  (tblSvInvoiceHeader 
	INNER JOIN tblSvInvoiceDispatch  ON tblSvInvoiceHeader.TransID= tblSvInvoiceDispatch.TransID
	INNER JOIN #PostTransList l ON dbo.tblSvInvoiceHeader.TransId = l.TransId)
	LEFT JOIN (SELECT DISTINCT WorkOrderID From tblSvWorkOrderDispatch Where [Status] < 3) d
			ON tblSvInvoiceHeader.WorkOrderID = d.WorkOrderID
	WHERE d.WorkOrderID IS NULL

	


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_UpdateWorkOrderEquipment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_UpdateWorkOrderEquipment_proc'
GO
