USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoPricePromoList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoPricePromoList_proc]
@SortBy tinyint 

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT  p.PromoId, Descr, PriceIdFrom, PriceIdThru, CustLevelFrom, CustLevelThru, ProductLineFrom, ProductLineThru, ItemIdFrom, ItemIdThru, 
			UomFrom, UomThru, LocIdFrom, LocIdThru, UsrFld1From, UsrFld1Thru, UsrFld2From, UsrFld2Thru, PriceAdjBase, PriceAdjType, PriceAdjAmt, 
			DateStart, DateEnd, WebOnlyYn, ts, CF,
			CASE @SortBy WHEN 0 THEN p.PromoId WHEN 1 THEN CONVERT (nvarchar, DateStart, 112) END GrpId1
	FROM   dbo.tblSoPricePromo p INNER JOIN #tmpPricePromo t ON t.PromoId = p.PromoId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoPricePromoList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoPricePromoList_proc'
GO
