USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceAvailability_BuildResourceList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceAvailability_BuildResourceList_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Conditionally generates a list of resource detail for evaluation of special schedule availability

	--Expects a temporary table with a minimum of the following
	--Create Table #ResourceDetailList (
	--	[Id] [bigint] not null ,
	--	[ResType] [tinyint] not null, --Enum:EntityLinkType
	--	[ResourceId] [nvarchar](255) not null, 
	--	[LocId] [pLocId] null, 
	--	[LineNumber] [bigint] not null, 
	--	[ScheduleId] [nvarchar](10) not null
	--)


	--Retrieve global values
	DECLARE	@UseLabor bit, @UseMachineGroup bit, @UseWorkCenter bit

	SELECT @UseLabor = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseLabor'
	SELECT @UseMachineGroup = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseMachineGroup'
	SELECT @UseWorkCenter = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseWorkCenter'
	
	IF @UseLabor IS NULL or @UseMachineGroup IS NULL or @UseWorkCenter IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--conditionally build the full list of resource detail entries
	if ((Select Count(*) From #ResourceDetailList) = 0)
	Begin
		--Work centers
		If (@UseWorkCenter = 1)
		Begin
			Insert Into #ResourceDetailList ([Id], [ResType], [ResourceId]
				, [LocId], [LineNumber], [ScheduleID])
			Select Distinct d.[Id], d.[ResType], d.[ResourceId]
				, d.[LocId], d.[LineNumber], ISNULL(d.[ScheduleID], w.[ScheduleID])
			From dbo.tblCsResourceDetail d
				Inner Join dbo.tblMrWorkCenter w on d.[ResourceId] = w.[WorkCenterId]
			Where d.[ResType] = 7 --work center
				and ISNULL(d.[ScheduleID], w.[ScheduleID]) is not null
		End

		--Labor Types
		If (@UseLabor = 1)
		Begin
			Insert Into #ResourceDetailList ([Id], [ResType], [ResourceId]
				, [LocId], [LineNumber], [ScheduleID])
			Select Distinct d.[Id], d.[ResType], d.[ResourceId]
				, d.[LocId], d.[LineNumber], ISNULL(d.[ScheduleID], l.[ScheduleID])
			From dbo.tblCsResourceDetail d
				Inner Join dbo.tblMrLabor l on d.[ResourceId] = l.[LaborTypeId]
			Where d.[ResType] = 5 --Labor Type
				and ISNULL(d.[ScheduleID], l.[ScheduleID]) is not null
		End

		--Machine Groups
		If (@UseMachineGroup = 1)
		Begin
			Insert Into #ResourceDetailList ([Id], [ResType], [ResourceId]
				, [LocId], [LineNumber], [ScheduleID])
			Select Distinct d.[Id], d.[ResType], d.[ResourceId]
				, d.[LocId], d.[LineNumber], ISNULL(d.[ScheduleID], m.[ScheduleID])
			From dbo.tblCsResourceDetail d
				Inner Join dbo.tblMrMachineGroups m on d.[ResourceId] = m.[MachineGroupId]
			Where d.[ResType] = 6 --machine
				and ISNULL(d.[ScheduleID], m.[ScheduleID]) is not null
		End
	End
	Else
	Begin
		--update any missing ScheduleID values from parent resource
		--Work Center
		Update #ResourceDetailList Set [ScheduleID] = w.[ScheduleID]
			From #ResourceDetailList 
				Inner Join dbo.tblMrWorkCenter w on #ResourceDetailList.[ResourceId] = w.[WorkCenterId]
			Where #ResourceDetailList.[ScheduleID] is null and #ResourceDetailList.[ResType] = 7 --work center

		--Labor Types
		Update #ResourceDetailList Set [ScheduleID] = l.[ScheduleID]
			From #ResourceDetailList 
				Inner Join dbo.tblMrLabor l on #ResourceDetailList.[ResourceId] = l.[LaborTypeId]
			Where #ResourceDetailList.[ScheduleID] is null and #ResourceDetailList.[ResType] = 5 --labor types

		--Machine Groups
		Update #ResourceDetailList Set [ScheduleID] = m.[ScheduleID]
			From #ResourceDetailList 
				Inner Join dbo.tblMrMachineGroups m on #ResourceDetailList.[ResourceId] = m.[MachineGroupId]
			Where #ResourceDetailList.[ScheduleID] is null and #ResourceDetailList.[ResType] = 6 --machine
	End

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_BuildResourceList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceAvailability_BuildResourceList_proc'
GO
