USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_Prepare_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_Prepare_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE	@RunId pPostRun

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	
	IF @RunId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--purge any existing data for the identified RunId
	DELETE [dbo].[tblDrRunInfo] WHERE [RunId] = @RunId
	
	DELETE [dbo].[tblDrRunItemLoc] WHERE [RunId] = @RunId

	DELETE [dbo].[tblDrRunData] WHERE [RunId] = @RunId
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_Prepare_proc'
GO
