USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrRecurringAdjustmentsList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrRecurringAdjustmentsList_proc]
@SortBy tinyint = 0 -- 0, Bank Account ID; 1, Recurring Adjustment ID; 2, GL Account;

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT RecType, SortOrder1, SortOrder2, SortOrder3, BankID, TransID, SourceID, CrAmount, DrAmount, EntryNum, GLAcct, DebitAmt, CreditAmt, DescrDtl, ReferenceDtl,
	GlAcctHdr, DescrHdr, ReferenceHdr,  CASE WHEN RecType = 1 then 	DrAmount + DebitAmt  ELSE 0 END  AS SumDebitAmt,
    CASE WHEN RecType = 0 then  CrAmount + CreditAmt ELSE 0 END AS SumCreditAmt,CurrencyId FROM(
	SELECT 0 AS RecType,
		CASE @SortBy WHEN 0 THEN h.BankID WHEN 1 THEN h.TransID ELSE b.GlCashAcct END AS SortOrder1,
		CASE @SortBy WHEN 0 THEN h.TransID ELSE h.BankID END  AS SortOrder2,
		CASE @SortBy WHEN 0 THEN b.GLCashAcct WHEN 1 THEN b.GlCashAcct ELSE h.TransID END AS SortOrder3,
		h.BankID, h.TransID, h.SourceID, 0 AS CrAmount,	0 AS DrAmount, d.EntryNum, d.GLAcct,
		d.DebitAmt AS DebitAmt,
		d.CreditAmt AS CreditAmt,
		d.Descr AS DescrDtl, d.Reference AS ReferenceDtl,h.CurrencyId,
		b.GlCashAcct AS GlAcctHdr, h.Descr AS DescrHdr, h.Reference AS ReferenceHdr 
	FROM #tmpAdjustmentList t 
		INNER JOIN dbo.tblBrRecurHeader h ON t.TransId = h.TransId 
		INNER JOIN  dbo.tblSmBankAcct b ON h.BankId = b.BankId 
		LEFT JOIN dbo.tblBrRecurDetail d ON h.TransID = d.TransID 
	UNION ALL
	SELECT 1 AS RecType,
		CASE @SortBy WHEN 0 THEN h.BankID WHEN 1 THEN h.TransID ELSE b.GlCashAcct END AS SortOrder1,
		CASE @SortBy WHEN 0 THEN h.TransID ELSE h.BankID END  AS SortOrder2,
		CASE @SortBy WHEN 0 THEN b.GlCashAcct WHEN 1 THEN b.GlCashAcct ELSE h.TransID END AS SortOrder3,
		h.BankID, h.TransID, h.SourceID,
	
		CASE WHEN TransType * Amount < 0 THEN ABS(Amount) ELSE 0 END AS CrAmount,


		CASE WHEN TransType * Amount >= 0 THEN ABS(Amount) ELSE 0 END AS DrAmount,

		0 AS EntryNum, NULL AS GLAcct, 0 AS DebitAmt, 0 AS CreditAmt,NULL AS DescrDtl, NULL AS ReferenceDtl,
		h.CurrencyId, b.GlCashAcct AS GlAcctHdr, h.Descr AS DescrHdr, h.Reference AS ReferenceHdr 
	FROM #tmpAdjustmentList t 
		INNER JOIN dbo.tblBrRecurHeader h ON t.TransId = h.TransId 
		INNER JOIN  dbo.tblSmBankAcct b ON h.BankId = b.BankId  )ds

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrRecurringAdjustmentsList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrRecurringAdjustmentsList_proc'
GO
