USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_Pa941Prompt_Assign_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_Pa941Prompt_Assign_proc]  
AS  
BEGIN TRY  

	UPDATE p
	SET p.[Value] = t.[Value]
	FROM dbo.tblPa941Prompt p
	INNER JOIN #tmpWorksheet t ON p.PaQuarter = t.PaQuarter AND p.PaYear = t.PaYear AND p.[Key] = t.[Key]

	INSERT INTO dbo.tblPa941Prompt(Id, PaYear, PaQuarter, [Key], [Value])
	SELECT t.Id, t.PaYear, t.PaQuarter, t.[Key], t.[Value]
	FROM #tmpWorksheet t
	LEFT JOIN dbo.tblPa941Prompt p ON p.PaQuarter = t.PaQuarter AND p.PaYear = t.PaYear AND p.[Key] = t.[Key]
	WHERE p.Id IS NULL
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_Pa941Prompt_Assign_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_Pa941Prompt_Assign_proc'
GO
