USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoImportProcess_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoImportProcess_proc]
   @ImportBatchId nvarchar(14) ='',
   @FileSeq int=0
AS

	SET NOCOUNT ON  
	          
	BEGIN TRY

	DECLARE @i int,
			@key1 nvarchar(50),
			@key2 nvarchar(50),
			@key3 nvarchar(50),
			@key4 nvarchar(50),
			@key5 nvarchar(50),
			@key1Save nvarchar(50),
			@key2Save nvarchar(50),
			@key3Save nvarchar(50),
			@key4Save nvarchar(50),
			@key5Save nvarchar(50),
			@key1Seq int,
			@key2Seq int,
			@key3Seq int,
			@key4Seq int,
			@key5Seq int,
			@cImportBatchId nvarchar(14),
			@cImportBatchIdSave nvarchar(14),
			@cFileSeq int,
			@cFileSeqSave int,
			@CaptionsIncludedYN bit,
			@DocId bigint,
			@EdiDocNum nvarchar(3)


	SET  @CaptionsIncludedYN=0


	SELECT @DocId = Id, @EdiDocNum=ISNULL(EdiDocNum,'')
	FROM tblEcDocument 
	WHERE DocId='850-I'

	CREATE TABLE #tSeq(AutoId int IDENTITY(1,1),ImportBatchId nvarchar(14),FileSeq int, RecSeq int, TempTblKey int, KeyLevel int, Key1 nvarchar(100),Key2 nvarchar(100),Key3 nvarchar(100),Key4 nvarchar(100),Key5 nvarchar(100),Seq1 int, Seq2 int, Seq3 int,Seq4 int,Seq5 int)
   
	CREATE TABLE #tKey(TempTblKey int,KeyLevel int)

	IF @CaptionsIncludedYN=1 
		DELETE FROM tblEcTempImport 
		WHERE RecSeq=1 AND ((ImportBatchId=@ImportBatchId) OR ISNULL(@ImportBatchId,'')='') AND (FileSeq=@FileSeq OR @FileSeq=0)


	-- drop table #tSeq
	INSERT INTO #tSeq(ImportBatchId,FileSeq,RecSeq,TempTblKey,Key1,Key2,Key3,Key4,Key5)
	SELECT DISTINCT ImportBatchId,FileSeq,RecSeq,Id,Fld01+'^'+Fld04+'^'+ISNULL(Fld14,'') Key1, Id Key2,'' Key3,'' Key5,'' Key5
	FROM tblEcTempImport 
	WHERE DocId=@DocId  AND ((ImportBatchId=@ImportBatchId) OR ISNULL(@ImportBatchId,'')='') AND (FileSeq=@FileSeq OR @FileSeq=0)
	ORDER BY ImportBatchId,FileSeq,RecSeq

	SELECT @i=1,
			@key1Save='^',
			@key2Save='^',
			@key3Save='^',
			@key4Save='^',
			@key5Save='^',
			@key1Seq=0,
			@key2Seq=0,
			@key3Seq=0,
			@key4Seq=0,
			@key5Seq=0,
			@cImportBatchId='',
			@cImportBatchIdSave='',
			@cFileSeq = 0,
			@cFileSeqSave = 0

  

	WHILE @i<=(SELECT MAX(AutoId) FROM #tSeq)
	BEGIN
		SELECT @cImportBatchId=ImportBatchid,@cFileSeq=FileSeq,@key1=Key1,@key2=Key2,@key3=Key3,@key4=Key4,@key5=Key5
		FROM #tSeq 
		WHERE AutoId=@i

		IF @cImportBatchId<>@cImportBatchIdSave 
		BEGIN
		SELECT @key1Save='^'
		SELECT @key1Seq=MAX(KeyLevelSeq1) FROM tblEcPoHeader WHERE ImportBatchId=@ImportBatchId
		SELECT @key1Seq=ISNULL(@key1Seq,0)+1
		SET @cImportBatchIdSave=@cImportBatchId
		END
	
		IF ISNULL(@key1,'')<>@key1Save OR @cFileSeq<>@cFileSeqSave
		BEGIN
		SET @key1Seq=@key1Seq+1
		SET @key1Save=ISNULL(@key1,'')
		SET @cFileSeqSave=@cFileSeq
		SELECT @key2Save='^',@key2Seq=0
		END

		IF ISNULL(@key2,'')<>@key2Save
		BEGIN
		SET @key2Seq=@key2Seq+1
		SET @key2Save=ISNULL(@key2,'')

		SELECT @key3Save='^',@key3Seq=0
		END

		IF ISNULL(@key3,'')<>@key3Save
		BEGIN
		SET @key3Seq=@key3Seq+1
		SET @key3Save=ISNULL(@key3,'')

		SELECT @key4Save='^',@key4Seq=0
		END
	  
		UPDATE #tSeq SET Seq1=@key1Seq,Seq2=@key2Seq,Seq3=@key3Seq,Seq4=@key4Seq
		WHERE AutoId=@I

		SET @i=@i+1 
	END

	INSERT INTO #tKey(TempTblKey,KeyLevel)
	SELECT MIN(TempTblKey),1
	FROM #tSeq s
	GROUP BY ImportBatchId,Seq1

	INSERT INTO #tKey(TempTblKey,KeyLevel)
	SELECT MIN(TempTblKey),2
	FROM #tSeq s
	GROUP BY ImportBatchId,Seq1,Seq2

	--Generate Mail Control ID
	DECLARE @maxMailControlId bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

	INSERT INTO tblEcMailControl(Id, ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,SenderID)--,SendDate,SendTime)
	SELECT @maxMailControlId + ROW_NUMBER() over (ORDER BY i.ImportBatchId,s.Seq1), i.ImportBatchId,s.Seq1,'' AS PartnerId,@DocId,@EdiDocNum,Fld04,Fld01
	FROM tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey 
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	WHERE k.KeyLevel=1
	
	--Generate PO Header ID
	DECLARE @maxPoHeaderId bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

	INSERT INTO tblEcPoHeader(Id, ImportBatchId,KeyLevelSeq1,ImportDate,SenderID,CustAcctType,PoDate,CustPoNum,OrderRef,
                            EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
                            EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
							CarrierCode,CarrierName,FreightAmt,TrackingNum,SalesTaxAmt,PaymentMethod,PaymentAmt,PaymentAuthCode,OrderNotes,
							TotalPoLines)
	SELECT @maxPoHeaderId + ROW_NUMBER() over (ORDER BY i.ImportBatchId, s.Seq1, i.ImportDate, Fld01, Fld03, Fld02), i.ImportBatchId,s.Seq1 KeyLevelSeq1 ,i.ImportDate,Fld01 SenderID,Fld02 CustAcctType,NULLIF(Fld03,'') PoDate,Fld04 CustPoNum,Fld05 OrderRef,
                            Fld06 EDIBillToCode,Fld07 BillToName,Fld08 BillToAddr1,Fld09 BillToAddr2,Fld10 BillToCity,Fld11 BillToRegion,Fld12 BillToCountry,Fld13 BillToPostalCode,
                            Fld14 EDIShipToCode,Fld15 ShipToName,Fld16 ShipToAddr1,Fld17 ShipToAddr2,Fld18 ShipToCity,Fld19 ShipToRegion,Fld20 ShipToCountry,Fld21 ShipToPostalCode,
							Fld22 CarrierCode,Fld23 CarrierName,ISNULL(NULLIF(Fld24,''),0) FreightAmt,Fld25 TrackingNum,ISNULL(NULLIF(Fld26,''),0) SalesTaxAmt,Fld27 PaymentMethod,ISNULL(NULLIF(Fld28,''),0) PaymentAmt,Fld29 PaymentAuthCode,Fld30 OrderNotes,
							ISNULL(NULLIF(Fld63,''),0) TotalPoLines
	FROM tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	WHERE k.KeyLevel=1

	--Generate PO SAC ID
	DECLARE @lastPoSacID bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

	-- Header SAC 1
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId,s.Seq1,Fld32,Fld33)) as ID, h.ID AS POHeaderID, NULL AS PODetailID, Fld32 SACCod ,Fld33 SACDescr,1 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld31,'')='C' OR ISNULL(fld31,'')='1' THEN  1 ELSE -1 END SACIndicator,CASE WHEN ISNULL(Fld34,'')='' THEN '0' ELSE Fld34 END SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey 
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	WHERE k.KeyLevel=1 AND ISNULL(fld32,'')<>''

	--Increase ID with # of Records generated for the Header SAC 1
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	-- Header SAC 2
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId,s.Seq1,Fld36,Fld37)) as ID, h.ID AS POHeaderID, NULL AS PODetailID,Fld36 SACCod ,Fld37 SACDescr,2 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld35,'')='C' OR ISNULL(fld35,'')='1' THEN  1 ELSE -1 END SACIndicator, CASE WHEN ISNULL(Fld38,'')='' THEN '0' ELSE Fld38 END  SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	WHERE k.KeyLevel=1 AND ISNULL(Fld36,'')<>''
	
	--Increase ID with # of Records generated for the Header SAC 2
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	-- Header SAC 3
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId,s.Seq1,Fld40,Fld41)) as ID, h.ID AS POHeaderID,NULL AS PODetailID,Fld40 SACCod ,Fld41 SACDescr,3 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld39,'')='C' OR ISNULL(fld39,'')='1' THEN  1 ELSE -1 END SACIndicator,  CASE WHEN ISNULL(Fld42,'')='' THEN '0' ELSE Fld42 END  SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	WHERE k.KeyLevel=1 AND ISNULL(Fld40,'')<>''
	
	--Generate PO Detail ID
	DECLARE @maxPoDetailId bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100

	INSERT INTO dbo.tblEcPoDetail(Id, POHeaderID, KeyLevelSeq2,CustPoNum,PoLineNum,
                                EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                                ItemUir,ItemDescr,QtyOrd,POUnitsSell,UnitPrice,RetailPrice,RequestedDate,
                                ItemVendorCompanyCode,ItemVendorCompanyName)
	SELECT @maxPoDetailId + ROW_NUMBER() over (ORDER BY h.Id, s.Seq1, s.Seq2, Fld03, Fld13, Fld05), h.Id,s.Seq2 KeyLevelSeq2,Fld04 CustPoNum,CASE WHEN ISNULL(NULLIF(fld62,''),0)=0 THEN Fld43 ELSE fld62 END PoLineNum,
                                Fld14 EDIShipToCode,Fld15 ShipToName,Fld16 ShipToAddr1,Fld17 ShipToAddr2,Fld18 ShipToCity,Fld19 ShipToRegion,Fld20 ShipToCountry,Fld21 ShipToPostalCode,
							    Fld44 ItemUir,Fld45 ItemDescr,ISNULL(NULLIF(fld46,''),0) QtyOrd, Fld48 POUnitsSell,ISNULL(NULLIF(fld47,''),0)  UnitPrice,0 RetailPrice, NULLIF(fld49,'') RequestedDate,
							    ISNULL(Fld65,'') ItemVendorCompanyCode,ISNULL(Fld66,'') ItemVendorCompanyName
	FROM tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN tblEcPoHeader h ON h.ImportBatchId = i.ImportBatchId AND h.KeyLevelSeq1 = s.Seq1
	WHERE k.KeyLevel=2

	--Increase ID with # of Records generated for the Header SAC 3
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	-- Detail SAC 1
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId, s.Seq1, s.Seq2, Fld51, Fld52)) as ID, h.ID AS POHeaderID, d.ID AS PODetailID,Fld51 SACCod ,Fld52 SACDescr,1 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld50,'')='C' THEN  1 ELSE -1 END SACIndicator, CASE WHEN ISNULL(Fld53,'')='' THEN '0' ELSE Fld53 END SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID AND d.KeyLevelSeq2 = s.Seq2
	WHERE k.KeyLevel=2 AND ISNULL(fld51,'')<>''
	
	--Increase ID with # of Records generated for the Detail SAC 1
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	-- Detail SAC 2
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId, s.Seq1, s.Seq2, Fld55, Fld56)) as ID, h.ID AS POHeaderID, d.ID AS PODetailID,Fld55 SACCod ,Fld56 SACDescr,2 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld54,'')='C' THEN  1 ELSE -1 END SACIndicator, CASE WHEN ISNULL(Fld57,'')='' THEN '0' ELSE Fld57 END  SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID AND d.KeyLevelSeq2 = s.Seq2
	WHERE k.KeyLevel=2 AND ISNULL(fld55,'')<>''
	
	--Increase ID with # of Records generated for the Detail SAC 2
	SET @lastPoSacID = @lastPoSacID + (SELECT COUNT(*) FROM dbo.tblEcPoSAC WHERE ID >= @lastPoSacID)

	-- Detail SAC 3
	INSERT INTO dbo.tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount)
	SELECT (@lastPoSacID + ROW_NUMBER() OVER (ORDER BY i.ImportBatchId, s.Seq1, s.Seq2, Fld59, Fld60)) as ID, h.ID AS POHeaderID, d.ID AS PODetailID,Fld59 SACCod ,Fld60 SACDescr,3 SACSeq,0 ImpliedYN,CASE WHEN ISNULL(fld58,'')='C' THEN  1 ELSE -1 END SACIndicator, CASE WHEN ISNULL(Fld61,'')='' THEN '0' ELSE Fld61 END  SACAmount
	FROM dbo.tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey
	INNER JOIN #tKey k ON s.TempTblKey=k.TempTblKey
	INNER JOIN dbo.tblEcPoHeader h ON i.ImportBatchId = h.ImportBatchId AND s.Seq1 = h.KeyLevelSeq1
	INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID AND d.KeyLevelSeq2 = s.Seq2
	WHERE k.KeyLevel=2 AND ISNULL(fld59,'')<>''

	DELETE i
	FROM tblEcTempImport i
	INNER JOIN #tSeq s ON i.id=s.TempTblKey

	SELECT  (SELECT COUNT(*) FROM #tSeq) AS TotalRows, (SELECT COUNT(*) FROM #tKey WHERE KeyLevel=1) TotalKeys

END TRY          
BEGIN CATCH    
	EXEC dbo.trav_RaiseError_proc          
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportProcess_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportProcess_proc'
GO
