USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoAccrualVerificationView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoAccrualVerificationView_proc]   
@AccuralCutoffOption bit = 0, --Accural cutoff From option (0=by date/1=by fiscal period & fiscal year)      
@AccuralCutoffDate datetime ,  ---From Date     
@AccuralCutoffFiscalPeriod smallint, --From  GL Period  
@AccuralCutoffFiscalYear smallint ,--From  GL Year   
@AccuralCutoffOptionTo bit = 0, --Accural cutoff To option (0=by date/1=by fiscal period & fiscal year)      
@AccuralCutoffDateTo datetime ,  ---To Date     
@AccuralCutoffFiscalPeriodTo smallint, --To  GL Period     
@AccuralCutoffFiscalYearTo smallint, --To  GL Year  
@IncludeUnpostedReceiptsInvoices bit = 0 -- Boolean  whether to Include Active Receipts/Invoices  
AS  
  
SET NOCOUNT ON          
BEGIN TRY 
CREATE TABLE #PoRcpt  
(  
 [ReceiptID] uniqueidentifier,   
 [TransId] nvarchar(8) NOT NULL,  
 [EntryNum] int NOT NULL,   
 [UnitCost] Decimal(28,10) DEFAULT(0) NULL,   
 [QtyFilled] Decimal(28,10) DEFAULT(0) NULL,  
 [ExtCost] Decimal(28,10) DEFAULT(0) NULL,  
 [ReceiptDate] datetime NULL,  
 [GlPeriod] smallint DEFAULT(0) NULL,  
 [FiscalYear] smallint DEFAULT(0) NULL,  
 [SourceType] tinyint NULL,  
 [PostRun] nvarchar(14) NULL  
)  
CREATE TABLE #PoInvc  
(  
[InvoiceID] uniqueidentifier,  
[TransId] nvarchar(8) NOT NULL,  
[EntryNum] int NOT NULL,   
[Qty] Decimal(28,10) DEFAULT(0) NULL,  
[UnitCost] Decimal(28,10) DEFAULT(0) NULL,   
[ExtCost] Decimal(28,10) DEFAULT(0) NULL,  
[InvcDate] datetime NULL,  
[GLPeriod] smallint DEFAULT(0) NULL,  
[FiscalYear] smallint DEFAULT(0) NULL  ,
[SourceType] tinyint NULL,  
[PostRun] nvarchar(14) NULL  
)  
          
 CREATE TABLE #PoAccrualRpt          
 (          
  TransID nvarchar(8) NOT NULL,           
  BatchId nvarchar(6) NULL,           
  TransType smallint NULL,           
  VendorId nvarchar(10) NULL,           
  VendorName nvarchar(30) NULL,           
  EntryNum int NOT NULL,           
  ItemId nvarchar(24) NULL,           
  GLAcctAccrual [nvarchar](255) NULL,          
  GLAcctAccrualAp [nvarchar](255) NULL,          
  Descr [nvarchar](255) NULL,           
  Units nvarchar(5) NULL,           
  UnitCost Decimal(28,10) DEFAULT(0) NULL,           
  RcptQty Decimal(28,10) DEFAULT(0) NULL,           
  AccruedQty Decimal(28,10) DEFAULT(0) NULL,           
  InvcQtyPstd Decimal(28,10) DEFAULT(0) NULL,           
  AccruedAmt Decimal(28,10) DEFAULT(0) NULL,           
  LandedCost Decimal(28,10) NULL,          
  ExpReceiptDate datetime NULL ,  
  SourceType tinyint NULL,  
  PostRun nvarchar(14) NULL,  
  UniquePostRun nvarchar(400) NOT NULL--Unique PostRun for Both Active and History Records
  PRIMARY KEY (TransID, EntryNum,UniquePostRun)           
 )   
 INSERT INTO #PoRcpt([ReceiptID],  [TransId] , [EntryNum] , [UnitCost] , [QtyFilled] , [ExtCost] , [ReceiptDate], [GlPeriod] , [FiscalYear],[SourceType],[PostRun])  
   
 SELECT r.ReceiptID,r.TransId,r.EntryNum,r.UnitCost,r.QtyFilled,r.ExtCost,tr.ReceiptDate,tr.GlPeriod,tr.FiscalYear,0 ,null   
 FROM  #tmpTransDetailList d   
 INNER JOIN  dbo.tblPoTransLotRcpt r  ON d.[TransId] = r.TransId AND d.EntryNum = r.EntryNum                
 INNER JOIN  dbo.tblPoTransReceipt tr ON r.TransId = tr.TransId AND r.RcptNum = tr.ReceiptNum   
 WHERE d.Source=0 AND ((tr.ReceiptDate >= @AccuralCutoffDate AND @AccuralCutoffOption = 0)       
  OR     
  ((tr.FiscalYear * 1000 + tr.GlPeriod >= @AccuralCutoffFiscalYear * 1000 + @AccuralCutoffFiscalPeriod) AND @AccuralCutoffOption = 1))  
   AND   
  ((tr.ReceiptDate <= @AccuralCutoffDateTo AND @AccuralCutoffOptionTo = 0)       
  OR     
     ((tr.FiscalYear * 1000 + tr.GlPeriod <= @AccuralCutoffFiscalYearTo * 1000 + @AccuralCutoffFiscalPeriodTo) AND @AccuralCutoffOptionTo = 1))  
   AND (@IncludeUnpostedReceiptsInvoices = 1 AND r.Status IN (0,1) OR (@IncludeUnpostedReceiptsInvoices = 0 AND r.Status = 1))  

 UNION ALL  
  
 SELECT r.ReceiptID,r.TransId,r.EntryNum,r.UnitCost,r.QtyFilled,r.ExtCost,tr.ReceiptDate,tr.GlPeriod,tr.FiscalYear ,1,tr.PostRun  
 FROM  #tmpTransDetailList d       
 INNER JOIN  dbo.tblPoHistLotRcpt r  ON d.[TransId] = r.TransId AND d.EntryNum = r.EntryNum  AND d.PostRun=r.PostRun           
 INNER JOIN  dbo.tblPoHistReceipt tr ON r.TransId = tr.TransId AND r.RcptNum = tr.ReceiptNum  AND r.PostRun=tr.PostRun
 WHERE d.Source=1 AND  ((tr.ReceiptDate >= @AccuralCutoffDate AND @AccuralCutoffOption = 0)       
  OR     
  ((tr.FiscalYear * 1000 + tr.GlPeriod >= @AccuralCutoffFiscalYear * 1000 + @AccuralCutoffFiscalPeriod) AND @AccuralCutoffOption = 1))  
   AND   
  ((tr.ReceiptDate <= @AccuralCutoffDateTo AND @AccuralCutoffOptionTo = 0)       
  OR     
     ((tr.FiscalYear * 1000 + tr.GlPeriod <= @AccuralCutoffFiscalYearTo * 1000 + @AccuralCutoffFiscalPeriodTo) AND @AccuralCutoffOptionTo = 1))  
  
INSERT INTO  #PoInvc([InvoiceID],[TransId] , [EntryNum] ,[Qty],[UnitCost],[ExtCost],[InvcDate],[GLPeriod],[FiscalYear],[SourceType],[PostRun])  
SELECT i.InvoiceID,i.TransID,i.EntryNum,i.Qty,i.UnitCost,i.ExtCost, ti.InvcDate,ti.GLPeriod,ti.FiscalYear,0,NULL FROM
  #tmpTransDetailList d   
 INNER JOIN  dbo.tblPoTransInvoice i  ON d.[TransId] = i.TransId AND d.EntryNum = i.EntryNum                
 INNER JOIN  dbo.tblPoTransInvoiceTot ti ON i.TransId = ti.TransId AND i.InvoiceNum = ti.InvcNum   
WHERE d.Source=0 AND  ((ti.InvcDate >= @AccuralCutoffDate AND @AccuralCutoffOption = 0)       
   OR     
  ((ti.FiscalYear * 1000 + ti.GlPeriod >= @AccuralCutoffFiscalYear * 1000 + @AccuralCutoffFiscalPeriod) AND @AccuralCutoffOption = 1))  
  AND   
  ((ti.InvcDate <= @AccuralCutoffDateTo AND @AccuralCutoffOptionTo = 0)       
  OR     
  ((ti.FiscalYear * 1000 + ti.GlPeriod <= @AccuralCutoffFiscalYearTo * 1000 + @AccuralCutoffFiscalPeriodTo) AND @AccuralCutoffOptionTo = 1))  
   AND (@IncludeUnpostedReceiptsInvoices = 1 AND i.Status IN (0,1) OR (@IncludeUnpostedReceiptsInvoices = 0 AND i.Status = 1))  
UNION ALL  
  
SELECT i.InvoiceID,i.TransID,i.EntryNum,i.Qty,i.UnitCost,i.ExtCost, ti.InvcDate,ti.GLPeriod,ti.FiscalYear,1,ti.PostRun FROM  #tmpTransDetailList d   
  INNER JOIN  dbo.tblPoHistInvoice i  ON d.[TransId] = i.TransId AND d.EntryNum = i.EntryNum   AND d.PostRun=i.PostRun            
  INNER JOIN  dbo.tblPoHistInvoiceTot ti ON i.TransId = ti.TransId AND i.InvoiceNum = ti.InvcNum AND i.PostRun=ti.PostRun    
WHERE d.Source=1 AND  ((ti.InvcDate >= @AccuralCutoffDate AND @AccuralCutoffOption = 0)       
   OR     
  ((ti.FiscalYear * 1000 + ti.GlPeriod >= @AccuralCutoffFiscalYear * 1000 + @AccuralCutoffFiscalPeriod) AND @AccuralCutoffOption = 1))  
  AND   
  ((ti.InvcDate <= @AccuralCutoffDateTo AND @AccuralCutoffOptionTo = 0)       
  OR     
  ((ti.FiscalYear * 1000 + ti.GlPeriod <= @AccuralCutoffFiscalYearTo * 1000 + @AccuralCutoffFiscalPeriodTo) AND @AccuralCutoffOptionTo = 1))  
  
  --Note:If Invoice Qty is more, use the Invoice Unit Cost as they contribute mostly to the Qty Else Rcpt Unit Cost for the Accrued Amount
 INSERT INTO #PoAccrualRpt (TransID,BatchId,TransType,VendorId,EntryNum,ItemId,Descr,Units,LandedCost,VendorName,          
  RcptQty,AccruedQty,InvcQtyPstd,UnitCost,GLAcctAccrual,GLAcctAccrualAp,ExpReceiptDate,SourceType,PostRun,UniquePostRun)    
  
 SELECT h.TransID,h.BatchId,h.TransType,h.VendorId,d.EntryNum,d.ItemId,d.Descr,d.Units,COALESCE(l.Amount,l.PostedAmount,0),v.[Name],        
  ISNULL(rcpt.RcptQty,0),
  CASE WHEN  h.TransType > 0  THEN ISNULL(rcpt.RcptQty,0)-ISNULL(invc.InvcQty,0) Else ISNULL(invc.InvcQty,0)-ISNULL( rcpt.RcptQty,0) END AS AccruedQty,
  ISNULL(invc.InvcQty,0), 
  CASE WHEN ISNULL(rcpt.RcptQty,0)- ISNULL(invc.InvcQty,0) >= 0 THEN rcpt.UnitCost ELSE invc.UnitCost END AS UnitCost, 
  d.GLAcctAccrual, 
  c.AccrualGLAcct,    
  ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate,
  ISNULL(rcpt.SourceType,invc.SourceType),
  ISNULL(rcpt.PostRun,invc.PostRun),
  CAST(NEWID() AS nvarchar(400)) AS UniquePostRun        
 FROM #tmpTransDetailList lt 
  INNER JOIN dbo.tblPoTransDetail d   ON lt.TransId = d.TransId AND lt.EntryNum = d.EntryNum  AND lt.Source=0
  INNER JOIN dbo.tblPoTransHeader h ON d.TransId = h.TransId         
  INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId         
  INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode        
  LEFT JOIN (SELECT u.TransId,u.EntryNum,SUM(v.Amount) Amount,SUM(v.PostedAmount) PostedAmount        
    FROM dbo.tblPoTransLotRcpt u INNER JOIN dbo.tblPoTransReceiptLandedCost v ON u.ReceiptID = v.ReceiptID         
    GROUP BY u.TransId,u.EntryNum) l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum     
  LEFT JOIN   
     (  
		SELECT r.TransId,r.EntryNum,Sum(r.QtyFilled) AS RcptQty,
		CASE WHEN SUM(r.QtyFilled) <> 0 THEN SUM(r.ExtCost) / SUM(r.QtyFilled) ELSE 0 END AS UnitCost,
		r.SourceType,r.PostRun from #PoRcpt r 
		WHERE r.SourceType=0 GROUP BY r.TransId,r.EntryNum,r.SourceType,r.PostRun  
	 ) rcpt ON d.TransID=rcpt.TransId AND d.EntryNum=rcpt.EntryNum   
  LEFT JOIN   
     (  
		SELECT i.TransId,i.EntryNum,SUM(i.Qty) AS InvcQty,
		CASE WHEN SUM(i.qty) <> 0 THEN SUM(i.ExtCost) / SUM(i.qty) ELSE 0 END AS UnitCost,i.SourceType,i.PostRun  FROM  #PoInvc i 
		WHERE i.SourceType=0
		GROUP BY i.TransId,i.EntryNum ,i.SourceType,i.PostRun  
	 ) invc ON d.TransID=invc.TransId AND d.EntryNum=invc.EntryNum   
 WHERE h.TransType <> 0  AND  lt.Source=0
   
 UNION ALL  
  
 SELECT h.TransID,h.BatchId,h.TransType,h.VendorId,d.EntryNum,d.ItemId,d.Descr,d.Units,ISNULL(l.PostedAmount,0),v.[Name],        
  ISNULL(rcpt.RcptQty,0),
  CASE WHEN  h.TransType > 0  THEN ISNULL(rcpt.RcptQty,0)-ISNULL(invc.InvcQty,0) Else ISNULL(invc.InvcQty,0)-ISNULL( rcpt.RcptQty,0) END AS AccruedQty,
  ISNULL(invc.InvcQty,0), 
  CASE WHEN ISNULL(rcpt.RcptQty,0)- ISNULL(invc.InvcQty,0) >= 0 THEN rcpt.UnitCost ELSE invc.UnitCost END AS UnitCost,  
  d.GLAcctAccrual, c.AccrualGLAcct ,    
  ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate,ISNULL(rcpt.SourceType,invc.SourceType ),ISNULL(rcpt.PostRun,invc.PostRun),COALESCE(rcpt.PostRun,invc.PostRun,CAST(NEWID() AS nvarchar(400)) )        
  FROM #tmpTransDetailList lh 
   INNER JOIN dbo.tblPoHistDetail d   ON lh.TransId = d.TransId AND lh.EntryNum = d.EntryNum  AND   lh.PostRun=d.PostRun 
   INNER JOIN dbo.tblPoHistHeader h ON d.TransId = h.TransId   AND   d.PostRun=h.PostRun       
   INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId         
   INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode         
  LEFT JOIN (SELECT u.TransId,u.EntryNum, SUM(v.Amount) Amount, SUM(v.PostedAmount) PostedAmount        
    FROM dbo.tblPoHistLotRcpt u INNER JOIN dbo.tblPoHistReceiptLandedCost v ON u.ReceiptID = v.ReceiptID         
    GROUP BY u.TransId,u.EntryNum) l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum     
  LEFT JOIN   
     (  
		SELECT r.TransId,r.EntryNum,Sum(r.QtyFilled) AS RcptQty,
		CASE WHEN SUM(r.QtyFilled) <> 0 THEN SUM(r.ExtCost) / SUM(r.QtyFilled) ELSE 0 END AS UnitCost,
		r.SourceType,r.PostRun from #PoRcpt r WHERE r.SourceType=1 GROUP BY r.TransId,r.EntryNum,r.SourceType,r.PostRun  
     ) rcpt ON d.TransID=rcpt.TransId AND d.EntryNum=rcpt.EntryNum  AND d.PostRun=rcpt.PostRun 
  LEFT JOIN   
     (  
		SELECT i.TransId,i.EntryNum,SUM(i.Qty) AS InvcQty,
		CASE WHEN SUM(i.qty) <> 0 THEN SUM(i.ExtCost) / SUM(i.qty) ELSE 0 END AS UnitCost ,i.SourceType,i.PostRun
		FROM  #PoInvc i WHERE i.SourceType=1 GROUP BY i.TransId,i.EntryNum,i.SourceType,i.PostRun    
     ) invc ON d.TransID=invc.TransId AND d.EntryNum=invc.EntryNum AND d.PostRun=invc.PostRun 
 WHERE h.TransType <> 0  AND lh.Source=1

 SELECT a.TransID,a.BatchId,a.TransType,a.VendorId,a.EntryNum,a.ItemId,a.Descr,a.Units,a.LandedCost,a.VendorName,          
 a.RcptQty,a.AccruedQty,a.InvcQtyPstd,a.UnitCost,(a.AccruedQty * a.UnitCost) AS AccruedAmt, a.GLAcctAccrual,ExpReceiptDate ,a.SourceType,a.PostRun          
 FROM #PoAccrualRpt a   
 WHERE a.AccruedQty <> 0 --Should handle negative accrual also .     
 ORDER BY TransID,EntryNum  
        
END TRY          
BEGIN CATCH          
 EXEC dbo.trav_RaiseError_proc          
END CATCH                  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoAccrualVerificationView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoAccrualVerificationView_proc'
GO
