USE [005]
GO
/****** Object:  StoredProcedure [dbo].[Web_ApAgedTrialBalanceReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Web_ApAgedTrialBalanceReport_proc]
@ReportCurrency pCurrency = NULL, 
@BaseCurrency pCurrency = 'USD',
@AgeBy tinyint = 0, -- 0, Invoice Date; 1, Due Date
@TransactionCutoffOption tinyint = 0, --Transaction cutoff option (0=by date/1=by gl period & fiscal year) 
@TransactionCutoffDate datetime = '20081204', 
@TransactionCutoffGlPeriod smallint = 12,
@TransactionCutoffFiscalYear smallint = 2008,
@PaymentCutoffDate datetime = '20081104',
@PaymentCutoffGlPeriod smallint = 11,
@PaymentCutoffFiscalYear smallint = 2008,
@PaymentCutoffOption tinyint = 0, --Payment cutoff option (0=by date/1=by gl period & fiscal year)
@AgingDate datetime = '20081204', 
@PastDueDate1 datetime = '20081104', 
@PastDueDate2 datetime = '20081005', 
@PastDueDate3 datetime = '20080905', 
@PastDueDate4 datetime = '20080806',
@PastDue bit = 0


AS
BEGIN TRY

	DECLARE @Site varchar(3) = '005'

	CREATE TABLE #ApAgedTrialBal
	(
	 Site varchar(3) NOT NULL,
	 VendorId pVendorId NOT NULL,
	 VendDistCode pDistcode, 
	 City nvarchar(30),
	 Region nvarchar(10),
	 Country pCountry,
	 VendorClass nvarchar(6), 
	 Phone nvarchar(15),
	 InvoiceNum pInvoiceNum,
	 Status Tinyint,
	 InvcDate Datetime,
	 GrossAmtDue pDecimal NULL DEFAULT(0),
	 PriorityCode nvarchar(1),
	 AmtFuture pDecimal NULL DEFAULT(0),
	 AmtCurrent pDecimal NULL DEFAULT(0), 
	 AmtDue1 pDecimal  NULL DEFAULT(0),
	 AmtDue2 pDecimal  NULL DEFAULT(0),
	 AmtDue3 pDecimal  NULL DEFAULT(0),
	 AmtDue4 pDecimal  NULL DEFAULT(0),
	 Type nchar(3),
	 NetDueDate Datetime,
	 DiscDueDate Datetime,
	 CheckNum pCheckNum,
	 CheckDate Datetime,
	 DiscAmt pDecimal  NULL DEFAULT(0),
	 CurrencyID pCurrency, 
	 DistCode pDistcode
	 )

-- Open Invoice 
	INSERT INTO #ApAgedTrialBal(Site, VendorId, VendDistCode, City, Region, Country, VendorClass, Phone, 
		InvoiceNum, [Status], InvcDate, GrossAmtDue, PriorityCode, AmtFuture, AmtCurrent, AmtDue1, AmtDue2, 
		AmtDue3, AmtDue4, [Type], NetDueDate, DiscDueDate, CheckNum, CheckDate, DiscAmt,CurrencyID, DistCode)
	SELECT @Site, v.VendorID,v.DistCode,v.City,v.Region,v.Country,v.VendorClass,v.Phone,
		i.InvoiceNum,i.Status, i.InvoiceDate,
		CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END ,v.PriorityCode,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) > @AgingDate THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate1 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) <= @AgingDate  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate2 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate1  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate3 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate2  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate4 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate3  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate4 THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) 
			  END) ELSE 0 END,
		CASE WHEN i.BaseGrossAmtDue < 0 THEN 'Deb' ELSE 'Inv' END, 
		i.NetDueDate, i.DiscDueDate, i.CheckNum, i.CheckDate, 
		CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.DiscAmt
			  ELSE ROUND(i.DiscAmtFgn * et.Rate, et.CurrDecPlaces) 
			  END,
		ISNULL(@ReportCurrency, i.CurrencyID), i.DistCode 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON i.VendorID = v.VendorID 
		INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId
	WHERE i.Status < 3 
	 AND (((( i.VoidCreatedDate IS NOT NULL AND i.VoidCreatedDate < = @TransactionCutoffDate ) OR ( i.VoidCreatedDate IS NULL AND i.InvoiceDate < = @TransactionCutoffDate )) And @TransactionCutoffOption = 0) 
	  Or (i.FiscalYear * 1000 + i.GlPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod  And @TransactionCutoffOption = 1))
	 --AND (i.CurrencyId = @ReportCurrency)

	-- Check record for paid invoice with invoice date before transaction cutoff date and check date between payment cutoff date and transaction cutoff date.
	INSERT INTO #ApAgedTrialBal(Site, VendorId, VendDistCode, City, Region, Country, VendorClass, Phone, 
		InvoiceNum, [Status], InvcDate, GrossAmtDue, PriorityCode, AmtFuture, AmtCurrent, AmtDue1, AmtDue2, 
		AmtDue3, AmtDue4, [Type], NetDueDate, DiscDueDate, CheckNum, CheckDate, DiscAmt,CurrencyID, DistCode)
	SELECT @Site, v.VendorID,v.DistCode,v.City,v.Region,v.Country,v.VendorClass,v.Phone,
		i.InvoiceNum,i.Status,i.CheckDate, -1 *  (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ,v.PriorityCode,
		0,0,0,0,0,0, 'Pmt', 
		i.CheckDate, i.DiscDueDate, i.CheckNum, i.CheckDate, CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.DiscAmt
			  ELSE ROUND(i.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END,
			 ISNULL(@ReportCurrency, i.CurrencyID), i.DistCode 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON i.VendorID = v.VendorID 
		INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId
	WHERE i.Status IN (3,4) 
	 AND (((( i.VoidCreatedDate IS NOT NULL AND i.VoidCreatedDate < = @TransactionCutoffDate ) OR ( i.VoidCreatedDate IS NULL AND i.InvoiceDate < = @TransactionCutoffDate )) And @TransactionCutoffOption = 0) 
	  Or (i.FiscalYear * 1000 + i.GlPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod  And @TransactionCutoffOption = 1))
	 AND (((i.CheckDate >= @PaymentCutoffDate And @PaymentCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod >= @PaymentCutoffFiscalYear * 1000 + @PaymentCutoffGlPeriod And @PaymentCutoffOption = 1))
	  AND ((i.CheckDate <= @TransactionCutoffDate And @TransactionCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod And @TransactionCutoffOption = 1)))
	 --AND (i.CurrencyId = @ReportCurrency )

	-- Invoice record for paid invoice with invoice date before transaction cutoff date and check date between payment cutoff date and transaction cutoff date.
	INSERT INTO #ApAgedTrialBal(Site, VendorId, VendDistCode, City, Region, Country, VendorClass, Phone, 
		InvoiceNum, [Status], InvcDate, GrossAmtDue, PriorityCode, AmtFuture, AmtCurrent, AmtDue1, AmtDue2, 
		AmtDue3, AmtDue4, [Type], NetDueDate, DiscDueDate, CheckNum, CheckDate, DiscAmt,CurrencyID, DistCode)
	SELECT @Site,v.VendorID,v.DistCode,v.City,v.Region,v.Country,v.VendorClass,v.Phone,
		i.InvoiceNum,i.Status, i.InvoiceDate, (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ,v.PriorityCode,
		0,0,0,0,0,0, CASE WHEN i.BaseGrossAmtDue < 0 THEN 'Deb' ELSE 'Inv' END, 
		i.NetDueDate, i.DiscDueDate, i.CheckNum, i.CheckDate, CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.DiscAmt
			  ELSE ROUND(i.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END,
			  ISNULL(@ReportCurrency, i.CurrencyID), i.DistCode 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON i.VendorID = v.VendorID 
		INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId
	WHERE i.Status IN (3,4) 
	 AND (((( i.VoidCreatedDate IS NOT NULL AND i.VoidCreatedDate < = @TransactionCutoffDate ) OR ( i.VoidCreatedDate IS NULL AND i.InvoiceDate < = @TransactionCutoffDate )) And @TransactionCutoffOption = 0) 
	  Or (i.FiscalYear * 1000 + i.GlPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod  And @TransactionCutoffOption = 1))
	 AND (((i.CheckDate >= @PaymentCutoffDate And @PaymentCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod >= @PaymentCutoffFiscalYear * 1000 + @PaymentCutoffGlPeriod And @PaymentCutoffOption = 1))
	  AND ((i.CheckDate <= @TransactionCutoffDate And @TransactionCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod And @TransactionCutoffOption = 1)))
	 --AND (i.CurrencyId = @ReportCurrency )

	-- Invoice record for paid invoice with invoice date before transaction cutoff date and check date after transaction cutoff date.
	INSERT INTO #ApAgedTrialBal(Site, VendorId, VendDistCode, City, Region, Country, VendorClass, Phone, 
		InvoiceNum, [Status], InvcDate, GrossAmtDue, PriorityCode, AmtFuture, AmtCurrent, AmtDue1, AmtDue2, 
		AmtDue3, AmtDue4, [Type], NetDueDate, DiscDueDate, CheckNum, CheckDate, DiscAmt,CurrencyID, DistCode)
	SELECT @Site, v.VendorID,v.DistCode,v.City,v.Region,v.Country,v.VendorClass,v.Phone,
		i.InvoiceNum,0, i.InvoiceDate, 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ,v.PriorityCode,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) > @AgingDate THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate1 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) <= @AgingDate  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate2 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate1  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate3 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate2  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) >= @PastDueDate4 AND (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate3  THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN (CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END) < @PastDueDate4 THEN 
		(CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.BaseGrossAmtDue < 0 THEN 'Deb' ELSE 'Inv' END, 
		i.NetDueDate, i.DiscDueDate, i.CheckNum, i.CheckDate, CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.DiscAmt
			  ELSE ROUND(i.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END,
			  ISNULL(@ReportCurrency, i.CurrencyID), i.DistCode 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON i.VendorID = v.VendorID 
		INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId
	WHERE i.Status IN (3,4) 
	 AND (((( i.VoidCreatedDate IS NOT NULL AND i.VoidCreatedDate < = @TransactionCutoffDate ) OR ( i.VoidCreatedDate IS NULL AND i.InvoiceDate < = @TransactionCutoffDate )) And @TransactionCutoffOption = 0) 
	  Or (i.FiscalYear * 1000 + i.GlPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod  And @TransactionCutoffOption = 1))
	 AND ((i.CheckDate > @TransactionCutoffDate And @TransactionCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod > @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod And @TransactionCutoffOption = 1))
	 --AND (i.CurrencyId = @ReportCurrency)

	-- Check record for paid invoice with invoice date after transaction cutoff date and check date between payment cutoff date AND transaction cutoff date.
	INSERT INTO #ApAgedTrialBal(Site,VendorId, VendDistCode, City, Region, Country, VendorClass, Phone, 
		InvoiceNum, [Status], InvcDate, GrossAmtDue, PriorityCode, AmtFuture, AmtCurrent, AmtDue1, AmtDue2, 
		AmtDue3, AmtDue4, [Type], NetDueDate, DiscDueDate, CheckNum, CheckDate, DiscAmt,CurrencyID, DistCode)
	SELECT @Site,v.VendorID,v.DistCode,v.City,v.Region,v.Country,v.VendorClass,v.Phone,
		i.InvoiceNum,i.Status, i.CheckDate, 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ,v.PriorityCode,
		CASE WHEN i.CheckDate > @AgingDate THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.CheckDate >= @PastDueDate1 AND i.CheckDate <= @AgingDate  THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.CheckDate >= @PastDueDate2 AND i.CheckDate < @PastDueDate1  THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.CheckDate >= @PastDueDate3 AND i.CheckDate < @PastDueDate2  THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.CheckDate >= @PastDueDate4 AND i.CheckDate < @PastDueDate3  THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,
		CASE WHEN i.CheckDate < @PastDueDate4 THEN 
		-1 * (CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.BaseGrossAmtDue
			  ELSE ROUND(i.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END,'Pmt', 
		i.CheckDate, i.DiscDueDate, i.CheckNum, i.CheckDate, CASE WHEN ISNULL(@ReportCurrency, i.CurrencyId) = i.CurrencyId THEN i.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN i.DiscAmt
			  ELSE ROUND(i.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END,
			 ISNULL(@ReportCurrency, i.CurrencyID), i.DistCode 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON i.VendorID = v.VendorID 
		INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = 'APINVC' AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.Counter AND et.[Source] = i.CurrencyId
	WHERE i.Status IN (3,4) 
	 AND (((( i.VoidCreatedDate IS NOT NULL AND i.VoidCreatedDate > @TransactionCutoffDate ) OR ( i.VoidCreatedDate IS NULL AND i.InvoiceDate > @TransactionCutoffDate )) And @TransactionCutoffOption = 0) 
	  Or (i.FiscalYear * 1000 + i.GlPeriod > @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod  And @TransactionCutoffOption = 1))
	 AND (((i.CheckDate >= @PaymentCutoffDate And @PaymentCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod >= @PaymentCutoffFiscalYear * 1000 + @PaymentCutoffGlPeriod And @PaymentCutoffOption = 1))
	  AND ((i.CheckDate <= @TransactionCutoffDate And @TransactionCutoffOption = 0)
	  Or (i.CheckYear* 1000 + i.CheckPeriod <= @TransactionCutoffFiscalYear * 1000 + @TransactionCutoffGlPeriod And @TransactionCutoffOption = 1)))
	 --AND (i.CurrencyId = @ReportCurrency)
	 
	   IF  EXISTS (SELECT * FROM #ApAgedTrialBal t WHERE  t.GrossAmtDue IS NULL OR t.AmtFuture IS NULL OR t.AmtCurrent IS NULL OR t.AmtDue1 IS  NULL OR	t.AmtDue2 IS  NULL OR t.AmtDue3 IS  NULL OR	t.AmtDue4 IS  NULL OR t.DiscAmt IS  NULL)
	   	BEGIN
		RAISERROR(90027,16,1)
	END 

	IF @PastDue = 1 
		 SELECT a.*, l.Name as VendorName FROM #ApAgedTrialBal a inner join #tmpVendorList l on a.VendorId=l.VendorId WHERE a.VendorId IN
		 (SELECT i.VendorId FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i (NOLOCK) ON t.VendorID = i.VendorID 
			INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
			WHERE i.BaseGrossAmtDue > 0 AND Status <> 4 
			GROUP BY i.VendorId 
			HAVING MIN((CASE @AgeBy WHEN 0 THEN i.InvoiceDate ELSE i.NetDueDate END)) < @PastDueDate1)
	ELSE
	  SELECT a.*, l.Name as VendorName FROM #ApAgedTrialBal a inner join #tmpVendorList l on a.VendorId=l.VendorId
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
