USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvSiteEquipmentList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvSiteEquipmentList_proc]
@IncludeServiceDetail bit = 1, 
@IncludeWarrantyDetail bit = 1, 
@IncludeActivityDetail bit = 1, 
@IncludePartsList bit = 1, 
@IncludeKnowledgebaseDetail bit = 1

AS
BEGIN TRY
	SET NOCOUNT ON

-- creating temp table for testing (will remove once testing is completed)
--DROP TABLE #tmpSiteEquipmentList
--CREATE TABLE #tmpSiteEquipmentList(ID bigint NOT NULL PRIMARY KEY CLUSTERED (ID))
--INSERT INTO #tmpSiteEquipmentList (ID) SELECT ID FROM dbo.tblSvEquipment WHERE [Status] <> 2 AND SiteYN = 1 --{0}

	-- Site Equipment resultset
	SELECT tmp.ID, EquipmentNo, [Description], SerialNumber, TagNumber, CustID, SiteID
		, Manufacturer, Model, ItemID, CategoryID, [Status], Usage, [Ownership], GLAcctExpense, AssetID
		, AdditionalDescription 
	FROM #tmpSiteEquipmentList tmp 
		INNER JOIN dbo.tblSvEquipment e ON e.ID = tmp.ID

	-- Service resultset
	SELECT tmp.ID, EquipmentID, WorkToDoID, ScheduleType, ScheduleInterval
		, ScheduleAutoPrompt, ScheduleStartDate, ScheduleEndDate, ScheduleNextDate 
	FROM #tmpSiteEquipmentList tmp 
		INNER JOIN dbo.tblSvEquipmentService s ON s.EquipmentID = tmp.ID 
	WHERE @IncludeServiceDetail = 1

	-- Warranty resultset
	SELECT tmp.ID, EquipmentID, CoverageType, IntervalType, Interval, StartDate, EndDate 
	FROM #tmpSiteEquipmentList tmp 
		INNER JOIN dbo.tblSvEquipmentWarranty w ON w.EquipmentID = tmp.ID 
	WHERE @IncludeWarrantyDetail = 1

	-- Activity resultset
		SELECT tmp.ID, EquipmentID, [Type], [Description], SiteID, ContactID, ContactName, Address1, Address2
			, City, Region, Country, PostalCode, ShipDate, OrderNumber, Price, Phone, Fax, OrderDate, InvoiceDate
			, InvoiceNumber 
		FROM #tmpSiteEquipmentList tmp 
			INNER JOIN dbo.tblSvEquipmentActivity a ON a.EquipmentID = tmp.ID 
		WHERE @IncludeActivityDetail = 1

	-- Parts resultset
	SELECT e.ID, EquipmentID, PartNo, p.ItemID, p.[Description], PreferredVendor, Qty, EstimatedCost, LeadTime 
	FROM dbo.tblSvEquipment e 
		INNER JOIN dbo.tblSvEquipmentParts p ON p.EquipmentID = e.GeneralEquipmentID 
	WHERE @IncludePartsList = 1 AND e.ID IN (SELECT * FROM #tmpSiteEquipmentList)

	-- Knowledgebase resultset
	SELECT e.ID, EquipmentID, k.[Description], k.AdditionalDescription, Resolution, WorkOrderNo, EntryDate, EnteredBy 
	FROM dbo.tblSvEquipment e 
		INNER JOIN dbo.tblSvEquipmentKnowledgebase k ON k.EquipmentID = e.GeneralEquipmentID 
	WHERE @IncludeKnowledgebaseDetail = 1 AND e.ID IN (SELECT * FROM #tmpSiteEquipmentList)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvSiteEquipmentList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvSiteEquipmentList_proc'
GO
