USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidateReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidateReport_proc]
@ImportBatchId nvarchar(14) = '',    
@KeyLevelSeq1 int = 0,    
@PartnerId bigInt=0,    
@CustPoNum nvarchar (75) = '',
@TempTblName nvarchar(30)  = ''
  
AS
SET NOCOUNT ON
BEGIN TRY

DECLARE @SQL NVARCHAR(2000) 
CREATE TABLE #tmp(ID Bigint,ImportBatchId NVARCHAR(14), KeyLevelSeq1 INT,CustPoNum NVARCHAR(75))
    
IF ISNULL(@TempTblName,'')<>'' 
 BEGIN
	EXEC sp_executesql @SQL
 END
ELSE
 BEGIN
	INSERT INTO #tmp(ID,ImportBatchId,KeyLevelSeq1,CustPoNum)
	SELECT h.ID, h.ImportBatchId,h.KeyLevelSeq1,h.CustPoNum
	FROM  tblEcPoHeader h
    WHERE  (ISNULL(@ImportBatchId,'')='' OR ImportBatchId=@ImportBatchId)    
        AND (ISNULL(@KeyLevelSeq1,0)=0 OR KeyLevelSeq1=@KeyLevelSeq1)    
        AND (ISNULL(@PartnerId,0)='' OR h.PartnerID=@PartnerId)    
        AND (ISNULL(@CustPoNum,'')='' OR CustPoNum=@CustPoNum)    
END 
 
    SELECT l.ImportBatchId,'WARNING' errStatus ,l.PartnerId,p.PartnerName,l.CustPoNum,ErrCode,ErrDescr,LineNum,ErrRecType,3 DisplaySeq       
    FROM dbo.tblEcPoErrorlog l 
	INNER JOIN #tmp t ON  l.ImportBatchId=t.ImportBatchId AND l.KeyLevelSeq1=t.KeyLevelSeq1     
    LEFT JOIN dbo.tblEcPartner p on p.ID = l.PartnerID 
    WHERE l.ErrStatus = 1 

    UNION          
          
    SELECT l.ImportBatchId,'FAILED VALIDATION',l.PartnerId,ISNULL(p.PartnerName,'') PartnerName,l.CustPoNum,ErrCode,ErrDescr, LineNum,ErrRecType,1 DisplaySeq
    FROM dbo.tblEcPoErrorlog  l    
	INNER JOIN #tmp t ON  l.ImportBatchId=t.ImportBatchId AND l.KeyLevelSeq1=t.KeyLevelSeq1     
    LEFT JOIN dbo.tblEcPartner p on p.ID = l.PartnerId
    WHERE l.ErrStatus > 1     
    
	UNION        

	SELECT MAX(l.ImportBatchId) ImportBatchId,'PASSED VALIDATION',l.PartnerId,p.PartnerName,l.CustPoNum,NULL,NULL,NULL,NULL,2 DisplaySeq             
    FROM dbo.tblEcPoErrorlog  l    
	INNER JOIN #tmp t ON  l.ImportBatchId=t.ImportBatchId AND l.KeyLevelSeq1=t.KeyLevelSeq1     
    LEFT JOIN dbo.tblEcPartner p on p.ID = l.PartnerId
    WHERE ErrStatus = 0
	GROUP BY l.PartnerId,p.PartnerName,l.CustPoNum 
    ORDER BY DisplaySeq,l.PartnerId,l.CustPoNum, ErrRecType DESC, LineNum

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateReport_proc'
GO
