USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoOrderDetailInqury_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoOrderDetailInqury_proc]
@PostRun pPostRun, 
@TransId pTransId

AS
BEGIN TRY
	SET NOCOUNT ON

	SELECT d.TransID, EntryNum, ItemJob, d.LocId, ItemId, JobId, PhaseId, JobCompleteYN, ItemType, Descr, AddnlDescr
		, CatId, TaxClass, AcctCode, GLAcctSales, GLAcctCOGS, GLAcctInv
		, SIGN(h.TransType) * d.QtyOrdSell AS QtyOrdSell
		, UnitsSell, UnitsBase
		, SIGN(h.TransType) * d.QtyShipSell AS QtyShipSell
		, SIGN(h.TransType) * d.QtyShipBase AS QtyShipBase
		, SIGN(h.TransType) * d.QtyBackordSell AS QtyBackordSell
		, PriceID, UnitPriceSell, UnitPriceSellFgn, UnitCostSell, UnitCostSellFgn
		, SIGN(h.TransType) * d.PriceExt AS PriceExt
		, SIGN(h.TransType) * d.PriceExtFgn AS PriceExtFgn
		, SIGN(h.TransType) * d.CostExtFgn AS CostExtFgn
		, SIGN(h.TransType) * d.CostExt AS CostExt
		, PromoID, ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDate, d.ActShipDate, EffectiveRate
		, SIGN(h.TransType) * d.OrigOrderQty AS OrigOrderQty
		, BinNum, ConversionFactor, LottedYN, d.Rep1Id, d.Rep1Pct, d.Rep1CommRate, d.Rep2Id, d.Rep2Pct, d.Rep2CommRate
		, UnitCommBasis, UnitCommBasisFgn, PriceAdjType, PriceAdjPct, PriceAdjAmt, PriceAdjAmtFgn, [Status]
		, SIGN(h.TransType) * d.TotQtyOrdSell AS TotQtyOrdSell
		, ResCode, UnitPriceSellBasis, UnitPriceSellBasisFgn, BOLNum
		, SIGN(h.TransType) * d.TotQtyShipSell AS TotQtyShipSell
		, LineSeq
		, CASE WHEN l.DestType = 2 THEN l.DestId WHEN l.DestType = 1 THEN 'POREQ' WHEN ISNULL(l.DestType, 0) = 0 THEN NULL END AS PoLink , d.CustomerPartNumber 
	FROM dbo.tblSoTransDetail d 
		LEFT JOIN dbo.tblSoTransHeader h ON d.TransID = h.TransId 
		LEFT JOIN dbo.tblSmTransLink l ON d.LinkSeqNum = l.SeqNum 
	WHERE @PostRun IS NULL AND d.TransId = @TransId AND GrpId IS NULL AND [Status] <> 1

	UNION ALL

	SELECT d.TransID, EntryNum, ItemJob, d.WhseId, PartId, JobId, PhaseId, JobCompleteYN, PartType, [Desc], AddnlDesc
		, CatId, TaxClass, AcctCode, GLAcctSales, GLAcctCOGS, GLAcctInv
		, SIGN(h.TransType) * d.QtyOrdSell AS QtyOrdSell
		, UnitsSell, UnitsBase
		, SIGN(h.TransType) * d.QtyShipSell AS QtyShipSell
		, SIGN(h.TransType) * d.QtyShipBase AS QtyShipBase
		, SIGN(h.TransType) * d.QtyBackordSell AS QtyBackordSell
		, PriceID, UnitPriceSell, UnitPriceSellFgn, UnitCostSell, UnitCostSellFgn
		, SIGN(h.TransType) * d.PriceExt AS PriceExt
		, SIGN(h.TransType) * d.PriceExtFgn AS PriceExtFgn
		, SIGN(h.TransType) * d.CostExtFgn AS CostExtFgn
		, SIGN(h.TransType) * d.CostExt AS CostExt
		, PromoID, ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDate, d.ActShipDate, EffectiveRate
		, SIGN(h.TransType) * d.OrigOrderQty AS OrigOrderQty
		, BinNum, ConversionFactor, LottedYN, d.Rep1Id, d.Rep1Pct, d.Rep1CommRate, d.Rep2Id, d.Rep2Pct, d.Rep2CommRate
		, UnitCommBasis, UnitCommBasisFgn, PriceAdjType, PriceAdjPct, PriceAdjAmt, PriceAdjAmtFgn, [Status]
		, SIGN(h.TransType) * d.TotQtyOrdSell AS TotQtyOrdSell
		, ResCode, UnitPriceSellBasis, UnitPriceSellBasisFgn, BOLNum
		, SIGN(h.TransType) * d.TotQtyShipSell AS TotQtyShipSell
		, LineSeq, NULL AS PoLink , d.CustomerPartNumber 
	FROM dbo.tblArHistDetail d 
		LEFT JOIN dbo.tblArHistHeader h ON d.TransID = h.TransId AND d.PostRun = h.PostRun 
	WHERE @PostRun IS NOT NULL AND d.PostRun = @PostRun AND d.TransId = @TransId AND GrpId IS NULL AND EntryNum > 0 
	ORDER BY LineSeq

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoOrderDetailInqury_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoOrderDetailInqury_proc'
GO
