USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmOrderInquiryView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmOrderInquiryView_proc]  
@Filter nvarchar(max) = NULL
AS  
BEGIN TRY

	DECLARE @dSql nvarchar(max)
	DECLARE @MpYn bit = (SELECT Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'MpYn')
	DECLARE @PcYn bit = (SELECT Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PcYn')
	DECLARE @PoYn bit = (SELECT Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PoYn')
	DECLARE @SdYn bit = (SELECT Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'SdYn')
	DECLARE @SoYn bit = (SELECT Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'SoYn')

	CREATE TABLE #OrderList
	(
		[Id] [int] identity(1, 1) not null,
		[PickGenKey] [int] null,
		[PickId] nVarchar(40) null,
		[SourceId] tinyint not null,
		[Status] tinyint null Default(255),
		[TransId] [nvarchar](8) NOT NULL,
		[EntryNum] bigint not null,
		[SeqNum] int not null,
		[CustId] [nvarchar](10) NULL,
		[CustName] nvarchar(60) null,
		[PickNum] [nvarchar](15) NULL,
		[AssignedTo] [nvarchar](11) NULL,
		[ItemId] [nvarchar](24) NOT NULL,
		[LocId] [nvarchar](10) NOT NULL,
		[LotNum] [nvarchar](16) NULL,
		[ExtLocA] int NULL,
		[ExtLocB] int NULL,
		[UOM] [nvarchar](5) NOT NULL,
		[QtyReq] [decimal](28,10) NULL,
		[QtyStaged] [decimal](28,10) NULL Default(0),
		[QtyPacked] [decimal](28,10) NULL Default(0),
		[QtyPicked] [decimal](28,10) NULL Default(0),
		[ReqDate] datetime not null,
		[Ref1] [nvarchar](8) NULL,
		[Ref2] [nvarchar](8) NULL,
		[Ref3] [nvarchar](8) NULL,
		[GrpId] int NULL,
		[OriCompQty] [decimal](28,10) NULL,
		[QtyOrdered] [decimal](28,10) NULL,
		[BatchId] [nvarchar](6) NULL,
		[ZoneId] nvarchar(20) null,
		[ExtLocAId] nvarchar(10) NULL,
		[ExtLocBId] nvarchar(10) NULL,
		[KitId] [nvarchar](24) NULL,
		[ActShipDate] DATETIME NULL,
		[ShipNum] nvarchar(60) NULL,
		[ShipMethod] nvarchar(12) NULL,
		[ShipVia] nvarchar(50) NULL,
		[Notes] nvarchar(50) null, 
		[ReferenceId] nvarchar(10) null,
		[ReferenceName] nvarchar(60) null,
		[ItemDescription] [nvarchar](255) NULL,
		PRIMARY KEY CLUSTERED ([Id]),
	)

	--Insert New Orders
	IF @MpYn = 1--MFG Production
		EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_MP_proc NULL
	IF @PcYn = 1--Project Costing
		EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_PCMatReq_proc  NULL
	IF @PoYn = 1--Purchase Order
		EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_PurchaseReturn_proc NULL
	IF @SdYn = 1--Service Director
		EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_SD_proc NULL
	IF @SoYn = 1--Sales Order
		EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_SO_proc NULL
	--Warehouse Management
	EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_WMMatReq_proc NULL
	EXEC dbo.trav_WMPickReleaseOrders_BuildOrderList_WMTransfer_proc NULL
	
	--Delete Orders already released
	DELETE ol
	FROM #OrderList ol 
	INNER JOIN tblWmPick_Gen g ON ol.SourceId = g.SourceId AND ol.TransId = g.TransId AND ol.EntryNum = g.EntryNum AND  ol.SeqNum = g.SeqNum AND ol.ItemId = g.ItemId AND ol.LocId = g.LocId AND ol.UOM = g.UOM AND
	((ol.ExtLocA IS NULL AND g.ExtLocA IS NULL) OR (ol.ExtLocA = g.ExtLocA)) AND ((ol.ExtLocB IS NULL AND g.ExtLocB IS NULL) OR (ol.ExtLocB = g.ExtLocB))

	--Calculate Pick Quantities
	SELECT p.TransId, p.SourceId, p.EntryNum, p.SeqNum, MAX(ISNULL(p.[OverallStatus], 0)) [OverallStatus],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 2 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyPicking],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 3 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyPicked],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 4 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyMoving],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 5 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyStaged],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 6 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyPacking],
	SUM(CASE ISNULL(p.OverallStatus, 0) WHEN 7 THEN ISNULL(p.QtyPicked,0) ELSE 0 END) [QtyPacked]
	INTO #pick
	FROM
	(
		SELECT
			p.TransId, p.SourceId, p.EntryNum, p.SeqNum, p.QtyPicked,
			CASE WHEN p.[Status] = 0 AND p.[Type] = 0 THEN 2 --Picking
			WHEN p.[Status] = 1 AND p.[Type] = 0 THEN 3 --Picked
			WHEN p.[Status] = 0 AND p.[Type] = 1 THEN 4 --Moving
			WHEN p.[Status] = 1 AND p.[Type] = 1 THEN 5 --Staged
			WHEN p.[Status] = 0 AND p.[Type] = 2 THEN 6 --Packing
			WHEN (p.[Status] = 1 OR p.[Status] = 2) AND p.[Type] = 2 THEN 7 --Packed
			ELSE 0 END [OverallStatus] --Released
		FROM tblWmPick (NOLOCK) p
	)p GROUP BY p.TransId, p.SourceId, p.EntryNum, p.SeqNum

	--Insert Released Orders
	INSERT INTO #OrderList(SourceId, Status, TransId, EntryNum, SeqNum, CustId, CustName, PickNum, AssignedTo, ItemId, LocId, LotNum, ExtLocA, ExtLocAId, ExtLocB, ExtLocBId, UOM, QtyReq,
						   QtyStaged, QtyPacked, QtyPicked, ReqDate, Ref1, Ref2, Ref3, GrpId, OriCompQty, QtyOrdered, BatchId, ZoneId, KitId, PickId, PickGenKey, ActShipDate, ShipNum, ShipMethod, ShipVia, ReferenceId, ReferenceName)
	SELECT g.SourceId, CASE WHEN ISNULL(p.OverallStatus,0) = 0 AND i.AssignedTo IS NOT NULL THEN 1 ELSE ISNULL(p.OverallStatus,0) END [Status], g.TransId, g.EntryNum, g.SeqNum, NULL [CustId], NULL [CustName], 
	g.PickNum, i.AssignedTo, g.ItemId, g.LocId, g.LotNum, g.ExtLocA, NULL [ExtLocAId], g.ExtLocB, NULL [ExtLocBId], g.UOM, g.QtyReq,
		   ISNULL(p.QtyStaged, 0), ISNULL(p.QtyPacked, 0), ISNULL(p.QtyPicked, 0), g.ReqDate, g.Ref1, g.Ref2, g.Ref3, g.GrpId, g.OriCompQty, NULL [QtyOrdered], NULL [BatchId], NULL [ZoneId], g.KitId,
		   g.PickID, g.PickGenKey, t.ActShipDate, t.ShipNum, t.ShipMethod, t.ShipVia, NULL [ReferenceId], NULL [ReferenceName]
	FROM tblWmPick_Gen g
	INNER JOIN tblWmPickInfo i ON i.Id = g.PickID
	LEFT JOIN tblSoTransHeader t ON t.TransId = g.TransId AND g.SourceId = 0
	LEFT JOIN #pick p ON g.TransId = p.TransId AND g.EntryNum = p.EntryNum AND g.SeqNum = p.SeqNum AND g.SourceId = p.SourceId

	--Set Bin/Container Description
	UPDATE g
	SET g.ExtLocAId = ISNULL(g.ExtLocAId, B.ExtLocId),
		g.ExtLocBId = ISNULL(g.ExtLocBId, C.ExtLocID),
		g.ZoneId = ISNULL(g.ZoneId, B.ZoneID)
	FROM #OrderList g
	LEFT JOIN tblWmExtLoc B ON B.Id = g.ExtLocA
	LEFT JOIN tblWmExtLoc C ON C.Id = g.ExtLocB
	
	--Set Reference Id/Name
	UPDATE g
	SET g.CustId =  ds.ReferenceId,
		g.CustName = ds.ReferenceName
	FROM #OrderList g
	INNER JOIN
	(
		SELECT ds.PickGenKey, c.CustId as [ReferenceId], c.CustName [ReferenceName]
		FROM
		(
			--SO
			SELECT g.PickGenKey, h.CustId
			FROM tblSoTransHeader (NOLOCK) h
			INNER JOIN #OrderList (NOLOCK) g ON g.TransId = h.TransId AND g.SourceId = 0
			UNION ALL
			--SD
			SELECT g.PickGenKey, h.CustId
			FROM tblSvWorkOrder (NOLOCK) h
			INNER JOIN tblSvWorkOrderTrans (NOLOCK) t ON t.WorkOrderID = h.ID
			INNER JOIN #OrderList (NOLOCK) g ON g.EntryNum = t.ID AND g.SourceId = 2
			UNION ALL
			--MFG
			SELECT g.PickGenKey, h.CustId
			FROM tblMpOrderReleases (NOLOCK) h
			INNER JOIN #OrderList (NOLOCK) g ON g.Ref1 = h.OrderNo AND g.Ref2 = h.ReleaseNo AND g.SourceId = 1
			UNION ALL
			--PC
			SELECT g.PickGenKey, p.CustId
			FROM tblPcTrans (NOLOCK) T
			INNER JOIN tblPcProjectDetail (NOLOCK) D ON T.ProjectDetailId = D.Id
			INNER JOIN tblPcProject P (NOLOCK) ON P.Id = D.ProjectId
			INNER JOIN #OrderList (NOLOCK) g ON g.EntryNum = T.Id AND g.SourceId = 32
		)ds
		LEFT JOIN tblArCust (NOLOCK) c ON c.CustId = ds.CustId
		UNION
		SELECT g.PickGenKey, h.VendorId [ReferenceId], v.[Name] [ReferenceName]
		FROM tblPoTransHeader (NOLOCK) h
		INNER JOIN #OrderList (NOLOCK) g ON g.TransId = h.TransId AND g.SourceId = 64
		LEFT JOIN tblApVendor (NOLOCK) v ON v.VendorID = h.VendorId
	)ds ON ds.PickGenKey = g.PickGenKey

SET @dSql =
	'SELECT * FROM
	(
		SELECT
			t.SourceId, t.[Status], t.TransId, t.EntryNum, t.SeqNum, t.CustId [ReferenceId], t.CustName [ReferenceName],
			t.PickNum, t.[AssignedTo], t.ItemId, i.Descr [ItemDescr], t.LocId, t.LotNum, t.ExtLocA, t.ExtLocAId,
			t.ExtLocB, t.ExtLocBId, t.UOM, t.QtyReq, t.[QtyPicked], t.[QtyStaged], t.[QtyPacked], t.ReqDate, t.Ref1, t.Ref2, t.Ref3,
			t.GrpId, t.OriCompQty, t.ZoneId, t.KitId, t.PickId,
			t.ActShipDate, t.ShipNum, t.ShipMethod, t.ShipVia,
			ISNULL(ud.Uom, i.UomDflt) [ReportingUOM],
			CASE WHEN ISNULL(u.ConvFactor, 1.0) <> 1 THEN t.QtyReq / ISNULL(u.ConvFactor, 1.0) ELSE t.QtyReq END [ReportingQtyReq],
			CASE WHEN ISNULL(u.ConvFactor, 1.0) <> 1 THEN t.QtyPicked / ISNULL(u.ConvFactor, 1.0) ELSE t.QtyPicked END [ReportingQtyPicked],
			CASE WHEN ISNULL(u.ConvFactor, 1.0) <> 1 THEN t.QtyStaged / ISNULL(u.ConvFactor, 1.0) ELSE t.QtyStaged END [ReportingQtyStaged],
			CASE WHEN ISNULL(u.ConvFactor, 1.0) <> 1 THEN t.QtyPacked / ISNULL(u.ConvFactor, 1.0) ELSE t.QtyPacked END [ReportingQtyPacked]
		FROM #OrderList t
		INNER JOIN tblInItem (NOLOCK) i ON i.ItemId = t.ItemId
		LEFT JOIN dbo.tblInItemUomDflt (NOLOCK) ud ON ud.ItemId = i.itemId AND ud.DfltType = 1
		LEFT JOIN dbo.tblInitemUom (NOLOCK) u ON i.ItemId = u.ItemId AND ISNULL(ud.Uom, i.UomDflt) = u.UOM) ds'
	
	--Conditionally apply filter criteria to the dataset
	SELECT @Filter = NULLIF(LTRIM(RTRIM(@Filter)), '')
	IF @Filter IS NOT NULL
	BEGIN
		SELECT @dSql = @dSql + ' WHERE ' + @Filter
	END

	EXEC sp_executesql @dSql

END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmOrderInquiryView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmOrderInquiryView_proc'
GO
