USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbArAgingAnalysis_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbArAgingAnalysis_proc]
@InvcFinch [nvarchar](15),
@CustomerId [nvarchar](10),
@Wksdate datetime,
@BaseCurrencyId [nvarchar](6)

AS
BEGIN TRY

	SET NOCOUNT ON

	CREATE TABLE #Aging
	(
		CustId [nvarchar](10) NOT NULL,
		CustName nvarchar(255),		
		CurrencyId [nvarchar](6) NULL, 
		InvcNum [nvarchar](15) NULL, 
		InvcType nvarchar(10),		
		UnpaidFinch [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		CurAmtDue [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge2 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge3 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge4 [decimal](28,10) NOT NULL DEFAULT(0), 
		UnpaidFinchFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCreditFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		CurAmtDueFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge2Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge3Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge4Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		AmountDue [decimal](28,10) NOT NULL DEFAULT(0)
	)

	INSERT INTO #Aging(CustId, CustName,InvcNum,InvcType,CurrencyId,UnpaidFinch, UnApplCredit, CurAmtDue
		, BalAge1, BalAge2, BalAge3, BalAge4, UnpaidFinchFgn, UnApplCreditFgn, CurAmtDueFgn, BalAge1Fgn, BalAge2Fgn, BalAge3Fgn, BalAge4Fgn,AmountDue)
	EXEC trav_DbArCustAgedBalances_proc @WksDate, @InvcFinch, @WksDate, @CustomerId, @CustomerId, 0, 2, 1, @BaseCurrencyId

	SELECT ISNULL(SUM(UnpaidFinch),0) AS UnpaidFinChg
		, ISNULL(SUM(UnApplCredit),0) AS UnappliedCredit
		, ISNULL(SUM(CurAmtDue),0) AS CurrentBal
		, ISNULL(SUM(BalAge1),0) AS Bal3160
		, ISNULL(SUM(BalAge2),0) AS Bal6190
		, ISNULL(SUM(BalAge3),0) AS Bal91120
		, ISNULL(SUM(BalAge4),0) AS BalOver120
		, ISNULL(SUM(CASE WHEN CurAmtDue <> 0 OR BalAge1 <> 0 OR BalAge2 <> 0 OR BalAge3 <> 0 OR BalAge4 <> 0 
			AND NOT (t.CustId IS NULL) THEN 1 ELSE 0 END),0) AS ActiveCust
		, ISNULL(SUM(CASE WHEN BalAge1 <> 0 OR BalAge2 <> 0 OR BalAge3 <> 0 OR BalAge4 <> 0 
			THEN 1 ELSE 0 END),0) AS PastDueCust
		, ISNULL(SUM(AmountDue),0) AS TotDue 
	FROM #Aging a 
	LEFT JOIN 
	(
		SELECT CustId FROM dbo.tblArOpenInvoice WHERE RecType > 0 AND Status <> 4 GROUP BY CustId
	) t 
	ON a.CustId = t.CustId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArAgingAnalysis_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArAgingAnalysis_proc'
GO
