USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArRecurEntryList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArRecurEntryList_proc]

@SortBy TINYINT

AS
BEGIN TRY

	SELECT 0 AS RecType, 
    	CASE @SortBy
		WHEN 0 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 1 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 2 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 3 THEN CAST(h.RunCode AS NVARCHAR)
		END AS SortBy1,
		CASE @SortBy
		WHEN 0 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		WHEN 1 THEN CAST(d.EntryNum AS NVARCHAR)
		WHEN 2 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		WHEN 3 THEN CAST(d.EntryNum AS NVARCHAR)
		END AS SortBy2,
		CASE @SortBy
		WHEN 0 THEN CAST(d.EntryNum AS NVARCHAR)
		WHEN 1 THEN 1
		WHEN 2 THEN CAST(d.EntryNum AS NVARCHAR)
		WHEN 3 THEN 1
		END AS SortBy3,
		CASE @SortBy
		WHEN 0 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 1 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 2 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 3 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		END AS GrpId1,
		CASE @SortBy
    	WHEN 0 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 1 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 2 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 3 THEN CAST(h.RecurId AS NVARCHAR)
		 END AS GrpId2,
	    h.RecurId, h.RunCode, h.RecurType, h.StartingDate, h.CustId, h.ShipToId
		, h.TaxableYn, h.PoDate, h.Rep1Id, h.Rep2Id
		, h.CustPoNum, h.EndingDate
		, d.EntryNum, d.[Descr] AS [Description], d.AddnlDescr AS AdditionalDescription
		, d.GlAcctSales, d.GlAcctCogs, d.GlAcctInv
		, d.Quantity, d.Units, t.[Desc] AS TermsDescription
		, 0 AS TaxSubtotal, 0 AS NontaxSubtotal, 0 AS Freight, 0 AS Misc, 0 AS SalesTax
		, 0 AS InvoiceTotal
		, d.UnitPrice, d.UnitCost
		, CAST(d.UnitPrice * Quantity AS float) AS ExtPrice
		, CAST(d.UnitCost * Quantity AS float) AS ExtCost
		, h.BillType, h.BillInterval, h.NextBillDate, h.LastBillDate, c.CustName 
		, h.PmtMethodId, p.PmtType
		, h.CcNum, h.CcHolder, h.CcExpire, h.BankName, h.BankAcctNum, h.BankRoutingCode,h.CurrencyID, h.CCAuth
	FROM dbo.tblArRecurHeader h 
		LEFT JOIN dbo.tblArTermsCode t ON h.TermsCode = t.TermsCode 
		LEFT JOIN dbo.tblArRecurDetail d ON h.RecurId = d.RecurId 
		LEFT JOIN dbo.tblArCust c ON h.CustId = c.CustId 
		INNER JOIN #tmpRecuringEntry r ON h.RecurId = r.RecurId
		LEFT JOIN dbo.tblArPmtMethod p on h.PmtMethodId = p.PmtMethodId

	UNION ALL

	SELECT 1 AS RecType,
	CASE @SortBy
		WHEN 0 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 1 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 2 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 3 THEN CAST(h.RunCode AS NVARCHAR)
		END AS SortBy1,
		CASE @SortBy
		WHEN 0 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		WHEN 1 THEN 0
		WHEN 2 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		WHEN 3 THEN 0
		END AS SortBy2,
		CASE @SortBy
		WHEN 0 THEN 0
		WHEN 1 THEN 1
		WHEN 2 THEN 0
		WHEN 3 THEN 1
		END AS SortBy3,
		CASE @SortBy
		WHEN 0 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 1 THEN CAST(h.CustId AS NVARCHAR)
		WHEN 2 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 3 THEN CAST(CAST(CAST(h.EndingDate AS datetime) AS decimal(20)) AS varchar(20))
		END AS GrpId1,
		CASE @SortBy
    	WHEN 0 THEN CAST(h.RunCode AS NVARCHAR)
		WHEN 1 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 2 THEN CAST(h.RecurId AS NVARCHAR)
		WHEN 3 THEN CAST(h.RecurId AS NVARCHAR)
		 END AS GrpId2, h.RecurId, h.RunCode, h.RecurType, h.StartingDate, h.CustId, h.ShipToId
		, h.TaxableYn, h.PoDate, h.Rep1Id, h.Rep2Id
		, h.CustPoNum, h.EndingDate
		, 0 AS EntryNum, '' AS [Description], '' AS AdditionalDescription
		, NULL AS GlAcctSales, NULL AS GlAcctCogs, NULL AS GlAcctInv
		, 0 AS QtyOrdSell, NULL AS UnitsSell, '' AS TermsDescription
		, 0 AS TaxSubtotal, 0 AS NontaxSubtotal, h.Freight, h.Misc, 0 AS SalesTax
		, 0 AS InvoiceTotal
		, 0 AS UnitPriceSell, 0 AS UnitCostSell
		, 0 AS ExtPrice
		, 0 AS ExtCost
		, h.BillType, h.BillInterval, h.NextBillDate, h.LastBillDate, '' AS CustName 
		, h.PmtMethodId, 1 AS PmtType
		, h.CcNum, h.CcHolder, h.CcExpire, h.BankName, h.BankAcctNum, h.BankRoutingCode,h.CurrencyID, h.CCAuth
	FROM dbo.tblArRecurHeader h 
		INNER JOIN #tmpRecuringEntry r ON h.RecurId = r.RecurId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArRecurEntryList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArRecurEntryList_proc'
GO
