USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_BuildLog_proc]  
AS  
SET NOCOUNT ON  
BEGIN TRY  
  
 DECLARE @PostRun [nvarchar](14)   
 , @MCYn bit  
 , @ArGlYn bit  
 , @ArInYn bit  
 , @ArGlDetailYn bit  
 , @PostGainLossDtl bit  
 , @CurrBase [nvarchar](6) 
 , @PrecCurr smallint  
 , @CompId [nvarchar](3)      
 , @WrkStnDate datetime  
 , @SalesDescr nvarchar(30)  
 , @InventoryDescr nvarchar(30)  
 , @COGSDescr nvarchar(30)  
 , @SalesTaxDescr nvarchar(30)  
 , @FreightDescr nvarchar(30)  
 , @MiscDescr nvarchar(30)  
 , @ARDescr nvarchar(30)  
 , @UnknownDescr nvarchar(30)  
 , @ReturnDirectToStock bit  
 DECLARE @TransType nvarchar(10)  
 --Retrieve global values  
 SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId' 
 SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'  
 SELECT @MCYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'  
 SELECT @ArGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlYn'  
 SELECT @ArInYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArInYn'  
 SELECT @ArGlDetailYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlDetailYn'  
 SELECT @PostGainLossDtl = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostGainLossDtl'  
 SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
 SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'  
 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
 SELECT @SalesDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'SalesDescr'  
 SELECT @InventoryDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'InventoryDescr'  
 SELECT @COGSDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'COGSDescr'  
 SELECT @SalesTaxDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'SalesTaxDescr'  
 SELECT @FreightDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'FreightDescr'  
 SELECT @MiscDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'MiscDescr'  
 SELECT @ARDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'ARDescr'  
 SELECT @UnknownDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'UnknownDescr'  
 SELECT @ReturnDirectToStock = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ReturnDirectToStock'  
 SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'SOTRANS'  
 IF @PostRun IS NULL OR @MCYn IS NULL   
  OR @ArGlYn IS NULL OR @ArInYn IS NULL OR @ArGlDetailYn IS NULL   
  OR @PostGainLossDtl IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL   
  OR @WrkStnDate IS NULL   
  OR @SalesDescr IS NULL OR @InventoryDescr IS NULL OR @COGSDescr IS NULL OR @SalesTaxDescr IS NULL   
  OR @FreightDescr IS NULL OR @MiscDescr IS NULL OR @ARDescr IS NULL OR @UnknownDescr IS NULL  
  OR @ReturnDirectToStock IS NULL  
 BEGIN  
  THROW 90025, N'Missing global value.', 1  
 END  
  
  
 CREATE TABLE #SoTransPostLogDtl   
 (  
  [Counter] int Not Null Identity(1, 1),   
  [PostRun] [nvarchar](14) NOT NULL,   
  [TransId] [nvarchar](8) NULL,   
  [EntryNum] int Null,   
  [Grouping] smallint Null,   
  [TransDate] datetime Null,   
  [PostDate] datetime Null,   
  [Descr] nvarchar(255) Null,   
  [SourceCode] nvarchar(2) Null,   
  [Reference] nvarchar(15) Null,   
  [GlAcct] [nvarchar](255) NULL,   
  [DR] [decimal](28,10) NULL,   
  [CR] [decimal](28,10) NULL,   
  [FiscalPeriod] smallint Null,   
  [FiscalYear] smallint Null,   
  [LinkID] nvarchar(15) Null,   
  [LinkIDSub] nvarchar(15) Null,   
  [LinkIDSubLine] int Null,   
  [CurrencyId] [nvarchar](6) NULL,   
  [DebitAmtFgn] [decimal](28,10) NULL Default(0),   
  [CreditAmtFgn] [decimal](28,10) NULL Default(0)  
 )  
   
 CREATE TABLE #TempDtl   
 (  
  TransId [nvarchar](8) NOT NULL,   
  EntryNum int NOT NULL,   
  FiscalYear smallint NULL,   
  GLPeriod smallint NULL,   
  TransType smallint NULL,   
  CustId [nvarchar](10) NULL,   
  ExchRate [decimal](28,10) NULL,   
  InvcNum [nvarchar](15) NULL,   
  InvcDate datetime NULL,   
  DistCode [nvarchar](6) NULL,   
  Descr nvarchar (255) NULL,   
  GLAcctSales [nvarchar](255) NULL,   
  GLAcctCOGS [nvarchar](255) NULL,   
  GLAcctInv [nvarchar](255) NULL,   
  QtyShipSell [decimal](28,10) NULL,   
  UnitPriceSell [decimal](28,10) NULL,   
  UnitCostSell [decimal](28,10) NULL,   
  ExtPrice [decimal](28,10) NULL,   
  ExtCost [decimal](28,10) NULL,   
  PriceExtFgn [decimal](28,10) NULL,   
  CostExtFgn [decimal](28,10) NULL,   
  ItemId [nvarchar](24) NULL,   
  GrpID int NULL,   
  Kit bit NULL,   
  ItemType tinyint NULL,   
  DropShipYn bit NOT NULL DEFAULT (0),  
  CurrencyId [nvarchar](6) NULL,   
  
    
 )  
  
 CREATE TABLE #TempHdr   
 (  
  TransId [nvarchar](8) NOT NULL,   
  FiscalYear smallint NULL,   
  GLPeriod smallint NULL,   
  TransType smallint NULL,   
  CustId [nvarchar](10) NULL,   
  CurrencyId [nvarchar](6) NULL,   
  InvcNum [nvarchar](15) NULL,   
  InvcDate datetime NULL,   
  TaxableSales [decimal](28,10) NULL,   
  TaxableSalesFgn [decimal](28,10) NULL,   
  NonTaxableSales [decimal](28,10) NULL,   
  NonTaxableSalesFgn [decimal](28,10) NULL,   
  SalesTax [decimal](28,10) NULL,   
  SalesTaxFgn [decimal](28,10) NULL,   
  Freight [decimal](28,10) NULL,   
  FreightFgn [decimal](28,10) NULL,   
  Misc [decimal](28,10) NULL,   
  MiscFgn [decimal](28,10) NULL,   
  TotCost [decimal](28,10) NULL,   
  DistCode [nvarchar](6) NULL,   
  BatchId [nvarchar](6) NULL,   
  GLAcctReceivables [nvarchar](255) NULL,   
  GLAcctFreight [nvarchar](255) NULL,   
  GLAcctMisc [nvarchar](255) NULL,   
  TaxAmtAdj [decimal](28,10) NULL,   
  TaxAmtAdjFgn [decimal](28,10) NULL,   
  TaxLocAdj [nvarchar](10) NULL,   
  TaxClassAdj tinyint NULL,   
  TaxAdj tinyint NULL,   
  InvcTotFgn [decimal](28,10) NULL,   
  InvcTot [decimal](28,10) NULL  
 )  
  
  
 -- get detail accounts  
 INSERT INTO #TempDtl (TransId, EntryNum, FiscalYear, GLPeriod, TransType, CustId,CurrencyId, InvcNum, InvcDate  
  , DistCode, Descr, GLAcctSales, GLAcctCOGS, GLAcctInv, QtyShipSell, UnitPriceSell, UnitCostSell  
  , ExtPrice, ExtCost, PriceExtFgn, CostExtFgn, ItemId, GrpID, Kit, ItemType, DropShipYn)   
 SELECT th.TransId, td.EntryNum, th.FiscalYear, th.GLPeriod, th.TransType, th.CustId,th.CurrencyID  
  , l.DefaultInvoiceNumber, th.InvcDate  
  , th.DistCode, td.Descr, td.GLAcctSales, td.GLAcctCOGS, td.GLAcctInv, td.QtyShipSell, td.UnitPriceSell, td.UnitCostSell  
  , td.PriceExt, td.CostExt, td.PriceExtFgn, td.CostExtFgn, td.ItemId, td.GrpID, td.Kit, td.ItemType  
  , ISNULL(k.DropShipYn, 0) DropShipYn   
 FROM dbo.tblSoTransHeader th   
 INNER JOIN #PostTransList l ON th.TransId = l.TransId  
 INNER JOIN dbo.tblSoTransDetail td ON th.TransId = td.TransID   
 LEFT JOIN dbo.tblSmTransLink k ON td.LinkSeqNum = k.SeqNum -- capture the drop ship flag via trans link   
 WHERE td.[Status] = 0  -- open line items  
 ORDER BY th.TransId, th.FiscalYear, th.GLPeriod, td.EntryNum  
  
 -- get header accounts  
 INSERT INTO #TempHdr (TransId, FiscalYear, GLPeriod, TransType, CustId, CurrencyId,  InvcNum, InvcDate  
  , TaxableSales, TaxableSalesFgn, NonTaxableSales, NonTaxableSalesFgn, SalesTax, SalesTaxFgn  
  , Freight, FreightFgn, Misc, MiscFgn, TotCost, DistCode, BatchId  
  , GLAcctReceivables, GLAcctFreight, GLAcctMisc  
  , TaxAmtAdj, TaxAmtAdjFgn, TaxLocAdj, TaxClassAdj, TaxAdj,  InvcTotFgn, InvcTot)   
 SELECT th.TransId, th.FiscalYear, th.GLPeriod, th.TransType, th.CustId, th.CurrencyId  
  , l.DefaultInvoiceNumber, th.InvcDate  
  , th.TaxableSales, th.TaxableSalesFgn, th.NonTaxableSales, th.NonTaxableSalesFgn, th.SalesTax, th.SalesTaxFgn  
  , th.Freight, th.FreightFgn, th.Misc, th.MiscFgn, th.TotCost, th.DistCode, th.BatchId  
  , dc.GLAcctReceivables, dc.GLAcctFreight, dc.GLAcctMisc  
  , th.TaxAmtAdj, th.TaxAmtAdjFgn, th.TaxLocAdj, th.TaxClassAdj, th.TaxAdj  
  , SIGN(TransType) * (TaxableSalesFgn + NonTaxableSalesFgn + SalesTaxFgn + TaxAmtAdjFgn + FreightFgn + MiscFgn) AS InvcTotFgn  
  , SIGN(TransType) * (TaxableSales + NonTaxableSales + SalesTax + TaxAmtAdj + Freight + Misc) AS InvcTot   
 FROM dbo.tblSoTransHeader th   
 INNER JOIN #PostTransList l ON th.TransId = l.TransId  
 INNER JOIN dbo.tblArDistCode dc ON dc.DistCode = th.DistCode   
 ORDER BY th.TransId, th.FiscalYear, th.GLPeriod  
  
  
   
  
 -- Line Sales -- regular items or kits -- post to base  
 INSERT INTO #SoTransPostLogDtl  
  (PostRun, FiscalPeriod, TransId, EntryNum, [Grouping],  Transdate,  
  PostDate, Descr, SourceCode, Reference,  GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub,  LinkIDSubLine,  
  CurrencyId, DebitAmtFgn, CreditAmtFgn)     
 SELECT @PostRun, GlPeriod, TransId, EntryNum, 10  
  , InvcDate, @WrkStnDate  
  , CASE WHEN @ArInYn = 1 AND Descr IS NOT NULL   
   THEN substring(InvcNum + ' / ' + Descr, 1, 30)  
   ELSE substring(InvcNum + ' / ' + isnull(ItemId, ''), 1, 30) END   
  , 'SO', CustId,  GLAcctSales  
  , CASE WHEN Sign(TransType) * -1 * (ExtPrice) > 0  
   THEN ABS(ExtPrice) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * (ExtPrice) < 0  
   THEN ABS(ExtPrice) ELSE 0 END  
  , FiscalYear, TransID,InvcNum, EntryNum  
  , CurrencyId  
  , CASE WHEN Sign(TransType) * -1 * (PriceExtFgn) > 0          
   THEN ABS(PriceExtFgn) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * (PriceExtFgn) < 0  
   THEN ABS(PriceExtFgn) ELSE 0 END  
 FROM #TempDtl t  
 WHERE EntryNum IS NOT NULL AND (ExtPrice) <> 0 AND GrpId IS NULL  
  
 /** Inventory Sales -- regular or kit components**/  
 -- for linkidsubline use kits entrynum for components  
 -- post to base  
 -- skip Inventory & COGS journal entry for Credits of inventoried items when not returning qty direct to stock  
 -- skip Inventory & COGS journal entry for Drop Shipped line items  
 INSERT #SoTransPostLogDtl  
  (PostRun, FiscalPeriod, TransId, EntryNum, [Grouping],  Transdate,  
  PostDate, Descr, SourceCode, Reference,  GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine,  
  CurrencyId, DebitAmtFgn, CreditAmtFgn)      
 SELECT @PostRun, GlPeriod, TransId, EntryNum, 11  
  , InvcDate, @WrkStnDate  
  , CASE WHEN @ArInYn = 1 AND Descr IS NOT NULL   
   THEN substring(InvcNum + ' / ' + Descr, 1, 30)  
   ELSE substring(InvcNum + ' / ' + isnull(ItemId, ''), 1, 30) END   
  , 'SO', CustId,  GLAcctInv  
  , CASE WHEN Sign(TransType) * -1 * (ExtCost) > 0  
   THEN ABS(ExtCost) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * (ExtCost) < 0  
   THEN ABS(ExtCost) ELSE 0 END  
  , FiscalYear, TransID, InvcNum, COALESCE(GrpID, EntryNum)  
  ,CurrencyId  
  , CASE WHEN Sign(TransType) * -1 * (CostExtFgn) > 0       
   THEN ABS(CostExtFgn) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * (CostExtFgn) < 0  
   THEN ABS(CostExtFgn) ELSE 0 END  
 FROM #TempDtl  
 WHERE EntryNum IS NOT NULL AND (ExtCost) <> 0  
  AND (Kit = 0 OR GrpID IS NOT NULL)  
  AND (@ReturnDirectToStock = 1 OR TransType >= 0 OR (ItemType NOT IN (1, 2))) -- skip for credits  
  AND (DropShipYn = 0) -- skip for drop shipped  
  
  
 /** COGS -- regular or kit components : post to base**/  
 -- for linkidsubline use kits entrynum for components  
 -- skip Inventory and COGS journal entry for Credits of inventoried items when not returning qty direct to stock  
 -- skip Inventory & COGS journal entry for Drop Shipped line items  
 INSERT #SoTransPostLogDtl  
  (PostRun, FiscalPeriod, TransId, EntryNum, [Grouping],  Transdate,  
  PostDate, Descr, SourceCode, Reference,  GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine,  
  CurrencyId,  DebitAmtFgn, CreditAmtFgn)     
 SELECT @PostRun, GlPeriod, TransId, EntryNum, 12   
  , InvcDate, @WrkStnDate  
  , CASE WHEN @ArInYn = 1 AND Descr IS NOT NULL   
   THEN substring(InvcNum + ' / ' + Descr, 1, 30)  
   ELSE substring(InvcNum + ' / ' + isnull(ItemId, ''), 1, 30) END   
  , 'SO', CustId, GLAcctCOGS  
  , CASE WHEN Sign(TransType) * (ExtCost) > 0  
   THEN ABS(ExtCost) ELSE 0 END  
  , CASE WHEN Sign(TransType) * (ExtCost) < 0  
   THEN ABS(ExtCost) ELSE 0 END  
  , FiscalYear, TransID,InvcNum, COALESCE(GrpID, EntryNum)  
  ,CurrencyId  
  , CASE WHEN Sign(TransType) * (CostExtFgn) > 0     
   THEN ABS(CostExtFgn) ELSE 0 END  
  , CASE WHEN Sign(TransType) * (CostExtFgn) < 0  
   THEN ABS(CostExtFgn) ELSE 0 END  
 FROM #TempDtl  
 WHERE EntryNum IS NOT NULL AND (ExtCost) <> 0  
  AND (Kit = 0 OR GrpID IS NOT NULL)  
  AND (@ReturnDirectToStock = 1 OR TransType >= 0 OR (ItemType NOT IN (1, 2))) -- skip for credits  
  AND (DropShipYn = 0) -- skip for drop shipped  
  
  
 --Tax Locations  
 Create Table #zzTax  
 (  
  TransId [nvarchar](8) NOT NULL,   
  InvcNum [nvarchar](15) NULL,   
  FiscalYear smallint,   
  GLPeriod smallint,   
  TaxAmount [decimal](28,10) NULL,  
  TaxAmountFgn [decimal](28,10) NULL,   
  InvcDate datetime,  
  TaxLocID [nvarchar](10) NULL,  
  CustID [nvarchar](10) NULL,   
  DistCode [nvarchar](6) NULL,   
  LiabilityAcct [nvarchar](255) NULL,  
  CurrencyId [nvarchar](6) NULL,   
  ExchRate [decimal](28,10) NULL  
 )  
                          
  
 INSERT INTO #zzTax (TransId, InvcNum, FiscalYear, GLPeriod, TaxAmount, TaxAmountFgn   
  , InvcDate, TaxLocID, CustID, DistCode, LiabilityAcct, CurrencyId)  
  SELECT h.TransId, l.DefaultInvoiceNumber, h.FiscalYear, h.GLPeriod  
   , Sign(h.TransType) * -1 * TaxAmt  
   , Sign(h.TransType) * -1 * TaxAmtFgn  
   , h.InvcDate, t.TaxLocID, h.CustID, h.DistCode, t.LiabilityAcct, h.CurrencyId  
  FROM #TempHdr h  
  INNER JOIN dbo.tblSoTransTax t ON h.TransId = t.TransId  
  INNER JOIN #PostTransList l ON h.TransId = l.TransId  
  WHERE t.TaxAmt <> 0  
     
  
 INSERT INTO #zzTax (TransId, InvcNum, FiscalYear, GLPeriod, TaxAmount, TaxAmountFgn  
  , InvcDate, TaxLocID, CustID, DistCode, LiabilityAcct, CurrencyId)  
  SELECT h.TransId, l.DefaultInvoiceNumber, h.FiscalYear, h.GLPeriod  
   , Sign(h.TransType) * -1 * TaxAmtAdj  
   , Sign(h.TransType) * -1 * TaxAmtAdjFgn  
   , h.InvcDate, h.TaxLocAdj, h.CustID, h.DistCode, t.GlAcct, h.CurrencyId  
  FROM #TempHdr h  
  LEFT JOIN dbo.tblSmTaxLoc t on h.TaxLocAdj = t.TaxLocId  
  INNER JOIN #PostTransList l ON h.TransId = l.TransId  
  WHERE TaxAmtAdj <> 0  
  
   
  
  
 INSERT #SoTransPostLogDtl  
  (PostRun, TransId, FiscalPeriod, EntryNum, [Grouping],  Transdate,  
  PostDate, Descr, SourceCode, Reference, GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine,  
  CurrencyId,  DebitAmtFgn, CreditAmtFgn)  
  SELECT @PostRun, TransID, GlPeriod, 100000,101  
    
   , InvcDate, @WrkStnDate  
   , Substring(InvcNum + ' / ' + @SalesTaxDescr + ' / ' + TaxLocID, 1, 30), 'SO', CustID, LiabilityAcct   
   , CASE WHEN SUM(TaxAmount) > 0 THEN SUM(TaxAmount) ELSE 0 END  
   , CASE WHEN SUM(TaxAmount) < 0 THEN Abs(SUM(TaxAmount)) ELSE 0 END  
   , FiscalYear, TransID, InvcNum, 0  
   , CurrencyId  
   ,  CASE WHEN SUM(TaxAmountFgn) > 0 THEN SUM(TaxAmountFgn) ELSE 0 END   
   ,  CASE WHEN SUM(TaxAmountFgn) < 0 THEN Abs(SUM(TaxAmountFgn)) ELSE 0 END   
  FROM #zzTax   
  GROUP BY TransId, CustID, InvcNum, InvcDate,  FiscalYear, GlPeriod, TaxLocID, LiabilityAcct, CurrencyId  
  HAVING SUM(TaxAmount) <> 0  
  
 --Freight Amount   
 INSERT #SoTransPostLogDtl  
  (PostRun, TransId, FiscalPeriod, EntryNum, [Grouping],  Transdate  
  , PostDate, Descr, SourceCode, Reference, GlAcct  
  , DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine  
  , CurrencyId,DebitAmtFgn, CreditAmtFgn)     
 SELECT @PostRun, TransId, GlPeriod, 100000, 102  
  , InvcDate, @WrkStnDate, SubString(InvcNum + ' / ' + @FreightDescr, 1, 30)  
  , 'SO', CustId, GLAcctFreight  
  , CASE WHEN Sign(TransType) * -1 * Freight > 0  
   THEN ABS(Freight) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * Freight < 0  
   THEN ABS(Freight) ELSE 0 END  
  , FiscalYear, TransID,InvcNum, 0  
  , CurrencyId  
  , CASE WHEN Sign(TransType) * -1 * FreightFgn > 0     
   THEN ABS(FreightFgn) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * FreightFgn < 0  
   THEN ABS(FreightFgn) ELSE 0 END  
 FROM #TempHdr  
 WHERE Freight<>0 AND Freight IS NOT NULL  
  
 --Misc Amount   
 INSERT #SoTransPostLogDtl  
  (PostRun, TransId, FiscalPeriod, EntryNum, [Grouping], Transdate,  
  PostDate, Descr, SourceCode, Reference,  GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine,  
  CurrencyId, DebitAmtFgn, CreditAmtFgn)     
 SELECT @PostRun, TransId, GlPeriod, 100000, 103  
  , InvcDate, @WrkStnDate, SubString(InvcNum + ' / ' + @MiscDescr, 1, 30)  
  , 'SO', CustId,  GLAcctMisc  
  , CASE WHEN Sign(TransType) * -1 * Misc > 0  
   THEN ABS(Misc) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * Misc < 0  
   THEN ABS(Misc) ELSE 0 END  
  , FiscalYear, TransID, InvcNum, 0  
  ,CurrencyId  
  , CASE WHEN Sign(TransType) * -1 * MiscFgn > 0      
   THEN ABS(MiscFgn) ELSE 0 END  
  , CASE WHEN Sign(TransType) * -1 * MiscFgn < 0  
   THEN ABS(MiscFgn) ELSE 0 END  
 FROM #TempHdr  
 WHERE Misc<>0 AND Misc IS NOT NULL  
  
  
 -- AR Entry  post to base or foreign account  
 INSERT #SoTransPostLogDtl  
  (PostRun, TransId, FiscalPeriod, EntryNum, [Grouping],  Transdate,  
  PostDate, Descr, SourceCode, Reference,  GlAcct,  
  DR, CR, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine,  
  CurrencyId,  DebitAmtFgn, CreditAmtFgn)     
 SELECT @PostRun, TransId, GlPeriod, 100000, 104  
  , InvcDate, @WrkStnDate, SubString(InvcNum + ' / ' + @ARDescr, 1, 30)  
  , 'SO', CustId, GLAcctReceivables  
   , CASE WHEN InvcTot > 0 THEN ABS(InvcTot) ELSE 0 END  
  , CASE WHEN InvcTot < 0 THEN ABS(InvcTot) ELSE 0 END  
  , FiscalYear, TransID, InvcNum, 0  
  , CurrencyId  
  , CASE WHEN InvcTotFgn > 0 THEN InvcTotFgn ELSE 0 END   
  , CASE WHEN InvcTotFgn < 0 THEN ABS(InvcTotFgn)ELSE 0 END      
 FROM #TempHdr WHERE InvcTot <> 0  
  
  
  
 --populate the GL Log table  
 IF (@ArGlDetailYn = 0)  
   INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod, [Grouping],
   [Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
   , CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)    
    
   SELECT PostRun,@TransType,TransId,@PostRun,@CompId,GlAcct, FiscalYear, FiscalPeriod ,[Grouping]
   , CASE WHEN [Grouping] = 10 THEN @SalesDescr  
    WHEN [Grouping] = 11 THEN @InventoryDescr  
    WHEN [Grouping] = 12 THEN @COGSDescr  
    WHEN [Grouping] = 101 THEN @SalesTaxDescr  
    WHEN [Grouping] = 102 THEN @FreightDescr  
    WHEN [Grouping] = 103 THEN @MiscDescr  
    WHEN [Grouping] = 104 THEN @ARDescr  
    ELSE @UnknownDescr END  
   ,'SO','SO'  
   ,CreditAmtFgn,DebitAmtFgn, Cast(CR as decimal(28, 10)) CreditAmount,  Cast(DR as decimal(28, 10)) DebitAmount  
   ,CurrencyId, @WrkStnDate, @WrkStnDate,NULL,NULL    
  FROM #SoTransPostLogDtl  
 ELSE  
  INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod, [Grouping], 
   [Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
   , CurrencyId,TransDate,PostDate,LinkId,LinkIDSub,LinkIdSubLine)  
  SELECT @PostRun, @TransType, TransId, @PostRun, @CompId, GlAcct, FiscalYear, FiscalPeriod, [Grouping] 
   , Descr, Reference, SourceCode, CreditAmtFgn,DebitAmtFgn, Cast(CR as decimal(28, 10)) CreditAmount,  Cast(DR as decimal(28, 10)) DebitAmount  
   , CurrencyId, TransDate, PostDate, LinkID , LinkIDSub, LinkIDSubLine  
  FROM #SoTransPostLogDtl  
  
  
 --update the transaction summary log table  
 INSERT INTO #TransactionSummary ([FiscalYear], [FiscalPeriod]  
  , [TransAmt], [RcptAmtApplied], [RcptAmtUnapplied]  
  , [CurrencyId], [TransAmtFgn], [RcptAmtAppliedFgn], [RcptAmtUnappliedFgn])  
 SELECT FiscalYear, GlPeriod  
  , SUM(SIGN(TransType)*(TaxableSales + NonTaxableSales + SalesTax + TaxAmtAdj + Freight + Misc ))  
  , 0, 0  
  , CurrencyId  
  , SUM(SIGN(TransType)*(TaxableSalesFgn + NonTaxableSalesFgn + SalesTaxFgn + TaxAmtAdjFgn + FreightFgn + MiscFgn))  
  , 0, 0  
 FROM dbo.tblSoTransHeader h  
 INNER JOIN #PostTransList l ON h.TransId = l.TransId  
 GROUP BY FiscalYear, GlPeriod, CurrencyId  
  
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_BuildLog_proc'
GO
