USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcBillingPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcBillingPost_OpenInvoice_proc]
AS
Set NoCount ON
BEGIN TRY

	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @PrecCurr tinyint
	DECLARE @TransTypeInvoice nvarchar(10)
	DECLARE @TransType NVARCHAR(10),@TransTypeTrans NVARCHAR(10)
	DECLARE @ApplyCreditsToOldest bit


	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice'--'ARINVOICE'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'  -- 'PCBILL'
	SELECT @TransTypeTrans = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTrans'  -- 'PCBILLTRAN'
	SELECT @ApplyCreditsToOldest = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApplyCreditsToOldest'


	IF @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL OR @TransTypeInvoice IS NULL OR @TransType IS NULL OR @TransTypeTrans  IS NULL OR @ApplyCreditsToOldest IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	--append invoices and credit memos 
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, RecType
		, InvcNum
		, TransDate, DistCode, TermsCode, CurrencyId, ExchRate
		, Amt
		, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId
		, GainLossStatus
		, CredMemNum
		, CustPONum, SourceApp
		, AgingPeriod
		, InvoiceID, AppliedAmount, AppliedDiscount, GainLossAmount
	) 
	SELECT h.CustId, SIGN(TransType)
		, CASE WHEN h.TransType < 0 THEN ISNULL(h.OrgInvcNum, ISNULL(NULLIF(h.InvcNum,''), t.DefaultInvoiceNumber)) 
			ELSE ISNULL(NULLIF(h.InvcNum,''), t.DefaultInvoiceNumber)	END
		, InvcDate, DistCode, TermsCode, CurrencyID, ExchRate 
		, TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj
		, TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn  + TaxAmtAdjFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, FiscalPeriod, FiscalYear, @PostRun, h.TransId
		, CASE WHEN g.OrgInvoiceID is null THEN 0 ELSE 1 END 
		,(CASE WHEN TransType < 0 THEN ISNULL(NULLIF(h.InvcNum,''), t.DefaultInvoiceNumber) ELSE NULL END)
		, CustPONum, 3   
		, CASE WHEN @ApplyCreditsToOldest = 1 AND h.TransType < 0 THEN 4 ELSE 0 END --conditionally map unapplied credits to oldest aging period
		, g.OrgInvoiceID, ISNULL(g.AppliedAmount,0),ISNULL(g.AppliedDiscount,0),ISNULL(g.GainLossAmountbase,0) 
	FROM #PostTransList t 
	INNER JOIN dbo.tblPcInvoiceHeader h on t.TransId = h.TransId 
	LEFT JOIN #GainLossTrans g ON h.TransId= g.TransID 
	WHERE h.VoidYn = 0

    --append negative invoices for deposits with transaction invoice number
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, RecType
		, InvcNum
		, TransDate, DistCode, TermsCode, CurrencyId, ExchRate
		, Amt
		, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun
		, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp,InvoiceID
		, AppliedAmount
	) 
	SELECT h.CustId, 1
		, CASE WHEN h.TransType > 0 THEN ISNULL(NULLIF(h.InvcNum,''), t.DefaultInvoiceNumber) 
			   ELSE ISNULL(h.OrgInvcNum, ISNULL(NULLIF(h.InvcNum,''), t.DefaultInvoiceNumber)) END
		, h.InvcDate, h.DistCode, h.TermsCode, h.CurrencyID, h.ExchRate 
		, -1 * SIGN(h.TransType) * pmt.DepositTotal
		, -1 * SIGN(h.TransType) * pmt.DepositTotalFgn
		, 0, 0, h.NetDueDate, h.DiscDueDate, h.FiscalPeriod, h.FiscalYear, @PostRun 
		, h.TransId, 0, NULL
		, h.CustPONum, 3
		, CASE h.TransType 
			WHEN 1 THEN inv.[Counter] --reference record created above for posted invoice
			WHEN -2 THEN --reference original invoice of payment when it still exists
				Case When ISNULL(i.[Status], 4) = 4 
					Then NULL 
					Else h.OrgInvoiceID 
				End 
			ELSE NULL 
		END
		, -1 * SIGN(h.TransType) * pmt.DepositTotalFgn
	FROM #PostTransList t 
	INNER JOIN dbo.tblPcInvoiceHeader h on t.TransId = h.TransId 
	INNER JOIN 
	(
		SELECT l.TransID, SUM(p.DepositAmtApply) DepositTotal 
			, SUM(ROUND(p.DepositAmtApply * h.ExchRate, ISNULL(c.CurrDecPlaces, @PrecCurr))) DepositTotalFgn 
		FROM #PostTransList l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		INNER JOIN dbo.tblPcInvoiceDeposit p ON h.TransId = p.TransId 
		LEFT JOIN #tmpCurrencyList c ON h.CurrencyID = c.CurrencyId  
		GROUP BY l.TransId
	) pmt ON h.TransId = pmt.TransId
	INNER JOIN
	(
		SELECT a.[Counter],  l.TransID
		FROM #PostTransList l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		INNER JOIN dbo.tblArOpenInvoice a ON h.TransId = a.TransId 
		WHERE a.PostRun = @PostRun		
	) inv ON h.TransId = inv.TransID
	LEFT JOIN tblArOpenInvoice i ON h.OrgInvoiceID = i.[Counter]
	WHERE h.VoidYn = 0

	
	--append invoices for deposits with project id as invoice number
	INSERT dbo.tblArOpenInvoice 
	(
		CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate
		, Amt
		, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp) 
	SELECT h.CustId, 1, pmt.ProjectName, h.InvcDate, h.DistCode, TermsCode, h.CurrencyID, h.ExchRate
		, SIGN(h.TransType) * pmt.DepositTotal
		, SIGN(h.TransType) * pmt.DepositTotalFgn 
		, 0, 0, h.NetDueDate, h.DiscDueDate, h.FiscalPeriod, h.FiscalYear, @PostRun, h.TransId, 0, NULL
		, h.CustPONum, 3   
	FROM #PostTransList t 
	INNER JOIN dbo.tblPcInvoiceHeader h on t.TransId = h.TransId 
	INNER JOIN 
	(
		SELECT l.TransID, j.ProjectName, SUM(p.DepositAmtApply) DepositTotal
			, SUM(ROUND(p.DepositAmtApply * h.ExchRate, ISNULL(c.CurrDecPlaces, @PrecCurr))) DepositTotalFgn 
		FROM #PostTransList l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		INNER JOIN dbo.tblPcInvoiceDeposit p ON h.TransId = p.TransId 
		INNER JOIN dbo.tblPcProjectDetail k ON p.ProjectDetailId = k.Id
		INNER JOIN dbo.tblPcProject j ON k.ProjectId = j.Id
		LEFT JOIN #tmpCurrencyList c ON h.CurrencyID = c.CurrencyId  
		GROUP BY l.TransId, j.ProjectName
	) pmt ON h.TransId = pmt.TransId
	WHERE h.VoidYn = 0


	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM tblSmExchangeRateTrans d		
	INNER JOIN #PostTransList b on d.TransKey = b.TransId AND d.TransType=@TransTypeTrans
	INNER JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId AND ov.PostRun = @PostRun 

	--Create transaction exchange rate entries in the tblsmExchangeTrans table for the transactions 
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransType,ov.SourceId,d.[Source],d.Destination,d.Rate
	FROM tblSmExchangeRateTrans d		
	INNER JOIN #PostTransList b on d.TransKey = b.TransId AND d.TransType=@TransTypeTrans
	INNER JOIN dbo.tblPcInvoiceHeader ov ON ov.TransId = b.TransId 

	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_OpenInvoice_proc'
GO
