USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlPostToMaster_UpdateAccountDetail_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlPostToMaster_UpdateAccountDetail_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	--construct a temp table for summarizing the journal entries
	CREATE TABLE #JrnlSummary 
	(	AcctId [nvarchar](255) NULL,
		FiscalYear smallint,
		FiscalPeriod smallint,
		DebitAmtFgn [decimal](28,3) NOT NULL,
		CreditAmtFgn [decimal](28,3) NOT NULL,
		DebitAmt [decimal](28,3) NOT NULL,
		CreditAmt [decimal](28,3) NOT NULL
	)

	--summarize the journal entries being posted
	INSERT INTO #JrnlSummary (AcctId, FiscalYear, FiscalPeriod, DebitAmtFgn, CreditAmtFgn, DebitAmt, CreditAmt)
	SELECT AcctId, j.[Year], j.[Period], SUM(DebitAmtFgn), SUM(CreditAmtFgn), SUM(DebitAmt), SUM(CreditAmt)
	FROM dbo.tblGlJrnl j
	INNER JOIN #PostJournalList l ON j.EntryNum = l.EntryNum 
	GROUP BY AcctId, [Period], [Year]	
	
	--create missing account detail records
	INSERT INTO dbo.tblGlAcctDtl ([AcctId], [Year], [Period], [Actual], [ActualBase], [Budget], [Forecast], [Balance])
	SELECT s.AcctId, s.FiscalYear, s.FiscalPeriod, 0, 0, 0, 0, 0
	FROM #JrnlSummary s
	LEFT JOIN dbo.tblGlAcctDtl d 
		ON s.AcctId = d.AcctId AND s.FiscalYear = d.[Year] AND s.FiscalPeriod = d.[Period]
	WHERE d.AcctId IS NULL
	
	--update account detail values
	UPDATE dbo.tblGlAcctDtl 
	SET [Actual] = [Actual] + CASE WHEN [BalType] < 0 THEN -(s.[DebitAmtFgn] - s.[CreditAmtFgn]) ELSE (s.[DebitAmtFgn] - s.[CreditAmtFgn]) END
		, [ActualBase] = [ActualBase] + CASE WHEN [BalType] < 0 THEN -(s.[DebitAmt] - s.[CreditAmt]) ELSE (s.[DebitAmt] - s.[CreditAmt]) END
	FROM #JrnlSummary s 
	INNER JOIN dbo.tblGlAcctDtl d
		ON s.AcctId = d.AcctId 
		AND s.FiscalYear = d.[Year] 
		AND s.FiscalPeriod = d.[Period]
	INNER JOIN dbo.tblGlAcctHdr h ON s.AcctId = h.AcctId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_UpdateAccountDetail_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_UpdateAccountDetail_proc'
GO
