USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPhysicalCountDetail_Verify_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPhysicalCountDetail_Verify_proc]
@BatchId [nvarchar](6),
@ItemId [nvarchar](24),
@ExtLocAId [nvarchar](10),
@UserId [nvarchar](20),
@WrkStn nvarchar(100)
AS
BEGIN TRY
	CREATE TABLE #tmpEntries --tmpHeader x tblWmPhysicalCountEntry
	(
		HeaderId bigint, --tmpHeader.ID
		EntryID bigint, --tblWmPhysicalCountEntry.ID
		NewDetailId bigint, --> tblWmPhysicalCountDetail.ID
		FirstItem bigint, --> tblWmPhysicalCountDetail.ID
	)

	--cross referencing table is filled with all entries (not grouped) that are NOT linked to a Detail entry (entered manually)
	INSERT INTO #tmpEntries(EntryID, NewDetailId)
	SELECT ID, DetailID
	FROM dbo.tblWmPhysicalCountEntry
	WHERE BatchID = @BatchId AND [Status] = 0
	and Itemid = @ItemId and ExtLocAID = @ExtLocAId

	IF(EXISTS(SELECT TOP 1 * FROM #tmpEntries))
	BEGIN

		Select d.*
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		 JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID != @BatchId
				) flat ON flat.ItemID = e.ItemID 
				AND ((flat.LotNum IS NULL AND e.LotNum IS NULL) OR (flat.LotNum = e.LotNum))
				AND flat.ExtLocAID = e.ExtLocAID
				AND ((flat.ExtLocBID IS NULL AND e.ExtLocBID IS NULL) OR (flat.ExtLocBID = e.ExtLocBID))
		 JOIN  (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID != @BatchId
				) flat2 ON flat2.ItemID = e.ItemID
				AND ((flat2.LotNum IS NULL AND e.LotNum IS NULL) OR (flat2.LotNum = e.LotNum))
				AND flat2.ExtLocAID = e.ExtLocAID
		WHERE e.SerNum IS NULL -- serial items cannot be re-linked
		UNION
		Select d.*
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID != @BatchId
				) flat ON flat.ItemID = e.ItemID 
				AND flat.SerNum = e.SerNum
				AND flat.ExtLocAID = e.ExtLocAID
		WHERE e.SerNum IS NOT NULL AND e.DetailID IS NULL
		
	END



END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCountDetail_Verify_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCountDetail_Verify_proc'
GO
