USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCustomerHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCustomerHistory_proc]
@CustId [nvarchar](10), 
@FiscalYear smallint,
@ConsolidateYn bit = 0 --option to include invoices billed to another customer id
AS
SET NOCOUNT ON
BEGIN TRY

	--Returns the Customer/FGN values from Hist tables for current Customer and FiscalYear
	CREATE TABLE #HistSummary
	(
		CustId [nvarchar](10) NOT NULL,
		FiscalYear smallint,
		FiscalPeriod smallint,
		CurrencyId [nvarchar](6) NOT NULL,
		Sales [decimal](28,10) NULL,
		COGS [decimal](28,10) NULL,
		InvoiceCount int,
		Payments [decimal](28,10) NULL,
		Discounts [decimal](28,10) NULL,
		PaymentCount int,
		DaysToPay int,
		UnpaidFinch [decimal](28,10) NULL
	)
		
	--capture invoice information 
	--(include both the BillTo and SoldTo when processing consolidated results)
	INSERT INTO #HistSummary (CustId, FiscalYear, FiscalPeriod, CurrencyId
            , Sales, COGS, InvoiceCount, Payments, Discounts, PaymentCount, DaysToPay, UnpaidFinch)
      SELECT @CustId, HH.FiscalYear, HH.GLPeriod AS [FiscalPeriod], cust.CurrencyID
      , ROUND(SUM(CASE WHEN (HH.CurrencyID = cust.CurrencyId) THEN (SIGN(HH.TransType) * (HH.TaxSubtotalFgn + HH.NonTaxSubtotalFgn)) ELSE  (SIGN(HH.TransType) * (HH.TaxSubtotalFgn + HH.NonTaxSubtotalFgn) * er.Rate) END),c.CurrDecPlaces)  AS [Sales]
      , ROUND(SUM(CASE WHEN (HH.CurrencyID = cust.CurrencyId) THEN (SIGN(HH.TransType) * HH.TotCostFgn) ELSE  (SIGN(HH.TransType) * HH.TotCostFgn * er.Rate) END),c.CurrDecPlaces) AS [COGS]
            , SUM(CASE WHEN HH.TransType > 0 THEN 1 ELSE 0 END) AS [InvoiceCount]
            , 0 AS [HH.Payments], 0 AS [HH.Discounts], 0 AS [HH.PaymentCount], 0 AS [HH.DaysToPay]
            , 0 AS [HH.UnpaidFinch]
            FROM dbo.tblArHistHeader HH
            LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = @CustId
             LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyId
         LEFT JOIN (select Destination,[Source], Rate, FiscalPeriod, FiscalYear  from [dbo].[tblSmExchangeRate] r  INNER JOIN  
             [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] and r.[Type] = 1) er
         ON er.[FiscalPeriod] = HH.GLPeriod AND er.[FiscalYear] = HH.FiscalYear
            AND er.[Source] = HH.CurrencyID AND er.[Destination] = cust.CurrencyId                                
            WHERE (HH.CustId = @CustId OR (SoldToId = @CustId AND @ConsolidateYn = 1)) --include SoldTo as well as Billto Customers when consolidated
                  AND HH.FiscalYear = @FiscalYear AND VoidYn = 0
            GROUP BY HH.CustId, HH.FiscalYear, HH.GlPeriod, cust.CurrencyId,c.CurrDecPlaces

	--capture payment information
	INSERT INTO #HistSummary (CustId, FiscalYear, FiscalPeriod, CurrencyId
		, Sales, COGS, InvoiceCount, Payments, Discounts, PaymentCount, DaysToPay, UnpaidFinch)
	SELECT p.CustId, p.FiscalYear, p.GLPeriod AS [FiscalPeriod], cust.CurrencyId
		, 0 AS [Sales], 0 AS [COGS], 0 AS [InvoiceCount]
		, ROUND(SUM(CASE WHEN (p.CurrencyID = cust.CurrencyId) THEN (p.PmtAmtFgn) ELSE (p.PmtAmtFgn * er.Rate) END ),c.CurrDecPlaces)  AS [Payments]
		, ROUND(SUM(CASE WHEN (p.CurrencyID = cust.CurrencyId) THEN (p.DiffDiscFgn) ELSE (p.DiffDiscFgn * er.Rate) END),c.CurrDecPlaces) AS [Discounts]
		, SUM(CASE WHEN p.PmtAmtFgn > 0 THEN 1 ELSE 0 END) AS [PaymentCount]
		, SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END) AS [DaysToPay]
		, 0 AS [UnpaidFinch]
		FROM dbo.tblArHistPmt p 
		LEFT JOIN (
			SELECT CustId, InvcNum, MAX(InvcDate) AS [InvcDate] 
			FROM dbo.tblArHistHeader 
			WHERE CustId = @CustId AND FiscalYear <= @FiscalYear AND TransType = 1 AND VoidYn = 0 
			GROUP BY Custid, InvcNum
		) h ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum
		 LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = @CustId 
		 LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyId
         LEFT JOIN (select Destination,[Source], Rate, FiscalPeriod, FiscalYear  from [dbo].[tblSmExchangeRate] r  INNER JOIN  
             [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] and r.[Type] = 1) er
         ON er.[FiscalPeriod] = p.GLPeriod AND er.[FiscalYear] = p.FiscalYear
            AND er.[Source] = p.CurrencyID AND er.[Destination] = cust.CurrencyId                       
		WHERE p.CustId = @CustId AND p.FiscalYear = @FiscalYear AND p.VoidYn = 0 
		GROUP BY p.CustId, p.FiscalYear, p.GlPeriod, cust.CurrencyId,c.CurrDecPlaces

	--capture finance charges
	INSERT INTO #HistSummary (CustId, FiscalYear, FiscalPeriod, CurrencyId
		, Sales, COGS, InvoiceCount, Payments, Discounts, PaymentCount, DaysToPay, UnpaidFinch)
	SELECT f.CustId, f.FiscalYear, GLPeriod AS [FiscalPeriod], cust.CurrencyId
		, 0 AS [Sales], 0 AS [COGS], 0 AS [InvoiceCount]
		, 0 AS [Payments], 0 AS [Discounts], 0 AS [PaymentCount], 0 AS [DaysToPay]
		, ROUND(SUM(CASE WHEN (f.CurrencyID = cust.CurrencyId) THEN (FinchAmtFgn) ELSE (FinchAmtFgn * er.Rate) END),c.CurrDecPlaces) AS [UnpaidFinch]
		FROM dbo.tblArHistFinch f
		LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = @CustId
           LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyId
         LEFT JOIN (select Destination,[Source], Rate, FiscalPeriod, FiscalYear  from [dbo].[tblSmExchangeRate] r  INNER JOIN  
             [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] and r.[Type] = 1) er
         ON er.[FiscalPeriod] = f.GLPeriod AND er.[FiscalYear] = f.FiscalYear
            AND er.[Source] = f.CurrencyID AND er.[Destination] = cust.CurrencyId                                
		WHERE f.CustID = @CustId AND f.FiscalYear = @FiscalYear 
		GROUP BY f.CustId, f.FiscalYear, f.GlPeriod, c.CurrDecPlaces,cust.CurrencyId

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #HistSummary WHERE Sales IS NULL OR COGS IS NULL OR Payments IS NULL OR UnpaidFinch IS NULL OR Discounts IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--return the results
	SELECT CustId, FiscalYear, FiscalPeriod, CurrencyID
		, SUM([Sales]) AS [Sales], SUM([COGS]) AS [COGS]
		, SUM([Sales] - [COGS]) AS [Profit], SUM([InvoiceCount]) AS [InvoiceCount]
		, SUM([Payments]) AS [Payments], SUM([Discounts]) AS [Discounts]
		, SUM([PaymentCount]) AS [PaymentCount], SUM([DaysToPay]) AS [DaysToPay]
		, SUM([UnpaidFinch]) AS [UnpaidFinch]
	FROM #HistSummary
	GROUP BY CustId, FiscalYear, FiscalPeriod, CurrencyId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerHistory_proc'
GO
