USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_ProjectActivity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_ProjectActivity_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @PrecCurr smallint, @UseLandedCost bit, @TransTypePCGEN nvarchar(10), @TransTypePOInvoice nvarchar(10), @TransTypePOReceipt nvarchar(10)

	--Retrieve global values
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @UseLandedCost = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'UseLandedCost'
	SELECT @TransTypePCGEN = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePCGEN' --PCGEN
	SELECT @TransTypePOInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOInvoice' --POINVOICE
	SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT

	IF @PrecCurr IS NULL OR @UseLandedCost IS NULL OR @TransTypePCGEN IS NULL OR @TransTypePOInvoice IS NULL OR @TransTypePOReceipt IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Create activity for invoice
	INSERT INTO dbo.tblPcActivity(ProjectDetailId, RcptId, [Source], [Type], Qty, ExtCost, ExtIncome,  
		[Description], AddnlDesc, ActivityDate, SourceReference, ResourceId, LocId, Reference, DistCode, 
		GLAcctWIP, GLAcctPayrollClearing, GLAcctIncome, GLAcctCost, GLAcctAdjustments, GLAcctFixedFeeBilling, GLAcctOverheadContra, 
		GLAcctAccruedIncome, TaxClass, FiscalPeriod, FiscalYear, Uom, [Status], GroupID)
	SELECT d.ProjectDetailId, r.ActivityId, 12, d.[Type], SIGN(h.TransType) * ir.Qty, SIGN(h.TransType) * ROUND(ir.Qty * v.ExtCost / v.Qty,@PrecCurr), 
		SIGN(h.TransType) * ROUND(ROUND(ir.Qty * v.ExtCost / v.Qty,@PrecCurr) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr),
		d.Descr, d.AddnlDescr, t.InvcDate, h.TransId, d.ItemId, d.LocId, t.InvcNum, p.DistCode, c.GLAcctWIP, c.GLAcctPayrollClearing,
		c.GLAcctIncome, d.GLAcct, c.GLAcctAdjustments, c.GLAcctFixedFeeBilling, c.GLAcctOverheadContra, c.GLAcctAccruedIncome,
		d.TaxClass, t.GLPeriod, t.FiscalYear, d.Units, 2, t.ID
	FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
		INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransID = t.TransId
		INNER JOIN (dbo.tblPoTransDetail d INNER JOIN dbo.tblPoTransInvoice v ON d.TransID = v.TransID AND d.EntryNum = v.EntryNum) 
			ON t.TransID = d.TransID and t.InvcNum = v.InvoiceNum 
		INNER JOIN dbo.tblPoTransInvc_Rcpt ir ON v.InvoiceID = ir.InvoiceID 
		INNER JOIN dbo.tblPoTransLotRcpt r ON ir.ReceiptID = r.ReceiptID
		INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
		INNER JOIN dbo.tblPcDistCode c ON p.DistCode = c.DistCode
	WHERE v.[Status] = 0
	
	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the invoice activities generated
	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypePCGEN, i.ID, et.[Source], et.Destination, et.Rate
	FROM dbo.tblSmExchangeRateTrans et INNER JOIN (SELECT t.ID FROM #PostTransList p INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransID = t.TransId 
		INNER JOIN dbo.tblPoTransInvoice v ON t.ID = v.InvcHeaderID 
		INNER JOIN dbo.tblPoTransDetail d ON v.TransID = d.TransID AND v.EntryNum = d.EntryNum 
		WHERE ISNULL(d.ProjectDetailId,0) != 0 AND v.[Status] = 0
		GROUP BY t.ID) i ON et.TransKey = CAST(i.ID AS nvarchar(255))
	WHERE et.TransType = @TransTypePOInvoice AND i.ID NOT IN (SELECT TransKey FROM dbo.tblSmExchangeRateTrans WHERE TransType = @TransTypePCGEN)

	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypePCGEN, i.ID, et.[Source], et.Destination, et.Rate
	FROM dbo.tblSmExchangeRateTrans et INNER JOIN (SELECT t.ID FROM #PostTransList p INNER JOIN dbo.tblPoTransReceipt t ON p.TransID = t.TransId 
		INNER JOIN dbo.tblPoTransLotRcpt r ON t.ID = r.RcptHeaderID
		INNER JOIN dbo.tblPoTransDetail d ON r.TransID = d.TransID AND r.EntryNum = d.EntryNum 
		WHERE ISNULL(d.ProjectDetailId,0) != 0 AND r.[Status] = 0
		GROUP BY t.ID) i ON et.TransKey = CAST(i.ID AS nvarchar(255))
	WHERE et.TransType = @TransTypePOReceipt AND i.ID NOT IN (SELECT TransKey FROM dbo.tblSmExchangeRateTrans WHERE TransType = @TransTypePCGEN)

	--Create activity for landed cost
	IF (@UseLandedCost = 1)
	BEGIN
		INSERT INTO dbo.tblPcActivity(ProjectDetailId, [Source], [Type], Qty, ExtCost, ExtIncome,  
			[Description], ActivityDate, SourceReference, ResourceId, LocId, Reference, DistCode, 
			GLAcctWIP, GLAcctPayrollClearing, GLAcctIncome, GLAcctCost, GLAcctAdjustments, GLAcctFixedFeeBilling, GLAcctOverheadContra, 
			GLAcctAccruedIncome, TaxClass, FiscalPeriod, FiscalYear, Uom, [Status], GroupID)
		SELECT d.ProjectDetailId, 9, d.[Type], 0, SIGN(h.TransType) * SUM(c.Amount-c.PostedAmount),
			SIGN(h.TransType) * SUM(ROUND((c.Amount-c.PostedAmount) * (1 + CASE d.[Type] WHEN 1 THEN p.MaterialMarkup WHEN 2 THEN p.ExpenseMarkup WHEN 3 THEN p.OtherMarkup ELSE 0 END/100),@PrecCurr)),
			t.[Description], y.ReceiptDate, h.TransId, d.ItemId, d.LocId, y.ReceiptNum, p.DistCode, e.GLAcctWIP, e.GLAcctPayrollClearing,
			e.GLAcctIncome, d.GLAcct, e.GLAcctAdjustments, e.GLAcctFixedFeeBilling, e.GLAcctOverheadContra, e.GLAcctAccruedIncome,
			d.TaxClass, y.GLPeriod, y.FiscalYear, d.Units, 2, y.ID
		FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId
			INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
			INNER JOIN dbo.tblPoTransReceipt y ON r.TransId = y.TransId AND r.RcptNum = y.ReceiptNum
			INNER JOIN dbo.tblPoTransReceiptLandedCost c ON r.ReceiptId = c.ReceiptId
			INNER JOIN dbo.tblPoTransDetailLandedCost t ON c.LCTransSeqNum = t.LCTransSeqNum 
			INNER JOIN dbo.tblPcProjectDetail p ON d.ProjectDetailId = p.Id
			INNER JOIN dbo.tblPcDistCode e ON p.DistCode = e.DistCode
			LEFT JOIN dbo.tblPoLandedCostDetail s ON t.LCDtlSeqNum = s.LCDtlSeqNum  
		WHERE c.Amount-c.PostedAmount <> 0 
		GROUP BY h.TransId, h.TransType, y.ReceiptNum, y.ReceiptDate, y.FiscalYear, y.GlPeriod, d.ItemId, d.LocId, d.TaxClass, d.Units,
			d.ProjectDetailId, d.[Type], t.[Description], p.DistCode, e.GLAcctWIP, e.GLAcctPayrollClearing,
			e.GLAcctIncome, d.GLAcct, e.GLAcctAdjustments, e.GLAcctFixedFeeBilling, e.GLAcctOverheadContra, e.GLAcctAccruedIncome, y.ID
	END
	
	--Update actual start date
	UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
	FROM dbo.tblPcProjectDetail INNER JOIN 
		(SELECT td.ProjectDetailId, MIN(th.TransDate) AS TransDate
		 FROM #PostTransList l INNER JOIN dbo.tblPoTransHeader th ON l.TransId = th.TransId
			INNER JOIN dbo.tblPoTransDetail td ON th.TransId = td.TransID 
		 GROUP BY td.ProjectDetailId) t ON dbo.tblPcProjectDetail.Id = t.ProjectDetailId 
	WHERE dbo.tblPcProjectDetail.ActStartDate IS NULL
	
	UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
	FROM dbo.tblPcProjectDetail INNER JOIN 
		(SELECT d.ProjectId, MIN(th.TransDate) AS TransDate
		 FROM #PostTransList l INNER JOIN dbo.tblPoTransHeader th ON l.TransId = th.TransId
			INNER JOIN dbo.tblPoTransDetail td ON th.TransId = td.TransID 
			INNER JOIN dbo.tblPcProjectDetail d ON td.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject j ON d.ProjectId = j.Id
		 GROUP BY d.ProjectId) t ON dbo.tblPcProjectDetail.ProjectId = t.ProjectId 
	WHERE dbo.tblPcProjectDetail.PhaseId IS NULL AND dbo.tblPcProjectDetail.TaskId IS NULL AND dbo.tblPcProjectDetail.ActStartDate IS NULL
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ProjectActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ProjectActivity_proc'
GO
