USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcGetNextControlNum_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcGetNextControlNum_proc]    
    @PartnerID bigInt,    
    @NumType nvarchar(2),    
    @ControlNum nvarchar(12) OUT    
AS    
    
DECLARE @Num INT

IF @NumType='IS'    
    BEGIN    
       SELECT @Num=ISNULL(ISAControlNum,0) From dbo.tblEcPartner WHERE ID=@PartnerID    
	   SELECT @Num=@Num+1
       SELECT @ControlNum=REPLICATE('0',9-LEN(CAST (@Num as nvarchar)))+CAST(@Num as nvarchar)
       UPDATE dbo.tblEcPartner SET ISAControlNum=@Num WHERE ID=@PartnerID    
    END       
IF @NumType='GS'    
    BEGIN    
       SELECT @Num=ISNULL(GSControlNum,0) From dbo.tblEcPartner WHERE ID=@PartnerID
	   SELECT @Num=@Num+1
	   SELECT @ControlNum=@Num    
       UPDATE dbo.tblEcPartner SET GSControlNum=@Num WHERE ID=@PartnerID    
    END         
    
IF @NumType='ST'    
    BEGIN    
      SELECT @Num=ISNULL(STControlNum,0) From dbo.tblEcPartner WHERE ID=@PartnerID    
	  SELECT @Num=@Num+1
	  SELECT @ControlNum=@Num
      UPDATE dbo.tblEcPartner SET STControlNum=@Num+1 WHERE ID=@PartnerID    
    END    
  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetNextControlNum_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetNextControlNum_proc'
GO
