USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcUCC128Labels_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcUCC128Labels_proc]
@PurchaseOrderNumAI nvarchar(6), -- 400 = Customer�s purchase order number
@ShipToPostalCodeAI nvarchar(6) -- 420 = Ship to / Deliver to postal code within a single postal authority

AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @CompID nvarchar(3)

	SET @CompID  = RIGHT(DB_NAME(), 3)

	CREATE TABLE #TransUccSummary 
	(
		TransID nvarchar(8), 
		UCC128 nvarchar(20), 
		Quantity decimal(28,10), 
		CartonNumber int
	)

	INSERT INTO #TransUccSummary(TransID, UCC128, Quantity, CartonNumber) 
	SELECT h.[TransID], h.[UCC128], SUM(d.[QtyPacked]) AS [Quantity]
		, ROW_NUMBER() OVER (PARTITION BY h.[TransID] ORDER BY h.[TransID], h.[UCC128]) AS [CartonNumber] 
	FROM #filter f 
		INNER JOIN dbo.tblEcPackHeader h ON f.TransID = h.TransID AND f.UCC128 = h.UCC128 
		INNER JOIN dbo.tblEcPackDetail d ON h.ID = d.PackHeaderID 
		INNER JOIN dbo.tblEcPackShipment s ON s.ID = h.ShipmentID 
	GROUP BY h.TransID, h.UCC128

	SELECT p.PartnerID, p.PartnerName, h.ShipToId, a.ShipToName, a.Addr1 AS ShipToAddr1, a.Addr2 AS ShipToAddr2, a.Attn AS ShipToAttn
		, a.City AS ShipToCity, a.Region AS ShipToRegion
		, a.PostalCode AS ShipToPostalCode
		, '(' + @ShipToPostalCodeAI + ') ' + a.PostalCode AS ShipToPostalCodeText
		, @ShipToPostalCodeAI + a.PostalCode AS ShipToPostalCodeBarcode
		, a.Country AS ShipToCountry, a.Phone AS ShipToPhone
		, s.SCAC, s.ShipVia AS CarrierName, s.BillOfLading, s.VICSBillOfLading, s.MasterBillOfLading
		, s.CustPoNum AS PurchaseOrderNum
		, '(' + @PurchaseOrderNumAI + ') ' + s.CustPoNum AS PurchaseOrderNumText
		, @PurchaseOrderNumAI + s.CustPoNum AS PurchaseOrderNumBarcode
		, u.TransID AS SalesOrderNum, u.[Quantity], u.CartonNumber, c.CartonTotal, u.UCC128, s.ProNumber
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromCompId ELSE l.LocId END AS ShipFromCompId
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromName ELSE l.Descr END AS ShipFromName
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromAddr1 ELSE l.Addr1 END AS ShipFromAddr1
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromAddr2 ELSE l.Addr2 END AS ShipFromAddr2
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromCity ELSE l.City END AS ShipFromCity
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromRegion ELSE l.Region END AS ShipFromRegion
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromPostalCode ELSE l.PostalCode END AS ShipFromPostalCode
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromCountry ELSE l.Country END AS ShipFromCountry
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromPhone ELSE l.Phone END AS ShipFromPhone
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromFax ELSE l.Fax END AS ShipFromFax
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromSiteNum ELSE NULL END AS ShipFromSiteNum
		, CASE WHEN l.LocId IS NULL THEN i.ShipFromEmail ELSE l.Email END AS ShipFromEmail 
	FROM #TransUccSummary u 
		LEFT JOIN 
		(
			SELECT ShipToId, TransID, UCC128, ShipmentID 
			FROM dbo.tblEcPackHeader 
			GROUP BY ShipToId, TransID, UCC128, ShipmentID
		)h ON u.UCC128 = h.UCC128 AND u.TransID = h.TransID 
		LEFT JOIN dbo.tblEcPackShipment s ON s.ID = h.ShipmentID 
		LEFT JOIN dbo.tblEcPartner p ON p.ID = s.PartnerID 
		LEFT JOIN dbo.tblArShipTo a ON a.ShiptoId = s.ShipToId AND a.CustId = s.CustId 
		LEFT JOIN dbo.tblSoTransHeader m ON u.TransID = m.TransId --TransHeader may not be available if transaction has been posted
		LEFT JOIN dbo.tblInLoc l ON m.LocId = l.LocId
		LEFT JOIN #tmpCompanyInfo i ON i.ShipFromCompId = @CompID
		INNER JOIN 
		(
			SELECT [TransID], COUNT([UCC128]) AS [CartonTotal] FROM #TransUccSummary GROUP BY TransID
		) c ON c.TransID = u.TransID

END TRY   
BEGIN CATCH
   EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcUCC128Labels_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcUCC128Labels_proc'
GO
