USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcGetSingleConfigValue_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE  [dbo].[trav_EcGetSingleConfigValue_proc]      
     @DfltSysDB nvarchar(10)='SYS',
     @AppId nvarchar(2)='ED',           
     @ConfigId nvarchar(50),      
     @ConfigValue nvarchar(255) OUT      
AS      
 
   SET NOCOUNT ON     

   DECLARE @SQL nvarchar(500)  
   

   IF ISNULL(@DfltSysDB,'')<>'' 
   BEGIN
	   
     CREATE TABLE #tmpConfigValue (ConfigRef int,ConfigValue nvarchar(500))
	   
     SET @SQL='SELECT v.ConfigRef, v.ConfigValue FROM dbo.tblSmConfigValue v INNER JOIN ['+@DfltSysDB+'].dbo.tblSmConfig c  ON v.ConfigRef = c.ConfigRef
		           WHERE (c.AppId = '''+@AppId+''' OR c.AppId = CASE '''+@AppId+''' WHEN ''PO'' THEN ''AP'' WHEN ''SO'' THEN ''AR'' WHEN ''PA'' THEN ''DD'' END) AND c.ConfigId = '''+ @ConfigId+''''      		 
     INSERT INTO #tmpConfigValue(ConfigRef,ConfigValue)
     EXEC sp_executesql @SQL	 
     SELECT @ConfigValue = ConfigValue FROM #tmpConfigValue  
   END
   

  SELECT @ConfigValue=ISNULL(@ConfigValue,'')    
  
  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetSingleConfigValue_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetSingleConfigValue_proc'
GO
