USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcDailySalesTaxJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcDailySalesTaxJournal_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpPcDailyTax
	(
		TaxLocId [nvarchar](10) NOT NULL, 
		TaxClass tinyint NOT NULL DEFAULT (0), 
		TaxableAmt [decimal](28,10) NULL DEFAULT (0), 
		NontaxableAmt [decimal](28,10) NULL DEFAULT (0), 
		TaxCollected [decimal](28,10) NULL DEFAULT (0), 
		TaxCalculated [decimal](28,10) NULL DEFAULT (0)
	)

	INSERT INTO #tmpPcDailyTax (TaxLocId, TaxClass, TaxableAmt, NontaxableAmt, TaxCollected, TaxCalculated) 
	SELECT t.TaxLocID, t.TaxClass
		, SUM(SIGN(TransType) * Taxable) AS TaxableAmt
		, SUM(SIGN(TransType) * NonTaxable) AS NontaxableAmt
		, SUM(SIGN(TransType) * TaxAmt) AS TaxCollected
		, SUM(SIGN(TransType) * TaxAmt) AS TaxCalculated 
	FROM #tmpInvoiceList m INNER JOIN dbo.tblPcInvoiceHeader h ON m.TransId = h.TransId
		INNER JOIN dbo.tblPcInvoiceTax t ON h.TransId = t.TransId
		INNER JOIN #tmpTaxLocationList l ON t.TaxLocID = l.TaxLocID 
	WHERE h.VoidYn = 0 AND (t.Taxable <> 0 OR t.NonTaxable <> 0)
	GROUP BY t.TaxLocID, t.TaxClass

	INSERT INTO #tmpPcDailyTax (TaxLocId, TaxClass, TaxableAmt, NontaxableAmt, TaxCollected, TaxCalculated) 
	SELECT h.TaxLocAdj, h.TaxClassAdj, 0 AS TaxableAmt, 0 AS NontaxableAmt
		, SIGN(TransType) * TaxAmtAdj AS TaxCollected, 0 AS TaxCalculated 
	FROM #tmpInvoiceList m INNER JOIN dbo.tblPcInvoiceHeader h ON m.TransId = h.TransId
		INNER JOIN #tmpTaxLocationList l ON h.TaxLocAdj = l.TaxLocID
	WHERE h.VoidYn = 0 AND h.TaxAmtAdj <> 0

	SELECT *, TaxCollected-TaxCalculated AS OverShort, 
	(SUM(TaxCollected) OVER (PARTITION BY TaxLocId) - SUM(TaxCalculated) OVER (PARTITION BY TaxLocId)) AS TotalOverShort
	 FROM(SELECT t.TaxLocId, t.[Name], t.TaxAuthority, t.TaxId, t.GLAcct
		, CAST(t.TaxOnFreight AS tinyint) AS TaxOnFreight, CAST(t.TaxOnMisc AS tinyint) AS TaxOnMisc
		, c.TaxClassCode, c.[Desc], d.SalesTaxPct
		, CAST(SUM(x.TaxableAmt) AS float) AS TaxableAmt
		, CAST(SUM(x.NontaxableAmt) AS float) AS NontaxableAmt
		, CAST(SUM(x.TaxCollected) AS float) AS TaxCollected
		, CAST(SUM(x.TaxCalculated) AS float) AS TaxCalculated 
	FROM dbo.tblSmTaxLoc t 
		INNER JOIN (dbo.tblSmTaxClass c 
			INNER JOIN (dbo.tblSmTaxLocDetail d 
			INNER JOIN #tmpPcDailyTax x ON (d.TaxClassCode = x.TaxClass) 
				AND (d.TaxLocId = x.TaxLocID)) 
				ON c.TaxClassCode = d.TaxClassCode) 
			ON t.TaxLocId = d.TaxLocId 
	GROUP BY t.TaxLocId, t.[Name], t.TaxAuthority, t.TaxId, t.GLAcct, CAST(t.TaxOnFreight AS tinyint)
		, CAST(t.TaxOnMisc AS tinyint), c.TaxClassCode, c.[Desc], d.SalesTaxPct) ds 


	SELECT SUM(TaxCollected)-SUM(TaxCalculated) AS GrandTotalOverShort FROM(SELECT CAST(SUM(x.TaxCollected) AS float) AS TaxCollected
		, CAST(SUM(x.TaxCalculated) AS float) AS TaxCalculated
	FROM dbo.tblSmTaxLoc t 
		INNER JOIN (dbo.tblSmTaxClass c 
			INNER JOIN (dbo.tblSmTaxLocDetail d 
			INNER JOIN #tmpPcDailyTax x ON (d.TaxClassCode = x.TaxClass) 
				AND (d.TaxLocId = x.TaxLocID)) 
				ON c.TaxClassCode = d.TaxClassCode) 
			ON t.TaxLocId = d.TaxLocId) ds 
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcDailySalesTaxJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcDailySalesTaxJournal_proc'
GO
