USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTransferTransPost_Clear_Receipts_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTransferTransPost_Clear_Receipts_proc]  
AS  
BEGIN TRY  

	-- Remove Put Away Receipt entries that are no longer tie to an source transaction except Completed 
	DELETE dbo.tblWmRcpt
	WHERE [Status] IN (0,1,3) --New,Confirmed,PutAway
		AND [Source] = 1 --WM Transfer
		AND	[EntryNum] NOT IN (SELECT [TranPickKey] FROM dbo.tblWmTransferPick)
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransferTransPost_Clear_Receipts_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransferTransPost_Clear_Receipts_proc'
GO
