USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_UpdatePostedOrders_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_UpdatePostedOrders_proc]
AS
BEGIN TRY
	DECLARE @PaYn bit

	SELECT @PaYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PaYn'
 
 	IF @PaYn IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--set the posted status for material detail
	UPDATE dtl SET [PostedYn] = 1
		FROM dbo.tblMpMatlDtl dtl
		INNER JOIN dbo.tblMpRequirements r on dtl.[TransId] = r.[TransId]
		INNER JOIN #PostReleaseList l on r.[ReleaseId] = l.[ReleaseId]

	--set the posted status for subcontract detail
	UPDATE dtl SET [PostedYn] = 1
		FROM dbo.tblMpSubContractDtl dtl
		INNER JOIN dbo.tblMpRequirements r on dtl.[TransId] = r.[TransId]
		INNER JOIN #PostReleaseList l on r.[ReleaseId] = l.[ReleaseId]

	--set the posted status for time detail
	--	conditionally set the PA status when not interfaced to PA or was included in the PostPATimeList
	UPDATE dtl SET [PostedYn] = 1
		, [PostedPayrollYn] = Case When @PaYn = 0 
			Then 1
			Else 
				Case When p.[SeqNo] is not null 
				Then 1 
				Else [PostedPayrollYn] 
			End 
		End
		FROM dbo.tblMpTimeDtl dtl
		INNER JOIN dbo.tblMpRequirements r on dtl.[TransId] = r.[TransId]
		INNER JOIN #PostReleaseList l on r.[ReleaseId] = l.[ReleaseId]
		LEFT JOIN #PostPATimeList p on dtl.[SeqNo] = p.[SeqNo]


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_UpdatePostedOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_UpdatePostedOrders_proc'
GO
