USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlUnrealizedGainsAndLossesReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlUnrealizedGainsAndLossesReport_proc]
@FiscalYear smallint, 
@GlPeriod smallint, 
@BaseCurrency [nvarchar](6), 
@BaseCurrencyPrecision tinyint
AS

CREATE TABLE #GainLoss
(
	AcctId [nvarchar](255) NULL, 
	Period smallint, 
	[Year] smallint, 
	CurrencyId [nvarchar](6) NOT NULL, 
	PdExchRate [Decimal](28, 18) NULL, 
	Gain [decimal](28,3) NULL, 
	Balance [decimal](28,3) NULL, 
	ExchRate [Decimal](28, 18) NULL, 
	TransDate datetime, 
	CreditAmtFgn [decimal](28,3) NULL, 
	DebitAmtFgn [decimal](28,3) NULL
)

SET NOCOUNT ON
BEGIN TRY
	INSERT INTO #GainLoss (AcctId, Period, [Year], CurrencyId, PdExchRate
		, Gain, Balance, ExchRate, TransDate, CreditAmtFgn, DebitAmtFgn) 
	SELECT j.AcctId, @FiscalYear AS [Year], @GlPeriod AS Period, j.CurrencyId, erates.[ExchRate] AS PdExchRate
		, ROUND(
			CASE WHEN t.AcctCode < 0 
			THEN ((j.CreditAmtFgn - j.DebitAmtFgn) * erates.[ExchRate]) - (j.CreditAmt - j.DebitAmt) 
			ELSE ((j.DebitAmtFgn - j.CreditAmtFgn) * erates.[ExchRate]) - (j.DebitAmt - j.CreditAmt) 
			END, @BaseCurrencyPrecision) AS Gain
		, b.Actual AS Balance, j.ExchRate, j.TransDate, j.CreditAmtFgn, j.DebitAmtFgn 
	FROM #tmpCurrencyList c 
		INNER JOIN dbo.tblGlJrnl j (NOLOCK) ON c.CurrencyId = j.CurrencyId 
		INNER JOIN dbo.tblGlAcctHdr h (NOLOCK) ON j.AcctId = h.AcctId 
		INNER JOIN dbo.tblGlAcctType t (NOLOCK) ON h.AcctTypeId = t.AcctTypeId 
		INNER JOIN 
		(
			SELECT AcctId, SUM(Actual) AS Actual 
			FROM dbo.tblGlAcctDtl 
			WHERE [Year] = @FiscalYear AND Period <= @GlPeriod 
			GROUP BY AcctID 
		) b ON j.AcctId = b.AcctId
		LEFT JOIN 
		(
		SELECT eh.[FiscalYear], eh.[FiscalPeriod], ed.[Rate] AS [ExchRate], ed.[Source] 
		FROM dbo.tblSmExchangeRate (NOLOCK) eh 
			INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
		WHERE eh.[FiscalYear] = @FiscalYear AND eh.[FiscalPeriod] = @GlPeriod AND eh.[Type] = 1 AND ed.[Destination] = @BaseCurrency
		) erates 
		ON j.CurrencyId = erates.[Source]
	WHERE j.CurrencyId <> @BaseCurrency 
		AND (j.[Year] < @FiscalYear OR (j.[Year] = @FiscalYear AND j.Period <= @GlPeriod)) 
		AND j.PostedYn = -1 AND t.AcctClassId IN(115,200) 
		AND ((j.CreditAmtFgn - j.DebitAmtFgn) * erates.[ExchRate]) <> (j.CreditAmt - j.DebitAmt) 
		AND j.URG = 0
		
	SELECT g.AcctId, Period, [Year], g.CurrencyId, CAST(ROUND(1 / PdExchRate, 10) AS decimal(28, 18)) AS PdExchRate, Gain
	, Balance, g.ExchRate, TransDate, CreditAmtFgn, DebitAmtFgn 
	FROM #GainLoss g 
		LEFT JOIN dbo.tblSmCurrency curr ON curr.CurrID = g.CurrencyId 
		LEFT JOIN dbo.tblGlAcctHdr h1 ON curr.GlAcctUnrealGain = h1.AcctId 
		LEFT JOIN dbo.tblGlAcctHdr h2 ON curr.GlAcctUnrealLoss = h2.AcctId 
		WHERE Gain <>0
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlUnrealizedGainsAndLossesReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlUnrealizedGainsAndLossesReport_proc'
GO
