USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoRequestDetailView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoRequestDetailView_proc]
@TransId pTransId
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT d.TransID, d.ItemId, d.LocId, d.QtyOrd, d.Units, ISNULL(d.ProjID, jd.Id) ProjID, 
		ISNULL(d.ProjName, j.ProjectName) ProjName, ISNULL(d.TaskID, tk.TaskId) TaskID, 
		ISNULL(d.TaskName, tk.[Description]) TaskName, ISNULL(d.PhaseID, jd.PhaseId) PhaseID, 
		ISNULL(d.PhaseName, ph.[Description]) PhaseName, d.EntryNum, d.ItemType, d.GLAcct, 
		d.GLDesc, d.Descr, d.GLAcctAccrual, d.UnitCost, d.ExtCost, d.UnitCostFgn, d.ExtCostFgn 
	FROM dbo.tblPoTransHeader h
		LEFT JOIN dbo.tblPoTransDetail d  ON h.TransId = d.TransId
		LEFT JOIN dbo.tblPcProjectDetail jd on jd.Id = d.ProjectDetailId
		LEFT JOIN dbo.tblPcProject j on j.Id = jd.ProjectId 
		LEFT JOIN dbo.tblPcPhase ph on ph.PhaseId = jd.PhaseId
		LEFT JOIN dbo.tblPcTask tk on tk.TaskId = jd.TaskId
	WHERE h.TransId = @TransId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestDetailView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestDetailView_proc'
GO
