USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_AWMSDataMigration_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_AWMSDataMigration_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	/********************************
	tblWmZone => tblWmLocationZone
	*********************************/
	IF EXISTS(SELECT TOP 1 * FROM sys.tables t WHERE t.name = 'tblWmZone' AND t.type = 'U')
	BEGIN
		DECLARE @MaxZoneId bigInt

		--Temp Table for linking AWMS Zone records to WMS Location Zones
		CREATE TABLE #tmpLocationZone(OldId bigInt NOT NULL, Id bigInt NOT NULL, ZoneId nVarchar(20) Not Null, LocId [nvarchar](10) NOT NULL, Descr [nvarchar](255) NULL)

		--Get last id used for new zones
		SELECT @MaxZoneId = ISNULL(MAX(ID),0) FROM tblWmLocationZone
		INSERT INTO #tmpLocationZone(OldId, Id, ZoneId, LocId, Descr)
		SELECT 
			Z1.Id, ROW_NUMBER() OVER(ORDER BY Z1.Id) + @MaxZoneId [Id], --Use AWMS Id if is valid, otherwise create a new Id
			Z1.ZoneId, Z1.LocId, Z1.Descr
		FROM tblWmZone Z1
		INNER JOIN tblInLoc L ON L.LocId = Z1.LocId
		LEFT JOIN tblWmLocationZone Z2 ON Z1.LocId = Z2.LocID AND Z1.ZoneId = Z2.ZoneID
		WHERE Z2.ZoneID IS NULL --Exclude AWMS Zones that already exist
	
		--Create Location Zones from AWMS
		INSERT INTO tblWmLocationZone(ID,ZoneID,LocID,[Description])
		SELECT 
			Id, ZoneId, LocId, Descr
		FROM #tmpLocationZone 

		--Delete migrated zones
		DELETE Z1 FROM tblWmZone Z1
		INNER JOIN #tmpLocationZone Z2 ON Z2.OldId = Z1.Id

		--Migrate CF Zone ID Value
		DECLARE @FieldName NVARCHAR(50), @FieldId INT, @TableName NVARCHAR(255)
		SELECT @FieldName = 'Zone ID'
		SELECT @TableName = 'tblWmExtLoc'
		SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)

		IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
		BEGIN
			EXEC sp_executesql N'
			UPDATE E 
			SET E.ZoneID = E.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Zone ID"]/Value)[1]'', ''nvarchar(255)'')
			FROM tblWmExtLoc E
			INNER JOIN tblWmLocationZone L ON L.LocId = E.LocId AND L.ZoneId = E.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Zone ID"]/Value)[1]'', ''nvarchar(255)'')
			WHERE E.CF IS NOT NULL'
		END

	END

	--Business Rules:
	--Label Style for AWMS Receiving: WMRecLblStyle
	UPDATE WMS
	SET WMS.ConfigValue = AWMS.ConfigValue
	FROM tblSmConfigValue WMS
	INNER JOIN tblSmConfigValue AWMS ON AWMS.ConfigRef = 4001 AND WMS.ConfigRef = 1016

	--Allow to Receive More Than Ordered Quantities: AWMSAllowReceiveMoreThanOrderedQty
	UPDATE WMS
	SET WMS.ConfigValue = AWMS.ConfigValue
	FROM tblSmConfigValue WMS
	INNER JOIN tblSmConfigValue AWMS ON AWMS.ConfigRef = 4006 AND WMS.ConfigRef = 1015

	--Allow to Pick more than Required Quantity: AWMSAllowPickMoreThanReqQty
	UPDATE WMS
	SET WMS.ConfigValue = AWMS.ConfigValue
	FROM tblSmConfigValue WMS
	INNER JOIN tblSmConfigValue AWMS ON AWMS.ConfigRef = 4007 AND WMS.ConfigRef = 1014

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSDataMigration_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSDataMigration_proc'
GO
