USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTransPost_UpdateActivity_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTransPost_UpdateActivity_proc]
AS
BEGIN TRY
	DECLARE @TransType nvarchar(10), @TransTypePC nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' --APTRANS
	SELECT @TransTypePC = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePCGEN' --PCGEN

	UPDATE dbo.tblPcActivity SET [Status] = 2, GLAcctCost = td.GLAcct, 
		ActivityDate = th.InvoiceDate, FiscalYear = th.FiscalYear, FiscalPeriod = th.GLPeriod
	FROM #PostTransList l INNER JOIN dbo.tblApTransHeader th ON l.TransId = th.TransId
		INNER JOIN dbo.tblApTransDetail td ON th.TransId = td.TransID 
		INNER JOIN dbo.tblApTransPc p ON td.TransID = p.TransId AND td.EntryNum = p.EntryNum
		INNER JOIN dbo.tblPcActivity ON p.ActivityId = dbo.tblPcActivity.Id 
	
	--Update actual start date
	UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
	FROM dbo.tblPcProjectDetail INNER JOIN 
		(SELECT p.ProjectDetailId, MIN(th.InvoiceDate) AS TransDate
		 FROM #PostTransList l INNER JOIN dbo.tblApTransHeader th ON l.TransId = th.TransId
			INNER JOIN dbo.tblApTransDetail td ON th.TransId = td.TransID 
			INNER JOIN dbo.tblApTransPc p ON td.TransID = p.TransId AND td.EntryNum = p.EntryNum 
		 GROUP BY p.ProjectDetailId) t ON dbo.tblPcProjectDetail.Id = t.ProjectDetailId 
	WHERE dbo.tblPcProjectDetail.ActStartDate IS NULL
	
	UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
	FROM dbo.tblPcProjectDetail INNER JOIN 
		(SELECT d.ProjectId, MIN(th.InvoiceDate) AS TransDate
		 FROM #PostTransList l INNER JOIN dbo.tblApTransHeader th ON l.TransId = th.TransId
			INNER JOIN dbo.tblApTransDetail td ON th.TransId = td.TransID 
			INNER JOIN dbo.tblApTransPc p ON td.TransID = p.TransId AND td.EntryNum = p.EntryNum
			INNER JOIN dbo.tblPcProjectDetail d ON p.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject j ON d.ProjectId = j.Id
		 GROUP BY d.ProjectId) t ON dbo.tblPcProjectDetail.ProjectId = t.ProjectId 
	WHERE dbo.tblPcProjectDetail.PhaseId IS NULL AND dbo.tblPcProjectDetail.TaskId IS NULL AND dbo.tblPcProjectDetail.ActStartDate IS NULL


	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypePC, h.[UID] ,et.[Source],et.Destination,et.Rate
	FROM tblSmExchangeRateTrans et		
	INNER JOIN #PostTransList p on et.TransKey = p.TransId AND et.TransType=@TransType
	INNER JOIN tblApTransHeader h on h.TransId =  p.TransId
	INNER JOIN (SELECT TransId FROM tblApTransPc Group by TransID) pc ON  pc.TransId = p.TransId 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_UpdateActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_UpdateActivity_proc'
GO
