USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPreparePayment_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPreparePayment_proc]
AS

SET NOCOUNT ON
BEGIN TRY 	
	DECLARE @ControlId int,@BatchID [nvarchar](6), @PaymentDate datetime, @DiscountsDue datetime,@LogMsg1 nvarchar (255), 
	@LogMsg1Pos tinyint, @LogMsg2 nvarchar (255), @LogMsg2Pos tinyint,@PmtCurrencyId [nvarchar](6), @PmtCurrPrec smallint,
	@FunctCurrencyId [nvarchar](6), @FunctCurrPrec smallint,  @FiscalPeriod smallint, @FiscalYear smallint,@MaxPaymentId  int,
	@MCYN bit
	
	--Retrieve global values
	SELECT @ControlId = Cast([Value] AS int) FROM #GlobalValues WHERE [Key] = 'ControlId'
	SELECT @LogMsg1 = Cast([Value] AS nvarchar(255)) FROM #GlobalValues WHERE [Key] = 'LogMsg1'
	SELECT @LogMsg2 = Cast([Value] AS nvarchar(255)) FROM #GlobalValues WHERE [Key] = 'LogMsg2'
	SELECT @FunctCurrencyId = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'FunctCurrencyId'
	SELECT @FunctCurrPrec = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FunctCurrPrec'
	SELECT @PmtCurrPrec = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PmtCurrPrec'
	SELECT @MCYN = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'MCYN'

	
	IF @ControlId IS NULL OR @LogMsg1 IS NULL OR @LogMsg2 IS NULL OR @FunctCurrencyId IS NULL 
		OR @FunctCurrPrec IS NULL OR @PmtCurrPrec IS NULL OR @MCYN IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	SELECT @LogMsg1Pos = CHARINDEX('%',@LogMsg1), @LogMsg2Pos = CHARINDEX('%',@LogMsg2)
	
	--Get records from tblApPaymentControl 
	SELECT @BatchID = BatchID,@PaymentDate = PaymentDate,@DiscountsDue = DiscountsDue,@PmtCurrencyID = CurrencyID, 
		@FiscalPeriod = FiscalPeriod,@FiscalYear = FiscalYear
		FROM dbo.tblApPaymentControl WHERE ID = @ControlId
		
	
	----From BL	
	--CREATE TABLE #tmpOpenInvoiceList ([Counter] int NOT NULL PRIMARY KEY CLUSTERED ([Counter])) 
	----FROM BL
	--CREATE TABLE [#tmpPreparePaymentLog]([ErrorLogMessage] [nvarchar](150) NULL)

	CREATE TABLE #PaymentDetail(
		[InvCounter] [int] NOT NULL,
		[Status] [tinyint] NOT NULL,--(0 - Payment, 3 - Prepaid)
		[InvCurrencyId] [nvarchar](6) NOT NULL,
		--Vendor info
		[VendorId] [nvarchar](10) NOT NULL,	
		[GroupId] [int] NOT NULL,
		[ValidTen99Invoice] [bit] NOT NULL,
		[VendorHold] [bit] NOT NULL,
		[DeliveryType] [tinyint] NOT NULL,
		[BankAcctNum] [nvarchar](255) NULL, 
		[RoutingCode] [nvarchar](9) NULL,
		--Gross Amt
		[BaseGrossAmtDue] [decimal](28,10) NOT NULL, --BaseGrossAmtDue is total of amounts from transaction line items in functional currency
		[APGrossAmtDue] [decimal](28,10) NOT NULL,	--APGrossAmtDue is total of amounts from transaction line items in payables currency
		[GrossAmtDueInvBase] [decimal](28,10) NOT NULL, -- From tblApOpenInvoice in functional currency
		[GrossAmtDueInv] [decimal](28,10) NOT NULL,-- From tblApOpenInvoice in invoice currency
		[GrossAmtDuePmtBase] [decimal](28,10) NULL, -- Calculated field using payment exchange rates from GrossAmtDuePmt in functional currency
		[GrossAmtDuePmt] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from GrossAmtDueInv in payment currency
		--Discount Taken
		[DiscTakenInvBase] [decimal](28,10) NOT NULL,-- From tblApOpenInvoice in functional currency
		[DiscTakenInv] [decimal](28,10) NOT NULL,-- From tblApOpenInvoice in invoice currency
		[DiscTakenPmtBase] [decimal](28,10) NULL,	-- Calculated field using payment exchange rates from DiscTakenPmt in functional currency
		[DiscTakenPmt] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from DiscTakenInv in payment currency
		--Discount Lost
		[DiscLostInvBase] [decimal](28,10) NOT NULL,-- From tblApOpenInvoice in functional currency
		[DiscLostInv] [decimal](28,10) NOT NULL,-- From tblApOpenInvoice in invoice currency
		[DiscLostPmtBase] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from DiscLostInv in functional currency
		[DiscLostPmt] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from GrossAmtDueInv in payment currency
		--Payment
		[PaymentAmtBase] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from PaymentAmt in functional currency
		[PaymentAmt] [decimal](28,10) NULL,-- Calculated field using payment exchange rates from PaymentAmtInv in payment currency

		[PaymentNum] [nvarchar](10) NULL,
		[PaymentDate] [datetime] NOT NULL,
		[FiscalPeriod] [smallint] NOT NULL,
		[FiscalYear] [smallint] NOT NULL,
		--Link to exhange rate in tblSmExchangeRateTrans
		[TransType] [nvarchar](10) NOT NULL,
		[TransKey] [nvarchar](255) NOT NULL,
		--Gain loss 
		[GLAcctAP] [nvarchar](255) NOT NULL,--	payables account
		[GLAcctGainLoss] [nvarchar](255) NULL, -- Gain/Loss account
		[GLGainLossAmt] [decimal](28,10) NULL DEFAULT(0), --Gain/Loss in payables account currency
		[GLGainLossAmtBase] [decimal](28,10) NULL DEFAULT(0),-- -Gain/Loss in functional Currency
		[BankAccountType] [tinyint] NOT NULL
		 PRIMARY KEY CLUSTERED 
		(
		  [InvCounter] ASC
		)
	) 
	
	CREATE TABLE #Payment(
		[PaymentId] [int] IDENTITY(1,1) NOT NULL,
		[VendorId] [nvarchar](10) NOT NULL,	
		[GroupId] [int] NOT NULL
		PRIMARY KEY CLUSTERED 
		(
		  [PaymentId] ASC
		)
	)	 

	--tblApOpenInvoice.[Status] (0 - Payment, 3 - Prepaid)
	INSERT INTO #PaymentDetail 
	(
		[InvCounter],[Status],[InvCurrencyId],[VendorId],
		[GroupId],
		[ValidTen99Invoice],
		[VendorHold],
		[DeliveryType],
		[BankAcctNum],
		[RoutingCode],
		[BaseGrossAmtDue],[APGrossAmtDue],
		[GrossAmtDueInvBase],	[GrossAmtDueInv],
		[DiscTakenInvBase],
		[DiscTakenInv],
		[DiscLostInvBase],
		[DiscLostInv],
		[PaymentNum],
		[PaymentDate],
		[FiscalPeriod],
		[FiscalYear],
		[TransType], 
		[TransKey],
		[GLAcctAP],
		[BankAccountType]	
	)
	SELECT o.[Counter],o.[Status],o.CurrencyId,o.VendorID, 
		   CASE 
				WHEN o.[Status] = 0 AND v.ChkOpt = 0 THEN 0  -- v.ChkOpt (Consolidated=0 , Individual=1)
				ELSE o.[Counter] 
		   END, 
		   CASE 
				WHEN o.Ten99InvoiceYN = 1 AND Ten99FormCode = '0' THEN 0 
				ELSE 1 
			END, 
			v.VendorHoldYN,
			CASE 
				WHEN o.[Status] = 3  THEN 0
				ELSE v.DeliveryType
			END,
			CASE 
				WHEN o.[Status] = 3  THEN NULL 
				ELSE v.BankAcctNum
			END,	
			CASE 
				WHEN o.[Status] = 3  THEN NULL
				ELSE v.RoutingCode
			END,
			o.BaseGrossAmtDue,o.APGrossAmtDue,
			o.GrossAmtDue,o.GrossAmtDueFgn,
			CASE 
				WHEN o.[Status] = 3 OR o.DiscDueDate >= @DiscountsDue THEN DiscAmt 
				ELSE 0 
			END, 
			CASE 	
				WHEN o.[Status] = 3 OR o.DiscDueDate >= @DiscountsDue  THEN DiscAmtFgn 
				ELSE 0
			END, 
			CASE 
				WHEN o.[Status] = 0 AND o.DiscDueDate < @DiscountsDue THEN DiscAmt 
				ELSE 0
			END, 
			CASE
				WHEN o.[Status] = 0 AND o.DiscDueDate < @DiscountsDue THEN DiscAmtFgn
				ELSE 0 
			END, 		
			o.CheckNum,
			CASE 
				WHEN o.[Status] = 3  THEN o.CheckDate 
				ELSE @PaymentDate
			END,
			CASE 
				WHEN o.[Status] = 3  THEN o.CheckPeriod 
				ELSE @FiscalPeriod
			END,	
			CASE 
				WHEN o.[Status] = 3  THEN o.CheckYear
				ELSE @FiscalYear
			END,
			CASE
				WHEN o.[Status] = 3  THEN  'APPREPAY' 
				ELSE 'APPAYMENT' 
			END, 
			CAST(CASE 
						WHEN o.[Status] = 3 THEN o.[Counter]
						ELSE @ControlId
					END AS nvarchar(255)),
			o.GLAcctAP,
			CASE 
				WHEN o.[Status] = 3  THEN 0
				ELSE v.BankAccountType
			END
    FROM dbo.tblApOpenInvoice o 
	INNER JOIN #tmpOpenInvoiceList t ON o.[Counter] = t.[Counter]
	INNER JOIN dbo.tblApVendor v ON o.VendorID = v.VendorID
	
	-- Log Vendor on hold messages 
	INSERT INTO [#tmpPreparePaymentLog] ( ErrorLogMessage ) 
	SELECT STUFF(@LogMsg1, @LogMsg1Pos, 2, VendorId)
	FROM #PaymentDetail 
	WHERE [VendorHold] = 1 
	GROUP BY VendorId

	-- Log not a Ten99 vendor warning messages 
	INSERT INTO [#tmpPreparePaymentLog] ( ErrorLogMessage ) 
	SELECT STUFF(@LogMsg2, @LogMsg2Pos, 2, VendorId) 
	FROM #PaymentDetail
	WHERE [ValidTen99Invoice]= 0
	GROUP BY VendorId

	--delete records for vendors on hold 
	DELETE #PaymentDetail
	WHERE VendorHold = 1	
	
	--Delete records with negative values.
	DELETE d
	FROM #PaymentDetail d
	INNER JOIN (
						SELECT VendorId, GroupId 
						FROM #PaymentDetail
						WHERE [Status] = 0 
						GROUP BY VendorId,GroupId
						HAVING SUM(GrossAmtDueInv - DiscTakenInv) < 0 

			        ) n  ON d.VendorId = n.VendorId 
							 AND d.GroupId = n.GroupId	

     --Update functional currency value.
	--When invoice currency and functional currency are same, take the invoice value directly 
	--else use payment exchange rates to calculate the values
	UPDATE d
	SET d.GrossAmtDuePmtBase = CASE 
									          WHEN d.InvCurrencyId = @FunctCurrencyId THEN d.GrossAmtDueInvBase
									          Else ROUND(d.GrossAmtDueInv * e.Rate, @FunctCurrPrec)
							               END
		,d.DiscTakenPmtBase = CASE 										
										 WHEN d.InvCurrencyId = @FunctCurrencyId THEN d.DiscTakenInvBase
							             Else ROUND(d.DiscTakenInv * e.Rate, @FunctCurrPrec)
						              END
		,d.DiscLostPmtBase = CASE 									 
							           WHEN d.InvCurrencyId = @FunctCurrencyId THEN d.DiscLostInvBase
							           Else ROUND(d.DiscLostInv * e.Rate, @FunctCurrPrec)
						           END
	FROM #PaymentDetail d
	LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
	              AND d.TransType = e.TransType 
				  AND d.InvCurrencyId = e.Source 
				  AND @FunctCurrencyId = e.Destination 

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT TOP 1 InvCounter  FROM #PaymentDetail 
	                WHERE  GrossAmtDuePmtBase IS NULL OR DiscTakenPmtBase IS NULL OR DiscLostPmtBase IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	

	--Update payment currency value from invoice fields using payment exchange rates.
	--When payment currency is functional currency, take the payment base value directly 
	--When invoice currency and payment currency are same, take the invoice value directly 
	--else use payment exchange rates to calculate the values
	UPDATE d
	SET d.GrossAmtDuePmt= CASE 
										WHEN @PmtCurrencyId = @FunctCurrencyId THEN d.GrossAmtDuePmtBase 
										WHEN d.InvCurrencyId = @PmtCurrencyId THEN d.GrossAmtDueInv 
										Else ROUND(d.GrossAmtDueInv * e.Rate, @PmtCurrPrec)
									END
		,d.DiscTakenPmt = CASE	
									WHEN @PmtCurrencyId = @FunctCurrencyId THEN d.DiscTakenPmtBase 							
									WHEN d.InvCurrencyId = @PmtCurrencyId THEN d.DiscTakenInv
									Else ROUND(d.DiscTakenInv * e.Rate, @PmtCurrPrec)
								END
		,d.DiscLostPmt = CASE 		
								  WHEN @PmtCurrencyId = @FunctCurrencyId THEN d.DiscLostPmtBase 							 
								  WHEN d.InvCurrencyId = @PmtCurrencyId THEN d.DiscLostInv
								  Else ROUND(d.DiscLostInv * e.Rate, @PmtCurrPrec)
							   END
	FROM #PaymentDetail d
	LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
	              AND d.TransType = e.TransType 
				  AND d.InvCurrencyId = e.Source 
				  AND @PmtCurrencyId = e.Destination 

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT TOP 1 InvCounter  FROM #PaymentDetail 
	                WHERE  GrossAmtDuePmt IS NULL OR DiscTakenPmt IS NULL OR DiscLostPmt IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--Update payment amount
	UPDATE #PaymentDetail
	SET PaymentAmt = GrossAmtDuePmt - DiscTakenPmt
		 ,PaymentAmtBase = GrossAmtDuePmtBase - DiscTakenPmtBase
	
	--Update gain/loss when MC is installed
	IF @MCYN = 1
	BEGIN	
		UPDATE pd
		SET pd.GLGainLossAmt = g.GLGainLossAmt
			 ,pd.GLGainLossAmtBase = g.GLGainLossAmtBase
			 ,pd.GLAcctGainLoss =   CASE 	 -- A positive value of GLGainLossAmtBase 	means gain and negetive value is loss		
											    WHEN (g.GLGainLossAmt = 0 AND g.GLGainLossAmtBase = 0) THEN NULL			 
											    WHEN g.GLGainLossAmtBase > 0 THEN g.GlAcctRealGain
										        Else g.GlAcctRealLoss
										     END
		 FROM #PaymentDetail pd
		 INNER JOIN (
							--Calculate the gain/lose in functional and payables currency
							SELECT c.GlAcctRealGain,c.GlAcctRealLoss,d.InvCounter,
								 CASE 									 
									WHEN a.ApAcctCurrencyId = @FunctCurrencyId THEN (d.BaseGrossAmtDue - d.DiscTakenPmtBase - d.PaymentAmtBase)
									WHEN a.ApAcctCurrencyId = d.InvCurrencyId THEN (d.APGrossAmtDue - d.GrossAmtDueInv)
									Else d.APGrossAmtDue -  ROUND(d.GrossAmtDueInv * e.Rate, c.CurrDecPlaces)
								 END as GLGainLossAmt, 
								 (d.BaseGrossAmtDue - d.DiscTakenPmtBase - d.PaymentAmtBase) AS GLGainLossAmtBase					 
							FROM #PaymentDetail d
							INNER JOIN 
										   ( 
											   -- Get payables account currency id. 
												SELECT 
													p.InvCounter,isnull(a.CurrencyID,@FunctCurrencyId) AS ApAcctCurrencyId
												FROM #PaymentDetail p
												LEFT JOIN dbo.tblGlAcctHdr a ON p.GLAcctAP = a.AcctId
										   ) a ON d.InvCounter = a.InvCounter

							LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
										  AND d.TransType = e.TransType 
										  AND d.InvCurrencyId = e.Source  
										  AND a.ApAcctCurrencyId = e.Destination 
							LEFT JOIN [dbo].[tblSmCurrency] c ON a.ApAcctCurrencyId = c.[CurrID]

				         ) g ON pd.InvCounter = g.InvCounter
   
	   --abort if invalid currency convertion exist			
		IF EXISTS (SELECT TOP 1 InvCounter  FROM #PaymentDetail 
						WHERE  GLGainLossAmt IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END
	END			
	
	/* Persist records in tblApPayment and tblApPaymentDetail */

	--load #Payment temp table 
	INSERT INTO #Payment(VendorId,GroupId)
	SELECT VendorId, GroupId 
	FROM #PaymentDetail
	GROUP BY VendorId,GroupId

	--Insert records in tblApPayment		

	-- Set IDENTITY_INSERT to ON 
	SET IDENTITY_INSERT dbo.tblApPayment ON

	--Get the max id from tblApPayment
	SELECT @MaxPaymentId =ISNULL(MAX(ID),0)
	FROM dbo.tblApPayment

	INSERT INTO dbo.tblApPayment
	(
		ID,
		ControlID,PmtType,PaymentNum,
		PaymentDate,FiscalPeriod,FiscalYear,
		DeliveryType,BankAcctNum,RoutingCode,BankAccountType
	)
	SELECT p.PaymentId+@MaxPaymentId,
		@ControlId,d.[Status],d.PaymentNum,
		d.PaymentDate,d.FiscalPeriod,d.FiscalYear,
		d.DeliveryType,d.BankAcctNum,d.RoutingCode,d.BankAccountType
	FROM #Payment p 
	INNER JOIN 
				( 
					SELECT DISTINCT VendorId,GroupId,
						[Status],PaymentNum,
						PaymentDate,FiscalPeriod,FiscalYear,
						DeliveryType,BankAcctNum,RoutingCode,BankAccountType
					FROM #PaymentDetail 
					
				) d ON p.GroupId = d.GroupId AND p.VendorId = d.VendorId

	-- Set IDENTITY_INSERT to OFF 
	  SET IDENTITY_INSERT dbo.tblApPayment OFF
	
	--Insert records in tblApPaymentDetail
	INSERT INTO dbo.tblApPaymentDetail
	(
		PaymentID,InvoiceCounter,ControlID,
		GrossAmtDue,GrossAmtDueBase,
		DiscLost,DiscLostBase,
		DiscTaken,DiscTakenBase,
		PaymentAmt,PaymentAmtBase,
		GLAcctGainLoss,
		GLGainLossAmt,GLGainLossAmtBase
	)
	SELECT p.PaymentId+@MaxPaymentId,d.InvCounter,@ControlId,
		d.GrossAmtDuePmt,d.GrossAmtDuePmtBase,
		d.DiscLostPmt,d.DiscLostPmtBase,
		d.DiscTakenPmt,d.DiscTakenPmtBase,
		d.PaymentAmt,d.PaymentAmtBase,
		d.GLAcctGainLoss,
		d.GLGainLossAmt,d.GLGainLossAmtBase
	FROM #Payment p 
	INNER JOIN #PaymentDetail d ON p.GroupId = d.GroupId AND p.VendorId = d.VendorId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_proc'
GO
