USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoImportProcessAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoImportProcessAPT_proc]  
   @ImportBatchId nvarchar(14),  
   @FileSeq int=0  
AS
SET NOCOUNT ON       
BEGIN TRY

  DECLARE @i int,  
		@key1 nvarchar(50),  
		@key2 nvarchar(50),  
		@key3 nvarchar(50),  
		@key4 nvarchar(50),  
		@key5 nvarchar(50),  
		@key1Save nvarchar(50),  
		@key2Save nvarchar(50),  
		@key3Save nvarchar(50),  
		@key4Save nvarchar(50),  
		@key5Save nvarchar(50),  
		@key1Seq int,  
		@key2Seq int,  
		@key3Seq int,  
		@key4Seq int,  
		@key5Seq int,  
		@cImportBatchId nvarchar(14),  
		@cImportBatchIdSave nvarchar(14),  
		@cFileSeq int,  
		@cFileSeqSave int,
		@DocId nvarchar(6),  
		@EdiDocNum nvarchar(3),  
		@Segment nvarchar(10),  
		@DocSeq int,  
		@MessageSeq int ,
		@DocAlreadyprocessed int,
		@POAckDocumentId bigint,
		@TPCode nvarchar(12)


   -- return 0
    DECLARE @NumOfPos int,@NumOfDocLines int,@NumOfDocSubLines int,@CurrDocSeq int,@CurDocLine int,@CurDocSubLine int,@CurrAddressSeq int,@CurrISASeq int,@CurrGSSeq int  
  
   -- control   
   DECLARE @ISAControlNum nvarchar(50),@GSControlNum nvarchar(50),@STControlNum nvarchar(50),  @DocumentId bigint
  
   -- header   
   DECLARE @KeyLevelSeq1 int,@ImportDate datetime,@SenderId nvarchar(50),@CustPoNum nvarchar(50),@PoDate nvarchar(50),@PurposeCode nvarchar(50),@TypeCode nvarchar(50),@ContactName nvarchar(50),@ContactPhone nvarchar(50),@BuyerName nvarchar(50),@BuyerPhone nvarchar(50),@DepartmentID nvarchar(50),@MerchandiseTypeCode nvarchar(50),@EDIVendorNumber nvarchar(50),
           @ShipToCode nvarchar(50),@ShipToName nvarchar(50),@ShipToAddr1 nvarchar(50),@ShipToAddr2 nvarchar(50),@ShipToCity nvarchar(50),@ShipToRegion nvarchar(50),@ShipToCountry nvarchar(50),@ShipToPostalCode nvarchar(50),
           @BillToCode nvarchar(50),@BillToName nvarchar(50),@BillToAddr1 nvarchar(50),@BillToAddr2 nvarchar(50),@BillToCity nvarchar(50),@BillToRegion nvarchar(50),@BillToCountry nvarchar(50),@BillToPostalCode nvarchar(50),
           @Duns nvarchar(50),@BackOrderAllowedYN nvarchar(50),@ShipAsapYN nvarchar(50),@ShipToStoreYN nvarchar(50),@PORelease nvarchar(50),@BaseCustPoNum  nvarchar(50),@sMessage nvarchar(255),@ProdGroup nvarchar(50),@ShipCarrier nvarchar(50),@ShipCode nvarchar(50),@ShipNote nvarchar(50),@DontDelAftDate nvarchar(50),@ShipNotBefDate nvarchar(50),@ShipNoLaterDate nvarchar(50),
		   @BuyerCode nvarchar(50),@BuyerName1 nvarchar(50),@BuyerAddr1 nvarchar(50),@BuyerAddr2 nvarchar(50),@BuyerCity nvarchar(50),@BuyerRegion nvarchar(50),@BuyerZipcode nvarchar(50),@AcctNum nvarchar(50),@EDIWebOrderNum nvarchar(50),@DiscountAmt nvarchar(50),@DiscountRate nvarchar(50),@ReqShipDate nvarchar(50), @FOBCode nvarchar(50), @ReqDeliveryDate nvarchar(50)
   
   DECLARE @KeyLevelSeq2 int, @EntryNum nvarchar(50),@PoLineNum nvarchar(50),@StoreNum nvarchar(50),
           @QtyOrd nvarchar(50),@UnitsSellPO nvarchar(50),@UnitPrice nvarchar(50),@RetailPrice nvarchar(50),@QtyPack nvarchar(50),
           @SoUOMConversionFactor decimal(20,10),@ItemBuyerCode nvarchar(50),@ItemVendorCode nvarchar(50),@ItemUpc nvarchar(50),@ItemDecr nvarchar(50),@ColorDescr nvarchar(50),@SizeDescr nvarchar(50),
           @ManufTypeCode nvarchar(50),@POUOM nvarchar(50),@RequestedDate nvarchar(50),@OrgQtyOrd nvarchar(50),@OrgUnitPrice nvarchar(50),@OrgRequestedDate nvarchar(50),
		   @ItemColorDescr nvarchar(50), @ItemSizeDescr nvarchar(50), @ItemEAN nvarchar(50), @ItemGTIN nvarchar(50)
         

   DECLARE @SACCode1 nvarchar(10), @SACAmount1 decimal(28,10), @SACPct1 decimal(28,10), 
	       @SACCode2 nvarchar(10), @SACAmount2 decimal(28,10), @SACPct2 decimal(28,10),
		   @SACCode3 nvarchar(10), @SACAmount3 decimal(28,10), @SACPct3 decimal(28,10),
		   @SACCode4 nvarchar(10), @SACAmount4 decimal(28,10), @SACPct4 decimal(28,10),
		   @SACCode5 nvarchar(10), @SACAmount5 decimal(28,10), @SACPct5 decimal(28,10),
		   @SACCode6 nvarchar(10), @SACAmount6 decimal(28,10), @SACPct6 decimal(28,10)

   SET  @DocId='850-I'  

   SELECT @DocumentId =ID,@EdiDocNum=ISNULL(DocID,'') 
   FROM tblEcDocument   
   WHERE DocId=@DocId  

   CREATE TABLE #tSeq(AutoId int IDENTITY(1,1),ImportBatchId nvarchar(14),FileSeq int, RecSeq int, TempTblKey int, Segment nvarchar(10), DocSeq int,MessageSeq  int,KeyLevel int, Key1 nvarchar(100),Key2 nvarchar(100),Key3 nvarchar(100),Key4 nvarchar(100),Key5 nvarchar(100),Seq1 int, Seq2 int, Seq3 int,Seq4 int,Seq5 int)  
   CREATE TABLE #tKey(TempTblKey int,KeyLevel int)   


   INSERT INTO #tSeq(ImportBatchId,FileSeq,RecSeq,TempTblKey,Segment,Key1,Key2,Key3,Key4,Key5)  
   SELECT DISTINCT ImportBatchId,FileSeq,RecSeq,t.Id,Fld01, '' Key1, '' Key2,'' Key3,'' Key5,'' Key5  
   FROM tblEcTempImport t
   WHERE t.DocId=@DocumentId  AND ImportBatchId=@ImportBatchId AND (FileSeq=@FileSeq OR @FileSeq=0)  
   ORDER BY ImportBatchId,FileSeq,RecSeq  

  
   SELECT @i=1,
		  @key1Save = '^',
		  @key2Save = '^',
		  @key3Save = '^',
		  @key4Save = '^',
		  @key5Save = '^',
		  @key1Seq = 0,
		  @key2Seq = 0,
		  @key3Seq = 0,
		  @key4Seq = 0,
		  @key5Seq = 0,
		  @cImportBatchId = '',
		  @cImportBatchIdSave = '^',
		  @cFileSeq = 0,
		  @cFileSeqSave = 0,  
		  @cFileSeqSave = 0,  
		  @DocSeq=0,  
		  @MessageSeq=0  
  
   WHILE @i<=(SELECT MAX(AutoId) FROM #tSeq)  
   BEGIN  
   
      SELECT @cImportBatchId=ImportBatchid,@cFileSeq=FileSeq,@Segment=Segment,@key1=Key1,@key2=Key2,@key3=Key3,@key4=Key4,@key5=Key5  
      FROM #tSeq   
      WHERE AutoId=@i  
      
      IF @cImportBatchId<>@cImportBatchIdSave AND @cImportBatchIdSave<>'^'  
      BEGIN  
         SELECT @key1Save='^'  
         SELECT @key1Seq=MAX(KeyLevelSeq1) FROM tblEcPoHeader WHERE ImportBatchId=@ImportBatchId  
         SELECT @key1Seq=ISNULL(@key1Seq,0)+1  
         SET @cImportBatchIdSave=@cImportBatchId  
      END  

      IF @Segment='HDR' OR @cFileSeq<>@cFileSeqSave  
      BEGIN  
         SET @key1Seq=@key1Seq+1  
         SET @key1Save=ISNULL(@key1,'')  
         SET @cFileSeqSave=@cFileSeq    SELECT @key2Save='^',@key2Seq=0  
         SET @DocSeq=@DocSeq+1  
      END  

      IF @Segment='NTE'  
      BEGIN    
         SET @MessageSeq=@MessageSeq+1  
      END  
      ELSE IF @MessageSeq>0  
      BEGIN   
         IF @Segment <>'NTE'
         BEGIN  
            SET @MessageSeq=0  
         END  
      END  
  
      IF @Segment='DTL'  
      BEGIN  
         SET @key2Seq=@key2Seq+1  
         SET @key2Save=ISNULL(@key2,'')  
  
         SELECT @key3Save='^',@key3Seq=0  
      END  

      IF @Segment='ALL'  
      BEGIN  
         SELECT @key2Save='^',@key2Seq=0 
         SELECT @key3Save='^',@key3Seq=0  
      END  
     
      UPDATE #tSeq SET Seq1=@key1Seq,Seq2=@key2Seq,Seq3=@key3Seq,Seq4=@key4Seq,Seq5=@key5Seq,DocSeq=@DocSeq,MessageSeq=@MessageSeq  
      WHERE AutoId=@I  
  
      SET @i=@i+1 
	  
   END   ----End While
  
  
  INSERT INTO #tKey(TempTblKey,KeyLevel)
  SELECT MIN(TempTblKey),1
  FROM #tSeq s
  GROUP BY ImportBatchId,Seq1

    -- Header Loop  
  DECLARE @lastMailContolId bigint,@lastPoHeaderId bigint, @lastPoDetailID bigint,@lastEcCommId bigint
  SET @CurrDocSeq=1   
  SELECT @NumOfPos=MAX(DocSeq) FROM #tSeq  

  --Generate new PO Header ID
  SELECT @lastPoHeaderId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
  --Generate new PO Detail ID
  SELECT @lastPoDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
  --Generate new Mail Control ID
  SELECT @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
  ----Generate new EcComm ID
  SELECT @lastEcCommId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  WHILE @CurrDocSeq<=@NumOfPos  
  BEGIN  
  
	   SET @CurDocLine=1  
  
	   -- reset   
	   SELECT @ISAControlNum =null,@GSControlNum=null,@STControlNum=null ,@KeyLevelSeq2=0 

	   SELECT @NumOfDocLines=MAX(Seq2)   
	   FROM #tSeq   
	   WHERE DocSeq=@CurrDocSeq   

	   SELECT @DocAlreadyprocessed=MAX(KeyLevelSeq1)  
	   FROM  tblEcMailControl m
	   WHERE m.DocId=@DocumentId AND m.ImportBatchId=@ImportBatchId GROUP BY m.ImportBatchId
	   SELECT @DocAlreadyprocessed=ISNULL(@DocAlreadyprocessed,0)

	   SELECT @ImportBatchId=ti.ImportBatchId,@KeyLevelSeq1=t.DocSeq+@DocAlreadyprocessed,@SenderId=ti.Fld27,@ImportDate=ti.Importdate,@CustPoNum=ti.Fld04,@PurposeCode='',@TypeCode=ti.Fld18,
	          @ContactName=ti.Fld08,@ContactPhone=ti.Fld09,@BuyerName=ti.Fld08,@BuyerPhone=ti.Fld09,@DepartmentID=ti.Fld15,@ShipToCode=ti.Fld05,@BillToCode=ti.Fld06,@ShipToName=ti.Fld20,
			  @ShipToAddr1=ti.Fld21,@ShipToAddr2=ti.Fld22,@ShipToCity=ti.Fld23,@ShipToRegion=ti.Fld24,@ShipToCountry=ti.Fld26,@ShipToPostalCode=ti.Fld25,@Duns='',@BackOrderAllowedYN='',@ShipAsapYN='',
			  @ShipToStoreYN='', @BaseCustPoNum='',@sMessage='',@ProdGroup='',@ShipCarrier=ti.Fld11,@ShipCode='',@ShipNote='',@DontDelAftDate='',@ShipNotBefDate='',@ShipNoLaterDate=ti.fld17,
			  @BuyerCode='',@BuyerName1='',@BuyerAddr1='',@BuyerAddr2='',@BuyerCity='',@BuyerRegion='',@BuyerZipcode='',@AcctNum='',@EDIWebOrderNum='',@DiscountAmt='',@DiscountRate='',@ReqShipDate=ti.fld16,
			  @EDIVendorNumber=ti.Fld19, @TPCode=ti.Fld02
	   FROM #tSeq t  
	   INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
	   WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='HDR' 

	   SELECT @PORelease=Fld07,@PODate=ti.Fld06,@BillToName=ti.Fld30,@BillToAddr1=ti.Fld31,@BillToAddr2=ti.Fld32,@BillToCity=ti.Fld33,@BillToRegion=ti.Fld34,@BillToCountry='',@BillToPostalCode=ti.Fld35,
			  @CurrISASeq=ti.Fld15,@CurrGSSeq=ti.Fld16,@STControlNum=ti.Fld17, @MerchandiseTypeCode=ti.Fld18, @FOBCode = Fld08, @ReqDeliveryDate = Fld13 
	   FROM #tSeq t  
	   INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
	   WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='INF'  

	   SELECT @SACCode1 = Fld06, @SACAmount1 = Fld08, @SACPct1 = Fld07, @SACCode2 = Fld09, @SACAmount2 = Fld11, @SACPct2 = Fld10,
		      @SACCode3 = Fld12, @SACAmount3 = Fld14, @SACPct3 = Fld13, @SACCode4 = Fld15, @SACAmount4 = Fld17, @SACPct4 = Fld16,
			  @SACCode5 = Fld18, @SACAmount5 = Fld20, @SACPct5 = Fld19, @SACCode6 = Fld21, @SACAmount6 = Fld23, @SACPct6 = Fld22
	   FROM #tSeq t  
	   INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
	   WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='ALL'  

	   SELECT  @PoDate=CASE WHEN ISNULL(@PoDate,'')='' OR ISDATE(@PoDate)=0 THEN NULL ELSE CAST(@PoDate AS DATETIME) END
	   SELECT  @DontDelAftDate=CASE WHEN ISNULL(@DontDelAftDate,'')='' OR ISDATE(@DontDelAftDate)=0 THEN NULL ELSE CAST(@DontDelAftDate AS DATETIME) END
	   SELECT  @ReqShipDate=CASE WHEN ISNULL(@ReqShipDate,'')='' OR ISDATE(@ReqShipDate)=0 THEN NULL ELSE CAST(@ReqShipDate AS DATETIME) END
	   SELECT  @ReqDeliveryDate=CASE WHEN ISNULL(@ReqDeliveryDate,'')='' OR ISDATE(@ReqDeliveryDate)=0 THEN NULL ELSE CAST(@ReqDeliveryDate AS DATETIME) END

	   SET @lastPoHeaderId = @lastPoHeaderId + 1

	   INSERT INTO tblEcPoHeader(ID,ImportBatchId,KeyLevelSeq1,ImportDate, SenderId,CustPoNum,PoDate,POType, EDIDepartment,MerchandiseTypeCode,
								  EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
								  EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
								  ReleaseNumber,CarrierName,CarrierCode,CancelDate,OrderRef,ReqShipDate,OrderNotes,EDIVendorNumber,FOBCode,ReqDeliveryDate)
		VALUES (@lastPoHeaderId,@ImportBatchId,@KeyLevelSeq1,@ImportDate,@SenderId,@CustPoNum,@PoDate,@TypeCode,@DepartmentID,@MerchandiseTypeCode,
				@ShipToCode,@ShipToName,@ShipToAddr1,@ShipToAddr2,@ShipToCity,@ShipToRegion,@ShipToCountry,@ShipToPostalCode,@BillToCode,
				@BillToName,@BillToAddr1,@BillToAddr2,@BillToCity,@BillToRegion,@BillToCountry,@BillToPostalCode,@PORelease,@ShipCarrier,
				@ShipCode,@DontDelAftDate,@EDIWebOrderNum,@ReqShipDate,@sMessage,@EDIVendorNumber,@FOBCode,@ReqDeliveryDate)

		SET @lastEcCommId = @lastEcCommId + 1

		---Insert PO Acknowledgement record (Disabled pending future review)
		--SELECT @POAckDocumentId=ID  FROM tblEcDocument   
		--	WHERE DocId='855-O'

		--	INSERT INTO tblEcComm(Id,DocID,PostRun,DocKey,OnHoldYn,[Status]) VALUES 
		--						(@lastEcCommId,@POAckDocumentId,@ImportBatchId,null,0,0)

        SET @lastMailContolId = @lastMailContolId + 1
		  
	    INSERT INTO tblEcMailControl(ID,ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,SenderID,ISAControlNum,GSControlNum,STControlNum,TPCode)  
	    VALUES(@lastMailContolId,@ImportBatchId,@KeyLevelSeq1,NULL,@DocumentId,'850',@CustPOnUm,@SenderID,@ISAControlNum,@GSControlNum,@STControlNum,@TPCode)
	 
		--Generate PO SAC ID
		DECLARE @lastPoSacID bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		
		-- Header SAC 1
		IF (ISNULL(@SACCode1, '') <> '' AND (@SACAmount1 IS NOT NULL OR @SACPct1 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode1 AS SACCode, NULL AS SACDescr,1 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct1 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount1 AS SACAmount, -1 AS SACAdjType, @SACPct1 AS SACPct
		END
 
		SET @lastPoSacID = @lastPoSacID + 1

		-- Header SAC 2
		IF (ISNULL(@SACCode2, '') <> '' AND (@SACAmount2 IS NOT NULL OR @SACPct2 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode2 AS SACCode, NULL AS SACDescr,2 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct2 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount2 AS SACAmount, -1 AS SACAdjType, @SACPct2 AS SACPct
		END
		
		SET @lastPoSacID = @lastPoSacID + 1

		-- Header SAC 3
		IF (ISNULL(@SACCode3, '') <> '' AND (@SACAmount3 IS NOT NULL OR @SACPct3 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode3 AS SACCode, NULL AS SACDescr,3 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct3 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount3 AS SACAmount, -1 AS SACAdjType, @SACPct3 AS SACPct
		END

		SET @lastPoSacID = @lastPoSacID + 1

		-- Header SAC 4
		IF (ISNULL(@SACCode4, '') <> '' AND (@SACAmount4 IS NOT NULL OR @SACPct4 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode4 AS SACCode, NULL AS SACDescr,4 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct4 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount4 AS SACAmount, -1 AS SACAdjType, @SACPct4 AS SACPct
		END
 
		SET @lastPoSacID = @lastPoSacID + 1

		-- Header SAC 5
		IF (ISNULL(@SACCode5, '') <> '' AND (@SACAmount5 IS NOT NULL OR @SACPct5 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode5 AS SACCode, NULL AS SACDescr,5 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct5 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount5 AS SACAmount, -1 AS SACAdjType, @SACPct5 AS SACPct
		END
		
		SET @lastPoSacID = @lastPoSacID + 1

		-- Header SAC 6
		IF (ISNULL(@SACCode6, '') <> '' AND (@SACAmount6 IS NOT NULL OR @SACPct6 IS NOT NULL))
		BEGIN

			INSERT INTO tblEcPoSAC(ID, POHeaderID,PODetailID,SACCode,SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount, SACAdjType, SACPct)
			SELECT @lastPoSacID AS ID, @lastPoHeaderId AS POHeaderID, NULL AS PODetailID, @SACCode6 AS SACCode, NULL AS SACDescr,6 AS SACSeq, 0 AS ImpliedYN,
				CASE WHEN @SACPct6 IS NOT NULL THEN 1 ELSE 0 END AS SACIndicator, @SACAmount6 AS SACAmount, -1 AS SACAdjType, @SACPct6 AS SACPct
		END
		  -- Detail Loop
 
		  WHILE @CurDocLine<=@NumOfDocLines  
		  BEGIN  
		  	
			SET @lastPoDetailID = @lastPoDetailID + 1

			  SET @KeyLevelSeq2=@KeyLevelSeq2+1  
			  SELECT @lastPoDetailID=(@lastPoDetailID + ROW_NUMBER() OVER (ORDER BY t.ImportBatchId,t.Seq1, Fld02,Fld04, Fld62)), @EntryNum=@KeyLevelSeq2,@PoLineNum=ti.Fld06,@StoreNum=ti.Fld05,@QtyOrd=ti.Fld13,@UnitsSellPO=ti.Fld14,@UnitPrice=ti.Fld15,@RetailPrice=0,@QtyPack=1,@SoUOMConversionFactor=1,
					 @ItemBuyerCode=ti.Fld09,@ItemVendorCode=ti.Fld07,@ItemUpc=ti.Fld08,@ItemDecr=ti.Fld10,@ColorDescr='',@SizeDescr='',
					 @ManufTypeCode='',@POUOM=ti.Fld14,@RequestedDate='',@OrgQtyOrd=ti.Fld13,@OrgUnitPrice=ti.Fld15,@OrgRequestedDate='',
					 @EDIWebOrderNum='', @ItemColorDescr = ti.Fld11, @ItemSizeDescr = ti.Fld12, @ItemEAN = ti.Fld20, @ItemGTIN = ti.Fld29
			  FROM #tSeq t  
			  INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
			  WHERE t.DocSeq=@CurrDocSeq AND t.Seq2=@CurDocLine AND ti.Fld01='DTL'    
 

			  SELECT @QtyOrd=CASE WHEN ISNULL(@QtyOrd,'')=''THEN '0'  ELSE @QtyOrd END,
					 @UnitsSellPO=CASE WHEN ISNULL(@UnitsSellPO,'')=''THEN '0'  ELSE @UnitsSellPO END,
					 @UnitPrice=CASE WHEN ISNULL(@UnitPrice,'')=''THEN '0'  ELSE @UnitPrice END,
					 @RetailPrice=CASE WHEN ISNULL(@RetailPrice,'')=''THEN '0'  ELSE @RetailPrice END,
					 @QtyPack=CASE WHEN ISNULL(@QtyPack,'')=''THEN '0'  ELSE @QtyPack END
			
			  INSERT INTO dbo.tblEcPoDetail(ID, POHeaderID,KeyLevelSeq2,SenderId,CustPoNum,PoLineNum,EDIBillToCode,QtyOrd,POUnitsSell,UnitPrice,RetailPrice,PackQty,ItemBuyerCode,
											ItemVendorCode,ItemUpc,ItemDescr,RequestedDate,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
											ItemColorDescr,ItemSizeDescr,ItemEAN,ItemGTIN)  
			  VALUES (@lastPoDetailID,@lastPoHeaderId,@KeyLevelSeq2,@SenderId,@CustPoNum,@PoLineNum,@StoreNum,@QtyOrd,@UnitsSellPO,@UnitPrice,@RetailPrice,@QtyPack,
					  @ItemBuyerCode,@ItemVendorCode,@ItemUpc,@ItemDecr, NULLIF(@RequestedDate,''),@ShipToName,@ShipToAddr1,@ShipToAddr2,@ShipToCity,@ShipToRegion,@ShipToCountry,@ShipToPostalCode,
					  @ItemColorDescr,@ItemSizeDescr,@ItemEAN,@ItemGTIN)       
		 
			  SET @CurDocLine=@CurDocLine+1  

		  END -- End Detail Loop
	  
		  SET @CurrDocSeq=@CurrDocSeq+1

   END -- End Header Loop  
  
   
  SELECT  (SELECT COUNT(*) FROM #tSeq) AS TotalRows, (SELECT COUNT(*) FROM #tKey WHERE KeyLevel=1) TotalKeys  
  
  DELETE i  
  FROM tblEcTempImport i  
  INNER JOIN #tSeq s ON i.id=s.TempTblKey  
  
  DELETE FROM tblEcTempImport  
  WHERE DocId=@DocumentId 
   
   END TRY            
BEGIN CATCH      
               
    EXEC dbo.trav_RaiseError_proc            
END CATCH   

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportProcessAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoImportProcessAPT_proc'
GO
