USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrLaborTypesWhereUsed_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrLaborTypesWhereUsed_proc]
AS
SET NOCOUNT ON
BEGIN TRY

SELECT l.LaborTypeId, l.Descr, l.HourlyRate, l.ScheduleId,l.PerPieceCost
FROM dbo.tblMrLabor l inner join 
#tmpLaborTypesWhereUsed t on l.LaborTypeId = t.LaborTypeId

SELECT DISTINCT l.LaborTypeId, a.AssemblyId, a.RevisionNo, a.Description 
FROM dbo.tblMrLabor l 
INNER JOIN dbo.tblMbAssemblyRouting r ON l.LaborTypeId = r.LaborTypeId
INNER JOIN dbo.tblMbAssemblyHeader a ON r.HeaderId = a.Id
INNER JOIN #tmpLaborTypesWhereUsed t on t.LaborTypeId = l.LaborTypeId

SELECT DISTINCT l.LaborTypeId, h.RoutingId, r.Step, h.Descr 
FROM dbo.tblMrLabor l 
INNER JOIN dbo.tblMrRoutingDetail r ON l.LaborTypeId = r.LaborTypeId 
INNER JOIN dbo.tblMrRoutingHeader h ON h.RoutingId = r.RoutingId
INNER JOIN #tmpLaborTypesWhereUsed t on t.LaborTypeId = l.LaborTypeId

SELECT l.LaborTypeId, o.OperationId, o.Descr, o.ReqEmployees, o.LaborRunTime, o.LaborRunTimeIn 
FROM dbo.tblMrLabor l INNER JOIN dbo.tblMrOperations o ON l.LaborTypeId = o.LaborTypeId
INNER JOIN #tmpLaborTypesWhereUsed t on t.LaborTypeId = l.LaborTypeId

SELECT l.LaborTypeId, g.MachineGroupId, g.Descr, g.QtyAvail, g.HrlyCostFactor, g.ScheduleId 
FROM dbo.tblMrLabor l 
INNER JOIN (SELECT m.MachineGroupId, m.LaborTypeId, l.Descr 
			FROM dbo.tblMrMachineLabor m LEFT OUTER JOIN dbo.tblMrLabor l ON m.LaborTypeId = l.LaborTypeId
			) m ON l.LaborTypeId = m.LaborTypeId 
INNER JOIN dbo.tblMrMachineGroups g ON m.MachineGroupId = g.MachineGroupId
INNER JOIN #tmpLaborTypesWhereUsed t on t.LaborTypeId = l.LaborTypeId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrLaborTypesWhereUsed_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrLaborTypesWhereUsed_proc'
GO
