USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTransPost_UpdateProject_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTransPost_UpdateProject_proc]
AS
BEGIN TRY
		
		UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
		FROM dbo.tblPcProjectDetail INNER JOIN 
			(SELECT m.ProjectDetailId, MIN(m.TransDate) AS TransDate
			 FROM #PostTransList t INNER JOIN dbo.tblPcTrans m ON t.TransId = m.Id
				INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			 GROUP BY m.ProjectDetailId) t ON dbo.tblPcProjectDetail.Id = t.ProjectDetailId 
		WHERE dbo.tblPcProjectDetail.ActStartDate IS NULL
		
		UPDATE dbo.tblPcProjectDetail SET ActStartDate = t.TransDate
		FROM dbo.tblPcProjectDetail INNER JOIN 
			(SELECT d.ProjectId, MIN(m.TransDate) AS TransDate
			 FROM #PostTransList t INNER JOIN dbo.tblPcTrans m ON t.TransId = m.Id
				INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
				INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id
			 GROUP BY d.ProjectId) t ON dbo.tblPcProjectDetail.ProjectId = t.ProjectId 
		WHERE dbo.tblPcProjectDetail.PhaseId IS NULL AND dbo.tblPcProjectDetail.TaskId IS NULL AND dbo.tblPcProjectDetail.ActStartDate IS NULL
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_UpdateProject_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_UpdateProject_proc'
GO
