USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPeriodicMaint_Invoice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPeriodicMaint_Invoice_proc]
AS

SET NOCOUNT ON
BEGIN TRY


	DECLARE @PostRun [nvarchar](14), @WrkStnDate datetime
	DECLARE @InvcBalFwrd [nvarchar](15)
	DECLARE @InvcFinch [nvarchar](15)
	DECLARE @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @BaseCurrencyPrec smallint
	DECLARE @UpdateInvoiceStatus bit, @SummarizeBFInvoices bit, @DeletePaidInvoiceDate datetime
	DECLARE @BaseCurrency [nvarchar](6)
	DECLARE @BFRollBalances bit
	DECLARE @ExchangeRateID bigint
	DECLARE @ApplyCreditsToOldest bit

	
	-- Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @InvcBalFwrd = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'InvcBalFwrd'
	SELECT @InvcFinch = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'InvcFinch'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @BaseCurrencyPrec = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'BaseCurrencyPrec'
	SELECT @UpdateInvoiceStatus = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'UpdateInvoiceStatus'
	SELECT @SummarizeBFInvoices = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'SummarizeBFInvoices'
	SELECT @DeletePaidInvoiceDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'DeletePaidInvoiceDate'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @BFRollBalances = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BFRollBalances'
	SELECT @ApplyCreditsToOldest = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApplyCreditsToOldest'

	IF @PostRun IS NULL OR @WrkStnDate IS NULL 
	OR @InvcFinch IS NULL OR @InvcBalFwrd IS NULL
	OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL
	OR @BaseCurrencyPrec IS NULL 
	OR @UpdateInvoiceStatus IS NULL OR @SummarizeBFInvoices IS NULL 
	OR @BaseCurrency IS NULL OR @BFRollBalances IS NULL 
	OR @ApplyCreditsToOldest IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT TOP 1 @ExchangeRateID = r.ID
	FROM [dbo].[tblSmExchangeRate] r
	INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID]
	WHERE r.[Type] = 0 AND  r.EffectiveDate < = @WrkStnDate
	ORDER BY r.EffectiveDate DESC

	-- list of summarized invoices for balance forward customers
	CREATE TABLE #BFInvoiceSummary
	(
		CustId [nvarchar](10) NOT NULL, 
		DistCode [nvarchar](6) NOT NULL,
		CurrencyId [nvarchar](6) NOT NULL, 
		ExchRate [decimal](28,10) NULL,
		Amount [decimal](28,10) NULL, 
		AmountFgn [decimal](28,10) NOT NULL, 
		AgingPeriod  tinyint,
		--UNIQUE CLUSTERED (CustId)
	)

	CREATE TABLE #BFFinChgInvoice
	(
		CustId [nvarchar](10) NOT NULL,
		InvoiceNum [nvarchar](15) NULL,
		UNIQUE NONCLUSTERED (CustId, InvoiceNum)

	)
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	( 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		BalanceBase [decimal](28,10) NULL,		
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		RecType smallint,
		AgingPeriod  tinyint,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(
		[ID] INT IDENTITY(1, 1),
		CustId [nvarchar](10) NOT NULL,
		InvcNum [nvarchar](15) NULL,
		AgingPeriod  tinyint, 
		CurrencyID [nvarchar](6) NOT NULL,
		Balance [decimal](28,10) NULL,
		UNIQUE NONCLUSTERED (ID)
	)
	
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmountOI
	( 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		BalanceBase [decimal](28,10) NULL,		
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		RecType smallint,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmountOI
	(		 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		Balance [decimal](28,10) NULL,			
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		ExchRate [decimal](28,10) NULL,
		RecType smallint, 
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (InvoiceID, Ctr) 
	)
	
	-- list of invoice totals by customer id
	CREATE TABLE #InvoiceTotal
	(
		CustId [nvarchar](10) NULL, 
		InvcNum [nvarchar](15) NULL, 
		AmountFgn [decimal](28,10) NOT NULL, 
		RecType smallint  
		UNIQUE CLUSTERED (CustId, InvcNum,RecType)
	)

	CREATE TABLE #BFAgingDistribution 
	(
		[ID] INT IDENTITY(1, 1),
		[Adjustment] [bit], 
		[CustID] [nvarchar](10) NOT NULL, 
		[AgingPeriod] [tinyint], 
		[CurrencyID] [nvarchar](6) NOT NULL, 
		[Amount] [decimal](28,10) NOT NULL,
		UNIQUE NONCLUSTERED (ID)
	) 

	--Use temporary table for cross join to generate multiple records
	CREATE TABLE #CrossJoinRows ([ID] tinyint)
	INSERT INTO #CrossJoinRows ([ID]) VALUES (1)
	INSERT INTO #CrossJoinRows ([ID]) VALUES (2)


	--================
	-- Consolidate Balance Forward customer invoices
	--================
	IF @SummarizeBFInvoices = 1
	BEGIN
				
		-- identify any finance change invoice numbers (to be excluded from summarization)
		INSERT INTO #BFFinChgInvoice (CustId, InvoiceNum)
		SELECT c.CustId, o.InvcNum
		FROM dbo.tblArCust c
		INNER JOIN dbo.tblArOpenInvoice o ON c.CustId = o.CustId 
		WHERE c.AcctType = 1 AND o.RecType = 4 --BF cust/Fin Chg Invoice
		GROUP BY c.CustId, o.InvcNum		
		
		-- Process the application of payments against invoice to determine balance in the invoice currency
		-- use data from the applied invoice records when identified by the payment InvoiceID value.
		INSERT INTO #InvoiceAmount (InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum,CustId,AgingPeriod, ExchTransKey)
		SELECT ISNULL(ai.[Counter], oi.[Counter])		
			, ISNULL(ai.CurrencyId, oi.CurrencyID)
			, SIGN(ISNULL(ai.[RecType], oi.[RecType])) * SUM(CASE WHEN ai.[Counter] IS NULL 
				  THEN 
					   oi.Amt
				  ELSE 
						CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
				  END)		
			, SIGN(ISNULL(ai.[RecType], oi.[RecType])) * SUM(CASE WHEN ai.[Counter] IS NULL 
				  THEN 
						oi.[AmtFgn]
				  ELSE 
						CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
				  END)
			, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum	
			, oi.CustId			
			, CASE WHEN ai.[Counter] IS NULL THEN oi.AgingPeriod ELSE ai.AgingPeriod END AS AgingPeriod
			, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
		FROM dbo.tblArOpenInvoice oi  
		LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
		INNER JOIN dbo.tblArCust c ON oi.CustId = c.CustId
		WHERE oi.[RecType] <> 5 AND c.AcctType = 1 
		GROUP BY ISNULL(ai.[Counter], oi.[Counter]), ISNULL(ai.CurrencyId, oi.CurrencyID) 
			, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END, oi.CustId			
			, CASE WHEN ai.[Counter] IS NULL THEN oi.AgingPeriod ELSE ai.AgingPeriod END,ISNULL(ai.[RecType], oi.[RecType])
	
		-- Use the summarized invoice amounts to determine the output currency values
		INSERT INTO #OutputAmount (CustId, InvcNum, AgingPeriod, CurrencyID, Balance)
		SELECT ia.CustId, ia.InvcNum, ia.AgingPeriod, c.CurrencyId
			, CASE WHEN ISNULL(c.CurrencyId, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
				   WHEN ISNULL(c.CurrencyId, @BaseCurrency) = @BaseCurrency THEN ia.BalanceBase
				   ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			   END 
		FROM #InvoiceAmount ia
		INNER JOIN dbo.tblArCust c ON ia.CustId = c.CustId
		LEFT JOIN (
		SELECT TransKey, Rate, CurrDecPlaces ,e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e
			  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
			  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
			  WHERE e.[TransType] = N'ARINVOICE'
		) et ON ia.[ExchTransKey] = et.[TransKey] AND et.Destination = c.CurrencyId
	
		IF  EXISTS (SELECT * FROM #OutputAmount t WHERE t.Balance IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END	


		--capture the net balance of each aging period
		INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
		SELECT 0, ot.CustId, ot.AgingPeriod, ot.CurrencyID, SUM(ot.Balance)
		FROM #OutputAmount ot		
		GROUP BY ot.CustId, ot.AgingPeriod, ot.CurrencyID

		Declare @PdLoop tinyint

		IF @ApplyCreditsToOldest = 1
		BEGIN
			--move any credits to aging period 4 (reverse from given aging period and copy to period 4)
			INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
			SELECT 1, credits.CustID
				, CASE WHEN cjr.ID = 1 THEN credits.AgingPeriod ELSE 4 END
				, credits.CurrencyId
				, CASE WHEN cjr.ID = 1 THEN -credits.Amount ELSE credits.Amount END
			FROM (SELECT ad.CustId, ad.AgingPeriod, ad.CurrencyID, SUM(ad.Amount) AS [Amount]
				FROM #BFAgingDistribution ad
				WHERE ad.AgingPeriod <> 4
				GROUP BY ad.CustId, ad.CurrencyID, ad.AgingPeriod
				HAVING SUM(ad.Amount) < 0) credits
			CROSS JOIN #CrossJoinRows cjr

			--Move remaining credits from given aging period (@PdLoop) to the prior aging period (@PdLoop - 1)
			--(loops: 4=>3, 3=>2, 2=>1, 1=>0)
			Set @PdLoop = 4
			WHILE @PdLoop > 0
			BEGIN
				INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
				SELECT 1, credits.CustID
					, CASE WHEN cjr.ID = 1 THEN @PdLoop ELSE @PdLoop - 1 END
					, credits.CurrencyId
					, CASE WHEN cjr.ID = 1 THEN -credits.Amount ELSE credits.Amount END
				FROM (SELECT ad.CustId, ad.AgingPeriod, ad.CurrencyID, SUM(ad.Amount) AS [Amount]
					FROM #BFAgingDistribution ad
					WHERE ad.AgingPeriod = @PdLoop
					GROUP BY ad.CustId, ad.AgingPeriod, ad.CurrencyID
					HAVING SUM(ad.Amount) < 0) credits
				CROSS JOIN #CrossJoinRows cjr

				--decrement the loop counter
				SELECT @PdLoop = @PdLoop - 1
			END
		END
		ELSE
		BEGIN --apply to most current
			--move any credits to aging period 0 (reverse from given aging period and copy to period 0)
			INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
			SELECT 1, credits.CustID
				, CASE WHEN cjr.ID = 1 THEN credits.AgingPeriod ELSE 0 END
				, credits.CurrencyId
				, CASE WHEN cjr.ID = 1 THEN -credits.Amount ELSE credits.Amount END
			FROM (SELECT ad.CustId, ad.AgingPeriod, ad.CurrencyID, SUM(ad.Amount) AS [Amount]
				FROM #BFAgingDistribution ad
				WHERE ad.AgingPeriod <> 0
				GROUP BY ad.CustId, ad.CurrencyID, ad.AgingPeriod
				HAVING SUM(ad.Amount) < 0) credits
			CROSS JOIN #CrossJoinRows cjr

			--Move remaining credits from given aging period (@PdLoop) to the next aging period (@PdLoop + 1)
			--(loops: 0=>1, 1=>2, 2=>3, 3=>4)
			Set @PdLoop = 0
			WHILE @PdLoop < 4
			BEGIN
				INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
				SELECT 1, credits.CustID
					, CASE WHEN cjr.ID = 1 THEN @PdLoop ELSE @pdLoop + 1 END
					, credits.CurrencyId
					, CASE WHEN cjr.ID = 1 THEN -credits.Amount ELSE credits.Amount END
				FROM (SELECT ad.CustId, ad.AgingPeriod, ad.CurrencyID, SUM(ad.Amount) AS [Amount]
					FROM #BFAgingDistribution ad
					WHERE ad.AgingPeriod = @PdLoop
					GROUP BY ad.CustId, ad.AgingPeriod, ad.CurrencyID
					HAVING SUM(ad.Amount) < 0) credits
				CROSS JOIN #CrossJoinRows cjr
				
				--increment the loop counter
				SELECT @PdLoop = @PdLoop + 1
			END

			--finish by moving remaining credit from period 4 back to 0
			INSERT INTO #BFAgingDistribution (Adjustment, CustID, AgingPeriod, CurrencyID, Amount)
			SELECT 1, credits.CustID
				, CASE WHEN cjr.ID = 1 THEN 4 ELSE 0 END
				, credits.CurrencyId
				, CASE WHEN cjr.ID = 1 THEN -credits.Amount ELSE credits.Amount END
			FROM (SELECT ad.CustId, ad.AgingPeriod, ad.CurrencyID, SUM(ad.Amount) AS [Amount]
				FROM #BFAgingDistribution ad
				WHERE ad.AgingPeriod = 4
				GROUP BY ad.CustId, ad.AgingPeriod, ad.CurrencyID
				HAVING SUM(ad.Amount) < 0) credits
			CROSS JOIN #CrossJoinRows cjr
		END		

		--Include the credit redistribution adjustments in the #OutputAmount for invoice summarization
		INSERT INTO #OutputAmount (CustId, InvcNum, AgingPeriod, CurrencyID, Balance)
		SELECT d.CustID, @InvcBalFwrd, d.AgingPeriod, d.CurrencyID, d.Amount
		FROM #BFAgingDistribution d
		WHERE Adjustment = 1 --only copy the adjustment records

		
		-- summarize the invoices for balance forward customers
		-- (excluding finance charge invoices)
		INSERT INTO #BFInvoiceSummary (CustId, DistCode, CurrencyId, ExchRate, Amount, AmountFgn,AgingPeriod) 
		SELECT c.CustId
		, c.DistCode
		, c.CurrencyId
		, d.Rate
		, SUM(ROUND(ot.Balance* d.Rate,cu.CurrDecPlaces))
		, SUM(ot.Balance)
		, CASE WHEN ot.AgingPeriod = 0 AND @BFRollBalances = 1 THEN 1
			   WHEN ot.AgingPeriod = 1 AND @BFRollBalances = 1 THEN 2
			   WHEN ot.AgingPeriod = 2 AND @BFRollBalances = 1 THEN 3
			   WHEN ot.AgingPeriod = 3 AND @BFRollBalances = 1 THEN 4
			   WHEN ot.AgingPeriod = 4 AND @BFRollBalances = 1 THEN 4
		  ELSE ot.AgingPeriod	
		  END
		FROM #OutputAmount ot		
		INNER JOIN dbo.tblArCust c ON ot.CustId = c.CustId 
		LEFT JOIN #BFFinChgInvoice f ON ot.CustId = f.CustId AND ot.InvcNum = f.InvoiceNum		
		LEFT JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = @ExchangeRateID	AND d.Source = c.CurrencyId AND d.Destination =  @BaseCurrency			
		INNER JOIN [dbo].[tblSmCurrency] cu on cu.CurrID = @BaseCurrency
		WHERE f.InvoiceNum IS NULL --exclude Fin Chg Invoice numbers 
		GROUP BY c.CustId,c.DistCode,c.CurrencyId,ot.AgingPeriod,d.Rate

		
		-- delete the existing open invoice records for balance forward customers
		DELETE dbo.tblArOpenInvoice 
		FROM dbo.tblArOpenInvoice 
		INNER JOIN #BFInvoiceSummary ON dbo.tblArOpenInvoice.CustId = #BFInvoiceSummary.CustId 
		LEFT JOIN #BFFinChgInvoice f ON dbo.tblArOpenInvoice.CustId = f.CustId AND dbo.tblArOpenInvoice.InvcNum = f.InvoiceNum
		WHERE f.InvoiceNum IS NULL --exclude Fin Chg Invoice numbers
		AND tblArOpenInvoice.RecType<>5
	  
		-- append the summarized Open Invoices for balance forward customers
		INSERT INTO dbo.tblArOpenInvoice (Amt, AmtFgn, CustId, TransDate, RecType, InvcNum, [Status]
			, DistCode, CurrencyId, ExchRate, NetDueDate, GLPeriod, FiscalYear, SourceApp, PostRun, AgingPeriod) 
		SELECT SUM(Amount), SUM(AmountFgn), CustId, @WrkStnDate, 1, @InvcBalFwrd, 0
			, DistCode, CurrencyId, ExchRate, @WrkStnDate, @FiscalPeriod, @FiscalYear, 0, @PostRun, AgingPeriod
		FROM #BFInvoiceSummary f		
		WHERE AmountFgn <> 0
		GROUP BY CustId, DistCode, CurrencyId, ExchRate, AgingPeriod
		
		-- create the transactional exchange values		
		INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
		SELECT 'ARINVOICE',ov.[Counter],d.Source,d.Destination,d.Rate
		FROM [dbo].[tblSmExchangeRate] r 
		INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID]		
		INNER JOIN dbo.tblArOpenInvoice ov ON ov.PostRun = @PostRun
		WHERE r.ID = @ExchangeRateID AND r.[Type] = 0 AND NOT EXISTS (SELECT 1 FROM dbo.tblSmExchangeRateTrans p WHERE p.TransKey = CONVERT(nvarchar(510),ov.Counter))
		
	END

	--================
	--Update invoice status
	--================
	IF @UpdateInvoiceStatus = 1
	BEGIN
				
		-- Process the application of payments against invoice to determine balance in the invoice currency
		-- use data from the applied invoice records when identified by the payment InvoiceID value.
		INSERT INTO #InvoiceAmountOI(InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum,CustId, ExchTransKey)
		SELECT ISNULL(ai.[Counter], oi.[Counter])
			, ISNULL(ai.CurrencyId, oi.CurrencyID)
			, SIGN(ISNULL(ai.[RecType], oi.[RecType])) *SUM(CASE WHEN ai.[Counter] IS NULL 
				  THEN 
					   oi.Amt
				  ELSE 
						CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
				  END)		
			, SIGN(ISNULL(ai.[RecType], oi.[RecType])) *SUM(CASE WHEN ai.[Counter] IS NULL 
				  THEN 
						oi.[AmtFgn]
				  ELSE 
						CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
				  END)
			, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum	
			, oi.CustId				
			, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
		FROM dbo.tblArOpenInvoice oi  
		LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
		INNER JOIN dbo.tblArCust c ON oi.CustId = c.CustId
		WHERE oi.[Status] <>4
		GROUP BY ISNULL(ai.[Counter], oi.[Counter]), ISNULL(ai.CurrencyId, oi.CurrencyID) 
			,CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END,oi.CustId,ISNULL(ai.[RecType], oi.[RecType])
		
		-- Use the summarized invoice amounts to determine the output currency values
		INSERT INTO #OutputAmountOI ( InvoiceID, CurrencyID, Balance,InvcNum,CustId,ExchRate)
		SELECT ia.[InvoiceID], c.CurrencyId
		, CASE WHEN ISNULL(c.CurrencyId, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
			  WHEN ISNULL(c.CurrencyId, @BaseCurrency) = @BaseCurrency THEN ia.BalanceBase
			  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			  END		
		, ia.InvcNum
		, ia.CustId
		, et.Rate		
		FROM #InvoiceAmountOI ia
		INNER JOIN dbo.tblArCust c ON ia.CustId = c.CustId
		LEFT JOIN (
		SELECT TransKey, Rate, CurrDecPlaces ,e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e
			  INNER JOIN #InvoiceAmountOI inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
			  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
			  WHERE e.[TransType] = N'ARINVOICE'
		) et ON ia.[ExchTransKey] = et.[TransKey] AND et.Destination = c.CurrencyId	
		
		IF  EXISTS (SELECT * FROM #OutputAmountOI t WHERE  t.Balance IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END	
	
		-- summarize the open invoices 
		INSERT INTO #InvoiceTotal (CustId, InvcNum, AmountFgn,RecType) 
		SELECT ot.CustId,ot.InvcNum,SUM(ot.Balance),(CASE p.RecType WHEN 5 THEN 5 ELSE 1 END) RecType
		FROM #OutputAmountOI ot
		INNER JOIN dbo.tblArOpenInvoice p  ON ot.InvoiceID = p.[Counter]
		INNER JOIN dbo.tblArCust c ON ot.CustId = c.CustId 
		GROUP BY ot.CustId, ot.InvcNum, (CASE p.RecType WHEN 5 THEN 5 ELSE 1 END) 
		
		-- update the status to 'paid' for those with no remaining balance
		UPDATE dbo.tblArOpenInvoice SET [Status] = 4 
		FROM dbo.tblArOpenInvoice 
		INNER JOIN #InvoiceTotal t 
			ON t.CustId = dbo.tblArOpenInvoice.CustId AND t.InvcNum = dbo.tblArOpenInvoice.InvcNum 
		WHERE t.AmountFgn = 0
		AND t.RecType = CASE dbo.tblArOpenInvoice.RecType WHEN 5 THEN 5 ELSE 1 END 
		
		-- update the commision invoice for those with no remaining balance
		UPDATE dbo.tblArCommInvc SET AmtPmt = AmtInvc
		FROM dbo.tblArCommInvc comm
		INNER JOIN #InvoiceTotal t 
			ON t.CustId = comm.CustId AND t.InvcNum = comm.InvcNum
		WHERE t.AmountFgn = 0 		
		
	END
	
	--================
	--Delete paid invoices prior to the date
	--================
	IF @DeletePaidInvoiceDate IS NOT NULL
	BEGIN
		DELETE dbo.tblArOpenInvoice 
		FROM (SELECT CustId, InvcNum ,(CASE RecType WHEN 5 THEN 5 ELSE 1 END) RecType
				FROM dbo.tblArOpenInvoice 
				WHERE [Status] = 4 
				GROUP BY InvcNum, CustID ,CASE RecType WHEN 5 THEN 5 ELSE 1 END
				HAVING MAX(TransDate) < @DeletePaidInvoiceDate) t 
		WHERE dbo.tblArOpenInvoice.CustId = t.CustId 
			AND dbo.tblArOpenInvoice.InvcNum = t.InvcNum 
			AND [Status] = 4 AND TransDate < @DeletePaidInvoiceDate
			AND t.RecType = CASE dbo.tblArOpenInvoice.RecType WHEN 5 THEN 5 ELSE 1 END 
	END

	--================
	--remove orphaned/unused exchange rate trans entries
	--================
	DELETE dbo.tblSmExchangeRateTrans 
		WHERE [TransType] = N'ARINVOICE'
		AND [TransKey] NOT IN (SELECT CAST([Counter] AS nvarchar(255)) FROM dbo.tblArOpenInvoice)
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_Invoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_Invoice_proc'
GO
