USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_Purge_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_Purge_proc]
AS
BEGIN TRY
	DECLARE @BatchId pBatchId, @MoveToNewBatch bit
	DECLARE @TransTypePOInvoice nvarchar(10), @TransTypePOPrePay  nvarchar(10)
	DECLARE @TransTypePOTrans nvarchar(10), @TransTypePOReceipt  nvarchar(10)
	DECLARE  @TransTypePODeposit nvarchar(10)

	--Added 41856
	DECLARE @WksDate datetime,@wksPeriod smallint, @wksYear smallint

	--Retrieve global values
	SELECT @BatchId = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'NewBatchId'
	SELECT @MoveToNewBatch = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'MoveToNewBatch'
	SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT
	SELECT @TransTypePOTrans = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOTrans' --POTRANS
	SELECT @TransTypePOInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOInvoice' --POINVOICE
	SELECT @TransTypePOPrePay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOPrePay' --POPREPAY
	SELECT @TransTypePODeposit = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePODeposit'  --�PODEPOSIT� 

	--Added 41856
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @wksPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'WrkStnPeriod'
	SELECT @wksYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'WrkStnYear'
	--End added 41856
	
	IF  @MoveToNewBatch IS NULL OR @TransTypePOReceipt IS NULL OR @TransTypePOTrans IS NULL OR @TransTypePOInvoice IS NULL
	 OR @TransTypePOPrePay IS NULL OR @TransTypePODeposit IS NULL
	 OR @WksDate IS NULL OR @wksPeriod IS NULL OR @wksYear IS NULL --Added 41856
	BEGIN
		
		THROW 90025, N'Missing global value.', 1
	END
	
	DELETE dbo.tblSmExchangeRateTrans
	FROM dbo.tblSmExchangeRateTrans e
	INNER JOIN #CompletedTransactions t ON e.TransType = @TransTypePOTrans  AND e.TransKey=t.TransID
	
	DELETE dbo.tblSmExchangeRateTrans
	FROM dbo.tblSmExchangeRateTrans e
	INNER JOIN dbo.tblPoTransReceipt r ON e.TransType= @TransTypePOReceipt AND e.TransKey= CAST(r.ID AS nvarchar(255))
	INNER JOIN #CompletedTransactions t ON t.TransID= r.TransID
	
	DELETE dbo.tblSmExchangeRateTrans
	FROM dbo.tblSmExchangeRateTrans e
	INNER JOIN dbo.tblPoTransInvoiceTot i ON   e.TransKey= CAST(i.ID AS nvarchar(255))
	INNER JOIN #CompletedTransactions t ON t.TransID= i.TransID
	WHERE e.TransType= @TransTypePOInvoice OR e.TransType= @TransTypePOPrePay
	
	DELETE dbo.tblPoTransReceiptLandedCost
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransLotRcpt r ON t.TransID = r.TransID 
		INNER JOIN dbo.tblPoTransReceiptLandedCost ON r.ReceiptID = dbo.tblPoTransReceiptLandedCost.ReceiptID 

	DELETE dbo.tblPoTransSer
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransSer 
	ON t.TransID = dbo.tblPoTransSer.TransID 

	DELETE dbo.tblPoTransInvc_Rcpt 
	FROM dbo.tblPoTransLotRcpt l INNER JOIN dbo.tblPoTransInvc_Rcpt ON l.ReceiptId = dbo.tblPoTransInvc_Rcpt.ReceiptId
	INNER JOIN #CompletedTransactions t ON t.TransId = l.TransId

	DELETE dbo.tblPoTransLotRcpt
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransLotRcpt 
	ON t.TransID = dbo.tblPoTransLotRcpt.TransID 

	DELETE dbo.tblPoTransReceipt 
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransReceipt 
	ON t.TransID = dbo.tblPoTransReceipt.TransID 

	DELETE dbo.tblPoTransInvoice 
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransInvoice 
	ON t.TransID = dbo.tblPoTransInvoice.TransID 

	DELETE dbo.tblPoTransInvoiceTot 
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransInvoiceTot 
	ON t.TransID = dbo.tblPoTransInvoiceTot.TransID 

	DELETE dbo.tblPoTransInvoiceTax
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransInvoiceTax 
	ON t.TransID = dbo.tblPoTransInvoiceTax.TransID 

	DELETE dbo.tblInQty 
	FROM dbo.tblInQty INNER JOIN dbo.tblPoTransDetail d ON dbo.tblInQty.ID = d.QuantityID
	INNER JOIN #CompletedTransactions t ON d.TransID = t.TransID
	WHERE	d.QuantityID > 0

	DELETE dbo.tblPoTransDetailLandedCost
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransDetail d ON t.TransID = d.TransID  
		INNER JOIN dbo.tblPoTransDetailLandedCost ON d.TransID = dbo.tblPoTransDetailLandedCost.TransID AND d.EntryNum = dbo.tblPoTransDetailLandedCost.EntryNum

	UPDATE dbo.tblApOpenInvoice SET [Status] =4
	FROM dbo.tblApOpenInvoice i 
	INNER JOIN dbo.tblPoTransDeposit d  ON i.[Counter]=d.InvoiceCounter  OR i.GroupID = d.InvoiceCounter	
	INNER JOIN #CompletedTransactions t ON  t.TransID = d.TransID 

	UPDATE dbo.tblApOpenInvoice SET [Status] =4
	FROM dbo.tblApOpenInvoice i 
	INNER JOIN dbo.tblPoTransDeposit d  ON i.[Counter]=d.InvoiceCounter  OR i.GroupID = d.InvoiceCounter
	LEFT JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransID
	WHERE h.TransId IS NULL

	--Added 41856
	UPDATE dbo.tblApOpenInvoice SET  CheckDate = @WksDate, GlPeriod = @wksPeriod, FiscalYear = @wksYear
	FROM dbo.tblApOpenInvoice i 
	INNER JOIN dbo.tblPoTransDeposit d  ON i.[Counter]=d.InvoiceCounter 
	LEFT JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransID
	WHERE h.TransId IS NULL

	UPDATE dbo.tblSmTransLink SET DestStatus = 1
	WHERE SeqNum IN (SELECT d.LinkSeqNum FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransDetail d ON t.TransID = d.TransID
			WHERE d.LinkSeqNum IS NOT NULL) 
		AND DestType = 2

	DELETE dbo.tblSmExchangeRateTrans
	FROM dbo.tblSmExchangeRateTrans e
	INNER JOIN dbo.tblPoTransDeposit d ON   e.TransKey= CAST(d.ID AS nvarchar(255))
	LEFT JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransID
	WHERE h.TransId IS NULL AND e.TransType= @TransTypePODeposit	
	
	DELETE dbo.tblPoTransDeposit
	FROM dbo.tblPoTransDeposit d	
	LEFT JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransID
	WHERE h.TransId IS NULL

	DELETE dbo.tblPoTransDetail 
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransDetail 
	ON t.TransID = dbo.tblPoTransDetail.TransID 

	DELETE dbo.tblPoTransHeader 
	FROM dbo.tblPoTransHeader
	INNER JOIN 	 #CompletedTransactions t 
	ON t.TransID = dbo.tblPoTransHeader.TransID 
	

	DELETE dbo.tblPoTransRequest
	FROM dbo.tblPoTransRequest h 
	INNER JOIN #PostTransList b ON h.TransID = b.TransID 		
	WHERE h.TransId NOT IN (SELECT TransId FROM dbo.tblPoTransHeader) 

	DELETE dbo.tblPoTransInvoiceTax
	FROM #PostTransList t INNER JOIN dbo.tblPoTransInvoiceTax 
	ON t.TransID = dbo.tblPoTransInvoiceTax.TransID 

	DELETE dbo.tblSmExchangeRateTrans
	FROM dbo.tblSmExchangeRateTrans e
	INNER JOIN dbo.tblPoTransDeposit d ON   e.TransKey= CAST(d.ID AS nvarchar(255))
	INNER JOIN #CompletedTransactions t ON t.TransID= d.TransID
	WHERE e.TransType= @TransTypePODeposit

	--Added 41856
	UPDATE dbo.tblApOpenInvoice SET  CheckDate = @WksDate, GlPeriod = @wksPeriod, FiscalYear = @wksYear
	FROM dbo.tblApOpenInvoice i 
	INNER JOIN dbo.tblPoTransDeposit d  ON i.[Counter]=d.InvoiceCounter  
	INNER JOIN #CompletedTransactions t ON t.TransID= d.TransID

	DELETE dbo.tblPoTransDeposit
	FROM #CompletedTransactions t INNER JOIN dbo.tblPoTransDeposit
	ON t.TransID = dbo.tblPoTransDeposit.TransID 

	IF @MoveToNewBatch = 1 
		UPDATE dbo.tblPoTransHeader SET BatchId = @BatchID 
		FROM dbo.tblPoTransHeader INNER JOIN #PostTransList b 
			ON dbo.tblPoTransHeader.TransID = b.TransID 	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_Purge_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_Purge_proc'
GO
