USE [005]
GO
/****** Object:  StoredProcedure [dbo].[WEB_ArAgedTrialBalanceInquiry_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WEB_ArAgedTrialBalanceInquiry_proc]
@TransactionCutoffOption bit = 0, --Invoice cutoff option (0=by date/1=by fiscal period & fiscal year)
@TransactionCutoffDate datetime = '20090810', 
@TransactionCutoffFiscalPeriod smallint = 8,
@TransactionCutoffFiscalYear smallint = 2009,
@PaymentCutoffOption bit = 0, --Payment cutoff option (0=by date/1=by fiscal period & fiscal year)
@PaymentCutoffDate datetime = '20090810', 
@PaymentCutoffFiscalPeriod smallint = 8,
@PaymentCutoffFiscalYear smallint = 2009,
@PastDueDate1 datetime = '20090711', --the date for aging bracket 1
@PastDueDate2 datetime = '20090611', --the date for aging bracket 2
@PastDueDate3 datetime = '20090512', --the date for aging bracket 3
@PastDueDate4 datetime = '20090412', --the date for aging bracket 4
@DistCodeFrom pDistCode = '',
@DistCodeThru pDistCode = 'zzzzzz',
@ReportCurrency pCurrency = NULL, --report currency Id
@BaseCurrency pCurrency = 'USD', --base currency Id
@AgeBy tinyint = 0, --0;TransDate;1;DueDate;2DiscDueDate
@IncludeCurrentCustomer bit = 1, --option to include non-overdue customers
@IncludeSaleInvoice bit = 1,  --Default AR/SO invoices
@IncludeProjectInvoice bit = 1,  --Project invoices     
@IncludeServiceInvoice bit = 1, --Service invoices 
@BaseCurrencyPrecision smallint = 2,
@IncludeRegularInvcType bit=1 ,
@IncludeProformaInvcType bit=1 
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #ArAgedTrialBal 
	(
		[CustId] [pCustID] NOT NULL ,   
		[InvcNum] [pInvoiceNum] NULL ,
	    [NetDueDate] datetime NULL ,
		[AmountDue] [pDecimal] NOT NULL DEFAULT (0) ,
		[Unapplied] [pDecimal] NOT NULL DEFAULT (0) ,
		[AmtCurrent] [pDecimal] NOT NULL DEFAULT (0) ,
		[AmtDue1] [pDecimal] NOT NULL DEFAULT (0) ,
		[AmtDue2] [pDecimal] NOT NULL DEFAULT (0) ,
		[AmtDue3] [pDecimal] NOT NULL DEFAULT (0) ,
		[AmtDue4] [pDecimal] NOT NULL DEFAULT (0),
		CurrencyID pCurrency
	) 

	-- table to capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	CREATE TABLE #FutureActivity
	(
		CustId pCustID, 
		InvcNum pInvoiceNum
		PRIMARY KEY (CustId, InvcNum)
	)

	--table to identify invoices that should be excluded from the report
	CREATE TABLE #ExcludeInvoiceList
	(
		CustId pCustId, 
		InvcNum pInvoiceNum,
		InvcType tinyint,
		CurrencyID pCurrency,
		PRIMARY KEY (CustId, InvcNum,CurrencyID,InvcType)
	)

	CREATE TABLE #ArInvoice
	(
		CustId pCustId NOT NULL, 
		InvcNum pInvoiceNum NULL, 
	    NetDueDate datetime NULL ,
		MinAgingDate datetime NULL, 
		MaxRecType smallint NULL,		
		UnappliedFgn pDecimal NOT NULL DEFAULT (0), 
		AmtCurrentFgn pDecimal NOT NULL DEFAULT (0), 
		AmtDue1Fgn pDecimal NOT NULL DEFAULT (0), 
		AmtDue2Fgn pDecimal NOT NULL DEFAULT (0), 
		AmtDue3Fgn pDecimal NOT NULL DEFAULT (0), 
		AmtDue4Fgn pDecimal NOT NULL DEFAULT (0),
		AmountDue pDecimal NOT NULL DEFAULT (0),
		AmountDueFgn pDecimal NOT NULL DEFAULT (0),
		CurrencyID pCurrency,
		RecType smallint
	)

	CREATE TABLE #ArOpenInvoice 
	(
		CustId pCustId NOT NULL, 
		SalesRepID pSalesRep null,
		Region nvarchar(10) null,
		CurrencyID pCurrency,
		DistCode pDistCode null,   
		InvcNum pInvoiceNum NULL, 
		RecType smallint NOT NULL, 
		[Status] tinyint NOT NULL, 
		TransDate datetime NULL, 
		AgingDate datetime ,
		NetDueDate datetime ,
		DiscDueDate datetime NULL,
		CheckNum pCheckNum NULL,			
		AmountDueFgn pDecimal NULL,
		GlPeriod smallint,
		FiscalYear smallint,
		SourceApp tinyint,
		AcctType tinyint,
		AgingPeriod tinyint
	)
	
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	( 
		InvoiceID INT, 
		CurrencyID pCurrency,
		BalanceBase pDecimal,		
		Balance pDecimal,
		InvcNum pInvoiceNum	,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(		 
		InvoiceID INT, 
		CurrencyID pCurrency,
		Balance pDecimal NULL,
		InvcNum pInvoiceNum, 
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (InvoiceID, Ctr) 
	)
	
	-- Process the application of payments against invoice to determine balance in the invoice currency
	-- use data from the applied invoice records when identified by the payment InvoiceID value.
	INSERT INTO #InvoiceAmount (InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum, ExchTransKey)
	SELECT 	oi.[Counter]			
		, ISNULL(ai.CurrencyId, oi.CurrencyID)
		, SIGN(ISNULL(ai.[RecType], oi.[RecType])) * (CASE WHEN ai.[Counter] IS NULL 
              THEN 
                   oi.Amt
              ELSE 
                    CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
              END)		
		,  SIGN(ISNULL(ai.[RecType], oi.[RecType])) * (CASE WHEN ai.[Counter] IS NULL 
			  THEN 
					oi.[AmtFgn]
			  ELSE 
					CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
			  END)
		, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum	
		, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
	FROM #tmpCustomerList t --list of ids for function specific filtering
	INNER JOIN dbo.tblArOpenInvoice oi ON t.CustId = oi.CustId 
	LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	WHERE   (@DistCodeFrom IS NULL OR oi.DistCode >= @DistCodeFrom) AND (@DistCodeThru IS NULL OR oi.DistCode <= @DistCodeThru)
		AND ((oi.TransDate <= @TransactionCutoffDate AND @TransactionCutoffOption = 0) 
			OR ((oi.FiscalYear * 1000 + oi.GlPeriod <= @TransactionCutoffFiscalyear * 1000 + @TransactionCutoffFiscalPeriod) 
			AND @TransactionCutoffOption = 1)) 
		AND ((((oi.SourceApp = 0 OR oi.SourceApp = 1 OR oi.SourceApp = 4) AND @IncludeSaleInvoice = 1)) 
			OR (((oi.SourceApp = 3) AND @IncludeProjectInvoice = 1)) 
			OR (((oi.SourceApp = 2) AND @IncludeServiceInvoice = 1)))		
		AND ((oi.RecType<>5 AND @IncludeRegularInvcType=1)  
			OR (oi.RecType=5 AND  @IncludeProformaInvcType=1))

	-- Use the summarized invoice amounts to determine the output currency values
	INSERT INTO #OutputAmount ( InvoiceID, CurrencyID, Balance,InvcNum)
	SELECT DISTINCT ia.[InvoiceID], ISNULL(@ReportCurrency, ia.CurrencyID)
		, CASE WHEN ISNULL(@ReportCurrency, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN ia.BalanceBase
			  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			  END 
		,ia.InvcNum
	FROM #InvoiceAmount ia
	LEFT JOIN (
		SELECT TransKey, Rate, CurrDecPlaces 
		FROM [dbo].[tblSmExchangeRateTrans] e
			  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
			  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
			  WHERE e.[TransType] = N'ARINVOICE' AND e.[Destination] = @ReportCurrency 
		) et ON ia.[ExchTransKey] = et.[TransKey]

	IF  EXISTS (SELECT * FROM #OutputAmount t WHERE  t.Balance IS NULL)
	BEGIN
		RAISERROR(90027,16,1)
	END
	
	INSERT INTO #ArOpenInvoice (CustID, SalesRepID, Region, CurrencyID, DistCode, InvcNum, RecType, [Status], TransDate 
		, AgingDate, NetDueDate, DiscDueDate, CheckNum, AmountDueFgn, GlPeriod
		, FiscalYear, SourceApp,AcctType,AgingPeriod )
	SELECT	c.CustID
			, c.SalesRepID1
			, c.Region 
			, ISNULL(@ReportCurrency, ot.CurrencyID)
			, p.DistCode 
			, ot.InvcNum		
			, p.RecType
			, p.[Status]
			, p.TransDate
			, (CASE	WHEN @AgeBy = 0	THEN (CASE WHEN p.TransDate IS NULL THEN NULL ELSE p.TransDate END)
					ELSE (CASE WHEN @AgeBy = 1 THEN (CASE WHEN p.NetDueDate IS NULL THEN p.TransDate ELSE p.NetDueDate END)
					ELSE (CASE WHEN @AgeBy = 2 THEN (CASE WHEN p.DiscDueDate IS NULL THEN p.TransDate ELSE p.DiscDueDate END) END)
					END)
			  END)
			, p.NetDueDate
			, p.DiscDueDate
			, p.CheckNum					
			, ot.Balance
			, p.GlPeriod, p.FiscalYear, p.SourceApp,c.AcctType, p.AgingPeriod
	FROM #OutputAmount ot
	INNER JOIN dbo.tblArOpenInvoice p  ON ot.InvoiceID = p.[Counter]
	INNER JOIN dbo.tblArCust c ON p.CustId = c.CustId	

	--capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	INSERT INTO #FutureActivity (CustID, InvcNum) 
    SELECT oi.[CustId], oi.[InvcNum] 
    FROM #ArOpenInvoice i --limit to the identified list of invoices to process
	    INNER JOIN dbo.tblArOpenInvoice oi ON i.CustId = oi.CustId and i.InvcNum = oi.InvcNum 
    WHERE oi.DistCode BETWEEN @DistCodeFrom AND @DistCodeThru --always apply filter to invoice distcode
                    AND ((oi.TransDate >= @PaymentCutoffDate AND @PaymentCutoffOption = 0) 
                                    OR (((oi.FiscalYear * 1000) + oi.GlPeriod) >= ((@PaymentCutoffFiscalYear * 1000) + @PaymentCutoffFiscalPeriod) AND @PaymentCutoffOption = 1)) 
                    AND ( ((oi.SourceApp = 0 OR oi.SourceApp = 1 OR oi.SourceApp = 4) AND @IncludeSaleInvoice = 1) --filter source prior to aging so balances reflect specific source
                                    OR ((oi.SourceApp = 3) AND @IncludeProjectInvoice = 1) 
                                    OR ((oi.SourceApp = 2) AND @IncludeServiceInvoice = 1))
                    AND ((oi.RecType<>5 AND @IncludeRegularInvcType=1) OR (oi.RecType=5 AND @IncludeProformaInvcType=1)) 
    GROUP BY oi.[CustId], oi.[InvcNum]

    --identify "settled" invoices with no future activity that can be excluded from the aging
    INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType, CurrencyID) 
    SELECT i.[CustId], i.[InvcNum], CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.[CurrencyID] 
    FROM #ArOpenInvoice i 
		LEFT JOIN #FutureActivity fa ON i.[CustId] = fa.[CustId] AND i.[InvcNum] = fa.[InvcNum] 
    WHERE i.AcctType = 0 AND fa.[CustId] IS NULL --and no future activity 
    GROUP BY i.CustId, i.InvcNum, CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.CurrencyID 
    HAVING SUM(AmountDueFgn) <> 0 --ensure a non-zero balance
                    AND COUNT(*) = SUM(CASE WHEN i.[Status] = 4 THEN 1 ELSE 0 END) --and all invoices marked as paid
	
	-- isolate the invoices that should be excluded from the aging for open invoice customer
	-- invoices with a zero balance and no payments as of/after the payment cutoff
	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType,CurrencyID)
	SELECT CustId, InvcNum, 1,CurrencyID
	FROM #ArOpenInvoice
	WHERE RecType <> 5 AND AcctType = 0
	GROUP BY CustId, InvcNum,CurrencyID
	HAVING SUM(AmountDueFgn) = 0 --ensure a zero balance
		AND SUM(CASE WHEN RecType < 0 
			AND ((TransDate >= @PaymentCutoffDate And @PaymentCutoffOption = 0) 
			OR (((FiscalYear * 1000) + GlPeriod) >= ((@PaymentCutoffFiscalYear * 1000) + @PaymentCutoffFiscalPeriod) And @PaymentCutoffOption = 1))
		THEN 1 
		ELSE 0 
		END) = 0 --no payments as of/after the payment cutoff
	
	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType,CurrencyID)
	SELECT CustId, InvcNum, 5,CurrencyID
	FROM #ArOpenInvoice
	WHERE RecType = 5 AND AcctType = 0
	GROUP BY CustId, InvcNum,CurrencyID
	HAVING SUM(AmountDueFgn) = 0 --ensure a zero balance
		AND SUM(CASE WHEN AmountDueFgn < 0 
			AND ((TransDate >= @PaymentCutoffDate And @PaymentCutoffOption = 0) 
			OR (((FiscalYear * 1000) + GlPeriod) >= ((@PaymentCutoffFiscalYear * 1000) + @PaymentCutoffFiscalPeriod) And @PaymentCutoffOption = 1))
		THEN 1 
		ELSE 0 
		END) = 0 --no payments as of/after the payment cutoff

	--initialize the list of aged values for open invoice customer
	INSERT INTO #ArInvoice (CustId, InvcNum, CurrencyID) 
	SELECT i.CustId, i.InvcNum, i.CurrencyID 
	FROM #ArOpenInvoice i
	LEFT JOIN #ExcludeInvoiceList e ON i.CustId = e.CustId AND i.InvcNum = e.InvcNum AND i.CurrencyID = e.CurrencyID AND ((i.RecType <> 5 AND e.InvcType = 1) OR i.RecType = e.InvcType) 
	WHERE e.CustId IS NULL AND i.AcctType = 0
	GROUP BY i.CustId, i.InvcNum, i.CurrencyID

	--process invoices/payments by Min aging date AND max rec typ so that over payments on invoices are aged with the invoice
	UPDATE #ArInvoice 
	SET MinAgingDate = m.MinAgingDate, MaxRecType = m.MaxRecType
	FROM #ArInvoice                      
	INNER JOIN 
		(	SELECT	CustId, InvcNum, Max(RecType) MaxRecType
					, CASE WHEN Max(RecType) > 0 THEN Min(InvcDate) ELSE Min(PmtDate) END MinAgingDate,CurrencyID
			FROM (
					SELECT	CustId, InvcNum, RecType,CurrencyID
							, CASE WHEN RecType > 0 THEN AgingDate ELSE NULL END InvcDate
							, CASE WHEN RecType < 0 THEN AgingDate ELSE NULL END PmtDate
					FROM #ArOpenInvoice WHERE AcctType = 0
				) d	
			GROUP BY CustId, InvcNum,CurrencyID
		) m
	ON #ArInvoice.CustId = m.CustId AND #ArInvoice.InvcNum = m.InvcNum AND #ArInvoice.CurrencyID = m.CurrencyID
		
	UPDATE #ArInvoice
	SET
		 UnappliedFgn = s.UnappliedFgn, AmtCurrentFgn = s.AmtCurrentFgn
		, AmtDue1Fgn = s.AmtDue1Fgn, AmtDue2Fgn = s.AmtDue2Fgn, AmtDue3Fgn = s.AmtDue3Fgn, AmtDue4Fgn = s.AmtDue4Fgn
		, AmountDueFgn = s.AmountDueFgn
	FROM #ArInvoice 
	INNER JOIN 
	(
		SELECT i.CustId, i.InvcNum,i.CurrencyID		
		, sum(o.AmountDueFgn) AmountDueFgn
		
		, sum(CASE WHEN i.maxrectype < 0 THEN o.AmountDueFgn ELSE 0 END) UnappliedFgn
		, sum(CASE WHEN i.maxrectype > 0 AND i.MinAgingDate >= @PastDueDate1 THEN o.AmountDueFgn ELSE 0 END) AmtCurrentFgn 
		, sum(CASE WHEN i.maxrectype > 0 AND i.MinAgingDate BETWEEN @PastDueDate2 AND dateadd(day,-1, @PastDueDate1) THEN o.AmountDueFgn ELSE 0 END) AmtDue1Fgn
		, sum(CASE WHEN i.maxrectype > 0 AND i.MinAgingDate BETWEEN @PastDueDate3 AND dateadd(day,-1, @PastDueDate2) THEN o.AmountDueFgn ELSE 0 END) AmtDue2Fgn
		, sum(CASE WHEN i.maxrectype > 0 AND i.MinAgingDate BETWEEN @PastDueDate4 AND dateadd(day,-1, @PastDueDate3) THEN o.AmountDueFgn ELSE 0 END) AmtDue3Fgn
		, sum(CASE WHEN i.maxrectype > 0 AND i.MinAgingDate < @PastDueDate4  THEN o.AmountDueFgn ELSE 0 END) AmtDue4Fgn
		
		FROM #ArInvoice i INNER JOIN #ArOpenInvoice o 
		ON i.CustId = o.CustId AND i.InvcNum = o.InvcNum AND i.CurrencyID = o.CurrencyID AND o.AcctType = 0
		GROUP BY i.CustId, i.InvcNum,i.CurrencyID
	) s
	ON #ArInvoice.CustId = s.CustId AND #ArInvoice.InvcNum = s.InvcNum AND #ArInvoice.CurrencyID = s.CurrencyID


	-- Note: filtering is done after aging buckets are processed to 
	-- ensure proper aging of payments applied to an invoice
	-- when some applications are not included
	-- capture bucketed totals for filtered invoice detail
	INSERT INTO #ArAgedTrialBal (CustId, InvcNum, Unapplied, AmtCurrent, AmtDue1, 
		AmtDue2, AmtDue3, AmtDue4, AmountDue,CurrencyID)   
	SELECT i.CustID, i.InvcNum 
		, i.UnappliedFgn 
		, i.AmtCurrentFgn 
		, i.AmtDue1Fgn 
		, i.AmtDue2Fgn 
		, i.AmtDue3Fgn 
		, i.AmtDue4Fgn 
		, i.AmountDueFgn
		, i.CurrencyID  	
	FROM #ArInvoice i LEFT JOIN dbo.tblArCust c ON i.CustID = c.CustID --capture the customer name

	--Balance Forward customer
	INSERT INTO #ArAgedTrialBal (CustId, InvcNum, Unapplied, AmtCurrent, AmtDue1, 
		AmtDue2, AmtDue3, AmtDue4, AmountDue,CurrencyID)	
	SELECT A.CustId ,A.InvcNum, SUM(Unapplied), SUM(AmtCurrent)+ SUM(AmtFinanceCharge), SUM(AmtDue1), 
		SUM(AmtDue2), SUM(AmtDue3), SUM(AmtDue4), 0,CurrencyID FROM
	(
		SELECT op.CustId, 'BalFwd' AS InvcNum, 
			0 AS Unapplied, 		
			CASE WHEN op.AgingPeriod =0 AND op.RecType <> 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtCurrent,
			CASE WHEN op.AgingPeriod =10 OR op.RecType = 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtFinanceCharge, 
			CASE WHEN op.AgingPeriod =1 AND op.RecType <> 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtDue1, 
			CASE WHEN op.AgingPeriod =2 AND op.RecType <> 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtDue2, 
			CASE WHEN op.AgingPeriod =3 AND op.RecType <> 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtDue3, 
			CASE WHEN op.AgingPeriod >3 AND op.RecType <> 4 THEN ISNULL(SUM( AmountDueFgn), 0) ELSE 0 END AS AmtDue4, 		
			0 AmountDue,
			op.CurrencyId
		FROM #tmpCustomerList l 
		INNER JOIN #ArOpenInvoice op ON l.CustId = op.CustId	
		WHERE op.AcctType = 1	
		GROUP BY op.CustId,op.InvcNum,op.CurrencyId,op.AgingPeriod,op.RecType
	) AS A
	GROUP BY A.CustId,A.CurrencyId,A.InvcNum
	
	SELECT DISTINCT c.CustId, c.CustName, a.InvcNum, i.NetDueDate, Unapplied, AmtCurrent, AmtDue1,
		AmtDue2, AmtDue3, AmtDue4, AmountDue,a.CurrencyId, cst.GroupCode,  cst.ClassId, cst.DistCode  as CustDistCode, cst.CreditLimit  
	FROM #ArAgedTrialBal a 
	INNER JOIN #tmpCustomerList c ON a.CustId=c.CustId
	INNER JOIN dbo.tblArCust cst on c.CustId=cst.CustId
	LEFT JOIN dbo.tblArOpenInvoice i ON i.CustId = a.CustId AND i.InvcNum = a.InvcNum and i.RecType in (1, -1)
	WHERE @IncludeCurrentCustomer = 1 OR c.CustId IN (
				SELECT CustId FROM #ArAgedTrialBal
				GROUP BY CustId
				HAVING Sum(AmtDue1 + AmtDue2 + AmtDue3 + AmtDue4) <> 0)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
