USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceActivity_MPProdOrder_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceActivity_MPProdOrder_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Captures the schedule activity for released production orders
	--	Defaults the resource requirements to the remaing amount required (needed - recorded)

	--Retrieve global values
	DECLARE	@UseLabor bit, @UseMachineGroup bit, @UseWorkCenter bit
	DECLARE @ScheduleRange smallint, @ScheduleDate datetime
	Declare @UpdateLevel smallint
	
	SELECT @UseLabor = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseLabor'
	SELECT @UseMachineGroup = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseMachineGroup'
	SELECT @UseWorkCenter = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = N'UseWorkCenter'
	SELECT @ScheduleRange = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = N'ScheduleRange'
	SELECT @ScheduleDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = N'ScheduleDate'
	SELECT @UpdateLevel = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = N'UpdateLevel'

	IF @UseLabor IS NULL or @UseMachineGroup IS NULL or @UseWorkCenter IS NULL 
		or @ScheduleRange IS NULL or @ScheduleDate IS NULL
		or @UpdateLevel IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	Declare @CutoffDate datetime
	SELECT @CutoffDate = DATEADD(d, @ScheduleRange + 1, @ScheduleDate) --Use prior to next day to handle time values

	--Expects the following temp tables

	----ActivityDetailType Enum:
	---- 1,Queue,2,MachineSetup,3,MachineRun,4,LaborSetup,5,LaborRun,6,Wait,7,Move
	--Create Table #ActivityDetail (
	--	[Id] [bigint] not null Identity(1, 1),
	--	[TransId] [int] not null, --FK: to source requirement
	--	[DtlType] [tinyint] not null, --Enum: ActivityDetailType
	--	[ValueNeeded] [bigint] not null, --time in seconds
	--	[ValueFinished] [bigint] not null, --time in seconds
	--	[ReleaseId] [int] not null,
	--	[UseInOperation] [bit] not null, --Allowed for use by operation
	--	[LocId] [pLocId],
	--	PRIMARY KEY NONCLUSTERED ([TransId], [Id])
	--)


	--MP Production Orders
	--	In Process or greater status with requirements
	--	divide data capture dependent upon use by selected scheduling options
	--  Optionally Exclude times per Operation specific options
	If @UseWorkCenter = 1
	Begin
		-- 1,Queue
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 1, r.[ReleaseId], ms.[LocId], ISNULL(rd.UseQueue, 1), s.[QueueTimeEst] * 60.0, 0  --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and s.[WorkCenterId] is not null

		--6,Wait
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 6, r.[ReleaseId], ms.[LocId], ISNULL(rd.UseWait, 1), s.[WaitTimeEst] * 60.0, 0 --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and s.[WorkCenterId] is not null

		--7,Move
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 7, r.[ReleaseId], ms.[LocId], ISNULL(rd.UseMove, 1), s.[MoveTimeEst] * 60.0, 0 --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and s.[WorkCenterId] is not null
	End

	If (@UseLabor = 1 or @UseWorkCenter = 1)
	Begin
		--4,LaborSetup
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 4, r.[ReleaseId], ms.[LocId]
			, ISNULL(rd.UseLaborSetup, 1), MIN(s.[LaborSetupEst] * 60.0) --seconds
			, SUM(Case When d.[LaborSetupIn] <> 0 Then (d.[LaborSetup] / d.[LaborSetupIn]) * 3600.0 Else 0 End) --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			LEFT JOIN dbo.tblMpTimeDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and (s.[LaborSetupTypeId] is not null or s.[WorkCenterId] is not null)
			Group By s.[TransId], r.[ReleaseId], ms.[LocId], ISNULL(rd.UseLaborSetup, 1)

		--5,LaborRun
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 5, r.[ReleaseId], ms.[LocId]
			, ISNULL(rd.UseLaborRun, 1), MIN(s.[LaborEst] * 60.0) --seconds
			, SUM(Case When d.[LaborIn] <> 0 Then (d.[Labor] / d.[LaborIn]) * 3600.0 Else 0 End) --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			LEFT JOIN dbo.tblMpTimeDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and (s.[LaborTypeId] is not null or s.[WorkCenterId] is not null)
			Group By s.[TransId], r.[ReleaseId], ms.[LocId], ISNULL(rd.UseLaborRun, 1)
	End

	If (@UseMachineGroup = 1 or @UseWorkCenter = 1)
	Begin
		--2,MachineSetup
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 2, r.[ReleaseId], ms.[LocId]
			, ISNULL(rd.UseMachineSetup, 1), MIN(s.[MachineSetupEst] * 60.0) --seconds
			, SUM(Case When d.[MachineSetupIn] <> 0 Then (d.[MachineSetup] / d.[MachineSetupIn]) * 3600.0 Else 0 End) --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			LEFT JOIN dbo.tblMpTimeDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and (s.[MachineGroupId] is not null or s.[WorkCenterId] is not null)
			Group By s.[TransId], r.[ReleaseId], ms.[LocId], ISNULL(rd.UseMachineSetup, 1)
		
		--3,MachineRun,
		Insert into #ActivityDetail ([TransId], [Dtltype], [ReleaseId], [LocId], [UseInOperation], [ValueNeeded], [ValueFinished])
		Select s.[TransId], 3, r.[ReleaseId], ms.[LocId]
			, ISNULL(rd.UseMachineRun, 1), MIN(s.[MachineRunEst] * 60.0) --seconds
			, SUM(Case When d.[MachineRunIn] <> 0 Then (d.[MachineRun] / d.[MachineRunIn]) * 3600.0 Else 0 End) --seconds
			FROM dbo.tblMpTimeSum s 
			INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
			INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
			LEFT JOIN dbo.tblMpTimeDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN dbo.tblMpMatlSum ms on r.[ParentId] = ms.[TransId]
			LEFT JOIN (Select * From #ResourceDefaults Where [ResType] = 8) rd on s.[OperationId] = rd.[ResourceId] And ms.[LocId] = rd.[LocId]
			Where t.[Status] <> 6 -- exclude completed releases (include completed requirements)
				and t.[EstStartDate] < @CutoffDate --AsOf cutoff date
				and (s.[MachineGroupId] is not null or s.[WorkCenterId] is not null)
			Group By s.[TransId], r.[ReleaseId], ms.[LocId], ISNULL(rd.UseMachineRun, 1)
	End


	--conditionally cleanup obsolete data
	If (@UpdateLevel <> 0)
	Begin
		--Remove Production Activity for orders that no longer exist
		Delete dbo.tblCsResourceActivity 
			Where [SrcType] = 1
			and [SourceRef] not in (Select Cast([TransId] as nvarchar) As [SourceRef] From #ActivityDetail)

		--Remove captured detail for existing activity
		Delete #ActivityDetail
			Where Cast(TransId as nvarchar) in (Select SourceRef from dbo.tblCsResourceActivity Where [SrcType] = 1)

		--remove any orphaned activity detail
		Delete dbo.tblCsResourceActivityDetail
			Where HeaderId not in (Select HeaderId from dbo.tblCsResourceActivity Where [SrcType] = 1)
	End
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_MPProdOrder_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_MPProdOrder_proc'
GO
