USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArFinanceChargeHistoryReport2_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArFinanceChargeHistoryReport2_proc]
@FiscalPeriodFrom smallint, 
@FiscalPeriodThru smallint, 
@FiscalYearFrom smallint, 
@FiscalYearThru smallint, 
@TransactionDateFrom datetime, 
@TransactionDateThru datetime

AS
BEGIN TRY
	SET NOCOUNT ON

	-- process expects the list of customer to process to be provided via the following temporary table
	-- Create Table #tmpCustomerList (CustId pCustId, CustName nvarchar(30))

	--CREATE TABLE #tmpCustomerList( CustId pCustId NOT NULL, CustName nvarchar(255) NULL, AcctType tinyint NULL PRIMARY KEY CLUSTERED ([CustId]))
	--INSERT INTO #tmpCustomerList (CustId,CustName,AcctType) SELECT CustId,CustName,AcctType FROM dbo.tblArCust

	DECLARE @FiscalFrom int, @FiscalThru int
	SELECT @FiscalFrom = (ISNULL(@FiscalYearFrom, 0) * 1000) + ISNULL(@FiscalPeriodFrom, 0)
			, @FiscalThru = (ISNULL(@FiscalYearThru, 0) * 1000) + ISNULL(@FiscalPeriodThru, 0)

	SELECT l.CustId, h.FinchDate, h.FinchAmt, h.GLPeriod 
	FROM #tmpCustomerList l 
		INNER JOIN dbo.tblArHistFinch h on l.CustId = h.CustId 
	WHERE (h.FiscalYear * 1000) + h.GLPeriod BETWEEN @FiscalFrom AND @FiscalThru 
		AND h.FinchDate BETWEEN @TransactionDateFrom AND @TransactionDateThru

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArFinanceChargeHistoryReport2_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArFinanceChargeHistoryReport2_proc'
GO
