USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlRealizedGainLossPost_UpdateGainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlRealizedGainLossPost_UpdateGainLoss_proc]
AS 
BEGIN TRY

	DECLARE @PostRun pPostRun
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'	

	UPDATE tblGlGainLoss SET PostRun  = @PostRun WHERE postRun IS NULL 	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRealizedGainLossPost_UpdateGainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRealizedGainLossPost_UpdateGainLoss_proc'
GO
