USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InMatReqJrnlReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InMatReqJrnlReport_proc]
@CurrencyPrecision TINYINT, 
@SortBy TINYINT 

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmp 
	(
		TransId INT,
		LineNum SMALLINT,
		LotNum [nvarchar](16) NULL,
		SerNum [nvarchar](35) NULL,
		CostUnit [decimal](28,10) NOT NULL,
		LotCount INT
	)

	SELECT *,
	
	SUM(CostExtNeg) OVER (PARTITION BY GrpId1) + SUM(CostExtPos) OVER (PARTITION BY GrpId1) GlPdTotal1,
	
	CASE WHEN @SortBy = 3 THEN 
	SUM(CostExtNeg) OVER (PARTITION BY GrpId2, SortBy3) + SUM(CostExtPos) OVER (PARTITION BY GrpId2, SortBy3) ELSE 
	CASE WHEN @SortBy = 2 THEN SUM(CostExtNeg) OVER (PARTITION BY GrpId2, SortBy2) + SUM(CostExtPos) OVER (PARTITION BY GrpId2, SortBy2) ELSE
	SUM(CostExtNeg) OVER (PARTITION BY GrpId2) + SUM(CostExtPos) OVER (PARTITION BY GrpId2) END END GlPdTotal2

	FROM(
	SELECT 
		CASE @SortBy
			WHEN 0 THEN h.TransId
			WHEN 1 THEN CONVERT(SQL_VARIANT, h.ReqNum)
			WHEN 2 THEN h.SumYear + h.GLPeriod 
		END GrpId1,	

		CASE @SortBy 
			WHEN 2 THEN h.GLPeriod 
		END SortBy2,

		CASE @SortBy
			WHEN 0 THEN h.TransId
			WHEN 1 THEN CONVERT(SQL_VARIANT, h.ReqNum)
			WHEN 2 THEN d.GLAcctNum 
			WHEN 3 THEN CONVERT(SQL_VARIANT, d.ItemId) 
		END GrpId2,
		
		CASE @SortBy
			WHEN 3 THEN CAST(CONVERT(SQL_VARIANT, h.TransID) AS VARCHAR(255)) + CAST(CONVERT(SQL_VARIANT, h.ReqNum) AS VARCHAR(255)) 
		END SortBy3,
						
		h.*, d.LineNum, d.ItemId,  d.Status, d.LocId AS DLocId, d.Descr, d.UomBase, d.UomSelling, d.ConvFactor, d.ItemType, i.LottedYN, d.GLAcctNum
		, d.GLDescr, d.QtyReqstd,d.QtyFilled,d.QtyBkord, CAST(ROUND(h.reqtype * d.QtyFilled * d.CostUnitStd, @CurrencyPrecision) AS FLOAT) AS CostExts
		, d.JOJobId, d.JOPhaseId, d.JOCostCode, d.HistSeqNum
		, CAST(CASE WHEN h.ReqType > 0 THEN ROUND(d.QtyFilled * d.CostUnitStd, @CurrencyPrecision) ELSE 0 END AS FLOAT) AS CostExtPos
		, CAST(CASE WHEN h.ReqType < 0 THEN -ROUND(d.QtyFilled * d.CostUnitStd, @CurrencyPrecision) ELSE 0 END AS FLOAT) AS CostExtNeg
	FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId
		INNER JOIN #tmpMatReqList t ON h.TransId = t.TransId			
		LEFT JOIN dbo.tblInItem AS i ON i.ItemId = d.ItemId) ds

	--Getting LotNumInfo
	SELECT l.TransId, l.LineNum, l.LotNum, l.QtyFilled , h.ReqType * l.CostUnit AS CostUnit, ((h.ReqType * l.CostUnit) * l.QtyFilled) AS CostExt
	FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId 
		 INNER JOIN dbo.tblInMatReqLot l ON d.LineNum = l.LineNum AND d.TransId = l.TransId 
		 INNER JOIN #tmpMatReqList t ON h.TransId = t.TransId

	--Getting SerialNumInfo
	INSERT INTO #tmp 
		SELECT s.TransId, s.LineNum, s.LotNum, s.SerNum, h.ReqType * s.CostUnit AS CostUnit, NULL
		FROM dbo.tblInMatReqHeader h INNER JOIN dbo.tblInMatReqDetail d ON h.TransId = d.TransId 
			 INNER JOIN dbo.tblInMatReqSer s ON d.LineNum = s.LineNum AND d.TransId = s.TransId 
			 INNER JOIN #tmpMatReqList t ON h.TransId = t.TransId
		 
	 UPDATE #tmp SET LotCount = (SELECT COUNT(s.LotNum) FROM #tmp s WHERE s.LotNum IS NOT NULL)	 
	 SELECT * FROM #tmp 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InMatReqJrnlReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InMatReqJrnlReport_proc'
GO
