USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPutAwayPost_PurgeReceipt_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPutAwayPost_PurgeReceipt_proc]
AS
BEGIN TRY

	DELETE R
	FROM dbo.tblWmRcpt R
	INNER JOIN #RcptPosted temp ON temp.RcptKey = R.RcptKey AND R.[Status] = 2 AND temp.TransType = 0 --Purge Completed Receipts from Put Away Request

	--Re Adjust RcptKey From Put Away Request after Rcpt Was Deleted
	UPDATE H
	SET H.TransKey = ds.TransKey
	FROM dbo.tblWmPutAwayRequest H
	INNER JOIN #RcptPosted temp ON temp.RcptKey = H.TransKey
	OUTER APPLY
	(
		SELECT TOP 1 D.TransKey
		FROM dbo.tblWmPutAwayRequest D 
		INNER JOIN dbo.tblWmRcpt R ON R.RcptKey = D.TransKey
		WHERE D.ParentID = H.ID AND D.TransKey IS NOT NULL AND D.TransType = 0
	)ds
	WHERE H.ParentID IS NULL AND H.SerNum IS NULL AND H.TransType = 0 AND (H.TransKey IS NULL OR (H.TransKey IS NOT NULL AND H.TransKey NOT IN (SELECT R.RcptKey FROM dbo.tblWmRcpt R)))

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_PurgeReceipt_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_PurgeReceipt_proc'
GO
