USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemCostChange_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemCostChange_proc] 
AS
BEGIN TRY

	DECLARE @AdjBase tinyint, @AdjType tinyint, @AdjAmt pDecimal, @Period smallint, @Year smallint, @CurrId pCurrency

	--Retrieve global values
	SELECT @AdjBase = CAST([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'AdjBase'
	SELECT @AdjType = CAST([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'AdjType'
	SELECT @AdjAmt = CAST([Value] AS decimal(28,10)) FROM #GlobalValues WHERE [Key] = 'AdjAmt'
	SELECT @Period = CAST([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'Period'
	SELECT @Year = CAST([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'Year'
	SELECT @CurrId = CAST([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrId'

	--Clear log table
	DELETE FROM #ItemCostChangeLog
	INSERT INTO #ItemCostChangeLog (
		ItemId, LocId, Uom, ItemIDDescr, ProductLine, AdjBase, AdjType, CostStd, CostBase, NewPrice
		, CurrencyIDACV, CostStdACV, CostBaseACV, NewPriceACV)
	SELECT t.ItemId, t.LocId, i.UomDflt, i.Descr, i.ProductLine, @AdjBase, @AdjType, l.CostStd, l.CostBase, 0
		, l.CurrencyIDACV, l.CostStdACV, l.CostBaseACV, 0
	FROM #ItemLocationList t
	INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
	INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId

	IF @AdjType = 0
	BEGIN
		UPDATE #ItemCostChangeLog SET NewPrice = CASE @AdjBase WHEN 1 THEN CostStd ELSE CostBase END + @AdjAmt
	END	  
	ELSE
	BEGIN
		UPDATE #ItemCostChangeLog SET NewPrice = CASE @AdjBase WHEN 1 THEN CostStd ELSE CostBase END * (1+@AdjAmt*.01)
	END
	
	UPDATE #ItemCostChangeLog SET NewPriceACV = NewPrice FROM #ItemCostChangeLog
	
	UPDATE #ItemCostChangeLog SET NewPriceACV = NewPrice * e.Rate
	FROM #ItemCostChangeLog l
	LEFT JOIN (SELECT r.[FiscalPeriod], r.[FiscalYear], d.[Source], d.[Destination], d.[Rate]
		FROM [dbo].[tblSmExchangeRate] r
		INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON r.[ID] = d.[ExchangeRateID]
		WHERE r.[Type] = 1
		) e ON e.[FiscalPeriod] = @Period AND e.[FiscalYear] = @Year
		  AND e.[Source] = @CurrId AND e.[Destination] = l.CurrencyIDACV
	WHERE l.CurrencyIDACV != @CurrId

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #ItemCostChangeLog WHERE NewPriceACV IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--Update the Cost Information
	IF @AdjBase = 1
	BEGIN
		UPDATE dbo.tblInItemLoc SET CostStd = NewPrice
		FROM dbo.tblInItemLoc l INNER JOIN #ItemCostChangeLog t
		ON t.LocId = l.LocId AND t.ItemId = l.ItemId
	
		UPDATE dbo.tblInItemLoc SET CostStdACV = NewPriceACV
		FROM dbo.tblInItemLoc l INNER JOIN #ItemCostChangeLog t
		ON t.LocId = l.LocId AND t.ItemId = l.ItemId AND l.CurrencyIDACV = t.CurrencyIDACV
	END
	ELSE
	BEGIN
		UPDATE dbo.tblInItemLoc SET CostBase = NewPrice
		FROM dbo.tblInItemLoc l INNER JOIN #ItemCostChangeLog t
		ON t.LocId = l.LocId AND t.ItemId = l.ItemId
		
		UPDATE dbo.tblInItemLoc SET CostBaseACV = NewPriceACV
		FROM dbo.tblInItemLoc l INNER JOIN #ItemCostChangeLog t
		ON t.LocId = l.LocId AND t.ItemId = l.ItemId AND l.CurrencyIDACV = t.CurrencyIDACV
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemCostChange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemCostChange_proc'
GO
