USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidatePrice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidatePrice_proc]     
   @ImportBatchId NVARCHAR(14) = NULL,    
   @KeyLevelSeq1 INT = NULL,    
   @PartnerId BIGINT = NULL,    
   @CustPoNum NVARCHAR(75) = NULL,    
   @TempTblName NVARCHAR(30) = NULL,
   @TotalKeys INT = NULL OUT,
   @TotalKeysValid INT = NULL OUT,
   @TotalKeysError INT = NULL OUT,
   @TotalKeysWarning INT = NULL OUT,
   @TotalRows INT = NULL OUT     
AS      

SET NOCOUNT ON  

BEGIN TRY   
   -- Err status 0=OK,1=Warning,2=Error Cont, 3 = Err Stop
   DECLARE @SQL nvarchar(1000),
           @ErrCode int,
           @vIsError int = 2,
           @vIsWarning int = 1,
           @PrecUPrice smallint
  
   CREATE TABLE #sel(PoTempHeaderId bigInt)
   CREATE TABLE #selErrH(PoTempHeaderId bigInt,ImportBatchId nvarchar(14), KeyLevelSeq1 int)
   CREATE TABLE #selErrD(PoTempHeaderId bigInt,ImportBatchId nvarchar(14), KeyLevelSeq1 int, KeyLevelSeq2 int)

   SELECT @PrecUPrice=ISNULL(CONVERT(smallint,ConfigValue),0)
   FROM tblSmConfigValue WHERE ConfigRef = 421 --,'SM PrecUPrice'

   
   IF ISNULL(@TempTblName,'')<>'' 
   BEGIN
      SET @SQL='SELECT ID FROM ' + @TempTblName 
      INSERT INTO  #sel (PoTempHeaderId)
      EXEC sp_executesql @SQL
   END
   ELSE
   BEGIN
      INSERT INTO #sel(PoTempHeaderId)
      SELECT h.Id
      FROM tblEcPoHeader h
      WHERE  (ImportBatchId = @ImportBatchId)    
         AND (ISNULL(@KeyLevelSeq1,0)=0 OR h.KeyLevelSeq1 = @KeyLevelSeq1)    
         AND (ISNULL(@PartnerId,0) = 0 OR h.PartnerId = @PartnerId)    
         AND (ISNULL(@CustPoNum,'')='' OR h.CustPoNum=@CustPoNum)   
   END

   INSERT INTO #selErrH(PoTempHeaderId,ImportBatchId,KeyLevelSeq1)
   SELECT h.Id, h.ImportBatchId, h.KeyLevelSeq1
   FROM #sel s
   INNER JOIN tblEcPoHeader h ON s.PoTempHeaderId = h.Id

   IF ISNULL(@TempTblName,'')<>'' 
   BEGIN
      EXEC dbo.trav_EcPoValidateUpdateSAC_proc @TempTblName = @TempTblName
   END
   ELSE
   BEGIN
      EXEC dbo.trav_EcPoValidateUpdateSAC_proc @ImportBatchId= @ImportBatchId,
                                     @KeyLevelSeq1 = @KeyLevelSeq1,
                                     @CustPoNum = @CustPoNum
   END
   
   -- invalid header discount
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
    SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,
	   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], Invalid Header Discount Code  [' + ISNULL(sac.SACCode,'') +'], Discount Descr [' + ISNULL(sac.SACDescr,'') +']' ,500) as ErrDescr,0 ErrSequence,1 ErrRecType,1 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1 
	   INNER JOIN (SELECT DISTINCT POHeaderID, SACCode,SACDescr FROM  dbo.tblEcPoSAC WHERE PODetailID IS NULL AND ImpliedYN = 0) AS sac ON h.Id = sac.POHeaderID
	   LEFT JOIN tblEcPartnerSAC psac ON h.PartnerID = psac.PartnerId AND ISNULL(sac.SACCode,'') = psac.SACCode AND psac.ImpliedYN = 0
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND psac.SACCode IS NULL
   )ds

   -- header discount Missing Service Item
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,
   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], Discount Code  [' + ISNULL(sac.SACCode,'') +'], Missing Service Item' ,500),0,1,@vIsError,0
   FROM #selErrH e
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1 
   INNER JOIN ((SELECT DISTINCT POHeaderID,SACCode FROM tblEcPoSAC WHERE PODetailID IS NULL AND ISNULL(AdjServiceItem ,'')='')) AS sac ON h.Id = sac.POHeaderID
   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
   WHERE l.Id IS NULL
  
   -- Adjustemnt Item not found in location
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID], NULL [PODetailID],h.PartnerID,h.CustPoNum, 0 LineNum,
				'PO ['+ h.CustpoNum  +'] Header Discount [' +ISNULL(pac.SACCode,'')+'], Adjustment Item [' +ISNULL(pac.AdjServiceItem,'')+'] not found in Loc ['+ISNULL(pac.AdjServiceLocId,'')+']'  as ErrDescr,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrH e  
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id 
	   INNER JOIN tblEcPoSAC pac ON h.Id = pac.POHeaderID
	   LEFT  JOIN tblInItemLoc il ON pac.AdjServiceItem = il.ItemId AND pac.AdjServiceLocId = il.locId
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND pac.PODetailID IS NULL AND ISNULL(AdjServiceItem ,'')<>'' AND il.LocId IS NULL
   )ds
   
   -- *** DETAIL *** --
   INSERT INTO #selErrD(PoTempHeaderId,ImportBatchId,KeyLevelSeq1,KeyLevelSeq2)
   SELECT h.Id, h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2
   FROM #selErrH e  
   INNER JOIN tblEcPoHeader h ON e.PoTempHeaderId=h.id
   INNER JOIN tblEcPoDetail d ON h.ID = d.POHeaderID

    -- Invalid detail discount
	INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                      LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			   'PO ['+ h.CustpoNum  +'] Item ['+ISNULL(d.ItemID,'') +'] Line Discount not Set up [' +ISNULL(sac.SACCode,'')+'], Discount Descr ['+ISNULL(sac.SACDescr,'')+']' as ErrDescr ,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id    
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID
	   INNER JOIN (SELECT DISTINCT POHeaderID, PODetailID, SACCode,SACDescr FROM  dbo.tblEcPoSAC WHERE PODetailID IS NOT NULL) AS sac ON h.Id = sac.POHeaderID AND d.Id = sac.PODetailID      
	   LEFT JOIN tblEcPartnerSAC psac ON h.PartnerID = psac.PartnerId AND ISNULL(sac.SACCode,'') = psac.SACCode
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND psac.SACCode IS NULL
   )ds
   
   -- Price missmatch
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,
									ErrSequence, ErrRecType, ErrStatus, SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,
		  ds.ErrRecType,CASE WHEN ISNULL(ds.OptValue,'0')='0' THEN @vIsWarning ELSE @vIsError END as ErrStatus, CASE WHEN ISNULL(ds.OptValue,'0')='0' THEN 0 ELSE 1 END
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
		  'PO ['+ h.CustpoNum  +'] Item ID ['+ISNULL(d.ItemID,'') +'] PO Price ['+LEFT(CAST(ISNULL(d.UnitPrice,0) as varchar),CHARINDEX('.',CAST(ISNULL(d.UnitPrice,0) as VARCHAR)) +@PrecUPrice)+'], Inventory Calc Price ['+LEFT(CAST(ISNULL(d.CalcUnitPriceSell,0) as varchar),CHARINDEX('.',CAST(ISNULL(d.CalcUnitPriceSell,0) as VARCHAR)) +@PrecUPrice)+']' as ErrDescr,
		  0 ErrSequence,0 ErrRecType, opt.OptValue
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.Id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND d.KeyLevelSeq2 = e.KeyLevelSeq2
	   LEFT JOIN (SELECT p.ID, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '1DF81CA4-5F80-4060-B333-75A7955CD137' AND d.ContextType = 7) as opt ON h.PartnerID = opt.ID --850I_OptPriceMissmatch
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND ISNULL(OptValue,'0')<>'2' AND ISNULL(d.UnitPrice,0)<>ISNULL(d.CalcUnitPriceSell ,0) -- AND ISNULL(d.UnitPrice,0)> 0 AND ISNULL(d.SOUnitPriceSell ,0)>0
   )ds

   -- Traverse Price  = 0
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailId,PartnerId,CustPoNum,
                                     LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailId,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,CASE WHEN ISNULL(ds.OptValue,'0')='0' THEN @vIsWarning ELSE @vIsError END ,CASE WHEN ISNULL(ds.OptValue,'0')='0' THEN 0 ELSE 1 END
   FROM
   (
	  SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailId],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			'PO ['+ h.CustpoNum  +'] Item ID ['+ISNULL(d.ItemID,'') +'] Price Source option set to ['+ISNULL(src.EnumeratedValue,'')+'] and will result in a Sales Order line entry with a zero price' as ErrDescr ,
			0 ErrSequence,0 ErrRecType, opt.OptValue
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2 = d.KeyLevelSeq2 
	   LEFT JOIN (SELECT p.ID, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '4C704D96-D4CF-4B33-8D7A-0990DC91B710' AND d.ContextType = 7) as opt ON h.PartnerID = opt.ID --850I_OptZeroPrice
	   LEFT JOIN (SELECT p.ID, CASE ISNULL(d.DefaultValue,'0') WHEN '0' THEN 'Use Inventory Price' WHEN '1' THEN 'Use Price in PO' WHEN '2' THEN 'Use Last SO Price' WHEN '3' THEN 'Inventory then PO' WHEN '4' THEN 'PO then Inventory' END  AS EnumeratedValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = 'EB75CE2E-04B1-4DC6-882F-0F86AB45A4ED' AND d.ContextType = 7) as src ON h.PartnerID = src.ID --850I_OptSOPriceSource
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND ISNULL(opt.OptValue,'0')<>'2' AND ISNULL(d.SOUnitPriceSell ,0) = 0
   )ds

   -- run any custom code
   EXEC dbo.trav_EcPoValidate_Custom_proc

   -- clear detail error codes    
   UPDATE d SET ErrorCode=0    
   FROM #sel s  
   INNER JOIN dbo.tblEcPoHeader h ON s.PoTempHeaderId=h.Id
   INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID

   -- clear header error codes    
   UPDATE h SET ErrorCode=0    
   FROM #sel s  
   INNER JOIN dbo.tblEcPoHeader h ON s.PoTempHeaderId=h.Id


  -- set detail error code status    
   UPDATE d SET ErrorCode = 1    
   FROM #sel s    
   INNER JOIN dbo.tblEcPoHeader h ON  s.PoTempHeaderId=h.Id
   INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID
   INNER JOIN dbo.tblEcPoErrorlog  l ON h.Id = l.POHeaderID AND d.Id = l.PODetailID   
   WHERE ErrRecType=0 AND l.ErrStatus>@vIsWarning -- allow warnings

    -- set header based on detail status    
   UPDATE h SET ErrorCode=1     
   FROM #sel s    
   INNER JOIN dbo.tblEcPoHeader h ON s.PoTempHeaderId=h.Id
   INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID
   WHERE d.ErrorCode=1     

   -- set header based on errores with header itself    
   UPDATE h SET ErrorCode=1    
   FROM #sel s      
   INNER JOIN dbo.tblEcPoHeader h ON s.PoTempHeaderId=h.Id
   INNER JOIN dbo.tblEcPoErrorlog  l ON h.Id = l.POHeaderID
   WHERE ErrRecType=1 AND l.ErrStatus > @vIsWarning -- allow warnings   
 
   INSERT INTO dbo.tblEcPoErrorlog (POHeaderID,PartnerId,CustPoNum,ErrStatus)
   SELECT ds.POHeaderID,ds.PartnerId,ds.CustPONum,0		  
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID], h.PartnerId, CustPoNum + CASE WHEN ISNULL(o.OptValue,'0')='0' THEN '' ELSE  ' ['+ CAST(h.KeyLevelSeq1 as varchar)+']' END as CustPONum
	   FROM dbo.tblEcPoHeader h         
	   INNER JOIN #sel t ON  t.PoTempHeaderId=h.Id   
	   INNER JOIN (SELECT ROW_NUMBER() OVER (ORDER BY [ID]) AS idt,Id FROM tblEcPoHeader) g ON g.id=H.Id
	   LEFT JOIN (SELECT DISTINCT POHeaderID
				  FROM dbo.tblEcPoErrorlog 
	   WHERE errStatus>1) e ON h.Id = e.POHeaderID  
	   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '14137BF5-91FB-45D8-9A0C-437992582467' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId --850I_OptAllowDuplicatePO
	   WHERE h.KeyLevelSeq1 IS NULL   
   )ds

   INSERT INTO dbo.tblEcPoErrorlog (POHeaderID, PartnerId, CustPoNum, LineNum, ErrCode, ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
   SELECT ds.POHeaderID, ds.PartnerId, ds.CustPONum, 0, NULL, NULL, 0, 1, 0, 0		  
   FROM
   (
		
		SELECT DISTINCT h.Id [POHeaderID], h.PartnerId, h.CustPoNum
		FROM dbo.tblEcPoHeader h         
		INNER JOIN #sel t ON  t.PoTempHeaderId=h.Id
		LEFT JOIN dbo.tblEcPoErrorlog e ON h.Id = e.POHeaderID
		WHERE e.Id IS NULL
	)ds

   SELECT @TotalKeys = COUNT(*) FROM #sel 
   SELECT @TotalRows = @TotalKeys
   SELECT @TotalKeysError = COUNT(*) FROM (SELECT DISTINCT e.POHeaderID FROM dbo.tblEcPoErrorlog e
												INNER JOIN #sel s ON s.PoTempHeaderId = e.POHeaderID
												WHERE ErrStatus=@vIsError) x  
   SELECT @TotalKeysWarning = COUNT(*) FROM (SELECT DISTINCT POHeaderID FROM dbo.tblEcPoErrorlog e
												INNER JOIN #sel s ON s.PoTempHeaderId = e.POHeaderID
												WHERE ErrStatus=@vIsWarning) x  
   SELECT @TotalKeysValid= @TotalKeys - @TotalKeysError 

   SELECT @TotalRows = ISNULL(@TotalRows,0),    
          @TotalKeys = ISNULL(@TotalKeys,0),    
          @TotalKeysValid = ISNULL(@TotalKeysValid,0),    
          @TotalKeysError = ISNULL(@TotalKeysError,0),    
          @TotalKeysWarning = ISNULL(@TotalKeysWarning,0)    

   SELECT @TotalRows TotalRows,    
          @TotalKeys TotalKeys,    
          @TotalKeysValid TotalKeysValid,    
          @TotalKeysError TotalKeysError,     
          @TotalKeysWarning TotalKeysWarning    

END TRY
BEGIN CATCH  
   EXEC dbo.trav_RaiseError_proc 
END CATCH   
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidatePrice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidatePrice_proc'
GO
