USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoSoTransHeaderInsert_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoSoTransHeaderInsert_proc]      
@ImportBatchId [nvarchar](14),    
@KeyLevelSeq1 int,  
@SoTransId pTransID,  
@Custid pCustid  
AS                                        
SET NOCOUNT ON    
BEGIN TRY    

DECLARE @NewID [nvarchar](max)
SET @NewID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
                                     
INSERT INTO [tblEcPoSoTransHeader](  
 [Id],[SoTransId],[POHeaderID],[PartnerID],  
	[CustID], [CustPoNum] , [PoDate] )
SELECT @NewID +  ROW_NUMBER() OVER (ORDER BY @SOTransId,h.Id), @SOTransId,h.Id,h.PartnerID,  
		@Custid,h.CustPONum,h.PODate   
	FROM dbo.tblEcPoHeader  h  
	WHERE h.ImportBatchId=@ImportBatchId and h.KeyLevelSeq1=@KeyLevelSeq1   
	   
SELECT @NewID AS PoSoHeaderID
	   
END TRY
BEGIN CATCH 
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSoTransHeaderInsert_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSoTransHeaderInsert_proc'
GO
