USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsTransPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsTransPost_OpenInvoice_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @PostRun [nvarchar](14), @CurrBase [nvarchar](6), @PrecCurr tinyint, @FiscalYear smallint, @FiscalPeriod smallint,
		@OnAccountInvcNum nvarchar(15), @WrkStnDate datetime 
	DECLARE @TransTypeInvoice nvarchar(10)
	DECLARE @TransType nvarchar(10)


	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @OnAccountInvcNum = Cast([Value] AS nvarchar(15)) FROM #GlobalValues WHERE [Key] = 'OnAccountInvcNum'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice'-- 'ARINVOICE'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PSTRANS'

	IF @PostRun IS NULL OR @CurrBase IS NULL OR @OnAccountInvcNum IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL OR @WrkStnDate IS NULL
	OR @TransTypeInvoice IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #Temp
	(  id bigint,
		[Counter] int     
		, TransId [nvarchar](8) NOT NULL     
	)
	
	--Skip foreign customer for now;
	--Discount is taken;
	--No gain/loss;
	--SourceApp, 4 for PS;
	--No open invoice is created if transaction net due is zero;

	--append invoices and return 
	INSERT dbo.tblArOpenInvoice (CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate, Amt, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp) 
	SELECT h.BillToID, SIGN(h.TransType), t.InvoiceNum, h.TransDate, t.DistCode, c.TermsCode, @CurrBase, 1, t.InvoiceTotal, t.InvoiceTotal, t.DiscAmt, t.DiscAmt, 
		t.NetDueDate, t.DiscDueDate, @FiscalPeriod, @FiscalYear, @PostRun, t.TransID, 0, (CASE WHEN h.TransType < 0 THEN t.InvoiceNum ELSE NULL END), NULL, 4    
	FROM #PsTransList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId 
	WHERE h.VoidDate IS NULL AND t.InvoiceTotal <> 0 AND t.NetDue <> 0


	INSERT INTo #Temp (id,[Counter],TransId)
	SELECT t.ID,[Counter],t.TransId
	FROM #PsTransList t 
	INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
	INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId 
	INNER JOIN tblArOpenInvoice i ON i.TransId = t.TransId AND i.SourceApp = 4
	WHERE h.VoidDate IS NULL AND t.InvoiceTotal <> 0 AND t.NetDue <> 0

    --append payment
	INSERT dbo.tblArOpenInvoice (CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate, Amt, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp, PmtMethodId, CheckNum,AgingPeriod,InvoiceID, AppliedAmount) 
	--Misc payment
	SELECT p.CustID, -2, @OnAccountInvcNum, p.PmtDate, t.DistCode, NULL, @CurrBase, 1, p.AmountBase, p.AmountBase, 0, 0, --(Use base currency for values outside POS)
		p.PmtDate, NULL, @FiscalPeriod, @FiscalYear, @PostRun, t.TransID, 0, NULL, NULL, 4, p.PmtMethodID, p.CheckNum,4,NULl,0
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		INNER JOIN dbo.tblArCust c ON p.CustID = c.CustId
	WHERE p.HeaderID IS NULL AND p.VoidDate IS NULL AND p.AmountBase <> 0
	UNION ALL
	--Transaction payment
	SELECT h.BillToID, -2, i.InvoiceNum, p.PmtDate, i.DistCode, NULL, @CurrBase, 1, p.AmountBase, p.AmountBase, 0, 0, --(Use base currency for values outside POS)
		p.PmtDate, NULL, @FiscalPeriod, @FiscalYear, @PostRun, t.TransID, 0, NULL, NULL, 4, p.PmtMethodID, p.CheckNum,4,tem.Counter, p.AmountBase
	FROM #PsPaymentList t 
	INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
	INNER JOIN dbo.tblPsTransHeader h ON p.HeaderID = h.ID 
	INNER JOIN #PsTransList i ON h.ID = i.ID 
	INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId
	INNER JOIN 
	(	SELECT HeaderID, SUM(SIGN(LineType) * ExtPrice) AS NetDue
		FROM dbo.tblPsTransDetail GROUP BY HeaderID
	) d ON h.ID = d.HeaderID 
	LEFT JOIN #Temp tem ON tem.id = i.ID
	WHERE p.VoidDate IS NULL AND p.AmountBase <> 0 AND d.NetDue <> 0

	
	--Append CC Company Invoices
	INSERT dbo.tblArOpenInvoice (CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate, Amt, AmtFgn, 
		DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum, 
		CustPONum, SourceApp, PmtMethodId, CheckNum) 
	SELECT m.CustId, 1, 'CC' + CONVERT(nvarchar(8), @WrkStnDate, 112), @WrkStnDate, c.DistCode, c.TermsCode, @CurrBase, --(Use base currency for values outside POS)
		1, SUM(p.AmountBase), SUM(p.AmountBase), 
		0, 0, @WrkStnDate, NULL, @FiscalPeriod, @FiscalYear, @PostRun, NULL, 0, NULL, NULL, 4, p.PmtMethodID, NULL
	FROM #PsPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID
		INNER JOIN dbo.tblArPmtMethod m ON p.PmtMethodID = m.PmtMethodId
		INNER JOIN dbo.tblArCust c ON m.CustId = c.CustId 
	WHERE p.VoidDate IS NULL AND (m.PmtType = 3 OR m.PmtType = 7)
	GROUP BY m.CustId, c.DistCode, c.TermsCode, c.CurrencyId, p.PmtMethodID

	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated for the invoice
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM #PsTransList b		
	LEFT JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId
	INNER JOIN [dbo].tblSmExchangeRateTrans d ON d.TransKey = @PostRun	
	WHERE ov.PostRun = @PostRun  AND d.TransType = @TransType AND ov.RecType = 1


	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated for the payments
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM #PsPaymentList b		
	LEFT JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId
	INNER JOIN [dbo].tblSmExchangeRateTrans d ON d.TransKey = @PostRun	
	WHERE ov.PostRun = @PostRun  AND d.TransType = @TransType AND ov.RecType =-2


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsTransPost_OpenInvoice_proc'
GO
