USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCreditCheck_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCreditCheck_proc] 
      @CustId pCustId,
      @CurBase PCurrency
AS 

SET NOCOUNT ON

BEGIN TRY
      
      DECLARE @PmtAmt pDecimal, @Limit pDecimal, @Open pDecimal, @Tran pDecimal, @Avail pDecimal
      
      SELECT @Limit = COALESCE(CreditLimit, 0)
      FROM dbo.tblArCust (NOLOCK)
      WHERE CustId = @CustID
            
      SELECT @Limit = ISNULL(@Limit, 0) 

	  
      SELECT @Open = COALESCE(SUM(SIGN(RecType) * 
                              CASE  WHEN i.CurrencyId = cust.CurrencyId THEN AmtFgn
                                    WHEN cust.CurrencyId = @CurBase THEN Amt
                                    ELSE ROUND(AmtFgn* ISNULL(exInv.Rate,1),CurrDecPlaces) END
                              ), 0) 
      FROM dbo.tblArOpenInvoice i(NOLOCK)
      INNER JOIN dbo.tblArCust cust ON i.CustId = cust.CustId
      LEFT JOIN dbo.tblSmCurrency c ON c.CurrID =cust.CurrencyId
      LEFT JOIN (SELECT [TransKey], [Source], [Destination], [Rate] FROM dbo.tblSmExchangeRateTrans(NOLOCK) WHERE [TransType] = 'ARINVOICE') exInv ON  exInv.TransKey =  CONVERT(varchar,i.[Counter])  --Invoice exch rates        
            AND  exInv.Source = i.CurrencyId
            AND  exInv.Destination = cust.CurrencyId
      WHERE i.CustId = @CustID AND i.[Status] <> 4 

	 
      SELECT @Tran = COALESCE(SUM(SIGN(h.TransType) * 
                        (     CASE WHEN cust.CurrencyId = @CurBase THEN TaxSubtotal + NonTaxSubtotal + Freight + SalesTax + Misc
								   WHEN cust.CurrencyId = h.CurrencyId THEN TaxSubtotalFgn + NonTaxSubtotalFgn + FreightFgn + SalesTaxFgn + MiscFgn 
                                   ELSE (Round((TaxSubtotalFgn + NonTaxSubtotalFgn + FreightFgn + SalesTaxFgn + MiscFgn)* ISNULL(exInv.Rate,1),CurrDecPlaces)) END                       
                        )), 0)
      FROM dbo.tblArTransHeader h (NOLOCK)
      INNER JOIN dbo.tblArCust cust ON h.CustId = cust.CustId
      LEFT JOIN dbo.tblSmCurrency c ON c.CurrID = cust.CurrencyId
      LEFT JOIN (SELECT [TransKey], [Source], [Destination], [Rate] FROM dbo.tblSmExchangeRateTrans(NOLOCK) WHERE [TransType] = 'ARTRANS') exInv ON  exInv.TransKey = h.TransId           
            AND  exInv.Source = h.CurrencyId
            AND  exInv.Destination = cust.CurrencyId        
      WHERE h.CustId = @CustID AND VoidYn = 0 

      IF (SELECT COUNT(*) FROM dbo.tblSmApp_Installed WHERE AppId = 'SO') > 0 
      BEGIN
            SELECT @Tran = @Tran + COALESCE(SUM(SIGN(h.TransType) * (
                                          CASE WHEN cust.CurrencyId = @CurBase THEN TaxableSales + NonTaxableSales + Freight + SalesTax + TaxAmtAdj + Misc
											   WHEN cust.CurrencyId = h.CurrencyId THEN TaxableSalesFgn + NonTaxableSalesFgn + FreightFgn + SalesTaxFgn + TaxAmtAdjFgn + MiscFgn
                                               ELSE (Round((TaxableSalesFgn + NonTaxableSalesFgn + FreightFgn + SalesTaxFgn + TaxAmtAdjFgn + MiscFgn)* ISNULL(exInv.Rate,1),CurrDecPlaces)) END                                     
                                          )), 0)
            FROM dbo.tblSoTransHeader h(NOLOCK)
            INNER JOIN dbo.tblArCust cust ON h.CustId = cust.CustId
            LEFT JOIN dbo.tblSmCurrency c ON c.CurrID = cust.CurrencyId
            LEFT JOIN (SELECT [TransKey], [Source], [Destination], [Rate] FROM dbo.tblSmExchangeRateTrans(NOLOCK) WHERE [TransType] = 'SOTRANS') exInv ON  exInv.TransKey = h.TransId                 
                  AND  exInv.Source = h.CurrencyId
                  AND  exInv.Destination = cust.CurrencyId  
            WHERE h.CustId = @CustID AND h.TransType <> 2 AND h.VoidYn = 0  
      END
   
      SELECT @PmtAmt = COALESCE(SUM(PmtAmt*exInv.Rate), 0)
      FROM dbo.tblArCashRcptHeader c(NOLOCK)
	  INNER JOIN dbo.tblArCust cust ON c.CustId = cust.CustId
	  LEFT JOIN (SELECT [TransKey], [Source], [Destination], [Rate] FROM dbo.tblSmExchangeRateTrans(NOLOCK) WHERE [TransType] = 'ARCASHRCPT') exInv ON exInv.TransKey = c.InvcTransID  
            AND  exInv.Source = c.CurrencyId
            AND  exInv.Destination = cust.CurrencyId   
      
      WHERE c.CustId = @CustId
      
      SELECT @Tran = @Tran - @PmtAmt

      SELECT @Avail = @Limit - @Open - @Tran
      
      SELECT @Limit AS CreditLimit, @Open AS OpenBal, @Tran AS TransBal,  @Avail AS AvailBal
            
END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCheck_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCheck_proc'
GO
