USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlCloseGLAccounts_CalculateGainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlCloseGLAccounts_CalculateGainLoss_proc]
@FiscalYear smallint, 
@FiscalPeriod smallint, 
@BaseCurrency [nvarchar](6)

AS

SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #GainLoss
	(
		AccountId [nvarchar](255) NULL,
		CurrencyID [nvarchar](6) NOT NULL,
		Description nvarchar(30),	
		AccountIDGainLoss [nvarchar](255) NULL,
		GainLossAmount decimal(28,10) NULL,
		CurrencyIDGainLoss nvarchar(6) NULL,
		GainLossAmountBase [decimal](28,10) NOT NULL
		UNIQUE CLUSTERED ([AccountId])
	)
	

	INSERT INTO #GainLoss(AccountId,CurrencyID,Description,GainLossAmountBase)

	SELECT h.AcctId,h.CurrencyID,h.[Desc] Description , -SUM(ISNULL(DebitAmt,0)-ISNULL(CreditAmt,0)) GainLossAmountBase
    FROM  tblGlAcctHdr h
    INNER JOIN #AccountList a ON h.AcctId = a.AccountID
	LEFT JOIN tblGlJrnl g ON g.AcctId =a.AccountID
    WHERE h.[Status] =0
    GROUP BY h.AcctId,h.CurrencyID,h.[Desc]
    HAVING SUM(ISNULL(DebitAmtFgn,0)- ISNULL(CreditAmtFgn,0))=0

	UPDATE #GainLoss SET AccountIDGainLoss = CASE WHEN GainLossAmountBase > 0 THEN c.GlAcctRealGain  ELSE c.GlAcctRealLoss END 
	FROM #GainLoss g
	INNER JOIN tblSmCurrency c ON g.CurrencyID = c.CurrID

	UPDATE #GainLoss 
	SET GainLossAmount = CASE WHEN h.CurrencyID=@BaseCurrency THEN g.GainLossAmountBase ELSE ROUND(g.GainLossAmountBase * pe.Rate,c.CurrDecPlaces) END
	,CurrencyIDGainLoss =h.CurrencyID
	FROM #GainLoss g
	INNER JOIN tblGlAcctHdr h ON h.AcctId = g.AccountIDGainLoss
	INNER JOIN tblSmCurrency c ON  h.CurrencyID= c.CurrID
	LEFT JOIN 
		(
		SELECT ed.Rate , ed.Destination
		FROM dbo.tblSmExchangeRate (NOLOCK) e
			INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON e.[ID] = ed.[ExchangeRateID] 
		WHERE e.FiscalYear = @FiscalYear AND e.FiscalPeriod = @FiscalPeriod AND e.[Type] = 1 AND ed.Source = @BaseCurrency
		) pe
		ON h.CurrencyID = pe.Destination

   
	 IF EXISTS (SELECT AccountId FROM #GainLoss  WHERE GainLossAmount IS NULL )  
	 BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	 END  


	SELECT ROW_NUMBER() OVER(ORDER BY  AccountId) as ID, 	Cast(0 as bit)	as Selected, AccountId,CurrencyID,Description,@FiscalPeriod FiscalPeriod
		, @FiscalYear FiscalYear,AccountIDGainLoss,GainLossAmount, GainLossAmountBase, CurrencyIDGainLoss FROM #GainLoss
	
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlCloseGLAccounts_CalculateGainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlCloseGLAccounts_CalculateGainLoss_proc'
GO
