USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoSalesOrderHist_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoSalesOrderHist_proc]   
AS                                    
SET NOCOUNT ON
BEGIN TRY
        
    DECLARE @PostRun pPostRun, @WrkStnDate datetime,@Foreign bit, @CurrencyId pCurrency,
             @UserId [dbo].[pUserId], @WrkStnId dbo.[pWrkStnId], @BatchId dbo.pBatchId,
             @dfltGlAcctInv dbo.pGlAcct, @dfltGlAcctCogs dbo.pGlAcct, @dfltGlAcctSales dbo.pGlAcct,
             @exchRate pDecimal, @GLPeriod smallint,@FiscalYear int, @PrecUPrice smallint, @PrecUCost smallint,
             @PrecFgn smallint, @gpreccurr smallint, @PrecQty smallint, @eight55OId bigint
	
	--Retrieve global values
	SELECT @PostRun = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'PostRun'
	SELECT @Foreign= Cast(Value AS bit) FROM #GlobalValues WHERE [KEY] = 'Foreign'
	SELECT @Currencyid = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'CurrBase'
	SELECT @WrkStnDate = Cast(Value AS datetime) FROM #GlobalValues WHERE [KEY] = 'WrkStnDate'
	SELECT @UserId = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'UserId'
	SELECT @WrkStnId = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'WrkStnId'
	SELECT @BatchId = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'BatchId'
	SELECT @dfltGlAcctInv = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctInv'
	SELECT @dfltGlAcctCogs = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctCogs'
	SELECT @dfltGlAcctSales = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctSales'
	SELECT @exchRate =1--Cast(Value AS float) FROM #GlobalValues WHERE [KEY] = 'exchRate'
	SELECT @GLPeriod = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'GLPeriod'
	SELECT @FiscalYear = Cast(Value AS int) FROM #GlobalValues WHERE [KEY] = 'FiscalYear'
	SELECT @PrecUPrice = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecUPrice'
	SELECT @PrecUCost = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecUCost'
	SELECT @PrecFgn = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecCurr'
	SELECT @gpreccurr = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecCurr'
	SELECT @PrecQty = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecQty'

	SELECT TOP 1 @eight55OId = ID FROM tblEcDocument WHERE DocId = '855-O' AND ActiveYN = 1
	DECLARE @lastCommId bigint = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
	--Increase ID with # of Records generated when duplicated
	SET @lastCommId = @lastCommId + (SELECT COUNT(*) FROM dbo.tblEcComm WHERE ID >= @lastCommId)

    INSERT INTO dbo.tblEcComm (ID, DocID ,PostRun,DocKey)        
    SELECT @lastCommId + ROW_NUMBER() OVER (ORDER BY pd.DocID, @PostRun, h.CustPoNum), pd.DocID, @PostRun, h.CustPoNum
    FROM  tblEcPoHeader h
    INNER JOIN  #tempPo  p  ON  h.ID = p.POHeaderID
    INNER JOIN (SELECT ID, DocID FROM tblEcPartnerDoc 
                WHERE ID = @eight55OId AND ISNULL(ActiveYN,0)=1) pd ON h.PartnerID=pd.ID
	
	-- PO Header Hist                
    INSERT INTO dbo.tblEcPoHistHeader (ID,PostRun,ImportBatchId,KeyLevelSeq1,SenderID,PartnerID,CustID,
                ARShipToID,CustPONum,ReleaseNumber,PODate,ReqShipDate,CancelDate,ReqDeliveryDate,
                POType,OrderRef,EDIVendorNumber,EDIDepartment,MerchandiseTypeCode,SOShipToName,SOShipMethodCode,SOShipVia,
                EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
                MarkFor,OrderNotes,TotalPoAmt,TotalPoLines,ImportDate,CarrierCode,CarrierName,SOReqShipDate,UpdateSOTransID,[EDIPartnerId],[ShipNotes],FOBCode)
   
	SELECT      h.Id, @PostRun PostRun, h.ImportBatchId,h.KeyLevelSeq1,SenderID,h.PartnerId,CustID,
                ARShipToID,CustPONum,ReleaseNumber,PODate,ReqShipDate,CancelDate,ReqDeliveryDate,
                POType,OrderRef,EDIVendorNumber,EDIDepartment,MerchandiseTypeCode,SOShipToName,SOShipMethodCode,SOShipVia,
                EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
                MarkFor,OrderNotes,TotalPoAmt,TotalPoLines,ImportDate,CarrierCode,CarrierName,SOReqShipDate,UpdateSOTransID,p.PartnerID,h.ShipNotes,FOBCode
	FROM #tempPo t 
	INNER JOIN tblEcPoHeader h ON t.POHeaderID = h.ID 
	LEFT JOIN dbo.tblEcPartner p ON h.PartnerId = p.Id
				
    
   -- PO Detail Hist 
   INSERT INTO dbo.tblEcPoHistDetail(ID,PostRun,PoHistHeaderID,KeyLevelSeq2,
                SenderId,CustPoNum,PoLineNum,LineReleaseNumber,EDIBillToCode,EDIShipToCode,
                ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                ItemUir,ItemBuyerCode,ItemVendorCode,ItemUPC,ItemID,ItemDescr,LocId,
                QtyOrd,POUnitsSell,UnitPrice,RetailPrice,PackQty,InnerPackQty,
                SOShipToID,SOShipToName,SOShipToAddr1,SOShipToAddr2,SOShipToCity,SOShipToRegion,SOShipToCountry,SOShipToPostalCode,
                SOItemDescr,SOUnitsSell,SOUnitPriceSell,SOQtyOrdSell,RequestedDate,SOReqShipDate,SplitSeq,LineREF02,UpdateSOTransID,UpdateSOEntryNum,UpdateSOAction,
				ItemColorDescr,ItemSizeDescr,ItemEAN,ItemGTIN)

   SELECT  d.Id,@PostRun PostRun,h.Id,KeyLevelSeq2, 
           h.SenderId,h.CustPoNum,PoLineNum,LineReleaseNumber,h.EDIBillToCode,h.EDIShipToCode,
           h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToCountry,h.ShipToPostalCode,
           ItemUir,ItemBuyerCode,ItemVendorCode,ItemUPC,ItemID,ItemDescr,LocId,
           QtyOrd,POUnitsSell,UnitPrice,RetailPrice,PackQty,InnerPackQty,
           SOShipToID,h.SOShipToName,SOShipToAddr1,SOShipToAddr2,SOShipToCity,SOShipToRegion,SOShipToCountry,SOShipToPostalCode,
           SOItemDescr,SOUnitsSell,SOUnitPriceSell,SOQtyOrdSell,RequestedDate,h.SOReqShipDate,SplitSeq,LineREF02,h.UpdateSOTransID,UpdateSOEntryNum,UpdateSOAction,
		   d.ItemColorDescr,d.ItemSizeDescr,d.ItemEAN,d.ItemGTIN
    FROM #tempPo p 
	INNER JOIN tblEcPoHeader h ON p.POHeaderID = h.ID
	INNER JOIN tblEcPoDetail d ON h.ID=d.POHeaderID
      
    -- Discounts/Adjustments
    INSERT INTO dbo.tblEcPoHistSAC (ID, PostRun,POHeaderID,PODetailID,SACCode,
                                  SACDescr,SACSeq,ImpliedYN,SACIndicator,SACAmount,SACPct,AdjServiceItem,[AdjServiceLocId],SACAdjType,SACCalcOn)
    SELECT sac.Id, @PostRun ,sac.POHeaderID,sac.PODetailID,SACCode,
          SACDescr,SACSeq,ImpliedYN,SACIndicator ,SACAmount,SACPct,AdjServiceItem ,[AdjServiceLocId],SACAdjType,sac.SACCalcOn
    FROM #tempPo p
    INNER JOIN tblEcPoSAC  sac  ON p.POHeaderID=sac.POHeaderID    
    
    -- do custom work 
	-- EXEC dbo.trav_EcPoSalesOrderHist_Custom_proc   

    DELETE d
    FROM tblEcPoDetail d
	INNER JOIN tblEcPoHeader h ON d.POHeaderID = h.ID
    INNER JOIN #tempPo p ON h.ID = p.POHeaderID
                                     
    DELETE h
    FROM tblEcPoHeader h 
    INNER JOIN #tempPo p ON h.ID = p.POHeaderID                  
  
    DELETE sac
    FROM tblEcPoSAC sac
    INNER JOIN #tempPo p ON sac.POHeaderID = p.POHeaderID

    DELETE e
	FROM tblEcPoErrorLog e 
	INNER JOIN #tempPo p ON e.POHeaderID = p.POHeaderID

  END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
                     
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSalesOrderHist_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSalesOrderHist_proc'
GO
