USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbTopVendorList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbTopVendorList_proc]
@Timeframe tinyint = 0, -- 0 = All Time, 1 = PTD, 2 = YTD
@RecReturn int = 10 ,
@Wksdate datetime = null

AS
BEGIN TRY
      SET NOCOUNT ON
      DECLARE @FiscalYear smallint, @Period smallint
	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate
      --set the number of records to return
      SET ROWCOUNT @RecReturn
      
      SELECT v.VendorID, v.[Name] AS VendorName
            , ISNULL(Purchases, 0) AS Purchases 
      FROM dbo.tblApVendor v 
            LEFT JOIN 
                  (
                   SELECT VendorId
                              , SUM(SIGN(TransType) * (Taxable+NonTaxable+SalesTax+Freight+Misc+TaxAdjAmt)) AS Purchases
                        FROM dbo.tblApHistHeader  
                        WHERE ((@Timeframe = 1 AND (GLPeriod = @Period AND FiscalYear = @FiscalYear))
                              OR (@Timeframe = 2 AND (GLPeriod <= @Period AND FiscalYear = @FiscalYear))
                              OR (@Timeframe NOT IN (1, 2)))
                        GROUP BY VendorID
                  ) h 
                  ON v.VendorId = h.VendorId 
      ORDER BY Purchases DESC

END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopVendorList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopVendorList_proc'
GO
