USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_JCTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_JCTrans_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE	@RunId pPostRun, @PrecQty tinyint

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	
	IF @RunId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	DECLARE @RunDate DateTime
	SELECT @RunDate = RunDate FROM dbo.tblDrRunInfo WHERE RunId = @RunId


	--Project transactions
	--capture any committed quantities for project estimates
	INSERT INTO dbo.tblDRRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId)
	SELECT @RunId, RTRIM(q.ItemId), RTRIM(q.LocId)
		, COALESCE(DateAdd(dd, -l.PrepLeadTime, t.TransDate), @RunDate)
		, q.TransType
		, 2048 --2048=Project Committed quantities
		, 0, q.Qty, 'JC', 'PROJECT', Null, p.CustId, Null, Null
		FROM dbo.tblInQty q
		INNER JOIN dbo.tblPcTrans t ON q.ID = t.QuantityCmtdID
		INNER JOIN dbo.tblPcProjectDetail d ON t.ProjectDetailId = d.Id
		INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id
		INNER JOIN dbo.tblInItemLoc l ON q.ItemId = l.ItemId and q.LocId = l.LocId
		WHERE q.LinkId = 'JC' AND q.TransType = 0 AND q.Qty <> 0


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_JCTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_JCTrans_proc'
GO
