USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPrintInvoicesHist_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPrintInvoicesHist_proc]
@ProjectInvoices bit = 0,  --set when printing project costing invoices (batch mode) 
@PostRun [nvarchar](14) = null,
@TransId [nvarchar](8) = null, --set for printing online or from history
@PrintAdditionalDescription bit = 0, --set for printing additional descriptions
@KitYN bit = 0,
@BaseCurrency [nvarchar](6) = 'USD',
@PrintZeroShippedLineItemYN bit = 1 --option to Print Zero Shipped Line Items
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #TaxSummary
	(
		TransId [nvarchar](8) NOT NULL,
        PostRun [nvarchar](14) NOT NULL,
		TaxLoc1 [nvarchar](10) NULL,
		TaxAmt1 [decimal](28,10) NOT NULL, 
		TaxLoc2 [nvarchar](10) NULL,
		TaxAmt2 [decimal](28,10) NOT NULL, 
		TaxLoc3 [nvarchar](10) NULL,
		TaxAmt3 [decimal](28,10) NOT NULL, 
		TaxLoc4 [nvarchar](10) NULL,
		TaxAmt4 [decimal](28,10) NOT NULL, 
		TaxLoc5 [nvarchar](10) NULL,
		TaxAmt5 [decimal](28,10) NOT NULL, 
		PRIMARY KEY CLUSTERED ([TransId], PostRun)
	)

	--drop table #Temp
	CREATE TABLE #Temp
	( 
		TransId [nvarchar](8) NOT NULL,
        PostRun [nvarchar](14) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId], PostRun)
	)	
	

	--select only one transaction for online processing
	INSERT INTO #Temp (TransId, PostRun) 
	SELECT h.TransId, h.PostRun
	FROM dbo.tblArHistHeader h 
	WHERE h.TransId = @TransId and h.PostRun = @PostRun
		AND h.VoidYn = 0 --exclude voids
		AND ((@ProjectInvoices = 0 AND (h.ProjItem <> 'PR' Or h.ProjItem Is Null)) OR (@ProjectInvoices = 1 AND (h.ProjItem = 'PR')))
	AND  (ISNULL(TaxSubtotalFgn, 0) <> 0 or ISNULL(NonTaxSubtotalFgn, 0) <> 0 or ISNULL(SalesTaxFgn, 0) <> 0 or ISNULL(TaxAmtAdjFgn, 0)	<> 0 
			or ISNULL(FreightFgn, 0) <> 0 or ISNULL(MiscFgn, 0) <> 0  or h.Source = 0)


	--summarize and cross-tab the taxes by level 
	--	note: TaxLocId cannot be duplicated for multiple tax levels
	INSERT INTO #TaxSummary (TransId, PostRun
		, TaxLoc1, TaxAmt1, TaxLoc2, TaxAmt2, TaxLoc3, TaxAmt3, TaxLoc4, TaxAmt4, TaxLoc5, TaxAmt5)
	SELECT TransId, PostRun, Max(TaxLoc1), Sum(TaxAmt1), Max(TaxLoc2), Sum(TaxAmt2)
		, Max(TaxLoc3), Sum(TaxAmt3), Max(TaxLoc4), Sum(TaxAmt4), Max(TaxLoc5), Sum(TaxAmt5)
	FROM (SELECT x.TransId, x.PostRun
			, CASE WHEN x.[Level] = 1 THEN x.TaxLocId ELSE NULL END TaxLoc1
			, CASE WHEN x.[Level] = 1 THEN x.TaxAmtFgn ELSE 0 END TaxAmt1
			, CASE WHEN x.[Level] = 2 THEN x.TaxLocId ELSE NULL END TaxLoc2
			, CASE WHEN x.[Level] = 2 THEN x.TaxAmtFgn ELSE 0 END TaxAmt2
			, CASE WHEN x.[Level] = 3 THEN x.TaxLocId ELSE NULL END TaxLoc3
			, CASE WHEN x.[Level] = 3 THEN x.TaxAmtFgn ELSE 0 END TaxAmt3
			, CASE WHEN x.[Level] = 4 THEN x.TaxLocId ELSE NULL END TaxLoc4
			, CASE WHEN x.[Level] = 4 THEN x.TaxAmtFgn ELSE 0 END TaxAmt4
			, CASE WHEN x.[Level] = 5 THEN x.TaxLocId ELSE NULL END TaxLoc5
			, CASE WHEN x.[Level] = 5 THEN x.TaxAmtFgn ELSE 0 END TaxAmt5
		FROM #Temp l
		INNER JOIN dbo.tblArHistTax x ON l.TransId = x.TransId and l.PostRun = x.PostRun
		INNER JOIN dbo.tblArHistHeader h ON x.TransId = h.TransId and x.PostRun = h.PostRun
		INNER JOIN dbo.tblSmTaxGroup s  ON h.TaxGrpID = s.TaxGrpID
		WHERE s.ReportMethod <> 0) ctab
	GROUP BY TransId, PostRun

	--Add the tax adjustment to the appropriate tax location
	UPDATE #TaxSummary 
		Set TaxAmt1 = TaxAmt1 + CASE WHEN [TaxLoc1] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
		, TaxAmt2 = TaxAmt2 + CASE WHEN [TaxLoc2] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
		, TaxAmt3 = TaxAmt3 + CASE WHEN [TaxLoc3] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
		, TaxAmt4 = TaxAmt4 + CASE WHEN [TaxLoc4] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
		, TaxAmt5 = TaxAmt5 + CASE WHEN [TaxLoc5] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
	FROM dbo.tblArHistHeader h 
		WHERE h.TaxAmtAdjFgn <> 0
		AND #TaxSummary.PostRun = h.PostRun AND #TaxSummary.TransId = h.TransId


	-- retrieve the datasets
	-- header info
	-- h.OrgInvcNum
	SELECT c.CustId, c.Attn, c.Contact, c.CustName, c.Addr1, c.Addr2, c.City, c.Region
		, c.Country, c.PostalCode, b.CustId AS BillCustId, c.Phone, c.Fax, c.Email, c.Internet, b.CustName AS BillCustName
		, b.Addr1 AS BillAddr1, b.Addr2 AS BillAddr2, b.City AS BillCity, b.Region AS BillRegion
		, b.Country AS BillCountry, b.PostalCode AS BillPostalCode, b.IntlPrefix BillIntlPrefix
		, b.Attn AS BillAttn, b.Contact AS BillContact, h.ShipToID, h.ShipToName, h.ShipToAddr1, h.ShipToAddr2, h.ShipToCity
		, h.ShipToCountry, h.ShipToRegion, h.ShipToPostalCode,h.ShipToPhone, h.ShipVia, h.ShipToAttn
		, t.[Desc] AS TermsDescription, h.TransType, h.OrderDate
		, h.ReqShipDate AS [RequestedShipDate], h.ShipDate, h.ShipNum AS ShipNo, h.InvcDate AS InvoiceDate, h.Rep1Id, h.Rep2Id
		, TaxSubtotalFgn AS TaxableSubtotal
		, NonTaxSubtotalFgn AS NontaxableSubtotal
		, SalesTaxFgn  AS SalesTax
		, FreightFgn AS Freight
		, MiscFgn  AS Misc	
		,h.FreightAccountNumber
		,h.DeliverySurcharge
		,h.ResidentialYN
		,h.GlobalLocationNumber
		,TotalCharges
		,ActualWeight
		,NumberOfPackage
		,ReqDeliveryDate
		,h.FreightTermID
		, f.[Description] AS FreightTermDescription
		, ISNULL(CASE WHEN h.CurrencyID = @BaseCurrency THEN h.TotPmtAmt
			   ELSE h.TotPmtAmtFgn 	END,0) AS TotalPayment
		--, ISNULL(h.TotPmtAmt, 0) AS TotalPayment
		, h.CustPONum AS CustomerPoNo, h.CurrencyID AS CurrencyId
		, h.InvcNum AS InvoiceNo, h.CredMemNum AS OriginalInvoiceNo, h.TransId, h.ExchRate
		, Source AS [Source]
		,ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0)
				+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) 
			 AS InvoiceTotal
		, 0 AS PriorInvoiceAmount --placeholder for values returned by SO Invoicing
		, 0 AS PriorPaymentAmount --placeholder for values returned by SO Invoicing
		, CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0
			ELSE
				 ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
					+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) - ISNULL(CASE WHEN h.CurrencyID = @BaseCurrency THEN h.TotPmtAmt
			   ELSE h.TotPmtAmtFgn 	END,0)
			END AS TotalDue
		, x.TaxLoc1 AS TaxLocation1, ISNULL(x.TaxAmt1, 0) AS TaxAmount1
		, x.TaxLoc2 AS TaxLocation2, ISNULL(x.TaxAmt2, 0) AS TaxAmount2
		, x.TaxLoc3 AS TaxLocation3, ISNULL(x.TaxAmt3, 0) AS TaxAmount3
		, x.TaxLoc4 AS TaxLocation4, ISNULL(x.TaxAmt4, 0) AS TaxAmount4
		, x.TaxLoc5 AS TaxLocation5, ISNULL(x.TaxAmt5, 0) AS TaxAmount5
		, NetDueDate, DiscDueDate, DiscAmt, DiscAmtFgn, WhseId AS TransLocation, BatchId, c.TaxExemptId, h.Notes
		, h.WhseId AS LocationId
		, h.PickNum AS [PickingSlipNo], h.PackNum AS [PackingSlipNo]
		, (c.CreditLimit - c.CurAmtDue)  AS RemainingCredit, c.CurrencyId AS CustCurrencyId
		, h.SourceId 
	FROM #Temp l
	INNER JOIN dbo.tblArHistHeader h on l.TransId = h.TransId and l.PostRun = h.PostRun
	LEFT JOIN  dbo.tblArTermsCode t ON h.TermsCode = t.TermsCode 
	LEFT JOIN  dbo.tblArCust c ON h.SoldToId = c.CustId
    LEFT JOIN dbo.tblArCust b ON h.CustId = b.CustId
	LEFT JOIN dbo.tblArShipTo Ship ON h.CustID = Ship.CustID AND h.ShipToID = Ship.ShipToID 
	LEFT JOIN #TaxSummary x on h.TransId = x.TransId and h.PostRun = x.PostRun
	LEFT JOIN dbo.tblSmFreightTerm f ON h.FreightTermID = f.ID 
	ORDER BY h.TransId, h.PostRun


	-- detail info
	SELECT d.PartId AS ItemId, d.EntryNum
		, d.WhseId AS LocationId
		, d.[Desc] AS [Description]
		, CASE WHEN @PrintAdditionalDescription = 1 THEN d.AddnlDesc ELSE NULL END AS AddnlDescription
		, d.TaxClass, d.QtyOrdSell AS QtyOrdered, d.UnitsSell AS Units, d.QtyShipSell AS QtyShipped
		, UnitPriceSellBasisFgn  AS UnitPrice
		, CASE WHEN (h.TransType > 0 AND d.QtyShipSell = 0) OR (h.TransType < 0 AND d.QtyOrdSell = 0) THEN 0 ELSE d.PriceExtFgn + d.PriceAdjAmtFgn END AS ExtPrice
		, d.TransId, d.PartType AS ItemType, d.LottedYn
		, d.PriceAdjType, d.PriceAdjPct
		, CASE WHEN (h.TransType > 0 AND d.QtyShipSell = 0) OR (h.TransType < 0 AND d.QtyOrdSell = 0) THEN 0 ELSE -d.PriceAdjAmtFgn END AS PriceAdjAmt
		, d.Kit AS Kit,  CASE WHEN d.GrpId IS NULL THEN d.LineSeq ELSE k.LineSeq END LineSeq --map back to the parent kit line seq for component sorting
		, d.GrpId AS GrpId, d.BOLNum
		, d.ReqShipDate AS [RequestedShipDate], d.ActShipDate AS [ActualShipDate]
		, d.BinNum AS [BinNo], d.QtyBackordSell AS [QtyBackordered], d.Rep1Id, d.Rep2Id, d.CustomerPartNumber 
	FROM #Temp l 
	INNER JOIN dbo.tblArHistHeader h on l.TransId = h.TransId and l.PostRun = h.PostRun
	INNER JOIN dbo.tblArHistDetail d ON l.TransId = d.TransID and  l.PostRun = d.PostRun
	LEFT JOIN (SELECT d.PostRun, d.TransId, d.EntryNum, d.LineSeq 
		FROM dbo.tblArHistDetail d INNER JOIN #Temp l ON d.PostRun = l.PostRun and d.TransId = l.TransId
		WHERE d.[Kit] = 1) k 
	ON d.PostRun = k.PostRun And d.TransID = k.TransID and d.GrpId = k.EntryNum --lookup the lineseq of the parent kit for component sorting
	WHERE d.EntryNum > 0 
		AND ((ISNULL(d.GrpId, 0) = 0 and @KitYN = 0)  or @KitYN = 1) 
		AND d.[Status] = 0 --only active line items
		AND (@PrintZeroShippedLineItemYN = 1 or (@PrintZeroShippedLineItemYN = 0 and QtyShipSell <> 0))--exclude Zero shipped Line Items except on quotes
	ORDER BY d.TransId,  
	--d.PostRun, d.LineSeq, d.EntryNum
	CASE WHEN d.GrpId IS NULL THEN d.LineSeq ELSE k.LineSeq END
		, CASE WHEN d.GrpId IS NULL THEN '' ELSE 'C' END --kit components sort after the parent
		, d.LineSeq, d.EntryNum


	-- lot info
	SELECT l.TransId, l.EntryNum, l.LotNum AS LotNo, l.QtyFilled AS Qty 
	FROM #Temp t
	INNER JOIN dbo.tblArHistDetail d ON t.PostRun = d.PostRun AND t.TransId = d.TransID 
	INNER JOIN dbo.tblArHistLot l ON d.PostRun  = l.PostRun AND d.TransId = l.TransId AND d.EntryNum = l.EntryNum 
	WHERE (@KitYN = 1 OR d.GrpId IS NULL)  --exclude kit components when not selected for printing
	And d.[Status] = 0 --only active line items
	AND (@PrintZeroShippedLineItemYN = 1 or (@PrintZeroShippedLineItemYN = 0 and QtyShipSell <> 0))--exclude Zero shipped Line Items except on quotes
	ORDER BY LotNum

	-- serial info
	SELECT s.TransId, s.EntryNum, s.SeqNum, s.LotNum AS LotNo, s.SerNum AS SerNo
		, s.PriceUnitFgn AS UnitPrice
		, 1 AS Qty 
	FROM #Temp t
	INNER JOIN dbo.tblArHistDetail d ON t.PostRun = d.PostRun AND t.TransId = d.TransID 
	INNER JOIN dbo.tblArHistSer s ON d.PostRun = s.PostRun AND d.TransId = s.TransId AND d.EntryNum = s.EntryNum 
	WHERE (@KitYN = 1 OR d.GrpId IS NULL)  --exclude kit components when not selected for printing
	AND d.[Status] = 0 --only active line items
	ORDER BY LotNum, SerNum


	-- totals
	SELECT  h.CurrencyID AS [CurrencyId] 
		, COUNT(h.TransId) AS [InvoicesPrinted]
		, SUM(SIGN(h.TransType) *  TaxSubtotalFgn ) AS [Taxable]
		, SUM(SIGN(h.TransType) * NonTaxSubtotalFgn ) AS [Nontaxable]
		, SUM(SIGN(h.TransType) * SalesTaxFgn ) AS [SalesTax]
		, SUM(SIGN(h.TransType) * FreightFgn ) AS [Freight]
		, SUM(SIGN(h.TransType) * MiscFgn ) AS [Misc]
		, SUM(SIGN(h.TransType) * ISNULL(h.TotPmtAmtFgn, 0) ) AS [Prepaid]
		, SUM(SIGN(h.TransType) * (ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0)
				+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0)) 
			) AS [InvoiceTotal]
		, SUM(CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0
			ELSE
				ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0)
					+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) - ISNULL(CASE WHEN h.CurrencyID = @BaseCurrency THEN h.TotPmtAmt
			   ELSE h.TotPmtAmtFgn 	END,0)
			END
			) AS [NetDue]
	FROM #Temp l
	INNER JOIN dbo.tblArHistHeader h on l.TransId = h.TransId and l.PostRun = h.PostRun 
	GROUP BY h.CurrencyID 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPrintInvoicesHist_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPrintInvoicesHist_proc'
GO
