USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoRequestBudgetView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoRequestBudgetView_proc]
@TransId [nvarchar](8),
@BaseCurrency [nvarchar](6)
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT b.TransID, b.GLAcct, h.[Desc], h.CurrencyID, b.BudgetBalance, b.OrderBalance, 
	b.PendingReq, ISNULL(d.OrderAmt, 0) As CurrentTotal,
	b.BudgetBalance - b.OrderBalance - b.PendingReq - ISNULL(d.OrderAmt, 0) As EstRemainBudget,  r.CurrencyID as TransCurrencyId
	FROM dbo.tblPoTransHeader r
		INNER JOIN dbo.tblPoTransRequestBudget b ON r.TransId = b.TransId
		INNER JOIN dbo.tblGlAcctHdr h On b.GLAcct = h.AcctId
		LEFT JOIN (
			SELECT d.TransId, d.GlAcct,
				SUM(CASE WHEN r.CurrencyID = g.CurrencyID THEN d.ExtCostFgn
					WHEN g.CurrencyID = @BaseCurrency THEN d.ExtCost
					ELSE ROUND((ISNULL(d.ExtCostFgn, 0)) * e.Rate, cur.CurrDecPlaces) END) As OrderAmt
			FROM dbo.tblPoTransHeader r
				INNER JOIN dbo.tblPoTransDetail d ON r.TransId = d.TransID
				LEFT JOIN dbo.tblGlAcctHdr g ON g.AcctId = d.GLAcct
				LEFT JOIN dbo.tblSmExchangeRateTrans e ON e.TransKey = r.TransId AND e.[Source] = r.CurrencyID AND e.Destination = g.CurrencyID
				INNER JOIN dbo.tblSmCurrency cur ON cur.CurrID = e.Destination
			WHERE e.TransType = 'POTRANS'
			GROUP BY d.TransID, d.GLAcct) d On b.TransID = d.TransID AND b.GLAcct = d.GLAcct
	WHERE r.TransId = @TransId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestBudgetView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestBudgetView_proc'
GO
