USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcCrDbAdjImportProcessAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcCrDbAdjImportProcessAPT_proc]
   @ImportBatchId nvarchar(14),  
   @FileSeq int=0  
AS
SET NOCOUNT ON       

BEGIN TRY
	DECLARE @i int,  
		@key1 nvarchar(50), @key2 nvarchar(50), @key3 nvarchar(50), @key4 nvarchar(50), @key5 nvarchar(50), 
		@key1Save nvarchar(50), @key2Save nvarchar(50), @key3Save nvarchar(50), @key4Save nvarchar(50), @key5Save nvarchar(50), 
		@key1Seq int, @key2Seq int, @key3Seq int, @key4Seq int, @key5Seq int, 
		@cImportBatchId nvarchar(14), @cImportBatchIdSave nvarchar(14), @cFileSeq int, @cFileSeqSave int, @DocId nvarchar(6), @EdiDocNum nvarchar(3), @Segment nvarchar(10), @DocSeq int, 
		@RetSeq int, @DocAlreadyprocessed int, @CrDbAdjDocumentId bigint

	-- return 0
	DECLARE @NumOfCrDbAdj int, @NumOfDocLines int, @NumOfDocSubLines int, @CurrDocSeq int, @CurDocLine int, @CurDocSubLine int, @CurrAddressSeq int, @CurrISASeq int, @CurrGSSeq int  
  
	-- control   
	DECLARE @ISAControlNum nvarchar(50), @GSControlNum nvarchar(50), @STControlNum nvarchar(50), @DocumentId bigint
  
	-- header   
	DECLARE @KeyLevelSeq1 int, @DocKey nvarchar(50), @SenderID nvarchar(50), @ReceiverID nvarchar(50), @FinalizedClaimDate nvarchar(50), @ClaimNumber nvarchar(50), @TransHandlingCode nvarchar(50), 
		@TotalAmount nvarchar(50), @CreditDebitFlagCode nvarchar(50), @InvcDate nvarchar(50), @InvcNum nvarchar(50), @TransDate nvarchar(50), @CustPoNum nvarchar(50), @TransSetPurposeCode nvarchar(50), 
		@TransTypeCode nvarchar(50), @ReferenceIDQual nvarchar(50), @ReferenceID nvarchar(50), @VendorNum nvarchar(50), @DeptNum nvarchar(50), @MerchandiseTypeCode nvarchar(50), @MicrofilmNumber nvarchar(50), 
		@CustRelationsName nvarchar(100), @ContactPhone nvarchar(50), @ShipmentPmtMethod nvarchar(50), @OriginalClaimant nvarchar(50), @GLNNumber nvarchar(50), @Suppliername nvarchar(100), 
		@PartnerID bigint, @CustID nvarchar(12), @ImportDate datetime, @TravTransID nvarchar(10), @CF_header xml
   
	-- detail
	DECLARE @KeyLevelSeq2 int, @DocLine nvarchar(50), @AdjReasonCode nvarchar(50), @CreditDebitFlag nvarchar(50), @AssignedID nvarchar(50), @AdjAmount nvarchar(50), @CreditDebitQuantity nvarchar(50), 
		@UnitofMeasure nvarchar(50), @UnitCostPrice nvarchar(50), @OriginalPOPrice nvarchar(50), @Description nvarchar(200), @CrossRefNum nvarchar(50), @SkuNum nvarchar(50), @VendorPartNum nvarchar(50), 
		@ExtPrice nvarchar(50), @CF_detail xml

         

	SET  @DocId='812-I'  

	SELECT @DocumentId=ID, @EdiDocNum=ISNULL(DocID,'') 
	FROM tblEcDocument   
	WHERE DocId=@DocId  

	CREATE TABLE #tSeq (AutoId int IDENTITY(1,1), ImportBatchId nvarchar(14), FileSeq int, RecSeq int, TempTblKey int, Segment nvarchar(10), DocSeq int, RetSeq int, KeyLevel int, Key1 nvarchar(100), Key2 nvarchar(100), Key3 nvarchar(100), Key4 nvarchar(100), Key5 nvarchar(100), Seq1 int, Seq2 int, Seq3 int, Seq4 int, Seq5 int)  
	CREATE TABLE #tKey (TempTblKey int, KeyLevel int)   


	INSERT INTO #tSeq (ImportBatchId, FileSeq, RecSeq, TempTblKey, Segment, Key1, Key2, Key3, Key4, Key5)  
	SELECT DISTINCT ImportBatchId, FileSeq, RecSeq, t.Id, Fld01, '' Key1, '' Key2,'' Key3,'' Key5,'' Key5  
	FROM tblEcTempImport t
	WHERE t.DocId=@DocumentId AND ImportBatchId=@ImportBatchId AND (FileSeq=@FileSeq OR @FileSeq=0)  
	ORDER BY ImportBatchId, FileSeq, RecSeq  

  
	SELECT @i=1,
		@key1Save = '^',
		@key2Save = '^',
		@key3Save = '^',
		@key4Save = '^',
		@key5Save = '^',
		@key1Seq = 0,
		@key2Seq = 0,
		@key3Seq = 0,
		@key4Seq = 0,
		@key5Seq = 0,
		@cImportBatchId = '',
		@cImportBatchIdSave = '^',
		@cFileSeq = 0,
		@cFileSeqSave = 0,  
		@cFileSeqSave = 0,  
		@DocSeq=0,  
		@RetSeq=0  
  
	WHILE @i<=(SELECT MAX(AutoId) FROM #tSeq)  
	BEGIN  
   
		SELECT @cImportBatchId=ImportBatchid, @cFileSeq=FileSeq, @Segment=Segment, @key1=Key1, @key2=Key2, @key3=Key3, @key4=Key4, @key5=Key5
		FROM #tSeq
		WHERE AutoId=@i
      
		IF @cImportBatchId<>@cImportBatchIdSave AND @cImportBatchIdSave<>'^'
		BEGIN  
			SELECT @key1Save='^'  
			SELECT @key1Seq=MAX(KeyLevelSeq1) FROM tblEcCreditDebitAdjHeader WHERE ImportBatchId=@ImportBatchId  
			SELECT @key1Seq=ISNULL(@key1Seq,0)+1  
			SET @cImportBatchIdSave=@cImportBatchId  
		END  

		IF @Segment='HDR' OR @cFileSeq<>@cFileSeqSave  
		BEGIN  
			SET @key1Seq=@key1Seq+1
			SET @key1Save=ISNULL(@key1,'')
			SET @cFileSeqSave=@cFileSeq
			SET @key2Seq=0
			SET @key2Save='^'
			SET @DocSeq=@DocSeq+1
		END  

		IF @Segment='RET'
		BEGIN    
			SET @RetSeq=@RetSeq+1  
		END  
		ELSE IF @RetSeq>0  
		BEGIN   
			IF @Segment <>'RET'
			BEGIN  
			SET @RetSeq=0  
			END  
		END  
	
		IF @Segment='DTL'  
		BEGIN  
			SET @key2Seq=@key2Seq+1  
			SET @key2Save=ISNULL(@key2,'')  
  
			SELECT @key3Save='^',@key3Seq=0  
		END  

		UPDATE #tSeq
		SET Seq1=@key1Seq, Seq2=@key2Seq, Seq3=@key3Seq, Seq4=@key4Seq, Seq5=@key5Seq, DocSeq=@DocSeq, RetSeq=@RetSeq  
		WHERE AutoId=@I  
  
		SET @i=@i+1 
	  
	END   ----End While
  
  
	INSERT INTO #tKey(TempTblKey,KeyLevel)
	SELECT MIN(TempTblKey),1
	FROM #tSeq s
	GROUP BY ImportBatchId,Seq1

	-- Header Loop  
	DECLARE @lastMailContolId bigint,@lastHeaderId bigint, @lastDetailID bigint,@lastEcCommId bigint
	SET @CurrDocSeq=1   
	SELECT @NumOfCrDbAdj=MAX(DocSeq) FROM #tSeq  

	--Generate new Header ID
	SELECT @lastHeaderId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	--Generate new Detail ID
	SELECT @lastDetailID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	--Generate new Mail Control ID
	SELECT @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
  
	----Generate new EcComm ID
	SELECT @lastEcCommId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	WHILE @CurrDocSeq<=@NumOfCrDbAdj  
	BEGIN  
  
		SET @CurDocLine=1  
  
		-- reset   
		SELECT @ISAControlNum =null, @GSControlNum=null, @STControlNum=null, @KeyLevelSeq2=0

		SELECT @NumOfDocLines=MAX(Seq2)   
		FROM #tSeq   
		WHERE DocSeq=@CurrDocSeq   

		SELECT @DocAlreadyprocessed=MAX(KeyLevelSeq1)  
		FROM  tblEcMailControl m
		WHERE m.DocId=@DocumentId AND m.ImportBatchId=@ImportBatchId GROUP BY m.ImportBatchId
		SELECT @DocAlreadyprocessed=ISNULL(@DocAlreadyprocessed,0)

		SELECT @ImportBatchId=ti.ImportBatchId, @KeyLevelSeq1=t.DocSeq+@DocAlreadyprocessed, @SenderId=ti.Fld21, @ReceiverID=ti.Fld02, @ISAControlNum=ti.Fld22, @GSControlNum=ti.Fld23, @STControlNum=ti.Fld24, 
			@FinalizedClaimDate=ti.Fld03, @ClaimNumber=ti.Fld04, @TransHandlingCode=ti.Fld05, @TotalAmount=ti.Fld06, @CreditDebitFlagCode=ti.Fld07, @InvcDate=ti.Fld08, @InvcNum=ti.Fld09, @TransDate=ti.Fld10, 
			@CustPoNum=ti.Fld11, @TransSetPurposeCode=ti.Fld12, @TransTypeCode=null, @ReferenceIDQual=ti.Fld13, @ReferenceID=ti.Fld14, @VendorNum=ti.Fld17, @DeptNum=ti.Fld16, @CustRelationsName=ti.Fld18, 
			@ContactPhone=ti.Fld19, @ShipmentPmtMethod=null, @OriginalClaimant=null, @GLNNumber=null, @PartnerID=null, @CustID=null, @ImportDate=ti.ImportDate, @TravTransID=null, @CF_header=null
		FROM #tSeq t  
			INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='HDR'

		SELECT @MerchandiseTypeCode=ti.Fld16, @MicrofilmNumber=ti.Fld14, @Suppliername=ti.Fld11
		FROM #tSeq t  
			INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND ti.Fld01='RET'

		SELECT  @InvcDate=CASE WHEN ISNULL(@InvcDate,'')='' OR ISDATE(@InvcDate)=0 THEN NULL ELSE CAST(@InvcDate AS DATETIME) END
		SELECT  @TransDate=CASE WHEN ISNULL(@TransDate,'')='' OR ISDATE(@TransDate)=0 THEN NULL ELSE CAST(@TransDate AS DATETIME) END

		SET @lastHeaderId = @lastHeaderId + 1

		INSERT INTO tblEcCreditDebitAdjHeader (ID, ImportBatchId, KeyLevelSeq1, DocKey, SenderID, ReceiverID, ISAControlNum, GSControlNum, STControlNum, FinalizedClaimDate, ClaimNumber, 
			TransHandlingCode, TotalAmount, CreditDebitFlagCode, InvcDate, InvcNum, TransDate, CustPoNum, TransSetPurposeCode, TransTypeCode, ReferenceIDQual, ReferenceID, VendorNum, 
			DeptNum, MerchandiseTypeCode, MicrofilmNumber, CustRelationsName, ContactPhone, ShipmentPmtMethod, OriginalClaimant, GLNNumber, Suppliername, PartnerID, CustID, 
			ImportDate, TravTransID, CF)
		VALUES (@lastHeaderId, @ImportBatchId, @KeyLevelSeq1, @DocKey, @SenderID, @ReceiverID, @ISAControlNum, @GSControlNum, @STControlNum, @FinalizedClaimDate, @ClaimNumber, 
			@TransHandlingCode, @TotalAmount, @CreditDebitFlagCode, @InvcDate, @InvcNum, @TransDate, @CustPoNum, @TransSetPurposeCode, @TransTypeCode, @ReferenceIDQual, @ReferenceID, @VendorNum, 
			@DeptNum, @MerchandiseTypeCode, @MicrofilmNumber, @CustRelationsName, @ContactPhone, @ShipmentPmtMethod, @OriginalClaimant, @GLNNumber, @Suppliername, @PartnerID, @CustID, 
			@ImportDate, @TravTransID, @CF_header)

		SET @lastEcCommId = @lastEcCommId + 1

		SET @lastMailContolId = @lastMailContolId + 1
		  
		INSERT INTO tblEcMailControl (ID, ImportBatchId, KeyLevelSeq1, PartnerId, DocId, EdiDocNum, DocKey, SenderID, ISAControlNum, GSControlNum, STControlNum)  
		VALUES(@lastMailContolId, @ImportBatchId, @KeyLevelSeq1, NULL, @DocumentId, '812', @CustPOnUm, @SenderID, @ISAControlNum, @GSControlNum, @STControlNum)
	 

		-- Detail Loop
		WHILE @CurDocLine<=@NumOfDocLines  
		BEGIN  
		  	
		SET @lastDetailID = @lastDetailID + 1

		SET @KeyLevelSeq2=@KeyLevelSeq2+1  
		SELECT @lastDetailID=(@lastDetailID + ROW_NUMBER() OVER (ORDER BY t.ImportBatchId,t.Seq1)), @DocLine=ti.Fld13, @AdjReasonCode=ti.Fld03, @CreditDebitFlag=ti.Fld04, 
			@AssignedID=ti.Fld05, @AdjAmount=ti.Fld06, @CreditDebitQuantity=ti.Fld08, @UnitofMeasure=ti.Fld09, @UnitCostPrice=ti.Fld11, @OriginalPOPrice=ti.Fld12, @Description=ti.Fld20, 
			@CrossRefNum=ti.Fld19, @SkuNum=ti.Fld14, @VendorPartNum=ti.Fld16
		FROM #tSeq t  
		INNER JOIN tblEcTempImport ti ON t.TempTblKey=ti.ID  
		WHERE t.DocSeq=@CurrDocSeq AND t.Seq2=@CurDocLine AND ti.Fld01='DTL'    
 

		SELECT @AdjAmount=CASE WHEN ISNULL(@AdjAmount,'')=''THEN '0' ELSE @AdjAmount END
		SELECT @CreditDebitQuantity=CASE WHEN ISNULL(@CreditDebitQuantity,'')=''THEN '1' ELSE @CreditDebitQuantity END
		SELECT @UnitCostPrice=CASE WHEN ISNULL(@UnitCostPrice,'')=''THEN '0' ELSE @UnitCostPrice END
		SELECT @OriginalPOPrice=CASE WHEN ISNULL(@OriginalPOPrice,'')=''THEN '0' ELSE @OriginalPOPrice END
			
		INSERT INTO dbo.tblEcCreditDebitAdjDetail(ID, HeaderID, KeyLevelSeq2, DocKey, SenderID, ReceiverID, ISAControlNum, GSControlNum, STControlNum, DocLine, AdjReasonCode, CreditDebitFlag, AssignedID, 
			AdjAmount, CreditDebitQuantity, UnitofMeasure, UnitCostPrice, OriginalPOPrice, Description, CrossRefNum, SkuNum, VendorPartNum, OrgCustPoNum, ExtPrice, CF)
		VALUES (@lastDetailID, @lastHeaderId, @KeyLevelSeq2, @DocKey, @SenderID, @ReceiverID, @ISAControlNum, @GSControlNum, @STControlNum, @DocLine, @AdjReasonCode, @CreditDebitFlag, @AssignedID, 
			@AdjAmount, @CreditDebitQuantity, @UnitofMeasure, @UnitCostPrice, @OriginalPOPrice, @Description, @CrossRefNum, @SkuNum, @VendorPartNum, @CustPoNum, @OriginalPOPrice, @CF_detail)
		 
		SET @CurDocLine=@CurDocLine+1  
		END -- End Detail Loop
	  
		SET @CurrDocSeq=@CurrDocSeq+1
	END -- End Header Loop  
  
   
	SELECT  (SELECT COUNT(*) FROM #tSeq) AS TotalRows, (SELECT COUNT(*) FROM #tKey WHERE KeyLevel=1) TotalKeys  
  
	DELETE i  
	FROM tblEcTempImport i  
	INNER JOIN #tSeq s ON i.id=s.TempTblKey  
  
	DELETE FROM tblEcTempImport  
	WHERE DocId=@DocumentId 
END TRY            
BEGIN CATCH      
    EXEC dbo.trav_RaiseError_proc            
END CATCH   
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImportProcessAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImportProcessAPT_proc'
GO
