USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemSummaryList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemSummaryList_proc]
@SortBy tinyint = 0 -- 0, Item ID; 1, Product Line;
--todo, user defined fields
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT CASE @SortBy 
			WHEN 0 THEN i.ItemId 
			WHEN 1 THEN ISNULL(i.ProductLine, '') END AS SortBy,
		i.ItemId, i.Descr, i.ItemType, i.ItemStatus, ISNULL(i.ProductLine, '') AS ProductLine, i.SalesCat,
		i.PriceId, i.TaxClass, i.UomBase, i.UomDflt, i.LottedYN, i.AutoReorderYN, h.HMCode 
	FROM #tmpItemList t INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId
		LEFT JOIN dbo.tblInHazMat h ON i.HMRef = h.HMRef 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemSummaryList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemSummaryList_proc'
GO
