USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCreditCardList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCreditCardList_proc]
@PrintOption tinyint = 0, -- 0, All; 1, Expired;
@ExpiredDate datetime = '20090112'
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT c.CustId, CustName, Contact, Phone, ClassId, Country, Descr, p.CcNum, p.CcName, p.CcExpire 
	FROM #tmpCustomerList t INNER JOIN dbo.tblArCust c ON t.CustId = c.CustId
		INNER JOIN dbo.tblArCustPmtMethod p ON c.CustId = p.CustId
	WHERE ISNULL(CcNum, '') <> '' AND (@PrintOption = 0 OR p.CcExpire < @ExpiredDate)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCardList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCardList_proc'
GO
