USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_SO_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_SO_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtQtyID bigint
	DECLARE @MaxExtQtyOnHandID bigint
	--Get quantity precision
	DECLARE @QtyPrec tinyint, @MaxExtSeqNum int
	SELECT @QtyPrec = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'QtyPrec'  

	IF @QtyPrec IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END 

	--SELECT @QtyPrec = ConfigValue FROM tblSmConfigValue WHERE ConfigRef = 267

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*SO Transactions*/
	BEGIN
		CREATE TABLE #tmpSoTransQtyExt (ExtSeqNum int NOT NULL, SeqNum int NOT NULL, [ID] bigint NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE tblSoTransDetailExt SET ExtLocA = b.ExtLocA
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE x.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblSoTransSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSoTransSer r ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE  r.ExtLocA IS NULL --Missing bin

		UPDATE dbo.tblSoReturnedItem SET ExtLocA = b.ExtLocA
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblSoReturnedItem r ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID
		WHERE  r.ExtLocA IS NULL --Missing bin

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQty_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create missing Committed Quantity Extended
		INSERT INTO dbo.tblInQty_Ext (SeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, TransType, Qty, [ID])
		SELECT q.SeqNum,d.ItemId,d.LocId,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,0 AS TransType,q.Qty,
			ROW_NUMBER() OVER(ORDER BY h.TransId, d.EntryNum) + @MaxExtQtyID AS [ID] 
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			INNER JOIN dbo.tblInQty q ON d.QtySeqNum_Cmtd = q.SeqNum
			LEFT JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
		WHERE h.TransType > 0 AND x.SeqNum IS NULL  --Sales, no extended detail

		--Create missing tblSoTransDetailExt record
		INSERT INTO dbo.tblSoTransDetailExt (TransId, EntryNum, LotNum, ExtLocA, ExtLocB, QtyOrder, QtyFilled, CostUnit, CostUnitFgn, 
			HistSeqNum, QtySeqNum_Cmtd, QtySeqNum, QtySeqNum_Ext, Cmnt, QtyStatus, QuantityCmtdID)
		SELECT d.TransId,d.EntryNum,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,d.QtyOrdSell AS QtyOrder, 
			CASE i.ItemType WHEN 2 THEN 0 ELSE d.QtyShipSell END AS QtyFilled, --0 if serialized item
			d.UnitCostSell AS CostUnit,d.UnitCostSellFgn AS CostUnitFgn,0 AS HistSeqNum,e.ExtSeqNum AS QtySeqNum_Cmtd,0 AS QtySeqNum, 
			0 AS QtySeqNum_Ext,NULL AS Cmnt,NULL AS QtyStatus, e.ID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			INNER JOIN dbo.tblInQty q ON d.QtySeqNum_Cmtd = q.SeqNum 
			INNER JOIN dbo.tblInQty_Ext e ON q.SeqNum = e.SeqNum
			LEFT JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
		WHERE h.TransType > 0 AND x.SeqNum IS NULL  --Sales, no extended detail

		INSERT INTO dbo.tblSoTransDetailExt (TransId, EntryNum, LotNum, ExtLocA, ExtLocB, QtyOrder, QtyFilled, CostUnit, CostUnitFgn, 
			HistSeqNum, QtySeqNum_Cmtd, QtySeqNum, QtySeqNum_Ext, Cmnt, QtyStatus, QuantityCmtdID)
		SELECT d.TransId,d.EntryNum,NULL AS LotNum,b.ExtLocA,NULL AS ExtLocB,d.QtyOrdSell AS QtyOrder,
			CASE i.ItemType WHEN 2 THEN 0 ELSE d.QtyShipSell END AS QtyFilled, --0 if serialized item
			d.UnitCostSell AS CostUnit,d.UnitCostSellFgn AS CostUnitFgn,0 AS HistSeqNum,0 AS QtySeqNum_Cmtd,0 AS QtySeqNum, 
			0 AS QtySeqNum_Ext,NULL AS Cmnt,NULL AS QtyStatus, NULL AS QuantityCmtdID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.ItemId = b.ItemID AND d.LocId = b.LocID 
			LEFT JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
		WHERE h.TransType < 0 AND x.SeqNum IS NULL  --Credit, no extended detail

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpSoTransQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular and non-lotted, no link to tblQtyOnHand_Ext record

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(-(x.QtyFilled * u.ConvFactor), @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular and non-lotted, no link to tblQtyOnHand_Ext record

		--Update tblSoTransDetailExt.QtySeqNum_Ext to link tblSoTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE tblSoTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSoTransQtyExt q ON x.SeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpSoTransQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Credit/RMA, regular non-lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,NULL AS LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Credit/RMA, regular non-lotted, no link to tblQtyOnHand_Ext record

		--Update tblSoTransDetailExt.QtySeqNum_Ext to link tblSoTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE tblSoTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSoTransQtyExt q ON x.SeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Credit/RMA, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpSoTransQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,ROUND(-(x.QtyFilled * u.ConvFactor), @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

		--Update tblSoTransDetailExt.QtySeqNum_Ext to link tblSoTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE tblSoTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSoTransQtyExt q ON x.SeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (1,4) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice/Verified, regular lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpSoTransQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,x.SeqNum,
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Credit/RMA, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.ItemId,d.LocId,x.LotNum,x.ExtLocA,x.ExtLocB,ROUND(x.QtyFilled * u.ConvFactor, @QtyPrec),x.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY x.SeqNum) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON x.QtySeqNum = q.SeqNum 
			INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Credit/RMA, regular lotted, no link to tblQtyOnHand_Ext record

		--Update tblSoTransDetailExt.QtySeqNum_Ext to link tblSoTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblSoTransDetailExt SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblSoTransHeader h INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID 
			INNER JOIN dbo.tblSoTransDetailExt x ON d.TransID = x.TransId AND d.EntryNum = x.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
			INNER JOIN #tmpSoTransQtyExt q ON x.SeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON x.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType IN (-1,-2) AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Credit/RMA, regular lotted, no link to tblQtyOnHand_Ext record

		--Returned Item
		DELETE #tmpSoTransQtyExt
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtQtyOnHandID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyOnHandID = ISNULL(@MaxExtQtyOnHandID,0)

		INSERT INTO #tmpSoTransQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY r.[Counter]) + @MaxExtSeqNum AS ExtSeqNum,r.[Counter],
			ROW_NUMBER() OVER(ORDER BY r.[Counter]) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoReturnedItem r INNER JOIN dbo.tblInItem i ON r.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON r.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON r.QtySeqNumExt = e.ExtSeqNum
		WHERE r.[Status] IN (0,9) AND i.ItemType = 1 AND e.ExtSeqNum IS NULL --Approved/Posted, Regular, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY r.[Counter]) + @MaxExtSeqNum AS ExtSeqNum,r.ItemId,r.LocId,r.LotNum,r.ExtLocA,r.ExtLocB,q.Qty,r.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY r.[Counter]) + @MaxExtQtyOnHandID AS [ID]
		FROM dbo.tblSoReturnedItem r INNER JOIN dbo.tblInItem i ON r.ItemId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON r.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON r.QtySeqNumExt = e.ExtSeqNum
		WHERE r.[Status] IN (0,9) AND i.ItemType = 1 AND e.ExtSeqNum IS NULL --Approved/Posted, Regular, no link to tblQtyOnHand_Ext record
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF
	
		--Update tblSoTransDetailExt.QtySeqNum_Ext to link tblSoTransDetailExt records to tblQtyOnHand_Ext records generated above
		UPDATE dbo.tblSoReturnedItem SET QtySeqNumExt = q.ExtSeqNum, QuantityExtID = q.ID
		FROM dbo.tblSoReturnedItem r INNER JOIN dbo.tblInItem i ON r.ItemId = i.ItemId
			INNER JOIN #tmpSoTransQtyExt q ON r.[Counter] = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON r.QtySeqNumExt = e.ExtSeqNum
		WHERE r.[Status] IN (0,9) AND i.ItemType = 1 AND e.ExtSeqNum IS NULL --Approved/Posted, Regular, no link to tblQtyOnHand_Ext record

		DECLARE @NewID bigint
		SET @NewID = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint)  * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		SET @NewID = @NewID + 300000000 --To make sure that no duplicate ID values between migration of different application

		UPDATE dbo.tblSoTransDetailExt SET QuantityID = QtyIDNew
		FROM dbo.tblSoTransDetailExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblSoTransDetailExt 
			WHERE QuantityID IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE QuantityID IS NULL

		UPDATE dbo.tblSoTransDetailExt SET HistoryID  = QtyIDNew
		FROM dbo.tblSoTransDetailExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblSoTransDetailExt 
			WHERE HistoryID  IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE HistoryID  IS NULL

		UPDATE dbo.tblSoTransDetailExt SET QuantityExtID  = QtyIDNew
		FROM dbo.tblSoTransDetailExt e INNER JOIN 
			(SELECT @NewID + ROW_NUMBER() OVER (ORDER BY SeqNum) AS QtyIDNew, SeqNum
			FROM dbo.tblSoTransDetailExt 
			WHERE QuantityExtID  IS NULL) n ON e.SeqNum = n.SeqNum
		WHERE QuantityExtID  IS NULL

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_SO_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_SO_Transactions_proc'
GO
