USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApSelectPayableWrite_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApSelectPayableWrite_proc]      
	@ControlID INT    
AS      
SET NOCOUNT ON    
	Declare @PaymentId Int    
BEGIN TRY    
  
  Select @PaymentId=MAX(d.PaymentID) from dbo.tblApPaymentDetail d INNER JOIN  #tmpInvoiceToDropList i  ON i.Id =d.ID      
  --purge dropped invoices      
  DELETE dbo.tblApPaymentDetail        
  FROM dbo.tblApPaymentDetail d       
  INNER JOIN  #tmpInvoiceToDropList i  ON i.Id =d.ID    
    
    
 --DELETE Payment Detail Records having negative payment amounts in the ControlID AND PaymentID group         
  IF EXISTS ( Select Max(ID) from dbo.tblApPaymentDetail WHERE ControlID=@ControlID   AND PaymentID=@PaymentId  
			  GROUP BY PaymentID   
			  Having SUM(PaymentAmt)<0 )    
  BEGIN    
	Delete  dbo.tblApPaymentDetail WHERE ControlID=@ControlID  AND PaymentID=@PaymentId   
  END    
       
  -- remove Payment Header if no invoice exists     
  DELETE dbo.tblApPayment WHERE ID NOT in (select PaymentID from dbo.tblApPaymentDetail)      
      
  -- remove Payment control if no payment exists      
  DELETE dbo.tblApPaymentControl WHERE ID NOT IN (Select ControlId from dbo.tblApPayment)    
  
  IF NOT EXISTS(Select ID from dbo.tblApPaymentControl WHERE ID=@ControlID)
	BEGIN 
	 Delete from dbo.tblSmExchangeRateTrans WHERE TransType='APPAYMENT' AND TransKey=@ControlID
	END
       
END TRY      
BEGIN CATCH      
 EXEC dbo.trav_RaiseError_proc      
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApSelectPayableWrite_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApSelectPayableWrite_proc'
GO
