USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCheckDuplicatePONumber_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCheckDuplicatePONumber_proc] 
@CustomerId pCustId, 
@PONum nvarchar(25)

AS

	DECLARE @Ret tinyint 
	SET @Ret = 0

	IF EXISTS (SELECT * FROM dbo.tblArHistHeader WHERE SoldToId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblArRecurHeader WHERE CustId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblArTransHeader WHERE CustId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblPcInvoiceHeader WHERE CustId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblPcProjectDetail d INNER JOIN dbo.tblPcProject p ON p.Id = d.ProjectId 
						WHERE p.CustId = @CustomerId AND d.CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblPsHistHeader WHERE SoldToID = @CustomerId AND PONumber = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblPsTransHeader WHERE SoldToID = @CustomerId AND PONumber = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblSoSaleBlanket WHERE CustId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblSoTransHeader WHERE CustId = @CustomerId AND CustPONum = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblSvHistoryWorkOrder WHERE CustId = @CustomerId AND CustomerPoNumber = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblSvInvoiceHeader WHERE CustId = @CustomerId AND CustomerPoNumber = @PONum) 
		SET @Ret = 1 
	ELSE IF EXISTS (SELECT * FROM dbo.tblSvWorkOrder WHERE CustId = @CustomerId AND CustomerPoNumber = @PONum) 
		SET @Ret = 1 

	SELECT @Ret AS ReturnValue
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCheckDuplicatePONumber_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCheckDuplicatePONumber_proc'
GO
