USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCustList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCustList_proc]

@SortBy tinyint
--@CustStatus tinyint = 0

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT
		 CASE @SortBy
			WHEN 0 THEN u.CustId 
			WHEN 1 THEN u.SalesRepId1 
			WHEN 2 THEN u.TerrId 
			WHEN 3 THEN u.ClassId 
			WHEN 4 THEN u.DistCode 
			END AS GrpId1, *
	FROM  #tmpCustomerList t INNER JOIN dbo.tblArCust U ON t.CustId = u.CustId   --(NOLOCK)
	--WHERE (@CustStatus=2) OR (@CustStatus=0 AND U.Status=@CustStatus) OR (@CustStatus=1 AND U.Status=@CustStatus)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustList_proc'
GO
