USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_Preprocess_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_Preprocess_proc]
AS
BEGIN TRY
	DECLARE @ErrorMessage NVARCHAR(4000)

	--Bin setup validation
	IF NOT EXISTS (SELECT * FROM dbo.tblWmExtLoc WHERE [Type] = 0)
	BEGIN
		SET @ErrorMessage = 'There are no Bins setup.'
		RAISERROR(@ErrorMessage,16,1)
	END

	--Location without default bin
	IF EXISTS(SELECT * FROM dbo.tblInLoc WHERE LocId NOT IN (
		SELECT ContextId FROM dbo.tblSmUserDefaultValue
		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''))
	BEGIN
		SET @ErrorMessage = 'There are IN Locations that are missing Default Bin.'
		RAISERROR(@ErrorMessage,16,1)
	END

	--Location without receiving bin
	IF EXISTS(SELECT * FROM dbo.tblInLoc WHERE LocId NOT IN (
		SELECT ContextId FROM dbo.tblSmUserDefaultValue
		WHERE ContextType = 4 AND DefaultId = '785668CA-7684-4E6C-891B-21F4DA3686CB' AND ISNULL(DefaultValue,'') <> ''))
	BEGIN
		SET @ErrorMessage = 'There are IN Locations that are missing Default Receiving Bin.'
		RAISERROR(@ErrorMessage,16,1)
	END

	--Location without packing bin
	IF EXISTS(SELECT * FROM dbo.tblInLoc WHERE LocId NOT IN (
		SELECT ContextId FROM dbo.tblSmUserDefaultValue
		WHERE ContextType = 4 AND DefaultId = '709207DD-5FE4-4F6A-8B76-E24001959265' AND ISNULL(DefaultValue,'') <> ''))
	BEGIN
		SET @ErrorMessage = 'There are IN Locations that are missing Default Packing Bin.'
		RAISERROR(@ErrorMessage,16,1)
	END

	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))
	--END

	INSERT INTO #tmpItemLocDefaultBin
	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_Preprocess_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_Preprocess_proc'
GO
