USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArMethodsOfPaymentJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArMethodsOfPaymentJournal_proc]  
@ReportCurrency pCurrency = Null, 
@BaseCurrency pCurrency = 'USD', 
@TransType NVARCHAR(10)
AS  
SET NOCOUNT ON  
BEGIN TRY    

	  CREATE TABLE #tmpPaymentMethodsJournal
	  (
		PmtMethodId NVARCHAR(10) NULL,
		[Desc] NVARCHAR(255) NULL,
		PmtType SMALLINT NULL,
		CustId NVARCHAR(10) NULL,
		GLAcctDebit NVARCHAR(255) NULL,
		GlAcct NVARCHAR(255) NULL,
		DepositID NVARCHAR(6) NULL,
		InvcNum NVARCHAR(255) NULL,
		InvTransId INT NULL,
		PmtDate DATETIME NULL,
		BankID NVARCHAR(10) NULL,	
		CheckNum NVARCHAR(255) NULL,
		PmtAmt decimal(28,10) NULL,
		CurrencyId NVARCHAR(6) NULL,
		CcHolder NVARCHAR(255)NULL,
		CcNum NVARCHAR(255) NULL,
		CcExpire DATETIME NULL,
		CcAuth NVARCHAR(255) NULL,
		BankName NVARCHAR(255) NULL,
		BankRoutingCode NVARCHAR(255) NULL,
		BankAcctNum NVARCHAR(255) NULL,
		Note  NVARCHAR(255) NULL
	   )
	   
	  INSERT INTO #tmpPaymentMethodsJournal (PmtMethodId,[Desc],PmtType,CustId,GLAcctDebit,GlAcct,DepositID,InvcNum,InvTransId,PmtDate,BankID,CheckNum,
					PmtAmt,CurrencyId,CcHolder,CcNum,CcExpire,CcAuth,BankName,BankRoutingCode,BankAcctNum,Note)
					
	  SELECT h.PmtMethodId, p.[Desc], p.PmtType, h.CustId  
	  , CASE	WHEN p.PmtType IN (3, 7) THEN ISNULL(b.GlCashAcct, p.GLAcctDebit) 
				WHEN p.PmtType IN (1, 2, 6) THEN b.GlCashAcct ELSE p.GLAcctDebit END AS GLAcctDebit --ues the bank gl account for Cash, Check and Direct Debit   
	  , CASE WHEN h.GlAcct IS NOT NULL THEN h.GlAcct ELSE s.GlAcctReceivables END AS GlAcct,   
	  h.DepositID, d.InvcNum, h.RcptHeaderID AS InvTransId, h.PmtDate, h.BankID, h.CheckNum, 
	  CASE WHEN  ISNULL(@ReportCurrency,h.CurrencyID)=h.CurrencyID  THEN d.PmtAmtFgn
			ELSE
			 CASE WHEN @ReportCurrency=@BaseCurrency THEN d.PmtAmt 
			    ELSE ROUND(et.Rate * d.PmtAmtFgn,et.CurrDecPlaces)
			 END 
	  END AS PmtAmt,
	  ISNULL(@ReportCurrency,h.CurrencyID) AS CurrencyId,
	  h.CcHolder, h.CcNum, h.CcExpire, h.CcAuth, h.BankName, h.BankRoutingCode, h.BankAcctNum, h.Note  
	  
	  FROM #tmpCashReceiptList t
	  INNER JOIN dbo.tblArCashRcptHeader h (NOLOCK)  ON t.RcptHeaderID = h.RcptHeaderID  
	  INNER JOIN dbo.tblArPmtMethod p (NOLOCK)  On h.PmtMethodID = p.PmtMethodId  
	  INNER JOIN dbo.tblArCashRcptDetail d (NOLOCK)  ON h.RcptHeaderID = d.RcptHeaderID  
	  LEFT JOIN dbo.tblSmBankAcct b (NOLOCK) on p.BankId = b.BankId  
	  LEFT JOIN dbo.tblArCust c (NOLOCK)  ON h.CustId = c.CustId   
	  LEFT JOIN dbo.tblArDistCode s (NOLOCK) ON d.DistCode = s.DistCode  
	  LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e
					INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransType AND  e.[Destination] = @ReportCurrency 
				) et ON et.[TransKey] = h.[RcptHeaderID] AND et.[Source] =h.CurrencyID
	WHERE (h.OrderState = 0 OR h.OrderState & 4 =4)
	ORDER BY h.PmtMethodId  

	IF  EXISTS (SELECT * FROM #tmpPaymentMethodsJournal t WHERE  t.PmtAmt IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	SELECT * FROM #tmpPaymentMethodsJournal

  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArMethodsOfPaymentJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArMethodsOfPaymentJournal_proc'
GO
