USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSummaryOpenInvoiceView_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSummaryOpenInvoiceView_proc]
@WksDate datetime = NULL

AS
BEGIN TRY
	SET NOCOUNT ON

	SELECT CustomerId, c.CustName AS CustomerName, InvoiceNumber, tmp.CurrencyId, SourceApp, NetDueDate
		, InvoiceDate, DiscountDueDate, ISNULL(Amount, 0) AS Amount, ISNULL(AmountFgn, 0) AS AmountFgn
		, ISNULL(CASE WHEN ((NetDueDate < @WksDate) AND (Amount > 0)) THEN Amount ELSE 0 END, 0) AS PastDueAmount
		, ISNULL(CASE WHEN ((NetDueDate < @WksDate) AND (AmountFgn > 0)) THEN AmountFgn ELSE 0 END, 0) AS PastDueAmountFgn
		, ISNULL(DiscountAllowed, 0) AS DiscountAllowed, ISNULL(DiscountAllowedFgn, 0) AS DiscountAllowedFgn
		, c.[Status] AS CustomerStatus, c.ClassId, c.GroupCode, c.AcctType, c.PriceCode
		, c.CreditLimit, c.TerrId, c.CustLevel 
	FROM 
		(
	SELECT ISNULL(inv.[Counter], adj.[Counter]) AS [Counter]
		, ISNULL(inv.CustId,adj.CustId) AS CustomerId
		, ISNULL(inv.InvcNum,adj.InvcNum)AS InvoiceNumber
		, ISNULL(inv.CurrencyId,adj.CurrencyId) AS CurrencyId 
		, ISNULL(MIN(CASE WHEN ISNULL(inv.RecType, adj.RecType) > 0 THEN ISNULL(inv.SourceApp, adj.SourceApp) ELSE NULL END), 0) AS SourceApp
		, MIN(CASE WHEN ISNULL(inv.RecType, adj.RecType) > 0 THEN ISNULL(inv.NetDueDate, adj.NetDueDate) ELSE NULL END) AS NetDueDate
		, MIN(ISNULL(inv.TransDate,adj.TransDate)) AS InvoiceDate
		, MIN(ISNULL(inv.DiscDueDate,adj.DiscDueDate)) AS DiscountDueDate  
		 --Amount due in base currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
			THEN adj.[Amt] 
			ELSE 
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
					THEN adj.[Amt] - adj.GainLossAmount
					ELSE -(adj.[Amt] - adj.GainLossAmount)
				END
			END) AS Amount
		--Amount due in invoice currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
			THEN adj.[AmtFgn] 
			ELSE 
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
					THEN adj.[AppliedAmount] 
					ELSE -adj.[AppliedAmount] 
				END
			END) AS AmountFgn
		--Discount amount allowed in base currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[DiscAmt] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[DiscAmt] 
				ELSE -adj.[DiscAmt] 
			END
		END) AS DiscountAllowed
		--Discount amount allowed in invoice currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
			THEN adj.[DiscAmtFgn] 
			ELSE 
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
					THEN adj.[AppliedDiscount] 
					ELSE -adj.[AppliedDiscount] 
				END
			END) AS DiscountAllowedFgn
		FROM dbo.tblArOpenInvoice adj
		INNER JOIN #tmpInvoiceList t ON adj.[Counter] = t.[Counter] 
		LEFT JOIN dbo.tblArOpenInvoice inv ON adj.[InvoiceID] = inv.[Counter]	
		WHERE adj.[Status] <> 4 AND adj.RecType <> 5 --Exclude Paid and Pro Forma 
		GROUP BY ISNULL(inv.[Counter], adj.[Counter])
			, ISNULL(inv.CustId,adj.CustId)
			, ISNULL(inv.InvcNum,adj.InvcNum)
			,  ISNULL(inv.CurrencyId,adj.CurrencyId)   
		) tmp 
	LEFT JOIN dbo.tblArCust c on tmp.CustomerId = c.CustId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSummaryOpenInvoiceView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSummaryOpenInvoiceView_proc'
GO
