USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPrintInvoices_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPrintInvoices_proc]
@LastInvoice [nvarchar](15) = null, --set for batch mode printing
@TransId [nvarchar](8) = null, --set for printing online or from history
@PrintAdditionalDescription bit = 0, --set for printing additional descriptions
@BaseCurrency [nvarchar](6) = 'USD'

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #TaxSummary
	(
		TransId [nvarchar](8) NOT NULL,
		TaxLoc1 [nvarchar](10) NULL,
		TaxAmt1 [decimal](28,10) NOT NULL, 
		TaxLoc2 [nvarchar](10) NULL,
		TaxAmt2 [decimal](28,10) NOT NULL, 
		TaxLoc3 [nvarchar](10) NULL,
		TaxAmt3 [decimal](28,10) NOT NULL, 
		TaxLoc4 [nvarchar](10) NULL,
		TaxAmt4 [decimal](28,10) NOT NULL, 
		TaxLoc5 [nvarchar](10) NULL,
		TaxAmt5 [decimal](28,10) NOT NULL, 
		PRIMARY KEY CLUSTERED ([TransId])
	)

	CREATE TABLE #Temp
	( 
		TransId [nvarchar](8) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId])
	)	
	
	 CREATE TABLE #PaymentAmounts 
	 (
		TransId [nvarchar](8) NOT NULL,
		PaymentTotal [decimal](28,10) NOT NULL,
	    PaymentTotalFgn [decimal](28,10) NULL,
	    PRIMARY KEY NONCLUSTERED (TransId) 
	)

	--process live transactions
	IF (ISNULL(@TransId, '') = '')
	BEGIN
		--build the list of Invoices that are valid for printing
		INSERT INTO #Temp (TransId)
		SELECT h.TransId
		FROM #tmpTransactionList t
			INNER JOIN dbo.tblArTransHeader h on t.TransId = h.TransId
			INNER JOIN dbo.tblArCust c ON c.CustId = h.CustId
		WHERE h.VoidYn = 0 --exclude voids
			AND (h.PrintStatus = 0 Or h.PrintStatus = 2) 
			AND (c.StmtInvcCode = 3 Or c.StmtInvcCode = 2) 
			AND (h.InvcNum > @LastInvoice or NULLIF(h.InvcNum, '') Is Null) 
			--AND ((@ProjectInvoices = 0 AND (h.ProjItem <> 'PR' Or h.ProjItem Is Null)) OR (@ProjectInvoices = 1 AND (h.ProjItem = 'PR')))
	END
	ELSE
	BEGIN
		--select only one transaction for online processing
		INSERT INTO #Temp (TransId) 
		SELECT h.TransId
		FROM dbo.tblArTransHeader h 
		WHERE h.TransId = @TransId
			AND h.VoidYn = 0 --exclude voids
			--AND ((@ProjectInvoices = 0 AND (h.ProjItem <> 'PR' Or h.ProjItem Is Null)) OR (@ProjectInvoices = 1 AND (h.ProjItem = 'PR')))
	END

	--summarize and cross-tab the taxes by level 
	--	note: TaxLocId cannot be duplicated for multiple tax levels
	INSERT INTO #TaxSummary (TransId
		, TaxLoc1, TaxAmt1, TaxLoc2, TaxAmt2, TaxLoc3, TaxAmt3, TaxLoc4, TaxAmt4, TaxLoc5, TaxAmt5)
	SELECT TransId, Max(TaxLoc1), Sum(TaxAmt1), Max(TaxLoc2), Sum(TaxAmt2)
		, Max(TaxLoc3), Sum(TaxAmt3), Max(TaxLoc4), Sum(TaxAmt4), Max(TaxLoc5), Sum(TaxAmt5)
	FROM (SELECT x.TransId
			, CASE WHEN x.[Level] = 1 THEN x.TaxLocId ELSE NULL END TaxLoc1
			, CASE WHEN x.[Level] = 1 THEN x.TaxAmtFgn ELSE 0 END TaxAmt1
			, CASE WHEN x.[Level] = 2 THEN x.TaxLocId ELSE NULL END TaxLoc2
			, CASE WHEN x.[Level] = 2 THEN x.TaxAmtFgn ELSE 0 END TaxAmt2
			, CASE WHEN x.[Level] = 3 THEN x.TaxLocId ELSE NULL END TaxLoc3
			, CASE WHEN x.[Level] = 3 THEN x.TaxAmtFgn ELSE 0 END TaxAmt3
			, CASE WHEN x.[Level] = 4 THEN x.TaxLocId ELSE NULL END TaxLoc4
			, CASE WHEN x.[Level] = 4 THEN x.TaxAmtFgn ELSE 0 END TaxAmt4
			, CASE WHEN x.[Level] = 5 THEN x.TaxLocId ELSE NULL END TaxLoc5
			, CASE WHEN x.[Level] = 5 THEN x.TaxAmtFgn ELSE 0 END TaxAmt5
		FROM #Temp l
		INNER JOIN dbo.tblArTransTax x ON l.TransId = x.TransId
		INNER JOIN dbo.tblArTransHeader h ON x.TransId = h.TransId
		INNER JOIN dbo.tblSmTaxGroup s  ON h.TaxGrpID = s.TaxGrpID
		WHERE s.ReportMethod <> 0) ctab
	GROUP BY TransId
	
	--Add the tax adjustment to the appropriate tax location
	UPDATE #TaxSummary 
		Set TaxAmt1 = TaxAmt1 + CASE WHEN [TaxLoc1] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn  ELSE 0 END
		, TaxAmt2 = TaxAmt2 + CASE WHEN [TaxLoc2] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn  ELSE 0 END
		, TaxAmt3 = TaxAmt3 + CASE WHEN [TaxLoc3] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn  ELSE 0 END
		, TaxAmt4 = TaxAmt4 + CASE WHEN [TaxLoc4] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn  ELSE 0 END
		, TaxAmt5 = TaxAmt5 + CASE WHEN [TaxLoc5] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn  ELSE 0 END
	FROM dbo.tblArTransHeader h 
		WHERE h.TaxAmtAdjFgn <> 0
		AND #TaxSummary.TransId = h.TransId
	

	--Summarize and convert prepayments to transaction currency	                               
	INSERT INTO #PaymentAmounts(TransId, PaymentTotal, PaymentTotalFgn)
	SELECT [tmp].[TransID]
		, SUM([p].[PmtAmt])
		, SUM(CASE [h].[CurrencyID] 
				WHEN @BaseCurrency THEN [p].[PmtAmt] 
				WHEN [p].[CurrencyId] THEN [p].[PmtAmtFgn]
				ELSE ROUND(([p].[PmtAmtFgn] * [ter].[Rate]), [ter].[CurrDecPlaces]) 
				END)
	FROM [#Temp] [tmp]
	INNER JOIN [dbo].[tblArTransHeader] [h] ON [tmp].[TransId] = [h].[TransId]
	INNER JOIN [dbo].[tblArTransPmt] [p] ON [h].[TransId] = [p].[TransId]
	LEFT JOIN (
		SELECT [TransKey], [Rate], [CurrDecPlaces], [Source], [Destination] 
		FROM [dbo].[tblSmExchangeRateTrans] [ert]
		INNER JOIN [dbo].[tblSmCurrency] [cur] ON [ert].[Destination] = [cur].[CurrID]
		WHERE ([ert].[TransType] = 'ARPREPAY') 
	) ter ON [p].[PmtNum] = [ter].[TransKey] AND [p].[CurrencyId] = [ter].[Source] AND [h].[CurrencyID] = [ter].[Destination]
	GROUP BY [tmp].TransId 
              
	IF EXISTS (SELECT 1 FROM #PaymentAmounts WHERE PaymentTotalFgn IS NULL)
	BEGIN
		RAISERROR (90027, 16, 1)
	END

	--retrieve the datasets
	-- header info
	SELECT c.CustId, c.Attn, c.Contact, c.CustName, c.Addr1, c.Addr2, c.City, c.Region
		, c.Country, c.PostalCode, c.Phone, c.Fax, c.Email, c.Internet, c.CustId AS BillCustId
		, c.CustName AS BillCustName, c.Addr1 AS BillAddr1, c.Addr2 AS BillAddr2, c.City AS BillCity
		, c.Region AS BillRegion, c.Country AS BillCountry, c.PostalCode AS BillPostalCode
		, c.IntlPrefix BillIntlPrefix, c.Phone AS BillPhone, c.Fax AS BillFax, c.Email AS BillEmail
		, c.Internet AS BillInternet, c.Attn AS BillAttn, c.Contact AS BillContact, h.ShipToID, h.ShipToName, h.ShipToAddr1
		, h.ShipToAddr2, h.ShipToCity, h.ShipToCountry, h.ShipToRegion, h.ShipToPostalCode
		, h.ShipVia, h.ShipToAttn , Ship.Phone AS ShipToPhone, Ship.Fax AS ShipToFax
		, Ship.Email AS ShipToEmail, Ship.Internet AS ShipToInternet
		, t.[Desc] AS TermsDescription, h.TransType, h.OrderDate
		, h.ShipDate AS [RequestedShipDate], h.ShipDate, h.ShipNum AS ShipNo, h.InvcDate AS InvoiceDate, h.Rep1Id, h.Rep2Id
		, TaxSubtotalFgn  AS TaxableSubtotal
		, NonTaxSubtotalFgn  AS NontaxableSubtotal
		, SalesTaxFgn + TaxAmtAdjFgn  AS SalesTax
		, FreightFgn  AS Freight
		, MiscFgn  AS Misc
		, ISNULL(pmt.PaymentTotalFgn, 0) AS TotalPayment
		, h.CustPONum AS CustomerPoNo, h.CurrencyID AS CurrencyId, c.CurrencyId AS CustCurrencyId
		, h.InvcNum AS InvoiceNo, h.OrgInvcNum AS OriginalInvoiceNo, h.TransId, h.ExchRate
		, 0 AS [Source]
		, ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)
				+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) 
			 AS InvoiceTotal
		, 0 AS PriorInvoiceAmount --placeholder for values returned by SO Invoicing
		, 0 AS PriorPaymentAmount --placeholder for values returned by SO Invoicing
		, CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0
			ELSE
				ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)
					+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) - ISNULL(pmt.PaymentTotalFgn, 0)
			END AS TotalDue
		, x.TaxLoc1 AS TaxLocation1, ISNULL(x.TaxAmt1, 0) AS TaxAmount1
		, x.TaxLoc2 AS TaxLocation2, ISNULL(x.TaxAmt2, 0) AS TaxAmount2
		, x.TaxLoc3 AS TaxLocation3, ISNULL(x.TaxAmt3, 0) AS TaxAmount3
		, x.TaxLoc4 AS TaxLocation4, ISNULL(x.TaxAmt4, 0) AS TaxAmount4
		, x.TaxLoc5 AS TaxLocation5, ISNULL(x.TaxAmt5, 0) AS TaxAmount5
		, NetDueDate, DiscDueDate, DiscAmt, DiscAmtFgn, WhseId AS TransLocation, BatchId, c.TaxExemptId, NULL as Notes
		, h.WhseId AS LocationId
		, Null AS [PickingSlipNo], Null AS [PackingSlipNo]
		, (c.CreditLimit - c.CurAmtDue)  AS RemainingCredit
		, h.SourceId
	FROM #Temp l
	INNER JOIN dbo.tblArTransHeader h on l.TransId = h.TransId
	INNER JOIN dbo.tblArTermsCode t ON h.TermsCode = t.TermsCode 
	INNER JOIN dbo.tblArCust c ON c.CustId = h.CustId
	LEFT JOIN dbo.tblArShipTo Ship ON h.CustID = Ship.CustID AND h.ShipToID = Ship.ShipToID 
	LEFT JOIN #TaxSummary x on h.TransId = x.TransId
	LEFT JOIN #PaymentAmounts pmt ON h.TransId = pmt.TransId
	ORDER BY h.TransId
	
	-- detail info
	SELECT d.PartId AS ItemId, d.EntryNum
		, d.WhseId AS LocationId
		, d.[Desc] AS [Description]
		, CASE WHEN @PrintAdditionalDescription = 1 THEN d.AddnlDesc ELSE NULL END AS AddnlDescription
		, d.TaxClass, d.QtyOrdSell AS QtyOrdered, d.UnitsSell AS Units, d.QtyShipSell AS QtyShipped
		, UnitPriceSellFgn  AS UnitPrice
		,PriceExtFgn + d.PriceAdjAmtFgn  AS ExtPrice
		, d.TransId, d.PartType AS ItemType, d.LottedYn
		, d.PriceAdjType, d.PriceAdjPct
		, -d.PriceAdjAmtFgn  AS PriceAdjAmt
		, 0 AS Kit, d.LineSeq 
		, NULL AS GrpId, NULL as BOLNum
		, d.ReqShipDate AS [RequestedShipDate], h.ShipDate AS [ActualShipDate]
		, NULL AS [BinNo], d.QtyBackordSell AS [QtyBackordered], d.Rep1Id, d.Rep2Id, d.CustomerPartNumber,
		ch.[Description] AS CustomerDescription, ch.Notes
	FROM #Temp l 
	INNER JOIN dbo.tblArTransHeader h on l.TransID = h.TransId
	INNER JOIN dbo.tblArTransDetail d ON l.TransId = d.TransID 
	LEFT JOIN dbo.tblInItemCustHeader ch ON ch.ItemId =  d.PartId AND ch.CustId = h.CustId
	ORDER BY d.TransId, d.LineSeq, d.EntryNum
	
	-- lot info
	SELECT l.TransId, l.EntryNum, l.SeqNum, l.LotNum AS LotNo, l.QtyFilled AS Qty 
	FROM #Temp t
	INNER JOIN dbo.tblArTransLot l ON t.TransId = l.TransId
	ORDER BY LotNum


	-- serial info
	SELECT s.TransId, s.EntryNum, s.SeqNum, s.LotNum AS LotNo, s.SerNum AS SerNo
		, s.PriceUnitFgn  AS UnitPrice
		, 1 AS Qty 
	FROM #Temp t
	INNER JOIN dbo.tblArTransSer s on t.TransId = s.TransId
	ORDER BY LotNum, SerNum

	-- totals
	SELECT h.CurrencyID  AS [CurrencyId] 
		, COUNT(h.TransId) AS [InvoicesPrinted]
		, SUM(SIGN(h.TransType) * TaxSubtotalFgn ) AS [Taxable]
		, SUM(SIGN(h.TransType) * NonTaxSubtotalFgn ) AS [Nontaxable]
		, SUM(SIGN(h.TransType) * SalesTaxFgn + TaxAmtAdjFgn ) AS [SalesTax]
		, SUM(SIGN(h.TransType) * FreightFgn ) AS [Freight]
		, SUM(SIGN(h.TransType) * MiscFgn ) AS [Misc]
		, SUM(SIGN(h.TransType) * ISNULL(pmt.PaymentTotalFgn, 0) ) AS [Prepaid]
		, SUM(SIGN(h.TransType) * (ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)
				+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0))
			) AS [InvoiceTotal]
		, SUM(CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0
			ELSE
				ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)
					+ ISNULL(FreightFgn, 0) + ISNULL(MiscFgn, 0) - ISNULL(pmt.PaymentTotalFgn, 0)
			END) AS [NetDue]
	FROM #Temp l
	INNER JOIN dbo.tblArTransHeader h on l.TransId = h.TransId
	LEFT JOIN #PaymentAmounts pmt on h.TransId = pmt.TransId
	GROUP BY h.CurrencyID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPrintInvoices_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPrintInvoices_proc'
GO
