USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidateUpdateSelect_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidateUpdateSelect_proc]
   @TempTblName  nvarchar(30)
AS

BEGIN TRY

   DECLARE @SQL nvarchar(1000)

   CREATE TABLE #sel(ImportBatchId nvarchar(14),KeyLevelSeq1 int)

   IF ISNULL(@TempTblName,'')<>'' 
   BEGIN
     SET @SQL='SELECT ImportBatchId,KeyLevelSeq1 FROM ' +@TempTblName 
     INSERT INTO  #sel (ImportBatchId,KeyLevelSeq1)
     EXEC sp_executesql @SQL
   END

   SELECT h.ImportBatchId,h.KeyLevelSeq1,h.PODate, d.KeyLevelSeq2,
          h.CustID,c.CustLevel, d.ItemID,d.LocId,d.SOUnitsSell,d.SOQtyOrdSell, i.PriceId
   FROM #sel t
   INNER JOIN tblEcPoHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1
   INNER JOIN tblEcPoDetail d ON h.ID=d.POHeaderID
   INNER JOIN tblArCust c ON h.CustID=c.CustId
   INNER JOIN tblInItem i ON d.ItemID=i.ItemId

END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdateSelect_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdateSelect_proc'
GO
