USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_WMMatReq_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_WMMatReq_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON


	--identify any WM Material Requisitions that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq
		, ReqDate, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, ZoneId, ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, Notes, ItemDescription)
	SELECT 8, 'MATREQ', r.TranKey, r.LineNum, NULL as CustId, NULL as CustName, Null as PickNum
		, r.ItemId, r.LocId, r.LotNum, r.ExtLocA, r.ExtLocB, r.UOM, (r.Qty - r.QtyFilled) as QtyReq
		, Cast(m.DateNeeded AS Date), Null, 0 as OriCompQty, r.Qty as QtyOrdered
		, Case When Len(IsNull(m.ReqNum, '')) > 8 Then LEFT(m.ReqNum, 7) + '*' Else m.ReqNum End --truncate the ReqNum when it exceeds 8 characters / append an astrisk to denote the truncation
		, Null, Null, elb.ZoneID, elb.ExtLocID, elc.ExtLocID, NULL as ReferenceId, NULL as ReferenceName, CAST(m.Notes AS nvarchar(50)) [Notes], i.Descr AS ItemDescription
	FROM dbo.tblWmMatReqRequest r 
	INNER JOIN dbo.tblWmMatReq m ON r.TranKey = m.TranKey
	INNER JOIN dbo.tblInItem i ON i.ItemId = r.ItemId
	LEFT JOIN dbo.tblWmExtLoc elb ON elb.Id = r.ExtLocA AND elb.[Type] = 0 --bins
	LEFT JOIN dbo.tblWmExtLoc elc ON elc.Id = r.ExtLocB AND elc.[Type] = 1 --containers
	WHERE m.ReqType = 1 --is a regular MatReq
		AND (r.Qty - r.QtyFilled) > 0 --has quantity to process
		AND r.LocId = ISNULL(@LocId, m.LocId)
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_WMMatReq_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_WMMatReq_proc'
GO
