USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPaymentRemitImport_ValidateUpdate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPaymentRemitImport_ValidateUpdate_proc]
	@ImportBatchId VARCHAR(14) = null, 
	@KeyLevelSeq1 INT = 0 
AS 
SET NOCOUNT ON

BEGIN TRY 
	DECLARE @DocId bigint

	SELECT @DocId=ID
	FROM tblEcDocument   
	WHERE DocId='820-I' 

	CREATE TABLE #tSelU ( 
		ImportBatchId varchar(14) not null,
		KeyLevelSeq1 int not null) 

	CREATE TABLE #tMailId (
		ImportBatchId varchar(14) not null, 
		KeyLevelSeq1 int not null, 
		MailId varchar(15)null, 
		MailIdGS varchar(15)null, 
		Partnerid bigint null, 
		Custid varchar(50) null) 
 


	-- select records to process 
	IF object_id('tempdb.dbo.#Edi820HeaderList') IS not NULL 
	BEGIN 
		INSERT INTO #tSelU (ImportBatchId, KeyLevelSeq1) 
		SELECT ImportBatchId, KeyLevelSeq1 
		FROM #Edi820HeaderList 
	END 
	ELSE 
	BEGIN 
		INSERT INTO #tSelU (ImportBatchId, KeyLevelSeq1) 
		SELECT ImportBatchId, KeyLevelSeq1 
		FROM tblEcPaymentRemitHeader 
		WHERE (ISNULL(@ImportBatchId,'')='' OR ImportBatchId=@ImportBatchId) 
			AND (ISNULL(@KeyLevelSeq1,0)=0 OR KeyLevelSeq1=@KeyLevelSeq1) 
	END 
 


	-- select mail ids 
	INSERT INTO #tMailId (ImportBatchId, KeyLevelSeq1, MailId, MailIdGS) 
	SELECT DISTINCT h.ImportBatchId, h.KeyLevelSeq1, h.SenderID, SenderIDGS 
	FROM tblEcPaymentRemitHeader h 
		LEFT JOIN 
			(SELECT ImportBatchid, DocKey, MAX(SenderIDGS) SenderIDGS 
			FROM tblEcMailControl 
			WHERE DocId=@DocId 
			GROUP BY ImportBatchid,DocKey 
			) mc ON h.ImportBatchId=mc.ImportBatchId AND h.DocKey =mc.DocKey 
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1 
 
	UPDATE #tMailId 
	SET PartnerId=part.ID, CustId=part.DfltCustId 
	FROM #tMailId 
		INNER JOIN
			(SELECT p.id, p.DfltCustId, pd.MailId
			FROM tblEcPartnerDoc pd 
				INNER JOIN tblEcPartner p ON pd.PartnerID=p.ID 
	 		WHERE pd.DocID=@DocId
			) part ON #tMailId.MailId=part.MailID 
 
	UPDATE h
	SET PartnerId=m.PartnerID, CustId=m.CustId 
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1 
		INNER JOIN #tMailId m ON s.ImportBatchId=m.ImportBatchId AND s.KeyLevelSeq1=m.KeyLevelSeq1 
	WHERE TravRcptHeaderID is null 
		and isnull(h.PartnerId,0)<>ISNULL(m.PartnerId,0) 



	--find/update ARInvcNum field
	CREATE TABLE #tAdjustInvc (
		ImportBatchId VARCHAR(14) not null,
		KeyLevelSeq1 INT not null,
		KeyLevelSeq2 INT not null,
		Custid varchar(50) null,
		CustPoNum varchar(50) null,
		ArInvcNum varchar(50) null,
		EdiInvcNum varchar(50) null,
		pmtAmt decimal(20,10) null)      
       
	CREATE TABLE #tArHistHeader (
		ArHistKey VARCHAR(50) not null,
		transid varchar(50) null,
		postrun varchar(50) null,
		Custid varchar(50) null,
		CustPoNum varchar(50) null,
		InvcNum varchar(50) null,
		pmtAmt decimal(20,10) null)      

	CREATE TABLE #tArOpenInvoice (
		Custid varchar(50) null,
		CustPoNum varchar(50) null,
		InvcNum varchar(50) null,
		pmtAmt decimal(20,10) null)   
          
	UPDATE h
	SET PartnerId=m.PartnerID, CustId=m.CustId          
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1
		INNER JOIN #tMailId m ON s.ImportBatchId=m.ImportBatchId AND s.KeyLevelSeq1=m.KeyLevelSeq1
	WHERE TravRcptHeaderID is null
		AND ISNULL(h.PartnerId,'')<>ISNULL(m.PartnerId,'')

	-- Find Ar Invc Num from Open Invoices first
	INSERT INTO #tAdjustInvc (ImportBatchId, KeyLevelSeq1, KeyLevelSeq2, Custid, CustPoNum, EdiInvcNum, pmtAmt)
	SELECT h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2, h.Custid, d.PONumber, d.EDIInvcNum, d.AmountPaid
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1        
		INNER JOIN tblEcPaymentRemitdetail d ON h.ID=d.HeaderID

	INSERT INTO #tArOpenInvoice (Custid, CustPoNum, InvcNum, pmtAmt)  
	SELECT t.Custid, h.CustPONum, h.InvcNum, h.Amt
	FROM #tAdjustInvc t
		INNER JOIN (
			SELECT Counter, PostRun, CustId, ISNULL(CredMemNum, InvcNum) as InvcNum,
			RecType, Status, TransDate, NetDueDate, SIGN(RecType) * Amt AS [Amt], 
			SIGN(RecType) * AmtFgn AS [AmtFgn], SIGN(RecType) * DiscAmt AS [DiscAmt], 
			SIGN(RecType) * DiscAmtFgn AS [DiscAmtFgn], CustPONum
			FROM dbo.trav_tblArOpenInvoice_view p 
			WHERE Status <> 4 AND RecType IN (1, -1)
		) h ON t.Custid=h.CustId AND RIGHT('000000000000000'+t.CustPoNum,15)=RIGHT('000000000000000'+h.CustPONum,15)
	WHERE ISNULL(t.CustPoNum,'')<>''

 	-- PO match from AR open invoices on Customer ID, PO Number, and Pmt Amount
	UPDATE t
	SET ArInvcNum=h.InvcNum
	FROM #tAdjustInvc t
		INNER JOIN #tArOpenInvoice h ON h.Custid = t.Custid 
			AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+h.CustPONum,15)
			AND t.pmtAmt=h.pmtAmt
	WHERE ISNULL(t.CustPoNum,'')<>''
  
  	-- PO match from AR open invoices on Customer ID, PO Number
	UPDATE t
	SET ArInvcNum=h.InvcNum
	FROM #tAdjustInvc t
		INNER JOIN #tArOpenInvoice h ON h.Custid = t.Custid 
			AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+h.CustPONum,15)
	WHERE ISNULL(t.CustPoNum,'')<>''

	UPDATE d
	SET ArInvcNum=t.ArInvcNum
	FROM tblEcPaymentRemitHeader h
		INNER JOIN tblEcPaymentRemitDetail d ON h.ID=d.HeaderID
		INNER JOIN #tAdjustInvc t ON h.ImportBatchId=t.ImportBatchId AND h.KeyLevelSeq1=t.KeyLevelSeq1 AND d.KeyLevelSeq2=t.KeyLevelSeq2
      
	DELETE #tAdjustInvc 

	-- Find Ar Invc Num to apply to Credits
	INSERT INTO #tAdjustInvc (ImportBatchId, KeyLevelSeq1, KeyLevelSeq2, Custid, CustPoNum, EdiInvcNum, pmtAmt)
	SELECT h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2, h.Custid, d.PONumber, d.EDIInvcNum, d.AmountPaid
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1        
		INNER JOIN tblEcPaymentRemitdetail d ON h.ID=d.HeaderID
	WHERE d.AmountPaid<0

	INSERT INTO #tArHistHeader (ArHistKey, transid, postrun, Custid, CustPoNum, InvcNum, pmtAmt)  
	SELECT h.PostRun+h.TransId, h.TransId, h.PostRun, t.Custid, h.CustPONum, h.InvcNum, -(h.NonTaxSubtotal+h.TaxSubtotal+h.SalesTax+h.Misc+h.Freight)
	FROM #tAdjustInvc t
		INNER JOIN tblArHistHeader h ON t.Custid=h.CustId AND RIGHT('000000000000000'+t.CustPoNum,15)=RIGHT('000000000000000'+h.CustPONum,15)
	WHERE ISNULL(t.CustPoNum,'')<>''
		AND h.TransType=-1

	-- PO match from AR history on Customer ID, PO Number, and Pmt Amount
	UPDATE t
	SET ArInvcNum=h.InvcNum
	FROM #tAdjustInvc t
		INNER JOIN 
			(SELECT * 
			FROM #tArHistHeader 
				INNER JOIN
					(SELECT MAX(ArHistKey) maxArHistKey
					FROM #tArHistHeader
					GROUP BY Custid, CustPoNum, pmtAmt
					) m  ON #tArHistHeader.ArHistKey=m.maxArHistKey
			) h ON t.Custid=h.CustId AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+h.CustPONum,15) AND t.pmtAmt=h.pmtAmt
	WHERE ISNULL(t.CustPoNum,'')<>''
  
  	-- PO match from AR history on Customer ID, PO Number
	UPDATE t
	SET ArInvcNum=h.invcnum
	FROM #tAdjustInvc t
		INNER JOIN
			(SELECT * 
			FROM #tArHistHeader 
				INNER JOIN
					(SELECT MAX(ArHistKey) maxArHistKey 
					FROM #tArHistHeader
					GROUP BY Custid, CustPoNum
					) m ON #tArHistHeader.ArHistKey=m.maxArHistKey
			) h ON t.Custid=h.CustId AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+ISNULL(h.CustPONum,''),15)
	WHERE ISNULL(t.CustPoNum,'')<>'' 
		AND t.ArInvcNum is null
 
	-- do NOT match on only customer and payment amount (duplicates will exist)
	--UPDATE t
	--SET ArInvcNum=o.invcnum
	--FROM #tAdjustInvc t
	--	INNER JOIN tblArOpenInvoice o ON t.Custid=o.CustId and t.pmtAmt=-o.Amt
	--WHERE o.RecType=-1
	--	AND t.ArInvcNum is null
    
	UPDATE d
	SET ArInvcNum=t.ArInvcNum
	FROM tblEcPaymentRemitHeader h
		INNER JOIN tblEcPaymentRemitDetail d ON h.ID=d.HeaderID
		INNER JOIN #tAdjustInvc t ON h.ImportBatchId=t.ImportBatchId AND h.KeyLevelSeq1=t.KeyLevelSeq1 AND d.KeyLevelSeq2=t.KeyLevelSeq2
      
	DELETE #tAdjustInvc  

	-- Find Ar Invc Num for Invoices
	INSERT INTO #tAdjustInvc (ImportBatchId, KeyLevelSeq1, KeyLevelSeq2, Custid, CustPoNum)
	SELECT h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2, h.Custid, d.PONumber
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1        
		INNER JOIN tblEcPaymentRemitdetail d ON h.ID=d.HeaderID
	WHERE d.AmountPaid>0

	DELETE t
	FROM #tAdjustInvc t
		INNER JOIN tblArOpenInvoice o ON t.Custid=o.CustId AND t.EdiInvcnum=o.InvcNum

	UPDATE t
	SET ArInvcNum=h.InvcNum
	FROM #tAdjustInvc t
		INNER JOIN tblArHistHeader h ON t.Custid=h.CustId AND RIGHT('000000000000000'+t.CustPoNum,15)=RIGHT('000000000000000'+h.CustPONum,15)
	WHERE ISNULL(t.CustPoNum,'')<>''
		AND h.TransType=1
		AND (h.NonTaxSubtotal+h.TaxSubtotal)>0      
      
	UPDATE d
	SET ArInvcNum=t.ArInvcNum
	FROM tblEcPaymentRemitHeader h
		INNER JOIN tblEcPaymentRemitdetail d ON h.ID=d.HeaderID
		INNER JOIN #tAdjustInvc t ON h.ImportBatchId=t.ImportBatchId AND h.KeyLevelSeq1=t.KeyLevelSeq1 AND d.KeyLevelSeq2=t.KeyLevelSeq2   
		
	DELETE #tAdjustInvc  

	-- Find matching Ar Invc Num for "penny" credits (Trade Discounts, etc)
	INSERT INTO #tAdjustInvc (ImportBatchId, KeyLevelSeq1, KeyLevelSeq2, Custid, CustPoNum, EdiInvcNum, pmtAmt)
	SELECT h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2, h.Custid, d.PONumber, d.EDIInvcNum, d.AmountPaid
	FROM tblEcPaymentRemitHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1        
		INNER JOIN tblEcPaymentRemitdetail d ON h.ID=d.HeaderID
	WHERE d.AmountPaid<0

	DELETE FROM #tAdjustInvc
	WHERE ArInvcNum IS NOT NULL

	INSERT INTO #tArHistHeader (ArHistKey, transid, postrun, Custid, CustPoNum, InvcNum, pmtAmt)  
	SELECT h.PostRun+h.TransId, h.TransId, h.PostRun, t.Custid, h.CustPONum, h.InvcNum, -(h.NonTaxSubtotal+h.TaxSubtotal+h.SalesTax+h.Misc+h.Freight)
	FROM #tAdjustInvc t
		INNER JOIN tblArHistHeader h ON t.Custid=h.CustId AND RIGHT('000000000000000'+t.CustPoNum,15)=RIGHT('000000000000000'+h.CustPONum,15)
	WHERE ISNULL(t.CustPoNum,'')<>''
		AND h.TransType=1

	-- PO match from AR history on Customer ID, PO Number, and Pmt Amount
	UPDATE t
	SET ArInvcNum=h.InvcNum
	FROM #tAdjustInvc t
		INNER JOIN 
			(SELECT * 
			FROM #tArHistHeader 
				INNER JOIN
					(SELECT MAX(ArHistKey) maxArHistKey
					FROM #tArHistHeader
					GROUP BY Custid, CustPoNum, pmtAmt
					) m  ON #tArHistHeader.ArHistKey=m.maxArHistKey
			) h ON t.Custid=h.CustId AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+h.CustPONum,15) AND t.pmtAmt=h.pmtAmt
	WHERE ISNULL(t.CustPoNum,'')<>''
  
  	-- PO match from AR history on Customer ID, PO Number
	UPDATE t
	SET ArInvcNum=h.invcnum
	FROM #tAdjustInvc t
		INNER JOIN
			(SELECT * 
			FROM #tArHistHeader 
				INNER JOIN
					(SELECT MAX(ArHistKey) maxArHistKey 
					FROM #tArHistHeader
					GROUP BY Custid, CustPoNum
					) m ON #tArHistHeader.ArHistKey=m.maxArHistKey
			) h ON t.Custid=h.CustId AND RIGHT('000000000000000'+ISNULL(t.CustPoNum,''),15)=RIGHT('000000000000000'+ISNULL(h.CustPONum,''),15)
	WHERE ISNULL(t.CustPoNum,'')<>'' 
		AND t.ArInvcNum is null
   
	UPDATE d
	SET ArInvcNum=t.ArInvcNum
	FROM tblEcPaymentRemitHeader h
		INNER JOIN tblEcPaymentRemitDetail d ON h.ID=d.HeaderID
		INNER JOIN #tAdjustInvc t ON h.ImportBatchId=t.ImportBatchId AND h.KeyLevelSeq1=t.KeyLevelSeq1 AND d.KeyLevelSeq2=t.KeyLevelSeq2
      
END TRY 
BEGIN CATCH 
	EXEC dbo.trav_RaiseError_proc 
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImport_ValidateUpdate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImport_ValidateUpdate_proc'
GO
