USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_PaTimeTickets_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_PaTimeTickets_proc]
AS
SET NOCOUNT ON  
BEGIN TRY

	Declare @PaYear smallint
	Declare @PrecTime tinyint
	Declare @PrecAmount tinyint

	SELECT @PaYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PaYear'
	SELECT @PrecTime = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PrecTime'
	SELECT @PrecAmount = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PrecAmount'

	IF @PaYear IS NULL OR @PrecTime IS NULL OR @PrecAmount IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--capture the payroll time entries to be created from the time detail
	Insert Into #PayrollLog([SeqNo], [EmployeeId], [TransDate]
		, [Pieces], [Hours], [Rate], [Amount]
		, [EarnCode], [LaborClass], [DepartmentId], [GroupCode])
	Select td.[SeqNo], pe.[EmployeeId], td.[TransDate]
		, td.[QtyProduced]
		, ISNULL(td.[Hours], 0) + Round((ISNULL(td.[Mins], 0) / 60.0), @PrecTime)
		, Case When pe.[EmployeeType] = 1 Then pe.[Salary] Else td.[EmployeePayRate] End
		, Case When pe.[EmployeeType] = 1 Then pe.[Salary] 
			Else Round(td.[EmployeePayRate] * (ISNULL(td.[Hours], 0) + Round((ISNULL(td.[Mins], 0) / 60.0), @PrecTime)), @PrecAmount)
			End
		, pe.[DefaultEarningCode], pe.[LaborClass], pe.[DepartmentId], pe.[GroupCode]
		From #PostPaTimeList l
		Inner Join dbo.tblMpTimeDtl td on l.[SeqNo] = td.[SeqNo]
		Inner join dbo.tblPaEmployee pe on td.[EmployeeId] = pe.[EmployeeId]
		Where td.[PostedPayrollYn] = 0

	--create payroll time ticket entries for any time detail assigned to valid PA employees
	Insert Into dbo.tblPaTransEarn([PaYear], [SeqNo], [EmployeeId], [TransDate]
		, [Pieces], [Hours], [Rate], [Amount]
		, [EarningCode], [LeaveCodeId], [LaborClass]
		, [DepartmentId], [DeptAllocId], [TaxGroupId]
		, [StateTaxAuthorityId], [SUIState], [LocalTaxAuthorityId]
		, [ProjectDetailId], [CustId], [ProjId], [PhaseId], [TaskId]
		, [PostedYn], [PostRun])
	Select @PaYear, N'000', l.[EmployeeId], l.[TransDate]
		, l.[Pieces], l.[Hours], l.[Rate], l.[Amount]
		, l.[EarnCode], null, l.[LaborClass]
		, l.[DepartmentId], pe.[DfltDeptAllocId], pe.[TaxGroupId]
		, sw.[StateTaxAuthorityId], sw.[SUIState]
		, Case when pe.[TaxGroupId] is null Then lw.[LocalTaxAuthorityId] Else Null End
		, null, null, null, null, null
		, 0, null
		From #PayrollLog l
		Inner join dbo.tblPaEmployee pe on l.[EmployeeId] = pe.[EmployeeId]
		Left Join (
			Select ew.[EmployeeId], Max(ew.[TaxAuthorityId]) As [StateTaxAuthorityId], Max(ew.[SUIState]) As [SUIState]
			From dbo.tblPaEmpWithhold ew
			Inner Join dbo.tblPaTaxAuthorityHeader ta on ew.[TaxAuthorityId] = ta.[Id]
			Where ew.[DefaultWH] = 1 and ew.[PaYear] = @PaYear And ta.[Type] = 1 --State type 
			Group by ew.[EmployeeId] --ensure max of 1 record
			) sw on pe.[EmployeeId] = sw.[EmployeeId]
		Left Join (
			Select ew.[EmployeeId], Max(ew.[TaxAuthorityId]) As [LocalTaxAuthorityId]
			From dbo.tblPaEmpWithhold ew
			Inner Join dbo.tblPaTaxAuthorityHeader ta on ew.[TaxAuthorityId] = ta.[Id]
			Where ew.[DefaultWH] = 1 and ew.[PaYear] = @PaYear And ta.[Type] = 2 --Local type 
			Group by ew.[EmployeeId] --ensure max of 1 record
			) lw on pe.[EmployeeId] = lw.[EmployeeId]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_PaTimeTickets_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_PaTimeTickets_proc'
GO
