USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTransPost_InHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTransPost_InHistory_proc]
AS
BEGIN TRY

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT d.HistoryID, h.FiscalYear, h.GLPeriod, h.InvoiceDate, h.BatchId
	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
		INNER JOIN dbo.tblApTransDetail d ON h.TransId = d.TransId
	WHERE d.HistoryID > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT d.HistoryID, h.FiscalYear, h.GLPeriod, h.InvoiceDate, h.BatchId
	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 
		INNER JOIN dbo.tblApTransLot d ON h.TransId = d.TransId
	WHERE d.HistoryID > 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_InHistory_proc'
GO
