USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_DepositHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_DepositHistory_proc]
AS
Set NoCount ON
BEGIN TRY

DECLARE @PostRun pPostRun, @WrkStnDate datetime

SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

IF @PostRun IS NULL OR @WrkStnDate IS NULL 
BEGIN
      THROW 90025, N'Missing global value.', 1
END

	BEGIN
		INSERT dbo.tblArHistDeposit 
			(PostRun, TransId,CustId,InvcNum,
			 Amount,DistCode,FiscalPeriod,FiscalYear,CurrencyId,
			[Description],ExchRate,RecType,GLAcctReceivablesDeposit,GLAcctReceivablesDepositContra,PostDate,
			TransDate,[Source]) 
		SELECT @PostRun, h.RcptHeaderID,h.CustId, d.InvcNum,
				-(d.PmtAmtFgn + DifferenceFgn),a.DistCode,h.GLPeriod,h.FiscalYear,a.CurrencyId,
				'Deposit payment',a.ExchRate,2,c.GLAcctDepositReceivables,c.GLAcctDepositReceivablesContra,@WrkStnDate,
				h.PmtDate,3
		FROM dbo.tblArCashRcptHeader h 
		INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
		INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId	
		INNER JOIN (SELECT CustId, InvcNum, MIN(SourceApp) SourceApp,MIN(DistCode) DistCode,MIN(CurrencyId) CurrencyId ,MIN(ExchRate) ExchRate, MIN(ProjId)ProjId
			FROM dbo.tblArOpenInvoice WHERE RecType =5 AND AmtFgn>0
			GROUP BY CustId, InvcNum) a ON h.CustId = a.CustId AND d.InvcNum = a.InvcNum 
		INNER JOIN dbo.tblArDistCode c ON c.DistCode=a.DistCode
		WHERE h.CustId IS NOT NULL	
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_DepositHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_DepositHistory_proc'
GO
