USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HrIndHealth_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HrIndHealth_proc]
@AsOfDate DATE,
@Status TINYINT,
@DepartmentFrom [nvarchar](10),
@DepartmentThru [nvarchar](10),
@SortBy INT

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #IndStatus (IndId [nvarchar](11) NOT NULL, StatusID BIGINT NULL, [IndStatus] TINYINT NULL)
	INSERT INTO #IndStatus EXEC [trav_HrIndEffectiveStatus_proc] @AsOfDate, @Status 

	CREATE TABLE #IndPositionID (IndId [nvarchar](11) NOT NULL, PositionID [bigint])
	INSERT INTO #IndPositionID EXEC [trav_HrIndEffectivePosition_proc] @AsOfDate

	SELECT DISTINCT 
	CASE
		WHEN @SortBy = 0 THEN hins.[Description]
		WHEN @SortBy = 1 THEN p.Department
		WHEN @SortBy = 2 THEN ind.Manager
	END AS SortBy,
	indh.ID, indh.HealthInsID, p.Department, ind.Manager, ind.IndId, (ind.LastName + ', ' + ind.FirstName) AS Name, indh.PolicyNumber, 
	hins.EmployerContribution, hins.EmployeeContribution, hins.[Description], hins.GroupNumber
	FROM tblHrIndHealth indh
	INNER JOIN tblHrHealthInsurance hins ON hins.ID = indh.HealthInsID
	INNER JOIN tblHrIndGenInfo ind ON ind.IndId = indh.IndId
	INNER JOIN tblHrIndPosition ip ON ip.IndId = ind.IndId
	INNER JOIN #IndStatus ins ON ins.IndId = indh.IndId
	INNER JOIN #IndPositionID tip ON tip.IndId = indh.IndId AND tip.PositionID = ip.ID
	INNER JOIN tblHrPosition p ON p.ID = ip.PositionID
	INNER JOIN #tmpHealthInsPlan tmp ON tmp.ID = hins.ID
	WHERE @DepartmentFrom IS NULL OR @DepartmentThru IS NULL OR (p.Department BETWEEN @DepartmentFrom AND @DepartmentThru)

END TRY

BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrIndHealth_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrIndHealth_proc'
GO
