USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPeriodicMaint]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPeriodicMaint] 
@DatePaidInvc datetime = NULL, 
@DateTempVend datetime = NULL,
@TransTypeINVC NVARCHAR(10) ='APINVC'

AS
SET NOCOUNT ON
BEGIN TRY
	CREATE TABLE #tmpCounter([Counter] INT NOT NULL)
	
	-- purge paid invoices
	IF (@DatePaidInvc IS NOT NULL)
	BEGIN
		INSERT INTO #tmpCounter ([Counter])
		SELECT [Counter] FROM dbo.tblApOpenInvoice WHERE Status = 4 AND InvoiceDate < @DatePaidInvc
		
		DELETE dbo.tblApOpenInvoice WHERE Status = 4 AND InvoiceDate < @DatePaidInvc	
	END

	-- delete temp vendors
	IF (@DateTempVend IS NOT NULL)
	BEGIN
		CREATE TABLE #tmpVendorId (VendorId [nvarchar](10) NOT NULL)
		
		INSERT INTO #tmpCounter ([Counter])
		SELECT  DISTINCT [Counter]
		FROM dbo.tblApOpenInvoice i INNER JOIN dbo.tblApVendor v ON i.VendorID= v.VendorID
		WHERE v.TempYN=1 AND i.[Status] = 4 AND i.InvoiceDate < @DateTempVend
		
		DELETE dbo.tblApOpenInvoice WHERE VendorID IN (SELECT VendorId FROM dbo.tblApVendor WHERE TempYN = 1) AND [Status] = 4 AND InvoiceDate < @DateTempVend

		INSERT INTO #tmpVendorId (VendorId)
		SELECT VendorId 
		FROM dbo.tblApVendor 
		WHERE TempYN = 1 AND VendorID NOT IN 
			(SELECT VendorID FROM dbo.tblApOpenInvoice UNION 
				SELECT VendorID FROM dbo.tblApTransHeader UNION 
				SELECT VendorID FROM dbo.tblPoTransHeader)

		DELETE dbo.tblApVendor 
		WHERE VendorID IN (SELECT VendorId FROM #tmpVendorId)

		DELETE dbo.tblSmDocumentDelivery 
		WHERE ContactID IN (SELECT VendorId FROM #tmpVendorId) AND ContactType = 1

	END
	
	DELETE  tblSmExchangeRateTrans
	FROM 	tblSmExchangeRateTrans et INNER JOIN #tmpCounter c 
			ON et.TransKey= c.[Counter]
			WHERE TransType =@TransTypeINVC
					
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPeriodicMaint'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPeriodicMaint'
GO
