USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCreditCardAuth_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCreditCardAuth_proc]

@optPrint tinyint = 1 -- 0-Authorization Needed; 1-Authorized; 2-All

AS
BEGIN TRY

	SELECT COALESCE(InvcTransID, CAST(r.RcptHeaderID AS nvarchar))  AS TransId, c.CustName, r.CustId,
		r.CcHolder, r.PmtMethodId, r.CcNum, r.CcExpire, r.PmtAmt , r.CcAuth, 
		CASE WHEN InvcTransID IS NULL THEN 0
			 WHEN InvcAppID = 'AR' THEN 1 
			 WHEN InvcAppID = 'SO' THEN 2 
		END AS CashRcptType, --0;Cash Receipt;1;AR Trans;2;SO Trans
		r.CurrencyID
	FROM dbo.tblArCashRcptHeader r 
		INNER JOIN dbo.tblArCust c ON r.CustId = c.CustId 
		INNER JOIN dbo.tblArPmtMethod p ON r.PmtMethodId = p.PmtMethodId
		INNER JOIN #tmpCashReceiptList t ON r.RcptHeaderID = t.RcptHeaderID
	WHERE p.PmtType = 3 
		AND ((@optPrint = 2) OR (@optPrint = 0 AND (r.CcAuth IS NULL OR r.CcAuth = '')) OR (@optPrint = 1 AND (r.CcAuth IS NOT NULL AND r.CcAuth <> ''))) 		

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCardAuth_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCreditCardAuth_proc'
GO
