USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_RemoveTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_RemoveTrans_proc]
AS
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'	
	
	DELETE dbo.tblSmExchangeRateTrans
		 FROM dbo.tblArCashRcptHeader h
		 INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID
		 INNER JOIN #PostTransList l ON d.RcptHeaderID = l.TransId
		 INNER JOIN dbo.tblSmExchangeRateTrans t ON t.TransKey = 'PF'+CONVERT(NVARCHAR(800),d.RcptDetailID)
		 WHERE TransType=@TransType	 
		 
    DELETE dbo.tblSmExchangeRateTrans
		 FROM dbo.tblSmExchangeRateTrans  INNER JOIN #PostTransList t ON dbo.tblSmExchangeRateTrans.TransKey = t.TransId 
		 WHERE TransType=@TransType

	DELETE dbo.tblArCashRcptHeader
		FROM dbo.tblArCashRcptHeader 
		INNER JOIN #PostTransList l ON dbo.tblArCashRcptHeader.RcptHeaderID = l.TransId 
	
	
	DELETE dbo.tblArCashRcptDetail 
		FROM dbo.tblArCashRcptDetail
		INNER JOIN #PostTransList l ON dbo.tblArCashRcptDetail.RcptHeaderID = l.TransId
	     
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_RemoveTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_RemoveTrans_proc'
GO
