USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcSoTransPackConfirm_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcSoTransPackConfirm_proc] 
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @DocID bigint, @NewID bigint, @UserID pUserID, @WrkStnId pWrkStnId, @WrkStnDate datetime, 
		@DefaultWeightUnit nvarchar(5)

	--Get global values
	SELECT @UserID = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'UserID'
	SELECT @WrkStnId = Cast(Value AS nvarchar(20)) FROM #GlobalValues WHERE [KEY] = 'WrkStnId' 
	SELECT @WrkStnDate = Cast(Value AS datetime) FROM #GlobalValues WHERE [KEY] = 'WrkStnDate'
	SELECT @NewID = Cast(Value AS bigint) FROM #GlobalValues WHERE [KEY] = 'NewID'
	SELECT @DefaultWeightUnit = Cast([Value] AS nvarchar(5)) FROM #GlobalValues WHERE [Key] = 'DefaultWeightUnit'

	IF @UserID IS NULL OR @WrkStnId IS NULL OR @WrkStnDate IS NULL OR @NewID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT @DocID = [ID] FROM dbo.tblEcDocument WHERE DocId = '856-O'
	IF @DocID IS NULL
		RAISERROR('Invalid EDI ASN document.', 16,1)

	CREATE TABLE #tmpShipment([TransId] nvarchar(8) NOT NULL, [ShipmentID] bigint NOT NULL, PRIMARY KEY([TransId], [ShipmentID]))

	CREATE TABLE #tmpPackHeader([TransId] nvarchar(8) NOT NULL, [BoxID] bigint NOT NULL, [HeaderID] bigint NOT NULL PRIMARY KEY([TransId], [BoxID], [HeaderID]))

	INSERT INTO #tmpShipment ([TransId], [ShipmentID])
	SELECT p.SoTransId, @NewID + ROW_NUMBER() OVER (ORDER BY p.SoTransId) AS [ID]
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID 
		INNER JOIN dbo.tblSoTransHeader h ON p.SoTransId = h.TransId
	WHERE p.[Status] = 0

	INSERT INTO #tmpPackHeader ([TransId], [BoxID], [HeaderID])
	SELECT d.SoTransId, d.BoxID, @NewID + ROW_NUMBER() OVER (ORDER BY d.SoTransId, d.BoxID) AS [ID]
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID  
		INNER JOIN dbo.tblEcSoTransPackDetail d ON p.SoTransId = d.SoTransId
	GROUP BY d.SoTransId, d.BoxID

	INSERT INTO dbo.tblEcPackShipment ([ID], [CustId], [CustPoNum], [ShiptoId], [PartnerID], [ShipViaCode], [BillofLading], [VICSBillofLading], 
		[MasterBillofLading], [ProNumber], [ShipRequestID], [Weight], [ShipDate], [ShipCost], [ExpDeliveryDate], [LoadId], [ShipmentStatus], 
		[ContainersInShipment], [ContainerUOM], [WeightUOM], [SCAC], [ShipToCode], [MethodOfPay], [TransMethodCode], [ShipFromLocation], 
		[ShipFromCompany], [HLCount], [TransSetPurposeCode], [IsEdiYN], [UserID], [WrkStnID], [ShipVia])
	SELECT s.ShipmentID, h.CustId, h.CustPONum, ISNULL(h.ShipToID,''), c.PartnerID AS PartnerID, h.ShipMethod,
		p.BOLNo, p.BOLNo, p.BOLNo, d.ProNumber, NULL AS ShipRequestID, 0 AS [Weight], ISNULL(h.ActShipDate, @WrkStnDate) AS ShipDate, 0 AS ShipCost, NULL AS ExpDeliveryDate,
		NULL AS LoadId, 2 AS ShipmentStatus, 0 AS ContainersInShipment, NULL AS ContainerUOM, @DefaultWeightUnit AS WeightUOM, p.SCACCode, NULL AS ShipToCode, NULL AS MethodOfPay, 
		NULL AS TransMethodCode, NULL AS ShipFromLocation, NULL AS ShipFromCompany, NULL AS HLCount, NULL AS TransSetPurposeCode, 1 AS IsEdiYN, @UserID AS UserID, 
		@WrkStnId AS WrkStnID, h.ShipVia
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID
		INNER JOIN dbo.tblSoTransHeader h ON p.SoTransId = h.TransId 
		INNER JOIN #tmpShipment s ON p.SoTransId = s.TransId 
		LEFT JOIN (SELECT CustID, MAX(PartnerID) AS PartnerID
			FROM (SELECT ID AS PartnerID,DfltCustID CustID FROM tblEcPartner
				UNION
				SELECT DISTINCT PartnerID,CustID FROM tblEcPartnerDocOverride) p
			GROUP BY CustID) c ON h.CustId = c.CustID
		LEFT JOIN
			(
				SELECT SoTransId, MAX(TrackingNum) AS ProNumber FROM dbo.tblEcSoTransPackDetail 
				GROUP BY SoTransId
			) d ON p.SoTransId = d.SoTransId
	WHERE p.[Status] = 0

	--Populate EDI packing tables
	INSERT INTO dbo.tblEcPackHeader ([ID], [ShipmentID], [EntryNum], [TransID], [ShipToId], [TrackingNum], [UCC128], [Weight], [DateAdded], [TotShipToContainers], 
		[TotShipToContainersSeqNum], [ASNNumber], [PrintYn], [UserID], [WrkStnID])
	SELECT t.HeaderID, s.ShipmentID, ROW_NUMBER() OVER (PARTITION BY b.SoTransId ORDER BY s.ShipmentID, b.SoTransId) AS [EntryNum], b.SoTransId, h.ShiptoId, b.TrackingNum, 
		b.UCC128, 0 AS Weight, @WrkStnDate AS DateAdded, 0 AS TotShipToContainers, ROW_NUMBER() OVER (PARTITION BY b.SoTransId ORDER BY s.ShipmentID, b.SoTransId) AS TotShipToContainersSeqNum, 
		NULL AS ASNNumber, NULL AS PrintYn, @UserID AS UserID, @WrkStnId AS WrkStnID
	FROM (SELECT d.SoTransId, d.BoxID, MAX(d.TrackingNum) AS TrackingNum, MAX(d.UCC128) AS UCC128
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID  
		INNER JOIN dbo.tblEcSoTransPackDetail d ON p.SoTransId = d.SoTransId
	WHERE p.[Status] = 0
	GROUP BY d.SoTransId, d.BoxID) b INNER JOIN #tmpPackHeader t ON b.SoTransId = t.TransId AND b.BoxID = t.BoxID 
		INNER JOIN #tmpShipment s ON b.SoTransId = s.TransId
		INNER JOIN dbo.tblEcPackShipment h ON s.ShipmentID = h.ID

	INSERT INTO dbo.tblEcPackDetail ([ID], [PackHeaderID], [EntryNum], [TransId], [TransEntryNum], [ItemID], [ItemUom], [CalcWeight], [QtyPacked], [WhslPrice], [LottedYN], [LotNumber], 
		[InItemYN], [ItemType], [AsnEntryNum], [UserID], [WrkStnID], [LotExpDate], [PackagingType])
	SELECT @NewID + ROW_NUMBER() OVER (ORDER BY d.SoTransId, d.EntryNum, d.BoxID) AS [ID], t.HeaderID, ROW_NUMBER() OVER (PARTITION BY t.HeaderID ORDER BY d.SoTransId, t.HeaderID) AS EntryNum,
		d.SoTransId, d.EntryNum, d.ItemId, d.UOM, ISNULL(u.Weight,0) * d.Qty AS CalcWeight, d.Qty, ISNULL(l.UnitPriceSell,0) AS WhslPrice, i.LottedYN, d.LotNum, 
		CASE WHEN i.ItemId IS NOT NULL THEN 1 ELSE 0 END InItemYN, i.ItemType, NULL AS AsnEntryNum, @UserID AS UserID, @WrkStnId AS WrkStnID, o.ExpDate, d.[PackagingType]
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList m ON p.ID = m.ID
		INNER JOIN dbo.tblEcSoTransPackDetail d ON p.ID = d.SoTransPackHeaderID
		INNER JOIN #tmpPackHeader t ON d.SoTransId = t.TransId AND d.BoxID = t.BoxID
		LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
		LEFT JOIN dbo.tblInItemUom u ON i.ItemId = u.ItemId AND d.UOM = u.Uom 
		LEFT JOIN dbo.tblSoTransDetail l ON d.SoTransId = l.TransId AND d.EntryNum = l.EntryNum 
		LEFT JOIN dbo.tblInItemLocLot o ON d.ItemId = o.ItemId AND l.LocId = o.LocId AND d.LotNum = o.LotNum
	WHERE p.[Status] = 0

    UPDATE dbo.tblEcPackShipment SET ContainersInShipment = s.TotShipToContainers
    FROM dbo.tblEcPackShipment 
		INNER JOIN (SELECT p.ShipmentID,COUNT(*) AS TotShipToContainers
               FROM dbo.tblEcPackHeader p INNER JOIN #tmpShipment t ON p.ShipmentID = t.ShipmentID
               GROUP BY p.ShipmentId) s  ON dbo.tblEcPackShipment.ID = s.ShipmentID

	-- update Weight in tblEcPackShipment
	UPDATE dbo.tblEcPackShipment SET Weight = res.Weight
    FROM dbo.tblEcPackShipment 
		INNER JOIN (SELECT h.ShipmentID, SUM(CalcWeight) AS Weight
               FROM dbo.tblEcPackDetail d 
			   INNER JOIN dbo.tblEcPackHeader h ON d.PackHeaderID = h.ID
			   INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentID = s.ID
			   INNER JOIN #tmpShipment t ON h.ShipmentID = t.ShipmentID
               GROUP BY h.ShipmentId) res  ON dbo.tblEcPackShipment.ID = res.ShipmentID

	-- used for Ship Method Description lookup generating 856 ASN
	UPDATE s
	SET ShipViaCode = ISNULL((SELECT TOP 1 ShipMethodId FROM tblArShipMethod m INNER JOIN tblEcPackShipment s1 ON s1.SCAC = m.EDISCAC WHERE s.SCAC = s1.SCAC), ShipViaCode)
	FROM tblEcPackShipment s
	INNER JOIN #tmpShipment t ON s.ID = t.ShipmentID
	

    UPDATE dbo.tblEcPackHeader SET TotShipToContainers = s.TotShipToContainers
    FROM dbo.tblEcPackHeader 
		INNER JOIN (SELECT p.ShipmentID,COUNT(*) AS TotShipToContainers
               FROM dbo.tblEcPackHeader p INNER JOIN #tmpShipment t ON p.ShipmentID = t.ShipmentID
               GROUP BY p.ShipmentId) s  ON dbo.tblEcPackHeader.ShipmentID = s.ShipmentID

    UPDATE dbo.tblEcPackHeader SET [Weight] = d.CalcWeight
    FROM dbo.tblEcPackHeader
		INNER JOIN (SELECT p.PackHeaderID, SUM(CalcWeight) AS CalcWeight
               FROM dbo.tblEcPackDetail p INNER JOIN #tmpPackHeader t ON p.PackHeaderID = t.HeaderID
               GROUP BY p.PackHeaderID) d ON dbo.tblEcPackHeader.ID = d.PackHeaderID

	--Create ASN queue for confirmed SO transaction packing
	INSERT INTO [dbo].[tblEcComm] ([Id], [DocID], [PostRun], [DocKey], [OnHoldYn])
	SELECT @NewID + ROW_NUMBER() OVER (ORDER BY p.SoTransId) AS [ID], @DocID, p.SoTransId, p.SoTransId, 
		CASE WHEN ISNULL(o.OptValue,'0') = '1' AND ISNULL(r.InvcNum,'') = '' THEN 1 ELSE 0 END --Put on hoad if Invoice Number is required and Invoice Number is missing
	FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID 
		INNER JOIN #tmpShipment s ON p.SoTransId = s.TransId 
		INNER JOIN dbo.tblEcPackShipment h ON s.ShipmentID = h.ID 
		INNER JOIN dbo.tblSoTransHeader r ON p.SoTransId = r.TransId 
		LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '079C4516-1511-4E4A-96F1-6AC519E58590' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerID --Require Invoice Number
	WHERE p.[Status] = 0

	--Update status of SO transaction packing to Confirmed
	--UPDATE dbo.tblEcSoTransPackHeader SET [Status] = 1
	--FROM dbo.tblEcSoTransPackHeader p INNER JOIN #tmpPackList t ON p.ID = t.ID
	--WHERE p.[Status] = 0

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcSoTransPackConfirm_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcSoTransPackConfirm_proc'
GO
