USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvServiceOrderPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvServiceOrderPost_GlLog_proc]
AS
BEGIN TRY

	DECLARE @PostDtlYn bit, @PostRun [nvarchar](14), @SourceCode nvarchar(2), @CurrBase [nvarchar](6), @WrkStnDate datetime, @CompId nvarchar(3), 
			@TransType nvarchar(10), @ExchRateId bigint

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @SourceCode = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'SourceCode'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'SDPOST'
	SELECT @ExchRateId = Cast([Value] AS bigint) FROM #GlobalValues WHERE [Key] = 'ExchRateId'

	IF @PostRun IS NULL OR @CurrBase IS NULL  OR @WrkStnDate IS NULL 
		 OR @CompId IS NULL OR @SourceCode IS NULL OR @PostDtlYn IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SET @ExchRateId = ISNULL(@ExchRateId, -1)

	CREATE TABLE #PostLog
	(
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[TransDate] [datetime] NULL,
		[Grouping] smallint NOT NULL,
		[GlAccount] [nvarchar](255) NULL,
		[Amount] [decimal](28,10) NOT NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,
		[CreditAmount] [decimal](28,10) NOT NULL,
		[DebitAmountFgn] [decimal](28,10) NOT NULL,
		[CreditAmountFgn] [decimal](28,10) NOT NULL,
		[Reference] [nvarchar](15) NULL,
		[Description] [nvarchar](30) NULL,
		[LinkID] nvarchar(255) Null, 
		[LinkIDSub] nvarchar(255) Null 

	)

	IF NOT EXISTS(SELECT * FROM tblSmExchangeRateTrans WHERE TransType = @TransType AND TransKey = @ExchRateId)
	BEGIN
		INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
		SELECT @TransType, ExchangeRateID, [Source],Destination,Rate
		FROM dbo.tblSmExchangeRateDetail 
		WHERE ExchangeRateID = @ExchRateId
	END

	-- Credit account
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,DebitAmountFgn,CreditAmountFgn,TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod
		, CASE WHEN tr.TransType = 0 THEN 10 WHEN tr.TransType = 1 THEN 20 WHEN tr.TransType = 2 THEN 30 WHEN tr.TransType = 3 THEN 40 WHEN tr.TransType = 4 THEN 25  WHEN tr.TransType = 5 THEN 20 END
		, tr.GLAcctCredit, -(tr.CostExt), o.SiteID, LEFT(tr.Description,30)
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END 
								   ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END 
								   ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END  END
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, tr.TransDate, o.ID,d.DispatchNo
	FROM #TransactionListToProcessTable t	
		INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID		
		INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID
		LEFT JOIN dbo.tblSvWorkOrderDispatch d ON tr.DispatchID = d.ID
		LEFT JOIN dbo.tblSmTransLink k ON tr.LinkSeqNum = k.SeqNum
	WHERE tr.CostExt <> 0 AND ISNULL(k.DropShipYn,0) = 0 AND o.BillVia = 0-- skip for drop shipped
	
	-- Debit account
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,DebitAmountFgn,CreditAmountFgn,TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod, 50, tr.GLAcctDebit, tr.CostExt, o.SiteID, LEFT(tr.Description,30)
		, CASE WHEN tr.CostExt > 0 THEN  CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt) END ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt)END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END, tr.TransDate, o.ID,d.DispatchNo
	FROM #TransactionListToProcessTable t	
		INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
		INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID
		LEFT JOIN dbo.tblSvWorkOrderDispatch d ON tr.DispatchID = d.ID
		LEFT JOIN dbo.tblSmTransLink k ON tr.LinkSeqNum = k.SeqNum
	WHERE tr.CostExt <> 0 AND ISNULL(k.DropShipYn,0) = 0 AND o.BillVia = 0-- skip for drop shipped


	-- For PC
	-- WIP for transtype 0,1,4
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod, 100 AS [Grouping], dc.GLAcctWIP
		, tr.PriceExt
		, o.SiteID, tr.Description	
		, CASE WHEN tr.PriceExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.PriceExt END ELSE  CASE WHEN tr.TransType =5 THEN  tr.PriceExt ELSE 0 END	END	
		, CASE WHEN tr.PriceExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.PriceExt) END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.PriceExt) ELSE 0 END END
		, CASE WHEN tr.PriceExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.PriceExt END  ELSE  CASE WHEN tr.TransType =5 THEN  tr.PriceExt ELSE 0 END END
		, CASE WHEN tr.PriceExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.PriceExt) END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.PriceExt) ELSE 0 END END
		, tr.TransDate, o.ID,dis.DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND o.BillVia = 1 AND tr.TransType IN( 0,1,4,5)

	-- WIP for other transtype
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod, 100 AS [Grouping], dc.GLAcctWIP
		, tr.CostExt 
		, o.SiteID, tr.Description	
		, CASE WHEN tr.CostExt > 0 THEN tr.CostExt ELSE 0 END		
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END
		, CASE WHEN tr.CostExt > 0 THEN tr.CostExt ELSE 0 END
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END
		, tr.TransDate, o.ID,dis.DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND o.BillVia = 1 AND tr.TransType NOT IN( 0,1,4,5)


	-- Accrued Income for transtype 0,1,4
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod, 110 AS [Grouping], dc.GLAcctAccruedIncome
		, -(tr.PriceExt) 
		, o.SiteID, tr.Description	
		, CASE WHEN tr.PriceExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.PriceExt) END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.PriceExt) ELSE 0 END END		
		, CASE WHEN tr.PriceExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.PriceExt END  ELSE CASE WHEN tr.TransType =5 THEN  tr.PriceExt ELSE 0 END END
		, CASE WHEN tr.PriceExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.PriceExt) END  ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.PriceExt) ELSE 0 END END
		, CASE WHEN tr.PriceExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.PriceExt END  ELSE CASE WHEN tr.TransType =5 THEN  tr.PriceExt ELSE 0 END END
		, tr.TransDate, o.ID,dis.DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND o.BillVia = 1  AND tr.TransType IN( 0,1,4,5)

	-- Accrued Income for other transtype
	INSERT #PostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod, 110 AS [Grouping], dc.GLAcctAccruedIncome
		, -(tr.CostExt) 
		, o.SiteID, tr.Description	
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END		
		, CASE WHEN tr.CostExt > 0 THEN (tr.CostExt) ELSE 0 END
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END
		, CASE WHEN tr.CostExt > 0 THEN (tr.CostExt) ELSE 0 END
		, tr.TransDate, o.ID,DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND o.BillVia = 1  AND tr.TransType NOT IN( 0,1,4,5)

	--Debit Account
	INSERT #PostLog(FiscalYear,FiscalPeriod
		, [Grouping]
		, GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod
		, CASE WHEN p.Type = 1 THEN 100 ELSE 50 END AS [Grouping]
		, CASE WHEN p.Type = 1 THEN dc.GLAcctWIP ELSE tr.GLAcctDebit END
		, tr.CostExt
		, o.SiteID, tr.Description	
		, CASE WHEN tr.CostExt > 0 THEN (tr.CostExt) ELSE 0 END		
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END
		, CASE WHEN tr.CostExt > 0 THEN (tr.CostExt) ELSE 0 END		
		, CASE WHEN tr.CostExt < 0 THEN ABS(tr.CostExt) ELSE 0 END
		, tr.TransDate, o.ID, dis.DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE o.BillVia = 1 AND ( tr.TransType = 0 OR  tr.TransType = 4)

	INSERT #PostLog(FiscalYear,FiscalPeriod
		, [Grouping]
		, GlAccount
		, Amount
		, Reference,[Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate,LinkId,LinkIDSub)
	SELECT tr.FiscalYear,tr.FiscalPeriod
		, CASE WHEN p.Type = 1 THEN 100 ELSE 50 END AS [Grouping]
		, tr.GLAcctDebit
		, tr.CostExt
		, o.SiteID, tr.Description	
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.CostExt END ELSE CASE WHEN tr.TransType =5 THEN tr.CostExt ELSE 0 END END		
		, CASE WHEN tr.CostExt < 0 THEN  CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt) END ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt > 0 THEN  CASE WHEN tr.TransType =5 THEN 0 ELSE tr.CostExt END ELSE CASE WHEN tr.TransType =5 THEN tr.CostExt ELSE 0 END END		
		, CASE WHEN tr.CostExt < 0 THEN  CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt) END ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, tr.TransDate, o.ID, dis.DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	INNER JOIN dbo.tblPcProjectDetail d ON o.ProjectDetailID = d.Id 
	INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
	INNER JOIN dbo.tblPcDistCode dc ON d.DistCode = dc.DistCode
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE o.BillVia = 1 AND (tr.TransType = 1 OR  tr.TransType = 5)

	--Credit Account
	INSERT #PostLog(FiscalYear, FiscalPeriod
		, [Grouping]
		, GlAccount
		, Amount
		, Reference, [Description]
		, DebitAmount
		, CreditAmount
		, DebitAmountFgn
		, CreditAmountFgn
		, TransDate, LinkId,LinkIDSub)
	SELECT tr.FiscalYear, tr.FiscalPeriod
		, CASE WHEN tr.TransType = 0 THEN 10 WHEN tr.TransType = 1 THEN 20 WHEN tr.TransType = 4 THEN 25 WHEN tr.TransType = 5 THEN 20 END
		, tr.GLAcctCredit
		, -tr.CostExt
		, o.SiteID, LEFT(tr.Description,30)
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt) END ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.CostExt END ELSE  CASE WHEN tr.TransType =5 THEN tr.CostExt ELSE 0 END  END
		, CASE WHEN tr.CostExt < 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE ABS(tr.CostExt) END ELSE CASE WHEN tr.TransType =5 THEN ABS(tr.CostExt)ELSE 0 END END
		, CASE WHEN tr.CostExt > 0 THEN CASE WHEN tr.TransType =5 THEN 0 ELSE tr.CostExt END ELSE  CASE WHEN tr.TransType =5 THEN tr.CostExt ELSE 0 END  END
		, tr.TransDate, o.ID,DispatchNo
	FROM #TransactionListToProcessTable t	
	INNER JOIN dbo.tblSvWorkOrderTrans tr ON t.TransID = tr.ID
	INNER JOIN dbo.tblSvWorkOrder o ON tr.WorkOrderID = o.ID 
	LEFT JOIN dbo.tblSvWorkOrderDispatch dis ON tr.DispatchID = dis.ID
	WHERE o.BillVia = 1 AND tr.TransType IN (0,1,4,5)


	INSERT #DetailPostLog( PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod,[Grouping]
		, [Description], Reference, SourceCode, CreditAmountBase, DebitAmountBase, CreditAmount, DebitAmount, CurrencyId
		, TransDate, PostDate, LinkId , LinkIdSub)		
	SELECT @PostRun, @TransType, @ExchRateId, @PostRun, @CompId,  GlAccount, FiscalYear, FiscalPeriod,[Grouping]
		, CASE WHEN @PostDtlYn = 1 THEN [Description]
			 ELSE CASE [Grouping] 
					WHEN 10 THEN 'Labor' 
					WHEN 20 THEN 'Part' 
					WHEN 30 THEN 'Freight' 
					
					WHEN 40 THEN 'Misc Charges' 
					WHEN 50 THEN 'Maintenance Expense' 
					WHEN 100 THEN 'WIP' 
					WHEN 110 THEN 'Accrued Income'
					WHEN 25 THEN 'Travel'
					END END
		, CASE WHEN @PostDtlYn = 1 THEN Reference ELSE 'SD' END
		, @SourceCode, CreditAmount, DebitAmount, CreditAmount, DebitAmount, @CurrBase
		, CASE WHEN @PostDtlYn = 1 THEN TransDate ELSE @WrkStnDate END, @WrkStnDate
		, CASE WHEN @PostDtlYn = 1 THEN LinkId ELSE NULL END
		, CASE WHEN @PostDtlYn = 1 THEN LinkIDSub ELSE NULL END		
	FROM  #PostLog
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvServiceOrderPost_GlLog_proc'
GO
