USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlRecurringEntriesList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlRecurringEntriesList_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT h.GroupId, h.[Desc] AS HeaderDesc, LineNum, d.[Desc] AS DetailDesc, Reference, AcctNum
		, SourceCode, Alloc, DebitAmt, CreditAmt 
	FROM #tmpRecurList t INNER JOIN dbo.tblGlRecurHdr h ON t.GroupId = h.GroupId 
		INNER JOIN dbo.tblGlRecurDtl d ON h.GroupId = d.GroupId 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRecurringEntriesList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlRecurringEntriesList_proc'
GO
