USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTransPost_RemoveTrans_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTransPost_RemoveTrans_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	--remove the processed transactions	
	DELETE dbo.tblWmTrans
	FROM #PostTransList t INNER JOIN dbo.tblWmTrans on t.TransId = dbo.tblWmTrans.TransId
	
	DELETE dbo.tblWmTransSer
	FROM #PostTransList t INNER JOIN dbo.tblWmTransSer on t.TransId = dbo.tblWmTransSer.TransId
	
	--Remove ExchRate Trans entries where TransType = 'WMTRANS'
	Delete dbo.tblSmExchangeRateTrans
	From #PostTransList t	
	Where dbo.tblSmExchangeRateTrans.TransKey = t.TransId 
	AND tblSmExchangeRateTrans.TransType = 'WMTRANS'
			
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_RemoveTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_RemoveTrans_proc'
GO
