USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMTransferPost_StatusChange_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMTransferPost_StatusChange_proc]
AS
BEGIN TRY  
    -- Uupdate status  1= Posted 
    --Update Pick   
	UPDATE dbo.tblWmTransferPick  SET [Status]= 1 FROM #WMTranferPost t
	INNER JOIN dbo.tblWmTransferPick p ON t.TransType = 0 AND p.[Status] = 0 AND t.TranPickKey = p.TranPickKey
	--Update Receipt		
	UPDATE dbo.tblWmTransferRcpt  SET [Status]= 1 FROM #WMTranferPost t 
	INNER JOIN dbo.tblWmTransferPick p ON t.TransType = 1 AND t.TranPickKey = p.TranPickKey
	INNER JOIN dbo.tblWmTransferRcpt r ON r.[Status] = 0 AND p.TranPickKey = r.TranPickKey
 
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_StatusChange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_StatusChange_proc'
GO
