USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTransPost_Clear_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTransPost_Clear_proc]
AS
BEGIN TRY
	--PONewOrder = 11 
	--POGoodsRcvd = 12 
	--POInvoice = 14 
	--POMiscDebit = 15
	--SONewOrder = 21
	--SOVerifyOrder = 23
	--SOInvoice = 24
	--SOMiscCredit = 25
	--Increase = 31
	--Decrease = 32
	
	DECLARE @TransType nvarchar(10)
	
		SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'

	IF @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	UPDATE dbo.tblInQty SET Qty = 0  
	FROM dbo.tblInQty 
		INNER JOIN dbo.tblInTrans t ON dbo.tblInQty.ID = t.QuantityID
		INNER JOIN #PostTransList p ON t.TransId = p.TransId
	WHERE t.TransType IN (11,21)

	DELETE FROM dbo.tblInTransLot
		WHERE TransId IN (SELECT TransId FROM #PostTransList)

	DELETE FROM dbo.tblInTransSer
		WHERE TransId IN (SELECT TransId FROM #PostTransList)

	DELETE FROM dbo.tblInTrans
		WHERE TransId IN (SELECT TransId FROM #PostTransList)

	 /* delete tblSmExchangeRateTrans */
     DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans  INNER JOIN #PostTransList t ON dbo.tblSmExchangeRateTrans.TransKey = t.TransId 
     WHERE TransType=@TransType
     
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransPost_Clear_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransPost_Clear_proc'
GO
