USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPeriodicMaint_FinanceCharge_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPeriodicMaint_FinanceCharge_proc]
AS

SET NOCOUNT ON
BEGIN TRY

	DECLARE @CompId [nvarchar](3)
	DECLARE @PostRun [nvarchar](14), @WrkStnDate datetime
	DECLARE @GlAcctFinch [nvarchar](255), @InvcFinch [nvarchar](15)
	DECLARE @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @BaseCurrency [nvarchar](6), @BaseCurrencyPrec smallint
	DECLARE @PostNewFinch bit
    DECLARE @ExchangeRateID bigint
	DECLARE @GlAcctFinchCurrency [nvarchar](6)
    
	-- Retrieve global values
	SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @GlAcctFinch = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'GlAcctFinch'
	SELECT @InvcFinch = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'InvcFinch'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @BaseCurrencyPrec = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'BaseCurrencyPrec'
	SELECT @PostNewFinch = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostNewFinch'

	IF @PostRun IS NULL OR @WrkStnDate IS NULL 
		OR @GlAcctFinch IS NULL OR @InvcFinch IS NULL
		OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL
		OR @BaseCurrency IS NULL OR @BaseCurrencyPrec IS NULL 
		OR @PostNewFinch IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--========================
	-- post new finance charges
	--========================
	IF @PostNewFinch = 1
	BEGIN
		-- list of finance charge information
		CREATE TABLE #FinCharges
		(
			CustId [nvarchar](10) NOT NULL, 
			CurrencyId [nvarchar](6) NOT NULL,
			DistCode [nvarchar](6) NOT NULL,
			NewFinch [decimal](28,10) NOT NULL, 
			NewFinchBase [decimal](28,10) NULL, 
			ExchRate [decimal](28,10) NULL, 
			UNIQUE CLUSTERED (CustId)
		)
		
		-- list of currency set up for MCE
		CREATE TABLE #CurrencyInfo 
		(
			CurrencyID [nvarchar](6) NOT NULL
			, Prec tinyint  NULL
			, ExchangeRate [decimal](28,10) NULL
		)
		
		SELECT TOP 1 @ExchangeRateID = r.ID
		FROM [dbo].[tblSmExchangeRate] r
		INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID]
		WHERE r.[Type] = 0 AND  r.EffectiveDate < = @WrkStnDate
		ORDER BY r.EffectiveDate DESC

		SELECT @GlAcctFinchCurrency = CurrencyID
		FROM tblGlAcctHdr WHERE AcctId = @GlAcctFinch
			
		INSERT INTO #CurrencyInfo (CurrencyId, Prec, ExchangeRate)
		SELECT  curr.CurrID,curr.CurrDecPlaces,d.Rate AS ExchangeRate
		FROM [dbo].[tblSmExchangeRate] r
		INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] 
		INNER JOIN dbo.tblSmCurrency curr ON  curr.CurrID = d.Destination 
		WHERE r.ID = @ExchangeRateID AND d.[Source] = @BaseCurrency
				
		-- capture the new finance charge information (calculate the base amount)
		INSERT INTO #FinCharges (CustId, CurrencyId, DistCode, NewFinch, NewFinchBase, ExchRate) 
		SELECT c.CustId
			, c.CurrencyId
			, c.DistCode
			, ROUND(c.NewFinch, ISNULL(ci.Prec, 2)) 
			, CASE WHEN c.CurrencyId = @BaseCurrency THEN  ROUND(c.NewFinch, ISNULL(ci.Prec, 2)) ELSE CASE WHEN ISNULL(ci.ExchangeRate, 0) = 0 THEN NULL ELSE ROUND(ROUND(c.NewFinch, ISNULL(ci.Prec, 2)) / ci.ExchangeRate , @BaseCurrencyPrec)END END
			, ISNULL(ci.ExchangeRate,1) 
		FROM dbo.tblArCust c		
		LEFT JOIN #CurrencyInfo ci on c.CurrencyId = ci.CurrencyId
		WHERE c.NewFinch <> 0
		
		IF  EXISTS (SELECT * FROM #FinCharges t WHERE  t.NewFinchBase IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END	

		-- create invoices for the finance charges
		INSERT INTO dbo.tblArOpenInvoice (PostRun, CustId, InvcNum, DistCode
			, RecType, [Status], TransDate, NetDueDate, GLPeriod, FiscalYear
			, Amt, AmtFgn, CurrencyId, ExchRate) 
		SELECT @PostRun, f.CustId, @InvcFinch, f.DistCode
			, 4, 0, @WrkStnDate, @WrkStnDate, @FiscalPeriod, @FiscalYear 
			, f.NewFinchBase, f.NewFinch, f.CurrencyId, f.ExchRate
		FROM #FinCharges f
		
		-- create the transactional exchange values		
		INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
		SELECT 'ARINVOICE',ov.[Counter],d.Source,d.Destination,d.Rate
		FROM [dbo].[tblSmExchangeRate] r 
		INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID]		
		INNER JOIN dbo.tblArOpenInvoice ov ON ov.PostRun = @PostRun
		WHERE r.ID = @ExchangeRateID AND r.[Type] = 0
		

		-- create a credit to the Fin Charge Account for the new finance charge amounts
		-- use the customer currency amounts when the GL Account and/or GL Account Currency doesn't exist
		-- otherwise calculate the foreign amount in the receivables account currency.
		INSERT #GlPostLogs (PostRun, CompId, PostDate, TransDate, [Description], SourceCode, Reference
			, GlAccount, FiscalPeriod, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
			, AmountFgn, DebitAmount, CreditAmount, DebitAmountFgn, CreditAmountFgn, CurrencyId, ExchRate)
		SELECT @PostRun, @CompId, @WrkStnDate, @WrkStnDate, 'AR - ' + @InvcFinch, 'AR', 'AR FINCH'
			, @GlAcctFinch, @FiscalPeriod, @FiscalYear, NULL, NULL, -5
			, SUM(CASE WHEN curr.CurrencyId IS NULL 
					THEN f.NewFinch 
					ELSE ROUND(f.NewFinchBase * CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END, ISNULL(curr.[Prec], 2))
					END)
			, 0 
			, SUM(f.NewFinchBase)
			, 0
			, SUM(CASE WHEN curr.CurrencyId IS NULL 
					THEN f.NewFinch 
					ELSE ROUND(f.NewFinchBase * CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END, ISNULL(curr.[Prec], 2))
					END)
			, @GlAcctFinchCurrency
			, MIN(CASE WHEN curr.CurrencyId IS NULL 
				THEN f.ExchRate
				ELSE CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END
				END)
		FROM #FinCharges f		
		LEFT JOIN #CurrencyInfo curr on  curr.CurrencyId = @GlAcctFinchCurrency		
		HAVING SUM(f.NewFinchBase) <> 0


		-- create debits to the receivables accounts for the new finance charge amounts
		-- use the customer currency amounts when the GL Account and/or GL Account Currency doesn't exist
		-- otherwise calculate the foreign amount in the receivables account currency.
		INSERT #GlPostLogs (PostRun, CompId, PostDate, TransDate, [Description], SourceCode, Reference
			, GlAccount, FiscalPeriod, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
			, AmountFgn, DebitAmount, CreditAmount, DebitAmountFgn, CreditAmountFgn, CurrencyId, ExchRate)
		SELECT @PostRun, @CompId, @WrkStnDate, @WrkStnDate, 'AR - ' + @InvcFinch, 'AR', 'AR FINCH'
			, d.GLAcctReceivables, @FiscalPeriod, @FiscalYear, NULL, NULL, -5
			, SUM(CASE WHEN curr.CurrencyId IS NULL 
					THEN f.NewFinch 
					ELSE ROUND(f.NewFinchBase * CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END, ISNULL(curr.[Prec], 2))
					END)
			, SUM(f.NewFinchBase) , 0
			, SUM(CASE WHEN curr.CurrencyId IS NULL 
					THEN f.NewFinch 
					ELSE ROUND(f.NewFinchBase * CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END, ISNULL(curr.[Prec], 2))
					END)
			, 0, ISNULL(curr.CurrencyId, f.CurrencyId)
			, MIN(CASE WHEN curr.CurrencyId IS NULL 
				THEN f.ExchRate
				ELSE CASE WHEN ISNULL(curr.ExchangeRate, 0) = 0 THEN 1.0 ELSE curr.ExchangeRate END
				END)
		FROM #FinCharges f
		LEFT JOIN dbo.tblArDistCode d ON f.DistCode = d.DistCode 
		LEFT JOIN dbo.tblGlAcctHdr g ON d.GlAcctReceivables = g.AcctId 
		LEFT JOIN #CurrencyInfo curr on g.CurrencyId = curr.CurrencyId
		--LEFT JOIn tblSmExchangeRateTrans ci ON ci.Source = f.CurrencyId and ci.Destination = g.CurrencyID
		GROUP BY d.GLAcctReceivables, ISNULL(curr.CurrencyId, f.CurrencyId)
		HAVING SUM(f.NewFinchBase) <> 0

					
		-- add the new finance charges into history
		INSERT INTO dbo.tblArHistFinch (CustID, FinchAmt, FinchDate, Postrun, FiscalYear
			, GLPeriod, SumHistPeriod, CurrencyId, FinchAmtFgn, ExchRate
			, GLAcctFinch, GLAcctReceivables) 
		SELECT f.CustId, f.NewFinchBase, @WrkStnDate, @PostRun, @FiscalYear
			, @FiscalPeriod, @FiscalPeriod, f.CurrencyId, f.NewFinch, f.ExchRate 
			, @GlAcctFinch, d.GLAcctReceivables
		FROM #FinCharges f 
		LEFT JOIN dbo.tblArDistCode d ON f.DistCode = d.DistCode 


		-- update the unpaid and new finance charge amounts for the customers
		UPDATE dbo.tblArCust SET UnpaidFinch = UnpaidFinch + dbo.tblArCust.NewFinch, dbo.tblArCust.NewFinch = 0 
		FROM dbo.tblArCust 
		INNER JOIN #FinCharges f on dbo.tblArCust.CustId = f.CustId
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_FinanceCharge_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_FinanceCharge_proc'
GO
