USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApCheckDuplicateInvoiceNumber_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApCheckDuplicateInvoiceNumber_proc] 
@VendorId pVendorId = NULL,
@InvoiceNum pInvoiceNum = NULL
AS 
DECLARE @Ret tinyint 
SET @Ret = 0
IF EXISTS (SELECT * FROM dbo.tblApTransHeader WHERE VendorId = @VendorId AND InvoiceNum = @InvoiceNum) 
	SET @Ret = 1 
ELSE IF EXISTS (SELECT * FROM dbo.tblPoTransInvoiceTot t INNER JOIN dbo.tblPoTransHeader h ON t.TransId = h.TransId WHERE h.VendorId = @VendorId AND t.InvcNum = @InvoiceNum) 
	SET @Ret = 1 
ELSE IF EXISTS (SELECT * FROM dbo.tblApHistHeader WHERE VendorId = @VendorId AND InvoiceNum = @InvoiceNum) 
	SET @Ret = 1 
ELSE IF EXISTS (SELECT * FROM dbo.tblApOpenInvoice WHERE VendorId = @VendorId AND InvoiceNum = @InvoiceNum) 
	SET @Ret = 1 
SELECT @Ret AS ReturnValue
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApCheckDuplicateInvoiceNumber_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApCheckDuplicateInvoiceNumber_proc'
GO
