USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MrOperationsWhereUsed_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MrOperationsWhereUsed_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT O.OperationId, O.Descr, O.ReqEmployees
	FROM dbo.tblMrOperations O INNER JOIN #tmpOperationsWhereUsed t on O.OperationId = t.OperationId

	SELECT d.RoutingId, d.Step, h.Descr, d.OperationId, d.WorkCenterId, d.LaborTypeId, d.MachineGroupId 
	FROM dbo.tblMrRoutingDetail d INNER JOIN dbo.tblMrRoutingHeader h ON d.RoutingId = h.RoutingId
	INNER JOIN #tmpOperationsWhereUsed tmp on d.OperationId = tmp.OperationId

	SELECT h.AssemblyId, h.RevisionNo, h.Description, o.OperationId, r.Step 
	FROM #tmpOperationsWhereUsed o 
	INNER JOIN dbo.tblMbAssemblyRouting r ON o.OperationId = r.OperationId 
	INNER JOIN dbo.tblMbAssemblyHeader h ON r.HeaderId = h.Id  

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrOperationsWhereUsed_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MrOperationsWhereUsed_proc'
GO
