USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmWorkOrderPost_GlLogDetail_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmWorkOrderPost_GlLogDetail_proc] 
AS
BEGIN TRY

	DECLARE @PostRun nvarchar(14), @CurrBase [nvarchar](6), @WrkStnDate datetime,@CompId nvarchar(3),
		@PrecCurr tinyint, @BMDetail bit

	-- Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @BMDetail = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BMDetail'
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WrkStnDate IS NULL OR @CompId IS NULL OR @PrecCurr IS NULL OR @BMDetail IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #Temp
	(
		PostRun [nvarchar](14) NOT NULL
		, TransType nvarchar(20)
		, TransKey nvarchar(510)
		, SummaryKey [nvarchar](14) NOT NULL
		, CompId nvarchar(3)
		, GlAccount [nvarchar](255) NULL 
		, FiscalYear smallint
		, FiscalPeriod smallint
		, Reference nvarchar(800)
		, [Description] nvarchar(800)
		, SourceCode nvarchar(3)	
		, DebitAmountBase [decimal](28,10) NOT NULL
		, CreditAmountBase	[decimal](28,10)
		, DebitAmount [decimal](28,10) NOT NULL
		, CreditAmount	 [decimal](28,10) NOT NULL	
		, CurrencyId  [nvarchar](6) NOT NULL
		, TransDate datetime
		, PostDate datetime
		, LinkId [nvarchar](8) NOT NULL
		, LinkIdSubLine int
	)

	-- Components
	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, Reference, [Description], SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
	SELECT @PostRun, 'BMWORKORDR', h.TransId, @PostRun, @CompId, g.GLAcctInv, h.GlYear, h.GLPeriod
		, h.TransId + '(2)', d.ItemId, 'BM'
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(d.UnitCost * d.ActQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(d.UnitCost * d.ActQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(d.UnitCost * d.ActQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(d.UnitCost * d.ActQty, @PrecCurr) ELSE 0 END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, d.EntryNum
	FROM #PostTransList t 
	INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
	INNER JOIN dbo.tblBmWorkOrderDetail d ON h.TransId = d.TransId 
	INNER JOIN dbo.tblInItemLoc l ON d.ItemId = l.ItemId AND d.LocId = l.LocId 
	LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode 
		
	-- Assembly
	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, Reference
		, [Description]
		, SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)	
	SELECT @PostRun,'BMWORKORDR', h.TransId, @PostRun, @CompId, g.GLAcctInv, h.GlYear,h.GLPeriod		
		, h.TransId + '(1)'
		, CASE WHEN h.WorkType = 1 THEN h.ItemId + '/Build' ELSE h.ItemId + '/UnBld' END
		, 'BM'
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.UnitCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.UnitCost * h.ActualQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.UnitCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.UnitCost * h.ActualQty, @PrecCurr) END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, -1
	FROM #PostTransList t 
	INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
	INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
	LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode 

	
	-- Adjustments 
	-- The cost of an assembly may not equal the sum of it's components for 
	-- build processing when building large quantities of assemblies 
	-- that use components with very small unit costs.
	-- Create an entry to the inventory PPV account for the difference
	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, Reference
		, [Description]
		, SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)	
	SELECT @PostRun, 'BMWORKORDR', h.TransId, @PostRun, @CompId, g.GLAcctPurchPriceVar,  h.GlYear, h.GLPeriod		
		, h.TransId + '(1)'
		, SUBSTRING(h.ItemId + '/PPV', 1, 30)
		, 'BM'
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) < 0 THEN -(ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) ELSE 0 END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) < 0 THEN 0 ELSE (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) < 0 THEN -(ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) ELSE 0 END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) < 0 THEN 0 ELSE (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, -1
	FROM #PostTransList t 
	INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
	INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
	LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode 
	INNER JOIN 
	(	SELECT t.TransId, SUM(ROUND(d.UnitCost * d.ActQty, @PrecCurr)) ComponentCost
		FROM #PostTransList t 
		INNER JOIN dbo.tblBmWorkOrderDetail d ON t.TransId = d.TransId 
		GROUP BY t.TransId
	) comp ON h.TransId = comp.TransId
	WHERE h.WorkType = 1 --Build only
	AND (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - comp.ComponentCost) <> 0
	
	-- Adjustments 
	-- The cost of an assembly may not equal the sum of it's components for unbuild processing.
	-- Create an entry to the inventory adjustment account for the difference
	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId, GlAccount, FiscalYear, FiscalPeriod
		, Reference
		, [Description]
		, SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)	
	SELECT @PostRun, 'BMWORKORDR', h.TransId, @PostRun, @CompId, g.GLAcctInvAdj, h.GlYear, h.GLPeriod		
		, h.TransId + '(1)'
		, SUBSTRING(h.ItemId + '/Adjust', 1, 30)
		, 'BM'
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) < 0 THEN 0 ELSE (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) < 0 THEN -(ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) ELSE 0 END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) < 0 THEN 0 ELSE (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) END
		, CASE WHEN (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) < 0 THEN -(ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) ELSE 0 END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, -1
	FROM #PostTransList t 
	INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
	INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
	LEFT JOIN dbo.tblInGlAcct g ON l.GlAcctCode = g.GlAcctCode 
	LEFT JOIN 
	(	SELECT t.TransId, SUM(ROUND(d.UnitCost * d.ActQty, @PrecCurr)) ComponentCost
		FROM #PostTransList t 
		INNER JOIN dbo.tblBmWorkOrderDetail d ON t.TransId = d.TransId 
		GROUP BY t.TransId
	) comp ON h.TransId = comp.TransId
	WHERE h.WorkType = 2 --Unbuild only
	AND (ROUND(h.UnitCost * h.ActualQty, @PrecCurr) - ISNULL(comp.ComponentCost,0)) <> 0
		

	-- Labor cost
	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId
		, GlAccount
		, FiscalYear, FiscalPeriod
		, Reference
		, [Description]
		, SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
	SELECT @PostRun, 'BMWORKORDR', h.TransId, @PostRun, @CompId
		, CASE WHEN h.WorkType = 1 THEN g.GLInventoryLabour ELSE g.GLInventoryAppliedLabour END
		, h.GlYear,h.GLPeriod
		, h.TransId
		, CASE WHEN h.WorkType = 1 THEN 'Inventory Labor' ELSE 'Applied Labor' END
		, 'BM'
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.LaborCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.LaborCost * h.ActualQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.LaborCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.LaborCost * h.ActualQty, @PrecCurr) END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, -1
	FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
		INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
		LEFT JOIN dbo.tblBmAcctCode g ON l.GlAcctCode = g.GlAcctCode 
	WHERE h.LaborCost <> 0

	INSERT INTO #Temp(PostRun, TransType, TransKey, SummaryKey, CompId
		, GlAccount
		, FiscalYear, FiscalPeriod
		, Reference
		, [Description]
		, SourceCode	
		, DebitAmountBase
		, CreditAmountBase	
		, DebitAmount
		, CreditAmount		
		, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
	SELECT @PostRun, 'BMWORKORDR', h.TransId, @PostRun, @CompId
		, CASE WHEN h.WorkType = 1 THEN g.GLInventoryAppliedLabour ELSE g.GLInventoryLabour END
		, h.GlYear, h.GLPeriod		
		, h.TransId
		, CASE WHEN h.WorkType = 1 THEN 'Applied Labor' ELSE 'Inventory Labor' END
		, 'BM'
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.LaborCost * h.ActualQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.LaborCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, CASE WHEN h.WorkType = 1 THEN 0 ELSE ROUND(h.LaborCost * h.ActualQty, @PrecCurr) END
		, CASE WHEN h.WorkType = 1 THEN ROUND(h.LaborCost * h.ActualQty, @PrecCurr) ELSE 0 END
		, @CurrBase, h.TransDate, @WrkStnDate, h.TransId, -1
	FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
		INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
		LEFT JOIN dbo.tblBmAcctCode g ON l.GlAcctCode = g.GlAcctCode 
	WHERE h.LaborCost <> 0

	IF (@BMDetail = 0)
		INSERT INTO #DetailPostLog(PostRun, TransType, TransKey, SummaryKey, CompId
			, GlAccount
			, FiscalYear, FiscalPeriod
			, Reference
			, [Description]
			, SourceCode	
			, DebitAmountBase
			, CreditAmountBase	
			, DebitAmount
			, CreditAmount		
			, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
		SELECT PostRun, TransType, TransKey, SummaryKey, CompId
			, GlAccount
			, FiscalYear, FiscalPeriod
			, Reference
			, [Description]
			, SourceCode	
			, DebitAmountBase
			, CreditAmountBase	
			, DebitAmount
			, CreditAmount		
			, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine
		FROM #Temp
		WHERE DebitAmountBase <> 0 OR CreditAmountBase <> 0 OR DebitAmount <> 0 OR CreditAmount <> 0
	ELSE
		INSERT INTO #DetailPostLog(PostRun, TransType, TransKey, SummaryKey, CompId
			, GlAccount
			, FiscalYear, FiscalPeriod
			, Reference
			, [Description]
			, SourceCode	
			, DebitAmountBase
			, CreditAmountBase	
			, DebitAmount
			, CreditAmount		
			, CurrencyId, TransDate, PostDate, LinkId, LinkIdSubLine)
		SELECT PostRun, TransType, TransKey, SummaryKey, CompId
			, GlAccount
			, FiscalYear, FiscalPeriod
			, 'BM'
			, Reference
			, SourceCode	
			, DebitAmountBase
			, CreditAmountBase	
			, DebitAmount
			, CreditAmount		
			, CurrencyId, @WrkStnDate, @WrkStnDate, LinkId, -1
		FROM #Temp
		WHERE DebitAmountBase <> 0 OR CreditAmountBase <> 0 OR DebitAmount <> 0 OR CreditAmount <> 0
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_GlLogDetail_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_GlLogDetail_proc'
GO
