USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPutAwayPost_PurgePutAwayRequest_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPutAwayPost_PurgePutAwayRequest_proc]
AS
BEGIN TRY

	--Insert Non Serialized Records
	INSERT INTO #RcptPosted(PutAwayReqId, RcptKey, TransType)
	SELECT DISTINCT H.ID, H.TransKey, H.TransType
	FROM dbo.tblWmPutAwayRequest H
	INNER JOIN #MoveQuantity M ON M.ItemId = H.ItemId AND M.LocId = H.LocId AND M.PutawayReqID = H.ID AND M.ItemType <> 2
	WHERE ((H.[QtyReq] - H.[QtyFilled]) = 0 or isnull(h.[Status],0) = 1) AND H.ParentID IS NULL AND H.SerNum IS NULL
	UNION ALL
	--Insert Serialized Child Records
	SELECT DISTINCT H.ID, H.TransKey, H.TransType
	FROM dbo.tblWmPutAwayRequest H
	INNER JOIN #MoveQuantity M ON M.ItemId = H.ItemId AND M.LocId = H.LocId AND M.PutawayReqID = H.ParentID AND M.ItemType = 2 AND M.SerNum = H.SerNum
	WHERE ((H.[QtyReq] - H.[QtyFilled]) = 0 or isnull(h.[Status],0) = 1) AND H.ParentID IS NOT NULL AND H.SerNum IS NOT NULL
	UNION ALL
	--Insert Serialized Parent Records
	SELECT DISTINCT H.ID, H.TransKey, H.TransType
	FROM dbo.tblWmPutAwayRequest H
	INNER JOIN #MoveQuantity D ON D.ItemId = H.ItemId AND D.LocId = H.LocId AND D.PutawayReqID = H.ID AND D.ItemType = 2
	WHERE ((H.[QtyReq] - H.[QtyFilled]) = 0 or isnull(h.[Status],0) = 1) AND H.ParentID IS NULL AND H.SerNum IS NULL

	DELETE R FROM dbo.tblWmPutAwayRequest R
	INNER JOIN #RcptPosted temp ON temp.PutAwayReqId = R.ID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_PurgePutAwayRequest_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_PurgePutAwayRequest_proc'
GO
