USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArAgedTrialBalanceReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArAgedTrialBalanceReport_proc]
@InvcCutoffOpt bit, --Invoice cutoff option (0=by date/1=by gl period & fiscal year)
@InvcCutoffDate datetime, 
@InvcCutoffFiscalPeriod smallint,
@InvcCutoffFiscalYear smallint,
@PayCutoffOpt bit, --Payment cutoff option (0=by date/1=by gl period & fiscal year)
@PayCutoffDate datetime, 
@PayCutoffFiscalPeriod smallint,
@PayCutoffFiscalYear smallint,
@AgingDate datetime, --base date for the aging dates
@AgingDays1 smallint = 30, --number of days between the AgingDate and the date for aging bracket 1
@AgingDays2 smallint = 60, --number of days between the AgingDate and the date for aging bracket 2
@AgingDays3 smallint = 90, --number of days between the AgingDate and the date for aging bracket 3
@AgingDays4 smallint = 120, --number of days between the AgingDate and the date for aging bracket 4
@DistCodeFrom [nvarchar](6) = '',
@DistCodeThru [nvarchar](6) = 'zzzzzz',
@ReportCurrency [nvarchar](6) = NULL, --report currency Id
@BaseCurrencyId [nvarchar](6) = 'USD', --base currency Id
@AgeBy tinyint = 0, --0;TransDate;1;DueDate;2DiscDueDate
@PrintBy tinyint = 0, --Default print by to CustId
@IncludeBalanceForward bit = 0, --option to include balance forward customers
@IncludeCurrentCustomer bit = 1, --option to include non-overdue customers
@IncludeZeroBalanceCustomer bit = 1, --option to include zero balance customers
@IncludeSaleInvoice bit = 1,  --Default AR/SO invoices
@IncludeProjectInvoice bit = 1,  --Project invoices     
@IncludeServiceInvoice bit = 1, --Service invoices 
@BaseCurrencyPrecision smallint = 4,
@IncludeRegularInvcType bit=1 ,  
@IncludeProformaInvcType bit=1  
AS
SET NOCOUNT ON
BEGIN TRY



	DECLARE @Day1 datetime, @Day2 datetime, @Day3 datetime, @Day4 datetime
	DECLARE @MaxInvcAgingDate datetime, @MaxPmtAgingDate datetime

	--expects the current exchange rates to be provided via the #CurrencyInfo table
	--CREATE TABLE #CurrencyInfo (CurrencyId [nvarchar](6) NOT NULL, ExchangeRate [decimal](28,10) NOT NULL, PRIMARY KEY (CurrencyId))

	--expects the list of customers to be provided via the #CustomerList table
	--CREATE TABLE #CustomerList (CustId [nvarchar](10) NOT NULL, PRIMARY KEY (CustId))

	--table for all the invoices to process
	CREATE TABLE #AgeInvoiceList 
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		DistCode [nvarchar](6) NOT NULL,
		RecType smallint, 
		AgingDate datetime, 
		AmountDue [decimal](28,10) NULL default(0),		
		TransDate datetime,
		[Status] tinyint Null Default(0), 
		ProjId nvarchar(10) Null, 
		PhaseId nvarchar(10) Null, 
		SourceApp tinyint Null Default(0),
		FiscalYear smallint Default(0),
		FiscalPeriod smallint Default (0),
		CurrencyID [nvarchar](6) NOT NULL,
		AcctType tinyint,
		AgingPeriod tinyint
	) 

	-- table to capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	CREATE TABLE #FutureActivity
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL,
		UNIQUE NONCLUSTERED (CustId, InvcNum)
		--PRIMARY KEY (CustId, InvcNum)
	)

	--table to identify invoices that should be excluded from the report
	CREATE TABLE #ExcludeInvoiceList
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL,
		InvcType tinyint,
		CurrencyID [nvarchar](6) NOT NULL,
		UNIQUE NONCLUSTERED (CustId, InvcNum,CurrencyID,InvcType)
		--PRIMARY KEY (CustId, InvcNum,CurrencyID,InvcType)
	)

	--table to capture the aged invoice detail
	CREATE TABLE #InvoiceAgingBucket
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		DistCode [nvarchar](6) NOT NULL,
		MinAgingDate datetime NULL, 
		MaxRecType smallint, 
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtCurrent [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue1 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue2 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue3 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue4 [decimal](28,10) NOT NULL DEFAULT(0), 		
		CurrencyID [nvarchar](6) NOT NULL,
		UNIQUE NONCLUSTERED (CustId, InvcNum, DistCode,CurrencyID)
		--PRIMARY KEY (CustId, InvcNum, DistCode,CurrencyID)
	)
	
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	( 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		BalanceBase [decimal](28,10) NOT NULL,		
		Balance [decimal](28,10) NOT NULL,
		InvcNum [nvarchar](15) NULL	,
		CustID 	[nvarchar](10) NOT NULL,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(		 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL, 
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (InvoiceID, Ctr) 
	)
		
	-- Process the application of payments against invoice to determine balance in the invoice currency
	-- use data from the applied invoice records when identified by the payment InvoiceID value.
	INSERT INTO #InvoiceAmount (InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum, CustID, ExchTransKey)
	SELECT oi.[Counter]		
		, ISNULL(ai.CurrencyId, oi.CurrencyID)
		, SIGN(ISNULL(ai.[RecType], oi.[RecType])) * CASE WHEN ai.[Counter] IS NULL 
              THEN 
                   oi.Amt
              ELSE 
                    CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
              END				
		,  SIGN(ISNULL(ai.[RecType], oi.[RecType])) * CASE WHEN ai.[Counter] IS NULL 
			  THEN 
					oi.[AmtFgn]
			  ELSE 
					CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
			  END
		, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum
		, ISNULL(ai.CustId, oi.CustId)
		, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
	FROM #CustomerList t --list of ids for function specific filtering
	INNER JOIN dbo.tblArOpenInvoice oi ON t.CustId = oi.CustId 
	LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	WHERE  oi.DistCode BETWEEN @DistCodeFrom AND @DistCodeThru --always apply filter to invoice distcode
		AND ((oi.TransDate <= @InvcCutoffDate And @InvcCutoffOpt = 0)
			OR (((oi.FiscalYear * 1000) + oi.GlPeriod) <= ((@InvcCutoffFiscalYear * 1000) + @InvcCutoffFiscalPeriod) And @InvcCutoffOpt = 1))
		AND ( ((oi.SourceApp = 0 OR oi.SourceApp = 1 OR oi.SourceApp = 4) AND @IncludeSaleInvoice = 1) --filter source prior to aging so balances reflect specific source
			OR ((oi.SourceApp = 3) AND @IncludeProjectInvoice = 1) 
			OR ((oi.SourceApp = 2) AND @IncludeServiceInvoice = 1) )
		AND ((oi.RecType<>5 AND @IncludeRegularInvcType=1)OR (oi.RecType=5 AND  @IncludeProformaInvcType=1)) 

	if(@ReportCurrency IS NULL)
	BEGIN
		-- Use the summarized invoice amounts to determine the output currency values
		-- for Open invoice customer
		INSERT INTO #OutputAmount ( InvoiceID, CurrencyID, Balance,InvcNum)
		SELECT DISTINCT ia.[InvoiceID], ISNULL(@ReportCurrency, ia.CurrencyID)
			, CASE WHEN ISNULL(@ReportCurrency, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
				  WHEN ISNULL(@ReportCurrency, @BaseCurrencyId) = @BaseCurrencyId THEN ia.BalanceBase
				  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
				  END 
			,ia.InvcNum
		FROM #InvoiceAmount ia
		INNER JOIN dbo.tblArCust c ON ia.CustId = c.CustId	
		LEFT JOIN (
			SELECT TransKey, Rate, CurrDecPlaces 
			FROM [dbo].[tblSmExchangeRateTrans] e
				  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
				  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				  WHERE e.[TransType] = N'ARINVOICE' AND e.[Destination] = @ReportCurrency 
			) et ON ia.[ExchTransKey] = et.[TransKey]
		WHERE c.AcctType = 0

		-- for balance forward customer
		INSERT INTO #OutputAmount ( InvoiceID, CurrencyID, Balance,InvcNum)
		SELECT DISTINCT ia.[InvoiceID], c.CurrencyId
			, CASE WHEN ISNULL(c.CurrencyId, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
				  WHEN ISNULL(c.CurrencyId, @BaseCurrencyId) = @BaseCurrencyId THEN ia.BalanceBase
				  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
				  END 
			,ia.InvcNum
		FROM #InvoiceAmount ia		
		INNER JOIN dbo.tblArCust c ON ia.CustId = c.CustId	
		LEFT JOIN (
			SELECT TransKey, Rate, CurrDecPlaces, Destination 
			FROM [dbo].[tblSmExchangeRateTrans] e
				  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
				  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				  WHERE e.[TransType] = N'ARINVOICE' 
			) et ON ia.[ExchTransKey] = et.[TransKey] AND et.Destination = c.CurrencyId
		WHERE c.AcctType = 1
		
	END	

	ELSE
	BEGIN
		-- Use the summarized invoice amounts to determine the output currency values
		INSERT INTO #OutputAmount ( InvoiceID, CurrencyID, Balance,InvcNum)
		SELECT DISTINCT ia.[InvoiceID], ISNULL(@ReportCurrency, ia.CurrencyID)
			, CASE WHEN ISNULL(@ReportCurrency, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
				  WHEN ISNULL(@ReportCurrency, @BaseCurrencyId) = @BaseCurrencyId THEN ia.BalanceBase
				  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
				  END 
			,ia.InvcNum
		FROM #InvoiceAmount ia
		LEFT JOIN (
			SELECT TransKey, Rate, CurrDecPlaces 
			FROM [dbo].[tblSmExchangeRateTrans] e
				  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
				  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				  WHERE e.[TransType] = N'ARINVOICE' AND e.[Destination] = @ReportCurrency 
			) et ON ia.[ExchTransKey] = et.[TransKey]

	END


	IF  EXISTS (SELECT * FROM #OutputAmount t WHERE  t.Balance IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
		
	--=================================================
	--Open Invoice Customers & Balance forward customers
	--=================================================	
	--build the list of invoices to process for both open invoice and balance forward customers
	INSERT INTO #AgeInvoiceList (CustId, InvcNum, RecType, AmountDue, TransDate
		, AgingDate, DistCode, [Status], ProjId, PhaseId, SourceApp, FiscalYear, FiscalPeriod,CurrencyID,AcctType,AgingPeriod) 
	SELECT i.CustId
		, ot.InvcNum		
		, i.RecType
		, ot.Balance	
		, i.TransDate
		, CASE @AgeBy 
			WHEN 0 THEN i.TransDate
			WHEN 1 THEN ISNULL(i.NetDueDate, i.TransDate)
			ELSE ISNULL(i.DiscDueDate, i.TransDate)
		END
		, CASE WHEN @PrintBy = 4 THEN i.DistCode ELSE c.DistCode END --use customer default dist code when not printing by distcode
		, i.[Status]
		, i.ProjId
		, i.PhaseId
		, i.SourceApp, i.FiscalYear, i.GlPeriod
		, ISNULL(@ReportCurrency, ot.CurrencyID)
		, c.AcctType, i.AgingPeriod
	FROM #OutputAmount ot
	INNER JOIN dbo.tblArOpenInvoice i ON ot.InvoiceID = i.[Counter]
	INNER JOIN dbo.tblArCust c ON i.CustId = c.CustId	
	
	--capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	INSERT INTO #FutureActivity (CustID, InvcNum) 
    SELECT oi.[CustId], oi.[InvcNum] 
    FROM #AgeInvoiceList i --limit to the identified list of invoices to process
	    INNER JOIN dbo.tblArOpenInvoice oi ON i.CustId = oi.CustId and i.InvcNum = oi.InvcNum 
    WHERE  oi.DistCode BETWEEN @DistCodeFrom AND @DistCodeThru --always apply filter to invoice distcode
                    AND ((oi.TransDate >= @PayCutoffDate AND @PayCutoffOpt = 0) 
                                    OR (((oi.FiscalYear * 1000) + oi.GlPeriod) >= ((@PayCutoffFiscalYear * 1000) + @PayCutoffFiscalPeriod) AND @PayCutoffOpt = 1)) 
                    AND ( ((oi.SourceApp = 0 OR oi.SourceApp = 1 OR oi.SourceApp = 4) AND @IncludeSaleInvoice = 1) --filter source prior to aging so balances reflect specific source
                                    OR ((oi.SourceApp = 3) AND @IncludeProjectInvoice = 1) 
                                    OR ((oi.SourceApp = 2) AND @IncludeServiceInvoice = 1))
                    AND ((oi.RecType<>5 AND @IncludeRegularInvcType=1) OR (oi.RecType=5 AND @IncludeProformaInvcType=1)) 
    GROUP BY oi.[CustId], oi.[InvcNum]

    --identify "settled" invoices with no future activity that can be excluded from the aging
    INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType, CurrencyID) 
    SELECT i.[CustId], i.[InvcNum], CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.[CurrencyID] 
    FROM #AgeInvoiceList i 
		LEFT JOIN #FutureActivity fa ON i.[CustId] = fa.[CustId] AND i.[InvcNum] = fa.[InvcNum] 
    WHERE i.AcctType = 0 AND fa.[CustId] IS NULL --and no future activity 
    GROUP BY i.CustId, i.InvcNum, CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.CurrencyID 
    HAVING SUM(i.AmountDue) <> 0 --ensure a non-zero balance
                    AND COUNT(*) = SUM(CASE WHEN i.[Status] = 4 THEN 1 ELSE 0 END) --and all invoices marked as paid
	
	-- isolate the invoices that should be excluded from the aging for open invoice customer
	-- invoices with a zero balance and no payments as of/after the payment cutoff
	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType,CurrencyID)
	SELECT CustId, InvcNum, 1,CurrencyID
	FROM #AgeInvoiceList
	WHERE RecType <> 5 AND AcctType = 0
	GROUP BY CustId, InvcNum,CurrencyID
	HAVING SUM(AmountDue) = 0 --ensure a zero balance
		AND SUM(CASE WHEN RecType < 0 
			AND ((TransDate >= @PayCutoffDate And @PayCutoffOpt = 0) 
			OR (((FiscalYear * 1000) + FiscalPeriod) >= ((@PayCutoffFiscalYear * 1000) + @PayCutoffFiscalPeriod) And @PayCutoffOpt = 1))
		THEN 1 
		ELSE 0 
		END) = 0 --no payments as of/after the payment cutoff
	
	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType,CurrencyID)
	SELECT CustId, InvcNum, 5,CurrencyID
	FROM #AgeInvoiceList
	WHERE RecType = 5 AND AcctType = 0
	GROUP BY CustId, InvcNum,CurrencyID
	HAVING SUM(AmountDue) = 0 --ensure a zero balance
		AND SUM(CASE WHEN AmountDue < 0 
			AND ((TransDate >= @PayCutoffDate And @PayCutoffOpt = 0) 
			OR (((FiscalYear * 1000) + FiscalPeriod) >= ((@PayCutoffFiscalYear * 1000) + @PayCutoffFiscalPeriod) And @PayCutoffOpt = 1))
		THEN 1 
		ELSE 0 
		END) = 0 --no payments as of/after the payment cutoff
	
	--initialize the list of aged values for open invoice customer
	INSERT INTO #InvoiceAgingBucket (CustId, InvcNum, DistCode,CurrencyID) 
	SELECT i.CustId, i.InvcNum, i.DistCode,i.CurrencyID 
	FROM #AgeInvoiceList i
	LEFT JOIN #ExcludeInvoiceList e ON i.CustId = e.CustId AND i.InvcNum = e.InvcNum AND i.CurrencyID = e.CurrencyID AND ((i.RecType <> 5 AND e.InvcType = 1) OR i.RecType = e.InvcType) --AND AcctType = 0
	WHERE e.CustId IS NULL  AND i.AcctType= 0
	GROUP BY i.CustId, i.InvcNum, i.DistCode, i.CurrencyID

	
	--capture the max invoice and payment dates for calculating the MinAgingDates for open invoice customer
	SELECT @MaxInvcAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType > 0 AND NOT(AgingDate IS NULL) AND AcctType = 0
	SELECT @MaxPmtAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType < 0 AND NOT(AgingDate IS NULL) AND AcctType = 0
	SELECT @MaxInvcAgingDate = COALESCE(@MaxInvcAgingDate, GETDATE()), @MaxPmtAgingDate = COALESCE(@MaxPmtAgingDate, GETDATE())


	--process invoices/payments by Min aging date and max rec typ so that over payments on invoices are aged with the invoice for open invoice customer
	UPDATE #InvoiceAgingBucket 
		SET MinAgingDate = m.MinAgingDate, MaxRecType = m.MaxRecType
		FROM #InvoiceAgingBucket 
		INNER JOIN 
		(	SELECT CustId
					, InvcNum
					, DistCode
					, Max(RecType) MaxRecType
					, CASE WHEN Max(RecType) > 0 THEN Min(InvcDate) ELSE Min(PmtDate) END MinAgingDate
					, CurrencyID
			FROM 
			(
				SELECT CustId, InvcNum, DistCode, ISNULL(RecType, 1) RecType
						, CASE WHEN ISNULL(RecType, 1) > 0 THEN AgingDate ELSE @MaxInvcAgingDate END InvcDate
						, Case When ISNULL(RecType, 1) < 0 THEN AgingDate ELSE @MaxPmtAgingDate END PmtDate
						, CurrencyID
						FROM #AgeInvoiceList WHERE AcctType = 0
			) d	GROUP BY CustId, InvcNum, DistCode,CurrencyID
		) m
		ON #InvoiceAgingBucket.CustId = m.CustId AND #InvoiceAgingBucket.InvcNum = m.InvcNum 
		AND #InvoiceAgingBucket.DistCode = m.DistCode AND #InvoiceAgingBucket.CurrencyID = m.CurrencyID


	--Set each aging dates based upon the initial aging date for open invoice customer
	SELECT @Day1 = DATEADD(DAY, -@AgingDays1, @AgingDate)
		, @Day2 = DATEADD(DAY, -@AgingDays2, @AgingDate)
		, @Day3 = DATEADD(DAY, -@AgingDays3, @AgingDate)
		, @Day4 = DATEADD(DAY, -@AgingDays4, @AgingDate)


	--separate amounts into aging buckets for open invoice customer
	UPDATE #InvoiceAgingBucket
		SET UnappliedCredit = ISNULL(s.UnappliedCredit, 0), AmtCurrent = ISNULL(s.AmtCurrent, 0)
			, AmtDue1 = ISNULL(s.AmtDue1, 0), AmtDue2 = ISNULL(s.AmtDue2, 0), AmtDue3 = ISNULL(s.AmtDue3, 0), AmtDue4 = ISNULL(s.AmtDue4, 0)
						
		FROM #InvoiceAgingBucket 
		INNER JOIN 
		(	SELECT i.CustId, i.InvcNum, i.DistCode,i.CurrencyID
			, SUM(CASE WHEN (i.maxrectype < 0) THEN  o.AmountDue ELSE 0 END) UnappliedCredit
			, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate >= @Day1 THEN o.AmountDue ELSE 0 END) AmtCurrent
			, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day2 AND DateAdd(Day, -1, @Day1) THEN  o.AmountDue ELSE 0 END) AmtDue1
			, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day3 AND DateAdd(Day, -1, @Day2) THEN  o.AmountDue ELSE 0 END) AmtDue2
			, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day4 AND DateAdd(Day, -1, @Day3) THEN  o.AmountDue ELSE 0 END) AmtDue3
			, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate < @Day4  THEN  o.AmountDue ELSE 0 END) AmtDue4
		
			FROM #InvoiceAgingBucket i 
			INNER JOIN #AgeInvoiceList o ON i.CustId = o.CustId AND i.InvcNum = o.InvcNum AND i.DistCode = o.DistCode AND i.CurrencyID = o.CurrencyID
			AND o.AcctType = 0
			GROUP BY i.CustId, i.InvcNum, i.DistCode,i.CurrencyID
		) s
		ON #InvoiceAgingBucket.CustId = s.CustId AND #InvoiceAgingBucket.InvcNum = s.InvcNum 
		AND #InvoiceAgingBucket.DistCode = s.DistCode AND #InvoiceAgingBucket.CurrencyID = s.CurrencyID


	--=========================
	--Balance Forward Customers
	--=========================
	IF @IncludeBalanceForward = 1
	BEGIN
		-- create aging bucket records for balance forward customers
		-- calclate the base currency amounts using the current exchange rate
		INSERT INTO #InvoiceAgingBucket (CustId, InvcNum, DistCode, MinAgingDate, MaxRecType
			, UnappliedCredit, AmtCurrent, AmtDue1, AmtDue2, AmtDue3, AmtDue4 ,
			CurrencyID)
			
		SELECT A.CustId ,A.InvcNum,DistCode,AgingDate,MaxRecType, SUM(Unapplied), SUM(AmtCurrent)+ SUM(AmtFinanceCharge), SUM(AmtDue1), 
			SUM(AmtDue2), SUM(AmtDue3), SUM(AmtDue4), CurrencyID FROM
		(
			SELECT c.CustId, 'BalFwd' AS InvcNum, c.DistCode , @AgingDate AS AgingDate, 1 AS MaxRecType
				, 0 AS Unapplied
				, CASE WHEN c.AgingPeriod =0 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtCurrent
				, CASE WHEN c.AgingPeriod =10 OR c.RecType = 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtFinanceCharge 
				, CASE WHEN c.AgingPeriod =1 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue1 
				, CASE WHEN c.AgingPeriod =2 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue2 
				, CASE WHEN c.AgingPeriod =3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue3 
				, CASE WHEN c.AgingPeriod >3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue4 				
				, c.CurrencyID 
			FROM #CustomerList l
			INNER JOIN #AgeInvoiceList c ON l.CustId = c.CustId
			INNER JOIN #CurrencyInfo e ON c.CurrencyId = e.CurrencyId
			WHERE c.AcctType = 1 
			GROUP BY c.CustId,c.CurrencyId,c.AgingPeriod,c.RecType, c.InvcNum,c.DistCode,AgingDate
	) AS A
	GROUP BY A.CustId,A.CurrencyId,A.InvcNum,A.DistCode,A.AgingDate,A.MaxRecType

	--Bug 39375
	--UPDATE #InvoiceAgingBucket SET UnappliedCredit = -UnappliedCredit    
	UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtCurrent, AmtCurrent = 0 WHERE AmtCurrent < 0
	UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue1, AmtDue1 = 0 WHERE AmtDue1 < 0  
	UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue2, AmtDue2 = 0 WHERE AmtDue2 < 0 
	UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue3, AmtDue3 = 0 WHERE AmtDue3 < 0 
	UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue4, AmtDue4 = 0 WHERE AmtDue4 < 0 
     
	-- distribute the UnappliedCredit 
	UPDATE #InvoiceAgingBucket SET AmtDue4 = AmtDue4 + UnappliedCredit, UnappliedCredit = AmtDue4 + UnappliedCredit WHERE UnappliedCredit < 0  AND AmtDue4 > 0
	UPDATE #InvoiceAgingBucket SET AmtDue3 = AmtDue3 + UnappliedCredit, UnappliedCredit = AmtDue3 + UnappliedCredit WHERE UnappliedCredit < 0  AND AmtDue3 > 0
	UPDATE #InvoiceAgingBucket SET AmtDue2 = AmtDue2 + UnappliedCredit, UnappliedCredit = AmtDue2 + UnappliedCredit WHERE UnappliedCredit < 0  AND AmtDue2 > 0
	UPDATE #InvoiceAgingBucket SET AmtDue1 = AmtDue1 + UnappliedCredit, UnappliedCredit = AmtDue1 + UnappliedCredit WHERE UnappliedCredit < 0  AND AmtDue1 > 0
	UPDATE #InvoiceAgingBucket SET AmtCurrent = AmtCurrent + UnappliedCredit, UnappliedCredit = AmtCurrent + UnappliedCredit WHERE UnappliedCredit < 0   AND    AmtCurrent >0
      
	-- adjust each bucket for over applied UnappliedCredit      
	UPDATE #InvoiceAgingBucket      
		SET AmtCurrent = CASE WHEN AmtCurrent > 0 THEN AmtCurrent ELSE 0 END      
		, AmtDue1 = CASE WHEN AmtDue1 > 0 THEN AmtDue1 ELSE 0 END      
		, AmtDue2 = CASE WHEN AmtDue2 > 0 THEN AmtDue2 ELSE 0 END      
		, AmtDue3 = CASE WHEN AmtDue3 > 0 THEN AmtDue3 ELSE 0 END      
		, AmtDue4 = CASE WHEN AmtDue4 > 0 THEN AmtDue4 ELSE 0 END      
		, UnappliedCredit = CASE WHEN UnappliedCredit < 0 THEN ABS(UnappliedCredit) ELSE 0 END 

	END
	

	--=========================
	--Apply report specific options
	--=========================
	--remove zero balance customers
	IF @IncludeZeroBalanceCustomer = 0 
		DELETE #InvoiceAgingBucket
		WHERE CustId IN (SELECT CustID FROM #InvoiceAgingBucket 
			GROUP BY CustId 
			HAVING SUM(AmtCurrent + AmtDue1 + AmtDue2 + AmtDue3 + AmtDue4 + UnappliedCredit) = 0)

	--remove non-pastdue customers
	IF @IncludeCurrentCustomer = 0
		DELETE #InvoiceAgingBucket
			WHERE CustId IN (SELECT CustID FROM #InvoiceAgingBucket 
				GROUP BY CustId 
				HAVING SUM(AmtDue1 +  AmtDue2 +  AmtDue3 +  AmtDue4  ) = 0) --all aged buckets must be zero

	

	--==============
	--return results
	--==============	
	--create a flat-compound resultset RecordType of 0 for invoice detail / RecordType of 1 for aged invoice totals
	SELECT 0 RecordType
		, Case @PrintBy
			When 0 Then c.CustId
			When 1 Then c.CustName
			When 2 Then c.SalesRepId1
			When 3 Then c.Region
			When 4 Then a.DistCode
			End As GrpId
		, c.CustId, c.CustName, c.City, c.Region, c.Country, c.Phone, c.DistCode AS DfltDistCode, c.CurrencyId AS CustomerCurrencyId
		, c.AcctType, c.Contact, c.CreditLimit, c.SalesRepId1 AS SalesRepId, s.[Name] AS SalesRepName
		, o.CurrencyID AS CurrencyId
		, a.InvcNum, a.DistCode, o.AgingDate, o.AmountDue AS AmtDue
		, o.RecType, o.[Status], o.ProjId, o.PhaseId, o.SourceApp
		, 0 AS UnappliedCredit, 0 AS AmtCurrent, 0 AS AmtDue1, 0 AS AmtDue2, 0 AS AmtDue3, 0 AS AmtDue4		
	FROM #InvoiceAgingBucket a
	INNER JOIN #AgeInvoiceList o ON a.CustId = o.CustId AND a.InvcNum = o.InvcNum AND a.DistCode = o.DistCode AND a.CurrencyID = o.CurrencyID
	INNER JOIN dbo.tblArCust c ON o.CustId = c.CustId
	LEFT JOIN dbo.tblArSalesRep s ON c.SalesRepId1 = s.SalesRepID
		
	UNION ALL

	SELECT 1 RecordType
		, Case @PrintBy
			When 0 Then c.CustId
			When 1 Then c.CustName
			When 2 Then c.SalesRepId1
			When 3 Then c.Region
			When 4 Then a.DistCode
			End As GrpId
		, c.CustId, c.CustName, c.City, c.Region, c.Country, c.Phone, c.DistCode AS DfltDistCode, c.CurrencyId AS CustomerCurrencyId
		, c.AcctType, c.Contact, c.CreditLimit, c.SalesRepId1 AS SalesRepId, s.[Name] AS SalesRepName
		, a.CurrencyID AS CurrencyId
		, a.InvcNum, a.DistCode, NULL AS AgingDate
		, CASE WHEN c.AcctType = 1 THEN a.UnappliedCredit + a.AmtCurrent + a.AmtDue1 + a.AmtDue2 + a.AmtDue3 + a.AmtDue4 ELSE 0 END AS AmtDue --return invoice total for balfwd only
		, 0 AS RecType, NULL AS [Status], NULL AS ProjId, NULL AS PhaseId, NULL AS SourceApp
		, a.UnappliedCredit, a.AmtCurrent, a.AmtDue1, a.AmtDue2, a.AmtDue3, a.AmtDue4 
	FROM #InvoiceAgingBucket a
	INNER JOIN dbo.tblArCust c ON a.CustId = c.CustId
	LEFT JOIN dbo.tblArSalesRep s ON c.SalesRepId1 = s.SalesRepID
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAgedTrialBalanceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAgedTrialBalanceReport_proc'
GO
