USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmUpdatePerpetual_GlLogSum_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmUpdatePerpetual_GlLogSum_proc] 
AS
BEGIN TRY
	
	DECLARE @PostRun nvarchar(14), @CurrBase pCurrency, @WrkStnDate datetime,@CompId nvarchar(3)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WrkStnDate IS NULL OR @CompId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT FiscalYear,FiscalPeriod,[Grouping],GlAccount,SUM(AmountFgn) AmountFgn
	INTO #tmpPostLogs
	FROM #GlPostLogs 
	GROUP BY FiscalYear,FiscalPeriod,[Grouping],GlAccount

	DELETE #GlPostLogs

	INSERT #GlPostLogs(PostRun,FiscalYear,FiscalPeriod,[Grouping],GlAccount,AmountFgn,Reference,[Description],DebitAmount,
			CreditAmount,DebitAmountFgn,CreditAmountFgn,SourceCode,PostDate,TransDate,CurrencyId,ExchRate,CompId)
	SELECT @PostRun,FiscalYear,FiscalPeriod,[Grouping],GlAccount,AmountFgn,
		'WM','Physical Inventory',CASE WHEN AmountFgn > 0 THEN AmountFgn ELSE 0 END,
		CASE WHEN AmountFgn > 0 THEN 0 ELSE ABS(AmountFgn) END,CASE WHEN AmountFgn > 0 THEN AmountFgn ELSE 0 END, 
		CASE WHEN AmountFgn > 0 THEN 0 ELSE ABS(AmountFgn) END,'WM',@WrkStnDate,@WrkStnDate,@CurrBase,1,@CompId
	FROM #tmpPostLogs

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_GlLogSum_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_GlLogSum_proc'
GO
