USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HREEOReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HREEOReport_proc]
@ActiveAsOfDate DATETIME,    
@Summary TINYINT,    
@DateFrom DATETIME,    
@DateThru DATETIME,    
@Active TINYINT = 2,    
@SpecStat BIT = 1 ,   
@IncludePayInfo Bit = 0
AS    
SET NOCOUNT ON    
BEGIN TRY    
 
 CREATE TABLE #tmpRecType
  (
    [RecType] INt Null,
	[EarningCode] INT NULL,
	[EarningCodeDescr] [nvarchar](255) NULL,
	SortKey nVarchar(50) NULL,
	EEOJobCat BIGINT NULL,
	EEOJobCatDescr [nvarchar](255) NULL,
	StandardDescr [nvarchar](255) NULL,
	StandardType NVARCHAR(50) NULL,
	DivisionDescr [nvarchar](255) NULL,
	LocationDesc [nvarchar](255) NULL,
	ProgramDesc [nvarchar](255) NULL,
	DeptIdDesc [nvarchar](255) NULL,

	MW [decimal](28,10) NULL,
	MB [decimal](28,10)  NULL,
	MH [decimal](28,10)  NULL,
	MP [decimal](28,10)  NULL,
	MA [decimal](28,10)  NULL,
	MI [decimal](28,10)  NULL,
	MT [decimal](28,10)  NULL,
	MU [decimal](28,10)  NULL,
	MO [decimal](28,10)  NULL,

	FW [decimal](28,10)  NULL,
	FB [decimal](28,10)  NULL,
	FH [decimal](28,10)  NULL,
	FP [decimal](28,10)  NULL,
	FA [decimal](28,10)  NULL,
	FI [decimal](28,10)  NULL,
	FT [decimal](28,10)  NULL,
	FU [decimal](28,10)  NULL,
	FO [decimal](28,10)  NULL,

	TOTAL [decimal](28,10)  NULL,
  )

 CREATE TABLE #tmpEarningCodes
 (
	Id TinyInt Not Null Primary Key,
	Descr [nvarchar](255) NULL,
 )
 Insert Into #tmpEarningCodes(Id,Descr)
 Select 1,'$19,239 or less' 
 Union
 Select 2,'$19,240 - $24,439'
 Union
 Select 3,'$24,440 - $30,679' 
 Union
 Select 4,'$30,680 - $38,999'
 Union
 Select 5,'$39,000 - $49,919'
 Union
 Select 6,'$49,920 - $62,919'
 Union
 Select 7,'$62,920 - $80,079'
 Union
 Select 8,'$80,080 - $101,919'
 Union
 Select 9,'$101,920 - $128,959'
 Union
 Select 10,'$128,960 - $163,799'
 Union
 Select 11,'$163,800 - $207,999'
 Union
 Select 12,'$208,000 and over'

 CREATE TABLE #IndividualList (IndId [nvarchar](11) NOT NULL)    
 INSERT INTO #IndividualList SELECT DISTINCT ind.IndId FROM tblHrIndGenInfo ind    
    
 CREATE TABLE #IndPositionID (IndId [nvarchar](11) NOT NULL, PositionID [bigint])    
 INSERT INTO #IndPositionID EXEC [trav_HrIndEffectivePosition_proc] @ActiveAsOfDate    
    
 CREATE TABLE #IndStatus (IndId [nvarchar](11) NOT NULL, StatusID BIGINT NULL,[IndStatus] TINYINT NULL)    
 INSERT INTO #IndStatus EXEC [trav_HrIndEffectiveStatus_proc] @ActiveAsOfDate, @Active    
    
 CREATE TABLE #TempIndividual(IndId [nvarchar](11) NOT NULL)    
 IF (@SpecStat = 0)    
 BEGIN    
  INSERT INTO #TempIndividual    
  SELECT DISTINCT ind.IndId FROM #IndividualList ind    
  INNER JOIN tblHrIndGenInfo g ON ind.IndId = g.IndId    
  INNER JOIN tblHrIndStatus s ON ind.IndId = s.IndId    
  INNER JOIN tblHrIndPosition ip ON ind.IndId = ip.IndId    
  INNER JOIN tblHrPosition p ON p.ID = ip.PositionID    
  INNER JOIN #IndStatus ins ON ins.IndId = s.IndId AND ins.StatusID = s.ID    
  INNER JOIN #IndPositionID tip ON tip.IndId = ip.IndId AND tip.PositionID = ip.ID    
  WHERE ((@DateFrom IS NULL OR g.StartDate >= @DateFrom) AND (@DateThru IS NULL OR g.StartDate <= @DateThru))    
  AND p.SpecialStatus = 0    
 END    
 ELSE    
 BEGIN    
  INSERT INTO #TempIndividual    
  SELECT DISTINCT ind.IndId FROM #IndividualList ind    
  INNER JOIN tblHrIndGenInfo g ON g.IndId = ind.IndId    
  INNER JOIN tblHrIndStatus s ON ind.IndId = s.IndId    
  INNER JOIN tblHrIndPosition ip ON ind.IndId = ip.IndId    
  INNER JOIN tblHrPosition p ON p.ID = ip.PositionID    
  INNER JOIN #IndStatus ins ON ins.IndId = s.IndId AND ins.StatusID = s.ID    
  INNER JOIN #IndPositionID tip ON tip.IndId = ip.IndId AND tip.PositionID = ip.ID    
  WHERE ((@DateFrom IS NULL OR g.StartDate >= @DateFrom) AND (@DateThru IS NULL OR g.StartDate <= @DateThru))    
 END    
 

/***************Begin Main Data******************/
 SELECT
 x.IndId, 
 CASE @Summary WHEN 0 THEN N'Company'     
     WHEN 1 THEN d.Id    
     WHEN 2 THEN tDiv.[Description]    
     WHEN 3 THEN tLoc.[Description]    
     WHEN 4 THEN tProg.[Description] END SortKey,    
 cat.StandardID EEOJobCat,    
 cat.[Description] EEOJobCatDescr,    
 tps.[Description] StandardDescr,    
 tps.TypeCode StandardType,    
 CASE WHEN @Summary = 1 THEN d.DepartmentName   ELSE '' END AS DeptIdDesc,    
 CASE WHEN @Summary = 2 THEN tDiv.[Description] ELSE '' END AS DivisionDescr,   
 CASE WHEN @Summary = 3 THEN tLoc.[Description] ELSE '' END AS LocationDesc,    
 CASE WHEN @Summary = 4 THEN tProg.[Description] ELSE '' END AS ProgramDesc,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 12 THEN 1 ELSE 0 END) AS MW,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 5 THEN 1 ELSE 0 END) AS MB,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 6 THEN 1 ELSE 0 END) AS MH,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 9 THEN 1 ELSE 0 END) AS MP,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 4 THEN 1 ELSE 0 END) AS MA,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 7 THEN 1 ELSE 0 END) AS MI,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 10 THEN 1 ELSE 0 END) AS MT,    
 (CASE WHEN gender.StandardID = 22 AND ethnic.StandardID = 11 THEN 1 ELSE 0 END) AS MU,    
 (CASE WHEN gender.StandardID = 21 AND ethnic.StandardID = 8 THEN 1 ELSE 0 END) AS MO,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 12 THEN 1 ELSE 0 END) AS FW,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 5 THEN 1 ELSE 0 END) AS FB,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 6 THEN 1 ELSE 0 END) AS FH,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 9 THEN 1 ELSE 0 END) AS FP,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 4 THEN 1 ELSE 0 END) AS FA,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 7 THEN 1 ELSE 0 END) AS FI,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 10 THEN 1 ELSE 0 END) AS FT,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 11 THEN 1 ELSE 0 END) AS FU,    
 (CASE WHEN gender.StandardID = 20 AND ethnic.StandardID = 8 THEN 1 ELSE 0 END) AS FO,    
 (CASE WHEN gender.StandardID IN (20, 21) AND ethnic.StandardID IN (11,12,5,6,9,4,7,10,8) THEN 1 ELSE 0 END) AS TOTAL    
 Into #tmpEEOData   
 FROM #TempIndividual x    
 INNER JOIN tblHrIndGenInfo g ON x.IndId = g.IndId    
 INNER JOIN #IndPositionID tp ON g.IndId = tp.IndId    
 INNER JOIN dbo.tblHrIndPosition p ON tp.PositionID = p.ID    
 INNER JOIN dbo.tblHrPosition po ON po.ID = p.PositionID AND p.PositionID = po.ID    
 LEFT JOIN tblHrTypeCode tDiv ON po.DivisionTypeCodeID = tDiv.ID and tDiv.TableID = 24 -- TableType.PositionDivision    
 LEFT JOIN tblHrTypeCode tLoc ON po.LocationTypeCodeID = tLoc.ID and tLoc.TableID = 27 --TableType.PositionLocation    
 LEFT JOIN tblHrTypeCode tProg ON po.ProgramTypeCodeID = tProg.ID and tProg.TableID = 28 --TableType.PositionProgram    
 LEFT JOIN tblPaDept d ON d.Id = po.Department    
 LEFT JOIN dbo.tblHRJobTitle t ON po.JobTypeCodeID = t.ID    
 LEFT JOIN dbo.tblHRTypeCode ethnic ON g.EthnicityTypeCodeID = ethnic.ID AND ethnic.TableID = 8    
 LEFT JOIN dbo.tblHRTypeCode gender ON g.GenderTypeCodeID = gender.ID AND gender.TableID = 16    
 LEFT JOIN dbo.tblHrTypeCode cat ON t.JobCatTypeCodeID = cat.ID AND cat.TableID = 19    
 LEFT JOIN #TableTypeCodeStandard tps ON tps.Id = cat.StandardID AND cat.TableID = 19
 WHERE g.EthnicityTypeCodeID IS NOT NULL AND g.GenderTypeCodeID IS NOT NULL   
/***************End Main Data******************/

--Generate 12 Pay Range Grouping
Declare @PayRangeGroups Int = (Select Count(*) From #tmpEarningCodes)

--Insert Data For Number or Employes per Category,Gender and Race
If @IncludePayInfo = 1
BEGIN

--Payroll Info
SELECT
	e.IndId [EmployeeId], CASE WHEN ISNULL(pa.TaxableAmount,0) <= 19239 THEN 1
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 19240 AND 24439 THEN 2 
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 24440 AND 30679 THEN 3
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 30680 AND 38999 THEN 4
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 39000 AND 49919 THEN 5
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 49920 AND 62919 THEN 6
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 62920 AND 80079 THEN 7
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 80080 AND 101919 THEN 8
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 101920 AND 128959 THEN 9
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 128960 AND 163799 THEN 10
						  WHEN ISNULL(pa.TaxableAmount,0) BETWEEN 163800 AND 207999 THEN 11
						  ELSE 12 END [EarningCode]
INTO #tmpFed
FROM #tmpEEOData e
LEFT JOIN
(
	SELECT
		pa.[EmployeeId], SUM(ISNULL(pa.TaxableAmount,0)) AS [TaxableAmount]
	FROM #tmpEEOData E
	INNER JOIN tblPaEmpHistWithhold pa ON pa.EmployeeId = E.IndId
	WHERE pa.TaxAuthorityType = 0 AND pa.EmployerPaid = 0 AND pa.PaYear = YEAR(@ActiveAsOfDate) AND pa.Withholdingcode = N'FWH'
	GROUP BY pa.[EmployeeId]
)pa ON pa.EmployeeId = E.IndId

--Employee Hours
SELECT 
	e.IndId [EmployeeId], ISNULL(h.[TotalHours],0) AS [TotalHours]
Into #tmpHour
FROM #tmpEEOData e
LEFT JOIN
(
	SELECT
		H.EmployeeId [EmployeeId], SUM(ISNULL(h.[Hours],0)) AS [TotalHours]
	FROM #tmpEEOData E
	INNER JOIN tblPaEmpHistEarn H ON E.IndId = H.EmployeeId
	LEFT JOIN tblPaEarnCode c ON h.[EarningCode] = c.[Id]
	WHERE PaYear = YEAR(@ActiveAsOfDate) AND (ISNULL(c.[EarningTypeId], N'') <> N'L') 
	GROUP BY H.EmployeeId
)h ON H.EmployeeId = E.IndId


/********************************Begin RecType = 0 (Employee Counts)*****************************************************************/
;
	With payRange As
	(
		SELECT
			0 [PayRange],
			tax.EarningCode,
			ds.SortKey, ds.EEOJobCat, ds.EEOJobCatDescr, ds.StandardDescr,
			ds.StandardType, ds.DivisionDescr, ds.LocationDesc, ds.ProgramDesc, ds.DeptIdDesc,    
			SUM(ds.MW) AS MW,  SUM(ds.MB) AS MB,  SUM(ds.MH) AS MH,  SUM(ds.MP) AS MP,  SUM(ds.MA) AS MA,  SUM(ds.MI) AS MI,  SUM(ds.MT) AS MT,  SUM(ds.MU) AS MU,  SUM(ds.MO) AS MO,      
			SUM(ds.FW) AS FW,  SUM(ds.FB) AS FB,  SUM(ds.FH) AS FH,  SUM(ds.FP) AS FP,  SUM(ds.FA) AS FA,  SUM(ds.FI) AS FI,  SUM(ds.FT) AS FT,  SUM(ds.FU) AS FU,  SUM(ds.FO) AS FO,      
			SUM(ds.TOTAL) AS TOTAL        
		FROM #tmpEEOData ds
		INNER JOIN #tmpFed tax On tax.EmployeeId = ds.IndId And @IncludePayInfo = 1
		GROUP BY     
		SortKey,    
		ds.EEOJobCat,    
		ds.EEOJobCatDescr,    
		ds.StandardDescr,    
		ds.StandardType,    
		ds.DeptIdDesc,    
		ds.DivisionDescr,    
		ds.LocationDesc,    
		ds.ProgramDesc,
		tax.EarningCode
		Union All
		Select p.PayRange + 1,
		p.EarningCode,
		p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,
		p.[StandardDescr],
		p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc,
		p.MW,p.MB,p.MH,p.MP,p.MA,p.MI,p.MT,p.MU,p.MO,      
		p.FW,p.FB,p.FH,p.FP,p.FA,p.FI,p.FT,p.FU,p.FO,      
		p.TOTAL
		From payRange p
		Where p.PayRange + 1 <= @PayRangeGroups
	)
	INSERT INTO #tmpRecType
	Select
		0 [RecType],
		p.PayRange [EarningCode],
		e.Descr [EarningCodeDescr],
		p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,
		Case When p.PayRange = 1 Then
								 Case When p.[StandardDescr] Is Not Null Then Concat(p.StandardType,'/',p.[StandardDescr]) Else p.StandardType End
		Else Null End [StandardDescr],
		p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc,

		/********Male********************/
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MW Else 0 End,0)) MW,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MB Else 0 End,0)) MB,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MH Else 0 End,0)) MH,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MP Else 0 End,0)) MP,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MA Else 0 End,0)) MA,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MI Else 0 End,0)) MI,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MT Else 0 End,0)) MT,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MU Else 0 End,0)) MU,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MO Else 0 End,0)) MO,
		/*******Female*******************/    									
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FW Else 0 End,0)) FW,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FB Else 0 End,0)) FB,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FH Else 0 End,0)) FH,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FP Else 0 End,0)) FP,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FA Else 0 End,0)) FA,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FI Else 0 End,0)) FI,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FT Else 0 End,0)) FT,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FU Else 0 End,0)) FU,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FO Else 0 End,0)) FO,
									   
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.TOTAL Else 0 End,0)) TOTAL
	From
	payRange p
	Inner Join #tmpEarningCodes e On e.Id = p.PayRange
	Group By p.PayRange, e.Descr, p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,p.[StandardDescr],p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc
/********************************End RecType = 0 (Employee Counts)*****************************************************************/

/********************************Begin RecType = 1 (Employee Hours)*****************************************************************/
;
	With payRange As
	(
		SELECT
			0 [PayRange],
			tax.EarningCode,
			ds.SortKey, ds.EEOJobCat, ds.EEOJobCatDescr, ds.StandardDescr,
			ds.StandardType, ds.DivisionDescr, ds.LocationDesc, ds.ProgramDesc, ds.DeptIdDesc,

			/********Male********************/
			SUM(Case When ds.MW > 0 Then hr.TotalHours Else 0 End) AS MW,
			SUM(Case When ds.MB > 0 Then hr.TotalHours Else 0 End) AS MB,
			SUM(Case When ds.MH > 0 Then hr.TotalHours Else 0 End) AS MH,
			SUM(Case When ds.MP > 0 Then hr.TotalHours Else 0 End) AS MP,
			SUM(Case When ds.MA > 0 Then hr.TotalHours Else 0 End) AS MA,
			SUM(Case When ds.MI > 0 Then hr.TotalHours Else 0 End) AS MI,
			SUM(Case When ds.MT > 0 Then hr.TotalHours Else 0 End) AS MT,
			SUM(Case When ds.MU > 0 Then hr.TotalHours Else 0 End) AS MU,
			SUM(Case When ds.MO > 0 Then hr.TotalHours Else 0 End) AS MO,
			/*******Female*******************/    					 			 
			SUM(Case When ds.FW > 0 Then hr.TotalHours Else 0 End) AS FW,
			SUM(Case When ds.FB > 0 Then hr.TotalHours Else 0 End) AS FB,
			SUM(Case When ds.FH > 0 Then hr.TotalHours Else 0 End) AS FH,
			SUM(Case When ds.FP > 0 Then hr.TotalHours Else 0 End) AS FP,
			SUM(Case When ds.FA > 0 Then hr.TotalHours Else 0 End) AS FA,
			SUM(Case When ds.FI > 0 Then hr.TotalHours Else 0 End) AS FI,
			SUM(Case When ds.FT > 0 Then hr.TotalHours Else 0 End) AS FT,
			SUM(Case When ds.FU > 0 Then hr.TotalHours Else 0 End) AS FU,
			SUM(Case When ds.FO > 0 Then hr.TotalHours Else 0 End) AS FO,  
			
			SUM(Case When ds.TOTAL > 0 Then hr.TotalHours Else 0 End) AS TOTAL        
		FROM #tmpEEOData ds
		INNER JOIN #tmpFed tax On tax.EmployeeId = ds.IndId
		INNER JOIN #tmpHour hr On hr.EmployeeId = ds.IndId
		GROUP BY     
		SortKey,    
		ds.EEOJobCat,    
		ds.EEOJobCatDescr,    
		ds.StandardDescr,    
		ds.StandardType,    
		ds.DeptIdDesc,    
		ds.DivisionDescr,    
		ds.LocationDesc,    
		ds.ProgramDesc,
		tax.EarningCode
		Union All
		Select p.PayRange + 1,
		p.EarningCode,
		p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,
		p.[StandardDescr],
		p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc,
		p.MW,p.MB,p.MH,p.MP,p.MA,p.MI,p.MT,p.MU,p.MO,      
		p.FW,p.FB,p.FH,p.FP,p.FA,p.FI,p.FT,p.FU,p.FO,      
		p.TOTAL
		From payRange p
		Where p.PayRange + 1 <= @PayRangeGroups
	)
	INSERT INTO #tmpRecType
	Select
		1 [RecType],
		p.PayRange [EarningCode],
		e.Descr [EarningCodeDescr],
		p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,
		Case When p.PayRange = 1 Then
								 Case When p.[StandardDescr] Is Not Null Then Concat(p.StandardType,'/',p.[StandardDescr]) Else p.StandardType End
		Else Null End [StandardDescr],
		p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc,

		/********Male********************/
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MW Else 0 End,0)) MW,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MB Else 0 End,0)) MB,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MH Else 0 End,0)) MH,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MP Else 0 End,0)) MP,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MA Else 0 End,0)) MA,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MI Else 0 End,0)) MI,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MT Else 0 End,0)) MT,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MU Else 0 End,0)) MU,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.MO Else 0 End,0)) MO,
		/*******Female*******************/    									
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FW Else 0 End,0)) FW,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FB Else 0 End,0)) FB,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FH Else 0 End,0)) FH,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FP Else 0 End,0)) FP,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FA Else 0 End,0)) FA,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FI Else 0 End,0)) FI,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FT Else 0 End,0)) FT,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FU Else 0 End,0)) FU,
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.FO Else 0 End,0)) FO,
									   
		Sum(ISNULL(Case When p.EarningCode = p.PayRange Then p.TOTAL Else 0 End,0)) TOTAL
	From
	payRange p
	Inner Join #tmpEarningCodes e On e.Id = p.PayRange
	Group By p.PayRange, e.Descr, p.SortKey,p.EEOJobCat,p.EEOJobCatDescr,p.[StandardDescr],p.StandardType,p.DivisionDescr,p.LocationDesc,p.ProgramDesc,p.DeptIdDesc
/********************************Begin RecType = 1 (Employee Hours)*****************************************************************/


END

--Table 0
SELECT 
		ds.SortKey, ds.EEOJobCat, ds.EEOJobCatDescr, ds.StandardDescr, ds.StandardType, ds.DivisionDescr, ds.LocationDesc, ds.ProgramDesc, ds.DeptIdDesc,    
		SUM(ds.MW) AS MW,  SUM(ds.MB) AS MB,  SUM(ds.MH) AS MH,  SUM(ds.MP) AS MP,  SUM(ds.MA) AS MA,  SUM(ds.MI) AS MI,  SUM(ds.MT) AS MT,  SUM(ds.MU) AS MU,  SUM(ds.MO) AS MO,      
		SUM(ds.FW) AS FW,  SUM(ds.FB) AS FB,  SUM(ds.FH) AS FH,  SUM(ds.FP) AS FP,  SUM(ds.FA) AS FA,  SUM(ds.FI) AS FI,  SUM(ds.FT) AS FT,  SUM(ds.FU) AS FU,  SUM(ds.FO) AS FO,      
		SUM(ds.TOTAL) AS TOTAL        
	 FROM #tmpEEOData ds
	 GROUP BY     
	 SortKey,    
	 ds.EEOJobCat,    
	 ds.EEOJobCatDescr,    
	 ds.StandardDescr,    
	 ds.StandardType,    
	 ds.DeptIdDesc,    
	 ds.DivisionDescr,    
	 ds.LocationDesc,    
	 ds.ProgramDesc

--Table 1
Select *
From #tmpRecType

END TRY    
    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HREEOReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HREEOReport_proc'
GO
