USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_Vendor_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_Vendor_proc]
AS
BEGIN TRY
	DECLARE @InHsVendor [nvarchar](10) , @PoJcYn bit
	DECLARE @BaseCurrency [nvarchar](6) 
	DECLARE @TransTypePOInvoice nvarchar(10)
	DECLARE @TransTypeAPInvoice nvarchar(10)
	--Retrieve global values
	SELECT @InHsVendor = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'InHsVendor'
	SELECT @PoJcYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PoJcYn'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @TransTypePOInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOInvoice' -- 'POINVOICE'
	SELECT @TransTypeAPInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeAPInvoice' -- 'APINV'

	IF @PoJcYn IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SET @InHsVendor = ISNULL(@InHsVendor,'')

	CREATE TABLE #VendorBalance 
	(VendorId [nvarchar](10) NOT NULL,
	 SumOfGrossAmtDue [decimal](28,10) NULL,
	 Prepaid [decimal](28,10) NULL
	 )
	 
	CREATE TABLE #VendorLastInfo 
	(VendorId [nvarchar](10) NOT NULL,
	 InvoiceNum [nvarchar](15) NOT NULL,
	 InvoiceDate datetime NOT NULL,
	 LastPurchAmt [decimal](28,10) NULL
	 )

	CREATE TABLE #TransInfo
	(
	 VendorId [nvarchar](10) NOT NULL,
	 InvoiceNum [nvarchar](15) NOT NULL,
	 InvoiceDate datetime NOT NULL,
	 PurchAmt [decimal](28,10) NULL,
	 PurchAmtFgn [decimal](28,10) NOT NULL,
	 CurrencyId [nvarchar](6) NOT NULL,
	 TransKey nVarChar(255) NULL
	 )

	-- update vendor
	INSERT INTO #VendorBalance(VendorId,SumOfGrossAmtDue,Prepaid)
	SELECT i.VendorID
		   , SUM(CASE WHEN i.[Status] < 3
				THEN	CASE WHEN v.CurrencyId=@BaseCurrency THEN i.GrossAmtDue
						ELSE CASE WHEN i.CurrencyId=v.CurrencyId THEN i.GrossAmtDueFgn
							 ELSE ROUND( i.GrossAmtDueFgn * et.Rate,et.CurrDecPlaces)
						END  END
				ELSE 0 END) SumOfGrossAmtDue 
		   ,SUM(CASE WHEN i.[Status] = 3 
				THEN CASE WHEN v.CurrencyId=@BaseCurrency THEN i.GrossAmtDue
						ELSE CASE WHEN i.CurrencyId=v.CurrencyId THEN i.GrossAmtDueFgn
							 ELSE ROUND( i.GrossAmtDueFgn * et.Rate,et.CurrDecPlaces)
						END  END
				ELSE 0 END) Prepaid
	FROM dbo.tblApOpenInvoice  i
	INNER JOIN
			(SELECT h.VendorId FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransId WHERE (@PoJcYn = 0 OR h.VendorID <> @InHsVendor) GROUP BY h.VendorId) f
		ON i.VendorId=f.VendorID
	INNER JOIN tblApVendor v on i.VendorID=v.VendorID
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypeAPInvoice) et
		ON  et.[Source] =i.CurrencyID  AND et.Destination= v.CurrencyId AND et.TransKey= CAST(i.[Counter] AS nvarchar(255))
	 
	WHERE i.Status < 4	
	GROUP BY i.VendorID 
		
	-- Raise Invalid Exchange rate exception

	IF EXISTS( SELECT VendorId  FROM #VendorBalance WHERE (SumOfGrossAmtDue IS NULL OR Prepaid IS NULL))
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	UPDATE  tblApVendor  SET GrossDue= b.SumOfGrossAmtDue, Prepaid= b.Prepaid
	FROM #VendorBalance b
	WHERE tblApVendor.VendorID= b.VendorID


	INSERT INTO #TransInfo (VendorId,InvoiceNum,InvoiceDate,PurchAmt,PurchAmtFgn,CurrencyId,TransKey)
	SELECT  h.VendorId,t.InvcNum,t.InvcDate,
			t.CurrTaxable + t.CurrNonTaxable + t.CurrSalesTax + t.CurrFreight + t.CurrMisc + t.CurrTaxAdjAmt,
			t.CurrTaxablefgn + t.CurrNonTaxablefgn + t.CurrSalesTaxfgn + t.CurrFreightfgn + t.CurrMiscfgn + t.CurrTaxAdjAmtfgn
			,h.CurrencyId,t.ID
	FROM #PostTransList i INNER JOIN dbo.tblPoTransHeader h ON i.TransId = h.TransID 
			INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId
	WHERE (@PoJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.TransType > 0 AND ((t.CurrTaxablefgn + t.CurrNonTaxablefgn + t.CurrSalesTaxfgn + t.CurrFreightfgn + t.CurrMiscfgn + t.CurrTaxAdjAmtfgn) <> 0)

	INSERT INTO #VendorLastInfo (VendorId,InvoiceNum,InvoiceDate) 
	SELECT h.VendorId,MAX(h.InvoiceNum),h.InvoiceDate
	FROM #TransInfo h INNER JOIN (SELECT VendorId,MAX(InvoiceDate) InvoiceDate
		FROM #TransInfo GROUP BY VendorId) t 
		ON h.VendorId = t.VendorId and h.InvoiceDate = t.InvoiceDate 
	GROUP BY h.VendorId,h.InvoiceDate



	UPDATE  #VendorLastInfo
	SET LastPurchAmt= CASE WHEN Vendor.CurrencyId=@BaseCurrency THEN h.PurchAmt
						ELSE CASE WHEN Vendor.CurrencyId=h.CurrencyId THEN h.PurchAmtFgn
							 ELSE ROUND( h.PurchAmtFgn * et.Rate,et.CurrDecPlaces)
						END  END
	FROM  #VendorLastInfo v
	INNER JOIN #TransInfo h ON v.VendorId = h.VendorId AND v.InvoiceNum = h.InvoiceNum AND v.InvoiceDate = h.InvoiceDate 
	LEFT JOIN dbo.tblApVendor Vendor ON  Vendor.VendorId = v.VendorId 
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypePOInvoice) et
				ON  et.[Source] =h.CurrencyID  AND et.Destination=  Vendor.CurrencyId AND et.TransKey=h.TransKey



	-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT VendorId FROM #VendorLastInfo WHERE LastPurchAmt IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	UPDATE dbo.tblApVendor 
	SET LastPurchDate = v.InvoiceDate, LastPurchNum = v.InvoiceNum,
		LastPurchAmt =v.LastPurchAmt
	FROM dbo.tblApVendor Vendor INNER JOIN #VendorLastInfo v ON  Vendor.VendorId = v.VendorId 
	WHERE (LastPurchDate IS NULL OR LastPurchDate < v.InvoiceDate) 


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_Vendor_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_Vendor_proc'
GO
