USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickingListDtl_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickingListDtl_proc]
	@PrintBinQty BIT = 1,
	@UseContainer BIT = 0, 
	@PrintKitDetail bit = 0
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #PicksInfo(
		SourceId TINYINT NOT NULL,
		TransId [nvarchar](8) NOT NULL,
		EntryNum bigInt NOT NULL,
		SeqNum Int NOT NULL,
		AssignedTo [nvarchar](11) NULL,
		PickDate DATETIME NULL,
		ItemId [nvarchar](24) NULL,
		LocId [nvarchar](10) NULL,
		LotNum [nvarchar](16) NULL,
		UOM [nvarchar](5) NULL,
		QtyReq [decimal](28,10) NULL,
		ReqDate DATETIME NULL,
		Ref1 [nvarchar](8) NULL,
		Ref2 [nvarchar](8) NULL,
		Ref3 [nvarchar](8) NULL,
		PickID NVARCHAR(20) NULL,
		ProductLine NVARCHAR(12) NULL,
		ExtLocA INT NULL,
		ExtLocAID NVARCHAR(10) NULL,
		ExtLocBID NVARCHAR(10) NULL, 
		KitId [nvarchar](24) NULL,
		ZoneID NVARCHAR(10) NULL,
		Descr NVARCHAR(35) NULL
	)

	CREATE TABLE #qtyOnHand(
		Qty [decimal](28,10) NULL,
		ExtLocA INT NULL,
		ExtLocB INT NULL,
		ItemId [nvarchar](24) NULL,
		LocId [nvarchar](10) NULL
	)

	INSERT INTO #PicksInfo (SourceId, TransId, EntryNum, SeqNum, AssignedTo, PickDate, ItemId, LocId, LotNum, UOM, QtyReq, ReqDate, Ref1,
							Ref2, Ref3, PickID, ProductLine, ExtLocA, ExtLocAID, ExtLocBID, KitId, ZoneID, Descr)
	SELECT  pick.SourceId,
			pick.TransId,
			Pick.EntryNum,
			Pick.SeqNum,
			info.AssignedTo,
			info.PickDate,
			pick.ItemId,
			pick.LocId,
			pick.LotNum,
			pick.UOM,
			pick.QtyReq,
			pick.ReqDate,
			pick.Ref1,
			pick.Ref2,
			pick.Ref3,
			pick.PickID,
			item.ProductLine,
			pick.ExtLocA,
			locA.ExtLocID,
			locB.ExtLocID, 
			pick.KitId,
			locA.ZoneID,
			item.Descr
	FROM #PickIDs list
	INNER JOIN dbo.tblWmPick_Gen pick ON list.Id = pick.PickID
	INNER JOIN dbo.tblWmPickInfo info ON info.Id = pick.PickID
	LEFT JOIN dbo.tblInItem item ON item.ItemId = pick.ItemId
	LEFT JOIN dbo.tblWmExtLoc locA ON locA.Id = pick.ExtLocA AND locA.Type = 0
	LEFT JOIN dbo.tblWmExtLoc locB ON locB.Id = pick.ExtLocB AND locB.Type = 1
	LEFT JOIN  (SELECT SUM(p.QtyPicked) QtyPacked, p.SourceId, p.TransId, p.EntryNum, p.SeqNum
				FROM dbo.tblWmPick p
				WHERE p.Type = 2 AND (p.Status IN (1 ,2))
				GROUP BY p.SourceId, p.TransId, p.EntryNum, p.SeqNum) packed
	ON pick.TransId = packed.TransId AND pick.EntryNum = packed.EntryNum AND pick.SourceId = packed.SourceId AND pick.SeqNum = packed.SeqNum
	WHERE ((pick.QtyReq - packed.QtyPacked) > 0 OR packed.QtyPacked IS NULL) 
			AND (pick.GrpId IS NULL 
					OR (pick.GrpId IS NOT NULL 
						AND ((@PrintKitDetail = 1) OR (@PrintKitDetail = 0 AND pick.KitId = pick.ItemId))))

	SELECT  SourceId,
			TransId,
			EntryNum,
			SeqNum,
			AssignedTo,
			PickDate,
			ItemId,
			LocId,
			LotNum,
			UOM,
			QtyReq,
			ReqDate,
			Ref1,
			Ref2,
			Ref3,
			PickID,
			ProductLine,
			ExtLocAID,
			ExtLocBID,
			KitId,
			ZoneID,
			Descr
	FROM #PicksInfo


	IF (@UseContainer = 1) BEGIN

		INSERT INTO #qtyOnHand (Qty,ExtLocA,ExtLocB,ItemId,LocId) 
		SELECT SUM(qty.Qty) [Qty], qty.ExtLocA, qty.ExtLocB, qty.ItemId, qty.LocId
			FROM dbo.tblInQtyOnHand_Ext qty
		INNER JOIN (SELECT DISTINCT ItemId, LocId FROM #PicksInfo) pick ON pick.ItemId = qty.ItemId AND pick.LocId = qty.LocId
		GROUP BY qty.ExtLocA, qty.ExtLocB, qty.ItemId, qty.LocId
		UNION ALL
		SELECT SUM(1.0) [Qty], s.ExtLocA, s.ExtLocB, s.ItemId, s.LocID
			FROM dbo.tblInItemSer s
		INNER JOIN (SELECT DISTINCT ItemId, LocId FROM #PicksInfo) pick ON pick.ItemId = s.ItemId AND pick.LocId = s.LocId
		WHERE s.SerNumStatus IN (1, 8)
		GROUP BY s.ExtLocA, s.ExtLocB, s.ItemId, s.LocID

	END
	ELSE BEGIN

		INSERT INTO #qtyOnHand (Qty,ExtLocA,ExtLocB,ItemId,LocId) 
		SELECT SUM(qty.Qty) [Qty], qty.ExtLocA,NULL as ExtLocB, qty.ItemId, qty.LocId
			FROM dbo.tblInQtyOnHand_Ext qty
		INNER JOIN (SELECT DISTINCT ItemId, LocId FROM #PicksInfo) pick ON pick.ItemId = qty.ItemId AND pick.LocId = qty.LocId
		GROUP BY qty.ExtLocA, qty.ItemId, qty.LocId
		UNION ALL
		SELECT SUM(1.0) [Qty], s.ExtLocA,NULL as ExtLocB, s.ItemId, s.LocID
			FROM dbo.tblInItemSer s
		INNER JOIN (SELECT DISTINCT ItemId, LocId FROM #PicksInfo) pick ON pick.ItemId = s.ItemId AND pick.LocId = s.LocId
		WHERE s.SerNumStatus IN (1, 8)
		GROUP BY s.ExtLocA, s.ItemId, s.LocID

	END

	SELECT DISTINCT pick.PickID, pick.LocId, pick.ItemId, pick.UOM, pick.SourceId, pick.TransId, pick.EntryNum, pick.SeqNum,locA.ExtLocID, locA.ExtLocID as ExtLocA, locB.ExtLocID as ExtLocB, #qtyOnHand.Qty/(isnull(u.ConvFactor, 1.0)) [TotQty]
	FROM #PicksInfo pick
	LEFT JOIN #qtyOnHand ON pick.ItemId = #qtyOnHand.ItemId AND pick.LocId = #qtyOnHand.LocId
	LEFT JOIN dbo.tblWmExtLoc locA ON locA.Id = #qtyOnHand.ExtLocA
	LEFT JOIN dbo.tblWmExtLoc locB ON locB.Id = #qtyOnHand.ExtLocB
	LEFT JOIN dbo.tblInitemUom u ON pick.ItemId = u.ItemId AND pick.UOM = u.UOM
	WHERE #qtyOnHand.Qty > 0 AND @PrintBinQty = 1

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickingListDtl_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickingListDtl_proc'
GO
