USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_ApPaymentPost_GlLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[_RCG_trav_ApPaymentPost_GlLog_proc]


@UserId nvarchar(100)=null

AS
BEGIN TRY



	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @PrecCurr tinyint,@Multicurr bit, @WksDate datetime,@CompId nvarchar(3),
	@DiscountDescr nvarchar(30), @CashDescr nvarchar(30), @PostGainLossDtl bit, @ApDetail bit, @CreditCardDescr nvarchar(30)
	
	--get the defaults. not using all of the defaults listed, but keeping just in case
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @Multicurr = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @DiscountDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'DiscountDescr'
	SELECT @CashDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CashDescr'
	SELECT @PostGainLossDtl = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostGainLossDtl'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @ApDetail = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApDetail'
	SELECT @CreditCardDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CreditCardDescr'

	


DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQLCommand NVARCHAR(MAX);
declare @BankId nvarchar(10);
declare @LevelOfDetail nvarchar(25);

--figure out which bank account this post is for.  There should only be a single bank account for every posting
set @BankId = (select distinct top 1 d.BankId from #PaymentDetail d);

--now pull the intercompany information from the defaults record to get the company id to post to.  Should only be a single record per bank
set @DatabaseName = (select distinct top 1 WebCompId from _RCG_tblRcInterCompDefaultApPosting where bankId=@BankId);
set @LevelOfDetail = (select distinct top 1 LevelOfDetail from _RCG_tblRcInterCompDefaultApPosting where bankId=@BankId);

/*
, CASE WHEN d.InvoiceCurrency <> '''+convert(varchar,@CurrBase)+''' THEN 	(CASE WHEN -(i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) > 0 THEN -(i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) ELSE 0 END) 
	ELSE (CASE WHEN -(d.PaymentAmtBase) > 0 THEN -(d.PaymentAmtBase) ELSE 0 END) END
, CASE WHEN d.InvoiceCurrency <> '''+convert(varchar,@CurrBase)+''' THEN (CASE WHEN -(i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) < 0 THEN (i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) ELSE 0 END) 
	ELSE (CASE WHEN -(d.PaymentAmtBase) < 0 THEN (d.PaymentAmtBase) ELSE 0 END) END

, CASE WHEN d.InvoiceCurrency <> '''+convert(varchar,@CurrBase)+''' THEN (CASE WHEN (i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) > 0 THEN (i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) ELSE 0 END) 
	ELSE (CASE WHEN (d.PaymentAmtBase) > 0 THEN (d.PaymentAmtBase) ELSE 0 END) END
, CASE WHEN d.InvoiceCurrency <> '''+convert(varchar,@CurrBase)+''' THEN (CASE WHEN (i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) < 0 THEN -(i.GrossAmtDueFgn- CASE WHEN d.DiscTaken <> 0 THEN  i.DiscAmtFgn ELSE 0 END) ELSE 0 END) 
	ELSE (CASE WHEN (d.PaymentAmtBase) < 0 THEN -(d.PaymentAmtBase) ELSE 0 END) END

-- Trans Date was '''+convert(varchar,@WksDate)+'''
*/

IF @LevelOfDetail = 'Detail'
	BEGIN

	  --create gl records
	 SET @SQLCommand = 	N'insert into ['+@DatabaseName+'].dbo.tblGlTrans 
        (
		[TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
      ,[BatchId]
	  ,[CF]
	   )

        select	
	    NEWID()
	    ,'''+convert(varchar,@WksDate)+'''
	    ,d.PaymentDate
	    ,''AP InterCompany Post''
	    ,''M4''
	    , '''+convert(varchar,@CompId)+'''
	    , ic.GlCashAcctId
	    ,d.InvoiceCurrency
	    ,1
	    ,CASE WHEN -(d.PaymentAmtBase) > 0 THEN -(d.PaymentAmtBase) ELSE 0 END
		,CASE WHEN -(d.PaymentAmtBase) < 0 THEN (d.PaymentAmtBase) ELSE 0 END
		
		, d.FiscalYear
		, d.FiscalPeriod
	    ,0
	    ,0
	    ,1
	     ,'''+convert(varchar,@UserId)+'''
	    ,1
	    ,''######''
		,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@BankId)+'''),''CustomLinkId'',d.PaymentNum)
	    FROM #PaymentDetail d		
			INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
			LEFT JOIN dbo.tblSmBankAcct m ON d.BankID = m.BankId
			INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on m.BankId = ic.BankId


	insert into ['+@DatabaseName+'].dbo.tblGlTrans 
        ([TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
      ,[BatchId]
	  ,[CF]
	  )
        select	
	    NEWID()
	    ,'''+convert(varchar,@WksDate)+'''
	    ,d.PaymentDate
	    ,''AP InterCompany Post''
	    ,''M4''
	    , '''+convert(varchar,@CompId)+'''
	    , ic.InterCompGlAcctId
	    ,d.InvoiceCurrency
	    ,1
		,CASE WHEN (d.PaymentAmtBase) > 0 THEN (d.PaymentAmtBase) ELSE 0 END
		,CASE WHEN (d.PaymentAmtBase) < 0 THEN -(d.PaymentAmtBase) ELSE 0 END
		
		, d.FiscalYear
		, d.FiscalPeriod
	    ,0
	    ,0
	    ,1
	     ,'''+convert(varchar,@UserId)+'''
	    ,1
	    ,''######''
		,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@BankId)+'''),''CustomLinkId'',d.PaymentNum)
	    FROM #PaymentDetail d		
			INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
			LEFT JOIN dbo.tblSmBankAcct m ON d.BankID = m.BankId
			INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on m.BankId = ic.BankId '; 
	END
	ELSE BEGIN -- COMBINED
	  --create gl records
	 SET @SQLCommand = 	N'insert into ['+@DatabaseName+'].dbo.tblGlTrans 
        (
		[TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
      ,[BatchId]
	  ,[CF]
	   )

        select	
	    NEWID()
	    ,'''+convert(varchar,@WksDate)+'''
	    ,max(d.PaymentDate)
	    ,''AP InterCompany Post''
	    ,''M4''
	    , '''+convert(varchar,@CompId)+'''
	    , ic.GlCashAcctId
	    ,d.InvoiceCurrency
	    ,1
	    ,CASE WHEN -(SUM(d.PaymentAmtBase)) > 0 THEN -(SUM(d.PaymentAmtBase)) ELSE 0 END
		,CASE WHEN -(SUM(d.PaymentAmtBase)) < 0 THEN (SUM(d.PaymentAmtBase)) ELSE 0 END
		
		, d.FiscalYear
		, d.FiscalPeriod
	    ,0
	    ,0
	    ,1
	     ,'''+convert(varchar,@UserId)+'''
	    ,1
	    ,''######''
		,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@BankId)+'''),''CustomLinkId'',''Combined'')
	    FROM #PaymentDetail d		
			INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
			LEFT JOIN dbo.tblSmBankAcct m ON d.BankID = m.BankId
			INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on m.BankId = ic.BankId
			GROUP BY ic.GlCashAcctId, d.InvoiceCurrency, d.FiscalYear, d.FiscalPeriod


	insert into ['+@DatabaseName+'].dbo.tblGlTrans 
        ([TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
      ,[BatchId]
	  ,[CF]
	  )
        select	
	    NEWID()
	    ,'''+convert(varchar,@WksDate)+'''
	    ,max(d.PaymentDate)
	    ,''AP InterCompany Post''
	    ,''M4''
	    , '''+convert(varchar,@CompId)+'''
	    , ic.InterCompGlAcctId
	    ,d.InvoiceCurrency
	    ,1
		,CASE WHEN (SUM(d.PaymentAmtBase)) > 0 THEN (SUM(d.PaymentAmtBase)) ELSE 0 END
		,CASE WHEN (SUM(d.PaymentAmtBase)) < 0 THEN -(SUM(d.PaymentAmtBase)) ELSE 0 END
		
		, d.FiscalYear
		, d.FiscalPeriod
	    ,0
	    ,0
	    ,1
	     ,'''+convert(varchar,@UserId)+'''
	    ,1
	    ,''######''
		,dbo.fncUpdateCustomField(dbo.fncUpdateCustomField('''',''CustomLinkSubId'','''+convert(varchar,@BankId)+'''),''CustomLinkId'',''Combined'')
	    FROM #PaymentDetail d		
			INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
			LEFT JOIN dbo.tblSmBankAcct m ON d.BankID = m.BankId
			INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on m.BankId = ic.BankId 
			GROUP BY ic.InterCompGlAcctId, d.InvoiceCurrency, d.FiscalYear, d.FiscalPeriod '; 
	END



   -- select @SQLCommand
   EXEC sp_executesql @SQLCommand;
	
 

		

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApPaymentPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApPaymentPost_GlLog_proc'
GO
