USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaEmpHistEarnAmount_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaEmpHistEarnAmount_proc]
@employeeId pEmpId,
@paYear SMALLINT,
@earnCode pCode,
@paMonth TINYINT = NULL
AS
BEGIN TRY
	SET NOCOUNT ON
	SELECT SUM([Amount]) AS [Amount] FROM [dbo].[tblPaEmpHistEarn] 
	WHERE [EmployeeId] = @employeeId AND [PaYear] = @paYear 
	AND [PaMonth]= ISNULL(@paMonth,[PaMonth]) 
	AND [EarningCode] = @earnCode
END TRY
BEGIN CATCH
	EXEC [dbo].[trav_RaiseError_proc]
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmpHistEarnAmount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmpHistEarnAmount_proc'
GO
