USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcAck_ExportAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcAck_ExportAPT_proc]  
@PostRun [nvarchar](14) ='',
@TotCount int = 0 OUT
AS

SET NOCOUNT ON

BEGIN TRY
	DECLARE @I int,
		@CurrFilePath nvarchar(500), 
		@CurrPartnerId bigInt,  
		@CurrPartnerName nvarchar(100),
		@CurrPoId bigint,
		@CurrEcCommId bigint,
		@CurrCustPoNum nvarchar(75),
		@CurrReceiverId  nvarchar(20),
		@CurrSoId [nvarchar](8),
		@DocID bigint,
		@EdiDocNum nvarchar(3),
		@EOL nvarchar(5),
		@GSControlNum nvarchar(15),
		@HandleLog bit = 0,
		@HistYn bit,
		@ISAControlNum nvarchar(15),
		@lastExportLogId bigint,
		@lastMailControlId bigint,
		@SendDate nvarchar(8),
		@SendTime nvarchar(4),
		@STControlNum nvarchar(15),
		@TestModeYN BIT,
		@UserID [nvarchar](20),  
		@Version nvarchar(10),
		@WrkStnID [nvarchar](20),
		@IMPDocID bigint,
		@Count855 tinyint

	SELECT @DocID = ID  
	FROM dbo.tblEcDocument WHERE DocId = '855-O'

	SELECT @IMPDocID = ID  
	FROM dbo.tblEcDocument WHERE DocId = '850-I'

	IF OBJECT_ID('tempdb..#tmpExportLog') IS NOT NULL  
		SET @HandleLog = 1 

	SELECT @EdiDocNum = EdiDocNum
	FROM dbo.tblEcDocument WHERE ID = @DocId

	SET @TestModeYN=0
	SET @EOL='?^?^'

	SELECT @SendDate=CONVERT(varchar,GETDATE(),112),  
	   @SendTime =REPLACE(LEFT(CONVERT(varchar,getdate(),108),5),':','')  

	SELECT @UserID = [Value] FROM #GlobalValues WHERE [Key] = 'UserID'  
	   SELECT @WrkStnID= [Value] FROM #GlobalValues WHERE [Key] = 'WrkStnID'  

	DELETE FROM dbo.tblEcTempExport WHERE DocID=@DocID  
   
	DELETE FROM dbo.tblEcACKExportLog  

	CREATE TABLE #TranTmp (ID int IDENTITY(1,1),
			PostRun [nvarchar](14) NULL,
			PartnerId bigint, 
			CustId nvarchar(24) NULL,
			CustPONum varchar(75) NULL, 
			PoID bigint, 
			SoID [nvarchar](8) NULL,	
			EcCommId bigint,
			HistYn bit,
			PartnerDescr nvarchar(12) NULL,
			MailID nvarchar(20) NULL, 
			TPCode nvarchar(12),
			ARShipToID nvarchar(12))	

	CREATE TABLE #TransHeaderStatus (ID int IDENTITY(1,1),
		PoID bigint, 
		HeaderStatus nvarchar(2) NULL)

	CREATE TABLE #TransDetailStatus (ID int IDENTITY(1,1),
		PoID bigint, 
		PoDetailID bigint, 
		LineItemStatus nvarchar(2) NULL)


	--select all valid PO transactions to acknowledge
	INSERT INTO #TranTmp (PostRun, PartnerId, CustPONum, PoID, SoID, HistYn, CustId, EcCommId, ARShipToID)
	SELECT @PostRun, p.PartnerId, p.CustPONum, p.Id, CASE WHEN HistYn = 0 THEN NULL ELSE C.DocKey END, p.HistYn, p.CustID, c.Id, p.ARShipToID
	FROM dbo.tblEcComm c
	INNER JOIN 
	(SELECT PartnerId, CustPONum, Id, ImportDate, CASE WHEN DeleteDate IS NOT NULL THEN 0 ELSE 1 END HistYn, CustID, ARShipToID FROM dbo.tblEcPoHistHeader) p ON c.Id = p.Id AND c.DocID = 4 AND c.OnHoldYn = 0
	INNER JOIN dbo.tblEcPartnerDoc pd ON pd.PartnerID = p.PartnerId AND pd.DocID = c.DocID AND pd.ActiveYN=1 --Future review: AND ((c.Status = 0 AND DATEADD(HOUR, pd.ProcessLeadTime, p.ImportDate) <= GETDATE()) OR (c.Status = 1 AND pd.SentMode = 1))

	--get mail ID
	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
	WHERE d.DocID = @DocID AND d.MailIDKeyType = 0 --No Override

	UPDATE #TranTmp SET MailID = m.SenderID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblEcMailControl m ON t.CustPONum = m.DocKey AND t.PartnerId = m.PartnerId
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND m.DocID = @IMPDocID AND d.MailIDKeyType = 90 --FromInbound, '850-I' 

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND d.DocID = o.DocID AND t.ARShipToID = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND d.MailIDKeyType = 1 --ARShipToId, '856-O'
	
	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND t.ARShipToID = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND o.DocID = @IMPDocID AND d.MailIDKeyType = 1 --ARShipToId, '850-I'  

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblArShipTo a ON t.CustId = a.CustId AND t.ARShipToID = a.ShiptoId
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND d.DocID = o.DocID AND a.EDIShipToCode = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND d.MailIDKeyType = 2 --ShipToCode, '856-O'  

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblArShipTo a ON t.CustId = a.CustId AND t.ARShipToID = a.ShiptoId
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND a.EDIShipToCode = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND o.DocID = @IMPDocID AND d.MailIDKeyType = 2 --ShipToCode, '850-I'    

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
	WHERE t.MailID IS NULL AND d.DocID = @DocID --Default

	--get TP Code
	UPDATE #TranTmp SET TPCode = m.TPCode
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblEcMailControl m ON t.CustPONum = m.DocKey AND t.PartnerId = m.PartnerId 
	WHERE d.DocID = @DocID AND m.DocID = @IMPDocID AND d.MailIDKeyType = 90 --FromInbound, '850-I' 

	--Get header status of transactions (SO not generated)
	INSERT INTO #TransHeaderStatus(PoID,HeaderStatus)
	SELECT t.PoID, 'RJ'
	--CASE
	--	WHEN ISNULL(h.PartnerId, '') = '' THEN 'RJ'	--missing partner
	--	WHEN ISNULL(h.CustID, '') = '' THEN 'RJ'	--missing Customer
	--	WHEN p.ActiveYn = 0 THEN 'RJ' --Inactive partner
	--	WHEN pd.ActiveYN = 0 THEN 'RJ' --Inactive partner doc
	--	WHEN ISNULL(c.CustId,'') ='' THEN 'RJ' -- InValid customer
	--	WHEN c.Status =1 THEN 'RJ' -- Inactive customer
	--	ELSE 'AK'
	--END
	FROM #TranTmp t
	INNER JOIN dbo.tblEcPoHistHeader h (NOLOCK) ON t.PoID = h.id 
	--LEFT JOIN tblEcPartner p (NOLOCK) ON ISNULL(h.PartnerID, 0) = p.ID
	--LEFT JOIN tblEcPartnerDoc pd (NOLOCK)  ON ISNULL(h.PartnerID,'') = pd.PartnerID  AND pd.DocID = @IMPDocID
	--LEFT JOIN tblArCust c ON ISNULL(h.CustId,'')=c.CustId
	LEFT JOIN #TransHeaderStatus s ON s.PoID = h.Id
	WHERE h.DeleteDate IS NOT NULL AND s.ID IS NULL

	--Get lineitem status of transactions (SO not generated)
	INSERT INTO #TransDetailStatus(PoID, PoDetailID, LineItemStatus) 
	SELECT d.POHistHeaderID, d.Id, 
	CASE
		WHEN ISNULL(x.UIR, '') = '' THEN 'R1'							--Item Rejected, Not a Contract Item
		WHEN ISNULL(x.EDIUOM, '') <> ISNULL(d.POUnitsSell, '') THEN 'R3'--Item Rejected, Invalid Unit of Issue
		WHEN ISNULL(d.QtyOrd, 0) = 0 THEN 'IR'							--zero qty ord
		WHEN ISNULL(d.LocId, '') = '' THEN 'IR'							--missing location
		WHEN i.ItemStatus<>1 THEN 'IR'									--obsolete item
		WHEN ISNULL(il.ItemID, '') = '' THEN 'IR'						--item not found in location
		WHEN ISNULL(d.QtyOrd, 0)<>ISNULL(d.SOQtyOrdSell, 0) THEN 'IQ'	--Quantity Changed
		ELSE 'IR'														--Item Accepted
	END
	FROM #TranTmp t
	INNER JOIN dbo.tblEcPoHistDetail d ON d.POHistHeaderID = t.PoID
	INNER JOIN dbo.tblEcPoHistHeader h ON h.Id = d.POHistHeaderID
	LEFT JOIN dbo.tblEcPartnerItemXRef x ON x.PartnerID = h.PartnerId AND x.UIR = d.ItemUir AND d.POUnitsSell = x.EDIUOM
	LEFT JOIN dbo.tblInItem i ON i.ItemId = d.ItemID
	LEFT JOIN dbo.tblInItemLoc il ON il.ItemId = d.ItemID AND il.LocId = d.LocId
	LEFT JOIN #TransDetailStatus s ON s.PoDetailID = d.Id
	WHERE h.DeleteDate IS NOT NULL AND s.ID IS NULL

	--Get lineitem status of transactions (SO generated)
	INSERT INTO #TransDetailStatus(PoID, PoDetailID, LineItemStatus) 
	SELECT phd.PoHistHeaderID, phd.Id, 
	CASE
		WHEN sd.[Status] = 1 AND sd.TotQtyShipSell = 0 THEN 'IR' 
		--WHEN (ISNULL(sd.TotQtyShipSell, 0) + ISNULL(sd.QtyShipSell, 0)) >= ISNULL(sd.TotQtyOrdSell, 0) THEN 'AC'--Item Accepted and Shipped
		WHEN ISNULL(sd.TotQtyOrdSell, 0) <> ISNULL(phd.QtyOrd, 0) THEN 'IQ'										--Quantity Changed
		WHEN (ISNULL(sd.QtyShipSell, 0) > 0 AND ISNULL(sd.QtyBackordSell, 0) > 0) THEN 'BP'						--Partial Shipment, Balance Backordered
		WHEN (ISNULL(sd.QtyShipSell, 0) = 0 AND ISNULL(sd.QtyBackordSell, 0) > 0) THEN 'IB'						--Item Backordered
		WHEN ISNULL(sd.UnitPriceSellFgn, 0) <> ISNULL(phd.UnitPrice, 0) THEN 'IP'								--Item Accepted - Price Changed
		ELSE 'IA'																								--Item Accepted
	END
	FROM #TranTmp t
	INNER JOIN dbo.tblEcPoHistDetail phd ON phd.PoHistHeaderID = t.PoID
	INNER JOIN dbo.tblEcPoSoTransDetail psd ON psd.PoSoHeaderID = phd.PoHistHeaderID AND psd.PoLineNum = phd.PoLineNum
	INNER JOIN dbo.tblSoTransDetail sd ON sd.TransID = psd.SOTransID AND sd.EntryNum = psd.SOEntryNum
	LEFT JOIN #TransDetailStatus s ON s.PoDetailID = phd.Id
	WHERE s.ID IS NULL

	UPDATE #TransHeaderStatus SET HeaderStatus ='RJ' 
	FROM #TransHeaderStatus s			
	INNER JOIN 
	(
		SELECT poid FROM #TransDetailStatus WHERE LineItemStatus IN ('R1','R3','IR') GROUP BY PoID 
	)A ON s.PoID= A.PoID

	SELECT @I=MIN(ID) FROM #TranTmp  

	--loop through #TranTmp and create acknowledgement records
	WHILE @I<>0
	BEGIN
		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'IS',@ISAControlNum OUT
		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'GS',@GSControlNum OUT
		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'ST',@STControlNum OUT 

		SELECT @Version=DocVersion
		FROM  dbo.tblEcPartnerDoc WHERE PartnerId=@CurrPartnerID AND DocId=@DocID

		SELECT @CurrPoId = PoID, @CurrSoId = SoID, @CurrPartnerId = PartnerId, @CurrCustPoNum = CustPONum, @HistYn = HistYn, @CurrEcCommId = EcCommId, @CurrReceiverId = MailID, @CurrPartnerName = TPCode
		FROM #TranTmp WHERE ID = @I

		SELECT @CurrFilePath=''   
		  EXEC dbo.trav_EcGetFileOutbound_proc @PartnerId = @CurrPartnerID, @DocId = @DocId, @PostRun = @PostRun, @MapID = '', @KeyValue = @CurrPoId, @FilePathOut = @CurrFilePath OUT  
		  SET @CurrFilePath=ISNULL(@CurrFilePath,'')  

		IF (ISNULL(@CurrPartnerName,'') = '')
			SELECT @CurrPartnerName =  PartnerID FROM tblEcPartner where ID= @CurrPartnerId

		-- count for first time sent (Transaction Purpose Code)
		IF @HistYn = 0
			SELECT @Count855 = ISNULL(COUNT(*),0) FROM dbo.tblEcPoHistHeader h LEFT JOIN #TransHeaderStatus s ON s.PoID = h.Id INNER JOIN dbo.tblEcMailControl m ON h.PartnerId = m.PartnerId AND h.CustPONum = m.DocAddnlRef1 AND m.EdiDocNum = '855' WHERE h.Id = @CurrPoId AND h.DeleteDate IS NOT NULL
		ELSE
			SELECT @Count855 = ISNULL(COUNT(*),0) FROM dbo.tblEcPoHistHeader h LEFT JOIN #TransHeaderStatus s ON s.PoID = h.Id INNER JOIN dbo.tblEcMailControl m ON h.PartnerId = m.PartnerId AND h.CustPONum = m.DocAddnlRef1 AND m.EdiDocNum = '855' WHERE h.Id = @CurrPoId AND h.DeleteDate IS NULL
		
		IF @HistYn = 0		--(SO not generated)
		BEGIN
			--insert header records
			INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],  
			[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],  
			[Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],  
			[Fld31],[fld32],[Fld33],[fld34],[fld35],[Fld36],[fld37],[Fld38],[Fld39],[Fld40],  
			[Fld41],[Fld42],[Fld43],[Fld44],[Fld45],[Fld46],[Fld47],[Fld48],[Fld49],[Fld50],[Fld51],FilePath,UserId,WrkStnId)
			SELECT @PostRun PostRun, @DocID, 
				'HDR' RecType,
				@CurrPoId,		--[sort1]
				'1',		--[sort2]
				'HDR' HDR,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				@CurrReceiverId ReceiverID,		--[Fld03]
				'' SenderID,		--[Fld04]
				CASE @Count855 WHEN 0 THEN '00' ELSE '08' END TranactionPurposeCode,		--[Fld05]
				@EdiDocNum Document,		--[Fld06]
				h.CustPONum PONumber,		--[Fld07]
				CONVERT(nvarchar,h.PODate,112) PODate,		--[Fld08]
				h.EDIDepartment DepartmentNumber,		--[Fld09]
				ISNULL(LEFT(x.ProviderCode, 80), 'RJ') AcceptRejectFlag,		--[Fld10]
				h.EDIVendorNumber Vendor,		--[Fld11]
				CONVERT(nvarchar,h.ReqShipDate,112) ShipNotBeforeDate,		--[Fld12]
				h.EDIShipToCode ShipTo,		--[Fld13]
				h.EDIBillToCode BillTo,		--[Fld14]
				CONVERT(nvarchar,h.CancelDate,112) CancelDate,		--[Fld15]
				'' VendorName,		--[Fld16]
				h.ReleaseNumber ContractNum,		--[Fld17]
				h.ShipToName ShipToName,		--[Fld18]
				ISNULL(h.ShipToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(h.ShipToAddr2, CHAR(13),''),CHAR(10),''),'') ShipToAddr,		--[Fld19]	
				h.ShipToCity ShipToCity,		--[Fld20]
				h.ShipToRegion ShipToState,		--[Fld21]
				h.ShipToPostalCode ShipToZip,		--[Fld22]
				h.BillToName BillToName,		--[Fld23]
				ISNULL(h.BillToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(h.BillToAddr2, CHAR(13),''),CHAR(10),''),'') BillToAddr,		--[Fld24]
				h.BillToCity BillToCity,		--[Fld25]
				h.BillToRegion BillToState,		--[Fld26]
				h.BillToPostalCode BillToZip,		--[Fld27]
				h.EDIShipToCode BuyingPartyID,		--[Fld28]
				h.ShipToName BuyingPartyName,		--[Fld29]
				'' VendorOrderNumber,		--[Fld30]
				@SendDate AckDate,		--[Fld31]
				'' VendorDuns,		--[Fld32]
				'' CurrencyCode,		--[Fld33]
				h.ShipToCountry ShipToCountry,		--[Fld34]
				'' RejectDesc,		--[Fld35]
				@CurrReceiverId ReceiverID,		--[Fld36]
				'' LoadPlanning,		--[Fld37]
				'' DeliveryContact,		--[Fld38]
				'' DeliveryEmail,		--[Fld39]
				'' RequestPickupDate,		--[Fld40]
				'' LadingQty,		--[Fld41]
				'' Weights,		--[Fld42]
				'' Volume,		--[Fld43]
				'' ShipFromLocation,		--[Fld44]
				'' ShipFromName,		--[Fld45]
				'' ShipFromAddress1,		--[Fld46]
				'' ShipFromCity,		--[Fld47]
				'' ShipFromState,		--[Fld48]
				'' ShipFromZipCode,		--[Fld49]
				'' HashTotal,		--[Fld50]
				@EOL,
				@CurrFilePath,
				@UserID,
				@WrkStnID
			FROM dbo.tblEcPoHistHeader h
			LEFT JOIN #TransHeaderStatus s ON s.PoID = h.Id
			LEFT JOIN 
			(
			SELECT PartnerID, ProviderCode FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0 AND CodeType = 1
			) x ON h.PartnerID = x.PartnerID
			WHERE h.Id = @CurrPoId

			--insert detail records
			INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],  
			[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],  
			[Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],FilePath,UserId,WrkStnId)
			SELECT @PostRun PostRun, @DocID, 
				'DTL' RecType,
				@CurrPoId,		--[sort1]
				'2',		--[sort2]
				'DTL' DTL,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				'' Filler,		--[Fld03]
				d.CustPoNum PONumber,		--[Fld04]
				'' StoreNumber,		--[Fld05]
				d.PoLineNum LineNumber,		--[Fld06]
				d.ItemVendorCode VendorStyle,		--[Fld07]
				d.ItemUPC UPCCode,		--[Fld08]
				d.ItemBuyerCode BuyersSKU,		--[Fld09]
				COALESCE(ix.ItemDescr, i.Descr, d.ItemDescr) ItemDescr,		--[Fld10]
				'' ItemColor,		--[Fld11]
				'' ItemSize,		--[Fld12]
				CAST(d.QtyOrd as decimal(20,2)) QtyOrdered,		--[Fld13]
				d.POUnitsSell UOMQtyOrdered,		--[Fld14]
				CAST(d.UnitPrice as decimal(20,2)) UnitPrice,		--[Fld15]
				s.LineItemStatus LineItemStatusCode,		--[Fld16]
				'' DeliveryDate,		--[Fld17]
				CAST(d.QtyOrd as decimal(20,2)) QtyOfChange,		--[Fld18]
				d.POUnitsSell UOMQtyOfChage,		--[Fld19]
				'QT' PriceBasis,		--[Fld20]      
				'' ScheduleId,		--[Fld21]
				'' ShipDueDate,		--[Fld22]
				'' StockKeepingUnit,		--[Fld23]
				'' PrepackSpec,		--[Fld24]
				'' FGLPack,		--[Fld25]
				'' ACKDesc,		--[Fld26]
				'' CustomerOrder,		--[Fld27]
				@EOL,  
				@CurrFilePath,  
				@UserId,              
				@WrkStnId    
			FROM dbo.tblEcPoHistDetail d INNER JOIN dbo.tblEcPoHistHeader h ON d.PostRun=h.PostRun AND d.PoHistHeaderID = h.Id
			LEFT JOIN #TransDetailStatus s ON s.PoDetailID = d.Id
			LEFT JOIN 
			(
			SELECT PartnerID, [Options] FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0 AND CodeType = 1
			) x ON h.PartnerID = x.PartnerID 
			LEFT JOIN  dbo.tblEcPartnerItemXref ix ON h.PartnerId = ix.PartnerID AND d.ItemUir = ix.UIR AND d.POUnitsSell = ix.EDIUOM
			LEFT JOIN dbo.tblInItem i ON ix.TravItemId = i.ItemId
			WHERE d.POHistHeaderID = @CurrPoId AND ISNULL(x.[Options], 1) = 1

		END
		ELSE		--(SO generated)
		BEGIN
			--insert header records
			INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],  
			[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],  
			[Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],  
			[Fld31],[fld32],[Fld33],[fld34],[fld35],[Fld36],[fld37],[Fld38],[Fld39],[Fld40],  
			[Fld41],[Fld42],[Fld43],[Fld44],[Fld45],[Fld46],[Fld47],[Fld48],[Fld49],[Fld50],[Fld51],FilePath,UserId,WrkStnId)
			SELECT @PostRun PostRun, @DocID, 
				'HDR' RecType,
				@CurrPoId,		--[sort1]
				'1',		--[sort2]
				'HDR' HDR,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				@CurrReceiverId ReceiverID,		--[Fld03]
				'' SenderID,		--[Fld04]
				CASE @Count855 WHEN 0 THEN '00' ELSE '08' END TranactionPurposeCode,		--[Fld05]
				@EdiDocNum Document,		--[Fld06]
				ph.CustPONum PONumber,		--[Fld07]
				CONVERT(nvarchar,ph.PODate,112) PODate,		--[Fld08]
				ph.EDIDepartment DepartmentNumber,		--[Fld09]
				--CASE WHEN sh.VoidYn = 0 THEN 'AK' ELSE 'RJ' END AcceptRejectFlag,		--[Fld10]
				ISNULL(LEFT(x.ProviderCode, 80), 'AK') AcceptRejectFlag,		--[Fld10]
				ph.EDIVendorNumber Vendor,		--[Fld11]
				CONVERT(nvarchar,ph.ReqShipDate ,112)ShipNotBeforeDate,		--[Fld12]
				ph.EDIShipToCode ShipTo,		--[Fld13]
				ph.EDIBillToCode BillTo,		--[Fld14]
				CONVERT(nvarchar,ph.CancelDate ,112) CancelDate,		--[Fld15]
				'' VendorName,		--[Fld16]
				ph.ReleaseNumber ContractNum,		--[Fld17]
				ph.ShipToName ShipToName,		--[Fld18]
				ISNULL(ph.ShipToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(ph.ShipToAddr2, CHAR(13),''),CHAR(10),''),'') ShipToAddr,		--[Fld19]	
				ph.ShipToCity ShipToCity,		--[Fld20]
				ph.ShipToRegion ShipToState,		--[Fld21]
				ph.ShipToPostalCode ShipToZip,		--[Fld22]
				ph.BillToName BillToName,		--[Fld23]
				ISNULL(ph.BillToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(ph.BillToAddr2, CHAR(13),''),CHAR(10),''),'') BillToAddr,		--[Fld24]
				b.City BillToCity,		--[Fld25]
				b.Region BillToState,		--[Fld26]
				b.PostalCode BillToZip,		--[Fld27]
				ph.EDIShipToCode BuyingPartyID,		--[Fld28]
				ph.ShipToName BuyingPartyName,		--[Fld29]
				sh.TransId VendorOrderNumber,		--[Fld30]
				@SendDate AckDate,		--[Fld31]
				'' VendorDuns,		--[Fld32]
				sh.CurrencyID CurrencyCode,		--[Fld33]
				ph.ShipToCountry ShipToCountry,		--[Fld34]
				'' RejectDesc,		--[Fld35]
				@CurrReceiverId ReceiverID,		--[Fld36]
				'' LoadPlanning,		--[Fld37]
				'' DeliveryContact,		--[Fld38]
				'' DeliveryEmail,		--[Fld39]
				'' RequestPickupDate,		--[Fld40]
				'' LadingQty,		--[Fld41]
				'' Weights,		--[Fld42]
				'' Volume,		--[Fld43]
				l.LocId ShipFromLocation,		--[Fld44]
				l.Descr ShipFromName,		--[Fld45]
				l.Addr1 ShipFromAddress1,		--[Fld46]
				l.City ShipFromCity,		--[Fld47]
				l.Region ShipFromState,		--[Fld48]
				l.PostalCode ShipFromZipCode,		--[Fld49]
				'' HashTotal,		--[Fld50]
				@EOL,
				@CurrFilePath,
				@UserID,
				@WrkStnID
			FROM dbo.tblEcPoHistHeader ph
			INNER JOIN dbo.tblEcPoSoTransHeader psh ON ph.Id = psh.POHeaderID AND ph.Id = @CurrPoId
			INNER JOIN dbo.tblSoTransHeader sh ON psh.SOTransId = sh.TransId AND sh.VoidYn = 0 
			INNER JOIN dbo.tblArCust b ON b.CustId = sh.CustId
			LEFT JOIN dbo.tblInLoc l ON sh.LocId = l.LocId			
			LEFT JOIN (	SELECT PoID, CASE WHEN SUM(CASE WHEN LineItemStatus = 'IA' THEN 1 ELSE 0 END) = COUNT(*) THEN 0 ELSE 2 END AS CodeType
				FROM #TransDetailStatus
				GROUP BY PoID) s ON s.PoID = ph.Id 
			LEFT JOIN 
			(
			SELECT PartnerID, ProviderCode, CodeType FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0
			) x ON x.PartnerID = psh.PartnerID AND s.CodeType = x.CodeType
			UNION ALL
			SELECT @PostRun PostRun, @DocID, 
				'HDR' RecType,
				@CurrPoId,		--[sort1]
				'1',		--[sort2]
				'HDR' HDR,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				@CurrReceiverId ReceiverID,		--[Fld03]
				'' SenderID,		--[Fld04]
				CASE @Count855 WHEN 0 THEN '00' ELSE '08' END TranactionPurposeCode,		--[Fld05]
				@EdiDocNum Document,		--[Fld06]
				ph.CustPONum PONumber,		--[Fld07]
				CONVERT(nvarchar,ph.PODate,112) PODate,		--[Fld08]
				ph.EDIDepartment DepartmentNumber,		--[Fld09]
				--CASE WHEN sh.VoidYn = 0 THEN 'AK' ELSE 'RJ' END AcceptRejectFlag,		--[Fld10]
				ISNULL(LEFT(x.ProviderCode, 80), 'RJ') AcceptRejectFlag,		--[Fld10]
				ph.EDIVendorNumber Vendor,		--[Fld11]
				CONVERT(nvarchar,ph.ReqShipDate ,112)ShipNotBeforeDate,		--[Fld12]
				ph.EDIShipToCode ShipTo,		--[Fld13]
				ph.EDIBillToCode BillTo,		--[Fld14]
				CONVERT(nvarchar,ph.CancelDate ,112) CancelDate,		--[Fld15]
				'' VendorName,		--[Fld16]
				ph.ReleaseNumber ContractNum,		--[Fld17]
				ph.ShipToName ShipToName,		--[Fld18]
				ISNULL(ph.ShipToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(ph.ShipToAddr2, CHAR(13),''),CHAR(10),''),'') ShipToAddr,		--[Fld19]	
				ph.ShipToCity ShipToCity,		--[Fld20]
				ph.ShipToRegion ShipToState,		--[Fld21]
				ph.ShipToPostalCode ShipToZip,		--[Fld22]
				ph.BillToName BillToName,		--[Fld23]
				ISNULL(ph.BillToAddr1,'') + ' ' + ISNULL(REPLACE(REPLACE(ph.BillToAddr2, CHAR(13),''),CHAR(10),''),'') BillToAddr,		--[Fld24]
				b.City BillToCity,		--[Fld25]
				b.Region BillToState,		--[Fld26]
				b.PostalCode BillToZip,		--[Fld27]
				ph.EDIShipToCode BuyingPartyID,		--[Fld28]
				ph.ShipToName BuyingPartyName,		--[Fld29]
				sh.TransId VendorOrderNumber,		--[Fld30]
				@SendDate AckDate,		--[Fld31]
				'' VendorDuns,		--[Fld32]
				sh.CurrencyID CurrencyCode,		--[Fld33]
				ph.ShipToCountry ShipToCountry,		--[Fld34]
				'' RejectDesc,		--[Fld35]
				@CurrReceiverId ReceiverID,		--[Fld36]
				'' LoadPlanning,		--[Fld37]
				'' DeliveryContact,		--[Fld38]
				'' DeliveryEmail,		--[Fld39]
				'' RequestPickupDate,		--[Fld40]
				'' LadingQty,		--[Fld41]
				'' Weights,		--[Fld42]
				'' Volume,		--[Fld43]
				l.LocId ShipFromLocation,		--[Fld44]
				l.Descr ShipFromName,		--[Fld45]
				l.Addr1 ShipFromAddress1,		--[Fld46]
				l.City ShipFromCity,		--[Fld47]
				l.Region ShipFromState,		--[Fld48]
				l.PostalCode ShipFromZipCode,		--[Fld49]
				'' HashTotal,		--[Fld50]
				@EOL,
				@CurrFilePath,
				@UserID,
				@WrkStnID
			FROM dbo.tblEcPoHistHeader ph
			INNER JOIN dbo.tblEcPoSoTransHeader psh ON ph.Id = psh.POHeaderID AND ph.Id = @CurrPoId
			INNER JOIN dbo.tblSoTransHeader sh ON psh.SOTransId = sh.TransId AND sh.VoidYn = 1 
			INNER JOIN dbo.tblArCust b ON b.CustId = sh.CustId
			LEFT JOIN dbo.tblInLoc l ON sh.LocId = l.LocId			
			LEFT JOIN #TransHeaderStatus s ON s.PoID = ph.Id 
			LEFT JOIN 
			(
			SELECT PartnerID, ProviderCode FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0 AND CodeType = 1
			) x ON x.PartnerID = psh.PartnerID


			--insert detail records
			INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],  
			[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],  
			[Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],FilePath,UserId,WrkStnId)
			SELECT @PostRun PostRun, @DocID, 
				'DTL' RecType,
				@CurrPoId,		--[sort1]
				'2',		--[sort2]
				'DTL' DTL,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				'' Filler,		--[Fld03]
				pd.CustPoNum PONumber,		--[Fld04]
				'' StoreNumber,		--[Fld05]
				pd.PoLineNum LineNumber,		--[Fld06]
				pd.ItemVendorCode VendorStyle,		--[Fld07]
				pd.ItemUPC UPCCode,		--[Fld08]
				pd.ItemBuyerCode BuyersSKU,		--[Fld09]
				CASE WHEN ISNULL(ix.ItemDescr,'')='' THEN ISNULL(i.Descr,'') ELSE ix.ItemDescr END ItemDescr,		--[Fld10]
				'' ItemColor,		--[Fld11]
				'' ItemSize,		--[Fld12]
				CAST(sd.TotQtyOrdSell - sd.TotQtyShipSell as decimal(20,2)) QtyOrdered,		--[Fld13]
				pd.POUnitsSell UOMQtyOrdered,		--[Fld14]
				CAST(sd.UnitPriceSell as decimal(20,2)) UnitPrice,		--[Fld15]
				CASE WHEN sh.VoidYn = 0 THEN s.LineItemStatus ELSE 'R1' END LineItemStatusCode,		--[Fld16]
				CONVERT(nvarchar,CASE WHEN s.LineItemStatus = 'IB' OR s.LineItemStatus = 'BP' THEN sd.ReqShipDate ELSE sd.ActShipDate END,112) DeliveryDate,		--[Fld17]
				CASE WHEN s.LineItemStatus = 'IB' OR s.LineItemStatus = 'BP' THEN sd.QtyBackordSell 
				ELSE CASE sd.Status 
					WHEN 1 -- line item completed 
						THEN CAST(sd.QtyShipSell as decimal(20,2)) 
					ELSE
						CASE WHEN sh.TransType IN (1,4,5)  -- invoice, verified, or picked
							THEN CAST(sd.QtyShipSell as decimal(20,2)) 
							ELSE CAST(sd.TotQtyOrdSell - sd.TotQtyShipSell as decimal(20,2)) -- qty needed
						END
					END END QtyOfChange,		--[Fld18] 
				pd.POUnitsSell UOMQtyOfChange,		--[Fld19]
				'QT' PriceBasis,		--[Fld20]
				'' ScheduleId,		--[Fld21]
				'' ShipDueDate,		--[Fld22]
				'' StockKeepingUnit,		--[Fld23]
				'' PrepackSpec,		--[Fld24]
				'' FGLPack,		--[Fld25]
				'' ACKDesc,		--[Fld26]
				'' CustomerOrder,		--[Fld27]
				@EOL,  
				@CurrFilePath,  
				@UserId,              
				@WrkStnId    
			FROM dbo.tblEcPoSoTransHeader psh
			INNER JOIN tblEcPoSoTransDetail psd ON psh.POHeaderID = psd.PoSoHeaderID AND psh.POHeaderID = @CurrPoId
			INNER JOIN dbo.tblEcPoHistDetail pd ON psd.PoDetailID = pd.Id AND pd.PoHistHeaderID = @CurrPoId
			INNER JOIN dbo.tblSoTransDetail sd ON sd.TransID = psd.SoTransId AND sd.EntryNum = psd.SOEntryNum
			INNER JOIN dbo.tblSoTransHeader sh ON sd.TransID = sh.TransId AND sh.VoidYn = 0
			LEFT JOIN #TransDetailStatus s ON s.PoDetailID = pd.Id
			LEFT JOIN (	SELECT PoID, CASE WHEN SUM(CASE WHEN LineItemStatus = 'IA' THEN 1 ELSE 0 END) = COUNT(*) THEN 0 ELSE 2 END AS CodeType
				FROM #TransDetailStatus
				GROUP BY PoID) xs ON xs.PoID = psh.POHeaderID
			LEFT JOIN 
			(
			SELECT PartnerID, [Options], CodeType FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0
			) x ON x.PartnerID = psh.PartnerID AND xs.CodeType = x.CodeType 
			LEFT JOIN  dbo.tblEcPartnerItemXref ix ON psh.PartnerID = ix.PartnerID AND sd.ItemId = ix.TRAVItemID AND sd.UnitsSell = ix.TRAVUOM
			LEFT JOIN dbo.tblInItem i ON sd.ItemId = i.ItemId
			WHERE ISNULL(x.[Options], 1) = 1
			UNION ALL
			SELECT @PostRun PostRun, @DocID, 
				'DTL' RecType,
				@CurrPoId,		--[sort1]
				'2',		--[sort2]
				'DTL' DTL,		--[Fld01]
				@CurrPartnerName TPCode,		--[Fld02]
				'' Filler,		--[Fld03]
				pd.CustPoNum PONumber,		--[Fld04]
				'' StoreNumber,		--[Fld05]
				pd.PoLineNum LineNumber,		--[Fld06]
				pd.ItemVendorCode VendorStyle,		--[Fld07]
				pd.ItemUPC UPCCode,		--[Fld08]
				pd.ItemBuyerCode BuyersSKU,		--[Fld09]
				CASE WHEN ISNULL(ix.ItemDescr,'')='' THEN ISNULL(i.Descr,'') ELSE ix.ItemDescr END ItemDescr,		--[Fld10]
				'' ItemColor,		--[Fld11]
				'' ItemSize,		--[Fld12]
				CAST(sd.TotQtyOrdSell - sd.TotQtyShipSell as decimal(20,2)) QtyOrdered,		--[Fld13]
				pd.POUnitsSell UOMQtyOrdered,		--[Fld14]
				CAST(sd.UnitPriceSell as decimal(20,2)) UnitPrice,		--[Fld15]
				CASE WHEN sh.VoidYn = 0 THEN s.LineItemStatus ELSE 'R1' END LineItemStatusCode,		--[Fld16]
				CONVERT(nvarchar,sd.ActShipDate ,112) DeliveryDate,		--[Fld17]
				CASE sd.Status 
					WHEN 1 -- line item completed 
						THEN CAST(sd.QtyShipSell as decimal(20,2)) 
					ELSE
						CASE WHEN sh.TransType IN (1,4,5)  -- invoice, verified, or picked
							THEN CAST(sd.QtyShipSell as decimal(20,2)) 
							ELSE CAST(sd.TotQtyOrdSell - sd.TotQtyShipSell as decimal(20,2)) -- qty needed
						END
					END QtyOfChange,		--[Fld18] 
				pd.POUnitsSell UOMQtyOfChange,		--[Fld19]
				'QT' PriceBasis,		--[Fld20]
				'' ScheduleId,		--[Fld21]
				'' ShipDueDate,		--[Fld22]
				'' StockKeepingUnit,		--[Fld23]
				'' PrepackSpec,		--[Fld24]
				'' FGLPack,		--[Fld25]
				'' ACKDesc,		--[Fld26]
				'' CustomerOrder,		--[Fld27]
				@EOL,  
				@CurrFilePath,  
				@UserId,              
				@WrkStnId    
			FROM dbo.tblEcPoSoTransHeader psh
			INNER JOIN tblEcPoSoTransDetail psd ON psh.POHeaderID = psd.PoSoHeaderID AND psh.POHeaderID = @CurrPoId
			INNER JOIN dbo.tblEcPoHistDetail pd ON psd.PoDetailID = pd.Id AND pd.PoHistHeaderID = @CurrPoId
			INNER JOIN dbo.tblSoTransDetail sd ON sd.TransID = psd.SoTransId AND sd.EntryNum = psd.SOEntryNum
			INNER JOIN dbo.tblSoTransHeader sh ON sd.TransID = sh.TransId AND sh.VoidYn = 1
			LEFT JOIN #TransDetailStatus s ON s.PoDetailID = pd.Id
			LEFT JOIN 
			(
			SELECT PartnerID, [Options] FROM dbo.tblEcDocumentCodeXRef dc
				INNER JOIN dbo.tblEcDocument d  ON d.ID = dc.DocID  
			WHERE d.DocId = '855-O' AND dc.RecordType = 0 AND CodeType = 1
			) x ON x.PartnerID = psh.PartnerID 
			LEFT JOIN  dbo.tblEcPartnerItemXref ix ON psh.PartnerID = ix.PartnerID AND sd.ItemId = ix.TRAVItemID AND sd.UnitsSell = ix.TRAVUOM
			LEFT JOIN dbo.tblInItem i ON sd.ItemId = i.ItemId
			WHERE ISNULL(x.[Options], 1) = 1
		END

		INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,
			[Fld01],[Fld02],[Fld03],FilePath,UserId,WrkStnId)
		SELECT @PostRun PostRun,@DocID,  
			'END' RecType,  
			@CurrPoId,          -- [sort1]  
			'3',         -- [sort2]  
			'END' Fld01,          -- [Fld01]  
			'111111111',-- [Fld02]  
			@EOL,  
			@CurrFilePath,    
			@UserId,  
			@WrkStnId 

		-- write mail control
		IF ISNULL(@TestModeYN,0)=0
		BEGIN
			--Generate new Mail Control ID
			SET @lastMailControlId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
				
			--Increase ID with # of Records generated
			SET @lastMailControlId = @lastMailControlId + (SELECT COUNT(*) FROM dbo.tblEcMailControl WHERE ID >= @lastMailControlId)

			INSERT INTO dbo.tblEcMailControl(ID,ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,DocAddnlRef1,SenderID, SenderIDGS, ReceiverID, ReceiverIdGS,  ISAControlNum,GSControlNum ,STControlNum,GSVersion ,StatusFlag,SendDate,SendTime)
			SELECT @lastMailControlId + ROW_NUMBER() OVER (ORDER BY @PostRun, @CurrPartnerId,@DocId,@EdiDocNum), @PostRun,0 KeyLevelSeq1, @CurrPartnerId, @DocId, @EdiDocNum, @CurrSoId, @CurrCustPoNum,NULL SenderID, NULL SenderIDGS, @CurrReceiverId, @CurrReceiverId, @ISAControlNum,@GSControlNum,case when @STControlNum = ' ' then 0 else @STControlNum end, @Version,'P' StatusFlag,@SendDate,@SendTime
		END

		IF (@HandleLog = 1)  
		BEGIN  
			INSERT INTO #tmpExportLog(FilePath, PostRun, DocId) VALUES (@CurrFilePath, @PostRun, @DocID)  
		END 

		-- write log
        --Generate new Export Log ID
        SET @lastExportLogId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		
		--Increase ID with # of Records generated
        SET @lastExportLogId = @lastExportLogId + (SELECT COUNT(*) FROM dbo.tblEcACKExportLog WHERE ID >= @lastExportLogId)
        
		INSERT INTO dbo.tblEcACKExportLog (ID, PostRun,Partner,CustID,SoNumber,AckDate,CustPoNum)
        SELECT @lastExportLogId +  ROW_NUMBER() OVER (ORDER BY @PostRun,@CurrPartnerID,@CurrPoId), @PostRun,@CurrPartnerID,h.CustId,h.SoID,@SendDate,@CurrCustPoNum
        FROM #TranTmp h 
        WHERE  PoID=@CurrpoId AND PostRun=@PostRun
	
		--Update EcComm entry
		UPDATE dbo.tblEcComm 
		SET OnHoldYn = 1, Status = 1
		WHERE Id = @CurrEcCommId

		DELETE FROM #TranTmp WHERE ID=@I  
		SELECT @I=MIN(ID) FROM #TranTmp  
	END		--end of WHILE loop

	-- return number of invoices
    SELECT @TotCount=COUNT(*) FROM dbo.tblEcTempExport WHERE DocID=@DocId AND RecType='HDR'
    SELECT ISNULL(@TotCount,0) TotCount
END TRY

BEGIN CATCH  
   EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAck_ExportAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAck_ExportAPT_proc'
GO
