USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidateUpdatePriceTotal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidateUpdatePriceTotal_proc]
    @ImportBatchId      nvarchar (14) = '',
    @KeyLevelSeq1       int
AS 

BEGIN TRY

   -- update the price used in the Sales Order ONLY if the price source is set to come from the PO file. Workaround so that it doent show as 0 on the PO processing screen.
   UPDATE d SET SOUnitPriceSell=d.UnitPrice
   FROM tblEcPoHeader h 
   INNER JOIN tblEcPoDetail d ON h.ID=d.POHeaderID
   INNER JOIN (SELECT * FROM trav_EcPartnerOptionValue_view 
               WHERE OptCode='850I_OptSOPriceSource' AND OptValue=1) o ON h.PartnerId=o.ID
   WHERE (ISNULL(@ImportBatchId,'')='' OR h.ImportBatchId=@ImportBatchId) AND (ISNULL(@KeyLevelSeq1,0)=0 OR h.KeyLevelSeq1=@KeyLevelSeq1) AND d.SOUnitPriceSell=0

   UPDATE h SET TotalPoAmt=d.TotalPoAmt+ISNULL(h.FreightAmt,0)+ISNULL(h.SalesTaxAmt,0)
   FROM tblEcPoHeader h 
   INNER JOIN (SELECT POHeaderID ,SUM(QtyOrd * SOUnitPriceSell) TotalPoAmt
               FROM tblEcPoDetail
               GROUP BY POHeaderID) d ON h.ID=d.POHeaderID
   WHERE (ISNULL(@ImportBatchId,'')='' OR h.ImportBatchId=@ImportBatchId) AND (ISNULL(@KeyLevelSeq1,0)=0 OR h.KeyLevelSeq1=@KeyLevelSeq1)

END TRY
BEGIN CATCH 
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdatePriceTotal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdatePriceTotal_proc'
GO
