USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApCashFlowReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApCashFlowReport_proc]
@ReportCurrency [nvarchar](6) = NULL, 
@BaseCurrency [nvarchar](6) = 'USD',
@PeriodDate1 datetime = '20090103',
@PeriodDate2 datetime = '20090202',
@PeriodDate3 datetime = '20090304',
@UseDiscountDates bit = 1,
@TransType nvarchar(10) = 'APINVC',
@PrintInvoiceStatus tinyint = 3,--0, Released Invoices;1, Held Invoices;2, Temporary Hold Invoices;3, All Invoices
@WksDate datetime = '20081210'
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpApCashFlow
	(
		Counter int NOT NULL, 
		VendorID [nvarchar](10) NOT NULL, 
		InvoiceNum [nvarchar](15) NOT NULL, 
		Status tinyint NULL DEFAULT (0), 
		Ten99InvoiceYN bit NULL DEFAULT (0), 
		DistCode [nvarchar](6) NULL, 
		InvoiceDate datetime NULL DEFAULT (GETDATE()), 
		DiscDueDate datetime NULL, 
		NetDueDate datetime NULL, 
		GrossAmtDue [decimal](28,10) NULL DEFAULT (0), 
		DiscAmt [decimal](28,10) NULL DEFAULT (0), 
		GrossAmtDueFgn [decimal](28,10) NULL DEFAULT (0), 
		DiscAmtFgn [decimal](28,10) NULL DEFAULT (0), 
		CheckNum [nvarchar](10) NULL, 
		CheckDate datetime NULL, 
		CurrencyID [nvarchar](6) NOT NULL, 
		ExchRate [decimal](28,10) NULL DEFAULT (0), 
		GlPeriod smallint NULL DEFAULT (0), 
		FiscalYear smallint NULL DEFAULT (0), 
		TermsCode [nvarchar](6) NULL, 
		DueDate datetime NULL, 
		Discounted bit NULL DEFAULT (0)
	)

	CREATE TABLE #Tmp
(
		Counter int NOT NULL, 
		VendorId [nvarchar](10) NOT NULL,
		CurrencyID [nvarchar](6) NOT NULL,
		GrossAmountDue [decimal](28,10) NULL,		
		DiscAmount1 [decimal](28,10) NULL,
		PeriodGross1 [decimal](28,10) NULL,
		PeriodDisc1 [decimal](28,10) NULL,
		PeriodGross2 [decimal](28,10) NULL,
		PeriodDisc2 [decimal](28,10) NULL,
		PeriodGross3 [decimal](28,10) NULL,
		PeriodDisc3 [decimal](28,10) NULL,
		BeyondGross1 [decimal](28,10) NULL,
		BeyondDisc1 [decimal](28,10) NULL
		
)
	INSERT INTO #tmpApCashFlow (Counter, VendorID, InvoiceNum, [Status], Ten99InvoiceYN, DistCode, InvoiceDate, DiscDueDate, NetDueDate
		, GrossAmtDue, DiscAmt, GrossAmtDueFgn, DiscAmtFgn, CheckNum, CheckDate, CurrencyID, ExchRate
		, GlPeriod, FiscalYear, TermsCode, DueDate, Discounted) 
	SELECT i.Counter, i.VendorID, i.InvoiceNum, i.[Status], i.Ten99InvoiceYN, i.DistCode, i.InvoiceDate, i.DiscDueDate, i.NetDueDate
		, i.BaseGrossAmtDue, i.DiscAmt, i.GrossAmtDueFgn, i.DiscAmtFgn, i.CheckNum, i.CheckDate, i.CurrencyId, i.ExchRate
		, i.GlPeriod, i.FiscalYear, i.TermsCode
		, CASE WHEN @UseDiscountDates = 1 AND i.DiscDueDate >= @WksDate AND i.DiscAmt > 0 THEN i.DiscDueDate ElSE i.NetDueDate END AS DueDate
		, CASE WHEN @UseDiscountDates = 1 AND i.DiscDueDate >= @WksDate AND i.DiscAmt > 0 THEN 1 ELSE 0 END AS Discounted 
	FROM #tmpVendorList t INNER JOIN dbo.tblApOpenInvoice i ON t.VendorId = i.VendorId 
	INNER JOIN #tmpDistCodeList d ON i.DistCode = d.DistCode
	WHERE i.[Status] = (CASE WHEN @PrintInvoiceStatus = 3 THEN i.[Status] ELSE @PrintInvoiceStatus END) 
		AND i.[Status] NOT IN (3, 4) --AND (i.CurrencyId = @ReportCurrency)
		
		
    IF  EXISTS (SELECT * FROM #tmpApCashFlow t WHERE t.GrossAmtDue IS NULL OR t.DiscAmt IS NULL OR t.GrossAmtDueFgn IS NULL OR t.DiscAmtFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END 

	INSERT INTO #Tmp(Counter,VendorId,CurrencyID,GrossAmountDue ,	DiscAmount1 ,	PeriodGross1 , PeriodDisc1 , PeriodGross2 , PeriodDisc2 , PeriodGross3 , PeriodDisc3 , BeyondGross1 ,  BeyondDisc1 )
			  SELECT t.Counter, t.VendorId,	ISNULL(@ReportCurrency,t.CurrencyID) CurrencyID,CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.GrossAmtDue
			  ELSE ROUND(t.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END AS GrossAmountDue
			  ,CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.DiscAmt
			  ELSE ROUND(t.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END AS DiscAmount1
			 ,CASE WHEN t.DueDate <= @PeriodDate1 OR t.GrossAmtDue < 0 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.GrossAmtDue
			  ELSE ROUND(t.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodGross1
			 ,CASE WHEN t.DueDate <= @PeriodDate1 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.DiscAmt
			  ELSE ROUND(t.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodDisc1
		     ,CASE WHEN t.DueDate > @PeriodDate1 AND t.DueDate <= @PeriodDate2 AND t.GrossAmtDue >= 0 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.GrossAmtDue
			  ELSE ROUND(t.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodGross2
		     ,CASE WHEN t.DueDate > @PeriodDate1 AND t.DueDate <= @PeriodDate2 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.DiscAmt
			  ELSE ROUND(t.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodDisc2
		    ,CASE WHEN t.DueDate > @PeriodDate2 AND t.DueDate <= @PeriodDate3 AND t.GrossAmtDue >= 0 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.GrossAmtDue
			  ELSE ROUND(t.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodGross3
		    ,CASE WHEN t.DueDate > @PeriodDate2 AND t.DueDate <= @PeriodDate3 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.DiscAmt
			  ELSE ROUND(t.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS PeriodDisc3
		    ,CASE WHEN t.DueDate > @PeriodDate3 AND t.GrossAmtDue >= 0 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.GrossAmtDueFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.GrossAmtDue
			  ELSE ROUND(t.GrossAmtDueFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS BeyondGross1
		    ,CASE WHEN t.DueDate > @PeriodDate3 
			  THEN (CASE WHEN ISNULL(@ReportCurrency, t.CurrencyId) = t.CurrencyId THEN t.DiscAmtFgn
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency) = @BaseCurrency THEN t.DiscAmt
			  ELSE ROUND(t.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END) ELSE 0 END AS BeyondDisc1 
			
			FROM #tmpApCashFlow t 
	LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = t.Counter AND et.[Source] = t.CurrencyId  
            
    IF  EXISTS (SELECT * FROM #Tmp t WHERE t.BeyondDisc1 IS NULL OR t.BeyondGross1 IS NULL OR t.DiscAmount1 IS NULL OR t.GrossAmountDue IS NULL
      OR t.PeriodDisc1 IS NULL OR t.PeriodDisc2 IS NULL OR t.PeriodDisc3 IS NULL OR t.PeriodGross1 IS NULL OR t.PeriodGross2 IS NULL OR t.PeriodGross3 IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END 
          
    SELECT v.VendorID, v.[Name], tmp.CurrencyID, t.InvoiceNum, t.Status, t.InvoiceDate, t.NetDueDate, t.DiscDueDate, t.Discounted, tmp.GrossAmountDue,
         tmp.DiscAmount1,tmp.PeriodGross1, tmp.PeriodDisc1, tmp.PeriodGross2, tmp.PeriodDisc2, tmp.PeriodGross3
		, tmp.PeriodDisc3, tmp.BeyondGross1, tmp.BeyondDisc1 
		,CASE WHEN ISNULL(tmp.GrossAmountDue,0)= 0 THEN 0 ELSE tmp.GrossAmountDue END AS CustGrossAmountDue 
		,CASE WHEN ISNULL(tmp.DiscAmount1,0) = 0 THEN 0 ELSE tmp.DiscAmount1  END AS CustDiscAmount1 
		,CASE WHEN ISNULL(tmp.GrossAmountDue,0)= 0 THEN 0 ELSE tmp.GrossAmountDue - tmp.DiscAmount1 END AS CustSumGrossAmountDue 

		,CASE WHEN ISNULL(tmp.PeriodGross1,0) = 0 THEN 0 ELSE tmp.PeriodGross1  END AS CustPeriodGross1 
		,CASE WHEN ISNULL(tmp.PeriodDisc1,0) = 0 THEN 0 ELSE tmp.PeriodDisc1  END AS CustPeriodDisc1
		,CASE WHEN ISNULL(tmp.PeriodGross1,0) = 0  THEN 0 ELSE tmp.PeriodGross1 - tmp.PeriodDisc1  END AS CustSumPeriodGross1

		,CASE WHEN ISNULL(tmp.PeriodGross2,0) = 0 THEN 0 ELSE tmp.PeriodGross2 END AS CustPeriodGross2
		,CASE WHEN ISNULL(tmp.PeriodDisc2,0) = 0 THEN 0 ELSE tmp.PeriodDisc2 END AS CustPeriodDisc2
		,CASE WHEN ISNULL(tmp.PeriodGross2,0) = 0 THEN 0 ELSE tmp.PeriodGross2 - tmp.PeriodDisc2  END AS CustSumPeriodGross2 

		,CASE WHEN  ISNULL(tmp.PeriodGross3,0) = 0 THEN 0 ELSE tmp.PeriodGross3 END AS CustPeriodGross3
		,CASE WHEN ISNULL(tmp.PeriodDisc3,0) = 0  THEN 0 ELSE tmp.PeriodDisc3 END AS CustPeriodDisc3
		,CASE WHEN ISNULL(tmp.PeriodGross3,0) = 0 THEN 0 ELSE tmp.PeriodGross3- tmp.PeriodDisc3  END AS CustSumPeriodGross3
			
		,CASE WHEN ISNULL(tmp.BeyondGross1,0) = 0 THEN 0 ELSE tmp.BeyondGross1 END AS CustBeyondGross1
		,CASE WHEN ISNULL(tmp.BeyondDisc1,0) = 0 THEN 0 ELSE tmp.BeyondDisc1  END AS CustBeyondDisc1
		,CASE WHEN ISNULL(tmp.BeyondGross1,0) = 0 THEN 0 ELSE tmp.BeyondGross1- tmp.BeyondDisc1  END AS CustSumBeyondGross1
		, tmp.GrossAmountDue - tmp.DiscAmount1 AS NetInv
		, tmp.PeriodGross1 - tmp.PeriodDisc1 AS PeriodG1NetInv 
		, tmp.PeriodGross2 - tmp.PeriodDisc2 AS PeriodG2NetInv
		, tmp.PeriodGross3 - tmp.PeriodDisc3 AS PeriodG3NetInv
		, tmp.BeyondGross1 - tmp.BeyondDisc1 AS BeyondNetInv
	FROM #tmpVendorList v INNER JOIN #tmpApCashFlow t ON v.VendorID = t.VendorID
	INNER JOIN #Tmp tmp ON t.VendorID = tmp.VendorID AND t.Counter = tmp.Counter
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApCashFlowReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApCashFlowReport_proc'
GO
