USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArOpenInvoiceReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArOpenInvoiceReport_proc]
@ReportCurrency [nvarchar](6) = NULL,
@BaseCurrencyId [nvarchar](6),
@ExcludePaidInvoices bit = 0, 
@PrintSales bit = 1,  --AR/SO invoices
@PrintProjects bit = 1,  --Project invoices     
@PrintService bit = 1, --Service invoices 
@IncludeRegularInvcType bit=1 ,  
@IncludeProformaInvcType bit=1  
AS
SET NOCOUNT ON
BEGIN TRY

	--temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	(
		InvoiceID INT, 
		Balance [decimal](28,10) NOT NULL
		
	)
	CREATE NONCLUSTERED INDEX IX_InvoiceAmount_InvoiceID ON #InvoiceAmount (InvoiceID) 
		
	--temporary table to capture the invoice amounts in output currency
	CREATE TABLE #OutputAmount
	(
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		Amount [decimal](28,10) NULL,
		Discount [decimal](28,10) NULL
	)
	CREATE NONCLUSTERED INDEX IX_OutputAmount_InvoiceID ON #OutputAmount (InvoiceID) 

	--Process the application of payments against each invoice to determine the balance in the invoice currency
	--	use data from the applied invoice records when identified by the payment InvoiceID value.
	INSERT INTO #InvoiceAmount (InvoiceID, Balance)
	SELECT ISNULL(ai.[Counter], oi.[Counter])
		, SUM(CASE WHEN ai.[Counter] IS NULL 
			THEN 
				oi.[AmtFgn]
			ELSE 
				CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
			END)
	FROM #tmpCustomerList t 
	INNER JOIN dbo.tblArOpenInvoice oi ON t.CustId = oi.CustId 
	LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	WHERE t.AcctType = 0 --Exclude Balance Forward Customers
		AND ((oi.RecType <> 5 AND @IncludeRegularInvcType = 1) OR (oi.RecType = 5 AND  @IncludeProformaInvcType = 1))
	GROUP BY ISNULL(ai.[Counter], oi.[Counter])

	--remove fully paid invoice ids when option to exclude them is set
	IF @ExcludePaidInvoices = 1
	BEGIN
		DELETE #InvoiceAmount WHERE [Balance] = 0
	END

	--evaluate the output currency for each invoice record - not for the invoice balance 
	--filter invoice detail for entries that meet the selected criteria
	INSERT INTO #OutputAmount (InvoiceID, CurrencyID, Amount, Discount)
    SELECT o.[Counter], COALESCE(@ReportCurrency,ai.CurrencyId, o.CurrencyID)
		, CASE WHEN ai.Counter IS NULL	THEN
				CASE WHEN  @ReportCurrency = @BaseCurrencyId THEN o.Amt
					 WHEN ISNULL(@ReportCurrency, o.CurrencyId) = o.CurrencyId THEN  o.AmtFgn
				ELSE ROUND(o.AmtFgn * et.Rate, et.CurrDecPlaces) END 
		  ELSE
				CASE WHEN  @ReportCurrency = @BaseCurrencyId THEN o.Amt - o.GainLossAmount
				ELSE 
				CASE WHEN  ISNULL(@ReportCurrency, ai.CurrencyId) = ai.CurrencyId THEN o.AppliedAmount
				ELSE ROUND(o.AppliedAmount * etr.Rate, et.CurrDecPlaces) END END
		  END  
		, CASE WHEN ai.Counter IS NULL	THEN
				 CASE WHEN  @ReportCurrency = @BaseCurrencyId THEN o.DiscAmt
					 WHEN ISNULL(@ReportCurrency, o.CurrencyId) = o.CurrencyId THEN  o.DiscAmtFgn
				ELSE ROUND(o.DiscAmtFgn * et.Rate, et.CurrDecPlaces) END 
		  ELSE
				CASE WHEN  @ReportCurrency = @BaseCurrencyId THEN o.DiscAmt
				ELSE
				CASE WHEN  ISNULL(@ReportCurrency, ai.CurrencyId) = ai.CurrencyId THEN o.AppliedDiscount
				ELSE ROUND(o.AppliedDiscount * etr.Rate, et.CurrDecPlaces) END END
		  END
			
	FROM dbo.tblArOpenInvoice o
	LEFT JOIN tblArOpenInvoice ai ON o.InvoiceID =ai.[Counter]
	LEFT JOIN (	SELECT TransKey,[Source], Rate, CurrDecPlaces FROM [dbo].[tblSmExchangeRateTrans] e		
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID] 
				WHERE  e.TransType='ARINVOICE'AND e.Destination =@ReportCurrency
				) et 
				ON  et.[Source]=o.CurrencyId  AND et.TransKey=o.[Counter]
	LEFT JOIN (	SELECT TransKey,[Source], Rate, CurrDecPlaces FROM [dbo].[tblSmExchangeRateTrans] e		
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID] 
				WHERE e.TransType='ARINVOICE' AND e.Destination =@ReportCurrency
				) etr 
				ON  etr.[Source]=ai.CurrencyId  AND etr.TransKey=ai.[Counter]
	WHERE o.[Status] <> 4 
		AND (((o.SourceApp = 0 OR o.SourceApp = 1 OR o.SourceApp = 4) AND @PrintSales = 1) 
			OR (o.SourceApp = 3 AND @PrintProjects = 1) OR (o.SourceApp = 2 AND @PrintService = 1)) 
		AND ISNULL(o.InvoiceID, o.[Counter]) IN (Select InvoiceID From #InvoiceAmount) --include applied payments for included invoices as well as the invoices

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #OutputAmount WHERE Amount IS NULL OR Discount IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	SELECT *, SUM(Balance) OVER(PARTITION BY CurrencyId, CustId ORDER BY InvcNum, TransDate, RecType, InvoiceID) AS SumBalance
	FROM (SELECT o.[Counter], c.CustId, c.CustName, o.PmtMethodId, ISNULL(@ReportCurrency,a.CurrencyId) as CurrencyId, o.RecType, o.Status
			, o.TransDate, o.NetDueDate, o.DiscDueDate, o.InvcNum, a.InvoiceID, o.SourceApp
			, CASE WHEN o.RecType > 0 THEN a.Amount ELSE 0 END AS GrossAmtDue
			, CASE WHEN o.RecType = -1 THEN -1 * a.Discount ELSE a.Discount END AS Discount
			, CASE WHEN o.RecType = -2 THEN a.Amount ELSE 0 END AS Payments
			, CASE WHEN o.RecType = -1 THEN a.Amount ELSE 0 END AS Credits
			, CASE WHEN o.RecType > 0 THEN a.Amount ELSE 0 END 
				- CASE WHEN o.RecType = -2 THEN a.Amount ELSE 0 END 
				- CASE WHEN o.RecType = -1 THEN a.Amount ELSE 0 END AS Balance
		FROM #OutputAmount a
		INNER JOIN dbo.tblArOpenInvoice o ON a.InvoiceID = o.[Counter]
		INNER JOIN #tmpCustomerList c ON o.CustId = c.CustId)ds

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArOpenInvoiceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArOpenInvoiceReport_proc'
GO
