USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HrPositionActiveSupervisor_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HrPositionActiveSupervisor_proc]
@EffectiveDate DATETIME,
@PositionId BIGINT = NULL 

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT ds.PositionId, ds.IndId FROM (SELECT ROW_NUMBER() OVER (PARTITION BY ip.PositionId ORDER BY ip.StartDate DESC) AS r, 
	ip.PositionId, ip.IndId FROM tblHrIndPosition ip
	INNER JOIN tblHrPosition p ON p.SupervisorPositionID = ip.PositionID
	INNER JOIN #IndPositionID tpos ON ip.IndId = tpos.IndId AND ip.ID = tpos.PositionID
	INNER JOIN #IndStatus ts ON ip.IndId = ts.IndId
	WHERE ((ip.EndDate IS NULL AND @EffectiveDate >= ip.StartDate) OR (@EffectiveDate BETWEEN ip.StartDate AND ip.EndDate)) 
	AND (@PositionId IS NULL OR ip.PositionId = @PositionId) AND ts.IndStatus = 1) ds WHERE ds.r = 1

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrPositionActiveSupervisor_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrPositionActiveSupervisor_proc'
GO
