USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemPriceChange_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemPriceChange_proc] 
AS
BEGIN TRY
  --Update the price Information      
   UPDATE dbo.tblInItemLocUomPrice  SET PriceBase= CASE WHEN t.NewPriceBase IS NOT NULL THEN  t.NewPriceBase ELSE l.PriceBase  END,      
               PriceList= CASE WHEN t.NewPriceList IS NOT NULL THEN  t.NewPriceList ELSE l.PriceList END,      
               PriceMin=CASE WHEN  t.NewPriceMin IS  NOT NULL THEN  t.NewPriceMin  ELSE l.PriceMin END      
  FROM dbo.tblInItemLocUomPrice l INNER JOIN #ItemPriceChangeLog t      
			  ON t.LocId = l.LocId AND t.ItemId = l.ItemId AND l.Uom = t.Uom AND l.CurrencyID =  t.CurrencyID   
     
    
  INSERT INTO dbo.tblInItemLocUomPrice (ItemId,LocId,Uom,BrkId,PriceMin,PriceList,PriceBase,CurrencyID)    
  SELECT t.ItemId,t.LocId,t.Uom,BrkId,t.NewPriceMin,t.NewPriceList,t.NewPriceBase,t.CurrencyID FROM dbo.tblInItemLocUomPrice l   
			 RIGHT OUTER JOIN  #ItemPriceChangeLog t    ON t.LocId = l.LocId AND t.ItemId = l.ItemId AND l.Uom = t.Uom AND l.CurrencyID =  t.CurrencyID    
			 WHERE  l.ItemId IS NULL      
     
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemPriceChange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemPriceChange_proc'
GO
