USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemLabels_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemLabels_proc]
@SortBy tinyint = 0, -- 0=Item ID;1=Product Line;2=Location ID
@RecordCount int = NULL
AS
SET NOCOUNT ON
BEGIN TRY

	--use the option setting to set the number of rows to return
	IF ISNULL(@RecordCount, 0) > 0 Set RowCount @RecordCount

	SELECT i.ItemId, i.Descr AS [Description], l.LocId, o.Descr AS [LocationDescription], t.SerNum, t.LotNum, t.ExpDate
	, i.ProductLine, i.SalesCat, l.DfltBinNum, i.UomBase, i.UomDflt
	, h.HMCode, h.Descr AS [HazMatDescription]
	, i.UsrFld1, i.UsrFld2
	, CASE @SortBy WHEN 1 THEN i.ProductLine WHEN 2 THEN l.LocId ELSE i.ItemId END AS [OrderBy]
	, base.UPCcode AS UPCCodeBase, dflt.UPCcode AS UPCCodeDflt, i.CommodityCode
	FROM dbo.tblInItem i
	INNER JOIN dbo.tblInItemLoc l on i.ItemId = l.ItemId
	INNER JOIN #tmpItemLocationList t on l.ItemId = t.ItemId and l.LocId = t.LocId --AND (s.LotNum = l.LotNum or (s.LotNum is null and l.LotNum is null)) AND (s.SerNum = t.SerNum or (t.SerNum is null and s.SerNum is null))
	LEFT JOIN dbo.tblInLoc o on l.LocId = o.LocId
	LEFT JOIN dbo.tblInHazMat h on i.HMRef = h.HMRef
	LEFT JOIN dbo.tblInItemUom base ON i.ItemId = base.ItemId AND i.UomBase = base.Uom
	LEFT JOIN dbo.tblInItemUom dflt ON i.ItemId = dflt.ItemId AND i.UomDflt = dflt.Uom
	ORDER BY CASE @SortBy WHEN 1 THEN i.ProductLine WHEN 2 THEN l.LocId ELSE i.ItemId END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLabels_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLabels_proc'
GO
