USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoGoodsNotReceivedReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoGoodsNotReceivedReport_proc]
@ReportCurrency pCurrency = Null,
@BaseCurrency pCurrency,
@TransType NVARCHAR(10) ='POTRANS',
@TransTypeRcpt NVARCHAR(10) ='PORECEIPT',
@SortBy tinyint = 0 -- 0, Transaction Number; 1, Vendor ID; 2, Item ID; 3, Requested Date; 4, Status
AS
SET NOCOUNT ON
BEGIN TRY

	--Exclude Completed records: https://problemtrackingsystem.osas.com/view.php?id=279394
	DELETE t FROM #tmpTransDetailList t
	INNER JOIN dbo.tblPoTransDetail d ON t.TransId = d.TransId AND t.EntryNum = d.EntryNum
	WHERE d.LineStatus = 1


		--Confirmed Receipts
	SELECT ds.TransID, ds.RcptHeaderID,ds.EntryNum, SUM(ds.RcptQty) AS RcptQty, SUM(ds.RcptExtCost) AS RcptExtCost
	INTO #tmpReceipts
	FROM
	(
		SELECT rcpt.TransID, rcpt.RcptHeaderID, rcpt.EntryNum, SUM(rcpt.QtyFilled) AS RcptQty, 
		(
			CASE WHEN @ReportCurrency = @BaseCurrency 	THEN SUM(rcpt.ExtCost) 
			WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN  SUM(rcpt.ExtCostFgn) 
			ELSE SUM(ROUND(etr.Rate * rcpt.ExtCostFgn,etr.CurrDecPlaces)) END
		) AS RcptExtCost
		FROM dbo.tblPoTransLotRcpt rcpt 
			INNER JOIN dbo.tblPoTransHeader h ON rcpt.TransId = h.TransId
			INNER JOIN #tmpTransDetailList D ON D.TransId = rcpt.TransId AND D.EntryNum = rcpt.EntryNum
			LEFT JOIN
			(
				SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
				FROM [dbo].[tblSmExchangeRateTrans] e 
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
			) etr ON etr.[TransKey] = rcpt.RcptHeaderID AND etr.[Source] = h.CurrencyID
		GROUP BY rcpt.TransID,rcpt.RcptHeaderID, rcpt.EntryNum, h.CurrencyID
		UNION ALL
		SELECT R.TransId, null RcptHeaderID, R.EntryNum, SUM(R.Qty) AS [RcptQty], SUM((R.Qty * l.UnitCost)) AS [RcptExtCost]
		FROM dbo.tblWmRcpt R
			INNER JOIN #tmpTransDetailList D ON D.TransId = R.TransId AND D.EntryNum = R.EntryNum
			INNER JOIN tblPoTransDetail l ON  l.TransId = R.TransId AND l.EntryNum = R.EntryNum
		WHERE R.[Status] = 1 AND R.[Source] = 0
		GROUP BY R.TransId, R.EntryNum,l.UnitCost
	)ds GROUP BY ds.TransID, ds.RcptHeaderID,ds.EntryNum


	SELECT d.TransID, d.EntryNum, MIN(d.GLAcct) AS GLAcct, MIN(d.QtyOrd) AS OrdQty, 
		MIN(CASE WHEN   @ReportCurrency= @BaseCurrency 	THEN d.UnitCost 
					ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.UnitCostFgn 
					ELSE ROUND(et.Rate * d.UnitCostFgn,et.CurrDecPlaces) END END) AS OrdUnitCost,
		MIN(CASE WHEN   @ReportCurrency= @BaseCurrency 	THEN d.ExtCost 
					ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.ExtCostFgn
					ELSE ROUND(et.Rate * d.ExtCostFgn,et.CurrDecPlaces) END END) AS OrdExtCost, 
		
		MIN(ISNULL(d.ItemId, '')) AS ItemId, MIN(d.ItemType) AS ItemType, MIN(ISNULL(d.LocId, '')) AS LocIdDtl, 
		MIN(ISNULL(d.Descr, '')) AS Descr, MIN(ISNULL(d.UnitsBase, '')) AS UnitsBase, 
		MIN(ISNULL(d.Units, '')) AS Units, MIN(d.LineStatus) AS LineStatus, 
		MIN(ISNULL(d.GLDesc, '')) AS GLDesc, MIN(ISNULL(d.ReqShipDate,h.ReqShipDate)) AS ReqShipDateDtl, 
		SUM(CASE WHEN r.TransId IS NOT NULL THEN r.RcptQty ELSE 0 END) AS RcptQty, 
		SUM(CASE WHEN r.TransId IS NOT NULL THEN r.RcptExtCost ELSE  0 END) AS RcptExtCost
		,ISNULL(@ReportCurrency,h.CurrencyID) CurrencyID
		, MIN(ISNULL(d.ExpReceiptDate,h.ExpReceiptDate)) AS ExpReceiptDate 
	INTO #tmpPoNotRecvRptSub
	FROM #tmpTransDetailList t 
		INNER JOIN dbo.tblPoTransDetail d ON t.TransId = d.TransId AND t.EntryNum = d.EntryNum
		LEFT JOIN #tmpReceipts r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum
		LEFT JOIN dbo.tblPoTransHeader h on d.TransID =h.TransId
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransType AND  e.[Destination] = @ReportCurrency 
				) et ON et.[TransKey] =d.TransID AND et.[Source] =h.CurrencyID
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
				) etr ON etr.[TransKey] =r.RcptHeaderID AND etr.[Source] =h.CurrencyID
		
	WHERE h.TransType <> 0
	GROUP BY d.TransID, d.EntryNum, ISNULL(@ReportCurrency,h.CurrencyID)

	--Raise Exception if Invalid Exchange rate Exists  
	   
	 IF EXISTS (SELECT TransID FROM #tmpPoNotRecvRptSub  WHERE OrdUnitCost IS NULL  OR RcptExtCost IS NULL)  
	 BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	 END  

	SELECT CASE @SortBy WHEN 0 THEN t.TransId WHEN 1 THEN h.VendorId WHEN 2 THEN t.ItemId 
			WHEN 3 THEN CONVERT(nvarchar(8),t.ReqShipDateDtl,112)
			WHEN 4 THEN
			    CASE h.TransType
			      WHEN  1 THEN '0'
				  WHEN 2 THEN '0'
				  WHEN -2 THEN '0'
				  WHEN 9 THEN '1'
				  WHEN -1 THEN '1'
			   END
		   END AS SortColumn1,
		CASE @SortBy WHEN 0 THEN h.VendorId ELSE t.TransId END AS SortColumn2,
		CASE @SortBy WHEN 2 THEN t.TransId ELSE t.ItemId END AS SortColumn3,
		h.BatchId, h.TransType, h.VendorId, h.TransDate, h.ReqShipDate AS ReqShipDateHdr, 
		h.OrderedBy, h.ReceivedBy, h.ExchRate, ([OrdQty]-[RcptQty]) AS UnrecvQty,
		ROUND(([OrdQty]-[RcptQty])*[OrdUnitCost],c.CurrDecPlaces) AS UnrecvExtCost, 
		ROUND([OrdUnitCost]*([OrdQty]-[RcptQty]),c.CurrDecPlaces) AS UnrecvExtCostGrp0, h.TransID AS TransID2,
		t.TransId, t.EntryNum, t.GlAcct, t.OrdQty, t.OrdUnitCost, t.OrdExtCost,
		t.ItemId, t.ItemType, t.LocIdDtl, t.Descr, t.UnitsBase,
		t.Units, t.LineStatus, t.GLDesc, t.ReqShipDateDtl, t.RcptQty, t.RcptExtCost,t.CurrencyID, t.ExpReceiptDate
	FROM dbo.tblPoTransHeader h 
	INNER JOIN #tmpPoNotRecvRptSub t ON h.TransId = t.TransId
	LEFT JOIN tblSmCurrency c ON  t.CurrencyID= c.CurrID
	WHERE (t.OrdQty - t.RcptQty) > 0  
 
 
	--Lot

	SELECT r.TransId, r.EntryNum, r.LotNum, SUM(r.QtyFilled) Qty
		, SUM( CASE WHEN   @ReportCurrency= @BaseCurrency 	THEN r.ExtCost 
			   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.ExtCostFgn
			   ELSE ROUND(etr.Rate * r.ExtCostFgn,etr.CurrDecPlaces) END END) AS ExtCost
	INTO #TempLot
	FROM #tmpTransDetailList t 
	INNER JOIN dbo.tblPoTransLotRcpt r (NOLOCK) ON t.TransId = r.TransId AND t.EntryNum = r.EntryNum
	INNER JOIN #tmpPoNotRecvRptSub p ON p.TransId = r.TransId AND p.EntryNum = r.EntryNum
	LEFT JOIN dbo.tblPoTransHeader h on r.TransID =h.TransId
	LEFT JOIN tblSmCurrency c ON  p.CurrencyID= c.CurrID
	LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
				) etr ON etr.[TransKey] =r.RcptHeaderID AND etr.[Source] =h.CurrencyID
	WHERE r.LotNum IS NOT NULL AND h.TransType <> 0 AND (p.OrdQty - p.RcptQty) > 0 
	GROUP BY r.TransId, r.EntryNum, r.LotNum
	
	--Raise Exception if Invalid Exchange rate Exists  
	IF EXISTS (SELECT TransID FROM #TempLot  WHERE ExtCost IS NULL )  
	BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	END  
	
	SELECT * FROM  #TempLot



	--Ser
	SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum
           ,CASE WHEN   @ReportCurrency= @BaseCurrency 	THEN s.RcptUnitCost 
		   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  s.RcptUnitCostFgn
		   ELSE ROUND(etr.Rate *s.RcptUnitCostFgn,etr.CurrDecPlaces) END END AS RcptUnitCost
	INTO #TempSer
	FROM #tmpTransDetailList t
	INNER JOIN dbo.tblPoTransSer s (NOLOCK) ON t.TransId = s.TransId AND t.EntryNum = s.EntryNum
	INNER JOIN #tmpPoNotRecvRptSub p ON p.TransId = s.TransId AND p.EntryNum = s.EntryNum
	LEFT JOIN dbo.tblPoTransHeader h on s.TransID =h.TransId
	LEFT JOIN tblSmCurrency c ON  p.CurrencyID= c.CurrID
	LEFT JOIN tblPoTransReceipt r ON s.TransId= r.TransID AND  s.RcptNum=r.ReceiptNum
	LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
				) etr ON etr.[TransKey] =r.ID AND etr.[Source] =h.CurrencyID
	WHERE h.TransType <> 0 AND (p.OrdQty - p.RcptQty) > 0 

	--Raise Exception if Invalid Exchange rate Exists  
	IF EXISTS (SELECT TransID FROM #TempSer  WHERE RcptUnitCost IS NULL )  
	BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	END  
	
	SELECT * FROM  #TempSer
	
	
	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoGoodsNotReceivedReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoGoodsNotReceivedReport_proc'
GO
