USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcCrDbAdjImport_ValidateUpdate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcCrDbAdjImport_ValidateUpdate_proc]
	@ImportBatchId VARCHAR(14) = null, 
	@KeyLevelSeq1 INT = 0 
AS 
SET NOCOUNT ON

BEGIN TRY 
	DECLARE @DocId bigint

	SELECT @DocId=ID
	FROM tblEcDocument   
	WHERE DocId='812-I' 

	CREATE TABLE #tSelU ( 
		ImportBatchId varchar(14) not null,
		KeyLevelSeq1 int not null) 

	CREATE TABLE #tMailId (
		ImportBatchId varchar(14) not null, 
		KeyLevelSeq1 int not null, 
		MailId varchar(15)null, 
		MailIdGS varchar(15)null, 
		Partnerid bigint null, 
		Custid varchar(50) null) 
 
	-- select records to process 
	IF object_id('tempdb.dbo.#Edi812HeaderList') IS not NULL 
	BEGIN 
		INSERT INTO #tSelU (ImportBatchId, KeyLevelSeq1) 
		SELECT ImportBatchId, KeyLevelSeq1 
		FROM #Edi812HeaderList 
	END 
	ELSE 
	BEGIN 
		INSERT INTO #tSelU (ImportBatchId, KeyLevelSeq1) 
		SELECT ImportBatchId, KeyLevelSeq1 
		FROM tblEcCreditDebitAdjHeader 
		WHERE (ISNULL(@ImportBatchId,'')='' OR ImportBatchId=@ImportBatchId) 
			AND (ISNULL(@KeyLevelSeq1,0)=0 OR KeyLevelSeq1=@KeyLevelSeq1) 
	END 
 
	-- select mail ids 
	INSERT INTO #tMailId (ImportBatchId, KeyLevelSeq1, MailId, MailIdGS) 
	SELECT DISTINCT h.ImportBatchId, h.KeyLevelSeq1, h.SenderID, SenderIDGS 
	FROM tblEcCreditDebitAdjHeader h 
		LEFT JOIN 
			(SELECT ImportBatchid, DocKey, MAX(SenderIDGS) SenderIDGS 
			FROM tblEcMailControl 
			WHERE DocId=@DocId 
			GROUP BY ImportBatchid,DocKey 
			) mc ON h.ImportBatchId=mc.ImportBatchId AND h.DocKey =mc.DocKey 
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1 
 
	UPDATE #tMailId 
	SET PartnerId=part.ID, CustId=part.DfltCustId 
	FROM #tMailId 
		INNER JOIN
			(SELECT p.id, p.DfltCustId, pd.MailId
			FROM tblEcPartnerDoc pd 
				INNER JOIN tblEcPartner p ON pd.PartnerID=p.ID 
	 		WHERE pd.DocID=@DocId
			) part ON #tMailId.MailId=part.MailID 
 
	UPDATE h
	SET PartnerId=m.PartnerID, CustId=m.CustId 
	FROM tblEcCreditDebitAdjHeader h
		INNER JOIN #tSelU s ON h.ImportBatchId=s.ImportBatchId AND h.KeyLevelSeq1=s.KeyLevelSeq1 
		INNER JOIN #tMailId m ON s.ImportBatchId=m.ImportBatchId AND s.KeyLevelSeq1=m.KeyLevelSeq1 
	WHERE travTransid is null 
		and isnull(h.PartnerId,0)<>ISNULL(m.PartnerId,0) 
END TRY 
BEGIN CATCH 
	EXEC dbo.trav_RaiseError_proc 
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_ValidateUpdate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_ValidateUpdate_proc'
GO
