USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPeriodicMaint_CustomerBalanceLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPeriodicMaint_CustomerBalanceLog_proc]
AS

SET NOCOUNT ON
BEGIN TRY

	DECLARE @BaseCurrency [nvarchar](6)
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @BaseCurrency IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	( 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		BalanceBase [decimal](28,10) NULL,		
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		RecType smallint,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(		 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL, 
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (InvoiceID, Ctr) 
	)
	
	-- Process the application of payments against invoice to determine balance in the invoice currency
	-- use data from the applied invoice records when identified by the payment InvoiceID value.
	INSERT INTO #InvoiceAmount (InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum,CustId,RecType, ExchTransKey)
	SELECT ISNULL(ai.[Counter], oi.[Counter])
		, ISNULL(ai.CurrencyId, oi.CurrencyID)
		, SUM(CASE WHEN ai.[Counter] IS NULL 
              THEN 
                   oi.Amt
              ELSE 
                    CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
              END)		
		, SUM(CASE WHEN ai.[Counter] IS NULL 
			  THEN 
					oi.[AmtFgn]
			  ELSE 
					CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
			  END)
		, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum	
		, oi.CustId		
		, CASE WHEN ai.[Counter] IS NULL THEN oi.RecType ELSE ai.RecType END AS RecType	 
		, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
	FROM dbo.tblArOpenInvoice oi  
	LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	INNER JOIN dbo.tblArCust c ON oi.CustId = c.CustId
	WHERE oi.[Status] <> 4 AND oi.RecType<>5
	GROUP BY ISNULL(ai.[Counter], oi.[Counter]), ISNULL(ai.CurrencyId, oi.CurrencyID) 
	,CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END,oi.CustId
	,CASE WHEN ai.[Counter] IS NULL THEN oi.RecType ELSE ai.RecType END
	
	-- Use the summarized invoice amounts to determine the output currency values
	INSERT INTO #OutputAmount (CurrencyID, Balance,CustId)
	SELECT A.CurrencyId,SUM(SIGN(A.RecType)*(A.Balance)),A.CustId
	FROM(
	SELECT c.CurrencyId
		, CASE WHEN ISNULL(c.CurrencyId, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
			  WHEN ISNULL(c.CurrencyId, @BaseCurrency) = @BaseCurrency THEN ia.BalanceBase
			  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			  END AS Balance		
		, ia.CustId	
		,ia.RecType	
	FROM #InvoiceAmount ia
	INNER JOIN dbo.tblArCust c ON ia.CustId = c.CustId
	LEFT JOIN (
		SELECT TransKey, Rate, CurrDecPlaces ,e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e
			  INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
			  INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
			  WHERE e.[TransType] = N'ARINVOICE'
		) et ON ia.[ExchTransKey] = et.[TransKey] AND et.Destination = c.CurrencyId
	) AS A
	GROUP BY A.CurrencyId,A.CustId
	
	IF  EXISTS (SELECT * FROM #OutputAmount t WHERE  t.Balance IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END		

	SELECT c.CustId CustomerId, c.CurrencyId, isnull(ot.Balance, 0) InvoiceAmount
		, (c.UnpaidFinch + c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit) CustomerAmount
	FROM dbo.tblArCust c
	LEFT JOIN #OutputAmount ot ON c.CustId = ot.CustId
	WHERE ISNULL(ot.Balance, 0) <> (c.UnpaidFinch + c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit)
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_CustomerBalanceLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_CustomerBalanceLog_proc'
GO
