USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoRequestResponseView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoRequestResponseView_proc]
@TransId pTransId
AS
SET NOCOUNT ON
BEGIN TRY

Select  db.TransId, db.Level, db.Response, db.ResponseDate, db.ResponseComments,db.Username, db.Name, db.BudgetApproval
	from
		(SELECT h.TransId,  d.[Level], ISNULL(CASE WHEN ISNULL(s.[Level], 0) > d.[Level] AND r.Response IS NULL THEN 3 ELSE r.Response END, 0) As Response, r.ResponseDate, 
		r.Comments As ResponseComments, u.Username, u.Name, 
		ISNULL(d.BudgetApproval, 0) As BudgetApproval
		FROM dbo.tblPoTransHeader h
		LEFT JOIN dbo.tblPoTransRequestStatus s ON h.TransId = s.TransId
		LEFT JOIN dbo.tblPoRequestRouteDetail d ON s.RouteId = d.RouteId AND ((
			((h.MemoSalesTax + h.MemoNonTaxable + h.MemoTaxable + h.MemoFreight + h.MemoMisc) - h.MemoPrepaid) >= ISNULL(d.MinAmount, 0)  AND
			(ISNULL(d.MaxAmount, 0) = 0 OR ((h.MemoSalesTax + h.MemoNonTaxable + h.MemoTaxable + h.MemoFreight + h.MemoMisc) - h.MemoPrepaid) <= ISNULL(d.MaxAmount, 0)))
			OR ISNULL(d.BudgetApproval, 0) = 1)
		Left JOIN dbo.tblPoTransRequestResponse r ON h.TransId = r.TransId  AND d.[Level] = r.[Level]
		LEFT JOIN dbo.tblPoRequestUser u On r.UserId = u.ID OR d.UserId = u.ID WHERE h.TransId = @TransId
		and (ISNULL(u.AltUserId, '') = '' or ISNULL(u.AltUserId, '') <> r.UserId)
		) db

		Union all

		Select  rr.TransId, rr.Level,  rr.Response, rr.ResponseDate,  rr.Comments,  rr.Username, rr.Name, rr.BudgetApproval
		from
		(Select r.TransId,  r.Level, r.UserId, r.Response, r.ResponseDate, r.Comments,  u.Username, u.Name, 0 As BudgetApproval From dbo.tblPoTransRequestResponse r 
		Left Join dbo.tblPoTransHeader h  on h.TransId = r.TransId
		LEFT JOIN dbo.tblPoRequestUser u On r.UserId = u.ID
		LEFT JOIN dbo.tblPoTransRequestStatus s ON h.TransId = s.TransId WHERE  r.Level < 0 and  h.TransId = @TransId ) rr
		ORDER BY db.[Level]
		
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestResponseView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestResponseView_proc'
GO
