USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InLocationList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InLocationList_proc]
@SortBy BIT
AS
SET NOCOUNT ON
BEGIN TRY

SELECT il.LocId, il.Descr, il.Contact, il.Addr1, il.Addr2, il.City, il.Region, il.PostalCode, il.Country, il.zzIntlPreFix, il.Phone, 
il.Fax, il.CarrCostPct, il.OrderCostAmt, CASE WHEN @SortBy = 0 THEN il.LocId ELSE il.Descr END SortBy
FROM tblInLoc il 
INNER JOIN #tempLocation tl ON tl.LocId = il.LocId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InLocationList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InLocationList_proc'
GO
