USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_Customer_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_Customer_proc]
AS
--PET:http://webfront:801/view.php?id=237482

SET NOCOUNT ON
BEGIN TRY

	DECLARE @WrkStnDate datetime
	
	--Retrieve global values
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	
	IF @WrkStnDate IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--list of customers for balance aging 
	CREATE TABLE #CustomerList (CustID [nvarchar](10) NOT NULL) 

	--work copy of customer values for processing
	CREATE TABLE #CustInfo
	(
		CustId [nvarchar](10) NOT NULL,
		MaxPaymentDate datetime,
		CurrentBalance [decimal](28,10) NOT NULL,
		LastPaymentDate datetime,
		LastPaymentAmount [decimal](28,10) NULL,
		LastPaymentNumber [nvarchar](10) NULL,				
		CustomerCurrency [nvarchar](6) NULL
	)	

	--build a list of customer to be aged (transactions, prepayments and Credit Card Customers)
	INSERT INTO #CustomerList (CustId)
		SELECT t.CustId 
		FROM (
			SELECT h.CustId
				FROM dbo.tblArCashRcptHeader h 
				INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
			UNION
			SELECT p.CustId
				FROM dbo.tblArPmtMethod p 
				INNER JOIN dbo.tblArCashRcptHeader h on p.PmtMethodId = h.PmtMethodId
				INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
				WHERE (p.PmtType = 3 OR p.PmtType = 7) AND p.CustId IS NOT NULL 
		) t 
		WHERE t.CustId IS NOT NULL
		GROUP BY t.CustId


	--age customer balances
	EXEC dbo.trav_ArAgeCustomer_proc


	--capture current information for customers being updated
	INSERT INTO #CustInfo (CustId, MaxPaymentDate, CurrentBalance
		, LastPaymentDate, LastPaymentAmount, LastPaymentNumber,CustomerCurrency)
	SELECT c.CustId, t.MaxPaymentDate
		, (c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit)
		, c.LastPayDate, c.LastPayAmt, c.LastPayCheckNum,c.CurrencyId
	FROM dbo.tblArCust c
	INNER JOIN (Select h.CustId, MAX(h.PmtDate) MaxPaymentDate
		FROM dbo.tblArCashRcptHeader h 
		INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
		GROUP BY h.CustId) t
	on c.CustId = t.CustId

	
	--update the customer values based upon the processed payments
	UPDATE t
		SET t.LastPaymentDate = h.PmtDate
		, t.LastPaymentAmount = CASE WHEN t.CustomerCurrency = h.CurrencyID THEN h.PmtAmt	
								   ELSE	ROUND(h.PmtAmt*et.Rate,et.CurrDecPlaces) END--header.PmtAmt is trans currency
		
		, t.LastPaymentNumber = h.CheckNum		
	FROM #CustInfo t
	INNER JOIN dbo.tblArCashRcptHeader h on t.CustId = h.CustId AND t.MaxPaymentDate = h.PmtDate	
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
	LEFT JOIN 
	(
        SELECT TransKey, Rate, CurrDecPlaces,Source ,Destination
        FROM [dbo].[tblSmExchangeRateTrans] e
        INNER JOIN tblArCashRcptHeader h ON e.[TransKey] = h.RcptHeaderID
        INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
        WHERE e.[TransType] = 'ARCASHRCPT' 
    ) et ON h.RcptHeaderID= et.[TransKey] AND et.Source= h.CurrencyID AND et.[Destination] = t.CustomerCurrency
	WHERE (t.LastPaymentDate <= h.PmtDate OR t.LastPaymentDate IS NULL)

	IF  EXISTS (SELECT * FROM #CustInfo t WHERE  t.LastPaymentAmount IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
			
	--apply the changes to the customer
	UPDATE dbo.tblArCust
		Set dbo.tblARCust.LastPayDate = t.LastPaymentDate
			, dbo.tblArCust.LastPayAmt = t.LastPaymentAmount 
			, dbo.tblArCust.LastPayCheckNum = t.LastPaymentNumber
			, dbo.tblArCust.HighBal = CASE WHEN isnull(dbo.tblArCust.HighBal, 0) < t.CurrentBalance 
				THEN t.CurrentBalance 
				ELSE dbo.tblArCust.HighBal END 
	FROM #CustInfo t	
	WHERE dbo.tblArCust.CustId = t.CustId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_Customer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_Customer_proc'
GO
