USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpSalesOrderAnalysis_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpSalesOrderAnalysis_Proc]  
@ReportFlag tinyint = 1 --Sorting option flag (1 by AssemblyId, 2 by SO Trans/order no)
AS
SET NOCOUNT ON
BEGIN TRY
	Create Table #OrderInfo
	(
		[CustId] [nvarchar](10) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[AssemblyId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NOT NULL,
		UNIQUE NONCLUSTERED ([CustId], [TransId], [AssemblyId], [LocId])
	)

	Create Table #QtyInfo 
	(
		[CustId] [nvarchar](10) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[AssemblyId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NOT NULL,
		[UOM] [nvarchar](5) NOT NULL,
		[ReqDate] [Datetime] null, 
		[SONeededQty] [decimal](28,10) NOT NULL default(0),
		[SOOrderQty] [decimal](28,10) NOT NULL default(0),
		[SOShipQty] [decimal](28,10) NOT NULL default(0),
		[MPOnOrderQty] [decimal](28,10) NOT NULL default(0),
		[MPInProcessQty] [decimal](28,10) NOT NULL default(0),
		[MPProducedQty] [decimal](28,10) NOT NULL default(0),
	)
	
	--Isolate the subset of order information to process
	--	Note: can't isolate by individual line item and compare aggregates by order number
	Insert Into #OrderInfo ([CustId], [TransId], [AssemblyId], [LocId])
	Select h.[CustId], h.[TransId], d.[ItemId], d.[LocId]
	From #tmpSalesOrderAnalysis t 
	Inner Join dbo.tblSoTransHeader h ON t.[TransID] = h.[TransId]
	Inner Join dbo.tblSoTransDetail d ON t.[TransID] = d.[TransID] AND t.[EntryNum] = d.[EntryNum]
	Inner Join dbo.tblMbAssemblyHeader a ON d.[ItemId] = a.[AssemblyId]
    Where h.[TransType] in (3, 5, 9) AND h.[VoidYn] = 0
		And a.[DfltRevYn] = 1
	Group by h.[CustId], h.[TransId], d.[ItemId], d.[LocId]
	Having MIN(d.[Status]) = 0 --must have at least 1 incomplete line item for the given assembly
	
	--capture an aggregate of sales order line items by assembly and location id
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [ReqDate], [SONeededQty], [SOOrderQty], [SOShipQty])
	Select t.[CustId], t.[TransId], d.[ItemId], d.[LocId], d.[UnitsBase]
		, MIN(Case When d.[Status] = 0 Then d.[ReqShipDate] Else Null End)
		, SUM(Case When d.[Status] = 0 Then d.[QtyOrdSell] * ISNULL(d.[ConversionFactor], 1) Else 0 End)
		, SUM(d.[TotQtyOrdSell] * ISNULL(d.[ConversionFactor], 1))
		, SUM(d.[TotQtyShipSell] * ISNULL(d.[ConversionFactor], 1))
	From #OrderInfo t 
	Inner Join dbo.tblSoTransDetail d ON t.[TransId] = d.[TransID] And t.[AssemblyId] = d.[ItemId] And t.[LocId] = d.[LocId]
	Group by t.[CustId], t.[TransId], d.[ItemId], d.[LocId], d.[UnitsBase]

	--capture live quantity to produce (estimated quantity for all live releases)
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPOnOrderQty])
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, Sum(r.[Qty] * ISNULL(u.ConvFactor, 1))
	From #OrderInfo t
	Inner Join dbo.tblMpOrder o on t.[AssemblyId] = o.[AssemblyId] and t.[LocId] = o.[LocId]
	Inner Join dbo.tblMpOrderReleases r on o.[OrderNo] = r.[OrderNo] and t.[TransId] = r.[SalesOrder] and t.[CustId] = r.[CustId]
	Inner Join dbo.tblInItem i on o.[AssemblyId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and r.[UOM] = u.[Uom]
	Where r.[Status] <> 6 --exclude completed orders 
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]

	--capture live quantity inprocess and produced (Actual quantity for all live releases)
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPInProcessQty], [MPProducedQty])
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, Sum(Case when r.[Status] = 6 Then 0 Else d.[Qty] * ISNULL(u.ConvFactor, 1) End) --incomplete releases
		, Sum(Case when r.[Status] = 6 Then d.[Qty] * ISNULL(u.ConvFactor, 1) Else 0 End) --complete releases
	From #OrderInfo t
	Inner Join dbo.tblMpOrder o on t.[AssemblyId] = o.[AssemblyId] and t.[LocId] = o.[LocId]
	Inner Join dbo.tblMpOrderReleases r on o.[OrderNo] = r.[OrderNo] and t.[TransId] = r.[SalesOrder] and t.[CustId] = r.[CustId]
	Inner Join dbo.tblMpRequirements m on r.[id] = m.[ReleaseId]
	Inner Join dbo.tblMpMatlDtl d on m.[TransId] = d.[TransId]
	Inner Join dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and d.[UOM] = u.[Uom]
	Where m.[Type] = 0 --finished goods
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]

	--capture historic quantities produced
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPProducedQty])
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, SUM(d.[Qty] * ISNULL(u.ConvFactor, 1))
	From #OrderInfo t
	Inner Join dbo.tblMpHistoryOrderReleases o on t.[AssemblyId] = o.[AssemblyId] And t.[LocId] = o.[LocId] And t.[TransId] = o.[SalesOrder] and t.[CustId] = o.[CustId]
	Inner Join dbo.tblMpHistoryRequirements m on o.[PostRun] = m.[PostRun] And o.[ReleaseId] = m.[ReleaseId]
	Inner Join dbo.tblMpHistoryMatlDtl d on m.[PostRun] = d.[PostRun] And m.[TransId] = d.[TransId]
	Inner Join dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and d.[UOM] = u.[Uom]
	Where m.[Type] = 0 --finished goods
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]

	--return dataset for view
	--Calculate the additional units to produce to satisfy cumulative SO demand 
	--	QtyProduce = (total SO orderd - (greater of total MP in process or on order) - (greater of SO shipped or MP produced))
	Select Case When @ReportFlag = 1 Then t.[AssemblyId] Else h.[TransId] End AS [SortBy]
		, h.[TransDate] AS [OrderDate], ISNULL(q.[ReqDate], h.[ReqShipDate]) AS [ProdDate]
		, t.[TransId] AS [SOTransId], t.[CustId], h.[CustPONum] AS [PurchaseOrder]
		, t.[AssemblyId], a.[RevisionNo], t.[LocId], q.[UOM] AS UOMBase
		, q.[SONeededQty] AS [QtyRequired] --Qty needed for current SO demand
		, q.[MPOnOrderQty] AS [QtyOnOrder] --Qty currently on order in MP
		, a.[Description]
		, Case When (q.[SOOrderQty]
				- (Case when q.[MPInProcessQty] > q.[MPOnOrderQty] Then q.[MPInProcessQty] Else q.[MPOnOrderQty] End)
				- (Case When q.[SOShipQty] > q.[MPProducedQty] Then q.[SOShipQty] Else q.[MPProducedQty] End)) > 0
			Then (q.[SOOrderQty] 
				- (Case when q.[MPInProcessQty] > q.[MPOnOrderQty] Then q.[MPInProcessQty] Else q.[MPOnOrderQty] End) 
				- (Case When q.[SOShipQty] > q.[MPProducedQty] Then q.[SOShipQty] Else q.[MPProducedQty] End))
			Else 0 End AS [QtyProduce]
		, q.[SOOrderQty], q.[SOShipQty], [MPOnOrderQty], q.[MPInProcessQty], q.[MPProducedQty]
	From #OrderInfo t
		Inner Join dbo.tblSoTransHeader h ON t.[TransId] = h.[TransId]
		Inner Join dbo.tblMbAssemblyHeader a ON t.[AssemblyId] = a.[AssemblyId]
		Inner Join (
			Select [CustId], [TransId], [AssemblyId], [LocId], [UOM]
				, MIN([ReqDate]) As [ReqDate]
				, SUM([SONeededQty]) AS [SONeededQty]
				, SUM([SOOrderQty]) AS [SOOrderQty]
				, SUM([SOShipQty]) AS [SOShipQty]
				, SUM([MPOnOrderQty]) AS [MPOnOrderQty]
				, SUM([MPInProcessQty]) AS [MPInProcessQty]
				, SUM([MPProducedQty]) AS [MPProducedQty]
			From #QtyInfo
			Group By [CustId], [TransId], [AssemblyId], [LocId], [UOM]
		) q on t.[CustId] = q.[CustId] and t.[TransId] = q.[TransId] and t.[AssemblyId] = q.[AssemblyId] and t.[LocId] = q.[LocId]
    Where a.DfltRevYn = 1

END TRY
BEGIN CATCH
     EXEC dbo.trav_RaiseError_proc
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpSalesOrderAnalysis_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpSalesOrderAnalysis_Proc'
GO
