USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsLayawayPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsLayawayPost_InHistory_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @FiscalYear smallint, @FiscalPeriod smallint

	--Retrieve global values
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'

	IF @FiscalYear IS NULL OR @FiscalPeriod IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId)
	SELECT n.HistoryID, @FiscalYear, @FiscalPeriod, h.CompletedDate, NULL, t.InvoiceNum
	FROM #PsCompletedLayawayList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN tblPsTransDetail d ON h.ID = d.HeaderID
		INNER JOIN dbo.tblPsTransDetailIN n ON d.ID = n.DetailID

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_InHistory_proc'
GO
