USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcCompleteJobPost_Log_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcCompleteJobPost_Log_proc]
AS
BEGIN TRY
	--Income
		SELECT p.CustId, p.ProjectName AS ProjId, d.PhaseId, d.TaskId, a.ExtIncome AS Amount, 
			a.GLAcctFixedFeeBilling AS BillingAcct, a.GLAcctIncome AS IncomeAcct
		FROM #PostTransList t INNER JOIN dbo.tblPcProjectDetail d ON t.TransId = d.Id
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON d.Id = a.ProjectDetailId
		WHERE a.[Type] = 6 AND a.[Status] = 2 AND a.ExtIncome <> 0--Activity type is Fixed Fee Billing; Activity status is posted.

	--Cost 
		SELECT p.CustId, p.ProjectName AS ProjId, d.PhaseId, d.TaskId, a.ExtCost, 
			a.GLAcctCost AS GLAcctCOS, a.GLAcctWIP
		FROM #PostTransList t INNER JOIN dbo.tblPcProjectDetail d ON t.TransId = d.Id
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON d.Id = a.ProjectDetailId
		WHERE a.[Type] BETWEEN 0 AND 3 AND a.[Status] = 4 AND a.ExtCost <> 0--Activity type is Time, Material, Expense, Other; Activity status is billed.	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCompleteJobPost_Log_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcCompleteJobPost_Log_proc'
GO
