USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsLayawayPost_Customer_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsLayawayPost_Customer_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @TransType nvarchar(10)
	DECLARE @BaseCurrency [nvarchar](6)
	DECLARE @PostRun [nvarchar](14)
	
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PSTRANS'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'

	IF @PostRun IS NULL OR @BaseCurrency IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--Skip foreign customer for now
	--TODO, RewardRedemption
	--list of customers for balance aging 
	CREATE TABLE #CustomerList (CustID [nvarchar](10) NOT NULL) 

	--work copy of customer values for processing
	CREATE TABLE #CustInfo
	(
		CustId [nvarchar](10) NOT NULL,
		MaxInvoiceNumber [nvarchar](15) NULL,
		MaxInvoiceDate datetime NULL,
		MinInvoiceDate datetime NULL,
		CurrentBalance [decimal](28,3) NOT NULL,
		LastInvoiceNumber [nvarchar](15) NULL,
		LastInvoiceDate datetime NULL,
		LastInvoiceAmount [decimal](28,10) NULL,
		LastPaymentDate datetime NULL,
		LastPaymentAmount [decimal](28,10) NULL,
		LastPaymentNumber [nvarchar](10) NULL,
		MaxPaymentDate datetime NULL,
		CurrencyId [nvarchar](6) NULL
	)	

	--build a list of customer to be aged from layaway
	INSERT INTO #CustomerList (CustId)
	SELECT h.BillToID 
	FROM #PsCompletedLayawayList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId
	UNION
	SELECT h.BillToID 
	FROM #PsIncompleteLayawayList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
		INNER JOIN dbo.tblArCust c ON h.BillToID = c.CustId

	--age customer balances
	EXEC dbo.trav_ArAgeCustomer_proc

	--capture current information for customers being updated
	INSERT INTO #CustInfo (CustId, MaxInvoiceDate, MinInvoiceDate, CurrentBalance, LastInvoiceNumber, LastInvoiceDate, 
		LastInvoiceAmount, LastPaymentDate, LastPaymentAmount, LastPaymentNumber, MaxPaymentDate)
	SELECT c.CustId, i.MaxInvoiceDate, i.MinInvoiceDate, (c.CurAmtDue + c.BalAge1 + c.BalAge2 + c.BalAge3 + c.BalAge4 - c.UnapplCredit), 
		c.LastSaleInvc, c.LastSaleDate, c.LastSaleAmt, c.LastPayDate, c.LastPayAmt, c.LastPayCheckNum, p.MaxPaymentDate
	FROM #CustomerList t INNER JOIN dbo.tblArCust c ON t.CustID = c.CustId
		LEFT JOIN (SELECT h.BillToID, MAX(h.CompletedDate) MaxInvoiceDate, MIN(h.CompletedDate) MinInvoiceDate
			FROM #PsCompletedLayawayList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID
			WHERE h.BillToID IS NOT NULL AND h.VoidDate IS NULL
			GROUP BY h.BillToID) i ON c.CustId = i.BillToID
		LEFT JOIN (SELECT p.CustID, MAX(p.PmtDate) MaxPaymentDate
			FROM #PsLayawayPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID
			WHERE p.CustID IS NOT NULL AND p.VoidDate IS NULL
			GROUP BY p.CustID) p ON c.CustId = p.CustID

	--isolate the max invoice number for the most recent date being posted
	UPDATE #CustInfo Set MaxInvoiceNumber = t.MaxInvoiceNumber
	FROM (SELECT h.BillToID, h.CompletedDate, MAX(t.InvoiceNum) MaxInvoiceNumber
		FROM #PsCompletedLayawayList t INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID
		WHERE h.BillToID IS NOT NULL AND h.VoidDate IS NULL
		GROUP BY h.BillToID, h.CompletedDate) t
	WHERE #CustInfo.CustId = t.BillToID AND #CustInfo.MaxInvoiceDate = t.CompletedDate

	--update the customer values based upon the processed transactions
	if EXISTS ( SELECT ID FROM #PsCompletedLayawayList )
	BEGIN
		UPDATE #CustInfo
			SET LastInvoiceNumber = MaxInvoiceNumber 
			, LastInvoiceDate = MaxInvoiceDate
			, LastInvoiceAmount = h.InvoiceAmount
			, CurrencyId = h.CurrencyID	
		FROM #CustInfo 
		INNER JOIN 
		(	
			SELECT h.BillToID, h.CompletedDate, t.InvoiceNum, d.InvoiceAmount, h.CurrencyID
			FROM #PsCompletedLayawayList t 
			INNER JOIN dbo.tblPsTransHeader h ON t.ID = h.ID 
			INNER JOIN 
			(
				SELECT HeaderID, SUM(SIGN(LineType) * ExtPrice) InvoiceAmount 
				FROM dbo.tblPsTransDetail 
				WHERE LineType <> -1 AND  LineType <> -4 GROUP BY HeaderID
			) d ON h.ID = d.HeaderID
			WHERE h.BillToID IS NOT NULL AND h.VoidDate IS NULL	AND d.InvoiceAmount > 0
		) h ON #CustInfo.CustId = h.BillToID AND #CustInfo.MaxInvoiceNumber = h.InvoiceNum AND #CustInfo.MaxInvoiceDate = h.CompletedDate
		WHERE NOT(MaxInvoiceNumber IS NULL) AND (#CustInfo.LastInvoiceDate IS NULL OR #CustInfo.LastInvoiceDate <= h.CompletedDate)

		UPDATE #CustInfo
		SET  LastInvoiceAmount =  CASE WHEN c.CurrencyId= ci.CurrencyId	THEN ci.LastInvoiceAmount
									  ELSE  ROUND(ci.LastInvoiceAmount * et.Rate,et.CurrDecPlaces)
									  END  
		FROM #CustInfo ci
		INNER JOIN tblPsTransHeader h on ci.CustId  = h.BillToID
		LEFT JOIN tblArCust c ON ci.CustId=c.CustId
		LEFT JOIN
		(	
			SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey,TransType 
			FROM tblSmExchangeRateTrans e
			INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType
		) et
		ON  et.[Source] =ci.CurrencyId  AND et.Destination= c.CurrencyId AND et.TransKey=@PostRun
		WHERE NOT(MaxInvoiceNumber IS NULL) AND (LastInvoiceDate IS NULL OR LastInvoiceDate <= h.CompletedDate)
	
		--Raise Exception if Invalid Exchange rate Exists	
		IF EXISTS (SELECT CustId  FROM  #CustInfo  WHERE LastInvoiceAmount IS NULL)
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END
	END

	--apply the changes to the customer
	UPDATE dbo.tblArCust
		SET dbo.tblArCust.LastSaleInvc = t.LastInvoiceNumber, dbo.tblArCust.LastSaleDate = t.LastInvoiceDate, 
			dbo.tblArCust.LastSaleAmt = t.LastInvoiceAmount, 
			dbo.tblArCust.HighBal = CASE WHEN isnull(dbo.tblArCust.HighBal, 0) < t.CurrentBalance THEN t.CurrentBalance ELSE dbo.tblArCust.HighBal END, 
			dbo.tblArCust.FirstSaleDate = CASE WHEN dbo.tblArCust.FirstSaleDate IS NULL OR dbo.tblArCust.FirstSaleDate > t.MinInvoiceDate 
				THEN t.MinInvoiceDate ELSE dbo.tblArCust.FirstSaleDate END
	FROM #CustInfo t
	WHERE dbo.tblArCust.CustId = t.CustId
	
	--update the customer values based upon the processed payments (Use base currency for values outside POS)
	UPDATE #CustInfo
		SET LastPaymentDate = p.PmtDate, LastPaymentAmount = p.AmountBase, LastPaymentNumber = p.CheckNum, CurrencyId = @BaseCurrency
	FROM #PsLayawayPaymentList t INNER JOIN dbo.tblPsPayment p ON t.ID = p.ID 
		INNER JOIN #CustInfo ON p.CustId = #CustInfo.CustId AND p.PmtDate = #CustInfo.MaxPaymentDate
	WHERE p.VoidDate IS NULL AND (#CustInfo.LastPaymentDate <= p.PmtDate OR #CustInfo.LastPaymentDate IS NULL)

	UPDATE #CustInfo
	SET  LastPaymentAmount =  CASE	WHEN c.CurrencyId= ci.CurrencyId	THEN ci.LastPaymentAmount
									ELSE  ROUND(ci.LastPaymentAmount * et.Rate,et.CurrDecPlaces)
									END  
	FROM #CustInfo ci
	INNER JOIN dbo.tblPsPayment p ON ci.CustId = p.CustID
	INNER JOIN #PsLayawayPaymentList l ON l.ID = p.ID
	LEFT JOIN tblArCust c ON ci.CustId=c.CustId
	LEFT JOIN
	(	
		SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey,TransType 
		FROM tblSmExchangeRateTrans e
		INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType
	) et
	ON  et.[Source] =ci.CurrencyId  AND et.Destination= c.CurrencyId AND et.TransKey=@PostRun 
	WHERE p.VoidDate IS NULL AND (	LastPaymentDate <= p.PmtDate OR LastPaymentDate IS NULL)

	--Raise Exception if Invalid Exchange rate Exists	
	IF EXISTS (SELECT CustId  FROM  #CustInfo  WHERE LastPaymentAmount IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--apply the changes to the customer
	UPDATE dbo.tblArCust
		SET dbo.tblARCust.LastPayDate = t.LastPaymentDate, dbo.tblArCust.LastPayAmt = t.LastPaymentAmount, 
			dbo.tblArCust.LastPayCheckNum = t.LastPaymentNumber, 
			dbo.tblArCust.HighBal = CASE WHEN isnull(dbo.tblArCust.HighBal, 0) < t.CurrentBalance THEN t.CurrentBalance ELSE dbo.tblArCust.HighBal END 
	FROM #CustInfo t
	WHERE dbo.tblArCust.CustId = t.CustId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_Customer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsLayawayPost_Customer_proc'
GO
