USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArPeriodicMaint_SalesRep_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArPeriodicMaint_SalesRep_proc]
AS

SET NOCOUNT ON
BEGIN TRY
	DECLARE @ResetRepPTDSales bit, @ResetRepYTDSales bit

	--Retrieve global values
	SELECT @ResetRepPTDSales = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ResetRepPTDSales'
	SELECT @ResetRepYTDSales = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ResetRepYTDSales' 

	IF @ResetRepPTDSales IS NULL OR @ResetRepYTDSales IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--exit if nothing to do
	IF @ResetRepPTDSales = 0 AND @ResetRepYTDSales = 0 RETURN
	

	--================
	--Reset the sales rep sales amount
	--================
	UPDATE dbo.tblArSalesRep 
		SET PTDSales = CASE WHEN @ResetRepPTDSales = 1 THEN 0 ELSE PTDSales END
		, YTDSales = CASE WHEN @ResetRepYTDSales = 1 THEN 0 ELSE YTDSales END
	
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_SalesRep_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArPeriodicMaint_SalesRep_proc'
GO
