USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_POReq_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_POReq_proc]
AS
BEGIN TRY

	SET NOCOUNT ON

	DECLARE	@RunId pPostRun, @PrecQty tinyint, @RunDate datetime

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	SELECT @PrecQty = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecQty'
	
	IF @RunId IS NULL OR @PrecQty IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT @RunDate = RunDate FROM dbo.tblDrRunInfo WHERE RunId = @RunId

	--Purchase requisitions
	INSERT INTO dbo.tblDrRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId)
	SELECT @RunId, t.ItemId, t.LocId, COALESCE(t.ExpReceiptDate, t.ReqShipDate, t.InitDate, @RunDate), 2
		, 2 --2=PurchReqs
		, 0, ROUND(t.Qty * i.ConvFactor, @PrecQty)
		, 'PO', Null, Null, Null, t.VendorId, Null
		FROM dbo.tblPoPurchaseReq t
		 INNER JOIN tblInItem inv 		 ON t.ItemId = inv.ItemId
		 INNER JOIN dbo.tblInItemUOM i   ON t.ItemId = i.ItemId AND t.UOM = i.UOM
		WHERE t.Seq = 0 AND  t.Qty <> 0 AND NOT(t.ItemId IS NULL OR t.LocId IS NULL)  
		  AND (inv.ItemType <> 3) AND (inv.KittedYN <>1)
	--Purchase request
	INSERT INTO dbo.tblDrRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId)
	SELECT @RunId, t.ItemId, t.LocId, COALESCE(t.ExpReceiptDate,h.ExpReceiptDate, h.TransDate), 2
		, 3 --3=Purchase request
		, 0, ROUND(t.QtyOrd * i.ConvFactor, @PrecQty)
		, 'PO', h.TransId, Null, Null, h.VendorId, Null
		FROM dbo.tblPoTransHeader h
		INNER JOIN dbo.tblPoTransDetail t ON h.TransId = t.TransID
		INNER JOIN tblInItem inv          ON t.ItemId = inv.ItemId 
		INNER JOIN dbo.tblInItemUOM i     ON t.ItemId = i.ItemId AND t.Units = i.UOM
		WHERE h.TransType = 0 AND t.QtyOrd <> 0 AND NOT(t.ItemId IS NULL OR t.LocId IS NULL)   
		  AND (inv.ItemType <> 3) AND (inv.KittedYN <>1)
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_POReq_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_POReq_proc'
GO
