USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrRPView_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[trav_DrRPView_proc]       
@RunId [nvarchar](14) ='All',        
@ItemId [nvarchar](24) ,        
@LocId [nvarchar](10),        
@UOM pUOM,        
@PdDefId nvarchar(10),        
@StartDate Datetime,        
@ShowPriorYn bit = 1,        
@ShowFutureYn bit = 1,        
@PrecQty tinyint = 4,        
@LocIdALL bit = 0        
        
As          
        
SET NOCOUNT ON       
        
BEGIN TRY          
        
--1=PurchOrds / 2=PurchReqs / 16=SalesOrds / 32=FrcstSales / 64=MstrSchedComp / 128=MstrSchedProduction / 256 WorkOrder / 512 WorkOrderComp / 1024=WM Transfer In / 1025=WM Transfer Out / 2048=JC Estimate          
--DRP Inquiry          
        
Declare @TimeFencePds smallint          
Declare @TimeFenceDate datetime          
Declare @QtyOnHand [decimal](28,10)        
Declare @ConvFactor [decimal](28,10)      
Declare @LateDate datetime          
Declare @FutureDate datetime          
Declare @QtySafetyStock [decimal](28,10)  
    
          
--Period def date list           
Create table #DateList(PdId int identity(1, 1), IncDate datetime, DaysInPd int)          
          
--period qty buckets          
Create table #PdQtys          
(          
PdDate datetime Null,           
OnHand [decimal](28,10) NOT NULL default(0),          
SoCmtd [decimal](28,10) NOT NULL default(0),           
DrCmtd [decimal](28,10) NOT NULL default(0),           
BmCompReq [decimal](28,10) NOT NULL default(0), -----WorkOrderComponent(512)  
MbCompReq [decimal](28,10) NOT NULL default(0), -----ProductionOrderComponent(8)       
DrCompReq [decimal](28,10) NOT NULL default(0),   
SpCompReq [decimal](28,10) NOT NULL default(0), --   Single Pass Component requirement  
BoCmtd   [decimal](28,10) NOT NULL default(0),  -------- BoCmtd (5)     
BmOnOrder [decimal](28,10) NOT NULL default(0),  
WorkOder  [decimal](28,10) NOT NULL default(0),          
PoPurReq [decimal](28,10) NOT NULL default(0),          
PoOnOrder [decimal](28,10) NOT NULL default(0),          
WmOnOrder [decimal](28,10) NOT NULL default(0), 
WmCmtd [decimal](28,10) NOT NULL default(0),
JcCmtd [decimal](28,10) NOT NULL default(0),  
SDCmtd [decimal](28,10) NOT NULL default(0),  
SRCmtd [decimal](28,10) NOT NULL default(0),-----SR Transactions (13)  
PrOnOrder [decimal](28,10) NOT NULL default(0),  ---------PurchaseRequest(3)
MSProduction [decimal](28,10) NOT NULL default(0), --MS Prod/Make Forecast
NetAvail [decimal](28,10) NOT NULL default (0)      
)          
        
CREATE  INDEX [IX_PdQtys_PdDate] ON [#PdQtys]([PdDate])   


       
--capture current on hand qty for non-serialized and serialized items          
          
Select @QtyOnHand = Sum(isnull(QtyOnHand, 0))          
 From dbo.tblDRRunItemLoc          
 Where RunId = @RunId and ItemId = @ItemId  and ((LocId = @LocId and @LocIdALL = 0) or          
(LocId in (Select LocId from dbo.tblDRRunItemLoc WHERE RunId = @RunId and ItemId = @ItemId) and @LocIdALL = 1))           
        
--ensure value isn't null          
Select @QtyOnHand = isnull(@QtyOnHand, 0)          
          
--capture item/loc defaults     
  
          
Select @QtySafetyStock = isnull((CASE WHEN l.QtySafetyStock > l.QtyOrderPoint THEN l.QtySafetyStock  ELSE l.QtyOrderPoint END) * p.ConvFactor, 0)          
 From dbo.tblInItemLoc l INNER JOIN dbo.tblInItemUom p ON l.ItemID = p.ItemId AND p.Uom = l.OrderQtyUom          
 Where l.ItemId = @ItemId And ((l.LocId = @LocId and @LocIdALL = 0) or           
(l.LocId in (Select Max(LocId) from dbo.tblInItemLoc  WHERE ItemId = @ItemId and CASE WHEN QtySafetyStock > QtyOrderPoint  THEN  QtySafetyStock ELSE QtyOrderPoint END <> 0) and @LocIdALL = 1))          
          
          
--Select @QtySafetyStock  = isnull(@QtySafetyStock, 0)          
Select @QtySafetyStock  = 0 --isnull(@QtySafetyStock, 0)          
    -- DONT INCORPORATE SAFETY STOCK INTO TOTALS
        
--build the period def date range            
        
Exec trav_DrQryPdDefBuildDateList @PdDefId, @StartDate            
        
          
--set date for prior/last and future periods          
Select @LateDate = dateadd(dd, -1, @StartDate)          
Select @FutureDate = max(Dateadd(dd, DaysInPd, IncDate)) From #DateList          
          
--add @LateDate/@FutureDate buckets at end of table so it's not included as a time fence period          
Insert into #DateList (IncDate, DaysInPd) Values (@LateDate, 1)          
Insert into #DateList (IncDate, DaysInPd) Values (@FutureDate, 1)          
          
--capture bucketed quantities          
        
          
Insert into #PdQtys(PdDate, SOCmtd, DrCmtd, BmCompReq, DrCompReq,SpCompReq, BmOnOrder,WorkOder, PoOnOrder, PoPurReq, WMOnOrder, WmCmtd, JcCmtd,SDCmtd,MbCompReq,BoCmtd,PrOnOrder,SRCmtd, MSProduction)
Select cast(d.IncDate as DateTime)         
 , Round(Sum(Case When t.Source = 16 Then t.Qty Else 0 End), @PrecQty)   --SOCmtd       
 , Round(Sum(Case When t.Source = 32 Then t.Qty Else 0 End), @PrecQty)   ---DrCmtd       
 , Round(Sum(Case When t.Source = 512 Then t.Qty Else 0 End), @PrecQty)  ---BmCompReq     
 , Round(Sum(Case When t.Source = 64 Then t.Qty Else 0 End), @PrecQty)   ----DrCompReq       
 , Round(Sum(Case When t.Source = 11 Then t.Qty Else 0 End), @PrecQty)   ----SpCompReq   
 , Round(Sum(Case When t.Source = 4 Then t.Qty  Else 0 End), @PrecQty)    ---BmOnOrder (MFG)
 , Round(Sum(Case When t.Source = 256 Then t.Qty Else 0 End), @PrecQty)  -----WorkOder  (BM)
 , Round(Sum(Case When t.Source = 1 Then t.Qty Else 0 End), @PrecQty)    -----PoOnOrder     
 , Round(Sum(Case When t.Source = 2 Then t.Qty Else 0 End), @PrecQty)    ----PoPurReq   
 , Round(Sum(Case When t.Source = 1024 Then t.Qty Else 0 End), @PrecQty) -----WMOnOrder 
 , Round(Sum(Case When t.Source = 1025 Then t.Qty Else 0 End), @PrecQty) -----WMCmtd 
 , Round(Sum(Case When t.Source = 2048 Then t.Qty Else 0 End), @PrecQty) -----JcCmtd  
 , Round(Sum(Case When t.Source = 10 Then t.Qty Else 0 End), @PrecQty)   --10=SDTrans   
 , Round(Sum(Case When t.Source = 8 Then t.Qty Else 0 End), @PrecQty)--ProductionOrderComponent(8)  
 , Round(Sum(Case When t.Source = 5 Then t.Qty Else 0 End), @PrecQty)--BoCmtd (5)   
 , Round(Sum(Case When t.Source = 3 Then t.Qty Else 0 End), @PrecQty)--PurchaseRequest(3)   
 , Round(Sum(Case When t.Source = 13 Then t.Qty Else 0 End), @PrecQty)--SR Transactions(13)   
 , Round(Sum(Case When t.Source = 128 Then t.Qty Else 0 End), @PrecQty)--DR MS Production/Make forecast
           
 From #DateList d, 
-- (Select Case When dateadd(dd, -i.DfltLeadTime, convert(datetime, convert(varchar(10),  r.TransDate, 101))) < @StartDate Then @LateDate Else 
--		 Case When dateadd(dd, -i.DfltLeadTime, convert(datetime, convert(varchar(10),  r.TransDate, 101))) >= @FutureDate Then @FutureDate Else dateadd(dd, -i.DfltLeadTime,convert(datetime, convert(varchar(10),  r.TransDate, 101)))End End TransDate          
 (Select Case When dateadd(dd, 0, convert(datetime, convert(varchar(10),  r.TransDate, 101))) < @StartDate Then @LateDate Else 
		 Case When dateadd(dd, 0, convert(datetime, convert(varchar(10),  r.TransDate, 101))) >= @FutureDate Then @FutureDate Else dateadd(dd, 0,convert(datetime, convert(varchar(10),  r.TransDate, 101)))End End TransDate          
  , r.Source, Sum(r.Qty) Qty          
  From dbo.tblDRRunData r INNER JOIN dbo.tblInItemLoc i ON r.ItemId = i.ItemId AND r.LocId = i.LocId          
  Where r.RunId = @RunId and r.ItemId = @ItemId and ((r.LocId = @LocId AND @LocIdALL = 0) or @LocIdALL = 1)          
  Group By convert(datetime, convert(varchar(10),  r.TransDate, 101)), r.Source, i.DfltLeadTime) t          
Where t.TransDate Between d.IncDate and dateadd(dd, d.DaysInPd - 1, d.IncDate)          
Group By d.IncDate           
        
          
If @ShowPriorYn <> 1           
Begin          
 --if not showing on report then remove from dataset          
 Delete #PdQtys Where PdDate < @StartDate            
 Delete #DateList Where IncDate < @StartDate          
        
End          
          
        
If @ShowFutureYn <> 1           
Begin          
 --if not showing on report then remove from dataset          
 Delete #PdQtys Where PdDate >= @FutureDate          
        
          
 Delete #DateList Where IncDate >= @FutureDate          
        
End          
          
--pack table to ensure records exist for each #DateList period          
        
          
Insert into #PdQtys(PdDate) Select IncDate From #DateList Where IncDate not in (Select PdDate From #PdQtys)          
          
        
        
--calcualte the Net Avail per period          
-- must find the respective date for the given time fence periods           
-- to determine usage of actual vs forecasted quantity values          
Select @TimeFencePds = TimeFencePds          
 From dbo.tblDrPeriodDef          
 Where PdDefId = @PdDefId          
          
Set @TimeFenceDate = Null          
          
Select @TimeFenceDate = Max(IncDate)          
 From #DateList          
 Where PdId <= @TimeFencePds               
             
          
          
          
Update #PdQtys Set #PdQtys.NetAvail = (@QtyOnHand - @QtySafetyStock) + isnull(tmp.NetAvail, 0)          
From (Select d.PdDate          
 , (Select Sum(PoOnOrder + PoPurReq + WmOnOrder + PrOnOrder
  + Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)
   Then  --larger of MS Production (forecast) vs On order Production (MP/BM)
    Case When isnull(BmOnOrder, 0) + isnull(WorkOder, 0) > isnull(MSProduction, 0)
     Then isnull(BmOnOrder, 0) + isnull(WorkOder, 0)
     Else isnull(MSProduction, 0)
     End          
   Else  --Act Production On Order
    isnull(BmOnOrder, 0)  + isnull(WorkOder, 0)       
   End          
  - Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)          
   Then  --larger of MS Comp Req vs Prod Ord Comp Req          
    Case When isnull(DrCompReq, 0) + isnull(SpCompReq, 0) > isnull(BmCompReq , 0) + isnull(MbCompReq , 0)         
     Then isnull(DrCompReq, 0) + isnull(SpCompReq, 0)         
     Else isnull(BmCompReq, 0)  + isnull(MbCompReq , 0)        
     End          
   Else  --Act Prod Ord comp req          
    isnull(BmCompReq, 0)  + isnull(MbCompReq , 0)       
   End          
  - Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)          
   Then  --larger of frcst vs sales          
    Case When isnull(DrCmtd, 0) > (isnull(SoCmtd , 0) + isnull(JcCmtd, 0 ) + isnull(SDCmtd , 0) + isnull(BoCmtd , 0) + isnull(SRCmtd, 0) + isnull(WmCmtd, 0))          
     Then isnull(DrCmtd, 0)          
     Else (isnull(SoCmtd, 0) + isnull(JcCmtd, 0) + isnull(SDCmtd , 0) + isnull(BoCmtd , 0) + isnull(SRCmtd, 0)  + isnull(WmCmtd, 0))          
     End          
   Else  --sales          
    (isnull(SoCmtd, 0) + isnull(JcCmtd, 0) + isnull(SDCmtd , 0)+ isnull(BoCmtd , 0) + isnull(SRCmtd, 0)  + isnull(WmCmtd, 0))          
   End          
  )          
  From #PdQtys q          
  Where q.PdDate <= d.PdDate) NetAvail           
 From #PdQtys d) tmp          
Where #PdQtys.PdDate = tmp.PdDate          
          
          
--update the On Hand quantity for each Period          
        
--adjust each active period          
Update #PdQtys Set #PdQtys.OnHand = isnull(tmp.OnHand, (@QtyOnHand - @QtySafetyStock))          
From (Select d.PdDate          
 , (Select Top 1 NetAvail From #PdQtys q          
  Where q.PdDate < d.PdDate          
  Order by q.PdDate Desc) OnHand          
 From #PdQtys d) tmp          
Where #PdQtys.PdDate = tmp.PdDate          
        
          
--return the resultset - convert to given UOM          
          
Select @ItemId ItemId, @LocId LocId, @TimeFencePds TimeFencePds, @FutureDate FutureDate, @StartDate StartDate          
 , Round(@QtySafetyStock / iu.ConvFactor, @PrecQty) QtySafetyStock          
 , q.PdDate, DateAdd(dd, d.DaysInPd - 1, q.PdDate) PdEndDate          
 , Round(OnHand / iu.ConvFactor, @PrecQty) OnHand          
 , Round(SoCmtd / iu.ConvFactor, @PrecQty) SoCmtd          
 , Round(DrCmtd / iu.ConvFactor, @PrecQty) DrCmtd          
 , Round(BmCompReq / iu.ConvFactor, @PrecQty) BmCompReq          
 , Round(DrCompReq / iu.ConvFactor, @PrecQty) DrCompReq   
 , Round(SpCompReq / iu.ConvFactor, @PrecQty) SpCompReq  
 , Round(BmOnOrder / iu.ConvFactor, @PrecQty) BmOnOrder   
 , Round(WorkOder / iu.ConvFactor, @PrecQty) WorkOder          
 , Round(PoPurReq / iu.ConvFactor, @PrecQty) PoPurReq          
 , Round(PoOnOrder / iu.ConvFactor, @PrecQty) PoOnOrder          
 , Round(WmOnOrder / iu.ConvFactor, @PrecQty) WmOnOrder 
 , Round(WmCmtd / iu.ConvFactor, @PrecQty) WmCmtd 
 , Round(JcCmtd / iu.ConvFactor, @PrecQty) JcCmtd   
 , Round(SDCmtd / iu.ConvFactor, @PrecQty) SDCmtd  
 , Round(SRCmtd / iu.ConvFactor, @PrecQty) SRCmtd      
 , Round(MbCompReq / iu.ConvFactor, @PrecQty) MbCompReq   
 , Round(BoCmtd / iu.ConvFactor, @PrecQty) BoCmtd   
 , Round(PrOnOrder / iu.ConvFactor, @PrecQty) PrOnOrder       
 , Round(MSProduction / iu.ConvFactor, @PrecQty) MSProduction
 , Round(NetAvail / iu.ConvFactor, @PrecQty) NetAvail          
from #PdQtys q left join #DateList d          
 on q.PdDate = d.IncDate  Inner Join tblInItemUom iu on iu.ItemId=@ItemId and iu.Uom =@UOM          
Order by PdDate          
          
END TRY          
BEGIN CATCH          
      EXEC dbo.trav_RaiseError_proc          
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrRPView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrRPView_proc'
GO
