USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmRcpt_History_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmRcpt_History_proc]
@QtyPrec tinyint
AS
BEGIN TRY		

	DECLARE @MaxExtHistSeqNum int
	--IF OBJECT_ID('tempdb.dbo.#tmpWmHistDetail', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpWmHistDetail (ExtHistSeqNum int NOT NULL, RcptKey int NOT NULL)
	--END
	CREATE TABLE #tmpWmHistDetail (ExtHistSeqNum int NOT NULL, RcptKey int NOT NULL)

	SELECT @MaxExtHistSeqNum = MAX(ExtHistSeqNum) FROM dbo.tblWmHistDetail
	SET @MaxExtHistSeqNum = ISNULL(@MaxExtHistSeqNum,0)

	INSERT INTO #tmpWmHistDetail (ExtHistSeqNum, RcptKey)
	SELECT ROW_NUMBER() OVER(ORDER BY r.RcptKey) + @MaxExtHistSeqNum AS ExtHistSeqNum,r.RcptKey
	FROM dbo.tblWmRcpt r INNER JOIN #RcptStatus t ON r.RcptKey = t.RcptKey
		INNER JOIN dbo.tblInItemUom u ON r.ItemId = u.ItemId AND r.UOM = u.Uom
	WHERE r.[Status] <> 2 AND r.ExtHistSeqNum IS NULL--Not completed,No WM ExtHistSeqNum

	SET IDENTITY_INSERT dbo.tblWmHistDetail ON
	INSERT INTO dbo.tblWmHistDetail(ExtHistSeqNum, HistSeqNum, HistSeqNumSer, ItemId, LocId, Lotnum, Sernum, ExtLocA, ExtLocAID, ExtLocB, ExtLocBID, [Source], TransId, 
		EntryNum, ReferenceId, EntryDate, TransDate, Qty, DeletedYn, [UID], HostId, [Status], DeleteDate, ZoneID, QtyBase, Unit, UnitBase, BOLNum, Notes, ActivityType, AppID)
	SELECT ROW_NUMBER() OVER(ORDER BY r.RcptKey) + @MaxExtHistSeqNum AS ExtHistSeqNum,NULL AS HistSeqNum,NULL AS HistSeqNum,r.ItemId,r.LocId,r.LotNum,r.SerNum,
		r.ExtLocA,b.ExtLocID AS ExtLocAID,r.ExtLocB,c.ExtLocID AS ExtLocBID,
		CASE r.[Source] WHEN 0 THEN 10 WHEN 1 THEN 21 WHEN 2 THEN 18 WHEN 8 THEN 22 WHEN 16 THEN 31 WHEN 32 THEN 17 WHEN 64 THEN 30 ELSE 0 END AS [Source], --0,PO;1,WMTransfer;2,MPProduction;8,WMMatReqReturn;16,SORMA;32,PCMatReqReturn;64,SDPartReturn;
		CASE WHEN r.[Source] IN (0,2,8,16,32) THEN r.TransId WHEN r.[Source] IN (1,64) THEN CAST(r.EntryNum AS nvarchar) END AS TransId,  
		CASE WHEN r.[Source] IN (0,2,8,16,32) THEN r.EntryNum ELSE NULL END AS EntryNum,
		r.ReceiptNum AS ReferenceId,GETDATE() AS EntryDate,r.TransDate,r.Qty,0 AS DeletedYn,r.[UID],r.HostId,r.QtyStatus AS [Status],
		NULL AS DeleteDate,b.ZoneID,ROUND(CAST(r.Qty AS decimal(23,10)) * CAST(u.ConvFactor AS decimal(23,10)),@QtyPrec) AS QtyBase,r.UOM AS Unit,i.UomBase AS UnitBase,r.BOLNum AS BOLNum, r.Notes AS Notes, 1,
		CASE r.[Source] WHEN 0 THEN 'PO' WHEN 1 THEN 'WM' WHEN 2 THEN 'MP' WHEN 8 THEN 'WM' WHEN 16 THEN 'SO' WHEN 32 THEN 'JC' WHEN 64 THEN 'SD' WHEN 128 THEN 'SR' END AS [AppID]
	FROM dbo.tblWmRcpt r INNER JOIN #RcptStatus t ON r.RcptKey = t.RcptKey
		INNER JOIN dbo.tblInItem i ON r.ItemId = i.ItemId
		INNER JOIN dbo.tblInItemUom u ON r.ItemId = u.ItemId AND r.UOM = u.Uom
		LEFT JOIN dbo.tblWmExtLoc b ON r.ExtLocA = b.Id
		LEFT JOIN dbo.tblWmExtLoc c ON r.ExtLocB = c.Id
	WHERE r.[Status] <> 2 AND r.ExtHistSeqNum IS NULL--Not completed,No WM ExtHistSeqNum
	SET IDENTITY_INSERT dbo.tblWmHistDetail OFF

	UPDATE dbo.tblWmRcpt SET ExtHistSeqNum = w.ExtHistSeqNum
	FROM dbo.tblWmRcpt t INNER JOIN #tmpWmHistDetail w ON t.RcptKey = w.RcptKey

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmRcpt_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmRcpt_History_proc'
GO
