USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsBuildHostList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsBuildHostList_proc]
@LocID pLocID = NULL,
@IncludePayment bit = 0
AS
SET NOCOUNT ON
BEGIN TRY

	--Populate all hosts that have config record with matching location
	INSERT INTO #PsHostList (HostID)
	SELECT DISTINCT HostID 
	FROM dbo.tblPsTransHeader 
	WHERE HostID NOT IN (SELECT HostID FROM #PsHostList) 
		AND ConfigID IN (SELECT ID FROM dbo.tblPsConfig WHERE ISNULL(LocID,'') = ISNULL(@LocID,'')) 

	IF (@IncludePayment = 1)
	BEGIN
		--Populate all hosts that have config record with matching location
		INSERT INTO #PsHostList (HostID)
		SELECT DISTINCT HostID 
		FROM dbo.tblPsPayment 
		WHERE HostID NOT IN (SELECT HostID FROM #PsHostList) 
			AND ConfigID IN (SELECT ID FROM dbo.tblPsConfig WHERE ISNULL(LocID,'') = ISNULL(@LocID,'')) 
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsBuildHostList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsBuildHostList_proc'
GO
