USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPaymentPost_History_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPaymentPost_History_proc]
AS
BEGIN TRY
	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @PrecCurr tinyint,  @TransTypePayment nvarchar(10)

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @TransTypePayment = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePayment' -- 'APPAYMENT'
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	
	/* populate tblApPaymentHistHeader from tblApPaymentControl, tblApPayment, tblApPaymentDetail and tblApOpenInvoice */
	INSERT INTO dbo.tblApPaymentHistHeader
		(PostRun, PaymentID, BatchId, VendorID, PmtType, PaymentDate, PaymentRun, PaymentNum, PaymentAmt, PaymentAmtBase 
		, CurrencyID, BankId, BankAcctNum, RoutingCode, FiscalPeriod, FiscalYear
		, PayToName
		, PayToAttn
		, PayToAddr1
		, PayToAddr2
		, PayToCity
		, PayToRegion 
		, PayToCountry
		, PayToPostalCode
		, DeliveryType, GLCashAcct, GLDiscAcct, BankAccountType)
	SELECT @PostRun, p.ID, pc.BatchID, A.VendorID, p.PmtType, p.PaymentDate, GETDATE(),	p.PaymentNum, A.PaymentAmt, A.PaymentAmtBase
		, pc.CurrencyID, pc.BankID, p.BankAcctNum, p.RoutingCode, p.FiscalPeriod, p.FiscalYear
		, A.PayToName 
		, A.PayToAttn
		, A.PayToAddr1
		, A.PayToAddr2
		, A.PayToCity
		, A.PayToRegion
		, A.PayToCountry
		, A.PayToPostalCode
		, p.DeliveryType, pc.GLCashAcct, pc.GLDiscAcct, p.BankAccountType
	FROM  #PostTransList b
	INNER JOIN dbo.tblApPaymentControl pc ON pc.BatchID = b.TransId
	INNER JOIN dbo.tblApPayment p ON pc.ID = p.ControlID
	LEFT JOIN
	( SELECT 
		 d.PaymentID
		, SUM(d.PaymentAmt) AS PaymentAmt
		, SUM(d.PaymentAmtBase) AS PaymentAmtBase
		, i.VendorID		
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.Name) ELSE MIN(v.PayToName) END AS PayToName
		, MIN(v.PayToAttention) AS PayToAttn
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.Addr1) ELSE MIN(v.PayToAddr1) END AS PayToAddr1
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.Addr2) ELSE MIN(v.PayToAddr2) END AS PayToAddr2
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.City) ELSE MIN(v.PayToCity) END AS PayToCity
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.Region) ELSE MIN(v.PayToRegion) END AS PayToRegion
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.Country) ELSE MIN(v.PayToCountry) END AS PayToCountry
		, CASE WHEN ISNULL(MIN(v.PayToName),'') = '' THEN MIN(v.PostalCode) ELSE MIN(v.PayToPostalCode) END AS PayToPostalCode
		
	  FROM 	
		dbo.tblApPaymentDetail d 
		INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.[Counter]
		INNER JOIN dbo.tblApVendor v ON i.VendorID = v.VendorID
		GROUP BY i.VendorID, d.PaymentID
	) AS A ON A.PaymentID = p.ID

	/* populate tblApPaymentHistDetail  from tblApPaymentControl, tblApPayment, tblApPaymentDetail and tblApOpenInvoice */
	INSERT INTO dbo.tblApPaymentHistDetail (HeaderID, InvoiceCounter, InvoiceDate, InvoiceNum, DistCode, TermsCode, CurrencyID, NetDueDate, DiscDueDate 
		, GrossAmtDue, GrossAmtDueBase, DiscLost, DiscLostBase, DiscTaken, DiscTakenBase, PaymentAmt, PaymentAmtBase 
		, GLAcctAP
		, GLPayableAmt
		, GLPayableAmtBase
		, GLDiscAmt
		, GLDiscAmtBase
		, GLAcctGainLoss, GLGainLossAmt 
		, GLGainLossAmtBase, Ten99InvoiceYN, BaseGrossAmtDue, APGrossAmtDue)
	SELECT h.ID, i.[Counter], i.InvoiceDate, i.InvoiceNum, i.DistCode, i.TermsCode, i.CurrencyId, i.NetDueDate, i.DiscDueDate
		, d.GrossAmtDue, d.GrossAmtDueBase, d.DiscLost, d.DiscLostBase, d.DiscTaken, d.DiscTakenBase, d.PaymentAmt, d.PaymentAmtBase
		, i.GLAcctAP
		, CASE WHEN l.[Order] = 0 THEN CASE WHEN l.CurrencyId = isnull(APAcc.CurrencyID,  @CurrBase) THEN l.AmountFgn ELSE ROUND(l.AmountFgn*etp.Rate,cAp.CurrDecPlaces) END ELSE 0 END AS  GLPayableAmt 		-- AP Account currency
		, CASE WHEN l.[Order] = 0 THEN l.Amount	ELSE 0 END AS GLPayableAmtBase	
		, d.DiscTaken
		, d.DiscTakenBase
		, d.GLAcctGainLoss, d.GLGainLossAmt
		, d.GLGainLossAmtBase, i.Ten99InvoiceYN, i.BaseGrossAmtDue, i.APGrossAmtDue 
	FROM  #PaymentDetail d
	INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
	INNER JOIN dbo.tblApPaymentHistHeader h ON h.PostRun = @PostRun AND h.PaymentID = d.PaymentID
	INNER JOIN #ApPaymentPostLog l ON l.PaymentControlID = d.PaymentControlID AND l.InvoiceCounter = i.Counter	
	LEFT JOIN dbo.tblGlAcctHdr APAcc ON APAcc.AcctId = i.GLAcctAP
	LEFT JOIN dbo.tblSmExchangeRateTrans etp ON d.TransKey = etp.TransKey
		AND d.TransType = etp.TransType 
		AND l.CurrencyId = etp.Source 
		AND ISNULL(APAcc.CurrencyID,@CurrBase) = etp.Destination 
	LEFT JOIN dbo.tblSmCurrency cAp ON cAp.CurrID = APAcc.CurrencyID 
	WHERE l.[Order] =0

	UPDATE tblApPaymentHistDetail
		SET GLDiscAmt = CASE WHEN l.[Order] = 2 THEN CASE WHEN l.CurrencyId = isnull(disc.CurrencyID,  @CurrBase) THEN d.DiscTaken ELSE ROUND(d.DiscTaken*et.Rate,c.CurrDecPlaces) END ELSE 0 END,
		GLDiscAmtBase = CASE WHEN l.[Order] = 2 THEN d.DiscTakenBase ELSE 0 END
	FROM #PaymentDetail d
	INNER JOIN dbo.tblApOpenInvoice i ON d.InvoiceCounter = i.Counter
	INNER JOIN dbo.tblApPaymentHistHeader h ON h.PostRun = @PostRun AND h.PaymentID = d.PaymentID
	INNER JOIN dbo.tblApPaymentHistDetail hd ON h.ID = hd.HeaderID AND d.InvoiceCounter = hd.InvoiceCounter
	INNER JOIN #ApPaymentPostLog l ON l.PaymentControlID = d.PaymentControlID AND l.InvoiceCounter = i.Counter
	LEFT JOIN dbo.tblGlAcctHdr disc ON disc.AcctId = d.GLDiscAcct		
	LEFT JOIN dbo.tblSmExchangeRateTrans et ON d.TransKey = et.TransKey
		AND d.TransType = et.TransType 
		AND l.CurrencyId = et.Source 
		AND ISNULL(disc.CurrencyID,@CurrBase) = et.Destination
	LEFT JOIN dbo.tblSmCurrency c ON c.CurrID = disc.CurrencyID 	
		WHERE l.[Order] =2
			
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_History_proc'
GO
