USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_ProjectUpdateStatus_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_ProjectUpdateStatus_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	
	CREATE TABLE #TransPost9h 
	(TransID nvarchar(8)) 
	
	--Build a list of completed transactions
	INSERT INTO #TransPost9h 
	SELECT h.TransId 
	FROM #PostTransList b INNER JOIN 
	(tblPoTransHeader h INNER JOIN tblPoTransDetail d ON h.TransId = d.TransID) 
	ON b.TransId = h.TransId 
	GROUP BY h.TransId 
	HAVING MIN(d.LineStatus) = 1 
	
	UPDATE dbo.tblPcActivity SET Status = 2 
	FROM #TransPost9h t INNER JOIN dbo.tblPoTransLotRcpt r ON t.TransID = r.TransId
		INNER JOIN dbo.tblPcActivity ON r.ActivityId = dbo.tblPcActivity.Id  

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ProjectUpdateStatus_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ProjectUpdateStatus_proc'
GO
