USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPaymentPost_Vendor_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPaymentPost_Vendor_proc]
AS
BEGIN TRY

	DECLARE @PrecCurr tinyint, @CurrBase [nvarchar](6), @TransTypePayment nvarchar(10), @TransTypePrePayment nvarchar(10)

	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @TransTypePayment = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePayment' -- 'APPAYMENT'
	SELECT @TransTypePrePayment = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePrePayment' -- 'APPREPAY'

	IF @PrecCurr IS NULL OR @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #VendorDue
	 (
		VendorId [nvarchar](10) NOT NULL,
		GrossDue [decimal](28,10) NULL,
		Prepaid [decimal](28,10) NULL
		PRIMARY KEY CLUSTERED 
		(
		  [VendorId] ASC
		)
	 )

	CREATE TABLE #temp1 
	(
		VendorID nvarchar(10) NOT NULL, 
		CheckNum nvarchar(10) NULL, 
		FormatCheckNum nvarchar(10) NULL, 
		CheckAmt decimal(28,10) NULL,		
		CheckDate datetime NULL, 
		Status tinyint NULL
	)
		
	
	-- invoice
	INSERT INTO #temp1 (VendorID, CheckNum, FormatCheckNum, CheckAmt,  CheckDate, [Status])
	SELECT d.VendorID
		, d.PaymentNum
		, d.PaymentNum
		, CASE WHEN v.CurrencyId =  d.PaymentCurrency THEN d.PaymentAmt
			   WHEN v.CurrencyId = @CurrBase THEN d.PaymentAmtBase
			   ELSE	ROUND((d.PaymentAmt*e.Rate),c.CurrDecPlaces) END
		, d.PaymentDate
		, d.Status 
	FROM #PaymentDetail d
	INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID
	INNER JOIN [dbo].[tblSmCurrency] c on  c.[CurrID] = v.CurrencyId
	LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
		AND d.TransType = e.TransType 
		AND d.PaymentCurrency = e.Source 
		AND v.CurrencyID = e.Destination 
	--WHERE  d.PaymentAmtBase > 0
	ORDER BY d.PaymentDate, d.PaymentNum

	IF  EXISTS (SELECT * FROM #temp1 t WHERE  t.CheckAmt IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END	



	/* update Last Payment Info - update tblApVendor */
	UPDATE dbo.tblApVendor 
	SET LastPmtDate = t.CheckDate
		, LastPmtAmt = t.CheckAmt		
		, LastCheckNum = t.CheckNum 
	FROM dbo.tblApVendor 
	INNER JOIN 
	(	SELECT c.VendorId,c.CheckDate,SUM(c.CheckAmt)AS CheckAmt,c.CheckNum 
		FROM #temp1 c 
		INNER JOIN 
		(	SELECT VendorID, MAX(FormatCheckNum) FormatCheckNum 
			FROM #temp1 
			GROUP BY VendorID
		) v ON c.VendorId = v.VendorId AND ISNULL(c.FormatCheckNum,'') = ISNULL(v.FormatCheckNum,'')
		GROUP BY c.VendorId,c.CheckDate,c.CheckNum
	) t
	ON dbo.tblApVendor.VendorID = t.VendorID 
	WHERE (t.CheckDate > dbo.tblApVendor.LastPmtDate OR dbo.tblApVendor.LastPmtDate IS NULL)

	-- Gross due, prepaid insert
	INSERT INTO #VendorDue (VendorId,GrossDue,Prepaid)
	SELECT o.VendorID, 
	SUM(CASE 
				WHEN o.[STATUS] < 3 -- Doubt in status sessions
				THEN CASE 
							WHEN v.CurrencyId = o.CurrencyId	THEN o.GrossAmtDueFgn
							WHEN v.CurrencyId = @CurrBase		THEN o.GrossAmtDue
							ELSE ROUND(o.GrossAmtDueFgn * exInv.Rate, c.CurrDecPlaces)
					    END
		         ELSE 0
		END) SumOfGrossAmtDue,
	SUM(CASE 
	 			WHEN o.[STATUS] = 3 
				THEN CASE 
							WHEN v.CurrencyId = o.CurrencyId	THEN o.GrossAmtDueFgn
							WHEN v.CurrencyId = @CurrBase THEN o.GrossAmtDue
							ELSE ROUND(o.GrossAmtDueFgn * exInv.Rate, c.CurrDecPlaces)
					    END
		         ELSE 0
		END) SumOfPrepaid
	FROM dbo.tblApOpenInvoice o
	INNER JOIN dbo.tblApVendor v ON  v.VendorID = o.VendorID
	LEFT JOIN dbo.tblSmCurrency c ON c.CurrID =v.CurrencyId
	LEFT JOIN dbo.tblSmExchangeRateTrans exInv ON  exInv.TransKey = o.[Counter] --Invoice exch rates
		AND  exInv.TransType = 'APINVC' 
		AND  exInv.Source = o.CurrencyId
		AND  exInv.Destination = v.CurrencyId	
	WHERE o.[Status] <= 4 AND o.VendorId IN (SELECT VendorId FROM #PaymentDetail t )
	GROUP BY o.VendorID

	UPDATE v
	SET v.GrossDue = d.GrossDue, v.Prepaid = d.Prepaid
	FROM dbo.tblApVendor v
	INNER JOIN #VendorDue d ON d.VendorId = v.VendorID


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Vendor_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPaymentPost_Vendor_proc'
GO
