USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmUpdatePerpetual_History_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmUpdatePerpetual_History_proc]
AS
BEGIN TRY
	DECLARE @UserId pUserId
	DECLARE @HostId pWrkStnId
	DECLARE @WrkStnDate datetime
	DECLARE @PrecQty tinyint
	DECLARE @PostRun pPostRun
	
	SELECT @PrecQty = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecQty'
	SELECT @UserId = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'UserId'
	SELECT @HostId = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'HostId'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	
	IF @WrkStnDate IS NULL OR @UserId IS NULL OR @HostId IS NULL OR @PrecQty IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO dbo.tblWmHistPhysicalCountBatch([PostRun],[BatchID],[Description],[CountDate],[AssignedTo],[PreparedDateTime],[PreparedBy],[FrozenDateTime],[FrozenBy],[LocID],[Filter],[DisplayFilter],[CF],[ReqCountEntryForZeroQtyYN])
	Select @PostRun, t.[BatchID],ba.[Description],ba.[CountDate],ba.[AssignedTo],ba.[PreparedDateTime],ba.[PreparedBy],ba.[FrozenDateTime],ba.[FrozenBy],ba.[LocID],ba.[Filter],ba.[DisplayFilter],ba.[CF],ba.[ReqCountEntryForZeroQtyYN]
	from #BatchList t 
	INNER JOIN dbo.tblWmPhysicalCountBatch ba ON ba.BatchID = t.BatchId

	INSERT INTO dbo.tblWmHistPhysicalCountHeader(ID, ABCClass, BatchID, CountUom, CountUomConvFactor, ItemID, LocID, PostRun)
	SELECT hdr.ID, l.ABCClass, t.BatchId, hdr.CountUom, hdr.CountUomConvFactor, hdr.ItemID, ba.LocId, @PostRun
	FROM #BatchList t 
	INNER JOIN dbo.tblWmPhysicalCountBatch ba ON ba.BatchID = t.BatchId
	INNER JOIN dbo.tblWmPhysicalCountHeader hdr ON hdr.BatchID = ba.BatchID
	INNER JOIN ( 
		SELECT distinct HeaderID from tblWmPhysicalCountDetail det 
			inner join #BatchList t on det.BatchID = t.BatchID
		) det on hdr.Id = det.HeaderID
	INNER JOIN dbo.tblInItemLoc l ON ba.LocID = l.LocId AND hdr.ItemID = l.ItemId

	INSERT INTO dbo.tblWmHistPhysicalCountDetail(BatchID, CountDetailID, ExtLocA, ExtLocAID, ExtLocB, ExtLocBID, HeaderID, LotNum, NewExtLocAID, NewExtLocBID, QtyCounted, QtyFrozen, QtyStatus, SerNum, TagNum, PostRun, DetailType)
	SELECT t.BatchId, det.ID, locA.Id, det.ExtLocAID, locB.Id, det.ExtLocBID, hdr.ID, det.LotNum, det.NewExtLocAID, det.NewExtLocBID, det.QtyCounted, det.QtyFrozen, det.QtyStatus, det.SerNum, det.TagNum, @PostRun as PostRun, DetailType
	FROM #BatchList t 
	INNER JOIN dbo.tblWmPhysicalCountBatch ba ON ba.BatchID = t.BatchId
	INNER JOIN dbo.tblWmPhysicalCountHeader hdr ON hdr.BatchID = ba.BatchID
	INNER JOIN dbo.tblWmPhysicalCountDetail det ON det.HeaderID = hdr.ID
	INNER JOIN dbo.tblWmExtLoc locA ON locA.ExtLocID = det.ExtLocAID AND locA.LocID = ba.LocID AND locA.[Type] = 0
	LEFT JOIN dbo.tblWmExtLoc locB ON locB.ExtLocID = det.ExtLocBID AND locB.[Type] = 1

	INSERT INTO dbo.tblWmHistPhysicalCountEntry(BatchID, CountEntryID, CountUom, DetailID, 
												EntryDate, ErrorFlag, ExtLocA, ExtLocAID, 
												ExtLocB, ExtLocBID, HostID, ItemID, LocID, LotNum, QtyCounted, SerNum, [Status], TagNum, [UID], PostRun)
	SELECT t.BatchId, ph.ID, ph.CountUom, ph.DetailID, 
			ph.EntryDate, ph.ErrorFlag, locA.Id, ph.ExtLocAID, 
			locB.Id, ph.ExtLocBID, ph.HostID, ph.ItemID, ba.LocID, ph.LotNum, ph.QtyCounted, ph.SerNum, ph.[Status], ph.TagNum, ph.[UID], @PostRun
	FROM #BatchList t
	INNER JOIN dbo.tblWmPhysicalCountBatch ba ON ba.BatchID = t.BatchId
	INNER JOIN dbo.tblWmPhysicalCountEntry ph ON ph.BatchID = ba.BatchID
	INNER JOIN dbo.tblWmExtLoc locA ON locA.ExtLocID = ph.ExtLocAID AND locA.LocID = ba.LocID AND locA.[Type] = 0
	LEFT JOIN dbo.tblWmExtLoc locB ON locB.ExtLocID = ph.ExtLocBID AND locB.[Type] = 1
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_History_proc'
GO
