USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_UpdateShipResponse_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_UpdateShipResponse_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	
	DECLARE @PostRun pPostRun
	SELECT @PostRun = CAST([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'

	UPDATE sr
	SET sr.PostRun = @PostRun
	FROM tblSmShipResponse sr
	INNER JOIN #PostTransList l ON (l.TransId = sr.SourceID) OR (CONCAT('SO', l.TransId) = sr.SourceID) --'SO' prefix is no longer used, original criteria is kept for backward compatibility
	WHERE sr.PostRun IS NULL OR sr.PostRun = ''

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_UpdateShipResponse_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_UpdateShipResponse_proc'
GO
