USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InUpdateHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InUpdateHistory_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @PostRun nvarchar(14)
	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'

	IF @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	UPDATE dbo.tblInHistDetail
		SET SumYear = t.FiscalYear, GLPeriod = t.FiscalPeriod,
			SumPeriod = t.FiscalPeriod, TransDate = t.TransDate,
			BatchId = t.BatchId, RefId = ISNULL(t.RefId, dbo.tblInHistDetail.RefId),
			PriceUnit = ISNULL(t.PriceUnit, dbo.tblInHistDetail.PriceUnit),
			PriceExt = ISNULL(t.PriceExt, dbo.tblInHistDetail.PriceExt),
			PostRun = @PostRun
	FROM dbo.tblInHistDetail INNER JOIN #InHistory t 
		ON dbo.tblInHistDetail.ID = t.ID and dbo.tblInHistDetail.PostRun is null
		
	UPDATE dbo.tblInHistSer 
		SET InvcNum = t.RefId
	FROM dbo.tblInHistSer INNER JOIN dbo.tblInHistDetail d ON dbo.tblInHistSer.HistSeqNum = d.HistSeqNum 
		INNER JOIN #InHistory t ON d.ID = t.ID
	WHERE t.RefId IS NOT NULL --AR, SO
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdateHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdateHistory_proc'
GO
