USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcSoHistPack_EC_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcSoHistPack_EC_proc]
AS
                       
SET NOCOUNT ON
BEGIN TRY

    DECLARE @PostRun [nvarchar](14) , @NewID bigint
    
	CREATE TABLE #tmpSoTransID
	(
		TransId [nvarchar](8) NOT NULL, 
	)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	
	IF @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO #tmpSoTransID(TransId)
	SELECT l.TransId 
	FROM #PostTransList l 
	INNER JOIN tblEcPoSoTransHeader s ON s.SoTransId = l.TransId	

--Insert to history


  --Header
    INSERT INTO tblEcSoHistPackHeader(Id, PostRun, SoTransId, BOLNo, SCACCode, Status, CF)
    SELECT h.Id ,@PostRun,h.SoTransId, h.BOLNo, h.SCACCode, h.Status, h.CF
    FROM dbo.tblEcSoTransPackHeader h 
    INNER JOIN #PostTransList s ON s.TransId = h.SoTransId
    WHERE  h.Status = 1  


	--Details
	INSERT INTO tblEcSoHistPackDetail(Id, PostRun, SoHistPackHeaderID, SoTransId, EntryNum, ItemId,Descr,Qty,UOM,TrackingNum,UCC128,POSKU,BoxID, CF, BoxNumber, LotNum, PackagingType)
    SELECT d.Id,@PostRun,d.SoTransPackHeaderID, d.SoTransId, d.EntryNum, d.ItemId,d.Descr,d.Qty,d.UOM,d.TrackingNum,d.UCC128,d.POSKU,d.BoxID, d.CF, d.BoxNumber, d.LotNum, d.PackagingType
    FROM dbo.tblEcSoTransPackDetail d 
    INNER JOIN tblEcSoTransPackHeader h on h.Id=d.SoTransPackHeaderID
	INNER JOIN #PostTransList s ON s.TransId = h.SoTransId
    WHERE  h.Status = 1  

--Remove from live

     --Details
	DELETE d
	FROM dbo.tblEcSoTransPackDetail d 
    INNER JOIN tblEcSoTransPackHeader h on h.Id=d.SoTransPackHeaderID
	INNER JOIN #PostTransList s ON s.TransId = h.SoTransId
    WHERE  h.Status = 1  

	--Header
	DELETE h
	FROM dbo.tblEcSoTransPackHeader h 
    INNER JOIN #PostTransList s ON s.TransId = h.SoTransId
    WHERE  h.Status = 1  

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcSoHistPack_EC_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcSoHistPack_EC_proc'
GO
