USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaVoidCheck_941_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaVoidCheck_941_proc]
AS
BEGIN TRY

--PET:http://webfront:801/view.php?id=227570
--PET:http://webfront:801/view.php?id=227706
--PET:http://problemtrackingsystem.osas.com/view.php?id=263987

	DECLARE @PayrollYear smallint
	DECLARE @PayrollMonth smallint
	DECLARE @VoidToPayrollMonth smallint
    DECLARE @VoidDate datetime
	   
	SELECT @PayrollYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PayrollYear'
	SELECT @PayrollMonth = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PayrollMonth'
	SELECT @VoidToPayrollMonth = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'VoidToPayrollMonth'
    SELECT @VoidDate = Cast([Value] AS DateTime) FROM #GlobalValues WHERE [Key] = 'VoidDate'
	    
	IF @PayrollYear IS NULL OR @PayrollMonth IS NULL
		OR @VoidToPayrollMonth IS NULL OR @VoidDate IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--===========================
	--Employer tax
	--===========================
	INSERT INTO dbo.tblPa941ScheduleB ([PaYear], [PaMonth], [PaDay], [Amount])
	SELECT @PayrollYear
		, CASE WHEN @VoidToPayrollMonth = 1 THEN @PayrollMonth ELSE l.[PaMonth] END
		, DAY(@VoidDate), SUM(-h.[WithholdingAmount])
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblPaCheckHistEmplrTax h ON l.[PostRun] = h.[PostRun] AND l.[Id] = h.[CheckId]
	INNER JOIN dbo.tblPaTaxAuthorityHeader tah ON h.[TaxAuthorityType] = tah.[Type]
	INNER JOIN dbo.tblPaTaxAuthorityDetail tad ON tah.[Id] = tad.[TaxAuthorityId] AND h.[WithholdingCode] = tad.[Code]
	WHERE h.[TaxAuthorityType] = 0 --Federal
		AND tad.[PaYear] = @PayrollYear AND tad.EmployerPaid = 1 AND tad.CodeType <> 2 --2=Unemployment Tax
		AND l.[Status] = 0 
	GROUP BY DAY(l.[CheckDate])
		, CASE WHEN @VoidToPayrollMonth = 1 THEN @PayrollMonth ELSE l.[PaMonth] END
		
		
	--===========================
	--Withholding
	--===========================
	INSERT INTO dbo.tblPa941ScheduleB ([PaYear], [PaMonth], [PaDay], [Amount])
	SELECT @PayrollYear
		, CASE WHEN @VoidToPayrollMonth = 1 THEN @PayrollMonth ELSE l.[PaMonth] END
		, DAY(@VoidDate), SUM(-h.[WithholdingAmount])
	FROM #VoidCheckLog l
	INNER JOIN dbo.tblPaCheckHistWithhold h ON l.[PostRun] = h.[PostRun] AND l.[Id] = h.[CheckId]
	WHERE h.[TaxAuthorityType] = 0 --Federal
		AND l.[Status] = 0 
	GROUP BY DAY(l.[CheckDate])
		, CASE WHEN @VoidToPayrollMonth = 1 THEN @PayrollMonth ELSE l.[PaMonth] END
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_941_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaVoidCheck_941_proc'
GO
