USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemValuationDetailView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemValuationDetailView_proc]
@AsOfDate datetime = '20161231',
@AsOfDateOption tinyint = 0, --As Of Date option (0=BY date/1=BY gl period & fiscal year)
@AsOfGlPeriod smallint = 12,
@AsOfFiscalYear smallint = 2016,
@CurrencyPrecision tinyint = 2,
@QuantityPrecision tinyint = 4,
@ReportUom tinyint = 0, -- 0, Reporting;1, Base;
@CostingMethod tinyint = 0, -- 0, FIFO/LIFO; 1, Average; 2, Standard;
@AlternateCost bit = 1,
@BaseCurrencyId [nvarchar](6) = 'USD'
AS
BEGIN TRY
	SET NOCOUNT ON
	  
	--create the temp table populated by qryInValuation to retrieve the results
	CREATE TABLE #InValuationResults
	(
		ItemId [nvarchar](24) NULL,
		LocId [nvarchar](24) NULL,
		QtyOnHand [decimal](28,10) NOT NULL DEFAULT(0),
		ExtCost [decimal](28,10) NOT NULL DEFAULT(0),
		PeriodBegBal [decimal](28,10) NOT NULL DEFAULT(0),
		YearBegBal [decimal](28,10) NOT NULL DEFAULT(0),
		COGS [decimal](28,10) NOT NULL DEFAULT(0),
		CostPurchased [decimal](28,10) NOT NULL DEFAULT(0),              
		CostMatReq [decimal](28,10) NOT NULL DEFAULT(0),
		CostXfer [decimal](28,10) NOT NULL DEFAULT(0),
		CostAdj [decimal](28,10) NOT NULL DEFAULT(0),
		TotCogsAdj [decimal](28,10) NOT NULL DEFAULT(0),
		TotPurchPriceVar [decimal](28,10) NOT NULL DEFAULT(0),
		Uom [nvarchar](5) NOT NULL,
		CurrencyId [nvarchar](6) NULL
	)
	CREATE INDEX [IX_InValuationResults] ON #InValuationResults(ItemId, LocId)

	--call the valuation calc routines to populate the resultset table
	Exec dbo.trav_InValuation_proc @AsOfDate, @AsOfDateOption, @AsOfGlPeriod, @AsOfFiscalYear,
		 @CurrencyPrecision, @QuantityPrecision, @CostingMethod, @AlternateCost, @BaseCurrencyId

	--return the resultset
	SELECT	i.ItemId, i.Descr, i.ProductLine, l.LocId, 
			v.QtyOnHand / CASE WHEN @ReportUom = 0 THEN ISNULL(ud2.ConvFactor,u.ConvFactor) ELSE Base.ConvFactor END Qty,
			CASE WHEN @ReportUom = 0 THEN ISNULL(ud2.Uom,i.UomDflt) ELSE Base.Uom END AS UOM, 
			CASE WHEN (v.QtyOnHand/CASE WHEN @ReportUom = 0 THEN ISNULL(ud2.ConvFactor,u.ConvFactor) ELSE Base.ConvFactor END) = 0 THEN 0 ELSE (v.ExtCost / (v.QtyOnHand/CASE WHEN @ReportUom = 0 THEN ISNULL(ud2.ConvFactor,u.ConvFactor) ELSE Base.ConvFactor END)) END CostUnit, 
			v.TotCogsAdj, 
			v.TotPurchPriceVar,
			v.ExtCost,	
			l.ABCClass, 
			l.GLAcctCode, 
			i.ItemType, 
			CAST(i.KittedYN AS bit) [KittedYN], 
			l.ItemLocStatus, 
			i.LottedYN, 
			i.SalesCat, 
			i.TaxClass, 
			CASE WHEN @ReportUom = 0 THEN 'Reporting' ELSE 'Base' END ReportUOM,
			h.HMCode, 
			l.DfltVendId, 
			l.DfltBinNum, 
			l.DateLastSale, 
			l.DateLastPurch,
			v.CurrencyId,
			l.BuyerPlanner,
			l.ProcurMethod
	FROM	dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
			INNER JOIN #InValuationResults v ON l.ItemId = v.ItemId AND l.LocId = v.LocId
			INNER JOIN dbo.tblInItemUom u ON i.ItemId = u.ItemId AND u.Uom = i.UomDflt
			INNER JOIN dbo.tblInItemUom base ON i.ItemId = base.ItemId AND base.Uom = i.UomBase
			LEFT JOIN (	SELECT	ud.ItemId, dflt.ConvFactor, ud.Uom, ud.DfltType	
						FROM	dbo.tblInItemUomDflt ud 
								INNER JOIN dbo.tblInItemUom dflt ON ud.ItemId = dflt.ItemId AND ud.Uom = dflt.Uom 
						WHERE	ud.DfltType = 1) AS ud2 ON i.itemId = ud2.ItemId
			LEFT JOIN dbo.tblInHazMat h ON i.HMRef = h.HMRef 
	WHERE	v.QtyOnHand <> 0 OR v.TotCogsAdj <> 0 OR v.ExtCost <> 0	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemValuationDetailView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemValuationDetailView_proc'
GO
