USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HrIndEffectivePosition_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HrIndEffectivePosition_proc]
@EffectiveDate DATETIME,
@IsRangeDateView BIT = 0

AS
--Retrieves the most recent, effective positions held by a given subset of individuals.
--Individuals without an effective position that is inclusive of the Effective date are not included in the returned result set

--Expects a list of individual id values to be provided via temporary table #IndividualList that supports the following
--Create Table #IndividualList ([IndID] [nvarchar](11) NOT NULL, Primary Key ([IndID]))

SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #IndPosition 
	(
		[Counter] [bigint] NOT NULL IDENTITY (1, 1),
		[IndId] [nvarchar](11) NOT NULL,
		[IndPositionID] [bigint]
		PRIMARY KEY ([IndId], [Counter])
	)

	BEGIN 
	IF @IsRangeDateView = 0
	--capture effective positions 
	--ordered by PrimaryPosition and StartDate so that most recent primary position has the lowest counter value
	INSERT INTO #IndPosition ([IndId], [IndPositionID])
	SELECT g.[IndId], ip.[ID]
		FROM [dbo].[tblHRIndGenInfo] g 
		INNER JOIN #IndividualList i ON g.[IndId] = i.[IndID]
		INNER JOIN [dbo].[tblHrIndPosition] ip ON g.[IndId] = ip.[IndId]
		WHERE @EffectiveDate BETWEEN ISNULL(ip.[StartDate], @EffectiveDate) AND ISNULL(ip.[EndDate], @EffectiveDate)
		ORDER BY ip.[PrimaryPosition] DESC, ip.[StartDate] DESC
	ELSE
	INSERT INTO #IndPosition ([IndId], [IndPositionID])
	SELECT g.[IndId], ip.[ID]
		FROM [dbo].[tblHRIndGenInfo] g 
		INNER JOIN #IndividualList i ON g.[IndId] = i.[IndID]
		INNER JOIN [dbo].[tblHrIndPosition] ip ON g.[IndId] = ip.[IndId]
		ORDER BY ip.[PrimaryPosition] DESC, ip.[StartDate] DESC
	END
	--Return the position for each individual with the lowest counter
	--	as it represents the most recent position (primary when available) inclusive of the effective date
	--	use the largest Primary position when one exists
	SELECT ip.[IndId], ip.[IndPositionID]
		FROM #IndPosition ip
		INNER JOIN (SELECT [IndId], MIN([Counter]) AS [Counter]
			FROM #IndPosition 
			GROUP BY [IndId]
		) pid ON ip.[IndId] = pid.[IndId] AND ip.[Counter] = pid.[Counter]

END TRY

BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrIndEffectivePosition_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrIndEffectivePosition_proc'
GO
