USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTagReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTagReport_proc]
@BatchID  [nvarchar](6) = 'abc',
@Select  tinyint = 2, --0, Nonserilized Only; 1, Serialized Only; 2, Both;
@SortBy  nvarchar(150) = 'LocId, ItemId',
@StartTagNum  Int = 1,
@LastGoodTagNum  Int = NULL,
@DefaultNoBin bit = 0,
@PrintZeroQty bit = 1, -- Print Items with Zero Quantities.
@IncludeNullBin bit = 0 --Include null bins
AS
SET NOCOUNT ON
BEGIN TRY

DECLARE @SQL  NVarchar(1000)

CREATE TABLE #tmpInPhysCount (
	[SeqNum] Int NOT NULL ,
	[DtlSeqNum] Int NOT NULL,
	[ItemId] [nvarchar](24) NULL ,
	[LocId] [nvarchar](10) NULL ,
	[LotNum] [nvarchar](16) NULL ,
	[SerNum] [nvarchar](35) NULL ,
	[BinNum] [nvarchar] (10) NULL ,
	[ExtLocBId] [nvarchar] (10) NULL,
	[QtyFrozen] [decimal](28,10) NULL,
	[TagNum] [int] NULL,
	[DfltUom] [nvarchar](5) NULL ,
	[Descr] nvarchar(35) NULL,
	[ProductLine] [nvarchar] (12) NULL,
	CONSTRAINT [PK_tmpInPhysCount] PRIMARY KEY CLUSTERED (SeqNum,DtlSeqNum) 
)

CREATE TABLE #tmpInTag 
(
	[SeqNum] int NOT NULL, 
	[DtlSeqNum] int NOT NULL, 
	[TagNum] int NOT NULL IDENTITY(1,1),
	CONSTRAINT [PK_tmpInTag] PRIMARY KEY CLUSTERED (SeqNum,DtlSeqNum)
)

CREATE TABLE #tmpCountList
(
	SeqNum int NOT NULL 
	CONSTRAINT [PK_#tmpCountList] PRIMARY KEY CLUSTERED 
	(
		[SeqNum]
	)
)


INSERT INTO #tmpCountList (SeqNum)
SELECT c.SeqNum
FROM dbo.tblInPhysCount c INNER JOIN dbo.tblInItem i ON c.ItemId = i.ItemId 
	LEFT JOIN (SELECT SeqNum, SUM(QtyFrozen) AS DetailQtyFrozen FROM dbo.tblInPhysCountDetail GROUP BY SeqNum) d ON c.SeqNum = d.SeqNum
WHERE c.BatchId = @BatchID AND (@Select = 2 OR (@Select = 0 AND i.ItemType = 1) OR (@Select = 1 AND i.ItemType = 2))
	AND (@PrintZeroQty = 1 OR c.QtyFrozen <> 0 OR ISNULL(d.DetailQtyFrozen,0) <> 0 )
	AND (@LastGoodTagNum IS NULL OR c.TagNum > @LastGoodTagNum)

INSERT INTO #tmpInPhysCount ([SeqNum],[DtlSeqNum],[ItemId],[LocId],[LotNum],[QtyFrozen],[TagNum],[DfltUom],[Descr],[ProductLine],BinNum)
SELECT c.SeqNum,0,c.ItemId,c.LocId,c.LotNum,c.QtyFrozen/u.ConvFactor ,c.TagNum,c.CountedUom,i.Descr,c.ProductLine,
CASE WHEN (@Select = 2 OR @Select = 0) AND i.ItemType = 1 THEN c.DfltBinNum ELSE NULL END AS ExtLocAId
FROM #tmpCountList t
	INNER JOIN dbo.tblInPhysCount c ON t.SeqNum = c.SeqNum 
	INNER JOIN dbo.tblInItem i ON c.ItemId = i.ItemId 
	INNER JOIN dbo.tblInItemUom u ON c.ItemId = u.ItemId AND c.CountedUom = u.Uom	
WHERE i.ItemType = 1 AND (@IncludeNullBin = 1 )

INSERT INTO #tmpInPhysCount ([SeqNum],[DtlSeqNum],[ItemId],[LocId],[LotNum],[QtyFrozen],[TagNum],[DfltUom],[Descr],[ProductLine],[SerNum],[BinNum],[ExtLocBID])
SELECT c.SeqNum,d.DtlSeqNum,c.ItemId,c.LocId,c.LotNum,d.QtyFrozen/u.ConvFactor,d.TagNum,d.CountedUom,i.Descr,c.ProductLine,d.SerNum,d.ExtLocAId AS ExtLocAId,d.ExtLocBId
FROM #tmpCountList t
	INNER JOIN dbo.tblInPhysCount c ON t.SeqNum = c.SeqNum 
	INNER JOIN dbo.tblInItem i ON c.ItemId = i.ItemId 
	INNER JOIN dbo.tblInPhysCountDetail d ON c.SeqNum = d.SeqNum 
	INNER JOIN dbo.tblInItemUom u ON c.ItemId = u.ItemId AND d.CountedUom = u.Uom
WHERE i.ItemType = 1


INSERT INTO #tmpInPhysCount ([SeqNum],[DtlSeqNum],[ItemId],[LocId],[LotNum],[QtyFrozen],[TagNum],[DfltUom],[Descr],[ProductLine],[SerNum],[BinNum],[ExtLocBID])
SELECT c.SeqNum,d.DtlSeqNum,c.ItemId,c.LocId,c.LotNum,d.QtyFrozen/u.ConvFactor,d.TagNum,d.CountedUom,i.Descr,c.ProductLine,d.SerNum,d.ExtLocAId AS ExtLocAId,d.ExtLocBId
FROM #tmpCountList t 
	INNER JOIN dbo.tblInPhysCount c ON t.SeqNum = c.SeqNum 
	INNER JOIN dbo.tblInPhysCountDetail d ON c.SeqNum = d.SeqNum
	INNER JOIN dbo.tblInItem i ON c.ItemId = i.ItemId 
	INNER JOIN dbo.tblInItemUom u ON c.ItemId = u.ItemId AND d.CountedUom = u.Uom 
WHERE i.ItemType = 2 AND (@IncludeNullBin = 1 OR d.ExtLocAId IS NOT NULL)

SET @SQL = N'INSERT INTO #tmpInTag (SeqNum,DtlSeqNum) SELECT c.SeqNum,c.DtlSeqNum FROM #tmpInPhysCount c ORDER BY ' + @SortBy
EXEC sp_executesql  @SQL

UPDATE #tmpInPhysCount SET TagNum = t.TagNum + @StartTagNum - 1 
FROM #tmpInPhysCount INNER JOIN #tmpInTag t ON #tmpInPhysCount.SeqNum = t.SeqNum AND #tmpInPhysCount.DtlSeqNum = t.DtlSeqNum

UPDATE dbo.tblInPhysCount SET TagNum = t.TagNum 
FROM dbo.tblInPhysCount INNER JOIN #tmpInPhysCount t ON dbo.tblInPhysCount.SeqNum = t.SeqNum
WHERE t.DtlSeqNum = 0

UPDATE dbo.tblInPhysCountDetail SET TagNum = t.TagNum 
FROM dbo.tblInPhysCountDetail INNER JOIN #tmpInPhysCount t ON dbo.tblInPhysCountDetail.SeqNum = t.SeqNum AND dbo.tblInPhysCountDetail.DtlSeqNum = t.DtlSeqNum
WHERE t.DtlSeqNum > 0

SELECT * FROM #tmpInPhysCount ORDER BY TagNum

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTagReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTagReport_proc'
GO
