USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmBomExplorer_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmBomExplorer_proc]
AS
SET NOCOUNT ON
BEGIN TRY

SELECT h.BmBomId, h.BmItemId, h.BmLocId, h.Descr, h.Uom, i.Descr ItemDescr, 
	ISNULL(i.KittedYN,0) KittedYN, l.Descr LocDescr
FROM #tmpBOMList t INNER JOIN dbo.tblBmBom h ON t.BmBomId = h.BmBomId 
	LEFT JOIN dbo.tblInItem i ON h.BmItemId = i.ItemId
	LEFT JOIN dbo.tblInLoc l ON h.BmLocId = l.LocId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmBomExplorer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmBomExplorer_proc'
GO
