USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMMatReqFilled_StatusChange_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMMatReqFilled_StatusChange_proc]  
AS  
BEGIN TRY    
 --Updates status of filled quantity to posted after GL log entries are generated.   
 UPDATE dbo.tblWmMatReqFilled  SET [Status]= 1 FROM #MatReqPostLog t  
   INNER JOIN dbo.tblWmMatReqFilled f ON f.[Status] = 0 AND t.TranKey = f.TranKey and t.LineNum=f.LineNum 
      
END TRY    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqFilled_StatusChange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMMatReqFilled_StatusChange_proc'
GO
