USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoOpenRequestBalance_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoOpenRequestBalance_proc]
	@TransId pTransId,
	@GLAcct pGlAcct,
	@BaseCurrency pCurrency
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @currDest pCurrency
	DECLARE @currPrec int

	SET @currDest = (SELECT CurrencyID From dbo.tblGlAcctHdr (NOLOCK) WHERE AcctId = @glAcct)
	SET @currPrec = (SELECT CurrDecPlaces From dbo.tblSmCurrency (NOLOCK) WHERE CurrID = @currDest)

	SELECT SUM(CASE WHEN hdr.CurrencyID = @currDest THEN dtl.ExtCostFgn
		WHEN @currDest = @BaseCurrency THEN dtl.ExtCost
		ELSE ROUND((ISNULL(dtl.ExtCostFgn, 0)) * exch.Rate, @currPrec) END) AS PendingAmt
	FROM dbo.tblPoTransHeader hdr (NOLOCK)
		INNER JOIN dbo.tblPoTransDetail dtl (NOLOCK) ON hdr.TransId = dtl.TransID
		LEFT JOIN (
			SELECT TransKey, [Source], Rate FROM dbo.tblSmExchangeRateTrans (NOLOCK) WHERE TransType = 'POTRANS' AND Destination = @currDest
			) exch ON exch.TransKey = hdr.TransId AND exch.[Source] = hdr.CurrencyID
	WHERE hdr.TransType = 0 AND dtl.LineStatus = 0 AND dtl.GLAcct = @GLAcct AND hdr.TransId != @TransId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenRequestBalance_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenRequestBalance_proc'
GO
