USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_MpGenerateOrdersFromSO_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[_RCG_trav_MpGenerateOrdersFromSO_proc]  
AS
SET NOCOUNT ON
BEGIN TRY


---remove this section -- only for testing
--CREATE TABLE 
--	#SOList([TransId] [nvarchar](8) NOT NULL
--	, [AssemblyId] [nvarchar](24) NOT NULL
--	, [LocId] [nvarchar](10) NOT NULL 
--	PRIMARY KEY CLUSTERED ([TransId], [AssemblyId], [LocId]))



--Insert Into #SOList ([TransId], [AssemblyId], [LocId]) 
--Select Distinct [TransId], [AssemblyId], [LocId]
--	From (SELECT d.[TransId], a.[AssemblyId], d.[LocId]
--		, h.[CustId], h.[CustPONum], a.[Description]
--                                     , isnull(d.ReqShipDate,h.ReqShipDate) ReqShipDate 
--		From dbo.tblSoTransHeader h 
--		Inner Join dbo.tblSoTransDetail d ON h.[TransId] = d.[TransId]
--		Inner Join dbo.tblMbAssemblyHeader a ON d.[ItemId] = a.[AssemblyId]
--		Where h.[TransType] in (3, 5, 9) And h.[VoidYn] = 0
--			And a.[DfltRevYn] = 1 And a.[PlanningBill] = 0) s where transid='00011069';
------------------------------------------------------------



	Create Table #OrderInfo
	(
		[CustId] [nvarchar](10) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[AssemblyId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NOT NULL,
		[ReqShipDate] [Datetime] null, -- BMC/RCG 
		[SoEntryNum] [int] null, --BMC/RCG
		UNIQUE NONCLUSTERED ([CustId], [TransId], [AssemblyId], [LocId], [ReqShipDate]) -- BMC/RCG added ReqShipDate
	)

	Create Table #QtyInfo 
	(
		[CustId] [nvarchar](10) NOT NULL,
		[TransId] [nvarchar](8) NOT NULL,
		[AssemblyId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NOT NULL,
		[UOM] [nvarchar](5) NOT NULL,
		[ReqDate] [Datetime] null, 
		[SOOrderQty] [decimal](28,10) NOT NULL default(0),
		[SOShipQty] [decimal](28,10) NOT NULL default(0),
		[MPOnOrderQty] [decimal](28,10) NOT NULL default(0),
		[MPInProcessQty] [decimal](28,10) NOT NULL default(0),
		[MPProducedQty] [decimal](28,10) NOT NULL default(0),
		[ReqShipDate] [DateTime] null, -- BMC/RCG
		[LineRevisionNo] [nvarchar] (3) NULL, -- BMC/RCG
	)
	
	--Isolate the subset of order information to process
	--	Note: can't isolate by individual line item and compare aggregates by order number
	Insert Into #OrderInfo ([CustId], [TransId], [AssemblyId], [LocId], [ReqShipDate],[SoEntryNum] ) -- BMC/RCG added ReqShipDate and SOEntryNum
	Select h.[CustId], h.[TransId], d.[ItemId], d.[LocId], d.ReqShipDate, Max(d.EntryNum) -- BMC/RCG added d.ReqShipDate and entryNum
	From #SOList t 
	Inner Join dbo.tblSoTransHeader h ON t.[TransID] = h.[TransId]
	Inner Join dbo.tblSoTransDetail d ON t.[TransID] = d.[TransID] And t.[AssemblyId] = d.[ItemId] And t.[LocId] = d.[LocId]
	Inner Join dbo.tblMbAssemblyHeader a ON d.[ItemId] = a.[AssemblyId]
    Where h.[TransType] in (3, 5, 9) AND h.[VoidYn] = 0
		And a.[DfltRevYn] = 1
	Group by h.[CustId], h.[TransId], d.[ItemId], d.[LocId], d.ReqShipDate -- BMC/RCG added d.ReqShipDate
	Having MIN(d.[Status]) = 0 --must have at least 1 incomplete line item for the given assembly

	

	

	--remove planned production orders releases for sales orders being evaluated   -- need to determine if this needs an update BMC/RCG
	Delete dbo.tblMpOrderReleases 
		From dbo.tblMpOrderReleases 
		Inner Join dbo.tblMpOrder o On dbo.tblMpOrderReleases.[OrderNo] = o.[OrderNo]
		Inner Join #OrderInfo s ON o.[AssemblyId] = s.[AssemblyId] And o.[LocId] = s.[LocId]
			And dbo.tblMpOrderReleases.[CustId] = s.[CustId] And dbo.tblMpOrderReleases.[SalesOrder] = s.[TransId]
	Where [Status] = 1 --planned only

	--remove orders without any releases  -- need to determine if this needs an update BMC/RCG
	Delete dbo.tblMpOrder 
		From dbo.tblMpOrder 
		Left Join dbo.tblMpOrderReleases r ON dbo.tblMpOrder.[OrderNo] = r.[OrderNo]
	Where r.[OrderNo] IS NULL
		
	
	
	--capture an aggregate of sales order line items by assembly and location id
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [ReqDate], [SOOrderQty], [SOShipQty], [ReqShipDate], [LineRevisionNo]) -- BMC/RCG added ReqShipDate
	Select t.[CustId], t.[TransId], d.[ItemId], d.[LocId], d.[UnitsBase] 
		, MIN(Case When d.[Status] = 0 Then d.[ReqShipDate] Else Null End) 
		, SUM(d.[TotQtyOrdSell] * ISNULL(d.[ConversionFactor], 1))
		, SUM(d.[TotQtyShipSell] * ISNULL(d.[ConversionFactor], 1))
		,d.ReqShipDate -- BMC/RCG 
		,MAX(d.[cf_Revision No]) -- BMC/RCG
	From #OrderInfo t 
	Inner Join dbo.trav_tblSoTransDetail_view d ON t.[TransId] = d.[TransID] And t.[AssemblyId] = d.[ItemId] And t.[LocId] = d.[LocId] and t.ReqShipDate=d.ReqShipDate -- BMC/RCG - and t.ReqShipDate=d.ReqShipDate
	WHERE d.Status = 0
	Group by t.[CustId], t.[TransId], d.[ItemId], d.[LocId], d.[UnitsBase], d.[ReqShipDate] -- BMC/RCG added d.ReqShipDate

	
	--capture live quantity to produce (estimated quantity for all live releases)
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPOnOrderQty], [ReqShipDate]) -- BMC/RCG added ReqShipDate
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, Sum(r.[Qty] * ISNULL(u.ConvFactor, 1))
		, t.ReqShipDate -- BMC/RCG added t.ReqShipDate
	From #OrderInfo t
	Inner Join dbo.tblMpOrder o on t.[AssemblyId] = o.[AssemblyId] and t.[LocId] = o.[LocId]
	Inner Join dbo.tblMpOrderReleases r on o.[OrderNo] = r.[OrderNo] and t.[TransId] = r.[SalesOrder] and t.[CustId] = r.[CustId] and t.ReqShipDate=r.EstCompletionDate -- BMC/RCG added and t.ReqShipDate=r.EstCompletionDate
	Inner Join dbo.tblInItem i on o.[AssemblyId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and r.[UOM] = u.[Uom]
	
	Where r.[Status] <> 6 --exclude completed releases
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase], t.[ReqShipDate] -- BMC/RCG added t.ReqShipDate

	
	


	--capture live quantity produced (Actual quantity for all live releases)
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPInProcessQty], [MPProducedQty], [ReqShipDate]) -- BMC/RCG added ReqShipDate
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, Sum(Case when r.[Status] = 6 Then 0 Else d.[Qty] * ISNULL(u.ConvFactor, 1) End) --incomplete releases
		, Sum(Case when r.[Status] = 6 Then d.[Qty] * ISNULL(u.ConvFactor, 1) Else 0 End) --complete releases
		, t.ReqShipDate -- BMC/RCG added t.ReqShipDate
	From #OrderInfo t
	Inner Join dbo.tblMpOrder o on t.[AssemblyId] = o.[AssemblyId] and t.[LocId] = o.[LocId]
	Inner Join dbo.tblMpOrderReleases r on o.[OrderNo] = r.[OrderNo] and t.[TransId] = r.[SalesOrder] and t.[CustId] = r.[CustId] and t.ReqShipDate=r.EstCompletionDate -- BMC/RCG added and t.ReqShipDate=r.EstCompletionDate
	Inner Join dbo.tblMpRequirements m on r.[id] = m.[ReleaseId]
	Inner Join dbo.tblMpMatlDtl d on m.[TransId] = d.[TransId]
	Inner Join dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and d.[UOM] = u.[Uom]
	
	Where m.[Type] = 0 --finished goods
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase], t.[ReqShipDate] -- BMC/RCG added t.ReqShipDate



	--capture historic quantities produced
	Insert Into #QtyInfo ([CustId], [TransId], [AssemblyId], [LocId], [Uom]
		, [MPProducedQty], [ReqShipDate]) -- BMC/RCG added ReqShipDate
	Select t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase]
		, SUM(d.[Qty] * ISNULL(u.ConvFactor, 1))
		, t.ReqShipDate -- BMC/RCG added t.ReqShipDate
	From #OrderInfo t
	Inner Join dbo.tblMpHistoryOrderReleases o on t.[AssemblyId] = o.[AssemblyId] And t.[LocId] = o.[LocId] And t.[TransId] = o.[SalesOrder] and t.[CustId] = o.[CustId] and t.ReqShipDate=o.EstCompletionDate -- BMC/RCG and t.ReqShipDate=o.EstCompletionDate
	Inner Join dbo.tblMpHistoryRequirements m on o.[PostRun] = m.[PostRun] And o.[ReleaseId] = m.[ReleaseId]
	Inner Join dbo.tblMpHistoryMatlDtl d on m.[PostRun] = d.[PostRun] And m.[TransId] = d.[TransId]
	Inner Join dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
	Left Join  dbo.tblInItemUom u on i.[ItemId] = u.[ItemId] and d.[UOM] = u.[Uom]
	
	Where m.[Type] = 0 --finished goods
	Group By t.[CustId], t.[TransId], o.[AssemblyId], o.[LocId], i.[UomBase], t.[ReqShipDate] -- BMC/RCG added t.ReqShipDate

	

	--return subset of order information that needs to be generated
	--Calculate the additional units to produce to satisfy cumulative SO demand 
	--	QtyProduce = (total SO orderd - (greater of total MP in process or on order) - (greater of SO shipped or MP produced))
	Select t.[TransId] as [SoTransId], t.[CustId], h.[CustPONum] AS [PurchaseOrder]
		, t.[AssemblyId], ISNULL(q.LineRevisionNo,a.[RevisionNo]) as [RevisionNo], t.[LocId], a.[Description] As [Descr]
		, ISNULL(q.[ReqDate], h.[ReqShipDate]) AS [ProdDate], q.[UOM]
		, (q.[SOOrderQty] 
			- (Case when q.[MPInProcessQty] > q.[MPOnOrderQty] Then q.[MPInProcessQty] Else q.[MPOnOrderQty] End)
			- (Case When q.[SOShipQty] > q.[MPProducedQty] Then q.[SOShipQty] Else q.[MPProducedQty] End)) AS [Qty]
			,q.ReqShipDate -- BMC/RCG
			,t.SoEntryNum -- BMC/RCG
			-- THESE LAST ONES ARE JUST FOR TESTING
			--,q.MPOnOrderQty
			--,q.MPInProcessQty
			--,q.MPProducedQty
			--,q.SOOrderQty
			--,a.RevisionNo
			----------------------------------------


	From #OrderInfo t
		Inner Join dbo.tblSoTransHeader h ON t.[TransId] = h.[TransId]
		Inner Join dbo.tblMbAssemblyHeader a ON t.[AssemblyId] = a.[AssemblyId]
		Inner Join (
			Select [CustId], [TransId], [AssemblyId], [LocId], [UOM]
				, MIN([ReqDate]) As [ReqDate]
				, SUM([SOOrderQty]) AS [SOOrderQty]
				, SUM([SOShipQty]) AS [SOShipQty]
				, SUM([MPOnOrderQty]) AS [MPOnOrderQty]
				, SUM([MPInProcessQty]) AS [MPInProcessQty]
				, SUM([MPProducedQty]) AS [MPProducedQty]
				, Min([ReqShipDate]) as [ReqShipDate] -- BMC/RCG
				, Max([LineRevisionNo]) as [LineRevisionNo] --BMC/RCG
			From #QtyInfo
			Group By [CustId], [TransId], [AssemblyId], [LocId], [UOM], [ReqShipDate] -- BMC/RCG add ReqShipDate
		) q on t.[CustId] = q.[CustId] and t.[TransId] = q.[TransId] and t.[AssemblyId] = q.[AssemblyId] and t.[LocId] = q.[LocId] 
		and t.ReqShipDate=q.ReqShipDate
	Where a.DfltRevYn = 1
		And (q.[SOOrderQty] 
			- (Case when q.[MPInProcessQty] > q.[MPOnOrderQty] Then q.[MPInProcessQty] Else q.[MPOnOrderQty] End)
			- (Case When q.[SOShipQty] > q.[MPProducedQty] Then q.[SOShipQty] Else q.[MPProducedQty] End)) > 0 --qty to produce > 0

	

	--remove this section -- testing only
	--theend:
	--select * from #solist;
	--select * from #OrderInfo;
	--select * from #qtyInfo;
	
	
	--drop table #QtyInfo;
	--drop table #OrderInfo;

	--drop table #SOList
	--------------------------

END TRY
BEGIN CATCH
     EXEC dbo.trav_RaiseError_proc
END CATCH  






GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_MpGenerateOrdersFromSO_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_MpGenerateOrdersFromSO_proc'
GO
