USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoDelete_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoDelete_proc]     
@PoHeaderId bigint = NULL,
@PartnerId bigint = NULL,
@CustPoNum nvarchar(75) = NULL
AS      
SET NOCOUNT ON  
BEGIN TRY
   DECLARE @SQL nvarchar(1000)
   
	CREATE TABLE #del(ID bigint NOT NULL) --ImportBatchId & KeyLevelSeq1 are replaced with the bigint [ID]

	IF(@PoHeaderId IS NOT NULL OR @PartnerId IS NOT NULL OR @CustPoNum IS NOT NULL)
	BEGIN
		INSERT INTO #del(ID)
		SELECT ID
		FROM tblEcPoHeader h
		WHERE  (@PoHeaderId IS NULL OR h.ID = @PoHeaderId)
			AND (ISNULL(@PartnerId, 0) = 0 OR PartnerId=@PartnerId)
			AND (ISNULL(@CustPoNum,'') = '' OR CustPoNum=@CustPoNum)
	END
	ELSE
	BEGIN
		INSERT INTO  #del (ID)
		exec sp_executesql N'SELECT ID FROM #EdiPoList'
	END
 
 	-- PO Header Hist                
    INSERT INTO dbo.tblEcPoHistHeader (ID,PostRun,ImportBatchId,KeyLevelSeq1,SenderID,PartnerID,CustID,
                ARShipToID,CustPONum,ReleaseNumber,PODate,ReqShipDate,CancelDate,ReqDeliveryDate,
                POType,OrderRef,EDIVendorNumber,EDIDepartment,MerchandiseTypeCode,SOShipToName,SOShipMethodCode,SOShipVia,
                EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
                MarkFor,OrderNotes,TotalPoAmt,TotalPoLines,ImportDate,CarrierCode,CarrierName,SOReqShipDate,UpdateSOTransID,[EDIPartnerId],[ShipNotes], DeleteDate)
   
	SELECT      h.Id, h.ImportBatchId PostRun, h.ImportBatchId,h.KeyLevelSeq1,SenderID,h.PartnerId,CustID,
                ARShipToID,CustPONum,ReleaseNumber,PODate,ReqShipDate,CancelDate,ReqDeliveryDate,
                POType,OrderRef,EDIVendorNumber,EDIDepartment,MerchandiseTypeCode,SOShipToName,SOShipMethodCode,SOShipVia,
                EDIShipToCode,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                EDIBillToCode,BillToName,BillToAddr1,BillToAddr2,BillToCity,BillToRegion,BillToCountry,BillToPostalCode,
                MarkFor,OrderNotes,TotalPoAmt,TotalPoLines,ImportDate,CarrierCode,CarrierName,SOReqShipDate,UpdateSOTransID,p.PartnerID,h.ShipNotes, GETDATE()
	FROM #del t 
	INNER JOIN tblEcPoHeader h ON t.ID = h.ID 
	LEFT JOIN dbo.tblEcPartner p ON h.PartnerId = p.Id
    
   -- PO Detail Hist 
   INSERT INTO dbo.tblEcPoHistDetail(ID,PostRun,PoHistHeaderID,KeyLevelSeq2,
                SenderId,CustPoNum,PoLineNum,LineReleaseNumber,EDIBillToCode,EDIShipToCode,
                ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToCountry,ShipToPostalCode,
                ItemUir,ItemBuyerCode,ItemVendorCode,ItemUPC,ItemID,ItemDescr,LocId,
                QtyOrd,POUnitsSell,UnitPrice,RetailPrice,PackQty,InnerPackQty,
                SOShipToID,SOShipToName,SOShipToAddr1,SOShipToAddr2,SOShipToCity,SOShipToRegion,SOShipToCountry,SOShipToPostalCode,
                SOItemDescr,SOUnitsSell,SOUnitPriceSell,SOQtyOrdSell,RequestedDate,SOReqShipDate,SplitSeq,LineREF02,UpdateSOTransID,UpdateSOEntryNum,UpdateSOAction,
				ItemColorDescr,ItemSizeDescr,ItemEAN,ItemGTIN)

   SELECT  d.Id,h.ImportBatchId PostRun,h.Id,KeyLevelSeq2, 
           h.SenderId,h.CustPoNum,PoLineNum,LineReleaseNumber,h.EDIBillToCode,h.EDIShipToCode,
           h.ShipToName,h.ShipToAddr1,h.ShipToAddr2,h.ShipToCity,h.ShipToRegion,h.ShipToCountry,h.ShipToPostalCode,
           ItemUir,ItemBuyerCode,ItemVendorCode,ItemUPC,ItemID,ItemDescr,LocId,
           QtyOrd,POUnitsSell,UnitPrice,RetailPrice,PackQty,InnerPackQty,
           SOShipToID,h.SOShipToName,SOShipToAddr1,SOShipToAddr2,SOShipToCity,SOShipToRegion,SOShipToCountry,SOShipToPostalCode,
           SOItemDescr,SOUnitsSell,SOUnitPriceSell,SOQtyOrdSell,RequestedDate,h.SOReqShipDate,SplitSeq,LineREF02,h.UpdateSOTransID,UpdateSOEntryNum,UpdateSOAction,
		   d.ItemColorDescr,d.ItemSizeDescr,d.ItemEAN,d.ItemGTIN
    FROM #del p 
	INNER JOIN tblEcPoHeader h ON p.ID = h.ID
	INNER JOIN tblEcPoDetail d ON h.ID=d.POHeaderID

	DELETE pd
	FROM tblEcPoDetail pd
	INNER JOIN tblEcPoHeader ph ON ph.Id = pd.POHeaderID
	INNER JOIN #del d ON ph.ID = d.ID

	DELETE ph
	FROM tblEcPoHeader ph
	INNER JOIN #del d ON ph.Id = d.ID
	    
	DELETE ps
	FROM tblEcPoSAC ps 
	INNER JOIN tblEcPoHeader ph ON ps.POHeaderID = ph.ID
	INNER JOIN #del d ON ph.Id = d.ID

	DELETE e
	FROM tblEcPoErrorLog e 
	INNER JOIN #del d ON e.POHeaderID = d.ID
END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH   
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoDelete_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoDelete_proc'
GO
