USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApPreparePayment_Log_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApPreparePayment_Log_proc]
AS

SET NOCOUNT ON
BEGIN TRY 
DECLARE @ControlId int

	--Retrieve global values
	SELECT @ControlId = Cast([Value] AS int) FROM #GlobalValues WHERE [Key] = 'ControlId'

	IF @ControlId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END	

	----FROM BL
	--CREATE TABLE [#tmpPreparePaymentLog]([ErrorLogMessage] [nvarchar](150) NULL)

	--0 - Payment, 3 - Prepaid
	SELECT 
		SUM(CASE 
				   WHEN p.PmtType = 3 THEN d.GrossAmtDue  
				    ELSE 0
			   END) AS GrossPrepaidAmount,
		SUM(CASE 
				   WHEN p.PmtType = 0 THEN d.GrossAmtDue  
				    ELSE 0
			   END) AS GrossCheckAmout,
		SUM(CASE 
				   WHEN p.PmtType = 3 THEN d.DiscTaken  
				    ELSE 0
			   END) AS DiscountPrepaidAmount,
		SUM(CASE 
				   WHEN p.PmtType = 0 THEN d.DiscTaken  
				    ELSE 0
			   END) AS DiscountCheckAmount,
		SUM(CASE 
				   WHEN p.PmtType = 3 THEN d.PaymentAmt  
				    ELSE 0
			   END) AS NetPrepaidAmount,
		SUM(CASE 
				   WHEN p.PmtType = 0 THEN d.PaymentAmt  
				    ELSE 0
			   END) AS NetCheckAmount
	FROM dbo.tblApPayment p 
	INNER JOIN dbo.tblApPaymentDetail d ON p.ID = d.PaymentID
	WHERE p.ControlID = @ControlId
	GROUP BY p.PmtType	

	--Get error log
	SELECT  ErrorLogMessage 
	FROM #tmpPreparePaymentLog
	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_Log_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApPreparePayment_Log_proc'
GO
