USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPhysicalCountEntry_Verify_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPhysicalCountEntry_Verify_proc]
@BatchId [nvarchar](6),
@UserId [nvarchar](20),
@WrkStn nvarchar(100),
@AutoGenContainer bit
AS
BEGIN TRY
	CREATE TABLE #tmpHeader
	(
		ID bigint NOT NULL IDENTITY(1,1),
		NewHeaderID bigint null, --predicted identity Header ID
		BatchID [nvarchar](6) NOT NULL, 
		ItemID [nvarchar](24) NOT NULL, 
		CountUom [nvarchar](5) NOT NULL, 
		CountUomConvFactor [decimal](28,10) NOT NULL
	)

	CREATE TABLE #tmpEntries --tmpHeader x tblWmPhysicalCountEntry
	(
		HeaderId bigint, --tmpHeader.ID
		EntryID bigint, --tblWmPhysicalCountEntry.ID
		NewDetailId bigint, --> tblWmPhysicalCountDetail.ID
		FirstItem bigint, --> tblWmPhysicalCountDetail.ID
	)

	CREATE TABLE #tmpCountDetail(ItemId [nvarchar](24) NOT NULL, LotNum  [nvarchar](16) NULL, SerNum  [nvarchar](35) NULL, ExtLocAID [nvarchar](10) NOT NULL)

	--Reset ErrorFlag
	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 0
	WHERE BatchID = @BatchId AND [Status] IN (0, 2) --New, Count Changed;

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 2
	FROM dbo.tblWmPhysicalCountBatch h INNER JOIN dbo.tblWmPhysicalCountEntry e ON h.BatchID = e.BatchID
		LEFT JOIN dbo.tblWmPhysicalCountBinList b ON h.BatchID = b.BatchID AND h.LocID = b.LocID AND e.ExtLocAID = b.ExtLocAID
	WHERE h.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND b.ID IS NULL --New, Count Changed; No error flag; Bin does not exist in bin list

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 3
	FROM dbo.tblWmPhysicalCountEntry e LEFT JOIN dbo.tblWmPhysicalCountHeader h ON e.BatchID = h.BatchID AND e.ItemID = h.ItemID
	WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND h.ID IS NULL --New, Count Changed; No error flag; Item does not exist in item list

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = CASE WHEN (i.LottedYN = 1 AND ISNULL(e.LotNum,'') = '') THEN 4 ELSE 5 END
	FROM dbo.tblWmPhysicalCountEntry e INNER JOIN dbo.tblInItem i ON e.ItemID = i.ItemID
	WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND ((i.LottedYN = 1 AND ISNULL(e.LotNum,'') = '') 
		OR (i.ItemType = 2 AND ISNULL(e.SerNum,'') = '')) --New, Count Changed; No error flag; Miss lot number for lotted item or missing serial number for serialized item

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 6
	FROM dbo.tblWmPhysicalCountEntry e INNER JOIN dbo.tblInItem i ON e.ItemID = i.ItemID 
		LEFT JOIN dbo.tblInItemUom u ON i.ItemId = u.ItemId AND e.CountUom = u.Uom
	WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND u.ItemId IS NULL --New, Count Changed; No error flag; Invalid count UOM

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 7
	FROM dbo.tblWmPhysicalCountEntry INNER JOIN dbo.tblInItem i ON dbo.tblWmPhysicalCountEntry.ItemID = i.ItemID 
		INNER JOIN dbo.tblWmPhysicalCountEntry d ON dbo.tblWmPhysicalCountEntry.BatchID != d.BatchID AND dbo.tblWmPhysicalCountEntry.ItemID = d.ItemID AND dbo.tblWmPhysicalCountEntry.SerNum = d.SerNum
	WHERE dbo.tblWmPhysicalCountEntry.BatchID = @BatchId AND  dbo.tblWmPhysicalCountEntry.[Status] IN (0, 2) AND dbo.tblWmPhysicalCountEntry.ErrorFlag = 0 AND i.ItemType = 2 --New, Count Changed; No error flag; Same item/serial number cannot exist in multiple batches

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 8
	FROM dbo.tblWmPhysicalCountEntry e INNER JOIN dbo.tblInItem i ON e.ItemID = i.ItemID
		INNER JOIN (SELECT e.BatchID, e.ItemId, e.SerNum, e.QtyCounted
			FROM dbo.tblWmPhysicalCountEntry e INNER JOIN dbo.tblInItem i ON e.ItemID = i.ItemID 
			WHERE e.BatchID = @BatchId AND e.[Status] != 3 AND i.ItemType = 2
			GROUP BY e.BatchID, e.ItemId, e.SerNum, e.QtyCounted
			HAVING COUNT(*) > 1) d ON e.BatchID = d.BatchID AND e.ItemID = d.ItemID AND e.SerNum = d.SerNum AND e.QtyCounted = d.QtyCounted
	WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND i.ItemType = 2 --New, Count Changed; No error flag; Combination of Item ID, Serial Number and Counted must be unique

	IF @AutoGenContainer = 0
	BEGIN
		UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 9
		FROM dbo.tblWmPhysicalCountEntry e LEFT JOIN dbo.tblWmExtLoc c ON e.ExtLocBID = c.ExtLocID AND c.[Type] = 1
		WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 AND ISNULL(e.ExtLocBID,'') != '' AND c.Id IS NULL --New, Count Changed; No error flag; Container is invalid
	END

	INSERT INTO #tmpCountDetail (ItemId, LotNum, SerNum, ExtLocAID)
	SELECT h.ItemID, d.LotNum, d.SerNum, d.ExtLocAID 
	FROM dbo.tblWmPhysicalCountBatch b INNER JOIN dbo.tblWmPhysicalCountHeader h ON b.BatchID = h.BatchID
		INNER JOIN dbo.tblWmPhysicalCountDetail d ON h.ID = d.HeaderID
	WHERE b.BatchID != @BatchId AND b.LocID IN (SELECT DISTINCT LocID FROM dbo.tblWmPhysicalCountBatch WHERE BatchID = @BatchId) --List of item/lot/ser/bin prepared in same location but differnt batch

	UPDATE dbo.tblWmPhysicalCountEntry SET ErrorFlag = 10
	FROM dbo.tblWmPhysicalCountEntry e INNER JOIN #tmpCountDetail t ON e.ItemID = t.ItemId AND e.ExtLocAID = t.ExtLocAID 
		AND ISNULL(e.LotNum,'') = ISNULL(t.LotNum,'') AND ISNULL(e.SerNum,'') = ISNULL(t.SerNum,'')
	WHERE e.BatchID = @BatchId AND e.[Status] IN (0, 2) AND e.ErrorFlag = 0 --New, Count Changed; Same Item/loc/bin/lot/ser prepared in different batch

	--cross referencing table is filled with all entries (not grouped) that are NOT linked to a Detail entry (entered manually)
	INSERT INTO #tmpEntries(EntryID, NewDetailId)
	SELECT ID, DetailID
	FROM dbo.tblWmPhysicalCountEntry
	WHERE BatchID = @BatchId AND [Status] IN (0,2) AND ErrorFlag = 0

	IF(EXISTS(SELECT TOP 1 * FROM #tmpEntries))
	BEGIN
		--header table is filled with all entries (grouped by ItemId and Uom) that are not linked to a Detail entry (entered manually) and/were were linked previously
		INSERT INTO #tmpHeader(BatchID, NewHeaderID, ItemID, CountUom, CountUomConvFactor)
		SELECT @BatchId, hdr.ID, hdr.ItemID, hdr.CountUom, hdr.CountUomConvFactor
		FROM dbo.tblWmPhysicalCountHeader hdr
		WHERE hdr.BatchID = @BatchId

		--updates cross referencing table with the tmpHeader.ID to finish filling all fields
		UPDATE e SET HeaderID = h.ID
		FROM #tmpEntries e
		INNER JOIN dbo.tblWmPhysicalCountEntry pe ON pe.ID = e.EntryID
		INNER JOIN #tmpHeader h ON h.ItemID = pe.ItemID 

		--unlink entries that were linked but the ItemId+Bin+Container+SerNum+LotNum no longer matches the detail line
		--			not for serials
		UPDATE d SET FirstItem = NewDetailId, NewDetailID = NULL
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		INNER JOIN dbo.tblWmPhysicalCountDetail det ON det.ID = e.DetailID
		WHERE (e.ExtLocAID != ISNULL(det.NewExtLocAID,det.ExtLocAID) OR e.ExtLocBID != ISNULL(det.NewExtLocBID, det.ExtLocBID))
		AND e.SerNum IS NULL AND e.DetailID IS NOT NULL

		--			for serials, instead of unlinking it updates the NewExtLocAID AND NewExtLocBID
		UPDATE det SET NewExtLocAID = e.ExtLocAID, NewExtLocBID = e.ExtLocBID
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		INNER JOIN dbo.tblWmPhysicalCountDetail det ON det.ID = e.DetailID
		WHERE (e.ExtLocAID != ISNULL(det.NewExtLocAID,det.ExtLocAID) OR e.ExtLocBID != ISNULL(det.NewExtLocBID, det.ExtLocBID))
		AND e.SerNum IS NOT NULL AND e.DetailID IS NOT NULL

		--Link entries that were not linked with Detail lines matching (ItemID+Uom+Bin+Container+SerNum+LotNum), not for serials
		UPDATE d SET NewDetailID = ISNULL(flat.DetailID, flat2.DetailID)
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		LEFT JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID = @BatchId
				) flat ON flat.BatchID = e.BatchID AND flat.ItemID = e.ItemID 
				AND ((flat.LotNum IS NULL AND e.LotNum IS NULL) OR (flat.LotNum = e.LotNum))
				AND flat.ExtLocAID = e.ExtLocAID
				AND ((flat.ExtLocBID IS NULL AND e.ExtLocBID IS NULL) OR (flat.ExtLocBID = e.ExtLocBID))
		LEFT JOIN  (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID = @BatchId
				) flat2 ON flat.BatchID = e.BatchID AND flat2.ItemID = e.ItemID
				AND ((flat2.LotNum IS NULL AND e.LotNum IS NULL) OR (flat2.LotNum = e.LotNum))
				AND flat.ExtLocAID != e.ExtLocAID
		WHERE e.SerNum IS NULL -- serial items cannot be re-linked
		
		--Link entries that were not linked with Detail lines matching (ItemID+Uom+Bin+Container+SerNum+LotNum), for serials
		UPDATE d SET NewDetailID = flat.DetailID
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		LEFT JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID = @BatchId
				) flat ON flat.BatchID = e.BatchID AND flat.ItemID = e.ItemID 
				AND flat.SerNum = e.SerNum
		WHERE e.SerNum IS NOT NULL AND e.DetailID IS NULL
		
		--Inserts new detail lines into tblWmPhysicalCountDetail cross referencing all 3 input tables (#tmpHeader, #tmpEntries, tblWmPhysicalCountEntry)
		INSERT INTO dbo.tblWmPhysicalCountDetail(HeaderID, BatchID, ExtLocAID, ExtLocBID, LotNum, SerNum, QtyCounted, QtyFrozen, TagNum, NewExtLocAID, NewExtLocBID, QtyStatus, DetailType)
		SELECT th.NewHeaderID, th.BatchID, e.ExtLocAID, e.ExtLocBID, e.LotNum, e.SerNum, sum(CAST(e.QtyCounted AS decimal(23,10)) * CAST(uomBase.ConvFactor AS decimal(23,10))) as QtyCounted, 0 as QtyFrozen, e.TagNum as TagNum, 
			CASE WHEN e.SerNum IS NOT NULL THEN e.ExtLocAID ELSE NULL END NewExtLocAID, CASE WHEN e.SerNum IS NOT NULL THEN e.ExtLocBID ELSE NULL END NewExtLocBID, NULL as QtyStatus, 1
		FROM #tmpEntries d
		INNER JOIN #tmpHeader th ON th.ID = d.HeaderId
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		INNER JOIN dbo.tblInItemUom uomBase ON e.ItemId = uomBase.ItemId AND uomBase.Uom = e.CountUom
		WHERE th.NewHeaderID IS NOT NULL --a header was assigned (temp.)
		AND d.NewDetailId IS NULL --hasnt been linked (temp. by this SP)
		group by th.NewHeaderID, th.BatchID, e.ExtLocAID, e.ExtLocBID, e.LotNum, e.SerNum,e.tagNum
		
		--Link entries that were not linked with Detail lines matching (ItemID+Uom+Bin+Container+SerNum+LotNum), for new serials added on the above statement
		UPDATE d SET NewDetailID = flat.DetailID
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		LEFT JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID = @BatchId
				) flat ON flat.BatchID = e.BatchID AND flat.ItemID = e.ItemID 
				AND flat.SerNum = e.SerNum
		WHERE e.SerNum IS NOT NULL AND e.DetailID IS NULL

		--Updates xreference table with newly added  DetailIDs, except for Details. They will always be linked to initial Detail records, hence they will not create new detail records.
		UPDATE d SET NewDetailID = flat.DetailID
		FROM #tmpEntries d
		INNER JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = d.EntryID
		LEFT JOIN (SELECT hdr.BatchID, hdr.ID as HeaderID, det.ID as DetailID, hdr.ItemID, hdr.CountUom, ISNULL(det.NewExtLocAID, det.ExtLocAID) as ExtLocAID,	--if you enter manually an Entry that is already in Detail, 
						ISNULL(det.NewExtLocBID, det.ExtLocBID) as ExtLocBID, det.LotNum, det.SerNum, det.QtyCounted, det.TagNum								--that matches every field (ItemId + UOM + SerNum + LotNum + Bin + Container). Meaning item WAS NOT moved from where it was frozen.
					FROM dbo.tblWmPhysicalCountHeader hdr 
					INNER JOIN dbo.tblWmPhysicalCountDetail det ON hdr.ID = det.HeaderID
					WHERE hdr.BatchID = @BatchId
				) flat ON flat.BatchID = e.BatchID AND flat.ItemID = e.ItemID --AND (flat.CountUom = e.CountUom OR item.UomBase = e.CountUom )
				AND isnull(flat.SerNum,'') =  isnull(e.SerNum, '')
				AND isnull(flat.LotNum,'') =  isnull(e.LotNum,'')
				AND flat.ExtLocAID = e.ExtLocAID  
				AND isnull(flat.extlocBID,'') = isnull(e.extlocBID,'')
		WHERE e.SerNum IS NULL

		--Updates tblWmPhysicalCountEntry.DetailID to make it a now linked Entry
		UPDATE e SET DetailID = te.NewDetailId
		FROM dbo.tblWmPhysicalCountEntry e 
		INNER JOIN #tmpEntries te ON e.ID = te.EntryID
		
		UPDATE det SET SerNum = e.SerNum, LotNum = e.LotNum
		FROM #tmpEntries t
		INNER JOIN tblWmPhysicalCountDetail det ON det.ID = t.NewDetailId
		INNER JOIN tblWmPhysicalCountEntry e ON e.ID = t.EntryID
		WHERE e.[Status] IN (0,2) and (det.SerNum IS NULL OR det.LotNum IS NULL)

		UPDATE det SET QtyCounted = 0 
		FROM #tmpEntries te 
		INNER JOIN dbo.tblWmPhysicalCountDetail det ON det.ID = te.FirstItem
		LEFT JOIN #tmpEntries lkpFirst ON lkpFirst.NewDetailId = te.FirstItem
		LEFT JOIN dbo.tblWmPhysicalCountEntry e ON e.ID = lkpFirst.EntryID AND e.DetailID = lkpFirst.NewDetailId
		AND lkpFirst.EntryID IS NOT NULL AND e.[Status] != 3
	END


	--Decrease detail record QtyCounted record of deleted entry records AND updated NewExtLocAID & NewExtLocBID to NULL
	UPDATE det SET QtyCounted = CASE WHEN (det.QtyCounted - (CAST(e.QtyCounted AS decimal(23,10)) * CAST(uomBase.ConvFactor AS decimal(23,10)))) <= 0 THEN NULL ELSE det.QtyCounted - (CAST(e.QtyCounted AS decimal(23,10)) * CAST(uomBase.ConvFactor AS decimal(23,10))) END,
		NewExtLocAID = NULL, NewExtLocBID = NULL
		FROM tblWmPhysicalCountEntry e
		INNER JOIN tblWmPhysicalCountDetail det ON det.ID = e.DetailId
		INNER JOIN tblWmPhysicalCountHeader hdr ON hdr.ID = det.HeaderID
		INNER JOIN dbo.tblInItemUom uomBase ON e.ItemId = uomBase.ItemId AND uomBase.Uom = e.CountUom
		WHERE e.[Status] = 3

	DELETE cvar 
		FROM dbo.tblWmPhysicalCountEntry e 
		INNER JOIN dbo.tblWmPhysicalCountCostVariance cvar ON cvar.BatchID = e.BatchID AND cvar.ItemID = e.ItemID 
																AND ((cvar.LotNum IS NULL AND e.LotNum IS NULL) OR cvar.LotNum = e.LotNum)
																AND ((cvar.SerNum IS NULL AND e.SerNum IS NULL) OR cvar.SerNum = e.SerNum)
		WHERE e.BatchID = @BatchId AND e.[Status] = 3

	--Delete count entry record with status 'Deleted'
	DELETE FROM dbo.tblWmPhysicalCountEntry WHERE BatchID = @BatchId AND [Status] = 3

	--mark QtyCounted = null if no linked records in Entry but that are freezed (Freezed but not entered), otherwise, update the counted qty if they were/are linked
	UPDATE det SET det.QtyCounted = te.QtyCounted
	FROM tblWmPhysicalCountDetail det
	LEFT JOIN (
				select DetaiLid, SUM(ds.QtyCountedBase) QtyCounted, SUM(DupSeqNum) Occurrances  from(
						SELECT e.DetailID, (e.QtyCounted * uomBase.ConvFactor) as QtyCountedBase, ROW_NUMBER() over (PARTITION BY DetailId ORDER BY DetailId) as DupSeqNum
						FROM tblWmPhysicalCountEntry e
						LEFT JOIN #tmpEntries te ON e.ID = te.EntryID
						LEFT JOIN #tmpHeader th ON th.ID = te.HeaderId
						LEFT JOIN tblWmPhysicalCountHeader h ON h.ID = th.NewHeaderID
						INNER JOIN dbo.tblInItem item ON item.ItemId = e.ItemID
						INNER JOIN dbo.tblInItemUom uomBase ON e.ItemId = uomBase.ItemId AND uomBase.Uom = e.CountUom
						WHERE e.[Status] != 3
					)ds
				GROUP BY DetailID
				) te ON te.DetailID = det.ID
	INNER JOIN #tmpEntries t ON t.NewDetailId = det.ID
	WHERE det.BatchID = @BatchId

	--Update QtyCounted to zero if no count exists and frozen qty is zero and count entry is not required
	UPDATE dbo.tblWmPhysicalCountDetail SET QtyCounted = 0
	FROM dbo.tblWmPhysicalCountDetail d INNER JOIN dbo.tblWmPhysicalCountBatch b ON d.BatchID = b.BatchID
	WHERE b.BatchID = @BatchId AND ReqCountEntryForZeroQtyYN = 0 AND d.QtyFrozen = 0 AND d.QtyCounted IS NULL

	--update NewExtLoc fields if frozen Bin numbers are different than the ones in Entries, this is just for linked Serial Items
	UPDATE det SET 
		det.NewExtLocAID = CASE WHEN e.ExtLocAID != det.ExtLocAID THEN e.ExtLocAID ELSE det.NewExtLocAID END, 
		det.NewExtLocBID = CASE WHEN ISNULL(e.ExtLocBID,'') != ISNULL(det.ExtLocBID,'') THEN e.ExtLocBID ELSE det.NewExtLocBID END
	FROM tblWmPhysicalCountDetail det
	INNER JOIN tblWmPhysicalCountEntry e ON e.DetailID = det.ID
	WHERE det.BatchID = @BatchId AND e.[Status] != 1 AND e.SerNum IS NOT NULL
		and e.QtyCounted <> 0

	--Update status of linked count entry record to 'Verified' if its status is not 'Verified'
	UPDATE dbo.tblWmPhysicalCountEntry SET [Status] = 1
	WHERE BatchID = @BatchId AND [Status] IN (0,2) AND ErrorFlag = 0

	--Remove count detail records that are not created from prepare process and have no count entry
	DELETE dbo.tblWmPhysicalCountDetail 
	WHERE BatchID = @BatchId AND DetailType = 1 AND [ID] NOT IN (SELECT DetailID FROM dbo.tblWmPhysicalCountEntry)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCountEntry_Verify_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPhysicalCountEntry_Verify_proc'
GO
