USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSalesRepAgedTrialBalanceReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSalesRepAgedTrialBalanceReport_proc]
@InvcCutoffOpt bit, --Invoice cutoff option (0=by date/1=by gl period & fiscal year)
@InvcCutoffDate datetime, 
@InvcCutoffFiscalPeriod smallint,
@InvcCutoffFiscalYear smallint,
@PayCutoffOpt bit, --Payment cutoff option (0=by date/1=by gl period & fiscal year)
@PayCutoffDate datetime, 
@PayCutoffFiscalPeriod smallint,
@PayCutoffFiscalYear smallint,
@AgingDate datetime, --base date for the aging dates
@AgingDays1 smallint = 30, --number of days between the AgingDate and the date for aging bracket 1
@AgingDays2 smallint = 60, --number of days between the AgingDate and the date for aging bracket 2
@AgingDays3 smallint = 90, --number of days between the AgingDate and the date for aging bracket 3
@AgingDays4 smallint = 120, --number of days between the AgingDate and the date for aging bracket 4
@BaseCurrencyId [nvarchar](6) = 'USD', --base currency Id
@AgeBy tinyint = 0, --0;TransDate;1;DueDate;2DiscDueDate
@IncludeSaleInvoice bit = 1,  --Default AR/SO invoices
@IncludeProjectInvoice bit = 1,  --Project invoices     
@IncludeServiceInvoice bit = 1, --Service invoices 
@BaseCurrencyPrecision smallint = 2,
@IncludeRegularInvcType bit=1,    
@IncludeProformaInvcType bit=1    

AS
SET NOCOUNT ON

BEGIN TRY

	CREATE TABLE #CustomerList 
	(
		CustId nvarchar(10), 

	)

	CREATE TABLE #AgeInvc 
	(
		RecordType tinyint, 		
		GrpId nvarchar(255), 
		CustId [nvarchar](10) NOT NULL, 
		CustName nvarchar(255), 
		City nvarchar(255), 
		Region nvarchar(255), 
		Country [nvarchar](6) NOT NULL, 
		Phone nvarchar(255), 
		DfltDistCode [nvarchar](6) NOT NULL, 
		CustomerCurrencyId [nvarchar](6) NOT NULL, 
		AcctType tinyint, 
		Contact nvarchar(255), 
		CreditLimit [decimal](28,10) NOT NULL, 
		SalesRepId [nvarchar](3) NULL, 
		SalesRepName nvarchar(255), 
		CurrencyId [nvarchar](6) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		DistCode [nvarchar](6) NOT NULL,
		AgingDate datetime, 
		AmtDue [decimal](28,10) NOT NULL DEFAULT(0), 
		RecType smallint, 
		[Status] tinyint Null Default(0), 
		ProjId nvarchar(10) Null, 
		PhaseId nvarchar(10) Null, 
		SourceApp tinyint Null Default(0),
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtCurrent [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue1 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue2 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue3 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue4 [decimal](28,10) NOT NULL DEFAULT(0)
		
	)

	CREATE TABLE #CommInvc
	(
		SalesRepId [nvarchar](3) NULL, 
		CustId [nvarchar](10) NULL, 
		InvcNum [nvarchar](15) NULL, 
		AmtCommission [decimal](28,10) NOT NULL DEFAULT(0)
	)

	INSERT INTO #CommInvc (SalesRepId, CustId, InvcNum, AmtCommission) 
	SELECT i.SalesRepID, CustId, InvcNum
		, SUM(ROUND(((CASE PctOfDtl WHEN 0 THEN 0 WHEN 1 THEN (CASE WHEN (PayLines = 1) THEN AmtLines ELSE 0 END 
			+ CASE WHEN (PayTax = 1) THEN AmtTax ELSE 0 END + CASE WHEN (PayFreight = 1) THEN AmtFreight ELSE 0 END 
			+ CASE WHEN (PayMisc = 1) THEN AmtMisc ELSE 0 END) WHEN 2 THEN (CASE WHEN (PayLines = 1) THEN AmtLines ELSE 0 END 
			+ CASE WHEN (PayTax = 1) THEN AmtTax ELSE 0 END + CASE WHEN (PayFreight = 1) THEN AmtFreight ELSE 0 END 
			+ CASE WHEN (PayMisc = 1) THEN AmtMisc ELSE 0 END - AmtCogs) END 
				* (PctInvc / 100) * (CommRateDtl / 100)) - CommPaid), @BaseCurrencyPrecision)) AS Commission 
	FROM dbo.tblArCommInvc i 
		INNER JOIN #SalesRepList r On i.SalesRepId = r.SalesRepId 
	GROUP BY i.SalesRepID, CustId, InvcNum

	INSERT INTO #CommInvc (SalesRepId, CustId, InvcNum) 
	SELECT c.SalesRepId1, a.CustId, a.InvcNum 
	FROM dbo.tblArOpenInvoice a 
		INNER JOIN dbo.tblArCust c ON a.CustId = c.CustId 
		AND ((a.RecType<>5 AND @IncludeRegularInvcType=1) OR (a.RecType=5 AND  @IncludeProformaInvcType=1))    
		INNER JOIN #SalesRepList r ON c.SalesRepId1 = r.SalesRepId 
		LEFT JOIN #CommInvc i ON c.SalesRepId1 = i.SalesRepId AND c.CustId = i.CustId AND a.InvcNum = i.InvcNum 
	WHERE i.SalesRepId IS NULL AND c.SalesRepId1 IS NOT NULL 
	GROUP BY c.SalesRepId1, a.CustId, a.InvcNum

	--identify the list of customers to age invoices for
	INSERT INTO #CustomerList (CustId) SELECT CustId FROM #CommInvc GROUP BY CustId

	INSERT INTO #AgeInvc
	EXEC dbo.trav_ArAgedTrialBalanceReport_proc @InvcCutoffOpt, @InvcCutoffDate, @InvcCutoffFiscalPeriod, @InvcCutoffFiscalYear
	, @PayCutoffOpt, @PayCutoffDate, @PayCutoffFiscalPeriod, @PayCutoffFiscalYear
	, @AgingDate, @AgingDays1, @AgingDays2, @AgingDays3, @AgingDays4, '', 'zzzzzz', @BaseCurrencyId
	, @BaseCurrencyId, @AgeBy, 0, 0, 1, 0
	, @IncludeSaleInvoice, @IncludeProjectInvoice, @IncludeServiceInvoice, @BaseCurrencyPrecision
	, @IncludeRegularInvcType, @IncludeProformaInvcType  

	SELECT a.RecordType, a.CustId, a.CustName, i.SalesRepId, r.Name AS SalesRepName
		, a.InvcNum, a.AgingDate, a.AmtDue, a.RecType, a.[Status], a.ProjId, a.PhaseId
		, a.UnappliedCredit, a.AmtCurrent, a.AmtDue1, a.AmtDue2, a.AmtDue3, a.AmtDue4
		, CASE WHEN a.RecordType = 1 THEN i.AmtCommission ELSE 0 END AS AmtCommission 
	FROM #CommInvc i 
		INNER JOIN #AgeInvc a ON i.CustId = a.CustId AND i.InvcNum = a.InvcNum 
		LEFT JOIN dbo.tblArSalesRep r ON i.SalesRepId = r.SalesRepId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSalesRepAgedTrialBalanceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSalesRepAgedTrialBalanceReport_proc'
GO
