USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoRequisitionCombine_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoRequisitionCombine_proc]  
@UnitCostPrecision tinyint, 
@TransactionLink tinyint = 1

AS
BEGIN TRY

	DECLARE @countPurchReq as int

	CREATE TABLE #PurchReq (
		VendorId [nvarchar](10) NULL ,
		ItemId [nvarchar](24) NULL ,
		ItemType tinyint NULL DEFAULT (0),
		LocId [nvarchar](10) NULL ,
		Descr [nvarchar](255) NULL ,
		Qty [decimal](28,10) NULL DEFAULT (0),
		UnitCost [decimal](28,10) NULL DEFAULT (0),
		ExtCost [decimal](28,10) NULL DEFAULT (0),
		Uom [nvarchar](5) NULL ,
		InitDate datetime NULL ,
		EnteredBy [nvarchar](20) NULL ,
		SourceApp nvarchar (2) NULL ,
		RefId nvarchar (max) NULL ,
		GenerateYn bit NOT NULL DEFAULT (0),
		GlAcct [nvarchar](255) NULL ,
		ReqShipDate datetime NULL ,
		[DropShipYn] bit default(0),
		[SourceType] smallint Null, 
		[LineNum] Int Null, 
		[LinkTransId] [nvarchar](8) NULL ,
		[Seq] Int Null,
		[ReleaseNum] nvarchar(3) Null, 
		[OrderReqId] nvarchar(4) Null,
		[LinkSeqNum] INT NULL, --pointer to trans link record
		[CustId]  [nvarchar](10) NULL,
		[ProjId] nvarchar(10) NULL,
		[PhaseId] nvarchar(10) NULL,
		[TaskId] nvarchar(10) NULL,
		AddnlDescr nvarchar(max) NULL ,
		CurrencyID [nvarchar](6) NOT NULL
	)
	IF (@TransactionLink = 1)
	BEGIN
	
		INSERT INTO #PurchReq ( VendorId, ItemId, LocId, Uom, ItemType, Descr, Qty, 
			ExtCost, InitDate, EnteredBy, SourceApp, RefId, GenerateYn, GlAcct, UnitCost,
			DropShipYn,SourceType,LineNum,LinkTransId,Seq,ReleaseNum,OrderReqId,LinkSeqNum,
			CustId,ProjId,PhaseId,TaskId, CurrencyID, AddnlDescr)
		SELECT VendorId, r.ItemId, LocId, Uom, Min(r.ItemType), ISNULL(i.Descr, r.Descr) AS Descr, Sum(Qty), 
			Sum(ExtCost), Min(InitDate), Min(EnteredBy), Min(SourceApp), Min(RefId), 1, Min(GlAcct), 
			ROUND((CASE WHEN Sum(Qty) <> 0 THEN Sum(Qty * UnitCost)/Sum(Qty) ELSE 0 END), @UnitCostPrecision) ,
			Min(CAST(DropShipYn AS Tinyint)),Min(SourceType),Min(LineNum),Min(LinkTransId),Min(Seq),Min(ReleaseNum),Min(OrderReqId),LinkSeqNum,
			Min(CustId),Min(ProjId),Min(PhaseId),Min(TaskId), r.CurrencyID, CAST(d.AddlDescr AS nvarchar(MAX))
		FROM dbo.tblPoPurchaseReq r
		LEFT JOIN dbo.tblInItem i ON i.ItemId = r.ItemId
		LEFT JOIN dbo.tblInItemAddlDescr d ON d.ItemId = i.ItemId
		WHERE GenerateYn = 1 AND Seq = 0
		GROUP BY VendorId, r.ItemId, LocId, Uom, LinkSeqNum, ISNULL(i.Descr, r.Descr), CAST(d.AddlDescr AS nvarchar(MAX)), r.CurrencyID
	
	END
	ELSE
	BEGIN
	
		INSERT INTO #PurchReq ( VendorId, ItemId, LocId, Uom, ItemType, Descr, Qty, 
			ExtCost, InitDate, EnteredBy, SourceApp, RefId, GenerateYn, GlAcct, UnitCost,
			DropShipYn,SourceType,LineNum,LinkTransId,Seq,ReleaseNum,OrderReqId,LinkSeqNum,
			CustId,ProjId,PhaseId,TaskId, CurrencyID, AddnlDescr)
		SELECT VendorId, r.ItemId, LocId, Uom, Min(r.ItemType), ISNULL(i.Descr, r.Descr) AS Descr, Sum(Qty), 
			Sum(ExtCost), Min(InitDate), Min(EnteredBy), Min(SourceApp), Min(RefId), 1, Min(GlAcct), 
			ROUND((CASE WHEN Sum(Qty) <> 0 THEN Sum(Qty * UnitCost)/Sum(Qty) ELSE 0 END), @UnitCostPrecision) ,
			Min(CAST(DropShipYn AS Tinyint)),Min(SourceType),Min(LineNum),Min(LinkTransId),Min(Seq),Min(ReleaseNum),Min(OrderReqId),NULL,
			Min(CustId),Min(ProjId),Min(PhaseId),Min(TaskId), CurrencyID,CAST(d.AddlDescr AS nvarchar(MAX))
		FROM dbo.tblPoPurchaseReq r
		LEFT JOIN dbo.tblInItem i ON i.ItemId = r.ItemId
		LEFT JOIN dbo.tblInItemAddlDescr d ON d.ItemId = i.ItemId
		WHERE GenerateYn = 1 AND Seq = 0
		GROUP BY VendorId, r.ItemId, LocId, Uom, LinkSeqNum, CurrencyID, ISNULL(i.Descr, r.Descr), CAST(d.AddlDescr AS nvarchar(MAX))

		 
	END
	DELETE dbo.tblPoPurchaseReq 
	WHERE GenerateYn = 1  AND Seq = 0

	INSERT INTO dbo.tblPoPurchaseReq ( VendorId, ItemId, ItemType, LocId, Descr, Qty, UnitCost, ExtCost, 
		Uom, InitDate, EnteredBy, SourceApp, RefId, GenerateYn, GlAcct, ReqShipDate,
		DropShipYn,SourceType,LineNum,LinkTransId,Seq,ReleaseNum,OrderReqId,LinkSeqNum,
		CustId,ProjId,PhaseId,TaskId ,CurrencyID, AddnlDescr)
	SELECT VendorId, ItemId, ItemType, LocId, Descr, Qty, UnitCost, ExtCost, 
		Uom, InitDate, EnteredBy, SourceApp, RefId, GenerateYn, GlAcct, ReqShipDate ,
		DropShipYn,SourceType,LineNum,LinkTransId,Seq,ReleaseNum,OrderReqId,LinkSeqNum,
		CustId,ProjId,PhaseId,TaskId,CurrencyID, AddnlDescr
	FROM #PurchReq

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequisitionCombine_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequisitionCombine_proc'
GO
