USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbArCustomerInvoiceCount_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbArCustomerInvoiceCount_proc]
@InvcFinch [nvarchar](15) = 'FIN CHRG',
@CustomerId [nvarchar](10) = NULL,
@Wksdate datetime =   null,
@CustId [nvarchar](10) = NULL, 
@BaseCurrencyId [nvarchar](6)

AS
BEGIN TRY
	SET NOCOUNT ON
	CREATE TABLE #ArAgingAnalysis
	(
		UnpaidFinChg [decimal](28,10) NOT NULL DEFAULT(0), 
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		CurrentBal [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal3160 [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal6190 [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal91120 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalOver120 [decimal](28,10) NOT NULL DEFAULT(0), 
		ActiveCust int, 
		PastDueCust int, 
		TotDue [decimal](28,10) NOT NULL DEFAULT(0)
	)
	
CREATE TABLE #Aging
	(
		CustId [nvarchar](10) NOT NULL,
		CustName nvarchar(255),		
		CurrencyId [nvarchar](6) NULL, 
		InvcNum [nvarchar](15) NULL, 
		InvcType nvarchar(10),
		ExchRate [decimal](28,10) NULL,  
		UnpaidFinch [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		CurAmtDue [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge2 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge3 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge4 [decimal](28,10) NOT NULL DEFAULT(0), 
		UnpaidFinchFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCreditFgn [decimal](28,10) NOT NULL DEFAULT(0),
		CurAmtDueFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		BalAge2Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		BalAge3Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		BalAge4Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		AmountDue [decimal](28,10) NOT NULL DEFAULT(0)
	)

	DECLARE @InvoiceCount int, @CustCount int, @ActiveCust int, @PastDueCust int

    DECLARE @FiscalYear smallint, @Period smallint
	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

/* ArAging */
INSERT INTO #Aging(CustId, CustName,InvcNum,InvcType, CurrencyId, UnpaidFinch, UnApplCredit, CurAmtDue
		, BalAge1, BalAge2, BalAge3, BalAge4, UnpaidFinchFgn, UnApplCreditFgn, CurAmtDueFgn, BalAge1Fgn, BalAge2Fgn, BalAge3Fgn, BalAge4Fgn, AmountDue)
EXEC trav_DbArCustAgedBalances_proc @WksDate, @InvcFinch, @WksDate, @CustId, @CustId, 0, 2, 1, @BaseCurrencyId

declare @Activecountcust int
		select @Activecountcust = count( distinct a.CustId)
			FROM dbo.#Aging a 
			INNER JOIN 
			(
			   SELECT CustId FROM dbo.tblArOpenInvoice WHERE RecType > 0 AND Status <> 4 GROUP BY CustId
			) t 
			ON a.CustId = t.CustId
			where CurAmtDue <> 0 OR BalAge1 <> 0 OR BalAge2 <> 0 OR BalAge3 <> 0 OR BalAge4 <> 0   
			
		  declare @Pastcountcust int
		 select @Pastcountcust = count( distinct a.CustId)
			FROM dbo.#Aging a 
			INNER JOIN 
			(
			   SELECT CustId FROM dbo.tblArOpenInvoice WHERE RecType > 0 AND Status <> 4 GROUP BY CustId
			) t 
			ON a.CustId = t.CustId
			where BalAge1 <> 0 OR BalAge2 <> 0 OR BalAge3 <> 0 OR BalAge4 <> 0     
			
	/*  ArAgingAnalysis  */
	INSERT INTO #ArAgingAnalysis(UnpaidFinChg, UnappliedCredit, CurrentBal
		, Bal3160, Bal6190, Bal91120, BalOver120,ActiveCust,PastDueCust, TotDue) 
SELECT ISNULL(SUM(UnpaidFinch),0) AS UnpaidFinChg, ISNULL(SUM(UnApplCredit),0) AS UnappliedCredit, ISNULL(SUM(CurAmtDue),0) AS CurrentBal
		,ISNULL(SUM(BalAge1),0) AS Bal3160, ISNULL(SUM(BalAge2),0) AS Bal6190, ISNULL(SUM(BalAge3),0) AS Bal91120, ISNULL(SUM(BalAge4),0) AS BalOver120
		,ISNULL(@Activecountcust,0)
		,ISNULL(@Pastcountcust,0)
		,ISNULL(SUM(UnpaidFinch + CurAmtDue + BalAge1 + BalAge2 + BalAge3 + BalAge4 - UnApplCredit),0) AS TotDue 
	FROM dbo.#Aging a 
			LEFT JOIN 
			(
				SELECT CustId FROM dbo.tblArOpenInvoice WHERE RecType > 0 AND Status <> 4 GROUP BY CustId
			) t 
			ON a.CustId = t.CustId
	SELECT @ActiveCust = ActiveCust, @PastDueCust = PastDueCust FROM #ArAgingAnalysis

	/*  ArCustomers  */
	SELECT @CustCount = CustCount 
	FROM 
	(
		SELECT CAST(COUNT(CustId)AS int) AS CustCount 
		FROM dbo.tblArCust
	) tmp

	/*  ArOpenInvoices  */
	SELECT @InvoiceCount = InvoiceCount 
	FROM 
	(
		SELECT SUM(CASE WHEN RecType > 0 AND i.Status <> 4 AND TransDate <= @WksDate 
			THEN 1 ELSE 0 END) AS InvoiceCount 
		FROM dbo.tblArOpenInvoice i INNER JOIN dbo.tblArCust c ON i.CustId = c.CustId
	) tmp

	-- return resultset
	SELECT ISNULL(@ActiveCust, 0) AS ActiveCust, ISNULL(@CustCount, 0) AS CustCount
		, ISNULL(@InvoiceCount, 0) AS InvoiceCount, ISNULL(@PastDueCust, 0) AS PastDueCust
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArCustomerInvoiceCount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArCustomerInvoiceCount_proc'
GO
