USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorAnalysisReport_proc]

@FiscalYear  Smallint,
@GlPeriod  Smallint,
@View  Tinyint = 0,
@chkYTD  bit = 0,
@chkLY  bit = 0,
@BaseCurrency [nvarchar](6) =  'USD', 
@IncludeSalesTax bit, 
@IncludeFreightCharges bit, 
@IncludeMiscCharges bit

AS
BEGIN TRY

DECLARE @Count int

	CREATE TABLE #tmpApVendorAnalysisrpt
	(
	VendorId [nvarchar](10) NOT NULL, 
	GLPeriodText nvarchar(30), 
	PeriodSort smallint, 
	Purch [decimal](28,10) NOT NULL, Pmt [decimal](28,10) NOT NULL,
	DiscTaken [decimal](28,10) NOT NULL, 
	DiscLost [decimal](28,10) NOT NULL, 
	Ten99Pmt [decimal](28,10) NOT NULL
	)
	
	CREATE TABLE #tmpTotals
	(
	VendorId [nvarchar](10) NOT NULL,
	GrossDue [decimal](28,10) NULL, 
	Prepaid [decimal](28,10) NULL
	)

	CREATE TABLE #tmpApVendorAnalyTot
	(
	GLPeriodText nvarchar(30), 
	PeriodSort smallint, 
	Purch [decimal](28,10) NULL, 
	Pmt [decimal](28,10) NULL,
	DiscTaken [decimal](28,10) NULL,
	DiscLost [decimal](28,10) NULL,
	Ten99Pmt [decimal](28,10) NULL
	)

	CREATE TABLE #tmpApVendorHistDetail
	(
	VendorID [nvarchar](10) NOT NULL,
	FiscalYear smallint NOT NULL,
	GLPeriod smallint NOT NULL,
	Purch [decimal](28,10) NOT NULL DEFAULT(0),
	Pmt [decimal](28,10) NOT NULL DEFAULT(0),
	DiscTaken [decimal](28,10) NOT NULL DEFAULT(0),
	DiscLost [decimal](28,10) NOT NULL DEFAULT(0),
	Ten99Pmt [decimal](28,10) NOT NULL DEFAULT(0),
	PRIMARY KEY CLUSTERED 
	(
		VendorID,
		FiscalYear,
		GLPeriod
	)
	)

	--Create records from purchase history
	INSERT INTO #tmpApVendorHistDetail(VendorID, FiscalYear, GLPeriod, Purch)
	SELECT h.VendorId, h.FiscalYear, h.GLPeriod
		, SUM(SIGN(TransType) * 
			(Subtotal 
				+ CASE WHEN @IncludeSalesTax <> 0 THEN SalesTax + TaxAdjAmt ELSE 0 END 
				+ CASE WHEN @IncludeFreightCharges <> 0 THEN Freight ELSE 0 END 
				+ CASE WHEN @IncludeMiscCharges <> 0 THEN Misc ELSE 0 END)
			) AS Purch
	FROM tblApHistHeader h (NOLOCK) INNER JOIN #tmpVendorList t ON h.VendorId = t.VendorId
	WHERE (h.FiscalYear = @FiscalYear AND (@View = 1 OR @chkYTD = 1 OR (@View = 0 AND GLPeriod = @GLPeriod))) OR (@chkLY = 1 AND h.FiscalYear = @FiscalYear - 1)  
	GROUP BY h.VendorId, h.FiscalYear, h.GLPeriod

	--Update existing records from payment history
	UPDATE #tmpApVendorHistDetail SET Pmt = p.Pmt, DiscTaken = p.DiscTaken, DiscLost = p.DiscLost, Ten99Pmt = p.Ten99Pmt
	FROM #tmpApVendorHistDetail t INNER JOIN (SELECT h.VendorId, h.FiscalYear, h.FiscalPeriod, SUM(d.PaymentAmtBase) Pmt, 
				SUM(d.DiscTakenBase) DiscTaken, SUM(d.DiscLostBase) DiscLost, 
				SUM(CASE WHEN dt.Ten99Amt IS NOT NULL THEN dt.Ten99Amt WHEN d.Ten99InvoiceYN = 1 
					THEN d.PaymentAmtBase ELSE 0 END) Ten99Pmt
            FROM dbo.tblApPaymentHistHeader h (NOLOCK) INNER JOIN #tmpVendorList t ON h.VendorId = t.VendorId
				LEFT JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
				LEFT JOIN dbo.tblApPaymentHistDetailTen99 dt on dt.ID = d.ID
            WHERE ((h.FiscalYear = @FiscalYear AND (@View = 1 OR @chkYTD = 1 OR (@View = 0 AND FiscalPeriod = @GLPeriod))) OR (@chkLY = 1 AND h.FiscalYear = @FiscalYear - 1) ) AND h.VoidDate IS NULL
			GROUP BY h.VendorId, h.FiscalYear, h.FiscalPeriod) p ON t.VendorID = p.VendorID AND t.FiscalYear = p.FiscalYear AND t.GLPeriod = p.FiscalPeriod

	--Create records from payment history
	INSERT INTO #tmpApVendorHistDetail(VendorID, FiscalYear, GLPeriod, Pmt, DiscTaken, DiscLost, Ten99Pmt)
	SELECT p.VendorID, p.FiscalYear, p.FiscalPeriod, p.Pmt, p.DiscTaken, p.DiscLost, p.Ten99Pmt
	FROM #tmpApVendorHistDetail t RIGHT JOIN (SELECT h.VendorId, h.FiscalYear, h.FiscalPeriod, SUM(d.PaymentAmtBase) Pmt, 
				SUM(d.DiscTakenBase) DiscTaken, SUM(d.DiscLostBase) DiscLost, 
				SUM(CASE WHEN dt.Ten99Amt IS NOT NULL THEN dt.Ten99Amt WHEN d.Ten99InvoiceYN = 1 
					THEN d.PaymentAmtBase ELSE 0 END) Ten99Pmt
            FROM dbo.tblApPaymentHistHeader h (NOLOCK) INNER JOIN #tmpVendorList t ON h.VendorId = t.VendorId
				LEFT JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
				LEFT JOIN dbo.tblApPaymentHistDetailTen99 dt on dt.ID = d.ID
            WHERE ((h.FiscalYear = @FiscalYear AND (@View = 1 OR @chkYTD = 1 OR (@View = 0 AND FiscalPeriod = @GLPeriod))) OR (@chkLY = 1 AND h.FiscalYear = @FiscalYear - 1) ) AND h.VoidDate IS NULL
			GROUP BY h.VendorId, h.FiscalYear, h.FiscalPeriod) p ON t.VendorID = p.VendorID AND t.FiscalYear = p.FiscalYear AND t.GLPeriod = p.FiscalPeriod 
	WHERE t.VendorID IS NULL

	IF @View = 0 -- Current Period
	BEGIN
		INSERT INTO #tmpApVendorAnalysisrpt(VendorId, GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT VendorId, GLPeriod, GLPeriod AS PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt
		FROM #tmpApVendorHistDetail
		WHERE FiscalYear = @FiscalYear AND GLPeriod = @GLPeriod 

		INSERT INTO #tmpApVendorAnalyTot( GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT GLPeriod, GLPeriod AS PeriodSort, SUM(Purch), SUM(Pmt), SUM(DiscTaken), SUM(DiscLost), SUM(Ten99Pmt)
		FROM #tmpApVendorHistDetail
		WHERE FiscalYear = @FiscalYear AND GLPeriod = @GLPeriod 
		GROUP BY GLPeriod
	END

	IF @View = 1 -- All Periods
	BEGIN
		INSERT INTO #tmpApVendorAnalysisrpt(VendorId, GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT VendorId, GLPeriod, GLPeriod AS PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt
		FROM #tmpApVendorHistDetail
		WHERE FiscalYear = @FiscalYear

		INSERT INTO #tmpApVendorAnalyTot( GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT GLPeriod, GLPeriod AS PeriodSort, SUM(Purch), SUM(Pmt), SUM(DiscTaken), SUM(DiscLost), SUM(Ten99Pmt)
		FROM #tmpApVendorHistDetail
		WHERE FiscalYear = @FiscalYear
		GROUP BY GLPeriod
	END

	IF @chkYTD = 1 -- YTD
	BEGIN
		INSERT INTO #tmpApVendorAnalysisrpt(VendorId, GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT v.VendorId, 'Year-To-Date', 998 AS PeriodSort, ISNULL(Purch, 0), ISNULL(Pmt, 0), ISNULL(DiscTaken, 0), 
			ISNULL(DiscLost, 0), ISNULL(Ten99Pmt, 0)
			FROM dbo.tblApVendor v (NOLOCK) LEFT JOIN 
                        (SELECT VendorId, 
                              SUM(Purch)  Purch, 
                              SUM(Pmt)  Pmt, 
                              SUM(DiscTaken)  DiscTaken, 
                              SUM(DiscLost) DiscLost, 
                              SUM(Ten99Pmt) Ten99Pmt  
                        FROM #tmpApVendorHistDetail (NOLOCK) 
                        WHERE FiscalYear = @FiscalYear 
                        GROUP BY VendorId ) h
                  ON v.VendorId = h.VendorId    INNER JOIN #tmpVendorList t ON v.VendorId = t.VendorId 

		INSERT INTO #tmpApVendorAnalyTot( GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT 'Year-To-Date', 998 AS PeriodSort, ISNULL(SUM(Purch), 0), ISNULL(SUM(Pmt), 0), ISNULL(SUM(DiscTaken), 0), 
			ISNULL(SUM(DiscLost), 0), ISNULL(SUM(Ten99Pmt), 0)
		FROM #tmpVendorList v LEFT JOIN #tmpApVendorHistDetail d ON v.VendorID = d.VendorID
		WHERE FiscalYear = @FiscalYear
	END

	IF @chkLY = 1 -- Last Year
	BEGIN
		INSERT INTO #tmpApVendorAnalysisrpt(VendorId, GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT v.VendorId, 'Last-Year', 999 AS PeriodSort, ISNULL(Purch, 0), ISNULL(Pmt, 0), ISNULL(DiscTaken, 0), 
			ISNULL(DiscLost, 0), ISNULL(Ten99Pmt, 0)			
			FROM dbo.tblApVendor v (NOLOCK)     LEFT JOIN 
                        (SELECT VendorId,SUM(Purch) Purch, 
                             SUM(Pmt) Pmt, 
                              SUM(DiscTaken) DiscTaken, 
                              SUM(DiscLost) DiscLost, SUM(Ten99Pmt) Ten99Pmt    
                        FROM #tmpApVendorHistDetail (NOLOCK) WHERE FiscalYear = @FiscalYear - 1 
                        GROUP BY VendorId ) h
                  ON v.VendorId = h.VendorId    INNER JOIN #tmpVendorList t ON v.VendorId = t.VendorId

		INSERT INTO #tmpApVendorAnalyTot( GLPeriodText, PeriodSort, Purch, Pmt, DiscTaken, DiscLost, Ten99Pmt )
		SELECT 'Last-Year', 999 AS PeriodSort, ISNULL(SUM(Purch), 0), ISNULL(SUM(Pmt), 0), ISNULL(SUM(DiscTaken), 0), 
			ISNULL(SUM(DiscLost), 0), ISNULL(SUM(Ten99Pmt), 0)
		FROM #tmpVendorList v LEFT JOIN #tmpApVendorHistDetail d ON v.VendorID = d.VendorID
		WHERE FiscalYear = @FiscalYear - 1
	END

INSERT INTO #tmpTotals (VendorId, GrossDue, Prepaid)
select v.VendorID, (case when v.CurrencyId = @BaseCurrency then  v.GrossDue else ROUND(v.GrossDue * et.Rate,et.CurrDecPlaces) END) GrossDue, 
		(case when v.CurrencyId = @BaseCurrency then  v.Prepaid else ROUND(v.Prepaid * et.Rate,et.CurrDecPlaces) END) as Prepaid
	 FROM tblApVendor v  INNER JOIN #tmpVendorList tmp ON v.VendorId = tmp.VendorId	
              LEFT JOIN( SELECT ed.[Source],ed.Destination,ed.Rate,c.CurrDecPlaces,e.FiscalYear,e.FiscalPeriod 
							FROM tblSmExchangeRate e
							INNER JOIN tblSmExchangeRateDetail ed ON e.ID=ed.ExchangeRateID AND e.FiscalYear=@FiscalYear AND e.[Type]=1 and e.FiscalPeriod=@GlPeriod
							INNER JOIN tblSmCurrency c ON ed.Destination =c.CurrID ) et
					ON  et.[Source] =v.CurrencyID  AND et.Destination= @BaseCurrency
			
	IF  EXISTS (SELECT * FROM #tmpTotals t WHERE t.GrossDue IS NULL OR t.Prepaid IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END


	SELECT v.VendorID, v.Name, v.Addr1, v.Addr2, v.City, v.Region, v.Country, v.PostalCode, 
            v.IntlPrefix, v.Phone, v.FAX, v.LastPurchDate, v.LastPmtDate, 
            totals.GrossDue GrossDue, 
            totals.Prepaid Prepaid,
            t.TermsCode AS TermsCode, t.DiscDays, a.GLPeriodText, a.PeriodSort, a.Purch, a.Pmt, a.DiscTaken, a.DiscLost, a.Ten99Pmt
      FROM tblApVendor v  INNER JOIN tblApTermscode t (NOLOCK) ON v.TermsCode = t.TermsCode 
            LEFT JOIN #tmpApVendorAnalysisrpt a ON v.VendorId = a.VendorId
            INNER JOIN #tmpVendorList tmp ON v.VendorId = tmp.VendorId
            INNER JOIN #tmpTotals totals on totals.VendorId = v.VendorID
      ORDER BY v.VendorID


	SELECT * FROM #tmpApVendorAnalyTot

	SELECT SUM(totals.Prepaid)   TotPrepaid, 
			 SUM(totals.GrossDue)  TotGrossDue
	FROM dbo.tblApVendor v INNER JOIN #tmpVendorList t ON v.VendorId = t.VendorId
	INNER JOIN #tmpTotals totals on totals.VendorId = v.VendorID
	
 
END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorAnalysisReport_proc'
GO
