USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_ApPaymentPost_BRLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[_RCG_trav_ApPaymentPost_BRLog_proc]
AS
BEGIN TRY
	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @PrecCurr tinyint,@Multicurr bit, @WksDate datetime,@CompId nvarchar(3),
	@DiscountDescr nvarchar(30), @CashDescr nvarchar(30), @PostGainLossDtl bit, @ApDetail bit, @CreditCardDescr nvarchar(30)
	

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @Multicurr = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @DiscountDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'DiscountDescr'
	SELECT @CashDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CashDescr'
	SELECT @PostGainLossDtl = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostGainLossDtl'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @ApDetail = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApDetail'
	SELECT @CreditCardDescr = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'CreditCardDescr'

	--UPDATE #ApPaymentPostLog SET DebitAmt = CASE WHEN Amount > 0 THEN Amount ELSE 0 END
	--	, CreditAmt = CASE WHEN Amount < 0 THEN -Amount ELSE 0 END
	--	, DebitAmtfgn = CASE WHEN CurrencyId <> @CurrBase THEN 	(CASE WHEN Amountfgn > 0 THEN Amountfgn ELSE 0 END) 
	--		ELSE (CASE WHEN Amount > 0 THEN Amount ELSE 0 END) END
	--	, CreditAmtfgn = CASE WHEN CurrencyId <> @CurrBase THEN (CASE WHEN Amountfgn < 0 THEN -Amountfgn ELSE 0 END) 
	--		ELSE (CASE WHEN Amount < 0 THEN -Amount ELSE 0 END) END
	
   

DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQLCommand NVARCHAR(MAX);
declare @BankId nvarchar(10);
declare @LevelOfDetail nvarchar(25);

--figure out which bank account this post is for.  There should only be a single bank account for every posting
set @BankId = (select distinct top 1 d.BankId from #PaymentDetail d);

--now pull the intercompany information from the defaults record to get the company id to post to.  Should only be a single record per bank
set @DatabaseName = (select distinct top 1 WebCompId from _RCG_tblRcInterCompDefaultApPosting where bankId=@BankId);
set @LevelOfDetail = (select distinct top 1 LevelOfDetail from _RCG_tblRcInterCompDefaultApPosting where bankId=@BankId);


--Create the bank rec records
	

IF @LevelOfDetail = 'Detail'
	BEGIN

	 SET @SQLCommand = N'INSERT INTO ['+@DatabaseName+'].dbo.tblBrMaster 
		(BankID
		, TransType
		, SourceID
		, Descr
		, Reference
		, SourceApp
		, Amount
		, AmountFgn
		,TransDate
		, ClearedYn
		, CurrencyID
		, ExchRate
		, FiscalYear
		, GlPeriod
		, PaymentHistoryLink) 
		SELECT 
			Max(ic.InterCompanyBankId)
			, -1
			, d.PaymentNum
			, CASE WHEN ISNULL(v.PayToName,'''') = '''' THEN v.[Name] ELSE v.PayToName END, d.VendorID, ''AP'', -SUM(d.PaymentAmtBase)
			, CASE WHEN d.PaymentCurrency <>  '''+convert(varchar,@CurrBase)+'''  THEN -SUM(d.PaymentAmt) ELSE -SUM(d.PaymentAmtBase) END
			, d.PaymentDate, 0, d.PaymentCurrency
			, CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' 
				   THEN e.Rate ELSE 1.0  END
			, d.FiscalYear
			, d.FiscalPeriod
			, d.PaymentHistoryLink

		FROM #PaymentDetail d
		INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination
			AND '''+convert(varchar,@CurrBase)+''' = e.Source 			
		INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on d.BankId = ic.BankId and ic.IsBankRec=1
		WHERE d.PaymentAmt <> 0 AND d.Status = 0
		GROUP BY d.BankId,d.VendorId,v.[Name],v.PayToName,d.PaymentNum,d.PaymentDate,d.PaymentCurrency, e.Rate
		, d.FiscalYear, d.FiscalPeriod, d.PaymentHistoryLink

	

	INSERT INTO ['+@DatabaseName+'].dbo.tblBrMaster 
		(BankID
		, TransType
		, SourceID
		, Descr
		, Reference
		, SourceApp
		, Amount
		, AmountFgn
		, TransDate
		, ClearedYn
		, CurrencyID
		, ExchRate
		, FiscalYear
		, GlPeriod
		, PaymentHistoryLink) 

	SELECT 
		Max(ic.InterCompanyBankId)
		, -1
		, d.PaymentNum
		, CASE WHEN ISNULL(v.PayToName,'''') = '''' THEN v.[Name] ELSE v.PayToName END
		, d.VendorID
		, ''AP''
		, -SUM(d.GrossAmtDueBase - d.DiscTakenBase)		
		, -(CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' 
				THEN SUM(d.GrossAmtDue - d.DiscTaken) 
				ELSE SUM(d.GrossAmtDueBase - d.DiscTakenBase) 
			END)
		, d.PaymentDate
		, 0
		, d.PaymentCurrency
		, CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' THEN e.Rate ELSE 1.0 END
		, d.FiscalYear
		, d.FiscalPeriod
		, d.PaymentHistoryLink 

	FROM dbo.tblApVendor v 
		INNER JOIN #PaymentDetail d ON v.VendorID = d.VendorID
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
		AND d.TransType = e.TransType 
		AND d.PaymentCurrency = e.Destination
		AND '''+convert(varchar,@CurrBase)+''' = e.Source 		
	INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on d.BankId = ic.BankId and ic.IsBankRec=1
	WHERE d.PaymentAmt <> 0 AND d.Status = 3 
	GROUP BY d.BankId,d.VendorId,v.[Name],v.PayToName,d.PaymentNum,d.PaymentDate,d.PaymentCurrency, e.Rate

		, d.FiscalYear, d.FiscalPeriod, d.BatchId, d.PaymentHistoryLink
 
 
	';

	END
	ELSE BEGIN -- COMBINED
	
	 SET @SQLCommand = N'INSERT INTO ['+@DatabaseName+'].dbo.tblBrMaster 
		(BankID
		, TransType
		, SourceID
		, Descr
		, Reference
		, SourceApp
		, Amount
		, AmountFgn
		,TransDate
		, ClearedYn
		, CurrencyID
		, ExchRate
		, FiscalYear
		, GlPeriod
		, PaymentHistoryLink) 
		SELECT 
			Max(ic.InterCompanyBankId)
			, -1
			, ''Combined''
			, ''Combined'', ''Combined'', ''AP'', -SUM(d.PaymentAmtBase)
			, CASE WHEN d.PaymentCurrency <>  '''+convert(varchar,@CurrBase)+'''  THEN -SUM(d.PaymentAmt) ELSE -SUM(d.PaymentAmtBase) END
			, d.PaymentDate, 0, d.PaymentCurrency
			, CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' 
				   THEN e.Rate ELSE 1.0  END
			, d.FiscalYear
			, d.FiscalPeriod
			, ''Combined''

		FROM #PaymentDetail d
		INNER JOIN dbo.tblApVendor v ON d.VendorID = v.VendorID 
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
			AND d.TransType = e.TransType 
			AND d.PaymentCurrency = e.Destination
			AND '''+convert(varchar,@CurrBase)+''' = e.Source 			
		INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on d.BankId = ic.BankId and ic.IsBankRec=1
		WHERE d.PaymentAmt <> 0 AND d.Status = 0
		GROUP BY d.BankId,d.PaymentDate,d.PaymentCurrency, e.Rate
		, d.FiscalYear, d.FiscalPeriod

	

	INSERT INTO ['+@DatabaseName+'].dbo.tblBrMaster 
		(BankID
		, TransType
		, SourceID
		, Descr
		, Reference
		, SourceApp
		, Amount
		, AmountFgn
		, TransDate
		, ClearedYn
		, CurrencyID
		, ExchRate
		, FiscalYear
		, GlPeriod
		, PaymentHistoryLink) 

	SELECT 
		Max(ic.InterCompanyBankId)
		, -1
		, ''Combined''
		, ''Combined''
		, ''Combined''
		, ''AP''
		, -SUM(d.GrossAmtDueBase - d.DiscTakenBase)		
		, -(CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' 
				THEN SUM(d.GrossAmtDue - d.DiscTaken) 
				ELSE SUM(d.GrossAmtDueBase - d.DiscTakenBase) 
			END)
		, d.PaymentDate
		, 0
		, d.PaymentCurrency
		, CASE WHEN d.PaymentCurrency <> '''+convert(varchar,@CurrBase)+''' THEN e.Rate ELSE 1.0 END
		, d.FiscalYear
		, d.FiscalPeriod
		, ''Combined'' 

	FROM dbo.tblApVendor v 
		INNER JOIN #PaymentDetail d ON v.VendorID = d.VendorID
		LEFT JOIN dbo.tblSmExchangeRateTrans e ON d.TransKey = e.TransKey
		AND d.TransType = e.TransType 
		AND d.PaymentCurrency = e.Destination
		AND '''+convert(varchar,@CurrBase)+''' = e.Source 		
	INNER JOIN _RCG_tblRcInterCompDefaultApPosting ic on d.BankId = ic.BankId and ic.IsBankRec=1
	WHERE d.PaymentAmt <> 0 AND d.Status = 3 
	GROUP BY d.BankId,d.PaymentDate,d.PaymentCurrency, e.Rate

		, d.FiscalYear, d.FiscalPeriod, d.BatchId
 
 
	';
 END
   -- select @SQLCommand
   EXEC sp_executesql @SQLCommand;
	

		

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc


END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApPaymentPost_BRLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_ApPaymentPost_BRLog_proc'
GO
