USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateOrders_OpenOrders_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateOrders_OpenOrders_proc]
@ItemId	pItemId,
@LocId	pLocId
AS
BEGIN TRY
	SET NOCOUNT ON

	SELECT	h.TransId [OrderNumber], CASE WHEN h.TransType = 0 THEN 'Order Request' ELSE 'Purchase Order' END [TransactionType], NULL [RelNo]	--POTransactionType :  NewReturn = -1, DebitMemo = -2, GoodsReceived = 1, Request = 0, InvoiceReceived = 2, NewOrder = 9 
			, h.TransDate [Transaction/EstStartDate], NULL [EstFinishDate], h.VendorId [VendorID], v.[Name] [VendorName], d.ItemId [ItemID/AssemblyID], NULL [CustomerID], NULL [CustomerName]
			, d.LocId [Location], d.QtyOrd [Quantity], NULL [CompleteQuantity], ISNULL(r.QtyFilled, 0) [ReceivedQuantity], d.UnitsBase [Unit],NULL [Status]	
	FROM	dbo.tblPoTransHeader h
			INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID
			LEFT JOIN (SELECT	TransId, EntryNum, SUM(QtyFilled) [QtyFilled]
			FROM	dbo.tblPoTransLotRcpt
			GROUP BY	TransId, EntryNum) r ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum
			LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorID
	WHERE	d.ItemId = @ItemId AND d.LocId = @LocId
			AND ((d.QtyOrd - r.QtyFilled) > 0 OR r.TransId IS NULL)

	UNION ALL

	SELECT	NULL [OrderNumber], 'Purchase Requisition', NULL [RelNo], r.InitDate [Transaction/EstStartDate], NULL [EstFinishDate]  
			, r.VendorId [VendorID], v.[Name] [VendorName], r.ItemId [ItemID/AssemblyID], NULL [CustomerID], NULL [CustomerName], r.LocId [Location]
			, r.Qty [Quantity], NULL [CompleteQuantity], NULL [ReceivedQuantity], r.Uom [Unit],NULL [Status]	
	FROM	dbo.tblPoPurchaseReq r
			LEFT JOIN dbo.tblApVendor v ON r.VendorId = v.VendorID
	WHERE	r.ItemId = @ItemId AND r.LocId = @LocId

	UNION ALL

	SELECT	o.OrderNo [OrderNumber], 'Production Order' [TransactionType], r.ReleaseNo [RelNo], r.EstStartDate [Transaction/EstStartDate], r.EstCompletionDate [EstFinishDate]  
			, NULL [VendorID], NULL [VendorName], o.AssemblyId [ItemID/AssemblyID], r.CustId [CustomerID], c.CustName [CustomerName], o.LocId [Location]
			, r.Qty [Quantity], NULL [CompleteQuantity], NULL [ReceivedQuantity], r.Uom [Unit], r.Status			--[CompleteQuantity]
	FROM	dbo.tblMpOrder o
			INNER JOIN dbo.tblMpOrderReleases r ON o.OrderNo = r.OrderNo
			LEFT JOIN dbo.tblArCust c ON r.CustId = c.CustId
	WHERE	r.Status <= 4 AND o.AssemblyId = @ItemId AND o.LocId = @LocId	--Status: New = 0, Planned, FirmPlanned, Released, InProcess, ProductionHold, Completed

	UNION ALL

	SELECT	o.TransId [OrderNumber], CASE o.WorkType WHEN  1 THEN 'BM Build' WHEN 2 THEN 'BM Unbuild' ELSE NULL END [TransactionType], NULL [RelNo], o.TransDate [Transaction/EstStartDate], NULL [EstFinishDate]  
			, NULL [VendorID], NULL [VendorName], o.ItemId [ItemID/AssemblyID], NULL [CustomerID], NULL [CustomerName], o.LocId [Location]
			, o.BuildQty [Quantity], NULL [CompleteQuantity], NULL [ReceivedQuantity], o.BuildUOM [Unit],NULL [Status]	
	FROM	dbo.tblBmWorkOrder o
	WHERE	o.ItemId = @ItemId AND o.LocId = @LocId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateOrders_OpenOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateOrders_OpenOrders_proc'
GO
