USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoRequestView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoRequestView_proc]
@RequestType tinyint
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT h.TransId, h.VendorId, v.Name AS VendorName, h.OrderedBy, h.TransDate, h.Notes, 
		h.BatchId, h.CurrencyId, h.ReqShipDate, h.ShipToID, h.ShipToName,
		r.RequestedBy, r.RequestedDate, r.[Status],
		s.BudgetPeriod, s.BudgetYear, s.RouteId, s.[Level], s.NotifyDate,
		s.Comments As RequestNotes, u.Username NotifyUserId, u.Name As NotifyUserName,
		((h.MemoTaxable + h.MemoNonTaxable + h.MemoFreight + h.MemoMisc + h.MemoSalesTax) - h.MemoPrepaid) As MemoTotal,
		((h.MemoTaxableFgn + h.MemoNonTaxableFgn + h.MemoFreightFgn + h.MemoMiscFgn + h.MemoSalesTaxFgn) - h.MemoPrepaidFgn) As MemoTotalFgn
	FROM #TransList t
		INNER JOIN dbo.tblPoTransHeader h ON t.TransId = h.TransId
		LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId
		LEFT JOIN dbo.tblPoTransRequest r ON h.TransId = r.TransId
		LEFT JOIN dbo.tblPoTransRequestStatus s ON h.TransId = s.TransId
		LEFT JOIN dbo.tblPoRequestUser u On s.NotifyUser = u.ID
	WHERE @RequestType IS NULL OR r.[Status] = @RequestType
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoRequestView_proc'
GO
