USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVoidPaymentWrite_Vendor_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVoidPaymentWrite_Vendor_proc]
AS

SET NOCOUNT ON
BEGIN TRY

	DECLARE @CurrBase [nvarchar](6)

	SELECT @CurrBase = CAST([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	 --Create a temp table to store vendor due amt.
	 CREATE TABLE #VendorDue
	 (
		VendorId [nvarchar](10) NOT NULL,
		GrossDue [decimal](28,10) NULL,
		Prepaid [decimal](28,10) NULL		
	 )

	/*update vendor due amt and prepaid amt*/
    --When vendor currency is base currency take tblApOpenInvoice.GrossAmtDue
	--When vendor currency is invoice currency take  tblApOpenInvoice.GrossAmtDueFgn
	--For other cases use invoice exchange rate.
	INSERT INTO #VendorDue (VendorId,GrossDue,Prepaid)
	SELECT o.VendorID, 
		CASE 
				WHEN o.[STATUS] < 3 
				THEN CASE 
							WHEN v.CurrencyId = o.CurrencyId	THEN o.GrossAmtDueFgn
							WHEN v.CurrencyId = @CurrBase		THEN o.GrossAmtDue
							ELSE ROUND(o.GrossAmtDueFgn * exInv.Rate, c.CurrDecPlaces)
					    END
		         ELSE 0
		END AS GrossDue,
		CASE 
	 			WHEN o.[STATUS] = 3 
				THEN CASE 
							WHEN v.CurrencyId = o.CurrencyId	THEN o.GrossAmtDueFgn
							WHEN v.CurrencyId = @CurrBase		THEN o.GrossAmtDue
							ELSE ROUND(o.GrossAmtDueFgn * exInv.Rate, c.CurrDecPlaces)
					    END
		         ELSE 0
		END AS Prepaid
	FROM dbo.tblApOpenInvoice o
	INNER JOIN dbo.tblApVendor v ON  v.VendorID = o.VendorID
	LEFT JOIN dbo.tblSmCurrency c ON c.CurrID =v.CurrencyId
	LEFT JOIN dbo.tblSmExchangeRateTrans exInv ON  exInv.TransKey = o.[Counter] --Invoice exch rates
		AND  exInv.TransType = 'APINVC' 
		AND  exInv.Source = o.CurrencyId
		AND  exInv.Destination = v.CurrencyId
	WHERE o.[Status] < 4 AND o.VendorId IN (SELECT h.VendorId FROM #PostTransList t INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID WHERE t.[Status] = 0)

	--abort if invalid currency convertion exist	
	IF EXISTS (SELECT TOP 1 VendorId  FROM #VendorDue 
	                WHERE  GrossDue IS NULL OR  Prepaid IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--Update vendor table
	UPDATE v
	SET v.GrossDue = d.GrossDue	,v.Prepaid = d.Prepaid
	FROM dbo.tblApVendor v
	INNER JOIN (
						SELECT VendorId,SUM(GrossDue) GrossDue,SUM(Prepaid) Prepaid
						FROM #VendorDue
						GROUP BY VendorId
					) d ON d.VendorId = v.VendorID

	/*Append payment log*/
	INSERT INTO #ApVoidPaymentLog (
		VendorId	,InvoiceNumber,InvoiceDate,
		CheckDate,FiscalYear,
		UseCheckNumber,
		GrossAmountDue,DiscountTaken,CurrencyId,[Status]
	)
	SELECT h.VendorId, d.InvoiceNum, d.InvoiceDate,
		 h.PaymentDate, h.FiscalYear, 
		 CASE 
			WHEN h.PaymentNum = '' THEN NULL
			ELSE h.PaymentNum
		 END AS UseCheckNumber,
		 d.GrossAmtDue,d.DiscTaken,h.CurrencyID, t.[status]
	FROM #PostTransList t
	INNER JOIN dbo.tblApPaymentHistHeader h ON h.ID = t.TransId
	INNER JOIN dbo.tblApPaymentHistDetail d ON d.HeaderID = h.ID
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Vendor_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Vendor_proc'
GO
