USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcQueueDelete_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcQueueDelete_proc]     
   @DocID bigint = 0,
   @PostRun pPostRun = '',
   @KeyVal nvarchar(75) = '',   
   @TempTblName nvarchar(50) = ''           
AS
   SET NOCOUNT ON  

   CREATE TABLE #del(PostRun nvarchar(14), KeyVal nvarchar(75), DocID bigint)
   
   DECLARE @SQL nvarchar(1000)

   BEGIN TRY   

      IF ISNULL(@TempTblName,'')<>'' 
      BEGIN
         SET @SQL = 'SELECT PostRun, KeyVal, DocID FROM ' + @TempTblName 
         INSERT INTO #del (PostRun, KeyVal, DocID)
         EXEC sp_executesql @SQL

      END
      ELSE
      BEGIN
	     INSERT INTO #del(PostRun, KeyVal, DocID)
	     SELECT PostRun, DocKey, @DocID  
	     FROM tblEcComm c
	     WHERE  (ISNULL(c.DocID,'') = @DocID)    
            AND (ISNULL(@PostRun,'') = ''  OR PostRun = @PostRun)    
            AND (ISNULL(@KeyVal,'') = '' OR DocKey = @KeyVal)    
       END
	    
	   DELETE c
	   FROM tblEcComm c
	   INNER JOIN tblEcDocument ec ON ec.ID = c.DocID
	   INNER JOIN #del d ON c.PostRun = d.PostRun AND c.DocKey = d.KeyVal AND ec.ID = d.DocID

	   UPDATE s SET s.[Status] = 0 FROM tblEcSoTransPackHeader s 
	   INNER JOIN #del d ON s.SoTransId = d.KeyVal
	   
	   -- delete packing
	   DELETE pd
	   FROM #del d
	   INNER JOIN tblEcDocument ed ON ed.ID = d.DocID
	   INNER JOIN tblEcPackHeader ph ON d.PostRun = ph.TransID AND ph.TransID = d.KeyVal AND ed.DocID = '856-O'
	   INNER JOIN tblEcPackDetail pd ON ph.ID = pd.PackHeaderID

	   DELETE ps
	   FROM #del d
	   INNER JOIN tblEcDocument ed ON ed.ID = d.DocID
	   INNER JOIN tblEcPackHeader ph ON d.PostRun = ph.TransID AND ph.TransID = d.KeyVal AND ed.DocID = '856-O'
	   INNER JOIN tblEcPackShipment ps ON ph.ShipmentId = ps.ID

	   DELETE ph
	   FROM #del d
	   INNER JOIN tblEcDocument ed ON ed.ID = d.DocID
	   INNER JOIN tblEcPackHeader ph ON d.PostRun = ph.TransID AND ph.TransID = d.KeyVal AND ed.DocID = '856-O'

   END TRY          
BEGIN CATCH          
    EXEC dbo.trav_RaiseError_proc          
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueDelete_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcQueueDelete_proc'
GO
