USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaCheckPost_Br_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaCheckPost_Br_proc]
AS
BEGIN TRY

--PET:http://webfront:801/view.php?id=226466
--PET:http://webfront:801/view.php?id=226993
--PET:http://webfront:801/view.php?id=227220
--PET:http://webfront:801/view.php?id=227186
--PET:http://problemtrackingsystem.osas.com/view.php?id=253412

 DECLARE @PostRun pPostRun, @PostYear smallint, @PdEnd datetime, 
 @GlPeriod tinyint, @DateOnCheck datetime, @CurrBase nvarchar(6), @BankID nvarchar(10),
 @DD bit, @BrYN bit
       

        SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	    SELECT @GlPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'GlPeriod'
        SELECT @PdEnd = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'PdEnd'
        SELECT @DateOnCheck = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'DateOnCheck'
        SELECT @PostYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PostYear'
        SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
        SELECT @BankID = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'BankID'
		SELECT @DD = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'DD'
        SELECT @BrYN = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BrYN'
       
--net check amount must be calculated as the tblPaCheck.NetPay - SUM(tblPaCheckDistribution.CurrentAmount Where tblPaCheckDistribution.DirectDepositYn = 1)


    
       
	
   IF @PostRun IS NULL  OR @PdEnd IS NULL OR @DateOnCheck IS NULL OR @GlPeriod IS NULL Or @PostYear IS NULL

	BEGIN
		THROW 90025, N'Missing global value.', 1
	END




IF @BrYn = 1
	BEGIN

			
           	INSERT INTO dbo.tblBrMaster (BankID, TransType, SourceID, Descr, Reference, SourceApp
				, Amount, AmountFgn, TransDate, FiscalYear, GlPeriod, ClearedYn, CurrencyId, ExchRate, PaymentHistoryLink) 
 
			SELECT @BankID, -1, c.CheckNumber, c.EmployeeId
				, c.EmployeeId, 'PA', 
				-- -(COALESCE(c.NetPay, 0)),
				--- -(COALESCE(c.NetPay, 0)),
				-(COALESCE(c.NetPay, 0) - COALESCE(s.SumCurrentAmount, 0)),
				-(COALESCE(c.NetPay, 0) - COALESCE(s.SumCurrentAmount, 0)),  
			   @DateOnCheck, @PostYear, @GLPeriod, 0, @CurrBase, 1 ,@PostRun+'|'+CONVERT(nvarchar(20),c.Id)
             FROM dbo.tblPaCheck c 
            INNER JOIN #PostTransList b ON c.Id = b.TransId
			Left Join  
			(
			SELECT v.CheckId, Sum(v.CurrentAmount) SumCurrentAmount FROM dbo.tblPaCheckDistribution v 
            INNER JOIN #PostTransList b ON v.CheckId = b.TransId  WHERE v.DirectDepositYn=1 group by v.CheckId 
			) s
           on c.Id = s.CheckId WHERE (COALESCE(c.NetPay, 0) - COALESCE(s.SumCurrentAmount, 0)) > 0 

       
       
		END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_Br_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_Br_proc'
GO
