USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrForecast_Calculate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrForecast_Calculate_proc]
@CutOffDate DateTime = NULL,
@Weight pDecimal = 0.0,
@QtyPrecision smallInt = 2.0,
@PctPrecision smallInt = 2.0
AS
BEGIN TRY
	
	IF @CutOffDate IS NULL
		SET @CutOffDate = GETDATE()
 
	DECLARE @AnnualFrom INT = CONVERT(INT, CONVERT(nVarchar(10), DATEADD(Year, -1, @CutOffDate), 112))
	DECLARE @AnnualTo INT = CONVERT(INT, CONVERT(nVarchar(10), @CutOffDate, 112))
	DECLARE @90Days INT = CONVERT(INT, CONVERT(nVarchar(10), DATEADD(DAY, -90, @CutOffDate), 112))
	
	--Load Historical Records Summarized
	SELECT ds.ItemId, ds.LocId,
			   ROUND(SUM(CASE WHEN ds.[Source] BETWEEN 70 AND 88 THEN ds.Qty ELSE 0.0 END), @QtyPrecision) [AnnualUse],
			   ROUND(SUM(CASE WHEN ds.[Source] BETWEEN 80 AND 84 THEN ds.Qty ELSE 0.0 END), @QtyPrecision) [SalesQty],
			   ROUND(SUM(CASE WHEN ds.[Source] BETWEEN 70 AND 88 AND ds.FormatTransDate BETWEEN @90Days AND @AnnualTo THEN ds.Qty ELSE 0.0 END), @QtyPrecision) [90Days]
	INTO #tmpHistData
	FROM
	(
		SELECT h.ItemId, h.LocId, d.UomBase, d.[Source], d.Qty, d.TransDate, CONVERT(INT, CONVERT(nVarchar(10), d.TransDate, 112)) [FormatTransDate]
		FROM dbo.tblInHistDetail d (NOLOCK)
		INNER JOIN #tmpForecast h ON h.ItemId = d.ItemId AND h.LocId = d.LocId AND d.DeleteDate IS NULL
	)ds
	WHERE ds.FormatTransDate BETWEEN @AnnualFrom AND @AnnualTo
	GROUP BY ds.ItemId, ds.LocId, ds.UomBase

	--Update Source Data with Hist Calculations
	UPDATE h
	SET h.AnnualUse = ISNULL(f.AnnualUse, 0.0),
		h.SalesQty = ISNULL(f.SalesQty, 0.0),
		h.[90Days] = ISNULL(f.[90Days], 0.0),
		h.[Monthly] = ROUND(ISNULL(f.AnnualUse, 0.0)/12, @QtyPrecision), --AnnualUse/12
		h.[90DaysMonthlyAvg] = ROUND(ISNULL(f.[90Days], 0.0)/3, @QtyPrecision), --[90Days]/3
		h.[90DaysWeight] = @Weight,
		h.SalesPct = ROUND((CASE WHEN ISNULL(f.AnnualUse, 0.0) = 0.0 THEN 0.0 ELSE ISNULL(f.SalesQty, 0.0)/ISNULL(f.AnnualUse, 0.0) END) * 100, @PctPrecision), --SalesQty/AnnualUse
		h.CompPct = ROUND((1 - (CASE WHEN ISNULL(f.AnnualUse, 0.0) = 0.0 THEN 0.0 ELSE ISNULL(f.SalesQty, 0.0)/ISNULL(f.AnnualUse, 0.0) END)) * 100, @PctPrecision), --1 - SalesPct
		h.Forecast = ROUND((ROUND(ISNULL(f.AnnualUse, 0.0)/12, @QtyPrecision) * (1-@Weight/100.0)) + (ROUND(ISNULL(f.[90Days], 0.0)/3, @QtyPrecision) * (@Weight/100.0)), @QtyPrecision), --(Monthly * (1 - [90DaysWeight])) + ([90DaysMonthlyAvg] * [90DaysWeight])
		h.Uom = h.[UomBase]
	FROM #tmpForecast h
	LEFT JOIN #tmpHistData f ON f.ItemId = h.ItemId AND f.LocId = h.LocId

	SELECT * FROM #tmpForecast

END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrForecast_Calculate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrForecast_Calculate_proc'
GO
