USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoReceiveInvoiceReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoReceiveInvoiceReport_proc]
@ReportCurrency [nvarchar](6) = NULL, --report currency Id
@BaseCurrency [nvarchar](6) = 'USD', --base currency Id
@FiscalYearFrom smallint = 2009,
@FiscalYearThru smallint = 2009,
@FiscalPeriodFrom smallint = 1,
@FiscalPeriodThru smallint = 12,
@ReceiptInvoiceDateFrom datetime = NULL,
@ReceiptInvoiceDateThru datetime = NULL,
@ReceiptInvoiceNoFrom [nvarchar](15) = NULL,
@ReceiptInvoiceNoThru [nvarchar](15) = NULL,
@PrintReceipt bit = 1,
@PrintInvoice bit = 1,
@PrintUnposted bit = 1,
@PrintPosted bit = 1,
@SortBy tinyint = 0 ,--0, Transaction No; 1, Rcpt/Invc No; 2, Staus; 3, Type; 4, Year/GL Period; 5, Vendor ID
@TransTypeInv NVARCHAR(10) ='POINVOICE',
@TransTypeRcpt NVARCHAR(10) ='PORECEIPT'
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpPoReceiptInvoiceRpt
	(
		TransId [nvarchar](8) NOT NULL, 
		EntryNum int NOT NULL, 
		RcptInvcNum [nvarchar](15) NOT NULL, 
		[Status] tinyint, 
		RcptInvcDate datetime NULL, 
		GlPeriod smallint NOT NULL, 
		FiscalYear smallint NOT NULL, 
		Qty [decimal](28,10) NOT NULL, 
		UnitCost [decimal](28,10) NULL, 
		ExtCost [decimal](28,10) NULL, 
		ExtCostRcpt [decimal](28,10) NULL, 
		ExtCostInvc [decimal](28,10) NULL, 
		TransOrReturn nvarchar (10) NOT NULL, 
		ReceiptOrInvoice [nvarchar](15) NOT NULL, 
		TransType smallint NOT NULL
	)

	IF @PrintReceipt = 1
	BEGIN
		INSERT INTO #tmpPoReceiptInvoiceRpt (TransId, EntryNum, RcptInvcNum, [Status], RcptInvcDate 
			, GlPeriod, FiscalYear, Qty, UnitCost
			, ExtCost
			, ExtCostRcpt 
			, ExtCostInvc, TransOrReturn
			, ReceiptOrInvoice, TransType) 
		SELECT r.TransID, r.EntryNum, r.ReceiptNum AS RcptInvcNum, r.Status, r.ReceiptDate AS RcptInvcDate
			, r.GlPeriod, r.FiscalYear, r.Qty, r.UnitCost
			, r.ExtCost
			, r.ExtCost * SIGN(h.TransType) AS ExtCostRcpt 
			, 0 AS ExtCostInvc, CASE WHEN (h.TransType >= 0) THEN '0_TRN' ELSE '9_RET' END AS TransOrReturn 
			, '0_RCPT' AS ReceiptOrInvoice, h.TransType 
		FROM #tmpTransDetailList t 
		INNER JOIN
		(SELECT ds.TransId,ds.EntryNum,ds.ReceiptNum,ds.ReceiptDate,ds.GlPeriod,ds.FiscalYear,ds.Status
		,SUM(ds.Qty) AS Qty,SUM(ds.UnitCost) AS UnitCost,SUM(ds.ExtCost) AS ExtCost
		FROM
		(	SELECT p.TransId,r.EntryNum,p.ReceiptNum,p.ReceiptDate,p.GlPeriod,p.FiscalYear,r.Status
					, SUM(r.QtyFilled) AS Qty
					, CASE WHEN SUM(r.QtyFilled)= 0 THEN 0 ELSE SUM(CASE WHEN @ReportCurrency= @BaseCurrency THEN r.QtyFilled * r.UnitCost 
							   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.QtyFilled * r.UnitCostFgn 
							   ELSE ROUND(etr.Rate * r.QtyFilled * r.UnitCostFgn,etr.CurrDecPlaces) END 
						  END)/ SUM(r.QtyFilled) END AS UnitCost
					, SUM(CASE WHEN @ReportCurrency= @BaseCurrency THEN r.ExtCost 
							   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.ExtCostFgn
							   ELSE ROUND(etr.Rate * r.ExtCostFgn,etr.CurrDecPlaces) END 
						  END)AS ExtCost					
			FROM dbo.tblPoTransReceipt p 
			INNER JOIN dbo.tblPoTransLotRcpt r ON p.TransId = r.TransId AND p.ReceiptNum = r.RcptNum			
			INNER JOIN dbo.tblPoTransHeader h on r.TransID =h.TransId
			LEFT JOIN 
			(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
				FROM [dbo].[tblSmExchangeRateTrans] e 
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
			) etr ON etr.[TransKey] = r.RcptHeaderID AND etr.[Source] = h.CurrencyID
			WHERE 
				 p.FiscalYear * 1000 + p.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
				AND (@ReceiptInvoiceNoFrom IS NULL OR p.ReceiptNum >= @ReceiptInvoiceNoFrom) 
				AND (@ReceiptInvoiceNoThru IS NULL OR p.ReceiptNum <= @ReceiptInvoiceNoThru)
				AND (@ReceiptInvoiceDateFrom IS NULL OR p.ReceiptDate >= @ReceiptInvoiceDateFrom) 
				AND (@ReceiptInvoiceDateThru IS NULL OR p.ReceiptDate <= @ReceiptInvoiceDateThru)	
				AND (@PrintPosted = 1 AND r.Status = 1) OR (@PrintUnposted = 1 AND r.Status = 0)	
			GROUP BY p.TransId,r.EntryNum,p.ReceiptNum,p.ReceiptDate,p.GlPeriod,p.FiscalYear,r.Status
			UNION ALL
			SELECT rs.TransId, rs.EntryNum, rs.ReceiptNum,rs.TransDate as [ReceiptDate], MONTH(rs.TransDate) AS GlPeriod, YEAR(rs.TransDate) AS FiscalYear, rs.Status,
			SUM(rs.Qty) AS Qty,d.UnitCost, SUM((d.UnitCost * rs.Qty))AS ExtCost
			FROM dbo.tblWmRcpt rs
			INNER JOIN dbo.tblPoTransHeader h ON rs.TransId = h.TransId 
			INNER JOIN dbo.tblPoTransDetail d ON rs.TransId = d.TransId AND rs.EntryNum = d.EntryNum 
			INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
			WHERE rs.[Status] = 1 AND rs.[Source] = 0 
			    AND YEAR(rs.TransDate) * 1000 + MONTH(rs.TransDate)  BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
			  	AND (@ReceiptInvoiceNoFrom IS NULL OR rs.ReceiptNum >= @ReceiptInvoiceNoFrom) 
				AND (@ReceiptInvoiceNoThru IS NULL OR rs.ReceiptNum <= @ReceiptInvoiceNoThru)
				AND (@ReceiptInvoiceDateFrom IS NULL OR rs.TransDate  >= @ReceiptInvoiceDateFrom) 
				AND (@ReceiptInvoiceDateThru IS NULL OR rs.TransDate  <= @ReceiptInvoiceDateThru)	
			GROUP BY rs.TransId, rs.EntryNum, rs.ReceiptNum,rs.TransDate, rs.Status,d.UnitCost,rs.Status
			) ds GROUP BY ds.TransID, ds.EntryNum,ds.ReceiptNum,ds.ReceiptDate,ds.GlPeriod,ds.FiscalYear,ds.Status,ds.Qty
		) r 
		ON t.TransId = r.TransId AND t.EntryNum = r.EntryNum
		INNER JOIN dbo.tblPoTransHeader h ON t.TransId = h.TransId		
	END

	IF @PrintInvoice = 1
	BEGIN
		INSERT INTO #tmpPoReceiptInvoiceRpt (TransId, EntryNum, RcptInvcNum, [Status], RcptInvcDate
			, GlPeriod, FiscalYear, Qty, UnitCost, ExtCost, ExtCostRcpt
			, ExtCostInvc
			, TransOrReturn
			, ReceiptOrInvoice, TransType) 
		SELECT i.TransID, i.EntryNum, i.InvoiceNum AS RcptInvcNum, i.Status, i.InvcDate AS RcptInvcDate
			, i.GlPeriod, i.FiscalYear, i.Qty, i.UnitCost, i.ExtCost, 0 AS ExtCostRcpt 
			, i.ExtCost * SIGN(h.TransType) AS ExtCostInvc 
			, CASE WHEN (h.TransType >= 0) THEN '0_TRN' ELSE '9_RET' END AS TransOrReturn 
			, '9_INVC' AS ReceiptOrInvoice, h.TransType 
		FROM #tmpTransDetailList t 
		INNER JOIN
		(	SELECT p.TransId,r.EntryNum,r.InvoiceNum,p.InvcDate,p.GlPeriod,p.FiscalYear,r.Status
						, SUM(r.Qty) AS Qty
						, CASE WHEN SUM(r.Qty) =0 THEN 0 ELSE SUM(CASE WHEN @ReportCurrency= @BaseCurrency THEN r.Qty * r.UnitCost 
								   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.Qty * r.UnitCostFgn 
								   ELSE ROUND(eti.Rate * r.Qty * r.UnitCostFgn,eti.CurrDecPlaces) END 
							  END)/SUM(r.Qty) END AS UnitCost
						, SUM(CASE WHEN @ReportCurrency= @BaseCurrency THEN r.ExtCost 
								   ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.ExtCostFgn 
								   ELSE ROUND(eti.Rate * r.ExtCostFgn,eti.CurrDecPlaces) END 
							  END) AS ExtCost
			FROM dbo.tblPoTransInvoiceTot p 
			INNER JOIN dbo.tblPoTransInvoice r ON p.TransId = r.TransId AND p.InvcNum = r.InvoiceNum  
			INNER JOIN dbo.tblPoTransHeader h on r.TransID = h.TransId 
			LEFT JOIN 
			(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
				FROM [dbo].[tblSmExchangeRateTrans] e 
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = @TransTypeInv AND  e.[Destination] = @ReportCurrency 
			) eti ON eti.[TransKey] = p.ID AND eti.[Source] = h.CurrencyID
			WHERE
			 p.FiscalYear * 1000 + p.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
				AND (@ReceiptInvoiceNoFrom IS NULL OR r.InvoiceNum >= @ReceiptInvoiceNoFrom) 
				AND (@ReceiptInvoiceNoThru IS NULL OR r.InvoiceNum <= @ReceiptInvoiceNoThru)
				AND (@ReceiptInvoiceDateFrom IS NULL OR p.InvcDate >= @ReceiptInvoiceDateFrom) 
				AND (@ReceiptInvoiceDateThru IS NULL OR p.InvcDate <= @ReceiptInvoiceDateThru)
				AND (@PrintPosted = 1 AND r.Status = 1) OR (@PrintUnposted = 1 AND r.Status = 0)
			GROUP BY p.TransId,r.EntryNum,r.InvoiceNum,p.InvcDate,p.GlPeriod,p.FiscalYear,r.Status
		) i 
		ON t.TransId = i.TransId AND t.EntryNum = i.EntryNum
		INNER JOIN dbo.tblPoTransHeader h ON t.TransId = h.TransId		 
	END

	 IF  EXISTS (SELECT * FROM #tmpPoReceiptInvoiceRpt t WHERE  t.UnitCost IS NULL OR t.ExtCost IS NULL )
	   	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END 

	SELECT CASE @SortBy 
			WHEN 0 THEN CAST(r.TransId AS nvarchar) 
			WHEN 1 THEN CAST(r.RcptInvcNum AS nvarchar) 
			WHEN 2 THEN CAST(r.Status  AS nvarchar) 
			WHEN 3 THEN CAST(r.TransOrReturn + r.ReceiptOrInvoice AS nvarchar) 
			WHEN 4 THEN CAST(RIGHT('0000' + LTRIM(STR(r.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(r.GlPeriod)), 3) AS nvarchar) 
			WHEN 5 THEN CAST(h.VendorId AS nvarchar) END AS GrpId1, 
		CASE @SortBy 
			WHEN 0 THEN CAST(h.VendorId AS nvarchar) 
			WHEN 1 THEN CAST(r.TransId AS nvarchar) 
			WHEN 2 THEN CAST(r.TransId AS nvarchar) 
			WHEN 3 THEN CAST(r.TransId AS nvarchar) 
			WHEN 4 THEN CAST(r.TransId AS nvarchar) 
			WHEN 5 THEN CAST(r.TransId AS nvarchar) END AS GrpId2, 
		h.BatchId, v.[Name], h.VendorId, d.ItemId, d.LocId AS LocIdDtl, d.Descr, d.Units, 
		r.TransId, r.EntryNum, r.RcptInvcNum, r.Status, r.RcptInvcDate, r.GlPeriod, r.FiscalYear,
		r.Qty, r.UnitCost, r.ExtCost, r.ExtCostRcpt, r.ExtCostInvc, r.TransOrReturn, r.ReceiptOrInvoice, r.TransType, ISNULL(@ReportCurrency,h.CurrencyID) AS CurrencyID
	FROM dbo.tblPoTransHeader h 
	INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorID
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
	INNER JOIN #tmpPoReceiptInvoiceRpt r ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum 
	WHERE r.FiscalYear * 1000 + r.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
		AND (@ReceiptInvoiceNoFrom IS NULL OR r.RcptInvcNum >= @ReceiptInvoiceNoFrom) 
		AND (@ReceiptInvoiceNoThru IS NULL OR r.RcptInvcNum <= @ReceiptInvoiceNoThru)
		AND (@ReceiptInvoiceDateFrom IS NULL OR r.RcptInvcDate >= @ReceiptInvoiceDateFrom) 
		AND (@ReceiptInvoiceDateThru IS NULL OR r.RcptInvcDate <= @ReceiptInvoiceDateThru)		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoReceiveInvoiceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoReceiveInvoiceReport_proc'
GO
