USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaTransPost_BuildGlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaTransPost_BuildGlLog_proc]
AS
BEGIN TRY

	SET NOCOUNT ON

	DECLARE @PostRun pPostRun, @FiscalYear smallInt,@FiscalPeriod smallint,
			@WksDate datetime, @CurrBase pCurrency, @CompID nvarchar(30), @TransType nvarchar(10)

    SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'	
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WksDate'
    SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
    SELECT @CompID = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'CompID'
	SELECT @TransType  = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'

	IF  @PostRun IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL OR @FiscalYear IS NULL OR @WksDate IS NULL OR @CurrBase IS NULL
		OR @CompID IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Expense entry
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],  
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
		, CurrencyId,TransDate,PostDate,LinkId, LinkIdSub, LinkIdSubLine)  

	SELECT @PostRun,@TransType,@PostRun,@PostRun,@CompID,h.GLAcctExpense, @FiscalYear,@FiscalPeriod, 1
		,SUBSTRING(d.[Description],1,30), h.DepartmentId, 'PA'
		, 0 , SUM(Amount) , 0 ,SUM(Amount) 
		,@CurrBase,MIN(TransDate),@WksDate,NULL,NULL,NULL
	FROM dbo.tblPaAccrualHist h
	LEFT JOIN 
	(Select DepartmentId,Code,[Description] FROM dbo.tblPaDeptDtl WHERE [Type] =3 ) d  
	ON h.DepartmentId = d.DepartmentId AND h.EarningCode = d.Code 
	WHERE  h.PostRun = @PostRun AND h.Amount >0
	GROUP BY h.GLAcctExpense,h.EarningCode,h.DepartmentId,d.[Description]

	--Negative Expense amounts
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],  
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
		, CurrencyId,TransDate,PostDate,LinkId, LinkIdSub, LinkIdSubLine)  

	SELECT @PostRun,@TransType,@PostRun,@PostRun,@CompID,h.GLAcctExpense, @FiscalYear,@FiscalPeriod, 1
		,SUBSTRING(d.[Description],1,30), h.DepartmentId, 'PA'
		,ABS(SUM(Amount)) , 0 ,ABS(SUM(Amount))	, 0 
		,@CurrBase,MIN(TransDate),@WksDate,NULL,NULL,NULL
	FROM dbo.tblPaAccrualHist h
	LEFT JOIN 
	(Select DepartmentId,Code,[Description] FROM dbo.tblPaDeptDtl WHERE [Type] =3 ) d  
	ON h.DepartmentId = d.DepartmentId AND h.EarningCode = d.Code 
	WHERE  h.PostRun = @PostRun AND h.Amount <0
	GROUP BY h.GLAcctExpense,h.EarningCode,h.DepartmentId,d.[Description]
		
	--Accrual Entry		
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],  
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
		, CurrencyId,TransDate,PostDate,LinkId, LinkIdSub, LinkIdSubLine)  
	
	SELECT @PostRun,@TransType,@PostRun,@PostRun,@CompID,h.GLAcctAccrual, @FiscalYear,@FiscalPeriod, 1 ,
		MIN(SUBSTRING(d.[Description],1,30)),MIN(SUBSTRING((h.DepartmentId + '-Accr'),1,15)), 'PA'
		, SUM(Amount) , 0 , SUM(Amount) , 0 
		,@CurrBase,MIN(TransDate),@WksDate,NULL,NULL,'-1'	
	FROM dbo.tblPaAccrualHist h
	LEFT JOIN (Select DepartmentId,[Description] FROM dbo.tblPaDeptDtl WHERE [Type] =7 AND Code = 'ACW' ) d 
		ON h.DepartmentId = d.DepartmentId 
	WHERE  h.PostRun = @PostRun AND h.Amount >0
	GROUP BY h.DepartmentId,h.GLAcctAccrual
	

	-- Negative Accrual amounts
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],  
		[Description],Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase  
		, CurrencyId,TransDate,PostDate,LinkId, LinkIdSub, LinkIdSubLine)  
	
	SELECT @PostRun,@TransType,@PostRun,@PostRun,@CompID,h.GLAcctAccrual, @FiscalYear,@FiscalPeriod, 1 ,
		MIN(SUBSTRING(d.[Description],1,30)),MIN(SUBSTRING((h.DepartmentId + '-Accr'),1,15)), 'PA'
		, 0 , ABS(SUM(Amount)) , 0 , ABS(SUM(Amount))
		,@CurrBase,MIN(TransDate),@WksDate,NULL,NULL,'-1'	
	FROM dbo.tblPaAccrualHist h
	LEFT JOIN (Select DepartmentId,[Description] FROM dbo.tblPaDeptDtl WHERE [Type] =7 AND Code = 'ACW' ) d 
		ON h.DepartmentId = d.DepartmentId 
	WHERE  h.PostRun = @PostRun AND h.Amount <0
	GROUP BY h.DepartmentId,h.GLAcctAccrual
	

	IF EXISTS
	(	
		SELECT GlAccount FROM #DetailPostLog d
		INNER JOIN dbo.tblGlAcctHdr a ON a.AcctId = d.GlAccount
		WHERE a.CurrencyID <> @CurrBase
	)
	BEGIN
		INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,Source,Destination,Rate)
		SELECT @TransType,@PostRun,ed.Source,ed.Destination, ed.[Rate] AS [ExchRate]
		FROM dbo.tblSmExchangeRate (NOLOCK) eh 	
		INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
		where eh.ID = (SELECT TOP 1 ID FROM dbo.tblSmExchangeRate WHERE [Type] = 0 and EffectiveDate <= @WksDate ORDER BY EffectiveDate DESC)
	END


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaTransPost_BuildGlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaTransPost_BuildGlLog_proc'
GO
