USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorDetailHistoryReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorDetailHistoryReport_proc]
@FiscalPeriodFrom smallint = 1,
	@FiscalPeriodThru smallint = 12,
	@FiscalYearFrom smallint = 1900,
	@FiscalYearThru smallint = 2010,
	@PrintAllInBase bit = 1,
	@ReportCurrency [nvarchar](6) = 'USD',
	@SortBy smallint,
	@Print smallint    
AS
BEGIN TRY

	CREATE TABLE #tmpDtl 
	   ( 
			PostRun [nvarchar](14) NOT NULL, 
			TransId [nvarchar](8) NOT NULL, 
			InvoiceNum [nvarchar](15) NULL, 
			EntryNum int, 
			WhseId [nvarchar](10) NULL, 
			PartId [nvarchar](24) NULL, 
			[Desc] [nvarchar](255) NULL, 
			PhaseId nvarchar(255), 
			CostType nvarchar(255), 
			AddnlDesc nvarchar(max),
			Qty [decimal](28,10) NOT NULL default 0, 
			QtyBase [decimal](28,10) NOT NULL default 0, 
			Units [nvarchar](5) NULL, 
			UnitsBase [nvarchar](5) NULL, 
			UnitCost [decimal](28,10) NOT NULL default 0, 
			UnitCostFgn [decimal](28,10) NOT NULL default 0,
			ExtCost [decimal](28,10) NOT NULL default 0,
			ExtCostFgn [decimal](28,10) NOT NULL default 0,
			GlAcct [nvarchar](255) NULL,
			PrintLineType bit,
			LottedYN bit, 
			PartType tinyint,
			LineType int,
			[Counter] int 
		)   
	   
    INSERT INTO #tmpDtl ( PostRun, TransId, InvoiceNum, EntryNum, WhseId, PartId, [Desc], PhaseId, 
		CostType, AddnlDesc, Qty, QtyBase, Units, UnitsBase, UnitCost, UnitCostFgn, ExtCost, 
		ExtCostFgn,	GlAcct,	PrintLineType,	LottedYN, PartType,LineType,[Counter] )   
			SELECT d.PostRun, d.TransId, d.InvoiceNum -- get initial detail line item (omit extcost and acctid if allocated)
				, d.EntryNum, d.WhseId, d.PartId, d.[Desc], d.PhaseId, d.CostType, d.AddnlDesc
				, d.Qty, d.QtyBase, d.Units, d.UnitsBase, d.UnitCost, d.UnitCostFgn
				, CASE WHEN a.EntryNum IS NULL THEN d.ExtCost ELSE 0 END AS ExtCost
				, CASE WHEN a.EntryNum IS NULL THEN d.ExtCostFgn ELSE 0 END AS ExtCostFgn
				, CASE WHEN a.EntryNum IS NULL THEN d.GlAcct ELSE NULL END AS GlAcct
				, CASE WHEN a.EntryNum IS NULL THEN 0 ELSE 1 END AS PrintLineType
				, d.LottedYN, d.PartType ,0,-1
			FROM dbo.tblApHistHeader h 
				INNER JOIN dbo.tblApHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum 
				INNER JOIN #tmpVendorList tmp ON  tmp.VendorId = h.VendorId			
					AND tmp.PostRun = h.PostRun AND tmp.TransID = h.TransId AND tmp.InvoiceNum = h.InvoiceNum 
					AND tmp.EntryNum = d.EntryNum
				LEFT JOIN ( SELECT PostRun, TransId, InvoiceNum, EntryNum
						    FROM dbo.tblApHistAlloc GROUP BY PostRun, TransId, InvoiceNum, EntryNum 
						  ) AS a ON d.PostRun = a.PostRun AND d.TransId = a.TransId 
								AND d.InvoiceNum = a.InvoiceNum AND d.EntryNum = a.EntryNum
			WHERE tmp.LineType = 0

			UNION ALL -- add allocation detail records

			SELECT DISTINCT d.PostRun, d.TransId, d.InvoiceNum, d.EntryNum, d.WhseId, d.PartId, d.[Desc], d.PhaseId, d.CostType, d.AddnlDesc
				, 0.0 Qty, 0.0 QtyBase, NULL, NULL, 0.0, 0.0, a.Amount AS ExtCost
				, a.AmountFgn AS ExtCostFgn, a.AcctId AS GlAcct, 2 PrintLineType, d.LottedYN, d.PartType ,1,a.[Counter]
			FROM dbo.tblApHistHeader h 
				INNER JOIN dbo.tblApHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum
				INNER JOIN dbo.tblApHistAlloc a ON d.PostRun = a.PostRun AND d.TransId = a.TransId AND d.InvoiceNum = a.InvoiceNum 
					AND d.EntryNum = a.EntryNum
				INNER JOIN #tmpVendorList tmp ON  tmp.VendorId = h.VendorId			
					AND tmp.PostRun = h.PostRun AND tmp.TransID = h.TransId AND tmp.InvoiceNum = h.InvoiceNum 
					AND tmp.EntryNum = d.EntryNum  AND tmp.[Counter] = a.[Counter] 
			WHERE tmp.LineType = 1
				
				
			
	SELECT *, 
		CASE @SortBy
			WHEN 0 THEN VendorId
			WHEN 1 THEN CONVERT(NVARCHAR,InvoiceNum)
			WHEN 2 THEN CONVERT(NVARCHAR,PONum)
			WHEN 3 THEN PartId
			WHEN 4 THEN WhseId
			WHEN 5 THEN GlAcct
			WHEN 6 THEN CONVERT(NVARCHAR,FiscalYearPeriod)
		END GrpId,
		
		-- /****** SortBy ******/
		CASE @SortBy 
			WHEN 0 THEN VendorId
			WHEN 1 THEN CONVERT(NVARCHAR,InvoiceNum)
			WHEN 2 THEN CONVERT(NVARCHAR,PONum)
			WHEN 3 THEN PartId
			WHEN 4 THEN WhseId
			WHEN 5 THEN GlAcct
			WHEN 6 THEN CONVERT(NVARCHAR,FiscalYearPeriod) 
		END SortBy,

		-- /****** SortBy1 ******/
		CASE WHEN @SortBy = 4 THEN PartId 
			 WHEN @SortBy = 1 OR @SortBy = 5 OR @SortBy = 6 OR (@Print = 0 AND (@SortBy = 2 OR @SortBy = 3)) THEN VendorId 
			 ELSE CONVERT(NVARCHAR,InvoiceDate,101) 
		END SortBy1,

		-- /****** SortBy2 ******/
		CASE WHEN @SortBy = 4 THEN VendorId 
			 WHEN @SortBy = 5 OR @SortBy = 6 THEN CONVERT(NVARCHAR,InvoiceNum) 
			 WHEN @SortBy = 1 OR (@Print = 0 AND (@SortBy = 2 OR @SortBy = 3)) THEN CONVERT(NVARCHAR,InvoiceDate,101)
			 ELSE CONVERT(NVARCHAR,FiscalYearPeriod) 
		END SortBy2,

		-- /****** SortBy3 ******/
		CASE WHEN @SortBy = 4 THEN CONVERT(NVARCHAR,InvoiceDate,101) 
			 WHEN @SortBy = 1 OR (@Print = 0 AND (@SortBy = 2 OR @SortBy = 3)) THEN CONVERT(NVARCHAR,FiscalYearPeriod) 
			 ELSE PartId 
		END SortBy3,

		-- /****** SortBy4 ******/
		CASE WHEN @SortBy = 4 THEN CONVERT(NVARCHAR,FiscalYearPeriod) 
			 WHEN @SortBy = 1 OR (@Print = 0 AND @SortBy = 2) THEN PartId 
			 ELSE CONVERT(NVARCHAR,InvoiceNum) 
		END SortBy4,

		-- /****** SortBy5 ******/
		CASE WHEN @SortBy = 4 OR (@Print = 0 AND @SortBy = 2) THEN InvoiceNum ELSE PONum END SortBy5,
		
		-- /****** SortBy6 ******/
		CASE WHEN @SortBy = 4 THEN WhseId END SortBy6

		 FROM(SELECT h.PostRun, h.TransId, dtl.EntryNum, h.VendorId, v.[Name], dtl.WhseId, h.InvoiceNum
		, h.InvoiceDate, h.PONum, h.GLPeriod, h.FiscalYear, dtl.PartId, dtl.[Desc] AS Descr, dtl.GlAcct
		, CASE WHEN dtl.Qty IS NULL THEN '' ELSE CAST((dtl.Qty * SIGN(TransType)) AS float) END AS Qty
		, CASE WHEN dtl.QtyBase IS NULL THEN '' ELSE CAST((dtl.QtyBase * SIGN(TransType)) AS float) END AS QtyBase
		, ISNULL(dtl.Units, '') AS Units, ISNULL(dtl.UnitsBase, '') AS UnitsBase, dtl.AddnlDesc
		, CAST(CASE WHEN @PrintAllInBase = 1 THEN (UnitCost * SIGN(TransType)) ELSE (UnitCostFgn * SIGN(TransType)) END AS float) AS UnitCost
		, CAST(CASE WHEN (QtyBase = 0 OR Qty = 0) THEN 0 ELSE (CASE WHEN @PrintAllInBase = 1 THEN (UnitCost * SIGN(TransType) / (QtyBase / Qty)) 
				ELSE ((UnitCostFgn * SIGN(TransType)) / (QtyBase / Qty)) END) END AS float) AS UnitCostBase
		, CAST(CASE WHEN @PrintAllInBase = 1 THEN (ExtCost * SIGN(TransType)) ELSE (ExtCostFgn * SIGN(TransType)) END AS float) AS ExtCost
		, h.CurrencyId, h.FiscalYear * 100 + h.GLPeriod AS FiscalYearPeriod, dtl.PrintLineType, dtl.LottedYN, dtl.PartType,dtl.LineType,dtl.[Counter]
	FROM dbo.tblApHistHeader AS h 
		INNER JOIN #tmpDtl dtl ON h.PostRun = dtl.PostRun AND h.TransID = dtl.TransID AND h.InvoiceNum = dtl.InvoiceNum 
		LEFT JOIN dbo.tblApVendor v ON h.VendorID = v.VendorID 	
	WHERE h.FiscalYear * 1000 + h.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
		AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
		AND (@PrintAllInBase = 1 OR h.CurrencyId = @ReportCurrency)
		AND dtl.EntryNum >= 0)ds 
		
	-- Lot
	SELECT hl.PostRun, hl.TransId, hl.InvoiceNum, hl.EntryNum, LotNum, QtyFilled
	, CASE WHEN @PrintAllInBase = 1 THEN CostUnit ELSE CostUnitFgn END AS UnitCost
	, CASE WHEN @PrintAllInBase = 1 THEN CostUnit ELSE CostUnitFgn END * QtyFilled AS ExtCost,dtl.LineType,dtl.[Counter]
	FROM dbo.tblApHistLot hl
	INNER JOIN tblApHistHeader h ON h.PostRun = hl.PostRun AND h.TransID = hl.TransID AND h.InvoiceNum = hl.InvoiceNum 
	INNER JOIN #tmpDtl dtl ON h.PostRun = dtl.PostRun AND h.TransID = dtl.TransID AND h.InvoiceNum = dtl.InvoiceNum AND hl.EntryNum = dtl.EntryNum
	--WHERE EntryNum = 1
	WHERE h.FiscalYear * 1000 + h.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
		AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
		AND (@PrintAllInBase = 1 OR h.CurrencyId = @ReportCurrency)
		AND dtl.EntryNum >= 0 AND dtl.LineType = 0
	ORDER BY LotNum	
	
	-- Serial
	SELECT DISTINCT hs.PostRun, hs.TransId, hs.InvoiceNum, hs.EntryNum 
	, CASE WHEN LotNum = '################' THEN NULL ELSE LotNum END AS LotNum, SerNum
	, CASE WHEN @PrintAllInBase = 1 THEN CostUnit ELSE CostUnitFgn END AS UnitCost
	, CASE WHEN @PrintAllInBase = 1 THEN PriceUnit ELSE PriceUnitFgn END AS UnitPrice,dtl.LineType,dtl.[Counter]
	FROM dbo.tblApHistSer hs
	INNER JOIN tblApHistHeader h ON h.PostRun = hs.PostRun AND h.TransID = hs.TransID AND h.InvoiceNum = hs.InvoiceNum 
	INNER JOIN #tmpDtl dtl ON h.PostRun = dtl.PostRun AND h.TransID = dtl.TransID AND h.InvoiceNum = dtl.InvoiceNum AND hs.EntryNum = dtl.EntryNum
	--WHERE EntryNum = 1
	WHERE h.FiscalYear * 1000 + h.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
		AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
		AND (@PrintAllInBase = 1 OR h.CurrencyId = @ReportCurrency)
		AND dtl.EntryNum >= 0  AND dtl.LineType = 0
	--ORDER BY SerNum
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorDetailHistoryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorDetailHistoryReport_proc'
GO
