USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTransactionJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTransactionJournal_proc]
@ReportCurrency [nvarchar](6) = Null,
@BaseCurrency [nvarchar](6) = 'USD',
@TransType nvarchar(10),
@TransTypePmt nvarchar(10),
@PrintPurchasesJournal bit = 1,
@PrintDetail bit = 1,
@SortBy tinyint = 0 --0, Transaction; 1, Vendor ID; 2, Year/GL Pd/Account;3, Item ID;4,Batch Code;

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpPurchases
	(
		TransId [nvarchar](8) NOT NULL
	)

	INSERT INTO #tmpPurchases (TransId) 
	SELECT t.TransId 
	FROM #tmpTransactionList t INNER JOIN dbo.tblApTransHeader h ON t.TransId = h.TransId 
		INNER JOIN #tmpVendorList v ON h.VendorId = v.VendorId 
	WHERE (h.TransType = CASE WHEN @PrintPurchasesJournal = 0 THEN -1 ELSE 1 END) 
	
	CREATE TABLE #tmp 
	(
		RecType int null, 
		GrpId1 nvarchar (4000) null,
		GrpId2 nvarchar (4000) Null,
		TransId [nvarchar](8) NOT NULL,
		BatchId [nvarchar](6) NULL,
		VendorId [nvarchar](10) NULL,
		InvoiceNum [nvarchar](15) NULL,
		InvoiceDate datetime null,
		PONum nvarchar(25) null,
		DistCode [nvarchar](6) NULL, 
		DueDate1 datetime null,
		DueDate2 datetime null,
		DueDate3 datetime null,
		CurrencyID [nvarchar](6) NOT NULL,
		PmtAmt1 [decimal](28,10) NULL,
		PmtAmt2 [decimal](28,10) NULL,
		PmtAmt3 [decimal](28,10) NULL,
		Subtotal [decimal](28,10) NULL,
		SalesTax [decimal](28,10) NULL,
		Freight [decimal](28,10) NULL, 
		Misc [decimal](28,10) NULL,
		CashDisc [decimal](28,10) NULL,
		PrepaidAmt [decimal](28,10) NULL,
		CheckNum [nvarchar](10) NULL,
		CheckDate datetime null,
		DiscDueDate datetime null,
		GLPeriod smallint not null,
		FiscalYear smallint not null,
		Ten99InvoiceYN  bit null,
		TaxAdjAmt [decimal](28,10) NULL,
		Name NVarchar(255) null,
		EntryNum int  null,
		PartId [nvarchar](24) NULL,
		PartType tinyint null,
		WhseId [nvarchar](10) NULL,
		[Desc] [nvarchar](255) NULL,
		GLAcct [nvarchar](255)  null,
		WIPAcct [nvarchar](255)  null,
		Qty [decimal](28,10) NULL,
		Units [nvarchar](5) NULL,
		UnitCost [decimal](28,10) NULL,
		ExtCost [decimal](28,10) NULL,
		GLDesc nvarchar(30) null,
		LottedYN bit null,
		CustomerID [nvarchar](10) NULL,
		JobId nvarchar(30) null,
		PhaseId nvarchar(30) null,
		TaskId nvarchar(30) null,
		AllocationsYn bit null,
		PmtCurrencyID [nvarchar](6) NULL,
		HasDetail bit null 
	)

	CREATE TABLE #tmppmt   
 (  
  TransId [nvarchar](8) NOT NULL,  
  PrepaidAmt [decimal](28,10) NULL  
 )  
 INSERT INTO #tmppmt (TransId,PrepaidAmt)  
   
 SELECT l.TransID  
     ,CASE WHEN p.CurrencyId = p.PmtCurrencyId  THEN p.PrepaidAmtFgn 
           WHEN p.CurrencyId = @BaseCurrency THEN p.PrepaidAmt 
		   ELSE ROUND((ISNULL(p.PrepaidAmtFgn, 0)) * pmtet.Rate, pmtet.CurrDecPlaces) END
 
  FROM #tmpPurchases l   
  INNER JOIN dbo.tblApTransHeader p ON l.TransId = p.TransId
  
   LEFT JOIN (SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces  
                FROM [dbo].[tblSmExchangeRateTrans] e  
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
                WHERE e.[TransType] = @TransTypePmt --AND e.[Destination] = @ReportCurrency   
            ) pmtet ON pmtet.TransKey =p.TransId AND pmtet.[Source] = p.PmtCurrencyId  AND pmtet.Destination = p.CurrencyId
 WHERE p.PrepaidAmtFgn  <> 0

	IF EXISTS (SELECT * FROM #tmppmt WHERE  PrepaidAmt IS NULL)  
  
	BEGIN  
		THROW 90027, N'Invalid exchange information.', 1  
	END  

	INSERT INTO #tmp (RecType,GrpId1,GrpId2, TransId,BatchId,VendorId,InvoiceNum,
					InvoiceDate,PONum, DistCode,DueDate1, DueDate2,DueDate3
					, CurrencyID,PmtAmt1,PmtAmt2,PmtAmt3,Subtotal,SalesTax,Freight,Misc
					, CashDisc,PrepaidAmt,CheckNum, CheckDate, DiscDueDate
					, GLPeriod,FiscalYear,Ten99InvoiceYN,TaxAdjAmt,[Name]
					, EntryNum,PartId, PartType, d.WhseId, [Desc], GLAcct,WIPAcct
					, Qty,Units,UnitCost,ExtCost,GLDesc,LottedYN,CustomerID,JobId,PhaseId,TaskId,AllocationsYn,PmtCurrencyID, HasDetail)
	/* TABLE THAT CONTAIN THE DETAIL */
	SELECT 0 AS RecType, 
		CASE @SortBy 
			WHEN 0 THEN h.TransId 
			WHEN 1 THEN h.VendorId 
			WHEN 2 THEN RIGHT('0000' + LTRIM(STR(h.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(h.GlPeriod)), 3) + ISNULL(d.GLAcct, '')
			WHEN 3 THEN ISNULL(d.PartId,'') 
			WHEN 4 THEN h.BatchId END AS GrpId1, 
		CASE @SortBy 
			WHEN 0 THEN h.BatchId 
			WHEN 1 THEN h.TransId 
			WHEN 2 THEN h.TransId 
			WHEN 3 THEN h.TransId 
			WHEN 4 THEN h.TransId END AS GrpId2,
		h.TransId, h.BatchId, h.VendorId, h.InvoiceNum, h.InvoiceDate,
		h.PONum, h.DistCode, h.DueDate1, h.DueDate2, h.DueDate3,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		,0 AS PmtAmt1, 0 AS PmtAmt2, 0 AS PmtAmt3, 0 AS Subtotal, 0 AS SalesTax,
		0 AS Freight, 0 AS Misc, 0 AS CashDisc, 0 AS PrepaidAmt,
		h.CheckNum, h.CheckDate, h.DiscDueDate, h.GLPeriod, h.FiscalYear,
		h.Ten99InvoiceYN, 0 AS TaxAdjAmt, v.[Name], d.EntryNum,
		d.PartID, d.PartType, d.WhseId, d.[Desc], 
		d.GLAcct, 
		i.GLAcctWIP AS WIPAcct, --this is actual account that is used in posting for job cost project
		d.Qty, d.Units

		, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.UnitCostFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN d.UnitCost
	               ELSE ROUND(d.UnitCostFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCost 
	     
		 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.ExtCostFgn
		        WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN d.ExtCost
	            ELSE ROUND(d.ExtCostFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost

		,d.GLDesc, d.LottedYN, p.CustId AS CustomerID, p.ProjectName AS JobId, e.PhaseId, e.TaskId,
		CASE WHEN a.TransId IS NULL THEN 0 ELSE 1 END AS AllocationsYn, h.PmtCurrencyId, 1 [HasDetail]
	FROM dbo.tblApVendor v 
		INNER JOIN dbo.tblApTransHeader h ON v.VendorID = h.VendorId 
		INNER JOIN #tmpPurchases t ON h.TransId = t.TransId 
		INNER JOIN dbo.tblApTransDetail d ON h.TransId = d.TransID
		LEFT JOIN
		(	SELECT d.TransId, d.EntryNum
			FROM #tmpPurchases t INNER JOIN dbo.tblApTransAlloc h ON t.TransId = h.TransId 
			INNER JOIN dbo.tblApTransAllocDtl d ON h.TransId = d.TransId AND h.EntryNum = d.EntryNum 
			GROUP BY d.TransId, d.EntryNum
		) a ON d.TransId = a.TransId AND d.EntryNum = a.EntryNum 
		LEFT JOIN dbo.tblApTransPc j ON h.TransId = j.TransId AND d.EntryNum = j.EntryNum 
		LEFT JOIN dbo.tblPcProjectDetail e ON j.ProjectDetailId = e.Id 
		LEFT JOIN dbo.tblPcProject p ON e.ProjectId = p.Id 
		LEFT JOIN dbo.tblPcActivity i ON j.ActivityId = i.Id
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]
	
	INSERT INTO #tmp (RecType,GrpId1,GrpId2, TransId,BatchId,VendorId,InvoiceNum,
					InvoiceDate,PONum, DistCode,DueDate1, DueDate2,DueDate3
					, CurrencyID,PmtAmt1,PmtAmt2,PmtAmt3,Subtotal,SalesTax,Freight,Misc
					, CashDisc,PrepaidAmt,CheckNum, CheckDate, DiscDueDate
					, GLPeriod,FiscalYear,Ten99InvoiceYN,TaxAdjAmt,[Name]
					, EntryNum,PartId, PartType, d.WhseId, [Desc], GLAcct,WIPAcct
					, Qty,Units,UnitCost,ExtCost,GLDesc,LottedYN,CustomerID,JobId,PhaseId,TaskId,AllocationsYn,PmtCurrencyID, HasDetail)
	SELECT 1 AS RecType, 
		CASE @SortBy 
			WHEN 0 THEN h.TransId 
			WHEN 1 THEN h.VendorId 
			WHEN 2 THEN NULL
			WHEN 3 THEN NULL 
			WHEN 4 THEN h.BatchId END AS GrpId1, 
		CASE @SortBy 
			WHEN 0 THEN h.BatchId 
			WHEN 1 THEN h.TransId 
			WHEN 2 THEN h.TransId 
			WHEN 3 THEN h.TransId 
			WHEN 4 THEN h.TransId END AS GrpId2,
		h.TransId, h.BatchId, h.VendorId, h.InvoiceNum, h.InvoiceDate,
		h.PONum, h.DistCode, h.DueDate1, h.DueDate2, h.DueDate3
		,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		
		, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.PmtAmt1Fgn 
		       WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.PmtAmt1
	           Else ROUND(h.PmtAmt1Fgn  * et.Rate, et.CurrDecPlaces) End  AS PmtAmt1 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.PmtAmt2Fgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.PmtAmt2
	          Else ROUND(h.PmtAmt2Fgn  * et.Rate, et.CurrDecPlaces) End  AS PmtAmt2 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.PmtAmt3Fgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.PmtAmt3
	          Else ROUND(h.PmtAmt3Fgn  * et.Rate, et.CurrDecPlaces) End  AS PmtAmt3 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.SubtotalFgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.Subtotal
	          Else ROUND(h.SubtotalFgn  * et.Rate, et.CurrDecPlaces) End  AS Subtotal 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.SalesTaxFgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.SalesTax
	          Else ROUND(h.SalesTaxFgn  * et.Rate, et.CurrDecPlaces) End  AS SalesTax 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.FreightFgn 
		 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.Freight
	     Else ROUND(h.FreightFgn  * et.Rate, et.CurrDecPlaces) End  AS Freight 
		,
		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.MiscFgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.Misc
	          Else ROUND(h.MiscFgn  * et.Rate, et.CurrDecPlaces) End  AS Misc 
		,
 		 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.CashDiscFgn 
		      WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.CashDisc
	          Else ROUND(h.CashDiscFgn  * et.Rate, et.CurrDecPlaces) End  AS CashDisc 
		,
		 CASE 
			  WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(p.PrepaidAmt,0)  
              WHEN ISNULL(@ReportCurrency, h.PmtCurrencyId) = h.PmtCurrencyId THEN ISNULL(h.PrepaidAmtFgn, 0)
              WHEN ISNULL(@ReportCurrency,@BaseCurrency) = @BaseCurrency THEN ISNULL(h.PrepaidAmt, 0) 
              ELSE ISNULL(ROUND(h.PrepaidAmtFgn  * etp.Rate, etp.CurrDecPlaces), 0) END  AS PrepaidAmt 

		,h.CheckNum, h.CheckDate, h.DiscDueDate, h.GLPeriod, h.FiscalYear, h.Ten99InvoiceYN,
		
		CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  h.TaxAdjAmtFgn 
		       WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN h.TaxAdjAmt
	           Else ROUND(h.TaxAdjAmtFgn  * et.Rate, et.CurrDecPlaces) End  AS TaxAdjAmt 

		,v.[Name] AS [Name], 0 AS EntryNum, NULL AS PartID, 0 AS PartType, NULL AS WhseId,
		NULL AS [Desc], NULL AS GLAcct, NULL AS WipAcct, NULL AS Qty, NULL AS Units,
		NULL AS UnitCost, NULL AS ExtCost, NULL AS GLDesc, 0 AS LottedYN,
		NULL AS CustomerID, NULL AS JobId, NULL AS PhaseId, NULL AS TaskId, 0 AS AllocationsYn, h.PmtCurrencyId, ISNULL(tmp.HasDetail,0)
	FROM dbo.tblApTransHeader h
		INNER JOIN tblApVendor v ON h.VendorId = v.VendorID 
		INNER JOIN #tmpPurchases t ON h.TransId = t.TransId
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]

		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransTypePmt AND e.[Destination] = @ReportCurrency 
            ) etp ON etp.[TransKey] = h.TransId AND etp.[Source] = h.PmtCurrencyId
		Left JOIN #tmppmt p ON h.TransId = p.TransId
		OUTER APPLY
		(
			SELECT Distinct CASE WHEN tmp.TransId IS NULL THEN 0 ELSE 1 END [HasDetail]
			FROM #tmp tmp WHERE tmp.RecType = 0 AND tmp.TransId = h.TransId
		) tmp

	IF EXISTS (SELECT * FROM #tmp WHERE RecType = 0 AND(UnitCost IS NULL OR ExtCost IS NULL OR
				PmtAmt1 IS NULL OR PmtAmt2 IS NULL  OR PmtAmt3 IS NULL OR  Subtotal IS NULL OR SalesTax IS NULL OR
			 Freight IS NULL OR Misc IS NULL  OR CashDisc IS NULL  OR TaxAdjAmt IS NULL))
   
   		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END

	/* TABLE THAT CONTAINS TOTALS */
	SELECT TransId, EntryNum, 
		ExtCostSubTotal,
		FreightSubTotal,
		MiscSubTotal,
		SalesTaxSubTotal,
		PmtAmt1SubTotal,
		PmtAmt2SubTotal,
		PmtAmt3SubTotal,
		PrepaidAmtSubTotal,
		CashDiscSubTotal,
		SubTotal2,
		ExtCostSubTotal2


		INTO #tmpTotalDetail 
		FROM( 
			SELECT TransId, EntryNum, 
			ExtCost AS ExtCostSubTotal,
			Freight AS FreightSubTotal,
			Misc AS MiscSubTotal,
			SalesTax + TaxAdjAmt AS SalesTaxSubTotal,
			PmtAmt1 AS PmtAmt1SubTotal,
			PmtAmt2 AS PmtAmt2SubTotal,
			PmtAmt3 AS PmtAmt3SubTotal,
			PrepaidAmt AS PrepaidAmtSubTotal,
			CashDisc AS CashDiscSubTotal,
			CASE WHEN Subtotal IS NULL THEN 0 ELSE Subtotal + SalesTax + TaxAdjAmt + Freight + Misc END AS SubTotal2,
			CASE WHEN @SortBy = 4 THEN PrepaidAmt ELSE ExtCost END AS ExtCostSubTotal2
	FROM #tmp
	GROUP BY TransId, EntryNum, ExtCost, Freight, Misc, SalesTax, TaxAdjAmt, PmtAmt1, PmtAmt2, PmtAmt3, PrepaidAmt, CashDisc, Subtotal) dsTotal

	/* TABLE THAT SHOWS ALL DATA IN REPORT */
	SELECT d.*, ExtCostSubTotal,
		FreightSubTotal,
		MiscSubTotal,
		SalesTaxSubTotal,
		PmtAmt1SubTotal,
		PmtAmt2SubTotal,
		PmtAmt3SubTotal,
		PrepaidAmtSubTotal,
		CashDiscSubTotal,
		SubTotal2,
		ExtCostSubTotal2 FROM #tmp d
	INNER JOIN #tmpTotalDetail t ON t.TransId = d.TransId and t.EntryNum = d.EntryNum
	ORDER BY RecType

	IF @PrintDetail = 1 
	BEGIN

	CREATE TABLE #tmpDetail 
		(
			TransId [nvarchar](8) NOT NULL,
			EntryNum int null,
			AcctId [nvarchar](255) null, 
			Amount [decimal](28,10) NULL
		)

		INSERT INTO #tmpDetail (TransId,EntryNum,AcctId,Amount)
		
		SELECT h.TransId, h.EntryNum, AcctId 
		,CASE WHEN ISNULL(@ReportCurrency, hd.CurrencyID) = hd.CurrencyID THEN  AmountFgn 
		 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN Amount
	     Else ROUND(AmountFgn  * et.Rate, et.CurrDecPlaces) End  AS Amount
		FROM #tmpPurchases t
		INNER JOIN dbo.tblApTransAlloc h ON t.TransId = h.TransId
		INNER JOIN tblApTransHeader hd ON h.TransId = hd.TransId 
		INNER JOIN dbo.tblApTransAllocDtl d ON h.TransId = d.TransId AND h.EntryNum = d.EntryNum 
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
              FROM [dbo].[tblSmExchangeRateTrans] e
              INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
              WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
          ) et ON et.[TransKey] = h.TransId AND et.[Source] = hd.[CurrencyID]
		ORDER BY AcctId

		IF EXISTS (SELECT * FROM #tmpDetail WHERE  Amount IS NULL )
		   
   				BEGIN
					THROW 90027, N'Invalid exchange information.', 1
				END
				
		SELECT * FROM #tmpDetail 

		--lot
		CREATE TABLE #tmpLot
		(
			TransId [nvarchar](8) NOT NULL,
			EntryNum int null,
			LotNum [nvarchar](16) NULL, 
			QtyFilled [decimal](28,10) NULL,
			CostUnit [decimal](28,10) NULL
		)
		INSERT INTO #tmpLot (TransId,EntryNum,LotNum,QtyFilled,CostUnit)
		
		SELECT l.TransId, l.EntryNum, l.LotNum, l.QtyFilled 
	    ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  l.CostUnitFgn 
		 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN l.CostUnit
	     Else ROUND(l.CostUnitFgn  * et.Rate, et.CurrDecPlaces) End  AS CostUnit 
		FROM #tmpPurchases t 
		INNER JOIN dbo.tblApTransLot l ON t.TransId = l.TransId
		INNER JOIN tblApTransHeader h ON l.TransId = h.TransId
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = l.TransId AND et.[Source] = h.[CurrencyID]
            
         IF EXISTS (SELECT * FROM #tmpLot WHERE  CostUnit IS NULL )
		   
   				BEGIN
					THROW 90027, N'Invalid exchange information.', 1
				END

		SELECT * FROM #tmpLot

		--ser
		CREATE TABLE #tmpSer
		(
			TransId [nvarchar](8) NOT NULL,
			EntryNum int null,
			LotNum [nvarchar](16) NULL, 
			SerNum [nvarchar](35) NULL,
			CostUnit [decimal](28,10) NULL
		)
		INSERT INTO #tmpSer (TransId,EntryNum,LotNum,SerNum,CostUnit)
		
		SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum 
		,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN s.CostUnitFgn 
		 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN s.CostUnit
	     Else ROUND(s.CostUnitFgn  * et.Rate, et.CurrDecPlaces) End  AS CostUnit 
		FROM #tmpPurchases t INNER JOIN dbo.tblApTransSer s ON t.TransId = s.TransId
		INNER JOIN tblApTransHeader h ON s.TransId = h.TransId
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = s.TransId AND et.[Source] = h.[CurrencyID]
            
        IF EXISTS (SELECT * FROM #tmpSer WHERE  CostUnit IS NULL )
		   
   				BEGIN
					THROW 90027, N'Invalid exchange information.', 1
				END
				
		SELECT * FROM #tmpSer

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransactionJournal_proc'
GO
