USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaCheckPost_Bank_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaCheckPost_Bank_proc]
AS
BEGIN TRY
--PET:http://webfront:801/view.php?id=226643
--PET:http://webfront:801/view.php?id=226466
--PET:http://webfront:801/view.php?id=227656

	DECLARE @BankID nvarchar(10)
	SELECT @BankID = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'BankID'
	

	IF @BankID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

  

     UPDATE dbo.tblSmBankAcct SET GlAcctBal = GlAcctBal -
  
         (SElect sum(v.SumNetPay) SumNetPay
		from
		(SELECT (COALESCE(c.NetPay, 0)) SumNetPay
				FROM dbo.tblPaCheck c 
            INNER JOIN #PostTransList b ON c.Id = b.TransId) v)
	WHERE dbo.tblSmBankAcct.BankId = @BankId
	
			



     
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_Bank_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_Bank_proc'
GO
