USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaCheckPost_GenerateDeptAlloc_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaCheckPost_GenerateDeptAlloc_proc] 
AS
BEGIN TRY

DECLARE @UseHomeDepartment bit, @PrecCurr tinyint, @PaYear smallint

SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
SELECT @UseHomeDepartment = case when Cast([Value] AS nvarchar(1))='H' then 1 else 0 end FROM #GlobalValues WHERE [Key] = 'PaPostEplrTaxDedDpt'
SELECT @PaYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PaYear'

CREATE TABLE #CheckList([CheckId] [int] NOT NULL PRIMARY KEY ([CheckId]))

INSERT INTO #CheckList([CheckId])
SELECT [TransID] FROM #PostTransList

exec [dbo].[trav_PaCalculateDepartmentAllocations_proc] @UseHomeDepartment, @PrecCurr, @PaYear

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_GenerateDeptAlloc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaCheckPost_GenerateDeptAlloc_proc'
GO
