USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPaymentRemitImport_Select_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPaymentRemitImport_Select_proc]
AS
SET NOCOUNT ON

BEGIN TRY
	CREATE TABLE #selHeader (      
		Transid int identity(1,1) not null primary key,
		ImportBatchId nvarchar(14) null,
		KeyLevelSeq1 int null,
		PartnerIdNumber bigint null,
		PartnerID nvarchar(12) null,
		PartnerName nvarchar(50) null,
		HeaderPmtAmt decimal(20,10) null,
		CustId nvarchar(10) null,
		PmtDate datetime null,
		PaymentMethod nvarchar(20) null,
		CheckNum nvarchar(15) null,
		TermsDiscountYN int default(1) null)        

	CREATE TABLE #selDetailImp (
		Transid int not null,
		ImportBatchId nvarchar(14) null,
		KeyLevelSeq1 int null,
		PmtAmt decimal(20,10) null,
		TermsDiscountTaken decimal(20,10) null,
		EdiInvcnum nvarchar(50) null,
		ArInvcnum nvarchar(50) null)        

	CREATE TABLE #selDetail (
		Transid int not null,
		ImportBatchId nvarchar(14) null,
		KeyLevelSeq1 int null,
		ApplyToInvcnum nvarchar(50) null,
		PmtAmt decimal(20,10) null,
		TermsDiscountTaken decimal(20,10) null)

	CREATE TABLE #PartnerOption (
		id int identity(1,1) not null primary key,
		PartnerID varchar(12) null,
		allowTermsDiscount int null)          

	-- select records to process
	INSERT INTO #selHeader (ImportBatchId, KeyLevelSeq1, PartnerIdNumber, PartnerID, HeaderPmtAmt, CustId, PmtDate, PaymentMethod, CheckNum, PartnerName)
	SELECT t.ImportBatchId, t.KeyLevelSeq1, p.ID, p.PartnerID, h.PaymentAmt, h.CustId, h.PaymentDate, h.PaymentMethod, h.ReferenceNum,
	p.PartnerName
	FROM #Edi820HeaderList t
		INNER JOIN tblEcPaymentRemitHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1
		INNER JOIN dbo.tblEcPartner p ON h.PartnerID=p.ID
	WHERE t.validyn=1

	INSERT INTO #PartnerOption (PartnerID)
	SELECT DISTINCT PartnerID
	FROM #selHeader

	DECLARE @i int
	SET @i=0
	SELECT @i=MIN(id) FROM #PartnerOption
	WHILE @i<>0
	BEGIN
		DECLARE @allowTermsDiscount int, @partnerid nvarchar(20)
		DECLARE @RtnValEdiOpt nvarchar(50)
		SELECT @allowTermsDiscount=0, @partnerid=null
		
		SELECT @partnerid=PartnerID
		FROM #PartnerOption
		WHERE id=@i

		SELECT @RtnValEdiOpt =''

		SELECT @RtnValEdiOpt=ISNULL(DefaultValue,'')
		FROM dbo.tblSmUserDefaultValue
		WHERE DefaultId = 'A34B7B0C-B7A1-4817-A1C0-DF6CAC4E2341' AND ContextType = 7 --820I_OptImportTermsDiscYN
			AND ContextId = @partnerid

		SELECT @allowTermsDiscount=CASE WHEN CAST(@RtnValEdiOpt as bit)=0 THEN 0 ELSE 1 END

		UPDATE #selHeader
		SET TermsDiscountYN=@allowTermsDiscount 
		WHERE partnerid=@partnerid 
                       
		DELETE #PartnerOption
		WHERE id=@i
		
		SELECT @i=MIN(id)
		FROM #PartnerOption
	END
     
	INSERT INTO #selDetailImp (transid, ImportBatchId, KeyLevelSeq1, EdiInvcnum, ArInvcnum, PmtAmt, TermsDiscountTaken)
	SELECT t.Transid, t.ImportBatchId, t.KeyLevelSeq1, d.EDIInvcNum, d.ArInvcNum, isnull(d.AmountPaid,0), isnull(d.TermsDiscountTaken,0) * ISNULL(t.TermsDiscountYN,1)
	FROM #selHeader t
		INNER JOIN tblEcPaymentRemitHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1
		INNER JOIN tblEcPaymentRemitDetail d ON h.ID=d.HeaderID
     
	INSERT INTO #selDetail (transid, ImportBatchId, KeyLevelSeq1, ApplyToInvcnum, PmtAmt, TermsDiscountTaken)        
	SELECT t.Transid, t.ImportBatchId, t.KeyLevelSeq1, CASE WHEN ISNULL(t.ArInvcnum,'')='' THEN ISNULL (t.EdiInvcnum,'') ELSE ISNULL(t.ArInvcnum,'') END,
		sum(PmtAmt), sum(TermsDiscountTaken)
	FROM #selDetailImp t
	GROUP BY t.Transid, t.ImportBatchId, t.KeyLevelSeq1, CASE WHEN ISNULL(t.ArInvcnum,'')='' THEN ISNULL (t.EdiInvcnum,'') ELSE ISNULL(t.ArInvcnum,'') END
	
	SELECT *
	FROM #selHeader
	ORDER BY ImportBatchId, KeyLevelSeq1        
            
	SELECT *
	FROM #selDetail      
	ORDER BY ImportBatchId, KeyLevelSeq1, ApplyToInvcnum
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImport_Select_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPaymentRemitImport_Select_proc'
GO
