USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArAgeCustomer_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArAgeCustomer_proc]
AS
Set NoCount ON
BEGIN TRY
	
	-- Customer selection based upon contents of the #CustomerList table
	-- CREATE TABLE #CustomerList (CustID [nvarchar](10) NOT NULL)
	
	DECLARE @Age1 datetime, @Age2 datetime, @Age3 datetime, @Age4 datetime
	DECLARE @WrkStnDate datetime, @ApplyCreditsToOldest bit
	DECLARE @BFRollBalances bit
	DECLARE @BaseCurrencyId [nvarchar](6)

	-- Retrieve global values
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @ApplyCreditsToOldest = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApplyCreditsToOldest'
	SELECT @BFRollBalances = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'BFRollBalances'
	SELECT @BaseCurrencyId = [Value]  FROM #GlobalValues WHERE [Key] = 'CurrBase'
	
	IF @WrkStnDate IS NULL SET @WrkStnDate = GETDATE()
	IF @BFRollBalances IS NULL SET @BFRollBalances = 0 --option to roll balance forward balances

	IF @ApplyCreditsToOldest IS NULL OR @BaseCurrencyId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	-- list of balance forward customers to update
	CREATE TABLE #AgeBFCust
	(
		CustId [nvarchar](10) NOT NULL, 
		CurAmtDue [decimal](28,10) NOT NULL, 
		BalAge1 [decimal](28,10) NOT NULL, 
		BalAge2 [decimal](28,10) NOT NULL, 
		BalAge3 [decimal](28,10) NOT NULL, 
		BalAge4 [decimal](28,10) NOT NULL, 
		UnpaidFinch [decimal](28,10) NOT NULL, 
		Credits [decimal](28,10) NOT NULL, 
		UNIQUE CLUSTERED (CustId)
	)

	-- list of open invoice customers to update
	CREATE TABLE #AgeOICust
	(
		CustId [nvarchar](10) NOT NULL, 
		CurAmtDue [decimal](28,10) NOT NULL, 
		BalAge1 [decimal](28,10) NOT NULL, 
		BalAge2 [decimal](28,10) NOT NULL, 
		BalAge3 [decimal](28,10) NOT NULL, 
		BalAge4 [decimal](28,10) NOT NULL, 
		UnpaidFinch [decimal](28,10) NOT NULL, 
		Credits [decimal](28,10) NOT NULL, 
		UNIQUE CLUSTERED (CustId)
	)

	-- temporary invoice information for aging
	CREATE TABLE #AgeInvoices
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		FirstOfTransDate datetime, 
		Amount [decimal](28,10) NULL, 
		MaxOfRecType smallint,
		AcctType tinyint,
		AgingPeriod tinyint, 
		UNIQUE NONCLUSTERED (CustId, AcctType, InvcNum, AgingPeriod) -- and a unique constraint for indexing
	)
	
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	( 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		BalanceBase [decimal](28,10) NULL,		
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		AgingPeriod tinyint,
		ExchTransKey nvarchar(255),
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(		 
		InvoiceID INT, 
		CurrencyID [nvarchar](6) NOT NULL,
		Balance [decimal](28,10) NULL,
		InvcNum [nvarchar](15) NULL,
		CustId [nvarchar](10) NOT NULL,
		AgingPeriod tinyint, 
		Ctr INT identity(1,1),
		UNIQUE NONCLUSTERED (InvoiceID, Ctr) 
	)

	--temporary table to isolate invoice exchange rates
	CREATE TABLE #ExchRateTrans
	(
		[TransKey] [nvarchar](255), 
		[Destination] [nvarchar](6) NOT NULL, 
		[Rate] [decimal](28,10) NOT NULL, 
		[CurrDecPlaces] [tinyint],
		UNIQUE NONCLUSTERED ([TransKey], [Destination]) 
	)
	
	-- Process the application of payments against invoice to determine balance in the invoice currency
	-- use data from the applied invoice records when identified by the payment InvoiceID value.
	INSERT INTO #InvoiceAmount (InvoiceID,  CurrencyID, BalanceBase, Balance, InvcNum,CustId,AgingPeriod, ExchTransKey)
	SELECT ISNULL(ai.[Counter], oi.[Counter])		
		, ISNULL(ai.CurrencyId, oi.CurrencyID)
		, SUM(CASE WHEN ai.[Counter] IS NULL 
              THEN 
                   oi.Amt
              ELSE 
                    CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END
              END)		
		, SUM(CASE WHEN ai.[Counter] IS NULL 
			  THEN 
					oi.[AmtFgn]
			  ELSE 
					CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END
			  END)
		, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum	
		, oi.CustId		
		, oi.AgingPeriod
		, CAST(ISNULL(ai.[Counter], oi.[Counter]) as nvarchar(255))
	FROM #CustomerList t --list of ids for function specific filtering
	INNER JOIN dbo.tblArOpenInvoice oi (NOLOCK) ON t.CustId = oi.CustId 
	LEFT JOIN dbo.tblArOpenInvoice ai (NOLOCK) ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	INNER JOIN dbo.tblArCust c (NOLOCK) ON oi.CustId = c.CustId
	WHERE oi.RecType<>5
	GROUP BY ISNULL(ai.[Counter], oi.[Counter]), ISNULL(ai.CurrencyId, oi.CurrencyID) 
	,CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END,oi.CustId, oi.AgingPeriod

	--isolate the subset of exchange rates needed
	INSERT INTO #ExchRateTrans ([TransKey], [Destination], [Rate], [CurrDecPlaces])
	SELECT e.[TransKey], e.[Destination], e.[Rate], c.[CurrDecPlaces]
	FROM [dbo].[tblSmExchangeRateTrans] e (NOLOCK)
			INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId
			INNER JOIN [dbo].[tblSmCurrency] c  (NOLOCK) on e.[Destination] = c.[CurrID]
			INNER JOIN dbo.tblArCust s  (NOLOCK) ON inv.CustId = s.CustId AND e.Destination = s.CurrencyId
	WHERE e.[TransType] = N'ARINVOICE' AND (s.CurrencyId <> @BaseCurrencyId AND inv.CurrencyID <> s.CurrencyId)
	GROUP BY e.[TransKey], e.[Destination], e.[Rate], c.[CurrDecPlaces]
	
	-- Use the summarized invoice amounts to determine the output currency values
	INSERT INTO #OutputAmount ( InvoiceID, CurrencyID, Balance,InvcNum,CustId,AgingPeriod)
	SELECT DISTINCT ia.[InvoiceID], c.CurrencyId
		, CASE WHEN ISNULL(c.CurrencyId, ia.CurrencyId) = ia.CurrencyId THEN ia.Balance
			  WHEN ISNULL(c.CurrencyId, @BaseCurrencyId) = @BaseCurrencyId THEN ia.BalanceBase
			  ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			  END 
		, ia.InvcNum
		, ia.CustId
		, ia.AgingPeriod
	FROM #InvoiceAmount ia
	INNER JOIN dbo.tblArCust c  (NOLOCK) ON ia.CustId = c.CustId
	LEFT JOIN #ExchRateTrans et ON ia.[ExchTransKey] = et.[TransKey] AND et.Destination = c.CurrencyId
	
	IF  EXISTS (SELECT * FROM #OutputAmount t WHERE  t.Balance IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	
		
	-- capture invoice/payment information for each customer
	-- Exclude pro forma invoice 	
	INSERT INTO #AgeInvoices (CustId, InvcNum, MaxOfRecType, FirstOfTransDate, Amount,AcctType,AgingPeriod) 
	SELECT CustId
			, InvcNum
			, MAX(RecType) MaxOfRecType
			, CASE WHEN MAX(RecType) = 1 THEN MIN(TransDate) ELSE MIN(PmtDate) END FirstOfTransDate
			, SUM(SIGN(RecType) * AmtFgn) AS Amount
			, AcctType
			, AgingPeriod
	FROM 
		(
			SELECT i.CustId
				, ot.InvcNum
				, i.RecType
				, ot.Balance AS AmtFgn	
				, CASE WHEN i.RecType = 1 THEN i.TransDate ELSE NULL END TransDate
				, CASE WHEN i.RecType <> 1 THEN i.TransDate ELSE NULL END PmtDate
				, c.AcctType
				, ot.AgingPeriod				
			FROM #OutputAmount ot
			INNER JOIN dbo.tblArOpenInvoice i  (NOLOCK) ON ot.InvoiceID = i.[Counter]		
			INNER JOIN dbo.tblArCust c  (NOLOCK) ON i.CustId = c.CustId	
			WHERE i.Status <> 4		
		) d 
		GROUP BY CustId, InvcNum,AcctType,AgingPeriod
	
	
	--=================================
	-- Update Open Invoice customers
	--=================================
	SELECT @Age1 = DATEADD(day, -30, @WrkStnDate)
	SELECT @Age2 = DATEADD(day, -60, @WrkStnDate)
	SELECT @Age3 = DATEADD(day, -90, @WrkStnDate)
	SELECT @Age4 = DATEADD(day, -120, @WrkStnDate)

	-- capture the Open invoice customers - initialize the new balances to zero (0)
	INSERT INTO #AgeOICust (CustId, CurAmtDue, BalAge1, BalAge2, BalAge3, BalAge4, UnpaidFinch, Credits) 
		SELECT c.CustId, 0, 0, 0, 0, 0, 0, 0
		FROM dbo.tblArCust c  (NOLOCK) INNER JOIN #CustomerList ON c.CustId = #CustomerList.CustId 
		WHERE c.AcctType = 0 --open invoice customers
	
	-- age the invoice/payment information and distribute the values
	UPDATE #AgeOICust 
		SET CurAmtDue = t.CurAmtDue
		, BalAge1 = t.BalAge1, BalAge2 = t.BalAge2
		, BalAge3 = t.BalAge3, BalAge4 = t.BalAge4 
		, UnpaidFinch = t.UnpaidFinch, Credits = -t.UnApplCredit
	FROM #AgeOICust
	INNER JOIN (SELECT CustID, SUM(CASE WHEN MaxOfRecType = 4 THEN Amount ELSE 0 END) UnpaidFinch
			, SUM(CASE WHEN MaxOfRecType < 0 THEN Amount ELSE 0 END) UnApplCredit
			, SUM(CASE WHEN MaxOfRecType > 0 AND MaxOfRecType <> 4 AND FirstOfTransDate >= @Age1 THEN Amount ELSE 0 END) CurAmtDue
			, SUM(CASE WHEN MaxOfRecType > 0 AND MaxOfRecType <> 4 
				AND FirstOfTransDate BETWEEN @Age2 AND DATEADD(day, -1, @Age1) THEN Amount ELSE 0 END) BalAge1
			, SUM(CASE WHEN MaxOfRecType > 0 AND MaxOfRecType <> 4 
				AND FirstOfTransDate BETWEEN @Age3 AND DATEADD(day, -1, @Age2) THEN Amount ELSE 0 END) BalAge2
			, SUM(CASE WHEN MaxOfRecType > 0 AND MaxOfRecType <> 4 
				AND FirstOfTransDate BETWEEN @Age4 AND DATEADD(day, -1, @Age3) THEN Amount ELSE 0 END) BalAge3
			, SUM(CASE WHEN MaxOfRecType > 0 AND MaxOfRecType <> 4 AND FirstOfTransDate < @Age4 THEN Amount ELSE 0 END)  BalAge4
		FROM #AgeInvoices where AcctType = 0
		GROUP BY CustId
	) t ON #AgeOICust.CustId = t.CustId 

	-- apply the updates to the customer
	UPDATE dbo.tblArCust 
		SET CurAmtDue = t.CurAmtDue 
		, BalAge1 = t.BalAge1
		, BalAge2 = t.BalAge2
		, BalAge3 = t.BalAge3
		, BalAge4 = t.BalAge4
		, UnpaidFinch = t.UnpaidFinch
		, UnapplCredit = t.Credits
	FROM dbo.tblArCust c INNER JOIN #AgeOICust t ON c.CustId = t.CustId
	WHERE AcctType = 0
	
	--=================================
	-- Update Balance forward customers
	--=================================

	-- capture the list of Balance forward customers to process
	--	conditionally roll the balances (generally done as a periodic process)
	
	INSERT INTO #AgeBFCust (CustId, CurAmtDue, BalAge1, BalAge2, BalAge3, BalAge4, UnpaidFinch, Credits) 
	SELECT 
			op.CustId					
			,  SUM(CASE WHEN op.AgingPeriod =0 AND op.MaxOfRecType <> 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtCurrent
			,  SUM(CASE WHEN op.AgingPeriod =1 AND op.MaxOfRecType <> 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtDue1 
			,  SUM(CASE WHEN op.AgingPeriod =2 AND op.MaxOfRecType <> 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtDue2
			,  SUM(CASE WHEN op.AgingPeriod =3 AND op.MaxOfRecType <> 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtDue3 
			,  SUM(CASE WHEN op.AgingPeriod >3 AND op.MaxOfRecType <> 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtDue4
			,  SUM(CASE WHEN op.AgingPeriod =10 OR op.MaxOfRecType = 4 THEN ISNULL(op.Amount, 0) ELSE 0 END) AS AmtFinanceCharge
			, 0 AS Unapplied					
	FROM #CustomerList l 
	INNER JOIN #AgeInvoices op on l.CustId = op.CustId
	WHERE op.AcctType = 1
	GROUP BY op.CustId

	UPDATE #AgeBFCust 
		SET Credits = Credits + CurAmtDue,  CurAmtDue = 0 
	WHERE CurAmtDue < 0 

	UPDATE #AgeBFCust 
		SET Credits = Credits + BalAge1, BalAge1 = 0 
	WHERE BalAge1 < 0

	UPDATE #AgeBFCust 
		SET Credits = Credits + BalAge2,  BalAge2 = 0 
	WHERE BalAge2 < 0

	UPDATE #AgeBFCust 
		SET Credits = Credits + BalAge3,  BalAge3 = 0 
	WHERE BalAge3 < 0

	UPDATE #AgeBFCust 
		SET Credits = Credits + BalAge4, BalAge4 = 0 
	WHERE BalAge4 < 0

	UPDATE #AgeBFCust 
		SET Credits = UnpaidFinch + Credits,  UnpaidFinch = 0 
	WHERE UnpaidFinch < 0

	--distribute credits 
	IF @ApplyCreditsToOldest = 1
	BEGIN
		UPDATE #AgeBFCust 
			SET UnpaidFinch = UnpaidFinch + Credits, Credits = UnpaidFinch + Credits 
		WHERE Credits < 0 AND UnpaidFinch > 0

		UPDATE #AgeBFCust 
			SET BalAge4 = BalAge4 + Credits, Credits = BalAge4 + Credits 
		WHERE Credits < 0 AND BalAge4 > 0
	 
		UPDATE #AgeBFCust 
			SET BalAge3 = BalAge3 + Credits, Credits = BalAge3 + Credits 
		WHERE Credits < 0 AND BalAge3 > 0
	 
		UPDATE #AgeBFCust 
			SET BalAge2 = BalAge2 + Credits, Credits = BalAge2 + Credits 
		WHERE Credits < 0 AND BalAge2 > 0
	 
		UPDATE #AgeBFCust 
			SET BalAge1 = BalAge1 + Credits, Credits = BalAge1 + Credits 
		WHERE Credits < 0 AND BalAge1 > 0
	 
		UPDATE #AgeBFCust 
			SET CurAmtDue = CurAmtDue + Credits, Credits = CurAmtDue + Credits 
		WHERE Credits < 0 AND CurAmtDue > 0
	END
	ELSE   --DO NOT APPLY TO OLDEST FIRST
	BEGIN
		UPDATE #AgeBFCust 
			SET CurAmtDue = CurAmtDue + Credits, Credits = CurAmtDue + Credits 
		WHERE Credits < 0 AND CurAmtDue > 0 

		UPDATE #AgeBFCust 
			SET BalAge1 = BalAge1 + Credits, Credits = BalAge1 + Credits 
		WHERE Credits < 0 AND BalAge1 > 0
	 
		UPDATE #AgeBFCust 
			SET BalAge2 = BalAge2 + Credits, Credits = BalAge2 + Credits 
		WHERE Credits < 0 AND BalAge2 > 0

		UPDATE #AgeBFCust 
			SET BalAge3 = BalAge3 + Credits, Credits = BalAge3 + Credits 
		WHERE Credits < 0 AND BalAge3 > 0
	 
		UPDATE #AgeBFCust 
			SET BalAge4 = BalAge4 + Credits, Credits = BalAge4 + Credits 
		WHERE Credits < 0 AND BalAge4 > 0
	 
		UPDATE #AgeBFCust 
			SET UnpaidFinch = UnpaidFinch + Credits, Credits = UnpaidFinch + Credits 
		WHERE Credits < 0 AND UnpaidFinch > 0

		-- put remaining credits into curamt 
		UPDATE #AgeBFCust 
			SET CurAmtDue = CurAmtDue + Credits, Credits = CurAmtDue + Credits 
		WHERE Credits < 0 AND CurAmtDue > 0  
	END

	--apply the updates to the customer
	UPDATE dbo.tblArCust 
		SET CurAmtDue = CASE WHEN t.CurAmtDue > 0 THEN t.CurAmtDue ELSE 0 END
		, BalAge1 = (CASE WHEN t.BalAge1 > 0 THEN t.BalAge1 ELSE 0 END)
		, BalAge2 = (CASE WHEN t.BalAge2 > 0 THEN t.BalAge2 ELSE 0 END)
		, BalAge3 = (CASE WHEN t.BalAge3 > 0 THEN t.BalAge3 ELSE 0 END)
		, BalAge4 = (CASE WHEN t.BalAge4 > 0 THEN t.BalAge4 ELSE 0 END)
		, UnpaidFinch = (CASE WHEN t.UnpaidFinch > 0 THEN t.UnpaidFinch ELSE 0 END)
		, UnapplCredit = (CASE WHEN t.Credits < 0 THEN ABS(t.Credits) ELSE 0 END) 
	FROM dbo.tblArCust INNER JOIN #AgeBFCust t ON dbo.tblArCust.CustId = t.CustId


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAgeCustomer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAgeCustomer_proc'
GO
