USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoOpenOrderReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoOpenOrderReport_proc]
@ReportCurrency pCurrency = NULL,
@BaseCurrency pCurrency = 'USD',
@TransType NVARCHAR(10) ='POTRANS',
@TransTypeRcpt NVARCHAR(10) ='PORECEIPT',
@TransTypeInvc NVARCHAR(10) = 'POINVOICE',
@PrintUnpostedReceipt bit = 1,
@PrintPostedReceipt bit = 1,
@PrintUnpostedInvoice bit = 1,
@PrintPostedInvoice bit = 1,
@WorkStationDate datetime = '20090120',
@UnitCostPrec tinyint,
@SortBy tinyint = 0 --0, Transaction No; 1, Vendor ID; 2, Item ID; 3, Requested Date; 4, Status
AS
SET NOCOUNT ON
BEGIN TRY

	
	CREATE TABLE #tmpType 
	(
		TransType tinyint NOT NULL, -- 0, New Order; 1, Received/Invoiced
		RecordType tinyint NOT NULL -- 0, Purchase; 1, Tax/Freight/Misc; 2, Prepaid;
	)

	--Confirmed Receipts
	SELECT ds.TransID, ds.EntryNum, SUM(ds.RcptQty) AS RcptQty, SUM(ds.RcptExtCost) AS RcptExtCost
	INTO #tmpReceipts
	FROM
	(
		SELECT rcpt.TransID, rcpt.EntryNum, SUM(rcpt.QtyFilled) AS RcptQty, 
		(
			CASE WHEN @ReportCurrency = @BaseCurrency 	THEN SUM(rcpt.ExtCost) 
			WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN  SUM(rcpt.ExtCostFgn) 
			ELSE SUM(ROUND(etr.Rate * rcpt.ExtCostFgn,etr.CurrDecPlaces)) END
		) AS RcptExtCost
		FROM dbo.tblPoTransLotRcpt rcpt 
			INNER JOIN dbo.tblPoTransHeader h ON rcpt.TransId = h.TransId
			INNER JOIN #tmpTransDetailList D ON D.TransId = rcpt.TransId AND D.EntryNum = rcpt.EntryNum
			LEFT JOIN
			(
				SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
				FROM [dbo].[tblSmExchangeRateTrans] e 
				INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
			) etr ON etr.[TransKey] = rcpt.RcptHeaderID AND etr.[Source] = h.CurrencyID
		WHERE (@PrintUnpostedReceipt = 1 AND [Status] = 0) OR (@PrintPostedReceipt = 1 AND [Status] = 1)
		GROUP BY rcpt.TransID, rcpt.EntryNum, h.CurrencyID
		UNION ALL
		SELECT R.TransId, R.EntryNum, SUM(R.Qty) AS [RcptQty], SUM( (l.UnitCost*R.Qty))  AS [RcptExtCost]
		FROM dbo.tblWmRcpt R
			INNER JOIN #tmpTransDetailList D ON D.TransId = R.TransId AND D.EntryNum = R.EntryNum
			INNER JOIN tblPoTransDetail l ON  l.TransId = R.TransId AND l.EntryNum = R.EntryNum
		WHERE R.[Status] = 1 AND R.[Source] = 0
		GROUP BY R.TransId, R.EntryNum,l.UnitCost
	)ds GROUP BY ds.TransID, ds.EntryNum

	SELECT h.BatchId, h.TransId, h.TransType, h.TransDate, h.ReqShipDate AS ReqShipDateHdr, h.VendorId, h.OrderedBy, 
		h.ReceivedBy, h.ExchRate, h.PrintStatus, ISNULL(@ReportCurrency, h.CurrencyID) CurrencyID,
		(CASE WHEN  @ReportCurrency = @BaseCurrency 	THEN (h.MemoTaxable+h.MemoNonTaxable+h.MemoSalesTax+h.MemoFreight+h.MemoMisc)
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN  (h.MemoTaxableFgn+h.MemoNonTaxableFgn+h.MemoSalesTaxFgn+h.MemoFreightFgn+h.MemoMiscFgn )
					ELSE ROUND(et.Rate * (h.MemoTaxableFgn+h.MemoNonTaxableFgn+h.MemoSalesTaxFgn+h.MemoFreightFgn+h.MemoMiscFgn ),et.CurrDecPlaces) END) AS MemoTaxFrtMisc, 					
		(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN h.MemoPrepaid
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN  h.MemoPrepaidFgn
					ELSE ROUND(et.Rate * MemoPrepaidFgn,et.CurrDecPlaces) END) AS MemoPrepaid, d.EntryNum, d.GLAcct, d.QtyOrd, 
		(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN d.UnitCost
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.UnitCostFgn 
					ELSE ROUND(et.Rate * d.UnitCostFgn,@UnitCostPrec) END) AS UnitCost, 
		(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN d.ExtCost 
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.ExtCostFgn 
					ELSE ROUND(et.Rate * d.ExtCostFgn,et.CurrDecPlaces) END) AS ExtCost, 
		d.ItemId, d.ItemType, d.LocId AS LocIdDtl, d.Descr, d.UnitsBase, 
		d.Units, d.LineStatus, d.GLDesc, ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDateDtl, 
		COALESCE([RcptQty], 0) AS dRcptQty, COALESCE([RcptExtCost], 0) AS dRcptExtCost, 
		COALESCE([InvcQty], 0) AS dInvcQty, COALESCE([InvcExtCost], 0) AS dInvcExtCost,		
		CASE WHEN @ReportCurrency = @BaseCurrency THEN (CASE WHEN (h.MemoTaxable+h.MemoNonTaxable > 0) THEN 
			(d.ExtCost*((h.MemoSalesTax+h.MemoFreight+h.MemoMisc)/(h.MemoTaxable+h.MemoNonTaxable))) ELSE 0 END)
		  WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN
				 (CASE WHEN (h.MemoTaxableFgn+h.MemoNonTaxableFgn > 0) THEN 
					(d.ExtCostFgn*((h.MemoSalesTaxFgn+h.MemoFreightFgn+h.MemoMiscFgn)/(h.MemoTaxableFgn+h.MemoNonTaxableFgn))) ELSE 0 END) 
					ELSE (CASE WHEN (h.MemoTaxableFgn+h.MemoNonTaxableFgn > 0) THEN 
			 ROUND((d.ExtCostFgn*((h.MemoSalesTaxFgn+h.MemoFreightFgn+h.MemoMiscFgn)/(h.MemoTaxableFgn+h.MemoNonTaxableFgn))) * et.Rate,et.CurrDecPlaces) 
			ELSE 0 END)END AS MemoTaxFrtMiscDtl,				
			CASE WHEN @ReportCurrency = @BaseCurrency THEN (CASE WHEN (h.MemoTaxable+h.MemoNonTaxable > 0) THEN 
			(d.ExtCost*(h.MemoPrepaid/(h.MemoTaxable+h.MemoNonTaxable))) ELSE 0 END)
		     WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN
				 (CASE WHEN (h.MemoTaxableFgn+h.MemoNonTaxableFgn > 0) THEN 
					(d.ExtCostFgn*(h.MemoPrepaidFgn/(h.MemoTaxableFgn+h.MemoNonTaxableFgn))) ELSE 0 END) 
					ELSE (CASE WHEN (h.MemoTaxableFgn+h.MemoNonTaxableFgn > 0) THEN 
			 ROUND((d.ExtCostFgn*(h.MemoPrepaidFgn/(h.MemoTaxableFgn+h.MemoNonTaxableFgn))) * et.Rate,et.CurrDecPlaces) 
			ELSE 0 END) END AS MemoPrepaidDtl 
			,ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate
	INTO #tmpPoOpenOrderRpt
	FROM  #tmpTransDetailList l INNER JOIN dbo.tblPoTransDetail d ON l.TransId = d.TransId AND l.EntryNum = d.EntryNum
		INNER JOIN dbo.tblPoTransHeader h ON d.TransId = h.TransId
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransType AND  e.[Destination] = @ReportCurrency 
				) et ON et.[TransKey] =h.TransID AND et.[Source] =h.CurrencyID				
		LEFT JOIN (SELECT invc.TransID, invc.EntryNum, SUM(invc.Qty) AS InvcQty,
		(CASE WHEN @ReportCurrency = @BaseCurrency 	THEN SUM(invc.ExtCost)
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  SUM(invc.ExtCostFgn)
					ELSE SUM(ROUND(etInvc.Rate * invc.ExtCostFgn,etInvc.CurrDecPlaces)) END) AS InvcExtCost 
			FROM dbo.tblPoTransInvoice invc INNER JOIN dbo.tblPoTransHeader h ON invc.TransId = h.TransId 
			LEFT JOIN(SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
				FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
				WHERE e.[TransType] = @TransTypeInvc AND  e.[Destination] = @ReportCurrency 
			) etInvc ON etInvc.[TransKey] = invc.InvcHeaderID AND etInvc.[Source] = h.CurrencyID
			WHERE (@PrintUnpostedInvoice = 1 AND [Status] = 0) OR (@PrintPostedInvoice = 1 AND [Status] = 1)
			GROUP BY invc.TransID, EntryNum,h.CurrencyID) i 
			ON d.TransId = i.TransId AND d.EntryNum = i.EntryNum
		LEFT JOIN #tmpReceipts r 
			ON d.TransID = r.TransID AND d.EntryNum = r.EntryNum				
	--WHERE (@PrintAllInBase = 1 OR h.CurrencyId = @ReportCurrency) 
	WHERE h.TransType <> 0 
	ORDER BY h.TransId, d.EntryNum
	
	--Raise Exception if Invalid Exchange rate Exists  	   
	 IF EXISTS (SELECT TransID FROM #tmpPoOpenOrderRpt  WHERE UnitCost IS NULL  OR ExtCost IS NULL OR MemoPrepaidDtl IS NULL OR MemoTaxFrtMiscDtl IS NULL OR dInvcExtCost IS NULL OR dRcptExtCost IS NULL OR MemoPrepaid IS NULL OR MemoTaxFrtMisc IS NULL)  
	 BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	 END  




	SELECT DISTINCT CASE @SortBy 
			WHEN 0 THEN CAST(TransId AS nvarchar) 
			WHEN 1 THEN CAST(VendorId AS nvarchar) 
			WHEN 2 THEN CAST(ItemId AS nvarchar) 
			WHEN 3 THEN CONVERT(nvarchar(8), ReqShipDateDtl , 112) 
			WHEN 4 THEN CAST(LineStatus  AS nvarchar) END AS SortOrder,
		BatchId, TransId, TransType, TransDate, ReqShipDateHdr, VendorId, OrderedBy, 
		ReceivedBy, ExchRate, PrintStatus, CurrencyID,MemoTaxFrtMisc, MemoPrepaid, 
		EntryNum,  GLAcct, QtyOrd, UnitCost, (COALESCE(ExtCost, 0) * SIGN([TransType])) AS ExtCost,
		ItemId, ItemType, LocIdDtl, Descr, UnitsBase, Units, LineStatus, GLDesc, ReqShipDateDtl, dRcptQty, 
		(dRcptExtCost * SIGN([TransType])) AS dRcptExtCost, dInvcQty, (dInvcExtCost * SIGN([TransType])) AS dInvcExtCost, 
		(ExtCost * SIGN([TransType])) AS OrdExtCostGrp01, (dRcptExtCost * SIGN([TransType]))  AS RcptExtCostGrp01,
		(dInvcExtCost * SIGN([TransType])) AS InvcExtCostGrp01,CurrencyID, ExpReceiptDate
	FROM #tmpPoOpenOrderRpt 
	ORDER BY TransId, EntryNum

	--Lot
	SELECT r.TransId, r.EntryNum, r.RcptNum, r.LotNum, 
		SUM(r.QtyFilled) AS QtyRcpt, 
		SUM(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN r.ExtCost 
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  r.ExtCostFgn 
					ELSE ROUND(etr.Rate * r.ExtCostFgn,etr.CurrDecPlaces) END) AS ExtCostRcpt,
		ISNULL(SUM(i.ExtCostInvc),0) AS ExtCostInvc,
		ISNULL(SUM(i.Qty),0) AS QtyInvc
	FROM #tmpTransDetailList l INNER JOIN dbo.tblPoTransLotRcpt r (NOLOCK) ON r.TransId = l.TransId AND r.EntryNum = l.EntryNum 
		INNER JOIN dbo.tblPoTransHeader h ON l.TransId = h.TransId		
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
				) etr ON etr.[TransKey] = r.RcptHeaderID AND etr.[Source] = h.CurrencyID		
		LEFT JOIN 
			(SELECT ir.ReceiptId,CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN (SUM(i.UnitCost * ir.Qty))
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  (SUM(i.UnitCostFgn * ir.Qty))
					ELSE ROUND(etInvc.Rate * i.UnitCostFgn * ir.Qty,etInvc.CurrDecPlaces) END as ExtCostInvc					
			, SUM(ir.Qty) Qty 
			FROM dbo.tblPoTransInvc_Rcpt ir (NOLOCK) 
			INNER JOIN dbo.tblPoTransInvoice i (NOLOCK) ON ir.InvoiceId = i.InvoiceId 
			INNER JOIN dbo.tblPoTransHeader h ON i.TransID = h.TransId
			LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeInvc AND  e.[Destination] = @ReportCurrency 
				) etInvc ON etInvc.[TransKey] = i.InvcHeaderID  AND etInvc.[Source] = h.CurrencyID
			GROUP BY ir.ReceiptId,ir.Qty,i.UnitCost,i.UnitCostFgn, h.CurrencyID,etInvc.Rate,etInvc.CurrDecPlaces) i ON r.ReceiptId = i.ReceiptId 
	WHERE  r.LotNum IS NOT NULL AND h.TransType <> 0
	GROUP BY  r.TransId, r.EntryNum, r.RcptNum, r.LotNum


	--Ser
	SELECT s.TransId, s.EntryNum, s.RcptNum, s.LotNum, s.SerNum, 
	CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN s.RcptUnitCost
					WHEN ISNULL(@ReportCurrency,h.CurrencyID) = h.CurrencyID THEN  s.RcptUnitCostFgn
					ELSE ROUND(et.Rate * s.RcptUnitCostFgn,@UnitCostPrec) END AS RcptUnitCost
	FROM #tmpTransDetailList l INNER JOIN dbo.tblPoTransSer s (NOLOCK) ON s.TransId = l.TransId AND s.EntryNum = l.EntryNum
		INNER JOIN dbo.tblPoTransHeader h ON l.TransId = h.TransId
		INNER JOIN dbo.tblPoTransReceipt r on s.TransId = r.TransId and s.RcptNum = r.ReceiptNum
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransTypeRcpt AND  e.[Destination] = @ReportCurrency 
				) et ON et.[TransKey] =r.ID AND et.[Source] = h.CurrencyID
	WHERE h.TransType <> 0

	--Summary
	INSERT INTO #tmpType (TransType, RecordType) 
	SELECT 0 AS TransType,0 AS RecordType
	UNION ALL
	SELECT 0,1
	UNION ALL
	SELECT 0,2
	UNION ALL
	SELECT 1,0
	UNION ALL
	SELECT 1,1
	UNION ALL
	SELECT 1,2


	--todo, calculation based on order quantity that have not been received.
	SELECT  h.TransType, h.RecordType, ISNULL(d.LateShipMent,0) AS LateShipMent, ISNULL(d.Days30,0) AS Days30, 
		ISNULL(d.Days60,0) AS Days60, ISNULL(d.Days90,0) AS Days90, ISNULL(d.Days90Over,0) AS Days90Over, 
		ISNULL(d.NoScheduled,0) AS NoScheduled, 
		ISNULL(d.LateShipMent,0) + ISNULL(d.Days30,0) + ISNULL(d.Days60,0) + ISNULL(d.Days90,0) 
			+ ISNULL(d.Days90Over,0) + ISNULL(d.NoScheduled,0) AS Total, d.CurrencyID 
	FROM #tmpType h 
		LEFT JOIN
		(
			--Purchases
			SELECT CASE TransType WHEN 9 THEN 0 ELSE 1 END TransType, 0 RecordType, CurrencyID,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) < 0 THEN ExtCost ELSE 0 END) AS LateShipMent,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 0 AND 30 THEN ExtCost ELSE 0 END) AS Days30, -- 0-30 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 31 AND 60 THEN ExtCost ELSE 0 END) AS Days60, -- 31-60 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 61 AND 90 THEN ExtCost ELSE 0 END) AS Days90, -- 61-90 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) > 90 THEN ExtCost ELSE 0 END) AS Days90Over, -- Over 90 Days
				SUM(CASE WHEN ReqShipDateDtl IS NULL THEN ExtCost ELSE 0 END) AS NoScheduled -- No Scheduled Date,
			FROM #tmpPoOpenOrderRpt 
			WHERE TransType > 0 
			GROUP BY CASE TransType WHEN 9 THEN 0 ELSE 1 END,CurrencyID

			--Tax/Freight/Misc
			UNION ALL
			SELECT CASE TransType WHEN 9 THEN 0 ELSE 1 END TransType, 1 RecordType,CurrencyID,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) < 0 THEN MemoTaxFrtMiscDtl ELSE 0 END) AS LateShipMent,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 0 AND 30 THEN MemoTaxFrtMiscDtl ELSE 0 END) AS Days30, -- 0-30 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 31 AND 60 THEN MemoTaxFrtMiscDtl ELSE 0 END) AS Days60, -- 31-60 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 61 AND 90 THEN MemoTaxFrtMiscDtl ELSE 0 END) AS Days90, -- 61-90 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) > 90 THEN MemoTaxFrtMiscDtl ELSE 0 END) AS Days90Over, -- Over 90 Days
				SUM(CASE WHEN ReqShipDateDtl IS NULL THEN MemoTaxFrtMiscDtl ELSE 0 END) AS NoScheduled -- No Scheduled Date
			FROM #tmpPoOpenOrderRpt 
			WHERE TransType > 0 
			GROUP BY CASE TransType WHEN 9 THEN 0 ELSE 1 END, CurrencyID

			--Prepaid
			UNION ALL
			SELECT CASE TransType WHEN 9 THEN 0 ELSE 1 END TransType, 2 RecordType, CurrencyID,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) < 0 THEN MemoPrepaidDtl ELSE 0 END) AS LateShipMent,
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 0 AND 30 THEN MemoPrepaidDtl ELSE 0 END) AS Days30, -- 0-30 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 31 AND 60 THEN MemoPrepaidDtl ELSE 0 END) AS Days60, -- 31-60 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) BETWEEN 61 AND 90 THEN MemoPrepaidDtl ELSE 0 END) AS Days90, -- 61-90 Days
				SUM(CASE WHEN DATEDIFF(dd,@WorkStationDate,ReqShipDateDtl) > 90 THEN MemoPrepaidDtl ELSE 0 END) AS Days90Over, -- Over 90 Days
				SUM(CASE WHEN ReqShipDateDtl IS NULL THEN MemoPrepaidDtl ELSE 0 END) AS NoScheduled -- No Scheduled Date
			FROM #tmpPoOpenOrderRpt 
			WHERE TransType > 0 
			GROUP BY CASE TransType WHEN 9 THEN 0 ELSE 1 END, CurrencyID
		) d ON h.TransType = d.TransType AND h.RecordType = d.RecordType

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenOrderReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoOpenOrderReport_proc'
GO
