USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransPost_RemoveTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransPost_RemoveTrans_proc]
AS
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	
	DELETE dbo.tblArTransHeader
		FROM dbo.tblArTransHeader
		INNER JOIN #PostTransList l ON dbo.tblArTransHeader.TransId = l.TransId

	DELETE dbo.tblArTransDetail
		FROM dbo.tblArTransDetail
		INNER JOIN #PostTransList l ON dbo.tblArTransDetail.TransId = l.TransId

	DELETE dbo.tblArTransLot
		FROM dbo.tblArTransLot
		INNER JOIN #PostTransList l ON dbo.tblArTransLot.TransId = l.TransId

	DELETE dbo.tblArTransSer
		FROM dbo.tblArTransSer
		INNER JOIN #PostTransList l ON dbo.tblArTransSer.TransId = l.TransId
	
	DELETE dbo.tblSmExchangeRateTrans
		 FROM dbo.tblSmExchangeRateTrans e  
		 INNER JOIN dbo.tblArTransPmt p ON p.PmtNum = e.TransKey
		 INNER JOIN #PostTransList t ON p.TransId = t.TransId 
		 WHERE TransType='ARPREPAY' 

	DELETE dbo.tblArTransPmt
		FROM dbo.tblArTransPmt
		INNER JOIN #PostTransList l ON dbo.tblArTransPmt.TransId = l.TransId

	DELETE dbo.tblArTransTax
		FROM dbo.tblArTransTax
		INNER JOIN #PostTransList l ON dbo.tblArTransTax.TransId = l.TransId


	
	 DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e  INNER JOIN #PostTransList t ON e.TransKey = t.TransId 
     WHERE TransType=@TransType

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_RemoveTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_RemoveTrans_proc'
GO
