USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrTransPost_MainLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrTransPost_MainLog_proc]
AS
BEGIN TRY

	DECLARE @CurrBase pCurrency
	
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF  @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	INSERT #BrTransPostMainLog (CurrencyId, Total, Deposits, Disbursements, Adjustments
		, Transfers, Voids, FiscalYear, BankId, AcctType)
		SELECT h.CurrencyId, COUNT(h.TransId)
			, SUM(CASE WHEN h.TransType = 2 THEN h.AmountFgn ELSE 0 END)
			, SUM(CASE WHEN h.TransType = -1 AND h.VoidYn = 0 THEN h.AmountFgn ELSE 0 END)
			, SUM(CASE WHEN h.TransType = 4 THEN h.AmountFgn ELSE 0 END)
			, SUM(CASE WHEN h.TransType = -3 THEN h.AmountFgn ELSE 0 END)
			, SUM(CASE WHEN h.TransType = -1 AND h.VoidYn = 1 THEN h.AmountFgn * -1 ELSE 0 END)
			, h.FiscalYear, h.BankID, MIN(b.AcctType)
		FROM #PostTransList t INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId
			INNER JOIN dbo.tblSmBankAcct b ON h.BankID = b.BankId
		GROUP BY h.CurrencyId, h.BankID,h.FiscalYear
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_MainLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_MainLog_proc'
GO
