USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_WMTransfer_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_WMTransfer_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @PrecQty pDecimal
	DECLARE @DefaultBinId nVarchar(50)

	--Retrieve global values
	SELECT @PrecQty = Cast([Value] AS decimal(28, 10)) FROM #GlobalValues WHERE [Key] = 'PrecQty'
	SELECT @DefaultBinId = Cast([Value] AS nvarchar(50)) FROM #GlobalValues WHERE [Key] = 'DefaultBin'

	IF @PrecQty IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--identify any WM Transfers that are available for picking	
	INSERT INTO #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum
		, ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq
		, ReqDate, GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, BatchId, ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, Notes, ItemDescription)
	SELECT 4, 'XFER', h.TranKey, 0,  h.LocIdTo as CustId, CAST(l.Descr AS NVARCHAR(60)) as CustName, Null as PickNum
		, h.ItemId, h.LocId, h.LotNum, bin.Id [ExtLocA], Null [ExtLocB], h.UOM, (h.Qty - s.QtyPicked)
		, Cast(h.TransDate AS Date), Null, 0, h.Qty as QtyOrdered, h.BatchId, Null, Null, h.BatchId --use the batch id to identify Ref1 Groupings
		, bin.ExtLocID, Null, h.LocIdTo as ReferenceId, CAST(l.Descr AS NVARCHAR(60)) as ReferenceName, CAST(h.Cmnt AS NVARCHAR(50)) [Cmnt], i.Descr AS ItemDescription 
	FROM dbo.tblWmTransfer h
	INNER JOIN dbo.tblInLoc l ON l.LocId = h.LocIdTo 
	LEFT JOIN dbo.tblInItem i ON i.ItemId = h.ItemId
	INNER JOIN 
	(SELECT t.TranKey, SUM(ROUND(ISNULL(((CAST(p.Qty AS decimal(23,10)) * ISNULL(CAST(ub.ConvFactor AS decimal(23,10)), 1.0)) / ISNULL(us.ConvFactor, 1.0)), 0), @PrecQty)) QtyPicked
		FROM dbo.tblWmTransfer t 
		LEFT JOIN dbo.tblWmTransferPick p ON t.TranKey = p.TranKey 
		LEFT JOIN dbo.tblInItemUOM ub ON p.ItemId = ub.ItemId And p.UOM = ub.UOM
		LEFT JOIN dbo.tblInItemUOM us ON p.ItemId = us.ItemId and t.UOM = us.UOM
		GROUP BY t.TranKey
	) s ON h.TranKey = s.TranKey
	LEFT JOIN (SELECT BatchId, [Lock] FROM dbo.tblSmBatch WHERE FunctionId = 'WMTRANSFER') b ON h.BatchID = b.BatchId
	LEFT JOIN
	(
		SELECT distinct T.ItemId,lf.LocId , IsNull(NullIf(RTRIM(LTRIM(lf.DfltBinNum)),''),df.DefaultValue) DfltBinNum 
		FROM tblWmTransfer t
			INNER JOIN tblInItemLoc (NOLOCK) lf ON lf.ItemId = t.ItemId And lf.LocId = t.LocId
			LEFT JOIN tblSmUserDefaultValue (NOLOCK) df ON df.DefaultId = @DefaultBinId And df.ContextType = 4 And df.ContextId = lf.LocId
	)d ON d.ItemId = h.ItemId And d.LocId = h.LocId
	LEFT JOIN tblWmExtLoc bin On bin.ExtLocID = d.DfltBinNum  And bin.LocID = d.LocId
	WHERE h.[Status] = 0 --New transfer
		AND ISNULL(b.Lock, 0) = 0 --not in a locked batch
		AND (h.Qty - s.QtyPicked) > 0 --has remaining qty to process
		AND h.LocId = ISNULL(@LocId, h.LocId)
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_WMTransfer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_WMTransfer_proc'
GO
