USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcNextTransId_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcNextTransId_proc]
   @FunctionID nvarchar(10),
   @IsInt bit = 0,
   @TransID pTransID OUT
AS

SET NOCOUNT ON

DECLARE @NextID int, @TransCnt int, @Done bit
BEGIN TRANSACTION

   SELECT @NextID = NextID FROM dbo.tblSmTransID (TABLOCKX)
   WHERE FunctionID = @FunctionID

   IF (@NextID IS NULL)
   BEGIN
      INSERT INTO dbo.tblSmTransID (FunctionID, NextID) VALUES (@FunctionID, 1)
      SELECT @NextID = 1
   END
   IF (@NextID > 99999999) SET @NextID = 1

   SET @Done = 0
   
   WHILE (@Done = 0)
   BEGIN
      SET @TransCnt = 0
      IF @IsInt = 0
      BEGIN
         SET @TransID = CONVERT(varchar(8), @NextID)
         SET @TransID = REPLICATE('0',8-DATALENGTH(@TransID)) + @TransID
      END
      
      IF @FunctionID = 'EDISHIP'
         SELECT @TransCnt =  0 --Count(*) FROM dbo.tblSotransHeader WHERE MasterInvcNum = @TransID
      ELSE  
      SET @TransCnt = 0

      IF (@TransCnt > 0)
         SELECT @NextID = @NextID + 1
      ELSE
         SELECT @Done = 1
   END
   UPDATE dbo.tblSmTransID SET NextID = @NextID + 1
   WHERE FunctionID = @FunctionID  

   IF @IsInt=1 SET @TransID = cast(@NextID as varchar(8))

COMMIT TRANSACTION

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcNextTransId_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcNextTransId_proc'
GO
