USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPutAwayPost_UpdatePutAwayRequest_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPutAwayPost_UpdatePutAwayRequest_proc]
@TransId pTransId
AS
BEGIN TRY
	DECLARE @QtyPrec tinyint
	
	--Retrieve global values
	SELECT @QtyPrec = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecQty'
	
	IF @QtyPrec IS NULL OR @TransId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Update Non Serialized Items Records
	UPDATE Req
	SET Req.QtyFilled = ROUND(Req.QtyFilled + (CASE WHEN Req.UOM = MoveQty.[Unit] THEN MoveQty.Qty ELSE ((CAST(MoveQty.Qty AS decimal(23,10))*CAST(U2.ConvFactor AS decimal(23,10)))/U.ConvFactor) END),@QtyPrec) 
	, Req.[Status] = MoveQty.PutawayStatus
	FROM dbo.tblWmPutAwayRequest Req
	INNER JOIN #MoveQuantity MoveQty ON MoveQty.PutawayReqID IS NOT NULL AND MoveQty.PutawayReqID = Req.ID AND MoveQty.TransId = @TransId AND Req.ItemId = MoveQty.ItemId AND Req.LocId = MoveQty.LocId
	INNER JOIN dbo.tblInItemUom U ON Req.ItemId = U.[ItemId] AND Req.[Uom] = U.[Uom]
	INNER JOIN dbo.tblInItemUom U2 ON MoveQty.ItemId = U2.[ItemId] AND MoveQty.[Unit] = U2.[Uom]
	WHERE Req.ParentID IS NULL AND MoveQty.ItemType <> 2

	--Update Serial Child Records
	UPDATE Req
	SET Req.QtyFilled = 1.0
	, Req.[Status] = MoveQty.PutawayStatus
	FROM dbo.tblWmPutAwayRequest Req
	INNER JOIN #MoveQuantity MoveQty ON MoveQty.PutawayReqID IS NOT NULL AND MoveQty.SerNum IS NOT NULL AND MoveQty.PutawayReqID = Req.ParentID AND MoveQty.TransId = @TransId AND Req.ItemId = MoveQty.ItemId AND Req.LocId = MoveQty.LocId AND Req.SerNum = MoveQty.SerNum
	WHERE Req.ParentID IS NOT NULL AND MoveQty.ItemType = 2

	--Update Serial Parent Records
	UPDATE H
	SET H.QtyFilled = H.QtyFilled + ds.QtyFilled
	, h.[Status] = ds.PutawayStatus
	FROM tblWmPutAwayRequest H
	INNER JOIN
	(
		SELECT SUM(Req.QtyFilled) [QtyFilled], Req.ParentID
		, Max(isnull(MoveQty.PutawayStatus,0)) as PutawayStatus
		FROM dbo.tblWmPutAwayRequest Req
		INNER JOIN #MoveQuantity MoveQty ON MoveQty.PutawayReqID IS NOT NULL AND MoveQty.SerNum IS NOT NULL AND MoveQty.PutawayReqID = Req.ParentID AND MoveQty.TransId = @TransId AND Req.ItemId = MoveQty.ItemId AND Req.LocId = MoveQty.LocId AND Req.SerNum = MoveQty.SerNum
		WHERE Req.ParentID IS NOT NULL AND MoveQty.ItemType = 2
		GROUP BY Req.ParentID
	)ds ON ds.ParentID = H.ID
	WHERE H.ParentID IS NULL AND H.SerNum IS NULL


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_UpdatePutAwayRequest_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPutAwayPost_UpdatePutAwayRequest_proc'
GO
