USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidate_proc]     
   @ImportBatchId NVARCHAR(14) = '',    
   @KeyLevelSeq1 INT = 0,    
   @PartnerId BIGINT = 0,    
   @CustPoNum NVARCHAR(75) = '',    
   @LocId pLocID= '',    
   @ShipViaCode NVARCHAR(10) = '', 
   @TempTblName NVARCHAR(30) = '',
   @DfltSysDB   VARCHAR(10)  = 'SYS', 
   @TotalKeys INT = 0 OUT,
   @TotalKeysValid INT = 0 OUT,
   @TotalKeysError INT = 0 OUT,
   @TotalKeysWarning INT = 0 OUT,
   @TotalRows INT = 0 OUT     
AS      

SET NOCOUNT ON  

BEGIN TRY   
   -- Err status 0=OK,1=Warning,2=Error Cont, 3 = Err Stop
   DECLARE @SQL nvarchar(1000),
           @ErrCode int,
           @vIsError int = 2,
           @vIsWarning int = 1--,
  
   CREATE TABLE #sel(PoTempHeaderId bigInt)
   CREATE TABLE #selErrH(PoTempHeaderId bigInt,ImportBatchId nvarchar(14), KeyLevelSeq1 int)
   CREATE TABLE #selErrD(PoTempHeaderId bigInt,ImportBatchId nvarchar(14), KeyLevelSeq1 int, KeyLevelSeq2 int)
   CREATE TABLE #dups(ImportBatchId nvarchar(14), KeyLevelSeq1 int, SenderId nvarchar(50), EDIBillToCode nvarchar(50), EDIShipToCode nvarchar(50), CustPoNum nvarchar(50))
   
   IF ISNULL(@TempTblName,'')<>'' 
   BEGIN
      SET @SQL='SELECT ID FROM ' + @TempTblName 
      INSERT INTO  #sel (PoTempHeaderId)
      EXEC sp_executesql @SQL
   END
   ELSE
   BEGIN
      INSERT INTO #sel(PoTempHeaderId)
      SELECT h.Id
      FROM tblEcPoHeader h
      WHERE  (ImportBatchId = @ImportBatchId)    
         AND (ISNULL(@KeyLevelSeq1,0)=0 OR h.KeyLevelSeq1 = @KeyLevelSeq1)    
         AND (ISNULL(@PartnerId,0) = 0 OR h.PartnerId = @PartnerId)    
         AND (ISNULL(@CustPoNum,'')='' OR h.CustPoNum=@CustPoNum)   
   END

   DELETE e FROM dbo.tblEcPoErrorlog e
   INNER JOIN #sel s ON s.PoTempHeaderId = e.POHeaderID
 
   INSERT INTO #selErrH(PoTempHeaderId,ImportBatchId,KeyLevelSeq1)
   SELECT h.Id, h.ImportBatchId, h.KeyLevelSeq1
   FROM #sel s
   INNER JOIN tblEcPoHeader h ON s.PoTempHeaderId = h.Id

   IF ISNULL(@TempTblName,'')<>'' 
   BEGIN
      EXEC trav_EcPoValidateUpdate_proc @TempTblName = @TempTblName,
										@LocId = @LocId,
										@ShipViaCode = @ShipViaCode
   END
   ELSE
   BEGIN
      EXEC trav_EcPoValidateUpdate_proc @ImportBatchId= @ImportBatchId,
                                     @KeyLevelSeq1 = @KeyLevelSeq1,
                                     @CustPoNum = @CustPoNum,
                                     @LocId = @LocId,
                                     @ShipViaCode = @ShipViaCode
   END
   

   -- missing partner
   SELECT @ErrCode = 100

   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID, PODetailID, PartnerId, CustPoNum, LineNum, ErrCode,ErrDescr, ErrSequence, ErrRecType, ErrStatus, SkipValidationYN)
   SELECT DISTINCT h.Id, NULL, h.PartnerID,h.CustPoNum,0,@ErrCode,'PO ['+ ISNULL(h.CustpoNum,'')  +'], Mail ID ['+ISNULL(h.SenderID,'') +'], EDI Ship-To ['+ISNULL(h.EDIShipToCode,'')+'], EDI Bill-To ['+ISNULL(h.EDIBillToCode,'') +']. Partner not setup' ,0,1,@vIsError, 1                             
   FROM #selErrH e
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId = h.id 
   WHERE ISNULL(h.PartnerID, 0) = 0

   -- inactive partner 
   SELECT @ErrCode =100

   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT ds.POHeaderID, ds.PODetailID, ds.PartnerId, ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM (
	   SELECT DISTINCT h.Id [POHeaderID], NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,'Partner Id ['+ISNULL(p.PartnerID, '') +'] is not setup/active' as ErrDescr,0 ErrSequence,1 ErrRecType, 1 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id
	   LEFT JOIN tblEcPartner p (NOLOCK) ON ISNULL(h.PartnerID, 0) = p.ID
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(p.ActiveYn, 0) = 0  
   ) ds


   -- inactive po doc for partner    
   SELECT @ErrCode = 100

   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
      SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
      ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,'EDI PO Document is not setup/active for Partner Id ['+p.PartnerID +']' as ErrDescr ,0 ErrSequence,1 ErrRecType, 1 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id  
	   LEFT JOIN tblEcPartnerDoc pd (NOLOCK)  ON ISNULL(h.PartnerID,'') = pd.PartnerID  
	   INNER JOIN tblEcPartner p ON p.ID = pd.PartnerID
	   INNER JOIN tblEcDocument d ON d.ID = pd.DocID AND d.DocID='850-I'    
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(pd.ActiveYn,0) =0
      ) ds

   
   -- invalid customer
   INSERT INTO dbo.tblEcPoErrorlog (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,'Invalid Customer Id ['+ISNULL(h.CustID,'') +']' as ErrDescr ,0 ErrSequence,1 ErrRecType, 1 SkipValidationYN
	   FROM #selErrH e 
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id
	   LEFT JOIN tblArCust c ON ISNULL(h.CustId,'')=c.CustId    
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(c.CustId,'')=''
   ) ds
   

   -- duplicate in currect file.
   INSERT INTO #dups(ImportBatchId,SenderId,EDIBillToCode,EDIShipToCode,CustPoNum)
   SELECT MAX(h.ImportBatchId),h.SenderId,ISNULL(h.EDIBillToCode,''),ISNULL(h.EDIShipToCode,''),h.CustPoNum
   FROM dbo.tblEcPoHeader h
   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '14137BF5-91FB-45D8-9A0C-437992582467' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId --850I_OptAllowDuplicatePO
   WHERE ISNULL(o.OptValue,'0')='0'
   GROUP BY h.SenderId, h.EDIBillToCode, h.EDIShipToCode, h.CustPoNum
   HAVING COUNT(*) > 1 
  
   IF EXISTS (SELECT * FROM #dups)
   BEGIN
      UPDATE d SET KeyLevelSeq1 =x.KeyLevelSeq1
      FROM #dups d
      INNER JOIN (SELECT d.ImportBatchId,d.CustPoNum,d.SenderId,d.EDIBillToCode,d.EDIShipToCode,MAX(h.KeyLevelSeq1) KeyLevelSeq1
                   FROM #dups d
                   INNER JOIN dbo.tblEcPoHeader h ON h.ImportBatchId = h.ImportBatchId 
                   AND h.SenderID=d.SenderId
                   AND h.CustPONum=d.CustPoNum
                   AND ISNULL(h.EDIBillToCode,'') = d.EDIBillToCode
                   AND ISNULL(h.EDIShipToCode,'') = d.EDIShipToCode
                   GROUP BY d.ImportBatchId,d.CustPoNum,d.SenderId,d.EDIBillToCode,d.EDIShipToCode) x 
                   ON d.ImportBatchId = x.ImportBatchId
                   AND d.SenderId = x.SenderId
                   AND d.CustPoNum = x.CustPoNum
                   AND d.EDIBillToCode = x.EDIBillToCode
                   AND d.EDIShipToCode = x.EDIShipToCode
 
      SELECT @ErrCode =100

      INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                       LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
      SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,'Duplicate PO ['+ ISNULL(h.CustpoNum,'')  +'] for Partner ['+ ISNULL(CAST(h.PartnerID AS varchar) ,'')+CASE WHEN ISNULL(h.EDIShipToCode,'') ='' THEN '' ELSE  '/'+h.EDIShipToCode END +']. PO will be removed. ',0,1,@vIsWarning,0                          
      FROM #dups dup
      INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON dup.CustPoNum = h.CustPoNum AND dup.SenderId = h.SenderID AND dup.EDIBillToCode = h.EDIBillToCode AND dup.EDIShipToCode = h.EDIShipToCode

	     
      DELETE d
      FROM #dups dup      
      INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON dup.CustPoNum = h.CustPoNum AND dup.EDIBillToCode = h.EDIBillToCode AND dup.EDIShipToCode = h.EDIShipToCode
      INNER JOIN dbo.tblEcPoDetail d ON h.ID = d.POHeaderID
      WHERE h.ImportBatchId <> dup.ImportBatchId OR h.KeyLevelSeq1 <> dup.KeyLevelSeq1

      DELETE h
      FROM #dups dup      
      INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON dup.CustPoNum = h.CustPoNum AND dup.EDIBillToCode = h.EDIBillToCode AND dup.EDIShipToCode = h.EDIShipToCode
      WHERE h.ImportBatchId <> dup.ImportBatchId OR h.KeyLevelSeq1 <> dup.KeyLevelSeq1
   END 

   -- duplicate PO in history
   SELECT @ErrCode =100

   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,'PO ['+ ISNULL(h.CustpoNum,'')  +'] for Partner ['+ ISNULL(p.PartnerID,'')+CASE WHEN ISNULL(h.EDIShipToCode,'') ='' THEN '' ELSE  '/'+h.EDIShipToCode END +'] already exists in history' as ErrDescr,0 ErrSequence,1 ErrRecType,1 SkipValidationYN                         
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1  
	   LEFT JOIN tblEcPartner p ON h.PartnerId = p.ID
	   INNER JOIN dbo.tblEcPoHistHeader ph (NOLOCK) ON h.CustPoNum = ph.CustPoNum AND ISNULL(h.EDIBillToCode,'')=ISNULL(ph.EDIBillToCode,'')  AND ISNULL(h.EDIShipToCode,'')=ISNULL(ph.EDIShipToCode,'') AND ph.DeleteDate IS NULL      
	   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '14137BF5-91FB-45D8-9A0C-437992582467' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId --850I_OptAllowDuplicatePO
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(o.OptValue,'0')='0'
   )ds

   
   -- Already processed into sales orders
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,
			 'PO ['+ h.CustpoNum  +'] for Customer ['+ s.CustId +'], Ship-To ['+ISNULL(d.SOShipToID,'')+ '] already processed into sales orders ['+ISNULL(MAX(s.TransId),'')+']'as ErrDescr,0 ErrSequence,1 ErrRecType,0 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id  
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID    
	   INNER JOIN dbo.tblSoTransHeader s (NOLOCK) ON ISNULL(h.CustID,'')=s.CustId AND ISNULL(h.CustPoNum,'')=s.CustPoNum AND ISNULL(d.SOShipToID,'')=ISNULL(s.ShipToID,'')
	   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '14137BF5-91FB-45D8-9A0C-437992582467' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId --850I_OptAllowDuplicatePO
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(s.VoidYn,0)=0  AND ISNULL(o.OptValue,'0')='0'
	   GROUP BY h.Id,e.PoTempHeaderId,e.ImportBatchId,e.KeyLevelSeq1,h.PartnerID,h.CustPoNum,s.CustId,d.SOShipToID
   )ds


   -- Already processed into AR History
  INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
  SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,
			 'PO ['+ h.CustpoNum  +'] for Customer ['+ ar.CustId +'], Ship-To ['+ISNULL(d.SOShipToID,'')+ '] already posted into Accounts Receivable ['+ISNULL(MAX(ar.TransId),'')+']' as ErrDescr,0 ErrSequence,1 ErrRecType,0 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id 
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID   
	   INNER JOIN dbo.tblArHistHeader ar (NOLOCK) ON h.CustId = ar.CustId AND h.CustPoNum = ar.CustPoNum AND ISNULL(d.SOShipToID,'')=ISNULL(ar.ShipToID,'') 
	   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '14137BF5-91FB-45D8-9A0C-437992582467' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId --850I_OptAllowDuplicatePO
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(o.OptValue,'0')='0'
	   GROUP BY h.Id,e.PoTempHeaderId,e.ImportBatchId,e.KeyLevelSeq1,h.PartnerID,h.CustPoNum,ar.CustId,d.SOShipToID
   )ds

    
   -- No EDI Ship To in file and the Address is incomplete
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,
   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code is blank and the Address in the file is incomplete. Name [' + ISNULL(ShipToName,'') +'], Addr1 ['+ISNULL(ShipToAddr1,'')+'] City [' + ISNULL(ShipToCity,'') +'], Region [' + ISNULL(ShipToRegion,'') +'], Postal [' + ISNULL(ShipToPostalCode,'') +']' ,500),0,1,@vIsError,1
   FROM #selErrH e
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id
   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
   WHERE l.Id IS NULL AND ISNULL(h.EDIShipToCode,'')='' AND
        (ISNULL(h.ShipToName,'')='' OR ISNULL(h.ShipToAddr1,'')='' OR ISNULL(ShipToCity,'')='' OR ISNULL(ShipToRegion,'')='' OR ISNULL(ShipToPostalCode,'') ='')

   -- EDI Ship To was in file but could not be found in AR and the option is set to show an error = error
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,
         LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code ['+ISNULL(h.EDIShipToCode,'')+'] not setup in Traverse. Name [' + ISNULL(ShipToName,'') +'], Addr1 ['+ISNULL(ShipToAddr1,'')+'] City [' + ISNULL(ShipToCity,'') +'], Region [' + ISNULL(ShipToRegion,'') +'], Postal [' + ISNULL(ShipToPostalCode,'') +']' ,500),0,1,@vIsError,1
   FROM #selErrH e                                                   
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id
   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '2F8A743F-EF07-4999-B964-3F40FA1092C8' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerId  --850I_OptShipToNotFound
   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
   WHERE l.Id IS NULL AND ISNULL(h.EDIShipToCode,'') <> '' AND ISNULL(h.ARShipToID,'') = '' AND ISNULL(o.OptValue,'0')='1'


   -- EDI Ship To was in file but could not be found in AR and the info in the file is not complete = error
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum ,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,
   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code ['+ISNULL(h.EDIShipToCode,'')+'] not found in Traverse and the address in the PO is incomplete. Name [' + ISNULL(ShipToName,'') +'], Addr1 ['+ISNULL(ShipToAddr1,'')+'] City [' + ISNULL(ShipToCity,'') +'], Region [' + ISNULL(ShipToRegion,'') +'], Postal [' + ISNULL(ShipToPostalCode,'') +']' ,500),0,1,@vIsError,1
   FROM #selErrH e
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id  
   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
   WHERE l.Id IS NULL AND ISNULL(h.EDIShipToCode,'')<>'' AND ISNULL(h.ARShipToID,'')=''
      AND(ISNULL(ShipToName,'')='' OR ISNULL(h.ShipToAddr1,'')='' OR ISNULL(ShipToCity,'')='' OR ISNULL(ShipToRegion,'')='' OR ISNULL(ShipToPostalCode,'') ='')

   -- EDI Ship To was in file but could not be found in AR and the address in the file is complete = warning
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT DISTINCT h.Id,NULL,h.PartnerID,h.CustPoNum,0,@ErrCode,
      LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code ['+ISNULL(h.EDIShipToCode,'')+'] not found in Traverse,  using the address from the PO. Name [' + ISNULL(ShipToName,'') +'], Addr1 ['+ISNULL(ShipToAddr1,'')+'] City [' + ISNULL(ShipToCity,'') +'], Region [' + ISNULL(ShipToRegion,'') +'], Postal [' + ISNULL(ShipToPostalCode,'') +']' ,500),0,1,@vIsWarning,0
   FROM #selErrH e 
   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.PoTempHeaderId=h.id 
   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(h.EDIShipToCode,'')<>'' AND ISNULL(h.ARShipToID,'')=''
   AND   NOT  (ISNULL(ShipToName,'')='' OR ISNULL(h.ShipToAddr1,'')='' OR ISNULL(ShipToCity,'')='' OR ISNULL(ShipToRegion,'')='' OR ISNULL(ShipToPostalCode,'') ='')


   -- EDI Ship To was in file and was found in AR but the address is incomplete 
  INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum ,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
  SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsWarning,ds.SkipValidationYN
  FROM
  (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,
	   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code ['+h.EDIShipToCode+']. AR Ship-To ['+ISNULL(h.ARShipToID,'')+'] found but address in AR is incomplete. Name [' + ISNULL(d.SOShipToName,'') +'], Addr1 ['+ISNULL(d.SOShipToAddr1,'')+'] City [' + ISNULL(d.SOShipToCity,'') +'], Region [' + ISNULL(d.SOShipToRegion,'') +'], Postal [' + ISNULL(d.SOShipToPostalCode,'') +']' ,500) AS ErrDescr,0 ErrSequence,1 ErrRecType,1 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1 
	   INNER JOIN (SELECT POHeaderID, MIN(KeyLevelSeq2) KeyLevelSeq2
				   FROM tblEcPoDetail
				   GROUP BY POHeaderID) d_key ON h.ID = d_key.POHeaderID
	   INNER JOIN tblEcPoDetail d ON d_key.POHeaderID = d.POHeaderID AND d_key.KeyLevelSeq2 = d.KeyLevelSeq2
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL 
	   AND ISNULL(h.EDIShipToCode,'') <> '' 
	   AND ISNULL(h.ARShipToID,'') <> '' 
	   AND (ISNULL(d.SOShipToName,'') = '' 
			OR ISNULL(d.SOShipToAddr1,'') = '' 
			OR ISNULL(d.SOShipToCity,'')='' 
			OR ISNULL(d.SOShipToRegion,'')='' 
			OR ISNULL(d.SOShipToPostalCode,'') ='')
	)ds

   -- EDI Ship To was in file and was found in AR but the address does not match the one in the file (only if an address was sent)
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsWarning,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],NULL [PODetailID],h.PartnerID,h.CustPoNum,0 LineNum,
	   LEFT('PO ['+ h.CustpoNum  +'] for Customer ['+ h.CustId +'], EDI Ship To Code ['+h.EDIShipToCode+']. AR Ship-To ['+ISNULL(h.ARShipToID,'')+'] found but address in AR is does not match the one in the file. Name [' + ISNULL(d.ShipToName,'') +'], Addr1 ['+ISNULL(d.ShipToAddr1,'')+'], Addr2 ['+ISNULL(d.ShipToAddr2,'')+'], City [' + ISNULL(d.ShipToCity,'') +'], Region [' + ISNULL(d.ShipToRegion,'') +'], Postal [' + ISNULL(d.ShipToPostalCode,'') +']' ,500) as ErrDescr,0 ErrSequence,1 ErrRecType,0 SkipValidationYN
	   FROM #selErrH e
	   INNER JOIN dbo.tblEcPoHeader h (NOLOCK) ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1 
	   INNER JOIN (SELECT POHeaderId,MIN(KeyLevelSeq2) KeyLevelSeq2
				   FROM tblEcPoDetail
				   GROUP BY ID, POHeaderID) d_key ON h.ID = d_key.POHeaderID
	   INNER JOIN tblEcPoDetail d ON d_key.POHeaderId = d.POHeaderId AND d_key.KeyLevelSeq2 = d.KeyLevelSeq2
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID IS NULL AND l.SkipValidationYN = 1
	   WHERE l.Id IS NULL AND ISNULL(h.EDIShipToCode,'')<>'' AND ISNULL(h.ARShipToID,'')<>'' AND
		   (ISNULL(d.SOShipToName,'') <>ISNULL(d.ShipToName,'')  OR ISNULL(d.SOShipToAddr1,'')<>ISNULL(d.ShipToAddr1,'') OR ISNULL(d.SOShipToAddr2,'')<>ISNULL(d.ShipToAddr2,'') OR ISNULL(d.SOShipToCity,'')<> ISNULL(d.ShipToCity,'') OR ISNULL(d.SOShipToRegion,'')<>ISNULL(d.ShipToRegion,'') OR ISNULL(d.SOShipToPostalCode,'') <>ISNULL(d.ShipToPostalCode,''))
			AND ISNULL(d.ShipToName,'')<>'' AND ISNULL(d.ShipToAddr1,'')<>''
	)ds
   
   -- *** DETAIL *** --
   INSERT INTO #selErrD(PoTempHeaderId,ImportBatchId,KeyLevelSeq1,KeyLevelSeq2)
   SELECT h.Id, h.ImportBatchId, h.KeyLevelSeq1, d.KeyLevelSeq2
   FROM #selErrH e  
   INNER JOIN tblEcPoHeader h ON e.PoTempHeaderId=h.id
   INNER JOIN tblEcPoDetail d ON h.ID = d.POHeaderID

   -- missing item
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum ,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 

   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			   'PO ['+ h.CustpoNum  +'],  ['+CASE ISNULL(o.OptValue,5) WHEN 0 THEN 'Item Id' 
					   WHEN 1 THEN 'EAN' 
					   WHEN 2 THEN 'UPC'
					   WHEN 3 THEN 'GTIN'
					   WHEN 4 THEN 'SKU'
					   WHEN 5 THEN 'Item Buyer Code'
					   WHEN 6 THEN 'Item Vendor Code'
					   ELSE 'Item UIR' END +'] ['+ISNULL(d.ItemUir,'') +'], PO UOM ['+ISNULL(d.POUnitsSell,'')+'], Descr ['+ISNULL(d.ItemDescr,'')+'] not setup' as ErrDescr ,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2 = d.KeyLevelSeq2
	   LEFT JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '404D22FA-1457-492F-B09A-6AA5E1C782B1' AND d.ContextType = 7) o ON h.PartnerID=o.PartnerId --GenDfltUIRType
	   WHERE ISNULL(ItemId ,'') =''
   )ds

   -- missing location
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 LineNum,
		  'PO ['+ h.CustpoNum  +'], Item ID ['+ISNULL(d.ItemId,'')+']. Location ['+ISNULL(d.LocId,'') +'] missing or not setup' as ErrDescr,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2 = d.KeyLevelSeq2 
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND ISNULL(LocId ,'') =''
   )ds

   -- check item status (obsolte)
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			   'PO ['+ h.CustpoNum  +'] Item ['+ISNULL(d.ItemID,'') +'] invalid Item status' as ErrDescr ,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2 = d.KeyLevelSeq2
	   INNER JOIN tblInItem i ON d.ItemID=i.ItemId
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND i.ItemStatus<>1
   )ds

   -- check item Alias if missing partner option
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,CASE WHEN OptValue='1' THEN @vIsError ELSE @vIsWarning END,CASE WHEN ds.OptValue='1' THEN 1 ELSE 0 END 
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			  'PO ['+ h.CustpoNum  +'] Customer ['+ISNULL(h.CustID,'') +'] Item ['+ISNULL(d.ItemID,'') +'] Alias not set up' as ErrDescr ,0 ErrSequence,0 ErrRecType,OptValue
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.ImportBatchId=h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID=d.POHeaderID AND e.KeyLevelSeq2=d.KeyLevelSeq2 
	   INNER JOIN (SELECT p.ID AS PartnerId, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '8587bda1-3eed-4bb5-9e6d-6f0c1c62fe6b' AND d.ContextType = 7 AND ISNULL(d.DefaultValue,'2') <> '2') as opt ON h.PartnerID=opt.PartnerId --850I_OptMissingItemAlias
	   LEFT JOIN (SELECT * FROM tblInItemAlias WHERE AliasType=1) ia ON h.CustID=ia.RefID AND d.ItemID=ia.ItemID 
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND ia.ItemID IS NULL
   )ds 

      -- item not found in location
	 INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
										LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN)     
	 SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPoNum,ds.KeyLevelSeq2detail, 
	 @ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
	 FROM (
		   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 KeyLevelSeq2detail,
				'PO ['+ h.CustpoNum  +'] Item ['+ISNULL(d.ItemID,'') +'] not found in Location [' +d.LocId+']' as ErrDescr,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
		   FROM #selErrD e
		   INNER JOIN dbo.tblEcPoHeader h ON e.ImportBatchId = h.ImportBatchId AND e.KeyLevelSeq1=h.KeyLevelSeq1
		   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2=d.KeyLevelSeq2 
		   LEFT JOIN tblInItemLoc il ON d.ItemID=il.ItemId AND d.LocId=il.LocId
		   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
		   WHERE l.id IS NULL AND il.ItemId IS NULL
	 )ds

   -- zero Qty Ord
   INSERT INTO dbo.tblEcPoErrorlog  (POHeaderID,PODetailID,PartnerId,CustPoNum,
                                    LineNum, ErrCode,ErrDescr,ErrSequence,ErrRecType,ErrStatus,SkipValidationYN) 
   SELECT ds.POHeaderID,ds.PODetailID,ds.PartnerId,ds.CustPONum,
		  ds.LineNum,@ErrCode,ds.ErrDescr,ds.ErrSequence,ds.ErrRecType,@vIsError,ds.SkipValidationYN
   FROM
   (
	   SELECT DISTINCT h.Id [POHeaderID],d.Id [PODetailID],h.PartnerID,d.CustPoNum,d.KeyLevelSeq2 as LineNum,
			   'PO ['+ h.CustpoNum  +'] Item ['+ISNULL(d.ItemID,'') +'] Qty Ordered is zero'  as ErrDescr,0 ErrSequence,0 ErrRecType,1 SkipValidationYN
	   FROM #selErrD e
	   INNER JOIN dbo.tblEcPoHeader h ON e.PoTempHeaderId=h.id
	   INNER JOIN dbo.tblEcPoDetail d (NOLOCK) ON h.ID = d.POHeaderID AND e.KeyLevelSeq2 = d.KeyLevelSeq2 
	   LEFT JOIN dbo.tblEcPoErrorLog l ON l.POHeaderID = h.Id AND l.PODetailID = d.Id AND l.SkipValidationYN = 1
	   WHERE l.id IS NULL AND ISNULL(d.QtyOrd,0)=0
   )ds

END TRY
BEGIN CATCH  
   EXEC dbo.trav_RaiseError_proc 
END CATCH   
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidate_proc'
GO
