USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransPost_GainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransPost_GainLoss_proc]  
AS  
Set NoCount ON  
  
BEGIN TRY  
 DECLARE @TransType nvarchar(10)  
 DECLARE @BaseCurrency [nvarchar](6)  
 DECLARE @PostRun [nvarchar](14)  
 DECLARE @GLYN bit  
 DECLARE @Multicurr bit  
 DECLARE @WrkStnDate datetime  
 DECLARE @TransTypeInvoice nvarchar(10)  
 DECLARE @BaseCurrencyPrecision Tinyint  
   
 --Retrieve global values  
 SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'ARTRANS'  
 SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice' -- 'ARINVOICE'  
 SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
 SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'  
 SELECT @GLYN = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlYn'  
 SELECT @Multicurr = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'  

 SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
 SELECT @BaseCurrencyPrecision = CurrDecPlaces FROM tblSmCurrency WHERE CurrID = @BaseCurrency  

 IF @PostRun IS NULL OR @BaseCurrency IS NULL   
   
 BEGIN  
  THROW 90025, N'Missing global value.', 1  
 END  
    
 CREATE TABLE #InvoiceRateAmounts  
 (  
   TransID [nvarchar](8) NULL    
  , ReceivablesAmount [decimal](28,10) NULL  
  , BaseAmount [decimal](28,10) NULL  
    
 )  
  
 -- Convert the Credit Memo  amounts to the receivables and Invoice  currencies  using Credit Memo Exchange rates )  
 INSERT INTO #GainLossTrans(PostRun,TransID,AmtFgn,Amt,PaymentCurrency,OrgInvoiceID,AppliedAmount,AppliedDiscount,  
 InvCurrency,InvExhRate, AcctIDOffset, ReceivableCurrency,ReceivableAmount)  
 SELECT @PostRun,h.TransId  
  , TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn  + TaxAmtAdjFgn + FreightFgn + MiscFgn  
  , TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc  
  , h.CurrencyID  
  , h.OrgInvoiceID
  , CASE WHEN  i.CurrencyId=h.CurrencyID  THEN h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn  + h.TaxAmtAdjFgn + h.FreightFgn + MiscFgn  
    ELSE  
     CASE WHEN i.CurrencyId=@BaseCurrency THEN TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc  
     ELSE ROUND(et.Rate * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn  + h.TaxAmtAdjFgn + h.FreightFgn + MiscFgn),et.CurrDecPlaces)  
     END   
    END  
    
   ,CASE WHEN  i.CurrencyId=h.CurrencyID  THEN h.DiscAmtFgn  
        ELSE  
     CASE WHEN i.CurrencyId=@BaseCurrency THEN h.DiscAmt  
       ELSE ROUND(et.Rate * h.DiscAmtFgn,et.CurrDecPlaces)  
     END   
    END  
  ,i.CurrencyId  
  ,i.ExchRate  
  ,g.AcctId  
  ,g.CurrencyID  
  ,CASE WHEN  g.CurrencyId=h.CurrencyID  THEN h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn  + h.TaxAmtAdjFgn + h.FreightFgn + MiscFgn  
     ELSE  
      CASE WHEN g.CurrencyId=@BaseCurrency THEN TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj + Freight + Misc  
      ELSE ROUND(etr.Rate * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn  + h.TaxAmtAdjFgn + h.FreightFgn + MiscFgn),etr.CurrDecPlaces)  
      END   
    END  
 FROM dbo.tblArTransHeader h   
 INNER JOIN #PostTransList b on h.TransId = b.TransId  
 INNER JOIN tblArOpenInvoice i ON h.OrgInvoiceID= i.[Counter]  
 INNER JOIN tblArCust c ON c.CustId =h.CustId  
 LEFT JOIN [dbo].tblArDistCode d ON i.DistCode = d.DistCode  
 LEFT JOIN [dbo].tblGlAcctHdr g ON d.GLAcctReceivables = g.AcctId  
 LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e  
     INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et  
	 ON  et.[Source] =h.CurrencyID  AND et.Destination= i.CurrencyId AND et.TransKey=h.TransId   
 LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey,TransType FROM tblSmExchangeRateTrans e  
     INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) etr  
	 ON  etr.[Source] =h.CurrencyID  AND etr.Destination= g.CurrencyId AND etr.TransKey=h.TransId   
 WHERE c.AcctType<>1   AND i.Status <> 4
  
  
  IF @Multicurr=1
  BEGIN  
	 -- Convert the Credit Memo  amounts to the receivables and Invoice  currencies  using Invoice Exchange rates  
	 INSERT INTO  #InvoiceRateAmounts(TransID,ReceivablesAmount,BaseAmount)  
	   
	 SELECT t.TransID  
		,CASE WHEN  t.ReceivableCurrency=t.InvCurrency  THEN t.AppliedAmount  
			ELSE  
		 CASE WHEN t.ReceivableCurrency=@BaseCurrency THEN Round(t.AppliedAmount/t.InvExhRate,@BaseCurrencyPrecision)  
		   ELSE ROUND(et.Rate * t.AppliedAmount,et.CurrDecPlaces)  
		 END   
		END   
	   ,CASE WHEN t.InvCurrency=@BaseCurrency THEN t.AppliedAmount   
		 ELSE ROUND(t.AppliedAmount/t.InvExhRate,@BaseCurrencyPrecision)  
		END   
	 FROM #GainLossTrans t  
	 LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e  
		 INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypeInvoice) et  
	 ON  et.[Source] =t.InvCurrency  AND et.Destination= t.ReceivableCurrency AND et.TransKey=t.OrgInvoiceID   
	
	 -- Update gain/loss Values  
	   
	 UPDATE g  SET GainLossAmountbase = ( g.Amt- i.BaseAmount)  
		, AmountOffset= (g.ReceivableAmount-i.ReceivablesAmount)  
		, AcctIdGainLoss = CASE WHEN (g.Amt-i.BaseAmount)> 0 THEN c.GlAcctRealGain ELSE c.GlAcctRealLoss END    
	 FROM #GainLossTrans g  
		 INNER JOIN #InvoiceRateAmounts i ON g.TransID=i.TransID  
	  LEFT JOIN tblSmCurrency c ON g.ReceivableCurrency =c.CurrID   
	 
	   
	 UPDATE g  SET AmountGainLoss = CASE WHEN h.CurrencyID= g.ReceivableCurrency THEN g.AmountOffset ELSE GainLossAmountbase END  
	 FROM #GainLossTrans g  
	 INNER JOIN tblGlAcctHdr h ON g.AcctIdGainLoss = h.AcctId  
	
	 --Raise Exception if Invalid Exchange rate Exists  
	   
	 IF EXISTS (SELECT TransID FROM  #GainLossTrans  WHERE GainLossAmountbase IS NULL  OR AmountOffset IS NULL)  
	 BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	 END  

	 -- Generate the GL Gain/Loss Transactions when interfaced to GL  
	 if @GLYN = 1  
	 BEGIN  
	  INSERT INTO tblGlGainLoss (EntryDate, TransDate, PostRun, AcctIDOffset, AcctIDGainLoss, AmountOffset, AmountGainLoss  
	  , AmountBase, FiscalPeriod, FiscalYear, FunctionID, SourceCode, LinkPostRun, LinkID, LinkIDSub, LinkIDSubLine)  
	    
	  SELECT @WrkStnDate, h.InvcDate, NULL, AcctIDOffset, AcctIdGainLoss,AmountOffset, AmountGainLoss  
	  , g.GainLossAmountbase, h.GlPeriod, h.FiscalYear, @TransType, 'AR', @PostRun, h.TransId, h.InvcNum, -6    
	  FROM #GainLossTrans g  
	  INNER JOIN tblArTransHeader h on h.TransId = g.TransID  
	  WHERE AmountOffset<>0 OR GainLossAmountbase <>0 
	   
	 END  
END
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_GainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_GainLoss_proc'
GO
