USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcAsn_ExportAPT_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcAsn_ExportAPT_proc]
@PostRun [nvarchar](14) ='',
@TotCount int =0 OUT 
AS
SET NOCOUNT ON 
BEGIN TRY  
	DECLARE @I int,
		@CurrAsnNumber int,
		@CurrPartnerId bigint,
		@CurrPartnerDescr nvarchar(12),
		@CurrPostRun [nvarchar](14) = null,
		@CurrShipmentId bigint,
		@CurrIsDeleteYn bit,
		@ISAControlNum nvarchar(15),
		@GSControlNum nvarchar(15),
		@STControlNum nvarchar(15),
		@AccountNumber nvarchar(15), 
		@Version nvarchar(10),
		@SendDate nvarchar(8),
		@SendTime nvarchar(4),
		@CurrTransId [nvarchar](8) ,
		@ShipFromCode [nvarchar](10) ,
		@ShipFromName nvarchar(35),
		@ShipFromAddr1 nvarchar(30),
		@ShipFromAddr2 nvarchar(60),
		@ShipFromCity nvarchar(30),
		@ShipFromRegion nvarchar(10),
		@ShipFromPostalCode nvarchar(10),
		@ShipFromCountry [nvarchar](6) ,
		@ShipToId nvarchar(20),
		@ShipToCode nvarchar(24),
		@ShipToName nvarchar(35),
		@ShipToAddr1 nvarchar(30),
		@ShipToAddr2 nvarchar(60),
		@ShipToCity nvarchar(30),
		@ShipToRegion nvarchar(10),
		@ShipToPostalCode nvarchar(10),
		@ShipToCountry [nvarchar](6) ,
		@CurrBuyerCode nvarchar(50),
		@CurrUCC128 nvarchar(50),
		@CustPoNum nvarchar(50),
		@InvcDate DateTime,
		@UserID [nvarchar](20),
		@WrkStnID [nvarchar](20),
		@ConfigValue nvarchar (255),
		@RetVal INT,
		@Status nvarchar(50),
		@gQtyPrec smallint,
		@gUPricePrec smallint = 2, 
		@OptAsnRequireAllSoLines bit,
		@856OptUsePoPricingYN BIT,
		@Opt856OptASNType SMALLINT,
		@CurrMailQual nvarchar(10),
		@CurrReceiverId  nvarchar(20) ,
		@CurrReceiverIdGS nvarchar(20) ,
		@EDIPartnerCarrierCode nvarchar(50),
		@EDISCACCode nvarchar(50),
		@ShipVia nvarchar(50),
		@BuyerName nvarchar(50),
		@BuyerAddr1 nvarchar(50),
		@BuyerAddr2 nvarchar(60),
		@BuyerCity nvarchar(30),
		@BuyerRegion nvarchar(50),
		@BuyerPostalCode nvarchar(20),
		@BuyerCountryCode nvarchar(6), 
		@CurrFilePath nvarchar(500),
		@DocID bigint,
		@PODocID bigint,
		@EOL nvarchar(5),
		@TestModeYN bit,
		@HandleLog bit = 0,
		@IsLive bit = 1,
		@TempASNNumber int,
      	@NextASNID int, 
		@FunctionIDASN nvarchar(10),
		@ASNRecordCount int,
		@A int,
		@MailControlID bigint

		SELECT @DocID = ID
		FROM tblEcDocument WHERE DocId = '856-O'
   
	   SELECT @PoDocID = ID
			FROM tblEcDocument WHERE DocId = '850-I'
	IF OBJECT_ID('tempdb..#tmpExportLog') IS NOT NULL
		SET @HandleLog = 1

	SET @TestModeYN=0
	SET @EOL='?^?^'
	SELECT @SendDate=CONVERT(varchar,GETDATE(),112),
			@SendTime =REPLACE(LEFT(CONVERT(varchar,getdate(),108),5),':','')

	IF ISNULL(@PostRun,'')=''
	BEGIN
		SET @PostRun=REPLACE(REPLACE(REPLACE(CONVERT(varchar,GETDATE(),120),' ',''),'-',''),':','')
	END 	

	SELECT @UserID = [Value] FROM #GlobalValues WHERE [Key] = 'UserID'
	SELECT @WrkStnID= [Value] FROM #GlobalValues WHERE [Key] = 'WrkStnID'

	SET @CurrIsDeleteYn=0
	DELETE FROM dbo.tblEcTempExport WHERE DocID=@DocID
	
	DELETE FROM dbo.tblEcAsnExportLog

	-- get all valid trans id
	CREATE TABLE #TranTmp (ID int IDENTITY(1,1),PostRun [nvarchar](14) NULL,PartnerId bigint
							, ShipmentId bigint, AsnNumber int NULL, CustPONum varchar(75), MinTransID [nvarchar](8) NOT NULL, IsDeleteYn Bit
							, EDIAcctNum varchar(20), EDIShipToCode nvarchar(50), ShipVia nvarchar(50), PartnerDescr nvarchar(12) NULL, 
							MailID nvarchar(20) NULL, CustId nvarchar(10) NOT NULL, ShipToId nvarchar(10) NULL, TPCode nvarchar(12))
 

	CREATE TABLE #TranShip(PostRun [nvarchar](14) NULL, PartnerId bigint,ShipmentId bigint, TransId [nvarchar](8) NOT NULL, EDIStoreCode NVARCHAR(20))

	CREATE TABLE #tmpSoHeader (PostRun [nvarchar](14) NULL, 
								TransID [nvarchar](8) NOT NULL,
								EDIStoreCode NVARCHAR(50), 
								EDIProductGroup NVARCHAR(50),
								CustPoNum NVARCHAR(75),
								PoDate DATETIME, 
								EDIDeptID NVARCHAR(50) ,
								EDIPartnerId NVARCHAR(50),
								ShipmentId BIGINT,
								EDIInvcNum  NVARCHAR(50),
								EDIAcctNum NVARCHAR(60),
								EDIShipToCode NVARCHAR(50),
								DropShipYN bit,
								CustId [nvarchar](10) NOT NULL,
								ShipToId [nvarchar](10) NULL,
								ReleaseNumber nvarchar(50) NULL,
								PickNum nvarchar(15) NULL)
                                  
                        
	CREATE TABLE #tmpSoLine(PostRun       [nvarchar](14) NULL,
							TransId       [nvarchar](8) NOT NULL,
							EntryNum      INT,
							PartnerId     bigint,
							ShipmentId    bigint,
							ItemId        [nvarchar](24) NULL,
							BuyerCode     NVARCHAR(100),
							UnitsSell     NVARCHAR(10),
							PoQty		  [decimal](28,10) NULL,
							UnitsBase	  [nvarchar](5)  NULL,
							POLineNum nvarchar(50) NULL, 
							ItemEAN nvarchar(50), 
							ItemGTIN nvarchar(50),
							ItemVendorCode nvarchar(50),
							ItemUPC nvarchar(50),
							ItemDescr nvarchar(100),
							EDIUom nvarchar(50),
							ItemBuyerCode nvarchar(50)
							)

	--Set ASN record to On Hold if Invoice Number is required and Invoice Number is missing
	UPDATE dbo.tblEcComm SET OnHoldYn = 1
	FROM  dbo.tblEcComm c
		INNER JOIN (SELECT s.PartnerID, s.Custid,s.ID as ShipmentID,s.shipviacode,h.AsnNumber,MIN(h.TransId)TransId, 0 IsDeleteYn,CustPoNum,s.ShiptoId
				FROM dbo.tblEcPackHeader h
				INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentId=s.ID
				GROUP BY s.PartnerID,s.Custid,s.ID,s.shipviacode,AsnNumber,CustPoNum,s.ShiptoId) h ON c.DocKey=h.TransID
		INNER JOIN dbo.tblEcPartner p ON p.ID = h.PartnerId
		INNER JOIN dbo.tblSoTransHeader t ON h.TransId = t.TransId 
		LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '079C4516-1511-4E4A-96F1-6AC519E58590' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerID --Require Invoice Number
	WHERE c.DocID=@DocID AND c.OnHoldYn = 0 AND ISNULL(o.OptValue,'0') = '1' AND ISNULL(t.InvcNum,'') = ''

	-- select all Transactions to ship (on record per shipment)
	INSERT INTO #TranTmp (PostRun, PartnerId,ShipmentId,AsnNumber ,CustPONum,MinTransID,IsDeleteYn,ShipVia, PartnerDescr, CustId, ShipToId, TPCode)
	SELECT  c.PostRun,h.PartnerId,h.ShipmentId,NULL , CustPoNum  ,h.TransId,IsDeleteYn ,ShipViaCode, p.PartnerID, h.CustId, h.ShiptoId, NULL
	FROM  dbo.tblEcComm c
	INNER JOIN (SELECT s.PostRun,s.PartnerID, s.Custid,s.ID as ShipmentID,s.shipviacode,h.AsnNumber,MIN(h.TransId)TransId, 0 IsDeleteYn,CustPoNum,s.ShiptoId
				FROM dbo.tblEcPackHistHeader h
				INNER JOIN dbo.tblEcPackHistShipment s ON h.PostRun=s.PostRun AND h.ShipmentId=s.ID
				GROUP BY s.PostRun,s.PartnerID,s.Custid,s.ID,s.shipviacode,AsnNumber,CustPoNum,s.ShiptoId
				UNION ALL 
				SELECT NULL as PostRun,s.PartnerID, s.Custid,s.ID as ShipmentID,s.shipviacode,h.AsnNumber,MIN(h.TransId)TransId, 0 IsDeleteYn,CustPoNum,s.ShiptoId
				FROM dbo.tblEcPackHeader h
				INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentId=s.ID
				GROUP BY s.PartnerID,s.Custid,s.ID,s.shipviacode,AsnNumber,CustPoNum,s.ShiptoId) h ON c.PostRun=ISNULL(h.PostRun, c.PostRun) AND c.DocKey=h.TransID
	INNER JOIN dbo.tblEcPartner p ON p.ID = h.PartnerId
	WHERE c.DocID=@DocID AND c.OnHoldYn = 0

	--get mail ID
	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
	WHERE d.DocID = @DocID AND d.MailIDKeyType = 0 --No Override

	UPDATE #TranTmp SET MailID = m.SenderID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblEcMailControl m ON t.CustPONum = m.DocKey AND t.PartnerId = m.PartnerId
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND m.DocID = @PODocID AND d.MailIDKeyType = 90 --FromInbound, '850-I' 

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND d.DocID = o.DocID AND t.ShipToId = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND d.MailIDKeyType = 1 --ARShipToId, '856-O'
	
	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND t.ShipToId = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND o.DocID = @PoDocID AND d.MailIDKeyType = 1 --ARShipToId, '850-I'  

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblArShipTo a ON t.CustId = a.CustId AND t.ShipToId = a.ShiptoId
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND d.DocID = o.DocID AND a.EDIShipToCode = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND d.MailIDKeyType = 2 --ShipToCode, '856-O'  

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
		INNER JOIN dbo.tblArShipTo a ON t.CustId = a.CustId AND t.ShipToId = a.ShiptoId
		INNER JOIN dbo.tblEcPartnerDocOverride o ON t.PartnerId = o.PartnerID AND a.EDIShipToCode = o.KeyVal
	WHERE t.MailID IS NULL AND d.DocID = @DocID AND o.DocID = @PoDocID AND d.MailIDKeyType = 2 --ShipToCode, '850-I'    

	UPDATE #TranTmp SET MailID = d.MailID
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID
	WHERE t.MailID IS NULL AND d.DocID = @DocID --Default

	--get TP Code
	UPDATE #TranTmp SET TPCode = m.TPCode
	FROM #TranTmp t INNER JOIN dbo.tblEcPartnerDoc d ON t.PartnerId = d.PartnerID 
		INNER JOIN dbo.tblEcMailControl m ON t.CustPONum = m.DocKey AND t.PartnerId = m.PartnerId 
	WHERE d.DocID = @DocID AND m.DocID = @PODocID AND d.MailIDKeyType = 90 --FromInbound, '850-I' 

	-- get all line items for selected (one record per sales order)
	INSERT INTO #TranShip(PostRun,PartnerId,ShipmentId,TransID)
	SELECT DISTINCT s.PostRun,s.PartnerID,s.ID as ShipmentId,h.TransId
	FROM #TranTmp t
	INNER JOIN dbo.tblEcPackHistHeader h  ON t.PostRun=h.PostRun AND t.ShipmentId=h.ShipmentId
	INNER JOIN dbo.tblEcPackHistShipment s ON h.PostRun=s.PostRun AND h.ShipmentId=s.ID
	UNION ALL
	SELECT DISTINCT NULL as PostRun,s.PartnerID,s.ID as ShipmentId,h.TransId
	FROM #TranTmp t
	INNER JOIN dbo.tblEcPackHeader h  ON t.ShipmentId=h.ShipmentId
	INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentId=s.ID

	-- ************************************
	-- NEEDS REVIEW - why inserting NULL cf_ fields?
	-- EDIInvcNum = h.InvcNum
	-- EDIShipToCode = get from tblArShipTo 
	-- added SoldToId, ShipToId
	INSERT INTO #tmpSoHeader (PostRun,TransID,CustPoNum,PoDate,EDIDeptID,EDIStoreCode,EDIProductGroup,EDIPartnerId,EDIInvcNum,EDIAcctNum,EDIShipToCode,ShipmentId,DropShipYN,CustId,ShipToId,PickNum)
	SELECT t.PostRun,t.TransID,h.CustPONum,h.PODate,null AS cf_EDIDeptID, NULL as cf_EDIStoreCode, NULL AS cf_EDIProductGroup, NULL AS cf_EDIPartnerID, h.InvcNum AS EDIInvcNum, NULL AS cf_EDIAcctNum, s.EDIShipToCode as EDIShipToCode, t.ShipmentId,
	CASE WHEN ISNULL('',0) = 3  THEN  1 ELSE CASE WHEN ISNULL('' ,'')<>'' THEN 1 ELSE 0 END END, h.SoldToId, h.ShipToId, h.PickNum
	FROM #TranShip t
	INNER JOIN tblArHistHeader h  ON t.PostRun=h.PostRun AND t.TransID=h.TransId
	LEFT JOIN tblArShipTo s ON h.SoldToId = s.CustId AND h.ShipToID = s.ShiptoId
	UNION ALL
	SELECT NULL as PostRun, t.TransID,h.CustPONum,h.PODate,null AS cf_EDIDeptID, NULL as cf_EDIStoreCode, NULL AS cf_EDIProductGroup, NULL AS cf_EDIPartnerID, h.InvcNum AS EDIInvcNum, NULL AS cf_EDIAcctNum, s.EDIShipToCode AS EDIShipToCode, t.ShipmentId,
	CASE WHEN ISNULL('',0) = 3  THEN  1 ELSE CASE WHEN ISNULL('' ,'')<>'' THEN 1 ELSE 0 END END, h.SoldToId, h.ShipToId, h.PickNum
	FROM #TranShip t
	INNER JOIN tblSoTransHeader h  ON t.TransID=h.TransId
	LEFT JOIN tblArShipTo s ON h.SoldToId = s.CustId AND h.ShipToID = s.ShiptoId

	-- shouldnt d.QtyOrdSell be QtyShipSell
	INSERT INTO #tmpSoLine(PostRun,TransId,EntryNum,PartnerId ,ItemId,UnitsSell,ShipmentId, PoQty, UnitsBase)
	SELECT d.PostRun,d.TransID,d.EntryNum,t.PartnerId, d.PartId, UnitsSell,t.ShipmentId, d.QtyOrdSell, d.UnitsBase
	FROM  dbo.tblArHistDetail d 
	INNER JOIN #TranShip t ON d.PostRun=t.PostRun AND d.TransID=t.TransID
	UNION ALL
	SELECT NULL as PostRun,d.TransID,d.EntryNum,t.PartnerId, d.ItemId,UnitsSell,t.ShipmentId, d.QtyOrdSell, d.UnitsBase
	FROM  dbo.tblSoTransDetail d 
	INNER JOIN #TranShip t ON d.TransID=t.TransID

	--SET EDI ShipToCode from EDI PO data if it is blank
	UPDATE t SET EDIShipToCode = p.EDIShipToCode
	FROM #tmpSoHeader t
		INNER JOIN tblEcPoSoTransHeader h ON t.TransID=h.SoTransId AND t.CustID=h.CustID AND t.CustPONum=h.CustPoNum
		INNER JOIN (SELECT ID, CustPoNum,ImportBatchId,KeyLevelSeq1, MAX(EDIShipToCode) AS EDIShipToCode
               FROM tblEcPoHistHeader
              GROUP BY ID, CustPoNum,ImportBatchId,KeyLevelSeq1) p ON h.POHeaderID=p.ID AND h.CustPoNum=p.CustPONum 
	WHERE ISNULL(t.EDIShipToCode,'') = ''

	UPDATE t SET EDIAcctNum=so.EDIAcctNum, EDIShipToCode=so.EDIShipToCode
	FROM #TranTmp t
	INNER JOIN #tmpSoHeader so  ON t.PostRun=ISNULL(so.PostRun,so.TransId) AND t.MinTransID=so.TransID

	--Update PO release number

	UPDATE t SET ReleaseNumber = p.ReleaseNumber
	FROM #tmpSoHeader t
		INNER JOIN tblEcPoSoTransHeader h ON t.TransID=h.SoTransId AND h.CustID=h.CustID AND t.CustPONum=h.CustPoNum
		INNER JOIN (SELECT ID, CustPoNum,ImportBatchId,KeyLevelSeq1, MAX(ReleaseNumber) AS ReleaseNumber
               FROM tblEcPoHistHeader
              GROUP BY ID, CustPoNum,ImportBatchId,KeyLevelSeq1) p ON h.POHeaderID=p.ID AND h.CustPoNum=p.CustPONum 

	--To live Transactions, set PostRun to null
	UPDATE t SET PostRun = NULL
	FROM #TranTmp t
	WHERE PostRun = MinTransID

	--update with xref item info
	UPDATE t SET BuyerCode=x.BuyerCode
	FROM #tmpSoLine t
	INNER JOIN tblEcPartnerItemXRef x on t.PartnerId=x.PartnerID AND t.ItemId=x.TRAVItemID AND t.UnitsSell=x.TRAVUOM

	UPDATE t SET POLineNum = sd.PoLineNum, ItemEAN = pd.ItemEAN, ItemGTIN = pd.ItemGTIN,
		ItemUPC = pd.ItemUPC, ItemVendorCode = pd.ItemVendorCode, EDIUom = pd.POUnitsSell, ItemDescr = pd.ItemDescr, ItemBuyerCode = pd.ItemBuyerCode
	FROM #tmpSoLine t INNER JOIN dbo.tblSoTransHeader h ON t.TransId = h.TransId 
		INNER JOIN dbo.tblEcPoSoTransHeader s ON h.TransId = s.SoTransId AND h.CustId = s.CustID AND h.CustPONum = s.CustPoNum 
		INNER JOIN dbo.tblEcPoSoTransDetail sd ON s.POHeaderID = sd.PoSoHeaderID AND h.TransId = sd.SoTransId AND t.EntryNum = sd.SOEntryNum 
		LEFT JOIN dbo.tblEcPoHistDetail pd ON sd.PoDetailID = pd.Id
	WHERE t.PostRun IS NULL

	UPDATE t SET POLineNum = sd.PoLineNum, ItemEAN = pd.ItemEAN, ItemGTIN = pd.ItemGTIN,
		ItemUPC = pd.ItemUPC, ItemVendorCode = pd.ItemVendorCode, EDIUom = pd.POUnitsSell, ItemDescr = pd.ItemDescr, ItemBuyerCode = pd.ItemBuyerCode
	FROM #tmpSoLine t INNER JOIN dbo.tblArHistHeader h ON t.PostRun = h.PostRun AND t.TransId = h.TransId 
		INNER JOIN dbo.tblEcPoSoTransHeader s ON h.TransId = s.SoTransId AND h.CustId = s.CustID AND h.CustPONum = s.CustPoNum 
		INNER JOIN dbo.tblEcPoSoTransDetail sd ON s.POHeaderID = sd.PoSoHeaderID AND h.TransId = sd.SoTransId AND t.EntryNum = sd.SOEntryNum
		LEFT JOIN dbo.tblEcPoHistDetail pd ON sd.PoDetailID = pd.Id
	WHERE t.PostRun IS NOT NULL

    --Update ASN Number
	SET @FunctionIDASN = 'EDIASN'

	UPDATE #TranTmp SET AsnNumber = a.AsnNumber
	FROM #TranTmp t INNER JOIN 
		(SELECT t.Id, ROW_NUMBER() OVER (ORDER BY t.Id) AS AsnNumber
		FROM #TranTmp t LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '61A32C04-8C4F-4839-8D47-5A5AC57CFEF4' AND d.ContextType = 7) d ON t.PartnerId = d.PartnerID 
		WHERE ISNULL(d.OptValue,'0') = '0') a ON t.ID = a.ID

	SELECT @TempASNNumber = MAX(AsnNumber) FROM #TranTmp
	SET @TempASNNumber = ISNULL(@TempASNNumber,0)

	UPDATE #TranTmp SET AsnNumber = a.AsnNumber + @TempASNNumber
	FROM #TranTmp t INNER JOIN dbo.tblSoTransHeader h ON t.MinTransID = h.TransId
		INNER JOIN (SELECT t.PartnerId,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity, 
			ROW_NUMBER () OVER (ORDER BY t.PartnerId,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity) AS AsnNumber
		FROM #TranTmp t LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '61A32C04-8C4F-4839-8D47-5A5AC57CFEF4' AND d.ContextType = 7) d ON t.PartnerId = d.PartnerID 
			INNER JOIN dbo.tblSoTransHeader h ON t.MinTransID = h.TransId
		WHERE ISNULL(d.OptValue,'0') = '1'
		GROUP BY t.PartnerId,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity) a 
		ON t.PartnerId = a.PartnerId AND ISNULL(t.MailID,'') = ISNULL(a.MailID,'') AND ISNULL(h.ShipNum,'') = ISNULL(a.ShipNum,'')
			AND ISNULL(h.ShipToName,'') = ISNULL(a.ShipToName,'') AND ISNULL(h.ShipToCity,'') = ISNULL(a.ShipToCity,'')

	SELECT @TempASNNumber = MAX(AsnNumber) FROM #TranTmp
	SET @TempASNNumber = ISNULL(@TempASNNumber,0)

	UPDATE #TranTmp SET AsnNumber = a.AsnNumber + @TempASNNumber
	FROM #TranTmp t INNER JOIN dbo.tblArHistHeader h ON t.PostRun = h.PostRun AND t.MinTransID = h.TransId
		INNER JOIN (SELECT t.PartnerId,t.TPCode,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity, 
			ROW_NUMBER () OVER (ORDER BY t.PartnerId,t.TPCode,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity) AS AsnNumber
		FROM #TranTmp t LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '61A32C04-8C4F-4839-8D47-5A5AC57CFEF4' AND d.ContextType = 7) d ON t.PartnerId = d.PartnerID 
			INNER JOIN dbo.tblArHistHeader h ON t.PostRun = h.PostRun AND t.MinTransID = h.TransId
		WHERE ISNULL(d.OptValue,'0') = '1'
		GROUP BY t.PartnerId,t.TPCode,t.MailID,h.ShipNum,h.ShipToName,h.ShipToCity) a 
		ON t.PartnerId = a.PartnerId AND ISNULL(t.TPCode,'') = ISNULL(a.TPCode,'') AND ISNULL(t.MailID,'') = ISNULL(a.MailID,'') AND ISNULL(h.ShipNum,'') = ISNULL(a.ShipNum,'')
			AND ISNULL(h.ShipToName,'') = ISNULL(a.ShipToName,'') AND ISNULL(h.ShipToCity,'') = ISNULL(a.ShipToCity,'')

	SELECT @ASNRecordCount = COUNT(DISTINCT(AsnNumber)) FROM #TranTmp

	--GET next ASN ID
	IF @ASNRecordCount > 0
	BEGIN
		SELECT @NextASNID = NextID FROM dbo.tblSmTransID WITH (ROWLOCK) WHERE FunctionID = @FunctionIDASN
		IF @NextASNID IS NOT NULL
		BEGIN
			UPDATE dbo.tblSmTransID WITH (ROWLOCK) SET NextID = @NextASNID + @ASNRecordCount WHERE FunctionID = @FunctionIDASN
		END
		ELSE
		BEGIN
			SET @NextASNID = 1
			INSERT INTO dbo.tblSmTransID (FunctionID, NextID)
			VALUES (@FunctionIDASN, @ASNRecordCount + 1)
		END
	END

	UPDATE #TranTmp SET AsnNumber = AsnNumber + @NextASNID

	UPDATE dbo.tblEcPackHistHeader SET ASNNumber = t.AsnNumber
	FROM dbo.tblEcPackHistHeader h INNER JOIN #TranTmp t ON h.PostRun = t.PostRun AND h.ShipmentID = t.ShipmentId
	WHERE t.PostRun IS NOT NULL

	UPDATE dbo.tblEcPackHeader SET ASNNumber = t.AsnNumber
	FROM dbo.tblEcPackHeader h INNER JOIN #TranTmp t ON h.ShipmentID = t.ShipmentId
	WHERE t.PostRun IS NULL

	SET @MailControlID = (CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100) + 1

	SELECT @A = MIN(AsnNumber) FROM #TranTmp

	WHILE @A<>0
	BEGIN

		SELECT @I=MIN(ID) FROM #TranTmp WHERE AsnNumber = @A

		SELECT @CurrPartnerID=PartnerID,@CurrAsnNumber=AsnNumber,
			@CurrPartnerDescr = ISNULL(TPCode,PartnerDescr),@CurrReceiverId = MailID
		FROM #TranTmp WHERE ID=@I

		SELECT @Version=DocVersion
		FROM  dbo.tblEcPartnerDoc
		WHERE PartnerId=@CurrPartnerID AND DocId=@DocID

		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'IS',@ISAControlNum OUT
        
		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'GS',@GSControlNum OUT
      
		EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'ST',@STControlNum OUT 
		 
		SELECT @CurrFilePath='' 
		
		EXEC dbo.trav_EcGetFileOutbound_proc @PartnerId=@CurrPartnerID,@DocId=@docid,@PostRun=@PostRun,@KeyValue=@CurrAsnNumber,@FilePathOut=@CurrFilePath OUT
		SET @CurrFilePath=ISNULL(@CurrFilePath,'')

		-- CTRL Level                 
		INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,            
				[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],FilePath,UserId,WrkStnId)            
		SELECT  @PostRun PostRun,@DocID,            
			'BEG' RecType,            
			@CurrAsnNumber,                     -- [sort1]            
			'1',                            -- [sort2]            
			0,                              -- [sort3]            
			'BEG',                          -- [Fld01] 
			@CurrPartnerDescr,                 -- [Fld02]            
			@CurrReceiverId ,               -- [Fld03]            
			'856' ,                         -- [Fld04]            
			@CurrAsnNumber,                     -- [fld05] 
			@EOL,
			@CurrFilePath,
			@UserId,
			@WrkStnID

		SELECT @CurrShipmentId=ShipmentId,@CurrTransId=MinTransID, @CurrPostRun=PostRun,@CurrIsDeleteYn=0--IsDeleteYn  
			,@CustPoNum = CustPONum,@ShipVia=ShipVia,@IsLive = CASE WHEN PostRun IS NULL THEN 1 ELSE 0 END
		FROM #TranTmp WHERE ID=@I

		SELECT  @ShipFromCode =WhseId,
				@InvcDate=InvcDate,
				@ShipToId=ISNULL(ShipToId,''),
				@ShipToCode ='' ,
				@ShipToName =ShipToName,
				@ShipToAddr1 =ShipToAddr1,
				@ShipToAddr2 =REPLACE(REPLACE(ShipToAddr2, CHAR(13),''),CHAR(10),' '),
				@ShipToCity =ShipToCity,
				@ShipToRegion =ShipToRegion,
				@ShipToPostalCode =ShipToPostalCode,
				@ShipToCountry =ShipToCountry
		FROM (SELECT TransId, PostRun, WhseId, InvcDate, ShipToId, ShipToName, ShipToAddr1, ShipToAddr2, ShipToCity, ShipToRegion, ShipToPostalCode, ShipToCountry
				FROM dbo.tblArHistHeader
				WHERE @IsLive = 0 AND PostRun=@CurrPostRun AND TransId=@CurrTransId
			  UNION ALL
			  SELECT TransId, NULL as PostRun, LocId as WhseId, InvcDate, ShipToId, ShipToName, ShipToAddr1, ShipToAddr2, ShipToCity, ShipToRegion, ShipToPostalCode, ShipToCountry
			  FROM dbo.tblSoTransHeader
			  WHERE @IsLive = 1 AND TransId=@CurrTransId) as h
       
		SELECT @ShipFromName=Descr,            
			@ShipFromAddr1= Addr1,            
			@ShipFromAddr2= REPLACE(REPLACE(Addr2, CHAR(13),''),CHAR(10),' '),            
			@ShipFromCity =City,            
			@ShipFromRegion =Region,            
			@ShipFromPostalCode=PostalCode,            
			@ShipFromCountry =Country            
		FROM dbo.tblInLoc WHERE LocId=@ShipFromCode     

		-- Shipment level          
		INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,
			[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
			[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
			[Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],
			[Fld31],[fld32],[Fld33],[fld34],[fld35],[Fld36],[fld37],[Fld38],[Fld39],[Fld40],
			[Fld41],[Fld42],[Fld43],[Fld44],[Fld45],[Fld46],[Fld47],[Fld48],[Fld49],[Fld50],[Fld51],FilePath,UserId,WrkStnId)
		SELECT  @PostRun PostRun,@DocID,
			'SHP' RecType,
			@CurrAsnNumber,			-- [sort1]
			'2',                    -- [sort2]
			0,                      -- [sort3]
			'SHP',                  -- [Fld01]
			'' Filler,              -- [Fld02]
			hsum.ShipmentCartonCount NumberofCartons,   -- [Fld03]
			CAST((CASE hsum.ShipmentCartonWeight WHEN 0 THEN 1 ELSE hsum.ShipmentCartonWeight END) AS Decimal(10,1)), -- if 0 default to 1 -- [Fld04]
			COALESCE(NULLIF(sp.SCAC,''), NULLIF(sm.EDISCAC,''), 'SCAC'),	-- [Fld05]		--CASE WHEN ISNULL(@EDISCACCode ,'')='' THEN CASE WHEN ISNULL(@CurrIsDeleteYn,0)=1 THEN 'SCAC' ELSE  sp.SCAC END ELSE  @EDISCACCode END ,         -- [Fld05]
			CASE WHEN ISNULL(sp.BillOfLading,'') <> '' THEN sp.BillOfLading ELSE hSum.TrackingNum END,	   -- [Fld06]		trav_EcSoTransPackConfirm_proc populates MasterBillOfLading, BillOfLading, VICSBillOfLading with same value (BOLNo from tblEcSoTransPackHeader), use TrackingNum if null    -- old code - REPLACE(REPLACE(CASE WHEN ISNULL(multi.ShipmentId,'')<>'' AND  ISNULL(TrackingNum,'') <>''  THEN TrackingNum ELSE case when (isnull(sp.MasterbillOfLading,'')  <> '' ) then '' else sp.BillOfLading end  END,CHAR(10),''),CHAR(13),'') ,  -- [Fld06]
			sp.ProNumber,            -- [Fld07] 
			isnull( Convert(varchar,Sp.ShipDate, 112),convert(varchar,@InvcDate,112)),                     -- [Fld08]
			isnull( Convert(varchar,sp.ExpDeliveryDate, 112),convert(varchar,@InvcDate,112)),              -- [Fld09]
			t.EDIShipToCode,        -- [Fld10]
			CASE WHEN ISNULL(sp.ShipVia,'') = '' THEN sm.[Desc] ELSE sp.ShipVia END, -- @edipartnercarriercode, -- [Fld11]
			'' TransportMethod,     -- [Fld12]
			'' PackageCode   ,      -- [Fld13]
			'' TrailerNumber   ,    -- [Fld14]
			@ShipFromName,          -- [Fld15]
			@ShipFromAddr1,         -- [Fld16]
			@ShipFromAddr2,         -- [Fld17]
			@ShipFromCity,          -- [Fld18]
			@ShipFromRegion,        -- [Fld19]
			@ShipFromPostalCode,    -- [Fld20]
			@ShipFromCountry,       -- [Fld21]
			'' TrailerPrefix,       -- [Fld22]
			'' DeliverTime,         -- [Fld23]
			'' ContactPerson,       -- [Fld24]
			'' ContactPhone,        -- [Fld25]
			case when isnull(t.EDIAcctNum,'') = '' then  @AccountNumber else t.EDIAcctNum end  ,          -- [Fld26]   -- note this is currently always null
			@ShipFromCode DUNs,     -- [Fld27]
			@ShipToName,            -- [Fld28]
			@ShipToAddr1,           -- [Fld29]
			@ShipToAddr2,           -- [Fld30]
			@ShipToCity,            -- [Fld31]
			@ShipToRegion,          -- [Fld32]
			@ShipToPostalCode,      -- [Fld33]
			sp.VICSBillofLading,    -- [Fld34]
			'' JCPLoadControlNum,   -- [Fld35]
			'' Email,               -- [Fld36]
			'' BOQualifier,         -- [Fld37]
			@ShipToName BuyingPartyName,    -- [Fld38]
			''  BannerName,         -- [Fld39]
			'' BannerID,            -- [Fld40]
			@ShipToCountry  ShipToCountry,  -- [Fld41]
			'' VesselName,          -- [Fld42]
			'' OceanContainerNum,   -- [Fld43]
			'' SealNum,             -- [Fld44]
			'' UNLOCCode,           -- [Fld45]
			'' SendersDivision,     -- [Fld46]
			CASE WHEN ISNULL(hSum.TrackingNum,'') = '' THEN 'F' ELSE 'T' END  SmallPackageIndicator, -- [Fld47]
			'' TotalQtyShippedinASN,-- [Fld48]
			'' TotalQtyUOM,         -- [Fld49]
			'' WarehouseCode,       -- [Fld50]
			@EOL,
			@CurrFilePath,
			@UserId,            
			@WrkStnId 
		FROM #TranTmp t
		INNER JOIN (SELECT ID, PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, IsDeleteYN, ShipVia
				FROM dbo.tblEcPackHistShipment sp
				UNION ALL
				SELECT ID, NULL as PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, 0 as IsDeleteYN, ShipVia
				FROM dbo.tblEcPackShipment sp
				) sp ON t.PartnerId = sp.PartnerID AND t.ShipmentId = sp.ID AND ((@IsLive = 1 AND sp.PostRun IS NULL) OR (@IsLive = 0 AND t.PostRun = sp.PostRun))
		INNER JOIN (SELECT h.AsnNumber ,MAX(h.TrackingNum)TrackingNum ,MIN(h.TransId) TransID, COUNT(DISTINCT h.TransId+h.EntryNUm) ShipmentCartonCount ,SUM(Weight) ShipmentCartonWeight ,MIN(h.EntryNUm)EntryNUm    
					FROM tblEcPackHistHeader h
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 0
					GROUP BY h.AsnNumber
					UNION ALL 
					SELECT h.AsnNumber ,MAX(h.TrackingNum)TrackingNum ,MIN(h.TransId) TransID, COUNT(DISTINCT h.EntryNUm) ShipmentCartonCount ,SUM(Weight) ShipmentCartonWeight ,MIN(h.EntryNUm)EntryNUm    
					FROM tblEcPackHeader h
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 1
					GROUP BY h.AsnNumber) hSum ON t.AsnNumber = hSum.ASNNumber
		INNER JOIN (SELECT h.PostRun,h.ShipmentId,h.AsnNumber,SUM(QtyPacked*WhslPrice) ShipmentCartonValue  ,SUM(QtyPacked) QtyPacked
					FROM tblEcPackHistHeader h
					INNER JOIN dbo.tblEcPackHistDetail d ON h.PostRun =d.PostRun AND h.ID =d.PackHeaderID
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 0
					GROUP BY h.PostRun,h.ShipmentId,h.AsnNumber
					UNION ALL
					SELECT NULL AS PostRun,h.ShipmentId,h.AsnNumber,SUM(QtyPacked*WhslPrice) ShipmentCartonValue  ,SUM(QtyPacked) QtyPacked
					FROM tblEcPackHeader h
					INNER JOIN dbo.tblEcPackDetail d ON h.ID =d.PackHeaderID
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 1
					GROUP BY h.ShipmentId,h.AsnNumber) dSum ON ((@IsLive = 1 AND dSum.PostRun IS NULL) OR (@IsLive = 0 AND sp.PostRun = dSum.PostRun ))
						AND sp.ID = dSum.ShipmentId  AND hSum.ASNNumber=dSum.ASNNumber
		LEFT JOIN dbo.tblArShipMethod sm ON sp.ShipViaCode = sm.ShipMethodId
		LEFT JOIN dbo.tblEcPartner p on sp.PartnerID = p.ID
		LEFT JOIN (SELECT ShipmentId
				FROM tblEcPackHistHeader
				GROUP BY ShipmentId
				HAVING COUNT(DISTINCT AsnNumber)>1
				UNION ALL
				SELECT ShipmentId
				FROM tblEcPackHeader
				GROUP BY ShipmentId
				HAVING COUNT(DISTINCT AsnNumber)>1) multi ON sp.ID = multi.ShipmentId
		WHERE ISNULL(sp.PostRun, '') = ISNULL(@CurrPostRun, '') AND sp.ID = @CurrShipmentId AND hSum.AsnNumber=@CurrAsnNumber   

	WHILE @I<>0
	BEGIN     
		SELECT @CurrMailQual ='',@CurrReceiverIdGS ='',@ShipVia=''
        
		SELECT @CurrShipmentId=ShipmentId,@CurrTransId=MinTransID, @CurrPostRun=PostRun,@CurrIsDeleteYn=0--IsDeleteYn  
			,@CustPoNum = CustPONum,@ShipVia=ShipVia,@IsLive = CASE WHEN PostRun IS NULL THEN 1 ELSE 0 END
		FROM #TranTmp WHERE ID=@I

		SELECT @EDIPartnerCarrierCode='',
			@BuyerName ='',            
			@BuyerAddr1 ='',            
			@BuyerAddr2='',            
			@BuyerCity='' ,            
			@BuyerRegion='',            
			@BuyerPostalCode =''

		-- removed this code 11/7/22
		-- get from tblEcPackShipment else tblArShipMethod in the PCK SELECT below
		--IF ISNULL(@EDISCACCode,'')=''
		--BEGIN 
		--	SELECT @EDISCACCode= EDISCAC
		--	FROM dbo.tblArShipMethod m
		--	WHERE ShipMethodID = @ShipVia
		--END

		-- PORD Order level                
		INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,            
				[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
				[Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[fld17],[Fld18],[Fld19],[Fld20], 
				[Fld21],[Fld22],[Fld23],
				FilePath,UserId,WrkStnId)
		SELECT  @PostRun PostRun,@DocID,
			'ORD' RecType,
			@CurrAsnNumber,        -- [sort1]            
			'2' + @CurrTransId + '3',    -- [sort2]            
			a.EDIStoreCode,       -- [sort3]            
			'ORD',            -- [Fld01]     
			a.CustPoNum ,      -- [Fld02]  
			hSum.ShipmentCartonCount NumberofCartons,-- cast(QtyPacked as decimal(20,1)),                                                  -- [Fld03]  
			cast(CASE hSum.OrderCartonWeight WHEN 0 THEN cast(1 as decimal(20,1)) ELSE hSum.OrderCartonWeight END as decimal(20,1)),                            -- [Fld04]   
			convert(varchar,a.PoDate,112),    -- [Fld05]   
			a.EDIDeptID,    -- [fld06]   
			@AccountNumber,    -- [fld07]   
			a.EDIStoreCode BillTo,  -- [Fld08]    
			a.EDIStoreCode MarkFor,  -- [Fld09]    
			a.TransID,         -- [Fld10] 
			ISNULL(a.PickNum,'') InternalPickNumber ,  -- [Fld11] 
			'' Units,  -- [Fld12] 
			'0' FreightAmount,  -- [Fld13] 
			'' MerchandiseTypeCode,  -- [Fld14] 
			a.ReleaseNumber ReleasePONum, -- [Fld15] 
			'' ShipmentStatusCode, -- [Fld16] 
			'' ShipMode, -- [Fld17] 
			'' MasterAccountNum, -- [Fld18] 
			a.EDIInvcNum InvoiceNum, -- [Fld19] 
			'' InvoiceTotal, -- [Fld20] 
			'' TD105, -- [Fld21] 
			@BuyerName  StoreName, -- [Fld22] 
			@EOL,
			@CurrFilePath,
			@UserId,
			@WrkStnId
		FROM #tranShip t 
		INNER JOIN  (SELECT h.PostRun,h.ShipmentId,h.AsnNumber,h.TransId ,SUM(Weight) OrderCartonWeight ,MAX(UCC128) UCC128,COUNT(DISTINCT h.EntryNUm) ShipmentCartonCount   
					FROM tblEcPackHistHeader h            
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 0
					GROUP BY h.PostRun,h.ShipmentId,h.AsnNumber,h.TransId
					UNION ALL 
					SELECT NULL AS PostRun,h.ShipmentId,h.AsnNumber,h.TransId ,SUM(Weight) OrderCartonWeight ,MAX(UCC128) UCC128,COUNT(DISTINCT h.EntryNUm) ShipmentCartonCount   
					FROM tblEcPackHeader h
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 1
					GROUP BY h.ShipmentId,h.AsnNumber,h.TransId) hSum ON t.ShipmentId=hSum.ShipmentId AND t.TransId=hsum.transid
		INNER JOIN (SELECT h.PostRun,h.ShipmentId,h.AsnNumber,h.TransId,SUM(QtyPacked*WhslPrice) OrderCartonValue, sum(d.QtyPacked) QtyPacked
					FROM tblEcPackHistHeader h
					INNER JOIN dbo.tblEcPackHistDetail d ON h.PostRun =d.PostRun AND h.ID = d.PackHeaderID
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 0
					GROUP BY h.PostRun,h.ShipmentId,h.AsnNumber,h.TransId
					UNION ALL
					SELECT NULL AS PostRun,h.ShipmentId,h.AsnNumber,h.TransId,SUM(QtyPacked*WhslPrice) OrderCartonValue, sum(d.QtyPacked) QtyPacked       
					FROM tblEcPackHeader h
					INNER JOIN dbo.tblEcPackDetail d ON h.ID = d.PackHeaderID
					WHERE AsnNumber=@CurrAsnNumber AND @IsLive = 1
					GROUP BY h.ShipmentId,h.AsnNumber,h.TransId) dSum ON ((@IsLive = 1 AND dSum.PostRun IS NULL) OR (@IsLive = 0 AND hSum.PostRun = dSum.PostRun))
						AND hSum.ShipmentId=dSum.ShipmentId AND hSum.AsnNumber=dSum.AsnNumber AND hSum.TransId=dSum.TransId     
		INNER JOIN #tmpSoHeader a on a.TransId = hsum.TransID and ISNULL(a.PostRun, '') = ISNULL(hsum.PostRun, '')
		WHERE ISNULL(hSum.PostRun, '') = ISNULL(@CurrPostRun, '') AND hSum.ShipmentId = @CurrShipmentId AND hSum.AsnNumber = @CUrrAsnNumber
		  
		INSERT INTO dbo.tblEcTempExport (PostRun,DocId,RecType,Sort1,sort2,sort3,sort4,sort5,            
				[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],            
				[Fld11],[fld12],[fld13],FilePath, UserId,WrkStnId)            
		SELECT @PostRun PostRun,@DocID,            
			'PCK' RecType,            
			@CurrAsnNumber,    -- [sort1]               
			'2' + @CurrTransId + '4',   -- [sort2]            
			dSum.UCC128, -- [sort3]             
			'1',-- [sort4] 
			'',    -- [sort5] 
			'PCK', -- [fld01]
			dSum.UCC128 PackID,-- [fld02]
			'0' Units,         -- [fld03]
			CAST(dSum.[Weight] as decimal(20,1)) PackWeight,                  -- [fld04]
			'P' PackTareIndicator,                   -- [fld05]
			dSum.TrackingNum SmallPackageTrackingNum,                  -- [fld06]
			s.WeightUOM WeightUOM,                  -- [fld07]
			'' PackHeight,                -- [fld08]
			'' PackLength,                -- [fld09]
			'' PackWidth,                -- [fld10]
			'' UOMofBoxDimension,                    -- [fld11]
			'' Volume,        -- [fld12]
			@EOL,
			@CurrFilePath,
			@UserId,            
			@WrkStnId  
		FROM  (SELECT ID, PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, IsDeleteYN
				FROM dbo.tblEcPackHistShipment sp
				UNION ALL
				SELECT ID, NULL as PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, 0 as IsDeleteYN
				FROM dbo.tblEcPackShipment sp
				) s
		INNER JOIN  (SELECT ph.PostRun,ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,ph.UCC128, MAX(ph.TrackingNum) TrackingNum, SUM(ph.Weight) [Weight]
					FROM dbo.tblEcPackHistHeader ph                       
					INNER JOIN #tmpSoHeader h ON ph.PostRun=h.PostRun AND ph.TransId=h.TransId     
					WHERE AsnNumber = @CurrAsnNumber AND @IsLive = 0
					GROUP BY ph.PostRun,ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,ph.UCC128
					UNION ALL
					SELECT NULL as PostRun,ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,ph.UCC128, MAX(ph.TrackingNum) TrackingNum, SUM(ph.Weight) [Weight]
					FROM dbo.tblEcPackHeader ph                       
					INNER JOIN #tmpSoHeader h ON @IsLive = 1 AND ph.TransId=h.TransId     
					WHERE AsnNumber = @CurrAsnNumber
					GROUP BY ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,ph.UCC128) dSum ON ((@IsLive = 0 AND dSum.PostRun = s.PostRun) OR (@IsLive = 1 AND dSum.PostRun IS NULL)) AND s.ID =dSum.ShipmentId
		INNER JOIN dbo.tblEcPartner p ON s.CustId=p.DfltCustID 
		LEFT JOIN (SELECT p.ID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '9F725CE7-36C7-43D8-8922-C420856205E6' AND d.ContextType = 7) pov ON p.ID = pov.ID --856O_OptIncludePCKYN
		WHERE ISNULL(s.PostRun, '') = ISNULL(@CurrPostRun, '')
		AND s.ID = @CurrShipmentId AND dSum.AsnNumber = @CurrAsnNumber
			AND ISNULL(pov.OptValue, N'1') = N'1'
	 
		INSERT INTO dbo.tblEcTempExport (PostRun,DocId,RecType,Sort1,sort2,sort3,sort4,sort5,            
				[Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],            
				[Fld11],[fld12],[fld13],[fld14],[fld15],[fld16],[fld17],[fld18],[fld19], [Fld20],
				[fld21],[fld22],[fld23],[fld24],[fld25],[fld26],[fld27],[fld28],[fld29], [Fld30],
				[fld31],[fld32],[fld33],[fld34],[fld35],[fld36],[fld37],
				FilePath,UserId,WrkStnId)            
		SELECT @PostRun PostRun,@DocID,            
			'ITM' RecType,             
				@CurrAsnNumber,    -- [sort1]               
			'2' + @CurrTransId + '4',    -- [sort2]            
			dSum.UCC128, -- [sort3]             
			'2',    -- [sort4] 
			dSum.EntryNum,     -- [sort5] 
			'ITM',                      -- [Fld01]            
			COALESCE(l.ItemVendorCode, x.vendorcode, ''),     -- [fld02]  
			'' ItemColor ,               -- [fld03]  
			'' ItemSizeType ,                -- [fld04]             
			'' ItemSize ,                -- [fld05]   
			COALESCE(l.EDIUom, x.EDIUOM, dsum.ItemUOM),    -- [fld06]  
			cast(dsum.QtyPacked as decimal(20,0)) as PackQty ,-- [Fld07]
			cast(l.PoQty as decimal(20,0)) AS LineQty, -- [Fld08]
			COALESCE(l.ItemBuyerCode, x.BuyerCode, ''),      -- [fld09]
			COALESCE(l.ItemUPC,x.UPC,''),      -- [fld10]    
			'' ShipCode,	--[Fld11]
			'' CartonPack,	--[Fld12]
			'' InnerPack,	--[Fld13]
			ISNULL(LEFT(CAST(CAST(dsum.whslPrice as Decimal(20,10)) As varchar),(LEN(CAST(CAST(dsum.whslPrice as Decimal(20,10)) As varchar))-10)+@gUPricePrec),0) RetailPrice,	-- [fld14]
			COALESCE(l.ItemDescr,x.ItemDescr,i.Descr,'') ,	-- [fld15]
			ISNULL(l.ItemEAN, x.EAN) EANCode, -- [fld16]    
			'' TestedMaterialID, -- [fld17]
			ISNULL(l.ItemGTIN, x.GTIN) GTIN, -- [fld18]
			l.POLineNum, -- [fld19]
			'' FGLPackNum, -- [fld20]
			'' TargetSKU,-- [fld21]
			'' UnitCost,-- [fld22]
			'' FreightCharge,-- [fld23]
			'' ServiceCharge,-- [fld24]
			'' ItemWeight,-- [fld25]
			'' WeightUOM,-- [fld26]
			'' ItemHeight,-- [fld27]
			'' ItemLength,-- [fld28]
			'' Width,-- [fld29]
			'' UOMofItemDimension,-- [fld30]
			dSum.PackagingType,-- [fld31]
			'' PO1ItemQualifier,-- [fld32]
			'' TJMaxxPackCode,-- [fld33]
			'' CustomerOrderNum,-- [fld34]
			Convert(varchar,dSum.LotExpDate, 112),-- [fld35]
			dSum.LotNumber,-- [fld36]
			@EOL,
			@CurrFilePath,
			@UserId,            
			@WrkStnId  
		FROM  (SELECT ID, PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, IsDeleteYN
				FROM dbo.tblEcPackHistShipment sp
				WHERE @IsLive = 0
				UNION ALL
				SELECT ID, NULL as PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, VICSBillofLading, MasterBillofLading, ProNumber, ShipRequestID, [Weight], ShipDate, ShipCost, ExpDeliveryDate, LoadId, ShipmentStatus, ContainersInShipment, ContainerUOM, WeightUOM, SCAC, ShipToCode, MethodOfPay, TransMethodCode, ShipFromLocation, ShipFromCompany, HLCount, TransSetPurposeCode, IsEdiYN, UserID, WrkStnID, 0 as IsDeleteYN
				FROM dbo.tblEcPackShipment sp
				WHERE @IsLive = 1
				) s
		INNER JOIN  (SELECT ph.PostRun,ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,h.CustPoNum, ph.UCC128,pd.ItemId,pd.ItemUom,SUM(pd.QtyPacked) QtyPacked,MIN(pd.EntryNum) EntryNum , MIN(pd.TransEntryNUm) TransEntryNUm , Min(h.TransID) TransID   ,MAX(whslPrice) whslPrice, pd.LotNumber, pd.LotExpDate, pd.PackagingType
					FROM dbo.tblEcPackHistHeader ph            
					INNER JOIN dbo.tblEcPackHistDetail pd ON ph.PostRun=pd.PostRun AND ph.ID=pd.PackHeaderID
					INNER JOIN #tmpSoHeader h ON ph.PostRun=h.PostRun AND ph.TransId=h.TransId     
					WHERE AsnNumber = @CurrAsnNumber AND @IsLive = 0
					GROUP BY ph.PostRun,ph.ShipmentId,ph.AsnNumber,h.CustPonum,h.EDIStoreCode,ph.UCC128,pd.ItemId,pd.ItemUom,pd.LotNumber,pd.LotExpDate,pd.PackagingType
					UNION ALL
					SELECT NULL AS PostRun,ph.ShipmentId,ph.AsnNumber,h.EDIStoreCode,h.CustPoNum, ph.UCC128,pd.ItemId,pd.ItemUom, SUM(pd.QtyPacked) QtyPacked,MIN(pd.EntryNum) EntryNum , MIN(pd.TransEntryNUm) TransEntryNUm , Min(h.TransID) TransID   ,MAX(whslPrice) whslPrice, pd.LotNumber, pd.LotExpDate, pd.PackagingType 
					FROM dbo.tblEcPackHeader ph            
					INNER JOIN dbo.tblEcPackDetail pd ON ph.ID = pd.PackHeaderID
					INNER JOIN #tmpSoHeader h ON h.PostRun IS NULL AND ph.TransId=h.TransId     
					WHERE ph.AsnNumber = @CurrAsnNumber AND @IsLive = 1
					GROUP BY ph.ShipmentId,ph.AsnNumber,h.CustPonum,h.EDIStoreCode,ph.UCC128,pd.ItemId,pd.ItemUom,pd.LotNumber,pd.LotExpDate,pd.PackagingType) dSum ON ((@IsLive = 1 AND dSum.PostRun IS NULL) OR (@IsLive = 0 AND dSum.PostRun = s.PostRun))
						AND s.ID =dSum.ShipmentId
		INNER JOIN dbo.tblEcPartner p ON s.CustId=p.DfltCustID  
		INNER JOIN dbo.tblInItem i ON dSum.ItemId=i.ItemId
		INNER JOIN dbo.tblInItemUom u ON dSum.ItemId=u.ItemId AND dSum.ItemUom=u.Uom               
		LEFT JOIn #tmpSoLine l on dsum.TransID = l.TransId and ISNULL(dsum.PostRun,'') = ISNULL(l.PostRun,'') and dSum.TransEntryNUm = l.EntryNum     
		LEFT JOIN  dbo.tblEcPartnerItemXref x ON p.ID=x.PartnerID AND dSum.ItemId=x.TRAVItemID AND dSum.ItemUom=x.TRAVUOM
		WHERE ((@IsLive = 1 AND s.PostRun IS NULL) OR (@IsLive = 0 AND s.PostRun = @CurrPostRun))
			AND s.ID = @CurrShipmentId AND dSum.AsnNumber = @CurrAsnNumber 

		-- write log
		INSERT INTO dbo.tblEcASNExportLog (PostRun, PartnerId,CustId,ShipToName,CustPoNum,AsnNumber,ShipDate,ShipperName,ShipNum,ContainerCount)
		SELECT @PostRun, @CurrPartnerID, p.DfltCustID, @ShipToName,h.CustPoNum, @CurrAsnNumber, shp.ShipDate, shp.[ShipViaCode] ,shp.BillofLading, shp.ContainersInShipment -- allways 1 for summary
		FROM #TranShip s
		INNER JOIN #tmpSoHeader h ON h.ShipmentId = s.ShipmentId AND ((@IsLive = 1 AND h.PostRun IS NULL) OR (@IsLive = 0 AND h.PostRun = s.PostRun ))
		INNER JOIN (SELECT ID, PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, ShipDate, ExpDeliveryDate, ContainersInShipment, SCAC, ShipToCode, UserID, WrkStnID
				FROM dbo.tblEcPackHistShipment sp
				WHERE @IsLive = 0
				UNION ALL
				SELECT ID, NULL as PostRun, CustId, CustPoNum, ShiptoId, PartnerID, ShipViaCode, BillofLading, ShipDate, ExpDeliveryDate, ContainersInShipment, SCAC, ShipToCode, UserID, WrkStnID
				FROM dbo.tblEcPackShipment sp
				WHERE @IsLive = 1
				) shp ON ISNULL(s.PostRun, '') = ISNULL(h.PostRun, '')
					AND shp.ID = h.ShipmentId
		INNER JOIN dbo.tblEcPartner p ON p.ID = s.PartnerId
		WHERE ISNULL(s.PostRun, '') = ISNULL(@CurrPostRun, '')
			AND s.ShipmentID= @CurrShipmentId

		--Remove from Communications
		IF ISNULL(@TestModeYN,0)=0
		BEGIN
			DELETE FROM dbo.tblEcComm WHERE ((@IsLive = 1 AND PostRun = DocKey) OR (@IsLive = 0 AND PostRun=@CurrPostRun)) AND DocKey=@CurrTransID AND DocID=@DocID
		END
			-- Next record            
      
		DELETE FROM #TranTmp WHERE ID=@I
           
		SELECT @I=MIN(ID) FROM #TranTmp WHERE AsnNumber = @A

	END-- end of WHILE loop (shipment)

		INSERT INTO dbo.tblEcTempExport (PostRun,DocID,RecType,Sort1,sort2,sort3,Sort4,
			[Fld01],[Fld02],[Fld03],FilePath,UserId,WrkStnId)				 
		SELECT @PostRun PostRun,@DocID,
			'END' RecType,
			@CurrAsnNumber,  				    -- [sort1]
			'6',					    -- [sort2]
			0,			    			    -- [sort3]
			0, 						        -- [sort4]
			'END' Fld01,				     	-- [Fld01]
			'111111111',-- [Fld02]
				@EOL,
			@CurrFilePath,  
			@UserId,
			@WrkStnId

		-- write mail control
		IF ISNULL(@TestModeYN,0)=0
		BEGIN
			INSERT INTO dbo.tblEcMailControl(ID, 
												ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,DocAddnlRef1,SenderID, SenderIDGS, ReceiverID, ReceiverIdGS,  ISAControlNum,GSControlNum ,STControlNum,GSVersion ,StatusFlag,SendDate,SendTime)
			SELECT @MailControlID,@PostRun, @A KeyLevelSeq1, @CurrPartnerId, @DocId, '856', @CurrASNNumber, NULL AS CurrCustPoNumber, NULL SenderID, NULL SenderIDGS, @CurrReceiverId, @CurrReceiverId, @ISAControlNum, @GSControlNum
				, case when @STControlNum = ' ' then 0 else @STControlNum end
				, @Version,'P' StatusFlag,@SendDate,@SendTime
			SET @MailControlID = @MailControlID + 1
		END

		IF (@HandleLog = 1)
		BEGIN
			INSERT INTO #tmpExportLog(FilePath, PostRun, DocId) VALUES (@CurrFilePath, @PostRun, @DocID)
		END

		DELETE FROM #TranTmp WHERE AsnNumber=@A
           
		SELECT @A=MIN(AsnNumber) FROM #TranTmp

	END-- end of WHILE loop (ASN Number)

	SELECT @TotCount=COUNT(*) FROM dbo.tblEcTempExport WHERE DocID=@DocID AND RecType='SHP'
	SELECT @TotCount TotCount
END TRY  
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAsn_ExportAPT_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAsn_ExportAPT_proc'
GO
