USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlTrialBalanceReportFiscalDateRange_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlTrialBalanceReportFiscalDateRange_proc]
@FiscalPeriodFrom smallint,   
@FiscalYearFrom smallint,   
@FiscalPeriodThru smallint,   
@FiscalYearThru smallint,   
@PeriodsPerYear smallint,   
@SortOrder varchar(80),   
@PrintByAccoutType bit,   
@PrintZeroBalance bit,   
@MultiCurrency bit,   
@BaseCurrency [nvarchar](6),   
@BFRef int, /* 0 = Current Year, -1 = Last Year */  
@BFType tinyint, /* 0 = Budget, 1 = Forecast, 2 = Actual */  
@ExcludeClosingPeriod bit  
  
AS  
BEGIN TRY  
 SET NOCOUNT ON  
  
 DECLARE @SortString varchar(255)  
 DECLARE @ctr smallint  
 DECLARE @CompID sysname
 DECLARE @sql varchar(8000)  
 DECLARE @CurrencyPrecision smallint  
 DECLARE @ClosingPeriod smallint  
  
 CREATE TABLE #AcctInfo   
 (  
  SortOrder1 [nvarchar](255) NULL,   
  SortOrder2 [nvarchar](255) NULL,   
  AcctId [nvarchar](255) NULL,   
  ActualBase [decimal](28,3) NULL,   
  Budget [decimal](28,3) NULL,   
  Forecast [decimal](28,3) NULL,   
  AcctTypeId smallint NULL,   
  CurrencyID [nvarchar](6) NULL,   
  Period smallint NULL,   
  [Year] smallint NULL  
 )  
  
 CREATE TABLE #tempPdYear   
 (  
   Period smallint NOT NULL,   
   [Year] smallint NOT NULL  
 )  
  
 SET @sql = ''  
 SET @CompID = RIGHT(DB_NAME(), 3)
 SELECT @CurrencyPrecision = CurrDecPlaces FROM dbo.tblSmCurrency WHERE CurrID = @BaseCurrency  
  
 /* assign the closing period based on the common periods per year */  
 SET @ClosingPeriod = @PeriodsPerYear + 1  
  
 IF (@BFRef = -1)  
 BEGIN  
  SET @FiscalYearFrom = @FiscalYearFrom - 1  
  SET @FiscalYearThru = @FiscalYearThru - 1  
 END  
  
 /* build period/year temp table */  
 INSERT INTO #tempPdYear (Period, [Year])   
 SELECT p.GlPeriod, p.GlYear   
 FROM dbo.tblSmPeriodConversion p   
 WHERE (p.GlYear * 1000) + p.GlPeriod   
  BETWEEN (@FiscalYearFrom * 1000) + @FiscalPeriodFrom AND (@FiscalYearThru * 1000) + @FiscalPeriodThru  
  
 /* add closing period to period/year temp table when necessary */  
 DECLARE @Year int  
 SET @Year = @FiscalYearFrom  
 WHILE @Year <= @FiscalYearThru  
 BEGIN  
  IF ((@FiscalYearThru > @Year) OR (@FiscalYearThru = @Year)   
   AND (@FiscalPeriodThru > @PeriodsPerYear)) AND (@ExcludeClosingPeriod = 0)  
  BEGIN  
   INSERT INTO #tempPdYear (Period, [Year])   
   VALUES (@PeriodsPerYear + 1, @Year)  
  END  
  SET @Year = @Year + 1  
 END  
  
 IF (@FiscalPeriodFrom = 0)  
 BEGIN  
  INSERT INTO #tempPdYear (Period, [Year])   
  VALUES (0, @FiscalYearFrom)  
 END  
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period, [Year])   
 SELECT h.AcctId, ISNULL(d.ActualBase, 0) AS Actual, 0 AS Budget, 0 AS Forecast, h.AcctTypeId, h.CurrencyID, d.Period, d.[Year]   
 FROM #tmpAccountList m   
  INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
  LEFT JOIN   
  (  
   SELECT AcctId, ActualBase, a.Period, a.[Year]   
   FROM dbo.tblGlAcctDtl a   
    INNER JOIN #tempPdYear p ON a.[Year] = p.[Year] AND a.Period = p.Period  
  ) d ON h.AcctId = d.AcctId   
 WHERE h.AcctTypeId < 900  
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period, [Year])   
 SELECT h.AcctId, 0 AS Actual, b.Budget, 0 AS Forecast, h.AcctTypeId, h.CurrencyID, b.Period, b.[Year]   
 FROM #tmpAccountList m   
  INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
  INNER JOIN   
  (  
   SELECT dbf.AcctID, ISNULL(dbf.Amount, 0) AS Budget, dbf.GlPeriod AS Period, dbf.GlYear AS [Year]   
   FROM dbo.tblGlAcctDtlBudFrcst dbf   
    INNER JOIN #tmpGLBudFrcstDescr t ON dbf.BFRef = t.BFRef   
    INNER JOIN #tmpGLBudFrcstComp c ON dbf.BFRef = c.BFRef   
    INNER JOIN #tempPdYear p ON dbf.GlYear = p.[Year] AND dbf.GlPeriod = p.Period   
   WHERE t.BFType = 0 AND dbf.BFRef = @BFRef AND c.CompID = @CompID  
  ) b ON h.AcctId = b.AcctId   
 WHERE h.AcctTypeId < 900  
  
 INSERT INTO #AcctInfo (AcctId, ActualBase, Budget, Forecast, AcctTypeId, CurrencyID, Period, [Year])   
 SELECT h.AcctId, 0 AS Actual, 0 AS Budget, f.Forecast, h.AcctTypeId, h.CurrencyID, f.Period, f.[Year]   
 FROM #tmpAccountList m   
  INNER JOIN dbo.tblGlAcctHdr h ON m.AcctId = h.AcctId   
  INNER JOIN   
  (  
   SELECT dbf.AcctID, ISNULL(dbf.Amount, 0) AS Forecast, dbf.GlPeriod AS Period, dbf.GlYear AS [Year]   
   FROM dbo.tblGlAcctDtlBudFrcst dbf   
    INNER JOIN #tmpGLBudFrcstDescr t ON dbf.BFRef = t.BFRef   
    INNER JOIN #tmpGLBudFrcstComp c ON dbf.BFRef = c.BFRef   
    INNER JOIN #tempPdYear p ON dbf.GlYear = p.[Year] AND dbf.GlPeriod = p.Period   
   WHERE ABS(t.BFType) = 1 AND dbf.BFRef = @BFRef AND c.CompID = @CompID  
  ) f ON h.AcctId = f.AcctId   
 WHERE h.AcctTypeId < 900  
  
 SET @SortString = 'h.AcctId'  
 IF @SortOrder <> ''  
 BEGIN  
  SET @SortString = ''  
  
  WHILE CHARINDEX(',', @SortOrder) <> 0  
  BEGIN  
   SET @ctr = CHARINDEX(',', @SortOrder)  
   IF LEN(@SortString) > 0 SET @SortString = @SortString + ' + '  
   SET @SortString = @SortString + 'h.Segment' + SUBSTRING(@SortOrder, 1, @ctr - 1)  
   SET @SortOrder = RIGHT(@SortOrder, LEN(@SortOrder) - @ctr )  
  END  
  SET @SortString = @SortString + ' + h.Segment' + @SortOrder  
 END  
  
 /* pack the AcctTypeId with 0's for proper numeric sorting of report */  
 SET @sql = 'UPDATE #AcctInfo SET SortOrder1 = CASE WHEN ' + STR(@PrintByAccoutType) + ' = 1 THEN RIGHT(REPLICATE(nchar(48), 6) + CAST(#AcctInfo.AcctTypeId AS nvarchar), 6) ELSE '  
 SET @sql = @sql + @SortString + ' END, SortOrder2 = ' + @SortString  
 SET @sql = @sql + ' FROM #AcctInfo INNER JOIN dbo.trav_GlAccountHeader_view h ON #AcctInfo.AcctId = h.AcctId'  
  
 EXECUTE (@sql)  
  
 UPDATE #AcctInfo SET CurrencyID = @BaseCurrency  
  , Budget = ROUND(Budget * erates.[ExchRate], @CurrencyPrecision)  
  , Forecast = ROUND(Forecast * erates.[ExchRate], @CurrencyPrecision)   
 FROM #AcctInfo   
  LEFT JOIN   
  (  
   SELECT eh.FiscalYear, eh.FiscalPeriod, ed.[Rate] AS [ExchRate], ed.[Source]   
   FROM dbo.tblSmExchangeRate (NOLOCK) eh   
    INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID]   
    INNER JOIN #tempPdYear p ON eh.FiscalYear = p.[Year] AND eh.FiscalPeriod = p.Period   
   WHERE eh.[Type] = 1 AND ed.[Destination] = @BaseCurrency  
   UNION ALL  
   SELECT eh.FiscalYear + 1, 0 AS FiscalPeriod, ed.[Rate] AS [ExchRate], ed.[Source]   
   FROM dbo.tblSmExchangeRate (NOLOCK) eh   
    INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID]   
    INNER JOIN #tempPdYear p ON eh.FiscalYear = p.[Year] - 1 AND eh.FiscalPeriod = @ClosingPeriod   
   WHERE eh.[Type] = 1 AND ed.[Destination] = @BaseCurrency  
  ) erates   
   ON [Year] = erates.[FiscalYear] AND [Period] = erates.[FiscalPeriod] AND CurrencyID = erates.[Source]   
 WHERE CurrencyID <> @BaseCurrency AND Period IS NOT NULL  
  
 /* generate an error when exchange rates are missing */  
 IF EXISTS (SELECT * FROM #AcctInfo WHERE Budget IS NULL OR Forecast IS NULL) THROW 90027, N'Invalid exchange information.', 1  
  
  SELECT SortOrder1, SortOrder2, AcctId, [Desc], AcctTypeId, AcctTypeDesc, ActualDebit, SUM(ActualDebit) OVER() AS SumActualDebit  
 , SUM(ActualDebit) OVER(PARTITION BY AcctTypeId) AS SumSubtotalActualDebit, ActualCredit, SUM(ActualCredit) OVER() AS SumActualCredit  
 , SUM(ActualCredit) OVER(PARTITION By AcctTypeId) AS SumSubtotalActualCredit, BudgetDebit, SUM(BudgetDebit) OVER() AS SumBudgetDebit  
 , SUM(BudgetDebit) OVER(PARTITION BY AcctTypeId) AS SumSubtotalBudgetDebit, BudgetCredit, SUM(BudgetCredit) OVER() AS SumBudgetCredit  
 , SUM(BudgetCredit) OVER(PARTITION BY AcctTypeId) AS SumSubtotalBudgetCredit, ForecastDebit, SUM(ForecastDebit) OVER() AS SumForecastDebit  
 , SUM(ForecastDebit) OVER(PARTITION BY AcctTypeId) AS SumSubtotalForecastDebit, ForecastCredit, SUM(ForecastCredit) OVER() AS SumForecastCredit  
 , SUM(ForecastCredit) OVER(PARTITION BY AcctTypeId) AS SumSubtotalForecastCredit 
  FROM 
  (
 SELECT y.SortOrder1, y.SortOrder2, h.AcctId, h.[Desc], h.AcctTypeId, t.[Desc] AS AcctTypeDesc  
  , CASE WHEN h.BalType * YTDActual > 0 THEN h.BalType * YTDActual ELSE 0 END AS ActualDebit  
  , CASE WHEN h.BalType * YTDActual < 0 THEN -h.BalType * YTDActual ELSE 0 END AS ActualCredit  
  , CASE WHEN h.BalType * YTDBudget > 0 THEN h.BalType * YTDBudget ELSE 0 END AS BudgetDebit  
  , CASE WHEN h.BalType * YTDBudget < 0 THEN -h.BalType * YTDBudget ELSE 0 END AS BudgetCredit  
  , CASE WHEN h.BalType * YTDForecast > 0 THEN h.BalType * YTDForecast ELSE 0 END AS ForecastDebit  
  , CASE WHEN h.BalType * YTDForecast < 0 THEN -h.BalType * YTDForecast ELSE 0 END AS ForecastCredit   
 FROM dbo.tblGlAcctHdr h   
  INNER JOIN   
  (  
   SELECT SortOrder1, SortOrder2, AcctId, SUM(ActualBase) AS YTDActual, SUM(Budget) AS YTDBudget, SUM(Forecast) AS YTDForecast   
   FROM #AcctInfo   
   GROUP BY SortOrder1, SortOrder2, AcctId  
  ) y ON h.AcctId = y.AcctId   
  INNER JOIN dbo.tblGlAcctType t ON h.AcctTypeId = t.AcctTypeId   
 WHERE CASE WHEN @PrintZeroBalance <> 0 THEN 1   
  ELSE CASE @BFType   
   WHEN 1 THEN ABS(y.YTDForecast)   
   WHEN 0 THEN ABS(y.YTDBudget)   
   ELSE ABS(y.YTDActual) END   
  END <> 0) ds /* conditionally add criteria to filter out zero balance accounts */  
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlTrialBalanceReportFiscalDateRange_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlTrialBalanceReportFiscalDateRange_proc'
GO
