USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_ACH_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_ACH_proc]
AS
BEGIN TRY
	DECLARE @PostRun [nvarchar](14)
	DECLARE @TransType nvarchar(10)
	DECLARE @CurrBase [nvarchar](6)
	
	--Retrieve global values
	SELECT @PostRun = CAST([Value] AS NVARCHAR) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'ARCASHRCPT'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	
	IF @PostRun IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #Payment
    (
		  BankID [nvarchar](10) NOT NULL
		, CustID [nvarchar](10) NULL
		, BankName nvarchar(60)
		, BankRoutingCode nvarchar(18)
		, BankAcctNum [nvarchar](255) NULL 
		, RcptHeaderId int
		, PaymentAmount [decimal](28,10) NULL
		, PmtDate datetime
    )
    
    INSERT INTO #Payment (BankID, CustID, BankName, BankRoutingCode, BankAcctNum, RcptHeaderId, PaymentAmount,PmtDate)
    SELECT h.BankID, h.CustId
		, h.BankName, h.BankRoutingCode, h.BankAcctNum, h.RcptHeaderID
		, SUM(
			CASE WHEN bk.CurrencyID = @CurrBase THEN d.PmtAmt
				 WHEN h.CurrencyId = bk.CurrencyId THEN d.PmtAmtFgn 
			 ELSE ROUND(d.PmtAmtFgn *er.Rate, er.CurrDecPlaces) END) --use fgn amount when pmt is in bank currency otherwise use base
		, h.PmtDate
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	INNER JOIN dbo.tblArPmtMethod pmt ON h.PmtMethodId = pmt.PmtMethodId
	INNER JOIN dbo.tblSmBankAcct bk ON h.BankId = bk.BankId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE  er.TransType = @TransType
	) er  ON er.[Source] = h.CurrencyID AND er.Destination = bk.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800),h.RcptHeaderID)
	WHERE pmt.PmtType = 6 	
	GROUP BY h.BankId, h.CustId
		, h.BankName, h.BankRoutingCode, h.BankAcctNum
		, h.PmtDate, h.RcptHeaderId
	HAVING SUM(d.PmtAmtFgn) <> 0
	
	IF  EXISTS (SELECT * FROM #Payment t WHERE  t.PaymentAmount IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	
	INSERT INTO dbo.tblArPaymentACH (BankID, CustID, CustomerName
		, CustomerBankName, CustomerRoutingCode, CustomerAccountNumber, CustomerAcctType
		, PaymentAmount
		, PaymentDate, PostRun, TransID, TransactionType)
	SELECT h.BankID, h.CustId, c.CustName
		, h.BankName, h.BankRoutingCode, h.BankAcctNum, 0 --only supporting checking acct type
		, h.PaymentAmount --use fgn amount when pmt is in bank currency otherwise use base
		, h.PmtDate, @PostRun, RIGHT(CAST(h.RcptHeaderId AS NVARCHAR), 8), 27 --27=demand debit
	FROM #Payment h
	LEFT JOIN dbo.tblArCust c ON h.CustId = c.CustId
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_ACH_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_ACH_proc'
GO
