USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcBillingPost_RemoveInvoice_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcBillingPost_RemoveInvoice_proc]
AS
BEGIN TRY

	DECLARE @TransType nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTrans'  -- 'PCBILLTRAN'

	IF @TransType IS NULL 
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	DELETE dbo.tblPcInvoiceHeader
		FROM dbo.tblPcInvoiceHeader
		INNER JOIN #PostTransList l ON dbo.tblPcInvoiceHeader.TransId = l.TransId

	DELETE dbo.tblPcInvoiceDetail
		FROM dbo.tblPcInvoiceDetail
		INNER JOIN #PostTransList l ON dbo.tblPcInvoiceDetail.TransId = l.TransId

	DELETE dbo.tblPcInvoiceDeposit
		FROM dbo.tblPcInvoiceDeposit
		INNER JOIN #PostTransList l ON dbo.tblPcInvoiceDeposit.TransId = l.TransId

	DELETE dbo.tblPcInvoiceTax
		FROM dbo.tblPcInvoiceTax
		INNER JOIN #PostTransList l ON dbo.tblPcInvoiceTax.TransId = l.TransId

	DELETE dbo.tblSmExchangeRateTrans
		FROM dbo.tblSmExchangeRateTrans e  
		INNER JOIN #PostTransList t ON e.TransKey = t.TransId 
		WHERE TransType=@TransType

	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_RemoveInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_RemoveInvoice_proc'
GO
