USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InUpdatePerpetual_ProcessInvalidExtLoc_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InUpdatePerpetual_ProcessInvalidExtLoc_proc] 
@BatchId pBatchId
AS
BEGIN TRY

INSERT INTO dbo.tblInQtyOnHand_Ext ([ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB], [Qty])
SELECT e.ItemId, e.LocId, e.LotNum, e.ExtLocA, e.ExtLocB, -SUM(Qty) AS QtyOnHand
			FROM dbo.tblInPhysCount c INNER JOIN dbo.tblInQtyOnHand_Ext e ON 
					c.ItemId = e.ItemId AND c.LocId = e.LocId AND (c.LotNum = e.LotNum OR (c.LotNum IS NULL AND e.LotNum IS NULL))
				LEFT JOIN dbo.tblWmExtLoc a ON e.ExtLocA = a.Id 
				LEFT JOIN dbo.tblWmExtLoc b ON e.ExtLocB = b.Id 
			WHERE c.BatchId = @BatchId AND (e.ExtLocA IS NOT NULL AND a.Id IS NULL) OR (e.ExtLocB IS NOT NULL AND b.Id IS NULL)
			GROUP BY e.ItemId, e.LocId, e.LotNum, e.ExtLocA, e.ExtLocB

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdatePerpetual_ProcessInvalidExtLoc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InUpdatePerpetual_ProcessInvalidExtLoc_proc'
GO
