USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmKitSalesHistoryInquiry_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmKitSalesHistoryInquiry_proc]
AS
SET NOCOUNT ON
BEGIN TRY

SELECT h.ItemId, h.LocId, h.SumYear, h.GLPeriod, h.BatchId, h.TransId, h.SrceID, h.Uom, h.Qty, h.Cost, h.Price, 
	h.CustId, h.TransDate, h.InvcNum, h.HistSeqNum, i.Descr, i.ProductLine, i.SalesCat
FROM #tmpHistoryList t INNER JOIN dbo.tblBmKitHistSumm h ON t.HistSeqNum = h.HistSeqNum 
	LEFT JOIN dbo.tblInItem i ON h.ItemId = i.ItemId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmKitSalesHistoryInquiry_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmKitSalesHistoryInquiry_proc'
GO
