USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlAccountAllocationList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlAccountAllocationList_proc]
AS
BEGIN TRY

	SELECT h.AcctId, h.[Desc] AS AllocDesc, a.[Desc] AS AcctDesc, d.AllocToAcctId, d.AllocPct 
	FROM (dbo.tblGlAcctHdr a INNER JOIN dbo.tblGlAllocHdr h ON a.AcctId = h.AcctId) 
		INNER JOIN dbo.tblGlAllocDtl d ON h.AcctId = d.AcctId 
		INNER JOIN #tmpGlAcctAlloc t ON h.AcctId = t.AcctId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlAccountAllocationList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlAccountAllocationList_proc'
GO
