USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_InHistory_proc]
AS
BEGIN TRY

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT d.HistoryID, d.FiscalYear, d.GlPeriod, d.TransDate, NULL
	FROM #tmpCompletedRelease l INNER JOIN dbo.tblMpRequirements r ON l.ReleaseId = r.ReleaseId
		INNER JOIN dbo.tblMpMatlDtl d ON r.TransId = d.TransId
	WHERE d.HistoryID > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT c.ID, c.SumYear, c.GlPeriod, c.TransDate, NULL
	FROM #tmpCompletedRelease l INNER JOIN dbo.tblMpRequirements r ON l.ReleaseId = r.ReleaseId
		INNER JOIN dbo.tblMpMatlDtl d ON r.TransId = d.TransId 
		INNER JOIN dbo.tblMpMatlSum s ON s.TransId = d.TransId
		INNER JOIN dbo.tblInHistDetail h ON d.HistoryID = h.ID
		INNER JOIN dbo.tblInHistDetail c ON h.HistSeqNum = c.HistSeqNum_Rcpt
	WHERE d.HistoryID > 0 AND s.ComponentType = 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT e.HistoryID, d.FiscalYear, d.GlPeriod, d.TransDate, NULL
	FROM #tmpCompletedRelease l INNER JOIN dbo.tblMpRequirements r ON l.ReleaseId = r.ReleaseId
		INNER JOIN dbo.tblMpMatlDtl d ON r.TransId = d.TransId 
		INNER JOIN dbo.tblMpMatlDtlExt e ON d.SeqNo = e.EntryNum
	WHERE e.HistoryID > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT c.ID, c.SumYear, c.GlPeriod, c.TransDate, NULL
	FROM #tmpCompletedRelease l INNER JOIN dbo.tblMpRequirements r ON l.ReleaseId = r.ReleaseId
		INNER JOIN dbo.tblMpMatlDtl d ON r.TransId = d.TransId
		INNER JOIN dbo.tblMpMatlSum s ON s.TransId = d.TransId
		INNER JOIN dbo.tblMpMatlDtlExt e ON d.SeqNo = e.EntryNum 
		INNER JOIN dbo.tblInHistDetail h ON e.HistoryID	 = h.ID
		INNER JOIN dbo.tblInHistDetail c ON h.HistSeqNum = c.HistSeqNum_Rcpt
	WHERE e.HistoryID > 0 AND s.ComponentType = 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_InHistory_proc'
GO
