USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcASN_ExportTC_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcASN_ExportTC_proc]
   @PostRun nvarchar(14) ='',
   @TotCount int =0 OUT
AS


BEGIN TRY

   SET NOCOUNT ON 

   DECLARE @DocId bigInt,
           @EdiDocNum nvarchar(3)

   SET @DocId = (SELECT ID FROM tblEcDocument WHERE DocId = '856-O')

   SELECT @EdiDocNum=EdiDocNum
   FROM dbo.tblEcDocument 
   WHERE ID = @DocId

   DECLARE @I int,
           @ISAControlNum nvarchar(12),
           @GSControlNum nvarchar(12),
           @STControlNum nvarchar(12),
           @CurrPostRun [nvarchar](14) = NULL,
           @CurrTransId [nvarchar](8) ,
           @CurrEdiASNNum nvarchar(12), 
           @CurrPartnerId bigInt,
           @CurrReceiverId nvarchar(15), 
           @CurrCustPoNumber NVARCHAR(75),
           @CurrFilePath NVARCHAR(500),
           @CurrMailQual NVARCHAR(12),
           @Version nvarchar(10),
           @SendDate nvarchar(8),
           @SendTime nvarchar(4),
           @UserID nvarchar(20),   
           @WrkStnID nvarchar(20),
		   @RetVal int,
		   @MapID nVarchar(12),
		   @lastMailContolId bigint,
           @gCasePackPrec smallint, 
           @gUPricePrec smallint,
           @PrevFilePath nvarchar(255),
		   @HandleLog bit = 0,
		   @IsLive bit = 1

   DECLARE @CompName nvarchar(30), 
           @CompAddr1 nvarchar(30),
           @CompAddr2 nvarchar(30), 
           @CompCountry [nvarchar](6),
           @CompCity nvarchar(30),
           @CompRegion nvarchar(10),
           @CompPostalCode nvarchar(10)

   DECLARE @UseSameISAandGSSeqYN BIT,
           @TestModeYN BIT

   IF OBJECT_ID('tempdb..#tmpExportLog') IS NOT NULL
	   SET @HandleLog = 1

   SELECT @UseSameISAandGSSeqYN=0,@gCasePackPrec=0,@TestModeYN = 0

   SELECT @SendDate=CONVERT(nvarchar,GETDATE(),112),
          @SendTime =REPLACE(LEFT(CONVERT(nvarchar,getdate(),108),5),':','')

   IF ISNULL(@PostRun,'')='' SET @PostRun=REPLACE(REPLACE(REPLACE(CONVERT(nvarchar,GETDATE(),120),' ',''),'-',''),':','')

   SELECT @UserID = [Value] FROM #GlobalValues WHERE [Key] = 'UserID'
   SELECT @WrkStnID = [Value] FROM #GlobalValues WHERE [Key] = 'WrkStnID'

   DELETE FROM dbo.tblEcTempExport WHERE DocId = @DocId

   DELETE FROM tblEcASNExportLog

   CREATE TABLE #Comp (CompID nvarchar(3),[Name] nvarchar(30) NULL, Addr1 nvarchar(30) NULL, Addr2 nvarchar(30) NULL, 
                        Country nvarchar(6) NULL, City nvarchar(30) NULL, Region nvarchar(10) NULL, PostalCode nvarchar(10) NULL, Phone nvarchar(20) NULL, 
                        Fax nvarchar(20) NULL, SiteNum nvarchar(20) NULL, Email text NULL) 

   CREATE TABLE #CtrlNum (Id INT IDENTITY(1,1),PartnerId bigInt,ISAControlNum nvarchar(50),GSControlNum nvarchar(50))

   CREATE TABLE #TranTmp (ID int IDENTITY(1,1),PostRun [nvarchar](14) NULL, TransID [nvarchar](8) NOT NULL, CustId [nvarchar](10) NOT NULL, PartnerId bigInt,ReceiverId nvarchar(15),EdiInvcNum nvarchar(20),CustPoNum NVARCHAR(75))

   CREATE TABLE #TranH (PostRun [nvarchar](14) NULL, BatchID nvarchar(10),TransID pTransid, TransType smallint, PartnerId bigInt,CustId [nvarchar](10) NOT NULL,EdiInvcNum nvarchar(50),InvcDate datetime,CustPONum nvarchar(50), OrderDate  datetime,
                        PODate datetime,ShipDate datetime,LocId [nvarchar](10) NULL,TermsCode nvarchar(20), AcctNum nvarchar(50), DeptID nvarchar(50), StoreCode nvarchar(50), 
                        MerchandiseTypeCode nvarchar(50),
                        ShipMethodCode nvarchar(12),ShipMethodName nvarchar(50), EDIShipMethodCode nvarchar(12),EDIShipMethodName nvarchar(50),ShipMethodContact nvarchar(50),ShipMethodAddr1 nvarchar(100), ShipMethodAddr2 nvarchar(100), ShipMethodCity nvarchar(50),ShipMethodRegion  nvarchar(50),ShipMethodPostalCode nvarchar(50),ShipMethodPhone nvarchar(50),ShipMethodEmail nvarchar(50) ,SCAC nvarchar(20),
                        NetDueDate datetime,DiscDueDate datetime,DiscAmt [decimal](28,10) NULL,DiscPct smallint,DiscDays smallint,NetDueDays smallint,InvcTotal [decimal](28,10) NULL,
                        EDIBillToCode nvarchar(20),BillToName nvarchar(50),BillToAddr1 nvarchar(100),BillToAddr2 nvarchar(100),BillToCity nvarchar(50),BillToRegion nvarchar(50),BillToPostalCode nvarchar(50),BillToCountry  nvarchar(50),
                        ShipToId nvarchar(10), EDIShipToCode nvarchar(20),ShipToName nvarchar(50),ShipToAddr1 nvarchar(100),ShipToAddr2 nvarchar(100),ShipToCity nvarchar(50),ShipToRegion nvarchar(50),ShipToPostalCode nvarchar(50),ShipToCountry nvarchar(50),
                        ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry  nvarchar(50),                  
                        Totalweight [decimal](28,10) NULL,TaxSubtotal [decimal](28,10) NULL,NonTaxSubtotal [decimal](28,10) NULL,SalesTax [decimal](28,10) NULL,Freight [decimal](28,10) NULL,Misc [decimal](28,10) NULL,CurrencyID nvarchar(10),DUNS nvarchar(50),BillofLading nvarchar(75),ShipNum nvarchar(50))

   CREATE TABLE #TranD (id int identity(1,1), PostRun [nvarchar](14) NULL, TransID pTransid, EntryNum int,EdiInvcNum nvarchar(50),LineSeq bigInt,
                        LocId [nvarchar](10) NULL,ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry nvarchar(50),
                        ItemId nvarchar(100),ItemDescr nvarchar(80),ItemWeight [decimal](28,10) NULL,ItemUIR nvarchar(100),UPCCode nvarchar(24),PriceExt [decimal](28,10) NULL,ItemWeightExt [decimal](28,10) NULL,
                        POLineNum int,POLineQty [decimal](28,10) NULL, POLinePrice [decimal](28,10) NULL,POLineUOM nvarchar(50),QtyShipSell [decimal](28,10) NULL, UnitPriceSell [decimal](28,10) NULL,UnitsSell nvarchar(50),ConversionFactor [decimal](28,10) NULL,PackageType nvarchar(50),PackageTypeDescr nvarchar(50), BrandLabel nvarchar(50),BrandLabelDescr nvarchar(50), ProductLine nvarchar(50),ProductLineDescr nvarchar(50),
                        LotNum nvarchar(50),LotExpirationDate datetime)

   --get company info
   IF OBJECT_ID('tempdb..#tmpCompanyInfo') IS NOT NULL
	BEGIN
		SELECT TOP 1 @CompName = [Name],
		@CompAddr1 = Addr1,
		@CompAddr2 = Addr2,
		@CompCity = City,
		@CompRegion = UPPER(ISNULL(Region,'')),
		@CompPostalCode = PostalCode,
		@CompCountry = Country
		FROM #tmpCompanyInfo
	END

   SELECT @CurrFilePath='',@PrevFilePath='-1'  
  
    -- Select all Transactions send 
   INSERT INTO #TranTmp(PostRun,TransID,CustId,EdiInvcNum,CustPoNum)
   SELECT h.PostRun,h.TransId,h.SoldToId,h.InvcNum,h.CustPoNum
   FROM dbo.tblEcComm c
   INNER JOIN (
		SELECT h.PostRun, h.TransId, h.SoldToId, h.InvcNum, h.CustPONum
		FROM dbo.tblArHistHeader h
		UNION ALL
		SELECT NULL AS PostRun, s.TransId, s.SoldToId, s.InvcNum, s.CustPONum
		FROM (SELECT DISTINCT TransId FROM dbo.tblEcPackHeader) h
		INNER JOIN dbo.tblSoTransHeader s ON h.TransID = s.TransId
   ) h ON c.PostRun=ISNULL(h.PostRun, c.PostRun) AND c.DocKey=h.TransID
   WHERE c.DociD=@DocId AND ISNULL(OnHoldYn,0)=0 
   ORDER BY c.PostRun,c.DocKey
 
   -- get partner ID
   UPDATE t SET PartnerId=p.ID,ReceiverId=pd.MailID
   FROM #TranTmp t
   INNER JOIN dbo.trav_EcPartnerCustomer_view v ON t.CustId=v.CustId
   INNER JOIN dbo.tblEcPartner p ON v.ID=p.ID
   INNER JOIN (SELECT PartnerId, MailId FROM tblEcPartnerDoc WHERE DocID = @Docid AND ISNULL(ActiveYN,0)=1) pd ON p.ID =pd.PartnerID
   WHERE ISNULL(p.ActiveYn,0)=1 


   -- get control numbers (if set to get one ISA and GS per partner)
   IF @UseSameISAandGSSeqYN=1
   BEGIN
      INSERT INTO #CtrlNum (PartnerId)
      SELECT DISTINCT Partnerid FROM #TranTmp

      SET @I=1
      WHILE @I<=(SELECT MAX(ID) FROM #CtrlNum)
         BEGIN
            SELECT @ISAControlNum='',@GSControlNum=''
            SELECT @CurrPartnerId=PartnerId FROM #CtrlNum WHERE id=@i

            EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'IS',@ISAControlNum OUT
            EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'GS',@GSControlNum OUT

            UPDATE #CtrlNum SET ISAControlNum=@ISAControlNum,GSControlNum=@GSControlNum WHERE id=@I

            SELECT @I=@I+1
      END
   END

   SELECT @CurrPartnerId='',@ISAControlNum='',@GSControlNum=''

   -- save ar header info 
   INSERT INTO #TranH (PostRun,TransID,BatchID,TransType,PartnerId,CustId,EdiInvcNum,InvcDate,CustPONum,PODate,ShipDate,LocId,OrderDate,TermsCode ,NetDueDate,DiscDueDate,discAmt,
                       AcctNum,DeptID,StoreCode,MerchandiseTypeCode,ShipToId ,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToPostalCode,ShipToCountry,
                       Totalweight,TaxSubtotal,NonTaxSubtotal,SalesTax,Freight,Misc,CurrencyID,DUNS,BillofLading,InvcTotal,EDIShipToCode,ShipNum,ShipMethodCode)
   SELECT h.PostRun,h.TransId, h.BatchId,h.TransType,t.PartnerId, h.SoldToId,t.EdiInvcNum,h.InvcDate,h.CustPONum,h.PODate,h.ShipDate,h.WhseId,h.OrderDate,
          h.TermsCode ,h.NetDueDate,h.DiscDueDate,discAmt,'' EDIAcctNum,'' EDIDeptID,'' EDIStoreCode,'' EDIMerchandiseTypeCode,
          h.ShipToId, h.ShipToName,REPLACE(REPLACE(h.ShipToAddr1, CHAR(13),''),CHAR(10),''),REPLACE(REPLACE(h.ShipToAddr2, CHAR(13),''),CHAR(10),''),h.ShipToCity,h.ShipToRegion,h.ShipToPostalCode,h.ShipToCountry,
          0,h.TaxSubtotal,h.NonTaxSubtotal,h.SalesTax,h.Freight,h.Misc,h.CurrencyID,'' EDIDUNS,h.ShipNum,   ISNULL(TaxSubtotal, 0) + ISNULL(NonTaxSubtotal, 0) + ISNULL(SalesTax, 0) + ISNULL(TaxAmtAdj, 0)+ISNULL(Freight, 0) + ISNULL(Misc, 0)  , '' EDIShipToCode,h.ShipNum,h.ShipMethod
   FROM #TranTmp t
   INNER JOIN tblArHistHeader h ON t.PostRun=h.PostRun AND h.TransId=t.TransID
   UNION ALL
   SELECT NULL as PostRun,h.TransId, h.BatchId,h.TransType,t.PartnerId, h.SoldToId,t.EdiInvcNum,h.InvcDate,h.CustPONum,h.PODate,h.ActShipDate,h.LocId,h.TransDate,
          h.TermsCode ,h.NetDueDate,h.DiscDueDate,discAmt,'' EDIAcctNum,'' EDIDeptID,'' EDIStoreCode,'' EDIMerchandiseTypeCode,
          h.ShipToId, h.ShipToName,REPLACE(REPLACE(h.ShipToAddr1, CHAR(13),''),CHAR(10),''),REPLACE(REPLACE(h.ShipToAddr2, CHAR(13),''),CHAR(10),''),h.ShipToCity,h.ShipToRegion,h.ShipToPostalCode,h.ShipToCountry,
          0,h.TaxableSales,h.NonTaxableSales,h.SalesTax,h.Freight,h.Misc,h.CurrencyID,'' EDIDUNS,h.ShipNum, ISNULL(TaxableSales, 0) + ISNULL(NonTaxableSales, 0) + ISNULL(SalesTax, 0) + ISNULL(TaxAmtAdj, 0)+ISNULL(Freight, 0) + ISNULL(Misc, 0)  , '' EDIShipToCode,h.ShipNum,h.ShipMethod
   FROM #TranTmp t
   INNER JOIN tblSoTransHeader h  ON t.TransID=h.TransId

   UPDATE t SET EDIShipToCode =s.EDIShipToCode
   FROM #TranH t
   INNER JOIN trav_tblArShipTo_view s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId

   UPDATE t SET BillToName=c.CustName,BillToAddr1=c.Addr1,BillToAddr2=c.Addr2,BillToCity=c.City,BillToRegion=c.Region,BillToPostalCode=c.PostalCode,BillToCountry=c.Country
   FROM #TranH t
   INNER JOIN tblArCust c ON t.CustId=c.CustId

   UPDATE t SET ShipMethodName=h.[Desc], ShipFromAddr1='', SCAC=h.EDISCAC 
   FROM #TranH t
   INNER JOIN tblArShipMethod h ON t.ShipMethodCode = h.ShipMethodID

   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=l.Region,t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranH t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   -- save ar detail info 
   INSERT INTO #TranD(PostRun,TransID,EdiInvcNum,EntryNum,LineSeq,LocID,ItemId,ItemDescr,POLineNum ,POLineQty,POLinePrice,POLineUOM,QtyShipSell,UnitPriceSell,UnitsSell,PriceExt,ConversionFactor)
   SELECT d.PostRun,d.TransID,t.EdiInvcNum,d.EntryNum, d.LineSeq,d.WhseId,d.PartId,LEFT(d.[Desc],80),'' EDIPOLineNum,NULL EDIPOLineQty , NULL  EDIPOLinePrice ,NULL EDIPOLineUOM,CASE WHEN t.TransType=-1 AND d.QtyShipSell=0 AND d.QtyOrdSell>0 AND d.PriceExt<>0 THEN  QtyOrdSell ELSE d.QtyShipSell END,d.UnitPriceSell,d.UnitsSell,d.PriceExt,d.ConversionFactor
   FROM tblArHistDetail d
   INNER JOIN #TranH t ON d.PostRun=t.PostRun AND d.TransId=t.TransID
   WHERE d.QtyShipSell>0 AND d.GrpId IS NULL AND EntryNum>=0 AND d.[Status] = 0 AND d.InItemYN=1
   UNION ALL
   SELECT NULL as PostRun,d.TransID,t.EdiInvcNum,d.EntryNum, d.LineSeq,d.LocId,d.ItemId,LEFT(d.[Descr],80),'' EDIPOLineNum,NULL EDIPOLineQty , NULL  EDIPOLinePrice ,NULL EDIPOLineUOM,CASE WHEN t.TransType=-1 AND d.QtyShipSell=0 AND d.QtyOrdSell>0 AND d.PriceExt<>0 THEN  QtyOrdSell ELSE d.QtyShipSell END,d.UnitPriceSell,d.UnitsSell,d.PriceExt,d.ConversionFactor
   FROM tblSoTransDetail d
   INNER JOIN #TranH t ON d.TransId=t.TransID
   WHERE d.QtyShipSell>0 AND d.GrpId IS NULL AND EntryNum>=0 AND d.[Status] = 0 AND d.InItemYN=1
   
   -- get PO line number 
   UPDATE d SET POLineNum=CASE WHEN ISNULL(pd.POLineNum,0)>0 THEN pd.POLineNum ELSE d.EntryNum END 
   FROM #TranD d
   LEFT JOIN tblEcPoHistDetail pd ON d.TransID=pd.SOTransId AND d.EntryNum =pd.SOEntryNum
   

   UPDATE d SET LineSeq=d_seq.SeqNum 
   FROM #TranD d
   INNER JOIN (SELECT PostRun,TransId,EntryNum,ROW_NUMBER () OVER (PARTITION BY PostRun,TransId ORDER BY PostRun,TransId,EntryNum) SeqNum
               FROM #TranD) d_seq ON d.PostRun=d_seq.PostRun AND d.TransID=d_seq.TransID AND d.EntryNum=d_seq.EntryNum

   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=l.Region,t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranD t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   UPDATE t SET UPCCode=u.UPCcode,ItemWeight=u.[Weight],ItemWeightExt=ISNULL(u.[Weight],0) * ISNULL(t.QtyShipSell,0)
   FROM #TranD t
   INNER JOIN tblInItemUom u ON t.ItemId=u.ItemId AND t.UnitsSell=u.Uom

   UPDATE t SET UPCCode=x.UPC
   FROM #TranD t
   INNER JOIN #TranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
   INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND x.TRAVItemID=t.ItemId AND x.TRAVUOM=t.UnitsSell
   AND ISNULL(x.UPC,'')<>''

   UPDATE t SET ItemUIR=x.UIR
   FROM #TranD t
   INNER JOIN #TranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
   INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND x.TRAVItemID=t.ItemId AND x.TRAVUOM=t.UnitsSell

   UPDATE t SET ProductLine=i.ProductLine,ProductLineDescr=pl.Descr
   FROM #TranD t
   INNER JOIN dbo.[tblInItem] i ON t.ItemId=i.ItemId
   INNER JOIN dbo.tblInProductLine pl ON i.ProductLine=pl.ProductLine
 
   -- remove header is there are no details
   DELETE h
   FROM #TranH h
   LEFT JOIN #TranD d ON ISNULL(h.PostRun, '') = ISNULL(d.PostRun, '') AND h.TransId=d.TransId 
   WHERE d.TransId IS NULL

   DELETE t
   FROM #TranTmp t
   LEFT JOIN #TranD d ON ISNULL(t.PostRun, '') = ISNULL(d.PostRun, '') AND t.TransID=d.TransId 
   WHERE d.TransId IS NULL  

   SELECT @I=MIN(ID) FROM #TranTmp

   WHILE @I<>0
   BEGIN
      SET @CurrEdiASNNum=1
      
      EXEC dbo.trav_EcNextTransId_proc @FunctionID='EDIASN',@IsInt=1,@TransID= @CurrEdiASNNum OUT
        
      SELECT @CurrPostRun=PostRun,@CurrTransId=TransID, @CurrPartnerID=PartnerID,@CurrCustPoNumber=CustPoNum,@CurrReceiverId =ReceiverId,@IsLive = CASE WHEN PostRun IS NULL THEN 1 ELSE 0 END
      FROM #TranTmp WHERE ID=@I

      --SELECT @CurrFilePath=@PostRun+'_'+@CurrPartnerID +'.csv'

      SELECT @CurrFilePath='' 
      EXEC dbo.trav_EcGetFileOutbound_proc @PartnerId=@CurrPartnerID,@DocId=@DocId,@PostRun=@PostRun,@MapID = '',@KeyValue=@CurrEdiASNNum,@FilePathOut=@CurrFilePath OUT
      SET @CurrFilePath=ISNULL(@CurrFilePath,'')

      IF @UseSameISAandGSSeqYN=0
      BEGIN
         EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'IS',@ISAControlNum OUT
         EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'GS',@GSControlNum OUT
      END
      ELSE
      BEGIN
        --use same ISA number
         SELECT @ISAControlNum=ISAControlNum, 
                @GSControlNum=GSControlNum  
         FROM #CtrlNum WHERE PartnerId=@CurrPartnerId
      END

      EXEC dbo.trav_EcGetNextControlNum_Proc @CurrPartnerId,'ST',@STControlNum OUT

      INSERT INTO dbo.tblEcTempExport (PostRun,DocId,RecType,Sort1,sort2,sort3,Sort4,
              [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
              [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
              [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],
              [Fld31],[Fld32],[Fld33],[Fld34],[Fld35],[Fld36],[Fld37],[Fld38],[Fld39],[Fld40],FilePath, UserId,WrkStnId)
     
      SELECT @PostRun PostRun,@DocId,
           'DTL' RecType,
            @CurrReceiverId,     -- [sort1]
            @CurrEdiASNNum,      -- [sort2]
            '1',                 -- [sort3]
            0,                   -- [sort4]
            'ID',                -- [Fld01]
            'partner' ,          -- [Fld02]
            'custno',            -- [Fld03]
            'btchno',            -- [Fld04]
            'sono',              -- [Fld05]
            'ponum',             -- [Fld06]
            'ref',               -- [Fld07]
            'ordate',            -- [Fld08]
            'shipvia',           -- [Fld09]
            'carrier',           -- [Fld10]
            'fob',               -- [Fld11]
            'cshipno',           -- [Fld12]
            'ship_name',         -- [Fld13]
            'ship_addr1',        -- [Fld14]
            'ship_addr2',        -- [Fld15]
            'ship_city',         -- [Fld16]
            'ship_state',        -- [Fld17]
            'ship_country',      -- [Fld18]
            'ship_zip',          -- [Fld19]
            'lineno',            -- [Fld20]
            'citem',             -- [Fld21]
            'item',              -- [Fld22]
            'itmdesc',           -- [Fld23]
            'qtyshp',            -- [Fld24]
            'shipdate',          -- [Fld25]
            'umeasur',           -- [Fld26]
            'lot_num',           -- [Fld27]
            'pro_number',         -- [Fld28]
            'contactname',       -- [Fld29]
            'contactphone',      -- [Fld30]
            'contactemail',      -- [Fld31]
            'SCAC',              -- [Fld32]
            'WEIGHT',            -- [Fld33]
            'frt_city',          -- [Fld34]
            'frt_state',         -- [Fld35]
            'frt_zip',           -- [Fld36]
            'DUNS#',             -- [Fld37]
            'status',            -- [Fld38]
            'expires',           -- [Fld39]
            'po_line_num',       -- [Fld40]
            @CurrFilePath,
            @UserId,
            @WrkStnId  
      WHERE (@CurrFilePath<>@PrevFilePath) AND @CurrFilePath<>''  -- this will insure that there is one header line per file
      
      IF @CurrFilePath<>@PrevFilePath 
      BEGIN
         SET @PrevFilePath=@CurrFilePath
      END 
      
      INSERT INTO dbo.tblEcTempExport (PostRun,DocId,RecType,Sort1,sort2,sort3,Sort4,
              [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
              [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
              [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],
              [Fld31],[Fld32],[Fld33],[Fld34],[Fld35],[Fld36],[Fld37],[Fld38],[Fld39],[Fld40],FilePath, UserId,WrkStnId)

      SELECT @PostRun PostRun,@DocId,
           'DTL' RecType,
            @CurrReceiverId,     -- [sort1]
            @CurrEdiASNNum,      -- [sort2]
            '2',                 -- [sort3]
            d.LineSeq,           -- [sort4]
            @EdiDocNum Fld01,                     --[Fld01]
            @CurrReceiverId,                      --[Fld02]
            h.CustId,                             --[Fld03]
            h.BatchID ,                           --[Fld04]
            h.TransID,                           -- [Fld05]
            h.CustPoNum ,                         --[Fld06]
            h.TransID,                            --[Fld07]
            convert(nvarchar,h.orderdate,101)  orderdate ,   -- [Fld08]
            CASE WHEN ISNULL(h.EDIShipMethodCode,'')='' THEN h.ShipMethodCode ELSE h.EDIShipMethodCode END shipvia,  --[Fld09]
            CASE WHEN ISNULL(h.EDIShipMethodName,'')='' THEN h.ShipMethodName ELSE h.EDIShipMethodName END  carrier, --[Fld10]
             '' fob,                              --[Fld11]
            h.EDIShipToCode ship_dun,             --[Fld12]
            h.ShipToName ship_name,               --[Fld13]
            h.ShipToAddr1 ship_addr1,             --[Fld14]
            h.ShipToAddr2 ship_addr2,             --[Fld15]
            h.ShipToCity ship_city,               --[Fld16]
            h.ShipToRegion ship_state,            --[Fld17]
            h.ShipToCountry ship_ctry,            --[Fld18]
            RTRIM(h.ShipToPostalCode) ship_zip,   --[Fld19]
            d.EntryNum,                           --[Fld20]
            CASE WHEN ISNULL(d.ItemUIR,'') ='' THEN d.ItemId ELSE d.ItemUIR END ,            --[Fld21]
            d.ItemId,                             --[Fld22]
            d.ItemDescr,                          --[Fld23]
            d.QtyShipSell,                        --[Fld24]
            convert(nvarchar,h.ShipDate,101) ShipDate,                                        --[Fld25]
            d.UnitsSell,                          --[Fld26]
            d.LotNum,                             --[Fld27]
            h.ShipNum,                            --[Fld28]
            '' contactname,                       --[Fld29]
            '' contactphone,                      --[Fld30]
            '' contactemail,                      --[Fld31]
            h.SCAC SCAC,                          --[Fld32]
            h.Totalweight,                        --[Fld33]
            h.ShipMethodCity,                     --[Fld34]
            h.ShipMethodRegion,                   --[Fld35]
            h.ShipMethodPostalCode,               --[Fld36]
            h.EDIBillToCode,                      --[Fld37]
            '00',                                 --[Fld38]
            d.LotExpirationDate,                  --[Fld39]
            d.POLineNum,                          --[Fld40]
            @CurrFilePath,
            @UserId,
            @WrkStnId
      FROM #TranH h 
      INNER JOIN #TranD d ON ISNULL(h.PostRun, '') = ISNULL(d.PostRun, '') AND h.TransID=d.TransID
      WHERE ((@IsLive = 1 AND h.PostRun IS NULL) OR (@IsLive = 0 AND h.PostRun = @CurrPostRun)) AND h.TransId=@CurrTransId

       -- write mail control
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
		 --Generate new Mail Contro ID
		 SET @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
				
		 --Increase ID with # of Records generated
		 SET @lastMailContolId = @lastMailContolId + (SELECT COUNT(*) FROM dbo.tblEcMailControl WHERE ID >= @lastMailContolId)

         INSERT INTO dbo.tblEcMailControl(ID,ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,DocAddnlRef1,SenderID, SenderIDGS, ReceiverID, ReceiverIdGS,  ISAControlNum,GSControlNum ,STControlNum,GSVersion ,StatusFlag,SendDate,SendTime)
         SELECT @lastMailContolId + ROW_NUMBER() OVER (ORDER BY @PostRun, @CurrPartnerId,@DocId,@EdiDocNum), @PostRun,@I KeyLevelSeq1,@CurrPartnerId,@DocId,@EdiDocNum,@CurrEdiASNNum,@CurrCustPoNumber,NULL SenderID, NULL SenderIDGS, @CurrReceiverId, @CurrReceiverId, @ISAControlNum,@GSControlNum,case when @STControlNum = ' ' then 0 else @STControlNum end, @Version,'P' StatusFlag,@SendDate,@SendTime
      END

	  IF (@HandleLog = 1)
	  BEGIN
		  INSERT INTO #tmpExportLog(FilePath, PostRun, DocId) VALUES (@CurrFilePath, @PostRun, @DocID)
	  END

       -- write log
      INSERT INTO dbo.tblEcASNExportLog (PostRun, PartnerId,CustId,ShipToName,CustPoNum,AsnNumber,ShipDate,ShipperName,ShipNum,ContainerCount)
      SELECT @PostRun,@CurrPartnerID,h.CustId, h.ShipToName,@CurrCustPoNumber, @CurrEdiASNNum,h.ShipDate,CASE WHEN ISNULL(h.EDIShipMethodName,'')='' THEN h.ShipMethodName ELSE h.EDIShipMethodName END ,h.ShipNum, 1 ContainerCount -- allways 1 for summary
      FROM #TranH h 
      WHERE ISNULL(PostRun, '') = ISNULL(@CurrPostRun, '') AND TransID=@CurrTransId

      -- Remove from Communications
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
         DELETE FROM dbo.tblEcComm WHERE ((@IsLive = 1 AND PostRun = DocKey) OR (@IsLive = 0 AND PostRun=@CurrPostRun)) AND DocKey=@CurrTransID AND DocID=@DocID
      END

      -- Next record
      DELETE FROM #TranTmp WHERE ID=@I
      SELECT @I=MIN(ID) FROM #TranTmp
   END

   -- return number of asns
   SELECT @TotCount=COUNT(*) FROM dbo.tblEcTempExport WHERE DocId= @DocId AND RecType='DTL' AND ISNULL(Sort3,'')='1' -- dont count caption record
   SELECT ISNULL(@TotCount,0) TotCount

END TRY   
BEGIN CATCH
   EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcASN_ExportTC_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcASN_ExportTC_proc'
GO
