USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTen99FormsMMTable_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTen99FormsMMTable_proc]  
@Year  Smallint = 2013  
  
AS  
SET NOCOUNT ON  
DECLARE @StartDate datetime, @EndDate datetime  
  
BEGIN TRY  
  
 DELETE dbo.tblApTen99MMHeader  
  
 DELETE dbo.tblApTen99Edit  
  
  
 SET @StartDate = CAST(@year AS nvarchar) + '0101';  
 SET @EndDate = CAST(@year + 1 AS nvarchar) + '0101';  
  
 CREATE TABLE #ApTen99FormsRptSum (VendorID [nvarchar](10) NOT NULL,  TotalTen99Pmt [decimal](28,10) NOT NULL)  
  
 INSERT INTO #ApTen99FormsRptSum(VendorID, TotalTen99Pmt)  
 SELECT v.VendorId,  
        SUM(CASE WHEN ([t].[Ten99Amt] IS NOT NULL)  
                 THEN  [t].[Ten99Amt]  
                 WHEN ([d].[Ten99InvoiceYN] = 1)  
                 THEN ([d].[PaymentAmtBase])  
              ELSE 0 END) AS [TotalTen99Pmt]  
 FROM #tmpVendorList v  
 INNER JOIN tblApPaymentHistHeader h ON h.VendorID = v.VendorId  
 INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID =d.HeaderID  
 INNER JOIN #tmpBankAcctList b on  b.BankId = h.BankId   
 LEFT JOIN [dbo].[tblApPaymentHistDetailTen99] t  ON d.[ID] = t.[ID]   
   
 WHERE ((d.Ten99InvoiceYN = 1) OR (t.ID IS NOT NULL)) AND h.VoidDate IS NULL AND h.PaymentDate >= @StartDate AND h.PaymentDate < @EndDate  
 GROUP BY v.VendorId  
 HAVING Sum(d.PaymentAmtBase) > 0  
   
 INSERT INTO dbo.tblApTen99Edit (VendorID,[Name],Addr1,Addr2,City,Region,PostalCode,Ten99FormCode,AcctNo,  
  Ten99RecipientID,Ten99FieldIndicator,Ten99ForeignAddrYN,SecondTINNotYN,Amount,NameControl,PayToName, FATCAFilingYN)  
 SELECT v.VendorID,v.[Name],v.Addr1,v.Addr2,v.City,v.Region,v.PostalCode,v.Ten99FormCode,v.VendorID,  
  v.Ten99RecipientID,v.Ten99FieldIndicator,v.Ten99ForeignAddrYN,v.SecondTINNotYN,  
  t.TotalTen99Pmt,NULL,CASE WHEN v.[Name] <> v.PayToName THEN v.PayToName ELSE NULL END PayToName,  0 
 FROM dbo.tblApVendor v INNER JOIN dbo.tblApTen99FieldIndic f ON v.Ten99FieldIndicator = f.IndicatorId    
  INNER JOIN #ApTen99FormsRptSum t ON v.VendorID = t.VendorID  
 WHERE v.Ten99FormCode <> '0' AND t.TotalTen99Pmt >= f.Limit  
   
 SELECT VendorID,[Name],Addr1,Addr2,City,Region,PostalCode,Ten99FormCode,AcctNo,  
  Ten99RecipientID,Ten99FieldIndicator,Ten99ForeignAddrYN,SecondTINNotYN,Amount,NameControl,PayToName   
 FROM dbo.tblApTen99Edit  
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTen99FormsMMTable_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTen99FormsMMTable_proc'
GO
