USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrDailyAvailabilityView_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrDailyAvailabilityView_proc]
(
@RunId [nvarchar](14),
@ItemId [nvarchar](24),
@LocId [nvarchar](10),
@UOM [nvarchar](5),
@StartDate Datetime,
@CutOffDate Datetime,
@OptFlags int = 0,
@PrecQty tinyint = 4
)
AS
BEGIN TRY
SET NOCOUNT ON
--1=PurchOrds / 2=PurchReqs / 16=SalesOrds / 32=FrcstSales / 64=MstrSchedComp / 128=MstrSchedProduction / 256=WorkOrds / 512=WorkOrdComp / 1024=WM Transfer / 2048=JC Estimates / 10=SD
Declare @RetVal int
Declare @QtyOnHand [decimal](28,10)
Declare @ConvFactor [decimal](28,10)
Declare @tmpDate datetime

--date list 
Create table #DateList(PdId int identity(1, 1), IncDate datetime)

--period qty buckets
Create table #PdQtys
(
	PdDate datetime Null, 
	OnHand [decimal](28,10) NOT NULL default(0),
	SoCmtd [decimal](28,10) NOT NULL default(0), 
	DrCmtd [decimal](28,10) NOT NULL default(0), 
	BmCmtd [decimal](28,10) NOT NULL default(0),
	MpCmtd [decimal](28,10) NOT NULL Default(0),
	BmOnOrder [decimal](28,10) NOT NULL default(0), 
	MpOnOrder [decimal](28,10) NOT NULL default(0),
	PoPurReq [decimal](28,10) NOT NULL default(0),
	PoOnOrder [decimal](28,10) NOT NULL default(0),
	WmOnOrder [decimal](28,10) NOT NULL default(0),
	JcCmtd [decimal](28,10) NOT NULL default(0),
	SdCmtd [decimal](28,10) NOT NULL default(0),
	PrOnOrder [decimal](28,10) NOT NULL default(0),  ---------PurchaseRequest(3) 
	BoCmtd   [decimal](28,10) NOT NULL default(0),  -------- BoCmtd (5) 
	SpCompReq [decimal](28,10) NOT NULL default(0), --       Single Pass Component requirement 
	SRCmtd [decimal](28,10) NOT NULL default(0), ----SR Transactions (13)
	MSProduction [decimal](28, 10) NOT NULL default(0),
	NetAvail [decimal](28,10) NOT NULL default (0)
)
--capture current on hand qty for non-serialized and serialized items
Select @QtyOnHand = QtyOnHand
	From dbo.tblDRRunItemLoc
	Where RunId = @RunId and ItemId = @ItemId and LocId = @LocId

--ensure value isn't null
Select @QtyOnHand = isnull(@QtyOnHand, 0)

--build the date range starting with todays date
Select @tmpDate = @StartDate
While @tmpDate <= @CutoffDate
Begin
	Insert into #DateList(IncDate) Values (@tmpDate)
	Set @tmpDate = dateadd(dd, 1, @tmpDate)
End

--capture bucketed quantities
Insert into #PdQtys(PdDate, SoCmtd, DrCmtd, BmCmtd,MpCmtd, BmOnOrder,MpOnOrder, PoPurReq, PoOnOrder, WmOnOrder, JcCmtd,SdCmtd,PrOnOrder,BoCmtd,SpCompReq,SRCmtd, MSProduction)
Select Case When t.TransDate < @StartDate Then @StartDate Else d.IncDate End
		, Round(Sum(Case When s.SourceId = 16 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 32  or (s.SourceId = 64) Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 512 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 8 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 256 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 4 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 2 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 1 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 1024 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 2048 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 10 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 3 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 5 Then t.Qty Else 0 End), @PrecQty)
		, Round(Sum(Case When s.SourceId = 11 Then t.Qty Else 0 End), @PrecQty) 
		, Round(Sum(Case When s.SourceId = 13 Then t.Qty Else 0 End), @PrecQty) 
		, Round(Sum(Case When s.SourceId = 128 Then t.Qty Else 0 End), @PrecQty)
	From #DateList d, (Select convert(datetime, convert(varchar(10),  TransDate, 101)) TransDate, Source, Qty 
			From dbo.tblDRRunData
			Where RunId = @RunId and ItemId = @ItemId and LocId = @LocId) t
			INNER JOIN #tmpSourceList s ON s.SourceId = t.Source
			Where  t.TransDate = d.IncDate  
 Group By Case When t.TransDate < @StartDate Then @StartDate Else d.IncDate End


--pack table to ensure records exist for each #DateList period
Insert into #PdQtys(PdDate) Select IncDate From #DateList Where IncDate not in (Select PdDate From #PdQtys)



--calcualte the Net Avail per period
Update #PdQtys Set #PdQtys.NetAvail = @QtyOnHand + isnull(tmp.NetAvail, 0)
From (Select d.PdDate
	, (Select Sum(PoOnOrder + (BmOnOrder+MpOnOrder) + MSProduction + PoPurReq+PrOnOrder - (BmCmtd+MpCmtd) -  DrCmtd - SoCmtd + WmOnOrder - JcCmtd-SdCmtd-BoCmtd-SpCompReq-SRCmtd)
		From #PdQtys q
		Where q.PdDate <= d.PdDate) NetAvail 
	From #PdQtys d) tmp
Where #PdQtys.PdDate = tmp.PdDate


--update the On Hand quantity for each Period
--adjust each active period
Update #PdQtys Set #PdQtys.OnHand = isnull(tmp.OnHand, @QtyOnHand)
From (Select d.PdDate
	, (Select Top 1 NetAvail From #PdQtys q
		Where q.PdDate < d.PdDate
		Order by q.PdDate Desc) OnHand
	From #PdQtys d) tmp
Where #PdQtys.PdDate = tmp.PdDate

SELECT @ConvFactor = case when isnull(ConvFactor,0)=0 then 1 else ConvFactor end
FROM dbo.tblInItemUom
WHERE ItemID = @ItemID and Uom = @Uom



Select @ItemId ItemId, @LocId LocId, PdDate as 'Date'
	, Cast(Round(OnHand / @ConvFactor, @PrecQty) as float) OnHand
	, Cast(Round((SoCmtd + DrCmtd + (BmCmtd+MpCmtd) + JcCmtd+SdCmtd+BoCmtd+SpCompReq+SRCmtd) / @ConvFactor, @PrecQty) as float) Demand
	, Cast(Round(((BmOnOrder+MpOnOrder) + MSProduction + PoPurReq + PoOnOrder + WmOnOrder+PrOnOrder) / @ConvFactor, @PrecQty) as float) Supply
	, Cast(Round(NetAvail / @ConvFactor, @PrecQty) as float) NetAvail
from #PdQtys
Where @ItemId <> '' --exclude data when no item id is specified
Order by PdDate


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrDailyAvailabilityView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrDailyAvailabilityView_proc'
GO
