USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTen99Forms_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTen99Forms_proc]

--http://traversedev.internal.osas.com:8090/pets/view.php?id=12079
--PET:http://webfront:801/view.php?id=240956

@Year  Smallint = 2009,
@PrintBy Smallint = 1, -- 0 = 1096 Summary, 1 = 1099-MISC, 3 = 1099 Worksheet; 6 = Misc1099Forms_NEC; 7 = 1099 MCEWorksheet; Limit > =600
@MISCYN bit  = 1    --MSCYN = 1 - MSC = true NEC =false,  MSCYN = 0 NEC = true,  MSC = false
 
AS
SET NOCOUNT ON
BEGIN TRY

--drop table  #VendorList
--CREATE TABLE #VendorList (VendorId [nvarchar](10) NOT NULL PRIMARY KEY CLUSTERED ([VendorID]))
--INSERT INTO #VendorList ([VendorId]) SELECT [VendorId] FROM dbo.tblApVendor

CREATE TABLE #tmpApTen99FormsRptSum
(VendorID [nvarchar](10) NOT NULL, YTDTen99Pmt [decimal](28,10) NOT NULL, Total nvarchar(1))

INSERT INTO  #tmpApTen99FormsRptSum(VendorID, YTDTen99Pmt, Total)
SELECT t.VendorId,  c.Amount AS TotalTen99Pmt, 1 
FROM #VendorList t INNER JOIN dbo.tblApTen99Edit c ON t.VendorId = c.VendorID
WHERE c.Amount > 0


IF (@PrintBy = 0 and @Year<=2019) -- 1096 Summary
BEGIN
       SELECT COUNT(*) AS TotalForms, SUM(FederalTaxWithheld) AS FederalTaxWithheld
		, SUM(Box1 + Box2 + Box3 + Box5 + Box6 + Box7 + Box8 + Box10 + Box13 + Box14) AS TotalAmountReported 
      FROM
      (
            SELECT v.VendorID
				, CASE WHEN v.Ten99FieldIndicator = '4' 
                        THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS FederalTaxWithheld
				, CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box1
				, CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box2
				, CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box3
				, CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box5
				, CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box6
				, CASE WHEN v.Ten99FieldIndicator = '7' THEN t.YTDTen99Pmt ELSE 
					CASE WHEN v.Ten99FieldIndicator = 'E' AND t.YTDTen99Pmt >= f.Limit
						THEN t.YTDTen99Pmt ELSE 0 END END AS Box7
				, CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box8
				, CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box10
				, CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box13
				, CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box14
            FROM #VendorList l 
                  INNER JOIN dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
                  INNER JOIN dbo.tblApTen99FieldIndic f (NOLOCK) ON v.Ten99FieldIndicator = f.IndicatorId 
                  INNER JOIN #tmpApTen99FormsRptSum t ON v.VendorID = t.VendorID 
            WHERE v.Ten99FormCode <> '0' 
				AND t.YTDTen99Pmt >= f.Limit
      ) tmp
END


IF (@PrintBy = 0 and @Year>=2020) -- 1096 Summary
BEGIN

	--  declare @Year smallint
	--select  @Year  = 2020
	--declare @PrintBy smallint
	--select @PrintBy = 0
	--declare @MISCYN bit
	--select @MISCYN  =1


     SELECT COUNT(*) AS TotalForms, SUM(FederalTaxWithheld) AS FederalTaxWithheld
		, SUM(Box1 + Box2 + Box3 + Box5 + Box6 + Box7 + Box8 + Box9 + Box10 + Box11 + Box12 + Box13 + Box14) AS TotalAmountReported 
      FROM
      (
            SELECT v.VendorID
				, CASE WHEN v.Ten99FieldIndicator = '4' 
                        THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS FederalTaxWithheld 
				, CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box1
				, CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box2
				, CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box3
				, CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box5
				, CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box6
				, CASE WHEN v.Ten99FieldIndicator = '7' and t.YTDTen99Pmt  >= f.Limit and @MISCYN = 0 THEN t.YTDTen99Pmt 
				 ELSE CASE WHEN v.Ten99FieldIndicator = 'E' and t.YTDTen99Pmt >= f.Limit and @MISCYN = 0 THEN t.YTDTen99Pmt  
				 ELSE CASE WHEN v.Ten99FieldIndicator = '9' then t.YTDTen99Pmt ELSE 0 END END END AS Box7
				, CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box8
				, CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box9
				, CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box13
				, CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box10
				, CASE WHEN v.Ten99FieldIndicator = 'D' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box12
				, CASE WHEN v.Ten99FieldIndicator = 'E' and t.YTDTen99Pmt >= f.Limit and @MISCYN = 1 THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box14
				, CASE WHEN @Year >= 2021 AND v.Ten99FieldIndicator = 'F' THEN t.YTDTen99Pmt ELSE CAST(0 AS dec) END AS Box11
            FROM #VendorList l 
                  INNER JOIN dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
                  INNER JOIN dbo.tblApTen99FieldIndic f (NOLOCK) ON v.Ten99FieldIndicator = f.IndicatorId 
                  INNER JOIN #tmpApTen99FormsRptSum t ON v.VendorID = t.VendorID 
            WHERE v.Ten99FormCode <> '0' 
				AND t.YTDTen99Pmt >= f.Limit and ((@MISCYN = 1 and v.Ten99FieldIndicator <> '7')
				or (@MISCYN = 0 and (v.Ten99FieldIndicator = '7' or v.Ten99FieldIndicator = 'E')))
      ) tmp

END


if (@PrintBy  = 1 and @Year<=2019) -- 1099 MISC
begin

	SELECT v.VendorID,v.[Name],CASE WHEN v.[Name] <> v.PayToName THEN v.PayToName ELSE NULL END PayToName,v.City,v.Region,v.PostalCode,
	CASE WHEN v.SecondTINNotYN = 1 THEN 'X' ELSE '' END SecondTIN, CASE WHEN v.FATCAFilingYN = 1 THEN 'X' ELSE '' END FATCAFiling,
		  CASE WHEN v.Ten99FieldIndicator = '9' AND t.YTDTen99Pmt >= f.Limit THEN 'X' ELSE '' END DirectSales,
		  v.Ten99RecipientID,v.Ten99FormCode,f.IndicatorId,f.[Desc],f.Limit,
		  v.Addr1 AS  Address1,v.Addr2 AS  Address2,f.Limit,
		  CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box1,
		  CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box2,
		  CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box3,
		  CASE WHEN v.Ten99FieldIndicator = '4' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box4,
		  CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box5,
		  CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box6,
		  CASE WHEN v.Ten99FieldIndicator = '7' THEN t.YTDTen99Pmt ELSE 
				CASE WHEN v.Ten99FieldIndicator = 'E' AND t.YTDTen99Pmt >= f.Limit
				THEN t.YTDTen99Pmt ELSE 0 END END AS Box7,
		  CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box8,
		  CASE WHEN v.Ten99FieldIndicator = '9' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box9,
		  CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box10,
		  CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box13,
		  CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box14,
		  CASE WHEN v.Ten99FieldIndicator = 'D' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15a,
		  CASE WHEN v.Ten99FieldIndicator = 'E' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15b, 
		@Year as  sYear   
	FROM #VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
	 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
		  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN #tmpApTen99FormsRptSum t
		  ON v.VendorID = t.VendorID 
	WHERE 
		  v.Ten99FormCode <> '0' 
	  AND t.YTDTen99Pmt >= f.Limit 
end


if (@PrintBy  = 1 and @Year>=2020) -- 1099 MISC
begin

	SELECT v.VendorID,v.[Name],CASE WHEN v.[Name] <> v.PayToName THEN v.PayToName ELSE NULL END PayToName,v.City,v.Region,v.PostalCode,
	CASE WHEN v.SecondTINNotYN = 1 THEN 'X' ELSE '' END SecondTIN, CASE WHEN v.FATCAFilingYN = 1 THEN 'X' ELSE '' END FATCAFiling,
		  CASE WHEN v.Ten99FieldIndicator = '9' AND t.YTDTen99Pmt >= f.Limit THEN 'X' ELSE '' END DirectSales,
		  v.Ten99RecipientID,v.Ten99FormCode,f.IndicatorId,f.[Desc],f.Limit,
		  v.Addr1 AS  Address1,v.Addr2 AS  Address2,
		  CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box1,
		  CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box2,
		  CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box3,
		  CASE WHEN v.Ten99FieldIndicator = '4' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box4,
		  CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box5,
		  CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box6,
		  CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box8,
		  CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box9,
		  CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box10,
		  CASE WHEN @Year >= 2021 AND v.Ten99FieldIndicator = 'F' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box11,
		  CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box13,
		  CASE WHEN v.Ten99FieldIndicator = 'E' and  t.YTDTen99Pmt >= f.Limit THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box14,
		  CASE WHEN v.Ten99FieldIndicator = 'D' and t.YTDTen99Pmt >= f.Limit THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15a, --for Box12
		@Year as  sYear   
	FROM #VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
	 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
		  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN #tmpApTen99FormsRptSum t
		  ON v.VendorID = t.VendorID 
	WHERE 
		  v.Ten99FormCode <> '0' 
	  AND t.YTDTen99Pmt >= f.Limit and ((@MISCYN = 1 and v.Ten99FieldIndicator <> '7'))
end


--6 = Misc1099Forms_NEC;
if (@PrintBy  = 6 and @Year >=2020)
begin

	if(@Year >= 2021) -- PTS 281630: 2021 design, removed FACTA Filling, added DirectSalesYn
	BEGIN
	Create Table #summarydata (
		[Counter] [int] identity(1, 1),
		[Page] [smallint],
		[Row] [smallint],
		[VendorId] [nvarchar](10) NOT NULL,
		[Name] [nvarchar](255),
		[PayToName] [nvarchar](255),
		[City] [nvarchar](255),
		[Region] [nvarchar](255),
		[PostalCode] [nvarchar](10),
		[SecondTIN] [nvarchar](1),
		[Ten99RecipientID] [nvarchar](255),
		[Ten99FormCode] [nvarchar](1),
		[IndicatorId] [nvarchar](1),
		[Desc] [nvarchar](255),
		[Limit] [decimal](28,10) NOT NULL,
		[Address1] [nvarchar](255),
		[Address2] [nvarchar](255),
		[Box1] [decimal](28,10) NOT NULL,
		[Year] [smallint],
		[DirectSales] [nvarchar](1)
	)

	Insert into #summarydata ([Page], [Row]
		, [VendorId], [Name], [PayToName], [City], [Region], [PostalCode]
		, [SecondTIN], [Ten99RecipientID], [Ten99FormCode], [IndicatorId], [Desc], [Limit]
		, [Address1], [Address2], [Box1], [DirectSales], [Year])
	SELECT 0, 0, 
		  v.VendorID,v.[Name],CASE WHEN v.[Name] <> v.PayToName THEN v.PayToName ELSE NULL END PayToName,v.City,v.Region,v.PostalCode,
		  CASE WHEN v.SecondTINNotYN = 1 THEN 'X' ELSE '' END SecondTIN, 
			  v.Ten99RecipientID,v.Ten99FormCode,f.IndicatorId,f.[Desc],f.Limit,
			  v.Addr1 AS  Address1,v.Addr2 AS  Address2,
			   CASE WHEN v.Ten99FieldIndicator = '7' AND t.YTDTen99Pmt >= f.Limit THEN t.YTDTen99Pmt ELSE 
					CASE WHEN v.Ten99FieldIndicator = 'E' AND t.YTDTen99Pmt >= f.Limit
					THEN t.YTDTen99Pmt ELSE 0 END END AS Box1,
			CASE WHEN v.Ten99FieldIndicator = '9' AND t.YTDTen99Pmt >= f.Limit THEN 'X' ELSE '' END DirectSales,
		@Year as  sYear
		FROM #VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
		 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
			  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN #tmpApTen99FormsRptSum t
			  ON v.VendorID = t.VendorID 
		WHERE 
			  v.Ten99FormCode <> '0' 
		  AND t.YTDTen99Pmt >= f.Limit and (@MISCYN = 0 and (v.Ten99FieldIndicator = '7' or v.Ten99FieldIndicator = 'E'))
		ORDER BY v.VendorID

		--cross-tab for 3 row paging as of 2021 (inconsistent spacing complicated regular pagination)
		Update #summarydata Set [Page] = (([Counter] - 1) / 3) + 1, [Row] = ([Counter] - (([Counter] - 1)/ 3) * 3)

		Select max([Counter]) AS [Counter], [Page]
		, max([R1_VendorId]) as [R1_VendorId], max([R1_Name]) as [R1_Name]
		, max([R1_PayToName]) as [R1_PayToName], max([R1_City]) as [R1_City]
		, max([R1_Region]) as [R1_Region], max([R1_PostalCode]) as [R1_PostalCode]
		, max([R1_SecondTIN]) as [R1_SecondTIN]
		, max([R1_Ten99RecipientID]) as [R1_Ten99RecipientID], max([R1_Ten99FormCode]) as [R1_Ten99FormCode]
		, max([R1_IndicatorId]) as [R1_IndicatorId], max([R1_Desc]) as [R1_Desc]
		, max([R1_Address1]) as [R1_Address1], max([R1_Address2]) as [R1_Address2]
		, sum([R1_Limit]) as [R1_Limit], sum([R1_Box1]) as [R1_Box1]
		, max([R1_Year]) as [R1_Year], max([R1_DirectSales]) as [R1_DirectSales]

		, max([R2_VendorId]) as [R2_VendorId], max([R2_Name]) as [R2_Name]
		, max([R2_PayToName]) as [R2_PayToName], max([R2_City]) as [R2_City]
		, max([R2_Region]) as [R2_Region], max([R2_PostalCode]) as [R2_PostalCode]
		, max([R2_SecondTIN]) as [R2_SecondTIN]
		, max([R2_Ten99RecipientID]) as [R2_Ten99RecipientID], max([R2_Ten99FormCode]) as [R2_Ten99FormCode]
		, max([R2_IndicatorId]) as [R2_IndicatorId], max([R2_Desc]) as [R2_Desc]
		, max([R2_Address1]) as [R2_Address1], max([R2_Address2]) as [R2_Address2]
		, sum([R2_Limit]) as [R2_Limit], sum([R2_Box1]) as [R2_Box1]
		, max([R2_Year]) as [R2_Year], max([R2_DirectSales]) as [R2_DirectSales]

		, max([R3_VendorId]) as [R3_VendorId], max([R3_Name]) as [R3_Name]
		, max([R3_PayToName]) as [R3_PayToName], max([R3_City]) as [R3_City]
		, max([R3_Region]) as [R3_Region], max([R3_PostalCode]) as [R3_PostalCode]
		, max([R3_SecondTIN]) as [R3_SecondTIN]
		, max([R3_Ten99RecipientID]) as [R3_Ten99RecipientID], max([R3_Ten99FormCode]) as [R3_Ten99FormCode]
		, max([R3_IndicatorId]) as [R3_IndicatorId], max([R3_Desc]) as [R3_Desc]
		, max([R3_Address1]) as [R3_Address1], max([R3_Address2]) as [R3_Address2]
		, sum([R3_Limit]) as [R3_Limit], sum([R3_Box1]) as [R3_Box1]
		, max([R3_Year]) as [R3_Year], max([R3_DirectSales]) as [R3_DirectSales]
		From (Select [Counter], [Page], [Row],
			Case When [Row] = 1 Then [VendorId] Else Null End As [R1_VendorId],
			Case When [Row] = 1 Then [Name] Else Null End As [R1_Name],
			Case When [Row] = 1 Then [PayToName] Else Null End As [R1_PayToName],
			Case When [Row] = 1 Then [City] Else Null End As [R1_City],
			Case When [Row] = 1 Then [Region] Else Null End As [R1_Region],
			Case When [Row] = 1 Then [PostalCode] Else Null End As [R1_PostalCode],
			Case When [Row] = 1 Then [SecondTIN] Else Null End As [R1_SecondTIN],
			Case When [Row] = 1 Then [Ten99RecipientID] Else Null End As [R1_Ten99RecipientID],
			Case When [Row] = 1 Then [Ten99FormCode] Else Null End As [R1_Ten99FormCode],
			Case When [Row] = 1 Then [IndicatorId] Else Null End As [R1_IndicatorId],
			Case When [Row] = 1 Then [Desc] Else Null End As [R1_Desc],
			Case When [Row] = 1 Then [Address1] Else Null End As [R1_Address1],
			Case When [Row] = 1 Then [Address2] Else Null End As [R1_Address2],
			Case When [Row] = 1 Then [Limit] Else Null End As [R1_Limit],
			Case When [Row] = 1 Then [Box1] Else Null End As [R1_Box1],
			Case When [Row] = 1 Then [Year] Else Null End As [R1_Year],
			Case When [Row] = 1 Then [DirectSales] Else Null End As [R1_DirectSales],

			Case When [Row] = 2 Then [VendorId] Else Null End As [R2_VendorId],
			Case When [Row] = 2 Then [Name] Else Null End As [R2_Name],
			Case When [Row] = 2 Then [PayToName] Else Null End As [R2_PayToName],
			Case When [Row] = 2 Then [City] Else Null End As [R2_City],
			Case When [Row] = 2 Then [Region] Else Null End As [R2_Region],
			Case When [Row] = 2 Then [PostalCode] Else Null End As [R2_PostalCode],
			Case When [Row] = 2 Then [SecondTIN] Else Null End As [R2_SecondTIN],
			Case When [Row] = 2 Then [Ten99RecipientID] Else Null End As [R2_Ten99RecipientID],
			Case When [Row] = 2 Then [Ten99FormCode] Else Null End As [R2_Ten99FormCode],
			Case When [Row] = 2 Then [IndicatorId] Else Null End As [R2_IndicatorId],
			Case When [Row] = 2 Then [Desc] Else Null End As [R2_Desc],
			Case When [Row] = 2 Then [Address1] Else Null End As [R2_Address1],
			Case When [Row] = 2 Then [Address2] Else Null End As [R2_Address2],
			Case When [Row] = 2 Then [Limit] Else Null End As [R2_Limit],
			Case When [Row] = 2 Then [Box1] Else Null End As [R2_Box1],
			Case When [Row] = 2 Then [Year] Else Null End As [R2_Year],
			Case When [Row] = 2 Then [DirectSales] Else Null End As [R2_DirectSales],

			Case When [Row] = 3 Then [VendorId] Else Null End As [R3_VendorId],
			Case When [Row] = 3 Then [Name] Else Null End As [R3_Name],
			Case When [Row] = 3 Then [PayToName] Else Null End As [R3_PayToName],
			Case When [Row] = 3 Then [City] Else Null End As [R3_City],
			Case When [Row] = 3 Then [Region] Else Null End As [R3_Region],
			Case When [Row] = 3 Then [PostalCode] Else Null End As [R3_PostalCode],
			Case When [Row] = 3 Then [SecondTIN] Else Null End As [R3_SecondTIN],
			Case When [Row] = 3 Then [Ten99RecipientID] Else Null End As [R3_Ten99RecipientID],
			Case When [Row] = 3 Then [Ten99FormCode] Else Null End As [R3_Ten99FormCode],
			Case When [Row] = 3 Then [IndicatorId] Else Null End As [R3_IndicatorId],
			Case When [Row] = 3 Then [Desc] Else Null End As [R3_Desc],
			Case When [Row] = 3 Then [Address1] Else Null End As [R3_Address1],
			Case When [Row] = 3 Then [Address2] Else Null End As [R3_Address2],
			Case When [Row] = 3 Then [Limit] Else Null End As [R3_Limit],
			Case When [Row] = 3 Then [Box1] Else Null End As [R3_Box1],
			Case When [Row] = 3 Then [Year] Else Null End As [R3_Year],
			Case When [Row] = 3 Then [DirectSales] Else Null End As [R3_DirectSales]
		from #summarydata) ct
		Group by [Page]
	END
	ELSE -- 2020 design
	BEGIN 
		SELECT v.VendorID,v.[Name],CASE WHEN v.[Name] <> v.PayToName THEN v.PayToName ELSE NULL END PayToName,v.City,v.Region,v.PostalCode,
		CASE WHEN v.SecondTINNotYN = 1 THEN 'X' ELSE '' END SecondTIN, CASE WHEN v.FATCAFilingYN = 1 THEN 'X' ELSE '' END FATCAFiling,
			  v.Ten99RecipientID,v.Ten99FormCode,f.IndicatorId,f.[Desc],f.Limit,
			  v.Addr1 AS  Address1,v.Addr2 AS  Address2,
			   CASE WHEN v.Ten99FieldIndicator = '7' AND t.YTDTen99Pmt >= f.Limit THEN t.YTDTen99Pmt ELSE 
					CASE WHEN v.Ten99FieldIndicator = 'E' AND t.YTDTen99Pmt >= f.Limit
					THEN t.YTDTen99Pmt ELSE 0 END END AS Box1,
			CASE WHEN v.Ten99FieldIndicator = '9' AND t.YTDTen99Pmt >= f.Limit THEN 'X' ELSE '' END DirectSales,
			@Year as  sYear
		FROM #VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
		 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
			  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN #tmpApTen99FormsRptSum t
			  ON v.VendorID = t.VendorID 
		WHERE 
			  v.Ten99FormCode <> '0' 
		  AND t.YTDTen99Pmt >= f.Limit and (@MISCYN = 0 and (v.Ten99FieldIndicator = '7' or v.Ten99FieldIndicator = 'E'))
	END
END

--3 = 1099 Worksheet MISC 2019
if (@PrintBy  = 3 and @Year<=2019)
begin

	SELECT v.VendorID,v.[Name] + CASE WHEN ISNULL(v.PayToName,'') = '' THEN '' ELSE '/' + v.PayToName END AS [Name],c.[Desc] ,v.Ten99RecipientID,v.Ten99FieldIndicator,t.YTDTen99Pmt,
		  CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS  Box1, 
		  CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box2,
		  CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box3,
		  CASE WHEN v.Ten99FieldIndicator = '4' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box4,
		  CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box5,
		  CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box6,
		  CASE WHEN v.Ten99FieldIndicator = '7' THEN t.YTDTen99Pmt ELSE 
				CASE WHEN v.Ten99FieldIndicator = 'E' AND t.YTDTen99Pmt >= f.Limit
				THEN t.YTDTen99Pmt ELSE 0 END END AS Box7,
		  CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box8,
		  CASE WHEN v.Ten99FieldIndicator = '9' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box9,
		  CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box10,
		  CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box13,
		  CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box14,
		  CASE WHEN v.Ten99FieldIndicator = 'D' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15a,
		  CASE WHEN v.Ten99FieldIndicator = 'E' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15b,  
		tot.Desc1,tot.Desc2,tot.Desc3,tot.Desc4,tot.Desc5,tot.Desc6,tot.Desc7,tot.Desc8,tot.Desc9,tot.Desc10,
		tot.Desc13,tot.Desc14,tot.Desc15a,tot.Desc15b, @Year as  sYear
	FROM 
	#VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
	 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
		  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN tblApTen99FormCode c (NOLOCK) 
		  ON v.Ten99FormCode = c.FormCode     INNER JOIN #tmpApTen99FormsRptSum t
		  ON v.VendorID = t.VendorID and v.VendorID = l.VendorID 
	Left Join
	(
	Select 1 as  Total, max(ff.Desc1) Desc1, max(ff.Desc2) Desc2, max(ff.Desc3) Desc3, max(ff.Desc4) Desc4, max(ff.Desc5) Desc5, max(ff.Desc6) Desc6, max(ff.Desc7) Desc7, max(ff.Desc8) Desc8
	, max(ff.Desc9) Desc9, max(ff.Desc10) Desc10, max(ff.Desc13) Desc13, max(ff.Desc14) Desc14, max(ff.Desc15a) Desc15a, max(ff.Desc15b) Desc15b from 
	 (
	  Select 
		  Case When IndicatorId = '1' then [Desc] else '' end Desc1, 
		  Case When IndicatorId = '2' then [Desc] else '' end Desc2, 
		  Case When IndicatorId = '3' then [Desc] else '' end Desc3, 
		  Case When IndicatorId = '4' then [Desc] else '' end Desc4, 
		  Case When IndicatorId = '5' then [Desc] else '' end Desc5, 
		  Case When IndicatorId = '6' then [Desc] else '' end Desc6, 
		  Case When IndicatorId = '7' then [Desc] else '' end Desc7, 
		  Case When IndicatorId = '8' then [Desc] else '' end Desc8, 
		  Case When IndicatorId = '9' then [Desc] else '' end Desc9, 
		  Case When IndicatorId = 'A' then [Desc] else '' end Desc10,
		  Case When IndicatorId = 'B' then [Desc] else '' end Desc13,
		  Case When IndicatorId = 'C' then [Desc] else '' end Desc14,
		  Case When IndicatorId = 'D' then [Desc] else '' end Desc15a,
		  Case When IndicatorId = 'E' then [Desc] else '' end Desc15b
		  from dbo.tblApTen99FieldIndic ) ff 
	   )
		tot
	on tot.Total =  t.Total
	WHERE 
		  v.Ten99FormCode <> '0' AND t.YTDTen99Pmt >= f.Limit 
		   AND t.YTDTen99Pmt >= f.Limit 
	ORDER BY v.VendorID
end 

--3 = 1099 MISC Worksheet 2020
if ((@PrintBy  = 3)  and @Year>=2020)
begin
	SELECT v.VendorID,v.[Name] + CASE WHEN ISNULL(v.PayToName,'') = '' THEN '' ELSE '/' + v.PayToName END AS [Name],c.[Desc] ,v.Ten99RecipientID,v.Ten99FieldIndicator,t.YTDTen99Pmt,
    
		  CASE WHEN v.Ten99FieldIndicator = '1' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS  Box1, 
		  CASE WHEN v.Ten99FieldIndicator = '2' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box2,
		  CASE WHEN v.Ten99FieldIndicator = '3' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box3,
		  CASE WHEN v.Ten99FieldIndicator = '4' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box4,
		  CASE WHEN v.Ten99FieldIndicator = '5' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box5,
		  CASE WHEN v.Ten99FieldIndicator = '6' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box6,
		  CASE WHEN v.Ten99FieldIndicator = '9' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box7,
		  CASE WHEN v.Ten99FieldIndicator = '8' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box8,
		  CASE WHEN v.Ten99FieldIndicator = 'A' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box9,
		  CASE WHEN v.Ten99FieldIndicator = 'C' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box10,
		  CASE WHEN @Year >= 2021 AND v.Ten99FieldIndicator = 'F' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box11,
		  CASE WHEN v.Ten99FieldIndicator = 'B' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box13,
		  CASE WHEN v.Ten99FieldIndicator = 'E' and t.YTDTen99Pmt >= f.Limit THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box14,
		  CASE WHEN v.Ten99FieldIndicator = 'D' THEN t.YTDTen99Pmt ELSE cast(0 as dec) END AS Box15a,
		  CASE WHEN v.Ten99FieldIndicator = '7' THEN cast(0 as dec) END AS Box15b,
		tot.Desc1,tot.Desc2,tot.Desc3,tot.Desc4,tot.Desc5,tot.Desc6,tot.Desc7,tot.Desc8,tot.Desc9,tot.Desc10,tot.Desc11,
		tot.Desc13,tot.Desc14,tot.Desc15a, tot.Desc15b, @Year as  sYear, t.Total
	FROM 
	#VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
	 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
		  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN tblApTen99FormCode c (NOLOCK) 
		  ON v.Ten99FormCode = c.FormCode  INNER JOIN #tmpApTen99FormsRptSum t
		  ON v.VendorID = t.VendorID and v.VendorID = l.VendorID 
	Left Join
	(
	 Select  Total, max(ff.Desc1) Desc1, max(ff.Desc2) Desc2, max(ff.Desc3) Desc3, max(ff.Desc4) Desc4, max(ff.Desc5) Desc5, max(ff.Desc6) Desc6, max(ff.Desc7) Desc7, max(ff.Desc8) Desc8
	, max(ff.Desc9) Desc9, max(ff.Desc10) Desc10, max(ff.Desc11) Desc11, max(ff.Desc13) Desc13, max(ff.Desc14) Desc14, max(ff.Desc15a) Desc15a, max(ff.Desc15b) Desc15b  from 
	 (
	  Select 1 as Total,
		  Case When IndicatorId = '1' then [Desc] else '' end Desc1, 
		  Case When IndicatorId = '2' then [Desc] else '' end Desc2, 
		  Case When IndicatorId = '3' then [Desc] else '' end Desc3, 
		  Case When IndicatorId = '4' then [Desc] else '' end Desc4, 
		  Case When IndicatorId = '5' then [Desc] else '' end Desc5, 
		  Case When IndicatorId = '6' then [Desc] else '' end Desc6,
		  Case When IndicatorId = '9' then [Desc] else '' end Desc7,  
		  Case When IndicatorId = '8' then [Desc] else '' end Desc8, 
		  Case When IndicatorId = 'A' then [Desc] else '' end Desc9, 
		  Case When IndicatorId = 'C'  then [Desc] else '' end Desc10,
		  Case When IndicatorId = 'F'  then [Desc] else '' end Desc11,
		  Case When IndicatorId = 'D' then [Desc] else '' end Desc15a, --for Box12
		  Case When IndicatorId = 'B' then [Desc] else '' end Desc13,
		  Case When IndicatorId = 'E'  then [Desc] else '' end Desc14,
		  Case When IndicatorId = '7' then [Desc] else '' end Desc15b --for Box1 for IndicatorId = '7' 
		  from dbo.tblApTen99FieldIndic ) ff  
		  group by Total
	   )
		tot
		on tot.Total =  t.Total 
	WHERE 
		  v.Ten99FormCode <> '0' AND t.YTDTen99Pmt >= f.Limit 
		   AND t.YTDTen99Pmt >= f.Limit  and (@MISCYN = 1 and v.Ten99FieldIndicator <> '7') 
	ORDER BY v.VendorID
end 

--7 = 1099 NEC-Worksheet;
if (@PrintBy  = 7 and @Year>=2020)
begin


	SELECT v.VendorID,v.[Name] + CASE WHEN ISNULL(v.PayToName,'') = '' THEN '' ELSE '/' + v.PayToName END AS [Name],c.[Desc] ,v.Ten99RecipientID,v.Ten99FieldIndicator,t.YTDTen99Pmt,
		 cast(0 as dec) AS Box1, cast(0 as dec)  AS Box2,cast(0 as dec) AS Box3,cast(0 as dec)  AS Box4,cast(0 as dec)  AS Box5,cast(0 as dec) AS Box6,cast(0 as dec) AS Box7,
		 cast(0 as dec)  AS Box8,cast(0 as dec)  AS Box9,cast(0 as dec) AS Box10, cast(0 as dec) AS Box11, cast(0 as dec) AS Box13,cast(0 as dec) AS Box14,
		 cast(0 as dec)  AS Box15a,
		  CASE WHEN v.Ten99FieldIndicator = '7' and t.YTDTen99Pmt >= f.Limit THEN  t.YTDTen99Pmt ELSE
		  CASE WHEN v.Ten99FieldIndicator = 'E' and t.YTDTen99Pmt >= f.Limit THEN  t.YTDTen99Pmt ELSE cast(0 as dec) END End AS Box15b, -- for box1
		tot.Desc1,tot.Desc2,tot.Desc3,tot.Desc4,tot.Desc5,tot.Desc6,tot.Desc7,tot.Desc8,tot.Desc9,tot.Desc10, tot.Desc11,
		tot.Desc13,tot.Desc14,tot.Desc15a, tot.Desc15b, @Year as  sYear, t.Total
	FROM 
	#VendorList l inner Join dbo.tblApTen99Edit v (NOLOCK) ON v.VendorID = l.VendorID 
	 INNER JOIN tblApTen99FieldIndic f (NOLOCK)
		  ON v.Ten99FieldIndicator = f.IndicatorId INNER JOIN tblApTen99FormCode c (NOLOCK) 
		  ON v.Ten99FormCode = c.FormCode  INNER JOIN #tmpApTen99FormsRptSum t
		  ON v.VendorID = t.VendorID and v.VendorID = l.VendorID 
	Left Join
	(
	 Select  Total, max(ff.Desc1) Desc1, max(ff.Desc2) Desc2, max(ff.Desc3) Desc3, max(ff.Desc4) Desc4, max(ff.Desc5) Desc5, max(ff.Desc6) Desc6, max(ff.Desc7) Desc7, max(ff.Desc8) Desc8
	, max(ff.Desc9) Desc9, max(ff.Desc10) Desc10, max(ff.Desc11) Desc11, max(ff.Desc13) Desc13, max(ff.Desc14) Desc14, max(ff.Desc15a) Desc15a, max(ff.Desc15b) Desc15b from 
	 (
	  Select 1 as Total,
		  Case When IndicatorId = '1' then [Desc]  end Desc1, 
		  Case When IndicatorId = '2' then [Desc] else '' end Desc2, 
		  Case When IndicatorId = '3' then [Desc] else '' end Desc3, 
		  Case When IndicatorId = '4' then [Desc] else '' end Desc4, 
		  Case When IndicatorId = '5' then [Desc] else '' end Desc5, 
		  Case When IndicatorId = '6' then [Desc] else '' end Desc6,
		  Case When IndicatorId = '9' then [Desc] else '' end Desc7,  
		  Case When IndicatorId = '8' then [Desc] else '' end Desc8, 
		  Case When IndicatorId = 'A' then [Desc] else '' end Desc9, 
		  Case When IndicatorId = 'C' then [Desc] else '' end Desc10,
		  Case When IndicatorId = 'D' then [Desc] else '' end Desc15a, --for Box12
		  Case When IndicatorId = 'B' then [Desc] else '' end Desc13,
		  Case When IndicatorId = 'E'  then [Desc] else '' end Desc14, 
		  Case When IndicatorId = '7' then [Desc] else '' end as Desc15b,  --for Box1 for IndicatorId = '7'
		  Case When IndicatorId = 'F' then [Desc] else '' end Desc11
		  from dbo.tblApTen99FieldIndic ) ff  
		  group by Total
	   )
		tot
		on tot.Total =  t.Total 
	WHERE 
		  v.Ten99FormCode <> '0' AND t.YTDTen99Pmt >= f.Limit 
		   AND t.YTDTen99Pmt >= f.Limit  and  (@MISCYN = 0 and (v.Ten99FieldIndicator = '7' or v.Ten99FieldIndicator = 'E'))
	ORDER BY v.VendorID
end 


END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTen99Forms_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTen99Forms_proc'
GO
