USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbApAmountInvoiceCount_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbApAmountInvoiceCount_proc]

@Prec tinyint = 2

AS
BEGIN TRY
	SET NOCOUNT ON

	CREATE TABLE #ApVendors
	(
		VendorCount int
	)

	CREATE TABLE #ApOpenInvoices
	(
		AmtHold [decimal](28,10) NOT NULL DEFAULT (0), 
		AmtTmpHold [decimal](28,10) NOT NULL DEFAULT (0), 
		AmtReleased [decimal](28,10) NOT NULL DEFAULT (0), 
		AmtPrepaid [decimal](28,10) NOT NULL DEFAULT (0), 
		InvcHold int, 
		InvcTmpHold int, 
		InvcReleased int, 
		InvcPaid int
	)

	/*  ApVendors  */
	INSERT INTO #ApVendors (VendorCount) 
		SELECT CAST(COUNT(VendorId)AS int) AS VendorCount FROM dbo.tblApVendor

	/*  ApOpenInvoices  */
	INSERT INTO #ApOpenInvoices (AmtHold, AmtTmpHold, AmtReleased, AmtPrepaid
		, InvcHold, InvcTmpHold, InvcReleased, InvcPaid) 
	SELECT ROUND(ISNULL(SUM(CASE WHEN [Status] = 1 THEN GrossAmtDue ELSE 0 END),0) ,@Prec) AS AmtHold
		, ROUND(ISNULL(SUM(CASE WHEN [Status] = 2 THEN GrossAmtDue ELSE 0 END),0), @Prec) AS AmtTmpHold
		, ROUND(ISNULL(SUM(CASE WHEN [Status] = 0 THEN GrossAmtDue ELSE 0 END),0), @Prec) AS AmtReleased
		, ROUND(ISNULL(SUM(CASE WHEN [Status] = 3 THEN GrossAmtDue ELSE 0 END),0), @Prec) AS AmtPrepaid
		, ISNULL(SUM(CASE WHEN [Status] = 1 THEN 1 ELSE 0 END),0) AS InvcHold
		, ISNULL(SUM(CASE WHEN [Status] = 2 THEN 1 ELSE 0 END),0) AS InvcTmpHold
		, ISNULL(SUM(CASE WHEN [Status] = 0 THEN 1 ELSE 0 END),0) AS InvcReleased
		, ISNULL(SUM(CASE WHEN [Status] = 4 THEN 1 ELSE 0 END),0) AS InvcPaid 
	FROM dbo.tblApOpenInvoice

	-- return resultset
	SELECT * FROM #ApVendors, #ApOpenInvoices
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbApAmountInvoiceCount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbApAmountInvoiceCount_proc'
GO
