USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaTransPostUpdateStatus_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaTransPostUpdateStatus_proc]
AS

BEGIN TRY

	SET NOCOUNT ON

	DECLARE @PostRun pPostRun

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	
	IF  @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	UPDATE dbo.tblPaTransEarn  SET PostedYn =1,PostRun =@PostRun
	FROM dbo.tblPaTransEarn e 
	INNER JOIN (SELECT TransId FROM #PostTransDetail WHERE DetailType =0) p
	ON e.Id=p.TransId

	UPDATE dbo.tblPaTransDeduct  SET PostedYn =1,PostRun =@PostRun
	FROM dbo.tblPaTransDeduct d 
	INNER JOIN (SELECT TransId FROM #PostTransDetail WHERE DetailType =1) p
	ON d.Id=p.TransId

	UPDATE dbo.tblPaTransEmplrCost  SET PostedYn =1,PostRun =@PostRun
	FROM dbo.tblPaTransEmplrCost e 
	INNER JOIN (SELECT TransId FROM #PostTransDetail WHERE DetailType =2) p
	ON e.Id=p.TransId

END TRY

BEGIN CATCH

	EXEC dbo.trav_RaiseError_proc

END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaTransPostUpdateStatus_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaTransPostUpdateStatus_proc'
GO
