USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPriceCalc_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPriceCalc_proc]      
@ItemID pItemId,      
@LocID pLocId,      
@Uom pUOM,      
@SerNum pSerNum = '',      
@Qty pDecimal = 0,      
@CustId pCustId = '',            
@Date datetime = NULL,      
@gPrecUCost smallint = 2,      
@gPrecUPrice smallint = 2,      
@DiscountsAllowed bit = 0,      
@PriceBase pDecimal = 0 OUT,      
@BrkID nvarchar(10) = '' OUT,      
@BrkAdj pDecimal = 0 OUT,      
@BrkAdjType tinyint = 0 OUT,      
@PriceType1 nvarchar(10) = '' OUT,      
@PriceType2 nvarchar(10) = '' OUT,      
@PriceType3 nvarchar(10) = '' OUT,      
@PriceTemp1 pDecimal = 0 OUT,      
@PriceTemp2 pDecimal = 0 OUT,      
@PriceTemp3 pDecimal = 0 OUT,      
@CalcAdj1 pDecimal = 0 OUT,      
@CalcAdj2 pDecimal = 0 OUT,      
@CalcAdj3 pDecimal = 0 OUT,      
@PromoID nvarchar(10) = '' OUT,      
@CalcPrice pDecimal = 0 OUT,      
@PenaltyAmt pDecimal = 0 OUT      
      
AS      
      
Set Nocount on      
DECLARE @SerailCostingMethod tinyint, @SerailCost decimal(28,10), @SerailPrice decimal(28,10), @CostLast decimal(28,10), @CurrentDate datetime

DECLARE @SerYn bit, @ItemType tinyint, @ProdLine nvarchar(12), @UsrFld1 nvarchar(12)      
 , @UsrFld2 nvarchar(12), @CostBase pDecimal, @CostStd pDecimal      
 , @PriceMin pDecimal, @PriceAvg pDecimal, @PriceList pDecimal      
 , @Conv pDecimal, @PenaltyType tinyint --, @PenaltyAmt pDecimal --pet 43233      
 , @CostUnit pDecimal, @PriceUnit pDecimal      
 , @BaseTemp pDecimal, @PriceAdjBase tinyint, @PriceAdjType tinyint      
 , @PriceAdjAmt pDecimal, @ProceedYn bit
      
SELECT @PriceBase=0, @BrkID='', @BrkAdjType=0, @BrkAdj=0      
 , @PriceType1='', @PriceType2='', @PriceType3=''      
 , @PriceTemp1=0, @PriceTemp2=0, @PriceTemp3=0      
 , @CalcAdj1=0, @CalcAdj2=0, @CalcAdj3=0      
 , @PromoID='', @CalcPrice=0      
      
DECLARE @BreakFoundYn bit, @PromosYn bit, @PriceStructsYn bit,
        @CustLevel nvarchar(10),@ItemWeight pDecimal, @PriceID nvarchar(10),  @ItemPriceID nvarchar(10)        
      
SELECT @BreakFoundYn = 0, @PromosYn = 1, @PriceStructsYn = 1,
       @CustLevel='',@ItemWeight =0,@PriceID =''   

DECLARE @PriceBrkType nvarchar(20),
        @CustomerMode nvarchar(20),
   	    @BrkValue decimal(28,10),
		@BrkStartDate as datetime,
		@BrkEndDate as datetime

SELECT @PriceBrkType='',@CustomerMode='', @BrkValue =0

SELECT @ItemType = ItemType, @ProdLine = IsNull(ProductLine,'')      
 , @UsrFld1 = IsNull(UsrFld1,''), @UsrFld2 = IsNull(UsrFld2,''), @SerailCostingMethod = CostMethodOverride       
 FROM dbo.tblInItem (NOLOCK) WHERE ItemID = @ItemID      
IF @@ROWCOUNT = 0 RETURN 10      
      
SELECT @SerYn = CASE WHEN @ItemType = 2 THEN 1 ELSE 0 END      
      
SELECT @CostBase = CostBase, @CostStd = CostStd, @CostLast = CostLast, @ItemPriceID = DfltPriceId      
 FROM dbo.tblInItemLoc (NOLOCK)      
 WHERE ItemID = @ItemID and LocID= @LocID      
IF @@ROWCOUNT = 0 RETURN 20      

SELECT @PriceBase = PriceBase, @BrkID = BrkID, @PriceMin = PriceMin      
 , @PriceAvg = PriceAvg, @PriceList = PriceList       
 FROM dbo.tblInItemLocUomPrice (NOLOCK)      
 WHERE ItemID = @ItemID AND LocID = @LocID AND Uom = @Uom      

SELECT @PriceBase = ISNULL(@PriceBase,0), @PriceMin = ISNULL(@PriceMin,0)      
 , @PriceAvg = ISNULL(@PriceAvg,0), @PriceList = ISNULL(@PriceList,0)    
      
SELECT @Conv = ConvFactor, @PenaltyType = PenaltyType, @PenaltyAmt = PenaltyAmt,@ItemWeight=[Weight]      
 FROM dbo.tblInItemUom (NOLOCK)       
 WHERE ItemID = @ItemID AND Uom = @Uom      
IF @@ROWCOUNT = 0 RETURN 40  

--Contract Pricing
CREATE TABLE #tmpPriceCalcuate( 
	BreakAmount decimal(28,10) NOT NULL,
	AdjustmentBase tinyint NOT NULL,
	AdjustmentType tinyint NOT NULL,
	AdjustmentAmount decimal(28,10) NOT NULL,
	CalculatedPrice decimal(28,10) NULL,
	BaseTemp decimal(28,10) NOT NULL)

--build valid contract pricing list
SELECT @CurrentDate = CAST(CONVERT(varchar(8),GETDATE(), 112) AS datetime)
INSERT INTO #tmpPriceCalcuate (BreakAmount, AdjustmentBase, AdjustmentType, AdjustmentAmount, CalculatedPrice, BaseTemp)
SELECT a.BreakAmount, a.AdjustmentBase, a.AdjustmentType, a.AdjustmentAmount, ISNULL(@PriceBase,0) AS CalculatedPrice, 
	0 AS BaseTemp
FROM
	(SELECT h.ContractPriceID, d.BreakAmount, d.AdjustmentBase, d.AdjustmentType, d.AdjustmentAmount
    FROM dbo.tblSoPriceContractHeader h 
		INNER JOIN dbo.tblSoPriceContractDetail d ON h.ID = d.HeaderId
		INNER JOIN dbo.tblSoPriceContractCustomer c ON h.Id = c.HeaderId
		INNER JOIN dbo.tblSoPriceContractItem i ON h.Id = i.HeaderId 
		INNER JOIN dbo.tblInItem m ON i.ItemId = m.ItemId
		INNER JOIN dbo.tblInItemLoc l ON d.ItemId = l.ItemId AND d.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.BreakUOM = u.Uom
		LEFT JOIN dbo.tblInItemLocUomPrice p ON d.ItemId = p.ItemId AND d.LocId = p.LocId AND d.BreakUOM = p.Uom
    WHERE h.PriceBreakType = 0 --Line Quantity
		AND h.PerItemPricingYN = 1 --Per Item Pricing Yes
		AND (h.StartDate IS NULL OR (h.StartDate <= @CurrentDate))
		AND (h.EndDate IS NULL OR (h.EndDate >= @CurrentDate))
		AND c.CustId = @CustId
		AND d.ItemId = @ItemID AND d.LocId = @LocID AND d.BreakUOM = @Uom AND d.BreakAmount <= @Qty
	UNION ALL
	SELECT h.ContractPriceID, d.BreakAmount, d.AdjustmentBase, d.AdjustmentType, d.AdjustmentAmount
    FROM dbo.tblSoPriceContractHeader h 
		INNER JOIN dbo.tblSoPriceContractDetail d ON h.ID = d.HeaderId
		INNER JOIN dbo.tblSoPriceContractCustomer c ON h.Id = c.HeaderId
		INNER JOIN dbo.tblSoPriceContractItem i ON h.Id = i.HeaderId
		INNER JOIN dbo.tblInItem m ON i.ItemId = m.ItemId
		INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
		INNER JOIN dbo.tblInItemUom u ON i.ItemId = u.ItemId AND d.BreakUOM = u.Uom 
		LEFT JOIN dbo.tblInItemLocUomPrice p ON i.ItemId = p.ItemId AND l.LocId = p.LocId AND d.BreakUOM = p.Uom
    WHERE h.PriceBreakType = 0 --Line Quantity
		AND h.PerItemPricingYN = 0 --Per Item Pricing No
		AND (h.StartDate IS NULL OR (h.StartDate <= @CurrentDate))
		AND (h.EndDate IS NULL OR (h.EndDate >= @CurrentDate))
		AND c.CustId = @CustId AND i.ItemId = @ItemID AND l.LocId = @LocID
		AND d.BreakUOM = @Uom AND d.BreakAmount <= @Qty) a 
LEFT JOIN
	(SELECT h.ContractPriceID, d.BreakAmount
    FROM dbo.tblSoPriceContractHeader h 
		INNER JOIN dbo.tblSoPriceContractDetail d ON h.ID = d.HeaderId
		INNER JOIN dbo.tblSoPriceContractCustomer c ON h.Id = c.HeaderId
		INNER JOIN dbo.tblSoPriceContractItem i ON h.Id = i.HeaderId
		INNER JOIN dbo.tblInItem m ON i.ItemId = m.ItemId
		INNER JOIN dbo.tblInItemLoc l ON d.ItemId = l.ItemId AND d.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.BreakUOM = u.Uom
		LEFT JOIN dbo.tblInItemLocUomPrice p ON d.ItemId = p.ItemId AND d.LocId = p.LocId AND d.BreakUOM = p.Uom
    WHERE h.PriceBreakType = 0 --Line Quantity
		AND h.PerItemPricingYN = 1 --Per Item Pricing Yes
		AND (h.StartDate IS NULL OR (h.StartDate <= @CurrentDate))
		AND (h.EndDate IS NULL OR (h.EndDate >= @CurrentDate))
		AND c.CustId = @CustId AND i.ItemId = @ItemID 
		AND d.ItemId = @ItemID AND d.LocId = @LocID AND d.BreakUOM = @Uom AND d.BreakAmount <= @Qty
	UNION ALL
	SELECT h.ContractPriceID, d.BreakAmount
    FROM dbo.tblSoPriceContractHeader h 
		INNER JOIN dbo.tblSoPriceContractDetail d ON h.ID = d.HeaderId
		INNER JOIN dbo.tblSoPriceContractCustomer c ON h.Id = c.HeaderId
		INNER JOIN dbo.tblSoPriceContractItem i ON h.Id = i.HeaderId
		INNER JOIN dbo.tblInItem m ON i.ItemId = m.ItemId
		INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
		INNER JOIN dbo.tblInItemUom u ON i.ItemId = u.ItemId AND d.BreakUOM = u.Uom 
		LEFT JOIN dbo.tblInItemLocUomPrice p ON i.ItemId = p.ItemId AND l.LocId = p.LocId AND d.BreakUOM = p.Uom
    WHERE h.PriceBreakType = 0 --Line Quantity
		AND h.PerItemPricingYN = 0 --Per Item Pricing No
		AND (h.StartDate IS NULL OR (h.StartDate <= @CurrentDate))
		AND (h.EndDate IS NULL OR (h.EndDate >= @CurrentDate))
		AND c.CustId = @CustId AND i.ItemId = @ItemID AND l.LocId = @LocId
		AND d.BreakUOM = @Uom AND d.BreakAmount <= @Qty) b ON a.ContractPriceId = b.ContractPriceId AND a.BreakAmount < b.BreakAmount
WHERE b.ContractPriceId IS NULL

IF @@ROWCOUNT > 0 --Found valid contract pricing 
BEGIN
	--If it is serialized item and serial costing method is Specific 
	IF @ItemType = 2 AND @SerailCostingMethod = 1 AND @SerNum IS NOT NULL --Get serial number price and cost
	BEGIN
		SELECT @SerailCost = CostUnit, @SerailPrice = PriceUnit
		FROM dbo.tblInItemSer  
		WHERE ItemId = @ItemID AND SerNum = @SerNum

		--Update base price and base cost using serial number price and cost if they are not null and not 0
		UPDATE #tmpPriceCalcuate SET CalculatedPrice = CASE ISNULL(@SerailPrice,0) WHEN 0 THEN CalculatedPrice ELSE @SerailPrice END
	END
	
	IF @ItemType <> 2 OR @SerailCostingMethod = 0
	BEGIN
		--AdjustmentBase:0,NoBase;1,StandardCost;2,BaseCost;3,AveragePrice;4,BasePrice;5,ListPrice;6,MinimumPrice;7,CalculatedPrice;8,LastCost;
		UPDATE #tmpPriceCalcuate SET BaseTemp = CASE AdjustmentBase WHEN 0 THEN 0 WHEN 1 THEN @CostStd * @Conv WHEN 2 THEN @CostBase * @Conv
			WHEN 3 THEN @PriceAvg WHEN 4 THEN @PriceBase WHEN 5 THEN @PriceList WHEN 6 THEN @PriceMin
			WHEN 7 THEN CalculatedPrice WHEN 8 THEN @CostLast * @Conv END

		--AdjustmentType:0,Amount;1,Percent;
		UPDATE #tmpPriceCalcuate SET CalculatedPrice = CASE AdjustmentType WHEN 0 THEN BaseTemp + AdjustmentAmount
			WHEN 1 THEN BaseTemp * (1 + AdjustmentAmount * 0.01) END
	END

	SELECT @CalcPrice = MIN(CalculatedPrice) FROM #tmpPriceCalcuate
END
ELSE
BEGIN
	SELECT @CustLevel=c.CustLevel,@PriceID=c.PriceCode
	FROM tblArCust c 
	WHERE CustId=@CustId
	SET @CustLevel=ISNULL(@CustLevel,'')

	IF ISNULL(@PriceID,'') = '' SET @PriceID = @ItemPriceID 
      
	SELECT @CostBase = ROUND(@CostBase * @Conv, @gPrecUCost)      
      
	IF @SerYn = 1      
	BEGIN      
	 SELECT @CostUnit = CostUnit, @PriceUnit = PriceUnit       
	  FROM dbo.tblInItemSer (NOLOCK)      
	  WHERE ItemID = @ItemID and SerNum = @SerNum      
      
	 SELECT @CostBase = CASE WHEN COALESCE(@CostUnit,0)=0 THEN @CostBase ELSE @CostUnit END      
	  , @PriceBase = CASE WHEN COALESCE(@PriceUnit,0)=0 THEN @PriceBase ELSE @PriceUnit END      
	END      
      
	SELECT @CostStd = ROUND(@CostStd * @Conv, @gPrecUCost)      
	 , @CalcPrice = ROUND(@PriceBase, @gPrecUPrice)      


	IF @SerYn = 0 OR (@SerYn = 1 AND @DiscountsAllowed = 1)      
	BEGIN      
	 IF @SerYn = 0      
	 BEGIN      
	  SELECT @BrkAdjType = BrkAdjType, @BrkAdj = BrkAdj       
	   FROM dbo.tblInPriceBreaks      
	   WHERE BrkID = @BrkID AND CONVERT(Decimal(20,10),BrkQty) <= @Qty       
	   ORDER BY BrkQty --DESC      
	  IF @@ROWCOUNT > 0      
	  BEGIN      
	   SELECT @BreakFoundYn = 1      
	   IF @BrkAdjType = 0      
		SELECT @CalcPrice = ROUND(@PriceBase + @BrkAdj, @gPrecUPrice)      
	   ELSE      
		SELECT @CalcPrice = ROUND(@PriceBase + (@PriceBase * @BrkAdj*.01), @gPrecUPrice)      
	  END      
	  --pet 43233      
	  IF @Qty > 0 And @PenaltyType <> 0      
		  SELECT @PenaltyAmt = Round(((@Qty - Cast(@Qty as int)) * @PriceBase) * (@PenaltyAmt / 100.0), @gPrecUPrice) --calc penalty amount         
	 END      
     
	 --customer specific pricing      
	IF @CustLevel <> ''       
	 BEGIN      
	  SELECT @PromosYn = PriceAdjPromoYn, @PriceAdjBase = PriceAdjBase      
	   , @PriceAdjType = PriceAdjType, @PriceAdjAmt = PriceAdjAmt       
	   FROM dbo.tblSoItemLocPrice (NOLOCK)      
	   WHERE ItemID = @ItemID AND LocID = @LocID AND CustLevel = @CustLevel      
	  IF @@ROWCOUNT > 0      
	  BEGIN      
	   SELECT @PriceStructsYn = 0      
	   SELECT @BaseTemp = CASE @PriceAdjBase       
		WHEN 0 THEN 0       
		WHEN 1 THEN @CostStd      
		WHEN 2 THEN @CostBase       
		WHEN 3 THEN @PriceAvg       
		WHEN 4 THEN @PriceBase      
		WHEN 5 THEN @PriceList       
		WHEN 6 THEN @PriceMin       
		ELSE @CalcPrice       
		END      
	   IF @PriceAdjBase = 7       
		SELECT @PriceType1 = 'Adjusted'      
	   ELSE      
		SELECT @PriceType1 = 'Overriding'      
      
	   IF @PriceAdjType = 0      
		--pet 43079/43416      
		SELECT @PriceTemp1 = @BaseTemp + ROUND(@PriceAdjAmt * @Conv, @gPrecUCost), @CalcAdj1 = ROUND(@PriceAdjAmt * @Conv, @gPrecUCost)      
	   ELSE      
		SELECT @PriceTemp1 = ROUND(@BaseTemp + (@BaseTemp * @PriceAdjAmt)*.01,@gPrecUPrice)      
		 , @CalcAdj1 = ROUND(@BaseTemp * @PriceAdjAmt*.01, @gPrecUPrice)      
      
	   SELECT @CalcPrice = @PriceTemp1      
	  END      
	 END      
      
	 --price structures      
	 IF @PriceStructsYn = 1      
	 BEGIN      
	  IF @PriceID <> ''      
	  BEGIN      
	   SELECT @PromosYn = 1, @PriceAdjBase = PriceAdjBase      
		, @PriceAdjType = PriceAdjType, @PriceAdjAmt = PriceAdjAmt       
		FROM dbo.tblSoPriceStructDetail       
		WHERE PriceID = @PriceID AND CustLevel = @CustLevel      
         
	   --look for default price id if not found      
	   IF @@ROWCOUNT = 0      
		SELECT @PromosYn = 1, @PriceAdjBase = DfltAdjBase      
		 , @PriceAdjType = DfltAdjType, @PriceAdjAmt = DfltAdjAmt       
		 FROM dbo.tblSoPriceStructHeader       
		 WHERE PriceID = @PriceID      
	   ELSE      
		SELECT @ProceedYn = 1      
      
	   IF @@ROWCOUNT > 0 OR @ProceedYn = 1      
	   BEGIN      
		SELECT @BaseTemp = CASE @PriceAdjBase       
		 WHEN 0 THEN 0       
		 WHEN 1 THEN @CostStd      
		 WHEN 2 THEN @CostBase       
		 WHEN 3 THEN @PriceAvg       
		 WHEN 4 THEN @PriceBase      
		 WHEN 5 THEN @PriceList       
		 WHEN 6 THEN @PriceMin       
		 ELSE @CalcPrice       
		 END      
      
		IF @PriceAdjBase = 7       
		 SELECT @PriceType2 = 'Adjusted'      
		ELSE      
		 SELECT @PriceType2 = 'Overriding'      
      
		IF @PriceAdjType = 0      
		 SELECT @PriceTemp2 = @BaseTemp + @PriceAdjAmt, @CalcAdj2 = @PriceAdjAmt      
		ELSE      
		 SELECT @PriceTemp2 = ROUND(@BaseTemp + (@BaseTemp * @PriceAdjAmt)*.01, @gPrecUPrice)      
		  , @CalcAdj2 = ROUND(@BaseTemp * @PriceAdjAmt*.01, @gPrecUPrice)      
      
		SELECT @CalcPrice = @PriceTemp2      
	   END      
	  END      
	 END      
       
	  --promos      
	 IF @PromosYn = 1      
	 BEGIN      
	  SELECT TOP 1 @PromoID = PromoID, @PriceAdjBase = PriceAdjBase      
	   , @PriceAdjType = PriceAdjType, @PriceAdjAmt = PriceAdjAmt       
	   FROM dbo.tblSoPricePromo      
	   WHERE PriceIDFrom <= @PriceID AND PriceIDThru >= @PriceID       
		AND CustLevelFrom <= @CustLevel AND CustLevelThru >= @CustLevel       
		AND ProductLineFrom <= @ProdLine AND ProductLineThru >= @ProdLine       
		AND ItemIDFrom <= @ItemID AND ItemIDThru >= @ItemID       
		AND UomFrom <= @Uom AND UomThru >= @Uom       
		AND LocIDFrom <= @LocID AND LocIDThru >= @LocID       
		AND UsrFld1From <= @UsrFld1 AND UsrFld1Thru >= @UsrFld1       
		AND UsrFld2From <= @UsrFld2 AND UsrFld2Thru >= @UsrFld2       
		AND DateStart<= COALESCE(@Date, DateStart) AND DateEnd>= COALESCE(@Date,DateEnd)      
		AND WebOnlyYn = 0      
	   ORDER BY DateStart DESC      
	  IF @@ROWCOUNT > 0      
	  BEGIN      
	   SELECT @BaseTemp = CASE @PriceAdjBase       
		WHEN 0 THEN 0       
		WHEN 1 THEN @CostStd      
		WHEN 2 THEN @CostBase       
		WHEN 3 THEN @PriceAvg       
		WHEN 4 THEN @PriceBase      
		WHEN 5 THEN @PriceList       
		WHEN 6 THEN @PriceMin       
		ELSE @CalcPrice       
		END      
      
	   IF @PriceAdjBase = 7       
		SELECT @PriceType3 = 'Adjusted'      
	   ELSE      
		SELECT @PriceType3 = 'Overriding'      
      
	   IF @PriceAdjType = 0      
		SELECT @PriceTemp3 = @BaseTemp + @PriceAdjAmt, @CalcAdj3 = @PriceAdjAmt      
	   ELSE      
		SELECT @PriceTemp3 = ROUND(@BaseTemp + (@BaseTemp * @PriceAdjAmt)*.01,@gPrecUPrice)      
		 , @CalcAdj3 = ROUND(@BaseTemp * @PriceAdjAmt*.01, @gPrecUPrice)      
      
	   IF @CalcPrice < @PriceTemp3      
		SELECT @PromoID = NULL      
	   ELSE      
		SELECT @CalcPrice = @PriceTemp3      
	  END      
	 END      
	END      
      
	--pet 43233      
	--include any penalities per unit if calculating for fractional unit quantities       
	If @Qty <> Cast(@Qty as int)      
	 Select @CalcPrice = @CalcPrice + isnull(Case When @Qty = 0 Then 0 Else Round(@PenaltyAmt / @Qty, @gPrecUPrice) End, 0)        
	Else      
	 Set @PenaltyAmt = 0 --reset to 0 to prevent display on tape      
END
      
Return (0)  
  
  

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPriceCalc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPriceCalc_proc'
GO
