USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CmContactGroup_ValidateDetails_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CmContactGroup_ValidateDetails_proc]
@ContactGroupId BigInt
AS
BEGIN TRY

	SET NOCOUNT ON
	
	UPDATE dbo.tblCmContactGroupDtl 
		SET SelectYn = 0
	FROM dbo.tblCmContactGroupDtl INNER JOIN dbo.tblCmContactGroup g ON dbo.tblCmContactGroupDtl.ContactGroupID = g.ID 
		LEFT JOIN dbo.tblCMContact c ON dbo.tblCmContactGroupDtl.ContactID = c.ID 
		LEFT JOIN dbo.tblCmContactAddress a ON dbo.tblCmContactGroupDtl.ContactMethodID = a.ID
	WHERE g.ID = @ContactGroupId AND dbo.tblCmContactGroupDtl.[Type] = 3 AND SelectYn = 1 AND ((c.ID IS NULL OR c.[Status] = 2) OR --invalid contact
		(a.ID IS NULL OR a.Sequence != 0 OR a.[Status] = 1)) --invalid address or not allowed

	UPDATE dbo.tblCmContactGroupDtl 
		SET SelectYn = 0
	FROM dbo.tblCmContactGroupDtl INNER JOIN dbo.tblCmContactGroup g ON dbo.tblCmContactGroupDtl.ContactGroupID = g.ID 
		LEFT JOIN dbo.tblCMContact c ON dbo.tblCmContactGroupDtl.ContactID = c.ID 
		LEFT JOIN dbo.tblCmContactMethod m ON dbo.tblCmContactGroupDtl.ContactMethodID = m.ID
	WHERE g.ID = @ContactGroupId AND dbo.tblCmContactGroupDtl.[Type] < 3 AND SelectYn = 1 AND ((c.ID IS NULL OR c.[Status] = 2) OR --invalid contact
		(m.ID IS NULL OR m.[Status] = 1)) --invalid contact method or not allowed
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmContactGroup_ValidateDetails_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmContactGroup_ValidateDetails_proc'
GO
