USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoHistoryRequestBudgetView_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoHistoryRequestBudgetView_proc]
@TransId pTransId,
@PostRun pPostRun
AS
SET NOCOUNT ON
BEGIN TRY
	SELECT r.TransID, r.PostRun, b.GLAcct, h.CurrencyID, h.[Desc], b.BudgetBalance, b.OrderBalance, 
		b.PendingReq, ISNULL(d.OrderAmt, 0) As CurrentTotal, 
		b.BudgetBalance - b.OrderBalance - b.PendingReq - ISNULL(d.OrderAmt, 0) As EstRemainBudgetr, r.CurrencyID as TransCurrencyId
	FROM dbo.tblPoHistRequestHeader r
		INNER JOIN dbo.tblPoHistRequestBudget b ON r.PostRun = b.PostRun AND r.TransId = b.TransId
		INNER JOIN dbo.tblGlAcctHdr h On b.GLAcct = h.AcctId
		LEFT JOIN (
			SELECT d.PostRun, d.TransId, GlAcct, SUM(ExtCost) As OrderAmt
			FROM dbo.tblPoHistRequestHeader r
				INNER JOIN dbo.tblPoHistRequestDetail d ON r.PostRun = d.PostRun AND r.TransId = d.TransID
			GROUP BY d.PostRun, d.TransID, GLAcct) d On b.PostRun = d.PostRun and b.TransID = d.TransID AND b.GLAcct = d.GLAcct
	WHERE r.TransId = @TransId AND r.PostRun = @PostRun
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoHistoryRequestBudgetView_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoHistoryRequestBudgetView_proc'
GO
