USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrMasterSchedule_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrMasterSchedule_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT h.AssemblyId, h.LocId, h.UOM, i.Descr, d.ProdDate, d.Qty, d.Notes 
	FROM #tblDrMstrSched t INNER JOIN   dbo.tblDrMstrSched h (NOLOCK) ON t.id=h.id  
	INNER JOIN dbo.tblDrMstrSchedDtl d 	ON h.id = d.MstrSchedId and t.ProdDate=d.ProdDate
	LEFT OUTER JOIN   dbo.tblInItem i ON h.AssemblyId = i.ItemId
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrMasterSchedule_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrMasterSchedule_proc'
GO
