USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_HrProcessStaffingStatus_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_HrProcessStaffingStatus_proc]
@EffectiveDate DATETIME,
@PositionId BIGINT,
@MaxDate DATETIME

AS
	BEGIN TRY

	SELECT p.ID FROM dbo.tblHrPosition p 
	LEFT JOIN dbo.tblHrIndPosition ip ON p.ID = ip.PositionID
	WHERE ((@EffectiveDate BETWEEN ip.StartDate AND ISNULL(ip.EndDate, @MaxDate)) AND (@PositionId = p.ID))

	END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrProcessStaffingStatus_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_HrProcessStaffingStatus_proc'
GO
