USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_DropShipAdjustment_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_DropShipAdjustment_proc]
AS
BEGIN TRY
DECLARE @PrecCurr smallint,@CurrBase [nvarchar](6) , @PostRun nvarchar(14), @HistoryID bigInt
	DECLARE @TransTypePOInvoice nvarchar(10), @TransTypePOReceipt nvarchar(10)
	SELECT @TransTypePOInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOInvoice' --POINVOICE
	SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'	
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @HistoryID = Cast([Value] AS bigInt) FROM #GlobalValues WHERE [Key] = 'HistoryID'

	IF @PostRun IS NULL OR @TransTypePOInvoice IS NULL OR @TransTypePOReceipt IS NULL OR 
		@PrecCurr IS NULL OR @CurrBase IS NULL OR @HistoryID IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #InHistDetail
	(
		[ItemId] [nvarchar](24) NULL,
		[LocId] [nvarchar](10) NULL,
		[ItemType] [tinyint] NULL,
		[LottedYN] [bit] NULL,
		[TransType] [tinyint] NULL,
		[SumYear] [smallint] NULL,
		[SumPeriod] [smallint] NULL,
		[GLPeriod] [smallint] NULL,
		[AppId] [nchar](10) NULL,
		[BatchId] [nvarchar](6) NULL,
		[TransId] [nvarchar](8) NULL,
		[RefId] [nvarchar](15) NULL,
		[SrceID] [nvarchar](10) NULL,
		[TransDate] [datetime] NULL,
		[Uom] [nvarchar](5) NULL,
		[UomBase] [nvarchar](5) NULL,
		[ConvFactor] [decimal](28,10) NOT NULL,
		[Qty] [decimal](28,10) NOT NULL,
		[CostExt] [decimal](28,10) NOT NULL,
		[CostStd] [decimal](28,10) NOT NULL,
		[PriceExt] [decimal](28,10) NOT NULL,
		[CostUnit] [decimal](28,10) NOT NULL,
		[PriceUnit] [decimal](28,10) NOT NULL,
		[Source] [tinyint] NOT NULL,
		[Qty_Invc] [decimal](28,10) NOT NULL,
		[CostExt_Invc] [decimal](28,10) NOT NULL,
		[DropShipYn] [bit] NOT NULL,
		[LotNum] [nvarchar](16) NULL,
		[CurrencyIDACV] [nvarchar](6) NULL,
		[CostUnitACV] [decimal](28,10) NULL,
		[CostExtACV] [decimal](28,10) NULL 
	 )


	INSERT INTO #InHistDetail(ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
		GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt, CostStd, 
		PriceExt, CostUnit, PriceUnit, Source, Qty_Invc, CostExt_Invc, DropShipYn, LotNum,CurrencyIDACV,CostUnitACV,CostExtACV)
	SELECT d.ItemId, d.LocId, d.ItemType, d.LottedYN, 19, o.FiscalYear, o.GlPeriod, o.GlPeriod, 'PO', h.BatchId,
		h.TransId, o.InvcNum, 'COGS Adj', o.InvcDate, l.UomBase, l.UomBase, 1, 0, 
		SUM(ROUND(ir.Qty * ( i.UnitCost - r.UnitCost), @PrecCurr)), 0, 0, 0, 0, 200, 0, 0, 1, NULL
		,loc.CurrencyIDACV
		, 0
		,SUM(ROUND(ir.Qty * ( CASE WHEN loc.CurrencyIDACV = @CurrBase THEN i.UnitCost
							   ELSE CASE WHEN loc.CurrencyIDACV = h.CurrencyID THEN i.UnitCostFgn
							   ELSE (i.UnitCostFgn *et.Rate) END END 
								 - CASE WHEN loc.CurrencyIDACV = @CurrBase THEN r.UnitCost
								   ELSE CASE WHEN loc.CurrencyIDACV = h.CurrencyID THEN r.UnitCostFgn
								   ELSE (r.UnitCostFgn *etr.Rate) END END)
				    , c.CurrDecPlaces)) CostExtACV
	FROM #PostTransList b INNER JOIN dbo.tblPoTransHeader h ON b.TransId = h.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId 
	INNER JOIN dbo.tblPoTransInvoice i ON b.TransId = i.TransId AND d.EntryNum = i.EntryNum 
	INNER JOIN dbo.tblPoTransInvoiceTot o ON i.TransId = o.TransId AND i.InvoiceNum = o.InvcNum
	INNER JOIN dbo.tblPoTransInvc_Rcpt ir ON i.InvoiceID = ir.InvoiceID 
	INNER JOIN dbo.tblPoTransLotRcpt r ON r.ReceiptID = ir.ReceiptID 
	INNER JOIN dbo.tblInItem l ON d.ItemId = l.ItemId
	INNER JOIN dbo.tblInItemLoc loc on d.ItemId= loc.ItemId AND d.LocId =loc.LocId	
	LEFT JOIN tblSmCurrency c on loc.CurrencyIDACV= c.CurrID
	LEFT JOIN tblSmExchangeRateTrans et
		ON et.TransType =@TransTypePOInvoice AND  et.[Source] =h.CurrencyID  AND et.Destination= loc.CurrencyIDACV AND et.TransKey= CAST(o.ID AS nvarchar(255))
	LEFT JOIN tblSmExchangeRateTrans etr
		ON etr.TransType =@TransTypePOReceipt AND  etr.[Source] =h.CurrencyID  AND etr.Destination= loc.CurrencyIDACV AND etr.TransKey=r.RcptHeaderID
	WHERE h.TransType > 0 AND d.InItemYn = 1 AND d.ItemType = 1 AND i.Status = 0 AND h.DropShipYn = 1 AND d.LinkSeqNum > 0
	GROUP BY h.TransId, d.EntryNum, d.ItemId, d.LocId, o.InvcNum, o.FiscalYear, o.GlPeriod, o.InvcDate, h.BatchId, d.ItemType, d.LottedYN, l.UomBase,loc.CurrencyIDACV
	HAVING SUM(ROUND(ir.Qty * ( i.UnitCost - r.UnitCost), @PrecCurr)) <> 0

	INSERT INTO #InHistDetail(ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
		GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt, CostStd, 
		PriceExt, CostUnit, PriceUnit, Source, Qty_Invc, CostExt_Invc, DropShipYn, LotNum,CurrencyIDACV,CostUnitACV,CostExtACV)
	SELECT d.ItemId, d.LocId, d.ItemType, d.LottedYN, 19, o.FiscalYear, o.GlPeriod, o.GlPeriod, 'PO', h.BatchId,
		h.TransId, o.InvcNum, 'COGS Adj', o.InvcDate, l.UomBase, l.UomBase, 1, 0, 
		SUM(ROUND(s.InvcUnitCost - s.RcptUnitCost, @PrecCurr)), 0, 0, 0, 0, 200, 0, 0, 1, NULL
		,loc.CurrencyIDACV
		, 0
		,SUM(ROUND( CASE WHEN loc.CurrencyIDACV = @CurrBase THEN s.InvcUnitCost
					ELSE CASE WHEN loc.CurrencyIDACV = h.CurrencyID THEN s.InvcUnitCostFgn
				    ELSE (s.InvcUnitCostFgn *et.Rate) END END 
					 - CASE WHEN loc.CurrencyIDACV = @CurrBase THEN s.RcptUnitCost
					   ELSE CASE WHEN loc.CurrencyIDACV = h.CurrencyID THEN s.RcptUnitCostFgn
					   ELSE (s.RcptUnitCostFgn *etr.Rate) END END
				 , c.CurrDecPlaces)) CostExtACV
	FROM #PostTransList b INNER JOIN dbo.tblPoTransHeader h ON b.TransId = h.TransId 
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId 
	INNER JOIN dbo.tblPoTransInvoice i ON b.TransId = i.TransId AND d.EntryNum = i.EntryNum 
	INNER JOIN dbo.tblPoTransInvoiceTot o ON i.TransId = o.TransId AND i.InvoiceNum = o.InvcNum
	INNER JOIN dbo.tblPoTransSer s ON d.TransID = s.TransID AND d.EntryNum = s.EntryNum AND i.InvoiceNum  = s.InvcNum 
	INNER JOIN dbo.tblInItem l ON d.ItemId = l.ItemId
	INNER JOIN dbo.tblInItemLoc loc on d.ItemId= loc.ItemId AND d.LocId =loc.LocId	
	LEFT JOIN tblSmCurrency c on loc.CurrencyIDACV= c.CurrID
	LEFT JOIN tblPoTransLotRcpt r ON s.TransId=r.TransId AND s.EntryNum =r.EntryNum AND s.RcptNum =r.RcptNum
	LEFT JOIN tblSmExchangeRateTrans et
		ON et.TransType =@TransTypePOInvoice AND  et.[Source] =h.CurrencyID  AND et.Destination= loc.CurrencyIDACV AND et.TransKey = CAST(o.ID AS nvarchar(255))
	LEFT JOIN tblSmExchangeRateTrans etr
		ON etr.TransType =@TransTypePOReceipt AND  etr.[Source] =h.CurrencyID  AND etr.Destination= loc.CurrencyIDACV AND etr.TransKey= CAST(r.RcptHeaderID AS nvarchar(255))
	WHERE h.TransType > 0 AND d.InItemYn = 1 AND d.ItemType = 2 AND i.Status = 0 AND h.DropShipYn = 1 AND d.LinkSeqNum > 0
	GROUP BY h.TransId, d.EntryNum, d.ItemId, d.LocId, o.InvcNum, o.FiscalYear, o.GlPeriod, o.InvcDate, h.BatchId, d.ItemType, d.LottedYN, l.UomBase,loc.CurrencyIDACV
	HAVING SUM(ROUND(s.InvcUnitCost - s.RcptUnitCost, @PrecCurr)) <> 0
	
	-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT ItemId FROM #InHistDetail WHERE CostExtACV IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	
	
	INSERT INTO dbo.tblInHistDetail(ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
	GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt, CostStd, 
	PriceExt, CostUnit, PriceUnit, Source, Qty_Invc, CostExt_Invc, DropShipYn, LotNum,CostUnitACV,CostExtACV,PostRun, ID)
	
	SELECT ItemId, LocId, ItemType, LottedYN, TransType, SumYear, SumPeriod, 
	GLPeriod, AppId, BatchId, TransId, RefId, SrceID, TransDate, Uom, UomBase, ConvFactor, Qty, CostExt, CostStd, 
	PriceExt, CostUnit, PriceUnit, Source, Qty_Invc, CostExt_Invc, DropShipYn, LotNum,CostUnitACV,CostExtACV,@PostRun, @HistoryID + ROW_NUMBER() OVER (ORDER BY ItemId, LocId)
	FROM #InHistDetail

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DropShipAdjustment_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DropShipAdjustment_proc'
GO
