USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbArCustAgedBalances_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbArCustAgedBalances_proc]
@CutoffDate datetime, -- Invoice cutoff date
@InvcFinch [nvarchar](15), -- Finance charge invoice number
@BaseAgingDate datetime, -- base date for the aging dates
@CustomerIdFrom [nvarchar](10), -- Customer ID From
@CustomerIdThru [nvarchar](10), -- Customer ID Thru
@UnappliedCreditsYn bit, -- option to age unapplied payments
@BaseCurrPrec smallint, -- base currency precision factor
@IncludeHeldYn bit, -- option to include held invoices
@BaseCurrencyId [nvarchar](6) 

AS
BEGIN TRY

	SET NOCOUNT ON

	DECLARE @Day1 datetime, @Day2 datetime, @Day3 datetime, @Day4 datetime
	DECLARE @MaxInvcAgingDate datetime, @MaxPmtAgingDate datetime

	SELECT @CustomerIdFrom = COALESCE(@CustomerIdFrom, ''), @CustomerIdThru = COALESCE(@CustomerIdThru, REPLICATE('z', 20)) -- pack to 20 in case of expansion

	-- table for all the invoices to process
	CREATE TABLE #AgeInvoiceList
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		DistCode [nvarchar](6) NOT NULL, 
		RecType smallint, 
		AgingDate datetime, 
		AmountDueBase [decimal](28,10) NULL DEFAULT(0), 
		AmountDue [decimal](28,10) NULL DEFAULT(0), 
		TransDate datetime, 
		[Status] tinyint NULL DEFAULT(0), 
		ProjId nvarchar(10) Null, 
		PhaseId nvarchar(10) Null, 
		SourceApp tinyint NULL DEFAULT(0), 
		FiscalYear smallint DEFAULT(0), 
		FiscalPeriod smallint DEFAULT (0), 
		CurrencyID [nvarchar](6) NOT NULL, 
		AcctType tinyint, 
		AgingPeriod tinyint
	)

	-- table to capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	CREATE TABLE #FutureActivity
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		UNIQUE NONCLUSTERED (CustId, InvcNum)
	)

	-- table to identify invoices that should be excluded from the report
	CREATE TABLE #ExcludeInvoiceList
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		InvcType tinyint, 
		CurrencyID [nvarchar](6) NOT NULL, 
		UNIQUE NONCLUSTERED (CustId, InvcNum, CurrencyID, InvcType)
	)

	-- table to capture the aged invoice detail
	CREATE TABLE #InvoiceAgingBucket
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		DistCode [nvarchar](6) NOT NULL, 
		MinAgingDate datetime NULL, 
		MaxRecType smallint, 
		AmtFinanceCharge [decimal](28,10) NOT NULL DEFAULT(0), 
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtCurrent [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue1 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue2 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue3 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue4 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtFinanceChargeFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		UnappliedCreditFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtCurrentFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue1Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue2Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue3Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue4Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		CurrencyID [nvarchar](6) NOT NULL, 
		AcctType tinyint,
		UNIQUE NONCLUSTERED (CustId, InvcNum, DistCode, CurrencyID)
	)
	
	-- temporary table to capture the invoice balances in invoice currency
	CREATE TABLE #InvoiceAmount
	(
		InvoiceID int, 
		CurrencyID [nvarchar](6) NOT NULL, 
		BalanceBase [decimal](28,10) NOT NULL, 
		Balance [decimal](28,10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		CustID 	[nvarchar](10) NOT NULL, 
		ExchTransKey nvarchar(255), 
		Ctr int IDENTITY(1, 1), 
		UNIQUE NONCLUSTERED (CustId, ExchTransKey, CurrencyID, InvoiceID, Ctr)
	)
	
	-- temporary table to evaluate the output currency amounts
	CREATE TABLE #OutputAmount
	(
		InvoiceID int, 
		CurrencyID [nvarchar](6) NOT NULL, 
		BalanceBase [decimal](28,10) NULL, 
		Balance [decimal](28,10) NULL, 
		InvcNum [nvarchar](15) NULL, 
		Ctr int IDENTITY(1, 1), 
		UNIQUE NONCLUSTERED (InvoiceID, Ctr)
	)	

	-- Process the application of payments against invoice to determine balance in the invoice currency
	-- Use data from the applied invoice records when identified by the payment InvoiceID value
	INSERT INTO #InvoiceAmount (InvoiceID, CurrencyID, BalanceBase, Balance, InvcNum, CustID, ExchTransKey) 
	SELECT oi.[Counter] AS InvoiceID, ISNULL(ai.CurrencyId, oi.CurrencyID) AS CurrencyID
		, SIGN(ISNULL(ai.[RecType], oi.[RecType])) 
			* CASE WHEN ai.[Counter] IS NULL THEN oi.Amt 
				ELSE CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount 
					ELSE -( oi.Amt - oi.GainLossAmount) END END AS BalanceBase
		, SIGN(ISNULL(ai.[RecType], oi.[RecType])) 
			* CASE WHEN ai.[Counter] IS NULL THEN oi.[AmtFgn] 
				ELSE CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount 
					ELSE -oi.AppliedAmount END END AS Balance
		, CASE WHEN ai.[Counter] IS NULL THEN oi.InvcNum ELSE ai.InvcNum END AS InvcNum
		, ISNULL(ai.CustId, oi.CustId) AS CustID
		, CAST(ISNULL(ai.[Counter], oi.[Counter]) AS nvarchar(255)) AS ExchTransKey 
	FROM dbo.tblArOpenInvoice oi 
	LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai
	INNER JOIN dbo.tblArCust c ON oi.CustId = c.CustId
	WHERE oi.CustId BETWEEN @CustomerIdFrom AND @CustomerIdThru AND
		 oi.TransDate <= @CutoffDate AND (oi.Status <> 1 OR @IncludeHeldYn = 1)
	


	INSERT INTO #OutputAmount (InvoiceID, CurrencyID,BalanceBase, Balance, InvcNum) 
	SELECT DISTINCT ia.[InvoiceID], ISNULL(@BaseCurrencyId, ia.CurrencyID) AS CurrencyID
	    , ia.BalanceBase
		, CASE WHEN @BaseCurrencyId = ia.CurrencyId THEN ia.BalanceBase 
			ELSE ROUND(ia.Balance * et.Rate, et.CurrDecPlaces) 
			END AS Balance
		, ia.InvcNum 
	FROM #InvoiceAmount ia 
		LEFT JOIN 
		(
			SELECT TransKey, Rate, CurrDecPlaces 
			FROM [dbo].[tblSmExchangeRateTrans] e 
				INNER JOIN #InvoiceAmount inv ON e.[TransKey] = inv.[ExchTransKey] AND e.[Source] = inv.CurrencyId 
				INNER JOIN [dbo].[tblSmCurrency] c ON e.[Destination] = c.[CurrID] 
			WHERE e.[TransType] = N'ARINVOICE' AND e.[Destination] = @BaseCurrencyId
		) et ON ia.[ExchTransKey] = et.[TransKey]
	

	--====================================================
	-- Open Invoice Customers & Balance forward customers
	--====================================================
	-- build the list of invoices to process for both open invoice & balance forward customers
	INSERT INTO #AgeInvoiceList (CustId, InvcNum, RecType, AmountDueBase ,AmountDue, TransDate, AgingDate, DistCode, [Status]
		, ProjId, PhaseId, SourceApp, FiscalYear, FiscalPeriod, CurrencyID, AcctType, AgingPeriod) 
	SELECT i.CustId, ot.InvcNum, i.RecType, ot.BalanceBase, ot.Balance AS AmountDue, i.TransDate
		, i.TransDate AS AgingDate
		, c.DistCode  AS DistCode -- use customer default dist code when not printing by distcode
		, i.[Status], i.ProjId, i.PhaseId, i.SourceApp, i.FiscalYear, i.GlPeriod AS FiscalPeriod
		, ot.CurrencyID As CurrencyID, c.AcctType, i.AgingPeriod 
	FROM #OutputAmount ot 
	INNER JOIN dbo.tblArOpenInvoice i ON ot.InvoiceID = i.[Counter] 
	INNER JOIN dbo.tblArCust c ON i.CustId = c.CustId

	--capture a distinct list of customer/invoice entries with activity on or later than the payment cutoff date (ignoring the transaction cutoff date)
	INSERT INTO #FutureActivity (CustId, InvcNum) 
    SELECT oi.[CustId], oi.[InvcNum] 
    FROM #AgeInvoiceList i --limit to the identified list of invoices to process
		INNER JOIN dbo.tblArOpenInvoice oi ON i.CustId = oi.CustId and i.InvcNum = oi.InvcNum 
    WHERE  oi.TransDate >= @CutoffDate 
    GROUP BY oi.[CustId], oi.[InvcNum]

    --identify "settled" invoices with no future activity that can be excluded from the aging
    INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType, CurrencyID) 
    SELECT i.[CustId], i.[InvcNum], CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.[CurrencyID] 
    FROM #AgeInvoiceList i 
		LEFT JOIN #FutureActivity fa ON i.[CustId] = fa.[CustId] AND i.[InvcNum] = fa.[InvcNum] 
    WHERE i.AcctType = 0 AND fa.[CustId] IS NULL --and no future activity 
    GROUP BY i.CustId, i.InvcNum, CASE WHEN i.[RecType] = 5 THEN 5 ELSE 1 END, i.CurrencyID 
    HAVING SUM(i.AmountDue) <> 0 --ensure a non-zero balance
                    AND COUNT(*) = SUM(CASE WHEN i.[Status] = 4 THEN 1 ELSE 0 END) --and all invoices marked as paid


	-- isolate the invoices that should be excluded from the aging for open invoice customer
	-- invoices with a zero balance and no payments as of/after the payment cutoff
	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType, CurrencyID) 
	SELECT CustId, InvcNum, 1 AS InvcType, CurrencyID 
	FROM #AgeInvoiceList 
	WHERE RecType <> 5 AND AcctType = 0 
	GROUP BY CustId, InvcNum, CurrencyID 
	HAVING SUM(AmountDue) = 0 -- ensure a zero balance
		AND SUM
			(
				CASE WHEN RecType < 0 
					AND TransDate >= @CutoffDate
				THEN 1 
				ELSE 0 
				END
			) = 0 -- no payments as of/after the payment cutoff

	INSERT INTO #ExcludeInvoiceList (CustId, InvcNum, InvcType, CurrencyID) 
	SELECT CustId, InvcNum, 5 AS InvcType, CurrencyID 
	FROM #AgeInvoiceList 
	WHERE RecType = 5 AND AcctType = 0 
	GROUP BY CustId, InvcNum, CurrencyID 
	HAVING SUM(AmountDue) = 0 -- ensure a zero balance
		AND SUM
			(
				CASE WHEN AmountDue < 0 
					AND TransDate >= @CutoffDate 
				THEN 1 
				ELSE 0 
				END) = 0 -- no payments as of/after the payment cutoff

	-- initialize the list of aged values for open invoice customer
	INSERT INTO #InvoiceAgingBucket (CustId, InvcNum, DistCode, CurrencyID,AcctType) 
	SELECT i.CustId, i.InvcNum, i.DistCode, i.CurrencyID, i.AcctType
	FROM #AgeInvoiceList i 
		LEFT JOIN #ExcludeInvoiceList e ON i.CustId = e.CustId AND i.InvcNum = e.InvcNum AND i.CurrencyID = e.CurrencyID 
			AND ((i.RecType <> 5 AND e.InvcType = 1) OR i.RecType = e.InvcType) 
	WHERE e.CustId IS NULL AND i.AcctType= 0 
	GROUP BY i.CustId, i.InvcNum, i.DistCode, i.CurrencyID,i.AcctType

	-- capture the max invoice and payment dates for calculating the MinAgingDates for open invoice customer
	SELECT @MaxInvcAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType > 0 AND NOT(AgingDate IS NULL) AND AcctType = 0
	SELECT @MaxPmtAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType < 0 AND NOT(AgingDate IS NULL) AND AcctType = 0
	SELECT @MaxInvcAgingDate = COALESCE(@MaxInvcAgingDate, GETDATE()), @MaxPmtAgingDate = COALESCE(@MaxPmtAgingDate, GETDATE())

	-- process invoices/payments by Min aging date and max rec typ so that over payments on invoices are aged with the invoice for open invoice customer
	UPDATE #InvoiceAgingBucket 
		SET MinAgingDate = m.MinAgingDate, MaxRecType = m.MaxRecType 
		FROM #InvoiceAgingBucket 
			INNER JOIN 
			(
				SELECT CustId, InvcNum, DistCode, MAX(RecType) AS MaxRecType
					, CASE WHEN MAX(RecType) > 0 THEN MIN(InvcDate) ELSE MIN(PmtDate) END MinAgingDate
					, CurrencyID 
				FROM 
				(
					SELECT CustId, InvcNum, DistCode, ISNULL(RecType, 1) AS RecType
						, CASE WHEN ISNULL(RecType, 1) > 0 THEN AgingDate ELSE @MaxInvcAgingDate END AS InvcDate
						, CASE WHEN ISNULL(RecType, 1) < 0 THEN AgingDate ELSE @MaxPmtAgingDate END AS PmtDate
						, CurrencyID 
					FROM #AgeInvoiceList WHERE AcctType = 0
				) d	GROUP BY CustId, InvcNum, DistCode, CurrencyID
			) m 
				ON #InvoiceAgingBucket.CustId = m.CustId AND #InvoiceAgingBucket.InvcNum = m.InvcNum 
					AND #InvoiceAgingBucket.DistCode = m.DistCode AND #InvoiceAgingBucket.CurrencyID = m.CurrencyID

	-- set each aging dates based upon the initial aging date for open invoice customer


	SELECT @Day1 = DATEADD(day, -30, @BaseAgingDate)
	SELECT @Day2 = DATEADD(day, -60, @BaseAgingDate)
	SELECT @Day3 = DATEADD(day, -90, @BaseAgingDate)
	SELECT @Day4 = DATEADD(day, -120, @BaseAgingDate)

	-- separate amounts into aging buckets for open invoice customer
	UPDATE #InvoiceAgingBucket 
		SET UnappliedCredit = ISNULL(s.UnappliedCredit, 0), AmtCurrent = ISNULL(s.AmtCurrent, 0)
			, AmtDue1 = ISNULL(s.AmtDue1, 0), AmtDue2 = ISNULL(s.AmtDue2, 0)
			, AmtDue3 = ISNULL(s.AmtDue3, 0), AmtDue4 = ISNULL(s.AmtDue4, 0)
			, AmtFinanceCharge = ISNULL(s.AmtFinanceCharge,0)

			,UnappliedCreditFgn = ISNULL(s.UnappliedCreditFgn, 0), AmtCurrentFgn = ISNULL(s.AmtCurrentFgn, 0)
			, AmtDue1Fgn = ISNULL(s.AmtDue1Fgn, 0), AmtDue2Fgn = ISNULL(s.AmtDue2Fgn, 0)
			, AmtDue3Fgn = ISNULL(s.AmtDue3Fgn, 0), AmtDue4Fgn = ISNULL(s.AmtDue4Fgn, 0)
			, AmtFinanceChargeFgn = ISNULL(s.AmtFinanceChargeFgn,0)
	FROM #InvoiceAgingBucket 
		INNER JOIN 
		(
			SELECT i.CustId, i.InvcNum, i.DistCode, i.CurrencyID
				, SUM(CASE WHEN (i.maxrectype < 0) THEN o.AmountDueBase ELSE 0 END) AS UnappliedCredit
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate >= @Day1 THEN o.AmountDueBase ELSE 0 END) AS AmtCurrent
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day2 AND DateAdd(Day, -1, @Day1) THEN o.AmountDueBase ELSE 0 END) AS AmtDue1
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day3 AND DateAdd(Day, -1, @Day2) THEN o.AmountDueBase ELSE 0 END) AS AmtDue2
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day4 AND DateAdd(Day, -1, @Day3) THEN o.AmountDueBase ELSE 0 END) AS AmtDue3
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate < @Day4 THEN o.AmountDueBase ELSE 0 END) AS AmtDue4 
				, SUM(CASE WHEN i.maxrectype = 4 THEN o.AmountDueBase ELSE 0 END) AS AmtFinanceCharge

				, SUM(CASE WHEN (i.maxrectype < 0) THEN o.AmountDue ELSE 0 END) AS UnappliedCreditFgn
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate >= @Day1 THEN o.AmountDue ELSE 0 END) AS AmtCurrentFgn
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day2 AND DateAdd(Day, -1, @Day1) THEN o.AmountDue ELSE 0 END) AS AmtDue1Fgn
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day3 AND DateAdd(Day, -1, @Day2) THEN o.AmountDue ELSE 0 END) AS AmtDue2Fgn
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate BETWEEN @Day4 AND DateAdd(Day, -1, @Day3) THEN o.AmountDue ELSE 0 END) AS AmtDue3Fgn
				, SUM(CASE WHEN (i.maxrectype > 0) AND i.MinAgingDate < @Day4 THEN o.AmountDue ELSE 0 END) AS AmtDue4Fgn 
				, SUM(CASE WHEN i.maxrectype = 4 THEN o.AmountDue ELSE 0 END) AS AmtFinanceChargeFgn
			FROM #InvoiceAgingBucket i 
				INNER JOIN #AgeInvoiceList o ON i.CustId = o.CustId AND i.InvcNum = o.InvcNum 
					AND i.DistCode = o.DistCode AND i.CurrencyID = o.CurrencyID AND o.AcctType = 0 
			GROUP BY i.CustId, i.InvcNum, i.DistCode, i.CurrencyID
		) s 
			ON #InvoiceAgingBucket.CustId = s.CustId AND #InvoiceAgingBucket.InvcNum = s.InvcNum 
				AND #InvoiceAgingBucket.DistCode = s.DistCode AND #InvoiceAgingBucket.CurrencyID = s.CurrencyID

	--==========================
	--Balance Forward Customers
	--==========================

		-- create aging bucket records for balance forward customers
		-- calclate the base currency amounts using the current exchange rate
		INSERT INTO #InvoiceAgingBucket (CustId, InvcNum, DistCode, MinAgingDate, MaxRecType
			, AmtFinanceCharge, UnappliedCredit, AmtCurrent, AmtDue1, AmtDue2, AmtDue3, AmtDue4, CurrencyID
			, AmtFinanceChargeFgn, UnappliedCreditFgn, AmtCurrentFgn, AmtDue1Fgn, AmtDue2Fgn, AmtDue3Fgn, AmtDue4Fgn,AcctType) 
		SELECT A.CustId, A.InvcNum, DistCode, AgingDate AS MinAgingDate, MaxRecType
			, SUM(AmtFinanceCharge) AS AmtFinanceCharge, SUM(Unapplied) AS UnappliedCredit, SUM(AmtCurrent) + SUM(AmtFinanceCharge) AS AmtCurrent, SUM(AmtDue1) AS AmtDue1
			, SUM(AmtDue2) AS AmtDue2, SUM(AmtDue3) AS AmtDue3, SUM(AmtDue4) AS AmtDue4, CurrencyID 
			, SUM(AmtFinanceChargeFgn) AS AmtFinanceChargeFgn, SUM(UnappliedFgn) AS UnappliedCreditFgn, SUM(AmtCurrentFgn) + SUM(AmtFinanceChargeFgn) AS AmtCurrentFgn, SUM(AmtDue1Fgn) AS AmtDue1Fgn
			, SUM(AmtDue2Fgn) AS AmtDue2Fgn, SUM(AmtDue3Fgn) AS AmtDue3Fgn, SUM(AmtDue4Fgn) AS AmtDue4Fgn , 1
		FROM 
		(
			SELECT c.CustId, 'BalFwd' AS InvcNum, c.DistCode , @BaseAgingDate AS AgingDate, 1 AS MaxRecType
				, 0 AS Unapplied
				, CASE WHEN c.AgingPeriod =0 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtCurrent
				, CASE WHEN c.AgingPeriod =10 OR c.RecType = 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtFinanceCharge
				, CASE WHEN c.AgingPeriod =1 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtDue1
				, CASE WHEN c.AgingPeriod =2 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtDue2
				, CASE WHEN c.AgingPeriod =3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtDue3
				, CASE WHEN c.AgingPeriod >3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDueBase), 0) ELSE 0 END AS AmtDue4
				
				, 0 AS UnappliedFgn
				, CASE WHEN c.AgingPeriod =0 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtCurrentFgn
				, CASE WHEN c.AgingPeriod =10 OR c.RecType = 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtFinanceChargeFgn
				, CASE WHEN c.AgingPeriod =1 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue1Fgn
				, CASE WHEN c.AgingPeriod =2 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue2Fgn
				, CASE WHEN c.AgingPeriod =3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue3Fgn
				, CASE WHEN c.AgingPeriod >3 AND c.RecType <> 4 THEN ISNULL(SUM( AmountDue), 0) ELSE 0 END AS AmtDue4Fgn
				, c.CurrencyID 
			FROM #AgeInvoiceList c 
			--INNER JOIN #CurrencyInfo e ON c.CurrencyId = e.CurrencyId 
			WHERE c.AcctType = 1 
			GROUP BY c.CustId, c.CurrencyId, c.AgingPeriod, c.RecType, c.InvcNum, c.DistCode, AgingDate
		) AS A 
		GROUP BY A.CustId, A.CurrencyId, A.InvcNum, A.DistCode, A.AgingDate, A.MaxRecType

		--Removed for fix 39735
		--UPDATE #InvoiceAgingBucket SET UnappliedCredit = -UnappliedCredit
		UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtCurrent, AmtCurrent = 0 WHERE AmtCurrent < 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue1, AmtDue1 = 0 WHERE AmtDue1 < 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue2, AmtDue2 = 0 WHERE AmtDue2 < 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue3, AmtDue3 = 0 WHERE AmtDue3 < 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET UnappliedCredit = UnappliedCredit + AmtDue4, AmtDue4 = 0 WHERE AmtDue4 < 0 AND AcctType =1

		

		-- distribute the UnappliedCredit
		UPDATE #InvoiceAgingBucket SET AmtDue4 = AmtDue4 + UnappliedCredit, UnappliedCredit = AmtDue4 + UnappliedCredit WHERE UnappliedCredit < 0 AND AmtDue4 > 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET AmtDue3 = AmtDue3 + UnappliedCredit, UnappliedCredit = AmtDue3 + UnappliedCredit WHERE UnappliedCredit < 0 AND AmtDue3 > 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET AmtDue2 = AmtDue2 + UnappliedCredit, UnappliedCredit = AmtDue2 + UnappliedCredit WHERE UnappliedCredit < 0 AND AmtDue2 > 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET AmtDue1 = AmtDue1 + UnappliedCredit, UnappliedCredit = AmtDue1 + UnappliedCredit WHERE UnappliedCredit < 0 AND AmtDue1 > 0 AND AcctType =1
		UPDATE #InvoiceAgingBucket SET AmtCurrent = AmtCurrent + UnappliedCredit, UnappliedCredit = AmtCurrent + UnappliedCredit WHERE UnappliedCredit < 0 AND AmtCurrent >0 AND AcctType =1

		

		-- adjust each bucket for over applied UnappliedCredit
		UPDATE #InvoiceAgingBucket 
			SET AmtCurrent = CASE WHEN AmtCurrent > 0 THEN AmtCurrent ELSE 0 END
				, AmtDue1 = CASE WHEN AmtDue1 > 0 THEN AmtDue1 ELSE 0 END
				, AmtDue2 = CASE WHEN AmtDue2 > 0 THEN AmtDue2 ELSE 0 END
				, AmtDue3 = CASE WHEN AmtDue3 > 0 THEN AmtDue3 ELSE 0 END
				, AmtDue4 = CASE WHEN AmtDue4 > 0 THEN AmtDue4 ELSE 0 END	
				, UnappliedCredit = CASE WHEN UnappliedCredit < 0 THEN UnappliedCredit ELSE 0 END --Removed For Bug 62997

				Where AcctType = 1 --limit to balfwd customer type
	
	
		--Fgn values
		--Removed for fix 39735
		--UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = -UnappliedCreditFgn
		UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = UnappliedCreditFgn + AmtCurrentFgn, AmtCurrentFgn = 0 WHERE AmtCurrentFgn < 0
		UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = UnappliedCreditFgn + AmtDue1Fgn, AmtDue1Fgn = 0 WHERE AmtDue1Fgn < 0
		UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = UnappliedCreditFgn + AmtDue2Fgn, AmtDue2Fgn = 0 WHERE AmtDue2Fgn < 0
		UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = UnappliedCreditFgn + AmtDue3Fgn, AmtDue3Fgn = 0 WHERE AmtDue3Fgn < 0
		UPDATE #InvoiceAgingBucket SET UnappliedCreditFgn = UnappliedCreditFgn + AmtDue4Fgn, AmtDue4Fgn = 0 WHERE AmtDue4Fgn < 0

		-- distribute the UnappliedCreditFgn
		UPDATE #InvoiceAgingBucket SET AmtDue4Fgn = AmtDue4Fgn + UnappliedCreditFgn, UnappliedCreditFgn = AmtDue4Fgn + UnappliedCreditFgn WHERE UnappliedCreditFgn < 0 AND AmtDue4Fgn > 0
		UPDATE #InvoiceAgingBucket SET AmtDue3Fgn = AmtDue3Fgn + UnappliedCreditFgn, UnappliedCreditFgn = AmtDue3Fgn + UnappliedCreditFgn WHERE UnappliedCreditFgn < 0 AND AmtDue3Fgn > 0
		UPDATE #InvoiceAgingBucket SET AmtDue2Fgn = AmtDue2Fgn + UnappliedCreditFgn, UnappliedCreditFgn = AmtDue2Fgn + UnappliedCreditFgn WHERE UnappliedCreditFgn < 0 AND AmtDue2Fgn > 0
		UPDATE #InvoiceAgingBucket SET AmtDue1Fgn = AmtDue1Fgn + UnappliedCreditFgn, UnappliedCreditFgn = AmtDue1Fgn + UnappliedCreditFgn WHERE UnappliedCreditFgn < 0 AND AmtDue1Fgn > 0
		UPDATE #InvoiceAgingBucket SET AmtCurrentFgn = AmtCurrentFgn + UnappliedCreditFgn, UnappliedCreditFgn = AmtCurrentFgn + UnappliedCreditFgn WHERE UnappliedCreditFgn < 0 AND AmtCurrentFgn >0


		-- adjust each bucket for over applied UnappliedCreditFgn
		UPDATE #InvoiceAgingBucket 
			SET AmtCurrentFgn = CASE WHEN AmtCurrentFgn > 0 THEN AmtCurrentFgn ELSE 0 END
				, AmtDue1Fgn = CASE WHEN AmtDue1Fgn > 0 THEN AmtDue1Fgn ELSE 0 END
				, AmtDue2Fgn = CASE WHEN AmtDue2Fgn > 0 THEN AmtDue2Fgn ELSE 0 END
				, AmtDue3Fgn = CASE WHEN AmtDue3Fgn > 0 THEN AmtDue3Fgn ELSE 0 END
				, AmtDue4Fgn = CASE WHEN AmtDue4Fgn > 0 THEN AmtDue4Fgn ELSE 0 END			
				, UnappliedCreditFgn = CASE WHEN UnappliedCreditFgn < 0 THEN ABS(UnappliedCreditFgn) ELSE 0 END

	


	--===============
	--return results
	--===============
	SELECT a.CustId, c.CustName,a.InvcNum
	, CASE a.MaxRecType
			WHEN 1 THEN 'Invoice' 
			WHEN 4 THEN 'Fin Charge' 
			WHEN -1 THEN 'CREDIT' 
			WHEN -2 THEN 'PAYMENT' 
			WHEN -3 THEN 'Gain/Loss' END AS [InvcType]
	, a.CurrencyId
	, 0 as UnpaidFinch, 0 as UnapplCredit
	, 0  as CurAmtDue
	, 0 as BalAge1, 0 as BalAge2, 0 as BalAge3, 0 as BalAge4	
	, 0 as UnpaidFinchFgn, 0 as UnapplCreditFgn
	, 0 CurAmtDueFgn
	, 0 as BalAge1Fgn, 0 as BalAge2Fgn, 0 as BalAge3Fgn, 0 as BalAge4Fgn
	, o.AmountDue AS AmtDue
	FROM #InvoiceAgingBucket a   
	INNER JOIN #AgeInvoiceList o ON a.CustId = o.CustId AND a.InvcNum = o.InvcNum   
	AND a.DistCode = o.DistCode AND a.CurrencyID = o.CurrencyID   
	INNER JOIN dbo.tblArCust c ON o.CustId = c.CustId   
	LEFT JOIN dbo.tblArSalesRep s ON c.SalesRepId1 = s.SalesRepID  
 
	UNION ALL 

	SELECT a.CustId, c.CustName,a.InvcNum
	, CASE a.MaxRecType
			WHEN 1 THEN 'Invoice' 
			WHEN 4 THEN 'Fin Charge' 
			WHEN -1 THEN 'CREDIT' 
			WHEN -2 THEN 'PAYMENT' 
			WHEN -3 THEN 'Gain/Loss' END AS [InvcType]
	, a.CurrencyId
	, a.AmtFinanceCharge as UnpaidFinch, UnappliedCredit as UnapplCredit
	, a.AmtCurrent  as CurAmtDue
	, a.AmtDue1 as BalAge1, a.AmtDue2 as BalAge2, a.AmtDue3 as BalAge3, a.AmtDue4 as BalAge4	
	, a.AmtFinanceChargeFgn as UnpaidFinchFgn, UnappliedCreditFgn as UnapplCreditFgn
	, a.AmtCurrentFgn CurAmtDueFgn
	, a.AmtDue1Fgn as BalAge1Fgn, a.AmtDue1Fgn as BalAge2Fgn, a.AmtDue3Fgn as BalAge3Fgn, a.AmtDue4Fgn as BalAge4Fgn		
	, CASE WHEN c.AcctType = 1 THEN a.UnappliedCredit + a.AmtCurrent + a.AmtDue1 + a.AmtDue2 + a.AmtDue3 + a.AmtDue4   
		   ELSE 0 END AS AmtDue
	FROM #InvoiceAgingBucket a 
		INNER JOIN dbo.tblArCust c ON a.CustId = c.CustId 
		LEFT JOIN dbo.tblArSalesRep s ON c.SalesRepId1 = s.SalesRepID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArCustAgedBalances_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArCustAgedBalances_proc'
GO
