USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTransPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTransPost_BuildLog_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @PrecCurr tinyint
		, @WksDate datetime, @CompId nvarchar(3), @PostDtlYn bit, @TransType nvarchar(10)  

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'   
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL OR @TransType IS NULL  
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--create log entries for the Inventory Adjustments
	INSERT INTO #TransactionPostLog(TransId,ItemID, LocID, TransType, TransDate
		, FiscalYear, FiscalPeriod, Descr, AcctID, [Grouping]
		, DebitAmt, CreditAmt)
	SELECT t.TransId,t.ItemId, t.LocId, t.TransType, t.TransDate
		, t.GlYear, t.GlPeriod, t.ItemId, g.GlAcctInvAdj, 10
		, CASE WHEN t.TransType = 31 THEN Round(t.UnitCost * t.Qty, @PrecCurr) ELSE 0 END --Increase
		, CASE WHEN t.TransType <> 31 THEN Round(t.UnitCost * t.Qty, @PrecCurr) ELSE 0 END --Decrease
	FROM dbo.tblWmTrans t
	INNER JOIN #PostTransList p ON t.TransId = p.TransId
	LEFT JOIN dbo.tblInItemLoc l 
		ON t.ItemId = l.ItemId AND t.LocId = l.LocId
	LEFT JOIN dbo.tblInGlAcct g 
		ON l.GlAcctCode = g.GlAcctCode
	WHERE ROUND(t.UnitCost * t.Qty, @PrecCurr) <> 0.0


	--create log entries for the Inventory Offsets
	INSERT INTO #TransactionPostLog(TransId,ItemID, LocID, TransType, TransDate
		, FiscalYear, FiscalPeriod, Descr, AcctID, [Grouping]
		, DebitAmt, CreditAmt)
	SELECT t.TransId,t.ItemId, t.LocId, t.TransType, t.TransDate
		, t.GlYear, t.GlPeriod, t.ItemId, t.GlAcctOffset, 20
		, CASE WHEN t.TransType = 31 THEN 0 ELSE Round(t.UnitCost * t.Qty, @PrecCurr) END --Increase
		, CASE WHEN t.TransType <> 31 THEN 0 ELSE Round(t.UnitCost * t.Qty, @PrecCurr) END --Decrease
	FROM dbo.tblWmTrans t
	INNER JOIN #PostTransList p ON t.TransId = p.TransId
	WHERE ROUND(t.UnitCost * t.Qty, @PrecCurr) <> 0.0
	
	--Generate the GL log entries    
	INSERT #DetailPostLog( PostRun, TransType, TransKey, SummaryKey, CompId       
		  , GlAccount, FiscalYear, FiscalPeriod      
		  , [Description], Reference, SourceCode      
		  , CreditAmountBase, DebitAmountBase      
		  , CreditAmount, DebitAmount      
		  , CurrencyId      
		  , TransDate, PostDate, LinkId, LinkIdSubLine ,[Grouping])        
	  SELECT  @PostRun, @TransType, TransId, @PostRun, @CompId      
		 , AcctID, FiscalYear,FiscalPeriod      
		 , CASE WHEN @PostDtlYn = 1 THEN Descr ELSE 'WM Trans' END, 'WM', 'WM'      
		 , CreditAmt AS CreditAmountBase, DebitAmt AS DebitAmountBase      
		 , CreditAmt, DebitAmt      
		 , @CurrBase      
		 , CASE WHEN @PostDtlYn = 1 THEN TransDate ELSE @WksDate END      
		 , @WksDate      
		 , NULL      
		 , CASE WHEN @PostDtlYn = 1 THEN TransType ELSE NULL END      
		 ,[Grouping]        
	  FROM  #TransactionPostLog 
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_BuildLog_proc'
GO
