USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrBankAcctRegReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrBankAcctRegReport_proc]

@TransDateFrom DATETIME,
@TransDateThru DATETIME,
@BaseCurrency [nvarchar](6),
@FiscalYear SMALLINT,
@BrGlYn BIT = 1 ,
@IncludeUnposted BIT = 1,-- Obsolete
@IncludeClearedTransaction BIT = 0

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpBrBankRegRpt
	(
		BankID [nvarchar](10) NOT NULL,
		TransType SMALLINT,
		SourceID NVARCHAR (10),
		Descr [nvarchar](255) NULL,
		TransDate DATETIME,
		Reference NVARCHAR (15),
		Amount [decimal](28,10) NOT NULL,
		DrAmountFgn [decimal](28,10) NOT NULL,
		CrAmountFgn [decimal](28,10) NOT NULL,
		AmountFgn [decimal](28,10) NOT NULL,
		CurrencyId NVARCHAR (6),
		ClearedYn BIT,
		VoidStop TINYINT,
		SourceApp NVARCHAR (2),
		BankName NVARCHAR (40),
		GlAcct [nvarchar](255) NULL,
		GlAcctBal [decimal](28,10) NOT NULL,
		LastStmtBal [decimal](28,10) NOT NULL,
		PostYn BIT,
		AcctType TINYINT
	)

	CREATE TABLE #AcctBal
	(
		GLAcct [nvarchar](255) NOT NULL, 
		GLAcctBal [decimal](28,10) NOT NULL
	)

	-- PET 0257622 To consider time part as well
	SET @TransDateFrom =  ISNULL(@TransDateFrom, DATEADD(DAY, DATEDIFF(DAY, 0, @TransDateFrom), 0)) -- with start of the day time
	SET @TransDateThru = ISNULL(@TransDateThru, DATEADD(SECOND, -1, DATEADD(DAY, DATEDIFF(DAY, 0, @TransDateThru)+1, 0))) -- with end of the day time

		-- CREATE TABLE #tmpBankAcctList( BankId [nvarchar](10) NOT NULL PRIMARY KEY CLUSTERED ([BankId]))
	 --INSERT INTO #tmpBankAcctList (BankId) SELECT BankId FROM dbo.tblSmBankAcct  

	IF @BrGlYn = 1
	BEGIN
			INSERT #AcctBal (GlAcct, GlAcctBal)
			SELECT bal.AcctId, SUM(bal.Balance) 
			FROM
				(SELECT h.AcctId, ISNULL(SUM(h.Actual), 0) AS Balance FROM dbo.tblGlAcctDtl h 
					WHERE h.[Year] = @FiscalYear GROUP BY h.AcctId	
									
				UNION ALL
				
				SELECT j.AcctId, SUM(CASE WHEN dh.BalType < 0 THEN -(j.DebitAmtFgn - j.CreditAmtFgn) ELSE (j.DebitAmtFgn - j.CreditAmtFgn) END) AS Balance
					FROM dbo.tblGlJrnl j INNER JOIN tblGlAcctHdr dh ON j.AcctId = dh.AcctId
					WHERE (j.PostedYn = 0) AND (j.[Year] = @FiscalYear)
					GROUP BY j.AcctId
				) AS bal			 
			 INNER JOIN ( SELECT b.GlCashAcct FROM #tmpBankAcctList t INNER JOIN dbo.tblSmBankAcct b ON t.BankId = b.BankId GROUP BY GlCashAcct) b ON bal.AcctId = b.GlCashAcct 			
			GROUP BY bal.AcctId		
	END		
	
	INSERT #tmpBrBankRegRpt (BankID, TransType, SourceID, Descr, TransDate, Reference, Amount, DrAmountFgn, CrAmountFgn, AmountFgn
			, CurrencyId, ClearedYn, VoidStop, SourceApp, BankName, GlAcct, GlAcctBal, LastStmtBal, PostYn, AcctType) 
	SELECT j.BankID, j.TransType, j.SourceID, j.Descr, j.TransDate, j.Reference, j.Amount 
		, CASE WHEN AmountFgn * TransType >= 0 THEN ABS(CASE WHEN j.CurrencyID = @BaseCurrency THEN Amount ELSE AmountFgn END) ELSE 0 END 
		, CASE WHEN AmountFgn * TransType < 0 THEN ABS(CASE WHEN j.CurrencyID = @BaseCurrency THEN Amount ELSE AmountFgn END) ELSE 0 END 
		, j.AmountFgn, j.CurrencyId, 0 AS ClearedYn, CASE WHEN (VoidYn > 0 AND (VoidReinstateStat IS NULL)) THEN 1 ELSE 0 END
		, 'BR', b.[Name], b.GlCashAcct, b.GlAcctBal, b.LastStmtBal, 0 ,b.AcctType
	FROM dbo.tblSmBankAcct b 
	INNER JOIN dbo.tblBrJrnlHeader j ON b.BankId = j.BankID 
	WHERE ((j.VoidYn <>0) AND (j.VoidReinstateStat IS NULL)) OR (j.VoidYn = 0 ) AND j.TransDate BETWEEN @TransDateFrom AND @TransDateThru

	--if @TransDateThru is >= voiddate or voiddate isnull, use amt
	INSERT #tmpBrBankRegRpt (BankID, TransType, SourceID, Descr, TransDate, Reference, Amount, DrAmountFgn, CrAmountFgn, AmountFgn, CurrencyId, 
			ClearedYn, VoidStop, SourceApp, BankName, GlAcct, GlAcctBal, LastStmtBal, PostYn,AcctType)
	SELECT m.BankID, m.TransType, m.SourceID, m.Descr, m.TransDate, m.Reference, m.Amount 
		, CASE WHEN AmountFgn >= 0 THEN ABS(CASE WHEN m.CurrencyID = @BaseCurrency THEN Amount ELSE AmountFgn END) ELSE 0 END 
		, CASE WHEN AmountFgn < 0 THEN ABS(CASE WHEN m.CurrencyID = @BaseCurrency THEN Amount ELSE AmountFgn END) ELSE 0 END 
		, m.AmountFgn, m.CurrencyId, m.ClearedYn, m.VoidStop, m.SourceApp, b.[Name] , b.GlCashAcct, b.GlAcctBal, b.LastStmtBal, 1 ,b.AcctType
	FROM dbo.tblSmBankAcct b (NOLOCK) 
	INNER JOIN dbo.tblBrMaster m (NOLOCK) ON b.BankId = m.BankID AND m.TransDate BETWEEN @TransDateFrom AND @TransDateThru
	WHERE  @TransDateThru >= m.VoidDate OR ISNULL(m.VoidDate, '') = ''

	--if @TransDateThru is < voiddate, use voidamt
	INSERT #tmpBrBankRegRpt (BankID, TransType, SourceID, Descr, TransDate, Reference, Amount, DrAmountFgn, CrAmountFgn, AmountFgn, CurrencyId, 
			ClearedYn, VoidStop, SourceApp, BankName, GlAcct, GlAcctBal, LastStmtBal, PostYn, AcctType)
	SELECT m.BankID, m.TransType, m.SourceID, m.Descr, m.TransDate, m.Reference, m.Amount
		, CASE WHEN m.VoidAmtFgn >= 0 THEN ABS(CASE WHEN m.CurrencyID = @BaseCurrency THEN m.VoidAmt ELSE m.VoidAmtFgn END) ELSE 0 END
		, CASE WHEN m.VoidAmtFgn < 0 THEN ABS(CASE WHEN m.CurrencyID = @BaseCurrency THEN 	m.VoidAmt ELSE m.VoidAmtFgn END) ELSE 0 END
		, m.AmountFgn, m.CurrencyId, m.ClearedYn, 0, m.SourceApp--set voidstop value to 0 when @transDateThru < VoidDate for reporting purposes.
		, b.[Name] , b.GlCashAcct, b.GlAcctBal, b.LastStmtBal, 1 ,b.AcctType
	FROM dbo.tblSmBankAcct b (NOLOCK) 
	INNER JOIN dbo.tblBrMaster m (NOLOCK) ON b.BankId = m.BankID AND m.TransDate BETWEEN @TransDateFrom AND @TransDateThru
	WHERE @TransDateThru < m.VoidDate

	INSERT #tmpBrBankRegRpt (BankID, TransType, SourceID, Descr, TransDate, Reference, Amount, DrAmountFgn, CrAmountFgn, AmountFgn, CurrencyId, 
			ClearedYn, VoidStop, SourceApp, BankName, GlAcct, GlAcctBal, LastStmtBal, PostYn, AcctType) 
	SELECT b.BankId, h.TransType, h.SourceID, j.Descr, h.TransDate, j.Reference, h.Amount, 
		CASE WHEN b.CurrencyID = @BaseCurrency THEN j.DebitAmt ELSE ROUND(j.DebitAmtFgn*e.Rate,c.CurrDecPlaces) END, 
		CASE WHEN b.CurrencyID = @BaseCurrency THEN j.CreditAmt ELSE ROUND(j.CreditAmtFgn*e.Rate,c.CurrDecPlaces) END, 
		h.AmountFgn, h.CurrencyId, 0 , 0 , 'BR', b.[Name], b.GlCashAcct, b.GlAcctBal, b.LastStmtBal, 0 ,b.AcctType
	FROM dbo.tblSmBankAcct b (NOLOCK) 
	INNER JOIN dbo.tblBrJrnlDetail j (NOLOCK) ON j.BankIDXferTo = b.BankId
	INNER JOIN dbo.tblBrJrnlHeader h (NOLOCK) ON h.TransID = j.TransID
	INNER JOIN [dbo].[tblSmExchangeRateTrans] e ON e.[TransKey] = h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
	WHERE h.TransDate BETWEEN @TransDateFrom AND @TransDateThru


	SELECT ROW_NUMBER() OVER(ORDER BY TransDate, r.SourceID ASC) AS rowNo
		, r.BankID, TransType, SourceID, Descr, TransDate, Reference
		, Case When AcctType = 1 Then -Amount Else Amount End As Amount
		, Case When AcctType = 1 Then CrAmountFgn Else DrAmountFgn End As DrAmountFgn
		, Case When AcctType = 1 Then DrAmountFgn Else CrAmountFgn End As CrAmountFgn
		, Case When AcctType = 1 Then -AmountFgn Else AmountFgn End As AmountFgn
		, CurrencyId, ClearedYn, VoidStop, SourceApp, BankName, r.GlAcct, r.GlAcctBal AS GlAcctBal
		, LastStmtBal, PostYn, AcctType, ab.GLAcctBal AS ActGlAcctBal
		, CASE WHEN ClearedYn = 0 
			then Case When AcctType = 1 
				Then -(DrAmountFgn - CrAmountFgn) 
				Else DrAmountFgn - CrAmountFgn 
				End
			else 0 
			end AS BalanceAdjustment
		INTO #tmpResult
		FROM #tmpBrBankRegRpt r 
		INNER JOIN #tmpBankAcctList t ON r.BankID = t.BankID
		LEFT JOIN #AcctBal AS ab  ON ab.GLAcct =r.GlAcct
		WHERE ClearedYn = 0 OR @IncludeClearedTransaction = 1
		ORDER BY TransDate, SourceID

	SELECT ds.BankID, ds.TransType, ds.SourceID, ds.Descr, ds.TransDate, ds.Reference, ds.Amount, ds.DrAmountFgn, ds.CrAmountFgn, ds.AmountFgn, ds.CurrencyId, ds.ClearedYn, ds.VoidStop, ds.SourceApp, 
	ds.BankName, ds.GlAcct, case when @BrGlYn = 1 then ds.ActGlAcctBal else ds.GlAcctBal end as GlAcctBal, ds.LastStmtBal, ds.PostYn, ds.AcctType, ds.GLAcctBal AS ActGlAcctBal, ds.BalanceAdjustment, CASE WHEN ClearedYn = 0  and  ds.LastStmtBal  = 0 then ds.BalanceAdjustment + ISNULL(LastStatment,0) else   ds.BalanceAdjustment+ ISNULL(ds.LastStmtBal,0)  end as  LastStatment
	FROM 
	#tmpResult ds
	LEFT JOIN
		(SELECT DISTINCT ds.rowNo, ds.BankId, SUM(t.BalanceAdjustment) LastStatment
		--, sum(ds.LastStmtBal) LastStmtBal
			FROM #tmpResult ds 
			left join  #tmpResult t ON ds.rowNo > t.rowNo AND ds.BankID = t.BankID
			group by ds.BankID, ds.rowNo
		)ls ON ds.rowNo = ls.rowNo AND ds.BankID = ls.BankID
	ORDER BY ds.TransDate, ds.SourceID


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrBankAcctRegReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrBankAcctRegReport_proc'
GO
