USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrTransPost_Bank_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrTransPost_Bank_proc]
AS
BEGIN TRY

	DECLARE @CurrBase [nvarchar](6)

	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #Temp
	(
		BankId [nvarchar](10) NOT NULL
		, Amount [decimal](28,10) NULL		
	)
	
	-- activity posted from Post2a 
	INSERT INTO #Temp (BankId, Amount)
	SELECT h.BankId
		 , CASE WHEN b.CurrencyID = @CurrBase THEN h.Amount 
					   WHEN h.CurrencyId = b.CurrencyId THEN h.AmountFgn  
					   ELSE ROUND(h.AmountFgn*e.Rate,e.CurrDecPlaces) END
				* SIGN(h.TransType) AS Amount
	FROM #PostTransList t 
	INNER JOIN dbo.tblSmBankAcct b ON t.TransId = b.BankId
	INNER JOIN dbo.tblBrJrnlHeader h ON b.BankId = h.BankId 
	LEFT JOIN 
	(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source],e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e 
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
		WHERE e.[TransType] = 'BRJRNLHDR' 
	) e ON e.[TransKey] = h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	WHERE (h.VoidYn = 0 OR (h.VoidYn = 1 AND h.VoidReinstateStat IS NULL)) --MOD:Exclude externally voided payments
	
	
	-- activity posted for "Transfer To" side of transfers 
	INSERT INTO #Temp (BankId, Amount)
	SELECT b.BankId
		 , CASE WHEN b.CurrencyID = @CurrBase 
				THEN DebitAmt - CreditAmt					   
				WHEN b.CurrencyID = h.CurrencyId
				THEN DebitAmtFgn - CreditAmtFgn					  
				ELSE ROUND(DebitAmtFgn*e.Rate,e.CurrDecPlaces) - ROUND(CreditAmtFgn*e.Rate,e.CurrDecPlaces) 					   
			END		
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblBrJrnlDetail d ON h.TransId = d.TransId 
	INNER JOIN dbo.tblSmBankAcct b ON d.BankIDXferTo = b.BankId 
	LEFT JOIN 
	(	SELECT TransKey, Rate, CurrDecPlaces,e.[Source],e.Destination
		FROM [dbo].[tblSmExchangeRateTrans] e 
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
		WHERE e.[TransType] = 'BRJRNLHDR' 
	) e ON e.[TransKey] =  h.TransID AND e.[Source] = h.CurrencyId  AND  e.[Destination] = b.CurrencyId
	WHERE d.BankIDXferTo IS NOT NULL

	IF  EXISTS (SELECT * FROM #Temp t WHERE  t.Amount IS NULL  )
	   	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	
	/* update Bank Account balances */
	UPDATE dbo.tblSmBankAcct 
		SET GlAcctBal = GlAcctBal + Case When b.AcctType = 1 Then -A.Amount Else A.Amount End
	FROM dbo.tblSmBankAcct b
	INNER JOIN 
	(	
		SELECT t.BankId, SUM(t.Amount) AS Amount 
		FROM  #Temp t 
		GROUP BY t.BankId
	) AS A
	ON b.BankId = A.BankId
	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_Bank_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_Bank_proc'
GO
