USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTransPost_PurgeCompletedWM_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTransPost_PurgeCompletedWM_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	--Remove all Pick Gen entries that no longer tie to a source transaction
	DELETE dbo.tblWmPick_Gen
	WHERE [SourceId] = 32 AND [EntryNum] NOT IN (SELECT [Id] FROM dbo.tblPcTrans)

	 
	--Remove entries that no longer tie to a source transaction
	DELETE dbo.tblWmPick
	WHERE [SourceId] = 32 AND [EntryNum] NOT IN (SELECT [Id] FROM dbo.tblPcTrans)

	--Remove receipt entries that no longer tie to a source transaction except Completed
	DELETE dbo.tblWmRcpt
	WHERE [Status] IN (0,1,3) --New,Confirmed,PutAway
		AND [Source] = 32 --PC Material Req Return
		AND	[EntryNum] NOT IN (SELECT [Id] FROM dbo.tblPcTrans)
			
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_PurgeCompletedWM_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTransPost_PurgeCompletedWM_proc'
GO
