USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemLocABCCalc_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemLocABCCalc_proc]
@CalculationType tinyint = 0, --0;OnHandValue;1;UsageValue;2;UsageFrequency
@CostingMethod tinyint = 0, --0;FIFO;1;LIFO;2Average;3;Standard
@ZeroCostingMethod tinyint = 1, --1;Average;2;Last;3;Base;4;Standard
@CurrencyPrecision tinyint = 2,
@FiscalPeriodFrom tinyint,
@FiscalYearFrom int,
@FiscalPeriodThru tinyint,
@FiscalYearThru int
AS
BEGIN TRY
	
	--Remove all record from 
	DELETE FROM dbo.tblInItemLocABCCalc

	--Insert new tblInItemLocABCCalc records
	INSERT INTO dbo.tblInItemLocABCCalc(ItemId, LocId, UomDflt, OriginalABCClass)
	SELECT
		t.ItemId, t.LocId, t.UomDflt, t.OriginalABCClass
	FROM
	(	
		SELECT l.ItemId, l.LocId, l.OriginalABCClass, i.UomDflt FROM #tmpItemLocation l
		INNER JOIN dbo.tblInItem i ON i.ItemId = l.ItemId
	) t
	
	--Update total QtyOnHand, and Total Cost
	UPDATE l
	SET l.QtyOnHand = q.QtyOnHand,
	l.TotalOnHandValue = q.CostOnHand,
	l.TotalValue = CASE WHEN @CalculationType = 0 THEN q.CostOnHand ELSE 0.0 END
	FROM dbo.tblInItemLocABCCalc l
	INNER JOIN 
	(SELECT s.ItemId, s.LocId, SUM(s.QtyOnHand) [QtyOnHand], 
	SUM(ROUND(
		CASE @CostingMethod 
		WHEN 2 THEN s.QtyOnHand * l.CostAvg
		WHEN 3 THEN s.QtyOnHand * l.CostStd 
		ELSE s.Cost END, @CurrencyPrecision)) [CostOnHand]
	FROM dbo.trav_InItemOnHand_view s
	INNER JOIN dbo.tblInItemLoc l ON s.ItemId = l.ItemId AND s.LocId = l.LocId 
	GROUP BY s.ItemId, s.LocId
	UNION ALL
	SELECT s.ItemId, s.LocId, SUM(s.QtyOnHand)[QtyOnHand], 
	SUM(ROUND(CASE WHEN @CostingMethod = 1 AND i.CostMethodOverride = 2 THEN s.QtyOnHand * l.CostAvg 
		WHEN @CostingMethod = 2 AND i.CostMethodOverride = 2 THEN s.QtyOnHand * l.CostStd  ELSE s.Cost END, @CurrencyPrecision))
	FROM dbo.trav_InItemOnHandSer_view s
	INNER JOIN dbo.tblInItemLoc l ON s.ItemId = l.ItemId AND s.LocId = l.LocId 
	INNER JOIN dbo.tblInItem i ON s.ItemId = i.ItemId
	GROUP BY s.ItemId, s.LocId) q ON q.ItemId = l.ItemId AND q.LocId = l.LocId

	IF @CalculationType = 1
	BEGIN
		--Update Usage Value information
		UPDATE l
		SET l.TotalQty = [SumQty],
		l.UsageQty = [SumUsageQty],
		l.MoveQty = [SumMoveQty],
		l.TotalValue = ROUND(
			CASE @CostingMethod 
				WHEN 2 THEN [SumQty] * il.CostAvg
				WHEN 3 THEN [SumQty] * il.CostStd
				ELSE CASE @ZeroCostingMethod
						WHEN 1 THEN [SumQty] * il.CostAvg
						WHEN 2 THEN [SumQty] * il.CostLast
						WHEN 3 THEN [SumQty] * il.CostBase
						ELSE [SumQty] * il.CostStd END
				END, @CurrencyPrecision)
		FROM dbo.tblInItemLocABCCalc l
		INNER JOIN (
			SELECT ItemId, LocId, SUM(Qty) [SumQty], SUM(Cost) [SumCost]
				, SUM(CASE WHEN [LocMoveYn] = 0 THEN Qty ELSE 0 END) [SumUsageQty]
				, SUM(CASE WHEN [LocMoveYn] = 1 THEN Qty ELSE 0 END) [SumMoveQty] 
			FROM #tmpInHistDetail
			WHERE (FiscalYear * 1000 + FiscalPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru)
			GROUP BY ItemId, LocId
		) h ON h.ItemId = l.ItemId AND h.LocId = l.LocId
		INNER JOIN dbo.tblInItemLoc il ON h.ItemId = il.ItemId AND h.LocId = il.LocId

	END
	IF @CalculationType = 2
	BEGIN
		--Update Usage Value information
		UPDATE l
		SET l.TotalQty = h.[NumTrans],
		l.UsageQty = h.[NumTransUsage],
		l.MoveQty = h.[NumTransMove],
		l.TotalValue = h.[NumTrans]
		FROM dbo.tblInItemLocABCCalc l
		INNER JOIN (
			SELECT ItemId, LocId, COUNT(*) [NumTrans]
				, SUM(CASE WHEN [LocMoveYn] = 0 THEN 1 ELSE 0 END) [NumTransUsage]
				, SUM(CASE WHEN [LocMoveYn] = 1 THEN 1 ELSE 0 END) [NumTransMove]
			FROM #tmpInHistDetail
			WHERE (FiscalYear * 1000 + FiscalPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom AND @FiscalYearThru * 1000 + @FiscalPeriodThru)
			GROUP BY ItemId, LocId
		) h ON h.ItemId = l.ItemId AND h.LocId = l.LocId
	END

	--Update Percentage 
	UPDATE l
	SET l.TotalValuePct = CASE WHEN t.TotalValueLoc > 0 THEN (l.TotalValue * 100 / t.TotalValueLoc) ELSE 0 END
	FROM dbo.tblInItemLocABCCalc l
	INNER JOIN (SELECT c.LocId, ISNULL(SUM(c.TotalValue), 0) [TotalValueLoc] FROM dbo.tblInItemLocABCCalc c GROUP BY c.LocId) t ON l.LocId = t.LocId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLocABCCalc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLocABCCalc_proc'
GO
