USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoSalesPerformanceReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoSalesPerformanceReport_proc] 
@QuantityVariance pDecimal = 0,
@DateVariance int = 0,
@IncludeCreditMemos bit = 0
AS
SET NOCOUNT ON
BEGIN TRY

SELECT * INTO #tempHeader FROM(SELECT d.QtyOrdSell * sign(h.TransType) QtyOrdSell, d.QtyShipSell * sign(h.TransType) QtyShipSell, h.CustId, c.CustName, h.TransId, d.PartId AS ItemId,
	d.[Desc] AS ItemDescr, d.WhseId AS LocId, l.Descr AS LocDescr, ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate, 
	ISNULL(d.ActShipDate, h.ShipDate) AS ActShipDate, CASE WHEN d.GrpId IS NULL THEN d.LineSeq ELSE k.LineSeq END EntryNum, 
	CASE WHEN d.GrpId IS NULL THEN 0 ELSE d.LineSeq END GrpId,
	CASE WHEN d.QtyOrdSell <> 0 THEN (((d.QtyShipSell - d.QtyOrdSell) / d.QtyOrdSell) * 100) ELSE 0 END AS QtyVariance, 
	DATEDIFF (dd, (ISNULL(d.ReqShipDate, h.ReqShipDate)), (ISNULL(d.ActShipDate, h.ShipDate))) AS DateVariance ,
	((SUM(d.QtyOrdSell* sign(h.TransType)) OVER (PARTITION BY h.CustId) - SUM(d.QtyShipSell* sign(h.TransType)) OVER (PARTITION BY h.CustId)) / (CASE WHEN SUM(d.QtyOrdSell* sign(h.TransType)) OVER (PARTITION BY h.CustId)=0 THEN 1 ELSE SUM(d.QtyOrdSell* sign(h.TransType)) OVER (PARTITION BY h.CustId)END)*100) AS VarianceCust, 
	((SUM(d.QtyOrdSell) OVER (PARTITION BY h.CustId, h.TransId) - SUM(d.QtyShipSell) OVER (PARTITION BY h.CustId,  h.TransId)) / (CASE WHEN SUM(d.QtyOrdSell) OVER (PARTITION BY h.CustId, h.TransId)=0 THEN 1 ELSE SUM(d.QtyOrdSell) OVER (PARTITION BY h.CustId, h.TransId)END)*100) AS VarianceTrans
FROM dbo.tblArHistHeader h INNER JOIN dbo.tblArHistDetail d ON h.PostRun = d.PostRun AND h.TransId = d.TransId
	INNER JOIN #tmpHistoryDetailList t ON d.PostRun = t.PostRun AND d.TransId = t.TransId AND d.EntryNum = t.EntryNum
	LEFT JOIN dbo.tblArCust c ON c.CustId = h.CustId 
	LEFT JOIN dbo.tblInLoc l ON l.LocId = d.WhseId 
	LEFT JOIN dbo.tblArHistDetail k ON d.PostRun = k.PostRun AND d.TransId = k.TransId AND d.GrpId = k.EntryNum
WHERE h.VoidYn = 0 AND d.EntryNum > 0 AND ABS(CASE WHEN d.QtyOrdSell <> 0 THEN (((d.QtyShipSell - d.QtyOrdSell) / d.QtyOrdSell) * 100) ELSE 0 END) >= @QuantityVariance
	AND ABS(DATEDIFF(dd, (ISNULL(d.ReqShipDate, h.ReqShipDate)), (ISNULL(d.ActShipDate, h.ShipDate)))) >= @DateVariance 
	AND (h.TransType > 0 or @IncludeCreditMemos = 1)
	) ds 

	SELECT * FROM #tempHeader

	SELECT ((SUM(QtyOrdSell) - SUM(QtyShipSell)) / (CASE WHEN SUM(QtyOrdSell)=0 THEN 1 ELSE SUM(QtyOrdSell)END)*100) AS VarianceTotal FROM #tempHeader
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoSalesPerformanceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoSalesPerformanceReport_proc'
GO
