USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoPeriodicMaint]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoPeriodicMaint] 
@DateDocLink datetime = NULL

AS
SET NOCOUNT ON
BEGIN TRY

	-- Delete Document links that have expired
	IF (@DateDocLink IS NOT NULL)
	BEGIN

		--purge expired document links
		DELETE dbo.tblSMDocLink
		WHERE [ExpireDate] < @DateDocLink AND SourceType = 128 --limit data to PO source types
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPeriodicMaint'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPeriodicMaint'
GO
