USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPackHist_EC_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPackHist_EC_proc]
AS                    
SET NOCOUNT ON
BEGIN TRY

    DECLARE @PostRun [nvarchar](14) , @NewID bigint

	CREATE TABLE #tmpSoTransID
	(
		TransId [nvarchar](8) NOT NULL, 
	)
    
	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	
	IF @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO #tmpSoTransID(TransId)
	SELECT l.TransId 
	FROM #PostTransList l 
	INNER JOIN tblEcPoSoTransHeader s ON s.SoTransId = l.TransId	

--Insert to history

    --Header
    INSERT INTO tblEcPackHistHeader(PostRun,ID,ShipmentID,EntryNum,TransID,ShipToId,TrackingNum,UCC128,Weight,DateAdded,TotShipToContainers,TotShipToContainersSeqNum,ASNNumber,PrintYn,UserID,WrkStnID,CF)
    SELECT @PostRun,h.ID,h.ShipmentID,h.EntryNum,h.TransID,h.ShipToId,h.TrackingNum,h.UCC128,h.Weight,h.DateAdded,h.TotShipToContainers,h.TotShipToContainersSeqNum,h.ASNNumber,h.PrintYn,h.UserID,h.WrkStnID,h.CF
    FROM dbo.tblEcPackHeader h 
    INNER JOIN #tmpSoTransID s on s.TransId=h.TransID

	--Details
	INSERT INTO tblEcPackHistDetail(PostRun,ID,PackHeaderID,EntryNum,TransId,TransEntryNum,ItemID,	ItemUom,CalcWeight,QtyPacked,WhslPrice,LottedYN,LotNumber,InItemYN,ItemType,AsnEntryNum,UserID,WrkStnID,CF, LotExpDate, [PackagingType])
    SELECT @PostRun,d.ID,d.PackHeaderID,d.EntryNum,d.TransId,d.TransEntryNum,d.ItemID,d.ItemUom,d.CalcWeight,d.QtyPacked,d.WhslPrice,d.LottedYN,d.LotNumber,d.InItemYN,d.ItemType,d.AsnEntryNum,d.UserID,d.WrkStnID,d.CF, d.LotExpDate, d.[PackagingType]
	FROM tblEcPackDetail d 
	INNER JOIN dbo.tblEcPackHeader h ON h.ID=d.PackHeaderID
    INNER JOIN #tmpSoTransID s on s.TransId=h.TransID

	--Shipment
	INSERT INTO tblEcPackHistShipment(ID,PostRun,CustId,CustPoNum,ShiptoId,PartnerID,ShipViaCode,BillofLading,VICSBillofLading,MasterBillofLading,ProNumber,ShipRequestID,Weight,ShipDate,ShipCost,ExpDeliveryDate,LoadId,ShipmentStatus,ContainersInShipment,ContainerUOM,WeightUOM,SCAC,ShipToCode,MethodOfPay,TransMethodCode,ShipFromLocation,ShipFromCompany,HLCount,TransSetPurposeCode,IsEdiYN,UserID,WrkStnID,CF,ShipVia)
	SELECT d.ID,@PostRun,d.CustId,d.CustPoNum,d.ShiptoId,d.PartnerID,d.ShipViaCode,d.BillofLading,d.VICSBillofLading,d.MasterBillofLading,d.ProNumber,d.ShipRequestID,d.Weight,d.ShipDate,d.ShipCost,d.ExpDeliveryDate,d.LoadId,d.ShipmentStatus,d.ContainersInShipment,d.ContainerUOM,d.WeightUOM,d.SCAC,d.ShipToCode,d.MethodOfPay,d.TransMethodCode,d.ShipFromLocation,d.ShipFromCompany,d.HLCount,d.TransSetPurposeCode,d.IsEdiYN,d.UserID,d.WrkStnID,d.CF,d.ShipVia
	FROM tblEcPackShipment d 
	INNER JOIN (
	SELECT DISTINCT h.ShipmentID FROM dbo.tblEcPackHeader h 
    INNER JOIN #tmpSoTransID s on s.TransId=h.TransID
	) ds on ds.ShipmentID=d.ID
	

--Remove from live

    --Shipment
	 DELETE s
	 FROM tblEcPackShipment s 
	 INNER JOIN (
	 SELECT DISTINCT h.ShipmentID FROM dbo.tblEcPackHeader h 
     INNER JOIN #tmpSoTransID s on s.TransId=h.TransID
  	 ) ds on ds.ShipmentID=s.ID

     --Details
	 DELETE d
	 FROM tblEcPackDetail d
	 INNER JOIN tblEcPackHeader h ON h.Id = d.PackHeaderID
	 INNER JOIN #tmpSoTransID s on s.TransId=h.TransID

	 --Header
	 DELETE h
	 FROM tblEcPackHeader h
	 INNER JOIN #tmpSoTransID s on s.TransId=h.TransID
 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPackHist_EC_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPackHist_EC_proc'
GO
