USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpDispatch_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpDispatch_Proc]  

      @ResourceType TINYINT = 1,
      @ResourceId NVARCHAR(10) = NULL,
      @SortBy SMALLINT = 0

AS
SET NOCOUNT ON
BEGIN TRY
                                    
     IF @ResourceType = 1
      BEGIN     
          --WorkCenter
          SELECT CASE @SortBy 
                             WHEN 0 THEN RIGHT(REPLICATE(' ',10) + CAST(s.WSeqNo AS NVARCHAR), 10)
                             WHEN 1 THEN CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) 
                             WHEN 2 THEN CAST(r.CustId AS NVARCHAR) 
                             WHEN 3 THEN CAST(r.OrderNo AS NVARCHAR) 
                             WHEN 4 THEN RIGHT( REPLICATE(' ',10) + CAST(r.Priority AS NVARCHAR), 10) END AS SortBy,
                CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) AS EstStartDateSort
                , s.WSeqNo SeqNo, r.OrderNo, r.ReleaseNo, rq.ReqId, r.CustId, o.AssemblyID, s.OperationId, s.TransId
                , s.QtyProducedEst, rq.EstCompletionDate AS EstFinishDate, rq.EstStartDate AS EstStartDate, r.Priority
                , ((s.MachineSetupEst + s.MachineRunEst) + (s.LaborSetupEst + s.LaborEst))/ 60.0 AS EstTotalHours
                , (((s.MachineSetupEst + s.MachineRunEst) + (s.LaborSetupEst + s.LaborEst))/ 60.0) 
                - ((ISNULL(d.TotMachSetup, 0) + ISNULL(d.TotMachRun, 0)) + (ISNULL(d.TotLaborSetup, 0) + ISNULL(d.TotLaborRun, 0))) AS EstHoursRemaining
				, o.RevisionNo, (((s.MachineSetupEst + s.MachineRunEst) + (s.LaborSetupEst + s.LaborEst))/ 60.0) - ((((s.MachineSetupEst + s.MachineRunEst) + (s.LaborSetupEst + s.LaborEst))/ 60.0) - (((ISNULL(d.TotMachSetup, 0) + ISNULL(d.TotMachRun, 0)) + (ISNULL(d.TotLaborSetup, 0) + ISNULL(d.TotLaborRun, 0))))) AS HrsWorked
          FROM dbo.tblMpTimeSum s             
              INNER JOIN dbo.tblMpRequirements rq ON rq.TransId = s.TransId                 
              INNER JOIN dbo.tblMpOrderReleases r ON  r.Id = rq.ReleaseId
              INNER JOIN dbo.tblMpOrder o ON r.OrderNo = o.OrderNo 
              LEFT JOIN ( SELECT TransId, SUM(MachineSetup / MachineSetupIn)  TotMachSetup, SUM(MachineRun / MachineRunIn) TotMachRun 
                                  , SUM(LaborSetup / LaborSetupIn) TotLaborSetup, SUM(Labor / LaborIn) TotLaborRun 
                                FROM dbo.tblMpTimeDtl GROUP BY TransId
                            ) d ON s.TransId = d.TransId
          WHERE s.WorkCenterID = @ResourceId AND s.Status <> 6 
      END
      ELSE 
	  IF @ResourceType = 2
      BEGIN
          --Machine Group
          SELECT CASE @SortBy 
                             WHEN 0 THEN RIGHT(REPLICATE(' ',10) + CAST(s.MSeqNo AS NVARCHAR), 10)
                             WHEN 1 THEN CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) 
                             WHEN 2 THEN CAST(r.CustId AS NVARCHAR) 
                             WHEN 3 THEN CAST(r.OrderNo AS NVARCHAR) 
                             WHEN 4 THEN RIGHT( REPLICATE(' ',10) + CAST(r.Priority AS NVARCHAR), 10) END AS SortBy,
                CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) AS EstStartDateSort
                , s.MSeqNo SeqNo, r.OrderNo, r.ReleaseNo, rq.ReqId, r.CustId, o.AssemblyID, s.OperationId, s.TransId, s.QtyProducedEst
				, rq.EstCompletionDate AS EstFinishDate, rq.EstStartDate AS EstStartDate, r.Priority
				, (s.MachineSetupEst + s.MachineRunEst) / 60.0 AS EstTotalHours
                , ((s.MachineSetupEst + s.MachineRunEst) / 60.0) - (ISNULL(d.TotMachSetup, 0) + ISNULL(d.TotMachRun, 0)) AS EstHoursRemaining
				, o.RevisionNo, ((((s.MachineSetupEst + s.MachineRunEst) / 60.0) - (((s.MachineSetupEst + s.MachineRunEst) / 60.0) - (ISNULL(d.TotMachSetup, 0) + ISNULL(d.TotMachRun, 0))))) AS HrsWorked
          FROM dbo.tblMpTimeSum s 
                INNER JOIN dbo.tblMpRequirements rq ON rq.TransId = s.TransId         
                INNER JOIN dbo.tblMpOrderReleases r ON r.Id = rq.ReleaseId 
                INNER JOIN dbo.tblMpOrder o ON r.OrderNo = o.OrderNo 
                LEFT JOIN ( SELECT TransId, SUM(MachineSetup / MachineSetupIn) TotMachSetup, SUM(MachineRun / MachineRunIn) TotMachRun 
                                  FROM dbo.tblMpTimeDtl GROUP BY TransId
                                ) d ON s.TransId = d.TransId
          WHERE s.MachineGroupID = @ResourceId AND s.Status <> 6 
      END
      ELSE
      BEGIN
          --LaborType
          SELECT CASE @SortBy 
                             WHEN 0 THEN RIGHT(REPLICATE('0',10) + CAST(s.LSeqNo AS NVARCHAR), 10)
                             WHEN 1 THEN CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) 
                             WHEN 2 THEN CAST(r.CustId AS NVARCHAR) 
                             WHEN 3 THEN CAST(r.OrderNo AS NVARCHAR) 
                             WHEN 4 THEN RIGHT( REPLICATE(' ',10) + CAST(r.Priority AS NVARCHAR), 10) END AS SortBy,
                CAST(CONVERT(NVARCHAR(8), rq.EstStartDate, 112) AS NVARCHAR) AS EstStartDateSort
          , s.LSeqNo SeqNo, r.OrderNo, r.ReleaseNo, rq.ReqId, r.CustId, o.AssemblyID, s.OperationId, s.TransId, s.QtyProducedEst
		  , rq.EstCompletionDate AS EstFinishDate, rq.EstStartDate AS EstStartDate, r.Priority, (s.LaborSetupEst + s.LaborEst) / 60.0 AS EstTotalHours
          , ((s.LaborSetupEst + s.LaborEst) / 60.0) - (ISNULL(d.TotLaborSetup, 0) + ISNULL(d.TotLaborRun, 0)) AS EstHoursRemaining , o.RevisionNo,          
		  ((s.LaborSetupEst + s.LaborEst) / 60.0) - (((s.LaborSetupEst + s.LaborEst) / 60.0) - (ISNULL(d.TotLaborSetup, 0) + ISNULL(d.TotLaborRun, 0))) HrsWorked 
          FROM dbo.tblMpTimeSum s 
                INNER JOIN dbo.tblMpRequirements rq ON rq.TransId = s.TransId         
                INNER JOIN dbo.tblMpOrderReleases r ON r.Id = rq.ReleaseId 
                INNER JOIN dbo.tblMpOrder o ON r.OrderNo = o.OrderNo 
                LEFT JOIN ( SELECT TransId, SUM(LaborSetup / LaborSetupIn) TotLaborSetup, SUM(Labor / LaborIn) TotLaborRun 
                                  FROM dbo.tblMpTimeDtl GROUP BY TransId
                                ) d ON s.TransId = d.TransId
          WHERE (s.LaborTypeId = @ResourceId OR s.LaborSetupTypeId = @ResourceId) AND s.Status <> 6 
      END

END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpDispatch_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpDispatch_Proc'
GO
