USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransactionJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransactionJournal_proc]
@ReportCurrency [nvarchar](6) = Null,    
@BaseCurrency [nvarchar](6) = 'USD',    
@TransType nvarchar(10),    
@TransTypePmt nvarchar(10),    
@PrintSalesJournal bit = 1,    
@PrintDetail bit = 1,    
@SortBy tinyint = 0 -- 0, Batch/Transaction Number; 1, Customer ID; 2, Invoice Number; 3 Fiscal Year/Fiscal Period/Sales Account; 4, Item ID    
AS    
SET NOCOUNT ON    
BEGIN TRY    
    
 CREATE TABLE #tmpSales    
 (    
  TransId [nvarchar](8) NOT NULL    
 )    
    
 INSERT INTO #tmpSales (TransId)     
 SELECT h.TransId     
 FROM #tmpCustomerList c   
 INNER JOIN dbo.tblArTransHeader h ON c.CustId = h.CustId     
 INNER JOIN #tmpTransactionList b ON h.TransId = b.TransId     
 WHERE h.TransType = CASE WHEN @PrintSalesJournal = 0 THEN -1 ELSE 1 END     
  AND h.VoidYn = 0    
      
 CREATE TABLE #tmp     
 (    
  RecType int null,     
  GrpId1 nvarchar (4000) null,    
  GrpId2  nvarchar (4000) Null,    
  BatchId [nvarchar](6) NULL,    
  TransId [nvarchar](8) NOT NULL,    
  TransType smallint not NULL,    
  CustId [nvarchar](10) NULL,    
  CustName nvarchar (255) null,    
  ShipToID [nvarchar](10) NULL,    
  TermsCode [nvarchar](6) NULL,    
  InvcNum [nvarchar](15) NULL,    
  OrgInvcNum [nvarchar](15) NULL,    
  CustPONum nvarchar(25) null,    
  OrderDate datetime null,    
  ShipDate datetime null,    
  InvcDate datetime null,    
  Rep1Id [nvarchar](3) NULL,    
  Rep1Pct [decimal](28,10) NULL,    
  Rep2Id [nvarchar](3) NULL,    
  Rep2Pct [decimal](28,10) NULL,    
  TaxClassFreight tinyint null,    
  GLPeriod smallint not null,    
  FiscalYear smallint not null,    
  TaxLocId [nvarchar](10) NOT NULL,    
  ExchRate [decimal](28,10) NOT NULL,    
  TaxSubtotal [decimal](28,10) NULL,    
  NonTaxSubtotal [decimal](28,10) NULL,    
  Freight [decimal](28,10) NULL,     
  Misc [decimal](28,10) NULL,    
  SalesTax [decimal](28,10) NULL,    
  PmtAmt [decimal](28,10) NULL,    
  InvTotal [decimal](28,10) NULL,    
  EntryNum int  null,    
  PartType tinyint null,    
  PartId [nvarchar](24) NULL,    
  WhseId [nvarchar](10) NULL,    
  [Desc] [nvarchar](255) NULL,    
  AddnlDesc nvarchar(max) null,    
  LottedYn bit  null,    
  TaxClass tinyint null,    
  GLAcctSales [nvarchar](255)  null,    
  GLAcctCOGS [nvarchar](255)  null,    
  GLAcctInv  [nvarchar](255)  null,    
  UnitsSell [nvarchar](5) NULL,    
  UnitsBase [nvarchar](5) NULL,    
  QtyOrdSell [decimal](28,10) NULL,    
  QtyShipSell [decimal](28,10) NULL,    
  CurrencyID [nvarchar](6) NOT NULL,    
  UnitPriceSell [decimal](28,10) NULL,    
  ExtPrice [decimal](28,10) NULL,    
  UnitCostSell [decimal](28,10) NULL,    
  ExtCost [decimal](28,10) NULL,    
  LineSeq [decimal](28,10) NULL   
 )    
  
 CREATE TABLE #tmppmt     
 (    
  TransId [nvarchar](8) NOT NULL,    
  PmtAmt [decimal](28,10) NOT NULL,  
  PmtAmtFgn [decimal](28,10) NULL  
 )    
   
 --convert individual payments into net invoice currency payment  
 INSERT INTO #tmppmt (TransId, PmtAmt, PmtAmtFgn)  
 SELECT l.TransID, SUM(p.PmtAmt)  
     , SUM(CASE WHEN h.CurrencyID = p.CurrencyId THEN p.PmtAmtFgn  
      WHEN h.CurrencyID = @BaseCurrency THEN p.PmtAmt  
      ELSE ROUND(p.PmtAmtFgn * pmtet.Rate, pmtet.CurrDecPlaces) End)  
 FROM #tmpSales l     
 INNER JOIN dbo.tblArTransPmt p ON l.TransId = p.TransId  
 INNER JOIN dbo.tblArTransHeader h on p.TransId=h.TransId     
 LEFT JOIN   
 ( SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces    
        FROM [dbo].[tblSmExchangeRateTrans] e    
        INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]    
        WHERE e.[TransType] = @TransTypePmt   
    ) pmtet ON pmtet.TransKey = p.PmtNum AND pmtet.[Source] = p.CurrencyId  AND pmtet.Destination = h.CurrencyID  
   WHERE p.PostedYn = 0 --unposted only    
   GROUP BY l.TransId    
  
 IF EXISTS (SELECT * FROM #tmppmt WHERE PmtAmtFgn IS NULL)    
 BEGIN    
  THROW 90027, N'Invalid exchange information.', 1    
 END    
    
 INSERT INTO #tmp (RecType,GrpId1,GrpId2,BatchId, TransId ,TransType ,CustId    
   , CustName,ShipToID,TermsCode, InvcNum, OrgInvcNum    
   , CustPONum,OrderDate,ShipDate,InvcDate,Rep1Id,Rep1Pct,Rep2Id,Rep2Pct    
   , TaxClassFreight, GLPeriod, FiscalYear,  TaxLocId, ExchRate    
   , TaxSubtotal,  NonTaxSubtotal,Freight, Misc,  SalesTax,  PmtAmt, InvTotal    
   , EntryNum, PartType, PartId, WhseId, [Desc], AddnlDesc, LottedYn, TaxClass    
   , GLAcctSales, GLAcctCOGS,GLAcctInv,UnitsSell,UnitsBase, QtyOrdSell, QtyShipSell    
   , [CurrencyID],UnitPriceSell, ExtPrice, UnitCostSell, ExtCost, LineSeq)     
 SELECT 0 AS RecType    
  , CASE @SortBy     
    WHEN 0 THEN CAST(h.BatchId AS nvarchar)     
    WHEN 1 THEN CAST(h.CustId AS nvarchar)     
    WHEN 2 THEN CAST(ISNULL(h.InvcNum, '') AS nvarchar)     
    WHEN 3 THEN CAST(RIGHT('0000' + LTRIM(STR(h.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(h.GlPeriod)), 3) AS nvarchar)     
    WHEN 4 THEN CAST(d.PartId AS nvarchar) END AS GrpId1    
  , CASE @SortBy     
    WHEN 0 THEN CAST(h.BatchId AS nvarchar)     
    WHEN 1 THEN CAST(h.CustId AS nvarchar)     
    WHEN 2 THEN CAST(ISNULL(h.InvcNum, '') AS nvarchar)     
    WHEN 3 THEN CAST(d.GLAcctSales AS nvarchar)     
    WHEN 4 THEN CAST(d.PartId AS nvarchar) END AS GrpId2    
  , h.BatchId, h.TransId, h.TransType, h.CustId, c.CustName, h.ShipToID, h.TermsCode, h.InvcNum, h.OrgInvcNum    
  , h.CustPONum, h.OrderDate, h.ShipDate, h.InvcDate, h.Rep1Id, h.Rep1Pct, h.Rep2Id, h.Rep2Pct    
  , h.TaxClassFreight, h.GLPeriod, h.FiscalYear, h.TaxGrpID AS TaxLocId, h.ExchRate    
  , 0 AS TaxSubtotal, 0 AS NonTaxSubtotal, 0 AS Freight, 0 AS Misc, 0 AS SalesTax, 0 AS PmtAmt, 0 AS InvTotal    
  , d.EntryNum, d.PartType, d.PartId, d.WhseId, d.[Desc], d.AddnlDesc, d.LottedYn, d.TaxClass    
  , d.GLAcctSales, d.GLAcctCOGS, d.GLAcctInv, d.UnitsSell, d.UnitsBase, d.QtyOrdSell, d.QtyShipSell    
  , ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]       
  , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitPriceSellFgn,0)    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitPriceSell,0)    
   ELSE ROUND(UnitPriceSellFgn * et.Rate, et.CurrDecPlaces) End  AS UnitPriceSell     
       
  , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(PriceExtFgn,0)    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(PriceExt,0)    
   ELSE ROUND(PriceExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtPrice    
        
  , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(UnitCostSellFgn,0)    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(UnitCostSell,0)    
   ELSE ROUND(UnitCostSellFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCostSell     
         
  , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(CostExtFgn,0)    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(CostExt,0)    
   ELSE ROUND(CostExtFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost      
  , d.LineSeq     
    
 FROM dbo.tblArCust AS c INNER JOIN dbo.tblArTransHeader AS h ON c.CustId = h.CustId     
 INNER JOIN #tmpSales t ON h.TransId = t.TransId    
 INNER JOIN dbo.tblArTransDetail AS d ON h.TransId = d.TransID    
    LEFT JOIN   
 ( SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination  
    FROM [dbo].[tblSmExchangeRateTrans] e    
    INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]    
    WHERE e.[TransType] = @TransType   
 ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency, h.CurrencyID)   
  
 UNION ALL    
  
 SELECT  1 AS RecType    
 , CASE @SortBy     
  WHEN 0 THEN CAST(h.BatchId AS nvarchar)     
  WHEN 1 THEN CAST(h.CustId AS nvarchar)     
  WHEN 2 THEN CAST(ISNULL(h.InvcNum, '') AS nvarchar)     
  WHEN 3 THEN CAST(RIGHT('0000' + LTRIM(STR(h.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(h.GlPeriod)), 3) AS nvarchar)     
  WHEN 4 THEN '' END AS GrpId1    
 , CASE @SortBy     
  WHEN 0 THEN CAST(h.BatchId AS nvarchar)     
  WHEN 1 THEN CAST(h.CustId AS nvarchar)     
  WHEN 2 THEN CAST(ISNULL(h.InvcNum, '') AS nvarchar)     
  WHEN 3 THEN NULL    
  WHEN 4 THEN NULL END AS GrpId2    
 , h.BatchId, h.TransId, h.TransType, h.CustId, c.CustName AS CustName     , h.ShipToID, h.TermsCode, h.InvcNum, h.OrgInvcNum, h.CustPONum, h.OrderDate, h.ShipDate, h.InvcDate    
 , h.Rep1Id, h.Rep1Pct, h.Rep2Id, h.Rep2Pct, h.TaxClassFreight, h.GLPeriod, h.FiscalYear    
 , h.TaxGrpID AS TaxLocId, h.ExchRate     
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TaxSubtotalFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TaxSubtotal    
   ELSE ROUND(TaxSubtotalFgn * et.Rate, et.CurrDecPlaces) End  AS TaxSubtotal     
     
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  NonTaxSubtotalFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN NonTaxSubtotal    
   ELSE ROUND(NonTaxSubtotalFgn * et.Rate, et.CurrDecPlaces) End  AS NonTaxSubtotal    
           
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  FreightFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN Freight    
   ELSE ROUND(FreightFgn * et.Rate, et.CurrDecPlaces) End  AS Freight    
             
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  MiscFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN Misc    
   ELSE ROUND(MiscFgn * et.Rate, et.CurrDecPlaces) End  AS Misc    
           
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  SalesTaxFgn + TaxAmtAdjFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN SalesTax + TaxAmtAdj    
   ELSE ROUND((SalesTaxFgn + TaxAmtAdjFgn) * et.Rate, et.CurrDecPlaces) End  AS SalesTax    
  
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN pmt.PmtAmtFgn  
   WHEN @ReportCurrency = @BaseCurrency THEN pmt.PmtAmt  
   ELSE ROUND(pmt.PmtAmtFgn * et.Rate, et.CurrDecPlaces) END  AS PmtAmt   
        
 , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  TaxSubtotalFgn + NonTaxSubtotalFgn + FreightFgn + MiscFgn + SalesTaxFgn + TaxAmtAdjFgn    
   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN TaxSubtotal + NonTaxSubtotal + Freight + Misc + SalesTax + TaxAmtAdj    
   ELSE ROUND((TaxSubtotalFgn + NonTaxSubtotalFgn + FreightFgn + MiscFgn + SalesTaxFgn + TaxAmtAdjFgn) * et.Rate, et.CurrDecPlaces) End  AS InvTotal    
    
 , 0 AS EntryNum, 0 AS PartType, NULL AS PartId, NULL AS WhseId, NULL AS [Desc], NULL AS AddnlDesc, 0 AS LottedYn    
 , 0 AS TaxClass, NULL AS GLAcctSales, NULL AS GLAcctCOGS, NULL AS GLAcctInv, NULL AS UnitsSell, NULL AS UnitsBase    
 , 0 AS QtyOrdSell, 0 AS QtyShipSell, ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]     
 , 0 AS UnitPriceSell, 0 AS ExtPrice, 0 AS UnitCostSell, 0 AS ExtCost, NULL AS LineSeq    
    
 FROM dbo.tblArTransHeader h     
 INNER JOIN #tmpSales t ON h.TransId = t.TransId    
 INNER JOIN dbo.tblArCust AS c ON c.CustId = h.CustId
 LEFT JOIN   
 (  
  SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination  
    FROM [dbo].[tblSmExchangeRateTrans] e    
    INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]    
    WHERE e.[TransType] = @TransType   
 ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency,h.CurrencyID)  
 LEFT JOIN #tmppmt pmt  ON h.TransId = pmt.TransId  
 WHERE @SortBy < 3   
                      
 IF EXISTS (SELECT * FROM #tmp WHERE  TaxSubtotal IS NULL OR NonTaxSubtotal IS NULL   
  OR Freight IS NULL OR Misc IS NULL  OR SalesTax IS NULL OR  InvTotal IS NULL   
  OR UnitPriceSell IS NULL OR ExtPrice IS NULL  OR UnitCostSell IS NULL OR ExtCost IS NULL)  
  --OR PmtAmt IS NULL)    
 BEGIN    
  THROW 90027, N'Invalid exchange information.', 1    
 END    
      
 UPDATE #tmp SET AddnlDesc = d.AddnlDesc  
 FROM #tmp t  
 INNER JOIN tblArTransDetail d ON t.TransId = d.TransID and t.EntryNum = d.EntryNum
 WHERE t.RecType=0  
  
    SELECT  * FROM #tmp          
                
 IF @PrintDetail = 1     
 BEGIN    
  --lot    
  SELECT l.TransId, l.EntryNum, l.LotNum, l.QtyFilled     
  FROM dbo.tblArTransLot l INNER JOIN #tmpSales t ON l.TransId = t.TransId    
  ORDER BY LotNum    
      
  CREATE TABLE #tmpSer     
  (    
   TransId  [nvarchar](8) NOT NULL,    
   EntryNum int NOT NULL,    
   LotNum [nvarchar](16) NULL ,    
   SerNum [nvarchar](35) NOT NULL,    
   [CurrencyID] [nvarchar](6) NOT NULL,    
   CostUnit [decimal](28,10) NULL,    
   PriceUnit  [decimal](28,10) NULL    
  )    
  INSERT INTO #tmpSer(TransId,EntryNum,LotNum,SerNum,CurrencyID,CostUnit,PriceUnit)    
  --ser    
  SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]     
  ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  CostUnitFgn    
    WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN CostUnit    
    ELSE ROUND(CostUnitFgn * et.Rate, et.CurrDecPlaces) End  AS CostUnit    
  ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  PriceUnitFgn    
    WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN PriceUnit    
    ELSE ROUND(PriceUnitFgn * et.Rate, et.CurrDecPlaces) End  AS PriceUnit    
  FROM dbo.tblArTransSer s    
  INNER JOIN tblArTransHeader h ON s.TransId = h.TransId    
  INNER JOIN #tmpSales t ON s.TransId = t.TransId    
  LEFT JOIN   
  ( SELECT TransKey, [Source],Rate, CurrDecPlaces  ,Destination  
   FROM [dbo].[tblSmExchangeRateTrans] e    
   INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]    
   WHERE e.[TransType] = @TransType    
  ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID]  AND et.[Destination] = ISNULL(@ReportCurrency ,h.CurrencyID)   
  ORDER BY LotNum, SerNum     
    
  IF EXISTS (SELECT * FROM #tmpSer WHERE  CostUnit IS NULL OR PriceUnit IS NULL)  
  BEGIN    
   THROW 90027, N'Invalid exchange information.', 1    
  END    
      
  SELECT * FROM #tmpSer     
 END    
    
END TRY    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransactionJournal_proc'
GO
