USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GLRealizedGainAndLossReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GLRealizedGainAndLossReport_proc] 
@View smallint = 0 
AS  
SET NOCOUNT ON  
BEGIN TRY   
   
	CREATE TABLE #Unposted
	(
		AcctIDOffset [nvarchar](255) NULL
		, AcctIDGainLoss [nvarchar](255) NULL 		
		, [Description] [nvarchar] (800)
		, SourceCode [nvarchar] (2)
		, Reference [nvarchar] (15)
		, AmountOffset [decimal](28,3) NOT NULL
		, AmountBase [decimal](28,3) NOT NULL
		, AmountGainLoss [decimal](28,3) NOT NULL
		, FiscalYear [smallint]
		, FiscalPeriod [smallint]
		, FunctionID nvarchar(20)	 	
	)
	
	CREATE TABLE #DetailEntries
	(
		[GlAccount] [nvarchar](255) NULL			
		, [Description] [nvarchar] (800)
		, SourceCode [nvarchar] (2)
		, Reference [nvarchar] (15)
		, [DebitAmount] [decimal](28,3) NOT NULL
		, [CreditAmount] [decimal](28,3) NOT NULL		
		, FiscalYear [smallint]
		, FiscalPeriod [smallint]
		, [DebitAmountFgn] [decimal](28,3) NOT NULL	
		, [CreditAmountFgn]	[decimal](28,3) NOT NULL		
		, [ExchRate] [Decimal](28, 18) NOT NULL
		, [Grouping]  [smallint] 
		, [AmountFgn] [decimal](28,3) NOT NULL
		, FunctionID nvarchar(20)	
	)
	
	INSERT INTO #Unposted(
		 AcctIDOffset
		, AcctIDGainLoss		
		, [Description]
		, SourceCode
		, Reference
		, AmountOffset
		, AmountBase
		, AmountGainLoss
		, FiscalYear
		, FiscalPeriod	
		, FunctionID		
		)
	SELECT g.AcctIDOffset
		, g.AcctIDGainLoss
		, g.SourceCode + '/'+g.FunctionID
		, g.SourceCode
		, g.LinkPostRun
		, g.AmountOffset
		, g.AmountBase
		, g.AmountGainLoss
		, g.FiscalYear	
		, g.FiscalPeriod
		, g.FunctionID	
	FROM #tmpDataList t
	INNER JOIN dbo.tblGlGainLoss g ON t.ID = g.ID
	WHERE g.PostRun IS NULL 
	
	-- offset amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		 
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 
		, CASE WHEN g.AmountBase > 0 THEN 0 
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END		
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountOffset < 0 THEN 0
			   WHEN g.AmountOffset > 0 THEN g.AmountOffset ELSE 0 END 
		, CASE WHEN g.AmountOffset > 0 THEN 0 
			   WHEN g.AmountOffset < 0 THEN ABS(g.AmountOffset) ELSE 0 END		
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountOffset/g.AmountBase END
		, 1
		, g.AmountOffset
		, g.FunctionID
	FROM #Unposted g
	WHERE (g.AmountOffset >= 0 and g.AmountBase >= 0) OR (g.AmountOffset <= 0 and g.AmountBase <= 0)

	-- offset amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE AmountBase END
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END		
		, g.FiscalYear, g.FiscalPeriod
		, 0
		, 0
		, 0 --exch rate not applicable
		, 2
		, 0
		, g.FunctionID
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

	-- offset amount (account currency amount when signs of amount do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
		)
	SELECT g.AcctIDOffset 
		, g.[Description], g.SourceCode, g.Reference
		, 0
		, 0
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountOffset < 0 THEN 0
			   WHEN g.AmountOffset > 0 THEN g.AmountOffset ELSE 0 END 
		, CASE WHEN g.AmountOffset > 0 THEN 0 
			   WHEN g.AmountOffset < 0 THEN ABS(g.AmountOffset) ELSE 0 END		
		, 0 --exch rate not applicable
		, 3
		, g.AmountOffset
		, g.FunctionID
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

		
	-- gainloss amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase > 0 THEN 0
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END 
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountGainLoss/g.AmountBase END
		, 4
		, g.AmountGainLoss
		, g.FunctionID
	FROM  #Unposted g	
	WHERE (g.AmountOffset >= 0 and g.AmountBase >= 0) OR (g.AmountOffset <= 0 and g.AmountBase <= 0)
	
	-- gainloss amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description], g.SourceCode, g.Reference
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE g.AmountBase END		
		, g.FiscalYear, g.FiscalPeriod
		, 0
		, 0
		, 0 --exch rate not applicable
		, 5
		, 0
		, g.FunctionID
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)

	-- gainloss amount (account currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [GlAccount]
		, [Description]
		, SourceCode 
		, Reference
		, [DebitAmount]
		, [CreditAmount]	
		, FiscalYear
		, FiscalPeriod
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, FunctionID
	)
	SELECT g.AcctIDGainLoss 
		, g.[Description] ,g.SourceCode, g.Reference
		, 0
		, 0
		, g.FiscalYear, g.FiscalPeriod
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, 0 --exch rate not applicable
		, 6
		, g.AmountGainLoss
		, g.FunctionID
	FROM #Unposted g	
	WHERE (g.AmountOffset > 0 and g.AmountBase < 0) OR (g.AmountOffset < 0 and g.AmountBase > 0)
	

	IF @View = 0  
	BEGIN  
		SELECT A.GlAccount, A.FiscalYear, A.FiscalPeriod
		, ISNULL(A.DebitAmount, 0) DebitAmount, ISNULL(A.CreditAmount, 0)CreditAmount  
		, A.[Description], A.Reference, h.CurrencyID, ABS(A.AmountFgn) AS AmountFgn
		, A.SourceCode, A.FunctionID 
		FROM #DetailEntries A  
		LEFT JOIN tblGlAcctHdr h ON A.GlAccount = h.AcctId	
		WHERE A.DebitAmount <> 0 OR A.CreditAmount <> 0  OR A.DebitAmountFgn <> 0 OR A.CreditAmountFgn <> 0
	END  
	ELSE  
	BEGIN  
		SELECT A.GlAccount, A.FiscalYear, A.FiscalPeriod
		 , CASE WHEN SUM(A.DebitAmount - A.CreditAmount) > 0 THEN SUM(A.DebitAmount - A.CreditAmount) ELSE 0 END AS DebitAmount
		 , CASE WHEN SUM(A.DebitAmount - A.CreditAmount) < 0 THEN ABS(SUM(A.DebitAmount - A.CreditAmount)) ELSE 0 END AS CreditAmount  
		 ,'Gain Loss Summary' AS Description, 'Gain Loss' AS Reference, h.CurrencyID, ABS(SUM(A.AmountFgn)) AS AmountFgn
		 , A.SourceCode, NULL AS FunctionID  
		FROM #DetailEntries A 
		LEFT JOIN tblGlAcctHdr h ON A.GlAccount = h.AcctId	
		WHERE A.DebitAmount <> 0 OR A.CreditAmount <> 0  OR A.DebitAmountFgn <> 0 OR A.CreditAmountFgn <> 0	
		GROUP BY A.GlAccount, A.FiscalYear, A.FiscalPeriod, h.CurrencyID,A.SourceCode 
	END  
END TRY  
BEGIN CATCH  
EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GLRealizedGainAndLossReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GLRealizedGainAndLossReport_proc'
GO
