USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_UpdateOrderHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_UpdateOrderHistory_proc]
AS
BEGIN TRY
	DECLARE @PostRun pPostRun
	DECLARE @CostingMethod tinyint
	DECLARE @PrecUnit tinyint
	DECLARE @PrecAmount tinyint
	DECLARE @PrecQty tinyint


	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'  
	SELECT @CostingMethod = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = N'CostingMethod'
	SELECT @PrecUnit = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecUnit'
	SELECT @PrecAmount = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecAmount'
	SELECT @PrecQty = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecQty'

 	IF @PostRun IS NULL OR @CostingMethod IS NULL OR @PrecUnit IS NULL
		OR @PrecAmount IS NULL OR @PrecQty IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--Create temporary table for updated finished goods costs
	--	Each release only has 1 finished goods material to update
	CREATE TABLE #CostRollup
	(
		[ReleaseId] [int] Not Null,
		[BaseQty] [decimal](28, 10) Not Null,
		[BaseUnitCost] [decimal](28, 10) Not Null,
		[CostExt] [decimal](28, 10) Not Null,
		PRIMARY KEY ([ReleaseId])
	)

	--Calculate an updated finished goods cost when not using Standard Costing
	IF (@CostingMethod <> 3)
	BEGIN
		CREATE TABLE #TempCosts  
		(   
			[ReleaseId] [int] Not Null,
			[BaseQty] [decimal](28,10) Not Null,
			[CostExt] [decimal](28,10) Not Null
		)  
  
		--Quantity (Finished Goods)
		INSERT INTO #TempCosts([ReleaseId], [BaseQty], [CostExt])
		SELECT r.[ReleaseId], ROUND(SUM(d.[Qty] * u.[ConvFactor]), @PrecQty), 0.0
		FROM dbo.tblMpRequirements r
			INNER JOIN dbo.tblMpMatlSum s ON r.[TransId] = s.[TransId]
			INNER JOIN dbo.tblMpMatlDtl d ON s.[TransId] = d.[TransId]
			LEFT JOIN dbo.tblInItemUom u ON d.[ComponentId] = u.[ItemId] AND d.[UOM] = u.[Uom]
			INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]
		WHERE s.[ComponentType] = 0 --finished goods
		GROUP BY r.[ReleaseId]

		--Costs (Materials)
		INSERT INTO #TempCosts([ReleaseId], [BaseQty], [CostExt])
		SELECT r.[ReleaseId], 0.0
			, ROUND(SUM(CASE s.[ComponentType]
				WHEN 2 THEN --Subassembly  
					CASE d.[SubAssemblyTranType]
					WHEN 2 THEN 0 --assembled get cost from components used  
					WHEN 1 THEN d.[Qty] * d.[UnitCost] --cost pulled from stock  
					WHEN -1 THEN -d.[Qty] * d.[UnitCost] --cost moved to stock (credit)  
					END  
				WHEN 3 THEN d.[Qty] * d.[UnitCost]      --Stocked subassembly  
				WHEN 4 THEN d.[Qty] * d.[UnitCost]   --Material  
				WHEN 5 THEN -d.[Qty] * d.[UnitCost]     --ByProduct (credit)  
				END), @PrecAmount)
		FROM dbo.tblMpRequirements r
			INNER JOIN dbo.tblMpMatlSum s ON r.[TransId] = s.[TransId] And s.[ComponentType] in (2, 3, 4, 5) 
			INNER JOIN dbo.tblMpMatlDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]
		GROUP BY r.[ReleaseId]

		--Costs (Time)  
		INSERT INTO #TempCosts([ReleaseId], [BaseQty], [CostExt])  
		SELECT r.[ReleaseId], 0.0
			 , ROUND(SUM(((1 + ([LaborPctOvhd] / 100.0)) * ((([LaborSetup] / [LaborSetupIn]) * [HourlyRateLbrSetup]) + (([Labor] / [LaborIn]) * [HourlyRateLbr])) )
				+ ((1 + ([MachPctOvhd] / 100.0)) * ((([MachineSetup] / [MachineSetupIn]) + ([MachineRun] / [MachineRunIn])) * [HourlyCostFactorMach]))
				+ ([PerPieceOvhd] * (d.[QtyProduced] + d.[QtyScrapped]))) + MIN([FlatAmtOvhd]), @PrecAmount)  --Apply FlatAmtOvhd only once
		FROM dbo.tblMpRequirements r 
			INNER JOIN dbo.tblMpTimeSum s ON r.[TransId] = s.[TransId]
			INNER JOIN dbo.tblMpTimeDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]
		 GROUP BY r.[ReleaseId], r.[ReqId] --retain Requirement granularity for using MIN of FlatAmtOvhd

		--Costs (Subcontract)
		INSERT INTO #TempCosts([ReleaseId], [BaseQty], [CostExt])  
		SELECT r.[ReleaseId], 0.0, ROUND(ISNULL(SUM([QtyReceived] * [UnitCost]), 0), @PrecAmount)
		FROM dbo.tblMpRequirements r
			INNER JOIN dbo.tblMpSubContractSum s ON r.[TransId] = s.[TransId]
			INNER JOIN dbo.tblMpSubContractDtl d ON s.[TransId] = d.[TransId]
			INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]
		 GROUP BY r.[ReleaseId]
	  
		--Rollup costs
		INSERT INTO #CostRollup ([ReleaseId], [BaseQty], [CostExt], [BaseUnitCost])
		SELECT [ReleaseId], SUM([BaseQty]), SUM([CostExt])
			, ROUND(SUM([CostExt]) / SUM([BaseQty]), @PrecUnit)
		FROM #TempCosts
		GROUP BY [ReleaseId]
		HAVING SUM([BaseQty]) <> 0 --exclude 0 qty entries, keep current cost for move to history
	END


	--Create history for each order related table
	--	conditionally use the udpated costs when available for finished goods
	INSERT INTO dbo.tblMpHistoryOrderReleases([PostRun], [ReleaseId], [OrderNo], [ReleaseNo], [AssemblyId], [RevisionNo]
		, [LocId], [Planner], [Routing], [Status], [EstStartDate], [EstCompletionDate]
		, [CustId], [SalesOrder], [PurchaseOrder], [Priority], [UOM], [Qty]
		, [OrderSource], [OrderCode], [Notes], [CF])
	SELECT @PostRun, r.[Id], p.[OrderNo], r.[ReleaseNo], p.[AssemblyId], p.[RevisionNo]
		, p.[LocId], p.[Planner], r.[Routing], r.[Status], r.[EstStartDate], r.[EstCompletionDate]
		, r.[CustId], r.[SalesOrder], r.[PurchaseOrder], r.[Priority], r.[UOM], r.[Qty]
		, r.[OrderSource], r.[OrderCode], r.[Notes], r.[CF]
	FROM dbo.tblMpOrder p
		INNER JOIN dbo.tblMpOrderReleases r on p.[OrderNo] = r.[OrderNo]
		INNER JOIN #tmpCompletedRelease o ON r.[Id] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryRequirements([PostRun], [TransId], [ReleaseId], [ReqId], [ParentId]
		, [IndLevel], [Step], [Description], [Type], [BLT], [QTY], [ReqSeq]
		, [CF], [EstProcessTime], [EstStartDate], [EstCompletionDate])
	SELECT @PostRun, r.[TransId], r.[ReleaseId], r.[ReqId], r.[ParentId]
		, r.[IndLevel], r.[Step], r.[Description], r.[Type], r.[BLT], r.[QTY], r.[ReqSeq]
		, r.[CF], r.[EstProcessTime], r.[EstStartDate], r.[EstCompletionDate]
	FROM dbo.tblMpRequirements r
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryTimeSum ([PostRun], [TransId], [LeadTime], [RequiredDate], [ScheduleId]
		, [OperationId], [OperSupervisor], [WorkCenterId], [LaborSetupTypeId], [LaborTypeId], [LaborSetupEst]
		, [LaborEst], [MachineGroupId], [LaborPctOvhd], [FlatAmtOvhd], [PerPieceOvhd], [MachPctOvhd], [HourlyCostFactorMach]
		, [PerPieceCostLbr], [HourlyRateLbr], [MachineSetupEst], [MachineRunEst], [QtyProducedEst], [QtyScrappedEst], [QueueTimeEst]
		, [WaitTimeEst], [MoveTimeEst], [OverlapYn], [WorkCenterCostGroupId], [MachineCostGroupId], [LaborCostGroupId], [LaborSetupCostGroupId]
		, [Status], [WSeqNo], [MSeqNo], [LSeqNo], [Notes], [CF], [HourlyRateLbrSetup], [OperatorCount])
	SELECT @PostRun, s.[TransId], s.[LeadTime], s.[RequiredDate], s.[ScheduleId]
		, s.[OperationId], s.[OperSupervisor], s.[WorkCenterId], s.[LaborSetupTypeId], s.[LaborTypeId], s.[LaborSetupEst]
		, s.[LaborEst], s.[MachineGroupId], s.[LaborPctOvhd], s.[FlatAmtOvhd], s.[PerPieceOvhd], s.[MachPctOvhd], s.[HourlyCostFactorMach]
		, s.[PerPieceCostLbr], s.[HourlyRateLbr], s.[MachineSetupEst], s.[MachineRunEst], s.[QtyProducedEst], s.[QtyScrappedEst], s.[QueueTimeEst]
		, s.[WaitTimeEst], s.[MoveTimeEst], s.[OverlapYn], s.[WorkCenterCostGroupId], s.[MachineCostGroupId], s.[LaborCostGroupId], s.[LaborSetupCostGroupId]
		, s.[Status], s.[WSeqNo], s.[MSeqNo], s.[LSeqNo], s.[Notes], s.[CF], s.[HourlyRateLbrSetup], s.[OperatorCount]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpTimeSum s on r.[TransId] = s.[TransId]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryTimeDtl ([PostRun], [TransId], [SeqNo], [TransDate]
		, [MachineSetup], [MachineSetupIn], [MachineRun], [MachineRunIn], [LaborSetup], [LaborSetupIn]
		, [Labor], [LaborIn], [EmployeeId], [EmployeePayRate], [QtyProduced], [QtyScrapped]
		, [VarianceCode], [BeginTime], [EndTime], [Hours], [Mins], [PostedPayrollYn]
		, [GlPeriod], [FiscalYear], [Notes], [CF])
	SELECT @PostRun, d.[TransId], d.[SeqNo], d.[TransDate]
		, d.[MachineSetup], d.[MachineSetupIn], d.[MachineRun], d.[MachineRunIn], d.[LaborSetup], d.[LaborSetupIn]
		, d.[Labor], d.[LaborIn], d.[EmployeeId], d.[EmployeePayRate], d.[QtyProduced], d.[QtyScrapped]
		, d.[VarianceCode], d.[BeginTime], d.[EndTime], d.[Hours], d.[Mins], d.[PostedPayrollYn]
		, d.[GlPeriod], d.[FiscalYear], d.[Notes], d.[CF]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpTimeDtl d on r.[TransId] = d.[TransId]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistorySubContractSum ([PostRun], [TransId], [Description], [LeadTime]
		, [RequiredDate], [OperationId], [EstQtyRequired], [EstPerPieceCost], [CostGroupId]
		, [DefaultVendorId], [Status], [Notes], [CF])
	SELECT @PostRun, s.[TransId], s.[Description], s.[LeadTime]
		, s.[RequiredDate], s.[OperationId], s.[EstQtyRequired], s.[EstPerPieceCost], s.[CostGroupId]
		, s.[DefaultVendorId], s.[Status], s.[Notes], s.[CF]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpSubContractSum s on r.[TransId] = s.[TransId]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistorySubContractDtl ([PostRun], [TransId], [SeqNo], [TransDate]
		, [QtySent], [QtyReceived], [QtyScrapped], [UnitCost], [VendorId], [VendorDocNo]
		, [VarianceCode], [GlPeriod], [FiscalYear], [Notes], [CF])
	SELECT @PostRun, d.[TransId], d.[SeqNo], d.[TransDate]
		, d.[QtySent], d.[QtyReceived], d.[QtyScrapped], d.[UnitCost], d.[VendorId], d.[VendorDocNo]
		, d.[VarianceCode], d.[GlPeriod], d.[FiscalYear], d.[Notes], d.[CF]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpSubContractDtl d on r.[TransId] = d.[TransId]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryMatlSum ([PostRun], [TransId], [ComponentId], [LocId], [ComponentType]
		, [LeadTime], [RequiredDate], [EstQtyRequired], [EstScrap], [UOM], [UOMBase], [ConvFactor]
		, [CostGroupId], [UnitCost], [Status], [QtySeqNum], [Notes], [CF], [QuantityID])
	SELECT @PostRun, s.[TransId], s.[ComponentId], s.[LocId], s.[ComponentType]
		, s.[LeadTime], s.[RequiredDate], s.[EstQtyRequired], s.[EstScrap], s.[UOM], isnull(i.[UomBase], s.[UOM]), isnull(u.[ConvFactor], 1.0)
		, s.[CostGroupId], s.[UnitCost], s.[Status], s.[QtySeqNum], s.[Notes], s.[CF], s.[QuantityID]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpMatlSum s on r.[TransId] = s.[TransId]
		LEFT JOIN dbo.tblInItem i on s.[ComponentId] = i.[ItemId]
		LEFT JOIN dbo.tblInItemUom u on s.[ComponentId] = u.[ItemId] And s.[UOM] = u.[Uom]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryMatlDtl ([PostRun], [TransId], [SeqNo], [TransDate]
		, [ComponentId], [LocId], [Qty], [UOM], [UOMBase], [ConvFactor], [ActualScrap], [UnitCost]
		, [VarianceCode], [AssembledYn], [SubAssemblyTranType], [GlPeriod], [FiscalYear]
		, [HistSeqNum], [QtySeqNum], [Notes], [CF], [QuantityID], [HistoryID])
	SELECT @PostRun, d.[TransId], d.[SeqNo], d.[TransDate]
		, d.[ComponentId], d.[LocId], d.[Qty], d.[UOM], isnull(i.[UOMBase], d.[UOM]), isnull(u.[ConvFactor], 1.0), d.[ActualScrap]
		, CASE WHEN r.[Type] = 0 And p.[BaseUnitCost] IS NOT NULL THEN Round(p.[BaseUnitCost] * u.[ConvFactor], 4) ELSE d.[UnitCost] End
		, d.[VarianceCode], d.[AssembledYn], d.[SubAssemblyTranType], d.[GlPeriod], d.[FiscalYear]
		, d.[HistSeqNum], d.[QtySeqNum], d.[Notes], d.[CF], d.[QuantityID], d.[HistoryID]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpMatlDtl d on r.[TransId] = d.[TransId]
		LEFT JOIN #CostRollup p on r.[ReleaseId] = p.[ReleaseId] --conditionally use cost rollup for finished goods when available
		LEFT JOIN dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
		LEFT JOIN dbo.tblInItemUom u on d.[ComponentId] = u.[ItemId] And d.[UOM] = u.[Uom]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryMatlDtlExt ([PostRun], [TransId], [EntryNum], [SeqNum]
		, [LotNum], [ExtLocAID], [ExtLocBID], [QtyFilled], [CostUnit], [CostUnitFgn]
		, [HistSeqNum], [HistSeqNumExt], [QtySeqNum], [QtySeqNumExt], [Cmnt], [CF]
		, [QtyStatus], [QuantityID], [HistoryID], [QuantityExtID])
	SELECT @PostRun, e.[TransId], e.[EntryNum], e.[SeqNum]
		, e.[LotNum], b.[ExtLocID], c.[ExtLocID], e.[QtyFilled]
		, CASE WHEN r.[Type] = 0 And p.[BaseUnitCost] IS NOT NULL THEN Round(p.[BaseUnitCost] * u.[ConvFactor], 4) ELSE e.[CostUnit] End
		, CASE WHEN r.[Type] = 0 And p.[BaseUnitCost] IS NOT NULL THEN Round(p.[BaseUnitCost] * u.[ConvFactor], 4) ELSE e.[CostUnit] End
		, e.[HistSeqNum], e.[HistSeqNumExt], e.[QtySeqNum], e.[QtySeqNumExt], e.[Cmnt], e.[CF]
		, e.[QtyStatus], e.[QuantityID], e.[HistoryID], e.[QuantityExtID]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpMatlDtl d on r.[TransId] = d.[TransId]
		INNER JOIN dbo.tblMpMatlDtlExt e on d.[TransId] = e.[TransId] and d.[SeqNo] = e.[EntryNum]
		LEFT JOIN #CostRollup p on r.[ReleaseId] = p.[ReleaseId] --conditionally use cost rollup for finished goods when available
		LEFT JOIN dbo.tblInItem i on d.[ComponentId] = i.[ItemId]
		LEFT JOIN dbo.tblInItemUom u on d.[ComponentId] = u.[ItemId] And d.[UOM] = u.[Uom]
		LEFT JOIN dbo.tblWmExtLoc b on e.[ExtLocA] = b.[Id]
		LEFT JOIN dbo.tblWmExtLoc c on e.[ExtLocB] = c.[Id]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

	INSERT INTO dbo.tblMpHistoryMatlSer ([PostRun], [TransId], [EntryNum], [SeqNum]
		, [ItemId], [LocId], [LotNum], [SerNum], [ExtLocAID], [ExtLocBID]
		, [CostUnit], [CostUnitFgn], [PriceUnit], [PriceUnitFgn], [HistSeqNum]
		, [Cmnt], [CF], [QtyStatus], [HistorySerID])
	SELECT @PostRun, e.[TransId], e.[EntryNum], e.[SeqNum]
		, e.[ItemId], e.[LocId], e.[LotNum], e.[SerNum], b.[ExtLocID], c.[ExtLocID]
		, CASE WHEN r.[Type] = 0 And p.[BaseUnitCost] IS NOT NULL THEN p.[BaseUnitCost] ELSE e.[CostUnit] End
		, CASE WHEN r.[Type] = 0 And p.[BaseUnitCost] IS NOT NULL THEN p.[BaseUnitCost] ELSE e.[CostUnitFgn] End
		, e.[PriceUnit], e.[PriceUnitFgn], e.[HistSeqNum]
		, e.[Cmnt], e.[CF], e.[QtyStatus], e.[HistorySerID]
	FROM dbo.tblMpRequirements r
		INNER JOIN dbo.tblMpMatlDtl d on r.[TransId] = d.[TransId]
		INNER JOIN dbo.tblMpMatlSer e on d.[TransId] = e.[TransId] and d.[SeqNo] = e.[EntryNum]
		LEFT JOIN #CostRollup p on r.[ReleaseId] = p.[ReleaseId] --conditionally use cost rollup for finished goods when available
		LEFT JOIN dbo.tblWmExtLoc b on e.[ExtLocA] = b.[Id]
		LEFT JOIN dbo.tblWmExtLoc c on e.[ExtLocB] = c.[Id]
		INNER JOIN #tmpCompletedRelease o ON r.[ReleaseId] = o.[ReleaseId]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_UpdateOrderHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_UpdateOrderHistory_proc'
GO
