USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArExtPmtInvoice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArExtPmtInvoice_proc]
@CustId [nvarchar](10) 
AS
SET NOCOUNT ON
BEGIN TRY
	--capture invoice summary after applying payments
	CREATE TABLE #AppliedPaymentSummary
	(
		[InvcNum] [nvarchar](15) NULL, 
		[RecType] [smallint],
		[CurrencyId] [nvarchar](6) NOT NULL,
		[TransDate] [Datetime],
		[DiscDueDate] [DateTime],
		[CustPONum] [nvarchar](255),
		[AmountDue] [decimal](28,10) NOT NULL,
		[AmountDueFgn] [decimal](28,10) NOT NULL,
		[DiscountAllowed] [decimal](28,10) NOT NULL,
		[DiscountAllowedFgn] [decimal](28,10) NOT NULL
	) 
	
	--capture the list of invoices with outstanding balances
	CREATE TABLE #InvoiceTotal
	(
		[InvcNum] [nvarchar](15) NULL, 
		[RecType] [smallint],
		[CurrencyId] [nvarchar](6) NOT NULL,
		[TransDate] [Datetime],
		UNIQUE CLUSTERED ([InvcNum], [RecType], [CurrencyId])
	)

	--build the list of invoice balances via applied payments
	INSERT INTO #AppliedPaymentSummary ([InvcNum], [RecType], [CurrencyId]
		, [TransDate], [DiscDueDate], [CustPONum], [AmountDue], [AmountDueFgn], [DiscountAllowed], [DiscountAllowedFgn])
	SELECT ISNULL(inv.InvcNum, adj.InvcNum)
		, CASE ISNULL(inv.RecType, adj.RecType) When 5 Then 5 Else 1 End --map non-deposit entries to invoice
		, ISNULL(inv.CurrencyId, adj.CurrencyId)
		, ISNULL(inv.TransDate, adj.TransDate)
		, ISNULL(inv.DiscDueDate,adj.DiscDueDate)
		, ISNULL(inv.CustPONum, adj.CustPONum) 
		--Amount due in base currency  
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL   
			THEN adj.[Amt]   
			ELSE   
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType])   
					THEN adj.[Amt] - adj.GainLossAmount  
					ELSE -(adj.[Amt] - adj.GainLossAmount)  
				END  
			END) 
		--Amount due in invoice currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
			THEN adj.[AmtFgn] 
			ELSE 
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
					THEN adj.[AppliedAmount] 
					ELSE -adj.[AppliedAmount] 
				END
			END) 
		--Discount amount allowed in base currency  
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL   
			THEN adj.[DiscAmt]   
			ELSE   
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType])   
					THEN adj.[DiscAmt]   
					ELSE -adj.[DiscAmt]   
				END  
			END)  
		--Discount amount allowed in invoice currency
		, SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
			THEN adj.[DiscAmtFgn] 
			ELSE 
				CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
					THEN adj.[AppliedDiscount] 
					ELSE -adj.[AppliedDiscount] 
				END
			END) 
	FROM dbo.tblArOpenInvoice adj
		LEFT JOIN dbo.tblArOpenInvoice inv ON adj.[InvoiceID] = inv.[Counter]	
	WHERE adj.[Status] <> 4 and adj.CustId = @CustId 
	GROUP BY ISNULL(inv.InvcNum, adj.InvcNum) 
			, CASE ISNULL(inv.RecType, adj.RecType) When 5 Then 5 Else 1 End 
			, ISNULL(inv.CurrencyId,adj.CurrencyId)  
			, ISNULL(inv.TransDate, adj.TransDate)
			, ISNULL(inv.DiscDueDate,adj.DiscDueDate)
			, ISNULL(inv.CustPONum, adj.CustPONum)
	HAVING SUM(SIGN(ISNULL(inv.[RecType], adj.[RecType])) * CASE WHEN inv.[Counter] IS NULL 
		THEN adj.[AmtFgn] 
		ELSE 
			CASE WHEN SIGN(inv.[RecType]) = SIGN(adj.[RecType]) 
				THEN adj.[AppliedAmount] 
				ELSE -adj.[AppliedAmount] 
			END
		END) <> 0

	INSERT INTO #AppliedPaymentSummary ([InvcNum], [RecType], [CurrencyId]
		, [TransDate], [DiscDueDate], [CustPONum], [AmountDue], [AmountDueFgn], [DiscountAllowed], [DiscountAllowedFgn])
	SELECT ISNULL(inv.InvcNum, d.InvcNum)
		, CASE ISNULL(inv.RecType, d.InvcType) When 5 Then 5 Else 1 End --map non-deposit entries to invoice
		, h.CurrencyId
		, ISNULL(inv.TransDate, h.PmtDate)
		, ISNULL(inv.DiscDueDate,h.PmtDate)
		, inv.CustPONum
		--Amount due in base currency  
		, -(d.[PmtAmt] + d.[Difference])
		--Amount due in payment currency
		, -(d.[PmtAmtFgn] + d.[DifferenceFgn])
		--Discount amount allowed in base currency  
		, -d.[Difference]
		--Discount amount allowed in payment currency
		, -d.[DifferenceFgn] 
	FROM dbo.tblArCashRcptHeader h INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID
		LEFT JOIN dbo.tblArOpenInvoice inv ON d.OrgInvoiceID = inv.[Counter] AND h.CurrencyID = inv.CurrencyId	--Future, consider to use exchange rate to covert payment amount to original invoice currency if payment currency is different than original invoice currency
	WHERE h.CustId = @CustId 

	--identify the list of invoices with outstanding balances
	-- (consolidate invoices and unapplied payments when currencies match)
	INSERT INTO #InvoiceTotal ([InvcNum], [RecType], [CurrencyId], [TransDate])
	SELECT InvcNum, RecType, CurrencyId, MIN(TransDate) --oldest date per invoice
	FROM #AppliedPaymentSummary
	GROUP BY [InvcNum], [RecType], [CurrencyId]
	HAVING SUM([AmountDueFgn]) <> 0 --outstanding balance/credit

	--return the list of aggregate invoice entries
	--	use oldest dated entry for secondary values when aggregating data
	SELECT CAST(0 AS bit) AS [Pay]
			, l.[TransDate] AS [InvoiceDate]
			, l.[RecType] AS [InvoiceType]
			, l.[InvcNum] AS [InvoiceNumber]
			, MIN(Case When l.[TransDate] = i.[TransDate] Then i.[DiscDueDate] Else NULL End) AS [DiscountDate] --use discduedate from oldest entry
			, MIN(Case When l.[TransDate] = i.[TransDate] Then i.[CustPONum] Else NULL End) AS [CustPONum] --use custponum from oldest entry
			, SUM(i.[AmountDue]) AS [AmountDue]
			, SUM(i.[AmountDueFgn]) AS [AmountDueFgn]
			, SUM(i.[DiscountAllowed]) AS [DiscountAllowed]
			, SUM(i.[DiscountAllowedFgn]) AS [DiscountAllowedFgn]
			, CAST(0 AS decimal(28, 10)) AS [PaymentAmount]
			, CAST(0 AS decimal(28, 10)) AS [Discount]
			, l.[CurrencyId]
	FROM #InvoiceTotal l
	Inner Join #AppliedPaymentSummary i ON l.[InvcNum] = i.[InvcNum] 
		AND l.[RecType] = i.[RecType] 
		AND l.[CurrencyId] = i.[CurrencyId]
	GROUP BY l.[InvcNum], l.[RecType], l.[CurrencyId], l.[TransDate]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArExtPmtInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArExtPmtInvoice_proc'
GO
