USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArAnalysisReport_proc]

@GlPeriod smallint,
@FiscalYear smallint,
@CurPdDays smallint,
@PeriodsPerYr smallint

AS
SET NOCOUNT ON 
BEGIN TRY

            DECLARE @CompId nvarchar(3), @curPeriods cursor, @tmpPeriod smallint, @tmpYear smallint, @tmpDays smallint
      DECLARE @PdId smallint, @Rcount smallint -- 1=current/2=current - 1/3=current - 2/4=Last year

      --build temp tables for gathering results
      CREATE TABLE #HistAging
        (
            PdId smallint DEFAULT 0, FiscalYear smallint DEFAULT 0, GlPeriod smallint DEFAULT 0, Days smallint DEFAULT 0,
            CustId [nvarchar](10) NULL, UnapplCredit [decimal](28,10) NOT NULL DEFAULT 0, CurAmtDue [decimal](28,10) NOT NULL DEFAULT 0,
            BalAge1 [decimal](28,10) NOT NULL DEFAULT 0, BalAge2 [decimal](28,10) NOT NULL DEFAULT 0, BalAge3 [decimal](28,10) NOT NULL DEFAULT 0, BalAge4 [decimal](28,10) NOT NULL DEFAULT 0
        )

      CREATE TABLE #Results
        (
            PdTotSales [decimal](28,10) NOT NULL DEFAULT 0, PdTotCogs [decimal](28,10) NOT NULL DEFAULT 0, PdNumInvc int DEFAULT 0, PdTotDisc [decimal](28,10) NOT NULL DEFAULT 0, PdNumPmt int DEFAULT 0, 
            PdTotDaysToPay int DEFAULT 0, PdUnpaidFinch [decimal](28,10) NOT NULL DEFAULT 0, PdCurAmtDue [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge1 [decimal](28,10) NOT NULL DEFAULT 0,
            PdBalAge2 [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge3 [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge4 [decimal](28,10) NOT NULL DEFAULT 0, PdDays smallint DEFAULT 0, SumPdCur1 [decimal](28,10) NOT NULL DEFAULT 0, 
			Outstanding1 [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge1Total [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge2Total [decimal](28,10) NOT NULL DEFAULT 0, PdBalAge3Total [decimal](28,10) NOT NULL DEFAULT 0,
			PdCurAmtDue1 [decimal](28,10) NOT NULL DEFAULT 0, PdCurAmtDue2 [decimal](28,10) NOT NULL DEFAULT 0, PdCurAmtDueOver90 [decimal](28,10) NOT NULL DEFAULT 0, PdCurAmtDueOver120 [decimal](28,10) NOT NULL DEFAULT 0,
			PdInvoices [decimal](28,10) NOT NULL DEFAULT 0, PdDaysToPay [decimal](28,10) NOT NULL DEFAULT 0, PdDaysOutstanding [decimal](28,10) NOT NULL DEFAULT 0, 

            PdPriorTotSales [decimal](28,10) NOT NULL DEFAULT 0, PdPriorTotCogs [decimal](28,10) NOT NULL DEFAULT 0, PdPriorNumInvc int DEFAULT 0, PdPriorTotDisc [decimal](28,10) NOT NULL DEFAULT 0, 
            PdPriorNumPmt int DEFAULT 0, PdPriorTotDaysToPay int DEFAULT 0, PdPriorUnpaidFinch [decimal](28,10) NOT NULL DEFAULT 0, PdPriorCurAmtDue [decimal](28,10) NOT NULL DEFAULT 0,
            PdPriorBalAge1 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorBalAge2 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorBalAge3 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorBalAge4 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorDays smallint DEFAULT 0,
			SumPdCur3 [decimal](28,10) NOT NULL DEFAULT 0, Outstanding3 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorBalAge1Total [decimal](28,10) NOT NULL DEFAULT 0, PdPriorBalAge2Total [decimal](28,10) NOT NULL DEFAULT 0,
			PdPriorBalAge3Total [decimal](28,10) NOT NULL DEFAULT 0, PdPriorCurAmtDue1 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorCurAmtDue2 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorCurAmtDueOver90 [decimal](28,10) NOT NULL DEFAULT 0, PdPriorCurAmtDueOver120 [decimal](28,10) NOT NULL DEFAULT 0,
			PdPriorInvoices [decimal](28,10) NOT NULL DEFAULT 0, PdPriorDaysToPay [decimal](28,10) NOT NULL DEFAULT 0, PdPriorDaysOutstanding [decimal](28,10) NOT NULL DEFAULT 0, PdPriorInvoicesPct [decimal](28,10) NOT NULL DEFAULT 0, 
			PdPriorDaysToPayPct [decimal](28,10) NOT NULL DEFAULT 0, PdPriorDaysOutstandingPct [decimal](28,10) NOT NULL DEFAULT 0, PdPriorNumInvcPct [decimal](28,10) NOT NULL DEFAULT 0, PdPriorNumPmtPct [decimal](28,10) NOT NULL DEFAULT 0,

            PdLyTotSales [decimal](28,10) NOT NULL DEFAULT 0, PdLyTotCogs [decimal](28,10) NOT NULL DEFAULT 0, PdLyNumInvc int DEFAULT 0, PdLyTotDisc [decimal](28,10) NOT NULL DEFAULT 0,  PdLyNumPmt int DEFAULT 0, 
            PdLyTotDaysToPay int DEFAULT 0, PdLyUnpaidFinch [decimal](28,10) NOT NULL DEFAULT 0, PdLyCurAmtDue [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge1 [decimal](28,10) NOT NULL DEFAULT 0,
            PdLyBalAge2 [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge3 [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge4 [decimal](28,10) NOT NULL DEFAULT 0, PdLyDays smallint DEFAULT 0, SumPdCur4 [decimal](28,10) NOT NULL DEFAULT 0,
			Outstanding4 [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge1Total [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge2Total [decimal](28,10) NOT NULL DEFAULT 0, PdLyBalAge3Total [decimal](28,10) NOT NULL DEFAULT 0,
			PdLyCurAmtDue1 [decimal](28,10) NOT NULL DEFAULT 0, PdLyCurAmtDue2 [decimal](28,10) NOT NULL DEFAULT 0, PdLyCurAmtDueOver90 [decimal](28,10) NOT NULL DEFAULT 0, PdLyCurAmtDueOver120 [decimal](28,10) NOT NULL DEFAULT 0,
			PdLyInvoices [decimal](28,10) NOT NULL DEFAULT 0, PdLyDaysToPay [decimal](28,10) NOT NULL DEFAULT 0, PdLyDaysOutstanding [decimal](28,10) NOT NULL DEFAULT 0, PdLyInvoicesPct [decimal](28,10) NOT NULL DEFAULT 0, 
			PdLyDaysToPayPct [decimal](28,10) NOT NULL DEFAULT 0, PdLyDaysOutstandingPct [decimal](28,10) NOT NULL DEFAULT 0, PdLyNumInvcPct [decimal](28,10) NOT NULL DEFAULT 0, PdLyNumPmtPct [decimal](28,10) NOT NULL DEFAULT 0,

            PdAvgTotSales [decimal](28,10) NOT NULL DEFAULT 0, PdAvgTotCogs [decimal](28,10) NOT NULL DEFAULT 0, PdAvgNumInvc int DEFAULT 0, PdAvgTotDisc [decimal](28,10) NOT NULL DEFAULT 0, PdAvgNumPmt int DEFAULT 0, 
            PdAvgTotDaysToPay int DEFAULT 0, PdAvgUnpaidFinch [decimal](28,10) NOT NULL DEFAULT 0, PdAvgCurAmtDue [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge1 [decimal](28,10) NOT NULL DEFAULT 0,
            PdAvgBalAge2 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge3 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge4 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgDays smallint DEFAULT 0, SumPdCur2 [decimal](28,10) NOT NULL DEFAULT 0,
			Outstanding2 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge1Total [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge2Total [decimal](28,10) NOT NULL DEFAULT 0, PdAvgBalAge3Total [decimal](28,10) NOT NULL DEFAULT 0,
			PdAvgCurAmtDue1 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgCurAmtDue2 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgCurAmtDueOver90 [decimal](28,10) NOT NULL DEFAULT 0, PdAvgCurAmtDueOver120 [decimal](28,10) NOT NULL DEFAULT 0,
			PdAvgInvoices [decimal](28,10) NOT NULL DEFAULT 0, PdAvgDaysToPay [decimal](28,10) NOT NULL DEFAULT 0, PdAvgDaysOutstanding [decimal](28,10) NOT NULL DEFAULT 0, PdAvgInvoicesPct [decimal](28,10) NOT NULL DEFAULT 0, 
			PdAvgDaysToPayPct [decimal](28,10) NOT NULL DEFAULT 0, PdAvgDaysOutstandingPct [decimal](28,10) NOT NULL DEFAULT 0, PdAvgNumInvcPct [decimal](28,10) NOT NULL DEFAULT 0, PdAvgNumPmtPct [decimal](28,10) NOT NULL DEFAULT 0
		)

      --capture the company id
      SELECT @CompId = DB_Name()

      --capture the 'current year' three periods to work with
      --    Use a cursor to loop through periods to call qryArHistoryAging - inserting results into work table
      SET @curPeriods = CURSOR STATIC FOR 
            SELECT TOP 3 GlYear, GlPeriod, DATEDIFF(DAY, BegDate, EndDate) + 1 [Days] FROM dbo.tblSmPeriodConversion 
                  WHERE (((GlPeriod <= @GlPeriod) AND (GlYear = @FiscalYear)) OR (GlYear < @FiscalYear))AND GlPeriod <= @PeriodsPerYr
                  ORDER BY GlYear DESC, GlPeriod DESC

            --initialize counter to track the periods
            SET @PdId = 1
            OPEN  @curPeriods
            IF @@Cursor_Rows <> 0
            BEGIN
                  FETCH NEXT FROM @curPeriods   INTO @tmpYear, @tmpPeriod, @tmpDays
                  WHILE (@@FETCH_STATUS = 0)
                  BEGIN
                        --get historical aging for given period and year
                        EXEC dbo.trav_ArHistoryAging_proc @tmpYear, @tmpPeriod, NULL, NULL

                        IF EXISTS(SELECT * FROM #HistAging WHERE PdId = 0)
                        BEGIN
                              --update the PdId for the created record
                              UPDATE #HistAging 
                                    SET PdId = @PdId, FiscalYear = @tmpYear, GlPeriod = @tmpPeriod, [Days] = CASE WHEN @PdId = 1 THEN @CurPdDays ELSE @tmpDays END
                              WHERE PdId = 0                
                        END
                        ELSE
                        BEGIN
                              --add a record if none created
                              INSERT INTO #HistAging (PdId, FiscalYear, GlPeriod, [Days]) VALUES ( @PdId, @tmpYear, @tmpPeriod, CASE WHEN @PdId = 1 THEN @CurPdDays ELSE @tmpDays END )
                        END

                        --increment the PdId tracking variable
                        SELECT @PdId = @PdId + 1
                        FETCH NEXT FROM @curPeriods   INTO @tmpYear, @tmpPeriod, @tmpDays
                  END

                  CLOSE @curPeriods
            END
            DEALLOCATE @curPeriods

      --capture the 'last year' period to work with - get historical aging for given last year
      --    Use @GlPeriod and @FiscalYear - 1 for last year values
      SELECT @tmpYear = @FiscalYear - 1
      EXEC dbo.trav_ArHistoryAging_proc @tmpYear, @GlPeriod, NULL, NULL

      IF EXISTS(SELECT * FROM #HistAging WHERE PdId = 0)
      BEGIN
            --update the PdId for the created record
            UPDATE #HistAging
                  SET PdId = 4, FiscalYear = @tmpYear, GlPeriod = @GlPeriod, [Days] = (SELECT DATEDIFF(DAY, BegDate, EndDate) + 1 [Days] FROM dbo.tblSmPeriodConversion 
                        WHERE GlPeriod = @GlPeriod AND GlYear = @tmpYear)
            WHERE PdId = 0
      END
      ELSE
      BEGIN
            --add a record if none created
            INSERT INTO #HistAging (PdId, FiscalYear, GlPeriod, [Days]) VALUES (@PdId, @tmpYear, @tmpPeriod, CASE WHEN @PdId = 1 THEN @CurPdDays ELSE @tmpDays END)
      END

      --pet 43228 - include UnapplCredit in BalAge4
      UPDATE #HistAging SET BalAge4 = ISNULL(BalAge4, 0) + ISNULL(UnapplCredit, 0)

      --build the calculatd results for the report
      --Current period (initial insert)
      INSERT INTO #Results(PdCurAmtDue, PdBalAge1, PdBalAge2, PdBalAge3, PdBalAge4, PdDays, SumPdCur1, PdBalAge1Total, PdBalAge2Total, PdBalAge3Total)
            SELECT ISNULL(a.CurAmtDue, 0), ISNULL(a.BalAge1, 0), ISNULL(a.BalAge2, 0), ISNULL(a.BalAge3, 0), ISNULL(a.BalAge4, 0), ISNULL(a.[Days], 0),
			ISNULL(a.CurAmtDue, 0) + ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0)
            FROM #HistAging a WHERE a.PdId = 1

      --update from histheader
      UPDATE #Results SET PdTotSales = ISNULL(h.TotSales, 0), PdTotCogs = ISNULL(h.TotCogs, 0), PdNumInvc = ISNULL(h.NumInvc, 0)
            FROM (SELECT SUM(SIGN(TransType)*(TaxSubtotal + NonTaxSubtotal)) TotSales,
                  SUM(SIGN(TransType)* TotCost) TotCogs, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) NumInvc
            FROM dbo.tblArHistHeader dh INNER JOIN #HistAging t   ON dh.FiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
            WHERE t.PdID=1 AND VoidYn = 0) H

      --update from pmthist
      UPDATE #Results SET PdTotDisc = ISNULL(h.TotDisc, 0), PdNumPmt = ISNULL(h.NumPmt, 0), PdTotDaysToPay = ISNULL(h.TotDaysToPay, 0)
            FROM (SELECT SUM(TotDisc) TotDisc, SUM(NUmPmt) NumPmt, SUM(TotDaysToPay) TotDaysToPay
                  FROM 
				  (SELECT p.CustId, p.FiscalYear, p.SumHistPeriod    --dody  
					  , CAST(SUM(p.PmtAmt) AS float) TotPmts  
					  , CAST(SUM(p.DiffDisc) AS float) TotDisc   
					  , CAST(SUM(CASE WHEN p.PmtAmt > 0 THEN 1 ELSE 0 END) AS int) NumPmt  
					  , CAST(SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END) AS int) TotDaysToPay  
					  FROM dbo.tblArHistPmt p   
					  LEFT JOIN (SELECT CustId, InvcNum, MAX(InvcDate) invcdate FROM dbo.tblArHistHeader WHERE TransType = 1  
					   GROUP BY Custid,InvcNum) h ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum  
					  INNER JOIN dbo.tblArCust c on c.Custid=p.CustID  
					 WHERE C.CcCompYn = 0  
					 GROUP BY p.CustId, p.FiscalYear, p.SumHistPeriod) sc
				  INNER JOIN #HistAging t ON sc.FiscalYear = t.FiscalYear AND sc.SumHistPeriod = t.GlPeriod
                  WHERE t.PdID=1 GROUP BY sc.FiscalYear, sc.SumHistPeriod) H

      --update from histFinch
      UPDATE #Results SET PdUnpaidFinch = ISNULL(h.TotFinchAmt, 0)
            FROM (SELECT SUM(FinchAmt) TotFinchAmt
                  FROM dbo.tblArHistFinch dh inner join #HistAging t ON dh.fiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=1) H

	  UPDATE #Results SET Outstanding1 = (CASE WHEN PdTotSales*PdDays=0 THEN 0 ELSE (PdCurAmtDue + PdBalAge1 + PdBalAge2 + PdBalAge3 + PdBalAge4 + PdUnpaidFinch)/(PdTotSales / PdDays)END),
		PdCurAmtDue1 =  (CASE WHEN SumPdCur1=0 THEN 0 ELSE PdBalAge1Total/SumPdCur1*100 END), PdCurAmtDue2 =(CASE WHEN SumPdCur1=0 THEN 0 ELSE PdBalAge2Total/SumPdCur1*100 END), PdCurAmtDueOver90 = (CASE WHEN SumPdCur1=0 THEN 0 ELSE PdBalAge3Total/SumPdCur1*100 END), PdCurAmtDueOver120 = (CASE WHEN SumPdCur1=0 THEN 0 ELSE PdBalAge4/SumPdCur1*100 END),
		PdInvoices = (CASE WHEN PdNumInvc=0 THEN 0 ELSE PdTotSales/PdNumInvc END), PdDaysToPay = (CASE WHEN PdNumPmt=0 THEN 0 ELSE PdTotDaysToPay/PdNumPmt END), PdDaysOutstanding = (CASE WHEN PdTotSales=0 OR PdDays=0 THEN 0 ELSE SumPdCur1/(PdTotSales/PdDays)END)
        

	  --Prior Period
      UPDATE #Results SET PdPriorCurAmtDue = ISNULL(a.CurAmtDue, 0), PdPriorBalAge1 = ISNULL(a.BalAge1, 0), PdPriorBalAge2 = ISNULL(a.BalAge2, 0),
             PdPriorBalAge3 = ISNULL(a.BalAge3, 0), PdPriorBalAge4 = ISNULL(a.BalAge4, 0), PdPriorDays = ISNULL(a.[Days], 0),
			 SumPdCur3 = ISNULL(a.CurAmtDue, 0) + ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			 PdPriorBalAge1Total = ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			 PdPriorBalAge2Total = ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			 PdPriorBalAge3Total = ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0)
            FROM #HistAging a 
            WHERE a.PdId = 2

      UPDATE #Results SET PdPriorTotSales = ISNULL(h.TotSales, 0), PdPriorTotCogs = ISNULL(h.TotCogs, 0), PdPriorNumInvc = ISNULL(h.NumInvc, 0)
            FROM (SELECT SUM(SIGN(TransType)*(TaxSubtotal + NonTaxSubtotal)) TotSales,
              SUM(SIGN(TransType)*TotCost) TotCogs, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) NumInvc
                  FROM dbo.tblArHistHeader dh inner join #HistAging t ON dh.FiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=2 AND VoidYn = 0) H

      UPDATE #Results SET PdPriorTotDisc = ISNULL(h.TotDisc, 0), PdPriorNumPmt = ISNULL(h.NumPmt, 0), PdPriorTotDaysToPay = ISNULL(h.TotDaysToPay, 0)
            FROM (SELECT SUM(TotDisc) TotDisc, SUM(NUmPmt) NumPmt, SUM(TotDaysToPay) TotDaysToPay
                  FROM 
				  (SELECT p.CustId, p.FiscalYear, p.SumHistPeriod    --dody  
					  , CAST(SUM(p.PmtAmt) AS float) TotPmts  
					  , CAST(SUM(p.DiffDisc) AS float) TotDisc   
					  , CAST(SUM(CASE WHEN p.PmtAmt > 0 THEN 1 ELSE 0 END) AS int) NumPmt  
					  , CAST(SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END) AS int) TotDaysToPay  
					  FROM dbo.tblArHistPmt p   
					  LEFT JOIN (SELECT CustId, InvcNum, MAX(InvcDate) invcdate FROM dbo.tblArHistHeader WHERE TransType = 1  
					   GROUP BY Custid,InvcNum) h ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum  
					  INNER JOIN dbo.tblArCust c on c.Custid=p.CustID  
					 WHERE C.CcCompYn = 0  
					 GROUP BY p.CustId, p.FiscalYear, p.SumHistPeriod) sc
					  
                  INNER JOIN #HistAging t ON sc.FiscalYear = t.FiscalYear AND sc.SumHistPeriod = t.GlPeriod
                  WHERE t.PdID=2 GROUP BY sc.FiscalYear, sc.SumHistPeriod) H

      UPDATE #Results SET PdPriorUnpaidFinch = ISNULL(h.TotFinchAmt, 0)
            FROM (SELECT SUM(FinchAmt) TotFinchAmt
                  FROM dbo.tblArHistFinch dh INNER JOIN #HistAging t ON dh.fiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=2) H
	  UPDATE #Results SET Outstanding3 = (CASE WHEN PdPriorTotSales*PdPriorDays=0 THEN 0 ELSE (PdPriorCurAmtDue + PdPriorBalAge1 + PdPriorBalAge2 + PdPriorBalAge3 + PdPriorBalAge4 + PdPriorUnpaidFinch)/(CASE WHEN PdPriorTotSales = 0 THEN 1 ELSE PdPriorTotSales END / CASE WHEN PdPriorDays = 0 THEN 1 ELSE PdPriorDays END)END), 
	  PdPriorCurAmtDue1 =  (CASE WHEN SumPdCur3=0 THEN 0 ELSE PdPriorBalAge1Total/SumPdCur3*100 END), 
	  PdPriorCurAmtDue2 = (CASE WHEN SumPdCur3=0 THEN 0 ELSE PdPriorBalAge2Total/SumPdCur3*100 END), 
	  PdPriorCurAmtDueOver90 = (CASE WHEN SumPdCur3=0 THEN 0 ELSE PdPriorBalAge3Total/SumPdCur3*100 END), 
	  PdPriorCurAmtDueOver120 = (CASE WHEN SumPdCur3=0 THEN 0 ELSE PdPriorBalAge4/SumPdCur3*100 END),
	  PdPriorInvoices =  (CASE WHEN PdPriorNumInvc=0 THEN 0 ELSE PdPriorTotSales/PdPriorNumInvc END), 
	  PdPriorDaysToPay =  (CASE WHEN PdPriorNumPmt=0 THEN 0 ELSE PdPriorTotDaysToPay/PdPriorNumPmt END), 
	  PdPriorDaysOutstanding = (CASE WHEN PdPriorTotSales=0 OR PdPriorDays=0 THEN 0 ELSE SumPdCur3/(PdPriorTotSales/PdPriorDays)END),
	  PdPriorInvoicesPct= (CASE WHEN PdPriorNumInvc=0 OR PdNumInvc=0 OR PdTotSales/PdNumInvc = 0 THEN 0 ELSE CASE WHEN (PdPriorTotSales/PdPriorNumInvc) = 0 THEN 1 ELSE (PdPriorTotSales/PdPriorNumInvc) END/(PdTotSales/PdNumInvc)*100 END),
	  PdPriorDaysToPayPct = (CASE WHEN PdPriorNumPmt=0 OR PdNumPmt=0 OR PdTotDaysToPay/PdNumPmt=0 THEN 0 ELSE CASE WHEN (PdPriorTotDaysToPay/PdPriorNumPmt) = 0 THEN 1 ELSE (PdPriorTotDaysToPay/PdPriorNumPmt) END/(PdTotDaysToPay/PdNumPmt)*100 END), 
	  PdPriorDaysOutstandingPct = (CASE WHEN SumPdCur1=0 OR PdDays=0 OR PdTotSales*PdDays = 0 OR PdPriorTotSales + PdPriorUnpaidFinch = 0 THEN 0 ELSE (SumPdCur3/(CASE WHEN PdPriorTotSales = 0 THEN 1 ELSE PdPriorTotSales END/CASE WHEN PdPriorDays = 0 THEN 1 ELSE PdPriorDays END))/(SumPdCur1/(PdTotSales/PdDays))*100 END),
	  PdPriorNumInvcPct =  (CASE WHEN PdNumInvc=0 THEN 0 ELSE CONVERT(DECIMAL,PdPriorNumInvc)/CONVERT(DECIMAL,PdNumInvc)*100 END),
	  PdPriorNumPmtPct = (CASE WHEN PdNumPmt=0 THEN 0 ELSE CONVERT(DECIMAL,PdPriorNumPmt)/CONVERT(DECIMAL,PdNumPmt)*100 END)

      --Last Year Current Period
      UPDATE #Results SET PdLyCurAmtDue = ISNULL(a.CurAmtDue, 0), PdLyBalAge1 = ISNULL(a.BalAge1, 0), PdLyBalAge2 = ISNULL(a.BalAge2, 0),
              PdLyBalAge3 = ISNULL(a.BalAge3, 0), PdLyBalAge4 = ISNULL(a.BalAge4, 0), PdLyDays = ISNULL(a.[Days], 0),
			  SumPdCur4 = ISNULL(a.CurAmtDue, 0) + ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			  PdLyBalAge1Total = ISNULL(a.BalAge1, 0) + ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			  PdLyBalAge2Total = ISNULL(a.BalAge2, 0) + ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0),
			  PdLyBalAge3Total = ISNULL(a.BalAge3, 0) + ISNULL(a.BalAge4, 0)
            FROM #HistAging a
            WHERE a.PdId = 4

      UPDATE #Results SET PdLyTotSales = ISNULL(h.TotSales, 0), PdLyTotCogs = ISNULL(h.TotCogs, 0), PdLyNumInvc = ISNULL(h.NumInvc, 0)
            FROM (SELECT SUM(SIGN(TransType)*(TaxSubtotal + NonTaxSubtotal)) TotSales,
              SUM(SIGN(TransType)* TotCost) TotCogs, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) NumInvc
                  FROM dbo.tblArHistHeader dh INNER JOIN #HistAging t ON dh.FiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=4 AND VoidYn = 0) H

      UPDATE #Results SET PdLyTotDisc = ISNULL(h.TotDisc, 0), PdLyNumPmt = ISNULL(h.NumPmt, 0), PdLyTotDaysToPay = ISNULL(h.TotDaysToPay, 0)
            FROM (SELECT SUM(TotDisc) TotDisc, SUM(NUmPmt) NumPmt, SUM(TotDaysToPay) TotDaysToPay
                  FROM 
				  (SELECT p.CustId, p.FiscalYear, p.SumHistPeriod    --dody  
					  , CAST(SUM(p.PmtAmt) AS float) TotPmts  
					  , CAST(SUM(p.DiffDisc) AS float) TotDisc   
					  , CAST(SUM(CASE WHEN p.PmtAmt > 0 THEN 1 ELSE 0 END) AS int) NumPmt  
					  , CAST(SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END) AS int) TotDaysToPay  
					  FROM dbo.tblArHistPmt p   
					  LEFT JOIN (SELECT CustId, InvcNum, MAX(InvcDate) invcdate FROM dbo.tblArHistHeader WHERE TransType = 1  
					   GROUP BY Custid,InvcNum) h ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum  
					  INNER JOIN dbo.tblArCust c on c.Custid=p.CustID  
					 WHERE C.CcCompYn = 0  
					 GROUP BY p.CustId, p.FiscalYear, p.SumHistPeriod) sc
                  INNER JOIN #HistAging t ON sc.FiscalYear = t.FiscalYear AND sc.SumHistPeriod = t.GlPeriod
                  WHERE t.PdID=4 GROUP BY sc.FiscalYear, sc.SumHistPeriod) H

      UPDATE #Results SET PdLyUnpaidFinch = ISNULL(h.TotFinchAmt, 0)
            FROM (SELECT SUM(FinchAmt) TotFinchAmt
                  FROM dbo.tblArHistFinch dh INNER JOIN #HistAging t ON dh.fiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=4) H
		
	  UPDATE #Results SET Outstanding4 = (CASE WHEN PdLyTotSales=0 OR PdLyDays=0 THEN 0 ELSE (PdLyCurAmtDue + PdLyBalAge1 + PdLyBalAge2 + PdLyBalAge3 + PdLyBalAge4 + PdLyUnpaidFinch)/(CASE WHEN PdLyTotSales = 0 THEN 1 ELSE PdLyTotSales END / CASE WHEN PdLyDays = 0 THEN 1 ELSE PdLyDays END)END), 
	  PdLyCurAmtDue1 = (CASE WHEN SumPdCur4=0 THEN 0 ELSE PdLyBalAge1Total/SumPdCur4*100 END), PdLyCurAmtDue2 = (CASE WHEN SumPdCur4=0 THEN  0 ELSE PdLyBalAge2Total/SumPdCur4*100 END), PdLyCurAmtDueOver90 = (CASE WHEN SumPdCur4=0 THEN 0 ELSE PdLyBalAge3Total/SumPdCur4*100 END), PdLyCurAmtDueOver120 = (CASE WHEN SumPdCur4=0 THEN 0 ELSE PdLyBalAge4/SumPdCur4*100 END),
	  PdLyInvoices = (CASE WHEN PdLyNumInvc=0 THEN 0 ELSE PdLyTotSales/PdLyNumInvc END), PdLyDaysToPay = (CASE WHEN PdLyNumPmt=0 THEN 0 ELSE PdLyTotDaysToPay/PdLyNumPmt END), PdLyDaysOutstanding = (CASE WHEN PdLyTotSales=0 OR PdLyDays=0 THEN 0 ELSE SumPdCur4/(PdLyTotSales/PdLyDays) END),
	  PdLyInvoicesPct=  (CASE WHEN PdLyNumInvc=0 OR PdNumInvc=0 OR PdTotSales/PdNumInvc = 0 THEN 0 ELSE (PdLyTotSales/PdLyNumInvc)/(PdTotSales/PdNumInvc)*100 END),
	  PdLyDaysToPayPct = (CASE WHEN PdLyNumPmt=0 OR PdNumPmt=0 OR PdTotDaysToPay/PdNumPmt=0 THEN 0 ELSE (PdLyTotDaysToPay/PdLyNumPmt)/(PdTotDaysToPay/PdNumPmt)*100 END), 
	  PdLyDaysOutstandingPct = (CASE WHEN SumPdCur1=0 OR PdDays=0 OR PdTotSales/PdDays = 0 OR PdLyTotSales + PdLyUnpaidFinch = 0 THEN 0 ELSE (SumPdCur4/(CASE WHEN PdLyTotSales = 0 THEN 1 ELSE PdLyTotSales END/CASE WHEN PdLyDays = 0 THEN 1 ELSE PdLyDays END))/(SumPdCur1/(PdTotSales/PdDays))*100 END),
	  PdLyNumInvcPct = (CASE WHEN PdNumInvc=0 THEN 0 ELSE CONVERT(DECIMAL,PdLyNumInvc)/CONVERT(DECIMAL,PdNumInvc)*100 END),
	  PdLyNumPmtPct = (CASE WHEN PdNumPmt=0 THEN 0 ELSE CONVERT(DECIMAL,PdLyNumPmt)/CONVERT(DECIMAL,PdNumPmt)*100 END)

      --3 period average (current / -1 / -2) --protect against division by zero
      IF ISNULL((SELECT PdDays + PdPriorDays + (SELECT Days FROM #HistAging WHERE PdId = 3) FROM #Results), 0) > 0 
      BEGIN
            SELECT @tmpDays = Days FROM #HistAging WHERE PdId = 3

            UPDATE #Results SET PdAvgCurAmtDue = ISNULL((((PdCurAmtDue * PdDays) + (PdPriorCurAmtDue * PdPriorDays) + (a.CurAmtDue * a.[Days])) / (PdDays + PdPriorDays + a.[Days])), 0)
            , PdAvgBalAge1 = ISNULL((((PdBalAge1 * PdDays) + (PdPriorBalAge1 * PdPriorDays) + (a.BalAge1 * a.[Days])) / (PdDays + PdPriorDays + a.[Days])), 0)
            , PdAvgBalAge2 = ISNULL((((PdBalAge2 * PdDays) + (PdPriorBalAge2 * PdPriorDays) + (a.BalAge2 * a.[Days])) / (PdDays + PdPriorDays + a.[Days])), 0)
            , PdAvgBalAge3 = ISNULL((((PdBalAge3 * PdDays) + (PdPriorBalAge3 * PdPriorDays) + (a.BalAge3 * a.[Days])) / (PdDays + PdPriorDays + a.[Days])), 0)
            , PdAvgBalAge4 = ISNULL((((PdBalAge4 * PdDays) + (PdPriorBalAge4 * PdPriorDays) + (a.BalAge4 * a.[Days])) / (PdDays + PdPriorDays + a.[Days])), 0)
            , PdAvgDays = ISNULL((PdDays + PdPriorDays + a.[Days]) / 3, 0)
            FROM #HistAging a WHERE a.PdId = 3

			UPDATE #Results SET SumPdCur2 = ISNULL(PdAvgCurAmtDue, 0) + ISNULL(PdAvgBalAge1, 0) + ISNULL(PdAvgBalAge2, 0) + ISNULL(PdAvgBalAge3, 0) + ISNULL(PdAvgBalAge4, 0),
			  PdAvgBalAge1Total = ISNULL(PdAvgBalAge1, 0) + ISNULL(PdAvgBalAge2, 0) + ISNULL(PdAvgBalAge3, 0) + ISNULL(PdAvgBalAge4, 0),
			  PdAvgBalAge2Total = ISNULL(PdAvgBalAge2, 0) + ISNULL(PdAvgBalAge3, 0) + ISNULL(PdAvgBalAge4, 0),
			  PdAvgBalAge3Total = ISNULL(PdAvgBalAge3, 0) + ISNULL(PdLyBalAge4, 0)
			

            UPDATE #Results SET PdAvgTotSales = ISNULL((((PdTotSales * PdDays) + (PdPriorTotSales * PdPriorDays) + (h.TotSales * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            , PdAvgTotCogs = ISNULL((((PdTotCogs * PdDays) + (PdPriorTotCogs * PdPriorDays) + (h.TotCogs * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            , PdAvgNumInvc = ISNULL((((PdNumInvc * PdDays) + (PdPriorNumInvc * PdPriorDays) + (h.NumInvc * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            FROM (SELECT SUM(SIGN(TransType)*(TaxSubtotal + NonTaxSubtotal)) TotSales, SUM(SIGN(TransType)* TotCost) TotCogs,
                    SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END) NumInvc
                  FROM dbo.tblArHistHeader dh INNER JOIN #HistAging t ON dh.FiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                  WHERE t.PdID=3 AND VoidYn = 0) H
            
            UPDATE #Results SET PdAvgTotDisc = ISNULL((((PdTotDisc * PdDays) + (PdPriorTotDisc * PdPriorDays) + (h.TotDisc * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            , PdAvgNumPmt = ISNULL((((PdNumPmt * PdDays) + (PdPriorNumPmt * PdPriorDays) + (h.NumPmt * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            , PdAvgTotDaysToPay = ISNULL((((PdTotDaysToPay * PdDays) + (PdPriorTotDaysToPay * PdPriorDays) + (h.TotDaysToPay * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            FROM (SELECT SUM(TotDisc) TotDisc, SUM(NUmPmt) NumPmt, SUM(TotDaysToPay) TotDaysToPay
                        FROM 
						(SELECT p.CustId, p.FiscalYear, p.SumHistPeriod    --dody  
					  , CAST(SUM(p.PmtAmt) AS float) TotPmts  
					  , CAST(SUM(p.DiffDisc) AS float) TotDisc   
					  , CAST(SUM(CASE WHEN p.PmtAmt > 0 THEN 1 ELSE 0 END) AS int) NumPmt  
					  , CAST(SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END) AS int) TotDaysToPay  
					  FROM dbo.tblArHistPmt p   
					  LEFT JOIN (SELECT CustId, InvcNum, MAX(InvcDate) invcdate FROM dbo.tblArHistHeader WHERE TransType = 1  
					   GROUP BY Custid,InvcNum) h ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum  
					  INNER JOIN dbo.tblArCust c on c.Custid=p.CustID  
					 WHERE C.CcCompYn = 0  
					 GROUP BY p.CustId, p.FiscalYear, p.SumHistPeriod) sc
                        INNER JOIN #HistAging t ON sc.FiscalYear = t.FiscalYear AND sc.SumHistPeriod = t.GlPeriod
                        WHERE t.PdID=3 GROUP BY sc.FiscalYear, sc.SumHistPeriod) H
            
            UPDATE #Results SET PdAvgUnpaidFinch = ISNULL((((PdUnpaidFinch * PdDays) + (PdPriorUnpaidFinch * PdPriorDays) + (h.TotFinchAmt * @tmpDays)) / (PdDays + PdPriorDays + @tmpDays)), 0)
            FROM (SELECT SUM(FinchAmt) TotFinchAmt
                        FROM dbo.tblArHistFinch dh INNER JOIN #HistAging t ON dh.fiscalYear = t.FiscalYear AND dh.GlPeriod = t.GlPeriod
                        WHERE t.PdID=3) H

			UPDATE #Results SET Outstanding2 = (CASE WHEN PdAvgTotSales*PdAvgDays=0 THEN 0 ELSE (PdAvgCurAmtDue + PdAvgBalAge1 + PdAvgBalAge2 + PdAvgBalAge3 + PdAvgBalAge4 + PdAvgUnpaidFinch)/(CASE WHEN PdAvgTotSales = 0 THEN 1 ELSE PdAvgTotSales END / CASE WHEN PdAvgDays = 0 THEN 1 ELSE PdAvgDays END)END), 
			PdAvgCurAmtDue1 = (CASE WHEN SumPdCur2=0 THEN  0 ELSE PdAvgBalAge1Total/SumPdCur2*100 END), PdAvgCurAmtDue2 = (CASE WHEN SumPdCur2=0 THEN 0 ELSE PdAvgBalAge2Total/SumPdCur2*100 END), PdAvgCurAmtDueOver90 = (CASE WHEN SumPdCur2=0 THEN 0 ELSE PdAvgBalAge3Total/SumPdCur2*100 END), PdAvgCurAmtDueOver120 = (CASE WHEN SumPdCur2=0 THEN 0 ELSE PdAvgBalAge4/SumPdCur2*100 END), 
			PdAvgInvoices =  (CASE WHEN PdAvgNumInvc=0 THEN 0 ELSE PdAvgTotSales/PdAvgNumInvc END), PdAvgDaysToPay =  (CASE WHEN PdAvgNumPmt=0 THEN 0 ELSE PdAvgTotDaysToPay/PdAvgNumPmt END), PdAvgDaysOutstanding = (CASE WHEN PdAvgTotSales=0 OR PdAvgDays=0 THEN  0 ELSE SumPdCur2/(PdAvgTotSales/PdAvgDays)END),
			PdAvgInvoicesPct=  (CASE WHEN PdAvgNumInvc=0 OR PdNumInvc=0 OR PdTotSales*PdNumInvc = 0 THEN 0 ELSE(PdAvgTotSales/PdAvgNumInvc)/(PdTotSales/PdNumInvc)*100 END),
			PdAvgDaysToPayPct =  (CASE WHEN PdAvgNumPmt=0 OR PdNumPmt=0 OR PdTotDaysToPay*PdNumPmt=0 THEN 0 ELSE(PdAvgTotDaysToPay/PdAvgNumPmt)/(PdTotDaysToPay/PdNumPmt)*100 END), 
			PdAvgDaysOutstandingPct =  (CASE WHEN SumPdCur1=0 OR PdDays=0 OR PdTotSales*PdDays = 0 OR PdAvgTotSales + PdAvgUnpaidFinch = 0  THEN 0 ELSE(SumPdCur2/(CASE WHEN PdAvgTotSales = 0 THEN 1 ELSE PdAvgTotSales END/CASE WHEN PdAvgDays = 0 THEN 1 ELSE PdAvgDays END))/(SumPdCur1/(PdTotSales/PdDays))*100 END),
			PdAvgNumInvcPct = (CASE WHEN PdNumInvc=0 THEN 0 ELSE CONVERT(DECIMAL,PdAvgNumInvc)/CONVERT(DECIMAL,PdNumInvc)*100 END),
			PdAvgNumPmtPct = (CASE WHEN PdNumPmt=0 THEN 0 ELSE CONVERT(DECIMAL,PdAvgNumPmt)/CONVERT(DECIMAL,PdNumPmt)*100 END)
	  END

      --return the single record resultset
      SELECT * FROM #Results 

END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArAnalysisReport_proc'
GO
