USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcGetFileOutbound_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcGetFileOutbound_proc]
	@PartnerId bigInt, 
	@DocId bigInt,
	@PostRun pPostRun,
	@MapId nvarchar(12) = '',
	@KeyValue nvarchar(50) = '',
	@FilePathOut nvarchar(255) OUT
AS
BEGIN TRY

SET NOCOUNT ON

	DECLARE 
		@PartnerName as nvarchar(50),
		@MailId  nvarchar(50),
		@FilePath as nvarchar(255) = '',
		@FilePathBusinessRule as nvarchar(255),
		@MapDescr as nvarchar(30),
		@MapType smallint,
		@DfltPrefix nvarchar(10),
		@DfltSuffix nvarchar(10),
		@Partner_ID nvarchar(12) = '',
		@Doc_ID nvarchar(6) = ''
	
	IF OBJECT_ID('tempDB..#GlobalValues') IS NOT NULL
	BEGIN
		SELECT @FilePathBusinessRule = ISNULL([Value], '') FROM #GlobalValues WHERE [Key] = 'BRFilePath'
		SELECT @DfltSuffix = ISNULL([Value], '') FROM #GlobalValues WHERE [Key] = 'Suffix'
		SELECT @DfltPrefix = ISNULL([Value], '') FROM #GlobalValues WHERE [Key] = 'Prefix'
	END

	--IF NULLIF(LTRIM(RTRIM(@FilePathBusinessRule)),'') IS NULL OR NULLIF(LTRIM(RTRIM(@DfltPrefix)),'') IS NULL OR NULLIF(LTRIM(RTRIM(@DfltSuffix)),'') IS NULL
	--BEGIN
	--	THROW 90025, N'Missing global value.', 1
	--END

	SELECT @Partner_ID = ISNULL(PartnerID, '') FROM dbo.tblEcPartner WHERE ID = @PartnerId
	SELECT @Doc_ID = ISNULL(DocId, '') FROM dbo.tblEcDocument WHERE ID = @DocId

	SELECT @FilePath = COALESCE(NULLIF(pd.DocFilePath,''), NULLIF(d.DocFilePath,'')),
		   @PartnerName = p.PartnerName,
		   @MailId = pd.MailID
	FROM dbo.tblEcPartner p
	INNER JOIN dbo.tblEcPartnerDoc pd ON p.ID = pd.PartnerID
	INNER JOIN dbo.tblEcDocument d ON pd.DocId = d.ID
	WHERE p.ID = @PartnerId AND d.ID = @DocId AND ISNULL(p.ActiveYn, 0) = 1 AND ISNULL(pd.ActiveYN, 0) = 1 AND ISNULL(d.ActiveYN, 0) = 1 AND ISNULL(d.DocDirection, 0) = 1
 
	IF ISNULL(@FilePath, '') = ''
	BEGIN
		IF RIGHT(@FilePathBusinessRule, 1) = '\'
		BEGIN
			SET @FilePath = @FilePathBusinessRule + @PostRun + '_' + @Doc_ID + @DfltSuffix
		END
		ELSE
		BEGIN 
			SET @FilePath = @FilePathBusinessRule
			IF CHARINDEX('.', @FilePath) = 0 
			BEGIN
				SET @FilePath = @FilePathBusinessRule + '\' + @DfltPrefix + @KeyValue + '_' + @PostRun + @DfltSuffix
			END
		END
	END

	IF ISNULL(@MapId, '' ) <> '' 
	BEGIN
		SELECT @MapDescr = MapDescr, 
			   @MapType = MapType 
		FROM dbo.tblEcMapHeader 
		WHERE MapId = @MapId
	END

	SELECT @PostRun = ISNULL(@PostRun, ''), 
		   @Doc_ID = ISNULL(@Doc_ID, ''),
		   @Partner_ID = ISNULL(@Partner_ID, ''),
		   @MailId = ISNULL(@MailId, ''),
		   @MapId = ISNULL(@MapId, ''),
		   @MapDescr = ISNULL(@MapDescr, ''),
		   @PartnerName = ISNULL(@PartnerName, '')

	SET @FilePath=REPLACE(@FilePath,'[POSTRUN]', @PostRun)
	SET @FilePath=REPLACE(@FilePath,'[DOCID]', @Doc_ID)
	SET @FilePath=REPLACE(@FilePath,'[PARTNERID]', @Partner_ID)
	SET @FilePath=REPLACE(@FilePath,'[MAILID]', @MailID)
	SET @FilePath=REPLACE(@FilePath,'[MAPID]', @MapId)
	SET @FilePath=REPLACE(@FilePath,'[MAPDESCR]', @MapDescr)
	SET @FilePath=REPLACE(@FilePath,'[PARTNERNAME]', @PartnerName)
	SET @FilePath=REPLACE(@FilePath,'[KEYVALUE]', @KeyValue)
	SET @FilePath=REPLACE(@FilePath,'[YYYY]', LEFT(@PostRun,4))
	SET @FilePath=REPLACE(@FilePath,'[MM]', SUBSTRING(@PostRun, 5, 2))
	SET @FilePath=REPLACE(@FilePath,'[DD]',SUBSTRING(@PostRun, 7, 2))
	SET @FilePath=REPLACE(@FilePath,'[YY]', SUBSTRING(@PostRun,3, 2))
	SET @FilePath=REPLACE(@FilePath,'[HH]', SUBSTRING(@PostRun,9, 2))
	SET @FilePath=REPLACE(@FilePath,'[SS]', RIGHT(@PostRun,2))

	SELECT @FilePathOut=@FilePath

END TRY

BEGIN CATCH
EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetFileOutbound_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetFileOutbound_proc'
GO
