USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpCostVariance_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpCostVariance_Proc]   
@SortBy tinyint = 0,  -- 0 = assembly - 1 = Order/release
@PrintExceptions bit  = 0,
@CriticalVar [decimal](28,10) ,
@RollupCostYn bit = 0, --option flag for "rolling up" the finished goods cost (needed if using standard costing)
@DateFrom datetime = null, --finish date from
@DateThru datetime = null, --finish date thru
@CompIdFrom nvarchar(24) = null, --component id from
@CompIdThru nvarchar(24) = null, --component id thru
@IncludeMaterials bit = 1,
@IncludeByproducts bit = 1,
@IncludeMachineLaborTime bit = 1,
@IncludeSubcontracted bit = 1,
@IncludeSubassemblies bit = 1
AS
SET NOCOUNT ON

BEGIN TRY

      CREATE TABLE #OrderInfo
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            SortBy [nvarchar](24) NULL,
            OrderNo [nvarchar](8) NULL,
            ReleaseNo int NULL,
            CustId [nvarchar](10) NULL,
            AssemblyId [nvarchar](24) NULL,
            DateCompleted datetime NULL,
            PlannedQty [decimal](28,10) NULL,
            StdUnitCost [decimal](28,10) NULL,
            ActualQty [decimal](28,10) NULL,
            ScrappedQty [decimal](28,10) NULL,
            ActUnitCost [decimal](28,10) NULL,
            TotalCost [decimal](28,10) NULL
      )

      -- for subreport Material
      CREATE TABLE #tmpMaterial
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            ReqId nvarchar(4) NULL,
            ComponentId [nvarchar](24) NULL,
            ComponentType tinyint NULL,
            CostGroupId nvarchar(6) NULL,
            EstQty [decimal](28,10) NULL,
            EstScrap [decimal](28,10) NULL,
            EstUnitCost [decimal](28,10) NULL,
            ActQty [decimal](28,10) NULL,
            ActScrap [decimal](28,10) NULL,
            ActUnitCost [decimal](28,10) NULL,
            EstCost [decimal](28,10) NULL, 
            ActCost [decimal](28,10) NULL, 
            QtyVariance [decimal](28,10) NULL, 
            ScrapVariance [decimal](28,10) NULL,
            CostVariancePct [decimal](28,10) NULL
      )
      
      --for Cost Variance Byproduct subreport   
      CREATE TABLE #tmpCostVarByproduct
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            ReqId nvarchar(4) Null,
            ComponentId [nvarchar](24) NULL,
            ComponentType tinyint Null,
            CostGroupId nvarchar(6) Null,
            EstQty [decimal](28,10) NULL,
            EstScrap [decimal](28,10) NULL,
            EstUnitCost [decimal](28,10) NULL,
            ActQty [decimal](28,10) NULL,
            ActScrap [decimal](28,10) NULL,
            ActUnitCost [decimal](28,10) NULL,
            EstCost [decimal](28,10) NULL, 
            ActCost [decimal](28,10) NULL, 
            QtyVariance [decimal](28,10) NULL, 
            CostVariancePct [decimal](28,10) NULL
      )

      --for Cost Variance Routing subreport     
      CREATE TABLE #tmpCostVarRouting
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            ReqId nvarchar(4) Null,
            LaborTypeId nvarchar(10) Null,
            LaborSetupTypeId nvarchar(10) Null,
            MachineGroupId nvarchar(10) Null,
            PlannedLaborSetupCost [decimal](28,10) NULL,
            PlannedLaborCost [decimal](28,10) NULL,
            PlannedMachSetupCost [decimal](28,10) NULL,
            PlannedMachCost [decimal](28,10) NULL,
            ActMachSetupCost [decimal](28,10) NULL,
            ActMachCost [decimal](28,10) NULL,
            ActLaborSetupCost [decimal](28,10) NULL,  
            ActlaborCost [decimal](28,10) NULL,
            CostVariancePct [decimal](28,10) NULL
      )

      --for Cost Variance Subcontract subreport 
      CREATE TABLE #tmpSubcontract
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            ReqId nvarchar(4) Null,
            VendorId [nvarchar](10) NULL,
            CostGroupId nvarchar(6) Null,
            EstQty [decimal](28,10) NULL,
            EstUnitCost [decimal](28,10) NULL,
            ActQty [decimal](28,10) NULL,
            ActUnitCost [decimal](28,10) NULL,
            EstCost [decimal](28,10) NULL, 
            ActCost [decimal](28,10) NULL, 
            QtyVariance [decimal](28,10) NULL, 
            CostVariancePct [decimal](28,10) NULL
      )

      --for Cost Variance SubAssembly subreport 
      CREATE TABLE #tmpSubAssembly
      (     PostRun [nvarchar](14) NULL,
            ReleaseId int NULL,
            ReqId nvarchar(4) Null,
            ComponentId [nvarchar](24) NULL,
            ComponentType tinyint Null,
            CostGroupId nvarchar(6) Null,
            EstQty [decimal](28,10) NULL,
            EstScrap [decimal](28,10) NULL,
            EstUnitCost [decimal](28,10) NULL,
            ActQty [decimal](28,10) NULL,
            ActScrap [decimal](28,10) NULL,
            ActUnitCost [decimal](28,10) NULL,
            EstCost [decimal](28,10) NULL, 
            ActCost [decimal](28,10) NULL, 
            QtyVariance [decimal](28,10) NULL, 
            ScrapVariance [decimal](28,10) NULL,
            CostVariancePct [decimal](28,10) NULL
      )

	INSERT INTO #OrderInfo ( SortBy, PostRun, ReleaseId, OrderNo, ReleaseNo, CustId, AssemblyId, DateCompleted
		, PlannedQty, StdUnitCost, ActualQty, ScrappedQty, ActUnitCost )
	SELECT CASE WHEN @SortBy = 0 THEN o.AssemblyId ELSE o.OrderNo + RIGHT(REPLICATE('0',10) + CAST(o.ReleaseNo AS nvarchar), 10) END SortBy
		  , o.PostRun, o.ReleaseId, o.OrderNo, o.ReleaseNo, o.CustId, o.AssemblyId, m.DateCompleted
		  , (s.EstQtyRequired * s.ConvFactor) AS PlannedQty, (s.UnitCost / s.ConvFactor) AS StdUnitCost, ISNULL(m.QtyCompleted,0) AS ActualQty
		  , ISNULL(m.QtyScrapped,0) AS ScrappedQty,  ISNULL(m.AvgUnitCost,0) AS ActUnitCost
	FROM #tmpCostVariance t INNER JOIN dbo.tblMpHistoryOrderReleases o ON t.postRun = o.PostRun AND t.ReleaseId = o.ReleaseId
		INNER JOIN dbo.tblMpHistoryRequirements r ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId 
		INNER JOIN dbo.tblMpHistoryMatlSum s ON r.PostRun = s.PostRun and r.TransId = s.TransId
		LEFT JOIN (SELECT PostRun, TransId, MAX(TransDate) AS DateCompleted,  SUM(Qty * ConvFactor) AS QtyCompleted,
				SUM(ActualScrap * ConvFactor) AS QtyScrapped,
				CASE WHEN SUM(Qty * ConvFactor) + SUM(ActualScrap * ConvFactor) = 0 THEN 0 
					ELSE SUM((Qty + ActualScrap) * UnitCost)/(SUM(Qty * ConvFactor) + SUM(ActualScrap * ConvFactor)) END AS AvgUnitCost
				FROM dbo.tblMpHistoryMatlDtl
				GROUP BY PostRun, TransId) m ON r.PostRun = m.PostRun AND r.TransId = m.TransId
	WHERE r.[Type] = 0 -- main assembly activity only 
		AND (@DateFrom IS NULL OR m.DateCompleted >= @DateFrom)
		AND (@DateThru IS NULL OR m.DateCompleted <= @DateThru)
		
      --if using standard costing - must "rollup" the component cost instead of using unit costs from finished goods
	IF @RollupCostYn = 1
	  BEGIN

      --calculate material costs
	  UPDATE #OrderInfo SET TotalCost = ISNULL(TotalCost, 0) + ISNULL(tmp.MatlCost, 0)
			FROM #OrderInfo 
			INNER JOIN ( SELECT s.PostRun, o.ReleaseId 
									, SUM( CASE s.ComponentType 
												WHEN 0 THEN 0 --Main Assembly
												WHEN 2 THEN --Subassembly
													  CASE d.SubAssemblyTranType
															WHEN 2 THEN 0 --assembled get cost from components used
															WHEN 1 THEN d.Qty * d.UnitCost --cost pulled from stock
															WHEN -1 THEN -d.Qty * d.UnitCost --cost moved to stock (credit)
													  END
												WHEN 3 THEN d.Qty * d.UnitCost      --Stocked subassembly
												WHEN 4 THEN d.Qty * d.UnitCost   --Material
												WHEN 5 THEN -d.Qty * d.UnitCost     --ByProduct (credit)
											 END ) MatlCost
							  FROM #OrderInfo o 
									INNER JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = o.PostRun AND r.ReleaseId = o.ReleaseId
									INNER JOIN dbo.tblMpHistoryMatlSum s ON r.PostRun = s.PostRun AND r.TransId = s.TransId
									INNER JOIN dbo.tblMpHistoryMatlDtl d ON s.PostRun = d.PostRun AND s.TransId = d.TransId
							  GROUP BY s.PostRun, o.ReleaseId
						) tmp ON #OrderInfo.PostRun = tmp.PostRun AND #OrderInfo.ReleaseId = tmp.ReleaseId  


      --calcualte subcontracted costs
      UPDATE #OrderInfo SET TotalCost = ISNULL(TotalCost, 0) + ISNULL(tmp.SubConCost, 0)
      FROM #OrderInfo
            INNER JOIN ( SELECT s.PostRun, o.ReleaseId, SUM(d.QtyReceived * d.UnitCost) AS SubConCost
                              FROM #OrderInfo o 
                                    INNER JOIN dbo.tblMpHistoryRequirements r ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
                                    INNER JOIN dbo.tblMpHistorySubContractSum s ON r.PostRun = s.PostRun AND r.TransId = s.TransId
                                    INNER JOIN dbo.tblMpHistorySubContractDtl d ON s.PostRun = d.PostRun AND s.TransId = d.TransId
                              GROUP BY s.PostRun, o.ReleaseId
                           ) AS tmp ON #OrderInfo.PostRun = tmp.PostRun AND #OrderInfo.ReleaseId = tmp.ReleaseId

      --calculate process costs
      UPDATE #OrderInfo SET TotalCost = ISNULL(TotalCost, 0) + ISNULL(tmp.ProcessCost, 0)
            FROM #OrderInfo
            INNER JOIN ( SELECT r.PostRun, r.ReleaseId
                                    , SUM(calc.Labor + calc.LaborSetup + calc.Machine
                                    + COALESCE((calc.Labor + calc.LaborSetup) * (s1.LaborPctOvhd / 100.0), 0) --labor overhead
                                    + COALESCE(calc.Machine * (s1.MachPctOvhd / 100.0), 0) --machine overhead
                                    + COALESCE(calc.TotQty * s1.perPieceOvhd, 0) --per piece overhead
                                    + COALESCE(s1.FlatAmtOvhd, 0.0)) ProcessCost --flat amount overhead
                              FROM dbo.tblMpHistoryRequirements r INNER JOIN dbo.tblMpHistoryTimeSum s1 ON r.PostRun = s1.PostRun AND r.TransId = s1.TransId
                                    INNER JOIN ( SELECT s.PostRun, s.TransId
                                                            , SUM(COALESCE(d.QtyProduced + d.QtyScrapped, 0)) TotQty
                                                            , SUM(COALESCE((d.Labor / d.LaborIn * s.HourlyRateLbr) + ((d.QtyProduced + d.QtyScrapped) * s.PerPieceCostLbr), 0)) Labor
                                                            , SUM(COALESCE((d.LaborSetup / d.LaborSetupIn * s.HourlyRateLbrSetup), 0)) LaborSetup
                                                            , SUM(COALESCE((d.MachineSetup / d.MachineSetupIn * s.HourlyCostFactorMach) + (d.MachineRun / d.MachineRunIn * s.HourlyCostFactorMach), 0)) Machine
                                                 FROM #OrderInfo o
                                                       INNER JOIN dbo.tblMpHistoryRequirements r ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId 
                                                       INNER JOIN dbo.tblMpHistoryTimeSum s ON o.PostRun = s.PostRun AND r.TransId = s.TransId
                                                       INNER JOIN dbo.tblMpHistoryTimeDtl d ON s.PostRun = d.PostRun AND s.TransId = d.TransId
                                                 GROUP BY s.PostRun, s.TransId
                                                   ) AS calc ON s1.PostRun = calc.PostRun AND s1.TransId = calc.TransId
                              GROUP BY r.PostRun, r.ReleaseId
                           ) AS tmp ON #OrderInfo.PostRun = tmp.PostRun AND #OrderInfo.ReleaseId = tmp.ReleaseId

	  UPDATE #OrderInfo SET ActUnitCost = CASE WHEN ActualQty + ScrappedQty = 0 THEN 0 ELSE TotalCost / (ActualQty + ScrappedQty) END
	END

	SELECT * INTO #tmpOrderInfo FROM(
    SELECT SortBy, PostRun, OrderNo, ReleaseNo, CustId, AssemblyId, DateCompleted, PlannedQty, ReleaseId  
			,StdUnitCost AS StandardUnitCost, ActualQty, ScrappedQty, ActUnitCost AS ActualUnitCost
            , COALESCE((ActualQty * ActUnitCost), 0) AS TotalActual 
            , COALESCE((PlannedQty * StdUnitCost), 0) AS TotalPlanned
            , CASE WHEN COALESCE(StdUnitCost, 0) <> 0 
                  THEN (COALESCE(ActUnitCost, 0) - COALESCE(StdUnitCost, 0) ) * 100 / COALESCE(StdUnitCost, 0) ELSE 0 END CostVariancePct
	FROM #OrderInfo
	WHERE @PrintExceptions = 0 OR 
		( CASE WHEN COALESCE(StdUnitCost, 0) <> 0 THEN ABS((COALESCE(ActUnitCost, 0) - COALESCE(StdUnitCost, 0) ) * 100 / COALESCE(StdUnitCost, 0)) 
			ELSE 0 END >= COALESCE(@CriticalVar, 0)))ds

	SELECT * FROM #tmpOrderInfo
                  
      -- Subreport Material   
      INSERT INTO #tmpMaterial (PostRun, ReleaseId, ReqId, ComponentId, ComponentType, CostGroupId, EstQty, EstScrap
            , ActQty, ActScrap, EstCost, ActCost, QtyVariance, ScrapVariance, CostVariancePct )
            
            SELECT s.PostRun, o.ReleaseId, r.ReqId, s.ComponentId, s.ComponentType, s.CostGroupID
                  , (s.EstQtyRequired * s.ConvFactor) AS EstQty, (s.EstScrap * s.ConvFactor)AS EstScrap
                  , d.Qty, d.ActualScrap, ISNULL((s.EstQtyRequired * s.UnitCost), 0), d.ExtCost
                  , CASE WHEN ISNULL((s.EstQtyRequired * s.ConvFactor), 0) <> 0 
                        THEN (ISNULL(d.Qty, 0) - ISNULL((s.EstQtyRequired * s.ConvFactor), 0)) * 100.0 / (ISNULL((s.EstQtyRequired * s.ConvFactor), 0)) 
                        ELSE 0 END QtyVariance
                  , CASE WHEN ISNULL((s.EstScrap * s.ConvFactor), 0) <> 0 
                        THEN (ISNULL(d.ActualScrap, 0) - ISNULL((s.EstScrap * s.ConvFactor), 0)) * 100.0 / (ISNULL((s.EstScrap * s.ConvFactor), 0)) 
                        ELSE 0 END ScrapVariance
                  , CASE WHEN ISNULL((s.EstQtyRequired * s.UnitCost), 0) <> 0 
                        THEN (ISNULL(d.ExtCost, 0) - ISNULL((s.EstQtyRequired * s.UnitCost), 0)) * 100.0 / ISNULL((s.EstQtyRequired * s.UnitCost), 0)
                        ELSE 0 END CostVariancePct
            FROM dbo.tblMpHistoryMatlSum s 
                  INNER JOIN ( SELECT PostRun, TransId
                                          , SUM(Qty * ConvFactor) Qty
                                          , SUM(ActualScrap * ConvFactor) ActualScrap
                                          , SUM(Qty * UnitCost) ExtCost
                                    FROM dbo.tblMpHistoryMatlDtl
                                    GROUP BY PostRun, TransId 
                                 ) AS d ON s.PostRun = d.PostRun AND s.TransId = d.TransId
                  LEFT JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = s.PostRun AND r.TransId = s.TransId
                  LEFT JOIN dbo.tblMpHistoryOrderReleases o ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
				  INNER JOIN #OrderInfo t ON t.PostRun = s.PostRun AND o.ReleaseId = t.ReleaseId
            WHERE @IncludeMaterials = 1 AND (s.ComponentType = 3 OR s.ComponentType = 4) --stocked or material
				AND (@CompIdFrom IS NULL OR s.ComponentID >= @CompIdFrom)
		AND (@CompIdThru IS NULL OR s.ComponentID <= @CompIdThru)
		
      SELECT m.PostRun, m.ReleaseId, m.ComponentId, m.CostGroupId
            , m.EstQty AS PlannedQty, m.EstScrap AS EstimatedScrap , m.ActQty AS ActualQty
            , m.ActScrap AS ActualScrap, m.EstCost AS EstimatedCost, m.ActCost AS ActualCost
            , m.QtyVariance , m.ScrapVariance , m.CostVariancePct
            FROM #tmpMaterial m
			INNER JOIN #tmpOrderInfo o ON o.PostRun = m.PostRun AND o.ReleaseId = m.ReleaseId
            WHERE @PrintExceptions = 0 OR  (ABS(m.QtyVariance) >= ISNULL(@CriticalVar, 0) AND ABS(ScrapVariance) >= ISNULL(@CriticalVar, 0)
                  AND ABS(m.CostVariancePct) >= ISNULL(@CriticalVar, 0))
                  
	--Cost Variance Byproduct subreport       
	INSERT INTO #tmpCostVarByproduct (PostRun, ReleaseId, ReqId, ComponentId, ComponentType, CostGroupId, EstQty, EstScrap
            , ActQty, ActScrap, EstCost, ActCost, QtyVariance, CostVariancePct )
	SELECT s.PostRun, o.ReleaseId, r.ReqId, s.ComponentId, s.ComponentType, s.CostGroupID
		  , (s.EstQtyRequired * s.ConvFactor) AS EstQty, (s.EstScrap * s.ConvFactor) AS  EstScrap
		  , d.Qty, d.ActualScrap, ISNULL((s.EstQtyRequired * s.UnitCost), 0), d.ExtCost
		  , CASE WHEN ISNULL((s.EstQtyRequired * s.ConvFactor), 0) <> 0 
				THEN (ISNULL(d.Qty, 0) - ISNULL((s.EstQtyRequired * s.ConvFactor), 0)) * 100.0 / (ISNULL((s.EstQtyRequired * s.ConvFactor), 0))
				ELSE 0 END QtyVariance
		  , CASE WHEN ISNULL((s.EstQtyRequired * s.UnitCost), 0) <> 0 
				THEN (ISNULL(d.ExtCost, 0) - ISNULL((s.EstQtyRequired * s.UnitCost), 0)) * 100.0 / ISNULL((s.EstQtyRequired * s.UnitCost), 0) 
				ELSE 0 END CostVariancePct
	FROM dbo.tblMpHistoryMatlSum s 
		  INNER JOIN ( SELECT PostRun, TransId
                                          , SUM(Qty * ConvFactor) Qty
                                          , SUM(ActualScrap * ConvFactor) ActualScrap
                                          , SUM(Qty * UnitCost) ExtCost
                                    FROM dbo.tblMpHistoryMatlDtl
                                    GROUP BY PostRun, TransId
							) AS  d ON s.PostRun = d.PostRun AND s.TransId = d.TransId
		  LEFT JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = s.PostRun AND r.TransId = s.TransId
		  LEFT JOIN dbo.tblMpHistoryOrderReleases o ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
		  INNER JOIN #OrderInfo t ON t.PostRun = s.PostRun AND o.ReleaseId = t.ReleaseId
	WHERE @IncludeByproducts = 1 AND (s.ComponentType = 5) --Byproducts
		AND (@CompIdFrom IS NULL OR s.ComponentID >= @CompIdFrom)
		AND (@CompIdThru IS NULL OR s.ComponentID <= @CompIdThru)
		
	SELECT p.PostRun, p.ReleaseId, p.ComponentId, p.CostGroupId, p.EstQty AS PlannedQty, p.ActQty AS ActualQty
		, p.EstCost AS EstimatedValue, p.ActCost AS ActualValue, p.QtyVariance, p.CostVariancePct
	FROM #tmpCostVarByproduct p
	INNER JOIN #tmpOrderInfo o ON o.PostRun = p.PostRun AND o.ReleaseId = p.ReleaseId
	WHERE @PrintExceptions = 0 OR (ABS(p.QtyVariance) >= ISNULL(@CriticalVar, 0) AND ABS(p.CostVariancePct) >= ISNULL(@CriticalVar, 0))
            
      --for Cost Variance Routing subreport           
      INSERT INTO #tmpCostVarRouting (PostRun, ReleaseId, ReqId, LaborTypeId, LaborSetupTypeId, MachineGroupId
            , PlannedLaborSetupCost, PlannedLaborCost, PlannedMachSetupCost
            , PlannedMachCost, ActMachSetupCost, ActMachCost, ActLaborSetupCost, ActLaborCost, CostVariancePct)
            SELECT s2.PostRun, o.ReleaseId, r.ReqId, s2.LaborTypeId, s2.LaborSetupTypeId, s2.MachineGroupId
                  , ((s2.LaborSetupEst * s2.HourlyRateLbrSetup) / 60.0) PlannedLaborSetupCost
                  , ((s2.LaborEst * s2.HourlyRateLbr) / 60.0) PlannedLaborCost
                  , ((s2.MachineSetupEst * s2.HourlyCostFactorMach) / 60.0) PlannedMachSetupCost
                  , ((s2.MachineRunEst * s2.HourlyCostFactorMach) / 60.0) PlannedMachCost
                  , ((ISNULL(d1.MachineSetup, 0)) * s2.HourlyCostFactorMach) ActMachSetupCost
                  , ((ISNULL(d1.MachineRun, 0)) * s2.HourlyCostFactorMach) ActMachCost
                  , ((ISNULL(d1.LaborSetup, 0)) * s2.HourlyRateLbrSetup) ActLaborSetupCost
                  , ((ISNULL(d1.Labor, 0)) * s2.HourlyRateLbr) ActLaborCost
                  , CASE WHEN (((ISNULL(s2.MachineRunEst, 0) + ISNULL(s2.MachineSetupEst, 0)) * ISNULL(s2.HourlyCostFactorMach, 0))
                        + ((ISNULL(s2.LaborEst, 0)* ISNULL(s2.HourlyRateLbr, 0)) + (ISNULL(s2.LaborSetupEst, 0) * ISNULL(s2.HourlyRateLbrSetup, 0)))) <> 0 
                        THEN ((
                        ( ((ISNULL(d1.MachineRun, 0) + ISNULL(d1.MachineSetup, 0)) * ISNULL(s2.HourlyCostFactorMach, 0))
                              + ((ISNULL(d1.Labor, 0)* ISNULL(s2.HourlyRateLbr, 0)) + (ISNULL(d1.LaborSetup, 0) * ISNULL(s2.HourlyRateLbrSetup, 0))) )
                        - (( ((ISNULL(s2.MachineRunEst, 0) + ISNULL(s2.MachineSetupEst, 0)) * ISNULL(s2.HourlyCostFactorMach, 0)) 
                              + ((ISNULL(s2.LaborEst, 0)* ISNULL(s2.HourlyRateLbr, 0)) + (ISNULL(s2.LaborSetupEst, 0) * ISNULL(s2.HourlyRateLbrSetup, 0))) ) / 60.0)
                        ) * 100.0) 
                        / (( ((ISNULL(s2.MachineRunEst, 0) + ISNULL(s2.MachineSetupEst, 0)) * ISNULL(s2.HourlyCostFactorMach, 0)) 
                              + ((ISNULL(s2.LaborEst, 0)* ISNULL(s2.HourlyRateLbr, 0)) + (ISNULL(s2.LaborSetupEst, 0)* ISNULL(s2.HourlyRateLbrSetup, 0)))  ) / 60.0)                      
                        ELSE 0 END CostVariancePct
            FROM dbo.tblMpHistoryTimeSum s2
                  LEFT JOIN ( SELECT d.PostRun, d.TransId
                                          , SUM(d.MachineSetup / CASE WHEN ISNULL(d.MachineSetupIn, 0) = 0 THEN 1 ELSE d.MachineSetupIn END) MachineSetup
                                          , SUM(d.MachineRun / CASE WHEN ISNULL(d.MachineRunIn, 0) = 0 THEN 1 ELSE d.MachineRunIn END) MachineRun
                                          , SUM(d.LaborSetup / CASE WHEN ISNULL(d.LaborSetupIn, 0) = 0 THEN 1 ELSE d.LaborSetupIn END) LaborSetup
                                          , SUM(d.Labor / CASE WHEN ISNULL(d.LaborIn, 0) = 0 THEN 1 Else d.LaborIn End) Labor
                                    FROM dbo.tblMpHistoryTimeDtl d 
                                    GROUP BY d.PostRun, d.TransId 
                               ) AS d1 ON s2.PostRun = d1.PostRun AND s2.TransId = d1.TransId
                  LEFT JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = s2.PostRun AND r.TransId = s2.TransId
                  LEFT JOIN dbo.tblMpHistoryOrderReleases o ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
				  INNER JOIN #OrderInfo t ON t.PostRun = s2.PostRun AND o.ReleaseId = t.ReleaseId
		WHERE @IncludeMachineLaborTime = 1
		
      SELECT s.PostRun, s.ReleaseId, s.LaborTypeId, s.LaborSetupTypeId, s.MachineGroupId
            , s.PlannedLaborSetupCost AS EstimatedLaborSetupCost, s.PlannedLaborCost AS EstimatedLaborCost
            , s.PlannedMachSetupCost AS EstimatedMachSetupCost, s.PlannedMachCost AS EstimatedMachCost
            , s.ActMachSetupCost AS ActualMachSetupCost, s.ActMachCost AS ActualMachCost, s.ActLaborSetupCost AS ActualLaborSetupCost
            , s.ActlaborCost AS ActualLaborCost, s.CostVariancePct
      FROM #tmpCostVarRouting s
	  INNER JOIN #tmpOrderInfo t ON t.PostRun = s.PostRun AND t.ReleaseId = s.ReleaseId
      WHERE @PrintExceptions = 0 OR (ABS(s.CostVariancePct) >= ISNULL(@CriticalVar, 0))
      
      --Cost Variance Subcontract subreport     
      Insert into #tmpSubcontract (PostRun, ReleaseId, ReqId, VendorId, CostGroupId
            , EstQty, EstUnitCost, ActQty, ActUnitCost, EstCost, ActCost, QtyVariance, CostVariancePct )
            Select s.PostRun, o.ReleaseId, r.ReqId, s.DefaultVendorID, s.CostGroupID
                  , (s.EstQtyRequired) EstQty, (s.EstPerPieceCost) EstUnitCost
                  , d.Qty, Case When d.Qty <> 0 Then (d.ExtCost / d.Qty) Else 0.0 End 
                  , isnull((s.EstQtyRequired * s.EstPerPieceCost), 0), d.ExtCost
                  , Case WHEN isnull((s.EstQtyRequired), 0) <> 0 
                        Then (isnull(d.Qty, 0) - isnull((s.EstQtyRequired), 0)) * 100.0 / (isnull((s.EstQtyRequired), 0)) 
                        Else 0 End QtyVariance
                  , Case WHEN isnull((s.EstQtyRequired * s.EstPerPieceCost), 0) <> 0 
                        Then (isnull(d.ExtCost, 0) - isnull((s.EstQtyRequired * s.EstPerPieceCost), 0)) * 100.0 / isnull((s.EstQtyRequired * s.EstPerPieceCost), 0) 
                        Else 0 end CostVariancePct
            From dbo.tblMpHistorySubContractSum s 
                  inner join ( Select d2.PostRun, d2.TransId
                                          , Sum(d2.QtySent) Qty
                                          , Sum(d2.QtySent * d2.UnitCost) ExtCost
                                    From dbo.tblMpHistorySubContractDtl d2
                                    Group By d2.PostRun, d2.TransId 
                                ) AS d on s.PostRun = d.PostRun and s.TransId = d.TransId
                  LEFT JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = s.PostRun AND r.TransId = s.TransId
                  LEFT JOIN dbo.tblMpHistoryOrderReleases o ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
				  INNER JOIN #OrderInfo t ON t.PostRun = s.PostRun AND o.ReleaseId = t.ReleaseId
		WHERE @IncludeSubcontracted = 1
		
      Select s.PostRun, s.ReleaseId, VendorId, CostGroupId, EstQty AS EstimatedQty, ActQty AS ActualQty  
            , EstCost AS EstimatedCost, ActCost AS ActualCost, QtyVariance, s.CostVariancePct  
            From #tmpSubcontract s
			INNER JOIN #tmpOrderInfo o ON o.PostRun = s.PostRun AND o.ReleaseId = s.ReleaseId    
            WHERE @PrintExceptions = 0 OR (ABS(QtyVariance) >= isnull(@CriticalVar, 0)  
                  AND ABS(s.CostVariancePct) >= isnull(@CriticalVar, 0)) 
      
      -- Cost Variance SubAssembly subreport
      Insert into #tmpSubAssembly (PostRun, ReleaseId, ReqId, ComponentId, ComponentType, CostGroupId
            , EstQty, EstScrap, ActQty, ActScrap, EstCost, ActCost, QtyVariance, ScrapVariance, CostVariancePct)
      Select s.PostRun, o.ReleaseId, r.ReqId, s.ComponentId, s.ComponentType, s.CostGroupID
            , (s.EstQtyRequired * s.ConvFactor) EstQty
            , (s.EstScrap * s.ConvFactor) EstScrap
            , d.Qty, d.ActualScrap, isnull((s.EstQtyRequired * s.UnitCost), 0)
            , d.ExtCost
            , Case WHEN isnull((s.EstQtyRequired * s.ConvFactor), 0) <> 0 
                  Then (isnull(d.Qty, 0) - isnull((s.EstQtyRequired * s.ConvFactor), 0)) * 100.0 / (isnull((s.EstQtyRequired * s.ConvFactor), 0)) 
                  Else 0 End QtyVariance
            , Case WHEN isnull((s.EstScrap * s.ConvFactor), 0) <> 0 
                  Then (isnull(d.ActualScrap, 0) - isnull((s.EstScrap * s.ConvFactor), 0)) * 100.0 / (isnull((s.EstScrap * s.ConvFactor), 0)) 
                  Else 0 End ScrapVariance
            , Case WHEN isnull((s.EstQtyRequired * s.UnitCost), 0) <> 0 
                  Then (isnull(d.ExtCost, 0) - isnull((s.EstQtyRequired * s.UnitCost), 0)) * 100.0 / isnull((s.EstQtyRequired * s.UnitCost), 0) 
                  Else 0 end CostVariancePct
      From dbo.tblMpHistoryMatlSum s 
            inner join ( SELECT PostRun, TransId
                                          , SUM(Qty * ConvFactor) Qty
                                          , SUM(ActualScrap * ConvFactor) ActualScrap
                                          , SUM(Qty * UnitCost) ExtCost
                                    FROM dbo.tblMpHistoryMatlDtl
                                    GROUP BY PostRun, TransId
                        ) AS d on s.PostRun = d.PostRun and s.TransId = d.TransId
                  LEFT JOIN dbo.tblMpHistoryRequirements r ON r.PostRun = s.PostRun AND r.TransId = s.TransId
                  LEFT JOIN dbo.tblMpHistoryOrderReleases o ON o.PostRun = r.PostRun AND o.ReleaseId = r.ReleaseId
				  INNER JOIN #OrderInfo t ON t.PostRun = s.PostRun AND o.ReleaseId = t.ReleaseId
      Where @IncludeSubassemblies = 1 AND (s.ComponentType = 2) --subassemblies
			AND (@CompIdFrom IS NULL OR s.ComponentID >= @CompIdFrom)
			AND (@CompIdThru IS NULL OR s.ComponentID <= @CompIdThru)
	Select PostRun, ReleaseId, ComponentId, CostGroupId, EstQty AS PlannedQty, EstScrap AS EstimatedScrap,ActQty AS ActualQty
		, ActScrap AS ActualScrap, EstCost AS EstimatedCost, ActCost AS ActualCost, QtyVariance, ScrapVariance, CostVariancePct
	From #tmpSubAssembly 
	WHERE @PrintExceptions = 0 OR (ABS(QtyVariance) >= isnull(@CriticalVar, 0) AND ABS(ScrapVariance) >= isnull(@CriticalVar, 0) 
		   AND ABS(CostVariancePct) >= isnull(@CriticalVar, 0))
                              
END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH          
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpCostVariance_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpCostVariance_Proc'
GO
