USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_BMWorkOrder_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_BMWorkOrder_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE	@RunId pPostRun, @PrecQty tinyint

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	
	IF @RunId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	DECLARE @OptFlags int
	SELECT @OptFlags = Flags FROM dbo.tblDrRunInfo WHERE RunId = @RunId
	

	--BM - Issued Work Orders
	INSERT INTO dbo.tblDrRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId, AssemblyLocId)
	SELECT @RunId, q.ItemId, q.LocId
		, CASE WHEN q.TransType = 2 Then t.TransDate Else DateAdd(dd, -q.PrepLeadTime, t.TransDate) End --apply prep lead time for component usage
		, q.TransType
		, CASE WHEN q.TransType = 2 THEN 256 ELSE 512 END --256=WorkOrder / 512=WorkOrdComp 
		, 0, q.Qty, q.LinkId, q.LinkIdSub, q.LinkIdSubLine, Null, Null, a.BmItemId, a.BmLocId
		FROM (
			SELECT RTRIM(q2.ItemId) AS [ItemId], RTRIM(q2.LocId) AS [LocId]
				, q2.TransType, q2.LinkId, q2.LinkIdSubLine, RTRIM(q2.LinkIdSub) AS [LinkIdSub]
				, q2.Qty, q2.SeqNum,q2.ID, l.PrepLeadTime
			FROM dbo.tblInQty q2
			INNER JOIN dbo.tblInItemLoc l ON q2.ItemId = l.ItemId and q2.LocId = l.LocId
			WHERE q2.LinkId = 'BM' AND q2.Qty <> 0 
			AND ((q2.TransType = 2 AND ((@OptFlags & 256) = 256))
				OR (q2.TransType = 0 AND ((@OptFlags & 512) = 512))) 
			) q
		INNER JOIN ( --capture qtys for assemblies 
			SELECT h.BmBomID, h.TransDate, h.QtySeqNum, h.QuantityID
				FROM dbo.tblBmWorkOrder h
			UNION ALL --capture qtys for components of assemblies 
			SELECT h.BmBomID, h.TransDate, d.QtySeqNum, d.QuantityID
				FROM dbo.tblBmWorkOrder h 
				INNER JOIN dbo.tblBmWorkOrderDetail d ON h.TransId = d.TransId
			) t
		ON q.ID = t.QuantityID
		LEFT JOIN dbo.tblBmBom a ON t.BmBomId = a.BmBomId

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_BMWorkOrder_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_BMWorkOrder_proc'
GO
