USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpReqirmentsAvailability_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpReqirmentsAvailability_Proc]
@SortBy tinyint

	AS
	SET NOCOUNT ON
	BEGIN TRY

	SELECT 
 TransId, GrpId1, GrpId2, GrpId3, GrpId4, GrpId5, OrderNo, ReleaseNo, Priority, RequiredDate, ReqId, AssemblyId, AssemblyLocId, CustId, EstStartDate, 
 ComponentId, LocId, AddlDescr, Descr, Uom, LeadTime, NetQtyRequired, Available, QtyCmtd, QtyOnOrder INTO #temp FROM (
	SELECT t.TransId,
	CASE @SortBy WHEN 0 THEN s.ComponentId WHEN 1 THEN o.OrderNo END AS GrpId1
		, CASE @SortBy WHEN 0 THEN s.LocId WHEN 1 THEN RIGHT(REPLICATE('0', 10) + CAST(o.ReleaseNo AS nvarchar), 10) END AS GrpId2
		, CASE @SortBy WHEN 0 THEN i.UomDflt WHEN 1 THEN s.ComponentId END AS GrpId3
		, CASE @SortBy WHEN 0 THEN i.UomDflt WHEN 1 THEN CAST(CONVERT(nvarchar(8), s.RequiredDate,112) AS nvarchar) END AS GrpId4
		, CASE @SortBy WHEN 0 THEN CAST(CONVERT(nvarchar(8), s.RequiredDate,112) AS nvarchar) 
			WHEN 1 THEN CAST(CONVERT(nvarchar(8), s.RequiredDate,112) AS nvarchar) END AS GrpId5,
		o.OrderNo, o.ReleaseNo, o.Priority, s.RequiredDate AS RequiredDate, r.ReqId, h.AssemblyId, h.LocId AS AssemblyLocId,
		o.CustId, o.EstStartDate, s.ComponentId, s.LocId, a.AddlDescr, i.Descr, i.UomDflt AS Uom, l.DfltLeadTime AS LeadTime,
		CASE WHEN s.[Status] <> 6 AND (s.EstQtyRequired * ISNULL(m.ConvFactor,1) - ISNULL(d.QtyFilled,0)) / ISNULL(u.ConvFactor,1) > 0 
			THEN (s.EstQtyRequired * ISNULL(m.ConvFactor,1) - ISNULL(d.QtyFilled,0)) / ISNULL(u.ConvFactor,1) ELSE 0 END AS NetQtyRequired,
		ISNULL(q.QtyOnHand,0) / ISNULL(u.ConvFactor,1) AS Available, ISNULL(v.QtyCmtd,0) / ISNULL(u.ConvFactor,1) AS QtyCmtd, ISNULL(v.QtyOnOrder,0) / ISNULL(u.ConvFactor,1) AS QtyOnOrder
	FROM #tmpRequirementAvailability t 
		INNER JOIN dbo.tblMpMatlSum s ON t.TransId = s.TransId
		INNER JOIN dbo.tblMpRequirements r ON s.TransId = r.TransId
		INNER JOIN dbo.tblMpOrderReleases o ON r.ReleaseId = o.Id     
		INNER JOIN dbo.tblMpOrder h ON o.OrderNo = h.OrderNo
		INNER JOIN dbo.tblInItem i ON s.ComponentId = i.ItemId 
		INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId AND s.LocId = l.LocId 
		LEFT JOIN (SELECT s.TransId, SUM(d.Qty * ISNULL(u.ConvFactor, 1)) AS QtyFilled 
					FROM dbo.tblMpMatlSum s INNER JOIN dbo.tblMpMatlDtl d ON s.TransId = d.TransId AND s.ComponentId = d.ComponentId AND s.LocId = d.LocId 
						LEFT JOIN dbo.tblInItemUom u ON d.ComponentId = u.ItemId AND d.UOM = u.Uom 
					GROUP BY s.TransId) d ON s.TransId = d.TransId 
		LEFT JOIN (	SELECT ItemId, LocId, QtyOnHand 
					FROM dbo.trav_InItemOnHand_view
					UNION ALL
					SELECT ItemId, LocId, QtyOnHand 
					FROM dbo.trav_InItemOnHandSer_view) q ON s.ComponentId = q.ItemId AND s.LocId = q.LocId 
		LEFT JOIN dbo.trav_InItemQtys_view v ON s.ComponentId = v.ItemId AND s.LocId = v.LocId
		LEFT JOIN dbo.tblInItemAddlDescr a ON i.ItemId = a.ItemId 
		LEFT JOIN tblInItemUom m ON s.ComponentId = m.ItemId AND s.UOM = m.Uom 
		LEFT JOIN tblInItemUom u ON s.ComponentId = u.ItemId AND i.UomDflt = u.Uom) tbl	

--------------------CURSOR APPROACH--------------------


CREATE TABLE #tmpRunningTotal( 
	[TransId] int PRIMARY KEY CLUSTERED,
	NetQtyRequired  [decimal](28,10) NOT NULL,
	RunningTotal [decimal](28,10) NOT NULL)

DECLARE
	@TransId int,
	@NetQtyRequired  [decimal](28,10),
	@RunningTotal [decimal](28,10) = 0,
	@currVal varchar(30) = '',
	@prevVal varchar(30) = ''
 
DECLARE c CURSOR
    LOCAL STATIC FORWARD_ONLY READ_ONLY
    FOR
	SELECT TransId, NetQtyRequired, GrpId1 + GrpId2 + GrpId3
	  FROM #temp
	ORDER BY
		CASE WHEN @SortBy = 0 THEN GrpId1 END,
		CASE WHEN @SortBy = 0 THEN CONVERT(DATE, RequiredDate) END,
		CASE WHEN @SortBy = 0 THEN ReqId END,
		CASE WHEN @SortBy = 0 THEN ReleaseNo END,
		CASE WHEN @SortBy = 1 THEN OrderNo END,
		CASE WHEN @SortBy = 1 THEN ReleaseNo END,
		CASE WHEN @SortBy = 1 THEN GrpId3 END,
		CASE WHEN @SortBy = 1 THEN CONVERT(DATE, RequiredDate) END,
		CASE WHEN @SortBy = 1 THEN ReqId END

OPEN c
 
FETCH NEXT FROM c INTO @TransId, @NetQtyRequired, @currVal
 
WHILE @@FETCH_STATUS = 0
BEGIN
	IF @currVal <> @prevVal
	BEGIN
	SET @RunningTotal = 0
	SET @prevVal = @currVal 
	END
	
	SET @RunningTotal = @RunningTotal + @NetQtyRequired
 
	INSERT #tmpRunningTotal(TransId, NetQtyRequired,  RunningTotal)
		SELECT @TransId, @NetQtyRequired, @RunningTotal
 
	FETCH NEXT FROM c INTO @TransId, @NetQtyRequired, @currVal
END
 
CLOSE c
DEALLOCATE c

SELECT m.GrpId1, m.GrpId2, m.GrpId3, m.GrpId4, m.GrpId5, m.OrderNo, m.ReleaseNo, m.Priority, m.RequiredDate, m.ReqId, m.AssemblyId, m.AssemblyLocId ,m.CustId,m.EstStartDate,m.ComponentId,m.LocId, 
 m.AddlDescr, m.Descr, m.Uom, m.LeadTime, m.NetQtyRequired, m.Available, m.QtyCmtd, m.QtyOnOrder, (m.Available - t.RunningTotal + m.NetQtyRequired) as EstAvailable, ((m.Available - t.RunningTotal + m.NetQtyRequired) - m.NetQtyRequired) as Net FROM #temp m
INNER JOIN #tmpRunningTotal t
ON m.TransId = t.TransId 

	END TRY

BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpReqirmentsAvailability_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpReqirmentsAvailability_Proc'
GO
