USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbTopCustomerList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbTopCustomerList_proc]
@Prec tinyint = 2,
@Profit bit = 0,  -- 0 = Sales, 1 = Profit
@Timeframe tinyint = 0, -- 0 = All Time, 1 = MTD, 2 = YTD
@noOfCusts int = 10,
@Wksdate datetime = null,
@returnValue nvarchar(10) = 'S' 

AS
BEGIN TRY
	SET NOCOUNT ON
	
	 DECLARE @FiscalYear smallint, @Period smallint
	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate
	
	Set RowCount @noOfCusts

SELECT c.CustId, CustName, SUM(ISNULL(Sales, 0)) AS Sales, SUM(COGS) AS COGS,SUM(ISNULL(Profit, 0)) AS Profit,
  RIGHT(Db_Name(), 3) CompId
		FROM dbo.tblArCust c
		 LEFT JOIN 
			(SELECT CustId, GLPeriod, FiscalYear, 	
				
				SUM((TaxSubtotal + NonTaxSubTotal) * SIGN(TransType)) AS Sales,  
				SUM(TotCost ) As COGS,   
				SUM(((TaxSubtotal + NonTaxSubTotal)-TotCost) * SIGN(TransType))AS Profit  
				
				FROM dbo.tblArHistHeader 
				WHERE ((@Timeframe = 1 AND (GLPeriod = @Period AND FiscalYear = @FiscalYear))
			       OR (@Timeframe = 2 AND (GLPeriod <= @Period AND FiscalYear = @FiscalYear))
			          OR (@Timeframe NOT IN (1, 2)))
                   AND VoidYn = 0
		GROUP BY CustId, GLPeriod, FiscalYear) h ON c.CustId = h.CustId
		GROUP BY c.CustId, CustName
		ORDER BY CASE WHEN @returnValue = 'P'  THEN SUM(Profit) ELSE SUM(Sales) END DESC 
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopCustomerList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbTopCustomerList_proc'
GO
