USE [005]
GO
/****** Object:  StoredProcedure [dbo].[RCG_ApExportChaseSUP_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RCG_ApExportChaseSUP_proc]

AS

If OBJECT_ID ('_tmpApExportChaseSUP') is not null
Drop Table _tmpApExportChaseSUP
CREATE TABLE _tmpApExportChaseSUP([num] [int] IDENTITY (1, 1) NOT NULL,
              csvLine varchar(max) NULL
              )

IF EXISTS(SELECT * FROM dbo.tblApPaymentControl c )

BEGIN

    SELECT
	Pay_Totals.Total as TotalPayableAmount,
	'8'+RIGHT(db_name(),2)+V.VendorID+REPLACE(CONVERT(varchar,getdate(),23),'-','')+ REPLACE(CONVERT(varchar, getdate(),108),':','') as UniquePayableIdentifier, -- Can switch this to be the parameter of the stored procedure
	'' as PaymentGroup, -- Use default value currently 
	'' as PayableEndDate, -- Use default value currently 
	V.VendorClass as MerchantCategoryCodeGroup,
	'' as SingleTransactionIndicator, -- Use default value currently 
	V.VendorID as VendorIdentifier1,
	'' as VendorIdentifier2, -- Use default value currently 
	'' as VendorIdentifier3, -- Use default value currently 
	V.Name as PayeeName,
	V.Email as PayeeEmailAddress,
	'' as TransactionCustomField1, -- Use default value currently 
	'' as TransactionCustomField2, -- Use default value currently 
	'' as TransactionCustomField3, -- Use default value currently 
	'' as TransactionCustomField4, -- Use default value currently 
	'' as TransactionCustomField5, -- Use default value currently 
	INV.R1InvcNum, INV.R1PoNum, INV.R1Total, INV.R1Notes, 
	INV.R2InvcNum, INV.R2PoNum, INV.R2Total, INV.R2Notes, 
	INV.R3InvcNum, INV.R3PoNum, INV.R3Total, INV.R3Notes, 
	INV.R4InvcNum, INV.R4PoNum, INV.R4Total, INV.R4Notes,
	INV.R5InvcNum, INV.R5PoNum, INV.R5Total, INV.R5Notes, 
	INV.R6InvcNum, INV.R6PoNum, INV.R6Total, INV.R6Notes, 
	INV.R7InvcNum, INV.R7PoNum, INV.R7Total, INV.R7Notes, 
	INV.R8InvcNum, INV.R8PoNum, INV.R8Total, INV.R8Notes,
	INV.R9InvcNum, INV.R9PoNum, INV.R9Total, INV.R9Notes, 
	INV.R10InvcNum, INV.R10PoNum, INV.R10Total, INV.R10Notes,
	INV.R11InvcNum, INV.R11PoNum, INV.R11Total, INV.R11Notes, 
	INV.R12InvcNum, INV.R12PoNum, INV.R12Total, INV.R12Notes, 
	INV.R13InvcNum, INV.R13PoNum, INV.R13Total, INV.R13Notes, 
	INV.R14InvcNum, INV.R14PoNum, INV.R14Total, INV.R14Notes,
	INV.R15InvcNum, INV.R15PoNum, INV.R15Total, INV.R15Notes, 
	INV.R16InvcNum, INV.R16PoNum, INV.R16Total, INV.R16Notes, 
	INV.R17InvcNum, INV.R17PoNum, INV.R17Total, INV.R17Notes, 
	INV.R18InvcNum, INV.R18PoNum, INV.R18Total, INV.R18Notes,
	INV.R19InvcNum, INV.R19PoNum, INV.R19Total, INV.R19Notes, 
	INV.R20InvcNum, INV.R20PoNum, INV.R20Total, INV.R20Notes
	into #tmpApExportChase_working
	from
	tblApOpenInvoice OI 
	INNER JOIN tblApVendor V ON OI.VendorID = V.VendorID
	INNER JOIN tblApHistHeader INV1H ON OI.TransId = INV1H.TransId and OI.PostRun = INV1H.PostRun
		INNER JOIN (select
		P.PaymentID,
		max(P.InvoiceCounter) as InvoiceCounter,
		R1InvcNum = MAX(CASE WHEN P.pos = 1 then P.InvoiceNum END), R1PoNum = MAX(CASE WHEN P.pos = 1 then P.PoNum END), R1Total = MAX(CASE WHEN P.pos = 1 then P.GrossAmtDue END), R1Notes = MAX(CASE WHEN P.pos = 1 then P.Notes END),
		R2InvcNum = MAX(CASE WHEN P.pos = 2 then P.InvoiceNum END), R2PoNum = MAX(CASE WHEN P.pos = 2 then P.PoNum END), R2Total = MAX(CASE WHEN P.pos = 2 then P.GrossAmtDue END), R2Notes = MAX(CASE WHEN P.pos = 2 then P.Notes END),
		R3InvcNum = MAX(CASE WHEN P.pos = 3 then P.InvoiceNum END), R3PoNum = MAX(CASE WHEN P.pos = 3 then P.PoNum END), R3Total = MAX(CASE WHEN P.pos = 3 then P.GrossAmtDue END), R3Notes = MAX(CASE WHEN P.pos = 3 then P.Notes END),
		R4InvcNum = MAX(CASE WHEN P.pos = 4 then P.InvoiceNum END), R4PoNum = MAX(CASE WHEN P.pos = 4 then P.PoNum END), R4Total = MAX(CASE WHEN P.pos = 4 then P.GrossAmtDue END), R4Notes = MAX(CASE WHEN P.pos = 4 then P.Notes END),
		R5InvcNum = MAX(CASE WHEN P.pos = 5 then P.InvoiceNum END), R5PoNum = MAX(CASE WHEN P.pos = 5 then P.PoNum END), R5Total = MAX(CASE WHEN P.pos = 5 then P.GrossAmtDue END), R5Notes = MAX(CASE WHEN P.pos = 5 then P.Notes END),
		R6InvcNum = MAX(CASE WHEN P.pos = 6 then P.InvoiceNum END), R6PoNum = MAX(CASE WHEN P.pos = 6 then P.PoNum END), R6Total = MAX(CASE WHEN P.pos = 6 then P.GrossAmtDue END), R6Notes = MAX(CASE WHEN P.pos = 6 then P.Notes END),
		R7InvcNum = MAX(CASE WHEN P.pos = 7 then P.InvoiceNum END), R7PoNum = MAX(CASE WHEN P.pos = 7 then P.PoNum END), R7Total = MAX(CASE WHEN P.pos = 7 then P.GrossAmtDue END), R7Notes = MAX(CASE WHEN P.pos = 7 then P.Notes END),
		R8InvcNum = MAX(CASE WHEN P.pos = 8 then P.InvoiceNum END), R8PoNum = MAX(CASE WHEN P.pos = 8 then P.PoNum END), R8Total = MAX(CASE WHEN P.pos = 8 then P.GrossAmtDue END), R8Notes = MAX(CASE WHEN P.pos = 8 then P.Notes END),
		R9InvcNum = MAX(CASE WHEN P.pos = 9 then P.InvoiceNum END), R9PoNum = MAX(CASE WHEN P.pos = 9 then P.PoNum END), R9Total = MAX(CASE WHEN P.pos = 9 then P.GrossAmtDue END), R9Notes = MAX(CASE WHEN P.pos = 9 then P.Notes END),
		R10InvcNum = MAX(CASE WHEN P.pos = 10 then P.InvoiceNum END), R10PoNum = MAX(CASE WHEN P.pos = 10 then P.PoNum END), R10Total = MAX(CASE WHEN P.pos = 10 then P.GrossAmtDue END), R10Notes = MAX(CASE WHEN P.pos = 10 then P.Notes END),
		R11InvcNum = MAX(CASE WHEN P.pos = 11 then P.InvoiceNum END), R11PoNum = MAX(CASE WHEN P.pos = 11 then P.PoNum END), R11Total = MAX(CASE WHEN P.pos = 11 then P.GrossAmtDue END), R11Notes = MAX(CASE WHEN P.pos = 11 then P.Notes END),
		R12InvcNum = MAX(CASE WHEN P.pos = 12 then P.InvoiceNum END), R12PoNum = MAX(CASE WHEN P.pos = 12 then P.PoNum END), R12Total = MAX(CASE WHEN P.pos = 12 then P.GrossAmtDue END), R12Notes = MAX(CASE WHEN P.pos = 12 then P.Notes END),
		R13InvcNum = MAX(CASE WHEN P.pos = 13 then P.InvoiceNum END), R13PoNum = MAX(CASE WHEN P.pos = 13 then P.PoNum END), R13Total = MAX(CASE WHEN P.pos = 13 then P.GrossAmtDue END), R13Notes = MAX(CASE WHEN P.pos = 13 then P.Notes END),
		R14InvcNum = MAX(CASE WHEN P.pos = 14 then P.InvoiceNum END), R14PoNum = MAX(CASE WHEN P.pos = 14 then P.PoNum END), R14Total = MAX(CASE WHEN P.pos = 14 then P.GrossAmtDue END), R14Notes = MAX(CASE WHEN P.pos = 14 then P.Notes END),
		R15InvcNum = MAX(CASE WHEN P.pos = 15 then P.InvoiceNum END), R15PoNum = MAX(CASE WHEN P.pos = 15 then P.PoNum END), R15Total = MAX(CASE WHEN P.pos = 15 then P.GrossAmtDue END), R15Notes = MAX(CASE WHEN P.pos = 15 then P.Notes END),
		R16InvcNum = MAX(CASE WHEN P.pos = 16 then P.InvoiceNum END), R16PoNum = MAX(CASE WHEN P.pos = 16 then P.PoNum END), R16Total = MAX(CASE WHEN P.pos = 16 then P.GrossAmtDue END), R16Notes = MAX(CASE WHEN P.pos = 16 then P.Notes END),
		R17InvcNum = MAX(CASE WHEN P.pos = 17 then P.InvoiceNum END), R17PoNum = MAX(CASE WHEN P.pos = 17 then P.PoNum END), R17Total = MAX(CASE WHEN P.pos = 17 then P.GrossAmtDue END), R17Notes = MAX(CASE WHEN P.pos = 17 then P.Notes END),
		R18InvcNum = MAX(CASE WHEN P.pos = 18 then P.InvoiceNum END), R18PoNum = MAX(CASE WHEN P.pos = 18 then P.PoNum END), R18Total = MAX(CASE WHEN P.pos = 18 then P.GrossAmtDue END), R18Notes = MAX(CASE WHEN P.pos = 18 then P.Notes END),
		R19InvcNum = MAX(CASE WHEN P.pos = 19 then P.InvoiceNum END), R19PoNum = MAX(CASE WHEN P.pos = 19 then P.PoNum END), R19Total = MAX(CASE WHEN P.pos = 19 then P.GrossAmtDue END), R19Notes = MAX(CASE WHEN P.pos = 19 then P.Notes END),
		R20InvcNum = MAX(CASE WHEN P.pos = 20 then P.InvoiceNum END), R20PoNum = MAX(CASE WHEN P.pos = 20 then P.PoNum END), R20Total = MAX(CASE WHEN P.pos = 20 then P.GrossAmtDue END), R20Notes = MAX(CASE WHEN P.pos = 20 then P.Notes END)
		from (select d.PaymentID, i.InvoiceNum, h.PoNum, d.GrossAmtDue, i.Notes, d.ID, d.invoicecounter, ROW_NUMBER() over(partition by PaymentID order by id asc) pos
		from tblApPaymentDetail d inner join tblApOpenInvoice i on d.InvoiceCounter = i.Counter INNER JOIN tblApHistHeader h ON i.TransId = h.TransId and i.PostRun = h.PostRun) as P
		group by P.PaymentID) INV on OI.Counter = INV.InvoiceCounter
		INNER JOIN 
		(select PaymentID, sum(GrossAmtDue) as Total from tblApPaymentDetail GROUP BY PaymentID) Pay_Totals ON Pay_Totals.PaymentID = INV.PaymentID


DECLARE @MaxNumInvcs int = 0
SELECT @MaxNumInvcs = MAX(NumInvcs)
FROM (
SELECT paymentId, count(*) as NumInvcs
from tblApPaymentDetail
group by PaymentID) X


DECLARE @headerLine nvarchar(MAX) = '"Total Payable Amount","Unique Payable Identifier","Payment Group","Payable End Date","Merchant Category Code Group","Exact-Auth/Single Transaction Indicator"
,"Vendor Identifier 1","Vendor Identifier 2","Vendor Identifier 3","Payee Name","Payee Email Address","Transaction Custom Field 1","Transaction Custom Field 2","Transaction Custom Field 3","Transaction Custom Field 4","Transaction Custom Field 5"';
DECLARE @currInvc int = 1;
WHILE @currInvc <= @MaxNumInvcs
BEGIN
SET @headerLine = CONCAT(@headerLine, ',"Remittance ', @currInvc, ' Invoice Number","Remittance ', @currInvc, ' PO Number","Remittance ', @currInvc, ' Total Amount Paid","Remittance ', @currInvc, ' Remittance Comments"');
SET @currInvc = @currInvc + 1;
END

INSERT INTO _tmpApExportChaseSUP (csvLine)
SELECT @headerLine

INSERT INTO _tmpApExportChaseSUP (csvLine)
SELECT
CONVERT(varchar,CAST([TotalPayableAmount] as decimal(10,2)))
+ ',' + '"' + ISNULL([UniquePayableIdentifier],'') + '"' 
+ ',' + CASE WHEN ISNULL([PaymentGroup],'') = '' THEN '' ELSE CONCAT('"', ISNULL([PaymentGroup],''),'"') END 
+ ',' -- + '"' + CONVERT(varchar,[PayableEndDate],23) + '"' -- Use default value
+ ',' + CASE WHEN ISNULL([MerchantCategoryCodeGroup],'') = '' THEN '' ELSE CONCAT('"', ISNULL([MerchantCategoryCodeGroup],''),'"') END 
+ ',' + CASE WHEN ISNULL([SingleTransactionIndicator],'') = '' THEN '' ELSE CONCAT('"', ISNULL([SingleTransactionIndicator],''),'"') END 
+ ',' + CASE WHEN ISNULL([VendorIdentifier1],'') = '' THEN '' ELSE CONCAT('"', ISNULL([VendorIdentifier1],''),'"') END 
+ ',' + CASE WHEN ISNULL([VendorIdentifier2],'') = '' THEN '' ELSE CONCAT('"', ISNULL([VendorIdentifier2],''),'"') END 
+ ',' + CASE WHEN ISNULL([VendorIdentifier3],'') = '' THEN '' ELSE CONCAT('"', ISNULL([VendorIdentifier3],''),'"') END 
+ ',' + '"' + ISNULL([PayeeName],'') + '"' 
+ ',' + '"' + ISNULL([PayeeEmailAddress],'') + '"' 
+ ',' + CASE WHEN ISNULL([TransactionCustomField1],'') = '' THEN '' ELSE CONCAT('"', ISNULL([TransactionCustomField1],''),'"') END 
+ ',' + CASE WHEN ISNULL([TransactionCustomField2],'') = '' THEN '' ELSE CONCAT('"', ISNULL([TransactionCustomField2],''),'"') END 
+ ',' + CASE WHEN ISNULL([TransactionCustomField3],'') = '' THEN '' ELSE CONCAT('"', ISNULL([TransactionCustomField3],''),'"') END 
+ ',' + CASE WHEN ISNULL([TransactionCustomField4],'') = '' THEN '' ELSE CONCAT('"', ISNULL([TransactionCustomField4],''),'"') END 
+ ',' + CASE WHEN ISNULL([TransactionCustomField5],'') = '' THEN '' ELSE CONCAT('"', ISNULL([TransactionCustomField5],''),'"') END 
+ ',' + ISNULL('"' + [R1InvcNum] + '"','') + ',' + ISNULL('"' + [R1PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R1Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R1Notes] + '"','')
+ CASE WHEN @MaxNumInvcs>=2 THEN + ',' + ISNULL('"' + [R2InvcNum] + '"','') + ',' + ISNULL('"' + [R2PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R2Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R2Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=3 THEN + ',' + ISNULL('"' + [R3InvcNum] + '"','') + ',' + ISNULL('"' + [R3PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R3Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R3Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=4 THEN + ',' + ISNULL('"' + [R4InvcNum] + '"','') + ',' + ISNULL('"' + [R4PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R4Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R4Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=5 THEN + ',' + ISNULL('"' + [R5InvcNum] + '"','') + ',' + ISNULL('"' + [R5PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R5Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R5Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=6 THEN + ',' + ISNULL('"' + [R6InvcNum] + '"','') + ',' + ISNULL('"' + [R6PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R6Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R6Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=7 THEN + ',' + ISNULL('"' + [R7InvcNum] + '"','') + ',' + ISNULL('"' + [R7PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R7Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R7Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=8 THEN + ',' + ISNULL('"' + [R8InvcNum] + '"','') + ',' + ISNULL('"' + [R8PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R8Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R8Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=9 THEN + ',' + ISNULL('"' + [R9InvcNum] + '"','') + ',' + ISNULL('"' + [R9PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R9Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R9Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=10 THEN + ',' + ISNULL('"' + [R10InvcNum] + '"','') + ',' + ISNULL('"' + [R10PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R10Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R10Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=11 THEN + ',' + ISNULL('"' + [R11InvcNum] + '"','') + ',' + ISNULL('"' + [R11PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R11Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R11Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=12 THEN + ',' + ISNULL('"' + [R12InvcNum] + '"','') + ',' + ISNULL('"' + [R12PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R12Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R12Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=13 THEN + ',' + ISNULL('"' + [R13InvcNum] + '"','') + ',' + ISNULL('"' + [R13PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R13Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R13Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=14 THEN + ',' + ISNULL('"' + [R14InvcNum] + '"','') + ',' + ISNULL('"' + [R14PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R14Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R14Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=15 THEN + ',' + ISNULL('"' + [R15InvcNum] + '"','') + ',' + ISNULL('"' + [R15PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R15Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R15Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=16 THEN + ',' + ISNULL('"' + [R16InvcNum] + '"','') + ',' + ISNULL('"' + [R16PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R16Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R16Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=17 THEN + ',' + ISNULL('"' + [R17InvcNum] + '"','') + ',' + ISNULL('"' + [R17PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R17Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R17Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=18 THEN + ',' + ISNULL('"' + [R18InvcNum] + '"','') + ',' + ISNULL('"' + [R18PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R18Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R18Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=19 THEN + ',' + ISNULL('"' + [R19InvcNum] + '"','') + ',' + ISNULL('"' + [R19PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R19Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R19Notes] + '"','') ELSE '' END
+ CASE WHEN @MaxNumInvcs>=20 THEN + ',' + ISNULL('"' + [R20InvcNum] + '"','') + ',' + ISNULL('"' + [R20PoNum] + '"','') + ',' + ISNULL(CONVERT(varchar,CAST([R20Total] as decimal(10,2))),'') + ',' + ISNULL('"' + [R20Notes] + '"','') ELSE '' END
FROM #tmpApExportChase_working

SELECT csvLine from _tmpApExportChaseSUP

END
GO
