USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_BuildLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_BuildLog_proc]
AS
--PET:http://webfront:801/view.php?id=234649
--PET:http://webfront:801/view.php?id=237482
--MOD:Deposit Invoices
--PET:http://webfront:801/view.php?id=247306
--PET:http://webfront:801/view.php?id=247737
--MOD:pDec to [decimal](28,10) NOT NULL
--PET:http://problemtrackingsystem.osas.com/view.php?id=271494

BEGIN TRY
	DECLARE	@PostRun [nvarchar](14)
	, @MCYn bit
	, @ArGlYn bit
	, @ArGlDetailYn bit
	, @PostGainLossDtl bit
	, @CurrBase [nvarchar](6)
	, @WrkStnDate datetime
	, @ARDescr nvarchar(30)
	, @PaymentDescr nvarchar(30)
	, @DiscountDescr nvarchar(30)
	, @DepositDescr nvarchar(30)
	, @UnknownDescr nvarchar(30)
	, @GlAcctDisc [nvarchar](255)
	, @CustDepositAcct [nvarchar](255)
	, @CompId [nvarchar](3) 
	, @PrecCurr smallint
	, @TransType nvarchar(10)
	
	--Retrieve global values
	SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @MCYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @ArGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlYn'
	SELECT @ArGlDetailYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlDetailYn'
	SELECT @PostGainLossDtl = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostGainLossDtl'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @ARDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'ARDescr'
	SELECT @PaymentDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'PaymentDescr'
	SELECT @DiscountDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'DiscountDescr'
	SELECT @UnknownDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'UnknownDescr'
	SELECT @GlAcctDisc = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'GlAcctDisc'
	SELECT @CustDepositAcct = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CustDepositAcct'
	SELECT @DepositDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'DepositDescr'
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	
	IF @PostRun IS NULL OR @MCYn IS NULL 
		OR @ArGlYn IS NULL 
		OR @ArGlDetailYn IS NULL OR @PostGainLossDtl IS NULL OR @CurrBase IS NULL 
		OR @WrkStnDate IS NULL 
		OR @ARDescr IS NULL OR @PaymentDescr IS NULL 
		OR @DiscountDescr IS NULL OR @UnknownDescr IS NULL
		OR @GlAcctDisc IS NULL
		OR @DepositDescr IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #ArTransPostLogDtl 
	(
		[Counter] int Not Null Identity(1, 1), 
		[PostRun] [nvarchar](14) NOT NULL, 
		[TransId] [nvarchar](8) NULL, 
		[EntryNum] int Null, 
		[Grouping] smallint Null, 
		[Amount] [decimal](28,10) NOT NULL, 
		[TransDate] datetime Null, 
		[PostDate] datetime Null, 
		[Descr] nvarchar(30) Null, 
		[SourceCode] nvarchar(2) Null, 
		[Reference] nvarchar(15) Null, 
		[DistCode] [nvarchar](6) NULL,
		[GlAcct] [nvarchar](255) NULL, 
		[DR] [decimal](28,10) NULL, 
		[CR] [decimal](28,10) NULL, 
		[FiscalPeriod] smallint Null, 
		[FiscalYear] smallint Null, 
		[LinkID] nvarchar(15) Null, 
		[LinkIDSub] nvarchar(15) Null, 
		[LinkIDSubLine] int Null, 
		[CurrencyId] [nvarchar](6) NULL, 
		[ExchRate] [decimal](28,10) NULL Default(1), 
		[DebitAmtFgn] [decimal](28,10) NULL Default(0), 
		[CreditAmtFgn] [decimal](28,10) NULL Default(0)
	)

	--Prepayments
	Create Table #Temp2
	(
		hid nvarchar(8), 
		FiscalYear smallint, 
		GLPeriod smallint,
		CurrencyID [nvarchar](6) NULL,    
		ExchRate [decimal](28,10) NULL,
		GLAcctReceivables [nvarchar](255) NULL, 
		PmtDate datetime, 
		PmtAmt [decimal](28,10) NULL,
		[Difference] [decimal](28,10) NULL,
		PmtAmtFgn [decimal](28,10) NULL,     
		DifferenceFgn [decimal](28,10) NULL,     
		BankID [nvarchar](10) NULL, 
		DepositID [nvarchar](6) NULL,
		InvcNum [nvarchar](15) NULL, 
		CustId [nvarchar](10) NULL, 
		GLAcctDebit [nvarchar](255) NULL, 
		DistCode [nvarchar](6) NULL, 
		DID int,		
		InvcType smallint Null Default(1)
	)


	INSERT INTO #Temp2 (hid, FiscalYear, GLPeriod, CurrencyID
		, ExchRate
		, GLAcctReceivables
		, PmtDate, PmtAmt, [Difference], PmtAmtFgn, DifferenceFgn, BankID, DepositID
		, InvcNum, CustId
		, GLAcctDebit
		, DistCode, DID,  InvcType)
	SELECT Right(Cast(h.RcptHeaderId as nvarchar), 8), h.FiscalYear, h.GLPeriod, h.CurrencyId
		, h.ExchRate
		, CASE WHEN h.CustId IS NULL THEN h.GLAcct ELSE dc.GLAcctReceivables END -- Use acct from header when no customer is identified
		, h.PmtDate, d.PmtAmt, d.[Difference], d.PmtAmtFgn, d.DifferenceFgn, h.BankID, h.DepositId
		, d.InvcNum, h.CustId
		, CASE	WHEN p.PmtType IN (3, 7) THEN  ISNULL(b.GlCashAcct, p.GLAcctDebit) 
				WHEN p.PmtType IN (1, 2, 6) THEN b.GlCashAcct ELSE p.GLAcctDebit END --ues the bank gl account for Cash, Check and Direct Debit 
		, d.DistCode, d.RcptDetailID,  d.InvcType
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	INNER JOIN dbo.tblArPmtMethod p ON h.PmtMethodId = p.PmtMethodID
	LEFT JOIN dbo.tblSmBankAcct b on p.BankId = b.BankId
	LEFT JOIN dbo.tblArDistCode dc ON d.DistCode = dc.DistCode --get AR Acct for header

	--Cash receipts that are applied to existing pro forma invoice	
	--GL entries for Deposit Receivables and Deposit Receivables Contra
	INSERT  #ArTransPostLogDtl
		( PostRun, TransId, FiscalPeriod, EntryNum, [Grouping]
		, Amount
		, Transdate, PostDate, Descr, SourceCode, Reference,DistCode,GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
		, CurrencyId
		, ExchRate
		, DebitAmtFgn
		, CreditAmtFgn )  
	SELECT @PostRun, ap.TransKey, h.GlPeriod, 10000,990
		, (ap.Amt)
		, h.PmtDate, @WrkStnDate,SubString(d.InvcNum + ' / ' + h.DepositID,1,30),'AR',h.CustId,ap.DistCode,c.GLAcctDepositReceivables 
		, CASE WHEN ap.Amt < 0 THEN 0 ELSE ABS(ap.Amt) END
		, CASE WHEN ap.Amt < 0 THEN ABS(ap.Amt) ELSE 0 END
		, h.FiscalYear,d.RcptDetailID,d.InvcNum,-1
		, CASE WHEN @MCYN = 1 AND @ArGlYn = 1 THEN ap.CurrencyID ELSE @CurrBase END
		, CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 
					     THEN ap.CurrencyID ELSE @CurrBase END = @CurrBase 
			   THEN 1.0 
			   ELSE er.Rate 
		  END
		, CASE WHEN ((ap.AmtFgn)<0) 
			   THEN 0 
			   ELSE CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 THEN ap.CurrencyID 
								   ELSE @CurrBase 
							  END = @CurrBase 
						 THEN ABS(ap.Amt) 
						 ELSE ABS(ap.AmtFgn) 
					END 
		  END
		, CASE WHEN ((ap.AmtFgn)<0) 
			   THEN CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 
								   THEN ap.CurrencyID ELSE @CurrBase END = @CurrBase 
						 THEN ABS(ap.Amt) 
						 ELSE ABS(ap.AmtFgn) END 
			   ELSE 0 END
	FROM dbo.tblArCashRcptHeader h
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
	INNER JOIN #ArApplyPayment ap ON h.RcptHeaderID= ap.TransID AND d.RcptDetailID = ap.RcptDetailID
	INNER JOIN tblArDistCode c ON c.DistCode=ap.DistCode 
	LEFT JOIN [dbo].tblSmExchangeRateTrans er ON er.[Source] = h.CurrencyID AND er.Destination = ap.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800), ap.TransKey)	
	LEFT JOIN [dbo].[tblSmCurrency] cu on er.[Destination] = cu.[CurrID] 
	WHERE h.CustId IS NOT NULL AND  er.TransType = @TransType AND ap.RecType = 5

	INSERT #ArTransPostLogDtl
		( PostRun, TransId, FiscalPeriod, EntryNum, [Grouping]
		, Amount
		, Transdate, PostDate, Descr, SourceCode, Reference,DistCode
		, GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
		, CurrencyId
		, ExchRate
		, DebitAmtFgn, CreditAmtFgn )  
	SELECT @PostRun, ap.TransKey, h.GlPeriod, 10000,990
		, -(ap.Amt)
		, h.PmtDate, @WrkStnDate,SubString(d.InvcNum + ' / ' + h.DepositID,1,30),'AR',h.CustId,ap.DistCode
		, c.GLAcctDepositReceivablesContra 
		, CASE WHEN -(ap.Amt) < 0 THEN 0 ELSE ABS(ap.Amt) END 
		, CASE WHEN -(ap.Amt) < 0 THEN ABS(ap.Amt) ELSE 0 END
		, h.FiscalYear,d.RcptDetailID,d.InvcNum,-1
		, CASE WHEN @MCYN = 1 AND @ArGlYn = 1 THEN ap.CurrencyID ELSE @CurrBase END
		, CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 
					     THEN ap.CurrencyID ELSE @CurrBase END = @CurrBase 
			   THEN 1.0 
			   ELSE er.Rate 
		  END
		, CASE WHEN (-(ap.AmtFgn)<0) 
			   THEN 0 
			   ELSE CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 THEN ap.CurrencyID 
								   ELSE @CurrBase 
							  END = @CurrBase 
						 THEN ABS(ap.Amt) 
						 ELSE ABS(ap.AmtFgn) 
					END 
		  END
		, CASE WHEN (-(ap.AmtFgn)<0) 
			   THEN CASE WHEN CASE WHEN @MCYN = 1 AND @ArGlYn = 1 
								   THEN ap.CurrencyID ELSE @CurrBase END = @CurrBase 
						 THEN ABS(ap.Amt) 
						 ELSE ABS(ap.AmtFgn) END 
			   ELSE 0 END
	FROM dbo.tblArCashRcptHeader h
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId
	LEFT JOIN #ArApplyPayment ap ON h.RcptHeaderID= ap.TransID AND d.RcptDetailID = ap.RcptDetailID
	Inner Join tblArDistCode c ON c.DistCode=ap.DistCode 
	LEFT JOIN [dbo].tblSmExchangeRateTrans er ON er.[Source] = h.CurrencyID AND er.Destination = ap.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800), ap.TransKey)	
	LEFT JOIN [dbo].[tblSmCurrency] cu on er.[Destination] = cu.[CurrID] 
	WHERE h.CustId IS NOT NULL AND  er.TransType = @TransType AND ap.RecType = 5

		
	--Cash receipts that are applied to pro forma invoice
	--GL entries for Customer Deposit
	INSERT #ArTransPostLogDtl
		( PostRun, TransId, FiscalPeriod, EntryNum, [Grouping]
		, Amount
		, Transdate, PostDate, Descr, SourceCode, Reference,DistCode, GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
		, CurrencyId, ExchRate
		, DebitAmtFgn
		, CreditAmtFgn )  
	SELECT @PostRun, h.RcptHeaderID, h.GlPeriod, 10000,990
		, -1 * (d.PmtAmt + d.[Difference] )
		, h.PmtDate, @WrkStnDate,SubString(d.InvcNum + ' / ' + h.DepositID,1,30),'AR',h.CustId,d.DistCode, @CustDepositAcct 
		, CASE WHEN (-(d.PmtAmt + d.[Difference])<0) THEN 0 
			   ELSE ABS(d.PmtAmt + d.[Difference])  
						 
		  END
		, CASE WHEN (-(d.PmtAmt + d.[Difference])<0) THEN 
			   ABS(d.PmtAmt + d.[Difference])
		  ELSE 0 END
		, h.FiscalYear,d.RcptDetailID,d.InvcNum,-1
		, h.CurrencyID, h.ExchRate
		, CASE WHEN (-(d.PmtAmtFgn + d.[DifferenceFgn])<0) THEN 0 
			   ELSE ABS(d.PmtAmtFgn + d.[DifferenceFgn])							
		  END
		, CASE WHEN (-(d.PmtAmtFgn + d.[DifferenceFgn])<0) THEN 
			   ABS(d.PmtAmtFgn + d.[DifferenceFgn])						
		  ELSE 0 END
	FROM dbo.tblArCashRcptHeader h
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID AND d.InvcType=5
	INNER JOIN #PostTransList b on h.RcptHeaderID = b.TransId	
	WHERE h.CustId IS NOT NULL 

	--Cash
	INSERT #ArTransPostLogDtl
		(PostRun, TransId, FiscalPeriod, EntryNum, [Grouping], Amount, Transdate
		, PostDate, Descr
		, SourceCode, Reference, DistCode, GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
		, CurrencyId
		, ExchRate
		, DebitAmtFgn
		, CreditAmtFgn)       
	SELECT @PostRun, hid, GlPeriod, 100000, 991, PmtAmt, PmtDate
		, @WrkStnDate, SubString(InvcNum + ' / ' + DePositID, 1, 30)
		, 'AR', Coalesce(CustId, InvcNum), #Temp2.DistCode, GlAcctDebit
		, CASE WHEN PmtAmt > 0
				THEN ABS(PmtAmt) ELSE 0 END
		, CASE WHEN PmtAmt < 0
				THEN ABS(PmtAmt) ELSE 0 END
		, FiscalYear, DID, InvcNum, -1
		, CurrencyID
		, CASE WHEN CurrencyID = @CurrBase THEN 1.0 ELSE ExchRate END
		, CASE WHEN PmtAmtFgn > 0 
				THEN ABS(PmtAmtFgn) ELSE 0 
		  END
		, CASE WHEN PmtAmtFgn < 0 
				THEN ABS(PmtAmtFgn) ELSE 0 
		  END
	FROM #Temp2
	WHERE PmtAmtFgn <> 0


	--Discount
	INSERT #ArTransPostLogDtl
		(PostRun, TransId, FiscalPeriod, EntryNum, [Grouping], Amount
		, Transdate,PostDate, Descr
		, SourceCode, Reference, DistCode, GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine   
		, CurrencyId, ExchRate
		, DebitAmtFgn
		, CreditAmtFgn)       
	SELECT @PostRun, hid, GlPeriod, 100000, 992, [Difference]
		, PmtDate, @WrkStnDate,SubString(InvcNum + ' / ' + DePositID,1,30)
		, 'AR', Coalesce(CustId, InvcNum), #Temp2.DistCode, @GlAcctDisc
		, CASE WHEN [Difference] > 0
			THEN ABS([Difference]) ELSE 0 END
		, CASE WHEN [Difference] < 0
			THEN ABS([Difference]) ELSE 0 END
		, FiscalYear, DID, InvcNum, -1
		, CurrencyID, ExchRate
		, CASE WHEN [DifferenceFgn] > 0
			THEN ABS([DifferenceFgn]) ELSE 0 END
		, CASE WHEN [DifferenceFgn] < 0
			THEN ABS([DifferenceFgn]) ELSE 0 END
	FROM #Temp2
	WHERE [Difference] <> 0


	--AR
	INSERT #ArTransPostLogDtl
		(PostRun, TransId, FiscalPeriod, EntryNum, [Grouping]
		, Amount
		, Transdate, PostDate, Descr
		, SourceCode, Reference, DistCode, GlAcct
		, DR
		, CR
		, FiscalYear, LinkID, LinkIDSub, LinkIDSubLine
		, CurrencyId, ExchRate
		, DebitAmtFgn
		, CreditAmtFgn)               
	SELECT @PostRun, hid, GlPeriod, 100000, 993
		, -1 * (PmtAmt + [Difference] )
		, PmtDate, @WrkStnDate, SubString(InvcNum + ' / ' + DepositID,1,30)
		, 'AR', Coalesce(CustId, InvcNum), #Temp2.DistCode, GLAcctReceivables
		, CASE WHEN -1*(PmtAmt + [Difference] ) > 0
			THEN ABS(PmtAmt + [Difference] ) ELSE 0 END
		, CASE WHEN -1*(PmtAmt + [Difference] ) < 0
			THEN ABS(PmtAmt + [Difference] ) ELSE 0 END
		, FiscalYear, DID, InvcNum, -1
		, CurrencyID, ExchRate 
		, CASE WHEN -1 * (PmtAmtFgn  + [DifferenceFgn]) > 0
			   THEN ABS(PmtAmtFgn + [DifferenceFgn]) 
		  ELSE 0 END
		, CASE WHEN -1 * (PmtAmtFgn  + [DifferenceFgn]) < 0
			   THEN ABS(PmtAmtFgn + [DifferenceFgn] ) 
		  ELSE 0 END					 
	FROM #Temp2
	WHERE InvcType = 1 AND (PmtAmtFgn <> 0 OR [DifferenceFgn] <> 0) --Regular invoice only

	--populate the GL Log table
	IF (@ArGlDetailYn = 0)
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod
			, [Description],Reference,SourceCode,CreditAmount,DebitAmount
			, CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
		SELECT @PostRun, @TransType, TransId, @PostRun, @CompId, GlAcct, FiscalYear, FiscalPeriod
			, CASE WHEN [Grouping] = 993 THEN @ARDescr
				   WHEN [Grouping] = 991 THEN @PaymentDescr
				   WHEN [Grouping] = 992 THEN @DiscountDescr 
				   WHEN [Grouping] = 990 THEN @DepositDescr
				   ELSE @UnknownDescr END
			, 'AR', 'AR'
			, CreditAmtFgn,DebitAmtFgn
			, Cast(CR as decimal(28, 10)) CreditAmount,  Cast(DR as decimal(28, 10)) DebitAmount
			, CurrencyId, @WrkStnDate, @WrkStnDate, NULL ,NULL
		FROM #ArTransPostLogDtl
	ELSE
		INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod
			, [Description],Reference,SourceCode,CreditAmount,DebitAmount
			, CreditAmountBase,DebitAmountBase
			, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
		SELECT @PostRun, @TransType, TransId, @PostRun, @CompId, GlAcct, FiscalYear, FiscalPeriod
			, Descr, Reference, SourceCode, CreditAmtFgn,DebitAmtFgn
			, Cast(CR as decimal(28, 10)) CreditAmount,  Cast(DR as decimal(28, 10)) DebitAmount
			, CurrencyId, TransDate, PostDate, LinkID ,LinkIDSubLine
		FROM #ArTransPostLogDtl

	--update the transaction summary log table
	INSERT INTO #TransactionSummary ([FiscalYear], [FiscalPeriod]
		, [TransAmt]
		, [RcptAmtApplied]
		, [RcptAmtUnapplied]
		, [CurrencyId]
		, [TransAmtFgn]
		, [RcptAmtAppliedFgn]
		, [RcptAmtUnappliedFgn])
	SELECT h.FiscalYear, h.GlPeriod
		, 0
		, Sum(CASE WHEN CustID IS NULL THEN 0 ELSE (d.PmtAmt + d.[Difference] ) END)
		, Sum(CASE WHEN CustID IS NULL THEN (d.PmtAmt + d.[Difference]) ELSE 0 END)
		, h.CurrencyId
		, 0
		, Sum(CASE WHEN CustID IS NULL THEN 0 ELSE d.PmtAmtFgn + d.[DifferenceFgn] END)
		, Sum(CASE WHEN CustID IS NULL THEN d.PmtAmtFgn + d.[DifferenceFgn] ELSE 0 END)
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	GROUP BY h.CurrencyId, h.FiscalYear, h.GlPeriod

	--update the payment summary log table
	INSERT INTO #PaymentSummary ([FiscalYear], [FiscalPeriod], [BankId], [PmtMethodId]
		, [Description], [PaymentType], [PaymentAmount]
		, [CurrencyId], [PaymentAmountFgn])
	SELECT h.FiscalYear, h.GlPeriod, pm.BankId, h.PmtMethodId
		, pm.[Desc], pm.PmtType, Sum(d.PmtAmt)
		, h.[CurrencyID]
		, SUM(d.PmtAmtFgn) 
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArPmtMethod pm ON h.PmtMethodId = pm.PmtMethodID
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	GROUP BY h.[CurrencyID], h.FiscalYear, h.GlPeriod, pm.BankId, h.PmtMethodId, pm.[Desc], pm.PmtType


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_BuildLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_BuildLog_proc'
GO
