USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_BankRec_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_BankRec_proc]
AS
BEGIN TRY
	DECLARE @CurrBase [nvarchar](6), @DescrDeposit nvarchar(30), @ReferDeposit nvarchar(15)
	DECLARE @TransType nvarchar(10), @PostRun [nvarchar](14)
	
	
	--Retrieve global values
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @DescrDeposit = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'DescrDeposit'
	SELECT @ReferDeposit = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'ReferDeposit'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'ARCASHRCPT'
	SELECT @PostRun = CAST([Value] AS NVARCHAR) FROM #GlobalValues WHERE [Key] = 'PostRun'
	IF @CurrBase IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--Set default for globals that were not provided
	SELECT @DescrDeposit = CASE WHEN ISNULL(@DescrDeposit, '') = '' THEN 'AR Deposit' ELSE @DescrDeposit END
		, @ReferDeposit = CASE WHEN ISNULL(@ReferDeposit, '') = '' THEN 'AR Deposit' ELSE @ReferDeposit END

     
     CREATE TABLE #Payment
     (
		SourceID nvarchar(20)
		, BankID [nvarchar](10) NOT NULL 
		, CurrencyId [nvarchar](6) NOT NULL
		, TransDate datetime
		, ExchRate [decimal](28,10) NOT NULL
		, Amount [decimal](28,10) NOT NULL
		, AmountFgn [decimal](28,10) NULL
		, FiscalYear smallint
		, GlPeriod smallint
		, Descr [nvarchar](255) NULL
		, Reference nvarchar(30)
		, PaymentHistoryLink nvarchar(255)
     ) 
 
     
     CREATE TABLE #BankAccnt
     (
		  BankId [nvarchar](10) NOT NULL 
		, PmtAmt [decimal](28,10) NOT NULL
		, PmtAmtFgn [decimal](28,10) NOT NULL
     )
     
	--insert records for payments in which Type < 3 (Cash or Check) or Type = 6 (Direct Debit) */
    INSERT INTO #Payment(SourceID, BankID, CurrencyId, TransDate, ExchRate
		, Amount, AmountFgn, FiscalYear, GlPeriod, Descr, Reference)
	SELECT h.DepositId, h.BankId, br.CurrencyId, h.PmtDate
		, CASE WHEN br.CurrencyID = @CurrBase THEN 1 
			   WHEN h.CurrencyID = br.CurrencyId THEN h.ExchRate	
		  ELSE er.Rate END
		, SUM(d.PmtAmt)
		, SUM(
			CASE WHEN br.CurrencyID = @CurrBase THEN d.PmtAmt 
				 WHEN h.CurrencyID = br.CurrencyId THEN d.PmtAmtFgn
			ELSE ROUND(d.PmtAmtFgn * er.Rate,er.CurrDecPlaces) END)
		, h.FiscalYear, h.GlPeriod, @DescrDeposit, @ReferDeposit
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArPmtMethod pmt ON h.PmtMethodId = pmt.PmtMethodId
	INNER JOIN dbo.tblSmBankAcct br ON pmt.BankID = br.BankID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE  er.TransType = @TransType
	) er  ON er.[Source] = h.CurrencyID AND er.Destination = br.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800),h.RcptHeaderID)
	WHERE h.BankID IS NOT NULL AND (pmt.PmtType < 3 OR pmt.PmtType = 6)
	GROUP BY h.DepositId, h.BankID, br.CurrencyID, h.FiscalYear, h.GlPeriod, h.ExchRate, h.PmtDate, h.CurrencyID, er.Rate	
	
	--insert records for payments in which Type = 3 (CreditCard) and Type = 7 (External)
	INSERT INTO #Payment(SourceID, BankID, CurrencyId, TransDate, ExchRate
		, Amount, AmountFgn, FiscalYear, GlPeriod, Descr, Reference, PaymentHistoryLink)

	SELECT h.DepositId, h.BankId, br.CurrencyId, h.PmtDate
		, CASE WHEN br.CurrencyID = @CurrBase THEN 1 
			   WHEN h.CurrencyID = br.CurrencyId THEN h.ExchRate	
		  ELSE er.Rate END
		, d.PmtAmt
		, CASE WHEN br.CurrencyID = @CurrBase THEN d.PmtAmt 
				 WHEN h.CurrencyID = br.CurrencyId THEN d.PmtAmtFgn
			ELSE ROUND(d.PmtAmtFgn * er.Rate,er.CurrDecPlaces) END
		, h.FiscalYear, h.GlPeriod, CONVERT(nvarchar(255),c.CustName +'|'+ h.CcAuth) as Descr, pmt.PmtMethodId,@PostRun +'|'+ CONVERT(nvarchar(20), d.RcptDetailID) 
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArPmtMethod pmt ON h.PmtMethodId = pmt.PmtMethodId
	INNER JOIN dbo.tblSmBankAcct br ON pmt.BankID = br.BankID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE  er.TransType = @TransType
	) er  ON er.[Source] = h.CurrencyID AND er.Destination = br.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800),h.RcptHeaderID)
	LEFT JOIN dbo.tblArCust c ON h.CustId = c.CustId
	WHERE h.BankID IS NOT NULL AND pmt.PmtType IN (3, 7)	

	IF  EXISTS (SELECT * FROM #Payment t WHERE  t.AmountFgn IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	
		   
	INSERT dbo.tblBrMaster (SourceID, BankID, CurrencyId, TransDate, TransType, ExchRate
		, Amount, AmountFgn, ClearedYn, Descr, Reference, SourceApp,FiscalYear, GlPeriod,PaymentHistoryLink) 
	SELECT h.SourceID, h.BankId, h.CurrencyId, h.TransDate, 2
		, CASE WHEN h.CurrencyID = @CurrBase THEN 1 ELSE h.ExchRate END
		, h.Amount
		, h.AmountFgn
		, 0, h.Descr, h.Reference, 'AR', h.FiscalYear, h.GlPeriod, h.PaymentHistoryLink
	FROM #Payment h 

	--update the bank account balance
	INSERT INTO #BankAccnt (BankId, PmtAmt, PmtAmtFgn)
	SELECT h.BankId
		, SUM(d.PmtAmt) PmtAmt
		, SUM(CASE WHEN br.CurrencyID = @CurrBase THEN d.PmtAmt 
				 WHEN h.CurrencyID = br.CurrencyId THEN d.PmtAmtFgn
			ELSE ROUND(d.PmtAmtFgn * er.Rate,er.CurrDecPlaces) END) PmtAmtFgn
	FROM dbo.tblArCashRcptHeader h 
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArPmtMethod pmt ON h.PmtMethodId = pmt.PmtMethodId
	INNER JOIN dbo.tblSmBankAcct br ON pmt.BankID = br.BankID 
	INNER JOIN #PostTransList l ON h.RcptHeaderID = l.TransId 
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE  er.TransType = @TransType
	) er  ON er.[Source] = h.CurrencyID AND er.Destination = br.CurrencyId AND er.TransKey = CONVERT(NVARCHAR(800),h.RcptHeaderID)
	WHERE h.BankID IS NOT NULL
	GROUP BY h.BankId
	
	IF  EXISTS (SELECT * FROM #BankAccnt t WHERE  t.PmtAmtFgn IS NULL )
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END	
	
	UPDATE dbo.tblSmBankAcct 
		SET GlAcctBal = CASE WHEN dbo.tblSmBankAcct.CurrencyId = @CurrBase 
			THEN (dbo.tblSmBankAcct.GlAcctBal + t.PmtAmt) 
			ELSE (dbo.tblSmBankAcct.GlAcctBal + t.PmtAmtFgn) 
		END 
	FROM dbo.tblSmBankAcct 
	INNER JOIN #BankAccnt t
	ON dbo.tblSmBankAcct.BankId = t.BankId	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_BankRec_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_BankRec_proc'
GO
