USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorInfo_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorInfo_proc]
@VendorId [nvarchar](10) = NULL, --Vendor ID
@Year smallint = 2010, --Calendar year of workstation date
@VendorCurrencyPrecision tinyint = 2, --Vendor currency precision
@BaseCurrencyPrecision tinyint = 2, --Base currency precision 
@BaseCurrency [nvarchar](6) = 'USD', --Base currency 
@VendorCurrency [nvarchar](6) = 'USD' --Vendor currency  
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @YTDPurchase [decimal](28,10), @LastYearPurchase [decimal](28,10), @PendingPurchase [decimal](28,10), @GrossDue [decimal](28,10),
		@YTDPurchaseFgn [decimal](28,10), @LastYearPurchaseFgn [decimal](28,10), @PendingPurchaseFgn [decimal](28,10), @GrossDueFgn [decimal](28,10)

     --Create a temp table to store vendor due amt.
	 CREATE TABLE #VendorDue
	 (
		GrossDue [decimal](28,10) NOT NULL,
		GrossDueFgn [decimal](28,10) NULL
	 )

	   --Create a temp table to store purchase history.
	 CREATE TABLE #PurchaseHist 
	 (
		YTDPurchase [decimal](28,10) NOT NULL,
		YTDPurchaseFgn [decimal](28,10) NULL,
		LastYearPurchase [decimal](28,10) NOT NULL,
		LastYearPurchaseFgn [decimal](28,10) NULL
	 )

    --Create a temp table to store order info.
	 CREATE TABLE #PendingOrder
	 (
		PendingPurchase [decimal](28,10) NOT NULL,
		PendingPurchaseFgn [decimal](28,10) NULL
	 )
	
	INSERT INTO #PurchaseHist (YTDPurchase,YTDPurchaseFgn,LastYearPurchase,LastYearPurchaseFgn)
	SELECT (SIGN(TransType) * CASE 
												WHEN YEAR(InvoiceDate) = @Year
													THEN h.Subtotal + h.SalesTax + h.Freight + h.Misc + h.TaxAdjAmt
												ELSE 0
										    END)	AS YTDPurchase								
		,(SIGN(TransType) *  CASE 
										  WHEN YEAR(InvoiceDate) = @Year
											THEN CASE 
														WHEN @VendorCurrency = @BaseCurrency
															THEN h.Subtotal + h.SalesTax + h.Freight + h.Misc + h.TaxAdjAmt
														WHEN @VendorCurrency = h.CurrencyId
															THEN h.Subtotalfgn + h.SalesTaxfgn + h.Freightfgn + h.Miscfgn + h.TaxAdjAmtfgn
														ELSE ROUND((h.Subtotalfgn + h.SalesTaxfgn + h.Freightfgn + h.Miscfgn + h.TaxAdjAmtfgn) * e.Rate, @VendorCurrencyPrecision)
													END
										  ELSE 0
									   END) AS YTDPurchaseFgn
		,(SIGN(TransType) *  CASE 
										 WHEN YEAR(InvoiceDate) = @Year - 1
											THEN h.Subtotal + h.SalesTax + h.Freight + h.Misc + h.TaxAdjAmt
										 ELSE 0
									  END) AS YTDPurchaseFgn
		,(SIGN(TransType) * CASE 
										WHEN YEAR(InvoiceDate) = @Year - 1
											THEN CASE 
														WHEN @VendorCurrency = @BaseCurrency
															THEN h.Subtotal + h.SalesTax + h.Freight + h.Misc + h.TaxAdjAmt
														WHEN @VendorCurrency = h.CurrencyId
															THEN h.Subtotalfgn + h.SalesTaxfgn + h.Freightfgn + h.Miscfgn + h.TaxAdjAmtfgn
														ELSE ROUND((h.Subtotalfgn + h.SalesTaxfgn + h.Freightfgn + h.Miscfgn + h.TaxAdjAmtfgn) * e.Rate, @VendorCurrencyPrecision)
													END
										ELSE 0
									  END) AS LastYearPurchaseFgn
	FROM dbo.tblApHistheader h
	LEFT JOIN (
						SELECT r.FiscalPeriod,r.FiscalYear,rd.Rate	,rd.[Source],rd.Destination
						FROM dbo.tblSmExchangeRate r
						INNER JOIN dbo.tblSmExchangeRateDetail rd ON rd.ExchangeRateID = r.ID	AND r.Type = 1
				  ) e ON e.FiscalPeriod = h.GLPeriod
		AND e.FiscalYear = h.FiscalYear
		AND e.[Source] = h.CurrencyId
		AND e.Destination = @VendorCurrency
	WHERE VendorId = @VendorId

	--abort if invalid currency convertion exist	
	IF EXISTS (SELECT TOP 1 YTDPurchase  FROM #PurchaseHist 
	                WHERE  YTDPurchaseFgn IS NULL OR  LastYearPurchaseFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	INSERT INTO #PendingOrder (PendingPurchase,PendingPurchaseFgn)
	SELECT ROUND(CASE 
							WHEN d.QtyOrd > ISNULL(r.QtyFilled, 0)
								THEN SIGN(h.TransType) * (d.QtyOrd - ISNULL(r.QtyFilled, 0)) * d.UnitCost
							ELSE 0
						END, @BaseCurrencyPrecision) AS PendingPurchase
		,ROUND(CASE 
						WHEN d.QtyOrd > ISNULL(r.QtyFilled, 0)
							THEN SIGN(h.TransType) * (d.QtyOrd - ISNULL(r.QtyFilled, 0)) * 
							CASE 
								WHEN @VendorCurrency = @BaseCurrency
									THEN d.UnitCost
								WHEN @VendorCurrency = h.CurrencyId
									THEN d.UnitCostFgn
								ELSE d.UnitCostFgn * e.Rate
							END
						ELSE 0
					END, @VendorCurrencyPrecision) AS PendingPurchaseFgn
	FROM dbo.tblPoTransHeader h
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId
	LEFT JOIN (
						SELECT TransId,EntryNum,SUM(QtyFilled) QtyFilled
						FROM dbo.tblPoTransLotRcpt
						GROUP BY TransId,EntryNum
				  ) r ON h.TransId = r.TransId
		AND d.EntryNum = d.EntryNum
	LEFT OUTER JOIN dbo.tblSmExchangeRateTrans e ON e.TransKey = h.TransId
		AND e.TransType = 'POTRANS'
		AND e.[Source] = h.CurrencyId
		AND e.Destination = @VendorCurrency
	WHERE h.VendorId = @VendorId 	AND d.LineStatus = 0

		--abort if invalid currency convertion exist	
	IF EXISTS (SELECT TOP 1 PendingPurchase  FROM #PendingOrder 
	                WHERE  PendingPurchaseFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	INSERT INTO #VendorDue (GrossDue,GrossDueFgn)
	SELECT o.GrossAmtDue
		, CASE 
				WHEN @VendorCurrency = @BaseCurrency
					THEN o.GrossAmtDue
				WHEN @VendorCurrency = o.CurrencyId
					THEN o.GrossAmtDueFgn
				ELSE ROUND(o.GrossAmtDueFgn * e.Rate, @VendorCurrencyPrecision)
		  END
	FROM dbo.tblApOpenInvoice o
	LEFT OUTER JOIN dbo.tblSmExchangeRateTrans e ON e.TransKey = o.Counter
		AND e.TransType = 'APINVC'
		AND e.[Source] = o.CurrencyId
		AND e.Destination = @VendorCurrency
	WHERE VendorID = @VendorId AND STATUS < 3

		--abort if invalid currency convertion exist	
	IF EXISTS (SELECT TOP 1 GrossDue  FROM #VendorDue 
	                WHERE  GrossDueFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	SELECT @YTDPurchase = SUM(YTDPurchase),@YTDPurchaseFgn =  SUM(YTDPurchaseFgn)
	   ,@LastYearPurchase =SUM(LastYearPurchase),@LastYearPurchaseFgn =  SUM(LastYearPurchaseFgn)
	FROM #PurchaseHist
	
	SELECT  @PendingPurchase = SUM(PendingPurchase),@PendingPurchaseFgn = SUM(PendingPurchaseFgn)
	FROM #PendingOrder

	SELECT @GrossDue = SUM(GrossDue),@GrossDueFgn = SUM(GrossDueFgn)
	FROM #VendorDue

	SELECT ISNULL(@YTDPurchase,0) AS YTDPurchase, ISNULL(@LastYearPurchase,0) AS LastYearPurchase, 
		ISNULL(@PendingPurchase,0) AS PendingPurchase, ISNULL(@GrossDue,0) AS GrossDue,
		ISNULL(@YTDPurchaseFgn,0) AS YTDPurchaseFgn, ISNULL(@LastYearPurchaseFgn,0) AS LastYearPurchaseFgn, 
		ISNULL(@PendingPurchaseFgn,0) AS PendingPurchaseFgn, ISNULL(@GrossDueFgn,0) AS GrossDueFgn

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

	
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorInfo_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorInfo_proc'
GO
