USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_OpenInvoice_proc]
AS
SET NOCOUNT ON
BEGIN TRY


	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @MCYn bit
	DECLARE @TransTypeInvoice nvarchar(10)
	DECLARE @TransType NVARCHAR(10)
	DECLARE @ApplyCreditsToOldest bit

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @MCYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Multicurr'
	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'SOTRANS'
	SELECT @ApplyCreditsToOldest = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApplyCreditsToOldest'

	IF @PostRun IS NULL OR @CurrBase IS NULL OR @MCYn IS NULL OR @TransTypeInvoice IS NULL OR @TransType IS NULL OR @ApplyCreditsToOldest IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
		
	
	--append invoices and credit memos 
	INSERT dbo.tblArOpenInvoice (CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate, Amt, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp,AgingPeriod,InvoiceID,AppliedAmount,AppliedDiscount,GainLossAmount) 
		
	SELECT h.CustId, CASE WHEN TransType > 0 THEN 1 ELSE -1 END
		, CASE WHEN h.TransType < 0 
			THEN ISNULL(NULLIF(h.OrgInvcNum,''), b.DefaultInvoiceNumber) 
			ELSE b.DefaultInvoiceNumber
			END
		, InvcDate, DistCode, TermsCode, CurrencyID, ExchRate
		, (TaxableSales + NonTaxableSales + SalesTax + TaxAmtAdj + Freight + Misc) Amt
		, (TaxableSalesFgn + NonTaxableSalesFgn + SalesTaxFgn + TaxAmtAdjFgn + FreightFgn + MiscFgn) AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, @PostRun, h.TransId
		, CASE WHEN g.OrgInvoiceID is null THEN 0 ELSE 1 END
		, (CASE WHEN TransType < 0 THEN b.DefaultInvoiceNumber ELSE NULL END)
		, CustPONum, 1
		, CASE WHEN @ApplyCreditsToOldest = 1 AND h.TransType < 0 THEN 4 ELSE 0 END --conditionally map unapplied credits to oldest aging period
		, g.OrgInvoiceID, ISNULL(g.AppliedAmount,0),ISNULL(g.AppliedDiscount,0),ISNULL(g.GainLossAmountbase,0) 
	FROM dbo.tblSoTransHeader h 
	INNER JOIN #PostTransList b on h.TransId = b.TransId
	LEFT JOIN #GainLossTrans  g ON h.TransId = g.TransId
	WHERE h.PrintInvcStatus <> 0 or 
		(h.PrintInvcStatus = 0 and
		((TaxableSalesFgn <> 0 or NonTaxableSalesFgn <> 0 or SalesTaxFgn <> 0 or TaxAmtAdjFgn <> 0 or FreightFgn <> 0 or MiscFgn <> 0) --Don't create if zero amount
		or h.Transid in (select transid from tblSoTransDetail where QtyShipSell > 0))		
		)
	
	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypeInvoice,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM tblSmExchangeRateTrans d		
	INNER JOIN #PostTransList b on d.TransKey = b.TransId AND d.TransType=@TransType
	LEFT JOIN dbo.tblArOpenInvoice ov ON ov.TransId = b.TransId AND ov.PostRun = @PostRun 
	WHERE b.transid in (select transid from dbo.tblSoTransHeader WHERE (TaxableSalesFgn <> 0 or NonTaxableSalesFgn <> 0 or SalesTaxFgn <> 0 or TaxAmtAdjFgn <> 0 or FreightFgn <> 0 or MiscFgn <> 0)
	or b.Transid in (select transid from tblSoTransDetail where QtyShipSell > 0)
	)		
	


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_OpenInvoice_proc'
GO
