USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmWorkSheetReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmWorkSheetReport_proc]  
@BatchID  pBatchID,  
@PrintZeroQty bit = 1, -- Print Items with Zero Quantities.  
@PrintNonserialized bit = 1, -- Print Nonserialized Items
@PrintSerialized bit = 1,  -- Print Serialized Items
@PrintPageBreak int = 0 -- 0: None, 1: ItemId, 2: ProductLine, 3: Bin, 4: Container

AS  
SET NOCOUNT ON  
BEGIN TRY  

BEGIN
SELECT h.BatchId, h.ID, h.ItemId, b.LocId, d.LotNum, b.CountDate, b.AssignedTo AS CountBy, d.QtyFrozen/ISNULL(u.ConvFactor, 1) AS QtyFrozen, d.SerNum, h.CountUom, i.Descr, i.ProductLine, i.ItemType, i.LottedYn, d.ExtLocAID, d.ExtLocBID,
	CASE @PrintPageBreak 
		WHEN 0 THEN NULL
		WHEN 1 THEN h.ItemID
		WHEN 2 THEN i.ProductLine
		WHEN 3 THEN d.ExtLocAID
		WHEN 4 THEN d.ExtLocBID		
	END AS PageBreak
FROM dbo.tblWmPhysicalCountHeader h 
	INNER JOIN dbo.tblWmPhysicalCountDetail d ON h.ID = d.HeaderID 
	INNER JOIN dbo.tblWmPhysicalCountBatch b ON b.BatchID = h.BatchID 
	INNER JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 
	INNER JOIN dbo.tblInItemUom u ON h.ItemId = u.ItemId AND h.CountUom = u.Uom
	WHERE h.BatchId = @BatchID AND ((@PrintNonserialized = 1 AND I.ItemType = 1) OR (@PrintSerialized = 1 AND I.ItemType = 2)) AND (@PrintZeroQty = 1 OR QtyFrozen <> 0)
END
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmWorkSheetReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmWorkSheetReport_proc'
GO
