USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrPlannedProduction_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrPlannedProduction_proc]
(
@WksDate Datetime,
@RunId [nvarchar](14),
@PdDefId nvarchar(10),
@ShowPriorYn bit=0
)
AS
BEGIN TRY
SET NOCOUNT ON
Declare @UserId [nvarchar](20)
Declare @WrkStnId [nvarchar](20)
Declare @LateDate datetime
Declare @TimeFencePds smallint
Declare @TimeFenceDate datetime
Declare @Done bit



	Delete from #Items where ISNULL(RunID,@RunId)<>@RunId  --exclude items with onhand qty when MRP data was generated
	
	--Period def date list 
	Create table #DateList
	(
		PdId int identity(1, 1),
		IncDate datetime, DaysInPd int
	)

	--period qty buckets
	Create table #PdQtys
	(
		ItemId [nvarchar](24) NULL,
		LocId [nvarchar](10) NOT NULL,
		PdDate datetime Null, 
		OnHand [decimal](28,10) NOT NULL default(0),
		SoCmtd [decimal](28,10) NOT NULL default(0), 
		MfCmtd [decimal](28,10) NOT NULL default(0), 
		MpCompReq [decimal](28,10) NOT NULL default(0),
		MfCompReq [decimal](28,10) NOT NULL default(0),
		MpOnOrder [decimal](28,10) NOT NULL default(0), 
		PoOnOrder [decimal](28,10) NOT NULL default(0),
		PoPurReq [decimal](28,10) NOT NULL default(0),
		WmOnOrder [decimal](28,10) NOT NULL default(0),
		JcCmtd [decimal](28,10) NOT NULL default(0),
		ProjOnHand [decimal](28,10) NOT NULL default(0),
		PlanRcpts [decimal](28,10) NOT NULL default(0),
		PlanOrdDate datetime null,		
		NetAvail [decimal](28,10) NOT NULL default (0),
		WorkOrderComponent [decimal](28,10) NOT NULL Default(0),
		WorkOrder [decimal](28,10) NOT NULL Default(0),
		MasterScheduledProduction [decimal](28,10) NOT NULL Default(0),
		SDCmtd [decimal](28,10) NOT NULL default(0),--SD Transactions 10
		PrOnOrder [decimal](28,10) NOT NULL default(0),  ---------PurchaseRequest(3) 
		BoCmtd   [decimal](28,10) NOT NULL default(0)  -------- BoCmtd (5)   
	)CREATE  INDEX [IX_ItemIdLocIdPdDate] ON [#PdQtys]([ItemId], [LocId], [PdDate])

	--set date for prior/last period
	Select @LateDate = dateadd(dd, -1, @WksDate)

Declare @NextDate datetime
Declare @tmpDate datetime
Declare @rowCount Int
Declare @rowNo Int

	Set @NextDate = @WksDate
	Select ROW_NUMBER() OVER (ORDER BY IncUnit) AS 'RowNumber', Increment,IncUnit 
	into #tmptblDrPeriodDefDtl 
	from dbo.tblDrPeriodDefDtl 
	Where PdDefId = @PdDefId

    Select @rowCount= COUNT(1) from #tmptblDrPeriodDefDtl 
    Set @rowNo=1
    
    While (@rowNo<=@rowCount)
    Begin
    Select @tmpDate= Case IncUnit
			When 1 Then DateAdd(ww, Increment, @NextDate) --weekly
			When 2 Then DateAdd(mm, Increment, @NextDate) --monthly
			Else DateAdd(dd, Increment, @NextDate) --daily
			End from #tmptblDrPeriodDefDtl where RowNumber = @rowNo
    
		Insert Into #DateList(IncDate, DaysInPd) values(@NextDate, Datediff(dd, @NextDate, @tmpDate))

		Select @NextDate = @tmpDate
        Set  @rowNo=@rowNo+1
    End
	--add @LateDate buckets at end of table so it's not included as a time fence period
	Insert into #DateList (IncDate, DaysInPd) Values (@LateDate, 1)

	Insert into #PdQtys(ItemId, LocId, PdDate, SOCmtd, MfCmtd, MpCompReq, MfCompReq
		, MpOnOrder, PoOnOrder, PoPurReq, WmOnOrder, JcCmtd,SDCmtd,BoCmtd,PrOnOrder)
	Select t.ItemId, t.LocId, d.IncDate
		, Sum(Case When t.Source = 16 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 32 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 8 Then t.Qty when t.Source = 512 Then t.Qty Else 0 End)
		, Sum(Case When t.Source = 64 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 4 Then t.Qty When t.Source = 256 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 1 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 2 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 1024 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 2048 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 10 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 5 Then t.Qty Else 0 End) 
		, Sum(Case When t.Source = 3 Then t.Qty Else 0 End) 
		From #DateList d, (Select r.ItemId, r.LocId
			, Case When r.TransDate < @WksDate Then @LateDate Else r.TransDate End TransDate
			, r.Source, r.Qty
			From dbo.tblDRRunData r inner join #Items i
			on r.ItemId = i.ItemId and r.LocId = i.LocId
			Where r.RunId = @RunId 
		) t
	Where t.TransDate Between d.IncDate and dateadd(dd, d.DaysInPd - 1, d.IncDate)
	Group By t.ItemId, t.LocId, d.IncDate

	--pack table to ensure records exist for each #DateList period
	Insert into #PdQtys(ItemId, LocId, PdDate) 
		Select i.ItemId, i.LocId, d.IncDate 
		From #DateList d, #Items i
		Where d.IncDate not in (Select PdDate From #PdQtys q Where q.ItemId = i.ItemId and q.LocId = i.LocId)

	If @ShowPriorYn <> 1 
	Begin
		--if not including prior periods then remove from dataset to prevent inclusion in calc
		Delete #PdQtys Where PdDate = @LateDate
	End

	--calcualte the Net Avail per period
	--	must find the respective date for the given time fence periods 
	--	to determine usage of actual vs forecasted quantity values
	Select  @TimeFencePds = TimeFencePds
		From dbo.tblDrPeriodDef
		Where PdDefId = @PdDefId

	Set @TimeFenceDate = Null

	Select @TimeFenceDate = Max(IncDate)
		From #DateList
		Where PdId <= @TimeFencePds    
	
	--if on first pass or if negative projected on hand qtys exist
	Set @Done = 0
	While @Done = 0
	Begin
		Update #PdQtys Set #PdQtys.NetAvail = (i.QtyOnHand - ((CASE WHEN l.QtySafetyStock > l.QtyOrderPoint THEN l.QtySafetyStock  ELSE l.QtyOrderPoint END) * p.ConvFactor)) + tmp.NetAvail
		From (Select d.ItemId, d.LocId, d.PdDate
			, (Select Sum(PlanRcpts + MpOnOrder + PoOnOrder + PoPurReq + WmOnOrder + PrOnOrder
				- Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)
					Then  --larger of frcst vs sales
						Case When isnull(MfCmtd, 0) > (isnull(SoCmtd , 0) + isnull(JcCmtd , 0)+ isnull(SDCmtd , 0)+ isnull(BoCmtd , 0))
							Then isnull(MfCmtd, 0)
							Else (isnull(SoCmtd , 0) + isnull(JcCmtd , 0)+ isnull(SDCmtd , 0)+ isnull(BoCmtd , 0))
							End
					Else  --sales
						(isnull(SoCmtd , 0) + isnull(JcCmtd , 0)+ isnull(BoCmtd , 0)+ isnull(SDCmtd , 0))
					End
				- Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)
					Then  --larger of Mstr Sched vs Act Prod Ord
						Case When isnull(MfCompReq, 0) > isnull(MpCompReq , 0)
							Then isnull(MfCompReq, 0)
							Else isnull(MpCompReq, 0)
							End
					Else  --Act Prod Ord
						isnull(MpCompReq, 0)
					End
				)
				From #PdQtys q
				Where q.ItemId = d.ItemId and q.LocId = d.LocId and q.PdDate <= d.PdDate) NetAvail 
			From #PdQtys d) tmp
			left join #Items i on tmp.ItemId = i.ItemId and tmp.LocId = i.LocId
			inner join dbo.tblInItemLoc l on i.ItemId = l.ItemId and i.LocId = l.LocId
			INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
		Where #PdQtys.ItemId = tmp.ItemId and #PdQtys.LocId = tmp.LocId and #PdQtys.PdDate = tmp.PdDate	
		
		
		
	    --update the On Hand quantity for each Period
		--adjust each active period
		Update #PdQtys Set #PdQtys.OnHand = isnull(tmp.OnHand, (i.QtyOnHand - ((CASE WHEN l.QtySafetyStock > l.QtyOrderPoint THEN l.QtySafetyStock  ELSE l.QtyOrderPoint END) * p.ConvFactor)))
		From #Items i 
		inner join dbo.tblInItemLoc l 
		on i.ItemId = l.ItemId and i.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
		left join (Select d.ItemId, d.LocId, d.PdDate
			, (Select Top 1 NetAvail From #PdQtys q
				Where q.ItemId = d.ItemId and q.LocId = d.LocId and q.PdDate < d.PdDate
				Order by q.PdDate Desc) OnHand
			From #PdQtys d) tmp
		on i.ItemId = tmp.ItemId and i.LocId = tmp.LocId
		Where #PdQtys.ItemId = tmp.ItemId and #PdQtys.LocId = tmp.LocId and #PdQtys.PdDate = tmp.PdDate

		--Move the temp calculated NetAvail into the Projected On Hand
		Update #PdQtys Set ProjOnHand = NetAvail

		--initially set the loops' 'done' flag to true
		Set @Done = 1

		--if negative Projected on hand qtys exist - generate planned receipts and loop to recalc values
		-- Can't generate planned receipts earlier the start date
		If (Select Count(1) From #PdQtys Where ProjOnHand < 0 And (PdDate > @LateDate)) > 0
		Begin
			--set the planned order date for the respective periods to generate planned receipts for
			-- and Adjust the planned receipts and loop to recalc
			Update #PdQtys Set PlanOrdDate = DateAdd(dd, -isnull(calc.DfltLeadTime, 0), calc.PdDate)
				, #PdQtys.PlanRcpts = Case When abs(#PdQtys.ProjOnHand) > isnull(calc.QtyOrderMin*calc.ConvFactor, 0) Then abs(#PdQtys.ProjOnHand) Else isnull(calc.QtyOrderMin*calc.ConvFactor, 0) End
				From (Select q.ItemId, q.LocId, l.DfltLeadTime, l.QtyOrderMin, Min(q.PdDate) PdDate, p.ConvFactor
					From #PdQtys q inner join dbo.tblInItemLoc l
					on q.ItemId = l.ItemId and q.LocId = l.LocId
					INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
					Where q.ProjOnHand < 0 And (PdDate > @LateDate)
					Group By q.ItemId, q.LocId, l.QtyOrderMin, l.DfltLeadTime, p.ConvFactor
				) calc
				Where #PdQtys.ItemId = calc.ItemId and #PdQtys.LocId = calc.LocId 
					and #PdQtys.PdDate = calc.PdDate

			Set @Done = 0
		End
	End

	
	Delete #PdQtys Where PdDate = @LateDate


	Select d.ItemId, d.LocId, i.Descr, Cast(l.DfltLeadTime as float) LeadTime
		,d.PdDate, d.PlanOrdDate
		,d.PlanRcpts / s.ConvFactor  as  Qty
		,l.EOQ * p.ConvFactor / s.ConvFactor  as EOQQty
		,l.QtyOrderMin * p.ConvFactor / s.ConvFactor as  MinQty
		,l.QtyOnHandMax * p.ConvFactor / s.ConvFactor  as   MaxQty
		,s.Uom as Unit
	From #Items s inner join #PdQtys d on s.ItemId = d.ItemId and s.LocId = d.LocId
	Inner Join dbo.tblInItemLoc l on s.ItemId = l.ItemId and s.LocId = l.LocId
	INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
	Inner join dbo.tblInItem i on s.ItemId = i.ItemId
	Where isnull(d.PlanRcpts, 0) > 0 
	Order by d.ItemId, d.LocId, d.PdDate


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedProduction_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedProduction_proc'
GO
