USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaUpdateDefaultDetails_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaUpdateDefaultDetails_proc]
AS
BEGIN TRY

	DECLARE @DeptDtlID int
	SELECT @DeptDtlID = MAX(Id) FROM dbo.tblPaDeptDtl
	SET @DeptDtlID = ISNULL(@DeptDtlID,0)

	INSERT INTO dbo.tblPaDeptDtl (Id,Type,TaxAuthorityId,Code,Description,GLAcct,DepartmentId)
	SELECT @DeptDtlID + ROW_NUMBER() OVER (ORDER BY dd.ID),d.Type, d.TaxAuthorityId, d.Code, d.Description,d.GLAcct,de.Id
	FROM tblPaDeptDtl dd 	
	RIGHT OUTER JOIN #DepartmentDefault d
		ON d.code = dd.Code AND d.Type= dd.Type AND ISNULL(d.TaxAuthorityId,0) =ISNULL(dd.TaxAuthorityId,0)
	CROSS JOIN tblPaDept de
	WHERE dd.Code IS NULL 

	UPDATE tblPaDeptDtl set Description= d.Description
	FROM #DepartmentDefault d
	INNER JOIN tblPaDeptDtl dd ON d.code = dd.Code AND d.Type= dd.Type AND ISNULL(d.TaxAuthorityId,0) =ISNULL(dd.TaxAuthorityId,0)



END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaUpdateDefaultDetails_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaUpdateDefaultDetails_proc'
GO
