USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoValidateUpdatePrice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoValidateUpdatePrice_proc]
   @ImportBatchId  nvarchar(14),
   @KeyLevelSeq1   int,
   @KeyLevelSeq2   int,
   @CalcPrice      pDecimal
AS

BEGIN TRY

   -- update detail with TRAVERSE calc price
   UPDATE d  SET CalcUnitPriceSell=@CalcPrice
   FROM tblEcPoDetail d
   INNER JOIN tblEcPoHeader h on h.Id=d.POHeaderID
   WHERE h.ImportBatchId=@ImportBatchId AND h.KeyLevelSeq1=@KeyLevelSeq1 AND d.KeyLevelSeq2 =@KeyLevelSeq2

   -- update detail with price based on options
   UPDATE d  SET SOUnitPriceSell=CASE ISNULL(o.OptValue,'1') 
             WHEN '0' THEN d.CalcUnitPriceSell
             WHEN '1' THEN d.UnitPrice
             WHEN '2' THEN d.UnitPrice
             WHEN '3' THEN CASE WHEN d.CalcUnitPriceSell=0 THEN d.UnitPrice ELSE d.CalcUnitPriceSell END
             WHEN '4' THEN CASE WHEN d.UnitPrice=0  THEN d.CalcUnitPriceSell ELSE d.UnitPrice END
           END,
           PriceFromFileYN = CASE ISNULL(o.OptValue,'1') 
             WHEN '0' THEN 0
             WHEN '1' THEN 1
             WHEN '2' THEN 1
             WHEN '3' THEN CASE WHEN d.CalcUnitPriceSell=0 THEN 1 ELSE 0 END
             WHEN '4' THEN CASE WHEN d.UnitPrice=0  THEN 0 ELSE 1 END
           END
   FROM tblEcPoHeader h 
   INNER JOIN tblEcPoDetail d ON h.ID=d.POHeaderID
   LEFT JOIN (SELECT * FROM trav_EcPartnerOptionValue_view WHERE OptCode='850I_OptSOPriceSource') o ON h.PartnerId=o.ID
   WHERE h.ImportBatchId=@ImportBatchId AND h.KeyLevelSeq1=@KeyLevelSeq1 AND d.KeyLevelSeq2 =@KeyLevelSeq2

   --update total
   EXEC trav_EcPoValidateUpdatePriceTotal_proc @ImportBatchId=@ImportBatchId,@KeyLevelSeq1=@KeyLevelSeq1
   
END TRY
BEGIN CATCH
      EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdatePrice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoValidateUpdatePrice_proc'
GO
