USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCashReceiptPost_GainLoss_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCashReceiptPost_GainLoss_proc]
AS
Set NoCount ON
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	DECLARE @BaseCurrency [nvarchar](6) 
	DECLARE @PostRun [nvarchar](14) 
	DECLARE @GLYN bit
	DECLARE @WrkStnDate datetime
	DECLARE @TransTypeInvoice nvarchar(10)
	
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'ARCASHRCPT'
	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice' -- 'ARINVOICE'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @GLYN = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlYn'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	
	-- table to hold payment records from cash receipt header and detail
	-- #ArOpenInvoice structure
	--CREATE TABLE #ArOpenInvoice 
	--(
	--	Amt  [decimal](28,10) NULL
	--	, AmtFgn [decimal](28,10) NULL
	--	, DiscAmt [decimal](28,10) NULL
	--	, DiscAmtFgn [decimal](28,10) NULL		
	--	, CurrencyId [nvarchar](6) NULL
	--	, PostRun  [nvarchar](14) NOT NULL 
	--	, TransID [nvarchar](8) NULL				
	--	, OrgInvoiceID int NULL
	--	, RcptDetailID int NULL		
	--	, AcctIDOffset [nvarchar](255) NULL
	--	, AcctIdGainLoss [nvarchar](255) NULL
	--	, AmountOffset [decimal](28,10) NULL
	--	, AmountGainLoss [decimal](28,10) NULL
	--	, AmountBase [decimal](28,10) NULL	
	--	, AppliedAmount [decimal](28,10) NULL
	--	, AppliedDiscount [decimal](28,10) NULL
	--)

	
	-- Table to hold Payment To Recivable And Functional value 
	CREATE TABLE #PaymentToRecivableAndFunctional
	(
		Amount [decimal](28,10) NOT NULL, 
		SourceCurrencyId [nvarchar](6) NULL,
		DestinationCurrencyId [nvarchar](6) NULL,
		ExchangeRate [decimal](28,10) NULL,		
		CalculatedValOffset [decimal](28,10) NULL,
		CalculatedValBase [decimal](28,10) NULL,
		[RcptHeaderID] int,
		[RcptDetailID] int,
		AcctIDOffset [nvarchar](255) NULL,
		InvoiceCurrency [nvarchar](6) NULL,
		OrgInvoiceID int,
		CurrencyIDOffset [nvarchar](6) NULL		
	)
	
	-- Table to hold Payment To Invoice value
	CREATE TABLE #PaymentToInvoice
	(
		Amount [decimal](28,10) NOT NULL, 
		SourceCurrencyId [nvarchar](6) NULL,
		DestinationCurrencyId [nvarchar](6) NULL,
		ExchangeRate [decimal](28,10) NULL,		
		CalculatedVal [decimal](28,10) NULL,
		[RcptHeaderID] int,
		[RcptDetailID] int,
		InvoiceCurrency [nvarchar](6) NULL,
		OrgInvoiceID int
	)
	
	-- Table to hold invoice currency Payment To Recivable And Functional value  
	CREATE TABLE #INVCurrencyPaymentToRecivableAndFunctional
	(
		Amount [decimal](28,10) NOT NULL, 
		SourceCurrencyId [nvarchar](6) NULL,
		DestinationCurrencyId [nvarchar](6) NULL,
		ExchangeRate [decimal](28,10) NULL,		
		CalculatedValOffset [decimal](28,10) NULL,
		CalculatedValBase [decimal](28,10) NULL,
		[RcptHeaderID] int,
		[RcptDetailID] int,
		AcctIDOffset [nvarchar](255) NULL,
		InvoiceCurrency [nvarchar](6) NULL,
		OrgInvoiceID int,
		CurrencyIDOffset [nvarchar](6) NULL
	)
	
	-- Output gain loss account
	CREATE TABLE #OutPut
	(	
		CalculatedValBase [decimal](28,10) NULL,
		CalculatedvalOffset [decimal](28,10) NULL,
		[RcptHeaderID] int,
		[RcptDetailID] int,
		AcctIdGainLoss [nvarchar](255) NULL,
		AcctIDOffset [nvarchar](255) NULL,
		InvoiceCurrency [nvarchar](6) NULL,
		OrgInvoiceID int,
		CurrencyIDOffset [nvarchar](6) NULL
	)
	
	-- populate the #ArOpenInvoice temp table
	INSERT INTO #ArOpenInvoice 
	(
		 Amt  
		, AmtFgn 
		, DiscAmt 
		, DiscAmtFgn 		
		, CurrencyId		
		, TransID 
		, PostRun				
		, OrgInvoiceID
		, RcptDetailID		
	)	
	SELECT 
		d.PmtAmt + [Difference]
		, d.PmtAmtFgn + DifferenceFgn
		, d.[Difference]
		, d.DifferenceFgn
		, h.CurrencyID		
		, h.RcptHeaderID
		, @PostRun		
		, d.OrgInvoiceID
		, d.RcptDetailID		
	FROM #PostTransList b
	INNER JOIN	dbo.tblArCashRcptHeader h on h.RcptHeaderID = b.TransId
	INNER JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderID = d.RcptHeaderID 
	INNER JOIN dbo.tblArCust c ON h.CustId = c.CustId
	INNER JOIN [dbo].tblArOpenInvoice  ai ON d.OrgInvoiceID = ai.[Counter]
	WHERE c.AcctType<>1 AND d.OrgInvoiceID IS NOT NULL AND ai.[Status] <> 4
			
	-- 1) Convert the payment currency payment amount to the receivables and functional currencies using the payment exchange rates. 
	-- For CalculatedValOffset ,  Source -> payment currency and destination -> Ar Account Currency	
	-- For CalculatedValBase,  Source -> payment currency and destination -> Functional Currency
	INSERT INTO #PaymentToRecivableAndFunctional (Amount, SourceCurrencyId, DestinationCurrencyId, ExchangeRate, [RcptHeaderID], [RcptDetailID]
		, CalculatedValOffset
		, CalculatedValBase
		, AcctIDOffset
		, InvoiceCurrency
		, OrgInvoiceID
		, CurrencyIDOffset
		)
	SELECT oi.AmtFgn, oi.CurrencyId, h.CurrencyID, er.Rate, oi.TransId, oi.RcptDetailID
		, CASE WHEN h.CurrencyID = oi.CurrencyId THEN oi.AmtFgn
			   WHEN h.CurrencyId = @BaseCurrency THEN oi.Amt	 
			   ELSE ROUND(oi.AmtFgn * er.Rate,er.CurrDecPlaces)  END
		, oi.Amt
		, h.AcctId
		, ai.CurrencyId
		, oi.OrgInvoiceID
		, h.CurrencyID		 
	FROM #ArOpenInvoice oi
	INNER JOIN [dbo].tblArOpenInvoice  ai ON oi.OrgInvoiceID = ai.[Counter]
	LEFT JOIN [dbo].tblArDistCode d ON ai.DistCode = d.DistCode
	LEFT JOIN [dbo].tblGlAcctHdr h ON d.GLAcctReceivables = h.AcctId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces,TransType
		FROM [dbo].tblSmExchangeRateTrans er
		LEFT JOIN [dbo].[tblSmCurrency] c on er.[Destination] = c.[CurrID]
		WHERE  er.TransType = @TransType
	) er  ON er.[Source] = oi.CurrencyID AND er.Destination = h.CurrencyID AND er.TransKey = oi.TransID
	WHERE oi.PostRun = @PostRun  AND [ai].[Counter] IS NOT NULL  AND ai.[Status] <> 4
			
	--2) Convert the payment currency payment amount to the invoice currency using the payment exchange rates.
	-- Source -> payment currency
	-- destination -> Invoice Currency
	-- Note: includes the exchange of payment amounts for proforma invoices - not used for gain/loss generation
	INSERT INTO #PaymentToInvoice (Amount, SourceCurrencyId, DestinationCurrencyId, ExchangeRate, [RcptHeaderID], [RcptDetailID]
		, CalculatedVal
		, InvoiceCurrency
		, OrgInvoiceID
		)
	SELECT oi.AmtFgn, oi.CurrencyId, ai.CurrencyId, er.Rate, oi.TransID, oi.RcptDetailID
		, CASE WHEN ai.CurrencyId = oi.CurrencyId THEN oi.AmtFgn
			   WHEN ai.CurrencyId = @BaseCurrency THEN oi.Amt 
			   ELSE ROUND(oi.AmtFgn * er.Rate,cr.CurrDecPlaces) END
		, ai.CurrencyId	
		, oi.OrgInvoiceID		
	FROM #ArOpenInvoice oi
		INNER JOIN [dbo].tblArOpenInvoice  ai ON oi.OrgInvoiceID = ai.[Counter]
		LEFT JOIN [dbo].tblSmExchangeRateTrans er ON er.[Source] = oi.CurrencyID AND er.Destination = ai.CurrencyId AND er.TransKey = oi.TransID AND er.TransType = @TransType
		LEFT JOIN [dbo].[tblSmCurrency] cr on er.[Destination] = cr.[CurrID]
	WHERE oi.PostRun = @PostRun  AND [ai].[Counter] IS NOT NULL AND ai.[Status] <> 4
	
	-- 3) Convert the invoice currency payment amount (from step 2) into the receivables and functional currency using the invoice exchange rates.
	-- For CalculatedVal, Source -> Invoice currency and destination -> Ar Account Currency	
	-- For CalculatedValBase, Source -> Invoice currency and destination -> Functional Currency
	INSERT INTO #INVCurrencyPaymentToRecivableAndFunctional (Amount, SourceCurrencyId, DestinationCurrencyId, ExchangeRate, [RcptHeaderID], [RcptDetailID]
		, CalculatedValOffset
		, CalculatedValBase
		, AcctIDOffset
		, InvoiceCurrency
		, OrgInvoiceID
		, CurrencyIDOffset)
	SELECT p.CalculatedVal, ai.CurrencyID, h.CurrencyId, er.Rate, oi.TransID, oi.RcptDetailID
		, CASE WHEN h.CurrencyID = ai.CurrencyId THEN p.CalculatedVal
			   ELSE ROUND(p.CalculatedVal * er.Rate,cr.CurrDecPlaces) END
		, CASE WHEN @BaseCurrency = ai.CurrencyId THEN p.CalculatedVal 
			   ELSE ROUND(p.CalculatedVal * erf.Rate,crf.CurrDecPlaces) END
		, h.AcctId
		, ai.CurrencyId
		, oi.OrgInvoiceID
		, h.CurrencyID
	FROM  #ArOpenInvoice oi
	INNER JOIN [dbo].tblArOpenInvoice  ai ON oi.OrgInvoiceID = ai.[Counter]	
	INNER JOIN #PaymentToInvoice p ON p.[RcptHeaderID] = oi.TransID AND p.[RcptDetailID] = oi.RcptDetailID
	LEFT JOIN [dbo].tblArDistCode d ON ai.DistCode = d.DistCode
	LEFT JOIN [dbo].tblGlAcctHdr h ON d.GLAcctReceivables = h.AcctId
	LEFT JOIN [dbo].tblSmExchangeRateTrans er ON er.[Source] = ai.CurrencyID AND er.Destination = h.CurrencyID AND er.TransKey = ai.[Counter] AND er.TransType = @TransTypeInvoice
	LEFT JOIN [dbo].[tblSmCurrency] cr on er.[Destination] = cr.[CurrID]
	LEFT JOIN [dbo].tblSmExchangeRateTrans erf ON erf.[Source] = ai.CurrencyID AND erf.Destination = @BaseCurrency AND erf.TransKey = ai.[Counter] AND erf.TransType = @TransTypeInvoice
	LEFT JOIN [dbo].[tblSmCurrency] crf on er.[Destination] = crf.[CurrID]
	WHERE oi.PostRun = @PostRun AND [ai].[Counter] IS NOT NULL AND ai.[Status] <> 4 
		AND (ai.CurrencyId <> @BaseCurrency OR oi.CurrencyId <> @BaseCurrency OR h.CurrencyID <> @BaseCurrency) --No need to calculate Gains/Losses if all currencies are base currency
				
	-- 4) Subtract the amount from step 3 from the amount from step 1 to determine the gain or loss in the receivables and functional currencies.
	INSERT INTO #OutPut (CalculatedvalOffset
		, CalculatedValBase
		, [RcptHeaderID]
		, [RcptDetailID]
		, AcctIDOffset
		, InvoiceCurrency
		, OrgInvoiceID
		, CurrencyIDOffset
		, AcctIdGainLoss)
	SELECT p.CalculatedValOffset - i.CalculatedValOffset
		, p.CalculatedValBase - i.CalculatedValBase
		, p.[RcptHeaderID]
		, p.[RcptDetailID]
		, p.AcctIDOffset
		, p.InvoiceCurrency
		, p.OrgInvoiceID
		, p.CurrencyIDOffset
		, CASE WHEN (p.CalculatedValBase - i.CalculatedValBase) > 0 THEN cu.GlAcctRealGain ELSE cu.GlAcctRealLoss END --conditionally use the gain or loss account
	FROM #PaymentToRecivableAndFunctional p
	INNER JOIN #INVCurrencyPaymentToRecivableAndFunctional i ON p.[RcptHeaderID] = i.[RcptHeaderID] AND p.[RcptDetailID] = i.[RcptDetailID]	
	INNER JOIN #PaymentToInvoice pa ON i.[RcptHeaderID] = pa.[RcptHeaderID] AND i.[RcptDetailID] = pa.[RcptDetailID]
	LEFT JOIN dbo.tblSmCurrency cu ON p.CurrencyIDOffset = cu.CurrID
	
		
	-- Raise error ( If DistCode is null, DistCode definition has been deleted, Receivables Accout has been deleted)
	IF  EXISTS (SELECT * FROM #OutPut t WHERE  t.CalculatedValOffset IS NULL OR  t.CalculatedValBase IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END		

	-- Update the temp tables with the values calculted
	UPDATE #ArOpenInvoice 
		SET AcctIDOffset = o.AcctIDOffset
			, AcctIdGainLoss = o.AcctIdGainLoss
			, AmountOffset = o.CalculatedvalOffset
			, AmountGainLoss = Case When g.CurrencyId = @BaseCurrency Then o.CalculatedValBase Else o.CalculatedValOffset End
			, AmountBase = 	o.CalculatedValBase		 			
	FROM #ArOpenInvoice a
	INNER JOIN #OutPut o ON a.TransID = o.[RcptHeaderID] AND a.RcptDetailID = o.[RcptDetailID]
	LEFT JOIN dbo.tblGlAcctHdr g on o.AcctIdGainLoss = g.AcctId
	
	-- Generate the GL Gain/Loss Transactions when interfaced to GL
	if @GLYN = 1
	BEGIN	
		INSERT INTO [dbo].tblGlGainLoss (EntryDate, TransDate, PostRun, AcctIDOffset, AcctIDGainLoss, AmountOffset, AmountGainLoss
		, AmountBase, FiscalPeriod, FiscalYear, FunctionID, SourceCode, LinkPostRun, LinkID, LinkIDSub, LinkIDSubLine)		
		SELECT @WrkStnDate, h.PmtDate, NULL, AcctIDOffset, AcctIdGainLoss, AmountOffset, AmountGainLoss
		, AmountBase, h.GlPeriod, h.FiscalYear, 'ARCASHRCPT', 'AR', @PostRun, d.RcptDetailID, d.InvcNum, -6  
		FROM #ArOpenInvoice o
		INNER JOIN [dbo].tblArCashRcptHeader h on h.RcptHeaderID = o.TransID
		INNER JOIN [dbo].tblArCashRcptDetail d ON d.RcptHeaderID = h.RcptHeaderID AND d.RcptDetailID = o.RcptDetailID
		WHERE o.AmountOffset <> 0 OR o.AmountGainLoss <> 0 OR o.AmountBase <> 0				
	END
				
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_GainLoss_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCashReceiptPost_GainLoss_proc'
GO
