USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SvWorkOrderPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SvWorkOrderPost_OpenInvoice_proc]
AS
Set NoCount ON
BEGIN TRY

	DECLARE @PostRun pPostRun
	DECLARE @BillTransType nvarchar(10),@InvoiceTransType nvarchar(10)
	DECLARE @ApplyCreditsToOldest bit

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @BillTransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'BillTransType'
	SELECT @InvoiceTransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'InvoiceTransType'	
    SELECT @ApplyCreditsToOldest = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApplyCreditsToOldest'

	IF @PostRun IS NULL OR @BillTransType IS NULL OR @InvoiceTransType IS NULL OR @ApplyCreditsToOldest IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	--append invoices 
	INSERT dbo.tblArOpenInvoice (CustId, RecType, InvcNum, TransDate, DistCode, TermsCode, CurrencyId, ExchRate, Amt, AmtFgn
		, DiscAmt, DiscAmtFgn, NetDueDate, DiscDueDate, GlPeriod, FiscalYear, PostRun, TransId, GainLossStatus, CredMemNum
		, CustPONum, SourceApp,AgingPeriod) 
	SELECT h.BillToID, SIGN(TransType),InvoiceNumber, InvoiceDate, DistCode, TermsCode, CurrencyID, ExchRate, 
		TaxSubtotal + NonTaxSubtotal + SalesTax + TaxAmtAdj, TaxSubtotalFgn + NonTaxSubtotalFgn + SalesTaxFgn  + TaxAmtAdjFgn, 
		DiscAmt, ISNULL(DiscAmtFgn,0), NetDueDate, DiscDueDate, FiscalPeriod, FiscalYear, @PostRun, h.TransId, 
		0, 	null, h.CustomerPoNumber, 2
		,CASE WHEN @ApplyCreditsToOldest = 1 AND h.TransType < 0 THEN 4 ELSE 0 END --conditionally map unapplied credits to oldest aging period  
	FROM #PostTransList t INNER JOIN dbo.tblSvInvoiceHeader h on t.TransId = h.TransId 
	WHERE h.VoidYn = 0 AND h.PrintStatus <>3
 
     -- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated
	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @InvoiceTransType,ov.[Counter],d.[Source],d.Destination,d.Rate
	FROM tblSmExchangeRateTrans d		
	INNER JOIN #PostTransList t on d.TransKey = t.TransId AND d.TransType=@BillTransType
	INNER JOIN dbo.tblArOpenInvoice ov ON ov.TransId = t.TransId AND ov.PostRun = @PostRun 
	
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SvWorkOrderPost_OpenInvoice_proc'
GO
