USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcAdjustmentPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcAdjustmentPost_GlLog_proc]
AS
BEGIN TRY
	--create activity before create gl log
	DECLARE @PostRun [nvarchar](14), @CurrBase [nvarchar](6), @WksDate datetime,@CompId nvarchar(3),
		@PostDtlYn bit, @SourceCode nvarchar(2), @Reference nvarchar(15), @TransType nvarchar(10)

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PCPOST'
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #AdjustmentPostLog
	(
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[TransDate] [datetime] NULL,
		[Grouping] smallint NOT NULL,
		[GlAccount] [nvarchar](255) NULL,
		[Amount] [decimal](28,10) NOT NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,
		[CreditAmount] [decimal](28,10) NOT NULL,
		[Reference] [nvarchar](15) NULL,
		[DistCode] [nvarchar](6) NULL,	
		[Description] [nvarchar](30) NULL,
		[ActivityId] int NOT NULL,
		[TransKey] [nvarchar](255) NOT NULL
	)
	
	SELECT @SourceCode = 'JC', @Reference = 'Adjustment'

	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransType, ExchangeRateID, [Source],Destination,Rate
	FROM dbo.tblSmExchangeRateDetail 
	WHERE ExchangeRateID IN (SELECT DISTINCT m.ExchRateID FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
		WHERE m.ExchRateID IS NOT NULL)
		AND ExchangeRateID NOT IN (SELECT DISTINCT TransKey FROM tblSmExchangeRateTrans WHERE TransType = @TransType)

	--WIP Account 
	BEGIN
		--Income: General, Billable, non Fixed Fee, non-zero income, activity status is posted 
		--Activity type is Time, Material, Expense or Other
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 401 AS [Grouping], a.GLAcctWIP, 
			m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtIncome, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE p.[Type] = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND m.ExtIncome <> 0 AND m.[Status] = 0 AND m.[Type] < 4 AND v.[Source] = 3
		
		--Cost: Job Cost, non-zero cost, activity status is posted 
		--Activity type is Time, Material, Expense or Other
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 401 AS [Grouping], a.GLAcctWIP, 
			m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtCost, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE p.Type = 1 AND m.ExtCost <> 0 AND m.[Status] = 0 AND m.[Type] < 4 AND v.[Source] = 3
	END
		
	--Cost Account
	BEGIN
		--General, Administrative, non-zero cost, activity status is posted 
		--Activity type is Time, Material, Expense or Other
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 402 AS [Grouping], a.GLAcctCost, 
			m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtCost, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE (p.Type = 0 OR p.Type = 2) AND m.ExtCost <> 0 AND m.[Status] = 0 AND m.[Type] < 4 AND v.[Source] = 3
	END
	
	--Accrued Income Account
	BEGIN
		--Income: General, Billable, non Fixed Fee, non-zero income, activity status is posted 
		--Activity type is Time, Material, Expense or Other
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 403 AS [Grouping], a.GLAcctAccruedIncome, 
			-m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtIncome, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtIncome * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE p.[Type] = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND m.ExtIncome <> 0 AND m.[Status] = 0 AND m.[Type] < 4 AND v.[Source] = 3
	END	
	
	--Payroll Clearing Account
	BEGIN
		--Non-zero cost, activity status is posted 
		--Activity type is Time
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 404 AS [Grouping], a.GLAcctPayrollClearing, 
			-m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtCost, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE m.ExtCost <> 0 AND m.[Status] = 0 AND m.[Type] = 0 AND v.[Source] = 3
	END
	
	--Adjustment Account
	BEGIN
		--Non-zero cost, activity status is posted 
		--Activity type is Material, Expense or Other
		INSERT INTO #AdjustmentPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId,TransKey)
		SELECT m.FiscalYear,m.FiscalPeriod, 405 AS [Grouping], a.GLAcctAdjustments, 
			-m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END AS ExtCost, @Reference, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END < 0 THEN ABS(m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END) ELSE 0 END AS DebitAmount,
			CASE WHEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END > 0 THEN m.ExtCost * CASE m.IncDec WHEN 0 THEN 1 ELSE -1 END ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, v.Id, ISNULL(m.ExchRateID,-1)
		FROM #PostTransList t INNER JOIN dbo.tblPcAdjustment m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode a ON d.DistCode = a.DistCode
			INNER JOIN dbo.tblPcActivity v ON v.Id = t.ActivityId
		WHERE m.ExtCost <> 0 AND m.[Status] = 0 AND m.[Type] BETWEEN 1 AND 3 AND v.[Source] = 3
	END

	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping], [Description],
		Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
	SELECT @PostRun, @TransType, TransKey, @PostRun, @CompId, GlAccount, FiscalYear, FiscalPeriod, [Grouping], 
		CASE @PostDtlYn WHEN 0 THEN 'Adjustments summary' ELSE [Description] END, CASE @PostDtlYn WHEN 0 THEN @Reference ELSE Reference END,
		@SourceCode, CreditAmount, DebitAmount, CreditAmount, DebitAmount, @CurrBase, CASE @PostDtlYn WHEN 0 THEN @WksDate ELSE TransDate END, 
		@WksDate, CASE @PostDtlYn WHEN 0 THEN NULL ELSE ActivityId END, CASE @PostDtlYn WHEN 0 THEN NULL ELSE -1 END
	FROM #AdjustmentPostLog

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcAdjustmentPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcAdjustmentPost_GlLog_proc'
GO
