USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlPostToMaster_CompanyAlloc_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlPostToMaster_CompanyAlloc_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @curCompId cursor, @CompId  [sysname], @DbName [sysname],@IsSaas bit ,@SysDb [sysname]
	DECLARE @SegType nvarchar(2), @SegNumber INT, @Start INT, @Len INT
	DECLARE @PostRun [nvarchar](14)
	DECLARE @BaseCurrencyId [nvarchar](6)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @BaseCurrencyId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'BaseCurrencyId'
	SELECT @IsSaas = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'IsSaas'
	SELECT @SysDb = Cast([Value] AS sysname) FROM #GlobalValues WHERE [Key] = 'SysDb'

	IF @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--exit if the segment type is not defined or no company allocations exist
	SELECT TOP 1 @SegType = SegType FROM dbo.tblGlAllocCompDtl
	IF @SegType IS NULL RETURN 

	--create a list of journal entries to process
	IF ISNUMERIC(@SegType) = 1
	BEGIN
		SELECT @SegNumber = CAST(@SegType as INT)

		SELECT @Start = BeginLength + 1, @Len = SegLength
		FROM (SELECT SUM(Case When Number < @SegNumber THEN [Length] ELSE 0 END) BeginLength
				, SUM(Case When Number = @SegNumber THEN [Length] ELSE 0 END) SegLength
				FROM dbo.tblGlAcctMaskSegment
				WHERE Number <= @SegNumber
		) s

		--create the list using a partial (single segment) match for each entry in tblGlAllocCompDtl
		INSERT INTO #CompAllocList(EntryNum, FromCompId, ToCompId, AllocAcctId, AcctIdDebit, AcctIdCredit)
		SELECT j.EntryNum, j.CompId, a.ToCompId, j.AcctId, a.AcctIdDebit, a.AcctIdCredit
		FROM dbo.tblGlJrnl j
		INNER JOIN dbo.tblGlAllocCompDtl a ON SUBSTRING(j.AcctId, @Start, @Len) = a.SegId
		INNER JOIN #PostJournalList l ON j.EntryNum = l.EntryNum 
	END
	ELSE
	BEGIN
		--create a list using a full account match for each entry in tblGlAllocCompDtl
		INSERT INTO #CompAllocList(EntryNum, FromCompId, ToCompId, AllocAcctId, AcctIdDebit, AcctIdCredit)
		SELECT j.EntryNum, j.CompId, a.ToCompId, j.AcctId, a.AcctIdDebit, a.AcctIdCredit
		FROM dbo.tblGlJrnl j
		INNER JOIN dbo.tblGlAllocCompDtl a ON j.AcctId = a.SegId
		INNER JOIN #PostJournalList l ON j.EntryNum = l.EntryNum 
	END

	--append source accounts to account list for validation and reference
	--	Allocate Account
	Insert into #AccountList ([CompId], [AcctId], [CurrencyId], [ValidYn])
	Select Distinct l.[FromCompId], l.[AllocAcctId], ach.[CurrencyId]
		, Case When ach.[AcctId] IS NOT NULL and ach.[Status] = 0 Then 1 Else 0 End --account must exist and be active
	From #CompAllocList l
	Left Join dbo.tblGlAcctHdr ach on l.[AllocAcctId] = ach.[AcctId]

	--	Due From/Debit Account
	Insert into #AccountList ([CompId], [AcctId], [CurrencyId], [ValidYn])
	Select Distinct l.[FromCompId], l.[AcctIdDebit], ach.[CurrencyId]
		, Case When ach.[AcctId] IS NOT NULL and ach.[Status] = 0 Then 1 Else 0 End --account must exist and be active
	From #CompAllocList l
	Left Join dbo.tblGlAcctHdr ach on l.AcctIdDebit = ach.AcctId
	Left Join #AccountList al on l.[FromCompId] = al.[CompId] and l.[AcctIdDebit] = al.[AcctId]
	Where al.[AcctId] is null  --avoid duplicates

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_CompanyAlloc_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_CompanyAlloc_proc'
GO
