USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcBillingPost_Tax_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcBillingPost_Tax_proc]
AS
BEGIN TRY
	DECLARE @PostRun [nvarchar](14)
	DECLARE @TransType nvarchar(10)
	DECLARE @BaseCurrency [nvarchar](6)

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @TransType = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] ='TransTypeTrans'  -- 'PCBILLTRAN' 

	IF @PostRun IS NULL OR @BaseCurrency IS NULL OR @TransType IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #TaxLocTrans
	(
	TaxLocId [nvarchar](10) NULL
	, TaxClassCode tinyint NULL
	, PostRun [nvarchar](14) NULL
	, SourceCode NVarchar(2) NULL
	, LinkID NVarchar (255) NULL
	, LinkIDSub NVarChar (255)NULL
	, LinkIDSubLine INT NULL
	, TransDate DATETIME NULL
	, GLPeriod SMALLINT NULL
	, FiscalYear SMALLINT NULL
	, TaxSales [decimal](28,10) NULL
	, NonTaxSales [decimal](28,10) NULL
	, TaxCollect [decimal](28,10) NULL
	, TaxPurch [decimal](28,10) NULL
	, NonTaxPurch [decimal](28,10) NULL
	, TaxCalcSales [decimal](28,10) NULL
	, TaxPaid [decimal](28,10) NULL
	, TaxRefund [decimal](28,10) NULL
	, CurrencyID [nvarchar](6) NULL
	)

	--Insert Tax Amounts
	INSERT #TaxLocTrans (TaxLocId, TaxClassCode
		, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine
		, TransDate, GLPeriod, FiscalYear
		, TaxSales
		, NonTaxSales
		, TaxCollect
		, TaxPurch, NonTaxPurch
		, TaxCalcSales
		, TaxPaid, TaxRefund,CurrencyID)
	Select t.TaxLocID, t.TaxClass
		, @PostRun, 'JC', t.TransID, NULL, NULL
		, h.InvcDate, h.FiscalPeriod, h.FiscalYear
		, SUM( SIGN(h.TransType)* CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=h.CurrencyID THEN t.TaxableFgn
									   ELSE CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=@BaseCurrency THEN t.Taxable
											ELSE ROUND(et.Rate * t.TaxableFgn,et.CurrDecPlaces)
									   END END)
		, SUM( SIGN(h.TransType)* CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=h.CurrencyID THEN t.NonTaxableFgn
									   ELSE CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=@BaseCurrency THEN t.NonTaxable
											ELSE ROUND( et.Rate * t.NonTaxableFgn ,et.CurrDecPlaces)
									   END END)	
		, SUM( SIGN(h.TransType)* CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=h.CurrencyID THEN t.TaxAmtFgn
									   ELSE CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=@BaseCurrency THEN t.TaxAmt
											ELSE ROUND(et.Rate * t.TaxAmtFgn,et.CurrDecPlaces) 
									   END END)	
		, 0, 0
		, SUM( SIGN(h.TransType)* CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=h.CurrencyID THEN t.TaxAmtFgn
									   ELSE CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=@BaseCurrency THEN t.TaxAmt
											ELSE ROUND(et.Rate * t.TaxAmtFgn,et.CurrDecPlaces) 
									   END END)
		, 0, 0, ISNULL(tl.CurrencyID,@BaseCurrency)
	FROM #PostTransList l 
	INNER JOIN dbo.tblPcInvoiceHeader h on l.TransId = h.TransId
	INNER JOIN dbo.tblPcInvoiceTax t ON h.TransId = t.TransId
	INNER JOIN tblSmTaxLoc tl ON t.TaxLocID = tl.TaxLocId
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et
	ON  et.[Source] =h.CurrencyID  AND et.Destination= ISNULL(tl.CurrencyID,@BaseCurrency) AND et.TransKey=h.TransId
	WHERE h.VoidYn = 0
	GROUP BY t.TransID, t.TaxLocID, t.TaxClass,	h.InvcDate, h.FiscalPeriod, h.FiscalYear,ISNULL(tl.CurrencyID,@BaseCurrency)

	--Insert AdjAmount to TaxPaid
	INSERT #TaxLocTrans (TaxLocId, TaxClassCode
		, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine
		, TransDate, GLPeriod, FiscalYear
		, TaxSales, NonTaxSales
		, TaxCollect
		, TaxPurch, NonTaxPurch, TaxCalcSales, TaxPaid, TaxRefund,CurrencyID)
	Select h.TaxLocAdj, h.TaxClassAdj
		, @PostRun, 'JC', h.TransID, NULL, NULL
		, h.InvcDate, h.FiscalPeriod, h.FiscalYear
		, 0, 0
		,SUM( SIGN(h.TransType)* CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=h.CurrencyID THEN h.TaxAmtAdjFgn
									   ELSE CASE WHEN ISNULL(tl.CurrencyID,@BaseCurrency)=@BaseCurrency THEN h.TaxAmtAdj
											ELSE ROUND(et.Rate * h.TaxAmtAdjFgn,et.CurrDecPlaces)
									   END END)
		, 0, 0, 0, 0, 0, ISNULL(tl.CurrencyID,@BaseCurrency)
	FROM #PostTransList l 
	INNER JOIN dbo.tblPcInvoiceHeader h on l.TransId = h.TransId
	INNER JOIN tblSmTaxLoc tl ON h.TaxLocAdj = tl.TaxLocId
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et
	ON  et.[Source] =h.CurrencyID  AND et.Destination= ISNULL(tl.CurrencyID,@BaseCurrency) AND et.TransKey=h.TransId
	WHERE h.TaxAmtAdj <> 0 AND h.VoidYn = 0
	GROUP BY h.TransID, h.TaxLocAdj, h.TaxClassAdj, h.InvcDate, h.FiscalPeriod, h.FiscalYear, ISNULL(tl.CurrencyID,@BaseCurrency)

	-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT TaxLocId FROM #TaxLocTrans WHERE TaxCollect IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END


	INSERT dbo.tblSmTaxLocTrans (TaxLocId, TaxClassCode
		, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine
		, TransDate, GLPeriod, FiscalYear, TaxSales, NonTaxSales
		, TaxCollect, TaxPurch, NonTaxPurch, TaxCalcSales, TaxPaid, TaxRefund,CurrencyID)
		
	SELECT TaxLocId, TaxClassCode
		, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine
		, TransDate, GLPeriod, FiscalYear, TaxSales, NonTaxSales
		, TaxCollect, TaxPurch, NonTaxPurch, TaxCalcSales, TaxPaid, TaxRefund,CurrencyID 
	FROM #TaxLocTrans

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_Tax_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_Tax_proc'
GO
