USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcBillingPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcBillingPost_GlLog_proc]
AS
BEGIN TRY
	DECLARE @PostRun [nvarchar](14), @CurrBase [nvarchar](6), @WksDate datetime,@CompId nvarchar(3),
		@PostDtlYn bit, @SourceCode nvarchar(2), @SalesTaxDescr nvarchar(30), @ARDescr nvarchar(30), 
		@CustDepositAcct [nvarchar](255), @TransTypePCPOST nvarchar(10), @TransTypePCGEN nvarchar(10), @TransTypePCBILLTRAN nvarchar(10)

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @SalesTaxDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'SalesTaxDescr'
	SELECT @ARDescr = Cast([Value] AS nvarchar(30)) FROM #GlobalValues WHERE [Key] = 'ARDescr'
	SELECT @CustDepositAcct = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CustDepositAcct' 
	SELECT @TransTypePCPOST = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePCPOST' -- 'PCPOST'
	SELECT @TransTypePCGEN = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePCGEN' -- 'PCGEN'
	SELECT @TransTypePCBILLTRAN = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTrans' -- 'PCBILLTRAN'
		
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL 
		OR @SalesTaxDescr IS NULL OR @ARDescr IS NULL OR @CustDepositAcct is NULL 
		OR @TransTypePCPOST IS NULL OR @TransTypePCGEN IS NULL OR @TransTypePCBILLTRAN IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #BillingPostLog
	(
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[TransDate] [datetime] NULL,
		[Grouping] smallint NOT NULL,
		[GlAccount] [nvarchar](255) NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,
		[CreditAmount] [decimal](28,10) NOT NULL,
		[DebitAmountFgn] [decimal](28,10) NOT NULL,
		[CreditAmountFgn] [decimal](28,10) NOT NULL,
		[Reference] [nvarchar](15) NULL,
		[Description] [nvarchar](30) NULL,
		[CurrencyId] [nvarchar](6) NULL, 
		[LinkID] nvarchar(15) Null, 
		[LinkIDSub] nvarchar(15) Null, 
		[LinkIDSubLine] int Null,
		TransType nvarchar(10) NOT NULL,
		TransKey  [nvarchar](255) NOT NULL
	)
	
	--Tax Locations
	CREATE TABLE #zzTax
	(
		TransId [nvarchar](8) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		FiscalYear smallint NOT NULL, 
		FiscalPeriod smallint NOT NULL, 
		TaxAmount [decimal](28,10) NOT NULL,
		TaxAmountFgn [decimal](28,10) NOT NULL,
		InvcDate datetime NOT NULL,
		TaxLocID [nvarchar](10) NOT NULL,
		CustID [nvarchar](10) NOT NULL, 
		LiabilityAcct [nvarchar](255) NULL,
		CurrencyId [nvarchar](6) NOT NULL,
	)
	
	SET @SourceCode = 'JC'
	 
	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransTypePCPOST, ExchangeRateID, [Source],Destination,Rate
	FROM dbo.tblSmExchangeRateDetail 
	WHERE ExchangeRateID IN (SELECT DISTINCT a.ExchRateID FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND a.ExtIncome <> 0 AND a.[Type] <> 6 AND a.ExchRateID IS NOT NULL) --Not fixed fee billing
		AND ExchangeRateID NOT IN (SELECT DISTINCT TransKey FROM tblSmExchangeRateTrans WHERE TransType = @TransTypePCPOST)

	--Deposits GL Entries    
	BEGIN 	 

	    --deposit is entered in functional currency now, we may need to change it later
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)    
		SELECT h.FiscalYear,h.FiscalPeriod, 908 AS [Grouping], @CustDepositAcct, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + 'Dep Applied' , 1, 30) AS [Description], 
			CASE WHEN SIGN(h.TransType) * d.DepositAmtApply > 0 THEN ABS(d.DepositAmtApply) ELSE 0 END AS DebitAmount, 
			CASE WHEN SIGN(h.TransType) * d.DepositAmtApply > 0 THEN 0 ELSE ABS(d.DepositAmtApply) END AS CreditAmount, 
			CASE WHEN SIGN(h.TransType) * d.DepositAmtApply > 0 THEN ABS(d.DepositAmtApply) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN SIGN(h.TransType) * d.DepositAmtApply > 0 THEN 0 ELSE ABS(d.DepositAmtApply) END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, d.Id, @CurrBase, h.TransId, @TransTypePCBILLTRAN    
		FROM #PostTransList t 
		INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId    
		INNER JOIN tblPcInvoiceDeposit d ON h.TransId = d.TransId 
		WHERE h.VoidYn = 0 AND d.DepositAmtApply <> 0  
	    
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)      
		SELECT h.FiscalYear,h.FiscalPeriod, 908 AS [Grouping], dc.GLAcctReceivables, h.CustId,  
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + 'Dep Applied', 1, 30) AS [Description], 
			CASE WHEN -SIGN(h.TransType) * d.DepositAmtApply > 0 THEN ABS(d.DepositAmtApply) ELSE 0 END AS DebitAmount, 
			CASE WHEN -SIGN(h.TransType) * d.DepositAmtApply > 0 THEN 0 ELSE ABS(d.DepositAmtApply) END AS CreditAmount,      
			CASE WHEN -SIGN(h.TransType) * d.DepositAmtApply > 0 THEN ABS(d.DepositAmtApply) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN -SIGN(h.TransType) * d.DepositAmtApply > 0 THEN 0 ELSE ABS(d.DepositAmtApply) END AS CreditAmountFgn,  
			h.InvcDate, h.TransId, h.InvcNum, d.Id, @CurrBase, h.TransId, @TransTypePCBILLTRAN 
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId    
			INNER JOIN dbo.tblPcInvoiceDeposit d ON h.TransId = d.TransId      
			INNER JOIN dbo.tblArDistCode dc ON dc.DistCode=h.DistCode  
		WHERE h.VoidYn = 0 AND d.DepositAmtApply <> 0 
	      
	END    
   
	--WIP Account 
	BEGIN
		--use functional currency now, we may need to change it later
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)    
		SELECT h.FiscalYear,h.FiscalPeriod, 901 AS [Grouping], a.GLAcctWIP, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description],
			CASE WHEN -SIGN(h.TransType) * a.ExtIncome > 0 THEN ABS(-SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS DebitAmount, 
			CASE WHEN -SIGN(h.TransType) * a.ExtIncome < 0 THEN ABS(-SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS CreditAmount, 
			CASE WHEN -SIGN(h.TransType) * a.ExtIncome > 0 THEN ABS(-SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN -SIGN(h.TransType) * a.ExtIncome < 0 THEN ABS(-SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, @CurrBase, 
			CASE WHEN a.ExchRateID IS NOT NULL THEN a.ExchRateID ELSE a.GroupID END,
			CASE WHEN a.ExchRateID IS NOT NULL THEN @TransTypePCPOST ELSE @TransTypePCGEN END
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND a.ExtIncome <> 0 AND a.[Type] NOT IN (6,7) --Not fixed fee billing and Credit Memo

	END
	
	--Income Account
	BEGIN
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)  
		SELECT h.FiscalYear,h.FiscalPeriod, 902 AS [Grouping], a.GLAcctIncome, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS DebitAmount,
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS CreditAmount,
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS DebitAmountFgn,
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS CreditAmountFgn,
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, h.CurrencyID, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND d.ExtPrice <> 0 AND a.[Type] <> 6 --Not fixed fee billing
	
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType) 
		SELECT h.FiscalYear,h.FiscalPeriod, 902 AS [Grouping], a.GLAcctIncome, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS DebitAmount, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS CreditAmount, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, h.CurrencyID, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id 
			INNER JOIN dbo.tblPcProjectDetail k ON a.ProjectDetailId = k.Id
			INNER JOIN dbo.tblPcProject p ON k.ProjectId = p.Id
		WHERE h.VoidYn = 0 AND d.ExtPrice <> 0 AND a.[Type] = 6 AND p.[Type] = 0--Fixed fee billing, General project

	END
	
	--Fixed Fee Billing
	BEGIN

		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)     
		SELECT h.FiscalYear,h.FiscalPeriod, 903 AS [Grouping], a.GLAcctFixedFeeBilling, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS DebitAmount, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPrice < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPrice) ELSE 0 END AS CreditAmount, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn > 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN -SIGN(h.TransType) * d.ExtPriceFgn < 0 THEN ABS(-SIGN(h.TransType) * d.ExtPriceFgn) ELSE 0 END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, h.CurrencyID, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id 
			INNER JOIN dbo.tblPcProjectDetail k ON a.ProjectDetailId = k.Id
			INNER JOIN dbo.tblPcProject p ON k.ProjectId = p.Id
		WHERE h.VoidYn = 0 AND d.ExtPrice <> 0 AND a.[Type] = 6 AND p.[Type] = 1--Fixed fee billing, Job Costing project

	END	
	
	--Accrued Income Account
	BEGIN
		--use functional currency now, we may need to change it later
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)   
		SELECT h.FiscalYear,h.FiscalPeriod, 904 AS [Grouping], a.GLAcctAccruedIncome, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN SIGN(h.TransType) * a.ExtIncome > 0 THEN ABS(SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS DebitAmount, 
			CASE WHEN SIGN(h.TransType) * a.ExtIncome < 0 THEN ABS(SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS CreditAmount, 
			CASE WHEN SIGN(h.TransType) * a.ExtIncome > 0 THEN ABS(SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS DebitAmount, 
			CASE WHEN SIGN(h.TransType) * a.ExtIncome < 0 THEN ABS(SIGN(h.TransType) * a.ExtIncome) ELSE 0 END AS CreditAmount, 
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, @CurrBase, 
			CASE WHEN a.ExchRateID IS NOT NULL THEN a.ExchRateID ELSE a.GroupID END,
			CASE WHEN a.ExchRateID IS NOT NULL THEN @TransTypePCPOST ELSE @TransTypePCGEN END
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND a.ExtIncome <> 0 AND a.[Type] NOT IN (6,7) --Not fixed fee billing and Credit Memo

	END	
	
	--Adjustment Account
	BEGIN
		--use functional currency now, we may need to change it later
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)  
		SELECT h.FiscalYear,h.FiscalPeriod, 905 AS [Grouping], a.GLAcctAdjustments, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN -SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) > 0 THEN ABS(-SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS DebitAmount, 
			CASE WHEN -SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) < 0 THEN ABS(-SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS CreditAmount, 
			CASE WHEN -SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) > 0 THEN ABS(-SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN -SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) < 0 THEN ABS(-SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS CreditAmountFgn,
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, @CurrBase, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND (d.ExtPrice - a.ExtIncome) <> 0 AND a.[Type] <> 6 --Not fixed fee billing

		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType)  
		SELECT h.FiscalYear,h.FiscalPeriod, 905 AS [Grouping], a.GLAcctIncome, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + ISNULL(Descr,''), 1, 30) AS [Description], 
			CASE WHEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) > 0 THEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) ELSE 0 END AS DebitAmount, 
			CASE WHEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) < 0 THEN ABS(SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS CreditAmount, 
			CASE WHEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) > 0 THEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome) < 0 THEN ABS(SIGN(h.TransType) * (d.ExtPrice - a.ExtIncome)) ELSE 0 END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, d.EntryNum, @CurrBase, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceDetail d ON h.TransId = d.TransId
			INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
		WHERE h.VoidYn = 0 AND (d.ExtPrice - a.ExtIncome) <> 0 AND a.[Type] <> 6 --Not fixed fee billing

	END

	--Liability Account
	BEGIN
	
		--tax detail                                         
		INSERT INTO #zzTax (TransId, InvcNum, FiscalYear, FiscalPeriod, TaxAmount, TaxAmountFgn,
			InvcDate, TaxLocID, CustID, LiabilityAcct, CurrencyId)
		SELECT h.TransId, ISNULL(h.InvcNum, l.DefaultInvoiceNumber), h.FiscalYear, h.FiscalPeriod, Sign(h.TransType) * -1 * t.TaxAmt, 
			Sign(h.TransType) * -1 * t.TaxAmtFgn, h.InvcDate, t.TaxLocID, h.CustID, t.LiabilityAcct, h.CurrencyID
		FROM #PostTransList l INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId
			INNER JOIN dbo.tblPcInvoiceTax t ON h.TransId = t.TransId
		WHERE h.VoidYn = 0 AND t.TaxAmt <> 0
				
		--tax adjustments
		INSERT INTO #zzTax (TransId, InvcNum, FiscalYear, FiscalPeriod, TaxAmount, TaxAmountFgn,
			InvcDate, TaxLocID, CustID, LiabilityAcct, CurrencyId)
		SELECT h.TransId, ISNULL(h.InvcNum, l.DefaultInvoiceNumber), h.FiscalYear, h.FiscalPeriod, Sign(h.TransType) * -1 * h.TaxAmtAdj, 
			Sign(h.TransType) * -1 * h.TaxAmtAdjFgn, h.InvcDate, h.TaxLocAdj, h.CustID, t.GlAcct, h.CurrencyID
		FROM #PostTransList l INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId
			LEFT JOIN dbo.tblSmTaxLoc t on h.TaxLocAdj = t.TaxLocId
		WHERE h.VoidYn = 0 AND h.TaxAmtAdj <> 0
		
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType) 
		SELECT FiscalYear, FiscalPeriod, 906, LiabilityAcct, CustId, 
			Substring(InvcNum + ' / ' + @SalesTaxDescr + ' / ' + TaxLocID, 1, 30) AS [Description],
			CASE WHEN SUM(TaxAmount) > 0 THEN SUM(TaxAmount) ELSE 0 END AS DebitAmount, 
			CASE WHEN SUM(TaxAmount) < 0 THEN ABS(SUM(TaxAmount)) ELSE 0 END AS CreditAmount,
			CASE WHEN SUM(TaxAmountFgn) > 0 THEN SUM(TaxAmountFgn) ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN SUM(TaxAmountFgn) < 0 THEN ABS(SUM(TaxAmountFgn)) ELSE 0 END AS CreditAmountFgn,
			InvcDate, TransId, InvcNum, 0, CurrencyId, TransId, @TransTypePCBILLTRAN
		FROM #zzTax
		GROUP BY FiscalYear, FiscalPeriod, LiabilityAcct, CustId, InvcNum, TaxLocID, InvcDate, TransId, CurrencyId
		HAVING SUM(TaxAmount) <> 0
		
	END
	
	--AR Account
	BEGIN
		INSERT INTO #BillingPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Reference, [Description], DebitAmount, CreditAmount, 
			DebitAmountFgn, CreditAmountFgn, TransDate, LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, TransKey, TransType) 
		SELECT h.FiscalYear,h.FiscalPeriod, 907 AS [Grouping], d.GLAcctReceivables, h.CustId, 
			SUBSTRING(ISNULL(h.InvcNum, t.DefaultInvoiceNumber) + ' / ' + @ARDescr, 1, 30) AS [Description], 
			CASE WHEN SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.SalesTax + h.TaxAmtAdj) > 0 
				   THEN ABS(SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.SalesTax + h.TaxAmtAdj)) 
				   ELSE 0 END AS DebitAmount, 
			CASE WHEN SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.SalesTax + h.TaxAmtAdj) < 0 
				   THEN ABS(SIGN(h.TransType) * (h.TaxSubtotal + h.NonTaxSubtotal + h.SalesTax + h.TaxAmtAdj)) 
				   ELSE 0 END AS CreditAmount, 
			CASE WHEN SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) > 0 
				   THEN ABS(SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn)) 
				   ELSE 0 END AS DebitAmountFgn, 
			CASE WHEN SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn) < 0 
				   THEN ABS(SIGN(h.TransType) * (h.TaxSubtotalFgn + h.NonTaxSubtotalFgn + h.SalesTaxFgn + h.TaxAmtAdjFgn)) 
				   ELSE 0 END AS CreditAmountFgn, 
			h.InvcDate, h.TransId, h.InvcNum, 0, h.CurrencyID, h.TransId, @TransTypePCBILLTRAN
		FROM #PostTransList t INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId
			INNER JOIN dbo.tblArDistCode d ON h.DistCode = d.DistCode
		WHERE h.VoidYn = 0
	END
	
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping],[Description],Reference,
		SourceCode, CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSub,LinkIdSubLine)
	SELECT @PostRun, TransType, TransKey, @PostRun, @CompId, GlAccount, FiscalYear, FiscalPeriod, [Grouping], 
		CASE @PostDtlYn WHEN 0 THEN CASE WHEN [Grouping] = 901 THEN 'Work in Process'
			WHEN [Grouping] = 902 THEN 'Income'
			WHEN [Grouping] = 903 THEN 'Fixed Fee Billing'
			WHEN [Grouping] = 904 THEN 'Accrued Income'
			WHEN [Grouping] = 905 THEN 'Adjustment'
			WHEN [Grouping] = 906 THEN @SalesTaxDescr
			WHEN [Grouping] = 907 THEN @ARDescr 
			WHEN [Grouping] = 908 THEN 'Deposit Applied' END ELSE [Description] END, 
		CASE @PostDtlYn WHEN 0 THEN 'JC' ELSE Reference END, 
		@SourceCode, CreditAmount, DebitAmount, CreditAmount, DebitAmount, @CurrBase,
		CASE @PostDtlYn WHEN 0 THEN @WksDate ELSE TransDate END, @WksDate,
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkId END, 
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkIdSub END,
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE LinkIdSubLine END
	FROM #BillingPostLog
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcBillingPost_GlLog_proc'
GO
