USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaEmployee_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaEmployee_proc]
@groupCode tinyint,
@IncludeSalaried bit = 1,
@TransCutoffDate datetime = NULL,
@PaYear smallint = NULL
AS
BEGIN TRY
	SET NOCOUNT ON

    SELECT  *
    FROM    ( 
               --Select only active SALARIED employees in a group from tblPaEmployee table(When @IncludeSalaried = 0 this query will return zero record)
               SELECT   p.[EmployeeId]  FROM  [dbo].[tblPaEmployee] p
                        INNER JOIN [dbo].[tblSmEmployee] s ON p.EmployeeId = s.EmployeeId
              WHERE     p.[GroupCode] = @groupCode
                        AND s.[Status] = 0
                        AND p.EmployeeType = 1
                        AND @IncludeSalaried = 1
              UNION
              --Select ALL active employees in a group with valid(posted and within cutoff date) earn transactions.
              SELECT DISTINCT p.[EmployeeId] AS [EmployeeId] FROM  [dbo].[tblPaEmployee] p
                        INNER JOIN [dbo].[tblSmEmployee] s ON p.EmployeeId = s.EmployeeId
                        INNER JOIN [dbo].[tblPaTransEarn] t ON t.EmployeeId = p.EmployeeId
              WHERE     p.[GroupCode] = @groupCode
                        AND s.[Status] = 0
                        AND t.PostedYn = 1
						AND t.PaYear = @PaYear
                        AND t.TransDate <= @TransCutoffDate
            ) e
    ORDER BY EmployeeId ASC

END TRY
BEGIN CATCH
	EXEC [dbo].[trav_RaiseError_proc]
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmployee_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmployee_proc'
GO
