USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorActivitySummary_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorActivitySummary_proc]
@Sort integer = 1
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpApVendorActivityHeader
	(
		VendorId [nvarchar](10) NOT NULL, 
		VName nvarchar(30), 
		InvoiceNum [nvarchar](15) NULL, 
		InvoiceDate datetime, 
		TransType smallint, 
		SalesTax [decimal](28,10) NOT NULL, 
		Freight [decimal](28,10) NOT NULL, 
		Misc [decimal](28,10) NOT NULL, 
		TaxFreMisc [decimal](28,10) NOT NULL, 
		CurrencyID [nvarchar](6) NOT NULL
	)

	CREATE TABLE #tmpApVendorActivityDtl
	(
		VendorId [nvarchar](10) NOT NULL,
		InvoiceNum [nvarchar](15) NULL, 
		ExtCost [decimal](28,10) NOT NULL, 
		CurrencyID [nvarchar](6) NOT NULL
	)

	CREATE TABLE #tmpApCheckHist
	(
		VendorId [nvarchar](10) NOT NULL,
		InvoiceNum [nvarchar](15) NULL, 
		GrossAmtDue [decimal](28,10) NOT NULL, 
		DiscAmt [decimal](28,10) NOT NULL, 
		 NetPaid [decimal](28,10) NOT NULL,
		NetPaidCalc [decimal](28,10) NOT NULL,
		GainLoss [decimal](28,10) NOT NULL, 
		CurrencyID [nvarchar](6) NOT NULL
	)
	
	INSERT INTO #tmpApVendorActivityHeader
		SELECT v.VendorId, v.[Name], h.InvoiceNum, 	MIN(h.InvoiceDate), MIN(h.TransType),
			SUM(SIGN(TransType) * (ISNULL(h.SalesTax, 0) + ISNULL(h.TaxAdjAmt, 0)) 
					 ) SalesTax,							
			SUM(SIGN(TransType) * ISNULL(h.Freight,0)) Freight, 
			SUM(SIGN(TransType) * ISNULL(h.Misc, 0)) Misc, 			
			SUM(SIGN(TransType) * (ISNULL(h.SalesTax, 0) + ISNULL(h.TaxAdjAmt,0) + ISNULL(h.Freight, 0) + ISNULL(h.Misc, 0)) 
					 ) TaxFreMisc, 
			v.CurrencyID
		FROM (tblApVendor v  
			INNER JOIN tblApHistHeader h  ON v.VendorID = h.VendorId)
		WHERE h.InvoiceNum IN (SELECT t.InvoiceNum FROM #tmpVendorList t WHERE t.VendorId = h.VendorId AND h.PostRun = t.PostRun AND h.TransId = t.TransId) 
								--AND ( h.CurrencyId = @ReportCurrency)			
		GROUP BY v.VendorId, v.[Name], h.InvoiceNum, v.CurrencyID 


	INSERT INTO #tmpApVendorActivityDtl
		SELECT v.VendorId, h.InvoiceNum,  
			SUM(SIGN(TransType) * ISNULL(d.ExtCost,0) ) ExtCost, 
			v.CurrencyID		
		FROM (tblApVendor v 
			INNER JOIN tblApHistHeader h  ON v.VendorID = h.VendorId) 
			LEFT JOIN tblApHistDetail d  ON h.PostRun = d.PostRun AND h.TransId = d.TransID AND h.InvoiceNum = d.InvoiceNum 
			INNER JOIN #tmpVendorList t ON t.VendorID = h.VendorId AND h.PostRun = t.PostRun  AND h.TransId = t.TransId 
				AND h.InvoiceNum = t.InvoiceNum AND d.EntryNum = t.EntryNum				
		WHERE --( h.CurrencyId = @ReportCurrency ) AND 
		 ISNULL(d.EntryNum, 0) >= 0 
		GROUP BY v.VendorId, h.InvoiceNum, v.CurrencyID


	INSERT INTO #tmpApCheckHist
		SELECT h.VendorId, d.InvoiceNum, SUM(ISNULL(d.PaymentAmtBase + d.DiscTakenBase, 0)) GrossAmtDue, 
			SUM(ISNULL(d.DiscTakenBase,0)) DiscTaken, SUM(ISNULL(d.PaymentAmtBase, 0)) NetPaid ,
			SUM(d.PaymentAmtBase) NetPaidCalc,SUM(d.GLGainLossAmtBase) GainLoss, h.CurrencyID
		FROM dbo.tblApPaymentHistHeader AS h LEFT JOIN dbo.tblApPaymentHistDetail AS d on h.ID = d.HeaderID
		WHERE d.InvoiceNum IN (SELECT t.InvoiceNum FROM #tmpVendorList t WHERE h.VendorId = t.VendorId) 
				--AND ( h.CurrencyId = @ReportCurrency ) 
				AND (h.VoidDate IS NULL)  
		GROUP BY h.VendorId, d.InvoiceNum, h.CurrencyID


	IF @Sort = 1
	BEGIN
		--Invoice Summary
		SELECT #tmp.VendorID, #tmp.VName, #tmp.InvoiceNum, #tmp.Invoiced, #tmp.InvoiceDate, #tmp.TransType,	#tmp.ExtCost, #tmp.SalesTax, #tmp.Freight, 
			#tmp.CalcGainLos, #tmp.Misc, #tmp.GrossAmtDue, #tmp.DiscAmt, #tmp.NetPaid,  #tmp.Balance, (#tmp.CalcBlc - #tmp.CalcGainLos)  AS CalcBalance
		FROM (
				SELECT t1.VendorID, t1.VName, t1.InvoiceNum, t2.ExtCost + t1.SalesTax + t1.Freight + t1.Misc Invoiced,
					t1.InvoiceDate, t1.TransType, t2.ExtCost, t1.SalesTax, t1.Freight,
					ISNULL(t3.GainLoss,0) CalcGainLos,			
					t1.Misc, ISNULL(t3.GrossAmtDue,0) GrossAmtDue, ISNULL(t3.DiscAmt,0) DiscAmt, 
					ISNULL(t3.NetPaid,0) NetPaid, 
					(t2.ExtCost + t1.SalesTax + t1.Freight + t1.Misc - ISNULL(t3.GrossAmtDue,0)) Balance,
					((t2.ExtCost + t1.SalesTax + t1.Freight + t1.Misc) - ISNULL(t3.GrossAmtDue,0))  CalcBlc
				FROM #tmpApVendorActivityHeader t1 
					INNER JOIN #tmpApVendorActivityDtl t2 ON t1.VendorId = t2.VendorId AND t1.InvoiceNum = t2.InvoiceNum
					LEFT JOIN #tmpApCheckHist t3 ON t1.VendorId = t3.VendorId AND t1.InvoiceNum = t3.InvoiceNum
			 ) #tmp
	END

	ELSE
	BEGIN 
		--Vendor summary 
		SELECT #tmp.VendorID, #tmp.VName, SUM(#tmp.Invoiced) Invoiced, SUM(#tmp.GrossAmtDue) GrossAmtDue, SUM(#tmp.DiscAmt) DiscAmt, 
			SUM(#tmp.NetPaid) NetPaid, SUM(#tmp.CalcGainLos) CalcGainLos, SUM(#tmp.CalcBalance - #tmp.CalcGainLos) CalcBalance, #tmp.CurrencyID 
		FROM (
				SELECT t1.VendorID, t1.VName, (t1.TaxFreMisc + t2.ExtCost) Invoiced, ISNULL(t3.GrossAmtDue,0) GrossAmtDue,
					ISNULL(t3.DiscAmt,0) DiscAmt, ISNULL(t3.NetPaid,0) NetPaid,  
					ISNULL(t3.GainLoss,0) AS CalcGainLos,
					(t1.TaxFreMisc + t2.ExtCost - ISNULL(t3.GrossAmtDue,0)) CalcBalance, t1.CurrencyID
				FROM #tmpApVendorActivityHeader t1 
					INNER JOIN #tmpApVendorActivityDtl t2 ON t1.VendorId = t2.VendorId AND t1.InvoiceNum = t2.InvoiceNum
					LEFT JOIN #tmpApCheckHist t3 ON t1.VendorId = t3.VendorId AND  t1.InvoiceNum = t3.InvoiceNum
			 ) #tmp
		GROUP BY #tmp.VendorId,  #tmp.VName, #tmp.CurrencyID, #tmp.CalcGainLos		
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorActivitySummary_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorActivitySummary_proc'
GO
