USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTimeTicketJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTimeTicketJournal_proc] 
@PrecCurr smallint,
@SortBy tinyint
AS
BEGIN TRY
SET NOCOUNT ON

	SELECT m.BatchId, m.Id AS TransId, m.TransDate, p.CustId, c.CustName, p.ProjectName AS ProjId, d.PhaseId, 
		d.TaskId, m.Qty, ROUND(m.Qty * m.UnitCost,@PrecCurr) AS ExtCost, ROUND(m.Qty * m.BillingRate,@PrecCurr) AS Amount,
		m.[Description], m.[AddnlDesc], m.RateId AS BillingRateId, m.BillingRate, m.Pieces, m.StateCode, m.LocalCode,
		m.DepartmentId, m.LaborClass, m.EarnCode, m.SUIState, m.SeqNo, m.EmployeeId,
		COALESCE (LastName, '') + ', ' + COALESCE (FirstName, '')  + ' ' + COALESCE (MiddleInit, '') AS EmployeeName,
		CASE @SortBy 
		WHEN 0 THEN CAST(BatchId AS nvarchar)
        WHEN 1 THEN CAST(m.EmployeeId AS nvarchar)
        WHEN 2 THEN CAST(p.CustId AS nvarchar)
		WHEN 3 THEN CAST(ProjectName AS nvarchar)
		WHEN 4 THEN CAST(TransDate AS nvarchar) END AS GrpId1
	FROM #tmpTimeTicketList t INNER JOIN dbo.tblPcTimeTicket m ON t.Id = m.Id
		INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id
		INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
		LEFT JOIN dbo.tblArCust c ON p.CustId = c.CustId
		LEFT JOIN dbo.tblSmEmployee e ON m.EmployeeId = e.EmployeeId
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketJournal_proc'
GO
