USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransPost_RemoveVoid_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransPost_RemoveVoid_proc]
AS
BEGIN TRY
	DECLARE @TransType nvarchar(10)
	DECLARE @TransTypePrePay nvarchar(10)
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	SELECT @TransTypePrePay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePREPAY'
	
	DELETE dbo.tblArTransHeader
		FROM dbo.tblArTransHeader
		INNER JOIN #VoidTransList l ON dbo.tblArTransHeader.TransId = l.TransId

	DELETE dbo.tblArTransDetail
		FROM dbo.tblArTransDetail
		INNER JOIN #VoidTransList l ON dbo.tblArTransDetail.TransId = l.TransId

	DELETE dbo.tblArTransLot
		FROM dbo.tblArTransLot
		INNER JOIN #VoidTransList l ON dbo.tblArTransLot.TransId = l.TransId

	DELETE dbo.tblArTransSer
		FROM dbo.tblArTransSer
		INNER JOIN #VoidTransList l ON dbo.tblArTransSer.TransId = l.TransId

	DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e 
	  INNER JOIN tblArTransPmt p ON  e.TransKey = p.PmtNum AND e.TransType=@TransTypePrePay
	  INNER JOIN #VoidTransList t ON p.TransId = t.TransId 

	DELETE dbo.tblArTransPmt
		FROM dbo.tblArTransPmt
		INNER JOIN #VoidTransList l ON dbo.tblArTransPmt.TransId = l.TransId

	DELETE dbo.tblArTransTax
		FROM dbo.tblArTransTax
		INNER JOIN #VoidTransList l ON dbo.tblArTransTax.TransId = l.TransId
		
	 DELETE dbo.tblSmExchangeRateTrans
     FROM dbo.tblSmExchangeRateTrans e  INNER JOIN #VoidTransList t ON e.TransKey = t.TransId AND TransType=@TransType


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_RemoveVoid_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_RemoveVoid_proc'
GO
