USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcACK_ExportLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcACK_ExportLog_proc]    
   @PostRun pPostRun ='',     
   @PartnerId bigInt =''  
AS    

 BEGIN TRY 

   SET NOCOUNT ON   

 SELECT l.PostRun,  p.PartnerID [Partner], l.CustID, c.CustName, l.SoNumber, l.AckDate, l.CustPoNum
   FROM dbo.tblEcACKExportLog  l
   LEFT JOIN dbo.tblArCust c ON ISNULL(l.CustId,'') = c.CustId
   LEFT JOIN dbo.tblEcPartner p ON p.ID = l.[Partner]
   WHERE (ISNULL(@PostRun, '') = '' OR @PostRun = PostRun) AND (ISNULL(@PartnerId, 0) = 0 OR @PartnerId = l.[Partner])

END TRY          
BEGIN CATCH          
      EXEC dbo.trav_RaiseError_proc          
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcACK_ExportLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcACK_ExportLog_proc'
GO
