USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_InPPV_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_InPPV_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	--Note: SP should only be used when costing method is Standard

	DECLARE @FiscalYear smallint, @FiscalPeriod smallint
	DECLARE @PostRun pPostRun
	DECLARE @CompId nvarchar(3)
	DECLARE @CurrBase pCurrency
	DECLARE @PrecAmount tinyint
	DECLARE @WrkStnDate datetime
	DECLARE @UserID pUserID
	DECLARE @HistoryID bigInt

	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'  
	SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId' 
	SELECT @CurrBase = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CurrBase'  
	SELECT @PrecAmount = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecAmount'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'  
	SELECT @UserId = Cast([Value] AS nvarchar(20)) FROM #GlobalValues WHERE [Key] = 'UserId'
	SELECT @HistoryID = Cast([Value] AS bigint) FROM #GlobalValues WHERE [Key] = 'HistoryId'
 
 	IF @FiscalYear IS NULL OR @FiscalPeriod IS NULL
		OR @PostRun IS NULL OR @CompId IS NULL
		OR @CurrBase IS NULL OR @PrecAmount IS NULL   
		OR @WrkStnDate IS NULL OR @UserID IS NULL
		OR @HistoryID IS NULL  
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--identify the list of IN related transactions to process
	CREATE TABLE #tmpTransaction
	(
		[FiscalYear] [smallint] NOT NULL,
		[FiscalPeriod] [smallint] NOT NULL,
		[TransDate] [datetime] NULL,
		[BatchID] [nvarchar](6) NULL,
		[ItemID] [nvarchar](24) NOT NULL,
		[LocID] [nvarchar](10) NOT NULL,
		[TransID] [nvarchar](255) NULL,
		[AmountSign] [smallint] NOT NULL,
		[ReferenceID] [nvarchar](15) NULL,
		[SourceID] [nvarchar](10), 
		[UnitCost] [decimal](28,10) NOT NULL,
		[UnitCostACV] [decimal](28,10) NOT NULL,
		[Qty] [decimal](28,10) NOT NULL, 
		[Unit] [nvarchar](5) NOT NULL
	)

	--capture cost details of quantity increase transactions for processing PPVs
	--	include Finished Goods, By-products and Subassemblies moved to stock for completed orders
	--	ACV currency for finished product, byproduct or subassemblies moved to stock is in functional currency.
	INSERT INTO #tmpTransaction ([FiscalYear], [FiscalPeriod], [TransDate], [AmountSign], [BatchID]
		, [ItemID], [LocID], [TransID], [ReferenceID], [SourceID]
		, [UnitCost], [UnitCostACV], [Qty], [Unit])
	SELECT m.FiscalYear, m.GlPeriod, m.[TransDate], 1, null
		, m.[ComponentId], m.[LocId], m.[TransId], r.[OrderNo]
		, CASE q.[Type] WHEN 0 THEN N'Assemb' WHEN 5 THEN N'ByProd' WHEN 2 THEN N'SubAsm' ELSE null END
		, m.[UnitCost], m.[UnitCost], m.[Qty], m.[UOM] 
		FROM dbo.tblMpOrderReleases r
		INNER JOIN #tmpCompletedRelease o ON r.[Id] = o.[ReleaseId]
		INNER JOIN dbo.tblMpRequirements q on r.[Id] = q.[ReleaseId]
		INNER JOIN dbo.tblMpMatlDtl m on q.[TransId] = m.[TransId]
		INNER JOIN dbo.tblInItem i on m.[ComponentId] = i.[ItemId]
		WHERE r.[Status] = 6 --completed
			AND i.ItemType in (0, 1) --regular or serialized
			AND i.[LottedYN] = 0 --non-lotted
			AND (q.[Type] = 0 OR q.[Type] = 5 OR (q.[Type] = 2 AND m.SubAssemblyTranType = -1)) --FG, Byprod or moved to stock
	UNION ALL
	SELECT m.FiscalYear, m.GlPeriod, m.[TransDate], 1, null
		, m.[ComponentId], m.[LocId], m.[TransId], r.[OrderNo]
		, CASE q.[Type] WHEN 0 THEN N'Assemb' WHEN 5 THEN N'ByProd' WHEN 2 THEN N'SubAsm' ELSE null END
		, e.[CostUnit], e.[CostUnit], e.[QtyFilled], m.[UOM] 
		FROM dbo.tblMpOrderReleases r
		INNER JOIN #tmpCompletedRelease o ON r.[Id] = o.[ReleaseId]
		INNER JOIN dbo.tblMpRequirements q on r.[Id] = q.[ReleaseId]
		INNER JOIN dbo.tblMpMatlDtl m on q.[TransId] = m.[TransId]
		INNER JOIN dbo.tblMpMatlDtlExt e on m.[TransId] = e.[TransId] and m.[SeqNo] = e.[EntryNum]
		INNER JOIN dbo.tblInItem i on m.[ComponentId] = i.[ItemId]
		WHERE r.[Status] = 6 --completed
			AND i.ItemType in (0, 1) --regular or serialized
			AND i.[LottedYN] = 1 --lotted
			AND (q.[Type] = 0 OR q.[Type] = 5 OR (q.[Type] = 2 AND m.SubAssemblyTranType = -1)) --FG, Byprod or moved to stock


		--Process the PPV adjustments for the idenified transactions		
		EXEC [dbo].[trav_InAdjustmentPPV_proc] N'MP', @PostRun, @WrkStnDate, @CurrBase, @CompId, @PrecAmount, N'INADJUST', @UserID, @HistoryID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_InPPV_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_InPPV_proc'
GO
