USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArInvoiceAging_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArInvoiceAging_proc]
@AgingDate datetime, --base date for the aging dates
@InvcFinch [nvarchar](15) NULL, --Finance charge invoice number
@AgeUnappliedCredits bit = 0 --option to age unapplied payments
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @Day1 datetime, @Day2 datetime, @Day3 datetime, @Day4 datetime
	DECLARE @MaxInvcAgingDate datetime, @MaxPmtAgingDate datetime

	CREATE TABLE #InvoiceAgingBuckets
	(
		CustId [nvarchar](10) NOT NULL, 
		InvcNum [nvarchar](15) NULL, 
		MinAgingDate datetime NULL, 
		MaxRecType smallint, 
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		UnpaidFinch [decimal](28,10) NOT NULL DEFAULT(0),
		AmtCurrent [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue1 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue2 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue3 [decimal](28,10) NOT NULL DEFAULT(0), 
		AmtDue4 [decimal](28,10) NOT NULL DEFAULT(0), 
		CurrencyID [nvarchar](6) NOT NULL,
		
	)

	-- Set each aging dates based upon the initial aging date
	SELECT @Day1 = DATEADD(DAY, -30, @AgingDate)
		, @Day2 = DATEADD(DAY, -60, @AgingDate)
		, @Day3 = DATEADD(DAY, -90, @AgingDate)
		, @Day4 = DATEADD(DAY, -120, @AgingDate)


	-- initialize the list of aged values for invoices with an outstanding balance
	INSERT INTO #InvoiceAgingBuckets (CustId, InvcNum,CurrencyID) 
	SELECT CustId, InvcNum, CurrencyID 
	FROM #AgeInvoiceList 	
	GROUP BY CustId, InvcNum, CurrencyID,AcctType
	HAVING SUM(SIGN(RecType) * AmountDue) <> 0 AND AcctType= 0


	-- capture the max invoice and payment dates for calculating the MinAgingDates
	SELECT @MaxInvcAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType > 0 AND NOT(AgingDate IS NULL) AND AcctType= 0
	SELECT @MaxPmtAgingDate = MAX(AgingDate) FROM #AgeInvoiceList WHERE RecType < 0 AND NOT(AgingDate IS NULL) AND AcctType= 0
	SELECT @MaxInvcAgingDate = COALESCE(@MaxInvcAgingDate, GETDATE()), @MaxPmtAgingDate = COALESCE(@MaxPmtAgingDate, GETDATE())


	-- process invoices/payments by Min aging date and max rec typ so that over payments on invoices are aged with the invoice
	UPDATE #InvoiceAgingBuckets 
		SET MinAgingDate = m.MinAgingDate, MaxRecType = m.MaxRecType
		FROM #InvoiceAgingBuckets 
		INNER JOIN 
		(	SELECT CustId
				, InvcNum
				, Max(RecType) MaxRecType
				, CASE WHEN Max(RecType) > 0 THEN Min(InvcDate) ELSE Min(PmtDate) END MinAgingDate
				, d.CurrencyID
			FROM 
			(
				SELECT CustId
					, InvcNum
					, ISNULL(RecType, 1) RecType
					, CASE WHEN ISNULL(RecType, 1) > 0 THEN AgingDate ELSE @MaxInvcAgingDate END InvcDate
					, Case WHEN ISNULL(RecType, 1) < 0 THEN AgingDate ELSE @MaxPmtAgingDate END PmtDate
					, CurrencyID
				FROM #AgeInvoiceList WHERE AcctType= 0
			) d	GROUP BY CustId, InvcNum, CurrencyID
		) m
		ON #InvoiceAgingBuckets.CustId = m.CustId AND #InvoiceAgingBuckets.InvcNum = m.InvcNum AND #InvoiceAgingBuckets.CurrencyID = m.CurrencyID


	-- separate amounts into aging buckets
	UPDATE #InvoiceAgingBuckets
		SET UnappliedCredit = ISNULL(s.UnappliedCredit, 0), UnpaidFinch = ISNULL(s.UnpaidFinch, 0), AmtCurrent = ISNULL(s.AmtCurrent, 0)
			, AmtDue1 = ISNULL(s.AmtDue1, 0), AmtDue2 = ISNULL(s.AmtDue2, 0), AmtDue3 = ISNULL(s.AmtDue3, 0), AmtDue4 = ISNULL(s.AmtDue4, 0)
		FROM #InvoiceAgingBuckets 
		INNER JOIN 
		(
			SELECT i.CustId, i.InvcNum
				, SUM(CASE WHEN i.MaxRecType = 4 THEN  o.AmountDue ELSE 0 END) UnpaidFinch
				, SUM(CASE WHEN (i.maxrectype < 0 AND @AgeUnappliedCredits <> 1) THEN  o.AmountDue ELSE 0 END) UnappliedCredit
				, SUM(CASE WHEN (i.maxrectype > 0 OR @AgeUnappliedCredits = 1) AND i.MaxRecType <> 4 AND i.MinAgingDate >= @Day1 THEN  o.AmountDue ELSE 0 END) AmtCurrent
				, SUM(CASE WHEN (i.maxrectype > 0 OR @AgeUnappliedCredits = 1) AND i.MaxRecType <> 4 AND i.MinAgingDate BETWEEN @Day2 AND DateAdd(Day, -1, @Day1) THEN  o.AmountDue ELSE 0 END) AmtDue1
				, SUM(CASE WHEN (i.maxrectype > 0 OR @AgeUnappliedCredits = 1) AND i.MaxRecType <> 4 AND i.MinAgingDate BETWEEN @Day3 AND DateAdd(Day, -1, @Day2) THEN  o.AmountDue ELSE 0 END) AmtDue2
				, SUM(CASE WHEN (i.maxrectype > 0 OR @AgeUnappliedCredits = 1) AND i.MaxRecType <> 4 AND i.MinAgingDate BETWEEN @Day4 AND DateAdd(Day, -1, @Day3) THEN  o.AmountDue ELSE 0 END) AmtDue3
				, SUM(CASE WHEN (i.maxrectype > 0 OR @AgeUnappliedCredits = 1) AND i.MaxRecType <> 4 AND i.MinAgingDate < @Day4  THEN  o.AmountDue ELSE 0 END) AmtDue4
				, i.CurrencyID
			FROM #InvoiceAgingBuckets i 
			INNER JOIN #AgeInvoiceList o ON i.CustId = o.CustId AND i.InvcNum = o.InvcNum AND i.CurrencyID = o.CurrencyID AND o.AcctType = 0
			GROUP BY i.CustId, i.InvcNum,i.CurrencyID
		) s
		ON #InvoiceAgingBuckets.CustId = s.CustId AND #InvoiceAgingBuckets.InvcNum = s.InvcNum AND #InvoiceAgingBuckets.CurrencyID = s.CurrencyID


	-- Balance forward customers
	INSERT INTO #InvoiceAgingBuckets (CustId, InvcNum,  MinAgingDate, MaxRecType
			, UnappliedCredit,UnpaidFinch, AmtCurrent, AmtDue1, AmtDue2, AmtDue3, AmtDue4 
			, CurrencyID)
	SELECT	A.CustId ,A.InvcNum,AgingDate,MaxRecType, (Unapplied), (AmtFinanceCharge),(AmtCurrent), (AmtDue1), 
			(AmtDue2), (AmtDue3), (AmtDue4), CurrencyID FROM
		(
			SELECT c.CustId, 'BalFwd' AS InvcNum,  @AgingDate AS AgingDate, 1 AS MaxRecType
				, 0 AS Unapplied
				, SUM(CASE WHEN c.AgingPeriod =0 AND c.RecType <> 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtCurrent
				, SUM(CASE WHEN c.AgingPeriod =10 OR c.RecType = 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtFinanceCharge 
				, SUM(CASE WHEN c.AgingPeriod =1 AND c.RecType <> 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtDue1 
				, SUM(CASE WHEN c.AgingPeriod =2 AND c.RecType <> 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtDue2 
				, SUM(CASE WHEN c.AgingPeriod =3 AND c.RecType <> 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtDue3 
				, SUM(CASE WHEN c.AgingPeriod >3 AND c.RecType <> 4 THEN ISNULL(AmountDue, 0) ELSE 0 END) AS AmtDue4				
				, c.CurrencyID
			FROM #CustomerList l
			INNER JOIN #AgeInvoiceList c ON l.CustId = c.CustId		
			INNER JOIN tblArCust cust ON c.CustId = cust.CustId	
			WHERE c.AcctType = 1 
			GROUP BY c.CustId,c.CurrencyID
	) AS A
			 
	 
	-- return the aged balances by customer and invoice number
	SELECT c.CustId, InvcNum
		, SUM(ISNULL(UnappliedCredit, 0)) UnappliedCredit
		, SUM(ISNULL(c.UnpaidFinch, 0)) UpaidFinch
		, SUM(ISNULL(AmtCurrent, 0)) AmtCurrent 
		, SUM(ISNULL(AmtDue1, 0)) AmtDue1
		, SUM(ISNULL(AmtDue2, 0)) AmtDue2
		, SUM(ISNULL(AmtDue3, 0)) AmtDue3
		, SUM(ISNULL(AmtDue4, 0)) AmtDue4
		, c.CurrencyID
		FROM #InvoiceAgingBuckets c	
		INNER JOIN tblArCust cust ON c.CustId = cust.CustId	
		GROUP BY c.CustId, InvcNum,c.CurrencyID
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArInvoiceAging_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArInvoiceAging_proc'
GO
