USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVendorDetailReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVendorDetailReport_proc]
@DetailYn bit = 1,
@FiscalYear smallint = 2013,
@BaseCurrency [nvarchar](6)='USD',
@SortBy smallint
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #VendorBalance
	(
		VendorID [nvarchar](10) NULL,
		[Name] nvarchar(30) NULL,
		FiscalPeriod smallint NULL,
		Purchases [decimal](28,10) NULL,
		Payments [decimal](28,10) NULL,
		DiscTaken [decimal](28,10) NULL,
		DiscLost [decimal](28,10) NULL,
		Ten99Payments [decimal](28,10) NULL,
		
	)
	IF @DetailYn = 1 
	  BEGIN
		
			INSERT INTO #VendorBalance(VendorID,[Name],FiscalPeriod,Purchases,Payments,DiscTaken,DiscLost,Ten99Payments)
			
			SELECT a.VendorID,a.[Name] ,a.FiscalPeriod, Sum(a.Purchases) ,SUM(a.Payments),SUM(a.DiscTaken),SUM(a.DiscLost),SUM(a.Ten99Payments)
			FROM
			(
				SELECT v.VendorID,v.[Name],h.GLPeriod As FiscalPeriod
						,CASE WHEN v.CurrencyId =@BaseCurrency THEN (Sign(h.TransType) * (Subtotal + SalesTax + TaxAdjAmt + Freight + Misc))
							ELSE
							 CASE WHEN v.CurrencyId=h.CurrencyId THEN (Sign(h.TransType) * (Subtotalfgn + SalesTaxfgn + TaxAdjAmtfgn + Freightfgn + Miscfgn))
								 ELSE  Round(et.Rate *(Sign(h.TransType) * (Subtotalfgn + SalesTaxfgn + TaxAdjAmtfgn + Freightfgn + Miscfgn)),et.CurrDecPlaces) END
								 END AS Purchases

						,0 AS Payments,0 AS DiscTaken ,0 AS DiscLost,0 Ten99Payments
				FROM tblApVendor v INNER JOIN 	#tmpVendorList f ON f.VendorId = v.VendorId
				INNER JOIN tblApHistHeader h ON v.VendorId = h.VendorId  AND h.FiscalYear =@FiscalYear
				LEFT JOIN( SELECT ed.[Source],ed.Destination,ed.Rate,c.CurrDecPlaces,e.FiscalYear,e.FiscalPeriod 
							FROM tblSmExchangeRate e
							INNER JOIN tblSmExchangeRateDetail ed ON e.ID=ed.ExchangeRateID AND e.FiscalYear=@FiscalYear AND e.[Type]=1
							INNER JOIN tblSmCurrency c ON ed.Destination =c.CurrID ) et
					ON  et.[Source] =h.CurrencyID  AND et.Destination= v.CurrencyId	AND  et.FiscalPeriod=h.GLPeriod 
					
				UNION ALL
				 
				SELECT v.VendorID,v.[Name],h.FiscalPeriod,0 Purchases
					,CASE WHEN v.CurrencyId =@BaseCurrency THEN  d.PaymentAmtBase
						ELSE CASE WHEN v.CurrencyId=h.CurrencyId THEN  d.PaymentAmt
						   ELSE Round( et.Rate * d.PaymentAmt,et.CurrDecPlaces) END END AS Payments
					,CASE WHEN v.CurrencyId =@BaseCurrency THEN   d.DiscTakenBase
						ELSE CASE WHEN v.CurrencyId=h.CurrencyId THEN  d.DiscTaken
						   ELSE Round( et.Rate * d.DiscTaken,et.CurrDecPlaces) END END AS DiscTaken
					,CASE WHEN v.CurrencyId =@BaseCurrency THEN   d.DiscLostBase
						ELSE CASE WHEN v.CurrencyId=h.CurrencyId THEN  d.DiscLost
						   ELSE Round( et.Rate * d.DiscLost,et.CurrDecPlaces) END END AS DiscLost
					, CASE WHEN d.Ten99InvoiceYN=1 THEN 
							CASE WHEN v.CurrencyId =@BaseCurrency THEN    d.PaymentAmtBase
							ELSE CASE WHEN v.CurrencyId=h.CurrencyId THEN   d.PaymentAmt
							ELSE Round( et.Rate * d.PaymentAmt,et.CurrDecPlaces) END END ELSE 0 END AS Ten99Payments
					
				FROM tblApVendor v INNER JOIN #tmpVendorList f ON f.VendorId = v.VendorId
				INNER JOIN tblApPaymentHistHeader h ON v.VendorId = h.VendorId  AND h.FiscalYear =@FiscalYear
				INNER JOIN tblApPaymentHistDetail d ON h.ID =d.HeaderID
				LEFT JOIN( SELECT ed.[Source],ed.Destination,ed.Rate,c.CurrDecPlaces,e.FiscalYear,e.FiscalPeriod 
							FROM tblSmExchangeRate e
							INNER JOIN tblSmExchangeRateDetail ed ON e.ID=ed.ExchangeRateID AND e.FiscalYear=@FiscalYear AND e.[Type]=1
							INNER JOIN tblSmCurrency c ON ed.Destination =c.CurrID ) et
					ON  et.[Source] =h.CurrencyID  AND et.Destination= v.CurrencyId	AND  et.FiscalPeriod=h.FiscalPeriod 
				WHERE h.VoidDate IS NULL

		  ) a
		  GROUP BY a.VendorID,a.[Name],a.FiscalPeriod
		  
		  --Raise Exception if Invalid Exchange rate Exists
		  IF EXISTS (SELECT VendorID FROM  #VendorBalance  WHERE Purchases IS NULL  OR Payments IS NULL)
		  BEGIN
				THROW 90027, N'Invalid exchange information.', 1
		  END
				
		  SELECT CASE WHEN @SortBy = 0 THEN v.VendorID ELSE v.[Name] END SortBy,v.VendorID, v.[Name], v.Contact, v.Addr1, v.Addr2, v.City, v.Region, v.Country, v.PostalCode, v.[Status], v.ChkOpt
			, v.IntlPrefix, v.Phone, v.FAX, v.OurAcctNum, v.PayToName, v.PayToAttention, v.PayToAddr1, v.PayToAddr2, v.PayToCity
			, v.PayToRegion, v.PayToCountry, v.PayToPostalCode, v.PayToIntlPrefix, v.PayToPhone, v.Ten99FormCode
			, v.Ten99RecipientID, v.Ten99FieldIndicator, v.Ten99ForeignAddrYN, v.SecondTINNotYN, v.GLAcct, v.PriorityCode
			, v.VendorHoldYN, v.TempYN, v.VendorClass, v.TermsCode, v.DivisionCode, v.DistCode, v.TaxableYN, v.Memo, v.CurrencyId
			, t.[Desc], t.DiscPct, t.DiscDays, t.NetDueDays, v.TaxGrpID, v.Email, v.Internet, v.LastPurchDate, v.LastPurchNum
			, v.LastPmtDate, v.LastCheckNum, v.DfltTransAllocId,v.DefaultPayBankId
			, v.GrossDue, v.Prepaid, v.LastPurchAmt, v.LastPmtAmt
			, v.DeliveryType, v.BankAcctNum, v.RoutingCode, CASE WHEN b.VendorId IS NULL THEN 0 ELSE 1 END AS HistoryYn 
		  FROM dbo.tblApVendor v INNER JOIN #tmpVendorList d ON v.VendorId = d.VendorId
			INNER JOIN dbo.tblApTermsCode t ON v.TermsCode = t.TermsCode 
			LEFT JOIN (SELECT VendorID FROM  #VendorBalance GROUP BY VendorID) b ON v.VendorId = b.VendorId 

			
		  SELECT CASE WHEN @SortBy = 0 THEN VendorID ELSE [Name] END SortBy,VendorID, @FiscalYear FiscalYear, FiscalPeriod GLPeriod, Purchases, Payments,  DiscTaken,  DiscLost,  Ten99Payments 
		  FROM #VendorBalance 
	  END
	
	
	ELSE
		BEGIN
			SELECT v.VendorID, v.[Name], v.Contact, v.Country, v.Phone, v.FAX, v.VendorHoldYN 
			FROM dbo.tblApVendor v INNER JOIN #tmpVendorList d ON v.VendorId = d.VendorId	
		END
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorDetailReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVendorDetailReport_proc'
GO
