USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MbECOPick_Proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MbECOPick_Proc]
	
AS
SET NOCOUNT ON

BEGIN TRY

	SELECT ECONum, e.Descr, Engineer, AssemblyId, CurrRevisionNo, NewRevisionNo, ECODate
		, EffectiveDate, t.Descr AS TypeDescr, s.Descr AS StatusDescr, Other, OtherDate, Notes 
	FROM dbo.tblMbECONum e 
		LEFT JOIN dbo.tblMbECOType t ON e.TypeRef = t.TypeRef 
		LEFT JOIN dbo.tblMbECOStatus s ON e.StatusRef = s.StatusRef 
		INNER JOIN #tmpECOPick tmp ON tmp.ECORef = e.ECORef
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbECOPick_Proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MbECOPick_Proc'
GO
