USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PsRewardActivityPost_UpdateActivity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PsRewardActivityPost_UpdateActivity_proc] 
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE	@PostRun pPostRun, @WrkStnDate datetime, @FiscalYear smallint, @FiscalPeriod smallint

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @FiscalPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'

	--Retrieve global values
	IF @PostRun IS NULL OR @WrkStnDate IS NULL OR @FiscalYear IS NULL OR @FiscalPeriod IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--Update the activity that was processed
	UPDATE dbo.tblPsRewardActivity SET [PostRun] = @PostRun
		, [PostDate] = @WrkStnDate, [FiscalYear] = @FiscalYear, [FiscalPeriod] = @FiscalPeriod
	FROM #ActivityList l
	INNER JOIN dbo.tblPsRewardActivity a on l.[ID] = a.[ID]
	WHERE a.[PostRun] IS NULL --unposted


END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_UpdateActivity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PsRewardActivityPost_UpdateActivity_proc'
GO
