USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcRevenueAdjustPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcRevenueAdjustPost_GlLog_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE
	@PostRun [nvarchar](14),
	@TransType nvarchar(20),
	@BatchId [nvarchar](6),
	@WksDate datetime,
	@PcGlDetailYn bit,
	@ArGlYn bit,
	@AdjustDate datetime, 
	@CompId  [nvarchar](3),
	@BaseCurrency [nvarchar](6) ,
	@NextGlPeriod smallint,
	@NextGlYear smallint,
	@GlPeriod smallint,
	@GlYear smallint

	--Retrieve Global Values
	SELECT @CompId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompId' 
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @TransType = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'TransType'
	SELECT @PcGlDetailYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PcGlDetailYn'
	SELECT @BatchId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'BatchId'
	SELECT @ArGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ArGlYn'
	SELECT @AdjustDate = CONVERT(datetime, [Value]) FROM #GlobalValues WHERE [Key] = 'AdjustDate'
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'BaseCurrency'
	SELECT @WksDate = CONVERT(datetime, [Value]) FROM #GlobalValues WHERE [Key] = 'WksDate'
	SELECT @NextGlPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'NextFiscalPeriod'
	SELECT @NextGlYear = CAST([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'NextFiscalYear'
	SELECT @GlPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalPeriod'
	SELECT @GlYear = CAST([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	IF @PostRun IS NULL OR @TransType IS NULL OR @PcGlDetailYn IS NULL OR @BatchId IS NULL OR @ArGlYn IS NULL OR @AdjustDate IS NULL OR @BaseCurrency IS NULL OR @NextGlPeriod IS NULL OR @NextGlYear IS NULL OR @WksDate IS NULL
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END 


	CREATE TABLE #PcRevenueAdjLogDtl   
	(  
		[Counter] int Not Null Identity(1, 1),   
		[RevenueAdjustId] bigint NOT NULL,
		[PostRun] [nvarchar](14) NOT NULL,
		[ProjectId] bigint Null,
		[DetailId] int Null, --unused
		[Grouping] smallint Null,
		[Descr] nvarchar(255) Null,
		[DetailDescr] nvarchar(255) NULL,
		[SourceCode] nvarchar(2) Null,
		[Reference] nvarchar(15) Null,   
		[GlAcct] [nvarchar](255) NULL,
		[ExchRate] [decimal](28,10) NOT NULL,
		[FiscalPeriod] smallint Null,
		[FiscalYear] smallint Null,
		[LinkID] nvarchar(255) Null,
		[LinkIDSub] nvarchar(15) Null,
		[LinkIDSubLine] int Null,
		[CurrencyId] [nvarchar](6) NULL,
		[DebitAmtFgn] [decimal](28,10) NULL Default(0),
		[CreditAmtFgn] [decimal](28,10) NULL Default(0),
		[DebitAmt] [decimal](28,10) NULL Default(0),
		[CreditAmt] [decimal](28,10) NULL Default(0),
		[NetAdjustAmt] [decimal](28,10) NULL Default(0),
		[ExcessType] tinyint NOT NULL
	)

	CREATE TABLE #PcProjects
	(
		[ProjectId] bigint NOT NULL,
		[ExchRate] [decimal](28,10) NOT NULL, --income acct
		[ExchRateBillingExc] [decimal](28,10) NOT NULL, --Billing in Excess acct
		[ExchRateEarningExc] [decimal](28,10) NOT NULL, --Earning in Excess acct
		[ProjectName] nvarchar(20) NOT NULL,
		[CustId] [nvarchar](10) NOT NULL,
		[AmountFgn] [decimal](28,10)  NOT NULL,
		[AmountBillingExcFgn] [decimal](28,10)  NOT NULL,
		[AmountEarningExcFgn] [decimal](28,10)  NOT NULL,
		[NetAdjustAmount] [decimal](28,10)  NOT NULL,
		[RevenueAdjustId] bigint NOT NULL,
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[AdjustDate] datetime NOT NULL,
		[CurrencyId] [nvarchar](6) NOT NULL,
		[CurrencyIdBillingExc] [nvarchar](6) NOT NULL,
		[CurrencyIdEarningExc] [nvarchar](6) NOT NULL,
		[GlAcctIncome] [nvarchar](255)  NOT NULL,
		[GlBillingsInExc] [nvarchar](255)  NOT NULL,
		[GlEarningsInExc] [nvarchar](255)  NOT NULL,
		[BillingsInExcess] bit NOT NULL,
		[EarningsInExcess] bit NOT NULL
	)

	IF NOT EXISTS (SELECT det.Source, det.Destination, det.Rate, rate.FiscalYear, rate.FiscalPeriod FROM tblSmExchangeRate rate 
				INNER JOIN dbo.tblSmExchangeRateDetail det ON rate.ID = det.ExchangeRateID
				INNER JOIN dbo.tblPcRevenueAdjustBatch ba ON ba.FiscalPeriod = rate.FiscalPeriod AND ba.FiscalYear = rate.FiscalYear AND ba.BatchID = @BatchId
				WHERE rate.EffectiveDate <= @AdjustDate OR rate.EffectiveDate IS NULL)
		THROW 90027, N'Invalid exchange information.', 1


	INSERT INTO #PcProjects
	SELECT p.ID, 
			ISNULL(r8.Rate, 1) ExchRate,
			ISNULL(r82.Rate, 1) ExchRate2,
			ISNULL(r83.Rate, 1) ExchRate3,
			p.ProjectName, 
			p.CustId,
			CAST(a.NetAdjustAmount * ISNULL(r8.Rate,1) as decimal(28,10)) as AmountFgn,
			CAST(a.NetAdjustAmount * ISNULL(r82.Rate,1) as decimal(28,10)) as AmountBillingExcFgn,
			CAST(a.NetAdjustAmount * ISNULL(r83.Rate,1) as decimal(28,10)) as AmountEarningExcFgn,
			a.NetAdjustAmount,
			a.Id as RevenueAdjustId,
			b.FiscalYear,
			b.FiscalPeriod,
			@AdjustDate AdjustDate,
			glHdr.CurrencyID, --change to base currency in standard edition
			glHdr2.CurrencyID as CurrencyIDBillingExcess, --change to base currency in standard edition
			glHdr3.CurrencyID as CurrencyIDEarningsExcess, --change to base currency in standard edition
			a.GLAcctIncome,
			a.GLAcctBillingExcess,
			a.GLAcctEarningExcess,
			CAST(CASE WHEN BilledAmount > EarnedIncome THEN 1 
			WHEN BilledAmount < EarnedIncome THEN 0
			WHEN BilledAmount = EarnedIncome THEN 
			(CASE WHEN PostedAdjustAmount > 0 THEN 1 ELSE 0 END) END as bit) BillingsInExcess,
			CAST(CASE WHEN BilledAmount > EarnedIncome THEN 0 
			WHEN BilledAmount < EarnedIncome THEN 1
			WHEN BilledAmount = EarnedIncome THEN 
			(CASE WHEN PostedAdjustAmount > 0 THEN 0 ELSE 1 END) END as bit) EarningsInExcess
	FROM dbo.tblPcProject p
	INNER JOIN dbo.tblPcRevenueAdjust a ON a.ProjectID = p.Id
	INNER JOIN #tmpRevenueAdjusts t ON t.Id = a.ProjectId
	INNER JOIN dbo.tblPcRevenueAdjustBatch b on a.AdjustBatchID = b.Id
	INNER JOIN dbo.tblGlAcctHdr glHdr ON a.GLAcctIncome = glHdr.AcctId
	INNER JOIN dbo.tblGlAcctHdr glHdr2 ON a.GLAcctBillingExcess = glHdr2.AcctId
	INNER JOIN dbo.tblGlAcctHdr glHdr3 ON a.GLAcctEarningExcess = glHdr3.AcctId
	INNER JOIN (SELECT det.Source, det.Destination, det.Rate, rate.FiscalYear, rate.FiscalPeriod FROM tblSmExchangeRate rate 
				INNER JOIN tblSmExchangeRateDetail det ON rate.ID = det.ExchangeRateID
				INNER JOIN tblPcRevenueAdjustBatch ba ON ba.FiscalPeriod = rate.FiscalPeriod AND ba.FiscalYear = rate.FiscalYear AND ba.BatchID = @BatchId
				WHERE rate.EffectiveDate <= @AdjustDate OR rate.EffectiveDate IS NULL) r8 ON r8.Source = @BaseCurrency AND r8.Destination = glHdr.CurrencyID --remove in Standard edition
	INNER JOIN (SELECT det.Source, det.Destination, det.Rate, rate.FiscalYear, rate.FiscalPeriod FROM tblSmExchangeRate rate 
				INNER JOIN tblSmExchangeRateDetail det ON rate.ID = det.ExchangeRateID
				INNER JOIN tblPcRevenueAdjustBatch ba ON ba.FiscalPeriod = rate.FiscalPeriod AND ba.FiscalYear = rate.FiscalYear AND ba.BatchID = @BatchId
				WHERE rate.EffectiveDate <= @AdjustDate OR rate.EffectiveDate IS NULL) r82 ON r82.Source = @BaseCurrency AND r82.Destination = glHdr2.CurrencyID --remove in Standard edition
	INNER JOIN (SELECT det.Source, det.Destination, det.Rate, rate.FiscalYear, rate.FiscalPeriod FROM tblSmExchangeRate rate 
				INNER JOIN tblSmExchangeRateDetail det ON rate.ID = det.ExchangeRateID
				INNER JOIN tblPcRevenueAdjustBatch ba ON ba.FiscalPeriod = rate.FiscalPeriod AND ba.FiscalYear = rate.FiscalYear AND ba.BatchID = @BatchId
				WHERE rate.EffectiveDate <= @AdjustDate OR rate.EffectiveDate IS NULL) r83 ON r83.Source = @BaseCurrency AND r83.Destination = glHdr3.CurrencyID --remove in Standard edition

	--Income
	INSERT INTO #PcRevenueAdjLogDtl(PostRun, RevenueAdjustId, ProjectId, DetailId, CurrencyId, 
									FiscalPeriod, FiscalYear, GlAcct, ExchRate,
									CreditAmtFgn, 
									DebitAmtFgn, 
									CreditAmt, 
									DebitAmt, 
									[Grouping], LinkID, LinkIDSub, LinkIDSubLine, 
									Reference, SourceCode,
									Descr, DetailDescr, ExcessType)  
	SELECT @PostRun as PostRun, RevenueAdjustId, p.ProjectId, null as DetailId, p.CurrencyId, 
			FiscalPeriod, FiscalYear, GlAcctIncome as GlAccount, p.ExchRate,
			CASE WHEN AmountFgn < 0 THEN ABS(AmountFgn) ELSE 0 END CreditAmountFgn, 
			CASE WHEN AmountFgn >= 0 THEN ABS(AmountFgn) ELSE 0 END DebitAmountFgn,
			CASE WHEN NetAdjustAmount < 0 THEN ABS(NetAdjustAmount) ELSE 0 END CreditAmount, 
			CASE WHEN NetAdjustAmount >= 0 THEN ABS(NetAdjustAmount) ELSE 0 END DebitAmount,
			10 as [Grouping], CONVERT(nvarchar, p.RevenueAdjustId) as LinkID, null as LinkIDSub, -3 as LinkIDSubLine,
			p.CustId as Reference, 'JC' as SourceCode,
			CASE WHEN BillingsInExcess = 1 THEN 'Billings excess adj'
				WHEN EarningsInExcess = 1 THEN 'Earnings excess adj'
				ELSE 'Unknown' END [Description],
			SUBSTRING(CONVERT(nvarchar,p.RevenueAdjustId) + ' \ ' + CONVERT(nvarchar,p.ProjectId) + ' \ ' + p.ProjectName, 0, 30) as [DetailDescr], CASE WHEN BillingsInExcess = 1 THEN 1 WHEN EarningsInExcess = 1 THEN 2 ELSE 3 END
	FROM #PcProjects p
	
	--Offset
	INSERT INTO #PcRevenueAdjLogDtl(PostRun, RevenueAdjustId, ProjectId, DetailId, CurrencyId, 
								FiscalPeriod, FiscalYear, 
								GlAcct, ExchRate,
								CreditAmtFgn, 
								DebitAmtFgn, 
								CreditAmt, 
								DebitAmt, 
								[Grouping], LinkID, LinkIDSub, LinkIDSubLine, 
								Reference, SourceCode,
								Descr, DetailDescr, ExcessType)  
	SELECT @PostRun as PostRun, RevenueAdjustId, p.ProjectId, null as DetailId, 
			CASE WHEN p.BillingsInExcess = 1 THEN p.CurrencyIdBillingExc WHEN p.EarningsInExcess = 1 THEN p.CurrencyIdEarningExc ELSE p.CurrencyId END as CurrencyId, 
			FiscalPeriod, FiscalYear,
			CASE WHEN p.BillingsInExcess = 1 THEN p.GlBillingsInExc WHEN p.EarningsInExcess = 1 THEN p.GlEarningsInExc ELSE p.GlAcctIncome END as GlAccount, 
			CASE WHEN p.BillingsInExcess = 1 THEN p.ExchRateBillingExc WHEN p.EarningsInExcess = 1 THEN p.ExchRateEarningExc ELSE p.ExchRate END as ExchRate,
			CASE WHEN p.BillingsInExcess = 1 
				THEN (CASE WHEN (AmountBillingExcFgn * -1) < 0 THEN ABS(AmountBillingExcFgn * -1) ELSE 0 END) 
			WHEN p.EarningsInExcess = 1 
				THEN (CASE WHEN (AmountEarningExcFgn * -1) < 0 THEN ABS(AmountEarningExcFgn * -1) ELSE 0 END)
			ELSE CASE WHEN (AmountFgn * -1) < 0 THEN ABS(AmountFgn * -1) ELSE 0 END END as CreditAmountFgn,
			
			CASE WHEN p.BillingsInExcess = 1 
				THEN (CASE WHEN (AmountBillingExcFgn * -1) >= 0 THEN ABS(AmountBillingExcFgn * -1) ELSE 0 END) 
			WHEN p.EarningsInExcess = 1 
				THEN (CASE WHEN (AmountEarningExcFgn * -1) >= 0 THEN ABS(AmountEarningExcFgn * -1) ELSE 0 END)
			ELSE (CASE WHEN (AmountFgn * -1) >= 0 THEN ABS(AmountFgn * -1) ELSE 0 END) END as DebitAmountFgn,

			CASE WHEN (NetAdjustAmount * -1) < 0 THEN ABS(NetAdjustAmount * -1) ELSE 0 END CreditAmount, 
			CASE WHEN (NetAdjustAmount * -1) >= 0 THEN ABS(NetAdjustAmount * -1) ELSE 0 END DebitAmount,
			20 as [Grouping], CONVERT(nvarchar, p.RevenueAdjustId) as LinkID, null as LinkIDSub, -3 as LinkIDSubLine,
			p.CustId as Reference, 'JC' as SourceCode
			, CASE WHEN BillingsInExcess = 1 THEN 'Billings excess adj'
					WHEN EarningsInExcess = 1 THEN 'Earnings excess adj'
					ELSE 'Unknown' END [Description]
			, SUBSTRING(CONVERT(nvarchar,p.RevenueAdjustId) + ' \ ' + CONVERT(nvarchar,p.ProjectId) + ' \ ' + p.ProjectName, 0, 30) as [DetailDescr], CASE WHEN BillingsInExcess = 1 THEN 1 WHEN EarningsInExcess = 1 THEN 2 ELSE 3 END
	FROM #PcProjects p
	
	---------------
	----Reverse----
	---------------
	-- Reverse Income
	INSERT INTO #PcRevenueAdjLogDtl(PostRun, RevenueAdjustId, ProjectId, DetailId, CurrencyId, 
									FiscalPeriod, FiscalYear, GlAcct, ExchRate,
									CreditAmtFgn, 
									DebitAmtFgn, 
									CreditAmt, 
									DebitAmt, 
									[Grouping], LinkID, LinkIDSub, LinkIDSubLine, 
									Reference, SourceCode,
									Descr, DetailDescr, ExcessType)  
	SELECT @PostRun as PostRun, RevenueAdjustId, p.ProjectId, null as DetailId, 
			CASE WHEN p.BillingsInExcess = 1 THEN p.CurrencyIdBillingExc WHEN p.EarningsInExcess = 1 THEN p.CurrencyIdEarningExc ELSE p.CurrencyId END as CurrencyId, 
			@NextGlPeriod, @NextGlYear, 
			CASE WHEN p.BillingsInExcess = 1 THEN p.GlBillingsInExc WHEN p.EarningsInExcess = 1 THEN p.GlEarningsInExc ELSE p.GlAcctIncome END as GlAccount, 
			CASE WHEN p.BillingsInExcess = 1 THEN p.ExchRateBillingExc WHEN p.EarningsInExcess = 1 THEN p.ExchRateEarningExc ELSE p.ExchRate END as ExchRate,
			CASE WHEN p.BillingsInExcess = 1 
				THEN (CASE WHEN AmountBillingExcFgn < 0 THEN ABS(AmountBillingExcFgn) ELSE 0 END) 
			WHEN p.EarningsInExcess = 1 
				THEN (CASE WHEN AmountEarningExcFgn < 0 THEN ABS(AmountEarningExcFgn) ELSE 0 END)
			ELSE (CASE WHEN AmountFgn < 0 THEN ABS(AmountFgn) ELSE 0 END) END as CreditAmountFgn,
			
			CASE WHEN p.BillingsInExcess = 1 
				THEN (CASE WHEN AmountBillingExcFgn >= 0 THEN ABS(AmountBillingExcFgn) ELSE 0 END) 
			WHEN p.EarningsInExcess = 1 
				THEN (CASE WHEN AmountEarningExcFgn >= 0 THEN ABS(AmountEarningExcFgn) ELSE 0 END)
			ELSE (CASE WHEN AmountFgn >= 0 THEN ABS(AmountFgn) ELSE 0 END) END as DebitAmountFgn,

			CASE WHEN NetAdjustAmount < 0 THEN ABS(NetAdjustAmount) ELSE 0 END CreditAmount, 
			CASE WHEN NetAdjustAmount >= 0 THEN ABS(NetAdjustAmount) ELSE 0 END DebitAmount,
			20 as [Grouping], CONVERT(nvarchar, p.RevenueAdjustId) as LinkID, null as LinkIDSub, -3 as LinkIDSubLine,
			p.CustId as Reference, 'JC' as SourceCode
			, CASE WHEN BillingsInExcess = 1 THEN 'Billings excess adj'
					WHEN EarningsInExcess = 1 THEN 'Earnings excess adj'
					ELSE 'Unknown' END [Description]
			, SUBSTRING(CONVERT(nvarchar,p.RevenueAdjustId) + ' \ ' + CONVERT(nvarchar,p.ProjectId) + ' \ ' + p.ProjectName, 0, 30) as [DetailDescr], CASE WHEN BillingsInExcess = 1 THEN 1 WHEN EarningsInExcess = 1 THEN 2 ELSE 3 END
	FROM #PcProjects p

	--Reverse Offset
	INSERT INTO #PcRevenueAdjLogDtl(PostRun, RevenueAdjustId, ProjectId, DetailId, CurrencyId, 
									FiscalPeriod, FiscalYear, GlAcct, ExchRate,
									CreditAmtFgn, 
									DebitAmtFgn, 
									CreditAmt, 
									DebitAmt, 
									[Grouping], LinkID, LinkIDSub, LinkIDSubLine, 
									Reference, SourceCode,
									Descr, DetailDescr, ExcessType)  
	SELECT @PostRun as PostRun, RevenueAdjustId, p.ProjectId, null as DetailId, p.CurrencyId, 
			@NextGlPeriod, @NextGlYear, GlAcctIncome as GlAccount, p.ExchRate,
			CASE WHEN (AmountFgn * -1) < 0 THEN ABS(AmountFgn * -1) ELSE 0 END CreditAmountFgn, 
			CASE WHEN (AmountFgn * -1) >= 0 THEN ABS(AmountFgn * -1) ELSE 0 END DebitAmountFgn,
			CASE WHEN (NetAdjustAmount * -1) < 0 THEN ABS(NetAdjustAmount * -1) ELSE 0 END CreditAmount, 
			CASE WHEN (NetAdjustAmount * -1) >= 0 THEN ABS(NetAdjustAmount * -1) ELSE 0 END DebitAmount,
			10 as [Grouping], CONVERT(nvarchar, p.RevenueAdjustId) as LinkID, null as LinkIDSub, -3 as LinkIDSubLine,
			p.CustId as Reference, 'JC' as SourceCode,
			CASE WHEN BillingsInExcess = 1 THEN 'Billings excess adj'
				WHEN EarningsInExcess = 1 THEN 'Earnings excess adj'
				ELSE 'Unknown' END [Description],
			SUBSTRING(CONVERT(nvarchar,p.RevenueAdjustId) + ' \ ' + CONVERT(nvarchar,p.ProjectId) + ' \ ' + p.ProjectName, 0, 30) as [DetailDescr], CASE WHEN BillingsInExcess = 1 THEN 1 WHEN EarningsInExcess = 1 THEN 2 ELSE 3 END
	FROM #PcProjects p

	INSERT INTO tblSmExchangeRateTrans(TransType, TransKey, [Source], [Destination], [Rate])
	SELECT @TransType,CONVERT(nvarchar, RevenueAdjustId), CurrencyId, @BaseCurrency, MIN(ExchRate) ExchRate
	FROM #PcRevenueAdjLogDtl
	GROUP BY CurrencyId, RevenueAdjustId

	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod, [Grouping], 
		[Description],Reference,SourceCode,
		CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, 
		CurrencyId,TransDate,PostDate,LinkId,LinkIDSub,LinkIdSubLine)  
	SELECT PostRun, @TransType as TransType, CONVERT(nvarchar, RevenueAdjustId) as [TransKey], PostRun as [SummaryKey], @CompId as [CompId], GlAcct, FiscalYear, FiscalPeriod , [Grouping]
	, CASE @PcGlDetailYn WHEN 0 THEN 'Revenue Adj summary' ELSE [Descr] END, CASE @PcGlDetailYn WHEN 0 THEN 'Revenue Adjust' ELSE Reference END Reference, SourceCode
	, CreditAmtFgn, DebitAmtFgn, CreditAmt, DebitAmt
	, CurrencyId, @AdjustDate as TransDate, @WksDate as PostDate, CASE @PcGlDetailYn WHEN 0 THEN NULL ELSE LinkID END LinkId, null as LinkIDSub, CASE @PcGlDetailYn WHEN 0 THEN NULL ELSE LinkIDSubLine END LinkIdSubLine
	FROM #PcRevenueAdjLogDtl r

	--update the transaction summary log table  
	INSERT INTO #PostSummary ([ProjectId], [BatchId], [CurrencyId], [ProjectName], 
		[CustomerId], [FixedFeeAmt], [BilledAmt], [PostedCosts], [EstimatedCosts], [PctCostsComplete], [OverridePct], 
		[EarnedIncome], [EarningsInExcess], [BillingsInExcess], 
		[Adjustment], [PostedAdjustment], [NetAdjust], [NetAdjustFgn])  
	SELECT p.ProjectId, @BatchId, 
	CASE WHEN t.BillingsInExcess = 1 THEN t.CurrencyIDBillingExc WHEN t.EarningsInExcess = 1 THEN t.CurrencyIdEarningExc ELSE t.CurrencyId END as CurrencyId, 
	SUBSTRING(p.ProjectName, 0, 255) as ProjectName, 
	p.CustId, p.FixedFeeAmount, p.BilledAmount, p.PostedCost, p.EstimatedCost, p.PercentCostCompletion, p.OverridePercent,
	p.EarnedIncome, (CASE WHEN t.EarningsInExcess = 1 THEN (p.EarnedIncome - p.BilledAmount) ELSE 0 END) [EarningsInExcess], (CASE WHEN t.BillingsInExcess = 1 THEN (p.BilledAmount - p.EarnedIncome) ELSE 0 END) [BillingsInExcess], 
	(ISNULL(p.BilledAmount,0) - p.EarnedIncome) as Adjustment, p.PostedAdjustAmount, t.NetAdjustAmount, 
	CASE WHEN t.BillingsInExcess = 1 THEN t.AmountBillingExcFgn WHEN t.EarningsInExcess = 1 THEN t.AmountEarningExcFgn ELSE t.AmountFgn END as AmountFgn
	FROM #PcProjects t
	INNER JOIN tblPcRevenueAdjust p ON p.ProjectID = t.ProjectId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcRevenueAdjustPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcRevenueAdjustPost_GlLog_proc'
GO
