USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApRecurEntryList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApRecurEntryList_proc]
@SortBy TINYINT

AS
BEGIN TRY

	SELECT DISTINCT 0 AS RecType, 
    	CASE @SortBy
				WHEN 0 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 1 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 2 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 3 THEN CAST(h.EndingDate AS NVARCHAR)
			END AS GrpId1,
	    CASE @SortBy
				WHEN 0 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 1 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 2 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 3 THEN CAST(h.RecurId AS NVARCHAR)
			END AS GrpId2,
		CASE @SortBy
				WHEN 0 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 1 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 2 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 3 THEN CAST(h.RunCode AS NVARCHAR)
			END AS GrpId3,
		CASE @SortBy
				WHEN 0 THEN CAST(h.EndingDate AS NVARCHAR)
				WHEN 2 THEN CAST(h.EndingDate AS NVARCHAR)
			END AS GrpId4,  
	    h.RecurID, h.VendorID, h.InvoiceNum, h.PONum
		, h.RunCode, h.StartingDate, h.EndingDate, h.NumOfPmt, h.RemainingPmt
		, d.EntryNum, d.PartId, d.[Desc], d.GlAcct
		, d.Qty, d.Units, d.GlDesc, h.StartingBal, h.RemainingBal
		, 0 AS Subtotal, 0 AS Freight, 0 AS Misc, 0 AS SalesTax, 0 AS InvoiceTotal
		, d.UnitCost, d.ExtCost
		, h.BillType, h.BillInterval, h.NextBillDate, h.LastBillDate, v.[Name], h.CurrencyID 
	FROM dbo.tblApRecurHeader h 
		LEFT JOIN dbo.tblApRecurDetail d ON h.RecurID = d.RecurID 
		LEFT JOIN dbo.tblApVendor v ON h.VendorID = v.VendorID 
		INNER JOIN #tmpRecurEntry r ON h.RecurID = r.RecurId

	UNION ALL

	SELECT DISTINCT 1 AS RecType,
		CASE @SortBy
				WHEN 0 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 1 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 2 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 3 THEN CAST(h.EndingDate AS NVARCHAR)
			END AS GrpId1,
		CASE @SortBy
				WHEN 0 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 1 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 2 THEN CAST(h.RecurId AS NVARCHAR)
				WHEN 3 THEN CAST(h.RecurId AS NVARCHAR)
			END AS GrpId2,
		CASE @SortBy
				WHEN 0 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 1 THEN CAST(h.RunCode AS NVARCHAR)
				WHEN 2 THEN CAST(h.VendorID AS NVARCHAR)
				WHEN 3 THEN CAST(h.RunCode AS NVARCHAR)
			END AS GrpId3,
		CASE @SortBy
				WHEN 0 THEN CAST(h.EndingDate AS NVARCHAR)
				WHEN 2 THEN CAST(h.EndingDate AS NVARCHAR)
			END AS GrpId4, 
		 h.RecurID, h.VendorID, h.InvoiceNum, h.PONum
		, h.RunCode, h.StartingDate, h.EndingDate, h.NumOfPmt, h.RemainingPmt
		, 0 AS EntryNum, NULL AS PartId, NULL AS [Desc], NULL AS GlAcct
		, 0 AS Qty, NULL AS Units, NULL AS GlDesc, h.StartingBal, h.RemainingBal
		, h.Subtotal, h.Freight, h.Misc, h.SalesTax+h.TaxAmtAdj, h.Subtotal + h.Freight + h.Misc + h.SalesTax + h.TaxAmtAdj AS InvoiceTotal
		, 0 AS UnitCost, 0 AS ExtCost
		, h.BillType, h.BillInterval, h.NextBillDate, h.LastBillDate, NULL AS [Name], h.CurrencyID 
	FROM dbo.tblApRecurHeader h 
		LEFT JOIN dbo.tblApRecurDetail d ON h.RecurID = d.RecurID 
		INNER JOIN #tmpRecurEntry r ON h.RecurID = r.RecurId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApRecurEntryList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApRecurEntryList_proc'
GO
