USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrTransPost_GlLog_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrTransPost_GlLog_proc]
AS
BEGIN TRY

	DECLARE @PostRun pPostRun, @CurrBase pCurrency, @WkStnDate datetime, @CompId nvarchar(3), @TransType nvarchar(10)

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- BRJRNLHDR

	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WkStnDate IS NULL OR @CompId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod
		, [Description],Reference,SourceCode
		, CreditAmount
		, DebitAmount
		, CreditAmountBase,DebitAmountBase
		, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine,[Grouping])
	SELECT @PostRun, @TransType, h.TransID, @PostRun, @CompId, b.GlCashAcct, h.FiscalYear,h.GlPeriod
		, SUBSTRING(h.Descr, 1, 30), h.Reference, 'BR'
		, CASE WHEN SIGN(TransType) * AmountFgn < 0 THEN ABS(AmountFgn) ELSE 0 END
		, CASE WHEN SIGN(TransType) * AmountFgn > 0 THEN ABS(AmountFgn) ELSE 0 END	
		, CASE WHEN SIGN(TransType) * Amount < 0 THEN ABS(Amount) ELSE 0 END
		, CASE WHEN SIGN(TransType) * Amount > 0 THEN ABS(Amount) ELSE 0 END
		, h.CurrencyId, h.TransDate, @WkStnDate, h.BankID, h.TransType, 104		
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId
	WHERE (h.VoidYn = 0 OR (h.VoidYn = 1 AND h.VoidReinstateStat IS NULL))

	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod
		, [Description],Reference,SourceCode
		, CreditAmount
		, DebitAmount
		, CreditAmountBase,DebitAmountBase
		, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine,[Grouping])
	SELECT  @PostRun, @TransType, h.TransID, @PostRun, @CompId,d.GlAcct, h.FiscalYear,h.GlPeriod
		, SUBSTRING(d.Descr, 1, 30), d.Reference, 'BR'
		, CASE WHEN DebitAmtFgn + (CreditAmtFgn * -1) < 0 
			   THEN ABS(DebitAmtFgn + (CreditAmtFgn * -1)) ELSE 0 			  
		  END
		, CASE WHEN DebitAmtFgn + (CreditAmtFgn * -1) > 0 
			   THEN DebitAmtFgn + (CreditAmtFgn * -1) ELSE 0 			   
		  END
		, CASE WHEN DebitAmt + (CreditAmt * -1) < 0 THEN ABS(DebitAmt + (CreditAmt * -1)) ELSE 0 END
		, CASE WHEN DebitAmt + (CreditAmt * -1) > 0 THEN DebitAmt + (CreditAmt * -1) ELSE 0 END		
		, h.CurrencyId, h.TransDate, @WkStnDate, h.BankID, h.TransType, 105	
	FROM #PostTransList t 
	INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.BankId 
	INNER JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId 
	INNER JOIN dbo.tblBrJrnlDetail d ON h.TransId = d.TransId	
	WHERE (h.VoidYn = 0 OR (h.VoidYn = 1 AND h.VoidReinstateStat IS NULL))

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransPost_GlLog_proc'
GO
