USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SmDescriptionItemReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SmDescriptionItemReport_proc]

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT i.ItemCode, [Desc] AS [Description], GLAcctExp AS GlAccountExpense, GLAcctSales AS GlAccountSales
		, GLAcctCogs AS GlAccountCogs, GLAcctInv AS GlAccountInventory, TaxClass
		, Units, UnitCost, UnitPrice, AddnlDesc 
	FROM dbo.tblSmItem i INNER JOIN #tmpItemList t ON i.ItemCode = t.ItemCode

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmDescriptionItemReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SmDescriptionItemReport_proc'
GO
