USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoBlanketOrderReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoBlanketOrderReport_proc]
-- the following should come from the pick screen or be retrieved in report sp (not needed anywhere else on the report except to retrieve the data)
@WksDate datetime,
@SortBy bit

AS
SET NOCOUNT ON
BEGIN TRY
	-- use a temp table to accumulate totals for each blanket
	CREATE TABLE #Totals
	(
		BlanketRef int NOT NULL, 
		TotalType tinyint NOT NULL, -- 0 = Ordered, 1 = Posted, 2 = Released, 3 = Pending
		SubTotal [decimal](28,10) NOT NULL DEFAULT(0), 
		Freight [decimal](28,10) NOT NULL DEFAULT(0), 
		Misc [decimal](28,10) NOT NULL DEFAULT(0)
	)
	
	-- Capture the 'Ordered' values from the header
	-- Dollar amount type blankets use a fixed ContractAmount
	-- so offset it by the freight and misc to calculate the subtotal
	INSERT INTO #Totals(BlanketRef, TotalType, Freight, Misc, SubTotal) 
	SELECT BlanketRef, 0, Freight, Misc
		, CASE WHEN BlanketType = 0 THEN h.Subtotal ELSE SubTotal END 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	
	
	
	-- calculate any 'Pending' values from the existing blanket details (no freight/misc on line items)
	--  Scheduled Blankets - pull quantities as of the current workstation date
	INSERT INTO #Totals(BlanketRef, TotalType, Freight, Misc, SubTotal) 
	SELECT d.BlanketRef, 3, 0, 0
		, SUM(s.QtyOrdered * d.UnitPrice) 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketDetail d ON h.BlanketRef = d.BlanketRef 
	INNER JOIN dbo.tblSoSaleBlanketDetailSch s ON d.BlanketDtlRef = s.BlanketDtlRef 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	WHERE s.QtyOrdered <> 0 AND s.Status = 0 AND s.ReleaseDate <= @WksDate AND h.BlanketType = 2 -- scheduled only
	GROUP BY d.BlanketRef


	-- calculate any 'Pending' values from the existing blanket details (no freight/misc on line items)
	--  Non-Scheduled Blankets
	INSERT INTO #Totals(BlanketRef, TotalType, Freight, Misc, SubTotal) 
	SELECT d.BlanketRef, 3, 0, 0
		, SUM(d.QtyReleased * d.UnitPrice) 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketDetail d ON h.BlanketRef = d.BlanketRef 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	WHERE d.QtyOrdered <> 0 AND h.BlanketType <> 2 -- non-scheduled only
	GROUP BY d.BlanketRef

	-- capture 'Posted' values for Freight and Misc from tblSoSaleBlanketRelease
	INSERT INTO #Totals(BlanketRef, TotalType, Freight, Misc) 
	SELECT h.BlanketRef, 1
		, SUM(SIGN(r.RecType) * h.Freight)
		, SUM(SIGN(r.RecType) * h.Misc) 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketActivity r ON h.BlanketRef = r.BlanketDtlRef 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	GROUP BY h.BlanketRef

	-- capture 'Posted' and 'Released' Subtotal for 'Dollar Amount' blankets from tblSoSaleBlanketRelease
	--  (non-dollar blankets will not have a 'release' record)
	INSERT INTO #Totals(BlanketRef, TotalType, SubTotal) 
	SELECT h.BlanketRef , CASE WHEN r.PostRun IS NULL THEN 2 ELSE 1 END 
		, SUM(SIGN(r.RecType) * r.PriceExt) 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketActivity r ON h.BlanketRef = r.BlanketRef 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	WHERE h.BlanketType = 0 -- amount type only
	GROUP BY h.BlanketRef, r.PostRun

	-- calculate 'Posted' and 'Released' Subtotal for NON-'Dollar Amount' blankets from tblSoSaleBlanketReleaseDetail
	INSERT INTO #Totals(BlanketRef, TotalType, SubTotal) 
	SELECT h.BlanketRef , CASE WHEN rd.PostRun is NULL THEN 2 ELSE 1 END, SUM(SIGN(rd.RecType) * rd.PriceExt) 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketDetail d ON h.BlanketRef = d.BlanketRef 
	INNER JOIN dbo.tblSoSaleBlanketActivity rd ON d.BlanketDtlRef = rd.BlanketDtlRef
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId 
	WHERE h.BlanketType <> 0 -- non-amount
	GROUP BY h.BlanketRef, rd.PostRun



	-- return a resultset of the values (include placeholders for freight & misc)
	SELECT CASE WHEN @SortBy = 0 THEN h.SoldToId ELSE h.BlanketId END AS SortBy
		, h.SoldToId, h.BlanketId, h.BlanketRef, h.BlanketType, h.BlanketStatus
		, h.ShipToId, h.CloseDate, h.ExpireDate, h.Rep1Id, h.Rep2Id, h.Rep1Pct, h.Rep2Pct, h.Rep1CommRate, h.Rep2CommRate
		, h.CustPoNum
		, tot.Subtotal  AS Subtotal
		, tot.SubTotalPosted AS SubtotalPosted
		, tot.SubtotalReleased  AS SubtotalReleased
		, tot.SubtotalPending  AS SubtotalPending
		, (tot.Subtotal - CASE WHEN tot.SubTotalReleased > tot.SubTotalPosted THEN tot.SubTotalReleased ELSE tot.SubTotalPosted END) AS SubtotalRemaining
		, tot.Freight  AS Freight
		, tot.FreightPosted  AS FreightPosted
		, tot.FreightReleased  AS FreightReleased
		, tot.FreightPending  AS FreightPending
		, (tot.Freight - CASE WHEN tot.FreightReleased > tot.FreightPosted THEN tot.FreightReleased ELSE tot.FreightPosted END) AS FreightRemaining
		, tot.Misc  AS Misc
		, tot.MiscPosted  AS MiscPosted
		, tot.MiscReleased  AS MiscReleased
		, tot.MiscPending  AS MiscPending
		, (tot.Misc - CASE WHEN tot.MiscReleased > tot.MiscPosted THEN tot.MiscReleased ELSE tot.MiscPosted END)  AS MiscRemaining
		, tot.Total   AS Total
		, tot.TotalPosted   AS TotalPosted
		, tot.TotalReleased   AS TotalReleased
		, tot.TotalPending   AS TotalPending
		, (tot.Total - CASE WHEN tot.TotalReleased > tot.TotalPosted THEN tot.TotalReleased ELSE tot.TotalPosted END) AS TotalRemaining
	    , h.CurrencyId AS  CurrencyId
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN 
	(	SELECT BlanketRef
				, SUM(CASE WHEN TotalType = 0 THEN Subtotal ELSE 0 END) AS SubTotal 
				, SUM(CASE WHEN TotalType = 1 THEN SubTotal ELSE 0 END) AS SubTotalPosted
				, SUM(CASE WHEN TotalType = 2 THEN Subtotal ELSE 0 END) AS SubTotalReleased
				, SUM(CASE WHEN TotalType = 3 THEN Subtotal ELSE 0 END) AS SubTotalPending
				, SUM(CASE WHEN TotalType = 0 THEN Freight ELSE 0 END) AS Freight
				, SUM(CASE WHEN TotalType = 1 THEN Freight ELSE 0 END) AS FreightPosted 
				, SUM(CASE WHEN TotalType = 2 THEN Freight ELSE 0 END) AS FreightReleased
				, SUM(CASE WHEN TotalType = 3 THEN Freight ELSE 0 END) AS FreightPending
				, SUM(CASE WHEN TotalType = 0 THEN Misc ELSE 0 END) AS Misc
				, SUM(CASE WHEN TotalType = 1 THEN Misc ELSE 0 END) AS MiscPosted 
				, SUM(CASE WHEN TotalType = 2 THEN Misc ELSE 0 END) AS MiscReleased
				, SUM(CASE WHEN TotalType = 3 THEN Misc ELSE 0 END) AS MiscPending
				, SUM(CASE WHEN TotalType = 0 THEN Subtotal + Freight + Misc ELSE 0 END) AS Total
				, SUM(CASE WHEN TotalType = 1 THEN Subtotal + Freight + Misc ELSE 0 END) AS TotalPosted
				, SUM(CASE WHEN TotalType = 2 THEN Subtotal + Freight + Misc ELSE 0 END) AS TotalReleased
				, SUM(CASE WHEN TotalType = 3 THEN Subtotal + Freight + Misc ELSE 0 END) AS TotalPending 
			FROM #Totals 
			GROUP BY BlanketRef
	) tot 
	ON h.BlanketRef = tot.BlanketRef 


	-- detail resultset
	-- use a temp table to accumulate the quantities for the given blanket
	CREATE TABLE #QtyDtl
	(
		BlanketDtlRef int, 
		OriginalQty [decimal](28,10) NOT NULL DEFAULT(0), 
		PostedQty [decimal](28,10) NOT NULL DEFAULT(0), 
		ReleasedQty [decimal](28,10) NOT NULL DEFAULT(0), 
		PendingQty [decimal](28,10) NOT NULL DEFAULT(0)
	)


	-- capture Original, Pending (for non-Scheduled only)
	INSERT INTO #QtyDtl (BlanketDtlRef, OriginalQty, PendingQty) 
	SELECT d.BlanketDtlRef, d.QtyOrdered OriginalQty, CASE WHEN h.BlanketType = 2 THEN 0 ELSE d.QtyReleased END AS PendingQty 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketDetail d ON h.BlanketRef = d.BlanketRef 
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	

	-- capture Pending for scheduled blankets
	INSERT INTO #QtyDtl (BlanketDtlRef, PendingQty) 
	SELECT d.BlanketDtlRef
		, SUM(s.QtyOrdered) PendingQty 
	FROM dbo.tblSoSaleBlanket h 
	INNER JOIN dbo.tblSoSaleBlanketDetail d ON h.BlanketRef = d.BlanketRef 
	INNER JOIN dbo.tblSoSaleBlanketDetailSch s ON d.BlanketDtlRef = s.BlanketDtlRef
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	WHERE s.Status = 0 AND s.ReleaseDate <= @WksDate AND h.BlanketType = 2 -- scheduled only
	GROUP BY d.BlanketDtlRef

	-- capture Prior Released and Prior Posted quantities
	INSERT INTO #QtyDtl (BlanketDtlRef, ReleasedQty, PostedQty) 
	SELECT d.BlanketDtlRef
		, ISNULL(SUM(CASE WHEN r.PostRun IS NOT NULL THEN 0.0  ELSE (SIGN(r.RecType) * r.Qty) / u.ConvFactor END),0) ReleasedQty
		, ISNULL(SUM(CASE WHEN r.PostRun IS NULL THEN 0.0 ELSE ( SIGN(r.RecType) * r.Qty) / u.ConvFactor END),0) PostedQty 
	FROM dbo.tblSoSaleBlanketDetail d inner join dbo.tblSoSaleBlanket h  on h.BlanketRef = d.BlanketRef
	INNER JOIN dbo.tblSoSaleBlanketActivity r ON d.BlanketDtlRef = r.BlanketDtlRef
	INNER JOIN #tmpBlanketOrder tmp on tmp.BlanketId = h.BlanketId
	LEFT JOIN dbo.tblInItemUom u ON u.ItemId = d.ItemId AND u.Uom = d.Units 
	GROUP BY d.BlanketDtlRef

	-- return the resultset
	SELECT d.BlanketRef, d.ItemId, d.Descr, d.LocId, ISNULL(i.LottedYn, 0) AS LottedYn, d.LotNum, d.Units
		, q.OriginalQty  AS OriginalQty
		, q.PostedQty  AS PostedQty
		, q.ReleasedQty  AS ReleasedQty
		, q.PendingQty  AS PendingQty
		, CASE WHEN q.PostedQty > q.ReleasedQty 
			   THEN q.OriginalQty - q.PostedQty 
			   ELSE q.OriginalQty - q.ReleasedQty 
		  END  AS RemainingQty
		, d.UnitPrice   AS UnitPrice
		, d.PriceExt   AS OriginalPriceExt
		, (q.PostedQty * d.UnitPrice)   AS PostedPriceExt
		, (q.ReleasedQty * d.UnitPrice)   AS ReleasedPriceExt
		, (q.PendingQty * d.UnitPrice)   AS PendingPriceExt 
		, (CASE WHEN q.PostedQty > q.ReleasedQty 
				THEN q.OriginalQty - q.PostedQty 
				ELSE q.OriginalQty - q.ReleasedQty 
		   END * d.UnitPrice) AS RemainingPriceExt
		, d.Rep1Id, d.Rep2Id, d.Rep1Pct, d.Rep2Pct, d.Rep1CommRate, d.Rep2CommRate, d.TaxClass 
		, h.CurrencyId AS CurrencyId
		FROM dbo.tblSoSaleBlanketDetail d
		inner join dbo.tblSoSaleBlanket h  on h.BlanketRef = d.BlanketRef
		INNER JOIN 
		(	SELECT BlanketDtlRef
			, SUM(OriginalQty) AS OriginalQty 
			, SUM(PostedQty) AS PostedQty
			, SUM(ReleasedQty) AS ReleasedQty
			, SUM(PendingQty) AS PendingQty
			FROM #QtyDtl
			GROUP BY BlanketDtlRef
		) q
		ON d.BlanketDtlRef = q.BlanketDtlRef
		LEFT JOIN dbo.tblInItem i ON d.ItemId = i.ItemId
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoBlanketOrderReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoBlanketOrderReport_proc'
GO
