USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCustomerAnalysisReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCustomerAnalysisReport_proc]

@FiscalYear Int,
@FiscalPeriod Int,
@PrintFor tinyint,
@IncludeYTDTotals bit,
@PrintPeriods int,
@IncludeLastYearTotals bit,
@SortBy int

AS
BEGIN TRY
	CREATE TABLE #HistSummary
	(	
		GrpId1 nvarchar(10) ,
		FiscalYear smallint,
		GlPeriod smallint,
		CustId [nvarchar](10) NOT NULL,
		CustName nvarchar(255),
		Addr1 nvarchar(255),
		City nvarchar(255),
		Region nvarchar(255),
		Country [nvarchar](6) NOT NULL,
		PostalCode nvarchar(255),
		Phone nvarchar(255),
		Fax nvarchar(255),
		SalesRepId1 [nvarchar](3) NULL,
		DistCode [nvarchar](6) NOT NULL,
		CreditLimit [decimal](28,10) NOT NULL,		
		CurrencyId [nvarchar](6) NOT NULL,
		FirstSaleDate datetime,
		LastSaleDate datetime,
		BalanceDue [decimal](28,10) NOT NULL,
		DiscPct [decimal](28,10) NOT NULL,
		DiscDays smallint,
		NetDueDays smallint,		 
		Sales [decimal](28,10) NULL,
		Cogs [decimal](28,10) NULL,
		Profit [decimal](28,10) NULL,
		NumInvc int,
		FinChrg [decimal](28,10) NULL,
		Payments [decimal](28,10) NULL,
		Discounts [decimal](28,10) NULL,
		NumPmt int,
		DaysToPay int,
		CurrencyBalanceDue [decimal](28,10) NULL,
		AvgToPay [decimal](28,10) NULL,
		AvgInv [decimal](28,10) NULL
	)

	CREATE TABLE #ViewTable
	(		
		CustId [nvarchar](10) NULL,		
		FiscalYear smallint,
		GLPeriod smallint,
		Sales [decimal](28,10) NULL,
		COGS [decimal](28,10) NULL,
		Profit [decimal](28,10) NULL,
		NumInvc smallint,
		Finch  [decimal](28,10) NULL,
		Pmt  [decimal](28,10) NULL,
		Disc  [decimal](28,10) NULL,
		NumPmt smallint null,
		DaysToPay int null
	)

	CREATE TABLE #SummaryTable
	(
		CurrencyId [nvarchar](6) NOT NULL,		
		GLPeriod smallint,
		Sales [decimal](28,10) NULL,
		Cogs [decimal](28,10) NULL,
		Profit [decimal](28,10) NULL,
		NumInvc int,
		FinChrg  [decimal](28,10) NULL,
		Payments  [decimal](28,10) NULL,
		Discounts  [decimal](28,10) NULL,
		NumPmt smallint null,
		DaysToPay int null,
		AvgToPay [decimal](28,10) NULL,
		AvgInv [decimal](28,10) NULL
	)

	INSERT INTO #ViewTable( CustId,  FiscalYear, GLPeriod, Sales, COGS,Profit,NumInvc,Finch,Pmt,Disc,NumPmt,DaysToPay)
	SELECT 
		v.CustID, v.FiscalYear, GlPeriod, 
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Sales ELSE Sales*d.Rate END),c.CurrDecPlaces)  AS [Sales], 
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Cogs ELSE Cogs*d.Rate END),c.CurrDecPlaces)  AS [Cogs], 
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Profit ELSE Profit*d.Rate END),c.CurrDecPlaces)  AS [Profit], 
		NumInvc, 
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Finch ELSE Finch*d.Rate END),c.CurrDecPlaces)  AS [Finch],  
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Pmt ELSE Pmt*d.Rate END),c.CurrDecPlaces)  AS [Pmt], 
		ROUND((CASE WHEN (v.CurrencyID = cust.CurrencyId) THEN Disc ELSE Disc*d.Rate END),c.CurrDecPlaces)  AS [Disc],  
		NumPmt, DaysToPay
	FROM trav_ArCustomerHistory_view v
	LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = v.CustId
	LEFT JOIN [dbo].[tblSmExchangeRate] r ON r.[FiscalPeriod] = v.GLPeriod AND r.[FiscalYear] = v.FiscalYear AND r.[Type] = 1
	LEFT JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] AND d.[Source] = v.CurrencyID AND d.[Destination] = cust.CurrencyID
	LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyID
	WHERE v.FiscalYear in(@FiscalYear,@FiscalYear - 1) AND v.CustId IS NOT NULL
		
	IF (@PrintFor = 0)
	BEGIN		
		INSERT INTO #ViewTable( CustId,  FiscalYear, GLPeriod, Sales, COGS,Profit,NumInvc,Finch,Pmt,Disc,NumPmt,DaysToPay)		
		SELECT  
			ov.CustId as CustID, ov.FiscalYear, GLPeriod, 
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Sales ELSE -Sales*d.Rate END),c.CurrDecPlaces)  AS [Sales],  
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Cogs ELSE -Cogs*d.Rate END),c.CurrDecPlaces)  AS [Cogs],
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Profit ELSE -Profit*d.Rate END),c.CurrDecPlaces)  AS [Profit],
			-NumInvc, 0, 0, 0, 0, 0
		FROM  trav_ArCustomerHistoryOffset_view ov		
		LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = ov.CustId
		LEFT JOIN [dbo].[tblSmExchangeRate] r ON r.[FiscalPeriod] = ov.GLPeriod AND r.[FiscalYear] = ov.FiscalYear AND r.[Type] = 1
		LEFT JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] AND d.[Source] = ov.CurrencyID AND d.[Destination] = cust.CurrencyID
		LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyID
		WHERE ov.FiscalYear in(@FiscalYear,@FiscalYear - 1) AND ov.CustId IS NOT NULL
	END	
	ELSE
	BEGIN
		INSERT INTO #ViewTable( CustId,  FiscalYear, GLPeriod, Sales, COGS,Profit,NumInvc,Finch,Pmt,Disc,NumPmt,DaysToPay)		
		SELECT  
			ov.SoldToId as CustID, ov.FiscalYear, GLPeriod, 
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Sales ELSE -Sales*d.Rate END),c.CurrDecPlaces)  AS [Sales],  
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Cogs ELSE -Cogs*d.Rate END),c.CurrDecPlaces)  AS [Cogs],
			ROUND((CASE WHEN (ov.CurrencyID = cust.CurrencyId) THEN -Profit ELSE -Profit*d.Rate END),c.CurrDecPlaces)  AS [Profit],
			-NumInvc, 0, 0, 0, 0, 0
		FROM  trav_ArCustomerHistoryOffset_view ov		
		LEFT JOIN [dbo].[tblArCust] cust on cust.CustID = ov.SoldToId
		LEFT JOIN [dbo].[tblSmExchangeRate] r ON r.[FiscalPeriod] = ov.GLPeriod AND r.[FiscalYear] = ov.FiscalYear AND r.[Type] = 1
		LEFT JOIN [dbo].[tblSmExchangeRateDetail] d ON d.[ExchangeRateID] = r.[ID] AND d.[Source] = ov.CurrencyID AND d.[Destination] = cust.CurrencyID
		LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = cust.CurrencyID
		WHERE ov.FiscalYear in(@FiscalYear,@FiscalYear - 1) AND ov.CustId IS NOT NULL
	END

	IF (@PrintFor = 0)
	BEGIN 
	INSERT INTO #HistSummary
	SELECT *, (CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay / NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN  0 ELSE Sales / NumInvc END ) AS AvgInv
	FROM(SELECT CASE WHEN @SortBy = 0 THEN c.CustId ELSE c.SalesRepId1 END AS GrpId1, d.FiscalYear, d.GlPeriod, c.CustId, c.CustName, c.Addr1, c.City, c.Region, c.Country, c.PostalCode, c.Phone
		, c.Fax, c.SalesRepId1, c.DistCode, c.CreditLimit, c.CurrencyId, c.FirstSaleDate, c.LastSaleDate
		, [NewFinch] + [UnpaidFinch] + [CurAmtDue] + [BalAge1] + [BalAge2] + [BalAge3] + [BalAge4] - [UnapplCredit] AS BalanceDue
		, t.DiscPct, t.DiscDays, t.NetDueDays, d.Sales AS Sales, d.Cogs AS Cogs, d.Profit AS Profit, d.NumInvc AS NumInvc, d.Finch AS FinChrg
		, d.Pmt AS Payments, d.Disc AS Discounts, d.NumPmt AS NumPmt, d.DaysToPay AS DaysToPay, b.CurrencyBalDue AS CurrencyBalanceDue 
	FROM dbo.tblArCust c 
		INNER JOIN #tmpCustomerList tmp ON tmp.CustId = c.CustId
		INNER JOIN dbo.tblArTermsCode t ON t.TermsCode = c.TermsCode 
		INNER JOIN 
			( 	SELECT CustID, FiscalYear, GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
				, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
				FROM (
					SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
					FROM #ViewTable
					 ) o 

				WHERE FiscalYear = @FiscalYear AND (GlPeriod = @FiscalPeriod OR @FiscalPeriod = 999) 
	 			GROUP BY CustId, Fiscalyear, GlPeriod

				UNION ALL

				SELECT CustID, FiscalYear, 9998 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
					, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
				FROM ( 
					SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
					FROM #ViewTable
					) o 

				WHERE FiscalYear = @FiscalYear AND @IncludeYTDTotals = 1 
				GROUP BY CustId, Fiscalyear

				UNION ALL

				SELECT CustID, FiscalYear, 9999 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
					, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
				FROM ( 
					SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
					FROM #ViewTable
					) o 

				WHERE FiscalYear = @FiscalYear - 1 AND @IncludeYTDTotals = 1 
				GROUP BY CustId, Fiscalyear
			) d ON c.CustID = d.CustID 

		INNER JOIN 
			(SELECT  CurrencyId, SUM(BalanceDue) AS CurrencyBalDue FROM(
			SELECT DISTINCT CurrencyId, c.CustId, [NewFinch] + [UnpaidFinch] + [CurAmtDue] + [BalAge1] + [BalAge2] + [BalAge3] + [BalAge4] - [UnapplCredit] AS BalanceDue 
			FROM dbo.tblArCust c INNER JOIN #tmpCustomerList tmp ON tmp.CustId = c.CustId
			INNER JOIN #ViewTable v ON v.CustId = c.CustId) ds GROUP BY CurrencyId
			) b ON c.CurrencyId = b.CurrencyId  -- capture the total balance by currency id for report totals
		) ds ORDER BY GLPeriod
	END

	ELSE
	BEGIN
	INSERT INTO #HistSummary
	SELECT * , ( CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay / NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN  0 ELSE Sales / NumInvc END) AS AvgInv
	FROM (SELECT CASE WHEN @SortBy = 0 THEN c.CustId ELSE c.SalesRepId1 END AS GrpId1, d.FiscalYear, d.GlPeriod, c.CustId, c.CustName, c.Addr1, c.City, c.Region, c.Country, c.PostalCode
		, c.Phone, c.Fax, c.SalesRepId1, c.DistCode, c.CreditLimit, c.CurrencyId, c.FirstSaleDate, c.LastSaleDate
		, [NewFinch] + [UnpaidFinch] + [CurAmtDue] + [BalAge1] + [BalAge2] + [BalAge3] + [BalAge4] - [UnapplCredit] AS BalanceDue
		, t.DiscPct, t.DiscDays, t.NetDueDays, d.Sales AS Sales,d.Cogs AS Cogs, d.Profit AS Profit, d.NumInvc AS NumInvc, d.Finch AS FinChrg
		, d.Pmt AS Payments, d.Disc AS Discounts, d.NumPmt AS NumPmt, d.DaysToPay AS DaysToPay, b.CurrencyBalDue AS CurrencyBalanceDue 
	FROM dbo.tblArCust c 
		INNER JOIN #tmpCustomerList tmp ON tmp.CustId = c.CustId
		INNER JOIN  dbo.tblArTermsCode t ON t.TermsCode = c.TermsCode
		INNER JOIN 
		(
			SELECT CustID, FiscalYear, GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
				, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
			FROM 
			  ( SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
				FROM #ViewTable
				 ) o 
			WHERE FiscalYear = @FiscalYear AND (GlPeriod = @FiscalPeriod OR @FiscalPeriod = 999) 
			GROUP BY CustId, Fiscalyear, GlPeriod

			UNION ALL

			SELECT CustID, FiscalYear, 9998 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
				, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
			FROM 
			  ( SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
				FROM #ViewTable
				) o 
			WHERE FiscalYear = @FiscalYear AND @IncludeYTDTotals = 1 
			GROUP BY CustId, Fiscalyear

			UNION ALL

			SELECT CustID, FiscalYear, 9999 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
				, SUM(Finch) AS Finch, SUM(Pmt) AS Pmt, SUM(Disc) AS Disc, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay 
			FROM 
			  ( SELECT CustID, FiscalYear, GlPeriod, Sales, Cogs, Profit, NumInvc, Finch, Pmt, Disc, NumPmt, DaysToPay 
				FROM #ViewTable
				) o 
			WHERE FiscalYear = @FiscalYear - 1 AND @IncludeYTDTotals = 1 
			GROUP BY CustId, Fiscalyear
		) d ON c.CustID = d.CustID 
		INNER JOIN 
		(	SELECT  CurrencyId, SUM(BalanceDue) AS CurrencyBalDue FROM(
			SELECT DISTINCT CurrencyId, c.CustId, [NewFinch] + [UnpaidFinch] + [CurAmtDue] + [BalAge1] + [BalAge2] + [BalAge3] + [BalAge4] - [UnapplCredit] AS BalanceDue 
			FROM dbo.tblArCust c INNER JOIN #tmpCustomerList tmp ON tmp.CustId = c.CustId
			INNER JOIN #ViewTable v ON v.CustId = c.CustId) ds GROUP BY CurrencyId
		) b ON c.CurrencyId = b.CurrencyId  -- capture the total balance by currency id for report totals
	) ds ORDER BY GlPeriod
	END

	SELECT * FROM #HistSummary

	-- Data for Customer Analysis total
	IF @PrintPeriods <> 2
	BEGIN
		IF @PrintPeriods = 0
		BEGIN
			INSERT INTO #SummaryTable
			SELECT *, (CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay/NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN 0 ELSE Sales/NumInvc END) AS AvgInv
			FROM (
			SELECT CurrencyId, GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
			, SUM(FinChrg) AS FinChrg, SUM(Payments) AS Payments, SUM(Discounts) AS Discounts, SUM(NumPmt) AS NumPmt, SUM(DaysToPay)AS DaysToPay
			FROM #HistSummary v
			WHERE FiscalYear = @FiscalYear AND GlPeriod = @FiscalPeriod AND GLPeriod not in(9999,9998)
			GROUP BY CurrencyId, GlPeriod 
			) ds
		END
		ELSE
		BEGIN
			INSERT INTO #SummaryTable
			SELECT *, (CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay/NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN 0 ELSE Sales/NumInvc END) AS AvgInv
			FROM (
			SELECT CurrencyId, GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit, SUM(NumInvc) AS NumInvc
			, SUM(FinChrg) AS FinChrg, SUM(Payments) AS Payments, SUM(Discounts) AS Discounts, SUM(NumPmt) AS NumPmt, SUM(DaysToPay)AS DaysToPay
			FROM #HistSummary v
			WHERE FiscalYear = @FiscalYear AND GLPeriod not in(9999,9998)
			GROUP BY CurrencyId, GlPeriod	
			) ds		
		END
	END
	
	IF @IncludeYTDTotals = 1
	BEGIN
		IF @PrintPeriods <> 2
		BEGIN
			INSERT INTO #SummaryTable
			SELECT *, (CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay/NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN 0 ELSE Sales/NumInvc END) AS AvgInv
			FROM (
			SELECT CurrencyId, 9998 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit
			, SUM(NumInvc) AS NumInvc, SUM(FinChrg) AS FinChrg, SUM(Payments) AS Payments, SUM(Discounts) AS Discounts
			, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay
			FROM #HistSummary v
			WHERE FiscalYear = @FiscalYear AND  GLPeriod = 9998
		GROUP BY CurrencyId
		) ds
		END
	END
	
	IF @IncludeLastYearTotals = 1
	BEGIN
		IF @PrintPeriods <> 2 OR @IncludeYTDTotals = 1
		BEGIN
			INSERT INTO #SummaryTable
			SELECT *, (CASE WHEN NumPmt = 0 THEN 0 ELSE DaysToPay/NumPmt END) AS AvgToPay, (CASE WHEN NumInvc = 0 THEN 0 ELSE Sales/NumInvc END) AS AvgInv
			FROM (
			SELECT CurrencyId, 9999 AS GlPeriod, SUM(Sales) AS Sales, SUM(Cogs) AS Cogs, SUM(Profit) AS Profit
			, SUM(NumInvc) AS NumInvc, SUM(FinChrg) AS FinChrg, SUM(Payments) AS Payments, SUM(Discounts) AS Discounts
			, SUM(NumPmt) AS NumPmt, SUM(DaysToPay) AS DaysToPay
			FROM #HistSummary v
			WHERE FiscalYear = @FiscalYear-1 AND GLPeriod = 9999
			GROUP BY CurrencyId
			) ds 
		END
	END
	SELECT CurrencyId, GlPeriod, Sales, Cogs, Profit, NumInvc ,FinChrg, Payments, Discounts, NumPmt, DaysToPay, AvgToPay, AvgInv FROM #SummaryTable
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerAnalysisReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerAnalysisReport_proc'
GO
