USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcInvoice_ExportSPS_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcInvoice_ExportSPS_proc]
   @PostRun [nvarchar](14) = '',
   @TotCount int =0 OUT
AS

SET NOCOUNT ON

BEGIN TRY

   DECLARE @DocId bigInt,
           @EdiDocNum nvarchar(3)

   SET @DocId = (SELECT ID FROM tblEcDocument WHERE DocId='810-O')

   SELECT @EdiDocNum = EdiDocNum
   FROM dbo.tblEcDocument 
   WHERE ID = @DocId
   

   DECLARE @I int,
           @ISAControlNum nvarchar(12),
           @GSControlNum nvarchar(12),
           @STControlNum nvarchar(12),
           @CurrPostRun [nvarchar](14),
           @CurrTransId [nvarchar](8),
           @CurrEdiInvcNum nvarchar(12), 
           @CurrPartnerId bigInt,
           @CurrReceiverId nvarchar(15), 
		   @CurrReceiverIdGS nvarchar(15), 
           @CurrCustPoNumber NVARCHAR(75),
           @CurrFilePath NVARCHAR(255),
           @CurrMailQual NVARCHAR(12),
           @Version nvarchar(10),
           @SendDate nvarchar(8),
           @SendTime nvarchar(4),
           @UserID [nvarchar](20),
           @WrkStnID [nvarchar](20),
           @RetVal int,
		   @MapID nVarchar(12),
		   @lastMailContolId bigint,
		   @lastExportLogId bigInt
	
   DECLARE @CompName nvarchar(30), 
           @CompAddr1 nvarchar(30),
           @CompAddr2 nvarchar(30), 
           @CompCountry [nvarchar](6),
           @CompCity nvarchar(30),
           @CompRegion nvarchar(10),
           @CompPostalCode nvarchar(10)

   DECLARE @UseSameISAandGSSeqYN BIT,
           @TestModeYN BIT,
		   @HandleLog bit = 0

	IF OBJECT_ID('tempdb..#tmpExportLog') IS NOT NULL
		SET @HandleLog = 1

   SELECT @RetVal=0
   SELECT @UseSameISAandGSSeqYN=0,@TestModeYN =0--- set to 1 to stop removing records from the comm table

   SELECT @SendDate=CONVERT(nvarchar,GETDATE(),112),
          @SendTime =REPLACE(LEFT(CONVERT(nvarchar,getdate(),108),5),':','')

   IF ISNULL(@PostRun,'')=''
   BEGIN
      SET @PostRun=REPLACE(REPLACE(REPLACE(CONVERT(nvarchar,GETDATE(),120),' ',''),'-',''),':','')
   END    
   
	SELECT @UserID = [Value] FROM #GlobalValues WHERE [Key] = 'UserID'
	SELECT @WrkStnID= [Value] FROM #GlobalValues WHERE [Key] = 'WrkStnID'

	DELETE FROM dbo.tblEcTempExport WHERE DocId = @DocId

   -- remove dups in comm table
   DELETE c
   FROM tblEcComm c
   INNER JOIN (SELECT DocID,PostRun,DocKey,MAX(ID) MaxID
               FROM tblEccomm WHERE DocId=@DocId
               GROUP BY DocID,PostRun,DocKey) d ON c.DocID=d.DocID AND c.PostRun=d.PostRUn  AND c.DocKey=d.DocKey  
   WHERE c.ID<>d.MaxId


   CREATE TABLE #CtrlNum (Id INT IDENTITY(1,1),PartnerId bigInt,ISAControlNum nvarchar(50),GSControlNum nvarchar(50))

   CREATE TABLE #TranTmp (ID int IDENTITY(1,1),PostRun [nvarchar](14) NOT NULL, TransID [nvarchar](8) NOT NULL, CustId [nvarchar](10) NOT NULL, PartnerId bigInt,ReceiverId nvarchar(15),EdiInvcNum nvarchar(20),CustPoNum NVARCHAR(75))
   
   CREATE TABLE #TranH (PostRun [nvarchar](14) NOT NULL, TransID [nvarchar](8), PartnerId bigInt,CustId [nvarchar](10) NULL, EdiInvcNum nvarchar(50),InvcDate datetime,CustPONum nvarchar(50), OrderDate  datetime,
                        PODate datetime,LocId [nvarchar](10) NULL,TermsCode nvarchar(20),TermsCodeDescr nvarchar(80), AcctNum nvarchar(50), DeptID nvarchar(50), StoreCode nvarchar(50), 
                        MerchandiseTypeCode nvarchar(50),FOB nvarchar(20),
                        NetDueDate datetime,DiscDueDate datetime,DiscAmt [decimal](28,10) NULL,DiscPct smallint,DiscDays smallint,NetDueDays smallint,
                        InvcTotal [decimal](28,10) NULL,ShipMethod nvarchar(12),SCAC nvarchar(20),CarrierName nvarchar(20),
                        EDIBillToCode nvarchar(20),BillToName nvarchar(50),BillToAddr1 nvarchar(100),BillToAddr2 nvarchar(100),BillToCity nvarchar(50),BillToRegion nvarchar(50),BillToPostalCode nvarchar(50),BillToCountry nvarchar(50),
                        ShipToId nvarchar(10), EDIShipToCode nvarchar(20),ShipToName nvarchar(50),ShipToAddr1 nvarchar(100),ShipToAddr2 nvarchar(100),ShipToCity nvarchar(50),ShipToRegion nvarchar(50),ShipToPostalCode nvarchar(50),ShipToCountry nvarchar(50),
                        ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry nvarchar(50),
                        Totalweight [decimal](28,10) NULL,TaxSubtotal [decimal](28,10) NULL,NonTaxSubtotal [decimal](28,10) NULL,SalesTax [decimal](28,10) NULL,Freight [decimal](28,10) NULL,Misc [decimal](28,10) NULL,CurrencyID nvarchar(10),DUNS nvarchar(50),BillofLading nvarchar(75),
                        EDIVendorNum nvarchar(50),ShipDate datetime,DeptNum nvarchar(30),DivisionNumber nvarchar(30),TrackingNumber nvarchar(30),
                        POPostRun [nvarchar](14) NULL,POImportBatchId nvarchar(14),POKeyLevelSeq1 int,
                        SAC1Indicator nvarchar(10),SAC1Code nvarchar(10),SAC1Amt [decimal](28,10) NULL,SAC2Indicator nvarchar(10),SAC2Code nvarchar(10),SAC2Amt [decimal](28,10) NULL,SAC3Indicator nvarchar(10),SAC3Code nvarchar(10),SAC3Amt [decimal](28,10) NULL,
                        SumOfDiscountPO [decimal](28,10) NULL,EDIDepartment nvarchar(20),MerchandiseTotal [decimal](28,10) NULL)

   CREATE TABLE #TranD (ID int IDENTITY(1,1), PostRun [nvarchar](14) NULL, TransID [nvarchar](8),CustId [nvarchar](10) NULL, EntryNum int,EdiInvcNum nvarchar(50),LineSeq bigInt,
                        LocId [nvarchar](10) NULL,ShipFromName nvarchar(50),ShipFromAddr1 nvarchar(100),ShipFromAddr2 nvarchar(100),ShipFromCity nvarchar(50),ShipFromRegion nvarchar(50),ShipFromPostalCode nvarchar(50),ShipFromCountry nvarchar(50),
                        ItemId nvarchar(100),ItemDescr nvarchar(80),ItemUom nvarchar(10),EDIItemUom nvarchar(50),ItemWeight [decimal](28,10) NULL,ItemUIR nvarchar(100),UPCCode nvarchar(24),PriceExt [decimal](28,10) NULL,ItemWeightExt [decimal](28,10) NULL,
                        POLineNum nvarchar(12),POLineQty [decimal](28,10) NULL, POLinePrice [decimal](28,10) NULL,POLineUOM nvarchar(50),QtyShipSell [decimal](28,10) NULL, UnitPriceSell [decimal](28,10) NULL,UnitPriceSellBasis [decimal](28,10) NULL,UnitsSell nvarchar(50),ConversionFactor [decimal](28,10) NULL,ItemBuyerCode nvarchar(75),ItemVendorCode nvarchar(75),
                        POPostRun [nvarchar](14) NULL,POImportBatchId nvarchar(14),POKeyLevelSeq1 int,POKeyLevelSeq2 int,
                        SAC1Indicator nvarchar(10),SAC1Code nvarchar(10),SAC1Amt [decimal](28,10) NULL,SAC2Indicator nvarchar(10),SAC2Code nvarchar(10),SAC2Amt [decimal](28,10) NULL,SAC3Indicator nvarchar(10),SAC3Code nvarchar(10),SAC3Amt [decimal](28,10) NULL,
                        PriceAdjAmt [decimal](28,10) NULL,SumOfDiscountPO [decimal](28,10) NULL, PackQty [decimal](28,10) NULL,InnerPackQty [decimal](28,10) NULL,ExportSortSeq int)
   CREATE TABLE #TranHSAC(Id int identity (1,1), PostRun [nvarchar](14) NULL,TransId [nvarchar](8) NOT NULL,EntryNum Int,SACCode nvarchar(10),SACIndicator smallint,SACIndicatorDescr nvarchar(10),SACAmt [decimal](28,10) NULL,RecordNum INT)

   CREATE TABLE #TranDSAC(Id int identity (1,1), PostRun [nvarchar](14) NULL,ImportBatchid nvarchar(14),KeyLevelSeq1 Int ,KeyLevelSeq2 Int ,SACCode nvarchar(10),SACIndicator smallint,SACIndicatorDescr nvarchar(10),SACAmt [decimal](28,10) NULL,RecordNum INT)

   -- Select all Transactions to invoice 
   INSERT INTO #TranTmp(PostRun,TransID,CustId,EdiInvcNum,CustPoNum)
   SELECT c.PostRun,h.TransId,h.CustId,h.InvcNum,h.CustPoNum
   FROM dbo.tblEcComm c
   INNER JOIN tblArHistHeader h ON c.PostRun=h.PostRun AND c.DocKey=h.TransId
   WHERE c.DociD=@DocId AND ISNULL(OnHoldYn,0)=0 AND h.TransType=1 -- no credits
   ORDER BY c.PostRun,c.DocKey 
       
	IF OBJECT_ID('tempdb..#tmpCompanyInfo') IS NOT NULL
	BEGIN
		SELECT TOP 1 @CompName = [Name],
		@CompAddr1 = Addr1,
		@CompAddr2 = Addr2,
		@CompCity = City,
		@CompRegion = UPPER(ISNULL(Region,'')),
		@CompPostalCode = PostalCode,
		@CompCountry = Country
		FROM #tmpCompanyInfo
	END

   IF ISNULL(@CompCountry,'')='' SET @CompCountry='USA'
  
   SET @I=1
     
   WHILE @I<=(SELECT MAX(ID) FROM #TranTmp)
   BEGIN
       SELECT @CurrPartnerId=NULL,@CurrMailQual=NULL,@CurrReceiverId=NULL,@CurrReceiverIdGS=NULL

	   SELECT @CurrPostRun=PostRun,@CurrTransId=TransID FROM #TranTmp WHERE id=@I
	   
	   EXEC dbo.trav_EcGetMailIdFromTransId_proc @Docid=@DocId,@PostRun=@CurrPostRun,@TransId=@CurrTransId,@PartnerId=@CurrPartnerId OUT,@MailQual=@CurrMailQual OUT,@MailId=@CurrReceiverId OUT,@MailIdGs=@CurrReceiverIdGS OUT
	   
       UPDATE t SET PartnerId=@CurrPartnerId,ReceiverId=@CurrReceiverId
	   FROM #TranTmp t  WHERE ID=@I 
        
	  SET @I=@I+1
   END

  
   SELECT @I=0,@CurrPostRun=NULL,@CurrTransId=NULL,@CurrPartnerId=NULL,@CurrMailQual=NULL,@CurrReceiverId=NULL

    -- remove if missing partner
   DELETE FROM #TranTmp WHERE ISNULL(PartnerId, 0) = 0
   
   -- get control numbers (if set to get one ISA and GS per partner)
   IF @UseSameISAandGSSeqYN=1
   BEGIN
      INSERT INTO #CtrlNum (PartnerId)
      SELECT DISTINCT Partnerid FROM #TranTmp

      SET @I=1
      WHILE @I<=(SELECT MAX(ID) FROM #CtrlNum)
      BEGIN
         SELECT @ISAControlNum='',@GSControlNum=''

         SELECT @CurrPartnerId=PartnerId FROM #CtrlNum WHERE id=@i

         EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'IS',@ISAControlNum OUT

         EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'GS',@GSControlNum OUT

         UPDATE #CtrlNum SET ISAControlNum=@ISAControlNum,GSControlNum=@GSControlNum WHERE id=@I

         SELECT @I=@I+1
      END
   END

   SELECT @CurrPartnerId='',@ISAControlNum='',@GSControlNum=''

   -- save ar header info (dont include freight, or misc since they should be added as additional line items (SAC segment))
   INSERT INTO #TranH (PostRun,TransID,PartnerId,CustId,EdiInvcNum,InvcDate,CustPONum,PODate,LocId,OrderDate,
                       TermsCode ,NetDueDate,DiscDueDate,discAmt,
                       AcctNum,DeptID,StoreCode,MerchandiseTypeCode,
                       ShipToId ,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToPostalCode,ShipToCountry,
                       Totalweight,TaxSubtotal,NonTaxSubtotal,SalesTax,Freight,Misc,CurrencyID,DUNS,BillofLading,InvcTotal,EDIShipToCode,CarrierName,ShipDate)
   SELECT h.PostRun,h.TransId,t.PartnerId, h.CustId,t.EdiInvcNum,h.InvcDate,h.CustPONum,h.PODate,h.WhseId,h.OrderDate,
          h.TermsCode ,h.NetDueDate,h.DiscDueDate,discAmt,'' EDIAcctNum,'' EDIDeptID,'' EDIStoreCode,'' EDIMerchandiseTypeCode,
          h.ShipToId, h.ShipToName,REPLACE(REPLACE(h.ShipToAddr1, CHAR(13),''),CHAR(10),''),REPLACE(REPLACE(h.ShipToAddr2, CHAR(13),''),CHAR(10),''),h.ShipToCity,UPPER(ISNULL(h.ShipToRegion,'')),h.ShipToPostalCode,h.ShipToCountry,
          0,h.TaxSubtotal,h.NonTaxSubtotal,h.SalesTax,h.Freight,h.Misc,h.CurrencyID,'' EDIDUNS,h.ShipNum,   ISNULL(TaxSubtotal, 0) + ISNULL(NonTaxSubtotal, 0) + ISNULL(SalesTax, 0) + ISNULL(TaxAmtAdj, 0)
          + ISNULL(Freight, 0) + ISNULL(Misc, 0)  , '' EDIShipToCode,LEFT(ISNULL(ShipVia,''),75),CASE WHEN ISNULL(h.ShipDate,'')='' THEN   h.InvcDate ELSE ShipDate END ShipDate
   FROM #TranTmp t
   INNER JOIN tblArHistHeader h ON t.PostRun=h.PostRun AND h.TransId=t.TransID

 
   -- link to PO header
   UPDATE t SET POPostRun=p.PostRun,POImportBatchId=p.ImportBatchId,POKeyLevelSeq1=p.KeyLevelSeq1
   FROM #TranH t
   INNER JOIN tblEcPoSoTransHeader h ON t.TransID=h.SoTransId AND h.CustID=h.CustID AND t.CustPONum=h.CustPoNum
   INNER JOIN (SELECT MAX(PostRun)PostRun,CustPoNum,Id,ImportBatchId,KeyLevelSeq1
               FROM tblEcPoHistHeader
              GROUP BY CustPoNum,Id,ImportBatchId,KeyLevelSeq1)  p ON h.POHeaderId=p.Id AND h.CustPoNum=p.CustPONum 


   UPDATE h SET SCAC=t.EDISCAC,BillofLading=LEFT(t.BOL,75),FOB=t.FreightTerm,ShipMethod=t.ShipMethod
   FROM #TranH h
   INNER JOIN trav_EcArHistHeader_View t ON h.PostRun=t.PostRun AND h.TransId=t.TransID


   -- get the EDI ship-To Code
   UPDATE t SET EDIShipToCode =s.EDIShipToCode
   FROM #TranH t
   INNER JOIN trav_tblArShipTo_view s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId

   -- if the EDI ship-to code is missing, get it from the PO
   UPDATE t SET EDIShipToCode =p.EDIShipToCode 
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 
   WHERE ISNULL(t.EDIShipToCode,'')=''

   -- UPDATE ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion,ShipToPostalCode from AR Shito table if they are missing in AR trans history. 
   UPDATE t SET ShipToAddr1=s.Addr1,ShipToAddr2=s.Addr2,ShipToCity=s.City,ShipToRegion=s.Region,ShipToPostalCode=s.PostalCode
   FROM #TranH t
   INNER JOIN tblArShipTo s ON t.CustId=s.CustId AND t.ShipToId=s.ShiptoId
   WHERE 
      ((ISNULL(t.ShipToAddr1,'')='' AND ISNULL(t.ShipToAddr2,'')='') OR ISNULL(t.ShipToCity,'')='' OR ISNULL(t.ShipToRegion,'')='' OR ISNULL(t.ShipToPostalCode,'')='')
      AND
      (ISNULL(s.Addr1,'')<>'' AND ISNULL(s.City,'')<>'' AND ISNULL(s.Region,'')<>'' AND ISNULL(s.PostalCode,'')<>'')

   UPDATE t SET EDIDepartment=p.EDIDepartment,MerchandiseTypeCode=p.MerchandiseTypeCode,EDIVendorNum=p.EDIVendorNumber,
                EDIBillToCode=p.EDIBillToCode,BillToName=p.BillToName,BillToAddr1=p.BillToAddr1,BillToAddr2=p.BillToAddr2,BillToCity=p.BillToCity,BillToRegion=p.BillToRegion,BillToPostalCode=p.BillToPostalCode,BillToCountry=p.BillToCountry   
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 

   UPDATE t SET EDIShipToCode =p.EDIShipToCode 
   FROM #TranH t
   INNER JOIN tblEcPoHistHeader p ON t.POPostRun=p.PostRun AND t.POImportBatchId=p.ImportBatchId AND t.POKeyLevelSeq1=p.KeyLevelSeq1 
   WHERE ISNULL(t.EDIShipToCode,'')=''



   UPDATE t SET EDIBillToCode=c.CustId, BillToName=c.CustName,BillToAddr1=c.Addr1,BillToAddr2=c.Addr2,BillToCity=c.City,BillToRegion=c.Region,BillToPostalCode=c.PostalCode,BillToCountry=c.Country
   FROM #TranH t
   INNER JOIN tblArCust c ON t.CustId=c.CustId
   WHERE ISNULL(EDIBillToCode,'')='' AND ISNULL(BillToName ,'')=''
   

   -- get EDI vender from partner if missing
   UPDATE h SET EDIVendorNum=p.AccountNumber
   FROM #TranH  h
   INNER JOIN tblEcPartner p ON h.PartnerId=p.ID
   WHERE ISNULL(h.EDIVendorNum,'')=''

   UPDATE t SET DiscPct =tc.DiscPct,DiscDays=tc.DiscDays,NetDueDays=tc.NetDueDays,t.TermsCodeDescr=tc.[Desc]
   FROM #TranH t
   INNER JOIN  tblArTermsCode  tc ON t.TermsCode=tc.TermsCode


   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=UPPER(ISNULL(l.Region,'')),t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranH t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   -- save ar detail info skip header discount records
   INSERT INTO #TranD(PostRun,TransID,CustId,EdiInvcNum,EntryNum,LineSeq,LocID,ItemId,ItemDescr,ItemUom,POLineNum ,POLineQty,POLinePrice,POLineUOM,QtyShipSell,UnitPriceSell,UnitsSell,PriceExt,ConversionFactor,PriceAdjAmt,UnitPriceSellBasis)
   SELECT d.PostRun,d.TransID,t.CustId, t.EdiInvcNum,d.EntryNum, d.LineSeq,d.WhseId,d.PartId,LEFT(d.[Desc],80),d.UnitsSell, '' EDIPOLineNum,NULL EDIPOLineQty , NULL  EDIPOLinePrice ,NULL EDIPOLineUOM,d.QtyShipSell,d.UnitPriceSell,d.UnitsSell,d.PriceExt,d.ConversionFactor,d.PriceAdjAmt,d.UnitPriceSellBasis
   FROM tblArHistDetail d
   INNER JOIN #TranH t ON d.PostRun=t.PostRun AND d.TransId=t.TransID
   LEFT JOIN (SELECT DISTINCT AdjServiceItem FROM tblEcPartnerSAC WHERE HeaderDetail = 1) sac ON d.PartId=sac.AdjServiceItem 
   WHERE d.QtyShipSell>0 AND d.GrpId IS NULL AND EntryNum>=0 AND sac.AdjServiceItem IS NULL


   -- if there was an adjustment (discount) to this line, remove it since it will go as a seperate SAC line. 
   UPDATE d SET UnitPriceSell=UnitPriceSellBasis,PriceExt=UnitPriceSellBasis * QtyShipSell
   FROM #TranD d
   WHERE PriceAdjAmt>0 AND UnitPriceSell<>UnitPriceSellBasis



   UPDATE d SET LineSeq=d_seq.SeqNum 
   FROM #TranD d
   INNER JOIN (SELECT PostRun,TransId,EntryNum,ROW_NUMBER () OVER (PARTITION BY PostRun,TransId ORDER BY PostRun,TransId,EntryNum) SeqNum
               FROM #TranD) d_seq ON d.PostRun=d_seq.PostRun AND d.TransID=d_seq.TransID AND d.EntryNum=d_seq.EntryNum

   -- link to PO detail
   UPDATE d SET POPostRun=h.POPostRun,POImportBatchId=h.POImportBatchId,POKeyLevelSeq1=h.POKeyLevelSeq1
   FROM #TranH h 
   INNER JOIN #TranD d ON h.PostRun =d.PostRun AND h.TransId=d.TransId

   UPDATE t SET POKeyLevelSeq2=hd.KeyLevelSeq2
   FROM #TranD t
   INNER JOIN tblEcPoSoTransDetail d ON t.TransID=d.SoTransId AND t.EntryNum=d.SOEntryNum 
	INNER JOIN dbo.tblEcPoHistDetail hd ON d.PODetailID = hd.Id

   UPDATE t SET t.ShipFromName=l.Descr,t.ShipFromAddr1=l.Addr1,t.ShipFromAddr2=l.Addr2,t.ShipFromCity=l.City,t.ShipFromRegion=l.Region,t.ShipFromCountry=l.Country,t.ShipFromPostalCode=l.PostalCode
   FROM #TranD t
   INNER JOIN  tblInLoc l ON t.LocId=l.LocId

   UPDATE t SET UPCCode=u.UPCcode,ItemWeight=u.[Weight],ItemWeightExt=ISNULL(u.[Weight],0) * ISNULL(t.QtyShipSell,0)
   FROM #TranD t
   INNER JOIN tblInItemUom u ON t.ItemId=u.ItemId AND t.UnitsSell=u.Uom

   UPDATE td SET ItemUIR=hd.ItemUir,EDIItemUom=hd.POUnitsSell, ItemBuyerCode=hd.ItemBuyerCode,ItemVendorCode=hd.ItemVendorCode,UPCCode=hd.ItemUPC,POLineNum=hd.PoLineNum, POLineUOM=hd.POUnitsSell,PackQty=hd.PackQty,InnerPackQty=hd.InnerPackQty
   FROM #TranD td 
   INNER JOIN tblEcPoHistDetail hd ON  td.POPostRun=hd.PostRun AND td.POKeyLevelSeq2=hd.KeyLevelSeq2 AND td.ItemId=hd.ItemID
	  INNER JOIN dbo.tblEcPoHistHeader hh ON hd.PoHistHeaderID = hh.Id AND  td.POImportBatchId=hh.ImportBatchId AND td.POKeyLevelSeq1=hh.KeyLevelSeq1 
   -- get pack info from history
   UPDATE td SET PackQty=x.PackQty,InnerPackQty=x.InnerPackQty
   FROM #TranD td 
   INNER JOIN (SELECT hh.CustID,hd.ItemId ,MAX(InnerPackQty)InnerPackQty ,MAX(PackQty) PackQty
               FROM tblEcPoHistHeader hh
               INNER JOIN tblEcPoHistDetail hd ON hh.PostRun=hd.PostRun AND hh.Id=hd.PoHistHeaderID
			   GROUP BY hh.CustID,hd.ItemId) x ON td.CustId=x.CustID AND td.ItemId=x.ItemID
   WHERE ISNULL(td.PackQty,0)=0 AND ISNULL(td.InnerPackQty,0)=0

   UPDATE t SET ItemUIR=x.UIR,ItemBuyerCode=x.BuyerCode,ItemVendorCode=x.VendorCode,UPCCode=x.UPC,EDIItemUom=x.EDIUOM
   FROM #TranD t
   INNER JOIN #TranH h ON t.PostRun=h.PostRun AND t.TransID=h.TransID
   INNER JOIN tblEcPartnerItemXRef x ON h.PartnerId=x.PartnerID AND t.ItemId=x.TRAVItemID AND t.ItemUom=x.TRAVUOM
   WHERE ISNULL(ItemUIR,'')=''

   -- default to 1
   UPDATE #TranD SET PackQty=1 WHERE PackQty=0
   
   -- link to PO detail
   UPDATE h SET MerchandiseTotal=d.PriceExt
   FROM #TranH h 
   INNER JOIN (SELECT PostRun,TransId,SUM(PriceExt) PriceExt 
               FROM #TranD 
              GROUP BY PostRun,TransId) d ON h.PostRun =d.PostRun AND h.TransId=d.TransId

   -- get header discounts
   INSERT INTO #TranHSAC(PostRun,TransId,EntryNum,SACCode,SACIndicator,SACAmt)
   SELECT  h.PostRun,h.TransID,d.EntryNum,SACCode,SACIndicator,(d.QtyShipSell * d.UnitPriceSell * -1)
   FROM #TranH h
   INNER JOIN tblArHistDetail d ON h.PostRun=d.PostRun AND h.TransID=d.TransID
   INNER JOIN tblEcPartnerSac psac ON h.PartnerId=psac.PartnerId AND d.PartId=psac.AdjServiceItem

   -- updated indicator code
   UPDATE sac SET SACIndicatorDescr=CASE WHEN sac.SACIndicator<1 THEN 'A' ELSE 'C' END 
   FROM #TranHSAC sac 

   -- add record numbers  
   UPDATE sac SET RecordNum=rn.RecordNum
   FROM #TranHSAC sac
   INNER JOIN (SELECT Id,ROW_NUMBER() OVER(PARTITION BY PostRun,TransId ORDER BY PostRun,TransId,EntryNum ASC) as RecordNum FROM #TranHSAC)  rn ON sac.Id=rn.id

   -- update total header discount
   UPDATE h SET SumOfDiscountPO=sac.SACAmt
   FROM #TranH h 
   INNER JOIN (SELECT PostRun,TransId,SUM(SACAmt) SACAmt 
               FROM #TranHSAC
               GROUP BY PostRun,TransId) sac ON h.PostRun=sac.PostRun AND h.TransId=sac.TransId

   -- transpose header
   UPDATE h SET SAC1Code=sac.SACCode , SAC1Indicator=sac.SACIndicatorDescr,SAC1Amt=sac.SACAmt 
   FROM #TranH h 
   INNER JOIN #TranHSAC sac ON h.PostRun=sac.PostRun AND h.TransId=sac.TransId
   WHERE sac.RecordNum=1 

   UPDATE h SET SAC2Code=sac.SACCode , SAC2Indicator=sac.SACIndicatorDescr,SAC2Amt=sac.SACAmt 
   FROM #TranH h 
   INNER JOIN #TranHSAC sac ON h.PostRun=sac.PostRun AND h.TransId=sac.TransId
   WHERE sac.RecordNum=2

   UPDATE h SET SAC3Code=sac.SACCode , SAC3Indicator=sac.SACIndicatorDescr,SAC3Amt=sac.SACAmt 
   FROM #TranH h 
   INNER JOIN #TranHSAC sac ON h.PostRun=sac.PostRun AND h.TransId=sac.TransId
   WHERE sac.RecordNum=3

   -- Discount detail
   INSERT INTO #TranDSAC(PostRun,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2,SACCode,SACIndicator,SACAmt)
   SELECT  sac.PostRun,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2,SACCode,SACIndicator,SACAmount
   FROM  tblEcPoHistSAC sac 
	INNER JOIN dbo.tblEcPoHistHeader hh ON sac.POHeaderID = hh.Id 
	INNER JOIN dbo.tblEcPoHistDetail dd ON sac.PODetailID = dd.Id
   INNER JOIN #TranD d ON sac.PostRun=d.POPostRun and hh.ImportBatchId=d.POImportBatchId and hh.KeyLevelSeq1=d.POKeyLevelSeq1 AND dd.KeyLevelSeq2=d.POKeyLevelSeq2
   WHERE sac.PODetailID IS NOT NULL  

   -- update detail indicator
   UPDATE sac SET SACIndicatorDescr=CASE WHEN sac.SACIndicator<1 THEN 'A' ELSE 'C' END 
   FROM #TranDSAC sac 

   -- update detail record num
   UPDATE sac SET RecordNum=rn.RecordNum
   FROM #TranDSAC sac
   INNER JOIN (SELECT Id,ROW_NUMBER() OVER(PARTITION BY PostRUn,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2 ORDER BY PostRun,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2 ASC) as RecordNum FROM #TranDSAC)  rn ON sac.Id=rn.id

   --update total detail
   UPDATE d SET SumOfDiscountPO=sac.SACAmt
   FROM #TranD d 
   INNER JOIN (SELECT PostRun,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2,SUM(SACAmt) SACAmt 
               FROM #TranDSAC
               WHERE KeyLevelSeq2>0
               GROUP BY PostRun,ImportBatchid,KeyLevelSeq1,KeyLevelSeq2) sac ON d.POPostRun=sac.PostRun AND d.POImportBatchId=sac.ImportBatchid AND d.POKeyLevelSeq1=sac.KeyLevelSeq1 and d.POKeyLevelSeq2=sac.KeyLevelSeq2

   UPDATE d SET SAC1Code=sac.SACCode , SAC1Indicator=sac.SACIndicatorDescr,SAC1Amt=sac.SACAmt 
   FROM #TranD d
   INNER JOIN #TranDSAC sac ON d.POPostRun=sac.PostRun AND d.POImportBatchId=sac.ImportBatchid AND d.POKeyLevelSeq1=sac.KeyLevelSeq1 AND d.POKeyLevelSeq2=sac.KeyLevelSeq2
   WHERE KeyLevelSeq2<>0 AND sac.RecordNum=1 AND d.PriceAdjAmt=d.SumOfDiscountPO

   UPDATE h SET SAC2Code=sac.SACCode , SAC2Indicator=sac.SACIndicatorDescr,SAC2Amt=sac.SACAmt 
   FROM #TranH h 
   INNER JOIN #TranDSAC sac ON h.POPostRun=sac.PostRun AND h.POImportBatchId=sac.ImportBatchid AND h.POKeyLevelSeq1=sac.KeyLevelSeq1
   WHERE KeyLevelSeq2=0 AND sac.RecordNum=2 AND h.Misc=h.SumOfDiscountPO

   UPDATE h SET SAC3Code=sac.SACCode , SAC3Indicator=sac.SACIndicatorDescr,SAC3Amt=sac.SACAmt 
   FROM #TranH h 
   INNER JOIN #TranDSAC sac ON h.POPostRun=sac.PostRun AND h.POImportBatchId=sac.ImportBatchid AND h.POKeyLevelSeq1=sac.KeyLevelSeq1
   WHERE KeyLevelSeq2=0 AND sac.RecordNum=3 AND h.Misc=h.SumOfDiscountPO

   -- remove header is there are no details
   DELETE h
   FROM #TranH h
   LEFT JOIN #TranD d ON h.PostRun=d.PostRun AND h.TransId=d.TransId 
   WHERE d.TransId IS NULL

   DELETE t
   FROM #TranTmp t
   LEFT JOIN #TranD d ON t.PostRun=d.PostRun AND t.TransID=d.TransId 
   WHERE d.TransId IS NULL    

   SELECT @I=MIN(ID) FROM #TranTmp

   WHILE @I<>0
   BEGIN
    
      SELECT @CurrPostRun=PostRun,@CurrTransId=TransID, @CurrPartnerID=PartnerID,@CurrEdiInvcNum=EdiInvcNum,@CurrCustPoNumber=CustPoNum,@CurrReceiverId =ReceiverId
      FROM #TranTmp WHERE ID=@I
	  
	  SELECT @CurrFilePath = '' 
      
	  EXEC dbo.trav_EcGetFileOutbound_proc @PartnerId = @CurrPartnerID, @DocId = @DocId, @PostRun = @PostRun, @MapID = '', @KeyValue = @CurrEdiInvcNum, @FilePathOut = @CurrFilePath OUT
      SET @CurrFilePath=ISNULL(@CurrFilePath,'')
             
      IF @UseSameISAandGSSeqYN=0
      BEGIN
         EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'IS',@ISAControlNum OUT
         EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'GS',@GSControlNum OUT
      END
      ELSE
      BEGIN
         --use same ISA number
         SELECT @ISAControlNum=ISAControlNum, 
                @GSControlNum=GSControlNum  
         FROM #CtrlNum WHERE PartnerId=@CurrPartnerId           
      END

      EXEC dbo.trav_EcGetNextControlNum_proc @CurrPartnerId,'ST',@STControlNum OUT 

      -- Header
      INSERT INTO dbo.tblEcTempExport (PostRun,DocId,RecType,Sort1,sort2,sort3,Sort4,
             [Fld01],[Fld02],[Fld03],[Fld04],[Fld05],[Fld06],[Fld07],[Fld08],[Fld09],[Fld10],
             [Fld11],[Fld12],[Fld13],[Fld14],[Fld15],[Fld16],[Fld17],[Fld18],[Fld19],[Fld20],
             [Fld21],[Fld22],[Fld23],[Fld24],[Fld25],[Fld26],[Fld27],[Fld28],[Fld29],[Fld30],
             [Fld31],[Fld32],[Fld33],[Fld34],[Fld35],[Fld36],[Fld37],[Fld38],[Fld39],[Fld40],
             [Fld41],[Fld42],[Fld43],[Fld44],[Fld45],[Fld46],[Fld47],[Fld48],[Fld49],
             [Fld50],[Fld51],[Fld52],[Fld53],[Fld54],[Fld55],[Fld56],[Fld57],[Fld58],[Fld59],[Fld60],[Fld61],[Fld62],
             [Fld63],[Fld64],[Fld65],[Fld66],[fld67],[Fld68],[FLD69],[Fld70],[FLD71],[FLD72],[FLD73],[FLD74],[FLD75],[FLD76],[FLD77],[FLD78],[FLD79],
             [Fld80],[Fld81],[Fld82],[Fld83],[Fld84],[Fld85],[Fld86],[Fld87],[Fld88],[Fld89],[Fld90],[Fld91],[Fld92],
             FilePath,UserId,WrkStnId)
      SELECT @PostRun PostRun,@DocId,
            '01' RecType,
            @CurrReceiverId,                  -- [sort1]
            @CurrEdiInvcNum,                  -- [sort2]
            REPLICATE ('0',5-LEN(CAST (d.LineSeq as nvarchar)))+CAST (d.LineSeq as nvarchar) ,-- [sort3]
            0,                                -- [sort4]
            'IN' Landmark,                    -- [Fld01]
            @CurrReceiverId ,                 -- [Fld02]
            @CurrEdiInvcNum InvoiceNum,       -- [Fld03]
            REPLACE(convert(nvarchar,InvcDate,112),'/','') InvoiceDate,     -- [Fld04]
            h.CustPoNum ,                     -- [Fld05]
            '' ReleseNum,                     -- [Fld06]
            h.EDIVendorNum,                   -- [Fld07]
            REPLACE( convert(nvarchar,h.ShipDate,112),'/','')  OrderDate ,  -- [Fld08]
            h.SCAC SCAC,                      -- [Fld09]
            h.CarrierName carrier,            -- [Fld10]
            CASE WHEN ISNULL(h.FOB,'')='C' THEN 'CC' ELSE 'PP' END  fob,   -- [Fld11]
            h.BillofLading BOL,               -- [Fld12]
            h.BillofLading ProNumber,         -- [Fld13]
            h.EDIDepartment ,                 -- [Fld14]
            h.DivisionNumber,                 -- [Fld15]
            h.MerchandiseTypeCode MerchandiseTypeCode ,                    -- [Fld16]
            h.TrackingNumber ,                -- [Fld17]
            @CompName bill_name,              -- [Fld18]
            @CompAddr1 bill_addr1,            -- [Fld19]
            @CompAddr2 bill_addr2,            -- [Fld20]
            @CompCity bill_city,              -- [Fld21]
            @CompRegion bill_state,           -- [Fld22]
            @CompPostalCode bill_zip,         -- [Fld23]
            @CompCountry bill_ctry,           -- [Fld24]
            h.EDIShipToCode ship_dun,         -- [Fld25]
            h.ShipToName ship_name,           -- [Fld26]
            h.ShipToAddr1 ship_addr1,         -- [Fld27]
            h.ShipToAddr2 ship_addr2,         -- [Fld28]
            h.ShipToCity ship_city,           -- [Fld29]
            h.ShipToRegion ship_state,        -- [Fld30]
            h.ShipToPostalCode ship_zip,      -- [Fld31]
            h.ShipToCountry ship_ctry,        -- [Fld32]
            '' MarkFor,                       -- [Fld33]
            h.DiscPct pdisc,                  -- [Fld34]
            REPLACE(convert(nvarchar,h.DiscDueDate,112),'/','') discdue_dt, -- [Fld35]
            h.DiscDays pdays,                 -- [Fld36]
            REPLACE(convert(nvarchar,h.NetDueDate,112),'/','') netdue_dte,  -- [Fld37]
            h.NetDueDays pnet,                -- [Fld38]
            0 terms_disc_amt,                 -- [Fld39]
            h.TermsCode TermsDescription ,    -- [Fld40]     
            CAST(CAST (h.InvcTotal as decimal(20,2)) AS nvarchar),          -- [Fld41]
            CAST(CAST (h.MerchandiseTotal  as decimal(20,2)) AS nvarchar) , -- [Fld42]
            REPLACE(convert(nvarchar,h.PODate,112),'/','') podate,          -- [Fld43]
            '' CarrierTransMethodCode ,       -- [Fld44]
            '0' TotalCartonCount ,            -- [Fld45]
            h.SAC1Indicator AllowanceIndicator1,     -- [Fld46]
            h.SAC1Code allw_code1,                   -- [Fld47]
            CAST(CAST(h.SAC1Amt as decimal(20,2)) AS nvarchar) allw_amt1,   -- [Fld48]
            '' allw_desc1,                           -- [Fld49]
            h.SAC2Indicator  AllowanceIndicator2,    -- [Fld50]
            h.SAC2Code allw_code2,                   -- [Fld51]
            CAST(CAST(h.SAC2Amt  as decimal(20,2)) AS nvarchar) allw_amt2,  -- [Fld52]
            '' allw_desc2,                           -- [Fld53]
            h.SAC3Indicator AllowanceIndicator3,     -- [Fld54]
            h.SAC3Code allw_code3,                   -- [Fld55]
            CAST(CAST(h.SAC3Amt  as decimal(20,2)) AS nvarchar)allw_amt3,   -- [Fld56]
            '' allw_desc3,                           -- [Fld57]
            CASE WHEN  ISNULL(d.POLineNum,'')='' THEN CAST (d.LineSeq  as nvarchar) ELSE d.POLineNum END line,                  -- [Fld58]
            CAST(CAST(d.QtyShipSell as decimal(20,2)) AS nvarchar) qtyshp,  -- [Fld59]
            d.EDIItemUom,-- d.POLineUOM uom,         -- [Fld60]
            CAST(CAST(d.UnitPriceSell as decimal(20,2)) AS nvarchar) price, -- [Fld61]
            d.ItemBuyerCode ItemByerCode,            -- [Fld62]
            d.UPCCode upcCode,                       -- [Fld63]
            '' itemGTIN,                             -- [Fld64]
            d.ItemVendorCode ,                       -- [Fld65]
            d.ItemDescr,                             -- [Fld66]
            '' VendorColorDescription,               -- [Fld67]
            '' VendorSizeDescription,                -- [Fld68]
            '' RetailPrice,                          -- [Fld69]
            CAST(CAST(d.PackQty as decimal(20,0)) AS nvarchar) ,          -- [Fld70]
            CAST(CAST(d.InnerPackQty  as decimal(20,0)) AS nvarchar) ,    -- [Fld71]
            d.SAC1Indicator D_AllowanceIndicator1,   -- [Fld72]
            d.SAC1Code D_Allowance_Code1,            -- [Fld73]
            CAST(CAST(d.SAC1Amt as decimal(20,2)) AS nvarchar) D_Allowance_Amount1,             -- [Fld74]
            '' D_Allowance_Descr1,                   -- [Fld75]
            d.SAC2Indicator D_AllowanceIndicator2,   -- [Fld76]
            d.SAC2Code D_Allowance_Code2,            -- [Fld77]
            CAST(CAST(d.SAC2Amt as decimal(20,2)) AS nvarchar) D_Allowance_Amount2,             -- [Fld78]
            '' D_Allowance_Descr2,                   -- [Fld79]
            d.SAC3Indicator D_AllowanceIndicator3,   -- [Fld80]
            d.SAC3Code D_Allowance_Code3,            -- [Fld81]
            CAST(CAST(d.SAC3Amt as decimal(20,2)) AS nvarchar)  D_Allowance_Amount3,            -- [Fld82]
            '' D_Allowance_Descr3,                   -- [Fld83]
            CAST(CAST( d.PriceExt  as decimal(20,2)) AS nvarchar),                              -- [Fld84]
			h.EDIBillToCode,                         -- [Fld85]
			h.BillToName,                            -- [Fld86]
			h.BillToAddr1,                           -- [Fld87]
			h.BillToAddr2,                           -- [Fld88]
			h.BillToCity,                            -- [Fld89]
			h.BillToRegion,                          -- [Fld90]
			h.BillToPostalCode,                      -- [Fld91]
			h.BillToCountry,                         -- [Fld92]
            @CurrFilePath,
            @UserId,
            @WrkStnId
      FROM #TranH h 
      INNER JOIN #TranD d ON h.PostRun =d.PostRun AND h.TransId=d.TransId
      WHERE h.PostRun=@CurrPostRun AND h.TransId=@CurrTransId
      ORDER BY d.LineSeq

      -- write mail control
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
		--Generate new Mail Contro ID
		SET @lastMailContolId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
		
		--Increase ID with # of Records generated
		SET @lastMailContolId = @lastMailContolId + (SELECT COUNT(*) FROM dbo.tblEcMailControl WHERE ID >= @lastMailContolId)

		INSERT INTO dbo.tblEcMailControl(ID,ImportBatchId,KeyLevelSeq1,PartnerId,DocId,EdiDocNum,DocKey,DocAddnlRef1,SenderID, SenderIDGS, ReceiverID, ReceiverIdGS,  ISAControlNum,GSControlNum ,STControlNum,GSVersion ,StatusFlag,SendDate,SendTime)
		SELECT @lastMailContolId + ROW_NUMBER() OVER (ORDER BY @PostRun, @CurrPartnerId,@DocId,@EdiDocNum), @PostRun,0 KeyLevelSeq1,@CurrPartnerId,@DocId,@EdiDocNum,@CurrEdiInvcNum,@CurrCustPoNumber,NULL SenderID, NULL SenderIDGS, @CurrReceiverId, @CurrReceiverId, @ISAControlNum,@GSControlNum,case when @STControlNum = ' ' then 0 else @STControlNum end, @Version,'P' StatusFlag,@SendDate,@SendTime

		IF @HandleLog = 1
		 BEGIN
			INSERT INTO #tmpExportLog(FilePath, PostRun, DocId)
			SELECT @CurrFilePath, @PostRun, @DocId
		 END

      END

      -- write log
	  
	--Generate new Export Log ID
	SET @lastExportLogId = CAST(DATEDIFF( MINUTE, '00010101', CONVERT(varchar(8),GETDATE(), 112) ) AS bigint) * 60000000 * 10 + (CAST(DATEDIFF( MILLISECOND, CONVERT(varchar(8),GETDATE(), 112), GETDATE() ) AS bigint) * 1000 + DATEPART( mcs, GETDATE()) - DATEPART( ms, GETDATE()) * 1000) *10 + ( DATEPART( NANOSECOND, GETDATE() ) % 1000 ) / 100
	
	--Increase ID with # of Records generated
	SET @lastExportLogId = @lastExportLogId + (SELECT COUNT(*) FROM dbo.tblEcInvcExportLog WHERE ID >= @lastExportLogId)

    INSERT INTO dbo.tblEcInvcExportLog (ID,PostRun,PartnerId,EdiInvcNum,InvcDate,CustPoNum,InvcTotal,CustID)
    SELECT @lastExportLogId +  ROW_NUMBER() OVER (ORDER BY @PostRun,@CurrPartnerID,@CurrEdiInvcNum), @PostRun,@CurrPartnerID,@CurrEdiInvcNum,h.InvcDate,@CurrCustPoNumber,h.InvcTotal,h.CustID
    FROM #TranH h 
    WHERE PostRun=@CurrPostRun AND TransID=@CurrTransId

      -- Remove from Communications
      IF ISNULL(@TestModeYN,0)=0
      BEGIN
         DELETE FROM dbo.tblEcComm WHERE PostRun=@CurrPostRun AND DocKey=@CurrTransId AND DocID=@DocID
		 DELETE FROM dbo.tblEcArErrorLog WHERE [PostRun] = @CurrPostRun AND [TransId] = @CurrTransId
      END  

      -- Next record  
      SET @RetVal=130   
      DELETE FROM #TranTmp WHERE ID=@I 

      SELECT @I=MIN(ID) FROM #TranTmp

   END-- WHILE @I<>0   

   -- return number of invoices
   SELECT @TotCount=COUNT(*) FROM 
          (SELECT DISTINCT [Fld02] ReceiverId,[Fld03] AS InvcNUm FROM dbo.tblEcTempExport WHERE DocId= @DocId) as x  -- [Fld03]

   SELECT ISNULL(@TotCount,0) TotCount

END TRY   
BEGIN CATCH
   EXEC dbo.trav_RaiseError_proc
END CATCH
 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportSPS_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcInvoice_ExportSPS_proc'
GO
