USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmUpdatePerpetual_PurgeCount_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmUpdatePerpetual_PurgeCount_proc]
AS
BEGIN TRY

	Delete ent
	from tblWmPhysicalCountEntry ent
	inner join #BatchList t on ent.Batchid =t.BatchId

	Delete det
	from tblWmPhysicalCountDetail det
	inner join #BatchList t on det.Batchid =t.BatchId

	Delete v
	from tblWmPhysicalCountCostVariance v
	inner join #BatchList t on v.Batchid =t.BatchId

	Delete hdr
	from tblWmPhysicalCountHeader hdr
	inner join #BatchList t on hdr.Batchid =t.BatchId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_PurgeCount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmUpdatePerpetual_PurgeCount_proc'
GO
