USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcPrintInvoices_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcPrintInvoices_proc]
@LastInvoice [nvarchar](15) = NULL, --set for batch mode printing
@TransId [nvarchar](8) = NULL, --set for printing online or from history
@BaseCurrency [nvarchar](6) = NULL

AS
BEGIN TRY
	SET NOCOUNT ON

	CREATE TABLE #TaxSummary
	(
		TransId [nvarchar](8) NOT NULL, 
		TaxLoc1 [nvarchar](10) NULL, 
		TaxAmt1 [decimal](28,10) NOT NULL, 
		TaxLoc2 [nvarchar](10) NULL, 
		TaxAmt2 [decimal](28,10) NOT NULL, 
		TaxLoc3 [nvarchar](10) NULL, 
		TaxAmt3 [decimal](28,10) NOT NULL, 
		TaxLoc4 [nvarchar](10) NULL, 
		TaxAmt4 [decimal](28,10) NOT NULL, 
		TaxLoc5 [nvarchar](10) NULL, 
		TaxAmt5 [decimal](28,10) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId])
	)

	CREATE TABLE #Temp
	(
		TransId [nvarchar](8) NOT NULL
		PRIMARY KEY CLUSTERED ([TransId])
	)

	CREATE TABLE #tmpdeposit
	(
		TransId [nvarchar](8) NOT NULL, 
		DepositAmt [decimal](28,10) NOT NULL
	)

	--process live transactions
	IF (ISNULL(@TransId, '') = '')
	BEGIN
		--build the list of Invoices that are valid for printing
		INSERT INTO #Temp (TransId) 
		SELECT h.TransId 
		FROM #tmpTransactionList t 
			INNER JOIN dbo.tblPcInvoiceHeader h ON t.TransId = h.TransId 
			INNER JOIN dbo.tblArCust c ON c.CustId = h.CustId 
		WHERE h.VoidYn = 0 -- exclude voids
			AND (h.PrintStatus = 0 OR h.PrintStatus = 2) 
			AND (c.StmtInvcCode = 3 OR c.StmtInvcCode = 2) 
			AND (h.InvcNum > @LastInvoice OR ISNULL(h.InvcNum, '') = '')
	END
	ELSE
	BEGIN
		--select only one transaction for online processing
		INSERT INTO #Temp (TransId) 
		SELECT h.TransId 
		FROM dbo.tblPcInvoiceHeader h 
		WHERE h.TransId = @TransId AND h.VoidYn = 0 --exclude voids
	END

	--summarize and cross-tab the taxes by level
	--	note: TaxLocId cannot be duplicated for multiple tax levels
	INSERT INTO #TaxSummary (TransId
		, TaxLoc1, TaxAmt1, TaxLoc2, TaxAmt2, TaxLoc3, TaxAmt3, TaxLoc4, TaxAmt4, TaxLoc5, TaxAmt5) 
	SELECT TransId, MAX(TaxLoc1), SUM(TaxAmt1), MAX(TaxLoc2), SUM(TaxAmt2)
		, MAX(TaxLoc3), SUM(TaxAmt3), MAX(TaxLoc4), SUM(TaxAmt4), MAX(TaxLoc5), SUM(TaxAmt5) 
	FROM 
	(
		SELECT x.TransId
			, CASE WHEN x.[Level] = 1 THEN x.TaxLocId ELSE NULL END TaxLoc1
			, CASE WHEN x.[Level] = 1 THEN x.TaxAmtFgn ELSE 0 END TaxAmt1
			, CASE WHEN x.[Level] = 2 THEN x.TaxLocId ELSE NULL END TaxLoc2
			, CASE WHEN x.[Level] = 2 THEN x.TaxAmtFgn ELSE 0 END TaxAmt2
			, CASE WHEN x.[Level] = 3 THEN x.TaxLocId ELSE NULL END TaxLoc3
			, CASE WHEN x.[Level] = 3 THEN x.TaxAmtFgn ELSE 0 END TaxAmt3
			, CASE WHEN x.[Level] = 4 THEN x.TaxLocId ELSE NULL END TaxLoc4
			, CASE WHEN x.[Level] = 4 THEN x.TaxAmtFgn ELSE 0 END TaxAmt4
			, CASE WHEN x.[Level] = 5 THEN x.TaxLocId ELSE NULL END TaxLoc5
			, CASE WHEN x.[Level] = 5 THEN x.TaxAmtFgn ELSE 0 END TaxAmt5 
		FROM #Temp l 
			INNER JOIN dbo.tblPcInvoiceTax x ON l.TransId = x.TransId 
			INNER JOIN dbo.tblPcInvoiceHeader h ON x.TransId = h.TransId 
			INNER JOIN dbo.tblSmTaxGroup s ON h.TaxGrpID = s.TaxGrpID 
		WHERE s.ReportMethod <> 0
	) ctab 
	GROUP BY TransId

	--add the tax adjustment to the appropriate tax location
	UPDATE #TaxSummary 
		SET TaxAmt1 = TaxAmt1 + CASE WHEN [TaxLoc1] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt2 = TaxAmt2 + CASE WHEN [TaxLoc2] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt3 = TaxAmt3 + CASE WHEN [TaxLoc3] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt4 = TaxAmt4 + CASE WHEN [TaxLoc4] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END
			, TaxAmt5 = TaxAmt5 + CASE WHEN [TaxLoc5] = h.[TaxLocAdj] THEN h.TaxAmtAdjFgn ELSE 0 END 
	FROM dbo.tblPcInvoiceHeader h 
	WHERE h.TaxAmtAdjFgn <> 0 
		AND #TaxSummary.TransId = h.TransId

	INSERT INTO #tmpdeposit (TransId, DepositAmt) 
	SELECT l.TransID, SUM(p.DepositAmtApply) AS DepositAmt 
	FROM #Temp l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		INNER JOIN dbo.tblPcInvoiceDeposit p ON h.TransId = p.TransId 
	GROUP BY l.TransId

	IF EXISTS (SELECT * FROM #tmpdeposit WHERE DepositAmt IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

	--retrieve the datasets
	-- header info
	SELECT h.TransId, CASE WHEN h.TransType < 0 THEN -1 ELSE 1 END AS TransType, h.OrgInvcNum AS OriginalInvoiceNo
		, h.InvcDate AS InvoiceDate, h.InvcNum AS InvoiceNo, h.CurrencyId, c.CustId, c.CustName, c.Attn
		, c.Addr1, c.Addr2, c.City, c.Region, c.PostalCode, c.Country, h.Rep1Id, h.Rep2Id, NetDueDate, DiscDueDate
		, t.[Desc] AS TermsDescription, h.CustPONum AS CustomerPoNo, h.OrderDate, x.TaxLoc1 AS TaxLocation1
		, x.TaxLoc2 AS TaxLocation2, x.TaxLoc3 AS TaxLocation3, x.TaxLoc4 AS TaxLocation4, x.TaxLoc5 AS TaxLocation5
		, ISNULL(x.TaxAmt1, 0) AS TaxAmount1, ISNULL(x.TaxAmt2, 0) AS TaxAmount2, ISNULL(x.TaxAmt3, 0) AS TaxAmount3
		, ISNULL(x.TaxAmt4, 0) AS TaxAmount4, ISNULL(x.TaxAmt5, 0) AS TaxAmount5
		, TaxSubtotalFgn AS TaxableSubtotal, NonTaxSubtotalFgn AS NontaxableSubtotal, 0 AS Freight, 0 AS Misc
		, SalesTaxFgn + TaxAmtAdjFgn AS SalesTax
		, ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
			+ ISNULL(TaxAmtAdjFgn, 0) AS InvoiceTotal, ISNULL(dep.DepositAmt, 0) AS TotalPayment
		, CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
			THEN 0 
			ELSE ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
					+ ISNULL(TaxAmtAdjFgn, 0) - ISNULL(dep.DepositAmt, 0) END AS TotalDue, h.PrintOption
		, s.SiteID AS ShipToID, s.Name AS ShipToName, s.Attention AS ShipToAttn, s.Address1 AS ShipToAddr1
		, s.Address2 AS ShipToAddr2, s.City AS ShipToCity, s.Region AS ShipToRegion
		, s.PostalCode AS ShipToPostalCode, s.Country AS ShipToCountry, h.SourceId
	FROM #Temp l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		INNER JOIN dbo.tblArTermsCode t ON h.TermsCode = t.TermsCode 
		INNER JOIN dbo.tblArCust c ON c.CustId = h.CustId 
		LEFT JOIN 
		(
			SELECT TransId, MAX(ProjectDetailId) AS ProjectDetailId 
			FROM dbo.tblPcInvoiceDetail 
			GROUP BY TransId
		) d ON h.TransId = d.TransId 
		LEFT JOIN dbo.tblPcProjectDetail pd ON pd.Id = d.ProjectDetailId 
		LEFT JOIN dbo.trav_PcProject_view p ON pd.ProjectId = p.Id 
		LEFT JOIN dbo.tblPcProjectDetailSiteInfo s ON s.ProjectDetailID = p.ProjectDetailID 
		LEFT JOIN #TaxSummary x ON h.TransId = x.TransId 
		LEFT JOIN #tmpdeposit dep ON h.TransId = dep.TransId 
	ORDER BY h.TransId

	-- detail info
	SELECT d.TransId, d.EntryNum, p.ProjectName AS ProjectId, v.[Description] AS ProjectName, t.PhaseId
		, s.[Description] AS PhaseName, t.TaskId, k.[Description] AS TaskName, a.[Type], a.ResourceId
		, d.Descr AS [Description], d.AddnlDesc AS AdditionalDescription, d.Qty, d.TaxClass, ExtPriceFgn AS ExtPrice
		, CASE WHEN d.Qty = 0 THEN ExtPriceFgn ELSE ExtPriceFgn / d.Qty END AS UnitPrice, a.ActivityDate
	, d.LineSeq 
	FROM #Temp l 
		INNER JOIN dbo.tblPcInvoiceDetail d ON l.TransId = d.TransID 
		INNER JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id 
		INNER JOIN dbo.tblPcProjectDetail t ON a.ProjectDetailId = t.Id 
		INNER JOIN dbo.tblPcProject p ON t.ProjectId = p.Id 
		INNER JOIN dbo.trav_PcProject_view v ON p.Id = v.Id 
		LEFT JOIN dbo.tblPcPhase s ON t.PhaseId = s.PhaseId 
		LEFT JOIN dbo.tblPcTask k ON t.TaskId = k.TaskId 
	WHERE d.ExtPrice <> 0 OR d.ZeroPrint = 1 
	ORDER BY d.TransId, d.LineSeq, d.EntryNum

	-- totals
	SELECT h.CurrencyID
		, COUNT(h.TransId) AS [InvoicesPrinted]
		, SUM(SIGN(h.TransType) * TaxSubtotalFgn) AS [Taxable]
		, SUM(SIGN(h.TransType) * NonTaxSubtotalFgn) AS [Nontaxable]
		, SUM(SIGN(h.TransType) * SalesTaxFgn + TaxAmtAdjFgn) AS [SalesTax]
		, SUM(SIGN(h.TransType) * ISNULL(dep.DepositAmt, 0)) AS [Prepaid]
		, SUM(SIGN(h.TransType) * ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) 
			+ ISNULL(SalesTaxFgn, 0) + ISNULL(TaxAmtAdjFgn, 0)) AS [InvoiceTotal]
		, SUM(CASE WHEN h.TransType < 0 --return 0 for TotalDue on Credit Transactions
				THEN 0 
				ELSE ISNULL(TaxSubtotalFgn, 0) + ISNULL(NonTaxSubtotalFgn, 0) + ISNULL(SalesTaxFgn, 0) 
						+ ISNULL(TaxAmtAdjFgn, 0) - ISNULL(dep.DepositAmt, 0) END) AS [NetDue] 
	FROM #Temp l 
		INNER JOIN dbo.tblPcInvoiceHeader h ON l.TransId = h.TransId 
		LEFT JOIN #tmpdeposit dep ON h.TransId = dep.TransId 
	GROUP BY h.CurrencyID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrintInvoices_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcPrintInvoices_proc'
GO
