USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcGetCustIdFromMailId_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcGetCustIdFromMailId_proc] @DocId      BIGINT,
                                                   @MailId     NVARCHAR(15),
                                                   @MailIDGS   NVARCHAR(15),
                                                   @KeyVal     NVARCHAR(75), 
                                                   @PartnerId  BIGINT OUT,
                                                   @CustId     pCustID OUT
 AS
 
    BEGIN TRY
      
      SET NOCOUNT ON

      DECLARE @MailIDKeyType SMALLINT,
	          @CountOfRecsOverride INT,  
              @CountOfRecsBase INT,  
              @MultiplePartnersUseSameMailIdYN BIT
      
	  SELECT @PartnerId='', @CustId='',@MultiplePartnersUseSameMailIdYN=0,@CountOfRecsOverride=0,@CountOfRecsBase=0

      CREATE TABLE #tOvr (MailId NVARCHAR(50),PartnerId BIGINT,CustId NVARCHAR(20),OverrideKeyVal NVARCHAR(50),OverrideKeyValConverted NVARCHAR(50)) -- ShipToCode VARCHAR(30),ShipToId VARCHAR(30))
   
      IF ISNULL(@DocId,'') = '' RETURN 10
   
      IF ISNULL(@MailId,'')= '' RETURN 20

	  SELECT @CountOfRecsOverride =(SELECT COUNT(*)
						            FROM (SELECT DISTINCT CustId,PartnerId 
                                          FROM tblEcPartnerDocOverride o
                                          WHERE o.MailId=@MailId AND o.DocID=@DocId AND (ISNULL(@MailIDGS,'')='' OR o.MailIdGS= @MailIDGS) 
                                          GROUP BY CustId,PartnerId) x)
	   
	  SELECT @CountOfRecsBase =(SELECT COUNT(*)
						            FROM (SELECT DISTINCT p.DfltCustID,pd.PartnerID
                                          FROM tblEcPartnerDoc pd
										  INNER JOIN tblEcPartner p ON pd.PartnerID=p.ID 
                                          WHERE pd.MailId=@MailId AND pd.DocID=@DocId AND (ISNULL(@MailIDGS,'')='' OR pd.MailIdGS= @MailIDGS) 
                                          GROUP BY p.DfltCustID,pd.PartnerID) x)
      
	  SELECT @CountOfRecsBase=ISNULL(@CountOfRecsBase,0),@CountOfRecsOverride=ISNULL(@CountOfRecsOverride,0)
	  

	  IF @CountOfRecsOverride=0
	  BEGIN
	     IF @CountOfRecsBase=1
		 BEGIN 
		    SELECT @PartnerId=pd.PartnerID,@CustId=p.DfltCustId
                   FROM tblEcPartnerDoc pd
				   INNER JOIN tblEcPartner p ON pd.PartnerID=p.ID 
                   WHERE pd.MailId=@MailId AND pd.DocID=@DocId  AND (ISNULL(@MailIDGS,'')='' OR pd.MailIdGS= @MailIDGS) 
		 END 
		 ELSE
		 BEGIN
		     -- nothing in override and nothing of more than one in base is an error
		     RETURN 50
		 END
	  END 	
	  
	  IF @CountOfRecsOverride=1
	  BEGIN 
	      SELECT @PartnerId=o.PartnerID,@CustId=o.CustId
          FROM tblEcPartnerDocOverride o
          INNER JOIN tblEcPartner p ON o.PartnerId=p.ID 
          WHERE o.MailId=@MailId AND o.DocID=@DocId  AND (ISNULL(@MailIDGS,'')='' OR o.MailIdGS= @MailIDGS) 
	  END  

	  IF @CountOfRecsOverride>1
	  BEGIN 
	      

		  -- get the mail key type 
	      SELECT @MailIDKeyType=y.MailIDKeyType
          FROM  (SELECT MailID,MAX (MailIDKeyType) MailIDKeyType
                 FROM   (SELECT  MailID,MAX (MailIDKeyType) MailIDKeyType
                         FROM tblEcPartnerDoc
                         GROUP BY MailID
                         UNION ALL
                         SELECT o.MailId,MAX (p.MailIDKeyType) MailIDKeyType 
                         FROM tblEcPartnerDoc p
                         INNER JOIN tblEcPartnerDocOverride o ON p.PartnerID=o.PartnerId AND p.DocID=o.DocID
                         GROUP BY o.MailId) x
                  WHERE MailID=@MailId 
			      GROUP BY MailId) y 
	  
	      SELECT @MailIDKeyType=ISNULL(@MailIDKeyType,0)

		  INSERT INTO #tOvr (MailId,PartnerId,CustId,OverrideKeyVal,OverrideKeyValConverted)
		  SELECT DISTINCT MailId,PartnerId,CustId,KeyVal,KeyVal 
          FROM tblEcPartnerDocOverride o
          WHERE o.MailId=@MailId AND o.DocID=@DocId AND (ISNULL(@MailIDGS,'')='' OR o.MailIdGS= @MailIDGS)   
          GROUP BY MailId,PartnerId,CustId,KeyVal
		  

		  IF @MailIDKeyType=1
		  BEGIN
		       UPDATE t SET OverrideKeyValConverted=CASE WHEN ISNULL(st.ShiptoId,'')<>'' THEN st.EDIShipToCode ELSE NULL END 
			   FROM #tOvr t
			   LEFT JOIN  (SELECT a.CustId, a.ShiptoId, a.[EDIShipToCode]
  	                       FROM dbo.[tblArShipTo] a
	                      ) st
	                      ON t.CustId=st.CustId  AND t.OverrideKeyVal=st.ShiptoId
		  END 
 


          IF (SELECT COUNT (*) FROM #tOvr t WHERE OverrideKeyValConverted=@KeyVal) >1 
		  BEGIN
		     RETURN 70
		  END  

	      SELECT @PartnerId=PartnerID,@CustId=CustId
          FROM #tOvr t     
          WHERE ISNULL(OverrideKeyValConverted,'')=@KeyVal


	  END  

      SELECT @PartnerId=ISNULL(@PartnerId,''),
             @CustId=ISNULL(@CustId,'')
 END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetCustIdFromMailId_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcGetCustIdFromMailId_proc'
GO
