USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoShipToAddressList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoShipToAddressList_proc]
@SortBy BIT = NULL
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT CASE @SortBy WHEN 0 THEN s.ShiptoId ELSE PostalCode END SortBy, s.ShiptoId, ShiptoName, Addr1, Addr2, City, Region, Country, PostalCode, IntlPrefix, Phone, Fax, Attn, ShipVia, 
			TaxLocID, DistCode, Email, Internet, ts, CF
	FROM dbo.tblPoShipTo s INNER JOIN #tmpShipToList t ON s.ShiptoId = t.ShiptoId

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoShipToAddressList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoShipToAddressList_proc'
GO
