USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApVoidPaymentWrite_Br_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApVoidPaymentWrite_Br_proc]
AS

SET NOCOUNT ON
BEGIN TRY
	
	UPDATE b
	SET b.VoidStop = 1,b.ClearedYn = 1,b.Amount = 0,b.AmountFgn = 0,
		b.VoidDate = t.VoidDate,b.VoidPd = t.VoidFiscalPeriod,
		b.VoidYear = t.VoidFiscalYear,b.VoidAmt = - t.SumPaymentAmtBase,
		b.VoidAmtFgn = - t.SumPaymentAmt,b.VoidTransID = NULL
	FROM dbo.tblBrMaster b
    INNER JOIN (
						SELECT h.BankId,NULLIF(h.PaymentNum, '') PaymentNum,
							h.PaymentDate,h.VendorID,t.VoidFiscalYear,t.VoidFiscalPeriod,
							t.VoidDate,sum(d.PaymentAmtBase) SumPaymentAmtBase,
							sum(d.PaymentAmt) SumPaymentAmt,h.PostRun +'|'+CONVERT(nvarchar(20),h.PaymentID) as PaymentHistoryLink
						FROM #PostTransList t
						INNER JOIN dbo.tblApPaymentHistHeader h ON t.TransId = h.ID
						INNER JOIN dbo.tblApPaymentHistDetail d ON h.ID = d.HeaderID
						GROUP BY h.BankId,h.PaymentNum,h.PaymentDate	,h.VendorID	,
						t.VoidFiscalYear,t.VoidFiscalPeriod,t.VoidDate,h.PostRun,h.PaymentID,t.[Status] having  t.[Status] = 0
					) t 	
	ON b.PaymentHistoryLink = t.PaymentHistoryLink	
	WHERE b.SourceApp = 'AP'	OR b.SourceApp = 'PO' 

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Br_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApVoidPaymentWrite_Br_proc'
GO
