USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArCustomerSalesReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArCustomerSalesReport_proc]
@FiscalPeriod smallint,
@FiscalYear smallint,
@PrintItemDetail bit,
@SortBy tinyint
AS
--PET:http://webfront:801/view.php?id=225146
--PET:http://webfront:801/view.php?id=225168
--PET:http://webfront:801/view.php?id=236678&history=1#history
SET NOCOUNT ON
BEGIN TRY
	DECLARE @NumInvcTotal int, @SalesTotal [decimal](28,10), @ProfitTotal [decimal](28,10)

	CREATE TABLE #Cust
	(
		CustId [nvarchar](10) NOT NULL,
		CustSales [decimal](28,10) NOT NULL,
		CustProfit [decimal](28,10) NOT NULL,
		CustNumInvc int,
		PRIMARY KEY (CustId) 
	)

	CREATE TABLE #ItemDetail
	(
		CustId [nvarchar](10) NOT NULL, 
		PartId [nvarchar](24) NOT NULL, 
		PartType tinyint NOT NULL, 
		BaseUnit [nvarchar](5) NOT NULL, 
		Qty [decimal](28,10) NOT NULL, 
		Sales [decimal](28,10) NOT NULL, 
		Profit [decimal](28,10) NOT NULL, 
		NumInvc int, 
		PRIMARY KEY (CustId, PartId, PartType, BaseUnit)
	)

	--PET:225146, PET:225168
	--capture the invoice totals by customer
	INSERT INTO #Cust (CustId, CustSales, CustProfit, CustNumInvc) 
	SELECT t.CustId
		, Sum(SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal)) 
		, Sum(SIGN(TransType) * (TaxSubtotal + NonTaxSubtotal - TotCost))
		, Sum(CASE WHEN TransType > 0 THEN 1 ELSE 0 END)
	FROM #tmpCustomerList t 
	INNER JOIN dbo.tblArHistHeader h ON t.CustId = h.CustId
	WHERE h.FiscalYear = @FiscalYear AND h.GLPeriod = @FiscalPeriod
		AND h.VoidYn = 0 --exclude voids 
	GROUP BY t.CustId
		
	
	--capture the item detail
	INSERT INTO #ItemDetail (CustId, PartId, PartType, BaseUnit, Qty, Sales, Profit, NumInvc ) 
	SELECT h.CustId, ISNULL(d.PartId, ''), ISNULL(d.PartType, 0), ISNULL(d.BaseUnit, '')
		, SUM(d.Qty), SUM(d.Sales), SUM(d.Sales - d.Cogs)
		, SUM(CASE WHEN TransType > 0 THEN 1 ELSE 0 END)
	FROM dbo.tblArHistHeader h 
	INNER JOIN (SELECT th.PostRun, th.TransId
			, td.PartId, td.PartType, td.UnitsBase AS BaseUnit
			, SUM(td.QtyShipBase * SIGN(th.TransType)) AS Qty
			, SUM(td.PriceExt * SIGN(th.TransType)) AS Sales
			, SUM(td.CostExt * SIGN(th.TransType)) AS Cogs
		FROM #Cust c
		INNER JOIN dbo.tblArHistHeader th on c.CustId = th.CustId
		INNER JOIN dbo.tblArHistDetail td ON th.PostRun = td.PostRun AND th.TransId = td.TransID
		WHERE th.FiscalYear = @FiscalYear AND th.GLPeriod = @FiscalPeriod
			AND th.VoidYn = 0 AND td.EntryNum > 0 AND td.[GrpId] IS NULL --exclude voids, special detail entries and kit components
		GROUP BY th.PostRun, th.TransId, td.PartId, td.PartType, td.UnitsBase
		) d
	ON h.PostRun = d.PostRun AND h.TransId = d.TransId
	GROUP BY h.CustId, ISNULL(d.PartId, ''), ISNULL(d.PartType, 0), ISNULL(d.BaseUnit, '')


	--calculate the report totals
	SELECT @SalesTotal = ISNULL(SUM(CustSales), 0)
		   , @ProfitTotal = ISNULL(SUM(CustProfit), 0)
		   , @NumInvcTotal = ISNULL(SUM(CustNumInvc), 0)
	FROM #Cust


	/*** TABLE ***/
	--return the results
	SELECT *
	INTO #tmpGrp 
	FROM (
	SELECT CASE @SortBy
			WHEN 0 THEN c.CustId
			WHEN 1 THEN c.CustName
			WHEN 2 THEN c.ClassId
			WHEN 3 THEN c.SalesRepId1
		  END AS GrpId1
		  , @NumInvcTotal AS NumInvcTotal, @SalesTotal AS SalesTotal, @ProfitTotal AS ProfitTotal
		  , c.CustId, c.CustName, c.ClassId, c.SalesRepId1 AS RepId
		  , g.CustSales AS Sales, g.CustProfit AS Profit, g.CustNumInvc AS NumInvc
		  -- Added code for Totals
		  , ISNULL(i.InventoriedSales, 0) AS InventoriedSales, 
		  ISNULL(i.InventoriedProfit, 0) AS InventoriedProfit,
		  CASE WHEN @SalesTotal = 0 THEN 0 ELSE g.CustSales/@SalesTotal*100 END AS SalesPctDetail,
		  CASE WHEN @ProfitTotal = 0 THEN 0 ELSE g.CustProfit/@ProfitTotal*100 END AS ProfitPctDetail,
		  CASE WHEN (g.CustNumInvc) = 0 THEN 0 ELSE (g.CustSales) / CASE WHEN (g.CustNumInvc) = 0 THEN 1 ELSE (g.CustNumInvc) END END AS AvgInvoiceDetail,
		  CASE WHEN g.CustNumInvc = 0 OR @SalesTotal = 0 THEN 0 ELSE (g.CustSales/g.CustNumInvc/@SalesTotal)*100 END AS AvgInvoicePctDetail,
		  CASE WHEN @NumInvcTotal = 0 THEN 0 ELSE g.CustNumInvc/CONVERT(DECIMAL(10,6),@NumInvcTotal)*100 END AS NoOfinvoicesPct
	FROM #Cust g
	INNER JOIN dbo.tblArCust c ON g.CustId = c.CustId
	LEFT JOIN (SELECT CustId, SUM(Sales) InventoriedSales, SUM(Profit) InventoriedProfit
		FROM #ItemDetail
		WHERE PartType <> 0
		GROUP BY CustId) i ON g.CustId = i.CustId
		) ds


	SELECT *, 
	CASE WHEN (ds.NumInvc) = 0 THEN 0 ELSE SUM(ds.Sales)OVER(PARTITION BY ds.GrpId1) END / CASE WHEN (ds.NumInvc) = 0 THEN 1 ELSE SUM(ds.NumInvc)OVER(PARTITION BY ds.GrpId1) END AS AvgInvoiceDetailGroup,
	((CASE WHEN SUM(NumInvc)OVER(PARTITION BY ds.GrpId1) = 0 Or SalesTotal = 0 THEN 0 ELSE SUM(Sales)OVER(PARTITION BY ds.GrpId1) END 
	/ CASE WHEN SUM(NumInvc)OVER(PARTITION BY ds.GrpId1) = 0 THEN 1 ELSE SUM(NumInvc)OVER(PARTITION BY ds.GrpId1) END 
	/ CASE WHEN SalesTotal = 0 THEN 1 ELSE SalesTotal END)* 100) AS AvgInvoicePctDetailGroup

	FROM #tmpGrp ds

	/*** TABLE 1 ***/
	--conditionally return the item details
	SELECT CASE @SortBy
			WHEN 0 THEN c.CustId
			WHEN 1 THEN c.CustName
			WHEN 2 THEN c.ClassId
			WHEN 3 THEN c.SalesRepId1
		  END AS GrpId1
		  , @NumInvcTotal AS NumInvcTotal, @SalesTotal AS SalesTotal, @ProfitTotal AS ProfitTotal
		  , c.CustId, d.PartId, d.PartType, d.Qty, d.BaseUnit
		  , d.Sales, d.Profit, d.NumInvc,
		  -- Added code for Totals
		  CASE WHEN @SalesTotal = 0 THEN 0 ELSE d.Sales/@SalesTotal*100 END AS SalesPct,
		  CASE WHEN @ProfitTotal = 0 THEN 0 ELSE (d.Profit/CASE WHEN @ProfitTotal = 0 THEN 1 ELSE @ProfitTotal END)*100 END AS ProfitPct,
		  CASE WHEN d.NumInvc = 0 THEN 0 ELSE d.Sales/d.NumInvc END AS AvgInvoice,
		  CASE WHEN d.NumInvc = 0 OR @SalesTotal = 0 THEN 0 ELSE (d.Sales/d.NumInvc/@SalesTotal)*100 END AS AvgInvoicePct
	FROM #Cust g
	INNER JOIN dbo.tblArCust c ON g.CustId = c.CustId
	INNER JOIN #ItemDetail d ON g.CustId = d.CustId
	WHERE @PrintItemDetail = 1 

	/*** TABLE 2 ***/
	SELECT CASE WHEN @NumInvcTotal = 0 THEN 0 ELSE SUM(ISNULL(g.CustSales, 0))/@NumInvcTotal END AS AvgInvoiceGrandTotal,
	CASE WHEN @NumInvcTotal = 0 THEN 0 ELSE SUM(ISNULL(i.InventoriedSales, 0))/@NumInvcTotal END AS AvgInvoiceGrandTotalItems,	
	CASE WHEN @SalesTotal = 0 THEN 0 ELSE SUM(ISNULL(i.InventoriedSales, 0))/@SalesTotal * 100 END AS AvgInvoicePctGrandTotalItems
	FROM #Cust g
	INNER JOIN dbo.tblArCust c ON g.CustId = c.CustId
	LEFT JOIN (SELECT CustId, SUM(Sales) InventoriedSales, SUM(Profit) InventoriedProfit
		FROM #ItemDetail
		WHERE PartType <> 0
		GROUP BY CustId) i ON g.CustId = i.CustId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH

GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerSalesReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArCustomerSalesReport_proc'
GO
