USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMTransferPost_Prepare_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMTransferPost_Prepare_proc]
AS
BEGIN TRY  
 DECLARE @PrecCurr tinyint,@ApplyXferCostAdj tinyint,@PrecUnitCost tinyint
 
 SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'   
 SELECT @ApplyXferCostAdj = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'ApplyXferCostAdj' 
 SELECT @PrecUnitCost = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecUnitCost'   
  
 IF @PrecCurr IS NULL OR @ApplyXferCostAdj IS NULL OR @PrecUnitCost IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END 

--Temp table #PostIdList(Created from BL)- Contains postable Tranfer
--CREATE TABLE #PostIdList( Id bigint NOT NULL PRIMARY KEY CLUSTERED ([Id]))

--Temp table #WMTranferPost(Created from BL)- Used to load pick and receipt
--create table #WMTranferPost(
--		TranKey bigint,
--		TranPickKey bigint,
--		TransType tinyint,/*0=Pick/1=Receipt*/
--		TransDate datetime,
--		ItemId pItemId,
--		LocId pLocId,
--		ExtCost pDecimal,
--		GlPeriod smallint,
--		FiscalYear smallint,
--		AdjLocId pLocId,
--     Status tinyint,
--     QtyBase pDecimal)
	
--Load Pick  	
Insert into #WMTranferPost (TranKey, TranPickKey, TransType, TransDate
	, ItemId, LocId,ExtCost, GlPeriod, FiscalYear, AdjLocId,[Status],QtyBase)
	Select t.TranKey, p.TranPickKey, 0, p.EntryDate
	, p.ItemId, p.LocId
	, isnull(Round(p.Qty * p.UnitCost, @PrecCurr), 0)
	, p.GlPeriod, p.GlYear
	, Case When @ApplyXferCostAdj = 0 Then t.LocId Else t.LocIdTo End -- Use Bus rule  Apply Transfer Cost/Adjustment
	,p.[Status],
	0 -- Pick Qty not used
	From #PostIdList s
	Inner Join dbo.tblWmTransfer t on s.Id = t.TranKey
	Inner Join dbo.tblWmTransferPick p on t.TranKey = p.TranKey

	
--Load Receipt 
Insert into #WMTranferPost (TranKey, TranPickKey, TransType, TransDate
	, ItemId, LocId,ExtCost, GlPeriod, FiscalYear, AdjLocId,[Status],QtyBase)
	Select t.TranKey, p.TranPickKey, 1, r.EntryDate
	, r.ItemId, r.LocId
	, isnull(Round(r.Qty * r.UnitCost, @PrecCurr), 0)
	, r.GlPeriod, r.GlYear
	, Case When @ApplyXferCostAdj = 0 Then t.LocId Else t.LocIdTo End -- Use Bus rule  Apply Transfer Cost/Adjustment
	,r.[Status]
	, isnull(Round(CAST(r.Qty AS decimal(23,10)) * CAST(u.ConvFactor AS decimal(23,10)), @PrecUnitCost), 0) -- Receipt Qty in base units
	From #PostIdList s
	Inner Join dbo.tblWmTransfer t on s.Id = t.TranKey
	Inner Join dbo.tblWmTransferPick p on t.TranKey = p.TranKey
	Inner Join dbo.tblWmTransferRcpt r on p.TranPickKey = r.TranPickKey
	Inner Join dbo.tblInItemUom u On r.ItemId = u.ItemId and r.UOM = u.Uom
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMTransferPost_Prepare_proc'
GO
