USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_BuildOrderList_MP_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_BuildOrderList_MP_proc]
@LocId pLocId
AS
BEGIN TRY
	SET NOCOUNT ON
	DECLARE @PrecQty pDecimal,
			@POReqPickingYn BIT = 0
		
	--Retrieve global values
	SELECT @PrecQty = Cast([Value] AS decimal(28, 10)) FROM #GlobalValues WHERE [Key] = 'PrecQty'
	
	SELECT @POReqPickingYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'POReqPickingYn'

	IF @PrecQty IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

Insert into #OrderList(SourceId, TransId, EntryNum, SeqNum, CustId, CustName, PickNum  
  , ItemId, LocId, LotNum, ExtLocA, ExtLocB, UOM, QtyReq, ReqDate  
  , GrpId, OriCompQty, QtyOrdered, Ref1, Ref2, Ref3, ZoneId, ExtLocAId, ExtLocBId, ReferenceId, ReferenceName, Notes, ItemDescription)
  Select 1, 'MFP', s.TransId, s.SeqNum, cust.CustId, cust.CustName,Null  
  , s.ComponentId, s.LocId, s.LotNum, s.ExtLocA, s.ExtLocB, s.UOM, Case When s.ExtQtyReq is Null   
																   Then Case When (s.EstQtyRequired - Round((isnull(d.Qty, 0) / u.ConvFactor), @PrecQty)) > 0   
																	Then (s.EstQtyRequired - Round((isnull(d.Qty, 0) / u.ConvFactor), @PrecQty))   
																	Else 0 End  
																   Else Case When s.ExtQtyReq > 0 Then s.ExtQtyReq Else 0 End  
																  End, Cast(s.RequiredDate AS Date)
  , Null, 0, ISNULL(s.QtyRequired, s.EstQtyRequired) as QtyOrdered, s.OrderNo, s.ReleaseNo, s.ReqID, s.ZoneID, s.ExtLocAId, s.ExtLocBId, cust.CustId, cust.CustName, s.Notes, s.ItemDescription
  From
   (
   Select s1.TransId, isnull(e.SeqNum, 0) SeqNum, rel.CustId, s1.ComponentType, s1.ComponentId, s1.LocId, s1.UOM  
   , req.EstStartDate AS RequiredDate, rel.OrderNo, rel.ReleaseNo, req.ReqId  
   , e.LotNum, e.ExtLocA, elb.ExtLocID as ExtLocAId, e.ExtLocB, elc.ExtLocID as ExtLocBId, (e.QtyRequired - e.QtyFilled) ExtQtyReq, s1.EstQtyRequired, elb.ZoneID, e.QtyFilled, e.QtyRequired
   , CAST(rel.Notes as nvarchar(50)) [Notes], i.Descr AS ItemDescription
   From dbo.tblMpMatlSum s1    
   LEFT JOIN dbo.tblInItem i ON i.ItemId = s1.ComponentId
   INNER JOIN  tblMpRequirements req ON req.TransId =s1.TransId 
   INNER JOIN  tblMpOrderReleases rel ON rel.Id=req.ReleaseId    
   LEFT JOIN  dbo.tblMpMatlSumExt e  ON s1.TransId = e.TransId
   LEFT JOIN dbo.tblWmExtLoc elb ON elb.Id = e.ExtLocA AND elb.[Type] = 0 --bins
   LEFT JOIN dbo.tblWmExtLoc elc ON elc.Id = e.ExtLocB AND elc.[Type] = 1 --containers
   LEFT JOIN dbo.tblSmTransLink l ON s1.[LinkSeqNum] = l.[SeqNum]
   WHERE s1.[Status] <> 6 ----Not Completed   
	AND (l.SeqNum IS NULL OR l.TransLinkType = 1 OR l.SourceStatus = 2 OR l.DestStatus = 2 OR ((l.TransLinkType = 0 AND l.DropShipYn=0) AND NOT (l.TransLinkType = 0 AND l.DropShipYn = 0 AND l.DestType IN (1,2) AND @POReqPickingYn = 0))) --((transaction linked and not DropShipped) or link is broken)
	AND s1.LocId = ISNULL(@LocId, s1.LocId)
   )s  
   LEFT JOIN  
  (
  Select dtl.TransId, dtl.ComponentId, dtl.LocId, CAST(Sum(Round(CAST(dtl.Qty AS decimal(23,10)) * CAST(dtlUom.ConvFactor AS decimal(23,10)), @PrecQty)) AS decimal(23,10))  Qty
  From dbo.tblMpMatlDtl dtl   
  INNER JOIN  dbo.tblInItemUom dtlUom ON dtl.ComponentId=dtlUom.ItemId  AND  dtlUom.Uom=dtl.UOM 
  Group By dtl.TransId, ComponentId, LocId
  )d ON s.TransId = d.TransId AND s.ComponentId = d.ComponentId AND s.LocId = d.LocId --can't include item/loc alternates  
  INNER JOIN  dbo.tblInItem i ON i.ItemId = s.ComponentId  
  INNER JOIN  dbo.tblInItemUom u ON u.ItemId =s.ComponentId AND u.Uom=s.UOM 
  LEFT JOIN  dbo.tblArCust cust ON cust.CustId = s.CustId
  Where (s.ComponentType = 3 Or s.ComponentType = 4) --material components  
  AND (s.EstQtyRequired - Round((isnull(d.Qty, 0) / u.ConvFactor), @PrecQty)) > 0  AND (i.ItemType <> 3)  
  AND ISNULL(s.QtyRequired,0) > 0 --has quantity to process in tblMpMatlSumExt
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_MP_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_BuildOrderList_MP_proc'
GO
