USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcCrDbAdjImport_Select_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcCrDbAdjImport_Select_proc]
@EdiCrDbAdjItemId nvarchar(24) = NULL
AS
SET NOCOUNT ON

BEGIN TRY 
	CREATE TABLE #selHeader (
		Transid int identity(1,1) not null primary key,
		ImportBatchId varchar(14) null,
		KeyLevelSeq1 int null,
		PartnerID varchar(12) null,
		CustId varchar(10) null,
		ClaimNumber varchar(50) null,
		ClaimDate datetime null,
		TransDate datetime null,
		TransType varchar(20) null,
		TotalAmount decimal(20,10) null,
		depNum varchar(50) null,
		Notes varchar(550) null,
		PartnerName varchar(50) null,
		) 

	 CREATE TABLE #selDetail (
		Transid int not null,
		ImportBatchId varchar(14) null,
		KeyLevelSeq1 int null,
		KeyLevelSeq2 int null,
		itemid varchar(50) null,
		itemtype int null,
		AdjReasonCode varchar(50) null,
		SkuNum varchar(50) null,
		VendorPartNum varchar(50) null,
		OrgCustPoNum varchar(50) null,
		UnitofMeasure varchar(50) null,
		Quantity decimal(20,10) null,
		UnitCostPrice decimal(20,10) null,
		descr varchar(35) null,
		AddnlDescr varchar(255) null,
		CrossRefNum varchar(50) null) 
 
 
	 -- select records to process 
 
	INSERT INTO #selHeader (ImportBatchId, KeyLevelSeq1, PartnerID, CustId, ClaimNumber, TransDate, TransType, TotalAmount, depNum, Notes, ClaimDate, PartnerName)
	SELECT h.ImportBatchId, h.KeyLevelSeq1, p.PartnerID, h.CustId, right('0000000000'+h.ClaimNumber,10), h.TransDate, h.CreditDebitFlagCode, isnull(h.TotalAmount,'0'), DeptNum, 
		'Department ' + isnull(DeptNum,'') +'; '+ 'EDI Import Batch Id '+ h.ImportBatchId +'; '+ 'EDI Key Seq '+ cast(h.KeyLevelSeq1 as varchar), h.FinalizedClaimDate,
		p.PartnerName
	FROM #Edi812HeaderList t 
		INNER JOIN dbo.tblEcCreditDebitAdjHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1 
		INNER JOIN dbo.tblEcPartner p ON h.PartnerID=p.ID
	WHERE t.validyn=1 
 
	INSERT INTO #selDetail (transid, ImportBatchId, KeyLevelSeq1, KeyLevelSeq2, AdjReasonCode, SkuNum, VendorPartNum, OrgCustPoNum, UnitofMeasure, 
		Quantity, UnitCostPrice, Descr, AddnlDescr, CrossRefNum, itemid, itemtype) 
	SELECT t.Transid, t.ImportBatchId, t.KeyLevelSeq1, d.KeyLevelSeq2, d.AdjReasonCode, d.SkuNum, d.VendorPartNum, d.OrgCustPoNum, d.UnitofMeasure, 
		isnull(d.CreditDebitQuantity,'0'), isnull(d.UnitCostPrice,'0'), 'RTN-' +ltrim(rtrim(isnull(d.vendorPartNum ,''))) descr, d.[Description] AddnlDescr, d.CrossRefNum, @EdiCrDbAdjItemId, 3
	FROM #selHeader t 
		INNER JOIN dbo.tblEcCreditDebitAdjHeader h ON t.ImportBatchId=h.ImportBatchId AND t.KeyLevelSeq1=h.KeyLevelSeq1 
		INNER JOIN dbo.tblEcCreditDebitAdjDetail d ON h.ID=d.HeaderID
 
	SELECT *
	FROM #selHeader
	ORDER BY ImportBatchId, KeyLevelSeq1
 
	SELECT *
	FROM #selDetail
	ORDER BY ImportBatchId, KeyLevelSeq1, KeyLevelSeq2
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_Select_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjImport_Select_proc'
GO
