USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmViewsInquiry_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmViewsInquiry_proc]
@Container NVARCHAR(10),  
@ItemId NVARCHAR(24),  
@BinNumber NVARCHAR(10),  
@LotNumber NVARCHAR(16),  
@SerialNumber NVARCHAR(35),  
@LocId NVARCHAR(10)
AS  
SET NOCOUNT ON  
BEGIN TRY  
  
--drop table #ItemList  
 CREATE TABLE #ItemList  
 (  
  [ItemId] [nvarchar](24) NULL,  
  [LocId] [nvarchar](10) NOT NULL,   
  UNIQUE NONCLUSTERED ([ItemId], [LocId])  
 )  
 --drop table #QuantityTrans  
 CREATE TABLE #QuantityTrans  
 (  
  [Id] [Int] NOT NULL IDENTITY(1, 1),  
  [ItemId] [nvarchar](24) NULL,  
  [LocId] [nvarchar](10) NOT NULL,   
  [LotNum] [nvarchar](16) NULL,   
  [SerNum] [nvarchar](35) NULL,   
  [ExtLocA] [Int] NULL,  
  [ExtLocB] [Int] NULL,  
  [QtyOnHand] [decimal](28,10) NOT NULL,  
  PRIMARY KEY ([Id])  
 )  
 --drop table #QuantityDetail  
 CREATE TABLE #QuantityDetail  
 (  
  [Id] [Int] NOT NULL IDENTITY(1, 1),  
  [ItemId] [nvarchar](24) NULL,  
  [LocId] [nvarchar](10) NOT NULL,   
  [LotNum] [nvarchar](16) NULL,   
  [SerNum] [nvarchar](35) NULL,   
  [ExtLocA] [Int] NULL,  
  [ExtLocAId] [nvarchar](10),   
  [ExtLocB] [Int] NULL,  
  [ExtLocBId] [nvarchar](10),   
  [QtyOnHand] [decimal](28,10) NOT NULL,  
  PRIMARY KEY ([Id])  
 )

 CREATE TABLE #ExtLoc
 (
	Id BigInt Not Null Primary Key,
	ExtLocId [nvarchar](10) NOT NULL,
	[Type] [smallint] NOT NULL,
 )
  
  IF(NULLIF(RTRIM(@LocId),'') IS NULL)
	SET @LocId = NULL
	
  IF(NULLIF(RTRIM(@ItemId),'') IS NULL)
	SET @ItemId = NULL

  IF(NULLIF(RTRIM(@Container),'') IS NULL)
	SET @Container = NULL

  IF(NULLIF(RTRIM(@BinNumber),'') IS NULL)
	SET @BinNumber = NULL
	
  IF(NULLIF(RTRIM(@LotNumber),'') IS NULL)
	SET @LotNumber = NULL
	
  IF(NULLIF(RTRIM(@SerialNumber),'') IS NULL)
	SET @SerialNumber = NULL

	--Store all the Bins and Containers to Process
	INSERT INTO #ExtLoc(ID, ExtLocId, [Type])
	SELECT E.Id, E.ExtLocID, E.[Type] 
	FROM dbo.tblWmExtLoc E
	WHERE E.[Type] = 0 AND E.LocID = @LocId AND (@BinNumber IS NULL OR E.ExtLocID = @BinNumber)--Load all bins or current bin to filter
	UNION ALL
	SELECT E.Id, E.ExtLocID, E.[Type] 
	FROM dbo.tblWmExtLoc E
	WHERE E.[Type] = 1 AND (@Container IS NULL OR E.ExtLocID = @Container) --Load all containers or current container to filter

 INSERT INTO #ItemList([ItemId], [LocId])   
 SELECT t.[ItemId], t.[LocId]   
 FROM (  
  SELECT i.[ItemId], l.[LocId]  
  FROM dbo.tblInItem i   
  INNER JOIN dbo.tblInItemLoc l ON i.[ItemId] = l.[ItemId] AND @LocId IS NOT NULL AND l.LocId = @LocId
  WHERE (@ItemId IS NULL OR l.ItemId = @ItemId)
  ) t  
  
 --capture the transactional quantity info (On Hand - total)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB  
  , QtyOnHand)  
 SELECT d.ItemId, d.LocId, d.LotNum, NULL, NULL, NULL   
  , (d.Qty - d.InvoicedQty - d.RemoveQty)  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQtyOnHand d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]
 WHERE @LotNumber IS NULL OR RTRIM(d.LotNum) = @LotNumber
  
 --capture the transactional quantity info (On Hand - reduce the Null ExtLoc Qtys by the total from tblInQtyOnHand_Ext)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB  
  , QtyOnHand)  
 SELECT d.ItemId, d.LocId, d.LotNum, NULL, NULL, NULL, -d.Qty  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQtyOnHand_Ext d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]
 WHERE @LotNumber IS NULL OR RTRIM(d.LotNum) = @LotNumber
  
 --capture the transactional quantity info (On Hand - Add in the detail for ExtLoc from tblInQtyOnHand_Ext)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, d.LotNum, NULL, d.ExtLocA, d.ExtLocB, d.Qty  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQtyOnHand_Ext d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]
 WHERE (@LotNumber IS NULL OR RTRIM(d.LotNum) = @LotNumber)
 AND (@BinNumber IS NULL OR d.ExtLocA IN (SELECT Id FROM #ExtLoc WHERE [Type] = 0 AND ExtLocId = @BinNumber))
 AND (@Container IS NULL OR d.ExtLocB IN (SELECT Id FROM #ExtLoc WHERE [Type] = 1 AND ExtLocId = @Container))
  
 --capture the transactional quantity info (committed - total)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, d.LotNum, NULL, NULL, NULL, 0  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQty d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]  
 WHERE d.TransType = 0--cmtd
 AND (@LotNumber IS NULL OR RTRIM(d.LotNum) = @LotNumber)
  
 --capture the transactional quantity info (committed - reduce the Null extLoc qtys by the total from tblInQty_Ext)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, NULL, NULL, NULL, NULL, 0  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQty_Ext d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]  
 WHERE d.TransType = 0 --cmtd  
  
 --capture the transactional quantity info (committed - Add in the detail for extloc from tblInQty_Ext)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, d.LotNum, NULL, d.ExtLocA, d.ExtLocB, 0  
 FROM #ItemList l  
 INNER JOIN dbo.tblInQty_Ext d ON l.[ItemId] = d.[ItemId] AND l.[LocId] = d.[LocId]  
 WHERE d.TransType = 0 --cmtd
 AND (@LotNumber IS NULL OR RTRIM(d.LotNum) = @LotNumber)
 AND (@BinNumber IS NULL OR d.ExtLocA IN (SELECT Id FROM #ExtLoc WHERE [Type] = 0 AND ExtLocId = @BinNumber))
 AND (@Container IS NULL OR d.ExtLocB IN (SELECT Id FROM #ExtLoc WHERE [Type] = 1 AND ExtLocId = @Container))
  
 --capture the transactional quantity info (serialized)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT q.ItemId, q.LocId, q.LotNum, q.SerNum, q.ExtLocA, q.ExtLocB  
  , CASE SerNumStatus WHEN 5 THEN 0 ELSE 1 END QtyOnHand  
 FROM #ItemList l  
 INNER JOIN dbo.tblInItemSer q ON l.[ItemId] = q.[ItemId] AND l.[LocId] = q.[LocId]  
 WHERE ((q.SerNumStatus = 1) OR (q.SerNumStatus = 2) OR (q.SerNumStatus = 5))
 AND (@LotNumber IS NULL OR RTRIM(q.LotNum) = @LotNumber)
 AND (@BinNumber IS NULL OR q.ExtLocA IN (SELECT Id FROM #ExtLoc WHERE [Type] = 0 AND ExtLocId = @BinNumber))
 AND (@Container IS NULL OR q.ExtLocB IN (SELECT Id FROM #ExtLoc WHERE [Type] = 1 AND ExtLocId = @Container))
 AND (@SerialNumber IS NULL OR q.SerNum = @SerialNumber)
  
 --capture the transactional quantity info (Picked - Reqular item)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, e.LotNum, NULL, e.ExtLocA, e.ExtLocB  
  , 0 QtyOnHand  
 FROM dbo.tblSoTransHeader h   
 INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID  
 INNER JOIN dbo.tblSoTransDetailExt e ON d.TransId = e.TransId AND d.EntryNum = e.EntryNum   
 INNER JOIN dbo.tblInItemUom u ON d.ItemId = u.ItemId AND d.UnitsSell = u.Uom  
 INNER JOIN #ItemList l ON d.[ItemId] = l.[ItemId] AND d.[LocId] = l.[LocId]  
 WHERE h.TransType = 5 AND h.VoidYn = 0 AND e.QtyFilled <> 0
 AND (@LotNumber IS NULL OR RTRIM(e.LotNum) = @LotNumber)
 AND (@BinNumber IS NULL OR e.ExtLocA IN (SELECT Id FROM #ExtLoc WHERE [Type] = 0 AND ExtLocId = @BinNumber))
 AND (@Container IS NULL OR e.ExtLocB IN (SELECT Id FROM #ExtLoc WHERE [Type] = 1 AND ExtLocId = @Container))
  
 --capture the transactional quantity info (Picked - serialized item)  
 INSERT INTO #QuantityTrans (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocB, QtyOnHand)  
 SELECT d.ItemId, d.LocId, e.LotNum, e.SerNum, e.ExtLocA, e.ExtLocB  
  , 0.0 QtyOnHand  
 FROM dbo.tblSoTransHeader h   
 INNER JOIN dbo.tblSoTransDetail d ON h.TransId = d.TransID  
 INNER JOIN dbo.tblSoTransSer e ON d.TransId = e.TransId AND d.EntryNum = e.EntryNum   
 INNER JOIN #ItemList l ON d.[ItemId] = l.[ItemId] AND d.[LocId] = l.[LocId]  
 WHERE h.TransType = 5 AND h.VoidYn = 0
 AND (@LotNumber IS NULL OR RTRIM(e.LotNum) = @LotNumber)
 AND (@BinNumber IS NULL OR e.ExtLocA IN (SELECT Id FROM #ExtLoc WHERE [Type] = 0 AND ExtLocId = @BinNumber))
 AND (@Container IS NULL OR e.ExtLocB IN (SELECT Id FROM #ExtLoc WHERE [Type] = 1 AND ExtLocId = @Container))
 AND (@SerialNumber IS NULL OR e.SerNum = @SerialNumber)
  
 --summarize the base UOM quantity detail  
 INSERT INTO #QuantityDetail (ItemId, LocId, LotNum, SerNum, ExtLocA, ExtLocAId, ExtLocB, ExtLocBId,QtyOnHand)  
 SELECT l.ItemId, l.LocId, qt.LotNum, qt.SerNum, qt.ExtLocA, a.ExtLocId, qt.ExtLocB, b.ExtLocId  
  , isnull(SUM(qt.QtyOnHand), 0)  
 FROM #ItemList s  
 INNER JOIN dbo.tblInItemLoc l ON s.[ItemId] = l.[ItemId] AND s.[LocId] = l.[LocId]  
 INNER JOIN dbo.tblInItem i ON l.ItemId = i.ItemId  
 LEFT JOIN #QuantityTrans qt ON l.itemid = qt.itemid and l.locid = qt.LocId  
 LEFT JOIN #ExtLoc a ON qt.ExtLocA = a.Id  
 LEFT JOIN #ExtLoc b ON qt.ExtLocB = b.Id  
 LEFT JOIN dbo.tblInItemLocLot t ON qt.ItemId = t.ItemId AND qt.LocId = t.LocId AND qt.LotNum = t.LotNum  
 GROUP BY l.ItemId, l.LocId, qt.LotNum, qt.SerNum, qt.ExtLocA, a.ExtLocId, qt.ExtLocB, b.ExtLocId  
    
  
 --update the Uom to the default instead of base  
 -- and convert the base quantity values to the Default UOM  
 UPDATE #QuantityDetail SET QtyOnHand = #QuantityDetail.QtyOnHand / ISNULL(u.ConvFactor, 1.0)  
 FROM #QuantityDetail  
 INNER JOIN dbo.tblInItem i ON #QuantityDetail.ItemId = i.ItemId  
 LEFT JOIN dbo.tblInItemUomDflt ud ON ud.ItemId = i.itemId AND ud.DfltType = 1  
 LEFT JOIN dbo.tblInitemUom u ON i.ItemId = u.ItemId AND ISNULL(ud.Uom, i.UomDflt) = u.UOM    
  
  SELECT ItemId, RTRIM(LotNum) LotNum, SerNum, BIN, Container, QtyOnHand, Uom, LocId
  FROM (    
   SELECT i.[ItemId], q.[LotNum], q.[SerNum], q.[ExtLocAId] AS BIN, q.[ExtLocBId] AS Container, q.[QtyOnHand], ISNULL(ud.Uom, i.UomDflt) AS Uom, q.LocId
   FROM #QuantityDetail q     
   INNER JOIN dbo.tblInItem i ON q.[ItemId] = i.[ItemId]     
   INNER JOIN dbo.tblInItemLoc l ON q.[ItemId] = l.[ItemId] AND q.[LocId] = l.[Locid]    
   LEFT JOIN dbo.tblInItemUomDflt ud ON ud.ItemId = I.ItemId AND ud.DfltType = 1
   GROUP BY i.[ItemId], q.[LotNum], q.[SerNum], q.[ExtLocAId], q.[ExtLocBId], q.[QtyOnHand], i.[UomDflt], ud.Uom, q.LocId,i.LottedYN, i.ItemType
  ) ds    
  GROUP BY ds.[ItemId], ds.[LotNum], ds.[SerNum], ds.[BIN], ds.[Container], ds.[QtyOnHand], ds.[Uom], ds.LocId
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmViewsInquiry_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmViewsInquiry_proc'
GO
