USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbArPaymentHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbArPaymentHistory_proc]
@Prec tinyint = 2, 
@Wksdate datetime,
@InvcFinch [nvarchar](15) = 'FIN CHRG',
@CustId [nvarchar](10) = NULL, 
@BaseCurrencyId [nvarchar](6)

AS
BEGIN TRY
--PET:http://webfront:801/view.php?id=237636
--MOD:Finance Charge Enhancements
--PET:http://webfront:801/view.php?id=247189
--MOD:http://webfront:801/view.php?id=247969
--MOD:pDec to [decimal](28,10) NOT NULL
--PET:http://problemtrackingsystem.osas.com/view.php?id=259326

	SET NOCOUNT ON

	CREATE TABLE #ArPayments
	(
		CustId [nvarchar](10) NOT NULL, 
		PaymentsPTD [decimal](28,10) NOT NULL, 
		PaymentsYTD [decimal](28,10) NOT NULL, 
		DiscountsPTD [decimal](28,10) NOT NULL, 
		DiscountsYTD [decimal](28,10) NOT NULL, 
		DaysToPay int, 
		NumPmts int
	)

	CREATE TABLE #ArAgingAnalysis
	(
		UnpaidFinChg [decimal](28,10) NOT NULL DEFAULT(0), 
		UnappliedCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		CurrentBal [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal3160 [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal6190 [decimal](28,10) NOT NULL DEFAULT(0), 
		Bal91120 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalOver120 [decimal](28,10) NOT NULL DEFAULT(0), 
		ActiveCust int, 
		PastDueCust int, 
		TotDue [decimal](28,10) NOT NULL DEFAULT(0)
	)
	CREATE TABLE #Aging
	(
		CustId [nvarchar](10) NOT NULL,
		CustName nvarchar(255),		
		CurrencyId [nvarchar](6) NULL, 
		InvcNum [nvarchar](15) NULL, 
		InvcType nvarchar(10),
		ExchRate [decimal](28,10) NULL,  
		UnpaidFinch [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCredit [decimal](28,10) NOT NULL DEFAULT(0), 
		CurAmtDue [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge2 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge3 [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge4 [decimal](28,10) NOT NULL DEFAULT(0), 
		UnpaidFinchFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		UnApplCreditFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		CurAmtDueFgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge1Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge2Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge3Fgn [decimal](28,10) NOT NULL DEFAULT(0), 
		BalAge4Fgn [decimal](28,10) NOT NULL DEFAULT(0),
		AmountDue [decimal](28,10) NOT NULL DEFAULT(0)
	)
	
	DECLARE @FiscalYear smallint, @Period smallint, @EndPeriodDate datetime, @BegYearDate datetime, @DaysThisYear int
	DECLARE @TotDue [decimal](28,10) , @FinChgYTD [decimal](28,10)
	DECLARE @PaymentsPTD [decimal](28,10), @PaymentsYTD [decimal](28,10), @DiscountsPTD [decimal](28,10), @DiscountsYTD [decimal](28,10)
	DECLARE @DaysToPay int, @NumPmts int
	DECLARE @TotSalesHist [decimal](28,10)

	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

	SELECT @EndPeriodDate = EndDate 
	FROM dbo.tblSmPeriodConversion WHERE GlYear = @FiscalYear AND GlPeriod = @Period

	SELECT @BegYearDate = BegDate 
	FROM dbo.tblSmPeriodConversion WHERE GlYear = @FiscalYear AND GlPeriod = 1

	SET @DaysThisYear = DATEDIFF(dd, @BegYearDate, @EndPeriodDate) + 1

	/* ArAging */
	INSERT INTO #Aging(CustId, CustName,InvcNum,InvcType, CurrencyId,  UnpaidFinch, UnApplCredit, CurAmtDue
		, BalAge1, BalAge2, BalAge3, BalAge4, UnpaidFinchFgn, UnApplCreditFgn, CurAmtDueFgn, BalAge1Fgn, BalAge2Fgn, BalAge3Fgn, BalAge4Fgn, AmountDue)
	EXEC trav_DbArCustAgedBalances_proc @WksDate, @InvcFinch, @WksDate, @CustId, @CustId, 0, 2, 1, @BaseCurrencyId

	/*  ArAgingAnalysis  */
	INSERT INTO #ArAgingAnalysis(UnpaidFinChg, UnappliedCredit, CurrentBal
		, Bal3160, Bal6190, Bal91120, BalOver120,  TotDue) --ActiveCust, PastDueCust,
	SELECT ISNULL(SUM(UnpaidFinch),0) AS UnpaidFinChg, ISNULL(SUM(UnApplCredit),0) AS UnappliedCredit, ISNULL(SUM(CurAmtDue),0) AS CurrentBal
		, ISNULL(SUM(BalAge1),0) AS Bal3160, ISNULL(SUM(BalAge2),0) AS Bal6190, ISNULL(SUM(BalAge3),0) AS Bal91120, ISNULL(SUM(BalAge4),0) AS BalOver120
		, ISNULL(SUM(UnpaidFinch + CurAmtDue + BalAge1 + BalAge2 + BalAge3 + BalAge4 - UnApplCredit),0) AS TotDue 
	FROM dbo.#Aging a 
	LEFT JOIN 
	(
		SELECT CustId FROM dbo.tblArOpenInvoice WHERE RecType > 0 AND Status <> 4 GROUP BY CustId
	) t 
	ON a.CustId = t.CustId
			
	SELECT @TotDue = TotDue FROM #ArAgingAnalysis

	-- NOT USING THIS FIELD FOR FINAL DB VALUES
	/*  ArFinanceCharges  */
	SELECT @FinChgYTD = ISNULL(SUM(FinchAmt), 0)
	FROM dbo.tblArHistFinch
	WHERE FiscalYear = @FiscalYear AND GLPeriod <= @Period 

	
	/*  ArPaymentHistory  */
	INSERT INTO #ArPayments (CustId, PaymentsPTD, PaymentsYTD, DiscountsPTD, DiscountsYTD, DaysToPay, NumPmts) 
	SELECT ISNULL(p.CustId, '') AS CustId
		, ISNULL(SUM(CASE WHEN GLPeriod = @Period THEN ISNULL(PmtAmt, 0)  ELSE 0 END), 0) AS PaymentsPTD
		, ISNULL(SUM(ISNULL(PmtAmt, 0)), 0) AS PaymentsYTD
		, ISNULL(SUM(CASE WHEN GLPeriod = @Period THEN (ISNULL(DiffDisc, 0) ) ELSE 0 END), 0) AS DiscountsPTD
		, ISNULL(SUM(ISNULL(DiffDisc, 0) ), 0) AS DiscountsYTD
		, ISNULL(SUM(CASE WHEN p.PmtDate > h.InvcDate THEN DATEDIFF(dy, h.InvcDate, p.PmtDate) ELSE 0 END), 0) AS DaysToPay
		, ISNULL(SUM(CASE WHEN p.PmtAmtFgn > 0 THEN 1 ELSE 0 END), 0) AS NumPmts
	FROM dbo.tblArHistPmt p 
		LEFT JOIN 
		(SELECT CustId, InvcNum, MAX(InvcDate) AS [InvcDate] 
			FROM dbo.tblArHistHeader 
			WHERE FiscalYear = @FiscalYear AND GLPeriod <= @Period AND VoidYn =0
			GROUP BY CustId, InvcNum
		) h
	ON p.CustId = h.CustId AND p.InvcNum = h.InvcNum 
	WHERE p.VoidYn = 0 AND p.FiscalYear = @FiscalYear AND p.GLPeriod <= @Period
	GROUP BY p.CustId

	IF @@ROWCOUNT = 0
	BEGIN
		INSERT INTO #ArPayments (CustId, PaymentsPTD, PaymentsYTD, DiscountsPTD, DiscountsYTD, DaysToPay, NumPmts) 
		VALUES ('', 0, 0, 0, 0, 0, 0)
	END

	SELECT @PaymentsPTD = SUM(PaymentsPTD)
		, @PaymentsYTD = SUM(PaymentsYTD)
		, @DiscountsPTD = SUM(DiscountsPTD)
		, @DiscountsYTD = SUM(DiscountsYTD)
		, @DaysToPay = SUM(DaysToPay)
		, @NumPmts = SUM(NumPmts)
	FROM #ArPayments

	/*  ArSalesHistory  */
	SELECT @TotSalesHist = ROUND(ISNULL(SUM((TaxSubtotal + NonTaxSubTotal + SalesTax + Freight + Misc) * SIGN(TransType)), 0), @Prec)
	FROM dbo.tblArHistHeader 
	WHERE VoidYn = 0 AND FiscalYear = @FiscalYear AND GLPeriod <= @Period 


	-- return resultset
	SELECT CASE WHEN ISNULL(@NumPmts, 0) = 0 THEN 0.0 ELSE (CAST(ISNULL(@DaysToPay, 0) as decimal) / @NumPmts) END AS AvgDaysToPay
		, CASE WHEN ISNULL(@TotSalesHist, 0) = 0 
			THEN 0 ELSE (ISNULL(@TotDue, 0) / (@TotSalesHist / ISNULL(@DaysThisYear, 0))) END AS DaysSalesOutstanding
		, ISNULL(@DiscountsPTD, 0) AS DiscountsPTD
		, ISNULL(@DiscountsYTD, 0) AS DiscountsYTD
		, ISNULL(@PaymentsPTD, 0) AS PaymentsPTD
		, ISNULL(@PaymentsYTD, 0) AS PaymentsYTD
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArPaymentHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArPaymentHistory_proc'
GO
