USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbApPaymentHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbApPaymentHistory_proc]
@Prec tinyint = 2, 
@Wksdate datetime =   null
AS
BEGIN TRY
--PET:http://webfront:801/view.php?id=247947
	SET NOCOUNT ON

	DECLARE @FiscalYear smallint, @Period smallint	
	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

	-- return resultset
		SELECT 
	ROUND(ISNULL(SUM(CASE WHEN PmtType = 3 AND FiscalPeriod = @Period AND FiscalYear = @FiscalYear THEN 
			d.GrossAmtDueBase ELSE 0 END),0),@Prec) AS PrepaidPTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType = 3 AND FiscalPeriod <= @Period AND FiscalYear = @FiscalYear THEN 
			d.GrossAmtDueBase ELSE 0 END),0),@Prec) AS PrepaidYTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType = 3 AND FiscalPeriod = @Period AND FiscalYear = @FiscalYear AND d.DiscTaken <> 0 THEN 
			d.DiscTakenBase ELSE 0 END),0), @Prec) AS PrepaidDiscPTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType = 3 AND FiscalPeriod <= @Period AND FiscalYear = @FiscalYear AND d.DiscTaken <> 0 THEN 
			d.DiscTakenBase ELSE 0 END),0),@Prec) AS PrepaidDiscYTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType IN(0, 4) AND FiscalPeriod = @Period AND FiscalYear = @FiscalYear THEN 
			d.GrossAmtDueBase ELSE 0 END),0),@Prec) AS RegCheckPTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType IN(0, 4) AND FiscalPeriod <= @Period AND FiscalYear = @FiscalYear THEN 
			d.GrossAmtDueBase ELSE 0 END),0),@Prec) AS RegCheckYTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType IN(0, 4) AND FiscalPeriod = @Period AND FiscalYear = @FiscalYear AND d.DiscTaken <> 0 THEN 
			d.DiscTakenBase ELSE 0 END),0),@Prec) AS RegCheckDiscPTD
		, ROUND(ISNULL(SUM(CASE WHEN PmtType IN(0, 4) AND FiscalPeriod <= @Period AND FiscalYear = @FiscalYear AND d.DiscTaken <> 0 THEN 
			d.DiscTakenBase ELSE 0 END),0), @Prec) AS RegCheckDiscYTD
	FROM dbo.tblApPaymentHistHeader h 
		INNER JOIN dbo.tblApPaymentHistDetail d on d.HeaderID = h.ID-- PmtType 0 = Payment, 3 = Prepayment, 4 = Manual, 9 = Void
	AND VoidDate is Null
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH



GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbApPaymentHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbApPaymentHistory_proc'
GO
