USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlConsolidateAccount_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlConsolidateAccount_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @SysDb [sysname], @CompanyFrom [sysname], @StepFrom tinyint, @StepThru tinyint, @ClosingPeriod smallint , @DBNameFrom [sysname]
	DECLARE @sql1 nvarchar(max)
	DECLARE @BaseCurrency [nvarchar](6)

	--Retrieve global values
	SELECT @SysDb = Cast([Value] AS sysname) FROM #GlobalValues WHERE [Key] = 'SysDb'
	SELECT @CompanyFrom = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'CompanyFrom'
	SELECT @StepFrom = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StepFrom'
	SELECT @StepThru = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StepThru'
	SELECT @ClosingPeriod = CAST ([Value] AS smallint) FROM #GlobalValues WHERE [KEY] = 'ClosingPeriod' 
	SELECT @BaseCurrency = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'BaseCurrency'
	SELECT @DBNameFrom = Cast([Value] AS sysname) FROM #GlobalValues WHERE [Key] = 'DBNameFrom'

	IF @SysDb IS NULL OR @CompanyFrom IS NULL OR @StepFrom IS NULL OR @StepThru IS NULL OR @ClosingPeriod IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--CREATE TABLE #AccountDetail
	--(
	--	AcctId [nvarchar](255) NULL, 
	--	FiscalYear smallint, 
	--	FiscalPeriod smallint, 
	--	Actual [decimal](28,3) NOT NULL,
	--	ActualBase [decimal](28,3) NOT NULL,
	--	ConsolToAcct [nvarchar](255) NULL,
	--	CurrencyID [nvarchar](6) NOT NULL
	--)

	CREATE TABLE #AccountSummary
	(
		ConsolToAcct [nvarchar](255) NULL, 
		FiscalYear smallint, 
		FiscalPeriod smallint, 
		Actual [decimal](28,3) NULL,
		ActualBase [decimal](28,3) NULL, 
		CurrencyID [nvarchar](6) NOT NULL
	)

	--CREATE TABLE #BudgetForecastDetail
	--(
	--	AcctId [nvarchar](255) NULL, 
	--	FiscalPeriod smallint,
	--	FiscalYear smallint, 
	--	BFRef int,
	--	Amount [decimal](28,3) NOT NULL, 
	--	ConsolToAcct [nvarchar](255) NULL,
	--	CurrencyID [nvarchar](6) NOT NULL
	--)

	CREATE TABLE #BudgetForecastSummary
	(
		ConsolToAcct [nvarchar](255) NULL, 
		FiscalPeriod smallint,
		FiscalYear smallint, 
		BFRef int,      
		Amount [decimal](28,3) NULL,
		CurrencyID [nvarchar](6) NOT NULL 
	)

	--capture the account balances to consolidate with the current company
	--SELECT @sql1 = 'INSERT INTO #AccountDetail (AcctId, FiscalYear, FiscalPeriod, Actual, ActualBase, ConsolToAcct, CurrencyID)'
	--	+ ' SELECT h.AcctId, d.Year,d.Period, d.Actual, d.ActualBase, h.ConsolToAcct, h.CurrencyID'
	--	+ ' FROM [' + @DBNameFrom + '].dbo.tblGlAcctHdr h'
	--	+ ' INNER JOIN [' + @DBNameFrom + '].dbo.tblGlAcctDtl d on h.AcctId = d.AcctId'
	--	+ ' WHERE h.ConsolToAcct IS NOT NULL AND (ConsolToStep Between ' + STR(@StepFrom) + ' And ' + STR(@StepThru) + ')'
	--EXEC (@sql1)		

	--summarize the captured balances by the consolidate to account id
	INSERT INTO #AccountSummary (ConsolToAcct, FiscalYear, FiscalPeriod, Actual, ActualBase, CurrencyID) 
		SELECT ConsolToAcct, FiscalYear, FiscalPeriod, Sum(Actual), Sum(ActualBase), CurrencyID
		FROM #AccountDetail 
		GROUP BY ConsolToAcct, FiscalYear, FiscalPeriod, CurrencyID 
		
	--populate the list of invalid ConsolToAcct id values
	INSERT INTO #InvalidAccounts([AccountId])
	SELECT s.ConsolToAcct 
	FROM #AccountSummary s
	LEFT JOIN dbo.tblGlAcctHdr h on s.ConsolToAcct = h.AcctId
	WHERE h.AcctId IS NULL
	GROUP BY s.ConsolToAcct
	
	--abort if invalid accounts exist
	IF (@@RowCount > 0)
	BEGIN
		RAISERROR('InvalidGLAccountId',16,1)
	END

	--convert the actual value to ConsolToAcct currency value
	UPDATE #AccountSummary
		SET Actual = CASE WHEN t.CurrencyID = a.CurrencyID THEN Actual 
						ELSE CASE WHEN a.CurrencyID = @BaseCurrency THEN ActualBase
								ELSE ROUND(ActualBase * e.Rate, c.CurrDecPlaces) END END
		FROM #AccountSummary t
				INNER JOIN [dbo].[tblGlAcctHdr] a ON t.ConsolToAcct = a.AcctId  
				LEFT JOIN (SELECT h.[FiscalPeriod], h.[FiscalYear], d.[Source], d.[Destination], d.[Rate]
							FROM [dbo].[tblSmExchangeRate] h
									INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON h.[ID] = d.[ExchangeRateID]
							WHERE h.[Type] = 1
							UNION ALL
							SELECT 0 AS [FiscalPeriod], h.[FiscalYear] + 1, d.[Source], d.[Destination], d.[Rate]
							FROM [dbo].[tblSmExchangeRate] h
								INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON h.[ID] = d.[ExchangeRateID]
							WHERE h.[Type] = 1 AND h.[FiscalPeriod] = @ClosingPeriod
						  ) e on e.FiscalPeriod = t.FiscalPeriod AND e.FiscalYear = t.FiscalYear AND e.Source = @BaseCurrency AND e.Destination = a.CurrencyID
				LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = a.CurrencyID
	
	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #AccountSummary WHERE Actual IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	
	----capture the budget/forecast amounts to consolidate with the current company
	--SELECT @sql1 = 'INSERT INTO #BudgetForecastDetail (AcctId, FiscalPeriod, FiscalYear, BFRef, Amount, ConsolToAcct, CurrencyID)'
	--	+ ' SELECT dbf.AcctID, dbf.GlPeriod, dbf.GlYear, dbf.BFRef, ISNULL(dbf.Amount, 0) Amount, a.ConsolToAcct, a.CurrencyID'
	--	+ ' FROM [' + @DBNameFrom + '].dbo.tblGlAcctDtlBudFrcst dbf'
	--	+ ' INNER JOIN [' + @SysDb + '].dbo.tblGlBudFrcstComp c on dbf.BFRef = c.BFRef'
	--	+ ' INNER JOIN (SELECT AcctId, ConsolToAcct, CurrencyID FROM #AccountDetail GROUP BY AcctId, ConsolToAcct, CurrencyID) a on dbf.AcctId = a.AcctId'
	--	+ ' WHERE c.[Status] = 1 AND c.CompID = ''' + @CompanyFrom + ''''
	--EXEC (@sql1)

	--summarize the captured budget/forecast amounts by the consolidate to account id
	INSERT INTO #BudgetForecastSummary (ConsolToAcct, FiscalPeriod, FiscalYear, BFRef, Amount, CurrencyID)
		SELECT ConsolToAcct, FiscalPeriod, FiscalYear, BFRef, SUM(Amount), CurrencyID
		FROM #BudgetForecastDetail 
		GROUP BY ConsolToAcct, FiscalYear, FiscalPeriod, BFRef, CurrencyID 
	
	--populate the list of invalid ConsolToAcct id values
	INSERT INTO #InvalidAccounts([AccountId])
	SELECT s.ConsolToAcct 
	FROM #BudgetForecastSummary s
	LEFT JOIN dbo.tblGlAcctHdr h on s.ConsolToAcct = h.AcctId
	WHERE h.AcctId IS NULL
	GROUP BY s.ConsolToAcct
	
	--abort if invalid accounts exist
	IF (@@RowCount > 0)
	BEGIN
		RAISERROR('InvalidGLAccountId',16,1)
	END
	
	--convert the amount to ConsolToAcct currency value	
	UPDATE #BudgetForecastSummary
		SET Amount = CASE WHEN t.CurrencyID = a.CurrencyID THEN Amount ELSE ROUND(Amount * e.Rate, c.CurrDecPlaces) END
		FROM #BudgetForecastSummary t
			INNER JOIN [dbo].[tblGlAcctHdr] a ON t.ConsolToAcct = a.AcctId 
			LEFT JOIN (SELECT h.[FiscalPeriod], h.[FiscalYear], d.[Source], d.[Destination], d.[Rate]
						FROM [dbo].[tblSmExchangeRate] h
								INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON h.[ID] = d.[ExchangeRateID]
						WHERE h.[Type] = 1
						UNION ALL
						SELECT 0 AS [FiscalPeriod], h.[FiscalYear] + 1, d.[Source], d.[Destination], d.[Rate]
						FROM [dbo].[tblSmExchangeRate] h
							INNER JOIN [dbo].[tblSmExchangeRateDetail] d ON h.[ID] = d.[ExchangeRateID]
						WHERE h.[Type] = 1 AND h.[FiscalPeriod] = @ClosingPeriod
					  ) e on e.FiscalPeriod = t.FiscalPeriod AND e.FiscalYear = t.FiscalYear AND e.Source = t.CurrencyID AND e.Destination = a.CurrencyID
			LEFT JOIN [dbo].[tblSmCurrency] c on c.CurrID = a.CurrencyID 
	
	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #BudgetForecastSummary WHERE Amount IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END
	
	--update the current company account balances
	UPDATE dbo.tblGlAcctDtl 
		SET Actual = dbo.tblGlAcctDtl.Actual + t.Actual
			, ActualBase = dbo.tblGlAcctDtl.ActualBase + t.ActualBase
		FROM dbo.tblGlAcctDtl INNER JOIN #AccountSummary t 
			ON dbo.tblGlAcctDtl.AcctId = t.ConsolToAcct
			AND dbo.tblGlAcctDtl.[Year] = t.FiscalYear
			AND dbo.tblGlAcctDtl.[Period] = t.FiscalPeriod 

	--create account detail records for those that don't exist
	INSERT INTO dbo.tblGlAcctDtl ([AcctId], [Year], [Period], [Actual], [ActualBase], [Budget], [Forecast], [Balance])
		SELECT t.ConsolToAcct, t.FiscalYear, t.FiscalPeriod, t.Actual, t.ActualBase, 0, 0, 0
		FROM #AccountSummary t
		LEFT JOIN dbo.tblGlAcctDtl d 
			ON d.[AcctId] = t.[ConsolToAcct] 
			AND d.[Year] = t.FiscalYear 
			AND d.[Period] = t.FiscalPeriod
		WHERE d.AcctId IS NULL
	
	--update the current company budget/forecast amounts for those that already exist
	UPDATE dbo.tblGlAcctDtlBudFrcst 
		SET Amount = dbo.tblGlAcctDtlBudFrcst.Amount + t.amount 
		FROM dbo.tblGlAcctDtlBudFrcst INNER JOIN #BudgetForecastSummary t 
			ON dbo.tblGlAcctDtlBudFrcst.AcctId = t.ConsolToAcct
			AND dbo.tblGlAcctDtlBudFrcst.GlYear  = t.FiscalYear 
			AND dbo.tblGlAcctDtlBudFrcst.GLPeriod = t.FiscalPeriod 
			AND dbo.tblGlAcctDtlBudFrcst.BFRef = t.BFRef

	--create budget/forecast amounts for those that don't exist
	INSERT INTO dbo.tblGlAcctDtlBudFrcst (AcctID, BFRef, GlPeriod, GlYear, Amount) 
		SELECT t.ConsolToAcct, t.BFRef, t.FiscalPeriod, t.FiscalYear, t.Amount 
		FROM #BudgetForecastSummary t LEFT JOIN dbo.tblGlAcctDtlBudFrcst 
			ON t.ConsolToAcct = dbo.tblGlAcctDtlBudFrcst.AcctId 
			AND t.FiscalYear = dbo.tblGlAcctDtlBudFrcst.GlYear
			AND t.FiscalPeriod = dbo.tblGlAcctDtlBudFrcst.GLPeriod 
			AND t.BFRef = dbo.tblGlAcctDtlBudFrcst.BFRef 
		WHERE dbo.tblGlAcctDtlBudFrcst.AcctId IS NULL
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlConsolidateAccount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlConsolidateAccount_proc'
GO
