USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrSalesForecastsList_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrSalesForecastsList_proc]

AS

BEGIN TRY
SET NOCOUNT ON

SELECT h.Id, h.ItemId, h.LocId, h.UOM, i.Descr, d.FrcstDate, d.Qty, d.Notes 
FROM tblDrFrcst h

INNER JOIN tblDrFrcstDtl d  ON h.Id = d.FrcstId 
LEFT JOIN tblinitem i ON h.itemid = i.itemid
INNER JOIN #tmpDrSalesForecastsList t ON  t.Id=h.Id AND t.FrcstDate = d.FrcstDate    

      
END TRY
BEGIN CATCH
EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrSalesForecastsList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrSalesForecastsList_proc'
GO
