USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcOhAllocPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcOhAllocPost_GlLog_proc]
AS
BEGIN TRY
	--create activity before create gl log
	DECLARE @PostRun [nvarchar](14), @CurrBase [nvarchar](6), @WksDate datetime,@CompId nvarchar(3),
		@PostDtlYn bit, @SourceCode nvarchar(2), @Reference nvarchar(15), @Description nvarchar(30), 
		@TransType nvarchar(10), @ExchRateId bigint

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' -- 'PCPOST'
	SELECT @ExchRateId = Cast([Value] AS bigint) FROM #GlobalValues WHERE [Key] = 'ExchRateId'

	IF @PostRun IS NULL OR @CurrBase IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SET @ExchRateId = ISNULL(@ExchRateId, -1)

	CREATE TABLE #OhAllocPostLog
	(
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[TransDate] [datetime] NULL,
		[Grouping] smallint NOT NULL,
		[GlAccount] [nvarchar](255) NULL,
		[Amount] [decimal](28,10) NOT NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,
		[CreditAmount] [decimal](28,10) NOT NULL,
		[Reference] [nvarchar](15) NULL,
		[DistCode] [nvarchar](6) NULL,	
		[Description] [nvarchar](30) NULL,
		[ActivityId] int NULL
	)
	
	IF NOT EXISTS(SELECT * FROM tblSmExchangeRateTrans WHERE TransType = @TransType AND TransKey = @ExchRateId)
	BEGIN
		INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
		SELECT @TransType, ExchangeRateID, [Source],Destination,Rate
		FROM dbo.tblSmExchangeRateDetail 
		WHERE ExchangeRateID = @ExchRateId
	END

	SELECT @SourceCode = 'JC', @Reference = 'Overhead Alloc', @Description = 'Overhead Allocation Summary'
	--WIP Account 
	BEGIN
		--Job Cost, non-zero overhead
		INSERT INTO #OhAllocPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId)
		SELECT o.FiscalYear,o.FiscalPeriod, 501 AS [Grouping], c.GLAcctWIP, 
			o.CurrOH, @Reference, p.ProjectName + ' ' + ISNULL(p.CustId,'') ,
			CASE WHEN o.CurrOH > 0 THEN o.CurrOH ELSE 0 END AS DebitAmount,
			CASE WHEN o.CurrOH < 0 THEN ABS(o.CurrOH) ELSE 0 END AS CreditAmount,
			o.TransDate, d.DistCode, v.ActivityId
		FROM dbo.tblPcPrepareOverhead o INNER JOIN #PostTransList t ON o.Id = t.TransId
			INNER JOIN dbo.tblPcActivity a ON o.ActivityId = a.Id
			INNER JOIN dbo.tblPcProjectDetail d ON a.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode c ON d.DistCode = c.DistCode 
			LEFT JOIN #tmpOverhead v ON o.Id = v.OverheadId
		WHERE p.Type = 1 AND o.CurrOH <> 0
	END
		
	--Cost Account
	BEGIN
		--General, Administrative, non-zero overhead
		INSERT INTO #OhAllocPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId)
		SELECT o.FiscalYear,o.FiscalPeriod, 502 AS [Grouping], c.GLAcctCost, 
			o.CurrOH, @Reference, p.ProjectName + ' ' + ISNULL(p.CustId,'') ,
			CASE WHEN o.CurrOH > 0 THEN o.CurrOH ELSE 0 END AS DebitAmount,
			CASE WHEN o.CurrOH < 0 THEN ABS(o.CurrOH) ELSE 0 END AS CreditAmount,
			o.TransDate, d.DistCode, v.ActivityId
		FROM dbo.tblPcPrepareOverhead o INNER JOIN #PostTransList t ON o.Id = t.TransId
			INNER JOIN dbo.tblPcActivity a ON o.ActivityId = a.Id
			INNER JOIN dbo.tblPcProjectDetail d ON a.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode c ON d.DistCode = c.DistCode
			LEFT JOIN #tmpOverhead v ON o.Id = v.OverheadId
		WHERE (p.Type = 0 OR p.Type = 2) AND o.CurrOH <> 0
	END
	
	--Overhead Account
	BEGIN
		--General, Administrative, non-zero overhead
		INSERT INTO #OhAllocPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,ActivityId)
		SELECT o.FiscalYear,o.FiscalPeriod, 503 AS [Grouping], c.GLAcctOverheadContra, 
			-o.CurrOH, @Reference, p.ProjectName + ' ' + ISNULL(p.CustId,'') ,
			CASE WHEN o.CurrOH < 0 THEN ABS(o.CurrOH) ELSE 0 END AS DebitAmount,
			CASE WHEN o.CurrOH > 0 THEN o.CurrOH ELSE 0 END AS CreditAmount,
			o.TransDate, d.DistCode, v.ActivityId
		FROM dbo.tblPcPrepareOverhead o INNER JOIN #PostTransList t ON o.Id = t.TransId
			INNER JOIN dbo.tblPcActivity a ON o.ActivityId = a.Id
			INNER JOIN dbo.tblPcProjectDetail d ON a.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcDistCode c ON d.DistCode = c.DistCode
			LEFT JOIN #tmpOverhead v ON o.Id = v.OverheadId
		WHERE o.CurrOH <> 0
	END	
	
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping], [Description],
		Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
	SELECT @PostRun, @TransType, @ExchRateId, @PostRun, @CompId, GlAccount, FiscalYear, FiscalPeriod, [Grouping], 
		CASE @PostDtlYn WHEN 0 THEN @Description ELSE [Description]END, 
		CASE @PostDtlYn WHEN 0 THEN @Reference ELSE Reference END, 
		@SourceCode, CreditAmount,DebitAmount, CreditAmount,DebitAmount, @CurrBase, 
		CASE @PostDtlYn WHEN 0 THEN @WksDate ELSE TransDate END, @WksDate, 
		CASE @PostDtlYn WHEN 0 THEN NULL ELSE ActivityId END, CASE @PostDtlYn WHEN 0 THEN NULL ELSE -1 END
	FROM #OhAllocPostLog
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcOhAllocPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcOhAllocPost_GlLog_proc'
GO
