USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlCashFlowReport_BuildContent_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlCashFlowReport_BuildContent_proc]
@FiscalYear1 smallint = 2007,
@FiscalYear2 smallint = 2008,
@FiscalPeriodFrom smallint = 1,
@FiscalPeriodThru smallint = 12

AS

SET NOCOUNT ON

BEGIN TRY

	INSERT INTO #CashFlowRpt (AcctId,[Desc],AcctTypeId,AcctCode) 
		SELECT h.AcctId,h.[Desc],h.AcctTypeId,p.AcctCode
		FROM dbo.tblGlAcctHdr h INNER JOIN #tmpAccountList t ON h.AcctId = t.AcctId 
			INNER JOIN tblGlAcctType p ON h.AcctTypeId = p.AcctTypeId
		WHERE h.AcctId NOT IN (SELECT AcctId FROM #CashFlowRpt)
	 
	 UPDATE #CashFlowRpt SET Actual1 = Actual1 + 
		(SELECT ISNULL(SUM(ActualBase), 0) FROM dbo.tblGLAcctDtl 
			WHERE AcctId = #CashFlowRpt.AcctId AND [Year] = @FiscalYear1 AND 
				Period BETWEEN @FiscalPeriodFrom AND @FiscalPeriodThru)
	 
	 UPDATE #CashFlowRpt SET Actual2 = Actual2 + 
		(SELECT ISNULL(SUM(ActualBase), 0) FROM dbo.tblGLAcctDtl 
			WHERE AcctId = #CashFlowRpt.AcctId AND [Year] = @FiscalYear2 AND 
				Period BETWEEN @FiscalPeriodFrom AND @FiscalPeriodThru)
	 
	 UPDATE #CashFlowRpt SET Cash1 = Cash1 + 
		(SELECT ISNULL(SUM(ActualBase), 0) FROM dbo.tblGLAcctDtl 
			WHERE AcctId = #CashFlowRpt.AcctId AND [Year] = @FiscalYear1 AND 
				Period < @FiscalPeriodFrom)	
	                 
	UPDATE #CashFlowRpt SET Cash2 = Cash2 + 
		(SELECT ISNULL(SUM(ActualBase), 0) FROM dbo.tblGLAcctDtl 
			WHERE AcctId = #CashFlowRpt.AcctId AND [Year] = @FiscalYear2 AND 
				Period < @FiscalPeriodFrom)                

          
      INSERT INTO [#GlJrnlExclude] ([AcctId], [FiscalYear], [FiscalPeriod], [Amount])
            SELECT [jnl].[AcctId], [jnl].[Year], [jnl].[Period],
                  SUM (CASE WHEN ([hdr].[BalType] < 0) 
                        THEN ([jnl].[CreditAmt] - [jnl].[DebitAmt])
                        ELSE ([jnl].[DebitAmt] - [jnl].[CreditAmt]) END)
            FROM [dbo].[tblGlJrnl] [jnl]
                  INNER JOIN [dbo].[tblGlAcctHdr] [hdr] ON ([hdr].[AcctId] = [jnl].[AcctId])
                  INNER JOIN [#tmpAccountList] [tmp] ON ([tmp].[AcctId] = [hdr].[AcctId])                          
            WHERE ([jnl].[PostedYN] <> 0) AND ([jnl].[CashFlow] = 0)
                  AND ([jnl].[Period] <= @FiscalPeriodThru) 
                  AND ( ([jnl].[Year] = @FiscalYear1) OR ([jnl].[Year] = @FiscalYear2) )
            GROUP BY [jnl].[AcctId], [jnl].[Year], [jnl].[Period]             
	            
			  
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlCashFlowReport_BuildContent_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlCashFlowReport_BuildContent_proc'
GO
