USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcCrDbAdjValidate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcCrDbAdjValidate_proc]
   @ImportBatchId NVARCHAR(14) = '',    
   @KeyLevelSeq1 INT = 0,    
   @PartnerId BIGINT = 0,    
   @TotalKeys INT = 0 OUT
AS      
SET NOCOUNT ON  

BEGIN TRY   
   -- Err status 0=OK,1=Warning,2=Error Cont, 3 = Err Stop
	DECLARE @SQL nvarchar(1000)
  
	--build temp tables
	CREATE TABLE #Edi812HeaderList (ImportBatchId varchar(14) not null, KeyLevelSeq1 int not null, validYN bit null default(1), errdescr varchar(max) null)

	INSERT INTO #Edi812HeaderList (ImportBatchId, KeyLevelseq1)
	SELECT ImportBatchId, KeyLevelseq1
	FROM tblEcCreditDebitAdjHeader h
	WHERE  (ImportBatchId = @ImportBatchId)    
		AND (ISNULL(@KeyLevelSeq1,0)=0 OR h.KeyLevelSeq1 = @KeyLevelSeq1)    
		AND (ISNULL(@PartnerId,0) = 0 OR h.PartnerId = @PartnerId)    
 

   
	-- run validation on this batch of records
	EXEC trav_EcCrDbAdjImport_ValidateUpdate_proc @ImportBatchId= @ImportBatchId, @KeyLevelSeq1 = @KeyLevelSeq1
   

	-- run any custom code
	EXEC dbo.trav_EcCrDbAdjValidate_Custom_proc



	--return values
	SELECT @TotalKeys = COUNT(*) FROM #Edi812HeaderList

	SELECT @TotalKeys = ISNULL(@TotalKeys,0)

	SELECT @TotalKeys TotalKeys
END TRY
BEGIN CATCH  
	EXEC dbo.trav_RaiseError_proc 
END CATCH   
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjValidate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcCrDbAdjValidate_proc'
GO
