USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CmBulkCommunicationProcessing_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CmBulkCommunicationProcessing_proc]
@BulkCommType smallint, --1 Email,2 Fax,4 Print
@ContactGroupId BigInt
AS
BEGIN TRY
	SET NOCOUNT ON
	
    IF(@ContactGroupId IS NOT NULL) -- When Contact Group is provided
    BEGIN
		CREATE TABLE #tmpCmContactGroupDtl
		(
			[ID] [bigint] NOT NULL,
			[ContactName] [nvarchar](30) NULL,
			[Value]	[nvarchar](max) NULL,
			[Title] [nvarchar](30) NULL,
			[FName] [nvarchar](30) NULL,
			[LName] [nvarchar](30) NULL,	
			[MName] [nvarchar](30) NULL,
			[Addr1] [nvarchar](30) NULL,
			[Addr2] [nvarchar](60) NULL,
			[City] [nvarchar](30) NULL,
			[Region] [nvarchar](10) NULL,
			[Country] [nvarchar](6) NULL,
			[PostalCode] [nvarchar](10) NULL,
			[SelectYn] [bit] NULL
		)  

       	IF(@BulkCommType in (1,2)) -- Email or Fax
		BEGIN            
			INSERT INTO #tmpCmContactGroupDtl ([ID], [ContactName], [Value], [Title], [FName], [LName], [MName], [Addr1], [Addr2], [City] ,[Region], [Country], [PostalCode], [SelectYn])              
			SELECT	c.ID, c.ContactName, m.Value, c.Title, c.FName, c.LName, c.MName,  a.Addr1, a.Addr2, a.City, a.Region, a.Country, a.PostalCode, gd.SelectYn   
			FROM	#CrmAccessList t   
					INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND c.Status <> 2   
					INNER JOIN dbo.tblCmContactMethod m  ON c.ID = m.ContactID AND m.Status = 0   
					INNER JOIN dbo.tblCmContactMethodType mt ON m.TypeID = mt.ID AND mt.Type = CASE WHEN @BulkCommType = 1 THEN 2 ELSE 1 END  
					LEFT JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Sequence = 0 -- Default Address  					
					LEFT JOIN tblCmContactGroupDtl gd ON gd.ContactID = t.ContactID	AND gd.[Type] = CASE WHEN @BulkCommType = 1 THEN 2 ELSE 1 END AND gd.ContactMethodID = m.ID 
			WHERE	gd.ContactGroupID = @ContactGroupId

			INSERT INTO #tmpCmContactGroupDtl ([ID], [ContactName], [Value], [Title], [FName], [LName], [MName], [Addr1], [Addr2], [City] ,[Region], [Country], [PostalCode], [SelectYn])  			
			SELECT	 c.ID, c.ContactName, m.Value, c.Title, c.FName, c.LName, c.MName,  a.Addr1, a.Addr2, a.City, a.Region, a.Country, a.PostalCode, 1 [SelectYn]  
			FROM	#CrmAccessList t   
					INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND c.Status <> 2   
					INNER JOIN dbo.tblCmContactMethod m  ON c.ID = m.ContactID AND m.Status = 0   -- 
					INNER JOIN dbo.tblCmContactMethodType mt ON m.TypeID = mt.ID AND mt.Type = CASE WHEN @BulkCommType = 1 THEN 2 ELSE 1 END  
					INNER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Sequence = 0 -- Default Address  					
			WHERE	c.ID NOT IN (SELECT ID FROM #tmpCmContactGroupDtl)
        END
       	ELSE IF (@BulkCommType = 4) -- Print
		BEGIN
			INSERT INTO #tmpCmContactGroupDtl ([ID], [ContactName], [Title], [FName], [LName], [MName], [Addr1], [Addr2], [City] ,[Region], [Country], [PostalCode], [SelectYn])              
			SELECT	c.ID, c.ContactName, c.Title, c.FName, c.LName, c.MName, a.Addr1, a.Addr2, a.City, a.Region, a.Country, a.PostalCode, gd.SelectYn     
			FROM	#CrmAccessList t   
					INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND c.Status <> 2   					
					INNER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Status = 0 AND a.Sequence = 0 -- Default Address  
					LEFT JOIN dbo.tblCmContactGroupDtl gd ON gd.ContactID = t.ContactID AND ISNULL(gd.SelectYn, 1) = 1 AND gd.[Type] = 3 AND gd.ContactMethodID = a.ID 
			WHERE	gd.ContactGroupID = @ContactGroupId 

			INSERT INTO #tmpCmContactGroupDtl ([ID], [ContactName], [Title], [FName], [LName], [MName], [Addr1], [Addr2], [City] ,[Region], [Country], [PostalCode], [SelectYn])              
			SELECT	c.ID, c.ContactName, c.Title, c.FName, c.LName, c.MName, a.Addr1, a.Addr2, a.City, a.Region, a.Country, a.PostalCode, 1 [SelectYn]  
			FROM	#CrmAccessList t   
					INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND c.Status <> 2   					
					INNER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Status = 0 AND a.Sequence = 0 -- Default Address  			
			WHERE	c.ID NOT IN (SELECT ID FROM #tmpCmContactGroupDtl)
		END 

		SELECT	[ID], [ContactName], [Value], [Title], [FName], [LName], [MName], [Addr1], [Addr2], [City] ,[Region], [Country], [PostalCode]
		FROM	#tmpCmContactGroupDtl 
		WHERE	SelectYn = 1 
		ORDER BY [ContactName], [Value]
	END
	ELSE-- When Contact Group is not provided
	BEGIN
		IF(@BulkCommType in (1,2)) -- Email or Fax
		BEGIN                     
			--Select Distinct record - Email or Fax can have duplicates  
			SELECT Distinct c.ID,c.ContactName,m.Value,c.Title,c.FName,c.LName,c.MName,
					   a.Addr1,a.Addr2,a.City,a.Region,a.Country,a.PostalCode
			FROM #CrmAccessList t 
				INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND C.Status <> 2 
				INNER JOIN dbo.tblCmContactMethod m  ON c.ID = m.ContactID AND m.Status = 0 
				INNER JOIN dbo.tblCmContactMethodType mt ON m.TypeID = mt.ID AND mt.Type = CASE WHEN @BulkCommType = 1 THEN 2 ELSE 1 END
				LEFT OUTER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Sequence = 0 -- Default Address
			ORDER BY c.ContactName,m.Value
		END
		ELSE IF (@BulkCommType = 4) -- Print
		BEGIN
			SELECT c.ID,c.ContactName,c.Title,c.FName,c.LName,c.MName,
					   a.Addr1,a.Addr2,a.City,a.Region,a.Country,a.PostalCode	 	 
			FROM #CrmAccessList t 
				INNER JOIN dbo.tblCmContact c ON t.ContactID = c.ID AND c.Status <> 2 
				INNER JOIN dbo.tblCmContactAddress a ON c.ID = a.ContactID AND a.Status = 0 AND a.Sequence = 0 -- Default Addresss
			ORDER BY  c.ContactName
		END
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 


GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmBulkCommunicationProcessing_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmBulkCommunicationProcessing_proc'
GO
