USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemQty_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemQty_proc]
@ItemId pItemId = NULL,
@Uom pUom = NULL
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT l.ItemId, l.LocId, ISNULL(v.QtyCmtd,0)/ISNULL(u.ConvFactor,1) AS QtyCmtd, ISNULL(v.QtyOnOrder,0)/ISNULL(u.ConvFactor,1) AS QtyOnOrder,
		ISNULL(o.QtyOnHand,0)/ISNULL(u.ConvFactor,1) AS QtyOnHand, (ISNULL(o.QtyOnHand,0) - ISNULL(v.QtyCmtd,0) - ISNULL(e.QtyOnHold, 0))/ISNULL(u.ConvFactor,1)  AS QtyAvail
		, l.ItemLocStatus, CASE WHEN e.[QtyOnHold] IS NOT NULL THEN e.[QtyOnHold] ELSE 0 END/ISNULL(u.ConvFactor,1) [QtyOnHold]
	FROM dbo.tblInItem i (NOLOCK) INNER JOIN dbo.tblInItemLoc l (NOLOCK) ON i.ItemId = l.ItemId
		INNER JOIN dbo.tblInItemUom u (NOLOCK) ON l.ItemId = u.ItemId
		LEFT JOIN dbo.trav_InItemOnHand_view o (NOLOCK) ON l.ItemId = o.ItemId AND l.LocId = o.LocId
		LEFT JOIN (SELECT o.ItemId, o.LocId, SUM(CASE WHEN t.QtyOnHoldYN = 1 THEN o.Qty ELSE 0 END) [QtyOnHold]
				FROM dbo.tblInQtyOnHand_Ext o  
				LEFT JOIN dbo.tblWmExtLoc e ON e.Id = o.ExtLocA
				LEFT JOIN dbo.tblWmExtLocType t ON t.ID = e.ExtLocTypeID
				GROUP BY o.ItemId, o.LocId) e  ON l.ItemId = e.ItemId AND l.LocId = e.LocId
		LEFT JOIN dbo.trav_InItemQtys_view v (NOLOCK) ON l.ItemId = v.ItemId AND l.LocId = v.LocId
	WHERE i.ItemId = @ItemId AND i.ItemType = 1 AND u.Uom = @Uom
	UNION ALL
	SELECT l.ItemId, l.LocId, ISNULL(v.QtyCmtd,0) AS QtyCmtd, ISNULL(v.QtyOnOrder,0) AS QtyOnOrder,
		ISNULL(o.QtyOnHand,0) AS QtyOnHand, (ISNULL(o.QtyOnHand,0) - ISNULL(v.QtyCmtd,0) - ISNULL(e.QtyOnHold, 0)) AS QtyAvail
		, l.ItemLocStatus, CASE WHEN e.[QtyOnHold] IS NOT NULL THEN e.[QtyOnHold] ELSE 0 END [QtyOnHold]
	FROM dbo.tblInItem i (NOLOCK) INNER JOIN dbo.tblInItemLoc l (NOLOCK) ON i.ItemId = l.ItemId
		LEFT JOIN dbo.trav_InItemOnHandSer_view o (NOLOCK) ON l.ItemId = o.ItemId AND l.LocId = o.LocId
		LEFT JOIN (SELECT o.ItemId, o.LocId, SUM(CASE WHEN o.SerNumStatus IN (1, 2) AND t.QtyOnHoldYN = 1 THEN 1 ELSE 0 END) [QtyOnHold]
				FROM dbo.tblInItemSer o  
				LEFT JOIN dbo.tblWmExtLoc e ON e.Id = o.ExtLocA
				LEFT JOIN dbo.tblWmExtLocType t ON t.ID = e.ExtLocTypeID
				WHERE o.ExtLocA IS NOT NULL
				GROUP BY o.ItemId, o.LocId) e  ON l.ItemId = e.ItemId AND l.LocId = e.LocId
		LEFT JOIN dbo.trav_InItemQtys_view v (NOLOCK) ON l.ItemId = v.ItemId AND l.LocId = v.LocId
	WHERE i.ItemId = @ItemId AND i.ItemType = 2

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemQty_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemQty_proc'
GO
