USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WMPickReleaseOrders_ProcessOrderList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WMPickReleaseOrders_ProcessOrderList_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE @PickId nvarchar(20)
	
	--Retrieve global values
	SELECT @PickId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PickId'

	IF @PickId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--create a temp table to identify entries with activity
	CREATE TABLE #Activity
	(
		[PickGenKey] int not null,
		PRIMARY KEY CLUSTERED ([PickGenKey])
	)
	
	
	--remove any source entries that are allocated to another pickid 
	DELETE #OrderSummary 
		FROM dbo.tblWmPick_Gen g 
	WHERE #OrderSummary.SourceId = g.SourceId 
		AND #OrderSummary.TransId = g.TransId
		AND #OrderSummary.EntryNum = g.EntryNum
		AND #OrderSummary.SeqNum = g.SeqNum
		AND g.PickID <> @PickId


	--identify any existing entries for the current pickid 
	--	that have activity
	--	and are not already in the list
	INSERT INTO #Activity ([PickGenKey])
	SELECT g.PickGenKey
    FROM dbo.tblWmPick_Gen g 
	INNER JOIN dbo.tblWmPick p
		ON g.SourceId = p.SourceId 
		AND g.TransId = p.TransId 
		AND g.EntryNum = p.EntryNum 
		AND g.SeqNum = p.SeqNum
	LEFT JOIN #OrderSummary s
		ON s.SourceId = g.SourceId 
		AND s.TransId = g.TransId
		AND s.EntryNum = g.EntryNum
		AND s.SeqNum = g.SeqNum
	WHERE g.PickID = @PickId -- for current pick
		AND s.SourceId IS NULL -- not in current list
	GROUP BY g.PickGenKey --get a distinct list


	--remove all "release" entries for the current pickid 
	--	that do not have activity
	DELETE dbo.tblWmPick_Gen 
	WHERE [PickID] = @PickId
		AND [PickGenKey] NOT IN (SELECT [PickGenKey] FROM #Activity)
		
	
	--add the new releases to the table
	INSERT INTO dbo.tblWmPick_Gen ([SourceId], [TransId], [EntryNum], [SeqNum]
		, [PickNum], [ItemId], [LocId], [LotNum], [ExtLocA], [ExtLocB]
		, [UOM], [QtyReq], [ReqDate], [Ref1], [Ref2], [Ref3], [GrpId], [OriCompQty], [PickID],[KitId])
	SELECT l.[SourceId], l.[TransId], l.[EntryNum], l.[SeqNum]
		, l.[PickNum], l.[ItemId], l.[LocId], l.[LotNum]
		, ISNULL(l.[ExtLocA], (SELECT TOP 1 b.Id FROM dbo.tblInItemLoc d 
							  INNER JOIN tblWmExtLoc b 
								ON d.LocId = b.LocID
								AND d.DfltBinNum = b.ExtLocID 
								AND  b.[Type] = 0  
							  WHERE d.ItemId = l.ItemId AND d.LocId = l.LocId))
		, l.[ExtLocB], l.[UOM], l.[QtyReq], l.[ReqDate], l.[Ref1], l.[Ref2], l.[Ref3], l.[GrpId], l.[OriCompQty], @PickId, l.[KitId]
	FROM #OrderSummary s
	INNER JOIN #OrderList l ON s.[Id] = l.[Id]
	
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_ProcessOrderList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WMPickReleaseOrders_ProcessOrderList_proc'
GO
