USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArDepositJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArDepositJournal_proc]
@ReportCurrency [nvarchar](6) = Null,
@BaseCurrency [nvarchar](6),
@TransType nvarchar(10) 

AS
SET NOCOUNT ON
BEGIN TRY

 	CREATE TABLE #tmp 
	(
		BankID [nvarchar](10) NULL,
		CustId [nvarchar](10) NULL,
		CustName [nvarchar](255) NULL,
		DepositID [nvarchar](6) NULL,
		CurrencyID [nvarchar](6) NOT NULL,
		CashAmt [decimal](28,10) NULL,
		CheckAmt [decimal](28,10) NULL,
		PmtAmt [decimal](28,10) NULL,
		PmtType smallint ,
		CheckNum [nvarchar](10) NULL,
		PmtDate datetime null,
		CheckCashTot [decimal](28,10) NULL
	)

 INSERT INTO #tmp (BankID,CustId,CustName,DepositID,CurrencyID, CashAmt,CheckAmt,PmtAmt,PmtType,CheckNum,PmtDate,CheckCashTot) 

	SELECT h.BankID, h.CustId, c.CustName, h.DepositID,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID],
		ISNULL(Case When p.PmtType = 1 Then 
		CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.PmtAmtFgn
			WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN d.PmtAmt
			Else ROUND(d.PmtAmtFgn * et.Rate, et.CurrDecPlaces) End End, 0) AS CashAmt, 
			
		ISNULL(Case When p.PmtType = 2 Then 
		CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.PmtAmtFgn
			WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN d.PmtAmt 
			Else ROUND(d.PmtAmtFgn * et.Rate, et.CurrDecPlaces) End End, 0) AS CheckAmt, 
  			
		CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.PmtAmtFgn 
			Else ROUND(d.PmtAmtFgn * et.Rate, et.CurrDecPlaces) End AS PmtAmt, 
		p.PmtType AS PmtType, h.CheckNum, h.PmtDate,
		
		CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  d.PmtAmtFgn 
		WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN d.PmtAmt 
		Else ROUND(d.PmtAmtFgn * et.Rate, et.CurrDecPlaces) End AS CheckCashTot
			 
		FROM #tmpCashReceiptList t INNER JOIN dbo.tblArCashRcptHeader h (NOLOCK)  ON t.RcptHeaderID = h.RcptHeaderID 
			INNER JOIN #tmpBankAccountList b ON h.BankId = b.BankId
			INNER JOIN dbo.tblArPmtMethod p (NOLOCK)  On h.PmtMethodID = p.PmtMethodId
			INNER JOIN dbo.tblArCashRcptDetail d (NOLOCK)  ON h.RcptHeaderID = d.RcptHeaderID
			LEFT JOIN dbo.tblArCust c (NOLOCK)  ON h.CustId = c.CustId
		    LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = h.[RcptHeaderID] AND et.[Source] = h.[CurrencyID]
            
	WHERE (p.PmtType=1 OR p.PmtType=2) AND (h.OrderState = 0 OR h.OrderState & 4 =4)
	ORDER BY h.BankID
	
		--abort if invalid currency convertion exist			
		IF EXISTS (SELECT * FROM #tmp WHERE  PmtAmt IS NULL OR CheckCashTot IS NULL )
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END
		
		SELECT * FROM #tmp

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArDepositJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArDepositJournal_proc'
GO
