USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbCashReceipts_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbCashReceipts_proc]
@Prec tinyint = 2, 
@Foreign bit = 0, 
@Wksdate datetime =  null
AS
BEGIN TRY
	SET NOCOUNT ON

		CREATE TABLE #ArCashReceipts
	(
		Cash [decimal](28,10) NOT NULL, 
		Checks [decimal](28,10) NOT NULL, 
		CreditCards [decimal](28,10) NOT NULL, 
		Writeoffs [decimal](28,10) NOT NULL, 
		Other [decimal](28,10) NOT NULL, 
		DirectDebit [decimal](28,10) NOT NULL,
		RcvdToday [decimal](28,10) NOT NULL, 
		RcvdPTD [decimal](28,10) NOT NULL
	)

	CREATE TABLE #ArPaymentHist
	(
		PmtsToday [decimal](28,10) NOT NULL, 
		PmtsPTD [decimal](28,10) NOT NULL
	)

	DECLARE @FiscalYear smallint, @Period smallint
	SELECT @FiscalYear = GlYear, @Period = GlPeriod 
	FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

	INSERT INTO #ArCashReceipts(Cash, Checks, CreditCards, Writeoffs, Other,DirectDebit, RcvdToday, RcvdPTD) 
	SELECT ISNULL(SUM(CASE WHEN PmtType = 1 AND PmtDate <= @WksDate THEN d.PmtAmt ELSE 0 END), 0) AS Cash
		, ISNULL(SUM(CASE WHEN PmtType = 2 AND PmtDate <= @WksDate 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS Checks
		, ISNULL(SUM(CASE WHEN (PmtType = 3 OR PmtType = 7) AND PmtDate <= @WksDate 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS CreditCards
		, ISNULL(SUM(CASE WHEN PmtType = 4 AND PmtDate <= @WksDate 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS Writeoffs
		, ISNULL(SUM(CASE WHEN PmtType = 5 AND PmtDate <= @WksDate 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS Other
				, ISNULL(SUM(CASE WHEN PmtType = 6 AND PmtDate <= @WksDate 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS DirectDebit
		, ISNULL(SUM(CASE WHEN PmtDate = @WksDate THEN (d.PmtAmt) ELSE 0 END), 0) AS RcvdToday
		, ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN (d.PmtAmt) ELSE 0 END), 0) AS RcvdPTD 
	FROM dbo.tblArCashRcptHeader h 
	LEFT JOIN dbo.tblArCashRcptDetail d ON h.RcptHeaderId = d.RcptHeaderId 
	LEFT JOIN dbo.tblArPmtMethod p ON h.PmtMethodId = p.PmtMethodId

	INSERT INTO #ArPaymentHist(PmtsToday, PmtsPTD) 
	SELECT ISNULL(SUM(CASE WHEN PmtDate = @WksDate THEN PmtAmt ELSE 0 END), 0) AS PmtsToday
		, ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period THEN PmtAmt ELSE 0 END), 0) AS PmtsPTD 
	FROM dbo.tblArHistPmt WHERE VoidYn = 0

	-- return resultset
	SELECT ISNULL(SUM(Cash),0) AS Cash
		, ISNULL(SUM(Checks),0) AS Checks
		, ISNULL(SUM(CreditCards),0) AS CreditCards
		, ISNULL(SUM(Writeoffs),0) AS Writeoffs
		, ISNULL(SUM(Other),0) AS Other
		,ISNULL(SUM(DirectDebit),0) As DirectDebit
		, ISNULL(SUM(RcvdToday + PmtsToday),0) AS RcvdToday
		, ISNULL(SUM(RcvdPTD + PmtsPTD),0) AS RcvdPTD 
	FROM #ArCashReceipts, #ArPaymentHist
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbCashReceipts_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbCashReceipts_proc'
GO
