USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoReceivingReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoReceivingReport_proc]
@SortBy tinyint = 0, --0, Transaction No; 1, Receipt No; 2, Vendor ID; 3, Item ID; 4, Year/GL Period;
@PrintLandedCostDetail bit = 1,
@FiscalYearFrom smallint = 2009,
@FiscalYearThru smallint = 2009,
@FiscalPeriodFrom smallint = 1,
@FiscalPeriodThru smallint = 12
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT CASE @SortBy 
			WHEN 0 THEN CAST(r.TransId AS nvarchar) 
			WHEN 1 THEN CAST(r.ReceiptNum AS nvarchar) 
			WHEN 2 THEN CAST(h.VendorId AS nvarchar) 
			WHEN 3 THEN CAST(d.ItemId AS nvarchar) 
			WHEN 4 THEN CAST(RIGHT('0000' + LTRIM(STR(r.FiscalYear)), 4) + RIGHT('000' + LTRIM(STR(r.GlPeriod)), 3) 
				AS nvarchar) END AS GrpId1,
		CASE @SortBy 
			WHEN 0 THEN CAST(h.VendorId AS nvarchar) 
			WHEN 1 THEN CAST(r.TransId AS nvarchar) 
			WHEN 2 THEN CAST(r.TransId AS nvarchar) 
			WHEN 3 THEN CAST(r.TransId AS nvarchar) 
			WHEN 4 THEN CAST(r.TransId AS nvarchar) END AS GrpId2, 
		h.BatchId, v.[Name], h.VendorId, d.ItemId, d.LocId AS LocIdDtl, d.Descr,
		d.Units, r.TransID, r.EntryNum, r.ReceiptNum, r.ReceiptDate, r.GlPeriod, r.FiscalYear,
		r.Qty, r.UnitCost, r.ExtCost * SIGN(h.TransType) AS ExtCost,
		r.ExtCost * SIGN(h.TransType) AS ExtCostRcpt,h.TransType, r.LandedCost,
		CASE WHEN l.TransId IS NULL THEN 0 ELSE 1 END AS LandedCostDetailYn , ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate
	FROM dbo.tblPoTransHeader h INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorID 
		INNER JOIN dbo.tblPoTransDetail d  ON h.TransId = d.TransID 
		INNER JOIN(
		SELECT ds.TransId,ds.EntryNum,ds.ReceiptNum,ds.ReceiptDate,ds.GlPeriod,ds.FiscalYear, 
			   SUM(ds.Qty) AS Qty,SUM(ds.UnitCost) AS UnitCost,SUM(ds.ExtCost) AS ExtCost,SUM(ds.LandedCost) AS LandedCost	
		FROM  (
			   SELECT p.TransId,pl.EntryNum,p.ReceiptNum,p.ReceiptDate,p.GlPeriod,p.FiscalYear, 
				SUM(pl.QtyFilled) AS Qty,SUM(pl.QtyFilled * pl.UnitCost)/SUM(pl.QtyFilled) AS UnitCost,
				SUM(pl.ExtCost) + SUM(ISNULL(l.Amount, 0)) AS ExtCost,
				SUM(ISNULL(l.Amount, 0)) AS LandedCost
			   FROM dbo.tblPoTransReceipt p 
				INNER JOIN dbo.tblPoTransLotRcpt pl ON p.TransId = pl.TransId AND p.ReceiptNum = pl.RcptNum  
				INNER JOIN #tmpTransReceiptList t ON pl.ReceiptId = t.ReceiptId
				LEFT JOIN (SELECT ReceiptId, SUM(Amount - PostedAmount) AS Amount 
				       FROM dbo.tblPoTransReceiptLandedCost GROUP BY ReceiptId) l ON pl.ReceiptId = l.ReceiptId 
			   WHERE pl.Status = 0 AND p.FiscalYear * 1000 + p.GlPeriod BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
				AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
			   GROUP BY p.TransId,pl.EntryNum,p.ReceiptNum,p.ReceiptDate,p.GlPeriod,p.FiscalYear			
			   UNION ALL
			   SELECT h.TransId, d.EntryNum, rs.ReceiptNum,rs.TransDate as [ReceiptDate], MONTH(rs.TransDate) AS GlPeriod, YEAR(rs.TransDate) AS FiscalYear,
				SUM(rs.Qty) AS Qty,d.UnitCost, SUM((rs.Qty * d.UnitCost)) ExtCost,0.0 AS LandedCost
				FROM dbo.tblWmRcpt rs
				INNER JOIN #tmpTransDetailList t ON t.TransId = rs.TransId AND t.EntryNum = rs.EntryNum 
				INNER JOIN dbo.tblPoTransHeader h ON rs.TransId = h.TransId 
				INNER JOIN dbo.tblPoTransDetail d ON rs.TransId = d.TransId AND rs.EntryNum = d.EntryNum 
				INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
				WHERE rs.[Status] = 1 AND rs.[Source] = 0 AND YEAR(rs.TransDate) * 1000 + MONTH(rs.TransDate) BETWEEN @FiscalYearFrom * 1000 + @FiscalPeriodFrom 
				AND @FiscalYearThru * 1000 + @FiscalPeriodThru 
				GROUP BY h.TransId, d.EntryNum, rs.ReceiptNum,rs.TransDate,d.UnitCost
		) ds GROUP BY ds.TransID, ds.EntryNum,ds.ReceiptNum,ds.ReceiptDate,ds.GlPeriod,ds.FiscalYear
	 ) r ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum
		LEFT JOIN 
			(	SELECT u.TransId,u.EntryNum,u.RcptNum
				FROM #tmpTransReceiptList t INNER JOIN dbo.tblPoTransLotRcpt u ON t.ReceiptId = u.ReceiptId 
					INNER JOIN dbo.tblPoTransReceiptLandedCost v ON u.ReceiptId = v.ReceiptId 
					INNER JOIN dbo.tblPoTransDetailLandedCost l ON v.LCTransSeqNum = l.LCTransSeqNum 
				WHERE (v.Amount - v.PostedAmount) <> 0
				GROUP BY u.TransId,u.EntryNum,u.RcptNum) l 
				ON r.TransId = l.TransId AND r.EntryNum = l.EntryNum AND r.ReceiptNum = l.RcptNum

	IF @PrintLandedCostDetail = 1 
	BEGIN
		SELECT u.TransId,u.EntryNum,u.RcptNum AS ReceiptNum, l.[Description], l.[Level], SUM(v.Amount - v.PostedAmount) AS Amount
		FROM #tmpTransReceiptList t INNER JOIN dbo.tblPoTransLotRcpt u ON t.ReceiptId = u.ReceiptId 
			INNER JOIN dbo.tblPoTransReceiptLandedCost v ON u.ReceiptId = v.ReceiptId 
			INNER JOIN dbo.tblPoTransDetailLandedCost l ON v.LCTransSeqNum = l.LCTransSeqNum 
		WHERE (v.Amount - v.PostedAmount) <> 0
		GROUP BY u.TransId,u.EntryNum,u.RcptNum,l.LCTransSeqNum,l.[Description],l.[Level]
	END
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoReceivingReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoReceivingReport_proc'
GO
