USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InPriceBreakList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InPriceBreakList_proc]
AS
BEGIN TRY

	 SELECT p.BrkId ,h.Description, BrkQty , BrkAdj , BrkAdjType 
	 FROM dbo.tblInPriceBreakHeader h
	 INNER JOIN dbo.tblInPriceBreaks p ON  h.PriceBrkId = p.BrkId
	 INNER JOIN #tmpPriceBreak t ON p.BrkId = t.BrkId
	 
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InPriceBreakList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InPriceBreakList_proc'
GO
