USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransactionJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransactionJournal_proc]
@SortBy int = 0, 
@ReportCurrency [nvarchar](6) = Null,
@BaseCurrency [nvarchar](6) = 'USD',
@PrintPurchasesJournal bit = 1,
@PrintDetail bit = 1,
@TransType nvarchar(10),
@TransTypePmt nvarchar(10)

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpPurchases
	(
		TransId [nvarchar](8) NOT NULL, 
		InvoiceNum [nvarchar](15) NOT NULL
	)

	CREATE TABLE #tmpPurchaseDetail
	(
		RecType tinyint, 
		TransId [nvarchar](8) NOT NULL, 
		BatchId [nvarchar](6) NOT NULL, 
		VendorId [nvarchar](10) NOT NULL, 
		DistCode [nvarchar](6) NOT NULL, 
		TaxGrpId [nvarchar](10) NOT NULL, 
		EntryNum int, 
		GlAcct [nvarchar](255) NULL, 
		ItemId [nvarchar](24) NULL, 
		ItemType tinyint NULL, 
		ProjId nvarchar(255) NULL, 
		CustId [nvarchar](10) NULL, 
		PhaseId nvarchar(255) NULL, 
		TaskId nvarchar(255) NULL, 
		LocIdDtl [nvarchar](10) NULL, 
		Descr [nvarchar](255) NULL, 
		Units [nvarchar](5) NULL, 
		GlDesc [nvarchar](30) NULL, 
		AddnlDescr nvarchar(max) NULL, 
		TaxClass tinyint NULL, 
		InvoiceNum [nvarchar](15) NULL, 
		InvoiceDate datetime NULL, 
		FiscalPeriod smallint NULL, 
		FiscalYear smallint NULL, 
		Qty [decimal](28,10) NULL, 
		UnitCost [decimal](28,10) NULL, 
		ExtCost [decimal](28,10) NULL, 
		Ten99InvoiceYN bit NULL, 
		CurrTaxable [decimal](28,10) NULL, 
		CurrNonTaxable [decimal](28,10) NULL, 
		CurrSalesTax [decimal](28,10) NULL, 
		CurrFreight [decimal](28,10) NULL, 
		CurrMisc [decimal](28,10) NULL, 
		CurrDisc [decimal](28,10) NULL, 
		CurrPrepaid [decimal](28,10) NULL, 
		CurrTotal [decimal](28,10) NULL, 
		GroupHeader0 int NULL, 
		CurrCheckNo [nvarchar](10) NULL, 
		CurrCheckDate datetime NULL, 
		CurrDueDate1 datetime NULL, 
		CurrDueDate2 datetime NULL, 
		CurrDueDate3 datetime NULL, 
		CurrPmtAmt1 [decimal](28,10) NULL, 
		CurrPmtAmt2 [decimal](28,10) NULL, 
		CurrPmtAmt3 [decimal](28,10) NULL,
		LottedYn bit NULL,
		GLAcctAccrual [nvarchar](255) NULL,
		WIPAcct [nvarchar](255) NULL,
		CurrencyID [nvarchar](6) NULL,
	)

	CREATE TABLE #TempProject
	( 
		TransId [nvarchar](8) NOT NULL,
		EntryNum int NOT NULL,
		ProjId nvarchar(10) NULL,
		PhaseId nvarchar(10) NULL,
		TaskId nvarchar(10) NULL,
		CustId nvarchar(10) NULL,
		WIPAcct [nvarchar](255) NULL,
		PRIMARY KEY CLUSTERED ([TransId], [EntryNum])
	)
	
	--direct project
	INSERT INTO #TempProject(TransId, EntryNum, ProjId, PhaseId, TaskId, CustId, WIPAcct)
	SELECT d.TransID, d.EntryNum, p.ProjectName, j.PhaseId, j.TaskId, p.CustId, c.GLAcctWIP
	FROM #tmpTransactionList l INNER JOIN dbo.tblPoTransHeader h ON l.TransId = h.TransId 
		INNER JOIN #tmpVendorList v ON h.VendorId = v.VendorId 
		INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON l.TransId = d.TransID 
		INNER JOIN dbo.tblPcProjectDetail j ON d.ProjectDetailId = j.Id 
		INNER JOIN dbo.tblPcProject p ON j.ProjectId = p.Id
		INNER JOIN dbo.tblPcDistCode c ON j.DistCode = c.DistCode
	WHERE h.TransType <> 0
		
	--project link		
	INSERT INTO #TempProject(TransId, EntryNum, ProjId, PhaseId, TaskId, CustId, WIPAcct)
	SELECT d.TransID, d.EntryNum, p.ProjectName, j.PhaseId, j.TaskId, p.CustId, c.GLAcctWIP
	FROM #tmpTransactionList l INNER JOIN dbo.tblPoTransHeader h ON l.TransId = h.TransId 
		INNER JOIN #tmpVendorList v ON h.VendorId = v.VendorId 
		INNER JOIN dbo.tblPoTransDetail d (NOLOCK) ON l.TransId = d.TransID 
		INNER JOIN dbo.tblSmTransLink k ON d.LinkSeqNum = k.SeqNum 
		INNER JOIN dbo.tblPcTrans t ON k.SourceId = t.Id
		INNER JOIN dbo.tblPcProjectDetail j ON t.ProjectDetailId = j.Id 
		INNER JOIN dbo.tblPcProject p ON j.ProjectId = p.Id	
		INNER JOIN dbo.tblPcDistCode c ON j.DistCode = c.DistCode
	WHERE k.TransLinkType = 0 AND k.SourceType = 3 AND k.DestType = 2 AND h.TransType <> 0 --Link between Project and PO order
		AND k.SourceStatus <> 2 AND k.DestStatus <> 2 --link is not broken
		
	INSERT INTO #tmpPurchases (TransId, InvoiceNum) 
	SELECT i.TransId, i.InvcNum 
	FROM #tmpTransactionList t INNER JOIN dbo.tblPoTransHeader h ON t.TransId = h.TransId 
		INNER JOIN #tmpVendorList v ON h.VendorId = v.VendorId 
		INNER JOIN dbo.tblPoTransInvoiceTot i ON t.TransID = i.TransId 
		LEFT JOIN (SELECT TransID, InvoiceNum FROM dbo.tblPoTransInvoice WHERE [Status] = 0 GROUP BY TransID, InvoiceNum) d 
		ON i.TransId = d.TransID AND i.InvcNum = d.InvoiceNum
		WHERE ((@PrintPurchasesJournal = 0 AND h.TransType < 0) OR (@PrintPurchasesJournal = 1 AND h.TransType > 0))
		AND (d.TransID IS NOT NULL OR i.CurrPrepaidFgn <> 0 OR (i.CurrPmtAmt1Fgn + i.CurrPmtAmt2Fgn + i.CurrPmtAmt3Fgn) <> 0)

	CREATE TABLE #tmppmt   
	(  
		TransId [nvarchar](8) NOT NULL,  
		PrepaidAmt [decimal](28,10) NULL  ,
		InvoiceNum [nvarchar](15) NULL
	)  

	INSERT INTO #tmppmt (TransId,PrepaidAmt,InvoiceNum)  
   
	SELECT l.TransID  
		, CASE WHEN h.CurrencyId = p.PmtCurrencyId  THEN ISNULL(p.CurrPrepaidFgn,0) 
			   WHEN h.CurrencyId = @BaseCurrency THEN ISNULL(p.CurrPrepaid,0)
			   ELSE ROUND((ISNULL(p.CurrPrepaidFgn, 0)) * pmtet.Rate, pmtet.CurrDecPlaces) END as PrepaidAmt
		, p.InvcNum
	FROM #tmpPurchases l   
	INNER JOIN dbo.tblPoTransInvoiceTot p ON l.TransId = p.TransId AND l.InvoiceNum = p.InvcNum
	INNER JOIN dbo.tblPoTransHeader h ON l.TransId = h.TransId
	LEFT JOIN 
	(
		SELECT TransKey, [Source],[Destination],Rate, CurrDecPlaces  
		FROM [dbo].[tblSmExchangeRateTrans] e  
		INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
		WHERE e.[TransType] = @TransTypePmt --AND e.[Destination] = @ReportCurrency   
	) pmtet ON pmtet.TransKey =p.ID AND pmtet.[Source] = p.PmtCurrencyId  AND pmtet.Destination = h.CurrencyId
	WHERE p.CurrPrepaidFgn  <> 0
	    
	IF EXISTS (SELECT * FROM #tmppmt WHERE  PrepaidAmt IS NULL)  
	BEGIN  
		THROW 90027, N'Invalid exchange information.', 1  
	END  
		
	IF @SortBy < 2 
	BEGIN
		INSERT INTO #tmpPurchaseDetail (RecType, TransId, BatchId, VendorId, DistCode, TaxGrpId
			, EntryNum, GlAcct, WIPAcct, ItemId, ItemType
			, ProjId, CustId, PhaseId, TaskId, LocIdDtl, Descr, Units
			, GlDesc, AddnlDescr, TaxClass, InvoiceNum
			, InvoiceDate, FiscalPeriod, FiscalYear, Qty, UnitCost, ExtCost, Ten99InvoiceYn
			, CurrTaxable, CurrNonTaxable, CurrSalesTax, CurrFreight, CurrMisc, CurrDisc, CurrPrepaid
			, CurrTotal, GroupHeader0, CurrCheckNo, CurrCheckDate
			, CurrDueDate1, CurrDueDate2, CurrDueDate3, CurrPmtAmt1, CurrPmtAmt2, CurrPmtAmt3,LottedYn, GLAcctAccrual,CurrencyID ) 
		SELECT 0 AS RecType, h.TransId, h.BatchId, h.VendorId, h.DistCode, h.TaxGrpID, d.EntryNum, 
			d.GLAcct, e.WIPAcct, --this is actual account that is used in posting for job cost project
			d.ItemId, d.ItemType, e.ProjId, e.CustId, e.PhaseId, e.TaskId, d.LocId AS LocIdDtl, d.Descr, d.Units
			, d.GLDesc, d.AddnlDescr, d.TaxClass, i.InvoiceNum
			, t.InvcDate, t.GlPeriod AS FiscalPeriod, t.FiscalYear, i.Qty
	    	, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  i.UnitCostFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN i.UnitCost
				   Else ROUND(i.UnitCostFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCost 
				   
	       , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  i.ExtCostFgn
				  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN i.ExtCost
				  Else ROUND(i.ExtCostFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost
			
			, t.Ten99InvoiceYN
			, 0 AS CurrTaxable
			, 0 AS CurrNonTaxable
			, 0 AS CurrSalesTax
			, 0 AS CurrFreight
			, 0 AS CurrMisc
			, 0 AS CurrDisc 
			, 0 AS CurrPrepaid
			, 0 AS CurrTotal
			, COALESCE(d.LineSeq, d.EntryNum) AS GroupHeader0
			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			, 0 AS CurrPmtAmt1
			, 0 AS CurrPmtAmt2
			, 0 AS CurrPmtAmt3, ISNULL(d.LottedYn, 0) AS LottedYn, d.GLAcctAccrual,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
			
		FROM #tmpPurchases p INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId
			INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransID = t.TransId AND p.InvoiceNum = t.InvcNum 
			INNER JOIN dbo.tblPoTransInvoice i ON  t.TransID = i.TransID AND t.InvcNum = i.InvoiceNum 
			INNER JOIN dbo.tblPoTransDetail d ON i.TransId = d.TransID AND i.EntryNum = d.EntryNum 
			LEFT JOIN #TempProject e ON d.TransID = e.TransId AND d.EntryNum = e.EntryNum
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = t.ID AND et.[Source] = h.[CurrencyID]
		WHERE i.Status = 0
	END
	ELSE
	BEGIN
		INSERT INTO #tmpPurchaseDetail (RecType, TransId, BatchId, VendorId, DistCode, TaxGrpId
			, EntryNum, GlAcct, WIPAcct, ItemId, ItemType
			, ProjId, CustId, PhaseId, TaskId, LocIdDtl, Descr, Units
			, GlDesc, AddnlDescr, TaxClass, InvoiceNum
			, InvoiceDate, FiscalPeriod, FiscalYear, Qty, UnitCost, ExtCost, Ten99InvoiceYn
			, CurrTaxable, CurrNonTaxable, CurrSalesTax, CurrFreight, CurrMisc, CurrDisc, CurrPrepaid
			, CurrTotal, GroupHeader0, CurrCheckNo, CurrCheckDate
			, CurrDueDate1, CurrDueDate2, CurrDueDate3, CurrPmtAmt1, CurrPmtAmt2, CurrPmtAmt3,LottedYn, GLAcctAccrual,CurrencyID ) 
		SELECT 0 AS RecType, h.TransId, h.BatchId, h.VendorId, h.DistCode, h.TaxGrpID, d.EntryNum
			,d.GLAcct, e.WIPAcct --this is actual account that is used in posting for job cost project
			,d.ItemId, d.ItemType, e.ProjId, e.CustId, e.PhaseId, e.TaskId, d.LocId AS LocIdDtl, d.Descr, d.Units
			, d.GLDesc, d.AddnlDescr, d.TaxClass, i.InvoiceNum
			, t.InvcDate, t.GlPeriod AS FiscalPeriod, t.FiscalYear, i.Qty
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  i.UnitCostFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN i.UnitCost
				   Else ROUND(i.UnitCostFgn * et.Rate, et.CurrDecPlaces) End  AS UnitCost 
				   
	       , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  i.ExtCostFgn
				  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN i.ExtCost
				  Else ROUND(i.ExtCostFgn * et.Rate, et.CurrDecPlaces) End  AS ExtCost
			, t.Ten99InvoiceYN
			, 0 AS CurrTaxable
			, 0 AS CurrNonTaxable
			, 0 AS CurrSalesTax
			, 0 AS CurrFreight
			, 0 AS CurrMisc
			, 0 AS CurrDisc 
			, 0 AS CurrPrepaid
			, 0 AS CurrTotal
			, COALESCE(d.LineSeq, d.EntryNum) AS GroupHeader0
			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			, 0 AS CurrPmtAmt1
			, 0 AS CurrPmtAmt2
			, 0 AS CurrPmtAmt3, ISNULL(d.LottedYn, 0) AS LottedYn, d.GLAcctAccrual,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		FROM #tmpPurchases p INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId
			INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransID = t.TransId AND p.InvoiceNum = t.InvcNum 
			INNER JOIN dbo.tblPoTransInvoice i ON  t.TransID = i.TransID AND t.InvcNum = i.InvoiceNum 
			INNER JOIN dbo.tblPoTransDetail d ON i.TransId = d.TransID AND i.EntryNum = d.EntryNum
			LEFT JOIN #TempProject e ON d.TransID = e.TransId AND d.EntryNum = e.EntryNum
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] =t.ID AND et.[Source] = h.[CurrencyID]
		WHERE i.Status = 0
		UNION ALL
		SELECT 1 AS RecType, h.TransId, h.BatchId, h.VendorId, h.DistCode, h.TaxGrpID
			, 0 AS EntryNum, NULL AS GLAcct, NULL AS WIPAcct, '' AS ItemId
			, 0 AS ItemType
			, NULL AS ProjID, NULL AS CustId, NULL AS PhaseId, NULL AS TaskId, NULL AS LocIdDtl, NULL AS Descr
			, NULL AS Units
			, NULL AS GLDesc, NULL AS AddnlDescr, 0 AS TaxClass, t.InvcNum AS InvoiceNum
			, NULL AS InvoiceDate, 0 AS FiscalPeriod, 0 AS FiscalYear, 0 AS Qty
			, 0 AS UnitCost
			, 0 AS ExtCost
			, t.Ten99InvoiceYN
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable
				   Else ROUND(t.CurrTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrTaxable 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrNonTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrNonTaxable
				   Else ROUND(t.CurrNonTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrNonTaxable 
				   	   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrSalesTax + t.CurrTaxAdjAmt
				   Else ROUND((t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn) * et.Rate, et.CurrDecPlaces) End  AS CurrSalesTax 				   	   
			   	   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrFreightFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrFreight
				   Else ROUND(t.CurrFreightFgn * et.Rate, et.CurrDecPlaces) End  AS CurrFreight 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrMiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrMisc
				   Else ROUND(t.CurrMiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrMisc 
		
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrDiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrDisc
				   Else ROUND(t.CurrDiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrDisc 

			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(pmt.PrepaidAmt,0)  
				   WHEN ISNULL(@ReportCurrency,@BaseCurrency) = @BaseCurrency THEN t.CurrPrepaid  
                   WHEN ISNULL(@ReportCurrency,t.PmtCurrencyId) = t.PmtCurrencyId THEN t.CurrPrepaidFgn 
                   ELSE ISNULL(ROUND(t.CurrPrepaidFgn  * etp.Rate, etp.CurrDecPlaces),0) END  AS CurrPrepaid    
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable + t.CurrNonTaxable + t.CurrFreight + t.CurrMisc + t.CurrSalesTax + t.CurrTaxAdjAmt 
				   Else ROUND((t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn ) * et.Rate, et.CurrDecPlaces) End  AS CurrTotal 
		
			, NULL AS GroupHeader0
			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt1Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt1
				   Else ROUND(t.CurrPmtAmt1Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt1 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt2Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt2
				   Else ROUND(t.CurrPmtAmt2Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt2 
				   
		    , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt3Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt3
				   Else ROUND(t.CurrPmtAmt3Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt3 
	
			,0 AS LottedYn, NULL,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		FROM #tmpPurchases p 
		INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId
		INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransID = t.TransId AND p.InvoiceNum = t.InvcNum
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
        ) et ON et.[TransKey] = t.ID AND et.[Source] = h.[CurrencyID]
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransTypePmt AND e.[Destination] = @ReportCurrency 
        ) etp ON etp.[TransKey] = t.ID AND etp.[Source] = t.PmtCurrencyId
		LEFT JOIN #tmppmt pmt ON p.TransId = pmt.TransId AND pmt.InvoiceNum = t.InvcNum 
	END


	IF EXISTS (SELECT * FROM #tmpPurchaseDetail  WHERE  UnitCost IS NULL OR ExtCost IS NULL OR
				CurrTaxable IS NULL OR CurrNonTaxable IS NULL  OR CurrSalesTax IS NULL OR  CurrFreight IS NULL OR CurrMisc IS NULL OR
			    CurrDisc IS NULL OR   CurrTotal IS NULL OR CurrPmtAmt1 IS NULL OR CurrPmtAmt2 IS NULL OR
				CurrPmtAmt3 IS NULL )
   
   		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END
	--todo JC

	IF @SortBy < 2
	BEGIN
		SELECT CASE @SortBy WHEN 0 THEN d.BatchId WHEN 1 THEN d.VendorId END GrpId1,
		CASE @SortBy WHEN 0 THEN d.BatchId + '2' WHEN 1 THEN d.VendorId + '2' END GrpId2,
		CASE @SortBy WHEN 0 THEN d.VendorId WHEN 1 THEN d.TransId + '2' END GrpId3,
		d.*, v.Name FROM #tmpPurchaseDetail d INNER JOIN dbo.tblApVendor v ON d.VendorId = v.VendorId
	END 
	ELSE
	BEGIN
		SELECT CASE @SortBy WHEN 2 THEN CONVERT(nvarchar(24), ((d.FiscalYear * 1000) + d.FiscalPeriod)) WHEN 3 THEN d.ItemId END GrpId1,
		CASE @SortBy WHEN 2 THEN d.GlAcct WHEN 3 THEN d.ItemId +'2' END GrpId2,
		'' GrpId3,
		d.*, v.Name FROM #tmpPurchaseDetail d INNER JOIN dbo.tblApVendor v ON d.VendorId = v.VendorId
	END

	IF @PrintDetail = 1 
	BEGIN
	
		CREATE TABLE #tmpLot
		(
			TransId [nvarchar](8) NOT NULL,
			EntryNum int null,
			LotNum [nvarchar](16) NULL,
			InvoiceNum [nvarchar](15) NULL, 
			Qty [decimal](28,10) NULL,
			ExtCost [decimal](28,10) NULL,
			CurrencyID [nvarchar](6) NULL
		)
		INSERT INTO #tmpLot (TransId,EntryNum,LotNum,InvoiceNum,Qty,ExtCost,CurrencyID)
		--lot
		SELECT r.TransId, r.EntryNum, r.LotNum, i.InvoiceNum, SUM(ir.Qty) AS Qty
		
		,SUM(CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  i.UnitCostFgn 
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN i.UnitCost
			  Else ROUND(i.UnitCostFgn  * et.Rate, et.CurrDecPlaces) End * ir.Qty )AS ExtCost 
		,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
	     
		FROM #tmpPurchases t INNER JOIN dbo.tblPoTransInvoice i ON t.TransId = i.TransId AND t.InvoiceNum = i.InvoiceNum
			INNER JOIN tblPoTransInvc_Rcpt ir ON i.InvoiceId = ir.InvoiceId 
			INNER JOIN tblPoTransLotRcpt r ON ir.ReceiptId = r.ReceiptId
			INNER JOIN tblPoTransHeader h ON i.TransId = h.TransId
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = i.InvcHeaderID AND et.[Source] = h.[CurrencyID]
            
		WHERE i.Status = 0 AND r.LotNum IS NOT NULL
		GROUP BY r.TransId, r.EntryNum, r.LotNum, i.InvoiceNum,CurrencyID
		ORDER BY i.InvoiceNum, r.LotNum

		 IF EXISTS (SELECT * FROM #tmpLot WHERE  ExtCost IS NULL )
		   
   				BEGIN
					THROW 90027, N'Invalid exchange information.', 1
				END
				
		SELECT * FROM #tmpLot  
		
		--ser
		CREATE TABLE #tmpSer
		(
			TransId [nvarchar](8) NOT NULL,
			EntryNum int null,
			LotNum [nvarchar](16) NULL, 
			SerNum [nvarchar](35) NULL,
			UnitCost [decimal](28,10) NULL,
			RcptUnitCost [decimal](28,10) NULL,
			InvcNum [nvarchar](15) NULL, 
			LottedYn bit null,
			CurrencyID [nvarchar](6) NULL

		)
		INSERT INTO #tmpSer (TransId,EntryNum,LotNum,SerNum,UnitCost,RcptUnitCost,InvcNum,LottedYn, CurrencyID)
		--ser
		SELECT s.TransId, s.EntryNum, s.LotNum, s.SerNum
			   ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN s.InvcUnitCostFgn 
					 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN s.InvcUnitCost
					 Else ROUND(s.InvcUnitCostFgn  * et.Rate, et.CurrDecPlaces) End  AS UnitCost
					  
			   ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN s.RcptUnitCostFgn 
					 WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN s.RcptUnitCost
					 Else ROUND(s.RcptUnitCostFgn  * et.Rate, et.CurrDecPlaces) End  AS RcptUnitCost
 			  , s.InvcNum, ISNULL(i.LottedYn, 0) AS LottedYn, ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]	
 			  	
		FROM #tmpPurchases t INNER JOIN dbo.tblPoTransSer s ON t.TransId = s.TransId AND t.InvoiceNum = s.InvcNum 
			INNER JOIN dbo.tblPoTransDetail d ON s.TransId = d.TransId AND s.EntryNum = d.EntryNum
			INNER JOIN dbo.tblPoTransInvoice p ON t.TransId = p.TransId AND t.InvoiceNum = p.InvoiceNum AND d.EntryNum = p.EntryNum
			INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
			INNER JOIN tblPoTransHeader h ON s.TransId = h.TransId
			LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces
                FROM [dbo].[tblSmExchangeRateTrans] e
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
            ) et ON et.[TransKey] = p.InvcHeaderID AND et.[Source] = h.[CurrencyID]
		ORDER BY s.InvcNum, s.LotNum, s.SerNum
		
		IF EXISTS (SELECT * FROM #tmpSer WHERE  UnitCost IS NULL  OR  RcptUnitCost IS NULL)
		   
   			BEGIN
				THROW 90027, N'Invalid exchange information.', 1
			END
				
		SELECT * FROM #tmpSer 
	END			

	IF @SortBy < 2 
	BEGIN
	 
	CREATE TABLE #tmpTransIDTotal
	(
		TransId [nvarchar](8) NOT NULL, 
		BatchId [nvarchar](6) NOT NULL, 
		TransType smallint null,
		VendorId [nvarchar](10) NOT NULL, 
		InvoiceNum [nvarchar](15) NULL,
		InvoiceDate datetime NULL, 
		FiscalPeriod smallint NULL, 
		FiscalYear smallint NULL, 
		PdYr nvarchar(10) null,
		Ten99InvoiceYN bit NULL, 
		CurrTaxable [decimal](28,10) NULL, 
		CurrNonTaxable [decimal](28,10) NULL, 
		CurrSalesTax [decimal](28,10) NULL, 
		CurrFreight [decimal](28,10) NULL, 
		CurrMisc [decimal](28,10) NULL, 
		CurrDisc [decimal](28,10) NULL, 
		CurrPrepaid [decimal](28,10) NULL, 
		CurrTotal [decimal](28,10) NULL,
		CurrCheckNo [nvarchar](10) NULL, 
		CurrCheckDate datetime NULL, 
		CurrDueDate1 datetime NULL, 
		CurrDueDate2 datetime NULL, 
		CurrDueDate3 datetime NULL, 
		CurrPmtAmt1 [decimal](28,10) NULL, 
		CurrPmtAmt2 [decimal](28,10) NULL, 
		CurrPmtAmt3 [decimal](28,10) NULL,
		Status tinyint NULL,
		CurrencyID [nvarchar](6) NULL,
	)
		INSERT INTO #tmpTransIDTotal (TransId, BatchId,TransType, VendorId, InvoiceNum
			, InvoiceDate, FiscalPeriod, FiscalYear, PdYr,Ten99InvoiceYn
			, CurrTaxable, CurrNonTaxable, CurrSalesTax, CurrFreight, CurrMisc, CurrDisc, CurrPrepaid
			, CurrTotal,CurrCheckNo, CurrCheckDate
			, CurrDueDate1, CurrDueDate2, CurrDueDate3, CurrPmtAmt1, CurrPmtAmt2, CurrPmtAmt3,Status, CurrencyID ) 
	
	
		--Trans ID Total
		SELECT h.TransId, h.BatchId, h.TransType, h.VendorId, t.InvcNum AS InvoiceNum, t.InvcDate AS InvoiceDate, t.GLPeriod AS FiscalPeriod, t.FiscalYear
			, CONVERT(nvarchar, t.GLPeriod) + '/' + CONVERT(nvarchar, t.FiscalYear) AS PdYr
			, t.Ten99InvoiceYN
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable
				   Else ROUND(t.CurrTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrTaxable 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrNonTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrNonTaxable
				   Else ROUND(t.CurrNonTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrNonTaxable 
				   	   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrSalesTax + t.CurrTaxAdjAmt
				   Else ROUND((t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn) * et.Rate, et.CurrDecPlaces) End  AS CurrSalesTax 
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrFreightFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrFreight
				   Else ROUND(t.CurrFreightFgn * et.Rate, et.CurrDecPlaces) End  AS CurrFreight 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrMiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrMisc
				   Else ROUND(t.CurrMiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrMisc 
		
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrDiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrDisc
				   Else ROUND(t.CurrDiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrDisc 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(pmt.PrepaidAmt,0)  
				   WHEN ISNULL(@ReportCurrency,@BaseCurrency) = @BaseCurrency THEN t.CurrPrepaid  
				   WHEN ISNULL(@ReportCurrency,t.PmtCurrencyId) = t.PmtCurrencyId THEN t.CurrPrepaidFgn 
				   ELSE ISNULL(ROUND(t.CurrPrepaidFgn  * etp.Rate, etp.CurrDecPlaces),0) END  AS CurrPrepaid     
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable + t.CurrNonTaxable + t.CurrFreight + t.CurrMisc + t.CurrSalesTax + t.CurrTaxAdjAmt 
				   Else ROUND((t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn ) * et.Rate, et.CurrDecPlaces) End  AS CurrTotal 
						
			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt1Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt1
				   Else ROUND(t.CurrPmtAmt1Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt1 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt2Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt2
				   Else ROUND(t.CurrPmtAmt2Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt2 
				   
		    , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt3Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt3
				   Else ROUND(t.CurrPmtAmt3Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt3 
			, t.Status, ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
			
		FROM #tmpPurchases p 
		INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId 
		INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransId = t.TransId AND p.InvoiceNum = t.InvcNum
		LEFT JOIN 
		(	
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
        ) et ON et.[TransKey] = t.ID AND et.[Source] = h.[CurrencyID]
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransTypePmt AND e.[Destination] = @ReportCurrency 
        ) etp ON etp.[TransKey] = t.ID AND etp.[Source] = t.PmtCurrencyId
		LEFT JOIN #tmppmt pmt ON p.TransId = pmt.TransId AND pmt.InvoiceNum = t.InvcNum
			
		IF EXISTS (SELECT * FROM #tmpTransIDTotal WHERE
		 
						CurrTaxable IS NULL OR CurrNonTaxable IS NULL  OR CurrSalesTax IS NULL  OR 
						CurrFreight IS NULL OR CurrMisc IS NULL OR 	CurrDisc IS NULL OR 
						CurrTotal IS NULL OR CurrPmtAmt1 IS NULL OR
						CurrPmtAmt2 IS NULL OR CurrPmtAmt3 IS NULL
				  )
		   
   			BEGIN
				THROW 90027, N'Invalid exchange information.', 1
			END
				
		SELECT * FROM #tmpTransIDTotal 
		
	
		--Sort By Total
	CREATE TABLE #tmpSortByTransID
	(
		TransId [nvarchar](8) NOT NULL, 
		BatchId [nvarchar](6) NOT NULL, 
		TransType smallint null,
		VendorId [nvarchar](10) NOT NULL, 
		InvoiceNum [nvarchar](15) NULL,
		InvoiceDate datetime NULL, 
		FiscalPeriod smallint NULL, 
		FiscalYear smallint NULL, 
		PdYr nvarchar(10) null,
		Ten99InvoiceYN bit NULL, 
		CurrTaxable [decimal](28,10) NULL, 
		CurrNonTaxable [decimal](28,10) NULL, 
		CurrSalesTax [decimal](28,10) NULL, 
		CurrFreight [decimal](28,10) NULL, 
		CurrMisc [decimal](28,10) NULL, 
		CurrDisc [decimal](28,10) NULL, 
		CurrPrepaid [decimal](28,10) NULL, 
		CurrTotal [decimal](28,10) NULL,
		CurrCheckNo [nvarchar](10) NULL, 
		CurrCheckDate datetime NULL, 
		CurrDueDate1 datetime NULL, 
		CurrDueDate2 datetime NULL, 
		CurrDueDate3 datetime NULL, 
		CurrPmtAmt1 [decimal](28,10) NULL, 
		CurrPmtAmt2 [decimal](28,10) NULL, 
		CurrPmtAmt3 [decimal](28,10) NULL,
		Status tinyint NULL,
		CurrencyID [nvarchar](6) NULL
	)
		INSERT INTO #tmpSortByTransID (TransId, BatchId,TransType, VendorId, InvoiceNum
			, InvoiceDate, FiscalPeriod, FiscalYear, PdYr,Ten99InvoiceYn
			, CurrTaxable, CurrNonTaxable, CurrSalesTax, CurrFreight, CurrMisc, CurrDisc, CurrPrepaid
			, CurrTotal,CurrCheckNo, CurrCheckDate
			, CurrDueDate1, CurrDueDate2, CurrDueDate3, CurrPmtAmt1, CurrPmtAmt2, CurrPmtAmt3,Status, CurrencyID ) 
		
		
		SELECT h.TransId, h.BatchId, h.TransType, h.VendorId, t.InvcNum AS InvoiceNum, t.InvcDate AS InvoiceDate, t.GLPeriod AS FiscalPeriod, t.FiscalYear
			, CONVERT(nvarchar, t.GLPeriod) + '/' + CONVERT(nvarchar, t.FiscalYear) AS PdYr
			, t.Ten99InvoiceYN
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable
				   Else ROUND(t.CurrTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrTaxable 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrNonTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrNonTaxable
				   Else ROUND(t.CurrNonTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrNonTaxable 
				   	   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrSalesTax + t.CurrTaxAdjAmt
				   Else ROUND((t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn) * et.Rate, et.CurrDecPlaces) End  AS CurrSalesTax 
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrFreightFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrFreight
				   Else ROUND(t.CurrFreightFgn * et.Rate, et.CurrDecPlaces) End  AS CurrFreight 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrMiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrMisc
				   Else ROUND(t.CurrMiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrMisc 
		
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrDiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrDisc
				   Else ROUND(t.CurrDiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrDisc 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(pmt.PrepaidAmt,0)  
				   WHEN ISNULL(@ReportCurrency,@BaseCurrency) = @BaseCurrency THEN t.CurrPrepaid  
				   WHEN ISNULL(@ReportCurrency,t.PmtCurrencyId) = t.PmtCurrencyId THEN t.CurrPrepaidFgn 
				   ELSE ISNULL(ROUND(t.CurrPrepaidFgn  * etp.Rate, etp.CurrDecPlaces),0) END  AS CurrPrepaid 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable + t.CurrNonTaxable + t.CurrFreight + t.CurrMisc + t.CurrSalesTax + t.CurrTaxAdjAmt 
				   Else ROUND((t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn ) * et.Rate, et.CurrDecPlaces) End  AS CurrTotal 

			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt1Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt1
				   Else ROUND(t.CurrPmtAmt1Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt1 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt2Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt2
				   Else ROUND(t.CurrPmtAmt2Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt2 
				   
		    , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt3Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt3
				   Else ROUND(t.CurrPmtAmt3Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt3 
			, t.Status, ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		FROM #tmpPurchases p 
		INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId 
		INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransId = t.TransId AND p.InvoiceNum = t.InvcNum 
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
        ) et ON et.[TransKey] = t.ID AND et.[Source] = h.[CurrencyID]
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransTypePmt AND e.[Destination] = @ReportCurrency 
        ) etp ON etp.[TransKey] = t.ID AND etp.[Source] = t.PmtCurrencyId
		LEFT JOIN #tmppmt pmt ON p.TransId = pmt.TransId AND pmt.InvoiceNum = t.InvcNum
			
		IF EXISTS (SELECT * FROM #tmpSortByTransID WHERE
		 
						CurrTaxable IS NULL OR CurrNonTaxable IS NULL  OR CurrSalesTax IS NULL  OR 
						CurrFreight IS NULL OR CurrMisc IS NULL OR 	CurrDisc IS NULL OR 
						CurrTotal IS NULL OR CurrPmtAmt1 IS NULL OR
						CurrPmtAmt2 IS NULL OR CurrPmtAmt3 IS NULL
				  )
		   
   			BEGIN
				THROW 90027, N'Invalid exchange information.', 1
			END
				
		SELECT * FROM #tmpSortByTransID 


		--Grand Total
		SELECT SUM(CurrTaxable) AS CurrTaxable
		, SUM(CurrNonTaxable) AS CurrNonTaxable
		, SUM(CurrSalesTax) AS CurrSalesTax
		, SUM(CurrFreight) AS CurrFreight
		, SUM(CurrMisc) AS CurrMisc
		, SUM(CurrDisc) AS  CurrDisc
		, SUM(CurrPrepaid) AS CurrPrepaid
		, SUM(CurrTotal) AS CurrTotal, [CurrencyID]
		FROM (SELECT h.TransId, h.BatchId, h.TransType, h.VendorId, t.InvcNum AS InvoiceNum, t.InvcDate AS InvoiceDate, t.GLPeriod AS FiscalPeriod, t.FiscalYear
			, CONVERT(nvarchar, t.GLPeriod) + '/' + CONVERT(nvarchar, t.FiscalYear) AS PdYr
			, t.Ten99InvoiceYN
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable
				   Else ROUND(t.CurrTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrTaxable 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrNonTaxableFgn
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrNonTaxable
				   Else ROUND(t.CurrNonTaxableFgn * et.Rate, et.CurrDecPlaces) End  AS CurrNonTaxable 
				   	   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrSalesTax + t.CurrTaxAdjAmt
				   Else ROUND((t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn) * et.Rate, et.CurrDecPlaces) End  AS CurrSalesTax 

			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrFreightFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrFreight
				   Else ROUND(t.CurrFreightFgn * et.Rate, et.CurrDecPlaces) End  AS CurrFreight 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrMiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrMisc
				   Else ROUND(t.CurrMiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrMisc 
		
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrDiscFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrDisc
				   Else ROUND(t.CurrDiscFgn * et.Rate, et.CurrDecPlaces) End  AS CurrDisc 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(pmt.PrepaidAmt,0)  
				   WHEN ISNULL(@ReportCurrency,@BaseCurrency) = @BaseCurrency THEN t.CurrPrepaid  
				   WHEN ISNULL(@ReportCurrency,t.PmtCurrencyId) = t.PmtCurrencyId THEN t.CurrPrepaidFgn 
				   ELSE ISNULL(ROUND(t.CurrPrepaidFgn  * etp.Rate, etp.CurrDecPlaces),0) END  AS CurrPrepaid 
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrTaxable + t.CurrNonTaxable + t.CurrFreight + t.CurrMisc + t.CurrSalesTax + t.CurrTaxAdjAmt 
				   Else ROUND((t.CurrTaxableFgn + t.CurrNonTaxableFgn + t.CurrFreightFgn + t.CurrMiscFgn + t.CurrSalesTaxFgn + t.CurrTaxAdjAmtFgn ) * et.Rate, et.CurrDecPlaces) End  AS CurrTotal 

			, t.CurrCheckNo, t.CurrCheckDate, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
			
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt1Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt1
				   Else ROUND(t.CurrPmtAmt1Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt1 
				   
			, CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt2Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt2
				   Else ROUND(t.CurrPmtAmt2Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt2 
				   
		    , CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  t.CurrPmtAmt3Fgn 
				   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN t.CurrPmtAmt3
				   Else ROUND(t.CurrPmtAmt3Fgn * et.Rate, et.CurrDecPlaces) End  AS CurrPmtAmt3 
			, t.Status, ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]
		FROM #tmpPurchases p 
		INNER JOIN dbo.tblPoTransHeader h ON p.TransId = h.TransId 
		INNER JOIN dbo.tblPoTransInvoiceTot t ON p.TransId = t.TransId AND p.InvoiceNum = t.InvcNum 
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency 
        ) et ON et.[TransKey] = t.ID AND et.[Source] = h.[CurrencyID]
		LEFT JOIN 
		(
			SELECT TransKey, [Source],Rate, CurrDecPlaces
            FROM [dbo].[tblSmExchangeRateTrans] e
            INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
            WHERE e.[TransType] = @TransTypePmt AND e.[Destination] = @ReportCurrency 
        ) etp ON etp.[TransKey] = t.ID AND etp.[Source] = t.PmtCurrencyId
		LEFT JOIN #tmppmt pmt ON p.TransId = pmt.TransId AND pmt.InvoiceNum = t.InvcNum
		) tmp
	GROUP BY CurrencyID
	
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransactionJournal_proc'
GO
