USE [005]
GO
/****** Object:  StoredProcedure [dbo].[_RCG_trav_CreateBankCashReceipt_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[_RCG_trav_CreateBankCashReceipt_proc]

    @FiscalPeriod smallint = null
    ,@FiscalYear smallint=null
    ,@SourceId uniqueidentifier=null

    ,@UserId nvarchar(100)=null
    ,@CompId nchar(3)=null
    ,@WorkstationDate datetime=null

AS
SET NOCOUNT ON
BEGIN TRY
	

    --manipulate the workstation date, period, and year to come from transaction date instead of passed in from program
    --the passed in values are from a previous iteration and are no longer used.
    select @WorkstationDate = isnull((select max(TransDate) as TransDate from _RCG_tblRcBankFileImport),getDate());

    -- lookup the fiscal year and period based upon the cutoff date
	SELECT @FiscalYear = GlYear, @FiscalPeriod = GlPeriod
	FROM dbo.tblSmPeriodConversion 
	WHERE @WorkstationDate BETWEEN BegDate AND EndDate



    DECLARE @DatabaseName NVARCHAR(128);
DECLARE @SQLCommand NVARCHAR(MAX);
declare @MainCompanyId nchar(3)=@CompId;  -- this needs to reflect the main database that the process is being run from (should be 007)

-- Create a cursor to iterate through databases being used in this cash receipt run
DECLARE db_cursor CURSOR FOR
select distinct WebCompId from _RCG_trav_BankCashReceipt_view  GROUP BY WebCompId;

OPEN db_cursor;

FETCH NEXT FROM db_cursor INTO @DatabaseName;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- creates one header for each detail, needs to use each company db to process
    -- Construct the dynamic SQL command
    
    SET @SQLCommand = N'USE [' + @DatabaseName + N']; ' +
    
	N'insert into tblArCashRcptHeader
	([DepositID]
           ,[BankID]
           ,[PmtDate]
           ,[PmtAmt]
           ,[AgingPd]
           ,[CheckNum]
           ,[CustId]
           ,[GLAcct]
           ,[GLPeriod]
           ,[FiscalYear]
           ,[PmtMethodId]
           ,[Note]
           ,[CurrencyID]
           ,[ExchRate]
           ,[InvcAppID]
           ,[SumHistPeriod]
           ,[BankName]
           ,[BankRoutingCode]
           ,[BankAcctNum]
           ,[SourceId]
           ,[OrderState])
           select 
                v.CashReceiptBatch
                ,v.BankId
                ,'''+convert(varchar,@WorkstationDate)+'''
                ,sum(v.Amt)
                ,0
                ,'''+convert(varchar,@WorkstationDate, 112)+'''
                ,v.CustId
                ,max(d.GLAcctReceivables)' --gl account from dist code
                +','+convert(varchar(2),@FiscalPeriod)+'
                ,'+convert(varchar(4),@FiscalYear)+'
                ,v.PmtMethodId
                ,''*''+max(convert(varchar,v.id))+''|''+v.CustId+''*'''-- note field contains the transaction id from the bank cash receipt transaction table to allow for linking the detail record
                +',max(b.CurrencyId)
                ,1' -- exchange rate ?
                +',''AR''' -- invoice app id
                +','+convert(varchar(2),@FiscalPeriod)+'
                ,max(b.[Name])
                ,max(b.RoutingCode)
                ,max(b.OurAcctNum)
                ,'''+convert(nvarchar(max),@SourceId)+'''
                ,0 
                
           
            from ['+@MainCompanyId+'].dbo._RCG_trav_BankCashReceipt_view v 
                inner join ['+@MainCompanyId+'].dbo._RCG_tblRcBankFileImport i on v.BankFileImportId=i.id
             left join dbo.tblSmBankAcct b on v.bankId=b.BankId
             left join dbo.tblArDistCode d on d.DistCode=v.DistCode
            where v.WebCompId='''+@DatabaseName+'''
            group by v.bankfileimportid,v.webcompid,v.custid,v.CashReceiptBatch,v.BankId,v.PmtMethodId,i.checkNum;
            

	'--create detail cash receipt records
    +'INSERT INTO dbo.[tblArCashRcptDetail]
           ([RcptHeaderID]
           ,[InvcNum]
           ,[InvcType]
           ,[OrgInvoiceID]
           ,[DistCode]
           ,[PmtAmt]
           ,[Difference]
           ,[PmtAmtFgn]
           ,[DifferenceFgn]
           
           ,[AdjAmt]
           ,[AdjAmtFgn])
           select 
                h.RcptHeaderID
                ,v.InvcNum
                ,1 
                ,v.InvcCounter ' -- original invoice id should come from counter in invoice table
                +',v.DistCode
                ,v.Amt
                ,isnull(v.DiscAmt,0)
                ,v.Amt
                ,ISNULL(v.DiscAmt,0)
                ,0
                ,0

                 from  ['+@MainCompanyId+'].dbo._RCG_trav_BankCashReceipt_view v
                 inner join (select max(Id) as MaxId,BankFileImportId,WebCompId,CustId,CashReceiptBatch,BankId,PmtMethodId from ['+@MainCompanyId+'].dbo._RCG_trav_BankCashReceipt_view
                            group by bankfileimportid,webcompid,custid,CashReceiptBatch,BankId,PmtMethodId) gv on gv.BankFileImportId=v.BankFileImportId and gv.WebCompId=v.WebCompId 
                                                        and gv.CustId=v.CustId and gv.CashReceiptBatch=v.CashReceiptBatch and gv.BankId=v.BankId
                                                        and gv.PmtMethodId=v.PmtMethodId
                 inner join dbo.tblArCashRcptHeader h on h.Note=''*''+convert(varchar,gv.MaxId)+''|''+gv.CustId+''*''' --match with the note from the header
              +' where v.WebCompId='''+@DatabaseName+''';
          
              '; 

    


   -- select @SQLCommand
   EXEC sp_executesql @SQLCommand;

    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END;


CLOSE db_cursor;
DEALLOCATE db_cursor;


--archive the transaction table to allow for lookup after posting
INSERT INTO [dbo].[_RCG_tblRcBankCashReceiptArchive]
           ([BankFileImportId]
           ,[FileType]
           ,[AcctOrEnvNum1]
           ,[AcctOrEnvNum2]
           ,[CompName]
           ,[CurrencyType]
           ,[TransNo]
           ,[TransDate]
           ,[BankCode]
           ,[Amt1]
           ,[Amt2]
           ,[Amt3]
           ,[Amt4]
           ,[CustRefNo1]
           ,[CustRefNo2]
           ,[Note]
           ,[LockBox]
           ,[Batch]
           ,[BatchItem]
           ,[CheckNum]
           ,[TransType]
           ,[UserImported]
           ,[DateImported]
           ,[BankTransDetailId]
           ,[WebCompId]
           ,[CustId]
           ,[InvcNum]
           ,[Amt]
           ,[InvcCounter]
           ,[DiscAmt]
           ,[ShortName]
           ,[BankId]
           ,[DistCode]
           ,[PmtMethodId]
           ,[CashReceiptBatch]
           ,[AlertEmailAddress])
    select 
        d.BankFileImportId
        ,i.FileType
        ,i.AcctOrEnvNum1
        ,i.AcctOrEnvNum2
        ,i.CompName
        ,i.CurrencyType
        ,i.TransNo
        ,i.TransDate
        ,i.BankCode
        ,i.Amt1
        ,i.Amt2
        ,i.Amt3
        ,i.Amt4
        ,i.CustRefNo1
        ,i.CustRefNo2
        ,i.Note
        ,i.LockBox
        ,i.Batch
        ,i.BatchItem
        ,i.CheckNum
        ,i.TransType
        ,h.UserImported
        ,h.DateImported
        ,d.id
        ,d.WebCompId
        ,d.CustId
        ,d.InvcNum
        ,d.Amt
        ,d.InvcCounter
        ,d.DiscAmt
        ,c.ShortName
        ,c.BankId
        ,c.DistCode
        ,c.PmtMethodId
        ,c.CashReceiptBatch
        ,c.AlertEmailAddress
        
    from _RCG_tblRcBankTransDetail d
        inner join _RCG_tblRcBankFileImport i on i.id=d.BankFileImportId
        inner join _RCG_tblRcBankFileImportArchive h on h.BankFileImportId=d.BankFileImportId
        inner join _RCG_tblRcCompDefault c on c.WebCompId=d.WebCompId;

    
    --create gl records
    -- add the debit side for the main company first
    insert into tblGlTrans 
        ([TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
       ,[BatchId])

        select	
	    NEWID()
	    ,@WorkstationDate
	    ,@WorkstationDate
	    ,'AR Bank Cash Receipt'
	    ,'M3'
	    , v.Webcompid
	    , max(d.glacctid)
	    ,'USD'
	    ,1
	     , case when sum(amt)>0 then sum(amt) else 0 end
 , case when sum(amt)<0 then abs(sum(amt)) else 0 end
	    ,@FiscalYear
	    ,@FiscalPeriod
	    ,0
	    ,0
	    ,1
	    ,@UserId
	    ,1
	    ,'######'
	    from _RCG_trav_BankCashReceipt_view v 
		    inner join _RCG_tblRcCompDefault d on d.WebCompId=@MainCompanyId
	    group by v.webcompid,v.glacctid;

  
    --add the credit side for the intercompany account
    insert into tblGlTrans 
        ([TransId]
      ,[EntryDate]
      ,[TransDate]
      ,[Descr]
      ,[SourceCode]
      ,[Reference]
      ,[AcctId]
      ,[CurrencyId]
      ,[ExchRate]
      ,[DebitAmountFgn]
      ,[CreditAmountFgn]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[AllocateYn]
      ,[ChkRecon]
      ,[CashFlow]
      ,[UserId]
      ,[LineSequence]
       ,[BatchId])
        select	
	    NEWID()
	    ,@WorkstationDate
	    ,@WorkstationDate
	    ,'AR Bank Cash Receipt'
	    ,'M3'
	    , Webcompid +' '+v.custId
	    , glacctid 
	    ,'USD'
	    ,1
	     , case when sum(amt)<0 then abs(sum(amt)) else 0 end
 , case when sum(amt)>0 then sum(amt) else 0 end
	    ,@FiscalYear
	    ,@FiscalPeriod
	    ,0
	    ,0
	    ,1
	    ,@UserId
	    ,1
	    ,'######'
	    from _RCG_trav_BankCashReceipt_view v 
		
	    group by webcompid,glacctid,v.custId;


----remove records from the transaction table
    delete from _RCG_tblRcBankTransDetail;

----remove records from the bank import table
   delete from _RCG_tblRcBankFileImport;




END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_CreateBankCashReceipt_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'_RCG_trav_CreateBankCashReceipt_proc'
GO
