USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BrTransactionJournal_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BrTransactionJournal_proc]
@ReportCurrency [nvarchar](6) = null,
@SortBy tinyint = 0, -- 0, Transaction Number; 1, Fiscal Year/Period/GL Account; 2, Bank Account;
@BaseCurrency [nvarchar](6) = 'USD',
@TransType nvarchar(10)

AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmpBrJrnlRpt
	(
		TransID [nvarchar](8) NOT NULL,
		BankID [nvarchar](10) NOT NULL,
		TransType smallint NOT NULL,
		SourceID nvarchar(10) NULL,
		Descr [nvarchar](255) NULL,
		TransDate datetime NULL,
		GLPeriod smallint NOT NULL,
		FiscalYear smallint NOT NULL,
		Reference nvarchar(15) NULL,
		EntryNum int NULL,
		GLAcct [nvarchar](255) NULL,
		DrAmount [decimal](28,10) NULL,
		CrAmount [decimal](28,10) NULL,
		VoidYn bit NOT NULL,
		VoidAmount [decimal](28,10) NULL,
		Header [decimal](28,10) NOT NULL,
		XferToBankID [nvarchar](10) NULL,
		AcctType tinyint NOT NULL,
		CurrencyID [nvarchar](6) NULL
	)

	--BankIDXferTo
	INSERT INTO #tmpBrJrnlRpt (TransID, BankID, TransType, SourceID, Descr, TransDate, GLPeriod,
		FiscalYear, Reference, EntryNum, GLAcct, DrAmount, CrAmount, VoidYn,
		VoidAmount, Header, XferToBankID,AcctType,CurrencyID)
	SELECT h.TransID, h.BankID, h.TransType,h.SourceID, d.Descr, h.TransDate, h.GLPeriod,
		h.FiscalYear, d.Reference, d.EntryNum, d.GLAcct

		 ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN   ISNULL(d.DebitAmtFgn,0) 
			   WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(d.DebitAmt,0) 
			   Else ROUND(d.DebitAmtFgn  * et.Rate, et.CurrDecPlaces) End  AS DrAmount

	    ,CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN  ISNULL(d.CreditAmtFgn,0)  
			  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ISNULL(d.CreditAmt,0)  
			  Else ROUND(d.CreditAmtFgn * et.Rate, et.CurrDecPlaces) End  AS CrAmount     

		,h.VoidYn, 0, 0 AS Header, CASE WHEN TransType = -3 THEN BankIDXferTo ELSE NULL END AS XferToBankID,b.AcctType
		,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID]  
	FROM #tmpTransactionList t INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.TransId

		INNER JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId
		INNER JOIN dbo.tblBrJrnlDetail d ON h.TransID = d.TransID
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
                FROM [dbo].[tblSmExchangeRateTrans] e  
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
            ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID] 

	

	INSERT INTO #tmpBrJrnlRpt (TransID, BankID, TransType, SourceID, Descr, TransDate, GLPeriod,
		FiscalYear, Reference, EntryNum, GLAcct, DrAmount, CrAmount, VoidYn,
		VoidAmount, Header, XferToBankID,AcctType,CurrencyID)
	SELECT h.TransID, h.BankID, h.TransType, h.SourceID, h.Descr, h.TransDate, h.GLPeriod,
		h.FiscalYear, h.Reference, 0 AS EntryNum, b.GlCashAcct,
		CASE WHEN h.VoidYn = 1 THEN 0 
			 ELSE CASE WHEN @ReportCurrency= @BaseCurrency 
					   THEN CASE WHEN (TransType * Amount) >= 0 THEN ABS(Amount)ELSE 0 END
					   WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID
					   THEN CASE WHEN (TransType * AmountFgn) >= 0 THEN ABS(AmountFgn)ELSE 0 END
					   ELSE CASE WHEN (TransType * ROUND(AmountFgn*et.Rate,et.CurrDecPlaces)) >= 0 THEN ABS(ROUND(AmountFgn*et.Rate,et.CurrDecPlaces))ELSE 0 END
				   END 
		END AS DrAmount,
		CASE WHEN h.VoidYn = 1 THEN 0 
			 ELSE CASE WHEN @ReportCurrency= @BaseCurrency 
					   THEN CASE WHEN (TransType * Amount) < 0 THEN ABS(Amount)ELSE 0 END
					   WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID
					   THEN CASE WHEN (TransType * AmountFgn) < 0 THEN ABS(AmountFgn)ELSE 0 END
					   ELSE CASE WHEN (TransType * ROUND(AmountFgn*et.Rate,et.CurrDecPlaces)) < 0 THEN ABS(ROUND(AmountFgn*et.Rate,et.CurrDecPlaces))ELSE 0 END
				   END 
		END AS CrAmount, h.VoidYn,
		CASE WHEN h.VoidYn = 1 THEN
			 CASE WHEN ISNULL(@ReportCurrency, h.CurrencyID) = h.CurrencyID THEN ABS(AmountFgn)  
				  WHEN ISNULL(@ReportCurrency, @BaseCurrency)= @BaseCurrency THEN ABS(Amount)  
			      Else ROUND(ABS(AmountFgn) * et.Rate, et.CurrDecPlaces) End 
			ELSE 0 END AS VoidAmount, -1 AS Header, NULL, b.AcctType
			,ISNULL(@ReportCurrency, h.CurrencyID) AS [CurrencyID] 
		 
	FROM #tmpTransactionList t INNER JOIN dbo.tblBrJrnlHeader h ON t.TransId = h.TransId
		INNER JOIN dbo.tblSmBankAcct b ON h.BankId = b.BankId
		LEFT JOIN (SELECT TransKey, [Source],Rate, CurrDecPlaces  
                FROM [dbo].[tblSmExchangeRateTrans] e  
                INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]  
                WHERE e.[TransType] = @TransType AND e.[Destination] = @ReportCurrency   
            ) et ON et.[TransKey] = h.TransId AND et.[Source] = h.[CurrencyID] 

	IF EXISTS (SELECT * FROM #tmpBrJrnlRpt WHERE  DrAmount IS NULL OR CrAmount IS NULL OR VoidAmount IS NULL)
   			BEGIN
				THROW 90027, N'Invalid exchange information.', 1
			END
			
	SELECT CASE @SortBy 
			WHEN 0 THEN TransId
			WHEN 1 THEN RIGHT('0000' + CAST(FiscalYear AS nvarchar), 4) + RIGHT('000' + CAST(GlPeriod AS nvarchar), 3)
			ELSE BankId	END GrpId1,
		CASE @SortBy WHEN 0 THEN BankId	WHEN 1 THEN GlAcct	ELSE STR(TransType)	END GrpId2,
		CASE @SortBy
			WHEN 0 THEN RIGHT('0000' + CAST(FiscalYear AS nvarchar), 4) + RIGHT('000' + CAST(GlPeriod AS nvarchar), 3)
			WHEN 1 THEN TransId	ELSE TransId END GrpId3,
		CASE @SortBy WHEN 0 THEN GlAcct	WHEN 1 THEN BankId	ELSE GlAcct	END GrpId4,
		TransID, BankID, TransType, SourceID, Descr, TransDate, GLPeriod, FiscalYear,
		Reference, EntryNum, GLAcct, DrAmount, CrAmount, VoidYn, VoidAmount, XferToBankID, AcctType,CurrencyID
	FROM #tmpBrJrnlRpt

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BrTransactionJournal_proc'
GO
