USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoItemLocPriceList_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoItemLocPriceList_proc]

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT  p.ItemId, p.LocId, p.CustLevel, cl.Descr, p.PriceAdjBase, p.PriceAdjType, p.PriceAdjAmt, p.PriceAdjPromoYn, 
			i.Descr AS ItemIdDescr, p.ItemId + p.LocId AS ItemIdLocID
	FROM  dbo.tblSoItemLocPrice AS p INNER JOIN dbo.tblInItem AS i ON p.ItemId = i.ItemId	
			INNER JOIN tblSoCustLevel cl ON cl.CustLevel = p.CustLevel	-- PET:- 0238857	
			INNER JOIN #tmpItemLoc AS t ON p.ItemId = t.ItemId AND p.LocId = t.LocId	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoItemLocPriceList_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoItemLocPriceList_proc'
GO
