USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_PurgeCompletedOrders_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_PurgeCompletedOrders_proc]
AS
BEGIN TRY

	--delete completed releases
	DELETE dbo.tblMpOrderReleases 
		WHERE [Id] in (SELECT [ReleaseId] FROM #tmpCompletedRelease)

	--delete orders without any remaining releases
	DELETE dbo.tblMpOrder
		WHERE [OrderNo] NOT IN (SELECT [OrderNo] FROM dbo.tblMpOrderReleases)

	--delete Requirements without a parent release
	DELETE dbo.tblMpRequirements
		WHERE [ReleaseId] NOT IN (SELECT [Id] FROM dbo.tblMpOrderReleases)

	--delete Time without a parent requirement
	DELETE dbo.tblMpTimeSum
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpTimeDtl
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	--delete Subcontract without a parent requirement
	DELETE dbo.tblMpSubContractSum
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpSubContractDtl
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	--delete Material without a parent requirement
	DELETE dbo.tblMpMatlSum
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpMatlSumExt
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpMatlDtl
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpMatlDtlExt
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

	DELETE dbo.tblMpMatlSer
		WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblMpRequirements)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_PurgeCompletedOrders_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_PurgeCompletedOrders_proc'
GO
