USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMoveQuantityPost_History_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMoveQuantityPost_History_proc]
@TransId int
AS
BEGIN TRY
	DECLARE @WrkStnDate datetime
	
	--Retrieve global values
	SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'

	IF @WrkStnDate IS NULL OR @TransId IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--create the WM History for the move
	--move out
	INSERT INTO dbo.tblWmHistDetail ([ItemId], [LocId], [LotNum], [SerNum], [TransId]
		, [EntryDate], [TransDate], [Qty], [UID], [HostId], [DeletedYn], [Source]
		, [ExtLocA], [ExtLocAID], [ExtLocB], [ExtLocBID],[Status],[Unit],[UnitBase],[QtyBase],[ZoneID], [ActivityType], [AppID])
	SELECT t.[ItemId], t.[LocId], t.[LotNum], t.[SerNum], CAST(t.[TransId] AS nvarchar)
		, @WrkStnDate, t.[TransDate], t.[Qty], t.[UserId], t.[HostId], 0, 77 --move out
		, t.[ExtLocAFrom], a.[ExtLocID], t.[ExtLocBFrom], b.[ExtLocID],t.[QtyStatus],t.[Unit],t.[UnitBase],t.[QtyBase],a.ZoneID
		, ISNULL(i.ActivityType,0),'WM'
	FROM #MoveQuantity t
	LEFT JOIN dbo.tblWmExtLoc a ON t.[ExtLocAFrom] = a.[Id]
	LEFT JOIN dbo.tblWmExtLoc b ON t.[ExtLocBFrom] = b.[Id]
	LEFT JOIN #tmpActivity i ON i.[FunctionID] = t.[FunctionID]
	WHERE t.[TransId] = @TransId AND t.[Qty] <> 0.0

	--move in
	INSERT INTO dbo.tblWmHistDetail ([ItemId], [LocId], [LotNum], [SerNum], [TransId]
		, [EntryDate], [TransDate], [Qty], [UID], [HostId], [DeletedYn], [Source]
		, [ExtLocA], [ExtLocAID], [ExtLocB], [ExtLocBID], [Status], [Unit],[UnitBase],[QtyBase],[ZoneID], [ActivityType], [AppID])
	Select t.[ItemId], t.[LocId], t.[LotNum], t.[SerNum], CAST(t.[TransId] AS nvarchar)
		, @WrkStnDate, t.[TransDate], t.[Qty], t.[UserId], t.[HostId], 0, 19 --move in
		, t.[ExtLocATo], a.[ExtLocID], t.[ExtLocBTo], b.[ExtLocID], t.[QtyStatus],t.[Unit],t.[UnitBase],t.[QtyBase],a.ZoneID
		, ISNULL(i.ActivityType,0),'WM'
	FROM #MoveQuantity t
	LEFT JOIN dbo.tblWmExtLoc a ON t.[ExtLocATo] = a.[Id]
	LEFT JOIN dbo.tblWmExtLoc b ON t.[ExtLocBTo] = b.[Id]
	LEFT JOIN #tmpActivity i ON i.[FunctionID] = t.[FunctionID]
	WHERE t.[TransId] = @TransId AND t.[Qty] <> 0.0

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMoveQuantityPost_History_proc'
GO
