USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlActivityReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlActivityReport_proc]
@ReportCurrency [nvarchar](6), 
@FiscalYear smallint, 
@YearFrom smallint, 
@YearThru smallint, 
@PeriodFrom smallint, 
@PeriodThru smallint, 
@ClosingPeriod smallint, 
@SourceCodeFrom nvarchar(2), 
@SourceCodeThru nvarchar(2), 
@PrintInactive bit, 
@IncludeZeroBalance bit, 
@SearchMissingEntries bit, 
@SortOrder nvarchar(80), 
@PeriodsPerYear smallint
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @sql nvarchar(1100)
	DECLARE @SortString nvarchar(255)
	DECLARE @ctr smallint
	DECLARE @Period smallint

	/* Create temp tables for select */
	CREATE TABLE #temp1 
	(
		AcctId [nvarchar](255) NOT NULL,
		BalType smallint NOT NULL, 
		SumOfActual [decimal](28,3) NOT NULL
	)
	CREATE TABLE #temp2 
	(
		AcctId [nvarchar](255) NOT NULL,
		SumOfDebitAmt [decimal](28,3) NOT NULL, 
		SumOfCreditAmt [decimal](28,3) NOT NULL  
	)
	CREATE TABLE #tempPdYear 
	(
 		Period smallint NOT NULL, 
 		[Year] smallint NOT NULL
	)
	CREATE TABLE #temp3 
	(
		AcctId [nvarchar](255) NOT NULL,
 		Period smallint NOT NULL, 
 		[Year] smallint NOT NULL, 
		SumOfActual [decimal](28,3) NOT NULL, 
		EndingBal [decimal](28,3) NOT NULL, 
		Adjustment [decimal](28,3) NOT NULL 
	)
	CREATE TABLE #temp4 
	(
		AcctId [nvarchar](255) NOT NULL,
		Period smallint NOT NULL, 
 		[Year] smallint NOT NULL, 
		AcctBalAmt [decimal](28,3) NOT NULL
	)
	CREATE TABLE #temp5 
	(
		AcctId [nvarchar](255) NOT NULL,
		Period smallint NOT NULL, 
 		[Year] smallint NOT NULL, 
		JrnlBalAmt [decimal](28,3) NOT NULL 
	)

	IF @SourceCodeFrom IS NULL	SET @SourceCodeFrom = ''

	IF ISNULL(@SourceCodeThru,'') = ''	SET @SourceCodeThru = 'zz'

	/* Build a list of Beginning balances by Account from Master */	
	INSERT INTO #temp1 (AcctId, BalType, SumOfActual)
	SELECT h.AcctId, h.BalType, ISNULL(d.Actual,0)
	FROM #tmpAccountList t INNER JOIN dbo.tblGlAcctHdr h ON t.AcctId = h.AcctId 
		LEFT JOIN (SELECT AcctId, SUM(Actual) Actual FROM dbo.tblGlAcctDtl 
			WHERE [Year] = @YearFrom AND Period < @PeriodFrom 
			GROUP BY AcctId) d ON t.AcctId = d.AcctId
	WHERE h.CurrencyId = @ReportCurrency AND h.BalType <> 0 

	/* update Beginning balance for unposted entries */
	UPDATE #temp1 SET SumOfActual = SumOfActual + d.Unposted
	FROM #temp1 t INNER JOIN
	(SELECT d.AcctID, SUM(CASE WHEN h.BalType < 0 Then -(d.DebitAmtFgn - d.CreditAmtFgn) ELSE (d.DebitAmtFgn - d.CreditAmtFgn) END) AS Unposted
	FROM #tmpAccountList t INNER JOIN dbo.tblGlAcctHdr h ON t.AcctId = h.AcctId 
		INNER JOIN dbo.tblGlJrnl d ON h.AcctId = d.AcctId
	WHERE [Year] = @YearFrom AND d.Period < @PeriodFrom AND d.PostedYn = 0 AND h.BalType <> 0
	GROUP BY d.AcctID,h.BalType) d ON t.AcctID=d.AcctID

	/* build period/year temp table */
	INSERT INTO #tempPdYear (Period, [Year]) 
	SELECT p.GlPeriod, p.GlYear 
	FROM dbo.tblSmPeriodConversion p 
	WHERE (p.GlYear * 1000) + p.GlPeriod 
		BETWEEN (@YearFrom * 1000) + @PeriodFrom AND (@YearThru * 1000) + @PeriodThru

	/* add closing period to period/year temp table when necessary */
	DECLARE @Year int
	SET @Year = @YearFrom
	WHILE @Year <= @YearThru
	BEGIN
		IF (@YearThru > @Year) OR (@YearThru = @Year) AND (@PeriodThru > @PeriodsPerYear)
		BEGIN
			INSERT INTO #tempPdYear (Period, [Year]) 
			VALUES (@PeriodsPerYear + 1, @Year)
		END
		SET @Year = @Year + 1
	END

	/* Build a list of Active Accounts with Transaction totals from Jrnl */
	INSERT INTO #temp2 (AcctId, SumOfDebitAmt, SumOfCreditAmt)
	SELECT t.AcctId, SUM(DebitAmtFgn), SUM(CreditAmtFgn) 
	FROM #temp1 t 
		INNER JOIN tblGlJrnl j (NOLOCK) ON j.AcctID = t.AcctID 
		INNER JOIN #tempPdYear p ON j.[Year] = p.[Year] AND j.Period = p.Period 
	WHERE j.Period <> 0 AND SourceCode BETWEEN @SourceCodeFrom AND @SourceCodeThru 
	GROUP BY t.AcctID

	/* delete inactive account records in #temp1 */
	IF @PrintInactive = 0
	BEGIN
		DELETE #temp1
		WHERE AcctId NOT IN (SELECT AcctId FROM #temp2)
	END
	ELSE
	BEGIN
		--delete zero balance account  records in #temp1
		--	can only include/exclude zero balances for inactive accounts
		IF @IncludeZeroBalance = 0
		BEGIN
			--Delete Inactive accounts with zero balances */
			DELETE #temp1
			WHERE SumOfActual = 0 AND AcctId NOT IN (SELECT AcctId FROM #temp2)
		END    
	END

	INSERT INTO #temp3 (AcctId, Period, [Year], SumOfActual, Adjustment, EndingBal)
	SELECT t.AcctId, p.Period, p.[Year], t.SumOfActual, 0, 0 
	FROM #tempPdYear p, #temp1 t 

	IF @SearchMissingEntries = 1
	BEGIN
		INSERT INTO #temp4 (AcctId, Period, [Year], AcctBalAmt)
		SELECT t.AcctId, d.Period, d.[Year], SUM(Actual) 
		FROM #temp1 t, tblGlAcctDtl d (nolock), #tempPdYear p 
		WHERE t.AcctID = d.AcctID AND d.[Year] = p.[Year] AND d.Period = p.Period 
		GROUP BY t.AcctID, d.Period, d.[Year]

		INSERT INTO #temp5 (AcctId, Period, [Year], JrnlBalAmt)
		SELECT t.AcctId, j.Period, j.[Year], 
			CASE WHEN BalType >= 0 THEN SUM(DebitAmtFgn) - SUM(CreditAmtFgn) ELSE SUM(CreditAmtFgn) - SUM(DebitAmtFgn) END 
		FROM #temp1 t INNER JOIN tblGlJrnl j (nolock) ON t.AcctId = j.AcctId 
			INNER JOIN #tempPdYear p ON j.[Year] = p.[Year] AND j.Period = p.Period 
		WHERE  j.PostedYn = -1 
		GROUP BY t.AcctID, t.BalType, j.Period, j.[Year] 

		UPDATE #temp3 
		SET Adjustment = ISNULL(AcctBalAmt, 0) - ISNULL(JrnlBalAmt, 0)
		FROM #temp4 LEFT JOIN #temp5 ON #temp4.AcctID = #temp5.AcctID AND #temp4.[Year] = #temp5.[Year] AND #temp4.Period = #temp5.Period
		WHERE #temp3.AcctID = #temp4.AcctID AND #temp3.[Year] = #temp4.[Year] AND #temp3.Period = #temp4.Period
	END

	DECLARE @YearPeriod int
	DECLARE @cursor1 cursor

	SET @cursor1 = CURSOR FOR 
		SELECT ([Year] * 1000) + Period AS PeriodYear FROM #tempPdYear FOR READ ONLY
	OPEN @cursor1
	IF @@CURSOR_ROWS <> 0
	BEGIN
		FETCH NEXT FROM @cursor1 INTO @YearPeriod
		WHILE (@@FETCH_STATUS = 0)
		BEGIN
		UPDATE #temp3 SET EndingBal = SumOfActual + ISNULL(a.Adjustment,0) + ISNULL(t.JournalTotal,0) 
		FROM #temp3 
			LEFT JOIN 
			(
				SELECT d.AcctID
					, SUM(CASE WHEN h.BalType < 0 
						THEN -(d.DebitAmtFgn - d.CreditAmtFgn) 
						ELSE (d.DebitAmtFgn - d.CreditAmtFgn) END) AS JournalTotal 
				FROM #tmpAccountList t 
					INNER JOIN dbo.tblGlAcctHdr h ON t.AcctId = h.AcctId 
					INNER JOIN dbo.tblGlJrnl d ON h.AcctId = d.AcctId 
				WHERE ([Year] * 1000) + Period <= @YearPeriod AND ([Year] * 1000) + Period >= (@YearFrom * 1000) + @PeriodFrom
				AND h.BalType <> 0 
					AND SourceCode BETWEEN @SourceCodeFrom AND @SourceCodeThru 
				GROUP BY d.AcctID,h.BalType
			) t ON #temp3.AcctId = t.AcctId 
			LEFT JOIN 
			(
				SELECT AcctId, SUM(Adjustment) Adjustment 
				FROM #temp3 
				WHERE ([Year] * 1000) + Period <= @YearPeriod AND ([Year] * 1000) + Period >= (@YearFrom * 1000) + @PeriodFrom
				GROUP BY AcctId
			) a ON #temp3.AcctId = a.AcctId 
		WHERE(#temp3.[Year] * 1000) + #temp3.Period = @YearPeriod
		
		FETCH NEXT FROM @cursor1 INTO @YearPeriod
		END
		CLOSE @cursor1
	END
	DEALLOCATE @cursor1	

	--build the sort order field list
	SET @SortString = 'h.AcctId'
	IF @SortOrder <> ''
	BEGIN
		SET @SortString = ''
	
		WHILE CHARINDEX(',',@SortOrder) <> 0
		BEGIN
			SET @ctr = CHARINDEX(',',@SortOrder)
			IF LEN(@SortString) > 0 SET @SortString = @SortString + ' + '
			SET @SortString = @SortString + 'h.Segment' + SUBSTRING(@SortOrder, 1, @ctr - 1)
			SET @SortOrder = RIGHT(@SortOrder,LEN(@SortOrder) - @ctr )
		END
		SET @SortString = @SortString + ' + h.Segment' + @SortOrder
	END

	--build a list of dynamically defined sort values
	Create Table #SortValue(AcctId [nvarchar](255) NULL, SortOrder nvarchar(max))
	
	SET @sql = 'INSERT INTO #SortValue (AcctId, SortOrder)'
		+ ' SELECT h.AcctId, ' + @SortString
		+ ' FROM dbo.trav_GlAccountHeader_view h (nolock)'
		+ ' INNER JOIN #tmpAccountList t ON h.AcctId = t.AcctId'
	EXECUTE (@sql)
	
	--return the results
	SELECT t.[Year], s.SortOrder
		, t.AcctId, t.AcctId HdrAcctID, h.[Desc] AS AcctDesc, t.Period, EntryNum, EntryDate, TransDate
		, CASE WHEN h.BalType < 0 THEN -SumOfActual ELSE SumOfActual END AS Actual
		, CASE WHEN h.BalType < 0 THEN -EndingBal ELSE EndingBal END AS EndingBal
		, ISNull(DebitAmtFgn,0) DebitAmt1, ISNUll(CreditAmtFgn,0) CreditAmt1
		, CASE WHEN h.BalType < 0 THEN -Adjustment ELSE Adjustment END AS Adjustment
		, PostedYn, j.[Desc], Reference, SourceCode, AllocateYn
		, ChkRecon, CashFlow, h.BalType
	FROM dbo.tblGlAcctHdr h (nolock) 
	INNER JOIN #temp3 t ON h.AcctId = t.AcctId
	INNER JOIN #SortValue s ON h.AcctId = s.AcctId 
	INNER JOIN #tempPdYear p ON t.[Year] = p.[Year] AND t.Period = p.Period 
	LEFT JOIN (
		SELECT AcctId, j.Period, j.[Year], EntryNum, EntryDate, TransDate, DebitAmtFgn, CreditAmtFgn
			, PostedYn, [Desc], Reference, SourceCode, ChkRecon, CashFlow, AllocateYn 
			FROM dbo.tblGlJrnl j (NOLOCK) 
			INNER JOIN #tempPdYear p ON j.[Year] = p.[Year] AND j.Period = p.Period 
			WHERE (SourceCode IS NULL OR SourceCode BETWEEN @SourceCodeFrom AND @SourceCodeThru)
	) j ON t.AcctId = j.AcctId AND t.[Year] = j.[Year] AND t.Period = j.Period
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlActivityReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlActivityReport_proc'
GO
