USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoScheduledDeliveryReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoScheduledDeliveryReport_proc]
@ReportCurrency pCurrency = NULL,
@BaseCurrency pCurrency = 'USD',
@TransType NVARCHAR(10) ='POTRANS',
@SortBy bit

AS
SET NOCOUNT ON
BEGIN TRY

	SELECT CASE @SortBy
		WHEN 0 THEN h.TransId
		WHEN 1 THEN h.VendorId
		END SortBy, v.[Name], h.TransId, h.BatchId, h.TransType, h.VendorId, h.ReqShipDate AS ReqShipDateHdr, 
		d.EntryNum, 
		(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN d.UnitCost 
					ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.UnitCostFgn 
					ELSE ROUND(et.Rate * d.UnitCostFgn,et.CurrDecPlaces) END END) AS UnitCost,
		(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN d.ExtCost 
					ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.ExtCostFgn 
					ELSE ROUND(et.Rate * d.ExtCostFgn,et.CurrDecPlaces) END END) AS ExtCost, 
		d.ItemId, d.LocId AS LocIdDtl, d.Descr, d.UnitsBase, d.Units, d.AddnlDescr, 
		ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDateDtl,ISNULL(@ReportCurrency,h.CurrencyId) AS CurrencyID,
		CASE WHEN s.SumOfQty IS NOT NULL THEN (d.QtyOrd-s.SumOfQty) ELSE d.QtyOrd END ExpectedQty, 
		((CASE WHEN s.SumOfQty IS NOT NULL THEN (d.QtyOrd-s.SumOfQty) ELSE d.QtyOrd END) * 
			(CASE WHEN   @ReportCurrency = @BaseCurrency 	THEN d.UnitCost 
					ELSE CASE WHEN ISNULL(@ReportCurrency,h.CurrencyID) =h.CurrencyID THEN  d.UnitCostFgn 
					ELSE ROUND(et.Rate * d.UnitCostFgn,et.CurrDecPlaces) END END)) ExtCostGrp, 
		(ItemId + Descr + d.LocId + Units + CONVERT(nvarchar, UnitCost)) Detail1,ISNULL(d.ExpReceiptDate,h.ExpReceiptDate) AS ExpReceiptDate
		into #tmpPoScheduledDeliveryReport								
	FROM dbo.tblPoTransHeader h	INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
		INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId 
		INNER JOIN #tmpTransDetailList l ON d.TransId = l.TransId AND d.EntryNum = l.EntryNum
		LEFT JOIN (SELECT TransKey, Rate, CurrDecPlaces,e.[Source]
					FROM [dbo].[tblSmExchangeRateTrans] e INNER JOIN [dbo].[tblSmCurrency] c on e.[Destination] = c.[CurrID]
					WHERE e.[TransType] = @TransType AND  e.[Destination] = @ReportCurrency 
				) et ON et.[TransKey] =h.TransID AND et.[Source] =h.CurrencyID
		LEFT JOIN (SELECT TransID, EntryNum, SUM(QtyFilled) AS SumOfQty 
			FROM dbo.tblPoTransLotRcpt  
			GROUP BY TransID, EntryNum) s ON d.TransId = s.TransId AND d.EntryNum = s.EntryNum  
	WHERE h.TransType > 0 
		AND (CASE WHEN [SumOfQty] IS NOT NULL THEN (d.QtyOrd-[SumOfQty]) ELSE d.QtyOrd END) > 0  
		

	--Raise Exception if Invalid Exchange rate Exists  	   
	 IF EXISTS (SELECT TransID FROM #tmpPoScheduledDeliveryReport  WHERE UnitCost IS NULL  OR ExtCost IS NULL OR ExtCostGrp IS NULL)  
	 BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	 END  

	SELECT SortBy, Name, TransId, BatchId, TransType, VendorId, ReqShipDateHdr, 
		EntryNum, UnitCost,ExtCost,ItemId, LocIdDtl, Descr, UnitsBase, Units, AddnlDescr, 
		ReqShipDateDtl, CurrencyID,	ExpectedQty, ExtCostGrp, Detail1, ExpReceiptDate
	FROM #tmpPoScheduledDeliveryReport 
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoScheduledDeliveryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoScheduledDeliveryReport_proc'
GO
