USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_MpOrderPost_Prepare_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_MpOrderPost_Prepare_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	DECLARE @PaYn bit  
	SELECT @PaYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PaYn'

	IF @PaYn IS NULL  
	BEGIN  
		THROW 90025, N'Missing global value.', 1  
	END  

	--identify the list of releases to process
	INSERT INTO #PostReleaseList ([OrderNo], [ReleaseId], [Status])
	SELECT r.[OrderNo], r.[Id], r.[Status]
		FROM dbo.tblMpOrderReleases r
		WHERE r.[Status] = 6 --completed
	UNION
	SELECT r.[OrderNo], r.[Id], r.[Status]
		FROM dbo.tblMpOrderReleases r
		INNER JOIN dbo.tblMpRequirements q on r.[Id] = q.[ReleaseId]
		INNER JOIN dbo.tblMpTimeDtl td on q.[TransId] = td.[TransId]
		WHERE r.[Status] <> 6 --incomplete
			AND td.[PostedPayrollYn] = 0 --unposted time activity
		GROUP BY r.[OrderNo], r.[Id], r.[Status]
	UNION
	SELECT r.[OrderNo], r.[Id], r.[Status]
		FROM dbo.tblMpOrderReleases r
		INNER JOIN dbo.tblMpRequirements q on r.[Id] = q.[ReleaseId]
		INNER JOIN dbo.tblMpMatlDtl td on q.[TransId] = td.[TransId]
		WHERE r.[Status] <> 6 --incomplete
			AND td.PostedYn = 0 --unposted materital activity
		GROUP BY r.[OrderNo], r.[Id], r.[Status]
	UNION
	SELECT r.[OrderNo], r.[Id], r.[Status]
		FROM dbo.tblMpOrderReleases r
		INNER JOIN dbo.tblMpRequirements q on r.[Id] = q.[ReleaseId]
		INNER JOIN dbo.tblMpSubContractDtl td on q.[TransId] = td.[TransId]
		WHERE r.[Status] <> 6 --incomplete
			AND td.PostedYn = 0 --unposted subcontractor activity
		GROUP BY r.[OrderNo], r.[Id], r.[Status]

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_MpOrderPost_Prepare_proc'
GO
