USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlPostToMaster_CompanyAllocJrnl_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlPostToMaster_CompanyAllocJrnl_proc]
AS
SET NOCOUNT ON
BEGIN TRY	
	DECLARE @PostRun [nvarchar](14)
	DECLARE @BaseCurrencyId [nvarchar](6)
	
	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @BaseCurrencyId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'BaseCurrencyId'

	IF @PostRun IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--check for invalid accounts
	IF EXISTS (SELECT * FROM #AccountList WHERE [ValidYn] = 0)
	BEGIN
		THROW 90026, N'Invalid GL Account.', 1
	END

	--create reversal entries for the current company (swap the debit/credit amt)
	INSERT INTO #CompAllocJrnl (CompId, EntryDate, TransDate, [Desc], SourceCode
		, Reference, AcctId, DebitAmt, CreditAmt, Period, [Year]
		, AllocateYn, ChkRecon, CashFlow, LinkID, LinkIDSub, LinkIDSubLine
		, PostRun, CurrencyId, ExchRate, DebitAmtFgn, CreditAmtFgn)
	SELECT j.CompId, j.EntryDate, j.TransDate, 'Transfer to Company ' + l.ToCompId, j.SourceCode
		, j.Reference, j.AcctId, j.CreditAmt, j.DebitAmt, j.Period, j.[Year]
		, j.AllocateYn, j.ChkRecon, j.CashFlow, j.LinkID, j.LinkIDSub, j.LinkIDSubLine
		, @PostRun, j.CurrencyId, j.ExchRate, j.CreditAmtFgn, j.DebitAmtFgn
	FROM dbo.tblGlJrnl j inner join #CompAllocList l on j.EntryNum = l.EntryNum

	--create the current company clearing account ('Transfer To') Journal entries (always offsets to the "debit" account - the current-comp account)
	INSERT INTO #CompAllocJrnl (CompId, EntryDate, TransDate, [Desc], SourceCode
		, Reference, AcctId, DebitAmt, CreditAmt, Period, [Year]
		, AllocateYn, ChkRecon, CashFlow, LinkID, LinkIDSub, LinkIDSubLine
		, PostRun, CurrencyId, ExchRate, DebitAmtFgn, CreditAmtFgn)
	SELECT j.CompId, j.EntryDate, j.TransDate, 'Transfer to Company ' + l.ToCompId, j.SourceCode
		, j.Reference, l.AcctIdDebit, j.DebitAmt, j.CreditAmt, j.Period, j.[Year]
		, j.AllocateYn, j.ChkRecon, j.CashFlow, j.LinkID, j.LinkIDSub, j.LinkIDSubLine
		, @PostRun, ach.CurrencyID
		, [ExRate] = CASE
						WHEN ach.CurrencyID = @BaseCurrencyId THEN 1
						WHEN ach.CurrencyID = j.CurrencyID THEN j.ExchRate
						WHEN ach.CurrencyID <> j.CurrencyID THEN CASE WHEN  j.CreditAmt = 0 THEN ROUND(j.DebitAmtFgn * exch.Rate, curr.CurrDecPlaces)/j.DebitAmt ELSE ROUND(j.CreditAmtFgn * exch.Rate, curr.CurrDecPlaces)/j.CreditAmt END
					 END
		, [DBFgn] = CASE 
						WHEN ach.CurrencyID = @BaseCurrencyId THEN j.DebitAmt
						WHEN ach.CurrencyID = j.CurrencyID THEN j.DebitAmtFgn 
						WHEN ach.CurrencyID <> j.CurrencyID THEN ROUND(j.DebitAmtFgn * exch.Rate, curr.CurrDecPlaces) 
					END
		, [CRFgn] = CASE 
						WHEN ach.CurrencyID = @BaseCurrencyId THEN j.CreditAmt
						WHEN ach.CurrencyID = j.CurrencyID THEN j.CreditAmtFgn 
						WHEN ach.CurrencyID <> j.CurrencyID THEN ROUND(j.CreditAmtFgn * exch.Rate, curr.CurrDecPlaces) 
					END
	FROM dbo.tblGlJrnl j 
	INNER JOIN #CompAllocList l on j.EntryNum = l.EntryNum
	INNER JOIN #AccountList ach ON l.[FromCompId] = ach.[CompId] and l.[AcctIdDebit] = ach.[AcctId]
	LEFT JOIN (SELECT exh.[FiscalPeriod], exh.[FiscalYear], exd.[Source], exd.[Destination], exd.[Rate]
				FROM [dbo].[tblSmExchangeRate] exh
				INNER JOIN [dbo].[tblSmExchangeRateDetail] exd ON exh.[ID] = exd.[ExchangeRateID]
				WHERE exh.[Type] = 1
			  ) exch ON exch.FiscalPeriod = j.Period AND exch.FiscalYear = j.Year AND exch.Source = j.CurrencyID AND exch.Destination = ach.CurrencyID
	LEFT JOIN [dbo].[tblSmCurrency] curr ON ach.CurrencyID = curr.CurrID 

	--create the destination company Journal entries (copy current company to other company)
	INSERT INTO #CompAllocJrnl (CompId, EntryDate, TransDate, [Desc], SourceCode
		, Reference, AcctId, DebitAmt, CreditAmt, Period, [Year]
		, AllocateYn, ChkRecon, CashFlow, LinkID, LinkIDSub, LinkIDSubLine
		, PostRun, CurrencyId, ExchRate, DebitAmtFgn, CreditAmtFgn)
	SELECT l.ToCompId, j.EntryDate, j.TransDate, j.[Desc], j.SourceCode
		, j.Reference, j.AcctId, j.DebitAmt, j.CreditAmt, j.Period, j.[Year]
		, j.AllocateYn, j.ChkRecon, j.CashFlow, j.LinkID, j.LinkIDSub, j.LinkIDSubLine
		, @PostRun, j.CurrencyId, j.ExchRate, j.DebitAmtFgn, j.CreditAmtFgn
	FROM dbo.tblGlJrnl j inner join #CompAllocList l on j.EntryNum = l.EntryNum

	--create the destination company clearing account ('Transfer From') Journal entries (always offsets to the "Creit" account - the alt-comp account)
	INSERT INTO #CompAllocJrnl (CompId, EntryDate, TransDate, [Desc], SourceCode
		, Reference, AcctId, DebitAmt, CreditAmt, Period, [Year]
		, AllocateYn, ChkRecon, CashFlow, LinkID, LinkIDSub, LinkIDSubLine
		, PostRun, CurrencyId, ExchRate, DebitAmtFgn, CreditAmtFgn)
	SELECT l.ToCompId, j.EntryDate, j.TransDate, 'Transfer From Company ' + j.CompId, j.SourceCode
		, j.Reference, l.AcctIdCredit, j.CreditAmt, j.DebitAmt, j.Period, j.[Year]
		, j.AllocateYn, j.ChkRecon, j.CashFlow, j.LinkID, j.LinkIDSub, j.LinkIDSubLine
		, @PostRun, ach.CurrencyId
		, [ExRate] = CASE
						WHEN ach.CurrencyID = @BaseCurrencyId THEN 1
						WHEN ach.CurrencyID = j.CurrencyID THEN j.ExchRate
						WHEN ach.CurrencyID <> j.CurrencyID THEN CASE WHEN  j.CreditAmt = 0 THEN ROUND(j.DebitAmtFgn * exch.Rate, curr.CurrDecPlaces)/j.DebitAmt ELSE ROUND(j.CreditAmtFgn * exch.Rate, curr.CurrDecPlaces)/j.CreditAmt END
					 END  
		, [CRFgn] = CASE 
						WHEN ach.CurrencyID = @BaseCurrencyId THEN j.CreditAmt
						WHEN ach.CurrencyID = j.CurrencyID THEN j.CreditAmtFgn 
						WHEN ach.CurrencyID <> j.CurrencyID THEN ROUND(j.CreditAmtFgn * exch.Rate, curr.CurrDecPlaces) 
					END
		, [DBFgn] = CASE 
						WHEN ach.CurrencyID = @BaseCurrencyId THEN j.DebitAmt
						WHEN ach.CurrencyID = j.CurrencyID THEN j.DebitAmtFgn 
						WHEN ach.CurrencyID <> j.CurrencyID THEN ROUND(j.DebitAmtFgn * exch.Rate, curr.CurrDecPlaces)
					END
	FROM dbo.tblGlJrnl j 
	INNER JOIN #CompAllocList l on j.EntryNum = l.EntryNum
	INNER JOIN #AccountList ach ON l.[ToCompId] = ach.[CompId] and l.[AcctIdCredit] = ach.[AcctId]
	LEFT JOIN (SELECT exh.[FiscalPeriod], exh.[FiscalYear], exd.[Source], exd.[Destination], exd.[Rate]
				FROM [dbo].[tblSmExchangeRate] exh
				INNER JOIN [dbo].[tblSmExchangeRateDetail] exd ON exh.[ID] = exd.[ExchangeRateID]
				WHERE exh.[Type] = 1
			  ) exch on exch.FiscalPeriod = j.Period AND exch.FiscalYear = j.Year AND exch.Source = j.CurrencyID AND exch.Destination = ach.CurrencyID
	LEFT JOIN [dbo].[tblSmCurrency] curr ON ach.CurrencyID = curr.CurrID

	--abort if invalid currency convertion exist			
	IF EXISTS (SELECT * FROM #CompAllocJrnl WHERE DebitAmtFgn IS NULL OR CreditAmtFgn IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_CompanyAllocJrnl_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlPostToMaster_CompanyAllocJrnl_proc'
GO
