USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTransPost_OpenInvoice_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTransPost_OpenInvoice_proc]

AS

BEGIN TRY

	DECLARE @PostRun nvarchar(14), @InHsVendor [nvarchar](10),

	@CurrBase [nvarchar](6), @PrecCurr smallint,@Held bit,@ApJcYn bit,@ApGlYn bit

	DECLARE @TransType nvarchar(10), @TransTypeTransPay  nvarchar(10),@TransTypeInvoice nvarchar(10),@TransTypePrePay nvarchar(10)

	--Retrieve global values

	SELECT @InHsVendor = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'InHsVendor'

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'

	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'

	SELECT @Held = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Held'

	SELECT @ApJcYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApJcYn'

	SELECT @ApGlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ApGlYn'

	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType' --APTRANS

	SELECT @TransTypeTransPay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTransPay' --APTRANSPAY

	SELECT @TransTypeInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeInvoice' --APINVC

	SELECT @TransTypePrePay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePrePay'  --APPREPAY


	IF @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL OR @Held IS NULL OR @ApJcYn IS NULL OR  @ApGlYn IS NULL

	BEGIN

		THROW 90025, N'Missing global value.', 1

	END



	SET @InHsVendor = ISNULL(@InHsVendor,'')

	CREATE TABLE #APInvoice

	(

		TransID [nvarchar](8) NOT NULL,

		GrossAmountDue [decimal](28,10) NOT NULL ,

		GrossAmountDueFgn [decimal](28,10) NOT NULL,

		BaseGrossAmountDue [decimal](28,10) NULL,

		DiscAmt [decimal](28,10) NOT NULL,

		DiscAmtFgn [decimal](28,10) NOT NULL,

		GlAccount [nvarchar](255) NULL,

		APGrossAmountDue [decimal](28,10) NULL,

		InvStatus int,

		NetDueDate datetime,

		DiscDueDate datetime

	)

	CREATE TABLE #ToInvoiceCurrency

	(

		TransID [nvarchar](8) NOT NULL,

		InvoiceDue [decimal](28,10) NULL

	)

	



	-- Prepaid Amounts with no due

	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn,GlAccount, APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)

	SELECT h.TransId, (PrepaidAmt+ CashDisc) GrossAmountDue 

	,(h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) GrossAmountDueFgn

	,(h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) BaseGrossAmountDue

	,h.CashDisc,h.CashDiscFgn,dc.PayablesGLAcct

	,CASE WHEN a.CurrencyID=@CurrBase THEN (h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt)

		  ELSE CASE WHEN a.CurrencyID=h.CurrencyId THEN (h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn)

			  ELSE ROUND((h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) *et.Rate,et.CurrDecPlaces)

	END  END APGrossAmountDue

	,3,h.InvoiceDate,h.InvoiceDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

		LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

		LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

		LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

				ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PrepaidAmtFgn <> 0 AND PmtAmt1Fgn + PmtAmt2Fgn + PmtAmt3Fgn = 0 	

	

	-- Convert Prepaid Amount to Invoice Currency



	INSERT  #ToInvoiceCurrency (TransID,InvoiceDue)

	SELECT h.TransId 

	,CASE WHEN h.CurrencyId =@CurrBase THEN h.PrepaidAmt

		ELSE CASE WHEN h.CurrencyId=h.PmtCurrencyId THEN h.PrepaidAmtFgn

		  ELSE ROUND(h.PrepaidAmtFgn * et.Rate,et.CurrDecPlaces)

	   END END

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

		LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypeTransPay) et

				ON  et.[Source] =h.PmtCurrencyId  AND et.Destination= h.CurrencyId  AND et.TransKey=h.TransId

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PrepaidAmtFgn <> 0  AND PmtAmt1Fgn + PmtAmt2Fgn + PmtAmt3Fgn <> 0 	

	

	-- Raise Invalid Exchange rate exception

	IF EXISTS( SELECT TransID FROM #ToInvoiceCurrency WHERE InvoiceDue IS NULL)

	BEGIN

		THROW 90027, N'Invalid exchange information.', 1

	END

	

	-- append prepaid invoices where balance due <> 0 

	

	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn,GlAccount,APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)

	SELECT h.TransId

	, CASE WHEN h.CurrencyID= @CurrBase THEN  h.PrepaidAmt

	  ELSE ROUND( i.InvoiceDue * e.Rate,@PrecCurr)

	  END

	, i.InvoiceDue GrossAmountDueFgn

	, CASE WHEN h.CurrencyID= @CurrBase THEN  h.PrepaidAmt

	  ELSE ROUND( i.InvoiceDue * e.Rate,@PrecCurr)

	  END

	,0,0,dc.PayablesGLAcct

	, CASE WHEN a.CurrencyID= h.CurrencyId THEN  i.InvoiceDue

	  ELSE ROUND( i.InvoiceDue * et.Rate,et.CurrDecPlaces)

	  END

	  ,3,h.InvoiceDate,h.InvoiceDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

		LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

		LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

		LEFT JOIN #ToInvoiceCurrency i ON h.TransId = i.TransID

		LEFT JOIN tblSmExchangeRateTrans e ON e.Source =h.CurrencyId AND e.Destination =@CurrBase AND e.TransType=@TransType AND e.TransKey= h.TransId

		LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

				ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PrepaidAmtFgn <> 0 AND PmtAmt1Fgn + PmtAmt2Fgn + PmtAmt3Fgn <> 0 	





	-- append PmtAmt1 + CashDisc invoices where balance due <> 0 and prepaid amount <> 0



	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn, GlAccount,APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)



	SELECT h.TransId, (PmtAmt1 + CashDisc),(PmtAmt1Fgn + CashDiscFgn)

	, CASE WHEN PmtAmt2+PmtAmt3 <>0  THEN  (PmtAmt1 + CashDisc)

	  ELSE -- if Last Record of split

		(h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalBase,0)

	  END

	,CashDisc,CashDiscFgn

	,dc.PayablesGLAcct

	,CASE WHEN PmtAmt2+PmtAmt3 <>0 

		  THEN 

			 CASE WHEN a.CurrencyID=@CurrBase THEN  (PmtAmt1 + CashDisc)

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (PmtAmt1Fgn + CashDiscFgn)

					ELSE ROUND( (PmtAmt1Fgn + CashDiscFgn) * et.Rate,et.CurrDecPlaces)

			 END END

		  ELSE     -- if Last Record of split

			CASE WHEN a.CurrencyID=@CurrBase THEN (h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalAP,0)

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn)- ISNULL(t.TotalAP,0)

					ELSE  ROUND((h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) * et.Rate,et.CurrDecPlaces) - ISNULL(t.TotalAP,0)

			END END

		  END

	,CASE WHEN @Held = 0 THEN h.Status ELSE 1 END,h.DueDate1,h.DiscDueDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

	LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

	LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

	LEFT JOIN

			( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

						INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

			   ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	LEFT JOIN

			( SELECT TransID, SUM(BaseGrossAmountDue) TotalBase, SUM(APGrossAmountDue) TotalAP  FROM #APInvoice  GROUP BY TransID) t

				ON h.TransId=t.TransID

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PmtAmt1 + CashDisc <> 0 AND h.PrepaidAmtFgn <> 0 AND PmtAmt1Fgn + PmtAmt2Fgn + PmtAmt3Fgn <> 0 

	


	-- append PmtAmt1 + CashDisc invoices where prepaid amount = 0


	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn, GlAccount,APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)



	SELECT h.TransId, (PmtAmt1 + CashDisc),(PmtAmt1Fgn + CashDiscFgn)

	, CASE WHEN PmtAmt2+PmtAmt3 <>0  THEN  (PmtAmt1 + CashDisc)

	  ELSE -- if Last Record of split

		(h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalBase,0)

	  END

	,CashDisc,CashDiscFgn

	,dc.PayablesGLAcct

	,CASE WHEN PmtAmt2+PmtAmt3 <>0 

		  THEN 

			 CASE WHEN a.CurrencyID=@CurrBase THEN  (PmtAmt1 + CashDisc)

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (PmtAmt1Fgn + CashDiscFgn)

					ELSE ROUND( (PmtAmt1Fgn + CashDiscFgn) * et.Rate,et.CurrDecPlaces)

			 END END

		  ELSE     -- if Last Record of split

			CASE WHEN a.CurrencyID=@CurrBase THEN (h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalAP,0)

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn)- ISNULL(t.TotalAP,0)

					ELSE  ROUND((h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) * et.Rate,et.CurrDecPlaces) - ISNULL(t.TotalAP,0)

			END END

		  END

	,CASE WHEN @Held = 0 THEN h.Status ELSE 1 END,h.DueDate1,h.DiscDueDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

	LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

	LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

	LEFT JOIN

			( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

						INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

			   ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	LEFT JOIN

			( SELECT TransID, SUM(BaseGrossAmountDue) TotalBase, SUM(APGrossAmountDue) TotalAP  FROM #APInvoice  GROUP BY TransID) t

				ON h.TransId=t.TransID

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PmtAmt1Fgn + CashDiscFgn <> 0 AND h.PrepaidAmtFgn = 0



	-- append PmtAmt2 invoices



	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn, GlAccount,APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)



	SELECT h.TransId, PmtAmt2 ,PmtAmt2Fgn 

	, CASE WHEN PmtAmt3 <>0  THEN  PmtAmt2 

	  ELSE -- if Last Record of split

		(h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalBase,0)

	  END

	,0,0

	,dc.PayablesGLAcct

	,CASE WHEN PmtAmt3 <>0 

		  THEN 

			 CASE WHEN a.CurrencyID=@CurrBase THEN  PmtAmt2 

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  PmtAmt2Fgn 

					ELSE ROUND(PmtAmt2Fgn  * et.Rate,et.CurrDecPlaces)

			 END END

		  ELSE     -- if Last Record of split

			CASE WHEN a.CurrencyID=@CurrBase THEN (h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalAP,0)

				  ELSE

					CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn)- ISNULL(t.TotalAP,0)

					ELSE ROUND((h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) * et.Rate,et.CurrDecPlaces) - ISNULL(t.TotalAP,0)

			END END

		  END

	,CASE WHEN @Held = 0 THEN h.Status ELSE 1 END,h.DueDate2,h.DiscDueDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

	LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

	LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

	LEFT JOIN

			( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

						INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

			   ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	LEFT JOIN

			( SELECT TransID, SUM(BaseGrossAmountDue) TotalBase, SUM(APGrossAmountDue) TotalAP  FROM #APInvoice  GROUP BY TransID) t

				ON h.TransId=t.TransID

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PmtAmt2Fgn <> 0







	-- append PmtAmt3 invoices



	INSERT #APInvoice( TransID,GrossAmountDue,GrossAmountDueFgn,BaseGrossAmountDue,DiscAmt,DiscAmtFgn, GlAccount,APGrossAmountDue,InvStatus,NetDueDate,DiscDueDate)



	SELECT h.TransId, PmtAmt3 ,PmtAmt3Fgn 

	,(h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalBase,0)

	,0,0

	,dc.PayablesGLAcct

	,CASE WHEN a.CurrencyID=@CurrBase THEN (h.Taxable+h.NonTaxable+h.SalesTax+h.Freight+h.Misc+h.TaxAdjAmt) - ISNULL(t.TotalAP,0)

	   ELSE

		 CASE WHEN a.CurrencyID =h.CurrencyId  THEN  (h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn)- ISNULL(t.TotalAP,0)

		 ELSE ROUND((h.TaxableFgn+h.NonTaxableFgn+h.SalesTaxFgn+h.FreightFgn+h.MiscFgn+h.TaxAdjAmtFgn) * et.Rate,et.CurrDecPlaces) - ISNULL(t.TotalAP,0)

	 END END



	,CASE WHEN @Held = 0 THEN h.Status ELSE 1 END,h.DueDate3,h.DiscDueDate

	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId 

	LEFT JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 

	LEFT JOIN dbo.tblGlAcctHdr a ON a.AcctId = dc.PayablesGLAcct 

	LEFT JOIN

			( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e

						INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransType) et

			   ON  et.[Source] =h.CurrencyId AND et.Destination= a.CurrencyId AND et.TransKey=h.TransId

	LEFT JOIN

			( SELECT TransID, SUM(BaseGrossAmountDue) TotalBase, SUM(APGrossAmountDue) TotalAP  FROM #APInvoice  GROUP BY TransID) t

				ON h.TransId=t.TransID

	WHERE (@ApJcYn = 0 OR h.VendorID <> @InHsVendor) AND h.PmtAmt3Fgn <> 0



	-- Raise Invalid GL Account exception

	IF EXISTS( SELECT TransID FROM #APInvoice i LEFT JOIN dbo.tblGlAcctHdr a ON i.GlAccount= a.AcctId 

				 WHERE a.AcctId IS NULL AND  @ApGlYn=1)

	BEGIN

		THROW 90026, N'Invalid GL Account.', 1

	END



	-- Raise Invalid Exchange rate exception

	IF EXISTS( SELECT TransID FROM #APInvoice WHERE (BaseGrossAmountDue IS NULL OR (APGrossAmountDue IS NULL AND  @ApGlYn=1)))

	BEGIN

		THROW 90027, N'Invalid exchange information.', 1

	END



	INSERT tblApOpenInvoice (VendorID, InvoiceNum, [Status], Ten99InvoiceYN, DistCode, InvoiceDate, NetDueDate, DiscDueDate

		, DiscAmt, DiscAmtFgn, GrossAmtDue, BaseGrossAmtDue, GrossAmtDueFgn, CheckNum, CheckDate, CurrencyId, ExchRate

		, GlPeriod, FiscalYear, TermsCode, BankId, CheckPeriod, CheckYear, PmtCurrencyId, PmtExchRate 

		, Notes, PostRun, TransId,GLAcctAP,APGrossAmtDue) 

	 

		

	SELECT h.VendorID, h.InvoiceNum, i.InvStatus, h.Ten99InvoiceYN, h.DistCode

		, h.InvoiceDate, i.NetDueDate, i.DiscDueDate, SIGN(TransType) * i.DiscAmt, SIGN(TransType) * i.DiscAmtFgn

		, SIGN(TransType) * i.GrossAmountDue, SIGN(TransType) * i.BaseGrossAmountDue, SIGN(TransType) * i.GrossAmountDueFgn,

		CASE WHEN i.InvStatus=3 THEN h.CheckNum ELSE NULL END,CASE WHEN i.InvStatus=3 THEN h.CheckDate ELSE NULL END

		, h.CurrencyId, h.ExchRate, h.GLPeriod, h.FiscalYear

		, h.TermsCode,CASE WHEN i.InvStatus=3 THEN h.BankID ELSE  v.DefaultPayBankId END, CASE WHEN i.InvStatus=3 THEN h.ChkGlPeriod ELSE 0 END 

		,CASE WHEN i.InvStatus=3 THEN h.ChkFiscalYear ELSE 0 END, CASE WHEN i.InvStatus=3 THEN h.PmtCurrencyId ELSE NULL END

		 ,CASE WHEN i.InvStatus=3 THEN h.PmtExchRate ELSE 1 END ,Notes, @PostRun, h.TransId,i.GlAccount, SIGN(TransType) * ISNULL( i.APGrossAmountDue,0)



	FROM dbo.tblApTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId  

		INNER JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 

		INNER JOIN #APInvoice i ON i.TransID=h.TransId

		

	-- Create transaction exchange rate entries in tblsmExchangeTrans table for the open invoices generated

	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)

	SELECT @TransTypeInvoice,i.[Counter],et.[Source],et.Destination,et.Rate

	FROM tblSmExchangeRateTrans et		

	INNER JOIN #PostTransList p on et.TransKey = p.TransId AND et.TransType=@TransType

	INNER JOIN dbo.tblApOpenInvoice i  ON  i.TransId = p.TransId AND i.PostRun = @PostRun 



	-- Exchange rate entries for PrePaid

	INSERT INTO tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)

	SELECT @TransTypePrePay,i.[Counter],et.[Source],et.Destination,et.Rate

	FROM tblSmExchangeRateTrans et		

	INNER JOIN #PostTransList p on et.TransKey = p.TransId AND et.TransType=@TransTypeTransPay

	INNER JOIN dbo.tblApOpenInvoice i ON i.TransId = p.TransId AND i.PostRun = @PostRun 

	WHERE i.[Status]=3

   



END TRY

BEGIN CATCH

	EXEC dbo.trav_RaiseError_proc

END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_OpenInvoice_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_OpenInvoice_proc'
GO
