USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcNextSoTransID_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcNextSoTransID_proc]                
@TransID pTransID OUT                 
AS                
set nocount on                
BEGIN TRY
	DECLARE @NextID int, @TransCnt int, @Done bit                
             
              
	SELECT @NextID = NextID FROM dbo.tblSmTransID (TABLOCKX)                 
	WHERE FunctionID = 'SOTRANS'

	IF (@NextID IS NULL)         
	BEGIN
		INSERT INTO dbo.tblSmTransID (FunctionID, NextID) VALUES ('SOTRANS',1)
		SELECT @NextID = 1
	END
	IF (@NextID > 99999999)              
	BEGIN
		SET @NextID = 1
	END

	SET @Done = 0
	WHILE (@Done = 0)
	BEGIN
		SET @TransCnt=0
		SET @TransID = CONVERT(nvarchar(8), @NextID)
		SET @TransID = REPLICATE('0',8-DATALENGTH(@TransID)) + @TransID
		SELECT @TransCnt = Count(*) FROM dbo.tblSoTransHeader WHERE TransID = @TransID
		IF (@TransCnt > 0)
			SELECT @NextID = @NextID + 1
		ELSE
			SELECT @Done = 1
	END
	UPDATE dbo.tblSmTransID SET NextID = @NextID + 1
	WHERE FunctionID = 'SOTRANS'
	SET @TransID = right('00000000'+cast(@NextID as nvarchar(8)),8)

END TRY  
BEGIN CATCH
    EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcNextSoTransID_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcNextSoTransID_proc'
GO
