USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InTransactionJournal_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InTransactionJournal_proc] 
@CurrencyPrecision TINYINT = 2,
@SortBy TINYINT = 0, -- 0, Item ID/Location ID; 1, Location ID/Item ID; 2, Transaction Type; 3, Batch/Transaction Number
@BaseCurrency [nvarchar](6) ,
@TransType NVARCHAR(10)
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #InTransJrnl
	(
		BatchId [nvarchar](6) NOT NULL,
		TransId INT NOT NULL, 
		LineType TINYINT NOT NULL DEFAULT(1),
		ItemId NVARCHAR(24) NULL, 
		Descr NVARCHAR (255) NULL, 
		LocId NVARCHAR (10) NULL, 
		ItemType TINYINT NOT NULL DEFAULT(1), 
		LottedYN bit DEFAULT(0), 
		Cmnt NVARCHAR (35) NULL, 
		TransType TINYINT NULL,
		TransDate datetime NULL, 
		Uom NVARCHAR(5) NULL, 
		SumYear SMALLINT DEFAULT(0), 
		GlPeriod SMALLINT DEFAULT(0), 
		PriceId NVARCHAR(10) NULL, 
		Qty [decimal](28,10) NOT NULL DEFAULT(0), 
		PriceUnit [decimal](28,10) NULL, 
		CostUnit [decimal](28,10) NULL, 
		CostUnitStd [decimal](28,10) NULL, 
		LotNum NVARCHAR(16) NULL, 
		SerNum NVARCHAR(35) NULL,
		PPVAmt [decimal](28,10) NULL
	)


	INSERT INTO #InTransJrnl (BatchId,LineType,TransId,ItemId,Descr,LocId,TransType,ItemType,LottedYN,
		TransDate,Uom,SumYear,GlPeriod,PriceId,Qty,PriceUnit,CostUnit,CostUnitStd,cmnt,PPVAmt) 
	SELECT t.BatchId,1,t.TransId,t.ItemId,i.Descr,t.LocId,t.TransType,i.ItemType,i.LottedYN,
		t.TransDate,t.Uom,t.SumYear,t.GlPeriod,t.PriceId,t.Qty,t.PriceUnit,t.CostUnitTrans,l.CostStd * u.ConvFactor,t.Cmnt,
		CASE WHEN t.TransType IN (12,14,25,31) THEN 1 ELSE 0 END 
			* (ROUND(t.Qty * t.CostUnitTrans,@CurrencyPrecision) - ROUND(t.Qty * l.CostStd * u.ConvFactor,@CurrencyPrecision))		
	FROM #tmpTransactionList m INNER JOIN dbo.tblInTrans t ON m.TransId = t.TransId 
		INNER JOIN dbo.tblInItem i ON t.ItemId = i.ItemId 
		INNER JOIN dbo.tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId 
		INNER JOIN dbo.tblInItemUom u ON t.ItemId = u.ItemId AND t.Uom = u.Uom

	INSERT INTO #InTransJrnl (BatchId, TransId,ItemId,LocId,TransType,ItemType,LottedYN,LineType,LotNum,CostUnit,Qty,Cmnt)
	SELECT t.BatchId, t.TransId, t.ItemId, t.LocId, t.TransType, 
		t.ItemType, t.LottedYN, 2, l.LotNum, l.CostUnit, 
		CASE WHEN transType = 11 or TransType = 21 THEN QtyOrder ELSE QtyFilled END,t.Cmnt
	FROM tblInTransLot l INNER JOIN #InTransJrnl t ON l.TransID = t.TransId 
	WHERE t.LineType = 1

	INSERT INTO #InTransJrnl (BatchId, TransId,ItemId,LocId,TransType,ItemType,LottedYN,LineType,LotNum,SerNum,CostUnit,PriceUnit,Qty,Cmnt)
	SELECT t.BatchId, t.TransId, t.ItemId, t.LocId, t.TransType, 
		t.ItemType, t.LottedYN, 3, s.LotNum, s.SerNum, s.CostUnit, s.PriceUnit, 1 , t.Cmnt
	FROM tblInTransSer s INNER JOIN #InTransJrnl t ON s.TransID = t.TransId 
	WHERE t.LineType = 1

	SELECT CASE @SortBy WHEN 0 THEN LEFT(t.ItemId + REPLICATE(' ',24),24) + t.LocId WHEN 1 THEN LEFT(t.LocId + REPLICATE(' ',10),10) + t.ItemId 
			WHEN 2 THEN CAST(TransType AS NVARCHAR) + LEFT(t.ItemId + REPLICATE(' ',24),24) + t.LocId 
			WHEN 3 THEN LEFT(BatchId + REPLICATE(' ',6),6) + RIGHT(REPLICATE(' ',10) + CAST(TransId AS NVARCHAR),10) + LEFT(t.ItemId + REPLICATE(' ',24),24) + t.LocId END AS SortBy,
		BatchId, LineType, t.TransId, t.ItemId, Descr, t.LocId, t.TransType, t.ItemType, LottedYN,
		TransDate, Uom, SumYear, GlPeriod, t.PriceId, t.Qty, PriceUnit, t.CostUnit, t.CostUnitStd, LotNum, SerNum, Cmnt, PPVAmt,
		CASE WHEN ISNULL(l.CurrencyIDACV,@BaseCurrency)= @BaseCurrency THEN CostUnit ELSE CostUnit  *et.Rate END as CostUnitACV, 
		CASE WHEN ISNULL(l.CurrencyIDACV,@BaseCurrency)= @BaseCurrency THEN CostUnitStd ELSE CostUnitStd *et.Rate END as CostUnitStdACV, 
		CASE WHEN ISNULL(l.CurrencyIDACV,@BaseCurrency)= @BaseCurrency THEN PPVAmt ELSE ROUND(PPVAmt * et.Rate,c.CurrDecPlaces) END as PPVAmtACV,
		 (CostUnitStd * Qty) AS UnitPrice, (PriceUnit * Qty) AS ExtPrice, (CostUnit * Qty) AS ExtCost, 
		 (CostUnit * Qty) AS CostQty, (PriceUnit * Qty) AS PriceQty
	FROM #InTransJrnl t
	LEFT JOIN tblInItemLoc l ON t.ItemId = l.ItemId AND t.LocId = l.LocId
	LEFT JOIN ( SELECT e.[Source],e.Destination,e.Rate,e.TransKey FROM tblSmExchangeRateTrans e
				WHERE e.TransType =@TransType AND e.Source = @BaseCurrency) et
				ON et.Destination =l.CurrencyIDACV AND et.TransKey =t.TransId
	LEFT JOIN tblSmCurrency c ON c.CurrID = l.CurrencyIDACV

	SELECT p.TransType,ISNULL(t.ExtCost , 0) ExtCost, ISNULL(t.ExtPrice, 0) ExtPrice,
		CASE WHEN p.TransType IN (15,23,24,32) THEN -1 WHEN p.TransType IN (12,14,25,31) THEN 1 ELSE 0 END * ISNULL(t.ExtCost , 0) AS InValue,
		CASE p.TransType WHEN 31 THEN 1 WHEN 32 THEN 2 WHEN 21 THEN 3 WHEN 23 THEN 4 WHEN 24 THEN 5 WHEN 25 THEN 6 WHEN 11 THEN 7 WHEN 12 THEN 8 WHEN 14 THEN 9 WHEN 15 THEN 10 END SortBy
	FROM 
		(
			 SELECT 11 AS TransType UNION ALL
			 SELECT 12 UNION ALL	 
			 SELECT 14 UNION ALL
			 SELECT 15 UNION ALL
			 SELECT 21 UNION ALL
			 SELECT 23 UNION ALL
			 SELECT 24 UNION ALL
			 SELECT 25 UNION ALL
			 SELECT 31 UNION ALL
			 SELECT 32 
		) p 
		LEFT JOIN 
		(
			SELECT t.TransType , SUM(ROUND(t.CostUnitTrans * t.Qty, @CurrencyPrecision) ) ExtCost,
				SUM(ROUND(t.PriceUnit * t.Qty, @CurrencyPrecision) ) ExtPrice 
			FROM #tmpTransactionList m INNER JOIN dbo.tblInTrans t ON m.TransId = t.TransId
			GROUP BY t.TransType
		) t ON p.TransType = t.TransType

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransactionJournal_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InTransactionJournal_proc'
GO
