USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_SoTransPost_PurgeCompletedCF_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_SoTransPost_PurgeCompletedCF_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DELETE dbo.tblCfTransHeader 
	WHERE [SourceType] = 1 AND [SourceTransId] NOT IN (SELECT TransId FROM dbo.tblSoTransHeader)

	DELETE dbo.tblCfTransGroup 
	WHERE [TransId] NOT IN (SELECT [TransId] FROM dbo.tblCfTransHeader)

	DELETE dbo.tblCfTransDetail
	WHERE [GroupId] NOT IN (SELECT [GroupId] FROM dbo.tblCfTransGroup)

	DELETE dbo.tblCfTransDetailExt 
	WHERE [DetailId] NOT IN (SELECT [DetailId] FROM dbo.tblCfTransDetail)

	DELETE dbo.tblCfTransAction
	WHERE [DetailId] NOT IN (SELECT [DetailId] FROM dbo.tblCfTransDetail)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_PurgeCompletedCF_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_SoTransPost_PurgeCompletedCF_proc'
GO
