USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DrPlannedDemand_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DrPlannedDemand_proc]
(	
	@WksDate Datetime,
	@PdDefId nvarchar(10),
	@TimeFencePds smallint=0,
	@RunId [nvarchar](14) = 'ALL' 
)
AS
BEGIN TRY

	SET NOCOUNT ON
	Declare @LateDate datetime
	Declare @TimeFenceDate datetime
	Declare @Done bit
	DECLARE @Columns as VARCHAR(MAX)
	DECLARE @SQL as VARCHAR(MAX)
	Declare @NextDate datetime
	Declare @tmpDate datetime
	Declare @rowCount Int
	Declare @rowNo Int
	Declare @FutureDate datetime   
	   
	Create table #DateList
	(
		PdId int identity(1, 1),
		IncDate datetime, DaysInPd int
	)

	Create table #PdQtys
	(
		ItemId [nvarchar](24) NULL,
		LocId [nvarchar](10) NOT NULL,
		PdDate datetime Null, 
		PlanOrdDate datetime null,
		OnHand [decimal](28,10) NOT NULL default(0),
		ActualSupply [decimal](28,10) NOT NULL default(0),
		ActualDemand [decimal](28,10) NOT NULL default(0),
		FrcstSupply [decimal](28,10) NOT NULL default(0),
		FrcstDemand [decimal](28,10) NOT NULL default(0),
		MstrSched [decimal](28,10) NOT NULL default(0),
		MpCompReq [decimal](28,10) NOT NULL default(0),
		NetAvail [decimal](28,10) NOT NULL default (0),
		ProjOnHand [decimal](28,10) NOT NULL default(0),		
		PlanRcpts [decimal](28,10) NOT NULL default(0)
	) 
	CREATE  INDEX [IX_ItemIdLocIdPdDate] ON [#PdQtys]([ItemId], [LocId], [PdDate])

	Select @LateDate = dateadd(dd, -1, @WksDate)
	
	Set @NextDate = @WksDate
	Select ROW_NUMBER() OVER (ORDER BY IncUnit) AS 'RowNumber', Increment,IncUnit 
	into #tmptblDrPeriodDefDtl 
	from dbo.tblDrPeriodDefDtl 
	Where PdDefId = @PdDefId

	Insert into #DateList (IncDate, DaysInPd) Values (@LateDate, 1)

    Select @rowCount= COUNT(1) from #tmptblDrPeriodDefDtl 
    Set @rowNo=1

    While (@rowNo<=@rowCount)
    Begin
	 Select @tmpDate= Case IncUnit
			When 1 Then DateAdd(ww, Increment, @NextDate) --weekly
			When 2 Then DateAdd(mm, Increment, @NextDate) --monthly
			Else DateAdd(dd, Increment, @NextDate) --daily
			End from #tmptblDrPeriodDefDtl where RowNumber = @rowNo
    
		Insert Into #DateList(IncDate, DaysInPd) values(@NextDate, Datediff(dd, @NextDate, @tmpDate))

		Select @NextDate = @tmpDate
        Set  @rowNo=@rowNo+1
    End

	--add @LateDate buckets at end of table so it's not included as a time fence period
	Select @FutureDate = max(Dateadd(dd, DaysInPd, IncDate)) From #DateList     	
	Insert into #DateList (IncDate, DaysInPd) Values (@FutureDate, 1)          
	
	--1=PurchaseOrder / 2=PurchaseRequisition / 3=PurchaseRequest / 4=ProductionOrder / 5=BlanketOrder / 8=ProdOrderComp / 10=SDTransaction / 11=SinglePassComponent
	--/16=SalesOrds / 32=FrcstSales / 64=MstrSchedComp / 256= WorkOrder / 512= WorkOrderComp / 1024=WM Transfer In / 1025=WM Transfer Out / 2048=ProjectCosting        
	--exclude master scheduled production (128) as Planner reflects need based on demand
	Insert into #PdQtys(ItemId, LocId, PdDate, PlanOrdDate, ActualDemand,ActualSupply,FrcstDemand, MstrSched, MpCompReq)
	Select t.ItemId, t.LocId, d.IncDate	,min(t.TransDate)
		, Sum(Case When t.Source IN (16,512,1025,2048,5,10,11,13) Then t.Qty Else 0 End) ActualDemand
		, Sum(Case When t.Source IN (1,4,256,1024,2,3) Then t.Qty Else 0 End) ActualSupply
		, Sum(Case When t.Source IN (32) Then t.Qty Else 0 End) FrcstSales
		, Sum(Case When t.Source IN (64) Then t.Qty Else 0 End) MstrSched
		, Sum(Case When t.Source IN (8) Then t.Qty Else 0 End) MpCompReq
	From #DateList d, (Select r.ItemId, r.LocId
		,Case When dateadd(dd, -i.LeadTime, CAST(r.TransDate AS DATE)) < @WksDate Then @LateDate
		 Else Case When dateadd(dd, -i.LeadTime, CAST(r.TransDate AS DATE)) >= @FutureDate Then @FutureDate
		 Else dateadd(dd, -i.LeadTime, CAST(r.TransDate AS DATE))End End TransDate
		,r.Source, r.Qty
		From dbo.tblDRRunData r inner join #Items i
		on r.ItemId = i.ItemId and r.LocId = i.LocId
		INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId AND i.LocId = l.LocId
	) t
	Where t.TransDate Between d.IncDate and dateadd(dd, d.DaysInPd - 1, d.IncDate)
		and t.[Source] <> 128 
	Group By t.ItemId, t.LocId, d.IncDate


	Insert into #PdQtys(ItemId, LocId, PdDate) 
		Select i.ItemId, i.LocId, d.IncDate 
		From #DateList d, #Items i
		Where d.IncDate not in (Select PdDate From #PdQtys q Where q.ItemId = i.ItemId and q.LocId = i.LocId)

	Set @TimeFenceDate = Null

	Select @TimeFenceDate = Max(IncDate)
		From #DateList
		Where PdId <= @TimeFencePds        

	Set @Done = 0
	While @Done = 0
	Begin
		Update #PdQtys Set #PdQtys.NetAvail = (i.QtyOnHand - ((CASE WHEN  l.QtyOrderMin > l.QtySafetyStock and  l.QtyOrderMin > l.QtyOrderPoint then l.QtyOrderMin ELSE CASE WHEN l.QtySafetyStock > l.QtyOrderPoint THEN l.QtySafetyStock  ELSE l.QtyOrderPoint END END) * p.convFactor)) + tmp.NetAvail
		From
			 (Select d.ItemId, d.LocId, d.PdDate
					,(
						Select Sum(PlanRcpts + ActualSupply
						- Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)
							Then  --larger of frcst vs sales
								Case When isnull(FrcstDemand, 0) > isnull(ActualDemand , 0) 
									Then isnull(FrcstDemand, 0)
									Else isnull(ActualDemand , 0) 
									End
							Else  --sales
								isnull(ActualDemand , 0) 
							End		
						- Case When (isnull(@TimeFencePds, 0) = 0) or (@TimeFenceDate is null) or (PdDate > @TimeFenceDate)
							Then --larger of Mstr Sched vs Act Prod Ord
								Case When isnull(MstrSched, 0) > isnull(MpCompReq, 0)
									Then isnull(MstrSched, 0)
									Else isnull(MpCompReq, 0)
									End
							Else --Act Prod Ord
								isnull (MpCompReq, 0) 
							End
					)
					From #PdQtys q
					Where q.ItemId = d.ItemId and q.LocId = d.LocId and q.PdDate <= d.PdDate) NetAvail 
			From #PdQtys d) tmp
		left join #Items i on tmp.ItemId = i.ItemId and tmp.LocId = i.LocId
		inner join dbo.tblInItemLoc l on i.ItemId = l.ItemId and i.LocId = l.LocId
		INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
		Where #PdQtys.ItemId = tmp.ItemId and #PdQtys.LocId = tmp.LocId and #PdQtys.PdDate = tmp.PdDate
					
		--Move the temp calculated NetAvail into the Projected On Hand
		Update #PdQtys Set ProjOnHand = NetAvail
		 
		Set @Done = 1

		--if negative Projected on hand qtys exist - generate planned receipts and loop to recalc values

		If (Select Count(1) From #PdQtys Where ProjOnHand < 0 And (PdDate > @LateDate)) > 0
		Begin
			Update #PdQtys Set PlanOrdDate = ISNULL(#PdQtys.PlanOrdDate,calc.PdDate)
			--, #PdQtys.PlanRcpts = Case When abs(#PdQtys.ProjOnHand) > isnull(calc.QtyOrderMin*calc.ConvFactor, 0) Then abs(#PdQtys.ProjOnHand) Else isnull(calc.QtyOrderMin*calc.ConvFactor, 0) End
			, #PdQtys.PlanRcpts = abs(#PdQtys.ProjOnHand) --Don't need to recheck the QtyOrderMin.  It was added as part of the dbo.trav_DrSinglePassProductionDemand_proc
			From (Select q.ItemId, q.LocId, l.QtyOrderMin, Min(q.PdDate) PdDate, p.ConvFactor
					From #PdQtys q 
					inner join dbo.tblInItemLoc l
					on q.ItemId = l.ItemId and q.LocId = l.LocId
					INNER JOIN dbo.tblInItemUom p ON l.ItemId = p.ItemId AND p.Uom = l.OrderQtyUom
					Where q.ProjOnHand < 0 And (PdDate >= @LateDate)
					Group By q.ItemId, q.LocId, l.QtyOrderMin, p.ConvFactor
				) calc
			Where #PdQtys.ItemId = calc.ItemId and #PdQtys.LocId = calc.LocId and #PdQtys.PdDate = calc.PdDate

			Set @Done = 0
		End
	End	

	--Remove Items where Demand is only on future dates

	DELETE #PdQtys
	FROM
	( SELECT ItemId, LocId, SUM(PlanRcpts) Qty
		 FROM #PdQtys
		 WHERE PdDate < @FutureDate
		 GROUP BY ItemId, LocId
		 HAVING SUM(PlanRcpts)=0
		 )	q
		WHERE #PdQtys.ItemId =q.ItemId AND #PdQtys.LocId=q.LocId



	exec trav_DrPlannedDemandOrderNumbers_Proc

	SELECT @Columns = COALESCE(@Columns + ', ','') + QUOTENAME( CONVERT(VARCHAR,IncDate ,101))
	FROM (select IncDate  from #DateList ) q
	DECLARE @header as VARCHAR(MAX)
	SET @header=REPLACE(@columns, QUOTENAME(CONVERT(VARCHAR,@LateDate ,101)), QUOTENAME(CONVERT(VARCHAR,@LateDate ,101)) + ' As '  + QUOTENAME('Late'))
	SET @header=REPLACE(@header, QUOTENAME(CONVERT(VARCHAR,@FutureDate ,101)), QUOTENAME(CONVERT(VARCHAR,@FutureDate ,101)) + ' As '  + QUOTENAME('Future Periods'))
	
	SET @SQL =' SELECT ItemId, LocId, Descr, VendorId, OpenOrders, CreatedOrders, Unit, ProcurMethod,'  + @header +  ' FROM	
	(Select d.ItemId, d.LocId, i.Descr, l.DfltVendId VendorId, s.OpenOrders, s.CreatedOrders, s.Uom as Unit,s.ProcurMethod, CONVERT(VARCHAR, d.PdDate,101) PdDate,  d.PlanRcpts / s.ConvFactor as  Qty
		From #Items s
		inner join #PdQtys d on s.ItemId = d.ItemId and s.LocId = d.LocId
		Inner Join dbo.tblInItemLoc l on s.ItemId = l.ItemId and s.LocId = l.LocId
		Inner join dbo.tblInItem i on s.ItemId = i.ItemId
		Where isnull(d.PlanRcpts, 0) > 0
		) pv
		PIVOT
	(
		SUM(Qty)
		FOR PdDate IN (' + @Columns + ')' +
	') AS PivotResult
	ORDER BY ItemId, LocId, Unit ';
	
	EXEC(@SQL)


	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedDemand_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DrPlannedDemand_proc'
GO
