USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InPriceReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InPriceReport_proc]  
@ExchRate [decimal](28,10) = 1, 
@CostingMethod tinyint = 0,
@CurrencyId [nvarchar](6) = 'USD', 
@BaseCurrencyId [nvarchar](6) = 'USD',  
@SortBy tinyint = 0 -- 0, Item ID; 1, Location ID;  
--todo, user defined fields  
AS  
SET NOCOUNT ON  
BEGIN TRY  
  
 CREATE TABLE #tmpQtyCost  
 (  
  ItemId [nvarchar](24) NOT NULL,  
  LocId [nvarchar](10) NOT NULL,  
  QtyOnHand [decimal](28,10) NOT NULL,  
  Cost [decimal](28,10) NOT NULL,
  CostACV [decimal](28,10) NOT NULL  
 )  
  CREATE TABLE #tmpCurrencyPrice  
 (  
  ItemId [nvarchar](24) NOT NULL,  
  LocId [nvarchar](10) NOT NULL,  
  CurrencyId [nvarchar](6) NOT NULL,
  PriceBase [decimal](28,10) NOT NULL,
  Uom [nvarchar](5) NOT NULL,
  BrkId nVarchar(10) 
 )
 INSERT #tmpQtyCost(ItemId,LocId,QtyOnHand,Cost,CostACV)   
 SELECT q.ItemId,q.LocId,q.QtyOnHand,q.Cost,q.CostACV
 FROM #tmpItemLocationList t INNER JOIN dbo.trav_InItemOnHand_view q ON t.ItemId = q.ItemId AND t.LocId = q.LocId   
  
 INSERT #tmpQtyCost(ItemId,LocId,QtyOnHand,Cost,CostACV)   
 SELECT q.ItemId,q.LocId,q.QtyOnHand,q.Cost,q.CostACV  
 FROM #tmpItemLocationList t INNER JOIN dbo.trav_InItemOnHandSer_view q ON t.ItemId = q.ItemId AND t.LocId = q.LocId   
  
 INSERT #tmpCurrencyPrice(ItemId,LocId,CurrencyId,PriceBase,Uom,BrkId)   
 SELECT p.ItemId,p.LocId,@CurrencyId,p.PriceBase,p.Uom,p.BrkId
 FROM #tmpItemLocationList t
 INNER JOIN tblInItemLocUomPrice p ON t.ItemId = p.ItemId AND t.LocId = p.LocId AND p.CurrencyID=@CurrencyId
   
  
 INSERT #tmpCurrencyPrice(ItemId,LocId,CurrencyId,PriceBase,Uom,BrkId)   
 SELECT p.ItemId,p.LocId, @CurrencyId,p.PriceBase*@ExchRate,p.Uom,p.BrkId
 FROM #tmpItemLocationList t
 INNER JOIN tblInItemLocUomPrice p ON t.ItemId = p.ItemId AND t.LocId = p.LocId AND p.CurrencyID = @BaseCurrencyId
 LEFT JOIN #tmpCurrencyPrice l ON p.ItemId = l.ItemId AND p.LocId = l.LocId AND p.Uom = l.Uom
 WHERE l.ItemID IS NULL --add calculated entries for items without a currency specific value
  

	SELECT CASE @SortBy 
			WHEN 0 THEN i.ItemId 
			WHEN 1 THEN l.LocId END AS SortOrder,
			CASE @SortBy 
			WHEN 0 THEN l.LocId
			WHEN 1 THEN i.ItemId END AS SortOrder1,
		i.ItemId, l.LocId, p.Uom, p.BrkId, i.Descr, i.PriceId, 1 AS QtyBase, 
		
		((p.PriceBase + (CASE WHEN b.BrkAdjType = 0 THEN b.BrkAdj 
								ELSE b.BrkAdj/100* p.PriceBase END)) - 
								
		(CASE WHEN ISNULL(q.QtyOnHand,0) >0
			  THEN (CASE @CostingMethod 
			   WHEN 0 THEN  q.Cost /q.QtyOnHand
			   WHEN 1 THEN  q.Cost /q.QtyOnHand
		       WHEN 2 THEN l.CostAvg
		       WHEN 3 THEN l.CostStd END)
		      ELSE (l.CostLandedLast + l.CostLast) END)*u.ConvFactor)* @ExchRate AS BrkProfitMargin, 
		
		
		(p.PriceBase -(CASE WHEN ISNULL(q.QtyOnHand,0) >0
							 THEN (CASE @CostingMethod  WHEN 0 	THEN  q.Cost /q.QtyOnHand 
														WHEN 1	THEN  q.Cost /q.QtyOnHand
														WHEN 2 THEN l.CostAvg
														WHEN 3 THEN l.CostStd END) 
								ELSE (l.CostLandedLast + l.CostLast) END) * u.ConvFactor) * @ExchRate AS BaseProfitMargin,
		
		p.PriceBase  AS ERPriceBase,b.BrkQty, 
		
		p.PriceBase  + (CASE WHEN b.BrkAdjType = 0 
							 THEN b.BrkAdj 
							 ELSE b.BrkAdj/100* p.PriceBase END) AS AdjPrice,
		
		b.BrkAdj, b.BrkAdjType, u.ConvFactor, i.ProductLine, i.UsrFld1, i.UsrFld2
		
	FROM #tmpItemLocationList t INNER JOIN dbo.tblInItemLoc l ON t.LocId = l.LocId AND t.ItemId = l.ItemId
		INNER JOIN dbo.tblInItem i ON l.ItemId = i.ItemId 
		INNER JOIN (dbo.tblInItemUom u INNER JOIN (#tmpCurrencyPrice p LEFT JOIN dbo.tblInPriceBreaks b ON p.BrkId = b.BrkId) 
			ON u.ItemId = p.ItemId AND u.Uom = p.Uom) ON l.LocId = p.LocId AND l.ItemId = p.ItemId
		LEFT JOIN #tmpQtyCost q ON l.LocId = q.LocId AND l.ItemId = q.ItemId
  
END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InPriceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InPriceReport_proc'
GO
