USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_InItemLabel_Assign_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_InItemLabel_Assign_proc]
AS
BEGIN TRY

	DECLARE @Table Table
	(
		ItemId [nvarchar](24) NOT NULL,
		Uom [nvarchar](5) NULL,
		LabelType TinyInt NOT NULL,
		LabelId [nvarchar](255) Null
	)
	
	--Remove Deleted Entries if there is a new Item Label to re insert
	DELETE l FROM #tmpItemLabel l
	WHERE l.EntityState = 3 AND EXISTS (SELECT TOP 1 * FROM dbo.#tmpItemLabel t WHERE t.EntityState IN (1, 2) AND (l.ItemId = t.ItemId AND l.LabelType = t.LabelType AND ((l.Uom IS NULL AND t.Uom IS NULL) OR l.Uom = t.Uom)))

	--Remove Deleted Labels
	DELETE l FROM dbo.tblInItemLabel l
	INNER JOIN #tmpItemLabel t ON t.ID = l.ID AND t.EntityState = 3

	--Insert New Labels If ItemId, Uom & LabelType combination does not exist
	INSERT INTO dbo.tblInItemLabel(ID, LabelType, ItemId, Uom)
	SELECT
		t.ID, t.LabelType, t.ItemId, t.Uom
	FROM
	(	
		SELECT 
			ROW_NUMBER() OVER (PARTITION BY t.LabelType, t.ItemId, t.Uom ORDER BY t.LabelType, t.ItemId, t.Uom, t.Id DESC) [RowNumber], 
			t.LabelType, t.ItemId, t.Uom, t.Id
		FROM #tmpItemLabel t WHERE t.EntityState IN (1, 2)
		AND NOT EXISTS (SELECT TOP 1 * FROM dbo.tblInItemLabel l WHERE l.ItemId = t.ItemId AND l.LabelType = t.LabelType AND ((l.Uom IS NULL AND t.Uom IS NULL) OR l.Uom = t.Uom))
	) t
	WHERE t.RowNumber = 1 --Use Only the First record to avoid duplicates per Item, Uom, Label Type
	
	--Update Item Label Style If ItemId, Uom & LabelType combination exists
	UPDATE l
	SET l.LabelId = t.LabelId
	OUTPUT inserted.ItemId, inserted.Uom, inserted.LabelType, deleted.LabelId INTO @Table
	FROM #tmpItemLabel t
	INNER JOIN tblInItemLabel l ON l.ItemId = t.ItemId AND l.LabelType = t.LabelType AND ((l.Uom IS NULL AND t.Uom IS NULL) OR l.Uom = t.Uom)
	WHERE t.EntityState IN (1, 2)

	--Set the Old Label Style
	UPDATE t
	SET t.OldLabel = l.LabelId
	FROM #tmpItemLabel t
	INNER JOIN @Table l ON (l.ItemId = t.ItemId AND l.LabelType = t.LabelType AND ((l.Uom IS NULL AND t.Uom IS NULL) OR l.Uom = t.Uom))
	WHERE t.EntityState IN (1, 2)

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLabel_Assign_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_InItemLabel_Assign_proc'
GO
