USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlUpdateFiscalYear_Update_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlUpdateFiscalYear_Update_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @FiscalYear smallint, @AcctId [nvarchar](255) , @Consolidate bit, @ClearUnclosedIncome bit, @ClosingPeriod smallint,@CurrBase [nvarchar](6) 

	--Retrieve global values
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @AcctId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'AccountId'
	SELECT @Consolidate = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Consolidate'
	SELECT @ClearUnclosedIncome = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'ClearUnclosedIncome'
	SELECT @ClosingPeriod = CAST ([Value] AS smallint) FROM #GlobalValues WHERE [KEY] = 'ClosingPeriod' 
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

	IF @FiscalYear IS NULL OR @Consolidate IS NULL 
		OR @ClearUnclosedIncome IS NULL OR @ClosingPeriod IS NULL OR (ISNULL(@Consolidate, 0) = 1 AND @AcctId IS NULL) --AcctId only needed when consolidating
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	--use a temp table to capture last year balances
	CREATE TABLE #LastYearBalance
	(
		AcctId [nvarchar](255) NULL,
		CCAcctId [nvarchar](255) NULL,
		LyActual [decimal](28,3) NOT NULL,
		LyActualBase [decimal](28,3) NOT NULL,
		ClearToExist bit,
		AcctIdBalType smallint ,
		CCAcctIdBalType smallint, 
		CCAcctTypeId smallint
	)

	--insert all the entries into temp table
	INSERT INTO #LastYearBalance (AcctId, CCAcctId, LyActual, LyActualBase, ClearToExist,AcctIdBalType,CCAcctIdBalType)
	SELECT h.AcctId 
		, [AccounttId] = CASE  WHEN @ClearUnclosedIncome = 1 
							   THEN CASE WHEN h.ClearToAcct IS NULL THEN h.AcctId 
										 WHEN h.ClearToAcct ='' THEN h.AcctId		            
										 ELSE h.ClearToAcct END
							   ELSE h.AcctId END
		, SUM(d.Actual), Sum(d.ActualBase)
		, CASE WHEN @ClearUnclosedIncome = 1 AND ISNULL(h.ClearToAcct, '') <> '' THEN 1 ELSE 0 END AS ClearToExist
		, 1
		, 1
		FROM dbo.tblGlAcctHdr h
		INNER JOIN dbo.tblGlAcctDtl d ON h.AcctId = d.AcctId 
		WHERE d.[Year] = (@FiscalYear - 1)
		GROUP BY h.AcctId, h.ClearToAcct  

	--Update AcctIdBalType
	Update #LastYearBalance SET AcctIdBalType = h.BalType 
		FROM #LastYearBalance l 
		INNER JOIN  dbo.tblGlAcctHdr h  ON h.AcctId = l.AcctId 
		WHERE  h.AcctId = l.AcctId

	--Update CCAcctIdBalType
	Update #LastYearBalance SET CCAcctIdBalType = h.BalType, CCAcctTypeId = h.AcctTypeId 
		FROM #LastYearBalance l 
		INNER JOIN  dbo.tblGlAcctHdr h  ON h.AcctId = l.CCAcctId 
		WHERE  h.AcctId = l.CCAcctId

	--create any missing beginning balance records
	INSERT INTO dbo.tblGlAcctDtl ([AcctId], [Year], [Period], [Actual], [ActualBase], [Budget], [Forecast], [Balance])
	SELECT h.AcctId, @FiscalYear, 0, 0, 0, 0, 0, 0
		FROM dbo.tblGlAcctHdr h
		WHERE NOT EXISTS (SELECT AcctId FROM dbo.tblGlAcctDtl WHERE [AcctId] = h.[AcctId] And [Year] = @FiscalYear AND [Period] = 0)	

	--zero the account balances for all accounts
	UPDATE dbo.tblGlAcctDtl SET Actual = 0, ActualBase = 0
		FROM dbo.tblGlAcctHdr h 
		INNER JOIN dbo.tblGlAcctDtl d ON h.AcctId = d.AcctId
		WHERE [Year] = @FiscalYear AND Period = 0 AND AcctTypeId < 900

	-- Update LyActual, LyActualBase
	UPDATE #LastYearBalance SET LyActual = CASE WHEN AcctIdBalType = CCAcctIdBalType THEN LyActual ELSE LyActual * -1 END, 
		LyActualBase = CASE WHEN AcctIdBalType = CCAcctIdBalType THEN LyActualBase ELSE LyActualBase * -1 END

	--conditionally consolidate unclosed income into the retained earnings account
	IF @Consolidate = 1
	BEGIN
		DECLARE @Balance [decimal](28,3) 
		DECLARE @BalanceBase [decimal](28,3) 
		DECLARE @BalType smallint
		DECLARE @Income [decimal](28,3) 
		DECLARE @IncomeBase [decimal](28,3) 
		DECLARE @Description [nvarchar](255) 
		DECLARE @RetainAcctCurrId [nvarchar](6) 

		--copy balances of all balance sheet accounts (0-499) and accounts with clear to
		UPDATE dbo.tblGlAcctDtl SET Actual = t.LyearActual, ActualBase = t.LyearActualBase
			FROM dbo.tblGlAcctHdr h 
			INNER JOIN dbo.tblGlAcctDtl d ON h.AcctId = d.AcctId 
			INNER JOIN 
			(
				SELECT CCAcctId, LyearActual = SUM(LyActual), LyearActualBase = SUM(LyActualBase) 
				FROM #LastYearBalance WHERE (CCAcctTypeId < 500 OR ClearToExist = 1) GROUP BY CCAcctId
			) t ON h.AcctID = t.CCAcctId
			WHERE d.[Year] = @FiscalYear AND d.Period = 0

		--retrieve the currency id of Consolidate To account
		SELECT @RetainAcctCurrId = h.CurrencyID
			FROM dbo.tblGlAcctHdr h
			WHERE h.AcctId = @AcctId

		--retrieve the current unclosed income
		SELECT @Income = ISNULL(Sum(CASE WHEN h.AcctTypeId > 599 
											THEN 0 
											ELSE CASE WHEN BalType = -1 
														THEN CASE WHEN h.CurrencyID = @CurrBase THEN t.LyearActualBase
																  WHEN h.CurrencyID = @RetainAcctCurrId THEN t.LyearActual 
																  ELSE t.LyearActual * exch.Rate 
															 END
														ELSE CASE	WHEN h.CurrencyID = @CurrBase THEN -t.LyearActualBase
																	WHEN h.CurrencyID = @RetainAcctCurrId THEN -t.LyearActual 
																	ELSE -t.LyearActual * exch.Rate 		
															 END 
												 END
									END), 0) -- Revenue
					   - ISNULL(Sum(CASE WHEN h.AcctTypeId < 600 
											THEN 0 
											ELSE CASE WHEN BalType = -1 
														THEN CASE	WHEN h.CurrencyID = @CurrBase THEN -t.LyearActualBase
																	WHEN h.CurrencyID = @RetainAcctCurrId THEN -t.LyearActual 
																	ELSE -t.LyearActual * exch.Rate 
															 END			
														ELSE CASE	WHEN h.CurrencyID = @CurrBase THEN t.LyearActualBase
																	WHEN h.CurrencyID = @RetainAcctCurrId THEN t.LyearActual 
																	ELSE t.LyearActual * exch.Rate
															 END
												 END 
									END), 0), -- Expenses
			   @IncomeBase = ISNULL(Sum(CASE WHEN h.AcctTypeId > 599 
													THEN 0 
													ELSE CASE WHEN BalType = -1 
																THEN t.LyearActualBase
																ELSE -t.LyearActualBase 
														 END
											END), 0) -- Revenue
							   - ISNULL(Sum(CASE WHEN h.AcctTypeId < 600 
													THEN 0 
													ELSE CASE WHEN BalType = -1 
																THEN -t.LyearActualBase		
																ELSE t.LyearActualBase
														 END 
											END), 0) -- Expenses
			FROM dbo.tblGlAcctHdr h 
			INNER JOIN (
						 SELECT CCAcctId, SUM(d.[Actual]) AS [LyearActual], SUM(d.[ActualBase]) AS [LyearActualBase], d.[Period] AS [FiscalPeriod], d.[Year] AS [FiscalYear]
							 FROM #LastYearBalance ly
							 INNER JOIN dbo.tblGlAcctDtl d ON ly.[AcctId] = d.[AcctId] --join to account detail via the original account id to get per period amounts for last year
							 WHERE d.[Year] = (@FiscalYear - 1) AND ly.ClearToExist = 0 --filter for last year without a Clear To account 
							 GROUP BY ly.CCAcctId, d.[Period], d.[Year]
                       ) t ON h.AcctID = t.CCAcctId --join to subquery using the clear to account for conditional processing
			LEFT JOIN (
						SELECT exh.[FiscalPeriod], exh.[FiscalYear], exd.[Source], exd.[Destination], exd.[Rate]
							FROM [dbo].[tblSmExchangeRate] exh
							INNER JOIN [dbo].[tblSmExchangeRateDetail] exd ON exh.[ID] = exd.[ExchangeRateID]
							WHERE exh.[Type] = 1 AND exd.Destination = @RetainAcctCurrId
						UNION ALL
							SELECT 0 AS [FiscalPeriod], exh.[FiscalYear] + 1, exd.[Source], exd.[Destination], exd.[Rate]
							FROM [dbo].[tblSmExchangeRate] exh
							INNER JOIN [dbo].[tblSmExchangeRateDetail] exd ON exh.[ID] = exd.[ExchangeRateID]
							WHERE exh.[Type] = 1 AND exh.[FiscalPeriod] = @ClosingPeriod AND exd.Destination = @RetainAcctCurrId
					  ) exch on exch.FiscalPeriod = t.FiscalPeriod AND exch.FiscalYear = t.FiscalYear AND exch.Source = h.CurrencyID
			WHERE h.AcctTypeId Between 500 And 899 --AND t.FiscalYear = (@FiscalYear - 1) AND t.ClearToExist = 0 --filtering done within subquery

		--abort if invalid currency convertion exist
		IF @Income IS NULL
		BEGIN
			THROW 90027, N'Invalid exchange information.', 1
		END

		--set the sign of the income based upon the retained earning account balance type
		SELECT @BalType = h.BalType, @Description = h.[Desc]
			, @Income = CASE WHEN h.BalType = 1 THEN -ROUND(@Income, c.CurrDecPlaces) ELSE ROUND(@Income, c.CurrDecPlaces) END 
			, @IncomeBase = CASE WHEN h.BalType = 1 THEN -@IncomeBase ELSE @IncomeBase END 
			FROM dbo.tblGlAcctHdr h 
			LEFT JOIN dbo.tblSmCurrency c ON h.CurrencyID = c.CurrID 
			WHERE h.AcctId = @AcctId

		--calcuate the new retained earnings balance (Last year balance + Unclosed Income)
		SELECT @Balance = SUM(b.LyActual), @BalanceBase = SUM(b.LyActualBase)
			FROM #LastYearBalance b 
			WHERE b.CCAcctId = @AcctId
			GROUP BY B.CCAcctId 

		SELECT @Balance =  ISNULL(@Balance, 0) + @Income, @BalanceBase =  ISNULL(@BalanceBase, 0) + @IncomeBase

		--update the retained earning balances
		IF @RetainAcctCurrId = @CurrBase
		BEGIN
		UPDATE dbo.tblGlAcctDtl SET Actual = @BalanceBase, ActualBase = @BalanceBase
			WHERE [Year] = @FiscalYear AND Period = 0 AND AcctId = @AcctId
		END
		ELSE
		BEGIN
			UPDATE dbo.tblGlAcctDtl SET Actual = @Balance, ActualBase = @BalanceBase
			WHERE [Year] = @FiscalYear AND Period = 0 AND AcctId = @AcctId
		END

	END
	ELSE
	BEGIN
		--copy balances of all accounts
		UPDATE dbo.tblGlAcctDtl SET Actual = t.LyearActual, 
								ActualBase = t.LyearActualBase
			FROM dbo.tblGlAcctHdr h 
			INNER JOIN dbo.tblGlAcctDtl d ON h.AcctId = d.AcctId 
			INNER JOIN (SELECT CCAcctId, LyearActual = SUM(LyActual), LyearActualBase = SUM(LyActualBase) FROM #LastYearBalance GROUP BY CCAcctId) t ON h.AcctID = t.CCAcctId
			WHERE d.[Year] = @FiscalYear AND d.Period = 0 AND h.AcctTypeId < 900
	END

	--create log entries for the balance updates (RecordType = 0)
	INSERT INTO #UpdateFiscalYearLog (RecordType, AccountId, FiscalYear
		, [Description], BalanceType, Amount, CreditAmount, DebitAmount)
	SELECT 0, h.AcctId, @FiscalYear
		, h.[Desc], h.BalType, t.LyActualBase
		, CASE WHEN SIGN(t.CCAcctIdBalType) * t.LyActualBase > 0 THEN ABS(t.LyActualBase) ELSE 0 END
		, CASE WHEN SIGN(t.CCAcctIdBalType) * t.LyActualBase < 0 THEN ABS(t.LyActualBase) ELSE 0 END
		FROM dbo.tblGlAcctHdr h 
		INNER JOIN #LastYearBalance t ON h.AcctID = t.AcctID
		WHERE h.AcctTypeID BETWEEN 500 AND 899

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlUpdateFiscalYear_Update_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlUpdateFiscalYear_Update_proc'
GO
