USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcPoSalesOrderSelect_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcPoSalesOrderSelect_proc] 

AS                                        
	SET NOCOUNT ON    
	BEGIN TRY    
                                     
	 DECLARE @PostRun [nvarchar](14), @WrkStnDate datetime,@Foreign bit, @Currencyid [nvarchar](6),    
	 @UserId varchar(50),@WrkStnId  varchar(50),@batchid [nvarchar](6) ,    
	 @dfltGlAcctInv  varchar(50), @dfltGlAcctCogs varchar(50), @dfltGlAcctSales   varchar(50),    
	 @exchRate float  ,@GLPeriod smallint,@FiscalYear int  ,@PrecUPrice smallint  ,@PrecUCost smallint,    
	 @PrecFgn smallint,@gpreccurr smallint,@PrecQty smallint    
     
	 --Retrieve global values    
	 SELECT @PostRun = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'PostRun'    
	 SELECT @Foreign= Cast(Value AS bit) FROM #GlobalValues WHERE [KEY] = 'Foreign'    
	 SELECT @Currencyid = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'CurrBase'    
	 SELECT @WrkStnDate = Cast(Value AS datetime) FROM #GlobalValues WHERE [KEY] = 'WrkStnDate'    
	 SELECT @UserId = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'UserId'    
	 SELECT @WrkStnId = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'WrkStnId'    
	 SELECT @batchid = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'BatchId'    
	 SELECT @dfltGlAcctInv = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctInv'    
	 SELECT @dfltGlAcctCogs = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctCogs'    
	 SELECT @dfltGlAcctSales = Cast(Value AS nvarchar) FROM #GlobalValues WHERE [KEY] = 'dfltGlAcctSales'    
	 SELECT @exchRate =1--Cast(Value AS float) FROM #GlobalValues WHERE [KEY] = 'exchRate'    
	 SELECT @GLPeriod = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'GLPeriod'    
	 SELECT @FiscalYear = Cast(Value AS int) FROM #GlobalValues WHERE [KEY] = 'FiscalYear'    
	 SELECT @PrecUPrice = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecUPrice'    
	 SELECT @PrecUCost = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecUCost'    
	 SELECT @PrecFgn = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecCurr'    
	 SELECT @gpreccurr = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecCurr'    
	 SELECT @PrecQty = Cast(Value AS smallint) FROM #GlobalValues WHERE [KEY] = 'PrecQty'   
	 
	SELECT @Foreign=0,@exchRate=1    
	DECLARE @TotCountRtn int, @SeqNum int,      
	  @i int,                                                            
	  @id int,                                                                 
	  @key as nvarchar(255),                                                                    
	  @key_curr as nvarchar(255),                                                                    
	  @transid int,                                                                    
	  @nextentrynum int,                                  
	  @Itemid nvarchar(24),                                                                    
	  @Descr nvarchar(35),                                                  
	  @GLAcctSales nvarchar(50),                                                                    
	  @GLAcctCogs nvarchar(50),                                       
	  @GLAcctInv nvarchar(50),                                                  
	  @uom nvarchar(5),                                                                    
	  @unitCost decimal(20,10),                                                                    
	  @ConvFactor decimal(20,10),                                               
	  @qty decimal(20,10),                                                                    
	  @unitPrice decimal(20,10), @partnerid nvarchar(12),@custponum nvarchar(25),@custid [nvarchar](10),       
	  @LocId [nvarchar](10), @TaxClass int, @CatId nvarchar(2),@DfltBinNum nvarchar(10),@ItemType tinyint,                                              
	  @UnitsBase [nvarchar](5), @Kit bit, @LottedYN bit, @AddlDescr nvarchar(550), @AddlDescInYn bit, @acct_code [nvarchar](2)    
	  
	DECLARE @CurrPOHeaderID bigint, @CurrPODetailID bigint                                        
  
	CREATE TABLE #temp(                                                                    
		id int not null identity(1,1) primary key,                                                                    
		partnerid nvarchar(20),       
		[POHeaderID] [BigInt] NOT NULL,
		[PODetailID] [BigInt] NULL,
		custid [nvarchar](10) null,                                                                 
		CustPoNum nvarchar(50) null,                                                                    
		BreakId1  int null,                                                             
		podate datetime null,                                                       
		ReqShipDate datetime null, 
		SOReqShipDate datetime null,    
		OrderRef nvarchar(50) null,    
		EDIBillToCode nvarchar(50) null,     
		EDIShipToCode nvarchar(50) null,    
		ARShipToID nvarchar(12) null,    
		ArShipToName nvarchar(50) null,    
		SOShipToID nvarchar(12)null,    
		SOShipMethodCode nvarchar(6) null,
		SOShipVia nvarchar(20) null,    
		SOShipToName nvarchar(50) null,                      
		SOShipToAddr1 nvarchar(60) null,                   
		SOShipToAddr2 nvarchar(60) null,                      
		SOShipToCity nvarchar(50) null,                      
		SOShipToRegion nvarchar(50) null,                      
		SOShipToCountry nvarchar(50) null,                      
		SOShipToPostalCode nvarchar(50) null,                      
		DetailReqShipDate datetime null,    
		SOReqShipDateDetail datetime null,  
		ItemUir nvarchar(50) null,    
		Itemid [nvarchar](24) null,    
		ItemDescr nvarchar(35) null,    
		UnitsSell [nvarchar](5) null,    
		UnitPriceSell decimal(20,10) null,    
		QtyOrdSell decimal(20,10) null,    
		LocId [nvarchar](10) null,    
		PoLineNum int null,    
		SoUnitInventoryWeight decimal(20,10) null,                      
		SoUomConvFactor decimal(20,10) null  ,  
		EDIVendorNumber nvarchar(50) null,   
		EDIDepartment nvarchar(50) null,   
		MerchandiseTypeCode nvarchar(50) null,   
		MarkFor nvarchar(50) null,   
		OrderNotes nvarchar(256) null,    
		ReqDeliveryDate datetime null,
		UpdateSOTransID nvarchar(10) null,
		UpdateSOEntryNum int null,
		UpdateSOAction smallint, --0 do nuthing,1 update , 2 add                                           
	)                                                            
                                   
	CREATE TABLE #tempHeader                                                             
	(
		id int not null identity(1,1) primary key,                                                                  
		transid [nvarchar](8) NULL    
	)
	
	SELECT @TotCountRtn = 0                                                 
                                                          
	IF (
	SELECT COUNT(*)                                                          
		FROM tblEcPoHeader poh 
		INNER JOIN (SELECT POHeaderID, SUM(ErrorCode) sumerr FROM tblEcPoDetail      
				GROUP BY POHeaderID HAVING SUM(ErrorCode) = 0) pod                                  
		ON poh.ID = pod.POHeaderID  
		INNER JOIN #EdiPoList t ON poh.Id = t.ID  
	) = 0                                                          
                                        
	BEGIN                                                            
		RETURN -1                                                            
	END                                                  

	INSERT INTO #tempPO (POHeaderID)    
	SELECT poh.ID  
	FROM tblEcPoHeader poh                                                                    
	INNER JOIN (SELECT POHeaderID, SUM(ErrorCode) sumerr    
			FROM tblEcPoDetail      
			GROUP BY POHeaderID HAVING SUM(ErrorCode) = 0) pod                   
	ON poh.ID = pod.POHeaderID
	INNER JOIN #EdiPoList t ON poh.Id = t.ID 
    GROUP BY poh.ID    
                                                 
	INSERT INTO #temp(    
	partnerid,POHeaderID ,    
	PODetailID,CustId,    
	CustPoNum,BreakId1,    
	Podate,    
	ReqShipDate,   
	SOReqShipDate,
	OrderRef,EDIBillToCode,EDIShipToCode,ARShipToID,    
	ArShipToName,    
	SOShipToID,    
	SOShipMethodCode,SOShipVia,SOShipToName ,                      
	SOShipToAddr1,  SOShipToAddr2 ,SOShipToCity,SOShipToRegion ,    
	SOShipToCountry ,SOShipToPostalCode,
	DetailReqShipDate,    
	SOReqShipDateDetail,
	ItemUir,Itemid,    
	ItemDescr,UnitsSell,    
	UnitPriceSell,QtyOrdSell,    
	LocId,PoLineNum ,EDIVendorNumber , EDIDepartment,   
	MerchandiseTypeCode , MarkFor  ,   
	OrderNotes    ,    
	ReqDeliveryDate,   
	UpdateSOTransID,UpdateSOEntryNum,UpdateSOAction)   
	
	SELECT poh.partnerid PartnerId,  poh.ID, pod.ID,substring(ltrim(rtrim(poh.custid)),1,12) CustId,    
		substring(ltrim(rtrim(poh.CustPoNum)),1,25) CustPoNum, isnull(SplitSeq,0) BreakId,                                                                   
		case when isnull(poh.podate,'')='' then null else cast(poh.podate as datetime) end podate,    
		case when isnull(poh.ReqShipDate,'')='' then null else cast(poh.ReqShipDate as datetime) end ReqShipDate, poh.SOReqShipDate,                                          
		poh.OrderRef, pod.EDIBillToCode, pod.EDIShipToCode, substring(ltrim(rtrim(poh.ARShipToID)),1,12) as ARShipToID,      
		poh.ShipToName arShipToName, substring(ltrim(rtrim(pod.SOShipToID)),1,12) as SOShipToID,     
		poh.SOShipMethodCode, poh.SOShipVia, pod.SOShipToName,                      
		pod.SoShipToAddr1, pod.SoShipToAddr2, pod.SoShipToCity, pod.SoShipToRegion ,                      
		pod.SoShipToCountry, pod.SoShipToPostalCode, pod.RequestedDate as DetailReqShipDate, pod.SOReqShipDate as SOReqShipDateDetail,     
		substring(ltrim(rtrim(pod.ItemUir)),1,24) as ItemUir, substring(ltrim(rtrim(pod.Itemid)),1,24) Itemid,    
		substring(ltrim(rtrim(pod.SOItemDescr)),1,35) ItemDescr, substring(ltrim(rtrim(pod.SOUnitsSell)),1,12) as UnitsSell,                                                                    
		cast(pod.SOUnitPriceSell as decimal(28,10)) as UnitPriceSell, cast(pod.SOQtyOrdSell as decimal(28,10)) as QtyOrdSell,    
		pod.LocId, cast(pod.PoLineNum as int),
		poh.EDIVendorNumber, poh.EDIDepartment,   
		poh.MerchandiseTypeCode, poh.MarkFor,   
		poh.OrderNotes,    
		poh.ReqDeliveryDate,
		poh.UpdateSOTransID, pod.UpdateSOEntryNum, pod.UpdateSOAction  
	FROM tblEcPoHeader poh                                                                    
	INNER JOIN tblEcPoDetail pod ON poh.ID = pod.POHeaderID 
	INNER JOIN #tempPO ON poh.ID = #tempPO.POHeaderID
	ORDER BY poh.partnerId, poh.ImportBatchId, poh.CustPoNum, poh.custid, pod.SplitSeq, cast(pod.PoLineNum as int)                        

	UPDATE #temp                     
		SET UnitsSell = i.UomBase                       
		FROM #temp                     
		INNER JOIN tblInItem i ON #temp.ItemID = i.ItemId                      
		WHERE #temp.UnitsSell is null    
                                                   
	UPDATE #temp                    
		SET SoUnitInventoryWeight = round(isnull(Weight,0),4), SoUomConvFactor=isnull(i.convFactor,1)                      
		FROM #temp                      
		LEFT JOIN tblInItemUom i ON #temp.ItemID = i.ItemId AND #temp.UnitsSell = i.Uom     
                     
	--update #temp set ReqShipDate= DateAdd(DD,7,CONVERT(char(10),podate ,101))   
	--where  ReqShipDate is null                   
    
	SELECT @key_curr = '' , @i=0 , @qty=0 , @transid=0                          
	SELECT @i = min(id) from #temp                                                       
                                  
	WHILE @i <> 0                                                                    
	BEGIN                                                                    
	 --select  @key=partnerid+CustPoNum+custid+cast(BreakId1 as varchar)     
	SELECT @key=CAST(POHeaderID as nvarchar) +'|'+cast(BreakId1 as nvarchar)     
	FROM #temp WHERE id = @i                                                                    
                                                                    
	IF @key <> @key_curr                                                                    
	BEGIN                                                                    
	--Write Headers                                                                    
	SELECT @key_curr=@key                                                                    
	SELECT @nextentrynum=1                                                                    
                                                                    
	SELECT  @Partnerid = null, @CustPoNum = null , @custid = null 
	SELECT @transid = @transid+1    
                                                                        
	IF isnull(@transid,0) = 0                                                                      
	BEGIN                                                                        
		rollback tran                                                                        
		return 10                                                                      
	END                                                                      
                                                           
	SELECT @Partnerid = partnerid, @CustPoNum = CustPoNum, @custid = CustID                                                      
	FROM #temp WHERE id = @i                  
         
		
	INSERT INTO #SoTransHeader                                                                    
	(                                                                     
		TransId,BatchId,LocId,SoldToId,CustId                                    
		,ShipToID,ShipToName,ShipToAddr1,ShipToAddr2,ShipToCity,ShipToRegion          
		,ShipToCountry,ShipToPostalCode                        
		,ShipVia,TermsCode,DistCode                                     
		,InvcDate,TransDate,PODate                                    
		,CustPONum,ReqShipDate,Freight,Misc,GLPeriod,FiscalYear,NetDueDate                                   
		,DiscDueDate                                   
		,ShipToPhone,ShipToAttn,ShipMethod,SourceId,Notes     
		,CurrencyID,ExchRate  
		,EDIShipToCode,ArShipToId,ArShipToName,ImportBatchId,PartnerId   
		,KeyLevelSeq1,EDIVendorNumber,EDIDepartment   
		,MerchandiseTypeCode,MarkFor    
		,ReqDeliveryDate,UpdateSOTransID, PartnerUniqueId,POHId, CarrierName 
	)                                
	SELECT                                                                    
		@TransId,ISNULL(o.OptValue, @BatchId),t.Locid ,t.CustId,t.CustId                                   
		,SOShipToID,substring(t.SOShiptoName,1,30),substring(SOShiptoAddr1,1,30),SOShiptoAddr2,SOShiptoCity,SOShiptoRegion    
		,SOShiptoCountry, SOShiptoPostalCode    
		,t.SOShipVia, c.termscode, case when isnull(a.distcode,'')='' then c.distcode else a.distcode end as distcode                                       
		,@WrkStnDate InvcDate, @WrkStnDate TransDate, t.PODate                                    
		,t.CustPONum, t.SOReqShipDate ,0 Freight ,0 Misc                                      
		,@GLPeriod,@FiscalYear,@WrkStnDate,@WrkStnDate         
		,null ShipToPhone,null ShipToAttn ,t.SOShipMethodCode ShipMethod,NEWID()  ,  
		case when isnull(t.OrderRef,'')='' then t.OrderNotes else 'EDI Order Reference '+t.OrderRef+'; '+isnull(t.ordernotes,'') end  
		,ISNULL(@Currencyid,'USD')   CurrencyID,ISNULL(@exchRate,1) ExchRate    
		,t.EDIShipToCode,t.ArShipToId, t.ArShipToName,h.ImportBatchId,t.PartnerId ,h.KeyLevelSeq1                           
		,t.EDIVendorNumber , t.EDIDepartment,   
		t.MerchandiseTypeCode , t.MarkFor  ,   
		t.ReqDeliveryDate,
		t.UpdateSOTransID, p.PartnerID,h.Id, h.CarrierName
	FROM #temp t         
	INNER JOIN tblEcPoHeader h on t.POHeaderID=h.Id
	INNER JOIN tblArcust c ON t.custid = c.custid 
	INNER JOIN tblEcPartner p ON t.partnerid = p.ID
	LEFT JOIN tblarshipto a ON T.SOShipToId=a.shiptoid AND t.custid=a.custid                                    
	LEFT JOIN dbo.tblArSalesRep s1 ON c.SalesRepId1 = s1.SalesRepID                                    
	LEFT JOIN dbo.tblArSalesRep s2 ON c.SalesRepId2 = s2.SalesRepID     
	LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
		FROM dbo.tblEcPartner p INNER JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
		WHERE d.DefaultId = '9B30C5B7-6CAE-4214-9551-2B0081B9CDFD' AND d.ContextType = 7) o ON p.ID = o.PartnerID
	WHERE t.id = @i                                     
       
	SET @TotCountRtn = @TotCountRtn + 1      
	-- header discounts  
	SELECT @CurrPOHeaderID = POHeaderID 
	FROM #temp t                                                
	WHERE id=@i   

	INSERT INTO #SoTransDetailPoSAC(  
	 [POHeaderID],  
	 [PODetailID],
	 [TransID],  
	 [EntryNum],  
	 [SACCode],  
	 [SACDescr],  
	 [SACSeq],  
	 [ImpliedYN],  
	 [SACAdjType],  
	 [SACAmount],  
	 [SACPct],  
	 [AdjServiceItem],    
	 [AdjServiceLocId] 
    )  
	 SELECT [POHeaderID],  
	 [PODetailID],  
	 @TransID,  
	 0,  
	 [SACCode],  
	 [SACDescr],  
	 [SACSeq],  
	 [ImpliedYN],  
	 [SACAdjType],  
	 [SACAmount],  
	 [SACPct],  
	 [AdjServiceItem],  
	 [AdjServiceLocId]            
	 FROM dbo.tblEcPoSAC  
	 WHERE POHeaderID = @CurrPOHeaderID AND PODetailID IS NULL
                                         
	END                                                                
                                                      
	--Write Lines                                                             
	SELECT @ItemId = null,@qty = 0,@GLAcctSales = @dfltGlAcctSales,@GLAcctCogs = @dfltGlAcctCogs,          
	@GLAcctInv=@dfltGlAcctInv,@uom=null, @ConvFactor=1, @LocId=null ,@TaxClass=0      
	SELECT @itemid = itemid,@uom = UnitsSell,@qty = QtyOrdSell ,                                                                    
	@unitPrice = UnitPriceSell, @LocId = locid FROM #temp WHERE id = @i                                                                    
	SELECT @ConvFactor = ConvFactor FROM dbo.tblInItemUom             
	WHERE itemid = @itemid AND uom = @uom                   
                                                                     
	IF isnull(@ConvFactor,0) = 0                                                                    
	SELECT @ConvFactor = 1                                
              
	IF isnull(@itemid,'') <> ''                                                                    
		BEGIN                                                 
			SELECT @descr = initem.descr, @GLAcctSales = ac.GLAcctSales,                                                                     
			@GLAcctCogs = ac.GLAcctCogs,@GLAcctInv = ac.GLAcctInv,                                                                    
			@CatId=initem.SalesCat, @TaxClass= isnull(initem.TaxClass,0), @DfltBinNum = DfltBinNum,@itemtype = itemtype,                           
			@UnitsBase = UomBase, @Kit = initem.KittedYN, @LottedYN = initem.LottedYN                                                               
			FROM dbo.tblInItemLoc i (nolock)                               
			INNER JOIN dbo.tblInGlAcct ac ON i.GlAcctCode = ac.GlAcctCode                                                                    
			INNER JOIN dbo.tblInItem initem ON i.itemid = initem.itemid                                                                    
			WHERE i.itemid = @itemid AND i.locid = @locId                                                                  
                                            
			SELECT @AddlDescr = null                                              
                                                                    
			If @AddlDescInYn = 1                                                                    
				BEGIN                                                                    
				  SELECT @AddlDescr = substring(cast(AddlDescr as nvarchar(550)),1,550) FROM                                                                     
				  dbo.tblInItemAddlDescr where itemid=@itemid                                                                    
				END                                                    
			ELSE                                                                    
				BEGIN                                                                    
					SET @AddlDescr  = Null                                                                    
				END            
                                
		END          
	ELSE          
		BEGIN          
			-- non inventory items          
			SELECT @ItemId = '', @qty = 0, @GLAcctSales = @dfltGlAcctSales, @GLAcctCogs = @dfltGlAcctCogs,          
			 @GLAcctInv = @dfltGlAcctInv           
			,@descr = Null, @CatId = null, @TaxClass = 0, @DfltBinNum = null, @itemtype = 3                                              
			,@uom = null, @ConvFactor = 1, @LocId = null, @UnitCost = 0, @TaxClass = 0                                                               
                                                                                                                            
			SELECT @itemid = itemid          
			,@uom = UnitsSell, @qty = QtyOrdSell           
			,@unitPrice = UnitPriceSell         
			,@LocId = locid          
			,@Descr = substring(ItemDescr,1,35), @AddlDescr = ItemDescr           
			FROM #temp where id = @i  
		END     
		
	 INSERT INTO #SoTransDetail(                                              
		TransID, EntryNum, ItemJob, LocId, ItemId, ItemType, Descr, AddnlDescr, CatId, TaxClass,                                                                        
		GLAcctSales, GLAcctCOGS, GLAcctInv, QtyOrdSell, UnitsSell, UnitsBase, PriceID, UnitPriceSellFgn, 
		PriceExtFgn, OrigOrderQty, ConversionFactor, InItemYN , LineSeq, TotQtyOrdSell, Kit, ReqShipDate,                           
		AcctCode, POHeaderID, PODetailID, DiscAmt,
		UpdateSOTransID, UpdateSOEntryNum, UpdateSOAction
	 )                                       
     SELECT                                               
		@transid,@nextEntryNum ,0,@locid,@Itemid,@ItemType,@Descr,@addlDescr,@CatId, @TaxClass,                          
		@GLAcctSales, @GLAcctCogs,@GLAcctInv,@Qty,@uom,@UnitsBase, null                                             
		, ROUND(((@Qty * @UnitPrice * @ExchRate) / @Qty), @PrecUPrice) AS UnitPriceSellFgn                                              
		, ROUND((@Qty * @UnitPrice * @ExchRate), @PrecFgn) AS PriceExtFgn                                              
		, @Qty, @ConvFactor, CASE WHEN @ItemType > 0 THEN 1 ELSE 0 END AS InItemYN    
		, @nextEntryNum, @Qty AS TotQtyOrdSell                                       
		, @kit                  
		, t.SOReqShipDateDetail             
		, @acct_code          
		, t.POHeaderID, t.PODetailID, 0
		, t.UpdateSOTransID,t.UpdateSOEntryNum,t.UpdateSOAction 
	FROM #temp t                                                
	LEFT JOIN tblArcust c ON t.custid=c.custid                                       
	LEFT JOIN dbo.tblArSalesRep s1 ON c.SalesRepId1=s1.SalesRepID                                    
	LEFT JOIN dbo.tblArSalesRep s2 ON c.SalesRepId2=s2.SalesRepID                                                             
	WHERE id=@i                                     
                                    
	--write discounts  
	SELECT @CurrPODetailID = PODetailID
	FROM #temp t                                                
	WHERE id=@i  
   
	INSERT INTO  #SoTransDetailPoSAC(  
		[POHeaderID] ,  
		[PODetailID] ,  
		[TransID] ,  
		[EntryNum] ,  
		[SACCode] ,  
		[SACDescr] ,  
		[SACSeq] ,  
		[ImpliedYN] ,  
		[SACAdjType] ,  
		[SACAmount] ,  
		[SACPct] ,  
		[AdjServiceItem] )  
	SELECT [POHeaderID] ,  
		[PODetailID],
		@TransID ,  
		@NextEntryNum ,  
		[SACCode] ,  
		[SACDescr] ,  
		[SACSeq] ,  
		[ImpliedYN] ,  
		[SACAdjType] ,  
		[SACAmount] ,  
		[SACPct] ,  
		[AdjServiceItem]             
	FROM dbo.tblEcPoSAC  
	WHERE PODetailID = @CurrPODetailID
              
	SELECT @nextEntryNum = @nextEntryNum+1                                                                  
	DELETE #temp WHERE id=@i                                                                    
	SELECT @i=min(id) FROM #temp                                                                    
	END    
  
	INSERT INTO #SoTransDetail(                                              
		TransID, EntryNum,  
		ItemJob, LocId, ItemId, ItemType, Descr, AddnlDescr, CatId, TaxClass,                                                                        
		GLAcctSales,GLAcctCOGS,GLAcctInv,QtyOrdSell,UnitsSell,UnitsBase,PriceID, UnitPriceSellFgn,                                             
		PriceExtFgn,OrigOrderQty,                                                                    
		ConversionFactor,InItemYN , LineSeq, TotQtyOrdSell, Kit, ReqShipDate,                           
		AcctCode, POHeaderID, PODetailID, DiscAmt, UpdateSOAction        
	 )                                       
     SELECT                                               
		t.transid,(sodetail.MaxEntrynum +(ROW_NUMBER() OVER (ORDER BY ID asc))) as new_entrynum,  
		0,t.[AdjServiceLocId] locid,t.[AdjServiceItem],i.ItemType,i.Descr,t.SACCode +' '+ISNULL(t.sacdescr,''),i.SalesCat , i.TaxClass,                                                                        
		a.GLAcctSales, a.GLAcctCogs,a.GLAcctInv,1 Qty,i.UomBase ,i.UomBase, null                                           
		, ROUND(sign(SACAdjType)*SACAmount, @PrecUPrice) AS UnitPriceSellFgn                                              
		, ROUND(sign(SACAdjType)*SACAmount, @PrecFgn) AS PriceExtFgn, 1 Qty                                             
		, 1 ConvFactor, CASE WHEN i.ItemType > 0 THEN 1 ELSE 0 END AS InItemYN    
		, (sodetail.MaxEntrynum +(ROW_NUMBER() OVER (ORDER BY ID asc)))  , 1  AS TotQtyOrdSell                                       
		, 0 kit, null, null, t.POHeaderID, t.PODetailID, 0  , 0 UpdateSOAction                                           
	FROM #SoTransDetailPoSAC t 
	INNER JOIN (select transid, MAX(entrynum) MaxEntrynum FROM #SoTransDetail
			GROUP BY transid) sodetail ON t.transid = sodetail.transid 
	INNER JOIN tblinitem i ON t.adjserviceitem = i.itemid  
	LEFT JOIN tblInItemLoc l ON t.adjserviceitem = l.itemid AND t.[AdjServiceLocId] = l.locid  
	LEFT JOIN tblInGLAcct a ON l.GLAcctCode=a.GLAcctCode   
	WHERE t.PODetailID IS NULL
  
	--details  
	UPDATE #SoTransDetail  
	SET discAmt=t.discAmt  
	FROM #SoTransDetail  
	INNER JOIN (SELECT transid, entrynum, round(SUM(sign(SACAdjType)*SACAmount),@PrecUPrice ) discAmt  
			FROM #SoTransDetailPoSAC  
			WHERE PODetailID IS NOT NULL 
			GROUP BY transid,entrynum) t ON #SoTransDetail.transid = t.transid AND #SoTransDetail.entrynum = t.entrynum  
  
    PRINT CAST(iSNULL(@TotCountRtn ,0) as nvarchar)     
	END TRY    

BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSalesOrderSelect_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcPoSalesOrderSelect_proc'
GO
