USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoPrintOrderHist_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoPrintOrderHist_proc]
@PostRun [nvarchar](14) = '20091104122350', 
@TransId [nvarchar](8) = '00000011', 
@PrintAdditionalDescription bit = 0

AS
SET NOCOUNT ON
BEGIN TRY
	CREATE TABLE #Temp
	(
		PostRun [nvarchar](14) NOT NULL, 
		TransId [nvarchar](8) NOT NULL
		PRIMARY KEY CLUSTERED ([PostRun], [TransId])
	)

	INSERT INTO #Temp (PostRun, TransId) 
	SELECT h.PostRun, h.TransId 
	FROM dbo.tblPoHistHeader h 
	WHERE h.PostRun = @PostRun AND h.TransId = @TransId AND h.TransType <> 0

	SELECT v.VendorID, v.Name, v.Contact, v.Addr1, v.Addr2, v.City, v.Region, v.Country, v.PostalCode
		, v.Phone, v.FAX, c.[Desc] AS TermsCodeDesc, g.ReportMethod, h.TransId, h.BatchId, h.TransType
		, h.TransDate, h.TaxGrpID, h.ReqShipDate AS ReqShipDateHdr, h.LocId AS LocIdHdr, h.ShippingType, h.ShipToID
		, h.ShipToName, h.ShipToAddr1, h.ShipToAddr2, h.ShipToCity, h.ShipToRegion, h.ShipToCountry
		, h.ShipToPostalCode, h.ShipToAttn, h.ShipVia, h.OrderedBy, h.FOB, h.Notes, h.CurrencyID, h.ExchRate
		, h.PrintStatus
		, h.MemoTaxLocID1 + ' SALES TAX' AS MemoTaxLocID1
		, h.MemoTaxLocID2 + ' SALES TAX' AS MemoTaxLocID2
		, h.MemoTaxLocID3 + ' SALES TAX' AS MemoTaxLocID3
		, h.MemoTaxLocID4 + ' SALES TAX' AS MemoTaxLocID4
		, h.MemoTaxLocID5 + ' SALES TAX' AS MemoTaxLocID5
		, h.MemoTaxableFgn AS MemoTaxable
		, h.MemoFreightFgn  AS MemoFreight
		, h.MemoNonTaxableFgn  AS MemoNonTaxable
		, h.MemoSalesTaxFgn  AS MemoSalesTax
		, h.MemoMiscFgn AS MemoMisc
		, h.MemoDiscFgn AS MemoDisc
		, h.MemoPrepaidFgn AS MemoPrepaid
		, h.MemoTaxAmt1Fgn AS MemoTaxAmt1
		, h.MemoTaxAmt2Fgn AS MemoTaxAmt2
		, h.MemoTaxAmt3Fgn AS MemoTaxAmt3
		, h.MemoTaxAmt4Fgn AS MemoTaxAmt4
		, h.MemoTaxAmt5Fgn AS MemoTaxAmt5
		, d.EntryNum, d.QtyOrd
		, d.UnitCostFgn AS UnitCostFgn
		, d.ExtCostFgn AS ExtCost
		, d.ItemId, d.ItemType, d.ProjID, d.PhaseId, d.TaskID, d.LocId AS LocIdDtl, d.UnitsBase, d.Units
		, ISNULL(t.RcptQty, 0) AS QtyRcvd
		, CASE WHEN h.TransType = 9 THEN 0 ELSE 
			CASE WHEN d.QtyOrd - ISNULL(t.RcptQty, 0) > 0 THEN d.QtyOrd - ISNULL(t.RcptQty, 0) 
				ELSE 0 END END AS BackOrdered
		, h.TransId + ISNULL(d.LocId, '') TransLocId, ISNULL(d.Descr, '') AS Descr
		, CASE WHEN @PrintAdditionalDescription = 1 THEN ISNULL(d.AddnlDescr, '') ELSE '' END AS AddnlDescr
		, ISNULL(d.LineSeq, d.EntryNum) AS LineSeq, ISNULL(d.ReqShipDate,h.ReqShipDate) AS ReqShipDateDtl, h.DropShipYn
		, ISNULL(CountofLocId, 0) AS CountofLocId, total.GrandTotal, ExCost.ExtCostFooter
		, v.OurAcctNum, v.Memo, d.GLDesc, d.CustID, d.ProjName, d.VendorPartNumber
	FROM #Temp l 
		INNER JOIN dbo.tblPoHistHeader h ON l.PostRun = h.PostRun AND l.TransId = h.TransId 
		INNER JOIN dbo.tblApVendor v (NOLOCK) ON h.VendorId = v.VendorID 
		INNER JOIN dbo.tblApTermsCode c (NOLOCK) ON h.TermsCode = c.TermsCode 
		INNER JOIN dbo.tblSmTaxGroup g (NOLOCK) ON h.TaxGrpID = g.TaxGrpID 
		INNER JOIN dbo.tblPoHistDetail d (NOLOCK) ON h.PostRun = d.PostRun AND h.TransId = d.TransID 
		LEFT JOIN 
		(
			SELECT dd.PostRun, dd.TransID, dd.LocId
				, SUM(ExtCostFgn) AS ExtCostFooter 
			FROM dbo.tblPoHistDetail dd 
				INNER JOIN #Temp tl ON dd.PostRun = tl.PostRun AND dd.TransID = tl.TransID 
			WHERE dd.TransID = tl.TransID 
			GROUP BY dd.PostRun, dd.TransID, dd.LocId
		) ExCost ON ExCost.PostRun = h.PostRun AND ExCost.TransID = h.TransID AND ExCost.LocId = d.LocId 
		LEFT JOIN 
		(
			SELECT rcpt.PostRun, rcpt.TransID, EntryNum, CAST(SUM(QtyFilled) AS float) AS RcptQty
				, SUM(ExtCostFgn) AS RcptExtCost 
			FROM dbo.tblPoHistLotRcpt rcpt (NOLOCK) 
				INNER JOIN #Temp tr ON rcpt.PostRun = tr.PostRun AND rcpt.TransID = tr.TransID 
			GROUP BY rcpt.PostRun, rcpt.TransID, EntryNum 
		) t ON d.PostRun = t.PostRun AND d.TransID = t.TransID AND d.EntryNum = t.EntryNum 
		LEFT JOIN 	 
		(
			SELECT cnt.PostRun, cnt.TransID, MIN(Entrynum) AS Entrynum, COUNT(*) AS CountofLocId 
			FROM
			(
				SELECT det.PostRun, det.TransID, MIN(det.Entrynum) AS Entrynum, det.TransID + det.LocId AS TransIDLocId 
				FROM dbo.tblPoHistDetail det 
					INNER JOIN #Temp t ON det.PostRun = t.PostRun AND det.TransID = t.TransID 
				GROUP BY det.PostRun, det.TransID, det.TransID + det.LocId
			) cnt
			GROUP BY cnt.PostRun, cnt.TransID
		) CL ON CL.PostRun =l.PostRun AND CL.TransID =l.TransID 
		LEFT JOIN 
		(
			SELECT hdr.PostRun, hdr.TransId
				, SUM(MemoTaxableFgn + MemoFreightFgn + MemoNonTaxableFgn + MemoSalesTaxFgn + MemoMiscFgn 
						- MemoPrepaidFgn) AS GrandTotal 
			FROM dbo.tblPoHistHeader hdr 
				INNER JOIN #Temp th ON hdr.PostRun = th.PostRun AND hdr.TransID = th.TransID 
			GROUP BY hdr.PostRun, hdr.TransID
		) total ON l.PostRun = total.PostRun AND l.TransID = total.TransId 
	ORDER BY d.LineSeq
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPrintOrderHist_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoPrintOrderHist_proc'
GO
