USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_GlClearClose_Status_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_GlClearClose_Status_proc]
AS
SET NOCOUNT ON
BEGIN TRY
	DECLARE @FiscalYear smallint, @StepFrom tinyint, @StepThru tinyint

	--Retrieve global values
	SELECT @FiscalYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'FiscalYear'
	SELECT @StepFrom = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StepFrom'
	SELECT @StepThru = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'StepThru'

	IF @FiscalYear IS NULL OR @StepFrom IS NULL OR @StepThru IS NULL 
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	SELECT Count(h.ClearToAcct) AccountCount
		, Sum(Case When BalType = -1 Then isnull(s.Actual, 0) Else 0 End) RevenueAccountTotal
		, Sum(Case When BalType = 1 Then isnull(s.Actual, 0) Else 0 End) ExpenseAccountTotal
		FROM dbo.tblGlAcctHdr h 
		INNER JOIN (SELECT d.AcctId, d.[Year], Sum(d.Actual) Actual
			FROM dbo.tblGlAcctDtl d 
			WHERE d.[Year] = @FiscalYear
			GROUP BY d.AcctId, d.[Year]
		) s on h.AcctId = s.AcctId
	WHERE h.ClearToStep Between @StepFrom And @StepThru

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlClearClose_Status_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_GlClearClose_Status_proc'
GO
