USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_AP_Transactions_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_AP_Transactions_proc]
AS
BEGIN TRY
	DECLARE @MaxExtSeqNum int
	DECLARE @MaxExtID bigint
	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID [nvarchar](24) NOT NULL, LocID [nvarchar](10) NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*AP Transactions*/
	BEGIN
		CREATE TABLE #tmpApTransDetailQtyExt (ExtSeqNum int NOT NULL, TransId nvarchar(8) NOT NULL, EntryNum int NOT NULL, [ID] bigint NOT NULL)
		CREATE TABLE #tmpApTransLotQtyExt (ExtSeqNum int NOT NULL, SeqNum int NOT NULL, [ID] bigint NOT NULL)

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblApTransDetail SET ExtLocA = b.ExtLocA
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.PartId = b.ItemID AND d.WhseId = b.LocID
		WHERE i.ItemType = 1 AND i.LottedYn = 0 AND d.ExtLocA IS NULL --Regular non-lotted, missing bin

		UPDATE dbo.tblApTransLot SET ExtLocA = b.ExtLocA
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblApTransLot l ON d.TransID = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN #tmpItemLocDefaultBin b ON d.PartId = b.ItemID AND d.WhseId = b.LocID
		WHERE i.ItemType = 1 AND i.LottedYn = 1 AND l.ExtLocA IS NULL --Regular lotted, missing bin

		UPDATE dbo.tblApTransSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d ON h.TransId = d.TransID
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblApTransSer r ON d.TransID = r.TransId AND d.EntryNum = r.EntryNum
			INNER JOIN #tmpItemLocDefaultBin b ON d.PartId = b.ItemID AND d.WhseId = b.LocID
		WHERE i.ItemType = 2 AND r.ExtLocA IS NULL --Serialized, missing bin

		--Create Quantity On Hand Extended
		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtID = ISNULL(@MaxExtID,0)

		INSERT INTO #tmpApTransDetailQtyExt (ExtSeqNum, TransId, EntryNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.TransId,d.EntryNum,
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON d.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType < 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Debit, regular non-lotted, no link to tblQtyOnHand_Ext record

		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext ON
		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.PartId AS ItemId,d.WhseId AS LocId,NULL AS LotNum,d.ExtLocA,d.ExtLocB,-q.Qty AS Qty,d.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON d.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType < 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Debit, regular non-lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtID = ISNULL(@MaxExtID,0)

		INSERT INTO #tmpApTransDetailQtyExt (ExtSeqNum, TransId, EntryNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.TransId,d.EntryNum,
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType > 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Invoice, regular non-lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtSeqNum AS ExtSeqNum,d.PartId AS ItemId,d.WhseId AS LocId,NULL AS LotNum,d.ExtLocA,d.ExtLocB,q.Qty AS Qty,d.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY d.TransId,d.EntryNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON d.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON d.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType > 0 AND i.ItemType = 1 AND i.LottedYN = 0 AND e.ExtSeqNum IS NULL --Invoice, regular non-lotted, no link to tblQtyOnHand_Ext record

		UPDATE dbo.tblApTransDetail SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.[ID]
		FROM dbo.tblApTransDetail d INNER JOIN #tmpApTransDetailQtyExt q ON d.TransId = q.TransId AND d.EntryNum = q.EntryNum

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtID = ISNULL(@MaxExtID,0)

		INSERT INTO #tmpApTransLotQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblApTransLot l ON d.TransID = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand_Offset q ON l.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType < 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Debit, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.PartId AS ItemId,d.WhseId AS LocId,l.LotNum,l.ExtLocA,l.ExtLocB,-q.Qty AS Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblApTransLot l ON d.TransID = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN (SELECT ISNULL(GrpID, SeqNum) AS SeqNum, SUM(Qty) AS Qty FROM dbo.tblInQtyOnHand_Offset GROUP BY ISNULL(GrpID, SeqNum)) q ON l.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType < 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Debit, regular lotted, no link to tblQtyOnHand_Ext record

		SELECT @MaxExtSeqNum = MAX(ExtSeqNum) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtSeqNum = ISNULL(@MaxExtSeqNum,0)
		SELECT @MaxExtID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtID = ISNULL(@MaxExtID,0)

		INSERT INTO #tmpApTransLotQtyExt (ExtSeqNum, SeqNum, [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,l.SeqNum,
			ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblApTransLot l ON d.TransID = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType > 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice, regular lotted, no link to tblQtyOnHand_Ext record

		INSERT INTO dbo.tblInQtyOnHand_Ext(ExtSeqNum, ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtSeqNum AS ExtSeqNum,d.PartId AS ItemId,d.WhseId AS LocId,l.LotNum,l.ExtLocA,l.ExtLocB,q.Qty AS Qty,l.QtyStatus AS [Status],
			ROW_NUMBER() OVER(ORDER BY l.SeqNum) + @MaxExtID AS [ID]
		FROM dbo.tblApTransHeader h INNER JOIN dbo.tblApTransDetail d on h.TransId = d.TransId 
			INNER JOIN dbo.tblApTransLot l ON d.TransID = l.TransId AND d.EntryNum = l.EntryNum
			INNER JOIN dbo.tblInItem i ON d.PartId = i.ItemId
			INNER JOIN dbo.tblInQtyOnHand q ON l.QtySeqNum = q.SeqNum 
			LEFT JOIN dbo.tblInQtyOnHand_Ext e ON l.QtySeqNum_Ext = e.ExtSeqNum
		WHERE h.TransType > 0 AND i.ItemType = 1 AND i.LottedYN = 1 AND e.ExtSeqNum IS NULL --Invoice, regular lotted, no link to tblQtyOnHand_Ext record
		SET IDENTITY_INSERT dbo.tblInQtyOnHand_Ext OFF

		UPDATE dbo.tblApTransLot SET QtySeqNum_Ext = q.ExtSeqNum, QuantityExtID = q.[ID]
		FROM dbo.tblApTransLot l INNER JOIN #tmpApTransLotQtyExt q ON l.SeqNum = q.SeqNum

	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AP_Transactions_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AP_Transactions_proc'
GO
