USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_InvoiceHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_InvoiceHistory_proc]
AS
BEGIN TRY
DECLARE @PrecCurr smallint, @CompId nvarchar(3),@InHsVendor nvarchar(10),@PoJcYn bit,@PostRun nvarchar(14)
DECLARE @TransTypePOInvoice nvarchar(10)
DECLARE  @BaseCurrency [nvarchar](6)
--Retrieve global values
SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
SELECT @PoJcYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PoJcYn'
SELECT @InHsVendor = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'InHsVendor'
SELECT @TransTypePOInvoice = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOInvoice' --POINVOICE
SELECT @BaseCurrency = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'

IF @PrecCurr IS NULL OR @CompId IS NULL OR @PostRun IS NULL 
	OR @PoJcYn IS NULL
BEGIN
	THROW 90025, N'Missing global value.', 1
END
SET @InHsVendor = ISNULL(@InHsVendor,'')

SELECT T .TransId, T .InvcNum
	, MIN(CASE WHEN taxlevel = 1 THEN l.taxlocid ELSE NULL END) taxloc1
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 1 THEN T.CurrTaxAmt ELSE 0 END)) taxamt1
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 1 THEN T.CurrTaxAmtFgn ELSE 0 END)) taxamt1fgn
	, MIN(CASE WHEN taxlevel = 2 THEN l.taxlocid ELSE NULL END) taxloc2
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 2 THEN T.CurrTaxAmt ELSE 0 END)) taxamt2
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 2 THEN T.CurrTaxAmtFgn ELSE 0 END)) taxamt2Fgn
	, MIN(CASE WHEN taxlevel = 3 THEN l.taxlocid ELSE NULL END) taxloc3
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 3 THEN T.CurrTaxAmt ELSE 0 END)) taxamt3
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 3 THEN T.CurrTaxAmtFgn ELSE 0 END)) taxamt3Fgn
	, MIN(CASE WHEN taxlevel = 4 THEN l.taxlocid ELSE NULL END) taxloc4
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 4 THEN T.CurrTaxAmt ELSE 0 END)) taxamt4
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 4 THEN T.CurrTaxAmtFgn ELSE 0 END)) taxamt4Fgn
	, MIN(CASE WHEN taxlevel = 5 THEN l.taxlocid ELSE NULL END) taxloc5
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 5 THEN T.CurrTaxAmt ELSE 0 END)) taxamt5
	, SUM(CONVERT(decimal(28, 10), CASE WHEN taxlevel = 5 THEN T.CurrTaxAmtFgn ELSE 0 END)) taxamt5Fgn 
INTO #tmpTaxCross 
FROM #PostTransList s INNER JOIN dbo.tblPoTransHeader h ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransInvoiceTot v ON h.TransID = v.TransId 
	INNER JOIN dbo.tblPoTransInvoiceTax t ON v.TransId = t.TransId AND v.InvcNum = t.InvcNum 
	INNER JOIN dbo.tblSmTaxLoc l ON t.TaxLocID = l.TaxLocId 
	LEFT JOIN (SELECT TransID, InvoiceNum FROM dbo.tblPoTransInvoice WHERE [Status] = 0 GROUP BY TransID, InvoiceNum) i
		 ON t.TransId = i.TransID AND t.InvcNum = i.InvoiceNum 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (v.CurrSalesTaxfgn != 0 OR  v.CurrFreightfgn != 0 OR  v.CurrMiscfgn != 0 OR  v.CurrTaxAdjAmtfgn <> 0 OR v.CurrPrepaidFgn <> 0 OR i.TransID IS NOT NULL)
GROUP BY T .transid, T .Invcnum

UPDATE #tmpTaxCross SET taxamt1 = ROUND(taxamt1, @PrecCurr)
	, taxamt2 = ROUND(taxamt2, @PrecCurr)
	, taxamt3 = ROUND(taxamt3, @PrecCurr)
	, taxamt4 = ROUND(taxamt4, @PrecCurr)
	, taxamt5 = ROUND(taxamt5, @PrecCurr)
	, taxamt1fgn = ROUND(taxamt1fgn, @PrecCurr)
	, taxamt2fgn = ROUND(taxamt2fgn, @PrecCurr)
	, taxamt3fgn = ROUND(taxamt3fgn, @PrecCurr)
	, taxamt4fgn = ROUND(taxamt4fgn, @PrecCurr)
	, taxamt5fgn = ROUND(taxamt5fgn, @PrecCurr)
 
-- DETAIL HISTORY RECORDS (tblApHistHeader / tblApHistDetail)
INSERT INTO dbo.tblApHistHeader (PostRun, TransId, InvoiceNum, WhseId, VendorID, CurrencyId, ExchRate, PmtCurrencyId, PmtExchRate
	, PONum, TaxGrpID, TaxableYn, DistCode, TermsCode, Notes, InvoiceDate, TransType, Subtotal
	, Taxable, Taxablefgn, NonTaxable,  NonTaxablefgn, SalesTax, Freight, Misc, CashDisc, PrepaidAmt
	, SubtotalFgn, SalesTaxFgn, FreightFgn, MiscFgn, CashDiscFgn, PrepaidAmtFgn, CheckNum, CheckDate
	, PmtAmt1, PmtAmt1Fgn, PmtAmt2, PmtAmt2Fgn, PmtAmt3, PmtAmt3Fgn
	, DueDate1, DueDate2, DueDate3, TaxClassFreight, TaxClassMisc, TaxAdjClass, TaxAdjLocID, TaxAdjAmt, TaxAdjAmtFgn
	, GLPeriod, FiscalYear, Ten99InvoiceYN, Source, TaxLocID1, TaxAmt1, TaxAmt1Fgn
	, TaxLocID2, TaxAmt2, TaxAmt2Fgn, TaxLocID3, TaxAmt3, TaxAmt3Fgn, TaxLocID4, TaxAmt4, TaxAmt4Fgn
	, TaxLocID5, TaxAmt5, TaxAmt5Fgn, SumHistPeriod,GLAcctAP,GLAcctFreight,GLAcctTaxAdj,GLAcctMisc, DiscDueDate, CF, BatchId
	, ChkFiscalYear, ChkGlPeriod, BankID, [UID],TaxGrpID2) 
SELECT @PostRun, t.TransId, t.InvcNum, h.LocId, h.VendorId, h.CurrencyID, t.InvoiceExchRate, t.PmtCurrencyId, t.PmtExchRate
	, h.TransId, h.TaxGrpID, h.TaxableYn, h.DistCode, h.TermsCode, h.Notes, t.InvcDate, SIGN(TransType)
	, CurrTaxable + CurrNonTaxable, t.CurrTaxable, t.CurrTaxablefgn, t.CurrNonTaxable,  t.CurrNonTaxablefgn
	, CurrSalesTax, t.CurrFreight, t.CurrMisc, t.CurrDisc, t.CurrPrepaid, CurrTaxableFgn + CurrNonTaxableFgn
	, CurrSalesTaxFgn, t.CurrFreightFgn, t.CurrMiscFgn, t.CurrDiscFgn, t.CurrPrepaidFgn
	, t.CurrCheckNo, t.CurrCheckDate, t.CurrPmtAmt1, t.CurrPmtAmt1Fgn, t.CurrPmtAmt2, t.CurrPmtAmt2Fgn
	, t.CurrPmtAmt3, t.CurrPmtAmt3Fgn, t.CurrDueDate1, t.CurrDueDate2, t.CurrDueDate3
	, t.CurrTaxClassFreight, t.CurrTaxClassMisc, t.CurrTaxAdjClass, t.CurrTaxAdjLocID, t.CurrTaxAdjAmt, t.CurrTaxAdjAmtFgn
	, t.GLPeriod, t.FiscalYear, t.Ten99InvoiceYN, 1, x.taxloc1, x.taxamt1, x.taxamt1fgn
	, x.taxloc2, x.taxamt2, x.taxamt2fgn, x.taxloc3, x.taxamt3, x.taxamt3fgn
	, x.taxloc4, x.taxamt4, x.taxamt4fgn, x.taxloc5, x.taxamt5, x.taxamt5fgn,t.GLPeriod
	,c.PayablesGLAcct, c.FreightGLAcct, td.ExpenseAcct , c.MiscGLAcct,t.DiscDueDate, h.CF, h.BatchId
	, t.CurrChkFiscalYear, t.CurrChkGlPeriod, t.CurrBankID, t.ID, h.TaxGrpID2
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId 
	INNER JOIN #tmpTaxCross x ON t.TransID = x.TransID AND t.InvcNum = x.InvcNum
	INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode 
	LEFT JOIN dbo.tblSmTaxLocDetail td ON t.CurrTaxAdjLocID=td.TaxLocID AND t.CurrTaxAdjClass=td.TaxClassCode 
	LEFT JOIN (SELECT TransID, InvoiceNum FROM dbo.tblPoTransInvoice WHERE [Status] = 0 GROUP BY TransID, InvoiceNum) i 
		ON t.TransId = i.TransID AND t.InvcNum = i.InvoiceNum
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (t.CurrSalesTaxfgn != 0 OR  t.CurrFreightfgn != 0 OR  t.CurrMiscfgn != 0 OR  t.CurrTaxAdjAmtfgn != 0 OR t.CurrPrepaidFgn <> 0 OR i.TransID IS NOT NULL)

--Sales Tax (-1)
INSERT INTO dbo.tblApHistDetail (PostRun, TransID, InvoiceNum
	, EntryNum, LineSeq, WhseId, PartType, TaxClass
	, ConversionFactor, Qty, QtyBase, UnitCost, ExtCost, UnitCostFgn, ExtCostFgn)
SELECT @PostRun, t.TransId, t.InvcNum
	, -1, 0, LocId, 0, 0
	, 1, 1, 1, CurrSalesTax + CurrTaxAdjAmt, CurrSalesTax + CurrTaxAdjAmt
	, CurrSalesTaxFgn + CurrTaxAdjAmtFgn, CurrSalesTaxFgn + CurrTaxAdjAmtFgn
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId 
	INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND ((CurrSalesTax + CurrTaxAdjAmt) <> 0 OR (CurrSalesTaxFgn + CurrTaxAdjAmtFgn) <> 0)

--Freight (-2)
INSERT INTO dbo.tblApHistDetail (PostRun, TransID, InvoiceNum
	, EntryNum, LineSeq, WhseId, PartType, TaxClass, GLAcct
	, ConversionFactor, Qty, QtyBase, UnitCost, ExtCost, UnitCostFgn, ExtCostFgn)
SELECT @PostRun, t.TransId, t.InvcNum
	, -2, 0, LocId, 0, CurrTaxClassFreight, c.FreightGLAcct
	, 1, 1, 1, CurrFreight, CurrFreight, CurrFreightFgn, CurrFreightFgn
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId 
	INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (CurrFreight <> 0 OR CurrFreightFgn <> 0)

--Misc (-3)
INSERT INTO dbo.tblApHistDetail (PostRun, TransID, InvoiceNum
	, EntryNum, LineSeq, WhseId, PartType, TaxClass, GLAcct
	, ConversionFactor, Qty, QtyBase, UnitCost, ExtCost, UnitCostFgn, ExtCostFgn)
SELECT @PostRun, t.TransId, t.InvcNum
	, -3, 0, LocId, 0, CurrTaxClassMisc, c.MiscGLAcct
	, 1, 1, 1, CurrMisc, CurrMisc, CurrMiscFgn, CurrMiscFgn
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId 
	INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (CurrMisc <> 0 OR CurrMiscFgn <> 0)


INSERT INTO dbo.tblApHistDetail (PostRun, TransID, InvoiceNum, EntryNum, HistSeqNum, PartID, PartType, [Desc], GLAcct
	, Qty, QtyBase, Units, UnitsBase, UnitCost, ExtCost, UnitCostFgn, ExtCostFgn, GLDesc, AddnlDesc
	, WhseID, ConversionFactor, BinNum, TaxClass, LottedYN, InItemYN, TransHistId, CustomerID
	, JobId, ProjName, PhaseId, PhaseName, TaskId, TaskName, UnitInc, ExtInc, ProjItemYn, GLAcctSales, GLAcctWIP, CF, VendorPartNumber) 
SELECT @PostRun, v.TransID, v.InvoiceNum, v.EntryNum, v.HistSeqNum, d.ItemId, d.ItemType, d.Descr, d.GLAcct
	, v.Qty, v.Qty * ConversionFactor, d.Units, d.UnitsBase, v.UnitCost, v.ExtCost, v.UnitCostFgn, v.ExtCostFgn, d.GLDesc, d.AddnlDescr
	, d.LocId, d.ConversionFactor, d.BinNum, d.TaxClass, d.LottedYN, d.InItemYN, v.TransHistID, j.CustId, 
	j.ProjectName, j.[Description], pd.PhaseId, ps.[Description], pd.TaskId, CASE WHEN pd.TaskId IS NULL THEN NULL ELSE pd.[Description] END, 
	d.UnitInc, d.ExtInc, d.ProjItemYn, d.GLAcctSales, d.GLAcctWIP, d.CF, d.VendorPartNumber 
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s .TransId = h.TransID
	INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransID 
	INNER JOIN dbo.tblPoTransInvoice v ON d.EntryNum = v.EntryNum AND d.TransID = v.TransID 
	LEFT JOIN dbo.tblPcProjectDetail pd ON d.ProjectDetailId = pd.Id 
	LEFT JOIN dbo.trav_PcProject_view j ON pd.ProjectId = j.Id
	LEFT JOIN dbo.tblPcPhase ps ON d.PhaseId = ps.PhaseId
	LEFT JOIN dbo.tblPcActivity a ON d.ActivityId = a.Id
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND  v.Status = 0

-- insert PostRun into tblApHistRecur 
UPDATE dbo.tblApHistRecur SET PostRun = @PostRun 
FROM dbo.tblApHistRecur 
	INNER JOIN #PostTransList i ON dbo.tblApHistRecur.TransID = i.TransID 
WHERE dbo.tblApHistRecur.Source = 1 AND PostRun IS NULL

INSERT INTO dbo.tblApHistInvoiceTax (PostRun, TransId, InvcNum, TaxLocID, TaxClass, ExpAcct
	, TaxAmt, Refundable, Taxable, NonTaxable, TaxAmtFgn, RefundableFgn, TaxableFgn, NonTaxableFgn, CF) 
SELECT @PostRun, v.TransId, v.InvcNum, v.TaxLocID, v.TaxClass, v.ExpAcct, v.CurrTaxAmt, v.CurrRefundable
	, v.CurrTaxable, v.CurrNonTaxable, v.CurrTaxAmtFgn, v.CurrRefundableFgn, v.CurrTaxableFgn, v.CurrNonTaxableFgn, v.CF 
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList i ON i .TransId = h.TransID
	 INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransID = t.TransId
	INNER JOIN dbo.tblPoTransInvoiceTax v ON t.InvcNum = v.InvcNum AND t.TransId = v.TransId 
	LEFT JOIN (SELECT TransID, InvoiceNum FROM dbo.tblPoTransInvoice WHERE [Status] = 0 GROUP BY TransID, InvoiceNum) c 
		ON t.TransId = c.TransID AND t.InvcNum = c.InvoiceNum
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (t.CurrSalesTaxfgn != 0 OR  t.CurrFreightfgn != 0 OR  t.CurrMiscfgn != 0 OR  t.CurrTaxAdjAmtfgn != 0 OR t.CurrPrepaidFgn <> 0 OR c.TransID IS NOT NULL)

--todo, SeqNum
INSERT INTO dbo.tblApHistLot (PostRun, TransId, InvoiceNum, EntryNum, SeqNum, LotNum
	, QtyFilled, CostUnit, CostUnitFgn, HistSeqNum, Cmnt, CF) 
SELECT @PostRun, v.TransId, v.InvoiceNum, v.EntryNum, LEFT(l.ReceiptId,15), l.LotNum
	, r.Qty, v.UnitCost, v.UnitCostFgn, v.HistSeqNum, l.LotCmnt, l.CF 
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList s ON s .TransId = h.TransID 
	INNER JOIN	dbo.tblPoTransInvoice v ON h.TransID = v.TransId 
	INNER JOIN dbo.tblPoTransInvc_Rcpt r on v.InvoiceID = r.InvoiceID
	INNER JOIN dbo.tblPoTransLotRcpt l on l.ReceiptID = r.ReceiptID 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND v.Status = 0 AND l.LotNum IS NOT NULL

INSERT INTO dbo.tblApHistSer (PostRun, TransId, InvoiceNum, EntryNum, SeqNum
	, LotNum, SerNum, Cmnt, CostUnit, CostUnitFgn, HistSeqNum, CF) 
SELECT @PostRun, s.TransId, s.InvcNum, s.EntryNum, s.RcptNum
	, s.LotNum, s.SerNum, s.SerCmnt, s.InvcUnitCost, s.InvcUnitCostFgn, s.SerHistSeqNum, s.CF 
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList i ON i .TransId = h.TransID
	 INNER JOIN dbo.tblPoTransSer s ON h.TransID = s.TransId 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND s.InvcNum Is Not Null AND s.InvcStatus = 0 

-- Update tblSmTaxLocTrans with tax amounts TaxLoc changes

CREATE TABLE #TaxLocTrans
	(
	TaxLocId [nvarchar](10) NULL, TaxClassCode tinyint NULL, PostRun [nvarchar](14) NULL
	, SourceCode NVarchar(2) NULL, LinkID NVarchar (255) NULL, LinkIDSub NVarChar (255)NULL
	, LinkIDSubLine INT NULL, TransDate DATETIME NULL, GLPeriod SMALLINT NULL
	, FiscalYear SMALLINT NULL, TaxPurch [decimal](28,10) NULL, NonTaxPurch [decimal](28,10) NULL
	, TaxCalcPurch [decimal](28,10) NULL, TaxPaid [decimal](28,10) NULL, TaxRefund [decimal](28,10) NULL,CurrencyID [nvarchar](6) NULL, TaxGroupType tinyint NULL
	)
	
INSERT #TaxLocTrans (TaxLocId, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine, TransDate, 																									
	GLPeriod, FiscalYear, TaxPurch, NonTaxPurch, TaxCalcPurch, TaxPaid, TaxRefund, CurrencyID,TaxGroupType )
	Select i.TaxLocID, i.TaxClass
		, @PostRun, 'PO', i.TransID, NULL, NULL
		, h.TransDate, t.GLPeriod, t.FiscalYear	
		,SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN i.CurrTaxableFgn
									   ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN i.CurrTaxable
											ELSE  ROUND(et.Rate * i.CurrTaxableFgn,et.CurrDecPlaces)
									   END END)
		,SUM( SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN i.CurrNonTaxableFgn
									   ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN i.CurrNonTaxable
											ELSE ROUND(et.Rate * i.CurrNonTaxableFgn,et.CurrDecPlaces) 
									   END END)		
		
		,SUM( SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN i.CurrTaxAmtFgn
									   ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN i.CurrTaxAmt
											ELSE ROUND(et.Rate * i.CurrTaxAmtFgn,et.CurrDecPlaces) 
									   END END)	
		,SUM(CASE WHEN i.TaxGroupType=1 THEN 0 ELSE  SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN i.CurrTaxAmtFgn
									   ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN i.CurrTaxAmt
											ELSE ROUND(et.Rate * i.CurrTaxAmtFgn,et.CurrDecPlaces) 
									   END END END)	
		,SUM( SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN i.CurrRefundableFgn
									   ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN i.CurrRefundable
											ELSE ROUND(et.Rate * i.CurrRefundableFgn,et.CurrDecPlaces)
									   END END)
		, tl.CurrencyID, i.TaxGroupType
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId
INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransID = t.TransId 
INNER JOIN dbo.tblPoTransInvoiceTax i ON t.TransId = i.TransId AND t.InvcNum = i.InvcNum
LEFT JOIN tblSmTaxLoc tl ON i.TaxLocID = tl.TaxLocId
LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypePOInvoice) et
	ON  et.[Source] =h.CurrencyID  AND et.Destination= tl.CurrencyID AND et.TransKey= CAST(t.ID AS nvarchar(255))
LEFT JOIN (SELECT TransID, InvoiceNum FROM dbo.tblPoTransInvoice WHERE [Status] = 0 GROUP BY TransID, InvoiceNum) s
		 ON t.TransId = s.TransID AND t.InvcNum = s.InvoiceNum 
WHERE (@PoJcYn = 0 OR h.VendorId <> @InHsVendor) AND (t.CurrSalesTaxfgn != 0 OR  t.CurrFreightfgn != 0 OR  t.CurrMiscfgn != 0 OR  t.CurrTaxAdjAmtfgn <> 0 OR t.CurrPrepaidFgn <> 0 OR i.TransID IS NOT NULL)
GROUP BY i.TransID, i.TaxLocID, i.TaxClass,	h.TransDate, t.GLPeriod, t.FiscalYear,tl.CurrencyID,  i.TaxGroupType
	
INSERT #TaxLocTrans (TaxLocId, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine, TransDate, 																									
	GLPeriod, FiscalYear, TaxPurch, NonTaxPurch, TaxCalcPurch, TaxPaid, TaxRefund, CurrencyID,TaxGroupType)
	SELECT  t.CurrTaxAdjLocID, t.CurrTaxAdjClass, @PostRun, 'PO', h.TransId, NULL, NULL	, h.TransDate,
	t.GLPeriod, t.FiscalYear, 0, 0, 0
	,SUM(SIGN(h.TransType)* CASE WHEN tl.CurrencyID=h.CurrencyID THEN t.CurrTaxAdjAmtFgn
							ELSE CASE WHEN tl.CurrencyID=@BaseCurrency THEN t.CurrTaxAdjAmt
								 ELSE ROUND(et.Rate * t.CurrTaxAdjAmtFgn,et.CurrDecPlaces) 
						    END END)
	,0, tl.CurrencyID, 0 AS TaxGroupType
FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList l ON h.TransId = l.TransId
INNER JOIN dbo.tblPoTransInvoiceTot t ON h.TransId = t.TransId 
LEFT JOIN tblSmTaxLoc tl ON t.CurrTaxAdjLocID = tl.TaxLocId
LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
					INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypePOInvoice) et
	ON  et.[Source] =h.CurrencyID  AND et.Destination= tl.CurrencyID AND et.TransKey= CAST(t.ID AS nvarchar(255))
WHERE  (@PoJcYn = 0 OR h.VendorID <> @InHsVendor) AND t.CurrTaxAdjAmt <> 0 
GROUP BY h.TransID, t.CurrTaxAdjLocID, t.CurrTaxAdjClass, h.TransDate, t.GLPeriod, t.FiscalYear,tl.CurrencyID	
	
-- Raise Invalid Exchange rate exception
IF EXISTS( SELECT TaxLocId FROM #TaxLocTrans WHERE TaxPaid IS NULL)
BEGIN
	THROW 90027, N'Invalid exchange information.', 1
END
		
INSERT dbo.tblSmTaxLocTrans
	(TaxLocId, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine, TransDate, GLPeriod, FiscalYear
	, TaxSales, NonTaxSales, TaxCollect, TaxPurch, NonTaxPurch,	TaxCalcPurch, TaxPaid, TaxRefund, CurrencyID,TaxGroupType)
	
SELECT TaxLocId, TaxClassCode, PostRun, SourceCode, LinkID, LinkIDSub, LinkIDSubLine, TransDate,GLPeriod, FiscalYear
		, 0, 0, 0, TaxPurch, NonTaxPurch,TaxCalcPurch, TaxPaid, TaxRefund, CurrencyID, TaxGroupType
FROM #TaxLocTrans
	

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_InvoiceHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_InvoiceHistory_proc'
GO
