USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcAsn_Validate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcAsn_Validate_proc]     
AS
SET NOCOUNT ON  
BEGIN TRY 
	CREATE TABLE #InvalidList(PostRun varchar(14), KeyVal varchar(75), DocID bigint)

	--Build invalid list
	INSERT INTO #InvalidList (PostRun, KeyVal, DocID)
	SELECT l.PostRun, l.KeyVal, l.DocID
	FROM #tblList l INNER JOIN dbo.tblEcComm c ON l.PostRun = c.PostRun AND l.KeyVal = c.DocKey AND l.DocID = c.DocID
		INNER JOIN (SELECT s.PartnerID, s.Custid,s.ID as ShipmentID,s.shipviacode,h.AsnNumber,MIN(h.TransId)TransId, 0 IsDeleteYn,CustPoNum,s.ShiptoId
				FROM dbo.tblEcPackHeader h
				INNER JOIN dbo.tblEcPackShipment s ON h.ShipmentId=s.ID
				GROUP BY s.PartnerID,s.Custid,s.ID,s.shipviacode,AsnNumber,CustPoNum,s.ShiptoId) h ON c.DocKey=h.TransID
		INNER JOIN dbo.tblEcPartner p ON p.ID = h.PartnerId
		INNER JOIN dbo.tblSoTransHeader t ON h.TransId = t.TransId 
		LEFT JOIN (SELECT p.ID AS PartnerID, d.DefaultValue AS OptValue
			FROM dbo.tblEcPartner p LEFT JOIN dbo.tblSmUserDefaultValue d ON p.PartnerId = d.ContextId
			WHERE d.DefaultId = '079C4516-1511-4E4A-96F1-6AC519E58590' AND d.ContextType = 7) o ON h.PartnerID = o.PartnerID --Require Invoice Number
	WHERE ISNULL(o.OptValue,'0') = '1' AND ISNULL(t.InvcNum,'') = ''

	--Remove invalid records from process list
	DELETE #tblList
	FROM #tblList t INNER JOIN #InvalidList l ON t.PostRun = l.PostRun AND t.KeyVal = l.KeyVal AND t.DocID = l.DocID

	SELECT KeyVal AS TransId FROM #InvalidList

   END TRY          
BEGIN CATCH          
    EXEC dbo.trav_RaiseError_proc          
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAsn_Validate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcAsn_Validate_proc'
GO
