USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArUnRealizedGainsAndLossesCalcDetail_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArUnRealizedGainsAndLossesCalcDetail_proc]
@FiscalYear Smallint,  
@GlPeriod Smallint,  
@BaseCurrency pCurrency,  
@BaseCurrencyPrecision Tinyint,
@TransType   NVarchar(10) 
AS  
SET NOCOUNT ON   
   
BEGIN TRY  
	
	EXEC [dbo].trav_ArUnRealizedGainsAndLossesCalc_proc @FiscalYear, @GlPeriod, @BaseCurrency, @BaseCurrencyPrecision, @TransType 

	update #tmpArUnRealGainLoss 
	SET AcctGainLoss= CASE WHEN g.GainLossBase >0 THEN  c.GlAcctUnrealGain ELSE c.GlAcctUnrealLoss END 
	FROM #tmpArUnRealGainLoss g
	INNER JOIN #tmpCurrencyList c ON g.ArCurrency = c.CurrencyId 

	-- offset amount (signs of amounts match or amounts are zero) 
	INSERT INTO #DetailEntries   ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn]	, [CreditAmountFgn]		 
		, [AmountFgn], [CurrencyId]
		)
	SELECT  g.AcctReceivables 
		, CASE WHEN g.GainLossBase < 0 THEN 0
			   WHEN g.GainLossBase > 0 THEN g.GainLossBase ELSE 0 END 
		, CASE WHEN g.GainLossBase > 0 THEN 0 
			   WHEN g.GainLossBase < 0 THEN ABS(g.GainLossBase) ELSE 0 END		
		, CASE WHEN g.GainLossAR < 0 THEN 0
			   WHEN g.GainLossAR > 0 THEN g.GainLossAR ELSE 0 END 
		, CASE WHEN g.GainLossAR > 0 THEN 0 
			   WHEN g.GainLossAR < 0 THEN ABS(g.GainLossAR) ELSE 0 END		
		, g.GainLossAR,g.ArCurrency
	FROM #tmpArUnRealGainLoss g
	WHERE (g.GainLossAR >= 0 and g.GainLossBase >= 0) OR (g.GainLossAR <= 0 and g.GainLossBase <= 0)

	-- offset amount (functional currency amount when signs of amounts do not match) entry 1

	INSERT INTO #DetailEntries ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn], [CreditAmountFgn]		 
									, [AmountFgn], [CurrencyId]	)

	SELECT  g.AcctReceivables 
		, CASE WHEN g.GainLossBase < 0 THEN 0 ELSE g.GainLossBase END
		, CASE WHEN g.GainLossBase < 0 THEN ABS(g.GainLossBase) ELSE 0 END		
		, 0	, 0	, 0, g.ArCurrency
	FROM #tmpArUnRealGainLoss g
	WHERE (g.GainLossAR > 0 and g.GainLossBase < 0) OR (g.GainLossAR < 0 and g.GainLossBase > 0)

	-- offset amount (account currency amount when signs of amount do not match) entry 2

	INSERT INTO #DetailEntries ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn], [CreditAmountFgn]		 
									, [AmountFgn], [CurrencyId]	)
	SELECT  g.AcctReceivables 
		, 0	, 0
		, CASE WHEN g.GainLossAR < 0 THEN 0
			   WHEN g.GainLossAR > 0 THEN g.GainLossAR ELSE 0 END 
		, CASE WHEN g.GainLossAR > 0 THEN 0 
			   WHEN g.GainLossAR < 0 THEN ABS(g.GainLossAR) ELSE 0 END		
		, g.GainLossAR, g.ArCurrency
	FROM #tmpArUnRealGainLoss g
	WHERE (g.GainLossAR > 0 and g.GainLossBase < 0) OR (g.GainLossAR < 0 and g.GainLossBase > 0)

	-- gainloss amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn], [CreditAmountFgn]		 
									, [AmountFgn], [CurrencyId]	)
	SELECT g.AcctGainLoss
		, CASE WHEN g.GainLossBase > 0 THEN 0
			   WHEN g.GainLossBase < 0 THEN ABS(g.GainLossBase) ELSE 0 END 
		, CASE WHEN g.GainLossBase < 0 THEN 0
			   WHEN g.GainLossBase > 0 THEN g.GainLossBase ELSE 0 END 

		, CASE WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END > 0 THEN 0
			   WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END < 0 
					THEN ABS(CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END) ELSE 0 END 
		, CASE WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END < 0 THEN 0
			   WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END> 0 
					THEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END ELSE 0 END 

		, CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END, h.CurrencyID
	FROM #tmpArUnRealGainLoss g
	LEFT JOIN tblGlAcctHdr h ON g.AcctGainLoss= h.AcctId
	WHERE (g.GainLossAR >= 0 and g.GainLossBase >= 0) OR (g.GainLossAR <= 0 and g.GainLossBase <= 0)

	-- gainloss amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn], [CreditAmountFgn]		 
									, [AmountFgn], [CurrencyId]	)
	SELECT g.AcctGainLoss
		
		, CASE WHEN g.GainLossBase < 0 THEN ABS(g.GainLossBase) ELSE 0 END
		, CASE WHEN g.GainLossBase < 0 THEN 0 ELSE g.GainLossBase END		
		, 0
		, 0
		, 0,h.CurrencyID
	FROM #tmpArUnRealGainLoss g
	LEFT JOIN tblGlAcctHdr h ON g.AcctGainLoss= h.AcctId
	WHERE (g.GainLossAR > 0 and g.GainLossBase < 0) OR (g.GainLossAR < 0 and g.GainLossBase > 0)


		-- gainloss amount (account currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries ( [GlAccount], [DebitAmount], [CreditAmount], [DebitAmountFgn], [CreditAmountFgn]		 
									, [AmountFgn], [CurrencyId]	)
	SELECT g.AcctGainLoss
		, 0	, 0
		, CASE WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END > 0 THEN 0
			   WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END < 0 
			   THEN ABS(CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END) ELSE 0 END 
		, CASE WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END < 0 THEN 0
			   WHEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END > 0 
			   THEN CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END ELSE 0 END 
		, CASE WHEN h.CurrencyID = @BaseCurrency THEN g.GainLossBase ELSE g.GainLossAR END , h.CurrencyID
	FROM #tmpArUnRealGainLoss g
	LEFT JOIN tblGlAcctHdr h ON g.AcctGainLoss= h.AcctId
	WHERE (g.GainLossAR > 0 and g.GainLossBase < 0) OR (g.GainLossAR < 0 and g.GainLossBase > 0)

END TRY  
BEGIN CATCH  
 EXEC dbo.trav_RaiseError_proc  
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUnRealizedGainsAndLossesCalcDetail_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUnRealizedGainsAndLossesCalcDetail_proc'
GO
