USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTransPost_InHistory_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTransPost_InHistory_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	--identify the history entries to be updated as a result of the transactions being processed
	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId)
	SELECT m.HistoryID, m.GlYear, m.GLPeriod, m.TransDate, m.BatchId
	FROM #PostTransList t INNER JOIN dbo.tblWmTrans m ON t.TransId = m.TransId
	WHERE m.HistoryID > 0


	EXEC dbo.trav_InUpdateHistory_proc

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_InHistory_proc'
GO
