USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmPrintPackingSlipsGeneric_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmPrintPackingSlipsGeneric_proc]
@PrintAdditionalDescription bit = 0, --set for printing additional descriptions
@PrintKitDetail bit = 1 --option to include kit detail
AS
SET NOCOUNT ON
BEGIN TRY

-- HEADER
	SELECT  DISTINCT  p.TransId,p.PackNum,ds.CustId,ds.Attn,ds.Contact,ds.CustName,ds.Addr1,ds.Addr2,ds.City,ds.Region,ds.Country,ds.PostalCode,ds.Phone,ds.Fax,ds.Email,ds.Internet
       ,ds.ShipToID,ds.ShipToName,ds.ShipToAddr1,ds.ShipToAddr2,ds.ShipToCity,ds.ShipToCountry,ds.ShipToRegion,ds.ShipToPostalCode,ds.ShipVia
	   ,ds.OrderDate,ds.ShipToAttn,ds.Rep1Id,ds.Rep2Id,ds.BatchId,ds.LocationId,ds.RequestedShipDate,ds.ShipDate, p.PackNum [PackingListNo],ISNULL(ds.TransId, '') + ISNULL(ds.LocationId, '')+ ISNULL(CONVERT(nvarchar, p.PackNum), '')+ ISNULL(CONVERT(nvarchar, ds.BatchId), '') + ISNULL(CONVERT(nvarchar, CONVERT(varchar, ds.OrderDate, 112)), '')  AS TransLocationPickKey
	   ,ds.BillCustId,ds.BillCustName,ds.BillAddr1,ds.BillAddr2,ds.BillCity,ds.BillRegion,ds.BillCountry,ds.BillPostalCode,ds.BillIntlPrefix,ds.BillAttn,ds.BillContact,ds.BillPhone,ds.BillFax,ds.BillEmail,ds.BillInternet
	   ,p.SourceId, ds.CustomerPoNo
FROM #tmpPick p
OUTER APPLY
(
	SELECT   h.TransId, c.CustId, c.Attn, c.Contact, c.CustName, c.Addr1, c.Addr2, c.City, c.Region
			, c.Country, c.PostalCode, c.Phone, c.Fax, c.Email, c.Internet
			, h.ShipToID, h.ShipToName, h.ShipToAddr1
			, h.ShipToAddr2, h.ShipToCity, h.ShipToCountry, h.ShipToRegion, h.ShipToPostalCode, h.ShipVia
			, CASE WHEN CustPONum IS NULL THEN h.TransDate ELSE h.PODate END AS OrderDate
			, h.ShipToAttn,h.Rep1Id, h.Rep2Id, h.BatchId,d.LocId AS LocationId
			, h.ReqShipDate AS [RequestedShipDate], h.ActShipDate AS ShipDate
			, b.CustId AS BillCustId, b.CustName AS BillCustName, b.Addr1 AS BillAddr1, b.Addr2 AS BillAddr2, b.City AS BillCity
		    , b.Region AS BillRegion, b.Country AS BillCountry, b.PostalCode AS BillPostalCode
		    , b.IntlPrefix BillIntlPrefix, b.Attn AS BillAttn, b.Contact AS BillContact, b.Phone AS BillPhone, b.Fax AS BillFax
		    , b.Email AS BillEmail, b.Internet AS BillInternet
			, p.SourceId, h.CustPONum AS CustomerPoNo		
	FROM dbo.tblSoTransHeader h
	INNER JOIN 
	(
		SELECT d.TransId, d.LocId 
		FROM dbo.tblSoTransDetail d
		INNER JOIN #tmpPick P ON P.TransId = d.TransID AND P.EntryNum = d.EntryNum And P.SourceId = 0 And P.LocId = D.LocId
		GROUP BY d.TransId, d.LocId
	) d ON h.TransId = d.TransId 
	INNER JOIN dbo.tblArCust c ON h.SoldToId = c.CustId
	LEFT JOIN dbo.tblArCust b on h.CustId = b.CustId
	LEFT JOIN dbo.tblArShipTo Ship ON h.SoldToId = Ship.CustID AND h.ShipToID = Ship.ShipToID
	WHERE P.TransId = h.TransId AND P.SourceId = 0

	UNION ALL

	SELECT t.BatchID  AS TransId , NULL CustId, NULL Attn, NULL Contact, NULL CustName, NULL Addr1, NULL Addr2
			, NULL City, NULL Region, NULL Country, NULL PostalCode, NULL Phone, NULL Fax, NULL Email, NULL Internet  
			, l.LocId ShipToID, l.Descr ShipToName, l.Addr1 ShipToAddr1, l.Addr2 ShipToAddr2, l.City ShipToCity
			, l.Country ShipToCountry, l.Region ShipToRegion, l.PostalCode ShipToPostalCode,NULL ShipVia
			, TransDate AS OrderDate, NULL ShipToAttn, NULL Rep1Id, NULL Rep2Id, T.BatchId,t.LocId AS LocationId
			, NULL RequestedShipDate, NULL ShipDate
			, NULL BillCustId, NULL BillCustName, NULL BillAddr1, NULL AS BillAddr2, NULL BillCity
		    , NULL BillRegion, NULL BillCountry, NULL BillPostalCode
		    , NULL BillIntlPrefix, NULL BillAttn, NULL BillContact, NULL BillPhone, NULL BillFax
		    , NULL BillEmail, NULL BillInternet
			,p.SourceId, NULL AS CustomerPoNo 
	FROM tblWmTransfer t
	LEFT JOIN tblInLoc l ON l.LocId = t.LocIdTo
	WHERE p.SourceId = 4 AND t.TranKey = p.EntryNum

	UNION ALL

	SELECT    m.ReqNum AS TransId , NULL CustId, NULL Attn, NULL Contact, NULL CustName, NULL Addr1, NULL Addr2
			, NULL City, NULL Region, NULL Country, NULL PostalCode, NULL Phone, NULL Fax, NULL Email, NULL Internet  
			, l.LocId ShipToID, l.Descr ShipToName, l.Addr1 ShipToAddr1, l.Addr2 ShipToAddr2, l.City ShipToCity
			, l.Country ShipToCountry, l.Region ShipToRegion, l.PostalCode ShipToPostalCode,NULL ShipVia
			, m.DatePlaced AS OrderDate, NULL ShipToAttn, NULL Rep1Id, NULL Rep2Id, 'MATREQ' BatchId, d.LocId AS LocationId
			, NULL RequestedShipDate, NULL ShipDate
			, NULL BillCustId, NULL BillCustName, NULL BillAddr1, NULL AS BillAddr2, NULL BillCity
		    , NULL BillRegion, NULL BillCountry, NULL BillPostalCode
		    , NULL BillIntlPrefix, NULL BillAttn, NULL BillContact, NULL BillPhone, NULL BillFax
		    , NULL BillEmail, NULL BillInternet
			,p.SourceId, NULL AS CustomerPoNo 
	FROM tblWmMatReq m
	INNER JOIN 
	(
		SELECT d.TranKey, d.LocId 
		FROM dbo.tblWmMatReqRequest d
		INNER JOIN #tmpPick P ON P.TransId = 'MATREQ' AND P.EntryNum = d.TranKey AND P.SeqNum = d.LineNum AND P.SourceId = 8 AND P.LocId = d.LocId 
		GROUP BY d.TranKey, d.LocId
	) d ON m.TranKey = d.TranKey 
	LEFT JOIN tblInLoc l ON l.LocId=p.LocId
	WHERE p.SourceId = 8 AND m.TranKey = p.EntryNum

)ds

-- DETAIL
SELECT  DISTINCT p.TransId,p.PackNum,ds.ItemId,CASE WHEN p.SourceId=4 THEN p.EntryNum ELSE ds.EntryNum END AS EntryNum,ds.LocationId,ds.Description, CASE WHEN @PrintAdditionalDescription = 1 THEN ds.AddnlDescription ELSE NULL END AS AddnlDescription
,ds.QtyOrdered,ds.Units,ds.UnitPrice, ds.QtyShipped,ds.LottedYn,ds.ItemType,p.SourceId
, r.QtyPacked
,ds.OrderDate, ds.BatchId
,ds.GrpId
,ds.DtlLineSeq --for kit sorting only
,ds.SortLineSeq --for kit sorting only
,ds.KitSort --for kit sorting only
FROM #tmpPick p
OUTER APPLY
(
	SELECT   d.ItemId, d.EntryNum, d.LocId AS LocationId
			,d.[Descr] AS [Description], d.AddnlDescr AS AddnlDescription
			,d.QtyOrdSell AS QtyOrdered, d.UnitsSell AS Units, d.UnitPriceSellBasisFgn AS UnitPrice
			,d.TransId,d.LottedYn,d.ItemType
			,p.SourceId,d.QtyShipSell As QtyShipped
			,d.GrpId
			,d.LineSeq as DtlLineSeq --for kit sorting only
			,CASE WHEN d.GrpId IS NULL THEN d.LineSeq ELSE k.LineSeq END SortLineSeq --for kit sorting only
			,CASE WHEN d.GrpId IS NULL THEN '' ELSE 'C' END KitSort --kit components sort after the parent

			, CASE WHEN h.CustPONum IS NULL THEN h.TransDate ELSE h.PODate END AS OrderDate, h.BatchId
	FROM dbo.tblSoTransDetail d join dbo.tblSoTransHeader h on d.TransID = h.TransId
LEFT JOIN (SELECT TransId, EntryNum, LineSeq 
		FROM dbo.tblSoTransDetail 
		WHERE [Kit] = 1) k 
	ON d.TransID = k.TransID and d.GrpId = k.EntryNum --lookup the lineseq of the parent kit for component sorting
	WHERE p.SourceId = 0 and d.TransID = p.TransId AND d.EntryNum = p.EntryNum

	and (@PrintKitDetail = 1 OR d.GrpId IS NULL) 
	UNION ALL

	SELECT   t.ItemId, t.TranKey EntryNum, t.LocId AS LocationId
			,i.[Descr] AS [Description], ad.AddlDescr AS AddnlDescription
			, t.Qty AS QtyOrdered, t.UOM AS Units, NULL  AS UnitPrice
			,t.BatchID TransId,i.LottedYn,i.ItemType
			,p.SourceId,f.Qty As QtyShipped
			, NULL AS GrpId
			,p.EntryNum as DtlLineSeq --for sorting only
			,p.EntryNum SortLineSeq --for sorting only
			, '' KitSort --for sorting only
			,t.TransDate AS OrderDate,t.BatchID
	FROM tblWmTransfer t
	INNER JOIN tblWmTransferPick f on t.TranKey = f.TranKey
	LEFT JOIN tblInItem i ON i.ItemId= t.ItemId
	LEFT JOIN tblInItemAddlDescr ad ON ad.ItemId=i.ItemId
	LEFT JOIN tblInItemLoc l ON l.ItemId=i.ItemId
	WHERE p.SourceId = 4 AND t.TranKey = p.EntryNum

	UNION ALL

	SELECT  DISTINCT f.ItemId, f.LineNum EntryNum, f.LocId AS LocationId
			,i.[Descr] AS [Description], ad.AddlDescr AS AddnlDescription
			,f.Qty AS QtyOrdered, f.UOM AS Units, f.UnitCost  AS UnitPrice
			,m.ReqNum TransId, i.LottedYn,i.ItemType
			,p.SourceId,f.QtyFilled As QtyShipped
			, NULL AS GrpId
			,f.LineNum as DtlLineSeq --for sorting only
			,f.LineNum SortLineSeq--for sorting only
			, '' KitSort --for sorting only
			, m.DatePlaced AS OrderDate, 'MATREQ' as BatchId
	FROM tblWmMatReq m
	INNER JOIN tblWmMatReqRequest f ON f.TranKey=m.TranKey
	LEFT JOIN tblInItem i ON i.ItemId= f.ItemId
	LEFT JOIN tblInItemAddlDescr ad ON ad.ItemId=i.ItemId
	LEFT JOIN tblInItemLoc l ON l.ItemId=i.ItemId
	WHERE p.SourceId = 8 AND m.TranKey = p.EntryNum 

)ds
INNER JOIN (
		Select  w.TransId, CASE WHEN w.SourceId=8 THEN w.SeqNum ELSE w.EntryNum END EntryNum, SUM(w.QtyPicked) as QtyPacked, w.PackNumber 
		FROM (
			SELECT p.TransId, p.EntryNum, p.QtyPicked, p.PackNumber, p.SeqNum,p.SourceId From  tblWmPick p 
			WHERE p.PickKey IN (SELECT PickKey FROM #tmpPick)
		)w
		GROUP BY w.TransId, w.EntryNum, w.PackNumber,w.SourceId,w.SeqNum
)r ON p.TransId =r.TransId  and ISNULL(r.PackNumber, 0 )=ISNULL(p.PackNum, 0 ) and r.EntryNum=ds.EntryNum
--ORDER BY p.PackNum
	ORDER BY p.PackNum
		  , SortLineSeq
		  , KitSort		 
		  , ds.DtlLineSeq, CASE WHEN p.SourceId=4 THEN p.EntryNum ELSE ds.EntryNum END


-- LOT INFO 
SELECT DISTINCT p.PackNum, p.TransId, m.EntryNum, m.LotNum [LotNo], m.QtyPicked [Qty], p.SourceId
FROM #tmpPick p
INNER JOIN dbo.tblWmPick m ON m.PickKey = p.PickKey 
WHERE p.SourceId IN (0, 4, 8) AND m.LotNum is not null AND m.[Status] = 2 AND m.QtyPicked > 0
ORDER BY m.LotNum
		
-- SERIAL INFO
SELECT DISTINCT p.PackNum,ds.TransId, ds.EntryNum, ds.SeqNum,ds.LotNo, ds.SerNo, ds.UnitPrice, 1 AS Qty, p.SourceId
FROM #tmpPick p
OUTER APPLY
(
	SELECT p.TransId, w.EntryNum, s.SeqNum, s.LotNum AS LotNo, s.SerNum AS SerNo, s.PriceUnitFgn AS UnitPrice, 1 AS Qty, p.SourceId 	
	FROM dbo.tblSoTransDetail d 
	INNER JOIN dbo.tblSoTransSer s on d.TransId = s.TransId and d.EntryNum = s.EntryNum
	INNER JOIN dbo.tblWmPick w on w.TransId = s.TransId and w.EntryNum = s.EntryNum  and w.SerNum=s.SerNum and w.PickKey=p.PickKey
	WHERE p.SourceId=0 and d.TransID=p.TransId AND d.EntryNum=p.EntryNum AND (@PrintKitDetail = 1 or d.GrpId IS NULL) AND d.[Status] = 0 
	and (@PrintKitDetail = 1 OR d.GrpId IS NULL)  --exclude kit components when not selected for printing
UNION ALL 

	SELECT p.TransId, w.EntryNum, t.QOHSeqNum, t.LotNum AS LotNo, t.SerNum AS SerNo, t.UnitCost AS UnitPrice, 1 AS Qty, p.SourceId
	FROM dbo.tblWmTransferPick t 
	INNER JOIN dbo.tblWmTransfer f on f.TranKey=t.TranKey
	INNER JOIN dbo.tblWmPick w on w.EntryNum=t.TranKey  and w.SerNum=t.SerNum and w.PickKey=p.PickKey
	WHERE  p.SourceId=4 and t.TranKey=p.EntryNum AND t.[Status] = 0 
		
UNION ALL

    SELECT p.TransId, w.SeqNum EntryNum, m.SeqNum, m.LotNum AS LotNo, m.SerNum AS SerNo, m.UnitCost AS UnitPrice, 1 AS Qty, p.SourceId
	FROM dbo.tblWmMatReqFilled m 
	INNER JOIN dbo.tblWmPick w on m.TranKey=w.EntryNum  and w.SerNum=m.SerNum  and w.PickKey=p.PickKey 
	WHERE  p.SourceId=8 and m.TranKey=p.EntryNum  AND m.[Status] = 0 		
)ds
WHERE ds.TransId IS NOT NULL
	ORDER BY LotNo, SerNo

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPrintPackingSlipsGeneric_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmPrintPackingSlipsGeneric_proc'
GO
