USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_AWMSCustomFields_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_AWMSCustomFields_proc]
AS
BEGIN TRY

	DECLARE @FieldName NVARCHAR(50), @FieldId INT, @TableName NVARCHAR(255)
	
	SELECT @FieldName = 'BOL'
	SELECT @TableName = 'tblWmRcpt'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
		EXEC sp_executesql N'
			UPDATE rcp
			SET rcp.BOLNum = rcp.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="BOL"]/Value)[1]'', ''varchar(510)'')
			FROM dbo.tblWmRcpt rcp
			WHERE rcp.CF IS NOT NULL AND rcp.BOLNum IS NULL AND rcp.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="BOL"]/Value)[1]'', ''varchar(510)'') IS NOT NULL'
	END

	SELECT @FieldName = 'Note'
	SELECT @TableName = 'tblWmRcpt'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
		EXEC sp_executesql N'
			UPDATE rcp
			SET rcp.Notes = rcp.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Note"]/Value)[1]'', ''varchar(510)'')
			FROM dbo.tblWmRcpt rcp
			WHERE rcp.CF IS NOT NULL AND rcp.Notes IS NULL AND rcp.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Note"]/Value)[1]'', ''varchar(510)'') IS NOT NULL'
	END

	SELECT @FieldName = 'Default Receiving'
	SELECT @TableName = 'tblWmExtLoc'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
		EXEC sp_executesql N'UPDATE ev
			SET ev.ExtLocTypeID = ev.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Default Receiving"]/Value)[1]'', ''bit'')
			FROM dbo.tblWmExtLoc ev
			WHERE ev.Type = 0 AND ev.CF IS NOT NULL AND ev.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Default Receiving"]/Value)[1]'', ''bit'') IS NOT NULL'
	END

	SELECT @FieldName = 'Picker'
	SELECT @TableName = 'tblWmPick_Gen'
	SELECT @FieldId = ISNULL((SELECT Id FROM dbo.tblSmCustomField WHERE FieldName = @FieldName),0)
	IF @FieldId <> 0 AND EXISTS(SELECT TOP 1 Id FROM dbo.tblSmCustomFieldEntity WHERE FieldId = @FieldId AND EntityName = @TableName)
	BEGIN
		EXEC sp_executesql N'UPDATE info
			SET info.AssignedTo = gen.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Picker"]/Value)[1]'', ''nvarchar(22)'')
			FROM dbo.tblWmPickInfo info
			INNER JOIN dbo.tblWmPick_Gen gen ON gen.PickID = info.Id
			INNER JOIN tblWmUser U ON U.EmployeeID = gen.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Picker"]/Value)[1]'', ''nvarchar(22)'')
			WHERE gen.CF IS NOT NULL AND info.AssignedTo IS NULL AND gen.CF.value(''(/ArrayOfEntityPropertyOfString/EntityPropertyOfString[Name="Picker"]/Value)[1]'', ''nvarchar(22)'') IS NOT NULL'
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSCustomFields_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_AWMSCustomFields_proc'
GO
