USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmWorkOrderHistoryReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmWorkOrderHistoryReport_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	SELECT h.PostRun, h.TransId, h.EntryNum, h.TransDate, h.WorkType, h.UnitCost, h.BmBomId, h.ItemId, h.LocId, h.ItemType, h.BuildUOM, h.BuildQty, h.ActualQty, h.LaborCost, h.ConvFactor, 
		   h.GLPeriod, h.GlYear, h.SumHistPeriod, h.QtySeqNum, h.HistSeqNum, h.WorkUser, h.Descr, h.UomBase, h.ItemStatus, h.ItemLocStatus, h.GLAcctCode, b.Descr BomDescr,h.ActualQty,h.PrintedYn,
		   (CASE WHEN h.WorkType = 1 THEN h.UnitCost ELSE -1 * H.UnitCost END) AS UnCost, h.Status,  
		   (CASE WHEN h.WorkType = 1 THEN h.LaborCost ELSE -1 * h.LaborCost END) AS LabCost,
		   (CASE WHEN h.WorkType = 1 THEN ((h.UnitCost + h.LaborCost) * h.ActualQty) ELSE -1 * (h.UnitCost + h.LaborCost) * h.ActualQty END) AS ActExtCost,
		   (CASE WHEN h.WorkType = 1 THEN ((h.UnitCost + h.LaborCost) * h.BuildQty) ELSE -1 * (h.UnitCost + h.LaborCost) * h.BuildQty END) AS EstExtCost
	FROM #tmpHistoryList t INNER JOIN dbo.tblBmWorkOrderHist h ON t.PostRun = h.PostRun AND t.TransId = h.TransId
						   LEFT JOIN dbo.tblBmBom b ON h.BmBomId = b.BmBomId
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderHistoryReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderHistoryReport_proc'
GO
