USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArUpdateAgeCustomer_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArUpdateAgeCustomer_proc]  
 @CustId [nvarchar](10) 
AS  
SET NOCOUNT ON    
BEGIN TRY    
  --create the list of customers to age    
  CREATE TABLE #CustomerList (CustId [nvarchar](10) NOT NULL, UNIQUE CLUSTERED (CustId))    
      
  --set the list of customers to process with the    
  INSERT INTO #CustomerList (CustId)    
  SELECT CustId FROM dbo.tblArCust where CustId=@CustId    
    
  --execute the aging    
  EXEC dbo.trav_ArAgeCustomer_proc    
 END TRY    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUpdateAgeCustomer_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArUpdateAgeCustomer_proc'
GO
