USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PcTimeTicketPost_GlLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PcTimeTicketPost_GlLog_proc]
AS
BEGIN TRY
	DECLARE @PostRun [nvarchar](14) , @CurrBase [nvarchar](6), @PrecCurr tinyint, @WksDate datetime,@CompId nvarchar(3),
		@PostDtlYn bit, @SourceCode nvarchar(2), @TransType nvarchar(10)

	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PrecCurr = Cast([Value] AS tinyint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CompId = Cast([Value] AS nvarchar(3)) FROM #GlobalValues WHERE [Key] = 'CompId'
	SELECT @PostDtlYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PostDtlYn'
	SELECT @TransType = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransType'
	
	IF @PostRun IS NULL OR @CurrBase IS NULL OR @PrecCurr IS NULL OR @WksDate IS NULL OR @CompId IS NULL OR @PostDtlYn IS NULL OR @TransType IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #TimeTicketPostLog
	(
		[FiscalYear] smallint NOT NULL,
		[FiscalPeriod] smallint NOT NULL,
		[TransDate] [datetime] NULL,
		[Grouping] smallint NOT NULL,
		[GlAccount] [nvarchar](255) NULL,
		[Amount] [decimal](28,10) NOT NULL,
		[DebitAmount] [decimal](28,10) NOT NULL,
		[CreditAmount] [decimal](28,10) NOT NULL,
		[Reference] [nvarchar](15) NULL,
		[DistCode] [nvarchar](6) NULL,	
		[Description] [nvarchar](30) NULL,
		[ActivityId] int NOT NULL,
		[BatchId] [nvarchar](6) NOT NULL,
		[ExchRateId] [bigint] NULL
	)
	
	SET @SourceCode = 'JC'

	INSERT INTO dbo.tblSmExchangeRateTrans(TransType,TransKey,[Source],Destination,Rate)
	SELECT @TransType, ExchangeRateID, [Source],Destination,Rate
	FROM dbo.tblSmExchangeRateDetail
	WHERE ExchangeRateID IN (SELECT DISTINCT a.ExchRateID FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id 
		INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id WHERE a.ExchRateID IS NOT NULL)
		AND ExchangeRateID NOT IN (SELECT DISTINCT TransKey FROM tblSmExchangeRateTrans WHERE TransType = @TransType)

	--WIP Account 
	BEGIN
		--Income: General, Billable and non Fixed Fee
		INSERT INTO #TimeTicketPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,BatchId,ActivityId,ExchRateId)
		SELECT m.FiscalYear,m.FiscalPeriod, 401 AS [Grouping], a.GLAcctWIP, 
			ROUND(m.Qty * m.BillingRate,@PrecCurr) AS ExtIncome, m.EmployeeId, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description], 
			CASE WHEN ROUND(m.Qty * m.BillingRate,@PrecCurr) > 0 THEN ROUND(m.Qty * m.BillingRate,@PrecCurr) ELSE 0 END AS DebitAmount,
			CASE WHEN ROUND(m.Qty * m.BillingRate,@PrecCurr) < 0 THEN ABS(ROUND(m.Qty * m.BillingRate,@PrecCurr)) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, m.BatchId, a.Id, a.ExchRateID
		FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id
		WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND m.Qty * m.BillingRate <> 0
		
		--Cost: Job Cost
		INSERT INTO #TimeTicketPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,BatchId,ActivityId,ExchRateId)
		SELECT m.FiscalYear,m.FiscalPeriod, 401 AS [Grouping], a.GLAcctWIP, 
			ROUND(m.Qty * m.UnitCost,@PrecCurr) AS ExtCost, m.EmployeeId, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) > 0 THEN ROUND(m.Qty * m.UnitCost,@PrecCurr) ELSE 0 END AS DebitAmount,
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) < 0 THEN ABS(ROUND(m.Qty * m.UnitCost,@PrecCurr)) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, m.BatchId, a.Id, a.ExchRateID
		FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id AND m.Qty * m.UnitCost <> 0
		WHERE p.Type = 1
	END
	
	--Cost Account
	BEGIN
		--General, Administrative
		INSERT INTO #TimeTicketPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,BatchId,ActivityId,ExchRateId)
		SELECT m.FiscalYear,m.FiscalPeriod, 402 AS [Grouping], a.GLAcctCost, 
			ROUND(m.Qty * m.UnitCost,@PrecCurr) AS ExtCost, m.EmployeeId, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) > 0 THEN ROUND(m.Qty * m.UnitCost,@PrecCurr) ELSE 0 END AS DebitAmount,
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) < 0 THEN ABS(ROUND(m.Qty * m.UnitCost,@PrecCurr)) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, m.BatchId, a.Id, a.ExchRateID
		FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id
		WHERE p.Type = 0 OR p.Type = 2 AND m.Qty * m.UnitCost <> 0	
	END
	
	--Accrued Income Account
	BEGIN
		--General, Billable and non Fixed Fee
		INSERT INTO #TimeTicketPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,BatchId,ActivityId,ExchRateId)
		SELECT m.FiscalYear,m.FiscalPeriod, 403 AS [Grouping], a.GLAcctAccruedIncome, 
			-ROUND(m.Qty * m.BillingRate,@PrecCurr) AS ExtIncome, m.EmployeeId, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN ROUND(m.Qty * m.BillingRate,@PrecCurr) < 0 THEN ABS(ROUND(m.Qty * m.BillingRate,@PrecCurr)) ELSE 0 END AS DebitAmount,
			CASE WHEN ROUND(m.Qty * m.BillingRate,@PrecCurr) > 0 THEN ROUND(m.Qty * m.BillingRate,@PrecCurr) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, m.BatchId, a.Id, a.ExchRateID
		FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id
		WHERE p.Type = 0 AND d.Billable = 1 AND d.FixedFee = 0 AND m.Qty * m.BillingRate <> 0
	END	
	
	--Payroll Clearing Account
	BEGIN
		INSERT INTO #TimeTicketPostLog(FiscalYear,FiscalPeriod,[Grouping],GlAccount,Amount,Reference,[Description],DebitAmount,
			CreditAmount,TransDate,DistCode,BatchId,ActivityId,ExchRateId)
		SELECT m.FiscalYear,m.FiscalPeriod, 404 AS [Grouping], a.GLAcctPayrollClearing, 
			-ROUND(m.Qty * m.UnitCost,@PrecCurr) AS ExtCost, m.EmployeeId, 
			CASE WHEN ISNULL(m.[Description],'') = '' THEN ISNULL(p.CustId,'') + '/' + p.ProjectName ELSE LEFT(m.[Description],30) END AS [Description],			
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) < 0 THEN ABS(ROUND(m.Qty * m.UnitCost,@PrecCurr)) ELSE 0 END AS DebitAmount,
			CASE WHEN ROUND(m.Qty * m.UnitCost,@PrecCurr) > 0 THEN ROUND(m.Qty * m.UnitCost,@PrecCurr) ELSE 0 END AS CreditAmount,
			m.TransDate, a.DistCode, m.BatchId, a.Id, a.ExchRateID
		FROM #PostTransList t INNER JOIN dbo.tblPcTimeTicket m ON t.TransId = m.Id
			INNER JOIN dbo.tblPcProjectDetail d ON m.ProjectDetailId = d.Id 
			INNER JOIN dbo.tblPcProject p ON d.ProjectId = p.Id 
			INNER JOIN dbo.tblPcActivity a ON m.ActivityId = a.Id
		WHERE  m.Qty * m.UnitCost <> 0
	END
	
	INSERT INTO #DetailPostLog(PostRun,TransType,TransKey,SummaryKey,CompId,GlAccount,FiscalYear,FiscalPeriod,[Grouping], [Description],
		Reference,SourceCode,CreditAmount,DebitAmount,CreditAmountBase,DebitAmountBase, CurrencyId,TransDate,PostDate,LinkId,LinkIdSubLine)
	SELECT @PostRun, @TransType, ISNULL(ExchRateId, -1), @PostRun, @CompId, GlAccount, FiscalYear, FiscalPeriod, [Grouping], 
		CASE @PostDtlYn WHEN 0 THEN 'Time Ticket Entries' ELSE [Description] END, CASE @PostDtlYn WHEN 0 THEN 'TT' ELSE Reference END, 
		@SourceCode, CreditAmount,DebitAmount, CreditAmount,DebitAmount, @CurrBase, CASE @PostDtlYn WHEN 0 THEN @WksDate ELSE TransDate END, 
		@WksDate, CASE @PostDtlYn WHEN 0 THEN NULL ELSE ActivityId END, CASE @PostDtlYn WHEN 0 THEN NULL ELSE -1 END
	FROM #TimeTicketPostLog

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketPost_GlLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PcTimeTicketPost_GlLog_proc'
GO
