USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PaEmployeeCount_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PaEmployeeCount_proc]
@groupCode TINYINT
AS
BEGIN TRY
	SET NOCOUNT ON
	SELECT COUNT(p.[EmployeeId]) AS [EmpCount] FROM [dbo].[tblPaEmployee] p INNER JOIN [dbo].[tblSmEmployee] s 
	ON p.EmployeeId = s.EmployeeId WHERE p.[GroupCode] = @groupCode AND s.[Status] = 0
END TRY
BEGIN CATCH
	EXEC [dbo].[trav_RaiseError_proc]
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmployeeCount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PaEmployeeCount_proc'
GO
