USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoVendorPerformanceReport_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoVendorPerformanceReport_proc]
@QuantityVariance pDecimal = 0,
@CostVariance pDecimal = 0,
@DeliveryDays pDecimal = 0,
@UnitCostPrecision tinyint = 4, 
@GrpId tinyint
AS
SET NOCOUNT ON
BEGIN TRY

	CREATE TABLE #tmp 
	(
		[VendorId] [nvarchar](10), 
		[Name] [nvarchar](30) NULL, 
		[TransId] [nvarchar](8) NOT NULL, 
		[ItemId] [nvarchar](24) NULL, 
		[Descr] [nvarchar](255) NULL, 
		[LocId] [nvarchar](10) NULL, 
		[QtyOrd] [decimal](28,10) NULL, 
		[QtyRcpt] [decimal](28,10) NULL, 
		[UnitCost] [decimal](28,10) NULL, 
		[InvcUnitCost] [decimal](28,10) NULL, 
		[ReqShipDate] [datetime] NULL, 
		[ReceiptDate] [datetime] NULL, 
		[ExtCost] [decimal](28,10) NULL, 
		[InvcExtCost] [decimal](28,10) NULL, 
		[QtyVar] [decimal](28,10) NULL, 
		[CostVar] [decimal](28,10) NULL, 
		[DeliDays] [int]
	)

	INSERT INTO #tmp ([VendorId], [Name], [TransId], [ItemId], [Descr], [LocId], [QtyOrd], [QtyRcpt], [UnitCost], [InvcUnitCost], [ReqShipDate], [ReceiptDate], [ExtCost], [InvcExtCost], [QtyVar], [CostVar], [DeliDays]) 
		SELECT h.VendorId,v.[Name],h.TransId,d.ItemId,d.Descr,d.LocId,d.QtyOrd,ISNULL(r.QtyRcpt,0) AS QtyRcpt,d.UnitCost,ISNULL(i.InvcUnitCost,0) AS InvcUnitCost,
		  ISNULL(d.ReqShipDate, h.ReqShipDate) AS ReqShipDate, r.ReceiptDate,d.ExtCost,ISNULL(i.InvcExtCost,0) AS InvcExtCost,
		  CAST(ROUND((CASE WHEN d.QtyOrd = 0 THEN ISNULL(r.QtyRcpt,0) ELSE (ISNULL(r.QtyRcpt,0)-d.QtyOrd)/d.QtyOrd END) * 100,2) AS Decimal(28,10)) AS QtyVar,
		  CAST(ROUND((CASE WHEN d.UnitCost = 0 THEN ISNULL(i.InvcUnitCost,0) ELSE (ISNULL(i.InvcUnitCost,0)-d.UnitCost)/d.UnitCost END) * 100,2) AS Decimal(28,10)) AS CostVar,
		  r.DeliDays
		FROM #tmpHistoryList t INNER JOIN dbo.tblPoHistDetail d ON t.PostRun = d.PostRun AND t.TransId = d.TransId AND t.EntryNum = d.EntryNum
			INNER JOIN dbo.tblPoHistHeader h ON d.PostRun = h.PostRun AND d.TransId = h.TransId
			LEFT JOIN 
				(SELECT t.PostRun,t.TransID,t.EntryNum,MIN(r.ReceiptDate) ReceiptDate, SUM(QtyFilled) QtyRcpt,
					AVG(DATEDIFF(dd,ISNULL(e.ReqShipDate, h.ReqShipDate),r.ReceiptDate)) AS DeliDays 
				FROM dbo.tblPoHistReceipt r INNER JOIN dbo.tblPoHistLotRcpt t ON r.PostRun = t.PostRun AND r.TransId = t.TransId AND r.ReceiptNum = t.RcptNum
					INNER JOIN dbo.tblPoHistDetail e ON t.PostRun = e.PostRun AND t.TransId = e.TransId AND t.EntryNum = e.EntryNum 
					INNER JOIN dbo.tblPoHistHeader h ON e.PostRun = h.PostRun AND e.TransId = h.TransId
				GROUP BY t.PostRun,t.TransID,t.EntryNum) r ON d.PostRun = r.PostRun AND d.TransId = r.TransId AND d.EntryNum = r.EntryNum 
			LEFT JOIN 
				(SELECT PostRun,TransID,EntryNum, ROUND(SUM(ExtCost)/SUM(Qty),@UnitCostPrecision) AS InvcUnitCost, SUM(ExtCost) AS InvcExtCost 
				FROM tblPoHistInvoice 
				GROUP BY PostRun,TransID,EntryNum) i ON d.PostRun = i.PostRun AND d.TransId = i.TransId AND d.EntryNum = i.EntryNum  
			LEFT JOIN dbo.tblApVendor v ON h.VendorId = v.VendorId 
		WHERE h.TransType<> 0 AND ABS(ROUND((CASE WHEN d.QtyOrd = 0 THEN ISNULL(r.QtyRcpt,0) ELSE (ISNULL(r.QtyRcpt,0)-d.QtyOrd)/d.QtyOrd END) * 100,2)) >= @QuantityVariance  
			AND ABS(ROUND((CASE WHEN d.UnitCost = 0 THEN ISNULL(i.InvcUnitCost,0) ELSE (ISNULL(i.InvcUnitCost,0)-d.UnitCost)/d.UnitCost END) * 100,2)) >= @CostVariance 
			AND ABS(DATEDIFF(dd,ISNULL(d.ReqShipDate, h.ReqShipDate),ISNULL(r.ReceiptDate,ISNULL(d.ReqShipDate, h.ReqShipDate)))) >= @DeliveryDays

	IF @GrpId = 0 --Item Detail
	BEGIN
		SELECT [VendorId], [TransId], [Name], [LocId], [ItemId], [Descr], [QtyOrd], [QtyRcpt], [QtyVar]
			, [UnitCost], [InvcUnitCost], [CostVar], [ReqShipDate], [ReceiptDate], [DeliDays], [ExtCost], [InvcExtCost] 
		FROM #tmp
	END
	ELSE IF @GrpId = 1 --Order Detail
	BEGIN
		SELECT [VendorId], [TransId], [Name], NULL AS [LocId], NULL AS [ItemId], NULL AS [Descr]
			, SUM([QtyOrd]) AS [QtyOrd], SUM([QtyRcpt]) AS [QtyRcpt]
			, -(CASE WHEN SUM([QtyOrd]) = 0 THEN SUM([QtyRcpt]) ELSE ((SUM([QtyOrd]) - SUM([QtyRcpt])) / SUM([QtyOrd])) * 100 END) AS [QtyVar]
			, SUM((CASE WHEN [QtyOrd] = 0 THEN 0 ELSE [ExtCost] / [QtyOrd] END)) AS [UnitCost]
			, SUM((CASE WHEN [QtyRcpt] = 0 THEN 0 ELSE [InvcExtCost] / [QtyRcpt] END)) AS [InvcUnitCost]
			, CASE WHEN SUM(QtyOrd) = 0 OR SUM(ExtCost) = 0 THEN 0 ELSE -(( (SUM(CASE WHEN [QtyOrd] = 0 THEN 0 ELSE ([ExtCost] / [QtyOrd]) END)) 
				- (SUM(CASE WHEN [QtyRcpt] = 0 THEN 0 ELSE ([InvcExtCost] / [QtyRcpt]) END)) ) 
				/ (SUM(CASE WHEN [QtyOrd] = 0 THEN 0 ELSE ([ExtCost] / [QtyOrd]) END))
				* 100) END AS [CostVar]
			, NULL AS [ReqShipDate], NULL AS [ReceiptDate]
			, AVG(DeliDays) AS [DeliDays]
			, SUM([ExtCost]) AS [ExtCost], SUM([InvcExtCost]) AS [InvcExtCost] 
		FROM #tmp GROUP BY [VendorId], [TransId], [Name]
	END
	ELSE IF @GrpId = 2 --Vendor Summary
	BEGIN
		SELECT [VendorId], NULL AS [TransId], [Name], NULL AS [LocId], NULL AS [ItemId], NULL AS [Descr]
			, SUM([QtyOrd]) AS [QtyOrd], SUM([QtyRcpt]) AS [QtyRcpt]
			, -(CASE WHEN SUM([QtyOrd]) = 0 THEN SUM([QtyRcpt]) ELSE ((SUM([QtyOrd]) - SUM([QtyRcpt])) / SUM([QtyOrd])) * 100 END) AS [QtyVar]
			, SUM((CASE WHEN [QtyOrd] = 0 THEN 0 ELSE [ExtCost] / [QtyOrd] END)) AS [UnitCost]
			, SUM((CASE WHEN [QtyRcpt] = 0 THEN 0 ELSE [InvcExtCost] / [QtyRcpt] END)) AS [InvcUnitCost]
			, CASE WHEN SUM(QtyOrd) = 0 OR SUM(ExtCost) = 0 THEN 0 ELSE -(( (SUM(CASE WHEN [QtyOrd] = 0 THEN 0 ELSE ([ExtCost] / [QtyOrd]) END)) 
				- (SUM(CASE WHEN [QtyRcpt] = 0 THEN 0 ELSE ([InvcExtCost] / [QtyRcpt]) END)) ) 
				/ (SUM(CASE WHEN [QtyOrd] = 0 THEN 0 ELSE ([ExtCost] / [QtyOrd]) END))
				* 100) END AS [CostVar]
			, NULL AS [ReqShipDate], NULL AS [ReceiptDate]
			, AVG(DeliDays) AS [DeliDays]
			, SUM([ExtCost]) AS [ExtCost], SUM([InvcExtCost]) AS [InvcExtCost] 
		FROM #tmp GROUP BY [VendorId], [Name]
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoVendorPerformanceReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoVendorPerformanceReport_proc'
GO
