USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmMigration_IN_Quantity_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmMigration_IN_Quantity_proc]
AS
BEGIN TRY
	DECLARE @MaxExtQtyID bigint
	--Create temp table for item/location default bin or location default bin
	--IF OBJECT_ID('tempdb.dbo.#tmpItemLocDefaultBin', 'U') IS NULL
	--BEGIN
	--	CREATE TABLE #tmpItemLocDefaultBin (ItemID pItemID NOT NULL, LocID pLocID NOT NULL, ExtLocA int NOT NULL, ExtLocAID nvarchar(10))

	--	INSERT INTO #tmpItemLocDefaultBin
	--	SELECT l.ItemId, l.LocId, ISNULL(e.Id, d.Id) AS DefaultExtLocA, 
	--		CASE WHEN e.Id IS NOT NULL THEN e.ExtLocID WHEN d.Id IS NOT NULL THEN DefaultValue END
	--	FROM dbo.tblInItem i INNER JOIN dbo.tblInItemLoc l ON i.ItemId = l.ItemId
	--		LEFT JOIN dbo.tblWmExtLoc e ON l.LocId = e.LocId AND l.DfltBinNum = e.ExtLocID AND e.[Type] = 0
	--		LEFT JOIN (	SELECT ContextId, DefaultValue, e.Id FROM dbo.tblSmUserDefaultValue d INNER JOIN dbo.tblWmExtLoc e
	--			ON d.ContextId = e.LocID AND d.DefaultValue = e.ExtLocID
	--		WHERE ContextType = 4 AND DefaultId = '2E072907-E2E1-47D6-86D6-D0D262827D41' AND ISNULL(DefaultValue,'') <> ''
	--			AND e.[Type] = 0 ) d ON l.LocId = d.ContextId
	--	WHERE i.ItemType IN (1,2) AND i.KittedYN = 0 --Quantity tracking
	--END

	/*IN Quantity*/
	BEGIN
	
		--Remove On Order records from tblInQty_ext
		DELETE dbo.tblInQty_Ext WHERE TransType = 2

		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblInItemSer SET ExtLocA = b.ExtLocA
		FROM dbo.tblInItemSer s INNER JOIN #tmpItemLocDefaultBin b ON s.ItemId = b.ItemID AND s.LocId = b.LocID 
		WHERE s.ExtLocA IS NULL

		UPDATE dbo.tblInQty_Ext SET ExtLocA = b.ExtLocA
		FROM dbo.tblInQty_Ext e INNER JOIN #tmpItemLocDefaultBin b ON e.ItemId = b.ItemID AND e.LocId = b.LocID 
		WHERE e.ExtLocA IS NULL

		UPDATE dbo.tblInQtyOnHand_Ext SET ExtLocA = b.ExtLocA
		FROM dbo.tblInQtyOnHand_Ext e INNER JOIN #tmpItemLocDefaultBin b ON e.ItemId = b.ItemID AND e.LocId = b.LocID 
		WHERE e.ExtLocA IS NULL

		SELECT @MaxExtQtyID = MAX(ID) FROM dbo.tblInQtyOnHand_Ext
		SET @MaxExtQtyID = ISNULL(@MaxExtQtyID,0)

		--Create Quantity On Hand Extended records with item/location default bin or location default bin for Quantity On Hand that are not in a bin
		INSERT INTO dbo.tblInQtyOnHand_Ext(ItemId, LocId, LotNum, ExtLocA, ExtLocB, Qty, [Status], [ID])
		SELECT q.ItemId,q.LocId,NULLIF(q.LotNum,'') AS LotNum,b.ExtLocA,NULL AS ExtLocB,q.QtyOnHand - ISNULL(e.QtyOnHandExt,0) AS Qty,NULL AS [Status],
			ROW_NUMBER() OVER(ORDER BY q.ItemId, q.LocId, q.LotNum) + @MaxExtQtyID AS [ID]
		FROM
		(SELECT ItemId,LocId,ISNULL(LotNum,'') AS LotNum,SUM(Qty-RemoveQty-InvoicedQty) QtyOnHand
		FROM dbo.tblInQtyOnHand 
		GROUP BY ItemId,LocId,ISNULL(LotNum,'')) q 
		INNER JOIN #tmpItemLocDefaultBin b ON q.ItemId = b.ItemID AND q.LocId = b.LocID 
		LEFT JOIN
		(SELECT ItemId,LocId,ISNULL(LotNum,'') AS LotNum,SUM(Qty) QtyOnHandExt
		FROM dbo.tblInQtyOnHand_Ext
		GROUP BY ItemId,LocId,ISNULL(LotNum,'')) e ON q.ItemId = e.ItemId AND q.LocId = e.LocId AND ISNULL(q.LotNum,'') = ISNULL(e.LotNum,'')
		WHERE q.QtyOnHand - ISNULL(e.QtyOnHandExt,0) <> 0
	END

	/*WM History*/
	BEGIN
		--Update missing bin with item/location default bin or location default bin
		UPDATE dbo.tblWmHistDetail SET ExtLocA = b.ExtLocA, ExtLocAID = b.ExtLocAID
		FROM dbo.tblWmHistDetail w INNER JOIN #tmpItemLocDefaultBin b ON w.ItemId = b.ItemID AND w.LocId = b.LocID 
		WHERE w.ExtLocA IS NULL

		UPDATE dbo.tblWmHistDetail SET DeleteDate = EntryDate 
		WHERE DeleteDate IS NULL AND DeletedYn = 1

		UPDATE dbo.tblWmHistDetail SET Unit = i.UomBase, UnitBase = i.UomBase 
		FROM dbo.tblWmHistDetail d INNER JOIN dbo.tblInItem i ON d.ItemId = i.ItemId 
		WHERE Unit IS NULL

		--Update tblWmHistDetail.TransId using tblInHistDetail.TransId
		UPDATE dbo.tblWmHistDetail SET TransId = i.TransId
		FROM dbo.tblWmHistDetail w INNER JOIN dbo.tblInHistDetail i ON w.HistSeqNum = i.HistSeqNum 
		WHERE w.TransId IS NULL
	END

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_IN_Quantity_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmMigration_IN_Quantity_proc'
GO
