USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApTransPost_Prepare_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApTransPost_Prepare_proc]
AS
BEGIN TRY
DECLARE @ErrorMessage NVARCHAR(4000), @TransAllocYn bit, @WrkStnDate datetime
DECLARE @TransTypeTransPay  NVARCHAR(10)
DECLARE @CurrBase [nvarchar](6)
DECLARE @TransID [nvarchar](8),@LineNumber int
DECLARE @ErrorMsg nvarchar(4000)

--Retrieve global values
SELECT @TransAllocYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'TransAllocYn'
SELECT @WrkStnDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
SELECT @TransTypeTransPay = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypeTransPay' --APTRANSPAY

IF @TransAllocYn IS NULL OR @WrkStnDate IS NULL
BEGIN
	THROW 90025, N'Missing global value.', 1
END

-- test for invalid payment values

CREATE TABLE #InvalidTransList 
(	TransId [nvarchar](8) NOT NULL,
	PaymentDue [decimal](28,10) NOT NULL , 
	Total [decimal](28,10) NOT NULL, 
	PrepaidAmt [decimal](28,10) NULL )
	
INSERT INTO #InvalidTransList (TransId,PaymentDue,Total,PrepaidAmt)
	SELECT h.TransId
	,(PmtAmt1Fgn + PmtAmt2Fgn + PmtAmt3Fgn)	PaymentDue
	,(TaxableFgn + NonTaxableFgn + SalesTaxFgn + TaxAdjAmtFgn + FreightFgn + MiscFgn - CashDiscFgn ) Total
	,CASE WHEN ISNULL(h.PmtCurrencyId,h.CurrencyId)= h.CurrencyId THEN PrepaidAmtFgn
														 ELSE CASE WHEN h.CurrencyId=@CurrBase THEN h.PrepaidAmt
															  ELSE ROUND(h.PrepaidAmtFgn *et.Rate,et.CurrDecPlaces)END END PrepaidAmt
	FROM dbo.tblApTransHeader h 
	INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
						INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypeTransPay ) et
						ON et.Source =h.PmtCurrencyId AND et.Destination=h.CurrencyId AND et.TransKey=h.TransId

	-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT TransID FROM #InvalidTransList WHERE PrepaidAmt IS NULL)
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

IF (SELECT Count(*) FROM #InvalidTransList WHERE (PaymentDue+PrepaidAmt) <> Total ) > 0
BEGIN
	Declare @InvalidTransList nvarchar(4000)
	SET @InvalidTransList = ''
	
	SELECT @InvalidTransList = @InvalidTransList + ', ' + TransId 
		FROM #InvalidTransList WHERE (PaymentDue+PrepaidAmt) <> Total
		
	SELECT @InvalidTransList = SUBSTRING(@InvalidTransList, 3, 4000)
	SET @ErrorMessage = 'The post has been aborted.  Please review and correct the listed transactions before posting again.  Errors were detected in the following transactions: ' + @InvalidTransList + '.'
    RAISERROR(@ErrorMessage,16,1)
END

-- transaction allocation detail - check for unassigned gl accounts (can't use if not interfaced to GL)
IF @TransAllocYn <> 0
BEGIN
	IF ISNULL((SELECT COUNT(1) FROM dbo.tblApTransHeader th 
		INNER JOIN dbo.tblApTransDetail td ON th.TransId = td.TransId 
		INNER JOIN dbo.tblApTransAllocDtl ad ON td.TransId = ad.TransId AND td.EntryNum = ad.EntryNum 
		INNER JOIN #PostTransList l ON th.TransId = l.TransId 
		WHERE ad.AcctId IS NULL), 0) > 0
	BEGIN
		RAISERROR('Invalid GL Accounts exist.',16,1)
	END
END

-- transaction allocation detail -- Check for allocation subtotal matches the line item amount
SELECT TOP 1 @TransID =   td.TransId , @LineNumber = td.EntryNum 
FROM tblApTransDetail td
INNER JOIN #PostTransList l ON l.TransId = td.TransId
INNER JOIN
(
	SELECT TransId, EntryNum, Sum(AmountFgn) AS TotAlloc 
	FROM tblApTransAllocDtl 
	GROUP BY TransId, EntryNum
) al
ON (td.TransID = al.TransId AND td.EntryNum = al.EntryNum)
WHERE td.ExtCostFgn <> al.TotAlloc

SET @ErrorMsg =   N'TransId: '+@TransID + ' ' +  N'LineNumber: '+Convert(varchar(4000),@LineNumber)
IF (COUNT(@TransID) >0) 
BEGIN
	RAISERROR(N'Allocations are out of balance (%s)', 16, 1,@ErrorMsg)
END

-- update null invoice numbers to date & transID combination
UPDATE dbo.tblApTransHeader SET InvoiceNum = RIGHT(CONVERT(nvarchar(8),@WrkStnDate,112),4) + TransID 
WHERE TransId IN 
	(SELECT TransId FROM #PostTransList ) AND (InvoiceNum IS NULL OR InvoiceNum = '')

UPDATE dbo.tblApTransInvoiceTax SET InvcNum = dbo.tblApTransHeader.InvoiceNum 
FROM dbo.tblApTransHeader 
	INNER JOIN dbo.tblApTransInvoiceTax ON dbo.tblApTransHeader.TransID = dbo.tblApTransInvoiceTax.TransID 
	INNER JOIN #PostTransList l ON dbo.tblApTransHeader.TransId = l.TransId 
WHERE dbo.tblApTransInvoiceTax.InvcNum IS NULL

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_Prepare_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApTransPost_Prepare_proc'
GO
