USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DRGenerateRunData_SOTrans_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DRGenerateRunData_SOTrans_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	DECLARE	@RunId pPostRun, @PrecQty tinyint

	--Retrieve global values
	SELECT @RunId = Cast([Value] AS nvarchar) FROM #GlobalValues WHERE [Key] = 'RunId'
	
	IF @RunId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END


	--Sales Order Transactions
	INSERT INTO dbo.tblDrRunData (RunId, ItemId, LocId, TransDate, TransType
		, [Source], VirtualYn, Qty, LinkID, LinkIDSub, LinkIDSubLine, CustId, VendorId, AssemblyId)
	SELECT @RunId, RTRIM(q.ItemId), RTRIM(q.LocId)
		, DateAdd(dd, -l.PrepLeadTime, COALESCE(d.ReqShipDate, t.ReqShipDate, t.TransDate))
		, q.TransType
		, 16 --16=SalesOrds
		, 0, q.Qty, q.LinkId, RTRIM(q.LinkIdSub), q.LinkIdSubLine, t.SoldToId, Null, Null
		FROM dbo.tblInQty q
		INNER JOIN dbo.tblSoTransDetail d ON q.ID = d.QuantityCmtdID
		INNER JOIN dbo.tblSoTransHeader t On d.TransId = t.TransId 
		INNER JOIN dbo.tblInItemLoc l ON d.ItemId = l.ItemId and d.LocId = l.LocId
		WHERE t.[VoidYn] = 0 --not voided
			AND q.LinkId = 'SO' AND q.TransType = 0 AND q.Qty <> 0 
			AND d.[Status] = 0 --not completed

		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_SOTrans_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DRGenerateRunData_SOTrans_proc'
GO
