USE [005]
GO
/****** Object:  StoredProcedure [dbo].[RCG_ApExportCsv_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RCG_ApExportCsv_proc]

AS

If OBJECT_ID ('_tmpApExportPCard') is not null
Drop Table _tmpApExportPCard
CREATE TABLE _tmpApExportPCard([num] [int] IDENTITY (1, 1) NOT NULL,
              csvLine varchar(max) NULL
              )

IF EXISTS(SELECT * FROM dbo.tblApPaymentControl c )

BEGIN

	SELECT
	ISNULL(p.PaymentNum,'TBD') as PaymentReference,
	ISNULL(v.Name,'') as VendorName,
	ISNULL(i.VendorId,'') as VendorId,
	ISNULL(v.Email,'') as VendorEmailAddress,
	CONVERT(nvarchar,ISNULL(d.GrossAmtDue,0)) as InvoiceAmount,
	ISNULL(i.InvoiceNum,'') as InvoiceNumber,
	CONVERT(nvarchar,i.InvoiceDate,101) as InvoiceDate,
	CONVERT(nvarchar,p.PaymentDate ,101)as PaymentDate,
	ISNULL(CONVERT(nvarchar(1000),replace(replace(i.Notes,char(10),' '),char(13),' ')),'') as [Description]
	into #tmpApExportPCard_working
	FROM tblApPayment p 
		INNER JOIN tblApPaymentDetail d on p.ID =d.PaymentID
		inner join tblApOpenInvoice i on d.InvoiceCounter = i.Counter 
		INNER JOIN tblApHistHeader h ON i.TransId = h.TransId and i.PostRun = h.PostRun
		LEFT JOIN tblApVendor v on i.VendorID = v.VendorID


DECLARE @headerLine nvarchar(MAX) = 'PaymentReference,VendorName,VendorId,VendorEmailAddress,InvoiceAmount,InvoiceNumber,InvoiceDate,PaymentDate,Description';

INSERT INTO _tmpApExportPCard (csvLine)
SELECT @headerLine

INSERT INTO _tmpApExportPCard (csvLine)
SELECT '"' + 
[PaymentReference] + '","' + 
[VendorName] + '","' + 
[VendorId] + '","' + 
[VendorEmailAddress] + '","' + 
[InvoiceAmount] + '","' + 
[InvoiceNumber] + '","' + 
[InvoiceDate] + '","' + 
[PaymentDate] + '","' + 
[Description] + '"' 
FROM #tmpApExportPCard_working

SELECT csvLine from _tmpApExportPCard

END
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'{TSMX}Notes for the updated objects.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'RCG_ApExportCsv_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.14000.4463' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'RCG_ApExportCsv_proc'
GO
