USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CsGenerateResourceActivity_MPWorkCenter_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CsGenerateResourceActivity_MPWorkCenter_proc]
AS
BEGIN TRY
	SET NOCOUNT ON
	--Captures the schedule activity for Work Centers related to production orders
	--	Defaults the resource requirements to the remaining amount required (needed - recorded)

	--Retrieve global values
	DECLARE	@UID [nvarchar](20) , @HostId [nvarchar](20) 
	
	SELECT @UID = [Value] FROM #GlobalValues WHERE [Key] = N'UID'
	SELECT @HostId = [Value] FROM #GlobalValues WHERE [Key] = N'HostId'

	IF @UID IS NULL or @HostId IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	Declare @ActIdOffset bigint, @ActDtlIdOffset bigint

	--Work Center specific pre-processing table
	Create Table #WCActivityDetail (
		[Id] [bigint] not null Identity(1, 1),
		[HeaderId] [bigint] not null,
		[TransId] [int] not null,
		[DtlType] [tinyint] not null,
		[ValueNeeded] [bigint] not null,
		[ValueFinished] [bigint] not null,
		[ReleaseId] [int] not null,
		[LocId] [nvarchar](10) NOT NULL,
		[ResType] [tinyint] not null,
		[ResourceId] [nvarchar](255) not null, 
		[ParentId] [int] null, --GrandParent TransId
		[OpStatus] [tinyint] not null, --operation resource status
		PRIMARY KEY NONCLUSTERED ([TransId], [Id])
	)

	--create distribution of detail for workcenters
	--	allocate labor time per operator count
	--	generate a common header reference id per TransId
	--	only include time that is enabled for the associated operation
	Insert into #WCActivityDetail ([HeaderId], [TransId], [DtlType], [ReleaseId]
		, [LocId], [ResType], [ResourceId], [ParentId], [OpStatus]
		, [ValueNeeded], [ValueFinished])
	Select ah.[HeaderId], ad.[TransId], ad.[DtlType], ad.[ReleaseId]
		, ad.[LocId], 7, ts.[WorkCenterId], IsNull(prq.[ParentId], prq.[TransId]) --grandparent process id when available; otherwise FinGoods TransId as sibling reference
		, isnull(oper.[ResStatus], 0) --default to active
		, Case When ad.UseInOperation = 1 Then
				Case When ad.DtlType in (4, 5) Then 
					Case When ts.[OperatorCount] = 0 Then ad.[ValueNeeded] Else ad.[ValueNeeded] / ts.[OperatorCount] End --split labor (4, 5) by operator count
				Else ad.[ValueNeeded] 
				End
			Else 0 
			End As [ValueNeeded]
		, Case When ad.UseInOperation = 1 Then
				Case When ad.DtlType in (4, 5) Then 
					Case When ts.[OperatorCount] = 0 Then ad.[ValueFinished] Else ad.[ValueFinished] / ts.[OperatorCount] End --split labor (4, 5) by operator count
				Else ad.[ValueFinished] 
				End 
			Else 0 
			End As [ValueFinished]
		From #ActivityDetail ad
		Inner Join dbo.tblMpTimeSum ts on ad.[TransId] = ts.[TransId]
		Inner Join dbo.tblMpRequirements rq on ts.[TransId] = rq.[TransId]
		Left Join dbo.tblMpRequirements prq on rq.[ParentId] = prq.[TransId] --lookup grandparent id
		Left Join (Select * From #ResourceDefaults Where [ResType] = 8) oper on ts.[OperationId] = oper.[ResourceId] And ad.[LocId] = oper.[LocId]
		Inner Join (Select [TransId], min([Id]) As [HeaderId] From #ActivityDetail Group By [TransId]) ah On ad.[TransId] = ah.[TransId]
		Where ts.[WorkCenterId] is not null

	--Populate Actitivy
	Select @ActIdOffset = isnull(Max([Id]), 0) From [dbo].[tblCsResourceActivity]

	Insert into [dbo].[tblCsResourceActivity] (
		[Id], [ActType], [ActStatus], [ConflictType]
		, [ResType], [ResourceId], [ResDetailId], [LocId]
		, [SrcType], [SourceRef], [ParentRef], [SourceSeq], [EntryNumber], [Quantity]
		, [OverlapYn], [MaxProcessTime], [MinProcessTime]
		, [StartDate], [EndDate], [ExpEndDate], [ExpMatlDate], [Priority]
		, [SourceID1], [SourceID2], [SourceID3], [SourceID4]
		, [SrcDocInfo1], [SrcDocInfo2], [SrcDocInfo3], [UID], [HostId])
	Select @ActIdOffset + tmp.[HeaderId], 1
		, Case When tmp.[OpStatus] = 2 Then 6 --Excluded (operation)
			When (s.[Status] = 5 or t.[Status] = 5) Then 3 --OnHold
			When s.[Status] = 6 Then 2 --Completed
			Else 1 --unassigned 
			End
		, Case When tmp.[OpStatus] = 2 Then 10 --NoneExcluded (operation)
			When (s.[Status] = 5 or t.[Status] = 5) Then 4 --OnHold
			When s.[Status] = 6 Then 3 --NoneCompleted
			Else 0 --None not started
			End
		, tmp.[ResType], tmp.[ResourceId], tmp.[ResDetailId], tmp.[LocId]
		, 1, Cast(tmp.[TransId] as nvarchar), cast(tmp.[ParentId] as nvarchar), r.ReqSeq, 0, s.[QtyProducedEst], s.[OverlapYn]
		, Case When (tmp.[ValueNeeded] * tmp.[EfficiencyPct]) > tmp.[ValueFinished] Then (tmp.[ValueNeeded] * tmp.[EfficiencyPct]) - tmp.[ValueFinished] Else 0 End As [ValueRemaining]
		, (tmp.[OverheadRequired] * [EfficiencyPct])
		, r.[EstStartDate], r.[EstCompletionDate], t.[EstCompletionDate], Null, t.[Priority]
		, t.[OrderNo], Cast(t.[ReleaseNo] as nvarchar), cast(r.[ReqId] as nvarchar), o.[AssemblyId]
		, t.[OrderNo] + N'-' + cast(t.[ReleaseNo] as nvarchar) + N'-' + Cast(r.[ReqId] as nvarchar) + N'-' + o.[AssemblyId] 
			+ Case when g.[Description] is not null Then N'-' + g.[Description] Else N'' End
			+ Case When c.[CustName] is not null Then N'-(' + c.[CustId] + N')' + c.[CustName] Else N'' End
		, tmp.[ResourceId] + N'-' + Coalesce(tmp.[Description], w.[Descr], 'xx')
		, r.[Description], @UID, @HostId
	From (Select ad.[HeaderId], ad.[TransId], ad.[ReleaseId]
		, ad.[ResType], ad.[ResourceId]
		, rd.[ResDetailId], ad.[LocId], rd.[LineNumber], rd.[Description], rd.[ScheduleID]
		, ad.[ParentId], ad.[OpStatus]
		, Case When ISNULL(rd.[EfficiencyPct], 0) > 0 Then 100.0/rd.[EfficiencyPct] Else 1.0 End AS [EfficiencyPct]
		, Sum(Case ad.DtlType 
			When 1 Then Case When ISNULL(rd.UseQueue, 1) = 1 Then ad.[ValueNeeded] Else 0 End
			When 2 Then Case When ISNULL(rd.UseMachineSetup, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 3 Then Case When ISNULL(rd.UseMachineRun, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 4 Then Case When ISNULL(rd.UseLaborSetup, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 5 Then Case When ISNULL(rd.UseLaborRun, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 6 Then Case When ISNULL(rd.UseWait, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 7 Then Case When ISNULL(rd.UseMove, 1) = 1 then ad.[ValueNeeded] Else 0 End
			Else 0 
			End) As [ValueNeeded]
		, Sum(Case ad.DtlType 
			When 1 Then Case When ISNULL(rd.UseQueue, 1) = 1 Then ad.[ValueNeeded] Else 0 End
			When 2 Then Case When ISNULL(rd.UseMachineSetup, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 4 Then Case When ISNULL(rd.UseLaborSetup, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 6 Then Case When ISNULL(rd.UseWait, 1) = 1 then ad.[ValueNeeded] Else 0 End
			When 7 Then Case When ISNULL(rd.UseMove, 1) = 1 then ad.[ValueNeeded] Else 0 End
			Else 0 
			End) AS [OverHeadRequired]
		, Sum(Case ad.DtlType 
			When 1 Then Case When ISNULL(rd.UseQueue, 1) = 1 Then ad.[ValueFinished] Else 0 End
			When 2 Then Case When ISNULL(rd.UseMachineSetup, 1) = 1 then ad.[ValueFinished] Else 0 End
			When 3 Then Case When ISNULL(rd.UseMachineRun, 1) = 1 then ad.[ValueFinished] Else 0 End
			When 4 Then Case When ISNULL(rd.UseLaborSetup, 1) = 1 then ad.[ValueFinished] Else 0 End
			When 5 Then Case When ISNULL(rd.UseLaborRun, 1) = 1 then ad.[ValueFinished] Else 0 End
			When 6 Then Case When ISNULL(rd.UseWait, 1) = 1 then ad.[ValueFinished] Else 0 End
			When 7 Then Case When ISNULL(rd.UseMove, 1) = 1 then ad.[ValueFinished] Else 0 End
			Else 0 
			End) As [ValueFinished]
		From #WCActivityDetail ad
		Left Join #ResourceDefaults rd on ad.[ResType] = rd.[ResType] And ad.[ResourceId] = rd.[ResourceId] And ad.[LocId] = rd.[LocId]
		Group By ad.[TransId], ad.[HeaderId], ad.[ReleaseId], ad.[ResType], ad.[ResourceId]
			, rd.[ResDetailId], ad.[LocId], rd.[LineNumber], rd.[Description], rd.[ScheduleID]
			, ad.[ParentId], ad.[OpStatus], rd.[EfficiencyPct]
	) tmp
	INNER JOIN dbo.tblMpTimeSum s ON tmp.[TransId] = s.[TransId]
	INNER JOIN dbo.tblMpRequirements r ON s.[TransId] = r.[TransId]
	INNER JOIN dbo.tblMpOrderReleases t ON r.[ReleaseId] = t.[Id]
	INNER JOIN dbo.tblMpOrder o ON t.[OrderNo] = o.[OrderNo]
	INNER JOIN dbo.tblMrWorkCenter w on s.[WorkCenterId] = w.[WorkCenterId]
	INNER JOIN #FGInfo g ON r.[ReleaseId] = g.[ReleaseId]
	LEFT JOIN dbo.tblArCust c ON t.[CustId] = c.[CustId]

	--Populate Actitivy Detail
	Select @ActDtlIdOffset = isnull(Max([Id]), 0) From [dbo].[tblCsResourceActivityDetail]
	Insert Into dbo.tblCsResourceActivityDetail ([Id], [HeaderId], [DtlType], [ValueNeeded], [ValueFinished])
	Select @ActDtlIdOffset + tmp.[Id], @ActIdOffset + tmp.[HeaderId], [DtlType], [ValueNeeded], [ValueFinished]
		From #WCActivityDetail tmp
		Where [ValueNeeded] <> 0 OR [ValueFinished] <> 0
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_MPWorkCenter_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CsGenerateResourceActivity_MPWorkCenter_proc'
GO
