USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_EcMailControlUpdate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_EcMailControlUpdate_proc]
@ImportBatchId as nvarchar(14)
AS
SET NOCOUNT ON  
BEGIN TRY  

	-- Doc Id if incorrrect 
	--UPDATE m SET DocId=DocId+'-I'
	--FROM tblEcMailControl m 
	--WHERE ImportBatchId=@ImportBatchId  AND (DocId='997' OR (LEN(DocId)=3 AND LEFT (DocId,1)='8'))

	-- edi doc num
	UPDATE m SET EdiDocNum=d.EdiDocNum
	FROM tblEcMailControl m 
	INNER JOIN tblEcDocument d ON m.DocID=d.ID
	WHERE m.ImportBatchId=@ImportBatchId


	-- update partner
	UPDATE m SET PartnerId=pd.PartnerId
	FROM tblEcMailControl m 
	INNER JOIN (SELECT DocId,MailId,MAX(PartnerId) PartnerId
				FROM (SELECT DISTINCT Mailid,DocId,PartnerId
					FROM tblEcPartnerDoc
					UNION
					SELECT DISTINCT MailId,DocId,PartnerId
					FROM   tblEcPartnerDocOverride) x
				GROUP BY  DocId,MailId
				HAVING COUNT(*)=1  
				) pd ON m.DocId=pd.DocID AND m.SenderID=pd.MailID
	INNER JOIN tblEcPartner p ON pd.PartnerId=p.ID
	WHERE m.ImportBatchId=@ImportBatchId

END TRY  
BEGIN CATCH
    EXEC dbo.trav_RaiseError_proc  
END CATCH  
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcMailControlUpdate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_EcMailControlUpdate_proc'
GO
