USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DSViewRebuildAll_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DSViewRebuildAll_proc]
AS
SET NOCOUNT ON
BEGIN TRY

	Declare @curEntity cursor
	Declare @EntityName nvarchar(255)
	
	--Rebuild views for entities with custom fields
	Set @curEntity = Cursor for 
		Select EntityName From dbo.tblSmCustomFieldEntity Group by EntityName
		For Read Only
		
	Open @curEntity
	If @@CURSOR_ROWS <> 0
	Begin
		Fetch Next From @curEntity Into @EntityName
		While (@@FETCH_STATUS = 0)
		Begin
			Exec dbo.trav_DSViewBuilder_proc @EntityName
			Fetch Next From @curEntity Into @EntityName
		End
		Close @curEntity
	End
	Deallocate @curEntity

	--Reset existing views that don't have custom fields
	Declare @curViewList cursor
	Declare @viewName nvarchar(255)
	
	Set @curViewList = Cursor for 
		Select [name], substring(name, 6, len([name]) - 10) AS [EntityName] From sys.views 
			where [name] like N'trav_tbl%_view'
				and substring(name, 6, len([name]) - 10) not in (Select EntityName From dbo.tblSmCustomFieldEntity) --not already processed
				and substring(name, 6, len([name]) - 10) in (Select [name] From sys.tables) --mapped to a valid table definition
			order by [name]
		For Read Only
		
	Open @curViewList
	If @@CURSOR_ROWS <> 0
	Begin
		Fetch Next From @curViewList Into @viewName, @EntityName
		While (@@FETCH_STATUS = 0)
		Begin
			Exec dbo.trav_DSViewBuilder_proc @EntityName
			Fetch Next From @curViewList Into @viewName, @EntityName
		End
		Close @curViewList
	End
	Deallocate @curViewList

	--return any errors generated by the execution
	Return @@Error
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DSViewRebuildAll_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DSViewRebuildAll_proc'
GO
