USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArSettlement_InsertInvoiceAmount_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArSettlement_InsertInvoiceAmount_proc]    
AS    
SET NOCOUNT ON    
BEGIN TRY    
INSERT INTO #Settlement_InvoiceAmount (InvoiceID, CurrencyID, BalanceBase, DiscountBase, Balance, Discount)      
      SELECT ISNULL(ai.[Counter], oi.[Counter])      
            , ISNULL(ai.CurrencyId, oi.CurrencyID)      
            , SUM(SIGN(ISNULL(ai.[RecType], oi.[RecType])) *
				CASE WHEN ai.[Counter] IS NULL       
                  THEN       
                       oi.Amt      
                  ELSE       
                        CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.Amt - oi.GainLossAmount ELSE -( oi.Amt - oi.GainLossAmount) END      
                  END)      
            , SUM(SIGN(ISNULL(ai.[RecType], oi.[RecType])) *
				CASE WHEN ai.[Counter] IS NULL       
                  THEN      
                        oi.DiscAmt      
                  ELSE      
                        CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.DiscAmt ELSE - oi.DiscAmt END      
                  END)      
      
            , SUM(SIGN(ISNULL(ai.[RecType], oi.[RecType])) *
				CASE WHEN ai.[Counter] IS NULL       
                  THEN       
                        oi.[AmtFgn]      
                  ELSE       
                        CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedAmount ELSE -oi.AppliedAmount END      
                  END)      
            , SUM(SIGN(ISNULL(ai.[RecType], oi.[RecType])) *
				CASE WHEN ai.[Counter] IS NULL       
                  THEN      
                        oi.DiscAmtFgn      
                  ELSE      
                        CASE WHEN SIGN(ai.RecType) = SIGN(oi.RecType) THEN oi.AppliedDiscount ELSE -oi.AppliedDiscount END      
                  END)      
      FROM dbo.tblArOpenInvoice oi      
      LEFT JOIN dbo.tblArOpenInvoice ai ON oi.InvoiceID = ai.[Counter] --link payments from oi to applied invoices in ai     
      INNER JOIN #SettledInvoiceInfo t ON t.[Counter] = ISNULL(ai.Counter, oi.Counter)           
      GROUP BY ISNULL(ai.[Counter], oi.[Counter]), ISNULL(ai.CurrencyId, oi.CurrencyID)      
END TRY    
BEGIN CATCH    
 EXEC dbo.trav_RaiseError_proc    
END CATCH 
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_InsertInvoiceAmount_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArSettlement_InsertInvoiceAmount_proc'
GO
