USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_CmActivityReport_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_CmActivityReport_proc]
@ViewNotes bit = 1, 
@SortBy tinyint = 0 -- 0 = Activity Type, 1 = User ID

AS
BEGIN TRY
	SET NOCOUNT ON

	-- Activity resultset
	SELECT a.ID AS ActivityID
		, CASE @SortBy 
			WHEN 0 THEN CASE WHEN a.[Source] <> 0 THEN 'System Defined' ELSE t.Descr END 
			WHEN 1 THEN a.UserID 
			END AS GrpId1
		, CASE @SortBy 
			WHEN 0 THEN a.UserID 
			WHEN 1 THEN CASE WHEN a.[Source] <> 0 THEN 'System Defined' ELSE t.Descr END 
			END AS GrpId2
		, CASE WHEN a.[Source] <> 0 THEN 'System Defined' ELSE t.Descr END AS ActivityType
		, a.UserID, a.EntryDate, c.ContactName AS Contact, a.Descr AS [Description]
		, a.Value, a.Duration, p.Descr AS CampaignDescription
		, CASE WHEN @ViewNotes <> 0 THEN a.Notes ELSE NULL END AS Notes 
	FROM #ActivityList l 
		INNER JOIN dbo.tblCmActivity a ON l.ActivityID = a.ID 
		LEFT JOIN dbo.tblCmActivityType t ON a.ActTypeID = t.ID 
		LEFT JOIN dbo.tblCmContact c ON a.ContactID = c.ID 
		LEFT JOIN dbo.tblCmCampaign p ON a.CampaignID = p.ID

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmActivityReport_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_CmActivityReport_proc'
GO
