USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArRecurDetail_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArRecurDetail_proc]
@RecurId nvarchar (8)
AS
BEGIN TRY
	SET NOCOUNT ON

	SELECT ItemId, Descr, AddnlDescr, LocId, TaxClass, Quantity, Units, AcctCode
		, GLAcctSales, GLAcctCOGS, GLAcctInv, CatId, PriceId, UnitCost, UnitPrice
		, CAST(UnitCost * Quantity AS float) AS ExtCost, CAST(UnitPrice * Quantity AS float) AS ExtPrice ,CustomerPartNumber 
	FROM dbo.tblArRecurDetail WHERE RecurId = @RecurId ORDER BY LineSeq

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArRecurDetail_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArRecurDetail_proc'
GO
