USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_ApplyDeposits_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_ApplyDeposits_proc]
AS
BEGIN TRY

	DECLARE @PrecCurr smallint,@CurrBase [nvarchar](6) ,@InHsVendor nvarchar(10),@WksDate datetime,
		@PostRun nvarchar(14),@PostAsHeld bit,@wksPeriod smallint, @wksYear smallint
	DECLARE  @TransTypePODeposit nvarchar(10)

	--Retrieve global values
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @PostAsHeld = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'Held'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @wksPeriod = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'WrkStnPeriod'
	SELECT @wksYear = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'WrkStnYear'	
	SELECT @TransTypePODeposit = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePODeposit'  --�PODEPOSIT� 
	IF @PrecCurr IS NULL OR @CurrBase IS NULL OR @PostRun IS NULL 	OR @PostAsHeld IS NULL	OR @WksDate IS NULL 
		OR  @wksPeriod IS NULL OR @wksYear IS NULL OR @TransTypePODeposit IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END
	
	CREATE TABLE #TransPostDeposit1a
	(	[Counter] int NOT NULL IDENTITY, 	
		VendorID nvarchar(10) NOT NULL, 
		InvcNum nvarchar(15) NOT NULL, 
		GLPeriod smallint NULL DEFAULT(0), 
		FiscalYear smallint NULL DEFAULT(0), 
		PaidStatus tinyint NULL, 
		Ten99InvoiceYN bit NOT NULL, 
		DistCode nvarchar(6) NULL, 
		TermsCode nvarchar(6) NULL, 
		InvoiceDate datetime NULL, 
		NetDueDate datetime NULL, 
		DiscDueDate datetime NULL, 
		DiscAmt decimal(28,10) NULL DEFAULT (0), 
		DiscAmtFgn decimal(28,10) NULL DEFAULT (0), 
		GrossAmtDue decimal(28,10) NULL DEFAULT (0), 
		BaseGrossAmtDue decimal(28,10) NULL , 
		GrossAmtDueFgn decimal(28,10) NULL DEFAULT (0), 
		CheckNum nvarchar(10) NULL, 
		CheckDate datetime NULL, 
		CurrencyID nvarchar(6) NOT NULL, 
		ExchRate [decimal](28,10) NULL DEFAULT (1),
		CheckYear smallint NULL DEFAULT(0),
		CheckPeriod smallint NULL DEFAULT(0),
		BankID nvarchar (10) NULL, 
		PmtCurrencyId [nvarchar](6) NULL,
		PmtExchRate [decimal](28,10) NULL DEFAULT (1),
		Notes nvarchar(max) null,  
		PostRun [nvarchar](14) NULL ,
		TransID nvarchar(255) NULL ,
		GlAccount [nvarchar](255) NULL,
		APGrossAmountDue [decimal](28,10) NULL,
		GroupID bigint null,
		PRIMARY KEY (Counter) 
	)
	CREATE TABLE #ApplyAmount
	(
		ID bigint ,
		AmountToApply [decimal](28,10) NOT NULL)
	

	INSERT INTO #ApplyAmount( ID,AmountToApply)

	SELECT  d.ID, CASE WHEN d.RunningBalance <= v.InvoiceBalance THEN d.DepositBalance
	WHEN d.RunningBalance > v.InvoiceBalance AND (d.RunningBalance - d.DepositBalance) < v.InvoiceBalance THEN 
		v.InvoiceBalance - (d.RunningBalance - d.DepositBalance)
	ELSE 0 END AS AmountToApply
	FROM

	(SELECT a.Id, a.TransId, a.DepositBalance,
		(SELECT SUM(b.DepositBalance) 
		 FROM (SELECT ROW_NUMBER() OVER (ORDER BY TransId, DepositDate, Amount - AmountApplied, ID) as RowID, ID, TransId, Amount - AmountApplied AS DepositBalance
			   FROM dbo.tblPoTransDeposit 
	           WHERE PostRun IS NOT NULL AND Amount - AmountApplied > 0) b
		 WHERE b.RowID <= a.RowID AND b.TransId = a.TransId) AS RunningBalance
	 FROM 
	 (SELECT ROW_NUMBER() OVER (ORDER BY TransId, DepositDate, Amount - AmountApplied, ID) as RowID, ID, TransId, Amount - AmountApplied AS DepositBalance
	  FROM dbo.tblPoTransDeposit 
	  WHERE PostRun IS NOT NULL AND Amount - AmountApplied > 0) a) d --deposit balance
 	INNER JOIN 
	(SELECT i.TransId, i.InvoiceDue - ISNULL(a.AppliedTotal, 0) AS InvoiceBalance FROM
		(SELECT TransId, SUM(PostTaxableFgn + PostNonTaxableFgn + PostSalesTaxFgn + PostFreightFgn + PostMiscFgn - PostPrepaidFgn
								+CurrTaxableFgn + CurrNonTaxableFgn + CurrSalesTaxFgn + CurrFreightFgn + CurrMiscFgn - CurrPrepaidFgn) InvoiceDue
		 FROM dbo.tblPoTransInvoiceTot
		 WHERE (PostTaxableFgn + PostNonTaxableFgn + PostSalesTaxFgn + PostFreightFgn + PostMiscFgn - PostPrepaidFgn
				+CurrTaxableFgn + CurrNonTaxableFgn + CurrSalesTaxFgn + CurrFreightFgn + CurrMiscFgn - CurrPrepaidFgn) > 0
		 GROUP BY TransId) i 
		 LEFT JOIN 
		(SELECT TransID, SUM(AmountApplied) AS AppliedTotal
		 FROM dbo.tblPoTransDeposit
		 GROUP BY TransID) a
		 ON i.TransId = a.TransID 
	 WHERE i.InvoiceDue - ISNULL(a.AppliedTotal, 0) > 0) v 
	 ON d.TransID = v.TransId --invoice balance
	 INNER JOIN #PostTransList b ON v.TransId = b.TransId 

	 --invoice 

	 INSERT INTO  #TransPostDeposit1a
	( VendorID, InvcNum,PaidStatus, Ten99InvoiceYN, DistCode, 
	  InvoiceDate, NetDueDate, DiscDueDate,GrossAmtDue, BaseGrossAmtDue, DiscAmt, GrossAmtDueFgn, DiscAmtFgn,  CheckNum, 
	  CheckDate, CurrencyId, ExchRate, GLPeriod, FiscalYear, CheckPeriod, CheckYear,TermsCode, BankID, PmtCurrencyId, PmtExchRate, 
	  Notes, PostRun, TransId,GlAccount,APGrossAmountDue,GroupID) 

	SELECT h.VendorId,'Deposit' + d.TransId, 1,0,	i.DistCode,@WksDate,@WksDate,@WksDate
			, ROUND(ap.AmountToApply * et.Rate,@PrecCurr),ROUND(ap.AmountToApply * et.Rate,@PrecCurr)
			,0,ap.AmountToApply,0,	NULL,NULL,i.CurrencyID,i.ExchRate,@wksPeriod,@wksYear,0,0,i.TermsCode
			,NULL,NULL,1,D.Notes,@PostRun,d.ID,i.GLAcctAP
			, CASE WHEN a.CurrencyID = i.CurrencyID THEN ap.AmountToApply
				  ELSE 	ROUND(ea.Rate * ap.AmountToApply,ea.CurrDecPlaces) END  APGrossAmtDue
			,d.InvoiceCounter	
	FROM #PostTransList s
	INNER JOIN dbo.tblPoTransHeader h ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransDeposit d ON h.TransID = d.TransID
	INNER JOIN #ApplyAmount ap ON ap.ID = d.ID
	INNER JOIN dbo.tblApOpenInvoice i ON i.[Counter] = d.InvoiceCounter
	INNER JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 
	LEFT JOIN dbo.tblGlAcctHdr a ON i.GLAcctAP =a.AcctId
	LEFT JOIN ( SELECT e.[Source],e.Rate,TransKey FROM tblSmExchangeRateTrans e				
				WHERE e.TransType =@TransTypePODeposit AND e.Destination = @CurrBase ) et
				ON et.[Source] = i.CurrencyId  AND et.TransKey= CAST(d.ID AS nvarchar(255))

	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypePODeposit ) ea
				ON  ea.[Source] =i.CurrencyID AND ea.Destination= a.CurrencyId AND ea.TransKey=d.ID

	
	--Debit Memo

	 INSERT INTO  #TransPostDeposit1a
	( VendorID, InvcNum,PaidStatus, Ten99InvoiceYN, DistCode, 
	  InvoiceDate, NetDueDate, DiscDueDate,GrossAmtDue, BaseGrossAmtDue, DiscAmt, GrossAmtDueFgn, DiscAmtFgn,  CheckNum, 
	  CheckDate, CurrencyId, ExchRate, GLPeriod, FiscalYear, CheckPeriod, CheckYear,TermsCode, BankID, PmtCurrencyId, PmtExchRate, 
	  Notes, PostRun, TransId,GlAccount,APGrossAmountDue,GroupID) 

	SELECT h.VendorId,'Deposit' + d.TransId, CASE WHEN @PostAsHeld=1 THEN 1 ELSE 0 END,0,	i.DistCode,@WksDate,@WksDate,@WksDate
			,-1 * ROUND(ap.AmountToApply * et.Rate,@PrecCurr), -1 * ROUND(ap.AmountToApply * et.Rate,@PrecCurr)
			,0,-1 * ap.AmountToApply,0,	NULL,NULL,i.CurrencyID,i.ExchRate,@wksPeriod,@wksYear,0,0,i.TermsCode
			,NULL,NULL,1,D.Notes,@PostRun,d.ID,dc.PayablesGLAcct
			,  -1 * CASE WHEN a.CurrencyID = i.CurrencyID THEN ap.AmountToApply
				  ELSE 	ROUND(ea.Rate * ap.AmountToApply,ea.CurrDecPlaces) END  APGrossAmtDue
			,NULL	
	FROM #PostTransList s
	INNER JOIN dbo.tblPoTransHeader h ON s.TransId = h.TransID
	INNER JOIN dbo.tblPoTransDeposit d ON h.TransID = d.TransID
	INNER JOIN #ApplyAmount ap ON ap.ID = d.ID
	INNER JOIN dbo.tblApOpenInvoice i ON i.[Counter] = d.InvoiceCounter
	INNER JOIN dbo.tblApDistCode dc ON h.DistCode = dc.DistCode 
	LEFT JOIN dbo.tblGlAcctHdr a ON dc.PayablesGLAcct =a.AcctId
	LEFT JOIN ( SELECT e.[Source],e.Destination,e.Rate,TransKey FROM tblSmExchangeRateTrans e				
				WHERE e.TransType =@TransTypePODeposit AND e.Destination = @CurrBase ) et
				ON  et.[Source] = i.CurrencyID  AND et.TransKey= CAST(d.ID AS nvarchar(255)) 

	LEFT JOIN( SELECT e.[Source],e.Destination,e.Rate,c.CurrDecPlaces,TransKey FROM tblSmExchangeRateTrans e
							INNER JOIN tblSmCurrency c ON e.Destination =c.CurrID AND e.TransType =@TransTypePODeposit ) ea
				ON  ea.[Source] =i.CurrencyID  AND ea.Destination= a.CurrencyId AND ea.TransKey=CAST(d.ID AS nvarchar(255))


	-- Raise Invalid Exchange rate exception
	IF EXISTS( SELECT TransID FROM #TransPostDeposit1a WHERE (APGrossAmountDue IS NULL ) OR (GrossAmtDue IS NULL))
	BEGIN
		THROW 90027, N'Invalid exchange information.', 1
	END

		--Update OpenInvoice table
	INSERT INTO dbo.tblApOpenInvoice 
		(VendorID, InvoiceNum, Status, Ten99InvoiceYN, DistCode, TermsCode, InvoiceDate, 
		NetDueDate, DiscDueDate, DiscAmt, DiscAmtFgn, GrossAmtDue, BaseGrossAmtDue, GrossAmtDueFgn, 
		CheckNum, CheckDate, CurrencyId, ExchRate, GlPeriod, FiscalYear, CheckYear, CheckPeriod, BankID, PmtCurrencyId, 
		PmtExchRate,  Notes, PostRun, TransId,GLAcctAP,APGrossAmtDue, GroupID) 
	SELECT VendorID, InvcNum, PaidStatus, Ten99InvoiceYN, DistCode, TermsCode, InvoiceDate, 
		NetDueDate, DiscDueDate, DiscAmt, DiscAmtFgn, GrossAmtDue, BaseGrossAmtDue, GrossAmtDueFgn, 
		CheckNum, CheckDate, CurrencyID, ExchRate, GlPeriod, FiscalYear, CheckYear, CheckPeriod, BankID, 
		PmtCurrencyId, PmtExchRate,  Notes, PostRun, TransId,GlAccount,APGrossAmountDue, GroupID
	FROM #TransPostDeposit1a

	--Payables Entry
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], TransDate, PostDate
									,Descr, Reference, GlAcct, DR, CR, FiscalYear, 	LinkID, LinkIDSub, LinkIDSubLine
									, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)

	SELECT @PostRun, d.TransID,'Deposit' + d.TransId, @wksPeriod, 99999, 400
			 ,@WksDate, @WksDate
			 , CASE WHEN SUBSTRING(d.Notes, 1, 30) IS NULL THEN 'Deposit' + d.TransId
					WHEN SUBSTRING(d.Notes, 1, 30) ='' THEN 'Deposit' + d.TransId 
					ELSE SUBSTRING(d.Notes, 1, 30) END
			  , h.VendorId, dc.PayablesGLAcct, ROUND(ap.AmountToApply*et.Rate,@PrecCurr)  ,0,@wksYear
			 ,d.TransID,NULL,0,i.CurrencyID,ap.AmountToApply,0,d.ID,@TransTypePODeposit,ROUND(ap.AmountToApply*et.Rate,@PrecCurr),ap.AmountToApply

	FROM dbo.tblPoTransDeposit d
	INNER JOIN #ApplyAmount ap ON ap.ID = d.ID
	INNER JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransId
	INNER JOIN dbo.tblApOpenInvoice i ON i.[Counter] = d.InvoiceCounter 
	INNER JOIN dbo.tblApDistCode dc ON i.DistCode = dc.DistCode 
	LEFT JOIN ( SELECT e.[Source],e.Destination,e.Rate,TransKey FROM tblSmExchangeRateTrans e				
				WHERE e.TransType =@TransTypePODeposit AND e.Destination = @CurrBase ) et
				ON  et.[Source] =i.CurrencyId  AND et.TransKey= CAST(d.ID AS nvarchar(255))

	--Deposit Entry

	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, [Grouping], TransDate, PostDate
									,Descr, Reference, GlAcct, DR, CR, FiscalYear, 	LinkID, LinkIDSub, LinkIDSubLine
									, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)

	SELECT @PostRun, d.TransID,'Deposit' + d.TransId, @wksPeriod, 99999, 401
			 ,@WksDate, @WksDate  
			 , CASE WHEN SUBSTRING(d.Notes, 1, 30) IS NULL THEN 'Deposit' + d.TransId
					WHEN SUBSTRING(d.Notes, 1, 30) ='' THEN 'Deposit' + d.TransId 
					ELSE SUBSTRING(d.Notes, 1, 30) END
			 , h.VendorId, d.DepositGLAcct,0, ROUND(ap.AmountToApply*et.Rate,@PrecCurr)  ,@wksYear
			 ,d.TransID,NULL,0,i.CurrencyID,0,ap.AmountToApply,d.ID,@TransTypePODeposit
			 , -1 * ROUND(ap.AmountToApply*et.Rate,@PrecCurr), -1 * ap.AmountToApply

	FROM dbo.tblPoTransDeposit d
	INNER JOIN #ApplyAmount ap ON ap.ID = d.ID
	INNER JOIN dbo.tblPoTransHeader h ON d.TransID = h.TransId
	INNER JOIN dbo.tblApOpenInvoice i ON i.[Counter] = d.InvoiceCounter 
	LEFT JOIN ( SELECT e.[Source],e.Destination,e.Rate,TransKey FROM tblSmExchangeRateTrans e				
				WHERE e.TransType =@TransTypePODeposit AND e.Destination = @CurrBase ) et
				ON  et.[Source]= i.CurrencyId  AND et.TransKey= CAST(d.ID AS nvarchar(255))


	UPDATE dbo.tblPoTransDeposit 
		SET AmountApplied =AmountApplied + ap.AmountToApply,
		AmountAppliedBase =	AmountAppliedBase + ROUND(ap.AmountToApply *et.Rate,@PrecCurr)		
	FROM dbo.tblPoTransDeposit d
	INNER JOIN #ApplyAmount ap ON ap.ID = d.ID
	INNER JOIN dbo.tblApOpenInvoice i ON  d.InvoiceCounter =i.[Counter]	
	LEFT JOIN ( SELECT e.[Source],e.Destination,e.Rate,TransKey FROM tblSmExchangeRateTrans e				
				WHERE e.TransType =@TransTypePODeposit AND e.Destination = @CurrBase ) et
				ON  et.[Source]= i.CurrencyId AND et.TransKey= CAST(d.ID AS nvarchar(255))
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ApplyDeposits_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_ApplyDeposits_proc'
GO
