USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ApUnRealizedGainsAndLossesPost_Calculate_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ApUnRealizedGainsAndLossesPost_Calculate_proc]
@FiscalYear Smallint = 2013,
@GlPeriod Smallint = 12,
@PrecCurr Tinyint = 2 ,
@CurrBase [nvarchar](6) = 'USD'
AS
BEGIN TRY


	IF @FiscalYear IS NULL OR @GlPeriod IS NULL OR @CurrBase IS NULL
		OR @PrecCurr IS NULL
		
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	-- Tables from BL
	-- CREATE TABLE #tmpUnrealGainLoss 
	--  (
	--	Counter int 
	--	,AcctId [nvarchar](255) NOT NULL
	--	, DebitAmt [decimal](28,10) NULL
	--	, CreditAmt [decimal](28,10) NULL
	--	, CurrencyID [nvarchar](6) NOT NULL
	--	, AmountFgn [decimal](28,10) NULL
	--	, DebitAmtFgn [decimal](28,10) NULL
	--	, CreditAmtFgn [decimal](28,10) NULL
	--	,[ExchRate] [decimal](28,10) NOT NULL
	--)

	--CREATE TABLE #Unposted
	--(
	--	[Counter] int
	--	, CurAmtAP [decimal](28,3) NULL
	--	, AmountDueAP [decimal](28,3) NULL
	--	, CurAmtBase [decimal](28,3) NULL
	--	, AmountDueBase [decimal](28,3) NULL
	--	, AmountAP [decimal](28,3) NULL-- Amount in Account payable currency
	--	, AmountBase [decimal](28,3) NULL--  Amount in base currency
	--	, AmountGainLoss [decimal](28,3) NULL-- Amount in gain loss currency		
	--	, AcctIDAP [nvarchar](255) NULL
	--	, AcctIDGainLoss [nvarchar](255) NULL
	--	, CurrencyIDAP 	pCurrency	
	--)
	
	CREATE TABLE #DetailEntries
	(	
		[Counter] int		
		, [GlAccount] [nvarchar](255) NULL			
		, [Description] [nvarchar] (800)
		, SourceCode [nvarchar] (2)
		, Reference [nvarchar] (15)
		, [DebitAmount] [decimal](28,3) NOT NULL
		, [CreditAmount] [decimal](28,3) NOT NULL		
		, FiscalYear [smallint]
		, FiscalPeriod [smallint]
		, [DebitAmountFgn] [decimal](28,3) NOT NULL	
		, [CreditAmountFgn]	[decimal](28,3) NOT NULL	
		, [ExchRate] [decimal](28,10) NOT NULL		
		, [Grouping]  [smallint] 
		, [AmountFgn] [decimal](28,3) NOT NULL
		, FunctionID nvarchar(20)	
		, APCurrencyID 	[nvarchar](6) NOT NULL
	)

	INSERT INTO #Unposted(
		[Counter]
		, CurAmtAP 
		, AmountDueAP
		, CurAmtBase 
		, AmountDueBase 
		, AmountAP 
		, AmountBase
		, AmountGainLoss 
		, CurrencyIDAP	
		, AcctIDAP
		)
	SELECT 
		i.[Counter]
		, CASE WHEN i.CurrencyId =  h.CurrencyID THEN i.GrossAmtDueFgn ELSE ROUND(i.GrossAmtDueFgn * ep.ExchRate,c.CurrDecPlaces) END
		, i.APGrossAmtDue
		, CASE WHEN i.CurrencyId = @CurrBase THEN i.GrossAmtDueFgn ELSE ROUND(i.GrossAmtDueFgn * e.ExchRate,@PrecCurr)END
		, i.BaseGrossAmtDue
		, i.APGrossAmtDue - CASE WHEN i.CurrencyId =  h.CurrencyID THEN i.GrossAmtDueFgn ELSE ROUND(i.GrossAmtDueFgn * ep.ExchRate,c.CurrDecPlaces) END
		, i.BaseGrossAmtDue - CASE WHEN i.CurrencyId = @CurrBase THEN i.GrossAmtDueFgn ELSE ROUND(i.GrossAmtDueFgn * e.ExchRate,@PrecCurr) END
		, NULL
		, h.CurrencyID
		, h.AcctId
	FROM dbo.tblApOpenInvoice i		
	INNER JOIN dbo.tblGlAcctHdr h ON h.AcctId= i.GLAcctAP
	INNER JOIN #tmpCurrencyList t ON h.CurrencyID = t.CurrencyId
	LEFT JOIN dbo.tblSmCurrency c ON c.CurrID =h.CurrencyId	
	LEFT JOIN 
	(	SELECT ed.Source, ed.[Rate] AS [ExchRate],eh.FiscalYear,eh.FiscalPeriod 
		FROM dbo.tblSmExchangeRate (NOLOCK) eh 	
		INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
		AND ed.Destination = @CurrBase AND eh.[Type] = 1 
	) e 
	ON e.Source= i.CurrencyId AND  e.FiscalYear=@FiscalYear AND e.FiscalPeriod=@GlPeriod
	LEFT JOIN 
	(	SELECT ed.Source,ed.Destination, ed.[Rate] AS [ExchRate],eh.FiscalYear,eh.FiscalPeriod 
		FROM dbo.tblSmExchangeRate (NOLOCK) eh 	
		INNER JOIN dbo.tblSmExchangeRateDetail (NOLOCK) ed ON eh.[ID] = ed.[ExchangeRateID] 
		AND eh.[Type] = 1 
	) ep 
	ON ep.Source= i.CurrencyId AND ep.Destination = h.CurrencyID AND  ep.FiscalYear=@FiscalYear AND ep.FiscalPeriod=@GlPeriod
	WHERE i.Status NOT IN(3,4)  
	AND (i.FiscalYear < @FiscalYear OR (i.FiscalYear = @FiscalYear AND i.GlPeriod <= @GlPeriod))
	AND (i.CurrencyId <> @CurrBase OR h.CurrencyID <> @CurrBase)

	-- Update for gain loss AccountID depending on the value
	UPDATE #Unposted SET AcctIDGainLoss = CASE WHEN AmountAP > 0 THEN cu.GlAcctUnrealGain ELSE cu.GlAcctUnrealLoss END
	FROM #Unposted p
	LEFT JOIN dbo.tblSmCurrency cu ON p.CurrencyIDAP = cu.CurrID
	
	-- Update for amount gain loss
	UPDATE #Unposted SET AmountGainLoss = CASE WHEN g.CurrencyId = @CurrBase THEN p.AmountBase ELSE p.AmountAP END
	FROM #Unposted p	
	LEFT JOIN dbo.tblGlAcctHdr g on p.AcctIdGainLoss = g.AcctId

	DELETE FROM #Unposted WHERE AmountGainLoss = 0 AND AmountAP = 0 AND AmountBase = 0

	-- catch invalid exchange rate  
	IF  EXISTS (SELECT * FROM #Unposted t WHERE t.AmountBase IS NULL OR t.AmountAP IS NULL)  
	BEGIN  
	  THROW 90027, N'Invalid exchange information.', 1  
	END  
	
	-- offset amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries([Counter]
		, [GlAccount]		
		, [DebitAmount]
		, [CreditAmount]			
		, [DebitAmountFgn]
		, [CreditAmountFgn]		 
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
		)
	SELECT g.[Counter] 
		, g.AcctIDAP 		
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 
		, CASE WHEN g.AmountBase > 0 THEN 0 
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END			
		, CASE WHEN g.AmountAP < 0 THEN 0
			   WHEN g.AmountAP > 0 THEN g.AmountAP ELSE 0 END 
		, CASE WHEN g.AmountAP > 0 THEN 0 
			   WHEN g.AmountAP < 0 THEN ABS(g.AmountAP) ELSE 0 END		
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountAP/g.AmountBase END
		, 1
		, g.AmountAP
		, g.CurrencyIDAP
	FROM #Unposted g
	WHERE (g.AmountAP >= 0 and g.AmountBase >= 0) OR (g.AmountAP <= 0 and g.AmountBase <= 0)
	

	-- offset amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries([Counter]
		, [GlAccount]			
		, [DebitAmount]
		, [CreditAmount]			
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
		)
	SELECT g.[Counter]
		,  g.AcctIDAP 		
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE AmountBase END
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END			
		, 0
		, 0
		, 0 --exch rate not applicable
		, 2
		, 0
		, g.CurrencyIDAP
	FROM #Unposted g	
	WHERE (g.AmountAP > 0 and g.AmountBase < 0) OR (g.AmountAP < 0 and g.AmountBase > 0)

	-- offset amount (account currency amount when signs of amount do not match)
	INSERT INTO #DetailEntries( [Counter]
		, [GlAccount]			
		, [DebitAmount]
		, [CreditAmount]		
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
		)
	SELECT g.[Counter]
		, g.AcctIDAP 		
		, 0
		, 0		
		, CASE WHEN g.AmountAP < 0 THEN 0
			   WHEN g.AmountAP > 0 THEN g.AmountAP ELSE 0 END 
		, CASE WHEN g.AmountAP > 0 THEN 0 
			   WHEN g.AmountAP < 0 THEN ABS(g.AmountAP) ELSE 0 END		
		, 0 --exch rate not applicable
		, 3
		, g.AmountAP
		, g.CurrencyIDAP
	FROM #Unposted g	
	WHERE (g.AmountAP > 0 and g.AmountBase < 0) OR (g.AmountAP < 0 and g.AmountBase > 0)

	-- gainloss amount (signs of amounts match or amounts are zero)
	INSERT INTO #DetailEntries( [Counter]
		, [GlAccount]		
		, [DebitAmount]
		, [CreditAmount]		
		, [DebitAmountFgn]
		, [CreditAmountFgn]		
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
	)
	SELECT g.[Counter]
		, g.AcctIDGainLoss 		
		, CASE WHEN g.AmountBase > 0 THEN 0
			   WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END 
		, CASE WHEN g.AmountBase < 0 THEN 0
			   WHEN g.AmountBase > 0 THEN g.AmountBase ELSE 0 END 		
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, CASE WHEN g.AmountBase = 0 THEN 0 ELSE g.AmountGainLoss/g.AmountBase END
		, 4
		, g.AmountGainLoss
		, h.CurrencyID
	FROM  #Unposted g	
	LEFT JOIN tblGlAcctHdr h ON g.AcctIDGainLoss= h.AcctId
	WHERE (g.AmountAP >= 0 and g.AmountBase >= 0) OR (g.AmountAP <= 0 and g.AmountBase <= 0)

	-- gainloss amount (functional currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [Counter]
		, [GlAccount]		
		, [DebitAmount]
		, [CreditAmount]		
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
	)
	SELECT g.[Counter]
		, g.AcctIDGainLoss 		
		, CASE WHEN g.AmountBase < 0 THEN ABS(g.AmountBase) ELSE 0 END
		, CASE WHEN g.AmountBase < 0 THEN 0 ELSE g.AmountBase END		
		, 0
		, 0
		, 0 --exch rate not applicable
		, 5
		, 0
		, h.CurrencyID
	FROM #Unposted g	
	LEFT JOIN tblGlAcctHdr h ON g.AcctIDGainLoss= h.AcctId
	WHERE (g.AmountAP > 0 and g.AmountBase < 0) OR (g.AmountAP < 0 and g.AmountBase > 0)

	-- gainloss amount (account currency amount when signs of amounts do not match)
	INSERT INTO #DetailEntries( [Counter]
		, [GlAccount]			
		, [DebitAmount]
		, [CreditAmount]		
		, [DebitAmountFgn]
		, [CreditAmountFgn]
		, [ExchRate]
		, [Grouping] 
		, [AmountFgn]
		, APCurrencyID
	)
	SELECT g.[Counter]
		, g.AcctIDGainLoss 		
		, 0
		, 0		
		, CASE WHEN g.AmountGainLoss > 0 THEN 0
			   WHEN g.AmountGainLoss < 0 THEN ABS(g.AmountGainLoss) ELSE 0 END 
		, CASE WHEN g.AmountGainLoss < 0 THEN 0
			   WHEN g.AmountGainLoss > 0 THEN g.AmountGainLoss ELSE 0 END 
		, 0 --exch rate not applicable
		, 6
		, g.AmountGainLoss
		, h.CurrencyID
	FROM #Unposted g	
	LEFT JOIN tblGlAcctHdr h ON g.AcctIDGainLoss= h.AcctId
	WHERE (g.AmountAP > 0 and g.AmountBase < 0) OR (g.AmountAP < 0 and g.AmountBase > 0)


	INSERT INTO #tmpUnrealGainLoss ([Counter] ,AcctId, DebitAmt,CreditAmt,CurrencyID,AmountFgn, DebitAmtFgn,CreditAmtFgn,ExchRate)
	SELECT [Counter],GlAccount, DebitAmount,CreditAmount,APCurrencyID,AmountFgn,DebitAmountFgn,CreditAmountFgn,ExchRate
	FROM #DetailEntries
	WHERE [DebitAmount] <> 0 OR [CreditAmount] <> 0  OR [DebitAmountFgn]<>0  OR [CreditAmountFgn]<>0  OR [AmountFgn] <>0

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApUnRealizedGainsAndLossesPost_Calculate_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ApUnRealizedGainsAndLossesPost_Calculate_proc'
GO
