USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_BmWorkOrderPost_History_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_BmWorkOrderPost_History_proc]
AS
BEGIN TRY
DECLARE @PostRun nvarchar(14)

--Retrieve global values
SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
IF @PostRun IS NULL
BEGIN
	THROW 90025, N'Missing global value.', 1
END

INSERT INTO dbo.tblBmWorkOrderHist (PostRun, TransId, EntryNum, TransDate, WorkType, Status, PrintedYn
	, BmBomId, ItemId, LocId, ItemType, BuildUOM, BuildQty, ActualQty, LaborCost, UnitCost, ConvFactor
	, GLPeriod, GlYear, SumHistPeriod, QtySeqNum, HistSeqNum, WorkUser, Descr, UomBase
	, ItemStatus, ItemLocStatus, GLAcctCode, ExtLocAID, ExtLocBID, QtySeqNum_Ext, QtyStatus, CF
	, QuantityID, QuantityExtID, HistoryID)
SELECT @PostRun, h.TransId, h.EntryNum, h.TransDate, h.WorkType, h.Status, h.PrintedYn
	, h.BmBomId, h.ItemId, h.LocId, h.ItemType, h.BuildUOM, h.BuildQty, h.ActualQty, h.LaborCost, h.UnitCost, h.ConvFactor
	, h.GLPeriod, h.GlYear, h.SumHistPeriod, h.QtySeqNum, h.HistSeqNum, h.WorkUser, b.Descr, i.UomBase
	, i.ItemStatus, l.ItemLocStatus, GLAcctCode, bin.ExtLocID, cont.ExtLocID, QtySeqNum_Ext, QtyStatus, h.CF
	, h.QuantityID, h.QuantityExtID, h.HistoryID 
FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrder h ON t.TransId = h.TransId 
	INNER JOIN dbo.tblBmBom b ON b.BmBomId = h.BmBomId 
	INNER JOIN dbo.tblInItem i ON h.ItemId = i.ItemId 
	INNER JOIN dbo.tblInItemLoc l ON h.ItemId = l.ItemId AND h.LocId = l.LocId 
	LEFT JOIN dbo.tblWmExtLoc bin ON bin.Id = h.ExtLocA
	LEFT JOIN dbo.tblWmExtLoc cont ON cont.Id = h.ExtLocB

INSERT INTO dbo.tblBmWorkOrderHistDetail(PostRun, TransId, EntryNum, ItemId, LocId, ItemType
	, OriCompQty, EstQty, ActQty, Uom, ConvFactor, UnitCost, QtySeqNum, HistSeqNum, ExtLocAID, ExtLocBID, QtySeqNum_Ext, QtyStatus, CF
	, QuantityID, QuantityExtID, HistoryID)
SELECT @PostRun, d.TransId, d.EntryNum, d.ItemId, d.LocId, d.ItemType
	, d.OriCompQty, d.EstQty, d.ActQty, d.Uom, d.ConvFactor, d.UnitCost, d.QtySeqNum, d.HistSeqNum, bin.ExtLocID, cont.ExtLocID, QtySeqNum_Ext, QtyStatus, d.CF 
	, d.QuantityID, d.QuantityExtID, d.HistoryID
FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrderDetail d ON t.TransId = d.TransId 
LEFT JOIN dbo.tblWmExtLoc bin ON bin.Id = d.ExtLocA
LEFT JOIN dbo.tblWmExtLoc cont ON cont.Id = d.ExtLocB

INSERT INTO dbo.tblBmWorkOrderHistLot (PostRun, TransId, EntryNum, SeqNum, ItemId, LocId, LotNum
	, QtyOrder, QtyFilled, QtyBkord, CostUnit, CostUnitFgn, HistSeqNum, Cmnt, QtySeqNum, ExtLocAID, ExtLocBID, QtySeqNum_Ext, QtyStatus, CF
	, QuantityID, QuantityExtID, HistoryID)
SELECT @PostRun, l.TransId, l.EntryNum, l.SeqNum, l.ItemId, l.LocId, l.LotNum
	, l.QtyOrder, l.QtyFilled, l.QtyBkord, l.CostUnit, l.CostUnitFgn, l.HistSeqNum, l.Cmnt, l.QtySeqNum, bin.ExtLocID, cont.ExtLocID, QtySeqNum_Ext, QtyStatus, l.CF 
	, l.QuantityID, l.QuantityExtID, l.HistoryID
FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrderLot l ON t.TransId = l.TransId 
LEFT JOIN dbo.tblWmExtLoc bin ON bin.Id = l.ExtLocA
LEFT JOIN dbo.tblWmExtLoc cont ON cont.Id = l.ExtLocB

INSERT INTO dbo.tblBmWorkOrderHistSer (PostRun, TransId, EntryNum, SeqNum, ItemId, LocId, LotNum
	, SerNum, CostUnit, CostUnitFgn, PriceUnit, PriceUnitFgn, HistSeqNum, Cmnt, QtySeqNum, ExtLocAID, ExtLocBID, QtyStatus, CF
	, HistorySerID)
SELECT @PostRun, r.TransId, r.EntryNum, r.SeqNum, r.ItemId, r.LocId, r.LotNum
	, r.SerNum, r.CostUnit, r.CostUnitFgn, r.PriceUnit, r.PriceUnitFgn, r.HistSeqNum, r.Cmnt, r.QtySeqNum, bin.ExtLocID, cont.ExtLocID, QtyStatus, r.CF
	, r.HistorySerID
FROM #PostTransList t INNER JOIN dbo.tblBmWorkOrderSer r ON t.TransId = r.TransId 
LEFT JOIN dbo.tblWmExtLoc bin ON bin.Id = r.ExtLocA
LEFT JOIN dbo.tblWmExtLoc cont ON cont.Id = r.ExtLocB

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_History_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_BmWorkOrderPost_History_proc'
GO
