USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_PoTransPost_DoUnAccrual_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_PoTransPost_DoUnAccrual_proc]
AS

SET NOCOUNT ON
BEGIN TRY
	DECLARE @PostRun nvarchar(14),@PoInYn bit, @WksDate datetime,@CurrBase [nvarchar](6) ,
		@LinkID nvarchar(15), @LinkIDSub nvarchar(15), @LinkIDSubLine Int, @PrecCurr int,
		 @TransTypePOReceipt  nvarchar(10)
	 SELECT @TransTypePOReceipt = Cast([Value] AS nvarchar(10)) FROM #GlobalValues WHERE [Key] = 'TransTypePOReceipt' --PORECEIPT
	SELECT @LinkID = 'UNACCRUAL', @LinkIDSub = NULL , @LinkIDSubLine = -3

	--Retrieve global values
	SELECT @PostRun = Cast([Value] AS nvarchar(14)) FROM #GlobalValues WHERE [Key] = 'PostRun'
	SELECT @WksDate = Cast([Value] AS datetime) FROM #GlobalValues WHERE [Key] = 'WrkStnDate'
	SELECT @CurrBase = Cast([Value] AS nvarchar(6)) FROM #GlobalValues WHERE [Key] = 'CurrBase'
	SELECT @PoInYn = Cast([Value] AS bit) FROM #GlobalValues WHERE [Key] = 'PoInYn'
	SELECT @PrecCurr = Cast([Value] AS int) FROM #GlobalValues WHERE [Key] = 'PrecCurr'

	IF @PostRun IS NULL OR @WksDate IS NULL OR @CurrBase IS NULL OR @PoInYn IS NULL OR @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	CREATE TABLE #arPd ([Year] smallint, Pd smallint, InItemAmt decimal(28,10), NonInItemAmt decimal(28,10),DropShipAmt decimal(28,10), ProjItemAmt decimal(28,10), 
		InItemAmtFgn decimal(28,10), NonInItemAmtFgn decimal(28,10),DropShipAmtFgn decimal(28,10), ProjItemAmtFgn decimal(28,10),
		GlAcctApAccr [nvarchar](255) NULL, GlAcctAccr [nvarchar](255) NULL,ID bigint,CurrencyID [nvarchar](6) NOT NULL, TransId [nvarchar](8) NULL, EntryNum int NULL )

	INSERT INTO #arPd([Year],Pd,InItemAmt,NonInItemAmt,DropShipAmt,ProjItemAmt,InItemAmtFgn,NonInItemAmtFgn,DropShipAmtFgn,ProjItemAmtFgn,GlAcctApAccr,GlAcctAccr,ID,CurrencyID,TransId,EntryNum)
	SELECT t.Fiscalyear,t.GlPeriod, 
		SUM(Sign(h.TransType) * CASE WHEN (DropShipYn = 0 OR ISNULL(d.LinkSeqNum,0) = 0) AND ISNULL(d.ProjectDetailId,0) = 0 AND (@PoInYn = 1 AND item.ItemId IS NOT NULL) THEN ROUND(ir.Qty * r.ExtCost / r.QtyFilled,@PrecCurr) ELSE 0 END) AS InItemAmt,
		SUM(Sign(h.TransType) * CASE WHEN (DropShipYn = 0 OR ISNULL(d.LinkSeqNum,0) = 0) AND ISNULL(d.ProjectDetailId,0) = 0 AND (@PoInYn = 0 OR item.ItemId IS NULL) THEN ROUND(ir.Qty * r.ExtCost / r.QtyFilled,@PrecCurr) ELSE 0 END) AS NonInItemAmt,
		SUM(Sign(h.TransType) * CASE WHEN DropShipYn = 1 AND ISNULL(d.LinkSeqNum,0) > 0 AND ISNULL(d.ProjectDetailId,0) = 0 THEN ROUND(ir.Qty * r.ExtCost / r.QtyFilled,@PrecCurr) ELSE 0 END) AS DropShipAmt,
		SUM(Sign(h.TransType) * CASE WHEN ISNULL(d.ProjectDetailId,0) <> 0 THEN ROUND(ir.Qty * r.ExtCost / r.QtyFilled,@PrecCurr) ELSE 0 END) AS ProjItemAmt,
		SUM(Sign(h.TransType) * CASE WHEN (DropShipYn = 0 OR ISNULL(d.LinkSeqNum,0) = 0) AND ISNULL(d.ProjectDetailId,0) = 0 AND (@PoInYn = 1 AND item.ItemId IS NOT NULL) THEN ROUND(ir.Qty * r.ExtCostFgn / r.QtyFilled,sc.CurrDecPlaces) ELSE 0 END) AS InItemAmtFgn,
		SUM(Sign(h.TransType) * CASE WHEN (DropShipYn = 0 OR ISNULL(d.LinkSeqNum,0) = 0) AND ISNULL(d.ProjectDetailId,0) = 0 AND (@PoInYn = 0 OR item.ItemId IS NULL) THEN ROUND(ir.Qty * r.ExtCostFgn / r.QtyFilled,sc.CurrDecPlaces) ELSE 0 END) AS NonInItemAmtFgn,
		SUM(Sign(h.TransType) * CASE WHEN DropShipYn = 1 AND ISNULL(d.LinkSeqNum,0) > 0 AND ISNULL(d.ProjectDetailId,0) = 0 THEN ROUND(ir.Qty * r.ExtCostFgn / r.QtyFilled,sc.CurrDecPlaces) ELSE 0 END) AS DropShipAmtFgn,
		SUM(Sign(h.TransType) * CASE WHEN ISNULL(d.ProjectDetailId,0) <> 0 THEN ROUND(ir.Qty * r.ExtCostFgn / r.QtyFilled,sc.CurrDecPlaces) ELSE 0 END) AS ProjItemAmtFgn,
		c.AccrualGLAcct, d.GLAcctAccrual,r.RcptHeaderID,h.CurrencyID,d.TransID,d.EntryNum
	FROM dbo.tblPoTransHeader h INNER JOIN #PostTransList b ON h.TransId = b.TransId
		INNER JOIN dbo.tblPoTransDetail d ON h.TransId = d.TransId 
		LEFT JOIN  dbo.tblInItem item on d.ItemId=item.ItemId
		INNER JOIN dbo.tblPoTransLotRcpt r ON d.TransId = r.TransId AND d.EntryNum = r.EntryNum
		INNER JOIN dbo.tblPoTransInvc_Rcpt ir ON r.ReceiptId = ir.ReceiptId  
		INNER JOIN dbo.tblPoTransInvoice i ON ir.InvoiceId = i.InvoiceId 
		INNER JOIN dbo.tblPoTransInvoiceTot t ON i.TransId = t.TransId AND i.InvoiceNum = t.InvcNum 
		INNER JOIN dbo.tblApDistCode c ON h.DistCode = c.DistCode
		LEFT JOIN tblSmCurrency sc ON h.CurrencyID=sc.CurrID
	WHERE r.QtyAccRev > 0 AND i.Status = 0
	GROUP BY t.Fiscalyear,t.GlPeriod, c.AccrualGLAcct, d.GLAcctAccrual,h.CurrencyID,r.RcptHeaderID,d.TransID,d.EntryNum

	UPDATE dbo.tblPoTransLotRcpt SET QtyAccRev = QtyAccRev - iq.Qty 
	FROM #PostTransList b INNER JOIN dbo.tblPoTransLotRcpt ON b.TransId = dbo.tblPoTransLotRcpt.TransId
		INNER JOIN 
			(SELECT ir.ReceiptId, SUM(ir.Qty) AS Qty FROM #PostTransList b INNER JOIN dbo.tblPoTransInvoice i ON b.TransId = i.TransId 
			INNER JOIN dbo.tblPoTransInvc_Rcpt ir ON i.InvoiceId = ir.InvoiceId WHERE i.Status = 0 GROUP BY ir.ReceiptId) iq 
			ON dbo.tblPoTransLotRcpt.ReceiptId = iq.ReceiptId  
	WHERE dbo.tblPoTransLotRcpt.QtyAccRev > 0
	
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 110, 
	 @WksDate, @WksDate, CONCAT('AP Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctApAccr,
	 CASE WHEN SUM(InItemAmt) > 0 THEN SUM(InItemAmt) ELSE 0 END, 
	 CASE WHEN SUM(InItemAmt) < 0 THEN - SUM(InItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID, 
	 CASE WHEN SUM(InItemAmtFgn) > 0 THEN SUM(InItemAmtFgn) ELSE 0 END, 
	 CASE WHEN SUM(InItemAmtFgn) < 0 THEN - SUM(InItemAmtFgn) ELSE 0 END
	 ,ID,@TransTypePOReceipt, SUM(InItemAmt), SUM(InItemAmtFgn)
	FROM #arPd WHERE InItemAmt <> 0 
	GROUP BY [Year], Pd, GlAcctApAccr, CurrencyID, ID, TransId, EntryNum

	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 110, 
	 @WksDate, @WksDate, CONCAT('AP Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctApAccr,
	 CASE WHEN SUM(DropShipAmt) > 0 THEN SUM(DropShipAmt) ELSE 0 END, 
	 CASE WHEN SUM(DropShipAmt) < 0 THEN - SUM(DropShipAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID, 
	 CASE WHEN SUM(DropShipAmtFgn) > 0 THEN SUM(DropShipAmtFgn) ELSE 0 END, 
	 CASE WHEN SUM(DropShipAmtFgn) < 0 THEN - SUM(DropShipAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt,SUM(DropShipAmt), SUM(DropShipAmtFgn)
	FROM #arPd WHERE DropShipAmt <> 0
	GROUP BY [Year], Pd, GlAcctApAccr, CurrencyID, ID, TransId, EntryNum
	
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 108, 
	 @WksDate, @WksDate, CONCAT('IN Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctAccr,
	 CASE WHEN - SUM(InItemAmt) > 0 THEN - SUM(InItemAmt) ELSE 0 END, 
	 CASE WHEN - SUM(InItemAmt) < 0 THEN SUM(InItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID,
	 CASE WHEN - SUM(InItemAmtFgn) > 0 THEN - SUM(InItemAmtFgn) ELSE 0 END, 
	 CASE WHEN - SUM(InItemAmtFgn) < 0 THEN SUM(InItemAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt, - SUM(InItemAmt),  - SUM(InItemAmtFgn)
	FROM #arPd WHERE InItemAmt <> 0
	GROUP BY [Year], Pd, GlAcctAccr, CurrencyID, ID, TransId, EntryNum

	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, 
	GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 110, 
	 @WksDate, @WksDate, CONCAT('AP Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctApAccr,
	 CASE WHEN SUM(NonInItemAmt) > 0 THEN SUM(NonInItemAmt) ELSE 0 END, 
	 CASE WHEN SUM(NonInItemAmt) < 0 THEN - SUM(NonInItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID,
	 CASE WHEN SUM(NonInItemAmtFgn) > 0 THEN SUM(NonInItemAmtFgn) ELSE 0 END, 
	 CASE WHEN SUM(NonInItemAmtFgn) < 0 THEN - SUM(NonInItemAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt,SUM(NonInItemAmt), SUM(NonInItemAmtFgn)
	FROM #arPd WHERE NonInItemAmt <> 0
	GROUP BY [Year], Pd, GlAcctApAccr, CurrencyID, ID, TransId, EntryNum

	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 109, 
	 @WksDate, @WksDate, CONCAT('Exp Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctAccr,
	 CASE WHEN - SUM(NonInItemAmt) > 0 THEN - SUM(NonInItemAmt) ELSE 0 END, 
	 CASE WHEN - SUM(NonInItemAmt) < 0 THEN SUM(NonInItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID,
	 CASE WHEN - SUM(NonInItemAmtFgn) > 0 THEN - SUM(NonInItemAmtFgn) ELSE 0 END, 
	 CASE WHEN - SUM(NonInItemAmtFgn) < 0 THEN SUM(NonInItemAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt, - SUM(NonInItemAmt),  - SUM(NonInItemAmtFgn)
	FROM #arPd WHERE NonInItemAmt <> 0
	GROUP BY [Year], Pd, GlAcctAccr, CurrencyID, ID, TransId, EntryNum

	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId,  DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 110, 
	 @WksDate, @WksDate, CONCAT('AP Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD', GlAcctApAccr,
	 CASE WHEN SUM(ProjItemAmt) > 0 THEN SUM(ProjItemAmt) ELSE 0 END, 
	 CASE WHEN SUM(ProjItemAmt) < 0 THEN - SUM(ProjItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID,
	 CASE WHEN SUM(ProjItemAmtFgn) > 0 THEN SUM(ProjItemAmtFgn) ELSE 0 END, 
	 CASE WHEN SUM(ProjItemAmtFgn) < 0 THEN - SUM(ProjItemAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt, SUM(ProjItemAmt), SUM(ProjItemAmtFgn)
	FROM #arPd WHERE ProjItemAmt <> 0
	GROUP BY [Year], Pd, GlAcctApAccr, CurrencyID, ID, TransId, EntryNum
	
	INSERT INTO #PoTransPostGlLog (PostRun, TransID, InvcNum, GlPeriod, EntryNum, Grouping, 
	 TransDate, PostDate, Descr, Reference, GlAcct, DR, CR, FiscalYear, 
	LinkID, LinkIDSub, LinkIDSubLine, CurrencyId, DebitAmtFgn, CreditAmtFgn,TransKey,TransType,Amount, Amountfgn)
	SELECT @PostRun, NULL, NULL, pd, 99998, 109, 
	  @WksDate, @WksDate, CONCAT('Project/Job Accrual - PO# ', TransId, ' - Entry# ', EntryNum), 'INV RCVD',GlAcctAccr,
	 CASE WHEN - SUM(ProjItemAmt) > 0 THEN - SUM(ProjItemAmt) ELSE 0 END, 
	 CASE WHEN - SUM(ProjItemAmt) < 0 THEN SUM(ProjItemAmt) ELSE 0 END, 
	 [Year], TransId, @LinkIDSub, EntryNum,
	 CurrencyID,
	 CASE WHEN - SUM(ProjItemAmtFgn) > 0 THEN - SUM(ProjItemAmtFgn) ELSE 0 END, 
	 CASE WHEN - SUM(ProjItemAmtFgn) < 0 THEN SUM(ProjItemAmtFgn) ELSE 0 END
	  ,ID,@TransTypePOReceipt,- SUM(ProjItemAmt),  - SUM(ProjItemAmt)
	FROM #arPd WHERE ProjItemAmt <> 0
	GROUP BY [Year], Pd, GlAcctAccr, CurrencyID, ID, TransId, EntryNum
	
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DoUnAccrual_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_PoTransPost_DoUnAccrual_proc'
GO
