USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_ArTransPost_InHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_ArTransPost_InHistory_proc]
AS
BEGIN TRY
	--PET: http://webfront:801/view.php?id=245811
	DECLARE @PrecCurr smallint
	
	SELECT @PrecCurr = Cast([Value] AS smallint) FROM #GlobalValues WHERE [Key] = 'PrecCurr'

	IF @PrecCurr IS NULL
	BEGIN
		THROW 90025, N'Missing global value.', 1
	END

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId)
	SELECT d.HistoryID, h.FiscalYear, h.GLPeriod, h.InvcDate, h.BatchId, ISNULL(h.InvcNum, l.DefaultInvoiceNumber)
	FROM dbo.tblArTransHeader h 
	INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	INNER JOIN dbo.tblArTransDetail d ON h.TransId = d.TransId
	WHERE ISNULL(d.HistoryID,0) > 0

	INSERT INTO #InHistory (ID, FiscalYear, FiscalPeriod, TransDate, BatchId, RefId, PriceUnit, PriceExt)
	SELECT e.HistoryID, h.FiscalYear, h.GLPeriod, h.InvcDate, h.BatchId, ISNULL(h.InvcNum, l.DefaultInvoiceNumber), d.UnitPriceSell, ROUND(d.UnitPriceSell * e.QtyFilled, @PrecCurr)	
	FROM dbo.tblArTransHeader h 
	INNER JOIN #PostTransList l ON h.TransId = l.TransId 
	INNER JOIN dbo.tblArTransDetail d ON h.TransId = d.TransID
	INNER JOIN dbo.tblArTransLot e ON d.TransId = e.TransId AND d.EntryNum = e.EntryNum
	WHERE ISNULL(e.HistoryID,0) > 0

	EXEC dbo.trav_InUpdateHistory_proc

END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_InHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_ArTransPost_InHistory_proc'
GO
