USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_DbArSalesHistory_proc]    Script Date: 7/16/2026 3:56:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_DbArSalesHistory_proc]
@Prec tinyint = 2, 
@Wksdate datetime =   null
AS
BEGIN TRY
	SET NOCOUNT ON

	CREATE TABLE #ArSalesHistory
	(
		SalesPTD [decimal](28,10) NOT NULL DEFAULT(0), 
		SalesYTD [decimal](28,10) NOT NULL DEFAULT(0), 
		ReturnsPTD [decimal](28,10) NOT NULL DEFAULT(0), 
		ReturnsYTD [decimal](28,10) NOT NULL DEFAULT(0), 
		SalesTaxPTD [decimal](28,10) NOT NULL DEFAULT(0), 
		SalesTaxYTD [decimal](28,10) NOT NULL DEFAULT(0), 
		FreightPTD [decimal](28,10) NOT NULL DEFAULT(0), 
		FreightYTD [decimal](28,10) NOT NULL DEFAULT(0), 
		MiscPTD [decimal](28,10) NOT NULL DEFAULT(0), 
		MiscYTD [decimal](28,10) NOT NULL DEFAULT(0)
	)

	CREATE TABLE #ArFinanceChargeHistory
	(
		FinChgPTD [decimal](28,10) NULL DEFAULT(0), 
		FinChgYTD [decimal](28,10) NULL DEFAULT(0)
	)

DECLARE @FiscalYear smallint, @Period smallint
SELECT @FiscalYear = GlYear, @Period = GlPeriod 
FROM dbo.tblSmPeriodConversion WHERE @WksDate BETWEEN BegDate AND EndDate

	/*  ArSalesHistory  */
	INSERT INTO #ArSalesHistory (SalesPTD, SalesYTD, ReturnsPTD, ReturnsYTD
		, SalesTaxPTD, SalesTaxYTD, FreightPTD, FreightYTD, MiscPTD, MiscYTD) 
	SELECT ROUND(ISNULL(SUM(CASE WHEN TransType = 1 AND FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN  ((TaxSubtotal + NonTaxSubTotal) * SIGN(TransType))ELSE 0 END),0), @Prec) AS SalesPTD
		, ROUND(ISNULL(SUM(CASE WHEN TransType = 1 AND FiscalYear = @FiscalYear AND GLPeriod <= @Period 
			THEN ((TaxSubtotal + NonTaxSubTotal) * SIGN(TransType)) ELSE 0 END),0), @Prec) AS SalesYTD
		, ROUND(ISNULL(SUM(CASE WHEN TransType = -1 AND FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN ((TaxSubtotal + NonTaxSubTotal) * SIGN(TransType)) ELSE 0 END), 0),@Prec) AS ReturnsPTD
		, ROUND(ISNULL(SUM(CASE WHEN TransType = -1 AND FiscalYear = @FiscalYear AND GLPeriod <= @Period 
			THEN ((TaxSubtotal + NonTaxSubTotal) * SIGN(TransType))ELSE 0 END), 0),@Prec) AS ReturnsYTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN (SalesTax * SIGN(TransType))ELSE 0 END), 0),@Prec) AS SalesTaxPTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod <= @Period 
			THEN (SalesTax * SIGN(TransType)) ELSE 0 END), 0),@Prec) AS SalesTaxYTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN (Freight * SIGN(TransType)) ELSE 0 END),0), @Prec) AS FreightPTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod <= @Period 
			THEN (Freight * SIGN(TransType))ELSE 0 END),0), @Prec) AS FreightYTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period 
			THEN (Misc * SIGN(TransType)) ELSE 0 END), 0),@Prec) AS MiscPTD
		, ROUND(ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod <= @Period 
			THEN  (Misc * SIGN(TransType))ELSE 0 END),0), @Prec) AS MiscYTD 
	FROM dbo.tblArHistHeader WHERE VoidYn = 0

	/*  ArFinanceCharges  */
	INSERT INTO #ArFinanceChargeHistory (FinChgPTD, FinChgYTD) 
	SELECT ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod = @Period THEN 
		(FinchAmt) ELSE 0 END),0) AS FinChgPTD
		, ISNULL(SUM(CASE WHEN FiscalYear = @FiscalYear AND GLPeriod <= @Period THEN 
		(FinchAmt) ELSE 0 END),0) AS FinChgYTD 
	FROM dbo.tblArHistFinch

	-- return resultset
	SELECT *
		,ISNULL([SalesPTD], 0) + ISNULL([ReturnsPTD], 0) + ISNULL([SalesTaxPTD], 0)+ ISNULL([FreightPTD], 0) + ISNULL([MiscPTD], 0) + 
		ISNULL([FinChgPTD], 0) AS TotalPTD
		, ISNULL([SalesYTD], 0) + ISNULL([ReturnsYTD], 0) + ISNULL([SalesTaxYTD], 0) 
			+ ISNULL([FreightYTD], 0) + ISNULL([MiscYTD], 0) + ISNULL([FinChgYTD], 0) AS TotalYTD 
	FROM #ArSalesHistory, #ArFinanceChargeHistory
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArSalesHistory_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_DbArSalesHistory_proc'
GO
