USE [005]
GO
/****** Object:  StoredProcedure [dbo].[trav_WmTransPost_RetrieveLog_proc]    Script Date: 7/16/2026 3:56:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[trav_WmTransPost_RetrieveLog_proc]
AS
BEGIN TRY
	SET NOCOUNT ON

	--remap values from the gl post log for the post log
	SELECT [LogKey] AS [ID]
		, [FiscalYear], [FiscalPeriod]
		, [ItemId], [LocId], ISNULL([LinkIdSubLine], 0) AS [TransType]
		, [GlAccount], [Grouping], [DebitAmount], [CreditAmount]
		, [Description], [Reference],CurrencyId,AmountFgn  
	FROM #GlPostLogs
		
END TRY
BEGIN CATCH
	EXEC dbo.trav_RaiseError_proc
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Build 25199' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_RetrieveLog_proc'
GO
EXEC sys.sp_addextendedproperty @name=N'Version', @value=N'11.1.25199.2344' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'trav_WmTransPost_RetrieveLog_proc'
GO
