USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventDefect]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventDefect](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[DefectReasonId] [int] NOT NULL,
	[OtherReason] [varchar](100) NULL,
 CONSTRAINT [PK_OrderReleaseEventDefect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventDefect_DefectReason] FOREIGN KEY([DefectReasonId])
REFERENCES [dbo].[DefectReason] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect] CHECK CONSTRAINT [FK_OrderReleaseEventDefect_DefectReason]
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventDefect_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect] CHECK CONSTRAINT [FK_OrderReleaseEventDefect_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventDefect_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventDefect] CHECK CONSTRAINT [FK_OrderReleaseEventDefect_OrderReleaseEventItem]
GO
