USE [W005]
GO
/****** Object:  Table [dbo].[QuoteMaterial]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteMaterial](
	[QuoteMaterialNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QuoteOperationNum] [int] NULL,
	[ComponentId] [varchar](24) NULL,
	[Descr] [varchar](255) NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[UOM] [varchar](5) NULL,
	[UnitCost] [decimal](20, 10) NOT NULL,
	[ScrapPct] [decimal](20, 10) NOT NULL,
	[Note] [text] NULL,
 CONSTRAINT [PK_QuoteMaterial] PRIMARY KEY CLUSTERED 
(
	[QuoteMaterialNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuoteMaterial] ADD  CONSTRAINT [DF_QuoteMaterial_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[QuoteMaterial] ADD  CONSTRAINT [DF_QuoteMaterial_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[QuoteMaterial] ADD  CONSTRAINT [DF_QuoteMaterial_ScrapPct]  DEFAULT ((0)) FOR [ScrapPct]
GO
ALTER TABLE [dbo].[QuoteMaterial]  WITH CHECK ADD  CONSTRAINT [FK_QuoteMaterial_QuoteOperation] FOREIGN KEY([QuoteOperationNum])
REFERENCES [dbo].[QuoteOperation] ([QuoteOperationNum])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteMaterial] CHECK CONSTRAINT [FK_QuoteMaterial_QuoteOperation]
GO
