USE [W005]
GO
/****** Object:  Table [dbo].[TravLotNumConversion]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravLotNumConversion](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipItemId] [int] NULL,
	[ItemId] [varchar](24) NULL,
	[ShipPalletNo] [varchar](10) NULL,
	[LocId] [varchar](10) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Quantity] [decimal](20, 10) NULL,
	[UOM] [varchar](2) NULL,
	[MfrDate] [datetime] NULL,
	[ShipPalletId] [int] NULL,
 CONSTRAINT [PK_TravLotNumConversion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
