USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseKitRawMatlNonOT]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseKitRawMatlNonOT](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[FGItemId] [varchar](24) NOT NULL,
	[FGTravSerNum] [varchar](35) NULL,
	[FGTravLotNum] [varchar](16) NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[RMSerialNo] [varchar](16) NULL,
	[RMLotNo] [varchar](16) NULL,
	[LastScanDateTime] [datetime] NULL,
	[RMParentSerialNo] [varchar](16) NULL,
 CONSTRAINT [PK_OrderReleaseKitRawMatlNonOT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ORKRMNOT_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ORKRMNOT_1] ON [dbo].[OrderReleaseKitRawMatlNonOT]
(
	[OrderReleaseEventItemId] ASC,
	[RMItemId] ASC,
	[RMSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlNonOT]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseKitRawMatlNonOT_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlNonOT] CHECK CONSTRAINT [FK_OrderReleaseKitRawMatlNonOT_OrderReleaseEventItem]
GO
