USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseKitRawMatlOutTimeHistory]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseKitRawMatlOutTimeId] [int] NOT NULL,
	[FGItemId] [varchar](24) NOT NULL,
	[FGTravSerNum] [varchar](35) NULL,
	[FGTravLotNum] [varchar](16) NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[RMSerialNo] [varchar](16) NULL,
	[RMLotNo] [varchar](16) NULL,
	[LastScanDateTime] [datetime] NOT NULL,
	[ThawCompletedDT] [datetime] NULL,
	[TotalRoomMinutes] [int] NOT NULL,
	[TotalFreezerMinutes] [int] NOT NULL,
	[TotalReeferMinutes] [int] NOT NULL,
	[MaxRoomDTReached] [datetime] NULL,
	[MaxFreezerDTReached] [datetime] NULL,
	[MaxReeferDTReached] [datetime] NULL,
	[EstLastScanDateTime] [datetime] NULL,
	[EstTotalRoomMinutes] [int] NULL,
	[RMParentSerialNo] [varchar](16) NULL,
 CONSTRAINT [PK_OrderReleaseKitRawMatlOutTimeHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ORKMOTH_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ORKMOTH_1] ON [dbo].[OrderReleaseKitRawMatlOutTimeHistory]
(
	[OrderReleaseKitRawMatlOutTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory] ADD  CONSTRAINT [DF_OrderReleaseKitRawMatlOutTimeHistory_TotalRoomMinutes]  DEFAULT ((0)) FOR [TotalRoomMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory] ADD  CONSTRAINT [DF_OrderReleaseKitRawMatlOutTimeHistory_TotalFreezerMinutes]  DEFAULT ((0)) FOR [TotalFreezerMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory] ADD  CONSTRAINT [DF_OrderReleaseKitRawMatlOutTimeHistory_TotalReeferMinutes]  DEFAULT ((0)) FOR [TotalReeferMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseKitRawMatlOutTimeHistory_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory] CHECK CONSTRAINT [FK_OrderReleaseKitRawMatlOutTimeHistory_OrderReleaseEventItem]
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseKitRawMatlOutTimeHistory_OrderReleaseKitRawMatlOutTime] FOREIGN KEY([OrderReleaseKitRawMatlOutTimeId])
REFERENCES [dbo].[OrderReleaseKitRawMatlOutTime] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseKitRawMatlOutTimeHistory] CHECK CONSTRAINT [FK_OrderReleaseKitRawMatlOutTimeHistory_OrderReleaseKitRawMatlOutTime]
GO
