USE [W005]
GO
/****** Object:  Table [dbo].[ShipItem]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipItem](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipItemNo] [varchar](10) NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotNo] [varchar](16) NULL,
	[SerNo] [varchar](16) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Quantity] [decimal](20, 10) NOT NULL,
	[UOM] [varchar](5) NULL,
	[NoRolls] [int] NOT NULL,
	[OREIId] [int] NOT NULL,
	[ShipPalletId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipBoxId] [int] NULL,
	[ProdOrderNo] [varchar](8) NULL,
	[ProdOrderRelNo] [int] NULL,
	[InHistDetailTransId] [int] NULL,
	[MachineGroupId] [varchar](10) NULL,
	[Complete] [bit] NOT NULL,
	[ReadyToPost] [bit] NOT NULL,
	[PostedToTraverse] [bit] NOT NULL,
	[Shipped] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Issued] [bit] NOT NULL,
	[PhantomAdjOut] [bit] NOT NULL,
	[UsedByProduction] [bit] NOT NULL,
	[UsedByShipUnitId] [int] NULL,
	[UsedByPkgId] [varchar](10) NULL,
	[UsedQty] [int] NOT NULL,
	[LBPerRoll] [decimal](20, 10) NULL,
	[NotForShipment] [bit] NOT NULL,
	[IssuedToProdOrderNo] [varchar](8) NULL,
	[GrossWt] [decimal](20, 10) NOT NULL,
	[OpInit] [nvarchar](15) NULL,
	[Comments] [varchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateShipped] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[DateIssued] [datetime] NULL,
	[Location] [varchar](10) NULL,
	[AdditionalLotNo] [varchar](50) NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[TravSerNum] [varchar](35) NULL,
	[RollsUsedNotPosted] [int] NOT NULL,
	[ShipToteId] [int] NULL,
	[ShipRackId] [int] NULL,
	[SalesOrderNo] [varchar](8) NULL,
	[BilledAtMfg] [bit] NOT NULL,
	[Rewind] [bit] NOT NULL,
 CONSTRAINT [PK_ShipItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ItemId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ShipItem]
(
	[ItemId] ASC,
	[Location] ASC,
	[LotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LotNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LotNo] ON [dbo].[ShipItem]
(
	[LotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipBoxId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipBoxId] ON [dbo].[ShipItem]
(
	[ShipBoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipCartonId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipCartonId] ON [dbo].[ShipItem]
(
	[ShipCartonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipItem_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipItem_1] ON [dbo].[ShipItem]
(
	[Shipped] ASC,
	[Deleted] ASC,
	[PhantomAdjOut] ASC
)
INCLUDE([ItemId],[LotNo],[Quantity],[SerNo],[ShipBoxId],[ShipCartonId],[ShipItemNo],[ShipPalletId],[TravLotNum],[TravSerNum],[UOM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShipItem_2]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipItem_2] ON [dbo].[ShipItem]
(
	[ShipPalletId] ASC,
	[Shipped] ASC,
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipPalletId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipPalletId] ON [dbo].[ShipItem]
(
	[ShipPalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [XI-OREIId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [XI-OREIId] ON [dbo].[ShipItem]
(
	[OREIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_NoRolls]  DEFAULT ((0)) FOR [NoRolls]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_OREIId]  DEFAULT ((0)) FOR [OREIId]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_ReadyToPost]  DEFAULT ((0)) FOR [ReadyToPost]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_PostedToTraverse]  DEFAULT ((0)) FOR [PostedToTraverse]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Issued]  DEFAULT ((0)) FOR [Issued]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_PhantomAdjOut]  DEFAULT ((0)) FOR [PhantomAdjOut]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_UsedByProduction]  DEFAULT ((0)) FOR [UsedByProduction]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_UsedQty]  DEFAULT ((0)) FOR [UsedQty]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_NotForShipment]  DEFAULT ((0)) FOR [NotForShipment]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_GrossWt]  DEFAULT ((0)) FOR [GrossWt]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_RollsUsedNotPosted]  DEFAULT ((0)) FOR [RollsUsedNotPosted]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_BilledAtMfg_1]  DEFAULT ((0)) FOR [BilledAtMfg]
GO
ALTER TABLE [dbo].[ShipItem] ADD  CONSTRAINT [DF_ShipItem_Rewind]  DEFAULT ((0)) FOR [Rewind]
GO
ALTER TABLE [dbo].[ShipItem]  WITH CHECK ADD  CONSTRAINT [FK_ShipItem_ShipBox] FOREIGN KEY([ShipBoxId])
REFERENCES [dbo].[ShipBox] ([Id])
GO
ALTER TABLE [dbo].[ShipItem] CHECK CONSTRAINT [FK_ShipItem_ShipBox]
GO
ALTER TABLE [dbo].[ShipItem]  WITH CHECK ADD  CONSTRAINT [FK_ShipItem_ShipCarton] FOREIGN KEY([ShipCartonId])
REFERENCES [dbo].[ShipCarton] ([Id])
GO
ALTER TABLE [dbo].[ShipItem] CHECK CONSTRAINT [FK_ShipItem_ShipCarton]
GO
ALTER TABLE [dbo].[ShipItem]  WITH CHECK ADD  CONSTRAINT [FK_ShipItem_ShipPallet] FOREIGN KEY([ShipPalletId])
REFERENCES [dbo].[ShipPallet] ([Id])
GO
ALTER TABLE [dbo].[ShipItem] CHECK CONSTRAINT [FK_ShipItem_ShipPallet]
GO
ALTER TABLE [dbo].[ShipItem]  WITH CHECK ADD  CONSTRAINT [FK_ShipItem_ShipRack] FOREIGN KEY([ShipRackId])
REFERENCES [dbo].[ShipRack] ([Id])
GO
ALTER TABLE [dbo].[ShipItem] CHECK CONSTRAINT [FK_ShipItem_ShipRack]
GO
ALTER TABLE [dbo].[ShipItem]  WITH CHECK ADD  CONSTRAINT [FK_ShipItem_ShipTote] FOREIGN KEY([ShipToteId])
REFERENCES [dbo].[ShipTote] ([Id])
GO
ALTER TABLE [dbo].[ShipItem] CHECK CONSTRAINT [FK_ShipItem_ShipTote]
GO
