USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventSpliceDetailRW]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventSpliceDetailRW](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventSpliceRWId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseEventWasteId] [int] NULL,
	[Slitter2FESpliceCutPos] [float] NOT NULL,
	[SplicePosition] [float] NOT NULL,
	[SplicePositionPrev] [float] NOT NULL,
	[Reworked] [bit] NOT NULL,
	[FESpliceLocation] [varchar](15) NULL,
	[SegmentLength] [float] NOT NULL,
	[IsShortSegment] [bit] NOT NULL,
	[ReworkedOrderReleaseEventId] [int] NULL,
	[SpliceOwner] [varchar](25) NULL,
	[CurrRMOREIId] [int] NULL,
	[PrevRMOREIId] [int] NULL,
	[SpliceAddlInfo] [int] NULL,
 CONSTRAINT [PK_OrderReleaseEventSpliceDetailRW] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_Slitter2FESpliceCutPos]  DEFAULT ((0)) FOR [Slitter2FESpliceCutPos]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_SplicePosition]  DEFAULT ((0)) FOR [SplicePosition]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_SplicePositionPrev_1]  DEFAULT ((0)) FOR [SplicePositionPrev]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_Reworked_1]  DEFAULT ((0)) FOR [Reworked]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_SegmentLength_1]  DEFAULT ((0)) FOR [SegmentLength]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetailRW_IsShortSegment_1]  DEFAULT ((0)) FOR [IsShortSegment]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventItem]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventSpliceRW] FOREIGN KEY([OrderReleaseEventSpliceRWId])
REFERENCES [dbo].[OrderReleaseEventSpliceRW] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventSpliceRW]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventWaste] FOREIGN KEY([OrderReleaseEventWasteId])
REFERENCES [dbo].[OrderReleaseEventWaste] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetailRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceDetailRW_OrderReleaseEventWaste]
GO
