USE [W005]
GO
/****** Object:  Table [dbo].[WebWmMoveQuantityError]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebWmMoveQuantityError](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WebWmMoveQtyId] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotNum] [varchar](16) NULL,
	[SerNum] [varchar](35) NULL,
	[LocId] [varchar](10) NOT NULL,
	[FromBinId] [int] NULL,
	[ToBinId] [int] NULL,
	[ErrorMsg] [varchar](200) NOT NULL,
	[TravWmMoveQtyId] [int] NULL,
	[ProgramId] [int] NULL,
 CONSTRAINT [PK_WebWmMoveQuantityError] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WebWmMoveQuantityError]  WITH CHECK ADD  CONSTRAINT [FK_WebWmMoveQuantityError_WebWmMoveQuantity] FOREIGN KEY([WebWmMoveQtyId])
REFERENCES [dbo].[WebWmMoveQuantity] ([Id])
GO
ALTER TABLE [dbo].[WebWmMoveQuantityError] CHECK CONSTRAINT [FK_WebWmMoveQuantityError_WebWmMoveQuantity]
GO
