USE [W005]
GO
/****** Object:  Table [dbo].[ReturnedInDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnedInDetail](
	[ReturnInDtlId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WebReturnNum] [int] NULL,
	[TraverseOrderNum] [varchar](8) NOT NULL,
	[ShipUnitId] [int] NULL,
	[PkgId] [varchar](10) NULL,
	[ItemId] [varchar](24) NULL,
	[ItemDescr] [varchar](35) NULL,
	[NoRolls] [int] NULL,
	[UOM] [varchar](5) NULL,
	[TotalReturnQty] [decimal](20, 10) NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[Location] [varchar](10) NULL,
	[TOPS] [nchar](1) NULL,
	[MfgDate] [datetime] NULL,
	[CustomerPN] [varchar](100) NULL,
 CONSTRAINT [PK_ReturnedInDetail] PRIMARY KEY CLUSTERED 
(
	[ReturnInDtlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
