USE [W005]
GO
/****** Object:  Table [dbo].[MonthEndBalance]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthEndBalance](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GLFiscalYear] [int] NULL,
	[GLPeriod] [int] NULL,
	[GLAcctInv] [varchar](40) NULL,
	[TotalCost] [decimal](20, 10) NULL,
	[WebCost] [decimal](20, 10) NULL,
	[MaterialDirectCost] [decimal](20, 10) NULL,
	[MaterialIndirectCost] [decimal](20, 10) NULL,
	[LaborCost] [decimal](20, 10) NULL,
	[LaborSetupCost] [decimal](20, 10) NULL,
	[MachineCost] [decimal](20, 10) NULL,
	[MachineSetupCost] [decimal](20, 10) NULL,
	[SubcontractCost] [decimal](20, 10) NULL,
 CONSTRAINT [PK_MonthEndBalance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
