USE [W005]
GO
/****** Object:  Table [dbo].[BillingListDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingListDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BLNo] [int] NOT NULL,
	[BLSOLineId] [int] NULL,
	[ShipItemId] [int] NULL,
	[ShipRackId] [int] NULL,
	[ShipToteId] [int] NULL,
	[ShipBoxId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipPalletId] [int] NULL,
	[PkgId] [varchar](10) NULL,
	[ItemId] [varchar](24) NULL,
	[ItemDescr] [varchar](35) NULL,
	[SerialNo] [varchar](35) NULL,
	[LotNo] [varchar](200) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[NoRolls] [int] NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[OrderLineNo] [int] NULL,
	[Location] [varchar](10) NULL,
	[TOPS] [nchar](1) NULL,
	[MfgDate] [datetime] NULL,
	[CustomerPN] [varchar](100) NULL,
	[ItemAssignedInShipVerify] [bit] NOT NULL,
	[CustRev] [nvarchar](11) NULL,
	[Scanned] [bit] NULL,
	[LocId] [varchar](10) NULL,
 CONSTRAINT [PK_BillingListDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingListDetail] ADD  CONSTRAINT [DF_BillingListDetail_ItemAssignedInShipVerify]  DEFAULT ((0)) FOR [ItemAssignedInShipVerify]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_BillingList] FOREIGN KEY([BLNo])
REFERENCES [dbo].[BillingList] ([BLNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_BillingList]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipBox] FOREIGN KEY([ShipBoxId])
REFERENCES [dbo].[ShipBox] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipBox]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipCarton] FOREIGN KEY([ShipCartonId])
REFERENCES [dbo].[ShipCarton] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipCarton]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipItem] FOREIGN KEY([ShipItemId])
REFERENCES [dbo].[ShipItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipItem]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipPallet] FOREIGN KEY([ShipPalletId])
REFERENCES [dbo].[ShipPallet] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipPallet]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipRack] FOREIGN KEY([ShipRackId])
REFERENCES [dbo].[ShipRack] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipRack]
GO
ALTER TABLE [dbo].[BillingListDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillingListDetail_ShipTote] FOREIGN KEY([ShipToteId])
REFERENCES [dbo].[ShipTote] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListDetail] CHECK CONSTRAINT [FK_BillingListDetail_ShipTote]
GO
