USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventCheckList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventCheckList](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[CheckListHeaderId] [int] NOT NULL,
	[UserId] [varchar](25) NOT NULL,
 CONSTRAINT [PK_OrderReleaseEventCheckList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckList]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventCheckList_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckList] CHECK CONSTRAINT [FK_OrderReleaseEventCheckList_OrderReleaseEvent]
GO
