USE [W005]
GO
/****** Object:  Table [dbo].[BillingList]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingList](
	[BLNo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransId] [varchar](8) NULL,
	[InvcNum] [nvarchar](15) NULL,
	[BillFromLocId] [varchar](10) NOT NULL,
	[BillFromName] [varchar](30) NULL,
	[BillFromAddr1] [varchar](30) NULL,
	[BillFromAddr2] [varchar](60) NULL,
	[BillFromCity] [varchar](30) NULL,
	[BillFromRegion] [varchar](10) NULL,
	[BillFromCountry] [varchar](6) NULL,
	[BillFromPostalCode] [varchar](10) NULL,
	[BillFromPhone] [nvarchar](15) NULL,
	[BillDate] [datetime] NULL,
	[CustId] [varchar](10) NULL,
	[CustName] [varchar](30) NULL,
	[CustPO] [varchar](25) NULL,
	[BillToId] [varchar](10) NULL,
	[BillToName] [varchar](30) NULL,
	[BillToAddr1] [varchar](30) NULL,
	[BillToAddr2] [varchar](60) NULL,
	[BillToCity] [varchar](30) NULL,
	[BillToRegion] [varchar](10) NULL,
	[BillToCountry] [varchar](6) NULL,
	[BillToPostalCode] [varchar](10) NULL,
	[RemoteWarehouse] [varchar](10) NOT NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[Notes] [ntext] NULL,
	[Complete] [bit] NOT NULL,
	[Posted] [bit] NOT NULL,
	[PostFailed] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_BillingList] PRIMARY KEY CLUSTERED 
(
	[BLNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingList] ADD  CONSTRAINT [DF_BillingList_RemoteWarehouse]  DEFAULT ('NO') FOR [RemoteWarehouse]
GO
ALTER TABLE [dbo].[BillingList] ADD  CONSTRAINT [DF_BillingList_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[BillingList] ADD  CONSTRAINT [DF_BillingList_Posted]  DEFAULT ((0)) FOR [Posted]
GO
ALTER TABLE [dbo].[BillingList] ADD  CONSTRAINT [DF_BillingList_PostFailed]  DEFAULT ((0)) FOR [PostFailed]
GO
