USE [W005]
GO
/****** Object:  Table [dbo].[SW_TestGroupDtl]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SW_TestGroupDtl](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestGroupHdrId] [int] NULL,
	[TestType] [int] NULL,
	[Complete] [bit] NOT NULL,
	[DateComplete] [datetime] NULL,
	[SpoolToRetest] [varchar](50) NULL,
	[Cp] [decimal](20, 10) NULL,
	[Cpk] [decimal](20, 10) NULL,
	[CpUOM] [varchar](5) NULL,
	[SetSPC] [decimal](20, 10) NULL,
	[SPCDataId] [int] NULL,
	[SpoolsWithOOTPos] [varchar](100) NULL,
 CONSTRAINT [PK_SW_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SW_TestGroupDtl] ADD  CONSTRAINT [DF_SW_Test_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[SW_TestGroupDtl]  WITH CHECK ADD  CONSTRAINT [FK_SW_TestDetail_SW_TestDetail] FOREIGN KEY([TestGroupHdrId])
REFERENCES [dbo].[SW_TestGroupHdr] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SW_TestGroupDtl] CHECK CONSTRAINT [FK_SW_TestDetail_SW_TestDetail]
GO
