USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventSpliceDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventSpliceDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventSpliceId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseEventWasteId] [int] NULL,
	[Slitter2FESpliceCutPos] [float] NOT NULL,
	[SplicePosition] [float] NOT NULL,
	[SplicePositionPrev] [float] NOT NULL,
	[Reworked] [bit] NOT NULL,
	[FESpliceLocation] [varchar](15) NULL,
	[SegmentLength] [float] NOT NULL,
	[IsShortSegment] [bit] NOT NULL,
	[ReworkedOrderReleaseEventId] [int] NULL,
	[SpliceOwner] [varchar](25) NULL,
	[CurrRMOREIId] [int] NULL,
	[PrevRMOREIId] [int] NULL,
	[SpliceAddlInfo] [int] NULL,
 CONSTRAINT [PK_OrderReleaseEventSpliceFGDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReleaseEventSpliceDetail]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventSpliceDetail] ON [dbo].[OrderReleaseEventSpliceDetail]
(
	[ReworkedOrderReleaseEventId] ASC,
	[Reworked] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReleaseEventSpliceDetailItemId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventSpliceDetailItemId] ON [dbo].[OrderReleaseEventSpliceDetail]
(
	[OrderReleaseEventItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReleaseEventSpliceDetailSpliceId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventSpliceDetailSpliceId] ON [dbo].[OrderReleaseEventSpliceDetail]
(
	[OrderReleaseEventSpliceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceFGDetail_Slitter2FESpliceCutPos]  DEFAULT ((0)) FOR [Slitter2FESpliceCutPos]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceFGDetail_SplicePosition]  DEFAULT ((0)) FOR [SplicePosition]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetail_SplicePositionPrev_1]  DEFAULT ((0)) FOR [SplicePositionPrev]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetail_Reworked_1]  DEFAULT ((0)) FOR [Reworked]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetail_SegmentLength_1]  DEFAULT ((0)) FOR [SegmentLength]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceDetail_IsShortSegment_1]  DEFAULT ((0)) FOR [IsShortSegment]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceDetail_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceDetail_OrderReleaseEventItem]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceDetail_OrderReleaseEventWaste] FOREIGN KEY([OrderReleaseEventWasteId])
REFERENCES [dbo].[OrderReleaseEventWaste] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceDetail_OrderReleaseEventWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceFGDetail_OrderReleaseEventSplice] FOREIGN KEY([OrderReleaseEventSpliceId])
REFERENCES [dbo].[OrderReleaseEventSplice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceDetail] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceFGDetail_OrderReleaseEventSplice]
GO
