USE [W005]
GO
/****** Object:  Table [dbo].[InventoryCountTicket]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCountTicket](
	[ICTNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ICEId] [int] NULL,
	[Site] [varchar](10) NULL,
	[Bin] [varchar](10) NULL,
	[LocId] [varchar](10) NULL,
	[TicketDate] [date] NULL,
	[InventoryisFG] [bit] NOT NULL,
	[Posted] [bit] NOT NULL,
	[NumScans] [int] NOT NULL,
 CONSTRAINT [PK_InventoryCountTicket] PRIMARY KEY CLUSTERED 
(
	[ICTNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryCountTicket] ADD  CONSTRAINT [DF_InventoryCountTicket_InventoryisFG]  DEFAULT ((0)) FOR [InventoryisFG]
GO
ALTER TABLE [dbo].[InventoryCountTicket] ADD  CONSTRAINT [DF_InventoryCountTicket_Posted]  DEFAULT ((0)) FOR [Posted]
GO
ALTER TABLE [dbo].[InventoryCountTicket] ADD  CONSTRAINT [DF_InventoryCountTicket_NumScans]  DEFAULT ((0)) FOR [NumScans]
GO
ALTER TABLE [dbo].[InventoryCountTicket]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCountTicket_InventoryCountEvent] FOREIGN KEY([ICEId])
REFERENCES [dbo].[InventoryCountEvent] ([ICEId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCountTicket] CHECK CONSTRAINT [FK_InventoryCountTicket_InventoryCountEvent]
GO
