USE [W005]
GO
/****** Object:  Table [dbo].[ShipPackingListError]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipPackingListError](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PLNo] [int] NULL,
	[PLDetailId] [int] NULL,
	[DuplicateUnitNo] [bit] NOT NULL,
	[OnQAHold] [bit] NOT NULL,
	[OnCCHold] [bit] NOT NULL,
	[InQuarantine] [bit] NOT NULL,
	[ItemNotOnOrder] [bit] NOT NULL,
	[PLUnitQtyErr] [bit] NOT NULL,
	[InvalidQty] [bit] NOT NULL,
	[OtherError] [bit] NOT NULL,
 CONSTRAINT [PK_PackingListError] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [XI_PLDetailId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [XI_PLDetailId] ON [dbo].[ShipPackingListError]
(
	[PLDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [XI_PLNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [XI_PLNo] ON [dbo].[ShipPackingListError]
(
	[PLNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_PackingListError_DuplicatePallet]  DEFAULT ((0)) FOR [DuplicateUnitNo]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_PackingListError_OnQAHold]  DEFAULT ((0)) FOR [OnQAHold]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_ShipPackingListError_OnCCHold]  DEFAULT ((0)) FOR [OnCCHold]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_ShipPackingListError_InQuarantine]  DEFAULT ((0)) FOR [InQuarantine]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_PackingListError_ItemNotOnOrder]  DEFAULT ((0)) FOR [ItemNotOnOrder]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_ShipPackingListError_PLUnitQtyErr]  DEFAULT ((0)) FOR [PLUnitQtyErr]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_PackingListError_InvalidQty]  DEFAULT ((0)) FOR [InvalidQty]
GO
ALTER TABLE [dbo].[ShipPackingListError] ADD  CONSTRAINT [DF_PackingListError_OtherPalletError]  DEFAULT ((0)) FOR [OtherError]
GO
ALTER TABLE [dbo].[ShipPackingListError]  WITH CHECK ADD  CONSTRAINT [FK_ShipPackingListError_ShipPackingListDetail] FOREIGN KEY([PLDetailId])
REFERENCES [dbo].[ShipPackingListDetail] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipPackingListError] CHECK CONSTRAINT [FK_ShipPackingListError_ShipPackingListDetail]
GO
