USE [W005]
GO
/****** Object:  Table [dbo].[InventoryCountTicketUnit]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCountTicketUnit](
	[ICTUnitId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ICTNum] [int] NULL,
	[PkgFoundInSystem] [bit] NOT NULL,
	[PkgIdMRNum] [varchar](50) NULL,
	[ShipItemId] [int] NULL,
	[ShipBoxId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipPalletId] [int] NULL,
	[Complete] [bit] NOT NULL,
	[ItemId] [varchar](24) NULL,
	[ItemDescr] [varchar](35) NULL,
	[TravSerNum] [varchar](35) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[Location] [varchar](10) NULL,
	[MfgDate] [datetime] NULL,
	[ErrorMsg] [varchar](200) NULL,
	[WrittenTotblInPhys] [bit] NOT NULL,
	[BarcodeScanned] [varchar](250) NULL,
	[NoRolls] [int] NULL,
	[TOPS] [nchar](1) NULL,
	[SerNumList] [text] NULL,
	[LotNumList] [text] NULL,
 CONSTRAINT [PK_InventoryCountTicketUnit] PRIMARY KEY CLUSTERED 
(
	[ICTUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryCountTicketUnit] ADD  CONSTRAINT [DF_InventoryCountTicket_PkgIsValid]  DEFAULT ((1)) FOR [PkgFoundInSystem]
GO
ALTER TABLE [dbo].[InventoryCountTicketUnit] ADD  CONSTRAINT [DF_InventoryCountTicket_Complete]  DEFAULT ((1)) FOR [Complete]
GO
ALTER TABLE [dbo].[InventoryCountTicketUnit] ADD  CONSTRAINT [DF_InventoryCountTicketUnit_WrittenTotblInPhys]  DEFAULT ((0)) FOR [WrittenTotblInPhys]
GO
ALTER TABLE [dbo].[InventoryCountTicketUnit]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCountTicketUnit_InventoryCountTicket] FOREIGN KEY([ICTNum])
REFERENCES [dbo].[InventoryCountTicket] ([ICTNum])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCountTicketUnit] CHECK CONSTRAINT [FK_InventoryCountTicketUnit_InventoryCountTicket]
GO
