USE [W005]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LabelKey] [nvarchar](75) NOT NULL,
	[LabelName] [nvarchar](75) NOT NULL,
	[LabelDescription] [text] NOT NULL,
	[LabelTypeId] [int] NOT NULL,
	[Revision] [int] NOT NULL,
	[EffectiveDate] [datetime] NULL,
	[Approved] [bit] NOT NULL,
	[ApprovedBy] [varchar](25) NULL,
	[SQLQuery] [text] NULL,
	[SQLParameterCount] [int] NOT NULL,
	[LabelDefinition] [varbinary](max) NULL,
	[Obsolete] [bit] NOT NULL,
	[NoPrintCopies] [int] NOT NULL,
	[RequestNoPrintCopies] [bit] NOT NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Label]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Label] ON [dbo].[Label]
(
	[LabelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_Revision]  DEFAULT ((1)) FOR [Revision]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_Approved]  DEFAULT ((0)) FOR [Approved]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_SQLParameterCount]  DEFAULT ((0)) FOR [SQLParameterCount]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_Obsolete]  DEFAULT ((0)) FOR [Obsolete]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_NoPrintCopies]  DEFAULT ((1)) FOR [NoPrintCopies]
GO
ALTER TABLE [dbo].[Label] ADD  CONSTRAINT [DF_Label_RequestNoPrintCopies]  DEFAULT ((0)) FOR [RequestNoPrintCopies]
GO
ALTER TABLE [dbo].[Label]  WITH CHECK ADD  CONSTRAINT [FK_Label_LabelType] FOREIGN KEY([LabelTypeId])
REFERENCES [dbo].[LabelType] ([Id])
GO
ALTER TABLE [dbo].[Label] CHECK CONSTRAINT [FK_Label_LabelType]
GO
