USE [W005]
GO
/****** Object:  Table [dbo].[MonthEndSummaryAdjustments]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthEndSummaryAdjustments](
	[FiscalYear] [int] NOT NULL,
	[GLPeriod] [int] NOT NULL,
	[GLAccount] [varchar](8) NOT NULL,
	[TravTotalCost] [decimal](20, 10) NOT NULL,
	[NunezTotalCost] [decimal](20, 10) NOT NULL,
	[DirectMaterialCost] [decimal](20, 10) NOT NULL,
	[InDirectMaterialCost] [decimal](20, 10) NOT NULL,
	[LaborSetupCost] [decimal](20, 10) NOT NULL,
	[LaborCost] [decimal](20, 10) NOT NULL,
	[MachineSetupCost] [decimal](20, 10) NOT NULL,
	[MachineCost] [decimal](20, 10) NOT NULL,
	[SubContractCost] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_MonthEndSummaryAdjustments] PRIMARY KEY CLUSTERED 
(
	[FiscalYear] ASC,
	[GLPeriod] ASC,
	[GLAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_TotalCost]  DEFAULT ((0)) FOR [TravTotalCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_NunezTotalCost]  DEFAULT ((0)) FOR [NunezTotalCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_DirectMaterialCost]  DEFAULT ((0)) FOR [DirectMaterialCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_InDirectMaterialCost]  DEFAULT ((0)) FOR [InDirectMaterialCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_LaborSetupCost]  DEFAULT ((0)) FOR [LaborSetupCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_LaborCost]  DEFAULT ((0)) FOR [LaborCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_MachineSetupCost]  DEFAULT ((0)) FOR [MachineSetupCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_MachineCost]  DEFAULT ((0)) FOR [MachineCost]
GO
ALTER TABLE [dbo].[MonthEndSummaryAdjustments] ADD  CONSTRAINT [DF_MonthEndSummaryAdjustments_SubContractCost]  DEFAULT ((0)) FOR [SubContractCost]
GO
