USE [W005]
GO
/****** Object:  Table [dbo].[DTSMfgDefect]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTSMfgDefect](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VendorId] [varchar](10) NOT NULL,
	[DefectCode] [varchar](5) NOT NULL,
	[DefectDescription] [varchar](75) NOT NULL,
	[DTSWebDefectId] [int] NOT NULL,
	[Picture1] [image] NULL,
	[Picture2] [image] NULL,
	[Picture3] [image] NULL,
 CONSTRAINT [PK_DTSMfgDefect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTSMfgDefect]  WITH CHECK ADD  CONSTRAINT [FK_DTSMfgDefect_WebDefect] FOREIGN KEY([DTSWebDefectId])
REFERENCES [dbo].[DTSWebDefect] ([Id])
GO
ALTER TABLE [dbo].[DTSMfgDefect] CHECK CONSTRAINT [FK_DTSMfgDefect_WebDefect]
GO
