USE [W005]
GO
/****** Object:  Table [dbo].[XRawOT]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XRawOT](
	[PartNum] [nvarchar](255) NULL,
	[TravItemId] [nvarchar](255) NULL,
	[SerialNo] [nvarchar](255) NULL,
	[LotNo] [nvarchar](255) NULL,
	[TravLocId] [nvarchar](255) NULL,
	[RemainingOT] [float] NULL,
	[cf_Out-Time Tracked] [float] NULL,
	[Program] [nvarchar](255) NULL
) ON [PRIMARY]
GO
