USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseInfo](
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[ParentOrderNo] [varchar](8) NULL,
	[ItemId] [varchar](24) NULL,
	[LocId] [varchar](10) NULL,
	[CCIManufacturingGroupId] [int] NULL,
	[InProcess] [bit] NOT NULL,
	[MfgCompleted] [bit] NOT NULL,
	[MfgStartDate] [datetime] NULL,
	[MfgEndDate] [datetime] NULL,
	[RequiredShipDate] [datetime] NULL,
	[OrderDuration] [float] NOT NULL,
	[Scheduled] [bit] NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[ScheduledOnMachines] [varchar](100) NULL,
	[ReleaseId] [int] NOT NULL,
	[RevisionNo] [varchar](3) NULL,
	[IsPostedToTraverse] [bit] NOT NULL,
	[OrderStatus] [varchar](25) NULL,
	[ReadytoSchedule] [bit] NOT NULL,
	[ApprovedBy] [varchar](25) NULL,
	[TravBomExploded] [bit] NOT NULL,
	[KitSerialNoGeneratedBy] [varchar](25) NULL,
	[CustRev] [nvarchar](11) NULL,
 CONSTRAINT [PK_OrderReleaseInfo_1] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_InProcess]  DEFAULT ((0)) FOR [InProcess]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_MfgCompleted]  DEFAULT ((0)) FOR [MfgCompleted]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_OrderDuration]  DEFAULT ((0)) FOR [OrderDuration]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_Scheduled]  DEFAULT ((0)) FOR [Scheduled]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_Quantity]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_ReleaseId]  DEFAULT ((0)) FOR [ReleaseId]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_IsPostedToTraverse]  DEFAULT ((0)) FOR [IsPostedToTraverse]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_ReadytoSchedule]  DEFAULT ((0)) FOR [ReadytoSchedule]
GO
ALTER TABLE [dbo].[OrderReleaseInfo] ADD  CONSTRAINT [DF_OrderReleaseInfo_TravBomExploded]  DEFAULT ((0)) FOR [TravBomExploded]
GO
