USE [W005]
GO
/****** Object:  Table [dbo].[CCICutFileDimSheetSpecs]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCICutFileDimSheetSpecs](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CCICutFileId] [int] NOT NULL,
	[DimAUpperLimit] [float] NOT NULL,
	[DimALowerLimit] [float] NOT NULL,
	[DimBUpperLimit] [float] NOT NULL,
	[DimBLowerLimit] [float] NOT NULL,
	[DimCUpperLimit] [float] NOT NULL,
	[DimCLowerLimit] [float] NOT NULL,
	[DimDUpperLimit] [float] NOT NULL,
	[DimDLowerLimit] [float] NOT NULL,
	[DimEUpperLimit] [float] NOT NULL,
	[DimELowerLimit] [float] NOT NULL,
	[PlyNameA] [varchar](25) NULL,
	[PlyNameB] [varchar](25) NULL,
	[PlyNameC] [varchar](25) NULL,
	[PlyNameD] [varchar](25) NULL,
	[PlyNameE] [varchar](25) NULL,
 CONSTRAINT [PK_CCICutFileDimSheetSpecs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_CCICutFileDimSheetSpecs_DimAUpperLimit]  DEFAULT ((0)) FOR [DimAUpperLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimAUpperLimit1]  DEFAULT ((0)) FOR [DimALowerLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimAUpperLimit4]  DEFAULT ((0)) FOR [DimBUpperLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimALowerLimit4]  DEFAULT ((0)) FOR [DimBLowerLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimAUpperLimit3]  DEFAULT ((0)) FOR [DimCUpperLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimALowerLimit3]  DEFAULT ((0)) FOR [DimCLowerLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimAUpperLimit2]  DEFAULT ((0)) FOR [DimDUpperLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimALowerLimit2]  DEFAULT ((0)) FOR [DimDLowerLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimAUpperLimit1_1]  DEFAULT ((0)) FOR [DimEUpperLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] ADD  CONSTRAINT [DF_Table_1_DimALowerLimit1]  DEFAULT ((0)) FOR [DimELowerLimit]
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs]  WITH CHECK ADD  CONSTRAINT [FK_CCICutFileDimSheetSpecs_CCICutFile] FOREIGN KEY([CCICutFileId])
REFERENCES [dbo].[CCICutFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCICutFileDimSheetSpecs] CHECK CONSTRAINT [FK_CCICutFileDimSheetSpecs_CCICutFile]
GO
