USE [W005]
GO
/****** Object:  Table [dbo].[TRMaterialUsed]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRMaterialUsed](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipPalletIdUsed] [int] NOT NULL,
	[PkgIdUsed] [varchar](10) NOT NULL,
	[ShipItemIdUsed] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotNo] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[NoRollsRemaining] [int] NULL,
	[NoRollsUsed] [int] NOT NULL,
	[LbPerRollUsed] [decimal](20, 10) NOT NULL,
	[LbUsed] [decimal](20, 10) NOT NULL,
	[DateTimeUsed] [datetime] NOT NULL,
	[UsedByPkgId] [varchar](10) NOT NULL,
	[UsedByUnitId] [int] NOT NULL,
	[PostedToTraverse] [bit] NOT NULL,
	[PostedDateTime] [datetime] NULL,
	[UsedPalletLabelReprinted] [bit] NOT NULL,
 CONSTRAINT [PK_TRMaterialUsed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRMaterialUsed] ADD  CONSTRAINT [DF_TRMaterialUsed_PostedToTraverse]  DEFAULT ((0)) FOR [PostedToTraverse]
GO
ALTER TABLE [dbo].[TRMaterialUsed] ADD  CONSTRAINT [DF_TRMaterialUsed_UsedPalletLabelReprinted]  DEFAULT ((0)) FOR [UsedPalletLabelReprinted]
GO
ALTER TABLE [dbo].[TRMaterialUsed]  WITH CHECK ADD  CONSTRAINT [FK_TRMaterialUsed_ShipItem] FOREIGN KEY([ShipItemIdUsed])
REFERENCES [dbo].[ShipItem] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRMaterialUsed] CHECK CONSTRAINT [FK_TRMaterialUsed_ShipItem]
GO
