USE [W005]
GO
/****** Object:  Table [dbo].[CCIRecutInspectionLog]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIRecutInspectionLog](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[OrderReleaseEventIdPrior] [int] NOT NULL,
	[CuttingTechUserId] [varchar](25) NOT NULL,
	[RejectErrorCode] [varchar](5) NULL,
	[ReasonForReCut] [varchar](100) NOT NULL,
	[ListOfPliesRecut] [varchar](max) NOT NULL,
	[DispositionCode] [varchar](5) NOT NULL,
	[QualityInspector] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CCIRecutInspectionLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIRecutInspectionLog]  WITH CHECK ADD  CONSTRAINT [FK_CCIRecutInspectionLog_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIRecutInspectionLog] CHECK CONSTRAINT [FK_CCIRecutInspectionLog_OrderReleaseEvent]
GO
