USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventSpliceRW]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventSpliceRW](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[SpliceType] [int] NOT NULL,
	[SpliceAddlInfo] [int] NULL,
	[MRLengthCounter] [float] NOT NULL,
	[PLCLengthCounter] [float] NOT NULL,
	[SpliceTbl2SlitterOffset] [float] NOT NULL,
	[ItemId] [varchar](25) NOT NULL,
	[OrderReleaseEventItemId] [int] NULL,
	[RWOREIId] [int] NULL,
	[SplicePerformedBy] [varchar](25) NULL,
	[TopVisualSpliceInspectionPerformedBy] [varchar](25) NULL,
	[BottomVisualSpliceInspectionPerformedBy] [varchar](25) NULL,
	[SpliceWithinTolerance] [varchar](6) NULL,
	[SplicedFailedTolerance1] [float] NOT NULL,
	[SplicedFailedTolerance2] [float] NOT NULL,
	[SplicedFailedTolerance3] [float] NOT NULL,
	[SerialNo] [varchar](16) NULL,
	[SpliceOwner] [varchar](25) NULL,
	[FESpliceWaste] [varchar](15) NULL,
	[WasteIncludedinSplicePosCalcs] [bit] NOT NULL,
	[PrevOrderReleaseEventItemId] [int] NULL,
 CONSTRAINT [PK_OrderReleaseEventSpliceRW] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_MRLengthCounter]  DEFAULT ((0)) FOR [MRLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_PLCLengthCounter]  DEFAULT ((0)) FOR [PLCLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_SpliceTbl2SlitterOffset]  DEFAULT ((0)) FOR [SpliceTbl2SlitterOffset]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_SplicedFailedTolerance1_1]  DEFAULT ((0)) FOR [SplicedFailedTolerance1]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_SplicedFailedTolerance2_1]  DEFAULT ((0)) FOR [SplicedFailedTolerance2]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_SplicedFailedTolerance3_1]  DEFAULT ((0)) FOR [SplicedFailedTolerance3]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_FESpliceWaste]  DEFAULT ('Spool') FOR [FESpliceWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] ADD  CONSTRAINT [DF_OrderReleaseEventSpliceRW_WasteIncludedinSplicePosCalcs]  DEFAULT ((0)) FOR [WasteIncludedinSplicePosCalcs]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceRW_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceRW_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceRW_SpliceLookupEditCode] FOREIGN KEY([SpliceType])
REFERENCES [dbo].[SpliceLookupEditCode] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceRW_SpliceLookupEditCode]
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventSpliceRW_SpliceLookupEditCode1] FOREIGN KEY([SpliceAddlInfo])
REFERENCES [dbo].[SpliceLookupEditCode] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventSpliceRW] CHECK CONSTRAINT [FK_OrderReleaseEventSpliceRW_SpliceLookupEditCode1]
GO
