USE [W005]
GO
/****** Object:  Table [dbo].[MonthEndItemLocLotSummary]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthEndItemLocLotSummary](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FiscalYear] [int] NOT NULL,
	[GLPeriod] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NOT NULL,
	[LocId] [dbo].[pLocID] NOT NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[GLAccount] [varchar](8) NOT NULL,
	[GLAcctCode] [varchar](2) NULL,
	[QtyOnHand] [dbo].[pDec] NOT NULL,
	[UOM] [dbo].[pUom] NOT NULL,
	[TravTotalCost] [decimal](20, 10) NOT NULL,
	[NunezTotalCost] [decimal](20, 10) NOT NULL,
	[DirectMaterialCost] [decimal](20, 10) NOT NULL,
	[InDirectMaterialCost] [decimal](20, 10) NOT NULL,
	[LaborSetupCost] [decimal](20, 10) NOT NULL,
	[LaborCost] [decimal](20, 10) NOT NULL,
	[MachineSetupCost] [decimal](20, 10) NOT NULL,
	[MachineCost] [decimal](20, 10) NOT NULL,
	[SubContractCost] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_MonthEndItemLocLotSummary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MonthEndItemLocLotSummary]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_MonthEndItemLocLotSummary] ON [dbo].[MonthEndItemLocLotSummary]
(
	[ItemId] ASC,
	[LocId] ASC,
	[LotNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MonthEndItemLocLotSummary_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_MonthEndItemLocLotSummary_1] ON [dbo].[MonthEndItemLocLotSummary]
(
	[FiscalYear] ASC,
	[GLPeriod] ASC,
	[ItemId] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF__MonthEndI__QtyOn__276FAA0A]  DEFAULT ((0)) FOR [QtyOnHand]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_TotalCost]  DEFAULT ((0)) FOR [TravTotalCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_NunezTotalCost]  DEFAULT ((0)) FOR [NunezTotalCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_DirectMaterialCost]  DEFAULT ((0)) FOR [DirectMaterialCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_InDirectMaterialCost]  DEFAULT ((0)) FOR [InDirectMaterialCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_LaborSetupCost]  DEFAULT ((0)) FOR [LaborSetupCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_LaborCost]  DEFAULT ((0)) FOR [LaborCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_MachineSetupCost]  DEFAULT ((0)) FOR [MachineSetupCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_MachineCost]  DEFAULT ((0)) FOR [MachineCost]
GO
ALTER TABLE [dbo].[MonthEndItemLocLotSummary] ADD  CONSTRAINT [DF_MonthEndItemLocLotSummary_SubContractCost]  DEFAULT ((0)) FOR [SubContractCost]
GO
