USE [W005]
GO
/****** Object:  Table [dbo].[CCITableCalibration]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCITableCalibration](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Location] [varchar](10) NOT NULL,
	[Machine] [varchar](10) NOT NULL,
	[MachineTech] [varchar](25) NOT NULL,
	[Shift] [varchar](10) NOT NULL,
	[TH1] [varchar](10) NOT NULL,
	[TH1ALIGN] [varchar](10) NOT NULL,
	[TH1A1] [float] NOT NULL,
	[TH1B1] [float] NOT NULL,
	[TH1A2] [float] NOT NULL,
	[TH1B2] [float] NOT NULL,
	[TH1D1] [float] NOT NULL,
	[TH1D2] [float] NOT NULL,
	[TH2] [varchar](10) NULL,
	[TH2ALIGN] [varchar](10) NULL,
	[TH2A1] [float] NULL,
	[TH2B1] [float] NULL,
	[TH2A2] [float] NULL,
	[TH2B2] [float] NULL,
	[TH2D1] [float] NULL,
	[TH2D2] [float] NULL,
	[Cleaning] [varchar](50) NOT NULL,
	[FODWalk] [int] NOT NULL,
	[Humidity] [float] NOT NULL,
	[Temp] [float] NOT NULL,
	[Wipers] [varchar](50) NOT NULL,
	[PosAirPressure] [varchar](20) NULL,
	[Particle05CT] [float] NULL,
	[Particle1CT] [float] NULL,
	[Particle5CT] [float] NULL,
	[ParticleCT] [float] NULL,
	[WeeklySquare] [varchar](50) NULL,
	[WeeklyOffset] [varchar](50) NULL,
	[MonthlyCheckXYScales] [varchar](50) NULL,
	[MonthlyControlCabFilter] [varchar](50) NULL,
	[MonthlyRails] [varchar](50) NULL,
	[ParticleCTLocID] [varchar](20) NULL,
 CONSTRAINT [PK_CCITableCalibration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
