USE [W005]
GO
/****** Object:  Table [dbo].[tmpShippedPallet]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpShippedPallet](
	[PalletNo] [nvarchar](255) NULL
) ON [PRIMARY]
GO
