USE [W005]
GO
/****** Object:  Table [dbo].[MachineConfig]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineConfig](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SlitWidthInches] [decimal](10, 4) NOT NULL,
	[NumberOfCuts] [int] NOT NULL,
	[MachineId] [int] NOT NULL,
	[UOM] [varchar](3) NOT NULL,
 CONSTRAINT [PK_MachineConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineConfig] ADD  CONSTRAINT [DF_MachineCutConfig_SlitWidthInches]  DEFAULT ((0)) FOR [SlitWidthInches]
GO
ALTER TABLE [dbo].[MachineConfig] ADD  CONSTRAINT [DF_MachineCutConfig_NumberOfCuts]  DEFAULT ((0)) FOR [NumberOfCuts]
GO
ALTER TABLE [dbo].[MachineConfig] ADD  CONSTRAINT [DF_MachineConfig_MachineId]  DEFAULT ((-1)) FOR [MachineId]
GO
ALTER TABLE [dbo].[MachineConfig] ADD  CONSTRAINT [DF_MachineConfig_UOM_1]  DEFAULT ('IN') FOR [UOM]
GO
