USE [W005]
GO
/****** Object:  Table [dbo].[tGapsIslands]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGapsIslands](
	[ID] [int] NOT NULL,
	[IntVal] [int] NOT NULL,
	[SerNo] [varchar](16) NOT NULL
) ON [PRIMARY]
GO
