USE [W005]
GO
/****** Object:  Table [dbo].[LabelPrintJobHeader]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelPrintJobHeader](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PrintJobId] [int] NOT NULL,
	[TransId] [varchar](8) NULL,
	[ReceiptNum] [varchar](15) NULL,
	[ReceiptDate] [datetime] NULL,
	[ItemId] [varchar](24) NULL,
	[IsMultiUOM] [bit] NULL,
	[LotCnt] [int] NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[OpInit] [varchar](10) NULL,
	[SerialNo] [varchar](20) NULL,
	[LotNo] [varchar](20) NULL,
	[ShipItemId] [int] NULL,
	[BoxId] [int] NULL,
	[CtnId] [int] NULL,
	[PalletId] [int] NULL,
	[CustData] [nvarchar](50) NULL,
	[PrintCopies] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NULL,
	[LocId] [varchar](10) NULL,
	[TravSerialNo] [varchar](35) NULL,
	[BagNum] [varchar](24) NULL,
	[PkgId] [varchar](10) NULL,
	[PLNo] [int] NULL,
	[PalletSeqNo] [int] NULL,
	[SampleId] [int] NULL,
 CONSTRAINT [PK_LabelPrintItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LabelPrintJobHeader]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LabelPrintJobHeader] ON [dbo].[LabelPrintJobHeader]
(
	[PrintJobId] ASC,
	[TransId] ASC,
	[ReceiptNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LabelPrintJobHeader] ADD  CONSTRAINT [DF_LabelPrintJobHeader_PrintCopies]  DEFAULT ((1)) FOR [PrintCopies]
GO
