USE [W005]
GO
/****** Object:  Table [dbo].[tmpPrevOrderReleaseKitRawMatlOutTime]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpPrevOrderReleaseKitRawMatlOutTime](
	[Id] [int] NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[FGItemId] [varchar](24) NOT NULL,
	[FGTravSerNum] [varchar](35) NOT NULL,
	[FGTravLotNum] [varchar](16) NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[RMSerialNo] [varchar](16) NULL,
	[RMLotNo] [varchar](16) NULL,
	[LastScanDateTime] [datetime] NOT NULL,
	[ThawCompletedDT] [datetime] NULL,
	[TotalRoomMinutes] [int] NOT NULL,
	[TotalFreezerMinutes] [int] NOT NULL,
	[TotalReeferMinutes] [int] NOT NULL,
	[MaxRoomDTReached] [datetime] NULL,
	[MaxFreezerDTReached] [datetime] NULL,
	[MaxReeferDTReached] [datetime] NULL,
	[EstLastScanDateTime] [datetime] NULL,
	[EstTotalRoomMinutes] [int] NULL,
	[RMParentSerialNo] [varchar](16) NULL,
 CONSTRAINT [PK_tmpPrevOrderReleaseKitRawMatlOutTime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpPrevOrderReleaseKitRawMatlOutTime] ADD  CONSTRAINT [DF_tmpPrevOrderReleaseKitRawMatlOutTime_TotalRoomMinutes]  DEFAULT ((0)) FOR [TotalRoomMinutes]
GO
ALTER TABLE [dbo].[tmpPrevOrderReleaseKitRawMatlOutTime] ADD  CONSTRAINT [DF_tmpPrevOrderReleaseKitRawMatlOutTime_TotalFreezerMinutes]  DEFAULT ((0)) FOR [TotalFreezerMinutes]
GO
ALTER TABLE [dbo].[tmpPrevOrderReleaseKitRawMatlOutTime] ADD  CONSTRAINT [DF_tmpPrevOrderReleaseKitRawMatlOutTime_TotalReeferMinutes]  DEFAULT ((0)) FOR [TotalReeferMinutes]
GO
