USE [W005]
GO
/****** Object:  Table [dbo].[InventoryCountTicketDetail]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCountTicketDetail](
	[ICTDetailId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ICTUnitId] [int] NOT NULL,
	[ICTNum] [int] NULL,
	[ShipUnitId] [int] NULL,
	[ItemId] [varchar](24) NULL,
	[Location] [varchar](10) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[NoRolls] [int] NULL,
	[TravSerNum] [varchar](35) NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAId] [varchar](10) NULL,
	[WrittenTotblInPhys] [bit] NOT NULL,
 CONSTRAINT [PK_InventoryCountTicketDetail] PRIMARY KEY CLUSTERED 
(
	[ICTDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryCountTicketDetail] ADD  CONSTRAINT [DF_InventoryCountTicketDetail_WrittenTotblInPhys]  DEFAULT ((0)) FOR [WrittenTotblInPhys]
GO
ALTER TABLE [dbo].[InventoryCountTicketDetail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCountTicketDetail_InventoryCountTicketUnit] FOREIGN KEY([ICTUnitId])
REFERENCES [dbo].[InventoryCountTicketUnit] ([ICTUnitId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCountTicketDetail] CHECK CONSTRAINT [FK_InventoryCountTicketDetail_InventoryCountTicketUnit]
GO
