USE [W005]
GO
/****** Object:  Table [dbo].[WasteReason]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WasteReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Owner] [varchar](25) NOT NULL,
	[WasteReason] [varchar](50) NOT NULL,
	[Hide] [bit] NOT NULL,
 CONSTRAINT [PK_WasteReason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WasteReason] ADD  CONSTRAINT [DF_WasteReason_Hide]  DEFAULT ((0)) FOR [Hide]
GO
