USE [W005]
GO
/****** Object:  Table [dbo].[WebWmMoveQuantity]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebWmMoveQuantity](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotNum] [varchar](16) NULL,
	[SerNum] [varchar](35) NULL,
	[LocId] [varchar](10) NOT NULL,
	[FromBinId] [int] NULL,
	[ToBinId] [int] NOT NULL,
	[ToBinType] [varchar](25) NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[DfltUOM] [varchar](5) NOT NULL,
	[ScanDateTime] [datetime] NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[HostId] [varchar](20) NOT NULL,
	[Error] [bit] NOT NULL,
	[TravWmMoveQtyId] [int] NULL,
	[OutTimeRecvdId] [int] NULL,
	[ErrorMsg] [varchar](200) NULL,
	[TravSerNum] [varchar](35) NULL,
	[IsPartialKit] [bit] NOT NULL,
	[ProgramId] [int] NULL,
	[RecorderRoomMin] [int] NULL,
	[RecorderReeferMin] [int] NULL,
	[IsReceiving] [bit] NULL,
	[DoorOpenDateTime] [datetime] NULL,
	[ShipPalletNo] [varchar](10) NULL,
	[ShipCartonNo] [varchar](10) NULL,
	[ShipBoxNo] [varchar](10) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Notes] [varchar](100) NULL,
	[PDF417] [varchar](max) NULL,
	[TransId] [varchar](8) NULL,
	[EntryNum] [int] NULL,
	[ReceiptNum] [varchar](15) NULL,
	[OrderNo] [varchar](8) NULL,
	[RoomTimeHrs] [float] NOT NULL,
	[ReeferTimeHrs] [float] NOT NULL,
	[FreezerTimeHrs] [float] NOT NULL,
	[FromBin] [varchar](10) NULL,
	[ToBin] [varchar](10) NULL,
	[VendorId] [varchar](10) NULL,
 CONSTRAINT [PK_WebWmMoveQuantity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_Error]  DEFAULT ((0)) FOR [Error]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_IsPartialKit]  DEFAULT ((0)) FOR [IsPartialKit]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_IsReceiving]  DEFAULT ((0)) FOR [IsReceiving]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_RoomTimeHrs_1]  DEFAULT ((0)) FOR [RoomTimeHrs]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_ReeferTimeHrs_1]  DEFAULT ((0)) FOR [ReeferTimeHrs]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] ADD  CONSTRAINT [DF_WebWmMoveQuantity_FreezerTimeHrs_1]  DEFAULT ((0)) FOR [FreezerTimeHrs]
GO
ALTER TABLE [dbo].[WebWmMoveQuantity]  WITH CHECK ADD  CONSTRAINT [FK_WebWmMoveQuantity_OutTimeReceiving] FOREIGN KEY([OutTimeRecvdId])
REFERENCES [dbo].[OutTimeReceiving] ([Id])
GO
ALTER TABLE [dbo].[WebWmMoveQuantity] CHECK CONSTRAINT [FK_WebWmMoveQuantity_OutTimeReceiving]
GO
