USE [W005]
GO
/****** Object:  Table [dbo].[CCIParentOrderCutListMRP]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIParentOrderCutListMRP](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[MfgStartDate] [datetime] NULL,
	[MfgEndDate] [datetime] NULL,
	[FGItemId] [varchar](24) NOT NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[TotalMaterial] [float] NULL,
	[SingleCountMaterial] [float] NULL,
 CONSTRAINT [PK_CCIParentOrderCutListMRP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIParentOrderCutListMRP_OrderNoReleaseNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIParentOrderCutListMRP_OrderNoReleaseNo] ON [dbo].[CCIParentOrderCutListMRP]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIParentOrderCutListMRP_ParentOrderNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIParentOrderCutListMRP_ParentOrderNo] ON [dbo].[CCIParentOrderCutListMRP]
(
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
