USE [W005]
GO
/****** Object:  Table [dbo].[CustomerChar]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerChar](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CustId] [varchar](10) NOT NULL,
	[CharId] [int] NOT NULL,
	[nTarget] [decimal](20, 10) NULL,
	[nMin] [decimal](20, 10) NULL,
	[nMax] [decimal](20, 10) NULL,
	[bTarget] [bit] NOT NULL,
	[sTarget] [varchar](150) NULL,
	[MinNA] [bit] NOT NULL,
	[MaxNA] [bit] NOT NULL,
	[Enforce] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[Logo] [varbinary](max) NULL,
 CONSTRAINT [PK_WICustomerSpec] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_nTarget]  DEFAULT ((0)) FOR [nTarget]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_nMin]  DEFAULT ((0)) FOR [nMin]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_nMax]  DEFAULT ((0)) FOR [nMax]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_bTarget]  DEFAULT ((0)) FOR [bTarget]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_MinNA]  DEFAULT ((0)) FOR [MinNA]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_CustomerChar_MaxNA]  DEFAULT ((0)) FOR [MaxNA]
GO
ALTER TABLE [dbo].[CustomerChar] ADD  CONSTRAINT [DF_WICustomerSpec_Enforce]  DEFAULT ((0)) FOR [Enforce]
GO
ALTER TABLE [dbo].[CustomerChar]  WITH CHECK ADD  CONSTRAINT [FK_CustomerChar_CustomerCharParameter] FOREIGN KEY([CharId])
REFERENCES [dbo].[CustomerCharacteristic] ([Id])
GO
ALTER TABLE [dbo].[CustomerChar] CHECK CONSTRAINT [FK_CustomerChar_CustomerCharParameter]
GO
