USE [W005]
GO
/****** Object:  Table [dbo].[SupplyChainInvVal]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyChainInvVal](
	[PlantId] [varchar](3) NOT NULL,
	[FYear] [int] NOT NULL,
	[FMonth] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[InvType] [varchar](14) NOT NULL,
	[FQtr] [int] NOT NULL,
	[CMonth] [int] NULL,
	[InvOwner] [varchar](25) NULL,
	[Buyer] [nvarchar](5) NULL,
	[BuyerName] [nvarchar](37) NULL,
	[POVal] [decimal](38, 6) NOT NULL,
	[InvVal] [decimal](38, 10) NOT NULL,
	[COGS] [money] NOT NULL,
 CONSTRAINT [PK_SupplyChainInvVal] PRIMARY KEY CLUSTERED 
(
	[PlantId] ASC,
	[FYear] ASC,
	[FMonth] ASC,
	[ItemId] ASC,
	[InvType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
