USE [W005]
GO
/****** Object:  Table [dbo].[DTSComputerOption]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTSComputerOption](
	[ComputerName] [varchar](50) NOT NULL,
	[MachineId] [int] NULL,
	[VideoFrameRate] [varchar](10) NULL,
	[VideoInputDevice] [varchar](75) NULL,
	[VideoInputFormat] [varchar](75) NULL,
	[MachineName] [varchar](10) NULL,
 CONSTRAINT [PK_DTSComputerOptions] PRIMARY KEY CLUSTERED 
(
	[ComputerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTSComputerOption]  WITH CHECK ADD  CONSTRAINT [FK_DTSComputerOption_Machine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machine] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DTSComputerOption] CHECK CONSTRAINT [FK_DTSComputerOption_Machine]
GO
