USE [W005]
GO
/****** Object:  Table [dbo].[CCIParentOrdersUpdating]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIParentOrdersUpdating](
	[Id] [int] NOT NULL,
	[Updating] [bit] NOT NULL,
 CONSTRAINT [PK_CCIParentOrdersUpdating] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIParentOrdersUpdating] ADD  CONSTRAINT [DF_CCIParentOrdersUpdating_Updating]  DEFAULT ((0)) FOR [Updating]
GO
