USE [W005]
GO
/****** Object:  Table [dbo].[DTSMasterRoll]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTSMasterRoll](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[POTransId] [varchar](8) NULL,
	[POReceiptNum] [varchar](15) NULL,
	[VendorId] [varchar](10) NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotNumber] [varchar](16) NOT NULL,
	[RollNumber] [varchar](16) NOT NULL,
	[StatedGrossLengthMeters] [decimal](18, 2) NOT NULL,
	[StatedUseableLengthMeters] [decimal](18, 2) NOT NULL,
	[StatedTotalDefectLengthMeters] [decimal](18, 2) NOT NULL,
	[EndTagLocationMeters] [decimal](18, 2) NOT NULL,
	[StatedGrossLengthFeet] [decimal](18, 2) NOT NULL,
	[StatedUseableLengthFeet] [decimal](18, 2) NOT NULL,
	[StatedTotalDefectLengthFeet] [decimal](18, 2) NOT NULL,
	[EndTagLocationFeet] [decimal](18, 2) NOT NULL,
	[EndTagValidated] [bit] NOT NULL,
	[MinSegMeters] [decimal](18, 2) NOT NULL,
	[MinSegFeet] [decimal](18, 2) NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[ScannedBarcode] [varchar](max) NULL,
	[DefectCodeError] [bit] NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[MFGDate] [datetime] NOT NULL,
	[GrossArea] [decimal](18, 2) NOT NULL,
	[DefectArea] [decimal](18, 2) NOT NULL,
	[NetArea] [decimal](18, 2) NOT NULL,
	[NetWeight] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DTSMasterRoll] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240529-092457]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240529-092457] ON [dbo].[DTSMasterRoll]
(
	[ItemId] ASC,
	[RollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240529-093149]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240529-093149] ON [dbo].[DTSMasterRoll]
(
	[POTransId] ASC,
	[POReceiptNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_GrossLength]  DEFAULT ((0)) FOR [StatedGrossLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_UsableMaterialLength]  DEFAULT ((0)) FOR [StatedUseableLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_TotalDefectLength]  DEFAULT ((0)) FOR [StatedTotalDefectLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_EndTagLocation]  DEFAULT ((0)) FOR [EndTagLocationMeters]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_StatedGrossLengthMeters1]  DEFAULT ((0)) FOR [StatedGrossLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_StatedUseableLengthMeters1]  DEFAULT ((0)) FOR [StatedUseableLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_StatedTotalDefectLengthMeters1]  DEFAULT ((0)) FOR [StatedTotalDefectLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_EndTagLocationMeters1]  DEFAULT ((0)) FOR [EndTagLocationFeet]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_EndTagValidated]  DEFAULT ((0)) FOR [EndTagValidated]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_MinSegMeters]  DEFAULT ((0)) FOR [MinSegMeters]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_MinSegLength]  DEFAULT ((0)) FOR [MinSegFeet]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_DefectCodeError]  DEFAULT ((0)) FOR [DefectCodeError]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_GrossArea_1]  DEFAULT ((0)) FOR [GrossArea]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_DefectArea]  DEFAULT ((0)) FOR [DefectArea]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_NetArea]  DEFAULT ((0)) FOR [NetArea]
GO
ALTER TABLE [dbo].[DTSMasterRoll] ADD  CONSTRAINT [DF_DTSMasterRoll_NetWeight]  DEFAULT ((0)) FOR [NetWeight]
GO
