USE [W005]
GO
/****** Object:  Table [dbo].[ParentOrderXRef]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentOrderXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[AssemblyId] [varchar](24) NOT NULL,
 CONSTRAINT [PK_ParentOrderXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParentOrderXRef]  WITH CHECK ADD  CONSTRAINT [FK_ParentOrderXRef_ParentOrder] FOREIGN KEY([ParentOrderNo])
REFERENCES [dbo].[ParentOrder] ([ParentOrderNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParentOrderXRef] CHECK CONSTRAINT [FK_ParentOrderXRef_ParentOrder]
GO
