USE [W005]
GO
/****** Object:  Table [dbo].[ProfilometerCalibration]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfilometerCalibration](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestHdrId] [int] NULL,
	[GageId] [varchar](25) NULL,
	[Date] [date] NULL,
	[UserId] [varchar](25) NULL,
	[CalValue] [decimal](18, 3) NULL,
	[Target] [decimal](18, 3) NULL,
	[Min] [decimal](18, 3) NULL,
	[Max] [decimal](18, 3) NULL,
 CONSTRAINT [PK_ProfilometerCalibration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfilometerCalibration]  WITH CHECK ADD  CONSTRAINT [FK_ProfilometerCalibration_ProfilometerTestHdr] FOREIGN KEY([TestHdrId])
REFERENCES [dbo].[ProfilometerTestHdr] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfilometerCalibration] CHECK CONSTRAINT [FK_ProfilometerCalibration_ProfilometerTestHdr]
GO
