USE [W005]
GO
/****** Object:  Table [dbo].[tmpOrdRelKitRawMatlOT]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpOrdRelKitRawMatlOT](
	[Id] [int] NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NULL,
	[OrderReleaseKitRawMatlOutTimeId] [int] NULL,
	[FGItemId] [varchar](24) NULL,
	[FGTravSerNum] [varchar](35) NULL,
	[FGTravLotNum] [varchar](16) NULL,
	[RMItemId] [varchar](24) NULL,
	[RMSerialNo] [varchar](16) NULL,
	[RMLotNo] [varchar](16) NULL,
	[BinType] [varchar](25) NULL,
	[LastScanDateTime] [datetime] NULL,
	[ThawCompletedDT] [datetime] NULL,
	[TotalRoomMinutes] [int] NULL,
	[TotalFreezerMinutes] [int] NULL,
	[TotalReeferMinutes] [int] NULL,
	[MaxRoomDTReached] [datetime] NULL,
	[MaxFreezerDTReached] [datetime] NULL,
	[MaxReeferDTReached] [datetime] NULL,
	[EstLastScanDateTime] [datetime] NULL,
	[EstTotalRoomMinutes] [int] NULL,
	[RMParentSerialNo] [varchar](16) NULL,
 CONSTRAINT [PK_tmpOrdRelKitRawMatlOT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpOrdRelKitRawMatlOT] ADD  CONSTRAINT [DF_tmpOrdRelKitRawMatlOT_TotalRoomMinutes]  DEFAULT ((0)) FOR [TotalRoomMinutes]
GO
ALTER TABLE [dbo].[tmpOrdRelKitRawMatlOT] ADD  CONSTRAINT [DF_tmpOrdRelKitRawMatlOT_TotalFreezerMinutes]  DEFAULT ((0)) FOR [TotalFreezerMinutes]
GO
ALTER TABLE [dbo].[tmpOrdRelKitRawMatlOT] ADD  CONSTRAINT [DF_tmpOrdRelKitRawMatlOT_TotalReeferMinutes]  DEFAULT ((0)) FOR [TotalReeferMinutes]
GO
