USE [W005]
GO
/****** Object:  Table [dbo].[QuoteHeader]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteHeader](
	[QuoteNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StatusId] [int] NOT NULL,
	[QuoteDate] [date] NOT NULL,
	[ExpirationDate] [date] NULL,
	[CustId] [varchar](10) NULL,
	[CustName] [varchar](30) NULL,
	[Addr1] [varchar](30) NULL,
	[Addr2] [varchar](60) NULL,
	[City] [varchar](30) NULL,
	[Region] [varchar](10) NULL,
	[Country] [varchar](6) NULL,
	[PostalCode] [varchar](10) NULL,
	[ShipVia] [varchar](20) NULL,
	[ShipTerm] [varchar](20) NULL,
	[PaymentTerm] [varchar](6) NULL,
	[Note] [ntext] NULL,
	[ShipToId] [varchar](10) NULL,
	[ShipToName] [varchar](30) NULL,
	[ShipToAddr1] [varchar](30) NULL,
	[ShipToAddr2] [varchar](60) NULL,
	[ShipToCity] [varchar](30) NULL,
	[ShipToRegion] [varchar](10) NULL,
	[ShipToCountry] [varchar](6) NULL,
	[ShipToPostalCode] [varchar](10) NULL,
	[FreightCharge] [decimal](20, 10) NULL,
	[MiscCharge1] [decimal](20, 10) NULL,
	[MiscCharge2] [decimal](20, 10) NULL,
	[MiscCharge3] [decimal](20, 10) NULL,
	[QuoteTotal] [decimal](20, 10) NULL,
 CONSTRAINT [PK_QuoteHeader] PRIMARY KEY CLUSTERED 
(
	[QuoteNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuoteHeader] ADD  CONSTRAINT [DF_QuoteHeader_Status]  DEFAULT ((0)) FOR [StatusId]
GO
ALTER TABLE [dbo].[QuoteHeader]  WITH CHECK ADD  CONSTRAINT [FK_QuoteHeader_QuoteStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[QuoteStatus] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QuoteHeader] CHECK CONSTRAINT [FK_QuoteHeader_QuoteStatus]
GO
