USE [W005]
GO
/****** Object:  Table [dbo].[OutTimeItemSpecs]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutTimeItemSpecs](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[ProgramId] [int] NULL,
	[ThawType] [varchar](12) NOT NULL,
	[MaxFreezerTimeHrs] [float] NOT NULL,
	[MaxReeferTimeHrs] [float] NOT NULL,
	[MaxRoomTimeHrs] [float] NOT NULL,
	[MinThawTimeHrs] [float] NOT NULL,
	[MinDaysUntilExpirAtShipment] [float] NOT NULL,
	[MinRemainingOTHoursAtShipment] [float] NOT NULL,
	[PartialKitMinThawTimeHrs] [float] NOT NULL,
	[FreezerAlarmHrs] [float] NOT NULL,
	[ReeferAlarmHrs] [float] NOT NULL,
	[RoomAlarmHrs] [float] NOT NULL,
	[ReeferComboThawHrs] [float] NOT NULL,
	[RoomComboThawHrs] [float] NOT NULL,
	[ReeferPercentOfRoomOT] [float] NOT NULL,
	[PullTimePlus] [int] NOT NULL,
	[PullTimeMinus] [int] NOT NULL,
 CONSTRAINT [PK_OutTimeItemSpecs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OutTimeItemSpecs]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OutTimeItemSpecs] ON [dbo].[OutTimeItemSpecs]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_ThawType]  DEFAULT ('FIXED') FOR [ThawType]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MaxFreezerTimeHrs]  DEFAULT ((0)) FOR [MaxFreezerTimeHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MaxReeferTimeHrs]  DEFAULT ((0)) FOR [MaxReeferTimeHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MaxThawTimeHrs]  DEFAULT ((0)) FOR [MaxRoomTimeHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MinThawTimeHrs]  DEFAULT ((0)) FOR [MinThawTimeHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MinDaysUntilExpirAtShipment]  DEFAULT ((0)) FOR [MinDaysUntilExpirAtShipment]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MinRemainingOTHoursAtShipment]  DEFAULT ((0)) FOR [MinRemainingOTHoursAtShipment]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_MinThawTimeHrsPly]  DEFAULT ((0)) FOR [PartialKitMinThawTimeHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_FreezerAlarmHrs]  DEFAULT ((0)) FOR [FreezerAlarmHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_ReeferAlarmHrs]  DEFAULT ((0)) FOR [ReeferAlarmHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_RoomAlarmHrs]  DEFAULT ((0)) FOR [RoomAlarmHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_ReeferComboThawHrs]  DEFAULT ((0)) FOR [ReeferComboThawHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_RoomComboThawHrs]  DEFAULT ((0)) FOR [RoomComboThawHrs]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_ReeferPercentOfRoomOT]  DEFAULT ((0)) FOR [ReeferPercentOfRoomOT]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_PullTimePlus_1]  DEFAULT ((0)) FOR [PullTimePlus]
GO
ALTER TABLE [dbo].[OutTimeItemSpecs] ADD  CONSTRAINT [DF_OutTimeItemSpecs_PullTimeMinus_1]  DEFAULT ((0)) FOR [PullTimeMinus]
GO
