USE [W005]
GO
/****** Object:  Table [dbo].[DTSMasterRollUsed]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTSMasterRollUsed](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MasterRollId] [int] NOT NULL,
	[LotNumber] [varchar](16) NULL,
	[RollNumber] [varchar](16) NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
 CONSTRAINT [PK_DTSMasterRollUsed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTSMasterRollUsed]  WITH CHECK ADD  CONSTRAINT [FK_DTSMasterRollUsed_DTSMasterRoll] FOREIGN KEY([MasterRollId])
REFERENCES [dbo].[DTSMasterRoll] ([Id])
GO
ALTER TABLE [dbo].[DTSMasterRollUsed] CHECK CONSTRAINT [FK_DTSMasterRollUsed_DTSMasterRoll]
GO
