USE [W005]
GO
/****** Object:  Table [dbo].[ReportGroupXRef]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportGroupXRef](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportId] [int] NOT NULL,
	[ReportGroupId] [int] NOT NULL,
 CONSTRAINT [PK_ReportGroupXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportGroupXRef]  WITH CHECK ADD  CONSTRAINT [FK_ReportGroupXRef_Report] FOREIGN KEY([ReportId])
REFERENCES [dbo].[Report] ([Id])
GO
ALTER TABLE [dbo].[ReportGroupXRef] CHECK CONSTRAINT [FK_ReportGroupXRef_Report]
GO
ALTER TABLE [dbo].[ReportGroupXRef]  WITH CHECK ADD  CONSTRAINT [FK_ReportGroupXRef_ReportGroup] FOREIGN KEY([ReportGroupId])
REFERENCES [dbo].[ReportGroup] ([Id])
GO
ALTER TABLE [dbo].[ReportGroupXRef] CHECK CONSTRAINT [FK_ReportGroupXRef_ReportGroup]
GO
