USE [W005]
GO
/****** Object:  Table [dbo].[CCIPlyStackDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIPlyStackDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CCIPlyStackHeaderId] [int] NOT NULL,
	[CCIPlyId] [int] NOT NULL,
	[ScanDateTime] [datetime] NULL,
	[CCITableId] [int] NULL,
 CONSTRAINT [PK_CCIPlyStackDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIPlyStackDetail]  WITH CHECK ADD  CONSTRAINT [FK_CCIPlyStackDetail_CCIPlyStackHeader] FOREIGN KEY([CCIPlyStackHeaderId])
REFERENCES [dbo].[CCIPlyStackHeader] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIPlyStackDetail] CHECK CONSTRAINT [FK_CCIPlyStackDetail_CCIPlyStackHeader]
GO
