USE [W005]
GO
/****** Object:  Table [dbo].[CheckListDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckListDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CheckListHeaderId] [int] NOT NULL,
	[CheckListItemId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[Obsolete] [bit] NOT NULL,
 CONSTRAINT [PK_CheckListDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckListDetail] ADD  CONSTRAINT [DF_CheckListDetail_Sequence]  DEFAULT ((0)) FOR [Sequence]
GO
ALTER TABLE [dbo].[CheckListDetail] ADD  CONSTRAINT [DF_CheckListDetail_Obsolete]  DEFAULT ((0)) FOR [Obsolete]
GO
ALTER TABLE [dbo].[CheckListDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckListDetail_CheckListHeader] FOREIGN KEY([CheckListHeaderId])
REFERENCES [dbo].[CheckListHeader] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckListDetail] CHECK CONSTRAINT [FK_CheckListDetail_CheckListHeader]
GO
ALTER TABLE [dbo].[CheckListDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckListDetail_CheckListItem] FOREIGN KEY([CheckListItemId])
REFERENCES [dbo].[CheckListItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckListDetail] CHECK CONSTRAINT [FK_CheckListDetail_CheckListItem]
GO
