USE [W005]
GO
/****** Object:  Table [dbo].[DTSMasterRollDefect]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTSMasterRollDefect](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MasterRollId] [int] NOT NULL,
	[DefectDocumented] [bit] NOT NULL,
	[EndTag] [bit] NOT NULL,
	[MfgDefectId1] [int] NOT NULL,
	[MfgDefectId2] [int] NULL,
	[DefectStartMeters] [decimal](18, 2) NOT NULL,
	[DefectEndMeters] [decimal](18, 2) NOT NULL,
	[DefectLengthMeters] [decimal](18, 2) NOT NULL,
	[DefectStartFeet] [decimal](18, 2) NOT NULL,
	[DefectEndFeet] [decimal](18, 2) NOT NULL,
	[DefectLengthFeet] [decimal](18, 2) NOT NULL,
	[EstSpliceStartMeters] [decimal](18, 2) NOT NULL,
	[EstSpliceEndMeters] [decimal](18, 2) NOT NULL,
	[EstSpliceStartFeet] [decimal](18, 2) NOT NULL,
	[EstSpliceEndFeet] [decimal](18, 2) NOT NULL,
	[MRDefectStartMeters] [decimal](18, 2) NOT NULL,
	[MRDefectEndMeters] [decimal](18, 2) NOT NULL,
	[MRDefectLengthMeters] [decimal](18, 2) NOT NULL,
	[MRDefectStartFeet] [decimal](18, 2) NOT NULL,
	[MRDefectEndFeet] [decimal](18, 2) NOT NULL,
	[MRDefectLengthFeet] [decimal](18, 2) NOT NULL,
	[NoDefectFound] [bit] NOT NULL,
	[DefectFoundAt] [decimal](18, 2) NOT NULL,
	[DefectFoundAtFeet] [decimal](18, 2) NOT NULL,
	[ActualDefectStartMeters] [decimal](18, 2) NOT NULL,
	[ActualDefectEndMeters] [decimal](18, 2) NOT NULL,
	[ActualDefectLengthMeters] [decimal](18, 2) NOT NULL,
	[ActualDefectStartFeet] [decimal](18, 2) NOT NULL,
	[ActualDefectEndFeet] [decimal](18, 2) NOT NULL,
	[ActualDefectLengthFeet] [decimal](18, 2) NOT NULL,
	[SlitterCounterMeters] [decimal](18, 2) NOT NULL,
	[SlitterCounterFeet] [decimal](18, 2) NOT NULL,
	[ProximityDefect] [bit] NOT NULL,
	[ProximityDefectEndMeters] [decimal](18, 2) NOT NULL,
	[ProximityDefectEndFeet] [decimal](18, 2) NOT NULL,
	[ProximityLossMeters] [decimal](18, 2) NOT NULL,
	[ProximityLossFeet] [decimal](18, 2) NOT NULL,
	[ActualProximityDefectEndMeters] [decimal](18, 2) NOT NULL,
	[ActualProximityDefectEndFeet] [decimal](18, 2) NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[SecurityId] [varchar](20) NULL,
	[TimeStamp] [datetime] NULL,
	[DefectPicture] [image] NULL,
	[Comment] [text] NULL,
	[MROffsetMeters] [decimal](18, 2) NOT NULL,
	[MROffsetFeet] [decimal](18, 2) NOT NULL,
	[SpliceInspectionSignature] [varchar](20) NULL,
	[NonConformanceNumber] [varchar](50) NULL,
	[UnDocNotRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_DTSMasterRollDefect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectDocumented]  DEFAULT ((0)) FOR [DefectDocumented]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_EndTag]  DEFAULT ((0)) FOR [EndTag]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectStart]  DEFAULT ((0)) FOR [DefectStartMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectEnd]  DEFAULT ((0)) FOR [DefectEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectLength]  DEFAULT ((0)) FOR [DefectLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectStartMeters1]  DEFAULT ((0)) FOR [DefectStartFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectEndMeters1]  DEFAULT ((0)) FOR [DefectEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectLengthMeters1]  DEFAULT ((0)) FOR [DefectLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceStartMeters]  DEFAULT ((0)) FOR [EstSpliceStartMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceEndMeters]  DEFAULT ((0)) FOR [EstSpliceEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceStartFeet]  DEFAULT ((0)) FOR [EstSpliceStartFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceEndFeet]  DEFAULT ((0)) FOR [EstSpliceEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectStartMeters]  DEFAULT ((0)) FOR [MRDefectStartMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectEndMeters]  DEFAULT ((0)) FOR [MRDefectEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectLengthMeters]  DEFAULT ((0)) FOR [MRDefectLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectStartMeters1]  DEFAULT ((0)) FOR [MRDefectStartFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectEndMeters1]  DEFAULT ((0)) FOR [MRDefectEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MRDefectLengthMeters1]  DEFAULT ((0)) FOR [MRDefectLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_NoDefectFound]  DEFAULT ((0)) FOR [NoDefectFound]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectFoundAt]  DEFAULT ((0)) FOR [DefectFoundAt]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_DefectFoundAtFeet]  DEFAULT ((0)) FOR [DefectFoundAtFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectStartMeters]  DEFAULT ((0)) FOR [ActualDefectStartMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectEndMeters]  DEFAULT ((0)) FOR [ActualDefectEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectLengthMeters]  DEFAULT ((0)) FOR [ActualDefectLengthMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectStartMeters1]  DEFAULT ((0)) FOR [ActualDefectStartFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectEndMeters1]  DEFAULT ((0)) FOR [ActualDefectEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualDefectLengthMeters1]  DEFAULT ((0)) FOR [ActualDefectLengthFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceCounter]  DEFAULT ((0)) FOR [SlitterCounterMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_SpliceCounterFeet]  DEFAULT ((0)) FOR [SlitterCounterFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ProximityDefect]  DEFAULT ((0)) FOR [ProximityDefect]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ProximityDefectEndMeters]  DEFAULT ((0)) FOR [ProximityDefectEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ProximityDefectEndFeet]  DEFAULT ((0)) FOR [ProximityDefectEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ProximityLoss]  DEFAULT ((0)) FOR [ProximityLossMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ProximityLossFeet]  DEFAULT ((0)) FOR [ProximityLossFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualProximityDefectEndMeters_1]  DEFAULT ((0)) FOR [ActualProximityDefectEndMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_ActualProximityDefectEndFeet_1]  DEFAULT ((0)) FOR [ActualProximityDefectEndFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MROffsetMeters]  DEFAULT ((0)) FOR [MROffsetMeters]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_MROffsetFeet]  DEFAULT ((0)) FOR [MROffsetFeet]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] ADD  CONSTRAINT [DF_DTSMasterRollDefect_UnDocNotRemoved]  DEFAULT ((0)) FOR [UnDocNotRemoved]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect]  WITH CHECK ADD  CONSTRAINT [FK_DTSMasterRollDefect_DTSMasterRoll] FOREIGN KEY([MasterRollId])
REFERENCES [dbo].[DTSMasterRoll] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] CHECK CONSTRAINT [FK_DTSMasterRollDefect_DTSMasterRoll]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect]  WITH CHECK ADD  CONSTRAINT [FK_DTSMasterRollDefect_DTSMfgDefect] FOREIGN KEY([MfgDefectId1])
REFERENCES [dbo].[DTSMfgDefect] ([Id])
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] CHECK CONSTRAINT [FK_DTSMasterRollDefect_DTSMfgDefect]
GO
ALTER TABLE [dbo].[DTSMasterRollDefect]  WITH CHECK ADD  CONSTRAINT [FK_DTSMasterRollDefect_DTSMfgDefect1] FOREIGN KEY([MfgDefectId2])
REFERENCES [dbo].[DTSMfgDefect] ([Id])
GO
ALTER TABLE [dbo].[DTSMasterRollDefect] CHECK CONSTRAINT [FK_DTSMasterRollDefect_DTSMfgDefect1]
GO
