USE [W005]
GO
/****** Object:  Table [dbo].[CCIPurchasingAuthority]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIPurchasingAuthority](
	[EmployeeID] [varchar](25) NOT NULL,
	[DelegationLevel] [varchar](50) NOT NULL,
	[MaxPurchaseAmount] [decimal](20, 10) NOT NULL,
	[NextLevelApproverID] [varchar](11) NULL,
 CONSTRAINT [PK_CCIPurchasingAuthority] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIPurchasingAuthority] ADD  CONSTRAINT [DF__CCIPurcha__MaxPu__26D08B8C]  DEFAULT ((0)) FOR [MaxPurchaseAmount]
GO
ALTER TABLE [dbo].[CCIPurchasingAuthority]  WITH CHECK ADD  CONSTRAINT [CK_CCIPurchasingAuthority_MaxPurchaseAmount_ZeroOrGreater] CHECK  (([MaxPurchaseAmount]>=(0)))
GO
ALTER TABLE [dbo].[CCIPurchasingAuthority] CHECK CONSTRAINT [CK_CCIPurchasingAuthority_MaxPurchaseAmount_ZeroOrGreater]
GO
