USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventItemIncomingSpliceMap]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[ItemId] [varchar](25) NOT NULL,
	[SerialNo] [varchar](16) NOT NULL,
	[SpliceOwner] [varchar](25) NULL,
	[SplicePosition] [float] NOT NULL,
	[SplicePositionPrev] [float] NOT NULL,
 CONSTRAINT [PK_OrderReleaseEventItemIncomingSpliceMapStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap] ADD  CONSTRAINT [DF_OrderReleaseEventItemIncomingSpliceMap_SplicePosition]  DEFAULT ((0)) FOR [SplicePosition]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap] ADD  CONSTRAINT [DF_OrderReleaseEventItemIncomingSpliceMap_SplicePositionPrev]  DEFAULT ((0)) FOR [SplicePositionPrev]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventItemIncomingSpliceMap_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap] CHECK CONSTRAINT [FK_OrderReleaseEventItemIncomingSpliceMap_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventItemIncomingSpliceMap_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventItemIncomingSpliceMap] CHECK CONSTRAINT [FK_OrderReleaseEventItemIncomingSpliceMap_OrderReleaseEventItem]
GO
