USE [W005]
GO
/****** Object:  Table [dbo].[InfoBoardSync]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoBoardSync](
	[InfoBoardSyncTable] [varchar](50) NOT NULL,
	[LastIdx] [int] NULL,
 CONSTRAINT [PK_InfoBoardSync] PRIMARY KEY CLUSTERED 
(
	[InfoBoardSyncTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
