USE [W005]
GO
/****** Object:  Table [dbo].[OrderScheduling]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderScheduling](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Sequence] [float] NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[ParentOrderNo] [varchar](8) NULL,
	[ItemId] [varchar](24) NULL,
	[ItemDescr] [varchar](35) NULL,
	[RevisionNo] [varchar](3) NULL,
	[LocId] [varchar](10) NOT NULL,
	[Machine] [varchar](25) NOT NULL,
	[SetRunTimeHours] [float] NOT NULL,
	[ScheduledStart] [datetime] NOT NULL,
	[ScheduledFinish] [datetime] NOT NULL,
	[ReqShipDate] [datetime] NULL,
	[DaysEarlyOrLate] [float] NULL,
	[Qty] [float] NULL,
	[UOM] [varchar](5) NULL,
	[Length] [float] NULL,
	[Width] [float] NULL,
	[MRWidth] [float] NULL,
	[NoOfCuts] [int] NULL,
	[CustId] [varchar](10) NULL,
	[Downtime] [bit] NOT NULL,
	[Status] [varchar](50) NULL,
	[MfgCompleted] [bit] NOT NULL,
	[InProcess] [bit] NOT NULL,
 CONSTRAINT [PK_OrderScheduling] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_SetRunTimeHours]  DEFAULT ((0)) FOR [SetRunTimeHours]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_DaysEarlyOrLate]  DEFAULT ((0)) FOR [DaysEarlyOrLate]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_NoOfCuts]  DEFAULT ((0)) FOR [NoOfCuts]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_Downtime]  DEFAULT ((0)) FOR [Downtime]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_MfgCompleted_1]  DEFAULT ((0)) FOR [MfgCompleted]
GO
ALTER TABLE [dbo].[OrderScheduling] ADD  CONSTRAINT [DF_OrderScheduling_InProcess_1]  DEFAULT ((0)) FOR [InProcess]
GO
