USE [W005]
GO
/****** Object:  Table [dbo].[BagOpenEvent]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagOpenEvent](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[SerialNo] [varchar](16) NULL,
	[LotNo] [varchar](16) NULL,
	[TravSerNum] [varchar](35) NULL,
	[LastScanDateTime] [datetime] NOT NULL,
	[CurrentWmBinId] [int] NOT NULL,
	[CurrentWmExtLocID] [nvarchar](10) NULL,
	[IsBagOpen] [bit] NOT NULL,
	[UserId] [varchar](25) NULL,
	[ScanStation] [nvarchar](10) NULL,
	[ScanStationLocId] [varchar](10) NULL,
	[Error] [bit] NOT NULL,
	[ErrorMsg] [varchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
	[SupervisorOverride] [bit] NOT NULL,
	[SupervisorUserId] [varchar](25) NULL,
 CONSTRAINT [PK_BagOpenEventLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BagOpenEvent] ADD  CONSTRAINT [DF_BagOpenEventLog_IsBagOpen]  DEFAULT ((0)) FOR [IsBagOpen]
GO
ALTER TABLE [dbo].[BagOpenEvent] ADD  CONSTRAINT [DF_BagOpenEventLog_Error]  DEFAULT ((0)) FOR [Error]
GO
ALTER TABLE [dbo].[BagOpenEvent] ADD  CONSTRAINT [DF_BagOpenEventLog_SupervisorOverride]  DEFAULT ((0)) FOR [SupervisorOverride]
GO
