USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventInspection]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventInspection](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[ToolName] [varchar](50) NULL,
	[Sample1] [varchar](16) NULL,
	[Sample1Measurement] [float] NOT NULL,
	[Sample1WithinTolerance] [bit] NOT NULL,
	[Sample2] [varchar](16) NULL,
	[Sample2Measurement] [float] NOT NULL,
	[Sample2WithinTolerance] [bit] NOT NULL,
	[UserId] [varchar](25) NULL,
 CONSTRAINT [PK_OrderReleaseEventInspection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection] ADD  CONSTRAINT [DF_Sample1Measurement]  DEFAULT ((0)) FOR [Sample1Measurement]
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection] ADD  CONSTRAINT [DF_Sample1WithinTolerance]  DEFAULT ((0)) FOR [Sample1WithinTolerance]
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection] ADD  CONSTRAINT [DF_Sample2Measurement]  DEFAULT ((0)) FOR [Sample2Measurement]
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection] ADD  CONSTRAINT [DF_Sample2WithinTolerance]  DEFAULT ((0)) FOR [Sample2WithinTolerance]
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventInspection_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventInspection] CHECK CONSTRAINT [FK_OrderReleaseEventInspection_OrderReleaseEvent]
GO
