USE [W005]
GO
/****** Object:  Table [dbo].[CQA_TestGage]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CQA_TestGage](
	[GageId] [varchar](25) NOT NULL,
	[GageName] [varchar](50) NULL,
	[SerialNo] [varchar](50) NULL,
	[Inactive] [bit] NOT NULL,
 CONSTRAINT [PK_CQA_Gages] PRIMARY KEY CLUSTERED 
(
	[GageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CQA_TestGage] ADD  CONSTRAINT [DF_CQA_TestGage_Inactive]  DEFAULT ((0)) FOR [Inactive]
GO
