USE [W005]
GO
/****** Object:  Table [dbo].[CCICustomerSuppliedKitSerNo]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCICustomerSuppliedKitSerNo](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[CustomerSerialNum] [varchar](35) NOT NULL,
 CONSTRAINT [PK_CCICustomerSuppliedKitSerNo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
