USE [W005]
GO
/****** Object:  Table [dbo].[CCITable]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCITable](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MachineGroupId] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[HourlyCostFactor] [decimal](20, 10) NOT NULL,
	[HourlyCostFactorModified] [decimal](20, 10) NOT NULL,
	[HourlyCostFactorVariable] [decimal](20, 10) NOT NULL,
	[Inactive] [bit] NOT NULL,
 CONSTRAINT [PK_CCICutTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCITable] ADD  CONSTRAINT [DF_CCITable_HourlyCostFactor]  DEFAULT ((0)) FOR [HourlyCostFactor]
GO
ALTER TABLE [dbo].[CCITable] ADD  CONSTRAINT [DF_CCITable_HourlyCostFactor1]  DEFAULT ((0)) FOR [HourlyCostFactorModified]
GO
ALTER TABLE [dbo].[CCITable] ADD  CONSTRAINT [DF_CCITable_HourlyCostFactor2]  DEFAULT ((0)) FOR [HourlyCostFactorVariable]
GO
ALTER TABLE [dbo].[CCITable] ADD  CONSTRAINT [DF_CCITable_Inactive]  DEFAULT ((0)) FOR [Inactive]
GO
