USE [W005]
GO
/****** Object:  Table [dbo].[OutTimeAddHour]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutTimeAddHour](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OTISId] [int] NOT NULL,
	[FreezerAddHr] [float] NULL,
	[RoomAddHr] [float] NULL,
	[ReeferAddHr] [float] NULL,
	[Reason] [text] NULL,
	[UserId] [varchar](25) NOT NULL,
	[AddHrDT] [datetime] NOT NULL,
 CONSTRAINT [PK_OutTimeAddHour] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OutTimeAddHour]  WITH CHECK ADD  CONSTRAINT [FK_OutTimeAddHour_OutTimeItemStatus] FOREIGN KEY([OTISId])
REFERENCES [dbo].[OutTimeItemStatus] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutTimeAddHour] CHECK CONSTRAINT [FK_OutTimeAddHour_OutTimeItemStatus]
GO
