USE [W005]
GO
/****** Object:  Table [dbo].[CoreScanPolyTrace]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoreScanPolyTrace](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[AssemblyId] [varchar](25) NOT NULL,
	[CutNo] [int] NULL,
	[HeadNo] [int] NULL,
	[CoreItemId] [varchar](25) NULL,
	[CoreSerialNo] [varchar](16) NULL,
	[PolyItemId] [varchar](25) NULL,
	[PolySerialNo] [varchar](35) NULL,
 CONSTRAINT [PK_CoreScanPolyTrace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
