USE [W005]
GO
/****** Object:  Table [dbo].[QuoteAssembly]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteAssembly](
	[QuoteAssemblyNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QuoteNum] [int] NULL,
	[AssemblyId] [varchar](24) NULL,
	[Description] [varchar](35) NULL,
	[UOM] [varchar](5) NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[MatlMgmtFee] [decimal](20, 10) NOT NULL,
	[LaborOverheadMarkUp] [decimal](20, 10) NOT NULL,
	[MaterialUnitCost] [decimal](20, 10) NOT NULL,
	[LaborOHUnitCost] [decimal](20, 10) NOT NULL,
	[UnitCost] [decimal](20, 10) NOT NULL,
	[UnitPrice] [decimal](20, 10) NOT NULL,
	[ValueAddUnit] [decimal](20, 10) NOT NULL,
	[ValueAddUnitPerHr] [decimal](20, 10) NOT NULL,
	[GrossMarginUnit] [decimal](20, 10) NOT NULL,
	[GrossMarginUnitPct] [decimal](20, 10) NOT NULL,
	[ValueAddGrossMarginUnit] [decimal](20, 10) NOT NULL,
	[MaterialTotalCost] [decimal](20, 10) NOT NULL,
	[LaborOHTotalCost] [decimal](20, 10) NOT NULL,
	[ExtCost] [decimal](20, 10) NOT NULL,
	[ExtPrice] [decimal](20, 10) NOT NULL,
	[ValueAddExt] [decimal](20, 10) NOT NULL,
	[ValueAddExtPerHr] [decimal](20, 10) NOT NULL,
	[GrossMarginExt] [decimal](20, 10) NOT NULL,
	[GrossMarginExtPct] [decimal](20, 10) NOT NULL,
	[ValueAddGrossMarginExt] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_QuoteAssembly] PRIMARY KEY CLUSTERED 
(
	[QuoteAssemblyNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_MatlMgmtFee]  DEFAULT ((0)) FOR [MatlMgmtFee]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_LaborOverheadMarkUp]  DEFAULT ((0)) FOR [LaborOverheadMarkUp]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_MaterialUnitCost]  DEFAULT ((0)) FOR [MaterialUnitCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_LaborOHUnitCost]  DEFAULT ((0)) FOR [LaborOHUnitCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAdd]  DEFAULT ((0)) FOR [ValueAddUnit]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAddPerHr]  DEFAULT ((0)) FOR [ValueAddUnitPerHr]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_GrossMargin]  DEFAULT ((0)) FOR [GrossMarginUnit]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_GrossMarginUnitPct]  DEFAULT ((0)) FOR [GrossMarginUnitPct]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAddGrossMargin]  DEFAULT ((0)) FOR [ValueAddGrossMarginUnit]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_MaterialTotalCost]  DEFAULT ((0)) FOR [MaterialTotalCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_LaborOHTotalCost]  DEFAULT ((0)) FOR [LaborOHTotalCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ExtCost]  DEFAULT ((0)) FOR [ExtCost]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ExtPrice]  DEFAULT ((0)) FOR [ExtPrice]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAddExt]  DEFAULT ((0)) FOR [ValueAddExt]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAddExtPerHr]  DEFAULT ((0)) FOR [ValueAddExtPerHr]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_GrossMarginExt]  DEFAULT ((0)) FOR [GrossMarginExt]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_GrossMarginExtPct]  DEFAULT ((0)) FOR [GrossMarginExtPct]
GO
ALTER TABLE [dbo].[QuoteAssembly] ADD  CONSTRAINT [DF_QuoteAssembly_ValueAddGrossMarginExt]  DEFAULT ((0)) FOR [ValueAddGrossMarginExt]
GO
ALTER TABLE [dbo].[QuoteAssembly]  WITH CHECK ADD  CONSTRAINT [FK_QuoteAssembly_QuoteHeader] FOREIGN KEY([QuoteNum])
REFERENCES [dbo].[QuoteHeader] ([QuoteNum])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteAssembly] CHECK CONSTRAINT [FK_QuoteAssembly_QuoteHeader]
GO
