USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseDowntime]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseDowntime](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[Machine] [varchar](10) NOT NULL,
	[DowntimeStart] [datetime] NULL,
	[DowntimeEnd] [datetime] NULL,
	[DowntimeDurationMin] [float] NULL,
	[DowntimeReasonId] [int] NULL,
	[DowntimeAddlId] [int] NULL,
	[CausedByMaterial] [bit] NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK_OrderReleaseDowntime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseDowntime] ADD  CONSTRAINT [DF_OrderReleaseDowntime_DowntimeDurationMin]  DEFAULT ((0)) FOR [DowntimeDurationMin]
GO
ALTER TABLE [dbo].[OrderReleaseDowntime] ADD  CONSTRAINT [DF_OrderReleaseDowntime_CausedByMaterial]  DEFAULT ((0)) FOR [CausedByMaterial]
GO
