USE [W005]
GO
/****** Object:  Table [dbo].[CCIManufacturingGroupKit]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIManufacturingGroupKit](
	[CCIManufacturingGroupId] [int] NOT NULL,
	[TravAssemblyHeaderId] [int] NOT NULL,
	[TravAssemblyHeaderAssemblyId] [varchar](24) NOT NULL,
	[TravAssemblyHeaderRevisionNo] [varchar](3) NOT NULL,
	[TravAssemblyHeaderCustRevisionNo] [varchar](10) NULL,
 CONSTRAINT [PK_CCIManufacturingGroupKit] PRIMARY KEY CLUSTERED 
(
	[CCIManufacturingGroupId] ASC,
	[TravAssemblyHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIManufacturingGroupKit]  WITH CHECK ADD  CONSTRAINT [FK_CCIManufacturingGroupKit_CCIManufacturingGroup] FOREIGN KEY([CCIManufacturingGroupId])
REFERENCES [dbo].[CCIManufacturingGroup] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIManufacturingGroupKit] CHECK CONSTRAINT [FK_CCIManufacturingGroupKit_CCIManufacturingGroup]
GO
