USE [W005]
GO
/****** Object:  Table [dbo].[CCIOrderReleaseInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIOrderReleaseInfo](
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[ItemId] [varchar](24) NULL,
	[LocId] [varchar](10) NULL,
	[CCIManufacturingGroupId] [int] NULL,
	[InProcess] [bit] NOT NULL,
	[MfgCompleted] [bit] NOT NULL,
	[MfgStartDate] [datetime] NULL,
	[MfgEndDate] [datetime] NULL,
	[RequiredShipDate] [datetime] NULL,
	[OrderDuration] [float] NOT NULL,
	[Scheduled] [bit] NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[ScheduledOnMachines] [varchar](100) NULL,
	[ReleaseId] [int] NOT NULL,
	[RevisionNo] [varchar](3) NULL,
	[IsPostedToTraverse] [bit] NOT NULL,
	[OrderStatus] [varchar](25) NULL,
	[ReadytoSchedule] [bit] NOT NULL,
	[ApprovedBy] [varchar](25) NULL,
	[TravBomExploded] [bit] NOT NULL,
	[KitSerialNoGeneratedBy] [varchar](25) NULL,
	[CustRev] [nvarchar](11) NULL,
	[InFabricOptimizerQueue] [bit] NOT NULL,
	[SentToFabricOptimizer] [bit] NOT NULL,
	[BuildingFOCutList] [bit] NOT NULL,
	[BuildingFOCutListError] [bit] NOT NULL,
	[FOCutListErrorMessage] [varchar](1000) NULL,
	[CrossPlyPlyCount] [int] NOT NULL,
	[CrossPlyPlyWaste] [int] NOT NULL,
 CONSTRAINT [PK_CCIOrderReleaseInfo_1] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIOrderReleaseInfo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIOrderReleaseInfo] ON [dbo].[CCIOrderReleaseInfo]
(
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIOrderReleaseInfo_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIOrderReleaseInfo_1] ON [dbo].[CCIOrderReleaseInfo]
(
	[MfgCompleted] ASC,
	[Scheduled] ASC,
	[ReadytoSchedule] ASC,
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_InProcess]  DEFAULT ((0)) FOR [InProcess]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_MfgCompleted]  DEFAULT ((0)) FOR [MfgCompleted]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_OrderDuration]  DEFAULT ((0)) FOR [OrderDuration]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_Scheduled]  DEFAULT ((0)) FOR [Scheduled]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_Quantity]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_ReleaseId]  DEFAULT ((0)) FOR [ReleaseId]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_IsPostedToTraverse]  DEFAULT ((0)) FOR [IsPostedToTraverse]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_ReadytoSchedule]  DEFAULT ((0)) FOR [ReadytoSchedule]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_TravBomExploded]  DEFAULT ((0)) FOR [TravBomExploded]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_InFabricOptimizerQueue]  DEFAULT ((0)) FOR [InFabricOptimizerQueue]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_SentToFabricOptimizer]  DEFAULT ((0)) FOR [SentToFabricOptimizer]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_BuildingFOCutList]  DEFAULT ((0)) FOR [BuildingFOCutList]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_BuildingFOCutListError]  DEFAULT ((0)) FOR [BuildingFOCutListError]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_CrossPlyPlyCount_1]  DEFAULT ((0)) FOR [CrossPlyPlyCount]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] ADD  CONSTRAINT [DF_CCIOrderReleaseInfo_CrossPlyPlyCount1]  DEFAULT ((0)) FOR [CrossPlyPlyWaste]
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo]  WITH CHECK ADD  CONSTRAINT [FK_CCIOrderReleaseInfo_CCIManufacturingGroup] FOREIGN KEY([CCIManufacturingGroupId])
REFERENCES [dbo].[CCIManufacturingGroup] ([Id])
GO
ALTER TABLE [dbo].[CCIOrderReleaseInfo] CHECK CONSTRAINT [FK_CCIOrderReleaseInfo_CCIManufacturingGroup]
GO
