USE [W005]
GO
/****** Object:  Table [dbo].[EXTRCERTdatatwentytwo]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTRCERTdatatwentytwo](
	[ColorName] [nvarchar](10) NULL,
	[LotNum] [nvarchar](16) NULL,
	[Width] [decimal](20, 10) NULL,
	[Thickness] [decimal](20, 10) NULL,
	[Denier] [int] NULL,
	[Tensile] [decimal](20, 10) NULL,
	[Elongation] [decimal](20, 10) NULL,
	[Shrinkback] [decimal](20, 10) NULL,
	[TEA] [decimal](20, 10) NULL,
	[Munsell] [nvarchar](10) NULL,
	[TransactionDate] [datetime] NULL,
	[ProductID] [int] NULL
) ON [PRIMARY]
GO
