USE [W005]
GO
/****** Object:  Table [dbo].[MachineGroupTagXRef]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineGroupTagXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MachineGroupId] [varchar](10) NOT NULL,
	[TagType] [varchar](25) NOT NULL,
	[TagName] [varchar](75) NOT NULL,
 CONSTRAINT [PK_MachineGroupTagXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
