USE [W005]
GO
/****** Object:  Table [dbo].[ShipPackingSupply]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipPackingSupply](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipUnitId] [int] NOT NULL,
	[ShipUnitNo] [varchar](10) NOT NULL,
	[LocId] [varchar](10) NULL,
	[ItemId] [varchar](24) NULL,
	[Descr] [varchar](35) NULL,
	[LotNo] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[ErrMsg] [varchar](50) NULL,
	[IsShippingUnit] [bit] NOT NULL,
	[PackingInFreezer] [bit] NOT NULL,
	[DryIceAddedDT] [datetime] NULL,
 CONSTRAINT [PK_ShipPackingSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipPackingSupply] ADD  CONSTRAINT [DF_ShipPackingSupply_IsShippingUnit]  DEFAULT ((0)) FOR [IsShippingUnit]
GO
ALTER TABLE [dbo].[ShipPackingSupply] ADD  CONSTRAINT [DF_ShipPackingSupply_PackingInFreezer]  DEFAULT ((0)) FOR [PackingInFreezer]
GO
