USE [W005]
GO
/****** Object:  Table [dbo].[VendorMaterialDefects]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorMaterialDefects](
	[SerialNumber] [varchar](25) NOT NULL,
	[DefectNumber] [int] NOT NULL,
	[VendorUnits] [varchar](5) NOT NULL,
	[DefectCode] [varchar](5) NULL,
	[StartFeet] [decimal](20, 4) NOT NULL,
	[StartMeters] [decimal](20, 4) NOT NULL,
	[EndFeet] [decimal](20, 4) NOT NULL,
	[EndMeters] [decimal](20, 4) NOT NULL,
	[LengthFeet] [decimal](20, 4) NOT NULL,
	[LengthMeters] [decimal](20, 4) NOT NULL,
	[AreaSquareMeters] [decimal](20, 4) NULL,
	[AreaSquareFeet] [decimal](20, 4) NULL,
 CONSTRAINT [PK_VendorMaterialDefects] PRIMARY KEY NONCLUSTERED 
(
	[SerialNumber] ASC,
	[DefectNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_DefectNumberGreaterThanZero] CHECK  (([DefectNumber]>(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_DefectNumberGreaterThanZero]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_EndFeetZeroOrGreater] CHECK  (([EndFeet]>=(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_EndFeetZeroOrGreater]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_EndMetersZeroOrGreater] CHECK  (([EndMeters]>=(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_EndMetersZeroOrGreater]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_LengthFeetZeroOrGreater] CHECK  (([LengthFeet]>=(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_LengthFeetZeroOrGreater]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_LengthMetersZeroOrGreater] CHECK  (([LengthMeters]>=(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_LengthMetersZeroOrGreater]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_StartFeetGreaterThanZero] CHECK  (([StartFeet]>(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_StartFeetGreaterThanZero]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_StartMetersGreaterThanZero] CHECK  (([StartMeters]>(0)))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_StartMetersGreaterThanZero]
GO
ALTER TABLE [dbo].[VendorMaterialDefects]  WITH CHECK ADD  CONSTRAINT [CK_VendorMaterialDefects_VendorUnitsFeetOrMetersOnly] CHECK  (([VendorUnits]='FT' OR [VendorUnits]='M'))
GO
ALTER TABLE [dbo].[VendorMaterialDefects] CHECK CONSTRAINT [CK_VendorMaterialDefects_VendorUnitsFeetOrMetersOnly]
GO
