USE [W005]
GO
/****** Object:  Table [dbo].[PackingChar]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingChar](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NULL,
	[PackingSeqNo] [int] NULL,
	[PackingType] [varchar](25) NULL,
	[Target] [int] NULL,
	[Min] [int] NULL,
	[Max] [int] NULL,
	[PackingTraceabilityReq] [bit] NOT NULL,
	[PkgTareWt] [int] NULL,
 CONSTRAINT [PK_PackingChar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PackingChar] ADD  CONSTRAINT [DF_PackingChar_PackingTraceabilityReq]  DEFAULT ((0)) FOR [PackingTraceabilityReq]
GO
