USE [W005]
GO
/****** Object:  Table [dbo].[tmpNonOutTimeInventoryLocation]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpNonOutTimeInventoryLocation](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](25) NULL,
	[LocId] [varchar](10) NULL,
	[SerialNo] [varchar](35) NULL,
	[LotNo] [varchar](16) NULL,
	[Qty] [float] NULL,
	[UOM] [varchar](5) NULL,
	[ExpDate] [datetime] NULL,
	[DOM] [datetime] NULL,
	[CurrentExtLoc] [nvarchar](10) NULL,
	[PhysLocation] [nvarchar](10) NULL,
	[BinType] [varchar](max) NULL,
	[LastScan] [datetime] NULL,
	[ShipItemNo] [varchar](10) NULL,
	[ShipBoxNo] [varchar](10) NULL,
	[ShipCartonNo] [varchar](10) NULL,
	[ShipPalletNo] [varchar](10) NULL,
 CONSTRAINT [PK_tmpNonOutTimeInventoryLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
