USE [W005]
GO
/****** Object:  Table [dbo].[ExtrAdjustmentsCost]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtrAdjustmentsCost](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AdjustmentDate] [date] NULL,
	[MfrDate] [datetime] NULL,
	[ShipPalletId] [int] NULL,
	[PkgId] [varchar](10) NULL,
	[FGItemId] [varchar](24) NULL,
	[MaterialDirectCost] [decimal](20, 10) NULL,
	[MaterialIndirectCost] [decimal](20, 10) NULL,
	[LaborCost] [decimal](20, 10) NULL,
	[MachineCost] [decimal](20, 10) NULL,
	[LaborHours] [decimal](20, 10) NULL,
	[MachineHours] [decimal](20, 10) NULL,
	[AdjReason] [varchar](18) NULL,
	[GLPeriod] [int] NULL,
	[GLYear] [int] NULL,
 CONSTRAINT [PK_ExtrAdjustmentsCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
