USE [W005]
GO
/****** Object:  Table [dbo].[LabelSenderType]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelSenderType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[LabelTypeId] [int] NOT NULL,
 CONSTRAINT [PK_LabelSenderXType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LabelSenderType]  WITH CHECK ADD  CONSTRAINT [FK_LabelSenderType_LabelSender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[LabelSender] ([Id])
GO
ALTER TABLE [dbo].[LabelSenderType] CHECK CONSTRAINT [FK_LabelSenderType_LabelSender]
GO
ALTER TABLE [dbo].[LabelSenderType]  WITH CHECK ADD  CONSTRAINT [FK_LabelSenderType_LabelType] FOREIGN KEY([LabelTypeId])
REFERENCES [dbo].[LabelType] ([Id])
GO
ALTER TABLE [dbo].[LabelSenderType] CHECK CONSTRAINT [FK_LabelSenderType_LabelType]
GO
