USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEvent]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEvent](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[Operation] [varchar](10) NOT NULL,
	[OperationStep] [int] NOT NULL,
	[Event] [varchar](25) NOT NULL,
	[OperationDesc] [varchar](50) NULL,
	[UserId] [varchar](25) NOT NULL,
	[EventStart] [datetime] NULL,
	[EventEnd] [datetime] NULL,
	[EventDurationMin] [float] NULL,
	[MachineGroupId] [varchar](10) NULL,
	[Machine] [varchar](25) NULL,
	[MachineStart] [datetime] NULL,
	[MachineEnd] [datetime] NULL,
	[MachineDurationMin] [float] NULL,
	[Comments] [text] NULL,
	[MRLengthCounter] [float] NOT NULL,
	[PLCLengthCounter] [float] NOT NULL,
	[CCIParentOrderCutListId] [int] NULL,
	[ItemIdToInheritLotNoFrom] [varchar](24) NULL,
	[EventSuspended] [bit] NOT NULL,
	[EventSignoff] [varchar](25) NULL,
	[EventSignoffCode] [varchar](20) NULL,
	[BladeShaftSetupId] [varchar](20) NULL,
	[BladeHolderId] [varchar](20) NULL,
	[CanisterMfgComplete] [bit] NOT NULL,
	[ReleaseId] [int] NULL,
	[SetId] [varchar](16) NULL,
	[ReleaseIsMixedBatch] [varchar](3) NULL,
	[IncludePolyWaste] [bit] NULL,
 CONSTRAINT [PK_OrderReleaseEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_OrderReleaseEvent_10_891202275__K1_K2_K3]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index_OrderReleaseEvent_10_891202275__K1_K2_K3] ON [dbo].[OrderReleaseEvent]
(
	[Id] ASC,
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseEvent]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEvent] ON [dbo].[OrderReleaseEvent]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ORE_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ORE_1] ON [dbo].[OrderReleaseEvent]
(
	[CCIParentOrderCutListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEvent] ADD  CONSTRAINT [DF_OrderReleaseEvent_OperationStep]  DEFAULT ((0)) FOR [OperationStep]
GO
ALTER TABLE [dbo].[OrderReleaseEvent] ADD  CONSTRAINT [DF_OrderReleaseEvent_MRLengthCounter]  DEFAULT ((0)) FOR [MRLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEvent] ADD  CONSTRAINT [DF_OrderReleaseEvent_PLCLengthCounter]  DEFAULT ((0)) FOR [PLCLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEvent] ADD  CONSTRAINT [DF_OrderReleaseEvent_EventSuspended_1]  DEFAULT ((0)) FOR [EventSuspended]
GO
ALTER TABLE [dbo].[OrderReleaseEvent] ADD  CONSTRAINT [DF_OrderReleaseEvent_CanisterMfgComplete_1]  DEFAULT ((0)) FOR [CanisterMfgComplete]
GO
ALTER TABLE [dbo].[OrderReleaseEvent]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEvent_CCIParentOrderCutList] FOREIGN KEY([CCIParentOrderCutListId])
REFERENCES [dbo].[CCIParentOrderCutList] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEvent] CHECK CONSTRAINT [FK_OrderReleaseEvent_CCIParentOrderCutList]
GO
