USE [W005]
GO
/****** Object:  Table [dbo].[CCIParticleCTLocID]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIParticleCTLocID](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Site] [varchar](3) NOT NULL,
	[ParticleCTLoc] [varchar](10) NOT NULL,
	[InActive] [bit] NOT NULL,
 CONSTRAINT [PK_CCIParticleCTLocID] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIParticleCTLocID] ADD  CONSTRAINT [DF_CCIParticleCTLocID_InActive]  DEFAULT ((0)) FOR [InActive]
GO
