USE [W005]
GO
/****** Object:  Table [dbo].[ProcessQueue]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessQueue](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Process] [varchar](50) NOT NULL,
	[sCommandLineParams] [varchar](max) NULL,
	[sDatabaseServer] [varchar](25) NULL,
	[sDatabase] [varchar](25) NULL,
	[sParam1] [varchar](1000) NULL,
	[sParam2] [varchar](1000) NULL,
	[sParam3] [varchar](1000) NULL,
	[sParam4] [varchar](1000) NULL,
	[sParam5] [varchar](1000) NULL,
	[sParam6] [varchar](1000) NULL,
	[dtCreated] [datetime] NOT NULL,
	[dtProcessStarted] [datetime] NULL,
	[dtProcessEnded] [datetime] NULL,
	[bHasErrors] [bit] NOT NULL,
	[sErrors] [text] NULL,
	[sParam7] [varchar](1000) NULL,
 CONSTRAINT [PK_ProcessQueue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessQueue]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProcessQueue] ON [dbo].[ProcessQueue]
(
	[dtProcessStarted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240058-110409]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240058-110409] ON [dbo].[ProcessQueue]
(
	[Process] ASC,
	[sParam1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessQueue] ADD  CONSTRAINT [DF_ProcessQueue_dtCreated]  DEFAULT (getdate()) FOR [dtCreated]
GO
ALTER TABLE [dbo].[ProcessQueue] ADD  CONSTRAINT [DF_ProcessQueue_bHasErrors]  DEFAULT ((0)) FOR [bHasErrors]
GO
