USE [W005]
GO
/****** Object:  Table [dbo].[SolvayContainerXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolvayContainerXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ContainerNo] [varchar](9) NULL,
	[SolvayLotNo] [varchar](16) NULL,
	[SeqNo] [int] NULL,
	[TraverseProdOrdNo] [varchar](8) NULL,
	[TraverseCtnNo] [varchar](10) NULL,
	[PolarisWorkOrder] [int] NULL,
	[PolarisCtnNo] [varchar](10) NULL,
 CONSTRAINT [PK_SolvayContainerXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
