USE [W005]
GO
/****** Object:  Table [dbo].[tblReleaseIdNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReleaseIdNunezCost](
	[ReleaseId] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[SerialNo] [varchar](35) NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[Uom] [varchar](5) NULL,
	[UomBase] [varchar](5) NULL,
	[ConvFactor] [decimal](20, 10) NOT NULL,
	[UnitCostBase] [decimal](20, 10) NOT NULL,
	[WIMaterialDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WIMaterialInDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostVariable] [decimal](20, 10) NOT NULL,
	[WISubcontractUnitCost] [decimal](20, 10) NOT NULL,
	[TotalCost] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_tblReleaseIdNunezCost] PRIMARY KEY CLUSTERED 
(
	[ReleaseId] ASC,
	[ItemId] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblReleaseIdNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblReleaseIdNunezCost] ON [dbo].[tblReleaseIdNunezCost]
(
	[ItemId] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_ConvFactor]  DEFAULT ((0)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_UnitCostBase]  DEFAULT ((0)) FOR [UnitCostBase]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_WIMaterialDirectCost]  DEFAULT ((0)) FOR [WIMaterialDirectUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMaterialDirectCost1]  DEFAULT ((0)) FOR [WIMaterialInDirectUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMaterialDirectCost2]  DEFAULT ((0)) FOR [WILaborSetupUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMaterialDirectCost3]  DEFAULT ((0)) FOR [WILaborUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMaterialDirectCost4]  DEFAULT ((0)) FOR [WIMachineSetupUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMaterialDirectCost5]  DEFAULT ((0)) FOR [WIMachineUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMachineCost1]  DEFAULT ((0)) FOR [WIMachineUnitCostModified]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_Table_1_WIMachineCost2]  DEFAULT ((0)) FOR [WIMachineUnitCostVariable]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_WISubcontractCost]  DEFAULT ((0)) FOR [WISubcontractUnitCost]
GO
ALTER TABLE [dbo].[tblReleaseIdNunezCost] ADD  CONSTRAINT [DF_tblReleaseIdNunezCost_TotalCost]  DEFAULT ((0)) FOR [TotalCost]
GO
