USE [W005]
GO
/****** Object:  Table [dbo].[ABCAssemblyWorkTable3]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABCAssemblyWorkTable3](
	[HistSeqNum] [int] NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[CostUnit] [decimal](20, 10) NOT NULL,
	[ItemId] [varchar](24) NULL,
	[LotNum] [varchar](16) NULL,
	[SerNum] [varchar](35) NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[Uom] [varchar](5) NULL,
	[UomBase] [varchar](5) NULL,
	[ConvFactor] [decimal](20, 10) NOT NULL
) ON [PRIMARY]
GO
