USE [W005]
GO
/****** Object:  Table [dbo].[ShipPackingList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipPackingList](
	[PLNo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [nvarchar](8) NULL,
	[ShipFromLocId] [varchar](10) NOT NULL,
	[ShipFromName] [varchar](30) NULL,
	[ShipFromAddr1] [varchar](30) NULL,
	[ShipFromAddr2] [varchar](60) NULL,
	[ShipFromCity] [varchar](30) NULL,
	[ShipFromRegion] [varchar](10) NULL,
	[ShipFromCountry] [varchar](6) NULL,
	[ShipFromPostalCode] [varchar](10) NULL,
	[ShipDate] [datetime] NULL,
	[CustId] [varchar](10) NULL,
	[CustName] [varchar](30) NULL,
	[CustPO] [varchar](25) NULL,
	[ShipToId] [varchar](10) NULL,
	[ShipToName] [varchar](30) NULL,
	[ShipToAddr1] [varchar](30) NULL,
	[ShipToAddr2] [varchar](60) NULL,
	[ShipToCity] [varchar](30) NULL,
	[ShipToRegion] [varchar](10) NULL,
	[ShipToCountry] [varchar](6) NULL,
	[ShipToPostalCode] [varchar](10) NULL,
	[RemoteWarehouse] [varchar](10) NOT NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[ShipMethodId] [varchar](6) NULL,
	[ShipMethod] [varchar](50) NULL,
	[ShipTerms] [varchar](20) NULL,
	[Notes] [ntext] NULL,
	[NotesReveiwed] [bit] NOT NULL,
	[Complete] [bit] NOT NULL,
	[BOLProductType] [varchar](50) NULL,
	[BOLPackageType] [varchar](8) NULL,
	[BOLNumUnits] [int] NULL,
	[BOLSpecialInstruction] [ntext] NULL,
	[SpecialDocsReq] [bit] NOT NULL,
	[CCHoldReq] [bit] NOT NULL,
	[CCHoldReleasedBy] [varchar](25) NULL,
	[CCHoldReleasedDate] [datetime] NULL,
	[QAReleaseReq] [bit] NOT NULL,
	[QAReleasedBy] [varchar](25) NULL,
	[QAReleasedDate] [datetime] NULL,
	[FreightCharge] [decimal](20, 10) NULL,
	[PRONo] [varchar](50) NULL,
	[ShipGroupId] [int] NULL,
	[Posted] [bit] NOT NULL,
	[PostFailed] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[ShipFromPhone] [nvarchar](15) NULL,
	[PreShip] [bit] NULL,
	[PreShipDateApproved] [datetime] NULL,
	[ShipToCustomerPO] [varchar](25) NULL,
	[CustomerCarrierAcctNo] [varchar](25) NULL,
	[ASNBarcodeData] [varchar](50) NULL,
 CONSTRAINT [PK_PackingList] PRIMARY KEY CLUSTERED 
(
	[PLNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [XI_CustId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [XI_CustId] ON [dbo].[ShipPackingList]
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [XI_OrderNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [XI_OrderNo] ON [dbo].[ShipPackingList]
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_ShipFromLocId]  DEFAULT ('INVENTORY') FOR [ShipFromLocId]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_RemoteWarehouse]  DEFAULT ('NO') FOR [RemoteWarehouse]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_PackingList_NotesReveiwed]  DEFAULT ((0)) FOR [NotesReveiwed]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_PackingList_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_SpecialDocsReq]  DEFAULT ((0)) FOR [SpecialDocsReq]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_CCHoldReq]  DEFAULT ((0)) FOR [CCHoldReq]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_QAReleaseReq]  DEFAULT ((0)) FOR [QAReleaseReq]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_Posted]  DEFAULT ((0)) FOR [Posted]
GO
ALTER TABLE [dbo].[ShipPackingList] ADD  CONSTRAINT [DF_ShipPackingList_PostFailed]  DEFAULT ((0)) FOR [PostFailed]
GO
ALTER TABLE [dbo].[ShipPackingList]  WITH CHECK ADD  CONSTRAINT [FK_ShipPackingList_ShipGroup] FOREIGN KEY([ShipGroupId])
REFERENCES [dbo].[ShipGroup] ([ShipGroupId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ShipPackingList] CHECK CONSTRAINT [FK_ShipPackingList_ShipGroup]
GO
