USE [W005]
GO
/****** Object:  Table [dbo].[GridLayout]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GridLayout](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ApplicationName] [varchar](75) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[LayoutName] [varchar](255) NOT NULL,
	[LayoutXML] [text] NOT NULL,
	[PivotGrid] [bit] NOT NULL,
 CONSTRAINT [PK_GridLayout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[GridLayout] ADD  CONSTRAINT [DF_GridLayout_PivotGrid]  DEFAULT ((0)) FOR [PivotGrid]
GO
