USE [W005]
GO
/****** Object:  Table [dbo].[MachineSpecOffset]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineSpecOffset](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MachineId] [int] NOT NULL,
	[HeadNo] [int] NULL,
	[Slitter2HeadOffset] [decimal](10, 4) NULL,
 CONSTRAINT [PK_MachineSpecOffset] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineSpecOffset]  WITH CHECK ADD  CONSTRAINT [FK_MachineSpecOffset_Machine1] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machine] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineSpecOffset] CHECK CONSTRAINT [FK_MachineSpecOffset_Machine1]
GO
