USE [W005]
GO
/****** Object:  Table [dbo].[CCINextParentOrderNo]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCINextParentOrderNo](
	[Id] [int] NOT NULL,
	[NextParentOrderNo] [int] NOT NULL,
 CONSTRAINT [PK_CCINextParentOrderNo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCINextParentOrderNo] ADD  CONSTRAINT [DF_CCINextParentOrderNo_Id]  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[CCINextParentOrderNo] ADD  CONSTRAINT [DF_CCINextParentOrderNo_NextParentOrderNo]  DEFAULT ((0)) FOR [NextParentOrderNo]
GO
