USE [W005]
GO
/****** Object:  Table [dbo].[CCIPly]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIPly](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[PlyName] [varchar](25) NOT NULL,
	[PlyBarcode] [varchar](10) NULL,
	[PlyArea] [float] NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[Qty] [int] NOT NULL,
	[PlyMaterialColor] [int] NULL,
	[MasterBagNum] [varchar](24) NULL,
	[BagNum] [varchar](24) NOT NULL,
	[StackSeq] [int] NOT NULL,
	[LastUpdate] [datetime] NULL,
	[Revision] [varchar](5) NULL,
	[LabelStockColor] [varchar](25) NULL,
	[TableId] [int] NULL,
	[PlyLayers] [varchar](80) NULL,
	[RightLeft] [varchar](35) NULL,
	[MaterialType] [varchar](35) NULL,
	[KitDesignation] [varchar](35) NULL,
 CONSTRAINT [PK_KitPlyStackList_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KitPlyStackList]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_KitPlyStackList] ON [dbo].[CCIPly]
(
	[ItemId] ASC,
	[PlyName] ASC,
	[MasterBagNum] ASC,
	[BagNum] ASC,
	[StackSeq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20230824-124342]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20230824-124342] ON [dbo].[CCIPly]
(
	[PlyBarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIPly] ADD  CONSTRAINT [DF_KitPlyStackList_PlyArea]  DEFAULT ((0)) FOR [PlyArea]
GO
ALTER TABLE [dbo].[CCIPly] ADD  CONSTRAINT [DF_CCIPly_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[CCIPly] ADD  CONSTRAINT [DF_KitPlyStackList_BagNum]  DEFAULT ((0)) FOR [MasterBagNum]
GO
ALTER TABLE [dbo].[CCIPly] ADD  CONSTRAINT [DF_KitPlyStackList_SubBagNum]  DEFAULT ((0)) FOR [BagNum]
GO
ALTER TABLE [dbo].[CCIPly] ADD  CONSTRAINT [DF_CCIPly_StackSeq]  DEFAULT ((0)) FOR [StackSeq]
GO
