USE [W005]
GO
/****** Object:  Table [dbo].[ShipRack]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipRack](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipRackNo] [varchar](10) NOT NULL,
	[RackItemId] [varchar](24) NULL,
	[ShipToteId] [int] NULL,
	[ShipBoxId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipPalletId] [int] NULL,
	[IssuedToProdOrderNo] [varchar](8) NULL,
	[GrossWt] [decimal](20, 10) NOT NULL,
	[TareWt] [decimal](20, 2) NOT NULL,
	[Complete] [bit] NOT NULL,
	[ReadyToPost] [bit] NOT NULL,
	[IsPacked] [bit] NOT NULL,
	[Shipped] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[UsedByProduction] [bit] NOT NULL,
	[PhantomAdjOut] [bit] NOT NULL,
	[NotForShipment] [bit] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateShipped] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[DateIssued] [datetime] NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[DryIceDateTime] [datetime] NULL,
 CONSTRAINT [PK_ShipRack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_GrossWt]  DEFAULT ((0)) FOR [GrossWt]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_TareWt]  DEFAULT ((0)) FOR [TareWt]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_ReadyToPost]  DEFAULT ((0)) FOR [ReadyToPost]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_IsPacked]  DEFAULT ((0)) FOR [IsPacked]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_UsedByProduction]  DEFAULT ((0)) FOR [UsedByProduction]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_PhantomAdjOut]  DEFAULT ((0)) FOR [PhantomAdjOut]
GO
ALTER TABLE [dbo].[ShipRack] ADD  CONSTRAINT [DF_ShipRack_NotForShipment]  DEFAULT ((0)) FOR [NotForShipment]
GO
ALTER TABLE [dbo].[ShipRack]  WITH CHECK ADD  CONSTRAINT [FK_ShipRack_ShipBox] FOREIGN KEY([ShipBoxId])
REFERENCES [dbo].[ShipBox] ([Id])
GO
ALTER TABLE [dbo].[ShipRack] CHECK CONSTRAINT [FK_ShipRack_ShipBox]
GO
ALTER TABLE [dbo].[ShipRack]  WITH CHECK ADD  CONSTRAINT [FK_ShipRack_ShipCarton] FOREIGN KEY([ShipCartonId])
REFERENCES [dbo].[ShipCarton] ([Id])
GO
ALTER TABLE [dbo].[ShipRack] CHECK CONSTRAINT [FK_ShipRack_ShipCarton]
GO
ALTER TABLE [dbo].[ShipRack]  WITH CHECK ADD  CONSTRAINT [FK_ShipRack_ShipPallet] FOREIGN KEY([ShipPalletId])
REFERENCES [dbo].[ShipPallet] ([Id])
GO
ALTER TABLE [dbo].[ShipRack] CHECK CONSTRAINT [FK_ShipRack_ShipPallet]
GO
ALTER TABLE [dbo].[ShipRack]  WITH CHECK ADD  CONSTRAINT [FK_ShipRack_ShipTote] FOREIGN KEY([ShipToteId])
REFERENCES [dbo].[ShipTote] ([Id])
GO
ALTER TABLE [dbo].[ShipRack] CHECK CONSTRAINT [FK_ShipRack_ShipTote]
GO
