USE [W005]
GO
/****** Object:  Table [dbo].[ProductChar]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductChar](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[CharId] [int] NOT NULL,
	[nTarget] [decimal](20, 10) NULL,
	[nMin] [decimal](20, 10) NULL,
	[nMax] [decimal](20, 10) NULL,
	[bTarget] [bit] NOT NULL,
	[sTarget] [varchar](500) NULL,
	[MinNA] [bit] NOT NULL,
	[MaxNA] [bit] NOT NULL,
	[Enforce] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[BOMItemIds] [varchar](500) NULL,
 CONSTRAINT [PK_WIProductSpec] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ItemId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ProductChar]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_nTarget]  DEFAULT ((0)) FOR [nTarget]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_nMin]  DEFAULT ((0)) FOR [nMin]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_nMax]  DEFAULT ((0)) FOR [nMax]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_bTarget]  DEFAULT ((0)) FOR [bTarget]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_MinNA]  DEFAULT ((0)) FOR [MinNA]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_ProductChar_MaxNA]  DEFAULT ((0)) FOR [MaxNA]
GO
ALTER TABLE [dbo].[ProductChar] ADD  CONSTRAINT [DF_WIProductSpec_Enforce]  DEFAULT ((0)) FOR [Enforce]
GO
ALTER TABLE [dbo].[ProductChar]  WITH CHECK ADD  CONSTRAINT [FK_ProductChar_ProductCharParameter] FOREIGN KEY([CharId])
REFERENCES [dbo].[Characteristic] ([Id])
GO
ALTER TABLE [dbo].[ProductChar] CHECK CONSTRAINT [FK_ProductChar_ProductCharParameter]
GO
