USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseSiemensWaste]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseSiemensWaste](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[Trim] [decimal](24, 10) NOT NULL,
	[ProcessDamage] [decimal](24, 10) NOT NULL,
	[RawMaterialQuality] [decimal](24, 10) NOT NULL,
	[Other] [decimal](24, 10) NOT NULL,
 CONSTRAINT [PK_OrderReleaseSiemensWaste] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseSiemensWaste] ADD  CONSTRAINT [DF_OrderReleaseSiemensWaste_Trim]  DEFAULT ((0)) FOR [Trim]
GO
ALTER TABLE [dbo].[OrderReleaseSiemensWaste] ADD  CONSTRAINT [DF_OrderReleaseSiemensWaste_ProcessDamage]  DEFAULT ((0)) FOR [ProcessDamage]
GO
ALTER TABLE [dbo].[OrderReleaseSiemensWaste] ADD  CONSTRAINT [DF_OrderReleaseSiemensWaste_RawMaterialQuality]  DEFAULT ((0)) FOR [RawMaterialQuality]
GO
ALTER TABLE [dbo].[OrderReleaseSiemensWaste] ADD  CONSTRAINT [DF_OrderReleaseSiemensWaste_Other]  DEFAULT ((0)) FOR [Other]
GO
