USE [W005]
GO
/****** Object:  Table [dbo].[CCIOrderReleaseSummary]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIOrderReleaseSummary](
	[ParentOrderNo] [varchar](8) NOT NULL,
	[IsReviewed] [bit] NOT NULL,
	[IsPostedToTraverse] [bit] NOT NULL,
	[Program] [varchar](100) NULL,
	[MFGGroup] [varchar](75) NOT NULL,
	[ProdOrders] [nvarchar](max) NULL,
	[Kits] [nvarchar](max) NULL,
	[SalesOrder] [varchar](8) NULL,
	[Qty] [float] NOT NULL,
	[UOM] [varchar](5) NULL,
	[LaborMinutes] [float] NOT NULL,
	[LaborHours] [float] NOT NULL,
	[TotalLaborMinutes] [float] NOT NULL,
	[TotalLaborHours] [float] NOT NULL,
	[MachineGroupId] [varchar](10) NULL,
	[MachineMinutes] [float] NOT NULL,
	[NonMaterialDownTimeMinutes] [float] NOT NULL,
	[TotalMachineMinutes] [float] NOT NULL,
	[MachineHours] [float] NOT NULL,
	[NonMaterialDownTimeHours] [float] NOT NULL,
	[TotalMachineHours] [float] NOT NULL,
	[ReviewedDate] [datetime] NULL,
	[ReviewedBy] [varchar](25) NULL,
	[PostedToTraverseDate] [datetime] NULL,
	[PostedToTraverseBy] [varchar](25) NULL,
	[QueuedforPost] [bit] NOT NULL,
 CONSTRAINT [PK_CCIOrderReleaseSummary_1] PRIMARY KEY CLUSTERED 
(
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_IsReviewed]  DEFAULT ((0)) FOR [IsReviewed]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_IsPostedToTraverse]  DEFAULT ((0)) FOR [IsPostedToTraverse]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_LaborMinutes]  DEFAULT ((0)) FOR [LaborMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_LaborHours]  DEFAULT ((0)) FOR [LaborHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalLabor]  DEFAULT ((0)) FOR [TotalLaborMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalLaborHours]  DEFAULT ((0)) FOR [TotalLaborHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_MachineMinutes]  DEFAULT ((0)) FOR [MachineMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalNonMaterialDownTimeMinutes]  DEFAULT ((0)) FOR [NonMaterialDownTimeMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalMachine]  DEFAULT ((0)) FOR [TotalMachineMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_MachineHours]  DEFAULT ((0)) FOR [MachineHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalNonMaterialDownTimeMinutes1]  DEFAULT ((0)) FOR [NonMaterialDownTimeHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_TotalMachineHours]  DEFAULT ((0)) FOR [TotalMachineHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummary] ADD  CONSTRAINT [DF_CCIOrderReleaseSummary_QueuedforPost]  DEFAULT ((0)) FOR [QueuedforPost]
GO
