USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseSummary]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseSummary](
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[IsReviewed] [bit] NOT NULL,
	[IsPostedToTraverse] [bit] NOT NULL,
	[AssemblyId] [varchar](25) NOT NULL,
	[RevisionNo] [varchar](3) NULL,
	[Qty] [float] NOT NULL,
	[UOM] [varchar](5) NULL,
	[LaborMinutes] [float] NOT NULL,
	[LaborHours] [float] NOT NULL,
	[TotalLaborMinutes] [float] NOT NULL,
	[TotalLaborHours] [float] NOT NULL,
	[MachineGroupId] [varchar](10) NULL,
	[MachineMinutes] [float] NOT NULL,
	[NonMaterialDownTimeMinutes] [float] NOT NULL,
	[TotalMachineMinutes] [float] NOT NULL,
	[MachineHours] [float] NOT NULL,
	[NonMaterialDownTimeHours] [float] NOT NULL,
	[TotalMachineHours] [float] NOT NULL,
	[ReviewedDate] [datetime] NULL,
	[ReviewedBy] [varchar](25) NULL,
	[PostedToTraverseDate] [datetime] NULL,
	[PostedToTraverseBy] [varchar](25) NULL,
	[QueuedforPost] [bit] NOT NULL,
	[AdjustmentsPostedtoTraverse] [bit] NOT NULL,
 CONSTRAINT [PK_OrderReleaseSummary_1] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReleaseSummary]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseSummary] ON [dbo].[OrderReleaseSummary]
(
	[IsPostedToTraverse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseSummary_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseSummary_1] ON [dbo].[OrderReleaseSummary]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20161013-123223]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20161013-123223] ON [dbo].[OrderReleaseSummary]
(
	[ReleaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_ReleaseId]  DEFAULT ((0)) FOR [ReleaseId]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_IsReviewed]  DEFAULT ((0)) FOR [IsReviewed]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_IsPostedToTraverse]  DEFAULT ((0)) FOR [IsPostedToTraverse]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_LaborMinutes]  DEFAULT ((0)) FOR [LaborMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_LaborHours]  DEFAULT ((0)) FOR [LaborHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_Table_1_TotalLabor]  DEFAULT ((0)) FOR [TotalLaborMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_TotalLaborHours]  DEFAULT ((0)) FOR [TotalLaborHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_MachineMinutes]  DEFAULT ((0)) FOR [MachineMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_TotalNonMaterialDownTimeMinutes]  DEFAULT ((0)) FOR [NonMaterialDownTimeMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_Table_1_TotalMachine]  DEFAULT ((0)) FOR [TotalMachineMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_MachineHours]  DEFAULT ((0)) FOR [MachineHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_TotalNonMaterialDownTimeMinutes1]  DEFAULT ((0)) FOR [NonMaterialDownTimeHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_TotalMachineHours]  DEFAULT ((0)) FOR [TotalMachineHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_QueuedforPost]  DEFAULT ((0)) FOR [QueuedforPost]
GO
ALTER TABLE [dbo].[OrderReleaseSummary] ADD  CONSTRAINT [DF_OrderReleaseSummary_AdjustmentsPostedtoTraverse]  DEFAULT ((0)) FOR [AdjustmentsPostedtoTraverse]
GO
