USE [W005]
GO
/****** Object:  Table [dbo].[ExtrudingColor]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtrudingColor](
	[Color] [varchar](10) NOT NULL,
	[Abbrev] [nchar](2) NULL,
 CONSTRAINT [PK_ExtrudingColor_1] PRIMARY KEY CLUSTERED 
(
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
