USE [W005]
GO
/****** Object:  Table [dbo].[Characteristic]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characteristic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Characteristic] [varchar](50) NOT NULL,
	[CharDescr] [varchar](100) NULL,
	[DataType] [varchar](10) NOT NULL,
	[tblSmCustomFieldId] [int] NULL,
	[UsedByERP] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[CriticalAttribute] [bit] NOT NULL,
 CONSTRAINT [PK_ProductSpecParameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Characteristic]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Characteristic] ON [dbo].[Characteristic]
(
	[Characteristic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Characteristic] ADD  CONSTRAINT [DF_ProductCharParameter_UsedByERP]  DEFAULT ((1)) FOR [UsedByERP]
GO
ALTER TABLE [dbo].[Characteristic] ADD  CONSTRAINT [DF_Characteristic_CriticalAttribute]  DEFAULT ((0)) FOR [CriticalAttribute]
GO
