USE [W005]
GO
/****** Object:  Table [dbo].[InventoryCountEventHist]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCountEventHist](
	[ICEId] [int] NOT NULL,
	[ICESite] [varchar](10) NULL,
	[ICEName] [varchar](50) NULL,
	[ICEStartDT] [datetime] NOT NULL,
	[ICEEndDT] [datetime] NULL,
	[UserIdStart] [varchar](25) NULL,
	[UserIdEnd] [varchar](25) NULL,
 CONSTRAINT [PK_InventoryCountEventHist] PRIMARY KEY CLUSTERED 
(
	[ICEId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
