USE [W005]
GO
/****** Object:  Table [dbo].[ExtrPatchTPSLotSetNo]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtrPatchTPSLotSetNo](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LotSetNo] [varchar](16) NOT NULL,
	[NoOfRolls] [int] NULL,
	[Quantity] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[OpInit] [nvarchar](15) NULL,
	[OrderNo] [varchar](8) NULL,
	[ShipItemId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipCartonNo] [varchar](10) NULL,
	[ShipPalletNo] [varchar](10) NULL,
	[DateCreated] [datetime] NULL,
	[Complete] [bit] NULL,
 CONSTRAINT [PK_ExtrPatchTPSLotSetNo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
