USE [W005]
GO
/****** Object:  Table [dbo].[PONote]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PONote](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PONote] [text] NOT NULL,
	[ReqForCriticalSupplier] [bit] NOT NULL,
 CONSTRAINT [PK_PONote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PONote] ADD  CONSTRAINT [DF_PONote_ReqForCriticalSupplier]  DEFAULT ((0)) FOR [ReqForCriticalSupplier]
GO
