USE [W005]
GO
/****** Object:  Table [dbo].[ReturnedInHeader]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnedInHeader](
	[WebReturnNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TraverseOrderNum] [varchar](8) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CustId] [varchar](10) NOT NULL,
	[CustName] [varchar](30) NOT NULL,
	[CustPO] [varchar](25) NULL,
	[FromId] [varchar](10) NOT NULL,
	[FromName] [varchar](30) NOT NULL,
	[FromAddr1] [varchar](30) NOT NULL,
	[FromAddr2] [varchar](60) NULL,
	[FromCity] [varchar](30) NOT NULL,
	[FromRegion] [varchar](10) NOT NULL,
	[FromCountry] [varchar](6) NOT NULL,
	[FromPostalCode] [varchar](10) NOT NULL,
	[Notes] [ntext] NULL,
	[NotesReveiwed] [bit] NULL,
	[Complete] [bit] NOT NULL,
	[Posted] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_ReturnInHeader] PRIMARY KEY CLUSTERED 
(
	[WebReturnNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReturnedInHeader] ADD  CONSTRAINT [DF_ReturnedInHeader_NotesReveiwed]  DEFAULT ((0)) FOR [NotesReveiwed]
GO
ALTER TABLE [dbo].[ReturnedInHeader] ADD  CONSTRAINT [DF_ReturnedInHeader_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ReturnedInHeader] ADD  CONSTRAINT [DF_ReturnedInHeader_Posted]  DEFAULT ((0)) FOR [Posted]
GO
