USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventCheckListDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventCheckListDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventCheckListId] [int] NOT NULL,
	[CheckListItemId] [int] NOT NULL,
 CONSTRAINT [PK_OrderReleaseEventCheckListDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckListDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventCheckListDetail_CheckListItem] FOREIGN KEY([CheckListItemId])
REFERENCES [dbo].[CheckListItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckListDetail] CHECK CONSTRAINT [FK_OrderReleaseEventCheckListDetail_CheckListItem]
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckListDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventCheckListDetail_OrderReleaseEventCheckList] FOREIGN KEY([OrderReleaseEventCheckListId])
REFERENCES [dbo].[OrderReleaseEventCheckList] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventCheckListDetail] CHECK CONSTRAINT [FK_OrderReleaseEventCheckListDetail_OrderReleaseEventCheckList]
GO
