USE [W005]
GO
/****** Object:  Table [dbo].[CCICutFileRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCICutFileRawMaterial](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CCICutFileId] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[Layers] [int] NOT NULL,
 CONSTRAINT [PK_CCICutFileRawMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCICutFileRawMaterial] ADD  CONSTRAINT [DF_CCICutFileRawMaterial_Layers]  DEFAULT ((1)) FOR [Layers]
GO
ALTER TABLE [dbo].[CCICutFileRawMaterial]  WITH CHECK ADD  CONSTRAINT [FK_CCICutFileRawMaterial_CCICutFile] FOREIGN KEY([CCICutFileId])
REFERENCES [dbo].[CCICutFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCICutFileRawMaterial] CHECK CONSTRAINT [FK_CCICutFileRawMaterial_CCICutFile]
GO
