USE [W005]
GO
/****** Object:  Table [dbo].[HWMBMaterialScanSample]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HWMBMaterialScanSample](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialScanId] [int] NOT NULL,
	[PalletId] [varchar](16) NOT NULL,
	[FWS] [bit] NOT NULL,
	[DSC] [bit] NOT NULL,
	[First] [bit] NOT NULL,
	[Last] [bit] NOT NULL,
	[OutTime] [bit] NOT NULL,
	[BatchNumber] [varchar](25) NULL,
	[SpoolId] [varchar](16) NULL,
	[Material] [varchar](50) NULL,
	[WorkOrder] [varchar](8) NULL,
	[SetId] [varchar](8) NULL,
	[MasterRollNumber] [varchar](16) NULL,
	[IFSNumber] [varchar](25) NULL,
	[RoomHours] [varchar](10) NULL,
	[DoM] [varchar](10) NULL,
 CONSTRAINT [PK_HWMBMaterialScanSample] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] ADD  CONSTRAINT [DF_HWMBMaterialScanSample_FWS]  DEFAULT ((0)) FOR [FWS]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] ADD  CONSTRAINT [DF_Table_1_FWS4]  DEFAULT ((0)) FOR [DSC]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] ADD  CONSTRAINT [DF_Table_1_FWS3]  DEFAULT ((0)) FOR [First]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] ADD  CONSTRAINT [DF_Table_1_FWS2]  DEFAULT ((0)) FOR [Last]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] ADD  CONSTRAINT [DF_Table_1_FWS1]  DEFAULT ((0)) FOR [OutTime]
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample]  WITH CHECK ADD  CONSTRAINT [FK_HWMBMaterialScanSample_MaterialScan] FOREIGN KEY([MaterialScanId])
REFERENCES [dbo].[HWMBMaterialScan] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HWMBMaterialScanSample] CHECK CONSTRAINT [FK_HWMBMaterialScanSample_MaterialScan]
GO
