USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseIntermediateRawMatl]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseIntermediateRawMatl](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseKitRawMatlOutTimeId] [int] NULL,
	[IMOREIId] [int] NOT NULL,
	[IMItemId] [varchar](24) NOT NULL,
	[IMSerialNo] [varchar](16) NOT NULL,
	[IMLotNo] [varchar](16) NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[RMSerialNo] [varchar](16) NULL,
	[RMLotNo] [varchar](16) NULL,
	[IsOTTracked] [bit] NOT NULL,
	[LastScanDateTime] [datetime] NULL,
	[TotalRoomMinutes] [int] NULL,
	[TotalFreezerMinutes] [int] NULL,
	[TotalReeferMinutes] [int] NULL,
	[MaxRoomDTReached] [datetime] NULL,
	[MaxFreezerDTReached] [datetime] NULL,
	[MaxReeferDTReached] [datetime] NULL,
	[EstLastScanDateTime] [datetime] NULL,
	[EstTotalRoomMinutes] [int] NULL,
	[OrderReleaseKitRawMatlNonOTId] [int] NULL,
 CONSTRAINT [PK_OrderReleaseIntermediateRawMatl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ORIRM_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ORIRM_1] ON [dbo].[OrderReleaseIntermediateRawMatl]
(
	[OrderReleaseEventItemId] ASC,
	[IMOREIId] ASC,
	[RMItemId] ASC,
	[RMSerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseIntermediateRawMatl] ADD  CONSTRAINT [DF_OrderReleaseIntermediateRawMatl_IsOTTracked]  DEFAULT ((0)) FOR [IsOTTracked]
GO
