USE [W005]
GO
/****** Object:  Table [dbo].[SW_TestGroupDtlData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SW_TestGroupDtlData](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestGroupDtlId] [int] NULL,
	[SpoolNo] [int] NULL,
	[SampleNo] [int] NULL,
	[TestLevel] [int] NULL,
	[MeanMM] [decimal](20, 10) NULL,
	[MeanIN] [decimal](20, 10) NULL,
	[MeanOOT] [bit] NOT NULL,
	[SpoolRejected] [bit] NOT NULL,
	[DataComplete] [bit] NOT NULL,
	[MMPos1] [decimal](20, 10) NULL,
	[MMPos2] [decimal](20, 10) NULL,
	[MMPos3] [decimal](20, 10) NULL,
	[MMPos4] [decimal](20, 10) NULL,
	[MMPos5] [decimal](20, 10) NULL,
	[INPos1] [decimal](20, 10) NULL,
	[INPos2] [decimal](20, 10) NULL,
	[INPos3] [decimal](20, 10) NULL,
	[INPos4] [decimal](20, 10) NULL,
	[INPos5] [decimal](20, 10) NULL,
	[OOTPos1] [bit] NOT NULL,
	[OOTPos2] [bit] NOT NULL,
	[OOTPos3] [bit] NOT NULL,
	[OOTPos4] [bit] NOT NULL,
	[OOTPos5] [bit] NOT NULL,
	[TestDate] [datetime] NULL,
	[UserId] [varchar](25) NULL,
	[TestedByName] [varchar](50) NULL,
	[HandlingDamageRetest] [bit] NOT NULL,
	[MaterialIssueRetest] [bit] NOT NULL,
	[ImproperSampleInstallationRetest] [bit] NOT NULL,
	[OOCPos1] [bit] NOT NULL,
	[OOCPos2] [bit] NOT NULL,
	[OOCPos3] [bit] NOT NULL,
	[OOCPos4] [bit] NOT NULL,
	[OOCPos5] [bit] NOT NULL,
	[MeanOOC] [bit] NOT NULL,
	[TargetMM] [decimal](20, 10) NULL,
	[TargetIN] [decimal](20, 10) NULL,
	[GageId] [varchar](25) NULL,
	[GageName] [varchar](50) NULL,
 CONSTRAINT [PK_SW_TestData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_MeanOOT]  DEFAULT ((0)) FOR [MeanOOT]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_SpoolRejected]  DEFAULT ((0)) FOR [SpoolRejected]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_DataComplete]  DEFAULT ((0)) FOR [DataComplete]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOTPos1]  DEFAULT ((0)) FOR [OOTPos1]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOTPos2]  DEFAULT ((0)) FOR [OOTPos2]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOTPos3]  DEFAULT ((0)) FOR [OOTPos3]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOTPos4]  DEFAULT ((0)) FOR [OOTPos4]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOTPos5]  DEFAULT ((0)) FOR [OOTPos5]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_HandlingDamageRetest]  DEFAULT ((0)) FOR [HandlingDamageRetest]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_MaterialIssueRetest]  DEFAULT ((0)) FOR [MaterialIssueRetest]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_ImproperSampleInstallationRetest]  DEFAULT ((0)) FOR [ImproperSampleInstallationRetest]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOCPos1]  DEFAULT ((0)) FOR [OOCPos1]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOCPos2]  DEFAULT ((0)) FOR [OOCPos2]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOCPos3]  DEFAULT ((0)) FOR [OOCPos3]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOCPos4]  DEFAULT ((0)) FOR [OOCPos4]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_OOCPos5]  DEFAULT ((0)) FOR [OOCPos5]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] ADD  CONSTRAINT [DF_SW_TestData_MeanOOC]  DEFAULT ((0)) FOR [MeanOOC]
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData]  WITH CHECK ADD  CONSTRAINT [FK_SW_TestData_SW_TestDetail] FOREIGN KEY([TestGroupDtlId])
REFERENCES [dbo].[SW_TestGroupDtl] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SW_TestGroupDtlData] CHECK CONSTRAINT [FK_SW_TestData_SW_TestDetail]
GO
