USE [W005]
GO
/****** Object:  Table [dbo].[SolvayRMOTReportData]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolvayRMOTReportData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RollSet] [varchar](50) NULL,
	[OTStmt] [varchar](50) NULL,
	[TotalOT] [varchar](20) NULL,
 CONSTRAINT [PK_SolvayRMOTReportData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
