USE [W005]
GO
/****** Object:  Table [dbo].[tmpOffSiteTransfer]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpOffSiteTransfer](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OSTId] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[ItemDescr] [varchar](35) NULL,
	[TravSerNum] [varchar](35) NULL,
	[TravLotNum] [varchar](16) NULL,
	[WISerNum] [varchar](16) NULL,
	[WILotNum] [varchar](16) NULL,
	[Quantity] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NULL,
	[PkgId] [varchar](10) NULL,
	[ShipItemId] [int] NULL,
	[ShipBoxId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipPalletId] [int] NULL,
	[ErrorMsg] [varchar](max) NULL,
	[DoNotAddToOST] [bit] NOT NULL,
 CONSTRAINT [PK_tmpOffSiteTransfer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpOffSiteTransfer] ADD  CONSTRAINT [DF_tmpOffSiteTransfer_DoNotAddToOST]  DEFAULT ((0)) FOR [DoNotAddToOST]
GO
