USE [W005]
GO
/****** Object:  Table [dbo].[tblInItemSerNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInItemSerNunezCost](
	[ItemId] [dbo].[pItemID] NOT NULL,
	[SerNum] [dbo].[pSerNum] NOT NULL,
	[LocId] [dbo].[pLocID] NULL,
	[CostUnit] [dbo].[pDec] NULL,
	[WIMaterialDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WIMaterialIndirectUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostVariable] [decimal](20, 10) NOT NULL,
	[WISubcontractUnitCost] [decimal](20, 10) NOT NULL,
	[InsertUpdate] [varchar](1) NULL,
	[IsHistory] [bit] NOT NULL,
	[HistSeqNum] [int] NULL,
 CONSTRAINT [PK_tblInItemSer] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[SerNum] ASC,
	[IsHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_CostUnit]  DEFAULT ((0)) FOR [CostUnit]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMaterialDirectUnitCost]  DEFAULT ((0)) FOR [WIMaterialDirectUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMaterialIndirectUnitCost]  DEFAULT ((0)) FOR [WIMaterialIndirectUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WILaborSetupUnitCost]  DEFAULT ((0)) FOR [WILaborSetupUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WILaborUnitCost]  DEFAULT ((0)) FOR [WILaborUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMachineSetupUnitCost]  DEFAULT ((0)) FOR [WIMachineSetupUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMachineUnitCost]  DEFAULT ((0)) FOR [WIMachineUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMachineUnitCostModified]  DEFAULT ((0)) FOR [WIMachineUnitCostModified]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WIMachineUnitCostVariable]  DEFAULT ((0)) FOR [WIMachineUnitCostVariable]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_WISubcontractUnitCost]  DEFAULT ((0)) FOR [WISubcontractUnitCost]
GO
ALTER TABLE [dbo].[tblInItemSerNunezCost] ADD  CONSTRAINT [DF_tblInItemSerNunezCost_IsHistory]  DEFAULT ((0)) FOR [IsHistory]
GO
