USE [W005]
GO
/****** Object:  Table [dbo].[Machine]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MachineGroupId] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[HourlyCostFactor] [decimal](20, 10) NOT NULL,
	[HourlyCostFactorModified] [decimal](20, 10) NOT NULL,
	[HourlyCostFactorVariable] [decimal](20, 10) NOT NULL,
	[Inactive] [bit] NOT NULL,
	[LottedPullMfg] [bit] NOT NULL,
	[Converting] [bit] NOT NULL,
	[Extruding] [bit] NOT NULL,
	[Kitting] [bit] NOT NULL,
	[Packing] [bit] NOT NULL,
	[PlyCutting] [bit] NOT NULL,
	[Rewinding] [bit] NOT NULL,
	[Canisters] [bit] NOT NULL,
	[RequireTableLock] [bit] NOT NULL,
 CONSTRAINT [PK_Machine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_HourlyCostFactor]  DEFAULT ((0)) FOR [HourlyCostFactor]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_HourlyCostFactor1]  DEFAULT ((0)) FOR [HourlyCostFactorModified]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_HourlyCostFactor2]  DEFAULT ((0)) FOR [HourlyCostFactorVariable]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Inactive]  DEFAULT ((0)) FOR [Inactive]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_LottedPullMfg]  DEFAULT ((0)) FOR [LottedPullMfg]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Converting]  DEFAULT ((0)) FOR [Converting]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Extruding]  DEFAULT ((0)) FOR [Extruding]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Kitting]  DEFAULT ((0)) FOR [Kitting]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Packing]  DEFAULT ((0)) FOR [Packing]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_PlyCutting]  DEFAULT ((0)) FOR [PlyCutting]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Rewinding_1]  DEFAULT ((0)) FOR [Rewinding]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_Canisters_1]  DEFAULT ((0)) FOR [Canisters]
GO
ALTER TABLE [dbo].[Machine] ADD  CONSTRAINT [DF_Machine_RequireTableLock_1]  DEFAULT ((0)) FOR [RequireTableLock]
GO
