USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventItem]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventItem](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[ItemId] [varchar](25) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[IsAssembly] [bit] NOT NULL,
	[SerialNo] [varchar](16) NULL,
	[LotNo] [varchar](16) NULL,
	[TravLotNum] [varchar](16) NULL,
	[MfgDate] [datetime] NULL,
	[FGExpDate] [datetime] NULL,
	[MpOrderMatIssuedId] [int] NULL,
	[Qty] [float] NOT NULL,
	[UOM] [varchar](5) NULL,
	[MRLengthCounter] [float] NOT NULL,
	[PLCLengthCounter] [float] NOT NULL,
	[HeadPos] [int] NULL,
	[CutPos] [int] NULL,
	[Slitter2SpoolOffset] [float] NOT NULL,
	[PrevOrderReleaseEventItemId] [int] NULL,
	[TotalQty] [float] NOT NULL,
	[TotalWaste] [float] NOT NULL,
	[TotalQtyConsumed] [float] NOT NULL,
	[TotalQtyRemaining] [float] NOT NULL,
	[ReturnedLocId] [varchar](10) NULL,
	[EventDateTime] [datetime] NULL,
	[ByProductItemId] [varchar](24) NULL,
	[TravMatDtlSaved] [bit] NOT NULL,
	[Layers] [int] NOT NULL,
	[TravSerNum] [varchar](35) NULL,
	[CutFileQtyConsumed] [float] NOT NULL,
	[CutFileWaste] [float] NOT NULL,
	[NonCutFileWaste] [float] NOT NULL,
	[ScanMaterialWarnings] [varchar](max) NULL,
	[SupervisorOverride] [varchar](25) NULL,
	[FGCompleted] [bit] NOT NULL,
	[CustRFIDTag] [varchar](25) NULL,
	[FGInspectedBy] [varchar](25) NULL,
	[IsInPartialKit] [bit] NOT NULL,
	[MultiKitPerBagNum] [int] NULL,
	[KitSet] [int] NULL,
	[HasMinSegmentIssues] [bit] NOT NULL,
	[SeqSpoolNum] [varchar](5) NULL,
	[CustSeqSpoolNum] [varchar](5) NULL,
	[CrossPlyNetLength] [float] NOT NULL,
	[KitRM] [bit] NOT NULL,
	[FGOREIId] [int] NULL,
	[TotalOverage] [float] NOT NULL,
	[FinalizeAdjustment] [float] NOT NULL,
	[FinalizeAdjustmentWaste] [float] NOT NULL,
	[CrossPlyGrossLength] [float] NOT NULL,
	[CrossPlyNetWT] [float] NOT NULL,
	[CrossPlyGrossWT] [float] NOT NULL,
	[Consumed] [bit] NOT NULL,
	[PalletNo] [varchar](10) NULL,
	[PalletSeqNo] [int] NULL,
	[Rewind] [bit] NOT NULL,
	[RWOREIId] [int] NULL,
	[OrigOREId] [int] NULL,
 CONSTRAINT [PK_OrderReleaseEventItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_OrderReleaseEventItem_10_1182679311__K5_K2_K3_K4_6]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index_OrderReleaseEventItem_10_1182679311__K5_K2_K3_K4_6] ON [dbo].[OrderReleaseEventItem]
(
	[IsAssembly] ASC,
	[OrderReleaseEventId] ASC,
	[ItemId] ASC,
	[LocId] ASC
)
INCLUDE([SerialNo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseEventItem]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventItem] ON [dbo].[OrderReleaseEventItem]
(
	[ItemId] ASC,
	[LocId] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseEventItem_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventItem_1] ON [dbo].[OrderReleaseEventItem]
(
	[CustRFIDTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OREIFgOreiId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OREIFgOreiId] ON [dbo].[OrderReleaseEventItem]
(
	[FGOREIId] ASC
)
INCLUDE([ByProductItemId],[CrossPlyNetLength],[CustRFIDTag],[CustSeqSpoolNum],[CutFileQtyConsumed],[CutFileWaste],[CutPos],[EventDateTime],[FGCompleted],[FGExpDate],[FGInspectedBy],[HasMinSegmentIssues],[HeadPos],[IsAssembly],[IsInPartialKit],[ItemId],[KitRM],[KitSet],[Layers],[LocId],[LotNo],[MfgDate],[MpOrderMatIssuedId],[MRLengthCounter],[MultiKitPerBagNum],[NonCutFileWaste],[OrderReleaseEventId],[PLCLengthCounter],[PrevOrderReleaseEventItemId],[Qty],[ReturnedLocId],[ScanMaterialWarnings],[SeqSpoolNum],[SerialNo],[Slitter2SpoolOffset],[SupervisorOverride],[TotalQty],[TotalQtyConsumed],[TotalQtyRemaining],[TotalWaste],[TravLotNum],[TravMatDtlSaved],[TravSerNum],[UOM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OREIItemIdTravLotNum]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OREIItemIdTravLotNum] ON [dbo].[OrderReleaseEventItem]
(
	[ItemId] ASC,
	[TravLotNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_IsAssembly]  DEFAULT ((0)) FOR [IsAssembly]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_RAWLengthCounter]  DEFAULT ((0)) FOR [MRLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_PLCLengthCounter]  DEFAULT ((0)) FOR [PLCLengthCounter]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_Slitter2SpoolOffset]  DEFAULT ((0)) FOR [Slitter2SpoolOffset]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_TotalLength]  DEFAULT ((0)) FOR [TotalQty]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_WasteLength]  DEFAULT ((0)) FOR [TotalWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_TotalConsumed]  DEFAULT ((0)) FOR [TotalQtyConsumed]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_TotalReturned]  DEFAULT ((0)) FOR [TotalQtyRemaining]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_TravMatDtlSaved]  DEFAULT ((0)) FOR [TravMatDtlSaved]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_Layers]  DEFAULT ((1)) FOR [Layers]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CutFileQtyConsumed_1]  DEFAULT ((0)) FOR [CutFileQtyConsumed]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CutFileWaste_1]  DEFAULT ((0)) FOR [CutFileWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_NonCutFileWaste]  DEFAULT ((0)) FOR [NonCutFileWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_FGCompleted]  DEFAULT ((0)) FOR [FGCompleted]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_IsInPartialKit]  DEFAULT ((0)) FOR [IsInPartialKit]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_HasMinSegmentIssues_1]  DEFAULT ((0)) FOR [HasMinSegmentIssues]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CrossPlyNetLength]  DEFAULT ((0)) FOR [CrossPlyNetLength]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_KitRM]  DEFAULT ((0)) FOR [KitRM]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_TotalOverage]  DEFAULT ((0)) FOR [TotalOverage]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_FinalizeAdjustment]  DEFAULT ((0)) FOR [FinalizeAdjustment]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_FinalizeAdjustmentWaste]  DEFAULT ((0)) FOR [FinalizeAdjustmentWaste]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CrossPlyGrossLength]  DEFAULT ((0)) FOR [CrossPlyGrossLength]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CrossPlyNetWT]  DEFAULT ((0)) FOR [CrossPlyNetWT]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_CrossPlyGrossWT]  DEFAULT ((0)) FOR [CrossPlyGrossWT]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_Consumed]  DEFAULT ((0)) FOR [Consumed]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] ADD  CONSTRAINT [DF_OrderReleaseEventItem_Rewind]  DEFAULT ((0)) FOR [Rewind]
GO
ALTER TABLE [dbo].[OrderReleaseEventItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventItem_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventItem] CHECK CONSTRAINT [FK_OrderReleaseEventItem_OrderReleaseEvent]
GO
