USE [W005]
GO
/****** Object:  Table [dbo].[tblInQtyOnHand_OffsetNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQtyOnHand_OffsetNunezCost](
	[SeqNum] [int] NOT NULL,
	[GrpID] [int] NULL,
	[EntryDate] [datetime] NULL,
	[Source] [tinyint] NULL,
	[Qty] [dbo].[pDec] NULL,
	[Cost] [dbo].[pDec] NULL,
	[OnHandLink] [int] NULL,
	[LinkID] [char](8) NULL,
	[LinkIDSub] [char](8) NULL,
	[LinkIDSubLine] [int] NULL,
	[CostActual] [dbo].[pDec] NULL,
	[CostAdj] [dbo].[pDec] NULL,
	[CostAdjPosted] [dbo].[pDec] NULL,
	[IsUsed] [bit] NOT NULL,
	[InsertUpdate] [varchar](1) NULL,
 CONSTRAINT [PK_tblInQtyOnHand_Offset] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInQtyOnHand_OffsetNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQtyOnHand_OffsetNunezCost] ON [dbo].[tblInQtyOnHand_OffsetNunezCost]
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInQtyOnHand_OffsetNunezCost] ADD  CONSTRAINT [DF_tblInQtyOnHand_OffsetNunezCost_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
