USE [W005]
GO
/****** Object:  Table [dbo].[ProfilometerTestHdr]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfilometerTestHdr](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ProdOrder] [varchar](8) NULL,
	[RelNo] [int] NULL,
	[ItemId] [varchar](24) NULL,
	[ItemDesc] [varchar](35) NULL,
 CONSTRAINT [PK_ProfilometerTestHdr] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
