USE [W005]
GO
/****** Object:  Table [dbo].[CCIOrderReleaseSummaryMachine]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIOrderReleaseSummaryMachine](
	[ParentOrderNo] [varchar](8) NOT NULL,
	[OperationStep] [int] NOT NULL,
	[Machine] [nchar](10) NOT NULL,
	[Operation] [varchar](10) NOT NULL,
	[OperationDescr] [varchar](255) NULL,
	[MachineGroupId] [varchar](10) NOT NULL,
	[MachineMinutes] [float] NOT NULL,
	[MachineHours] [float] NOT NULL,
	[SetupMinutes] [float] NOT NULL,
	[SetupHours] [float] NOT NULL,
	[NonMaterialDowntimeMinutes] [float] NOT NULL,
	[NonMaterialDowntimeHours] [float] NOT NULL,
	[AdjustmentMinutes] [float] NOT NULL,
	[AdjustmentHours] [float] NOT NULL,
	[SetupAdjustmentMinutes] [float] NOT NULL,
	[SetupAdjustmentHours] [float] NOT NULL,
	[TotalMachineMinutes] [float] NOT NULL,
	[TotalMachineHours] [float] NOT NULL,
 CONSTRAINT [PK_CCIOrderReleaseSummaryMachine] PRIMARY KEY CLUSTERED 
(
	[ParentOrderNo] ASC,
	[OperationStep] ASC,
	[Machine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_OperationStep]  DEFAULT ((0)) FOR [OperationStep]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_SetupMinutes]  DEFAULT ((0)) FOR [SetupMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_SetupHours]  DEFAULT ((0)) FOR [SetupHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_AdjustmentMinutes]  DEFAULT ((0)) FOR [AdjustmentMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_AdjustmentHours]  DEFAULT ((0)) FOR [AdjustmentHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_SetupAdjustmentMinutes]  DEFAULT ((0)) FOR [SetupAdjustmentMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_SetupAdjustmentHours]  DEFAULT ((0)) FOR [SetupAdjustmentHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_TotalMachineMin]  DEFAULT ((0)) FOR [TotalMachineMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryMachine_TotalMachineHours]  DEFAULT ((0)) FOR [TotalMachineHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine]  WITH CHECK ADD  CONSTRAINT [FK_CCIOrderReleaseSummaryMachine_OrderReleaseSummary1] FOREIGN KEY([ParentOrderNo])
REFERENCES [dbo].[CCIOrderReleaseSummary] ([ParentOrderNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryMachine] CHECK CONSTRAINT [FK_CCIOrderReleaseSummaryMachine_OrderReleaseSummary1]
GO
