USE [W005]
GO
/****** Object:  Table [dbo].[CCISparAssemblyCutSheet]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCISparAssemblyCutSheet](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Date] [datetime] NULL,
	[Techs] [varchar](50) NULL,
	[KitPN] [varchar](50) NULL,
	[KitSN] [varchar](35) NULL,
	[Rolls123PN] [varchar](50) NULL,
	[Rolls123Manufacturer] [varchar](50) NULL,
	[Roll1LotNo] [varchar](35) NULL,
	[Roll1ExpDate] [datetime] NULL,
	[Roll1DTOut] [datetime] NULL,
	[Roll1DTOutRemaining] [float] NULL,
	[Roll1DTIn] [datetime] NULL,
	[Roll1DTInRemaining] [float] NULL,
	[Roll2LotNo] [varchar](35) NULL,
	[Roll2ExpDate] [datetime] NULL,
	[Roll2DTOut] [datetime] NULL,
	[Roll2DTOutRemaining] [float] NULL,
	[Roll2DTIn] [datetime] NULL,
	[Roll2DTInRemaining] [float] NULL,
	[Roll3LotNo] [varchar](35) NULL,
	[Roll3ExpDate] [datetime] NULL,
	[Roll3DTOut] [datetime] NULL,
	[Roll3DTOutRemaining] [float] NULL,
	[Roll3DTIn] [datetime] NULL,
	[Roll3DTInRemaining] [float] NULL,
	[Roll4PN] [varchar](50) NULL,
	[Roll4Manufacturer] [varchar](50) NULL,
	[Roll4LotNo] [varchar](35) NULL,
	[Roll4ExpDate] [datetime] NULL,
	[Roll5PN] [varchar](50) NULL,
	[Roll5LotNo] [varchar](35) NULL,
	[Roll5ExpDate] [datetime] NULL,
	[Roll5Remaining] [float] NULL,
	[Roll6PN] [varchar](50) NULL,
	[Roll6Manufacturer] [varchar](50) NULL,
	[Roll6LotNo] [varchar](35) NULL,
	[Roll6ExpDate] [datetime] NULL,
	[PosAirPressureStart] [float] NULL,
	[PosAirPressure2ndReading] [float] NULL,
	[AirCleanliness] [float] NULL,
	[TempStart] [float] NULL,
	[TempMin] [float] NULL,
	[TempMax] [float] NULL,
	[HumidityStart] [float] NULL,
	[HumidityMin] [float] NULL,
	[HumidityMax] [float] NULL,
	[LowerLeftUpperRightLaser1] [varchar](50) NULL,
	[UpperLeftLowerRightLaser1] [varchar](50) NULL,
	[LowerLeftUpperRightKnife1] [varchar](50) NULL,
	[UpperLeftLowerRightKnife1] [varchar](50) NULL,
	[LowerLeftUpperRightLaser2] [varchar](50) NULL,
	[UpperLeftLowerRightLaser2] [varchar](50) NULL,
	[LowerLeftUpperRightKnife2] [varchar](50) NULL,
	[UpperLeftLowerRightKnife2] [varchar](50) NULL,
	[KitWeight] [float] NULL,
	[FinalInspection] [varchar](50) NULL,
	[RejectedMaterialNotes] [varchar](150) NULL,
 CONSTRAINT [PK_CCISparAssemblyCutSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
