USE [W005]
GO
/****** Object:  Table [dbo].[CCIManufacturingGroup]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIManufacturingGroup](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ProgramId] [int] NULL,
	[Name] [varchar](75) NOT NULL,
	[Revision] [varchar](3) NULL,
	[CustomerRevision] [varchar](5) NULL,
	[MFGMethod] [varchar](50) NOT NULL,
	[FixedQty] [int] NOT NULL,
	[DefaultMFGGroup] [bit] NOT NULL,
	[ConveyorTablesOnly] [bit] NOT NULL,
	[SetRunTimeMinutes] [float] NOT NULL,
	[CutFileReleasePath] [varchar](255) NULL,
	[DimSheetReleasePath] [varchar](255) NULL,
	[IQSMfgWorkInstructionDoc] [varchar](100) NULL,
	[IQSMfgWorkInstructionDoc2] [varchar](100) NULL,
	[IQSPlyListWorkInstructionDoc] [varchar](100) NULL,
	[RevisionApproved] [bit] NOT NULL,
	[RevisionApprovedBy] [varchar](25) NULL,
	[RevisionComments] [varchar](max) NULL,
	[RevisionValidated] [bit] NOT NULL,
	[RevisionValidatedBy] [varchar](25) NULL,
	[AllowVariableKitList] [bit] NOT NULL,
	[RequireCutFileSeqNoProcessing] [bit] NOT NULL,
	[IsMultiUOM] [bit] NOT NULL,
 CONSTRAINT [PK_CCICutList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingMethod_FixedQty]  DEFAULT ((0)) FOR [FixedQty]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingMethod_MFGGroupDefault]  DEFAULT ((0)) FOR [DefaultMFGGroup]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_ConveyorTablesOnly]  DEFAULT ((0)) FOR [ConveyorTablesOnly]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_SetRunTimeMinutes]  DEFAULT ((0)) FOR [SetRunTimeMinutes]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_RevisionApproved]  DEFAULT ((0)) FOR [RevisionApproved]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_RevisionValidated]  DEFAULT ((0)) FOR [RevisionValidated]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_AllowVariableKitList]  DEFAULT ((0)) FOR [AllowVariableKitList]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_RequireCutFileSeqNoProcessing]  DEFAULT ((0)) FOR [RequireCutFileSeqNoProcessing]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] ADD  CONSTRAINT [DF_CCIManufacturingGroup_IsMultiUOM_1]  DEFAULT ((0)) FOR [IsMultiUOM]
GO
ALTER TABLE [dbo].[CCIManufacturingGroup]  WITH CHECK ADD  CONSTRAINT [FK_CCIManufacturingGroup_CCIMFGMethod] FOREIGN KEY([MFGMethod])
REFERENCES [dbo].[CCIMFGMethod] ([Name])
GO
ALTER TABLE [dbo].[CCIManufacturingGroup] CHECK CONSTRAINT [FK_CCIManufacturingGroup_CCIMFGMethod]
GO
