USE [W005]
GO
/****** Object:  Table [dbo].[ItemBinLoc]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBinLoc](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[Lotnum] [varchar](16) NULL,
	[Sernum] [varchar](35) NULL,
	[ExtLocA] [int] NULL,
	[ExtLocAID] [varchar](10) NULL,
	[TransDate] [datetime] NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[UID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ItemBinLoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ItemBinLoc]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemBinLoc] ON [dbo].[ItemBinLoc]
(
	[ItemId] ASC,
	[LocId] ASC,
	[Lotnum] ASC,
	[Sernum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
