USE [W005]
GO
/****** Object:  Table [dbo].[CCIDimTool]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIDimTool](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Site] [varchar](3) NOT NULL,
	[ToolName] [varchar](50) NULL,
	[GoNoGo] [bit] NOT NULL,
 CONSTRAINT [PK_CCIDimTool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIDimTool]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIDimTool] ON [dbo].[CCIDimTool]
(
	[Site] ASC,
	[ToolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIDimTool] ADD  CONSTRAINT [DF_CCIDimTool_GoNoGo]  DEFAULT ((0)) FOR [GoNoGo]
GO
