USE [W005]
GO
/****** Object:  Table [dbo].[tblInQtyOnHandNunezCost]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInQtyOnHandNunezCost](
	[SeqNum] [int] NOT NULL,
	[EntryDate] [datetime] NULL,
	[EntryID] [int] NULL,
	[ItemId] [char](24) NULL,
	[LocId] [char](10) NULL,
	[LotNum] [char](16) NULL,
	[Source] [tinyint] NULL,
	[Qty] [dbo].[pDec] NULL,
	[Cost] [dbo].[pDec] NULL,
	[InvoicedQty] [dbo].[pDec] NULL,
	[RcptLink] [int] NULL,
	[RemoveQty] [dbo].[pDec] NULL,
	[LinkID] [char](8) NULL,
	[LinkIDSub] [char](8) NULL,
	[LinkIDSubLine] [int] NULL,
	[WIMaterialDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WIMaterialIndirectUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostVariable] [decimal](20, 10) NOT NULL,
	[WISubcontractUnitCost] [decimal](20, 10) NOT NULL,
	[InsertUpdate] [varchar](1) NULL,
 CONSTRAINT [PK_tblInQtyOnHand] PRIMARY KEY CLUSTERED 
(
	[SeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblInQtyOnHandNunezCost]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_tblInQtyOnHandNunezCost] ON [dbo].[tblInQtyOnHandNunezCost]
(
	[ItemId] ASC,
	[LotNum] ASC,
	[LocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
