USE [W005]
GO
/****** Object:  Table [dbo].[CCICutFileKit]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCICutFileKit](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CCICutFileId] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[PctOfCutFile] [float] NOT NULL,
 CONSTRAINT [PK_CCICutFileKit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CCICutFileKitCCICutFileId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCICutFileKitCCICutFileId] ON [dbo].[CCICutFileKit]
(
	[CCICutFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCICutFileKitItemId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCICutFileKitItemId] ON [dbo].[CCICutFileKit]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCICutFileKit] ADD  CONSTRAINT [DF_CCICutFileKit_PctOfCutFile]  DEFAULT ((0)) FOR [PctOfCutFile]
GO
ALTER TABLE [dbo].[CCICutFileKit]  WITH CHECK ADD  CONSTRAINT [FK_CCICutFileKit_CCICutFile] FOREIGN KEY([CCICutFileId])
REFERENCES [dbo].[CCICutFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCICutFileKit] CHECK CONSTRAINT [FK_CCICutFileKit_CCICutFile]
GO
