USE [W005]
GO
/****** Object:  Table [dbo].[CCIKitRawMatl]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIKitRawMatl](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[MFGMethod] [varchar](50) NOT NULL,
	[MfgMethodGrouping] [varchar](300) NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[SerialNo] [varchar](16) NULL,
	[LotNo] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_CCIKitRawMatl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIKitRawMatl]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIKitRawMatl] ON [dbo].[CCIKitRawMatl]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC,
	[MFGMethod] ASC,
	[MfgMethodGrouping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIKitRawMatl] ADD  CONSTRAINT [DF_Table_1_QtyConsumed]  DEFAULT ((0)) FOR [Qty]
GO
