USE [W005]
GO
/****** Object:  Table [dbo].[CCIKitBagDetail]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIKitBagDetail](
	[CCIKitBagId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
 CONSTRAINT [PK_CCIKitBagDetail] PRIMARY KEY CLUSTERED 
(
	[CCIKitBagId] ASC,
	[OrderReleaseEventItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIKitBagDetail]  WITH CHECK ADD  CONSTRAINT [FK_CCIKitBagDetail_CCIKitBag] FOREIGN KEY([CCIKitBagId])
REFERENCES [dbo].[CCIKitBag] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIKitBagDetail] CHECK CONSTRAINT [FK_CCIKitBagDetail_CCIKitBag]
GO
