USE [W005]
GO
/****** Object:  Table [dbo].[CheckListHeader]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckListHeader](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[Frequency] [varchar](20) NOT NULL,
	[Event] [varchar](30) NOT NULL,
	[Obsolete] [bit] NOT NULL,
 CONSTRAINT [PK_CheckListHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckListHeader] ADD  CONSTRAINT [DF_CheckListHeader_Obsolete_1]  DEFAULT ((0)) FOR [Obsolete]
GO
