USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventLabor]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventLabor](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[Operation] [varchar](10) NOT NULL,
	[ClockInEvent] [varchar](25) NOT NULL,
	[ClockOutEvent] [varchar](25) NULL,
	[UserId] [varchar](25) NOT NULL,
	[EmployeeId] [varchar](25) NOT NULL,
	[ClockIn] [datetime] NULL,
	[ClockOut] [datetime] NULL,
	[ClockInDurationMin] [float] NULL,
 CONSTRAINT [PK_OrderReleaseEventLabor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseEventLabor]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventLabor] ON [dbo].[OrderReleaseEventLabor]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC,
	[Operation] ASC,
	[ClockInEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderReleaseEventLabor_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReleaseEventLabor_1] ON [dbo].[OrderReleaseEventLabor]
(
	[EmployeeId] ASC,
	[ClockOut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventLabor] ADD  CONSTRAINT [DF_OrderReleaseEventLabor_ClockInDurationMin]  DEFAULT ((0)) FOR [ClockInDurationMin]
GO
ALTER TABLE [dbo].[OrderReleaseEventLabor]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventLabor_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventLabor] CHECK CONSTRAINT [FK_OrderReleaseEventLabor_OrderReleaseEvent]
GO
