USE [W005]
GO
/****** Object:  Table [dbo].[ShipGroup]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipGroup](
	[ShipGroupId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Shipped] [bit] NOT NULL,
	[ShipDate] [datetime] NULL,
	[OrderNos] [varchar](300) NULL,
	[ShipToId] [varchar](10) NULL,
	[ShipToLocId] [varchar](10) NULL,
	[ShipMethod] [varchar](20) NULL,
	[CustPOs] [varchar](400) NULL,
	[PRONo] [varchar](50) NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[NumUnits] [int] NULL,
	[BOLNote] [varchar](1000) NULL,
	[BOLSpecialInstruction] [varchar](1000) NULL,
	[TruckNo] [varchar](30) NULL,
	[Descr] [varchar](50) NULL,
 CONSTRAINT [PK_ShipGroup] PRIMARY KEY CLUSTERED 
(
	[ShipGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipGroup] ADD  CONSTRAINT [DF_ShipGroup_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
