USE [W005]
GO
/****** Object:  Table [dbo].[SW_TestGage]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SW_TestGage](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GageId] [varchar](25) NOT NULL,
	[GageName] [varchar](50) NULL,
	[SiteId] [varchar](3) NULL,
	[SiteName] [varchar](3) NULL,
	[SerialNo] [varchar](50) NULL,
 CONSTRAINT [PK_SW_Gages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
