USE [W005]
GO
/****** Object:  Table [dbo].[QuoteOperation]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteOperation](
	[QuoteOperationNum] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QuoteAssemblyNum] [int] NULL,
	[OperationId] [varchar](10) NULL,
	[OperationDescr] [varchar](255) NULL,
	[MachineRate] [decimal](20, 10) NOT NULL,
	[LaborRate] [decimal](20, 10) NOT NULL,
	[MachSetupTime] [decimal](20, 10) NOT NULL,
	[MachRunTime] [decimal](20, 10) NOT NULL,
	[LaborSetupTime] [decimal](20, 10) NOT NULL,
	[LaborRunTime] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_QuoteOperation] PRIMARY KEY CLUSTERED 
(
	[QuoteOperationNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_MachineRate]  DEFAULT ((0)) FOR [MachineRate]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_LaborRate]  DEFAULT ((0)) FOR [LaborRate]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_MachSetupTime]  DEFAULT ((0)) FOR [MachSetupTime]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_MachRunTime]  DEFAULT ((0)) FOR [MachRunTime]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_LaborSetupTime]  DEFAULT ((0)) FOR [LaborSetupTime]
GO
ALTER TABLE [dbo].[QuoteOperation] ADD  CONSTRAINT [DF_QuoteOperation_LaborRunTime]  DEFAULT ((0)) FOR [LaborRunTime]
GO
ALTER TABLE [dbo].[QuoteOperation]  WITH CHECK ADD  CONSTRAINT [FK_QuoteOperation_QuoteAssembly] FOREIGN KEY([QuoteAssemblyNum])
REFERENCES [dbo].[QuoteAssembly] ([QuoteAssemblyNum])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteOperation] CHECK CONSTRAINT [FK_QuoteOperation_QuoteAssembly]
GO
