USE [W005]
GO
/****** Object:  Table [dbo].[EXTRCERTdatanine]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTRCERTdatanine](
	[ColorName] [varchar](10) NULL,
	[LotNum] [varchar](16) NULL,
	[Width] [decimal](20, 10) NULL,
	[Thickness] [decimal](20, 10) NULL,
	[Denier] [int] NULL,
	[Tensile] [decimal](20, 10) NULL,
	[Elongation] [decimal](20, 10) NULL,
	[Shrinkback] [decimal](20, 10) NULL,
	[TEA] [decimal](20, 10) NULL,
	[Munsell] [varchar](50) NULL
) ON [PRIMARY]
GO
