USE [W005]
GO
/****** Object:  Table [dbo].[DowntimeLookupEditCode]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowntimeLookupEditCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DowntimeGroup] [varchar](25) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[GermanDowntimeGroup] [varchar](50) NULL,
	[GermanDescription] [varchar](75) NULL,
	[RequireCount] [bit] NOT NULL,
	[CountList] [varchar](200) NULL,
	[RequireOrderandRel] [bit] NOT NULL,
	[ForceNewOrderandRel] [bit] NOT NULL,
	[MaterialRelated] [bit] NOT NULL,
 CONSTRAINT [PK_Downtime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DowntimeLookupEditCode] ADD  CONSTRAINT [DF_DowntimeLookupEditCode_RequireCount_1]  DEFAULT ((0)) FOR [RequireCount]
GO
ALTER TABLE [dbo].[DowntimeLookupEditCode] ADD  CONSTRAINT [DF_DowntimeLookupEditCode_RequireWOandOPID]  DEFAULT ((0)) FOR [RequireOrderandRel]
GO
ALTER TABLE [dbo].[DowntimeLookupEditCode] ADD  CONSTRAINT [DF_DowntimeLookupEditCode_ForceNewWOandOPID_1]  DEFAULT ((0)) FOR [ForceNewOrderandRel]
GO
ALTER TABLE [dbo].[DowntimeLookupEditCode] ADD  CONSTRAINT [DF_DowntimeLookupEditCode_MaterialRelated]  DEFAULT ((0)) FOR [MaterialRelated]
GO
