USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventItemOutTime]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventItemOutTime](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[ProgramId] [int] NULL,
	[LastScanDateTime] [datetime] NOT NULL,
	[ThawCompletedDT] [datetime] NULL,
	[TotalRoomMinutes] [int] NOT NULL,
	[TotalFreezerMinutes] [int] NOT NULL,
	[TotalReeferMinutes] [int] NOT NULL,
	[MaxRoomDTReached] [datetime] NULL,
	[MaxFreezerDTReached] [datetime] NULL,
	[MaxReeferDTReached] [datetime] NULL,
	[WmBinId] [int] NULL,
 CONSTRAINT [PK_OrderReleaseEventItemOutTimeStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime] ADD  CONSTRAINT [DF_OrderReleaseEventItemOutTimeStatus_TotalRoomMinutes]  DEFAULT ((0)) FOR [TotalRoomMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime] ADD  CONSTRAINT [DF_OrderReleaseEventItemOutTimeStatus_TotalFreezerMinutes]  DEFAULT ((0)) FOR [TotalFreezerMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime] ADD  CONSTRAINT [DF_OrderReleaseEventItemOutTimeStatus_TotalReeferMinutes]  DEFAULT ((0)) FOR [TotalReeferMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventItemOutTime_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime] CHECK CONSTRAINT [FK_OrderReleaseEventItemOutTime_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventItemOutTime_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventItemOutTime] CHECK CONSTRAINT [FK_OrderReleaseEventItemOutTime_OrderReleaseEventItem]
GO
