USE [W005]
GO
/****** Object:  Table [dbo].[ShipCarton]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipCarton](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipCartonNo] [varchar](10) NOT NULL,
	[GrossWt] [decimal](20, 10) NOT NULL,
	[TareWt] [decimal](20, 2) NOT NULL,
	[ShipPalletId] [int] NULL,
	[Complete] [bit] NOT NULL,
	[ReadyToPost] [bit] NOT NULL,
	[IsPacked] [bit] NOT NULL,
	[Shipped] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[UsedByProduction] [bit] NOT NULL,
	[PhantomAdjOut] [bit] NOT NULL,
	[NotForShipment] [bit] NOT NULL,
	[IssuedToProdOrderNo] [varchar](8) NULL,
	[DateCreated] [datetime] NULL,
	[DateShipped] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[DateIssued] [datetime] NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[CartonItemId] [varchar](24) NULL,
	[DryIceDateTime] [datetime] NULL,
	[CustomShipCartonNo] [varchar](20) NULL,
	[CartonKitId] [varchar](10) NULL,
 CONSTRAINT [PK_ShipCarton] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShipCarton]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ShipCarton] ON [dbo].[ShipCarton]
(
	[ShipCartonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipPalletId]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShipPalletId] ON [dbo].[ShipCarton]
(
	[ShipPalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_GrossWt]  DEFAULT ((0)) FOR [GrossWt]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_TareWt]  DEFAULT ((0)) FOR [TareWt]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_ReadyToPost]  DEFAULT ((0)) FOR [ReadyToPost]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_IsPacked]  DEFAULT ((0)) FOR [IsPacked]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_UsedByProduction]  DEFAULT ((0)) FOR [UsedByProduction]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_PhantomAdjOut]  DEFAULT ((0)) FOR [PhantomAdjOut]
GO
ALTER TABLE [dbo].[ShipCarton] ADD  CONSTRAINT [DF_ShipCarton_NotForShipment]  DEFAULT ((0)) FOR [NotForShipment]
GO
ALTER TABLE [dbo].[ShipCarton]  WITH CHECK ADD  CONSTRAINT [FK_ShipCarton_ShipPallet] FOREIGN KEY([ShipPalletId])
REFERENCES [dbo].[ShipPallet] ([Id])
GO
ALTER TABLE [dbo].[ShipCarton] CHECK CONSTRAINT [FK_ShipCarton_ShipPallet]
GO
