USE [W005]
GO
/****** Object:  Table [dbo].[HWMBMaterialRequests]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HWMBMaterialRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [varchar](24) NULL,
	[BatchNumber] [varchar](25) NULL,
	[RollNumber] [varchar](25) NULL,
	[Bin] [varchar](25) NULL,
	[PO] [varchar](25) NULL,
	[IsMoveFromFreezer] [bit] NOT NULL,
	[RequestedMoveToFromFreezer] [datetime] NULL,
	[MovetoFreezerDeliveredtoAisle] [bit] NOT NULL,
	[MovetoFreezerDeliveredtoAisleDateTime] [datetime] NULL,
	[MovefromFreezerDeliveredtoAisle] [bit] NOT NULL,
	[MovefromFreezerDeliveredtoAisleDateTime] [datetime] NULL,
	[MaterialReceived] [bit] NOT NULL,
	[MaterialReceivedDatetime] [datetime] NULL,
	[QNON] [bit] NOT NULL,
	[Samples] [bit] NOT NULL,
	[Scheduled] [bit] NOT NULL,
	[Comments] [varchar](1000) NULL,
	[IsRework] [bit] NOT NULL,
	[MfgDateOverride] [datetime] NULL,
	[Qty] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_HWMBMaterialRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_IsMoveFromFreezer]  DEFAULT ((0)) FOR [IsMoveFromFreezer]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_MovetoFreezer]  DEFAULT ((0)) FOR [MovetoFreezerDeliveredtoAisle]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_MovefromFreezer]  DEFAULT ((0)) FOR [MovefromFreezerDeliveredtoAisle]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_MaterialReceived]  DEFAULT ((0)) FOR [MaterialReceived]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_QNON]  DEFAULT ((0)) FOR [QNON]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_Samples]  DEFAULT ((0)) FOR [Samples]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_Scheduled]  DEFAULT ((0)) FOR [Scheduled]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_IsRework]  DEFAULT ((0)) FOR [IsRework]
GO
ALTER TABLE [dbo].[HWMBMaterialRequests] ADD  CONSTRAINT [DF_HWMBMaterialRequests_Qty]  DEFAULT ((0)) FOR [Qty]
GO
