USE [W005]
GO
/****** Object:  Table [dbo].[PolyLinerUsage]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolyLinerUsage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[CompositeSpoolLength] [int] NULL,
	[BarCodeScanCut] [varchar](20) NULL,
	[BarCodeScanPolyLinerSpool] [varchar](200) NULL,
	[MachineCutNo] [int] NULL,
	[PolyLinerItemId] [varchar](24) NULL,
	[PolyLinerPartDescription] [varchar](100) NULL,
	[PolyLinerRollWidth] [float] NULL,
	[PolyLinerSlitDate] [datetime] NULL,
	[PolyLinerLinearFeet] [int] NULL,
	[PolyLinerBatchNumber] [varchar](12) NULL,
	[PolyLinerCutNo] [varchar](3) NULL,
	[ScanDateTime] [datetime] NULL,
	[ErrorMsg] [varchar](150) NULL,
	[UserStamp] [varchar](5) NULL,
	[Thickness] [float] NULL,
	[IsSplice] [bit] NOT NULL,
	[MachineName] [varchar](10) NULL,
 CONSTRAINT [PK_PolyLinerUsage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PolyLinerUsage]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_PolyLinerUsage] ON [dbo].[PolyLinerUsage]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolyLinerUsage_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_PolyLinerUsage_1] ON [dbo].[PolyLinerUsage]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolyLinerUsage] ADD  CONSTRAINT [DF_PolyLinerUsage_IsSplice]  DEFAULT ((0)) FOR [IsSplice]
GO
