USE [W005]
GO
/****** Object:  Table [dbo].[CCItmpParentOrder]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCItmpParentOrder](
	[UserID] [varchar](25) NOT NULL,
	[ParentOrder] [varchar](8) NOT NULL,
	[LocId] [varchar](10) NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[ParentOrderDuration] [float] NOT NULL,
	[SalesOrder] [nvarchar](max) NULL,
	[PurchaseOrder] [nvarchar](max) NULL,
	[ProdOrders] [nvarchar](max) NULL,
	[Kits] [nvarchar](max) NULL,
	[RAWMaterial] [nvarchar](max) NULL,
	[Program] [nvarchar](100) NULL,
	[MfgStartDate] [datetime] NULL,
	[MfgEndDate] [datetime] NULL,
	[InProcess] [bit] NOT NULL,
	[Scheduled] [bit] NOT NULL,
	[MfgCompleted] [bit] NOT NULL,
	[IsPostedToTraverse] [bit] NOT NULL,
	[RequiredShipDate] [datetime] NULL,
	[CustId] [varchar](10) NULL,
	[Qty] [decimal](20, 10) NULL,
	[UOM] [varchar](5) NOT NULL,
	[MFGGroup] [varchar](75) NOT NULL,
	[MFGRevision] [varchar](3) NULL,
	[MFGMethod] [varchar](50) NOT NULL,
	[FixedQty] [int] NOT NULL,
	[RevisionValidated] [bit] NOT NULL,
	[OrderDuration] [float] NOT NULL,
	[ScheduledOnMachines] [varchar](100) NULL,
	[OrderStatus] [varchar](25) NULL,
	[ReadytoSchedule] [bit] NOT NULL,
	[ApprovedBy] [varchar](25) NULL,
	[ApprovedByFullName] [nvarchar](36) NULL,
	[InFabricOptimizerQueue] [bit] NULL,
	[SentToFabricOptimizer] [bit] NULL,
	[BuildingFOCutListError] [bit] NULL,
	[FOCutListErrorMessage] [varchar](1000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCItmpParentOrder]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCItmpParentOrder] ON [dbo].[CCItmpParentOrder]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCItmpParentOrder_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCItmpParentOrder_1] ON [dbo].[CCItmpParentOrder]
(
	[UserID] ASC,
	[LocId] ASC,
	[Scheduled] ASC,
	[MfgCompleted] ASC,
	[ReadytoSchedule] ASC,
	[InFabricOptimizerQueue] ASC,
	[SentToFabricOptimizer] ASC,
	[BuildingFOCutListError] ASC
)
INCLUDE([ApprovedBy],[ApprovedByFullName],[CustId],[FixedQty],[FOCutListErrorMessage],[InProcess],[IsPostedToTraverse],[Kits],[MfgEndDate],[MFGGroup],[MFGMethod],[MFGRevision],[MfgStartDate],[OrderDuration],[OrderStatus],[ParentOrder],[ParentOrderDuration],[ParentOrderNo],[ProdOrders],[Program],[PurchaseOrder],[Qty],[RAWMaterial],[RequiredShipDate],[RevisionValidated],[SalesOrder],[ScheduledOnMachines],[UOM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCItmpParentOrder] ADD  CONSTRAINT [DF_CCItmpParentOrder_InFabricOptimizerQueue]  DEFAULT ((0)) FOR [InFabricOptimizerQueue]
GO
ALTER TABLE [dbo].[CCItmpParentOrder] ADD  CONSTRAINT [DF_CCItmpParentOrder_SentToFabricOptimizer]  DEFAULT ((0)) FOR [SentToFabricOptimizer]
GO
ALTER TABLE [dbo].[CCItmpParentOrder] ADD  CONSTRAINT [DF_CCItmpParentOrder_BuildingFOCutListError]  DEFAULT ((0)) FOR [BuildingFOCutListError]
GO
