USE [W005]
GO
/****** Object:  Table [dbo].[MESBusinessRequirementToggle]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESBusinessRequirementToggle](
	[BusReqId] [int] NOT NULL,
	[BusinessRequirement] [nvarchar](100) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_MESBusinessRequirementToggle] PRIMARY KEY CLUSTERED 
(
	[BusReqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MESBusinessRequirementToggle] ADD  CONSTRAINT [DF_MESBusinessRequirementToggle_IsEnabled]  DEFAULT ((0)) FOR [IsEnabled]
GO
