USE [W005]
GO
/****** Object:  Table [dbo].[smSignatureInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smSignatureInfo](
	[Location] [varchar](3) NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[ProfessionalTitle] [varchar](100) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[SignatureOrder] [bit] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LastUpdatedBy] [varchar](25) NULL,
	[FormId] [int] NULL,
 CONSTRAINT [PK_smSignatureInfo_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
