USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseEventWaste]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseEventWaste](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[WasteReasonId] [int] NOT NULL,
	[WasteAmount] [float] NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[OtherReason] [varchar](100) NULL,
 CONSTRAINT [PK_OrderReleaseEventWaste] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste] ADD  CONSTRAINT [DF_Table_1_WasteAmount]  DEFAULT ((0)) FOR [WasteAmount]
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventWaste_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste] CHECK CONSTRAINT [FK_OrderReleaseEventWaste_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventWaste_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste] CHECK CONSTRAINT [FK_OrderReleaseEventWaste_OrderReleaseEventItem]
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseEventWaste_WasteReason] FOREIGN KEY([WasteReasonId])
REFERENCES [dbo].[WasteReason] ([Id])
GO
ALTER TABLE [dbo].[OrderReleaseEventWaste] CHECK CONSTRAINT [FK_OrderReleaseEventWaste_WasteReason]
GO
