USE [W005]
GO
/****** Object:  Table [dbo].[UpdatedExpDates]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdatedExpDates](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RMItemId] [varchar](24) NOT NULL,
	[RMLocId] [varchar](10) NOT NULL,
	[RMSerialNo] [varchar](16) NOT NULL,
	[RMLotNo] [varchar](16) NOT NULL,
	[UpdatedRMExpDate] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [varchar](25) NOT NULL,
	[FGItemId] [varchar](24) NULL,
	[FGTravSerNum] [varchar](35) NULL,
	[UpdatedFGExpDate] [datetime] NULL,
 CONSTRAINT [PK_UpdatedExpDates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
