USE [W005]
GO
/****** Object:  Table [dbo].[ShipPackingListTempRecorder]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipPackingListTempRecorder](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PLNo] [int] NOT NULL,
	[TempRecorderSN] [varchar](35) NOT NULL,
	[PkgId] [varchar](10) NULL,
	[ShipGroupId] [int] NULL,
	[Override] [bit] NULL,
	[UserId] [varchar](25) NULL,
 CONSTRAINT [PK_ShipPackingListTempRecorder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipPackingListTempRecorder]  WITH CHECK ADD  CONSTRAINT [FK_ShipPackingListTempRecorder_ShipPackingList] FOREIGN KEY([PLNo])
REFERENCES [dbo].[ShipPackingList] ([PLNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipPackingListTempRecorder] CHECK CONSTRAINT [FK_ShipPackingListTempRecorder_ShipPackingList]
GO
