USE [W005]
GO
/****** Object:  Table [dbo].[ShipTote]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipTote](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipToteNo] [varchar](10) NOT NULL,
	[ToteItemId] [varchar](24) NULL,
	[ShipBoxId] [int] NULL,
	[ShipCartonId] [int] NULL,
	[ShipPalletId] [int] NULL,
	[IssuedToProdOrderNo] [varchar](8) NULL,
	[GrossWt] [decimal](20, 10) NOT NULL,
	[TareWt] [decimal](20, 2) NOT NULL,
	[Complete] [bit] NOT NULL,
	[ReadyToPost] [bit] NOT NULL,
	[IsPacked] [bit] NOT NULL,
	[Shipped] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[UsedByProduction] [bit] NOT NULL,
	[PhantomAdjOut] [bit] NOT NULL,
	[NotForShipment] [bit] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateShipped] [datetime] NULL,
	[DateDeleted] [datetime] NULL,
	[DateIssued] [datetime] NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[DryIceDateTime] [datetime] NULL,
 CONSTRAINT [PK_ShipTote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_GrossWt]  DEFAULT ((0)) FOR [GrossWt]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_TareWt]  DEFAULT ((0)) FOR [TareWt]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_ReadyToPost]  DEFAULT ((0)) FOR [ReadyToPost]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_IsPacked]  DEFAULT ((0)) FOR [IsPacked]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_UsedByProduction]  DEFAULT ((0)) FOR [UsedByProduction]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_PhantomAdjOut]  DEFAULT ((0)) FOR [PhantomAdjOut]
GO
ALTER TABLE [dbo].[ShipTote] ADD  CONSTRAINT [DF_ShipTote_NotForShipment]  DEFAULT ((0)) FOR [NotForShipment]
GO
ALTER TABLE [dbo].[ShipTote]  WITH CHECK ADD  CONSTRAINT [FK_ShipTote_ShipBox] FOREIGN KEY([ShipBoxId])
REFERENCES [dbo].[ShipBox] ([Id])
GO
ALTER TABLE [dbo].[ShipTote] CHECK CONSTRAINT [FK_ShipTote_ShipBox]
GO
ALTER TABLE [dbo].[ShipTote]  WITH CHECK ADD  CONSTRAINT [FK_ShipTote_ShipCarton] FOREIGN KEY([ShipCartonId])
REFERENCES [dbo].[ShipCarton] ([Id])
GO
ALTER TABLE [dbo].[ShipTote] CHECK CONSTRAINT [FK_ShipTote_ShipCarton]
GO
ALTER TABLE [dbo].[ShipTote]  WITH CHECK ADD  CONSTRAINT [FK_ShipTote_ShipPallet] FOREIGN KEY([ShipPalletId])
REFERENCES [dbo].[ShipPallet] ([Id])
GO
ALTER TABLE [dbo].[ShipTote] CHECK CONSTRAINT [FK_ShipTote_ShipPallet]
GO
