USE [W005]
GO
/****** Object:  Table [dbo].[MachineSpecs]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineSpecs](
	[MachineId] [int] NOT NULL,
	[Spooler] [bit] NOT NULL,
	[NoofRewindHeads] [int] NOT NULL,
	[Offset_UOM] [varchar](2) NULL,
	[MRCountertoSpliceTableOffset] [decimal](18, 2) NOT NULL,
	[SpliceTabletoSlitterOffset] [decimal](18, 2) NOT NULL,
	[SpliceCarttoSlitterOffset] [decimal](18, 2) NOT NULL,
	[RequiresBladeHolderTraceability] [bit] NOT NULL,
	[RequiresBladeShaftTraceability] [bit] NOT NULL,
	[RequiresHeadsonConfiguration] [bit] NOT NULL,
	[FESpliceWaste] [varchar](15) NOT NULL,
	[WasteIncludedinSplicePosCalcs] [bit] NOT NULL,
	[SlitWidth_UOM] [varchar](2) NULL,
 CONSTRAINT [PK_MachineDetail] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_Spooler]  DEFAULT ((0)) FOR [Spooler]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_NoofRewindHead]  DEFAULT ((0)) FOR [NoofRewindHeads]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineDetail_MRCountertoSpliceTableOffset]  DEFAULT ((0)) FOR [MRCountertoSpliceTableOffset]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineDetail_SpliceTabletoSlitterOffset]  DEFAULT ((0)) FOR [SpliceTabletoSlitterOffset]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_SpliceCarttoSlitter]  DEFAULT ((0)) FOR [SpliceCarttoSlitterOffset]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_RequiresBladeHolderTraceability]  DEFAULT ((0)) FOR [RequiresBladeHolderTraceability]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_RequiresBladeShaftTraceability]  DEFAULT ((0)) FOR [RequiresBladeShaftTraceability]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_RequiresHeadsonConfiguration]  DEFAULT ((0)) FOR [RequiresHeadsonConfiguration]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_FESpliceWaste]  DEFAULT ('Spool') FOR [FESpliceWaste]
GO
ALTER TABLE [dbo].[MachineSpecs] ADD  CONSTRAINT [DF_MachineSpecs_WasteIncludedinSplicePosCalcs]  DEFAULT ((0)) FOR [WasteIncludedinSplicePosCalcs]
GO
