USE [W005]
GO
/****** Object:  Table [dbo].[ABCReleaseIdItemId]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABCReleaseIdItemId](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[HistSeqNum] [int] NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[ItemId] [varchar](24) NOT NULL,
	[SerialNo] [varchar](35) NULL,
	[LotNo] [varchar](16) NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[Uom] [varchar](5) NULL,
	[UomBase] [varchar](5) NULL,
	[ConvFactor] [decimal](20, 10) NOT NULL,
	[UnitCostBase] [decimal](20, 10) NOT NULL,
	[WIMaterialDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WIMaterialInDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostVariable] [decimal](20, 10) NOT NULL,
	[WISubcontractUnitCost] [decimal](20, 10) NOT NULL,
	[QtyABC] [decimal](20, 10) NOT NULL,
	[UnitCostABC] [decimal](20, 10) NOT NULL,
	[PctCalcUsed] [bit] NOT NULL,
 CONSTRAINT [PK_ABCByReleaseIdItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ABCReleaseIdItemIdLotNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ABCReleaseIdItemIdLotNo] ON [dbo].[ABCReleaseIdItemId]
(
	[ItemId] ASC,
	[LotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ABCReleaseIdItemIdSerialNo]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_ABCReleaseIdItemIdSerialNo] ON [dbo].[ABCReleaseIdItemId]
(
	[ItemId] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_ABCByReleaseIdItem_HistSeqNum]  DEFAULT ((0)) FOR [HistSeqNum]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_ConvFactor]  DEFAULT ((0)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_UnitCostBase]  DEFAULT ((0)) FOR [UnitCostBase]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost]  DEFAULT ((0)) FOR [WIMaterialDirectUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost1]  DEFAULT ((0)) FOR [WIMaterialInDirectUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost2]  DEFAULT ((0)) FOR [WILaborSetupUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost3]  DEFAULT ((0)) FOR [WILaborUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost4]  DEFAULT ((0)) FOR [WIMachineSetupUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMaterialDirectCost5]  DEFAULT ((0)) FOR [WIMachineUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMachineCost1]  DEFAULT ((0)) FOR [WIMachineUnitCostModified]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WIMachineCost2]  DEFAULT ((0)) FOR [WIMachineUnitCostVariable]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_WISubcontractCost]  DEFAULT ((0)) FOR [WISubcontractUnitCost]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_QtyABC]  DEFAULT ((0)) FOR [QtyABC]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_UnitCostABC]  DEFAULT ((0)) FOR [UnitCostABC]
GO
ALTER TABLE [dbo].[ABCReleaseIdItemId] ADD  CONSTRAINT [DF_tblReleaseIdABC_PctCalcUsed]  DEFAULT ((0)) FOR [PctCalcUsed]
GO
