USE [W005]
GO
/****** Object:  Table [dbo].[CCIPlyCutFileXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIPlyCutFileXRef](
	[CCIPlyId] [int] NOT NULL,
	[CCICutFileId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_CCIPlyCutFileXRef] PRIMARY KEY CLUSTERED 
(
	[CCIPlyId] ASC,
	[CCICutFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIPlyCutFileXRef] ADD  CONSTRAINT [DF_CCIPlyCutFileXRef_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[CCIPlyCutFileXRef]  WITH CHECK ADD  CONSTRAINT [FK_CCIPlyCutFileXRef_CCICutFile] FOREIGN KEY([CCICutFileId])
REFERENCES [dbo].[CCICutFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIPlyCutFileXRef] CHECK CONSTRAINT [FK_CCIPlyCutFileXRef_CCICutFile]
GO
ALTER TABLE [dbo].[CCIPlyCutFileXRef]  WITH CHECK ADD  CONSTRAINT [FK_CCIPlyCutFileXRef_CCIPly] FOREIGN KEY([CCIPlyId])
REFERENCES [dbo].[CCIPly] ([Id])
GO
ALTER TABLE [dbo].[CCIPlyCutFileXRef] CHECK CONSTRAINT [FK_CCIPlyCutFileXRef_CCIPly]
GO
