USE [W005]
GO
/****** Object:  Table [dbo].[ABCAssemblyWorkTable2]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABCAssemblyWorkTable2](
	[HistSeqNum] [int] NOT NULL,
	[HistSeqNum_Rcpt] [int] NOT NULL,
	[ReleaseId] [int] NOT NULL,
	[ItemId] [varchar](24) NULL,
	[LocId] [varchar](10) NULL,
	[LotNum] [varchar](16) NULL,
	[SerNum] [varchar](35) NULL,
	[AppId] [nchar](2) NULL,
	[TransId] [nvarchar](255) NULL,
	[RefId] [nvarchar](15) NULL,
	[SrceID] [nvarchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[Uom] [varchar](5) NULL,
	[UomBase] [varchar](5) NULL,
	[ConvFactor] [decimal](20, 10) NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[CostUnit] [decimal](20, 10) NOT NULL,
	[Source] [tinyint] NOT NULL,
	[InsertUpdate] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
