USE [W005]
GO
/****** Object:  Table [dbo].[CCISupervisorOverrideDTLog]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCISupervisorOverrideDTLog](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[ReasonForOverride] [varchar](max) NOT NULL,
	[Other] [varchar](max) NULL,
	[DateTimeSelected] [datetime] NOT NULL,
	[MoveToType] [varchar](50) NOT NULL,
	[MoveToBin] [varchar](50) NOT NULL,
	[MoveToBinId] [int] NOT NULL,
	[CCIMaterialMovementLogID] [int] NOT NULL,
 CONSTRAINT [PK_CCISupervisorOverrideDTLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCISupervisorOverrideDTLog]  WITH CHECK ADD  CONSTRAINT [FK_CCISupervisorOverrideDTLog_CCISupervisorOverrideDTLog] FOREIGN KEY([CCIMaterialMovementLogID])
REFERENCES [dbo].[CCIMaterialMovementLog] ([Id])
GO
ALTER TABLE [dbo].[CCISupervisorOverrideDTLog] CHECK CONSTRAINT [FK_CCISupervisorOverrideDTLog_CCISupervisorOverrideDTLog]
GO
