USE [W005]
GO
/****** Object:  Table [dbo].[CustCharLookUpXRef]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustCharLookUpXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CharId] [int] NULL,
	[CharLookUpId] [int] NULL,
 CONSTRAINT [PK_CustCharLookUpXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustCharLookUpXRef]  WITH CHECK ADD  CONSTRAINT [FK_CustCharLookUpXRef_CustCharLookUp] FOREIGN KEY([CharLookUpId])
REFERENCES [dbo].[CustCharLookUp] ([Id])
GO
ALTER TABLE [dbo].[CustCharLookUpXRef] CHECK CONSTRAINT [FK_CustCharLookUpXRef_CustCharLookUp]
GO
ALTER TABLE [dbo].[CustCharLookUpXRef]  WITH CHECK ADD  CONSTRAINT [FK_CustCharLookUpXRef_CustomerCharacteristic] FOREIGN KEY([CharId])
REFERENCES [dbo].[CustomerCharacteristic] ([Id])
GO
ALTER TABLE [dbo].[CustCharLookUpXRef] CHECK CONSTRAINT [FK_CustCharLookUpXRef_CustomerCharacteristic]
GO
