USE [W005]
GO
/****** Object:  Table [dbo].[CCIRecutClosedOrder]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIRecutClosedOrder](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[ReAssociateRMsOnly] [bit] NOT NULL,
	[ReCutDateTime] [datetime] NOT NULL,
	[FGOrderReleaseEventItemId] [int] NOT NULL,
	[CCIPlyStackHeaderId] [int] NULL,
 CONSTRAINT [PK_CCIRecutClosedOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIRecutClosedOrder]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIRecutClosedOrder] ON [dbo].[CCIRecutClosedOrder]
(
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIRecutClosedOrder] ADD  CONSTRAINT [DF_CCIRecutClosedOrder_ReassociateRMsOnly]  DEFAULT ((0)) FOR [ReAssociateRMsOnly]
GO
