USE [W005]
GO
/****** Object:  Table [dbo].[SW_SPCData]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SW_SPCData](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ResetDateTime] [datetime] NULL,
	[MachineNum] [int] NULL,
	[MaterialType] [varchar](20) NULL,
	[SlitWidth] [decimal](20, 10) NULL,
	[OverallSPC] [decimal](20, 10) NULL,
 CONSTRAINT [PK_SW_SPCData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
