USE [W005]
GO
/****** Object:  Table [dbo].[DowntimeReasonAddl]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowntimeReasonAddl](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DownTimeReasonId] [int] NOT NULL,
	[DowntimeReasonAddl] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DowntimeReasonAddl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DowntimeReasonAddl]  WITH CHECK ADD  CONSTRAINT [FK_DowntimeReasonAddl_DowntimeReason] FOREIGN KEY([DownTimeReasonId])
REFERENCES [dbo].[DowntimeReason] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DowntimeReasonAddl] CHECK CONSTRAINT [FK_DowntimeReasonAddl_DowntimeReason]
GO
