USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseSummaryLabor]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseSummaryLabor](
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[OperationStep] [int] NOT NULL,
	[EmployeeId] [varchar](25) NOT NULL,
	[Operation] [varchar](10) NOT NULL,
	[OperationDescr] [varchar](255) NULL,
	[EmployeeName] [varchar](75) NULL,
	[LaborMinutes] [float] NOT NULL,
	[LaborHours] [float] NOT NULL,
	[SetupMinutes] [float] NOT NULL,
	[SetupHours] [float] NOT NULL,
	[AdjustmentMinutes] [float] NOT NULL,
	[AdjustmentHours] [float] NOT NULL,
	[SetupAdjustmentMinutes] [float] NOT NULL,
	[SetupAdjustmentHours] [float] NOT NULL,
	[TotalLaborMinutes] [float] NOT NULL,
	[TotalLaborHours] [float] NOT NULL,
 CONSTRAINT [PK_OrderReleaseSummaryLabor] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ReleaseNo] ASC,
	[OperationStep] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_OperationStep]  DEFAULT ((0)) FOR [OperationStep]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_Table_1_TotalLaborMin]  DEFAULT ((0)) FOR [LaborMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_TotalLaborHours]  DEFAULT ((0)) FOR [LaborHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_SetupMinutes]  DEFAULT ((0)) FOR [SetupMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_SetupHours]  DEFAULT ((0)) FOR [SetupHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_AdjustmentMinutes]  DEFAULT ((0)) FOR [AdjustmentMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_AdjustmentHours]  DEFAULT ((0)) FOR [AdjustmentHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_SetupAdjustmentMinutes]  DEFAULT ((0)) FOR [SetupAdjustmentMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_SetupAdjustmentHours]  DEFAULT ((0)) FOR [SetupAdjustmentHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_LaborMinutes1]  DEFAULT ((0)) FOR [TotalLaborMinutes]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_OrderReleaseSummaryLabor_LaborHours1]  DEFAULT ((0)) FOR [TotalLaborHours]
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseSummaryLabor_OrderReleaseSummary] FOREIGN KEY([OrderNo], [ReleaseNo])
REFERENCES [dbo].[OrderReleaseSummary] ([OrderNo], [ReleaseNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseSummaryLabor] CHECK CONSTRAINT [FK_OrderReleaseSummaryLabor_OrderReleaseSummary]
GO
