USE [W005]
GO
/****** Object:  Table [dbo].[CCIPlyStackHeader]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIPlyStackHeader](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderReleaseEventId] [int] NOT NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[BagNum] [varchar](24) NOT NULL,
	[StackedDateTime] [datetime] NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[IsPartialKit] [bit] NOT NULL,
 CONSTRAINT [PK_CCIPlyStackHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIPlyStackHeader] ADD  CONSTRAINT [DF_CCIPlyStackHeader_IsPartialKit]  DEFAULT ((0)) FOR [IsPartialKit]
GO
ALTER TABLE [dbo].[CCIPlyStackHeader]  WITH CHECK ADD  CONSTRAINT [FK_CCIPlyStackHeader_OrderReleaseEvent] FOREIGN KEY([OrderReleaseEventId])
REFERENCES [dbo].[OrderReleaseEvent] ([Id])
GO
ALTER TABLE [dbo].[CCIPlyStackHeader] CHECK CONSTRAINT [FK_CCIPlyStackHeader_OrderReleaseEvent]
GO
ALTER TABLE [dbo].[CCIPlyStackHeader]  WITH CHECK ADD  CONSTRAINT [FK_CCIPlyStackHeader_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
GO
ALTER TABLE [dbo].[CCIPlyStackHeader] CHECK CONSTRAINT [FK_CCIPlyStackHeader_OrderReleaseEventItem]
GO
