USE [W005]
GO
/****** Object:  Table [dbo].[ABCReleaseId]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABCReleaseId](
	[ReleaseId] [int] NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[ItemId] [varchar](24) NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[Uom] [varchar](5) NULL,
	[UomBase] [varchar](5) NULL,
	[ConvFactor] [decimal](20, 10) NOT NULL,
	[UnitCostBase] [decimal](20, 10) NOT NULL,
	[WIMaterialDirectCost] [decimal](20, 10) NOT NULL,
	[WIMaterialDirectCostPct] [float] NOT NULL,
	[WIMaterialInDirectCost] [decimal](20, 10) NOT NULL,
	[WIMaterialInDirectCostPct] [float] NOT NULL,
	[WILaborSetupCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupCostPct] [float] NOT NULL,
	[WILaborCost] [decimal](20, 10) NOT NULL,
	[WILaborCostPct] [float] NOT NULL,
	[WIMachineSetupCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupCostPct] [float] NOT NULL,
	[WIMachineCost] [decimal](20, 10) NOT NULL,
	[WIMachineCostPct] [float] NOT NULL,
	[WIMachineCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineCostModifiedPct] [float] NOT NULL,
	[WIMachineCostVariable] [decimal](20, 10) NOT NULL,
	[WIMachineCostVariablePct] [float] NOT NULL,
	[WISubcontractCost] [decimal](20, 10) NOT NULL,
	[WISubcontractCostPct] [float] NOT NULL,
	[WILaborSetupHours] [float] NOT NULL,
	[WILaborpHours] [float] NOT NULL,
	[WIMachineSetupHours] [float] NOT NULL,
	[WIMachineHours] [float] NOT NULL,
	[QtyABC] [decimal](20, 10) NOT NULL,
	[UnitCostABC] [decimal](20, 10) NOT NULL,
	[TotalCost] [decimal](20, 10) NOT NULL,
	[ABCRunDate] [datetime] NOT NULL,
	[DuplicateReleaseIdFound] [bit] NOT NULL,
 CONSTRAINT [PK_ABCByReleaseId_1] PRIMARY KEY CLUSTERED 
(
	[ReleaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_ConvFactor]  DEFAULT ((0)) FOR [ConvFactor]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_UnitCostBase]  DEFAULT ((0)) FOR [UnitCostBase]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost]  DEFAULT ((0)) FOR [WIMaterialDirectCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCostPct]  DEFAULT ((0)) FOR [WIMaterialDirectCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost1]  DEFAULT ((0)) FOR [WIMaterialInDirectCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost1Pct]  DEFAULT ((0)) FOR [WIMaterialInDirectCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost2]  DEFAULT ((0)) FOR [WILaborSetupCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost2Pct]  DEFAULT ((0)) FOR [WILaborSetupCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost3]  DEFAULT ((0)) FOR [WILaborCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost3Pct]  DEFAULT ((0)) FOR [WILaborCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost4]  DEFAULT ((0)) FOR [WIMachineSetupCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost4Pct]  DEFAULT ((0)) FOR [WIMachineSetupCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost5]  DEFAULT ((0)) FOR [WIMachineCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMaterialDirectCost5Pct]  DEFAULT ((0)) FOR [WIMachineCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMachineCost1]  DEFAULT ((0)) FOR [WIMachineCostModified]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMachineCost1Pct]  DEFAULT ((0)) FOR [WIMachineCostModifiedPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMachineCost2]  DEFAULT ((0)) FOR [WIMachineCostVariable]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WIMachineCost2Pct]  DEFAULT ((0)) FOR [WIMachineCostVariablePct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WISubcontractCost]  DEFAULT ((0)) FOR [WISubcontractCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_WISubcontractCostPct]  DEFAULT ((0)) FOR [WISubcontractCostPct]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_QtyABC]  DEFAULT ((0)) FOR [QtyABC]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_UnitCostABC]  DEFAULT ((0)) FOR [UnitCostABC]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_TotalCost]  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_ABCRunDate]  DEFAULT (CONVERT([date],getdate(),(0))) FOR [ABCRunDate]
GO
ALTER TABLE [dbo].[ABCReleaseId] ADD  CONSTRAINT [DF_ABCByReleaseId_DuplicateReleaseIdFound]  DEFAULT ((0)) FOR [DuplicateReleaseIdFound]
GO
