USE [W005]
GO
/****** Object:  Table [dbo].[CCIOrderReleaseSummaryLabor]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIOrderReleaseSummaryLabor](
	[ParentOrderNo] [varchar](8) NOT NULL,
	[OperationStep] [int] NOT NULL,
	[EmployeeId] [varchar](25) NOT NULL,
	[Operation] [varchar](10) NOT NULL,
	[OperationDescr] [varchar](255) NULL,
	[EmployeeName] [varchar](75) NULL,
	[LaborMinutes] [float] NOT NULL,
	[LaborHours] [float] NOT NULL,
	[SetupMinutes] [float] NOT NULL,
	[SetupHours] [float] NOT NULL,
	[AdjustmentMinutes] [float] NOT NULL,
	[AdjustmentHours] [float] NOT NULL,
	[SetupAdjustmentMinutes] [float] NOT NULL,
	[SetupAdjustmentHours] [float] NOT NULL,
	[TotalLaborMinutes] [float] NOT NULL,
	[TotalLaborHours] [float] NOT NULL,
 CONSTRAINT [PK_CCIOrderReleaseSummaryLabor_1] PRIMARY KEY CLUSTERED 
(
	[ParentOrderNo] ASC,
	[OperationStep] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_OperationStep]  DEFAULT ((0)) FOR [OperationStep]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_TotalLaborMin]  DEFAULT ((0)) FOR [LaborMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_TotalLaborHours]  DEFAULT ((0)) FOR [LaborHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_SetupMinutes]  DEFAULT ((0)) FOR [SetupMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_SetupHours]  DEFAULT ((0)) FOR [SetupHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_AdjustmentMinutes]  DEFAULT ((0)) FOR [AdjustmentMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_AdjustmentHours]  DEFAULT ((0)) FOR [AdjustmentHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_SetupAdjustmentMinutes]  DEFAULT ((0)) FOR [SetupAdjustmentMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_SetupAdjustmentHours]  DEFAULT ((0)) FOR [SetupAdjustmentHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_LaborMinutes1]  DEFAULT ((0)) FOR [TotalLaborMinutes]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] ADD  CONSTRAINT [DF_CCIOrderReleaseSummaryLabor_LaborHours1]  DEFAULT ((0)) FOR [TotalLaborHours]
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor]  WITH CHECK ADD  CONSTRAINT [FK_CCIOrderReleaseSummaryLabor_OrderReleaseSummary] FOREIGN KEY([ParentOrderNo])
REFERENCES [dbo].[CCIOrderReleaseSummary] ([ParentOrderNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIOrderReleaseSummaryLabor] CHECK CONSTRAINT [FK_CCIOrderReleaseSummaryLabor_OrderReleaseSummary]
GO
