USE [W005]
GO
/****** Object:  Table [dbo].[OrderSummarySpliceLogEdit]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderSummarySpliceLogEdit](
	[Id] [int] NOT NULL,
	[OrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[FGCounter] [float] NULL,
	[MRLotNum] [varchar](16) NULL,
	[MRSerialNum] [varchar](16) NULL,
	[Cut1] [float] NULL,
	[Cut2] [float] NULL,
	[Cut3] [float] NULL,
	[Cut4] [float] NULL,
	[Cut5] [float] NULL,
	[Cut6] [float] NULL,
	[Cut7] [float] NULL,
	[Cut8] [float] NULL,
	[Cut9] [float] NULL,
	[Cut10] [float] NULL,
	[Cut11] [float] NULL,
	[Cut12] [float] NULL,
	[Cut13] [float] NULL,
	[Cut14] [float] NULL,
	[Cut15] [float] NULL,
	[Cut16] [float] NULL,
	[Cut17] [float] NULL,
	[Cut18] [float] NULL,
	[Cut19] [float] NULL,
	[Cut20] [float] NULL,
	[Cut21] [float] NULL,
	[Cut22] [float] NULL,
	[Cut23] [float] NULL,
	[Cut24] [float] NULL,
	[Cut25] [float] NULL,
	[Cut26] [float] NULL,
	[Cut27] [float] NULL,
	[Cut28] [float] NULL,
	[Cut29] [float] NULL,
	[Cut30] [float] NULL,
	[Cut31] [float] NULL,
	[Cut32] [float] NULL,
	[Cut33] [float] NULL,
	[Cut34] [float] NULL,
	[Cut35] [float] NULL,
	[Cut36] [float] NULL,
	[Cut37] [float] NULL,
	[Cut38] [float] NULL,
	[Cut39] [float] NULL,
	[Cut40] [float] NULL,
	[Cut41] [float] NULL,
	[Cut42] [float] NULL,
	[Cut43] [float] NULL,
	[Cut44] [float] NULL,
	[Cut45] [float] NULL,
	[Cut46] [float] NULL,
	[Cut47] [float] NULL,
	[Cut48] [float] NULL,
	[Cut49] [float] NULL,
	[Cut50] [float] NULL,
	[Cut51] [float] NULL,
	[Cut52] [float] NULL,
	[Cut53] [float] NULL,
	[Cut54] [float] NULL,
	[Cut55] [float] NULL,
	[Cut56] [float] NULL,
	[Cut57] [float] NULL,
	[Cut58] [float] NULL,
	[Cut59] [float] NULL,
	[Cut60] [float] NULL,
	[Cut61] [float] NULL,
	[Cut62] [float] NULL,
	[Cut63] [float] NULL,
	[Cut64] [float] NULL,
	[Cut65] [float] NULL,
	[Cut66] [float] NULL,
	[Cut67] [float] NULL,
	[Cut68] [float] NULL,
	[Cut69] [float] NULL,
	[Cut70] [float] NULL,
	[Cut71] [float] NULL,
	[Cut72] [float] NULL,
	[Cut73] [float] NULL,
	[Cut74] [float] NULL,
	[Cut75] [float] NULL,
	[Cut76] [float] NULL,
	[Cut77] [float] NULL,
	[Cut78] [float] NULL,
	[Cut79] [float] NULL,
	[Cut80] [float] NULL,
	[Cut81] [float] NULL,
	[Cut82] [float] NULL,
	[Cut83] [float] NULL,
	[Cut84] [float] NULL,
	[Cut85] [float] NULL,
	[Cut86] [float] NULL,
	[Cut87] [float] NULL,
	[Cut88] [float] NULL,
	[Cut89] [float] NULL,
	[Cut90] [float] NULL,
	[Cut91] [float] NULL,
	[Cut92] [float] NULL,
	[Cut93] [float] NULL,
	[Cut94] [float] NULL,
	[Cut95] [float] NULL,
	[Cut96] [float] NULL,
	[Cut97] [float] NULL,
	[Cut98] [float] NULL,
	[Cut99] [float] NULL,
	[Cut100] [float] NULL,
	[Cut101] [float] NULL,
	[Cut102] [float] NULL,
	[Cut103] [float] NULL,
	[Cut104] [float] NULL,
	[Cut105] [float] NULL,
	[OrderReleaseEventSpliceId] [int] NULL,
	[FGItemId] [varchar](24) NULL,
	[SpliceType] [varchar](50) NULL,
	[MRItemId] [varchar](24) NULL,
	[HasRewindsInProcess] [bit] NOT NULL,
 CONSTRAINT [PK_OrderSummarySpliceLogEdit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderSummarySpliceLogEdit] ADD  CONSTRAINT [DF_OrderSummarySpliceLogEdit_HasRewindsInProcess]  DEFAULT ((0)) FOR [HasRewindsInProcess]
GO
