USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleasePartialKit]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleasePartialKit](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreatedByOrderReleaseEventId] [int] NULL,
	[OrderReleaseEventItemId] [int] NOT NULL,
	[FGItemId] [varchar](25) NOT NULL,
	[FGTravSerNum] [varchar](35) NOT NULL,
	[IsPartialKit] [bit] NOT NULL,
	[StartedBy] [varchar](25) NULL,
	[StartedDateTime] [datetime] NOT NULL,
	[SupervisorOverride] [varchar](25) NOT NULL,
	[Completed] [bit] NOT NULL,
	[CompletedBy] [varchar](25) NULL,
	[CompletedDateTime] [datetime] NULL,
 CONSTRAINT [PK_OrderReleasePartialKit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleasePartialKit] ADD  CONSTRAINT [DF_OrderReleasePartialKit_IsPartialKit]  DEFAULT ((0)) FOR [IsPartialKit]
GO
ALTER TABLE [dbo].[OrderReleasePartialKit] ADD  CONSTRAINT [DF_OrderReleasePartialKit_Completed]  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[OrderReleasePartialKit]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleasePartialKit_OrderReleaseEventItem] FOREIGN KEY([OrderReleaseEventItemId])
REFERENCES [dbo].[OrderReleaseEventItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleasePartialKit] CHECK CONSTRAINT [FK_OrderReleasePartialKit_OrderReleaseEventItem]
GO
