USE [W005]
GO
/****** Object:  Table [dbo].[SW_TestHdr]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SW_TestHdr](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ProdOrderNo] [varchar](8) NULL,
	[ParentOrderNo] [varchar](8) NULL,
	[ReleaseNo] [int] NULL,
	[ReleaseId] [int] NULL,
	[SetID] [varchar](16) NULL,
	[SetNum] [int] NULL,
	[OperationID] [int] NULL,
	[WorkOrder] [int] NULL,
	[Machine] [varchar](25) NULL,
	[MachineGroupId] [varchar](10) NULL,
	[MachineDescr] [varchar](255) NULL,
	[Trial] [bit] NOT NULL,
	[Rework] [bit] NOT NULL,
	[ReworkOrigId] [varchar](35) NULL,
	[Batch] [varchar](100) NULL,
	[Batch2] [varchar](100) NULL,
	[BatchSuffix] [varchar](10) NULL,
	[CustomerBatchSuffix] [varchar](20) NULL,
	[MaterialType] [varchar](20) NULL,
	[ItemId] [varchar](24) NULL,
	[InvDescription] [varchar](50) NULL,
	[InvID] [int] NULL,
	[PartID] [int] NULL,
	[PartNum] [varchar](30) NULL,
	[NumCuts] [int] NULL,
	[NCNum] [int] NULL,
	[NCSpoolList] [varchar](255) NULL,
	[NCStartofSetSpoolList] [varchar](255) NULL,
	[UserId] [varchar](25) NULL,
	[Operator] [varchar](50) NULL,
	[CompID] [varchar](3) NULL,
	[ProdSpecID] [int] NULL,
	[ProdSpecDesc] [varchar](70) NULL,
	[SWTolerance_Plus] [decimal](20, 10) NULL,
	[SWTolerance_Minus] [decimal](20, 10) NULL,
	[SWTolerance_Target] [decimal](20, 10) NULL,
	[SWTolerance_Min] [decimal](10, 8) NULL,
	[SWTolerance_Max] [decimal](10, 8) NULL,
	[CustomerName] [varchar](30) NULL,
	[CustId] [varchar](10) NULL,
	[PolarisMachineNum] [int] NULL,
	[PolarisCustomerName] [varchar](50) NULL,
	[PolarisCustomerID] [int] NULL,
	[CustomerPO] [varchar](25) NULL,
	[CustomerProdSpec] [varchar](75) NULL,
	[CustomerShipToName] [varchar](30) NULL,
 CONSTRAINT [PK_SW_OrderRelease] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SW_TestHdr] ADD  CONSTRAINT [DF_SW_TestHdr_Trial]  DEFAULT ((0)) FOR [Trial]
GO
ALTER TABLE [dbo].[SW_TestHdr] ADD  CONSTRAINT [DF_SW_TestHdr_Rework]  DEFAULT ((0)) FOR [Rework]
GO
