USE [W005]
GO
/****** Object:  Table [dbo].[ShipItemTransaction]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipItemTransaction](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShipItemId] [int] NOT NULL,
	[FiscalYear] [int] NOT NULL,
	[GLPeriod] [int] NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[TransType] [varchar](20) NOT NULL,
	[Qty] [decimal](20, 10) NOT NULL,
 CONSTRAINT [PK_ShipItemTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
