USE [W005]
GO
/****** Object:  Table [dbo].[CustomerCarrierAccount]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCarrierAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustId] [varchar](10) NULL,
	[CustName] [varchar](30) NULL,
	[CustAcct] [varchar](25) NULL,
	[ShipMethodId] [varchar](6) NULL,
	[ShipMethodDesc] [varchar](20) NULL,
 CONSTRAINT [PK_CustomerCarrierAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
