USE [W005]
GO
/****** Object:  Table [dbo].[MachineConfigDetail]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineConfigDetail](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MachineConfigId] [int] NOT NULL,
	[HeadNo] [int] NULL,
	[CutNo] [int] NOT NULL,
	[Slitter2SpoolOffset] [decimal](10, 4) NULL,
 CONSTRAINT [PK_MachineConfigDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineConfigDetail]  WITH CHECK ADD  CONSTRAINT [FK_MachineConfigDetail_MachineConfig1] FOREIGN KEY([MachineConfigId])
REFERENCES [dbo].[MachineConfig] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineConfigDetail] CHECK CONSTRAINT [FK_MachineConfigDetail_MachineConfig1]
GO
