USE [W005]
GO
/****** Object:  Table [dbo].[ExtrAdjustmentsNeeded]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtrAdjustmentsNeeded](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PalletId] [int] NOT NULL,
	[PkgId] [varchar](10) NOT NULL,
	[AdjDone] [bit] NOT NULL,
	[Complete] [bit] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[PalletLotNo] [varchar](200) NULL,
	[TravLotNum] [varchar](16) NULL,
	[Quantity] [decimal](20, 10) NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[NoRolls] [int] NULL,
	[MfrDate] [datetime] NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[TOPS] [nchar](1) NULL,
	[OpInit] [varchar](15) NULL,
 CONSTRAINT [PK_AdjustmentsNeeded] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExtrAdjustmentsNeeded] ADD  CONSTRAINT [DF_ExtrAdjustmentsNeeded_AdjDone]  DEFAULT ((0)) FOR [AdjDone]
GO
ALTER TABLE [dbo].[ExtrAdjustmentsNeeded] ADD  CONSTRAINT [DF_AdjustmentsNeeded_Complete]  DEFAULT ((0)) FOR [Complete]
GO
