USE [W005]
GO
/****** Object:  Table [dbo].[InventoryCountTicketHist]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCountTicketHist](
	[ICTNum] [int] NOT NULL,
	[ICEId] [int] NULL,
	[Site] [varchar](10) NULL,
	[Bin] [varchar](10) NULL,
	[LocId] [varchar](10) NULL,
	[TicketDate] [date] NULL,
	[InventoryisFG] [bit] NOT NULL,
	[Posted] [bit] NOT NULL,
	[NumScans] [int] NOT NULL,
 CONSTRAINT [PK_InventoryCountTicketHist] PRIMARY KEY CLUSTERED 
(
	[ICTNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryCountTicketHist] ADD  CONSTRAINT [DF__Inventory__ICTNu__15DD6BB9]  DEFAULT ((0)) FOR [ICTNum]
GO
ALTER TABLE [dbo].[InventoryCountTicketHist] ADD  CONSTRAINT [DF_InventoryCountTicketHist_InventoryisFG]  DEFAULT ((0)) FOR [InventoryisFG]
GO
ALTER TABLE [dbo].[InventoryCountTicketHist] ADD  CONSTRAINT [DF_InventoryCountTicketHist_Posted]  DEFAULT ((0)) FOR [Posted]
GO
ALTER TABLE [dbo].[InventoryCountTicketHist] ADD  CONSTRAINT [DF_InventoryCountTicketHist_NumScans]  DEFAULT ((0)) FOR [NumScans]
GO
