USE [W005]
GO
/****** Object:  Table [dbo].[ReturnedInDetailExt]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnedInDetailExt](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReturnInDtlId] [int] NULL,
	[SerialNum] [varchar](16) NULL,
	[LotNum] [varchar](16) NULL,
	[TravLotNum] [varchar](16) NULL,
	[ReturnQty] [decimal](20, 10) NULL,
 CONSTRAINT [PK_ReturnedInDetailExt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReturnedInDetailExt]  WITH CHECK ADD  CONSTRAINT [FK_ReturnedInDetailExt_ReturnedInDetail] FOREIGN KEY([ReturnInDtlId])
REFERENCES [dbo].[ReturnedInDetail] ([ReturnInDtlId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnedInDetailExt] CHECK CONSTRAINT [FK_ReturnedInDetailExt_ReturnedInDetail]
GO
