USE [W005]
GO
/****** Object:  Table [dbo].[CCIParentOrderCutList]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIParentOrderCutList](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ParentOrderNo] [varchar](8) NOT NULL,
	[TableId] [int] NOT NULL,
	[KitSet] [int] NOT NULL,
	[IsInProcess] [bit] NOT NULL,
	[ProgramId] [int] NULL,
	[Program] [varchar](75) NOT NULL,
	[CCIManufacturingGroupId] [int] NULL,
	[Name] [varchar](75) NOT NULL,
	[MFGMethod] [varchar](50) NOT NULL,
	[DefaultMFGGroup] [bit] NOT NULL,
	[ConveyorTablesOnly] [bit] NOT NULL,
	[CutFileGrouping] [varchar](75) NULL,
	[CCICutFileId] [int] NOT NULL,
	[CutFile] [varchar](100) NOT NULL,
	[CutFileActual] [varchar](100) NULL,
	[CutFileKitQty] [int] NOT NULL,
	[FixedNumTables] [int] NOT NULL,
	[FixedQty] [int] NOT NULL,
	[MaterialLength] [float] NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[Efficiency] [float] NOT NULL,
	[RAWMaterial] [varchar](300) NULL,
	[Kits] [varchar](300) NULL,
	[Notes] [varchar](max) NULL,
	[CutOnTable] [varchar](10) NULL,
	[IsPartsEdit] [bit] NOT NULL,
	[IsPartsEditEndTable] [bit] NOT NULL,
	[PartsEditEndTablePriorOrdRelEvtId] [int] NULL,
	[IsOptional] [bit] NOT NULL,
	[CutSeqNo] [int] NOT NULL,
	[IsPartsEditAppend] [bit] NOT NULL,
	[PartsEditAppendTableIdList] [varchar](250) NULL,
	[DimInpsectionCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_CCIParentOrderCutList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CCIParentOrderCutList]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_CCIParentOrderCutList] ON [dbo].[CCIParentOrderCutList]
(
	[ParentOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_KitNo]  DEFAULT ((0)) FOR [KitSet]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_IsPartsEdit]  DEFAULT ((0)) FOR [IsPartsEdit]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_IsPartsEditEndTable]  DEFAULT ((0)) FOR [IsPartsEditEndTable]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_IsOptional]  DEFAULT ((0)) FOR [IsOptional]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_CutSeqNo]  DEFAULT ((0)) FOR [CutSeqNo]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_IsPartsEditAppend]  DEFAULT ((0)) FOR [IsPartsEditAppend]
GO
ALTER TABLE [dbo].[CCIParentOrderCutList] ADD  CONSTRAINT [DF_CCIParentOrderCutList_DimImpsectionCompleted]  DEFAULT ((0)) FOR [DimInpsectionCompleted]
GO
