USE [W005]
GO
/****** Object:  Table [dbo].[XRefEpicorRM]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XRefEpicorRM](
	[PartNum] [float] NULL,
	[TravItemId] [nvarchar](255) NULL,
	[ItemType] [nvarchar](255) NULL,
	[ClassId] [nvarchar](255) NULL,
	[SerialNo] [nvarchar](255) NULL,
	[LotNo] [nvarchar](255) NULL,
	[MfgLot] [nvarchar](255) NULL,
	[BinNum] [nvarchar](255) NULL,
	[TravLocId] [nvarchar](255) NULL,
	[OnHandQty] [float] NULL,
	[UOM] [nvarchar](255) NULL,
	[AvgCost] [float] NULL,
	[BaseOnHandQty] [float] NULL,
	[BaseUom] [nvarchar](255) NULL,
	[BaseUnitCost] [float] NULL,
	[ExtCost] [float] NULL,
	[Width] [float] NULL,
	[ExpirationDate] [datetime] NULL,
	[ApprovalStatus] [nvarchar](255) NULL,
	[ReceivedDate] [datetime] NULL,
	[LastRefDate] [datetime] NULL,
	[RemainingOTHr] [float] NULL
) ON [PRIMARY]
GO
