USE [W005]
GO
/****** Object:  Table [dbo].[CQA_TestTypeXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CQA_TestTypeXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TestTypeId] [int] NULL,
	[TestGageId] [varchar](25) NULL,
 CONSTRAINT [PK_CQA_TestTypeXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CQA_TestTypeXRef]  WITH CHECK ADD  CONSTRAINT [FK_CQA_TestTypeXRef_CQA_TestGage] FOREIGN KEY([TestGageId])
REFERENCES [dbo].[CQA_TestGage] ([GageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CQA_TestTypeXRef] CHECK CONSTRAINT [FK_CQA_TestTypeXRef_CQA_TestGage]
GO
ALTER TABLE [dbo].[CQA_TestTypeXRef]  WITH CHECK ADD  CONSTRAINT [FK_CQA_TestTypeXRef_CQA_TestType] FOREIGN KEY([TestTypeId])
REFERENCES [dbo].[CQA_TestType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CQA_TestTypeXRef] CHECK CONSTRAINT [FK_CQA_TestTypeXRef_CQA_TestType]
GO
