USE [W005]
GO
/****** Object:  Table [dbo].[MachineConfigItemXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineConfigItemXRef](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MachineConfigId] [int] NOT NULL,
	[ItemId] [varchar](24) NULL,
 CONSTRAINT [PK_MachineConfigItemXRef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MachineConfigItemXRef]  WITH CHECK ADD  CONSTRAINT [FK_MachineConfigItemXRef_MachineConfig] FOREIGN KEY([MachineConfigId])
REFERENCES [dbo].[MachineConfig] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineConfigItemXRef] CHECK CONSTRAINT [FK_MachineConfigItemXRef_MachineConfig]
GO
