USE [W005]
GO
/****** Object:  Table [dbo].[CCIManufacturingGroupCutFileXRef]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCIManufacturingGroupCutFileXRef](
	[CCIManufacturingGroupId] [int] NOT NULL,
	[CCICutFileId] [int] NOT NULL,
	[SeqNbr] [int] NOT NULL,
	[CutFileGrouping] [varchar](75) NULL,
 CONSTRAINT [PK_CCICutListCutFileXRef] PRIMARY KEY CLUSTERED 
(
	[CCIManufacturingGroupId] ASC,
	[CCICutFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCIManufacturingGroupCutFileXRef] ADD  CONSTRAINT [DF_CCICutListCutFileXRef_SeqNbr]  DEFAULT ((0)) FOR [SeqNbr]
GO
ALTER TABLE [dbo].[CCIManufacturingGroupCutFileXRef]  WITH CHECK ADD  CONSTRAINT [FK_CCIManufacturingGroupCutFileXRef_CCICutFile] FOREIGN KEY([CCICutFileId])
REFERENCES [dbo].[CCICutFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CCIManufacturingGroupCutFileXRef] CHECK CONSTRAINT [FK_CCIManufacturingGroupCutFileXRef_CCICutFile]
GO
ALTER TABLE [dbo].[CCIManufacturingGroupCutFileXRef]  WITH CHECK ADD  CONSTRAINT [FK_CCIManufacturingGroupCutFileXRef_CCIManufacturingGroup] FOREIGN KEY([CCIManufacturingGroupId])
REFERENCES [dbo].[CCIManufacturingGroup] ([Id])
GO
ALTER TABLE [dbo].[CCIManufacturingGroupCutFileXRef] CHECK CONSTRAINT [FK_CCIManufacturingGroupCutFileXRef_CCIManufacturingGroup]
GO
