USE [W005]
GO
/****** Object:  Table [dbo].[LocationTransferableInventoryTMP]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationTransferableInventoryTMP](
	[Notes] [nvarchar](max) NULL,
	[Id] [int] NOT NULL,
	[PackageNo] [varchar](35) NULL,
	[Type] [varchar](6) NOT NULL,
	[ItemId] [varchar](25) NULL,
	[Location] [varchar](10) NOT NULL,
	[BinId] [int] NULL,
	[Bin] [nvarchar](10) NULL,
	[BinType] [nvarchar](max) NULL,
	[Qty] [float] NOT NULL,
	[UOM] [varchar](5) NULL,
	[Shipped] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
