USE [W005]
GO
/****** Object:  Table [dbo].[OrderReleaseMachineConfigDetail]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReleaseMachineConfigDetail](
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NOT NULL,
	[MachineConfigId] [int] NOT NULL,
	[HeadNo] [int] NOT NULL,
	[CutNo] [int] NOT NULL,
	[Slitter2SpoolOffset] [decimal](10, 4) NULL,
	[CutRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_OrderReleaseMachineConfigDetail] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ReleaseNo] ASC,
	[MachineConfigId] ASC,
	[HeadNo] ASC,
	[CutNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderReleaseMachineConfigDetail] ADD  CONSTRAINT [DF_OrderReleaseMachineConfigDetail_CutRemoved1]  DEFAULT ((0)) FOR [CutRemoved]
GO
ALTER TABLE [dbo].[OrderReleaseMachineConfigDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderReleaseMachineConfigDetail_MachineConfig1] FOREIGN KEY([MachineConfigId])
REFERENCES [dbo].[MachineConfig] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderReleaseMachineConfigDetail] CHECK CONSTRAINT [FK_OrderReleaseMachineConfigDetail_MachineConfig1]
GO
