USE [W005]
GO
/****** Object:  Table [dbo].[BillingListSOLine]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingListSOLine](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BLNo] [int] NOT NULL,
	[SO] [varchar](8) NOT NULL,
	[SOLine] [int] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[QtyOrdSell] [decimal](20, 10) NULL,
	[UntisSell] [varchar](5) NULL,
	[ReqShipDate] [datetime] NULL,
	[CustPOLine] [int] NULL,
	[CustPONum] [varchar](75) NULL,
	[CustRevNo] [varchar](11) NULL,
	[RevNo] [varchar](3) NULL,
	[SODtlInvoiceInfo] [varchar](100) NULL,
 CONSTRAINT [PK_BillingListSOLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingListSOLine]  WITH CHECK ADD  CONSTRAINT [FK_BillingListSOLine_BillingList] FOREIGN KEY([BLNo])
REFERENCES [dbo].[BillingList] ([BLNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillingListSOLine] CHECK CONSTRAINT [FK_BillingListSOLine_BillingList]
GO
ALTER TABLE [dbo].[BillingListSOLine]  WITH CHECK ADD  CONSTRAINT [FK_BillingListSOLine_BillingListSOLine] FOREIGN KEY([Id])
REFERENCES [dbo].[BillingListSOLine] ([Id])
GO
ALTER TABLE [dbo].[BillingListSOLine] CHECK CONSTRAINT [FK_BillingListSOLine_BillingListSOLine]
GO
