USE [W005]
GO
/****** Object:  Table [dbo].[MpOrderMatIssued]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MpOrderMatIssued](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](8) NOT NULL,
	[ReleaseNo] [int] NULL,
	[Completed] [bit] NOT NULL,
	[ItemId] [varchar](24) NOT NULL,
	[LocId] [varchar](10) NOT NULL,
	[SerialNo] [varchar](16) NULL,
	[LotNo] [varchar](16) NULL,
	[ExpDate] [datetime] NULL,
	[Qty] [decimal](20, 10) NOT NULL,
	[UOM] [varchar](5) NOT NULL,
	[InUse] [bit] NOT NULL,
	[ShipPalletNo] [varchar](10) NULL,
	[OrigNoRolls] [int] NOT NULL,
	[NoRollsUsed] [int] NULL,
	[AdditionalLotNo] [varchar](50) NULL,
	[ItemIdToInheritLotNoFrom] [varchar](24) NULL,
	[MfgSequence] [int] NOT NULL,
	[UseByDate] [datetime] NULL,
 CONSTRAINT [PK_MpOrderMatIssued] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MpOrderMatIssued]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_MpOrderMatIssued] ON [dbo].[MpOrderMatIssued]
(
	[OrderNo] ASC,
	[ReleaseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MpOrderMatIssued_1]    Script Date: 7/16/2026 3:53:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_MpOrderMatIssued_1] ON [dbo].[MpOrderMatIssued]
(
	[ItemId] ASC,
	[Completed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrderMatIssued_Complete]  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrder_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrderMatIssued_InUse]  DEFAULT ((0)) FOR [InUse]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrderMatIssued_OrigNoRolls]  DEFAULT ((0)) FOR [OrigNoRolls]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrderMatIssued_NoRollsUsed]  DEFAULT ((0)) FOR [NoRollsUsed]
GO
ALTER TABLE [dbo].[MpOrderMatIssued] ADD  CONSTRAINT [DF_MpOrderMatIssued_MfgSequence_1]  DEFAULT ((0)) FOR [MfgSequence]
GO
