USE [W005]
GO
/****** Object:  Table [dbo].[OffSiteTransfer]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffSiteTransfer](
	[OffSiteTransferId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TransferDateTime] [datetime] NOT NULL,
	[FromLocId] [varchar](10) NOT NULL,
	[ToLocId] [varchar](10) NULL,
	[ToBinId] [int] NULL,
	[ToBin] [varchar](10) NULL,
	[ToBinType] [varchar](25) NULL,
	[ToName] [varchar](30) NULL,
	[ToAddr] [varchar](60) NULL,
	[ToCity] [varchar](30) NULL,
	[ToState] [varchar](10) NULL,
	[ToPostalCode] [varchar](10) NULL,
	[ToCountry] [varchar](6) NULL,
	[FromBinId] [int] NULL,
	[FromBinType] [varchar](25) NULL,
	[FromName] [varchar](30) NULL,
	[FromAddr] [varchar](60) NULL,
	[FromCity] [varchar](30) NULL,
	[FromState] [varchar](10) NULL,
	[FromPostalCode] [varchar](10) NULL,
	[FromCountry] [varchar](6) NULL,
	[ShipMethodId] [varchar](6) NULL,
	[ShipMethod] [varchar](20) NULL,
	[ShipTerms] [varchar](20) NULL,
	[ShipNotes] [ntext] NULL,
	[NoOTTrackedItems] [bit] NOT NULL,
	[PRONum] [varchar](50) NULL,
	[DateTransferComplete] [datetime] NULL,
	[TransferComplete] [bit] NOT NULL,
	[TransferPosted] [bit] NOT NULL,
	[DateTransferPosted] [datetime] NULL,
	[GrossWt] [decimal](20, 10) NULL,
	[BOLProductType] [varchar](50) NULL,
	[BOLPackageType] [varchar](8) NULL,
	[BOLNumUnits] [int] NULL,
	[BOLSpecialInstructions] [ntext] NULL,
	[ErrMsg] [varchar](max) NULL,
	[TempRecSerNo1] [varchar](25) NULL,
	[TempRecSerNo2] [varchar](25) NULL,
	[RoomHr1] [float] NULL,
	[RoomHr2] [float] NULL,
	[ReeferHr1] [float] NULL,
	[ReeferHr2] [float] NULL,
	[UserId] [varchar](25) NULL,
 CONSTRAINT [PK_OffSiteTransfer] PRIMARY KEY CLUSTERED 
(
	[OffSiteTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OffSiteTransfer] ADD  CONSTRAINT [DF_OffSiteTransfer_NoOTTrackedItems]  DEFAULT ((0)) FOR [NoOTTrackedItems]
GO
ALTER TABLE [dbo].[OffSiteTransfer] ADD  CONSTRAINT [DF_OffSiteTransfer_TransferComplete]  DEFAULT ((0)) FOR [TransferComplete]
GO
ALTER TABLE [dbo].[OffSiteTransfer] ADD  CONSTRAINT [DF_OffSiteTransfer_TransferPosted]  DEFAULT ((0)) FOR [TransferPosted]
GO
