USE [W005]
GO
/****** Object:  Table [dbo].[tblInHistDetailNunezCostNew]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInHistDetailNunezCostNew](
	[HistSeqNum] [int] NOT NULL,
	[HistSeqNum_Rcpt] [int] NOT NULL,
	[ItemId] [dbo].[pItemID] NULL,
	[LocId] [dbo].[pLocID] NULL,
	[LotNum] [dbo].[pLotNum] NULL,
	[AppId] [char](2) NULL,
	[TransId] [nvarchar](255) NULL,
	[RefId] [varchar](15) NULL,
	[SrceID] [varchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[TransDate] [datetime] NULL,
	[Uom] [dbo].[pUom] NULL,
	[UomBase] [dbo].[pUom] NULL,
	[ConvFactor] [dbo].[pDec] NULL,
	[Qty] [dbo].[pDec] NULL,
	[CostUnit] [dbo].[pDec] NULL,
	[Source] [tinyint] NULL,
	[CostUnitPrior] [dbo].[pDec] NULL,
	[WIMaterialDirectUnitCost] [decimal](20, 10) NOT NULL,
	[WIMaterialIndirectUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WILaborUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineSetupUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCost] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostModified] [decimal](20, 10) NOT NULL,
	[WIMachineUnitCostVariable] [decimal](20, 10) NOT NULL,
	[WISubcontractUnitCost] [decimal](20, 10) NOT NULL,
	[InsertUpdate] [varchar](1) NULL,
 CONSTRAINT [PK_tblInHistDetailNunezCostNew] PRIMARY KEY CLUSTERED 
(
	[HistSeqNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_HistSeqNum_Rcpt]  DEFAULT ((0)) FOR [HistSeqNum_Rcpt]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_CostUnitPrior]  DEFAULT ((0)) FOR [CostUnitPrior]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WIMaterialDirectUnitCost]  DEFAULT ((0)) FOR [WIMaterialDirectUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WIMaterialDirectUnitCost1]  DEFAULT ((0)) FOR [WIMaterialIndirectUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WIMaterialIndirectUnitCost1]  DEFAULT ((0)) FOR [WILaborSetupUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WIMachineSetupUnitCost2]  DEFAULT ((0)) FOR [WILaborUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WILaborUnitCost5]  DEFAULT ((0)) FOR [WIMachineSetupUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WILaborUnitCost4]  DEFAULT ((0)) FOR [WIMachineUnitCost]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WILaborUnitCost3]  DEFAULT ((0)) FOR [WIMachineUnitCostModified]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WILaborUnitCost2]  DEFAULT ((0)) FOR [WIMachineUnitCostVariable]
GO
ALTER TABLE [dbo].[tblInHistDetailNunezCostNew] ADD  CONSTRAINT [DF_tblInHistDetailNunezCostNew_WILaborUnitCost1]  DEFAULT ((0)) FOR [WISubcontractUnitCost]
GO
