USE [W005]
GO
/****** Object:  Table [dbo].[CustomerCharacteristic]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCharacteristic](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Characteristic] [varchar](50) NOT NULL,
	[CharDescr] [varchar](100) NULL,
	[DataType] [varchar](10) NOT NULL,
	[tblSmCustomFieldId] [int] NULL,
	[UsedByERP] [bit] NOT NULL,
	[LastUpdateBy] [varchar](25) NULL,
	[LastUpdateDate] [datetime] NULL,
	[CriticalAttribute] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerSpecParameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerCharacteristic] ADD  CONSTRAINT [DF_CustCharParameter_UsedByERP]  DEFAULT ((1)) FOR [UsedByERP]
GO
ALTER TABLE [dbo].[CustomerCharacteristic] ADD  CONSTRAINT [DF_CustomerCharacteristic_CriticalAttribute]  DEFAULT ((0)) FOR [CriticalAttribute]
GO
