USE [W005]
GO
/****** Object:  Table [dbo].[tmpMaterialTracker]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpMaterialTracker](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RMReceiptDate] [datetime] NULL,
	[RMExpDate] [datetime] NULL,
	[RMItemId] [varchar](50) NULL,
	[Alias] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[RMSerialNo] [varchar](50) NULL,
	[RMLotNo] [varchar](50) NULL,
	[MaxRoomTimeHrs] [float] NULL,
	[OutTimeDuringTransit] [nchar](10) NULL,
	[TotalRmHrs] [nchar](10) NULL,
	[TotalOutTimeRemaining] [nchar](10) NULL,
	[Date] [date] NULL,
	[DateTimeOut] [datetime] NULL,
	[DateTimeIn] [datetime] NULL,
	[JobNo] [varchar](50) NULL,
	[FGAlias] [varchar](50) NULL,
	[FGSerialNoRange] [varchar](max) NULL,
	[UserId] [varchar](50) NULL,
	[SalesOrder] [varchar](50) NULL,
	[PLNo] [int] NULL,
	[ShipDate] [datetime] NULL,
 CONSTRAINT [PK_tmpMaterialTracker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
