USE [W005]
GO
/****** Object:  Table [Quality].[NonConformingIncident]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[NonConformingIncident](
	[ID] [int] IDENTITY(1000,1) NOT FOR REPLICATION NOT NULL,
	[Location] [varchar](10) NOT NULL,
	[DiscoveryPoint] [varchar](50) NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[OpenedBy] [varchar](25) NOT NULL,
	[OpenDate] [datetime2](7) NOT NULL,
	[ClosedBy] [varchar](25) NULL,
	[CloseDate] [datetime2](7) NULL,
	[Owner] [varchar](25) NULL,
 CONSTRAINT [PK_NonConformingIncident] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
