USE [W005]
GO
/****** Object:  Table [Quality].[NonConformingConditions]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[NonConformingConditions](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Condition] [varchar](50) NOT NULL,
	[DisplayOrder] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Quality_NonConformingConditions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
