USE [W005]
GO
/****** Object:  Table [Quality].[NonConformingIncidentConditions]    Script Date: 7/16/2026 3:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[NonConformingIncidentConditions](
	[IncidentID] [int] NOT NULL,
	[ConditionID] [int] NOT NULL,
	[IsResolved] [bit] NOT NULL,
	[Cause] [varchar](10) NULL,
 CONSTRAINT [PK_Quality_NonConformingIncidentConditions] PRIMARY KEY CLUSTERED 
(
	[IncidentID] ASC,
	[ConditionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Quality].[NonConformingIncidentConditions]  WITH CHECK ADD  CONSTRAINT [FK_Quality_NonConformingIncidentConditions_IncidentID] FOREIGN KEY([IncidentID])
REFERENCES [Quality].[NonConformingIncident] ([ID])
GO
ALTER TABLE [Quality].[NonConformingIncidentConditions] CHECK CONSTRAINT [FK_Quality_NonConformingIncidentConditions_IncidentID]
GO
