USE [005]
GO
/****** Object:  UserDefinedFunction [dbo].[fncUpdateCustomField]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fncUpdateCustomField] 
( 
   @xml AS xml, 
   @FieldName AS nvarchar(MAX), 
   @FieldValue AS nvarchar(MAX) 
) 
RETURNS xml 
AS 
BEGIN 
--parse the list of values into a table for processing 
DECLARE @nodes TABLE ([Name] varchar(MAX), [Value] varchar(MAX)) 

INSERT INTO @nodes ([Name], [Value]) 
SELECT e.props.value('./Name[1]', 'VARCHAR(max)') AS [Name] 
   , e.props.value('./Value[1]', 'VARCHAR(max)') AS [Value] 
FROM @xml.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') AS e(props) 
WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1) 
          
--modify the data 
--  if the fieldvalue is blank delete the node 
--  if the fieldvalue is not blank and the node doesn't exist insert the node and value 
--  if the fieldvalue is not blank and the node already exists and is different from the passed fieldvalue update it 

IF @FieldValue = '' 
   DELETE @nodes WHERE [Name] = @FieldName 
ELSE IF (SELECT COUNT(*) FROM @nodes WHERE [Name] = @FieldName) = 0 
   INSERT @nodes ([Name], [Value]) VALUES (@FieldName, @FieldValue) 
ELSE 
   UPDATE @nodes SET [Value] = @FieldValue WHERE [Name] = @FieldName AND [Value] <> @FieldValue 

UPDATE @nodes 
	SET [Value] = REPLACE(Value, '&', '&amp;')

UPDATE @nodes 
	SET [Value] = REPLACE(Value, '>', '&gt;');

UPDATE @nodes 
	SET [Value] = REPLACE(Value, '<', '&lt;');

UPDATE @nodes 
	SET [Value] = REPLACE(Value, '''', '&apos;');

UPDATE @nodes
	SET [Value] = REPLACE(Value, '"', '&quot;');          

--reconstruct the XML string discarding any entries with a null/blank [Name] or [Value] 
DECLARE @newString varchar(max) 
SET @newString = '' 

SELECT @newString = @newString + '<EntityPropertyOfString><Name>' + [Name] + '</Name><Value>'+ [Value] + '</Value></EntityPropertyOfString>' 
FROM @nodes 
WHERE NULLIF([Name], '') IS NOT NULL AND NULLIF([value], '') IS NOT NULL 

IF @newString <> '' 
   SELECT @newString = '<ArrayOfEntityPropertyOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">' + @newString + '</ArrayOfEntityPropertyOfString>' 
ELSE 
   SELECT @newString = null 
    
RETURN CAST(@newString AS XML) 

END 
GO
