USE [005]
GO
/****** Object:  UserDefinedFunction [dbo].[fncGetCustomField]    Script Date: 7/16/2026 3:56:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create FUNCTION [dbo].[fncGetCustomField] 
( 
   @xml as XML, 
   @FieldName as nvarchar(max) 
) 
RETURNS nvarchar(max) 
AS 
BEGIN 

--parse the list of values into a table for processing 
Declare @nodes Table ([Name] varchar(max), [Value] varchar(max)) 

INSERT INTO @nodes ([Name], [Value]) 
SELECT e.props.value('./Name[1]', 'VARCHAR(max)') as [Name] 
   , e.props.value('./Value[1]', 'VARCHAR(max)') as [Value] 
FROM @xml.nodes('/ArrayOfEntityPropertyOfString/EntityPropertyOfString') as e(props) 
WHERE (e.props.exist('Name') = 1) AND (e.props.exist('Value') = 1) 
          
--modify the data 
--   the custom field values are stored in a string representation therefore any values 
--   must be formatted based upon the datatype assigned to the given custom field 
declare @FieldValue nvarchar(max) 

if (select COUNT(*) from @nodes where [Name]=@FieldName)=0 
   select @FieldValue = '' 
else 
   select top 1 @FieldValue=[Value] from @nodes where [Name]=@FieldName 

select @FieldValue=replace(@FieldValue, '&amp;', '&') 

return @FieldValue 
END
GO
