USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductionOrders]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE FUNCTION [dbo].[GetProductionOrders](@salesOrder varchar(8), @item varchar(24), @location varchar(10), @targetDate datetime)
RETURNS @productionOrderInformation TABLE(orderNumber varchar(8), orderStatus int, qty decimal(20,10), uom varchar(5), orderPriority int, estStartDate datetime, 
			estCompletionDate datetime, SOLineNo nvarchar(max), OperationStep int, OperationID varchar(10), OperationDescription varchar(255), BOMSequence int, ComponentID varchar(100), 
			ComponentDescription varchar(255), DetailType int, ComponentQty decimal(20,10), BOMUom varchar(5), OnHandBalance decimal(20,10), UOMDefault varchar(5), 
			toDefaultConvFactor decimal(20,10), SafetyStock decimal(20,10), OnHandMax decimal(20,10), MinOrderQty decimal(20,10), DefaultLeadTime decimal(20,10),
			OrderQtyUOM varchar(5), OrderPoint decimal(20,10), Buyer varchar(100), BOMLevel int, Sort varchar(100), ReleaseNum int)
AS
BEGIN 
	DECLARE @releaseNo int, @prodOrderNumber varchar(8), @orderStatus int, @qty decimal(20,10), @uom varchar(5), @orderPriority int, @estStartDate datetime, 
						@estCompletionDate datetime;

	--Use the latest release number to ensure the most recent start/completion dates are selected.
	--SELECT @releaseNo = released.ReleaseNo FROM [005].dbo.tblMpOrderReleases released
		--LEFT JOIN [005].dbo.tblMpOrder ord ON ord.OrderNo = released.OrderNo WHERE released.SalesOrder = @salesOrder AND released.EstCompletionDate = @targetDate;

	--Insert the production order info along with the BOM info into the return table and exit routine.
	INSERT INTO @productionOrderInformation
		SELECT 
			ord.OrderNo,
			released.Status,
			released.qty,
			released.UOM,
			released.Priority,
			released.EstStartDate,
			released.EstCompletionDate,
			NULL AS [SO Line No],
			bom.OperationStep,
			bom.OperationID,
			bom.OperationDescription,
			bom.BOMSequence,
			bom.ComponentID,
			bom.ComponentDescription,
			bom.DetailType,
			bom.Qty,
			bom.UOM,
			bom.OnHandBalance,
			bom.UOMDefault,
			bom.toDefaultConvFactor,
			bom.SafetyStock,
			bom.OnHandMax,
			bom.MinOrderQty,
			bom.DefaultLeadTime,
			bom.OrderQtyUOM,
			bom.OrderPoint,
			bom.Buyer,
			bom.BOMLevel,
			bom.Sort,
			released.ReleaseNo
		FROM [005].dbo.tblMpOrderReleases released
		LEFT JOIN [005].dbo.tblMpOrder ord ON ord.OrderNo = released.OrderNo
		CROSS APPLY [W005].dbo.GetBOMInfo(@item, @location) bom
			WHERE released.SalesOrder = @salesOrder AND ord.AssemblyId = @item AND released.EstCompletionDate = @targetDate

	RETURN;
END;
GO
