USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidAdvanceShippingNotice]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Routine which validates Advance Shipping Notices, return 1 when valid, otherwise returns 0
CREATE FUNCTION [dbo].[ValidAdvanceShippingNotice](@serial varchar(25), @vendorID varchar(10),  @orderDate datetime2, @arrivalDate datetime2, @manufactureDate datetime2)
RETURNS int
AS
BEGIN
	DECLARE @result int, @processDays int, @arrivalDays int, @maxAgeDays int;

	--When a duplicate serial number is encountered this specimen's record cannot be inserted.
	IF EXISTS(SELECT 1 FROM dbo.AdvanceShippingNotices WHERE SerialNumber = @serial)
		RETURN 1;

	--Retreive the validation specification for this vendor.
	SELECT 
		@processDays = ProcessWithinDays, 
		@arrivalDays = ArrivalWithinDays,
		@maxAgeDays = MaxMaterialAgeDays 
	FROM dbo.AdvanceShippingNoticeValidationSpecifications WHERE @vendorID = VendorID;

	--When too much time has passed since the order was made available, it is invalid.
	IF(DATEDIFF(day, @orderDate, GETDATE()) > @processDays)
		SET @result = 2;
	--When the material will arrive too late, it is invalid.
	ELSE IF(DATEDIFF(day, @arrivalDate, GETDATE()) > @arrivalDays)
		SET @result = 3;
	--When the material is too old to be considered usable, it is invalid.
	ELSE IF(DATEDIFF(day, @manufactureDate, GETDATE()) > @maxAgeDays)
		SET @result = 4;
	--Otherwise, the material can be used.
	ELSE
		SET @result = 0;

	RETURN @result;
END;
GO
