USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnCalcNunezCosts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnCalcNunezCosts] (@ItemId as varchar(24), @LotNum as varchar(16), @QtySold as decimal(20,10))
RETURNS @tNunezCosts table 
  (
    WILaborSetupCost decimal(20,10),
	WILaborCost decimal(20,10),
	WIMachineSetupCost decimal(20,10),
	WIMachineCost decimal(20,10),
	WIMaterialDirectCost decimal(20,10),
	WIMaterialIndirectCost decimal(20,10),
	WISubcontractCost decimal(20,10)
  )
as
BEGIN
	DECLARE @LocId as varchar(10)
	DECLARE @SeqNum as int
	DECLARE @Qty as decimal(20,10)
	DECLARE @RemoveQTY as decimal(20,10)

	DECLARE @WILaborSetupUnitCost as decimal(20,10)
	DECLARE @WILaborUnitCost as decimal(20,10)
	DECLARE @WIMachineSetupUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCost as decimal(20,10)
	DECLARE @WIMaterialDirectUnitCost as decimal(20,10)
	DECLARE @WIMaterialIndirectUnitCost as decimal(20,10)
	DECLARE @WISubcontractUnitCost as decimal(20,10)

	DECLARE @WILaborSetupCost as decimal(20,10) = 0
	DECLARE @WILaborCost as decimal(20,10) = 0
	DECLARE @WIMachineSetupCost as decimal(20,10) = 0
	DECLARE @WIMachineCost as decimal(20,10) = 0
	DECLARE @WIMaterialDirectCost as decimal(20,10) = 0
	DECLARE @WIMaterialIndirectCost as decimal(20,10) = 0
	DECLARE @WISubcontractCost as decimal(20,10) = 0

	--Set @ItemId =  'BT-9S-BK-G'
	--Set @LotNum = '1246N'
	--Set @QtySold = 377.00


	DECLARE iCur CURSOR FOR
		SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
		FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN 
					  [005].[dbo].[trav_tblInHistDetail_View] D ON D.HistSeqNum = H.LinkID
		Where RcptLink = 0 and H.Source <> 18 and (InvoicedQty > 0 or RemoveQty > 0)
		AND H.ItemId = @ItemId and H.LotNum = @LotNum
		UNION ALL
		SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost 
		FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN 
					  [005].[dbo].[trav_tblInHistDetail_View] D ON D.HistSeqNum = H.LinkID
		Where RcptLink <> 0  and H.Source = 18 and (InvoicedQty > 0 or RemoveQty > 0)
		AND H.ItemId = @ItemId and H.LotNum = @LotNum
		Order by H.itemid, H.LocId, H.LotNum, H.seqnum desc
	BEGIN
	  OPEN iCur
	  FETCH NEXT FROM  iCur INTO @ItemId, @LocId, @LotNum, @SeqNum, @Qty, @RemoveQty, @WILaborSetupUnitCost, @WILaborUnitCost, @WIMachineSetupUnitCost, @WIMachineUnitCost, @WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost, @WISubcontractUnitCost
	  WHILE (@@Fetch_Status) = 0 AND (@QtySold > 0)
		BEGIN
		  IF @RemoveQTY >= @QtySold
		    BEGIN
			  SET @WILaborSetupCost = @WILaborSetupCost + (@QtySold * @WILaborSetupUnitCost)
			  SET @WILaborCost = @WILaborCost + (@QtySold * @WILaborUnitCost)
			  SET @WIMachineSetupCost = @WIMachineSetupCost + (@QtySold * @WIMachineSetupUnitCost)
			  SET @WIMachineCost = @WIMachineCost + (@QtySold * @WIMachineUnitCost)
		      SET @WIMaterialDirectCost = @WIMaterialDirectCost + (@QtySold * @WIMaterialDirectUnitCost)
			  SET @WIMaterialIndirectCost = @WIMaterialIndirectCost + (@QtySold * @WIMaterialIndirectUnitCost)
			  SET @WISubcontractCost = @WISubcontractCost + (@QtySold * @WISubcontractUnitCost)
			  SET @QtySold = 0
			END
		  ELSE
		    BEGIN
			  SET @WILaborSetupCost = @WILaborSetupCost + (@RemoveQTY * @WILaborSetupUnitCost)
			  SET @WILaborCost = @WILaborCost + (@RemoveQTY * @WILaborUnitCost)
			  SET @WIMachineSetupCost = @WIMachineSetupCost + (@RemoveQTY * @WIMachineSetupUnitCost)
			  SET @WIMachineCost = @WIMachineCost + (@RemoveQTY * @WIMachineUnitCost)
		      SET @WIMaterialDirectCost = @WIMaterialDirectCost + (@RemoveQTY * @WIMaterialDirectUnitCost)
			  SET @WIMaterialIndirectCost = @WIMaterialIndirectCost + (@RemoveQTY * @WIMaterialIndirectUnitCost)
			  SET @WISubcontractCost = @WISubcontractCost + (@RemoveQTY * @WISubcontractUnitCost)
			  SET @QtySold = @QtySold - @RemoveQTY
			END
		  FETCH NEXT FROM  iCur INTO @ItemId, @LocId, @LotNum, @SeqNum, @Qty, @RemoveQty, @WILaborSetupUnitCost, @WILaborUnitCost, @WIMachineSetupUnitCost, @WIMachineUnitCost, @WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost, @WISubcontractUnitCost
		END
	  CLOSE iCur
	  DEALLOCATE iCur
	END
	INSERT @tNunezCosts
	SELECT @WILaborSetupCost, @WILaborCost, @WIMachineSetupCost, @WIMachineCost, @WIMaterialDirectCost, @WIMaterialIndirectCost, @WISubcontractCost
	RETURN
END
GO
