USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitSerialNo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnSplitSerialNo] 
( 
    @string NVARCHAR(MAX), 
    @delimiter CHAR(1) 
) 
RETURNS @output TABLE(OrderNo int, ReleaseNo int, CutNo int) 
as
BEGIN 
    DECLARE @OrderNo as int
	DECLARE @ReleaseNo as int
	DECLARE @CutNo as int
	
    DECLARE @start INT, @end INT 
	DECLARE @x as int = 0
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string) 
    WHILE @start < LEN(@string) + 1 BEGIN 
	    SET @x = @x + 1
        IF @end = 0  
            SET @end = LEN(@string) + 1
        IF @x = 1 Set @OrderNo = CAST(SUBSTRING(@string, @start, @end - @start) AS int)
		If @x = 2 Set @ReleaseNo = CAST(SUBSTRING(@string, @start, @end - @start) AS int)
		If @x = 3 Set @CutNo = CAST(SUBSTRING(@string, @start, @end - @start) AS int)
		
        SET @start = @end + 1 
        SET @end = CHARINDEX(@delimiter, @string, @start)
    END 
    INSERT INTO @output (OrderNo, ReleaseNo, CutNo)  
    VALUES(@OrderNo, @ReleaseNo, @CutNo) 

    RETURN 
END

GO
