USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ItemOnHandBalance]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--Function which calculates the onhand balance for the specified item, based on its type and location.
CREATE FUNCTION [dbo].[ItemOnHandBalance] (@itemId varchar(24), @itemType tinyint, @locationId varchar(10))
RETURNS decimal(30,10)
AS
BEGIN
	DECLARE @itemBalance decimal(30,10);

	--When the item is a serialized item uom is EA so count the number of records with the correct item ID and location along with a status of available.
	IF(@itemType = 2)
		SELECT @ItemBalance = COUNT(*) FROM [005].dbo.tblInItemSer WHERE ItemId = @itemId AND LocId = @locationId AND SerNumStatus = 1;

	--Otherwise, 
	ELSE
	BEGIN
		--CTE which calculates the onhand balance for non-serialized items
		;WITH OnHandBalance (ItemId,LocId, Balance) AS
		(
			SELECT 
			ItemId,
			LocId,
			SUM(Qty - InvoicedQty - RemoveQty) AS [Balance]
		FROM [005].dbo.tblInQtyOnHand 
		GROUP BY ItemId, LocId, LotNum
		)

		--Calculate the onhand balance
		SELECT @itemBalance = SUM(Balance) FROM OnHandBalance WHERE ItemId = @itemId AND LocId = @locationId AND Balance > 1;

		--When there are no entires the balance is zero.
		IF @itemBalance IS NULL
			SET @itemBalance = 0.0;
	END


	RETURN @itemBalance;
END;
GO
