USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[GetJulianDate_YYYYDDD]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Function which calculates Julian Datein the format YYYYDDD given the InputDate.
Create FUNCTION [dbo].[GetJulianDate_YYYYDDD] (@InputDate DATE) RETURNS CHAR(7) AS BEGIN RETURN CONVERT(CHAR(4), DATEPART(YEAR, @InputDate)) + RIGHT('000' + CONVERT(VARCHAR(3), DATEPART(DAYOFYEAR, @InputDate)), 3) END
GO
