USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitGlJrnlDesc]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnSplitGlJrnlDesc] 
( 
    @string NVARCHAR(MAX), 
    @delimiter CHAR(1) 
) 
RETURNS @output TABLE(OrderNo varchar(8), ReleaseNo varchar(4), ReqId varchar(4), ReqType varchar(10)) 
as
BEGIN 
    DECLARE @OrderNo as Varchar(8)
	DECLARE @ReleaseNo as varchar(4)
	DECLARE @ReqId as varchar(4)
	DECLARE @ReqType as varchar(10)
    DECLARE @start INT, @end INT 
	DECLARE @x as int = 0
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string) 
    WHILE @start < LEN(@string) + 1 BEGIN 
	    SET @x = @x + 1
        IF @end = 0  
            SET @end = LEN(@string) + 1
        IF @x = 1 Set @OrderNo = SUBSTRING(@string, @start, @end - @start)
		If @x = 2 Set @ReleaseNo = SUBSTRING(@string, @start, @end - @start)
		If @x = 3 Set @ReqId = SUBSTRING(@string, @start, @end - @start)
		If @x = 4 Set @ReqType = SUBSTRING(@string, @start, @end - @start)
        SET @start = @end + 1 
        SET @end = CHARINDEX(@delimiter, @string, @start)
    END 
    INSERT INTO @output (OrderNo, ReleaseNo, ReqId, ReqType)  
    VALUES(@OrderNo, @ReleaseNo, @ReqId, @ReqType) 

    RETURN 
END

GO
