USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnGetParentRollReceiptDtFromChild]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnGetParentRollReceiptDtFromChild](@ItemId AS varchar(24), @LocId AS varchar(10), @SerialNo as varchar(16))
RETURNS varchar(24)
AS
BEGIN
    DECLARE @ret as varchar(24)
	SELECT @ret = L.InitialDate
	FROM [W005].dbo.OrderReleaseEventItem I 
		 INNER JOIN [W005].dbo.OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId
		 INNER JOIN [W005].dbo.OrderReleaseEvent EE ON EE.OrderNo = E.OrderNo
		 INNER JOIN [W005].dbo.OrderReleaseEventItem II ON II.OrderReleaseEventId = EE.Id AND II.IsAssembly = 0
		 INNER JOIN [005].dbo.tblInItemLocLot L ON L.ItemId = II.ItemId AND L.LocId = II.LocId AND L.LotNum = II.SerialNo
	WHERE I.ItemId = @ItemId AND I.LocId = @LocId AND I.SerialNo = @SerialNo AND I.IsAssembly = 1
	RETURN @ret;
END;

GO
