USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnGetReceivedRawMaterial]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnGetReceivedRawMaterial](@ItemId AS varchar(24), @LocId AS varchar(10), @SerialNo as varchar(16))
RETURNS TABLE
AS
RETURN 
(
	SELECT LOT.ItemId, LOT.LocId, LOT.LotNum, LOT.InitialDate, LOT.ExpDate, LOTOrig.ItemId AS RMItemId, LOTOrig.LocId AS RMLocId, LOTOrig.LotNum AS RMSerialNo, LOTOrig.InitialDate AS RMInitialDate, LOTOrig.ExpDate AS RMExpDate
	FROM [005].dbo.tblInItemLoc LOC 
	     INNER JOIN [005].dbo.tblInItemLocLot LOT ON LOC.ItemId = LOT.ItemId AND LOC.LocId = LOT.LocId AND SUBSTRING(LOC.GLAcctCode, 1, 1) = '8'
		 INNER JOIN [W005].dbo.OrderReleaseEventItem I ON I.ItemId = LOT.ItemId AND I.SerialNo = LOT.LotNum AND I.IsAssembly = 1
		 INNER JOIN [W005].dbo.OrderReleaseEvent E ON E.Id = I.OrderReleaseEventId
		 INNER JOIN [W005].dbo.OrderReleaseEvent EE ON EE.OrderNo = E.OrderNo
		 INNER JOIN [W005].dbo.OrderReleaseEventItem II ON II.OrderReleaseEventId = EE.Id AND II.IsAssembly = 0
	     INNER JOIN [005].dbo.tblInItemLocLot LOTOrig ON LOTOrig.ItemId = II.ItemId AND LOTOrig.LocId = II.LocId
	WHERE LOT.ItemId = @ItemId AND LOT.LocId = @LocId AND LOT.LotNum = @SerialNo
	UNION ALL
	SELECT LOT.ItemId, LOT.LocId, LOT.LotNum, LOT.InitialDate, LOT.ExpDate, LOT.ItemId AS RMItemId, LOT.LocId AS RMLocId, LOT.LotNum AS RMRMSerialNo, LOT.InitialDate AS RMInitialDate, LOT.ExpDate AS RMExpDate
	FROM [005].dbo.tblInItemLoc LOC 
	     INNER JOIN [005].dbo.tblInItemLocLot LOT ON LOC.ItemId = LOT.ItemId AND LOC.LocId = LOT.LocId AND SUBSTRING(LOC.GLAcctCode, 1, 1) != '8'
	WHERE LOT.ItemId = @ItemId AND LOT.LocId = @LocId AND LOT.LotNum = @SerialNo
);

GO
