USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnCalcSONunezCosts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnCalcSONunezCosts] (@ItemId as varchar(24), @LocId as varchar(10), @TransId as varchar(255), @InvcNum as varchar(15), @InvcQty as decimal(20,10), @ConvFactor as decimal(20,10))
RETURNS @tNunezCosts table 
  (
    WILaborSetupUnitCost decimal(20,10),
    WILaborSetupCost decimal(20,10),
	WILaborUnitCost decimal(20,10),
	WILaborCost decimal(20,10),
	WIMachineSetupUnitCost decimal(20,10),
	WIMachineSetupCost decimal(20,10),
	WIMachineUnitCost decimal(20,10),
	WIMachineCost decimal(20,10),
	WIMachineModUnitCost decimal(20,10),
	WIMachineModCost decimal(20,10),
	WIMachineVarUnitCost decimal(20,10),
	WIMachineVarCost decimal(20,10),
	WIMaterialDirectUnitCost decimal(20,10),
	WIMaterialDirectCost decimal(20,10),
	WIMaterialIndirectUnitCost decimal(20,10),
	WIMaterialIndirectCost decimal(20,10),
	WISubcontractUnitCost decimal(20,10),
	WISubcontractCost decimal(20,10)
  )
as
BEGIN

	--DECLARE @ItemId as varchar(24) = 'ST-521'
	--DECLARE @LocId as varchar(10) = 'INVENTORY'
	--DECLARE @TransId as varchar(255) = '00000481'
	--DECLARE @InvcNum as varchar(15) = '140324'
	--DECLARE @InvcQty as decimal(20,10) = 1999200.0000000000
	--DECLARE @ConvFactor as decimal(20,10) = 1

	DECLARE @BaseQty as Decimal(20,10) = @InvcQty * @ConvFactor

	INSERT INTO @tNunezCosts
	SELECT ISNULL(SUM((Qty*ConvFactor) * WILaborSetupUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WILaborSetupUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WILaborUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WILaborUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineSetupUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineSetupUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCostModified)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCostModified), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCostVariable)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMachineUnitCostVariable), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMaterialDirectUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMaterialDirectUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMaterialIndirectUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WIMaterialIndirectUnitCost), 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WISubcontractUnitCost)/@BaseQty/@ConvFactor, 0)
		  ,ISNULL(SUM((Qty*ConvFactor) * WISubcontractUnitCost), 0)
	FROM [W005].[dbo].[tblInHistDetailNunezCost] HD
    WHERE HD.ItemId = @ItemId AND HD.LocId = @LocId AND HD.AppId = 'SO' AND HD.TransId = @TransId AND HD.RefId = @InvcNum
	RETURN
END
GO
