USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[ufnCalcINFGNunezCosts]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufnCalcINFGNunezCosts] (@HistSeqNum as int, @ItemId as varchar(24), @LocId as varchar(10), @LotNum as varchar(16), @BaseUOMQty as decimal(20,10), @UnitCost as decimal(20,10), @INSource as int, @TransId as char(255))
RETURNS @tNunezCosts table 
  (
    WILaborSetupUnitCost decimal(20,10),
	WILaborUnitCost decimal(20,10),
	WIMachineSetupUnitCost decimal(20,10),
	WIMachineUnitCost decimal(20,10),
	WIMaterialDirectUnitCost decimal(20,10),
	WIMaterialIndirectUnitCost decimal(20,10),
	WISubcontractUnitCost decimal(20,10)
  )
as
BEGIN

	--DECLARE @HistSeqNum as int = 20473
	--DECLARE @ItemId as varchar(24) = 'ZZ-ISPRS-15GS1'
	--DECLARE @LocId as varchar(10) = 'INVENTORY'
	--DECLARE @LotNum as varchar(16) = '0205538-007'
	--DECLARE @BaseUOMQty as decimal(20,10) = 600.0000000000
	--DECLARE @INSource as int = 73
	--DECLARE @TransId as char(255) = 7593


	DECLARE @SeqNum as int
	DECLARE @BaseUOMQtySaved as decimal(20,10)
	DECLARE @Qty as decimal(20,10)
	DECLARE @RemoveQTY as decimal(20,10)

	DECLARE @WILaborSetupUnitCost as decimal(20,10)
	DECLARE @WILaborUnitCost as decimal(20,10)
	DECLARE @WIMachineSetupUnitCost as decimal(20,10)
	DECLARE @WIMachineUnitCost as decimal(20,10)
	DECLARE @WIMaterialDirectUnitCost as decimal(20,10)
	DECLARE @WIMaterialIndirectUnitCost as decimal(20,10)
	DECLARE @WISubcontractUnitCost as decimal(20,10)

	DECLARE @WILaborSetupCost as decimal(20,10) = 0
	DECLARE @WILaborCost as decimal(20,10) = 0
	DECLARE @WIMachineSetupCost as decimal(20,10) = 0
	DECLARE @WIMachineCost as decimal(20,10) = 0
	DECLARE @WIMaterialDirectCost as decimal(20,10) = 0
	DECLARE @WIMaterialIndirectCost as decimal(20,10) = 0
	DECLARE @WISubcontractCost as decimal(20,10) = 0

		Set @BaseUOMQtySaved = @BaseUOMQty
		IF Len(@LotNum) = 0 Set @LotNum = NULL
		IF @INSource >= 70 --Inventory Reduction
		  BEGIN
			IF @INSource = 74 --Inventory Transfer FROM Location
			  BEGIN
				DECLARE iCur CURSOR FOR 
					SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, HistSeqNum, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN [005].[dbo].[trav_tblInHistDetail_View] D ON D.TransId = H.LinkId and D.AppId = 'IN' AND D.SrceID = 'INXFERFROM' AND D.HistSeqNum_Rcpt = 0
					Where RcptLink = 0 and H.Source <> 18 and (InvoicedQty > 0 or RemoveQty > 0)
					AND H.ItemId = @ItemId and H.LocId = @LocId and (@LotNum is NULL OR H.LotNum = @LotNum)
					UNION ALL
					SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, HistSeqNum, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN [005].[dbo].[trav_tblInHistDetail_View] D ON D.TransId = H.LinkId and D.AppId = 'MP' AND D.HistSeqNum_Rcpt <> 0
					Where RcptLink <> 0  and H.Source = 18 and (InvoicedQty > 0 or RemoveQty > 0)
					AND H.ItemId = @ItemId and H.LocId = @LocId and (@LotNum is NULL OR H.LotNum = @LotNum)
					Order by H.itemid, H.LocId, H.LotNum, H.seqnum desc	
			  END
			ELSE
			  BEGIN
				DECLARE iCur CURSOR FOR 
					SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, HistSeqNum, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN [005].[dbo].[trav_tblInHistDetail_View] D ON D.TransId = H.LinkId and D.AppId = 'IN' AND D.SrceID = 'INTRANS' AND D.HistSeqNum_Rcpt = 0 AND D.Source < 70
					Where RcptLink = 0 and H.Source <> 18 and (InvoicedQty > 0 or RemoveQty > 0)
					AND H.ItemId = @ItemId and H.LocId = @LocId and (@LotNum is NULL OR H.LotNum = @LotNum)
					UNION ALL
					SELECT H.itemid, H.LocId, H.LotNum, H.seqnum, H.Qty, H.InvoicedQty+H.RemoveQty AS RemoveQty, HistSeqNum, cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN [005].[dbo].[trav_tblInHistDetail_View] D ON D.TransId = H.LinkId and D.AppId = 'MP' AND D.HistSeqNum_Rcpt <> 0
					Where RcptLink <> 0  and H.Source = 18 and (InvoicedQty > 0 or RemoveQty > 0)
					AND H.ItemId = @ItemId and H.LocId = @LocId and (@LotNum is NULL OR H.LotNum = @LotNum)
					Order by H.itemid, H.LocId, H.LotNum, H.seqnum desc	
			  END
		  END
		ELSE
		  BEGIN
			IF @INSource = 16 --Transfer TO Location
			  BEGIN
					INSERT INTO @tNunezCosts
					SELECT cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[tblInQtyOnHand] H INNER JOIN [005].[dbo].[trav_tblInHistDetail_View] D ON D.TransId = H.LinkId and D.AppId = 'IN' AND D.HistSeqNum_Rcpt = 0 AND D.Source >= 70
					Where RcptLink = 0 and H.Source <> 18 and (InvoicedQty = 0 and RemoveQty = 0) and HistSeqNum < @HistSeqNum
					AND H.ItemId = @ItemId and H.LocId = @LocId and (@LotNum is NULL OR H.LotNum = @LotNum)
					RETURN
			  END
			ELSE
			  IF @INSource = 31 -- SO Credit
			  BEGIN
					INSERT INTO @tNunezCosts
					SELECT cf_WILaborSetupUnitCost, cf_WILaborUnitCost, cf_WIMachineSetupUnitCost, cf_WIMachineUnitCost, cf_WIMaterialDirectUnitCost, cf_WIMaterialIndirectUnitCost, cf_WISubcontractUnitCost
					FROM [005].[dbo].[trav_tblInHistDetail_View] D 
					WHERE HistSeqNum < @HistSeqNum AND ItemId = @ItemId and (LotNum is null or Lotnum = @LotNum) AND CostUnit = @UnitCost and [Source] = 81
					RETURN
			  END
			ELSE
			  BEGIN
			    RETURN  --Inventory Increase Adjustment - Nunez Costs are expected to already exist
			  END 
		  END

		BEGIN
		  OPEN iCur
		  FETCH NEXT FROM  iCur INTO @ItemId, @LocId, @LotNum, @SeqNum, @Qty, @RemoveQty, @HistSeqNum, @WILaborSetupUnitCost, @WILaborUnitCost, @WIMachineSetupUnitCost, @WIMachineUnitCost, @WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost, @WISubcontractUnitCost
		  WHILE (@@Fetch_Status) = 0 AND (@BaseUOMQty > 0)
			BEGIN
			  IF @RemoveQTY >= @BaseUOMQty
				BEGIN
				  SET @WILaborSetupCost = @WILaborSetupCost + (@BaseUOMQty * @WILaborSetupUnitCost)
				  SET @WILaborCost = @WILaborCost + (@BaseUOMQty * @WILaborUnitCost)
				  SET @WIMachineSetupCost = @WIMachineSetupCost + (@BaseUOMQty * @WIMachineSetupUnitCost)
				  SET @WIMachineCost = @WIMachineCost + (@BaseUOMQty * @WIMachineUnitCost)
				  SET @WIMaterialDirectCost = @WIMaterialDirectCost + (@BaseUOMQty * @WIMaterialDirectUnitCost)
				  SET @WIMaterialIndirectCost = @WIMaterialIndirectCost + (@BaseUOMQty * @WIMaterialIndirectUnitCost)
				  SET @WISubcontractCost = @WISubcontractCost + (@BaseUOMQty * @WISubcontractUnitCost)
				  SET @BaseUOMQty = 0
				END
			  ELSE
				BEGIN
				  SET @WILaborSetupCost = @WILaborSetupCost + (@RemoveQTY * @WILaborSetupUnitCost)
				  SET @WILaborCost = @WILaborCost + (@RemoveQTY * @WILaborUnitCost)
				  SET @WIMachineSetupCost = @WIMachineSetupCost + (@RemoveQTY * @WIMachineSetupUnitCost)
				  SET @WIMachineCost = @WIMachineCost + (@RemoveQTY * @WIMachineUnitCost)
				  SET @WIMaterialDirectCost = @WIMaterialDirectCost + (@RemoveQTY * @WIMaterialDirectUnitCost)
				  SET @WIMaterialIndirectCost = @WIMaterialIndirectCost + (@RemoveQTY * @WIMaterialIndirectUnitCost)
				  SET @WISubcontractCost = @WISubcontractCost + (@RemoveQTY * @WISubcontractUnitCost)
				  SET @BaseUOMQty = @BaseUOMQty - @RemoveQTY
				END
			  FETCH NEXT FROM  iCur INTO @ItemId, @LocId, @LotNum, @SeqNum, @Qty, @RemoveQty, @HistSeqNum, @WILaborSetupUnitCost, @WILaborUnitCost, @WIMachineSetupUnitCost, @WIMachineUnitCost, @WIMaterialDirectUnitCost, @WIMaterialIndirectUnitCost, @WISubcontractUnitCost
			END
		  CLOSE iCur
		  DEALLOCATE iCur
		END
		IF @BaseUOMQtySaved = 0
		  BEGIN
			INSERT @tNunezCosts
			SELECT 0, 0, 0, 0, 0, 0, 0
		  END
		ELSE
		  BEGIN
			INSERT @tNunezCosts
			SELECT @WILaborSetupCost/@BaseUOMQtySaved, @WILaborCost/@BaseUOMQtySaved, @WIMachineSetupCost/@BaseUOMQtySaved, @WIMachineCost/@BaseUOMQtySaved, @WIMaterialDirectCost/@BaseUOMQtySaved, @WIMaterialIndirectCost/@BaseUOMQtySaved, @WISubcontractCost/@BaseUOMQtySaved
		  END
		RETURN
END
GO
