USE [W005]
GO
/****** Object:  UserDefinedFunction [dbo].[GetBOMInfo]    Script Date: 7/16/2026 3:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









--Function which returns the BOM for the specified Item and location, fully expanded.
CREATE FUNCTION [dbo].[GetBOMInfo](@assembly varchar(24), @location varchar(10))
RETURNS @BOMInformation TABLE (OperationStep int, OperationID varchar(10), OperationDescription varchar(255), BOMSequence int, ComponentID varchar(24), 
					ComponentDescription varchar(255), DetailType int, Qty decimal(20,10), UOM varchar(5), OnHandBalance decimal(20,10),UOMDefault varchar(5), 
					toDefaultConvFactor decimal(20,10), SafetyStock decimal(20,10), OnHandMax decimal(20,10), MinOrderQty decimal(20,10), DefaultLeadTime decimal(20,10),
					OrderQtyUOM varchar(5), OrderPoint decimal(20,10), Buyer varchar(100), BOMLevel int, Sort varchar(100))
AS
BEGIN
	WITH cte_BOM(OperationStep, OperationID, OperationDescription, BOMSequence, ComponentID, ComponentDescription, DetailType, Qty, UOM, OnHandBalance, UOMDefault, 
								ConvFactor, SafetyStock, OnHandMax, MinOrderQty, DefaultLeadTime, OrderQtyUOM, OrderPoint, Buyer, BOMLevel, Sort)
	AS
	(
		--Anchor member definition (Query definition called once, returns result set T0)
		SELECT		
			anchorRouting.Step,										
			anchorRouting.OperationId,
			anchorRouting.Descr,
			anchorDetail.Sequence,
			CAST(anchorDetail.ComponentID AS varchar(100)),
			anchorDetail.Description,
			anchorDetail.DetailType,
			anchorDetail.Qty,
			anchorDetail.UOM,
			(SELECT [W005].dbo.ItemOnHandBalance(anchorDetail.ComponentID, anchorView.ItemType, anchorDetail.LocId)),
			anchorView.UomDflt,
			anchorUom.ConvFactor,
			anchorLoc.QtySafetyStock,
			anchorLoc.QtyOnHandMax,
			anchorLoc.QtyOrderMin,
			anchorLoc.DfltLeadTime,
			anchorLoc.OrderQtyUom,
			anchorLoc.QtyOrderPoint,
			(SELECT FirstName + ' ' + LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = anchorView.cf_Buyer),
			1,

			CASE
				WHEN anchorDetail.Sequence IS NULL OR anchorRouting.Step IS NULL THEN ''
				WHEN anchorDetail.Sequence < 10 THEN
					CAST( CONVERT(varchar(4), anchorRouting.Step) + '\' + CONVERT(varchar(4), anchorDetail.Sequence) AS varchar(100))
				ELSE
					CAST( CONVERT(varchar(4), anchorRouting.Step) + '\' + CONVERT(varchar(4), anchorDetail.Sequence) AS varchar(100))
			END

		FROM [005].dbo.tblMbAssemblyHeader anchorHeader
		LEFT JOIN [005].dbo.tblMbAssemblyDetail anchorDetail ON anchorDetail.HeaderId = anchorHeader.Id
		LEFT JOIN [005].dbo.tblMbAssemblyRouting anchorRouting ON anchorRouting.Id = anchorDetail.RoutingId
		LEFT JOIN [005].dbo.trav_tblInItem_view anchorView ON anchorView.ItemId = anchorDetail.ComponentId
		LEFT JOIN [005].dbo.tblInItemUom anchorUom ON anchorUom.ItemId = anchorDetail.ComponentId AND anchorUom.Uom = anchorView.UomDflt
		LEFT JOIN [005].dbo.tblInItemLoc anchorLoc ON anchorLoc.ItemId = anchorDetail.ComponentID AND anchorLoc.LocId = anchorDetail.LocId
		WHERE anchorHeader.AssemblyId = @assembly AND anchorDetail.LocId = @location

		UNION ALL

		--Recursive member definition (Query definition referencing CTE returns result set Ti)
		SELECT	
			recursiveRouting.Step,											
			recursiveRouting.OperationId,
			recursiveRouting.Descr,
			recursiveDetail.Sequence,
			CAST(REPLICATE('|---', cte_BOM.BOMLevel) + recursiveDetail.ComponentID AS varchar(100)),
			recursiveDetail.Description,
			recursiveDetail.DetailType,
			recursiveDetail.Qty,
			recursiveDetail.UOM,
			(SELECT [W005].dbo.ItemOnHandBalance(recursiveDetail.ComponentID, recursiveView.ItemType, recursiveDetail.LocId)),
			recursiveView.UomDflt,
			recursiveUom.ConvFactor,
			recursiveLoc.QtySafetyStock,
			recursiveLoc.QtyOnHandMax,
			recursiveLoc.QtyOrderMin,
			recursiveLoc.DfltLeadTime,
			recursiveLoc.OrderQtyUom,
			recursiveLoc.QtyOrderPoint,
			(SELECT FirstName + ' ' + LastName FROM [005].dbo.tblSmEmployee WHERE EmployeeId = recursiveView.cf_Buyer),
			cte_Bom.BOMLevel + 1,

			CASE
				WHEN recursiveDetail.Sequence IS NULL OR recursiveRouting.Step IS NULL THEN ''
				WHEN recursiveDetail.Sequence < 10 THEN
					CAST(cte_BOM.Sort + '\' + CONVERT(varchar(4), recursiveRouting.Step) + '\' + CONVERT(varchar(4), recursiveDetail.Sequence) AS varchar(100))
				ELSE
					CAST(cte_BOM.Sort + '\' + CONVERT(varchar(4), recursiveRouting.Step) + '\' + CONVERT(varchar(4), recursiveDetail.Sequence) AS varchar(100))
			END

		FROM cte_BOM
		INNER JOIN [005].dbo.tblMbAssemblyHeader recursiveHeader ON recursiveHeader.AssemblyId = cte_BOM.ComponentID
		INNER JOIN [005].dbo.tblMbAssemblyDetail recursiveDetail ON recursiveDetail.HeaderId = recursiveHeader.Id
		INNER JOIN [005].dbo.tblMbAssemblyRouting recursiveRouting ON recursiveRouting.Id = recursiveDetail.RoutingId
		INNER JOIN [005].dbo.trav_tblInItem_view recursiveView ON recursiveView.ItemId = recursiveDetail.ComponentID
		INNER JOIN [005].dbo.tblInItemUom recursiveUom ON recursiveUom.ItemId = recursiveDetail.ComponentID AND recursiveUom.Uom = recursiveView.UomDflt
		INNER JOIN [005].dbo.tblInItemLoc recursiveLoc ON recursiveLoc.ItemId = recursiveDetail.ComponentID AND recursiveLoc.LocId = recursiveDetail.LocId
		WHERE cte_BOM.DetailType = 3 AND recursiveDetail.LocId = @location
	)

	--Copy the contents of the fully exploded BOM into the returned table sorted depth-wise.
	INSERT INTO @BOMInformation SELECT * FROM cte_BOM ORDER BY Sort;
RETURN;
END;
GO
